{% set NONSERIES_LOCATION_ID = 17658 %}
{% if cover_image_field.value.uri is defined and cover_image_field.value.uri  %}
    {% set image_alias = ez_image_alias(cover_image_field, cover_image_version, "listitem") %}
{% endif %}

<div class="product-line content-view-line ">
    <div class="col-xs-3">
        <div class="product-image{% if image_alias.uri is not defined %} no-image{% endif %}">
            {% if image_alias.uri is defined %}
                <a href="{{ path( 'ez_urlalias', {'locationId': content.contentInfo.mainLocationId }) }}">
                    <img src="{{ asset( image_alias.uri ) }}" alt="{{ cover_image_alt }}" />                            
                </a>
            {% else %}
                No image
            {% endif %}
        </div>
    </div>
    <div class="col-xs-9 product-info">
        <h2>
            <a href="{{ path( 'ez_urlalias', {'locationId': content.contentInfo.mainLocationId }) }}">
                {{ content.getFieldValue("name")|trim|simple_text_format }}
            </a>
        </h2>

        {# Get authors, editors, etc #}
        <ul class="authors">
        {% for name, description in {
            'authors'           : ['Author', 'Authors'],
            'editors'           : ['Editor', 'Editors'],
            'translators'       : ['Translator', 'Translators'],
            'compilers'         : ['Compiler', 'Compilers']
        } %}
            {% if not ez_is_field_empty(content, name) and content.getFieldValue(name)|trim %}
                <li>
                    {# Plural description #}
                    {% if content.getFieldValue(name)|trim|split(",")|length > 1 %}
                        {{ description.1 }}:

                    {# Singular description #}
                    {% else %}
                        {{ description.0 }}:
                    {% endif %}                
                    
                    {{ content.getFieldValue(name)|trim }}
                </li>
            {% endif %}
        {% endfor %}
        </ul>

        {# Get publication year #}
        {% if not ez_is_field_empty(content, "publication_year") and content.getFieldValue("publication_year") %}
            <div class="publication-year">
                Published: {{ content.getFieldValue('publication_year')|trim }}
            </div>
        {% endif %}

        {# Series #}
        {% if product_series is defined and location.parentLocationId != NONSERIES_LOCATION_ID %}
            <div class="product-series">
                <a href="{{ path("ez_urlalias", {"locationId" : product_series.location_id }) }}">
                    {{ product_series.name|trim|simple_text_format }}
                </a>
            </div>
        {% endif %}

        {# Product description #}
        <div class="product-desc">
            <div class="content description">
                {% if search_highlighting is defined and search_highlighting|length > 0 %}
                    {% include "ProjectSiteBundle:parts:search/search_highlighting.html.twig" with {"search_highlighting" : search_highlighting} %}
                {% else %}
                    {{ ez_render_field(content, "description") }}                  
                {% endif %}
            </div>
        </div>

        {# Subjects #}
        {% if not ez_is_field_empty(content, "tags") and content.getFieldValue("tags").tags %}
            <div class="tags">
                Subjects:
                {% for tag in content.getFieldValue("tags").tags %}
                    <a href="{{ path("ProductSearch", { "subject" : tag.keyword|lower }) }}" >{{ tag.keyword }}</a>{% if not loop.last %}, {% endif %}
                {% endfor %}
            </div>
        {% endif %}

    </div>
    <div class="clear"></div>
</div>