<div class="container">
    <div class="row">
        {% for content_box in content_box_list %}
        <div class="panel panel-default col-lg-4 col-md-4 col-sm-12">
            <h3>
                {% if content_box.content.getField("header") and not ez_is_field_empty(content_box.content, "header") %}
                    {{ ez_render_field( content_box.content, 'header' ) }}
                {% else %}
                    {{ ez_render_field( content_box.content, 'name' ) }}
                {% endif %}
            </h3>
            <div class="panel-body">
                {# Display 'content' field if available #}
                {% if content_box.content.getFieldValue("content") %}
                    {{ ez_render_field( content_box.content, 'content' ) }}
                {% endif %}

                {# Display related links for 'related_links' contentbox class #}
                {% if content_box.related_links is defined %}
                    <ul>
                        {% for link in content_box.related_links %}
                            <li>
                                <a href={{ sitelink(link) }}>{{ link.contentInfo.name|simple_text_format }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>