<div>
    {% for content_box in content_box_list %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{% spaceless %}
                {% if content_box.related_links is defined and content_box.related_links %}
                    Related Links
                {% elseif content_box.content.getField("header") and not ez_is_field_empty(content_box.content, "header") %}
                    {{ ez_render_field( content_box.content, 'header' ) }}
                {% else %}
                    {{ ez_render_field( content_box.content, 'name' ) }}
                {% endif %}
            {% endspaceless %}</h3>
        <span class="expand-container pull-right"><span class="glyphicon-minus"></span></span>
        </div>
        <div class="panel-body collapse-{{ loop.index }} collapse in">
            
            {# Display 'content' field if available #}
            {% if content_box.content.getFieldValue("content") %}
                {{ ez_render_field( content_box.content, 'content' ) }}
            {% endif %}

            {# Display related links for 'related_links' contentbox class #}
            {% if content_box.related_links is defined %}
                <ul>
                    {% for link in content_box.related_links %}
                        <li>
                            <a href={{ sitelink(link) }}>{{ link.contentInfo.name|simple_text_format }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

        </div>
    </div>
    {% endfor %}
</div>