{# Search Results #}
{% if results and not display_search_form %}
    <h3>
        {% if results.count() == 1 %}
            One Result Found
        {% elseif results.count() > 1 %}
            {{ results.count() }} Results Found
        {% else %}
            No Results Found
        {% endif %}
    </h3>

    {% if results.getCurrentPageResults()|length > 0 %}

        {% if total_number_results > 100 %}
            <div class="alert alert-info">
                Your search returned more results than the maximum allowed. Some results are not shown.
            </div>
        {% endif %}

        <div class="member-search-pagination">
            <div class="col-xs-12 col-sm-6">
                {% if results.haveToPaginate() %}
                    {{ pagination|raw }}
                {% endif %}
            </div>
            <div class="col-xs-12 col-sm-6 text-right">
                {% if query.first_name is not defined and query.affiliation is not defined and query.last_name is defined and query.last_name|slice(1, 1) == "%" %}
                    Browsing:
                    <strong>{{ query.last_name|slice(0, 1) }}</strong>
                {% else %}
                    {% if query.last_name is defined or query.first_name is defined %}
                        Name:
                        <strong>{{ query.last_name is defined ? query.last_name : "" }}{% if query.first_name is defined and query.last_name is defined %}, {% endif %}{{ query.first_name is defined ? query.first_name : "" }}</strong>
                        {% if query.affiliation is defined %}<br/>{% endif %}
                    {% endif %}
                    {% if query.affiliation is defined %}
                        Affiliation: <strong>{{ query.affiliation }}</strong>
                    {% endif %}
                {% endif %}
                <br/>
                Viewing {{ results.getCurrentPageOffsetStart() }} &ndash; {{ results.getCurrentPageOffsetEnd() }} of {{ results.count() }}
            </div>
            <div class="clear"></div>
        </div>

        <div class="col-xs-12">
            <table class="table search-results non-responsive">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Affiliation</th>
                    </tr>
                </thead>
                <tbody>
                    {% for member in results.getIterator() %}
                        <tr>
                            <td>
                                <a href="{{ path("MemberProfile", {"member_id" : member.id, "query" : query, "return_path" : return_path}) }}">
                                    {{ member.general.title }}{% if member.general.title|lower in ['dr', 'mr', 'mrs', 'prof', 'ms'] %}.{% endif %}
                                    {{ member.general.last_name }}, {{ member.general.first_name }}
                                </a>
                            </td>
                            <td>
                                {% set hasAffiliation = false %}
                                {% for address in member.addresses %}
                                    {% if address.type == "primary" %}
                                        {% if address.institution is defined and address.institution %}
                                            {% set hasAffiliation = true %}
                                            {{ address.institution|raw }}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="member-search-pagination">
            {% if results.haveToPaginate() %}
                {{ pagination|raw }}
            {% endif %}
        </div>
        <div class="clear"></div>

    {# No results #}
    {% else %}

        <div class="warning alert alert-warning">
          <strong>No results were found.</strong>
        </div>

    {% endif %}

    <div class="btn-group">
        <a href="{{ return_path }}?{{ query|url_encode }}&amp;display_search_form=1">&larr; Return to member search</a>
    </div>

{% else %}

    {# Search Form #}
    {% form_theme form "ProjectMemberBundle:parts:form/themes/default.html.twig" %}
    <div class="mla-form well">
        <h3>Search</h3>
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

        {{ form_errors(form) }}

        {{ form_row(form.first_name) }}
        {{ form_row(form.last_name) }}
        {{ form_row(form.affiliation) }}
        <div class="btn-group pull-right">
            <div>{{ form_row(form.submit) }}</div>
            <div class="feedback-area"></div>
        </div>
        <div class="clear"></div>
        {{ form_end(form) }}
    </div>

{% endif %}

{# <div class="well">
    <h3>Browse By Last Name</h3>

    <div class="last-name-letters">
        {% for i in range("A","Z") %}
            {% if query.last_name is defined and query.last_name == i ~ "%" %}
                <span><strong>{{ i }}</strong></span>
            {% else %}
                <a href="{{ uri }}?last_name={{ i }}%">{{ i }}</a>
            {% endif %}
        {% endfor %}
    </div>
</div> #}