html,body {
    background: #efefef;
}

iframe[width="0"][height="0"] {
    display: none;
}

.wf-loading {
    visibility: hidden;
}
.wf-active {
    visibility: visible;
}

/* SASS Mixins */
@mixin screen($resMin, $resMax) {
    @media screen and (min-width: $resMin) and (max-width: $resMax) {
        @content;
    }
}
@mixin max-screen($res) {
    @media screen and (max-width: $res) {
        @content;
    }
}
@mixin min-screen($res) {
    @media screen and (min-width: $res) {
        @content;
    }
}

/* IcoMoon Icons */
@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?-cl5d8m');
    src:url('../fonts/icomoon.eot?#iefix-cl5d8m') format('embedded-opentype'),
        url('../fonts/icomoon.woff?-cl5d8m') format('woff'),
        url('../fonts/icomoon.ttf?-cl5d8m') format('truetype'),
        url('../fonts/icomoon.svg?-cl5d8m#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-key:before { content: "\e600"; }
.icon-arrow-left:before { content: "\e601"; }
.icon-arrow-down:before { content: "\e602"; }
.icon-arrow-up:before { content: "\e603"; }
.icon-arrow-right:before { content: "\e604"; }
.icon-arrow-left2:before { content: "\e605"; }
.icon-arrow-down2:before { content: "\e606"; }
.icon-arrow-up2:before { content: "\e607"; }
.icon-arrow-right2:before { content: "\e608"; }
.icon-arrow-left3:before { content: "\e609"; }
.icon-arrow-down3:before { content: "\e60a"; }
.icon-arrow-up3:before { content: "\e60b"; }
.icon-arrow-right3:before { content: "\e60c"; }
.icon-close:before { content: "\e612"; }
.icon-minus:before { content: "\e610"; }
.icon-plus:before { content: "\e611"; }
.icon-cross:before { content: "\e60f"; }
.icon-checkmark:before { content: "\e60d"; }
.icon-search:before { content: "\e60e"; }

// override twitter bootstrap
h1 {
    font-size: 36px;
    margin-bottom: 10px;
    margin-top: 20px;
}
.nav > li > a:hover, .nav > li > a:focus {
    background-color:transparent;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: transparent;
}
// ************************************************


/* columns of same height styles */
.container-xs-height {
    display: table;
    padding-left: 0;
    padding-right: 0;
}

.row-xs-height {
    display: table-row;
}

.col-xs-height {
    display: table-cell;
    float: none;
}

a:visited {
    color: #006666;
}

#main-content-area {
    ul li, ol li {
        color: #000000;
        font-family: "proxima-nova",sans-serif;
        font-size: 16px;
        line-height: 24px;
    }

    ul {
        padding-left: 10px;
        list-style-type: none;
        margin-left: 5px;
        font-size: 16px;
        line-height: 24px;

        li {
            margin-bottom: 5px;
            &:before {
                font-size: 18px;
                margin-left: -11px;
            }
        }
    }

    ol {
        padding-left: 20px;
        font-size: 16px;
        line-height: 24px;
    }

    #right-column {

        h1 {
            font-size: 32px;
        }

        .fieldtype-xmltext, .ezxmltext-field {
            p {
                font-size: 16px;
                line-height: 24px;
            }
        }
    }

    .search-results {
        padding-left: 30px;
        padding-right: 30px;
        background: #ffffff;

        h1#pagetitle {
            font-size: 32px;
        }
    }
}

blockquote {
    border: none;
    color: #000000;
    font-size: 14px;
    font-family: "proxima-nova",sans-serif;
    line-height: 18px;
    margin: 10px 100px 15px 100px;
    &+ blockquote {
        margin-top: 0px;
        margin-bottom: 25px;
    }
}

p.citation {
    padding-left: 25px;
    text-indent: -25px;
}

@media (min-width: 768px) {
    .container-sm-height {
        display: table;
        padding-left: 0;
        padding-right: 0;
    }

    .row-sm-height {
        display: table-row;
    }

    .col-sm-height {
        display: table-cell;
        float: none;
    }
}

@media (min-width: 992px) {
    .container-md-height {
        display: table;
        padding-left: 0;
        padding-right: 0;
    }

    .row-md-height {
        display: table-row;
    }

    .col-md-height {
        display: table-cell;
        float: none;
    }
}

@media (min-width: 1200px) {
    .container-lg-height {
        display: table;
        padding-left: 0;
        padding-right: 0;
    }

    .row-lg-height {
        display: table-row;
    }

    .col-lg-height {
        display: table-cell;
        float: none;
    }
}

/* vertical alignment styles */
.col-top {
    vertical-align: top;
}

.col-middle {
    vertical-align: middle;
}

.col-bottom {
    vertical-align: bottom;
}

h1 {
    color: #550506;
    font-family: "Times New Roman";
    margin-top: 25px;
}

h2 {
    color: #003366;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 10px;
    margin-top: 10px;
}

h3 {
    border-bottom: 1px solid #ccc;
    color: #656565;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 10px;
    margin-top: 10px;
    text-transform: uppercase;
}

header[role=banner] {
    border-bottom: 2px solid #ccc;
    padding: 20px 0;
    background: #fff;
}

footer {
    color: #fff;
    padding: 14px 0;
    font-family: "proxima-nova",sans-serif;
    font-size: 11px;
    position: relative;

    a.btn-link {
        color: #fff;
        padding: 8px;

        &:hover {
            background-color: transparent;
            color: #fff;
        }
    }

    #copyright > p {
        margin-top: 11px;
    }

    .container {
        padding: 0;
    }

    div > div.text-right {
        padding-right: 0px;
    }

    #footer-navigation {
        top: 25px;
        position: relative;

        li {

            a {
                color: #bdbdbd;
                font-size: 11px;
                padding: 0 8px;
                text-transform: uppercase;
                display: inline;
            }

            &:after {
                content: "|";
                display: inline-block;
                color: #bdbdbd;
            }
        }

        li:last-child {
            border: none;

            &:after {
                content: none;
            }
        }
    }
}

.pull-right, .pull-left {
    clear: both;
}

.pull-right {
    margin: 0 0 10px 10px;
}

.pull-left {
    margin: 0 10px 10px 0;
}

#pagetitle {
    margin-top: 0;
}

#sidebar {
    background-color: #efefef;
    min-height: 250px;

    > div {
        display: inline-block;
    }

    .menu.vertical.nav {
        padding-left: 0px !important;

        li {
            margin-top: 5px !important;
            margin-bottom: 10px !important;

            a {
                font-size: 18px !important;

                &:hover {
                    color: #006ccc;
                    text-decoration: none;
                }
            }
            &> ul > li, &.current > ul li {

                a {

                    &:hover {
                        color: #006ccc;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .bulletin-cover {
        @include max-screen( 1200px ) {
            -ms-transform: scale(0.9); /* IE 9 */
            -webkit-transform: scale(0.9); /* Chrome, Safari, Opera */
            transform: scale(0.9);

        }
    }
}

#global-navigation {
    a {
        font-size: 23px;
        font-family: 'minion pro';
        padding: 10px 15px;
    }

    a:hover {
        background-color: transparent;
    }
}

#footer-navigation {
    padding: 8px 0;
}

#utility-bar {
    background-color: #4c4c4c;
    font-family: "proxima-nova",sans-serif;

    a {
        color: #fff;
        display: inline-block;
        outline: 0 none;
        padding: 8px;
        text-decoration: none;
    }

    form[role=search] {
        margin: 0;
        padding: 8px;

        .btn {
            color: #fff;
            font-size: 18px;
            line-height: 1;
            padding: 0 4px;
        }

        .form-control {
            border-radius: 0;
            color: #656565;
            font-size: 11px;
            height: 24px;
            line-height: inherit;
            padding: 2px 0 0 10px;
        }
    }

    .fa {
        color: #adadad;
        padding-left: 6px;
    }

    .nav {
        text-transform: uppercase;
        margin-top: 5px;

        li {
            padding: 0 30px 0 0;
        }

        a:hover {
            background-color: transparent;
        }
    }
    .navbar-form {
        .btn .glyphicon {
            color: #aeadae;
        }
        .form-control {
            width: 200px;
        }
    }
    ul.nav li a {
        font-size: 11px;
    }

    #nav-member-dropdown {
        height: auto;
        position: absolute;
        z-index: 1;
        background: #4c4c4c;
        padding-top: 3px;

        ul {
            list-style: none;
            padding: 0;
        }
    }

}

#nav-login-dropdown {
    background-color: #4c4c4c;
    min-width: 280px;
    position: absolute;
    z-index: 100;

    a {
        padding: 0;
    }

    .mla-form {
        padding: 12px 16px 12px;

        &.form-login {
            span.submit {
                padding: 0;

                button.btn {
                    background: none;
                    border-radius: 0;
                    height: 100%;
                    width: 32px;
                    padding: 0;
                }
            }
            label {
                color: #fff;
                vertical-align: middle;
            }
        }
    }

    .input-group {
        padding-bottom: 8px;
    }
}

#login_submit {
    border: 0 none;
}

#main-content-area > .col {
    padding-top: 20px;
}

#banners-container {
    position: relative;
}

#banners {
    max-width: 100%;
    position: relative;
    z-index: 0;
}

#banner-pager {
    bottom: 0;
    color: #ccc;
    font-size: 24px;
    line-height: 1;
    padding: 8px;
    position: absolute;
    width: 100%;

    span {
        cursor: pointer;
        margin: 0 4px;
    }
}

.banner-content {
    background-color: rgba(4, 52, 100, 0.8);
    bottom: 0;
    color: #fff;
    padding: 10px 10px 36px;
    position: absolute;
    width: 100%;

    a {
        color: #4baaf0;
    }

    h2, h3, h3, h4, h5, h6 {
        margin: 0;
        padding-bottom: 8px;
    }
    h3 {
        color: #ffffff;
    }
    &.no-pager {
        padding-bottom: 16px;
    }
}

.banner-item {
    background-color: #000;
    max-width: 100%;
    overflow: hidden;
    width: 847px;
}

.subpage {
    #sidebar ul.menu li {
        a {
            color: #4c4c4c;
        }

        &.current {
            a {
                color: #003366;
            }
        }

        ul.menu-vertical {
            margin-left: 25px;

            li a {
                font-size: 16px !important;
                color: #656565;
                font-weight: 300;
            }
        }
    }
}

.pager {
    .pagination {
        margin: 0;

        a {
            border-radius: 0;
        }
    }
    li > span {
        border-radius: 0px;
    }
}


.row.container {
    margin-left: auto;
    margin-right: auto;
}

.bulletin-category {
    border-bottom: 1px solid #cccccc;
}

.article-download-link {
    padding: 8px 0;
}

#article-categories {
    margin-top: 24px;

    .btn {
        font-size: 0.9em;
        padding: 2px 6px;
    }
}

#bulletin-article-related {
    margin-top: 24px;

    h3 {
        margin: 0 0 8px;
    }
    .well {
        padding: 12px;
    }
}

#bulletin-issues-list {
    padding-left: 20px;
}

.bulletin-cover {
    cursor: pointer;
    padding-bottom: 20px;

    p {
        margin: 0;
    }
}

.bulletin-cover-image .close {
    position: absolute;
    right: 6px;
    top: 0;
}

.bulletin-issue-container {
    display: none;
}

.bulletin-issues-group, .bulletin-issue {
    position: relative;
}

.bulletin-issue {
    &.active h3:before {
        content: "\f068";
    }

    &.loading h3 {
        background-image: url(../images/ajax-loader.gif);
        background-repeat: no-repeat;
        background-position: 99% 50%;
    }

    h3 {
        border: 0 none;
        margin: 0;
        padding: 3px 3px 3px 16px;

        &:before {
            content: "\f067";
            color: #656565;
            font-family: "FontAwesome";
            font-size: 8px;
            font-style: normal;
            font-weight: normal;
            height: 15px;
            left: -3px;
            line-height: 15px;
            position: absolute;
            text-align: center;
            top: 6px;
            transition: all 0.3s ease-in-out 0s;
            -webkit-transition: all 0.3s ease-in-out;
            width: 15px;
            top: 10px;
        }

        &:hover {
            background-color: #f0f0f0;
        }
    }
}

.bulletin-issues-group {
    &.active h2:before {
        content: "\f068";
    }

    h2 {
        border-bottom: 1px solid #ccc;
    }

    h2:before {
        content: "\f067";
        border: 1px solid #656565;
        border-radius: 50%;
        color: #656565;
        font-family: "FontAwesome";
        font-size: 8px;
        font-weight: normal;
        height: 18px;
        left: -25px;
        margin-top: -1px;
        line-height: 15px;
        position: absolute;
        text-align: center;
        top: 5px;
        transition: all 0.3s ease-in-out 0s;
        -webkit-transition: all 0.3s ease-in-out;
        width: 18px;
        padding-top: 1px;
        padding-left: 1px;
    }

    h2:hover {
        cursor: pointer;
        font-weight: bold;
    }
}

.article-list {
    display: none;
    padding: 0 0 10px;

    .col {
        padding: 3px 6px;

        span {
            padding-left: 27px;
        }
    }

    .row {
        margin: 0;
    }

    .page-number {
        text-align: right;
    }
}

.sidemenu {
    padding: 16px;

    .panel-body {
        padding: 4px 0 0;

        a {
            padding: 4px;
        }
    }

    .panel-heading {
        margin-bottom: 10px;
        padding: 0;

        h2 {
            font-family: "proxima-nova", sans-serif;
            font-weight: 300;
            color: #003366;
            font-size: 20px;
            font-style: italic;
            margin: 0;
        }
    }

    .panel-body {

        ul.menu {
            margin-left: 0px !important;

            li a {
                padding-left: 0px;
                color: #4c4c4c;
                font-size: 18px;

                &:hover {
                    color: #006ccc;
                }
            }
        }
    }
}

.content-view-line {
    &.content-type-bulletin_artcle {
        margin-bottom: 25px;

        .col-xs-1 {
            padding-right: 0px;
        }
        .col-xs-11 {
            padding-left: 0px;
        }

        h2 {
            margin-top: 0;
        }
    }
}
#main-content-area #bulletin-search-results ul.pager li:before {
    display: none;
}

#bulletin-search-results {


    .file-pdf {
        &:before {
            content: url('../images/pdf.png');
            display: inline-block;
            height: 16px;
            margin-right: 10px;
            padding-left: 2px;
            position: relative;
            width: 16px;
            top: 3px;
        }
        &[href*="bulletin/article"]:after {
            display: none;
        }
    }

    div div {
        font-weight: bold;
        p {
            font-weight: normal;
            display: inline;
        }
        .search-result-item p {
            display: block;
        }
    }

    .search-result-item {
        margin-bottom: 20px;

        .content {
            font-family: "proxima-nova", sans-serif;
            font-weight: 400;

            a {
                font-weight: 400;
            }
        }

        .download-link {
            margin-top: 5px;

            a {
                color: #000000 !important;
                text-decoration: none !important;
                font-family: "proxima-nova", sans-serif;
                font-weight: 300;
            }
        }

        &.bulletin-article {
            position: relative;

            h3 {
                font-size: 14px;
                margin-bottom: 0;
                text-transform: none;
                margin-bottom: 5px;

                a {
                    font-size: 14px;
                    font-weight: 400;
                    color: #006ccc;
                }
            }
            a {
                color: #006ccc;
                font-size: 14px;
                text-decoration: underline;
            }
            span.number {
                left: 0;
                line-height: 0.8em;
                position: absolute;
            }
            .content {
                margin-left: 20px;

                .description {
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}
#sidebar, #search-page {
    .filters .panel-heading,
    .search-sidebar .panel-heading {
        background: none;
        h3.panel-title {
            color: #656565;
            font-family: "proxima-nova",sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
        }
        .expand-container {
            background-color: #666368;
            width: 20px;
            height: 20px;
            border-radius: 3px;
            position: relative;
            top: -22px;
        }
        span.glyphicon-minus, span.glyphicon-plus {
            color: #ecefed;
            padding: 0 6px;
        }
        span.glyphicon-plus {
            font-size: 19px;
            position: relative;
            top: -3px;
            left: -1px;
        }
    }
}

#search-page {
    .search-sidebar {
        .panel .panel-body .panel-heading h3 {
            font-size: 18px !important;
            font-weight: 400 !important;
        }
        > div.panel > div.panel-body div.input-group {
            margin-bottom: 15px !important;
        }
        #filter-options {
            h3 {
                margin-bottom: 15px;
            }
            > div.panel > div.panel-heading {
                padding-top: 0px !important;
                h3 {
                    color: #656565 !important;
                }
            }
            .panel-heading span {
                position: relative;
                top: -36px;
                left: 10px;

                span {
                    top: 0px;
                    left: 0px;
                }
            }
        }
        h3 {
            color: #003366 !important;
        }
    }
    form > div.col-sm-4 {
        padding-left: 0px !important;
        padding-right: 0px !important;
        padding-top: 20px;

        .panel-heading, .panel-body {
            padding-left: 0px !important;
        }
    }
}

#sidebar #search-form > div.panel {
    > div.panel-heading, > div.panel-body {
        padding-left: 0px;
    }
}

/* Rules Reset */
.col-xs-height {
    float: left;
}
.container-xs-height {
    display: inherit;
}
#page {
    background: #efefef;
}
#logo {
    padding-left: 0px;
}
#global-navigation {
    padding-left: 15px;
    margin-top: 15px;
    text-align: center;

    li {
        display: inline-block;
        float: none;
        margin: 0 auto;
    }
}
#main-content-area #right-column {
    background: #ffffff;
    padding: 35px 35px 20px 35px;


    h1#pagetitle {
        margin-top: 0px;
    }

    .ezxmltext-field {
        h2 {
            font-size: 30px;
            margin-bottom: 15px;
        }
        h3 {
            margin-bottom: 5px;
        }
        p {
            margin-bottom: 15px;
        }
        figure {
            @include max-screen(767px) {
                -ms-transform: scale(0.7); /* IE 9 */
                -webkit-transform: scale(0.7); /* Chrome, Safari, Opera */
                transform: scale(0.7);
            }
            @include screen(768px, 990px) {
                -ms-transform: scale(0.8); /* IE 9 */
                -webkit-transform: scale(0.8); /* Chrome, Safari, Opera */
                transform: scale(0.8);
            }
            @include max-screen(561px) {
                -ms-transform: scale(1); /* IE 9 */
                -webkit-transform: scale(1); /* Chrome, Safari, Opera */
                transform: scale(1);
                &.pull-right {
                    float: none !important;
                    margin-left: 0px;
                }
            }
        }
    }
}

/* Banners */
#banners-container {
    margin-bottom: 30px;
}
.cycle-slideshow {
    height: 100%;
    margin: 0 auto;

    > div {
        width: 100%;
        height: 100%;
        margin: 0 auto;

        img {
            height: 100%;
        }
    }
}
#main-content-area #right-column .banner-content .ezxmltext-field {
    a {
        color: #46a9ff;

        &:hover {
            color: #6cc0ff;
        }
        &:visited {
            color: #46a9ff;
        }
    }
    h2 {
        color: #ffffff;
        font-family: "proxima-nova", sans-serif;
        font-size: 20px;
        padding-bottom: 0px;
        margin-bottom: 5px;
    }
    p {
        font-size: 14px;
    }
}

/* Left Sidebar */
#sidebar, #search-page {
    padding: 0px;

    .panel {
        box-shadow: none;
        border: none;
        background: transparent;
    }

    #search-form, .search-sidebar {

        > .panel {
            margin-bottom: 0px;

            .panel-body {
                padding-bottom: 0px;
                padding-top: 0px;
            }
        }

        .panel {
            box-shadow: none;
            border: none;
            background-color: transparent;

            .input-group {

                .input-group-addon {

                    &.submit {
                        border-bottom-right-radius: 7px;
                        border-top-right-radius: 7px;
                    }

                    &.blue-btn {
                        position:relative;
                        z-index:10;
                        background: #003366 !important;
                        padding: 4px;
                        border: 3px solid #fff !important;
                        box-sizing: border-box;

                        &:before {
                            content:"";
                            display:block;
                            position:absolute;
                            z-index:-1;
                            top:-3px;
                            left:-4px;
                            right:-4px;
                            bottom:-3px;
                            border: 1px solid #ccc;
                            border-radius: 0 8px 8px 0;
                        }

                        button[type=submit] {
                            background: #003366;
                            color: #adadad;
                            border: none;
                            font-size: 17px;
                            padding-left: 3px;
                            padding-right: 3px;
                        }
                    }
                }

                .btn-group {
                    div {
                        margin-left: 5px;
                        float: right !important;
                    }
                }

                .input-group-btn .btn {
                    background-color: #003366;
                    padding: 7px 12px 3px;

                    span {
                        color: #adadad;
                        font-size: 18px;
                    }
                }
            }

            .panel {
                .panel-heading, .panel-body {
                    padding-left: 0px;
                    padding-bottom: 0px;

                    h3 {
                        font-size: 18px;
                        font-weight: 400;
                    }

                    .panel-heading span {
                        position: relative;
                        top: -31px;
                        left: 10px;

                        span {
                            top: 0px;
                            left: 0px;
                        }
                    }

                    .facets {
                        padding-left: 0px;
                        margin-left: 0px;

                        li {
                            display: flex;
                            label {
                                display: inline;
                                font-size: 16px;
                                font-weight: 300;
                                font-family: "proxima-nova", sans-serif;
                            }
                            input {
                                margin-right: 5px;
                                margin-top: 2px;
                            }
                        }
                    }
                }

                .panel {

                    .panel-body {
                        padding-top: 0px;

                        .checkbox label {
                            font-size: 16px;
                            font-weight: 300;
                            font-family: "proxima-nova", sans-serif;
                        }
                    }

                    .panel-heading, .panel-body {
                        padding-left: 0px;
                        padding-bottom: 0px;

                        h3 {
                            font-size: 18px;
                            font-weight: 400;
                        }
                    }
                }
            }

            .panel-heading {
                background: transparent;
                border: none;

                h3 {
                    font-size: 20px;
                    text-transform: none;
                }

                .expand-container span {
                    &.glyphicon-minus {
                        position: relative;
                        top: -2px;
                    }
                    &.glyphicon-plus {
                        position: relative;
                        top: -6px;
                        left: -2px;
                    }
                }
            }
        }
    }

    .ezxmltext-field {
        padding: 10px 35px 0 0;

        @include max-screen (768px) {
            padding-left: 30px;
        }

        h2 {
            font-size: 30px;
        }

        h3 {
            margin-bottom: 5px;
        }

        p {
            margin-bottom: 15px;
            line-height: 1.5em;
        }

        a {
            line-height: 1.5em;
        }
    }
}

#main-content-area #right-column ul.pager li:before,
#main-content-area #sidebar .ezxmltext-field ul.pager li:before {
    content: "" !important;
}

/* Custom Responsive */
@media screen and (min-width: 990px) {
    #logo {
        left: -20px;
    }
}
// embeded images
.image-embed-right {
    display: block;
    margin-left: auto;
    margin-right: 0;
}
.image-embed-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.image-embed-caption {
    font-size: 12px;
    padding-top: 5px;
    text-align: center;
    margin-bottom: 10px;

    .ezxmltext-field p {
        font-size: 12px;
    }
}

#bulletin-issues-list {

    .bulletin-issues-group {
        h2 {
            &:before {
                top: 4px;
            }
        }
    }

    .bulletin-issue-container h3 a {
        font-size: 16px;
    }
}

/* Print Styles */
@media print {
    // Disable URL display
    a[href]:after {
        content: "";
        display: none;
    }
}

/* Buttons */
.btn.btn-next {
    color: #333333;
    background-color: white;
    border-color: #cccccc;
}