.carousel-inner .item .image-info {

    position: absolute;
    top: 5px;
    right: 9px;
    z-index: 101;

    .glyphicon.glyphicon-info-sign {
        color: rgba(255, 255, 255, .5);
        cursor: pointer;
    }

    .image-info-inner {
        display: none;
        background: #fff;
        font-size: 12px;
        padding: 4px 8px;
        color: #000;
        float: left;
        margin-right: 10px;

        .glyphicon.glyphicon-play {
            color: #fff;
            position: absolute;
            top: 4px;
            right: 18px;
        }

    }

    &:focus, &.open {

        .glyphicon {
            color: rgba(255, 255, 255, 1);
        }

        .image-info-inner {
            display: block;
        }
    }

}