// Safari / Mobile Safari
.safari {

    #primary-navigation {

        .utility .login a i {
            top: 0px;
        }

    }

}

// IE (General Rules)
.ie #primary-navigation .utility {

    .search .visible-xs a {
        position: relative;
        top: 0;
    }

    .navbar-header a {
        position: relative;
        top: 5px;
    }

}

// IE9
.ie {
    img[width="1"], img[width=""] {
        width: auto !important;
    }
    img[height="1"], img[height=""] {
        height: auto !important;
    }
}
.ie.ie9 {

    .placeholder.form-control {
        padding-bottom: 0px;
    }

    .subpage .carousel .carousel-caption {
        left: 0px;
    }

    .btn-mla.btn, .btn-next.btn {
        border-collapse: separate;
        box-shadow: 0px 0px 3px 0px #656565;
    }

    .product-embed .product-desc h3 a:hover {
        text-decoration: none;
    }

}
