.bulletin-category {
    border-bottom: 1px solid #cccccc;
}

#bulletin-article-related {
    margin-top: 24px;

    h3 {
        margin: 0 0 8px;
    }
    .well {
        padding: 12px;
    }
}

.bulletin-cover {
    padding-bottom: 20px;

    p {
        margin: 0;
    }
}

.bulletin-cover-image .close {
    position: absolute;
    right: 6px;
    top: 0;
}

.bulletin-issue-container {
    display: none;
}

.bulletin-issues-group, .bulletin-issue {
    position: relative;
}

.bulletin-issue h4 {
    margin: 0;
    padding: 3px 3px 3px 16px;
}

.bulletin-issue.loading h4 {
    background-image: url(../images/ajax-loader.gif);
    background-repeat: no-repeat;
    background-position: 99% 50%;
}

.bulletin-issue h4:before {
    content: "\f067";
    color: #656565;
    font-family: "FontAwesome";
    font-size: 8px;
    font-style: normal;
    font-weight: normal;
    height: 15px;
    left: 0;
    line-height: 15px;
    position: absolute;
    text-align: center;
    top: 6px;
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out;
    width: 15px;
}

.bulletin-issue.active h4:before {
    content: "\f068";
}

.bulletin-issue h4:hover {
    background-color: #f0f0f0;
}

.bulletin-issues-group h3:before {
    content: "\f067";
    border: 1px solid #656565;
    border-radius: 50%;
    color: #656565;
    font-family: "FontAwesome";
    font-size: 8px;
    font-weight: normal;
    height: 15px;
    left: -20px;
    line-height: 15px;
    position: absolute;
    text-align: center;
    top: 3px;
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out;
    width: 15px;
}

.bulletin-issues-group.active h3:before {
    content: "\f068";
}

.bulletin-issues-group h3:hover {
    cursor: pointer;
    font-weight: bold;
}