.image-embed-right {
    display: block;
    margin-left: auto;
    margin-right: 0;
}
.image-embed-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.image-embed-caption {
    font-size: 12px;
    padding-top: 5px;
    text-align: center;
    margin-bottom: 10px;

    .ezxmltext-field p {
        font-size: 10px;
        text-align: left;
        line-height: 1.4em;
    }
}