// OL/UL
ol.upper-roman {
    list-style-type: upper-roman;
}

ol.lower-roman {
    list-style-type: lower-roman;
}

ol.upper-alpha {
    list-style-type: upper-alpha;
}

ol.lower-alpha {
    list-style-type: lower-alpha;
}

ol.numeric {
    list-style-type: decimal;
}

ul.disc {
    list-style-type: disc;
}

ul.circle {
    list-style-type: circle;
}

ul.square {
    list-style-type: square;
}

ul.no-bullet {
    list-style-type: none;
}
