// CSS for readmore custom tag
.readmore {
    .read-more-content {
        height: 0px;
        overflow: hidden;
        -webkit-transition: .25s height;
        transition: .25s height;
    }

    &.open {
        a.read-more-link {
            display: none;
        }
    }

    // faq -- adapted from main.scss #accordian
    &.readmore-faq {

        padding-top:11px;

        a.read-more-link {
            font-style: normal;
            font-family: "proxima-nova",sans-serif;
            font-weight: 300;
            display: block;
            position: relative;
            margin: 0;
            padding: 16px 0 10px 50px;
            text-transform: none;
            line-height: 26px;
            font-size: 18px;
            color: #666666;
            border-top: 1px solid #e9e9e9;
            cursor: pointer;
            transition: color 0.3s ease-in-out;
            -webkit-transition: color 0.3s ease-in-out;
            text-decoration: none;

            &:before {
                content: "\f067";
                position: absolute;
                left: 2px;
                top: 16px;
                width: 24px;
                height: 24px;
                font-family: FontAwesome;
                font-weight: normal;
                text-indent: 2px;
                line-height: 22px;
                text-align: center;
                font-size: 11px;
                color: #656565;
                border: 2px solid #656565;
                border-radius: 50%;
                transition: all 0.3s ease-in-out;
                -webkit-transition: all 0.3s ease-in-out;
                padding-right: 2px;
            }

            &:hover {
                color:#242424;

                &:before {
                    color:#333;
                    border-color:#333;
                }
            }

        }

        .read-more-inner-content {
            padding:0 0 3px 55px;
            line-height:24px;
            font-size:14px;

            p {
                margin-bottom:24px;
                font-family: 'proxima-nova', sans-serif;
            }
        }

        &.open {
            a.read-more-link {
                display: block;
                border-top:2px solid #656565;
                color: #333399;

                &:before {
                    content: "\f068";
                    color: #fff;
                    border-color: #656565;
                    background-color: #656565;
                }
            }
        }
    }

    // print style
    @media print {
        .read-more-content {
            height: auto !important;
            overflow: auto;
        }

        .read-less-link {
            display: none;
        }

        &.readmore-default {
            a.read-more-link {
                display: none;
            }
        }

        &.readmore-faq {
            padding-top: 0;

            a.read-more-link {
                display: block;
                padding-left: 0;
                border-top: 0;

                &:before {
                    display: none;
                }
            }

            .read-more-inner-content {
                padding-left: 0;
            }

        }

    }
}