
.responsive {

    /*------------------------------------------------------custom media queries---------------------------------------------------------*/
    @media (max-width: 1224px) {
        #primary-navigation .utility-image.col-xs-7 {
            width: 41.66667%;
        }
        #primary-navigation .utility.col-xs-5 {
            width: 58.33333%;
        }
    }
    /*------------------------------------------------------large---------------------------------------------------------*/
    @media (min-width: 1220px) {

    }

    /*---------------------------------------------------------------------------------------------------------------------------*/
    @media (max-width: 1219px) {

    }

    @media (min-width: 1200px) {
        #primary-navigation {
            .container.row-md {
                width: 1170px;
                margin: 0 auto;
            }
        }
        .carousel-control {
            &.left {
                left: -43px;
            }
            &.right {
                right: -43px;
            }
        }
        .product-embed {
            .product-image {
                a {
                    display: inline-block;
                    width: 100%;
                }
            }
            &.size-featured {
                height: 390px;
            }
            &.size-bookstore_listitem {
                height: 280px;
            }
        }
        .main-content-area p {
            font-size: 40px !important;
        }
    }

    @media (max-width: 1200px) {
        #primary-navigation .navbar-nav > li > a {
            padding-left: 10px;
            padding-right: 10px;
        }
        .btn.btn-cart, .btn.btn-checkout {
            padding-left: 45px;
            background-position: 12px;

            span.badge {
                margin-left: -28px;
            }
        }
    }
    /*--------------------------------------------------------medium-------------------------------------------------------------------*/
    @media (min-width: 992px) and (max-width: 1219px) {
        #primary-navigation {
            .container.row-md {
                padding-left: 15px;
                padding-right: 15px;
                width: 970px;
                margin: 0 auto;
            }
            .navbar-nav > li > a {
                font-size: 130%;
                padding-top: 20px;
                padding-left: 10px;
                padding-right: 10px;
            }
        }
        #primary-navigation .utility .navbar-form {
            padding-left: 5px;
            padding-right: 5px;
        }
        .ie .navbar-default-top.navbar-inverse .navbar-nav > li > a {
            font-size: 100%;
        }
    }

    @media (min-width: 992px) and (max-width: 1013px) {
        .row, .darkbg .row {
            margin-left: 0px !important;
            margin-right: 0px !important;
        }
    }
    /*---------------------------------------------------------------------------------------------------------------------------*/
    @media (min-width: 992px) {
        .login {
            height: 32px;
            padding-left: 0;
            padding-right: 0;
        }
        .utility div {
            padding: 0 5px;
        }
        #global-navigation {
            padding-right: 0;
            .dropdown .dropdown-menu h2 {
            }
            li {
                &.item-1 .dropdown-menu {
                    left: -180px;
                }
                &.item-2 .dropdown-menu {
                    left: -172px;
                }
                &.item-3 .dropdown-menu {
                    left: -164px;
                }
                &.item-4 .dropdown-menu {
                    left: -176px;
                }
                &.item-5 .dropdown-menu {
                    left: -176px;
                }
                &.item-6 .dropdown-menu {
                    left: -175px;
                }
            }
        }
        .navbar-form .form-group input.form-control {
            width: 160px;
        }
        #primary-navigation #global-navigation li {
            .dropdown-menu {
                margin: 0 auto;
                padding: 10px 10px 20px 10px;
                position: absolute;
                width: 460px;
                margin-top: -1px;
            }
            &.dropdown:hover {
                background: url("../images/arrow.png") no-repeat scroll 50% 43px #000000 !important;
                .dropdown-menu a {
                    background: none;
                }
            }
        }
    }

    /*---------------------------------------------------------------------------------------------------------------------------*/
    @media (max-width: 991px) {

        .product-embed {
            &.size-bookstore_listitem, &.size-featured {
                border: none !important;
            }
        }

        .homepage-links div.image-link > div > div a h2 {
            font-size: 26px;
        }
        .mla-form.checkout .form-row-cvv {
            min-width: 120px;
        }
        &.homepage #main-content {
            .whitebg > div {
                margin-bottom: 20px;
            }
        }
        .product-page {
            .product-options {
                .product-addtocart div {
                    .btn-cart {
                        left: 0px;
                        top: 0px;
                        max-width: 170px;
                        margin-top: 5px;
                    }
                    .price-single {
                        margin-top: 10px;
                    }
                }
                div .dropdown-cart {
                    max-width: 100%;
                }
            }
            .product-image.no-image {
                line-height: 200px;
                min-height: 200px;
                height: 20px;
            }
        }
        .member-section .member-item {
            .member-attr {
                width: 35%;
            }
        }
        .subfooter .container .row {
            width: 100%;
        }
        .main-content-area a {
            &.donate, &.joinnow, &.renew {
                display: none !important;
            }
        }
        &.homepage #main-content > .row > div,
        &.homepage .subfooter.darkbg .container .row .panel {
            border-left: 0px;
            border-right: 0px;
        }
        .main-content-area .row div {
            border-left: 0px;
            border-right: 0px;
        }
        #primary-navigation {
            &.navbar {
                border: none;
            }
            > div.container {
                padding: 0;
            }
            #global-navigation {
                > li > a {
                    font-size: 102%;
                    padding-left: 5px;
                    padding-right: 5px;
                }
                li.break {
                    clear: both;
                }
                li.open {
                    border-bottom: none;
                }
                > li {
                    background-color: #202020;
                    border: 1px solid #0b0b0b;
                    display: inline-block;
                    float: left;
                    width: 33.33%;
                    .dropdown-menu {
                        position: relative;
                        width: 302.33%;
                    }
                    > a {
                        font-size: 150%;
                        text-align: center;
                        padding: 14px 0;
                    }
                }
            }
            .navbar-nav > li > a {
                font-size: 100%;
                padding-top: 20px;
                padding-right: 9px;
                padding-left: 9px;
            }
            .utility .search, .utility .login,  {
                height: 32px;
            }
        }
        #breadcrumb {
            padding-top: 20px;
        }
        .navbar-toggle {
            display: block;
        }
        #primary-navigation #global-navigation {
            li .dropdown-menu.open {
                display: block !important;
            }
        }
        .mla-calendar.embed .tc-calendar-list-item .event-date {
            max-width: 120px;
        }
    }

    /*-----------------------------------------------------small----------------------------------------------------------------------*/
    @media (min-width: 768px) and (max-width: 991px) {
        #main-content {
            margin-top: 25px;
        }
        /* ----- Webkit Specific ----- */
        @media screen and (-webkit-min-device-pixel-ratio:0) {
            .grey-background {
                margin-top: 45px;
            }
            #main-content {
                margin-top: 75px;
            }
        }
        blockquote {
            margin: 10px 40px 15px;
        }
        .carousel-control {
            &.left {
                left: -18px;
            }
            &.right {
                right: -18px;
            }
        }
        .utility .hidden-xs {
            padding-left: 0;
            padding-right: 0;
        }
        .navbar-form .form-group input.form-control {
            width: 85%;
        }
        #primary-navigation #global-navigation {
            li {
                &.dropdown.open {
                    background: url("../images/arrow.png") no-repeat scroll 50% 37px #000000 !important;
                    .dropdown-menu a {
                        background: none;
                    }
                }
            }
        }
        #breadcrumb .breadcrumb {
            margin-top: 20px;
        }
        .chrome #breadcrumb {
            padding-top: 70px;
        }
        #global-navigation > li {
            .dropdown-menu {
                border-radius: 0px;
                border-right: 1px solid #333;
                border-left: 1px solid #333;
            }
            &:nth-child(4), &:nth-child(5), &:nth-child(6) {
                position: relative;
                top: -1px;

                .dropdown-menu {
                    margin-bottom: -1px;
                }
            }
        }
    }

    /*---- Issues with tablet nav ----*/
    @media (min-width: 800px) and (max-width: 991px) {
        #global-navigation {
            .item-2 .dropdown-menu, .item-4 .dropdown-menu {
                left: -1%;
            }
            .item-2 .dropdown-menu, .item-5 .dropdown-menu {
                left: -101.33%;
            }
            .item-3 .dropdown-menu, .item-6 .dropdown-menu {
                left: -202%;
            }
        }
        #primary-navigation #global-navigation {
            li {
                &.item-1 .dropdown-menu {
                    width: 301.8%;
                }
                &.item-4 .dropdown-menu {
                    width: 302.8%;
                }
                &.item-2 .dropdown-menu {
                    width: 302.6%;
                }
            }
        }
        .chrome #primary-navigation #global-navigation {
            li {
                &.item-1 .dropdown-menu {
                    width: 301.7%;
                }
                &.item-4 .dropdown-menu {
                    width: 302.7%;
                }
                &.item-2 .dropdown-menu {
                    width: 302.5%;
                }
            }
        }
    }

    @media (min-width: 768px) and (max-width: 800px) {
        #global-navigation {
            .item-2 .dropdown-menu, .item-4 .dropdown-menu {
                left: -1%;
            }
            .item-2 .dropdown-menu, .item-5 .dropdown-menu {
                left: -101.33%;
            }
            .item-3 .dropdown-menu, .item-6 .dropdown-menu {
                left: -202.5%;
            }
        }
        #primary-navigation #global-navigation {
            li {
                &.item-1 .dropdown-menu {
                    width: 302.2%;
                }
                &.item-4 .dropdown-menu {
                    width: 302.9%;
                }
                &.item-2 .dropdown-menu {
                    width: 302.7%;
                }
            }
        }
        .chrome #primary-navigation #global-navigation {
            .item-2 .dropdown-menu {
                left: -102%;
            }
            li {
                &.item-1 .dropdown-menu {
                    width: 302%;
                }
                &.item-4 .dropdown-menu {
                    width: 303%;
                }
                &.item-2 .dropdown-menu {
                    width: 303.4%;
                }
            }
        }
    }

    @media (max-width: 992px) {
        &.homepage {
            .whitebg > div {
                margin-bottom: 15px;
            }
        }
    }

    /*---------------------------------------------------------------------------------------------------------------------------*/
    @media (min-width: 768px) {

        .cart-items .cart-product-item .col-md-5 {
            padding-left: 0px;
        }
        .clearfix-sm {
            display: none !important;
        }
        .container.row-md .navbar-collapse {
            padding: 0;
            #global-navigation {
                padding: 0;
            }
        }
        .text-center-sm {
            text-align: inherit;
        }
        #global-navigation {
            li {
                text-align: center;
                [class^='glyphicon-'] {
                    display: none;
                }
                .dropdown-menu {
                    padding-left: 10px;
                    padding-right: 10px;
                    div ul li {
                        text-align: left;
                    }
                }
            }
        }
        #primary-navigation {
            #global-navigation {
                li.dropdown.open {
                    &:hover {
                        background: url("../images/arrow.png") no-repeat scroll 50% 100% #000000;
                    }
                }
            }
            .utility {
                .commons-link a {
                    padding-top: 6px;
                }
                .login .login-dropdown {
                    position: relative;
                    top: -9px;
                }
            }
        }
    }

    @media (min-width:768px) and (max-width: 785px) {
        /* ----- Webkit Specific ----- */
        @media screen and (-webkit-min-device-pixel-ratio:0) {
            .navbar-form {
                button.btn.btn-search {
                    position: relative;
                    top: -23px;
                    left: 50%;
                }
                .form-group input.form-control {
                    position: relative;
                    top: 3px;
                }
            }
        }
    }


    /*---------------------------------------------------------------------------------------------------------------------------*/
    @media (min-width:768px) and (max-width: 840px) {

    }

    @media (min-width:768px) and (max-width: 793px) {
        .row {
            margin-left: 0px;
            margin-right: 0px;
        }
    }

    /*---------------------------------------------------extra small------------------------------------------------------------------------*/
    @media (min-width:480px) and (max-width: 767px) {
        .navbar-form .form-group input.form-control {
            width: auto;
        }
        #myCarousel {
            .carousel-caption {
                padding-left: 12%;
            }
        }
    }

    /*---------------------------------------------------------------------------------------------------------------------------*/
    @media (max-width: 767px) {
        #main-content > div {
            margin-bottom: 20px;
        }
        blockquote {
            margin: 10px 30px 15px;
        }
        .carousel-control {
            a {
                padding: 0px;
            }
            &.left {
                left: 0px;
            }
            &.right {
                right: 0px;
            }
        }
        .sidebar {
            .cart-embed {
                margin: 60px 15px 0 15px;
                .product-image {
                    margin-bottom: 15px;
                }
            }
        }
        #main-content {
            width: 100%;
            padding: 0 15px;
            &.row {
                margin-left: 0px;
            }
        }
        .subfooter {
            padding: 15px;
        }
        .member-section .member-item {
            .member-attr {
                width: auto;
            }
            .member-value {
                word-wrap: break-word;
            }
        }
        .navbar .commons-link,
        .navbar .login {
            width: 33.3333%;
        }
        #mla-side-cart .btn-cart {
            padding-left: 40%;
            background-position: 27% center;
        }
        .text-center-sm {
            text-align: center;
        }
        .utility-image {
            padding-right: 0;
            padding-left: 0;
            height: 25px;
        }
        .navbar-brand {
            padding-top: 0;
        }
        .ie .utility .search .hidden-xs {
            width: 40%;
        }
        #breadcrumb {
            padding-top: 10px;
            .breadcrumb {
                margin-bottom: 10px;
            }
        }
        #primary-navigation {
            height: 115px;
            margin-bottom: 0;
            .container > .navbar-header, .container > .navbar-collapse,
            .container-fluid > .navbar-header, .container-fluid > .navbar-collapse {
                margin: 0;
            }
            .navbar-collapse.navbar-ex1-collapse.collapse.in #global-navigation {
                position: absolute;
                top: 114px;
            }
            .navbar-collapse.in {
                overflow: visible;
                padding: 0;
                margin-top: 58px;
                height: 110px;
            }
            .navbar-header {
                display: inline-block;
                height: 50px;
                a {
                    position: relative;
                    top: 5px;
                    text-transform: uppercase;
                    padding-top: 0 !important;
                }
            }
            .utility {
                .login {
                    border-left: none;
                }
                .search {
                    border-right: 1px solid #ccc;
                    .form-group {
                        width: 150px;
                        display: inline-table;
                    }
                    .btn-search {
                            position: relative;
                            top: -7px;
                    }
                    form.navbar-form {
                        padding: 0 !important;
                        position: relative;
                        top: 3px;
                    }
                }
            }
            .container .navbar-collapse {
                min-width: 100%;
                margin-right: 0;
            }
            #global-navigation {
                width: 100%;
                padding: 0;
                margin: 0;
                > li {
                    width: 100%;
                    .dropdown-menu {
                        padding-left: 10px;
                        padding-right: 10px;
                        div:first-of-type {
                            border: none;
                        }
                        .columnize {
                            -moz-column-count: 1;
                            -webkit-column-count: 1;
                            column-count: 1;
                        }
                    }
                    > a {
                        width: 100%;
                        text-align: left;
                        &:hover {
                            background: none;
                        }
                        span {
                            background-color: #a5a5a5;
                            border-radius: 3px;
                            color: #222222;
                            display: inline-block;
                            margin: 0 10px;
                            padding: 0 3px;
                            &:before {
                                content: "\2b";
                            }
                        }
                    }
                    .dropdown-menu {
                        width: 100%;
                        .col.col-lg-6.col-md-6.col-sm-6.col-xs-6 {
                            width: 100%;
                        }
                    }
                }
                .dropdown-menu > div {
                    padding-left: 0;
                }
                > li.open span {
                    &:before {
                        content: "\2212";
                    }
                }
                > li {
                    width: 100%;
                    > a {
                        text-align: left;
                    }
                }
            }

            .utility {
                div.login {
                    position: static;

                    .login-dropdown {
                        left: 0;
                        min-width: 0px;
                        width: 100%;
                        top: 32px;

                        &.logged-in {
                            padding: 0 0px;
                            ul {
                                margin-top: 0;
                                margin-bottom: 10px;
                                li {
                                    padding: 0;
                                }
                            }

                            // borrowed from #global-navigation
                            // @TODO use mixins or something so we
                            // don't have to repeat ourselves
                            > li > a {
                                font-size: 102%;
                                padding-left: 5px;
                                padding-right: 5px;
                            }
                            li.break {
                                clear: both;
                            }
                            li.open {
                                border-bottom: none;
                            }
                            li {
                                background-color: #074950;
                                border: none;
                                color: #c3c3c1;
                                display: block;
                                width: 100%;
                                .dropdown-menu {
                                    position: relative;
                                    width: 302.33%;
                                }
                                > a {
                                    font-size: 11px;
                                    text-align: left;
                                    padding: 10px 15px;
                                    font-weight: 200;
                                    font-family: 'lexia', 'Helvetica', 'Arial', sans-serif;
                                }
                                &:hover a {
                                    color: #ffffff;
                                }
                            }
                        }
                    }
                }

                p.mini-search-open-btn.open {
                    color: #034a51;
                }

                .mini-search {
                    position: absolute;
                    width: 98vw;
                    height: 58px;
                    left: -100%;
                    top: 32px;
                    background-color: #074950;
                    z-index: 99;

                    form {
                        margin-bottom: 12px;
                        .input-group {
                            margin: 10px 10px 0 10px;
                            input {
                                height: 35px !important;
                            }
                        }
                    }
                }
            }
        }
        /* ----- Webkit Specific ----- */
        @media screen and (-webkit-min-device-pixel-ratio:0) {
            .chrome {
                .navbar-header {
                    > a {
                        position: relative !important;
                        top: 5px !important;
                    }
                    button.navbar-toggle {
                        position: relative;
                        top: -26px !important;
                        left: 20px !important;
                    }
                }
            }
            .safari {
                .navbar-header {
                    > a {
                        position: relative !important;
                        top: 7px !important;
                    }
                    button.navbar-toggle {
                        position: relative;
                        top: -8px !important;
                        left: 20px !important;
                    }
                }
            }
        }
        .homepage-links .image-link {
            margin-left: auto;
            margin-right: auto;
        }

    }

    @media (max-width: 751px) {
        #primary-navigation .utility .mini-search {
            width: 97.5vw;
        }
    }

    @media (max-width: 640px) {
        #mla-side-cart .btn.btn-cart {
            padding-left: 30%;
            background-position: 12px center !important;
        }
    }

    @media (max-width: 600px) {
        .carousel-caption, .carousel-control {
            display: none;
        }
        #main-content {
            padding-left: 0px;
            padding-right: 0px;
            &> div {
                padding-left: 0px;
                padding-right: 0px;
            }
        }
        #primary-navigation .utility .mini-search {
            width: 97vw;
        }
    }

    /*---------------------------------------------------------------------------------------------------------------------------*/
    @media (min-width: 561px) {

    }

    /*---------------------------------------------------------------------------------------------------------------------------*/
    @media (max-width: 560px) {
        .navbar-brand.col-xs-4.col-sm-12 > img {
            margin-left: -50%;
        }
        #mla-side-cart .btn.btn-cart {
            padding-left: 26%;
            background-position: 0px center !important;
            min-width: 110px;
        }
    }

    @media (max-width: 500px) {
        #primary-navigation .utility .mini-search {
            width: 96.5vw;
        }
    }
    /*---------------------------------------------------------------------------------------------------------------------------*/
    @media (min-width: 481px) {

    }

    /*-----------------------------------------------------super extra small----------------------------------------------------------------------*/
    @media (max-width: 480px) {
        blockquote {
            margin: 10px 0px 15px;
        }
        #primary-navigation {
            #global-navigation {
                margin: 0px 0px 0px -1px;
                width: 102%;
                .item-2 .dropdown-menu, .item-5 .dropdown-menu {
                    left: 0;
                }
                .item-3 .dropdown-menu, .item-6 .dropdown-menu {
                    left: 0;
                }
            }
        }
        #mla-side-cart .btn.btn-cart {
            left: -20px;
        }
    }

    @media (max-width: 428px) {
        #primary-navigation .utility .mini-search {
            width: 96vw;
        }
    }

    /*---------------------------------------------------------------------------------------------------------------------------*/
    @media (max-width: 400px) {
        .utility .navbar-header {
            padding: 0;
        }
        #mla-side-cart .btn.btn-cart {
            left: -40px;
        }
        .panel.panel-default .panel-title a,
        .panel.panel-default .panel-title span {
            font-size: 20px;
        }
    }

    @media (max-width: 375px) {
        #primary-navigation .utility .mini-search {
            width: 95.5vw;
        }
    }

    /*---------------------------------------------------------------------------------------------------------------------------*/
    @media (max-width: 320px) {
        #primary-navigation .utility .mini-search {
            width: 95vw;
        }
    }

}
