// @import "compass";

@function map-get( $list, $key ) {
    @each $item in $list{
        @if $key == nth( $item, 1) {
            @return nth( $item, 2 );
        }
    }
    @return '';
}


$_colors: (
    "white" #fff,
    "silver" #ccc
);

@function color( $name ) {
    @return map-get( $_colors, $name );
}

