@charset "UTF-8";
@import "ade_adfl_shared";

.siteaccess-ade {

    h1#pagetitle {
        font-family: 'minion pro';
        color: #560404;
        font-size: 80px;
        margin: 25px 0 10px 0;
    }

    h2 {
        color: #82392a;
        font-family: 'minion pro';
        font-size: 26px;
    }

    //Accounting for eZ making H1s into H2s, etc.
    #sidebar h2, #right-column h2 {
        font-size: 32px !important;
    }
    #right-column .subitem-list .content-view-line.imported-page h2 {
        font-size: 26px;
    }

    h3 {
        border: none;
        color: #003366;
        font-family: "proxima-nova",sans-serif;
        font-size: 20px;
        font-weight: 300;
    }

    h4 {
        color: #003366;
        font-family: "proxima-nova",sans-serif;
        font-weight: 300;
        margin: 5px 0;
    }

    h5 {
        color: #4c4c4c;
        font-family: "proxima-nova",sans-serif;
        font-size: 18px;
        margin: 5px 0;
    }

    h6 {
        color: #000000;
        font-family: "proxima-nova",sans-serif;
        font-size: 14px;
        font-weight: 700;
        margin: 5px 0;
    }

    /* Accounting for eZ shifting down H elemens */
    #main-content-area #right-column .fieldtype-xmltext {

        /* Content H1 */
        h2 {
            color: #560404;
            font-size: 32px;
            margin: 25px 0 10px 0;
        }

        /* Content H2 */
        h3 {
            color: #82392a;
            font-family: 'minion pro';
            font-size: 26px;
            text-transform: none;
        }

        /* Content H3 */
        h4 {
            border: none;
            color: #003366;
            font-family: "proxima-nova",sans-serif;
            font-size: 20px;
            font-weight: 300;
            text-transform: uppercase;
        }

        /* Content H4 */
        h5 {
            color: #003366;
            font-family: "proxima-nova",sans-serif;
            font-weight: 300;
            font-size: 20px;
            margin: 5px 0;
        }

        /* Content H5 */
        h6 {
            color: #4c4c4c;
            font-family: "proxima-nova",sans-serif;
            font-size: 18px;
            margin: 5px 0;
            font-weight: 400;
        }

        /* Content H6 */
        h7 {
            color: #000000;
            font-family: "proxima-nova",sans-serif;
            font-size: 16px;
            font-weight: 700;
            margin: 5px 0;
        }

    }

    p {
        font-family: "proxima-nova",sans-serif;
        line-height: 18px;
        margin-bottom: 5px;
    }

    a {
        color: #006ccc;
    }

    a:visited {
        color: #003b6f;
    }

    a:hover {
        color: #006ccc;
    }

    #main-content-area {

        #right-column, #sidebar .ezxmltext-field {
            ul li:before {
                content: "• ";
                color: #996632;
            }
        }
    }

    footer {
        background-color: #560404;
    }

    #utility-bar .fa {
        color: #aeadae;
    }

    #global-navigation {
        a {
            color: #82392a;
            font-size: 23px;

            &:hover {
                color: #996632;
            }
        }
    }

    .banner-content {
        background-color: rgba(0, 51, 102, 0.8);
    }

    // side nav
    #sidebar .menu.vertical.nav {
        list-style: none;
        padding-left: 20px;

        li {

            margin-top: 30px;
            margin-bottom: 30px;

            a {
                padding: 0;
                font-family: "proxima-nova",sans-serif;
                font-size: 26px;
                line-height: 30px;

                &:hover {
                    color: #006ccc;
                    text-decoration: none;
                }
            }

            &> ul > li, &.current > ul li {

                margin-top: 20px;
                margin-bottom: 10px;

                a {
                    font-size: 18px;
                    line-height: 20px;
                    color: #656565;

                    &:hover {
                        color: #006ccc;
                        text-decoration: none;
                    }
                }
            }
            &:before {
                content: "";
                display: none;
            }
        }
    }
    #bulletin-issues-list {
        .bulletin-issues-group {
            h2 {
                font-size: 26px !important;
            }
        }
    }
}