@charset "UTF-8";
@import "ade_adfl_shared";

.siteaccess-adfl {

    h1#pagetitle {
        color: #4a5525;
        font-family: 'minion pro';
        font-size: 32px;
        margin-top: 25px;
        margin-bottom: 10px;
    }

    h2 {
        color: #72701c;
        font-family: 'minion pro';
        font-size: 26px;
        margin: 10px 0;
    }

    //Accounting for eZ making H1s into H2s, etc.
    #sidebar h2, #right-column h2 {
        color: #4a5525;
        font-size: 32px !important;
    }
    #right-column .subitem-list .content-view-line.imported-page h2 {
        font-size: 26px;
    }

    h3 {
        border: none;
        color: #003366;
        font-family: "proxima-nova",sans-serif;
        font-size: 20px;
        font-weight: 300;
        margin: 10px 0;
        text-transform: uppercase;
    }

    h4 {
        color: #003366;
        font-family: "proxima-nova",sans-serif;
        font-size: 20px;
        font-weight: 300;
        margin: 5px 0;
    }

    h5 {
        color: #4c4c4c;
        font-family: "proxima-nova",sans-serif;
        font-size: 18px;
        margin: 5px 0;
    }

    h6 {
        color: #000000;
        font-family: "proxima-nova",sans-serif;
        font-size: 14px;
        font-weight: 700;
        margin: 5px 0;
    }

    /* Accounting for eZ shifting down H elemens */
    #main-content-area #right-column .fieldtype-xmltext {

        /* Content H1 */
        h2 {
            color: #4a5525;
            font-size: 32px;
            margin: 25px 0 10px 0;
        }

        /* Content H2 */
        h3 {
            color: #72701c;
            font-family: 'minion pro';
            font-size: 26px;
            text-transform: none;
        }

        /* Content H3 */
        h4 {
            border: none;
            color: #003366;
            font-family: "proxima-nova",sans-serif;
            font-size: 20px;
            font-weight: 300;
            text-transform: uppercase;
        }

        /* Content H4 */
        h5 {
            color: #003366;
            font-family: "proxima-nova",sans-serif;
            font-weight: 300;
            font-size: 20px;
            margin: 5px 0;
        }

        /* Content H5 */
        h6 {
            color: #4c4c4c;
            font-family: "proxima-nova",sans-serif;
            font-size: 18px;
            margin: 5px 0;
            font-weight: 400;
        }

        /* Content H6 */
        h7 {
            color: #000000;
            font-family: "proxima-nova",sans-serif;
            font-size: 16px;
            font-weight: 700;
            margin: 5px 0;
        }

    }

    a {
        color: #006ccc;
    }

    a:visited {
        color: #000666;
    }

    a:hover {
        color: #006ccc;
    }

    #main-content-area {

        #right-column, #sidebar .ezxmltext-field {
            ul li:before {
                content: "• ";
                color: #999933;
            }
        }
    }

    #sidebar .menu.vertical.nav {

        &> ul > li, &.current > ul li {
            margin-bottom: 10px;
        }
    }

    footer {
        background-color: #2d331b;
    }
    #utility-bar .fa {
        color: #aeadae;
    }
    #global-navigation {
        margin-top: 45px;

        a {
            color: #4a5525;

            &:hover {
                color: #72701c;
            }
        }
    }
    .banner-content {
        background-color: rgba(0, 51, 102, 0.8);
    }
    #bulletin-issues-list {
        .bulletin-issues-group {
            h2 {
                font-size: 26px !important;
            }
        }
    }
}