@charset "UTF-8";
// MLA Buttons
.btn {
    &.btn-mla {
        color: #cccccc;
        background-color: #660044;
        font-family: 'lexia', serif;
        font-weight: 300;
        border: 3px solid #fff !important;
        box-shadow: 0px 0px 1px 0 #656565;      
    }

    &.btn-next {
        @extend .btn-mla;
        background-image: url(/bundles/projectsite/images/next_icon.png);
        background-repeat: no-repeat;
        padding-left: 20px;
        padding-right: 60px;
        background-position: right 25px top 5px;
        background-size: 22px 22px;
        text-align: left;
    }

    &.btn-back {
        &:before {
            content: "\e091";
            position: relative;
            top: 2px;
            display: inline-block;
            font-family: 'Glyphicons Halflings';
            -webkit-font-smoothing: antialiased;
            font-style: normal;
            font-weight: normal;
            line-height: 1;
            -moz-osx-font-smoothing: grayscale;
            padding-right: 2px;       
        }
        &:active {
            -webkit-box-shadow: none;
            box-shadow: none;
        }
    }
}

.blue-btn {
    position:relative;
    z-index: 1;
    background: #6a0048 !important;
    padding: 4px;
    border: 3px solid #fff !important;
    box-sizing: border-box;

    &:before {
        content:"";
        display:block;
        position:absolute;
        z-index:-1;
        top:-3px;
        left:-4px;
        right:-4px;
        bottom:-3px;
        border: 1px solid #ccc;
        border-radius: 0 8px 8px 0;
    }

    button[type=submit] {
        background: #6a0048;
        color: #d25610;
        border: none;
        font-size: 17px;
        padding-left: 3px;
        padding-right: 3px;
        padding-top: 2px;
        min-height: 20px;
    }    
}