@charset "UTF-8";

$gray-light:             lighten(#000, 60%) !default;
$gray-lighter:           lighten(#000, 93.5%) !default;
$screen-md:              992px !default;
$screen-xs:              480px !default;

.mla-calendar {

    // Filter List
    .filter-ParentLocationId {
        .filter-name {
            display: none;
        }
    }
    .tc-calendar-controls .filter-list .filter-group {
        text-align: center;
        margin-bottom: 15px;
        .checkbox {

            max-height: 27px;

            label {
                display: block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

            }

            span {
                top: 0;
            }

            input[type=checkbox] {
                position: relative;
                top: 2px;
                float: left;
            }

            .colorbox {
                position: relative;
                top: 5px;
            }
        }
    }

    // Title Area
    .tc-calendar-title-area {
        padding: 5px 10px;
        line-height: 26px;
        font-size: 1.75em;

        @media (max-width: $screen-md) {
            text-align: left;
        }
        @media (max-width: $screen-xs) {
            text-align: center;
        }
    }

    // Submit
    .submit {
        float: right;
        margin-left: 10px;
        position: relative;
        top: -1px;

        input[type=submit] {
            height: 25px;
            padding: 3px;
        }
    }

    // Pagination
    ul.pagination {
        float: right;
        margin: 0;
        height: auto;
        font-size: .75em;

        li a {
            padding: 3px 10px;
        }

        @media (max-width: $screen-xs) {
            float: none;
            margin-top: 5px;
        }
    }

    // Timezone
    .timezone {

        position: relative;
        top: 12px;
        margin-bottom: 15px;
        text-align: right;

        label {
            position: relative;
            top: 2px;
        }

        select {
            width: auto;
            position: relative;
            top: 1px;
        }

        &, select, label {
            max-width: 100%;
        }

        @media (max-width: $screen-md) {
            text-align: left;
            select {
                width: 100%;
            }
        }
    }

    .tc-calendar-list-item {
        margin-top: 10px;
        border-bottom: 1px solid $gray-light;
        padding-bottom: 10px;

        &.last {
            border-bottom: none;
        }

        // Date
        .event-date {
            border-bottom: none;
            margin-bottom: 0;
            font-size: 14px;

            .colorbox {
                width: 10px;
                display: block;
                float: left;
                margin-right: 2px;
            }
        }
    }

    .tc-view {
        padding: 0 15px;
    }

    // Embeded Calendar
    &.embed {
        .tc-calendar-list-item {
            border-bottom: 0;
            margin-top: 0;

            .event-date {
                width: 25%;
                float: left;
                display: block;
                border-bottom: none;
            }
            .event-description {
                width: 70%;
                float: left;
                display: block;
                h6 {
                    display: inline;
                }
                p {
                    margin: 0;
                    padding: 0;
                    line-height: 18px;
                }
            }

        }

        .filter-list {
            width: 100%;

            .checkbox {
                font-size: 12px;
                .colorbox {
                    width: 20px;
                    height: 20px;
                }
            }
        }
        .tc-calendar-title-area {
            margin-top: 15px;
            padding-left: 0;
        }
        .tc-view {
            padding: 0;
        }
    }

}

// Calendar Full
.event-item {
    .col-sm-2, .col-sm-10 {
        padding-left: 0;
    }
    .fieldtype-xmltext {
        margin-top: 5px;
    }
}