@charset "UTF-8";

// animated throber for form feedback

@-webkit-keyframes throber {
    0%   { -webkit-transform: rotate(0deg);  }
    100% { -webkit-transform: rotate(360deg);  }
}
@-moz-keyframes throber {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@-o-keyframes throber {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes throber {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

form .form-control-feedback {
    top: auto !important; 
    bottom: 0px !important;
}

form .has-feedback .form-control-feedback.glyphicon-refresh, .feedback-area .glyphicon-refresh, .glyphicon.spinning {
    -webkit-animation: throber 1s infinite; /* Safari 4+ */
    -moz-animation:    throber 1s infinite; /* Fx 5+ */
    -o-animation:      throber 1s infinite; /* Opera 12+ */
    animation:         throber 1s infinite; /* IE 10+, Fx 29+ */
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-backface-visibility: hidden;
}

form .feedback-area {
    margin-left: 10px;
    padding: 5px 10px;
}

form .choiceother-choice .form-control-feedback {
    top: 0 !important;
}

form .form-row {
    position: relative;
    .alert {
        margin-bottom: 10px;
    }
}