@charset "UTF-8";

.wf-loading {
    visibility: hidden;
}
.wf-active {
    visibility: visible;
}
/* Bootstrap Overrides */
.panel-heading {
    background: url(../images/pattern-header.png) 0 0 repeat transparent;

    .expand-container {
        background-color: #666368;
        width: 20px;
        height: 20px;
        border-radius: 3px;
        position: relative;
        top: -22px;

        span {
            cursor: pointer;
        }
    }

    span.glyphicon-minus, span.glyphicon-plus {
        padding: 0 6px;
        color: #ECEFED;
    }
    span.glyphicon-plus {
        font-size: 19px;
        position: relative;
        top: -3px;
        left: -1px;
    }
    span.glyphicon-minus {

    }
}
.navbar {
    .commons-link, .login {
        width: 25%;
    }
}

@media print {
    // Disable URL display
    a[href]:after {
        content: "";
        display: none;
    }
}

/* IcoMoon Icons */
@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?-52mlkv');
    src:url('../fonts/icomoon.eot?#iefix-52mlkv') format('embedded-opentype'),
        url('../fonts/icomoon.woff?-52mlkv') format('woff'),
        url('../fonts/icomoon.ttf?-52mlkv') format('truetype'),
        url('../fonts/icomoon.svg?-52mlkv#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-bubble:before {
    content: "\e613";
}

.icon-key:before {
    content: "\e600";
}

.icon-checkmark:before {
    content: "\e60d";
}

.icon-search:before {
    content: "\e60e";
}

.icon-cross:before {
    content: "\e60f";
}

.icon-minus:before {
    content: "\e610";
}

.icon-plus:before {
    content: "\e611";
}

.icon-close:before {
    content: "\e612";
}

.icon-arrow-left:before {
    content: "\e601";
}

.icon-arrow-down:before {
    content: "\e602";
}

.icon-arrow-up:before {
    content: "\e603";
}

.icon-arrow-right:before {
    content: "\e604";
}

.icon-arrow-left2:before {
    content: "\e605";
}

.icon-arrow-down2:before {
    content: "\e606";
}

.icon-arrow-up2:before {
    content: "\e607";
}

.icon-arrow-right2:before {
    content: "\e608";
}

.icon-arrow-left3:before {
    content: "\e609";
}

.icon-arrow-down3:before {
    content: "\e60a";
}

.icon-arrow-up3:before {
    content: "\e60b";
}

.icon-arrow-right3:before {
    content: "\e60c";
}



/* General Rules */
body {
    color: #000000;
}
body, p {
    font-family: "proxima-nova",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
p {
    margin-bottom: 15px;
}

body > div.row.darkbg {
    margin-left: 0;
    margin-right: 0;
}

p.citation {
    padding-left: 25px;
    text-indent: -25px;
}
a, a:visited, a:focus {
    color: #006ccc;
}
a:hover {
    color: #006ccc;
    text-decoration: underline;
}
ol, ul {
    color: #000000;
    font-family: "proxima-nova",sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-left: 20px;
}
ul {
    /*list-style-type: none;*/
    li: before {
        content: "• ";
        color: #034a51;
    }
}
.spacer {
    margin-top: 20px;
}

/* input replacement */
.checkbox {
    padding-left: 0;
}
input[type=checkbox] {
    display: none;
}
input[type=checkbox] + label {
    background: url('../images/checkbox-unchecked.png') no-repeat 0px 3px;
    background-repeat: no-repeat;
    padding-left: 25px;
    display: inline-block;
}
input[type=checkbox]:checked + label {
    background: url('../images/checkbox-checked.png') no-repeat 0px 3px;
    background-repeat: no-repeat;
    padding-left: 25px;
    display: inline-block;
}
input[type=checkbox]:disabled + label {
    color: #A0A0A0;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

    input[type=checkbox] + label {
        background: url('../images/checkbox-unchecked@2x.png');
        background-size: 16px 16px;
        background-position: 0 4px;
        background-repeat: no-repeat;
    }
    input[type=checkbox]:checked + label {
        background: url('../images/checkbox-checked@2x.png');
        background-size: 16px 16px;
        background-position: 0 4px;
        background-repeat: no-repeat;
    }

}

/* base headings */
h1 {
    color: #034a51;
    font-family: "lexia",serif;
    font-style: normal;
    font-weight: 300;
    font-size: 31px !important;
    margin: 25px 0 15px 0 !important;
}
h2 {
    color: #333399;
    font-family: "proxima-nova",sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    margin-top: 25px;
    margin-bottom: 15px;
}
h3 {
    color: #656565;
    font-family: "proxima-nova",sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
    text-transform: uppercase;
    border-bottom: 1px solid #cccccc;
}
h4 {
    color: #656565;
    font-family: "proxima-nova",sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
}
h5 {
    color: #656565;
    font-family: "proxima-nova",sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}
h6 {
    color: #656565;
    font-family: "proxima-nova",sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}
h7 {
    margin-top: 15px;
    margin-bottom: 15px;
}

hr {
    color: #cccccc;
}

blockquote {
    display: inline-block;
    color: #000000;
    font-family: "proxima-nova",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 10px 100px 15px 100px;
    border-left: none;
    .quote-caption {
        font-size: 80%;
        font-family: "roman";
    }
    &+ blockquote {
        margin-top: 0px;
    }
}
table.default td, table.default th {
    padding: 6px;
}
figure {
    &.pull-right {
        padding-left: 15px;
        padding-bottom: 10px;
    }
    &.center-block {
        padding: 10px 15px;
    }
    &.pull-left {
        padding-right: 15px;
        padding-bottom: 10px;
    }
}
.event-title h6 {
    font-size: 16px;
}
.tc-calendar .tc-view {
    margin-top: 10px;
}

.breadcrumb {
    background-color: transparent;
    padding-left: 0;
    padding-top: 0;
    li a, li, li.current.active {
        color: #656565;
        font-family: "proxima-nova",sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
        text-transform: uppercase;
    }
    > li + li:before {
        font-family: 'icomoon';
        color: #656565;
        content: "\e608";
        position: relative;
        font-size: 210%;
        top: 7px;
        margin: -12px;
        padding-right: 9px;
    }
}

/* Carousel */
#myCarousel {
    z-index: 2;
    margin-bottom: 25px;
}
.carousel-caption {
    bottom: 0;
    left: 0;
    text-align: left;
    background-color: rgba(#034a51, 0.8);
    padding: 14px 0 14px 40px;
    text-shadow: none !important;
    .lead {
        margin-bottom: 0;
        bottom: 10px;
        position: relative;
    }
    &.single {
        padding-left: 10px;
    }
    p {
        color: #ffffff;
        font-family: 'lexia', serif;
        font-size: 18px;
        margin: 0;
    }
}
.carousel {
    overflow: hidden;
}
.carousel-control {
    cursor: pointer;
    font-size: 400%;
    opacity: 1;
    padding-top: 100%;
    top: auto;
    z-index: 100;
    text-shadow: none;
    text-decoration: none;
    &:hover, &:focus, &:active {
        text-decoration: none !important;
    }
    a {
        text-decoration: none;
        color: #cccccc;
        padding: 170px 20px 0 20px;
        position: relative;
        top: -17px;
        &:hover, &:focus, &:active {
            text-decoration: none !important;
        }
        &:focus {
            outline: 0;
        }
        @media screen and (-webkit-min-device-pixel-ratio:0) {
            position: relative;
            top: -19px !important;
        }
    }
    &.left {
        background: none;
        left: -32px;
        &:hover {
            background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.5) 0%), color-stop(rgba(0, 0, 0, 0.0001) 100%));
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
            background-repeat: repeat-x;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
        }
    }
    &.right {
        background: none;
        right: -32px;
        &:hover {
            background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.0001) 0%), color-stop(rgba(0, 0, 0, 0.5) 100%));
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
            background-repeat: repeat-x;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
        }
    }
}

#main-content {
    margin-bottom: 30px;
    h1#pagetitle {
        margin-top: 0 !important;
    }
}

/* Sidebar */
h4.panel-title {
    color: #333399;
    font-weight: 300;
}
h3.panel-title {
    text-transform: none;
    border-bottom: none;
    margin: 0 !important;
}
#debug {
    display:none;
}
.sidebar .panel.panel-default.search-panel .panel-body {
    &> h4 {
        margin-bottom: 5px;
        margin-top: 10px;
    }
    &> ul {
        margin-left: 20px;
        &> li, &> li a {
            font-size: 16px;
            margin-bottom: 5px;
        }
    }
}

/* Navbar-Header */
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: transparent;
}
#primary-navigation {
    height: 90px;
    z-index: 10;
    border-radius: 0;
    .navbar-header{
        height: 57px;
        .navbar-brand {
            padding: 4px 0 0 0;
        }
    }
    .container.row-md {
        width: 100%;
        &:before, &:after {
            content: "";
            display: table;
        }

    }
    #global-navigation {
        ul {
            list-style: none;
        }
        > li {
            &:hover, &.current {
                background-color: #0a0a0a;
            }
            &.current > a {
                color: #ffffff !important;
            }
            > a {
                display: inline-block;
                color: #adadad !important;
                font-family: "proxima-nova",sans-serif;
                font-style: normal;
                font-weight: 300;
                font-size: 20px;
                outline: 0;
                padding-top: 20px;
                b.caret {
                    display: none;
                }
                &:hover {
                    color: #ffffff !important;
                }
            }
            &.open {
                .dropdown-menu {
                    display: block !important;
                }
            }
        }
        li {
            font-family: "proxima-nova",sans-serif;
            font-style: normal;
            font-weight: 400;
            &.dropdown {
                &.open {
                    background: url("../images/arrow.png") no-repeat scroll 50% 38px #000000 !important;
                    .dropdown-menu a {
                        background: none;
                    }
                }
            }
            .dropdown-menu {
                background-color: #333;
                display: none;
                list-style-type: none;
                text-align: left;

                .columnize {
                    -moz-column-count: 2;
                    -webkit-column-count: 2;
                    column-count: 2;
                    -webkit-column-rule-width: 1px;
                    -moz-column-rule-width: 1px;
                    column-rule-width: 1px;
                    -webkit-column-rule-style: solid;
                    -moz-column-rule-style: solid;
                    column-rule-style: solid;
                    -webkit-column-rule-color: #222;
                    -moz-column-rule-color: #222;
                    column-rule-color: #222;
                    margin-top: 6px;

                    > li {
                        margin-top: 8px;

                        &:first-of-type {
                            margin-top: 0px;
                        }
                    }
                }
                h2 {
                    background: none;
                    border-bottom: 1px solid #cccccc;
                    margin-top: 0px;
                    padding: 0 10px;
                    a {
                        background: none;
                        color: #cccccc;
                        font-family: "proxima-nova",sans-serif;
                        font-style: normal;
                        font-weight: 300;
                        font-size: 18px;
                        &:hover, &:focus {
                            color: #ffffff !important;
                            text-decoration: none;
                        }
                    }
                }
                div:first-of-type {
                    padding-left: 0px;
                }
                div {
                    > ul {
                        padding: 0 10px !important;
                    }
                    ul li {
                        &:hover {
                            a {
                                color: #ffffff !important;
                            }
                            ul li a {
                                color: #cccccc !important;
                                &:hover {
                                    color: #ffffff !important;
                                }
                            }
                        }
                        a {
                            color: #cccccc;
                            font-family: "proxima-nova", sans-serif;
                            font-style: normal;
                            font-weight: 300;
                            font-size: 16px;
                        }
                        ul {
                            li {
                                a {
                                    font-size: 14px;
                                    display: block;
                                    line-height: 1.2em;
                                }
                            }
                        }
                    }
                }
                ul, ul:hover {
                    padding-left: 0;
                    ul, ul:hover {
                        padding-left: 10px;
                    }
                }
                li a {
                    background: none;
                    color: #cccccc;
                    font-size: 14px;
                    font-weight: 300;
                    padding: 5px 0;
                    white-space: normal;
                    &:hover, &:focus {
                        color: #ffffff;
                        text-decoration: none;
                        width: 100%;
                    }
                }
            }
        }
    }
    .navbar-toggle:hover, .navbar-toggle:focus {
        background-color: rgba(0, 0, 0, 0.0);
    }
    .utility-image {
        background-color: #034a51;
        padding-right: 0;
        img {
            height: 32px;
            width: 365px;
        }
    }
    .utility {
        background-color: #f0f0f0;
        height: 32px;
        padding: 0;
        .login a i, .mini-search-open-btn span.glyphicon {
            font-size: 14px;
        }
        .search .btn-search {
            position: relative;
            top: 2px;
        }
        .navbar-header {
            a {
                color: #034A51;

                span.navbar-toggle {
                    margin: 0;
                    padding: 0;
                    border: none;
                    top: 4px;
                    left: 7px;
                }

                text-decoration: none;
                span.icon-bar {
                    background-color: #034A51;
                }
                &.collapsed {
                    color: #656565;
                    span.icon-bar {
                        background-color: #656565;
                    }
                    &:hover {
                        color: #034A51;
                        span.icon-bar {
                            background-color: #034A51;
                        }
                    }
                }

            }
            button.navbar-toggle {
                border: none;
                margin: 0;
                position: relative;
                top: -5px;
            }
        }
        .commons-link i {
            position: relative;
            top: -1px;
            margin-left: 5px;
        }
        a, .mini-search-open-btn {
            cursor: pointer;
            color: #656565;
            display: inline-block;
            font-family: "proxima-nova",sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 11px;
            padding: 10px 0 7px 0;
            text-transform: uppercase;
            &:hover {
                color: #034a51;
                text-decoration: none;
            }
        }
        .mini-search-open-btn {
            padding: 0;
            margin: 6px 0 0 0;
        }

        .col-xs-3 {
            border-right: 1px solid #cccccc;
            padding: 0;
            text-align: center;
            .fa {
                font-size: 120%;
                margin-left: 4px;
            }
        }
        .col-xs-6 {
            padding: 0;
        }
        .navbar-form {
            margin: 0;
            border: none;
            box-shadow: none;
            .form-group {
                margin-bottom: 0px;
            }
            .form-control {
                height: 24px;
            }
            .btn {
                background: none;
                border: none;
                outline: 0;
                padding: 6px 6px 6px 0;
                span {
                    color: #656565;
                }
                &:hover span {
                    color: #034a51;
                }
            }
        }
        .fa-chevron-right {
            top: -1px;
            margin-left: 5px;
            position: relative;
        }
        .form-control {
            color: #656565;
            font-size: 11px;
            font-family: "proxima-nova",sans-serif;
            font-style: normal;
            font-weight: 400;
            text-transform: uppercase;

            &:hover {
                color: #034a51;
            }
        }

        .login {
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;

            #nav-member-dropdown {
                position: relative;
                top: -9px;
                left: -5px;
            }

            a {
                height: 30px;
                padding-bottom: 0px;
                width: 100%;
                //color: #034a51;
                &.collapsed {
                    color: #656565;

                    &:hover {
                        //color: #034a51;
                    }

                    i {
                        color: #656565;
                    }

                }
                &:hover {
                    color: #034a51;
                    i {
                        color: #034a51;
                    }
                }
                @extend a:hover;
                white-space: nowrap;

                i {
                    position: relative;
                    top: -9px;
                    color: #034a51;
                }

                span {
                    position: relative;
                    top: -4px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 85%;
                    display: inline-block;
                }

                i.fa {
                    vertical-align: 3px;
                    margin-left: 4px;
                }

                &.collapsed {
                    color: #656565;
                }
            }

            .login-dropdown {
                background-color: #074950;
                overflow: hidden;
                color: #fff;
                min-width: 280px;
                position: absolute;
                z-index: 1001;
                left: -50%;
                text-align: left;
                padding: 10px;

                a {
                    padding-left: 5px;
                    color: #fff;
                    text-transform: none;
                }

                &.logged-in {
                    min-width: 140px;
                    left: -1px;

                    ul {
                        list-style-type: none;
                        padding-left: 0;

                        li {
                            a {
                                color: #c3c3c1;
                                display: inline-block;
                                width: 100%;
                            }
                            &:hover {
                                a {
                                    color: #fff;
                                }
                            }
                        }
                    }

                }

                form {
                    .input-group {
                        margin-top: 10px;

                        &.has-error {
                            .input-group-addon {
                                color: #a94442;
                                border-color: #a94442;
                            }
                        }
                    }
                    .input-group-addon {
                        background-color: #fff;
                        border: 1px solid #ccc;
                        border-right: none;
                    }
                    input.form-control {
                        border-left: 0;
                        text-transform: none;
                        &:focus {
                            border-color: #ccc;
                            -webkit-box-shadow: none;
                            box-shadow: none;
                        }
                        &::-webkit-input-placeholder {
                            text-transform: uppercase;
                        }
                        &:-moz-placeholder {
                            text-transform: uppercase;
                        }
                        &::-moz-placeholder {
                            text-transform: uppercase;
                        }
                        &:-ms-input-placeholder {
                            text-transform: uppercase;
                        }
                    }
                }

                .alert {
                    margin: 10px 5px;
                    padding: 5px 7px;
                    ul {
                        list-style: none;
                        padding-left: 0;
                    }
                }

            }

        }

    }
}
.breadcrumb > li + li:before {
    z-index: -1;
}
#mla-side-cart .btn-cart:hover {
    color: #ffffff !important;
}
.btn-cart p {
    margin-bottom: 0px;
}
.panel.panel-default {
    .panel-title {
            font-size: 24px;
            color: #333399;
        a, span {
            font-size: 24px;
            color: #333399;
        }
        a:hover, a:focus {
            text-decoration: none;
        }
        span.glyphicon-plus, span.glyphicon-minus {
            background-color: #666368;
            color: #ecefed;
            cursor: pointer;
            font-size: 80%;
            font-weight: bold;
            margin-top: 4px;
            padding: 1px 4px 2px 4px;
        }
    }
    #collapse-product-subjects .panel-body ul li {
        list-style-type: disc !important;
        a {
            color: #006ccc !important;
            &:hover {
                text-decoration: underline !important;
            }
        }
    }
    .panel-body {
        form .input-group {
            margin-bottom: 20px;

            .input-group-addon {
                border-radius: 0 8px 8px 0;
            }
        }
        p {
            color: #656565;
            font-family: 'proxima-nova', sans-serif;
            font-weight: 300;
            a {
                color: #656565;
                font-family: 'proxima-nova', sans-serif;
                font-weight: 300;
                line-height: 1.3em;

                &:hover {
                    color: #006ccc;
                    text-decoration: none;
                }
            }
        }
        ul, ol {
            list-style-type: none;
            padding-left: 0px;

            li {
                margin-top: 5px;
                margin-bottom: 10px;

                a {
                    color: #656565;
                    font-family: 'proxima-nova', sans-serif;
                    font-weight: 300;
                    font-size: 20px;
                    margin-bottom: 5px;
                    &:hover {
                        color: #006ccc;
                        text-decoration: none;
                    }
                }
                ul, ol {
                    padding-left: 10px;
                    li {
                        font-size: 18px;

                        a {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}
#filter-options {
    .panel-heading {
        background: none #ffffff;
    }
    .panel-body {
        background: none #f0f0f0;
        padding-top: 0px;
        padding-left: 5px;
        position: relative;
        top: -10px;
        margin-bottom: -10px;
    }

    .facets {
        label {
            text-transform: capitalize;
            color: #656565;
        }
        .radio input[type="radio"],
        .radio-inline input[type="radio"],
        .checkbox input[type="checkbox"],
        .checkbox-inline input[type="checkbox"] {
            margin-top: 2px;
        }

        .radio input[type="radio"] + label,
        .radio-inline input[type="radio"] + label,
        .checkbox input[type="checkbox"] + label,
        .checkbox-inline input[type="checkbox"] + label {
            float: left;
            margin-left: -20px;
        }
    }

    h3 {
        color: #656565;
        font-family: "proxima-nova",sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
.panel.panel-default {
    .sidemenu {
        .panel-title a:hover, .panel-title a:focus {
            text-decoration: none;
        }
        ul {
            list-style-type: none;
            padding-left: 0;
            li {

                margin-top: 5px;
                margin-bottom: 10px;

                a {
                    color: #656565;
                    font-family: "proxima-nova",sans-serif;
                    font-size: 20px;
                    font-weight: 100;
                }
                a:hover, a:focus {
                    color: #006ccc;
                    text-decoration: none;
                }
                ul {
                    padding-top: 1px;
                    margin-top: 0px;
                    padding-left: 20px;
                    li {
                        font-size: 16px;
                        margin-bottom: 5px;

                        a {
                            font-size: 16px;
                            font-weight: 100;
                        }
                        ul {
                            margin-top: 0;
                            li {
                                a {
                                    font-size: 100%;
                                }
                            }
                        }
                    }
                }
            }
            li.current > a {
                color: #333399;
                /* font-size: 16px; */
            }
        }
        .nav > li > a {
            padding: 0px;
        }
        .nav > li > a:hover, .nav > li > a:focus {
            background: none;
        }
    }
    .panel-body .ezxmltext-field {
        ul, ol {
            margin: 0px;

            li {
                color: #656565;
                font-family: "proxima-nova",sans-serif;
                font-size: 20px;
                font-weight: 100;
                margin: 5px 0 10px 0;
            }
        }
    }
}
.panel.panel-default .panel-body .ezxmltext-field {
    ul li, ol li {
        ul li, ol li {
            font-size: 18px;
            a {
                font-size: 18px;
            }
        }
    }
}
.product-page {
    .product-image img {
        border: 1px solid #ccc;
    }
    .blurb {
        color: #656565;
        font-family: "Lexia",sans-serif;
        font-size: 21px;
        font-weight: bold;
        line-height: 30px;
        margin-bottom: 20px;
        margin-top: 25px;
        blockquote {
            display: inline-block !important;
            span.quote-caption {
                margin-top: 5px !important;
            }
        }
        blockquote, blockquote p {
            font-family: 'lexia', serif;
            color: #656565;
            font-weight: bold;
            font-size: 18px;
            margin-bottom: 0;
            .quote-caption {
                font-size: 18px;
                text-align: right;
                font-family: 'lexia', serif;
                margin-top: 20px;
            }
        }
    }
}
.input-group-addon {
    button {
        line-height: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
    &.submit {
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
    }
}
#nav-login-dropdown .form-login {
    .checkbox {
        margin-bottom: 0px;
    }

    form {
        > a:hover {
            text-decoration: underline;
            padding-top: 0;
        }
        .input-group span button span {
            position: relative;
            top: -2px;
        }
    }
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: none;
}

footer {
    background-color: #034a51;
    .container {
        padding: 0;
    }
    > div {
        text-align: center;
    }
    a:hover {
        color: #ffffff;
    }
    .nav.nav-pills {
        display: inline-block;
        padding: 30px 0 0 0;
        > li > a {
            color: #b3b3b3;
            line-height: 1em;
            padding: 2px 8px;
        }
        > li > a:hover {
            color: #ffffff;
        }
        li {
            border-right: 1px solid #b0b3b3;
            font-size: 11px;
            a:hover, a:focus {
                background-color: transparent;
            }
        }
        li:last-child {
            border-right: none;
        }
    }
    p {
        color: #b3b3b3;
        float: none;
        font-size: 11px;
        margin: 0 0 30px 0;
        text-align: center;
    }
}
.content-view-line {
    padding-bottom: 10px;
    h2 {
        margin-top: 0 !important;
    }
    .col-sm-4.col-md-3 {
        padding: 0;
    }
    .col-xs-3.col-sm-3.col-md-3.col-lg-3 {
        padding-right: 0;
    }
}

.clearfix-sm:before, .clearfix-sm:after {
    display: table;
    content: " ";
}
.clearfix-sm:after {
    clear: both;
}


/* ------ Form General ----- */
form {

    .btn-group {
        div {
            margin-left: 5px;
            float: right !important;
        }
    }

    // display required asterisk (*)
    label.required:after {
        content: "*";
        vertical-align: top;
        font-size: 18px;
    }
    .radio label.required:after, .checkbox label.required:after {
        content: "";
    }
}

.homepage {
    .homepage-links {
        div.image-link {
            border: 1px solid #d6d6d6;
            margin-bottom: 20px;
            max-width: 470px;
            overflow: hidden;
            position: relative;
            -moz-border-radius: 6px;
            -webkit-border-radius: 6px;
            border-radius: 6px;
            > div {
                border: 3px solid #ffffff;
                -moz-border-radius: 6px;
                -webkit-border-radius: 6px;
                border-radius: 6px;
                > div {
                    -moz-border-radius: 6px;
                    -webkit-border-radius: 6px;
                    border-radius: 6px;
                    position: relative;
                    overflow: hidden;
                    a h2 {
                        background-color: rgba(3, 74, 81, .75);
                        bottom: 0;
                        color: #ffffff;
                        font-size: 31px;
                        font-weight: 400;
                        margin: 0 !important;
                        padding: 6px 0;
                        position: absolute;
                        text-align: center;
                        width: 100%;
                        font-family: 'lexia', serif;
                    }
                }
            }
        }
    }
    #main-content {
        margin-bottom: 0;
    }
    .grey-background {
        background-color: #e3e3e3;
        margin-top: -20px;
        position: absolute;
        width: 100%;
        z-index: -10;
    }
    .main-content-area {
        h2 {
            color: #05666b;
            font-size: 50px;
            font-family: "lexia";
            font-weight: 300;
            margin-bottom: 15px;
        }
        a {
            color: #0563a7;
            &.donate, &.renew, &.joinnow {
                display: inline-block;
                float: right;
                font-size: 0;
                margin: 0 10px;
                height: 77px;
                width: 77px;
            }
            &.donate {
                background: transparent url("../images/donate.png") no-repeat 0 0;
            }
            &.renew {
                background: transparent url("../images/renew.png") no-repeat 0 0;
            }
            &.joinnow {
                background: transparent url("../images/join-now.png") no-repeat 0 0;
            }
        }
        p {
            font-family: 'lexia' !important;
            font-weight: 300;
            color: #4d4d4d;
            font-size: 40px;
            font-weight: normal;
            line-height: 1.2em;
            a {
                color: #006ccc;
            }
        }
    }
    .greybg {
        margin-bottom: 40px;
        margin-top: -20px;
        padding: 30px 0;
    }
    .whitebg {
        .zone {
            h3 {
                border-bottom: none;
                color: #333399;
                font-size: 24px !important;
                margin-top: 0 !important;
                text-transform: none;
            }
            ul {
                padding-left: 16px;
            }
        }
        & > div:nth-child(2) {
            border-left: 1px solid #cccccc;
            border-right: 1px solid #cccccc;
        }
    }
    .darkbg {
        background-color: #232323;
        margin-top: 40px;
        padding-top: 20px;
        .row {
            margin-left: -30px;
            margin-right: -30px;
        }
        div .panel:nth-child(2) {
            border-left: 1px solid #000000;
            border-right: 1px solid #000000;
        }
        .panel.panel-default {
            .panel-body p, .panel-body a {
                color: #adadad;
                font-size: 16px;
            }
            .panel-body a:hover {
                color: #ffffff !important;
            }
        }
    }
    .panel {
        background: none;
        border: none;
        h3 {
            border: none;
            color: #adadad;
            margin-bottom: 4px;
            margin-top: 0;
            text-transform: none;
        }
        .panel-body {
            color: #a3a3a3;
            padding: 0 15px;
            a {
                color: #a3a3a3;
            }
        }
    }
    .zone {

        &.left, &.center, &.right {
            color: #656565;

            ul, ol {
                color: #656565;
           }
        }
    }
}
.product-list-customtag h4 {
    text-align: left;
}
.file-pdf {

    &:after {
        content: url('../images/pdf.png');
        display: inline-block;
        height: 16px;
        margin-right: 4px;
        padding-left: 2px;
        position: relative;
        width: 16px;
    }
    &[href*="bulletin/article"]:after {
        display: none;
    }
}

.subpage .panel {
    box-shadow: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.subfooter .panel {
    border-radius: 0px;
    box-shadow: none;
    .ezxmltext-field {
        p, a, p a {
            font-size: 14px !important;
            line-height: 1.2em !important;
        }
        ul li:first-of-type {
            margin-top: 0px !important;
            padding-top: 0px !important;
        }
        p {
            margin: 0px !important;
            padding-top: 5px !important;
            padding-bottom: 5px !important;
            line-height: 1.2em !important;
        }
        li {
            margin: 0px !important;
            padding: 1px 0 !important;
        }
    }
}

// ol's and ul's
.ezxmltext-field {
    li {
        margin: 5px 0;
    }
    ol, ul {
        margin: 15px 0;
        li ol, li ul {
            padding-left: 30px;
        }
    }
}

.jilpdf img {
    margin-left: 4px;
}

.tree span {
    cursor: pointer;
}
.tree ul {
    padding-left: 20px;
}
.tree li {
    margin: 0;
    list-style-type: none;
    position: relative;
    padding: 0;
}
.tree li::before {
    content:'+';
    cursor: pointer;
    position: absolute;
    top: -1px;
    width: 1px;
    height: 100%;
    right: auto;
    left: -14px;
    bottom: 50px;
}
.tree li.shown::before {
    content: '-';
}
.tree li::after {
    content:'';
    position: absolute;
    top: 30px;
    width: 25px;
    height: 20px;
    right: auto;
    left: -20px;
}
.tree li.jilpdf {
    list-style-type: disc;
}
.tree li.jilpdf::before {
    content: '';
}
.tree li a {
    display: inline-block;
    padding: 0 5px;
    text-decoration: none;
    color: #666;
}
/*Remove connectors before root*/
 .tree > ul > li::before, .tree > ul > li::after {
    border: 0;
}
/*Remove connectors after last child*/
 .tree li:last-child::before {
    height: 30px;
}
/*We will apply the hover effect the the lineage of the element also*/
 .tree li a:hover, .tree li a:hover+ul li a {
    color: #000;
    text-decoration: underline;
}

/* __________ Accordion __________ */
#accordion {
    padding-top:11px;
}
#accordion h4 {
    font-style: normal;
}
#accordion h4.accordion_title {
    position:relative;
    margin:0;
    padding:16px 0 10px 50px;
    text-transform:none;
    line-height:26px;
    font-size:24px;
    color: #333399;
    border-top:1px solid #e9e9e9;
    cursor:pointer;
    transition: color 0.3s ease-in-out;
    -webkit-transition: color 0.3s ease-in-out;
}
#accordion h4.accordion_title:hover {
    color:#242424;
}
#accordion h4.accordion_title.active {
    border-top:2px solid #656565;
    color: #666666;
}
#accordion h4.accordion_title:before {
    content: "\f067";
    position:absolute;
    left:2px;
    top:12px;
    width:30px;
    height:30px;
    font-family:FontAwesome;
    font-weight:normal;
    text-indent:2px;
    line-height:28px;
    text-align:center;
    font-size:15px;
    color: #656565;
    border:2px solid #656565;
    border-radius:50%;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
#accordion h4.accordion_title.active:before {
    content: "\f068";
}
#accordion h4.accordion_title:hover:before {
    color:#333;
    border-color:#333;
}
#accordion h4.accordion_title.active:before {
    color:#fff;
    border-color:#656565;
    background-color:#656565;
/*    transform:rotate(90deg);
    -o-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);*/
}
#accordion h4.accordion_title.active:before:hover {
    color: #333;
    border-color: #333;
}
#accordion .accordion_content {
    display:none;
    padding:0 0 3px 55px;
    line-height:24px;
    font-size:14px;
}
#accordion .accordion_content p {
    margin-bottom:24px;
    font-family: 'lexia', sans-serif;
}

.article-download-link {
    padding: 8px 0;
}

#article-categories {
    margin-top: 24px;

    .btn {
        font-size: 0.9em;
        padding: 2px 6px;
    }
}

.article-list {
    display: none;
    padding: 0 0 10px;
}

.article-list .col {
    padding: 3px 6px;
}

.article-list .col span {
    padding-left: 27px;
}

.article-list .row {
    margin: 0;
}

.article-list .page-number {
    text-align: right;
}

// Nav Tab styling
ul.nav-tabs {

    li {

        margin-right: 4px;
        top: 1px;

        a {
            font-size: 21px;
            font-weight: 300;
            font-family: "lexia", sans-serif;
            color: #034a51;
            background-color: #eeeeee;
            border: 1px solid #dddddd;
            padding: 0 15px;
        }

        &.active a {
            color: #333399;
            background-color: #fff;
            padding: 1px 15px;
            top: -1px;
        }
    }
}

// Commons Link Icon
a[href*="commons.mla.org"]:after {
    font-family: 'icomoon';
    font-weight: normal;
    font-style: normal;
    content: "\e613";
    padding-left: 5px;
    color: #ff8b00;
    position: relative;
    top: 2px;
}
#myCarousel.slide a[href*="commons.mla.org"]:after {
    content: none;
}
#primary-navigation a[href*="commons.mla.org"]:after,
.homepage #main-content .zone a[href*="commons.mla.org"]:after {
    content: none;
}

// Alert Warning
.warning.alert.alert-info {
    padding: 30px;
    background-color: #e9f7f6;
    border-color: #034a51;
    p {
        color: #000000;
    }
    h2 {
        margin-top: 0px;
        margin-bottom: 10px;
    }
    // Custom colored bullets for list items
    li {
        list-style: none;
    }
    li:before {
        content: '\2022';
        display: block;
        position: relative;
        max-width: 0;
        max-height: 0;
        left: -15px;
        top: -2px;
        color: #034a51;
        font-size: 24px;
    }
}



// Webkit-only CSS
@media screen and (-webkit-min-device-pixel-ratio:0) {
    #myCarousel .item a img {
        width: 100%;
    }
}


// Read More Customtag
@import "readmore";

// Embeded Images
@import "image_embed";

// Bulletin Styles
@import "bulletin";

// List Styles
@import "list_styles";

// Browser-Specific Overrides
@import "browser_specific";

// JW Player
@import "jw_player";

// StackTable
@import "stacktable";

// Responsive CSS
@import "responsive";

// Banner Info
@import "banner_info";
