@charset "UTF-8";

$screen-xs:                  480px !default;
$screen-sm:                  768px !default;
$screen-md:                  992px !default;
$screen-lg:                  1200px !default;

// Search page
#search-page {
    .search-form {
        .form-group .form-control {
            display: inline-block;
            width: 33%;

            @media(max-width: $screen-xs) {
                & {
                    width: 100%;
                }
            }
        }
        input[name=search_submit] {
            position: relative;
            top: -1px;

            @media(max-width: $screen-xs) {
                & {
                    top: 0;
                    margin-top: 3px;
                    float: right;
                }
            }

        }
    }

    div.pagination {
        float: right;
        margin: 0;
    }

    .search-results {

        .search-item {

            border-bottom: 1px solid #cccccc;
            margin-bottom: 15px;

            p {
                margin: 0;
            }

            .description {
                display: inline;
            }

            .score-percent {
                font-weight: bold;
                text-align: right;
                margin-bottom: 12px;
            }

        }

        &.loading {
            background-image: url(/bundles/projectsite/images/throbber_search_32x32.gif);
            background-repeat: no-repeat;
            background-position: center 80px;

            .search-item {
                opacity: 0;
            }
        }

    }

    .search-sidebar {

        ul.facets {
            list-style: none;
            padding-left: 5px;
            padding-top: 10px;

            label {
                cursor: pointer;
                font-weight: normal;
            }
        }


        #filter-options {
            .panel .panel-body {
                max-height: 150px;
                overflow: hidden;
                overflow-y: scroll;
                position: relative;
                width: 100%;
                padding-bottom: 0;
            }
        }

        .current-filters {

            margin-bottom: 10px;

            ul {

                list-style: none;
                padding-left: 0;
                margin-bottom: 5px;

                li {

                    line-height: 11px;
                    margin-bottom:10px;

                    &:last-child {
                        margin-bottom: 3px;
                    }

                    .filter-item-remove-icon, .filter-item-display {
                        float: left;
                    }

                    .filter-item-remove-icon {
                        font-size: 13px;
                        width: 9%;
                        position: relative;
                        top: -1px;
                    }
                    .filter-item-display {
                        width: 85%;
                    }
                }
            }

            a {
                font-size: 13px;
                line-height: 1.1em;
                color: #666;
                text-transform: uppercase;
            }
        }

    }

    // sort
    .search-sort {
        .dropdown {
            float: right;
            top: -3px;
            margin-left: 3px;

            .btn {
                border: none;
            }
        }
    }

}
input.searchtext {
    &.form-control {
        padding: 6px 12px 2px;
        height: 35px;
    }
}

input.searchtext::-webkit-input-placeholder {
    text-transform: uppercase;
}
input.searchtext:-ms-input-placeholder {
    text-transform: uppercase;
}
input.searchtext:-moz-placeholder {
    text-transform: uppercase;
}
input.searchtext::-moz-placeholder {
    text-transform: uppercase;
}