<span class="content-view-embed-line article">
    {% if not ez_is_field_empty(content, "url") %}
        <a href="{{ content.getFieldValue("url").link }}"{% if content.getFieldValue("url").text %} title="{{ content.getFieldValue("url").text }}"{% endif %}>{{ content.contentInfo.name|simple_text_format }}</a>

    {% else %}
        <a href={{ sitelink(content) }}>{{ content.contentInfo.name|simple_text_format }}</a>
    {% endif %}
</span>