{% extends pagedata.layout %}
{% block page_title %}
    My MLA
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            parent.$("#member-modal").modal("hide");

            /*{# Special case for addresses, need to reload all address data for 'send_mail' #}*/
            {% if form_name in ["address_home", "address_primary", "address_secondary"] %}
                parent.reloadData(".member-data[data-member-data=address_home]");
                parent.reloadData(".member-data[data-member-data=address_primary]");
                parent.reloadData(".member-data[data-member-data=address_secondary]");
                parent.reloadData(".member-data[data-member-data=privacy]");
            {% else %}
                parent.reloadData(".member-data[data-member-data={{ form_name }}]");
            {% endif %}
        });
    </script>
{% endblock %}

{% block body %}
{% endblock %}