{% extends pagedata.layout %}
{% block page_title %}
    My MLA
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        var DEPARTMENT_LOOKUP_URL = "{{ url('DepartmentLookup') }}";
    </script>
    <script type="text/javascript" src="{{ asset("bundles/projectmember/js/typeahead.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/projectmember/js/form_member.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/projectmember/js/forum_selection.js") }}"></script>
    {% include "ThinkCreativeFormBundle:parts:ajax_validation.html.twig" with {"form" : form, "TC_FORM_AJAX_VALIDATION_CALLBACK": "tcFormSetFeedback"} %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css"> 
        iframe { visibility: hidden; }
    </style>
{% endblock %}

{% block body %}

    <div class="col-xs-12 mla-form">

        {% form_theme form "ProjectMemberBundle:parts:form/themes/default.html.twig" %}
        {{ form_start(form) }}
        {{ form_errors(form) }}

        {% include "ProjectMemberBundle:parts:member/form/" ~ form_name ~ ".html.twig" with { "form" : form } %}

        {{ form_end(form) }}
    </div>

{% endblock %}