{% extends pagedata.layout %}

{% set apiMember = member.getApiData() %}

{% block page_title %}
    My MLA
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset("bundles/projectmember/js/read_member.js") }}"></script>
    <script type="text/javascript">

        function sizeCPIframe()
        {
            if ($("iframe.career-path-iframe").height() != $("iframe.career-path-iframe").contents().find("html").height()) {
                $("iframe.career-path-iframe").height(
                    $("iframe.career-path-iframe").contents().find("html").height()
                );
            }
        }

        var CPResizeTimer;
        function sizeCPIframeInterval()
        {
            sizeCPIframe();
            clearTimeout(CPResizeTimer);
            CPResizeTimer = setTimeout(function() {
                sizeCPIframeInterval();
            }, 1000);
        }

        function CPHookIframeSubmit()
        {
            $("#mymla-careerpath button.btn-submit, #collapse-mymla-careerpath button.btn-submit")
                .html("Save changes")
                .prop("disabled", false)
                .unbind("click")
            ;
            $("#mymla-careerpath button.btn-submit, #collapse-mymla-careerpath button.btn-submit").unbind("click");
            $("#mymla-careerpath button.btn-submit, #collapse-mymla-careerpath button.btn-submit").click(function() {
                $("iframe.career-path-iframe").contents().find("form").submit();
                $("iframe.career-path-iframe").contents().find("select, input, textarea").prop("disabled", true);
                $("iframe.career-path-iframe").on("load", function() {
                    CPHookIframeSubmit();
                })
                $(this)
                    .html('<span class="glyphicon spinning glyphicon-refresh"></span>')
                    .prop("disabled", true)
                ;
            });
        }

        $(document).ready(function() {
            $("iframe.career-path-iframe").attr("src", '{{ path("UserEdit", {"form" : "career_path"}) }}');
            sizeCPIframeInterval();
            $(".nav-tabs a[href=#mymla-careerpath]").on("shown.bs.tab", function() {
                sizeCPIframe();
            });
            CPHookIframeSubmit();
            $(window).resize(function() {
                CPHookIframeSubmit();
            });
        });
    </script>
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">My MLA</li>
</ol>
{% endblock %}

{% block body %}

    <div class="modal fade" id="member-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body">
                    <div class="loading-throbber">
                    </div>
                    <iframe href=""></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-close" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-mla btn-submit">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    {{ parent() }}
{% endblock %}

{% block content %}

    <div class="my-mla container">
        <h1 class="page-title">My MLA</h1>
        
        <ul class="nav nav-tabs responsive">
          <li class="active"><a href="#mymla-details" data-toggle="tab">Details</a></li>
          <li><a href="#mymla-history" data-toggle="tab">Membership History</a></li>
          <li><a href="#mymla-careerpath" data-toggle="tab">Career Path</a></li>
        </ul>

        <div class="tab-content visible-md visible-lg">

            {# TAB 1 - Details #}
            <div class="tab-pane active" id="mymla-details">
                
                <div class="col-xs-12">
                    <div class="member-section">
                        <h2 class="member-section-title">General Information</h2>
                        <div class="member-item">
                            <span class="member-attr">Membership year</span>
                            <span class="member-value">{{ apiMember.get("membership[latest_paid_year]", null, true) }}</span>
                        </div>
                        <div class="member-item">
                            <span class="member-attr">Years a member</span>
                            <span class="member-value">{{ apiMember.get("membership[membership_years]", null, true) }}</span>
                        </div>                    
                        {% if apiMember.get("general[joined_commons]", null, true) == "Y" %}
                            <div class="member-item">
                                <span class="member-attr">Commons Profile</span>
                                <span class="member-value">
                                    <a href="http://commons.mla.org/members/{{ apiMember.get("authentication[username]", null, true) ?: apiMember.get("id") }}">
                                        commons.mla.org/members/{{ apiMember.get("authentication[username]", null, true) ?: apiMember.get("id") }}
                                    </a>
                                </span>
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div class="col-sm-6 col-xs-12">
                    <div class="member-section">
                        <h2 class="member-section-title">Contact Information</h2>
                        <div class="member-data" data-member-data="general">
                            {{ render_esi(url('UserRead', {"form" : "general"})) }}
                        </div>
                        <div class="pull-right">
                            <a href="{{ path("UserEdit", {"form_name" : "general"}) }}" onclick="launchModal('general'); return false;" class="btn btn-default btn-sm">Edit</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="col-sm-6 col-xs-12">
                    <div class="member-section">
                        <h2 class="member-section-title">Authentication</h2>
                        <div class="member-data" data-member-data="authentication">
                            {{ render_esi(url('UserRead', {"form" : "authentication"})) }}
                        </div>
                        <div class="pull-right">
                            <a href="{{ path("UserEdit", {"form_name" : "authentication"}) }}" onclick="launchModal('authentication'); return false;" class="btn btn-default btn-sm">Edit</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="clear"></div>                

                <div class="col-sm-6 col-xs-12">
                    <div class="member-section">

                        <h2 class="member-section-title">Home address</h2>
                        <div class="member-data" data-member-data="address_home">
                            {{ render_esi(url('UserRead', {"form" : "address_home"})) }}
                        </div>
                        <div class="pull-right">
                            <a href="{{ path("UserEdit", {"form_name" : "address_home"}) }}" onclick="launchModal('address_home'); return false;" class="btn btn-default btn-sm">Edit</a>
                        </div>
                        <div class="clear"></div>

                    </div>
                </div>

                <div class="col-sm-6 col-xs-12">
                    <div class="member-section">
                        <h2 class="member-section-title">Languages taught or studied</h2>
                        <div class="member-data" data-member-data="languages">
                            {{ render_esi(url('UserRead', {"form" : "languages" })) }}
                        </div>
                        <div class="pull-right">
                            <a href="{{ path("UserEdit", {"form_name" : "languages"}) }}" onclick="launchModal('languages'); return false;" class="btn btn-default btn-sm">Edit</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="clear"></div>

                {% for institution in ["primary", "secondary"] %}
                <div class="col-sm-6 col-xs-12">
                    <div class="member-section">

                        <h2 class="member-section-title">{{ institution|capitalize }} institutional affiliation</h2>
                        <div class="member-data" data-member-data="address_{{ institution }}">
                            {{ render_esi(url('UserRead', {"form" : "address_" ~ institution })) }}
                        </div>
                        <div class="pull-right">
                            <a href="{{ path("UserEdit", {"form_name" : "address_" ~ institution }) }}" onclick="launchModal('address_{{ institution }}'); return false;" class="btn btn-default btn-sm">Edit</a>
                        </div>
                        <div class="clear"></div>

                    </div>
                </div>
                {% endfor %}
                <div class="clear"></div>

                <div class="col-xs-12">
                    <div class="member-section">
                        <h2 class="member-section-title">Privacy settings</h2>
                        <div class="member-data" data-member-data="privacy">
                            {{ render_esi(url('UserRead', {"form" : "privacy" })) }}
                        </div>
                        <div class="pull-right">
                            <a href="{{ path("UserEdit", {"form_name" : "privacy"}) }}" onclick="launchModal('privacy'); return false;" class="btn btn-default btn-sm">Edit</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="member-section">
                        <h2 class="member-section-title">Email preferences</h2>
                        <div class="member-data" data-member-data="email_preferences">
                            {{ render_esi(url('UserRead', {"form" : "email_preferences" })) }}
                        </div>
                        <div class="pull-right">
                            <a href="{{ path("UserEdit", {"form_name" : "email_preferences"}) }}" onclick="launchModal('email_preferences'); return false;" class="btn btn-default btn-sm">Edit</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="member-section">
                        <h2 class="member-section-title">MLA Publications Online Access</h2>
                        <div class="member-data" data-member-data="publications">
                            {{ render_esi(url('UserRead', {"form" : "publications" })) }}
                        </div>                        
                        <div class="pull-right">
                            <a href="{{ path("UserEdit", {"form_name" : "publications"}) }}" onclick="launchModal('publications'); return false;" class="btn btn-default btn-sm">Edit</a>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

            </div>

            {# TAB 2 - Membership History #}
            <div class="tab-pane" id="mymla-history">
                
                <p>
                    Here you can review the history of membership dues (since 2000), publication subscriptions, and contributions you have made to the MLA (starting in 2004). Expand each record to see the details for that year.
                </p>

                <table class="table table-striped member-history-table">
                    <thead>
                        <tr>
                            <th>Year</th>
                            <th>Membership Level</th>
                            <th>Membership Dues</th>
                            <th>Publications Total</th>
                            <th>Contributions Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for receipt in receipts %}
                            {% if receipt.dues.class_code or receipt.contributions|length > 0 %}
                                <tr>
                                    <td>{{ receipt.year }}</td>
                                    <td>
                                        {{ receipt.dues.class_code ? "Class " ~ receipt.dues.class_code : "N/A" }}
                                        [<a href="{{ path("UserReceipt", {"year" : receipt.year}) }}" target="_blank">Receipt</a>]
                                    </td>
                                    <td>&#36;{{ receipt.dues.amount|number_format(2, '.', ',') }}</td>
                                    <td>&#36;{{ receipt.publication_total|number_format(2, '.', ',') }}</td>
                                    <td>&#36;{{ receipt.contribution_total|number_format(2, '.', ',') }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                        {% if receipts|length == 0 %}
                            <tr>
                                <td colspan="5" class="text-center">No membership dues records available</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>

            {# TAB 3 - Career Path #}
            <div class="tab-pane" id="mymla-careerpath">
                {# <div class="loading-throbber"></div> #}
                <iframe class="career-path-iframe" frameborder="0" seamless src=""></iframe>
                <button type="button" class="btn btn-mla btn-submit pull-right">Save changes</button>
            </div>


        </div>
    </div>

{% endblock %}