{# Printable Receipt #}

<!doctype html>
<html>
    <head>
        <title>MLA Receipt - {{ receipt.year }}</title>
        <style type="text/css">
            .clear {
                clear: both;
            }
            .receipt-item {
                margin-bottom: 8px;
            }
            .receipt-item .label {
                float: left;
                width: 25%;
                font-weight: bold;
            }
            .notice {
                text-align: center;
                font-weight: bold;
            }
        </style>
    </head>
    <body>

    <h1>MLA Receipt</h1>

    {% if not receipt.dues.class_code and not receipt.dues.amount and receipt.contributions|length == 0 %}
        <div class="text-center">No records available for year of {{ receipt.year }}.</div>
    {% else %}

        {# Name #}
        <div class="receipt-item">
            <div class="value">
                {{ member.get("general[title]", null, true) }}
                {{ member.get("general[first_name]", null, true) }}
                {{ member.get("general[last_name]", null, true) }}
            </div>
        </div>

        {# Addresses #}
        {% for address in member.get("addresses") %}
            <div class="receipt-item">
                <div class="value">
                
                    {% if address.send_mail == "Y" %}
                        {{ address.line1 }}<br/>
                        {% if address.line2 %}
                            {{ address.line2 }}<br/>
                        {% endif %}
                        {% if address.line3 %}
                            {{ address.line3 }}<br/>
                        {% endif %}
                        {{ address.city }}, {{ address.state }}
                        {{ address.zip }}<br/>
                        {{ address.country_code }}
                    {% endif %}
                    
                </div>
            </div>
        {% endfor %}

        {# Date #}
        <div class="receipt-item">
            <div class="label">Date:</div>
            <div class="value">{{ receipt.dues.date_paid|date("m/d/Y") }}</div>
            <div class="clear"></div>
        </div>

        {# Membership Year #}
        <div class="receipt-item">
            <div class="label">
                Membership Year:
            </div>
            <div class="value">
                {{ receipt.year }}
            </div>
            <div class="clear"></div>
        </div>

        {# Membership Dues #}
        {% if receipt.dues.class_code %}
            <div class="receipt-item">
                <div class="label">
                    Class:
                </div>
                <div class="value">
                    {{ receipt.dues.class_code ?: "n/a" }}
                </div>
                <div class="clear"></div>
            </div>  
            <div class="receipt-item">
                <div class="label">
                    Membership Dues:
                </div>
                <div class="value">
                    ${{ receipt.dues.amount|number_format(2, '.', ',') }}
                </div>
                <div class="clear"></div>
            </div>              
        {% endif %}

        {# Publication fees #}
        <div class="receipt-item">
            <div class="label">
                Publications:
            </div>
            <div class="value">
                ${{ receipt.publication_total|number_format(2, ".", ",") }}
            </div>
            <div class="clear"></div>
        </div>

        {# Contributions #}
        <div class="receipt-item">
            <div class="label">
                Contributions:
            </div>
            <div class="value">
                ${{ receipt.contribution_total|number_format(2, ".", ",") }}
            </div>
            <div class="clear"></div>
        </div>

        {# Total #}
        <div class="receipt-item">
            <div class="label">
                Total:
            </div>
            <div class="value">
                ${{ (receipt.dues.amount + receipt.contribution_total)|number_format(2, ".", ",") }}
            </div>
            <div class="clear"></div>
            Member and Customer Services Department
        </div>

        <p class="notice">
            THIS RECEIPT IS YOUR PROOF OF PAYMENT.<br/>
            BE SURE TO KEEP IT IN CASE OF ANY FUTURE ADJUSTMENTS.    
        </p>
    {% endif %}

    </body>
</html>