/* style fixes for image alignment */
.mceContentBody img[inline="false"][align="left"] {
    display: block;
    float: none;
    margin-left: 0;
}

.mceContentBody img[inline="false"][align="right"] {
    display: block;
    float: right;
    margin-left: 100%;
}

.mceContentBody img[view="embed-inline"][align="left"] {
    float: left;   
}

.mceContentBody img[view="embed-inline"][align="right"] {
    float: right;
    margin-left: auto;
}