.mceContentBody p.toc_level1 {font-weight: bold; font-size: 130%; margin-top: 1.5em; line-height: 1em;}
.mceContentBody p.toc_level2 {font-weight: bold; font-size: 100%; margin-top: 1.25em; line-height: 1em;}
.mceContentBody p.toc_level3 {margin-left: 2em; line-height: 1em;}
.mceContentBody p.toc_level4 {margin-left: 4em; line-height: 1em;}
.mceContentBody p.toc_level5 {margin-left: 6em; line-height: 1em;}
.mceContentBody p.toc_level6 {margin-left: 8em; line-height: 1em;}
.mceContentBody p.toc_level7 {margin-left: 10em; line-height: 1em;}
.mceContentBody p.toc_author {margin-left: 4em; font-style:italic; line-height: 1em;}