{% autoescape false %}
{% if menubar.hasHeader %}
<h2>{% if menubar.header.link %}<a href="{{ menubar.header.link }}">{% endif %}{{ menubar.header.content }}{% if menubar.header.link %}</a>{% endif %}</h2>
{% endif %}
{% if menubar.items %}
<ul class="menu {{ menubar.class }}">
{% for item in menubar.items %}
	<li{% if item.class %} class="{{ item.class }}"{% endif %}>
		<a href="{{ item.link }}"{% if item.hasTarget %} target="{{ item.target }}"{% endif %}>{{ item.content }}</a>{% if item.delimiter %}<span class="delimiter">{{ item.delimiter }}</span>{% endif %}
		{% if item.menu %}{{ include(template, { menubar: item.menu, template: template }, with_context = false) }}{% endif %}
	</li>
{% endfor %}
</ul>
{% endif %}
{% endautoescape %}
