{% autoescape false %}
{{ '{' }}
{% if menubar.hasHeader %}
	"header": {{ '{' }}
		"content": "{{ menubar.header.content }}",
		"link": "{{ menubar.header.link }}"
	{{ '}' }},
{% else %}
	"header": false,
{% endif %}
	"menu": [
		{% for item in menubar.items %}
		{{ '{' }}
			"content": "{{ item.content }}",
			"link": "{{ item.link }}",
			"menu": {% if item.menu %}{{ include(template, { menubar: item.menu, template: template }, with_context = false) }}{% else %}false{% endif %}
		{{ '}' }}
		{% if not loop.last %},{% endif %}
		{% endfor %}
	]
{{ '}' }}
{% endautoescape %}
