<div class="panel panel-default">
    <nav class="sidemenu">
        <div class="panel-heading"><h2>{{ content.contentInfo.name|simple_text_format }}</h2></div>
        <div class="panel-body collapse-menu collapse in">
            {{ menubar(
                {
                    id: 'side-nav',
                    class: "nav nav-pills nav-stacked",
                    items: [
                        {
                            content: 'Current Issue',
                            link: sitelink( get_current_bulletin_issue( location.id ), quote = false )
                        },
                        {
                            content: 'Browse All Issues',
                            link: sitelink( location.id, quote = false )
                        },
                        {
                            content: 'Search the Bulletin',
                            link: '/bulletin/search'
                        }
                    ]
                },
                template = "ProjectSiteBundle:menu:side_menu.html.twig"
            ) }}
        </div>
    </nav>
</div>
