{% if location is defined and not pagedata.is_homepage %}
    {{ menubar(
        {
            id: 'side-nav',
            include_root: false,
            orientation: 'vertical',
            header: false,
            menu_root: location.parentLocationId,
            current_only: true,
            menu_depth: 1,
            class: "nav nav-pills nav-stacked",
            filter: [
                {
                    location_priority: {
                        BETWEEN: [0,1000]
                    }
                },
                {
                    content_type_identifier: {
                        NIN: ['article', 'bulletin_article', 'bulletin_issue', 'banner', 'content_box', 'footer', 'jil_pdf', 'event', 'faq']
                    }
                }
            ],
            sort: 'menu_root'
        },
        template = "ProjectSiteBundle:menu:side_menu.html.twig"
    ) }}
{% endif %}
