{% if not member is defined or not member %}
    <a data-toggle="collapse" data-target="#nav-login-dropdown" href="#" class="collapsed">
        <span>Log In</span>
        <i class="fa fa-chevron-down"></i>
    </a>

    <div class="login-dropdown collapse" id="nav-login-dropdown">
        <div class="mla-form form-login editable">
            {% include "ProjectMemberBundle:parts:misc/login_form.html.twig" %}
        </div>
    </div>

{% else %}
    {# Get Username via API #}
    {% set username = "" %}
    {% if member.getApiData() %}
        {% if member.getMemberStatus() == MEMBER_STATUS_DEPARTMENT %}
            {% set username = member.getApiData().get("general[affiliation]", null, true) ~ " - " ~ member.getApiData().get("general[name]", null, true) ~ " [L" ~ member_access_level ~ "]" %}
        {% elseif member.getApiData().get("authentication").username is defined and member.getApiData().get("authentication").username %}
            {% set username = member.getApiData().get("authentication").username  %}
        {% elseif member.getApiData().get("general").first_name is defined and member.getApiData().get("general").last_name is defined %}
            {% set username = member.getApiData().get("general").last_name ~ ", " ~ member.getApiData().get("general").first_name %}
        {% endif %}
    {% elseif member.getEzUser() %}
        {% set username = member.getEzUser().login %}
    {% endif %}

    <a data-toggle="collapse" data-target="#nav-member-dropdown" href="#" class="collapsed">
        <span title="{{ username }}">{% if member.getMemberStatus() == MEMBER_STATUS_EZUSER %}[eZ] {% endif %}{{ username }}</span>
        <i class="fa fa-chevron-down"></i>
    </a>

    <div id="nav-member-dropdown" class="login-dropdown logged-in collapse">
        <ul>
            {% if ezpublish.siteaccess.name == "site" %}
                <li>
                    {# Ez User #}
                    {% if member.getMemberStatus() == MEMBER_STATUS_EZUSER %}
                        {% if location is defined and location %}
                            <a href="{{ url(location, {"siteaccess" : "site_admin"}) }}">eZ Publish Backend</a>
                        {% else %}
                            <a href="{{ url("ez_urlalias", {"locationId" : 2, "siteaccess" : "site_admin"}) }}">eZ Publish Backend</a>
                        {% endif %}
                    {# In Join Process... #}
                    {% elseif member.getMemberStatus() == MEMBER_STATUS_JOIN %}
                        <a href="{{ path("JoinIndex") }}">Resume Member Signup</a>
                    {# Normal member #}
                    {% elseif member.getMemberStatus() != MEMBER_STATUS_DEPARTMENT %}
                         <a href="{{ path("UserMain") }}">My MLA</a>
                    {% endif %}
                </li>
            {% endif %}
            <li>
                <a href="{{ path("logout") }}">Sign Out</a>
            </li>
        </ul>
    </div>
{% endif %}