<div class="row greybg">
    <div class="col-lg-8 col-md-8 col-sm-8 col-lg-push-4 col-md-push-4 col-sm-push-4 col-xs-12">
        {% block top_right_zone %}{% endblock %}
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-lg-pull-8 col-md-pull-8 col-sm-pull-8 col-xs-12">
        {% block top_left_zone %}{% endblock %}
    </div>
</div>
<div class="row whitebg">
    <div class="col-lg-4 col-md-4 col-sm-12">
        {% block bottom_left_zone %}{% endblock %}
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
        {% block bottom_center_zone %}{% endblock %}
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
        {% block bottom_right_zone %}{% endblock %}
    </div>
</div>