<div class="col-sm-12">

    {% if location is defined %}
    {{
        render(
            controller(
                "ProjectSiteBundle:General:Banner", { "template" : "ProjectSiteBundle:parts:banners.html.twig", "location" : location }
            )
        )
    }}
    {% endif %}

    <div class="col-lg-12">
        {% block main_content_area %}{% endblock %}
    </div>

</div>