<!-- Main Content Area -->
<div class="col-sm-8 col-sm-push-4 col-md-9 col-md-push-3">

    {% if location is defined %}
    {{
        render(
            controller(
                "ProjectSiteBundle:General:Banner", { "template" : "ProjectSiteBundle:parts:banners.html.twig", "location" : location }
            )
        )
    }}
    {% endif %}

    <!-- Content -->
    <div class="col-lg-12">
        {% block main_content_area %}{% endblock %}
    </div>
    <!-- /Content -->

</div>
<!-- /Main Content Area -->

<!-- Left Sidebar -->
<div class="sidebar col-sm-4 col-sm-pull-8 col-md-3 col-md-pull-9">
    {% block sidebar %}
        {% if location is defined and not pagedata.is_homepage and not ( 14710 in location.path ) %}
            {{ menubar(
                {
                    id: 'side-nav',
                    include_root: false,
                    orientation: 'vertical',
                    header: true,
                    menu_root: location.parentLocationId,
                    current_only: true,
                    menu_depth: 1,
                    class: "nav nav-pills nav-stacked",
                    filter: [
                        {
                            location_priority: {
                                BETWEEN: [0,1000]
                            }
                        },
                        {
                            content_type_identifier: {
                                NIN: ['article', 'bulletin_article', 'bulletin_issue', 'banner', 'content_box', 'footer', 'jil_pdf', 'event', 'faq']
                            }
                        }
                    ],
                    sort: 'menu_root'
                },
                template = "ProjectSiteBundle:menu:side_menu.html.twig"
            ) }}
        {% endif %}
        {% if pagedata.has_content_box_list is defined and pagedata.has_content_box_list %}{{ render( controller( "ProjectSiteBundle:ContentBox:index", { location: location, template: "ProjectSiteBundle:parts/contentbox:list.html.twig" } ) ) }}{% endif %}
    {% endblock %}
</div>
<!-- /Left Sidebar -->
