{% extends "ProjectSiteBundle::pagelayout.html.twig" %}

{% block page_title %}Shopping Cart{% endblock %}

{# Breadcrumbs #}
{% block breadcrumbs %}
    {% include "ProjectProductBundle:menu:breadcrumbs.html.twig" %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        .promo-alert.alert {
            padding: 10px 12px;
            margin-bottom: 5px;
        }
    </style>
{% endblock %}

{# Javascript #}
{% block javascript %}
    {{ parent() }}
    {% include "ThinkCreativeFormBundle:parts:ajax_validation.html.twig" with {"form" : promo.form, "TC_FORM_AJAX_VALIDATION_CALLBACK": "tcFormSetFeedback"} %}
{% endblock %}

{% block content %}

    <div class="col-sm-6 col-md-6 col-xs-12">
        <h1 id="pagetitle">Your Shopping Cart</h1>
    </div>

    <div class="col-sm-6 col-md-6 col-xs-12 text-right checkout-area">
        <a href="{{ path("ez_urlalias", {"locationId" : product_location_id}) }}" class="btn btn-back">
            Continue Shopping
        </a>
        &nbsp;&nbsp;
        <a href="{% if order.getProductList()|length >= 0 %}{{ path("ProductCheckout", {'cart_type' : order.getOrderType() }) }}{% else %}javascript: void(0);{% endif %}" class="btn btn-mla btn-next"{% if order.getProductList()|length <= 0 %} disabled="disabled"{% endif %}>Checkout</a>
    </div>
    <div class="clear"></div>


    <div class="cart-full-container">

        <div class="panel-heading">
            <div class="col-xs-6 col-sm-9"></div>
            <div class="hidden-xs col-xs-4 col-sm-2">
                <h2>Quantity</h2>
            </div>
            <div class="hidden-xs col-xs-2 col-sm-1">
                <h2>Price</h2>
            </div>
            <div class="clear"></div>
        </div>

        <div class="cart-items">
            {% for productId, quantity in order.getProductList() %}
                {% set product = order.getProductFromId(productId) %}
                <div class="cart-product-item">
                    <div class="col-xs-12 col-sm-9">
                        <div class="col-xs-4 col-md-2 col-sm-4">
                            {% set productImage = product.getImage() %}
                            {% if productImage.cover_image_field.value.uri is defined and productImage.cover_image_field.value.uri %}
                                <div class="product-image">
                                    <a href="{{ path("ez_urlalias", {"locationId" : product.getLocationId() }) }}">
                                        <img src="{{ asset(ez_image_alias(productImage.cover_image_field, productImage.cover_image_version, "listitem").uri) }}" alt="{{ productImage.cover_image_alt }}" />
                                    </a>
                                </div>
                            {% else %}
                                <div class="product-image no-image">
                                    No Image
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-xs-8">
                            <div class="col-md-10 col-sm-8"><h2><a href="{{ path("ez_urlalias", {"locationId" : product.getLocationId() }) }}">{{ product.getName()|simple_text_format }}</a></h2></div>
                            <div class="col-xs-12">
                                {% if product.getVariantName() or  product.getIsbn() %}
                                    <p>
                                        Edition: {{ product.getVariantName() }} ({{ product.getIsbn() }})
                                    </p>
                                {% endif %}
                                <p>
                                {% set isFirst = true %}
                                {% for discount in discounts %}
                                    {% if discount.appliesToProduct(product.getProductContent()) %}
                                        {% if isFirst %}
                                            {% set isFirst = false %}
                                            Discount:
                                        {% endif %}
                                        {% spaceless %}
                                            <span class="discount_{{ discount.getContentObjectId() }}">
                                                {{ discount.getName() }}
                                                ({% if discount.getFunction() != discount_types.price %}-{% endif %}{% if discount.getFunction() != discount_types.percentage %}${% endif %}{{ discount.getDiscountValue() }}{% if discount.getFunction() == discount_types.percentage %}%{% endif %})
                                            </span>
                                            {% if not isFirst and not loop.last %},{% endif %}
                                        {% endspaceless %}
                                    {% endif %}
                                {% endfor %}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="hidden-sm hidden-md hidden-lg col-xs-6">
                        <h2>Quantity</h2>
                    </div>
                    <div class="hidden-sm hidden-md hidden-lg col-xs-6">
                        <h2>Price</h2>
                    </div>

                    <div class="col-xs-6 col-sm-2 cart-item-quantity">
                        <form action="{{ path("ProductSetCart", {"cart_type" : order.getOrderType(), "product_id_hash" : productId}) }}" method="GET">
                            <input type="text" value="{{ quantity }}" class="form-control input-sm" name="quantity" />
                            <input type="submit" value="Set" class="btn btn-default btn-sm" />
                        </form>
                        <a href="{{ path("ProductRemoveFromCart", {"cart_type" : order.getOrderType(), "product_id_hash" : productId}) }}" class="cart-remove-btn">
                            REMOVE
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-1">
                        {% set productDiscountPrice = 0 %}
                        {% for discount in discounts %}
                            {% if discount.appliesToProduct(product.getProductContent()) %}
                                {% set productDiscountPrice = productDiscountPrice + discount.getProductDiscountPrice(product.getProductContent(), product.getVariantId()) %}
                            {% endif %}
                        {% endfor %}
                        {% if productDiscountPrice %}<del>{% endif %}
                        ${{ product.getPrice()|number_format(2, ".", ",") }}
                        {% if productDiscountPrice %}
                            </del><br/>
                            ${{ (product.getPrice() - productDiscountPrice)|number_format(2, ".", ",") }}
                        {% endif %}
                    </div>
                    <div class="clear"></div>
                </div>
            {% endfor %}
            {% if order.getProductList()|length == 0 %}
                <div class="cart-product-item text-center">
                    <em>No items in cart.</em>
                </div>
                <div class="clear"></div>
            {% endif %}
        </div>

        <div class="panel-footer">
            <div class="col-md-6 col-sm-4 col-xs-12">
                {% if promo.valid and promo.value %}
                    <div class="promo-alert alert alert-success">
                        The promo code "{{ promo.value }}" is valid.<br/>
                        <a href="{{ path("ProductClearPromoCode", {"cart_type" : order.getOrderType()}) }}" class="cart-remove-btn">
                            REMOVE
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </a>
                    </div>
                {% elseif not promo.valid or not promo.value %}
                    {% form_theme promo.form "ThinkCreativeFormBundle:parts:form_theme.html.twig" %}
                    <div class="mla-form">
                        {{ form_start(promo.form) }}

                        {{ form_row(promo.form.promo_code) }}
                        <button type="submit" name="submit" class="btn btn-promo">
                            <span class="glyphicon glyphicon-repeat"></span>
                            Update Cart
                        </button>

                        {{ form_end(promo.form) }}
                    </div>
                {% endif %}

            </div>
            <div class="col-md-5 col-sm-8 col-xs-12 pull-right text-right">
                {% include "ProjectProductBundle:parts:order_total.html.twig" %}
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="col-xs-12 text-right checkout-area">
        <a href="{{ path("ez_urlalias", {"locationId" : product_location_id}) }}" class="btn btn-back">
            Continue Shopping
        </a>
        &nbsp;&nbsp;
        <a href="{% if order.getProductList()|length >= 0 %}{{ path("ProductCheckout", {'cart_type' : order.getOrderType() }) }}{% else %}javascript: void(0);{% endif %}" class="btn btn-mla btn-next"{% if order.getProductList()|length <= 0 %} disabled="disabled"{% endif %}>Checkout</a>
    </div>

    {# Related Products #}
    <div class="related-products col-sm-3 col-xs-12">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Related Products</h3>
            </div>
            <div class="panel-body collapse-menu collapse in">

                {% set relatedCount = 0 %}
                {% for cartProduct, quantity in order.getProductList() %}
                    {% for product in order.getProductFromId(cartProduct).getRelatedProductIds() %}
                        {% set relatedCount = relatedCount + 1 %}

                        {% if relatedCount < 5 %}
                            <div class="cart-product-item">
                                <div class="col-md-5 col-sm-5">
                                    {% set productImage = order.getProductFromId(product).getImage() %}
                                    {% if productImage.cover_image_field.value.uri is defined and productImage.cover_image_field.value.uri %}
                                        <div class="product-image">
                                            <a href="{{ path("ez_urlalias", {"locationId" : order.getProductFromId(product).getLocationId() }) }}">
                                                <img src="{{ asset(ez_image_alias(productImage.cover_image_field, productImage.cover_image_version, "listitem").uri) }}" alt="{{ productImage.cover_image_alt }}" />
                                            </a>
                                        </div>
                                    {% else %}
                                        <div class="product-image no-image">No Image</div>
                                    {% endif %}
                                </div>
                                <div class="col-md-7 col-sm-7">
                                    <a href="{{ path("ez_urlalias", {"locationId" : order.getProductFromId(product).getLocationId() }) }}">{{ order.getProductFromId(product).getName()|raw }}</a>
                                </div>
                                <div class="clear"></div>
                            </div>
                        {% endif %}

                    {% endfor %}
                {% endfor %}
                {% if relatedCount == 0 %}
                    <div class="text-center">
                        No related products found.
                    </div>
                {% endif %}

            </div>
        </div>

    </div>

    {# Cancelation Policy / Shipping #}
    <div class="col-sm-9 col-xs-12">
        <h2>Cancelation Policy</h2>
        <ul>
            <li>Orders may not be canceled once they have been shipped.</li>
        </ul>

        <h2>Shipping Information</h2>
        <p>
            For faster shipping on orders from the United Kingdom, Continental Europe, Africa, the Middle East, Asia,
            and Australasia, please place orders through <a href="#">Eurospan</a>.
        </p>

        <ul>
            <li>Please allow 2–4 weeks for delivery; for overseas orders placed directly from the MLA bookstore allow 3–6 weeks.</li>
            <li>US orders shipped via UPS. Shipping rate based on weight and destination zip code.</li>
            <li>Orders to Alaska, Guam, Hawaii, Puerto Rico, and US Virgin Islands shipped via US Postal Service Priority Mail. US$10.00 for shipping and handling of the first item and US$1.70 for each additional item.</li>
            <li>Orders to Canada and Mexico shipped Air Parcel Post or Air Letter Post: US$10.00 for shipping andhandling of the first item and US$1.70 for each additional item</li>
            <li>Orders to other countries shipped Air Parcel Post or Air Letter Post: US$14.00 for shipping and handling of the first item and US$2.75 for each additional item.</li>
            <li>Items remain in your shopping cart for 30 days or until you check out.</li>
        </ul>
    </div>
    <div class="clear"></div>

{% endblock %}