{% extends "ProjectSiteBundle::pagelayout.html.twig" %}

{% block page_title %}Checkout{% endblock %}

{# Breadcrumbs #}
{% block breadcrumbs %}
    {% include "ProjectProductBundle:menu:breadcrumbs.html.twig" %}
{% endblock %}

{# Javascript #}
{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {

            function billingAddress()
            {
                if ($("#checkout_billing_same").prop("checked")) {
                    $("#checkout_billing").find("input, select").addClass("validation-ignore")
                    $("#checkout_billing").find("input, select").attr("disabled", "disabled");
                } else {
                    $("#checkout_billing").find("input, select").removeClass("validation-ignore")
                    $("#checkout_billing").find("input, select").removeAttr("disabled");
                }
                $("#checkout_billing_same").find("input, select").each(function() {
                    validateField($(this));
                });
                $("#checkout_billing_same").removeAttr("disabled");
            }
            billingAddress();

            $("#checkout_billing_same").change(function() {
                billingAddress();
            });

            //$(".form-row-shipping, .form-row-contact, .form-row-billing").addClass('row');

        });
    </script>
    {% include "ThinkCreativeFormBundle:parts:ajax_validation.html.twig" with {"form" : form, "TC_FORM_AJAX_VALIDATION_CALLBACK": "tcFormSetFeedback"} %}
{% endblock %}

{% block content %}
    {% embed "ProjectSiteBundle:layouts:two_column.html.twig" %}
        {% block main_content_area %}

            <h1 id="pagetitle">Checkout</h1>
            <p>Please enter your information below. Required fields are designated with an asterisk (*)</p>

            {% form_theme form "ThinkCreativeFormBundle:parts:form_theme.html.twig" %}

            <div class="mla-form checkout">
                {{ form_start(form) }}

                <div class="form-row form-row-shipping row">
                    {{ form_label(form.shipping) }}
                    <div id="checkout_shipping">
                        {{ form_row(form.shipping.shippingFirstName) }}
                        {{ form_row(form.shipping.shippingLastName) }}
                        <div class="clear"></div>
                        {{ form_row(form.shipping.shippingCompany) }}
                        <div class="clear"></div>
                        {{ form_row(form.shipping.shippingAddress1) }}
                        {{ form_row(form.shipping.shippingAddress2) }}
                        <div class="clear"></div>
                        {{ form_row(form.shipping.shippingCity) }}
                        <div class="clear"></div>
                        {{ form_row(form.shipping.shippingState) }}
                        {{ form_row(form.shipping.shippingPostcode) }}
                        {{ form_row(form.shipping.shippingCountry) }}
                    </div>
                </div>

                <div class="form-row form-row-contact row">
                    {{ form_label(form.contact) }}
                    {{ form_widget(form.contact) }}
                </div>                

                <div class="form-row form-row-billing row">
                    {{ form_label(form.billing) }}
                    <div id="checkout_billing">
                        {{ form_row(form.billing.same) }}
                        <div class="clear"></div>
                        {{ form_row(form.billing.billingFirstName) }}
                        {{ form_row(form.billing.billingLastName) }}
                        <div class="clear"></div>
                        {{ form_row(form.billing.billingCompany) }}
                        <div class="clear"></div>
                        {{ form_row(form.billing.billingAddress1) }}
                        {{ form_row(form.billing.billingAddress2) }}
                        <div class="clear"></div>
                        {{ form_row(form.billing.billingCity) }}
                        <div class="clear"></div>
                        {{ form_row(form.billing.billingState) }}
                        {{ form_row(form.billing.billingPostcode) }}
                        {{ form_row(form.billing.billingCountry) }}
                    </div>
                </div>

                <div class="form-row form-row-payment row">
                    <div class="col-xs-8">
                        <label>Payment Information</label>

                        <div class="cards">
                            <div class="card pull-left">
                                <img src="{{ asset("/bundles/projectproduct/images/payment/credit-visa.png") }}" alt="Visa" class="img-responsive" />
                            </div>
                            <div class="card pull-left">
                                <img src="{{ asset("/bundles/projectproduct/images/payment/credit-mastecard.png") }}" alt="Mastercard" class="img-responsive" />
                            </div>
                            <div class="card pull-left">
                                <img src="{{ asset("/bundles/projectproduct/images/payment/credit-amex.png") }}" alt="American Express" class="img-responsive" />
                            </div>
                            <div class="card pull-left">
                                <img src="{{ asset("/bundles/projectproduct/images/payment/credit-discover.png") }}" alt="Discover" class="img-responsive" />
                            </div>
                            <div class="clear"></div>
                        </div>

                        {{ form_row(form.payment.number) }}

                        <div class="form-row form-row-expire">
                            {{ form_label(form.payment.expire) }}
                            {{ form_widget(form.payment.expire) }}                        
                            <div class="clear"></div>
                        </div>

                        <div class="form-row form-row-cvv pull-left">
                            {{ form_widget(form.payment.cvv) }}
                        </div>
                        <div class="pull-left ccv-help">
                            <a href="#">What is this?</a>
                        </div>
                        <div class="clear"></div>

                    </div>
                    <div class="col-xs-4 pull-right">
                        <img src="{{ asset("/bundles/projectproduct/images/payment/authorize-net.png") }}" alt="Authorize.Net" class="img-responsive authorizenet-badge" />
                        <div class="clear"></div>
                        <div class="cc-secure">
                            <img src="{{ asset("/bundles/projectproduct/images/payment/lock.png") }}" alt="Lock" class="img-responsive" />
                            <p>
                                Secure online<br/>
                                payment processing
                            </p>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="btn-group pull-right">
                    {{ form_row(form.buttons.next )}}
                    <a href="{{ path("ProductCart", {cart_type : order.getOrderType() }) }}" class="btn btn-back pull-right">
                        Back                        
                    </a>
                    <div class="feedback-area"></div>
                </div>

                {{ form_end(form) }}
            </div>

        {% endblock %}

        {% block sidebar %}
            {{ render(controller(
                "ProjectProductBundle:Order:cart",
                {
                    'view' : 'embed',
                    'cart_type' : order.getOrderType()
                }
            )) }}

            <a href="{{ path("ProductCart", {'cart_type' : order.getOrderType()}) }}">&#8592; View Cart</a>
        {% endblock %}

    {% endembed %}
{% endblock %}