{% extends "ProjectSiteBundle::pagelayout.html.twig" %}

{% block page_title %}{{ content.contentInfo.name|simple_text_format|striptags }}{% endblock %}

{% block content %}
{% embed "ProjectSiteBundle:layouts:two_column.html.twig" %}
    {% block main_content_area %}

        <h1 id="pagetitle">{{ content.contentInfo.name|simple_text_format }}</h1>
        {% if not ez_is_field_empty(content, "description") %}
            <div class="fieldtype-xmltext">
                {{ ez_render_field(content, 'description') }}
            </div>
        {% endif %}

        {% if content.getField('show_children').value.bool %}
            {{ render_esi(controller("ProjectSiteBundle:SubItem:subItemList", {
                "contentType" : [ 'folder', 'article', 'event', 'event_calendar', 'link', 'imported_page', 'product' ],
                "template" : "ProjectSiteBundle:parts:subitem_list_pagination.html.twig",
                "parentLocationId" : location.id,
                "viewType" : "line",
                "limit" : app.request.query.get("limit") ?: (content.fields.subitem_limit['eng-US'].value ?: 10),
                "offset" : app.request.query.get("offset") ?: 0,
            }))}}
        {% endif %}

    {% endblock %}
    {% block sidebar %}
        {% include "ProjectProductBundle:menu:side_menu.html.twig" %}
        {{ parent() }}
    {% endblock %}
{% endembed %}

{% endblock %}
