{% extends "ProjectSiteBundle::pagelayout.html.twig" %}

{% block page_title %}Payment Error{% endblock %}

{# Breadcrumbs #}
{% block breadcrumbs %}
    {% include "ProjectProductBundle:menu:breadcrumbs.html.twig" %}
{% endblock %}

{% block content %}
    <h1 id="pagetitle">An Error Occurred</h1>            
    <h2>{{ error_message }}</h2>

    <div class="pull-right">
        <a href="{{ path("ProductCheckout", {'cart_type' : order.getOrderType() }) }}" class="btn btn-default">Back</a>
    </div>
{% endblock %}