{% extends "ProjectSiteBundle::pagelayout.html.twig" %}

{% block page_title %}Order Confirmation{% endblock %}

{# Breadcrumbs #}
{% block breadcrumbs %}
    {% include "ProjectProductBundle:menu:breadcrumbs.html.twig" %}
{% endblock %}

{% block content %}
    {% embed "ProjectSiteBundle:layouts:two_column.html.twig" %}
        {% block main_content_area %}

            <div class="thank-you">
                <h1 id="pagetitle">Thank You!</h1>            

                <h2>Your order id is {{ orderData.id }}.</h2>

                <p>
                    An e-mail confirmation and receipt will be sent to {{ orderData.email }}
                </p>
                <p class="bottom-pad">
                    <a href="{{ path("ProductOrderReceipt", {'shopify_order_id' : orderData.id }) }}">Print receipt</a>
                </p>
                <p>
                </p>
                <p>
                    Would you like to save 30% of your next purchase? <a href="{{ path("JoinIndex") }}">Become a member</a>.
                </p>
                <p>
                    Would you like to hear about new titles and order updates from the MLA? <a href="#">Join our mailing list</a>.
                </p>
            </div>

        {% endblock %}

        {% block sidebar %}

            <div class="panel panel-default thank-you-page">
                <div class="panel-heading">
                    <h2 class="panel-title">Related Links</h2>
                </div>
                <div class="panel-body collapse-menu collapse in">
                    <ul>
                        <li><a href="#">Cancelation Policy</a></li>
                        <li><a href="#">Shipping Information</a></li>
                        <li><a href="#">Join our mailing list</a></li>
                    </ul>
                </div>
            </div>

        {% endblock %}

    {% endembed %}
{% endblock %}