{% extends "ProjectSiteBundle::pagelayout.html.twig" %}

{% block page_title %}Order Cancelation{% endblock %}

{# Breadcrumbs #}
{% block breadcrumbs %}
    {% include "ProjectProductBundle:menu:breadcrumbs.html.twig" %}
{% endblock %}


{% block content %}
    {% embed "ProjectSiteBundle:layouts:two_column.html.twig" %}
        {% block main_content_area %}

            <h1 id="pagetitle">Order Canceled</h1>            
            <p>
                ......END PROCESS......
            </p>

        {% endblock %}

        {% block sidebar %}
        {% endblock %}

    {% endembed %}
{% endblock %}