{% extends "ProjectSiteBundle::pagelayout.html.twig" %}

{% block page_title %}{{ content.contentInfo.name|simple_text_format|striptags }}{% endblock %}

{% block content %}
    <div id="search-page">
        {% include "ProjectProductBundle:parts:product_category.html.twig" %}
    </div>
{% endblock %}