{% extends "ProjectSiteBundle::pagelayout.html.twig" %}
{% set NONSERIES_LOCATION_ID = 17658 %}

{% block page_title %}{{ content.contentInfo.name|simple_text_format|striptags }}{% endblock %}

{% block breadcrumbs %}
    {% if location is defined and not pagedata.is_homepage %}

        {% set items = [] %}
            
        {% for breadcrumb in location|location_path(ezpublish.rootlocation.id)|menubar_items() %}
            {% if breadcrumb.class != "location-id-" ~ NONSERIES_LOCATION_ID %}
                {% set items = items|merge([breadcrumb]) %}
            {% endif %}
        {% endfor %}

        {{ menubar(
            {
                "items": items
            },
            template = "ProjectSiteBundle:menu:breadcrumb.html.twig"
        ) }}

    {% endif %}
{% endblock %}

{% macro addtocart(content, order) %}

    {% if content.getFieldValue("variants").values|length > 0 and content.getFieldValue("status").selection.0 == 1 %}

        <form class="product-addtocart" action="{{ path("ProductAddToCartQuery", {'cart_type' : order.getOrderType() }) }}" method="GET">

            <div class="col-md-6 variant-selection">

                {# only one variant #}
                {% if content.getFieldValue("variants").values|length == 1 %}

                    <div class="price-single">
                        {{ content.getFieldValue("variants").values.0.name }}
                        (${{ content.getFieldValue("variants").values.0.unit_price|number_format(2, '.', ',') }})
                    </div>
                    <input type="hidden" name="product_id_hash" value="{{ content.contentInfo.id }}-:-{{ content.getFieldValue("variants").values.0.id }}" />

                {# >1 variant #}
                {% else %}

                    <div class="dropdown dropdown-cart" data-selected="{{ content.getFieldValue("variants").values.0.id }}" style="display:none;">
                        <a class="btn btn-default" data-toggle="dropdown" href="#" title="{{ content.getFieldValue("variants").values.0.name }} (${{ content.getFieldValue("variants").values.0.unit_price|number_format(2, '.', ',') }})">
                            <span class="btn-text">
                                {{ content.getFieldValue("variants").values.0.name }}
                                (${{ content.getFieldValue("variants").values.0.unit_price|number_format(2, '.', ',') }})
                            </span>
                            <span class="caret caret-shop"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            {% for variant in content.getFieldValue("variants").values %}
                                <li data-value="{{ content.contentInfo.id }}-:-{{ variant.id }}"{% if loop.first %} style="display:none;"{% endif %}>
                                    <a href="javascript: void(0);">
                                        {{ variant.name }} (${{ variant.unit_price|number_format(2, '.', ',') }})
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <select name="product_id_hash" class="form-control dropdown">
                        {% for variant in content.getFieldValue("variants").values %}
                            <option value="{{ content.contentInfo.id }}-:-{{ variant.id }}">{{ variant.name }} (${{ variant.unit_price|number_format(2, '.', ',') }})</option>
                        {% endfor %}
                    </select>

                {% endif %}

            </div>

            <div class="col-md-6">
                <button name="submit" class="btn btn-default btn-mla btn-cart">
                    <p>Add to Cart</p>
                </button>
            </div>

            <div class="clear"></div>

        </form>

    {% endif %}
{% endmacro %}
{% import _self as self %}

{% block javascript %}
    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="https://ws.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "ur-1179569c-19fb-8d40-93df-7e18c7ba12e", doNotHash: true, doNotCopy: true, hashAddressBar: false});</script>
    {{ parent() }}
{% endblock %}

{% block content %}
    {% embed "ProjectSiteBundle:layouts:two_column.html.twig" %}
        {% block main_content_area %}

            <div class="product-page">

                {# Right Column #}
                <div class="col-md-6 col-xs-12 pull-right">

                    {# Product Title #}
                    <h1 id="pagetitle" class="product-title">{{ content.getFieldValue("name")|trim|simple_text_format }}</h1>

                    {# Product Edition #}
                    {% if not ez_is_field_empty(content, "edition") and content.getFieldValue("edition")|trim %}
                        <h3 class="product-edition">{{ content.getFieldValue("edition")|trim|simple_text_format }}</h3>
                    {% endif %}

                    {# Product Data #}
                    <div class="product-data">

                        {# Get authors, editors, etc #}
                        <ul>
                        {% for name, description in {
                            'authors'           : ['Author', 'Authors'],
                            'editors'           : ['Editor', 'Editors'],
                            'translators'       : ['Translator', 'Translators'],
                            'compilers'         : ['Compiler', 'Compilers']
                        } %}
                            {% if not ez_is_field_empty(content, name) and content.getFieldValue(name)|trim %}
                                <li>

                                    {# Plural description #}
                                    {% if content.getFieldValue(name)|trim|split(",")|length > 1 %}
                                        {{ description.1 }}:

                                    {# Singular description #}
                                    {% else %}
                                        {{ description.0 }}:
                                    {% endif %}
                                    {{ content.getFieldValue(name)|trim }}
                                </li>
                            {% endif %}
                        {% endfor %}
                        </ul>

                        {# Get page count, publication year #}
                        <ul>
                        {% for name, description in {
                            'page_count'        : 'Pages',
                            'publication_year'  : 'Published'
                        } %}
                            {% if not ez_is_field_empty(content, name) and content.getFieldValue(name)|trim %}
                                <li class="{{ name }}">{{ description }}: {{ content.getFieldValue(name)|trim }}</li>
                            {% endif %}
                        {% endfor %}
                        </ul>

                        {# Series #}
                        {% if product_series is defined and location.parentLocationId != NONSERIES_LOCATION_ID %}
                            <div class="product-series">
                                <a href="{{ path("ez_urlalias", {"locationId" : product_series.location_id }) }}">
                                    {{ product_series.name|simple_text_format }}
                                </a>
                            </div>
                        {% endif %}

                        {# ISBNs #}
                        <ul>
                        {% for variant in content.getFieldValue("variants").values %}
                            {% if variant.isbn|trim %}
                                <li>ISBN: {{ variant.isbn }}{% if variant.name %} ({{ variant.name }}){% endif %}</li>
                            {% endif %}
                        {% endfor %}
                        </ul>

                    </div>

                </div>

                {# Left Column #}
                <div class="col-md-6 col-xs-12">

                    {# Product Image #}
                    <div class="product-image{% if not cover_image_field.value.uri is defined or not cover_image_field.value.uri %} no-image{% endif %}">
                        {% if cover_image_field.value.uri is defined and cover_image_field.value.uri %}
                            <img src="{{ asset( ez_image_alias(cover_image_field, cover_image_version, "bookstore_large").uri ) }}" alt="{{ cover_image_alt }}" />
                        {% else %}
                            No Image Available
                        {% endif %}
                    </div>

                    {# Product Options #}
                    <div class="product-options">

                        {# E-book selection #}
                        {% if content.getFieldValue("ebooks").values %}
                        <div class="col-md-6 ebooks">
                            <div class="dropdown dropdown-cart">
                                <a class="btn btn-default" data-toggle="dropdown" href="#">Electronic Editions <span class="caret caret-shop"></span></a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    {% for ebook in content.getFieldValue("ebooks").values %}
                                        <li>
                                            <a href="{{ ebook.url }}" target="_blank" class="dropdown-link">
                                                <span class="pull-left">{{ ebook.name }}</span>
                                                <i class="glyphicon glyphicon-new-window pull-right"></i>
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        {% endif %}




                        {# Share #}
                        <div class="{% if content.getFieldValue("ebooks").values %}col-md-6{% else %}col-md-12{% endif %}">
                            <div class="dropdown dropdown-cart">
                                <a class="btn btn-default" data-toggle="dropdown" href="#">Share &nbsp;&nbsp;<img src="/bundles/projectproduct/images/social_icons_btn.png" alt="Email, Facebook, Twitter, More" /> <span class="caret caret-shop"></span></a>

                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <li class="share-this">
                                        <span class='st_sharethis_large' displayText='ShareThis'></span>
                                        <span class='st_facebook_large' displayText='Facebook'></span>
                                        <span class='st_twitter_large' displayText='Tweet'></span>
                                        <span class='st_linkedin_large' displayText='LinkedIn'></span>
                                        <span class='st_pinterest_large' displayText='Pinterest'></span>
                                        <span class='st_email_large' displayText='Email'></span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="clear"></div>

                        {# Variant Selection and add to cart #}
                        {{ self.addtocart(content, order) }}

                    </div>
                    <div class="clear"></div>

                </div>

                <div class="clear"></div>

                {# Product status messages #}
                {% if content.getFieldValue("message").selection.0 is defined and content.getFieldValue("message").selection.0 > 0 %}
                    <div class="alert alert-warning spacer" role="alert">
                        {{ status_messages[content.getFieldValue("message").selection.0] }}
                    </div>
                {% endif %}

                {# Blurb #}
                {% if not ez_is_field_empty(content, "short_description") %}
                    <div class="blurb">
                        {{ ez_render_field(content, "short_description") }}
                    </div>
                {% endif %}


                {# Tabs #}
                <ul class="nav nav-tabs responsive" role="tablist">

                    {% set hasTab = false %}

                    {% if not ez_is_field_empty(content, "description") %}
                        <li class="active"><a href="#product-description" role="tab" data-toggle="tab">Description</a></li>
                        {% set hasTab = true %}
                    {% endif %}

                    {% if not ez_is_field_empty(content, "contributors") %}                        
                        <li{% if not hasTab %} class="active"{% endif %}><a href="#product-contributors" role="tab" data-toggle="tab">Contributors</a></li>
                        {% set hasTab = true %}
                    {% endif %}

                    {% if not ez_is_field_empty(content, "tags") and content.getFieldValue("tags").tags|length > 0 %}
                        <li{% if not hasTab %} class="active"{% endif %}><a href="#product-subjects" role="tab" data-toggle="tab">Subjects</a></li>
                        {% set hasTab = true %}
                    {% endif %}

                    {% if not ez_is_field_empty(content, "table_of_contents") %}
                        <li{% if not hasTab %} class="active"{% endif %}><a href="#product-toc" role="tab" data-toggle="tab">Contents</a></li>
                        {% set hasTab = true %}
                    {% endif %}
                </ul>

                {# Tab content #}
                {% if hasTab %}
                    <div class="tab-content responsive">

                        {# Product description #}
                        {% if not ez_is_field_empty(content, "description") %}
                            <div class="tab-pane active" id="product-description">
                                {{ ez_render_field(content, "description") }}

                                {% if not ez_is_field_empty(content, "bio") %}
                                    {{ ez_render_field(content, "bio") }}
                                {% endif %}

                            </div>
                        {% endif %}

                        {# Contributors #}
                        {% if not ez_is_field_empty(content, "contributors") %}
                            <div class="tab-pane{% if ez_is_field_empty(content, "description") %} active{% endif %}" id="product-contributors">
                                {{ ez_render_field(content, "contributors") }}
                            </div>
                        {% endif %}

                        {% if not ez_is_field_empty(content, "tags") and content.getFieldValue("tags").tags|length > 0 %}
                            <div class="tab-pane{% if ez_is_field_empty(content, "description") and  ez_is_field_empty(content, "contributors") %} active{% endif %}" id="product-subjects">
                                <ul>
                                    {% for tag in content.getFieldValue("tags").tags %}
                                        <li>
                                            <a href="{{ path("ProductSearch", { "subject" : tag.keyword|lower }) }}" >{{ tag.keyword }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}

                        {% if not ez_is_field_empty(content, "table_of_contents") %}
                            <div class="tab-pane{% if ez_is_field_empty(content, "description") and ez_is_field_empty(content, "contributors") and ez_is_field_empty(content, "tags") %} active{% endif %}" id="product-toc">
                                {{ ez_render_field(content, "table_of_contents") }}
                            </div>
                        {% endif %}
                    </div>
                {% endif %}

                <div class="clear"></div>


                {# Related Products #}
                {% if not ez_is_field_empty(content, "related_products") %}
                    <div class="product-related">
                        <h3>Related Products</h3>

                        {% for contentId in content.getFieldValue("related_products").destinationContentIds %}
                            {% if loop.index <= 4 %}
                                {{ render_esi(controller("ProjectProductBundle:Order:productContent", {'contentId' : contentId, "viewType" : "embed"})) }}
                            {% endif %}
                        {% endfor %}


                        <div class="clear"></div>
                    </div>
                {% endif %}

            </div>

        {% endblock %}

        {% block sidebar %}
            {% include "ProjectProductBundle:menu:side_menu.html.twig" %}
            {{ parent() }}
        {% endblock %}

    {% endembed %}
{% endblock %}