{% extends "ProjectSiteBundle::pagelayout.html.twig" %}

{% block page_title %}Receipt for Order ID {{ orderData.name }}{% endblock %}

{# Breadcrumbs #}
{% block breadcrumbs %}
    {% include "ProjectProductBundle:menu:breadcrumbs.html.twig" %}
{% endblock %}

{% block content %}

    {# Order receipt -- to be printed when above link is clicked #}
    <div id="order-receipt">
        <h1>Receipt for Order ID {{ orderData.id }}</h1>

        {# Shipping Address #}
        <div class="col-sm-6 col-xs-12">
            <h3>Shipping Address</h3>
            {{ orderData.shipping_address.name }}<br/>
            {{ orderData.shipping_address.address1 }}<br/>
            {% if orderData.shipping_address.address2 %}
                {{ orderData.shipping_address.address2 }}<br/>
            {% endif %}
            {{ orderData.shipping_address.city }} {{ orderData.shipping_address.province_code }}, {{ orderData.shipping_address.zip }}
        </div>

        {# Billing Address #}
        <div class="col-sm-6 col-xs-12">
            <h3>Billing Address</h3>
            {{ orderData.billing_address.name }}<br/>
            {{ orderData.billing_address.address1 }}<br/>
            {% if orderData.billing_address.address2 %}
                {{ orderData.billing_address.address2 }}<br/>
            {% endif %}
            {{ orderData.billing_address.city }} {{ orderData.billing_address.province_code }}, {{ orderData.billing_address.zip }}                
        </div>
        <div class="clear"></div>

        {# Items #}
        {% set itemTotal = 0 %}
        <div class="order-receipt-items col-md-12">
            <h3>Items</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Item Name</th>
                        <th>Price (ea.)</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in orderData.line_items %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>${{ item.price|number_format(2, '.', ',') }}</td>
                            <td>{{ item.quantity }}</td>
                        </tr>
                        {% set itemTotal = itemTotal + (item.price * item.quantity) %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="clear"></div>

        {# Totals #}
        <div class="order-receipt-totals">
            <div class="col-sm-3 col-xs-12">
                <strong>Sub Total</strong>
            </div>                
            <div class="col-sm-3 col-xs-12">
                ${{ itemTotal|number_format(2, '.', ',') }}
            </div>
            <div class="clear"></div>

            {% if orderData.total_discounts > 0 %}
                <div class="col-sm-3 col-xs-12">
                    <strong>Discounts</strong>
                </div>                
                <div class="col-sm-3 col-xs-12">
                    -${{ orderData.total_discounts|number_format(2, '.', ',') }}
                </div>
                <div class="clear"></div>
            {% endif %}

            {% set shippingTotal = 0 %}
            {% for shippingLine in orderData.shipping_lines %}
                {% set shippingTotal = shippingTotal + shippingLine.price %}
            {% endfor %}
            {% if shippingTotal > 0 %}
                <div class="col-sm-3 col-xs-12">
                    <strong>Shipping</strong>
                </div>                
                <div class="col-sm-3 col-xs-12">
                    ${{ shippingTotal|number_format(2, '.', ',') }}
                </div>
                <div class="clear"></div>
            {% endif %}

            {% for tax in orderData.tax_lines %}
                <div class="col-sm-3 col-xs-12">
                    <strong>{{ tax.title }}</strong>
                </div>                
                <div class="col-sm-3 col-xs-12">
                    ${{ tax.price|number_format(2, '.', ',') }}
                </div>
                <div class="clear"></div>
            {% endfor %}

            <div class="col-sm-3 col-xs-12">
                <strong>Total</strong>
            </div>                
            <div class="col-sm-3 col-xs-12">
                ${{ orderData.total_price|number_format(2, '.', ',') }}
            </div>
            <div class="clear"></div>

        </div>
        <div class="clear"></div>

    </div>

{% endblock %}