{% extends "ProjectSiteBundle::pagelayout.html.twig" %}

{% block page_title %}Review Your Order{% endblock %}

{# Breadcrumbs #}
{% block breadcrumbs %}
    {% include "ProjectProductBundle:menu:breadcrumbs.html.twig" %}
{% endblock %}

{% block content %}
    {% embed "ProjectSiteBundle:layouts:two_column.html.twig" %}
        {% block main_content_area %}

            <div class="cart review-order">
                <h1 id="pagetitle">Review Your Order</h1>

                <div class="row shipping-info">
                    <div class="col-sm-6">

                        <h2>Shipping Address</h2>

                        <p>
                            {{ order.getCustomerDetails().misc.creditCard.shippingFirstName }}
                            {{ order.getCustomerDetails().misc.creditCard.shippingLastName }}

                            <br/>
                            {{ order.getCustomerDetails().misc.creditCard.shippingAddress1 }}

                            {% if order.getCustomerDetails().misc.creditCard.shippingAddress2 %}
                                <br/>
                                {{ order.getCustomerDetails().misc.creditCard.shippingAddress2 }}
                            {% endif %}

                            <br/>
                            {{ order.getCustomerDetails().misc.creditCard.shippingCity }},
                            {{ order.getCustomerDetails().misc.creditCard.shippingState }}
                            {{ order.getCustomerDetails().misc.creditCard.shippingPostcode }}
                            <br/>
                            {{ countries[order.getCustomerDetails().misc.creditCard.shippingCountry] }}

                        </p>

                        <h2>Contact Information</h2>

                        <p>
                            {{ order.getCustomerDetails().misc.creditCard.phone }}

                            <br/>
                            {{ order.getCustomerDetails().misc.creditCard.email }}

                        </p>

                    </div>
                    <div class="col-sm-6">

                        <h2>Billing Address</h2>

                        <p>
                            {{ order.getCustomerDetails().misc.creditCard.billingFirstName }}
                            {{ order.getCustomerDetails().misc.creditCard.billingLastName }}

                            <br/>
                            {{ order.getCustomerDetails().misc.creditCard.billingAddress1 }}

                            {% if order.getCustomerDetails().misc.creditCard.billingAddress2 %}
                                <br/>
                                {{ order.getCustomerDetails().misc.creditCard.billingAddress2 }}
                            {% endif %}

                            <br/>
                            {{ order.getCustomerDetails().misc.creditCard.billingCity }},
                            {{ order.getCustomerDetails().misc.creditCard.billingState }}
                            {{ order.getCustomerDetails().misc.creditCard.billingPostcode }}
                            <br/>
                            {{ countries[order.getCustomerDetails().misc.creditCard.billingCountry] }}

                        </p>

                        <h2>Payment Information</h2>

                        <p>
                            {{ creditCard.getBrand()|title }}

                            <br/>
                            {{ creditCard.getNumberMasked() }}

                            <br/>
                            {{ creditCard.getExpiryMonth() }}/{{ creditCard.getExpiryYear() }}

                        </p>

                    </div>
                </div>
                <div class="clear"></div>

                <div class="pull-right">
                    <form action="{{ path("ProductOrderPlace", {'cart_type' : order.getOrderType() }) }}" method="POST">
                        <input type="hidden" name="placeOrder" value="1" />
                        <a href="{{ path("ProductCheckout", {'cart_type' : order.getOrderType() }) }}" class="btn btn-back">
                            Back
                        </a>
                        <button type="submit" class="btn btn-mla btn-next">Place Order</button>
                    </form>
                </div>
                <div class="clear"></div>
            </div>


        {% endblock %}

        {% block sidebar %}
            {{ render(controller(
                "ProjectProductBundle:Order:cart",
                {
                    'view' : 'embed',
                    'cart_type' : order.getOrderType()
                }
            )) }}

            <a href="{{ path("ProductCart", {'cart_type' : order.getOrderType()}) }}">&#8592; View Cart</a>
        {% endblock %}

    {% endembed %}
{% endblock %}