{% extends "ProjectSiteBundle:full:search.html.twig" %}

{# Title #}
{% block page_title %}
    {% if searchResults.getQueryString() and searchResults.getQueryString() != "*:*" %}
    Bookstore Results for '{{ searchResults.getQueryString() }}'
    {% else %}
    Bookstore Results
    {% endif %}
{% endblock %}

{# Breadcrumbs #}
{% block breadcrumbs %}
    {% include "ProjectProductBundle:menu:breadcrumbs.html.twig" %}
{% endblock %}

{# Main body content #}
{% block content %}

    <div id="search-page">
        {% include "ProjectProductBundle:parts:search/search_page.html.twig" %}
    </div>

{% endblock %}