{% extends "ProjectSiteBundle::pagelayout.html.twig" %}

{% block page_title %}{{ tag.keyword|simple_text_format|striptags }}{% endblock %}

{# Breadcrumbs #}
{% block breadcrumbs %}
    {% include "ProjectProductBundle:menu:breadcrumbs.html.twig" %}
{% endblock %}

{% block content %}

    {% embed "ProjectSiteBundle:layouts:two_column.html.twig" %}
        {% block main_content_area %}

            <h1 class="page-title">{{ tag.keyword|simple_text_format }}</h1>

            <div class="col-sm-6">

                {% for child in children %}
                    {% if children|length >= 2 and loop.index > children|length / 2 %}
                        </div><div class="col-sm-6">
                    {% endif %}

                    <div class="tag">
                        <a href="{{ path("ProductSearch") }}?{{ tag.keyword|lower }}={{ child.keyword|lower|url_encode }}">{{ child.keyword }}</a>
                    </div>
                {% endfor %}

            </div>

        {% endblock %}

        {% block sidebar %}
            {% include "ProjectProductBundle:menu:side_menu.html.twig" %}
            {{ parent() }}
        {% endblock %}


    {% endembed %}


{% endblock %}
