{% set
    variables = {
        "site" : {
            "title" : "Site Analyzer"
        },
        module_result : {
            "content" : '<div id="maincontent-design" class="float-break"><iframe src="/siteanalyzer/display/' ~ location_id ~ '" width="100%" height="800" frameborder="0"></iframe></div>',
            "path" : [
                {
                    "text" : "Main"
                }
            ],
            "content_info" : {
                "persistent_variable" : {
                    "left_menu": false
                }
            }
        }
    }
%}
{% include "design:pagelayout.tpl" with variables only %}
