{% use "ThinkCreativeCoreBundle::general_blocks.html.twig" %}
{% block document %}
<!DOCTYPE html>
{% block html_definition %}<html {% block html_attributes %}lang="{{ app.request.locale }}" xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ app.request.locale }}"{% endblock %}>{% endblock %}

<head>
{% block head %}
{% block meta %}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% endblock %}
{% block document_title %}
<title>{{ location.contentInfo.name }} | Site Map Viewer</title>
{% endblock %}
{% block head_content %}{% endblock %}
{% endblock %}
{% stylesheets output="css/bootstrap.css" filter="cssrewrite,compass,sass"
    "bundles/thinkcreativetwitterbootstrap/sass/bootstrap.scss"
    "bundles/projectthemes/sass/font-awesome.min.scss"
%}
<link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" />
{% stylesheets "@ade_adfl_stylesheets" %}
<link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}

<style type="text/css">
#debug {
    display: none;
}
</style>
<style type="text/css">

.cf:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .cf { zoom: 1; }
*:first-child+html .cf { zoom: 1; }

html { margin: 0; padding: 0; }
body { font-size: 100%; margin: 0; padding: 1.75em; font-family: 'Helvetica Neue', Arial, sans-serif; }

h1 { font-size: 1.75em; margin: 0 0 0.6em 0; }

a { color: #2996cc; }
a:hover { text-decoration: none; }

p { line-height: 1.5em; }
.small { color: #666; font-size: 0.875em; }
.large { font-size: 1.25em; }

/**
 * Nestable
 */

.dd { position: relative; display: block; margin: 0; padding: 0; max-width: 90%; list-style: none; font-size: 13px; line-height: 20px; }

.dd-list { display: block; position: relative; margin: 0; padding: 0; list-style: none; }
.dd-list .dd-list { padding-left: 30px; }
.dd-collapsed .dd-list { display: none; }

.dd-item,
.dd-empty,
.dd-placeholder { display: block; position: relative; margin: 0; padding: 0; min-height: 20px; font-size: 13px; line-height: 20px; }

.dd-handle { display: block; height: 30px; margin: 5px 0; padding: 5px 10px; color: #333; text-decoration: none; font-weight: bold; border: 1px solid #ccc;
    background: #fafafa;
    background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:    -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:         linear-gradient(top, #fafafa 0%, #eee 100%);
    -webkit-border-radius: 3px;
            border-radius: 3px;
    box-sizing: border-box; -moz-box-sizing: border-box;
}
.dd-handle:hover { color: #2ea8e5; background: #fff; }

.dd-item > button { display: block; position: relative; cursor: pointer; float: left; width: 25px; height: 20px; margin: 5px 0; padding: 0; text-indent: 100%; white-space: nowrap; overflow: hidden; border: 0; background: transparent; font-size: 12px; line-height: 1; text-align: center; font-weight: bold; }
.dd-item > button:before { content: '+'; display: block; position: absolute; width: 100%; text-align: center; text-indent: 0; }
.dd-item > button[data-action="collapse"]:before { content: '-'; }

.dd-placeholder,
.dd-empty { margin: 5px 0; padding: 0; min-height: 30px; background: #f2fbff; border: 1px dashed #b6bcbf; box-sizing: border-box; -moz-box-sizing: border-box; }
.dd-empty { border: 1px dashed #bbb; min-height: 100px; background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                      -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:    -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                         -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:         linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                              linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

.dd-dragel { position: absolute; pointer-events: none; z-index: 9999; }
.dd-dragel > .dd-item .dd-handle { margin-top: 0; }
.dd-dragel .dd-handle {
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
            box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
}

/**
 * Nestable Extras
 */

.nestable-lists { display: block; clear: both; padding: 30px 0; width: 100%; border: 0; border-top: 2px solid #ddd; border-bottom: 2px solid #ddd; }

#nestable-menu { padding: 0; margin: 20px 0; }

#nestable-output,
#nestable2-output { width: 100%; height: 7em; font-size: 0.75em; line-height: 1.333333em; font-family: Consolas, monospace; padding: 5px; box-sizing: border-box; -moz-box-sizing: border-box; }

#nestable2 .dd-handle {
    color: #fff;
    border: 1px solid #999;
    background: #bbb;
    background: -webkit-linear-gradient(top, #bbb 0%, #999 100%);
    background:    -moz-linear-gradient(top, #bbb 0%, #999 100%);
    background:         linear-gradient(top, #bbb 0%, #999 100%);
}
#nestable2 .dd-handle:hover { background: #bbb; }
#nestable2 .dd-item > button:before { color: #fff; }

@media only screen and (min-width: 700px) {

    .dd { float: left; width: 90%; }
    .dd + .dd { margin-left: 2%; }

}

.dd-hover > .dd-handle { background: #2ea8e5 !important; }

/**
 * Nestable Draggable Handles
 */

.dd3-content { clear: both; display: block; margin: 5px 0; padding: 4px 10px 4px 40px; color: #333; text-decoration: none; font-weight: bold; border: 1px solid #ccc;
    background: #fafafa;
    background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:    -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:         linear-gradient(top, #fafafa 0%, #eee 100%);
    -webkit-border-radius: 3px;
            border-radius: 3px;
    box-sizing: border-box; -moz-box-sizing: border-box;
}
.dd3-content:hover { color: #2ea8e5; background: #fff; }

.dd-dragel > .dd3-item > .dd3-content { margin: 0; }

.dd3-item > button { margin-left: 30px; }

.dd3-handle { position: absolute; margin: 0; left: 0; top: 0; cursor: pointer; width: 30px; text-indent: 30px; white-space: nowrap; overflow: hidden;
    border: 1px solid #aaa;
    background: #ddd;
    background: -webkit-linear-gradient(top, #ddd 0%, #bbb 100%);
    background:    -moz-linear-gradient(top, #ddd 0%, #bbb 100%);
    background:         linear-gradient(top, #ddd 0%, #bbb 100%);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.dd3-handle:before { content: '≡'; display: block; position: absolute; left: 0; top: 3px; width: 100%; text-align: center; text-indent: 0; color: #fff; font-size: 20px; font-weight: normal; }
.dd3-handle:hover { background: #ddd; }




.dd3-handle:before {
    background: transparent none no-repeat scroll 50% 50%;
    content: "";
    height: 16px;
    left: 7px;
    top: 6px;
    width: 16px;
}

.dd3-handle[class*="class"]:before {
    background-image: url("/share/icons/crystal-admin/16x16_indexed/mimetypes/empty.png");
}
.dd3-handle.class-folder:before {
    background-image: url("/share/icons/crystal-admin/16x16_indexed/filesystems/folder.png");
}
.dd3-handle.class-imported_page:before {
    background-image: url("/share/icons/crystal-admin/16x16_indexed/custom-mla/page.png");
}

#nestable3 {
    padding-top: 8px;
}
span.preview-link {
    float: right;
    font-size: 85%;
}
span.preview-link:before {
    content: "(";
    padding-right: 1px;
}
span.preview-link:after {
    content: ")";
    padding-left: 1px;
}

@media print {
    a[href]:after {
        content: none;
    }
    .dd-handle,.preview-link {
        display: none;
    }
    .sf-toolbar {
        display: none !important;
    }
    .dd3-content {
        background: transparent none;
        border-width: 0;
        font-weight: normal;
        margin: 0;
        padding: 0 10px;
    }
    .dd3-content:before {
        content: "-";
        padding-right: 3px;
    }
    .dd3-content a {
        color: #000;
    }
}

</style>
{#
    /*
    .dd3-handle.class-section_home:before {
        background-image: url("/share/icons/crystal-admin/16x16_indexed/mimetypes/empty.png");
    }
    .dd3-handle.class-link:before {
        background-image: url("/share/icons/crystal-admin/16x16_indexed/mimetypes/empty.png");
    }
    .dd3-handle.class-image:before {
        background-image: url("/share/icons/crystal-admin/16x16_indexed/mimetypes/empty.png");
    }
    .dd3-handle.class-content_box:before {
        background-image: url("/share/icons/crystal-admin/16x16_indexed/mimetypes/empty.png");
    }
    .dd3-handle.class-product_category:before {
        background-image: url("/share/icons/crystal-admin/16x16_indexed/mimetypes/empty.png");
    }
    */
#}
</head>

<body>

{% block body %}

{#<div><button id="activate" type="button">Activate</button></div>#}

{#<div class="cf nestable-lists">#}

    {#
    <div class="dd" id="nestable">
        <ol class="dd-list">
            <li class="dd-item" data-id="1">
                <div class="dd-handle">Item 1</div>
            </li>
            <li class="dd-item" data-id="2">
                <div class="dd-handle">Item 2</div>
                <ol class="dd-list">
                    <li class="dd-item" data-id="3"><div class="dd-handle">Item 3</div></li>
                    <li class="dd-item" data-id="4"><div class="dd-handle">Item 4</div></li>
                    <li class="dd-item" data-id="5">
                        <div class="dd-handle">Item 5</div>
                        <ol class="dd-list">
                            <li class="dd-item" data-id="6"><div class="dd-handle">Item 6</div></li>
                            <li class="dd-item" data-id="7"><div class="dd-handle">Item 7</div></li>
                            <li class="dd-item" data-id="8"><div class="dd-handle">Item 8</div></li>
                        </ol>
                    </li>
                    <li class="dd-item" data-id="9"><div class="dd-handle">Item 9</div></li>
                    <li class="dd-item" data-id="10"><div class="dd-handle">Item 10</div></li>
                </ol>
            </li>
            <li class="dd-item" data-id="11">
                <div class="dd-handle">Item 11</div>
            </li>
            <li class="dd-item" data-id="12">
                <div class="dd-handle">Item 12</div>
            </li>
        </ol>
    </div>
    #}

    <div style="border-bottom: 1px solid #000;">
        <h2><strong>{{ location.contentInfo.name }}</strong></h2>
    </div>

    <div class="dd" id="nestable3">
        {#
        <ol class="dd-list">
            <li class="dd-item dd3-item" data-id="13">
                <div class="dd-handle dd3-handle">Drag</div><div class="dd3-content">Item 13</div>
            </li>
            <li id="data-id-14" class="dd-item dd3-item" data-id="14">
                <div class="dd-handle dd3-handle">Drag</div><div class="dd3-content">Item 14</div>
            </li>
            <li class="dd-item dd3-item" data-id="15">
                <div class="dd-handle dd3-handle">Drag</div><div class="dd3-content">Item 15</div>
                <ol class="dd-list">
                    <li class="dd-item dd3-item" data-id="16">
                        <div class="dd-handle dd3-handle">Drag</div><div class="dd3-content">Item 16</div>
                    </li>
                    <li class="dd-item dd3-item" data-id="17">
                        <div class="dd-handle dd3-handle">Drag</div><div class="dd3-content">Item 17</div>
                    </li>
                    <li class="dd-item dd3-item" data-id="18">
                        <div class="dd-handle dd3-handle">Drag</div><div class="dd3-content">Item 18</div>
                    </li>
                </ol>
            </li>
        </ol>
        #}
    </div>

{#</div>#}

{#
{% if children.totalCount %}
<ul>
    {% for key, child in children.locations %}
    <li>
        <a href="{{ path( child ) }}">{{ child.contentInfo.name }} ({{ path( child ) }})</a>
    </li>
    {% endfor %}
</ul>
{% endif %}
#}

{# <iframe src="http://admin.mla.org/content/treemenu/88" width="100%" height="400"></iframe> #}

{% endblock %}

{% javascripts output="js/analyzer.js"
    "bundles/thinkcreativethemes/js/jquery-1.10.2.js"
    "bundles/thinkcreativetwitterbootstrap/js/bootstrap.min.js"
    "bundles/projectsite/js/jquery.cookie.js"
    "bundles/projectsite/js/jquery.cycle2.js"
    "bundles/projectsite/js/jquery.nestable.js"
    "bundles/projectsite/js/handlebars-v1.3.0.js"
    "bundles/projectsite/js/javascript-cookie.js"
    "bundles/projectsite/js/components.js"
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<script>

var
    MaxDepthLevel = {{ location.depth + 4 }}
;


$(
    function()
    {
        $( "#nestable" ).nestable();
        // $( "#nestable3" ).nestable();

        /*
        $.when( $( renderChildren( response.children ) ).appendTo( context ) ).then(
            function() {
                $( context ).nestable();
            }
        );
        */

        /*
        $.when(
            sendRequest( 88, "#nestable3" )
        )
        .then(
            function()
            {
                console.log( "check" );
                // $( "#nestable3" ).nestable();
            }
        );
        */

        sendRequest( {{ location.id }}, "#nestable3" );
        $( "#activate" ).on(
            "click", function() { $( "#nestable3" ).nestable(); }
        );

    }
);

function sendRequest( id, selector )
{
    return $.ajax( "/siteanalyzer/tree/" + id ).then(
        function( response ) {
            handleResponse(
                response, $( selector )
            );
        }
    );
}

function handleResponse( response, context )
{
    if( response.has_children )
    {
        context.append(
            renderChildren( response.children )
        );
    }
}

function renderChildren( children )
{
    var _String = "";

    _String += '<ol class="dd-list">';
    $.each(
        children, function( key, value )
        {
            _String += '<li id="location-id-' + value.id + '" class="dd-item dd3-item" data-id="13"><div class="dd-handle dd3-handle class-' + value.content.content_type.identifier + '" title="' + value.content.content_type.name + '">Drag</div><div class="dd3-content"><a href="' + value.url + '" target="_blank">' + value.name + (value.hidden ? " [HIDDEN]" : "") + '</a><span class="preview-link"><a href="' + value.canonical + '" target="_blank">preview</a></span></div></li>';
            if( value.has_children && value.depth <= MaxDepthLevel )
            {
                var _Request = sendRequest(
                    value.id, ( "#location-id-" + value.id )
                );
            }
        }
    );
    _String += '</ol>';
    return _String;
}

</script>

</body>

</html>
{% endblock %}