{% extends "ThinkCreativeBridgeBundle::pagelayout.html.twig" %}

{% block body %}
    <header>
        <div class="container">
            <div class="col-lg-12 noPad-all">
                <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
                <div class="col-sm-3 col-xs-12 noPad-all">
                    <a class="navbar-brand logo-nav" href="index.html">
                        <img src="http://placehold.it/150x75&amp;text=Logo" />
                    </a>
                </div>

                <div class="col-sm-9 col-xs-12 search-area">
                    <form class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Search" />
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>

            </div>
        </div>

        <div class="container navbar-container noPad-all">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <nav class="navbar navbar-default" role="navigation">
                  <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <a class="navbar-brand" href="#">Brand</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                          <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                          </ul>
                        </li>
                      </ul>

                      <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Link</a></li>
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                          <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                          </ul>
                        </li>
                      </ul>
                    </div><!-- /.navbar-collapse -->
                  </div><!-- /.container-fluid -->
                </nav>
            </div>
        </div>
    </header>

    <div class="container">

        <div class="row">
            <div class="col-lg-3">
                <h1>Online Banking</h1>
                <form role="form">
                    <div class="form-group col-md-6 col-sm-6 col-xs-6">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" />
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" />
                    </div>
                    <div class="checkbox col-md-11 col-sm-10 col-xs-10">
                        <label>
                              <input type="checkbox" value="Remember me on this computer" />
                        </label>
                    </div>
                    <button type="submit" class="btn btn-default">Login</button>
                </form>

                <h4>Secondary Navigation</h4>
                <div class="list-group">
                    <a href="layout5.html" class="list-group-item active">Layout 5 Home</a>
                    <a href="layout5-sub1.html" class="list-group-item">Subpage Option 1</a>
                    <a href="layout5-sub2.html" class="list-group-item">Subpage Option 2</a>
                    <a href="layout5-sub3.html" class="list-group-item">Subpage Option 3</a>
                    <a href="layout5-sub4.html" class="list-group-item">Subpage Option 4</a>
                    <a href="layout5-sub5.html" class="list-group-item">Subpage Option 5</a>
                    <a href="layout5-sub6.html" class="list-group-item">Subpage Option 6</a>
                </div>

            </div>
            <div class="col-lg-6">
                <img class="img-responsive img-rounded center-block" src="http://placehold.it/555x350" />
                <hr>
                {% block content %}{% endblock %}
                <h2>Heading 1</h2>
                <p>Bacon ipsum dolor sit amet shank chicken ball tip pork strip steak chuck turducken. Leberkas hamburger pork porchetta kielbasa rump. Jowl doner filet mignon, venison frankfurter salami spare ribs landjaeger bresaola ball tip. Ribeye sausage jerky filet mignon corned beef tenderloin biltong bacon pork loin leberkas turducken venison. Pancetta jowl salami, sirloin sausage turkey filet mignon porchetta meatloaf andouille. Kevin rump brisket sirloin boudin meatball landjaeger, sausage venison pig pork belly pancetta.</p>

                <p>Frankfurter pork ham hock ribeye, beef ribs chuck venison meatball. Sausage venison biltong ham hock. Doner turducken jerky pork hamburger pork loin ham frankfurter andouille flank ground round ham hock spare ribs strip steak. Meatball pig meatloaf venison shank, ground round ham pork capicola tri-tip sirloin leberkas short ribs turkey. Bresaola biltong frankfurter pancetta pork, beef meatball beef ribs tail pork belly chuck ham.</p>

                <p>Doner cow pastrami ground round chicken shankle shank tongue flank filet mignon biltong shoulder bacon swine turducken. Kevin bacon ground round tail t-bone. Jowl pancetta drumstick hamburger beef strip steak venison turkey prosciutto flank jerky porchetta. Shank swine leberkas, chicken beef ribs cow shankle porchetta pig filet mignon. Boudin jerky pork belly rump beef pig tri-tip pastrami turkey kevin salami prosciutto spare ribs doner. Andouille pig chicken ham strip steak, landjaeger pork chop bresaola rump kielbasa leberkas meatloaf meatball shankle.</p>
            </div>
            <div class="col-lg-3">
                <div class="col-lg-12 col-md-4 col-sm-6">
                    <img class="img-responsive img-rounded center-block" src="http://placehold.it/265x265" />
                </div>

                <div class="col-lg-12 col-md-4 col-sm-6">
                  <div>
                    <div class="thumbnail">
                      <img class="img-rounded" src="http://placehold.it/245x200" alt="..." />
                      <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>Bacon ipsum dolor sit amet shank chicken ball tip pork strip steak chuck turducken. Leberkas hamburger pork porchetta kielbasa rump.</p>
                        <p><a href="#" class="btn btn-primary" role="button">Button</a></p>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>

        <footer>
            <hr>

            <div class="row">

                <div class="col-lg-4 col-md-4">
                    <div class="row quicklinks">
                        <div class="col-lg-6 list-unstyled">
                            <a href="#">Quicklink</a>
                            <a href="#">Another Link</a>
                            <a href="#">Link</a>
                            <a href="#">Fourth Link</a>
                            <a href="#">Final Link</a>
                        </div>
                        <div class="col-lg-6 list-unstyled">
                            <a href="#">Fourth Link</a>
                            <a href="#">Final Link</a>
                            <a href="#">Quicklink</a>
                            <a href="#">Another Link</a>
                            <a href="#">Link</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4">
                    <img src="http://placehold.it/245x70" alt="..." />
                    <img src="http://placehold.it/70x70" alt="..." />
                    <p class="copyright">Copyright &copy; Company 2014<br/>Your savings federally insured to at least $250,000 and backed by the good faith and credit of the United States Government National Credit Union Administration, a U.S. Government Agency. We do business in accordance with the Federal Fair Housing Law and the Equal Credit Opportunity Act.</p>
                </div>

                <div class="row">
                  <div class="col-sm-4 col-md-4 col-lg-4 well">
                    <div class="footer-thumbnail">
                      <img src="http://placehold.it/100x150" alt="..." />
                      <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>Additional content, links, adverts, or other forms of information can go</p>
                      </div>
                    </div>
                  </div>
                </div>

            </div>
        </footer>

    </div>

{% endblock %}


{#
{% use "ThinkCreativeTwitterBootstrapBundle::general_blocks.html.twig" %}

{% block stylesheets %}
{{ block('twitter_bootstrap_stylesheets') }}{{ parent() }}
{% endblock %}

{% block javascript %}
{{ parent() }}{{ block('twitter_bootstrap_javascript') }}
{% endblock %}
#}
