<div class="subItemList">
    {% for location in subItemList %}
        {{ render_esi(
            controller(
                "ez_content:viewLocation",
                {
                    "locationId" : location.id,
                    "viewType" : view is defined ? view : "line"
                }
            )
        ) }}
    {% endfor %}
</div>