{% spaceless %}
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% for url in urlset %}
    <url>
        <loc>{{ sitelink( url.location, absolute = true, quote = false )|escape() }}</loc>
        <lastmod>{{ url.content.contentInfo.modificationDate|date( "c" ) }}</lastmod>
        {% if url.priority is defined %}<priority>{{ url.priority }}</priority>{% endif %}
    </url>
{% endfor %}
</urlset>
{% endspaceless %}
