{# Flash messages #}
{% for type in ['danger', 'warning', 'info', 'success'] %}
    {% if app.session.flashbag.has(type) %}
        <div class="alert alert-{{ type }}">
            <ul>
                {% for flashMessage in app.session.flashbag.get(type) %}
                    <li>{{ flashMessage }}</li>
                {% endfor %}        
            </ul>
        </div>
    {% endif %}
{% endfor %}