/* custom editor styles for ol/ul */
.mceContentBody ol.upper-roman {
    list-style-type: upper-roman;
}

.mceContentBody ol.lower-roman {
    list-style-type: lower-roman;
}

.mceContentBody ol.upper-alpha {
    list-style-type: upper-alpha;
}

.mceContentBody ol.lower-alpha {
    list-style-type: lower-alpha;
}

.mceContentBody ol.numeric {
    list-style-type: decimal;
}

.mceContentBody ul.disc {
    list-style-type: disc;
}

.mceContentBody ul.circle {
    list-style-type: circle;
}

.mceContentBody ul.square {
    list-style-type: square;
}

.mceContentBody ul.no-bullet {
    list-style-type: none;
}