The following member was flagged for potential member search abuse and locked out:

Member ID: {{ member.get("id") }}
Name: {{ member.get("general[last_name]", null, true) }}, {{ member.get("general[first_name]", null, true) }}
Username: {{ member.get("authentication[username]", null, true) }}
24 Hr Search Count: {{ search_limit }}
Earliest 24 Hr Search: {{ first_request_time|date("Y-m-d H:i:s") }}