Greetings {{ member.get("general[title]", null, true) ? member.get("general[title]", null, true) ~ " " : "" }}{{ member.get("general[last_name]", null, true) }},

You have requested the retrival of your username...

USERNAME: {{ member.get("authentication[username]", null, true) ?: member.get("id") }}

-The MLA Team