{% extends "ProjectSiteBundle::pagelayout.html.twig" %}

{% block page_title %}
    Payment Canceled
{% endblock %}

{% block content %}
    {% embed "ProjectSiteBundle:layouts:two_column.html.twig" %}
        {% block main_content_area %}

            <h1 id="pagetitle">Payment Canceled</h1>

            {% include "ProjectMemberBundle:parts:join/flashbag.html.twig" %}
            
            <p>
                Payment canceled.
            </p>

            <div class="btn-group pull-right">
                <a href="{{ previousStepPath }}" class="btn btn-back">Back</a>
            </div>

        {% endblock %}

        {% block sidebar %}
            {% include "ProjectMemberBundle:parts:join/progress.html.twig" with {'joinStep' : progressPayment} %}
        {% endblock %}
    {% endembed %}
{% endblock %}