{% extends "ProjectSiteBundle::pagelayout.html.twig" %}

{% block page_title %}
    Pay by Check
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<style type="text/css">
    @media print {
        .sidebar { display: none; }
        .member-review .member-section { border:none; padding:0; }
        .member-section .member-preference.checked .readonly-checkbox { background: none; position: relative; top: -2px; }
        .member-section .member-preference .readonly-checkbox:after { font-family: 'Glyphicons Halflings'; display: block; content: "\e014"; color: #000; }
        .member-section .member-preference.checked .readonly-checkbox:after { font-family: 'Glyphicons Halflings'; display: block; content: "\e013"; color: #000; }
    }
</style>
{% endblock %}

{% block content %}
    {% embed "ProjectSiteBundle:layouts:two_column.html.twig" %}
        {% block main_content_area %}
            <h1 id="pagetitle">Pay By Check</h1>

            {% include "ProjectMemberBundle:parts:join/flashbag.html.twig" %}

            <p>
                <strong>Your membership is not confirmed until we receive payment and notify you.</strong>
            </p>
            <p>
                Applications for {{ signup_year }} calendar-year memberships will be accepted through 30 June {{ signup_year }}
            </p>

            <p>
                To pay by check or money order, print this page or copy the information that appears below. Mail the page containing the information with your check (made payable to Modern Language Association) or international money order in the amount of ${{ order.getTotalPrice(true, true)|number_format(2, ".", ",") }} to:
            </p>

            <address>
                Modern Language Association<br/>
                PO Box 28559<br/>
                New York, NY 10087-8559<br/>
            </address>


            <div class="member-review">
                <div class="col-xs-12 row">
                    <div class="member-section">
                        <h2 class="member-section-title">Contact Information</h2>
                        <div class="member-data" data-member-data="general">
                            {{ render_esi(url('UserRead', {"form" : "general"})) }}
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="col-xs-12 row">
                    <div class="member-section">

                        <h2 class="member-section-title">Home address</h2>
                        <div class="member-data" data-member-data="address_home">
                            {{ render_esi(url('UserRead', {"form" : "address_home"})) }}
                        </div>
                        <div class="clear"></div>

                    </div>
                </div>

                <div class="col-xs-12 row">
                    <div class="member-section">
                        <h2 class="member-section-title">Languages taught or studied</h2>
                        <div class="member-data" data-member-data="languages">
                            {{ render_esi(url('UserRead', {"form" : "languages" })) }}
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="clear"></div>

                {% for institution in ["primary", "secondary"] %}
                <div class="col-xs-12 row">
                    <div class="member-section">

                        <h2 class="member-section-title">{{ institution|capitalize }} institutional affiliation</h2>
                        <div class="member-data" data-member-data="address_{{ institution }}">
                            {{ render_esi(url('UserRead', {"form" : "address_" ~ institution })) }}
                        </div>
                        <div class="clear"></div>

                    </div>
                </div>
                {% endfor %}
                <div class="clear"></div>

                <div class="col-xs-12 row">
                    <div class="member-section">
                        <h2 class="member-section-title">Privacy settings</h2>
                        <div class="member-data" data-member-data="privacy">
                            {{ render_esi(url('UserRead', {"form" : "privacy" })) }}
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="col-xs-12 row">
                    <div class="member-section">
                        <h2 class="member-section-title">Primary forum affiliations</h2>
                        <div class="member-data" data-member-data="primary_forum_selection">
                            {{ render_esi(url('UserRead', {"form" : "primary_forum_selection" })) }}
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>


                <div class="col-xs-12 row">
                    <div class="member-section">
                        <h2>Order</h2>
                        <table class="join-order-summary table">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product, quantity in order.getProductList() %}
                                    <tr>
                                        <td>{{ order.getProductFromId(product).getName()|raw }} {% if order.getProductFromId(product).getVariantName() %}- {{ order.getProductFromId(product).getVariantName() }}{% endif %}</td>
                                        <td>${{ (order.getProductFromId(product).getPrice() * quantity)|number_format(2, ".", ",") }}</td>
                                    </tr>
                                    {% set productIdSplit = product|split(product_variant_seperator) %}
                                    {% if membership_product_object_id == productIdSplit[0] %}
                                        {% if order.getExtraFee("joint-membership") %}
                                            <tr>
                                                <td>Joint Membership w/ #{{ order.getCustomerDetails().misc.jointMemberId }}</td>
                                                <td>${{ order.getExtraFee("joint-membership")|number_format(2, ".", ",") }}</td>
                                            </tr>
                                        {% endif %}                        
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="col-md-5 col-sm-8 col-xs-12 pull-right text-right">

                            <div class="order-totals">
                                <div class="col-xs-8">
                                    <h2>Total:</h2>
                                </div>
                                <div class="col-xs-4">
                                    <h2>${{ order.getTotalPrice(true, true)|number_format(2, ".", ",") }}</h2>
                                </div>
                                <div class="clear"></div>
                            </div>

                        </div>
                        <div class="clear"></div>
                    </div>
                </div>

                <div class="btn-group pull-right">
                    <div><a href="{{ previousStepPath }}" class="btn btn-back pull-right">Back</a></div>
                </div>

            </div>     

        {% endblock %}

        {% block sidebar %}
            {% include "ProjectMemberBundle:parts:join/progress.html.twig" with {'joinStep' : progressPayment} %}
        {% endblock %}

    {% endembed %}
{% endblock %}