{% extends "ProjectSiteBundle::pagelayout.html.twig" %}

{% block page_title %}
    Pay With Paypal
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {# {% include "ThinkCreativeFormBundle:parts:ajax_validation.html.twig" with {"form" : form, "TC_FORM_AJAX_VALIDATION_CALLBACK": "tcFormSetFeedback"} %} #}
{% endblock %}

{% block content %}
    {% embed "ProjectSiteBundle:layouts:two_column.html.twig" %}
        {% block main_content_area %}
            <h1 id="pagetitle">Pay With Paypal</h1>

            {% include "ProjectMemberBundle:parts:join/flashbag.html.twig" %}

            <p>
                Your Paypal account will be billed ${{ order.getTotalPrice(true, true)|number_format(2, ".", ",") }}.                
            </p>

            {% form_theme form "ThinkCreativeFormBundle:parts:form_theme.html.twig" %}
            <div class="mla-form">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                <div class="btn-group pull-right">
                    {{ form_row(form.buttons.submit )}}
                    <div><a href="{{ previousStepPath }}" class="btn btn-back pull-right">Back</a></div>
                    <div class="feedback-area"></div>
                </div>
                {{ form_end(form) }}
            </div>

        {% endblock %}

        {% block sidebar %}
            {% include "ProjectMemberBundle:parts:join/progress.html.twig" with {'joinStep' : progressPayment} %}
        {% endblock %}

    {% endembed %}
{% endblock %}