{% extends "ProjectSiteBundle::pagelayout.html.twig" %}

{% block page_title %}
    Confirmation
{% endblock %}

{% block content %}
    {% embed "ProjectSiteBundle:layouts:two_column.html.twig" %}
        {% block main_content_area %}

            <h1 id="pagetitle">Confirmation</h1>

            <p>
                Thank you. Your membership has been approved for the {{ join_year }} calendar year.
            </p>

            <div class="col-md-4">
                <strong>Your member number is:</strong>
            </div>
            <div class="col-md-8">
                {{ member ? member.get("id") : "N/A" }}
            </div>
            <div class="clear"></div>

            <div class="col-md-4">
                <strong>Your username is:</strong>
            </div>
            <div class="col-md-8">
                {{ member ? member.get("authentication").username : "N/A"  }}
            </div>
            <div class="clear"></div>

            <br/>
            <p>
                Please make a note of this information. You will need it to log on to the MLA Web site in the future. <a href="{{ path("UserMain") }}">Click here</a> to complete your member profile or change your username or password.
            </p>

            <div class="pull-right">
                <a href="{{ path("JoinMembershipPayReceipt", {"order_id" : order_id}) }}" class="btn btn-mla">Print Receipt</a>
                <a href="{{ path("ez_urlalias", {"locationId" : 2}) }}" class="btn btn-mla">Go to the MLA Home Page</a>
            </div>
            <div class="clear"></div>

        {% endblock %}

        {% block sidebar %}
            {% include "ProjectMemberBundle:parts:join/progress.html.twig" with {'joinStep' : progressPayment} %}
        {% endblock %}
    {% endembed %}
{% endblock %}