{% extends "ProjectSiteBundle::pagelayout.html.twig" %}

{% block page_title %}
    Pay By Credit Card
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        function useMailingAddressChange(element) {
            if ($(element).prop("checked")) {
                $(".form-row-billing input, .form-row-billing select")
                    .prop("disabled", true)
                    .addClass("validation-ignore")
                ;
                $(".form-row-billing").slideUp();
            } else {
                $(".form-row-billing input, .form-row-billing select")
                    .prop("disabled", false)
                    .removeClass("validation-ignore")
                ;
                $(".form-row-billing").slideDown();
            }
        }
        $(document).ready(function() {
            $("#pay_credit_billing_same").change(function() {
                useMailingAddressChange(this);
            });
            useMailingAddressChange("#pay_credit_billing_same");
        });

    </script>
    {% include "ThinkCreativeFormBundle:parts:ajax_validation.html.twig" with {"form" : form, "TC_FORM_AJAX_VALIDATION_CALLBACK": "tcFormSetFeedback"} %}
{% endblock %}

{% block content %}
    {% embed "ProjectSiteBundle:layouts:two_column.html.twig" %}
        {% block main_content_area %}
            <h1 id="pagetitle">Pay By Credit Card</h1>

            {% include "ProjectMemberBundle:parts:join/flashbag.html.twig" %}

            <p>
                Please provide your credit card information in the fields below and click Submit Payment to process your order on our secure server. Your credit card will be billed ${{ order.getTotalPrice(true, true)|number_format(2, ".", ",") }}.                
            </p>

            {% form_theme form "ThinkCreativeFormBundle:parts:form_theme.html.twig" %}
            <div class="mla-form">
                {{ form_start(form) }}
                {% include "ProjectSiteBundle:parts:form/message_asterisk.html.twig" %}

                {{ form_errors(form) }}

                <h2>Billing Address</h2>

                {{ form_row(form.billing.same) }}

                {{ form_row(form.billing) }}

                <h2>Payment Information</h2>
                {{ form_row(form.payment) }}

                <div class="btn-group pull-right">
                    {{ form_row(form.buttons.next )}}
                    <div><a href="{{ previousStepPath }}" class="btn btn-back pull-right">Back</a></div>
                    <div class="feedback-area"></div>
                </div>

                {{ form_end(form) }}
            </div>

        {% endblock %}

        {% block sidebar %}
            {% include "ProjectMemberBundle:parts:join/progress.html.twig" with {'joinStep' : progressPayment} %}
        {% endblock %}

    {% endembed %}
{% endblock %}