{% extends "ProjectSiteBundle::pagelayout.html.twig" %}

{% block page_title %}Receipt for Order ID {{ order.name }}{% endblock %}

{% block content %}

    {# Order receipt -- to be printed when above link is clicked #}
    <div id="order-receipt">
        <h1>Receipt for Order ID {{ order.id }}</h1>

        <div class="col-sm-6 col-xs-12 join-review">
            <h2>Order Information</h2>

            <div>
                <strong>Date</strong><br/>
                {{ order.created_at }}
            </div>

            <div>
                <strong>Payment Method</strong><br/>
                {% for transaction in transactions %}
                    <div>
                        {% if transaction.payment_details.credit_card_company is defined %}
                            {{ transaction.payment_details.credit_card_company }} ending in {{ transaction.payment_details.credit_card_number }}
                        {% else %}
                            Unknown
                        {% endif %}
                    </div>
                {% endfor %}
            </div>

            <div>
                <strong>Member Number</strong><br/>
                {{ member.get("id") }}
            </div>      

            <div>
                <strong>Name</strong><br/>
                {{ member.get("general").title }}
                {{ member.get("general").first_name }}
                {{ member.get("general").last_name }}
            </div>

            <div>
                <strong>Mail Address</strong><br/>
                {% for address in member.get("addresses") %}
                    {% if address.send_mail == "Y" %}
                        {{ address.line3 }}<br/>
                        {% if address.line2 %}
                            {{ address.line2 }}<br/>
                        {% endif %}
                        {{ address.city }}
                        {{ address.state }},
                        {{ address.zip }}
                    {% endif %}
                {% endfor %}
            </div>

            <div>
                <strong>Phone</strong><br/>
                {{ member.get("general").phone }}
            </div>

            <div>
                <strong>E-mail</strong><br/>
                {{ member.get("general").email }}
            </div>

            <div>
                <strong>Web Site</strong><br/>
                {{ member.get("general").web_site ?: "n/a" }}
            </div>

            <div>
                <strong>May MLA share e-mail address with divisions, discussion groups, allieds?</strong><br/>
                {{ member.get("general").email_shareable ? "Y" : "N"}}
            </div>

            <h2>Authentication</h2>

            <div>
                <strong>Username</strong><br/>
                {{ member.get("authentication").username }}
            </div>

            <div>
                <strong>Password</strong><br/>
                {% for i in range(0, 6) %}*{% endfor %}
            </div>

        </div>

        {# Items #}
        {% set itemTotal = 0 %}
        <div class="order-receipt-items col-md-12">
            <h3>Items</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Item Name</th>
                        <th>Price (ea.)</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in order.line_items %}
                        <tr>
                            <td>
                                {{ item.name }}
                                {% if item.sku == "_ADDON_MEMBERSHIP_JOINT" or item.sku == "ADDON_MEMBERSHIP_JOINT" %}
                                    {% for note in order.note_attributes %}
                                        {% if note.name == "joint_member_id" %}
                                            w/ #{{ note.value }}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </td>
                            {% if item.sku[0:donation_content_id|length] == donation_content_id %}
                                <td>
                                    ${{ (item.price * item.quantity)|number_format(2, '.', ',') }}
                                </td>
                                <td>
                                    1
                                </td>
                            {% else %}
                                <td>
                                    ${{ item.price|number_format(2, '.', ',') }}
                                </td>
                                <td>
                                    {{ item.quantity }}
                                </td>
                            {% endif %}
                        </tr>
                        {% set itemTotal = itemTotal + (item.price * item.quantity) %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="clear"></div>

        {# Totals #}
        <div class="order-receipt-totals">
            <div class="col-sm-3 col-xs-12">
                <strong>Sub Total</strong>
            </div>                
            <div class="col-sm-3 col-xs-12">
                ${{ itemTotal|number_format(2, '.', ',') }}
            </div>
            <div class="clear"></div>

            {% if order.total_discounts > 0 %}
                <div class="col-sm-3 col-xs-12">
                    <strong>Discounts</strong>
                </div>                
                <div class="col-sm-3 col-xs-12">
                    -${{ order.total_discounts|number_format(2, '.', ',') }}
                </div>
                <div class="clear"></div>
            {% endif %}

            {% for tax in order.tax_lines %}
                <div class="col-sm-3 col-xs-12">
                    <strong>{{ tax.title }}</strong>
                </div>                
                <div class="col-sm-3 col-xs-12">
                    ${{ tax.price|number_format(2, '.', ',') }}
                </div>
                <div class="clear"></div>
            {% endfor %}

            <div class="col-sm-3 col-xs-12">
                <strong>Total</strong>
            </div>                
            <div class="col-sm-3 col-xs-12">
                ${{ order.total_price|number_format(2, '.', ',') }}
            </div>
            <div class="clear"></div>

        </div>
        <div class="clear"></div>

    </div>

{% endblock %}