{% include "ThinkCreativeFormBundle:parts:ajax_validation.html.twig" with {"form" : form, "TC_FORM_AJAX_VALIDATION_CALLBACK": "tcFormSetFeedback"} %}

{% include "ProjectMemberBundle:parts:join/flashbag.html.twig" %}

{% form_theme form "ProjectMemberBundle:parts:form/themes/default.html.twig" %}

<div class="mla-form">

    {{ form_start(form) }}
    {% include "ProjectSiteBundle:parts:form/message_asterisk.html.twig" %}

    <div class="form-row">
        <h2>Publication Options</h2>
        <p>
            All members receive PMLA and the MLA Newsletter.
        </p>

        <div class="form-row">
            <strong><em>MLA Newsletter</em></strong>
            {{ form_row(form.online_newsletter) }}
            <em>Note: The Newsletter is available to all members online in PDF.</em>
        </div>

        <div class="form-row{% if not joinRenew.isBenefit(form.products.list_of_members.vars.value) %} hidden{% endif %}">
            <strong><em>List of {{ joinRenew.getCurrentSignupYear() }} MLA Members</em>—$20</strong>
            {{ form_row(form.products.list_of_members, {"label" : "Click here to purchase a printed list of all " ~ (joinRenew.getCurrentSignupYear()) ~ " MLA members." }) }}
            <em>Note: The members' list is available free to all members online.</em>
        </div>

        <div class="form-row{% if not joinRenew.isBenefit(form.products.handbook.vars.value) %} hidden{% endif %}">
            <strong><em>MLA Handbook</em>–Complimentary Copy of Print and Online Editions</strong>
            {{ form_row(form.products.handbook) }}
        </div>
    </div>

    <div class="form-row">
        <h2>Donate to the MLA</h2>

        {% for field in form.donate.getIterator() %}
        <div class="form-row">
            {{ form_row(field.donate) }}
            <div class="form-row">
                {{ form_errors(field.amount) }}
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    {{ form_widget(field.amount) }}
                    <span class="input-group-addon">.00</span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="btn-group text-right pull-right">
        {{ form_row(form.submit) }}
        <div><a href="{{ previousStepPath }}" class="btn btn-back pull-right">
            Back
        </a></div>
        <div class="feedback-area"></div>
    </div>
    <div class="clear"></div>

    {{ form_end(form) }}
</div>