{% include "ThinkCreativeFormBundle:parts:ajax_validation.html.twig" with {"form" : form, "TC_FORM_AJAX_VALIDATION_CALLBACK": "tcFormSetFeedback"} %}

{% include "ProjectMemberBundle:parts:join/flashbag.html.twig" %}

{% form_theme form "ProjectMemberBundle:parts:form/themes/default.html.twig" %}

<div class="mla-form">

    {{ form_start(form) }}
    {% include "ProjectSiteBundle:parts:form/message_asterisk.html.twig" %}

    {{ form_row(form.birth_year) }}
    {{ form_row(form.gender) }}
    {{ form_row(form.race) }}
    {{ form_row(form.degree) }}
    {{ form_row(form.employment_status) }}
    {{ form_row(form.employment_sector) }}
    {{ form_row(form.tenure_status) }}
    {{ form_row(form.rank) }}

    <div class="btn-group text-right pull-right">
        {{ form_row(form.submit) }}
        <div><a href="{{ previousStepPath }}" class="btn btn-back pull-right">
            Back
        </a></div>
        <div class="feedback-area"></div>
    </div>
    <div class="clear"></div>

    {{ form_end(form) }}
    {% include "ThinkCreativeFormBundle:parts:ajax_validation.html.twig" with {"form" : form, "TC_FORM_AJAX_VALIDATION_CALLBACK": "tcFormSetFeedback"} %}
</div>