{% include "ThinkCreativeFormBundle:parts:ajax_validation.html.twig" with {"form" : form, "TC_FORM_AJAX_VALIDATION_CALLBACK": "tcFormSetFeedback"} %}
<script type="text/javascript">
    var DEPARTMENT_LOOKUP_URL = "{{ url('DepartmentLookup') }}";
</script>

{% include "ProjectMemberBundle:parts:join/flashbag.html.twig" %}

<div class="mla-form">

    {% form_theme form "ProjectMemberBundle:parts:form/themes/default.html.twig" %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_errors(form) }}

    {% include "ProjectSiteBundle:parts:form/message_asterisk.html.twig" %}
    {% include "ProjectMemberBundle:parts:member/form/authentication.html.twig" with { "form" : form } %}
    {% include "ProjectMemberBundle:parts:member/form/general.html.twig" with { "form" : form } %}
    {% include "ProjectMemberBundle:parts:member/form/address_home.html.twig" with { "form" : form } %}
    {% include "ProjectMemberBundle:parts:member/form/address_primary.html.twig" with { "form" : form } %}
    {% include "ProjectMemberBundle:parts:member/form/address_secondary.html.twig" with { "form" : form } %}
    {% include "ProjectMemberBundle:parts:member/form/languages.html.twig" with { "form" : form } %}
    {% include "ProjectMemberBundle:parts:member/form/privacy.html.twig" with { "form" : form } %}

    <div class="btn-group text-right pull-right">
        {{ form_row(form.submit) }}
        <div><a href="{{ previousStepPath }}" class="btn btn-back pull-right">
            Back
        </a></div>
        <div class="feedback-area pull-right"></div>
    </div>
    <div class="clear"></div>

    {{ form_end(form) }}
</div>