{% include "ProjectMemberBundle:parts:join/flashbag.html.twig" %}

<p>

    {% if not orcid_id %}
        <a href="#" onclick="launchOrcidAuth('{{ orcid_auth_url }}', '{{ orcid_client_id }}', '{{ thisStepPath }}'); return false;"><img src="{{ asset("bundles/projectmember/images/orcid_24x24.png") }}" alt="ORCID" /></a>

        <a href="#" onclick="launchOrcidAuth('{{ orcid_auth_url }}', '{{ orcid_client_id }}', '{{ thisStepPath }}'); return false;">Identify yourself with ORCID.org</a>
    {% else %}
        <span class="glyphicon glyphicon-ok orcid-success-checkbox"></span> You have successfully registered your ORCID account. (<a href="#" onclick="launchOrcidAuth('{{ orcid_auth_url }}', '{{ orcid_client_id }}', '{{ thisStepPath }}'); return false;">change</a>)
    {% endif %}
</p>

<p>
    {% if not orcid_id %}
        <a href="{{ nextStepPath }}">I do not wish to use ORCID in my profile at this time.</a>
    {% else %}
        <a href="?unlink_orcid=true">Unregiser my ORCID account.</a>
    {% endif %}
</p>

<div class="pull-right">
    <a href="{{ previousStepPath }}" class="btn btn-back">
        Back
    </a>
    {% if not orcid_id %}
        <a href="{{ nextStepPath }}" class="btn btn-next" id="orcid-btn-skip">Skip</a>
    {% else %}
        <a href="{{ nextStepPath }}" class="btn btn-next" id="orcid-btn-next">Next</a>
    {% endif %}
</div>
<div class="clear"></div>