{% include "ProjectMemberBundle:parts:join/flashbag.html.twig" %}
{% include "ThinkCreativeFormBundle:parts:ajax_validation.html.twig" with {"form" : form, "TC_FORM_AJAX_VALIDATION_CALLBACK": "tcFormSetFeedback"} %}

{# Ezuser is not applicable #}
{% if joinRenew.isEzUser() %}

    <p>
        You are currently logged in as an eZ Publish user. Please <a href="{{ path("logout", {'redirect' : path("JoinIndex") }) }}">log out</a> to register as a new member.
    </p>

{# Currently signed in as regular member #}
{% elseif joinRenew.isMember() %}

    <p>
        You are currently logged in as an MLA member. Are you sure you want to register as a new member? Instead, you may want to <a href="{{ path("JoinMembershipCategory") }}">renew your membership</a>, <a href="{{ path("UserMain") }}">update your record</a>, or <a href="{{ path("logout", {'redirect' : path("JoinIndex") }) }}">log out</a>.
    </p>

{# Submitted form, account found #}
{% elseif form_submitted and member_search and member_search.0.total_num_results > 0 %}
    <p>
        We found {% if member_search.0.total_num_results == 1 %}one account{% else %}{{ member_search.0.total_num_results }} accounts{% endif %} with the information you provided...
    </p>
    
    {% for member in member_search.0.search_results %}
        {% if loop.first %}
            <div class="col-sm-6 col-xs-12">
        {% elseif loop.index == ((member_search.0.total_num_results / 2) + 1)|round(0, 'ceil') %}
            </div><div class="col-sm-6 col-xs-12">
        {% endif %}
        <div class="member-info">
            <strong>{{ member.general.last_name}}, {{ member.general.first_name }}</strong>
            {% if not member.membership.class_code %}
                [<em>Incomplete</em>]
            {% endif %}
            <br/>
            <div><strong>Member ID: </strong> {{ member.id|abs }}</div>
            <div>
                <strong>Email: </strong>
                {% set email = member.general.email|split("@") %}
                {% for i in range(0, email[0]|length - 1) %}{% if loop.first %}{{ email[0]|slice(i, 1) }}{% else %}*{% endif %}{% endfor %}@{{ email[1] }}
            </div>
        </div>
        {% if loop.last %}
            </div>
        {% endif %}
    {% endfor %}
    
    <div class="clear"></div>

    <p>
        If you already have a member account with the MLA please <a href="{{ path("login") }}">sign in</a> using your username and password. If you would like to join as a new member, click Next.
    </p>

    <div class="pull-right">
        <a href="{{ path("JoinIndex") }}" class="btn btn-back">Back</a>
        <a href="{{ nextStepPath }}" class="btn btn-next">Next</a>
    </div>
    <div class="clear"></div>
    

{# Signed out #}
{% else %}

    {# Resume join option #}
    {% if returnStepPath %}
        <div class="alert alert-info">
            Welcome back! <a href="{{ returnStepPath }}">Click here to resume your membership application</a>. If you would like to start over then continue filling out the form on this page.
        </div>
    {% endif %}

    <div class="mla-form">
        {% form_theme form "ProjectMemberBundle:parts:form/themes/default.html.twig" %}
        {{ form_start(form) }}
        {% include "ProjectSiteBundle:parts:form/message_asterisk.html.twig" %}
        
        {{ form_row(form.first_name) }}
        {{ form_row(form.last_name) }}
        {{ form_row(form.email) }}

        <div class="btn-group pull-right">
            {{ form_row(form.buttons.submit) }}
            <div class="feedback-area"></div>
        </div>
        <div class="clear"></div>

        {{ form_end(form) }}
    </div>
{% endif %}