<script type="text/javascript">
    var JOIN_PROMO_VALIDATE_PATH = "{{ path('JoinMembershipCategoryPromoValidate') }}";
    var JOIN_AVAILABLE_PROMO_VALUES= [{% for promo in joinRenew.getAvailablePromoCodes() %}"{{ promo.value }}"{% if not loop.last %},{% endif %}{% endfor %}];
</script>
{% include "ThinkCreativeFormBundle:parts:ajax_validation.html.twig" with {"form" : form, "TC_FORM_AJAX_VALIDATION_CALLBACK": "tcFormSetFeedback"} %}
{% include "ProjectMemberBundle:parts:join/flashbag.html.twig" %}
{% form_theme form "ProjectMemberBundle:parts:form/themes/default.html.twig" %}

{# Already renewed member #}
{% if joinRenew.isFullMember() and joinRenew.getMemberClassCode() and joinRenew.getMemberLastPaidYear() >= joinRenew.getCurrentSignupYear() %}

    {% if joinRenew.getMemberClassCode() not in ["I", "H"] %}
        <p>
            Your {{ joinRenew.getMemberLastPaidYear() }} membership is current through 31 January {{ joinRenew.getMemberLastPaidYear() + 1 }}. You may renew your membership for {{ joinRenew.getMemberLastPaidYear() + 1 }} starting in mid-July {{ joinRenew.getMemberLastPaidYear() + 1 }}.
        </p>
    {% else %}
        <p>
            Thank you for supporting the association with your voluntary dues payment. You may renew your contribution for {{ joinRenew.getMemberLastPaidYear() + 1 }} starting in mid-July {{ joinRenew.getMemberLastPaidYear() + 1 }}. To make an additional contribution, please visit the <a href="#">donation</a> page.
        </p>
    {% endif %}

{% else %}

    {# Message for joining member #}
    {% if not joinRenew.isMember() %}
        <p>
            The membership application process involves selecting membership options, entering address and affiliation information, registering for MLA divisions and discussion groups, and selecting a payment option. Please be prepared with this information. Applications for {{ joinRenew.getCurrentSignupYear() }} membership will be accepted through 30 June {{ joinRenew.getCurrentSignupYear() }}.
        </p>

    {# Message for voluntary renewal #}
    {% elseif joinRenew.isMember() and joinRenew.getMemberClassCode() in ["I", "H"] %}
        <p>
            As a life member of the association, you are exempt from annual membership dues payments. If you would like to continue to pay dues on a voluntary basis, select the appropriate dues category below and click Continue. You will be asked to review your membership account and select a payment option. Please note that life members may deduct their entire dues payment as a charitable contribution.  Renewals for <strong>{{ joinRenew.getCurrentSignupYear() }} membership will be accepted through 30 June {{ joinRenew.getCurrentSignupYear() }}</strong>.
        </p>

    {# Message for renewal #}
    {% elseif joinRenew.isMember() %}
        <p>
            To renew your membership, select the appropriate dues category and click Continue. You will be asked to review your membership account and select a payment option. <strong>Renewals for {{ joinRenew.getCurrentSignupYear() }} membership will be accepted through 30 June {{ joinRenew.getCurrentSignupYear() }}</strong>.
        </p>
    {% endif %}

    <div class="mla-form mla-membership-category-form">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {% include "ProjectSiteBundle:parts:form/message_asterisk.html.twig" %}

        {# Promo code #}
        <div class="form-row form-row-promo">
            {{ form_label(form.promo) }}
            {{ form_widget(form.promo) }}
            {{ form_errors(form.promo) }}
            <noscript>
                <div class="pull-right">
                    {{ form_widget(form.promo_apply) }}
                </div>
            </noscript>
            <div class="clear"></div>
        </div>

        {# Membership category select #}
        <div class="membership-category">
            <div class="form-row">
            {{ form_label(form.membership_category) }}
            {{ form_errors(form.membership_category) }}
            {% for child in form.membership_category.getIterator() %}
                <div class="radio membership-category">
                    {{ form_widget(child) }}
                    {{ form_label(child) }}
                </div>

                {% for field in form.getIterator() %}
                    {% if field.vars.name == child.vars.value %}
                        <div class="form-row form-sub-content form-row-{{ child.vars.value }}">

                        {# special case for joint member #}
                        {% if child.vars.value == "joint" %}
                            {{ form_row(field.joint_member_number) }}

                            <div class="form-row form-row-joint_member_name">
                                <label>Joint Member Name</label>
                                <div>
                                    <em><noscript>Javascript is not enabled, cannot load member information.</noscript></em>
                                </div>
                            </div>

                            <p>
                                If you do not know the joint member number, please contact the MLA membership office (646 576-5151; <a href="mailto: membership@mla.org">membership@mla.org</a>).
                            </p>
                            <p>
                                <strong>Additional $44 is for joint member dues</strong>
                            </p>
                            {{ form_row(field.member_rate) }}

                        {# normal display of sub form for other cases #}
                        {% else %}
                            
                            {% for option in field.member_rate.getIterator() %}

                                {% set hasPromo = false %}
                                {% for promo in joinRenew.getAvailablePromoCodes() %}
                                    {% if promo.value == option.vars.value and joinRenew.getPromoCode() == promo.code %}
                                        <div class="form-row form-row-{{ loop.index0 }} checkbox">
                                            {{ form_widget(option) }}<label for="{{ option.vars.id }}">{{ promo.label }}</label>
                                        </div>
                                        {% set hasPromo = true %}
                                    {% endif %}
                                {% endfor %}

                                {% for promo in joinRenew.getAvailablePromoCodes() %}
                                    {% if promo.value == option.vars.value and joinRenew.getPromoCode() != promo.code %}
                                        <div class="form-row form-row-{{ loop.index0 }} checkbox hidden">
                                            {{ form_widget(option) }}<label for="{{ option.vars.id }}">{{ promo.label }}</label>
                                        </div>
                                    {% endif %}
                                {% endfor %}

                                {% if not hasPromo %}
                                    {{ form_row(option) }}
                                {% endif %}

                            {% endfor %}

                        {% endif %}

                        </div>
                    {% endif %}
                {% endfor %}
                
            {% endfor %}
            </div>
        </div>

        <div class="btn-group pull-right">
            {{ form_row(form.next) }}
            <div>
                <a href="{{ previousStepPath }}" class="pull-right btn btn-back">
                    Back
                </a>
            </div>
            <div class="feedback-area pull-right"></div>
        </div>
        <div class="clear"></div>

        {{ form_end(form) }}
    </div>

{% endif %}