{% include "ThinkCreativeFormBundle:parts:ajax_validation.html.twig" with {"form" : form, "TC_FORM_AJAX_VALIDATION_CALLBACK": "tcFormSetFeedback"} %}


<h2>Select Forums</h2>
{% include "ProjectMemberBundle:parts:join/flashbag.html.twig" %}

<div class="mla-form">
    {% form_theme form "ProjectMemberBundle:parts:form/themes/default.html.twig" %}
 
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_errors(form) }}
    <div class="forum-selection">
        <div class="js-forum-selection">
            <input type="text" class="forum-typeahead form-control" placeholder="Type a term to find forums" />
            <div class="selection-list well">
            </div>
        </div>
    </div>
    {{ form_row(form.primary_forum_selection.forums) }}
    
    <div class="btn-group text-right pull-right">
        {{ form_row(form.submit) }}
        <div><a href="{{ previousStepPath }}" class="btn btn-back pull-right">
            Back
        </a></div>
        <div class="feedback-area pull-right"></div>
    </div>
    <div class="clear"></div>

    {{ form_end(form) }}
</div>

<h2>MLA Forums</h2>
<div class="mla-forum-list">
    {% set hasSecondCol = false %}
    {% set orgCount = 0 %}

    {% for category in categories %}
        {% if loop.first %}
            <div class="col-sm-6 col-xs-12">
        {% endif %}

        <h4>{{ category.name }}{% if category.id %} [{{ category.id|upper }}]{% endif %}</h4>
        <ul>
            {% for subcat in category.subcategories %}
                <li>
                    <h5>{{ subcat.name }}</h5>
                    <ul>
                        {% for org in organizations %}
                            {% if org.subcategory == subcat.id %}
                                <li>
                                    <span class="text-primary">{{ org.category|upper }}</span>
                                    <span>{{ org.name }}</span>
                                </li>
                                {% set orgCount = orgCount + 1 %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                {% if orgCount > organizations|length / 2 and not hasSecondCol %}
                    </ul></li></ul></div><div class="col-sm-6 col-xs-12"><ul><li><ul>
                    {% set hasSecondCol = true %}                    
                {% endif %}
            {% endfor %}
            {% for org in organizations %}
                {% if org.category == category.id and not org.subcategory %}
                    <li>
                        {% if org.category %}<span class="text-primary">{{ org.category|upper }}</span>{% endif %}
                        <span>{{ org.name }}</span>
                    </li>
                    {% set orgCount = orgCount + 1 %}
                {% endif %}
            {% endfor %}
        </ul>

        {% if orgCount > organizations|length / 2 and not hasSecondCol %}
            </div><div class="col-sm-6 col-xs-12">
            {% set hasSecondCol = true %}
        {% endif %}

        {% if loop.last %}
            </div>
        {% endif %}

    {% endfor %}
    <div class="clear"></div>
</div>