{% include "ProjectMemberBundle:parts:join/flashbag.html.twig" %}

{% if member %}
    <p>
        Please review your membership account. If you wish to make changes, click the Edit link for the information you wish to modify. Otherwise, select your form of payment at the bottom of the page.
    </p>
{% else %}
    <p>
        Please review your membership application. If you wish to make changes, click the Edit link for the information you wish to modify. Otherwise, select your form of payment at the bottom of the page.
    </p>
{% endif %}

<p>&nbsp;</p>

<div class="member-review">
    <div class="col-sm-6 col-xs-12">
        <div class="member-section">
            <h2 class="member-section-title">Contact Information</h2>
            <div class="member-data" data-member-data="general">
                {{ render_esi(url('UserRead', {"form" : "general"})) }}
            </div>
            <div class="pull-right">
                <a href="{{ path("UserEdit", {"form_name" : "general"}) }}" onclick="launchModal('general'); return false;" class="btn btn-default btn-sm">Edit</a>
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="col-sm-6 col-xs-12">
        <div class="member-section">
            <h2 class="member-section-title">Authentication</h2>
            <div class="member-data" data-member-data="authentication">
                {{ render_esi(url('UserRead', {"form" : "authentication"})) }}
            </div>
            <div class="pull-right">
                <a href="{{ path("UserEdit", {"form_name" : "authentication"}) }}" onclick="launchModal('authentication'); return false;" class="btn btn-default btn-sm">Edit</a>
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="clear"></div>                

    <div class="col-sm-6 col-xs-12">
        <div class="member-section">

            <h2 class="member-section-title">Home address</h2>
            <div class="member-data" data-member-data="address_home">
                {{ render_esi(url('UserRead', {"form" : "address_home"})) }}
            </div>
            <div class="pull-right">
                <a href="{{ path("UserEdit", {"form_name" : "address_home"}) }}" onclick="launchModal('address_home'); return false;" class="btn btn-default btn-sm">Edit</a>
            </div>
            <div class="clear"></div>

        </div>
    </div>

    <div class="col-sm-6 col-xs-12">
        <div class="member-section">
            <h2 class="member-section-title">Languages taught or studied</h2>
            <div class="member-data" data-member-data="languages">
                {{ render_esi(url('UserRead', {"form" : "languages" })) }}
            </div>
            <div class="pull-right">
                <a href="{{ path("UserEdit", {"form_name" : "languages"}) }}" onclick="launchModal('languages'); return false;" class="btn btn-default btn-sm">Edit</a>
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="clear"></div>

    {% for institution in ["primary", "secondary"] %}
    <div class="col-sm-6 col-xs-12">
        <div class="member-section">

            <h2 class="member-section-title">{{ institution|capitalize }} institutional affiliation</h2>
            <div class="member-data" data-member-data="address_{{ institution }}">
                {{ render_esi(url('UserRead', {"form" : "address_" ~ institution })) }}
            </div>
            <div class="pull-right">
                <a href="{{ path("UserEdit", {"form_name" : "address_" ~ institution }) }}" onclick="launchModal('address_{{ institution }}'); return false;" class="btn btn-default btn-sm">Edit</a>
            </div>
            <div class="clear"></div>

        </div>
    </div>
    {% endfor %}
    <div class="clear"></div>

    <div class="col-xs-12">
        <div class="member-section">
            <h2 class="member-section-title">Privacy settings</h2>
            <div class="member-data" data-member-data="privacy">
                {{ render_esi(url('UserRead', {"form" : "privacy" })) }}
            </div>
            <div class="pull-right">
                <a href="{{ path("UserEdit", {"form_name" : "privacy"}) }}" onclick="launchModal('privacy'); return false;" class="btn btn-default btn-sm">Edit</a>
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="col-xs-12">
        <div class="member-section">
            <h2 class="member-section-title">Email preferences</h2>
            <div class="member-data" data-member-data="email_preferences">
                {{ render_esi(url('UserRead', {"form" : "email_preferences" })) }}
            </div>
            <div class="pull-right">
                <a href="{{ path("UserEdit", {"form_name" : "email_preferences"}) }}" onclick="launchModal('email_preferences'); return false;" class="btn btn-default btn-sm">Edit</a>
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="col-xs-12">
        <div class="member-section">
            <h2 class="member-section-title">Primary forum affiliations</h2>
            <div class="member-data" data-member-data="primary_forum_selection">
                {{ render_esi(url('UserRead', {"form" : "primary_forum_selection" })) }}
            </div>
            <div class="pull-right">
                <a href="{{ path("UserEdit", {"form_name" : "primary_forum_selection"}) }}" onclick="launchModal('primary_forum_selection'); return false;" class="btn btn-default btn-sm">Edit</a>
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="col-xs-12">
        <div class="member-section">
            <h2>Order</h2>
            <table class="join-order-summary table">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product, quantity in order.getProductList() %}
                        <tr>
                            <td>{{ order.getProductFromId(product).getName()|raw }} {% if order.getProductFromId(product).getVariantName() %}- {{ order.getProductFromId(product).getVariantName() }}{% endif %}</td>
                            <td>${{ (order.getProductFromId(product).getPrice() * quantity)|number_format(2, ".", ",") }}</td>
                        </tr>
                        {% set productIdSplit = product|split(product_variant_seperator) %}
                        {% if membership_product_object_id == productIdSplit[0] %}
                            {% if order.getExtraFee("joint-membership") %}
                                <tr>
                                    <td>Joint Membership w/ #{{ order.getCustomerDetails().misc.jointMemberId }}</td>
                                    <td>${{ order.getExtraFee("joint-membership")|number_format(2, ".", ",") }}</td>
                                </tr>
                            {% endif %}                        
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            <div class="col-md-5 col-sm-8 col-xs-12 pull-right text-right">

                <div class="order-totals">
                    <div class="col-xs-8">
                        <h2>Total:</h2>
                    </div>
                    <div class="col-xs-4">
                        <h2>${{ order.getTotalPrice(true, true)|number_format(2, ".", ",") }}</h2>
                    </div>
                    <div class="clear"></div>
                </div>

            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>

<div class="btn-group pull-right">
    <div>
        <a href="{{ previousStepPath }}" class="btn btn-back">Back</a>
        <a href="{{ path("JoinMembershipPaymentCheck") }}" class="btn btn-next">Pay By Check</a>
        <a href="{{ path("JoinMembershipPayment", {"payment_type" : "paypal"}) }}" class="btn btn-next">Pay With Paypal</a>
        <a href="{{ path("JoinMembershipPayment", {"payment_type" : "credit-card"}) }}" class="btn btn-next">Pay With Credit Card</a>
    </div>
</div>
<div class="clear"></div>