// Buttons related to MLA Shop
.btn {

    // Cart Button
    &.btn-cart {
        color: #ccc;
        background: url(/bundles/projectproduct/images/cart_icon_27x22.png) no-repeat 5px center #660044;
        padding-left: 60px;
        background-size: 27px 22px;
        text-align: left;
        background-position: 25px 5px;
        width: 100%;  

        span.badge {
            position: absolute;
            top: 2px;
            margin-left: -30px;
            color: #d65616;
            width: auto;
            background-color: #fff;
            padding: 1px 4px 2px;
            border-radius: 3px;
            text-align: center;
            font-size: 12px;
        }
    }

    // Promo Button
    &.btn-promo {
        background: none;
        border: none;
        outline: none;
        padding: 0;
        margin: 0;
        color: #428bca;
        &:hover {
            text-decoration: underline;
        }
        span.glyphicon {
            -moz-transform: scaleX(-1);
            -o-transform: scaleX(-1);
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
            filter: FlipH;
            -ms-filter: "FlipH";            
        }

    }

}

// Dropdowns
.dropdown {

    &.dropdown-cart {

        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 3px;
        outline: none;

        ul.dropdown-menu {

            background-color: #f0f0f0;
            box-shadow: none;
            -webkit-box-shadow: none;
            border-top: none;
            right: -1px;
            left: -1px;
            margin-top: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 0;

            li a {

                padding: 8px 10px;
                color: #656565;
                text-align: left;

                &.dropdown-link {
                    color: #006ccc;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            li.share-this {
                text-align: center;
            }

            & > li > a:hover, & > li > a:focus {
                background-color: #f0f0f0;
            }

            img {
                vertical-align: 3px;
            }

        }

        .btn {
            text-transform: uppercase;
            text-align: left;
            color: #707070;
            font-size: 12px;
            padding: 4px 10px;
            border: none;
            width: 100%;
        }

        &.open {
            background-color: #f0f0f0;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom: none;

            .btn {
                color: #fff;
                background-color: #656565;
            }

        }
    }
}

// Caret
.caret.caret-shop {
    position: absolute;
    right: 4%;
    top: 39%;
    border-top: 8px solid;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}

// Remove Item From Cart
.cart-remove-btn {
    color: #888;
    font-size: 10px;
}