.cart-full-container {

    border-radius: 5px;
    border: 1px solid #cccccc;
    margin-bottom: 15px;

    .cart-item-quantity {
        .form-control {
            max-width: 42px;
            float: left;
            margin-right: 4px;
        }

        &.embed {
            .form-control {
                height: 22px;
                width: 24px;
                font-size: 10px;
                padding-left: 3px;
                float: left;
                padding-right: 3px;
                margin-right: 2px;
            }
        }
    }

    .panel-heading {
    	padding: 0 15px;
    	h2 {
    		font-size: 20px;
    	}
    }

    .cart-items .cart-product-item {
        margin: 0 10px;
        padding: 25px 0;
        border-bottom: 1px solid #ccc;

        img {
            max-width: 100%;
        }

        &:last-child, &:only-child {
            border-bottom: none;
        }
        h2 {
            font-size: 18px;
            a:visited {
                color: #428bca;
            }
        }
    }

}


.cart-embed, .cart-product-item {
    .product-image {
        &.no-image {
            border: 1px solid #dddddd;
            min-height: 100px;
            line-height: 100px;
            text-align: center;
            min-width: 80px;
        }
        img {
            max-width: 100%;
        }
    }
}

.order-totals {
    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
        padding-left: 0;
    }
}

div.checkout-area {
    margin: 0 0 15px 0;
}

// single variant binding type
.price-single {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 3px;
    outline: none;

    text-transform: uppercase;
    text-align: left;
    color: #707070;
    font-size: 12px;
    padding: 4px 10px;
    width: 100%;
    line-height: 23px;

}

form.promo-form {
    .form-group {
        margin-bottom: 5px;
    }
}
.cart.review-order {
	.shipping-info {
        background-color: #f0f0f0;
        border: 1px solid #d2d2d2;
        margin: 0 0 20px 0;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        & div:first-child {
        	border-right: 1px solid #cccccc;
        	margin-top: 14px;
        	h2:first-child {
        		margin-top: 0;
            }
        }
        & div:last-child {
        	padding-left: 40px;
        }
    }
}
.thank-you {
	h1 {
		margin-bottom: 20px !important;
    }
    .bottom-pad {
    	margin-bottom: 20px;
    }
}

.panel-default.cart-embed {
	.cart-items {
        .cart-product-item {
            border-bottom: 1px solid #cccccc;
            margin-bottom: 10px;
            padding-bottom: 8px;
            p {
                line-height: 1em;
            }
            .col-md-7.col-sm-7 {
                padding-right: 0;
            }
        }
        .cart-product-item:last-child {
            border: none;
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }
    .panel-heading {
    	.col-xs-5, .col-xs-7 {
    		h2 {
    			color: #000000;
    			font-size: 14px;
    			margin: 0;
            }
        }
    }
}

.related-products {
	.cart-product-item {
		border-bottom: 1px solid #cccccc;
		margin-bottom: 10px;
		padding-bottom: 10px;
    }
	.cart-product-item:last-child {
		border: none;
		margin: 0;
		padding: 0;
    }
}

.mla-form.checkout {

    input, select, textarea {
        &::-webkit-input-placeholder, option[value=""] {
            text-transform: uppercase;
            font-size: 10px;
            padding-top: 3px;
        }
        &::-moz-placeholder, &:-moz-placeholder, &:-ms-input-placeholder {
            text-transform: uppercase;
            font-size: 10px;
            padding-top: 3px;
        }
    }

	.form-row-shipping, .form-row-contact, .form-row-billing, .form-row-payment {
		background-color: #f0f0f0;
		border: 1px solid #c5c5c5;
		border-radius: 5px;
		margin: 0 0 10px 0;
		padding: 15px 15px 5px 15px;
    }
    .form-row-shipping > label, .form-row-contact > label, .form-row-billing > label, .form-row-payment .col-xs-8 > label {
        color: #333399;
        font-family: "proxima-nova",sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        margin-top: 0;
        margin-bottom: 10px;
    }
	.form-row-shippingFirstName, .form-row-shippingLastName, .form-row-shippingAddress1, .form-row-shippingAddress2, .form-row-shippingState, .form-row-shippingPostcode, .form-row-shippingCountry, .form-row-billingFirstName, .form-row-billingLastName, .form-row-billingAddress1, .form-row-billingAddress2, .form-row-billingState, .form-row-billingPostcode, .form-row-billingCountry, .form-row-expiryMonth, .form-row-expiryYear, #checkout_payment_expire {
		float: left;
		position: relative;
		min-height: 1px;
		box-sizing: border-box;
    }
    .form-row-payment .col-xs-8 {
    	padding-left: 0;
    }
    .form-row-expire {
        border: 1px solid #cdcdcd;
        border-radius: 4px;
        padding: 5px;
        label {
            color: #857a80;
            text-transform: uppercase;
            margin-top: 11px;
            margin-left: 7px;
            padding-bottom: 5px;
            font-size: 10px;
        }
        .form-row {
            margin-bottom: 0;
        }
    }
    #checkout_payment_expire {
    	display: inline-block;
    	float: right;
    	margin-left: 12px;
    	width: 70%;
    }
    .form-row-expiryMonth, .form-row-expiryYear {
    	width: 50%;
    }
    .form-row-expiryMonth {
    	padding-right: 10px;
    }
    .form-row-expiryYear{
    	padding-left: 10px;
    }
    .form-row-cvv {
    	width: 30%;
    }
    .form-row-shippingFirstName, .form-row-billingFirstName {
		padding-right: 5px;
		width: 50%;
    }
    .form-row-shippingLastName, .form-row-billingLastName {
		padding-left: 5px;
		width: 50%;
    }
    .form-row-shippingAddress1, .form-row-billingAddress1 {
		padding-right: 5px;
    	width: 70%;
    }
    .form-row-shippingAddress2, .form-row-billingAddress2 {
		padding-left: 5px;
    	width: 30%;
    }
    .form-row-shippingState, .form-row-shippingPostcode, .form-row-shippingCountry, .form-row-billingState, .form-row-billingPostcode, .form-row-billingCountry {
    	width: 33.3333%;
    }
    .form-row-shippingPostcode, .form-row-billingPostcode {
    	padding: 0 10px;
    }

    .cards {
        margin-bottom: 15px;
        .card {
            img {
                padding-right: 5%;
                margin-bottom: -20px;
            }
        }
    }

    .ccv-help {
        margin-left: 10px;
        line-height: 35px;
    }

    .cc-secure {
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 170px;

        img {
            float: left;
            max-width: 32px;
            margin-right: 10px;
            position: relative;
            top: -8px;
        }
        p {
            line-height: 14px;
            font-weight: bold;
            font-size: 13px;
            vertical-align: 15px;            
        }
    }

    img.authorizenet-badge {
        margin-left: auto;
        margin-right: auto;
    }

}
@media (max-width: 1000px) {
	.mla-form.checkout .form-row-expire label {
		width: auto;
        display: block;
    }
    .mla-form.checkout #checkout_payment_expire {
    	float: none;
        width: 100%;
        padding-right: 25px;

        .form-row {
            width: 100%;
            float: none;
            padding-left: 0;
            padding-right: 0;
            margin-bottom: 7px;
        }
    }

    .mla-form.checkout .form-row-cvv {
        width: 40%;
    }

    .mla-form.checkout .cc-secure {
        width: auto;
        text-align: center;
        img {
            display: none;
        }

    }
}

// Member discount color
.member-discount, .discount_25378, .discount_25378_desc, .discount_25378_amount  {
    color: #dd7529;
}