$breakpoint: 992px;
$breakpoint-sm: 768px;
$breakpoint-xs: 540px;

.product-page,.product-line {

    .col-md-4, .col-md-6, .col-sm-6, .col-md-12 {
        padding-left: 0;

        @media (max-width: $breakpoint) {
            padding-right: 0;
        }
    }

    h1.product-title, h3.product-edition {
        color: #034a51;
    }

    h1.product-title {
        margin-bottom: 20px !important;
    }

    h3.product-edition {
        font-size: 24px;
        margin-bottom: 20px;
        border-bottom: none;
        font-family: 'lexia', serif;
    }

    img.product-image {
        border: 1px solid #dddddd;
        max-width: 100%;
    }
    ul.variants {
        list-style: none;
        padding:0;

        li {
            margin-top: 5px;
        }
    }

    .product-image {
        max-height: 610px;
        text-align: center;
        font-family: "Lexia", serif;
        font-size: 28px;
        line-height: 100%;

        img {
            border: 1px solid #ccc;
            max-width: 100%;
        }

        &.no-image {
            min-height: 500px;
            line-height: 500px;
        }
    }

    .product-data {

        &, ul li {
            font-family: "Lexia", sans-serif;
            color: #656565;
            font-size: 18px;
        }

        ul {
            list-style: none;
            padding: 0;
        }
        .product-series {
            color: #006ccc;
        }

        .page_count {
            margin-top: 10px;
        }

        .publication_year {
            margin-bottom: 10px;
        }

    }

    .product-options {

        position: absolute;
        width: 100%;
        bottom: 0;
        left: 100%;

        form.product-addtocart {
            margin-top: 10px;

            .dropdown-cart {
                //min-width: 170px;
            }

            div > .btn-cart {
                position: relative;
                //left: 10px;
                top: -2px;

                p {
                    margin-bottom: 0px;
                }
            }

        }

        .dropdown a, button {
            width: 100%;
            text-align: left;
        }
        .dropdown {
            //max-width: 189px;
        }

        .variant-selection {
            position: relative;
            top: 3px;
        }

        .ebooks {
             ul li .glyphicon {
                top: 3px;
             }
        }

        @media (max-width: $breakpoint) {
            position: relative;
            left: 0;
            margin-top: 10px;
            margin-bottom: 20px;

            .col-md-6, .col-md-12 {
                margin-bottom: 5px;
            }
            form.product-addtocart {
                margin-top: 0;

                .btn-cart {
                    padding-right: 0;
                }
            }
        }

    }

    // table of contents
    #product-toc {
        p {
            line-height: 1em;
            &.toc_level1 {font-weight: bold; font-size: 130%; margin-top: 1.5em;}
            &.toc_level2 {font-weight: bold; font-size: 100%; margin-top: 1.25em;}
            &.toc_level3 {margin-left: 2em;}
            &.toc_level4 {margin-left: 4em;}
            &.toc_level5 {margin-left: 6em;}
            &.toc_level6 {margin-left: 8em;}
            &.toc_level7 {margin-left: 10em;}
            &.toc_author {margin-left: 4em; font-style:italic;}
        }
    }

    blockquote {
        color: #656565;
        text-align: left;
        p, i {
            font-size: 18px;
            font-weight: 600;
            font-family: 'lexia', serif;
        }
        p {
            margin-bottom: 0;
        }
        i {
            margin-bottom: 20px;
            text-align: right;
        }

        padding: 0;
        margin: 10px 0 15px;

    }

    @media (max-width: $breakpoint-sm) {
        .product-image {
            width: 50%;
            float: left;
            margin-bottom: 15px;
        }
        .product-options {
            width: 45%;
            margin-left: 4%;
            float: left;
            margin-bottom: 15px;
        }
    }

    @media (max-width: $breakpoint-xs) {
        .product-image {
            width: 100%;
            float: none;
            margin-bottom: 10px
        }
        .product-options {
            width: 100%;
            margin-left: 0;
            float: none;
            margin-bottom: 10px;
        }
    }

    .product-options .dropdown a, .product-addtocart .dropdown a {
        text-overflow: ellipsis;
        overflow: hidden;
        padding-right: 20%;
    }

    .dropdown.dropdown-cart ul.dropdown-menu > li > a:hover, .dropdown.dropdown-cart ul.dropdown-menu > li > a:focus {
        color: #000;
    }


    .product-addtocart {
        .btn {
            width: 100%;
        }
    }

    .nav-tabs {
        margin-top: 20px;
    }

    .tab-content {
        padding: 10px;
        max-height: 480px;
        overflow-y: scroll;
        border: 1px solid #dddddd;
        border-top: none;
    }

    .discount-starburst-cart {
        margin-top: 15px;
        .product-addtocart {
            position: relative;
            top: 45px;
        }

        @media (max-width: $breakpoint) {
            display: none;
        }
    }

    .product-related {
        margin-top: 15px;

        .product-embed {
            float: left;
            margin-top: 3px;
        }

    }

    .blurb {
        margin-top: 25px;
        margin-bottom: 20px;
        font-family: 'Lexia', sans-serif;
        font-weight: bold;
        font-size: 21px;
        line-height: 30px;
        color: #656565;
    }

}

.product-embed {

    position: relative;
    overflow: hidden;
    display: inline-block;

    &.size-bookstore_listitem {
        width: 23.5%;
        height: 270px;
        margin: 0 1%;
        margin-bottom: 10px;
        overflow: hidden;

        @media (max-width: $breakpoint) {
            width: 48%;
        }
    }
    &.size-featured {
        width: 32%;
        margin: 0 1%;
        margin-bottom: 10px;
        overflow: hidden;
        height: 370px;

        @media (max-width: $breakpoint) {
            width: 100%;
        }

    }
    &.size-listitem {
        width: 32%;
        margin: 0 1%;
        margin-bottom: 10px;
        overflow: hidden;
        border: 1px solid #ccc;
        height: 390px;

        @media (max-width: $breakpoint) {
            width: 48%;
        }

    }
    .product-desc {
        text-align: left;
        pointer-events:none;
        position: absolute;
        top: 100%;
        min-height: 190px;
        max-height: 100%;
        overflow: hidden;
        width: 100%;
        background: rgba(3, 74, 81, 0.75);
        padding: 0px 12px;
        transition: top 0.25s;
        -webkit-transition: top 0.25s;
        -moz-transition: top 0.25s;

        h3, h3 a {
            font-family: 'lexia', serif;
            color: #fff;
            font-weight: 300;
            border: none;
            text-transform: none;
            font-size: 20px;
            margin-bottom: 5px;
        }

        ul.authors {
            list-style: none;
            padding-left: 0;
            line-height: 1.1em;
            color: #ffffff;
            font-size: 11px;
            font-weight: 300;
            font-family: 'proxima-nova', sans-serif;
            text-transform: uppercase;
            li {
                color: #fff;
            }
        }

        @media (max-width: $breakpoint) {
            position: static;
            pointer-events: auto;
            background: none;
            padding: 0;
            min-height: 0;

            h3, h3 a {
                color: #006ccc;
                font-family: "proxima-nova", sans-serif;
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                text-align: center;
            }
            ul.authors{
                display: none;
            }
        }

    }

    .product-image {
        display: inline-block;
        width: 100%;
        height: 100%;
        text-align: center;

        &.no-image {
            text-align: center;
            font-weight: bold;
            border: 1px solid #cccccc;
            color: #ccc;
            line-height: 17px;
            padding: 10px;

            a {
                display: inline-block;
                width: 100%;
                height: 100%;
            }
        }

        @media (max-width: $breakpoint) {

            width: auto;

            &.no-image {
                height: auto;
                line-height: 22px;
            }
        }

    }
    &.size-featured .product-image.no-image,
        .size-listitem .product-image.no-image {
        height: 370px;
    }

    &.size-bookstore_listitem, &.size-featured {
        border: 1px solid #ccc;
    }

    @media (max-width: $breakpoint) {
        vertical-align: top;
    }


}

.product-line {

    margin-bottom: 15px;

    .product-image {
        text-align: center;

        &.no-image {
            border: 1px solid #cccccc;
            min-height: 0;
            line-height: 120px;
        }
    }
    .product-info {
        float: left;

        font-family: "Lexia", sans-serif;
        color: #656565;
        font-size: 16px;

        ul.authors {
            list-style: none;
            padding-left: 0;
        }

        .product-series {
            color: #006ccc;
        }

        .product-desc {
            margin-top: 10px;
            margin-bottom: 10px;
            color: #000;
            overflow: hidden;

            .content {
                display: inline;

                div, p {
                    display: inline;
                }

            }

        }

    }

}

.product-line, .product-embed {
    .product-image {

        line-height: 100%;
        font-size: 14px;
        overflow: hidden;
        vertical-align: middle;
        position: relative;

        img {
            vertical-align: middle;
            max-width: 100%;
            max-height: 100%;
        }

        &.no-image {
            min-height: 120px;
            border: 1px solid #ccc;
        }
    }

    @media (max-width: $breakpoint) {
        .product-image {
            border: 1px solid #ccc;
            img {
                border: none;
            }
        }
    }

}

.product-list-customtag, .product-related {
    text-align: center;
    h3 {
        text-align: left;
    }
    a.pull-right {
        text-transform: uppercase;
    }
    .product-embed.size-featured:first-of-type,
    .product-embed.size-listitem:first-of-type,
    .product-embed.size-bookstore_listitem:nth-of-type(4n+1) {
        margin-left: 0;
    }
    .product-embed.size-featured:nth-of-type(3n+1) {
        margin-left: 0;
    }
    .product-embed.size-featured:nth-of-type(3n+3) {
        margin-right: 0px;
    }
    .product-embed.size-featured:nth-of-type(3),
    .product-embed.size-listitem:nth-of-type(3),
    .product-embed.size-bookstore_listitem:nth-of-type(4n) {
        margin-right: 0;
    }
}

@media (max-width: 1199px) {
    .product-list-customtag .product-embed.size-featured, .product-embed.size-bookstore_listitem {
        height: auto;
    }
    .product-page .product-embed.size-listitem {
        height: auto;
    }
}
@media (max-width: 991px) {
    .product-embed .product-desc h3, .product-embed .product-desc h3 a {
        font-size: 16px;
    }
}

.order-totals {
    .col-xs-7, .col-xs-5 {
        h2 {
            color: #333399 !important;
            font-size: 24px !important;
        }
    }
    .col-xs-5 {
        text-align: left;
    }
}
.cart-full-container .panel-heading {
    min-height: 45px;
}
