#search-page {
    .category-results {
        margin-bottom: 30px;
    }
    h1.page-title {
    	margin-top: 0 !important;
    }
    .product-line {
    	.product-info h2 {
            margin-top: 0;
        }
        .col-xs-3 {
        	padding-left: 0;
        }
    }
}