$breakpoint: 992px;

#mla-side-cart {
    > div {
        padding: 0;
    }
    .btn-cart {
        top: 45px;
        position: relative;
    }
    margin-bottom: 15px;

    .discount-badge {
        max-width: 100%
    }

    @media (max-width: $breakpoint) {
        margin-top: 15px;
        .btn-cart { width: 100% }
    }

}