{% block twitter_bootstrap_stylesheets %}
{% stylesheets output="css/bootstrap.css" "@twitter_bootstrap_stylesheets" %}
<link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
{% endstylesheets %}
{% endblock %}

{% block twitter_bootstrap_javascript %}
{% javascripts output='js/bootstrap.js' '@twitter_bootstrap_javascript' %}
<script type="text/javascript" src="{{ asset_url }}" charset="utf-8"></script>
{% endjavascripts %}
{% endblock %}
