<div class="content-view-embed">
    <div class="class-file">
    {% if not ez_is_field_empty(content, "file") %}
        {% set file = content.getField('file') %}
        <a href="/content/download/{{ content.id }}/{{ file.id }}/file/{{ file.value.fileName }}">{{ file.value.fileName|simple_text_format }}</a>{% if file.value.mimeType == 'application/pdf' %}&#32;{% image "@ProjectSiteBundle/Resources/public/images/pdf.png" %}<img src="{{ asset_url }}" width="16" height="16" />{% endimage %}{% endif %}
    {% endif %}
   </div>
</div>