{% if inline is not defined %}
    {% set inline = false %}
{% endif %}
{% if objectParameters.align is not defined %}
    {% set align = "" %}
{% else %}
    {% set align = objectParameters.align %}
{% endif %}

<figure{% if inline and align %} class="pull-{{ align }}"{% endif %}>
{% set imageAlias = ez_image_alias( content.getField("image"), content.versionInfo, objectParameters.size) %}
<img class="img-responsive{% if not inline and align %} image-embed-{{ align }}{% endif %}" src="{{ asset(imageAlias.uri) }}" width="{{ imageAlias.width }}" height="{{ imageAlias.height }}" />
{% if objectParameters.class is defined and objectParameters.class == "image_caption" and not ez_is_field_empty(content, "caption") %}
    <div class="image-embed-caption" style="width: {{ imageAlias.width }}px;">
        {{ ez_render_field(content, "caption") }}
    </div>
{% endif %}
</figure>