{% set fieldName = fieldName is defined ? fieldName : "video" %}

{% if inline is not defined %}
    {% set inline = false %}
{% endif %}
{% if objectParameters.align is not defined %}
    {% set align = "" %}
{% else %}
    {% set align = objectParameters.align %}
{% endif %}

<div class="embed jw_player_{{ fieldName }}{% if align %} pull-{{ align }}{% endif %}">
    {{ ez_render_field(content, fieldName, { "player" : player is defined ? player : null }) }}
</div>

{% if not inline %}
<div class="clear"></div>
{% endif %}