<h1>Resolution 2007-3</h1>
Whereas upon criticism of Professor Ward Churchill for his remarks concerning the 9/11 attacks, the University of Colorado initiated proceedings against him, and

Whereas such acts of retribution threaten free expression in the university setting, particularly against those in historically marginalized disciplines,

Be it resolved that the MLA condemns the University of Colorado investigation and all such politically motivated investigations into the speech and scholarship of faculty members throughout the world.

<a class="sectionindex" href="/comment_res2007&topic=3">View members' comments on this resolution</a>

<!--<a class="sectionindex" href="/comment_form&topic=3">Post your comment on this resolution</a> (Note: The wording of the resolution may not be amended at this point in the resolutions process.)-->
