<h1>Evaluating Digital Work for Tenure and Promotion: A Workshop for Evaluators and Candidates</h1>
<I>Saturday, 27 December
2:00&#150;5:00 p.m., Powell, Hilton San Francisco</I>

Do you know how to assess effectively digital work for promotion and tenure? Do you know how to prepare your dossier so that your digital work can be effectively assessed? This three-hour workshop will offer discussion of case studies (including CVs, digital projects, and supporting materials) and identification of effective evaluation strategies and guidelines. The workshop will be limited to thirty participants so that there will be ample time for facilitated discussion. Our facilitators have extensive experience in the evaluation of digital literary scholarship and of work in computer-assisted language learning.

