<h2>Resolution 2011-1</h2>
Whereas the United States Senate refused to vote on the DREAM Act, which would have granted eligible undocumented students paths to citizenship and tuition assistance,

Be it resolved that the MLA support the efforts of undocumented students seeking paths to legal status by attending institutions of higher education.


<b><a href="/resolution_2011_back">Review the background information received by the Delegate Assembly</a>.</b> 

<a class="sectionindex" href="/comment_res2011&topic=1">View members' comments on this resolution</a>.

<!--<a class="sectionindex" href="/comment_form&topic=1">Post your comment on this resolution</a>. (Note: The wording of the resolution may not be amended at this point in the resolutions process.)-->
