<h2>Resolution 2013-1</h2>
Whereas in 2011 the CUNY Board of Trustees passed the Pathways curriculum for implementation by September 2013;

Whereas the approval of Pathways bypassed elected faculty governance, and only the CUNY administration’s appointees participated in the decision making;

Whereas the American Association of University Professors states, “The faculty has primary responsibility for . . . curriculum [and] subject matter,” and CUNY governance regulations state, “The faculty shall be responsible . . . for the . . . granting of degrees”;

Whereas the CUNY administration acted despite senates’, councils’, and nearly five thousand instructional staff members’ opposition; and

Whereas violations of elected faculty governance like those at CUNY have taken place at numerous other institutions;

Be it resolved that the MLA affirm the right of CUNY’s faculty and any other college and university faculty to determine curriculum and graduation requirements and to withhold implementation of any curriculum that has not been recommended by the appropriate faculty governance body.

Review the background information received by the Delegate Assembly: 
<ul><li><a class="sectionindex" href="/resol20131support"  target="other">supporting material from the proposer of record</a>[[[docstudio filetype_tag_pdf]]]</li><li><a class="sectionindex" href="/resol20131response"  target="other">response from the institution named in the resolution</a>[[[docstudio filetype_tag_pdf]]]</li></ul>
<a class="sectionindex" href="/comment_res2013?topic=1">View members’ comments on this resolution</a>.
[[[comment]]]
<a class="sectionindex" href="/comment_form?topic=1">Post your comment on this resolution</a>. (Note: The wording of the resolution may not be amended at this point in the resolutions process.)
[[[endcomment]]]
