<h1>Resolution from the 2002 Delegate Assembly</h1>
<I>At its meeting on 29 December 2002, the MLA Delegate Assembly approved the following resolution. The MLA Executive Council forwarded it to the MLA membership for ratification. The membership ratified the resolution in a vote that was completed on 10 December 2003.</I>

<h2>Resolution 2002-1</h2>
Whereas the current violence in the Middle East has resulted in deplorable acts of bigotry at North American colleges and universities,

Be it resolved that university administrations and faculties be proactive in promoting productive dialogue and mutual respect among students of different religious, cultural, and political backgrounds; and

Be it further resolved that the MLA condemn anti-Jewish and anti-Arab or anti-Muslim racism as equally abhorrent; and

Be it further resolved that the MLA condemn boycotts and blacklists against scholars or students on the basis of nationality, ethnic origins, and religious background as unfair, divisive, and inconsistent with academic freedom.
