<h1>Resolutions from the 2003 Delegate Assembly</h1>
<i>At its meeting on 29 December 2003, the MLA Delegate Assembly approved the following resolutions. The MLA Executive Council forwarded them to the MLA membership for ratification. The membership ratified the resolutions in a vote that was completed on 10 December 2004.</i>

<h2>Resolution 2003-1</h2>
Whereas in wartime, governments commonly shape language to legitimate aggression, misrepresent policies, conceal aims, stigmatize dissent, and block critical thought; and

Whereas distortions of this sort proliferate now, as in the use of the phrase "war on terrorism" to underwrite military action anywhere in the world; and

Whereas we are professionals committed to scrupulous inquiry into language and culture;

Be it resolved that the Modern Language Association support the right of its members to conduct critical analysis of war talk in public forums and, as appropriate, in classrooms.

<h2>Resolution 2003-2</h2>
Be it resolved that the Modern Language Association recommend that all members of the Yale community concerned with the question of union representation of graduate student teaching assistants take steps toward finding common ground for dialogue and establishing an atmosphere of mutual respect, and

Be it further resolved that the MLA urge the parties to find a mutually acceptable forum for reaching some understanding about conduct that members of the Yale community regard as a genuine threat to their freedom of expression. That forum could be the NLRB if all parties so agreed, or it could be another forum approved by the parties.

<h2>Resolution 2003-3</h2>
Whereas the USA PATRIOT Act grants the United States government unwarranted power over investigations of terrorism, including the right to mount surveillance without court order on reading habits, Web browsing, e-mail activity, and library borrowing; and

Whereas the rights and academic freedom of those who engage in critical inquiry and political activism may be violated by this surveillance; and

Whereas citizens and noncitizens have already been detained or deported under this Act;

Be it resolved that the MLA urge the repeal of the USA PATRIOT Act because it infringes on the rights of members of the academic community and those whom they serve.

<h2>Resolution 2003-4</h2>
Whereas recent congressional legislation and hearings such as those related to Title VI funding represent a trend toward increased policing and censorship of higher education; and

Whereas the critical approaches of students and scholars in the humanities have often been the focus of these proceedings; and

Whereas international students and scholars across North America are especially likely to be targeted by this trend;

Be it resolved that the MLA oppose federal legislation such as HR 3077 that seeks to impose government controls on academic inquiry that create a hostile environment for teaching and learning.
