<h1>Resolutions from the 2006 Delegate Assembly</h1>
<i>At its meeting on 29 December 2006, the MLA Delegate Assembly approved the following resolutions.  The MLA Executive Council forwarded them to the MLA membership for ratification.  The membership ratified the resolutions in a vote that was completed on 10 December 2007.</i>

<h2>Resolution 2006-1</h2>
Whereas undocumented workers, through their labor, contribute greatly to the economy of the United States; and

Whereas they are shamefully deprived of most legal rights other workers enjoy; and

Whereas they are superexploited as a result; and

Whereas the MLA is appropriately concerned about the use of language and about access to higher education;

Be it resolved that the MLA urge that the phrase "undocumented workers" be used in place of the abusive term "illegal aliens" and that every state guarantee undocumented workers who live there in-state tuition.

<h2>Resolution 2006-2</h2>
Whereas in the wake of Hurricane Katrina, city, state, and federal governments have taken apart the New Orleans public school system, reconstituted it as a melange of chiefly charter schools, greatly reduced democratic control of K–12 schooling, laid off all teachers and thus eliminated their union, and widened the gap of racial inequality in education; and

Whereas conservative groups and the Bush administration have in this context pressed for voucher schemes;

Be it resolved that the MLA condemn the dismantling of the New Orleans public school system after Katrina and the wider privatizing movement that has fed on this disaster.
