<h1>Resolutions from the 2007 Delegate Assembly</h1>
<i>At its meeting on 29 December 2007, the MLA Delegate Assembly approved the following resolutions.  The MLA Executive Council forwarded them to the MLA membership for ratification.  The membership ratified the resolutions in a vote that was completed on 10 December 2008.</i>

<h2>Resolution 2007-1</h2>
Whereas the 2007 AAUP "Freedom in the Classroom" report identifies dire challenges to academic freedom, and

Whereas contingent faculty members are most vulnerable to nonreappointment for exercising their academic freedom, and

Whereas reliance on contingent faculty members has grown significantly, such that up to 78% of faculty members in state college systems are part-time,

Be it resolved that the MLA publicly support state legislation aimed at ensuring fair pay and job security with full due-process protections for contingent faculty members and at establishing a higher proportion of full-time faculty members, as developed, in part, by the AFT-led campaign for Faculty and College Excellence (FACE).

<h2>Resolution 2007-2</h2>
Whereas the MLA recognizes that the Middle East is a subject of intense debate, and

Whereas it is essential that colleges and universities protect the rights of faculty members to speak forthrightly on all sides of this issue, 

Be it resolved that, while people outside the university have the right to express their views, universities must resist the inclusion of unsolicited outside opinion in faculty appointment or promotion reviews, and

Be it resolved that the MLA defend the academic freedom and the freedom of speech of faculty members and invited speakers to address the issue of the Middle East in the manner they choose.

<h2>Resolution 2007-3</h2>
Whereas upon criticism of Professor Ward Churchill for his remarks concerning the 9/11 attacks, the University of Colorado initiated proceedings against him, and

Whereas such acts of retribution threaten free expression in the university setting, particularly against those in historically marginalized disciplines,

Be it resolved that the MLA condemns the University of Colorado investigation and all such politically motivated investigations into the speech and scholarship of faculty members throughout the world.

