<h1>Resolutions from the 2012 Delegate Assembly</h1>
<i>At its meeting on 7 January 2012, the MLA Delegate Assembly approved the following resolutions. The MLA Executive Council forwarded them to the MLA membership for ratification. The membership ratified the resolutions in a vote that was completed on 1 June 2012. (Note: The numbering of the resolutions reflects the fact that the assembly did not approve the first resolution it considered.)</i>

<h2>Resolution 2012-2</h2>
Whereas the study of language and literature entails investigation of local and international context;

Whereas faculty members, staff members, and students can sometimes face sanctions or institutional pressures for addressing controversial economic and political issues concerning higher education or for supporting social-justice movements inside or outside the academy;

Be it resolved that the MLA affirm that members of the academic community have the right to challenge legislative or administrative decisions curtailing educational access, to oppose political interference in such allied academic areas as ethnic and environmental studies, to teach and promote the work of controversial writers, and to address social-justice issues relevant to their communities without fear of reprisal.

<h2>Resolution 2012-3</h2>
Whereas the Occupy movement has called attention to the burden of mounting student debt;

Whereas the average debt for college graduates in the United States is $25,000, graduate student debt often exceeds that figure, and collective student debt is nearly $1 trillion, having doubled in the past five years; and

Whereas some demonstrations have met with violent police action;

Be it resolved that the MLA support peaceful protests, protected under the First Amendment of the United States Constitution and under the United Nations Universal Declaration of Human Rights, that bring student debt to the forefront of national debate.
