<h1>Comments on the 2013 Delegate Assembly Resolutions</h1>
[[[comment]]][[[endcomment]]]<!--//REINSTATE FOR CLOSE OF COMMENTS//-->The comment period is closed. The balloting period opens on 16 October and ends on 10 December. For access to the ratification ballot, please go to the <a href="/">MLA home page</a>.

[[[comment]]]<!--// REINSTATE FOR RATIFICATION BALLOT COMMENT PERIOD//-->
<p>Members are invited to comment on the two resolutions that the Delegate Assembly approved at its meeting on 5 January 2013 in Boston.  Click below to go to the resolution pages.</p>

<p>Members should note that, at this point in the <a href="/prep_resdelegateassembly">resolutions process</a>, the wording of the resolutions is final. Comments should be brief and should address the issues raised in the resolutions. Members’ comments are not subject to a word limit, nor is there a limit on the number of comments that a member may post.</p>

<p>Members are encouraged to treat all participants in the comment process with respect and to use language that is in keeping with the highest professional standards.  Language that could be deemed discriminatory, threatening, abusive, harassing, or offensive to any individual or group should not be used.  The MLA does not routinely monitor comments and is not responsible for their content but does reserve the right to delete comments that are not in keeping with the above guidelines.</p>

<p>Members may enter comments beginning 16 September until 5:00 p.m. (EDT) on 15 October. During the balloting period, from 16 October through 10 December, additional comments will not be accepted, but comments already posted will be available for review.</p>

<p><b><a href="/13resolutioncomm01">Resolution 2013-1</a></b></p>

<p><b><a href="/13resolutioncomm02">Resolution 2013-2</a></b></p>
[[[endcomment]]]
