<h1>Resolutions Approved by the 2014 Delegate Assembly</h1>
<i>At its meeting on 11 January 2014, the MLA Delegate Assembly approved the following resolutions. The resolutions are subject to review by the MLA Executive Council, which next meets at the end of February 2014, and to ratification by the MLA membership. According to the MLA constitution (art. 11.C.7), “[a]ll resolutions forwarded to the membership must be ratified by a majority vote in which the number of those voting for ratification equals at least ten percent of the association’s membership.”</i>

<h2>Resolution 2014-1</h2>
(The assembly’s vote for approval was 60 yes and 53 no.)

Whereas Israel has denied academics of Palestinian ethnicity entry into the West Bank;

Whereas these restrictions violate international conventions on an occupying power’s obligation to protect the right to education;

Whereas the U.S. Department of State acknowledges on its Web site that Israel restricts the movements of American citizens of Palestinian descent;

Whereas the denials have disrupted instruction, research, and planning at Palestinian universities;

Whereas the denials have restricted the academic freedom of scholars and teachers who are U. S. citizens; 

Be it resolved that the MLA urges the U.S. Department of State to contest Israel’s denials of entry to the West Bank by U. S. academics who have been invited to teach, confer, or do research at Palestinian universities.

<h2>Resolution 2014-2</h2>
(The assembly’s vote for approval was 92 yes and 2 no.)

Whereas foundations such as Lumina, with an agenda of privatization and with corporate funding, are influencing accreditation processes and related state education codes;

Whereas the accreditation process is altering the missions of institutions of higher education, shrinking capacity, paving the way for privatization of sectors of higher education, and driving students into serious long-term debt;

Whereas the Accrediting Commission for Community and Junior Colleges (ACCJC) revoked the accreditation of the Community College of San Francisco (CCSF), effective 2014, despite CCSF’s excellent record in student success and access;

Whereas the Department of Education has determined that the ACCJC is out of compliance with several applicable regulations, including failure to avoid conflicts of interest, which raises significant questions about its continued status as a federally recognized accrediting body;

Be it resolved that the MLA condemn the revocation of CCSF’s accreditation, corporate influence in institutional accreditation, and the broader privatization efforts that threaten access to public higher education.

