<h1>About Membership</h1>
The MLA membership year runs from 15 January through 14 January of the subsequent year.
<p>
Those applying for membership are asked to select a membership category and to indicate which optional publications they wish to order. 

<a name="dues"/></a><h2>What Your Dues Support</h2>
Members’ support enables the association to undertake projects, like the <a href="http://www.mla.org/map_main">MLA Language Map</a>, that serve the broader public and to advocate for members of the profession through collaboration with the <a href="http://www.academicworkforce.org/">Coalition on the Academic Workforce</a>, which works to improve conditions for adjunct and part-time teachers. Your dues allow the MLA to open special convention events to the public and sustain the association’s distinguished scholarly communication and publishing programs, including <i>MLA Commons</i>, the online publication platform and member-to-member network; the <a href="/store/CID43">Texts and Translations series</a>, which produces otherwise unavailable works in affordable editions for classroom use; the <a href="/bibliography"><i>MLA International Bibliography</i></a>; and the association’s flagship journal, <a href="/pmla"><i>PMLA</i></a>.

<a name="categories"></a><h2>Membership Categories</h2> 
<b><i>Graduate students</i></b> engaged in courses of study leading to degrees in the fields of modern languages and literatures may <b><i>for a maximum of seven years</i></b> become student members at a $22 annual dues rate. Undergraduates are not eligible for the student dues rate.

<b><i>Joint membership</i></b> is open to two individuals sharing the same household. Joint members receive two subscriptions to the <i>Newsletter</i> and the Program issue of <i>PMLA</i> and one subscription to all other issues of <i>PMLA</i>. To determine the joint-membership dues payment, add $44 to the dues category of the member with the higher income. This category is not open to student members.

<b><i>Life membership</b></i> is available to retired members of more than twenty years’ standing and to all members who have paid membership dues for forty years. Members may also become life members by making a single payment of $5,000 less $1,250 for each decade of membership. Life members pay no further dues to the association.

<b><i>Regular members</i></b>, including new and reinstating members, should establish their dues category according to the graduated schedule.

<a name="schedule"></a><h2>Membership Dues Schedule</h2>
<table width="90%" cellpadding="3" cellspacing="0" border="0">
<TR valign="top"><TD valign="top"><b>1</b></td>
<TD valign="top">Income under $15,000</td>
<TD align="right"><b>$27</b></td>
<td width="6%">&nbsp;&nbsp;</td>
<TD valign="top"><b>9</b></td>
<TD valign="top">Income $80,000–$100,000</td>
<td align="right"><b>$157</b></td>
</tr>
<TR valign="top"><TD valign="top"><b>2</b></td>
<TD valign="top">Income $15,000–$20,000</td>
<TD align="right"><b>$44</b></td>
<td width="6%">&nbsp;&nbsp;</td>
<TD valign="top"><b>R</b></td>
<TD valign="top">Income $100,000–$120,000</td>
<td align="right"><b>$179</b></td>
</tr>
<TR valign="top"><TD valign="top"><b>3</b></td>
<TD valign="top">Income $20,000–$30,000</td>
<TD align="right"><b>$54</b></td>
<td width="6%">&nbsp;&nbsp;</td>
<TD valign="top"><b>T</b></td>
<TD valign="top">Income $120,000–$140,000</td>
<td align="right"><b>$201</b></td>
</tr>
<TR valign="top"><TD valign="top"><b>4</b></td>
<TD valign="top">Income $30,000–$40,000</td>
<TD align="right"><b>$76</b></td>
<td width="6%">&nbsp;&nbsp;</td>
<TD valign="top"><b>V</b></td>
<TD valign="top">Income $140,000–$160,000</td>
<td align="right"><b>$223</b></td>
</tr>
<TR valign="top"><TD valign="top"><b>5</b></td>
<TD valign="top">Income $40,000–$50,000</td>
<TD align="right"><b>$91</b></td>
<td width="6%">&nbsp;&nbsp;</td>
<TD valign="top"><b>W</b></td>
<TD valign="top">Income $160,000–$180,000</td>
<td align="right"><b>$250</b></td>
</tr>
<TR valign="top"><TD valign="top"><b>6</b></td>
<TD valign="top">Income $50,000–$60,000</td>
<TD align="right"><b>$108</b></td>
<td width="6%">&nbsp;&nbsp;</td>
<TD valign="top"><b>X</b></td>
<TD valign="top">Income $180,000–$200,000</td>
<td align="right"><b>$277</b></td>
</tr>
<TR valign="top">
<TD valign="top"><b>7</b></td>
<TD valign="top">Income $60,000–$70,000</td>
<td align="right"><b>$125</b></td>
<td width="6%">&nbsp;&nbsp;</td>
<TD valign="top"><b>Z</b></td>
<TD valign="top">Income over $200,000</td>
<td align="right"><b>$304</b></td>
</TR>
<TR valign="top">
<TD valign="top"><b>8</b></td>
<TD valign="top">Income $70,000–$80,000</td>
<td align="right"><b>$140</b></td>
<td width="6%">&nbsp;&nbsp;</td>
<TD valign="top">&nbsp;</td>
<TD valign="top">&nbsp;</td>
<td align="right">&nbsp;</td>
</TR>
</table>

<a name="divsanddisc"></a><h2>MLA Divisions and Discussion Groups</h2> 
The membership of the association is organized into <a href="/divisions">divisions</a>, each representing a major area of scholarly and professional concern, and <a href="/discussion_groups">discussion groups</a>, which accommodate the scholarly and professional interests of constituencies within the association concerned with discrete literatures or with literary and linguistic concerns that are not encompassed by one of the divisions. To participate fully in the activities of the association, members should join the division(s) and discussion groups in which they have major scholarly or professional interests. Membership in divisions and discussion groups is maintained as part of the record of each MLA member and is intended to indicate an active involvement in the field of the division or discussion group and a desire to promote scholarly and teaching activity in that field. Membership in one division or discussion group does not exclude a member from attending any or all meetings arranged by other divisions or discussion groups at a convention or from participating in special sessions.

<a name="mlacommons"></a><h2><i>MLA Commons</i></h2>
The MLA invites members to participate in <i><a href="http://commons.mla.org" target="_blank">MLA Commons</a></i>, the online scholarly communication platform where members can connect with fellow members, collaborate on convention sessions, share research, and explore new modes of scholarship. Although many areas of the site are open to the public, full participation, including the ability to create a blog and to participate in division and discussion group forums, is a benefit of membership.

<a name="heb"></a><h2>Humanities E-book</h2>
The Modern Language Association is a member of the American Council of Learned Societies. The ACLS offers individual annual subscriptions to <a href="http://www.humanitiesebook.org" target="_blank">Humanities E-book</a> to current MLA members. HEB offers unlimited access to 3,700 full-text titles across the humanities and social sciences, from the 1880s to the present.

Individual subscriptions are an attractive option for those whose institutions don't already have a subscription to HEB or for MLA members who might not be affiliated with a subscribing institution. Individual annual subscriptions are $40.00. <a href="http://www.humanitiesebook.org/subscribinginsts.html" target="_blank">Click here</a> to see if your institution subscribes.

You may purchase an individual subscription to HEB <a href="http://www.humanitiesebook.org/subscription_purchase.html" target="_blank">here</a>. Please choose Modern Language Association of America from the "Society Affiliation" pull-down menu and, in the space that says "Society Membership Number," provide your MLA user name. If you do not know your user name, you may <a href="/member_changepw">request it here</a>.

For inquiries about HEB, please e-mail <a href="mailto:subscriptions@hebook.org">subscriptions@hebook.org</a>.

<a name="emailpolicy"></a><h2>E-mail Policy</h2>
In May 2000 the Executive Council approved the limited use of electronic lists of members' e-mail addresses by divisions, discussion groups, allied organizations, and MLA committees if members authorize the release of their e-mail addresses.

Once a year, division and discussion group executive committees, officers of allied organizations, and chairs of MLA committees can request an electronic list of the e-mail addresses of an appropriate group of MLA members. The electronic lists may be used several times during the year, as long as the messages sent are in keeping with the MLA's status as a 501(c)(3) not-for-profit organization and, for MLA divisions, discussion groups, and committees, as long as the messages sent are in keeping with the MLA's purposes. 

<a name="tax"></a><h2>Tax Deductibility</h2>
To comply with the United States Internal Revenue Code, the amount of dues paid in excess of $63 is tax-deductible as a charitable contribution.

To comply with postal regulations governing periodicals-class mail, the MLA calculates the cost of a <i>Newsletter</i> subscription at $8.00, which is included in membership dues. 
