<form action="/acad_work_results" method="post" name="form1" onSubmit="return checkText();">
<input type="hidden" name="function" value="search">
<blockquote>
<h1>Academic Workforce Data Center</h1>

<P>The MLA invites visitors to view historic information about staffing patterns at individual institutions of higher education. This information is drawn from surveys conducted by the Department of Education (DOE) and presents data from the DOE’s Integrated Postsecondary Education System (IPEDS) about the composition of the academic workforce at 4,246 colleges and universities in the United States. Users can look up statistics on part-time, full-time, tenure-track, and non-tenure-track instructors at each institution and compare data from 1995 and 2009. Use the fields below to search for an institution and view the numbers and percentages of tenure-track, full-time non-tenure-track, and part-time faculty members at that institution in 1995 and in 2009.</P>

<P>Visitors should also search the Adjunct Project (<a href="http://adjunct.chronicle.com/" target="blank">http://adjunct.chronicle.com/</a>), a crowdsourcing effort to gather and display institution-specific information about non-tenure-track faculty members’ pay, benefits, union representation, participation in faculty governance, office space, and other working conditions.  We encourage members of the contingent academic workforce to report their own salaries and working conditions to the project.</P>

<P><B>Search for an Institution</B></P>

<table width="100%">
<tr>
<td>Institution</td>
<td>
<input name="UNIV" type="text" value="<@$postarg{UNIV}>" size="60" maxlength="100" /></td>
</tr>
<tr>
<td>
State
</td>
<td> <select name="STATE">
<option value="">-- Select --</option>
<option value="AL">Alabama</option>
<option value="AK">Alaska</option>
<option value="AZ">Arizona</option>
<option value="AR">Arkansas</option>
<option value="CA">California</option>
<option value="CO">Colorado</option>
<option value="CT">Connecticut</option>
<option value="DE">Delaware</option>
<option value="FL">Florida</option>
<option value="GA">Georgia</option>
<option value="HI">Hawaii</option>
<option value="ID">Idaho</option>
<option value="IL">Illinois</option>
<option value="IN">Indiana</option>
<option value="IA">Iowa</option>
<option value="KS">Kansas</option>
<option value="KY">Kentucky</option>
<option value="LA">Louisiana</option>
<option value="ME">Maine</option>
<option value="MD">Maryland</option>
<option value="MA">Massachusetts</option>
<option value="MI">Michigan</option>
<option value="MN">Minnesota</option>
<option value="MS">Mississippi</option>
<option value="MO">Missouri</option>
<option value="MT">Montana</option>
<option value="NE">Nebraska</option>
<option value="NV">Nevada</option>
<option value="NH">New Hampshire</option>
<option value="NJ">New Jersey</option>
<option value="NM">New Mexico</option>
<option value="NY">New York</option>
<option value="NC">North Carolina</option>
<option value="ND">North Dakota</option>
<option value="OH">Ohio</option>
<option value="OK">Oklahoma</option>
<option value="OR">Oregon</option>
<option value="PA">Pennsylvania</option>
<option value="PR">Puerto Rico</option>
<option value="RI">Rhode Island</option>
<option value="SC">South Carolina</option>
<option value="SD">South Dakota</option>
<option value="TN">Tennessee</option>
<option value="TX">Texas</option>
<option value="UT">Utah</option>
<option value="VT">Vermont</option>
<option value="VA">Virginia</option>
<option value="WA">Washington</option>
<option value="DC">Washington, DC</option>
<option value="WV">West Virginia</option>
<option value="WI">Wisconsin</option>
<option value="WY">Wyoming</option>

</select>
</td>
</tr>
</table>
<br />
<br />

<input type="submit" value="Search Institutions">
&nbsp;&nbsp;&nbsp;&nbsp;

</blockquote>

</form>

<script language="javascript">

function checkText(){
var badcount = 0;
var errormsg = "";


if (document.form1.UNIV.value == "" && document.form1.STATE.value == "" ) {
badcount++;
errormsg += '\n' + badcount + ': No institution or state was entered.  Please enter an institution, a state, or a combination and try again.';
}

if (document.form1.UNIV.value == "%") {
badcount++;
errormsg += '\n' + badcount + ': Invalid institution was entered.  Please enter an institution and try again.';
}

if (document.form1.UNIV.value == " ") {
badcount++;
errormsg += '\n' + badcount + ': Invalid institution was entered.  Please enter an institution and try again.';
}

if (document.form1.UNIV.value == ".") {
badcount++;
errormsg += '\n' + badcount + ': Invalid institution was entered.  Please enter an institution and try again.';
}

if (errormsg != "") {
alert(errormsg);
return false;
}
else {
return true;
}

}

</script>
