<h1>Academic Workforce Data Center—IPEDS Information</h1>

<p>This site provides information about institutional staffing patterns based on the 2009 and 1995 data files from the human resources components of the US Department of Education’s Integrated Postsecondary Education Data System (IPEDS). IPEDS participation is required of all postsecondary institutions that participate in the student aid programs authorized under Title IV of the Higher Education Act of 1965. As stated on the <a href="http://nces.ed.gov/ipeds/about" target="_blank"> IPEDS Web site</a>, “More than 6,700 institutions complete IPEDS surveys each year.”</p>

<p>In the human resources components of the IPEDS, institutions provide counts of institutional employees in various occupational and demographic categories. For institutional data, we extracted the counts of employees whose primary responsibility is instruction (graduate student teaching assistants are not included) reported in fall 2009 by 4,246 two- and four-year degree-granting institutions. To provide historical depth, the site displays matching information from the 1995 survey for the 3,106 institutions for which matching information is available. Visitors can search for specific institutions and retrieve numbers and percentages of faculty members in each of the following employment categories:</p>

<ul>
	<li>full-time tenured, tenure-track, and tenured and tenure-track added together</li>
	<li>full-time non-tenure-track</li>
	<li>part-time</li>
	<li>total number of faculty members</li>
</ul>

<p>The 2009 data are further broken down into medical and nonmedical faculty members to facilitate comparisons between similar institutions that have a medical school and those that do not. </p>

<p>These data are public information; the IPEDS online Data Center provides an interface to search by institution and retrieve the same basic information, but in numbers only (no percentages). For details about the specific employment categories included in the counts provided here, please contact <a href="mailto:research@mla.org">research@mla.org</a>.</p>
