<@if ($postarg{UNAME} eq "")>
<h1>Techincal Error</h1>
<p>Sorry, there has been a technical problem. Please try your renewal again. If you receive this error again, please contact the membership office at <a href="mailto:[[[RESULTS membership_office_email]]]">[[[RESULTS membership_office_email]]]</a>.</p>

<a href="http://www.<@$login_affiliation>.org/" target="_parent">Click here to go to the [[[RESULTS mla_org_display_name]]] homepage</a>.

<@else>

<h1>Confirmation</h1>
<p>Thank you. Your transaction has been approved and your membership has been renewed.


<blockquote>
	<table border="0" cellpadding="2" cellspacing="0">
		<tr valign="top">
			<td>
				Your department ID is:
			</td>
			<td>
				<b>[[[postarg UNAME]]]</b>
			</td>
		</tr>
		<tr valign="top">
			<td>
				Your chair-only password is:
			</td>
			<td>
				<b>[[[postarg PWD1]]]</b>
				[[[@ifequal $password_changed "Y"]]]
				<font color="#990000"><b>Note: Your password has changed.</b></font>
				[[[@else]]]
				[[[@endif]]]
			</td>
		</tr>
		<@if ($postarg{PWD2} ne "")>
		<tr valign="top">
			<td>
				Your faculty/student password is:
			</td>
			<td>
				<b><@$postarg{PWD2}></b>
			</td>
		</tr>
		<@/if>
	</table>
</blockquote>
</p>

<p>
	Please make a note of this information as you will need it to log onto the [[[RESULTS mla_org_display_name]]] website in the future.
</p>
<p>
	<a href="http://www.<@$login_affiliation>.org/" target="_parent">Click here to go to the [[[RESULTS mla_org_display_name]]] homepage</a>.
</p>

<@/if>
