<h1>Welcome to the <i>ADFL Bulletin</i> Online</h1>

<p>The complete archive of the <i>ADFL Bulletin</i> (1969&ndash;present) is available online for searching by faculty members and graduate students in ADFL-member departments. You may <a href="/adefl_bulletin_adfl">search the <i>Bulletin</i> archive</a> or <a href="/adefl_bulletin_adfl_browse">browse tables of contents</a> of past issues.</p>

<p>Nonmembers may view the table of contents of the <a href="/adefl_bulletin_adfl_latest">current issue</a>, get information <a href="/adefl_bulletin_adfl_about">about the <i>Bulletin</i></a>, and find out how to <a href="jil_subscribe">become an affiliate member</a> of the ADFL to access the <i>Bulletin</i>.</p>
