<h1>Ad Hoc Committee on the Structure of the Annual Convention</h1>
<h2>Proposal 2: Developing Two New Kinds of Sessions</h2>
<div class="pdiv">
	The annual convention is currently structured around three main session formats. (1) Paper panels, which compose the overwhelming majority of sessions, serve to introduce scholars to new developments in research and scholarly methods. The typical paper panel has three or four speakers; there is often a respondent as well. (2) Roundtable sessions have more participants and feature short or informal presentations, typically centered on key issues or debates in a field. (3) Forums and their linked sessions (now called workshops) are designed to foreground large questions that are of interest to major cross-sections of the profession.
</div>
<div class="pdiv">
	To accommodate modes of inquiry and conversation beyond those served by these three formats, the ad hoc committee has examined successful alternative models in adjacent professional fields and proposes introducing two additional session formats in 2010&ndash;11.
</div>

<h3 style="margin-bottom: 20px;">ISSUES</h3>

<div class="pdiv">
	<ol>
		<li>
			<u>Poster Sessions</u> are a highly efficient model for conveying the central outlines of new research and topics of professional concern. We imagine that most proposals in this category will foreground electronic media, but we would welcome traditional poster sessions as well. The Program Committee has been successfully experimenting with this format for two years.<br />&nbsp;<br />
			
			Poster sessions will allow members to circulate freely in a room with three to twelve stations, each of which will feature a print or online visual model, or poster, that gives basic information about the project. Presenters will offer informal discussion or interactive demonstrations of electronic projects and resources. The presentations or discussions will be continuous for the entire session; questions and topics will change as the audience changes.<br />&nbsp;<br />
			
			Proposals for poster sessions will follow the same procedures as proposals for other one-hour-and-fifteen-minute sessions: they may be submitted by MLA committees, divisions, and discussion groups as well as by allied and affiliate organizations; they may also be submitted by individual session leaders as special-session proposals. The submissions must meet all MLA requirements and follow all required application procedures. The poster session is a new format, not a new block of sessions.
		</li>
		<li>
			<u>Workshops</u> emphasize participation by all session attendees. The concept of the workshop opens up the possibility for the membership to propose independent events that function well in an interactive, goal-oriented format. (At present, the designation &ldquo;workshop&rdquo; has been assigned to the smaller sessions affiliated with Forums. To better acknowledge the status of these sessions, we propose to rename them Linked Sessions.) The Program Committee is experimenting with this format at the 2007 convention.<br />&nbsp;<br />
			
			Workshops will be of two types:
			<ul>
				<li>
					Workshops focused on issues of professional development (e.g., preparing manuscripts for submission to an acquisitions editor, negotiating copyright and fair-use issues in electronic media, preparing grant applications) will take place during time slots at the beginning of the convention and will require participants to preregister and, in some cases, to pay a fee. These workshops may involve presenters from outside the MLA membership (copyright lawyers, technology consultants, and so on). 
				</li>
				<li>
					Workshops focused on the vast range of professional interests, responsibilities, and proficiencies&mdash;pedagogical issues, institutional facilitation (preparing dossiers for tenure cases, mentoring graduate students and junior faculty members), disciplinary and administrative issues (academic freedom, gender and diversity, departmental governance), and so forth&mdash;would be interspersed throughout the convention. We would be especially interested in promoting workshops that fall under the general rubrics of the humanities as a social practice and of the humanities in communication with its constituencies (the news media, boards of regents and university trustees, alumni, donors, the literate public, librarians, and public school teachers).
				</li>
			</ul>
			Proposals for workshops will follow the same procedures as proposals for other sessions: they may be submitted by MLA committees, divisions, and discussion groups as well as by allied and affiliate organizations; they may be submitted by individual workshop leaders as special-session proposals. The submissions must meet all MLA requirements and follow all required application procedures.
		</li>
	</ol>
</div>

<h3 style="margin-bottom: 20px;">Expected Outcomes</h3>

<div class="pdiv">
	Both new formats lend themselves to conversations about the structure of the profession itself, to collaborative work, and to the inclusion of multiple presenters. In these respects they answer to topics and modes of exchange with which the membership has become increasingly engaged, as demonstrated by the proposals presented to the Program Committee in recent years.
</div>
<div class="pdiv">
	The committee has already begun to cultivate the two new session formats by sponsoring poster sessions and workshops for the 2007 and 2008 conventions. By &ldquo;test-driving&rdquo; these new kinds of sessions, we hope to accrue useful experience that will guide all those involved in making decisions about the structure of the annual convention. This learning process will help the Program Committee refine its procedures and guidelines for these formats in the future.
</div>

<h3 style="margin-bottom: 20px;">Conclusions</h3>

<div class="pdiv">
	We are guided by a broad vision of the importance of planning change, using a global approach rather than implementing reforms in bits and pieces. At the same time, we want to have ample opportunity to observe and monitor in practice the ideas we have worked out in theory. In this way, the Program Committee, the Executive Council, the Delegate Assembly, and the membership at large will collaborate in reforming the annual convention, which, after all, is an event created by and for those who belong to the MLA.
</div>


<hr style="margin-bottom:12px;" />

<ul>
	<li><a href="/adhoc_proposal1">Read Proposal 1: A Response to Impending Gridlock</a></li>
	<li><a href="/adhoc_proposal1_pdf" target="other">Download Proposal 1: A Response to Impending Gridlock as pdf file</a>&nbsp;<@$show_filetype_tag_pdf></li>
	<li><a href="/convforums_index?folder=101">View and post comments on Proposal 1</a></li>
</ul>

<ul>
	<li><a href="/adhoc_proposal2_pdf" target="other">Download Proposal 2: Developing Two New Kinds of Sessions as pdf file</a>&nbsp;<@$show_filetype_tag_pdf></li>
	<li><a href="/convforums_index?folder=102">View and post comments on Proposal 2</a></li>
</ul>
