<h1>Ad Hoc Committee on the Structure of the Annual Convention</h1>
<h2>Proposals for Changes to the Annual Convention, November 2007</h2>
<p>
	The Executive Council charged the Ad Hoc Committee on the Structure of Annual Convention with reconsidering the status, structure, and function of the annual convention and with making recommendations for changes. Following a year of study that included the examination of feedback from the membership, which was solicited by means of surveys, meetings, and e-mail communications, the committee has identified several ways in which the current structure of the convention program inadequately addresses the fundamental goals of the association to foster, facilitate, and sustain intellectual community.
</p>
<p>
	The committee recommends two multifaceted proposals to improve the convention, which it will bring to the Delegate Assembly for discussion at the December 2007 meeting. The first is to reallocate guaranteed convention sessions in response to the structural gridlock of the convention program. The second concerns introducing two new formats to convention sessions. Both proposals aim to better match the structure of the MLA convention with the interests of the diverse membership by whom and for whom the convention was created.
</p>
<p>
	<div id="icon_A1" style="padding:0px;height:12px;width:9px;display:inline;margin-right:4px;background:url('/IMAGES/expand-plus.gif') no-repeat bottom left;"><a href="javascript:showLogin('A1');"><img src="/IMAGES/clear.gif" width="9" height="9" border="0" /></a></div>
	<a href="javascript:showLogin('A1');">Read more</a>
	on the committee&rsquo;s membership, the history of its activities, and the development process for these proposals.
	<div id="expand_A1" style="display:none;visibility:hidden;"> 
		<p style="padding-left:20px;">
			<i>The members of the ad hoc committee:</i> Robert Barsky, Vanderbilt University; Patrick M. Bray, Indiana University, Bloomington; David Damrosch, Columbia University; Rosemary G. Feal, Modern Language Association, chair; Roland Greene, Stanford University; Linda Gregerson, University of Michigan, Ann Arbor; Bette G. Hirsch, Cabrillo College, CA; Meta DuEwa Jones, University of Texas, Austin; Lucille Kerr, Northwestern University; Mary N. Layoun, University of Wisconsin, Madison; and Katherine A. Rowe, Bryn Mawr College. The ad hoc committee&rsquo;s MLA staff liaison is Maribeth T. Kraus, who is the director of convention programs.
		</p>
		<p style="padding-left:20px;">
			<i>Summary of the ad hoc committee&rsquo;s activities:</i> the committee has met four times and has presented two written interim reports to the Executive Council and one to the Delegate Assembly. With the council&rsquo;s approval, the committee presented two recommendations to the Delegate Assembly on 29 December 2006 and requested that the assembly endorse the recommendations. The first recommendation was to start the convention each year on the first Thursday following 2 January; the second was to eliminate paper reading at evening sessions (8:45&ndash;10:00 p.m. on the first day and 9:00&ndash;10:15 p.m. on the third day of the convention) and use those sessions for other types of exchanges. The assembly&rsquo;s vote on both recommendations was overwhelmingly positive, and the Executive Council is taking the necessary steps to implement them for the 2010&ndash;11 academic year (there would be no December 2010 convention; the convention would be held in January 2011).
		</p>
		<p style="padding-left:20px;">
			The ad hoc committee discussed the proposals below with the 2007 Program Committee. The members of the Program Committee unanimously and enthusiastically endorse the proposed changes, which they consider an effective and balanced response to the mismatch between the evolving needs of the membership and the current structure of the annual convention. They see the proposals as providing a responsive and flexible structure to support both continuity and change. The proposals are being circulated to other committees for feedback and commentary. In addition, they are announced in the MLA Newsletter and are posted in this member discussion forum so that all members of the association can comment in advance of the Delegate Assembly discussion in December 2007.
		</p>
	</div>
</p>
<ul>
	<li><a href="/adhoc_proposal1">Read Proposal 1: A Response to Impending Gridlock</a></li>
	<li><a href="/adhoc_proposal1_pdf" target="other">Download Proposal 1: A Response to Impending Gridlock as pdf file</a>&nbsp;<@$show_filetype_tag_pdf></li>
	<li><a href="/convforums_index?folder=101">View comments on Proposal 1</a></li>
</ul>

<ul>
	<li><a href="/adhoc_proposal2">Read Proposal 2: Developing Two New Kinds of Sessions</a></li>
	<li><a href="/adhoc_proposal2_pdf" target="other">Download Proposal 2: Developing Two New Kinds of Sessions as pdf file</a>&nbsp;<@$show_filetype_tag_pdf></li>
	<li><a href="/convforums_index?folder=102">View comments on Proposal 2</a></li>
</ul>

<p style="font-style:italic;">
	In advance of the Delegate Assembly meeting, the ad hoc committee sought feedback on these proposals from our membership. Members were invited to enter comments between 8 November and 17 December 2007.
</p>

<script language="javascript" type="text/javascript">

// preload the minus image
var preload_minus = new Image(9,9);
preload_minus.src ='/IMAGES/expand-minus.gif';

function showLogin(divid) {
	var ShowExpandDiv=document.getElementById("expand_" + divid);
	var ShowExpandIco=document.getElementById("icon_" + divid);
	if (ShowExpandDiv.style.visibility == 'visible') {
		ShowExpandDiv.style.visibility='hidden';
		ShowExpandDiv.style.display='none';
		ShowExpandIco.style.background='url(/IMAGES/expand-plus.gif) no-repeat bottom left';
		} else {
		ShowExpandDiv.style.visibility='visible';
		ShowExpandDiv.style.display='inline';
		ShowExpandIco.style.background='url(/IMAGES/expand-minus.gif) no-repeat bottom left';
		}
	
}

</script>
