<h1>Advice for Authors, Reviewers, Publishers, and Editors of Literary Scholarship</h1>
This information is intended for authors of literary scholarship, especially those new to publication, whether they seek to publish books or journal articles in print or digital formats. The advice aims to be of similar use to editors, reviewers, and publishers. What follows attempts both to offer a concise, if somewhat idealized, description of the scholarly publishing process and to suggest standards for this process. In actual practice, of course, problems and even abuses (tardiness of reviewers, deadlines missed by authors, unreasonable publication delays by presses) can occur.

Shifts in priorities and economic support at university presses and the growth of the Internet both as a site of publication and as a mechanism of distribution are swiftly changing the parameters for scholarly publication.  When thinking about the best format in which to publish, authors should consider the wide range of available options and their implications in terms of medium, audience, accessibility, permanence, and peer review.

Publishing is part of the institutional infrastructure that supports scholarship. As an author's work moves from manuscript to published form, it benefits from the comments, queries, and judgments of editors, peer reviewers, and copyeditors. Web and book designers, typesetters, and printers also contribute time, effort, and expertise before an author's work gains the visibility and authority of publication. The functions that reviewers, editors, copyeditors, and publishers perform thus add value to an author's work.

As a collaborative enterprise involving many hands, publication requires a substantial material investment on the part of the publisher. When the collaboration works well, authors and publishers see themselves as colleagues concerned with fostering illuminating and useful research and commentary. The aim of this document is to promote communication among all participants in the interest of enhancing professional goals, standards, and accomplishments.

In the section on publishing books, the term <i>publisher</i> refers to the staff members of a book publishing house (including the director, editor in chief, editorial board, acquisitions editor, and copyeditor) who work with the author at a particular stage in the publication process. In the section on publishing scholarly articles, the term <i>editor</i> refers to the staff members of a journal who work with the author at a particular stage in the publication process. In the section on digital publication, the term <i>editor</i> refers to the persons responsible for overseeing the content of the Web site. Throughout, the term <i>reviewer</i> refers to anyone--whether in-house or not, whether paid or unpaid--whose judgment regarding a manuscript the publisher or editor has solicited, and the term <i>author</i> refers to anyone seeking to have a manuscript published (including a translator, textual editor, bibliographer, or coauthor).  

The document focuses on relations between authors and publishers, but many similar issues of communication arise around collaborative authorship.  Only persons who have made significant contributions and who share responsibility and accountability should be listed as coauthors of a publication. Other contributors should be acknowledged in a footnote or mentioned in an acknowledgments section. The author submitting the manuscript for publication should seek from each coauthor approval of the final draft. The following standards are usually applied to coauthored works: when names of coauthors are listed alphabetically, they are considered to be equal contributors; if out of alphabetical order, then the first person listed is considered the lead author. Coauthors should explain their role or describe their contribution in the publication itself or when they submit the publication for evaluation. 

It should be noted that the process and policies of book and journal publication outside North America may differ significantly from those described here, that the practices of university presses and scholarly journals may differ from those of commercial publishers, and that there is enormous variety in the process and evaluative stringency of electronic publications.

Every Modern Language Association member should send a copy of each article or book he or she publishes to MLA headquarters (26 Broadway, 3rd floor, New York, NY 10004-1789) so that a listing can be included in the <i>MLA International Bibliography</i>.

<h2>Books</h2>
The publication of a scholarly book is a lengthy process that requires close interaction among all participants. A common understanding of the typical steps in that process and of concerns that may arise along the way should facilitate communication and cooperation. The generic description below does not cover all circumstances: for example, the publication of anthologies and translations involves further steps and additional participants, and an established scholar might obtain an advance contract without going through all the steps outlined, perhaps simply by submitting a project proposal. Moreover, the practices of any given publisher may differ significantly from the pattern described here. With this description as a common reference point, however, authors and publishers should be able to reach clear understandings about their work together.

<b>Submission of Manuscripts</b>
Authors should choose prospective publishers carefully. By consulting <i>The Directory of the Association of American University Presses</i>, <i>Books in Print</i>, <i>Literary Market Place</i>, catalogs of academic and commercial publishing houses, library catalogs, and presses' advertisements in the most recent Program issue of <I>PMLA</I>, authors can get a sense of the goals, target audiences, and special interests of a number of presses. Especially for younger scholars, it is essential to consult with colleagues and other knowledgeable persons concerning the prestige of particular presses, the efficiency with which presses process manuscripts, the usual time from acceptance to publication, the quality of advertising and marketing, and royalties. On request, publishers should make available to prospective authors clear statements of editorial policies (for example, some university presses pursue only certain areas of inquiry, and commercial presses may limit their interest to manuscripts likely to have a broad readership) and of procedures for the submission and review of manuscripts.

After identifying suitable presses, the author submits a prospectus, which typically includes a cover letter, a discussion of the work's scholarly or professional significance and intended audience, a statement of the manuscript's length and scheduled completion date, an abstract, a table of contents, an introduction or preface, a sample chapter, and a curriculum vitae. (If there is more than one author, a curriculum vitae should be provided for each.) At this preliminary stage the author is free to submit materials to several presses simultaneously. An author should not submit an entire manuscript without a publisher's invitation to do so. It is important to submit all materials in polished form and, unless the press specifies otherwise, to include unattached return postage and a self-addressed mailer.

Most publishers are inundated with proposals, while most authors--whether beginners or seasoned professionals--make a considerable investment of time, thought, and effort. Within two weeks after a prospectus has been received, the publisher should send the author a simple acknowledgment indicating when a substantive response will follow. (The author should provide a self-addressed stamped envelope for this purpose.) If a prospectus describes a manuscript that is clearly not suitable for publication, the publisher should return the submitted materials and, if possible, should state why the manuscript is unsuitable. It is appropriate for the author to make an inquiry if he or she receives no acknowledgment within one month.

After reviewing the prospectus, the publisher may ask to see the entire manuscript. At this point the publisher should outline the evaluation process and the expected timetable for evaluation. The publisher should also state house policies about multiple submissions, and the author should inform the publisher if the manuscript has been submitted elsewhere.

<b>Evaluation</b>
The publisher should decide whether to send a manuscript for review within one month of receipt and should notify the author accordingly. Again, in communicating a negative decision, the publisher should, if possible, state why the manuscript is not suitable. If the decision is affirmative, the publisher sends copies to reviewers, requesting an evaluation by a specified date.

Reviewers should be chosen with care and given the option of remaining anonymous. Prospective reviewers have a responsibility to disclose possible conflicts of interest, including any prior involvement with the manuscript. Reviewers should make every effort to respect the publisher's deadlines, and the publisher should make every effort to avoid undue delay. The terms of reviewers' compensation should be specified in advance. A reviewer should not hesitate to return a manuscript unread if he or she will be unable to evaluate it by the deadline. However, since presses often have difficulty finding qualified readers, it is important for scholars to recognize their professional responsibility to review whenever possible.

The purposes of scholarly publication include intellectual exchange and the promotion of high standards in research, writing, and teaching. The publisher can contribute significantly to these endeavors by transmitting reviewers' reports to the author, anonymously if the reviewers so request. Whether or not they recommend publication, reviewers should try to formulate critiques that will help the author improve the manuscript.

The publisher should notify the author of reviewers' evaluations within three months. However, because of the complexity of the process and the publisher's lack of complete control, delays are sometimes unavoidable. The publisher should keep the author informed of anticipated delays. It is appropriate for the author to make an inquiry if he or she receives no word within four months.

If, after four months, a press that requires exclusive examination rights is unable to decide on acceptance or rejection and the publisher and author cannot agree on a reasonable timetable, the author may submit the manuscript elsewhere after writing to notify the publisher.

The publisher should not ask the author to revise on the basis of critical reviews unless the publisher either can guarantee a contract or believes that the revision could make the work publishable and at the same time explains that the risk taken in revision is the author's own. In the second case, the publisher should indicate whether the press will reconsider the manuscript if the suggested revision is accomplished. The publisher should always make the nature and extent of the recommended revisions explicit to the author.

If reviews are favorable, the publisher presents the manuscript to a governing board or committee (most university presses have such boards). On approval by the board, the publisher notifies the author and forwards a contract for signature. A clear understanding between author and publisher about the terms of the contract is essential, and consultation may be necessary before the contract is signed. Contracts are binding on both parties: any contingencies that would allow the publisher to cancel the agreement (such as the author's failure to carry out agreed-on revisions by a specified date) or the author to withdraw the manuscript (such as the press's failure to publish with reasonable dispatch) must be spelled out. Responsibility for preparing the index, for providing art and permission for its use, and for obtaining permission to quote copyrighted material must be allocated. Whether the author is to be consulted on cover design and whether the book will be published in paperback may also be concerns. Other contractual issues to weigh carefully include copyright holding, permission to reprint in whole or in part (whether or not the press holds the copyright, it is likely to hold all publishing rights), electronic publication rights, translation rights, options on forthcoming books, subventions, complimentary copies, and royalties.

The contract is a legal document that delineates the rights and obligations of both author and publisher. Once the contract has been signed, the author may not withdraw the manuscript or publish parts of it elsewhere without written permission from the publisher.

After the contract is signed, the publisher should send the author a style sheet and should indicate whether the press welcomes manuscript material in electronic form. The author should follow the style sheet closely and should seek clarification, if needed, at an early stage. The publisher should provide the author with a schedule indicating the anticipated publication date and the estimated timing of those stages at which the author's participation is essential (reviewing the copyedited manuscript, correcting proof, preparing an index).

<b>Publication</b>
Even after agreement to publish, the publisher may still ask for revisions, and the final work will be copyedited before it is printed. In editing manuscripts, copyeditors apply the rules of a particular documentation system and a house style. The goal is to make the manuscript as consistent, correct, clear, and accurate as possible, especially in grammar, usage, and documentation. Both author and publisher must respect deadlines. The publisher must define the production schedule, while the author must stay in touch at all stages of the process, promptly responding to queries and reviewing any substantive changes. The author should expect to review the copyedited manuscript and the proofs; it is crucial that he or she do so quickly and carefully. The publisher should provide proofreading guidelines and a list of the common proofreading marks. The author is generally expected to prepare an index at the proofreading stage. After the author's final review of the text (normally at the page-proof stage), the publisher should make no further changes without the author's approval. By that time, if not earlier, the publisher should have informed the author about plans for promotion and marketing.

If all participants have followed the procedures outlined above, problems are unlikely to occur, and the published book will represent a fully cooperative venture between author and publisher. Clear communication about goals, procedures, special concerns, and timetables is crucial for such a rewarding outcome.

<h2>Articles</h2>
The publication of a scholarly article is an often lengthy process that requires close interaction among all participants. A common understanding of the typical steps in that process and of concerns that may arise along the way should facilitate communication and cooperation. The generic description below does not cover all circumstances: for example, the publication of a translation involves further steps and additional participants, and the practices of an editor may differ significantly from the pattern presented here. With this description as a common reference point, however, authors and editors should be able to reach clear understandings about their work together.

<b>Submission of Manuscripts</b>
Authors should choose prospective journals carefully. By consulting the <i>MLA Directory of Periodicals</i>, discipline-specific reference works, readers' guides to periodicals, and library catalogs, authors should be able to determine the goals, audiences, and special interests of potentially suitable journals. Particularly for younger scholars, it is essential to consult with colleagues and other knowledgeable persons concerning the suitability and professional standing of a journal, as well as the frequency of issues and hence the typical waiting period before publication. Authors should note whether journals encourage open submissions and should be alert for invitations to submit articles on special topics. Journal editors should clearly state their editorial policies. Journals associated with specific professional organizations may accept submissions only from members; other journals may publish only articles written by subscribers. Journals should indicate whether prospective contributors should follow a standard style (for example, MLA style) or request a style sheet.

In submitting an article to a journal, the author is requesting a thorough evaluation that will take considerable time for reviewers who likely work without compensation. The author should view the editor and the reviewers as partners in the publishing process. An author submitting a manuscript to two or more journals simultaneously should notify each editor concerned. But authors should be aware that some journals--for example, <I>PMLA</I>--do not allow multiple submissions, which often create unnecessary work for reviewers and editors.

After selecting a journal, the author should examine recent issues to verify that the topic, scope, style, and length of the proposed article conform to the journal's current practices and editorial policies. Each issue should contain information regarding submission of materials, with the editor's name and address in case further information is needed. If specific indications are not provided in the journal itself, the author may consult the <i>MLA Directory of Periodicals</i> for submission information. The author should submit an appropriately finished copy (or copies) in the prescribed format, together with a brief cover letter; most journals now prefer electronic submissions, but paper submissions should be accompanied by unattached return postage, and a self-addressed mailer, unless the journal specifies otherwise.

Many journal editors are inundated with submissions, while most authors--whether beginners or seasoned professionals--make a considerable investment of time, thought, and effort. The editor should send the author a simple acknowledgment within two weeks after a potentially acceptable article has been received. If an article is clearly not suitable for publication in the journal, the editor should return the manuscript promptly, indicating why the manuscript is not suitable. It is appropriate for the author to make an inquiry if he or she receives no acknowledgment within one month, making allowances for the vagaries of the academic calendar.

<b>Evaluation</b>
The author should be aware that some but not all journals send out articles anonymously. Reviewers should be chosen with care and given the option of remaining anonymous. Prospective reviewers have an ethical responsibility to disclose possible conflicts of interest, including any prior involvement with the manuscript. The editor should set reasonable deadlines, and reviewers should make every effort to respect them. If reviewers are to be compensated, the terms should be clearly spelled out in advance. A reviewer should not hesitate to return a manuscript unread if he or she will be unable to evaluate it by the deadline. However, since journals often have difficulty finding qualified readers, it is important for scholars to recognize their professional responsibility to review whenever possible.

The purposes of scholarly publication include intellectual exchange and the promotion of high standards in research, writing, and teaching. The editor can contribute significantly to these endeavors by transmitting reviewers' reports to the author, anonymously if the reviewers so request. Whether or not they recommend publication, reviewers should try to formulate critiques that will help the author improve the manuscript.

The editor should notify the author of reviewers' evaluations within two or three months. However, because of the complexity of the process and the editor's lack of complete control, delays are sometimes unavoidable. The editor should keep the author informed of anticipated delays. It is appropriate for an author to make an inquiry if he or she receives no word within four months.

If, after four months, the journal is unable to decide on acceptance or rejection and the editor and author cannot agree on a reasonable timetable, the author may submit the manuscript elsewhere after writing to notify the editor of this decision. (It should be noted that the reviewing process may sometimes take more than four months, particularly when an editorial board that meets perhaps two or three times a year makes the final decision.) Authors should be aware of the mediation panel of the Council of Editors of Learned Journals, which attempts to adjudicate disagreements between authors and editors.

Most journals use a range of evaluative categories, and in many venues an unconditional acceptance is rare. The usual categories include "accept," "conditional accept," "revise and resubmit," and "reject."  The editors expect that a conditionally accepted article will eventually be published in the journal, provided the author responds seriously to the suggestions and criticisms offered by reviewers. Authors who are asked to revise and resubmit are usually being asked for more substantial changes (and should expect less security of outcome), but authors need to recognize that in most journals the essays in this category are generally published and that the editor's use of the category indicates strong interest in some aspects of the submitted work. If revisions are suggested before an article has been accepted, the author should determine whether a decision about acceptance will be based on approval of the revisions or on a reevaluation of the entire text. In all cases, the editor should specify the nature and extent of the recommended revisions and should indicate whether submitting a revised text will ensure acceptance or initiate a new review process.

When an editor notifies an author that an article has been accepted, the editor and the author should reach a clear understanding about the conditions and timing of publication and about the nature of any requested revisions. Any contingencies that would allow the editor to cancel the agreement (such as the author's failure to carry out agreed-on revisions by a specified date) or the author to withdraw the manuscript (such as the journal's failure to publish by a specified date) must be spelled out in writing. Any responsibility for providing art and permission for its use and for obtaining permission to quote copyrighted or previously unpublished material must be allocated. Other issues that may need to be addressed include copyright holding and permission to reprint in whole or in part (whether or not the journal holds the copyright, the author may wish to reserve the right to be consulted before reprinting). If a contract is signed, the author may not withdraw a manuscript or publish parts of it elsewhere without written permission from the publisher. In the absence of a contract, the author has an ethical obligation to withdraw the manuscript from consideration by other journals once it has been formally accepted.

<b>Publication</b>
Even after agreement to publish, the editor may still ask for revisions, and the final work will normally be copyedited before it is printed. Both author and editor must respect deadlines. The editor must define the production schedule, while the author must respond to queries and review any substantive changes promptly. When the author is given the opportunity to review the copyedited manuscript or a proof, it is crucial that he or she do so quickly and carefully. The author should be aware that the production schedule may require the correction and return of proof within a time as brief as forty-eight hours. The editor should provide proofreading guidelines and instructions and should state policies concerning offprints and copies sent to the author. After the author's final review of the text, the editor should make no further changes without the author's approval. Likewise, the author should make no substantive changes at the proof stage.

If all participants have followed the procedures outlined above, problems are unlikely to occur, and the published article will represent a fully cooperative venture between author and editor. Throughout, clear communication about goals, procedures, special concerns, and timetables is crucial for such a rewarding outcome.

<h2>Digital Publication</h2>
The publication of scholarly material on the Internet, although often swifter than the publication of traditional print media, can still be a lengthy process that requires close interaction among all participants. A common understanding of the typical steps in that process and of concerns that may arise along the way should facilitate communication and cooperation. Procedures for electronic publication can vary from inclusion in an online journal, where the editorial practice is essentially identical to that described above for printed journals, to self-publication, where the author serves all editorial and publishing functions. Many Web sites fall between these extremes, providing, for example, minimal evaluative screening or little copyediting or design support. The generic description below does not cover all circumstances, and the editorial practices of any individual Web site may differ significantly from the pattern presented here. With this description as a common reference point, however, authors and editors should be able to reach clear understandings about their work together.

<b>Submission of Manuscripts</b>
Authors should choose sites for prospective Web publication carefully. They should determine the goals, audiences, and special interests of potentially suitable publication sites. Particularly for younger scholars, it is essential to consult with colleagues and other knowledgeable persons concerning the suitability and professional standing of relevant sites.  The MLA affirms that "when institutions seek work with digital media and faculty members express interest in it, the institution must give full regard to this work." The standing of an electronic journal should be judged according to the same criteria used for a print journal. These criteria include the journal's peer-review policy, its rate of acceptance, the nature of its editorial board and host site, and its general profile in the field it covers. (For more information see the MLA Committee on Information Technology's  "<a href="/guidelines_evaluation_digital">Guidelines for Evaluating Work with Digital Media in the Modern Languages</a>" and "<a href="/statement_on_publica">Statement on Publication in Electronic Journals</a>.") Sites differ in the level of authorial control and responsibility for the copyediting and design of materials and in the level of technical support provided for multimedia materials. Authors should take those differences into account when determining where best to publish their work.

Authors should note whether sites encourage open submissions and should be alert for invitations to submit articles on special topics. As with print journals, the editors of electronic journals should clearly state their editorial policies. Electronic journals and Web sites associated with specific professional organizations may accept submissions only from members. After selecting an electronic venue, the author should examine the site's recent publications to verify that the topic, scope, style, and length of the proposed article conform to the site's current practices and editorial policies. Each site should contain information regarding the method and format for submission of materials, along with the editor's name and contact information. When submitting material for publication in a credible electronic journal, authors and editors should follow the same procedures used for handling submissions to print media.  

Many editors are inundated with submissions, while most authors--whether beginners or seasoned professionals--make a considerable investment of time, thought, and effort. The editor should send the author a simple acknowledgment within two weeks after a potentially acceptable article has been received. If an article is clearly not suitable for publication on the site, the editor should write promptly, indicating why the manuscript is not suitable. It is appropriate for the author to make an inquiry if he or she receives no acknowledgment within one month, making allowances for the vagaries of the academic calendar.

<b>Evaluation</b>
For Web sites and electronic journals with the highest level of peer review (and hence professional credibility), the procedures for evaluation closely mirror those described above for the publication of scholarly articles. Web sites with more informal procedures may publish more swiftly, but authors should carefully weigh that advantage against the benefits of peer review.

<b>Publication</b>
Publication procedures vary widely among Web sites, and author and editor should be clear in allocating responsibility for copyediting, formatting, and other issues, such as layout and design. If images, audio, or other multimedia components are included in the publication, author and editor must allocate responsibility for providing such material and permission for its use and for obtaining permission to quote copyrighted or previously unpublished material. Other issues that may need to be addressed include copyright holding and permission to reprint in whole or in part (whether or not the electronic journal or Web site holds the copyright, the author may wish to reserve the right to be consulted before the material can be used elsewhere). If a contract is signed, the author may not withdraw a manuscript or publish parts of it elsewhere without written permission from the publisher. In the absence of a contract, the author has an ethical obligation to withdraw the manuscript from consideration for publication elsewhere once it has been formally accepted.

Technological, copyediting, and formatting errors reflect badly on both the author and the site, and with fewer publication stages at which to catch mistakes it is crucial that the author review the text carefully. Although with electronic publication it may be possible to correct errors after publication, this can be complicated and time-consuming, and many editors are understandably reluctant to make such corrections.


If all participants have followed the procedures outlined above, problems are unlikely to occur, and the published material will represent a fully cooperative venture between author and editor. Throughout, clear communication about goals, procedures, special concerns, and timetables is crucial for such a rewarding outcome.

<div ALIGN="right"><i>MLA Committee on Academic Freedom and Professional Rights and Responsibilities</i></div>

This report was published in the <i>ADE Bulletin</i> 132 (2002): 107-11 and revised in 2007-08.
