<img src="/IMAGES/advocacykit_logoweb.gif" width="400" height="100" border="0" align="top" hspace="0" vspace="2" alt="Maps">

<h2>Introduction</h2>
The Academic Workforce Advocacy Kit brings together a set of reports and guidelines on faculty workload and staffing norms developed by the association since the 1990s. Armed with these facts and figures, buttressed by goals and guidelines endorsed by the largest professional association of scholars in the country, we can begin to do the hard work of describing the situation in our own institutions; comparing it with the situation on the national level; confronting administrations with the facts, needs, and relevant standards; and educating the public at the local and state level.
—<a href="/fromthepres&topic=128">Catherine Porter, Summer 2009 <i>MLA Newsletter</i></a>

For a list of organizations supporting this effort, see <a href="http://www.academicworkforce.org/members.html">the list of members of the Coalition on the Academic Workforce</a>.

<h2><a href="/acad_work_search">Academic Workforce Data Center</a></h2>
The Academic Workforce Data Center presents Department of Education (DOE) data about the composition of the academic workforce at 4,246 colleges and universities in the United States. Users can look up statistics on part-time, full-time, tenure-track, and non-tenure-track instructors at each institution and compare data from 2009 and 1995.

<h2><a href="/awak_issue_brief_pdf" onClick="javascript: pageTracker._trackPageview('/downloads/awak_issue_brief_pdf'); ">MLA Issue Brief: The Academic Workforce (2009)</a>[[[docstudio filetype_tag_pdf]]]</h2>
The MLA Executive Council created this issue brief to inform members of the profession and the general public of the circumstances faced by the academic workforce in the humanities. It provides background information and explains the council’s working assumptions. The brief then lays out an agenda and recommends a course of action to improve working conditions for the academic workforce.

<h2><a href="/clip_stmt_final_may1" >Professional Employment Practices for Non-Tenure-Track Faculty Members: Recommendations and Evaluative Questions (2011)</a>[[[docstudio filetype_tag_pdf]]]</h2>
Created by the MLA Committee on Contingent Labor in the Profession, this self-study document offers departments a framework for identifying and implementing fair and equitable policies and practices for the hiring, review, compensation, and advancement of non-tenure-track faculty members.

<h2><a href="/workforce_fullreport" onClick="javascript: pageTracker._trackPageview('/downloads/workforce_fullreport'); ">Education in the Balance: A Report on the Academic Workforce in English (2008)</a>[[[docstudio filetype_tag_pdf]]]</h2>
"We urge the profession to turn its attention to the full range of faculty members teaching in departments of English and other modern language departments. And if, as we believe, the profession is becoming increasingly divided into a teaching faculty and a research faculty, we urge our colleagues to consider the consequences of such a division. We hope our report can newly inform the discussion of the academic labor market and assist efforts to bring respect and equity to all who are teaching on our campuses."

<h2><a href="/demographyfacultypdf" onClick="javascript: pageTracker._trackPageview('/downloads/demographyfacultypdf'); ">Demography of the Faculty (2008)</a>[[[docstudio filetype_tag_pdf]]]</h2>
This report presents statistical information from United States government sources about the composition of the faculty across the modern languages in United States institutions of higher education. 

<h2><a href="/flreport">Foreign Languages and Higher Education:  New Structures for a Changed World (2007)</a></h2>
"In the context of globalization and in the post-9/11 environment . . . the usefulness of studying languages other than English is no longer contested. The goals and means of language study, however, continue to be hotly debated. Divergent views concerning language and its many functions are reflected in differing approaches to the study of language."

<h2><a href="/tenure_promotion" onClick="javascript: pageTracker._trackPageview('/downloads/tenure_promotion'); ">Report of the MLA Task Force on Evaluating Scholarship  for Tenure and Promotion (2006)</a></h2>
This report examines current standards and emerging trends in requirements for tenure and promotion in English and foreign language departments in colleges and universities throughout the United States. The report is based on a survey of more than 1,300 departments at institutions across the nation and includes 20 major recommendations for change.

<hr width="100%"><div class="top_indent"><a href="/statement_on_nonten">MLA Statement on Non-Tenure-Track Faculty Members</a></div>
<div class="top_indent"><a href="/ensuring_the_quality">Ensuring the Quality of Undergraduate Programs in English and Foreign Languages:  MLA Recommendations on Staffing</a></div>
<div class="top_indent"><a href="/mla_recommendation_o">Recommendation on a Minimum Wage for Full-Time Entry-Level Faculty Members </a></div>
<div class="top_indent"><a href="/mla_recommendation_course">Recommendation on Minimum Per-Course Compensation for Part-Time Faculty Members </a></div>
<div class="top_indent"><a href="/staffing_survey99">The 1999 MLA Survey of Staffing in English and Foreign Language Departments</a></div>
<div class="top_indent"><a href="http://www.historians.org/caw/cawreport.htm" target="_blank">Summary of Data from Surveys by the Coalition on the Academic Workforce </a></div>
<div class="top_indent"><a href="/prof_employment">Final Report of the MLA Committee on Professional Employment</a></div>
<div class="top_indent"><a href="/statement_faculty">MLA Statement on the Use of Part-Time and Full-Time Adjunct Faculty</a></div>
<div class="top_indent"><a href="/employ_prefs_tables">Employment Preferences of Part-Time Faculty Members</a>[[[docstudio filetype_tag_pdf]]]</div>
