<P><a href="/advocacy_kit"><img src="/IMAGES/advocacykit_logoweb.gif" width="400" height="100" border="0" align="top" hspace="0" vspace="2" alt="logo"></a>
<h1>Articles</h1>
<b><a href="http://www.historians.org/perspectives/issues/2006/0604/0604pre1.cfm" target="_blank">Depending on the Contingent: The Hidden Costs for History</a></b>
Linda Kerber, "From the President," <i>Perspectives: The Newsmagazine of the American Historical Association</i>, April 2006.

<hr size=2 width="100%" noshade color="#aca899" align=center> 
<b><a href="http://www.historians.org/perspectives/issues/2006/0603/0603new1.cfm" target="_blank">Federal Faculty Survey Shows Gains for History Employment but Lagging Salaries</a></b>
Robert B. Townsend, <i>Perspectives: The Newsmagazine of the American Historical Association</i>, March 2006.

<hr size=2 width="100%" color="#aca899" align=center>
<b><a href="http://www.historians.org/perspectives/issues/2006/0601/0601new1.cfm" target="_blank">Job Market Report 2005: Signs of Improvement?</a></b>
Robert B. Townsend, <i>Perspectives: The Newsmagazine of the American Historical Association</i>, March 2006.

<hr size=2 width="100%" noshade color="#aca899" align=center>
<b>Educational Technology and "Roads Scholars"</b>
Anthea Tillyer, <i>Academe</i> July-August 2005. This article is available through <a href="http://www.jstor.org/stable/40253431" target="_blank">JSTOR</a> (subscription or pay-per-view) or <a href="http://www.questia.com/library/1P3-879608811/educational-technology-and-roads-scholars" target="_blank">Questia</a> (subscription).
