<P><a href="/advocacy_kit"><img src="/IMAGES/advocacykit_logoweb.gif" width="400" height="100" border="0" align="top" hspace="0" vspace="2" alt="logo"></a>
<h1>Books and Journal Issues</h1>
<b><a href="http://www.mla.org/store/CID22/PID249">Academic Collective Bargaining</a></b>
In response to the changing academic labor market, the American Association of University Professors (AAUP) and the Modern Language Association (MLA) assembled this 2006 volume on the history and practice of academic collective bargaining. Contributors aim to educate readers about the historical and practical contexts of collective bargaining. The essays collected here explore the perspectives, successes, failures, and approaches of those who have collectively bargained so that readers can assess the pros and cons of unionization.

<hr size=2 width="100%" noshade color="#aca899" align=center>
<b><a href="http://www.aacu.org/peerreview/pr-fa02/index.cfm" target="_blank">Contingent Faculty and Student Learning</a></b>
The Fall 2002 special issue of the Association of American Colleges and Universities' <i>Peer Review</i>.

<hr size=2 width="100%" noshade color="#aca899" align=center> 
<b><a href="http://www.wiley.com/WileyCDA/WileyTitle/productCd-0787972258.html" target="_blank">Exploring the Role of Contingent Instructional Staff in Undergraduate Learning: New Directions for Higher Education, No. 123 Ed. Ernst Benjamin. Jassey-Bass 2003.</a></b>
Includes the following articles:
<div class="top_indent">Jack H. Schuster,  "The Faculty Makeover: What Does It Mean for Students?"</div>
<div class="top_indent">Robert B. Townsend,  "Changing Relationships, Changing Values in the American Classroom"</div>
<div class="top_indent">Maureen Murphy Nutting,  "Part-Time Faculty: Why Should We Care?"</div>
<div class="top_indent">Karen Thompson,  "Contingent Faculty and Student Learning: Welcome to the Strativersity" </div>
<div class="top_indent">John G. Cross and Edie N. Goldenberg,  "How Does University Decision Making Shape the Faculty?"</div>
<div class="top_indent">Gary W. Reichard,  "The Choices Before Us: An Administrator’s Perspective on Faculty Staffing and Student Learning in General Education Courses"</div>
<div class="top_indent">Sandra E. Elman,  "A Regional Accreditation Perspective on Contingent Faculty Appointments"</div>
<div class="top_indent">Ernst Benjamin,  "Reappraisal and Implications for Policy and Research"</div>
