<h1>Aggregate Enrollments in the Historical Enrollments Database</h1>

In early MLA enrollments surveys, some languages were recorded in aggregate form only. As a result, the database cannot expand the data to the same level of detail for all years. Language data was aggregated in two ways. In some cases, all languages other than those that were most commonly taught in those survey years were recorded under the rubric “Other Languages” but were broken down by institution (e.g., Stanford University, in the 1963 survey, had 167 enrollments in “Other Languages”). In other cases, all enrollments for less commonly taught languages were reported by language name but were not broken down by institution (e.g., in the 1958 survey, there were 9 enrollments in Bulgarian for the entire United States). The following surveys have aggregate data:

<h3>1958, 1959, 1960 (two-year institutions), 1961, 1963</h3>
The most commonly taught five modern languages (French, German, Italian, Russian, and Spanish) are broken out by language and institution; the remaining languages are aggregated under “Other Languages”; the enrollments are reported for each institution.

<h3>1970, 1972</h3>
The most commonly taught five modern languages (French, German, Italian, Russian, and Spanish), as well as Latin and Ancient Greek, are broken out by language and institution; the remaining languages are aggregated under “Other Languages”; the enrollments are reported for each institution. 

<h3>1958, 1959, 1961, 1963, 1970</h3>
The less commonly taught languages are reported by individual language name but not by institution (they are aggregated for the entire United States). 

<h3>1969</h3>
The most commonly taught five modern languages (French, German, Italian, Russian, and Spanish), as well as Latin and Ancient Greek, are reported by individual language name but not by institution (they are aggregated for the entire United States). 

<h3>1971</h3>
All languages are reported by individual language name but not by institution (they are aggregated for the entire United States).
