<h1>AJAX Ping Test</h1>
<div id="reinstate_form" style="visibility:visible;display:block;">
<form action="#" method="post" name="form1" style="padding:0;margin:0;" onSubmit="searchReinstate();">
	<input type="hidden" name="plugin" value="membership">
	<table border="0" cellpadding="3" cellspacing="0" style="padding:3px;">
		<tr>
			<td class="s1" style="padding:3px;">
				First Name
				<br><input type="text" size="22" maxlength="45" name="first_name" value="[[[RESULTS orig_first_name]]]">
			</td>
			<td class="s1" style="padding:3px;">
				Last Name
				<br><input type="text" size="22" maxlength="45" name="last_name" value="[[[RESULTS orig_last_name]]]">
			</td>
		</tr>
		<tr>
			<td class="s1" colspan="2" style="padding:3px;">
				<input type="checkbox" name="ok_go" value="Y" />&nbsp;Allow ping to continue
			</td>
		</tr>
		<tr>
			<td class="s1" colspan="2" style="padding:3px;">
				<input type="button" value="Start Pinging" onClick="searchReinstate();">&nbsp;&nbsp;&nbsp;<input type="button" value="Clear results" onClick="document.getElementById('resultsDiv').innerHTML = '<b>Results:</b><br />';">
			</td>
		</tr>
	</table>
</form>
</div>

<div id="resultsDiv" style="border: 1px solid black; padding: 4px; width: 100%; height: 240px; overflow: scroll;"><b>Results:</b><br /></div>
<script type="text/javascript">
function timestamp_class(this_current_time, this_start_time, this_end_time, this_time_difference) { 
		this.this_current_time = this_current_time;
		this.this_start_time = this_start_time;
		this.this_end_time = this_end_time;
		this.this_time_difference = this_time_difference;
		this.GetCurrentTime = GetCurrentTime;
		this.StartTiming = StartTiming;
		this.EndTiming = EndTiming;
	}

	//Get current time from date timestamp
	function GetCurrentTime() {
	var my_current_timestamp;
		my_current_timestamp = new Date();		//stamp current date & time
		return my_current_timestamp.getTime();
		}

	//Stamp current time as start time and reset display textbox
	function StartTiming() {
		this.this_start_time = GetCurrentTime();	//stamp current time
		}

	//Stamp current time as stop time, compute elapsed time difference and display in textbox
	function EndTiming() {
		this.this_end_time = GetCurrentTime();		//stamp current time
		this.this_time_difference = (this.this_end_time - this.this_start_time) / 1000;	//compute elapsed time
		return this.this_time_difference;	//set elapsed time in display box
		}




function searchReinstate(theform,themessage,thediv) {

	if (!document.form1.ok_go.checked) {
		return;
	}
	
	var badcount = 0;
	var errormsg = "";
	var emsg = "";
	var theform = document.form1;

	if (theform.first_name.value=='' && theform.last_name.value=='') {
		badcount++;
		errormsg += '\n' + badcount + ': Please enter a first or last name.';
		}
	
	if (badcount > 0) {
		alert(errormsg);
		} else {
		
		// set up the ajax submit
		var geturl = '';
		var posturl = '/FORM_ACTIONS/join_new_intro';
		var poststr = "function=ajax_reinstate_search";
		for (var i=0;i<theform.elements.length;i++) {
			if (theform.elements[i].type == 'checkbox' || theform.elements[i].type == 'radio') {
				if (theform.elements[i].checked) {
					poststr = poststr + "&" + theform.elements[i].name + "=" + encodeURI( theform.elements[i].value );
					}
				} else {
				poststr = poststr + "&" + theform.elements[i].name + "=" + encodeURI( theform.elements[i].value );
				}
			}

		var resDiv = document.getElementById('resultsDiv');
		resDiv.innerHTML += 'Sending request... ';
		var time_object = new timestamp_class(0, 0, 0, 0);	//create new time object and initialize it
		time_object.StartTiming();

		MLAjaxFunction(
			geturl,
			posturl,
			poststr,
			function(aresponse) {
				var resDiv = document.getElementById('resultsDiv');
				var elapsed = time_object.EndTiming();
				
				if (aresponse == 'NORESULTS') {
					resDiv.innerHTML = resDiv.innerHTML + 'Done - No results in ' + elapsed + ' seconds.<br />';
				} else {
					resDiv.innerHTML = resDiv.innerHTML + 'Done - Received ' + aresponse.length + ' bytes in ' + elapsed + ' seconds.<br />';
				}
				setTimeout('searchReinstate()', 1000);
			},
			function(msg) {
				var resDiv = document.getElementById('resultsDiv');
				resDiv.innerHTML = resDiv.innerHTML + 'Error: ' + msg + '<br />';
				document.form1.ok_go.checked = false;
			}
		);

	}
}


</script>
