<h1>Alphabetical List of Committees (Excluding Division and Discussion Group Executive Committees)</h1>
<div class="top_indent"><a href="/comm_bibliography">Advisory Committee on the <i>MLA International Bibliography</i></a></div>
<div class="top_indent"><a href="/comm_manuscript">Aldo and Jeanne Scaglione Prize for a Manuscript in Italian Literary Studies Selection Committee</a></div>
<div class="top_indent"><a href="/comm_translation">Aldo and Jeanne Scaglione Prize for a Translation of a Literary Work Selection Committee</a></div>
<div class="top_indent"><a href="/comm_trans_scholarly">Aldo and Jeanne Scaglione Prize for a Translation of a Scholarly Study of Literature Selection Committee</a></div>
<div class="top_indent"><a href="/comm_complit">Aldo and Jeanne Scaglione Prize for Comparative Literary Studies Selection Committee</a></div>
<div class="top_indent"><a href="/comm_french">Aldo and Jeanne Scaglione Prize for French and Francophone Studies Selection Committee</a></div>
<div class="top_indent"><a href="/comm_italian">Aldo and Jeanne Scaglione Prize for Italian Studies Selection Committee</a></div>
<div class="top_indent"><a href="/comm_germanic">Aldo and Jeanne Scaglione Prize for Studies in Germanic Languages and Literatures Selection Committee</a></div>
<div class="top_indent"><a href="/comm_slavic">Aldo and Jeanne Scaglione Prize for Studies in Slavic Languages and Literatures Selection Committee</a></div>
<div class="top_indent"><a href="/comm_acad_freedom">Committee on Academic Freedom and Professional Rights and Responsibilities</a></div>
<div class="top_indent"><a href="/comm_amendments">Committee on Amendments to the Constitution</a></div>
<div class="top_indent"><a href="/ccc">Committee on Community Colleges</a></div>
<div class="top_indent"><a href="/committee_contingent">Committee on Contingent Labor in the Profession</a></div>
<div class="top_indent"><a href="/comm_disability">Committee on Disability Issues in the Profession</a></div>
<div class="top_indent"><a href="/comm_honorsawards">Committee on Honors and Awards</a></div>
<div class="top_indent"><a href="/comm_id">Committee on Information Technology</a></div>
<div class="top_indent"><a href="/comm_scholarly">Committee on Scholarly Editions</a></div>
<div class="top_indent"><a href="/comm_color">Committee on the Literatures of People of Color in the United States and Canada</a></div>
<div class="top_indent"><a href="/comm_shakespeare">Committee on the New Variorum Edition of Shakespeare</a></div>
<div class="top_indent"><a href="/comm_grad">Committee on the Status of Graduate Students in the Profession</a></div>
<div class="top_indent"><a href="/comm_women">Committee on the Status of Women in the Profession</a></div>
<div class="top_indent"><a href="/comm_delegate">Delegate Assembly Organizing Committee</a></div>
<div class="top_indent"><a href="/comm_elections">Elections Committee</a></div>
<div class="top_indent"><a href="/comm_ec">Executive Council</a></div>
<div class="top_indent"><a href="/comm_leviant">Fenia and Yaakov Leviant Memorial Prize in Yiddish Studies Selection Committee</a></div>
<div class="top_indent"><a href="/comm_marraro">Howard R. Marraro Prize Selection Committee</a></div>
<div class="top_indent"><a href="/comm_lowell">James Russell Lowell Prize Selection Committee</a></div>
<div class="top_indent"><a href="/comm_kovacs">Katherine Singer Kovacs Prize Selection Committee</a></div>
<div class="top_indent"><a href="/kenneth_w_mildenber">Kenneth W. Mildenberger Prize and Mina P. Shaughnessy Prize Selection Committee</a></div>
<div class="top_indent"><a href="/comm_roth">Lois Roth Award Selection Committee</a></div>
<div class="top_indent"><a href="/comm_mlalifscholachievement">MLA Award for Lifetime Scholarly Achievement Review Committee</a></div>
<div class="top_indent"><a href="/comm_mladistbib">Modern Language Association Prize for a Bibliography, Archive, or Digital Project Selection Committee</a></div>
<div class="top_indent"><a href="/comm_mlascholarly">Modern Language Association Prize for a Distinguished Scholarly Edition Selection Committee</a></div>
<div class="top_indent"><a href="/comm_firstbook">Modern Language Association Prize for a First Book Selection Committee</a></div>
<div class="top_indent"><a href="/comm_indsch">Modern Language Association Prize for Independent Scholars Selection Committee</a></div>
<div class="top_indent"><a href="/modern_language_asso">Modern Language Association Prize in United States Latina and Latino and Chicana and Chicano Literary and Cultural Studies</a></div>
<div class="top_indent"><a href="/comm_cohen">Morton N. Cohen Award Selection Committee</a></div>
<div class="top_indent"><a href="/comm_nominating">Nominating Committee</a></div>
<div class="top_indent"><a href="/comm_pmla_adv"><I>PMLA</I> Advisory Committee</a></div>
<div class="top_indent"><a href="/comm_pmla_editorial"><I>PMLA</I> Editorial Board</a></div>
<div class="top_indent"><a href="/comm_profession"><i>Profession</i> Advisory Committee</a></div>
<div class="top_indent"><a href="/comm_program">Program Committee</a></div>
<div class="top_indent"><a href="/comm_pubcomm">Publications Committee</a></div>
<div class="top_indent"><a href="/comm_structures">Steering Committee on New Structures for Languages in Higher Education</a></div>
<div class="top_indent"><a href="/tf_doctoral">Task Force on Doctoral Study in Modern Language and Literature</a></div>
<div class="top_indent"><a href="/comm_texttrans">Texts and Translations Series Editorial Board</a></div>
<div class="top_indent"><a href="/comm_parkerprize">William Riley Parker Prize Selection Committee</a></div>
<div class="top_indent"><a href="/comm_scarborough">William Sanders Scarborough Prize Selection Committee</a></div>
