<h1>New Approaches Volumes in Preparation</h1>
You may click on a link below to participate in the development of new volumes in the series Approaches to Teaching World Literature. A link will take you to a questionnaire related to a particular volume. The questionnaires are designed to gather information helpful to the volume&rsquo;s editor(s) and also to give respondents an opportunity to propose an essay contribution. All respondents are acknowledged in the published volumes.

<i>There are no questionnaires at this time.</i>
