<h1>Assistance for Non-Tenure-Track Faculty Members and for Unemployed Members Traveling to the January 2014 Convention</h1>
The Executive Council has voted to allot funds to provide partial travel reimbursement of $300 to non-tenure-track faculty members and those without employment to attend the January 2014 convention in Chicago. To be eligible, applicants must have been members of the MLA by 30 June 2012 and must be nonstudent members of the MLA by 30 June 2013. They must be non-tenure-track faculty members or be unemployed. Their income must place them in one of the three lowest income ranges in the dues schedule. Applicants may only receive the travel grant once every three years. Funds are available to cover a limited number of awards; if applications exceed available funds, priority will be given to applicants who have not received an MLA travel grant of any kind in the previous five years.  If necessary, recipients will be selected in a random manner.  Eligible applicants not selected in 2013 will be given priority in 2014, provided they still meet the eligibility requirements. 

Members may apply online or by mail. Non-tenure-track faculty members may apply <a href="/grants_nontenure">here</a>; unemployed members may apply <a href="/grants_unemployed">here</a>. To apply by mail, members should send their contact information along with a brief statement stipulating that they are non-tenure-track faculty members or are unemployed. A change in income range or in student, faculty, or unemployment status since membership renewal should be noted in the application.  Mail applications by 1 November 2013 to the Travel Grant Program, MLA, 26 Broadway, 3rd floor, New York, NY 10004-1789. As part of the application process, members must request matching funds from their departments or institutions by using a letter provided by the MLA (available <a href="/travelgrant_letter10">here</a>[[[docstudio filetype_tag_pdf]]]).  The council wants to make institutions aware of the importance of supporting all instructional staff members in their professional development activities.  The institution's response must be presented when grant recipients hand in their material at the convention, even if no matching funds are granted.  For further information, call or write the office of programs (646 576-5141; awards@mla.org).

Since 1997, the Executive Council has invited MLA members to donate money to a professional education assistance fund that will provide ongoing support for these travel reimbursements. A space on the membership renewal form allows members to add to their dues payments a tax-deductible contribution to the fund. 

 
