<h1>Standing Still: The Associate Professor Survey</h1>
<a href="/cswp_report09">Full Report</a>[[[docstudio filetype_tag_pdf]]]
<a href="/cswp_keyfindings2009">Key Findings</a>[[[docstudio filetype_tag_pdf]]]

<a href="/cswp_questionnaire_a">View the questionnaire</a> that was used to collect the data presented in this report.
