<h1>Winners of MLA Prizes</h1>
The MLA's prizes are awarded under the auspices of the <A HREF="/comm_honorsawards">Committee on Honors and Awards</a>, which appoints the members of the selection committees and determines procedures, deadlines, and criteria for eligibility for all the prizes. Deadlines for upcoming prizes appear <A HREF="awards_submissions">elsewhere on this Web site</a>. To submit books or to obtain detailed information about any of the prizes, call or write the office of programs at the MLA headquarters (646 576-5141; <A HREF="mailto:awards@mla.org">awards@mla.org</a>).

<a href="/2013_prize_winners" >Winners of 2013 MLA Prizes</a>[[[docstudio filetype_tag_pdf]]]
[[[comment]]]<a href=" TK">Video of 2013 MLA-Prize-Winning Books</a>[[[endcomment]]]
<h2>Current and Past Winners by Prize</h2>
<a href="/pastwinners_parker">William Riley Parker Prize</a>
<a href="/pastwinners_lowell">James Russell Lowell Prize</a>
<a href="/pastwinners_firstbk">MLA Prize for a First Book</a>
<a href="/pastwinners_marraro">Howard R. Marraro Prize</a>
<a href="/pastwinners_kwm">Kenneth W. Mildenberger Prize</a>
<a href="/pastwinners_mps">Mina P. Shaughnessy Prize</a>
<a href="/pastwinners_indsch">MLA Prize for Independent Scholars</a>
<a href="/pastwinners_cohen">Morton N. Cohen Award for a Distinguished Edition of Letters</a>
<a href="/pastwinners_kovacs">Katherine Singer Kovacs Prize</a>
<a href="/pastwinners_complit">Aldo and Jeanne Scaglione Prize for Comparative Literary Studies</a>
<a href="/pastwinners_french">Aldo and Jeanne Scaglione Prize for French and Francophone Studies</a>
<a href="/pastwinners_germanic">Aldo and Jeanne Scaglione Prize for Studies in Germanic Languages and Literatures</a>
<a href="/pastwinners_translit">Aldo and Jeanne Scaglione Prize for a Translation of a Literary Work</a>
<a href="/pastwinners_slavic">Aldo and Jeanne Scaglione Prize for Studies in Slavic Languages and Literatures</a>
<a href="/pastwinners_trans">Aldo and Jeanne Scaglione Prize for a Translation of a Scholarly Study of Literature</a>
<a href="/pastwinners_distsch">MLA Prize for a Scholarly Edition</a>
<a href="/pastwinners_bib">MLA Prize for a Bibliography, Archive, or Digital Project</a>
<a href="/pastwinners_itallit">Aldo and Jeanne Scaglione Publication Award for a Manuscript in Italian Literary Studies</a>
<a href="/pastwinners_roth">Lois Roth Award for a Translation of a Literary Work</a>
<a href="/pastwinners_italian">Aldo and Jeanne Scaglione Prize for Italian Studies</a>
<a href="/pastwinners_wss">William Sanders Scarborough Prize</a>
<a href="/pastwinners_leviant">Fenia and Yaakov Leviant Memorial Prize in Yiddish Studies</a>
<a href="/prizewinners_chicana">MLA Prize in United States Latina and Latino and Chicana and Chicano Literary and Cultural Studies</a>
<a href="/pastwinners_schol_ach">MLA Award for Lifetime Scholarly Achievement</a>
<a href="/pfranklin_award">Phyllis Franklin Award for Public Advocacy of the Humanities</a>


 
