[[[insert file "ballot_progress"]]]

<h1>6: Discussion Group Executive Committee Elections</h1>

<p>The MLA's 49 discussion groups are listed below in alphabetical order. <b>You may vote in at most 3 discussion group executive committee contests</b>.  Unless otherwise indicated, the term of those elected will be five years (13 January 2014 through the close of the January 2019 convention).  Click <a href="/dgroupexeccomm" target="_blank">here</a> to see the current listing of executive committees and their members.</p>
<p>After you have marked your choices, please save your votes to your voting summary by clicking on one of the Save buttons at the bottom of the page.</p>

<form action="/[[[RESULTS ballot_next_page]]]" method="POST" name="form1" style="margin: 0px">
<input type="hidden" name="function" value="record_vote" />
<input type="hidden" name="cols" value="[[[RESULTS ballot_cols_on_page]]]" />
<input type="hidden" name="BV_DGECE_1" value="" />
<input type="hidden" name="BV_DGECE_2" value="" />
<input type="hidden" name="BV_DGECE_3" value="" />

<table cellpadding="8" cellspacing="16" border="0" align="center">

[[[@loop "contests"]]]
[[[@if ($rownum > 1)]]]
<tr><td colspan="3"><hr></td></tr>
[[[@endif]]]
[[[@if ($col[11] ne "")]]]
<tr>
<td colspan="3"><b>[[[@col 11]]]</b>
[[[@if ($rownum % 3 == 1)]]]<div style="float: right"><a href="#buttonbar">Jump to bottom</a></div>[[[@endif]]]
</td>
</tr>
[[[@endif]]]
<tr>
<td style="width: 45%; border: 1px solid black" valign="top"><input type="radio" onClick="updateButtons(this)" name="candidate_<@rownum>" id="can_<@col 1>" value="<@col 1>"[[[RESULTS checked_<@col 1>]]] />&nbsp;&nbsp;
<@col 2> <@col 3><br /><@col 4>
</td>
<td width="5%" valign="middle" align="center"><a href="javascript:clearVote('can_<@col 1>','can_<@col 6>')">clear<br />vote</a></td>
<td style="width: 45%; border: 1px solid black" valign="top"><input type="radio" onClick="updateButtons(this)" name="candidate_<@rownum>" id="can_<@col 6>" value="<@col 6>"[[[RESULTS checked_<@col 6>]]] />&nbsp;&nbsp;
<@col 7> <@col 8><br /><@col 9>
</td>
</tr>
<@/loop>
</table>
<table cellpadding="8" cellspacing="0" border="0" align="center" id="buttonbar">
<tr>
<td align="center"><input style="width: 280px" type="button" id="sac_button" value="Save and Review Voting Summary" onClick="this.form.action = '/ballot_summary'; checkAndSubmit(this.form)" /></td>
<td align="center"><input style="width: 255px" type="button" id="sar_button" value="Save and Return to Main Menu" onClick="this.form.action = '/ballot_main'; checkAndSubmit(this.form)" /></td>
<td align="center"><input style="width: 125px" type="button" value="Exit without Saving" onClick="window.location.href = '/ballot_main&msg=noch';" /></td>
</tr>
</table>

<script language="JavaScript">

var max_votes = 3;

function updateButtons(inp) {

	var f = document.form1;
	var total_votes = 0;
	
	for (j=0; j<f.elements.length; j++) {
		if (f.elements[j].name.match(/^candidate/)) {
			if (f.elements[j].checked) {
				total_votes++;
			}
		}
	}
	
	if (total_votes <= max_votes) {
		var sac = document.getElementById('sac_button');
		var sar = document.getElementById('sar_button');
	
		sac.value = 'Save ' + total_votes + ' Vote(s) and Review Voting Summary';
		sar.value = 'Save ' + total_votes + ' Vote(s) and Return to Main Menu';
	} else {
		// alert('You may vote in a maximum of ' + max_votes + ' contest' + (max_votes > 1 ? 's' : '') + ' on this page.');
		alert('You have just marked a fourth selection.\n\nPlease remember that you may vote in at most 3 discussion group contests.');

		if (inp) {
			inp.checked = false;
			updateButtons();
		}
		return false;
	}

}

function checkAndSubmit(f) {

	var votes = new Object;
	var total_votes = 1;
	
	var error = '';
	f['BV_DGECE_1'].value = '';
	f['BV_DGECE_2'].value = '';
	f['BV_DGECE_3'].value = '';


	for (j=0; j<f.elements.length; j++) {
		if (f.elements[j].name.match(/^candidate/)) {
			if (f.elements[j].checked) {
				var theInput = f['BV_DGECE_' + total_votes++];
				if (theInput) theInput.value = f.elements[j].value;
			}
		}
	}

	total_votes--;
	
	if (total_votes > max_votes) {
		if (max_votes > 0) {
			error = 'You may vote in a maximum of ' + max_votes + ' contest' + (max_votes > 1 ? 's' : '') + ' on this page';
		}
	}
	
	if (error != '') {
		if (error == 'C') {
			error = '';
		} else {
			error = error + '\n\n';
		}
		error = error + 'Please correct your vote and try again.';
		alert(error);
	} else {
		f.submit();
	}
}

function clearVote(inp1,inp2) {
	var i1 = document.getElementById(inp1);
	var i2 = document.getElementById(inp2);
	if (i1.checked) i1.checked = false;
	if (i2.checked) i2.checked = false;
	updateButtons();
}

function UpdateCursorPosition(e){ cX = e.pageX; cY = e.pageY;}
function UpdateCursorPositionDocAll(e){ cX = event.clientX; cY = event.clientY;}
if(document.all) { document.onmousemove = UpdateCursorPositionDocAll; }else { document.onmousemove = UpdateCursorPosition; }

function AssignPosition(d) {
	if(self.pageYOffset) {	
		rX = self.pageXOffset;	rY = self.pageYOffset;	
	}else if(document.documentElement && document.documentElement.scrollTop) {
		rX = document.documentElement.scrollLeft;	rY = document.documentElement.scrollTop;
	}else if(document.body) {	
		rX = document.body.scrollLeft;	rY = document.body.scrollTop;	
	}
	if(document.all) {	cX += rX; 	cY += rY;	}
	d.style.left = (cX+10) + "px";
	d.style.top = (cY+10) + "px";
}

var candidateDiv;

function showCandidateInfo(info) {
	if (info == '') {
		return;
	}
	
	if (candidateDiv && candidateDiv.innerHTML != info) {
		candidateDiv.style.display = 'none';
		document.body.removeChild(candidateDiv);
		candidateDiv = undefined;
	}
	if (candidateDiv) {
		candidateDiv.style.display = 'none';
		document.body.removeChild(candidateDiv);
		candidateDiv = undefined;
	} else {
		candidateDiv = document.createElement('div');
		candidateDiv.style.position = 'absolute';
		candidateDiv.style.display = 'none';
		candidateDiv.style.border = '1px solid black';
		candidateDiv.style.backgroundColor = 'white';
		candidateDiv.style.padding = '5px';
		candidateDiv.innerHTML = info;
		document.body.appendChild(candidateDiv);
		AssignPosition(candidateDiv);
		candidateDiv.style.display = 'block';
	}
}

updateButtons();

</script>
