[[[insert file "ballot_progress"]]]

<h1>3: Voting for Special-Interest Delegates</h1>

<p>This year, there are [[[RESULTS vote_3_contests]]] contests in [[[RESULTS vote_3_categories]]] categories.  Click <a href="/ballot_sidlist" target="_blank">here</a> to see a complete listing of special-interest candidates. </p> 

<p>Vote for 1 candidate in any or all of the [[[RESULTS vote_3_contests]]] contests. After you have marked your choices, please save your votes to your voting summary by clicking on one of the Save buttons at the bottom of the page.</p>

<form action="/[[[RESULTS ballot_next_page]]]" method="POST" name="form1" style="margin: 0px">
<input type="hidden" name="function" value="record_vote" />
<input type="hidden" name="cols" value="[[[RESULTS ballot_cols_on_page]]]" />

<table cellpadding="8" cellspacing="16" border="0" align="center">
[[[@loop "contests"]]]
[[[@if ($rownum > 1)]]]
<tr><td colspan="3"><hr></td></tr>
[[[@endif]]]
[[[@if ($col[11] ne "")]]]
<tr>
<td colspan="3"><b>[[[@col 11]]]</b> ([[[@col 14]]] contest[[[@if ($col[14] > 1)]]]s[[[@endif]]])
[[[@if ($rownum % 3 == 1)]]]<div style="float: right"><a href="#buttonbar">Jump to bottom</a></div>[[[@endif]]]
</td>
</tr>
[[[@endif]]]
<tr>
<td style="width: 45%; border: 1px solid black"><input type="radio" name="BV_SID_<@col 5>" id="can_<@col 1>" onClick="updateButtons()" value="<@col 1>"<@if ($results{'BV_SID_'.$col[5]} eq $col[1])> checked<@/if> />&nbsp;
&nbsp;<@if ($col[4] ne '999')><a href="javascript:showCandidateInfo(<@col 4>)"><@col 2></a><@else><@col 2><@/if> <@col 3></td>
<td width="5%"><a href="javascript:clearVote('can_<@col 1>','can_<@col 6>')">clear<br>vote</a></td>
<td style="width: 45%; border: 1px solid black"><input type="radio" name="BV_SID_<@col 10>" id="can_<@col 6>" onClick="updateButtons()" value="<@col 6>"<@if ($results{'BV_SID_'.$col[10]} eq $col[6])> checked<@/if> />&nbsp;
&nbsp;<@if ($col[9] ne '999')><a href="javascript:showCandidateInfo(<@col 9>)"><@col 7></a><@else><@col 7><@/if> <@col 8></td>
</tr>
<@/loop>
</table>

<table width="100%" cellpadding="8" align="center" id="buttonbar">
<tr>
<td align="center"><input type="button" style="width: 280px" id="sac_button" value="Save and Continue" onClick="this.form.action = '/[[[RESULTS ballot_next_page]]]'; checkAndSubmit(this.form)" /></td>
<td align="center"><input type="button" style="width: 255px" id="sar_button" value="Save and Return to Main Menu" onClick="this.form.action = '/ballot_main'; checkAndSubmit(this.form)" /></td>
<td align="center"><input type="button" style="width: 125px" value="Exit without Saving" onClick="window.location.href = '/ballot_main&msg=noch';" /></td>
</tr>
</table>

<script language="JavaScript">

function updateButtons() {

	var f = document.form1;
	var total_votes = 0;
	
	for (inp = 1; inp <= [[[RESULTS ballot_contest_count]]]; inp++)
		for (i=0; i<f['BV_SID_' + inp].length; i++) {
			if (f['BV_SID_' + inp][i].checked) {
				total_votes++;
			}
		}

	
	var sac = document.getElementById('sac_button');
	var sar = document.getElementById('sar_button');
	
	sac.value = 'Save ' + total_votes + ' Vote(s) and Continue';
	sar.value = 'Save ' + total_votes + ' Vote(s) and Return to Main Menu';

}

function checkAndSubmit(f) {

	var votes = new Object;
	var total_votes = 0;
	
	var error = '';
	
	for (inp = 1; inp <= [[[RESULTS ballot_contest_count]]]; inp++)
		for (i=0; i<f['BV_SID_' + inp].length; i++) {
			if (f['BV_SID_' + inp][i].checked) {
				total_votes++;
			}
		}

	if (error == '' && total_votes < [[[RESULTS ballot_contest_count]]] && !confirm('You have not voted in all available contests.\n\nAre you sure you want to continue?')) {
		error = 'C';
	}
	
	if (error != '') {
		if (error == 'C') {
			error = '';
		} else {
			error = error + '\n\n';
			error = error + 'Please correct your vote and try again.';
			alert(error);
		}
	} else {
		f.submit();
	}
}

function clearVote(inp1,inp2) {
	var i1 = document.getElementById(inp1);
	var i2 = document.getElementById(inp2);
	if (i1.checked) i1.checked = false;
	if (i2.checked) i2.checked = false;
	updateButtons();
}

function showCandidateInfo(memid) {
	var canwin = window.open('/ballot_candidate&mem='+memid,'','scrollbars=yes,menubar=yes,height=400,width=670,resizable=yes,toolbar=no,location=no,status=no');
}

updateButtons();

</script>
