[[[insert file "ballot_progress"]]]

<h1>4: Voting for Regional Delegates</h1>

<p>Choose one region and vote in any or all of the contests within that region. Please remember to save your votes.</p>

<p>Click on a region to begin voting, or click <a href="/ballot_rdlist" target="_blank">here</a> to see a complete listing of regional candidates.</p>

<table cellpadding="4" cellspacing="4" border="0" align="center">
<@loop "subcontests">
<tr>
[[[@if ($results{'previous_rd_subcat'} && $col[1] ne $results{'previous_rd_subcat'})]]]
<td><a href="/ballot_rd_<@col 1>" onClick="return warnOverwrite()"><@col 2></a>&nbsp;&nbsp;(<@col 3> contest<@if ($col[3] > 1)>s<@/if><@col 6>)</td>
[[[@else]]]
<td><a href="/ballot_rd_<@col 1>"><@col 2></a>&nbsp;&nbsp;(<@col 3> contest<@if ($col[3] > 1)>s<@/if><@col 6>)</td>
[[[@endif]]]
</tr>
<@if ($col[4] ne '')>
<tr>
<td style="padding-top: 0px; padding-left: 32px"><@col 4></td>
</tr>
<@/if>
<@/loop>
<tr>
<td><table width="100%" cellpadding="8">
<tr>
<td><input type="button" style="width: 180px" value="Continue with Next Section" onClick="window.location.href='/[[[RESULTS ballot_next_page]]]';" /></td>
<td><input type="button" style="width: 180px" value="Return to Main Menu" onClick="window.location.href='/ballot_main';" /></td>
<@if ($results{'vote_complete'} > 0)>
<td><input type="button" style="width: 180px" value="Review Voting Summary" onClick="window.location.href='/ballot_summary';" /></td>
<@/if>
</tr>
</table></td>
</tr>
</table>
<script language="JavaScript">

function warnOverwrite() {

	return confirm('Please note: You have already voted in the elections for a different region ([[[RESULTS previous_rd_subcat_desc]]]).\n\nYou may vote in only one region.  If you continue with voting in this region, you will  replace your previous votes with any votes you save in this region.\n\nClick OK to vote in this region or Cancel to remain on this page.');

}

</script>
