[[[insert file "ballot_progress"]]]

<h2>Regional Delegate Contests</h2>
<p>You may vote in any or all of the contests in this region. After you have marked your choices, please save your votes to your voting summary by clicking on one of the Save buttons at the bottom of the page.</p>
<h3 style="display: inline">[[[RESULTS ballot_group_name]]]</h3>&nbsp;&nbsp;([[[RESULTS ballot_group_contests]]])
<p>[[[RESULTS ballot_group_states]]]</p>

<form action="/[[[RESULTS ballot_next_page]]]" method="POST" name="form1" style="margin: 0px">
<input type="hidden" name="function" value="record_vote" />
<input type="hidden" name="cols" value="[[[RESULTS ballot_cols_on_page]]]" />
<table cellpadding="8" cellspacing="16" border="0" align="center">
<@loop "contests">
<@if ($rownum > 1)>
<tr><td colspan="3"><hr></td></tr>
<@/if>

<tr>
<td style="width: 45%; border: 1px solid black"><input type="radio" onClick="updateButtons()" name="BV_RD1_<@rownum>" id="can_<@col 1>" value="<@col 1>"<@if ($results{'BV_RD1_'.$rownum} eq $col[1])> checked<@/if> />&nbsp;
&nbsp;<@if ($col[4] ne '999')><a href="javascript:showCandidateInfo('<@col 4>')"><@col 2></a><@else><@col 2><@/if> <@col 3></td>
<td width="5%"><a href="javascript:clearVote('can_<@col 1>','can_<@col 6>')">clear<br>vote</a></td>
<td style="width: 45%; border: 1px solid black"><input type="radio" onClick="updateButtons()" name="BV_RD1_<@rownum>" id="can_<@col 6>" value="<@col 6>"<@if ($results{'BV_RD1_'.$rownum} eq $col[6])> checked<@/if> />&nbsp;
&nbsp;<@if ($col[9] ne '999')><a href="javascript:showCandidateInfo('<@col 9>')"><@col 7></a><@else><@col 7><@/if> <@col 8></td>
</tr>
<@/loop>
</table>
<table cellpadding="8" cellspacing="0" border="0" align="center">
<tr>
<td><input type="button" style="width: 210px" id="sac_button" value="Save and Continue" onClick="this.form.action = '/[[[RESULTS ballot_next_page]]]'; checkAndSubmit(this.form)" /></td>
<td><input type="button" style="width: 325px" id="sar_button" value="Save and Return to Regional Delegate Menu" onClick="this.form.action = '/ballot_rd'; checkAndSubmit(this.form)" /></td>
<td><input type="button" style="width: 125px" value="Exit without Saving" onClick="window.location.href = '/ballot_rd&msg=noch';" /></td>
</tr>
</table>


<script language="JavaScript">

function updateButtons() {

	var f = document.form1;
	var total_votes = 0;
	
	for (inp = 1; inp <= 8; inp++)
		if (f['BV_RD1_' + inp]) 
			for (i=0; i<f['BV_RD1_' + inp].length; i++) {
				if (f['BV_RD1_' + inp][i].checked) {
					total_votes++;
				}
			}
	
	var sac = document.getElementById('sac_button');
	var sar = document.getElementById('sar_button');
	
	sac.value = 'Save ' + total_votes + ' Vote(s) and Continue';
	sar.value = 'Save ' + total_votes + ' Vote(s) and Return to Regional Delegate Menu';

}

function checkAndSubmit(f) {

	var votes = new Object;
	var total_votes = 0;
	
	var error = '';
	
	for (inp = 1; inp <= 8; inp++)
		if (f['BV_RD1_' + inp]) 
			for (i=0; i<f['BV_RD1_' + inp].length; i++) {
				if (f['BV_RD1_' + inp][i].checked) {
					total_votes++;
				}
			}

	if (error == '' && total_votes < [[[RESULTS ballot_contest_count]]] && !confirm('You have not voted in all available contests.\n\nAre you sure you want to continue?\n\nClick OK to continue or Cancel to change your vote(s).')) {
		error = 'C';
	}
	
	if (error != '') {
		if (error == 'C') {
			error = '';
		} else {
			error = error + '\n\n';
			error = error + 'Please correct your vote and try again.';
			alert(error);
		}
	} else {
		f.submit();
	}
}

function clearVote(inp1,inp2) {
	var i1 = document.getElementById(inp1);
	var i2 = document.getElementById(inp2);
	if (i1.checked) i1.checked = false;
	if (i2.checked) i2.checked = false;
	updateButtons();
}

function showCandidateInfo(memid) {
	var canwin = window.open('/ballot_candidate&mem='+memid,'','scrollbars=yes,menubar=yes,height=400,width=670,resizable=yes,toolbar=no,location=no,status=no');
}

updateButtons();

</script>
