[[[insert file "ballot_progress"]]]

<h1>5: Division Executive Committee Elections</h1>

<p>The MLA’s 88 divisions are grouped in 12 categories.  <b>You may vote in at most 5 division executive committee contests</b>.  Unless otherwise indicated, the term of those elected will be five years (13 January 2014 through the close of the 2019 convention).  Click <a href="/danddg" target="_blank">here</a> to see the current listing of executive committees and their members.</p>

<p>After you have marked your choices, please save your votes to your voting summary by clicking on one of the Save buttons at the bottom of the page.</p>


<form action="/[[[RESULTS ballot_next_page]]]" method="POST" name="form1" style="margin: 0px">
<input type="hidden" name="function" value="record_vote" />
<input type="hidden" name="cols" value="[[[RESULTS ballot_cols_on_page]]]" />
<input type="hidden" name="BV_DECE_1" value="" />
<input type="hidden" name="BV_DECE_2" value="" />
<input type="hidden" name="BV_DECE_3" value="" />
<input type="hidden" name="BV_DECE_4" value="" />
<input type="hidden" name="BV_DECE_5" value="" />

<@loop "contests">
<@if ($col[11] eq "")>
<@else>
[[[@if ($rownum > 1)]]]
</table>
[[[@endif]]]
<p style="margin: 6px 0px;" id="group_<@col 11>">&nbsp;</p>

<span style="float: left"><b><a href="javascript:toggleCategory('<@col 11>')"><@col 12></a></b>&nbsp;&nbsp;([[[@col 13]]] contests; <span id="count_<@col 11>"></span>)</span>
<div id="jump_<@col 11>" style="float: right; display: none">[[[@if ($col[14] > 0)]]]<a href="javascript:toggleCategory('<@col 14>')">Jump to next category</a>&nbsp;&nbsp;[[[@endif]]]<a href="#buttonbar" onClick="toggleCategory('<@col 11>')">Jump to bottom</a></div>

<table cellpadding="8" cellspacing="16" border="0" align="center" id="contests_<@col 11>" width="100%" style="display: none">

<@/if>
<tr><td colspan="3"><b><@col 5></td></tr>

<tr>
<td style="width: 45%; border: 1px solid black" valign="top"><input type="radio" group="<@col 15>" name="candidate_<@rownum>" onClick="return updateButtons(this)" id="can_<@col 1>" value="<@col 1>"[[[RESULTS checked_<@col 1>]]] />&nbsp;&nbsp;
<@col 2> <@col 3><br /><@col 4>
</td>
<td width="5%"><a href="javascript:clearVote('can_<@col 1>','can_<@col 6>')">clear<br>vote</a></td>
<td style="width: 45%; border: 1px solid black" valign="top"><input type="radio" group="<@col 15>" name="candidate_<@rownum>" onClick="return updateButtons(this)" id="can_<@col 6>" value="<@col 6>"[[[RESULTS checked_<@col 6>]]] />&nbsp;&nbsp;
<@col 7> <@col 8><br /><@col 9>
</td>
</tr>
<tr><td colspan="3"><hr /></td></tr>
<@/loop>
</table>

<table width="100%" cellpadding="8" align="center" id="buttonbar">
<tr>
<td align="center"><input type="button" style="width: 280px" id="sac_button" value="Save and Continue" onClick="this.form.action = '/[[[RESULTS ballot_next_page]]]'; checkAndSubmit(this.form)" /></td>
<td align="center"><input type="button" style="width: 255px" id="sar_button" value="Save and Return to Main Menu" onClick="this.form.action = '/ballot_main'; checkAndSubmit(this.form)" /></td>
<td align="center"><input type="button" style="width: 125px" value="Exit without Saving" onClick="window.location.href = '/ballot_main&msg=noch';" /></td>
</tr>
</table>


<script language="JavaScript">

var inputs = ['BV_DECE_1', 'BV_DECE_2', 'BV_DECE_3', 'BV_DECE_4', 'BV_DECE_5'];

var max_votes = inputs.length;
var last_expanded = '';

function toggleCategory(catid, force) {
	// Show contests_catid, jump_catid and expand_catid appropriately.
	var con = document.getElementById('contests_' + catid);
	var jmp = document.getElementById('jump_' + catid);
	
	if (!force && last_expanded != '' && last_expanded != catid) {
		toggleCategory(last_expanded, 1);
	}
	if (con.style.display == 'none') {
		con.style.display = '';
		jmp.style.display = '';
		last_expanded = catid;
		window.location.hash = 'group_' + catid;
	} else {
		con.style.display = 'none';
		jmp.style.display = 'none';
		last_expanded = '';
	}
}


function updateButtons(inp) {

	var f = document.form1;
	var total_votes = 0;
	var group_votes = {};
	
	[[[@loop "subcontests"]]]
	group_votes['<@col 1>'] = [0, <@col 3>];
	[[[@endloop]]]
	
	for (j=0; j<f.elements.length; j++) {
		if (f.elements[j].name.match(/^candidate/)) {
			if (f.elements[j].checked) {
				group_votes[f.elements[j].getAttribute('group')][0]++;
				total_votes++;
			}
		}
	}
	
	for (var i in group_votes) {
		var theSpan = document.getElementById('count_' + i);
		if (group_votes[i][0] == 0) {
			theSpan.innerHTML = 'no votes';
			theSpan.style.color = 'red';
		}
		if (group_votes[i][0] == 1) {
			theSpan.innerHTML = '1 vote';
			theSpan.style.color = group_votes[i][1] == 1 ? 'green' : 'orange';
		}
		if (group_votes[i][0] > 1) {
			theSpan.innerHTML = group_votes[i][0] + ' votes';
			theSpan.style.color = group_votes[i][1] == group_votes[i][0] ? 'green' : 'orange';
		}
	}
	if (total_votes <= max_votes) {
		var sac = document.getElementById('sac_button');
		var sar = document.getElementById('sar_button');
	
		sac.value = 'Save ' + total_votes + ' Vote(s) and Continue';
		sar.value = 'Save ' + total_votes + ' Vote(s) and Return to Main Menu';
	} else {
		// alert('You may vote in a maximum of ' + max_votes + ' contest' + (max_votes > 1 ? 's' : '') + ' on this page.');
		alert('You have just marked a sixth selection.\n\nPlease remember that you may vote in at most 5 division contests.');
		if (inp) {
			inp.checked = false;
			updateButtons();
		}
		return false;
	}

}

function checkAndSubmit(f) {

	var votes = new Object;
	var total_votes = 0;
	
	var error = '';
	var error_redirect = 0;
	
	for (i=0; i<inputs.length; i++) f[inputs[i]].value = '';

	for (j=0; j<f.elements.length; j++) {
		if (f.elements[j].name.match(/^candidate/)) {
			if (f.elements[j].checked) {
				var theInput = f[inputs[total_votes++]];
				if (theInput) theInput.value = f.elements[j].value;
			}
		}
	}

	if (total_votes > max_votes) {
		if (max_votes > 0) {
			error = 'You may vote in a maximum of ' + max_votes + ' contest' + (max_votes > 1 ? 's' : '') + ' on this page.';
		} else {
			error = 'You have cast the maximum 5 votes in other division categories and are not allowed to cast any additional votes on this page.  If you wish to save votes on this page, please clear one or more of your previous votes.';
			error_redirect = 1;
		}
	}
	
	if (error != '') {
		if (error == 'C') {
			error = '';
		} else {
			if (!error_redirect) error = error + '\n\n';
		}
		if (!error_redirect) {
			error = error + 'Please correct your vote and try again.';
		}
		alert(error);
		if (error_redirect) {
			document.location = '/ballot_dece';
		}
	} else {
		f.submit();
	}
}

function clearVote(inp1,inp2) {
	var i1 = document.getElementById(inp1);
	var i2 = document.getElementById(inp2);
	if (i1.checked) i1.checked = false;
	if (i2.checked) i2.checked = false;
	updateButtons();
}

function UpdateCursorPosition(e){ cX = e.pageX; cY = e.pageY;}
function UpdateCursorPositionDocAll(e){ cX = event.clientX; cY = event.clientY;}
if(document.all) { document.onmousemove = UpdateCursorPositionDocAll; }else { document.onmousemove = UpdateCursorPosition; }

function AssignPosition(d) {
	if(self.pageYOffset) {	
		rX = self.pageXOffset;	rY = self.pageYOffset;	
	}else if(document.documentElement && document.documentElement.scrollTop) {
		rX = document.documentElement.scrollLeft;	rY = document.documentElement.scrollTop;
	}else if(document.body) {	
		rX = document.body.scrollLeft;	rY = document.body.scrollTop;	
	}
	if(document.all) {	cX += rX; 	cY += rY;	}
	d.style.left = (cX+10) + "px";
	d.style.top = (cY+10) + "px";
}

var candidateDiv;

function showCandidateInfo(info) {
	if (info == '') {
		return;
	}
	
	if (candidateDiv && candidateDiv.innerHTML != info) {
		candidateDiv.style.display = 'none';
		document.body.removeChild(candidateDiv);
		candidateDiv = undefined;
	}
	if (candidateDiv) {
		candidateDiv.style.display = 'none';
		document.body.removeChild(candidateDiv);
		candidateDiv = undefined;
	} else {
		candidateDiv = document.createElement('div');
		candidateDiv.style.position = 'absolute';
		candidateDiv.style.display = 'none';
		candidateDiv.style.border = '1px solid black';
		candidateDiv.style.backgroundColor = 'white';
		candidateDiv.style.padding = '5px';
		candidateDiv.innerHTML = info;
		document.body.appendChild(candidateDiv);
		AssignPosition(candidateDiv);
		candidateDiv.style.display = 'block';
	}
}

updateButtons();

</script>
[[[comment]]]

<hr />
<p>(Original page for reference)</p>

<table cellpadding="4" cellspacing="4" border="0" align="center">
<tr>
<td valign="top">
<table cellpadding="4" cellspacing="4" border="0" align="center">
<@loop "subcontests">
<tr>
<td><a href="/ballot_dece_<@col 1>"><@col 2></a>&nbsp;&nbsp;(<@col 3> contest<@if ($col[3] > 1)>s<@/if>;
<@if ($col[4] == $col[3])><span style="display: inline; color: green"><@col 3> votes</span><@/if>
<@if ($col[4] > 0 && $col[4] < $col[3])>
<span style="display: inline; color: orange"><@col 4> vote<@if ($col[4] > 1)>s<@/if></span>
<@/if>
<@if ($col[4] == 0)><span style="display: inline; color: red">no votes</span><@/if>)</td>
</tr>
<@if ($rownum == 6)>
</table>
</td>
<td valign="top">
<table cellpadding="4" cellspacing="4" border="0" align="center">
<@/if>
<@/loop>
</table>
</td>
</tr>
<tr>
<td colspan="2"><table width="100%" cellpadding="8">
<tr>
<td><input type="button" style="width: 180px" value="Continue with Next Section" onClick="window.location.href='/[[[RESULTS ballot_next_page]]]';" /></td>
<td><input type="button" style="width: 180px" value="Return to Main Menu" onClick="window.location.href='/ballot_main';" /></td>
<@if ($results{'vote_complete'} > 0)>
<td><input type="button" style="width: 180px" value="Review Voting Summary" onClick="window.location.href='/ballot_summary';" /></td>
<@/if>
</tr>
</table></td>
</tr>
</table>
[[[endcomment]]]
