<style media="print" type="text/css">
#summarydiv { height: auto; }
#buttondiv { display: none; }
</style>
<style media="screen" type="text/css">
#summarydiv { height: 460px; overflow: auto; }
</style>

<h1>MLA Online Ballot - Summary of Voting</h1>

<p>If you are ready to submit the votes summarized below for tallying, please click on the button labeled Submit Final Vote. To return to the ballot and save additional votes, click on the button labeled Return to Main Menu.</p>

<div style="float: right; text-align: center; margin-left: 16px; padding: 24px; border: 1px solid [[color1]]; background: [[color3]]" id="buttondiv">
<input type="button" value=" Submit Final Vote " onClick="confirmAndSubmit()" /><br /><br />
<input type="button" value=" Return to Main Menu " onClick="window.location.href = '/ballot_main';" />
</div>

<div id="summarydiv">
<h2>1: Voting for Second Vice President</h2>
<p style="padding-left: 32px">
<@if ($results{'BV_SVP_1'} ne '')>
1. [[[RESULTS candidate_<@$results{BV_SVP_1}>]]]<br />
<@/if>
<@if ($results{'BV_SVP_2'} ne '')>
2. [[[RESULTS candidate_<@$results{BV_SVP_2}>]]]<br />
<@/if>
<@if ($results{'BV_SVP_3'} ne '')>
3. [[[RESULTS candidate_<@$results{BV_SVP_3}>]]]<br />
<@/if>
</p>

<h2>2: Voting for Executive Council</h2>
<p style="padding-left: 32px">
<@if ($results{'BV_EC_1'} ne '')>
[[[RESULTS candidate_<@$results{BV_EC_1}>]]]<br />
<@/if>
<@if ($results{'BV_EC_2'} ne '')>
[[[RESULTS candidate_<@$results{BV_EC_2}>]]]<br />
<@/if>
<@if ($results{'BV_EC_3'} ne '')>
[[[RESULTS candidate_<@$results{BV_EC_3}>]]]<br />
<@/if>
</p>

<h2>3: Voting for Special-Interest Delegates</h2>
<p style="padding-left: 32px">
<@loop "sid_candidates">
<@if ($col[1] == 1)>
<@if ($rownum > 1)>
<br />
<@/if>
<b><@col 2></b><br />
<@/if>
<@col 3><br />
<@/loop>
</p>

<h2>4: Voting for Regional Delegates</h2>
<p style="padding-left: 32px">
<@loop "rd_candidates">
<@if ($col[1] == 1)>
<@if ($rownum > 1)>
<br />
<@/if>
<b><@col 2></b><br />
<@/if>
<@col 3><br />
<@/loop>
</p>

<h2>5: Division Executive Committee Elections</h2>
<p style="padding-left: 32px">
<@loop "dece_candidates">
<@if ($col[1] == 1)>
<@if ($rownum > 1)>
<br />
<@/if>
<b><@col 2></b><br />
<@/if>
<@if ($col[3] == 1)>
&nbsp;&nbsp;&nbsp;<b><@col 4></b><br />
<@/if>
&nbsp;&nbsp;&nbsp;<@col 5> <@col 6><br />
<@/loop>
</p>

<h2>6: Discussion Group Executive Committee Elections</h2>
<p style="padding-left: 32px">
<@loop "dgece_candidates">
<@if ($col[1] == 1)>
<@if ($rownum > 1)>
<br />
<@/if>
<b><@col 2></b><br />
<@/if>
&nbsp;&nbsp;&nbsp;<@col 3> <@col 4><br />
<@/loop>
</p>
</div>

<script language="JavaScript">

function confirmAndSubmit() {
	if (confirm('You are about to submit your ballot for tallying. You will not be able to change any of your votes after taking this action.\n\nClick the OK button below if you wish to submit your ballot for tallying.')) {
		window.location.href = '/ballot_thanks&function=save_vote';
	}
}

function showCandidateInfo(memid) {
	var canwin = window.open('/ballot_candidate&mem='+memid,'','scrollbars=yes,menubar=yes,height=400,width=670,resizable=yes,toolbar=no,location=no,status=no');
}

</script>
