<h1>List of All Special-Interest Candidates</h1>


<p><b>Composition, Rhetoric, and Writing</b> (1 contest) <br>Lauren M. Bowen, Michigan Tech Univ. / Stephanie Lynn Kerschbaum, Univ. of Delaware, Newark</p>

<p><b>Continuing and Distance Education</b> (1 contest) <br>Adeline Koh, Richard Stockton Coll. of New Jersey / Elizabeth Mathews Losh, Univ. of California, San Diego</p>

<p><b>Creative Writing</b> (1 contest) <br>Suzanne Matson, Boston Coll. / Susan Wheeler, Princeton Univ.</p>

<p><b>Disabilty Issues</b> (1 contest) <br>Patrick W. Anderson, Univ. of California, San Diego / Leigh Gilmore, Harvard Divinity School</p>

<p><b>Ethnic Studies</b> (3 contests) <br>Channette Romero, Univ. of Georgia / Kirstin L. Squint, High Point Univ. <br> Maryse Jayasuriya, Univ. of Texas, El Paso / Kun Qian, Univ. of Pittsburgh <br> Kendric L. Coleman, Valdosta State Univ. / Karen Shimakawa, New York Univ.</p>

<p><b>Foreign Language Teaching</b> (1 contest) <br>Sébastien Dubreil, Univ. of Tennessee, Knoxville / Isaac Joslin, Univ. of South Dakota</p>

<p><b>Gays and Lesbians in the Profession</b> (1 contest) <br>Héctor Dominguez, Univ. of Texas, Austin / Lawrence M. La Fountain-Stokes, Univ. of Michigan, Ann Arbor</p>

<p><b>Independent Scholars and Alternative Careers</b> (2 contests) <br>Mark E. Szarko, Massachusetts Inst. of Tech. / Patrick Williams, Syracuse Univ. <br>Richard Hardack, Berkeley, CA / F. Bart Miller, Jacksonville, FL</p>

<p><b>Less-Taught Languages</b> (1 contest) <br>Julie K. Allen, Univ. of Wisconsin, Madison / Rebecca Jane Stanton, Barnard Coll.</p>

<p><b>Politics and the Profession</b> (1 contest) <br>Salah D. Hassan, Michigan State Univ. / David G. Kelman, California State Univ., Fullerton</p>

<p><b>Two-Year Colleges</b> (2 contests) <br>Christa Baiada, Borough of Manhattan Community Coll., City Univ. of New York / Valerie Holliday, Baton Rouge Community Coll., LA <br>Ginny Carney, Leech Lake Tribal Coll., MN / Linda Weinhouse, Community Coll. of Baltimore County, Essex Campus, MD</p>

<p><b>Women in the Profession</b> (2 contests) <br>Miriam L. Bailin, Washington Univ. in St. Louis / Angelika Bammer, Emory Univ. <br> Lena Michelle Hill, Univ. of Iowa / Rebecca F. Stern, Univ. of South Carolina, Columbia</p>
