<h1>Ballot Exit Confirmation</h1>

<p>You have not submitted your saved votes for tallying.  If you have not yet finished voting and will return later to complete your ballot, please click the button on the left below.  If you have finished voting and wish to submit your saved votes for tallying, please click the button on the right below.  You will be able to submit your votes from the voting summary screen.</p>


<table width="100%" cellpadding="8">
<tr>
<td><input type="button" value="Exit Now; Return Later to Finish Voting" onClick="window.location.href='/ballot_nominations&from=ballot';" /></td>
<td><input type="button" value="Review Voting Summary" onClick="window.location.href='/ballot_summary';" /></td>
</tr>
</table>
