<h1>Comparison of <i>MLA International Bibliography</i> Distributors </h1>
<br><br>
<table width="90%" border=1 cellspacing="0" cellpadding="5" align="left" height="90%">

			<tr>

				<td width="156"><b>Features</b></td>

				<td><b><a href="http://www.galegroup.com" target="new">Gale LRC with MLAIB</a></b></td>

				<td><b><a href="http://www.galegroup.com" target="new">Gale MLAIB</a></b></td>

				<td><b><a href="http://www.epnet.com" target="new">EBSCO</a></b></td>

<td align="left" valign="top"><b>ProQuest: Chadwyck-Healey Literature Collection</b></td>

<td align="left" valign="top"><b>ProQuest: Literature Online</b></td>



<td><b><a href="http://www.csa.com" target="_blank">CSA</a></b></td>

			</tr>

			<tr>

				<td align="left" valign="top" width="156"><i>MLA Directory of Periodicals</i></td>

				<td align="left" valign="top">Separate search page</td>

				<td align="left" valign="top">Separate search page; see Other
Features below</td>

				<td align="left" valign="top">Separate search page; browseable index</td>

<td align="left" valign="top">Separate search page; browseable index</td>

<td align="left" valign="top">Separate search page; browseable index</td>

				<td align="left" valign="top">
				
			Separate database
				</td></tr>

			<tr>

				<td align="left" valign="top" width="156"><i>MLA Thesaurus</i></td>

				<td align="left" valign="top">Terms; names</td>

				<td align="left" valign="top">Terms; names</td>

				<td align="left" valign="top">Terms; names</td>

<td align="left" valign="top">Terms; names</td>

<td align="left" valign="top">Terms; names</td>


<td align="left" valign="top">
Terms; names
				</td>
			</tr>

			<tr>

				<td align="left" valign="top" width="156"><a href="#expertsearching">Expert Searching</a></td>

				<td align="left" valign="top">No</td>

				<td align="left" valign="top">No</td>
<td align="left" valign="top">Yes</td>
<td>Yes</td>

<td>Yes</td>



<td align="left" valign="top">
				
				Yes
				</td>

			</tr>

			<tr>

				<td align="left" valign="top" width="156">Field-Specific Indexing</td>

				<td align="left" valign="top">Yes, 18 fields, including limiters</td>

				<td align="left" valign="top">Yes, 34 fields, including limiters</td>

<td align="left" valign="top">Yes</td>

<td align="left" valign="top">Yes</td>
				
				<td align="left" valign="top">Yes</td><td align="left" valign="top">
				
			Yes
				</td>

			</tr>

			<tr>

				<td align="left" valign="top" width="156">Browseable Indexes</td>

				<td align="left" valign="top">Yes, 5</td>

				<td align="left" valign="top">Yes, 10</td>

				<td align="left" valign="top">Terms thesaurus; names thesaurus; document authors</td>
<td align="left" valign="top">Yes, for all searchable fields</td>

<td align="left" valign="top">Yes, for all searchable fields</td>

<td align="left" valign="top">
Yes
				</td>

			</tr>

			<tr>

				<td align="left" valign="top" width="156"><a href="#savesearches">Save Searches</a></td>

				<td align="left" valign="top">Bookmark feature with persistent        URLs</td>

				<td align="left" valign="top">Bookmark feature with persistent URLs</td>

				<td align="left" valign="top">Save results per session only; save search command as URL</td>

<td align="left" valign="top">Yes</td>

<td align="left" valign="top">Yes, save search expressions using log-in and password</td>

<td align="left" valign="top">
				
		Yes
				</td>

			</tr>

			<tr>

				<td align="left" valign="top" width="156">Full-Text Links</td>

				<td align="left" valign="top">Yes</td>

				<td align="left" valign="top">Yes</td>

				<td align="left" valign="top">Yes</td>

<td align="left" valign="top">Via outbound OpenURL</td>

<td align="left" valign="top">Yes</td>
	
	<td align="left" valign="top">
				Yes
				</td>
			</tr>

			<tr>

				<td align="left" valign="top" width="156"><a href="#dbspecifichelp">Database-Specific Help</a></td>

				<td align="left" valign="top">Yes</td>

				<td align="left" valign="top">Yes</td>

				<td align="left" valign="top">Yes</td>
				
<td align="left" valign="top">Yes</td>

<td align="left" valign="top">Yes</td>
				
				
				<td align="left" valign="top">
				
				No
				</td>

			</tr>

			<tr>

				<td align="left" valign="top" width="156">Language of Interface</td>

				<td align="left" valign="top">English, Arabic, Chinese (simplified), French, German, Italian, Japanese, Korean, Polish, Portuguese, Russian, Spanish</td>

				<td align="left" valign="top">English, Arabic,
Chinese (simplified),
French, German,
Italian, Japanese,
Korean, Polish,
Portuguese, Russian,
Spanish</td>

				<td align="left" valign="top">English, Spanish, Portuguese, French, Italian, German, Greek, Russian, Korean, Japanese, Chinese (traditional), Chinese (simplified)</td>
				
<td align="left" valign="top">English</td>

<td align="left" valign="top">English</td>

<td align="left" valign="top">English, Spanish, French, Korean, Japanese, Chinese (traditional), Chinese (simplified)
				</td>

			</tr>

			<tr>

				<td align="left" valign="top" width="156"><a href="#emailfeature">E-mail Feature</a></td>

				<td align="left" valign="top">Yes</td>

				<td align="left" valign="top">Yes</td>

				<td align="left" valign="top">Yes</td>
				
	<td align="left" valign="top">Yes</td>

<td align="left" valign="top">Yes</td>
				
				<td align="left" valign="top">
				
				Yes
				</td>

			</tr>

			<tr>

				<td align="left" valign="top" width="156"><a href="#exportfeature">Export Feature</a></td>
				<td align="left" valign="top">Yes</td>

				<td align="left" valign="top">Yes</td>

				<td align="left" valign="top">Yes</td>
<td align="left" valign="top">Yes</td>

<td align="left" valign="top">Yes</td>
				
				<td align="left" valign="top">
				
				<i>RefWorks</i>; <i>QuikBib</i>
				</td>

			</tr>

			<tr>

				<td align="left" valign="top" width="156">Accents & Diacritics (Latin1)</td>

				<td align="left" valign="top">Yes</td>

				<td align="left" valign="top">Yes</td>

				<td align="left" valign="top">Yes</td>
				
<td align="left" valign="top">Yes</td>

<td align="left" valign="top">Yes</td>
				
				<td align="left" valign="top">
				
			Yes
				</td>

			</tr>

			<tr>

				<td align="left" valign="top" width="156">Link to Library Holdings</td>

				<td align="left" valign="top">Yes</td>

				<td align="left" valign="top">Yes</td>

				<td align="left" valign="top">Yes</td>
				
<td align="left" valign="top">Yes</td>

<td align="left" valign="top">Yes</td>
				
				<td align="left" valign="top">
				
		Yes
				</td>

			</tr>

			<tr>

				<td align="left" valign="top" width="156">Limit Results to Peer-Reviewed</td>
				
				<td align="left" valign="top">Yes</td>

				<td align="left" valign="top">Yes</td>

				<td align="left" valign="top">Yes</td>
				
<td align="left" valign="top">Yes</td>

<td align="left" valign="top">Yes</td>


<td align="left" valign="top">
				
	Yes
				</td>
			</tr>

			<tr>

				<td align="left" valign="top" width="156">Limit Results to Full-Text</td>

				<td align="left" valign="top">No</td>

				<td align="left" valign="top">No</td>

				<td align="left" valign="top">Yes</td>
				
<td align="left" valign="top">No</td>

<td align="left" valign="top">Yes</td>
				
				<td align="left" valign="top">
				
No
				</td>

			</tr>

			<tr>

				<td align="left" valign="top" width="156"><a href="#printanddownload">Print and Download Options</a></td>

				<td align="left" valign="top">Yes</td>

				<td align="left" valign="top">Yes</td>

				<td align="left" valign="top">Yes</td>
				
<td align="left" valign="top">Yes</td>

<td align="left" valign="top">Yes</td>
				
				
				<td align="left" valign="top">Yes</td>

			</tr>

			<tr>

				<td align="left" valign="top" width="156"><b>Other Features</b></td>

				<td align="left" valign="top">Cross-searchable with other Gale products in Literature Resources at Gale; easy link out to Gale MLAIB stand-alone; option to narrow by subject, author, publication, or document type on results list; search within results; multiple sort options; linked thesaurus terms displayed on full-citation page; search within cited publication</td>

				<td align="left" valign="top">Search and browse terms and names thesaurus; option to narrow by subject, author, publication, or document type on results list; search within results; multiple sort options; linked thesaurus terms displayed on full-citation page; search within cited publication; link to Directory of Periodicals entry; hyperlinked author names; OpenURL- and Z39.50-compliant; links library holdings, WorldCat, JSTOR (subscription-sensitive), and Project MUSE; ILL links available; Directory of Periodicals has 12 field-specific indexes (6 browseable) and 10 limiters; search within periodical from Directory of Periodicals results; Link to Gale Lit Index</td>

				<td align="left" valign="top">Browseable names thesaurus; browseable terms thesaurus; document authors; save results in personalized session; OpenURL- and Z39.50-compliant; subscription-sensitive links to JSTOR and Project MUSE; local holdings and ability to limit; request ILL; cross-database search</td>

<td align="left" valign="top">Every search field has direct links to scope notes, tips, and browseable index; browseable thesaurus; OpenURL bookmarking; compliant with inbound and outbound OpenURL linking and Z39.50</td>

<td align="left" valign="top">Cross-database search with <I>Literature Online</i>'s primary and secondary materials, including ABELL; every search field has direct links to scope notes, tips, and browseable index; subscription-sensitive links to JSTOR; browseable thesaurus; OpenURL bookmarking; compliant with inbound and outbound OpenURL linking and Z39.50</td>

<td align="left" valign="top">Recent references; Web resources; dynamic deduplication of records in cross-database searches with option to show/hide duplicates</td>

			</tr>

			<tr>

				<td colspan=8 align="left" valign="top"><a name="expertsearching"></a><b>Expert searching</b>: The user can type a complex search statement into a single search box, possibly in Boolean logic, without using pull-down menus, check boxes, etc. This generally requires knowledge of the search syntax, which differs for each distributor. For example, "ti novel AND la spanish" or "ud 200205 or ud 200204."</td>

			</tr>

			<tr>

				<td colspan=8 align="left" valign="top"><a name="savesearches"></a><b>Saving a search</b>: The user can save a search statement, such as "ti novel AND la spanish," usually by associating it with an e-mail address, so the user can run the search again another day.</td>

			</tr>

			<tr>

				<td colspan=8 align="left" valign="top"><a name="dbspecifichelp"></a><b>Database-specific help</b>: Help files that provide information specific to the <i>MLA Bibliography</i> database, such as the meanings of  field tags and subfield tags or examples from the database.</td>

			</tr>

			<tr>

				<td colspan=8 align="left" valign="top"><a name="emailfeature"></a><b>E-mail feature</b>: The user can send the search results in an e-mail message directly from the site (without access to a separate e-mail account).</td>

			</tr>

			<tr>

				<td colspan=8 align="left" valign="top"><a name="exportfeature"></a><b>Export feature</b>: Results can be converted and saved in a format used by a particular software program, such as bibliographic citation management software.</td>

			</tr>

			<tr>

				<td colspan=8 align="left" valign="top"><a name="printanddownload"></a><b>Print and download options</b>: For example, "Full citation," "Brief citation" (selected fields only).
				</td>

			</tr>

		</table>
