<H1>Why Is Searching the Bibliography</i> Better Than Searching <i>Google</i>?</H1>

<ul>
<li>The <I>MLA International Bibliography</i> contains over 2.5 million records that pertain specifically to language and literature.  Material from other disciplines, like biology or political science, is not included.</li>
	<li>The <I>Bibliography</i> provides the most comprehensive listing of scholarly material in language, literature, culture, and folklore, including publications not available on the Web.</li>
	<li>A professional indexing staff and scholars in relevant fields review books, essay collections, journals, bibliographies, and electronic publications to create the most accurate listing possible. </li>
	<li>The materials covered come from reputable publishers in over one hundred countries.</li>
	<li>Indexers use controlled vocabulary as subject headings, enabling more precise searches than user-chosen keywords would allow.</li>
	<li>Each citation contains the information users need to create a bibliography as part of a research project.</li>
	<li>Users who have questions or need assistance can write or call the MLA Monday through Friday, 9:00 a.m. to 5:00 p.m., at <a href="mailto:bibliography@mla.org">bibliography@mla.org</a> or 646 576-5053.</li>
</ul>
