<h1>JSTOR and the Bibliography</h1>
Created in the mid-1990s, JSTOR is an electronic archive of the most important journals in academia. The full texts of thousands of articles published in the last hundred years in many fields of study are available to library subscribers through JSTOR. For more information, go to <A HREF="http://www.jstor.org/" target="new">http://www.jstor.org</A>.

In October 2001, members of the <I>MLA International Bibliography</I> staff began indexing articles in JSTOR's language and literature collection, using the <I>Bibliography</I>'<I></I>s CIFT classification system. Adding subject access to the full text allows JSTOR users to search its content more effectively. The MLA began to include JSTOR indexing and links in its electronic <I>Bibliography</I> products in April 2003. In libraries that subscribe to JSTOR, users can seamlessly go from citations in the electronic <I>Bibliography</I> to the electronic full text. The MLA also linked hundreds of previously indexed titles not included in the language and literature collection. This project is ongoing as JSTOR adds more full text.

In 2006 the <I>Bibliography</I> staff began indexing relevant language and literature articles from the Asian studies collection. Additionally, in the newly digitized 1926-62 print volumes of the <I>Bibliography</I>, records for articles available as full text in JSTOR now include links.

The journals in JSTOR's language and literature collection (and their start dates) include
<I>African American Review</I> (1992)
<I>African Languages and Cultures</I> (1988)
<I>Alif: Journal of Comparative Poetics</I> (1981)
<I>American Literary History</I> (1989)
<I>American Literature</I> (1929)
<I>American Speech</I> (1925)
<I>Black American Literature Forum</I> (1976)
<I>Boundary 2</I> (1972)
<I>Callaloo</I> (1976)
<I>Chinese Literature: Essays, Articles, Reviews</I> (1979)
<I>College Composition and Communication </I>(1950)
<I>College English</I> (1939)
<I>Comparative Literature</I> (1949) 
<I>Contemporary  Literature</i> (1968)
<I>Critical Inquiry</i> (1974)
<I>Cultural Critique</I> (1985)
<I>Diacritics</I> (1971)
<I>ELH</I> (1934)
<I> Feminist Studies</i> (1972)
<I>French Review</I> (1927)
<I>German Quarterly</I> (1928)
<I>Hispania</I> (1917)
<I>Hispanic Review</I> (1933)
<I>Italica</I> (1926)
<I>Journal of African Cultural Studies</I> (1998)
<I>Journal of the Association of Teachers of Japanese</I> (1963)
<I>Journal of the Midwest Modern Language Association</i> (1984)
<I>Language </I>(1925)
<I>MELUS</I> (1974)
<I>MLN </I>(1962)
<I>Modern Language Journal</I> (1916)
<I>Modern Language Notes</I> (1886)
<I>Modern Language Studies</I> (1971)
<I>Modern Philology</I> (1903)
<I>Negro American Literature Forum</I> (1967)
<I>New England Quarterly</I> (1928)
<I>New German Critique</I> (1973)
<I>New Literary History</I> (1969)
<I>Nineteenth-Century Fiction</I> (1949)
<I>Nineteenth-Century Literature</I> (1986)
<I>Novel: A Forum on Fiction</I> (1967)
<I>Pacific Coast Philology</I> (1966)
<I>PMLA</I> (1889)
<I>Poetics Today</I> (1979)
<I>Renaissance News</I> (1948)
<I>Renaissance Quarterly</I> (1967)
<I>Representations</I> (1983)
<I>Review of English Studies</I> (1925)
<I>Rhetoric Review</I> (1982)
<I>Rocky Mountain Review of Language and Literature</I> (1975)
<I>SEL: Studies in English Literature, 1500-1900</I> (1961)
<I>Shakespeare Quarterly</I> (1950)
<I>Signs</I> (1975)
<I>Social Text</I> (1979)
<I>South Atlantic Bulletin</I> (1935)
<I>South Atlantic Review</I> (1981)
<I>South Central Bulletin</I> (1940)
<I>South Central Review</I> (1984)
<I>Speculum </I>(1926)
<I>Studies in the Renaissance</I> (1954)
<I>Transactions and Proceedings of the Modern Language Association of America</I> (1886)
<I>Transactions of the Modern Language Association of America</I> (1884)
<I>Transition </I>(1961)
<I>Trollopian</I> (1945)
<I>Tulsa Studies in Women's Literature</I> (1982)
<I>Twentieth Century Literature</I> (1955)
<I>Yale French Studies</I> (1948)

<!--In 2006, Bibliography staff will be indexing relevant language and literature articles from the Asian Studies collection. Additionally, with the digitization of our 1926-1962 print volumes, all articles with JSTOR full text will include links, the expected completion date to this phase is mid-2007.-->
