<h1>About the <i>Directory of Periodicals</i></h1>
The <I>MLA Directory of Periodicals</I> contains information on over 6,000 journals and book series that fall within the scope of the <I>MLA International Bibliography</I>. This information has been gathered by the MLA staff with the cooperation of MLA bibliographers and the editors represented in the listings. The entries list editorial addresses, phone numbers, fax numbers, e-mail addresses, frequency of publication, descriptions of scope, circulation figures, subscription prices and addresses, advertising information, links to online content, peer review, and submission guidelines. The directory also provides statistics on  the number of articles and book reviews published each year, as well as how many are submitted. 

<h2>Scope</h2> 
Any regularly published print or electronic journal available to libraries or universities that regularly includes articles on language, linguistics, literature, folklore, pedagogy, or film is eligible for inclusion in the directory. Any series that publishes books on language, linguistics, folklore, pedagogy, or film, regardless of the frequency of the series, is also eligible. Editors of journals or series not currently included in the directory are invited to send a sample copy of the journal or series, or the URL if the periodical is published only in electronic form, to the editor at Directory of Periodicals, Modern Language Association, 26 Broadway, 3rd floor, New York, NY 10004-1789; <a href="mailto:periodicals@mla.org">periodicals@mla.org</a>.

<h2>Acronyms, ISSNs</h2> 
Journal and series acronyms are those used in the <I>MLA International Bibliography</I>. International Standard Serial Numbers (ISSNs) and Electronic International Standard Serial Numbers (EISSNs) are included when they are known. 

<h2>Editorial Information </h2>
For those publications that have not supplied an editorial address, the subscription address has been substituted. When multiple editors are listed, the editorial address is that of the first editor, but if other editorial addresses have been supplied, they are included as additional editorial addresses. The scope of a journal or series has been taken from the wording supplied in the journal or series, by the editors, or by the directory editor. 

<h2>Subscription Information</h2> 
Subscription rates have been quoted as provided by the editor. No attempt has been made to express foreign-currency prices in United States equivalents, but if the editor has supplied both the foreign-currency and the United States–currency price, the United States–currency price is noted. 

<h2>Submission Requirements</h2> 
Information on the time it takes to make publication decisions or the number of times manuscripts are read is based on the estimate provided by the editors. Where noted, authors submitting manuscripts are advised to enclose a self-addressed envelope with sufficient postage for return of manuscripts. 

<h2>Availability </h2>
The directory is available in electronic format at no charge to institutional subscribers of the <I>MLA International Bibliography</I> who subscribe through all vendors. The <I>MLA Directory of Periodicals</I> is also available to MLA members through the MLA Web site. Nonmembers are encouraged to use the <a href="http://www.jisc-adat.com/adat/home.pl">JISC Academic Database Assessment Tool</a> to view a list of periodicals included in the file. 
