<h1>How to Reach the MLA Office of Bibliographic Information Services</h1>
For general information, write or call the office (646 576-5053; <a href="mailto:bibliography@mla.org">bibliography@mla.org</a>).

For information on periodicals, write or call the editor, Directory of Periodicals (646 576-5085; <a href="mailto:periodicals@mla.org">periodicals@mla.org</a>).

The editor of the <i>MLA International Bibliography</i> is Barbara Chen (646 576-5076; <a href="mailto:bchen@mla.org">bchen@mla.org</a>).
<blockquote>
Bibliographic Information Services
Modern Language Association
26 Broadway, 3rd floor
New York, NY 10004-1789
Fax: 646 576-5175
</blockquote>
