<h1>MLA Field Bibliographers</h1>
<h2>Description</h2>
The <i>MLA Bibliography</i> is compiled by MLA staff members with the assistance of volunteer specialists in various subject fields. Bibliographers are grouped together in sections according to their area of scholarly expertise, and their work is coordinated either by a section head (a senior bibliographer in the field) or by an index editor from the MLA staff. Bibliographers describe scholarly publications so that bibliography users interested in a given topic will be led to relevant source documents.  Describing particular documents will involve both identifying the facts of their publication (providing bibliographical citations) and defining their subject content and form.<br>
<br>
Field bibliographers may assume responsibility for at least five periodicals&mdash;or enough to yield a total of at least a hundred citations per year&mdash;or they may elect to join the Festschriften and Analyzed Collections section and cover the various types of collected essays. Bibliographers must have regular access to the material they cover, since the MLA does not include references to material that has not been examined.<br>
<br>
Bibliographers are not paid for their work. On request, their dean, department head, or supervisor is informed of their contribution. All bibliographers are listed on the MLA Web site. Bibliographers may also apply for an <i>MLA Bibliography</i> Fellowship (<a href="/mla_bibliography_fel">www.mla.org/mla_bibliography_fel</a href>).<br>
<br>
Bibliographers may submit their work in electronic or print format. While submission of material through the MLA's form on the MLA's Web site is preferred, it is also possible to submit by sending a disk or an e-mail attachment. For submission by printed format the MLA provides preprinted worksheets on which the material must be typed, or bibliographers may duplicate the relevant elements of the worksheets on a word processor, print the forms, and send them through regular mail. All submitted material is edited and entered into the bibliography's database.<br>
<br>
Bibliographers are trained individually. Training starts with several telephone sessions to introduce each bibliographer to MLA indexing practices. Additionally, bibliographers are encouraged to meet with the editor, Barbara Chen, at the MLA Annual Convention; at one of the American Library Association semiannual conventions; or, if the bibliographer is located in the tristate area, at the MLA headquarters office in New York City. If a bibliographer is not able to meet the editor in person, he or she can correspond with the field bibliographer training manager by e-mail. Indexing of the <i>MLA Bibliography</i> requires the bibliographer to assign descriptive terms in a consistent structure and adhere to a standard citation format. Bibliographers are encouraged to include brief summaries of each work indexed so that the index editors can represent the indexed documents accurately and comprehensively.<br>
<br>
Bibliographers have three deadlines throughout the year, dates that are coordinated with the major electronic updates of the <i>MLA Bibliography</i>. Citations can be submitted at any time throughout the year since the electronic version is updated regularly.<br>
<br>
Bibliographers must be MLA members. They are appointed by the executive director of the MLA.<br>
<br>
<a name="reasonstoindex"> </a><h2>Reasons to Become an MLA Field Bibliographer</h2>
The Advisory Committee on the <i>MLA International Bibliography</i>, at its annual meeting on 20-21 October 2005, discussed the essential value of the work done by field bibliographers and the prevalent misunderstandings and confusion regarding indexing. The committee resolved to summarize the many reasons for becoming a bibliographer.<br>
<br>
<b>1. Service to the profession&mdash;students, scholars, teachers, and researchers.</b><br>
<br>
Indexing for the <i>MLA Bibliography</i> allows one to contribute to literary scholarship by ensuring that important texts are accessible to present and future scholars.<br>
<br>
<b>2. Deepened knowledge of a specialty.</b><br>
<br>
Bibliographers have the opportunity to read publications in their fields regularly, allowing them to keep aware of current interests, trends, and scholarship.<br>
<br>
<b>3. Exposure to new areas of inquiry.</b><br>
<br>
Indexing forces bibliographers to broaden the scope of their knowledge. It educates them on new topics, which later become part of their teaching and their curriculum decisions.<br>
<br>
<b>4. Sharpening of research skills through notation and classification.</b><br>
<br>
Bibliographers gain invaluable insights into using libraries, the <i>MLA Bibliography</i>, and other scholarly resources, insights that would be difficult to achieve any other way.<br>
<br>
<b>5. Institutional recognition.</b><br>
<br>
A yearly letter from the MLA to an administrator at the bibliographer's institution underlines the value of the work being performed and the scholarly skills required by the job. This record of service may prove useful during promotion and tenure reviews.<br>
<br>
<h2>How to Become an MLA Field Bibliographer</h2>
Faculty members, independent scholars, librarians, and graduate students are welcome to contribute to the <i>MLA Bibliography.</i>  Through their contributions to the bibliography, they provide an important service both to individual scholars and to the international scholarly community.  If you are interested in becoming a bibliographer, please send a letter indicating the area you would like to work in along with your résumé to the address below.<br>
<blockquote> 
Barbara Chen, Editor<br>
<i>MLA International Bibliography</i><br>
26 Broadway, 3rd floor<br>
New York, NY 10004-1789<br>
bchen@mla.org<br>
</blockquote>
<a name="contributors"> </a><br>
<h2>Contributors to the Bibliography for 2012</h2>

<table border="0" cellpadding="0" cellspacing="0">
	<tr valign="top">
		<td width="100%" colspan="3">
			<b>Distinguished Bibliographers</b>
			<img src="/IMAGES/clear.gif" width="1" height="6" alt=""><br>
			Distinguished bibliographers are those who have contributed continuously for more than twenty years.<br>
		</td>
	</tr>
	<tr valign="top"><td width="100%" colspan="3">&nbsp;</td></tr>
	<tr valign="top">
		<td width="45%">
•&nbsp;Detlev Blanke<br/>
•&nbsp;Russell Burrows<br/>
•&nbsp;Faye Christenberry <br/>
•&nbsp;<a href="http://faculty.utah.edu/u0035090-ANN_ENGAR/biography/index.hml" target="_blank">Ann Willardson Engar</a><br/>
•&nbsp;Joe K. Fugate<br/>
•&nbsp;James L. Harner<br/>
•&nbsp;John M. Jeep<br/>
•&nbsp;Thomas W. Juntune<br/>
•&nbsp;James Keller<br>
		</td>
		<td width="10%">&nbsp;</td>
		<td width="45%">
•&nbsp;<a href="http://www.umass.edu/german/people/profiles/JamesKelly.html" target="_blank">James R. Kelly</a><br/>
•&nbsp;Michael Markiw<br/>
•&nbsp;Diana T. Mériz<br/>
•&nbsp;Avis Kuwahara Payne<br/>
•&nbsp;Rosa E. Penna<br/>
•&nbsp;Duane Rhoades<br/>
•&nbsp;Humphrey Tonkin <br/>
•&nbsp;Phillip J. Wolfe<br>
		</td>
	</tr>
	<tr>
		<td width="45%"><img src="/IMAGES/clear.gif" width="150" height="24" alt=""></td>
		<td width="10%"><img src="/IMAGES/clear.gif" width="40" height="24" alt=""></td>
		<td width="45%"><img src="/IMAGES/clear.gif" width="150" height="24" alt=""></td>
	</tr>
	<tr valign="top">
		<td width="100%" colspan="3">
			<b>Senior Bibliographers</b>
			<img src="/IMAGES/clear.gif" width="1" height="6" alt=""><br>
			Senior bibliographers are those who have contributed continuously for more than ten years.<br>
		</td>
	</tr>
	<tr valign="top"><td width="100%" colspan="3">&nbsp;</td></tr>
	<tr valign="top">
		<td width="45%">
•&nbsp;Barbara F. Allen<br/>
•&nbsp;<a href="http://www.rebeccababcock.com" target="_blank">Rebecca Day Babcock</a><br/>
•&nbsp;Neal Baker<br/>
•&nbsp;Helena Calogeridis<br/>
•&nbsp;Steven J. Daniell<br/>
•&nbsp;Laura Fuderer <br/>
•&nbsp;Mark Groundland<br/>
•&nbsp;Lila M. Harper<br>
		</td>
		<td width="10%">&nbsp;</td>
		<td width="45%">
•&nbsp;Marla Harris<br/>
•&nbsp;Lanae Isaacson<br/>
•&nbsp;<a href="http://www.utoronto.ca/jacyk/Ksenia%20Profile.htm" target="_blank">Ksenya Kiebuzinski</a><br/>
•&nbsp;Eric Leuschner<br/>
•&nbsp;Eduardo Lolo<br/>
•&nbsp;Jana Papcunová<br/>
•&nbsp;Paul Videsott<br>
		</td>
	</tr>
	<tr>
		<td width="45%"><img src="/IMAGES/clear.gif" width="150" height="24" alt=""></td>
		<td width="10%"><img src="/IMAGES/clear.gif" width="40" height="24" alt=""></td>
		<td width="45%"><img src="/IMAGES/clear.gif" width="150" height="24" alt=""></td>
	</tr>
	<tr valign="top">
		<td width="100%" colspan="3"><b>Field Bibliographers</b></td>
	</tr>
	<tr valign="top"><td width="100%" colspan="3">&nbsp;</td></tr>
	<tr valign="top"><td width="45%">
•&nbsp;<a href="http://pehlablog-zafaryaab.blogspot.com/" target="_blank">Zafar Ahmed</a><br/>
•&nbsp;Yubraj Aryal<br/>
•&nbsp;Regina M. Beard<br/>
•&nbsp;Mahrya M. Carncross<br/>
•&nbsp;Scott R. Casey<br/>
•&nbsp;<a href="http://slu.academia.edu/LaurenCoker" target="_blank">Lauren G. Coker</a><br/>
•&nbsp;Sigrid A. Cordell<br/>
•&nbsp;Christina M. Czajkoski<br/>
•&nbsp;Natalie E. Dear<br/>
•&nbsp;Christina M. Desai<br/>
•&nbsp;Jean M. Dickinson<br/>
•&nbsp;Pablo Martin Dominguez<br/>
•&nbsp;Joanna Epstein<br/>
•&nbsp;<a href="http://anaphoraliterary.com" target="_blank">Anna Faktorovich</a><br/>
•&nbsp;Andrea M. Falcone<br/>
•&nbsp;Catalina Florescu<br/>
•&nbsp;Isaac García-Guerrero<br/>
•&nbsp;Elizabeth T. Gehrig<br/>
•&nbsp;<a href="http://chanitagoodblatt.com" target="_blank">Chanita R. Goodblatt</a><br/>
•&nbsp;Matthew T. Harrick<br/>
•&nbsp;Alison D. Harvey<br/>
•&nbsp;<a href="http://www.uva.nl/over-de-uva/organisatie/medewerkers/content/j/a/w.h.jansen/w.h.jansen.html" target="_blank">Wim H. Jansen</a><br/>
•&nbsp;<a href="http://www.uprh.edu/zjimenez" target="_blank">Zoé Jiménez-Corretjer</a><br/>
•&nbsp;Diane L. Johnson<br/>
•&nbsp;Kaitlin M. Justin<br/>
•&nbsp;Meri Kuula-Bruun<br/>
•&nbsp;Kathleen N. Lacey<br>
</td>
		<td width="10%">&nbsp;</td>
		<td width="45%" valign="top">
•&nbsp;Charles X. Li<br/>
•&nbsp;January Y. Lim<br/>
•&nbsp;Shirley O. Lua<br/>
•&nbsp;<a href="http://www.melaniemagidow.com/" target="_blank">Melanie Magidow</a><br/>
•&nbsp;Jennifer Z. McClure<br/>
•&nbsp;<a href="http://www.sdstate.edu/profiles/faculty/jason-mcentee.cfm" target="_blank">Jason T. McEntee</a><br/>
•&nbsp;Craig A. Meyer<br/>
•&nbsp;<a href="http://www.english.lsu.edu/English_People/item25030.html" target="_blank">Monica C. Miller</a><br/>
•&nbsp;Sheila A. Monnet<br/>
•&nbsp;Eric César Morales<br/>
•&nbsp;Liam G. Mulroy<br/>
•&nbsp;Kristiina Näyhö<br/>
•&nbsp;Michelle J. Oh<br/>
•&nbsp;<a href="http://www.essex.ac.uk/lifts/staff/profile.aspx?ID=1384" target="_blank">Susan Oliver</a><br/>
•&nbsp;Anka Sollner Perdih<br/>
•&nbsp;Pearlie Mae Peters<br/>
•&nbsp;<a href="http://guides.lib.uiowa.edu/profile.php?uid=3327" target="_blank">Ericka A. Raber</a><br/>
•&nbsp;Guy Shebat<br/>
•&nbsp;Julie R. Teglovic <br/>
•&nbsp;William A. Thompson<br/>
•&nbsp;<a href="http://www.nitt.edu/home/academics/departments/humanities/faculty/sathyaraj/" target="_blank">Sathyaraj Venkatesan</a><br/>
•&nbsp;Brian W. Vetruba<br/>
•&nbsp;Ruth Videsott<br/>
•&nbsp;<a href="http://old.library.jhu.edu/departments/rsc/waterman" target="_blank">Sue Waterman</a><br/>
•&nbsp;Maria C. Willstedt<br/>
•&nbsp;Laura L. Wilson<br/>
•&nbsp;<a href="http://romancelanguages.nd.edu/people/yocum.shtml" target="_blank">Demetrio S. Yocum</a><br/>
		</td>
	</tr>
	<tr>
		<td width="45%"><img src="/IMAGES/clear.gif" width="150" height="24" alt=""></td>
		<td width="10%"><img src="/IMAGES/clear.gif" width="40" height="24" alt=""></td>
		<td width="45%"><img src="/IMAGES/clear.gif" width="150" height="24" alt=""></td>
	</tr>
	<tr valign="top">
		<td width="100%" colspan="3"><b>Assistant Bibliographers</b></td>
	</tr>
	<tr valign="top"><td width="100%" colspan="3">&nbsp;</td></tr>
	<tr valign="top">
		<td width="45%">
•&nbsp;Suzanne M. Barber<br/>
•&nbsp;Jude E. Coulter-Pultz<br/>
•&nbsp;Assefa T. Dibaba<br/>
•&nbsp;Paulina L. Guerrero <br/>
</td>
		<td width="10%">&nbsp;</td>
		<td width="45%">
•&nbsp;Sarah E. Sherren<br/>
•&nbsp;Miriam J. Woods<br/>
•&nbsp;Amber L. Workman<br/>
</td>
	</tr>
</table>
			
