<H1>Electronic Periodicals Indexed, As of 17 January 2008</H1>
<div class="top_indent"><I><a href="http://www.19.bbk.ac.uk/" target="_blank">19: Interdisciplinary Studies in the Long Nineteenth Century</a></i></div>
<div class="top_indent"><I><a href="http://www.49thparallel.bham.ac.uk/" target="_blank">49th Parallel: An Interdisciplinary Journal of North American Studies</a></i></div>
<div class="top_indent"><I><a href="http://www.ambrosebierce.org/journal.html" target="_blank">ABP Journal</a></i></div>
<div class="top_indent"><I><a href="http://wac.colostate.edu/atd/" target="_blank">Across the Disciplines: Interdisciplinary Perspectives on Language, Learning, and Academic Writing</a></i></div>
<div class="top_indent"><I><a href="http://www.humanities.ualberta.ca/agora/" target="_blank">Agora: An Online Graduate Journal</a></i></div>
<div class="top_indent"><I><a href="http://alsic.u-strasbg.fr/" target="_blank">Alsic: Apprentissage des Langues et Systèmes d'Information et de Communication</a></i></div>
<div class="top_indent"><I><a href="http://americanaejournal.hu/" target="_blank">Americana: E-Journal of American Studies in Hungary</a></i></div>
<div class="top_indent"><I><a href="http://www.americanpopularculture.com/journal/" target="_blank">Americana: The Journal of American Popular Culture (1900-present)</a></i></div>
<div class="top_indent"><I><a href="http://www.revue-analyses.org/" target="_blank">Analyses</a></i></div>
<div class="top_indent"><I><a href="http://www.uv.es/anglogermanica/" target="_blank">Anglogermanica Online</a></i></div>
<div class="top_indent"><I><a href="http://www.anthropoetics.ucla.edu/" target="_blank">Anthropoetics: The Journal of Generative Anthropology</a></i></div>
<div class="top_indent"><I><a href="http://scholar.library.miami.edu/anthurium/" target="_blank">Anthurium: A Caribbean Studies Journal</a></i></div>
<div class="top_indent"><I><a href="http://www.chass.utoronto.ca/french/as-sa/" target="_blank">Applied Semiotics/Sémiotique Appliquée</a></i></div>
<div class="top_indent"><I><a href="http://asiatic.iium.edu.my/" target="_blank">Asiatic: IIUM Journal of English Language and Literature</a></i></div>
<div class="top_indent"><I><a href="http://www.revistabarroco.com/" target="_blank">Barroco</a></i></div>
<div class="top_indent"><I><a href="http://etc.dal.ca/belphegor/" target="_blank">Belphégor: Littérature Populaire et Culture Médiatique</a></i></div>
<div class="top_indent"><I><a href="http://www.epress.monash.edu/bc/" target="_blank">Bible and Critical Theory</a></i></div>
<div class="top_indent"><I><a href="http://www.borrowers.uga.edu/" target="_blank">Borrowers and Lenders: The Journal of Shakespeare and Appropriation</a></i></div>
<div class="top_indent"><I><a href="http://www.brightlightsfilm.com/" target="_blank">Bright Lights Film Journal</a></i></div>
<div class="top_indent"><I><a href="http://www.brynmawr.edu/bmrcl/" target="_blank">Bryn Mawr Review of Comparative Literature</a></i></div>
<div class="top_indent"><I><a href="http://orgs.tamu-commerce.edu/BWe/index.htm " target="_blank">BWe: (Basic Writing e-journal)</a></i></div>
<div class="top_indent"><I><a href="http://revel.unice.fr/cnarra/" target="_blank">Cahiers de Narratologie</a></i></div>
<div class="top_indent"><I><a href="http://www.tell.is.ritsumei.ac.jp/callejonline/" target="_blank">CALL-EJ Online</a></i></div>
<div class="top_indent"><I><a href="http://www.cf.ac.uk/encap/corvey/" target="_blank">Cardiff Corvey: Reading the Romantic Text</a></i></div>
<div class="top_indent"><I><a href="http://www2.widener.edu/%7Ecea/forum.htm" target="_blank">CEA Forum</a></i></div>
<div class="top_indent"><I><a href="http://www.cercles.com/" target="_blank">Cercles: Revue Pluridisciplinaire du Monde Anglophone</a></i></div>
<div class="top_indent"><I><a href="http://www.lehman.cuny.edu/ciberletras/" target="_blank">Ciberletras</a></i></div>
<div class="top_indent"><I><a href="http://www.colloquy.monash.edu.au/" target="_blank">Colloquy: Text Theory Critique</a></i></div>
<div class="top_indent"><I><a href="http://www.aber.ac.uk/cla/" target="_blank">Consciousness, Literature and the Arts</a></i></div>
<div class="top_indent"><I><a href="http://www.constructions-online.de/" target="_blank">Constructions</a></i></div>
<div class="top_indent"><I><a href="http://www.ncsu.edu/project/acontracorriente/" target="_blank">Contracorriente: A Journal of Social History and Literature in Latin America</a></i></div>
<div class="top_indent"><I><a href="http://cuentoenred.org/" target="_blank">Cuento en Red: Estudios Sobre la Ficción Breve</a></i></div>
<div class="top_indent"><I><a href="http://eserver.org/clogic/" target="_blank">Cultural Logic: An Electronic Journal of Marxist Theory and Practice</a></i></div>
<div class="top_indent"><I><a href="http://culturemachine.tees.ac.uk/" target="_blank">Culture Machine: Generating Research in Culture and Theory</a></i></div>
<div class="top_indent"><I><a href="http://currents.cwrl.utexas.edu/" target="_blank">Currents in Electronic Literacy</a></i></div>
<div class="top_indent"><I><a href="http://www.ulc.psu.edu/Dangling_Modifier/index.php" target="_blank">Dangling Modifier</a></i></div>
<div class="top_indent"><I><a href="http://www.decimononica.org/" target="_blank">Decimonónica: Journal of Nineteenth Century Hispanic Cultural Production</a></i></div>
<div class="top_indent"><I><a href="http://www.udel.edu/LAS/lasp-derlas.html" target="_blank">Delaware Review of Latin American Studies</a></i></div>
<div class="top_indent"><I><a href="http://www.uoc.edu/digithum/" target="_blank">Digithum: Les Humanitats en l'Era Digital</a></i></div>
<div class="top_indent"><I><a href="http://www.dsq-sds.org/" target="_blank">Disability Studies Quarterly</a></i></div>
<div class="top_indent"><I><a href="http://www.scrc.us.com/discoveries/" target="_blank">Discoveries: Online Publications of the South-Central Renaissance Conference</a></i></div>
<div class="top_indent"><I><a href="http://www.dissidences.org/" target="_blank">Dissidences: Hispanic Journal of Theory and Criticism</a></i></div>
<div class="top_indent"><I><a href="http://www.coh.arizona.edu/divergencias/" target="_blank">Divergencias: Revista de Estudios Lingüísticos y Literarios</a></i></div>
<div class="top_indent"><I><a href="http://www.dramateatro.arts.ve/" target="_blank">Dramateatro Revista Digital</a></i></div>
<div class="top_indent"><I><a href="http://www.eapsu.org/ " target="_blank">EAPSU Online: A Journal of Critical and Creative Work</a></i></div>
<div class="top_indent"><I><a href="http://www.shu.ac.uk/emls/emlshome.html" target="_blank">Early Modern Literary Studies: A Journal of Sixteenth- and Seventeenth-Century English Literature</a></i></div>
<div class="top_indent"><I><a href="http://www.altx.com/ebr/" target="_blank">ebr: The Electronic Book Review</a></i></div>
<div class="top_indent"><I><a href="http://www.ehumanista.ucsb.edu/" target="_blank">eHumanista: Journal of Medieval and Early Modern Iberian Studies</a></i></div>
<div class="top_indent"><I><a href="http://www.citadel.edu/elcid/" target="_blank">El Cid</a></i></div>
<div class="top_indent"><I><a href="http://www.bl.uk/eblj/index.html" target="_blank">Electronic British Library Journal</a></i></div>
<div class="top_indent"><I><a href="http://enculturation.gmu.edu/ " target="_blank">Enculturation: A Journal for Rhetoric, Writing, and Culture</a></i></div>
<div class="top_indent"><I><a href="http://www.enfocarte.com/" target="_blank">Enfocarte.com: Revista de Arte y Cultura</a></i></div>
<div class="top_indent"><I><a href="http://brunel.ac.uk/entertext/" target="_blank">EnterText: An Interactive Interdisciplinary E-Journal for Cultural and Historical Studies and Creative Work</a></i></div>
<div class="top_indent"><I><a href="http://www.e-rea.org/" target="_blank">EREA: Revue d'Etudes Anglophones</a></i></div>
<div class="top_indent"><I><a href="http://www.sharp.arts.gla.ac.uk/" target="_blank">eSharp: Electronic Social Sciences, Humanities, and Arts Review for Postgraduates</a></i></div>
<div class="top_indent"><I><a href="http://www.esoteric.msu.edu/" target="_blank">Esoterica</a></i></div>
<div class="top_indent"><I><a href="http://www.ucm.es/info/especulo/" target="_blank">Espéculo: Revista de Estudios Literarios</a></i></div>
<div class="top_indent"><I><a href="http://www.humboldt.edu/%7Eessays/" target="_blank">Essays in Philosophy: A Biannual Journal</a></i></div>
<div class="top_indent"><I><a href="http://www.estudiosirlandeses.org/" target="_blank">Estudios Irlandeses</a></i></div>
<div class="top_indent"><I><a href="http://www.research.umbc.edu/eol/" target="_blank">Ethnomusicology Online</a></i></div>
<div class="top_indent"><I><a href="http://www.etudes-episteme.org/ee/" target="_blank">Etudes Epistémè</a></i></div>
<div class="top_indent"><I><a href="http://www.everba.org/" target="_blank">Everba</a></i></div>
<div class="top_indent"><I><a href="http://www.thefilmjournal.com/" target="_blank">Film Journal</a></i></div>
<div class="top_indent"><I><a href="http://haldjas.folklore.ee/folklore/" target="_blank">Folklore: Electronic Journal of Folklore</a></i></div>
<div class="top_indent"><I><a href="http://www.foucault-studies.com/" target="_blank">Foucault Studies</a></i></div>
<div class="top_indent"><I><a href="http://ehlt.flinders.edu.au/deptlang/fulgor/index.htm" target="_blank">FULGOR: Flinders University Languages Group Online Review</a></i></div>
<div class="top_indent"><I><a href="http://www.genders.org/" target="_blank">Genders</a></i></div>
<div class="top_indent"><I><a href="http://www.gfl-journal.de/" target="_blank">German as a Foreign Language</a></i></div>
<div class="top_indent"><I><a href="http://www.dickinson.edu/glossen/" target="_blank">Glossen: Eine Internationale Zweisprachige Publikation zu Literatur, Film, und Kunst in den Deutschsprachigen Lãndern nach 1945</a></i></div>
<div class="top_indent"><I><a href="http://www.brown.edu/Departments/Italian_Studies/heliotropia/" target="_blank">Heliotropia: Forum for Boccaccio Research and Interpretation</a></i></div>
<div class="top_indent"><I><a href="http://www.heroicage.org/as.html" target="_blank">Heroic Age: A Journal of Early Medieval Northwestern Europe</a></i></div>
<div class="top_indent"><I><a href="http://www.hin-online.de/" target="_blank">HiN. Alexander von Humboldt im Netz: International Review for Humboldtian Studies/Revista Internacional de Estudios Humboldtianos/Internationale Zeitschrift für Humboldt-Studien</a></i></div>
<div class="top_indent"><I><a href="http://www.panam.edu/dept/modlang/hipertexto/index.htm" target="_blank">Hipertexto</a></i></div>
<div class="top_indent"><I><a href="http://spanport.cla.umn.edu/publications/HispanicIssues/hispanic-issues-online/hiol-main.htm" target="_blank">Hispanic Issues On Line</a></i></div>
<div class="top_indent"><I><a href="http://hjs.ff.cuni.cz/main/hjs.php?page=index_page" target="_blank">Hypermedia Joyce Studies: An Electronic Journal of James Joyce Scholarship</a></i></div>
<div class="top_indent"><I><a href="http://www.imageandnarrative.be/" target="_blank">Image (&) Narrative</a></i></div>
<div class="top_indent"><I><a href="http://www.english.ufl.edu/imagetext/" target="_blank">ImageTexT: Interdisciplinary Comics Studies</a></i></div>
<div class="top_indent"><I><a href="http://ijms.nova.edu/" target="_blank">International Journal of Motorcycle Studies</a></i></div>
<div class="top_indent"><I><a href="http://www.ijsl.stir.ac.uk/" target="_blank">International Journal of Scottish Literature</a></i></div>
<div class="top_indent"><I><a href="http://wwwsshe.murdoch.edu.au/intersections/" target="_blank">Intersections: Gender, History, and Culture in the Asian Context</a></i></div>
<div class="top_indent"><I><a href="http://www.doit.gmu.edu/inventio/" target="_blank">Inventio: Creative Thinking About Learning and Teaching</a></i></div>
<div class="top_indent"><I><a href="http://www.janushead.org/" target="_blank">Janus Head: Journal of Interdisciplinary Studies in Literature, Continental Philosophy, Phenomenological Psychology, and the Arts</a></i></div>
<div class="top_indent"><I><a href="http://www.jostrans.org/" target="_blank">JOSTRANS: The Journal of Specialised Translation</a></i></div>
<div class="top_indent"><I><a href="http://www.eurolinguistix.com/" target="_blank">Journal for EuroLinguistiX</a></i></div>
<div class="top_indent"><I><a href="" target="_blank">Journal of Catalan Studies: Revista Internacional de Catalanística</a></i></div>
<div class="top_indent"><I><a href="http://muse.jhu.edu/journals/journal_of_colonialism_and_colonial_history/" target="_blank">Journal of Colonialism & Colonial History</a></i></div>
<div class="top_indent"><I><a href="http://www.ethnobiomed.com/" target="_blank">Journal of Ethnobiology and Ethnomedicine</a></i></div>
<div class="top_indent"><I><a href="http://www.bridgew.edu/jiws/" target="_blank">Journal of International Women's Studies</a></i></div>
<div class="top_indent"><I><a href="http://www.unomaha.edu/jrf/" target="_blank">Journal of Religion and Film</a></i></div>
<div class="top_indent"><I><a href="http://www.usask.ca/relst/jrpc/" target="_blank">Journal of Religion and Popular Culture</a></i></div>
<div class="top_indent"><I><a href="http://www.rtjournal.org/" target="_blank">Journal of Religion and Theatre</a></i></div>
<div class="top_indent"><I><a href="http://www.slp-aba.com/" target="_blank">Journal of Speech-Language Pathology and Applied Behavior Analysis</a></i></div>
<div class="top_indent"><I><a href="http://social.chass.ncsu.edu/jouvert/" target="_blank">Jouvert: A Journal of Postcolonial Studies</a></i></div>
<div class="top_indent"><I><a href="http://www.thejungiansociety.org/" target="_blank">Jung: The e-Journal of the Jungian Society for Scholarly Study</a></i></div>
<div class="top_indent"><I><a href="http://kairos.technorhetoric.net/" target="_blank">Kairos: A Journal of Rhetoric, Technology, and Pedagogy</a></i></div>
<div class="top_indent"><I><a href="http://www.kbjournal.org/" target="_blank">KB Journal</a></i></div>
<div class="top_indent"><I><a href="http://www.kinokultura.com/" target="_blank">KinoKultura</a></i></div>
<div class="top_indent"><I><a href="http://www.ateneo.edu/kritikakultura" target="_blank">Kritika Kultura</a></i></div>
<div class="top_indent"><I><a href="http://intertheory.org/kritikos" target="_blank">Kritikos: An International and Interdisciplinary Journal of Postmodern Cultural Sound, Text, and Image</a></i></div>
<div class="top_indent"><I><a href="http://www.eoneill.com/library/laconics/index.htm" target="_blank">Laconics</a></i></div>
<div class="top_indent"><I><a href="http://nflrc.hawaii.edu/" target="_blank">Language Documentation & Conservation</a></i></div>
<div class="top_indent"><I><a href="http://llt.msu.edu/" target="_blank">Language Learning & Technology: A Refereed Journal for Second and Foreign Language Educators</a></i></div>
<div class="top_indent"><I><a href="http://www.languageatinternet.de/" target="_blank">Language@Internet</a></i></div>
<div class="top_indent"><I><a href="http://www.jslefanu.com/lefanustudies.html" target="_blank">Le Fanu Studies</a></i></div>
<div class="top_indent"><I><a href="http://parnaseo.uv.es/Lemir/Revista.html" target="_blank">Lemir: Revista Electrónica sobre Literatura Española Medieval y del Renacimiento</a></i></div>
<div class="top_indent"><I><a href="http://www.letramagna.com/" target="_blank">Letra Magna: Revista Eletrônica de Divulgaçao Científica em Língua Portuguesa, Lingüística e Literatura</a></i></div>
<div class="top_indent"><I><a href="http://letrashispanas.unlv.edu/" target="_blank">Letras Hispanas: Revista de Literatura y Cultura</a></i></div>
<div class="top_indent"><I><a href="http://linguaromana.byu.edu/" target="_blank">Lingua Romana: A Journal of French, Italian and Romanian Culture</a></i></div>
<div class="top_indent"><I><a href="http://linguistic-discovery.dartmouth.edu/cgi-bin/WebObjects/Journals.woa/xmlpage/1/issue/" target="_blank">Linguistic Discovery</a></i></div>
<div class="top_indent"><I><a href="http://www.linguistik-online.com/" target="_blank">Linguistik Online</a></i></div>
<div class="top_indent"><I><a href="http://www.literarylondon.org/" target="_blank">Literary London: Interdisciplinary Studies in the Representation of London</a></i></div>
<div class="top_indent"><I><a href="http://www.literature-compass.com/" target="_blank">Literature Compass</a></i></div>
<div class="top_indent"><I><a href="http://lljournal.gc.cuny.edu/" target="_blank">LL Journal</a></i></div>
<div class="top_indent"><I><a href="http://www.marcoele.com/" target="_blank">MarcoELE: Revista de Didáctica</a></i></div>
<div class="top_indent"><I><a href="http://www.sfsu.edu/%7Emedieval/" target="_blank">Medieval Forum</a></i></div>
<div class="top_indent"><I><a href="http://www.modernist.bham.ac.uk/" target="_blank">Modernist Cultures</a></i></div>
<div class="top_indent"><I><a href="http://mtad.humanity.ankara.edu.tr/" target="_blank">Modern Türklük Arastirmalari Dergisi/Journal of Modern Turkish Studies</a></i></div>
<div class="top_indent"><I><a href="http://www.arts.uwa.edu.au/motspluriels/" target="_blank">Mots Pluriels et Grands Thèmes de Notre Temps</a></i></div>
<div class="top_indent"><I><a href="http://www.nobleworld.biz/" target="_blank">Nebula</a></i></div>
<div class="top_indent"><I><a href="http://www.fas.nus.edu.sg/journal/kolam/index.htm" target="_blank">New Kolam: A Mirror of Tamil and Dravidian Culture</a></i></div>
<div class="top_indent"><I><a href="http://www.ncgsjournal.com/" target="_blank">Nineteenth-Century Gender Studies</a></i></div>
<div class="top_indent"><I><a href="http://spruce.flint.umich.edu/%7Eellisjs/journal.html" target="_blank">North American Journal of Welsh Studies</a></i></div>
<div class="top_indent"><I><a href="http://www.novitasroyal.org/" target="_blank">Novitas: Research on Youth and Language</a></i></div>
<div class="top_indent"><I><a href="http://rencesvals.metapress.com/app/home/main.asp?wasp=6efd40fa3a2249518b7beee9c62b5e44/" target="_blank">Olifant: A Publication of the Société Rencesvals, American-Canadian Branch</a></i></div>
<div class="top_indent"><I><a href="http://www.onomasiology.de/" target="_blank">Onomasiology Online</a></i></div>
<div class="top_indent"><I><a href="http://www.oraltradition.org/" target="_blank">Oral Tradition</a></i></div>
<div class="top_indent"><I><a href="http://www.othervoices.org/" target="_blank">Other Voices: A Journal of Critical Thought</a></i></div>
<div class="top_indent"><I><a href="http://www.perspicuitas.uni-essen.de/" target="_blank">Perspicuitas: Internet-Periodicum für Mediaevistische Sprach-, Literatur- und Kulturwissenschaft</a></i></div>
<div class="top_indent"><I><a href="http://www.jasna.org/" target="_blank">Persuasions: The Jane Austen Journal On-Line</a></i></div>
<div class="top_indent"><I><a href="http://www.arts.usyd.edu.au/publications/philament/" target="_blank">Philament</a></i></div>
<div class="top_indent"><I><a href="http://www.phin.de/" target="_blank">PhiN: Philologie im Netz</a></i></div>
<div class="top_indent"><I><a href="http://unixgen.muohio.edu/%7Epoetess/PAJournal/" target="_blank">Poetess Archive Journal</a></i></div>
<div class="top_indent"><I><a href="http://liberalarts.udmercy.edu/pi/" target="_blank">Post Identity</a></i></div>
<div class="top_indent"><I><a href="http://jefferson.village.virginia.edu/pmc/" target="_blank">Postmodern Culture: An Electronic Journal of Interdisciplinary Criticism</a></i></div>
<div class="top_indent"><I><a href="http://www.post-scriptum.org/" target="_blank">Post-Scriptum.org: Revue de Recherche Interdisciplinaire en Textes et Médias</a></i></div>
<div class="top_indent"><I><a href="http://www.clas.ufl.edu/ipsa/journal/" target="_blank">PsyArt: A Journal for the Psychological Study of the Arts</a></i></div>
<div class="top_indent"><I><a href="http://dialnet.unirioja.es/servlet/extrev?codigo=6978" target="_blank">RæL: Revista Electrónica de Lingüística Aplicada</a></i></div>
<div class="top_indent"><I><a href="http://nflrc.hawaii.edu/rfl/" target="_blank">Reading in a Foreign Language</a></i></div>
<div class="top_indent"><I><a href="http://www.readingmatrix.com/journal.html" target="_blank">Reading Matrix: An International Online Journal</a></i></div>
<div class="top_indent"><I><a href="http://reconstruction.eserver.org/" target="_blank">Reconstruction: Studies in Contemporary Culture</a></i></div>
<div class="top_indent"><I><a href="http://www.hull.ac.uk/renforum/" target="_blank">Renaissance Forum: An Electronic Journal of Early Modern Literary and Historical Studies</a></i></div>
<div class="top_indent"><I><a href="http://www.mec.es/redele/revista.shtml" target="_blank">Revista Electrónica de Didáctica del Español como Lengua Extranjera</a></i></div>
<div class="top_indent"><I><a href="http://members.aol.com/efaro26164/revista.html" target="_blank">Revista Filipina: A Quarterly Journal of Hispano-Philippine Literature and Linguistics</a></i></div>
<div class="top_indent"><I><a href="http://www.sg.inter.edu/revista-ciscla/" target="_blank">Revista/Review Interamericana</a></i></div>
<div class="top_indent"><I><a href="http://www.unicaen.fr/mrsh/lisa/" target="_blank">Revue LISA/LISA e-journal</a></i></div>
<div class="top_indent"><I><a href="http://www.rhizomes.net/" target="_blank">Rhizomes: Cultural Studies in Emerging Knowledge</a></i></div>
<div class="top_indent"><I><a href="http://www.rc.umd.edu/praxis/index.html" target="_blank">Romantic Circles Praxis Series</a></i></div>
<div class="top_indent"><I><a href="http://www.ron.umontreal.ca/" target="_blank">Romanticism on the Net: An Electronic Journal Devoted to Romantic Studies</a></i></div>
<div class="top_indent"><I><a href="http://www.barnard.edu/sfonline/" target="_blank">Scholar and Feminist Online</a></i></div>
<div class="top_indent"><I><a href="http://www.scope.nottingham.ac.uk/" target="_blank">Scope: An Online Journal of Film Studies</a></i></div>
<div class="top_indent"><I><a href="http://www.sensesofcinema.com/" target="_blank">Senses of Cinema: An Online Film Journal Devoted to the Serious and Eclectic Discussion of Cinema</a></i></div>
<div class="top_indent"><I><a href="http://www.ingentaconnect.com/" target="_blank">Sign Language & Linguistics</a></i></div>
<div class="top_indent"><I><a href="http://www.utpjournals.com/simile/simile.html" target="_blank">Simile: Studies in Media & Information Literacy Education</a></i></div>
<div class="top_indent"><I><a href="http://www.fmarion.edu/academics/scmlr/" target="_blank">South Carolina Modern Language Review</a></i></div>
<div class="top_indent"><I><a href="http://www.pum.umontreal.ca/revues/surfaces/index.html" target="_blank">Surfaces</a></i></div>
<div class="top_indent"><I><a href="http://www.ifeas.uni-mainz.de/SwaFo/" target="_blank">Swahili Forum</a></i></div>
<div class="top_indent"><I><a href="http://escholarship.library.usyd.edu.au/journals/index.php/SSE" target="_blank">Sydney Studies in English</a></i></div>
<div class="top_indent"><I><a href="http://www.iatefl.org.pl/call/callnl.htm" target="_blank">Teaching English with Technology: A Journal for Teachers of English</a></i></div>
<div class="top_indent"><I><a href="http://www.tesl-ej.org/wordpress/" target="_blank">TESL-EJ: Teaching English as a Second or Foreign Language</a></i></div>
<div class="top_indent"><I><a href="http://www.utoronto.ca/tsq/" target="_blank">Toronto Slavic Quarterly</a></i></div>
<div class="top_indent"><I><a href="http://www.inst.at/trans/index.htm" target="_blank">Trans: Internet-Zeitschrift für Kulturwissenschaften</a></i></div>
<div class="top_indent"><I><a href="http://german.berkeley.edu/transit/" target="_blank">TRANSIT</a></i></div>
<div class="top_indent"><I><a href="http://www.translocutions.com/tsi/twq/" target="_blank">Translation Watch Quarterly</a></i></div>
<div class="top_indent"><I><a href="http://www.linguistics.ucla.edu/faciliti/workpapph/wpp.htm" target="_blank">UCLA Working Papers in Phonetics</a></i></div>
<div class="top_indent"><I><a href="http://ejournals.library.vanderbilt.edu/lusohispanic/index.php" target="_blank">Vanderbilt e-Journal of Luso-Hispanic Studies</a></i></div>
<div class="top_indent"><I><a href="http://www.brocku.ca/cfra/" target="_blank">Voix Plurielles</a></i></div>
<div class="top_indent"><I><a href="http://www.shakespeare-gesellschaft.de/publikationen/seminar" target="_blank">Wissenschaftliches Seminar Online</a></i></div>
<div class="top_indent"><I><a href="http://www.women-in-judaism.com/" target="_blank">Women in Judaism: A Multidisciplinary Journal</a></i></div>
<div class="top_indent"><I><a href="http://extra.shu.ac.uk/wpw/index.html " target="_blank">Working Papers on the Web</a></i></div>
<div class="top_indent"><I><a href="http://www.nottingham.ac.uk/english/working_with_english/" target="_blank">Working with English: Medieval and Modern Language, Literature and Drama</a></i></div>
<div class="top_indent"><I><a href="http://www.writinginstructor.com/" target="_blank">Writing Instructor</a></i></div>
<div class="top_indent"><I><a href="http://www.americanstudies.wayne.edu/xchanges/xchanges.html" target="_blank">Xchanges</a></i></div>
