<h1>Vendors' Guides for Users</h1>
The vendors of the <i>MLA International Bibliography</i> provide specific information about searching for and viewing data on their systems. 

<b>CSA</b>
<a href="http://ts.csa.com/help/index.html" target="_blank">http://ts.csa.com/help/index.html</a>

<b>EBSCO</b>
<a href="http://support.epnet.com/" target="_blank">http://support.epnet.com/</a>

<b>Cengage Learning/Gale</b>
<a href="http://support.gale.com/gale/index.html" target="_blank">http://support.gale.com/gale/index.html</a>

<b>ProQuest</b>
<a href="http://collections.chadwyck.com/infoCentre/mla_demo/mla_demo00.htm" target="_blank">http://collections.chadwyck.com/infoCentre/mla_demo/mla_demo00.htm</a>


< <a href="/howtouse_mlabiblio">Start</a> | <a href="/bibliosample_searches">Continue</a> >
