<h1><i>MLA Bibliography</i> Search-Tutorial Videos</h1>

The <i>MLA International Bibliography</i> is pleased to announce the launch of a new video tutorial series on searching the bibliography. New tutorials will be released every few months. If you have a suggestion for a topic that you'd like to see covered in a tutorial, contact <A href="mailto:bibliography@mla.org">bibliography@mla.org</a>.

Please feel free to link to our tutorials, embed them in your syllabus or LibGuides, and share them with anyone who might find them useful.

Currently available:

<a href="http://www.youtube.com/watch?v=u5VyRDCp_8w" target="_blank">"What Is the <i>MLA International Bibliography</i>?"</a>
<a href="http://www.youtube.com/watch?v=fV4g30BT9BA" target="_blank">"Names as Subjects in the <i>MLA International Bibliography</i> on EBSCO."</a>
<a href="http://www.youtube.com/watch?v=CMZ-HlctyLU" target="_blank">"Names as Subjects in the <i>MLA International Bibliography</i> on ProQuest"</a>
