<h1>Manage Blog Folders</h1>
<form action="/FORM_ACTIONS/blog<@$blog_file_appendix>" method="post" name="form1">
<input type="hidden" name="function" value="update_forum_folders">
<p>
	<font color="red"><b>Caution:</b></font> Do not leave a folder name empty unless you want to delete that folder permanently.
</p>
<table border="0" cellpadding="4" cellspacing="1" width="100%" bgcolor="#999999">
	<tr>
		<td style="color:#ffffff; font-weight:bold;" width="95%">Name</td>
		<td style="color:#ffffff; font-weight:bold;" align="center" width="5%">Default</td>
	</tr>
	<@loop "forums_folders">
	<tr valign="bottom">
		<td style="background-color:<@if ($rownum % 2 == 0)>#f5f5f5<@else>#ffffff<@/if>;">
			<input type="hidden" name="folderid_<@col 1>" value="<@col 1>">
			<input type="hidden" name="foldercreate_<@col 1>" value="<@col 4>">
			<input type="text" name="foldername_<@col 1>" value="<@col 2>" size="45">
		</td>
		<td style="background-color:<@if ($rownum % 2 == 0)>#f5f5f5<@else>#ffffff<@/if>;" align="center">
			<input type="radio" name="folderdefault" value="<@col 1>"<@if ($col[3] eq "D")> checked<@else><@/if>>
		</td>
	</tr>
	<@/loop>
	<tr valign="bottom">
		<td style="background-color:<@if ($rownum % 2 == 0)>#ffffff<@else>#f5f5f5<@/if>;">
			Create new folder:<br>
			<input type="hidden" name="folderid_<@$largestBlogFolderID>" value="<@$largestBlogFolderID>">
			<input type="text" name="foldername_<@$largestBlogFolderID>" value="" size="45">
		</td>
		<td style="background-color:<@if ($rownum % 2 == 0)>#ffffff<@else>#f5f5f5<@/if>;" align="center">
			<input type="radio" name="folderdefault" value="<@$largestBlogFolderID>">
		</td>
	</tr>
</table>
<p>
	<input type="submit" value="Save Folders">
</p>
</form>
