<h1>Bookstore Admin</h1>
<b><A HREF="http://staging.mla.org/cgi-shl/ham.pl">Edit Items</A></b>
To update individual SKU's, enter the password, select the orange box that says "Manage Products", then select the yellow box that says "Edit Products."

<b><A HREF="http://staging.mla.org/cgi-shl/genopts.pl">Update Options File</A></b>
After updating individual SKU's you need to update the "options" file if you have changed pricing information.

<b><A HREF="http://staging.mla.org/cgi-shl/gencats.pl">Update Category Listings</A></b>
When you add new books or modify titles, you need to update category listings.
