<h1>MLA Bookstore Ordering Information</h1>
We accept orders <a href="/store">online</a>. You may also order any MLA title by the following methods:
<h3>Phone</h3>
<blockquote> 
	646 576-5161
</blockquote>
<h3>Fax</h3>
<blockquote> 
	646 576-5160
</blockquote>
<h3>Mail</h3>
<blockquote> 
	Customer Services
	Modern Language Association
	26 Broadway, 3rd floor
	New York, NY 10004-1789
</blockquote>

The MLA accepts <@if ($authorizenet_accept_amex eq "N")>Visa and MasterCard<@else>Visa, MasterCard, Discover, and American Express<@/if>. Domestic Web site orders are charged UPS shipping rates based on the weight of book(s) ordered. If you are faxing or mailing in your order, please include $5.00 for domestic shipping and handling of the first item and $1.00 for each additional item. For shipments to Canada and Mexico, include US$10.00 for the first item and US$1.70 for each additional item. For other countries, include US$14.00 for the first item and US$2.75 for each additional item. Please allow two to four weeks for delivery on orders placed directly from the MLA bookstore.

For faster shipping on orders from the United Kingdom, Continental Europe, Africa, the Middle East, Asia, and Australasia, please place orders through Eurospan.

Eurospan Group 
3 Henrietta Street 
London WC2E 8LU 
United Kingdom 

Trade orders can be placed by telephone, fax, or e-mail: 
Tel: +44 (0) 1767 604972 
Fax: +44 (0) 1767 601640 
E-mail: <a href="mailto:eurospan@turpin-distribution.com ">eurospan@turpin-distribution.com</a> 

Individual orders can be placed using the contact details above or by visiting the Eurospan bookstore online: 
<a href="http://www.eurospanbookstore.com/mla ">www.eurospanbookstore.com/mla</a>

For further information: 
Tel: +44 (0) 207 240 0856 
Fax: +44 (0) 207 379 0609 
E-mail: <a href="mailto:info@eurospangroup.com ">info@eurospangroup.com</a> 

MLA members receive a discount on most MLA publications purchased directly through the MLA bookstore according to the following schedule:
<ul>
<li>1–9 items: 20% off product total
<li>10–19 items: 25% off product total
<li>20 or more items: 30% off product total
<li>Members' discounts are available exclusively for personal purchases submitted by, paid for, and shipped to current members of the MLA. Members' discounts cannot be applied to orders sent on institutional purchase orders.
</ul>
<p><b>MLA Cancellation Policy</b></p>
<ul>
<li>Orders placed directly from the MLA bookstore may not be canceled once they have been shipped.
</ul>
