<b>Vol. 32, No. 1, Fall 2000 </b>
<h1>A Translation and Interpreting Primer for Foreign Language PhDs</h1>
<h2 class="byline">ANDREW STEVEN GORDON</h2>
THOSE of us in foreign language higher education should lament the Modern Language Association's latest, sobering statistics indicating that nearly two out of three newly minted foreign language PhDs will have to look beyond the academy for stable employment (le administered only sporadically and not formally considered as certification examinations, they are indeed very acceptable credentials in the private arena and, of course, are prerequisites for either contractual or full-time employment with the State Department.

Other avenues of professional interpreting include conference interpreting and voice-overs and dubbing. In the first, sound equipment such as wireless microphones and headsets is often used so that renditions can be delivered simultaneously by a number of interpreters to an audience requiring delivery into multiple languages. Through these gadgets, the proceedings flow without interruption, and the various linguistic demands of the audience are satisfied. Summarizing, editing, and paraphrasing are also characteristics of conference interpreting--quite the opposite of legal interpreting, where verbatim accuracy, diction level, and register must always be preserved. With regard to voice-overs and dubbing, the act of interpreting is sometimes scripted and sometimes extemporaneous. For both, the sought-after trait is the public speaking voice par excellence, which should not be minimized in the other realms of professional interpreting either.

Compensation varies quite a bit by jurisdiction or locale and depends as well on whether the employer is a federal, state, municipal, international, or private sector entity. Colleagues indicate that the range is presently between $25 and $100 an hour. Some employers allow for preparation or study time so that an interpreter can acquire and nail down specific vocabulary for more technical or focused assignments. As with translation, full-time positions are indeed rare in the interpreting field. And much like musicians, interpreters must continually practice to ensure that they are at the top of their game or virtuosity.

From a pragmatic standpoint, I am focusing more time and energy now on interpreting pursuits. The hourly remuneration rate is higher on average, and I also prefer the human and interactive element inherent in live or face-to-face interpreting. I must admit, however, that I can become quite passionate about a literary translation project, where I take comfort in lingering over words and phrases and honing the written translation to a state of near perfection.

Since receiving my PhD in Spanish and becoming ever more serious about translation and interpreting, I have often revisited the classroom in the role of student. There are some wonderful translation and interpreting continuing education courses and programs offered throughout the United States, particularly those at the University of Arizona, the University of California, San Diego, and the Monterey Institute of International Studies. Presently, the state of California requires continuing education credits for its certified interpreters, and its many colleges, universities, and community colleges do offer courses year-round to that end.

There are some undergraduate certificate programs in translation and interpreting, but this is really master's-level work that requires extreme bilingual competence at the outset, which is a rarity among our undergraduates, especially those who are recent second-language learners. Three master's-level programs worth considering are those at the Monterey Institute of International Studies and the University of Charleston and the program at Georgetown University, which focuses primarily on conference interpreting.

But when all is said and done and all the coursework and apprenticeships are completed, students of translation and interpreting might feel somewhat deficient. That is to say, of course, that one is only truly bilingual when one is also bicultural. A nativelike understanding or appreciation for any specific culture enables linguistic mastery. Cultural values and norms are often intrinsic and explicit in any given language and must be thoroughly understood and compared before a rendition into another language and culture can be reliably offered. When actual immersion or insertion into different native cultures and languages is not possible, complementary activities such as reading, viewing, and listening are required. The complexity or subject matter of a book, program, song, or chat-room exchange is not crucial. What is essential, however, is that interpreters or translators maintain continual contact with any and all aspects of their working languages.

Another way to keep in step both professionally and personally is through involvement in some of the various organizations dedicated to translators and interpreters. Through various conferences, workshops, newsletters, and Web sites, translation and interpreting professionals and students can network with one another and obtain vital practical information. Several organizations that may prove helpful include the American Translators Association and its Washington chapter, the National Capital Area Translators Association; the National Association of Judicial Interpreters and Translators; the American Literary Translators Association; and the California Court Interpreters Association.

I suppose I should consider myself extremely lucky. Now, almost twenty years after the commemorative toss of my tasseled cap into the sobering, springtime Manhattan sky, I can still point with pride to the direct relevance of my graduate degrees in foreign language and literature to my sources of subsistence and solvency. I am still in academe despite deplorable employment statistics. I am still working with language, grammar, literature, and culture. And I am still able to weave my skills and talents for translation and interpreting in and out of the academy and into the general marketplace.

At the end of last semester, after all the final exams were graded and the final marks computed and entered, I had to rush off to the courthouse to interpret proceedings for suspected drug traffickers, child molesters, and drunk drivers. Recently, I worked on a homicide case for which the public defender had me traipsing through a dairy in search of reticent nonnationals who might be compelled to talk about the murder. And then I translated a poem by Pablo Neruda for a friend who is a poet herself, and then there was the man who needed certified translations of his divorce decree so that he could send for his new mail-order bride from Peru. I look forward to the start of next term and the eager, enlightened faces in my Spanish classes. But I am also eager to resume my jailhouse visits, in which an alleged perpetrator might nod or smile with a glimmer of comprehension, or my visits to the courtroom, where the judge will understand a plea of mercy in a defendant's own words. Indeed, I am a lucky guy.


<I>The author is Assistant Professor of Foreign Language in the Department of Language, Literature, and Communications at Mesa State College. This article is based on his presentation at the 1999 MLA convention in Chicago, Illinois.</I>
<a name="citations"> </a>
<h2>Works Cited</h2>
Child, Jack. <cite>Introduction to Spanish Translation</cite>. Lanham: UP of America, 1992.

"Data on the Job Market." <cite>Modern Language Association</cite>. 13 Sept. 1999 http://www.mla.org/JilData_98.htm.

"Labor Market Information." <cite>Occupational Projections--California</cite>. State of California. 17 Dec. 1999 http://www.calmis.ca.gov/file/ occguide/TRANSLAT.HTM.

<h2>Translation and Interpreting Resources on the World Wide Web</h2>
<h3>General Information</h3>
State of California Employment Development Department
<a href="http://www.calmis.ca.gov/file/occguide/TRANSLAT.HTM" target="other">http://www.calmis.ca.gov/file/occguide/TRANSLAT.HTM</a>

State of California Court Interpreters Program
<a href="http://www.courtinfo.ca.gov/programs/courtinterpreters/" target="other">http://www.courtinfo.ca.gov/programs/courtinterpreters/</a>

The Translator's Home Companion
<a href="http://www.lai.com/lai/companion.html" target="other">http://www.lai.com/lai/companion.html</a>

<h3>Certification and Testing</h3>
National Center for State Courts
<a href="http://www.ncsc.dni.us" target="other">http://www.ncsc.dni.us</a>

The National Center for Interpretation Testing, Research, and Policy at the University of Arizona
<a href="http://w3.arizona.edu/~ncitrp/" target="other">http://w3.arizona.edu/~ncitrp/</a>

<h3>Training</h3>
University of Charleston
<a href="http://univchas.cofc.edu/programs/legal-int.html" target="other">http://univchas.cofc.edu/programs/legal-int.html</a>

Monterey Institute of International Studies
<a href="http://www.miis.edu/" target="other">http://www.miis.edu/</a>

Georgetown University
<a href="http://www.georgetown.edu/departments/translation/" target="other">http://www.georgetown.edu/departments/translation/</a>

The National Center for Interpretation Testing, Research, and Policy at the University of Arizona
<a href="http://w3.arizona.edu/~ncitrp/" target="other">http://w3.arizona.edu/~ncitrp/</a>

<h3>Employment</h3>
Classified ads from United States newspapers
<a href="http://new.careerpath.com/" target="other">http://new.careerpath.com/</a>

United States Office of Personnel Management
<a href="http://www.usajobs.opm.gov/" target="other">http://www.usajobs.opm.gov/</a>

Aquarius Directory of Translators and Interpreters (virtual translation agency)
<a href="http://acquarius.net/index.cfm" target="other">http://acquarius.net/index.cfm</a>

<h3>Professional Organizations</h3>
The California Court Interpreters Association
<a href="http://www.ccia.org" target="other">http://www.ccia.org</a>

The National Association of Judiciary Interpreters and Translators
<a href="http://najit.org" target="other">http://najit.org</a>

American Translators Association
<a href="http://www.atanet.org" target="other">http://www.atanet.org</a>

American Literary Translators Association
<a href="http://www.utdallas.edu/research/cts/alta.htm" target="other">http://www.utdallas.edu/research/cts/alta.htm</a>


&#169; 2000 by the Association of Departments of Foreign Languages. All Rights Reserved.
