<b>Number 124, Winter 2000</b>
<h1>Answers to the "Test Your Assumptions Quiz"</h1>
<A HREF="bulletin_124998">Return to the Test Your Assumptions Quiz</A>
<OL>
<LI>Fifty-three percent were tenured professors (58% when those not in the workforce or not providing complete information were excluded).
<LI>Eight percent worked as tenured faculty members in Research I institutions. (Sixteen percent of all tenured faculty members worked in Research I institutions.)
<LI>Twelve percent worked as non-tenure-track faculty members in 1995 (13% when those not in the  workforce or not providing complete information  were excluded).
<LI>Employment distribution in the BGN sectors:
<TABLE CELLSPACING="2" CELLPADDING="1">
	<TR>
		<TD WIDTH="134">Writing or editing</TD>
		<TD WIDTH="134">Communications</TD>
	</TR>
	<TR>
		<TD>Information systems</TD>
		<TD>Management</TD>
	</TR>
	<TR>
		<TD>Executive work</TD>
		<TD>Finance</TD>
	</TR>
	<TR>
		<TD>Teaching</TD>
		<TD>Legal work</TD>
	</TR>
	<TR>
		<TD>Government relations</TD>
		<TD>R&D</TD>
	</TR>
	<TR>
		<TD>Consulting</TD>
		<TD>Administrative support</TD>
	</TR>
</TABLE>

<LI>Satisfaction dimensions of current job:
<TABLE CELLSPACING="2" CELLPADDING="1">
	<TR>
		<TD COLSPAN="2"><I>Satisfaction Categories</I></TD>
		<TD WIDTH="86" ALIGN=CENTER><I>BGN</I></TD>
		<TD WIDTH="94" ALIGN=CENTER><I>Academe</I></TD>
	</TR>
	<TR>
		<TD WIDTH="8" ALIGN=CENTER>&nbsp;</TD>
		<TD>autonomy of work</TD>
		<TD ALIGN=CENTER>92%</TD>
		<TD ALIGN=CENTER>90%</TD>
	</TR>
	<TR>
		<TD ALIGN=CENTER>&nbsp;</TD>
		<TD>location for spouse</TD>
		<TD ALIGN=CENTER>91%</TD>
		<TD ALIGN=CENTER>75%</TD>
	</TR>
	<TR>
		<TD ALIGN=CENTER>&nbsp;</TD>
		<TD>content of work</TD>
		<TD ALIGN=CENTER>87%</TD>
		<TD ALIGN=CENTER>89%</TD>
	</TR>
	<TR>
		<TD ALIGN=CENTER>&nbsp;</TD>
		<TD>prestige of organization</TD>
		<TD ALIGN=CENTER>83%</TD>
		<TD ALIGN=CENTER>68%</TD>
	</TR>
	<TR>
		<TD ALIGN=CENTER>&nbsp;</TD>
		<TD>work environment</TD>
		<TD ALIGN=CENTER>83%</TD>
		<TD ALIGN=CENTER>73%</TD>
	</TR>
	<TR>
		<TD ALIGN=CENTER>&nbsp;</TD>
		<TD>flexible work situation</TD>
		<TD ALIGN=CENTER>82%</TD>
		<TD ALIGN=CENTER>84%</TD>
	</TR>
	<TR>
		<TD ALIGN=CENTER>&nbsp;</TD>
		<TD>career growth</TD>
		<TD ALIGN=CENTER>78%</TD>
		<TD ALIGN=CENTER>67%</TD>
	</TR>
</TABLE>
<LI>Do the English PhD again? Employed in 1995: Academic = 82%; BGN = 64%
<LI>Academic sector: teamwork 53%; managerial skills 78%
<LI>Recommendations for doctoral programs:
<TABLE CELLSPACING="0" CELLPADDING="1">
	<TR>
	</TR>
</TABLE>
<TABLE CELLSPACING="2" CELLPADDING="1">
	<TR>
		<TD WIDTH="161" ALIGN=CENTER>&nbsp;</TD>
		<TD COLSPAN="2" ALIGN=CENTER><I>Ranking Order</I></TD>
	</TR>
	<TR>
		<TD ALIGN=CENTER>&nbsp;</TD>
		<TD WIDTH="81" ALIGN=CENTER>BGN (<I>N</I> = 75)</TD>
		<TD WIDTH="77" ALIGN=CENTER>Academe (<I>N</I> = 328)</TD>
	</TR>
	<TR>
		<TD>Downsize</TD>
		<TD ALIGN=CENTER>1</TD>
		<TD ALIGN=CENTER>2</TD>
	</TR>
	<TR>
		<TD>Teach how to teach</TD>
		<TD ALIGN=CENTER>2</TD>
		<TD ALIGN=CENTER>1</TD>
	</TR>
	<TR>
		<TD>Improve career services</TD>
		<TD ALIGN=CENTER>3</TD>
		<TD ALIGN=CENTER>8</TD>
	</TR>
	<TR>
		<TD>Help students finish</TD>
		<TD ALIGN=CENTER>4</TD>
		<TD ALIGN=CENTER>-</TD>
	</TR>
	<TR>
		<TD>Publish, professional visibility</TD>
		<TD ALIGN=CENTER>5</TD>
		<TD ALIGN=CENTER>4</TD>
	</TR>
	<TR>
		<TD>Provide interdisciplinarity</TD>
		<TD ALIGN=CENTER>7</TD>
		<TD ALIGN=CENTER>3</TD>
	</TR>
</TABLE>
</ol>


&#169; 2000 by the Association of Departments of English. All Rights Reserved.
