<b>Number 120, Fall 1998</b>
<h1>Operationalized Democracy: Teaching English at the Community College</h1>
<h2 class="byline">ANNE BREZNAU </h2>
THE community college is a thriving, growing example of operationalized democracy. It takes seriously those sacred words on the base of the Statue of Liberty: &#147;Give me your tired, your poor.&#148; And it endeavors to give the tired and the poor every opportunity to succeed. 

Kellogg Community College (KCC) is a midsize institution serving 10,500 students. It is located in Battle Creek, Michigan, midway between Chicago and Detroit, off the I-94 corridor. Battle Creek has remained remarkably fixed in its traditional values of hard work and family despite susceptibility to drug traffic and to the dark side of contemporary culture. Outsiders coming to Battle Creek might feel as if they&#039;ve entered a time warp. Dominated by the Kellogg Corporation&#039;s world headquarters and the generous Kellogg Foundation, Battle Creek retains a smalltown atmosphere and conservative political and economic underpinnings. A surprising number of KCC students have never left their hometown for any significant length of time. Though faculty members have diverse backgrounds, they tend to assimilate into the community and at least tacitly to accept its traditional values. 

In many respects, KCC is not unlike other community colleges. The community college is, just as the term implies, an organ of the community, a way for local residents to be educated while remaining within the confines of their families, jobs, and lives. Whether you take a job at El Paso, Kirtland, or KCC, you enter an organization governed by local leaders, often funded by local millage, and existing to serve local people. It is natural for the community to feel ownership of such a college. 

That ownership has up and down sides. On the up side, you are respected immediately if you work for KCC. You will get a mortgage easily, and you will be invited to join the country club and the Rotary Club. While you may struggle to accept KCC&#039;s culture, so unlike that of graduate school or of the university, KCC and the surrounding community will accept you unconditionally. On the down side, you will be held accountable in ways that you never would be in a bigger, more cosmopolitan arena. Wherever you go in town, your behavior will be noticed and discussed. There are no secrets in Battle Creek or at KCC. This circumstance is daunting to nameless, faceless postmodernists who have grown comfortable with relative anonymity and even with a lack of individual accountability. 

At KCC, as at other community colleges, instructors are accountable. They are expected to demonstrate positive outcomes from their teaching. They are expected to behave with courtesy and civility toward all. Academic freedom is alive, but instructors are expected to exercise it politely and with consideration for their students and colleagues. 

Often a corporate model dominates the community college administrative structure. The organizational structure of KCC, typical of community colleges throughout Michigan, is hierarchical. The hierarchy attempts to build teams and to develop consensus in the same ways that modern corporations do. In addition, KCC has a strong union, part of the Michigan Education Association. The contract is largely quantitative in its emphasis&#151;numbering the days, hours, and course load each instructor must complete. The pay is good, as are the benefits. Starting pay at KCC for a faculty member with a master&#039;s degree and five years of experience is almost $48,000. Each year, faculty members get a percentage increase and also go up a step, so salaries grow rapidly. At the top of the range, a faculty member with a master&#039;s degree plus sixty hours of course work and twelve years of experience earns over $60,000. 

It&#039;s boom time at many community colleges like KCC. Enrollments are increasing, state and local leaders look to the community college as the last hope of the educational system, universities want to collaborate, and aging faculty members are retiring, creating a plethora of job opportunities. While some community colleges are not rehiring and are increasing the numbers of part-timers who staff classes, KCC is experiencing good times, and the administration has made a commitment to keep approximately sixty percent of its courses taught by full-time faculty members. 

In the seven years I have been the chair of the English department at KCC, we have hired seven full-time, tenure-track faculty members. One of the seven was a presidential appointment; all others were identified through national searches. Four of the seven were women. Two have received tenure; one has been denied. Ages at the time of hiring ranged from twenty-five to forty-eight. Despite national searches, all hires have been Michigan residents, though two had degrees from out of state. Three hires have come from our adjunct pool. 

One hiring requirement is a master&#039;s degree in English or in composition and rhetoric. We have not opened our searches to MFAs despite Western Michigan University&#039;s fine program. We are not sure what animal MFA programs produce nationwide. A PhD is not an asset; in fact, we would be cautious about hiring a PhD, lest the cultural gap between KCC and the PhD&#039;s expectations be too great. Perhaps tellingly, the one person we did not tenure in the last seven years was the only PhD we hired. 

KCC also requires teaching experience and some visible commitment to or understanding of the community college system. Fulfillment of the second of these requirements could show on the r&#233;sum&#233; as part-time teaching or previous study at a community college. 

While the pay and benefits are excellent at KCC, the work expectations are heavy. Each semester, English faculty members teach five classes, most of them composition. Composition classes have a maximum of twenty-five students, so in the worst-case scenario an instructor could have 125 writing students a semester, more than twice the maximum stipulated by the NCTE&#039;s guidelines. In addition, teachers keep seven and a half office hours each week and participate in committee work at both the department and the campus level. Research and publication are not expected or rewarded. 

Innovation in teaching, however, garners both respect and support. Pioneers in pedagogies that increase students&#039; sense of community or make effective use of new technology or software often receive release time to develop their courses. At the moment, KCC is encouraging development of online classes; in the past, teachers have been given lighter loads while developing learning-community classes or training on the distance-learning system. 

Faculty members are also expected to apply teaching technology effectively. Because KCC has a distance-learning network (using live, interactive television), experience in that area alone reflected on a r&#233;sum&#233; can result in an interview. English faculty members also teach composition primarily in networked computer classrooms. Technology has significantly changed the teaching of writing at KCC and will continue to do so. Teachers find themselves having to be competent technicians and troubleshooters in addition to using their other classroom skills. 

Faculty development is a high priority in such a rapidly growing environment. The college pays tuition for doctoral course work if a faculty member chooses to go on. Specialty courses are also paid for; for example, if a teacher wants to become more proficient in journalism to serve the college better, relevant course work will be paid for. The department provides numerous on-site development experiences each year, as does the administration. For example, I created a fifteen-hour training program in learning disabilities for English department faculty members who teach developmental courses. Generally, faculty-development funds are managed by a faculty committee, and usually there is enough funding to go around. In addition, one or two faculty members a year receive Kellogg Foundation Excellence in Education Awards, which carry a $1,000 stipend for development. English faculty members have attended conferences from Texas to Maine using that support. 

Faculty hiring is done by a committee of approximately six people: the chair, two department members, one faculty member from outside the department, the dean, and the executive vice president. Because the committee is so comprehensive, its decisions are final. The chair appoints the committee, and the dean approves the appointments. The committee first meets to review personnel guidelines related to interviewing and hiring. Then it draws up a profile of fifteen or so items that become guidelines for hiring. Every member of the committee then reads all the applications and chooses ten to fifteen candidates who fit the profile and have the required credentials. An applicant with an MEd, specialization in English, would automatically be ineligible because one requirement is an MA. An applicant with no community college experience would also be eliminated. We normally have between 150 and 200 applicants for each position. Sometimes fewer than half meet the advertised requirements. 

After each committee member has made a list of candidates, the committee reconvenes and starts putting names on a white board. Usually five or six outstanding applicants have been chosen by several or even all members of the committee. Those five or six automatically get a phone interview. We try to have ten to twelve phone interviewees; if necessary, we add to the pool anyone who was picked by two or three members. When an applicant has only two advocates, the advocates usually express what they found compelling about the applicant&#039;s materials; often other members are swayed toward the applicant. 

Phone interviews are arranged through the personnel office and are usually scheduled about fifteen minutes apart. The committee meets around a conference phone, and the committee chair (the department chair) asks the questions. Normally, there are only three or four questions, usually very basic ones (e.g., &#147;What qualifies you for this position?&#148;). Candidates should view the telephone interview not as a chance to wax eloquent but as a time to say little and to avoid big mistakes (like referring to KCC as KVCC&#151;a local rival school). The candidate should demonstrate that he or she has studied KCC&#039;s catalog and Web pages. Usually candidates do so obliquely by referencing a learning objective or the mission statement when answering a question. Long-windedness in the phone interview is the death of a candidate. Since the interview entails approximately four questions, two or three minutes for each answer is plenty, especially if candidates have questions of their own. Committees like candidates to ask one or two questions, especially questions related to the catalog or the Web site. Asking about salary and benefits at this time might not eliminate a candidate, but it won&#039;t make a favorable impression. 

After all the candidates have been interviewed, the committee rejects those who clearly had not prepared for the conversation or whose bias toward other kinds of institutions was palpable. A lot of what we&#039;re listening for, however, is tone of voice&#151;warmth, energy, authenticity. As English teachers, we&#039;re obviously also aware of a candidate&#039;s use of language. Candidates who remain after the easy cuts are discussed briefly and are invited for a campus visit. Usually about six candidates are invited, sometimes fewer, depending on the telephone interview results. 

We pay expenses for campus visits unless a candidate later refuses a job offer. We are up-front with candidates about this policy when we invite them. The visit, which takes about half a day, includes five components: a meal with a couple of committee members, an interview, a teaching demo, a tour of the campus, and an impromptu writing task. 

The interview, usually consisting of fourteen to seventeen questions, is identical for all candidates. The candidate is queried by the entire committee. We schedule no more than an hour for the interview, so the candidate&#039;s answers should average three to five minutes. At the end of the questioning period, the candidate is given a chance to ask questions, and the committee again favors indicators that the candidate understands KCC&#039;s particular institution and programs. 

Then the candidate is taken to a classroom and given time to set up for a teaching demo. (Candidates are informed before they come to campus that the visit will include a demo.) This is the heart of the hiring process. If a candidate engages the committee successfully, developing rapport and getting all members involved and even excited about the learning opportunity, almost any other faux pas will be forgotten. The hiring committee is looking for the best teachers, and this is the chance for a candidate to show what he or she can do. We are not looking for great lecturers; we want teachers who can draw students into the learning process. The worst candidate we ever had read a long essay that he had written. He went way over the time limit, and when we tried to curtail him, he insisted on finishing the reading. One of the best candidates put two quotes on the board and got everyone involved immediately in a heated discussion. The quotes were from Shakespeare and Metallica! An outstanding candidate might also ask to do his or her demo on the distance-learning system or in the networked computer lab. Show us what you can create with our technology, and we are yours. 

Next the candidate is asked to write an impromptu essay or to read a student essay and write comments to the student&#151;sometimes both. The visit ends with the department secretary taking the candidate on a tour of the campus. 

The decision to hire is a serious one, but it is usually surprisingly easy. Committee members typically agree when one candidate outshines the others in the teaching demo, as often happens. If two candidates perform equally well in the demo, we go back to interview notes and other impressions to make the choice. The decision is generally unanimous; occasionally, five of the six committee members are in agreement. Before we hire, we check references to be sure that our impressions are confirmed by previous employers. 

Teaching in the community college is not for everyone. It is for the committed teacher who wants to help all kinds of people make better lives for themselves. It is also for the teacher-citizen who is ready to become involved in creating a better institution within the culture of a local community he or she is willing to call home. 

<em> The author is Chair of the Department of English at Kellogg Community College, Michigan. This paper was presented at the 1997 ADE Summer Seminar Midwest, hosted by Kellogg Community College and Western Michigan University in Traverse City, Michigan. </em> 


&#169; 1998 by the Association of Departments of English. All Rights Reserved.
