<b>Number 111, Fall 1995</b>
<h1>The On-Campus Interview</h1>
<h2 class="byline">JOSEPH MUSSER</h2>
THE job search can be aggravating, and it would be rational to respond to the whole process, starting with the conditions in the job market itself, as Dickens&#039;s Gridley does to the Court of Chancery. Most departments are like John Jarndyce, who condoles with Gridley with all his heart. They are aware of the terrible job market (after all, they receive hundreds of applications even for conditional positions that await funding or approval) and understand the impulse to resentment and fulmination. Therefore candidates who control the channel their anger, who maintain their senses of humor, and who remain cool in spite of the stress can especially impress a department. 

An analytical approach can help you assert control and maintain poise. Think of the on-campus interview in rhetorical terms, as both a performance and the creation of a text. You are the subject, and thus you are performing for the department interviewing you. You are the author as well, present implicitly as writer or shaper. But you are also interpreter, helping your audience read the texts they&#039;ve already seen&#151;your letter, vita, recommendations, writing sample&#151;and enacting the various texts that constitute yourself. That&#039;s the kernel of my advice for the on-campus interview. Consider the purpose, yourself as the author and performer, your audience, the media, and all their relations. 

<h2><b>The Purpose</b></h2>
Usually only the top two or three candidates are invited for on-campus interviews, since such interviews are expensive for departments (they take time as well as money). The on-campus interview primarily helps the department and the candidate achieve the best match between the department&#039;s needs and wishes and the candidate&#039;s talents, strengths, and interests. 

The on-campus interview allows the interviewing department to test the impressions created by the dossier and the off-campus interviews, to gather additional evidence about the candidate, and to introduce the candidate to additional department members, students, and administrators. The on-campus interview allows a more direct assessment of the candidate&#039;s social skills, poise, responsiveness, alertness, and energy than do other sources of information. For you as candidate, this interview offers a more nearly complete view of the department and of the college or university and its environs. It affords you an opportunity to observe the relationships among colleagues, student, and staff; the working conditions; and the facilities&#151;classrooms, offices, library; and so on. It gives you the opportunity to demonstrate that you can function well under stress and can maintain composure under sometimes challenging conditions. In this way you can help shape the department&#039;s interpretation of your ethos. 

You should be aware that, though candidates with on-campus interviews usually are on the very short list, your situation may differ from others&#039;. You may be the clear first choice of the whole department. You may be the favorite of one faction in the department. You may be expected to prove your suitability for the job to some skeptics. Or, as Tobias Wolff&#039;s &#147;In the Garden of the North American Martyrs&#148; reminds us, in rare instances you may not be a serious contender at all. It is probably best to assume you are the clear first choice, without acting presumptuous. 

<h2><b>You as Author and Performer</b></h2>
You are constructing an impression of yourself at all times during the interview. You are author and text, performer and interpreter. Informal sessions, like meals or conversations, or short walks from one meeting or event to another may be as important as formal presentations or interviews. The chair will form an initial impression of you as you help arrange the interview. Chairs recognize that there may be scheduling conflicts, but they will appreciate cooperation and flexibility, as well as forthrightness about previous commitments (other interviews, final examinations, dissertation defenses, and the like). It will not hurt you to have other interviews. In fact, they can reassure a department about its preliminary judgment of you. If the on-campus interview seems to be too low on your priority list, however, the chair may become exasperated and may begin to doubt your interest in the position. In short, remember that making the arrangements for the interview can create a significant impression that can work to your advantage or disadvantage. Be as cooperative and pleasant as possible. 

You should be expect a printed schedule outlining your visit. The department may not be able to provide a final version until you arrive, but at the time it should have one with such details as the time and location of your meetings and presentations, along with the names of the department members responsible for each session and (usually) the names and positions of the people you will be meeting or addressing. Some free time should be scheduled to help you to prepare for presentations and gather your thoughts. If a department if not thoughtful enough to provide such space in your schedule, be sure to ask for it. THe schedule should include the secretary&#039;s name, office location, and phone number. 

Remember that a very important element in the department&#039;s construction of its impression is your appearance . Take care not to allow it to undermine your efforts. Above all, be clean and neat. Since you probably will shake a lot of hands, be sure yours are not gray and gritty. 

Most departments will want to hear something about your research and scholarly interests. Many will ask for a formal presentation about your dissertation or a part of it. Flatter your audience by assuming they know at least something about your interests (they presumably have read your letter, vita, and recommendations). It is probably unwise simply to read a chapter of your dissertation. Be prepared to discuss not only what you&#039;re working on but also how its fits with plans related to your interests in both teaching and scholarship. You should supplement your remarks with a short writing sample. Don&#039;t expect committees or departments to have time to read your whole dissertation, but do make available a short section or a related essay. Ask questions about local resources and libraries, but be sure to remember your audience. A department in a small liberal arts college&#151; or any other institution that focuses on teaching&#151;will not appreciate your preference for a two-day teaching schedule so that you can devote the other three days to your articles and books. (Make a similar distinction in your application letters: your letter to a liberal arts college should begin with your commitment to teaching, not with a summary of your dissertation.) 

Most departments will also want to see you in action as a teacher. But they know, as you do, that many dimensions of teaching will have to be implied: how well do you stay the course, how well do you conduct conferences, how well do you respond to challenges in class, how conscientiously and responsibly do you and will you grade students&#039; work? Whatever suggestions you can make about these implicit dimensions will be helpful. 

Departments also know that any teaching situation arranged for an interview is artificial. Often you may not be teaching at all but informing faculty members about your approaches to teaching. Even if a class of real students is made available to you, you aren&#039;t their teacher and they know it. Your particular class may not fit their syllabus at all. Sometimes a group of students not currently constituted as a class will be assembled for the teaching session. Be aware of the artificiality of these situations and use them to your advantage to help the audience gain a sense of your teaching skills. Perhaps you can make aside or explanatory comments. You should definitely bring to your interview some copies of sample syllabi that you have designed and taught. You should talk about the typical assignments and patterns of assignments that you are likely to give. Above all, keep a sense humor and try to remain poised and flexible. 

One of the most impressive demonstrations of teaching at our university recently was afforded not by a candidate but by a guest speaker, Richard Selzer, the surgeon-essayist. When he arrived, the lecture room was locked. By the time someone found a key, he had introduced himself to all the students waiting to enter and had learned a bit about many of them; later he referred to their interests during his lecture. He encouraged them to respond to his questions by appealing directly to them (some by name). The following evening, he recalled those students when they showed up at an autograph session. 

Before you go to the interview, you should try to get as clear an idea as possible about teaching session. Ask the chair (or whoever invites you to the interview) how you might approach the session. When we invite people for on-campus interviews, I always tell them exactly what the situation will be. Normally we ask candidate to give us as clear and accurate an idea of her or his teaching style as possible. The audience includes both faculty members and students. I invite candidates to think this presentation as a rhetorical puzzle, and I suggest that we are interested in how effectively they solve it. 

<h2><b>Your Audience</b></h2>
Inform yourself as thoroughly as you can about your audience beforehand. The department should have provided a catalog and other materials, such as course descriptions, a viewbook, perhaps short notes about the faculty members. If it has not, request them. Be sure to read them with care and to memorize certain important details. To get some idea about the students, look at several college guides (not just one). Check the guides&#039; entries for colleges you know well in addition to the college will visit. That step should reveal some of the guides&#039; biases and may suggest some interesting questions for you to ask during the interview. Try to find out typical teaching assignments. Does everyone teach some freshman composition, for example? Do senior professors seem to teach their specialties or a range of upper-level courses? What are the schedules for newer faculty members? Are they teaching freshman and sophomore courses at 8 a.m. and 3 p.m. every day? 

The schedule for the interview should also give you information you can use to anticipate the audience. Have faculty members asked you to make a formal presentation about your research? Have they scheduled a teaching demonstration? Will you be meeting with the students? with the provost or president? with faculty members from other departments? In a large university you are unlikely to meet even all the members of the English department, though you may meet with a dean or provost. In a small college like mine, you will meet ont only the entire department but also faculty members from other departments (who have also read your dossier), the provost, and students. At a liberal arts college, faculty members from other departments can play a crucial role. Recently, for example. I served on a committee of three faculty members&#151;from English, journalism, and zoology&#151;interviewing candidates for a position in music. We asked them to comment on the most recent Pulitzers in music, for example, and asked how they might convince a chemistry major that music mattered. The music department considered our written evaluations of the candidates as part of their decision-making process. 

You should consider requesting special limited audiences. If you wish to meet students, talk with newly hired faculty members, or meet writing-center personnel, be sure to request such meetings when you talk with the chair as you arrange your interview. Most colleges will try to arrange them if at all possible, and your request can show your particular interests as well as your concern to gather the accurate impression of the institution as a whole. 

<h2><b>The Media</b></h2>
The department will be examining your skill with language. Do you use correctly and effectively, both in speech and in written form? (Avoid silly errors in letters and handouts, for example.) Prepare and practice a few responses that you can give to questions you anticipate getting. For instance, if you visit a liberal arts college, be prepared to say something about your approach to teaching and your understanding and appreciation of the liberal arts (whatever they may be; check the college&#039;s mission statement and use and respond to it, perhaps). Be prepared to talk about your experience as a teacher and colleague, using some anecdotes that help demonstrate your points. Practice telling some of these anecdotes so that you can use then easily and naturally when the situation arises. Departments will appreciate your preparation, as long as it is mixed with extemporaneous responses. All departments will based their judgment of you to some extent on your skill with language, though exactly how it will enter their considerations will vary with individuals as well as departments. The best advice is to be as prepared as possible for questions and to practice beforehand with some friends who can offer useful criticism. Your responses should not seem canned. Think of them as variations on a theme or improvisations on a familiar tune. Aspire to <em>sprezzatura. </em>

<h2><b>Some Practical Matters</b></h2>
Have a credit card for unexpected expenses. Some departments are unable to pay for travel in advance and must reimburse you, so always keep receipts. Take handouts for your presentations, including sample syllabi and assignments. Ask to have enough copies duplicated for your audience. Any performance, to be exciting, must include some risk. The kind and amount of risk you are willing to take will vary with your self-confidence and your assessment of the audience. Some willingness to take risks will make you an attractive candidate. Venture away from prepared remarks. Challenge a comment (if you have good reason). Express an opinion that may be debatable (if you prepared to debate it). Follow the advice to a Spenserian knight: &#147;Be bold, be bold; be not too bold.&#148; 

<h2><b>A Final Reminder</b></h2>
The on-campus interview offers you many opportunities to shape the department&#039;s judgment of you as a person and as a scholar and teacher as well. Remember that you are always under scrutiny, even in informal situations like the drive to or from the airport, even with one student or faculty member. For that reason you should remain alert and poised at all times. In a way you are the text that you are presenting to your audience as clearly, accurately, and persuasively as possible. If you think about the on-campus interview in rhetorical terms, as text and performance, you have good chance of doing&#151;and being offered&#151;a fine job. 


<em>The author is Professor of English and Chair of the English Department at Ohio Wesleyan University and a member of the ADE Executive Committee. This paper was presented at the 1994 MLA convention in San Diego.</em>


&#169; 1995 by the Association of Departments of English. All Rights Reserved.
