<b>Vol. 27, No. 3, Spring 1996</b>
<h1>The Captive Audience; or Liberating Thoughts on Conference Papers</h1>
<h2 class="byline">Edward H. Friedman </h2>
<blockquote>&#147;There are no less than six hundred separate sessions listed in the official programme, which is as thick as a telephone directory of a small town, and at least thirty to choose from at any hour of the day from 8.30 a.m. to 10.15 p.m.&#133;&#148; </blockquote>
<div align="right">David Lodge, <em>Small World </em></div>

TO THE graduate student: Those of us who are teaching you and preparing you for a professional career are hardly in agreement on the aims of our mission. We want to educate you in your chosen discipline and to make you aware of research tools in your field. We want to help you develop your critical skills, but we debate&#151;and sometimes ignore&#151;the ways you might implement those skills. We often give especially short shrift to the area that likely will take up most of your time: teaching. Perhaps we support your publishing an article or delivering a conference paper to increase your chances of finding a job, but by encouraging you to enter the profession before you complete the dissertation, are we doing you a favor or a disservice? &#147;Graduate students have been pushed already in directions that may not contribute to good teaching and that may arguably interfere in the long run with the best kind of writing,&#148; contends Patricia Meyer Spacks. Focusing on conference papers, I propose that, while early professional experience can be highly rewarding, the rewards are directly proportional to the student&#039;s preparation&#151;on several levels&#151;for the venture. The emphasis on productivity, at the ABD stage or before, Spacks notes, means that the question <em>What can I say? </em>may replace <em>What do I know? </em>and, more significant, <em>What do I need to know? </em>I submit that faculty members can guide students toward an appropriate synthesis of learning and sharing of knowledge, so that professional activities complement rather than compromise the educational process. What causes problems is not productivity per se but shortcuts to scholarship and a cutting short of the training period. 

When we ask students to write, we expect them to read with care, to analyze texts, to consider the views of critics and theorist, and to weigh their own analytical points with those of others. We can show our students exemplary and less-than-exemplary works of scholarship, and we can offer them constructive criticism on their writing assignments. Students often receive critical commentary on papers without having the chance to incorporate the suggestions. The revision of class papers deemed of conference quality allows students to collaborate with faculty mentors, to polish writing and analytical skills, and to test theses on a new and broader audience. Some departments allow students to present papers on campus before a conference, enabling students to work on delivery and to anticipate questions and strengthening the bond between faculty members and students. 

The theory and practice of the conference papers, of course, intersect. Attendance at conferences should be worthwhile for those who give and those who receive intellectual messages. The advice that follows comes from one who has heard hundreds of papers and who has learned much from the experience. This knowledge did not come without some unnecessary suffering, or at least discomfort. The suggestions are directed toward those about to undertake the scholarly journey and to anyone else who is apprehensive before an audience of discriminating peers. 

<h2>Advice for the Speaker </h2>
<ol type="1">
<li> Practice your talk. Read at a reasonable speed, neither too rapidly nor too slowly. it may be helpful to underline difficult words so that you can read them with care. Be enthusiastic, and look at your audience as often as possible. </li>
<li> Without relying on the clich&#233;d &#147;The purpose of this paper is to &#133;,&#148; give your audience a clear sense of the thesis or direction of the paper. Remember that a listening audience cannot retain a large number of details. As is so often true, less may be more. Build your paper around one central concept or two, so that your audience will comprehend and retain the key points. Allow time for a conclusion. Check to see if your paper adequately answers the questions &#147;What do I want my audience to derive from this paper, and what points do I want to make?&#148; </li>
<li> Respect the assigned time limit. This is probably the most important rule. Even a brilliant paper and a polished delivery will wear thin if you exceed the time allotted. Time yourself carefully when you practice. One can estimate about two minutes a page, but much depends on the number of words a page and on your style of delivery. It is unfair to the audience and to the remaining speakers&#151;as well to the presider&#151;to abuse the time limit. As a trusted friend said to me, &#147;I have attended many conferences, and I have never heard anyone complain that a paper was too short.&#148; </li>
<li> Avoid interpolations. Do not intrude on your paper with explanatory comments, anecdotes, or extended discussion of a point. Interpolations tend to interrupt the flow of the paper and the thread of your argument and may suggest that the written text is unclear or incomplete. The commentary may make the audience more conscious of being read to. If you feel that interpolations are necessary, allow time for them. Your twenty minutes or half hour apply to the total presentation. </li>
<li> Make your paper a complete work. Even if you draw on more extensive research, you need to give your audience a finished product with a beginning, middle, and end or, in our postmodern age, with a worthy alternative structure. Little annoys audience members more than hearing speakers discuss (a) what they have done elsewhere, (b) what they would do here if they had more time, and (c) how much of their wisdom is lost to the audience because of time constraints. This kind of explanation can come across as an excuse&#151;or apology&#151;for an unfinished presentation. Do not edit your paper at the moment of delivery. Do not skip pages or otherwise indicate that you are deciding what to include as you speak. Comments such as &#147;In this part of the paper I talk about topic X, but I&#039;ll have to skip it now because of time&#148; only make the audience aware of what they are not going to learn from the paper. And do not leave out a page of your paper that would take two minutes to read and then talk for two minutes&#151;or even one minute&#151;about the deletion. </li>
<li> Avoid dialogue with the chair. Questions such as &#147;How am I doing for time?&#148; and &#147;Do I have time to read three more pages?&#148; insult the chair and the audience. If you are given a note or some type of sign that your time is up, try to conclude as soon as reasonably possible. Do not say &#147;I&#039;m almost finished&#148; and then read on and on. And certainly do not respond antagonistically if the chair conveys that time is up. </li>
<li> Minimize the use of quotations in your paper. People want to hear your ideas, not the thoughts of others. Consider supplying handouts containing quotations, helpful diagrams (for plot summaries, lists, etc.), or bibliographical information. </li>
</ol>

<h2><b>Responding to Questions</b></h2>
<ol type="1">
<li> Answer questions directly and succinctly. It is best to err on the side of brevity. Try to recognize a good stopping point, and hope that your response will inspire more questions or comments. </li>
<li> Regardless of how negative the question or unpleasant the questioner, always take the high road in your response. You can defend your argument without being overly defensive and, of course, without being unkind. Focus on the issues, not on personalities. If you lose your composure, that is what people will remember, however insightful your paper. </li>
</ol>

<h2><b>Participating in Discussion</b></h2>
<ol type="1">
<li> Bear in mind the distinction between a question and a comment. The former generally is preferable. A question engages the speaker and the audience and promotes dialogue; a comment can either silence speakers or put them on the defensive, and the audience may lose interest in a long comment. Broadly speaking, questions indicate careful attention to the paper, while comments, notably those only marginally related to the content of the paper, often seem designed to highlight the commentator, not the speaker. Questions and comments should be clear, specific, and brief. Avoid commenting on your published work, your work in progress, and any over(t)ly subjective topics, and do not introduce materials that have little or no bearing on the paper being discussed. </li>
<li> Wait to be called on. Avoid dominating the discussion. Make sure that all who would like to participate have had the chance to do so before asking your second or third question. </li>
<li> Do not enter the dialogue if you have not heard the entire paper. As an audience member I cringe at remarks such as &#147;I missed the first part of your paper, but from what I gather&#133;&#148; or &#147;I didn&#039;t get here in time for the paper, but I&#039;d like to respond to Professor Z&#039;s comment.&#148; </li>
</ol>

<h2><b>Questions of Protocol</b></h2>
<ol type="1">
<li> Do not submit a paper for a conference that you do not plan to attend. If you submit a paper in good faith and then have to withdraw it, do so promptly and courteously. It is unfair to announce that you do not plan to attend once the program has been sent out. Remember that your paper may have been chosen over other satisfactory submissions. Be cautious about submitting a paper if your attendance depends on your receiving a highly competitive travel grant, especially if the award will not be announced until close to the date of the conference. This is a matter of judgment, but you do not want to develop a reputation as a no-show when you have scarcely entered the profession. </li>
<li> Do not submit an abstract unless you feel certain that you can complete the paper by the deadline. Remember that some conferences require early submission of the final paper to the chair or to a respondent. </li>
<li> Do not submit the same paper to more than one conference at a time, and do not read the same paper at more than one conference (unless the organizers know that you have delivered the paper earlier). A published paper is not appropriate for delivery at a conference. </li>
<li> Strive to make your commentaries as informed as possible; that is, be thorough in your research. The good habits that you form as a graduate student&#151;and the note-worthy models that you emulate&#151;will continue to serve you in the future, just as bad habits will be difficult to shake. </li>
</ol>

<h2>Selecting Papers to Submit for Conferences</h2>
In a difficult job market, students need to do whatever they can to impress potential employers. A record of conference papers and articles accepted for publication may help set an applicant apart. Individual departments and professors differ on the advisability of submitting materials to journals and to conferences before the receipt of the degree. Most would agree, however, on the importance of judicious screening of material. Students should realize that very few class papers are ready for submission without revision. Graduate programs give students the chance to seek the counsel of faculty members. Students should consult first with the teachers for whom they wrote the papers&#151;and then with other faculty members&#151;on the advisability of submitting the papers and, once the decision has been made, on how to revise and where to submit. 

The other side of the coin is that conference organizers also must focus on quality. This is easier to manage if the procedure requires the submission of the complete paper. A one-paragraph or one-page abstract may be more problematic. Some selection committees, it would seem, are inclined to accept every abstract. This practice not only undermines the faculty member&#039;s emphasis on quality but also teaches the wrong lesson&#151;that quantity supersedes quality. The type of paper that should not be submitted unrevised is not necessarily unintelligent or unsatisfactory but is incomplete, overly general, or naive, showing the author&#039;s lack of background or familiarity with the critical tradition of the work. Students should feel free to call on faculty members for assistance. Teachers, in turn, can seize the occasion to help students organize their ideas and adapt their work for conferences and journals. No paper should be submitted before its time. If this message is to be clear, conference organizers must monitor quality. 

Making one&#039;s self marketable need not be a bad thing. The preparation of a conference paper should go beyond class work, inspire additional dialogue, and give the student experience in introducing and defending ideas, much as classroom teachers and researchers do. Well-written conference papers set forth new concepts or approaches. They give speakers a forum and a foundation for future investigation. Using Spacks&#039;s terms, one could argue that the questions <em>What can I say? </em>and <em>What do I need to know? </em>do not have to oppose each other. One can seek the path of least resistance, or one can&#151;quite literally&#151;do one&#039;s homework. The difference between the two is the difference between a conference paper and professional effort. 

If you are graduate student who is contemplating entry into the profession, take advantage (in the best sense of the term) of the faculty members in your department who are willing to consult with you as you ready your work for submission to conferences or to journals. Use whatever resources are available to you. If you seek the help, it should be there for you. 


<em>The author is Professor of Spanish and Comparative Literature in the Department of Spanish and Portuguese at Indiana University, Bloomington. </em> 

<h2>Work Cited </h2>
Spacks, Patricia Meyer. &#147;The Academic Marketplace: Who Pays Its Costs.&#148; <cite>MLA Newsletter </cite>26.2 (1994): 3. 


&#169; 1996 by the Association of Departments of Foreign Languages. All Rights Reserved.
