<b>Number 124, Winter 2000</b>
<h1>Test Your Assumptions Quiz</h1>
<OL>
<LI>What percentage of English PhD recipients who graduated between 1983 and 1985 were tenured  professors in 1995?
<LI>What percentage worked as tenured faculty  members in  Research I institutions (Carnegie  classification) in 1995?
<LI>What percentage worked as non-tenure-track  faculty members in 1995?
<LI>What types of jobs do you think English PhDs  working in business, government, and not-for-profit  (BGN) sectors were doing?
<LI>Given the following categories:
	<UL>
	<LI>autonomy of work
	<LI>location for spouse
	<LI>content of work
	<LI>prestige of organization
	<LI>work environment
	<LI>flexible work situation
	<LI>career growth
	</UL>
would you expect the job satisfaction of English PhD recipients working in the BGN sectors to be higher or lower than that of those working in the  academic sector?
<LI>Ten to thirteen years later, what percentage of  respondents working in the academic sector do you think would still get a PhD in English if they had  it to do over again? What percentage of those  working in BGN sectors in 1995 would get an  English PhD again?
<LI>What percentage of those working in the academic sector reported that they work in a team in their  current job? What percentage use managerial skills?
<LI>What do you think our respondents recommended for doctoral programs?
</OL>

<A HREF="bulletin_124999">Answers to the Test Your Assumptions Quiz</A>


&#169; 2000 by the Association of Departments of English. All Rights Reserved.
