<b>Number 111, Fall 1995</b>
<h1>How to Talk about Scholarship in the MLA Interview</h1>
<h2 class="byline">JUDITH WILT</h2>
WHEN I came to my first MLA convention in 1971 as a job candidate, I naturally harbored a range of anxieties and other unpositive emotions, which I registered, weirdly enough (given the title of Patricia Meyer Spack&#039;s most recent interesting book), as &#147;boredom.&#148; I&#039;m so bored with this process, I said, wandering around my department chair&#039;s suite the night before interviews, bored, and bored especially with my dissertation and everything I was supposed to be saying about it. My chair, the estimable and puckish Don Gray, of Indiana University, allowed as how it was possible I was bored with my dissertation but said that more likely I was afraid of it or in love with the fiercely protective of it or wishful of expanding or redoing it and that, in any case, I could be bored with it next week or next year <em>but not today! </em>

I understood myself a little better after that gentle pulling up. I was a little afraid of the dissertation; it was good writing, but was it scholarship? It was my idea cutting through the literary material I chose, but was it somehow, reductively, me? And did that process cutting through the material also reduce the material? Did all scholarship do that? What business was I getting into, anyway? I did feel a little fierce about the dissertation too. I might need to defend my chosen author; my own dissertation director thought one of my author&#039;s comedies wasn&#039;t funny. Grrr. I hadn&#039;t quite finished the dissertation yet, but already I was mentally shifting some of its emphases; I had sort of nervous feelings that some of the stuff shoved into footnotes might be better as a chapter and that one of the chapters might be better in footnotes. I also felt that I understood better what cultural context my author&#039;s work had expressed and contributed to than what cultural context it had contended against and replaced. 

My &#147;boredom&#148; disappeared as I thought these questions over; I figured that talking about some of these things <em>was </em>talking about my scholarship. And once I rephrased the word &#147;scholarship&#148; as two questions&#151;what was I writing about, and what I had discovered through the reading I did to write about it?&#151;I felt I was ready to do the most important thing a candidate must do, which is not only to anticipate and respond to the interviewer&#039;s questions but also, or more important, to ask and answer one&#039;s own questions. 

How should you talk about the scholarship? Any or all of the following suggestions may be relevant in an interview: 
<ul type="DISC">
<li>Recall the history of your choices: how did you become interested, how did you decide on focus, what did you put to one side for later attention? </li>
<li>Review both your knowledge and your ignorance: what have you discovered, what do you still want to know about your areas of interest? The latter may be as interesting to your interviewers, as evocative of your distinctiveness as the former. </li>
<li>Find some words to describe the direction of your project: are you discovering new material? asking a new question? applying a new technique? defending a position? rearguing for an older position, idea, or author? Are you producing new knowledge, or are you synthesizing, diffusing, refining, or combining knowledge? </li>
<li>Ask yourself what things you love about the enterprise: defining the literary style of another? defining one for yourself? making your purposeful footsteps in the world&#039;s libraries and archives? making a connection between two apparently different fields of inquiry or historical periods or ideologies? </li>
</ul>

Don&#039;t expect, of course, to point out all the results of every one of these self-questionings in an interview: the most exasperating part of any interview, as those who have given or taken oral examinations know, is that you can never deliver all you&#039;ve prepared or receive all you sense boiling in the other person. Indeed, your interviewer may even feel it necessary, frustratingly, to divert you in midflow, not because the conversation is going nowhere but because you have responded excellently to one question and he or she wants to hear your response to another question. 

Here are two final questions I assume you all are expecting to be asked, and imagining a response to, because they are at the heart of the enterprise of scholarship: (1) how does your scholarship return to, or arise from, the activity of teaching and (2) what&#039;s next for you in scholarship? 

As you answer the first question, remember that if you&#039;ve been teaching undergraduates, you&#039;ve already experienced both the feeling of conflict from writing and teaching on what seem to be wildly different levels and the elation of finding unexpected applications and inspirations among levels. Your teaching may be generating new potential subfields of interest that you hardly dare call scholarship yet but may someday. Or your scholarship may be making you excited about new angles from which to teach standard courses. A small query is in order here, though. Do we really want to claim all teaching and all scholarship must intersect? I don&#039;t think so. Sometimes scholarship feeds only itself, only the self, the doing of a worthy, a personally compelling work, and not every happy episode in teaching or every idea for the classroom needs to be turned into grist for the publication mill. 

The second question has really has the potential to cause despair doesn&#039;t it? You&#039;re giving your heart&#039;s blood to project A, and already you&#039;re supposed to be en route to project B? Not necessarily. A candidate with scholarly projects lined up in a row from here past the millennium may come across as disciplined and forethoughtful or may be wishfully skating on surfaces. When interview committees ask what&#039;s next, they are really trying to get at two things, I think: have you given serious thought to ways of bringing this project of scholarship into the professional community of critical readers and, frankly, have you liked scholarly inquiry and communication well enough to want to keep doing it, either in the same field of inquiry or in another one&#151;an adjacent one or even a totally new one? 

So&#151;how to talk about your scholarship? With the confidence of an expert on your particular project or direction of inquiry. With the aroused curiosity of someone who has found not all the answers but the right way of asking your question. With, above all, enjoyment. 


<em>The author is Professor of English and Chair of the English Department at Boston College and member of the ADE Executive Committee. This paper was presented at the 1994 MLA convention in San Diego.</em>


&#169; 1995 by the Association of Departments of English. All Rights Reserved.
