<style>
div.top {border: 1px solid #cccccc; font-weight:bold; }
div.head {color: #ffffff; background:[[color1]]; text-align:center; padding:4px;}
ul {list-style-type: none;}
ul.navigation li {padding-top: 10px;}
ul.navigation {list-style-type: square;}
</style>

<h1>Career Resources</h1>
<div class="top" width="100%">
	<div class="head">Contents by Topic</div>
	<ul class="navigation">
		<li><a href="#careerandjob">Career and Job Market Information</a></li>
		<li><a href="#infoandguide">The Job Search: Information for Job Seekers and Hiring Departments</a></li>
		<li><a href="#andandadfl">ADE and ADFL Online Job Counseling</a></li>
	</ul>
</div>
	 
<a name="careerandjob"></a><h2>Career and Job Market Information</h2>
<h3>DATA</h3>
<ul>
<a href="/jilreport201213" >Report on the MLA <i>Job Information List</i>, 2012-13</a>[[[docstudio filetype_tag_pdf]]]
<li><a href="/jilreport201112"  target="_blank">Report on the MLA <i>Job Information List</i>, 2011-12</a>[[[docstudio filetype_tag_pdf]]]</li> 
<li><a href="/data_humanities">Data on Humanities Doctorate Recipients and Faculty Members by Race and Ethnicity</a></li>
<li><a href="/sed_report">Reports on the Surveys of Earned Doctorates</a></li>
<li><a href="/surveys_phdplacement">MLA Surveys of PhD Placement</a></li>
<li><a href="http://www.ade.org/reports/Rpt_2004SHD_ADE_138-39.pdf">Report on the MLA's 2004 Survey of Hiring Departments</a>[[[docstudio filetype_tag_pdf]]]</li>
</ul>

<h3>ARTICLES AND GUIDES</h3>
<ul>
<li><a href="/advice_grad">Advice to Graduate Students: From Application to Career</a></li>
<li><a href="/rethinking_degree">Rethinking the Master's Degree in English for a New Century</a></li>
<li><a href="/gdp_intro">Guide to Doctoral Programs in English and Other Modern Languages</a></li>
<li><a href="/professionalization">Professionalization in Perspective: Report from the MLA Ad Hoc Committee on the Professionalization of PhDs</a></li>
<li><a href="/studyguide">Self-Study Guide for Doctoral Programs</a></li>
<li><a href="/prof_employment">Committee on Professional Employment: Final Report</a></li>
</ul>

<a name="infoandguide"></a><h2>The Job Search: Information for Job Seekers and Hiring Departments</h2>
<ul>
<li><a href="/jil_jobseekers_cen">Administrations Censured by the American Association of University Professors</a></li>
<li><a href="/jil_jobseekers_che">Checklist for Job Seekers</a></li>
<li><a href="/dis_hiring_guidelines">Disability and Hiring: Guidelines for Departmental Search Committees</li>
<li><a href="/jil_jobseekers_dos">Dos and Don'ts for MLA Convention Interviews</li>
<li><a href="/jil_jobseekers_gen">General Advice for Candidates</a></li>
<li><a href="/jil_jobseekers_caf">Guidelines for Search Committees and Job Seekers on Entry-Level Faculty Recruitment and Hiring</a></li>
<li><a href="/mla_recommendation_o">MLA Recommendation on a Minimum Wage for Full-Time Entry-Level Faculty Members</li>
<li><a href="/mla_recommendation_course">MLA Recommendations on Minimum Per-Course Compensation for Part-Time Faculty Members</li>
<li><a href="/jil_jobseekers_mla">MLA Statements Relevant to the Hiring Process</li>
<li><a href="/jil_jobseekers_mtg">Professional Meetings</li>
<li><a href="/jil_jobseekers_pro"><i>Profession</i> Article: What Search Committees Want</li>
<li><a href="/jil_jobseekers_sou">Sources of Information for Job Candidates in English</li>
<li><a href="/using_sign_language">Using Sign Language Interpreters</li>
</ul>

<a name="andandadfl"></a><h2>ADE and ADFL Online Job Counseling</h2>

<ul>
<li><a href="/about_job_counseling">About ADE and ADFL Online Job Counseling</a></li>
<li><a href="/job_planning">Planning a Career after Graduate School</a></li>
<li><a href="/job_academic">Developing an Academic Career</a></li>
<li><a href="/job_nonacademic">Developing a Nonacademic Career</a></li>
<li><a href="/job_whenwhere">When and Where to Look for an Academic Job</a></li>
<li><a href="/job_dossiers">CVs, Dossiers, Application Letters, Writing Samples, and Portfolios</a></li>
<li><a href="/job_interviews">Interviews, Campus Visits, Job Talks, and Teaching Demonstrations</a></li>
<li><a href="/job_negotiating">Negotiating Special Situations</a></li>
<li><a href="/job_offers">Job Offers</a></li>
</ul>
 
