<h1>Career Planning</h1>
<a href="#Doctoral">Doctoral Programs and Career Opportunities</a>
<a href="#Working">Working as a Graduate Student, Research Assistant, Teaching Assistant</a>
<a href="#Counseling">ADE and ADFL Online Job Counseling</a> 
<a href="#Job">Entering the Job Market</a>

<a name="Doctoral"></a>
<h2>Doctoral Programs and Career Opportunities </h2>
<b>ADFL</b>: <i><a href="/kol_brochure" target="new">Knowing Other Languages Brings Opportunities</a></i>

<b>Committee on Academic Freedom and Professional Rights and Responsibilities</b>: <a href="/pdf_jilcareerinfo_grad" target="other"><i>Career Information for Graduate Students and Junior Faculty Members</i></a>[[[docstudio filetype_tag_pdf]]] (PDF file) and <i><a href="/advice_grad" "target="new">Advice to Graduate Students: From Application to Career</a></i>

<b>Committee on Professional Employment</b>: <i><a href="/studyguide" target="new">Self-Study Guide for Doctoral Programs</a></i> includes articles on graduate admissions, the time it takes to earn a degree, how students can prepare for careers in the academy, strategies for finding a position in academia, and much more.

<b>Committee on the Literatures of People of Color in the United States and Canada</b>:<i> <a href="/rep_guidelines_poc" target="new">Guidelines for Good Practice</a></i> encourages departments of English and foreign languages to continue to broaden the areas of literature, culture, and language in their curricula and describes issues that departments need to address as the number of faculty members of color increases.

<b>Committee on the Status of Women in the Profession</a></b>: The committee strives to act as an advocate for women's interests and as a catalyst for promoting the status of women in the profession. <a href="/rep_women">View the committee's reports</a>.

<a name="Working"></a>
<h2>Working as a Graduate Student, Research Assistant, Teaching Assistant </h2>
<b>Ad Hoc Committee on the Professionalization of PhDs</b>: <i><a href="/professionalization">Final Report</a></i>, on teaching, graduate students' productivity, and work pressure.

<b>Committee on Information Technology</b>: <a href="/rep_it" target="new">Reports and guidelines</a> on technological projects, teaching, and research and on evaluating work with and gaining access to information technology.

<b>Committee on the Status of Graduate Students in the Profession</b>: <a href="/grad_portal_teach" target="new">Links to  teaching resources</a> about curricular and professional issues affecting graduate students. 

<a name="Counseling"></a>
<h2>ADE and ADFL Online Job Counseling</h2>
<a href="/job_counseling" target="new">Articles</a> by over seventy authors--most of them are senior department chairs--on how to plan your career and enter the job market. Each section is supplemented with external links to related articles.

<a name="Job"></a>
<h2>Entering the Job Market</h2>
<b>ADE</a></b>: <i><a href="http://www.ade.org/cgi-shl/docstudio/docs.pl?jil_jobseekers" target="new">Guidelines for Job Seekers and Hiring Departments</a></i> 

<b>Committee on Professional Employment</b>: <i><a href="/prof_employment" target="new">Final Report</a></i>

<b>Committee on the Status of Graduate Students in the Profession</b>: <a href="/grad_portal_job" target="new">Links to resources</a> related to the job search.

<b><i><a href="/jil">Job Information List</a target="new"></a></i></b>
This service is available to member departments only. You will need your department ID and password to log on. The publicly accessible page "<a href="/jil_career " target="new">Career and Job Market Information</a>" contains the following documents:
<ul><li><i><a href="http://www.mla.org/resources/jil/jil_career/jil_phd_survey" target="new">Findings from the MLA Surveys of PhD Placement, 1977 to 1997</a></i>. Ten surveys of PhD-granting departments in the United States on placements of their graduates in English, foreign languages, comparative literature, linguistics, and classics.</li>
</br>
<li><i><a href="http://www.mla.org/pdf/jil_careerinfo_grad.pdf" target="new">Career Information for Graduate Students and Junior Faculty Members</a></i>&nbsp;<img src="/IMAGES/filetype_pdf.gif" width="10" height="13" alt="PDF"> (PDF file). On doctoral study, the job market, work in language and literature, the number of positions in the October <i>JIL</i>, the percentage of listings in the English and foreign language editions of the October <i>JIL</i> (up to 2000).</li></ul>

 
