<h1>Committee on Community Colleges</h1>
Function: Working through June 2015, will consider a range of issues that affect modern language teachers in two-year colleges, e.g., conditions of employment, staffing, curriculum, articulation with secondary schools and four-year institutions, and the preparation and recruitment of faculty members.

Staff liaisons: David Goldberg and David Laurence (<a href="mailto:ccc@mla.org">ccc@mla.org</a>)


Susannah Mary Chewning, 2012–14; 2013–14 (Ch.)
Arturo Davila-Sanchez, 2011–14
Frederick L. De Naples, 2013–16
Philip Goldstein, 2012–15
Annemarie E. Hamlin, 2012–15
Sarah Harmon, 2013–16
Lori Angela Lammert, 2012–15

 
