<h1>Will there be any corrections in the next printing of the <I>MLA Style Manual</I>?</h1>
Yes. The following corrections will be made in the next printing. The corrections have already been included in the large-print edition except for the ones in 3.6.10.

<b>Preface:</b> The acknowledgments will recognize the chair of the copyright committee of the Association of American University Presses; the name of the organization is given incorrectly in the first printing.

<b>3.6.10:</b> The names “Angel Del Río” and “Sinues de Marco, María del Pilar” are each missing an acute accent. They should read “Ángel Del Río” and “Sinués de Marco, María del Pilar.”

<b>3.7.6:</b> Greek lambdas were inadvertently substituted for Cyrillic els in the example texts. The examples will read as follows in the next printing:

<img src="/IMAGES/376.gif" width="500" height="324" border="0" align="top" hspace="0" vspace="0" alt="type">


<b>6.6.8:</b> The Felstiner example contains several errors. Here is the corrected example:

<img src="/IMAGES/felstiner.gif" width="491" height="52" border="0" align="top" hspace="0" vspace="0" alt="type">

<b>6.6.12:</b> In the seventh line on page 199, a comma will follow the word <I>name</i>.

<b>6.7.4:</b> The cited book review by Evangelista appears in volume 48 of <em>Victorian Studies</em>, not 46.

<b>6.7.4:</b> The Tolson example omits the word <I>early</i>. This is the corrected example:

<img src="/IMAGES/tolson.gif" width="474" height="95" border="0" align="top" hspace="0" vspace="0" alt="type">

<b>6.8.7 and 7.4.4:</b> The examples for television and radio broadcasts have a punctuation error. The place of the broadcast and its date should be connected by a comma, as in 6.8.1.
