<h1>Guidelines for Evaluating Work with Digital Media in the Modern Languages (archived)</h1>

[[[@if ($searcharg{ot} ne 'letterhead')]]]
<table style="float: right">
 <tr>
  <td class="icon"><a href="/[[[searcharg file]]]?ot=letterhead" target="_blank"><img src="/IMAGES/program_print.gif" id="show-btn" border="0" alt="Printer friendly" /></a></td>
  <td><a href="/[[[searcharg file]]]?ot=letterhead" target="_blank">Printer Friendly</a></td>
 </tr>
</table>
[[[@endif]]]
<h2>Introduction</h2>

The following guidelines, which deal with the hiring, reappointment, tenure, and promotion processes, are designed to help departments and faculty members implement effective evaluation procedures.

Digital media have created new opportunities for scholarship, teaching, and service, as well as new venues for research, communication, and academic community. Information technology is an integral part of the intellectual environment for a growing number of humanities faculty members. Moreover, digital media have expanded the scope of textual representation and analysis to include, for example, image and sound. These innovations have considerably broadened the notion of "text" and "textual studies," the traditional purview of modern language departments.

While the use of computers in the modern languages is not a new phenomenon, the popular success of information networks like the World Wide Web, coupled with the proliferation of advanced multimedia tools, has resulted in an outpouring of critical publications, applied scholarship, and curricular innovation. Humanists are not only adopting new technologies but are also actively collaborating with technical experts in fields such as image processing, document encoding, and information science. Academic work in digital media should be evaluated in the light of these rapidly changing institutional and professional contexts, and departments should recognize that some traditional notions of scholarship, teaching, and service are being redefined.

Institutions and, when appropriate, departments should develop their own written guidelines so that faculty members engaged in research and teaching with digital media can be adequately and fairly evaluated and rewarded. Institutions should also take care to grant appropriate credit to faculty members for technology projects in teaching, research, and service, while recognizing that because many projects cross the boundaries between these traditional areas, faculty members should receive proportionate credit in more than one relevant area for their intellectual work. Written guidelines must provide clear directions for appointment, reappointment, merit increases, tenure, and promotion and should take into consideration the growing number of resources for evaluating digital scholarship. New guidelines for reappointment, tenure, and promotion appear regularly. The Committee on Information Technology recommends that those persons interested in such guidelines search for documents on evaluating work with digital media at comparable institutions. A keyword search in the .edu or .org domain might include <I>technology</i> and any of the following: <I>tenure, scholarship, evaluation, promotion, peer review,</i> and so on.

<h2>Guidelines for Appointment, Reappointment, Promotion, and Tenure Committees</h2>
<ol><LI><b>Delineate and Communicate Responsibilities.</b> When chairs and hiring committees seek candidates who have expertise in the use of digital media, explicit reference to such work should be included in job descriptions, and candidates should be apprised of their responsibilities relative to this work. When candidates wish to have work with digital media considered an integral part of their positions, the expectations and responsibilities connected with such work and the recognition given to it should be clearly delineated and communicated to them at hiring.

<LI><b>Engage Qualified Reviewers.</b> Faculty members who work with digital media should have their work evaluated by persons knowledgeable about the use of these media in the candidate's field. At times this may be possible only by engaging qualified reviewers from other institutions.

<LI><b>Review Work in the Medium in Which It Was Produced.</b> Since scholarly work is sometimes designed for presentation in a specific medium, evaluative bodies should review faculty members' work in the medium in which it was produced. For example, Web-based projects should be viewed online, not in printed form.

<LI><b>Seek Interdisciplinary Advice.</b> If faculty members have used technology to collaborate with colleagues from other disciplines on the same campus or on different campuses, departments and institutions should seek the assistance of experts in those other disciplines to assess and evaluate such interdisciplinary work.

<LI><b>Stay Informed about Accessibility Issues.</b> Search, reappointment, promotion, and tenure committees have a responsibility to comply with federal regulations and to become and remain informed of technological innovations that permit persons with disabilities to conduct research and carry out other professional responsibilities effectively.</ol>

<h2>Guidelines for Candidates and Faculty Members</h2>
<ol><li><b>Ask about Evaluation and Support.</b> When candidates for faculty positions first negotiate the terms of their jobs, they should ask how credit for work with digital media in teaching, research, and service will be considered in the reappointment, tenure, and promotion processes. In addition, candidates and faculty members should confirm that they will have institutional support and access to facilities so that they can work creatively and productively with digital media. (See the <a href="/it_support">MLA Guidelines for Institutional Support of and Access to Information Technology for Faculty Members and Students in the Modern Languages</a>.)

<li><b>Negotiate and Document Your Role.</b> Faculty members and job candidates should negotiate their responsibilities and departmental roles in the use, development, and support of information technologies in their teaching, service, and research. Faculty members and candidates for positions that combine administrative and faculty responsibilities, including the development and support of technological infrastructures, must have a clear understanding of how their work will be evaluated.

<li><b>Document and Explain Your Work.</b> Faculty members who work with digital media should be prepared to make explicit the results, theoretical underpinnings, and intellectual rigor of their work. They should be prepared, to the same extent that faculty members in other fields are held accountable, to show the relevance of their work in terms of the traditional areas of teaching, research, and service. You should take particular care to
<ul><li>Describe how your work may overlap or redefine the traditional categories.

	<li>Describe the process underlying the creation of work in digital media (e.g., the creation of infrastructure as well as content).

	<li>Describe new collaborative relationships with other faculty members and students required by your work in digital media.</ul>

Documentation of projects might include recording sources of internal or external funding, awards or other professional recognition, and reviews and citations of the work in print or digital journals.</ol>

The pace of technological change makes it impossible for any one set of guidelines to account completely for the ways digital media and the work done with them is influencing modern languages and literatures. The principle underlying these guidelines is that when institutions seek work with digital media and faculty members express interest in it, the institution must give full regard to this work when faculty members are hired or considered for reappointment, tenure, and promotion.

These guidelines were approved by the MLA Executive Council at its 19-20 May 2000 meeting and were last reviewed by the Committee on Information Technology in November 2002.
