<h1>How do I cite a tweet?</h1>

<p>Begin the entry in the works-cited list with the author’s real name and, in parentheses, user name, if both are known and they differ. If only the user name is known, give it alone.</p>

<p>Next provide the entire text of the tweet in quotation marks, without changing the capitalization. Conclude the entry with the date and time of the message and the medium of publication (<em>Tweet</em>). For example:</p>

<p style="margin-left:4.25em; text-indent:-2.25em;">Athar, Sohaib (ReallyVirtual). “Helicopter hovering above Abbottabad at 1AM (is a rare event).” 1 May 2011, 3:58 p.m. Tweet.</p>

<p>The date and time of a message on <em>Twitter</em> reflect the reader’s time zone. Readers in different time zones see different times and, possibly, dates on the same tweet. The date and time that were in effect for the writer of the tweet when it was transmitted are normally not known. Thus, the date and time displayed on <em>Twitter</em> are only approximate guides to the timing of a tweet. However, they allow a researcher to precisely compare the timing of tweets as long as the tweets are all read in a single time zone.</p>

<p>In the main text of the paper, a tweet is cited in its entirety (6.4.1):</p>

<p style="margin-left:2em;">Sohaib Athar noted that the presence of a helicopter at that hour was “a rare event.”</p>

<p>or</p>

<p style="margin-left:2em;">The presence of a helicopter at that hour was “a rare event” (Athar).</p>
