<h1>Nominations for the DAOC Election</h1>
<@if ($eligible eq "N")>
	<!-- //already voted on this election this year// -->
	<p>
		Our records indicate that you have already made your nominations.  Please contact Carol Zuses (<a href-"mailto:czuses@mla.org">czuses@mla.org</a>) with any questions.
	</p>
	<p>
		<a href="/cn_da_org.htm">Click here to return to the main nominations page</a>.
	</p>
	<p>
		<a href="/da_documents.htm">Click here to return to the Delegate Assembly document area</a>.
	</p>

<@else>

	<p>
	  <script language="javascript">

	function checkCount1() {
		var vcount1 = 0;

		//one person may vote no more than five candidates

		for (var count=0; count<document.form1.elements.length-1; count++) {
			if (document.form1.elements[count].type == 'checkbox') {
				if (document.form1.elements[count].checked == true) {
					vcount1++;
				}
			}
		}

		if (vcount1 > 5) {
			alert("Please nominate no more than five candidates.");
		} else {
			document.form1.submit();
		}
	}

	</script>
	  
</p>
	<p>Click on the boxes next to the names of the delegates you wish to nominate.</p>
	<form action="/FORM_ACTIONS/cn_da_org_eng_rev.htm" method="post" name="form1">
<input type="hidden" name="cn_da_org_english" value="[[[searcharg file]]]"/>
		<input type="hidden" name="plugin" value="cn_da_org"/>
		<input type="hidden" name="db_table" value="CN_NOMINATION"/>
		<input type="hidden" name="admin_emails" value="czuses@mla.org"/>
		<input type="hidden" name="do_next" value="continue"/>

		
	    	<input type="checkbox" name="ENG1" value="Joan C. Dagle" <@if($postarg{ENG1} eq "Joan C. Dagle")>checked<@else><@/if>/> Joan C. Dagle<br/>
		<input type="checkbox" name="ENG2" value="Kevin J. H. Dettmar" <@if($postarg{ENG2} eq "Kevin J. H. Dettmar")>checked<@else><@/if>/> Kevin J. H. Dettmar<br/>    
	    	<input type="checkbox" name="ENG3" value="Holly Jackson" <@if($postarg{ENG3} eq "Holly Jackson")>checked<@else><@/if>/> Holly Jackson<br/>
		<input type="checkbox" name="ENG4" value="Monica F. Jacobe" <@if($postarg{ENG4} eq "Monica F. Jacobe")>checked<@else><@/if>/> Monica F. Jacobe<br/>
	    	<input type="checkbox" name="ENG5" value="Elizabeth M. Richmond-Garza" <@if($postarg{ENG5} eq "Elizabeth M. Richmond-Garza")>checked<@else><@/if>/> Elizabeth M. Richmond-Garza<br/>
		<input type="checkbox" name="ENG6" value="Rebecka Rutledge Fisher" <@if($postarg{ENG6} eq "Rebecka Rutledge Fisher")>checked<@else><@/if>/> Rebecka Rutledge Fisher<br/>
	    	<input type="checkbox" name="ENG7" value="Jennifer Wicke" <@if($postarg{ENG7} eq "Jennifer Wicke")>checked<@else><@/if>/> Jennifer Wicke<br/>
	    	<input type="checkbox" name="ENG8" value="Vershawn Ashanti Young" <@if($postarg{ENG8} eq "Vershawn Ashanti Young")>checked<@else><@/if>/> Vershawn Ashanti Young<br/>

		<img src="/IMAGES/clear.gif" width="1" height="20" alt="">
		<table border="0" cellpadding="5" cellspacing="1" width="100%" bgcolor="<!--color1-->">
			<tr>
				<td align="center" bgcolor="[[color3]]">
					<input type="button" class="button" value="Continue >" onClick="checkCount1();"/>
				</td>
			</tr>
		</table>
	</form>
<@/if>
