<h1>Confirmation</h1>
<p>
Thank you.  Your nominations have been recorded.
</p>
<br/>
<br/>
<!--
<p>
<a href="/cn_da_org">Click here to return to the main nominations page</a>.
</p>
-->
<p>
<a href="/da_documents">Click here to return to the Delegate Assembly document area</a>.
</p>
