<h1>Nominations for the Open-Field Election</h1>
<@if ($eligible eq "N")>
	<!-- //already voted on this election this year// -->
	<p>
		Our records indicate that you have already made your nominations for the open-field election.  You may make no more than five nominations.  Please contact Carol Zuses (<a href-"mailto:czuses@mla.org">czuses@mla.org</a>) with any questions.
	</p>
<!-- 
	<p>
		<a href="/cn_da_org.htm">Click here to return to the main nominations page</a>.
	</p>
	<p>
		<a href="/da_documents.htm">Click here to return to the Delegate Assembly document area</a>.
	</p>
-->
<@else>
	<script language="javascript">

	function checkCount2() {
		var vcount2 = 0;

		//one person may vote no more than five candidates

		for (var count=0; count<document.form1.elements.length-1; count++) {
			if (document.form1.elements[count].type == 'checkbox') {
				if (document.form1.elements[count].checked == true) {
					vcount2++;
				}
			}
		}

		if (vcount2 > 5) {
			alert("Please nominate no more than five candidates.");
		} else {
			document.form1.submit();
		}
	}

	</script>
	<p>
Click on the boxes next to the names of the delegates you wish to nominate.  You may make no more than five nominations.
</p>
	<form action="/FORM_ACTIONS/cn_da_org_opn_rev.htm" method="post" name="form1">
		<input type="hidden" name="cn_da_org_open" value="[[[searcharg file]]]"/>
		<input type="hidden" name="plugin" value="cn_da_org"/>
		<input type="hidden" name="db_table" value="CN_NOMINATION"/>
		<input type="hidden" name="admin_emails" value="czuses@mla.org"/>
		<input type="hidden" name="do_next" value="continue"/>

		<input type="checkbox" name="OPN1" value="Jeffrey R. Di Leo" <@if($postarg{OPN1} eq "Jeffrey R. Di Leo")>checked<@else><@/if>/> Jeffrey R. Di Leo<br/>    
	    	<input type="checkbox" name="OPN2" value="Barbara C. Ewell" <@if($postarg{OPN2} eq "Barbara C. Ewell")>checked<@else><@/if>/> Barbara C. Ewell<br/>
		<input type="checkbox" name="OPN3" value="Emily Hind" <@if($postarg{OPN3} eq "Emily Hind")>checked<@else><@/if>/> Emily Hind<br/>
	    	<input type="checkbox" name="OPN4" value="Janis A. Johnson" <@if($postarg{OPN4} eq "Janis A. Johnson")>checked<@else><@/if>/> Janis A. Johnson<br/>
		<input type="checkbox" name="OPN5" value="Thomas H. Luxon" <@if($postarg{OPN5} eq "Thomas H. Luxon")>checked<@else><@/if>/> Thomas H. Luxon<br/>
	    	<input type="checkbox" name="OPN7" value="Margaret A. Noodin" <@if($postarg{OPN7} eq "Margaret A. Noodin")>checked<@else><@/if>/> Margaret A. Noodin<br/>
		<input type="checkbox" name="OPN8" value="Paul W. Peppis" <@if($postarg{OPN8} eq "Paul W. Peppis")>checked<@else><@/if>/> Paul W. Peppis<br/>
	    	<input type="checkbox" name="OPN9" value="Cathy J. Schlund-Vials" <@if($postarg{OPN9} eq "Cathy J. Schlund-Vials")>checked<@else><@/if>/> Cathy J. Schlund-Vials<br/>
	  	<input type="checkbox" name="OPN10" value="George G. Shuffelton" <@if($postarg{OPN10} eq "George G. Shuffelton")>checked<@else><@/if>/> George G. Shuffelton<br/>
	  	<input type="checkbox" name="OPN11" value="Susan Solomon" <@if($postarg{OPN11} eq "Susan Solomon")>checked<@else><@/if>/> Susan Solomon<br/>
		<input type="checkbox" name="OPN12" value="Joya F. Uraizee" <@if($postarg{OPN12} eq "Joya F. Uraizee")>checked<@else><@/if>/> Joya F. Uraizee<br/>
		<input type="checkbox" name="OPN13" value="Victoria Wolff" <@if($postarg{OPN13} eq "Victoria Wolff")>checked<@else><@/if>/> Victoria Wolff<br/>

		<img src="/IMAGES/clear.gif" width="1" height="20" alt="">
		<table border="0" cellpadding="5" cellspacing="1" width="100%" bgcolor="<!--color1-->">
			<tr>
				<td align="center" bgcolor="[[color3]]">
					<input type="button" class="button" value="Continue >" onClick="checkCount2();"/>
				</td>
			</tr>
		</table>

	</form>
<@/if>
