<h1>Review Your Nominations for the Open-Field Election</h1>

<p>
Please review your  selections carefully.  If you need to change anything, click Edit.  Otherwise, click Finish to submit your nominations for this election.
</p>

<form action="/FORM_ACTIONS/cn_da_org_opn_cfm.htm" method="post" name="form1">
	<input type="hidden" name="cn_da_org_opn_rev" value="[[[searcharg file]]]"/>
	<input type="hidden" name="plugin" value="cn_da_org"/>
	<input type="hidden" name="admin_emails" value="czuses@mla.org"/>

	<input type="hidden" name="COMMITTEE_TYPE" value="DA">
	<input type="hidden" name="ELECTION_TYPE" value="OPEN-FIELD">

	<img src="/IMAGES/clear.gif" width="1" height="20" alt="">

	<table border="0" cellpadding="4" cellspacing="1" width="100%" bgcolor="[[color1]]">
		<tr>
			<td bgcolor="[[color3]] width="80%"><b>Nominations for Open-Field Election</b></td>
		</tr>
		<@if ($postarg{OPN1} ne "")>
			<tr>
				<td bgcolor="#ffffff" width="80%">
					[[[postarg OPN1]]]
				</td>
			<tr>
		</@if>
		<@if ($postarg{OPN2} ne "")>
			<tr>
				<td bgcolor="#ffffff" width="80%">
					[[[postarg OPN2]]]
				</td>
			<tr>
		</@if>
		<@if ($postarg{OPN3} ne "")>
			<tr>
				<td bgcolor="#ffffff" width="80%">
					[[[postarg OPN3]]]
				</td>
			<tr>
		</@if>
		<@if ($postarg{OPN4} ne "")>
			<tr>
				<td bgcolor="#ffffff" width="80%">
					[[[postarg OPN4]]]
				</td>
			<tr>
		</@if>
		<@if ($postarg{OPN5} ne "")>
			<tr>
				<td bgcolor="#ffffff" width="80%">
					[[[postarg OPN5]]]
				</td>
			<tr>
		</@if>
		<@if ($postarg{OPN6} ne "")>
			<tr>
				<td bgcolor="#ffffff" width="80%">
					[[[postarg OPN6]]]
				</td>
			<tr>
		</@if>
		<@if ($postarg{OPN7} ne "")>
			<tr>
				<td bgcolor="#ffffff" width="80%">
					[[[postarg OPN7]]]
				</td>
			<tr>
		</@if>
		<@if ($postarg{OPN8} ne "")>
			<tr>
				<td bgcolor="#ffffff" width="80%">
					[[[postarg OPN8]]]
				</td>
			<tr>
		</@if>
		<@if ($postarg{OPN9} ne "")>
			<tr>
				<td bgcolor="#ffffff" width="80%">
					[[[postarg OPN9]]]
				</td>
			<tr>
		</@if>
		<@if ($postarg{OPN10} ne "")>
			<tr>
				<td bgcolor="#ffffff" width="80%">
					[[[postarg OPN10]]]
				</td>
			<tr>
		</@if>
		<@if ($postarg{OPN11} ne "")>
			<tr>
				<td bgcolor="#ffffff" width="80%">
					[[[postarg OPN11]]]
				</td>
			<tr>
		</@if>
		<@if ($postarg{OPN12} ne "")>
			<tr>
				<td bgcolor="#ffffff" width="80%">
					[[[postarg OPN12]]]
				</td>
			<tr>
		</@if>
		<@if ($postarg{OPN13} ne "")>
			<tr>
				<td bgcolor="#ffffff" width="80%">
					[[[postarg OPN13]]]
				</td>
			<tr>
		</@if>
		
	</table>

	<img src="/IMAGES/clear.gif" with="1" height="20" alt="">

	<table border="0" cellpadding="5" cellspacing="1" width="100%" bgcolor="[[color1]]">
		<tr>
			<td align="center" bgcolor="[[color3]]">
				<input type="button" name="go1" value="< Edit" onClick="document.form1.action='/FORM_ACTIONS/<@if ($postarg{cn_da_org_open} ne "")>[[[postarg cn_da_org_open]]]<@else>cn_da_org_open<@/if>';document.form1.submit();"/>
				<input type="button" name="go2" value="Finish >" onClick="document.form1.action='/FORM_ACTIONS/<@if ($postarg{cn_da_org_opn_cfm} ne "")>[[[postarg cn_da_org_opn_cfm]]]<@else>cn_da_org_opn_cfm<@/if>';document.form1.submit();document.form1.go2.value='Please wait...';"/>
			</td>
		</tr>
	</table>

[[[RESULTS hidden_fields]]]
	<input type="hidden" name="do_next" value="">
	<input type="hidden" name="OPN1" value="[[[postarg OPN1]]]"/>
	<input type="hidden" name="OPN2" value="[[[postarg OPN2]]]"/>
	<input type="hidden" name="OPN3" value="[[[postarg OPN3]]]"/>
	<input type="hidden" name="OPN4" value="[[[postarg OPN4]]]"/>
	<input type="hidden" name="OPN5" value="[[[postarg OPN5]]]"/>
	<input type="hidden" name="OPN6" value="[[[postarg OPN6]]]"/>
	<input type="hidden" name="OPN7" value="[[[postarg OPN7]]]"/>
	<input type="hidden" name="OPN8" value="[[[postarg OPN8]]]"/>
	<input type="hidden" name="OPN9" value="[[[postarg OPN9]]]"/>
	<input type="hidden" name="OPN10" value="[[[postarg OPN10]]]"/>
	<input type="hidden" name="OPN11" value="[[[postarg OPN11]]]"/>
	<input type="hidden" name="OPN12" value="[[[postarg OPN12]]]"/>
	<input type="hidden" name="OPN13" value="[[[postarg OPN13]]]"/>
	<input type="hidden" name="OPN14" value="[[[postarg OPN14]]]"/>
</form>
