<h1>Committee on the Literatures of People of Color in the United States and Canada</h1>
Function: Develops projects designed to encourage dialogue across ethnic and racial boundaries and to promote intercultural perspectives on and comparative analyses of the literatures and languages of ethnic groups historically underrepresented in the United States and Canada.

Staff liaisons: Rosemary G. Feal and Douglas Steward (<a href="mailto:clpc@mla.org">clpc@mla.org</a>)

Marcellus Blount, 2012–15
Aureliano DeSoto, 2013–16
Keith Feldman, 2012–14
Sue J. Kim, 2012–15; 2013–15 (Coch.)
Anita Mannur, 2011–14; 2012–14 (Coch.)
Koritha Mitchell, 2013–16
Cheryl L. Suzack, 2012–15
