<h1>Fenia and Yaakov Leviant Memorial Prize in Yiddish Studies Selection Committee</h1>
Function: Selects, every second year and in an alternating fashion, the winner of the prize for an outstanding English translation of a Yiddish literary work or for an outstanding scholarly work in the field of Yiddish (e.g., a cultural study, a critical biography). Committee members are appointed by the Committee on Honors and Awards. Because of recusals, some members may not participate in some judging rounds. Queries for the committee or about the prize should be sent to <a href="mailto:awards@mla.org">awards@mla.org</a>.

Alan Astro, 2011–14
Barbara Mann, 2013–16
Goldie Morgentaler, 2012–14
