<h1>Aldo and Jeanne Scaglione Prize for a Translation of a Literary Work Selection Committee</h1>
Function: Selects, every second year, the winner of the prize for an outstanding translation into English of a book-length literary work. Committee members are appointed by the Committee on Honors and Awards. Committee members are appointed by the Committee on Honors and Awards. Because of recusals, some members may not participate in some judging rounds. Queries for the committee or about the prize should be sent to <a href="mailto:awards@mla.org">awards@mla.org</a>.

Norma Bouchard, 2012–14
Michael Paul Harney, 2011–13
Suzanne Jill Levine, 2013–15
Catharine Theimer Nepomnyashchy, 2011–13; 2013 (Ch.)
Jordan Matthew Stump, 2013–15
