<style type="text/css">
.formTable { border-collapse: collapse; }
.formTable tr th { vertical-align: top; text-align: left; font-weight: bold; font-size: 10px; }
.formTable tr td { vertical-align: top; padding: 4px; border: 1px solid black; }
.formTable tr td table tr td { vertical-align: middle; border: none; padding: 2px; }
</style>
<h1>MLA Committee on Contingent Labor in the Profession</h1>

<h2>Self-Nomination Form</h2>
<@if ($done_already)>
<p>Thank you for your interest in serving on the Committee on Contingent Labor in the Profession.  You have already submitted your self-nomination for appointment to this committee. The self-nomination form will be filled with the answers you previously provided. You may make changes and corrections and submit your updated self-nomination below.</p>
<@else>
<p>Thank you for your interest in serving on the Committee on Contingent Labor in the Profession. Please complete ALL items below. Incomplete nominations will not be considered.</p>

<p>You may have already provided some of the information requested when you last renewed your MLA membership. If so, the self-nomination form will be partially filled with the answers you provided. You may make changes and corrections, but they will NOT be reflected in your membership record.</p>
<@/if>
<p>All information you provide is confidential.</p>

<p>The committee will hold in-person and virtual meetings. For meetings at the MLA office, expenses for travel, meals, and hotel accommodations are assumed by the association.</p>

<form style="margin: 0px; padding: 0px" name="form1" action="commsugg_clip_nominate" method="POST"  onSubmit="return checkText();">


<!--<p><input type="checkbox" name="TRAVEL_NY" value="Y"<@if ($memberdata{TRAVEL_NY} eq 'Y')> checked<@/if>>&nbsp;Yes, I can travel to New York to attend the committee's next in-person meeting on 15–16 September 2011.</p>-->

<input type="hidden" name="FIRST_NAME" value="<@$memberdata{FIRST_NAME}>">
<input type="hidden" name="LAST_NAME" value="<@$memberdata{LAST_NAME}>">
<p><b>Nominated Member:</b> <@$memberdata{FIRST_NAME}> <@$memberdata{LAST_NAME}></p>

<table width="100%" border="1" class="formTable">
	<tr>
		<td width="40%">Please describe your current employment and student status, as of fall 2013.<br /><br /><i>(Check all that apply.)</i></td>
		<td width="60%">
			<table>
			<@loop "EmpStatus_codes">
				<tr>
					<td><input name="EMP_STATUS_CODE_<@col 1>" value="<@col 1>" type="checkbox"<@if ($memberdata{"EMP_STATUS_CODE_$col[1]"} eq $col[1])> checked<@/if> /></td>
	           	<td valign="top"><@col 2></td>
	          	</tr>
			<@/loop>
			</table>
		</td>
	</tr>
	<tr>
		<td>If currently employed, in what sector do you hold your primary job?</td>
		<td>
			<table>
			<@loop "EmpSector_codes">
				<tr>
					<td><input name="EMP_SECTOR_CODE" value="<@col 1>" type="radio"<@if ($memberdata{EMP_SECTOR_CODE} eq $col[1])> checked<@/if> /></td>
					<@if ($col[1] eq '6')>
	           	<td valign="top"><@col 2>&nbsp;&nbsp;<input name="OTH_SECTOR" type="text" value="<@$memberdata{OTH_SECTOR}>" style="width:120px;" maxlength="475" onFocus="if (this.value == 'Please specify') this.value = '';" /></td>
					<@else>
					<td valign="top"><@col 2></td>
					<@/if>
				</tr>
			<@/loop>
			</table>
			<a href="javascript:clear_answer(document.form1.EMP_SECTOR_CODE);" class="s1">Clear selection</a>
		</td>
	</tr>
	<tr>
		<td>What is your current tenure status?</td>
		<td>
			<table>
			<@loop "TenureStatus_codes">
				<tr>
					<td><input name="TENURE_STATUS_CODE" value="<@col 1>" type="radio"<@if ($memberdata{TENURE_STATUS_CODE} eq $col[1])> checked<@/if> /></td>
	           	<td valign="top"><@col 2></td>
				</tr>
			<@/loop>
			</table>
			<a href="javascript:clear_answer(document.form1.TENURE_STATUS_CODE);" class="s1">Clear selection</a>
		</td>
	</tr>
	<tr>
		<td>If you are employed part-time, how many part-time positions do you hold in fall 2013?<br /><br /><i>Skip this question if you are employed full-time.</i></td>
		<td>
			<table>
			<@loop "JobNum_codes">
				<tr>
					<td><input name="JOB_NUM" value="<@col 2>" type="radio"<@if ($memberdata{JOB_NUM} eq $col[2])> checked<@/if> /></td>
					<@if ($col[1] eq "O")>
					<td><@col 2>&nbsp;&nbsp;<input name="OTHER_JOBNUM" type="text" value="<@$memberdata{OTHER_JOBNUM}>" style="width:120px;" maxlength="95" onFocus="if (this.value == 'Please specify') this.value = '';" /></td>
					<@else>
					<td><@col 2></td>
					<@/if>
	          	</tr>
			<@/loop>
			</table>
			<a href="javascript:clear_answer(document.form1.JOB_NUM);" class="s1">Clear selection</a>
		</td>
	</tr>
	<tr>
		<td>Please indicate which of the following most accurately describes the type of contract for the faculty position you currently hold?<br /><br /><i>If you are employed part-time in multiple positions, please choose the position you consider your primary employment.</i></td>
		<td>
			<table>
			<@loop "ContractType_codes">
				<tr>
					<td><input name="CONTRACT_TYPE" value="<@col 2>" type="radio"<@if ($memberdata{CONTRACT_TYPE} eq $col[2])> checked<@/if> /></td>
					<@if ($col[1] eq "Multi")>
					<td><@col 2><br />Multi-year contract is for <input name="CONTRACT_YEAR_NUM" type="text" value="<@$memberdata{CONTRACT_YEAR_NUM}>" style="width:24px;" maxlength="2" onFocus="if (this.value == '#') this.value = '';" /> years.<td>
					<@else>
					<td><@col 2></td>
					<@/if>
	          	</tr>
			<@/loop>
				<tr>
					<td colspan="2"><input name="OTHER_CONTRACT" type="text" value="<@$memberdata{OTHER_CONTRACT}>" style="width:100%;" maxlength="165" onFocus="if (this.value == 'Specify') this.value = '';" /></td>
				</tr>
			</table>
			<a href="javascript:clear_answer(document.form1.CONTRACT_TYPE);" class="s1">Clear selection</a>
		</td>
	</tr>
	<tr>
		<td>Are non-tenure-track faculty members unionized on any campus where you are employed as a non-tenure-track faculty member?</td>
		<td>
			<table>
			<@loop "Unionize_codes">
				<tr>
					<td><input name="UNIONIZE" value="<@col 1>" type="radio"<@if ($memberdata{UNIONIZE} eq $col[1])> checked<@/if> /></td>
					<td><@col 2></td>
				</tr>
			<@/loop>
			</table>
			<a href="javascript:clear_answer(document.form1.UNIONIZE);" class="s1">Clear selection</a>
		</td>
	</tr>
	<tr>
		<td>How many years have you held your current faculty position, under whatever contract conditions?<br /><br /><i>If employed part-time and you hold multiple positions, please describe the postsecondary teaching position you have held longest.</i></td>
		<td>
			<table>
			<@loop "PositionYears">
				<tr>
					<td><input name="POSITION_YEAR_NUM" value="<@col 2>" type="radio"<@if ($memberdata{POSITION_YEAR_NUM} eq $col[2])> checked<@/if> /></td>
					<td><@col 2></td>
				</tr>
			<@/loop>
			</table>
			<a href="javascript:clear_answer(document.form1.POSITION_YEAR_NUM);" class="s1">Clear selection</a>
		</td>
	</tr>
	<tr>
		<td>How many years have you been employed in contingent (non-tenure-track) faculty positions?<br /><br /><i>Do not count TAships.</i></td>
		<td>
			<table>
			<@loop "ContingentYears">
				<tr>
					<td><input name="CONTINGENT_EMP_YR_NUM" value="<@col 2>" type="radio"<@if ($memberdata{CONTINGENT_EMP_YR_NUM} eq $col[2])> checked<@/if> /></td>
					<td><@col 2></td>
				</tr>
			<@/loop>
			</table>
			<a href="javascript:clear_answer(document.form1.CONTINGENT_EMP_YR_NUM);" class="s1">Clear selection</a>
		</td>
	</tr>
	<tr>
		<td>If you hold a part-time faculty position, is your part-time position your only employment?<br /><br /><i>Skip this question if you are employed full-time.</i></td>
		<td>
			<table>
			<@loop "PositionNums">
				<tr>
					<td><input name="POSITION_NUM" value="<@col 1>" type="radio"<@if ($memberdata{POSITION_NUM} eq $col[1])> checked<@/if> /></td>
					<td><@col 1></td>
				</tr>
			<@/loop>
			</table>
			<a href="javascript:clear_answer(document.form1.POSITION_NUM);" class="s1">Clear selection</a>
		</td>
	</tr>
	<tr>
		<td>If you have other employment, what type of employment?<br /><br /><i>Do not count TAships.</i><br /><br /><i>Skip this question if you are a full-time faculty member.</i></td>
		<td>
			<table>
			<@loop "OtherEmployment">
				<tr>
					<td><input name="OTHER_EMP" value="<@col 1>" type="radio"<@if ($memberdata{OTHER_EMP} eq $col[1])> checked<@/if> /></td>
					<td><@col 1></td>
				</tr>
			<@/loop>
				<tr>
					<td colspan="2"><input name="OTHER_EMPLOYMENT" type="text" value="<@$memberdata{OTHER_EMPLOYMENT}>" style="width:100%;" maxlength="165" onFocus="if (this.value == 'Specify') this.value = '';" /></td>
				</tr>
			</table>
			<a href="javascript:clear_answer(document.form1.OTHER_EMP);" class="s1">Clear selection</a>
		</td>
	</tr>
	<tr>
		<td>Which best describes your current employment preference and career objective?</td>
		<td>
			<table>
			<@loop "CareerObjectives">
				<tr>
					<td><input name="CAREER_OBJECTIVE" value="<@col 1>" type="radio"<@if ($memberdata{CAREER_OBJECTIVE} eq $col[1])> checked<@/if> /></td>
					<td><@col 1></td>
				</tr>
			<@/loop>
				<tr>
					<td colspan="2"><input name="OTHER_CAREEROBJECTIVE" type="text" value="<@$memberdata{OTHER_CAREEROBJECTIVE}>" style="width:100%;" maxlength="450" onFocus="if (this.value == 'Specify') this.value = '';" /></td>
				</tr>
			</table>
			<a href="javascript:clear_answer(document.form1.CAREER_OBJECTIVE);" class="s1">Clear selection</a>
		</td>
	</tr>
	<tr>
		<td>What types of courses do you teach or have you taught as a non-tenure-track faculty member?<br /><br /><i>(Check all that apply.)</i></td>
		<td>
			<table>
			<@loop "CourseTypes">
				<tr>
					<td><input name="COURSE_TYPE_<@col 1>" value="<@col 2>" type="checkbox"<@if ($memberdata{"COURSE_TYPE_$col[1]"} eq $col[2])> checked<@/if> /></td>
					<td><@col 2></td>
	          	</tr>
			<@/loop>
				<tr>
					<td colspan="2"><input name="OTHER_COURSETYPE" type="text" value="<@$memberdata{OTHER_COURSETYPE}>" style="width:100%;" maxlength="450" onFocus="if (this.value == 'Specify') this.value = '';" /></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>Note particular qualities or qualifications that would benefit this committee.</td>
		<td><textarea name="QUALIFICATION" onkeypress="return imposeMaxLength(this, 1900);" style="width: 99%; height: 75px;"><@$memberdata{QUALIFICATION}></textarea></td>
	</tr>
	<tr>
		<td>Gender</td>
		<td>
			<table>
			<@loop "Gender_codes">
				<tr>
					<td><input name="GENDER" value="<@col 1>" type="radio"<@if ($memberdata{GENDER} eq $col[1])> checked<@/if> /></td>
					<td><@col 2></td>
				</tr>
			<@/loop>
			</table>
			<a href="javascript:clear_answer(document.form1.GENDER);" class="s1">Clear selection</a>
		</td>
	</tr>
	<tr>
		<td>How do you identify racially and ethnically?<br /><br /><i>(Please check all that apply.)</i></td>
		<td>
			<table>
			<@loop "Race_codes">
				<tr>
					<td><input name="RACE_CODE_<@col 1>" value="<@col 1>" type="checkbox"<@if ($memberdata{"RACE_CODE_$col[1]"} eq $col[1])> checked<@/if> /></td>
					<@if ($col[1] eq "O")>
					<td><@col 2>&nbsp;&nbsp;<input name="OTH_RACE" type="text" value="<@$memberdata{OTH_RACE}>" style="width:120px;" maxlength="95" onFocus="if (this.value == 'Please specify') this.value = '';" /></td>
					<@else>
					<td><@col 2></td>
					<@/if>
	           </tr>
			<@/loop>
			</table>
		</td>
	</tr>
	<tr>
		<td>What is the highest degree you hold?</td>
		<td>
			<table>
			<@loop "Degree_codes">
				<tr>
					<td><input name="DEGREE" value="<@col 2>" type="radio"<@if ($memberdata{DEGREE} eq $col[2])> checked<@/if> /></td>
					<@if ($col[1] eq "Other")>
					<td><@col 2>&nbsp;&nbsp;<input name="OTHER_DEGREE" type="text" value="<@$memberdata{OTHER_DEGREE}>" style="width:120px;" maxlength="165" onFocus="if (this.value == 'Please specify') this.value = '';" /></td>
					<@else>
					<td><@col 2></td>
					<@/if>
	          	</tr>
			<@/loop>
			</table>
			<a href="javascript:clear_answer(document.form1.DEGREE);" class="s1">Clear selection</a>
		</td>
	</tr>
	<tr>
		<td colspan="2" align="center"><input type="submit" name="submit" value=" Submit Nomination "></td>
	</tr>
</table>
</form>

<script language="JavaScript">

function clear_answer(question) {
	for (i=0;i < question.length;i++) {
		question[i].checked=false;
		}
}

function imposeMaxLength(Object, MaxLen)
{
	if (Object.value.length >= MaxLen) {
		Object.value = Object.value.substring(0,MaxLen);
		return false;
	}
	return true;
}


function checkText(){
var badcount = 0;
var errormsg = "";


if(isNaN(document.form1.CONTRACT_YEAR_NUM.value )){
badcount++;
errormsg += '\n' + badcount + ': Multi-year contract year must be numeric.';
}


if (errormsg != "") {
alert(errormsg);
return false;
}
else {
return true;
}

}

</script>
