<h1>Steering Committee on New Structures for Languages in Higher Education</h1>

Function: Working through June 2014, will establish the joint MLA-ADFL outreach program that aims to serve departments and faculty members in languages other than English.  The outreach program will include such elements as a consultancy service; campus visits by field representatives whom the committee will select; special workshops, seminars, or conference presentations on relevant topics (e.g., curricular redesign, assessment); and mechanisms for disseminating MLA and ADFL reports, policies, and guidelines.

Staff liaisons: Rosemary G. Feal and Nelly Furman (<a href="mailto:scnsl@mla.org">scnsl@mla.org</a>)

Dawn E. Bratsch-Prince
Patrick M. Bray
Debra Ann Castillo
Jane Hacking (Coch.)
Catherine Porter (Coch.)
Karin C. Ryding
Timothy Jon Scheie
Lynne Tatlock
