<h1>MLA Award for Lifetime Scholarly Achievement Review Committee</h1>
Function: Solicits from members or generates on its own the names of candidates for the triennial MLA Award for Lifetime Scholarly Achievement; compiles candidates' dossiers; forwards the dossiers of three finalists to the Committee on Honors and Awards (CHA) in the award year. Committee members are appointed by the CHA. Queries for the committee should be sent to <a href="mailto:awards@mla.org">awards@mla.org</a>.

Theodore Joseph Cachey, 2012–14
John David Guillory, 2012–14
Françoise Lionnet, 2012–14 (Ch.)
A. LaVonne Brown Ruoff, 2012–14
Noël Valis, 2012–14
