<h1>MLA Officers and Members of the Executive Council</h1>
Function: The officers and other members of the Executive Council are elected by the MLA membership and have fiduciary and administrative responsibility for the association.

Staff liaison: Carol Zuses (<a href="mailto:governance@mla.org">governance@mla.org</a>)

President: <a href="/hirsch">Marianne Hirsch</a>
First Vice President: <a href="/ferguson">Margaret W. Ferguson</a>
Second Vice President: <a href="/greene">Roland Greene</a>
Executive Director: <a href="/feal">Rosemary G. Feal</a>

Samer M. Ali, 2012–Jan. 2016
Barbara K. Altmann, 2011–Jan. 2015
Jonathan Arac, 2010–Jan. 2014
Lawrence I. Buell, 2010–Jan. 2014
Debra Ann Castillo, 2011–Jan. 2015
Alicia M. de la Torre Falzon, 2013–Jan. 2017
Donald E. Hall, 2013–Jan. 2017
Dorothea Heitsch, 2010–Jan. 2014
María Herrera-Sobek, 2011–Jan. 2015
Lanisa Kitchiner, 2012–Jan. 2016
Lutz Koepnick, 2012–Jan. 2016
Paula M. Krebs, 2013–Jan. 2017
Richard M. Ohmann, 2010–Jan. 2014
Mecca Jamilah Sullivan, 2012–Jan. 2016
