<h1><i>PMLA</i> Advisory Committee</h1>
Function: Reports on articles submitted for publication in <i>PMLA</i>.

Staff liaison: Judy Goulding  (<a href="mailto:pmlaadvisorycommittee@mla.org">pmlaadvisorycommittee@mla.org</a>)  

Susan Z. Andrade, 2011–14
Arturo Arias, 2011–14
Eva Badowska, 2013–16
Emilie L. Bergmann, 2011–14
Patricia Lynn Bizzell, 2011–14
Marcellus Blount, 2012–15
Susan Berry Brill de Ramírez, 2013–16
Martin Joseph Camargo, 2012–15
Julie Ann Carlson, 2012–15
Robert J. Corber, 2013–16
Jenny Davidson, 2012–15
Patrick Michael Erben, 2013–16
Stephen M. Fallon, 2012–15
Grant Farred, 2012–15
Carla A. Freccero, 2011–14
Debjani Ganguly, 2012–15
Rebecca Garden, 2012–15
Susan Gillman, 2013–16
Lauren M. E. Goodlad, 2011–14
Maryemma Graham, 2011–14
Jack Halberstam, 2012–15
Shirley Brice Heath, 2011–14
Donald Hedrick, 2012–15
Rosanne M. Kennedy, 2011–14
Matthew J. Kinservik, 2013–16
Christopher M. Lupke, 2012–15
Jann Matlock, 2013–16
Leerom Medovoi, 2011–14
Brinda J. Mehta, 2012–15
Anuradha Dingwaney Needham, 2011–14
Graziella Parati, 2013–16
Andrew C. Parker, 2013–16
Marta C. Peixoto, 2011–14
Gema Pilar Pérez-Sánchez, 2011–14
Charles A. Perrone, 2013–16
Kevin M. F. Platt, 2013–16
Karlis Racevskis, 2012–15
Ann Marie Rasmussen, 2013–16
José M. Rodríguez García, 2012–15
Gabriele M. Schwab, 2012–15
David R. Shumway, 2013–16
Mihoko Suzuki, 2011–14
Johannes von Moltke, 2013–16
Richard H. Watts, 2011–14
David Joseph Wrisley, 2012–15
