<h1>William Riley Parker Prize Selection Committee</h1>
Function: Selects the winner of the prize for an outstanding article published in <I>PMLA</i> during the preceding academic year. Committee members are appointed by the Committee on Honors and Awards. Because of recusals, some members may not participate in some judging rounds. Queries for the committee or about the prize should be sent to <a href="mailto:awards@mla.org">awards@mla.org</a>.

Nicholas Birns, 2013–15
Seeta Chaganti, 2012–14
David L. Eng, 2011–13
Mary A. Favret, 2012–14
Laura Elizabeth Lyons, 2012–14
