<h1>Program Committee</h1>
Function: Advises the Executive Council on planning for the annual convention; exercises general supervision over divisions and discussion groups; assists the executive director with planning or approving forums and other special events at the convention.

Staff liaisons: Kathleen Fitzpatrick and Maribeth T. Kraus (<a href="mailto:convention@mla.org">convention@mla.org</a>)

R. Kirk Belnap, 2011–14
Anna C. Brickhouse, 2013–16
Malcolm Alan Compitello, 2013–16
Stacey Lee Donohue, 2011–14
Rosemary G. Feal, 2002– (Ch.)
Matthew Fraleigh, 2013–15
Jane Gallop, 2012–15
Devoney Looser, 2011–14
Anjali Prabhu, 2011–14
Brad Prager, 2013–16
Tilottama Rajan, 2012–15
Ramón H. Rivera-Servera, 2013–16
Sharon Aronofsky Weltman, 2012–15
