<h1><i>Profession</i> Advisory Committee</h1>
Function: Reports on articles submitted for publication in <i>Profession</i>.

Staff liaison: Carol Zuses  (<a href="mailto:profession@mla.org">profession@mla.org</a>)  

Maryemma Graham, 2012–13
Jennifer Holberg, 2013–14
Melek Ortabasi, 2013–14
Brian M. Reed, 2013–14
Katina Rogers, 2013–14
