<h1>Elections Committee</h1>
Function: Supervises the nominations and elections to the Delegate Assembly. See the MLA constitution (articles 10.D and 11.B) for details. Committee members are elected by the Delegate Assembly.

Staff liaison: Carol Zuses (<a href="mailto:governance@mla.org">governance@mla.org</a>)

Peter M. Coviello, 2012–13
Gail E. Hawisher, 2013–14
John Wharton Lowe, 2012–13
Laura Elizabeth Lyons, 2012–13; 2013 (Ch.)
Molly Murray, 2013–14
Jill Robbins, 2012–13
Carolyn S. Williams, 2013–14
