<@if ($extjs_compatible ne "Y")>
	<p>
		Sorry, your browser does not support the functionality necessary to submit suggestions. 
		Please upgrade to the most recent version of Internet Explorer, Firefox, or Safari. 
	</p>
	
	<script type="text/javascript"language="javascript">
	function donom(comid,type,display){
		alert('Sorry, your browser does not support the functionality necessary to submit suggestions.');
	}
	</script>
<@else>

	<@eval ($use_extjs = "Y";)>
	
	<script type="text/javascript"language="javascript">

	var preload_loading = new Image();
	preload_loading.src ='/IMAGES/loading-small.gif';

	var RegWin;
	var fs;
	
	Ext.onReady(function(){
	
	 //var usernameRe = new RegExp("A-Za-z0-9-", "gi");
	 Ext.QuickTips.init();
	
		// turn on validation errors beside the field globally
		Ext.form.Field.prototype.msgTarget = 'under';
		fs = new Ext.FormPanel({
			frame: true,
			labelAlign: 'top',
			labelWidth: 85,
			waitMsgTarget: true,
			bodyStyle:'padding:5px 5px 0',
			width: 600,
	
			// configure how to read the XML Data
			reader : new Ext.data.XmlReader({
				record : 'contact',
				success: '@success',
				successProperty: '@success'
			}),
	
			// reusable eror reader class defined at the end of this file
			errorReader: new Ext.form.XmlErrorReader(),

		   items: [{
				layout:'column',
				layoutConfig:{deferredRender:false},
				items:[{
					columnWidth:.5,
					layout: 'form',
					items: [{
						xtype: 'textfield',
						readOnly: true,
						fieldLabel: 'First Name',
						id:'FIRST_NAME',
						name: 'FIRST_NAME',
						allowBlank:false,
						maxLength: 100,
						anchor: '95%',
						blankText:'This field is required.',
						maxLengthText:'The maximum length for this field is 100 characters.'
						}, {
						xtype: 'textfield',
						readOnly: true,
						fieldLabel: 'Affiliation',
						id:'AFFILIATION',
						name: 'AFFILIATION',
						allowBlank:false,
						maxLength: 100,
						anchor: '95%',
						blankText:'This field is required.',
						maxLengthText:'The maximum length for this field is 100 characters.'
						},{
						xtype: 'textarea',
						fieldLabel: 'Area(s) of specialization',
						id:'SPEC_AREA',
						name: 'SPEC_AREA',
						maxLength: 500,
						anchor: '95%',
						maxLengthText:'The maximum length for this field is 500 characters.'
						},{
						xtype: 'textarea',
						fieldLabel: '<br>Major publications and year of publication',
						id:'PUBLICATION',
						name: 'PUBLICATION',
						maxLength: 2000,
						anchor: '95%',
						maxLengthText:'The maximum length for this field is 2000 characters.'
						}]
					},{
					columnWidth:.5,
					layout: 'form',
					items: [{
						xtype: 'textfield',
						readOnly: true,
						fieldLabel: 'Last Name',
						id:'LAST_NAME',
						name: 'LAST_NAME',
						allowBlank:false,
						maxLength: 100,
						anchor: '95%',
						blankText:'This field is required.',
						maxLengthText:'The maximum length for this field is 100 characters.'
						},{
						xtype: 'textfield',
						readOnly: true,
						fieldLabel: 'Rank',
						id:'RANK',
						name: 'RANK',
						allowBlank:false,
						maxLength: 100,
						anchor: '95%',
						blankText:'This field is required.',
						maxLengthText:'The maximum length for this field is 100 characters.'
						},{
						xtype: 'textarea',
						fieldLabel: 'Past service on MLA committees and commissions',
						id:'PAST_MLA_SERVICE',
						name: 'PAST_MLA_SERVICE',
						maxLength: 500,
						anchor: '95%',
						maxLengthText:'The maximum length for this field is 500 characters.'
						},{
						xtype: 'textarea',
						fieldLabel: 'Note particular qualities or qualifications that would benefit this committee',
						id:'QUALIFICATION',
						name: 'QUALIFICATION',
						maxLength: 1500,
						anchor: '95%',
						maxLengthText:'The maximum length for this field is 1500 characters.'
						}]
					}]
				},{
					xtype:'hidden',
					id:'mode',
					name: 'mode',
					hideLabel:true,
					value:''
				},{
					xtype:'hidden',
					id:'MBR_ID',
					name: 'MBR_ID',
					hideLabel:true,
					value:''
				},{
					xtype:'hidden',
					id:'ajax_function',
					name: 'ajax_function',
					hideLabel:true,
					value:'submit'
				},{
					xtype:'hidden',
					id:'ORG_CODE',
					name: 'ORG_CODE',
					hideLabel:true,
					value:''
				},{
					xtype:'hidden',
					id:'com_display',
					name: 'com_display',
					hideLabel:true,
					value:''
				},{
					xtype:'hidden',
					id:'SLOT_CODE',
					name: 'SLOT_CODE',
					hideLabel:true,
					value:''
				},{
					xtype:'hidden',
					id:'slot_display',
					name: 'slot_display',
					hideLabel:true,
					value:''
				},{
					xtype:'hidden',
					id:'NOMINEE_LAST_MEM_YR',
					name: 'NOMINEE_LAST_MEM_YR',
					hideLabel:true,
					value:''
				}]
		});
	
	
		// explicit add
		var submit = fs.addButton({
			text: 'Submit',
			handler: function(){
				fs.form.submit({
					url:'/FORM_ACTIONS/[[[searcharg file]]]', 
					<@if ($docstudio{browser} ne "Explorer")>
						waitMsg:'Submitting suggestion',
					<@/if>
					clientValidation:false,
					success: function(){ updateReg('S'); },
					failure: function(){ updateReg('F'); }
					});
			}
		});
		
		// simple button add
		fs.addButton('Cancel', function(){
			closeReg();
		});
	
		fs.render('Reg-form1');
		
	});
	
	// A reusable error reader class for XML forms
	Ext.form.XmlErrorReader = function(){
		Ext.form.XmlErrorReader.superclass.constructor.call(this, {
				record : 'field',
				success: '@success',
				successProperty: '@success'
			}, [
				'id', 'msg'
			]
		);
	};
	Ext.extend(Ext.form.XmlErrorReader, Ext.data.XmlReader);
	
	function closeReg() {
		RegWin.hide();
	}
	
	function updateReg(status) {
		if (status == 'S') {
			RegWin.hide();
			Ext.MessageBox.alert('Thank You', 'Your suggestion has been submitted.');
			// Reset our form
			document.form1.reset();
			activeDiv.innerHTML = '';
			document.getElementById('ajax_member_results').innerHTML = '';
			var resultsDiv = document.getElementById('ajax_member_results');
			resultsDiv.innerHTML = '';
			resultsDiv.style.height = '2px';
			resultsDiv.style.visibility = 'hidden';
			} else {
			//RegWin.hide();
			Ext.MessageBox.alert('Error', 'Sorry, there was a problem and your suggestion was not submitted.');
			}
	}
	
<@if ($cookie{id} eq "")>
	function donom(comid,comdisplay,slotid,slotdisplay,memdata){
		alert('You are not logged in as an MLA  member.');
		window.location = '/login&xurl=commsugg';
	}

<@else>
	function nominateme() {
		donom({ mem_id:'<@$memData{MEM_ID}>', last_name:'<@$memData{LAST_NAME}>', first_name:'<@$memData{FIRST_NAME}>', af_institution:'<@$memData{AF_INSTITUTION}>', af_rank_dept:'<@$memData{AF_RANK_DEPT}>', latest_paid_yr:'<@$memData{LATEST_PAID_YR}>' });
	}
	
	function donom(memdata,comid,comdisplay,slotid,slotdisplay){
		if (!comid) {
			var opt = document.getElementById('comm_select').options[document.getElementById('comm_select').selectedIndex];
			comid = opt.value;
			comdisplay = opt.text;
			opt = document.getElementById('slot_select').options[document.getElementById('slot_select').selectedIndex];
			slotid = opt.value;
			slotdisplay = opt.text;
			if (comid == 'holder' || slotid == 'holder') {
				Ext.MessageBox.alert('Error', 'Please select a committee and slot for this suggestion before you continue.');
				return;
			}
		}
		
		if (memdata['af_institution'] == '') {
			memdata['af_institution'] = 'N/A';
		} else {
			memdata['af_institution'] = memdata['af_institution'].substring(0,100);
		}
		if (memdata['af_rank_dept'] == '') {
			memdata['af_rank_dept'] = 'N/A';
		} else {
			memdata['af_rank_dept'] = memdata['af_rank_dept'].substring(0,100);
		}
		// always create a new window and update the form
		fs.form.setValues([{id:'MBR_ID', value:memdata['mem_id']}]);
		fs.form.setValues([{id:'LAST_NAME', value:memdata['last_name']}]);
		fs.form.setValues([{id:'FIRST_NAME', value:memdata['first_name']}]);
		fs.form.setValues([{id:'AFFILIATION', value:memdata['af_institution']}]);
		fs.form.setValues([{id:'RANK', value:memdata['af_rank_dept']}]);
		fs.form.setValues([{id:'NOMINEE_LAST_MEM_YR', value:memdata['latest_paid_yr']}]);

		fs.form.setValues([{id:'SPEC_AREA', value:''}]);
		fs.form.setValues([{id:'PAST_MLA_SERVICE', value:''}]);
		fs.form.setValues([{id:'PUBLICATION', value:''}]);
		fs.form.setValues([{id:'QUALIFICATION', value:''}]);
		fs.form.setValues([{id:'ORG_CODE', value:comid}]);
		fs.form.setValues([{id:'com_display', value:comdisplay}]);
		fs.form.setValues([{id:'SLOT_CODE', value:slotid}]);
		fs.form.setValues([{id:'slot_display', value:slotdisplay}]);
		fs.form.clearInvalid();
		
		var winTitle = 'Suggestion for ' + comdisplay + ' - ' + slotdisplay;
		RegWin = new Ext.Window({
			contentEl:'Reg-window',
			layout:'fit',
			title: winTitle,
			width:600,
			plain: true,
			modal: true,
			closeAction:'hide',
			plain: true
		});
		RegWin.show();
	};
	
<@/if>	
	
	</script>	



<@/if>

<style type="text/css">
#nomcontainer .pdiv  ul {margin:0px 0px 0px 0px; padding:0px; list-style-type: disc; list-style-position: outside;}
#nomcontainer .pdiv  ul li {margin:0px 0px 0px 20px; padding:0px;}
#nomcontainer .pdiv dl {margin-top:16px;}
#nomcontainer blockquote { margin:12px 20px 12px 20px; }
#nomcontainer td {padding:4px; }
</style>

<div id="nomcontainer"> <!-- // start container simply to override extjs styles // -->
<h1>Suggestions for Committee Appointments</h1>
<div class="pdiv">
	When it meets in February 2014, the Executive Council will make appointments to sixteen standing committees of the association.  These committees and the outgoing committee members are listed below.  Members are invited to suggest themselves or other members for appointment by clicking on the relevant links below.  You may check a colleague’s MLA membership status using the <a href="/member_search">online member search</a>.
</div>
<div class="pdiv">
	A brief description of each committee’s function is provided when selected below.  Factors relevant to this year’s appointments are also noted.  The slot selections provide additional information about representational categories.  New committee members’ terms will begin on 1 July 2014.
<p>Those interested in committee service should note that, for in-person meetings held at the MLA office, expenses for travel, meals, and hotel accommodations are reimbursed by the association.</p>
</div>
<div class="pdiv">
	Questions about this page should be addressed to Carol Zuses (<a href="mailto:governance@mla.org">governance@mla.org</a>).
</div>
<form name="form1" action="" onSubmit="return false;">
<div class="pdiv" id="step1div">
	<b>Step 1</b>: Select the committee: 
	<blockquote>
		<select name="comm_select" id="comm_select" onChange="handleCommitteeSelection(this)">
			<option value="holder">-- Select --</option>
			<@loop "comm_array">
				<option value="<@col 1>"><@col 2></option>
			<@/loop>
		</select>
		
		<div id="details_holder" style="margin-top:20px;"></div>
		
	</blockquote>
</div>



<div class="pdiv" id="step2div">
	<b>Step 2</b>: Select the slot on the committee: 
	<blockquote>
		<select name="slot_select" id="slot_select" disabled="true">
			<option value="holder">-- Select --</option>
		</select>
	</blockquote>
</div>
<div class="pdiv" id="step3div">
	<b>Step 3</b>: Search the member database for the member you wish to suggest. Click on a name in the search list to suggest that member. To nominate yourself, <a href="javascript:nominateme()">click here</a>.
	<blockquote>
	<table border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td><input type="text" name="firstname" id="ajaxfname" disabled="true"></td>
			<td><input type="text" name="lastname" id="ajaxlname" disabled="true"></td>
			<td><input type="submit" id="ajaxsub" value="Search" onclick="ajaxMemberSearch()" disabled="true"></td>
		</tr>
		<tr>
			<td class="s1">First name</td>
			<td class="s1">Last name</td>
			<td>&nbsp;</td>
		</tr>
	</table>
			
	<div id="ajax_member_results" style="border:1px solid gray;margin-top:12px;padding:8px;visibility:hidden;"><img src="/IMAGES/loading-small.gif" />&nbsp;Loading...</div>
	
	</blockquote>
</div>

</form>

<div id="details_M017" style="display:none">
<div class="pdiv"><b><i>PMLA</i> Editorial Board</b></div>
	<div class="pdiv" style="padding-left:20px;">
<ul>
	<li>Editor; 6 members, 2-year terms.</li>
	<li>Makes final decisions on articles recommended for publication in <i>PMLA</i>. Holds three in-person meetings a year. The board’s meeting dates in 2014–15 are as follows: 9–10 October 2014, 29–30 January 2015, and 7–8 May 2015.</li>
	<li>The field following each person’s name indicates the general area that the council wishes to cover in making the appointment.  The Editorial Board usually considers about twenty-five articles at each meeting.  It also conducts general discussions about the journal and its policies.  Appointees need considerable time to devote to reviewing manuscripts and preparing for discussion.  They should be conscientious and perceptive readers of manuscripts and have wide views of the profession and <i>PMLA</i>.</li>
</ul>


<dl>
<dt>Evelyne Ender, Hunter Coll., City Univ. of New York</dt>
<dd>&nbsp;&nbsp;French or francophone</dd>
<dt>Christopher Looby, Univ. of California, Los Angeles</dt>
<dd>&nbsp;&nbsp;American, including ethnic studies</dd>
<dt>Deidre Shauna Lynch, Univ. of Toronto</dt>
<dd>&nbsp;&nbsp;Anglophone, pre-1800</dd>
</dl>
</div>
</div>

<div id="details_M053" style="display:none">
<div class="pdiv"><b><i>PMLA</i> Advisory Committee</b></div>
	<div class="pdiv" style="padding-left:20px;">
			
<ul>
	<li>45 members, 3-year terms.</li>
	<li>Reports by mail on articles submitted for publication in <i>PMLA</i>.</li>
	<li>The unasterisked field following each person’s name indicates the general area that the council wishes to cover in making the appointment.  Asterisked fields are those that the council covers on a rotating basis; they will be replaced by other fields—by English composition and by applied linguistics and foreign language teaching—this year. Appointees should be conscientious and timely readers of manuscripts and be open to a variety of approaches.</li>
</ul>


<dl>
<dt>Susan Z. Andrade, Univ. of Pittsburgh</dt>
<dd>&nbsp;&nbsp;postcolonial</dd>
<dt>Arturo Arias, Univ. of Texas, Austin</dt>
<dd>&nbsp;&nbsp;Central American, Caribbean, and Mexican</dd>
<dt>Emilie L. Bergmann, Univ. of California, Berkeley</dt>
<dd>&nbsp;&nbsp;Spanish, pre-1800</dd>
<dt>Patricia Lynn Bizzell, Coll. of the Holy Cross</dt>
<dd>&nbsp;&nbsp;rhetoric</dd>
<dt>Carla A. Freccero, Univ. of California, Santa Cruz</dt>
<dd>&nbsp;&nbsp;French, pre-1800</dd>
<dt>Lauren M. E. Goodlad, Univ. of Illinois, Urbana</dt>
<dd>&nbsp;&nbsp;Victorian</dd>
<dt>Maryemma Graham, Univ. of Kansas</dt>
<dd>&nbsp;&nbsp;American, 1900–50</dd>
<dt>Shirley Brice Heath, Stanford Univ.</dt>
<dd>&nbsp;&nbsp;linguistics</dd>
<dt>Rosanne M. Kennedy, Australian National Univ.</dt>
<dd>&nbsp;&nbsp;gender studies*</dd>
<dt>Leerom Medovoi, Portland State Univ.</dt>
<dd>&nbsp;&nbsp;British and American novel, 1950 to the present</dd>
<dt>Anuradha Dingwaney Needham, Oberlin Coll.</dt>
<dd>&nbsp;&nbsp;South Asian*</dd>
<dt>Marta C. Peixoto, New York Univ.</dt>
<dd>&nbsp;&nbsp;South American</dd>
<dt>Gema Pilar Pérez-Sánchez, Univ. of Miami</dt>
<dd>&nbsp;&nbsp;Spanish, post-1800</dd>
<dt>Mihoko Suzuki, Univ. of Miami</dt>
<dd>&nbsp;&nbsp;British Renaissance, excluding Shakespeare</dd>
<dt>Richard H. Watts, Univ. of Washington, Seattle</dt>
<dd>&nbsp;&nbsp;French, post-1800</dd>
</dl>

	</div>
</div>

<div id="details_M026" style="display:none">
<div class="pdiv"><b>Publications Committee</b></div>
	<div class="pdiv" style="padding-left:20px;">
<ul>
	<li>9 regular members, 3-year terms; 1 ex officio member.</li>
	<li>Assesses prospectuses and approves final manuscripts for book publications; consults on policies and priorities for the scholarly communication program; and assists with new initiatives in scholarly communication.  Holds two in-person meetings a year and also works by correspondence.  The committee’s meeting dates in 2014–15 are as follows: 9–10 October 2014 and 9–10 April 2015.</li>
	<li>Because of the importance of these appointments for the development of the MLA’s scholarly communication program, well-established and well-published critics and scholars with vision are needed.  This year, appointments are needed in the fields listed below.</li>
</ul>

<dl>
<dt>Morris E. Eaves, Univ. of Rochester</dt>
<dd>&nbsp;&nbsp;Anglophone, post-1800</dd>
<dt>Kathleen P. Long, Cornell Univ.</dt>
<dd>&nbsp;&nbsp;French or francophone</dd>
</dl>

	</div>
</div>

<div id="details_M012" style="display:none">
<div class="pdiv"><b>Committee on Scholarly Editions</b></div>
	<div class="pdiv" style="padding-left:20px;">
<ul>
	<li>9 members, 4-year terms.</li>
	<li>Works to improve the state of scholarly editing primarily by encouraging and identifying reliable textual work.  Holds one in-person meeting a year and works by correspondence.  The committee’s next in-person meeting is scheduled for 5 September 2014.</li>
</ul>


<dl>
	<dt>Zachary Lesser, Univ. of Pennsylvania</dt>
		<dd>&nbsp;&nbsp;English, pre-1700</dd>
	<dt>Jesús Rodríguez-Velasco, Columbia Univ.</dt>
		<dd>&nbsp;&nbsp;Spanish</dd>
	<dt>Susan Schreibman, Trinity Coll. Dublin</dt>
		<dd>&nbsp;&nbsp;20th-century English</dd>		
</dl>

	</div>
</div>

<div id="details_M003" style="display:none">
<div class="pdiv"><b>Advisory Committee on the <i>MLA International Bibliography</i></b></div>
	<div class="pdiv" style="padding-left:20px;">
<ul>
	<li>7 members, 3-year terms.</li>
	<li>Assesses the direction and philosophy of the bibliography; advises on policies and procedures for compiling and producing the bibliography; aids in identifying and recruiting bibliographers from the academy.  Holds one in-person meeting a year and handles some business by correspondence.  The committee’s next in-person meeting is scheduled for 17–18 November 2014.</li>
	<li>Most members of this committee are field bibliographers, whose familiarity with indexing allows them to carry out the committee’s responsibilities.</li>
	<li>This year, the council is especially interested in receiving suggestions of members who work in the following fields: folklore, Arabic language and literature, Chinese language and literature.</li>
</ul>

<dl>
	<dt>James Raymond Kelly, Univ. of Massachusetts, Amherst</dt>
		<dd>&nbsp;&nbsp;bibliographer (humanities)</dd>
	<dt>Sarah G. Wenzel, Univ. of Chicago</dt>
		<dd>&nbsp;&nbsp;bibliographer (English and Romance literatures)</dd>
</dl>

	</div>
</div>

<div id="details_M019" style="display:none">
<div class="pdiv"><b>Program Committee</b></div>
	<div class="pdiv" style="padding-left:20px;">
<ul>
	<li>12 regular members, 3-year terms; 1 ex officio member.</li>
	<li>Exercises general supervision over divisions and discussion groups and advises the executive director and council on planning the annual convention, including approving forums and other special events.  The executive director, an ex officio member, chairs the committee.  Holds two meetings a year, in mid- to late September and in early May.  Both are normally in-person meetings; the September meeting may be virtual.</li>
	<li>Because special-session proposals deal with an extraordinarily wide range of authors, topics, approaches, and languages, experienced members of the field with broad interests are needed on this committee. This year, appointments are needed in the fields listed below.</li>
</ul>

<dl>
<dt>R. Kirk Belnap, Brigham Young Univ.</dt>
<dd>&nbsp;&nbsp;Middle Eastern</dd>
<dt>Stacey Lee Donohue, Central Oregon Community Coll.</dt>
<dd>&nbsp;&nbsp;writing and literacy studies</dd>
<dt>Devoney Looser, Univ. of Missouri, Columbia</dt>
<dd>&nbsp;&nbsp;British, pre-1800</dd>
<dt>Anjali Prabhu, Wellesley Coll.</dt>
<dd>&nbsp;&nbsp;French or francophone</dd>
</dl>

	</div>
</div>

<div id="details_M054" style="display:none">
<div class="pdiv"><b>Radio Committee</b></div>
	<div class="pdiv" style="padding-left:20px;">
<ul>
<li>8 members, 3-year terms.</li>
	        <li>Oversees the special project, initiated in 1994 by the Executive Council, to produce radio programs designed to convey the usefulness of studying language and literature; selects program topics and participants.  Meets twice a year.</li>
	        <li>Because the radio program deals with an extraordinarily wide range of topics, experienced members of the field with broad interests are needed on this committee.</li>
</ul>

	<dl>
			<dt>Réda Bensmaïa, Brown Univ.</dt>
			<dd>&nbsp;&nbsp;French and francophone literature</dd>

<dt>A. LaVonne Brown Ruoff, Univ. of Illinois, Chicago</dt>
			<dd>&nbsp;&nbsp;Native American literature or another ethnic American literature</dd>

<dt>Katie Trumpener, Yale Univ.</dt>
			<dd>&nbsp;&nbsp;German and film</dd>
</dl>
	</div>
</div>

<div id="details_M052" style="display:none">
	<div class="pdiv"><b>Committee on Honors and Awards</b></div>
	<div class="pdiv" style="padding-left:20px;">
<ul>
	<li>7 members, 3-year terms.</li>
	<li>Oversees the procedures that result in the nomination and determination of those receiving MLA honors and awards; appoints prize selection committees; reviews proposals for honorary members and fellows.  Holds one in-person meeting a year, normally in March.</li>
	<li>One seat is reserved for a representative of a prize selection committee—that is, someone who has served on one of those committees either as a regular member or as chair.</li>
	<li>One seat is reserved for an at-large member—someone who can assist with the evaluation of the credentials of those proposed for honorary membership or honorary fellowship in the association (e.g., specialists in a foreign literature or comparative literature, individuals knowledgeable about the work of foreign scholars).</li>
</ul>


<dl>
	<dt>Sahar Amer, Univ. of North Carolina, Chapel Hill</dt>
		<dd>&nbsp;&nbsp;at-large member (Asian studies)</dd>
	<dt>Marshall J. Brown, Univ. of Washington, Seattle</dt>
		<dd>&nbsp;&nbsp;Parker Prize (comparative literature)</dd>
</dl>

	</div>
</div>

<div id="details_M005" style="display:none">
<div class="pdiv"><b>Committee on Academic Freedom and Professional Rights and Responsibilities</b></div>
	<div class="pdiv" style="padding-left:20px;">
<ul>
	<li>7 members, 3-year terms.</li>
	<li>Initiates projects and publications relevant to academic freedom, professional ethics, and other professional concerns; monitors practices and activities connected with faculty recruitment and promotion; reviews concerns of MLA members but does not intervene in individual grievances; advises on the MLA Job Information Service.  Holds one in-person meeting and at least one virtual meeting each year.  The committee’s next in-person meeting is scheduled for 6–7 October 2014.</li>
	<li>The members of this committee are drawn from different fields, ranks, and types of institution.  Committee members should be familiar with departmental and institutional policies and processes affecting the matters outlined above.  Experience as a department chair or as an administrator is especially helpful to the committee.  This year, one of the two appointees must be a member of the Delegate Assembly.</li>
</ul>


<dl>
	<dt>Susan C. Anderson, Univ. of Oregon</dt>
		<dd>&nbsp;&nbsp;language/literature other than English</dd>
	<dt>David B. Downing, Indiana Univ. of Pennsylvania</dt>
		<dd>&nbsp;&nbsp;English</dd>
</dl>

</div>

</div>

<div id="details_M051" style="display:none">
	<div class="pdiv"><b>Committee on Amendments to the Constitution</b></div>
	<div class="pdiv" style="padding-left:20px;">
<ul>
	<li>5 members, 3-year terms.</li>
	<li>Formulates proposals into amendments when proposals are put forward.  Conducts business by correspondence.</li>
	<li>Traditionally, most members of this committee are current or former members of the Executive Council.</li>
</ul>

<dl>
	<dt>Carlos J. Alonso, Columbia Univ.</dt>
		<dd>&nbsp;&nbsp;Spanish</dd>
</dl>

</div>
</div>

<div id="details_M007" style="display:none">
	<div class="pdiv"><b>Committee on the Literatures of People of Color in the United States and Canada</b></div>
	<div class="pdiv" style="padding-left:20px;">
<ul>
	<li>7 members, 3-year terms.</li>
	<li>Develops projects designed to encourage dialogue across ethnic and racial boundaries and to promote intercultural perspectives on and comparative analyses of the literatures and languages of ethnic groups historically underrepresented in the United States and Canada.  Holds one in-person meeting and at least one virtual meeting each year.  The committee’s next in-person meeting is scheduled for 18–19 September 2014.</li>
	<li>This year’s appointees will cover two of the following fields: Arab American literature, Latina and Latino literature, and literature by South Asian American writers.</li>
</ul>

<dl>
	<dt>Keith Feldman, Univ. of California, Berkeley</dt>
		<dd>&nbsp;&nbsp;Arab American literature</dd>
	<dt>Anita Mannur, Miami Univ., Oxford</dt>
		<dd>&nbsp;&nbsp;Asian American literature</dd>
</dl>


</div>
</div>

<div id="details_M004" style="display:none">
	<div class="pdiv"><b>Committee on the Status of Women in the Profession</b></div>
	<div class="pdiv" style="padding-left:20px;">
<ul>
	<li>7 members, 3-year terms.</li>
	<li>Works to improve the status of women in the modern language profession and to promote women’s studies.  Holds one in-person meeting and at least one virtual meeting each year.  The committee’s next in-person meeting is scheduled for 9–10 October 2014.</li>
	<li>This year’s appointees will be drawn from the field of English, including American, and from French or Spanish or another non-English field.</li>
</ul>


<dl>
	<dt>Julie Candler Hayes, Univ. of Massachusetts, Amherst</dt>
		<dd>&nbsp;&nbsp;French</dd>
	<dt>Rebecka Rutledge Fisher, Univ. of North Carolina, Chapel Hill</dt>
		<dd>&nbsp;&nbsp;English</dd>
</dl>

</div>
</div>

<div id="details_M022" style="display:none">
	<div class="pdiv"><b>Committee on Information Technology</b></div>
	<div class="pdiv" style="padding-left:20px;">
<ul>
	<li>7 members, 3-year terms.</li>
	<li>Initiates projects, publications, and other activities relating to the use of computers and other technologies for teaching and research in the language and literature fields; advises on matters relating to technology.  Holds one in-person meeting and at least one virtual meeting each year.  The committee’s next in-person meeting is scheduled for 16–17 October 2014.</li>
	<li>This year, the council is especially interested in receiving suggestions of members who work in the following fields: writing and literacy studies, language teaching, digital humanities.</li>
</ul>


<dl>
	<dt>Brian Croxall, Emory Univ.</dt>
		<dd>&nbsp;&nbsp;English</dd>
	<dt>Bethany Nowviskie, Univ. of Virginia Library</dt>
		<dd>&nbsp;&nbsp;English</dd>
	<dt>Victoria E. Szabo, Duke Univ.</dt>
		<dd>&nbsp;&nbsp;English</dd></dl>

	</div>
</div>

<div id="details_M037" style="display:none">
	<div class="pdiv"><b>Committee on Disability Issues in the Profession</b></div>
	<div class="pdiv" style="padding-left:20px;">
<ul>
	<li>7 members, 3-year terms.</li>
	<li>Considers the needs and interests of scholars who have disabilities and addresses a variety of related issues, including access to the convention and scholarship in the field of disability studies.  Holds one in-person meeting and at least one virtual meeting each year.  The committee’s next in-person meeting is scheduled for 18–19 September 2014.</li>
	<li>This year’s appointees will be drawn from fields other than English or American.  In addition, the council is especially interested in receiving suggestions of members who are knowledgeable about relevant technologies.</li>
</ul>

<dl>
	<dt>Susan Jennifer Antebi, Univ. of Toronto</dt>
		<dd>&nbsp;&nbsp;Spanish</dd>
	<dt>Jill Marie Bradbury, Gallaudet Univ.</dt>
		<dd>&nbsp;&nbsp;English</dd>
</dl>

	</div>
</div>

<div id="details_M039" style="display:none">
	<div class="pdiv"><b>Committee on Community Colleges</b></div>
	<div class="pdiv" style="padding-left:20px;">
<ul>
	<li>7 members, 3-year terms.  All members of this committee teach at two-year colleges.</li>
	<li>Considers a range of issues that affect modern language teachers in community colleges.  Holds one in-person meeting and at least one virtual meeting each year.  The committee’s next in-person meeting is scheduled for 6–7 November 2014.</li>
	<li>This year, the council is especially interested in receiving suggestions of members who work in the following fields: Pacific Rim languages and literatures, writing and literacy studies, English as a second language.  Potential appointees from California or who have experience as administrators would be especially helpful to the committee.	</li>
</ul>


<dl>
	<dt>Susannah Mary Chewning, Union County Coll., NJ</dt>
		<dd>&nbsp;&nbsp;English</dd>
	<dt>Arturo Davila-Sanchez, Laney Coll., CA</dt>
		<dd>&nbsp;&nbsp;language/literature other than English</dd>
</dl>

	</div>
</div>

<div id="details_M033" style="display:none">
	<div class="pdiv"><b>Committee on the Status of Graduate Students in the Profession</b></div>
	<div class="pdiv" style="padding-left:20px;">
<ul>
	<li>8 members, 3-year terms.  All members of the committee are graduate students.</li>
	<li>Considers a range of curricular, intellectual, and professional issues that affect graduate students in language and literature.  Holds one in-person meeting and at least one virtual meeting each year.  The committee’s next in-person meeting is scheduled for 11–12 September 2014.</li>
	<li>This year, appointments are needed in a non-Romance language/literature and in comparative literature.</li>
</ul>

<dl>
	<dt>Shane Peterson, Washington Univ. in St. Louis</dt>
		<dd>&nbsp;&nbsp;German</dd>
	<dt>Douglas Smith, Concordia Univ.</dt>
		<dd>&nbsp;&nbsp;Spanish</dd>
</dl>

	</div>
</div>

<div id="details_M008" style="display:none">
	<div class="pdiv"><b>Committee on the New Variorum Edition of Shakespeare</b></div>
	<div class="pdiv" style="padding-left:20px;">
<ul>
	<li>7 regular members, 4-year terms; 2 ex officio members.</li>
	<li>Supervises the publication of the New Variorum Edition of Shakespeare.  Holds one in-person meeting a year, normally in late January or early February.</li>
</ul>


<dl>
	<dt>James R. Siemon, Boston Univ.</dt>
		<dd>&nbsp;&nbsp;English</dd>
	<dt>Valerie Wayne, Univ. of Hawai‘i, Mānoa</dt>
		<dd>&nbsp;&nbsp;English</dd>
	<dt>W. B. Worthen, Univ. of Michigan, Ann Arbor</dt>
		<dd>&nbsp;&nbsp;English</dd>
</dl>


</div>
</div>

<div id="details_M056" style="display:none">
<div class="pdiv"><b>Committee on Contingent Labor in the Profession</b></div>
	<div class="pdiv" style="padding-left:20px;">
<ul>
	<li>7 members, 3-year terms.  Most members of the committee hold non-tenure-track appointments (either full-time or part-time).</li>
	<li>Considers a range of issues that affect teachers of modern languages and literatures in institutions of higher education who hold non-tenure-track appointments; collects information useful to individuals and departments; identifies effective policies and practices.  During the year, holds one in-person meeting, normally in September, and at least one virtual meeting.</li>
	<li><b>Only current MLA members who hold non-tenure-track positions may suggest themselves for appointment to this committee.</b> Please click on the link below to access the self-nomination form.</li>
</ul>

<dl>
	<dt>Karen Lentz Madison, Univ. of Arkansas, Fayetteville</dt>
		<dd>&nbsp;&nbsp;English, full-time</dd>
	<dt>Maria Shine Stewart, John Carroll Univ. and Cuyahoga Community Coll., OH</dt>
		<dd>&nbsp;&nbsp;English, part-time</dd>
<p>
<a href="/commsugg_clip_nominate">Self-nomination form for the Committee on Contingent Labor in the Profession</a></p>
</dl>


</div>
</div>

<div id="Reg-window" class="x-hidden" style="background: white;">
<div id="Reg-form1"></div>
</div>

<div id="thanks" class="x-hidden" style="background: white;">Thanks</div>

</div> <!-- // end container // -->

<script language="javascript" type="text/javascript">

var slotArray = new Array;
slotArray['holder'] = new Array;
<@loop "comm_array">
slotArray['<@col 1>'] = new Array;
<@/loop>
<@loop "slot_array">
slotArray['<@col 1>']['<@col 3>'] = '<@col 4>';
<@/loop>

var activeDiv = document.getElementById("details_holder");

function handleCommitteeSelection(sel) {
	// First, show the details for the selected committee
	var selectedID = sel.options[sel.selectedIndex].value;
	var selectedDiv = document.getElementById("details_" + selectedID);
	activeDiv.innerHTML = selectedDiv.innerHTML;
	//activeDiv.style.display = 'none';
	//selectedDiv.style.display = 'inline';
	//activeDiv = selectedDiv;

	var s2Div = document.getElementById('step2div');
	var s3Div = document.getElementById('step3div');

	if (selectedID == 'M056') {
		s2Div.style.display = 'none';
		s3Div.style.display = 'none';
		return;
	} else {
		s2Div.style.display = 'block';
		s3Div.style.display = 'block';
	}
	
	// Next, activate the slot selection with the appropriate options
	var slotSelect = document.getElementById("slot_select");
	slotSelect.disabled = false;
	while (slotSelect.length > 1) {
		slotSelect.remove(1);
	}

	for (slotVal in slotArray[selectedID]) {
		var newOption = document.createElement('option');
		newOption.text = slotArray[selectedID][slotVal];
		newOption.value = slotVal;
		if (slotVal != 'remove' && slotVal != 'indexOf') {
			try {
				slotSelect.add(newOption, null);
			} catch (ex) {
				slotSelect.add(newOption);
			}
		}
		
	var lname_search = document.getElementById('ajaxlname');
	var fname_search = document.getElementById('ajaxfname');
	var sub_search = document.getElementById('ajaxsub');
	lname_search.disabled = false;
	fname_search.disabled = false;
	sub_search.disabled = false;
	
	}
}
function ajaxMemberSearch() {
	var lname_search = document.getElementById('ajaxlname').value;
	var fname_search = document.getElementById('ajaxfname').value;

	if ((lname_search.length < 3 && fname_search.length < 3) || (lname_search.length > 0 && lname_search.length < 3) || (fname_search.length > 0 && fname_search.length < 3)) {

		Ext.MessageBox.alert('Error', 'At least 3 characters are needed for either first or last name to perform an accurate member search.  Please try again.');
		
	} else {

		var conn = new Ext.data.Connection();
		conn.request({
			url: '/FORM_ACTIONS/[[[searcharg file]]]',
			method: 'POST',
			params: { ajax_function: 'member_search', last_name: lname_search, first_name: fname_search },
			success: function(responseObject) {
				ajaxSearchResults(responseObject.responseText);
			},
			failure: function() {
				Ext.Msg.alert('Status', 'Unable to retrieve search results at this time.  Please try again in a moment.');
			}
		});

		var resultsDiv = document.getElementById('ajax_member_results');
		//resultsDiv.innerHTML = 'Member search in progress.  Please stand by for results...';
		resultsDiv.innerHTML = '<img src="/IMAGES/loading-small.gif" />&nbsp;Loading...';
		resultsDiv.style.height = '200px';
		resultsDiv.style.visibility = 'visible';
	}
}

function ajaxSearchResults(responseText) {
	// handle results
	var resultsDiv = document.getElementById('ajax_member_results');
	resultsDiv.innerHTML = responseText;
	if (resultsDiv.scrollHeight > 200) {
		resultsDiv.style.height = '200px';
		resultsDiv.style.overflow = 'auto';
	}

}

function handleMemberSearchResult(res) {
	donom(res);
}


</script>
