<h1>Nominating Committee</h1>
Function: Makes nominations for second vice president and members of the Executive Council. See the MLA constitution (articles 6.C, 8.A, and 11.A) for details. Committee members are elected by the Delegate Assembly.

Staff liaison: Rosemary G. Feal (<a href="mailto:nominating@mla.org">nominating@mla.org</a>)

Peter Brooks, 2012–13
Gail E. Finney, 2012–13
Melissa Gonzalez, 2013–14
Karen Newman, 2013–14
A. LaVonne Brown Ruoff, 2012–13; 2013 (Ch.)
Tyechia Thompson, 2013–14
Katie Trumpener, 2013–14
