<h1>Aldo and Jeanne Scaglione Prize for Comparative Literary Studies Selection Committee</h1>
Function: Selects the winner of the prize for an outstanding scholarly work by a member of the Modern Language Association in the field of comparative literary studies that involves at least two literatures. Committee members are appointed by the Committee on Honors and Awards. Because of recusals, some members may not participate in some judging rounds. Queries for the committee or about the prize should be sent to <a href="mailto:awards@mla.org">awards@mla.org</a>.

Ralph Bauer, 2012–14; 2013 (Ch.)
John Thomas Hamilton, 2013–15
Eric Hayot, 2011–13
