<h1>Advisory Committee on the <i>MLA International Bibliography</i></h1>
Function: Examines and assesses the direction and philosophy of the bibliography; advises the staff on policies and procedures for compiling and producing the bibliography; aids in identifying and recruiting bibliographers from the academy.

Staff liaison: Barbara Chen (<a href="mailto:bibliography@mla.org">bibliography@mla.org</a>)

Laura R. Braunstein, 2013–16
Dawn Childress, 2012–15
James Raymond Kelly, 2011–14; 2012–14 (Ch.)
Shirley Wilson Logan, 2012–15
Sarah G. Wenzel, 2011–14
Phillip Jerrold Wolfe, 2012–15
Carla Zecher, 2013–16
