<h1>Committee on Disability Issues in the Profession</h1>
Function: Considers the needs and interests of scholars who have disabilities and addresses a variety of related issues, including access to the convention and scholarship in the field of disability studies.

Staff liaisons: Karin L. Bagnall and Terrence Callaghan (<a href="mailto:disability.issues@mla.org">disability.issues@mla.org</a>)

Rachel Adams, 2012–15
Susan Jennifer Antebi, 2011–14
Jill Marie Bradbury, 2011–14; 2012–14 (Coch.)
Elizabeth J. Donaldson, 2012–15; 2013–15 (Coch.)
Therí Alyce Pickens, 2013–16
Rebecca Terese Sanchez, 2012–15
George Williams, 2013–16
