<h1>Modern Language Association Prize for a First Book Selection Committee</h1>
Function: Selects the winner of the prize for an outstanding scholarly work published during the previous year as the first book-length publication by a current member of the Modern Language Association. Committee members are appointed by the Committee on Honors and Awards. Because of recusals, some members may not participate in some judging rounds. Queries for the committee or about the prize should be sent to <a href="mailto:awards@mla.org">awards@mla.org</a>.

A. E. B. Coldiron, 2012–13; 2013 (Ch.)
Marsha Suzan Collins, 2013–14
Kevin Michael McLaughlin, 2012–13
Andrew Piper, 2013–14
Karen A. Stolley, 2012–13
