<h1>Committee on the Status of Women in the Profession</h1>
Function: Investigates and reports on the situation of women within the profession; promotes the study and teaching of women's literature.

Staff liaisons: Nelly Furman and Maribeth T. Kraus (<a href="mailto:cswp@mla.org">cswp@mla.org</a>)

Angelika Bammer, 2013–16
Kate Flint, 2012–15
Julie Candler Hayes, 2011–14; 2012–14 (Coch.)
Janice A. Radway, 2013–16
Rebecka Rutledge Fisher, 2011–14
Liana Silva-Ford, 2012–15
Shaden M. Tageldin, 2012–15; 2013–15 (Coch.)
