<h1>Committee on Academic Freedom and Professional Rights and Responsibilities</h1>
Function: Addresses the general conditions of the professional lives of teachers and scholars, including the conditions of their employment and their rights and responsibilities; reviews concerns of MLA members but cannot investigate or intervene in individual grievances; initiates relevant projects and publications; advises on the MLA Job Information Service.

Staff liaisons: Nelly Furman and David Goldberg (<a href="mailto:cafprr@mla.org">cafprr@mla.org</a>)

Susan C. Anderson, 2011–14
Brenda Bethman, 2012–15
Judith Butler, 2012–15; 2013–15 (Ch.)
David B. Downing, 2011–14
Patrick Colm Hogan, 2012–15
Maria Maisto, 2013–16
Sophia A. McClennen, 2013–16

 [[[insert file "filename"]]]
