<h1>Aldo and Jeanne Scaglione Prize for French and Francophone Studies Selection Committee</h1>
Function: Selects the winner of the prize for an outstanding scholarly work by a member of the Modern Language Association in the field of French or francophone linguistic or literary studies. Committee members are appointed by the Committee on Honors and Awards. Because of recusals, some members may not participate in some judging rounds. Queries for the committee or about the prize should be sent to <a href="mailto:awards@mla.org">awards@mla.org</a>.

Daniel Brewer, 2012–14
Robert S. Schwartzwald, 2012–14; 2013 (Ch.)
Andrea W. Tarnowski, 2011–13
