<h1>Morton N. Cohen Award Selection Committee</h1>
Function: Selects, every second year, the winner of the award for a distinguished edition of letters. Committee members are appointed by the Committee on Honors and Awards. Because of recusals, some members may not participate in some judging rounds. Queries for the committee or about the award should be sent to <a href="mailto:awards@mla.org">awards@mla.org</a>.

Jane Everett, 2010–13
Roberta Frank, 2012–15
Susan Imbarrato, 2011–13; 2013 (Ch.)
