<h1>Modern Language Association Prize for a Bibliography, Archive, or Digital Project Selection Committee</h1>
Function: Selects, every second year, the winner of the prize for a bibliography, archive, or digital project. Committee members are appointed by the Committee on Honors and Awards. Because of recusals, some members may not participate in some judging rounds. Queries for the committee or about the prize should be sent to <a href="mailto:awards@mla.org">awards@mla.org</a>.

John H. Pollack, 2011–14
Elaine Treharne, 2013–16
