<h1>Aldo and Jeanne Scaglione Publication Award for a Manuscript in Italian Literary Studies Selection Committee</h1>
Function: Selects the recipients of publication subvention awards for manuscripts in Italian literary studies. Committee members are appointed by the Committee on Honors and Awards. Because of recusals, some members may not participate in some judging rounds. Queries for the committee or about the award should be sent to <a href="mailto:awards@mla.org">awards@mla.org</a>.

Lina N. Insana, 2011–13
Thomas E. Peterson, 2012–14
Arielle Saiber, 2011–13; 2013 (Ch.)
