<h1>A Guide to Accessible Restaurants in Center City Philadelphia</h1>
The following ten restaurants have wheelchair-accessible entrances and have been tested repeatedly by Ann Keefer and Josh Lukin (who have served on the Committee on Disability Issues in the Profession) for the quality of their food. Although none are very “acoustically live” in their experience, it is difficult to judge what the level of ambient noise will be during the MLA convention, when restaurants tend to be very crowded. Directions are given from the Philadelphia Marriott. 
<dl>
	<dt>Aromatic House of Kabob (moderately priced Persian)</dt>
	<dt>113 Chestnut Street, 215 923-4510</dt>
	<dd>Subway ride from 13th Street station to 2nd Street station, then two short blocks south and one short block east.</dd>
</dl>
<dl>
	<dt>Banana Leaf (inexpensive Malaysian)</dt>
	<dt>1009 Arch Street, 215 592-8288</dt>
	<dd>One block north and 1.5 blocks east. <i>Not</i> known for its sushi.</dd>
</dl>
<dl>
	<dt>Caribou Café (moderately priced French)</dt>
	<dt>1126 Walnut Street, 215 625-9535</dt>
	<dd>Four blocks south.</dd>
</dl>
<dl>
	<dt>La Crêperie Café (inexpensive French)</dt>
	<dt>1722 Sansom Street, 215 564-6460</dt>
	<dd>Four blocks west and one block south. Closed Monday and Tuesday evenings.</dd>
</dl>
<dl>
<dt>Karma (moderately priced Indian gourmet)</dt>
<dt>114 Chestnut Street, 215 925-1444</dt>
<dd>Subway ride from 13th Street station to 2nd Street station, then two short blocks south and one short block east.</dd>
</dl>
<dl>
<dt>Kingdom of Vegetarians (very inexpensive Asian)</dt>
<dt>129 N. 11th Street, 215 413-2290</dt>
<dd>One block east and 1.5 blocks north.</dd>
</dl>
<dl>
<dt>Mixto (moderately priced Cuban-Colombian)</dt>
<dt>1141 Pine Street, 215 592-0363</dt>
<dd>Seven blocks south.</dd>
</dl>
<dl>
<dt>Mixx (inexpensive Asian fusion and sushi)</dt>
<dt>1002 Arch Street, 215 923-1180</dt>
<dd>One block north and just under two blocks east. Ideal for lunch.</dd>
</dl>
<dl>
<dt>Rangoon (inexpensive Burmese)</dt>
<dt>112 N. 9th Street, 215 829-8939</dt>
<dd>Three blocks east and just over one block north.</dd>
</dl>
<dl>
<dt>Vietnam Palace (moderately priced Vietnamese)</dt>
<dt>222 N. 11th Street, 215 592-9596</dt>
<dd>One block east and 2.5 blocks north.</dd>
</dl>
