<h1>About Your Donation</h1>

<p>Contributors who donate $50 or more will be recognized in the Presidential Address program, those who donate $200 or more will be listed on the MLA Web site and in the Presidential Address program, and those who donate $500 or more will receive special recognition.</p>

<p>If you wish to have your name omitted from these lists or to add a joint contributor, you will be able to do so when you review your contact information and donation.</p>

<p>If your institution will be matching your contribution and has forms that require information from the MLA, please send them to <a href="mailto:membership@mla.org">membership@mla.org</a> or fax them to 646 576-5160.</p>

<p>Members who wish to include the MLA in their estate planning or to endow a fund are invited to call the executive director at 646 576-5102. </p>

<p style="text-align:center;"><a href="javascript:void(0)" onClick="closeSimpleOverlay()">Return to Donation Form</a></p>
