<h1>Leading Contributors to the MLA</h1>
<b>The following contributors generously donated $500 or more to the various MLA funds during the association’s 2012–13 <a href="/fiscalyearcontribut">fiscal year</a> or the 2013–14 <a href="/fiscalyearcontribut">fiscal year</a>. Find out more about <a href="/contribute">donating to MLA funds</a>.</b>
<style type="text/css"> table.contrib{width: 100%;} td.contrib, td.contribhead, div.contrib {padding-left: 0.5em; padding-right: 0.5em;} td.contribhead {width:50%; height: 28px;} .long{text-indent: -1em; padding-left: 1em;}</style>
<table class="contrib"><tr><td class="contribhead">2012–13</td><td class="contribhead">2013–14</td></tr>
<tr valign="top">[[[comment]]]$500 -- 2012–13[[[endcomment]]]<td  class="contrib">Samer M. Ali
Sarah M. Anderson
Jonathan Arac
Wendy Laura Belcher
Russell A. Berman
Michael Bérubé
Michael Johannes Boehler
Lawrence I. Buell
Ann Bugliani
Judith Butler
Debra Ann Castillo
Rosemary G. Feal
Margaret W. Ferguson
Kathleen Fitzpatrick
Sandra Mortola Gilbert
<div class="long">Gerald Graff and Cathy L. Birkenstein-Graff</div>
Marianne Hirsch
Peter U. Hohendahl
Heath Hutto
Thomas W. Kim
John P. Leavey
Philip E. Lewis
<div class="long">Kara Grace Marler-Kennedy</div>
Max Oppenheimer
Marjorie Gabrielle Perloff 
Catherine Porter
Patricia Roberts-Miller
Nicolas Shumway
Miriam Singer
Sidonie Ann Smith
Silke-Maria Weineck
Kathleen Woodward

and three anonymous donors
</td>
<td class="contrib">[[[comment]]]$500 -- 2013–14[[[endcomment]]]
<div class="long">In Memory of Sidney P. Albert</div>
<div class="long">Houston A. Baker and Charlotte M. Pierce-Baker</div>
Wendy Laura Belcher
Ann Bugliani
Rosemary G. Feal
Kathleen Fitzpatrick
Marilyn Gaddis Rose
Irene Kacandes
Philip E. Lewis
Kara Grace Marler-Kennedy
Raul Marrero-Fente
Yolanda M. Martinez-San Miguel
Catherine Porter
Patricia Roberts-Miller
Catharine Roslyn Stimpson
Kathleen Woodward

and one anonymous donor
</td>
</tr>
</table>

<b>The following contributors generously donated $200 to $499 to the various MLA funds during the association's 2012–13 <a href="/fiscalyearcontribut">fiscal year</a> or the 2013–14 <a href="/fiscalyearcontribut">fiscal year</a>. Find out more about <a href="http://staging.mla.org/contribute">donating to MLA funds</a>.</b>

<table class="contrib"><tr><td class="contribhead">2012–13</td><td class="contribhead">2013–14</td></tr>
<tr valign="top">[[[comment]]]$200 -- 2012–13[[[endcomment]]]<td class="contrib">Leslie A. Adelson
<i>African American Review</i>
Carlos J. Alonso
Barbara K. Altmann
Laird H. Barber
Sandra L. Bermann
Maryellen Bieder
Elizabeth S. Blake
Leo Braudy
Joan L. Brown
Rebecca Weld Bushnell
Edith W. Clowes
David Damrosch
Peter Demetz
Duane DeVries
Anne Donadey
Randall P. Donaldson
Roberta Eisel
Barbara L. Estrin
Doucet Devin Fischer
Anne-Lise François
Marilyn Gaddis Rose
William Germano
Stephen J. Greenblatt
Roland Greene
Donald E. Hall
Pamela Sue Hardman
Jane Harper
Joan E. Hartman
Hugh Hazelton
Dorothea Heitsch
Elizabeth K. Helsinger
Peter Northrup Heydon
Margaret R. Higonnet
Michael Holquist
Florence Howe
Linda Hutcheon
Andreas A. Huyssen
Edward Trostle Jones
Irene Kacandes
Louis Kampf
Thomas Paul Klammer
Lutz Koepnick
Kathleen Lenore Komar
Mary N. Layoun
Vincent Barry Leitch
Herbert S. Lindenberger
Mary Loud
Steven Mailloux
Naomi Iliana Mandel
Raul Marrero-Fente
<div class="long">Yolanda M. Martínez-San Miguel</div>
William J. Maxwell
Sylvia Molloy
Richard M. Ohmann
Curtis A. Perry
Linda Ray Pratt
Gerald Joseph Prince
Mary T. Queen
Alan Rauch
Dana J. Ringuette
Robert J. Rodini
Jeffrey L. Sammons
Lance Schachterle
George Louis Scheper
Joyce A. Scott
Julie E. Singer
Martha Nell Smith
Hortense Jeanette Spillers
Domna C. Stanton
Catharine Roslyn Stimpson
Jan Swearingen 
William Thompson
Helen Hennessy Vendler
Priscilla B. Wald
Cynthia S. Wall
Tim Watson
Timothy F. Weiss
J. Chris Westgate 
Elizabeth Catherine Wright
George T. Wright
Pauline Ruth Yu

and eight anonymous donors</td>
[[[comment]]]$200 -- 2013–14[[[endcomment]]]<td class="contrib">
Zahra A. Hussein Ali
Sarah M. Anderson
Lauren Berlant
David Bleich
Leo Braudy
Joan L. Brown
Rebecca Weld Bushnell
Syndy M. Conger
François Cornilliat
Mary Jane Dickerson
Anne Donadey
William Edward Engel
Doucet Devin Fischer
William Germano
Vicky Gottlieb
Laura Green
Jane Harper
Elizabeth K. Helsinger
Peter Northrup Heydon
Michael Holquist
Louis Kampf
Thomas Paul Klammer
Christopher Kleinhenz
Laura Hanft Korobkin
Lawrence D. Kritzman
Peter H. Leffman
Vincent Barry Leitch
Herbert S. Lindenberger
David C. Lloyd
William J. Maxwell
Stephen G. Nichols
Yoshitaka Niizeki
Marjorie Gabrielle Perloff
R. G. Peterson
Sandy Petrey
Nancy A. Potter
Ato Quayson
Alan Rauch
Dana J. Ringuette
Joyce A. Scott
Priscilla B. Wald
Cynthia S. Wall
Jack Wasserman
Tim Watson
Carolyn S. Williams

and four anonymous donors</td>
</tr>
</table>

<b>The following foundations have generously contributed matching funds during the association's 2012–13 fiscal year.</b>

<div class="contrib">The Teagle Foundation</div>

<b>The following individuals have generously established endowed funds.</b>

<div class="contrib">Morton N. Cohen
<div class="long">The family of Fenia and Yaakov Leviant</div>
Howard R. Marraro
The Lois Roth Endowment
Aldo and Jeanne Scaglione
Joseph and Mimi Singer</div>
