<h1>Procedures for Organizing Meetings at the MLA Convention</h1>
This guide describes the kinds of meetings at the MLA convention and the procedures for organizing them. All correspondence concerning these procedures should be sent to the MLA convention office. The e-mail address for the convention office is <a href="mailto:convention@mla.org">convention@mla.org</a>.

<i>As part of its continuing efforts to make the MLA Annual Convention more responsive to members' needs, at its May 2011 meeting the MLA Executive Council began the process of examining the division, discussion group, and allied organization structures. MLA First Vice President Marianne Hirsch has agreed to convene a small group of members who will study the current structures and make recommendations to the council on how to proceed. The council will then solicit comments from the full membership.

While this study is taking place, over approximately two years, the council will not accept applications for division, discussion group, and allied organization status. Applications submitted before 1 May 2011 will be considered.</i>

<h2>1. Who Can Organize Meetings</h2>
Meetings at the convention are arranged by MLA divisions and discussion groups, individual members, the American Literature Section, allied organizations, and committees of the association.

<h2>2. Guidelines for All Meetings</h2>
<i>Deadlines.</i> Special-session proposals and program-copy forms for divisions, discussion groups, the American Literature Section, MLA committees, and allied organizations must be submitted electronically no later than <i>1 April </i>(<a href="/ssp_menu">www.mla.org/ssp_menu</a>)<i>.</i> Participants in all sessions must be listed on the membership rolls by <i>7 April</i> of the year before the year in which the convention will be held or must have been granted a waiver of membership.

<i>Types of meetings. </i>MLA meetings may be paper-reading sessions, roundtable sessions (which may be electronic), workshops, or special events.

<ul>
<li>Paper-reading sessions feature three to four speakers who give presentations.</li>
<li>Roundtable sessions contain up to eight presenters, including a presider and respondent (optional). Presenters will engage in informal discussion or offer interactive demonstrations, which may be about electronic projects and resources. Electronic roundtables allow attendees to circulate among three to eight stations that will be set up around the meeting room with appropriate audiovisual equipment.</li>
<li>Workshops are intensive discussions led by one or two facilitators. They emphasize participation by all session attendees and aim to develop professional skills or examine professional interests, responsibilities, and proficiencies. There are two types of workshops: those focused on professional development and those focused on professional interests, responsibilities, and proficiencies. Professional-development workshops must be reviewed by the Program Committee.</li>
</ul>
Professional-development workshops will take place during time slots at the beginning of the convention and will require participants to preregister and, in some cases, to pay a fee. These workshops may involve presenters from outside the MLA membership (copyright lawyers, technology consultants, etc.).

Workshops focused on professional interests, responsibilities, and proficiencies will be scheduled throughout the convention. They may focus on pedagogical issues (e.g., teaching students how to evaluate Web resources, teaching the conventions of literary reading), institutional facilitation (preparing dossiers for tenure cases, mentoring graduate students and junior faculty members), disciplinary and administrative issues (academic freedom, departmental governance), and so forth.

Proposals for workshops on professional interests, responsibilities, and proficiencies may be submitted by MLA committees, divisions, and discussion groups as well as by allied organizations; they may also be submitted as special-session proposals by individual members who wish to lead a workshop. Proposals must meet all MLA requirements and follow all required submission procedures.

<ul>
<li>Special events are events such as poetry readings, films, or performances that are of significant interest to some portion of the membership. The MLA executive director, with the assistance of the Program Committee, reviews and approves special events. Divisions, discussion groups, MLA committees, and allied organizations may propose a special event as one of their nonguaranteed sessions. Individual members may also propose such events. See section 7. </li>
</ul>
<i>Membership</i>. While anyone who has registered for the convention may attend sessions, only current MLA members may organize, chair, or participate formally in sessions (i.e., give papers, serve as discussants, or have their names listed in the Program). Participants in MLA sessions must be current MLA members for the year in which their proposed session is submitted. For example, sessions for the 2012 convention will be submitted in 2011. Participants must be members by <i>7 April</i> 2011.

MLA membership runs from 15 January through 14 January of the subsequent year. Individuals who join the MLA to organize or participate in convention sessions must be listed on the membership rolls by <i>7 April</i> of the year before the year in which the convention is to be held. Current MLA members may check the membership status of a session participant by going to <a href="/member_search">www.mla.org/member_search</a>. A member number and password are required to access this members-only section of the MLA Web site.

At the discretion of the executive director, waivers of the membership requirement may be granted for nonscholars and scholars in the United States and Canada who work in disciplines other than language and literature. The request must be made on the Request for Waiver of Membership form. The form must be submitted no later than <i>1 April</i>. Speakers may be granted a waiver once every five years. The speaker’s discipline (history, economics, psychology, etc.) or profession (curator, archivist, attorney, etc.) must be specified on the form. Please note that waived nonmembers cannot organize or chair a session.

<i>Payment for speakers</i>. Each year the MLA Executive Council authorizes limited funds to provide partial assistance to persons who are not MLA members and who would not normally be expected to attend a professional meeting in the ﬁeld of language and literature. Those who are eligible to receive such funds include distinguished persons in fields other than those directly represented by the MLA, creative writers who do not have academic positions, and MLA honorary members and fellows. Requests for such funds must be made on the fund-request form, must be submitted by <i>15 April</i> of the year before the year in which the convention is to be held, and must explain how the participant would enrich the Program.

Limited travel grants for certain participants and attendees who are members may be available. For further information, please visit <a href="/grants">www.mla.org/grants</a>.

<i>Participation in meetings</i>. So that as many members as possible may have the opportunity to be active in convention sessions, a member may be listed only twice in a single convention program. Reading a paper, serving as a roundtable panelist or as a respondent, facilitating a workshop, or presiding at a session leads to a listing in the convention program. The two listings may occur in a single session or in two different sessions. A member may propose only one special session a year. No more than two participants (including the session leader) may be from the same institution unless the institution is a key aspect of the session. 

The Delegate Assembly has approved the policy that there must be a fifteen-minute discussion period at the end of each session; therefore, the Program Committee strongly recommends that there be no more than three principal papers in a paper-reading session. Up to eight participants, including presiders and respondents, and their affiliations may be listed for any roundtable session. If the nature of the session warrants it, a copresenter may be listed for individual presentations in a roundtable session. Workshops are typically led by one or two facilitators.

<i>Length of meetings</i>. All convention meetings other than forums and some workshops last one hour and fifteen minutes; forums last one hour and forty-five minutes; workshops (depending on the type) last either three hours or one hour and fifteen minutes. Fifteen minutes must be left at the end of each session for discussion.

<i>Calls for papers</i>. Calls for papers, which are published on the MLA Web site (<a href="/callsforpapers">www.mla.org/callsforpapers</a>), bring together potential session organizers (be they divisions, discussion groups, the American Literature Section, MLA committees, allied organizations, or individual members) and participants. Calls for papers are simply statements of intent to propose a session; they do not in any way bind the organizer or the Program Committee. 

Calls for papers may be posted online from mid-August until mid-February for the convention held the following January. A calendar of deadlines is available on the MLA Web site (<a href="/conv_deadlines">www.mla.org/conv_deadlines</a>). Calls for papers on the Web site must be limited to thirty-five words, including the title of the session but not counting the name and address of the person placing the announcement. The MLA reserves the right to edit calls for papers submitted to the Web site.

<h2>3. Division Meetings</h2>
The MLA divisions encompass the primary scholarly and professional concerns of the association. Each division may arrange two guaranteed sessions of one hour and fifteen minutes each. Fifteen minutes must be left at the end of each session for discussion. Divisions also have the possibility of organizing up to two additional sessions; proposals will be reviewed by the Program Committee, which will select the additional sessions to be held at the convention. Entities (divisions, discussion groups, the American Literature Section, allied organizations, MLA committees) may submit proposals independently or in collaboration with one other entity, but priority will be given to proposals submitted in collaboration. If a division submits proposals for two nonguaranteed sessions, one proposal must be for a collaborative session. <b>Please note that each entity may submit only one collaborative session.</b>

As an alternative to its regular programs, a division may propose a forum (see sec. 6), perhaps in conjunction with another division, a discussion group, the American Literature Section, an MLA committee, or an allied organization. A division that arranges a forum may also organize one other meeting during the convention.

<i>Executive committee program responsibilities</i>. Division executive committees are responsible for planning division sessions. It is the duty of the chair of the executive committee to handle the details of organizing the session(s) and to prepare copy for the Program. If the chair delegates these responsibilities to another member of the executive committee, the MLA convention office must be notified. Division executive committees are encouraged to experiment with a variety of formats in organizing their sessions. A division session can, for example, present a roundtable, a panel discussion, a workshop, two speakers, or a single speaker who delivers a major address.

Executive committees meet during the convention to select topics for future convention sessions and to transact other business. Immediately after the convention, the secretary of each executive committee (who will have become the chair after the close of that year’s convention and thus will organize the Program for the following year’s convention) must submit electronically a call for papers for at least one of the division’s sessions. The call should include the deadline for submissions, the name of the person to whom papers should be sent, and other pertinent information (see <i>Calls for papers</i> in sec. 2 for more details).

Executive committees may arrange informal social gatherings during the convention for members of their divisions—luncheons, dinners, receptions, or cash bars. When scheduling sessions, the convention office is not able to take into account any off-site events a division may be hosting during convention hours. To prevent conflicts, it is strongly recommended that such off-site events be scheduled after the Program is finalized. Cash bars and receptions that are held in a headquarters hotel will be scheduled during the cash-bar time period (7:00–8:15 p.m. on the Friday and Saturday of the convention). Executive committees should note that there are costs related to holding a social event and that the MLA does not assume financial responsibility for any social event arranged by executive committees.

<i>Selecting topics for division programs</i>. Because division sessions are among the largest convention sessions in terms of scope and attendance, executive committees are urged to plan at least tentative topics for their sessions a year or more in advance. In selecting topics for division sessions, executive committees should keep in mind that divisions represent major areas of membership interest and that their sessions, over a period of years, should attempt to convey the range of interests of the division membership. The MLA convention office maintains electronic files of the last five years of convention programming for each division. Executive committee members may access this information on the MLA Web site.

<i>Selecting speakers</i>. Executive committees may place calls for papers on the MLA Web site (see <i>Calls for papers</i> in sec. 2). The Delegate Assembly approved the Executive Council’s recommendation that each division be required to issue a call for papers for at least one of its sessions each year.

<i>Preparing program copy</i>. The chair is responsible for submitting final copy for the Program to the MLA convention office by the <i>1 April</i> deadline. Chairs are reminded that they must adhere to the guidelines on membership and on payment for speakers (see sec. 2).

<h2>4. Discussion Group Meetings</h2>
Discussion groups are smaller and more specialized than the divisions. Discussion groups may arrange one guaranteed session of one hour and fifteen minutes for the convention. Fifteen minutes must be left at the end of the session for discussion. Discussion groups can also propose up to two additional nonguaranteed sessions; these proposals will be reviewed by the Program Committee, which will select the additional sessions to be held at the convention. Entities (divisions, discussion groups, the American Literature Section, allied organizations, MLA committees) may submit proposals independently or in collaboration with one other entity, but priority will be given to proposals submitted in collaboration. If a discussion group submits proposals for two nonguaranteed sessions, one proposal must be for a collaborative session. <b>Please note that each entity may submit only one collaborative session.</b>

In addition to organizing their regular session(s) each year, discussion groups may propose a forum (see sec. 6), perhaps in conjunction with another discussion group, a division, the American Literature Section, an MLA committee, or an allied organization. 

To assist in the planning of a discussion group’s session(s), the MLA convention office maintains electronic files of the last five years of convention programming for each discussion group. Executive committee members may access this information on the MLA Web site.

<i>Executive committee program responsibilities</i>. A five-member executive committee is responsible for planning the discussion group’s session(s). It is the duty of the chair of the executive committee to handle the details of organizing the session(s), to prepare copy for the Program, and to preside at the guaranteed session. If the chair delegates these responsibilities to another member of the executive committee, the MLA convention office must be notified.

Executive committees meet during the convention to select topics for future convention programs and to transact other business. Immediately after the convention, the secretary of each executive committee (who will have become the chair after the close of that year’s convention and thus will organize the Program for the following year’s convention) may submit electronically a call for papers if he or she wishes.

Executive committees may arrange informal social gatherings during the convention for members of their discussion groups—luncheons, dinners, receptions, or cash bars. When scheduling sessions, the convention office is not able to take into account any off-site events a discussion group may be hosting during convention hours. To prevent conflicts, it is strongly recommended that such off-site events be scheduled after the Program is finalized. Cash bars and receptions that are held in a headquarters hotel will be scheduled during the cash-bar time period (7:00–8:15 p.m. on the Friday and Saturday of the convention). Executive committees should note that there are costs related to holding a social event and that the MLA does not assume financial responsibility for any social event arranged by executive committees.

<i>Selecting speakers</i>. Should the executive committee decide to have an open call for papers, please see <i>Calls for papers</i> in section 2 of this guide for the appropriate information.

<i>Preparing program copy</i>. The chair is responsible for submitting final copy for the Program to the MLA convention office by the <i>1 April</i> deadline. Chairs are reminded that they must adhere to the guidelines on membership and on payment for speakers (see sec. 2).

<h2>5. Special Sessions</h2>
Special sessions differ from guaranteed convention sessions in two ways: (1) they are initiated and organized by individual members to exchange ideas on topics of limited scope; (2) they must be approved by the Program Committee each year. A member may propose only one special session a year. The organizer of the session is responsible both for arranging the session so that at least fifteen minutes are available for discussion and for monitoring the length of presentations. The session format is determined by the organizer; papers may be circulated in advance by the session leader, summarized at the start of the meeting, or delivered by the participants. Roundtable sessions and workshops follow the formats outlined under <i>Types of meetings</i> in section 2.

The Program Committee reviews all valid proposals for special sessions and selects the special sessions to be held at the convention. To be valid, a special-session proposal must be submitted through the MLA Web site no later than <i>1 April</i>. The proposer must be a current MLA member. All session participants must be MLA members or have been granted waivers of membership by <i>7 April</i>. The committee aims to approve sessions on a wide range of subjects and approaches, taking care not to approve too many sessions on the same topic.

<i>Selecting topics for special sessions</i>. Careful selection of a topic is the first step in preparing a good proposal. Topics should be specific enough to be dealt with adequately in the one hour and fifteen minutes allotted. Organizers should always keep in mind the requirement that fifteen minutes be reserved for discussion. Topics such as teaching composition, Proust’s <i>Du côté de chez Swann</i>, or archetypal criticism are too broad. More suitable topics would be new methods of teaching composition in the community college, nature imagery in Proust’s <i>Du côté de chez Swann</i>, or archetypal interpretations of <i>The Scarlet Letter</i>. Because the sessions are specialized, their topics may vary considerably from year to year according to the changing interests of the membership.

<i>Organizing a special session</i>. Session leaders should give careful consideration to their choice of panelists and include in their proposal only the names of panelists who have formally agreed to participate in the session, if it is approved. The organizer must obtain these commitments from panelists <i>before</i> submitting the proposal. All participants must be members of the MLA by <i>7 April</i>. A member may be listed in more than one session proposal. A member who has submitted papers or agreed to be a respondent or a presider for more than two sessions must inform each session organizer, and the organizers should then indicate on their proposals (in the description of the session) who will replace the member if a replacement is necessary. In paper-reading sessions, there should normally be three panelists. In roundtable sessions, there may be up to eight participants, including presiders and respondents. For workshops, there are normally one to two facilitators. A session leader cannot be listed as a panelist unless he or she is delivering a paper or making a presentation. No more than two participants (including the session leader) may be from the same institution, unless the institution is a key aspect of the session (e.g., New Approaches to Beginning Language Teaching at the Monterey Institute). The proposal should include information about the participants, explaining why they are particularly well suited to serve on the panel.

The session leader decides which method of selecting panelists best suits the topic. Some sessions bring together individuals who are known to one another and who are aware of their shared interest in a highly specialized topic; other sessions bring together individuals who are identified with a certain theory, idea, or program and whose collective participation would be of particular interest. Under these circumstances, the session leader would probably approach the three persons who, in his or her view, would contribute most significantly to the session and ask them to serve as panelists. Sometimes, however, a session leader may propose a session precisely for the purpose of seeking out individuals who are actively involved with the topic. The organizer would then issue a call for papers to announce his or her intention to propose a session and invite prospective panelists to express their interest. Members who wish to solicit panelists in this manner should submit electronically a call for papers on the MLA Web site (see <i>Calls for papers</i> in sec. 2). Members who place calls for papers should acknowledge receipt of all responses to the call for papers, notify panelists whether or not their paper has been selected, and notify members whose proposals could not be included in the session.

<i>Preparing a proposal for a special session</i>. The forms to be used in preparing proposals for special sessions, as well as a tour of the special-session-proposal form, examples of successful proposals, and additional information, are available on the MLA Web site. To prepare the form, please use standard typeface no smaller than 12 point. Proposals should have paragraph breaks. Without paragraph breaks, proposals are difficult to read. Members who wish to organize sessions should pay attention to the deadline (<i>1 April</i>) for the submission of proposals. Proposals received after the deadline cannot be considered. Special-session proposals cannot be connected with other proposals. Each special-session proposal will be evaluated separately on its merits by the Program Committee.

A proposal for a special session must be complete to receive proper consideration. It should include (1) the title of the session, (2) a thorough description of and an intellectual rationale for the topic, (3) the names of the session leader and the panelists who will participate and their professional titles and institutions, and (4) complete program copy that includes paper or presentation titles, names of participants, and only one affiliation per person.

(1) The title should reflect the topic and purpose of the meeting. Since titles of sessions are used not only in the indexes to meetings in the Program but also in special-interest mailings to segments of the MLA membership, it is important that they convey what the session is about. Naturalism in Nineteenth-Century Fiction is an apt title for a session dealing with fiction in several languages, but a session focusing on the works of two French novelists might more accurately be titled Naturalism in Novels by Émile Zola and Guy de Maupassant. Similarly, the title Virginia Woolf does not indicate the focus of the session. If the session will treat a theme in one of the author’s works, a more appropriate title might be The Betrayal of Family Relations in Virginia Woolf’s <i>To the Lighthouse</i>.

(2) The description of the topic should include (a) an explanation of the topic and the way in which it will be treated and (b) the rationale for organizing a session on that particular topic and a statement of the way the proposed topic relates to existing scholarship. A brief description of each paper or presentation should be included, but do not send abstracts. Since the Program Committee tries to achieve a balance between sessions on subjects of wide interest and sessions on subjects in which only a few persons are interested, this information is important.

(3) The names, professional titles, and institutions of the session leader(s) and panelists who will participate in the session should be included. Only one institution may be listed for each panelist. A member's name may appear in the program twice (e.g., by chairing a meeting, reading a paper, or serving as a speaker or panelist) at the MLA Annual Convention. No more than two panelists from the same institution may participate in a session. A member may propose and serve as session leader for only one special session a year. A member who has submitted papers or agreed to be a respondent for more than two sessions must inform each session organizer, and the organizers should then indicate on their proposals who will replace the member if a replacement is necessary. Special-session proposals may only be submitted through the MLA Web site on the electronic form provided. Proposals submitted in an e-mail or a paper format cannot be accepted. If all the information requested is not provided, or if the proposal includes the names of persons who are not MLA members by <i>7 April</i> or for whom the membership requirement has not been waived, the proposal will be at a disadvantage. To avoid delays in having their proposals processed, members proposing sessions should verify the membership status and current affiliation of panelists before submitting proposals. You can check membership status by referring to the membership database (<a href="/member_search">www.mla.org/member_search</a>). If the individual’s name does not appear, you can check further by calling the MLA membership office.

Usually only one person serves as session leader. Proposals listing two session leaders should indicate which person should receive correspondence from the MLA convention office concerning the session.

<i>Review by the Program Committee</i>. Each May, the Program Committee meets to review all valid proposals and to select the special sessions to be held at the upcoming convention. The committee approves proposals on the basis of their quality in relation to the others submitted. The committee aims to include sessions on a wide variety of topics and approaches and to distribute its selections among English and foreign languages and literatures; writing; scholarly, professional, and pedagogical subjects; and so on. The committee strives to balance its selections between topics of continuing interest and topics to which little or no attention has been paid. The committee welcomes proposals that allow for a variety of formats, including roundtable discussions and electronic presentations and workshops, provided all other guidelines for special sessions are observed. Organizers are notified in writing of the committee’s decisions.

<i>Approved sessions</i>. Once a session has been approved, its organizer should confirm with panelists their intention to participate and should reiterate what is expected of them. Session organizers should be aware that substantial changes in the list of panelists cited in the proposal could result in cancellation of the approved session, since sessions have been approved on the basis of the proposals submitted. Only changes in affiliation of previously proposed speakers or the names of speakers who are replacing participants who have withdrawn from the session may be noted on the Program proof that the proposer receives in July.

<h2>6. Forums</h2>
Arranged by individual members, divisions, discussion groups, MLA committees, allied organizations, or the American Literature Section, forums are large public meetings on topics of broad general interest. In addition to the main session of one hour and forty-five minutes, a maximum of two linked sessions may be organized to treat specialized aspects of the general topic. No more than four forums, including the Presidential Forum, are arranged for a convention.

The MLA executive director, with the assistance of the Program Committee, is responsible for approving forums for each year’s convention. Any member who wishes to propose a forum—as an individual member, as a representative of a division or discussion group executive committee, or as an officer of an allied organization—is encouraged to get in touch with the executive director (<a href="mailto:execdirector@mla.org">execdirector@mla.org</a>) to discuss their ideas for convention programs for the following year before submitting a formal proposal.

Formal proposals should describe in detail the topic and nature of the proposed forum and explain the number and purpose of linked sessions. The description of the topic, no more than 1,500 words in length, should include an explanation of the topic, the rationale for organizing a forum on that particular topic, and a statement of the way the proposed topic relates to existing scholarship. Forum proposals should also include the title of the forum and each linked session, the names of the forum presider and the presiders at each linked session, and the names of all other participants and their paper titles. Relevant biographical information should be provided for all forum participants as well as their professional affiliations (one for each person). A brief description of each paper or presentation should be included, but do not send abstracts. All speakers must have agreed to participate when the proposal is submitted. If the proposed forum would entail payment of expenses for speakers, an estimate of the cost should also be provided. Eligibility of speakers to receive payment is explained in the general guidelines for all convention meetings (see sec. 2). The total expenditure per forum should not exceed $1,000.

The deadline for submission of proposals is <i>1 April</i>, though organizers are encouraged to submit proposals earlier. The Program Committee will review all proposals and recommend for approval by the executive director those that, in its view, would deal in a productive way with a subject suitable to this format. Members will be notiﬁed of the decision on their proposals after the May Program Committee meeting.

<h2>7. Special Events</h2>
Special events, such as poetry readings, films, or performances, are events of significant interest to some portion of the membership. The MLA executive director, with the assistance of the Program Committee, reviews and approves special events. Proposals for special events should be made on the special-event form (which may be obtained on the MLA Web site) and must be submitted electronically no later than <i>1 April</i>. A special event must be proposed by a current MLA member or be proposed as a nonguaranteed session by a division, a discussion group, the American Literature Section, an allied organization, or an MLA committee. The special event should be described in detail, including how the event will function and who will facilitate the event at the convention. When planning the event, proposers should keep in mind that the MLA uses hotel rooms for sessions. These rooms are set theater-style and may not have a stage, special lighting, or specialized audiovisual equipment beyond what is generally available at the convention.

<h2>8. Allied Organization Meetings</h2>
Allied organizations may arrange one guaranteed session of one hour and fifteen minutes for the convention. Allied organizations can also propose up to two additional nonguaranteed sessions; these proposals will be reviewed by the Program Committee, which will select the additional sessions to be held at the convention. Entities (divisions, discussion groups, allied organizations, the American Literature Section, MLA committees) may submit proposals independently or in collaboration with one other entity, but priority will be given to proposals submitted in collaboration. If an allied organization submits proposals for two nonguaranteed sessions, one proposal must be for a collaborative session. <b>Please note that each entity may submit only one collaborative session.</b> As an alternative to their regular sessions, allied organizations may propose a forum (see sec. 6), perhaps in conjunction with another allied organization, a division, a discussion group, the American Literature Section, or an MLA committee. Allied organizations may arrange informal gatherings during the 8:45–10:00 p.m. time slot on Thursday and Saturday during the convention for business meetings, social events, or informal networking (see sec. 10).

Allied organizations that plan to arrange sessions will be notified when Program-copy forms are available online (usually in February). Calls for papers may be published on the MLA Web site (see <i>Calls for papers</i> in sec. 2). Organizers should confirm with panelists their intention to participate in the session and should reiterate what is expected of them. Organizers are responsible for submitting the appropriate program-copy forms by the deadline (<i>1 April</i>).

Like speakers and panelists for all other meetings at the MLA convention, those who are on the programs of allied organizations must be MLA members (unless the membership requirement has been waived; see sec. 2). Membership in the allied organization is not required by the MLA for participation in convention sessions. Allied social functions that are listed in the Program or on the MLA Web site are open to all persons registered at the convention.

<h2>9. American Literature Section Meetings</h2>
The section’s scholarly and professional concerns cover the full range of American literature. The section may arrange one guaranteed session of one hour and fifteen minutes for the convention. The section can also propose up to two additional nonguaranteed sessions; these proposals will be reviewed by the Program Committee. The Program Committee will select the additional sessions to be held at the convention. Entities (divisions, discussion groups, allied organizations, MLA committees) may submit proposals independently or in collaboration with one other entity, but priority will be given to proposals submitted in collaboration. If the section submits proposals for two nonguaranteed sessions, one proposal must be for a collaborative session. <b>Please note that the section may submit only one collaborative session.</b> If the American Literature Section arranges a forum (with or without linked sessions), it may also organize one other meeting during the convention.

The American Literature Section may arrange an informal social gathering during the convention for members of the section—luncheons, dinners, receptions, or cash bars. When scheduling sessions, the convention office is not able to take into account any off-site events the section may be hosting during convention hours. Cash bars that are held in a headquarters hotel will be scheduled during the cash-bar time period (7:00–8:15 p.m. on the Friday and Saturday of the convention). There are costs related to holding a social event; the MLA does not assume financial responsibility for any social event arranged by the section.

<h2>10. Social Events, Informal Gatherings, and Allied Organization Business Meetings</h2>
<b>On-Site Events</b>
Social events provide an opportunity for informal gatherings of convention attendees. Division and discussion group executive committees, the American Literature Section, MLA committees, and institutional departments and schools, may submit a request to hold an on-site social event during the 7:00–8:15 p.m. time slot on the Friday or Saturday of the convention. 

Approved events will be listed in the Program if a request is submitted by 1 April using the form available on the MLA Web site (<a href="/ssp_menu">www.mla.org/ssp_menu</a>). 

<b>Late-Night Events</b>
Allied organizations have the opportunity to request space at the convention during the 8:45–10:00 p.m. time slot on the Thursday and Saturday of the convention for business meetings, social events, or informal networking. Space will be assigned on a first-come, first-served basis and must be requested using the form available on the MLA Web site. 

Late-night events will not be listed in the printed Program but will be listed on the MLA Web site. Requests must be submitted before 15 October.

<b>Off-Site Events</b>
An off-site event may be held at a restaurant, a nonheadquarters location, or other venue. However, because of the complexity of scheduling convention sessions, off-site events cannot be considered when scheduling the convention. To prevent conflicts, organizers are advised to plan their off-site events after 1 August. 

Submissions received by 15 October will be included in the first issue of the <i>Convention Daily</i> and will appear online; off-site events will not be listed in the printed Program. Requests may be submitted between 1 August and 15 October. 
