<style type="text/css">
	ul.toc {list-style-type: none;  margin-left: 0em; }
	li.toc1 {font-size: 95%; margin-top: 0.25em;}
	li.toc2 {font-size: 90%; margin-left: 1em;}
	 li.toc2 a{ text-decoration: none; }
</style>


<center><img src="/IMAGES/mla2014-logo.gif" width=250 height=136 border=0 alt="Chicago MLA 2014"></center>


<h1>2014 Convention Information and Services</h1>


<div id="toc">
<ul class="toc">

<li class="toc1"><a href="#reg_house">Registration and Housing</a></li>
<!-- 
	<li class="toc2"><a href="#sub_membership">Membership in the MLA</a></li>
	<li class="toc2"><a href="#sub_fees">Fees</a></li>
	<li class="toc2"><a href="#sub_onsitereg">On-Site Registration</a></li>
	<li class="toc2"><a href="#sub_refunds">Registration Refunds</a></li>
	<li class="toc2"><a href="#sub_hotels">Hotels</a></li>
-->

<li class="toc1"><a href="#trans_to_and_in">Transportation to and in Chicago</a></li>

<li class="toc1"><a href="#program_online">Program Online</a></li>

<li class="toc1"><a href="#policies">Policies</a></li>
<!-- 
	<li class="toc2"><a href="#sub_audio_video">Audio- and Videotaping at Sessions</a></li>
	<li class="toc2"><a href="#sub_badges">Badges</a></li>
	<li class="toc2"><a href="#sub_fragrance">Fragrance</a></li>
	<li class="toc2"><a href="#sub_identification">Identification</a></li>
	<li class="toc2"><a href="#sub_reading_absentia">Reading in Absentia</a></li>
	<li class="toc2"><a href="#sub_smoking">Smoking</a></li>
-->

<li class="toc1"><a href="#on-site_res">On-Site Resources</a></li>
<!-- 
	<li class="toc2"><a href="#sub_business_centers">Business Centers</a></li>
	<li class="toc2"><a href="#sub_childcare">Child Care</a></li>
	li class="toc2"><a href="#sub_coatcheck">Coat Check</a></li>
	<li class="toc2"><a href="#sub_convguide"><i>Convention Guide</i> and <i>Convention Daily</i></a></li>
	<li class="toc2"><a href="#sub_disabilities">Disabilities, Facilities and Services for Persons with</a></li>
	<li class="toc2"><a href="#sub_flickr"><i>Flickr</i></a></li>
	<li class="toc2"><a href="#sub_friendsbillw">Friends of Bill W.</a></li>
	<li class="toc2"><a href="#sub_hqroffices">Headquarters Offices</a></li>
	<li class="toc2"><a href="#sub_localinfo">Local Information and Restaurant Reservations</a></li>
	<li class="toc2"><a href="#sub_lounges">Lounges</a></li>
	<li class="toc2"><a href="#sub_mail">Mail and Messages</a></li>
	<li class="toc2"><a href="#sub_mlainfo">MLA Information Center</a></li>
	<li class="toc2"><a href="#sub_printprogram">Print Copies of the Program</a></li>
	<li class="toc2"><a href="#sub_shuttlebus">Shuttle Bus Service</a></li>
	<li class="toc2"><a href="#sub_speakerrooms">Speaker Ready Rooms</a></li>
	<li class="toc2"><a href="#sub_twitter"><i>Twitter</i></a></li>
	<li class="toc2"><a href="#sub_whoshere">“Who’s Here” Directory</a></li>
	<li class="toc2"><a href="#sub_wifi">WiFi Access</a></li>
-->

<li class="toc1"><a href="#jic">Job Information Center</a></li>
<!-- 
	<li class="toc2"><a href="#sub_interviews">For Prearranged Interviews</a></li>
	<li class="toc2"><a href="#sub_jiclocationhours">Location and Hours</a></li>
-->

<li class="toc1"><a href="#exhibits">Exhibits</a></li>
<!-- 
	<li class="toc2"><a href="#sub_exhibithalltheater">Exhibit Hall Theater</a></li>
	<li class="toc2"><a href="#sub_exhibitors">Exhibitors</a></li>
	<li class="toc2"><a href="#sub_mlabooth">MLA Exhibit Booth Happenings (Booth 406)</a></li>
-->

<li class="toc1"><a href="#event_highlights">Event Highlights</a></li>
<!-- 
	<li class="toc2"><a href="#sub_mlaawards">MLA Awards Ceremony</a></li>
	<li class="toc2"><a href="#sub_presaddress">Presidential Address</a></li>
	<li class="toc2"><a href="#sub_presforum">Presidential Forum</a></li>
-->

<li class="toc1"><a href="#informational">Informational Sessions and Workshops</a></li>
<!-- 
	<li class="toc2"><a href="#sub_celj">Council of Editors of Learned Journals</a></li>
	<li class="toc2"><a href="#sub_careerhumphds">Discussion of Career Options for Humanities PhDs</a></li>
	<li class="toc2"><a href="#sub_electlitexhibit">Electronic Literature Exhibit: “Avenues of Access”</a></li>
	<li class="toc2"><a href="#sub_govcareers">Government Careers</a></li>
	<li class="toc2"><a href="#sub_mlacommons"><i>MLA Commons</i></a></li>
	<li class="toc2"><a href="#sub_nehinfo">NEH Information</a></li>
	<li class="toc2"><a href="#sub_neu_centernet_nitle">Northeastern University, centerNet, and NITLE</a></li>
-->

<li class="toc1"><a href="#governance">Governance</a></li>
<!-- 
	<li class="toc2"><a href="#sub_delassembly">Delegate Assembly</a></li>
-->

<li class="toc1"><a href="#emergencies">Emergencies</a></li>
<!-- 
	<li class="toc2"><a href="#sub_refunds">What to Do in Case of a Weather or Other Emergency</a></li>
-->

<li class="toc1"><a href="#future_conventions">Future Conventions</a></li>
<!-- 
	<li class="toc2"><a href="#sub_cfp">Calls for Papers</a></li>
	<li class="toc2"><a href="#sub_futurelocations">Location</a></li>
	<li class="toc2"><a href="#sub_organizing">Organizing Sessions</a></li>
-->

</ul>

</div>





<h2 id="reg_house">Registration and Housing</h2>
<p>All persons wishing to attend meetings or use
convention services must register for the convention. Persons who plan to
attend the convention may <a href="/conv_registration">register</a> through the MLA Web site.</p>

<h3 id="sub_membership">Membership in the MLA</h3>
<p>Individuals who join the association while registering for the convention are entitled to register at members’ rates. MLA
membership runs from 15 January through 14 January of the subsequent year. For the convenience of those who would like to join the MLA, as well as for
continuing members who would like to pay their 2014 dues, a membership desk will be located in both registration and welcome centers.</p>

<h3 id="sub_fees">Fees</h3>
<p>Early registration fees from 4 September through
2 October are as follows: regular members, $160; regular members outside the
United States and Canada, $65; graduate student members, $55; emeriti members,
$65; unemployed members and members employed part-time, $60.</p>

<p>Registration fees from 3 October through 3 December are as
follows: regular members, $190; regular members outside the United States and
Canada, $65; graduate student members, $55; emeriti members, $65; unemployed
members and members employed part-time, $60; nonmembers, $250; graduate student
nonmembers, $80.</p>

<p>Registration fees after 3 December are as follows: regular
members, $220; regular members outside the United States and Canada, $75;
graduate student members, $65; emeriti members, $75; unemployed members and
members employed part-time, $70; nonmembers, $280; graduate student nonmembers,
$90. Registrations will be accepted after 3&nbsp;December, but programs (for
nonmembers) and badges may not be sent.</p>

<h3 id="sub_onsitereg">On-Site Registration</h3>
<p>Attendees who have not registered may register during the convention at the registration areas located in the Chicago Marriott (5th floor) and the Sheraton Chicago (Lobby level 3). The registration area will be open on 9 January from 8:00 a.m. to 7:00 p.m., on 10 and 11 January from 8:00&nbsp;a.m. to 6:00 p.m., and on 12 January from 8:00 a.m. to 12:00 noon.</p>

<p>There will be a satellite registration and badge replacement
center at the Fairmont (Imperial Ballroom Lobby, level&nbsp;B2).</p>

<h3 id="sub_refunds">Registration Refunds</h3>
<p>Requests for refunds of registration fees must
be made in writing, accompanied by unused convention badges, sent to the
director of convention programs at the MLA office, and postmarked no later than
10 January 2014. Refunds requested after 10 January 2014 will not be granted. A
$20 service fee will be deducted from all refunds.</p>

<h3 id="sub_hotels">Hotels</h3>
<p>Hotel rooms at the special MLA rates are
available only to persons who are registered for the convention. Each
convention registrant can reserve one hotel room. Housing forms will not be processed if they include the names of persons in the profession who have not paid their registration fees for the convention. (Spouses, friends, and family members who wish to share a room with a registrant and who are also engaged in the study of language and literature must register and pay their registration fees for the
convention.) Convention registrants who arrive in Chicago without hotel
arrangements may go to the housing desk at the Chicago Marriott (5th floor). A
representative of CMR, the MLA housing service, will be there to help such
attendees find housing and to assist attendees with any hotel issues they may
have.</p>
<p>To cancel or change your hotel reservation, please contact your hotel directly. A one-night room and tax penalty may apply.</p>


<h2 id="trans_to_and_in">Transportation to and in Chicago</h2>

<p>MLA convention hotels are located in the North
Michigan Avenue area.</p>

<p><i>Airport Transportation. </i>Chicago is served by O’Hare International Airport and
Midway Airport. For airport information, visit <a href="http://www.flychicago.com/" target="_blank">www.flychicago.com/</a>. The rates
for taxis to downtown Chicago are $40–$50 from O’Hare and $30–$40
from Midway. Rates vary based on travel time and are subject to change. The
Chicago Transit Authority (CTA) serves both airports for easy and economical
travel to downtown Chicago. The CTA Blue Line connects directly to O’Hare, and
the CTA Orange Line connects directly to Midway. Visit <a href="http://transitchicago.com/airports" target="_blank">transitchicago.com/airports</a> for fare information and maps. <a href="http://airportexpress.hudsonltd.net/res?USERIDENTRY=MLA-2014&LOGON=GO" target="_blank">GO Airport Express</a> provides shared ride services from the airports to all downtown hotels and is giving a 10% discount to convention attendees.</p>

<p><i>Amtrak.</i>
Amtrak (<a href="http://www.amtrak.com" target="_blank">www.amtrak.com</a>) trains enter and leave
downtown Chicago’s Union Station. Nearby MLA hotels can be reached by CTA
(<a href="http://www.transitchicago.com" target="_blank">transitchicago.com</a>) or taxi.</p>


<h2 id="program_online">Program Online</h2>
<p>A searchable program for the convention is <a href="/program">available online</a>. A streamlined version for mobile devices will be
available during the convention.</p>


<h2 id="policies">Policies</h2>

<h3 id="sub_audio_video">Audio- and Videotaping at Sessions</h3>
<p>Neither audiotaping nor videotaping of sessions
is normally permitted. Occasional exceptions may be made for members of the
media taping short segments designed to convey the convention atmosphere. Such
arrangements must be made through the press office and require the consent of
all speakers at a session. When taping is approved, a representative of the
media staff will accompany the reporter and crew. The session organizer will
announce to the audience that audio- or videotaping will take place during a
part of the session. Only background taping is allowed, not the taping of an
entire session. Requests to film the convention as
part of a creative or documentary project must have been submitted to the
Executive Council by 17 October.</p>

<h3 id="sub_badges">Badges</h3>
<p>Badges are required for admission to convention sessions, the exhibit hall, and the Job Information Center. Badge holders are
available at the MLA registration and welcome centers in the Chicago Marriott and the Sheraton Chicago and at the satellite registration and badge
replacement center in the Fairmont. Lost badges can be replaced for $10 at the MLA registration and welcome centers.</p>

<h3 id="sub_fragrance">Fragrance</h3>
<p>The Committee on Disability Issues in the
Profession reminds attendees that refraining from using scented products will
help ensure the comfort of everyone at the convention.</p>

<h3 id="sub_passes">Guest Passes</h3>
<p>A convention speaker may obtain a pass for a
family member or friend who has no professional interest in language or
literature to hear a paper given by that speaker. These passes
must be requested at the MLA registration and welcome centers by the speaker on the
day of the session. The speaker must provide his or her name, session details
(session number, room, date, and time), and the guest’s name. Passes may not be
requested by guests of speakers, MLA members who have not registered for the
convention, or by speakers for guests for any reason other than to see that
person speak in a particular session.</p>

<p>All MLA members and members of the profession that the MLA serves
are required to register in order to participate in or attend sessions. Please
note that if you need a pass for an evening session you must obtain it before
the MLA registration and welcome centers close.</p>

<p>MLA convention registrants may obtain free passes to the exhibit
hall for guests they accompany in the hall. Persons who are not registered for
the convention and who are not accompanied by registrants
may purchase a one-day pass to the exhibit hall for $10. These passes are
available at the Exhibit Registration booth, Sheraton Chicago (River Exhibition
Hall, level&nbsp;1).</p>

<h3 id="sub_identification">Identification</h3>
<p>You may need to have a government-issued photo
ID when you check in to your hotel. Security personnel may ask to see a hotel
room key or may ask that you be accompanied by a hotel guest
with a room key.</p>

<h3 id="sub_discrimination">MLA's Policies Against Discrimination and Harassment</h3>
<p>The MLA prohibits discrimination in employment,
including discrimination in the form of harassment, against any person on the
basis of race, color, sex, religion, national origin, age, sexual orientation,
disability, gender identity or expression, marital status, genetic
predisposition or carrier status, military status, or any other characteristic
protected by law. Sexual harassment (such as unwelcome sexual advances,
requests for sexual favors, or other verbal or physical conduct of a sexual
nature) is a specific type of discriminatory harassment and is prohibited. The
MLA has policies in place to ensure that any violations involving MLA employees
will be handled in an appropriate manner. If you believe you
have been subjected to unlawful discrimination by an MLA employee,
please contact Terrence Callaghan, Nelly Furman, or Judy Goulding.</p>

<p>The MLA reminds participants in the convention that federal law
prohibits discrimination in employment, including discrimination in the form of
harassment, against any person. Please ensure that all individuals in your
organization who are participating in the MLA’s convention as your
representatives are made aware of and understand that they must comply with
applicable law.</p>

<h3 id="sub_reading_absentia">Reading in Absentia</h3>
<p>To encourage discussion and dialogue among
panelists and attendees at convention sessions, reading in absentia (whether by
Skype, videoconferencing, audio delivery, or presentation by surrogates) is not
normally permitted. Presenters who are unable to attend the convention because
of unforeseen emergencies are reminded that they may include a link to their
papers in the online Program.</p>

<h3 id="smoking">Smoking</h3>
<p>Smoking is prohibited in most buildings in
Chicago.</p>

<h2 id="on-site_res">On-Site Resources</h2>

<h3 id="sub_business_centers">Business Centers</h3>
<p>Chicago Marriott, Fed Ex Office, 2nd floor</p>

<p>Sheraton Chicago, Fed
Ex Office, Lobby level&nbsp;3</p>

<p>Fairmont Business
Center, B1</p>

<h3 id="sub_childcare">Child Care</h3>
<p>A daytime child care center will operate in the Fairmont (level 3) on Friday and Saturday, 10 and 11 January, from 8:00 a.m. to 6:00 p.m. The preregistration deadline was 31 October 2013. A very limited number of late registrations may be available, depending on space restrictions, insurance considerations, and staffing capabilities. Convention participants who wish to submit a late request for child care should contact <a href="mailto:awarheit@mla.org">Allison Warheit</a> no later than 10 December.</p>

<h3 id="sub_coatcheck">Coat Check</h3>
A coat check service will be available in the Sheraton Chicago (Lobby level 3, around the corner from Parlor A; $2 per item) and the Chicago Marriott (7th floor, near escalators; $1.75 per item) on 9 January from 11:00 a.m. to 7:00 p.m., on 10 and 11 January from 8:00 a.m. to 7:00 p.m., and on 12 January from 8:00 a.m. to 3:30 p.m. There will also be an unattended coatrack inside the Job Information Center’s interview room (Fairmont, level B2) during the center’s operating hours. 


<h3 id="sub_convguide"><i>Convention Guide</i> and <i>Convention Daily</i></h3>
<p>The <i>Convention Guide</i>, containing city and hotel maps and providing general information pertinent
throughout the convention, will be available as a PDF on the MLA Web site in
December and at the convention. The <i>Convention Daily</i>
prints special notices, changes in schedule, and brief reports on convention
activities and appears Thursday, Friday, and Saturday during the convention.
Copies are available free at the MLA registration and welcome centers; the 9 January issue will appear on the MLA Web site before the convention.</p>

<h3 id="sub_disabilities">Disabilities, Facilities and Services for Persons with</h3>
<p>The MLA is committed to making arrangements that
allow all members of the association to participate in the convention.</p>

<p><i>Meeting Rooms</i>. Meeting rooms at the convention are accessible by elevator, and the doors are wide enough to accommodate wheelchairs. There will be a desk in the MLA registration and welcome centers at the Chicago Marriott (5th floor) and the Sheraton Chicago (Lobby level 3) staffed with personnel who can provide assistance to convention attendees with disabilities. There will also be a desk at the Fairmont (Lobby level).</p>

<p><i>Hotel Rooms</i>. To reserve hotel rooms that are specifically equipped for persons with permanent or temporary disabilities, participants must have checked the appropriate boxes on the convention registration form and the housing reservation form or written or called Karin Bagnall in the MLA convention office by 15 November.</p>

<p><i>Shuttle Bus</i>. A complimentary <a href="/2014_shuttle_service" >transportation service</a> will be available throughout convention meeting hours to transport attendees with disabilities. Arrangements may be made at the desks for persons with disabilities in the Chicago Marriott (5th floor), the Sheraton Chicago (Lobby level 3), and the Fairmont (Lobby level). Further details and phone numbers will be posted at the headquarters hotels.</p>

<p><i>Sessions</i>. Speakers are asked to bring five copies of their papers, even in draft form, for the use of members who wish to follow the written text. Speakers who use handouts should prepare some copies in a large-print format (14- to 16-point type size). Speakers should indicate whether they want their papers and handouts returned. Sign language interpreters and real-time captioning are available on request. The deadline to arrange for an interpreter is 15 November, though the convention office will make every effort to accommodate late requests. To arrange for either of these services, write or call Karin Bagnall in the MLA convention office.</p>

<p><i>Scooter Rentals</i>. Scooters, for navigating the convention more easily, can be rented from Scootaround (888 441-7575 or <a href="http://www.scootaround.com/rentals/m/mla" target="_blank">www.scootaround.com/rentals/m/mla</a>).</p>

<p>Karin Bagnall coordinates arrangements for persons with disabilities; she can be reached at the MLA convention office at <a href="mailto:kbagnall@mla.org">kbagnall@mla.org</a>.</p>

<h3 id="sub_prizedisplay">Display and Video of 2013 MLA-Prize-Winning Books</h3>
<p>A display of the books that are 2013 MLA prize
winners and a video featuring material from the winners will be located near
the exhibit hall (River Exhibition Hall, level 1, Sheraton Chicago). Many of
the prizewinning publishers are exhibiting and will have copies of these books
for sale at their booths. The winners will receive their awards at the MLA
Awards Ceremony, which will take place Saturday, 11 January, at 6:45 p.m. in
the Sheraton Chicago (Sheraton IV–V) and will be immediately followed by
a reception.</p>

<h3 id="sub_flickr"><i>Flickr</i></h3>
<p>We encourage attendees to tag their convention
photos with mla14 on <i>Flickr</i>.</p>

<h3 id="sub_friendsbillw">Friends of Bill W.</h3>
<p>In the Chicago Marriott, Navy Pier (10th floor)
is set aside for the Friends of Bill W. throughout
convention hours.</p>
<p>Meetings will be held at the following times: 10 January, 7:00–8:15 p.m.; 11 January, 7:30–8:20 a.m. and 7:00–8:15 p.m.</p>

<h3 id="sub_hqroffices">Headquarters Offices</h3>
<p>Headquarters offices will be located in the
Chicago Marriott (Scottsdale, 5th floor) and the Sheraton Chicago (Parlor A,
Lobby level 3). Members of the MLA convention staff will be available in these
ofﬁces whenever sessions are in progress to handle problems that might arise
with meeting rooms or meeting facilities. Program organizers are asked to refer
questions on such matters to one of the headquarters ofﬁces, not to the hotel
management. More general questions will be answered by staff
members at the MLA registration and welcome centers.</p>

<!--@comment THIS SECTION IS HIDDEN UNTIL NEW CONTENT UPDATES ARE READY--> 
[[[comment]]]
<h3 id="sub_localinfo">Local Information and Restaurant Reservations</h3>
<p>TBD</p>
[[[endcomment]]]
<!--<h3 id="sub_lostfound">Lost and Found -- TK?</h3>-->

<h3 id="sub_lounges">Lounges</h3>
<p>Areas furnished with comfortable chairs and
tables where members may congregate for discussion or relaxation will be
provided in the Chicago Marriott (North Alcove, 5th floor) and the Sheraton
Chicago (Ballroom Promenade East End, Ballroom level 4). A graduate student
lounge will be located in the Chicago Marriott (River North, 2nd floor).</p>

<h3 id="sub_mail">Mail and Messages</h3>
<p>Although the hotels will make every effort to
deliver mail and messages received during the convention, the MLA can assume no
responsibility for failure in delivery. Determine the recipient’s hotel by
referring to the “Who’s Here” listing (see “Who’s Here” section) posted near
the members’ lounge in the Chicago Marriott and the Sheraton Chicago, then
leave messages with the desk clerk at the appropriate hotel. Bulletin boards
where convention attendees may post messages for their colleagues will also be
provided in the lounge.</p>

<h3 id="sub_mlainfo">MLA Registration and Welcome Centers</h3>
<p>General questions about the convention and the association will be answered at the MLA registration and welcome centers in the
Chicago Marriott (5th floor) and the Sheraton Chicago (Lobby level&nbsp;3). Copies of the Program will be sold at the center; the <i>Convention Guide</i> and the <i>Convention Daily</i> will be available free at the registration and welcome centers and at the satellite registration and badge replacement center in the Fairmont (Imperial Ballroom Lobby, level B2), and through the MLA Web site. These will be open on 9&nbsp;January from 8:00 a.m. to 7:00 p.m., on 10 and 11&nbsp;January from 8:00 a.m. to 6:00 p.m., and on 12 January from 8:00 a.m. to 12:00 noon.</p>

<!--<h3 id="sub_parking">Parking -- TK?</h3>-->

<h3 id="sub_pressoffice">Press Office</h3>
<p>The press office is located in the Chicago
Marriott (Printers Row, 2nd floor).</p>

<h3 id="sub_printprogram">Print Copies of the Program</h3>
<p>Copies of the Program can be purchased for $15
at the MLA registration and welcome centers. Free copies are available only to those who
received in their registration packets a card entitling them to a complimentary
program or to foreign registrants who did not receive their programs.</p>


<h3 id="sub_shuttlebus">Shuttle Bus Service</h3>
<p>A <a href="/2014_shuttle_service" >free shuttle service</a> will operate among the
Chicago Marriott, the Sheraton Chicago, and the Fairmont. Further details will
be available at the convention and on the MLA Web site. There will be a <a href="#sub_disabilities">shuttle
service</a> available throughout the convention meeting hours to transport
attendees with disabilities.</p>

<h3 id="sub_speakerrooms">Speaker Ready Rooms</h3>
<p>Space in the Chicago Marriott (Denver, 3rd
floor) and the Sheraton Chicago (Parlor B, Lobby level 3) has been reserved to
allow speakers to run through their audiovisual presentations before their
sessions. Those who have computer presentations are strongly encouraged to
pretest their presentations in one of the speaker ready rooms during convention
hours. Please contact Karin Bagnall (<a href="mailto:kbagnall@mla.org">kbagnall@mla.org</a>) with audiovisual
questions. Requests for audiovisual equipment were due 1 April; we are unable
to accommodate late requests.</p>

<h3 id="sub_twitter"><i>Twitter</i></h3>
<p>We encourage attendees to tweet sessions using
the convention hashtag (#mla14) and session hashtags (e.g., #S421).</p>

<h3 id="sub_whoshere">“Who’s Here” Directory</h3>
<p>The “Who’s Here” directory will be posted in the
members’ lounge in the Chicago Marriott (North Alcove, 5th floor), the Sheraton
Chicago (Ballroom Promenade East End, Ballroom level&nbsp;4), and near the Job
Information Center in the Fairmont (level B2). The directory will include the
names and convention addresses of persons who make hotel reservations through
the housing bureau or send their local addresses to the MLA office before 10
December. Only the names of hotels listed on the convention housing form or
local addresses are listed. Members are advised to check their own “Who’s Here”
listings for accuracy and to make any necessary revisions. The information used
to compile the list comes from the housing service, not from the MLA.</p>

<h3 id="sub_wifi">Wi-Fi Access</h3>
<p>The MLA is providing free wireless Internet
access in the meeting rooms and public areas of the Chicago Marriott and the
Sheraton Chicago.</p>

<h2 id="jic">Job Information Center</h2>

<h3 id="sub_interviews">For Prearranged Interviews</h3>
<p>Consult the interviewer’s sign-in file in the
Fairmont (Imperial Ballroom, level B2) if you do not know whether your
interview is scheduled for a hotel room or the interview area or if you need to
find out the hotel room number for your interview. Allow yourself ample time to
obtain this information. If your interview is scheduled for the interview area,
proceed directly to the Fairmont (Imperial Ballroom, level B2), and ask a staff
member for the table number.</p>

<p>If the interviewer has not signed in, consult the “Who’s Here”
directory in the members’ lounge in the Chicago Marriott, the Sheraton Chicago,
or near the Job Information Center in the Fairmont (level B2). Once you know
where the interviewer is staying, you can call the hotel information desk and
be connected with the interviewer’s hotel room. (For reasons of safety, hotel
staff members will not give guests’ room numbers to callers.) If the
interviewer is not in, use the hotel’s message facilities. A message left in a
hotel mailbox will be flashed on the guest’s room telephone. If the person is
not listed in the “Who’s Here” directory, check the Program Participants
section of the convention program to see whether that interviewer is speaking
at or chairing a session and can be reached at a specific time and place or ask
a Job Information Center staff member for help.</p>

<p>The MLA Job Information Service will operate a center at the
Fairmont (Imperial Ballroom, level B2). A list of available positions will be posted, and a counseling service for job candidates will be available in the interview area on 10 and 11 January. An interviewers’ sign-in file will be maintained. Space will be available for interviews, but candidates and interviewers are urged to arrange interviews in advance. Job candidates are reminded that almost no unscheduled interviews take place at the convention. Therefore, members are advised not to attend the convention for the sole
purpose of seeking employment if they do not have scheduled interviews.</p>

<h3 id="sub_jiclocationhours">Location and Hours</h3>
<p>The Job Information Center (Imperial Ballroom,
level B2, Fairmont) will be open on 9&nbsp;January from 8:00 a.m. to 7:00 p.m.,
on 10 and 11 January from 8:00 a.m. to 6:00 p.m., and on 12 January from 8:00
a.m. to 12:00 noon.</p>

<h2 id="exhibits">Exhibits</h2>
<p>Be sure to schedule time to visit the exhibit
hall (Sheraton Chicago, River Exhibition Hall, level 1). The hall is open from
9:00 a.m. to 6:00 p.m. on 10 and 11 January and from 9:00 a.m. to 1:00 p.m. on
12 January. Take advantage of special promotions and visit the Exhibit Hall
Theater. View the Exhibit Hall Theater schedule in the online Program for presentations and product demonstrations by your favorite exhibitors, and incorporate these events into your convention calendar. Connect with nearly one hundred firms that represent a variety of materials and services of interest to teachers and students of language and literature. Admission to the exhibit area is restricted to persons wearing badges or carrying appropriate passes. To view a list of the 2014 exhibitors, please refer to the <i>Convention Guide</i> or
visit <a href="/list_of_2014_exhibit">www.mla.org/list_of_2014_exhibit</a>.</p>

<!--<h3 id="sub_exhibitcouponbook">Exhibit Hall Coupon Book --  TK?</h3>-->

<h3 id="sub_exhibithalltheater">Exhibit Hall Theater</h3>
<p>In the Exhibit Hall Theater (MLA Exhibit Hall,
Sheraton Chicago, River Exhibition Hall, level 1), exhibiting companies will
conduct scheduled presentations, readings, and product demonstrations during
exhibit hall hours. <a href="/program_browse_type?type=R">View the Exhibit Hall Theater schedule</a> for details;
presentations, to take place during the breaks between sessions, will also be listed
in the Program.</p>

<!--<h3 id="sub_exhibitreceptions">Exhibit Hall Receptions and Events -- TK?</h3>-->

<h3 id="sub_exhibitors">Exhibitors</h3>
<p>To view a list of the 2014 exhibitors, go to <a href="/list_of_2014_exhibit">www.mla.org/list_of_2014_exhibit</a>.</p>

<!--<h3 id="sub_exhibitguidelines">Guidelines -- TK?</h3>-->

<h3 id="sub_mlabooth">MLA Exhibit Booth Happenings (Booth 100)</h3>
<p>All MLA titles ordered at the booth will be discounted 30%.</p>
<p>A reception will be held on 10 January, at 3:30 p.m., celebrating new titles released by the MLA in 2013. Drop by, raise a glass, and take home a free <i>MLA Commons</i> microfiber cloth.<i></p>
<p>MLA International Bibliography</i> staff members will be on hand from 9:00 to 10:00 a.m. on 10 and 11 January to answer questions, provide demonstrations, and help with searches.</p>
<p>Please check the <i>Convention Daily</i> and the MLA Annual Convention <i>Twitter</i> feed for up-to-date information on exhibit booth activities.</p>

<h2 id="event_highlights">Event Highlights</h2>

<h3 id="sub_mlaawards">MLA Awards Ceremony</h3>
<p>The awards ceremony will take place at 6:45&nbsp;p.m. on 11 January in the Sheraton Chicago (Sheraton IV–V, Ballroom level 4). First Vice President Margaret W. Ferguson will present awards to the recipients of the William Riley Parker Prize, James Russell Lowell Prize, MLA Prize for a First Book, Kenneth&nbsp;W. Mildenberger Prize, Katherine Singer Kovacs Prize, Morton N. Cohen Award, MLA Prize for a Scholarly Edition, Aldo and Jeanne Scaglione Prize for Comparative Literary Studies, Aldo and Jeanne Scaglione Prize for French and Francophone Studies, Aldo and Jeanne Scaglione Prize for Studies in Slavic Languages and Literatures, Aldo and Jeanne Scaglione Prize for a Translation of a Scholarly Study of Literature, Aldo and Jeanne Scaglione Prize for Italian Studies, Aldo and Jeanne Scaglione Publication Award for a Manuscript in Italian Literary Studies, Lois Roth Award, William Sanders Scarborough Prize, and MLA Prize in United States Latina and Latino and Chicana and Chicano Literary and Cultural Studies. Rosemary G. Feal, MLA, will present the <i>MLA International Bibliography</i> Fellowship Awards. Rosemary&nbsp;G. Feal will announce the recipients of the seal of approval from the Committee on Scholarly Editions. Timothy Scheie, Univ. of Rochester, Eastman School of Music, ADFL President, will present the ADFL Award for Distinguished Service to the Profession to Elizabeth Bernhardt, Stanford Univ. Remarks by Bernhardt will follow. Susan Miller, Santa Fe Coll., ADE President, will present the ADE Francis Andrew March Award to Carol T. Christ, Smith Coll. Remarks by Christ will follow. Marianne Hirsch will present the Phyllis Franklin Award for Public Advocacy of the Humanities to John Sayles. Remarks by Sayles will follow. The session is open to the public and will be followed by a reception.</p>

<h3 id="sub_presaddress">Presidential Address</h3>
<p>The Presidential Address will take place at 6:45
p.m. on 10 January in the Sheraton Chicago (Sheraton IV–V, Ballroom level
4). Executive Director Rosemary G. Feal will report on the association’s 2013
activities, and President Marianne Hirsch will deliver the Presidential
Address. The session is open to the public and will be followed by a reception.</p>

<h3 id="sub_presforum">Presidential Forum</h3>
<p>The Presidential Forum will take place at 10:15
a.m. on 10 January in the Sheraton Chicago (Sheraton IV–V, Ballroom level
4).</p>

<h2 id="informational">Informational Sessions and Workshops</h2>

<h3>Chicago Humanities Summit</h3>
<p>Convention attendees are encouraged to participate in the Chicago Humanities Summit on Thursday, 9 January, from 9:00 a.m. to noon at the Gratz Center at Fourth Presbyterian Church in downtown Chicago. Sponsored by the MLA, the <a href="https://www.amacad.org/default.aspx">American Academy of Arts and Sciences</a>, and the <a href="http://chicagohumanities.org/">Chicago Humanities Festival</a>, the event will expand on the conversation started by <i>The Heart of the Matter</i>, the report from the AAAS’s Commission on the Humanities and Social Sciences, and will focus on participants’ success stories, from idea generation to practical realization. Learn from, brainstorm with, and roll up your sleeves alongside trailblazing colleagues. At the heart of the summit is a series of concurrent how-to sessions. Facilitated by leading humanities scholars, they will showcase and workshop innovative programs, projects, and initiatives that take the humanities well beyond the academy.</p> 

<table>
<tr><td width="65%">Intro: <i>The Heart of the Matter</i></td><td>9:00–9:30 a.m.</td></tr>
<tr><td>Coffee and Conversation</td><td>9:30–9:45 a.m.</td></tr>
<tr><td>How-To Sessions</td><td>9:45–11:00 a.m.</td></tr>
<tr><td>Coffee and Conversation</td><td>11:00–11:30 a.m.</td></tr>
<tr><td>Outro: Furthering Matters</td><td>11:30 a.m.–noon</td></tr>
</table>

<p>Facilitators: Nancy Abelmann, Michael Bérubé, Cathy Davidson, Sara Guyer, Dianne Harris, Gregg Lambert, Esther Mackintosh, and Teresa Mangum, as well as the commissioners Richard H. Brodhead, John Rowe, and the Honorable Diane Wood.</p>

<p>Additional sponsors: <a href="http://franke.uchicago.edu/">Franke Institute for the Humanities, at the University of Chicago</a>; <a href="http://www.humanities.northwestern.edu/">Alice Kaplan Institute for the Humanities, at Northwestern University</a>; <a href="http://www.iprh.illinois.edu/">Illinois Program for Research in the Humanities, at the University of Illinois, Urbana-Champaign</a>; <a href="http://humanities.wisc.edu/">Center for the Humanities, at the University of Wisconsin, Madison</a>; and <a href="http://obermann.uiowa.edu/">Oberman Center for Advanced Studies, at the University of Iowa</a>.</p> 

<p>PLEASE NOTE: Seating is limited. While attendance is free, registration is required. Click <a href="https://events.r20.constantcontact.com/register/eventReg?oeidk=a07e860snat7a0a7100&oseq=&c=&ch=">here</a> for more information and to register.</p>


<h3 id="sub_celj">Council of Editors of Learned Journals</h3>
<p>Officers and experienced editors who are members
of the Council of Editors of Learned Journals (CELJ) will be available for
consultation and advice for other editors and scholars who have questions about
what to expect in journal submission, peer review, and publishing processes.
Beginning scholars (graduate students and entry-level professors) are
particularly welcome.</p>

<p>Editors from CELJ will be available to provide informal
information and private consultations on 10 and 11 January from 9:00 a.m. to
1:00 p.m. in Tennessee, Sheraton Chicago. Please visit <a href="http://www.celj.org/node/15053" target="_blank">www.celj.org/node/15053</a>
for more information. Those interested in meeting with a CELJ editor at the MLA
convention should contact Richard Kopley at <a href="mailto:rxk3@psu.edu">rxk3@psu.edu</a>.</p>

<h3 id="sub_ careerhumphds ">Discussion of Career Options for Humanities PhDs</h3>
<p>Designed for graduate students and recent doctoral program graduates who may be thinking about pursuing careers beyond the classroom, this nuts-and-bolts conversation features three career services professionals, who will lead an informal discussion and offer brief presentations about the various employment paths and postdoctoral opportunities open to recipients of PhDs in the humanities.  It will cover practical suggestions about where to begin, how to approach different kinds of searches, how to prepare application materials, how to incorporate a postdoc into career development, and how job seekers can make good use of their campus’s career services offices. The discussion is part of the MLA's ongoing work, with support from the Mellon Foundation, to broaden the career horizons of humanities scholars and graduate students. Participants are encouraged to bring their CVs and other application materials for review. The presenters will be Jennifer E. Hobbs, Northwestern Univ.; Patrick Houlihan, Univ. of Chicago; and Kamilah McCoy, Northwestern Univ.</p>

<p>The discussion will take place from 2:00 to 4:00 p.m. on Friday, 10 January, in the Regal Room, Fairmont.</p>

<h3 id="sub_electlitexhibit">Electronic Literature Exhibit: <i>Pathfinders: Twenty-Five Years of
Experimental Literary Art</i></h3>
<p><i>Pathfinders: Twenty-Five
Years of Experimental Literary Art</i> continues the work of <i>Pathfinders: Documenting the Experience of Early Digital
Literature</i> by featuring the work of the pioneering experimental literary
artists and technologies of the late 1980s and early 1990s, as well as
highlighting innovative contemporary artists experimenting today with
cutting-edge computing technologies for literary production.</p>

<p>The first part of the exhibit will show Stuart Moulthrop’s <i>Victory Garden</i>, John McDaid’s <i>Uncle
Buddy Phantom Funhouse</i>, Judy Malloy’s <i>Uncle Roger:
The Blue Notebook</i>, and Shelley Jackson’s <i>Patchwork
Girl</i> (on the computers the works were originally viewed on at the time of
their publication) and will screen the documentation videos produced for the <i>Pathfinders</i> project.</p>

<p>The second part of the exhibit will feature various contemporary
artists who have produced narratives, poetry, drama, and essays through
physical computing technologies, augmented reality, social media, mobile media,
and other innovative approaches.</p>

<p>The archival Web site will be located at
<a href="http://dtc-wsuv.org/wp/pathfinders/exhibit/" target="_blank">http://dtc-wsuv.org/wp/pathfinders/exhibit/</a>.</p>

<p>The exhibit, located in the Sheraton Chicago (Sheraton II,
Ballroom level&nbsp;4), will be open Thursday, 9 January, 12:00 noon to
7:00&nbsp;p.m.; Friday, 10 January, 9:00 a.m. to 6:00&nbsp;p.m.; and Saturday,
11 January, 9:00 a.m. to 6:00&nbsp;p.m.</p>

<h3 id="sub_govcareers">Government Careers</h3>
<p>On 9 January from 1:45 to 3:45 p.m. in the Fairmont (Gold), representatives from federal government agencies will offer a workshop highlighting federal careers that utilize skills in languages and cultural expertise—translator, interpreter, instructor, intelligence analyst, language analyst, foreign language program manager, foreign service officer, and law enforcement officer. Afterward, from 4:00 to 6:00 p.m., representatives will be available at the Fairmont (Gold) to answer questions about government careers that use skills in languages and cultural expertise.</p>

<p>On 11 January from 3:30 to 5:30 p.m. in the
Sheraton Chicago (Chicago X), officials from federal government agencies will
offer a workshop describing training requirements the federal government is
looking to sponsor as well as future employment possibilities for students.
Designed for professors and university program administrators of federal
programs in foreign languages, this session provides an overview of what
federal training requirements universities may propose and of what federal
programs are available to undergraduate and graduate students.</p>


<h3 id="sub_mlacommons"><i>MLA Commons</i></h3>
<p><i>MLA Commons</i> is
designed to facilitate active member-to-member communication, to support the
work of divisions and discussion groups, and much more. Live presentations on
the platform will be held in the Exhibit Hall Theater from 4:50 to 5:10 p.m. on
10 January and from 9:50 to 10:10 a.m. on 11 January. Volunteers will be
available to demonstrate the platform’s function and to assist with account
activation in the registration and welcome center at the Chicago Marriott (5th
floor).</p>

<h3 id="sub_nehinfo">NEH Information</h3>
<p>On 10 January from 1:30 to 3:30 p.m. in Chicago
VIII, Sheraton Chicago, representatives from the NEH will offer a workshop that
highlights recent awards and outlines current funding opportunities.</p>

<h2 id="governance">Governance</h2>

<h3 id="sub_delassembly">Delegate Assembly</h3>
<p>Established in 1971 as an elected body
representing the membership at large, the Delegate Assembly, composed of over
270 delegates, debates issues of concern to the membership and advises the
Executive Council on the association’s policies, direction, goals, and
structure.</p>

<p>Formal deliberations of the assembly, at which any MLA member can
speak, are scheduled for 1:00 p.m. on 11 January in the Chicago Marriott (Grand
III, 7th floor).</p>

<p>An open hearing of the Delegate Assembly, at which MLA members
may present their views, will be held at 10:15 a.m. on 10&nbsp;January in the
Chicago Marriott (Armitage, 4th floor). Members who wish to submit formal
resolutions to the Delegate Assembly should attend the open hearing on
resolutions held on 10 January at 12:00 noon in the Chicago Marriott (Armitage,
4th floor).</p>

<p>Procedures for submitting resolutions, which are general
statements of membership sentiment, are described in article <a href="/mla_constitution#a11C3">11.C.3</a> of the MLA
constitution; copies of this section of the constitution will be available at
the MLA registration and welcome centers.</p>


<h2 id="emergencies">Emergencies</h2>
<h3 id="sub_medical">Illness and Medical Emergencies</h3>
<p>Procedures may vary from one location to
another. <i>Chicago Marriott</i>. Dial 0 from any house
phone. <i>Sheraton Chicago</i>. Dial 88 from any house
phone. <i>Fairmont</i>. Dial 0 from any house phone.</p>

<h3 id="sub_refunds">What to Do in Case of a Weather or Other Emergency</h3>
<p>If weather or an emergency in Chicago should delay or otherwise affect the scheduling of convention sessions, full information on such changes will be posted on the MLA Web site. If a local or personal emergency should cause you to have to delay or cancel your attendance at the convention, you should contact your hotel directly as early as possible. A one-night room and tax penalty may apply. Registrants who booked their travel through MacNair Travel should call 877 410-8195; others should call their carrier directly. <a href="#sub_refunds">Requests for registration refunds</a> must be postmarked by 10 January. If you are scheduled to speak or participate in a session, please notify the session organizer. You may also want to annotate your session listing in the online Program.</p>

<p>MLA sessions should only be canceled if nearly all the
participants are unable to attend the convention. In such a situation, please
contact the MLA convention office immediately (<a href="mailto:convention@mla.org">convention@mla.org</a>) so that
convention attendees can be informed of the cancellation. Organizers should also
inform all the session participants of the cancellation.</p>


<h2 id="future_conventions">Future Conventions</h2>
<h3 id="sub_cfp">Calls for Papers</h3>
<p>Calls for papers may be submitted online at
<a href="/cfp_main">www.mla.org/cfp_main</a> or reviewed online at <a href="/conv_papers">www.mla.org/conv_papers</a> for the 2015
MLA convention in Vancouver (8–11 January 2015).</p>

<h3 id="sub_futurelocations">Locations</h3>
<p>The 130th MLA Annual Convention will take place
in Vancouver from 8 to 11 January 2015.</p>

<p>The 133rd MLA Annual Convention will take place in New York City
from 4 to 7 January 2018.</p>

<p>Locations for the 2016 and 2017 conventions will be determined at a
later date. Please visit <a href="/future_conventions">www.mla.org/future_conventions</a> for updates.</p>

<h3 id="sub_organizing">Organizing Sessions</h3>
<p>Forms and instructions for organizing sessions
for the 2015 convention in Vancouver will be available on the MLA Web site in
March 2014.</p>
