<h1>Convention Program Archive</h1>
Archival PDF versions of past convention Programs are available to institutional subscribers at the <a href="http://www.mlajournals.org" target="_blank">MLA Journals</a> or <a href="http://www.jstor.org" target="_blank">JSTOR</a> Web sites. Find out more about MLA Journals and JSTOR institutional subscriptions by visiting these pages:
<a href="http://www.mlajournals.org" target="_blank">www.mlajournals.org</a>
<a href="http://www.jstor.org" target="_blank">www.jstor.org</a>
