<center><img src="/IMAGES/mla2014-logo.gif" width=250 height=136 border=0 alt="Chicago MLA 2014"></center>
<h1>Information for Exhibitors</h1>
The 2014 MLA Annual Convention will be held in Chicago from 9 to 12 January. Take advantage of this opportunity to connect with over 7,000 language, literature, and humanities higher education professionals from around the world.

Join us in Chicago if you are an exhibitor who produces or sells
<ul>
<li>university-level publications in English and other languages</li>
<li>products or services relating to language, literature, and the humanities</li>
<li>information technologies for humanities scholarship, research, teaching, translation, writing, or editing</li></ul>
<h3>2014 MLA Exhibit Hall Schedule</h3>
Sheraton Chicago Hotel and Towers, River Exhibition Hall
<table>
<tr><td width="30%"><b>Setup:</b></td><td>Thursday, 9 January, 8:00 a.m.–5:00 p.m.</td></tr>
<tr><td rowspan="3" valign="top"><b>Show hours:</b></td><td>Friday, 10 January, 9:00 a.m.–6:00 p.m.</td>
<tr><td>Saturday, 11 January, 9:00 a.m.–6:00 p.m.</td></tr>
<tr><td>Sunday, 12 January, 9:00 a.m.–1:00 p.m.</td></tr>
<tr><td><b>Teardown:</b></td><td>Sunday, 12 January, 1:00–5:00 p.m.</td>
</table>	
<h3>2014 Current Exhibitor Links</h3>
<ul>
<li><a href="/conv_exhibit_login&xurl=conv_exhibit_badge">2014 Exhibitor Badge Request Form</a></li>
<li><a href="/2014_daily_form" ><i>Convention Daily</i> Announcement Form</a></li>
<li><a href="/2014_exhibit_target" >Promotional E-mail Reservation</a></li>
<li><a href="/2014_exhibitor_promo">Sponsorship Opportunities</a></li>
<li>Exhibitor Housing and Exhibitor Services Kit – contact <a href="mailto:scourtney@mla.org">scourtney@mla.org</a></li>
</ul>
<h3>2014 Exhibit Hall Theater</h3> 
<ul>
	<li><a href="/program_browse_type?type=R">Exhibit Hall Theater Schedule</a></li>
	<li><a href="/2014_theater_form" >Exhibit Hall Theater Presentation Reservation Form</a></li>
</ul>
<h3>2014 Exhibitor Application Forms and Information (limited booth availability)</h3>
<ul>
	<li><a href="/2014_invite_exhibit" >Invitation to Exhibit</a></li>
	<li><a href="/conv_exhibitform">Exhibit Booth Reservation Form</a></li>
	<li><a href="/conv_exhibitmap">Interactive Exhibit Hall Map</a></li>
	<li><a href="/2014_exhibit_map" >Printable Exhibit Hall Map</a></li>
	<li><a href="/conv_exhibit_login&xurl=conv_exhibit_balance">Exhibit Booth Balance Payment</a></li>
</ul>
<h3>2015 Convention Information</h3>
<p>The 2015 MLA Annual Convention will be held in Vancouver from 8 to 11 January. A representative from the Greater Vancouver Visitors and Convention Bureau will be at the 2014 convention in Chicago to answer any questions.</p>
<ul>
	<li>Learn more about visiting Canada, visa requirements, and requirements for reentry through the <a href="/future_conventions">Future Conventions</a> page.</li>
	<li><a href="http://www.cbsa-asfc.gc.ca/noncan-eng.html">Canadian Border Information and Services</a></li>
</ul>
