<h1>Collaborative-Session Idea Exchange</h1>
In addition to their guaranteed sessions, existing entities (divisions, discussion groups, allied organizations, MLA committees, and the American Literature Section) may submit a collaborative-session proposal for review by the Program Committee (see <a href="/conv_procedures">Procedures for Organizing Meetings</a> for further details). <b>Please note that each entity may submit only one collaborative-session proposal to the Program Committee. Collaborative-session proposals may involve only two entities.</b> To facilitate such collaborations, the MLA has created this area for entities to send ideas for collaborative sessions to the leadership of other entities. Members of division and discussion group executive committees, MLA committees, and allied organization liaisons are able to submit ideas. Once the idea has been approved by the first entity’s contact person, a message will be sent to the leadership of the other entities requested on the form. 

<b>Please note that this area is only to facilitate exchanges between entities.</b>

Calls for papers must be submitted separately, after there is an agreement between two entities. We suggest that both entities involved in the collaborative-session proposal post the call for papers if a call is being issued. One of the two entities must also submit final program copy; the other collaborating entity will be asked to verify the submission before copy is due (1 April).

If you have any questions about collaborative sessions or the procedures for organizing such a session, please contact the appropriate staff member listed below:

Divisions and discussion groups: Karin Bagnall (<a href="mailto:kbagnall@mla.org">kbagnall@mla.org</a>)
Committees: Maribeth T. Kraus (<a href="mailto:mkraus@mla.org">mkraus@mla.org</a>)
Allied organizations: Allison Warheit (<a href="mailto:awarheit@mla.org">awarheit@mla.org</a>) 
<@if (@orgs_list < 1 && $conv_collab_admin_mode ne "Y")>
	<p>
		We did not find any entities for which you have authority to propose collaborative sessions. Perhaps you are not logged in with the correct ID.
	</p>
<@else>
<@if ($conv_collab_admin_mode eq "Y")>
	<p>
		Listed below are the session ideas that have been proposed:
	</p>
<@else>
<p>
		Listed below are the session ideas you have proposed or can approve:
	</p>
<@/if>	
<@if (@collab_proposals)>
	<table border="0" cellpadding="2" cellspacing="1" bgcolor="[[color2]]" width="100%">
		<tr>
			<td style="color: #ffffff"><b>Session Name</b></td>
			<td style="color: #ffffff"><b>On Behalf of</b></td>
			<td style="color: #ffffff"><b>Status</b></td>
			<td style="color: #ffffff"><b>Last Updated</b></td>
		</tr>
		<@loop "collab_proposals">
		<tr valign="top">
			<td bgcolor="#ffffff" align="left">
					<a href="/conv_collab_review&id=<@col 1>"><@col 2></a>
			</td>
			<td bgcolor="#ffffff" align="left"><@col 3></td>
			<td bgcolor="#ffffff" align="left"><@col 5></td>
			<td bgcolor="#ffffff" align="left"><@col 4></td>
		</tr>
		<@/loop>
	</table>
<@else>
	<p>You have no session ideas to review.</p>
<@/if>
<@/if>
<@if (@orgs_list >= 1)>
<p><a href="/conv_collab_form">Propose a new collaborative session idea</a></p>
<@/if>
