<h1>Convention Session FAQs</h1>


<h4>Questions about the New Convention Structure</h4>

<ul>

	<li><a href="#How_many_guaranteed">How many guaranteed sessions do MLA entities have? [An entity is an existing division, discussion group, MLA committee, allied organization, or the American Literature Section.]</a></li>

	<li><a href="#When_do_I_need_to_de">When do I need to decide which of the sessions my entity is organizing will be the guaranteed session?</a></li>

	<li><a href="#What_is_deadline_copy">What is the deadline for submitting the program copy for my guaranteed session?</a></li>

	<li><a href="#What_is_deadline_data">What is the deadline for submitting data about any competitive sessions my group is proposing, and to whom do I submit that information?</a></li>

	<li><a href="#If_my_division_or_di">If my division or discussion group submits a call for papers, must the call explicitly state whether it is for a guaranteed or competitive session?</a></li>

	<li><a href="#To_what_extent_does">To what extent does collaboration help my chances for getting a competitive proposal accepted?</a></li>

	<li><a href="#Usually_our_division">Usually our division’s or discussion group’s executive committee meets at the convention to decide on our topics for next year’s convention. But I’m guessing that if we’re to make a collaborative proposal, we have to start planning it with some other entity well before our usual meeting. How much advance time should we allow? </a></li>

	<li><a href="#What_support_will_th">What support will the MLA provide to assist our efforts to identify potential partners? For instance, to identify possible collaborators, where do we look? Does the MLA have an accessible online directory of its entities that lists particular people to contact?</a></li>

	<li><a href="#Can_we_collaborate_w">Can we collaborate with more than one other entity? And if so, does a collaborative proposal have a better chance of getting accepted if more than two entities are involved?</a></li>

	<li><a href="#Im a division">I'm a division or discussion group chair submitting one guaranteed and one competitive proposal on behalf of my organization. May I, as an individual, submit an additional special-session proposal made up of some strong but nevertheless “leftover” proposals that, for whatever reason, didn’t make it into the sponsored submissions?</a></li>

	<li><a href="#Are_the_competitive">Are the competitive-session proposals considered in the same pool as special-session proposals?</a></li>

	<li><a href="#Can_I_appeal">Can I appeal the Program Committee’s decision on my session proposal?</a></li>

	<li><a href="#Can_I_receive_feedback">My session proposal was not accepted. How can I receive feedback on my proposal?</a></li>
</ul>

<h4>General Questions about Sessions</h4>


<ul>
	<li><a href="#What_is_a_call_for_p">What is a call for papers? Is it required for organizing a session?</a></li>

	<li><a href="#How_can_I_submit_a_c">How can I submit a call for papers?</a></li>

	<li><a href="#Does_the_title_of_my">Does the title of my session have to be the same as the title of my call for papers?</a></li>

	<li><a href="#Do_I_have_to_contact">Do I have to contact everyone who responds to my call for papers?</a></li>

	<li><a href="#Our_society_would_li">Our society would like to apply for allied organization status, and one of the prerequisites is to have sessions accepted at the MLA convention. What do we need to do?</a></li>

<li><a href="#I_cannot_participate">What should I do if I cannot participate in my session?</a></li>

<li><a href="#a_panelist_cancels">What should I do if a panelist in my session cancels?</a></li>

<li><a href="#I_need_to_cancel">What should I do if I (as session organizer) need to cancel my session?</a></li>

</ul>

<h4>Program-Copy-Form Questions</h4>

<ul>

	<li><a href="#What_is_deadline_final">What is the deadline for submitting final program copy?</a></li>

	<li><a href="#When_will_program_co">When will program-copy forms be available?</a></li>

	<li><a href="#How_can_I_invite_a_n">How can I invite a nonmember or VIP to be a session participant?</a></li>

	<li><a href="#Will_I_receive_confi">Will I receive confirmation that my program copy was received?</a></li>

	<li><a href="#Can_I_give_a_paper_o">Can I give a presentation or act as presider for a session I am organizing?</a></li>

	<li><a href="#Is_the_session_organ">Is the session organizer the same person as the presider?</a></li>

	<li><a href="#Is_it_necessary_to_l">Is it necessary to list a presider for my session?</a></li>

	<li><a href="#What_is_the_average">What is the average number of presentations for a session?</a></li>

	<li><a href="#What_is_a_roundtable">What is a roundtable session? How do I organize one?</a></li>

	<li><a href="#How_many_speakers_ca">How many speakers can we have in a roundtable session?</a></li>

	<li><a href="#How_can_I_list_paper">How can I list presentation titles for my roundtable session?</a></li>

	<li><a href="#How_do_I_list_more_t">How do I list more than one presider for my session?</a></li>

	<li><a href="#Is_it_possible_for_t">Is it possible for two presenters to share one presentation at my session?</a></li>

	<li><a href="#Is_it_possible_to_li">Is it possible to list more than three presenters for my session?</a></li>

	<li><a href="#Is_there_a_limit_to">Is there a limit to the number of times I can participate at the convention?</a></li>

	<li><a href="#How_many_participant">How many participants from the same institution are allowed in a single session?</a></li>

	<li><a href="#What_will_happen_if">What will happen if one of my session participants is not a current member?</a></li>

	<li><a href="#What_is_a_waiver_of">What is a waiver of membership?</a></li>

	<li><a href="#How_do_I_request_a_w">How do I request a waiver of membership for one of my participants?</a></li>

	<li><a href="#How_can_I_request_fu">How can I request funding for a participant?</a></li>

	<li><a href="#May_I_submit_tempora">May I submit temporary names and presentation titles now and finalize the information later?</a></li>

	<li><a href="#One_of_my_panelists">One of my panelists is a member, but when I entered the name the system indicated that the person’s name could not be found.</a></li>

	<li><a href="#Who_is_responsible_f">Who is responsible for requesting audiovisual equipment, and what is the deadline for that request?</a></li>

	<li><a href="#When_I_submitted_my">When I submitted my proposal, the system replaced punctuation marks and underlines with typos and symbols. What should I do?</a></li>

	<li><a href="#How_can_I_make_chang">How can I make changes to my program copy after it has been submitted?</a></li>
</ul>

<br>
<hr>
<br>


<h2>Questions about the New Convention Structure</h2>


<p class="question" id="How_many_guaranteed" title="How_many_guaranteed">
<b>How many guaranteed sessions do MLA entities have? [An entity is an existing division, discussion group, MLA committee, allied organization, or the American Literature Section.]</b>
</p>

<ul>
	<li>Divisions have two guaranteed sessions.</li>
	<li>Discussion groups have one guaranteed session.</li>
	<li>Allied organizations have one guaranteed session.</li>
	<li>MLA Committees have two guaranteed sessions.</li>
	<li>American Literature Section has one guaranteed session.</li>
</ul>




<p class="question" id="When_do_I_need_to_de" title="When_do_I_need_to_de">
<b>When do I need to decide which of the sessions my entity is organizing will be the guaranteed session?</b>
</p>

<p>
A final decision must be made before submitting program copy for any session. 
</p>




<p class="question" id="What_is_deadline_copy" title="What_is_deadline_copy">
<b>What is the deadline for submitting the program copy for my guaranteed session?</b>
</p>

<p>
1 April is the deadline for all program copy, including guaranteed sessions.
</p>




<p class="question" id="What_is_deadline_data" title="What_is_deadline_data">
<b>What is the deadline for submitting data about any competitive sessions my group is proposing, and to whom do I submit that information?</b>
</p>

<p>
1 April is the deadline for submitting program copy for competitive sessions. All program copy must be submitted online using the appropriate form for the entity and type of session.
</p>




<p class="question" id="If_my_division_or_di" title="If_my_division_or_di">
<b>If my division or discussion group submits a call for papers, must the call explicitly state whether it is for a guaranteed or competitive session?</b>
</p>

<p>
Each entity should decide whether or not it wishes to predetermine which session(s) will be competitive and which will be guaranteed. Entities may wish to wait until they receive responses to their calls for papers to determine which sessions should be submitted as guaranteed or competitive. Session organizers are responsible for responding to all inquiries and should indicate when a decision on the session will be made (1 April for guaranteed sessions, 30 May for competitive sessions).
</p>




<p class="question" id="To_what_extent_does" title="To_what_extent_does">
<b>To what extent does collaboration help my chances for getting a competitive proposal accepted?</b>
</p>

<p>
All sessions are judged using the same <a href="/scoringguide_specsessions">scoring system</a>. If a collaborative competitive proposal has the same score as a competitive proposal submitted by a single entity, the collaborative proposal will be given preference. Please note that each entity may submit only one collaborative session.
</p>




<p class="question" id="Usually_our_division" title="Usually_our_division">
<b>Usually our division’s or discussion group’s executive committee meets at the convention to decide on our topics for next year’s convention. But I’m guessing that if we’re to make a collaborative proposal, we have to start planning it with some other entity well before our usual meeting. How much advance time should we allow? </b>
</p>

<p>
Planning for collaborative proposals should start in the fall prior to the year in which the proposal will be submitted (i.e., start planning in fall 2012 for a proposal for the 2014 convention). Please also see the next FAQ.
</p>




<p class="question" id="What_support_will_th" title="What_support_will_th">
<b>What support will the MLA provide to assist our efforts to identify potential partners? For instance, to identify possible collaborators, where do we look? Does the MLA have an accessible online directory of its entities that lists particular people to contact?</b>
</p>

<p>
To facilitate the new collaborative sessions, the MLA has created a new area on the Web site for entities to <a href="/conv_collab">submit ideas for collaborative sessions</a> and send those ideas to the leadership of other entities.
</p>




<p class="question" id="Can_we_collaborate_w" title="Can_we_collaborate_w">
<b>Can we collaborate with more than one other entity? And if so, does a collaborative proposal have a better chance of getting accepted if more than two entities are involved?</b>
</p>

<p>
No, collaborative sessions are limited to two cosponsoring entities. Each entity may participate in only one collaborative session.
</p>




<p class="question" id="Im a division" title="Im a division">
<b>I'm a division or discussion group chair submitting one guaranteed and one competitive proposal on behalf of my organization. May I, as an individual, submit an additional special-session proposal made up of some strong but nevertheless “leftover” paper proposals that, for whatever reason, didn’t make it into the sponsored submissions?</b>
</p>

<p>
Individual MLA members are welcome to submit special-session proposals. Please note that the Program Committee looks at the entire makeup of the convention to make sure that a wide range of fields are covered. Each special-session proposal is considered as an independent proposal; such proposals are not connected to other proposals.
</p>




<p class="question" id="Are_the_competitive" title="Are_the_competitive">
<b>Are the competitive-session proposals considered in the same pool as special-session proposals?</b>
</p>

<p>
Special-session proposals are considered in a separate pool from the competitive-session proposals. 
</p>

<p class="question" id="Can_I_appeal" title="Can_I_appeal"><b>Can I appeal the Program Committee’s decision on my session proposal?</b></p>
<p>Because of constraints on the number of sessions that can be held at the convention, members of the Program Committee carefully review and score all session proposals, accepting only those that receive the highest scores (see <a href="/scoringguide_specsessions">scoring rubric</a>). Its decisions on session proposals are final, although submitters are welcome to revise their proposals for the following year (see FAQ below).</p>

<p class="question" id="Can_I_receive_feedback" title="Can_I_receive_feedback"><b>My session proposal was not accepted. How can I receive feedback on my proposal?</b></p>
<p>The Program Committee cannot provide specific details or feedback on all the sessions that were not accepted. If you plan to resubmit your proposal for the following year’s convention, you can request assistance with the revision. To receive feedback, send your request along with a revised proposal description to <a href="mailto:scourtney@mla.org">scourtney@mla.org</a> no later than 1 February, and include the reference number that was listed on the notification letter. The executive director or one of the Program Committee members will review your revised proposal as well as your original one and provide comments and suggestions.</p>

<br>

<h2>General Questions about Sessions</h2>

<p class="question" id="What_is_a_call_for_p" title="What_is_a_call_for_p">
<b>What is a call for papers? Is it required for organizing a session?</b>
</p>

<p>
The <a href="/conv_papers">call for papers</a> listing is one way for session organizers to invite MLA members to submit presentations for convention sessions. Each MLA division must post at least one call for papers per convention. Calls for papers are not a requirement for sessions not sponsored by an MLA division.
</p>




<p class="question" id="How_can_I_submit_a_c" title="How_can_I_submit_a_c">
<b>How can I submit a call for papers?</b>
</p>

<p>
Calls for papers must be submitted through the MLA Web site (<a href="/conv_papers">www.mla.org/conv_papers</a>). Session organizers may submit calls for papers from 1 August to 1 March. Submissions must be no more than 35 words in length, including the session title, a brief description, submission requirements (papers, abstracts, word or page limits), and submission deadline (most are listed as early to mid-March). Your name and contact information are not included in the word limit. Calls for papers will be posted on the Web site as they are submitted and removed in late March.
</p>




<p class="question" id="Does_the_title_of_my" title="Does_the_title_of_my">
<b>Does the title of my session have to be the same as the title of my call for papers?</b>
</p>

<p>
No.
</p>




<p class="question" id="Do_I_have_to_contact" title="Do_I_have_to_contact">
<b>Do I have to contact everyone who responds to my call for papers?</b>
</p>

<p>
Yes. Session organizers who place calls for papers should acknowledge receipt of proposals and notify members whether their proposals will be included in the submitted session.
</p>




<p class="question" id="Our_society_would_li" title="Our_society_would_li">
<b>Our society would like to apply for allied organization status, and one of the prerequisites is to have sessions accepted at the MLA convention. What do we need to do?</b>
</p>

<p>
This requirement was established in part to demonstrate the applying organization’s ability to create sessions that would withstand the MLA’s proposal review process. The Program Committee does not give special consideration to sessions that are proposed as part of the allied organization application process. Your proposal should focus on the merits of this particular proposed session and should not be used to promote or advertise your organization. All special-session proposals must follow the same submission requirements and are subject to the same review processes. Please refer to the <a href="/ssp_main">Proposing a Special Session</a> page and the <a href="/conv_procedures">Procedures for Organizing Meetings at the MLA Convention</a> for information about proposing a special session. 
</p>

<p class="question" id="I_cannot_participate" title="I_cannot_participate"><b>What should I do if I cannot participate in my session?</b></p>
<p>Please let your session organizer know immediately. It may be possible to arrange for a replacement. Please note that papers normally cannot be read in absentia (whether by <i>Skype</i>, videoconferencing, audio delivery, or presentation by surrogates). Presenters who are unable to attend the convention because of unforeseen emergencies are reminded that they may include a link to their presentations in the online Program.</p>


<p class="question" id="a_panelist_cancels" title="a_panelist_cancels"><b>What should I do if a panelist in my session cancels?</b></p>
<p>Please contact the MLA convention office immediately (<a href="mailto:convention@mla.org">convention@mla.org</a>). Information about a valid replacement will be included in relevant publications as time permits.</p>

<p class="question" id="I_need_to_cancel" title="I_need_to_cancel"><b>What should I do if I (as session organizer) need to cancel my session?</b></p>
<p>MLA sessions should only be canceled if nearly all the participants are unable to attend the convention. In such a situation, please contact the MLA convention office immediately (<a href="mailto:convention@mla.org">convention@mla.org</a>), so that convention attendees can be informed of the cancellation. You should also inform all the participants in your session of the cancellation.</p>




<br>

<h2>Program-Copy-Form Questions</h2>

<p class="question" id="What_is_deadline_final" title="What_is_deadline_final">
<b>What is the deadline for submitting final program copy?</b>
</p>

<p>
Final program-copy forms must be submitted online no later than 1 April. 
</p>




<p class="question" id="When_will_program_co" title="When_will_program_co">
<b>When will program-copy forms be available?</b>
</p>

<p>
Program-copy forms will be available on the MLA Web site by late February to designated contact persons for each group or committee. If you are designated to complete the program copy for your group’s sessions, you should receive information from your MLA liaison on how to access the forms. If you have questions about who has access to program-copy forms, please contact the appropriate MLA representative: Karin Bagnall (<a href="mailto:kbagnall@mla.org">kbagnall@mla.org</a>) for division, discussion group, and American Literature Section sessions; Allison Warheit (<a href="mailto:awarheit@mla.org">awarheit@mla.org</a>) for allied sessions; or your MLA committee liaison for MLA committee sessions. If you are proposing a special session, contact Stacey Courtney (<a href="mailto:scourtney@mla.org">scourtney@mla.org</a>). Once you have accessed the form, follow the prompts and complete the information for the various sections. At the bottom of each page, you have the option to save and finish later or continue to the next page of the form. The final page (“View Program-Copy Form”) allows you to view the information that you have entered and make any necessary corrections. Be sure to print out this page and keep it for your records. Once your form is complete and exactly how you would like it to appear, click Submit. Once you submit your form you will be unable to access it again to make any changes.
</p>





<p class="question" id="How_can_I_invite_a_n" title="How_can_I_invite_a_n">
<b>How can I invite a nonmember or VIP to be a session participant?</b>
</p>

<p>
At the discretion of the executive director, waivers may be granted for nonscholars and scholars who work in disciplines other than language and literature. Requests for membership waivers may be made at the end of the program-copy form.
</p>






<p class="question" id="Will_I_receive_confi" title="Will_I_receive_confi">
<b>Will I receive confirmation that my program copy was received?</b>
</p>

<p>
An automatic computer-generated confirmation e-mail message will be sent to you after you have completed your submission online. So that the confirmation e-mail message is not blocked by spam-blocking software, please make sure that your e-mail account is set up to receive messages from the MLA domain (mla.org).
</p>




<p class="question" id="Can_I_give_a_paper_o" title="Can_I_give_a_paper_o">
<b>Can I give a presentation or act as presider for a session I am organizing?</b>
</p>

<p>
Yes, you may list yourself as presider, panelist, or respondent for the session you are organizing if you feel that this arrangement creates the best possible session. But please keep in mind that you can have your name in the Program no more than twice, so that if you preside and give a presentation in one session, you cannot participate in another session.
</p>




<p class="question" id="Is_the_session_organ" title="Is_the_session_organ">
<b>Is the session organizer the same person as the presider?</b>
</p>

<p>
Not necessarily. The session organizer is the person who has organized and submitted the session and is listed on the form as the contact person who will receive the program-copy proofs in July. The session organizer’s name will not appear in the Program unless that person is also participating in the session. The presider will introduce the session and the speakers at the convention and is responsible for directing the session, enforcing time limits, and providing the required fifteen-minute discussion period. The presider’s name and affiliation are listed in the Program. Session organizers may list themselves as presiders for their sessions, but it is not a requirement.
</p>




<p class="question" id="Is_it_necessary_to_l" title="Is_it_necessary_to_l">
<b>Is it necessary to list a presider for my session?</b>
</p>

<p>
No, it is not necessary to list a presider. If no presider is listed, however, you should make arrangements for how the session will function without one.
</p>




<p class="question" id="What_is_the_average" title="What_is_the_average">
<b>What is the average number of presentations for a session?</b>
</p>

<p>
Each MLA session is one hour and fifteen minutes in length. The Delegate Assembly has approved the policy that there must be a fifteen-minute discussion period at the end of each session; therefore, the Program Committee strongly recommends that there be no more than three principal presentations in a session. 
</p>




<p class="question" id="What_is_a_roundtable" title="What_is_a_roundtable">
<b>What is a roundtable session? How do I organize one?</b>
</p>

<p>
A roundtable session is composed of brief presentations and group discussions instead of formal paper presentations. There is a section on the first page of the form under “Meeting Information” where you can select Formal Session or Roundtable. The roundtable form provides spaces for the participants’ names and affiliations but not for presentation titles. 
</p>




<p class="question" id="How_many_speakers_ca" title="How_many_speakers_ca">
<b>How many speakers can we have in a roundtable session?</b>
</p>

<p>
Roundtable sessions may have up to eight participants, including presiders and respondents. Each MLA session is one hour and fifteen minutes in length, with the last fifteen minutes reserved for discussion. You should select the number of speakers that best suits your session and allows you to stay within the allotted time.
</p>




<p class="question" id="How_can_I_list_paper" title="How_can_I_list_paper">
<b>How can I list presentation titles for my roundtable session?</b>
</p>

<p>
Roundtable sessions are composed of brief presentations and group discussion. Presentation titles and discussion topics are not listed.
</p>




<p class="question" id="How_do_I_list_more_t" title="How_do_I_list_more_t">
<b>How do I list more than one presider for my session?</b>
</p>

<p>
Usually only one person serves as presider for a session. If you feel that your session requires two presiders, click Add Copresider to access a pop-up box with space for the name and affiliation of the copresider. Do not try to include the information for both copresiders in the space allotted for one presider; this may create errors in your submission.
</p>




<p class="question" id="Is_it_possible_for_t" title="Is_it_possible_for_t">
<b>Is it possible for two presenters to share one presentation at my session?</b>
</p>

<p>
Yes, you may have copresenters on your panel, provided that they are able to give the presentation within the allotted time. On the form, there is a link located next to the presentation title and above the affiliation for each speaker position. Click Add Copresenter to access a pop-up box with space for the name and affiliation of the copresenter. Do not try to include the information for both copresenters in the space allotted for one presenter; this may create errors in your submission.
</p>




<p class="question" id="Is_it_possible_to_li" title="Is_it_possible_to_li">
<b>Is it possible to list more than three presenters for my session?</b>
</p>

<p>
You can add presenters to your session by using the link “Click here to add more presenters” on the Session Participants page, below the name of the third participant. A pop-up page will allow you to add presenters and presentations to your panel. Please note that the Program Committee strongly recommends that there be no more than three principal presentations in a session. 
</p>




<p class="question" id="Is_there_a_limit_to" title="Is_there_a_limit_to">
<b>Is there a limit to the number of times I can participate at the convention?</b>
</p>

<p>
Yes. So that as many members as possible may have the opportunity to be active in convention programs, a participant may be listed only twice in the Program. Participants may serve as presiders, speakers, or respondents. The two listings may occur in a single session or in two different sessions. 
</p>




<p class="question" id="How_many_participant" title="How_many_participant">
<b>How many participants from the same institution are allowed in a single session?</b>
</p>

<p>
No more than two panelists from the same institution may participate in a session, regardless of their roles. 
</p>




<p class="question" id="What_will_happen_if" title="What_will_happen_if">
<b>What will happen if one of my session participants is not a current member?</b>
</p>

<p>
Only current MLA members (or those whose membership requirements have been waived) may be included in your session. Session participants must be MLA members by 7 April to be listed in the Program. If a session participant is not a member and has not been granted a membership waiver by the 7 April deadline, your session will be listed in the Program without that person’s name or contribution to your panel. If your participant joins the MLA after 7 April, you can request to have that person and his or her contribution listed in the <i>Convention Daily</i>, which is distributed at the convention. 
</p>




<p class="question" id="What_is_a_waiver_of" title="What_is_a_waiver_of">
<b>What is a waiver of membership?</b>
</p>

<p>
Waivers of membership may be granted to nonscholars (e.g., medical doctors, visual artists) and scholars who work in fields other than language and literature. MLA members, including those in the emeritus category, are not eligible for waivers of membership. A waiver of membership may be granted to a person once every five years. Session organizers and presiders are not eligible for waivers of membership. For additional information on waivers of membership, please refer to the <a href="/conv_procedures">Procedures for Organizing Meetings at the MLA Convention</a>.
</p>




<p class="question" id="How_do_I_request_a_w" title="How_do_I_request_a_w">
<b>How do I request a waiver of membership for one of my participants?</b>
</p>

<p>
The request must be made on the Request for Waiver of Membership form, available at the end of your program-copy submission, and submitted by 1 April. You may also access the electronic form through the Convention section of the MLA Web site, under Program-Copy Forms. If the waiver is not approved, the participant may still become an MLA member by 7 April to participate in your session. For additional information on waivers of membership, please refer to the <a href="/conv_procedures">Procedures for Organizing Meetings at the MLA Convention</a>.
</p>




<p class="question" id="How_can_I_request_fu" title="How_can_I_request_fu">
<b>How can I request funding for a participant?</b>
</p>

<p>
Limited funds are available each year to provide partial assistance to persons who are not MLA members and who would not normally be expected to attend a professional meeting in the field of language and literature. A waiver of membership must be submitted before a request for funding may be made. Funding requests must be made on the fund request form by 15 April and must explain how the participant would enrich the Program. You should access the funding request form through the “Thank You” page at the completion of your waiver request. Allied organizations may not request funding for their participants. 
</p>

<p>
Travel grants are available for advanced graduate student members, non-tenure-track or unemployed members, and regular or life members residing outside the United States and Canada. For more information about travel grants, please visit <a href="/resources/awards/award_finasst">www.mla.org/resources/awards/award_finasst</a> or contact Annie Reiser (<a href="mailto:areiser@mla.org">areiser@mla.org</a>).
</p>




<p class="question" id="May_I_submit_tempora" title="May_I_submit_tempora">
<b>May I submit temporary names and presentation titles now and finalize the information later?</b>
</p>

<p>
No. All the information that you provide in your final program-copy form should be complete and should appear exactly as you wish it to appear in the Program. Session and presentation titles cannot be changed once they have been submitted. The names you include as presider, respondent, and speakers should be the names of the people who will be participating in those positions for your session at the convention. You should have commitments from all the session participants before submitting your final program-copy form. 
</p>




<p class="question" id="One_of_my_panelists" title="One_of_my_panelists">
<b>One of my panelists is a member, but when I entered the name the system indicated that the person’s name could not be found.</b>
</p>

<p>
Session participants’ names must be entered on the form exactly as they appear in the MLA membership database, including capitalizations, middle names, initials, etc. If they are not, the computer will not recognize the names as belonging to members. Sometimes accents in the name or a change in affiliation confuses the system, even if the name is typed correctly. You may select “nonmember/not sure” if there are any questions and continue submitting your program copy. Once we receive your submission, we will manually check the membership status of all session participants and e-mail you if there are any membership questions. Our manual check supersedes any questions that the system may have raised.
</p>




<p class="question" id="Who_is_responsible_f" title="Who_is_responsible_f">
<b>Who is responsible for requesting audiovisual equipment, and what is the deadline for that request?</b>
</p>

<p>
The session organizer is responsible for including all audiovisual requests for the session by 1 April in the designated “Audiovisual Equipment” section of the program-copy form. It is the session organizer’s responsibility to obtain all audiovisual requirements from the session participants before submitting the final program-copy form. Late requests cannot be accommodated. 
</p>




<p class="question" id="When_I_submitted_my" title="When_I_submitted_my">
<b>When I submitted my proposal, the system replaced punctuation marks and underlines with typos and symbols. What should I do?</b>
</p>

<p>
There are often punctuation errors that occur in the submission of the electronic forms. Because of browser issues, text that is pasted instead of typed into this form may lose punctuation, line breaks, and other formatting. Retyping lost information into the form should correct most omissions. If you are having difficulty creating italics, type an underline mark before and after a word or sentence to indicate that it should be in italics (e.g., _Hamlet_ to indicate <i>Hamlet</i>).
</p>




<p class="question" id="How_can_I_make_chang" title="How_can_I_make_chang">
<b>How can I make changes to my program copy after it has been submitted?</b>
</p>

<p>
All final program-copy forms must be complete and correct at the time they are submitted. The session information printed in the Program will be taken directly from your submission. Before you submit your form, make sure that the information included on the form (participants’ names and affiliations, session title, presentation titles, audiovisual equipment, and accessibility requirements) appears exactly as you wish it to appear in the Program. Any information not included on the program-copy form may be omitted from the Program. The final page of the form allows you to review the information that you have entered and make any necessary corrections. Make sure to print out a copy of this page for your records. Once you submit your electronic program-copy form, you will be unable to access it again to make any changes.
</p>
