<h1>MLA Exhibit Hall</h1>
Be sure to make time in your convention schedule to visit the exhibit hall and explore the variety of publishers, journals, products, and services.
<a href="/conv_exhibitors">Are you an exhibitor?</a>

<h2>2014 MLA Exhibit Hall</h2>
Sheraton Chicago Hotel and Towers, River Exhibition Hall
10 January, 9:00 a.m.–6:00 p.m.
11 January, 9:00 a.m.–6:00 p.m.
12 January, 9:00 a.m.–1:00 p.m.

You must have a 2014 MLA convention badge or appropriate pass to enter the exhibit hall, so <i><b>remember to wear your badge!</i></b>

<h2>Exhibit Hall Passes</h2>
<b>Guest Passes</b>
Convention registrants are welcome to accompany guests through the exhibit hall 	with the appropriate guest pass. These passes provide access to the exhibit hall only (not to MLA sessions), and the guest must be accompanied by a convention registrant. Guest passes are available at the Exhibit Hall Registration desk.

<b>Day Passes</b>
Persons who wish to visit the exhibit hall and who are not registered for the convention or accompanied by a convention registrant may purchase a one-day pass into the exhibit hall only (not to MLA sessions). Day passes are $10 per day and can be purchased at the Exhibit Hall Registration desk.

<h2>Exhibit Hall Events</h2>
<a href="/program_browse_type?type=R"><b>Exhibit Hall Theater Schedule</b></a>. Don’t miss these innovative presentations by MLA exhibitors. The Exhibit Hall Theater is located inside the exhibit hall, and presentations are scheduled during the breaks between sessions.

<b>MLA Exhibit Booth (Booth 100)</b>. 
<ul>
	<li>30% discount on all MLA titles ordered at the booth</li>
	<li>A reception will be held on 10 January, at 3:30 p.m., celebrating new titles released by the MLA in 2013. Drop by, raise a glass, and take home a free <i>MLA Commons</i> microfiber cloth.</li>
	<li><i>MLA International Bibliography</i> staff members will be on hand from 9:00 to 10:00 a.m. on Friday and Saturday to answer questions, provide demonstrations, and help with searches.</li>
</ul>
Please check the <a href="/conventiondaily"><i>Convention Daily</i></a> and the MLA Annual Convention <i>Twitter</i> feed for up-to-date information on exhibit booth activities.

<h2>Coffee Service</h2>
There will be coffee, tea, soft drinks, and snacks available for sale in the exhibit hall. Check here and the <a href="/conventiondaily"><i>Convention Daily</i></a> during the convention for details.
