<h1>Convention Participant FAQs</h1>
<b> How can I propose a paper for a session at the convention?</b>
MLA sessions are organized by MLA members who create their sessions by posting <a href="/conv_papers">calls for papers</a>, inviting speakers to participate, or a combination of the two. If you have not been invited to participate in a session, the best way to submit a presentation proposal is to respond to the calls for papers listed on the MLA Web site. You may also contact members of the executive committees of divisions and discussion groups, or an allied or affiliate organization about participating in one of their sessions. 

<b> What is the procedure for responding to a call for papers?</b>
The <a href="/callsforpapers">calls for papers</a> are posted by session organizers who are seeking submissions with which to create their sessions. Each session organizer establishes the submission requirements (papers, abstracts, etc.) and deadlines. Presentation proposals should be sent to the organizer whose name appears with the call for papers and not to the MLA offices. 

<b> When will I know if my presentation proposal has been accepted?</b>
Every session organizer is supposed to notify those who respond to the call for papers to let them know the status of their proposals. Organizers must submit their final program copy to the convention office by 1 April, so they will know which speakers will be participating in their sessions by that time. If you have not heard from the session organizer by 1 April, you should contact the organizer directly about the status of your submission.

<b> I have been invited to speak on a special session. When will I know if the session has been accepted?</b>
Special-session proposals are reviewed for acceptance by the Program Committee, which meets in early May. No later than early June, organizers are notified of the committee's decision. It is the responsibility of the session organizer to notify the session's participants as to whether or not the session was accepted.

<b> How much time will I have to present?</b>
You should check with the session organizer about specific presentation details such as length and content. Please also review the Guidelines for Speakers and Session Organizers (<a href="http://www.mla.org/guidelines_for_speak" target="_blank">http://www.mla.org/guidelines_for_speak</a>) on the MLA Web site. Sessions are one hour and fifteen minutes in length, with the last fifteen minutes reserved for discussion, which leaves one hour for all the participants, including the presider and respondent. The typical session has a presider, three speakers, and possibly a respondent.

<b> Do I have to be a member to participate (e.g., act as presider, panelist, respondent, etc.) in a session at the convention?</b>
Only current MLA members may organize, chair, or participate formally in sessions (i.e., give presentations, serve as discussants, or have their names listed in the Program). You must be a current (paid) MLA member by 7 April to participate in the following January's convention. If you have been invited to participate in a session and are a nonscholar or a scholar who works in a discipline other than language and literature, please see the question and answer below regarding waivers of the membership requirement.

<b> I have been invited to speak at the convention, but I am a history professor (or a poet, etc.). Do I still need to be a member of the MLA?</b>
At the discretion of the executive director, waivers of the membership requirement may be granted for nonscholars (e.g., medical doctors, visual artists, etc.) and scholars who work in disciplines other than language and literature. An individual may be granted a waiver once every five years. Waived nonmembers cannot organize or chair a session. If you are not an MLA member and think you are eligible for a waiver of membership, contact your session organizer as soon as possible. The request for a waiver of membership must be made by the session organizer and must be submitted on the Request for a Waiver of Membership form by 1 April for the following January's convention. If a waiver is not granted, the prospective participant may still become an MLA member by the 7 April membership deadline to participate in the session. 

<b> Is there a limit to how many talks I can give at the convention?</b>
Each MLA member may be listed up to two times in a single convention program. Giving a presentation, serving as a panelist or respondent, or presiding at a session leads to a listing in the convention program. The two listings may occur in a single session (i.e., as the presider and a panelist) or in two different sessions.

<b> How do I make sure the meeting room has the audiovisual equipment I need for my talk?</b>
All audiovisual requests must be included in the program copy forms, and program copy forms must be submitted by the session organizer no later than 1 April. It is your responsibility to let your session organizer know of any audiovisual requests before the program copy is submitted. If the session organizer does not ask you about audiovisual-equipment needs, you should notify the organizer of those requests when your submission is accepted for the session. It is also a good idea to verify that your audiovisual requests appear on the program copy proofs that are sent to the session organizers in July. <b>Requests for audiovisual equipment made after the 1 April deadline or at the convention cannot be accommodated. </b>

<b> How do I make sure my name is listed correctly in the Program?</b>
Those who join the MLA to organize or participate in convention programs must be listed on the membership rolls by 7 April of the year preceding the January convention. All session participants' names will appear in the Program the same way they appear in the MLA membership database as of the 7 April deadline. To change the way your name is listed in the database, visit <a href="http://www.mla.org" target="_blank">www.mla.org</a>  and click on Update Your Member Profile, User Name, or Password under the For Members Only heading. You may also contact the membership office directly with any questions at <a href="mailto:membership@mla.org">membership@mla.org</a>. If you have recently changed your name, have multiple last names, or if you are known by a nickname, be sure to tell your session organizer which name appears in the MLA database so they can enter your name correctly. It is also a good idea to verify with your session organizer that your name appears correctly on the program copy proofs that are sent to the session organizers in July. If your name is listed incorrectly, the session organizer should note that change on the proofs when they are returned to the convention office.

<b> How do I make sure my affiliation is listed correctly in the Program?</b>
Session participants' affiliations are listed in the Program based on the information contained in the program copy forms submitted by the session organizers by the 1 April deadline. When you are invited to participate on a session, you should provide the organizer with the affiliation that should appear in the Program. Each participant is allowed to list only one affiliation. The MLA Program does not list departments, specializations, or job titles of participants. It is also a good idea to verify with your session organizer that your affiliation appears correctly on the program copy proofs that are sent to the session organizers in July. If your affiliation has changed, the session organizer should note that change on the proofs when they are returned to the convention office.

<b> How do I make sure my presentation title is listed correctly in the Program?</b>
Presentation titles are listed in the Program exactly as they are listed on the program copy forms submitted by the session organizers by the 1 April deadline. You should make sure that the title you submit to your session organizer is exactly how you wish to see it listed in the Program. It is also a good idea to verify with your session organizer that your title appears correctly on the program copy proofs that are sent to the session organizers in July. If there are any typographical errors in your presentation title, the session organizer should note that correction on the proofs when they are returned to the convention office.

<b> Is there any financial assistance available to MLA members who wish to participate in the convention?</b>
The Modern Language Association offers aid to scholars who are permanent residents of soft-currency or developing nations, to graduate students, and to non-tenure-track faculty members and unemployed members. For more information on these three forms of financial assistance, please visit the Financial Assistance page on the Resources section of the MLA Web site (<a href="http://www.mla.org/resources/awards/award_finasst" target="_blank">http://www.mla.org/resources/awards/award_finasst</a>).

<b>What should I do if I cannot participate in my session?</b>
Please let your session organizer know immediately. It may be possible to arrange for a replacement. Please note that papers normally cannot be read in absentia (whether by <i>Skype</i>, videoconferencing, audio delivery, or presentation by surrogates). Presenters who are unable to attend the convention because of unforeseen emergencies are reminded that they may include a link to their presentations in the online Program.
