<h1>MLA Convention Statistics</h1>

<p>From 1895 to 1923 a Central Division of the MLA held meetings separately from the national convention in those years when the national convention was held on the East Coast. These meetings are recorded here in italics.</p>

<table cellspacing="0" cellpadding="4" width="400px">
	<tr valign="top">
		<th align="left" width="15%">Year</th> 
		<th align="left" width="40%">Dates</th> 
		<th align="left" width="30%">Place</th> 
		<th align="center" width="15%">Attendance</th>
	</tr>
<tr valign="top">
<td>2013</td><td>3–6 January</td><td>Boston</td><td align="right">7,714&nbsp;&nbsp;&nbsp;&nbsp;</td>
</tr>
<tr valign="top">
<td>2012</td><td>5–8 January</td><td>Seattle</td><td align="right">7,412&nbsp;&nbsp;&nbsp;&nbsp;</td>
</tr>
<tr valign="top">
		<td>2011</td> <td>6–9 January</td> <td>Los Angeles</td> <td align="right">7,745&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>2009</td> <td>27–30 December</td> <td>Philadelphia</td> <td align="right">7,300&nbsp;&nbsp;&nbsp;&nbsp;</td>
	</tr>
	<tr valign="top">
		<td>2008</td> <td>27–30 December</td> <td>San Francisco</td> <td align="right">8,300&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>2007</td> <td>27–30 December</td> <td>Chicago</td> <td align="right">8,900&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>2006</td> <td>27–30 December</td> <td>Philadelphia</td> <td align="right">8,900&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>2005</td> <td>27–30 December</td> <td>Washington</td> <td align="right">8,900&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>2004</td> <td>27–30 December</td> <td>Philadelphia</td> <td align="right">8,900&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>2003</td> <td>27–30 December</td> <td>San Diego</td> <td align="right">8,500&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>2002</td> <td>27–30 December</td> <td>New York</td> <td align="right">10,500&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>2001</td> <td>27–30 December</td> <td>New Orleans</td> <td align="right">8,700&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>2000</td> <td>27–30 December</td> <td>Washington</td> <td align="right">9,500&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1999</td> <td>27–30 December</td> <td>Chicago</td> <td align="right">8,750&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1998</td> <td>27–30 December</td> <td>San Francisco</td> <td align="right">10,300&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1997</td> <td>27–30 December</td> <td>Toronto</td> <td align="right">8,400&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1996</td> <td>27–30 December</td> <td>Washington</td> <td align="right">10,400&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1995</td> <td>27–30 December</td> <td>Chicago</td> <td align="right">9,600&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1994</td> <td>27–30 December</td> <td>San Diego</td> <td align="right">9,200&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1993</td> <td>27–30 December</td> <td>Toronto</td> <td align="right">9,000&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1992</td> <td>27–30 December</td> <td>New York</td> <td align="right">11,700&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1991</td> <td>27–30 December</td> <td>San Francisco</td> <td align="right">10,500&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1990</td> <td>27–30 December</td> <td>Chicago</td> <td align="right">9,500&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1989</td> <td>27–30 December</td> <td>Washington</td> <td align="right">10,700&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1988</td> <td>27–30 December</td> <td>New Orleans</td> <td align="right">9,000&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1987</td> <td>27–30 December</td> <td>San Francisco</td> <td align="right">9,000&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1986</td> <td>27–30 December</td> <td>New York</td> <td align="right">9,500&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1985</td> <td>27–30 December</td> <td>Chicago</td> <td align="right">7,500&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1984</td> <td>27–30 December</td> <td>Washington</td> <td align="right">8,000&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1983</td> <td>27–30 December</td> <td>New York</td> <td align="right">8,500&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1982</td> <td>27–30 December</td> <td>Los Angeles</td> <td align="right">5,000&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1981</td> <td>27–30 December</td> <td>New York</td> <td align="right">8,000&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1980</td> <td>27–30 December</td> <td>Houston</td> <td align="right">4,500&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1979</td> <td>27–30 December</td> <td>San Francisco</td> <td align="right">6,500&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1978</td> <td>27–30 December</td> <td>New York</td> <td align="right">8,500&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1977</td> <td>27–30 December</td> <td>Chicago</td> <td align="right">7,000&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1976</td> <td>26–29 December</td> <td>New York</td> <td align="right">8,000&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1975</td> <td>26–29 December</td> <td>San Francisco</td> <td align="right">6,500&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1974</td> <td>26–29 December</td> <td>New York</td> <td align="right">7,500&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1973</td> <td>27–29 December</td> <td>Chicago</td> <td align="right">6,000&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1972</td> <td>27–30 December</td> <td>New York</td> <td align="right">8,800&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1971</td> <td>27–30 December</td> <td>Chicago</td> <td align="right">6,300&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1970</td> <td>27–30 December</td> <td>New York</td> <td align="right">6,900&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1969</td> <td>27–30 December</td> <td>Denver</td> <td align="right">5,900&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1968</td> <td>27–29 December</td> <td>New York</td> <td align="right">11,750&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1967</td> <td>27–29 December</td> <td>Chicago</td> <td align="right">9,970&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1966</td> <td>27–29 December</td> <td>New York</td> <td align="right">10,600&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1965</td> <td>27–29 December</td> <td>Chicago</td> <td align="right">8,200&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1964</td> <td>27–29 December</td> <td>New York</td> <td align="right">9,150&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1963</td> <td>27–29 December</td> <td>Chicago</td> <td align="right">6,250&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1962</td> <td>27–29 December</td> <td>Washington</td> <td align="right">5,550&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1961</td> <td>27–29 December</td> <td>Chicago</td> <td align="right">4,714&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1960</td> <td>27–29 December</td> <td>Philadelphia</td> <td align="right">4,693&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1959</td> <td>27–29 December</td> <td>Chicago</td> <td align="right">3,832&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1958</td> <td>27–29 December</td> <td>New York</td> <td align="right">4,690&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1957</td> <td>9–11 September</td> <td>Madison</td> <td align="right">2,250&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1956</td> <td>27–29 December</td> <td>Washington</td> <td align="right">3,512&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1955</td> <td>27–29 December</td> <td>Chicago</td> <td align="right">2,910&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1954</td> <td>27–29 December</td> <td>New York</td> <td align="right">3,686&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1953</td> <td>28–30 December</td> <td>Chicago</td> <td align="right">2,769&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1952</td> <td>27–29 December</td> <td>Boston</td> <td align="right">2,555&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1951</td> <td>27–29 December</td> <td>Detroit</td> <td align="right">1,473&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1950</td> <td>27–29 December</td> <td>New York</td> <td align="right">2,677&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1949</td> <td>7–9 September</td> <td>Stanford</td> <td align="right">852&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1948</td> <td>28–30 December</td> <td>New York</td> <td align="right">3,049&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1947</td> <td>29–31 December</td> <td>Detroit</td> <td align="right">1,714&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1946</td> <td>27–30 December</td> <td>Washington</td> <td align="right">1,830&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1945</td> <td>27–29 December</td> <td>Chicago</td> <td align="right">1,215&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1944</td> <td>27–29 December</td> <td>New York</td> <td align="right">936&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1943</td>  <td colspan="3" align="center">(no convention)</td>
	</tr>
	<tr valign="top">
		<td>1942</td> <td colspan="3" align="center">(no convention)</td>
	</tr>
	<tr valign="top">
		<td>1941</td> <td>29–31 December</td> <td>Indianapolis</td> <td align="right">1,414&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1940</td> <td>26–28 December</td> <td>Boston and <br>&nbsp;&nbsp;&nbsp;&nbsp;Cambridge</td> <td align="right">1,652&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1939</td> <td>28–30 December</td> <td>New Orleans</td> <td align="right">1,172&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1938</td> <td>28–30 December</td> <td>New York</td> <td align="right">1,707&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1937</td> <td>28–30 December</td> <td>Chicago</td> <td align="right">1,448&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1936</td> <td>29–31 December</td> <td>Richmond and <br>&nbsp;&nbsp;&nbsp;&nbsp;Williamsburg</td> <td align="right">1,220&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1935</td> <td>30 December–<br>&nbsp;&nbsp;&nbsp;&nbsp;1 January</td> <td>Cincinnati</td> <td align="right">900&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1934</td> <td>27–29 December</td> <td>Philadelphia and <br>&nbsp;&nbsp;&nbsp;&nbsp;Swarthmore</td> <td align="right">1,028&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1933</td> <td>28–30 December</td> <td>St. Louis</td> <td align="right">563&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1932</td> <td>29–31 December</td> <td>New Haven</td> <td align="right">1,100&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1931</td> <td>28–30 December</td> <td>Madison</td> <td align="right">750&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1930</td> <td>29–31 December</td> <td>Washington</td> <td align="right">1,107&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1929</td> <td>30 December–<br>&nbsp;&nbsp;&nbsp;&nbsp;1 January</td> <td>Cleveland</td> <td align="right">850&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1928</td> <td>27–29 December</td> <td>Toronto</td> <td align="right">600&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1927</td> <td>28–30 December</td> <td>Louisville</td> <td align="right">750&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1926</td> <td>29–31 December</td> <td>Cambridge</td> <td align="right">800&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1925</td> <td>29–31 December</td> <td>Chicago</td> <td></td>
	</tr>
	<tr valign="top">
		<td>1924</td> <td>29–31 December</td> <td>New York</td> <td align="right">978&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1923</td> <td>27–29 December</td> <td>Ann Arbor</td> <td align="right">467&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1922</td> <td>28–30 December</td> <td>Philadelphia</td> <td></td>
	</tr>
	<tr valign="top">
		<td></td> <td><i>28–30 December</i></td> <td><i>Chicago</i></td> <td align="right">208&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1921</td> <td>28–30 December</td> <td>Baltimore</td> <td></td>
	</tr>
	<tr valign="top">
		<td></td> <td><i>28–30 December</i></td> <td><i>Iowa City</i></td> <td align="right">125&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1920</td> <td>28–30 December</td> <td>Poughkeepsie</td> <td></td>
	</tr>
	<tr valign="top">
		<td></td> <td><i>28–30 December</i></td> <td><i>Chicago</i></td> <td align="right">145&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1919</td> <td>29–31 March 1920</td> <td>Columbus</td> <td></td>
	</tr>
	<tr valign="top">
		<td>1918</td> <td colspan="3" align="center">(no convention)</td>
	</tr>
	<tr valign="top">
		<td>1917</td> <td>27–29 December</td> <td>New Haven</td> <td></td>
	</tr>
	<tr valign="top">
		<td></td> <td><i>27–29 December</i></td> <td><i>Madison</i></td> <td align="right">136&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1916</td> <td>27–29 December</td> <td>Princeton</td> <td></td>
	</tr>
	<tr valign="top">
		<td></td> <td><i>27–29 December</i></td> <td><i>Chicago</i></td> <td align="right">240&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1915</td> <td>28–30 December</td> <td>Cleveland</td> <td></td>
	</tr>
	<tr valign="top">
		<td>1914</td> <td>29–31 December</td> <td>New York</td> <td></td>
	</tr>
	<tr valign="top">
		<td></td> <td><i>29–31 December</i></td> <td><i>Minneapolis</i></td> <td></td>
	</tr>
	<tr valign="top">
		<td>1913</td> <td>29–31 December</td> <td>Cambridge</td> <td></td>
	</tr>
	<tr valign="top">
		<td></td> <td><i>29–31 December</i></td> <td><i>Cincinnati</i></td> <td></td>
	</tr>
	<tr valign="top">
		<td>1912</td> <td>26–28 December</td> <td>Philadelphia</td> <td></td>
	</tr>
	<tr valign="top">
		<td></td> <td><i>26–28 December</i></td> <td><i>Indianapolis</i></td> <td></td>
	</tr>
	<tr valign="top">
		<td>1911</td> <td>27–29 December</td> <td>Chicago</td> <td></td>
	</tr>
	<tr valign="top">
		<td>1910</td> <td>28–30 December</td> <td>New York</td> <td></td>
	</tr>
	<tr valign="top">
		<td></td> <td><i>28–30 December</i></td> <td><i>St. Louis</i></td> <td></td>
	</tr>
	<tr valign="top">
		<td>1909</td> <td>28–30 December</td> <td>Ithaca</td> <td></td>
	</tr>
	<tr valign="top">
		<td></td> <td><i>28–30 December</i></td> <td><i>Iowa City</i></td> <td></td>
	</tr>
	<tr valign="top">
		<td>1908</td> <td>28–30 December</td> <td>Princeton</td> <td></td>
	</tr>
	<tr valign="top">
		<td></td> <td><i>28–30 December</i></td> <td><i>Chicago</i></td> <td></td>
	</tr>
	<tr valign="top">
		<td>1907</td> <td>26–28 December</td> <td>Columbus</td> <td></td>
	</tr>
	<tr valign="top">
		<td>1906</td> <td>27–29 December</td> <td>New Haven</td> <td></td>
	</tr>
	<tr valign="top">
		<td></td> <td><i>27–29 December</i></td> <td><i>Chicago</i></td> <td></td>
	</tr>
	<tr valign="top">
		<td>1905</td> <td>27–29 December</td> <td>Haverford</td> <td></td>
	</tr>
	<tr valign="top">
		<td></td> <td><i>27–29 December</i></td> <td><i>Madison</i></td> <td></td>
	</tr>
	<tr valign="top">
		<td>1904</td> <td>28–30 December</td> <td>Providence</td> <td></td>
	</tr>
	<tr valign="top">
		<td></td> <td><i>28–30 December</i></td> <td><i>Chicago</i></td> <td></td>
	</tr>
	<tr valign="top">
		<td>1903</td> <td>28–30 December</td> <td>Ann Arbor and <br>&nbsp;&nbsp;&nbsp;&nbsp;Detroit</td> <td></td>
	</tr>
	<tr valign="top">
		<td>1902</td> <td>29–31 December</td> <td>Baltimore</td> <td></td>
	</tr>
	<tr valign="top">
		<td></td> <td><i>1–3 January 1903</i></td> <td><i>Chicago</i></td> <td></td>
	</tr>
	<tr valign="top">
		<td>1901</td> <td>26–28 December</td> <td>Cambridge</td> <td></td>
	</tr>
	<tr valign="top">
		<td></td> <td><i>26–28 December</i></td> <td><i>Champaign</i></td> <td></td>
	</tr>
	<tr valign="top">
		<td>1900</td> <td>27–29 December</td> <td>Philadelphia</td> <td></td>
	</tr>
	<tr valign="top">
		<td>1899</td> <td>27–29 December</td> <td>New York</td> <td></td>
	</tr>
	<tr valign="top">
		<td></td> <td><i>27–29 December</i></td> <td><i>Nashville</i></td> <td></td>
	</tr>
	<tr valign="top">
		<td>1898</td> <td>27–29 December</td> <td>Charlottesville</td> <td></td>
	</tr>
	<tr valign="top">
		<td></td> <td><i>27–29 December</i></td> <td><i>Lincoln</i></td> <td></td>
	</tr>
	<tr valign="top">
		<td>1897</td> <td>27–29 December</td> <td>Philadelphia</td> <td></td>
	</tr>
	<tr valign="top">
		<td></td> <td><i>30 December–<br>&nbsp;&nbsp;&nbsp;&nbsp;1 January</i></td> <td><i>Evanston</i></td> <td></td>
	</tr>
	<tr valign="top">
		<td>1896</td> <td>29–31 December</td> <td>Cleveland</td> <td></td>
	</tr>
	<tr valign="top">
		<td></td> <td><i>29–31 December</i></td> <td><i>St. Louis</i></td> <td></td>
	</tr>
	<tr valign="top">
		<td>1895</td> <td>26–28 December</td> <td>New Haven</td> <td></td>
	</tr>
	<tr valign="top">
		<td></td> <td><i>30 December–<br>&nbsp;&nbsp;&nbsp;&nbsp;1 January</i></td> <td><i>Chicago</i></td> <td></td>
	</tr>
	<tr valign="top">
		<td>1894</td> <td>27–29 December</td> <td>Philadelphia</td> <td></td>
	</tr>
	<tr valign="top">
		<td>1893</td> <td>27–29 December</td> <td>Washington</td> <td></td>
	</tr>
	<tr valign="top">
		<td>1893</td> <td>13 July</td> <td>Chicago</td> <td align="right">56&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1892</td> <td>28–30 December</td> <td>Washington</td> <td></td>
	</tr>
	<tr valign="top">
		<td>1891</td> <td>28–31 December</td> <td>Washington</td> <td align="right">180&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1890</td> <td>29–31 December</td> <td>Nashville</td> <td align="right">61&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1889</td> <td>26–28 December</td> <td>Cambridge</td> <td align="right">62&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1888</td> <td>26–28 December</td> <td>Cincinnati</td> <td></td>
	</tr>
	<tr valign="top">
		<td>1887</td> <td>28–30 December</td> <td>Philadelphia</td> <td align="right">98&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1886</td> <td>28–30 December</td> <td>Baltimore</td> <td align="right">198&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1885</td> <td>29–30 December</td> <td>Boston</td> <td align="right">85&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1884</td> <td>29–30 December</td> <td>New York</td> <td align="right">53&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td>1883</td> <td>27–28 December</td> <td>New York</td> <td align="right">40&nbsp;&nbsp;&nbsp;&nbsp;</td>

	</tr>
	<tr valign="top">
		<td></td> <td></td> <td></td> <td></td>
	</tr>
</table>
