<h1>Calls for Papers</h1>
<p>The listing of calls for papers allows session organizers to solicit paper submissions for potential MLA sessions and connects MLA members who wish to participate in the convention with session organizers. Calls for papers are <i>not</i> session proposals. Posting a call for papers does not guarantee a convention session, and responding to a call for papers does not guarantee participation in the convention.</p>

<h3>Vancouver 2015</h3>
<p>Calls for papers are currently available for the 2015 MLA Annual Convention in Vancouver, 8–11 January 2015.</p>

<h3>Posting Calls for Papers</h3>
<p>Session organizers who wish to solicit paper submissions for the 2015 convention may <a href="/cfp_main">submit calls for papers</a> until 21 February 2014.</p>
<p>Each MLA division must post at least one call for papers per convention. Other entities  (discussion group, allied organization, MLA committee, American Literature Section) and organizers of special sessions are not required to post a call for papers.</p>
<p>Program copy forms for sessions at the 2015 convention will be available at <a href="/convention">www.mla.org/convention</a> by early March 2014. Completed program copy forms must be submitted by 1 April 2014.</p>

<h3>Viewing and Responding to Calls for Papers</h3>
<p><a href="/callsforpapers">Calls for papers</a> for the 2015 convention can be viewed through March 2014. The list of calls for papers will be updated as new calls are posted, so we recommend checking this page regularly for updates.</p>
<p>Session organizers determine their own submission deadlines and submission requirements, although most submission deadlines are for early to mid March. Responses to calls for papers should be sent to the e-mail address listed with the calls for papers. Do not send paper proposals to the MLA offices.</p>
