<P><b>ACCESS GUIDELINES FOR MLA CONVENTION SESSION ORGANIZERS AND SPEAKERS</b></P>

<P>The MLA is committed to making arrangements that allow all members of the association to participate in the convention. Therefore, the MLA requests that all session organizers and presenters review the following information and take the necessary steps to make their sessions accessible to attendees with permanent or temporary disabilities. While the guidelines listed below have been designed to provide access to attendees with disabilities, many will benefit all convention participants.</P>

<p>
<b>Room Setup</b>
</p>


<p>
Space has been left for two wheelchairs in each meeting room. Please keep this area and the aisles clear for persons who may be using wheelchairs, canes, crutches, or motorized vehicles. Space should be left around the doors and aisles to allow access.
</p>


<p>
People who are deaf or hard of hearing and who use sign language interpreters or read lips need to sit where they can see both the speakers and the interpreter. The interpreter may stand close to the speaker or within a direct line of sight to allow the audience to view both the speaker and the interpreter. Speakers should be aware of the location of interpreters and attempt to keep this line of vision clear.
</p>


<p>
<b>Papers, Handouts, and Audiovisuals</b>
</p>


<p>
Speakers should bring five copies of their papers, even in draft form, for the use of members who wish or need to follow a written text. Speakers who use handouts should prepare three copies in large-print format (boldface 14- to 16-point font size) and briefly describe or read all handouts to the audience. Avoid colored papers. Speakers should indicate whether they want their papers and handouts returned.
</p>


<p>
Consider the possibility that persons in the audience may be blind. Allow ample time when referring to a visual aid or handout or when pointing out the location of materials. Briefly describe the materials.
</p>


<p>
When not using an overhead projector, turn it off. This reduces background noise and helps focus audience attention on the speaker.
</p>


<p>
<b>Communication and Presentation</b>
</p>


<p>
Speak clearly and distinctly, but do not shout. Use regular speed unless asked to slow down by members of the audience, sign interpreters, or persons using real-time captioning.
</p>


<p>
Because microphones often fail to pick up voices in the audience, speakers should always repeat questions or statements made by members of the audience. In dialogues or discussions, only one person should speak at a time, and speakers should identify themselves so that audience members will know who is talking.
</p>


<p>
Avoid speaking from a darkened area of the room. Some people read lips, so the audience should have a direct and clear view of the speaker's mouth and face.
</p>


<p>
If you have questions, concerns, or comments, please write or call:
</p>

<p>
Karin Bagnall<BR>
Modern Language Association<BR>
26 Broadway, 3rd floor, New York, NY 10004-1789<BR>
fax 646 835-4004; TDD: 646 576-5148<BR>
e-mail: <a href="mailto:kbagnall@mla.org">kbagnall@mla.org</a>
</p>
