<h1>Convention Deadlines</h1>
Except where indicated otherwise, the deadline is the close of business on the date listed. For specific information, please consult the <a href="/conv_procedures">procedures</a>. 
<P>
Please address all correspondence concerning sessions to the appropriate person below.
<P/><P>
Divisions and discussion groups: Karin Bagnall, <a href="mailto:kbagnall@mla.org">kbagnall@mla.org</a><BR>
Special sessions: Stacey Courtney, <a href="mailto:scourtney@mla.org">scourtney@mla.org</a><BR>
Committees: Maribeth T. Kraus, <a href="mailto:mkraus@mla.org">mkraus@mla.org</a> <BR> 
Allied organizations: Allison Warheit, <a href="mailto:awarheit@mla.org">awarheit@mla.org</a><P/>


<table border="0" cellpadding="3" cellspacing="1" width="100%" bgcolor="[[color1]]">

<tr>
		<td colspan="2" bgcolor="[[color2]]" align="center"><font color="#ffffff"><b>2013</b></font></td>
	</tr>
<tr valign="TOP">
		<td width="20%"  bgcolor="#ffffff"><font color="[[color1]]">early June</font></td>
		<td bgcolor="#ffffff">Notification of Program Committee’s decisions mailed to members who submitted proposals for special sessions and competitive sessions for January 2014 convention</td></tr> 
<tr valign="TOP">
		<td bgcolor="#ffffff"><font color="[[color1]]">mid June</font></td>
		<td bgcolor="#ffffff">Notification of decisions on funding requests mailed to organizers who applied for funds for speakers</td></tr>       

<tr valign="TOP">
		<td bgcolor="#ffffff"><font color="[[color1]]">mid July</font></td>
		<td bgcolor="#ffffff">Proofs of program copy and information on date, time, and place of January 2014 convention sessions sent to organizers</td></tr>
<tr valign="TOP">
		<td bgcolor="#ffffff"><font color="[[color1]]">late July</font></td>
		<td bgcolor="#ffffff">Deadline for receipt of corrections to proofs of program copy for the November 2013 (Program) issue of <i>PMLA</i> for January 2014 convention</td></tr> 

<tr valign="TOP">
		<td bgcolor="#ffffff"><font color="[[color1]]">early Aug.</font></td>
		<td bgcolor="#ffffff">Session organizers may post calls for papers for 2015 convention. <b><i>Divisions must submit at least one call for papers per convention.</i></b></td></tr> 
<tr valign="TOP">
		<td bgcolor="#ffffff"><font color="[[color1]]">late Aug.</font></td>
		<td bgcolor="#ffffff">Information on date, time, and place of the January 2014 convention sessions to be sent by organizers to panelists</td></tr> 
<tr valign="TOP">
		<td bgcolor="#ffffff"><font color="[[color1]]">late Sept.</font></td>
		<td bgcolor="#ffffff">Fall 2013 <i>MLA Newsletter</i> (Convention Issue) mailed to members and posted online</td></tr> 
<tr valign="TOP">
		<td bgcolor="#ffffff"><font color="[[color1]]">early Oct.</font></td>
		<td bgcolor="#ffffff">Early registration deadline for January 2014 convention</td></tr> 
<tr valign="TOP">
		<td bgcolor="#ffffff"><font color="[[color1]]">early Dec.</font></td>
		<td bgcolor="#ffffff">Preregistration deadline for January 2014 convention</td></tr> 

<tr valign="TOP">
		<td bgcolor="#ffffff"><font color="[[color1]]">early Dec.</font></td>
		<td bgcolor="#ffffff">Hotel reservation deadline for January 2014 convention</td></tr> 

<tr>
		<td colspan="2" bgcolor="[[color2]]" align="center"><font color="#ffffff"><b>2014</b></font></td>
	</tr>

<tr valign="TOP">
		<td bgcolor="#ffffff"><font color="[[color1]]">9–12 Jan.</font></td>
		<td bgcolor="#ffffff">2014 MLA convention held in Chicago</td></tr> 

<tr valign="TOP">
		<td bgcolor="#ffffff"><font color="[[color1]]">10 Jan.</font></td>
		<td bgcolor="#ffffff">Postmark deadline for registration refund request for January 2014 convention</td></tr> 
<tr valign="TOP">
		<td bgcolor="#ffffff"><font color="[[color1]]">21 Feb.</font></td>
		<td bgcolor="#ffffff">Deadline for submission of January 2015 convention calls for papers. <b><i>Divisions must submit at least one call for papers per convention.</b></i>
		</td>
</tr>	

<tr valign="TOP">
		<td bgcolor="#ffffff" rowspan="3"><font color="[[color1]]"><b>1 Apr. </b></font></td>
		<td bgcolor="#ffffff"><b>Program copy deadline</b> for divisions, discussion groups, MLA committees, and allied organizations and for special-session proposals and forum proposals for January 2015 convention
		</td>
	</tr>   
<tr valign="TOP">
		<td bgcolor="#ffffff">Deadline for receipt of requests for waiver of membership requirements for participants in the January 2015 convention
		</td>
	</tr>   
<tr valign="TOP">
		<td bgcolor="#ffffff">Deadline for Web submission of requests for audiovisual equipment for the January 2015 convention</td>
	</tr>  
<tr valign="TOP">
		<td bgcolor="#ffffff"><font color="[[color1]]">7 Apr.</font></td>
		<td bgcolor="#ffffff">Deadline by which session participants at the January 2015 convention must be listed on the MLA membership rolls</td>
	</tr>     
<tr valign="TOP">
		<td bgcolor="#ffffff"><font color="[[color1]]">15 Apr.</font></td>
		<td bgcolor="#ffffff">Deadline for receipt of requests for funds for speakers at the January 2015 convention </td></tr> 		
		
</table>
