<div style="text-align:center; margin-bottom:40px"><img src="/IMAGES/mla2014-logo.gif" width=250 height=136 border=0 alt="Chicago MLA 2014"></div>

<h1>129th MLA Annual Convention <br />Chicago, 9–12 January 2014</h1>

<p>The convention will begin on Thursday, 9 January, and end on Sunday, 12 January. Most events will take place in the Chicago Marriott and the Sheraton Chicago. All MLA members and others involved in the study or teaching of language and literature must register for the convention to participate in or attend meetings, visit the exhibit hall, take part in job interviews, or reserve hotel rooms at special MLA rates. </p>

<p><a href="/conv_registration">Registration</a> is now open for MLA members and nonmembers.</p> 

<b>For information about what to do if a weather or other emergency affects your convention travel, please visit the <a href="/convention_services#emergencies">2014 Convention Information and Services page</a>.</b>

<h3>REGISTRATION AND TRAVEL</h3>

<a href="/conv_registration">Register and Book Hotel Rooms</a><br/>
<a href="/conv_travel">Plan Your Travel</a><br/>
<a href="/grants">Apply for Travel Assistance</a><br/>

<br/>

<h3>SESSION INFORMATION</h3>
<a href="/program">2014 Program</a><br/>
<a href="/2014_pres_theme_inv" >Read about the 
Presidential Theme: Vulnerable Times</a>[[[docstudio filetype_tag_pdf]]]<br/>
<a href="/2014_pres_forum" >Presidential Forum Brochure</a>[[[docstudio filetype_tag_pdf]]]<br/>
<a href="http://convention.commons.mla.org/lists-of-sessions-on-various-topics/">Lists of Sessions on Various Topics</a><br/><br/>
[[[comment]]]
<a href="/ssp_main_social">Request to Hold a Social Event</a><br/>
(Late-night on-site and off-site events only)<br/>
[[[endcomment]]]

<h3>GENERAL CONVENTION INFORMATION</h3>

<a href="/convention_services">2014 Convention Information and Services</a><br/>
<a href="/2014_conv_guide" ><i>Convention Guide</i></a>[[[docstudio filetype_tag_pdf]]]<br/>
<i>Convention Daily</i><br/>
<div style="margin-left:2em; margin-top: 0; margin-bottom:0.5em;"><a href="/2014_daily_day1" >9 January 2014</a>[[[docstudio filetype_tag_pdf]]]<br/>
<a href="/2014_daily_day2" >10 January 2014</a>[[[docstudio filetype_tag_pdf]]]<br/>
<a href="/2014_daily_day3" >11–12 January 2014</a>[[[docstudio filetype_tag_pdf]]]

</div>
<a href="/2014_hotels" target="other">Map of Convention Venues</a>[[[docstudio filetype_tag_pdf]]]<br/>
<a href="http://twitter.com/mlaconvention" target="_blank">Follow the Convention on <em>Twitter</em></a><br/>
<a href="/conv_exhibithall">Visit the Exhibit Hall</a><br/>
<a href="/2014_shuttle_service" >Shuttle Bus Service</a>[[[docstudio filetype_tag_pdf]]]
<br/>

<h3>CHICAGO INFORMATION</h3>
<a href="/cultural_excursions_2014">MLA Cultural Excursions</a><br/>

<br/>

<h3>Vancouver 2015</h3>
<p>The 2015 convention will take place in Vancouver from 8 to 11 January 2015. Links to information on visiting Canada are available on the <a href="/future_conventions">Future Conventions page</a>.<br/>
<a href="/innovative_proposals">View the Program Committee's Call for Innovative Proposals</a><br/>


 
