<center><img src="/IMAGES/mla2014-logo.gif" width=250 height=136 border=0 alt=""></center>
<h1>Registration and Hotels</h1>
Register for the convention by using the appropriate link below. Attendees who join the MLA now will receive discounted registration for both the 2014 and 2015 conventions.

<b>Please make sure that your e-mail is set up to receive messages from the MLA domain (mla.org); this will allow you to receive the registration and hotel confirmation e-mails.</b>

<blockquote>
<div class="top_indent"><a class="sectionindex" href="/conv_reg_mem">Register as a Member</a></div>
<div class="top_indent"><a class="sectionindex" href="/joinnowandsave">Register as a Nonmember</a></div>

<div class="top_indent"><a href="/registrationandhousingfaq">2014 Registration and Housing FAQs</a></div>
</blockquote>

<h2>Housing</h2>
You must be registered for the convention to make hotel reservations through the official housing service, Convention Management Resources (CMR). To reserve a hotel room, use the link provided on your registration confirmation page or in your confirmation e-mail. CMR is the only official housing agent for the MLA Annual Convention in Chicago. Reservations made through any agency other than CMR cannot be guaranteed by the MLA; other agencies may impose additional fees, charge higher room rates than those the MLA offers to convention participants, or fail to reserve a hotel room. Please use the online hotel reservation system on the MLA Web site to avoid any confusion or additional charges. For further information and assistance, call MLA housing at 888 644-2282 or, for international callers, 415 293-4396. If you are contacted by any agency other than CMR, please notify us at <a href="mailto:MLAhousing@cmrus.com">MLAhousing@cmrus.com</a>.

<a href="/2014_hotel_rates"  target="_blank">2014 Hotel Descriptions</a>[[[docstudio filetype_tag_pdf]]]&nbsp;(Hotel rates for single and double rooms range from $89 to $151, depending on the hotel.)

<h2>Convention Locations</h2>
Most foreign language sessions, some comparative literature sessions, and the exhibit hall are in the Sheraton Chicago. Most English and some comparative literature sessions are in the Chicago Marriott. The Job Information Center is in the Fairmont.

<h2><a name="refund"></a>Registration Refunds</h2>
Requests for refunds must be made in writing, <b>accompanied by unused convention badges with receipt attached, and postmarked no later than 10 January.</b> If you paid by credit card, please supply the credit card number and expiration date in your letter to expedite your refund. Mail requests for refunds to MLA Convention Office, Bowling Green Station, PO Box 107, New York, NY 10274-0107. <b>A $20 service fee is deducted from all refunds.</b>

 
