<center><img src="/IMAGES/mla2014-logo.gif" width=190  border=0 alt=""></center>
<h1>Travel Arrangements</h1>
Travel arrangements may be made through the MLA convention travel Web site hosted by <a href="http://www.macnairtravel.com/MLA-2014.html" target="_blank">MacNair Travel Management</a>, the official travel coordinator for the MLA Annual Convention.

For information on traveling to Chicago from outside the United States (including passport and visa requirements), please visit the <a href="http://www.state.gov/" target="blank">United States Department of State Web site</a>.

<b>Airline Discounts</b>

<ul><li>United Airlines: 2%–13% off applicable fares for travel from 6 to 15 January 2014. Other restrictions and fees may apply.

<i>If you prefer to book directly with United Airlines, you may call 800 426-1122, for a 2%–10% discount, or visit</i>
<a href="http://www.united.com/web/en-Us/apps/booking/specials/meetings/default.aspx" target="_blank">http://www.united.com/web/en-Us/apps/booking/specials/meetings/default.aspx</a>, for a 5%–13% discount.

<i>For reservations made over the phone</i>
Meeting Z Code: <b>ZQRJ</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Agreement Code: <b>808314</b>

<i>For reservations made through united.com</i>
Code: <b>ZQRJ808314</b></li>

<li>Delta Airlines: up to 10% off applicable fares for travel from 6 to 15 January 2014.  Other restrictions and fees may apply.

<i>If you prefer to book directly with Delta Airlines, you may call 800 328-1111 or visit</i> 
<a href="http://www.delta.com/booking/searchFlights.do?displayTripType=roundtrip" target="other">http://www.delta.com/booking/searchFlights.do?displayTripType=roundtrip</a>.

Reference Code: <b>NMGTQ</b></li>

<li>MacNair will also search for the lowest available fare on any airline.</li></ul>

<b>Amtrak Discount</b>

<ul><li>Amtrak: 10% off the lowest available rail fares (no other discounts will apply). Other restrictions may apply.

For reservations, call 800 USA-Rail or 800 872-7245 and ask to speak to an agent.

Convention Fare Code: <b>X55Q-979</b>

The above discount is valid for travel to and from Chicago between 6 and 15 January 2014. This offer is not valid for the Auto Train or Acela service. The Amtrak convention fare is only available for reservations made by phone.</li></ul>

<b>Automatic Flight Insurance</b>

<ul><li>$100,000 in accident insurance is provided at the point of sale at no additional cost in conjunction with an airline ticket purchased through MacNair Travel.</li></ul>
MacNair will send electronic ticket receipts and itineraries for your airline and train tickets and rental car reservations to your e-mail address if you book through the Web site or if you book over the phone. There is a service fee of $35 per ticket for telephone reservations or $10 per ticket for reservations made through the Web site. MacNair can be reached by phone (877 410-8195) Monday through Friday between 9:00 a.m. and 7:00 p.m. Eastern time. Reservations for air travel and rental cars can be made on the MLA convention travel Web site at any time.

<b>When you use the <a href="http://www.macnairtravel.com/MLA-2014.html" target="_blank">MLA convention travel Web site</a>, these discounts will automatically be applied to your reservations.</b>

<h2>Transportation to and in Chicago</h2>
<p>MLA convention hotels are located in the North Michigan Avenue area.</p>
<p><i>Airport Transportation. </i>Chicago is served by O’Hare International Airport and Midway Airport. For airport information, visit <a href="http://www.flychicago.com/" target="_blank">www.flychicago.com/</a>. The rates for taxis to downtown Chicago are $40–$50 from O’Hare and $30–$40 from Midway. Rates vary based on travel time and are subject to change. The Chicago Transit Authority (CTA) serves both airports for easy and economical travel to downtown Chicago. The CTA Blue Line connects directly to O’Hare, and the CTA Orange Line connects directly to Midway. Visit <a href="http://transitchicago.com/airports" target="_blank">transitchicago.com/airports</a> for fare information and maps. GO Airport Express provides shared ride services from the airports to all downtown hotels. A 10% discount is available by going to ​​​<a href="http://airportexpress.hudsonltd.net/res?USERIDENTRY=MLA-2014&LOGON=GO" target="_blank">http://airportexpress.hudsonltd.net/res?USERIDENTRY=MLA-2014&LOGON=GO</a>.</p>
<p><i>Amtrak.</i> Amtrak (<a href="http://www.amtrak.com" target="_blank">www.amtrak.com</a>) trains enter and leave downtown Chicago’s Union Station. Nearby MLA hotels can be reached by CTA (<a href="http://www.transitchicago.com" target="_blank">transitchicago.com</a>) or taxi.</p>
