<h1>Volumes Published and Forthcoming (J–Z)</h1>
<TABLE WIDTH="100%"><TR><td ALIGN=LEFT><b>HENRY JAMES: The Complete Letters. Eds., Greg W. Zacharias and Pierre A. Walker</b>

University of Nebraska Press
1111 Lincoln Mall
Lincoln, NE 68588-0255
<b>Published</b>
<I>The Complete Letters of Henry James, 1855-1872</I>
Volume 1, 2006.
Volume 2, 2006.
<I>The Complete Letters of Henry James, 1872-1876</I>
Volume 1, 2009.
Volume 2, 2009.
Volume 3, 2011.
<i>The Complete Letters of Henry James, 1876–1878</i> 					
Volume 1, 2012.

<b>Forthcoming</b>
<i>The Complete Letters of Henry James, 1876–1878</i> 					
Volume 2.

<b>WILLIAM JAMES</b>

<b><I>The William James Edition</b></i>
</td></tr></table>

<TABLE WIDTH="100%">
<TR><TD VALIGN=TOP WIDTH="40%">Harvard University Press
79 Garden Street
Cambridge, MA  02138</td><TD WIDTH="40%">Elizabeth Berkeley, Coordinating Ed.
The William James Edition<BR>2403 Bennington Road<BR>Charlottesville, VA  22901</td></tr>
</table>
<TABLE >
<TR><td ALIGN=LEFT COLSPAN=2><b>Published</b></td></tr>
<TR><TD VALIGN=TOP WIDTH="5%">1.</td>
<TD WIDTH="90%"><I>Pragmatism</i>, 1975.</td></tr>
<TR><TD VALIGN=TOP WIDTH="5%">2.</td>
<TD WIDTH="90%"><I>The Meaning of Truth</i>, 1975.</td></tr>
<TR><TD VALIGN=TOP WIDTH="5%">3.</td>
<TD WIDTH="90%"><I>Essays in Radical Empiricism</i>, 1976.</td></tr>
<TR><TD VALIGN=TOP WIDTH="5%">4.</td>
<TD WIDTH="90%"><I>A Pluralistic Universe</i>, 1977.</td></tr>
<TR><TD VALIGN=TOP WIDTH="5%">5.</td>
<TD WIDTH="90%"><I>Essays in Philosophy</i>, 1978.</td></tr>
<TR><TD VALIGN=TOP WIDTH="5%">6.</td>
<TD WIDTH="90%"><I>The Will to Believe</i>, 1979.</td></tr>
<TR><TD VALIGN=TOP WIDTH="5%">7.</td>
<TD WIDTH="90%"><I>Some Problems of Philosophy</i>, 1979.</td></tr>
<TR><TD VALIGN=TOP WIDTH="5%">8.</td>
<TD WIDTH="90%"><I>The  Principles of Psychology</i>, vols. 1, 2, 3, 1983.</td></tr>
<TR><TD VALIGN=TOP WIDTH="5%">9.</td>
<TD WIDTH="90%"><I>Essays in Religion and Morality</i>,1982.</td></tr>
<TR><TD VALIGN=TOP WIDTH="5%">10.</td>
<TD WIDTH="90%"><I>Talks to Teachers on Psychology</i>, 1983.</td></tr>
<TR><TD VALIGN=TOP WIDTH="5%">11.</td>
<TD WIDTH="90%"><I>Essays in Psychology</i>, 1983.</td></tr>
<TR><TD VALIGN=TOP WIDTH="5%">12.</td>
<TD WIDTH="90%"><I>Psychology: Briefer Course</i>, 1984.</td></tr>
<TR><TD VALIGN=TOP WIDTH="5%">13.</td>
<TD WIDTH="90%"><I>The Varieties of Religious Experience</i>, 1985.</td></tr>
<TR><TD VALIGN=TOP WIDTH="5%">14.</td>
<TD WIDTH="90%"><I>Essays in Psychical Research</i>, 1986.</td></tr>
<TR><TD VALIGN=TOP WIDTH="5%">15.</td>
<TD WIDTH="90%"><I>Essays, Comments, and Reviews</i>, 1987.</td></tr>
<TR><TD VALIGN=TOP WIDTH="5%">16.</td>
<TD WIDTH="90%"><I>Manuscript Essays and Notes</i>, 1988.</td></tr>
<TR><TD VALIGN=TOP WIDTH="5%">17.</td>
<TD WIDTH="90%"><I>Manuscript Lectures</i>, 1988.</td></tr>
</table>
<H3>The Correspondence, John J. McDermott, gen. ed.; ed. Ignas K. Skrupskelis and Elizabeth M. Berkeley</h3>
<TABLE WIDTH="100%">
<TR><TD VALIGN=TOP WIDTH="40%">University of Virginia Press
PO Box 400318
Charlottesville, VA 22904-4318</td></tr>
</table>
<TABLE >
<TR><TD ALIGN=LEFT COLSPAN=2><b>Published</b></td></tr>
<TR><TD VALIGN=TOP WIDTH="5%">1.</td>
<TD WIDTH="90%"><I>William and Henry, 1861-1884</i>, 1992.</td></tr>
<TR><TD VALIGN=TOP WIDTH="5%">2.</td>
<TD WIDTH="90%"><I>William and Henry, 1885-1896</i>, 1993.</td></tr>
<TR><TD VALIGN=TOP WIDTH="5%">3.</td>
<TD WIDTH="90%"><I>William and Henry, 1897-1910</i>, 1994.</td></tr>
<TR><TD VALIGN=TOP WIDTH="5%">4.</td>
<TD WIDTH="90%"><I>1856-1877</i>, 1995.</td></tr>
<TR><TD VALIGN=TOP WIDTH="5%">5.</td>
<TD WIDTH="90%"><I>1878-1884</i>, 1997.</td></tr>
<TR><TD VALIGN=TOP WIDTH="5%">6.</td>
<TD WIDTH="90%"><I>1885-1889</i>, 1998.</td></tr>
<TR><TD VALIGN=TOP WIDTH="5%">7.</td>
<TD WIDTH="90%"><I>1890-1894</i>, 1999.</td></tr>
<TR><TD VALIGN=TOP WIDTH="5%">8.</td>
<TD WIDTH="90%"><I>1895-June 1899</i>, 2000.</td></tr>
<TR><TD VALIGN=TOP WIDTH="5%">9.</td>
<TD WIDTH="90%"><I>July 1899-1901</i>,  2001.</td></tr>
<TR><TD VALIGN=TOP WIDTH="5%">10.</td>
<TD WIDTH="90%"><I>1902-March 1905</i>, 2002.</td></tr>
<TR><TD VALIGN=TOP WIDTH="5%">11.</td>
<TD WIDTH="90%"><I>April 1905-March 1908</i>, 2003.</td></tr>
<TR><TD VALIGN=TOP WIDTH="5%">12.</td>
<TD WIDTH="90%"><I>April 1908-August 1910</i>, 2004.</td></tr>
</table>

<H3>SINCLAIR LEWIS. Ed., George Killough</h3>
<TABLE WIDTH="100%">
<TR><TD VALIGN=TOP WIDTH="40%">University of Idaho Press
c/o Caxton Press
312 Main Street
Caldwell, ID 83605
<TR><Td ALIGN=LEFT COLSPAN=2><b>Published</b></td></tr>
<TR><TD><I>A Minnesota Diary</i>, 2000.</td></tr>
</table>

<H3>ANNE VAUGHAN LOCK. Ed., Susan M. Felch</h3>
<TABLE WIDTH="100%">
<TR><TD VALIGN=TOP WIDTH="40%">Center for Medieval and Early Renaissance Studies
MRTS-LN G99
State University of New York
Binghamton, NY  13902-6000</td></tr>
</table>
<TABLE><TR><Td ALIGN=LEFT COLSPAN=2><b>Published</b></td></tr>
<TR><TD><I>The Collected Works of Anne Vaughan Lock</i>, 1999</td></tr>
</table>

<h3>HENRY WADSWORTH LONGFELLOW. Ed., Edward L. Tucker</h3>
<table width="100%">
<tr><td valign=TOP width="40%">University of Virginia Press
PO Box 400318
Charlottesville, VA 22904-4318.</td></tr></table>
<table><tr>
<td align=LEFT colspan=2><b>Published</b></td>
</tr><tr><td><i>The Shaping of Longfellow's </i>John Endicott<i>: A Textual History, Including Two Early Versions</i>, 1985.</td>
</tr></table>

<h3>JAMES RUSSELL LOWELL. Ed., Thomas Wortham</h3>
<TABLE WIDTH="100%">
<TR><TD VALIGN=TOP WIDTH="40%">Northern Illinois University Press
310 North Fifth Street
DeKalb, IL 60115</td></tr>
</table>
<TABLE>
<TR><Td ALIGN=LEFT COLSPAN=2><b>Published</b></td></tr>
<TR><TD><I>The Biglow Papers [First Series]</i>, 1977.</td></tr>
</table>

<H3>COTTON MATHER. Ed., Ronald Bosco</h3>
<TABLE WIDTH="100%">
<TR><TD VALIGN=TOP WIDTH="40%">Scholars' Facsimiles and Reprints
P.O. Box 5934
Carefree, AZ 85377</td></tr>
</table>
<TABLE><TR><Td ALIGN=LEFT COLSPAN=2><b>Published</b></td></tr>
<TR><TD><I>Paterna: The Autobiography of Cotton Mather</i>, 1976, 1978.</td></tr>
<TR><TD><I>Triparadisus</i>, 1994.</td></tr></table>

<H3>HERMAN MELVILLE: The Writings. Eds., Harrison Hayford, Hershel Parker, and G. Thomas Tanselle</h3>
<TABLE WIDTH="100%">
<TR><TD VALIGN=TOP WIDTH="40%">Northwestern University Press and
The Newberry Library
629 Noyes Street
Evanston, IL  60208-4210</td></tr>
</table>
<TABLE><TR><Td ALIGN=LEFT COLSPAN=2><b>Published</b></td></tr>
<TR><TD VALIGN=TOP WIDTH="5%">1.</td>
<TD WIDTH="90%"><I>Typee</i>, 1968.</td></tr>
<TR><TD VALIGN=TOP WIDTH="5%">2.</td>
<TD WIDTH="90%"><I>Omoo</i>, 1968, trade paper, 1999.</td></tr>
<TR><TD VALIGN=TOP WIDTH="5%">3.</td>
<TD WIDTH="90%">Mardi <i>and</i> A Voyage Thither, 1970, trade paper, 1998.</td></tr>
<TR><TD VALIGN=TOP WIDTH="5%">4.</td>
<TD WIDTH="90%"><I>Redburn</i>, 1972.</td></tr>
<TR><TD VALIGN=TOP WIDTH="5%">5.</td>
<TD WIDTH="90%"><I>White-Jacket</i>, 1970, trade paper, 2000.</td></tr>
<TR><TD VALIGN=TOP WIDTH="5%">6.</td>
<TD WIDTH="90%"><I>Moby-Dick</i>, 1988, trade paper, 2001.</td></tr>
<TR><TD VALIGN=TOP WIDTH="5%">7.</td>
<TD WIDTH="90%"><I>Pierre</i>, 1972, trade paper, 1995.</td></tr>
<TR><TD VALIGN=TOP WIDTH="5%">8.</td>
<TD WIDTH="90%"><I>Israel Potter</i>, 1982, trade paper, 1998.</td></tr>
<TR><TD VALIGN=TOP WIDTH="5%">9.</td>
<TD WIDTH="90%"><I>The Piazza Tales</i>, 1987, trade paper, 1996.</td></tr>
<TR><TD VALIGN=TOP WIDTH="5%">10.</td>
<TD WIDTH="90%"><I>The Confidence-Man</i>, 1984, trade paper, 2002.</td></tr>
<TR><TD VALIGN=TOP WIDTH="5%">12.</td>
<TD WIDTH="90%"><I>Clarel</i>, 1991.</td></tr>
<TR><TD VALIGN=TOP WIDTH="5%">14.</td>
<TD WIDTH="90%"><I>Correspondence</i>, 1993.</td></tr>
<TR><TD VALIGN=TOP WIDTH="5%">15.</td>
<TD WIDTH="90%"><I>Journals</i>, 1989.</td></tr>
</table>

<h3>HERMAN MELVILLE. Ed., John Bryant</h3>
University of Virginia Press
P. O. Box 400312
Charlottesville, VA 22904-4318<br><b>Published</b>
<i>Herman Melville’s</i> Typee: <i>A Fluid Text</i>, 2006. 
Seal awarded, 29 April 2009.

<H3>CHARLES F. NOLAND. Ed., Leonard Williams</h3>
<TABLE WIDTH="100%">
<TR><TD VALIGN=TOP WIDTH="40%">Memphis State University Press</td></tr></table>
<TABLE><TR><Td ALIGN=LEFT COLSPAN=2><b>Published</b></td></tr>
<TR><TD><I>Cavorting on the Devil's Fork: The Pete Whetstone Letters</i>, 1979.</td></tr></table>

<H3>CHARLES S. PEIRCE: Writings: A Chronological Edition. Eds., Nathan Hauser et al.</h3>
<TABLE WIDTH="100%">
<TR><TD WIDTH="40%">Indiana University Press<BR>601 North Morton Street<BR>Bloomington, IN  47404-3797</td><TD WIDTH="40%">Peirce Edition Project<BR>425 Agnes Street<BR>Indianapolis, IN  46202</td></tr>
</table>
<table width="100%">
<TR><TD ALIGN=LEFT COLSPAN=2><b>Published</b></td></tr>
<TR><TD VALIGN=TOP WIDTH="5%">1.</td><TD WIDTH="90%"><I>1857-1866</i>, 1982.</td></tr>
<TR><TD VALIGN=TOP WIDTH="5%">2.</td><TD WIDTH="90%"><I>1867-1871</i>, 1984.</td></tr>
<TR><TD VALIGN=TOP WIDTH="5%">3.</td><TD WIDTH="90%"><I>1871-1878</i>, 1986.</td></tr>
<TR><TD VALIGN=TOP WIDTH="5%">4.</td><TD WIDTH="90%"><I>1879-1884</i>, 1989.</td></tr>
<TR><TD VALIGN=TOP WIDTH="5%">5.</td><TD WIDTH="90%"><I>1884-1886</i>, 1993.</td></tr>
<TR><TD VALIGN=TOP WIDTH="5%">6.</td><TD WIDTH="90%"><I>1886-1890</i>,  2000.</td></tr>
<TR><TD VALIGN=TOP WIDTH="5%">8.</td><TD WIDTH="90%"><I>1890-1892</i>,  2010.</td></tr>
<TR><TD ALIGN=LEFT COLSPAN=2><b>Forthcoming</b></td></tr>
<TR><TD VALIGN=TOP WIDTH="5%">9.</td><TD WIDTH="90%"><i>1892-1893.</i></td></tr>
</table>

<H3>GEORGE SANTAYANA: The Works. Eds., William G. Holzberger, Herman J. Saatkamp, Jr., and Marianne Wokeck</h3>
<TABLE WIDTH="100%">
<TR><TD WIDTH="40%">MIT Press<BR>5 Cambridge Center, 4th floor
Cambridge, MA  02142-1493</td></tr>
</table>
<TABLE>
<TR><Td ALIGN=LEFT COLSPAN=2><b>Published</b></td></tr>
<TR><TD VALIGN=TOP WIDTH="5%">1.</td><TD WIDTH="90%"><I>Persons and Places: Fragments of Autobiography</i>, 1986.</td></tr>
<TR><TD VALIGN=TOP WIDTH="5%">2.</td><TD WIDTH="90%"><I>The Sense of Beauty: Being the Outlines of Aesthetic Theory</i>, 1988.</td></tr>
<TR><TD VALIGN=TOP WIDTH="5%">3.</td><TD WIDTH="90%"><I>The Interpretations of Poetry and Religion</i>, 1989.</td></tr>
<TR><TD VALIGN=TOP WIDTH="5%">4.</td><TD WIDTH="90%"><I>The Last Puritan</i>, 1994.</td></tr>
<TR><TD VALIGN=TOP WIDTH="5%">5.</td>
<TD WIDTH="90%"><I>The Letters</i>
<i>Book 1: 1868-1909</i>, 2001.
	<i>Book 2: 1916-1920</i>, 2001.
	<i>Book 3: 1921-1927</i>, 2002.
	<i>Book 4: 1928-1932</i>, 2003.
	<i>Book 5: 1933-1936</i>, 2003.
	<i>Book 6: 1937-1940</i>, 2004.
	<i>Book 7: 1941-1947</i>, 2007.
	<i>Book 8: 1948-1952</i>, 2008.
</td></tr>
<TR><TD VALIGN=TOP WIDTH="5%">7.</td>
<TD WIDTH="90%"><i>The Life of Reason; or, The Phases of Human Progress</i>
<i>Book 1:</i> Introduction <i>and</i> Reason in Common Sense, 2011.</td></tr></table>

<h3>SARAH ROBINSON SCOTT. Ed., Nicole Pohl</h3>
Pickering and Chatto
21 Bloomsbury Way
London, WC1A 2TH
United Kingdom

<b>Forthcoming</b>
<i>The Letters of Sarah Scott</i>

<h3>WILLIAM GILMORE SIMMS: The Centennial Edition. Eds., John C. Guild and James B. Meriwether</h3>
<TABLE WIDTH="100%">
<TR><TD WIDTH="40%">University of South Carolina Press
1600 Hampton Street, 5th floor
Columbia, SC  29208</td></tr></table><TABLE>
<TR><Td ALIGN=LEFT COLSPAN=2><b>Published</b></td></tr>
<TD><I>Voltmeier, of the Mountain Men</i>, 1969.</td></tr>
<TD>As Good as a Comedy <I>and</i> Paddy McGann, 1972.</td></tr>
<TD><I>Stories and Tales</i>, 1974.</td></tr>
<TD><I>Jocelyn: A Tale of Revolution</i>, 1976.</td></tr>
</table>

<h3>GERTRUDE STEIN. Eds.,  Susannah Hollister and Emily Setina</h3>
<TABLE WIDTH="100%">
<TR><TD WIDTH="40%">Yale University Press
P. O. Box 207040
New Haven, CT 06520-9040</td></tr></table>

<b>Published</b>
Stanzas in Meditation<i>: The Corrected Text</i>, 2011.

<H3>EDWARD TAYLOR. Ed., Charles W. Mignon</h3>
<TABLE WIDTH="100%">
<TR><TD WIDTH="40%">University of Nebraska Press
1111 Lincoln Mall
Lincoln, NE 68588-0255</td></tr>
</table>
<TABLE><TR><Td ALIGN=LEFT COLSPAN=2><b>Published</b></td></tr>
<TD><I>Upon the Types of the Old Testament</i>, vols. 1 and 2, 1989.</td></tr></table>

<H3>WILLIAM MAKEPEACE THACKERAY. Ed., Peter L. Shillingsburg</h3>
<TABLE WIDTH="100%">
<TR><TD WIDTH="40%">Garland Publishing</td></tr></table>
<TABLE><TR><Td ALIGN=LEFT COLSPAN=2><b>Published</b></td></tr>
<TD><I>Vanity Fair</i>, 1989.</td></tr>
<TD><I>Henry Esmond</i>, 1989.</td></tr>
<TD><I>Flore et Zéphyr, The Yellowplus Correspondence, The Tremendous Adventures of Major Gahagan</i>, 1991.</td></tr>
<TD><I>The History of Pendennis</i>, 1991.</td></tr>
</table>

<H3>HENRY DAVID THOREAU: The Writings. Ed. in chief, Elizabeth Witherell</h3>
<TABLE WIDTH="100%">
<TR><TD WIDTH="40%">Princeton University Press
41 William Street
Princeton, NJ 08540-5237</td><TD WIDTH="40%">Writings of Henry David Thoreau
Founders Memorial Library
Northern Illinois University
DeKalb, IL 60115</td></tr></table>
<TABLE><TR>
<Td ALIGN=LEFT COLSPAN=2><b>Published</b></td></tr>
<TD><I>Walden</i>, 1971.</td>
</tr>
<TD><I>The Maine Woods</i>, 1972.</td>
</tr>
<TD><I>Reform Papers</i>, 1973.</td></tr>
<TD><I>Early Essays and Miscellanies</i>, 1975.</td>
</tr>
<TD><I>A Week on the Concord and Merrimack Rivers</i>, 1980.</td>
</tr>
<TD><I>Journal 1: 1837-1844</i>, 1981.</td></tr>
<TD><I>Journal 2: 1842-48</i>, 1984.</td></tr>
<TD><I>Translations</i>, 1986.</td>
</tr>
<TD><I>Cape Cod</i>, 1988.</td></tr>
<TD><I>Journal 3: 1848-1851</i>, 1990.</td></tr>
<TD><I>Journal 4: 1851-1852</i>, 1992.</td></tr>
<TD><I>Journal 5: 1852-1853</i>, 1997.</td></tr>
<TD><I>Journal 6: 1853</i>, 2000.</td></tr>
<TD><I>Journal 8: 1854</i>, 2002.</td></tr>
<TD><I>Excursions</I>, 2007.</td></tr>
</table>

<H3>EDMUND TILNEY. Ed., Valerie Wayne</h3>
<TABLE WIDTH="100%">
<TR><TD WIDTH="40%">Cornell University Press
750 Cascadilla Street
Box 6525
Ithaca, NY 14851-6525</td></tr></table>
<TABLE><TR><Td ALIGN=LEFT COLSPAN=2><b>Published</b></td></tr>
<TD><I>The Flower of Friendship</i>, 1992.</td></tr></table>

<H3>BENJAMIN TOMPSON. Ed., Peter White</h3>
<TABLE WIDTH="100%">
<TR><TD WIDTH="40%">Pennsylvania State University Press
820 North University Drive<BR>University Support Building 1, Suite C<br>University Park, PA 16802-1003</td></tr>
</table>
<TABLE><TR><Td ALIGN=LEFT COLSPAN=2><b>Published</b></td></tr>
<TD><I>Benjamin Tompson, Colonial Bard</i>, 1980.</td>
</tr></table>

<H3>MARK TWAIN. Gen. ed., Robert Hirst</h3>
<TABLE WIDTH="100%">
<TR><TD VALIGN=TOP WIDTH="40%">University of California Press<BR>2120 Berkeley Way<BR>Berkeley, CA  94720</td><TD WIDTH="40%">Mark Twain Project<BR>University of California<BR>480 Doe Library<BR>Berkeley, CA  94720-6000</td></tr></table>
<TABLE><TR><Td ALIGN=LEFT COLSPAN=2><b>Published</b></td></tr>
<TR><TD>THE WORKS</td></tr>
<TR><TD><I>Roughing It</i>, 1972, 1993.</td></tr>
<TR><TD><I>What Is Man? and Other Philosophical Writings</i>, 1973.</td></tr>
<TR><TD><I>The Prince and the Pauper</i>, 1979.</td></tr>
<TR><TD><I>A Connecticut Yankee in King Arthur's Court</i>, 1979.</td></tr>
<TR><TD><I>Early Tales and Sketches I:  1851-1864</i>, 1980.</td></tr>
<TR><TD><I>The Devil's Race Track</i>, 1980.</td></tr>
<TR><TD><I>Adventures of Tom Sawyer--Tom Sawyer Abroad--Tom Sawyer Detective</i>, 1980.</td></tr>
<TR><TD><I>Early Tales and Sketches II:  1864-1865</i>, 1981.</td></tr>
<TR><TD><I>The Adventures of Huck Finn</i>, 1988.</td></tr>
<TR><TD><I>Huck Finn and Tom Sawyer among the Indians, and Other Unfinished Stories</i>, 1989.</td></tr>
<TR><TD>THE PAPERS
<TR><TD><I>Satires and Burlesques</i>, 1966.</td></tr>
<TD><I>Which Was the Dream?</i>, 1966.</td></tr>
<TR><TD><I>Letters to His Publishers, 1867-1894</i>, 1967.</td></tr>
<TR><TD><I>Correspondence with Henry Huttleston Rogers, 1893-1909</i>,  1969.</td></tr>
<TR><TD><I>Mysterious Stranger Manuscripts</i>, 1969.</td></tr>
<TR><TD><I>Hannibal, Huck, and Tom</i>, 1969.</td></tr>
<TR><TD><I>Fables of Man</i>, 1972.</td></tr>
<TR><TD><I>Notebooks and Journals I, 1855-1873</i>, 1975.</td></tr>
<TR><TD><I>Notebooks and Journals II, 1877-1883</i>, 1975.</td></tr>
<TR><TD><I>Notebooks and Journals III, 1883-1891</i>, 1979.</td></tr>
<TR><TD><I>Letters I, 1853-1866</i>, 1987.</td></tr>
<TR><TD><I>Letters II, 1867-1868</i>, 1990.</td></tr>
<TR><TD><I>Letters III, 1869</i>, 1992.</td></tr>
<TR><TD><I>Roughing It</i>, 1993.</td>
</tr>
<TR><TD><I>Letters IV, 1870-1871</i>, 1995.</td></tr>
<TR><TD><I>Letters V, 1872-1873</i>, 1997.</td></tr>
<TR><TD><I>Letters VI, 1874-1875</i>, 2002.</td></tr>
</table>

Mark Twain Project Online
Seal awarded, 29 April 2009.

<b>Approved but Not Published</b>
THE WORKS
<I>Early Tales and Sketches</i>, vols. 3-5, CEAA approved 1974.
<I>Innocents Abroad</i>, CSE approved 1975.

<H3>LUIS VÉLEZ DE GUEVARA: Comedias Completas. Eds., George Peale and William R. Manson</h3>
<TABLE WIDTH="100%">
<tr><td>Juan de la Cuesta--Hispanic Monographs
270 Indiana Road
Newark, DE 19711</td>
</tr></table>
<TABLE><TR><Td ALIGN=LEFT COLSPAN=2><b>Published</b></td></tr>
<TR><TD><I>El primer Conde de Orgaz, y Servicio bien pagado</i>, 2002.</td></tr>
<TR><TD><I>El rey en su imaginación</i>, 2002.</td>
</tr>
<TR><TD><I>El amor en vizcaíno, los celos en francés y torneos de Navarra</i>, 2002.</td>
</tr><TR><TD><I>La Serrana de la Vera</i>, 2002.</td></tr>
<TR><TD><I>La mayor desracia de Carlos Quinto</i>, 2002.</td></tr>
<TR><TD><I>El Conde don Pero Vélez  y don Sancho el Deseado</i>, 2002.</td></tr><TR>
<TD><I>El espejo del mundo</i>, 2003.</td>
</tr>
<TR><Td ALIGN=LEFT COLSPAN=2><I>El águila del agua</i>, 2003.</td></tr>
<TR><Td ALIGN=LEFT COLSPAN=2><i>El cerco del Peñón de Vélez</i>, 2003.</td></tr>
<TR><Td ALIGN=LEFT COLSPAN=2><I>Las palabras a los reyes</i>, 2004.</td></tr>
</table>

<H3>ROBERT PENN WARREN. Ed., John Burt</h3>
<TABLE WIDTH="100%">
<TR><TD WIDTH="40%">Louisiana State University Press
P.O. Box 25053
Baton Rouge, LA  70894-5053</td></tr></table>
<TABLE><TR><Td ALIGN=LEFT COLSPAN=2><b>Published</b></td></tr>
<TR><TD><I>The Collected Poems of Robert Penn Warren</i>, 1998.</td></tr></table>

<H3>WALT WHITMAN: The Collected Writings. Eds., Gay Wilson Allen and Sculley Bradley</h3>
<TABLE WIDTH="100%">
<TR><TD WIDTH="40%">New York University Press
838 Broadway, 3rd floor
New York, NY 10003</td></tr></table>
<TABLE><TR><Td ALIGN=LEFT COLSPAN=2><b>Published</b></td></tr>
<TR><TD>Eight volumes were published before the inception of the CEAA.</td></tr>
<TR><TD><I>Daybooks and Notebooks</i>, 3 vols., 1977.</td></tr>
<TR><TD><I>Notebooks and Unpublished Prose Manuscripts</i>, 6 vols., 1984.</td></tr>
<TR><TD><I>The Journalism I, 1834-1846</i>, 1998.</td></tr>
</table>

<H3>VIRGINIA WOOLF. Ed., Louise A. DeSalvo</h3>
<TABLE WIDTH="100%">
<TR><TD WIDTH="40%">New York Public Library
Fifth Avenue at 42nd Street
New York, NY  10018</td></tr></table>
<TABLE><TR><Td ALIGN=LEFT COLSPAN=2><b>Published</b></td></tr>
<TR><TD><I>Melymbrosia: An Early Version of </i>The Voyage Out, 1982.</td></tr></table>

<H3>WILLIAM WORDSWORTH: The Cornell Wordsworth. Gen. ed., Stephen M. Parrish</h3>
<TABLE WIDTH="100%">
<TR><TD WIDTH="40%">Cornell University Press
750 Cascadilla Street
Box 6525
Ithaca, NY 14851-6525</td></tr>
</table>
<TABLE><TR><Td ALIGN=LEFT COLSPAN=2><b>Published</b></td></tr>
<TR><TD><I>The Salisbury Plain Poems</i>, 1975.</td></tr>
<TR><TD><I>"The Prelude," 1798-1799</i>, 1977.</td></tr>
<TR><TD><I>"Home at Grasmere": Part First, Book First of "The Recluse,"</i> 1977.</td></tr>
<TR><TD><I>"The Ruined Cottage" and "The Pedlar,"</i> 1978.</td></tr>
<TR><TD><I>Benjamin the Wagoner</i>, 1981.</td></tr>
<TR><TD><I>The Borderers</i>, 1983.</td></tr>
<TR><TD><I>Poems in Two Volumes, and Other Poems, 1800-1807</i>, 1983.</td></tr>
<TR><TD><I>Descriptive Sketches</i>, 1984.</td></tr>
<TR><TD><I>An Evening Walk</i>, 1984.</td></tr>
<TR><TD><I>Peter Bell</i>, 1985.</td></tr>
<TR><TD><I>The Fourteen-Book Prelude</i>, 1985.</td></tr>
<TR><TD><I>The Tuft of Primroses, with Other Late Poems for "The Recluse,"</i> 1986.</td></tr>
<TR><TD><I>The White Doe of Rylstone</i>, 1988.</td></tr>
<TR><TD><I>Shorter Poems, 1807-1820</i>, 1989.</td></tr>
<TR><TD><I>The Thirteen-Book Prelude</i>, 1992.</td></tr>
<TR><TD><I>Lyrical Ballads and Other Poems, 1797-1800</i>, 1993.</td></tr>
<TR><TD><I>Early Poems and Fragments, 1785-1797</i>, 1998.</td></tr>
<TR><TD><I>Translations from Chaucer and Virgil</i>, 1998.</td></tr>
<TR><TD><I>The Last Poems, 1821-1850</i>, 1999.</td></tr>
<TR><TD><I>Sonnet Series and Itinerary Poems, 1820-1845</i>, 2004.</td></tr><TR><TD><I>The Excursion</I>, 2007.</td></tr></table>

<p><a href="/resources/documents/rep_scholarly/cse_approved_edition/cse_approved_edition_a_i">Volumes Published and Forthcoming (A–I)</a></p>
