<h1>Review Process of the MLA Committee on Scholarly Editions</h1>
<h2>Initiating a Review</h2> 
<ol>
	<li>Editions should be submitted for review before publication, preferably in or before the copyediting stage, so that any changes recommended during the review can still be made. However, the committee sometimes reviews print and electronic editions after they have been published. Editors should contact the office of scholarly communication (<a href="mailto:scholcomm@mla.org">scholcomm@mla.org</a>) to request a review. </li>
	<li>Editors are invited to suggest the names of potential vetters, provided that the review would pose no conflict of interest for the vetters. </li>
	<li>Reviews are assigned to a review manager on the committee. The review manager is responsible for ensuring the objectivity of the vetter and for overseeing all scheduling, communication, and paperwork associated with the review. He or she informs the designated MLA staff member on progress. </li>
	<li>Vetters are appointed with the standard CSE letter of appointment, which makes clear the timetable, the vetter's fee, and the nature of the report that the committee expects. The letter of appointment is accompanied with a copy of, or pointer to, the CSE's Guidelines for Editors of Scholarly Editions, including the Guiding Questions for Vetters of Scholarly Editions (<a href="http://www.mla.org/cse_guidelines" target="_blank">http://www.mla.org/cse_guidelines</a>; <a href="http://www.mla.org/cse_guidelines#d0e354" target="_blank">http://www.mla.org/cse_guidelines#d0e354</a>).</li>
</ol>

<h2>Conducting a Review</h2>
<ol>
	<li>Vetters do not need to make a site visit to conduct a review; reviews can be based on photocopied or e-mailed materials. If a vetter travels to visit the editor, travel expenses will be the responsibility of the vetter or the editor. </li>
<li>Editors and vetters will work together to determine the size and nature of the sample of materials for inspection.  Editors are responsible for providing vetters with materials reasonably required for the review.  Editors must also provide a copy of these materials to the review manager.</li>
	<li>Vetters should attend to the advice and prompts offered in the letter of appointment, guidelines, and guiding questions.</li>
	<li>Vetters are encouraged to communicate with the review manager if questions arise during the course of the review. </li>
	<li>Vetters are requested to copy the review manager and designated MLA staff members on all communication with the editor during the review process.</li>
	<li>Editors are requested to copy the review manager and designated MLA staff members on all communication with the vetter during the review process. </li>
</ol>

<h2>Completing a Review</h2> 
<ol>
	<li>Reports should be completed within three months of being assigned. </li>
	<li>The review manager sends a copy of the vetter's report to the editor, who is asked to respond in whatever way seems useful—replying to criticisms, explaining misunderstandings, and so forth. The editor sends the response to the review manager.</li>
	<li>The review manager may send the editor's response to the vetter, who should either reply in kind, if that is deemed desirable or necessary, affirming or changing the initial recommendation, or reply that nothing more need be said.</li>
	<li>The review manager may choose to send the vetter's reply to the editor, making clear that no further comment is due. </li>
	<li>The review manager forwards a dossier of the review process (vetter's report, editor's response, vetter's reply, all correspondence) to designated MLA staff members when the review is complete. At this time a check for the vetter's honorarium is requested. In exceptional cases, the review manager may request that the committee solicit an additional inspection.</li>
	<li>All parties will copy designated MLA staff members in correspondence.</li>
</ol>

<h2>Voting on the Review</h2>
<ol>
	<li>The MLA staff sends the dossier to the committee with a ballot.</li>
	<li>Ballots are returned to the MLA staff, which tabulates the votes.</li>
	<li>The MLA staff consults the cochairs on the outcome of the vote.</li>
	<li>The MLA staff notifies the editor of the outcome of the vote.</li>
	<li>If applicable, the MLA staff provides the <a href="/cse_approved_edition">seal</a> to the editor or the publisher.</li>
	<li>Correspondence is archived at the MLA.</li>
</ol>
