<style type="text/css">
ul {
list-style-position: inside;
}

ul li {
text-indent: -1em !important;
}

div.float-right {
float: right;
margin-left: 1em;
margin-right: 0em;
margin-top: 0em;
margin-bottom: 0em;
}

div.float-left {
float: left;
margin-left: 0em;
margin-right: 1em;
margin-top: 0em;
margin-bottom: 0em;
}

p.image {
margin-top: 0em;
margin-bottom: 0em;
}


p.captionwide {
font-size: 75%;
color: grey;
margin-top: .5em;
margin-bottom: 0em;
margin-right: 1.5em;
max-width: 275px;
line-height: 1.5em;

}
p.captionnarrow {
font-size: 75%;
color: grey;
margin-top: .5em;
margin-bottom: 0em;
max-width: 200px;
line-height: 1.5em;
}
</style>


<h1>Cultural Excursions Organized by the MLA</h1>

<p>The MLA has organized five cultural excursions that will take place during the 2014 MLA Annual Convention in Chicago. The excursions give registrants an opportunity to experience Chicago’s history, culture, art and architecture, and a variety of neighborhoods.</p>

<p>Space is limited, and there is an additional fee for each excursion. To participate, select an excursion and payment option when you complete your convention registration form. Convention registrants may also sign up a limited number of guests per excursion for an additional fee (the fee is the same for convention registrants and guests); guests must be signed up and accompanied by a convention registrant to attend an excursion. Please see the descriptions below for more information, including age restrictions and other details.</p>

<p><b><i>We regret that we cannot provide refunds for cancellations received after 6 December 2013.</i></b></p>

<p>If you have already registered for the convention and wish to attend an excursion, write to <a href="mailto:registration@mla.org">registration@mla.org</a>. Please include your registration confirmation number in your request.</p>

<a name="rhdm"></a><br/>

<h2>Evening at the Marble Palace: Twilight Tour and Reception at the Richard H. Driehaus Museum</h2>
<div class="float-right">
<p class="image"><img src="/IMAGES/westernprocessiondriehaus.jpg" width=280 border=0></p>
<p class="captionwide">Western Procession, Richard H. Driehaus Museum. Photograph by Alexander Vertikoff (2011). Courtesy of the Richard H. Driehaus Museum.</p>
</div>

<ul>
<li>Thursday, 9 January 2014</li>
<li>5:45–8:00 p.m. (tour 6:00–7:00 p.m.; reception 7:00–8:00 p.m.)</li>
<li>Richard H. Driehaus Museum, 40 East Erie Street</li>
<li>Shuttle bus departs from the Chicago Marriott at 5:45 p.m.</li>
<li>$65 per person; up to two paid guests allowed per convention registrant.</li>
<li><b>Participants must be 21 or older.</b></li>
</ul>

<p>The Richard H. Driehaus Museum is a national historic landmark located in the former residence of Samuel M. Nickerson, a prominent Chicago banker. Upon its completion in 1883, the building, which became known as the Marble Palace, was one of the grandest private residences in Chicago. Fully restored and opened to the public as a museum in 2008, the mansion possesses many of the original interiors and furnishings, complemented by period pieces selected from the Driehaus Collection. Enjoy an exclusive, intimate experience, including a special exhibit of over sixty works by Tiffany Studios, in one of the few remaining examples of the palatial homes erected by the wealthy of America’s Gilded Age.</p>

<p><b><i>Tour.</i></b> Excursion participants will be welcomed into the Main Hall, as guests of the Nickersons would have been welcomed in the late 1800s. Museum guides will provide anecdotes about the Nickersons and information about the art and architecture as they lead visitors through the first floor rooms that would have been used for entertaining, up the grand staircase to the master and guest bedrooms, culminating with a cocktail party in the Mahogany Ballroom on the third floor. Each room is also an exhibit space, with works from a special exhibit on Louis Comfort Tiffany interspersed among period pieces from the Driehaus Collection as well as original surviving furnishings.  </p>

<div class="float-left">
<p class="image"><img src="/IMAGES/waterlilyvase.jpg" width="200px" border=0></p>
<p class="captionnarrow">Tiffany Studios, Large Water Lily Paperweight Vase with Stand (c. 1910). Photograph by John Faier. Courtesy of the Richard H. Driehaus Museum.</p>
</div>

<p><b><i>Louis Comfort Tiffany: Treasures from the Driehaus Collection. </i></b> This exhibition showcases sixty objects, including lamps, vases, stained-glass windows, metalwork, and furnishings, representing the artistry and range of styles for which Tiffany was known. The Driehaus Collection represents one of this country’s most significant private collections of Tiffany artworks, many of which are being publicly exhibited for the first time.</p>

<p><b><i>Cocktail Reception.</i></b> After the tour, which will take about one hour, excursion participants will be treated to a one-hour cocktail party in the Mahogany Ballroom, with white wine, sparkling water, and light hors d’oeuvres. Museum guides will remain at hand to provide additional information and accompany individual participants back into the galleries for further discussion. Attendees are welcome to take their beverages into the galleries, and flash photgraphy is permitted.</p>

<p>The museum is located about four blocks from the Chicago Marriott and in close proximity to the Red Line, Michigan Avenue buses, and taxis.</p>

<p>For more information about the Richard H. Driehaus Museum, visit the  <a href="http://www.driehausmuseum.org" target="_blank">museum’s Web site</a>.</p> 

<a name="gibp"></a><br/>

<h2>Brewer’s Tour and Tasting at Goose Island Brewery and Pub</h2>

<div class="float-right">
<p class="image"><img src="/IMAGES/gic-new-logo.gif" border=0></p>
<p class="captionnarrow">Goose Island Clybourn logo. Courtesy of<br />Goose Island Clybourn.</p>
</div>

<ul>
<li>Thursday, 9 January 2014</li>
<li>7:00–10:00 p.m. (tour and tasting 7:30–9:00 p.m.)</li>
<li>1800 North Clybourn Avenue</li>
<li>Shuttle bus departs from the Chicago Marriott at 7:00 p.m.</li>
<li>$50 per person; two paid guests allowed per convention registrant.</li>
<li><b>Participants must be 21 or older.</b></li>
</ul>

<p>Goose Island Brewery, one of the first craft breweries established in the Midwest, was founded as a single brewpub in 1988 by Chicago native John Hall. It has since expanded to include two brewpubs and a separate brewing facility. The brewpubs, in both the original Clybourn location in Lincoln Park and the newer one near Wrigley Field, remain privately owned and operated, brewing an unmatched selection of hand-crafted seasonal brews with over twenty draft selections available each day.</p>

<p>Join Goose Island brewers for a tour of the original brewery and the Clybourn’s current beer-making facility. The tour will be accompanied by an in-depth brewer-led tasting of six different beers on tap, offering a full range of Goose Island brews. Light snacks from the brewpub’s kitchen will be available during the beer tasting. After the tour and tasting, excursion participants are welcome to migrate to the general bar and restaurant area to explore on their own the brewpub’s <a href="http://www.gooseisland.com/pages/clybourn_food_menu/129.php" target="_blank">complete food and drink menu</a>.</p>

<div class="float-left">
<p class="image"><img src="/IMAGES/tour_2.jpg" border=0></p>
<p class="captionwide">Beer tasting. Courtesy of Goose Island Clybourn.</p>
</div>

<p>The bus will depart from the brewpub at 10:00 p.m. to return to the Chicago Marriott by 10:30 p.m. </p>

<p>Excursion participants are welcome to stay until the brewpub closes at midnight. The nearest <a href="http://www.transitchicago.com" target="_blank">public transportation</a> is available at the North/Clybourn Red Line stop and the Armitage Brown Line stop, about four blocks away on Huntington Avenue.</p>

<p>For more information about the brewpub’s history and products, visit the <a href="http://www.gooseisland.com" target="_blank">Goose Island Web site</a>.</p>

<a name="chm"></a><br/>

<h2>Chicago History Museum Behind-the-Scenes Tour</h2>

<div class="float-right">
<p class="image"><img src="/IMAGES/chicagohistorymuseum.jpg" alt=""></p>
<p class="captionwide">Chicago History Museum exterior. Photograph courtesy of the Chicago History Museum.</p>
</div>
<ul>
<li>Friday, 10 January 2014</li>
<li>9:00–11:30 a.m. (tour 9:30–10:30 a.m.)</li>
<li>1601 North Clark Street</li>
<li>Shuttle bus departs from the Chicago Marriott at 9:00 a.m.</li>
<li>$40 per person; one paid guest allowed per convention registrant.</li>
</ul>

<p>The Chicago History Museum was built in 1932 to house the archival collection of the Chicago Historical Society. With a focus on social history, the museum presents the story of Chicago through its archives and manuscripts, collections that range from Abraham Lincoln to the Black Sox scandal, the second largest costume collection in the world, and special exhibitions.</p>

<p>Join the museum’s archivist, Peter Alter, for a special look behind the scenes and through the vast basement archives. On this tour, you will</p>
<div class="float-left">
<p class="image"><img src="/IMAGES/chs_red-squad-image.jpg" border=0 ></p>
<p class="captionwide">Protesters during the Democratic National Convention, Chicago, 1968. Photograph courtesy of the Chicago History Museum.</p>
</div>
<ul>
<li>learn about the museum’s history and the growth of the Archive and Manuscripts Collection</li>
<li>walk through key archival collections, including the Red Squad, Marshall Fields, and architectural drawings</li>
<li>view individual pieces from the collections, representing a range of subjects, time frames, and historical relevance</li>
<li>interact with the new Baseball History Social Media Project and see items related to the 1919 Black Sox scandal</li>
</ul>

<p>The bus will depart from the museum at 11:00 a.m. to return to the Chicago Marriott by 11:30 a.m.</p>

<p>Excursion participants are welcome to stay until the museum closes at 4:30 p.m. and take public transportation back to the hotel. The Clark/Division Red Line stop is about five blocks away, and <a href="http://www.transitchicago.com" target="_blank">a number of buses stop nearby</a>.</p>

<p>For more information about the Chicago History Museum, visit <a href="http://www.chicagohistory.org" target="_blank">their Web site</a>.</p>

<a name="tnl"></a><br/>

<h2>The Newberry: Behind-the-Scenes and Exhibition Tours</h2>

<div class="float-right">
<p class="image"><img src="/IMAGES/newberrybirdseye.jpg" border=0 alt=""></p>
<p class="captionwide">Aerial view of the Newberry and Washington Square Park. Courtesy of the Newberry Library, Chicago.</p>
</div>

<ul>
<li>Friday, 10 January 2014</li>
<li>10:15 a.m.–1:00 p.m. (tours 10:30–12:00 noon)</li>
<li>60 West Walton Street</li>
<li>Shuttle bus departs from the Chicago Marriott at 10:15 a.m.</li>
<li>$30 per person (includes donation to the library); one paid guest allowed per convention registrant. </li>
<li><b>Participants must be 16 or older.</b></li>
</ul>

<p>The Newberry, an internationally recognized independent humanities library located in the heart of Chicago’s Gold Coast neighborhood, offers readers an extensive noncirculating collection of rare books, maps, music, manuscripts, and other printed material spanning six centuries. The core collections include American History and Culture; American Indian and Indigenous Studies; Chicago and the Midwest; Genealogical and Local History; History of the Book; Manuscripts and Archives; Maps, Travel, and Exploration; Medieval, Renaissance, and Early Modern Studies; Music; and Religion. Join Newberry staff members for a behind-the-scenes tour of the library paired with a guided tour of the library’s special exhibit in commemoration of the 150th anniversary of the United States Civil War.</p>

<p><b><i><a href="http://www.newberry.org/newberry-terra-foundation-mount-chicagos-only-major-sesquicentennial-civil-war-exhibition" target="_blank">Home Front: Daily Life in the Civil War North</a>.</i></b> Join the exhibition’s curator, Daniel Greene, vice president for Research and Academic Programs, and Liesl Olson, director of the Scholl Center for American History and Culture, for this special guided tour. The Newberry, in conjunction with the Terra Foundation for American Art, has created an exhibition of about 100 items, including paintings by Winslow Homer and Frederic E. Church, first editions by Walt Whitman and Emily Dickinson, sheet music from Chicago-based music publishers Root and Cady, magazine illustrations, and much more, detailing the effect the United States Civil War had on civilians. The tour offers unique insight into the design and creation of the exhibition, the selection of items on display, and the history of the individual pieces.</p>

<div class="float-left">
<p class="image"><img src="/IMAGES/whitman.jpg" width="200px" border=0></p>
<p class="captionnarrow">Walt Whitman, <i>Leaves of Grass</i> (1855). Image courtesy of the Newberry Library, Chicago.</p>
</div>

<p><b><i>Behind-the-Scenes Library Tour. </i></b> John Brady, director of Readers Services and bibliographer of Americana, will take excursion attendees through the reading rooms and research areas, highlighting examples on view from the collections. Discussions will include the history of the building, the development of the collections, and the ongoing conservation of the library’s holdings as well as information about using the library’s <a href="http://www.newberry.org/services-readers-and-researchers" target="_blank">reading rooms</a> and <a href="http://www.newberry.org/fellowships" target="_blank">fellowships at the Newberry</a>.</p>

<p>The bus will depart from the library at 12:30 p.m. to return to the Chicago Marriott by 1:00 p.m.
</p>

<p>Excursion participants are welcome to stay until the library closes at 5:00 p.m. and take <a href="http://www.transitchicago.com" target="_blank">public transportation</a> or walk (about one mile) back to the hotel.</p>

<p>Visit the <a href="http://www.newberry.org" target="_blank">Newberry Web site</a> for more information.</p>

<a name="aic"></a><br/>

<h2>Art Institute of Chicago Private Tour</h2>

<div class="float-right">
<p class="image"><img src="/IMAGES/aic-facade.jpg" border=0 alt=""></p>
<p class="captionwide">The Art Institute of Chicago's historic Michigan Avenue building.<br /> Courtesy of the Art Institute of Chicago.</p>
</div>

<ul>
<li>Saturday, 11 January 2014</li>
<li>10:10 a.m.–12:00 noon (tour 10:45–11:45 a.m.)</li>
<li>159 East Monroe Street (Modern Wing entrance)</li>
<li>Shuttle bus departs from the Chicago Marriott at 10:10 a.m.</li>
<li>$45 per person; up to two paid guests allowed per convention registrant.</li>
</ul>

<p>Since opening in 1879, the Art Institute of Chicago has displayed significant works of art and remains committed to collecting, preserving, and interpreting a broad range of art. The Art Institute now has approximately 300,000 works in its permanent collection, one of the finest research libraries in the country for art and architecture, and state-of-the-art conservation facilities. The institute recently underwent the largest expansion in its history, with the Renzo Piano–designed Modern Wing, housing collections of twentieth- and twenty-first-century art, architecture, design, and photography.</p>

<div class="float-left">
<p class="image"><img src="/IMAGES/aic_paul-warchol-richter-g.jpg" width="275px" border=0></p>
<p class="captionwide">The Gerhard Richter gallery in the Modern Wing. © Paul Warchol.</p>
</div>

<p>Join one of the Art Institute’s professional lecturers for a one-hour private gallery tour created just for MLA attendees. Explore a variety of artwork that ties in with the 2014 MLA presidential theme, Vulnerable Times. Learn about the history of the Art Institute, the Provenance Research Project, and the Ryerson and Burnham research libraries. Discover highlights of the collections along with hidden gems in the art and architecture of the building. </p>

<p>The Art Institute is near all forms of <a href="http://www.transitchicago.com" target="_blank">public transportation</a>. Convention attendees may also walk through Millennium Park to the Fairmont to catch the MLA shuttle bus. Excursion participants are welcome to remain at the Art Institute for <a href="http://www.artic.edu/visit/dining" target="_blank">lunch</a> and may continue their gallery exploration until the institute closes at 5:00 p.m.</p>

<p>Visit the <a href="http://www.artic.edu" target="_blank">Art Institute of Chicago Web site</a> for more information.</p>
