<style type="text/css">

div.float-right {
float: right;
margin-left: 1em;
margin-right: 0em;
margin-top: 0em;
margin-bottom: 0em;
}

div.float-left {
float: left;
margin-left: 0em;
margin-right: 1em;
margin-top: 0em;
margin-bottom: 0em;
}

p.image {
margin-top: 0em;
margin-bottom: 0em;
}
p.caption {
font-size: 75%;
color: grey;
margin-top: 0em;
margin-bottom: 0em;
}

</style>


<h1>Cultural Excursions Organized by the MLA</h1>
<p>The MLA has organized four cultural excursions that
will take place during the 2012 MLA Annual Convention in Seattle.
The excursions give registrants an opportunity to experience
Seattle’s culture, architectural landmarks, local wineries, and
seafood.</p>

<p>Space is limited, and registration (with an
additional fee) is required for each excursion. To participate,
select an excursion and payment option when you complete your
convention registration form. Convention registrants may register a
limited number of guests per excursion (the fee is the same for
convention registrants and guests), but guests may register only if
accompanied by a registrant. Please see the descriptions below for
more information, including age restrictions and registration
details.</p>

<p>If you have already registered for the convention and
wish to attend an excursion, contact  <a href="mailto:registration@mla.org">registration@mla.org</a>. Please include your registration confirmation number in your request.</p>


<a name="empmuseum"></a>
<h2>EMP Museum Excursion</h2>

<div class="float-right">
<p class="image"><img src="/IMAGES/ce2012_emp.jpg" alt="EMP Museum" title="EMP Museum"></p>
<p class="caption">Image courtesy of EMP Museum</p>
</div>


<p>Friday, 6 January 2012<br/>
1:45–4:00 p.m.<br/>
Shuttle bus departs from the Washington State Convention Center (WSCC) at 1:45 p.m.<br/>
$45 per person; up to two registered guests allowed per convention registrant</p>


<p>Founded by Paul Allen and housed in a one-of-a-kind
building designed by Frank Gehry, the EMP Museum is dedicated to
the history and exploration of music, science fiction, and popular
culture. Over the course of a decade, the EMP has amassed more than
eight hundred filmed oral-history interviews with musicians,
producers, club owners, fans, and others associated with various
genres of music and film. These interviews, along with the museum’s
massive artifact collection, form the foundation of every
exhibition.</p>

<p>The excursion begins with an introduction to the Oral History
Program and a moderated discussion with the EMP’s senior curator
Jacob McMurray and ends with a guided tour of the museum, after
which guests are welcome to explore the galleries and exhibits at
their own pace.</p>

<p><b><i>The Oral History Program / Discussion with Jacob McMurray.</i></b>
The first half hour of this presentation includes an introduction
to the interviews in the EMP’s Oral History Program, as well as a
discussion of the methodologies and resources used to document
them. For the second half hour, guests will hear Jacob McMurray
discuss his role in interviewing more than one hundred
musicians, producers, writers, and science fiction professionals
for the Oral History Program.</p>

<p><b><i>Museum Tour.</i></b> During this 45-minute tour, a museum curator
will provide an overview of the EMP’s mission, permanent
collection, and galleries and offer insight into individual
exhibitions and artifacts. The tour will include the following
exhibitions: <i>Jimi Hendrix: An Evolution of Sound</i>;
<i>Nirvana: Taking Punk to the Masses</i>; Battlestar Galactica<i>:
The Exhibition</i>; <i>Can’t Look Away: The Lure of Horror
Film</i>; and Avatar<i>: The Exhibition</i>. Guests are welcome to
take the entire tour or explore individual exhibits on their
own.</p>

<p>Guests are welcome to stay until the museum closes at 5:00 p.m. The
EMP is located at the Seattle Center. There is no return shuttle
bus to the WSCC, but visitors
can take the nearby monorail to the Westlake Center station at 5th
Avenue and Pine Street, four blocks west of the WSCC. </p>

<p>For more information about the EMP, visit the museum’s <a href="http://www.empmuseum.org" target="_blank">Web site</a>. </p>

<a name="seattlelib"></a>
<h2>Seattle Central Library Excursion</h2>


<div class="float-left">
<p class="image"><img src="/IMAGES/ce2012_library.jpg" alt="Seattle Central Library" title="Seattle Central Library"></p>
<p class="caption">Courtesy of the Seattle Public Library</p>
</div>


<p>Friday, 6 January 2012<br/>
8:00–10:30 a.m.<br/>
1000 4th Avenue at Madison Street<br/>
$30 per person (donation to the library is included);
one registered guest allowed per convention registrant</p>


<p>The Central Library is the flagship of the Seattle
Public Library system, located in a building designed by Rem
Koolhaas.  This
excursion includes two private tours for MLA attendees and will
take place before the library opens to the public at 10:00 a.m.
Since these tours are taking place before the library is open,
guests must remain with the tours.</p>


<p><b><i>Architecture Tour.</i></b> Robert Zimmer,
architect and project director for the team of Seattle-based
architects who worked on the Koolhaas-designed building, will lead
a special presentation on the construction of the library and a
private tour of the library’s architecture, including anecdotes and
insights about the building and its history. </p>


<p><b><i>Seattle Room and Special
Collections Tour.</i></b> Jodee Fenton, managing librarian of
Special Collections and the Seattle Room, will conduct a tour
that explores the relation between the architecture and the
administration of Special Collections, highlighting treasures from
the collections. Special Collections in the Seattle Public
Library include the Hugh and Jane Ferguson Seattle Collection, the
genealogy collection, the Albert Balch Autograph Collection, the
Aviation Collection, the library’s art collection, and rare
books. </p>


<p>The Central Library is located in downtown Seattle
near the MLA hotels and shuttle bus route. Guests should arrive on
their own at the library by 8:00 a.m. The MLA will not provide
transportation to or from the library. After the tours, guests can
walk two blocks up Madison Street to 6th Avenue and the Renaissance
Seattle for a free shuttle bus to the WSCC.</p>


<p>For more information about the Seattle Central
Library, visit the library’s <a href="http://www.spl.org/locations/central-library" target="_blank">Web site</a>. </p>





<a name="sustainable"></a>
<h2>Sustainable-Seafood Cooking Class and Wine Pairing
Excursion</h2>


<div class="float-right">
<p class="image"><img src="/IMAGES/ce2012_Selengut.jpg" alt="Becky Selengut" title="Becky Selengut"></p>
<p class="caption">Clare Barboza</p>
</div>


<p>Saturday, 7 January 2012<br/>
2:30–6:30 p.m. <br/>
Shuttle bus departs from the WSCC at 2:30 p.m.<br/>
$140 per person; one registered guest allowed per convention registrant</p>


<p>Join chef, author, cooking teacher, and sustainable-seafood advocate Becky Selengut and sommelier April Pogue at PCC
Natural Markets in West Seattle for a hands-on cooking class and
wine pairing that focuses on sustainable seafood and wines from the
Pacific Northwest. PCC Natural Markets, a sustainable-foods
cooperative, began as a food-buying club of fifteen families in
1953. Today it is the largest consumer-owned natural-food retail
cooperative in the United States. Participants must be 21 or older.</p>


<p>Copies of Selengut’s book <i>Good Fish: Sustainable
Seafood Recipes from the Pacific Coast</i> will be available for
purchase.</p>


<p>The bus will depart at 6:00 p.m. to return to the WSCC.</p>


<p>For more information, visit the Web sites of <a href="http://www.pccnaturalmarkets.com" target="_blank">PCC Natural Markets</a>  and <a href="http://www.seasonalcornucopia.com/cc/aboutBecky.asp" target="_blank">Becky Selengut</a>.</p>

<a name="oyster"></a>
<h2>Oyster and Wine Tasting Reception</h2>


<div class="float-left">
<p class="image"><img src="/IMAGES/ce2012_oysters.jpg" alt="Oysters" title="Oysters"></p>
<p class="caption">Dan Poss</p>
</div>


<p>Saturday, 7 January 2012<br/>
8:00–10:00 p.m.<br/>
1521 Melrose Avenue<br/>
$60 per person; one registered guest allowed per
convention registrant</p>


<p>Join local shellfish experts from Taylor Shellfish
Farms at their store in Seattle for a relaxing oyster and wine
tasting reception. Learn from the experts about shellfish farming,
what to look for when buying shellfish, and what local wines pair
well with shellfish. Each guest will sample a dozen fresh oysters
from Puget Sound and ten white wines that were winners of the
Pacific Coast Oyster Wine Competition. Chef Becky Selengut will be
on hand to discuss issues facing our oceans and seafood choices
that can have a positive impact. Chowder, books, and wine will be
available for purchase. Participants must be 21 or older.</p>


<p>There is no shuttle service to or from Taylor
Shellfish Farms. From the WSCC, take Pike Street four blocks north
to Minor Avenue and turn left. Taylor Shellfish is located just off
Pike Street, where Melrose and Minor Avenues merge. </p>


<p>For more information, visit the Web sites of <a href="http://www.taylorshellfishfarms.com" target="_blank">Taylor
Shellfish Farms</a> and <a href="http://www.seasonalcornucopia.com/cc/aboutBecky.asp" target="_blank">Becky
Selengut</a>.</p>
