<h1>Delegate Assembly Proposal Page</h1>

<p>The purpose of this page is to allow an informal exchange of information on motions or resolutions that members are preparing to submit for consideration by the Delegate Assembly.  <b>This page may not be used for the formal submission of any proposal to the Delegate Assembly Organizing Committee</b> (DAOC).</p>

<p>For information on the difference between motions and resolutions, please consult the document <a href="/motions_resolutions">Motions and Resolutions</a>.  For information about the MLA’s resolutions process, please consult the document <a href="/prep_resdelegateassembly">Preparing Resolutions for the Delegate Assembly</a>.</p>


<p>Though this page is available year-round, members should note that the deadline for submitting motions and regular resolutions to the DAOC is 1 October each year.  Therefore, any member who wishes to receive timely feedback on a motion or a regular resolution will submit the proposal using the link below no later than early September.  Because emergency resolutions—those occasioned by emergencies arising after 1 October—must be submitted to the DAOC no later than twenty-four hours before a meeting of the Delegate Assembly, any member who wishes to receive timely feedback on the draft of an emergency resolution should submit the proposal using the link below no later than mid-December.</p>


<p>To submit a proposal for discussion, click <a href="/da_prop_submit">here</a>.</p>

<p>To review proposals that have been submitted for discussion, click <a href="/da_prop_list">here</a>.</p>
