<h1>Agenda for the 2014 Delegate Assembly Meeting: Staff and Committee Reports</h1>

<ol>
	<li><a href="/rpt-execdir-j14" >Report of the Executive Director on MLA Activities in 2013</a>[[[docstudio filetype_tag_pdf]]]</li>

	<li><a href="/rpt-pmla-j14" >Report from the Editor of <i>PMLA</i></a>[[[docstudio filetype_tag_pdf]]]</li>

	<li><a href="/rpt-pubcomm-j14" >Report from the Publications Committee</a>[[[docstudio filetype_tag_pdf]]]</li>
	
	<li><a href="/rptcsej13" target="blank"><a href="/rpt-cse-j14" >Report from the Committee on Scholarly Editions</a>[[[docstudio filetype_tag_pdf]]]</li>
	
	<li><a href="/rpt-nvs-j14" >Report from the Committee on the New Variorum Edition of Shakepeare</a>[[[docstudio filetype_tag_pdf]]]</li>
	
	<li><a href="/rpt-bib-j14" >Report from the Advisory Committee on the <i>MLA International Bibliography</i></a>[[[docstudio filetype_tag_pdf]]]</li>
	
	<li><a href="/rpt-cha-j14" >Report from the Committee on Honors and Awards</a>[[[docstudio filetype_tag_pdf]]]</li>
	
	<li><a href="/rpt-cafprr-j14" >Report from the Committee on Academic Freedom and Professional Rights and Responsibilities</a>[[[docstudio filetype_tag_pdf]]]</li>
	
	<li><a href="/rpt-clpc-j14" >Report from the Committee on the Literatures of People of Color in the United States and Canada</a>[[[docstudio filetype_tag_pdf]]]</li>
	
	<li><a href="/rpt-cswp-j14" >Report from the Committee on the Status of Women in the Profession</a>[[[docstudio filetype_tag_pdf]]]</li>
	
	<li><a href="/rpt-cit-j14" >Report from the Committee on Information Technology</a>[[[docstudio filetype_tag_pdf]]]</li>

	<li><a href="/rpt-cdi-j14" >Report from the Committee on Disability Issues in the Profession</a>[[[docstudio filetype_tag_pdf]]]</li>

	<li><a href="/rpt-ccc-j14" >Report from the Committee on Community Colleges</a>[[[docstudio filetype_tag_pdf]]]</li>

	<li><a href="/rpt-csgsp-j14" >Report from the Committee on the Status of Graduate Students in the Profession</a>[[[docstudio filetype_tag_pdf]]]</li>
	
	<li><a href="/rpt-clip-j14" >Report from the Committee on Contingent Labor in the Profession</a>[[[docstudio filetype_tag_pdf]]]</li>

	<li><a href="/rpt-scnsl-j14" >Report from the Steering Committee on New Structures for Languages in Higher Education</a>[[[docstudio filetype_tag_pdf]]]</li>

</ol>
