<h1>Division Executive Committees for the 2014 Convention Year (7 Jan. 2013&ndash;12 Jan. 2014)</h1>
MLA divisions encompass the primary scholarly and professional concerns of the association, with each of the eighty-eight divisions representing a major area of membership interest.  Divisions promote scholarly and professional activities within their areas of concern. MLA members have the option of joining up to four divisions. (If you are an MLA member and wish to review or update your division affiliations, please click <a href="/join_update">here</a>.)

Each division is governed by an elected executive committee whose five members serve terms of five convention years. A convention year begins after the close of one convention and continues through the close of the next; it is named for the convention that concludes the year. Listed here are the division executive committees for the 2014 convention year (7 Jan. 2013 through 12 Jan. 2014). The date that follows the name of each executive committee member designates the final convention year of the committee member’s term and, thus, the final January convention that falls within his or her term of service. The listings below indicate which committee members are currently serving as chair and secretary. Normally, this year's secretary becomes next year's chair.


<h2>AMERICAN LITERATURE</h2>
<b>American Literature to 1800</b> (D017)
Trish Loughran, Jan. 2014
Eric Slauter, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Sean X. Goudie, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Kathleen Donegan, Jan. 2017
Matt Cohen, Jan. 2018

<b>Nineteenth-Century American Literature</b> (D018)
Samuel Otter, Jan. 2014 (2013&ndash;Jan. 2014 Ch.)
Augusta Rohrbach, Jan. 2015 (2013&ndash;Jan. 2014 Sec.)
Meredith L. McGill, Jan. 2016
Ivy Wilson, Jan. 2017
Dana Luciano, Jan. 2018

<b>Late-Nineteenth- and Early-Twentieth-Century American Literature</b> (D019)
Jane F. Thrailkill, Jan. 2014
Brad Evans, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Gene Andrew Jarrett, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Dana Seitler, Jan. 2017
Dale Marie Bauer, Jan. 2018

<b>Twentieth-Century American Literature</b> (D020)
Robert Dale Parker, Jan. 2014
William J. Maxwell, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Paula M. L. Moya, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Mark Goble, Jan. 2017
Amy Hungerford, Jan. 2018

<b>Black American Literature and Culture</b> (D076)
Ayesha Hardison, Jan. 2014
Maryemma Graham, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Sherita L. Johnson, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Dana A. Williams, Jan. 2017
Deborah McDowell, Jan. 2018

<b>American Indian Literatures</b> (D080)
Channette Romero, Jan. 2014 (2013&ndash;Jan. 2014 Ch.)
James H. Cox, Jan. 2015 
Beth H. Piatote, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Nancy J. Peterson, Jan. 2017
Jodi A. Byrd, Jan. 2018

<b>Asian American Literature</b> (D082)
Paul Y. Lai, Jan. 2014
Timothy Yu, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Allan Isaac, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Julia Lee, Jan. 2017
Crystal Parikh, Jan. 2018

<b>Chicana and Chicano Literature</b> (D084)
Marissa K. Lopez, Jan. 2014 (2013&ndash;Jan. 2014 Ch.)
Sandra K. Soto, Jan. 2015 (2013&ndash;Jan. 2014 Sec.)
Ralph Edward Rodriguez, Jan. 2016
Yolanda Padilla, Jan. 2017
Laura Halperin, Jan. 2018

<h2>COMPARATIVE STUDIES</h2>
<b>Comparative Studies in Medieval Literature</b> (D001)
Rita Copeland, Jan. 2014
Steven F. Kruger, Jan. 2015
David F. Hult, Jan. 2016 (2013&ndash;Jan. 2014 Ch.)
Lynn Ramey, Jan. 2017 (2013&ndash;Jan. 2014 Sec.)
Jill Ross, Jan. 2018

<b>Comparative Studies in Renaissance and Baroque Literature</b> (D002)
Ignacio E. Navarrete, Jan. 2014
Leonard Barkan, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Susanne Lindgren Wofford, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Eric MacPhail, Jan. 2017
Ralph Bauer, Jan. 2018

<b>Comparative Studies in Eighteenth-Century Literature</b> (D005)
Laura C. Mandell, Jan. 2014
[position unfilled on 2013&ndash;Jan. 2014 committee]
Claudia Brodsky, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Helen Thompson, Jan. 2017
Chi-ming Yang, Jan. 2018

<b>Comparative Studies in Romanticism and the Nineteenth Century</b> (D003)
Michal Peled Ginsburg, Jan. 2014
Sara Guyer, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Barbara Spackman, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Anne-Lise François, Jan. 2017
Jan Mieszkowski, Jan. 2018

<b>Comparative Studies in Twentieth-Century Literature</b> (D004)
Thomas Oliver Beebee, Jan. 2014 (2013&ndash;Jan. 2014 Ch.)
[position unfilled on 2013&ndash;Jan. 2014 committee]
Ramón Saldívar, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Olakunle George, Jan. 2017
Sangeeta Ray, Jan. 2018

<b>European Literary Relations</b> (D034)
Katerina Clark, Jan. 2014 (2013&ndash;Jan. 2014 Ch.)
Paul Michael Lützeler, Jan. 2015
Sandra L. Bermann, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Bella P. Brodzki, Jan. 2017
Debra Ann Castillo, Jan. 2018

<h2>ENGLISH LITERATURE</h2>
<b>Old English Language and Literature</b> (D021)
Stacy S. Klein, Jan. 2014
[position unfilled on 2013&ndash;Jan. 2014 committee]
Kathleen Davis, Jan. 2016 (2013&ndash;Jan. 2014 Sec. and Acting Ch.)
Stephen J. Harris, Jan. 2017
Elaine Treharne, Jan. 2018

<b>Middle English Language and Literature, Excluding Chaucer</b> (D022)
Glenn D. Burger, Jan. 2014
Eve Salisbury, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Marilynn R. Desmond, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Ruth Evans, Jan. 2017
Shannon Gayk, Jan. 2018

<b>Chaucer</b> (D023)
Kellie Robertson, Jan. 2014
Holly Crocker, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Kathy M. Lavezzo, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Jessica Rosenfeld, Jan. 2017
Mark Miller, Jan. 2018

<b>Literature of the English Renaissance, Excluding Shakespeare</b> (D024)
Rebecca Lemon, Jan. 2014
Alan Stewart, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Michael Witmore, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Graham Hammill, Jan. 2017
Katherine Eggert, Jan. 2018

<b>Shakespeare</b> (D025)
Katharine Eisaman Maus, Jan. 2014
Garrett A. Sullivan, Jan. 2015 (2013&ndash;Jan. 2014 Sec.)
Mary L. Floyd-Wilson, Jan. 2016 (2013&ndash;Jan. 2014 Ch.)
Bradin Cormack, Jan. 2017
Elizabeth D. Harvey, Jan. 2018

<b>Seventeenth-Century English Literature</b> (D026)
Richard A. Strier, Jan. 2014
Douglas Trevor, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Kristen Poole, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Molly Murray, Jan. 2017
Mihoko Suzuki, Jan. 2018

<b>Restoration and Early-Eighteenth-Century English Literature</b> (D027)
Catherine Elizabeth Ingrassia, Jan. 2014
Albert J. Rivero, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Wolfram Michael Schmidgen, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
J. Paul Hunter, Jan. 2017
Sean D. Moore, Jan. 2018

<b>Late-Eighteenth-Century English Literature</b> (D028)
Misty G. Anderson, Jan. 2014
William Beatty Warner, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Kevis Goodman, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Deidre Shauna Lynch, Jan. 2017
Sandra Macpherson, Jan. 2018

<b>The English Romantic Period</b> (D029)
Kevin Gilmartin, Jan. 2014
Maureen Noelle McLane, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Marjorie Levinson, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Miranda Jane Burgess, Jan. 2017
Mark E. Canuel, Jan. 2018

<b>The Victorian Period</b> (D030)
Eileen Gillooly, Jan. 2014
Elaine C. Freedgood, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Richard Menke, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
William A. Cohen, Jan. 2017
Daniel Hack, Jan. 2018

<b>Late-Nineteenth- and Early-Twentieth-Century English Literature</b> (D031)
Jesse E. Matz, Jan. 2014
Kate Flint, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Cassandra Laity, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Elizabeth Outka, Jan. 2017
David S. Kurnick, Jan. 2018

<b>Twentieth-Century English Literature</b> (D032)
Allan Hepburn, Jan. 2014
Susan Stanford Friedman, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Kevin J. H. Dettmar, Jan. 2016
Priya Joshi, Jan. 2017 (2013&ndash;Jan. 2014 Sec.)
Jahan Ramazani, Jan. 2018

<b>English Literature Other Than British and American</b> (D033)
Mark Allen Sanders, Jan. 2014
Sanjay Krishnan, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Joseph R. Slaughter, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Jennifer A. Wenzel, Jan. 2017
Toral Gajarawala, Jan. 2018

<h2>FRENCH LITERATURE</h2>
<b>French Medieval Language and Literature</b> (D051)
Sharon A. Kinoshita, Jan. 2014
Cary Howie, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Catherine M. Jones, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Matilda Tomaryn Bruckner, Jan. 2017
Daisy J. Delogu, Jan. 2018

<b>Sixteenth-Century French Literature</b> (D052)
David Paul LaGuardia, Jan. 2014
Andrea Marie Frisch, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Marcus Keller, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Todd W. Reeser, Jan. 2017
Leah L. Chang, Jan. 2018

<b>Seventeenth-Century French Literature</b> (D053)
Juliette Cherbuliez, Jan. 2014
Claire B. Goldstein, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Allison Stedman, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Hélène Bilis, Jan. 2017
Faith E. Beasley, Jan. 2018

<b>Eighteenth-Century French Literature</b> (D054)
Mary McAlpin, Jan. 2014
Ourida Mostefai, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Joanna Stalnaker, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Pierre N. Saint-Amand, Jan. 2017
Jennifer S. Tsien, Jan. 2018

<b>Nineteenth-Century French Literature</b> (D055)
Marie-Pierre F. Le Hir, Jan. 2014
Susan McCready, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
David F. Bell III, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Cheryl Krueger, Jan. 2017
Michael D. Garval, Jan. 2018

<b>Twentieth-Century French Literature</b> (D056)
Van Kelly, Jan. 2014
Scott P. Durham, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Alison S. James, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Danielle Marx-Scouras, Jan. 2017
[position unfilled on 2013&ndash;Jan. 2014 committee]

<b>Francophone Literatures and Cultures</b> (D057)
Anne Donadey, Jan. 2014  
Dominic R. Thomas, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Valérie K. Orlando, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Renée Larrier, Jan. 2017
Cilas Kemedjio, Jan. 2018

<h2>GENRE STUDIES</h2>
<b>Drama</b> (D008)
Daphne Ann Brooks, Jan. 2014
Tavia Nyong’o, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Brian Eugenio Herrera, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Jody Enders, Jan. 2017
Eng-Beng Lim, Jan. 2018

<b>Film</b> (D009)
Paul D. Young, Jan. 2014
Serena Anderlini-D’Onofrio, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Nicholas Sammond, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Siobhan S. Craig, Jan. 2017
Caetlin Benson-Allott, Jan. 2018

<b>Nonfiction Prose Studies, Excluding Biography and Autobiography</b> (D010)
Susan H. Lurie, Jan. 2014
Brian J. Norman, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Amardeep Singh, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Brian Lennon, Jan. 2017
Howard Horwitz, Jan. 2018

<b>Poetry</b> (D011)
Susan McCabe, Jan. 2014
Virginia Jackson, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Heather Dubrow, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Alan Golding, Jan. 2017
Meta DuEwa Jones, Jan. 2018

<b>Prose Fiction</b> (D012)
Alex Woloch, Jan. 2014
Rebecca L. Walkowitz, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Wai Chee Dimock, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Mark McGurl, Jan. 2017
Hester Blum, Jan. 2018

<b>Literary Criticism</b> (D014)
Marshall J. Brown, Jan. 2014
[position unfilled on 2013&ndash;Jan. 2014 committee]
Susan Hegeman, Jan. 2016 (2013&ndash;Jan. 2014 Sec. and Acting Ch.)
Kristin Ross, Jan. 2017
Rita Felski, Jan. 2018

<b>Methods of Literary Research</b> (D046)
Jude V. Nixon, Jan. 2014
Robert Markley, Jan. 2015
Andrew M. Stauffer, Jan. 2016 (2013&ndash;Jan. 2014 Ch.)
James F. English, Jan. 2017 (2013&ndash;Jan. 2014 Sec.)
Mark Sample, Jan. 2018

<b>Autobiography, Biography, and Life Writing</b> (D077)
Linda Haverty Rugg, Jan. 2014
Julie Rak, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Irene Kacandes, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Rocío G. Davis, Jan. 2017
Georgia Kathryn Johnston, Jan. 2018

<h2>GERMAN LITERATURE</h2>
<b>German Literature to 1700</b> (D058)
Bethany Wiggin, Jan. 2014 (2013&ndash;Jan. 2014 Ch.)
[position unfilled on 2013&ndash;Jan. 2014 committee]
Niklaus E. Largier, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Mara R. Wade, Jan. 2017
Ann Marie Rasmussen, Jan. 2018

<b>Eighteenth- and Early-Nineteenth-Century German Literature</b> (D059)
Birgit Tautz, Jan. 2014
Daniel Purdy, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Stefani Engelstein, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Edgar Landgraf, Jan. 2017
Elisabeth Krimmer, Jan. 2018

<b>Nineteenth- and Early-Twentieth-Century German Literature</b> (D060)
Todd Kontje, Jan. 2014
David Pan, Jan. 2015
Jocelyne Kolb, Jan. 2016 (2013&ndash;Jan. 2014 Ch.)
Anna C. Guillemin, Jan. 2017 (2013&ndash;Jan. 2014 Sec.)
Jonathan S. Skolnik, Jan. 2018

<b>Twentieth-Century German Literature</b> (D061)
Leslie Morris, Jan. 2014
Deniz Göktürk, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Richard Langston, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Eric C. Ames, Jan. 2017
Stefanie Harris, Jan. 2018

<h2>HISPANIC LITERATURES</h2>
<b>Colonial Latin American Literatures</b> (D078)
Stephanie Louise Kirk, Jan. 2014
Rolena Adorno, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Anna H. More, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Nicolás Wey-Gómez, Jan. 2017
Cristian Roa, Jan. 2018

<b>Latin American Literature from Independence to 1900</b> (D064)
Joshua K. Lund, Jan. 2014
Gabriela Nouzeilles, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Richard Rosa, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Agnes Ivelisse Lugo-Ortiz, Jan. 2017
Natalia Brizuela, Jan. 2018

<b>Twentieth-Century Latin American Literature</b> (D065)
Hilda Chacón, Jan. 2014
Ignacio Sánchez-Prado, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
José Antonio Quiroga, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Marcy Ellen Schwartz, Jan. 2017
Jorge Coronado, Jan. 2018

<b>Medieval Hispanic Languages, Literatures, and Cultures</b> (D067)
Montserrat Piera, Jan. 2014
Ryan Giles, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Jean Dangler, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Benjamin M. Liu, Jan. 2017
Cristina Maria Guardiola, Jan. 2018

<b>Sixteenth- and Seventeenth-Century Spanish Poetry and Prose</b> (D068)
Barbara Fuchs, Jan. 2014
Steven Wagschal, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Luis F. Avilés, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Enrique García Santo-Tomás, Jan. 2017
Leah Wood Middlebrook, Jan. 2018

<b>Sixteenth- and Seventeenth-Century Spanish Drama</b> (D071)
Baltasar Fra-Molinero, Jan. 2014
Barbara Simerka, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
José R. Cartagena-Calderón, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
María M. Carrión, Jan. 2017
Harry Vélez-Quiñones, Jan. 2018

<b>Eighteenth- and Nineteenth-Century Spanish Literature</b> (D069)
Mary L. Coffey, Jan. 2014
Michael Iarocci, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Daniel Frost, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Ana M. Hontanilla, Jan. 2017
David Thatcher Gies, Jan. 2018

<b>Twentieth-Century Spanish Literature</b> (D070)
Susan Larson, Jan. 2014
Susan Martin-Márquez, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Jo Labanyi, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Luisa Elena Delgado, Jan. 2017
Cristina Moreiras-Menor, Jan. 2018

<b>Luso-Brazilian Language and Literature</b> (D073)
Cristina Ferreira-Pinto Bailey, Jan. 2014
Luiz Fernando Valente, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Emanuelle K. F. Oliveira-Monte, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Leila Maria Lehnen, Jan. 2017
Robert Patrick Newcomb, Jan. 2018

<h2>INTERDISCIPLINARY APPROACHES</h2>
<b>Women’s Studies in Language and Literature</b> (D006)
Jennifer DeVere Brody, Jan. 2014
Licia Fiol-Matta, Jan. 2015
Susan G. O’Malley, Jan. 2016 (2013&ndash;Jan. 2014 Ch.)
Angelita D. Reyes, Jan. 2017 (2013&ndash;Jan. 2014 Sec.)
Madelyn Detloff, Jan. 2018

<b>Ethnic Studies in Language and Literature</b> (D007)
Richard T. Rodríguez, Jan. 2014
Cheryl A. Higashida, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Amritjit Singh, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Anna Maria Nogar, Jan. 2017
Penelope M. Kelsey, Jan. 2018

<b>Popular Culture</b> (D013)
Silvia Bermúdez, Jan. 2014
Hillary L. Chute, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Jeffrey T. Nealon, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
John W. Mowitt, Jan. 2017
Ellen McCracken, Jan. 2018

<b>Anthropological Approaches to Literature</b> (D035)
Elsie Browning Michie, Jan. 2014
Brian T. Edwards, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Regenia Gagnier, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Mary Jean Corbett, Jan. 2017
Gabriele M. Schwab, Jan. 2018

<b>Linguistic Approaches to Literature</b> (D036)
Jean-Jacques Thomas, Jan. 2014
Claudia A. Becker, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Monika Fludernik, Jan. 2016 
Donald E. Hardy, Jan. 2017 (2013&ndash;Jan. 2014 Sec.)
Robert Troyer, Jan. 2018

<b>Philosophical Approaches to Literature</b> (D037)
Ann Austin Smock, Jan. 2014
Gerhard Richter, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Suzanne Guerlac, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Rebecca Comay, Jan. 2017
Jacques Lezra, Jan. 2018

<b>Psychological Approaches to Literature</b> (D038)
Steven L. Miller, Jan. 2014
Kathryn Bond Stockton, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Anna Kornbluh, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Ben Sifuentes-Jauregui, Jan. 2017
Elissa Marder, Jan. 2018

<b>Literature and Religion</b> (D039)
James Hiester Najarian, Jan. 2014
Susannah Brietz Monta, Jan. 2015 
Stephen M. Fallon, Jan. 2016 (2013&ndash;Jan. 2014 Ch.)
Liam Corley, Jan. 2017 (2013&ndash;Jan. 2014 Sec.)
Lisa M. Gordis, Jan. 2018

<b>Sociological Approaches to Literature</b> (D040)
Jonathan Flatley, Jan. 2014
Rita Raley, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Jodi Melamed, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Gina Dent, Jan. 2017
Zahid R. Chaudhary, Jan. 2018

<b>Literature and Other Arts</b> (D041)
Jon McKenzie, Jan. 2014
Anke K. Finger, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Eduardo Lujan Cadava, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
[position unfilled on 2013&ndash;Jan. 2014 committee]
Lisa Siraganian, Jan. 2018

<b>Literature and Science</b> (D072)
Rebecca Garden, Jan. 2014
Stacy Alaimo, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Steven J. Meyer, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Ursula K. Heise, Jan. 2017
Pamela Gossin, Jan. 2018

<b>Children’s Literature</b> (D074)
Lorinda Beth Cohoon, Jan. 2014
Craig Svonkin, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Catherine Tosenberger, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Marah Gubar, Jan. 2017
Lee A. Talley, Jan. 2018

<b>Gay Studies in Language and Literature</b> (D075)
Heather K. Love, Jan. 2014 (2013&ndash;Jan. 2014 Ch.)
Christopher Looby, Jan. 2015 (2013&ndash;Jan. 2014 Sec.)
Carla A. Freccero, Jan. 2016
Ramόn H. Rivera-Servera, Jan. 2017
Martha Nell Smith, Jan. 2018

<b>Disability Studies</b> (D085)
Encarnación Juárez-Almendros, Jan. 2014
David Mitchell, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Susan Antebi, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Elizabeth Bearden, Jan. 2017
Allison Hobgood, Jan. 2018

<b>Postcolonial Studies in Literature and Culture</b> (D086)
John Charles Hawley, Jan. 2014
Anjali Prabhu, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Vilashini Cooppan, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Bishnupriya Ghosh, Jan. 2017
Nouri Gana, Jan. 2018

<b>Cognitive Approaches to Literature</b> (D088)
Elizabeth Nixon, Jan. 2014
Julien Jacques Simon, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Blakey Vermeule, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Paula E. Leverage, Jan. 2017
Jonathan Kramnick, Jan. 2018

<h2>ITALIAN LITERATURE</h2>
<b>Medieval and Renaissance Italian Literature</b> (D062)
Bernardo Piciche, Jan. 2014
Linda L. Carroll, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Mary A. Watt, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Laura Giannetti, Jan. 2017
David Lummus, Jan. 2018

<b>Seventeenth-, Eighteenth-, and Nineteenth-Century Italian Literature</b> (D063)
Marco Arnaudo, Jan. 2014
Nathalie Hester, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Irene Zanini-Cordi, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Francesca Luigia Savoia, Jan. 2017
Rachel A. Walsh, Jan. 2018

<b>Twentieth-Century Italian Literature</b> (D079)
Dana E. Renga, Jan. 2014
Manuela Marchesini, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
John P. Welle, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Francesca Cadel, Jan. 2017
Allison A. Cooper, Jan. 2018

<h2>LANGUAGE STUDIES</h2>
<b>Language and Society</b> (D042)
Frank Farmer, Jan. 2014
[position unfilled on 2013&ndash;Jan. 2014 committee]
Bruce W. Robbins, Jan. 2016 (2013&ndash;Jan. 2014 Sec. and Acting Ch.)
Andrea Adolph, Jan. 2017
Ken Hirschkop, Jan. 2018

<b>Language Theory</b> (D043)
Mary Blockley, Jan. 2014
Jiyoung Yoon, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
[position unfilled on 2013&ndash;Jan. 2014 committee]
Thomas F. Shannon, Jan. 2017 (2013&ndash;Jan. 2014 Acting Sec.)
Irma Alarcon, Jan. 2018

<b>Applied Linguistics</b> (D044)
Virginia M. Scott, Jan. 2014
Christina Czajkoski, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Sébastien Dubreil, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Lawrence Williams, Jan. 2017
Elizabeth Bernhardt, Jan. 2018

<b>Language Change</b> (D045)
[position unfilled on 2013&ndash;Jan. 2014 committee]
Chris Palmer, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Margaret A. Noodin, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Tara Williams, Jan. 2017
T. Craig Christy, Jan. 2018

<b>History and Theory of Rhetoric and Composition</b> (D081)
Patricia Roberts-Miller, Jan. 2014
Michael F. Bernard-Donals, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Janice Fernheimer, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Shevaun E. Watson, Jan. 2017
John C. Brereton, Jan. 2018

<h2>OTHER LANGUAGES AND LITERATURES</h2>
<b>African Literatures</b> (D015)
Alain Lawo Sukam, Jan. 2014
Taiwo Adetunji Osinubi, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Neil ten Kortenaar, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Joya F. Uraizee, Jan. 2017
Moradewun Adejunmobi, Jan. 2018

<b>Arabic Literature and Culture</b> (D087)
Ken Seigneurie, Jan. 2014
Christopher Micklethwait, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Suha Kudsieh, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Stephen Sheehi, Jan. 2017
Waïl S. Hassan, Jan. 2018

<b>East Asian Languages and Literatures to 1900</b> (D016)
Jiwon Shin, Jan. 2014
Joseph Sorensen, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Charlotte Eubanks, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Monika Dix, Jan. 2017
Paul Rouzer, Jan. 2018

<b>East Asian Languages and Literatures after 1900</b> (D083)
Douglas N. Slaymaker, Jan. 2014
Henry Em, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Melek Ortabasi, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Alexa (Alex) Huang, Jan. 2017
Michael Emmerich, Jan. 2018

<b>Slavic and East European Literatures</b> (D066)
Emily D. Johnson, Jan. 2014
Kevin M. F. Platt, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Svetlana Vassileva-Karagyozova, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Rebecca Jane Stanton, Jan. 2017
Serguei Alex. Oushakine, Jan. 2018

<h2>TEACHING</h2>
<b>The Teaching of Language</b> (D047)
Gwendolyn Barnes-Karol, Jan. 2014
Fernando Rubio, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Heather Willis Allen, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Johanna Watzinger-Tharp, Jan. 2017
Jennifer Redmann, Jan. 2018

<b>The Teaching of Literature</b> (D048)
Leonard Cassuto, Jan. 2014
Jeanne A. Follansbee, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Donna L. Pasternak, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Gaurav G. Desai, Jan. 2017
Mary McAleer Balkun, Jan. 2018

<b>The Teaching of Writing</b> (D049)
Katherine H. Adams, Jan. 2014
Victor J. Vitanza, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
John L. Schilb, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Jacqueline R. Rhodes, Jan. 2017
Catherine Jean Prendergast, Jan. 2018

<b>Teaching as a Profession</b> (D050)
Steven Mailloux, Jan. 2014 (2013&ndash;Jan. 2014 Ch.)
Marc Bousquet, Jan. 2015
Jeffrey J. Williams, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Kimberly Nance, Jan. 2017
Robert Samuels, Jan. 2018
