<h1>Data on Humanities Doctorate Recipients and Faculty Members by Race and Ethnicity</h1>
This report from the MLA Office of Research responds to a request by members of  the MLA Committee on the Literatures of People of Color in the United States and Canada for systematic national data on the status of faculty members of color in English and foreign languages.

<a href="/data_humanities_pdf">View the report</a>[[[docstudio filetype_tag_pdf]]]


 
