<h1>Special-Interest Categories</h1>
Special-interest seats in the Delegate Assembly are distributed among the following categories.

<ul>
<li>Composition, Rhetoric, and Writing</li>
<li>Continuing and Distance Education</li>
<li>Creative Writing</li>
<li>Disability Issues</li>
<li>Ethnic Studies</li>
<li>Foreign Language Teaching</li>
<li>Gays and Lesbians in the Profession</li>
<li>Graduate Students</li>
<li>Independent Scholars and Alternative Careers</li>
<li>Lecturers, Adjuncts, and Instructors</li>
<li>Less-Taught Languages</li>
<li>Politics and the Profession</li>
<li>Retired</li>
<li>Scholars Residing outside the United States and Canada</li>
<li>Two-Year Colleges</li>
<li>Women in the Profession</li>
</ul>
