<h1>Members of the 2013–14 MLA Delegate Assembly</h1>
Listed below are the 268 members of the 2013–14 Delegate Assembly (10 seats are currently unfilled). The date that follows each delegate’s name refers to the last convention in his or her term.

<h2>Divisional Delegates</h2>
<b>American Literature</b>
<i>American Literature to 1800</i>: Timothy Sweet, Jan. 2014
<i>Nineteenth-Century American Literature</i>: Jordan Alexander Stein, Jan. 2015
<i>Late-Nineteenth- and Early-Twentieth-Century American Literature</i>: Donald E. Pease, Jan. 2015
<i>Twentieth-Century American Literature</i>: Deborah L. Clarke, Jan. 2016
<i>Black American Literature and Culture</i>: Jennifer DeVere Brody, Jan. 2015
<i>American Indian Literatures</i>: Janis A. Johnson, Jan. 2014
<i>Asian American Literature</i>: Sue J. Kim, Jan. 2015
<i>Chicana and Chicano Literature</i>: Yolanda Padilla, Jan. 2016

<b>Comparative Studies</b>
<i>Comparative Studies in Medieval Literature</i>: Sylvia Tomasch, Jan. 2015
<i>Comparative Studies in Renaissance and Baroque Literature</i>: Carmen Nocentelli, Jan. 2015
<i>Comparative Studies in Eighteenth-Century Literature</i>: Laura C. Mandell, Jan. 2014
<i>Comparative Studies in Romanticism and the Nineteenth Century</i>: Brian McGrath, Jan. 2015
<i>Comparative Studies in Twentieth-Century Literature</i>: Marcel H. Cornis-Pope, Jan. 2015
<i>European Literary Relations</i>: Sandra L. Bermann, Jan. 2015

<b>English Literature</b>
<i>Old English Language and Literature</i>: Kathleen Davis, Jan. 2015
<i>Middle English Language and Literature, Excluding Chaucer</i>: Martin B. Shichtman, Jan. 2015
<i>Chaucer</i>: Candace Barrington, Jan. 2014
<i>Literature of the English Renaissance, Excluding Shakespeare</i>: Alan Stewart, Jan. 2015
<i>Shakespeare</i>: Yu Jin Ko, Jan. 2014
<i>Seventeenth-Century English Literature</i>: Thomas H. Luxon, Jan. 2014
<i>Restoration and Early-Eighteenth-Century English Literature</i>: Rivka Swenson, Jan. 2015
<i>Late-Eighteenth-Century English Literature</i>: Rajani Sudan, Jan. 2014
<i>The English Romantic Period</i>: Andrew Franta, Jan. 2016
<i>The Victorian Period</i>: Beverly White Taylor, Jan. 2015
<i>Late-Nineteenth- and Early-Twentieth-Century English Literature</i>: Kate Flint, Jan. 2015
<i>Twentieth-Century English Literature</i>: Aarthi Vadde, Jan. 2015
<i>English Literature Other Than British and American</i>: Joya F. Uraizee, Jan. 2014

<b>French Literature</b>
<i>French Medieval Language and Literature</i>: Julie E. Singer, Jan. 2014
<i>Sixteenth-Century French Literature</i>: Katie Chenoweth, Jan. 2016
<i>Seventeenth-Century French Literature</i>: Jeffrey N. Peters, Jan. 2014
<i>Eighteenth-Century French Literature</i>: Joanna Stalnaker, Jan. 2016
<i>Nineteenth-Century French Literature</i>: Corry Cropper, Jan. 2016
<i>Twentieth-Century French Literature</i>: Olivier Bourderionnet, Jan. 2016
<i>Francophone Literatures and Cultures</i>: Cilas Kemedjio, Jan. 2016

<b>Genre Studies</b>
<i>Drama</i>: Nicole Tabor, Jan. 2014
<i>Film</i>: Siobhan S. Craig, Jan. 2015
<i>Nonfiction Prose Studies, Excluding Biography and Autobiography</i>: Linda Camarasana, Jan. 2014
<i>Poetry</i>: Alan Golding, Jan. 2016
<i>Prose Fiction</i>: John Marx, Jan. 2016
<i>Literary Criticism</i>: Brian Lennon, Jan. 2014
<i>Methods of Literary Research</i>: Laura Heffernan, Jan. 2016
<i>Autobiography, Biography, and Life Writing</i>: Thomas Russell Smith, Jan. 2016

<b>German Literature</b>
<i>German Literature to 1700</i>: Albrecht Classen, Jan. 2015
<div style="margin-left:.25in; text-indent:-.25in"><i>Eighteenth- and Early-Nineteenth-Century German Literature</i>: [seat unfilled, Jan. 2014]</div>
<i>Nineteenth- and Early-Twentieth-Century German Literature</i>: David Pan, Jan. 2015
<i>Twentieth-Century German Literature</i>: Deniz Göktürk, Jan. 2016

<b>Hispanic Literatures</b>
<i>Colonial Latin American Literatures</i>: Anna H. More, Jan. 2016
<i>Latin American Literature from Independence to 1900</i>: Joshua K. Lund, Jan. 2016
<i>Twentieth-Century Latin American Literature</i>: Héctor Hoyos, Jan. 2015
<i>Medieval Hispanic Languages, Literatures, and Cultures</i>: David Arbesu, Jan. 2016
<i>Sixteenth- and Seventeenth-Century Spanish Poetry and Prose</i>: Alison Parks Weber, Jan. 2016
<i>Sixteenth- and Seventeenth-Century Spanish Drama</i>: Bruce R. Burningham, Jan. 2014
<i>Eighteenth- and Nineteenth-Century Spanish Literature</i>: Daniel Frost, Jan. 2015
<i>Twentieth-Century Spanish Literature</i>: Gina Ann Herrmann, Jan. 2016
<i>Luso-Brazilian Language and Literature</i>: Robert Simon, Jan. 2014

<b>Interdisciplinary Approaches</b>
<i>Women’s Studies in Language and Literature</i>: Jackie Cuevas, Jan. 2014
<i>Ethnic Studies in Language and Literature</i>: Stephen P. Knadler, Jan. 2016
<i>Popular Culture</i>: David R. Shumway, Jan. 2015
<i>Anthropological Approaches to Literature</i>: Gaurav G. Desai, Jan. 2015
<i>Linguistic Approaches to Literature</i>: Jean-Jacques Thomas, Jan. 2016
<i>Philosophical Approaches to Literature</i>: Natania Meeker, Jan. 2014
<i>Psychological Approaches to Literature</i>: Lydia Kerr, Jan. 2015
<i>Literature and Religion</i>: Liam Corley, Jan. 2016
<i>Sociological Approaches to Literature</i>: Imre Szeman, Jan. 2015
<i>Literature and Other Arts</i>: [seat unfilled, Jan. 2014]
<i>Literature and Science</i>: Christy Tidwell, Jan. 2016
<i>Children’s Literature</i>: Joseph Terry Thomas, Jan. 2016
<i>Gay Studies in Language and Literature</i>: Ashley Shelden, Jan. 2015
<i>Disability Studies</i>: Sharon Snyder, Jan. 2015
<i>Postcolonial Studies in Literature and Culture</i>: Ato Quayson, Jan. 2016
<i>Cognitive Approaches to Literature</i>: Lisa Zunshine, Jan. 2015

<b>Italian Literature</b>
<i>Medieval and Renaissance Italian Literature</i>: Pina Palma, Jan. 2015
<div style="margin-left:.25in; text-indent:-.25in"><i>Seventeenth-, Eighteenth-, and Nineteenth-Century Italian Literature</i>: Irene Zanini-Cordi, Jan. 2016</div>
<i>Twentieth-Century Italian Literature</i>: Laura Wittman, Jan. 2014

<b>Language Studies</b>
<i>Language and Society</i>: Frank Farmer, Jan. 2014
<i>Language Theory</i>: Paul Hopper, Jan. 2016
<i>Applied Linguistics</i>: Jessica Greenfield, Jan. 2016
<i>Language Change</i>: Margaret A. Noori, Jan. 2014
<i>History and Theory of Rhetoric and Composition</i>: Patricia Roberts-Miller, Jan. 2014

<b>Other Languages and Literatures</b>
<i>African Literatures</i>: Tsitsi Jaji, Jan. 2014
<i>Arabic Literature and Culture</i>: Shaden M. Tageldin, Jan. 2015
<i>East Asian Languages and Literatures to 1900</i>: Jiwon Shin, Jan. 2014
<i>East Asian Languages and Literatures after 1900</i>: Ming-Bao Yue, Jan. 2014
<i>Slavic and East European Literatures</i>: Jessie M. Labov, Jan. 2016

<b>Teaching</b>
<i>The Teaching of Language</i>: Fernando Rubio, Jan. 2014
<i>The Teaching of Literature</i>: Jeanne A. Follansbee, Jan. 2014
<i>The Teaching of Writing</i>: Katherine H. Adams, Jan. 2014
<i>Teaching as a Profession</i>: Jeffrey R. Di Leo, Jan. 2014

<h2>Special-Interest Delegates</h2>
<b>Composition, Rhetoric, and Writing</b>
Rebecca Lynn Ingalls, Jan. 2014
Steven H. Shoemaker, Jan. 2016

<b>Continuing and Distance Education</b>
Donna M. Campbell, Jan. 2015
Barbara C. Ewell, Jan. 2014

<b>Creative Writing</b>
David Galef, Jan. 2016
Laura Mullen, Jan. 2014

<b>Disability Issues</b>
Robin Sandra Grey, Jan. 2015
Petra Kuppers, Jan. 2014

<b>Ethnic Studies</b>
Patrick S. Bernard, Jan. 2015
Sheila Marie Contreras, Jan. 2014
Dolan Hubbard, Jan. 2016
Trimiko Melancon, Jan. 2014
Dory Nason, Jan. 2015
Cathy J. Schlund-Vials, Jan. 2014
Hertha D. Sweet Wong, Jan. 2016
[two seats unfilled, Jan. 2014]

<b>Foreign Language Teaching</b>
Michael E. Geisler, Jan. 2014
Cristina Maria Guardiola, Jan. 2015
Derrick Miller, Jan. 2016

<b>Gays and Lesbians in the Profession</b>
Katherine Biers, Jan. 2016
Robert D. Tobin, Jan. 2014

<b>Graduate Students</b>
Priyanka Jacob, Jan. 2015
Matt Langione, Jan. 2015

<b>Independent Scholars and Alternative Careers</b>
Gabrielle Dean, Jan. 2016
Regine I. Heberlein, Jan. 2014
Laurie Taylor, Jan. 2014

<b>Lecturers, Adjuncts, and Instructors</b>
Marion Gehlker, Jan. 2015
Jeongoh Kim, Jan. 2016
Leah Strobel, Jan. 2016

<b>Less-Taught Languages</b>
Christopher E. Larkosh, Jan. 2016
Andrew Schonebaum, Jan. 2015
Barbara Thornbury, Jan. 2014

<b>Politics and the Profession</b>
Nathan Brown, Jan. 2016
Lisa Cacho, Jan. 2016
Debra Ann Moddelmog, Jan. 2015
Steven L. Newman, Jan. 2014
[one seat unfilled, Jan. 2014]

<b>Retired</b>
Patricia Ann Ward, Jan. 2015

<b>Scholars Residing outside the United States and Canada</b>
Clara Rowland, Jan. 2015

<b>Two-Year Colleges</b>
Emory Reginald Abbott, Jan. 2014
David Clemens, Jan. 2016
H. Edward Higginbotham, Jan. 2016
Jami L. Huntsinger, Jan. 2015
Amy Sparks Kolker, Jan. 2015
Miles McCrimmon, Jan. 2014

<b>Women in the Profession</b>
Monica Feinberg Cohen, Jan. 2015
Basuli Deb, Jan. 2016
Aparna Gollapudi, Jan. 2014
Susan Elizabeth Gustafson, Jan. 2014
Beth Ellen Jörgensen, Jan. 2015
Rachael King, Jan. 2016
Tonya Moutray, Jan. 2015
Miriam L. Wallace, Jan. 2016

<h2>Regional Delegates</h2>
<b>New England and Eastern Canada</b>
<i>Connecticut, Maine, Massachusetts, New Hampshire, Rhode Island, Vermont; New Brunswick, Newfoundland and Labrador, Nova Scotia, Ontario, Prince Edward Island, Québec
</i>
Amy Boylan, Jan. 2016
Ute T. Brandes, Jan. 2015
Daniel Frank Chamberlain, Jan. 2014
Sébastien Côté, Jan. 2014
Peter M. Coviello, Jan. 2015
Eda Dedebas, Jan. 2015
Benjamin Friedlander, Jan. 2016
Heather Klemann, Jan. 2016
Cathryn M. Mercier, Jan. 2015
Anjali Prabhu, Jan. 2014
Shawn Christopher Salvant, Jan. 2015
Susan Solomon, Jan. 2014
Victoria Wolff, Jan. 2014

<b>New York State</b>
Sari Altschuler, Jan. 2014
Gustavo Arango, Jan. 2014
Sara Armengot, Jan. 2015
Barbara J. Black, Jan. 2015
Mia Chen, Jan. 2015
Nathalie Marie Degroult, Jan. 2014
Marilynn R. Desmond, Jan. 2014
Granville Ganter, Jan. 2014
Christine Henseler, Jan. 2015
William Michael Mudrovic, Jan. 2016
Seth Perlow, Jan. 2016
[one seat unfilled, Jan. 2014]

<b>Middle Atlantic</b>
<i>Delaware, District of Columbia, Maryland, New Jersey, Pennsylvania, West Virginia
</i>
Chiji Akoma, Jan. 2016
Kristin Bergen, Jan. 2015
Christine Blackshaw, Jan. 2015
Mark Cantrell, Jan. 2015
David B. Downing, Jan. 2014
Ellen G. Friedman, Jan. 2014
Margaret Vallone Gardineer, Jan. 2016
Scott Paul Gordon, Jan. 2014
Mark Larabee, Jan. 2015
Mirona Magearu, Jan. 2015
Daniel Purdy, Jan. 2014
Heather Steffen, Jan. 2016
[one seat unfilled, Jan. 2014]

<b>Great Lakes</b>
<i>Illinois, Indiana, Michigan, Minnesota, Ohio, Wisconsin</i>

Elizabeth Berkebile McManus, Jan. 2015
Martin Joseph Camargo, Jan. 2014
John E. Davidson, Jan. 2016
Larnell Dunkley, Jr., Jan. 2016
Patrick L. Gallagher, Jan. 2016
Enrique García Santo-Tomás, Jan. 2015
Andrea Lyn Knutson, Jan. 2015
Juliet Lynd, Jan. 2016
Damaris Punales-Alpizar, Jan. 2015
George Gordon Shuffelton, Jan. 2014
Jennifer M. P. Solheim, Jan. 2014
Theresa Tinkle, Jan. 2015
Johannes Türk, Jan. 2014
Jacquilyn Weeks, Jan. 2016
Jennifer Willging, Jan. 2015
Heather Willis Allen, Jan. 2016
[two seats unfilled, Jan. 2014]

<b>South</b>
<i>Alabama, Florida, Georgia, Kentucky, Louisiana, Mississippi, North Carolina, Puerto Rico, South Carolina, Tennessee, Virginia, Virgin Islands</i>

Pascale M. Barthe, Jan. 2014
Joanne M. Braxton, Jan. 2014
Alexandra Campana, Jan. 2015
Jacqueline Couti, Jan. 2014
Susan C. Dixon, Jan. 2015
Audrey Magre-Burba, Jan. 2016
Mary McCay, Jan. 2015
Margaret McGehee, Jan. 2016
Lisa Nalbone, Jan. 2016
Joshua Phillips, Jan. 2015
Uriel Quesada, Jan. 2015
Lynn Ramey, Jan. 2014
Mark A. Reid, Jan. 2016
Rashna Wadia Richards, Jan. 2014
Roopika Risam, Jan. 2015
Daniel Cross Turner, Jan. 2016
Judson D. Watson III, Jan. 2016
[one seat unfilled, Jan. 2014]

<b>Central and Rocky Mountain</b>
<i>Arizona, Arkansas, Colorado, Iowa, Kansas, Missouri, Montana, Nebraska, New Mexico, North Dakota, Oklahoma, South Dakota, Texas, Utah, Wyoming</i>

Jesse Alemán, Jan. 2016
Adam Coon, Jan. 2016
Kimberly Cox, Jan. 2014
Irina Dumitrescu, Jan. 2015
Katherine Fama, Jan. 2014
Emily A. Haddad, Jan. 2016
Lisa Haegele, Jan. 2015
Gina Hausknecht, Jan. 2016
Susan Sage Heinzelman, Jan. 2014
Emily Hind, Jan. 2014
Salvador Mercado, Jan. 2016
Mary Ann O’Farrell, Jan. 2015
Richard Mark Preiss, Jan. 2015
Karen E. Ramirez, Jan. 2016
Eleuterio Santiago-Díaz, Jan. 2015

<b>Western United States and Western Canada</b>
<i>Alaska, California, Hawai‘i, Idaho, Nevada, Oregon, Washington; Alberta, British Columbia, Manitoba, Saskatchewan</i>

Maria Faini, Jan. 2016
Susan L. Gaylard, Jan. 2014
Bishnupriya Ghosh, Jan. 2014
Kevin G. Guerrieri, Jan. 2015
Gillian H. Harkins, Jan. 2015
Jason Herbeck, Jan. 2016
Alex Hernandez, Jan. 2014
James Kyung-Jin Lee, Jan. 2016
Diana Leong, Jan. 2016
Margherita R. Long, Jan. 2015
Christopher M. Lupke, Jan. 2016
Julia Reinhard Lupton, Jan. 2015
Emily McGann, Jan. 2015
Giovanna Montenegro, Jan. 2014
Allison Muri, Jan. 2016
Cheryl Narumi Naruse, Jan. 2016
Paul W. Peppis, Jan. 2014
Gerhard Richter, Jan. 2014
Natalia Ruiz-Rubio, Jan. 2016

<h2>Ex Officio Delegates</h2>
The ex officio members of the Delegate Assembly include the officers of the MLA, the members of the Executive Council, the members of the Delegate Assembly Organizing Committee (DAOC), and the representatives of the regional MLAs.

<b>Officers</b>
<i>President</i>: <a href="/hirsch">Marianne Hirsch</a>, Jan. 2014
<i>First Vice President</i>: <a href="/ferguson">Margaret W. Ferguson</a>, Jan 2015 (also ex officio DAOC member)
<i>Second Vice President</i>: <a href="/greene">Roland Greene</a>, Jan. 2016
<i>Executive Director</i>: <a href="/feal">Rosemary G. Feal</a> (also ex officio DAOC member)

<b>Members of the Executive Council</b>
Samer M. Ali, Jan. 2016 (also DAOC member)
Barbara K. Altmann, Jan. 2015
Jonathan Arac, Jan. 2014 (also ex officio DAOC member)
Lawrence I. Buell, Jan. 2014
Debra Ann Castillo, Jan. 2015
Alicia M. de la Torre Falzon, Jan. 2017 (also DAOC member)
Donald E. Hall, Jan. 2017
Dorothea Heitsch, Jan. 2014
María Herrera-Sobek, Jan. 2015
Lanisa Kitchiner, Jan. 2016
Lutz Koepnick, Jan. 2016
Paula M. Krebs, Jan. 2017
Richard M. Ohmann, Jan. 2014
Mecca Jamilah Sullivan, Jan. 2016 (also DAOC member)

<b>Members of the DAOC</b>
Maria Damon, Jan. 2014
Stephanie Louise Kirk, Jan. 2016
Ana-Maria Medina, Jan. 2014
Julie Rak, Jan. 2016
Jennifer Wicke, Jan. 2015

<b>Representatives of the Regional MLAs</b>
<i>Midwest MLA</i>: David M. Posner
<i>Northeast MLA</i>: Kristin A. Le Veness
<i>Pacific Ancient and Modern Lang. Assn.</i>: Craig Svonkin
<i>Rocky Mountain MLA</i>: Joy B. Landeira
<i>South Atlantic MLA</i>: Renée Schatteman
<i>South Central MLA</i>: Nancy Anne LaGreca
