<h1>Delegate Assembly</h1>
<a href="/2014_resolutions">Resolutions Approved by the 2014 Delegate Assembly</a>
<h2>Function and Composition of the Delegate Assembly</h2>
In 1971, the Delegate Assembly replaced the MLA annual business meeting and since then has met once a year during the annual convention.  The assembly elects two members of the Executive Council and five members of the Delegate Assembly Organizing Committee; elects the Nominating and Elections Committees; elects honorary members and fellows; determines the dues structure of the association, subject to confirmation by the Executive Council; receives reports from committees and commissions; recommends actions to the Executive Council regarding the conduct of association business and the association's direction, goals, and structure; approves amendments to the MLA constitution; and supervises its own organization and operation.  See <a href="/mla_constitution#a9">article 9</a> of the MLA constitution for additional details about the responsibilities of the Delegate Assembly.

There are 278 members of the assembly, as follows: (a) 88 delegates representing each of the present MLA divisions, each of whom is elected by the executive committee of the division he or she represents; (b) 108 regional delegates, distributed to accord with the proportion of the MLA membership in seven regions (New England and Eastern Canada, New York State, Middle Atlantic, Great Lakes, South, Central and Rocky Mountain, Western US and Western Canada) and elected by the membership in each region; (c) 54 special-interest delegates, who ensure representation of <a href="/del_special_interest">special-interest constituencies</a> of the MLA's membership and who are elected by the MLA membership; and (d) 28 ex officio delegates, including voting members of the MLA Executive Council and of the Delegate Assembly Organizing Committee and official representatives of each of the six regional MLAs.

Divisional, regional, and special-interest delegates serve for terms of three years. See <a href="/mla_constitution#a10">article 10</a> of the MLA constitution for additional details about the composition of the Delegate Assembly. 

<h2>Meetings of the Delegate Assembly</h2>
The Delegate Assembly normally meets once a year during the annual convention. MLA members and accredited journalists may attend the assembly meeting as observers. A limited amount of time during the discussion of agenda items is reserved for MLA members who observe the meeting. The length of the meeting depends on the length of the assembly's agenda; recent meetings have lasted four hours or more.

Notice is hereby given that the next meeting of the Delegate Assembly will take place during the 2015 MLA convention in Vancouver. The meeting is scheduled for Saturday, 10 January 2015; it will begin at 1:00 p.m.

<h2>Placing an Item on the Agenda of the Delegate Assembly</h2>
Motions, regular resolutions, and other items for the assembly's consideration must be placed on its agenda by 1 October. The Delegate Assembly Organizing Committee (DAOC), which prepares the agenda for meetings of the assembly, strongly urges members who wish to raise issues to communicate with the committee early in the year to determine the best way to present their concerns. The committee is eager to facilitate members' access to the assembly and to help members frame issues in ways appropriate to a formal parliamentary body like the assembly. Members should write to the chair of the <a href="/comm_delegate">Organizing Committee</a> or to the coordinator of governance.

After consulting with the Organizing Committee and before formally submitting a motion or resolution to the DAOC chair, members may wish to use the <a href="/da_prop_main">Delegate Assembly Proposal Page</a> to solicit comments from delegates and other MLA members on the motions or resolutions they are formulating for submission.  The members of the DAOC and the Delegate Assembly believe that preliminary discussion of a motion’s or resolution’s language and rationale will lead to the submission of well-formulated proposals that will allow delegates to focus their discussion on the substance of each proposal.

<h2>Election Information</h2>
<a href="/mla_constitution#a10">Article 10</a> of the MLA constitution describes the election of Delegate Assembly members.  All assembly elections are supervised by the Elections Committee.  Divisional delegates are elected by the division executive committees.  The Elections Committee is responsible for selecting nominees for the regional and special-interest seats in the assembly.  Nominations for regional and special-interest contests may also be made by petition (see <a href="/mla_constitution#a10E">art. 10.E</a> of the MLA constitution).  Carol Zuses, coordinator of governance, can provide further information (<a href="mailto:governance@mla.org">governance@mla.org</a>).

<h2>Suggesting Candidates for the Delegate Assembly</h2>
As noted above, the Elections Committee supervises the Delegate Assembly elections.  One of the committee's specific responsibilities is to select nominees for the regional and special-interest seats in the assembly.  The committee is also charged with ensuring that various constituencies within the MLA find representation in the Delegate Assembly.  Committee members are therefore interested in receiving suggestions of nominees from the membership.

Those making suggestions should first consult <a href="/mla_constitution#a10C">article 10.C</a> of the MLA constitution, which establishes certain requirements for assembly candidates.  It should also be noted that the selection of candidates is guided by the need for balanced representation in the assembly with respect to field, rank, type of institution, and gender.  Any suggestions that the Elections Committee is not able to act on in one year will be kept on file for the following year's election cycle.

Suggestions may be sent at any time; since the election cycle begins in January of each year, however, it is best to forward suggestions in the fall of the preceding year.  All suggestions should be sent to Carol Zuses, coordinator of governance, either by e-mail or regular mail.  The following information must be included: name of the member suggested, affiliation, department, rank, field(s) of specialization, specification of the type of nomination being sought (i.e., for a regional or a special-interest seat, and, if the latter, which <a href="/del_special_interest">special-interest category</a>), and a brief statement of the person's qualifications.
