<h2>Early Registration and Suite Requests for ADE and ADFL Department Chairs</h2> 
<b>Q. My colleague or chair has received the registration and housing information, but I have not.</b>
A. An early e-mail notification is sent only to chairs of departments that were members of ADE (Association of Departments of English) or ADFL (Association of Departments of Foreign Languages) by the 1 June deadline. Membership in ADE and ADFL is separate from individual MLA memberships and is a departmental membership. If your department is listed in the ADE or ADFL rolls, the early chair notification is sent automatically to the chair whose name is listed in the ADE or ADFL database. The purpose of this early notification is to provide interviewing departments with a chance to reserve a suite for conducting interviews. This early notification is one of the benefits of membership in ADE and ADFL and cannot be sent on request.

<b>Q. I am the chair of my department and have not received the early chair notification.</b>
A. Was your department a member of ADE or ADFL by the 1 June deadline? If so, the notification was sent to the person who was listed as chair at that time. If you are the new chair of your department, check to see if the notification was sent to your predecessor. If your department was not a current member of ADE or ADFL by 1 June, you will have to wait for the regular member notification. If you have questions about whether or not you should receive the early chair notification, please contact Roy Chustek (<a href="mailto:rchustek@mla.org">rchustek@mla.org</a>).

<b>Q. How do I reserve a suite online for the convention?</b>
A. ADE and ADFL department chairs were sent an e-mail detailing this new service and the required log-in information. Until 1 September, ADE and ADFL chairs must log in through the ADE or ADFL Web site to access the online convention registration page. Credit card payment is required for online processing. At the completion of your online registration, you should click on Make hotel reservations now. You must be registered for the convention to access the online housing page. After you have selected your arrival and departure dates and room occupancy, click Next to select the hotel and room category. <b>NOTE: To reserve a two-bedroom suite there must be at least two paid convention registrants listed in the room reservation.</b>

<b>Q. How can we reserve two (or more) suites for interviewing purposes?</b>
A. Because of the large number of departments that wish to reserve suites for interview purposes and the limited number of suites available, each department is able to request only one suite in response to the early chair notification. 

<b>Q. How can I guarantee that we have a suite for interviewing?</b>
A. There is no guarantee that there will be enough suites for every person or department who requests one. Suite requests are processed on a first-come, first-served basis, based on availability, provided that all the information requested on the housing form is complete and correct and that all room occupants are registered for the convention.

<b>Q. My department did not receive the early chair notification. How can we reserve a suite for interviewing?</b>
A. If you are an MLA member, you should wait until the online member registration and housing is live or you receive the regular member registration and housing notification that is sent in early September. To make your hotel reservation online, first register online for the convention using a credit card, then follow the prompt to the housing page. For questions regarding online reservations, please review the questions and answers below. If completing your convention registration and hotel reservation by mail, you should complete the registration and housing forms and send them in as soon as possible. We recommend that you list several hotel options; the housing bureau will go to your second choice if your first choice is not available. All suite and room requests are processed in the order they are received, and occupants must be registered for the convention before the housing form will be processed. 

<b>Q. How soon will I receive confirmation of my suite request?</b>
A. If you make your suite reservation online, you will have immediate confirmation of your reservation once your credit card payment is submitted and approved. If your suite request was made by mail, you should receive an e-mail confirmation of your hotel reservation within two to three weeks of our receiving your housing form. Suite reservations take longer to process than regular room reservations because of the additional attention given to each request.
