<h1>Reconsidering Robert Creeley</h1>
Reprinted by permission of the authors. Copyright &#169; 2006 by Timothy Pan Yu, Charles Bernstein, Stephen A. Fredman, Libbie Rifkin

<I>Part 2.  Detailed description of session</i>

The death of American poet Robert Creeley in March 2005 prompted a remarkable outpouring of tributes from poets, critics, and friends.  Creeley has long been considered one of the most significant and influential of contemporary American writers.  His short, explosive line and plain diction carried forward the innovations of William Carlos Williams.  And as a central figure of the Black Mountain school of poets, Creeley was a leader of the postwar American avant-garde.  Yet his work has never received the sustained critical attention given to peers such as Charles Olson, Frank O'Hara, or John Ashbery.  In the wake of Creeleys's death, this panel gathers a distinguished group of poets and critics to take the measure of Creeley's achievement and to explore the full range of critical modes through which we might approach his work.

One of the most striking aspects of Creeley's later career was his embrace of younger writers affiliated with the movement known as Language writing, most notable in his support of poet and critic Charles Bernstein, who succeeded Creeley as Gray professor of poetry at SUNY-Buffalo.  In turn, Bernstein has become one of Creeley's most astute readers, calling attention to Creeley's interest in the materiality of language and to the troubled masculinity at the heart of Creeley's deceptively simple lyrics.  Bernstein will begin this panel with his talk "The Plan Is the Body," which delineates three key principles of Creeley's work:  that one finds out what one has to say in the process of saying it; that poetry is made not of ideas but of words; and that poetry should emphasize equally the common and the particular, or rather seek to find the particular within the common.  These precepts, which Bernstein views as a stark challenge to a conventional poetry that begins with the ideas or sentiments and then seeks to represent them in the poem, demonstrate Creeley's continuing relevance to current experimental writing.  

Stephen Fredman, whose influential study <I>Poet's Prose</i> is among the most impressive critical treatments of Creeley's writing, delves more deeply into the sources of Creeley's prosody in his paper for this panel, "Taking the Measure of Robert Creeley."  For Fredman, Creeley's deep commitment to conversations and company – his wide-ranging friendships, his work as a mentor and teacher, his collage-like citations of other poets in his essays – is reflected in his sense of poetic line, whose measure provides a way to measure the world and one's participation in it.   Born from the modern drive to create terms for fathoming experience, Creeley's measure forms a base for human awareness.  As our contemporary master of the line break, Creeley achieves an unparalleled tension in his line through his rhythmic, syntactic, and emotional uses of enjambment.

The notion of Creeley's "company" is extended and critiqued by the final panelist, Libbie Rifkin, whose recent book <I>Career Moves</i> subjects the careers of Creeley and his peers to a provocative institutional and feminist analyst.  Rifkin's talk, "'A Friend / Who's a Woman':  Reconsidering Creeley's Company," argues that while critics have analyzed the significance of Creeley's male friendships in detail, some of his most generative friendships were with women writers.  She examines the crucial role Creeley's friendships with two writers, Denise Levertov and Susan Howe, played not only in the careers of all three writers but in the institutional histories of Black Mountain College and the Poetics Program at SUNY-Buffalo.  Rifkin's revisionist reading points the way toward the new, critical studies we may expect from a younger generation of Creeley scholars.

The presentations will be followed by a response from Michael Davidson, a distinguished critic and poet whose work on both the material text and on literary communities make him ideally suited to draw these varied approaches into conversation. 
