<h1>Discussion Group Executive Committees for the 2014 Convention Year (7 Jan. 2013&ndash;12 Jan. 2014)</h1>
The MLA has forty-nine discussion groups that are designed to accommodate the scholarly and professional interests of small constituencies concerned with discrete literatures or with literary and linguistic subjects that are not encompassed by one of the <a href="/danddg">divisions</a>. MLA members have the option of joining up to two discussion groups. (If you are an MLA member and wish to review or update your discussion group affiliations, please click <a href="/join_update">here</a>.)

Each discussion group is governed by an elected executive committee whose five members serve terms of five convention years. A convention year begins after the close of one convention and continues through the close of the next; it is named for the convention that concludes the year. Listed here are the discussion group executive committees for the 2014 convention year (7 Jan. 2013 through 12 Jan. 2014). The date that follows the name of each executive committee member designates the final convention year of the committee member’s term and, thus, the final January convention that falls within his or her term of service. The listings below indicate which committee members are currently serving as chair and secretary. Normally, this year's secretary becomes next year's chair.


<b>Age Studies</b> (G049)
Leni Marshall, Jan. 2014
Michelle A. Massé, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
E. Ann Kaplan, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Devoney Looser, Jan. 2017
Elizabeth L. Gregory, Jan. 2018

<b>Anglo-Irish Literature</b> (G001)
Susan Cannon Harris, Jan. 2014
Julia M. Wright, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Gregory J. Dobbins, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Laura B. O’Connor, Jan. 2017
Sean D. Moore, Jan. 2018

<b>Arthurian Literature</b> (G003)
Randy P. Schiff, Jan. 2014 (2013&ndash;Jan. 2014 Ch.)
Alex Mueller, Jan. 2015 (2013&ndash;Jan. 2014 Sec.)
Ann Marie Rasmussen, Jan. 2016
Sahar Amer, Jan. 2017
Bonnie Wheeler, Jan. 2018

<b>Bibliography and Textual Studies</b> (G004)
Alan Galey, Jan. 2014
Matt Cohen, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
[position unfilled on 2013&ndash;Jan. 2014 committee]
Phillip Round, Jan. 2017
Sigrid Anderson Cordell, Jan. 2018 (2013&ndash;Jan. 2014 Sec.)

<b>Canadian Literature in English</b> (G005)
Sophie McCall, Jan. 2014
Pauline Wakeham, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Jennifer Blair, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Jade R. Ferguson, Jan. 2017
Larissa Lai, Jan. 2018

<b>Catalan Language and Literature</b> (G006)
Javier Krauel, Jan. 2014
Montserrat Piera, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
María-Luisa Guardiola, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Teresa M. Vilarós, Jan. 2017
Anton Pujol, Jan. 2018

<b>Celtic Languages and Literatures</b> (G007)
Tara MacLeod, Jan. 2014
Charlene M. Eska, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Lahney Preston-Matto, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Matthieu Boyd, Jan. 2017
Jimmy P. Miller, Jan. 2018

<b>Classical Studies and Modern Literature</b> (G008)
Yopie Prins, Jan. 2014 (2013&ndash;Jan. 2014 Ch.)
William Germano, Jan. 2015 
Stathis Gourgouris, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Heath Hutto, Jan. 2017
Andrew C. Parker, Jan. 2018

<b>Comics and Graphic Narratives</b> (G050)
Charles Hatfield, Jan. 2014
Hillary L. Chute, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Joseph Witek, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Martha B. Kuhlman, Jan. 2017
Nhora Lucia Serrano, Jan. 2018

<b>Comparative Romance Linguistics</b> (G010)
Andrei Barashkov, Jan. 2014
Andre Zampaulo, Jan. 2015 (2013&ndash;Jan. 2014 Sec.)
Andrea Perez Mukdsi, Jan. 2016 (2013&ndash;Jan. 2014 Ch.)
Francisco Martinez-Ibarra, Jan. 2017
M. Emma Ticio Quesada, Jan. 2018

<b>Computer Studies in Language and Literature</b> (G011)
Paul Fyfe, Jan. 2014
Amy Earhart, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Brad Pasanek, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
[position unfilled on 2013&ndash;Jan. 2014 committee]
Matthew K. Gold, Jan. 2018

<b>Cuban and Cuban Diaspora Cultural Production</b> (G031)
[position unfilled on 2013&ndash;Jan. 2014 committee]
Vicky Unruh, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Roberto-Ignacio Diaz, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
César Augusto Salgado, Jan. 2017
Jacqueline E. Loss, Jan. 2018

<b>Folklore and Literature</b> (G012)
Jacqueline M. Fulmer, Jan. 2014
Mark Allan Jackson, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Sharon Lynette Jones, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Cristina Bacchilega, Jan. 2017
Constance Bailey, Jan. 2018

<b>General Linguistics</b> (G013)
Bryan Kirschen, Jan. 2014
[position unfilled on 2013&ndash;Jan. 2014 committee]
Terrence Potter, Jan. 2016 (2013&ndash;Jan. 2014 Sec. and Acting Ch.)
Carolina Gonzalez, Jan. 2017
Covadonga Lamar Prieto, Jan. 2018

<b>Germanic Philology</b> (G014)
Ilona Vandergriff, Jan. 2014
[position unfilled on 2013&ndash;Jan. 2014 committee]
Stephen Mark Carey, Jan. 2016 (2013&ndash;Jan. 2014 Ch.)
Andrew Kraiss, Jan. 2017 (2013&ndash;Jan. 2014 Sec.)
Craig Callender, Jan. 2018

<b>Hebrew Literature</b> (G015)
Stacy N. Beckwith, Jan. 2014
Rachel S. Harris, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
[position unfilled on 2013&ndash;Jan. 2014 committee]
Na’ama Rokem, Jan. 2017 (2013&ndash;Jan. 2014 Sec.)
Allison Schachter, Jan. 2018

<b>Hungarian Literature</b> (G016)
Ildiko Olasz, Jan. 2014
Adriana Varga, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Eva Livia Corredor, Jan. 2016
Zoltán Márkus, Jan. 2017 (2013&ndash;Jan. 2014 Sec.)
Zsuzsanna Varga, Jan. 2018

<b>Interdisciplinary Approaches to Culture and Society</b> (G017)
Sophia A. McClennen, Jan. 2014
Shirin E. Edwin, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Subramanian Shankar, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
[position unfilled on 2013&ndash;Jan. 2014 committee]
Andrea Sabine Bachner, Jan. 2018

<b>Italian American Literature</b> (G018)
Tom Cerasulo, Jan. 2014
Jim Cocola, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Kathleen A. McCormick, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Carla Simonini, Jan. 2017
Mark Cirino, Jan. 2018

<b>Jewish American Literature</b> (G019)
Laurence D. Roth, Jan. 2014 (2013&ndash;Jan. 2014 Ch.)
Aimee Lynn Pozorski, Jan. 2015 (2013&ndash;Jan. 2014 Sec.)
Sandor Goodhart, Jan. 2016 
Jennifer Glaser, Jan. 2017
Victoria Aarons, Jan. 2018

<b>Jewish Cultural Studies</b> (G020)
Elizabeth Loentz, Jan. 2014
Garrett Eisler, Jan. 2015 (2013&ndash;Jan. 2014 Ch.) 
Benjamin Schreier, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Jonathan E. Freedman, Jan. 2017
Lisa Marcus, Jan. 2018

<b>Law as Literature</b> (G021)
Harry Keyishian, Jan. 2014
Jay Paul Gates, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Cheryl L. Suzack, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Peter Mallios, Jan. 2017
Imani Perry, Jan. 2018

<b>Lexicography</b> (G022)
Michael Hancher, Jan. 2014
Molly McQuade, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Lisa Berglund, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Meredith Martin, Jan. 2017
Robert DeMaria, Jan. 2018

<b>Libraries and Research in Languages and Literatures</b> (G051)
David Oberhelman, Jan. 2014
Dawn Childress, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
William Thompson, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Patricia M. Hswe, Jan. 2017
Tanya E. Clement, Jan. 2018

<b>Literature of the United States in Languages Other Than English</b> (G023)
[position unfilled on 2013&ndash;Jan. 2014 committee]
Montse Feu, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Gabriela Baeza Ventura, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Ricardo Vivancos-Perez, Jan. 2017
Stephanie A. Fetta, Jan. 2018

<b>Lusophone Literatures and Cultures outside Portugal and Brazil</b> (G024)
Bonnie S. Wasserman, Jan. 2014
Ana Paula Ferreira, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Nicola Cooney, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Rebecca J. Atencio, Jan. 2017
Niyi Afolabi, Jan. 2018

<b>Media and Literature</b> (G025)
Jessica Pressman, Jan. 2014
Jeremy Douglass, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Jason Camlot, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Marcy J. Dinius, Jan. 2017
Elizabeth Swanstrom, Jan. 2018

<b>Mexican Cultural and Literary Studies</b> (G026)
Cristine Soliz, Jan. 2014
Ignacio Sanchez-Prado, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Juan Carlos Ramírez-Pimienta, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Beth Ellen Jörgensen, Jan. 2017
Ignacio Corona, Jan. 2018

<b>Netherlandic Language and Literature</b> (G027)
Thomas F. Shannon, Jan. 2014
Wijnie de Groot, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Jolanda Vanderwal Taylor, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Ulrich Tiedau, Jan. 2017
Samuel Mareel, Jan. 2018

<b>Old Norse Language and Literature</b> (G028)
Richard L. Harris, Jan. 2014
[position unfilled on 2013&ndash;Jan. 2014 committee]
Eric Bryan, Jan. 2016 (2013&ndash;Jan. 2014 Sec. and Acting Ch.)
Kevin Wanner, Jan. 2017
Stephen J. Harris, Jan. 2018

<b>Opera as a Literary and Dramatic Form</b> (G029)
[position unfilled on 2013&ndash;Jan. 2014 committee]
Marshall J. Brown, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Joy Calico, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Ralph Hexter, Jan. 2017
Matthew W. Smith, Jan. 2018

<b>Part-Time Faculty Members</b> (G030)
Sue Rowe Doe, Jan. 2014
Mahli Xuan Mechenbier, Jan. 2015 (2013&ndash;Jan. 2014 Sec.)
Margaret Hanzimanolis, Jan. 2016 (2013&ndash;Jan. 2014 Ch.)
Maria Maisto, Jan. 2017
[position unfilled on 2013&ndash;Jan. 2014 committee]

<b>Present-Day English Language</b> (G032)
[position unfilled on 2013&ndash;Jan. 2014 committee]
Elizabeth Bell Canon, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Jennifer M. Santos, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Lynn Houston, Jan. 2017
Nils Olov Fors, Jan. 2018

<b>Provençal Language and Literature</b> (G033)
Marisa Galvez, Jan. 2014
Eliza Zingesser, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Michelle K. Bolduc, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Sarah-Grace Heller, Jan. 2017
Courtney Wells, Jan. 2018

<b>Puerto Rican Literature and Culture</b> (G034)
Tomás Urayoán Noel, Jan. 2014
Jason Cortes, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Margarita Pintado, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Radost Rangelova, Jan. 2017
Liana Silva-Ford, Jan. 2018

<b>Romance Literary Relations</b> (G035)
Lynn Ramey, Jan. 2014
Gerard Aching, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Guillermina De Ferrari, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Josiah Blackmore, Jan. 2017
Anna Botta, Jan. 2018

<b>Romanian Studies</b> (G036)
Valentina N. Glajar, Jan. 2014
Maria-Sabina Draga Alexandru, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Monica Filimon, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Lenuta Giukin, Jan. 2017
Domnica Radulescu, Jan. 2018

<b>Scandinavian Languages and Literatures</b> (G037)
Ursula Lindqvist, Jan. 2014
Leonardo Lisi, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Anne-Marie Andreasson-Hogg, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Julie K. Allen, Jan. 2017
Kjerstin Marie Moody, Jan. 2018

<b>Science Fiction and Utopian and Fantastic Literature</b> (G038)
Peter Yoonsuk Paik, Jan. 2014
Rebekah Sheldon, Jan. 2015  (2013&ndash;Jan. 2014 Ch.)
[position unfilled on 2013&ndash;Jan. 2014 committee]
Eric Aronoff, Jan. 2017 (2013&ndash;Jan. 2014 Sec.)
Tyler Curtain, Jan. 2018

<b>Scottish Literature</b> (G039)
Caroline McCracken-Flesher, Jan. 2014
Matthew F. Wickman, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Susan Oliver, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Evan M. Gottlieb, Jan. 2017
Corey Edward Andrews, Jan. 2018

<b>Sephardic Studies</b> (G040)
Johann Sadock, Jan. 2014
Bonnie S. Wasserman, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Bryan Kirschen, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Jane Mushabac, Jan. 2017
Adolfo Campoy-Cubillo, Jan. 2018

<b>Slavic Literatures and Cultures</b> (G041)
Jonathan Brooks Platt, Jan. 2014
David L. Cooper, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Justin Weir, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Jonathan Stone, Jan. 2017
Julia Vaingurt, Jan. 2018

<b>South Asian Languages and Literatures</b> (G042)
Nyla Ali Khan, Jan. 2014
Indrani Mitra, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Masood Raja, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Chandrima Chakraborty, Jan. 2017
Rajender Kaur, Jan. 2018

<b>Southern Literature</b> (G043)
Lisa A. Hinrichsen, Jan. 2014 
Coleman Hutchison, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Katherine Renee Henninger, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Rebecca Mark, Jan. 2017
Ted B. Atkinson, Jan. 2018

<b>Translation</b> (G044)
Christi Merrill, Jan. 2014
Michael Emmerich, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Sergio Waisman, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Antony James Hasler, Jan. 2017
Giada Biasetti, Jan. 2018

<b>Travel Literature</b> (G045)
Stacy Burton, Jan. 2014
Jeanne Dubino, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Gaurav G. Desai, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Katarina Gephardt, Jan. 2017
Ali Behdad, Jan. 2018

<b>The Two-Year College</b> (G046)
Elizabeth M. Schwartz, Jan. 2014
[position unfilled on 2013&ndash;Jan. 2014 committee]
Falk Cammin, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Richard E. Hishmeh, Jan. 2017
Stacey Lee Donohue, Jan. 2018 (2013&ndash;Jan. 2014 Ch.)

<b>West Asian Languages and Literatures</b> (G047)
Hosam Mohamed Aboul-Ela, Jan. 2014
Stephen Sheehi, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Michelle Hartman, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Michael Beard, Jan. 2017
Amy Motlagh, Jan. 2018

<b>Yiddish Literature</b> (G048)
[position unfilled on 2013&ndash;Jan. 2014 committee]
Kathryn Ann Hellerstein, Jan. 2015 (2013&ndash;Jan. 2014 Ch.)
Jerold C. Frakes, Jan. 2016 (2013&ndash;Jan. 2014 Sec.)
Merle Lyn Bachman, Jan. 2017
Allison Schachter, Jan. 2018
