<h1>Evaluating Digital Work for Tenure and Promotion: 
A Workshop for Evaluators and Candidates</h1>
This page provides resources for the MLA convention session "Evaluating Digital Work for Tenure and Promotion: A Workshop for Evaluators and Candidates," sponsored by the MLA Ad Hoc Committee on the Structure of the Annual Convention in conjunction with the MLA Committee on Information Technology.  The first of these workshops was offered at the 2008 MLA convention.  The workshop was offered again at the 2009 convention in Philadelphia; presiding were be Jeffrey A. Schneider, Vassar College, and Susan Schreibman, Digital Humanities Observatory, Royal Irish Academy.

This three-hour workshop offered facilitated discussion of a variety of types of work in digital media (e.g., thematic research collections, research tools, instructional technology, etc.) and identification of effective strategies for documenting, presenting, and evaluating such work.  The workshop was limited to thirty participants and addressed the concerns of both members of review committees and candidates coming up for review.  

<b>Links to pertinent materials:</b>
<h2>Policy Statements, MLA and Other Associations</h2>
Modern Language Association, Committee on Information Technology. "Guidelines for Evaluating Work with Digital Media in the Modern Languages." <a href="http://www.mla.org/resources/documents/rep_it/guidelines_evaluation_digital" target="_blank">http://www.mla.org/resources/documents/rep_it/guidelines_evaluation_digital</a> 

-----.  "Guidelines for Institutional Support of and Access to IT for Faculty Members and Students." <a href="http://www.mla.org/resources/documents/rep_it/it_support" target="_blank">http://www.mla.org/resources/documents/rep_it/it_support</a> 

-----.  "Statement on Publication in Electronic Journals." <a href="http://www.mla.org/resources/documents/rep_it/statement_on_publica" target="_blank">http://www.mla.org/resources/documents/rep_it/statement_on_publica</a> 

Modern Language Association, Committee on Scholarly Editions.
"Guidelines for Editors of Scholarly Editions."
<a href="http://www.mla.org/cse_guidelines" target="_blank">http://www.mla.org/cse_guidelines</a>

American Association for History and Computing.  "Guidelines for Evaluating Digital Media Activities in Tenure, Review, and Promotion." <a href="http://www.theaahc.org/tenure_guidelines.htm" target="_blank">http://www.theaahc.org/tenure_guidelines.htm</a> 

EUROCALL, CALICO, IALL.  "EUROCALL Research Policy Statement."  <a href="http://www.eurocall-languages.org/research/research_policy.html" target="_blank">http://www.eurocall-languages.org/research/research_policy.html</a>  (see also <a href="http://www.philosophi.ca/pmwiki.php/Main/DemonstratingTheScholarshipOfPedagogy" target="_blank">http://www.philosophi.ca/pmwiki.php/Main/DemonstratingTheScholarshipOfPedagogy</a>) 

University of California Language Consortium. "Considerations for Evaluation of Applied Linguists in Language, Literature, and Culture Departments."  <a href="http://uccllt.ucdavis.edu/white-papers/index.php" target="_blank">http://uccllt.ucdavis.edu/white-papers/index.php</a> 

<h2>Institutional Policy Statements</h2>
Mount Holyoke College.  "Guidelines for Evaluating Faculty Research, teaching and Community Service in the Digital Age." <a href="http://www.mtholyoke.edu/committees/facappoint/guidelines.shtml" target="_blank">http://www.mtholyoke.edu/committees/facappoint/guidelines.shtml</a> 

University of Victoria.  "Faculty of Humanities, Faculty Evaluation Policy."
<a href="http://web.uvic.ca/humanities/faculty/documents/meet_docs/evaluation.htm" target="_blank">http://web.uvic.ca/humanities/faculty/documents/meet_docs/evaluation.htm</a>

-----.  "Guidelines for the Evaluation of Scholarship."
<a href="http://english.uvic.ca/documents/scholeval-1.16.09.pdf" target="_blank">http://english.uvic.ca/documents/scholeval-1.16.09.pdf</a>

-----.  "Report On Academic Computing Recognition."  <a href="http://internetshakespeare.uvic.ca/Foyer/CompRecog.html" target="_blank">http://internetshakespeare.uvic.ca/Foyer/CompRecog.html</a> 

University of Virginia.  "Evaluating Digital Scholarship, Promotion & Tenure Cases." <a href="http://artsandsciences.virginia.edu/dean/facultyemployment/evaluating_digital_scholarship.html" target="_blank">http://artsandsciences.virginia.edu/dean/facultyemployment/evaluating_digital_scholarship.html</a> 

<h2>MLA Wiki on the Evaluation of Digital Work</h2> 
"Types of Digital Work." <a href="http://wiki.mla.org/index.php/Types_of_Digital_Work">http://wiki.mla.org/index.php/Types_of_Digital_Work</a> 

"Short Guide to Evaluation of Digital Work." <a href="http://wiki.mla.org/index.php/Short_Guide_to_Evaluation_of_Digital_Work">http://wiki.mla.org/index.php/Short_Guide_to_Evaluation_of_Digital_Work</a>

"Frequently Asked Questions."  <a href="http://wiki.mla.org/index.php/Frequently_Asked_Questions">http://wiki.mla.org/index.php/Frequently_Asked_Questions</a> 
