<H1>Disability and Hiring: Guidelines for Departmental Search Committees</H1>
The diverse, talented, and well-qualified group of job seekers includes some candidates with disabilities.  Disabled people are still significantly underrepresented in higher education.  Disability is a positive value that can add to intellectual and cultural diversity on campus.  Further, disabled faculty members provide valuable role models for students.  
<BR><BR>
You may find the following guidelines helpful when you are filling positions in your department.<BR><BR>
<table width="95%" border="0" align="top"><tr align="left" valign="top"><td width="6%">1.</td><td width="94%">Construct job advertisements that actively welcome applications from all candidates, including candidates with disabilities.<BR><BR></td></tr>

<tr align="left" valign="top"> 
<td width="6%">2.</td>
<td width="94%">Treat all job candidates with dignity and respect.</td></tr>
<tr align="left" valign="top"> 
<td width="6%">&nbsp;</td>
<td width="94%"><ul><li>Disability includes a wide range of people: wheelchair users, deaf people, blind people, and many others, such as people with HIV/AIDS, cancer, depression, diabetes, and chronic pain.</li>
	<li>Keep in mind that many disabilities are not visible.</li></ul></td></tr>
<tr align="left" valign="top"> 
<td width="6%">3.</td>
<td width="94%">Affirm that faculty members should be protected from discrimination and are entitled to reasonable accommodation in places of employment.</td></tr>
<tr align="left" valign="top"> 
<td width="6%">&nbsp;</td>
<td width="94%"><ul><li>You should familiarize yourself with the Americans with Disabilities Act (ADA) and the Canadian Charter of Rights and Freedoms (see Appendix).</li>
	<li>You should not make any preemployment inquiries about a disability or the nature or severity of a disability.  Without referring to disability in particular, you may ask questions about a candidate's approach to performing specific job functions (see guideline 7).</li></ul></td></tr>
<tr align="left" valign="top"> 
<td width="6%">4.</td>
<td width="94%">Address requests for sign language interpreters or other accommodations for the interview.  Many accommodations are inexpensive and easy to provide; many are free.</td></tr>
<tr align="left" valign="top"> 
<td width="6%">&nbsp;</td>
<td width="94%"><ul><li>Interviews should be conducted in accessible space.</li>
	<li>For interviews that occur at the MLA Job Information Center, the MLA will provide interpreters or other accommodations.  To make a request for access, the candidate should contact the MLA  convention office (<a href="mailto:kbagnall@mla.org">kbagnall@mla.org</a>). </li>
	<li>For interviews away from the conference site—this includes hotel rooms or suites at the convention—or on your campus, your school is encouraged to provide interpreters or other accommodations.  Procedures vary by school; ideally the costs and arrangements will be handled by an official outside your department.  Some of the units and individuals that might be involved in this conversation include your institution's ADA Compliance Officer, Equal Employment Opportunity Officer, Human Resources Officer, or disability services office.</li></ul></td></tr>
<tr align="left" valign="top"> 
<td width="6%">5.</td>
<td width="94%">All candidates should be provided beforehand the names of all the people who will be present at the interview.<BR><BR></td></tr>

<tr align="left" valign="top"> 
<td width="6%">6.</td>
<td width="94%">At the interview, strive to make the candidate feel welcome.</td></tr>
<tr align="left" valign="top"> 
<td width="6%">&nbsp;</td>
<td width="94%"><ul><li>Establish a collegial atmosphere by introducing interviewers to the candidate and to any support personnel (sign language interpreters or personal assistants).  For interviews at the convention, wear your MLA badge.</li>
	<li>Offer to shake hands.  Shaking with the left hand is okay.  For those who may prefer not to shake hands, a welcoming touch on the shoulder or elbow is acceptable.</li>
	<li>Give the candidate a few moments to determine a comfortable setup.  A visually impaired person may appreciate a verbal description of the layout, including where people are sitting in relation to the candidate.  A wheelchair user may want to transfer to a chair.</li>
	<li>If a candidate has a sign language interpreter, he or she will want the interpreter to be clearly visible and positioned near the interviewer.</li>
	<li>Address the candidate directly, even if sign language interpreters or personal assistants are present.</li>
	<li>If the candidate has trouble understanding you, enunciate clearly, but do not shout.</li>
	<li>If the candidate uses a wheelchair, do not lean on the wheelchair when talking to her or him.  The wheelchair is part of the candidate's personal space.</li>
	<li>If the candidate has a service animal, do not touch the animal or make noises to it without permission. </li>
	<li>It is fine to offer assistance, but be prepared to have that offer declined.</li></ul></td></tr>
<tr align="left" valign="top"> 
<td width="6%">7.</td>
<td width="94%">When conducting the interview:</td></tr>
<tr align="left" valign="top"> 
<td width="6%">&nbsp;</td>
<td width="94%"><ul><li>Follow the same basic format with all candidates, recognizing that some candidates may require additional time.</li>
	<li>Encourage candidates to demonstrate their expertise, achievements, and individuality.</li>
	<li>Identify yourself when speaking.  This is particularly helpful for candidates with visual impairments.</li>
	<li>Communication styles may differ.  For example, candidates with speech impairments should be given time to complete their thoughts.</li>
	<li>It is illegal to ask about the nature or severity of a candidate's disability or the accommodations he or she would require in the workplace.  Some candidates may make the choice to discuss their disability status. The negotiation of specific workplace accommodations is not part of a job interview.</li>
	<li>All job candidates should be given an opportunity to discuss their pedagogical and research strategies.</li></ul></td></tr>
<tr align="left" valign="top"> 
<td width="6%">8.</td>
<td width="94%">When organizing itineraries of campus visits:</td></tr>
<tr align="left" valign="top"> 
<td width="6%">&nbsp;</td>
<td width="94%"><ul><li>All candidates appreciate campus visits being designed humanely.</li>
	<li>Take into account the rigors of travel.</li>
	<li>Plan the schedule with adequate time for breaks and a good night's rest.</li>
	<li>Keep in mind that some people have difficulty walking up steep hills or over long distances.  Plan transportation options accordingly. </li>
	<li>If you entertain the candidate off-campus, be sure that restaurants and their bathrooms are accessible.</li></ul></td></tr>
<tr align="left" valign="top"> 
<td width="6%">9.</td>
<td width="94%">When scheduling interviews on-campus: </td></tr>
<tr align="left" valign="top"> 
<td width="6%">&nbsp;</td>
<td width="94%"><ul><li>Know the location of the following: disabled parking spaces; ramps and other accessible entrances; accessible restrooms, water fountains, and telephones; elevators. Ensure that the interview rooms are accessible.  It is important for wheelchair users to be able to get into the room and to be able to move around.</li>
	<li>If the candidate is to teach a class, make sure such features of the classroom as its technology, platforms, blackboards, and lecture podiums are accessible.  Some candidates sit while teaching or lecturing.</li></ul></td></tr>
<tr align="left" valign="top"> 
<td width="6%">10.</td>
<td width="94%">Advocacy </td></tr>
<tr align="left" valign="top"> 
<td width="6%">&nbsp;</td>
<td width="94%"><ul><li>Many schools are centralizing disability services; consider suggesting this to your provost in the interest of creating a more welcoming and just academic community. Provide information on disability resources for faculty members.</li></ul></td></tr></table>
<BR><BR>
<i>Prepared by the MLA Committee on Disability Issues in the Profession,
September 2006</i>
<BR><BR>
<h2>APPENDIX</h2>
[Note: The complete text of the Americans with Disabilities Act can be found at <a href="http://www.ada.gov/pubs/ada.htm" target="_blank">http://www.ada.gov/pubs/ada</a>. The URL for the Canadian Charter of Rights and Freedoms is <a href="http://laws.justice.gc.ca/en/Charter/index.html" target="_blank">http://laws.justice.gc.ca/en/Charter/index.html</a>.]
<BR><BR>
<i>The opening of the Americans with Disabilities Act states that the findings that led to the document are as follows:</i>
<BR><BR>
(1) some 43,000,000 Americans have one or more physical or mental disabilities, and this number is increasing as the population as a whole is growing older;
<BR><BR>
(2) historically, society has tended to isolate and segregate individuals with disabilities, and, despite some improvements, such forms of discrimination against individuals with disabilities continue to be a serious and pervasive social problem;
<BR><BR>
(3) discrimination against individuals with disabilities persists in such critical areas as employment, housing, public accommodations, education, transportation, communication, recreation, institutionalization, health services, voting, and access to public services;
<BR><BR>
(4) unlike individuals who have experienced discrimination on the basis of race, color, sex, national origin, religion, or age, individuals who have experienced discrimination on the basis of disability have often had no legal recourse to redress such discrimination;
<BR><BR>
(5) individuals with disabilities continually encounter various forms of discrimination, including outright intentional exclusion, the discriminatory effects of architectural, transportation, and communication barriers, overprotective rules and policies, failure to make modifications to existing facilities and practices, exclusionary qualification standards and criteria, segregation, and relegation to lesser services, programs, activities, benefits, jobs, or other opportunities;
<BR><BR>
(6) census data, national polls, and other studies have documented that people with disabilities, as a group, occupy an inferior status in our society, and are severely disadvantaged socially, vocationally, economically, and educationally;
<BR><BR>
(7) individuals with disabilities are a discrete and insular minority who have been faced with restrictions and limitations, subjected to a history of purposeful unequal treatment, and relegated to a position of political powerlessness in our society, based on characteristics that are beyond the control of such individuals and resulting from stereotypic assumptions not truly indicative of the individual ability of such individuals to participate in, and contribute to, society;
<BR><BR>
(8) the Nation's proper goals regarding individuals with disabilities are to assure equality of opportunity, full participation, independent living, and economic self-sufficiency for such individuals; and
<BR><BR>
(9) the continuing existence of unfair and unnecessary discrimination and prejudice denies people with disabilities the opportunity to compete on an equal basis and to pursue those opportunities for which our free society is justifiably famous, and costs the United States billions of dollars in unnecessary expenses resulting from dependency and nonproductivity.
<BR><BR>
<i>The purpose of the ADA is as follows:</i>
<BR><BR>
(1) to provide a clear and comprehensive national mandate for the elimination of discrimination against individuals with disabilities;
<BR><BR>
(2) to provide clear, strong, consistent, enforceable standards addressing discrimination against individuals with disabilities;
<BR><BR>
(3) to ensure that the Federal Government plays a central role in enforcing the standards established in this chapter on behalf of individuals with disabilities; and
<BR><BR>
(4) to invoke the sweep of congressional authority, including the power to enforce the fourteenth amendment and to regulate commerce, in order to address the major areas of discrimination faced day-to-day by people with disabilities.
<BR><BR>
<i>The Canadian Charter of Rights and Freedoms, Section 15, states:</i>
<BR><BR>
(1) Every individual is equal before and under the law and has the right to the equal protection and equal benefit of the law without discrimination and, in particular, without discrimination based on race, national or ethnic origin, colour, religion, sex, age or mental or physical disability.
<BR><BR>
(2) Subsection (1) does not preclude any law, program or activity that has as its object the amelioration of conditions of disadvantaged individuals or groups including those that are disadvantaged because of race, national or ethnic origin, colour, religion, sex, age or mental or physical disability.
