<h1>Sessions, Discussion Groups, and Speakers</h1>

<h2>Plenary Sessions and Discussion Group Topics</h2>
Defining Disability
What Disability Studies Teaches Us about Learning
Accessible Knowledge
Disability Studies Programs
The Inclusive University
Disability Studies and the Humanities
Developing Disability Studies Programs and Minors
Disability and Life Writing
Historicizing Disability
Disability and the Arts
Disability across the Curriculum
Curriculum Workshop
Disability Identity
Coming Out in the Classroom

<h2>Speakers</h2>
Douglas Baynton
Michael B&eacute;rub&eacute;
Brenda Brueggemann
G. Thomas Couser
Michael Davidson
Lennard Davis
Nancy Eiesland
James V. Ferris
Anne Finger
Rosemarie Garland-Thomson
Sander Gilman 
I. King Jordan 
Georgina Kleege
Christopher Krentz
Catherine J. Kudlick
Cindy LaCom
Simi Linton
Paul Longmore 
Harriet McBryde Johnson
Robert McRuer
David Mitchell
Wendy Newby
Katherine Ott
Carol Padden
Diane Price Herndl 
Carrie Sandahl
Susan Schweik
Tobin Siebers
Sharon Snyder
