<h1>Disability Studies Sessions and Papers at the 2013 MLA Convention</h1>
<h1></h1>

This list, which includes sessions that may be of interest to disability studies scholars, was compiled by Rebecca Sanchez on behalf of the Committee on Disability Issues in the Profession.  

<h2>Thursday, 3 January</h2>
<h3>SESSIONS</h3>
<ul class="program_entry_list">
<li class="program_entry"><a href="/program_details?prog_id=64&year=2013">64. Global Health and World Literature</a><br /><i>1:45–3:00 p.m., 313, Hynes</i></li>
<li class="program_entry"><a href="/program_details?prog_id=74&year=2013">74. Interiorities of Disability</a><br /><i>1:45–3:00 p.m., Hampton, Sheraton</i></li>
<li class="program_entry"><a href="/program_details?prog_id=138&year=2013">138. Madness in Black Women's Diasporic Novels and the Aesthetics of Resistance</a><br /><i>5:15–6:30 p.m., 313, Hynes</i></li>
<li class="program_entry"><a href="/program_details?prog_id=139&year=2013">139. On Cognitive Approaches to Literature, Disability Studies, and Being Wrong</a><br /><i>5:15–6:30 p.m., Fairfax A, Sheraton</i></li>
<li class="program_entry"><a href="/program_details?prog_id=140&year=2013">140. Illness and Disability in Asian American Literature</a><br /><i>5:15–6:30 p.m., Hampton, Sheraton</i></li>
<h3>INDIVIDUAL PAPER</h3>
<li class="program_entry"><a href="/program_details?prog_id=145&year=2013">145. Memory and Modes of Knowledge in Old Norse–Icelandic</a><br /><i>5:15–6:30 p.m., 203, Hynes</i>
<p>1. "'. . . Við It Fyrsta Hǫgg': Some Thoughts on the Episode of Ámundi the Blind in <i>Brennu-Njáls Saga</i>," Richard L. Harris, Univ. of Saskatchewan</p></li>

<h2>Friday, 4 January</h2>
<h3>SESSIONS</h3>
<li class="program_entry"><a href="/program_details?prog_id=192&year=2013">192. Purges, Plagues, and Body Snatchers: Religion and Medicine in Colonial and Early National America</a><br /><i>8:30–9:45 a.m., Back Bay B, Sheraton</i></li>
<li class="program_entry"><a href="/program_details?prog_id=210&year=2013">210. Disability Studies in the Italian Context</a><br /><i>8:30–9:45 a.m., 205, Hynes</i></li>
<li class="program_entry"><a href="/program_details?prog_id=236&year=2013">236. Representations of Cultural Resistance: Deafness and Power</a><br /><i>10:15–11:30 a.m., Hampton, Sheraton</i></li>
<li class="program_entry"><a href="/program_details?prog_id=250&year=2013">250. "A Little World Made Cunningly": Generative Bodies and Early Modern Natural Philosophy</a><br /><i>10:15–11:30 a.m., Jefferson, Sheraton</i></li>
<li class="program_entry"><a href="/program_details?prog_id=268&year=2013">268. Disability Discourses: Bodily Selves and the Embodiment of Deviance</a><br /><i>12:00 noon–1:15 p.m., Hampton, Sheraton</i></li>
<li class="program_entry"><a href="/program_details?prog_id=273&year=2013">273. The Past, Present, and Future of Cognitive Literary Studies</a><br /><i>12:00 noon–1:15 p.m., Liberty C, Sheraton</i></li>
<li class="program_entry"><a href="/program_details?prog_id=306&year=2013">306. Disability Studies, the MLA, and the AAUP Report "Accommodating Faculty Members Who Have Disabilities"</a><br /><i>1:45–3:00 p.m., Hampton, Sheraton</i></li>
<li class="program_entry"><a href="/program_details?prog_id=340&year=2013">340. Flying Words Project: A Creative Conversation</a><br /><i>3:30–4:45 p.m., Back Bay B, Sheraton</i></li>
<li class="program_entry"><a href="/program_details?prog_id=367&year=2013">367. The Other Side of Psychoanalysis</a><br /><i>3:30–4:45 p.m., Beacon E, Sheraton</i></li>
<li class="program_entry"><a href="/program_details?prog_id=382&year=2013">382. Enabling Access: Gower and Premodern Disability Studies</a><br /><i>5:15–6:30 p.m., Hampton, Sheraton</i></li>
<h3>INDIVIDUAL PAPER</h3>
<li class="program_entry"><a href="/program_details?prog_id=401&year=2013">401. Digital Archives and Their Margins</a><br /><i>5:15–6:30 p.m., Berkeley, Sheraton</i>
<p>3. "Universal Design and Disability in the Digital Archive," Karen Bourrier, Univ. of Western Ontario</p></li>

<h2>Saturday, 5 January</h2>
<h3>SESSIONS</h3>
<li class="program_entry"><a href="/program_details?prog_id=441&year=2013">441. Disability in Jane Eyre: The Madwoman and the Blindman</a><br /><i>8:30–9:45 a.m., Hampton, Sheraton</i></li>
<li class="program_entry"><a href="/program_details?prog_id=483&year=2013">483. Disability Studies Methodologies</a><br /><i>10:15–11:30 a.m., Hampton, Sheraton</i></li>
<li class="program_entry"><a href="/program_details?prog_id=510&year=2013">510. Disabled Bodies and African American Literature, 1859–1946</a><br /><i>12:00 noon–1:15 p.m., Hampton, Sheraton</i></li>
<li class="program_entry"><a href="/program_details?prog_id=570&year=2013">570. Avenues of Access: The State of Disability Studies</a><br /><i>1:45–3:00 p.m., Republic Ballroom, Sheraton</i></li>
<li class="program_entry"><a href="/program_details?prog_id=583&year=2013">583. Intellectual and Cognitive Disability Studies</a><br /><i>3:30–4:45 p.m., Beacon F, Sheraton</i></li>
<li class="program_entry"><a href="/program_details?prog_id=607&year=2013">607. The European Network of Aging Studies: Open Access and Communication Supporting Scholarship</a><br /><i>3:30–4:45 p.m., Liberty A, Sheraton</i></li>
<li class="program_entry"><a href="/program_details?prog_id=631&year=2013">631. Literary Theory and American Sign Language Literature</a><br /><i>5:15–6:30 p.m., Hampton, Sheraton</i></li>
<h3>INDIVIDUAL PAPERS</h3>
<li class="program_entry"><a href="/program_details?prog_id=604&year=2013">604. Natural and Moral Chaos in Colonial Latin America</a><br /><i>3:30–4:45 p.m., 301, Hynes</i>
<p>4. "Peralta Barnuevo's <i>Desvíos de la naturaleza</i>: Monstrous Births and Natural Catastrophes in Vice-Royal Peru," Victor Manuel Pueyo Zoco, Temple Univ., Philadelphia
</p></li>
<li class="program_entry"><a href="/program_details?prog_id=629&year=2013">629. Nature, Culture, and Gender in Hawthorne's Work</a><br /><i>5:15–6:30 p.m., Back Bay A, Sheraton</i>
<p>2. "Sick Buildings and Unhealthy Interiors: <i>The House of the Seven Gables</i> and the Medicalization of Architecture in Mid-Century America," Maura D'Amore, Saint Michael's Coll.</p></li>

<h2>Sunday, 6 January</h2>
<h3>SESSIONS</h3>
<li class="program_entry"><a href="/program_details?prog_id=696&year=2013">696. Disability and the Coloniality of Power</a><br /><i>10:15–11:30 a.m., Hampton, Sheraton</i></li>
<li class="program_entry"><a href="/program_details?prog_id=731&year=2013">731. What Is Post-AIDS Literature?</a><br /><i>12:00 noon–1:15 p.m., Back Bay A, Sheraton</i></li>
<li class="program_entry"><a href="/program_details?prog_id=732&year=2013">732. Race and Cultures of Mobility</a><br /><i>12:00 noon–1:15 p.m., Beacon H, Sheraton</i></li>
<li class="program_entry"><a href="/program_details?prog_id=746&year=2013">746. Finding a Nondystopian Future: A Literary and Scientific Exchange</a><br /><i>12:00 noon–1:15 p.m., Dalton, Sheraton</i></li>
<h3>INDIVIDUAL PAPER</h3>
<li class="program_entry"><a href="/program_details?prog_id=691&year=2013">691. Cognitive Neuroscience of Attention</a><br /><i>8:30–9:45 a.m., Liberty C, Sheraton</i>
<p>2. "Memory, Attention, and the Shape of a Sentence: Ethics and Aesthetics in ADHD (Attention Deficit/Hyperactivity Disorder) and Language Production," Suzanne Bailey, Trent Univ.</p></li>
