<h1>Discovery Services</h1>
The <i>MLA International Bibliography</i> is currently available on four discovery services platforms: EBSCO Discovery Service, Ex Libris Primo Central, OCLC WorldCat Local, and Serials Solutions Summon.

If you subscribe to the <i>MLA Bibliography</i> through one of our three vendors (EBSCO, Gale/Cengage, ProQuest) and also have one of the discovery services listed above, you can search the <i>MLA Bibliography</i> directly through the discovery service interface, regardless of which vendor you use.  Discovery services receive bibliography metadata directly from us and do not need to access any other vendor platform in your library's system. You do need to inform the discovery services provider that you are an <i>MLA Bibliography</i> customer and would like to include the database on their platform.

Access to vendor platforms from the discovery service interfaces can be tricky. 

If you are having difficulty using the <i>MLA Bibliography</i> through your discovery service, we will help you work with the discovery provider.  Please contact <a href="mailto:bchen@mla.org">Barbara Chen</a>.

If you are using a discovery service not listed above and would like to connect to the bibliography, please contact <a href="mailto:bchen@mla.org">Barbara Chen</a>.
