<h1>Discussion Groups</h1>
Those applying for membership will be asked which of the following MLA discussion groups they wish to join. The number at the end of each discussion group listing is an identifying number that is used to record discussion group registration in the member database.
<blockquote>
Age Studies (G049)
Anglo-Irish Literature (G001) 
Arthurian Literature (G003) 
Bibliography and Textual Studies (G004) 
Canadian Literature in English (G005) 
Catalan Language and Literature (G006) 
Celtic Languages and Literatures (G007) 
Classical Studies and Modern Literature (G008) 
Comics and Graphic Narratives (G050)
Comparative Romance Linguistics (G010) 
Computer Studies in Language and Literature (G011) 
Cuban and Cuban Diaspora Cultural Production (G031) 
Folklore and Literature (G012) 
General Linguistics (G013) 
Germanic Philology (G014) 
Hebrew Literature (G015) 
Hungarian Literature (G016) 
Interdisciplinary Approaches to Culture and Society (G017) 
Italian American Literature (G018) 
Jewish American Literature (G019) 
Jewish Cultural Studies (G020) 
Law as Literature (G021) 
Lexicography (G022) 
Libraries and Research in Languages and Literatures (G051)
Literature of the United States in Languages Other Than English (G023) 
Lusophone Literatures and Cultures outside Portugal and Brazil (G024) 
Media and Literature (G025) 
Mexican Cultural and Literary Studies (G026) 
Netherlandic Language and Literature (G027) 
Old Norse Language and Literature (G028) 
Opera as a Literary and Dramatic Form (G029)  
Part-Time Faculty Members (G030) 
Present-Day English Language (G032) 
Provençal Language and Literature (G033) 
Puerto Rican Literature and Culture (G034) 
Romance Literary Relations (G035) 
Romanian Studies (G036) 
Scandinavian Languages and Literatures (G037) 
Science Fiction and Utopian and Fantastic Literature (G038) 
Scottish Literature (G039) 
Sephardic Studies (G040) 
Slavic Literatures and Cultures (G041) 
South Asian Languages and Literatures (G042) 
Southern Literature (G043) 
Translation (G044) 
Travel Literature (G045) 
The Two-Year College (G046) 
West Asian Languages and Literatures (G047) 
Yiddish Literature (G048) </blockquote>
