<h1>Divisions</h1>
Those applying for membership will be asked which of the following MLA divisions they wish to join.  The number at the end of each division listing is an identifying number that is used to record division registration in the membership database.

<blockquote>
<b>American Literature</b>
American Literature to 1800 (D017)
19th-Century American Literature (D018)  
Late-19th- and Early-20th-Century American Literature  (D019) 
20th-Century American Literature (D020)  
Black American Literature and Culture (D076)  
American Indian Literatures (D080) 
Asian American Literature (D082) 
Chicana and Chicano Literature  (D084) 

<b>Comparative Studies</b>
Comparative Studies in Medieval Literature (D001)  
Comparative Studies in Renaissance and Baroque Literature (D002) 
Comparative Studies in Romanticism and the 19th Century (D003) 
Comparative Studies in 20th-Century Literature (D004) 
Comparative Studies in 18th-Century Literature (D005) 
European Literary Relations (including translation) (D034) 

<b>English Literature</b>
Old English Language and Literature (D021) 
Middle English Language and Literature, Excluding Chaucer (D022) 
Chaucer (D023) 
Literature of the English Renaissance, Excluding Shakespeare (D024)  
Shakespeare (D025)  
17th-Century English Literature (D026)  
Restoration and Early-18th-Century English Literature (D027)  
Late-18th-Century English Literature (D028)  
The English Romantic Period (D029)  
The Victorian Period (D030)  
Late-19th- and Early-20th-Century English Literature (D031)  
20th-Century English Literature (D032)  
English Literature Other Than British and American (D033)  

<b>French Literature </b>
French Medieval Language and Literature (D051) 
16th-Century French Literature (D052)  
17th-Century French Literature (D053)  
18th-Century French Literature (D054)  
19th-Century French Literature (D055)  
20th-Century French Literature (D056)  
Francophone Literatures and Cultures (D057)  

<b>Genre Studies</b>
Drama (history, criticism, & theory) (D008) 
Film (history, criticism, & theory) (D009) 
Nonﬁction Prose Studies, Excluding Biography and Autobiography (history, criticism, & theory) (D010) 
Poetry (history, criticism, & theory) (D011) 
Prose Fiction (history, criticism, & theory) (D012) 
Literary Criticism (history of criticism; theory of literature) (D014)  
Methods of Literary Research (D046)  
Autobiography, Biography, and Life Writing (D077)  

<b>German Literature</b> 
German Literature to 1700 (D058)  
18th- and Early-19th-Century German Literature (D059)  
19th- and Early-20th-Century German Literature (D060)  
20th-Century German Literature (D061)  

<b>Hispanic Literatures </b>
Latin American Literature from Independence to 1900 (D064)  
20th-Century Latin American Literature (D065)  
Medieval Hispanic Languages, Literatures, and Cultures (D067)
16th- and 17th-Century Spanish Poetry and Prose (D068) 
18th- and 19th-Century Spanish Literature (D069) 
20th-Century Spanish Literature (D070) 
16th- and 17th-Century Spanish Drama (D071) 
Luso-Brazilian Language and Literature (D073) 
Colonial Latin American Literatures (D078) 

<b>Interdisciplinary Approaches</b>
Women's Studies in Language and Literature (D006) 
Ethnic Studies in Language and Literature (D007) 
Popular Culture (D013) 
Anthropological Approaches to Literature (including myth, folklore, & ritual) (D035) 
Linguistic Approaches to Literature (D036) 
Philosophical Approaches to Literature (including history of ideas) (D037) 
Psychological Approaches to Literature (D038) 
Literature and Religion (D039) 
Sociological Approaches to Literature (D040) 
Literature and Other Arts (D041) 
Literature and Science (D072) 
Children's Literature (D074) 
Gay Studies in Language and Literature (D075) 
Disability Studies (D085) 
Postcolonial Studies in Literature and Culture (D086) 
Cognitive Approaches to Literature (D088)

<b>Italian Literature</b>
Medieval and Renaissance Italian Literature (D062) 
17th-, 18th-, and 19th-Century Italian Literature (D063) 
20th-Century Italian Literature (D079)  

<b>Language Studies</b>
Language and Society (D042) 
Language Theory (D043) 
Applied Linguistics (D044) 
Language Change (D045) 
History and Theory of Rhetoric and Composition (D081) 

<b>Other Languages & Literatures</b>
African Literatures (D015) 
Arabic Literature and Culture (D087)
East Asian Languages and Literatures to 1900 (D016) 
East Asian Languages and Literatures after 1900 (D083) 
Slavic and East European Literatures (D066) 

<b>Teaching</b>
The Teaching of Language (D047)  
The Teaching of Literature (D048)  
The Teaching of Writing (D049)  
Teaching as a Profession (D050)  </blockquote>
