<h1>Does the MLA offer templates or software for formatting papers?</h1>
We try to keep the guidelines in the <I>MLA Handbook</I> simple enough that a paper can be formatted without special tools, and so we have not produced such templates or software. The essential formatting guidelines are shown in fig. 7, fig. 8, and fig. 12.
