<h1>Does Your Library Subscribe to the Bibliography?</h1>
To determine whether the <I>MLA International Bibliography</I> is available at your academic institution, you should first visit its library’s Web site.

On the library’s home page, look for an area relating to e-Research / Research tools / Find articles / Databases and click on the appropriate hyperlink.

Since your library probably subscribes to many databases, it may provide a list of titles to navigate (arranged alphabetically or by subject). Click on "M" and scroll to MLA, search for "MLA," or click on a subject such as literature or language. If your library subscribes, you will see a link to the <I>MLA International Bibliography</I>.

To access the <I>MLA International Bibliography</I>, you may need to sign in using your library card or institution ID and password. Consult your librarian if you have difficulty locating or logging into our database.
