[[[@ifequal $arg{delivery_error} "1"]]]
<h1>Resource Downloads</h1>
<b>Please enter the invoice number noted on the receipt that was emailed to you:</b>

<form method="post" action="[[[RESULTS path_to_filename]]][[[searcharg file]]]&plugin=deliver">
<input type="hidden" name="comingfrom" value="site">
Invoice Number: <INPUT TYPE="text" NAME="x_invoice_num" SIZE="20" value="[[[searcharg inv]]]"> <input type="submit" value="Submit">
</form>

[[[@else]]]
<h1>E-Course</h1>
Thank you for purchasing our e-course!

<table border="0" cellspacing="1" cellpadding="6" align="center" width="425" bgcolor="#333333">
[[[@loop "downloadPages"]]]
[[[@ifequal $workingsection[0] "[[[@col 3]]]"]]]
<tr>
	<td width="100%" bgcolor="#ffffff" align="center"><b><a href="[[[RESULTS path_to_filename]]][[[@col 2]]]">Click here to start!</a></b></td>
</tr>
[[[@else]]]
[[[@endif]]]
[[[@endloop]]]
</table>

This page may be accessed for [[[RESULTS max_days_to_download]]] days. Save the URL or bookmark this page.

[[[@endif]]]
<a href="[[[RESULTS path_to_filename]]]homepage">Click here to go to the site homepage</a>.
