[[[@ifequal $arg{delivery_error} "1"]]]
<h1>Audio Downloads</h1>
<b>Please enter the invoice number noted on the receipt that was emailed to you:</b>

<form method="post" action="/FORM_ACTIONS/[[[searcharg file]]]&plugin=deliver">
<input type="hidden" name="comingfrom" value="site">
Invoice Number: <INPUT TYPE="text" NAME="x_invoice_num" SIZE="20" value="[[[searcharg inv]]]"> <input type="submit" value="Submit">
</form>

[[[@else]]]
<h1>Audio File Instructions</h1>
<span class="s1">IMPORTANT: PLEASE FOLLOW CAREFULLY!</span>
<ol>
<li><b>Click on the "Listen Now"</b> link next to the product you purchased. A small window will open and the file will start playing.

<li>If you want to save the file to listen to later, click the "Listen Now" link to open the new window. You will see a "right-click here" link to download.

<li>Your browser may prompt you to download software to play the audio file. If it does, follow the instructions to download and install the software and return to this page. (The email receipt you received contains a link to this page.)

<li>When you have finished, close the popup window and click the link at the bottom of this page to go the homepage of the site.
</ol>

<h2>Audio Files You Purchased</h2>
The file you have purchased is an ".au" file, so your browser may need a plugin to open and play it. You will be prompted by your browser if this is necessary. 
<table border="0" cellspacing="1" cellpadding="6" align="center" width="425" bgcolor="#333333">
[[[@loop "downloadPages"]]]
[[[@ifequal $workingsection[0] "[[[@col 3]]]"]]]
<tr>
	<td width="65%" bgcolor="#ffffff" align="center"><b>[[[@col 4]]]</b></td>
	<td width="35%" bgcolor="#ffffff" align="center"><b>[[[@if ($col[20] =~ /redirect::/)]]]<a href="javascript:popup('[[[RESULTS path_to_filename]]][[[@col 2]]]&template=popup_template.htm','docs_popup');">[[[@else]]]<a href="[[[RESULTS path_to_filename]]][[[@col 2]]]" target="other">[[[@endif]]]Listen Now</a></b></td>
</tr>
[[[@else]]]
[[[@endif]]]
[[[@endloop]]]
</table>

This page may be accessed for [[[RESULTS max_days_to_download]]] days. Save the URL or bookmark this page.

[[[@endif]]]
<a href="[[[RESULTS path_to_filename]]]homepage">Click here to go to the site homepage</a>.
