[[[@ifequal $arg{delivery_error} "1"]]]
<h1>E-Book Downloads</h1>
<b>Please enter the invoice number noted on the receipt that was emailed to you:</b>

<form method="post" action="/FORM_ACTIONS/[[[searcharg file]]]&plugin=deliver">
<input type="hidden" name="comingfrom" value="site">
Invoice Number: <INPUT TYPE="text" NAME="x_invoice_num" SIZE="20" value="[[[searcharg inv]]]"> <input type="submit" value="Submit">
</form>

[[[@else]]]
<h1>Downloading Instructions</h1>
<span class="s1">IMPORTANT: PLEASE FOLLOW CAREFULLY!</span>
<ol>
<li><b>Click on the "Download Now"</b> link next to the product you purchased. <b>Note:</b> The file may simply open in your browser. If you want to avoid the file opening, right-click the link and select <b>Save Target As...</b> (Mac users click and hold mouse button, then select "Download to Disk").

<li>If prompted, choose to <b>Save</b> file. Click <b>Save</b> and the file will be saved to your desktop or other location of your choice on your computer.

<li>When you have saved and verified the downloadable item you have purchased, click the link at the bottom of the page to go the homepage of the site.
</ol>

<h2>Opening Your PDF File</h2>

The file you have purchased is a PDF file, so you will need Adobe Acrobat Reader to open and read it. Acrobat Reader is available immediately for FREE download on the <a href="http://www.adobe.com/products/acrobat/readstep.html" target="adobe">Adobe Acrobat Reader download page</a>. At the bottom of the Adobe page, click the link to "Get Acrobat Reader Free". 

<table border="0" cellspacing="1" cellpadding="6" align="center" width="425" bgcolor="#333333">
[[[@loop "downloadPages"]]]
[[[@ifequal $workingsection[0] "[[[@col 3]]]"]]]
<tr>
	<td width="65%" bgcolor="#ffffff" align="center"><b>[[[@col 4]]]</b></td>
	<td width="35%" bgcolor="#ffffff" align="center"><b><a href="[[[RESULTS path_to_filename]]][[[@col 2]]]">Download Now</a></b></td>
</tr>
[[[@else]]]
[[[@endif]]]
[[[@endloop]]]
</table>

This page may be accessed for [[[RESULTS max_days_to_download]]] days. Save the URL or bookmark this page.

<a href="http://www.adobe.com/products/acrobat/readstep.html" target="other"><img src="/IMAGES/getacro.gif" alt="Get Acrobat Reader" width="75" height="28"></a>

[[[@endif]]]
<a href="[[[RESULTS path_to_filename]]]homepage">Click here to go to the site homepage</a>.
