<h1>Evaluating Translations as Scholarship: Guidelines for Peer Review</h1>
<i>The Executive Council adopted the following document as an MLA statement at its February 2011 meeting.</i>
<h2>Introduction</h2>
The guidelines that follow are intended to help departments and institutions develop appropriate procedures for evaluating translations in personnel decisions related to hiring, retention, merit awards, promotion, and tenure.

Translation has been an indispensable component of intellectual exchange and development throughout recorded history. Today, the ever-accelerating interaction among cultures and economies in our globalized world is exponentially increasing the need for translation. As more and more postsecondary institutions incorporate translation studies and translator training into their curricula, there is a growing need for faculty members who are scholars and practitioners of translation. Moreover, the translation of a work of literature or scholarship—indeed, of any major cultural document—can have a significant impact on the intellectual community, while the absence of translations impedes the circulation of ideas.

More and more academics are therefore undertaking translation as a component of their professional activity and as a natural extension of their teaching. Whether they translate literary or scholarly works or other cultural documents, they are engaging in an exacting practice, at once critical and creative, that demands lexical precision; detailed knowledge of historical, political, social, and literary contexts; and a nuanced sense of style in both the source language and the target language. It goes without saying that the machine-translation programs available online are woefully inadequate to cope with such demanding texts.

Every translation is an interpretation; each one begins with a critical reading, then expands and ultimately embodies that reading. Given the importance of the endeavor and the expertise required to do it justice, a translation of a literary or scholarly work or another cultural document should be judged as an integral part of the dossiers submitted by candidates for academic positions and by faculty members facing personnel decisions. Institutions thus need to ensure that translations are subject to peer review on the same basis as monographs and other recognized instances of scholarly activity.

For a thorough and equitable evaluation, a translation should be read by at least one reviewer who has mastery of both the source language and the target language and who can thus compare the translation with the source text. Where feasible, this reviewer will also be a specialist in the academic field to which the translated text belongs. If no one on the review panel has the appropriate qualifications, the chair should enlist an outside reviewer.

<h2>Guidelines for the Candidate</h2>
A candidate presenting a translation for peer review will take responsibility for documenting and illuminating the creative, critical, and scholarly work involved in the project. In addition to relevant material that may already be available (readers’ reports, published commentary, reviews, interviews, conference presentations, and so on), the candidate will prepare a statement providing background information about the author and the work and addressing the following considerations, among others:

<ul>
<li>the importance of the source text as a work of literature or scholarship or as a cultural document, and its potential impact</li>
<li>any useful information about the publisher or the series in which the translation appears, along with information about the publisher’s review process and any special requirements imposed by the publisher</li>
<li>any differences between the source-language audience and the target-language audience that call for adjustments or adaptations</li>
<li>any theoretical considerations that influenced the translator’s overall strategy</li>
<li>any special challenges posed by the form, style, or content of the source-language text, along with examples and explanations of the solutions adopted in the translation process</li>
</ul>

<h2>Guidelines for Reviewers</h2>
All reviewers can to some extent assess the translation’s readability, stylistic qualities, scholarly value, and overall interest to its target audience. In principle (the qualifier is necessary because editors sometimes intervene), every sentence, every word, every punctuation mark represents a deliberate choice by the translator in the attempt to capture not only meaning but also structure, idiom, diction, rhythm, tone, voice, and nuance. A translation must occasionally violate the norms of Standard English in order to convey the characteristics and idiosyncrasies of the source text. Reviewers who are not in a position to compare the translation with the source text can nevertheless consider questions such as the following: 

<ul>
<li>Do the translator’s supporting materials and the introduction and critical apparatus accompanying the published work, if any, shed light on the translation challenges involved and on the solutions adopted?</li>
<li>In a work of fiction, does the discursive register correspond to the context? For example, in dialogue, does the tone shift to represent different characters’ voices?</li> 
<li>In a work of nonfiction, is there evidence that the translator has appropriately adapted the work to the frame of reference of its new audience? Has the translator sought out and referred to existing English editions of foreign works cited in the source text?</li>
<li>If the work has been translated before, how does the new translation compare with the earlier one(s)? Does it offer new insights or emphases?</li>
</ul>

Since there are neither absolute standards nor readily applicable metrics by which to measure translation quality, the assessment of a translation must turn on the purpose and audience for which it is intended. This point can best be illustrated by examples:
<blockquote>One scholar has been invited to translate a collection of poems for a prestigious series highlighting the best new poets writing in Spanish. This scholar focuses on re-creating the poetic effects of the source text (rhyme, assonance, meter, imagery, and so on), thereby sacrificing literal meaning, at least in part, as well as scrupulous adherence to the syntax of the source text. Another scholar has been asked to use the same set of poems in a bilingual edition aimed primarily at people who read or are learning to read Spanish. This second translator chooses to adhere closely to the syntax of the source text and to highlight the referential content, sacrificing meter, rhyme, and other poetic devices. The two translations differ dramatically, yet each is entirely appropriate to its intended purpose and new context. 

A third scholar has been invited to translate an eight-hundred-page book on Roman history. The editor has instructed this scholar to select sections of the source text for cutting or condensation, to reduce the volume by twenty-five percent. The translator,  working through the remaining text, is likely to find it necessary to add bridging material and clarifying information and will also have to modify syntax, eliminate repetitions, track down and document citations, supplement the notes, and make other changes in order to meet the expectations of a target-language readership whose presuppositions and cultural background may differ significantly from those of the text’s original audience.</blockquote>

Reviewers who read both the source language and the target language can address the complex question of the translation’s “faithfulness” to the source text. A good translation will contain few outright misreadings. Yet success or failure in translation ultimately depends not so much on the literal transposition of discrete meanings as on an interpretation of the myriad traits and dimensions of the source text. Reviewers need to recognize that readability and argumentative comparability at the level of large-scale discursive structures (paragraphs, chapters, entire books) are legitimate objectives that may create the appearance of a departure at the level of words and sentences. Translators use a wide variety of techniques to compensate for structural differences between languages and to minimize loss: expansion, condensation, displacement, borrowing, exegesis, generalizing, particularizing, transposition, and so on. An apparent error or deviation may turn out to be an apt rendering of a provocative or anomalous passage in the source text; just as significantly, it may be an artifact of the translator’s decision to rephrase, reorder, condense, or expand in order to convey meaning more clearly or more idiomatically in the target language.



<b>Acknowledgment</b>. Sections of this document have been adapted with permission from the following sources: a statement prepared in February 2009 by Michael Heim and the academic working group of Salzburg Global Seminar 461; a statement by the American Literary Translators Association, titled “Translation and Academic Promotion and Tenure”; guidelines for book reviewers prepared by Michael Moore and the PEN American Center Translation Committee.
