<h1>Statement on Language Requirements for Doctoral Programs in English</h1>
<i>The Executive Council approved the following statement at its February 2012 meeting.</i>
<p>The MLA urges doctoral programs in English to require all PhD candidates to demonstrate, at either the admission or the exit point, advanced competence in at least one language other than English. It also urges doctoral programs to offer funding and support to students who study additional languages beyond this requirement.</p> 

<p>Those who pursue a PhD in English are engaged in deep study of a language and its literary and cultural expressions. Most likely they will teach works in translation during their career. Knowledge of several languages and the process of language learning offer more than research tools enabling students to read primary and secondary materials in their original form. They promote consciousness of and sensitivity to both the multilingual contexts in which anglophone literatures are written and the work of translation in which contemporary writers and readers engage on a daily basis. Proficiency in more than one language promotes the cultural literacy essential to teaching in the global university of the future.</p> 
