<h1>Minutes of the MLA Executive Council</h1>
PDF files of the minutes as published in <I>PMLA</i> can be downloaded below.

<b>2013</b>
<a href="/feb13_execcoucminute" >22–23 February</a>[[[docstudio filetype_tag_pdf]]]

<b>2012</b>
<a href="/oct12_execcoucminute" >26–27 October</a>[[[docstudio filetype_tag_pdf]]]
<a href="/may12_execcoucminute" >17–18 May</a>[[[docstudio filetype_tag_pdf]]]
<a href="/feb12_execcoucminute" >24–25 February</a>[[[docstudio filetype_tag_pdf]]]

<b>2011</b>
<a href="/oct11_execcoucminute" >28–29 October</a>[[[docstudio filetype_tag_pdf]]]
<a href="/may11_execcoucminute" >20–21 May</a>[[[docstudio filetype_tag_pdf]]]
<a href="/feb11_execcoucminute" >25–26 February</a>[[[docstudio filetype_tag_pdf]]]

<b>2010</b>
<a href="/oct10_execcouncminut" >29–30 October</a>[[[docstudio filetype_tag_pdf]]]
<a href="/may10_execcoucminute" target="_blank">21–22 May</a>[[[docstudio filetype_tag_pdf]]]
<a href="/feb10_execcoucminute" target="_blank">26–27 February</a>[[[docstudio filetype_tag_pdf]]]

<b>2009</b>
<a href="/oct09_execcoucminute" target="_blank">30–31 October</a>[[[docstudio filetype_tag_pdf]]]
<a href="/may10_execcoucminute" target="_blank">15–16 May</a>[[[docstudio filetype_tag_pdf]]]
<a href="/feb09_execcoucminute" target="_blank">27–28 February</a>[[[docstudio filetype_tag_pdf]]]

<b>2008</b>
<a href="/oct08_execcoucminute" target="_blank">24–25 October</a>[[[docstudio filetype_tag_pdf]]]
<a href="/may08_execcoucminute" target="_blank">20–21 May</a>[[[docstudio filetype_tag_pdf]]]
<a href="/pmlamin_feb08" target="_blank">22–23 February</a>[[[docstudio filetype_tag_pdf]]]

<B>2007</b>
<a href="/07_2627octexecminuts" target="_blank">26–27 October</a>[[[docstudio filetype_tag_pdf]]]
<a href="/execcoun_minutes0507" target="_blank">18–19 May</a>[[[docstudio filetype_tag_pdf]]]
<a href="/07feb_execminutespdf" target="_blank">23–24 February</a>[[[docstudio filetype_tag_pdf]]]

<B>2006</b>
<a href="/06oct_execminutespdf" target="_blank">27–28 October</a>[[[docstudio filetype_tag_pdf]]]
<a href="/excounc_min0506" target="_blank">19–20 May</a>[[[docstudio filetype_tag_pdf]]]
<a href="/06_feb2425execminpdf" target="_blank">24–25 February</a>[[[docstudio filetype_tag_pdf]]]

<B>2005</b>
<a href="/oct05_mlaexec_minute" target="_blank">28–29 October</a>[[[docstudio filetype_tag_pdf]]]
<a href="/minutes_may_2021_20" target="_blank">20–21 May</a>[[[docstudio filetype_tag_pdf]]]
<a href="/minutes_mlaexecmtgs" target="_blank">25–26 February</a>[[[docstudio filetype_tag_pdf]]]

 
