<h1>Opposition to Research Works Act</h1>
<i>In response to proposed legislation that would limit public access to scholarly research, the Executive Council sent the following letter to MLA members on 25 January 2012.</i>

Dear MLA Members,

For more than a hundred years, the Modern Language Association has fostered scholarly communication in the field of language and literature. Broad access to the latest research and scholarly findings is a core value of the association and a fundamental component of a free society. Open access policies of government agencies—such as the National Institutes of Health’s mandating that manuscripts resulting from agency-supported research projects be deposited in publicly accessible archives—have advanced these ideals, both giving taxpayers an important return on their investment in academic research and aiding scholars in circulating their work. Given its commitment to exploring new ways to improve communication between scholars and the public, the MLA is concerned about any legislation that would limit the capacity of funding agencies to promote the free circulation of ideas and research.

As both a publisher and a membership organization, the MLA understands that a publisher’s ability to earn revenue from the services that it provides need not be hindered by the provision of broad public access to scholarly work. Preprint archives, for example, need not compete with formal publications. New business models for the sustainability of open access publications are developing.

Unnecessary limits on the free flow of ideas compromise a robust exchange of information and knowledge. In reviewing the language of the <a href="http://thomas.loc.gov/cgi-bin/query/z?c112:H.R.3699:">Research Works Act</a> and considering the implications of its provisions, the MLA concludes that this legislation has significant negative ramifications for the future of public access to scholarly material and research. The association therefore opposes passage of this legislation.

We urge you to contact your elected representatives in Congress to make your views known on this issue. You can find contact information on the Web site of the National Humanities Alliance: <a href=" http://www.congressweb.com/cweb2/index.cfm/siteid/NHA/action/Legislators.Main"> http://www.congressweb.com/cweb2/index.cfm/siteid/NHA/action/Legislators.Main</a>.

Sincerely,
<img src="/IMAGES/berube_sig.gif" width=188 height=45 border=0 alt="">

Michael Bérubé
President, Modern Language Association
Paterno Family Professor in Literature
Penn State University, University Park
