<h1>Executive Council Deplores Attacks on Iranian Universities</h1>
<i>The Executive Council approved the following statement on 26 June 2009.</i>

In the wake of the Iranian elections, government security forces have reportedly carried out attacks on universities, leading to large-scale arrests and student deaths. The chancellor of Shiraz University, one of Iran's most prestigious, has resigned in protest. Violence on other campuses has been reported.

Recognizing with alarm the implications for freedom of thought and expression and in the light of its particular responsibility for the humanities in higher education, the Modern Language Association deplores the attacks on Iranian universities, which endanger students, faculty members, and staff members. We express our hope that the government of Iran will refrain from using violence or other repressive measures in these revered centers of learning and teaching.
