<h1>Elections</h1>
<a href="/election_results_13" >Results of the 2013 MLA Elections</a>[[[docstudio filetype_tag_pdf]]]

The association's annual elections for second vice president, Executive Council, Delegate Assembly, and division and discussion group executive committees are held in the fall. Information about the election of the second vice president and Executive Council members can be found on the <a href="/executive_council">council's Web page</a>. Information about the election of Delegate Assembly members is available on the <a href="/delegate_assembly">assembly's Web page</a>. The executive committee elections are described on the <a href="/about_committees_and">About Committees</a> page.

Results of the association's annual elections are usually known shortly after 10 December, the deadline for receipt of ballots. All candidates are notified of the election results as soon as possible after 10 December, and the names of all winners are then posted on the MLA Web site. In addition, the results of the elections for second vice president and the council are published in the Spring issue of the <i>MLA Newsletter</i>. A candidate who is interested in the vote tally for the contest(s) in which he or she participated should send a written request with a self-addressed, stamped envelope to the coordinator of governance (MLA, 26 Broadway, 3rd floor, New York, NY 10004-1789).
