<h1>Enrollments in Languages Other Than English in United States Institutions of Higher Education</h1>
<div class="top_indent"><a href="/2009_enrollmentsurvey">2009 report</a></div>
<div class="top_indent"><a href="/2006_flenrollmentsurvey">2006 report</a></div>
<div class="top_indent"><a href="http://www.adfl.org/resources/enrollments.pdf" target="_blank">2002 report</a>[[[docstudio filetype_tag_pdf]]] </div>
