
<I>This policy statement grew out of motions approved by the MLA Delegate Assembly in 2000 and 2001.  The MLA Executive Council approved the statement for publication at its May 2002 meeting.  The statement first appeared in</i> Profession 2002.
<h1>Ensuring the Quality of Undergraduate Programs in English and Foreign Languages: MLA Recommendations on Staffing</h1>
The Modern Language Association believes that college students have a superior educational experience when they are taught by faculty members who have appropriate institutional support. As a rule, full-time faculty members, especially those holding tenured or tenure-track appointments, teach under conditions that provide clear educational advantages for their students. Full-time faculty members are able to give more time and attention to class preparation and to their students. Those holding tenured or tenure-track appointments have access to professional development and advancement and receive salaries and benefits that are nationally competitive. They design the curriculum and receive the institutional support necessary to stay abreast of their fields and maintain the curriculum's integrity and currency. Tenured and tenure-track faculty members remain at an institution and are available to students throughout their undergraduate years and after graduation. Part-time faculty members, while they may be fully qualified scholars and teachers, are generally poorly paid, receive substandard office space and other support, and have tenuous institutional standing and little chance to advance professionally. An institution's use of a critical mass of full-time tenured and tenure-track faculty members therefore provides a measure for judging the quality of undergraduate education.
		
Can a critical mass be specified? Different types of institutions have different missions and therefore different staffing profiles. A recent MLA study documents the staffing practices of 1,991 departments that teach English and foreign language courses in 1,294 United States and 52 Canadian colleges and universities. The study, the first of its kind, reveals the average percentage of undergraduate course sections that full-time faculty members in different types of institutions and departments taught in fall 1999. The MLA believes that institutions show their commitment to quality in undergraduate education when the percentage of undergraduate course sections taught by full-time faculty members is above average for a given type of department. For PhD-granting departments, staffing is above average when full-time faculty members teach more than 46% of a department's undergraduate course sections. For MA-granting departments, staffing is above average when full-time faculty members teach more than 62% of a department's undergraduate course sections. For BA-granting departments, staffing is above average when full-time faculty members teach more than 72% of a department's undergraduate course sections. For AA-granting departments, staffing is above average when full-time faculty members teach more than 53% of a department's undergraduate course sections.
		
One way to judge the quality of undergraduate programs in specific institutions is to determine whether the percentage of sections that full-time faculty members teach is above average. Averages for the five types of English and foreign language departments surveyed are presented in the table below. The first row shows the average percentage of undergraduate course sections taught by full-time faculty members in four degree-granting types of departments and in departments that do not grant degrees. The fourth row shows the average percentage of course sections taught by part-time faculty members and graduate student teaching assistants. The other rows show these percentages for the subcategories that make up each of the two main categories of teachers. Rows 2 and 3 show the percentages of course sections taught by the two subcategories of full-time teachers--faculty members holding tenured or tenure-track appointments and faculty members holding full-time non-tenure-track appointments--while rows 5 and 6 show these percentages for the two subcategories of part-time instructors--faculty members holding part-time appointments and graduate student teaching assistants.

<h2>Table</h2>
<b>Average Percentages of Undergraduate Course Sections Taught by Full- and Part-Time Instructors in Different Types of English and Foreign Language Departments</b>
<table width="80%" border="0" cellspacing="0" cellpadding="2">
	<tr valign="bottom">
		<td colspan="7" align="left" valign="bottom"><hr noshade size="1"></td>
	</tr>
	<tr valign="bottom">
		<td align="left" valign="bottom" width="35%"></td>
		<td colspan="6" align="center">Highest Degree Granted by Responding Department
		(Number of Respondents in Category)</td>
	</tr>
	<tr valign="bottom">
		<td align="left" valign="bottom" width="35%"></td>
		<td colspan="6"><hr noshade size="1"></td>
	</tr>
	<tr valign="bottom">
		<td align="left" valign="bottom" width="35%">Type of Instructor</td>
		<td align="center" valign="bottom" class="s1">PhD
				(271)</td>
		<td align="center" valign="bottom" class="s1">MA
				(298)</td>
		<td align="center" valign="bottom" class="s1">BA
				(879)</td>
		<td align="center" valign="bottom" class="s1">AA
				(288)</td>
		<td align="center" valign="bottom" class="s1">No degree
				(255)</td>
		<td align="center" valign="bottom" class="s1">All depts.
				(1,991)</td>
	</tr>
	<tr valign="bottom">
		<td colspan="7" align="left" valign="bottom"><hr noshade size="1"></td>
	</tr>
	<tr valign="bottom">
		<td align="left" valign="bottom" width="35%" class="s1"><b>Full-time faculty members</b></td>
		<td align="center" class="s1"><b>45.7</td>
		<td align="center" class="s1"><b>62.1</td>
		<td align="center" class="s1"><b>71.6</td>
		<td align="center" class="s1"><b>52.7</td>
		<td align="center" class="s1"><b>56.1</td>
		<td align="center" class="s1"><b>58.3</td>
	</tr>
	<tr valign="bottom">
		<td align="left" valign="bottom" width="35%" class="s1">Tenured and&nbsp;tenure-track</td>
		<td align="center" class="s1">29.3</td>
		<td align="center" class="s1">43.7</td>
		<td align="center" class="s1">54.5</td>
		<td align="center" class="s1">41.6</td>
		<td align="center" class="s1">39.0</td>
		<td align="center" class="s1">42.1</td>
	</tr>
	<tr valign="bottom">
		<td align="left" valign="bottom" width="35%" class="s1">Non-tenure-track</td>
		<td align="center" class="s1">16.4</td>
		<td align="center" class="s1">18.4</td>
		<td align="center" class="s1">17.1</td>
		<td align="center" class="s1">11.1</td>
		<td align="center" class="s1">17.1</td>
		<td align="center" class="s1">16.2</td>
	</tr>
	<tr valign="bottom">
		<td align="left" valign="bottom" width="35%" class="s1"><b>Part-time instructors</b></td>
		<td align="center" class="s1"><b>54.3</td>
		<td align="center" class="s1"><b>37.9</td>
		<td align="center" class="s1"><b>28.4</td>
		<td align="center" class="s1"><b>47.3</td>
		<td align="center" class="s1"><b>43.9</td>
		<td align="center" class="s1"><b>41.7</td>
	</tr>
	<tr valign="bottom">
		<td align="left" valign="bottom" width="35%" class="s1">Faculty members</td>
		<td align="center" class="s1">17.5</td>
		<td align="center" class="s1">27.5</td>
		<td align="center" class="s1">27.6</td>
		<td align="center" class="s1">47.2</td>
		<td align="center" class="s1">42.0</td>
		<td align="center" class="s1">29.9</td>
	</tr>
	<tr valign="bottom">
		<td align="left" valign="bottom" width="35%" class="s1">Graduate student&nbsp;teaching assistants</td>
		<td align="center" class="s1">36.8</td>
		<td align="center" class="s1">10.4</td>
		<td align="center" class="s1">&nbsp;0.8</td>
		<td align="center" class="s1">&nbsp;0.1</td>
		<td align="center" class="s1">&nbsp;1.9</td>
		<td align="center" class="s1">11.7</td>
	</tr>
	<tr valign="bottom">
		<td colspan="7" align="left" valign="bottom"><hr noshade size="1"></td>
	</tr>
	<tr valign="bottom">
		<td colspan="7" align="left" valign="bottom" class="s1">Source: MLA Survey of Staffing in English and Foreign Language Departments, fall 1999</td>
	</tr>
</table>
