<h1>Exam Copy Requests</h1>
<p>The MLA is offering a selection of titles as exam copies for potential class adoption.  Please submit your request online by completing the <a href="/excp_req_form.htm">exam copy request form</a>.</p>
[[[@if ($cookie{id} !~ /^\d+$/)]]]
<p>
If you are an MLA <a href="/login&xurl=[[[searcharg file]]]">member</a>, please log in, and your contact information will be filled in automatically.
</p>
[[[@endif]]]

[[[comment]]]
<p>
<form method="post" name="excp_form1" action="/excp_req_form">
Memeber ID <input type="text" name="MEM_ID" value="<@$postarg{MEM_ID}>" size="15"/><br/>
Password <input type="text" name="PASSWORD" value="<@$postarg{PASSWORD}>" size="15"/><br/>
<input type="submit" name="Submit" value="Submit"/> <input type="reset" name="Cancel" value="Cancel"/>
</form>
</p>
[[[endcomment]]]
