<b>Art Institute of Chicago Private Tour</b>

<i>Saturday, 11 January 2014</i>

Join professional lecturers from the Art Institute of Chicago for a private one-hour gallery tour created for MLA attendees. Explore artwork that ties in with the 2014 MLA presidential theme <a href="http://www.mla.org/pdf/pres_theme_invitation_2014.pdf" target="_blank">Vulnerable Times</a>. Discover highlights of the collection as well as hidden gems of art and architecture. Learn about the history of the Art Institute, the Provenance Research Project, and the Ryerson and Burnham Research Libraries. More information about this tour can be found <a href="/cultural_excursions_2014#aic" target="_blank">here</a>.

10:10 a.m. – Shuttle bus departs from the Chicago Marriott.

10:30–10:45 a.m. – Check in at the museum, coat check, meet the tour lecturer, etc.

10:45–11:45 a.m. – Lecturer-led tour of the galleries

11:45 a.m. – Excursion attendees are welcome to continue exploring the galleries, <a href="http://www.artic.edu/visit/dining" target="_blank">dine at Terzo Piano or Museum Café</a>, and remain until the museum closes at 5:00 p.m.

The Art Institute is near all forms of <a href="http://www.transitchicago.com" target="_blank">public transportation</a>. Convention attendees may also walk through Millennium Park to the Fairmont to catch the MLA shuttle bus. There is no shuttle bus transportation from the Art Institute back to the hotel.

Cost: $45 per person; up to two paid guests allowed per convention registrant. 

Registration deadline: 6 December 2013

There is a twenty-person minimum for this event. If fewer than twenty people register by 6 December, this event will be canceled and all payments refunded.

Preregistration is required; attendance is limited to fifty people.

<b><i>Cancellations received after 6 December will not be refunded.</i></b>
