<b>Bully Boy Distillers Tour and Tasting</b>

<i>Friday, 4 January 2013</i>

Take an exclusive, owner-led tour of the Boston-based boutique distillery Bully Boy, followed by a private tasting of the distillery's artisan rum, vodka, and whiskey. More information about this excursion can be found <a href="/cultural_excursions_2013#bbdtt" target="_blank">here</a>.

4:00 p.m. – Shuttle bus departs from the John B. Hynes Convention Center (Hynes)

4:30–6:00 p.m. – Tour and tasting led by the owners at Bully Boy Distillers

6:00 p.m. – Shuttle bus departs from the distillery to return to the Hynes by 6:30 p.m.

Cost: $45 per person; one paid guest allowed per convention registrant

Participants must be 21 or older.

Registration deadline: 3 December 2012

There is a twenty-person minimum for this event. If fewer than twenty people register by 3 December, this event will be canceled and all payments refunded.

Preregistration is required; attendance is limited to thirty people.

Cancellations received after 3 December will not be refunded.
