<b>The Newberry: Behind-the-Scenes and Exhibition Tours</b>

<i>Friday, 10 January 2014</i>

Join Newberry staff members for a unique, two-part excursion to Chicago’s internationally recognized independent humanities library. Enjoy a curator-led tour of the exhibition <i>Home Front: Daily Life in the Civil War North</i>, partake in a private behind-the-scenes tour of the library’s reading rooms and research areas, and learn about the Newberry’s history, collections, conservation practices, and fellowships. More information about this tour can be found <a href="/cultural_excursions_2014#tnl" target="_blank">here</a>.

10:15 a.m. – Shuttle bus departs from the Chicago Marriott.

10:30 a.m.–12:00 noon – Tour of the exhibition and behind-the-scenes tour of the library. Excursion group will be split into two smaller groups, with both tours running concurrently.

12:00 noon–12:25 p.m. – Time to visit the gift shop or continue viewing the exhibition.

12:30 p.m. – Shuttle bus departs from the library to return to the Chicago Marriott by 1:00 p.m. Excursion participants are welcome to stay until the library closes at 5:00 p.m. and take public transportation or walk back to the hotel.

Cost: $30 per person (donation to the library is included); one paid guest allowed per convention registrant. 

<b>Participants must be 16 or older.</b>

Registration deadline: 6 December 2013

There is a twenty-person minimum for this event. If fewer than twenty people register by 6 December, this event will be canceled and all payments refunded.

Preregistration is required; attendance is limited to thirty people.

<b><i>Cancellations received after 6 December will not be refunded.</i></b>
