Friday, 6 January 2012

<b>EMP Museum Excursion</b>

The EMP Museum has offered MLA attendees a private discussion with senior curator Jacob McMurray on the museum’s Oral History Project, followed by a curator-led tour of the museum. More information about this tour can be found <a href="/cultural_excursions#empmuseum" target="_blank">here</a>.

1:45 p.m. – Shuttle bus departs from the Washington State Convention Center (WSCC)

2:00–3:00 p.m. – Presentation on the EMP’s Oral History Project and a discussion with Jacob McMurray, senior curator, and his experience conducting over 100 interviews

3:00–3:45 p.m. – Curator-led tour of the EMP’s permanent collection and galleries

3:45 p.m. – Guests are welcome to stay at the museum until 5:00 p.m. or take the nearby monorail to the Westlake Center station at 5th Avenue and Pine Street, four blocks from the WSCC. There is no return shuttle to the WSCC. 

Cost: $45 per person; up to two registered guests allowed per convention registrant

Cutoff registration date: 1 December 2011

There is a fifteen-person minimum for this event. If fewer than fifteen people register by 1 December, this event will be canceled and all payments refunded.

Preregistration is required; attendance is limited to fifty people.

Cancellations received after 1 December will not be refunded.
