<b>Chicago History Museum Behind-the-Scenes Tour</b>

<i>Friday, 10 January 2014</i>

Join the Chicago History Museum’s archivist for a special tour behind the scenes and through the basement archives. See items from the museum’s vast collections normally not on view, representing a wide range of Chicago’s social history and including slavery documents from the 1800s, diaries and travel documents, maps and records documenting immigration, items related to the 1919 Black Sox scandal, and much more. Information about this excursion can be found <a href="/cultural_excursions_2014#chm" target="_blank">here</a>.

9:00 a.m. – Shuttle bus departs from the Chicago Marriott.

9:30–10:30 a.m. – Tour led by Peter Alter, Archivist of the Chicago History Museum.

11:00 a.m. – Shuttle bus departs from the museum to return to the Chicago Marriott by 11:30 a.m. Excursion participants are welcome to stay on their own until the museum closes at 4:30 p.m. and take taxis or public transportation back to the hotel.

Cost: $40 per person; one paid guest allowed per convention registrant. 

Registration deadline: 6 December 2013

There is a twenty-person minimum for this event. If fewer than twenty people register by 6 December, this event will be canceled and all payments refunded.

Preregistration is required; attendance is limited to thirty people.

<b><i>Cancellations received after 6 December will not be refunded.</i></b>
