<h1>Executive Council Actions</h1>

<a href="/ec_sessions_neh">MLA Response to Senator Jeff Sessions’s Letter to the NEH</a>

<a href="/ec_state_curricula">Opposition to State Interference in College Curricula</a>

<a href="/statement_val_ethnic_studies">Statement on the Value of Ethnic Studies Programs</a>

<a href="/statement_imp_unrestr_travel">Statement on the Importance of Unrestricted Travel for Scholarly Exchange</a>

<a href="/statement_in_support_u_presses">Statement in Support of University Presses</a>

<a href="/ec_nypl_renovations">Letter to the New York Public Library President</a>

<a href="/ec_us_language_policy">MLA Statement on Language Learning and United States National Policy</a>

<a href="/ec_language_requirements">Statement on Language Requirements for Doctoral Programs in English</a>

<a href="/ec_tucson">Statement on Tucson Mexican American Studies Program</a>

<a href="/ec_opp_rwa">Opposition to Research Works Act</a>

<a href="/ec_campus_violence">Response to Campus Violence</a>

<a href="/ec_student_debt">Statement on Student Debt</a>

<a href="/ec_language_learning">Statement on the Importance of Language Learning</a>

<a href="/ec_budget_cuts">Call for Action on Federal Budget Cuts to Language and Humanities Programs</a>

<a href="/ec_guidelines_translation">MLA Guidelines for Evaluating Translations as Scholarship</a>

<a href="/ec_records">Executive Council Deplores Open-Records Requests That Infringe Academic Freedom</a>

<a href="/support_wisconsin">Statement of Support for Teachers in Wisconsin and Other States</a>

<a href="/fairusecopyright">Executive Council Approves Statement on Fair Use</a>

<a href="/letter_arizona">Open Letter to Arizona Governor</a>

<a href="/garcetti_ceballos">Executive Council Approves Statement on First Amendment Protection</a>

<a href="/clinton_letter">Letter to Secretary of State Clinton, May 2010</a>[[[docstudio filetype_tag_pdf]]]

<a href="/ec_statement_iran">Executive Council Deplores Attacks on Iranian Universities</a>

<a href="/lsu_letter0509">LSU Press Letter, May 2009</a>[[[docstudio filetype_tag_pdf]]]

<a href="/exec_council_tenurestate">Executive Council Statement on Abolishing Tenure in the Kentucky Community and Technical College System</a>

<a href="/execcouncil_acts">Executive Council Acts on 2008 Delegate Assembly Motion</a>

<a href="/execcouncil_alertsmembers">Executive Council Response to Proposed Federal Regulations on Accreditation (2007)</a>

<a href="/comments_spellingsreport">Comments on the Spellings Commission Report from the Executive Council of the Modern Language Association of America, March 2007</a>
