<h1>Executive Council Acts on 2008 Delegate Assembly Motion</h1>
<i>Pursuant to a motion approved by the 2008 Delegate Assembly, the Executive Council brings to the attention of the MLA membership two resolutions, one from the American Anthropological Association (AAA) and one from the American Historical Association (AHA), that condemn the United States invasion and occupation of Iraq.</i>

<div style="padding-top:0.5em;"><a href="http://www.aaanet.org/issues/policy-advocacy/Statement-on-the-US-Occupation-of-Iraq.cfm" target="_blank">AAA Statement on the US Occupation of Iraq</a></div>

<div style="padding-top:0.5em;"><a href="http://www.historians.org/perspectives/issues/2007/0702/0702aha3.cfm" target="_blank">AHA Resolution on United States Government Practices Inimical to the Values of the Historical Profession</a></div>

The MLA joins the AAA and the AHA in calling for the end to the United States occupation of Iraq.
