<@eval ($results{'enable_simple_overlay'} = 'non-modal';)>
<h1>2013 MLA Exhibit Hall Theater Schedule</h1>

The Exhibit Hall Theater, located inside the MLA exhibit hall, hosted presentations and product demonstrations by MLA exhibitors.

<ul class="program_entry_list"><h3>Friday, 4 January 2013</h3>
<li class="program_entry">9:30–10:20 a.m.<br/>MLA International Bibliography<i> on </i>EBSCOhost (<a href="javascript:void(0)" onClick="openSimpleOverlay('ebsco_message'); return false;">learn more</a>)<br/>
Presented by <a href="http://www.ebscohost.com" target="_blank">EBSCO Publishing</a>, booth 119</li>

<li class="program_entry">10:30–11:20 a.m.<br/>
<i>The New</i> MLA Commons <i>Platform: A Live Presentation</i><br/>
Presented by <a href="http://www.commons.mla.org"><i>MLA Commons</i></a>, booth 406</li>

<li class="program_entry">11:30 a.m.–12:20 p.m.<br/>
<i>The New MLA</i> Job Information List<i>–Interfolio ByCommittee Service: Demonstration</i><br/>
Presented by the <a href="/jil_interfolio">MLA Job Information Service</a>, booth 406, and <a href="http://www.interfolio.com" target="_blank">Interfolio</a>, booth 224</li>

<li class="program_entry">1:30–2:20 p.m.<br/>
<i>Career Advice</i><br/> 
Presented by <a href="http://www.insidehighered.com" target="_blank"><i>Inside Higher Ed</i></a>, booth 304</li>

<li class="program_entry">2:30–3:20 p.m.<br/>
<i>A Conversation with Crown/Hogarth Authors Stephanie Reents and Anouk Markovits</i><br/>
Presented by <a href="http://www.randomhouse.com" target="_blank">Random House</a>, booths 308 and 310</li>

<li class="program_entry">3:30–4:20 p.m.<br/>
<i>Introducing the Adjunct Project 2.0</i><br/>
Presented by Joshua Boldt and the <a href="http://www.chronicle.com" target="_blank"><i>Chronicle of Higher Education</i></a>, booth 312</li>

</ul>

<ul class="program_entry_list"><h3>Saturday, 5 January 2013</h3>
<li class="program_entry">
9:30–10:20 a.m.<br/>
MLA International Bibliography<i> Search Tips from the Experts</i><br/>
Presented by <a href="/bibliography"><i>MLA International Bibliography</i></a>, booth 406</li>

<li class="program_entry">10:30–11:20 a.m.<br/>
<i>The New </i>MLA Commons<i> Platform: Getting Started</i><br/>
Presented by <a href="http://www.commons.mla.org"><i>MLA Commons</i></a>, booth 406</li>

<li class="program_entry">11:30 a.m.–12:20 p.m.<br/>
<i>Facilitating Classroom Discussion Using WordPress</i> (<a href="javascript:void(0)" onClick="openSimpleOverlay('wordpress_message'); return false;">learn more</a>)<br/>
Presented by <a href="http://automattic.com" target ="_blank">WordPress</a>, booth 115</li>

<li class="program_entry">12:30–1:20 p.m.<br/>
<i>The</i> MLA International Bibliography <i>and Other Literary Resources from ProQuest</i><br/>
Presented by <a href="http://www.proquest.com/en-US/" target="_blank">ProQuest</a>, booth 118</li>

<li class="program_entry">2:30–3:20 p.m.<br/>
<i>The New MLA</i> Job Information List<i>–Interfolio ByCommittee Service: Demonstration</i><br/>
Presented by the <a href="/jil_interfolio">MLA Job Information Service</a>, booth 406, and <a href="http://www.interfolio.com" target="_blank">Interfolio</a>, booth 224</li>
</ul>

<ul class="program_entry_list"><h3>Sunday, 6 January 2013</h3>
<li class="program_entry">
10:30–11:20 a.m.<br/>
<i>The New </i>MLA Commons<i> Platform: Planning Sessions for the 2014 MLA Convention</i><br/>
Presented by <a href="http://www.commons.mla.org"><i>MLA Commons</i></a>, booth 406</li>
</ul>

<div id="ebsco_message" style="display: none">
<h1><i>MLA International Bibliography</i> on <i>EBSCOhost</i></h1>

<h3>Presentation description:</h3>
<p>Produced by the Modern Language Association (MLA), the <i>MLA International Bibliography</i> offers a detailed bibliography of journal articles, books, and dissertations, containing over 2.3 million citations from more than 4,400 journals and series and 1,000 book publishers. Coverage is international in scope and includes nearly 60 titles from JSTOR’s language and literature collection, as well as links to full text.</p>

<p>In this demonstration, we will provide an overview of searching the <I>MLA International Bibliography</i> on the <i>EBSCOhost</i> platform, including tips for optimizing searches, linking to full text, managing saved searches, and using other valuable sorting and searching tools available on <i>EBSCOhost</i>. We will also demonstrate browsing and searching within the MLA’s proprietary thesaurus, the <i>MLA Directory of Periodicals</i>, and names-as-subjects authority files.</p>
</div>

<div id="wordpress_message" style="display: none">
<h1>Facilitating Classroom Discussion Using WordPress</h1>
<h3>Presentation description:</h3>
<p>Learn how WordPress, a Web-based, semantic publishing platform, can help facilitate and enhance classroom discussions, project work, and even dissertations.</p>
</div>
