<h1>MLA Statement on the Fair Use of Copyrighted Works</h1>
<i>The Executive Council approved the following statement at its May 2010 meeting.</i>

The Copyright Act of 1976 seeks to balance the protections of copyright with the advancement of knowledge by setting forth criteria for fair use. Under the doctrine of fair use, someone who does not own the copyright in a work may be entitled to make limited use of the work without permission for purposes "such as criticism, comment, news reporting, teaching . . . , scholarship, or research." This limitation on the rights of copyright owners enables teaching and scholarship in modern languages and literatures to flourish. The MLA urges scholars and publishers to exercise their rights under the fair use doctrine. For a detailed description of the factors involved in a fair use analysis, see "Fair Use of Copyrighted Works" in the <a href="/style_faq1"<i>MLA Style Manual and Guide to Scholarly Publishing</i>, 3rd ed.</a>, sec. 2.2.13.
