<h1><I>MLA Newsletter</i><BR>
Fall 2008</h1>
<h2>In This Issue</h2>
<table width="95%" border="0" align="left">
<tr align="left" valign="top"> 
<td width="6%">1</td>
<td width="94%"><b><i>Report on the</i> Job Information List, <i>2007–08</i></b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">3</td>
<td width="94%"><i><B>President's Column</B></i><BR>
<I>Gerald Graff</i><BR>
Argument over information</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">5</td>
<td width="94%"><i><B>Editor's Column</B></i><BR>
<I>Rosemary G. Feal</i><BR>
Back-to-school special</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">11</td>
<td width="94%"><b><i>Implementation of Revised MLA Documentation Style</i></b></td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2><b>BIBLIOGRAPHY</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">13</td>
<td width="94%"><i>MLA International Bibliography</i>
fellowships</i></td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2><b>BOOK NEWS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">11</td>
<td width="94%">Forthcoming new edition of <i>MLA
Handbook</i></td></tr>
<tr align="left" valign="top"> 
<td width="6%">13</td>
<td width="94%">Call for contributions to Approaches
series</td></tr>
<tr align="left" valign="top"> 
<td width="6%">13</td>
<td width="94%">Three new MLA titles published</td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>COMMITTEES</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">15</td>
<td width="94%">MLA committee meetings, October 2008–June 2009</td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>CONVENTION</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%">MLA to meet in San Francisco for its 124th annual convention</td></tr>
<tr align="left" valign="top"> 
<td width="6%">8</td>
<td width="94%">Child care arrangements</td></tr>
<tr align="left" valign="top"> 
<td width="6%">8</td>
<td width="94%">Accommodations and services for persons with disabilities</td></tr>
<tr align="left" valign="top"> 
<td width="6%">8</td>
<td width="94%">Travel assistance for advanced graduate students</td></tr>
<tr align="left" valign="top"> 
<td width="6%">9</td>
<td width="94%">Travel assistance for non-tenure-track faculty members and for the unemployed</td></tr>
<tr align="left" valign="top"> 
<td width="6%">9</td>
<td width="94%">Travel assistance for regular and life members residing outside the United States and Canada</td></tr>
<tr align="left" valign="top"> 
<td width="6%">9</td>
<td width="94%">2008 convention invitation</td></tr>
<tr align="left" valign="top"> 
<td width="6%">9</td>
<td width="94%">Program available for members with visual impairments</td></tr>
<tr align="left" valign="top"> 
<td width="6%">9</td>
<td width="94%">Meeting times for allied organizations</td></tr>
<tr align="left" valign="top"> 
<td width="6%">10</td>
<td width="94%">Using the MLA Job Information Center</td></tr>
<tr align="left" valign="top"> 
<td width="6%">11</td>
<td width="94%">ADE- and ADFL-sponsored sessions for job candidates and interviewers</td></tr>
<tr align="left" valign="top"> 
<td width="6%">12</td>
<td width="94%">Calls for papers for the 2009 convention in Philadelphia</td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>GOVERNANCE</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%">2008 election ballot to be mailed</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">6</td>
<td width="94%">Request for comments on Delegate Assembly resolutions</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%">Nominations for 2009 division executive committee elections </td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>GRANTS AND PRIZES</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">14</td>
<td width="94%">Competition open for MLA book
awards</td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>WEB SITE NEWS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%">2008 convention registration</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b><b>Other News and Announcements</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">11</td>
<td width="94%">Updated MLA recommendations on salaries for entry-level, full-time, and part-time faculty members</td></tr>
<tr align="left" valign="top"> 
<td width="6%">14</td>
<td width="94%">Honorary members and fellows</td></tr>
<tr align="left" valign="top"> 
<td width="6%">15</td>
<td width="94%">Fellowships and grants deadlines</td></tr>
<tr align="left" valign="top"> 
<td width="6%">16</td>
<td width="94%">Upcoming MLA deadlines</td></tr>
</table>
