<h1><I>MLA Newsletter</i><BR>
Fall 2004</h1>
<h2>In This Issue</h2>
<table width="95%" border="0" align="left">
<tr align="left" valign="top"> 
<td width="6%">1</td>
<td width="94%"><i><b>Phyllis Franklin, Executive Director Emerita, 1932-2004</b></i></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">3</td>
<td width="94%"><i><B>President's Column</B></i><BR>
<I>Robert Scholes</i><BR>
Some interesting developments</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">4</td>
<td width="94%"><i><B>Editor's Column</B></i><BR>
<I>Rosemary G. Feal</i><BR>
Mapping languages in the United States</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">6</td>
<td width="94%"><b><i>Report on the 2003-04</i> Job Information List</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">17</td>
<td width="94%"><b><i>New Director of Foreign Language Programs and of ADFL</i></b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">21</td>
<td width="94%"><b><i>The MLA Language Map</i></b></td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2><b>BIBLIOGRAPHY</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">6</td>
<td width="94%"><i>MLA Bibliography</i> announces new distributors</td></tr>
<tr align="left" valign="top"> 
<td width="6%">23</td>
<td width="94%">Field bibliographers invited</td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2><b>BOOK NEWS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">18</td>
<td width="94%">Call for contributions and ideas for Options for Teaching volume</td></tr>
<tr align="left" valign="top"> 
<td width="6%">18</td>
<td width="94%">Call for essay proposals for Options for Teaching volume</td></tr>
<tr align="left" valign="top"> 
<td width="6%">18</td>
<td width="94%">Call for contributions in Approaches series</td></tr>
<tr align="left" valign="top"> 
<td width="6%">19</td>
<td width="94%">Call for essays on teaching languages and literature online</td></tr>
<tr align="left" valign="top"> 
<td width="6%">19</td>
<td width="94%">Enhanced CD available for <i>Disability Studies: Enabling the Humanities</i></td></tr>
<tr align="left" valign="top"> 
<td width="6%">19</td>
<td width="94%">Three new MLA titles published</td></tr>
<tr align="left" valign="top">
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>COMMITTEES</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">22</td>
<td width="94%">MLA committee meetings, October 2004-May 2005</td>
</tr>
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>CONVENTION</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">12</td>
<td width="94%">Accommodations and services for persons with disabilities</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">12</td>
<td width="94%">Program available for members with visual impairments</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">12</td>
<td width="94%">Job clinic on business, government, and not-for-profit careers</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">12</td>
<td width="94%">Meeting times for allied organizations</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">13</td>
<td width="94%">MLA to meet in Philadelphia for its 120th annual convention</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">14</td>
<td width="94%">Child care arrangements</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">14</td>
<td width="94%">Travel assistance for advanced graduate students</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">15</td>
<td width="94%">Using the MLA Job Information Center</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">15</td>
<td width="94%">2004 convention invitation</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">16</td>
<td width="94%">Calls for papers for 2005 convention in Washington</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">17</td>
<td width="94%">ADE- and ADFL-sponsored sessions for job candidates
and interviewers</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>GOVERNANCE</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%">2004 election ballot to be mailed</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">11</td>
<td width="94%">Request for comments on Delegate Assembly resolutions</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">11</td>
<td width="94%">Proposed amendments to the MLA constitution</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">12</td>
<td width="94%">Nominations for 2005 division executive committee elections</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>GRANTS AND PRIZES</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">20</td>
<td width="94%">MLA Award for Lifetime Scholarly Achievement</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">20</td>
<td width="94%">Phyllis Franklin Award for Public Advocacy of the Humanities</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">20</td>
<td width="94%">Competition open for MLA book awards</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>MLA WEB SITE NEWS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%">Convention registration</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b><i>PMLA</i></b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">18</td>
<td width="94%"><i>PMLA</i> special topic: Cities</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">18</td>
<td width="94%">Electronic <i>PMLA</i></td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b><i>Other News and Announcements</i></b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">22</td>
<td width="94%">Letters on members' teaching awards sought</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">22</td>
<td width="94%">Honorary members and fellows</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">22</td>
<td width="94%">MLA fund subsidizes dues</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">23</td>
<td width="94%">Classified advertisements</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">23</td>
<td width="94%">Fellowships and grants deadlines</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">23</td>
<td width="94%">MLA policy on membership mailing-list rentals</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">24</td>
<td width="94%">Upcoming MLA deadlines</td>
</tr>

</table>
