<table>
<tr valign="bottom">
<td width="160px" height="160px"><img src="/IMAGES/rfeal.jpg" border="0" alt="Rosemary G. Feal"></td>
<td>
<h1>Rosemary G. Feal</h1>
Executive Director
<br/>
646 576-5102
<br/>
<a href="mailto:rfeal@mla.org">E-mail</a>
<br/><br/>
<a href="http://execdirector.commons.mla.org/">Read Rosemary G. Feal’s <i>MLA Newsletter</i> editor’s columns</a>
<br/>
<a href="http://twitter.com/rgfeal" target="_blank">Follow Rosemary G. Feal on <i>Twitter</i></a>
</td></tr>
</table>
<p>
Since 2002, Rosemary G. Feal has served as executive director of the Modern Language Association of America. She administers the business affairs, programs, and governance of the association; is general editor of the association’s publishing and research programs and editor of two association publications; serves as an ex officio member of all committees and commissions of the association; chairs the committee that oversees the planning of the association’s annual convention; and is a member of the MLA Executive Council’s audit and advisory committees, working with the MLA’s trustees in evaluating and implementing investments of the MLA’s endowment funds and chairing the Finance Committee. She is on leave from her position as professor of Spanish at the University at Buffalo, State University of New York, where she was chair of the Department of Modern Languages and Literatures. From 1987 to 1998 she was a member of the faculty at the University of Rochester. A member of the Board of Directors of the National Humanities Alliance and a past vice president of that organization, she also served on the Board of Directors of the American Council of Learned Societies. 
</p>

<p>
Rosemary Feal was a 2011–12 American Council on Education Fellow at the Five Colleges, Incorporated (Amherst, Hampshire, Mount Holyoke, and Smith Colleges and the University of Massachusetts, Amherst). Working with the executive director of the Five Colleges consortium and the presidents of Smith and Mount Holyoke Colleges, she participated in all aspects of academic and campus life, including strategic planning, admissions, curriculum, development, and alumnae relations.
</p>
<p>
Coeditor of the SUNY Series in Latin American Iberian Thought and Culture, Rosemary Feal is also an associate editor of the <i>Afro-Hispanic Review</i> and former senior consulting editor of the <i>Latin American Literary Review</i>. She has published on contemporary Latin American literature, Afro-Hispanic studies, Caribbean women writers, and feminist theory. Her book publications include <i>Isabel Allende Today</i> (coeditor; 2002); <i>Painting on the Page: Interartistic Approaches to Modern Hispanic Texts</i> (coauthor; 1995); and <i>Novel Lives: The Fictional Autobiographies of Guillermo Cabrera Infante and Mario Vargas Llosa</i> (author; 1986). Recently she has written on the majors in English and other languages and on liberal learning for <i>Liberal Education</i> (2009) as well as on the foreign language teaching community for <i>Modern Language Journal</i> (2008). 
</p>
<p>
Rosemary Feal speaks frequently on the state of the humanities, the academic workforce, world languages and literatures, and foreign language studies. Her talks often address projects that she has spearheaded at the MLA, including those that respond to the need to create a national agenda for foreign language learning, to strengthen college and university language programs nationwide, and to establish protocols for evaluating scholarly publications for tenure and promotion.
</p>
<p>
She earned a PhD in Spanish from the University at Buffalo, State University of New York, and a BA from Allegheny College. Rosemary Feal also completed the Bachillerato en Letras at the Instituto Belga Guatemalteco (Guatemala) and studied abroad in France and Spain.
</p>
