<h1>Financial Assistance, Scholarships, and Prizes and Awards</h1>

<a href="/mla_fund" target="new">Subsidized MLA membership</a>
<a href="/conv_travel_assist" target="new">Subsidized travel to the MLA convention</a>
<a href="/grad_portal_schships" target="new">Scholarships</a>
<a href="/awards_submissions" target="new">MLA prizes and awards</a>
			
Financial assistance offered by the <a href="http://www.umass.edu/wcml/" target="new">Women's Caucus for the Modern Languages</a> (WCML):
<ul><li>Florence Howe Award for Feminist Scholarship</li>
<li>WCML Travel Grant</li></ul>
Prizes in comparative literature offered by the <a href="http://www.acla.org" target="new">American Comparative Literature Association</a> (ACLA)

Other prizes, awards, and financial assistance may be available from <a href="/related_org" target="new">related professional organizations</a>.
