<h1>MLA Fiscal Year and Contribution Allocation</h1>
The MLA fiscal year runs from 1 September through 31 August. The membership enrollment period runs from 18 July through 30 June.  Contributions made to restricted funds after 30 June will be credited to the following fiscal year.

<a href="/contributors">Return to Leading Contributors page</a>.
