<h1>Forthcoming Meetings and Conferences of General Interest</h1>
<blockquote><i>This listing is updated around the first and fifteenth of each month. The entries remain posted until  the date of the meeting or conference has passed. New items may be submitted to Forthcoming Meetings and Conferences, Modern Language Association, 26 Broadway, 3rd floor, New York, NY 10004-1789 (fax: 646 458-0030; <a href="mailto:fmc@mla.org">fmc@mla.org</a>).</i></blockquote> 

<b>Linguistic Society of America,</b> 2–5 Jan. 2014, Minneapolis. <i>Inquiries</i> <a href="http://www.linguisticsociety.org/event/lsa-2014-annual-meeting#paperposter" target="_blank">http://www.linguisticsociety.org/event/lsa-2014-annual-meeting#paperposter</a>

<b>Hawaii International Conference on Education,</b> 5–8 Jan. 2014, Honolulu. <i>Inquiries</i> Hawaii Intl. Conf. on Educ., PO Box 75036, Honolulu 96836 (<a href="mailto:education@hiceducation.org">education@hiceducation.org</a>; <a href="http://www.hiceducation.org" target="_blank">http://www.hiceducation.org</a>)

<b>Modern Language Association,</b> 9–12 Jan. 2014, Chicago. <i>Inquiries</i> Convention Office, MLA, 26 Broadway, 3rd floor, New York, NY 10004-1789 (<a href="mailto:convention@mla.org">convention@mla.org</a>; <a href="http://www.mla.org/convention">http://www.mla.org/convention</a>)

<b>Development and Assessment of Intercultural Competence: Preparing and Supporting K–16 Language Teachers to Teach for Intercultural Competence in and beyond the Classroom,</b> 23–26 Jan. 2014, Univ. of Arizona. <i>Deadline for proposals</i> 1 Apr. 2013. <i>Inquiries</i> <a href="http://cercll.arizona.edu/development/conferences/2014_icc" target="blank">http://cercll.arizona.edu/development/conferences/2014_icc</a>

<b>Austria and America: Cross-Cultural Encounters, 1933–55,</b> 24–25 Jan. 2014, Univ. of Salzburg. <i>Deadline for proposals</i> 15 Aug. 2013. <i>Inquiries</i> <a href="mailto:joshua.parker@sbg.ac.at">joshua.parker@sbg.ac.at</a>

<b>The Burroughs Century: Celebrating the Legacy of William S. Burroughs,</b> 5–9 Feb. 2014, Bloomington, IN. <i>Deadline for proposals</i> 15 Nov. 2013. <i>Inquiries</i> <a href="mailto:theburroughscentury@gmail.com">theburroughscentury@gmail.com</a>  

<b>Catastrophes and the Apocalyptic in the Middle Ages and Renaissance,</b> 6–8 Feb. 2014, Scottsdale. <i>Deadline for proposals </i>21 Nov. 2013. <i>Inquiries</i> Erin McCarthy (480 965-4661; <a href="mailto:erin.a.mccarthy@asu.edu">erin.a.mccarthy@asu.edu</a>); <a href="http://www.acmrs.org/conferences/annual-acmrs-conference" target="blank">http://www.acmrs.org/conferences/annual-acmrs-conference</a> 

<b>Writing the Archive,</b> 7 Feb. 2014, Univ. of Burgundy, Dijon. <i>Deadline for proposals</i> 1 Oct. 2013. <i>Inquiries</i> Fiona McMahon (<a href="mailto:Fiona.McMahon@u-bourgogne.fr">Fiona.McMahon@u-bourgogne.fr</a>) or Sophie Aymes (<a href="mailto:sophie.aymes@hotmail.fr">sophie.aymes@hotmail.fr</a>); <a href="http://www.fabula.org/actualites/ecrire-l-archive_58058.php" target="blank">http://www.fabula.org/actualites/ecrire-l-archive_58058.php</a>

<b>Technology, Rhetoric, and Cultural Change: Walter J. Ong, SJ, in the Age of Google, Facebook, and Twitter,</b> 7–8 Feb. 2014, Gonzaga Univ. <i>Deadline for proposals</i> 1 Sept. 2013. <i>Inquiries</i> <a href="mailto:walterongconference@gmail.com">walterongconference@gmail.com</a>; <a href="http://www.gonzaga.edu/ongconf" target="blank">http://www.gonzaga.edu/ongconf</a>

<b>Shaping the Future of Foreign / Second Language Education to Cross-Cultural Boundaries: Integrating Theory and Practice,</b> 14–15 Feb. 2014, Univ. of Texas, Austin. <i>Deadline for proposals</i> 1 Dec. 2013. <i>Inquiries</i> <a href="mailto:texfleccommittee@gmail.com">texfleccommittee@gmail.com</a>; <a href="http://www.utexas.edu/cola/centers/tlc/texflec-2014/texFLEC-20142.php" target="_blank">http://www.utexas.edu/cola/centers/tlc/texflec-2014/texFLEC-20142.php</a>

<b>Humanities Education and Research Association: Humane, Inhumane, Human,</b> 27 Feb.–1 Mar. 2014, Washington, DC. <i>Deadline for submissions</i> 24 Oct. 2013. <i>Inquiries</i> Marcia Green (<a href="mailto:mgreen@sfsu.edu">mgreen@sfsu.edu</a>), Sarita Cannon (<a href="mailto:sncannon@hotmail.com">sncannon@hotmail.com</a>), and Erin McCoy (<a href="mailto:erin_mccoy@hotmail.com">erin_mccoy@hotmail.com</a>); <a href="http://www.h-e-r-a.org" target="blank">http://www.h-e-r-a.org</a>

<b>Louisiana Conference on Hispanic Languages and Literatures: Mobilities and Moorings,</b> 27 Feb–1 Mar. 2014, Louisiana State Univ., Baton Rouge. <i>Deadline for abstracts</i> 1 Oct. 2013. <i>Inquiries</i> Jeremy King or Andrea Morris (<a href="mailto:lsuchll2014@gmail.com">lsuchll2014@gmail.com</a>); <a href="http://lsuchll2014.weebly.com" target="_blank">http://lsuchll2014.weebly.com</a>

<b>Teaching French as a Foreign Language,</b> 27 Feb.–1 Mar. 2014, Univ. of Puerto Rico. <i>Deadline for submissions</i> 30 Oct. 2013. <i>Inquiries</i> <a href="http://colloquefle2014.wordpress.com">http://colloquefle2014.wordpress.com</a>

<b>AIZEN Conference: Émile Zola and Naturalism,</b> 6–8 Mar. 2014, Univ. of New Orleans. <i>Deadline for proposals</i> 15 Aug. 2013. <i>Inquiries</i> Anna Gural-Migdal, Dept. of Mod. Langs. and Cultural Studies, Univ. of Alberta, 200 Arts Bldg., Edmonton, AB T6G 2E6, Canada (780 431-1713; fax: 780 492-9106; <a href="mailto:aguralm@ualberta.ca">aguralm@ualberta.ca</a>; <a href="http://www.ualberta.ca/~aizen/events/NewOrleans2014/callforpapers.html">http://www.ualberta.ca/~aizen/events/NewOrleans2014/callforpapers.html</a>)

<b>Brevity,</b> 6–8 Mar. 2014, Western Univ., Ontario. <i>Deadline for submissions</i> 1 Jan. 2014 (<a href="mailto:brevitywestern@gmail.com">brevitywestern@gmail.com</a>).  <i>Inquiries</i> <a href="http://brevitywestern.wordpress.com/">http://brevitywestern.wordpress.com/</a>; <a href="https://www.facebook.com/pages/Brevity-16th-Annual-MLL-Graduate-Student-Conference-Western-University/298503356957123">https://www.facebook.com/pages/Brevity-16th-Annual-MLL-Graduate-Student-Conference-Western-University/298503356957123</a>

<b>New College Conference on Medieval and Renaissance Studies,</b> 6–9 Mar. 2014, Sarasota. <i>Deadline for abstracts</i> 15 Sept. 2013 (abstracts@newcollegeconference.org). <i>Inquiries</i> <a href="mailto:info@newcollegeconference.org">info@newcollegeconference.org</a>; <a href="http://www.newcollegeconference.org" target="_blank">http://www.newcollegeconference.org</a>

<b>IUP EGO Interdisciplinary Conference,</b> 7–8 Mar. 2014, Indiana, PA. <i>Deadline for proposals</i> 15 Jan. 2014. <i>Inquiries</i> <a href="mailto:iupego2014conference@gmail.com">iupego2014conference@gmail.com</a>; <a href="http://www.iup.edu/page.aspx?id=40981" target="_blank">http://www.iup.edu/page.aspx?id=40981</a>

<b>International Symposium on Ideology, Politics, and Demands in Spanish Language, Literature, and Film: Images of Women in Hispanic Literature and Media,</b> 20–22 Mar. 2014, online. <i>Inquiries</i> <a href="http://www.csub.edu/~tfernandez_ulloa/simposio4/">http://www.csub.edu/~tfernandez_ulloa/simposio4/</a>

<b>Society for the Interdisciplinary Study of Social Imagery: The Image of the Hero in Literature, Media, and Society,</b> 20–22 Mar. 2014, Colorado Springs. <i>Deadline for abstracts</i> 9 Dec. 2013 (<a href="mailto:hero@colostate-pueblo.edu">hero@colostate-pueblo.edu</a>). <i>Inquiries</i> Will Wright, Sociology Dept., Colorado State Univ., Pueblo 81001-4901 (719 549-2538; fax: 719 549-2705; <a href="mailto:will.wright@colostate-pueblo.edu">will.wright@colostate-pueblo.edu</a>) or Steven Kaplan (<a href="mailto:skaplan@newhaven.edu">skaplan@newhaven.edu</a>)

<b>Autobiographical Space: Film, Literature, and Historiography,</b> 20–23 Mar. 2014, New York Univ. <i>Deadline for proposals</i> 15 Nov. 2013. <i>Inquiries</i> Patricia López-Gay (<a href="mailto:plopezga@bard.edu">plopezga@bard.edu</a>); <a href="http://acla.org/acla2014/autobiographical-space-film-literature-and-historiography/">http://acla.org/acla2014/autobiographical-space-film-literature-and-historiography/</a>

<b>Congreso Internacional de Literatura Centroamericana,</b> 26–28 Mar. 2014, Quezaltenango, Guatemala. <i>Deadline for proposals</i> 20 Jan. 2014. <i>Inquiries</i> Jorge Roman-Lagunas (219 989-2379; <a href="mailto:roman@purduecal.edu">roman@purduecal.edu</a>)

<b>Society for the Study of Southern Literature: Other Souths—Approaches, Alliances, Antagonisms,</b> 27–29 Mar. 2014, Arlington, VA. <i>Deadline for proposals</i> 15 Dec. 2013. <i>Inquiries</i> <a href="mailto:southernlit2014@gmail.com">southernlit2014@gmail.com</a>; <a href="http://southernlit.org/conference/" target="_blank">http://southernlit.org/conference/</a>

<b>Southwest Council of Latin American Studies,</b> 27–29 Mar. 2014, San Diego. <i>Deadline for proposals</i> 20 Dec. 2013. <i>Inquiries</i> <a href="mailto:SCOLAS@txstate.edu">SCOLAS@txstate.edu</a>; <a href="http://www.modlang.txstate.edu/scolas">http://www.modlang.txstate.edu/scolas</a>  

<b>Alliance for the Study of Adoption and Culture: Adoption—Crossing Boundaries,</b> 27–30 Mar. 2014, Florida State Univ. <i>Deadline for proposals</i> 15 July 2013. <i>Inquiries</i> Eric Walker (<a href="mailto:ewalker@fsu.edu">ewalker@fsu.edu</a>; <a href="mailto:asac2014@fsu.edu">asac2014@fsu.edu</a>)

<b>Theorizing Fieldwork in the Humanities,</b> 28–29 Mar. 2014, Univ. of Pittsburgh. <i>Deadline for papers</i> 1 Mar. 2014.<i> Inquiries</i> Shalini Puri (<a href="mailto:spuri@pitt.edu">spuri@pitt.edu</a>) and Debra Castillo (<a href="mailto:dac9@cornell.edu">dac9@cornell.edu</a>) 

<b>Building Connections: The Changing Face of Romance Studies,</b> 3–5 Apr. 2014, Chapel Hill. <i>Deadline for proposals</i> 1 Dec. 2013. <i>Inquiries</i> <a href="http://ccrl.unc.edu">http://ccrl.unc.edu</a> 

<b>European Association for American Studies: Cold War Complications—Voices from the Center,</b> 3–6 Apr. 2014, The Hague. <i>Deadline for proposals</i> 1 Oct. 2013. <i>Inquiries</i> <a href="mailto:Joshua.parker@sbg.ac.at">Joshua.parker@sbg.ac.at</a>

<b>Northeast Modern Language Association,</b> 3–6 Apr. 2014, Susquehanna Univ. <i>Deadline for abstracts</i> 30 Sept. 2013. <i>Inquiries</i> <a href="http://nemla.org/convention/2014/index.html" target="_blank">http://nemla.org/convention/2014/index.html</a>

<b>KFLC: The Languages, Literatures, and Cultures Conference,</b> 10–12 Apr. 2014, Univ. of Kentucky. <i>Deadline for abstracts</i> 11 Nov. 2013. <i>Inquiries</i> KFLC, Univ. of Kentucky, Lexington 40506 (<a href="mailto:kflc@uky.edu">kflc@uky.edu</a>; <a href="https://kflc.as.uky.edu">https://kflc.as.uky.edu</a>) 

<b>University of Wisconsin Graduate Association of French and Italian Students Symposium: Negotiating Aesthetic Hierarchies,</b> 11–12 Apr. 2014, Univ. of Wisconsin, Madison. <i>Deadline for abstracts</i> 18 Jan. 2014. <i>Inquiries</i> <a href="mailto:gafis2014@gmail.com">gafis2014@gmail.com</a>; <a href="http://gafis.frit.wisc.edu/" target="_blank">http://gafis.frit.wisc.edu/</a>

<b>German Research Foundation: Allegory,</b> 23–27 Apr. 2014, Lake Como, Italy. <i>Deadline for submissions</i> 1 Mar. 2013. <i>Inquiries</i> Friedrich Teja Bach (<a href="mailto:friedrich.bach@univie.ac.at">friedrich.bach@univie.ac.at</a>), Ulla Haselstein (<a href="mailto:ulla.haselstein@fu-berlin.de">ulla.haselstein@fu-berlin.de</a>), Bettine Menke (<a href="mailto:avl@uni-erfurt.de">avl@uni-erfurt.de</a>), or Daniel L. Selden (<a href="mailto:dlselden@sbcglobal.net">dlselden@sbcglobal.net</a>) 

<b>Dominican Studies Association: Making a Difference,</b> 1–2 May 2014, Naugatuck Valley Community Coll. <i>Deadline for proposals</i> 1 Nov. 2013. <i>Inquiries</i> <a href="http://dsa-conference-2014.eventbrite.com/">http://dsa-conference-2014.eventbrite.com/</a> 

<b>Collections in Flux: The Dynamic Spaces and Temporalities of Collecting,</b> 9–10 May 2014, Univ. of California, Los Angeles. <i>Inquiries</i> <a href="http://materialcultures.ucr.edu/events/collections-in-flux/">http://materialcultures.ucr.edu/events/collections-in-flux/</a> 

<b>International Association of Literary Journalism Studies,</b> 15–17 May 2014, American Univ. of Paris. <i>Deadline for submissions</i> 1 Dec. 2013. <i>Inquiries</i> <a href="mailto:wdow@aup.edu">wdow@aup.edu</a> 

<b>International Linguistic Association, </b>22–24 May 2014, Université de Paris II. <i>Deadline for abstracts</i> 13 Jan. 2014 (<a href="mailto:awendt@ilaword.org">awendt@ilaword.org</a>). <i>Inquiries </i>Kathleen O’Connor-Bater (<a href="mailto:oconnorbaterk@oldwestbury.edu">oconnorbaterk@oldwestbury.edu</a>) or Kathryn English (<a href="mailto:kathryn.english@u-paris2.fr">kathryn.english@u-paris2.fr</a>)

<b>International Association for Biography and Autobiography: Auto/Biography in Transit,</b> 29 May–1 June 2014, Alberta. <i>Deadline for proposals</i> 10 Sept. 2013. <i>Inquiries</i> <a href="mailto:iaba2014@gmail.com">iaba2014@gmail.com</a>; <a href="https://sites.google.com/a/ualberta.ca/iaba-2014/home">https://sites.google.com/a/ualberta.ca/iaba-2014/home</a> or <a href="http://msa.press.jhu.edu/">http://msa.press.jhu.edu/</a>

<b>Law and Humanities Junior Scholar Workshop,</b> 8–9 June 2014, Univ. of Southern California. <i>Deadline for submissions</i> 6 Jan. 2014. <i>Inquiries</i> Cindy Gao (212 854-0167; <a href="mailto:culture@law.columbia.edu">culture@law.columbia.edu</a>) 

<b>Aphra Behn Society of Europe: Aphra Behn and the Challenges of Genre,</b> 12–14 June 2014, Univ. of Huelva, Spain. <i>Inquiries</i> <a href="mailto:aphra.behn@dfing.uhu.es">aphra.behn@dfing.uhu.es</a>; <a href="http://www.aphrabehneurope.org/conferences.php">http://www.aphrabehneurope.org/conferences.php</a>

<b>Nathaniel Hawthorne Society: Hawthorne in the Berkshires,</b> 12–15 June 2014, Massachusetts Coll. of Liberal Arts. <i>Deadline for abstracts</i> 30 Jan. 2014. <i>Inquiries</i> Jason Courtmanche (<a href="mailto:hawthorne.berkshires@gmail.com">hawthorne.berkshires@gmail.com</a>)

<b>Summer Institute for Israel Studies,</b> 16–30 June 2014, Brandeis Univ.; 1–10 July 2014, Israel. <i>Inquiries</i> <a href="http://www.brandeis.edu/israelcenter/SIIS/index.html">http://www.brandeis.edu/israelcenter/SIIS/index.html</a>

<b>The Epic Side of Truth: Narration and Knowledge in the German Literary Tradition,</b> 16 June–25 July 2014, Cornell Univ. <i>Deadline for applications</i> 1 Mar. 2014. <i>Inquiries</i> Paul Fleming (<a href="mailto:paul.fleming@cornell.edu">paul.fleming@cornell.edu</a>) or Olga Petrova (<a href="mailto:ogp2@cornell.edu">ogp2@cornell.edu</a>), Inst. for German Cultural Studies, Cornell Univ., 726 University Ave., Ithaca, NY 14850 (607 255-8408; fax: 607 255-1454)

<b>Diverging Diversities: Plurality in Children’s and Young-Adult Literature Then and Now,</b> 19–21 June 2014, Univ. of South Carolina, Columbia. <i>Inquiries</i> <a href="http://chlaconference.org">http://chlaconference.org</a>

<b>Asian Law and Economics Association,</b> 20–21 June 2014, National Taiwan Univ. <i>Deadline for abstracts</i> 15 Feb. 2014. <i>Inquiries</i> <a href="mailto:asian.lawecon@gmail.com">asian.lawecon@gmail.com</a>; <a href="http://www.aslea.org/" target="_blank">http://www.aslea.org/</a>

<b>International D. H. Lawrence Conference,</b> 23–27 June 2014, Gargnano, Italy. <i>Deadline for graduate fellowship applications and abstracts</i> 10 Dec. 2013. <i>Inquiries</i> <a href="mailto:bsargent@ualberta.ca">bsargent@ualberta.ca</a>; <a href="http://www.dhlsna.com/GargnanoConfHome.htm" target="_blank">http://www.dhlsna.com/GargnanoConfHome.htm</a> 

<b>Democracy and the Arts in the Contemporary Hispanic World,</b> 25–27 June 2014, Univ. of Birmingham, United Kingdom. <i>Deadline for proposals</i> 20 Dec. 2013. <i>Inquiries</i> <a href="mailto:f.lough@bham.ac.uk">f.lough@bham.ac.uk</a> 

<b>International Conference on Conversation Analysis,</b> 25–29 June 2014, Univ. of California, Los Angeles. <i>Deadline for papers</i> 1 July 2013. <i>Inquiries</i> <a href="mailto:icca14@ssc.ucla.edu">icca14@ssc.ucla.edu</a>; <a href="http://icca14.sscnet.ucla.edu/" target="_blank">http://icca14.sscnet.ucla.edu/</a>

<b>Congreso Internacional de la Asociación Hispánica de Humanidades,</b> 26–28 June 2014, Santiago de Compostela, Spain. <i>Inquiries</i> <a href="mailto:VIICongresoAHH@gmail.com">VIICongresoAHH@gmail.com</a>; <a href="http://ahh.academic.wlu.edu/congreso/" target="_blank">http://ahh.academic.wlu.edu/congreso/</a>  

<b>World Congress of Scottish Literatures,</b> 2–5 July 2014, Univ. of Glasgow. <i>Deadline for abstracts</i> 30 Apr. 2013. <i>Inquiries</i> <a href="mailto:scottishliteraturecongress2014@glasgow.ac.uk">scottishliteraturecongress2014@glasgow.ac.uk</a> 

<b>The Afterlives of Pastoral,</b> 4–5 July 2014, Univ. of Queensland, Brisbane. <i>Deadline for proposals</i> 10 Jan. 2014. <i>Inquiries</i> Jude Seaboyer (61 7 3365 2135; fax: 61 7 3365 2799; <a href="mailto:j.seaboyer@uq.edu.au">j.seaboyer@uq.edu.au</a>; <a href="http://www.emsah.uq.edu.au/index.html?page=204907&pid=177854">http://www.emsah.uq.edu.au/index.html?page=204907&pid=177854</a>) 

<b>Jewish Buenos Aires,</b> 7–25 July 2014, Buenos Aires, Argentina. <i>Inquiries</i> David Foster (<a href="mailto:david.foster@asu.edu">david.foster@asu.edu</a>); <a href="https://sites.google.com/a/asu.edu/foster-jewish-buenos-aires/" target="_blank">https://sites.google.com/a/asu.edu/foster-jewish-buenos-aires/</a> 

<b>George Herbert and Emily Dickinson,</b> 7 July–8 Aug. 2014, Univ. of Chicago. <i>Inquiries</i> Richard Strier (<a href="mailto:rastrier@uchicago.edu">rastrier@uchicago.edu</a>); <a href="http://lucian.uchicago.edu/blogs/neh2014herbert-dickinson/" target="_blank">http://lucian.uchicago.edu/blogs/neh2014herbert-dickinson/</a> 

<b>Imagining Latina/o Studies: Past, Present, and Future,</b> 17–19 July 2014, Chicago. <i>Deadline for proposals</i> 1 Dec. 2013. <i>Inquiries</i> <a href="mailto:latinostudiesconference@gmail.com">latinostudiesconference@gmail.com</a>; <a href="https://www.facebook.com/groups/latinostudiesinitiative/">https://www.facebook.com/groups/latinostudiesinitiative/</a> 

<b>International Society for the Empirical Study of Literature and Media,</b> 21–25 July 2014, Turin, Italy. <i>Inquiries</i> <a href="http://www.igel2014.unito.it/index.php/call-for-papers">http://www.igel2014.unito.it/index.php/call-for-papers</a> 

<b>International Conference on Mediaeval and Renaissance Scottish Language and Literature,</b> 28–31 July 2014, Bochum, Germany. <i>Inquiries</i> Luuk Howen (<a href="mailto:luuk.howen@t-online.de">luuk.howen@t-online.de</a>)

<b>Tragedy as Philosophy: A Seminar with Simon Critchley, </b>2–9 Aug. 2014, Tilburg, Holland. <i>Inquiries</i> <a href="http://www.tilburgphilosophysummerschool.com/">http://www.tilburgphilosophysummerschool.com/</a>

<b>Federated Conference on Computer Science and Information Systems,</b> 7–10 Sept. 2014, Warsaw, Poland. <i>Deadline for proposals</i> 18 Oct. 2013. <i>Inquiries</i> <a href="mailto:secretariat@fedcsis.org">secretariat@fedcsis.org</a>; <a href="https://fedcsis.org/2014/node/20">https://fedcsis.org/2014/node/20</a>

<b>GEMELA: Grupo de Estudios sobre la Mujer en España y las Américas (pre-1800),</b> 8–10 Sept. 2014, Lisbon, Portugal. <i>Inquiries</i> <a href="http://www.gemela.org" target="_blank">http://www.gemela.org</a>  

<b>English Studies as Archive and as Prospecting: Eighty Years of English Studies in Zagreb,</b> 18–21 Sept. 2014, Zagreb, Croatia. <i>Deadline for proposals</i> 1 Mar. 2014. <i>Inquiries</i> <a href="http://www.ffzg.unizg.hr/engconference14/">http://www.ffzg.unizg.hr/engconference14/</a>

<b>A Matter of Lifedeath,</b> 1–4 Oct. 2014, Univ. of Manitoba. <i>Deadline for submissions</i> 9 Dec. 2013. <i>Inquiries</i> <a href="mailto:mosaconf@ad.umanitoba.ca">mosaconf@ad.umanitoba.ca</a>; <a href="https://wwwapps.cc.umanitoba.ca/publications/mosaic/common/lifedeath" target="_blank">https://wwwapps.cc.umanitoba.ca/publications/mosaic/common/lifedeath</a> 

<b>Autobiography,</b> 2–4 Oct. 2014, Södertörn Univ., Stockholm. <i>Deadline for abstracts</i> 1 Mar. 2014. <i>Inquiries</i> <a href="mailto:autobiography2014@hotmail.com">autobiography2014@hotmail.com</a>; <a href="http://www.sh.se/autobiography" target="_blank">http://www.sh.se/autobiography</a>  

<b>How the “Big Data” Viewpoint Is Reshaping the Humanities, </b>5–6 Oct. 2014, Dartmouth Coll. <i>Deadline for applications</i> 15 Feb. 2014. <i>Inquiries</i> <a href="mailto:Humanities.Big.Data.Conference@Dartmouth.edu">Humanities.Big.Data.Conference@Dartmouth.edu</a>; <a href="http://www.math.dartmouth.edu/hbd/">http://www.math.dartmouth.edu/hbd/</a>

<b>Pacific Ancient and Modern Language Association,</b> 31 Oct.–2 Nov. 2014, Riverside, CA. <i>Inquiries</i> <a href="http://www.pamla.org/conference">http://www.pamla.org/conference</a>

<b>American Musicological Society,</b> 6–9 Nov. 2014, Milwaukee. <i>Deadline for proposals</i> 15 Jan. 2014. <i>Inquiries</i> <a href="http://www.ams-net.org/">http://www.ams-net.org/</a>

<b>Midwest Modern Language Association, </b>13–16 Nov. 2014, Detroit. <i>Deadline for proposals</i> 1 Mar. 2014. <i>Inquiries</i> <a href="http://www.luc.edu/mmla/annualconvention.html" target="_blank">http://www.luc.edu/mmla/annualconvention.html</a>

<b>National Women’s Studies Association,</b> 13–16 Nov. 2014, San Juan, PR. <i>Inquiries</i> <a href="http://www.nwsa.org/content.asp?pl=15&sl=67&contentid=67" target="_blank">http://www.nwsa.org/content.asp?pl=15&sl=67&contentid=67</a>

<b>Modern Language Association,</b> 8–11 Jan. 2015, Vancouver. <i>Inquiries</i> Convention Office, MLA, 26 Broadway, 3rd floor, New York, NY 10004-1789 (<a href="mailto:convention@mla.org">convention@mla.org</a>; <a href="http://www.mla.org/convention" target="_blank">http://www.mla.org/convention</a>)

<b>American Musicological Society,</b> 12–15 Nov. 2015, Louisville. <i>Deadline for proposals</i> 15 Jan. 2015. <i>Inquiries</i> <a href="http://www.ams-net.org/" target="_blank">http://www.ams-net.org/</a> 

<b>Midwest Modern Language Association,</b> 12–15 Nov. 2015, Columbus. <i>Deadline for proposals</i> 1 Mar. 2015. <i>Inquiries</i> <a href="http://www.luc.edu/mmla/annualconvention.html" target="_blank">http://www.luc.edu/mmla/annualconvention.html</a>

<b>National Women’s Studies Association,</b> 12–15 Nov. 2015, Milwaukee. <i>Inquiries</i> <a href="http://www.nwsa.org/content.asp?pl=15&sl=67&contentid=67" target="_blank">http://www.nwsa.org/content.asp?pl=15&sl=67&contentid=67</a>
