<h1>Governance</h1>
[[[insert page index]]]
[[[comment]]]<a href="/proposed_amendment">Proposed Amendment to the Constitution</a> <i>Official Notice</i>[[[endcomment]]]
The association is governed by an executive council, elected by the membership and serving as the board of directors for the organization, which is incorporated under the laws of the State of Maryland, and by a delegate assembly, which advises and acts on association policies. Under the constitution, the council is empowered to appoint and charge committees, which in turn carry out specific responsibilities. The <a href="/mla_constitution">MLA constitution</a> gives a complete description of the duties and powers of these bodies and of the officers of the association. The coordinator of governance can provide additional information on governance questions (<a href="mailto:governance@mla.org">governance@mla.org</a>).

<h2>Finding Out the Actions of the Executive Council, Delegate Assembly, and Committees</h2>
The minutes of Executive Council meetings are published in <i>PMLA</i> and, beginning with the 2005 meetings, are available <a href="/minmla_execmtgpdf1616">online</a>. Normally, the minutes of the council's February meeting appear in the October issue, minutes of the May meeting appear in January, and minutes of the October meeting appear in May. Articles highlighting council actions appear regularly in the <i>MLA Newsletter</i>. A brief summary of Delegate Assembly actions is normally published in the Spring issue of the <i>Newsletter</i>. The complete minutes of Delegate Assembly meetings are published each year in the May <i>PMLA</i> and, beginning with the 2005 meeting, are available <a href="/del_assembly_min05">online</a>. Reports on committee activities appear occasionally in the <i>Newsletter</i> and in other association publications. Members interested in the activities of a particular committee should write to the committee chair or to the committee's staff liaison. (Chairs and liaisons are indicated in the list of <a href="/committees">committees</a>.)
