<h1>Related Web Links</h1>
The mission of the Committee on the Status of Graduate Students in the Profession is to "consider a range of curricular, intellectual, and professional issues that affect graduate students in language and literature." One component of that mission is to provide information for graduate students. Therefore, the committee has created this list of annotated links in fields of interest to graduate students, covering topics such as completing the dissertation, organizing a student union, developing teaching skills, and applying for jobs.
[[[insert page index]]]
<h2>Acknowledgments</h2>
This list was created by Felicia L. Carr with help from Ellie Kennedy. Please help the committee keep the list useful and interesting by <a href="mailto:csgsp@mla.org">writing</a> with additional links. 
