<h1>A Letter from the Committee</h1>

Dear Graduate Student Member,

	The Committee on the Status of Graduate Students in the Profession would like to join the executive director in welcoming you to the Modern Language Association. As graduate students ourselves, we want to help you make the most of what the MLA has to offer, to assist you in maximizing your graduate student experiences, and to bring graduate student concerns to the MLA. The association has many activities and publications of direct interest to graduate students: informational handouts, a guide to graduate programs, the annual convention, the <I>Job Information List</I>,* journals such as <I>PMLA</I> and the annual <I>Profession</I>. Our Web page provides links to additional resources for graduate students. There you can find information on completing a dissertation and on starting a job search, links to funding resources, c.v. and dossier services, facts about graduate students' rights, unionization and teaching resources, and much more. A good place to start is "<a href="http://www.mla.org/services_for_graduat">Services for Graduate Students</a>," located in the "<a href="http://www.mla.org/resources">Professional Resources</a>" section of the MLA Web site. 

Since its founding in 1998, the Committee on the Status of Graduate Students in the Profession has sought to bring important student issues to the attention of the association's governing bodies and to ensure that students have access to all resources and opportunities provided by the association. The graduate student experience has many variations, but for some students it can be a period of isolation and concern about their futures and the future of the profession. Getting involved in the association now, as a new member, can help you respond to the challenges of graduate student life. We can work together to change the profession for the better and to assist our fellow graduate students in creating a positive experience.

	The committee encourages you to contact us with questions and comments, so that we may better represent your interests. Your feedback helps ensure that we are addressing relevant issues. Please feel free to visit our Web page, <a href="http://www.mla.org/comm_grad">www.mla.org/comm_grad</a>. We look forward to hearing from you.

Sincerely,
The Committee on the Status of Graduate Students in the Profession

Tena L. Helton, 2005-08
Sara Clarke Kaplan, 2003-06; 2004-06 (Coch.)
Megan E. Moore, 2005-08
William Orchard, 2004-07; 2005-07 (Coch.)
Jennifer Marie Powers, 2004-07
Jean L. Schulte, 2003-06
Steven W. Thomas, 2004-07
Markus Zisselsberger, 2005-08

*Students may access the <i>List</i> online by requesting the password from their department chair. The Job Information Web address is <A HREF="http://www.mla.org/jil">www.mla.org/jil</a>.
