<h1>Sessions at MLA Conventions</h1>

<a href="#sandiego">2003, San Diego</a>
<a href="#newyork">2002, New York</a>
<a href="#neworleans">2001, New Orleans</a>
<a href="#washington">2000, Washington</a>
<a href="#chicago">1999, Chicago</a>
<a name="sandiego"> </a>

<h2>2003, San Diego</h2>
<b>52. Welcome to the MLA</b>
<i>Saturday, 27 December, 5:15-6:30 p.m., Upper Room 4, San Diego Convention Center
Presiding:</i> Emily Ann Maguire, New York Univ.
<i>Speakers: </i>Robert Scholes, Brown Univ.; Rosemary G. Feal, MLA; Jean L. Schulte, Duquesne Univ.; Amada R. Sandoval, Princeton Univ.

<b>Forum Main Session 
276. Critical Theory Meets Academic Labor</b>
<i>Sunday, 28 December, 1:45-3:30 p.m., Upper Room 3, San Diego Convention Center	
Presiding: </i>Alison D. Harvey, Univ. of California, Los Angeles
			1. &quot;The University in and of Empire: Dr. Jekyll and Mr. Hyde,&quot; John R. Beverley, Univ. of Pittsburgh, Pittsburgh
			2. &quot;Theorizing Labor and Celebrity,&quot; Cary Nelson, Univ. of Illinois, Urbana
			3. &quot;French Theory in the American Academy: Translating the Political,&quot; Rosemarie Scullion, Univ. of Iowa 
	
<b>Workshop 1
522. Teaching (in) Theory</b>
	<i>Monday, 29 December, 12:00 noon-1:15 p.m., Upper Room 5A, San Diego Convention Center
Presiding:</i> Stella Yumi Oh, Univ. of California, Irvine 
			1. &quot;Theorizing Students,&quot; Gerald Graff, Univ. of Illinois, Chicago 
			2. &quot;Theory Work,&quot; Vincent Barry Leitch, Univ. of Oklahoma
					
<b>Workshop 2
667. Theorizing the Profession</b>
	<i>Monday, 29 December, 7:15-8:30 p.m., Upper Room 5A, San Diego Convention Center 
Presiding: </i>Emily Ann Maguire, New York Univ.
			1. &quot;Profession Dismiss Thyself,&quot; Paul Anthony Bov&eacute;, Univ. of Pittsburgh, Pittsburgh
			2. &quot;The Endgame,&quot; Ellen Messer-Davidow, Univ. of Minnesota, Twin Cities
			3. &quot;Crossing Borders: Theory, Performance, Activism,&quot; Ram&oacute;n Hommy Rivera-Servera, Univ. of Texas, Austin

<a name="newyork"> </a>
<h2>2002, New York</h2>
<b>27. Welcome Session: Welcome to the MLA</b>

<b>114. Faculty Mentoring of Graduate Students I: Strategies and Approaches</b>
<I>Presiding:</I> Emily Maguire

<b>236. Faculty Mentoring of Graduate Students II: Building a Successful Relationship</b>
<I>Presiding:</I> Michael Reder

<a name="neworleans"> </a>
<h2>2001, New Orleans</h2>
<b>20. Welcome Session: Welcome to the MLA: Getting the Most Out of Your Professional Organization</b>
<I>Speakers:</I> Stephen J. Greenblatt (incoming MLA president); Phyllis Franklin (MLA executive director); Noreen Therese O'Connor (outgoing president of the Graduate Student Caucus); Victoria A. Smallman

<b>647. Career Planning for Graduate Students: A Holistic Vision</b> 
<I>Presiding:</I> Dolores Mary Tierney
1. "The Humanities at Work: Careers, Jobs, and the Social Value of the Humanities," Richard M. Bennett
2. "How to Leave Graduate School with Abundant Career Options," Cynthia D. Petrites
3. "The WRK4US Listserv: An Electronic Resource for Exploring Nonacademic Careers," Paula Foster

<b>769. The Politics of Identity: Narratives of the Graduate School Experience</b>
<I>Presiding:</I> Saundra K. Liggins
1. "Being Who You (Say You) Are: Minority Fellowships, Identity Politics, and What They Didn't Tell You in the Brochure for Graduate School," Ana de Freitas Boe
2. "Is There a Text in This Class? A Blind Eye's View of Graduate School," Jeremy K. Brown
3. "'To Act Is to Be Committed': AIDS Activism and Identity Politics in an English Graduate Program," Christopher M. Bell

<a name="washington"> </a>
<h2>2000, Washington</h2>
<b>25. Welcome Session: Welcome to the MLA</b>
<I>Speakers:</I> Barbara E. Bowen: unionism as a center of intellectual as well as political work; Paul Lauter: the dichotomy of collective thought and contemporary professional culture; Stephen Watt: rethinking the center, and disciplinarity as a labor issue; Sylvia Molloy (incoming MLA president); gregory Bezkorovainy (outgoing president of the Graduate Student Caucus)

<b>117. Running a New Union: A Workshop</b> (organized jointly with the Graduate Student Caucus)
<I>Presiding:</I> Daniel W. Kim and Laurie Ousley
1. "Organizing Membership Drives," Julie Marie Schmid
2. "After Recognition: Setting Up Checks and Balances in a Union's Governance," Laurie Ousley and Michael A. Rozendal
3. "Divided We Beg, United We Bargain: Effective Strategies for Negotiating Your First Contract," Victoria A. Smallman

<b>485. Being and Becoming Professionals</b>
<I>Presiding:</I> Robert M. Irwin
1. "Teaching: The Portfolio Advantage," Virleen Carlson
2. "Participating in Departmental Governance," Robert M. Irwin
3. "Publishing," Jennifer Ann Wicke
<I>Respondent:</I> Eleanor M. Kennedy

<a name="chicago"> </a>
<h2>1999, Chicago</h2>
<b>55. Welcome Session</b> (organized jointly with the Graduate Student Caucus)
<I>Speakers:</I> Linda Hutcheon (incoming MLA president); Michael B&egrave;rub&egrave;; gregory Bezkorovainy; Cary Nelson

<b>204. A Conversation with the New MLA Committee on the Status of Graduate Students in the Profession</b>
<I>Presiding:</I> Saundra K. Liggins
<I>Speakers:</I> Marc Brudzinski; Robert M. Irwin; Eleanor M. Kennedy; Daniel W. Kim; Dongfeng Xu

<b>532. Departmental Culture: A Survivor's Guide for Graduate Students</b>
<I>Presiding:</I> Dongfeng Xu
1. "Citizens and Subjects," Michael B&egrave;rub&egrave;
2. "The Excrement Theory of Graduate Education," P. Marc Bousquet
3. "Dressing for Success," Elaine Marks
4. "Tailoring for the Right Fit," Esther Maria Santana
5. "The Word on Academic Discourse; or, Why Don't You Get It?" Kenneth W. Warren

<b>627. Academic Labor: Key Issues for Graduate Students</b>
<I>Presiding:</I> Daniel W. Kim
1. "Organizing for a Fair Deal: The History and Prospects of the Academic Labor Movement," Felicia L. Carr
2. "Building Coalitions of Resistance: Graduate-Employee Unions and Cross-Campus Organizing," Julie Marie Schmid
3. "The Academy Fights Back: Easy Steps to Eliminate Apathy and Overcome Complacency," Victoria A. Smallman
