<@if ($arg{grantID} eq "GT")>
	<h1>Graduate Student Travel Grant</h1>
<@/if>
<@if ($arg{grantID} eq "NT")>
	<h1>Financial Assistance for Non-Tenure-Track Faculty Members</h1>
<@/if>
<@if ($arg{grantID} eq "UE")>
	<h1>Financial Assistance for Unemployed Members</h1>
<@/if>
<@if ($arg{grantID} eq "IT")>
	<h1>Financial Assistance for Members Residing outside the United States and Canada</h1>
<@/if>

<p>
	The information below may be used to contact you from November through January. Please make any necessary changes. Any changes made here will not affect your permanent membership records; contact information in this form is for travel grant purposes only. 
</p>

<form action="/FORM_ACTIONS/grants_confirm" method="post" name="form1" onSubmit="return checkText();">
<input type="hidden" name="function" value="apply">
<input type="hidden" name="grantID" value="[[[postarg grantID]]]">
<input type="hidden" name="MEM_ID" value="[[[RESULTS MEM_ID]]]">
<input type="hidden" name="MEM_CLS_CODE" value="[[[RESULTS MEM_CLS_CODE]]]">
<input type="hidden" name="TITLE" value="[[[RESULTS TITLE]]]">
<input type="hidden" name="FIRST_NAME" value="[[[RESULTS FIRST_NAME]]]">
<input type="hidden" name="LAST_NAME" value="[[[RESULTS LAST_NAME]]]">
<input type="hidden" name="CHAIR_ID" value="[[[RESULTS CHAIR_ID]]]">
<input type="hidden" name="APPL_COMM" value="[[[RESULTS APPL_COMM]]]">
<input type="hidden" name="INT_DEPT_FUND" value="[[[postarg INT_DEPT_FUND]]]">

<table border="0" cellpadding="5" cellspacing="0">
	<tr valign="top">
		<td align="right">
			Name
		</td>
		<td>
			[[[RESULTS FIRST_NAME]]] [[[RESULTS LAST_NAME]]]
			([[[RESULTS MEM_ID]]])
		</td>
	</tr>
	<tr valign="top">
		<td align="right">
			Institution
		</td>
		<td>
			<input type="text" name="AM_INSTITUTION" value="[[[RESULTS AM_INSTITUTION]]]" size="30" maxlength="40">
		</td>
	</tr>
	<tr valign="top">
		<td align="right">
			Department
		</td>
		<td>
			<input type="text" name="AM_DEPT" value="[[[RESULTS AM_DEPT]]]" size="30" maxlength="40">
		</td>
	</tr>
	<tr valign="top">
		<td align="right">
			Address
		</td>
		<td>
			<input type="text" name="AM_ADDR1" value="[[[RESULTS AM_ADDR1]]]" size="30" maxlength="40">
		</td>
	</tr>
	<tr valign="top">
		<td align="right">
			&nbsp;
		</td>
		<td>
			<input type="text" name="AM_ADDR2" value="[[[RESULTS AM_ADDR2]]]" size="30" maxlength="40">
		</td>
	</tr>
	<tr valign="top">
		<td align="right">
			&nbsp;
		</td>
		<td>
			<input type="text" name="AM_ADDR3" value="[[[RESULTS AM_ADDR3]]]" size="30" maxlength="40">
		</td>
	</tr>
	<tr valign="top">
		<td align="right">
			City
		</td>
		<td>
			<input type="text" name="AM_CITY" value="[[[RESULTS AM_CITY]]]" size="30" maxlength="20">
		</td>
	</tr>
	<tr valign="top">
		<td align="right">
			State/Province
		</td>
		<td>
			[[[insert dropdown type="state" name="AM_STATE"]]]
			&nbsp;Other:<input type="text" name="AM_other_state" value="[[[RESULTS AM_other_state]]]" size="10" maxlength="10">
		</td>
	</tr>
	<tr valign="top">
		<td align="right">
			Zip/Postal code
		</td>
		<td>
			<input type="text" name="AM_ZIP" value="[[[RESULTS AM_ZIP]]]" size="30" maxlength="10">
		</td>
	</tr>
	<tr valign="top">
		<td align="right">
			Country
		</td>
		<td>
			[[[insert dropdown type="country" name="AM_COUNTRY_CODE"]]]
		</td>
	</tr>
	<tr valign="top">
		<td align="right">
			Phone number
		</td>
		<td>
			<input type="text" name="PHONE_NUM" value="[[[RESULTS PHONE_NUM]]]" size="30" maxlength="20">
		</td>
	</tr>
	<tr valign="top">
		<td align="right">
			E-mail
		</td>
		<td>
			<input type="text" name="EMAIL" value="[[[RESULTS EMAIL]]]" size="30" maxlength="60">
		</td>
	</tr>
</table>




<@spacer 1x20>



<table border="0" cellpadding="5" cellspacing="1" width="100%" bgcolor="[[color1]]">
	<tr>
		<td align="center" bgcolor="[[color3]]">
			<input type="submit" value="Submit Application">
		</td>
	</tr>
</table>


</form>

<script language="javascript">

function checkText() {
	var badcount = 0;
	var errormsg = "";
	var emsg = "";
	var rettarget;
	

	if (document.form1.AM_ADDR1.value == '') {
		badcount++;
		errormsg += '\n' + badcount + ': You must enter a street address.';
		rettarget = document.form1.AM_ADDR1;
		}
	if (document.form1.AM_CITY.value == '') {
		badcount++;
		errormsg += '\n' + badcount + ': You must enter a city.';
		rettarget = document.form1.AM_CITY;
		}
	if (document.form1.AM_STATE.options[document.form1.AM_STATE.selectedIndex].value == '') {
		if (document.form1.AM_COUNTRY_CODE.options[document.form1.AM_COUNTRY_CODE.selectedIndex].value == 'US' || document.form1.AM_COUNTRY_CODE.options[document.form1.AM_COUNTRY_CODE.selectedIndex].value == 'Canada') {
			badcount++;
			errormsg += '\n' + badcount + ': You must select a state or province.';
			rettarget = document.form1.AM_STATE;
			}
		}
	if (document.form1.AM_ZIP.value == '' && document.form1.AM_COUNTRY_CODE.options[document.form1.AM_COUNTRY_CODE.selectedIndex].value == 'US') {
		badcount++;
		errormsg += '\n' + badcount + ': You must enter a zip/postal code.';
		rettarget = document.form1.AM_ZIP;
		}
	if (document.form1.AM_COUNTRY_CODE.options[document.form1.AM_COUNTRY_CODE.selectedIndex].value == '') {
		badcount++;
		errormsg += '\n' + badcount + ': You must select a country.';
		rettarget = document.form1.AM_COUNTRY_CODE;
		}
	if (document.form1.PHONE_NUM.value == '') {
		badcount++;
		errormsg += '\n' + badcount + ': You must enter a complete phone number.';
		rettarget = document.form1.PHONE_NUM;
		}
	if (document.form1.EMAIL.value == '') {
		badcount++;
		errormsg += '\n' + badcount + ': You must enter an e-mail address.';
		rettarget = document.form1.EMAIL;
		}
	// check the email
	if (document.form1.EMAIL.value != '') {
		emsg = validateEmail(document.form1.EMAIL.value);
		if (emsg != '') {
			badcount++;
			errormsg += '\n' + badcount + ': ' + emsg;
			if (!rettarget) {
				rettarget = document.form1.EMAIL;
				}
			}
		}
	
	if (badcount > 0) {
		if (rettarget) {
			rettarget.focus();
			}
		alert(errormsg);
		return false;
		} else {
		return true;
		}
}


</script>
