<h1>Guidelines for Participants and Session Organizers</h1>
The MLA Program Committee approved the following guidelines for participants and session organizers at the MLA convention.

<ol>
	<li>Assume that a page of double-spaced, typed material, in a standard elite-sized font, takes about two minutes to read, without any extemporaneous comments added during the reading. This means that it takes fifteen minutes to read seven and one-half pages and twenty minutes to read ten pages.</li>
	<li>A presenter who is likely to add extemporaneous comments during the reading should start with a paper that is shorter than the lengths noted above.</li>
	<li>A presenter who speaks extemporaneously (with or without notes) should rehearse the presentation to ensure that it will fit in the allotted time.</li>
	<li>Session organizers should be modest in their plans for including participants and keep in mind that MLA policy requires fifteen minutes of each session to be reserved for discussion. A seventy-five-minute session therefore allows one hour for presentations and can accommodate three presenters, along with the presider's introductions. A respondent should count as one of the three presenters. More presenters or respondents can participate only if the length of the individual presentations is reduced.</li></ol>
Amittai F. Aviram
