<style type="text/css">
ul.nobullet {
list-style-type: none;
}
</style>
<br />
<h1>Guidelines for Evaluating Work in Digital Humanities and Digital Media</h1>
<br />
[[[@if ($searcharg{ot} ne 'letterhead')]]]
<table style="float: right">
<tr>
<td class="icon"><a href="/[[[searcharg file]]]?ot=letterhead" target="_blank"><img src="/IMAGES/program_print.gif" id="show-btn" border="0" alt="Printer friendly" /></a></td>
<td><a href="/[[[searcharg file]]]?ot=letterhead" target="_blank">Printer Friendly</a></td>
</tr>
</table>
[[[@endif]]]
<h2>Introduction</h2>

<p>The following guidelines are designed to help departments and faculty members implement effective evaluation procedures for hiring, reappointment, tenure, and promotion. They apply to scholars working with digital media as their subject matter and to those who use digital methods or whose work takes digital form.</p>

<p>Digital media are transforming literacy, scholarship, teaching, and service, as well as providing new venues for research, communication, and the creation of networked academic communities. Information technology is an integral part of the intellectual environment for all humanities faculty members, but for those working closely in new media it creates special challenges and opportunities. Digital media have expanded the objects and forms of inquiry of modern language departments to include images, sounds, data, kinetic attributes like animation, and new kinds of engagement with textual representation and analysis. These innovations have considerably broadened notions of language, language teaching, text, textual studies, and literary and media objects, the traditional purview of modern language departments.</p>

<p>While the use of computers in the modern languages is not a new phenomenon, the transformative adoption of digital information networks, coupled with the proliferation of advanced multimedia tools, has resulted in new literacies, new literary categories, new approaches to language instruction, and new fields of inquiry. Humanists are adopting new technologies and creating new critical and literary forms and interventions in scholarly communication. They also collaborate with technology experts in fields such as image processing, document encoding, and computer and information science. User-generated content produces a wealth of new critical publications, applied scholarship, pedagogical models, curricular innovations, and redefinitions of author, text, and reader. Academic work in digital media must be evaluated in the light of these rapidly changing technological, institutional, and professional contexts, and departments should recognize that many traditional notions of scholarship, teaching, and service are being redefined.</p>

<p>Institutions and departments should develop written guidelines so that faculty members who create, study, and teach with digital objects; engage in collaborative work; or use technology for pedagogy can be adequately and fairly evaluated and rewarded. The written guidelines should provide clear directions for appointment, reappointment, merit increases, tenure, and promotion and should take into consideration the growing number of resources for evaluating digital scholarship and the creation of born-digital objects. Institutions should also take care to grant appropriate credit to faculty members for technology projects in teaching, research, and service. Because many projects cross the boundaries between these traditional areas, faculty members should receive proportional credit in more than one relevant area for their intellectual work.  New guidelines for reappointment, tenure, and promotion appear regularly. The Committee on Information Technology recommends that persons interested in such guidelines search for documents on evaluating work in digital media or digital humanities at institutions comparable to their own.</p> 

<h2>Guidelines for Appointment, Reappointment, Promotion, and Tenure Committees</h2>

<ul class="nobullet">
<li><p><b>Delineate and Communicate Responsibilities.</b> When chairs and hiring committees seek candidates who have expertise in the use and creation of digital media, explicit reference to such work should be included in job descriptions, and candidates should be apprised of their responsibilities relative to this work. When candidates wish to have digital work considered an integral part of their positions, the department should make clear to candidates at the time of hiring its expectations for such work and for the candidate’s productivity, its responsibilities in supporting such work, and how it plans to give recognition to the work. The creation of images, Web sites, digital tools, or software for teaching and research may in some instances be far more labor-intensive and collaborative than the creation of text-based work.</p></li> 

<li><p><b>Engage Qualified Reviewers.</b> Faculty members who work in digital media or digital humanities should be evaluated by persons practiced in the interpretation and development of new forms and who are knowledgeable about the use and creation of digital media in a given faculty member’s field. At times this may be possible only by engaging qualified reviewers from other departments, divisions, or institutions. If faculty members worked collaboratively with colleagues from other disciplines, then departments and institutions should seek the assistance of experts in those other disciplines to assess and evaluate the work.</p></li>

<li><p><b>Respect Medium Specificity When Reviewing Work.</b> Since scholarly work is always designed for presentation in a specific medium, evaluative bodies should foreground medium specificity by reviewing faculty members’ work in the medium for which it was produced. For example, born-digital and Web-based projects are often spatial, interactive, iterative, and networked. If possible, they should be viewed in electronic form, not in print or as snapshots of dynamic behavior.</p></li> 

<li><p><b>Stay Informed about Accessibility Issues.</b> Search, reappointment, promotion, and tenure committees have a responsibility to comply with federal regulations and to become and remain informed of technological innovations that permit persons with disabilities to conduct research and carry out other professional responsibilities effectively.</p></li>
</ul>

<h2>Guidelines for Candidates and Faculty Members</h2>
<ul class="nobullet">
<li><p><b>Ask about Evaluation and Support.</b> When candidates for faculty positions first negotiate the terms of their jobs, they should ask how credit for digital work will be considered in terms of teaching, research, and service in the reappointment, tenure, and promotion processes. In addition, candidates should confirm that they will have institutional support and access to facilities so that they can work creatively and productively in digital media or digital humanities. (See “<a href="/it_support">Guidelines for Institutional Support of and Access to IT for Faculty Members and Students</a>.”)</p></li>

<li><p><b>Negotiate and Document Your Role.</b> Faculty members and job candidates should negotiate their responsibilities and departmental roles in the creation of digital objects and the use, development, and support of information technologies in their teaching, service, and research. Faculty members and candidates for positions that combine administrative and faculty responsibilities, including the development and support of technological infrastructures, must negotiate terms for the evaluation of their work.</p></li>

<li><p><b>Document and Explain Your Work.</b> Faculty members who work in digital media or digital humanities should be prepared to make explicit the results, theoretical underpinnings, and intellectual rigor of their work. They should be prepared to be held accountable to the same extent that faculty members in other fields are for showing the relevance of their work in terms of the traditional areas of teaching, research, and service. They should take particular care to</p>
	<ul>
	<li>describe how their work may blend, redefine, or render obsolete the traditional boundaries between teaching, research, and service</li>
	<li>describe the process underlying creation of work in digital media (e.g., the creation of infrastructure as well as content) and their particular contributions</li>
	<li>describe how work in digital media requires new collaborative relationships with clients, publics, other departments, colleagues, and students</li>
	</ul>
<p>Documentation of projects might include examples of success at engaging new audiences; securing internal or external funding, awards, or other professional recognition; and fostering adoption, distribution, or publication of digital works, as well as reviews and citations of the work in print or digital journals. In framing their work, faculty members should be careful to clarify the context and venue of publications, exhibitions, or presentations (e.g., conference proceedings are among the most prestigious publications in computer science, whereas they are generally deemed to be a lesser form of publication in the humanities).</p></li>
</ul>

<p>The pace of technological change makes it impossible for any one set of guidelines to account completely for the ways digital media and the digital humanities are influencing literacies, literatures, and the teaching of modern languages. A general principle nonetheless holds: institutions that recruit or review scholars working in digital media or digital humanities must give full regard to their work when evaluating them for reappointment, tenure, and promotion.</p>

<p>These guidelines were last revised by the Committee on Information Technology in January 2012 and approved by the MLA Executive Council at its February 2012 meeting. The original guidelines were approved by the council at its May 2000 meeting. </p>
