<h2>Guiding Questions for Vetters of Scholarly Editions</h2>
<div class="Real-P">
<tt>Title vetted: ___________________________________________________</tt></div>
<div class="Real-P"><tt>Edited by:    ______________________________________________________</tt></div>
<div class="Real-P"><tt>Date vetted:  ____________________________________________________</tt></div>
<div class="Real-P"><tt>Vetter:       _________________________________________________________</tt></div>

<br><div class="Real-P">For each question listed below, the vetter should enter <em>Yes</em>, <em>No</em>, or <em>Not applicable</em> as appropriate. Vetter should also indicate whether additional comment on this point is made in the attached report.</div>
<br>
<div class="Real-P">
<table width="100%" cellspacing="0" cellpadding="10" bordercolor="#999999" border="1">
<tr bordercolor="#999999"> 
<th colspan="2" rowspan="1">&nbsp;</th>
<th colspan="1" rowspan="1">Y</th>
<th colspan="1" rowspan="1">N</th>
<th colspan="1" rowspan="1">N/A</th>
<th colspan="1" rowspan="1">See Report</th>
</tr>
<tr> 
<td colspan="6" rowspan="1"><b>I. Basic Materials, Procedures, and Conditions</b></td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>1.0</b></td>
<td colspan="1" rowspan="1">Has the editor missed any essential primary or 
secondary materials?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>2.0</b></td>
<td colspan="1" rowspan="1">Has the editor constructed a valid genealogy, 
or stemma, of all relevant texts?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>2.1</b></td>
<td colspan="1" rowspan="1">Have you tested the validity of this stemma against 
the collation data and included your findings in the report?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>3.0</b></td>
<td colspan="1" rowspan="1">Have all transcriptions been fully compared by 
the editor with the original documents, as distinct from a photocopy of those documents?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>3.1</b></td>
<td colspan="1" rowspan="1">If any transcriptions have not been fully compared with the originals, is there a statement in the edition alerting the user to that fact?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>3.2</b></td>
<td colspan="1" rowspan="1">Has someone other than the original transcriber 
carried out a thorough and complete check of each transcription, whether against the original or a photocopy of the original?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>3.3</b></td>
<td colspan="1" rowspan="1">Have you sampled the transcriptions for accuracy 
and included the results of that sampling in your report?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>4.0</b></td>
<td colspan="1" rowspan="1">Have all potentially significant texts been collated?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>4.1</b></td>
<td colspan="1" rowspan="1">How many times have the collations been repeated 
by different people?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>4.2</b></td>
<td colspan="1" rowspan="1">Have you sampled the collations for accuracy and 
included the results of your sampling in your report?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="6" rowspan="1"><b>II. Textual Essay</b></td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>5.0</b></td>
<td colspan="1" rowspan="1">If the edition under review is one in a series, 
have you examined textual essays and vetters' reports (if any) from earlier volumes?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>5.1</b></td>
<td colspan="1" rowspan="1">Does the textual essay provide a clear, convincing, 
and thorough statement of the editorial principles and practical methods 
used to produce this volume?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>5.2</b></td>
<td colspan="1" rowspan="1">Does it adequately survey all pertinent forms 
of the text, including an account of their provenance?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>5.3</b></td>
<td colspan="1" rowspan="1">Does it give an adequate history of composition 
and revision?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>5.4</b></td>
<td colspan="1" rowspan="1">Does it give an adequate history of publication?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>5.5</b></td>
<td colspan="1" rowspan="1">Does it give a physical description of the manuscripts or other pertinent materials (including electronic source materials, if any)?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>5.6</b></td>
<td colspan="1" rowspan="1">Are ways in which photographic or digital reproductions manipulate the text (sometimes leading to greater legibility) plainly described?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>5.7</b></td>
<td colspan="1" rowspan="1">Does it give a physical description of the specific 
copies used for collation?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>6.0</b></td>
<td colspan="1" rowspan="1">Does the textual essay provide a convincing rationale 
for the choice of copy-text or base text or for the decision not to rely on either?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>6.1</b></td>
<td colspan="1" rowspan="1">Does it adequately acknowledge and describe alternative 
but rejected choices for the copy-text or base text?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>6.2</b></td>
<td colspan="1" rowspan="1">If there are forms of the text that precede the copy-text or base text, can they be recovered from the edited text and its apparatus?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>6.3</b></td>
<td colspan="1" rowspan="1">If not, is it practical, desirable, or necessary 
to make them recoverable?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>7.0</b></td>
<td colspan="1" rowspan="1">Does the editor give an adequate account of changes to the text made by authors, scribes, compositors, et cetera?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>7.1</b></td>
<td colspan="1" rowspan="1">Are such changes to the text reported in detail 
as part of the textual apparatus? </td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>7.2</b></td>
<td colspan="1" rowspan="1">If such changes are recorded but the record will 
not be published, has the decision not to publish it been justified in the textual essay?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>8.0</b></td>
<td colspan="1" rowspan="1">Is the rationale for emendation of the copy-text or base text clear and convincing?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>8.1</b></td>
<td colspan="1" rowspan="1">Are all emendations of the copy-text or base text reported in detail or described by category when not reported in detail?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>8.2</b></td>
<td colspan="1" rowspan="1">Are the emendations of the copy-text or base text consistent with the stated rationale for emendation?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>8.3</b></td>
<td colspan="1" rowspan="1">Do the data from collation support the editor's 
assertion of authority for emendations drawn from the collated texts?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>8.4</b></td>
<td colspan="1" rowspan="1">If the author's customary usage (spelling, punctuation) 
is used as the basis for certain emendations, has an actual record of that usage been compiled from this text and collateral texts written by the author?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>8.5</b></td>
<td colspan="1" rowspan="1">Have you sampled the edited text and record of 
remendations for accuracy, and have you included the results in your report?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>8.6</b></td>
<td colspan="1" rowspan="1">Are emendations recorded clearly, avoiding idiosyncratic or ill-defined symbols?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>9.0</b></td>
<td colspan="1" rowspan="1">Does the essay somewhere include an adequate rationale 
for reproducing, or not, the significant visual or graphic aspects of the copy-text or base text?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>9.1</b></td>
<td colspan="1" rowspan="1">Are all illustrations in the manuscript or the printed copy-text or base text reproduced in the edited text?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>9.2</b></td>
<td colspan="1" rowspan="1">If not, are they adequately described or represented by examples in the textual essay?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>9.3</b></td>
<td colspan="1" rowspan="1">Are the visual aspects of typography or handwriting 
either represented in the edited text or adequately described in the textual essay?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>9.4</b></td>
<td colspan="1" rowspan="1">If objects (such as bindings) or graphic elements 
(such as illustrations) are reproduced in the edition, are the standards for reproduction--sizing, color, and resolution--explicitly set forth in the textual essay?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="6" rowspan="1"><b>III. Apparatus and Extratextual Materials</b></td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>10.0</b></td>
<td colspan="1" rowspan="1">Has a full historical collation been compiled, whether or not that collation is to be published?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>10.1</b></td>
<td colspan="1" rowspan="1">Is the rationale clear and convincing for publishing 
a selective historical collation (e.g., one that excludes variant accidentals)?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>10.2</b></td>
<td colspan="1" rowspan="1">Does the selective collation omit any category of variants you think should be included or include any you think should be excluded?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>10.3</b></td>
<td colspan="1" rowspan="1">Is the historical collation to be published accurate and consistent?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>11.0</b></td>
<td colspan="1" rowspan="1">Are the textual notes clear, adequate, and confined to textual matters?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>12.0</b></td>
<td colspan="1" rowspan="1">Have ambiguous hyphenated compounds (e.g., "water-wheel") in the copy-text or base text been emended to follow the author's known 
habits or some other declared standard?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>12.1</b></td>
<td colspan="1" rowspan="1">Have ambiguous stanza or section breaks in the copy-text or base text been consistently resolved by emendation?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>12.2</b></td>
<td colspan="1" rowspan="1">Are both kinds of emendation recorded in the textual 
apparatus to be published? </td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>12.3</b></td>
<td colspan="1" rowspan="1">For words divided at the end of a line in the edited text and stanzas or section breaks that fall at the end of a page in the edited text, can the reader tell how these ambiguous forms should be rendered when the text is quoted?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>13.0</b></td>
<td colspan="1" rowspan="1">Does the apparatus omit significant information?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>13.1</b></td>
<td colspan="1" rowspan="1">Can the history of composition and/or revision 
and/or the history of printing be studied by relying on the textual apparatus?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>13.2</b></td>
<td colspan="1" rowspan="1">Is the purpose of the different parts (or lists) in the apparatus clearly explained or made manifest?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>13.3</b></td>
<td colspan="1" rowspan="1">Is cross-referencing between the parts (or lists) clear?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>13.4</b></td>
<td colspan="1" rowspan="1">Is information anywhere needlessly repeated?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>13.5</b></td>
<td colspan="1" rowspan="1">Is the format of the apparatus adapted to the audience?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>13.6</b></td>
<td colspan="1" rowspan="1">Are the materials well organized?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>14.0</b></td>
<td colspan="1" rowspan="1">Does the historical introduction dovetail smoothly with the textual essay?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>14.1</b></td>
<td colspan="1" rowspan="1">Has the editor quoted accurately from the edited text in the introduction and the textual essay?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>14.2</b></td>
<td colspan="1" rowspan="1">Has the editor verified references and quotations 
in the introduction and the textual essay?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>14.3</b></td>
<td colspan="1" rowspan="1">Has the editor checked the author's quotations 
and resolved the textual problems they present?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>14.4</b></td>
<td colspan="1" rowspan="1">Have you spot-checked to test the accuracy of quotation and reference in the introduction, textual essay, and text, and have you included the results of that spot-check in your report?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>15.0</b></td>
<td colspan="1" rowspan="1">Are the explanatory notes appropriate for this 
kind of edition--for example, in purpose, level of detail, and number?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>15.1</b></td>
<td colspan="1" rowspan="1">Is there a sound rationale for the explanatory 
notes, whether or not the rationale is to be made explicit anywhere in the 
published work?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="6" rowspan="1"><b>IV. Matters of Production</b></td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>16.0</b></td>
<td colspan="1" rowspan="1">Did you see a final or near-final version of the 
edition or a substantial sample of it?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>16.1</b></td>
<td colspan="1" rowspan="1">If you did not see final or near-final copy, were 
you satisfied with the state of completion of the materials you did see?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>17.0</b></td>
<td colspan="1" rowspan="1">Has the editor obtained all necessary permissions--for example, to republish any materials protected by copyright?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>18.0</b></td>
<td colspan="1" rowspan="1">If there is a publisher involved in producing 
the edition, has the publisher approved the content and format of the edition?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>18.1</b></td>
<td colspan="1" rowspan="1">Has the publisher approved the amount of time 
needed for proofreading?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>18.2</b></td>
<td colspan="1" rowspan="1">Has the publisher approved the requirements of 
the edition's design?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>18.3</b></td>
<td colspan="1" rowspan="1">Has the publisher approved cuing the back matter (textual apparatus and notes) to the text of the edition by page and line number (if this is a print edition) or by other unambiguous means (if this is an electronic edition)?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>18.4</b></td>
<td colspan="1" rowspan="1">Has the publisher approved the printer's or other 
production facility's copy requirements?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>19.0</b></td>
<td colspan="1" rowspan="1">Has ultimate responsibility for maintaining accuracy 
throughout the production process been clearly assigned to one person? </td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>19.1</b></td>
<td colspan="1" rowspan="1">Are the proofreading methods sufficient to ensure 
a high level of accuracy in the published edition?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>19.2</b></td>
<td colspan="1" rowspan="1">How many proofreadings are scheduled?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>19.3</b></td>
<td colspan="1" rowspan="1">How many stages of proof are there?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>19.4</b></td>
<td colspan="1" rowspan="1">When a new stage of proof is read to verify changes 
or corrections, is adequate provision made for ensuring that all other parts 
of the text have not been corrupted?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>19.5</b></td>
<td colspan="1" rowspan="1">Is there a provision in place for collation or comparison of the first correct stage of proof against the production facility's final prepublication output (e.g., bluelines from a printer or text as rendered for final delivery in an electronic edition)?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>20.0</b></td>
<td colspan="1" rowspan="1">If the edition--whether print or electronic--is prepared in electronic files, are those files encoded in an open, nonproprietary format (e.g., TEI XML rather than <i>Microsoft Word</i> or <i>WordPerfect</i>)?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>20.1</b></td>
<td colspan="1" rowspan="1">Will anyone other than the editor create or edit 
these files?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>20.2</b></td>
<td colspan="1" rowspan="1">Is the editor directly involved in encoding (e.g., in doing XML markup or in coding for typesetting)?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>20.3</b></td>
<td colspan="1" rowspan="1">If automated processes are applied to the text, 
is the editor checking the result for unintended consequences?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>20.4</b></td>
<td colspan="1" rowspan="1">If an index or search engine is to be used as 
part of the edition, will it be checked or tested in detail by the editor?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>21.0</b></td>
<td colspan="1" rowspan="1">Can the edited text be easily republished, excerpted, 
or repurposed?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>21.1</b></td>
<td colspan="1" rowspan="1">If the edition is printed, is it suitable for 
photographic reproduction? If it is electronic, does it provide PDF or other 
pretty-printing output?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>21.2</b></td>
<td colspan="1" rowspan="1">Will all electronic files used in producing the 
edition be archived?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>21.3</b></td>
<td colspan="1" rowspan="1">Will a correction file be set up and maintained 
for correcting the text after its initial publication?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>21.4</b></td>
<td colspan="1" rowspan="1">Is the current state of the correction file available 
to readers of the edition (on the Web, for example, or on request in printed 
form)?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="6" rowspan="1"><b>V. Electronic Editions</b> (see glossary for expansion of abbreviations)</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>22.1</b></td>
<td colspan="1" rowspan="1">Does the edition include help documentation that 
explains the features of the user interface and how to use them?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>22.2</b></td>
<td colspan="1" rowspan="1">Does the edition carry a clear statement of the 
appropriate reuse of its constituent elements, especially those protected 
by copyright or used by permission?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>23.0</b></td>
<td colspan="1" rowspan="1">Is the text of the edition encoded in an ISO standard 
grammar, such as XML or SGML?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>23.1</b></td>
<td colspan="1" rowspan="1">Is the XML or SGML applied using relevant community 
guidelines (e.g., the Text Encoding Initiative guidelines)?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>23.2</b></td>
<td colspan="1" rowspan="1">If the answer to the previous question is no, does the essay on technical methods provide a rationale for departing 
from community practice?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>23.3</b></td>
<td colspan="1" rowspan="1">Is the edition designed to make its underlying 
markup (rather than markup that results from a rendering process) available 
to the reader for examination?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>24.0</b></td>
<td colspan="1" rowspan="1">Is character encoding in the edition done according to an ISO standard (e.g., Unicode)?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>24.1</b></td>
<td colspan="1" rowspan="1">Are rendering or transformation instructions (e.g., stylesheets) encoded in an ISO standard grammar, such as XSL?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>24.2</b></td>
<td colspan="1" rowspan="1">Does the edition use ISO standard formats (e.g., JPEG, PNG) for the distribution copies of its digital images?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>24.3</b></td>
<td colspan="1" rowspan="1">If there are time-dependent media elements in 
the edition (e.g., audio or video), are these encoded using ISO standard 
formats (e.g., MPEG/MP3)?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>25.0</b></td>
<td colspan="1" rowspan="1">Are the distribution copies of multimedia elements 
(image, sound, video) sufficiently high-resolution to allow close study?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>25.1</b></td>
<td colspan="1" rowspan="1">Are ways in which photographic or digital reproductions manipulate the text (sometimes leading to greater legibility) plainly described?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>25.2</b></td>
<td colspan="1" rowspan="1">Are the distribution copies of multimedia elements 
stored at reasonable file size, given the intended method of distribution?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>25.3</b></td>
<td colspan="1" rowspan="1">Are the sources for those distribution copies 
archived?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>25.4</b></td>
<td colspan="1" rowspan="1">Are those sources captured at a sufficiently high 
resolution to allow for the future derivation of higher-resolution distribution 
copies?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>26.0</b></td>
<td colspan="1" rowspan="1">Does the edition have, and does it validate against, 
a DTD or schema?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>26.1</b></td>
<td colspan="1" rowspan="1">Is the DTD or schema used in marking up the edition 
adequately documented (e.g., with a tag library)?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>26.2</b></td>
<td colspan="1" rowspan="1">If the edition includes one or more databases, 
is referential integrity enforced within the database(s)?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>26.3</b></td>
<td colspan="1" rowspan="1">Are the database schemas documented?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>26.4</b></td>
<td colspan="1" rowspan="1">Are the stylesheets (or other rendering instructions) 
documented as to their intended effect?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>27.0</b></td>
<td colspan="1" rowspan="1">Is there a definitive and documented method for 
determining what constitutes the electronic edition?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>27.1</b></td>
<td colspan="1" rowspan="1">Is there a definitive and documented method for 
determining whether all the constituent elements of the edition actually 
exist?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>27.2</b></td>
<td colspan="1" rowspan="1">Is technical, descriptive, and administrative 
metadata provided for all the components of the edition, using a library-approved 
schema (such as METS)?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>27.3</b></td>
<td colspan="1" rowspan="1">If any software has been uniquely developed for 
this edition, is source code for that software available and documented?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>27.4</b></td>
<td colspan="1" rowspan="1">Has a copy of the edition and its images, software, stylesheets, and documentation been deposited with a library or other long-term digital object repository?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</table></div>
</div>
