<H1>MLA Handbook Survey for Students</h1>
The Modern Language Association invites all students to complete a brief survey about the <i>MLA Handbook</i>. The survey, for students only, is being conducted online for the MLA by Scholarly Information Services and takes about six minutes. Students at all levels are welcome to take the survey through 30 September. Please forward the following link to your students: <a href="http://surveys.scholinfo.com/mla/" target="_blank">http://surveys.scholinfo.com/mla/</a>.  

An e-mail address is requested but is kept confidential and is not linked to survey responses.
