<h1>Does the MLA offer site licenses for the Web component of the <I>MLA Handbook</I>?</h1>
No site licenses are available at this time. See <a href="http://www.mlahandbook.org/fragment/note_to_librarians">"A Note to Librarians"</a> for an explanation of our current business model. For information on the permitted uses of the Web component, see <a href="http://www.mlahandbook.org/fragment/terms_of_use">"Terms of Use, Including Privacy Statement."</a>
