<style>
p.caption {
font-size: 75%;
color: grey;
margin-top: 0em;
margin-bottom: 0em;
line-height: 1em;
}
</style>

<table>
<tr valign="bottom">
<td width="160px" height="160px"><img src="/IMAGES/mhirsch.jpg" width="150px" border="0" alt="Marianne Hirsch"></td>
<td>
<h1>Marianne Hirsch</h1>
President
<br/>
<br/>
<a href="http://president.commons.mla.org/">Read Marianne Hirsch's "From the President" column</a></td>
</tr>
<tr><td><p class="caption">Martyn Gallina-Jones</p></td></tr>
</table>
<p>
Marianne Hirsch was elected second vice president of the MLA in December 2010. Her term as president runs from January 2013 through January 2014. She is William Peterfield Trent Professor of English and Comparative Literature at Columbia University and professor in the Institute for Research on Women and Gender (<a href="http://www.columbia.edu/~mh2349/" target="_blank">www.columbia.edu/~mh2349/</a>). A comparatist by training, she was educated at Brown University, where she received her BA, MA, and PhD. She taught French and comparative literature at Dartmouth College before moving to Columbia. She grew up in Romania as a bilingual speaker of German and Romanian and as an avid student of French. She emigrated from Romania to the United States with her parents at the age of thirteen.
</p>
<p>
Her scholarly work has been devoted to feminist theory, the study of memory (<a href="http://www.postmemory.net" target="_blank">www.postmemory.net</a>), and the intersections of literature and visual culture.  Marianne Hirsch has worked on French, German, Romanian, British, and North American writers and artists. She values and practices collaborative and interdisciplinary writing, research, and teaching.  She is the author of five books and editor or coeditor of eleven books or journal issues. Her recent publications include <i>The Generation of Postmemory: Writing and Visual Culture after the Holocaust</i> (2012); <i>Ghosts of Home: The Afterlife of Czernowitz in Jewish Memory</i>, written with Leo Spitzer (2010); and <i>Rites of Return: Diaspora, Poetics, and the Politics of Memory</i>, edited with Nancy K. Miller (2011). With Diana Taylor she edited the 2012 double issue of <i>e-misférica, The Subject of Archives</i> (<a href="http://hemisphericinstitute.org/hemi/en/e-misferica" target="_blank">http://hemisphericinstitute.org/hemi/en/e-misferica</a>).  Other publications include <i>The Mother/Daughter Plot: Narrative Psychoanalysis, Feminism</i> (1987); <i>Family Frames: Photography, Narrative, and Postmemory</i> (1997); <i>The Familial Gaze</i> (editor; 1999), <i>Time and the Literary</i> (coeditor; 2002); a special issue of <i>Signs</i>, titled <i>Gender and Cultural Memory</i> (coeditor; 2002); <i>Teaching the Representation of the Holocaust</i> (coeditor; 2004); and <i>Grace Paley Writing the World</i> (coeditor; 2009). 
</p>
<p>
Marianne Hirsch is the former editor of <I>PMLA</I> and the recipient of fellowships from the Guggenheim Foundation, the American Council of Learned Societies, the Mary Ingraham Bunting Institute, the National Humanities Center, and the Bellagio and Bogliasco Foundations. She has served on the American Comparative Literature Association advisory board, the board of supervisors of the English Institute, and the executive board of the Society for the Study of Narrative Literature and is currently on the advisory boards of <i>Memory Studies</i> and <i>Contemporary Women’s Writing</i>.  She is one of the founders of Columbia University’s Center for the Study of Social Difference and is director, with Jean Howard, of its new global initiative, Women Creating Change.
</p>
