<H1>Honorary Members</H1>
Distinguished foreign scholars nominated by the Executive Council and elected by the Delegate Assembly, subject to ratification by a mail ballot of the membership. The roll dates from 13 July 1893. The date following each name indicates year of election. For a list of past honorary members click <a href="/honmemb_past">here</a>.

Lina Bolzoni, 2004
Christine Brooke-Rose, 1973
Michel Deguy, 1997
Umberto Eco, 1985
Gérard Genette, 1985
Toru Haga, 1990
Barbara Hardy, 1976
Sukehiro Hirakawa, 1990
Luce Irigaray, 1987
K. R. Srinivasa Iyengar, 1984
Noé Jitrik, 1998
Jin'ichi Konishi, 1974
Julia Kristeva, 1986
Jean Mesnard, 1988
Arnaldo Pizzorusso, 1969
Siegbert S. Prawer, 1987
Randolph Quirk, 1984
Jean-Pierre Richard, 1976
Martin de Riquer, 1958
José Manuel Rivas Sacconi, 1969
Albrecht Schöne, 1984
Jean Starobinski, 1978
Tzvetan Todorov, 1987
Sigrid Weigel, 1999
Robert Weimann, 1985
Harald Weinrich, 1996

<H1>Honorary Fellows</H1>
Distinguished men and women of letters of any nationality nominated by the Executive Council and elected by the Delegate Assembly, subject to ratification by a mail ballot of the membership. The roll dates from 27 December 1959. The date following each name indicates year of election. For a list of past honorary fellows click <a href="/honfell_past">here</a>.

John Ashbery, 1986
Margaret Atwood, 1997
Yves Bonnefoy, 1981
Michel Butor, 1987
José Luis Cano, 1984
Caryl Churchill, 1998
J. M. Coetzee, 1989
Diamela Eltit, 1998
Louise Erdrich, 2006
Carlos Fuentes, 1981
Griselda Gambaro, 2000
Gabriel García Márquez, 1984
Nadine Gordimer, 1984
Juan Goytisolo, 1986
Peter Handke, 1986
Seamus Heaney, 1998
Adrienne Kennedy, 2005
Milan Kundera, 1986
Doris Lessing, 1974
Françoise Mallet-Joris, 1973
Ana María Matute, 1997
Carlos Monsiváis, 1998
Toni Morrison, 1988
V. S. Naipaul, 1987
Ngũgĩ wa Thiong'o, 1989
Cees Nooteboom, 1996
José Emilio Pacheco, 2000
Elena Poniatowska, 1998
Philip Roth, 1987
Jacques Roubaud, 2006
Ernesto Sábato, 1987
José Saramago, 2001
Wole Soyinka, 1985
Tom Stoppard, 1985
Charles Tomlinson, 2001
Mario Vargas Llosa, 1984
Albert Wendt, 2009
Elie Wiesel, 1997
Richard Wilbur, 1986
Christa Wolf, 1985
Mo Yan, 2010
