<h1>Humanities Research Centers</h1>

<p><i>The information listed for the following humanities research centers has been verified as of July 2010. The list is not comprehensive, and additions may be sent to the MLA office (<a href="mailto:jgolbach@mla.org">jgolbach@mla.org</a>).</i></p>



<p><b>American West Center,</b> Univ of Utah, 1995 deTrobriand St, FD618C, Salt Lake City 84113; 801 581-7611 </p>

<p><b>Américo Paredes Center for Cultural Studies,</b> EPS 1.130, Univ of Texas, Austin 78712; 512 471-5689 </p>

<p><b>Aspen Inst,</b> 1 Dupont Cir, NW, Suite 700, Washington, DC 20036-1133; 202 736-5800; fax: 202 467-0790; <a href="http://www.aspeninstitute.org">http://www.aspeninstitute.org</a> </p>

<p><b>W T Bandy Center for Baudelaire and Modern French Studies,</b> Central Library, 419 21st Ave S, Nashville, TN 37240-0007; 615 343-0372; <a href="mailto:bandycenter@vanderbilt.edu">bandycenter@vanderbilt.edu</a> </p>

<p><b>Bowling Green Center for Popular Culture Studies,</b> Dept of Popular Culture, Bowling Green Univ, Bowling Green, OH 43403; 419 372-2981; <a href="mailto:popc@bgsu.edu">popc@bgsu.edu</a>; <a href="http://www.bgsu.edu/departments/popc">http://www.bgsu.edu/departments/popc</a> </p>

<p><b>Univ of California Davis Humanities Inst,</b> Univ of California, 227 Voorhies Hall, 1 Shields Ave, Davis 95616; 530 752-2295; fax: 530 752-4263—Carolyn de la Peña, <i>Dir</i> </p>

<p><b>Univ of California Humanities Research Inst,</b> 4000 Humanities Gateway Administration, Univ of California, Irvine 92697-3350; 949 824-8180; fax: 949 824-2115—David Theo Goldberg, <i>Dir</i> </p>

<p><b>Center for American Women and Politics,</b> Eagleton Inst of Politics, Rutgers Univ, New Brunswick, NJ 08901; 732 932-9384, ext 224; fax: 732 932-6778—Debbie Walsh, <i>Dir</i> </p>

<p><b>Center for the Arts and Humanities,</b> State Univ of New York, Albany 12222; 220 437-3631—Sandra Buckley, <i>Dir</i> </p>

<p><b>Center for Biographical Research,</b> Univ of Hawaii, Honolulu 96822; Tel and fax: 808 956-3774; <a href="mailto:biograph@hawaii.edu">biograph@hawaii.edu</a>—Craig Howes, <i>Dir</i> </p>

<p><b>Center for Cultural Analysis,</b> Rutgers Univ, 8 Bishop Place, New Brunswick, NJ 08901; 732 932-8426; fax: 732 932-8683; <a href="mailto:info@cca.rutgers.edu">info@cca.rutgers.edu</a>; <a href="http://cca.rutgers.edu">http://cca.rutgers.edu</a>—Jonathan Kramnick, <i>Dir</i> </p>

<p><b>Center for eResearch,</b> 243 Walter Williams Hall, Univ of Missouri, Columbia 65211; 573 882-9720; <a href="http://www.e-researchcenter.org">http://www.e-researchcenter.org</a>—John Miles Foley, <i>Dir</i> </p>

<p><b>Center for Great Plains Studies,</b> 1155 Q St, PO Box 880214, Univ of Nebraska, Lincoln 68588-0214; 402 472-3082; fax: 402 472-0463; <a href="mailto:cgps@unl.edu">cgps@unl.edu</a>; <a href="http://www.unl.edu/plains">http://www.unl.edu/plains</a>—James Stubbendieck, <i>Dir</i> </p>

<p><b>Center for the History of Business, Technology, and Society,</b> Hagley Museum and Library, PO Box 3630, Wilmington, DE 19807; 302 658-2400; fax: 302 655-3188; <a href="mailto:clockman@hagley.org">clockman@hagley.org</a>; <a href="http://www.hagley.org">http://www.hagley.org</a>—Philip B Scranton, <i>Dir</i> </p>

<p><b>Center for the Humanities,</b> Graduate Center, City Univ of New York, 365 5th Ave, Room 5103, New York, NY 10016-4309; 212 817-2006; <a href="http://web.gc.cuny.edu/Humanities/index.html">http://web.gc.cuny.edu/Humanities/index.html</a>—Aoibheann Sweeney, <i>Dir</i> </p>

<p><b>Center for the Humanities,</b> Coll of Liberal Arts, Huddleston Hall, Univ of New Hampshire, Durham 03824-3596; 603 862-4356; fax: 603 862-0110; <a href="mailto:burt.feintuch@unh.edu">burt.feintuch@unh.edu</a>; <a href="http://www.unh.edu/humanities-center/">http://www.unh.edu/humanities-center/</a>—Burt Feintuch, <i>Dir</i> </p>

<p><b>Center for the Humanities,</b> 811 SW Jefferson Ave, Oregon State Univ, Corvallis 97333-4506; 541 737-2450; <a href="mailto:cfth@oregonstate.edu">cfth@oregonstate.edu</a>; <a href="http://osu.orst.edu/dept/humanities">http://osu.orst.edu/dept/humanities</a>—David M Robinson, Dir; Wendy Madar, <i>Assoc Dir</i> </p>

<p><b>Center for the Humanities,</b> Wesleyan Univ, Middletown, CT 06459-0069; 860 685-3044—Jill Morawski, <i>Dir</i> </p>

<p><b>Center for Ideas and Society,</b> Univ of California, Riverside 92521-0439; 951 827-4332; fax: 951 827-6377; Emory Elliott, <i>Dir</i> </p>

<p><b>Center for Medieval and Renaissance Studies,</b> Binghamton Univ, PO Box 6000, Binghamton, NY 13902-6000; 607 777-2730 </p>

<p><b>Center for Medieval and Renaissance Studies,</b> 230 W 17th Ave, Room 308, Columbus, OH 43210-1361; 614 292-7495; fax: 614 292-1599; <a href="mailto:cmrs@osu.edu">cmrs@osu.edu</a>; <a href="http://cmrs.osu.edu">http://cmrs.osu.edu</a>—Richard Firth Green, <i>Dir</i> </p>

<p><b>Center for Medieval and Renaissance Studies,</b> California State Univ, Long Beach 90840—Lloyd Kermode (<a href="mailto:lkermode@csulb.edu">lkermode@csulb.edu</a>), Codir; Martine van Elk (<a href="mailto:mvanelk@csulb.edu">mvanelk@csulb.edu</a>), <i>Codir</i> </p>

<p><b>Center for Medieval Studies,</b> Faculty Memorial Hall 405, Fordham Univ, 441 E Fordham Rd, Bronx, NY 10458-5162; 718 817-4655; fax: 718 817-3987—Maryanne Kowaleski, <i>Dir</i> </p>

<p><b>Center for Seventeenth- and Eighteenth-Century Studies,</b> 310 Royce, 405 Hilgard Ave, Univ of California, Los Angeles 90095-1404; 310 206-8552; fax: 310 206-8577—Peter Reill, <i>Dir</i> </p>

<p><b>Center for Southern Folklore,</b> 119 S Main St, Memphis, TN 38103; 901 525-3655; fax: 901 544-9965; <a href="mailto:queenbee@southernfolklore.com">queenbee@southernfolklore.com</a>—Judy Peiser, <i>Exec Dir</i> </p>

<p><b>Center for Studies in Oral Tradition,</b> 243 Walter Williams Hall, Univ of Missouri, Columbia 65211; 573 882-9720; <a href="http://www.oraltradition.org">http://www.oraltradition.org</a>—John Miles Foley, <i>Dir</i> </p>

<p><b>Center for the Study of Ethics in the Professions,</b> Illinois Inst of Tech, Chicago 60616; 312 567-3017—Vivian Weil, <i>Dir</i> </p>

<p><b>Center for the Study of Southern Culture,</b> Univ of Mississippi, University 38677; 662 915-5993; fax: 662 915-5814; <a href="mailto:cssc@olemiss.edu">cssc@olemiss.edu</a>; <a href="http://www.olemiss.edu/depts/south">http://www.olemiss.edu/depts/south</a>—Ann J Abadie, <i>Assoc Dir</i> </p>

<p><b>Center for Twenty-First Century Studies,</b> PO Box 413, Univ of Wisconsin, Milwaukee 53201; 414 229-4141; fax: 414 229-5964; <a href="mailto:ctr21cs@uwm.edu">ctr21cs@uwm.edu</a>; <a href="http://www.uwm.edu/Dept/21st">http://www.uwm.edu/Dept/21st</a>—Merry Wiesner-Hanks, <i>Dir</i> </p>

<p><b>Centre for the Study of Theory and Criticism,</b> Somerville House 2345, Univ of Western Ontario, London, ON N6A 3K7, Canada; 519 661-3442; fax: 519 850-2927; <a href="mailto:theory@uwo.ca">theory@uwo.ca</a>—Veronica Schild, <i>Dir</i> </p>

<p><b>Commonwealth Center for the Humanities and Society,</b> Univ of Louisville, Louisville, KY 40292; 502 852-8977; fax: 502 852-3886; <a href="mailto:cchs@louisville.edu">cchs@louisville.edu</a>—Thomas B Byers, <i>Dir</i> </p>

<p><b>Community College Humanities Association,</b> Essex County Coll, 303 University Ave, Newark, NJ 07102-1798; 973 877-3577; fax: 973 877 3578; <a href="mailto:berry@essex.edu">berry@essex.edu</a> </p>

<p><b>Council of the Humanities,</b> Joseph Henry House, Princeton Univ, Princeton, NJ 08544; 609 258-4717; fax: 609 258-2783—Gideon Rosen, <i>Ch</i> </p>

<p><b>Shelby Cullom Davis Center for Historical Studies,</b> 129 Dickinson Hall, Princeton Univ, Princeton, NJ 08544-1017; 609 258-4997; fax: 609 258-5326—Gyan Prakash, <i>Dir</i> </p>

<p><b>Caroline Marshall Draughan Center for the Arts and Humanities,</b> Pebble Hill, Auburn Univ, Auburn University, AL 36849-5637; 334 844-4946; <a href="mailto:lamarja@auburn.edu; http://www.auburn.edu/cah">lamarja@auburn.edu; http://www.auburn.edu/cah</a>—Jay Lamar, <i>Dir</i> </p>

<p><b>East-West Center Education Program,</b> 1601 East-West Rd, Honolulu, HI 96848-1601; 808 944-7323; fax: 808 944-7070; <a href="http://www.EastWestCenter.org">http://www.EastWestCenter.org</a>—Terance W Bigalke, <i>Dir of Education</i> </p>

<p><b>Folger Inst,</b> 201 E Capitol St, SE, Washington, DC 20003; 202 675-0333; fax: 202 544-4623; <a href="mailto:institute@folger.edu">institute@folger.edu</a>—David Schalkwyk, Ch; Kathleen Lynch, <i>Exec Dir</i> </p>

<p><b>Foxfire Fund, Inc,</b> PO Box 541, Mountain City, GA 30562; 706 746-5828; fax: 706 746-5829; <a href="mailto:foxfire@foxfire.org">foxfire@foxfire.org</a>; <a href="http://www.foxfire.org">http://www.foxfire.org</a>—Ann Moore, <i>Pres</i> </p>

<p><b>Getty Research Inst,</b> 1200 Getty Center Dr, Suite 1100, Los Angeles, CA 90049-1688; 310 440-7335; <a href="http://www.getty.edu/research">http://www.getty.edu/research</a> </p>

<p><b>Melbern G Glasscock Center for Humanities Research, </b>310 Glasscock Bldg, Texas A&M Univ, 4214 TAMU, College Station 77843-4214; 979 845-8328; fax: 979 458-3681; <a href="mailto:glasscock@tamu.edu">glasscock@tamu.edu</a>;<a href="http://glasscock.tamu.edu">http://glasscock.tamu.edu</a><b> </b></p>

<p><b>Hall Center for the Humanities,</b> 900 Sunnyside Ave, Univ of Kansas, Lawrence 66045-7622; 785 864-4798; <a href="http://www.hallcenter.ku.edu">http://www.hallcenter.ku.edu</a>—Victor Bailey, <i>Dir</i> </p>

<p><b>Hastings Center,</b> Garrison, NY 10524-5555; 845 424-4040; fax: 845 424-4545—Daniel Callahan, <i>Dir of Intl Programs</i> </p>

<p><b>Humanities Center,</b> Johns Hopkins Univ, Baltimore, MD 21218; 410 516-7619—Michael Fried, <i>Dir</i> </p>

<p><b>Humanities Inst,</b> 1013 Humanities Bldg, Stony Brook Univ, Stony Brook, NY 11794-5354; 631 632-7765; fax: 631 632-7794; <a href="mailto:eakaplan@notes.cc.sunysb.edu">eakaplan@notes.cc.sunysb.edu</a>—E Ann Kaplan, <i>Dir</i> </p>

<p><b>Humanities Research Center,</b> MS-620, Rice Univ, PO Box 1892, Houston, TX 77251-1892; 713 348-4227; fax: 713 348-2729; <a href="mailto:hrc@rice.edu">hrc@rice.edu</a>; <a href="http://hrc.rice.edu">http://hrc.rice.edu</a> </p>

<p><b>Immigration History Research Center,</b> Univ of Minnesota, 311 Elmer L Andersen Lib, 222 21st Ave S, Minneapolis 55455; 612 625-4800; fax: 612 626-0018—Donna Gabaccia, <i>Dir</i> </p>

<p><b>Inst for Advanced Study and Research in the African Humanities,</b> Program of African Studies, 620 Library Place, Northwestern Univ, Evanston, IL 60208-4110; 847 491-7323; fax: 847 491-3739—Akbar M Virmani, <i>Assoc Dir</i> </p>

<p><b>Inst for the Advancement of Philosophy of Children,</b> Montclair State Univ, Upper Montclair, NJ 07043; 973 655-4277; fax: 973 655-7834—Matthew Lipman, <i>Dir</i> </p>

<p><b>Inst for the Arts and Humanities,</b> Ihlseng Cottage, Pennsylvania State Univ, University Park 16802; 814 865-0495; fax: 814 863-8349; <a href="mailto:arts-humanities@psu.edu">arts-humanities@psu.edu</a>; <a href="http://www.iah.psu.edu">http://www.iah.psu.edu</a> </p>

<p><b>Inst for the Arts and Humanities,</b> CB 3322, Hyde Hall, Coll of Arts and Sciences, Univ of North Carolina, Chapel Hill 27599-3322; 919 962-0249; fax: 919 962-1118; <a href="mailto:iah@unc.edu">iah@unc.edu</a>; <a href="http://www.iah.unc.edu/">http://www.iah.unc.edu/</a>—John McGowan, <i>Dir</i> </p>

<p><b>Inst for the Humanities,</b> MC 206, 701 S Morgan St, Univ of Illinois, Chicago 60607-7040; 312 996-7815; fax: 312 996-2938; <a href="mailto:mbrose@uic.edu">mbrose@uic.edu</a>—Mary Beth Rose, <i>Dir</i> </p>

<p><b>Inst for the Humanities,</b> 407 Tier Bldg, Univ of Manitoba, Winnipeg, MB R3T 2N2, Canada; 204 474-9599; fax: 204 474-7596; <a href="mailto:umih@cc.umanitoba.ca">umih@cc.umanitoba.ca</a> </p>

<p><b>Inst for the Humanities,</b> Univ of Michigan, 202 South Thayer, Ann Arbor 48104-1608; 734 936-3518; fax: 734 763-5507 </p>

<p><b>Inst for the Psychological Study of the Arts,</b> 4008 Turlington Hall, Univ of Florida, Gainesville 32611-7310; 352 392-6650, ext 254; fax: 352 392-0860; <a href="mailto:agordon@ufl.edu">agordon@ufl.edu</a>; <a href="http://www.clas.ufl.edu/ipsa/intro.htm">http://www.clas.ufl.edu/ipsa/intro.htm</a>—Andrew Gordon, <i>Dir</i> </p>

<p><b>Inst for Research in the Humanities,</b> 432 East Campus Mall, Univ of Wisconsin, Madison 53706; 608 262-3855; <a href="http://irh.wisc.edu">http://irh.wisc.edu</a>—Susan Friedman, <i>Dir</i> </p>

<p><b>Inst of French Studies,</b> 15 Washington Mews, New York Univ, New York, NY 10003-6694; 212 998-8740; fax: 212 995-4142 </p>

<p><b>Interdisciplinary Humanities Center,</b> Univ of California, Santa Barbara 93106-7100; 805 893-3907; fax: 805 893-4336; <a href="mailto:admin@ihc.ucsb.edu">admin@ihc.ucsb.edu</a> </p>

<p><b>Univ of Kentucky Appalachian Center,</b> 624 Maxwelton Ct, Univ of Kentucky, Lexington 40506-0347; 606 257-4852—Herbert G Reid, <i>Dir</i> </P>

<p><b>Univ of Louisiana at Lafayette Press,</b> PO Box 40831, Univ of Louisiana, Lafayette 70504; 337 482-6027; fax: 337 482-6028 </p>

<p><b>Natl Humanities Center,</b> PO Box 12256, Research Triangle Park, NC 27709-2256; 919 549-0661; nhc@ga.unc.edu; <a href="http://www.nhc.rtp.nc.us">http://www.nhc.rtp.nc.us</a> </p>

<p><b>Newberry Library, Office of Research and Education,</b> 60 W Walton St, Chicago, IL 60610; 312 255-3666; <a href="mailto:research@newberry.org">research@newberry.org</a> </p>

<p><b>New York Inst for the Humanities,</b> 285 Mercer St., 9th floor, New York Univ, New York, NY 10003; 212 998-2100—Lawrence Wechsler, <i>Dir</i> </p>

<p><b>Obermann Center for Advanced Studies,</b> Univ of Iowa, Iowa City 52242; 319 335-4034; fax: 319 335-4696; <a href="mailto:neda-barrett@uiowa.edu; http://www.uiowa.edu/obermann/">neda-barrett@uiowa.edu; http://www.uiowa.edu/obermann/</a>—Neda Barrett, <i>Administrator</i> </p>

<p><b>Omohundro Inst of Early American History and Culture,</b> PO Box 8781, Williamsburg, VA 23187-8781; 757 221-1110; fax: 757 221-1047; <a href="mailto:ieahc1@wm.edu">ieahc1@wm.edu</a>; <a href="http://oieahc.wm.edu/">http://oieahc.wm.edu/</a>—Ronald Hoffman, <i>Dir</i> </p>

<p><b>Oregon Humanities Center,</b> Univ of Oregon, Eugene 97403-5211; 541 346-3934; fax: 541 346-5822; <a href="http://ohc.uoregon.edu">http://ohc.uoregon.edu</a>—Barbara Altmann, <i>Dir</i> </p>

<p><b>Poynter Center for the Study of Ethics and American Institutions,</b> 618 East 3rd St, Indiana Univ, Bloomington 47405-3602; 812 855-0261; fax: 812 855-3315—Richard B Miller, <i>Dir</i> </p>

<p><b>Radcliffe Inst for Advanced Study Fellowship Program,</b> 8 Garden St, Cambridge, MA 02138; 617 495-8212 </p>

<p><b>Liston B Ramsey Center for Regional Studies,</b> Box 6706, Mars Hill Coll, Mars Hill, NC 28754; 828 689-1262—Karen Paar, <i>Dir</i> </p>

<p><b>Harry Ransom Humanities Research Center,</b> PO Drawer 7219, Univ of Texas, Austin 78713-7219; 512 471-8944, fax: 512 471-9646; <a href="mailto:info@hrc.utexas.edu">info@hrc.utexas.edu</a>; <a href="http://www.hrc.utexas.edu">http://www.hrc.utexas.edu</a>—Thomas F Staley, <i>Dir</i> </p>

<p><b>Charles Redd Center for Western Studies,</b> 366 SWKT, Brigham Young Univ, Provo, UT 84602; 801 422-4048—Brian Q Cannon, <i>Dir</i> </p>

<p><b>Rensselaerville Inst,</b> 63 Huych Rd, Rensselaerville, NY 12147; 518 797-3783—Harold Williams, <i>Pres</i> </p>

<p><b>Walter Chapin Simpson Center for the Humanities,</b> Communications 206, Box 353710, Univ of Washington, Seattle 98195-3710; 206 543-3920; fax: 206 685-4080; <a href="mailto:uwch@u.washington.edu">uwch@u.washington.edu</a>; <a href="http://www.simpsoncenter.org">http://www.simpsoncenter.org</a>—Kathleen Woodward, <i>Dir</i>; Miriam Bartha, <i>Assoc</i> <i>Dir</i> </p>

<p><b>Society for the Humanities,</b> Andrew D White House, 27 East Ave, Cornell Univ, Ithaca, NY 14853; 607 255-4086—Timothy Murray, <i>Dir</i> </p>

<p><b>Stanford Humanities Center,</b> Stanford Univ, 424 Santa Teresa St, Stanford, CA 94305-4015; 650 723-3052; fax: 650 723-1895; <a href="http://shc.stanford.edu">http://shc.stanford.edu</a> </p>

<p><b>Virginia Center for the Humanities,</b> 145 Ednam Dr, Charlottesville 22903-4629; 434 924-3296; fax: 434 296-4714; <a href="http://www.virginiafoundation.org">http://www.virginiafoundation.org</a>—Robert C Vaughan, <i>Pres</i></p>
