<h1>Conference Schedule</h1>
<table width="95%" border="0">
<tr align="left" valign="top"> 
<td width="31%"> 
<h2>Friday<BR> 21 October 2005</h2>
</td>
<td width="69%">&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
</tr>
<tr align="left" valign="top"> 
<td width="31%">&nbsp;</td>
<td width="69%">&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td width="31%">9:15 a.m. </td>
<td width="69%">Welcome<br>
Domna C. Stanton, Graduate Center, City Univ. of New York</td>
</tr>
<tr align="left" valign="top"> 
<td width="31%">&nbsp;</td>
<td width="69%">&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td width="31%"> 
<h2>Sessions</h2>
</td>
<td width="69%">&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td width="31%">9:30-11:30 a.m.</td>
<td width="69%"><b>Cultural Translation, Internationalism, and Rights Discourse</b><br>
Presiding: Domna C. Stanton, Graduate Center, City Univ. of New York<BR><BR>
Speakers: Abdullahi Ahmed An-Na'im, Emory Univ. Law School<BR>
David W. Kennedy, Harvard Univ. Law School<BR>
Kenneth Roth, Human Rights Watch<BR>
Leti Volpp, American Univ. Law School
</td></tr>
<tr align="left" valign="top"> 
<td width="31%">&nbsp;</td>
<td width="69%">&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td width="31%">11:45 a.m.-12:45 p.m.</td>
<td width="69%">Lunch on own</td>
</tr>
<tr align="left" valign="top"> 
<td width="31%">&nbsp;</td>
<td width="69%">&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td width="31%">1:00-3:00 p.m. </td>
<td width="69%"><b>Human Rights and the Media</b><br>
Presiding: Rosemary G.  Feal, MLA<BR><BR>
Speakers: Margaret Higonnet, Univ. of Connecticut, Storrs<BR>
Alisa Solomon, Baruch Coll., City Univ. of New York<BR>
Sidonie Smith, Univ. of Michigan, Ann Arbor<BR>
Shibley Telhami, Univ. of Maryland, College Park<BR>
</td></tr>
<tr align="left" valign="top"> 
<td width="31%">&nbsp;</td>
<td width="69%">&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td width="31%">3:00-3:30 p.m. </td>
<td width="69%">Refreshment Break</td>
</tr>
<tr align="left" valign="top"> 
<td width="31%">&nbsp;</td>
<td width="69%">&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td width="31%" height="20">3:30-5:30 p.m.</td>
<td width="69%" height="20"><b>Who Is the Human in Human Rights?</b><br>
Presiding: Francesca Sautman, Graduate Center, City Univ. of New York<br><BR>
Speakers: Omar Barghouti, Tel Aviv Univ.<br>
Jacqueline Bhabha, Harvard Univ.<br>
Eduardo Cadava, Princeton Univ.<br>
Samera Esmeir, New York Univ.
</td>
</tr>
<tr align="left" valign="top"> 
<td width="31%">&nbsp;</td>
<td width="69%">&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td width="31%">5:30-6:30 p.m. </td>
<td width="69%">Cocktail Reception</td>
</tr>
<tr align="left" valign="top"> 
<td width="31%">&nbsp;</td>
<td width="69%">&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td width="31%">6:30 p.m. </td>
<td width="69%"><b>Poetry Reading by Meena Alexander</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="31%">&nbsp;</td>
<td width="69%">&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td width="31%"> 
<h2>Saturday<br> 22 October 2005</h2>
</td>
<td width="69%">&nbsp;</td>
</tr><tr align="left" valign="top"> 
<td width="31%">&nbsp;</td>
<td width="69%">&nbsp;</td></tr>
<tr align="left" valign="top"> 
<td width="31%" height="165">9:00-11:00 a.m.</td>
<td width="69%" height="165"> 
<b>The Rights of Language and Culture, the Language and Culture of Rights</b><br>
Presiding: Marianne Hirsch, Columbia Univ.<br><BR>
Speakers: Lila Abu-Lughod, Columbia Univ.<br>
Kwame Anthony Appiah, Princeton Univ.<br>
Pheng Cheah, Univ. of California, Berkeley<br>
Gayatri Chakravorty Spivak, Columbia Univ.</td></tr>
<tr align="left" valign="top"> 
<td width="31%">&nbsp;</td>
<td width="69%">&nbsp;</td></tr>
<tr align="left" valign="top"> 
<td width="31%">11:00-11:30 a.m.</td>
<td width="69%">Refreshment Break</td>
</tr>
<tr align="left" valign="top"> 
<td width="31%">&nbsp;</td>
<td width="69%">&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td width="31%">11:30 a.m.-1:30 p.m.</td>
<td width="69%"><b>Imagining beyond the Nation: Human Rights and the Critique of Political Sovereignty</b><BR>
Presiding: Judith Butler, Univ. of California, Berkeley<BR><BR>
Speakers: Michel Feher, Universit&#233; de Paris<BR>
Thomas Keenan, Bard Coll.<BR>
Iain Levine, Human Rights Watch<BR>
Bruce Robbins, Columbia Univ.</td></tr>
<tr align="left" valign="top"><td width="31%">&nbsp;</td>
<td width="69%">&nbsp;</td></tr>
<tr align="left" valign="top"> 
<td width="31%">1:30-2:00 p.m.</td></td>
<td width="69%">Wrap-Up<BR>
Judith Butler, Univ. of California, Berkeley</td></tr>
</table>
