<h1>Important Announcement to Our Online Subscribers</h1>
The MLA is pleased to announce that it has signed contracts with CSA and ProQuest, which will make the <I>MLA International Bibliography</I> available to subscribers beginning in early 2005. In addition, the <I>Bibliography</I> will continue to be offered on the EBSCO, Gale, and OCLC platforms.

As Ovid has already announced, the <I>MLA International Bibliography</I> is no longer being offered through Ovid Technologies, but it remains available until no later than 12 July 2005 to subscribers who renewed before 12 July 2004. The MLA and Ovid have agreed to a two-month extension to allow customers with subscriptions expiring in August and September the opportunity to find a new vendor without interruption of service. Additionally, the <I>Bibliography</I> will not be available for renewal through SilverPlatter after 26 November 2004, but customers who renew their subscriptions before that date will receive a full-year subscription.

The MLA will continue to send updates to Ovid and SilverPlatter to enable them to fulfill their commitments to current subscribers, who will have access to the database through the end of their subscription terms.

If you have questions, please write me at <a href="mailto:bchen@mla.org">bchen@mla.org</a>.

Barbara Chen
Director of Bibliographic Information Services
&nbsp;&nbsp;and Editor, <I>MLA International Bibliography</I>
MLA 
26 Broadway, 3rd floor
New York, NY 10004-1789
phone: (646) 576-5076
fax: (646) 835-4021
e-mail: <a href="mailto:bchen@mla.org">bchen@mla.org</a>
