<H1>In Memoriam 2007–08</H1>
<div class="top_indent">Stephen Michael Agli, Graduate Center, City University of New York, 8 January 2007</div>
<div class="top_indent">Clinton Edward Albertson, Loyola Marymount University, 3 May 2007</div>
<div class="top_indent">Alfred Campbell Ames, <i>Chicago Tribune</i>, Chicago, Illinois, 27 August 2007</div>
<div class="top_indent">Harry Barba, Harian Creative Books, Ballston Spa, New York, 29 November 2007</div>
<div class="top_indent">Arthur Parsons Bean, Jr., American University, Washington, DC, 13 September 2007</div>
<div class="top_indent">Ingmar Bergman, Faro, Sweden, 30 July 2007</div>
<div class="top_indent">Alvaro Félix Bolaños, University of Florida, 14 May 2007</div>
<div class="top_indent">Robert A. Bone, Teachers College, 25 November 2007</div>
<div class="top_indent">Mary T. Brady, Georgetown College, 8 January 2007</div>
<div class="top_indent">Patrick Brady, University of Tennessee, Knoxville, 2 October 2006</div>
<div class="top_indent">John Stubbs Brushwood, University of Kansas, 27 May 2007</div>
<div class="top_indent">Sarah K. Burton, Document Design Enterprises, Inc., North Carolina, 22 May 2007</div>
<div class="top_indent">Terry Butler, University of Alberta, 20 August 2007</div>
<div class="top_indent">Thomas F. Carter, Jr., College of the Mainland, Texas, 14 August 2006</div>
<div class="top_indent">Aimé Césaire, Paris, France, 17 April 2008</div>
<div class="top_indent">Peter Glenn Christensen, Cardinal Stritch University, 3 September 2007</div>
<div class="top_indent">Frederick J. Churchill, Hofstra University, 22 December 2006</div>
<div class="top_indent">William Coyle, Florida Atlantic University, 17 December 2006</div>
<div class="top_indent">Nancy H. Davis, Western Kentucky University, 10 June 2008</div>
<div class="top_indent">Paul Debreczeny, University of North Carolina, Chapel Hill, 18 March 2008</div>
<div class="top_indent">William B. F. DeLoach, University of Memphis, 24 April 2007</div>
<div class="top_indent">Reverend Daniel Dempski, OSB, Saint Anselm College, 19 May 2007</div>
<div class="top_indent">Audrey R. Duckert, University of Massachusetts, Amherst, 6 September 2007</div>
<div class="top_indent">John C. Duffy, Gettysburg, Pennsylvania, 15 March 2007</div>
<div class="top_indent">Frank H. Ellis, Smith College, 16 November 2007</div>
<div class="top_indent">Lee Erickson, Marshall University, 27 May 2008</div>
<div class="top_indent">Michel Fabre, Paris, France, 10 August 2007</div>
<div class="top_indent">Robert Fagles, Princeton University, 26 March 2008</div>
<div class="top_indent">Joseph A. Feehan, Granada Hills, California, 22 March 2008</div>
<div class="top_indent">Michael Fixler, Tufts University, 10 February 2007</div>
<div class="top_indent">Jay Fliegelman, Stanford University, 14 August 2007</div>
<div class="top_indent">Jane Marie Ford, San Diego Independent Scholars, 11 August 2007</div>
<div class="top_indent">Albert Barron Friedman, Claremont Graduate University, 11 November 2006</div>
<div class="top_indent">Frederick M. Garber, Binghamton University, State University of New York, 26 June 2007</div><div class="top_indent">George Palmer Garrett, University of Virginia, 26 May 2008</div>
<div class="top_indent">Edwin W. Gaston, Jr., Stephen F. Austin State University, 12 October 2007</div>
<div class="top_indent">Albert Frank Gegenheimer, University of Arizona, 30 November 2006</div>
<div class="top_indent">Mary Gegerias, Brookline, Massachusetts, 13 November 2007</div>
<div class="top_indent">William W. Grant, University of Edinburgh, Scotland, 11 January 2008</div>
<div class="top_indent">Sarah Hannah, Emerson College, 23 May 2007</div>
<div class="top_indent">Kelsie Brown Harder, State University of New York, Potsdam, 12 April 2007</div>
<div class="top_indent">Edward L. Hart, Brigham Young University, Utah, 9 March 2008</div>
<div class="top_indent">Burton N. Hatlen, University of Maine, Orono, 21 January 2008</div>
<div class="top_indent">Richard Helgerson, University of California, Santa Barbara, 26 April 2008</div>
<div class="top_indent">Nathaniel Morton Hilliard, Jr., Durham County Library, North Durham Branch, North Carolina, 7 May 2008</div>
<div class="top_indent">Robert E. Hoover, Iowa State University, 8 September 2006</div>
<div class="top_indent">William F. Irmscher, University of Washington, 20 December 2007</div>
<div class="top_indent">Wolfgang Iser, Universität Konstanz, Germany, 24 January 2007</div>
<div class="top_indent">Francis Xavier Jordan, University of Scranton, 14 February 2008</div>
<div class="top_indent">Carol F. Justus, University of Texas, Austin, 1 August 2007</div>
<div class="top_indent">Janet Gerwig Kimball, Kent State University, Kent, 11 May 2008</div>
<div class="top_indent">Christian J. W. Kloesel, Indiana University-Purdue University, Indianapolis, 15 December 2006</div>
<div class="top_indent">Johanna M. Kondratieff, Tusculum College, 12 February 2008</div>
<div class="top_indent">Mary T. Lane, Anne Arundel Community College, Maryland, 21 October 2007</div>
<div class="top_indent">Hans-Joachim Lang, Universität Erlangen-Nürnberg, Germany, 14 December 2006</div>
<div class="top_indent">John Lang, York University, 23 July 2007</div>
<div class="top_indent">Maurice A. F. Lecuyer, Rice University, 30 December 2006</div>
<div class="top_indent">Herbert Lederer, University of Connecticut, Storrs, 18 July 2007</div>
<div class="top_indent">Winfred P. Lehmann, University of Texas, Austin, 1 August 2007</div>
<div class="top_indent">Orville F. Linck, Wayne State University, 9 January 2006</div>
<div class="top_indent">Paul M. Lloyd, University of Pennsylvania, 6 December 2007</div>
<div class="top_indent">Kelly Fisher Lowe, University of Wyoming, 16 June 2007</div>
<div class="top_indent">Robert F. Lucid, University of Pennsylvania, 12 December 2006</div>
<div class="top_indent">Carlos Lynes, University of Pennsylvania, 6 April 2007</div>
<div class="top_indent">Anne Righton Malone, State University of New York College at Potsdam, 24 September 2007</div>
<div class="top_indent">Walter Gordon Marigold, Union College, Kentucky, 25 November 2007</div>
<div class="top_indent">Robert A. Martin, Michigan State University, 7 May 2008</div>
<div class="top_indent">Paul Eugene McCarthy, Kansas State University, 9 February 2007</div>
<div class="top_indent">Walter J. Mueller, University of Alaska, Fairbanks, 2 November 2006</div>
<div class="top_indent">Walt Nott, Kutztown University, 18 August 2007</div>
<div class="top_indent">Elsa M. Ochoa-Fernández, California State University, San Bernardino, 11 May 2008</div>
<div class="top_indent">Ralph Wilson Rader, University of California, Berkeley, 23 November 2007</div>
<div class="top_indent">Gervais E. Reed, Lawrence University, 20 June 2007</div>
<div class="top_indent">Richard J. Restrepo, St. Joseph's University, 17 January 2006</div>
<div class="top_indent">William Henry Rey, University of Washington, Seattle, 7 May 2007</div>
<div class="top_indent">Gisela F. Ritchie, Laguna Beach, California, 23 October 2006</div>
<div class="top_indent">Georgina Sabat-Rivers, Stony Brook University, State University of New York, 7 May 2008</div>
<div class="top_indent">Arthur Saltzman, Missouri Southern State University, 8 January 2008</div>
<div class="top_indent">Edward C. Sampson, State University of New York College at Oneonta, 4 August 2007</div>
<div class="top_indent">Norman J. Sanders, University of Tennessee, Knoxville, 16 April 2007</div>
<div class="top_indent">Emily Malino Scheuer, George Washington University, 25 January 2007</div>
<div class="top_indent">Sister Mary Faith Schuster, OSB, Benedictine College, 23 May 2007</div>
<div class="top_indent">Lana Schwebel, Yeshiva University, Stern College for Women, 7 July 2007</div>
<div class="top_indent">Helen L. Sehrt, George Mason University, 16 May 2008</div>
<div class="top_indent">Gerald E. Silveira, Long Island University, Brooklyn, 10 May 2008</div>
<div class="top_indent">Armand Edwards Singer, West Virginia University, Morgantown, 12 July 2007</div>
<div class="top_indent">Madeleine B. Stern, Rostenberg and Stern Rare Books, New York, New York, 18 August 2007</div>
<div class="top_indent">Samuel S. Stollman, University of Windsor, 11 June 2007</div>
<div class="top_indent">Scott H. Swaner, University of Washington, Seattle, 20 December 2006
<div class="top_indent">James Alexander Thorburn, Southeastern Louisiana University, 11 November 2007</div>
<div class="top_indent">Anne Smith Tillett, Wake Forest University, 15 June 2007</div>
<div class="top_indent">S. Samuel Trifilo, Marquette University, 30 March 2008</div>
<div class="top_indent">Ralph Vitello, East Stroudsburg University, 11 September 2007</div>
<div class="top_indent">Edmond L. Volpe, College of Staten Island, City University of New York, 14 December 2007</div>
<div class="top_indent">Benjamin M. Woodbridge, Jr., University of California, Berkeley, 18 March 2007</div>
<div class="top_indent">Juan C. Zamora, University of Massachusetts, Amherst, 8 October 2007</div>
