<h1>In Memoriam 2012–13</h1>
<div class="top_indent">Chinua Achebe, Brown University, 21 March 2013</div>
<div class="top_indent">Paul Kurt Ackermann, Boston University, 25 November 2011</div>
<div class="top_indent">Maureen Ahern, Ohio State University, Columbus, 20 June 2012</div>
<div class="top_indent">Sidney P. Albert, California State University, Los Angeles, 9 January 2013</div>
<div class="top_indent">Paul J. Alpers, University of California, Berkeley, 19 May 2013</div>
<div class="top_indent">Maximilian A. E. Aue, Emory University, 6 August 2012</div>
<div class="top_indent">Dorothy A. Backer, Gunnison, Colorado, 14 February 2012</div>
<div class="top_indent">Howard G. Baetzhold, Butler University, 7 July 2012</div> 
<div class="top_indent">Kent R. Bales, University of Minnesota, Twin Cities, 8 October 2012</div>
<div class="top_indent">George Leonard Barnett, Indiana University, Bloomington, 10 February 2013</div>
<div class="top_indent">Roland Bartel, University of Oregon, 20 September 2012</div>
<div class="top_indent">George Chester Bedell, University Press of Florida, 28 November 2012</div>
<div class="top_indent">William F. Belcher, Jr., University of North Texas, 1 March 2013</div>
<div class="top_indent">Sue Strickland Bellocq, Ohio Wesleyan University, 27 November 2011</div>
<div class="top_indent">Alma Bennett, Clemson University, 18 October 2012</div>
<div class="top_indent">Wayne Burns, University of Washington, Seattle, 15 September 2012</div>
<div class="top_indent">Barbara Joan Cicardo, University of Louisiana, Lafayette, 13 September 2012</div>
<div class="top_indent">Virginia P. Clark, University of Vermont, 31 March 2012</div>
<div class="top_indent">Arthur N. Collins, University at Albany, State University of New York, 2 December 2011</div>
<div class="top_indent">James S. Diamond, Princeton University, 28 March 2013</div>
<div class="top_indent">Lee Andrew Elioseff, University of Kentucky, 2 December 2011</div>
<div class="top_indent">Jane D. Emery, Stanford University, 2 December 2011</div>
<div class="top_indent">Bernard F. Engel, Michigan State University, 29 December 2011</div>
<div class="top_indent" style="margin-left:.25in;text-indent:-.25in">Edmund Lloyd Epstein, Queens College, City University of New York, and Graduate Center, City University of New York, 1 April 2012</div>
<div class="top_indent">Walter H. Evert, University of Pittsburgh, 5 April 2012</div>
<div class="top_indent">Frances W. Ewbank, Taylor University, 16 March 2013</div>
<div class="top_indent">James Henry Feely, Lindenwood University, 21 March 2013</div>
<div class="top_indent">Charles N. Fifer, Stanford University, 8 October 2012</div>
<div class="top_indent">Luke J. Flaherty, University of Iowa, 25 September 2011</div>
<div class="top_indent">Joseph N. Frank, Stanford University, 27 February 2013	</div>
<div class="top_indent">R. Dorset Graves, Chadron State College, 1 September 2012</div>
<div class="top_indent">Marshall W. Gregory, Butler University, 30 December 2012</div>
<div class="top_indent">Patricia Harn Harris, Columbia, Missouri, 29 April 2013</div>
<div class="top_indent">Michael Henry Heim, University of California, Los Angeles, 29 September 2012</div>
<div class="top_indent">Constance B. Hieatt, University of Western Ontario, 29 December 2011</div>
<div class="top_indent">Sean R. Hoare, Marymount University, 11 November 2012</div>
<div class="top_indent">Vladimir Honsa, University of Nevada, Las Vegas, 8 May 2011</div>
<div class="top_indent">Elizabeth L. Huberman, Kean University, 30 January 2013</div>
<div class="top_indent">Faith Ibhawaegbele, Ambrose Alli University, Nigeria, 3 October 2012</div>
<div class="top_indent">Charles Kargleder, Spring Hill College, 19 May 2012</div>
<div class="top_indent">Marjorie R. Kaufman, Mount Holyoke College, 30 October 2012</div>
<div class="top_indent">Avi Kempinski, Fort Hays State University, 13 May 2012</div>
<div class="top_indent">Noel James Kinnamon, Mars Hill College, 13 September 2012</div>
<div class="top_indent">Robert Kirsner, University of Miami, 11 February 2013</div>
<div class="top_indent">Bernice W. Kliman, Nassau Community College, New York, 29 November 2011</div>
<div class="top_indent">Richard H. Lawson, University of North Carolina, Chapel Hill, 4 October 2012</div>
<div class="top_indent">Isa&iacute;as Lerner, Graduate Center, City University of New York, 8 January 2013</div>
<div class="top_indent">John Loftis, Stanford University, 31 October 2012	</div>
<div class="top_indent">Jerzy J. Maciuszko, Baldwin Wallace University, 3 March 2011</div>
<div class="top_indent">William Meade McIlwaine, Randolph-Macon College, 14 October 2011</div>
<div class="top_indent">John Mella, Loyola University, Chicago, 16 April 2012</div>
<div class="top_indent">Hans-Joachim Mollenhauer, North Park University, 2 October 2012</div>
<div class="top_indent">Peter Nicolaisen, Paedagogische Hochschule, Germany, 23 February 2013</div>
<div class="top_indent">Otto H. Olivera, Tulane University, 8 July 2012</div>
<div class="top_indent">Victor N. Paananen, Michigan State University, 24 March 2013</div>
<div class="top_indent">Anne Paolucci, Council on National Literatures, 15 July 2012</div>
<div class="top_indent">James S. Patty, Vanderbilt University, 25 August 2012</div>
<div class="top_indent">Maria Pawlow, Marpol Translation Bureau, 8 August 2011</div>
<div class="top_indent">Mark Poster, University of California, Irvine, 10 October 2012</div>
<div class="top_indent">Jane D. Reed, Sacramento, California, 26 February 2012</div>
<div class="top_indent">Neale R. Reinitz, Colorado College, 28 September 2012</div>
<div class="top_indent">Armand A. Renaud, University of Minnesota, Twin Cities, 16 February 2012</div>
<div class="top_indent">John J. Reynolds, Saint John’s University, New York, 4 March 2013</div>
<div class="top_indent">Jeanne A. Roberts, American University, 3 April 2012</div>
<div class="top_indent">Ruth E. Roberts, State University of New York, Fredonia, 18 September 2012</div>
<div class="top_indent">Mary McFeeters Robinson, Wake Forest University, 31 July 2012</div>
<div class="top_indent">S. P. Rosenbaum, University of Toronto, 25 May 2012</div>
<div class="top_indent">G. Ross Roy, University of South Carolina, Columbia, 19 February 2013</div>
<div class="top_indent">Sister Celesta Rudolph, La Roche College, 15 October 2012</div>
<div class="top_indent">Mariann Barbara Russell, Sacred Heart University, 30 March 2012</div>
<div class="top_indent">James A. Sappenfield, University of Wisconsin, Milwaukee, 31 December 2011</div>
<div class="top_indent">Paul Saylor, Northern Virginia Community College, Annandale Campus, 9 July 2011</div>
<div class="top_indent">J’nan Morse Sellery, Harvey Mudd College and Stanford University, 27 April 2011</div>
<div class="top_indent">Dieter H. Sevin, Vanderbilt University, 29 July 2012</div>
<div class="top_indent">Albert A. Sicroff, Queens College, City University of New York, 5 June 2013</div>
<div class="top_indent">Albert Z. Soletsky, Fairleigh Dickinson University, Teaneck, 24 April 2011</div>
<div class="top_indent">Marvin Spevack, University of Münster, Germany, 6 February 2013</div>
<div class="top_indent">Bain Tate Stewart, University of Tennessee, Knoxville, 21 January 2012</div>
<div class="top_indent" style="margin-left:.25in;text-indent:-.25in">Mildred P. Strassberg, Suffolk County Community College, Ammerman Campus, New York, 8 October 2012</div>
<div class="top_indent">Mary C. Sullivan, Hunter College, City University of New York, 30 June 2012</div>
<div class="top_indent">Peter L. Thorslev, Jr., University of California, Los Angeles, 13 October 2011</div>
<div class="top_indent">William Burton Todd, University of Texas, Austin, 27 August 2011</div>
<div class="top_indent">Robert Kean Turner, Jr., University of Wisconsin, Milwaukee, 16 October 2012</div>
<div class="top_indent">Asta Kornelija Velicka, Chicago, Illinois, 13 July 2012</div>
<div class="top_indent">R. W. Whidden, University of Mary Washington, 8 May 2012</div>
<div class="top_indent">Frederick C. Wilkins, Suffolk University, 29 March 2013</div>
<div class="top_indent">Max Womack, Pelham Memorial High School, New York, 13 June 2012</div>
<div class="top_indent">Alan Young-Bryant, Cornell University, 5 December 2012</div>
