<H1>In Memoriam 2009–10</H1>
<div class="top_indent">Charles L. Adams, University of Nevada, Las Vegas, 16 May 2008</div>
<div class="top_indent">Fujio Aoyama, Aoyama Gakuin University, Japan, 4 October 2009</div>
<div class="top_indent">Gardner Pierce Ashley, Franklin College, 23 March 2009</div>
<div class="top_indent">Francisco Ayala, Madrid, Spain, 3 November 2009</div>
<div class="top_indent">Anne Hall Bailey, Pulaski Technical College, Arkansas, 9 July 2009</div>
<div class="top_indent">Chris Bell, Syracuse University, 25 December 2009</div>
<div class="top_indent">Don Belton, Temple University, 27 December 2009</div>
<div class="top_indent">Herbert Bergman, Michigan State University, 31 August 2009</div>
<div class="top_indent">John Paul Boatman, United States Naval Academy, 11 February 2010</div>
<div class="top_indent">Jean Boorsch, Yale University, 23 March 2008</div>
<div class="top_indent">Ray B. Browne, Bowling Green State University, 22 October 2009</div>
<div class="top_indent">Billy Marshall Bufkin, Millsaps College, 4 February 2009</div>
<div class="top_indent">Chester F. Chapin, Greensboro, North Carolina, 11 December 2007</div>
<div class="top_indent">Adam Max Cohen, University of Massachusetts, Dartmouth, 2 January 2010</div>
<div class="top_indent">Sarah Blacher Cohen, University at Albany, State University of New York, 10 November 2008</div>
<div class="top_indent">Julio Cortés, University of North Carolina, Chapel Hill, 13 April 2009</div>
<div class="top_indent">Peter William Cosgrove, Dartmouth College, 22 July 2009</div>
<div class="top_indent">Joy M. Currie, Lincoln, Nebraska, 6 February 2009</div>
<div class="top_indent">Hugh MacCullough Davidson, University of Virginia, 10 April 2009</div>
<div class="top_indent">Miguel Setién Delibes, Valladolid, Spain, 12 March 2010</div>
<div class="top_indent">Christian E. Dolin, University of Nevada, Las Vegas, 4 April 2009</div>
<div class="top_indent">Charlotte Downey, Brown University, 18 October 2009</div>
<div class="top_indent">Donald D. Eddy, Cornell University, 30 November 2009</div>
<div class="top_indent">Aime Ellis, Michigan State University, 26 May 2009</div>
<div class="top_indent">Nils Erik Enkvist, Åbo Akademi, Finland, 26 May 2009</div>
<div class="top_indent">José Escobar, York University, Glendon College, 28 September 2008</div>
<div class="top_indent">Leslie J. Ford, Graceland University, 7 April 2009</div>
<div class="top_indent">Warren G. French, Indiana University–Purdue University, Indianapolis, and University of Wales, Swansea, Wales, 5 July 2009</div>
<div class="top_indent">Barton R. Friedman, Cleveland State University, 5 May 2009</div>
<div class="top_indent">John B. Gleason, University of San Francisco, 26 May 2009</div>
<div class="top_indent">Joshua Gold, University of Connecticut, Storrs, 3 June 2009</div>
<div class="top_indent">Bruce Ingham Granger, University of Oklahoma, 9 August 2009</div>
<div class="top_indent">Esperanza Gurza, University of Puget Sound, 13 August 2009</div>
<div class="top_indent">Harold E. Hall, Nebraska Wesleyan University, 12 May 2009</div>
<div class="top_indent">Mary P. Hamilton, Regis College, 4 August 2009</div>
<div class="top_indent">Robert Hammond, State University of New York College at Cortland, 16 April 2009</div>
<div class="top_indent">Glenn L. Hebert, Chicago, Illinois, 29 December 2008</div>
<div class="top_indent">Laura K. Heilenman, University of Iowa, 31 July 2009</div>
<div class="top_indent">John Harland Hicks, Carmel, California, 19 May 2010</div>
<div class="top_indent">James J. Hill, Jr., Towson University, 28 May 2009</div>
<div class="top_indent">Grace Ann Hovet, University of Northern Iowa, 15 March 2008</div>
<div class="top_indent">Theodore Hovet, University of Northern Iowa, 18 July 2009</div>
<div class="top_indent">Byron K. Jackson, Fairmont State University, 28 September 2008</div>
<div class="top_indent">Larry Johannessen, Northern Illinois University, 21 April 2009</div>
<div class="top_indent">Barbara E. Johnson, Harvard University, 27 August 2009</div>
<div class="top_indent">Naomi Prawer Kadar, Bedford, New York, 23 February 2010</div>
<div class="top_indent">Alice R. Kaminsky, State University of New York College at Cortland, 6 November 2009</div>
<div class="top_indent">Carolyn Cassady Kent, New York, New York, 22 August 2009</div>
<div class="top_indent">John William Kneller, Hunter College, City University of New York, and Graduate Center, City University of New York, 2 July 2009</div>
<div class="top_indent">Toru Kono, Urawa Junior College, Japan, 29 January 2009</div>
<div class="top_indent">Karl Kroeber, Columbia University, 8 November 2009</div>
<div class="top_indent">Peter C. Lecouras, Coastal Carolina University, 9 November 2009</div>
<div class="top_indent">Sally Ledger, Royal Holloway, University of London, England, 21 January 2009</div>
<div class="top_indent">J. A. Leo Lemay, University of Delaware, 15 October 2008
<div class="top_indent">Mimi K. Levin, Educational Testing Service, 15 April 2009
<div class="top_indent">Claude Lévi-Strauss, Paris, France, 30 October 2009</div>
<div class="top_indent">Arthur Orcutt Lewis, Jr., Penn State University, University Park, 19 July 2009</div>
<div class="top_indent">Maureen Reidy Maguire, Western Connecticut State University, 6 April 2010</div>
<div class="top_indent">Kathleen Mahaffey, Indiana University Southeast, 24 November 2009</div>
<div class="top_indent">Henry J. Maxwell, Texas Tech University, 30 March 2009</div>
<div class="top_indent">Penny McKay, Fairfield, Queensland, Australia, 22 August 2009</div>
<div class="top_indent">Margaret McKenzie, Vassar College, 4 August 2009</div>
<div class="top_indent">Elizabeth Taylor McLaughlin, Bucknell University, 1 February 2010</div>
<div class="top_indent">Andrew John Miller, University of Montreal, 4 September 2009</div>
<div class="top_indent">Masao Miyoshi, University of California, San Diego, 1 October 2009</div>
<div class="top_indent">Charles Muscatine, University of California, Berkeley, 12 March 2010</div>
<div class="top_indent">Elmer Wesley O’Neill, Jr., University of Maine, Orono, 31 July 2009</div>
<div class="top_indent">Barbara D. Palmer, University of Mary Washington, 15 September 2009</div>
<div class="top_indent">Ronold S. Pazik, University of Windsor, 30 November 2009</div>
<div class="top_indent">Yadira Pendergrass, Texas Tech University, 26 August 2009</div>
<div class="top_indent">Lyman Peters, Jr., University of Missouri, Saint Louis, 10 October 2009</div>
<div class="top_indent">Richard Poirier, Rutgers University, New Brunswick, and <i>Raritan Quarterly</i>, 15 August 2009</div>
<div class="top_indent">David C. Redding, University at Albany, State University of New York, 3 August 2009</div>
<div class="top_indent">Walter E. Rex III, University of California, Berkeley, 22 January 2010</div>
<div class="top_indent">William Roberts, Northwestern University, Evanston, 26 July 2009</div>
<div class="top_indent">José Saramago, Lanzarote, Islas Canarias, Spain, 18 June 2010</div>
<div class="top_indent">Linda J. Scott, Washington, District of Columbia, 19 July 2009</div>
<div class="top_indent">Dorothy McInnis Scura, University of Tennessee, Knoxville, 8 October 2009</div>
<div class="top_indent">Brother Andrew Richard Segura, FSC, College of Santa Fe, 16 July 2009</div>
<div class="top_indent">Naseeb Shaheen, University of Memphis, 26 September 2009</div>
<div class="top_indent">Rose Shapiro, Fontbonne University, 29 September 2009
<div class="top_indent">Bryan Keith Shelley, Campbell University, 9 February 2010
<div class="top_indent">Frank C. Shuffelton, University of Rochester, 4 March 2010
</div>
<div class="top_indent">George J. Sommer, Marist College, 10 July 2009</div>
<div class="top_indent">Philip T. Stevick, Temple University, 29 March 2009</div>
<div class="top_indent">Ardelle Striker, University of Connecticut, Storrs, 3 December 2009</div>
<div class="top_indent">William L. Sullivan, Worcester State College, 31 May 2008</div>
<div class="top_indent">Mark Taylor, Manhattan College, 14 April 2009</div>
<div class="top_indent">Sidney Thomas, Syracuse University, 7 November 2009</div>
<div class="top_indent">Dorothy Frances Thomson, University of Ottawa Morisset Library, 28 September 2009</div>
<div class="top_indent">Hector Avalos Torres, University of New Mexico, Albuquerque, 8 March 2010</div>
<div class="top_indent">Richard Waight Van Fossen, University of Toronto, Mississauga, 22 September 2009</div>
<div class="top_indent">Louise M. Waterston, University of Puerto Rico, Santurce, 13 February 2009</div>
<div class="top_indent">Sidney Howard White, University of Rhode Island, 2 April 2009</div>
<div class="top_indent">Aubrey L. Williams, University of Florida, 19 October 2009</div>
<div class="top_indent">Howard T. Young, Pomona College, 31 January 2009</div>
<div class="top_indent">Karl E. Zink, Central Washington University, 10 May 2008</div>
