<h1>Ideas of Form in Twentieth-Century Poetry: What We Talk about When We Talk about Form  (Scholarship section)</h1>
Reprinted by permission of the authors. Copyright &#169; 2006 by Anton Vander Zee, David J. Gorman, and David Caplan

<I>Part 3. Information on panelists' and presider's scholarship, particularly scholarship that directly relates to the session topic</i>

1)  DAVID CAPLAN (panelist) is an associate professor of English at Ohio Wesleyan University and the author of <I>Questions of Possibility: Contemporary Poetry and Poetic Form</i> (Oxford University Press; 2005), and <I>Poetic Form: An Introduction</i> (Longman; forthcoming 2006).  In 2004 he served as a Fulbright Lecturer in American Literature, University of Liege (Belgium), conducting research at the Centre Interdisciplinaire de Po&#233;tique Appliqu&#233;.  His work on poetry and poetic form has appeared in <I>New Literary History</i>, <I>Virginia Quarterly Review</i>, and numerous other publications; it has been translated into French and Kashmiri for publication in Belgium, France, and India.

2)  DAVID GORMAN (panelist) is associate professor of English at Northern Illinois University.  He has published in various formats on the history and theory of literary criticism, including essays, reviews, bibliographies, translations, and entries in reference works.  A book on G&#233;rard Genette and poetics in progress.  Gorman has also published on the philosophy of language.  Scholarly work relevant to this panel includes:

"A Bibliography of Russian Formalism in English."  <I>Style</i> 26 (1992): 554-76.  Supplement.  <I>Style</i> 29 (1995): 562-67.

"Modern Genre Theory."  <I>Poetics Today</i> 22 (2001): 851-56.

Translation (with introduction) of Boris Tomashevskii, "The New School of Literary History in Russia" (1927).  <I>Style</i> 37 (2003): 353-66.

Entry on G&#233;rard Genette.  <I>The Johns Hopkins Guide to Literary Theory and Criticism</i>, 2nd ed. Ed. Michael Groden, Martin Kreiswirth, and Imre Szeman.  Baltimore: Johns Hopkins UP, 2004. 430-33.

Gorman has also authored entries on Architext, Fiction, Theories of, Paratext, and Truth in <I>The Routledge Encyclopedia of Narrative Theory</i>.  Ed. David Herman, Manfred Jahn, and Marie-Laure Ryan. New York: Routledge, 2005. 26, 163-67, 419, 621-22.

3) ANTHON VANDER ZEE (presider and panelist) is in the early stages of work on his dissertation in the English Ph.D. program at Stanford University.  Most recently, Vander Zee presented a paper on a panel, which he also co-chaired, at the 2006 AWP conference in Austin, TX titled "Fretting Form: Nation and Novelty in the 1930s."  In September 2005, he presented a paper at the ALA Symposium on Poetic Form titled "Instance of Pain, Instance of Playing: Michael Palmer Reading Stevens and Adorno."  Vander Zee looks forward to this important opportunity to present some core ideas for his dissertation to a broader audience of scholars in his field.

NOTE ON SUBSTITUTE PANELIST: As David Caplan is a part of two other Special Session proposals, ANDREW EASTMAN will serve as an alternate panelist as per MLA guidelines.  Andrew Eastman is Maitre de conferences in the English Department at Marc Bloch University in Strasbourg, France.  He is the author of more than twenty publications (articles and contributions to collective publications) focusing primarily on problems of poetic form in the works of Ezra Pound, George Oppen, Louis Zukofsky, Susan Howe, Wallace Stevens, and Elizabeth Bishop.  His most recent work centers on the semantics of grammar, rhythm, sound patterning and questions of voice in 20th-century American poetry; on the theories of language implied and induced by poetic practices; and on the modes and theories of subjectivity produced by representative texts of American modernism.  Eastman is currently working on a book-length study of rhythmic practices, orality, and subjectivity in American modernism.

Eastman's paper, "The Ruses of the Sign: Poetic Form, Ordinary Language, and Artifice in Recent American Critical Discourse," discusses the notion of form in terms of the way it functions in contemporary critical discourse in order to suggest how it has organized certain aspects of poetic practice.  The paper will analyze the apparent need for the notion of form in contemporary critical discourse along with the stakes invested in it through a critical discussion of critical presuppositions about form and by investigating the impact that ideas of form have had in certain late twentieth-century writing&#151;exemplarily that of Charles Bernstein.
