<h1>FAQ about Using Interfolio Dossier to Apply for Positions in the <i>JIL</i></h1>

<h3>How much does it cost to use Interfolio Dossier?</h3>

<p>Anyone applying to a position advertised in the <i>JIL</i> receives a free Interfolio Dossier account. This account can be used to apply anywhere, not just to positions advertised in the <i>JIL</i>. Transmission of application materials, dossiers, writing samples, and letters of recommendation is free of charge from candidates’ Interfolio Dossier accounts to <em>JIL</em> advertisers who use the Interfolio ByCommittee search-management platform. If ads direct candidates to apply by e-mail—if application documents must be transmitted from an Interfolio Dossier account to a departmental e-mail address—candidates will incur a maximum fee of $6 per search, no matter how many electronic transmissions are requested for a given search. Standard Interfolio delivery prices apply to hard-copy mailings and applications uploaded to a third-party application system.</p>

<h3>How do I get my free Interfolio Dossier account?</h3>

<p>You will be prompted to create your Interfolio Dossier account the first time you apply to any job listed in the <i>JIL</i>. Users with existing accounts will receive an e-mail message from Interfolio with instructions for renewing.</p>

<h3>I signed up for an account through a posting in last year's <i>JIL</i>, but I will be on the job market again this year. How can I renew my account?</h3>

<p>You will receive an automatic renewal e-mail thirty days before the expiration date of your existing Interfolio Dossier account. That e-mail will be customized for MLA account holders and will include specific instructions for renewing your account.</p>

<h3>How do I get letters of recommendation submitted to Interfolio?</h3>
	
<p>You will be able to use Interfolio to ask people to write letters of recommendation on your behalf. Requests can be sent by e-mail, or by hard copy using a form provided by Interfolio. You can choose whether to waive or maintain your rights of access to the contents of the letters, which will determine whether the letter is considered confidential.</p>

<p>Letter writers will have the option to submit letters electronically through a secure Interfolio account or to mail letters directly to Interfolio. Once a letter has arrived, you will receive e-mail notification that it is available in your account. </p>

<h3>Where are my job application materials stored when I use Interfolio Dossier?</h3>

<p>Application materials are available through your Interfolio Dossier account for as long as your account is active. Interfolio maintains all documents and data for at least five years after your account expires.</p>

<h3>Are my job application materials secure when I submit them through Interfolio?</h3>

<p>Yes, all job application materials are stored in an SAS 70 Type II certified data center; the data center and Interfolio also each participate in the Safe Harbor program developed by the United States Department of Commerce and the European Union to ensure the protection of personal data.  </p>

<h3>Once I save my job application and supporting materials in Interfolio, can I revise them?</h3>

<p>Yes. Until a position you are applying for is closed or the department advertising the position is no longer accepting application modifications, you will be able to submit additional documents and make changes to the application. </p>

<h3>What if I have multiple versions of my application letter and CV?</h3>

<p>Each Interfolio Dossier account comes with 250 MB of storage, which is enough for hundreds of individual documents. You’ll be able to store customized versions of any document, allowing you to tailor each application as you see fit. </p>

<h3>How do I keep track of my applications in Interfolio?</h3>

<p>You will be able to see all applications that you have started and make changes to submitted applications through a single Web page that displays your delivery history. </p>

<h3>How are my job application and other materials delivered to the department I’m applying to?</h3>

<p>Each institution chooses its preferred delivery method from among the following:</p>

<p>Interfolio Electronic Delivery: </p>

<ul>
	<li>Job applications and other materials will be sent electronically to institutions that have elected to receive applications directly from Interfolio. </li>
	<li>Materials from applicants can be sent to a verified e-mail address. More information about e-mail delivery is available on the <a href="http://www.interfolio.com/email-deliveries-and-their-discontents/">Interfolio blog</a>.</li>
</ul>

<p>Mail: Interfolio offers hard-copy delivery through the United States Postal Service and FedEx.</p>

<p>Third-party institutional application systems: in many cases, materials (specifically confidential letters of recommendation) can be submitted to third-party applicant-tracking systems. </p>


<h3>Will I receive verification that my application materials were delivered and received?</h3>

<p>Yes. You will receive a delivery-confirmation message by e-mail for any application submitted through the system, regardless of method. For any hard-copy application sent with an option that includes tracking, you can gain access to the tracking number through your account. For electronic deliveries, a receipt of acknowledgment may also come from the search administrator, if the search administrator chooses to send one.</p>

<h3>What if the ad for the position I’m applying for stipulates that letters of application, CVs, dossiers, and other materials must be uploaded to an institutional Web site?</h3>

<p>Because applicant-tracking systems require applicants to create their own accounts, you will have to submit materials directly to such systems. Interfolio may, however, be able to help upload your confidential letters of recommendation on your behalf. </p>
