<span class="s4">The Future of Scholarly Publishing</span>
<span class="s3">From the Ad Hoc Committee on the Future of Scholarly Publishing</span>

[[[insert page index]]]
This report was originally published in <i>Profession 2002</i> (New York: MLA, 2002) 172-86.

 
