<h1>Guidelines for Information Technology Access and Support for the Modern Languages</h1>
In recognition that information technology (IT) is critical to fulfilling the educational and research missions of modern language departments, the MLA offers the following guidelines. Department chairs, deans, and other administrative officers who support and enable teaching and research in the modern languages are urged to consider the following guidelines in the context of their institution’s broader IT initiatives. Scholars and academic support staff should likewise engage actively in shaping institutional directions in technology, research, and learning.

<h2>Responsibilities of Departments and Institutions</h2>
<ol>
<li><b>Provide IT access and support for all.</b> All faculty members, instructors, academic researchers, and students should be given training and support in using information technologies. </li>
<li><b>Provide an IT infrastructure responsive to the needs of faculty members and students in the modern languages.</b> Modern language scholars and students require IT facilities and tools specifically designed for language teaching, research, and learning, as well as tools not traditionally associated with humanistic scholarship. Institutions should proactively solicit input on IT needs from modern language faculty members and their IT teaching and research partners.</li>
<li><b>Appoint academic technology staff knowledgeable about research and teaching in the modern languages.</b> Academic technology staff for the modern languages should be capable of both translating the technological environment for users and responding to the demands of modern language teaching and research. They should be appointed in close consultation with relevant academic partners regarding goals, methods, research agendas, and other critical functions. </li>
<li><b>Support best practices in universal design and accessibility.</b> Technologies that permit persons with disabilities to conduct research, teach, learn, and carry out other professional and educational responsibilities effectively should be made available. Institutions must be aware of and comply with federal regulations regarding accessibility.</li>
<li><b>Recognize that adapting to and adopting new IT is a nontrivial task.</b> Even with adequate IT access and support, integrating new technologies meaningfully into one’s work requires thoughtful experimentation and preparation. Institutions and departments should recognize the innovative work of faculty members and students and the additional time required by such teaching, research, and learning. Institutions should also recognize the disparate impact of IT platforms and policies on different constituencies.</li>
<li><b>Avoid placing undue restrictions on the ability of faculty members or students to adopt a new technology for their work.</b> While institutions must consider the implementation of information technology within its larger IT ecosystem, they should also recognize that innovative faculty work and student learning may depend on incorporating new tools or approaches. Furthermore, institutions and departments should understand that the timeliness of such adoption affects the effectiveness of such research, teaching, and learning.</li>
</ol>

<h2>Responsibilities of Scholars of the Modern Languages</h2>
<ol>
<li><b>Recognize academic technology staff members as vital collaborators.</b> Like faculty members, staff members are skilled and trained professionals. Scholars should acknowledge that all kinds of work in an institution are equally deserving of credit. Such reciprocity is especially important when members of the support staff are knowledgeable about research and teaching in the modern languages.</li>
<li><b>Experiment with new information technologies.</b> Scholars of the modern languages should acquaint themselves with new modes and methods of working, so as to facilitate innovative teaching and research, drive institutional IT policy, and partner effectively with academic technology staff members.</li>
</ol>

Institutions must communicate to the faculty a coherent statement of IT support for the means and ends of scholarly activity in modern languages. It is the position of the MLA that addressing such infrastructure and technological support is indispensable not only to successful research, teaching, and service work by faculty members but also to the viability of graduate and undergraduate student careers. A proactive and imaginative engagement with IT on the part of institutions, departments, faculty members, and students will enrich our work and open up possibilities for our students and our educational institutions.

See also the <a href="http://www.mla.org/guidelines_evaluation_digital" target="_blank">MLA Guidelines for Evaluating Work in Digital Humanities and Digital Media</a>.

<i>These guidelines were revised by the Committee on Information Technology in October 2012 and approved by the MLA Executive Council at its 22–23 February 2013 meeting. The committee’s original guidelines were approved by the MLA Executive Council in May 2000.</i>
