<h1>January 2006 (vol. 121, no. 1)</h1>
<h2>Cover and table of contents</h2>

<img src="/IMAGES/jan06_pmlacovlg.jpg" width=420 height=593 border=0 alt="PMLA">
<a name="table"></a>
<table width="95%" border="0" align="left">
<tr align="left" valign="top"> 
<tr align="left" valign="top"> 
<td width="6%">6</td>
<td width="94%">A Statement of Editorial Policy</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">6</td>
<td width="94%">Forthcoming in <I>PMLA</I></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%">Features in <I>PMLA</I></td>
</tr>
<TR><td colspan="2">
&nbsp;</td></tr>
<tr align="left" valign="top"> 
<td width="6%">&nbsp;</td>
<td width="94%"><b>Special Topic: The History of the Book and the Idea of Literature</b> 
Coordinated by Seth Lerer and Leah Price</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">9</td>
<td width="94%">Introduction: Reading Matter
<i>Leah Price</i></td></tr>
<tr align="left" valign="top"> 
<td width="6%">17	</td>
<td width="94%">Francis Kirkman's Counterfeit Authority: Autobiography, Subjectivity, Print 
<i>Jody Greene</i></td></tr>
<tr align="left" valign="top"> 
<td width="6%">33	</td>
<td width="94%">Breaking the Book Known as Q
<i>Coleman Hutchison</i></td></tr>
<tr align="left" valign="top"> 
<td width="6%">67</td>
<td width="94%">The Thick Style: Steady Sellers, Textual Aesthetics, and Early Modern Devotional Reading
<i>Matthew P. Brown</i></td></tr>
<tr align="left" valign="top"> 
<td width="6%">87</td>
<td width="94%">Defoe and the Contagion of the Oral: Modeling Media Shift in <i>A Journal of the Plague Year</i>
<i>Paula McDowell</i></td></tr>
<tr align="left" valign="top"> 
<td width="6%">107</td>
<td width="94%">The Encyclopedist and the Peruvian Princess: The Poetics of Illegibility in French Enlightenment Book Culture
<i>Lorraine Piroux</i></td></tr>
<tr align="left" valign="top"> 
<td width="6%">124</td>
<td width="94%">Rethinking the Print Object: Goethe and the Book of Everything
<i>Andrew Piper</i></td></tr>
<tr align="left" valign="top"> 
<td width="6%">139</td>
<td width="94%">Burning with Reverence: The Economics and Aesthetics of Words in Qing (1644-1911) China
<i>Alexander Des Forges</i></td></tr>
<tr align="left" valign="top"> 
<td width="6%">156</td>
<td width="94%">Race and the (Para)Textual Condition
<i>Beth A. McCoy</i></td></tr>
<tr align="left" valign="top"> 
<td width="6%">170</td>
<td width="94%">Ezra Pound's Poetic Anthologies and the Architecture of Reading 
<i>John G. Nichols</i></td></tr>
<tr align="left" valign="top"> 
<td width="6%">186</td>
<td width="94%">Constructing the Postwar Art Novel: Paul Bowles, James Laughlin, and the Making of <i>The Sheltering Sky</i>
<i>Evan Brier</i></td></tr>
<tr align="left" valign="top"> 
<td width="6%">200</td>
<td width="94%">War and the Book: The Diarist, the Cryptographer, and <i>The English Patient</i>
<i>Alice Brittan</i></td></tr>
<tr align="left" valign="top"> 
<td width="6%">214</td>
<i><td width="94%">Ideas of the Book and Histories of Literature: After Theory?
<i>Peter D. McDonald</i></td></tr>
<tr align="left" valign="top"> 
<td width="6%">229</td>
<td width="94%">Epilogue: Falling Asleep over the History of the Book</i>
<i>Seth Lerer</i></td></tr>
<TR><td colspan="2">
&nbsp;</td></tr>
<tr align="left" valign="top"> 
<td width="6%">&nbsp;</td>
<td width="94%"><b>Little-Known Documents</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">235</td>
<td width="94%">Are Too Many Books Written and Published? (1927)
<i>Leonard Woolf and Virginia Woolf
Introduction by Melba Cuddy-Keane</i>
</td></tr>
<tr align="left" valign="top"> 
<td width="6%">245</td>
<td width="94%">Marie of the Cabin Club (1939)
<i>Ann Petry
Introduction by Gene Jarrett
</td></tr>
<TR><td colspan="2">
&nbsp;</td></tr>
<tr align="left" valign="top"> 
<td width="6%">
&nbsp;</td></td>
<td width="94%"><img src="/IMAGES/ornament_toc.gif" width=81 height=8 border=0 alt="ornament"></td></tr>
<TR><td colspan="2">
&nbsp;</td></tr>
<tr align="left" valign="top"> 
<td width="6%">&nbsp;</td>
<td width="94%"><b>Theories and Methodologies</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">255</td>
<td width="94%">The Unassimilated Theorist
<i>Linda Mart&#237;n Alcoff</i></td></tr>
<tr align="left" valign="top"> 
<td width="6%">260</td>
<td width="94%">Anzald&#250;a and Transnational American Studies
<i>Debra A. Castillo</i></td></tr>
<tr align="left" valign="top"> 
<td width="6%">266</td>
<td width="94%">Gloria Anzald&#250;a:  Place, Race, Language, and Sexuality in the Magic Valley
<i>Mar&#237;a Herrera-Sobek</i></td></tr>
<tr align="left" valign="top"> 
<td width="6%">272</td>
<td width="94%">Bridging Islands: Gloria Anzald&#250;a and the Caribbean
<i>Frances Negr&#243;n-Muntaner</i></td></tr>
<tr align="left" valign="top"> 
<td width="6%">279</td>
<td width="94%"><i>Prietita y el Otro Lado</i>: Gloria Anzald&#250;a's Literature for Children
<i>Tey Diana Rebolledo</i></td></tr>
<tr align="left" valign="top"> 
<td width="6%">285</td>
<td width="94%">For Gloria Anzald&#250;a: Collecting America, Performing Friendship
<i>Ivy Schweitzer</i></td></tr>
<tr align="left" valign="top"> 
<td width="6%">292</td>
<td width="94%">The Contingencies of Life and Reading: <i>Para</i> Gloria
<i>Silvia Spitta</i></td></tr>
<TR><td colspan="2">
&nbsp;</td></tr>
<tr align="left" valign="top"> 
<td width="6%">295</td>
<td width="94%">Forum 
<i>Ian Barnard, Judith Butler, John DeFrancis, Harold Fromm, James D. Hoff, Burton Pike, Robert Scholes, and Gang Zhou</i></td></tr>
<tr align="left" valign="top"> 
<td width="6%">303</td>
<td width="94%">Minutes of the MLA Executive Council</td></tr>
<tr align="left" valign="top"> 
<td width="6%">312</td>
<td width="94%">In Memoriam</td></tr>
<tr align="left" valign="top"> 
<td width="6%">314</td>
<td width="94%">Index of Advertisers</td></tr>
<tr align="left" valign="top"> 
<td width="6%">318</td>
<td width="94%">Index of Authors Advertised</td></tr>
<tr align="left" valign="top"> 
<td width="6%">348</td>
<td width="94%">Abstracts</td></tr></table>
