<h1><I>Job Information List</I></h1>
<@if ($todays_date_string >= $june_message_on_date_string && $todays_date_string < $sept_message_off_date_string && $jil_accepting_new_jobs ne "Y")><font color="blue">Please note: the JIL database of job listings will close for the summer on [[[RESULTS jil_close_on_date]]].  All current listings will expire on that date.  Departments may submit new listings for the fall beginning in August; the deadline for inclusion in the October print edition is [[[RESULTS oct_print_deadline_display]]].  Job seekers will be able to search the new database of job listings beginning [[[RESULTS jil_available_on_date]]].</font>
<@/if>

Published by the MLA as an electronic database and as printable PDF editions, the <i>JIL</i> is the recognized professional source for announcements of full-time faculty positions available in the fields of English and foreign languages in North American colleges and universities. Access to search the <i>JIL</i> is free to all users. Listings primarily announce full-time academic job openings in postsecondary departments of English and foreign languages. The job openings range in rank from instructor to full professor and include faculty positions, administrative posts, vacancies abroad, and some opportunities for nonacademic employment. <a href="http://www.mla.org/jil_about">Learn more</a>.
<h2>ACTIONS</h2>
&nbsp;&nbsp;&nbsp;<b><a href="/jil_submit">Submit or Edit a Job Listing</a></b>

&nbsp;&nbsp;&nbsp;<b><a href="/jil_search">Search for Jobs</a></b>

&nbsp;&nbsp;&nbsp;<b><a href="/jil_issues">PDFs of the MLA <i>Job Information List</i></a></b>

&nbsp;&nbsp;&nbsp;<b><a href="/jil_saved_jobs">Retrieve Your Saved Jobs</a></b>

<h2>ABOUT</h2>
&nbsp;&nbsp;&nbsp;<b><a href="/jil_about">About the <i>JIL</i></a></b>

&nbsp;&nbsp;&nbsp;<b><a href="/jil_interfolio">Dossier and Search-Management Services</a></b>

&nbsp;&nbsp;&nbsp;<b><a href="/jil_subscribe">How to Access the MLA <i>Job Information List</i> Database</a></b>

&nbsp;&nbsp;&nbsp;<b><a href="/jil_howto">How to Search the <i>JIL</i> Database</a></b>

&nbsp;&nbsp;&nbsp;<b><a href="/jilreport201213" >Report on the MLA <i>Job Information List</i>, 2012–13</a></b>[[[docstudio filetype_tag_pdf]]]

&nbsp;&nbsp;&nbsp;<b><a href="/jilreport201112"  target="_blank">Report on the MLA <i>Job Information List</i>, 2011–12</a></b>[[[docstudio filetype_tag_pdf]]]



To contact the <I>JIL</I>, e-mail <a href="mailto:JILeditor@mla.org">JILeditor@mla.org</a>.
