<h1>Sources of Information for Job Candidates in English</h1>
<I>Prepared by Susan Belasco Smith, University of Tulsa</I> 

<h2>General Advice and Background Reading</h2>
<UL>
<LI>Bay, Libby. "Teaching in the Community College: Rerouting a Career." <I>ADE Bulletin</I> 114 (1996): 27-29.
<li>Deneef, A. Leigh, Craufurd D. Goodwin, and Ellen Stern McCrate, eds.  <I>The Academic's Handbook.  </I>Durham: Duke UP, 1988.
<li>Dubrow, Heather.  &quot;A World Elsewhere: Teaching in a Liberal Arts College,&quot; <I>ADE Bulletin </I>103 (1992): 38-44.
<LI>Green, Eleanor.  "The Job Search: Observations of a Reader of 177 Letters of Application."  <I>ADE Bulletin</I> 113 (1996): 50-52.
<li>Gregory, Marshall.  &quot;From PhD Program to BA College; or, The Sometimes Hard Journey from Life in the Carrel to Life in the World&quot; <I>ADE Bulletin </I>107 (1994): 20-24.
<li>Hanawalt, Jean Allen, and Thomas Trzyna.  &quot;Applying to Teach at a Christian College.&quot; <I>ADE Bulletin </I>79 (1984): 46-47.
<li>Malek, James S. &quot;Caveat Emptor; or, How Not to Get Hired at DePaul.&quot; <I>ADE Bulletin </I>92 (1989): 33-36.
<LI>Mangum, Teresa.  "Identity and Economics; or, The Job Placement Procedural."  <I>ADE Bulletin</I> 114 (1996): 19-24.  For an additional bibliography on the job search, see Mangum's Selected List of Works Consulted (23-24).
<li>Sledge, Linda Ching.  &quot;The Community College Scholar.&quot; <I>ADE Bulletin </I>83 (1986): 9-11.
<li>Thomas, Trudelle.  &quot;Demystifying the Job Search: A Guide for Candidates.&quot; <I>CCC </I>40 (1989): 312-27.
<li>Timmerman, John H. &quot;Advice to Candidates.&quot; <I>College English </I>50 (1988): 748-51.
See also &quot;Special Topic on the Job Market,&quot; <I>Profession 94 </I>(New York: MLA, 1994): 57-105, for a collection of essays by Erik D. Curren, Marta Caminero-Santangelo, Lydia Belateche, Linda M. Lemiesz, Judith Pascoe, Gordon Hutner, Robert C. Holub, and Bettina J. Huber; &quot;Special Section: The Job Search in English,&quot; <I>ADE Bulletin</I> 111 (1995): 4-27; and &quot;The MLA's 1993-94 Survey of PhD Placement,&quot; <I>MLA Newsletter</I> 27.4 (1995): 1-3 and <I>ADE Bulletin</I> 112 (1995): 40-51.
</UL>

<h2>For Job Openings</h2>
<UL>
<li><I><A HREF="http://chronicle.com">Chronicle of Higher Education</A>.</I> Published weekly (except in August and December).  In addition to listing openings under such categories as &quot;English,&quot; &quot;Women's Studies,&quot; or &quot;Writing,&quot; many two- and four-year institutions take out large ads that include all their available positions.  The <I>Chronicle</I> also lists openings in administration, at foundations and associations, and occasionally, in private secondary schools.
<li><I>MLA Job Information List.</I> Published four times a year. Four-year institutions are more likely than two-year colleges to list openings here.
</UL>

<h2>Information about American Colleges and Universities</h2>
<UL>
<li>Atwell, Robert, and David Pierce, eds.  <I>American Community Colleges: A Guide. </I>10th ed.  Phoenix: Oryx, 1995.  A state-by-state guide with extensive commentary on each institution.
<li><I>Barron's Profiles of American Colleges. </I>20th ed.  New York: Barron's, 1994.  Comprehensive, informative guide to four-year, accredited colleges; rates selectiveness of admissions.
<li>Cass, James, and Max Birnbaum. <I>Comparative Guide to American Colleges.</I> 15th ed.  New York: Harper, 1991.  An alphabetical, narrative guide to four-year institutions.
<li><I>The College Blue Book.</I> 25th ed. 5 vols.  New York: Macmillan, 1995.  The most useful volume is <I>Narrative Descriptions</I>, a state-by-state listing of two- and four-year colleges, complete with maps.
<li><I>Insider's Guide to the Colleges, 1998: Students from Coast to Coast Tell What Their Colleges Are Really Like</I>.  Comp.  Yale Daily News staff. 24th ed. New York: St. Martin's, 1997. A sometimes irreverent alternative source of information on 300 colleges.
</UL>

<h2>Foreign Colleges and Universities</h2>
<UL>
<LI><I>Commonwealth Universities Yearbook</I>
<LI><I>International Handbook of Universities</I>
</UL>

Both are published every three years in New York by Macmillan.
