<div style="float: right; margin-top: 24px;"><a href="/jil_search">Search the <i>Job Information List</i></a></div>
<h1>Browse Listings by Institution</h1>
<p>The institutions with current listings in the <i>JIL</i> are shown below.  Click on an institution name to retrieve the listings for that institution.</p>

[[[@loop "jil_institutions"]]]
<div style="float: left; width: 32%; padding-right: 1%;">
<a href="/jil_results?function=jil_search&inst=[[[@col url_name]]]&language_code=3&from=inst">[[[@col name]]]</a>
</div>
[[[@endloop]]]
