<h1>Table 10</h1>
<h2>Placement of 1996-97 English PhDs by Race and Ethnicity</h2>
<table border="0" cellspacing="1" cellpadding="2" width="578" bgcolor="[[color1]]">
		<tr>
			<td width="27%" valign="TOP" bgcolor="#ffffff" height="16">
				&nbsp;
			</td>
			<td width="11%" valign="TOP" bgcolor="#ffffff" height="16" align="CENTER">
				<b>Asian</b>
			</td>
			<td width="11%" valign="TOP" bgcolor="#ffffff" height="16" align="CENTER">
				<b>Black</b>
			</td>
			<td width="12%" valign="TOP" bgcolor="#ffffff" height="16" align="CENTER">
				<b>Hispanic</b>
			</td>
			<td width="14%" valign="TOP" bgcolor="#ffffff" height="16" align="CENTER">
				<b>Native Am</b>
			</td>
			<td width="11%" valign="TOP" bgcolor="#ffffff" height="16" align="CENTER">
				<b>White</b>
			</td>
			<td width="13%" valign="TOP" bgcolor="#ffffff" height="16" align="CENTER">
				<b>Unknown</b>
			</td>
		</tr>
		<tr>
			<td width="27%" valign="TOP" bgcolor="#ffffff" height="16" align="RIGHT">
				<b>No. of PhDs reported</b>
			</td>
			<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				71
			</td>
			<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				40
			</td>
			<td width="12%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				36
			</td>
			<td width="14%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				6
			</td>
			<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				1070
			</td>
			<td width="13%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				3
			</td>
		</tr>
		<tr>
			<td width="27%" valign="TOP" bgcolor="#ffffff" height="16" align="RIGHT">
				<b>% with unknown employment status</b>
			</td>
			<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				8.89%
			</td>
			<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				0.00%
			</td>
			<td width="12%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				9.38%
			</td>
			<td width="14%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				0.00%
			</td>
			<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				6.60%
			</td>
			<td width="13%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				0.00%
			</td>
		</tr>
		<tr>
			<td width="27%" valign="TOP" bgcolor="#ffffff" height="16" align="RIGHT">
				<b>Tenure-track appointment</b>
			</td>
			<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				34.15%
			</td>
			<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				71.05%
			</td>
			<td width="12%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				37.93%
			</td>
			<td width="14%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				50.00%
			</td>
			<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				31.92%
			</td>
			<td width="13%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				50.00%
			</td>
		</tr>
		<tr>
			<td width="27%" valign="TOP" bgcolor="#ffffff" height="16" align="RIGHT">
				<b>Full-time non-tenure-track appointment</b>
			</td>
			<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				12.20%
			</td>
			<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				7.89%
			</td>
			<td width="12%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				27.59%
			</td>
			<td width="14%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				0.00%
			</td>
			<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				26.77%
			</td>
			<td width="13%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				0.00%
			</td>
		</tr>
		<tr>
			<td width="27%" valign="TOP" bgcolor="#ffffff" height="16" align="RIGHT">
				<b>Part-time appointment</b>
			</td>
			<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				14.63%
			</td>
			<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				5.26%
			</td>
			<td width="12%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				13.79%
			</td>
			<td width="14%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				16.67%
			</td>
			<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				13.54%
			</td>
			<td width="13%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				0.00%
			</td>
		</tr>
		<tr>
			<td width="27%" valign="TOP" bgcolor="#ffffff" height="16" align="RIGHT">
				<b>Postdoctoral fellowship</b>
			</td>
			<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				2.44%
			</td>
			<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				5.26%
			</td>
			<td width="12%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				6.90%
			</td>
			<td width="14%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				16.67%
			</td>
			<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				3.23%
			</td>
			<td width="13%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				0.00%
			</td>
		</tr>
		<tr>
			<td width="27%" valign="TOP" bgcolor="#ffffff" height="16" align="RIGHT">
				<b>Academic administration</b>
			</td>
			<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				2.44%
			</td>
			<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				0.00%
			</td>
			<td width="12%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				0.00%
			</td>
			<td width="14%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				0.00%
			</td>
			<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				3.03%
			</td>
			<td width="13%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				0.00%
			</td>
		</tr>
		<tr>
			<td width="27%" valign="TOP" bgcolor="#ffffff" height="16" align="RIGHT">
				<b>Employed outside higher education</b>
			</td>
			<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				21.95%
			</td>
			<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				5.26%
			</td>
			<td width="12%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				3.45%
			</td>
			<td width="14%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				0.00%
			</td>
			<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				11.21%
			</td>
			<td width="13%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				0.00%
			</td>
		</tr>
		<tr>
			<td width="27%" valign="TOP" bgcolor="#ffffff" height="16" align="RIGHT">
				<b>Seeking employment</b>
			</td>
			<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				12.20%
			</td>
			<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				5.26%
			</td>
			<td width="12%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				6.90%
			</td>
			<td width="14%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				16.67%
			</td>
			<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				7.68%
			</td>
			<td width="13%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				50.00%
			</td>
		</tr>
		<tr>
			<td width="27%" valign="TOP" bgcolor="#ffffff" height="16" align="RIGHT">
				<b>Not seeking employment</b>
			</td>
			<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				0.00%
			</td>
			<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				0.00%
			</td>
			<td width="12%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				0.00%
			</td>
			<td width="14%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				0.00%
			</td>
			<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				1.92%
			</td>
			<td width="13%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				0.00%
			</td>
		</tr>
		<tr>
			<td width="27%" valign="TOP" bgcolor="#ffffff" height="16" align="RIGHT">
				<b>Part-time tenure-track appointment</b>
			</td>
			<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				0.00%
			</td>
			<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				0.00%
			</td>
			<td width="12%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				0.00%
			</td>
			<td width="14%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				0.00%
			</td>
			<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				0.10%
			</td>
			<td width="13%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				0.00%
			</td>
		</tr>
		<tr>
			<td width="27%" valign="TOP" bgcolor="#ffffff" height="16" align="RIGHT">
				<b>Teaching, classification unknown</b>
			</td>
			<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				0.00%
			</td>
			<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				0.00%
			</td>
			<td width="12%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				3.45%
			</td>
			<td width="14%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				0.00%
			</td>
			<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				0.61%
			</td>
			<td width="13%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				0.00%
			</td>
		</tr>
		<tr>
			<td width="27%" valign="TOP" bgcolor="#ffffff" height="16" align="RIGHT">
				<b>Basis for %s</b>
			</td>
			<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				41
			</td>
			<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				38
			</td>
			<td width="12%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				29
			</td>
			<td width="14%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				6
			</td>
			<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				990
			</td>
			<td width="13%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
				2
			</td>
		</tr>
	</table>

<p>Note: The base number used to calculate the percentages in Table 10 includes all PhDs with known a employment status who remained in the US after receiving their degrees.
	

<p><a href="/jil_phd_survey">< Back to main page</a> | <a href="/jil_phd_survey_t11">Next table ></a>
