<h1>Table 8</h1>
<h2>Placement of 1996-97 Foreign Language PhDs by Sex and Region of Degree-granting Institution</h2>

<p>This table is arranged in two parts, the first showing information for the Northeast, Midwest, and South Atlantic regions, the second for the South Central, Rocky Mountain, and Pacific Coast regions.
<br>&nbsp;

<table border="0" cellspacing="1" cellpadding="2" width="626" bgcolor="[[color1]]">
	<tr>
		<td width="39%" valign="MIDDLE" colspan="3" rowspan="2" bgcolor="#ffffff" height="21" align="CENTER">
			<b>Part 1 of 2</b>
		</td>
		<td width="20%" valign="MIDDLE" colspan="2" bgcolor="#ffffff" height="21" align="CENTER">
			<b>Northeast</b>
		</td>
		<td width="20%" valign="MIDDLE" colspan="2" bgcolor="#ffffff" height="21" align="CENTER">
			<b>Midwest</b>
		</td>
		<td width="20%" valign="MIDDLE" colspan="2" bgcolor="#ffffff" height="21" align="CENTER">
			<b>South Atlantic</b>
		</td>
	</tr>
	<tr>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<b>Female</b>
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<b>Male</b>
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<b>Female</b>
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<b>Male</b>
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<b>Female</b>
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<b>Male</b>
		</td>
	</tr>
	<tr>
		<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="RIGHT">
			<b>Number of PhDs reported</b>
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			170
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			98
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			95
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			101
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			66
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			30
		</td>
	</tr>
	<tr>
		<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="RIGHT">
			<b>Percent with unknown employment status</b>
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			8.18%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			2.27%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			5.56%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			9.47%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			3.23%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			0.00%
		</td>
	</tr>
	<tr>
		<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="CENTER">
			<b>Teaching in higher education:</b>
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<b>75.34%</b>
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<b>74.42%</b>
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<b>75.29%</b>
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<b>82.56%</b>
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<b>76.67%</b>
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<b>64.29%</b>
		</td>
	</tr>
	<tr>
		<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="right">
			<font color="[[color1]]"><b>Tenure-track appointment</b></font>
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<font color="[[color1]]"><b>35.62%</b></font>
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<font color="[[color1]]"><b>39.53%</b></font>
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<font color="[[color1]]"><b>40.00%</b></font>
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<font color="[[color1]]"><b>45.35%</b></font>
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<font color="[[color1]]"><b>40.00%</b></font>
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<font color="[[color1]]"><b>46.43%</b></font>
		</td>
	</tr>
	<tr>
		<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="RIGHT">
			Full-time non-tenure-track appointment:
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			28.08%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			25.58%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			24.71%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			34.88%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			26.67%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			10.71%
		</td>
	</tr>
	<tr>
		<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="RIGHT">
			<i>Renewable</i>
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<i>19.86%</i>
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<i>17.44%</i>
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<i>20.00%</i>
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<i>17.44%</i>
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<i>16.67%</i>
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<i>10.71%</i>
		</td>
	</tr>
	<tr>
		<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="RIGHT">
			<i>1 yr</i>
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<i>8.22%</i>
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<i>8.14%</i>
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<i>4.71%</i>
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<i>17.44%</i>
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<i>10.00%</i>
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<i>0.00%</i>
		</td>
	</tr>
	<tr>
		<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="RIGHT">
			Part-time appointment
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			11.64%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			9.30%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			10.59%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			2.33%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			10.00%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			7.14%
		</td>
	</tr>
	<tr>
		<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="CENTER">
			<b>Other higher education placement:</b>
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21">
			&nbsp;
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21">
			&nbsp;
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21">
			&nbsp;
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21">
			&nbsp;
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21">
			&nbsp;
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21">
			&nbsp;
		</td>
	</tr>
	<tr>
		<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="RIGHT">
			Postdoctoral fellowship
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			0.68%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			2.33%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			0.00%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			0.00%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			1.67%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			3.57%
		</td>
	</tr>
	<tr>
		<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="RIGHT">
			Academic administration
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			1.37%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			0.00%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			0.00%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			3.49%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			1.67%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			0.00%
		</td>
	</tr>
	<tr>
		<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="CENTER">
			<b>Placement outside higher education:</b>
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<b>10.27%</b>
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<b>9.30%</b>
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<b>5.88%</b>
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<b>5.81%</b>
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<b>11.67%</b>
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<b>17.86%</b>
		</td>
	</tr>
	<tr>
		<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="RIGHT">
			Secondary and elementary teaching
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			4.11%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			2.33%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			2.35%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			1.16%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			3.33%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			14.29%
		</td>
	</tr>
	<tr>
		<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="RIGHT">
			Government
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			0.00%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			1.16%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			0.00%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			2.33%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			0.00%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			0.00%
		</td>
	</tr>
	<tr>
		<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="RIGHT">
			Not-for-profit organization
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			3.42%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			0.00%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			0.00%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			1.16%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			5.00%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			3.57%
		</td>
	</tr>
	<tr>
		<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="RIGHT">
			For-profit business
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			1.37%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			5.81%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			2.35%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			0.00%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			3.33%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			0.00%
		</td>
	</tr>
	<tr>
		<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="RIGHT">
			Self-employed
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			1.37%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			0.00%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			1.18%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			1.16%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			0.00%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			0.00%
		</td>
	</tr>
	<tr>
		<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="CENTER">
			<b>Not employed:</b>
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			11.64%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			11.63%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			12.94%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			6.98%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			3.33%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			3.57%
		</td>
	</tr>
	<tr>
		<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="RIGHT">
			Seeking
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			6.85%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			10.47%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			12.94%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			6.98%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			3.33%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			3.57%
		</td>
	</tr>
	<tr>
		<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="RIGHT">
			Not seeking
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			4.79%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			1.16%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			0.00%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			0.00%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			0.00%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			0.00%
		</td>
	</tr>
	<tr>
		<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="RIGHT">
			Teaching, classification unknown
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			0.68%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			2.33%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			5.88%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			1.16%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			5.00%
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			10.71%
		</td>
	</tr>
	<tr>
		<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="RIGHT">
			<b>Basis for %s</b>
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<b>146</b>
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<b>86</b>
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<b>85</b>
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<b>86</b>
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<b>60</b>
		</td>
		<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<b>28</b>
		</td>
	</tr>
</table>

<p>&nbsp; 

<table border="0" cellspacing="1" cellpadding="2" width="626" bgcolor="[[color1]]">
<tr>
	<td width="39%" valign="MIDDLE" colspan="3" rowspan="2" bgcolor="#ffffff" height="21" align="CENTER">
		<b>Part 2 of 2</b>
	</td>
	<td width="20%" valign="MIDDLE" colspan="2" bgcolor="#ffffff" height="21" align="CENTER">
		<b>South Central</b>
	</td>
	<td width="20%" valign="MIDDLE" colspan="2" bgcolor="#ffffff" height="21" align="CENTER">
		<b>Rocky Mountain</b>
	</td>
	<td width="20%" valign="MIDDLE" colspan="2" bgcolor="#ffffff" height="21" align="CENTER">
		<b>Pacific Coast</b>
	</td>
</tr>
<tr>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>Female</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>Male</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>Female</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>Male</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>Female</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>Male</b>
	</td>
</tr>
<tr>
	<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="RIGHT">
		<b>Number of PhDs reported</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		12
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		10
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		10
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		18
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		59
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		46
	</td>
</tr>
<tr>
	<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="RIGHT">
		<b>Percent with unknown employment status</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		11.11%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		10.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		7.02%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		4.88%
	</td>
</tr>
<tr>
	<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="CENTER">
		<b>Teaching in higher education:</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>66.67%</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>87.50%</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>77.78%</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>78.57%</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>71.70%</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>79.49%</b>
	</td>
</tr>
<tr>
	<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="right">
		<font color="[[color1]]"><b>Tenure-track appointment</b></font>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<font color="[[color1]]"><b>33.33%</b></font>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<font color="[[color1]]"><b>75.00%</b></font>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<font color="[[color1]]"><b>55.56%</b></font>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<font color="[[color1]]"><b>71.43%</b></font>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<font color="[[color1]]"><b>28.30%</b></font>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<font color="[[color1]]"><b>43.59%</b></font>
	</td>
</tr>
<tr>
	<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="RIGHT">
		Full-time non-tenure-track appointment:
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		33.33%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		12.50%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		11.11%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		7.14%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		28.30%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		30.77%
	</td>
</tr>
<tr>
	<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="RIGHT">
		<i>Renewable</i>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<i>25.00%</i>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<i>0.00%</i>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<i>11.11%</i>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<i>7.14%</i>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<i>24.53%</i>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<i>20.51%</i>
	</td>
</tr>
<tr>
	<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="RIGHT">
		<i>1 yr</i>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<i>8.33%</i>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<i>12.50%</i>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<i>0.00%</i>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<i>0.00%</i>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<i>3.77%</i>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<i>10.26%</i>
	</td>
</tr>
<tr>
	<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="RIGHT">
		Part-time appointment
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		11.11%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		15.09%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		5.13%
	</td>
</tr>
<tr>
	<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="CENTER">
		<b>Other higher education placement:</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21">
		&nbsp;
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21">
		&nbsp;
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21">
		&nbsp;
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21">
		&nbsp;
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21">
		&nbsp;
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21">
		&nbsp;
	</td>
</tr>
<tr>
	<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="RIGHT">
		Postdoctoral fellowship
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		11.11%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		7.14%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		5.66%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		2.56%
	</td>
</tr>
<tr>
	<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="RIGHT">
		Academic administration
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		8.33%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
</tr>
<tr>
	<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="CENTER">
		<b>Placement outside higher education:</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>8.33%</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>0.00%</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>11.11%</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>14.29%</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>7.55%</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>7.69%</b>
	</td>
</tr>
<tr>
	<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="RIGHT">
		Secondary and elementary teaching
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		11.11%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		7.14%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		1.89%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		2.56%
	</td>
</tr>
<tr>
	<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="RIGHT">
		Government
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
</tr>
<tr>
	<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="RIGHT">
		Not-for-profit organization
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		7.14%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		3.77%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		2.56%
	</td>
</tr>
<tr>
	<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="RIGHT">
		For-profit business
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		8.33%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		1.89%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		2.56%
	</td>
</tr>
<tr>
	<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="RIGHT">
		Self-employed
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
</tr>
<tr>
	<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="CENTER">
		<b>Not employed:</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		13.85%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		6.52%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		10.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		5.88%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		4.72%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		18.92%
	</td>
</tr>
<tr>
	<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="RIGHT">
		Seeking
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		7.69%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		6.52%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		5.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		5.88%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		4.72%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		18.92%
	</td>
</tr>
<tr>
	<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="RIGHT">
		Not seeking
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		6.15%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		5.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
</tr>
<tr>
	<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="RIGHT">
		Teaching, classification unknown
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		1.54%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
</tr>
<tr>
	<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="CENTER">
		<b>Basis for %s</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		12
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		8
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		9
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		14
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		53
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		39
	</td>
</tr>
</table>

<p>Note: The numbers of PhDs used to calculate the placement percentages given in Table 8 include all PhDs whose employment placements were reported as known and who remained in the US after receiving their degrees. 


<p><a href="/jil_phd_survey">< Back to main page</a> | <a href="/jil_phd_survey_t9">Next table ></a>
