<h1>Professional Meetings</h1>
In addition to the MLA convention (9–12 January 2014, Chicago), candidates in English, foreign languages, comparative literature, and linguistics may be interested in the following regional meetings.

<B>Midwest Modern Language Association (MMLA)</B> 
7–10 November 2013
Hilton Milwaukee City Center, Milwaukee, WI
<i>Inquiries:</i> English, Loyola Univ. Chicago, 1032 West Sheridan Road, Chicago, IL 60660 (773 508-6083; fax: 773 508-6062; <a href="mailto:mmla@luc.edu">mmla@luc.edu</a>; <a href="http://luc.edu/mmla/">http://luc.edu/mmla/</A>)

<B>Northeast Modern Language Association (NEMLA)</B>
3–6 April 2014
Hilton Harrisburg, Harrisburg, PA
<i>Inquiries:</i> (<A HREF="mailto:northeast.mla@gmail.com">northeast.mla@gmail.com</A>)

<B>Pacific Ancient and Modern Language Association (PAMLA)</B>
1–3 November 2013
Bahia Resort Hotel, San Diego, CA
<i>Inquiries:</i> Craig Svonkin (<A HREF="mailto:svonkin@netzero.com">svonkin@netzero.com</a>; <a href="http://www.pamla.org/">http://www.pamla.org/</A>)

<B>Rocky Mountain Modern Language Association (RMMLA)</B>  
10–12 October 2013 
Hilton Vancouver Washington, Vancouver, WA 
<i>Inquiries:</i> Secretariat at Univ. of Northern Colorado, Greeley 80639 (<A HREF="mailto:rmmla@rmmla.org">rmmla@rmmla.org</a>; <a href="http://www.rmmla.org">www.rmmla.org</a>)

<B>South Atlantic Modern Language Association (SAMLA)</B> 
8–10 November 2013
Marriott Atlanta Buckhead Hotel, Atlanta, GA
<i>Inquiries:</i> SAMLA, English Dept., GCB923, Georgia State Univ.,  Atlanta 30303 (404 413-5817; <A HREF="mailto:samla@gsu.edu">samla@gsu.edu</a>; <A HREF="http://samla.gsu.edu/">http://samla.gsu.edu/</A>)

<B>South Central Modern Language Association (SCMLA)</B> 
3–5 October 2013
Hotel Monteleone, New Orleans, LA
<i>Inquiries:</i> Nancy La Greca, Univ. of Oklahoma, 332 Cate Center Dr, Room 454, Norman 73019 (405 325-1546; fax: 405 325-3720 <A HREF="mailto:lagreca@ou.edu">lagreca@ou.edu</a>; <a href="http://www.ou.edu/scmla/">http://www.ou.edu/scmla/</a>)
