<h1>Dossier and Search-Management Services Available through the <I>JIL</I></h1>


<p>Job seekers and advertising departments using the MLA <i>Job Information List</i> receive access to Interfolio services. Job seekers receive free online dossier accounts, and advertising departments have free access to Interfolio's search-management services.</p>

<h2>What This Means for Job Seekers</h2>

<p>Job seekers can create a free Interfolio dossier account (the normal charge is $19 per year) and can apply for positions directly from advertisements in the <i>JIL</i>. Transmission of application materials, dossiers, writing samples, and letters of recommendation is free of charge from candidates’ Interfolio Dossier accounts to <em>JIL</em> advertisers who use the Interfolio ByCommittee search-management platform. Where ads direct candidates to apply by e-mail, a cover letter and CV are transmitted free of charge from an Interfolio dossier account; when additional application materials are required, candidates will incur a maximum fee of $6 per search, no matter how many e-mail transmissions are requested for a given search.</p>

<p>With a dossier account, job seekers can </p>

<ul>
	<li>upload, store, and manage letters of application, CVs, letters of recommendation, writing samples, and other materials using the secure Interfolio Web site</li>
	<li>store confidential letters of recommendation and customized dossier materials in a personal Interfolio account for future delivery</li>
	<li>manage and track the status of applications  </li>
</ul>

<p> To create your free Interfolio dossier account, click <a href="http://www.interfolio.com/mlajil.cfm" target="other">here</a> and register using the special offer code "mla2013." If you are renewing an existing dossier account, use the special offer code "mlarenew."</p>

<a name="jilads"></a><h2>What This Means for Advertising Departments</h2>

<p>All departments that place ads in the <I>JIL</I> will be able to use Interfolio’s suite of online search-management tools, called ByCommittee. ByCommittee provides a single secure Web interface for departments to manage search-committee memberships for multiple searches and to receive candidate applications, dossiers, and other materials.  Using ByCommittee, departments can</p>
<ul>
<li><b>Save faculty members time.</b> Because application materials are stored securely in electronic formats and are accessible through the Internet, they are available for search committees to review and evaluate at any time from the office or home. Committee members no longer have to come to an office location to read printed materials.</li>
<li><b>Save staff members time.</b> ByCommittee allows you to manage search-committee membership electronically from a single location and to send automatic e-mail acknowledgments and status updates to candidates. Application materials are stored securely as PDF files, and no printing or distribution of applications is required.</li>
<li><b>Stay organized.</b> The ByCommittee dashboard allows efficient organization and sharing of application materials and of the committee's evaluations and rankings of candidates. Multiple searches and search committees can be managed through the dashboard.</li>
<li><b>Eliminate costs for candidates.</b> Candidates can submit all application materials to your ByCommittee account at no charge.</li>
<li><b>Reduce paperwork.</b> No printing or distribution of physical materials is required.</li>
<li><b>Store applications securely.</b> Application materials are stored in a secure environmemnt on the Interfolio servers and can be accessed only by those you give permission.</li>
</ul>

<p>To communicate with a member of Interfolio's team about using ByCommittee for your search, click <a href="http://www.interfolio.com/promotions/mla-contact-form/" target="other">here</a>.</p>

<h2>What This Means for Writers of Letters of Recommendation</h2>

<p>The Interfolio system streamlines the process of submitting letters of recommendation.</p>

<ul>
	<li>Letter writers receive requests for letters directly from a candidate’s Interfolio account and submit their letters to Interfolio’s centralized dossier service.</li>
	<li>Letters are stored securely on Interfolio’s server, where they remain confidential. </li>
	<li>Candidates manage the transmitting of recommendations from Interfolio directly to the departments to which they are applying. </li>
	
</ul>

<p>Additional information is available in FAQs for <a href="/interfolio_seekers_faq">job seekers</a> and <a href="/interfolio_depts_faq">hiring departments</a>.</p>
