<h1>Table 4</h1>
<h2>Placement of Foreign Language PhDs, 1976-77 to 1996-97: Findings from Ten MLA Studies</h2>

<table border="0" cellspacing="1" cellpadding="2" width="626" bgcolor="[[color1]]">
<tr>
	<td width="23%" valign="TOP" bgcolor="#ffffff" height="26">
		&nbsp;
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		<b>1976-77</b>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		<b>1977-78</b>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		<b>1978-79</b>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		<b>1979-80</b>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		<b>1981-82</b>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		<b>1983-84</b>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		<b>1986-87</b>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		<b>1991-92</b>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		<b>1993-94</b>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		<b>1996-97</b>
	</td>
</tr>
<tr>
	<td width="23%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="RIGHT">
		<b>Tenure-track position</b>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		46.0%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		43.3%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		39.0%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		41.2%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		34.8%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		41.4%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		49.8%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		48.8%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		42.7%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		40.1%
	</td>
</tr>
<tr>
	<td width="23%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="RIGHT">
		<b>Non-tenure-track position (full-time)</b>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		18.7%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		20.0%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		18.4%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		20.1%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		28.4%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		25.1%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		24.7%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		20.9%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		24.5%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		25.9%
	</td>
</tr>
<tr>
	<td width="23%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="RIGHT">
		<b>Non-tenure-track position (part-time)</b>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		9.5%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		8.5%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		8.9%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		9.7%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		10.2%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		7.2%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		4.9%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		8.6%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		8.4%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		8.3%
	</td>
</tr>
<tr>
	<td width="23%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="RIGHT">
		<b>Postdoctoral fellowship</b>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		1.2%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		2.0%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		2.2%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		1.6%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		1.3%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		1.9%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		2.2%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		2.2%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		1.7%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		1.9%
	</td>
</tr>
<tr>
	<td width="23%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="RIGHT">
		<b>Academic administration</b>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		0.0%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		0.0%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		3.1%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		2.6%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		2.6%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		2.6%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		2.2%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		1.4%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		0.5%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		1.3%
	</td>
</tr>
<tr>
	<td width="23%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="RIGHT">
		<b>Placement outside higher education</b>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		13.6%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		15.8%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		20.3%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		19.3%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		16.7%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		16.1%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		13.1%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		11.0%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		12.2%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		9.2%
	</td>
</tr>
<tr>
	<td width="23%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="RIGHT">
		<b>Not employed</b>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		11.0%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		10.4%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		8.1%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		5.4%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		6.0%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		5.8%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		3.3%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		6.7%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		10.0%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		10.1%
	</td>
</tr>
<tr>
	<td width="23%" valign="MIDDLE" bgcolor="#ffffff" height="37" align="RIGHT">
		<b>Basis for %s</b>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="37" align="CENTER">
		674
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="37" align="CENTER">
		691
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="37" align="CENTER">
		675
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="37" align="CENTER">
		611
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="37" align="CENTER">
		532
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="37" align="CENTER">
		573
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="37" align="CENTER">
		450
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="37" align="CENTER">
		584
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="37" align="CENTER">
		662
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="37" align="CENTER">
		673
	</td>
</tr>
</table>

<p>Note: The numbers of PhDs used to calculate the placement percentages given in Table 4 include all PhDs whose employment placements were reported as known. 


<p><a href="/jil_phd_survey">< Back to main page</a> | <a href="/jil_phd_survey_t5">Next table ></a>
