<h1>Sample Language for Describing the Job Application Process</h1>

<p>
All advertisements published in the <I>JIL</I> now automatically include a link that will take applicants to an application landing page for that particular job. The landing page offers viewers application instructions for the position and provides easy access to their personal Interfolio Dossier accounts; if the search accepts electronic submissions, applicants can apply directly from that page. If this is the first job they apply to, job seekers will also be prompted to create their free Interfolio Dossier accounts.  
</p>
<p>
Below are suggested descriptions of the job application process for several possible scenarios in the new <I>JIL</I>-Interfolio system. Note that departments accepting applications to a departmental e-mail address should indicate whether they use a one-stage or two-stage application process. The two-stage process requires only a letter and CV with the initial application (delivered to an e-mail address at no charge through applicants’ Interfolio accounts); applicants will only be charged a $6 Interfolio delivery fee if the department makes a follow-up request for complete dossiers and letters of recommendation. The one-stage process requires a complete dossier with the initial application and applicants will be charged the $6 delivery fee for that initial application. Follow-up requests are far fewer than initial applications, so a two-stage process is less expensive for job seekers.
</p>

<p>Departments that adopt the Interfolio ByCommittee platform to manage their searches can feel free to employ either a one-stage or a two-stage application process. Delivery of all application documents is free of charge for applicants when they submit material from their Interfolio Dossier accounts to departments using ByCommittee.</p>

<p>
<u>If your department is using Interfolio’s ByCommittee search management system for this search:</u>
<blockquote>
Sample University invites applications for a tenure-track position at the rank of assistant professor in early American literature. [Describe position.] Applicants should submit an initial letter of application and CV online at the link above by ENDDATE. Candidates selected for the next stage of review will be contacted to send additional materials.
</blockquote> 
<br/>(Alternatively, you may request that a complete dossier with confidential letters of recommendation be sent with the initial application.)
</p>

<p>
<u>If your department is not using Interfolio’s ByCommittee but is accepting electronic applications by e-mail:</u>
<blockquote>
Sample University invites applications for a tenure-track position at the rank of assistant professor in early American literature. [Describe position.]  Applicants should submit an initial letter of application and CV by e-mail to sample@sample.edu or online at the link above by ENDDATE. Candidates selected for the next stage of review will be contacted to send additional materials.
</blockquote>
<br/> (Alternatively, you may request that a complete dossier with confidential letters of recommendation be sent with the initial application.)
</p>

<p>
<u>If your department is accepting electronic applications only through your institution’s applicant tracking system:</u>
<blockquote>
Sample University invites applications for a tenure-track position at the rank of assistant professor in early American literature. [Describe position.] Applicants should complete the application at http://jobs.sample.edu/ by ENDDATE.
</blockquote>
</p>

<p>
<u>If your department requires that paper applications be sent to a postal address:</u>
<blockquote>
Sample University invites applications for a tenure-track position at the rank of assistant professor in early American literature. [Describe position.] Applicants should submit [list of materials] in hard copy to Jane Doe, Department of English, Sample University, 1234 Main Street, Sometown, VA, 00001 by ENDDATE.
</blockquote>
</p>
