<h2>About the MLA's Studies of PhD Placement</h2>
Since 1976-77, the MLA has conducted ten surveys of PhD-granting departments in the United States concerning placements of their doctoral graduates, the most recent covering those who were awarded degrees between 1 September 1996 and 31 August 1997.  The studies track placements in English, foreign languages, comparative literature, linguistics, and classics. All ten studies focus only on employment obtained within the year the degrees were conferred. 

Response rates have consistently ranged from 95% to 100%. Thus the studies account for virtually all doctorate recipients rather than just providing a representative sample. At the time data collection for the most recent survey began in October 1997, the MLA database contained 542 PhD-granting departments in the categories above. Of the 524 responding departments (141 English, 254 foreign language, 38 comparative literature, 55 linguistics, and 36 classics), 429 reported granting at least one PhD degree in the 1996-97 period. These 429 departments reported on a total of 2,332 PhD recipients. Data collection and analysis for the 1996-97 survey were conducted for the MLA by Response Analysis Corporation of Princeton, New Jersey.

<h2>Departments Responding to the 1996-97 Census and Numbers of Graduates Reported</h2>
<A href="/jil_phd_survey_t1">Table 1</A> shows the numbers of departments in the fields covered and the numbers of 1996-97 degree recipients, the latter categorized in three ways:
<OL>
<LI>The total number of doctorate recipients departments reported</LI>
<LI>The number of recipients for whom departments reported a known employment status</LI>
<LI>The number with a known employment status and who remained in the United States after receiving their degrees, thus excluding foreign nationals who returned to their country after receipt of degree</LI>
</OL>

The tables that show placement rates of 1996-97 doctorates in various employment categories exclude temporary resident returners from the base number used to calculate the percentages because they do not compete for positions in the US job market. Since the MLA began identification of this group with the 1993-94 survey, we use the second of the three counts listed as the base number for calculating percentages in tables showing the history of placement over twenty years. 

<h2>Findings on Placements of PhDs</h2>
<A href="/jil_phd_survey_t2">Table 2</A> summarizes 1996-97 PhD placement. The first column for each field shows degree recipients in four major employment categories--higher education teaching, higher education other than teaching, employment outside higher education, and not employed--and their subcategories. The second column shows the percentage of degree-recipients in each category. In the next to last row there is a residual employment category of teaching, classification unknown, and the last row shows the numbers of PhDs used as the bases for calculating the percentages.

<A href="/jil_phd_survey_t3">Table 3</A> and <A href="/jil_phd_survey_t4">Table 4</A> show percentages of PhDs in English and foreign languages with known status who obtained employment in seven major categories across the two decades of studies. 

<A href="/jil_phd_survey_t5">Table 5</A> and <A href="/jil_phd_survey_t6">Table 6</A> provide information about the placements of men and women since 1979-80, when the MLA began to collect these data. <A href="/jil_phd_survey_t7">Table 7</A> and <A href="/jil_phd_survey_t8">Table 8</A> show further detail about the employment placements of men and women who earned doctorates in English and foreign languages in 1996-97, broken out for degree-granting institution by six regions:

<UL>
<LI><B>Northeast:</B> Connecticut, Delaware, Maine, Massachusetts, New Hampshire, New Jersey, New York, Pennsylvania, Rhode Island, and Vermont</LI>
<li><b>South Atlantic:</B> Alabama, District of Columbia, Florida, Georgia, Kentucky, Maryland, North Carolina, South Carolina, Tennessee, Virginia, and West Virginia</LI>
<li><b>South Central:</B> Arkansas, Louisiana, Mississippi, Oklahoma, and Texas</LI>
<li><b>Midwest:</B> Illinois, Indiana, Iowa, Kansas, Michigan, Minnesota, Missouri, Nebraska, North Dakota, Ohio, South Dakota, Wisconsin</LI>
<li><b>Rocky Mountain:</B> Arizona, Colorado, Idaho, Montana, Nevada, New Mexico, Utah, Wyoming</LI>
<li><b>Pacific Coast:</B> Alaska, California, Hawaii, Oregon, Washington</LI>
</UL>

<A href="/jil_phd_survey_t9">Table 9</A> shows numbers of PhDs awarded in 1996-97 to members of the five racial and ethnic groups defined by the Equal Employment Opportunity Commission. <A href="/jil_phd_survey_t10">Table 10</A> and <A href="/jil_phd_survey_t11">Table 11</A> show placement of 1996-97 English and foreign language PhDs by race and ethnicity.

<table border="0" cellpadding="10" cellspacing="0" width="100%"><tr><td>
<a class="pageindex" href="/jil_phd_survey_t1">Table 1. Numbers of Departments Responding and Numbers of Doctoral Degrees Reported, 1996-97 Census of PhD Placement</a>
<img src="/IMAGES/clear.gif" width="1" height="8" alt="">
<a class="pageindex" href="/jil_phd_survey_t2">Table 2. Placement of 1996-97 PhDs in Classics, Modern Languages, and Linguistics</a>
<img src="/IMAGES/clear.gif" width="1" height="8" alt="">
<a class="pageindex" href="/jil_phd_survey_t3">Table 3. Placement of English PhDs, 1976-77 to 1996-97: Findings from Ten MLA Studies</a>
<img src="/IMAGES/clear.gif" width="1" height="8" alt="">
<a class="pageindex" href="/jil_phd_survey_t4">Table 4. Placement of Foreign Language PhDs, 1976-77 to 1996-97: Findings from Ten MLA Studies</a>
<img src="/IMAGES/clear.gif" width="1" height="8" alt="">
<a class="pageindex" href="/jil_phd_survey_t5">Table 5. Placement of English PhDs by Sex and Year</a>
<img src="/IMAGES/clear.gif" width="1" height="8" alt="">
<a class="pageindex" href="/jil_phd_survey_t6">Table 6. Placement of Foreign Language PhDs by Sex and Year</a>
<img src="/IMAGES/clear.gif" width="1" height="8" alt="">
<a class="pageindex" href="/jil_phd_survey_t7">Table 7. Placement of 1996-97 English PhDs by Sex and Region of Degree-granting Institution</a>
<img src="/IMAGES/clear.gif" width="1" height="8" alt="">
<a class="pageindex" href="/jil_phd_survey_t8">Table 8. Placement of 1996-97 Foreign Language PhDs by Sex and Region of Degree-granting Institution</a>
<img src="/IMAGES/clear.gif" width="1" height="8" alt="">
<a class="pageindex" href="/jil_phd_survey_t9">Table 9. Classics, Modern Language, and Linguistics PhDs Granted in 1996-97 by Race and Ethnicity</a>
<img src="/IMAGES/clear.gif" width="1" height="8" alt="">
<a class="pageindex" href="/jil_phd_survey_t10">Table 10. Placement of 1996-97 English PhDs by Race and Ethniciy</a>
<img src="/IMAGES/clear.gif" width="1" height="8" alt="">
<a class="pageindex" href="/jil_phd_survey_t11">Table 11. Placement of 1996-97 Foreign Language PhDs by Race and Ethnicity</a>
<img src="/IMAGES/clear.gif" width="1" height="8" alt="">
</td></tr></table>
