<h1>Administrations Censured by the American Association of University Professors </h1>
Please refer to the <A HREF="http://www.aaup.org/AAUP/about/censuredadmins/default.htm"  TARGET="other">List of Administrations Censured by the American Association of University Professors</A>. Access to this list is provided in accordance with the action of the MLA Delegate Assembly.

