<h1>Table 9</h1>
<h2>Classics, Modern Language, and Linguistics PhDs Granted in 1996-97 by Race and Ethnicity</h2>

<table border="0" cellspacing="1" cellpadding="2" width="629" bgcolor="[[color1]]">
	<tr>
		<td width="15%" valign="TOP" bgcolor="#ffffff" height="21">
			&nbsp;
		</td>
		<td width="15%" valign="BOTTOM" colspan="2" bgcolor="#ffffff" height="21" align="CENTER">
			<b>Asian</b>
		</td>
		<td width="13%" valign="BOTTOM" colspan="2" bgcolor="#ffffff" height="21" align="CENTER">
			<b>Black</b>
		</td>
		<td width="15%" valign="BOTTOM" colspan="2" bgcolor="#ffffff" height="21" align="CENTER">
			<b>Hispanic</b>
		</td>
		<td width="13%" valign="BOTTOM" colspan="2" bgcolor="#ffffff" height="21" align="CENTER">
			<b>Native Am</b>
		</td>
		<td width="16%" valign="BOTTOM" colspan="2" bgcolor="#ffffff" height="21" align="CENTER">
			<b>White</b>
		</td>
		<td width="13%" valign="BOTTOM" colspan="2" bgcolor="#ffffff" height="21" align="CENTER">
			<b>Unknown</b>
		</td>
	</tr>
	<tr>
		<td width="15%" valign="TOP" bgcolor="#ffffff" height="21">
			&nbsp;
		</td>
		<td width="6%" valign="TOP" bgcolor="#ffffff" height="21" align="CENTER">
			<b>No.</b>
		</td>
		<td width="9%" valign="TOP" bgcolor="#ffffff" height="21" align="CENTER">
			<b>%</b>
		</td>
		<td width="6%" valign="TOP" bgcolor="#ffffff" height="21" align="CENTER">
			<b>No.</b>
		</td>
		<td width="8%" valign="TOP" bgcolor="#ffffff" height="21" align="CENTER">
			<b>%</b>
		</td>
		<td width="6%" valign="TOP" bgcolor="#ffffff" height="21" align="CENTER">
			<b>No.</b>
		</td>
		<td width="9%" valign="TOP" bgcolor="#ffffff" height="21" align="CENTER">
			<b>%</b>
		</td>
		<td width="6%" valign="TOP" bgcolor="#ffffff" height="21" align="CENTER">
			<b>No.</b>
		</td>
		<td width="8%" valign="TOP" bgcolor="#ffffff" height="21" align="CENTER">
			<b>%</b>
		</td>
		<td width="7%" valign="TOP" bgcolor="#ffffff" height="21" align="CENTER">
			<b>No.</b>
		</td>
		<td width="9%" valign="TOP" bgcolor="#ffffff" height="21" align="CENTER">
			<b>%</b>
		</td>
		<td width="6%" valign="TOP" bgcolor="#ffffff" height="21" align="CENTER">
			<b>No.</b>
		</td>
		<td width="8%" valign="TOP" bgcolor="#ffffff" height="21" align="CENTER">
			<b>%</b>
		</td>
	</tr>
	<tr>
		<td width="15%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="RIGHT">
			<b>Classics</b>
		</td>
		<td width="6%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			1
		</td>
		<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			1.82%
		</td>
		<td width="6%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			2
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			3.64%
		</td>
		<td width="6%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			2
		</td>
		<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			3.64%
		</td>
		<td width="6%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			2
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			3.64%
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			48
		</td>
		<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			87.27%
		</td>
		<td width="6%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			0
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			0.00%
		</td>
	</tr>
	<tr>
		<td width="15%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="RIGHT">
			<b>Comparative Literature</b>
		</td>
		<td width="6%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			17
		</td>
		<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			14.66%
		</td>
		<td width="6%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			3
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			2.59%
		</td>
		<td width="6%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			11
		</td>
		<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			9.48%
		</td>
		<td width="6%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			1
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			0.86%
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			74
		</td>
		<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			63.79%
		</td>
		<td width="6%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			10
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			8.62%
		</td>
	</tr>
	<tr>
		<td width="15%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="RIGHT">
			<b>English</b>
		</td>
		<td width="6%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			71
		</td>
		<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			5.79%
		</td>
		<td width="6%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			40
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			3.26%
		</td>
		<td width="6%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			36
		</td>
		<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			2.94%
		</td>
		<td width="6%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			6
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			0.49%
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			1,070
		</td>
		<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			87.28%
		</td>
		<td width="6%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			3
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			0.24%
		</td>
	</tr>
	<tr>
		<td width="15%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="RIGHT">
			<b>Foreign Languages</b>
		</td>
		<td width="6%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			49
		</td>
		<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			6.85%
		</td>
		<td width="6%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			11
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			1.54%
		</td>
		<td width="6%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			149
		</td>
		<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			20.84%
		</td>
		<td width="6%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			8
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			1.12%
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			497
		</td>
		<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			69.51%
		</td>
		<td width="6%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			1
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			0.14%
		</td>
	</tr>
	<tr>
		<td width="15%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="RIGHT">
			<b>Linguistics</b>
		</td>
		<td width="6%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			64
		</td>
		<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			29.09%
		</td>
		<td width="6%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			7
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			3.18%
		</td>
		<td width="6%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			16
		</td>
		<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			7.27%
		</td>
		<td width="6%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			3
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			1.36%
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			130
		</td>
		<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			59.09%
		</td>
		<td width="6%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			0
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			0.00%
		</td>
	</tr>
</table>


<p><a href="/jil_phd_survey">< Back to main page</a> | <a href="/jil_phd_survey_t10">Next table ></a>
