<h1>Table 3</h1>
<h2>Placement of English PhDs, 1976-77 to 1996-97: Findings from Ten MLA Studies</h2>

<table border="0" cellspacing="1" cellpadding="2" width="630" bgcolor="[[color1]]">
<tr>
	<td width="24%" valign="TOP" bgcolor="#ffffff" height="26">
		&nbsp;
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		<b>1976-77</b>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		<b>1977-78</b>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		<b>1978-79</b>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		<b>1979-80</b>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		<b>1981-82</b>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		<b>1983-84</b>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		<b>1986-87</b>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		<b>1991-92</b>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		<b>1993-94</b>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		<b>1996-97</b>
	</td>
</tr>
<tr>
	<td width="24%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="RIGHT">
		<b>Tenure-track position</b>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		46.4%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		46.9%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		44.8%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		45.1%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		43.1%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		39.2%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		49.0%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		51.1%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		45.9%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		35.0%
	</td>
</tr>
<tr>
	<td width="24%" valign="MIDDLE" bgcolor="#ffffff" height="37" align="RIGHT">
		<b>Non-tenure-track position (full-time)</b>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="37" align="CENTER">
		20.2%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="37" align="CENTER">
		22.3%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="37" align="CENTER">
		20.4%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="37" align="CENTER">
		23.4%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="37" align="CENTER">
		22.7%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="37" align="CENTER">
		22.2%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="37" align="CENTER">
		25.7%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="37" align="CENTER">
		21.5%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="37" align="CENTER">
		20.2%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="37" align="CENTER">
		24.7%
	</td>
</tr>
<tr>
	<td width="24%" valign="MIDDLE" bgcolor="#ffffff" height="37" align="RIGHT">
		<b>Non-tenure-track position (part-time)</b>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="37" align="CENTER">
		11.4%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="37" align="CENTER">
		11.4%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="37" align="CENTER">
		11.7%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="37" align="CENTER">
		9.9%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="37" align="CENTER">
		10.9%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="37" align="CENTER">
		11.6%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="37" align="CENTER">
		8.7%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="37" align="CENTER">
		10.3%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="37" align="CENTER">
		12.3%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="37" align="CENTER">
		13.0%
	</td>
</tr>
<tr>
	<td width="24%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="RIGHT">
		<b>Postdoctoral fellowship</b>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		0.9%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		1.3%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		0.9%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		2.3%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		0.9%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		0.5%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		1.8%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		0.9%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		1.8%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		3.4%
	</td>
</tr>
<tr>
	<td width="24%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="RIGHT">
		<b>Academic administration</b>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		0.0%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		0.0%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		2.7%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		2.3%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		3.1%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		2.6%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		2.8%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		2.8%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		1.5%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		2.7%
	</td>
</tr>
<tr>
	<td width="24%" valign="MIDDLE" bgcolor="#ffffff" height="37" align="RIGHT">
		<b>Placement outside higher education</b>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="37" align="CENTER">
		10.0%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="37" align="CENTER">
		11.1%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="37" align="CENTER">
		14.2%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="37" align="CENTER">
		12.0%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="37" align="CENTER">
		14.2%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="37" align="CENTER">
		15.3%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="37" align="CENTER">
		6.8%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="37" align="CENTER">
		7.1%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="37" align="CENTER">
		7.8%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="37" align="CENTER">
		11.7%
	</td>
</tr>
<tr>
	<td width="24%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="RIGHT">
		<b>Not employed</b>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		11.2%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		7.0%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		5.3%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		5.1%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		5.1%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		8.6%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		5.3%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		6.3%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		10.5%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		9.4%
	</td>
</tr>
<tr>
	<td width="24%" valign="MIDDLE" bgcolor="#ffffff" height="32" align="RIGHT">
		<b>Basis for %s</b>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="32" align="CENTER">
		1,004
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="32" align="CENTER">
		1,026
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="32" align="CENTER">
		873
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="32" align="CENTER">
		841
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="32" align="CENTER">
		742
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="32" align="CENTER">
		760
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="32" align="CENTER">
		681
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="32" align="CENTER">
		961
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="32" align="CENTER">
		895
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="32" align="CENTER">
		1,144
	</td>
</tr>
</table>

<p>Note: The numbers of PhDs used to calculate the placement percentages given in Table 3 count all PhDs whose employment placements were reported as known.


<p><a href="/jil_phd_survey">< Back to main page</a> | <a href="/jil_phd_survey_t4">Next table ></a>
