<h1>Table 1</h1>
<h2>Numbers of Departments Responding and Numbers of Doctoral Degrees Reported, 1996-97 Census of PhD Placement</h2>

<table border="0" cellspacing="1" cellpadding="2" width="576" bgcolor="[[color1]]">
<tr>
	<td width="25%" valign="MIDDLE" bgcolor="#ffffff" height="40">
		&nbsp;
	</td>
	<td width="10%" valign="BOTTOM" bgcolor="#ffffff" height="40" align="CENTER">
		<b>Classics</b>
	</td>
	<td width="16%" valign="MIDDLE" bgcolor="#ffffff" height="40" align="CENTER">
		<b>Comparative Literature</b>
	</td>
	<td width="11%" valign="BOTTOM" bgcolor="#ffffff" height="40" align="CENTER">
		<b>English</b>
	</td>
	<td width="12%" valign="MIDDLE" bgcolor="#ffffff" height="40" align="CENTER">
		<b>Foreign Language</b>
	</td>
	<td width="14%" valign="BOTTOM" bgcolor="#ffffff" height="40" align="CENTER">
		<b>Linguistics</b>
	</td>
	<td width="12%" valign="BOTTOM" bgcolor="#ffffff" height="40" align="CENTER">
		<b>All Fields</b>
	</td>
</tr>
<tr>
	<td width="25%" valign="BOTTOM" bgcolor="#ffffff" height="23" align="right">
		<b>No. of departments:</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="23">
		&nbsp;
	</td>
	<td width="16%" valign="MIDDLE" bgcolor="#ffffff" height="23">
		&nbsp;
	</td>
	<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="23">
		&nbsp;
	</td>
	<td width="12%" valign="MIDDLE" bgcolor="#ffffff" height="23">
		&nbsp;
	</td>
	<td width="14%" valign="MIDDLE" bgcolor="#ffffff" height="23">
		&nbsp;
	</td>
	<td width="12%" valign="MIDDLE" bgcolor="#ffffff" height="23">
		&nbsp;
	</td>
</tr>
<tr>
	<td width="25%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="RIGHT">
		<b>Contacted</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
		39
	</td>
	<td width="16%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
		39
	</td>
	<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
		146
	</td>
	<td width="12%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
		260
	</td>
	<td width="14%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
		58
	</td>
	<td width="12%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
		542
	</td>
</tr>
<tr>
	<td width="25%" valign="MIDDLE" bgcolor="#ffffff" height="15" align="RIGHT">
		<b>Responding</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="15" align="CENTER">
		36
	</td>
	<td width="16%" valign="MIDDLE" bgcolor="#ffffff" height="15" align="CENTER">
		38
	</td>
	<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="15" align="CENTER">
		141
	</td>
	<td width="12%" valign="MIDDLE" bgcolor="#ffffff" height="15" align="CENTER">
		254
	</td>
	<td width="14%" valign="MIDDLE" bgcolor="#ffffff" height="15" align="CENTER">
		55
	</td>
	<td width="12%" valign="MIDDLE" bgcolor="#ffffff" height="15" align="CENTER">
		524
	</td>
</tr>
<tr>
	<td width="25%" valign="MIDDLE" bgcolor="#ffffff" height="14" align="RIGHT">
		<b>Reporting graduates</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="14" align="CENTER">
		20
	</td>
	<td width="16%" valign="MIDDLE" bgcolor="#ffffff" height="14" align="CENTER">
		31
	</td>
	<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="14" align="CENTER">
		133
	</td>
	<td width="12%" valign="MIDDLE" bgcolor="#ffffff" height="14" align="CENTER">
		199
	</td>
	<td width="14%" valign="MIDDLE" bgcolor="#ffffff" height="14" align="CENTER">
		46
	</td>
	<td width="12%" valign="MIDDLE" bgcolor="#ffffff" height="14" align="CENTER">
		429
	</td>
</tr>
<tr>
	<td width="25%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="RIGHT">
		<b>Response rate</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		92%
	</td>
	<td width="16%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		97%
	</td>
	<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		97%
	</td>
	<td width="12%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		98%
	</td>
	<td width="14%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		95%
	</td>
	<td width="12%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		97%
	</td>
</tr>
<tr>
	<TD WIDTH="25%" VALIGN="BOTTOM" BGCOLOR="#ffffff" HEIGHT=26 align="right"<b>No. of graduates:</b>
</td>
<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="26">
	&nbsp;
</td>
<td width="16%" valign="MIDDLE" bgcolor="#ffffff" height="26">
	&nbsp;
</td>
<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="26">
	&nbsp;
</td>
<td width="12%" valign="MIDDLE" bgcolor="#ffffff" height="26">
	&nbsp;
</td>
<td width="14%" valign="MIDDLE" bgcolor="#ffffff" height="26">
	&nbsp;
</td>
<td width="12%" valign="MIDDLE" bgcolor="#ffffff" height="26">
	&nbsp;
</td>
</tr>
<tr>
	<td width="25%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="RIGHT">
		<b>Reported</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		55
	</td>
	<td width="16%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		116
	</td>
	<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		1,226
	</td>
	<td width="12%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		715
	</td>
	<td width="14%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		220
	</td>
	<td width="12%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		2,332
	</td>
</tr>
<tr>
	<td width="25%" valign="MIDDLE" bgcolor="#ffffff" height="33" align="RIGHT">
		<b>With known employment status</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="33" align="CENTER">
		53
	</td>
	<td width="16%" valign="MIDDLE" bgcolor="#ffffff" height="33" align="CENTER">
		107
	</td>
	<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="33" align="CENTER">
		1,144
	</td>
	<td width="12%" valign="MIDDLE" bgcolor="#ffffff" height="33" align="CENTER">
		673
	</td>
	<td width="14%" valign="MIDDLE" bgcolor="#ffffff" height="33" align="CENTER">
		176
	</td>
	<td width="12%" valign="MIDDLE" bgcolor="#ffffff" height="33" align="CENTER">
		2,153
	</td>
</tr>
<tr>
	<td width="25%" valign="MIDDLE" bgcolor="#ffffff" height="48" align="RIGHT">
		<b>With known employment status and remaining in US</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="48" align="CENTER">
		52
	</td>
	<td width="16%" valign="MIDDLE" bgcolor="#ffffff" height="48" align="CENTER">
		95
	</td>
	<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="48" align="CENTER">
		1,106
	</td>
	<td width="12%" valign="MIDDLE" bgcolor="#ffffff" height="48" align="CENTER">
		626
	</td>
	<td width="14%" valign="MIDDLE" bgcolor="#ffffff" height="48" align="CENTER">
		141
	</td>
	<td width="12%" valign="MIDDLE" bgcolor="#ffffff" height="48" align="CENTER">
		2,020
	</td>
</tr>
</table>

<p><a href="/jil_phd_survey">< Back to main page</a> | <a href="/jil_phd_survey_t2">Next table ></a>
