<h1>Negotiating Special Situations</h1>
<ol>
<li><a href="#older">What issues and strategies should I have in mind as an older job candidate?</a>
<li><a href="#advanced">How do I approach the job search at the level of advanced assistant or associate professor?</a>
<li><a href="#conflicts">How do I deal with conflicts or disagreements in the job search or in negotiations over a position?</a>
</ol>

<a name="older"> </a>
<h2>What issues and strategies should I have in mind as an older job candidate?</h2>
PhD candidates and new PhDs who are in their forties of fifties need to have a realistic view of what happens in the application process for a tenure-track position.  Most colleges and universities do not expect a person to be fifty-five when he or she is tenured.  Age discrimination is illegal, but other observations about the CV can be prejudicial, such as a high school teaching orientation, a second career, or a degree seen as &quot;personal development&quot;.
<blockquote>
Anne Warner
Department of English
Spelman College
</blockquote>

Being an older candidate is tough. My college has hired older candidates for tenure-track positions, but they have had impressive publication records. Think about what you can offer a department that a novice could not (administrative experience or expertise in particular areas, such as running a writing center), and show your energy during the interview.
<blockquote>
Susan Kress
Department of English
Skidmore College
</blockquote>

<a name="advanced"> </a>
<h2>How do I approach the job search at the level of advanced assistant or associate professor?</h2>
There are pros and cons with going on the market both before you have tenure and afterward.  If you move before, it can be good because departments are sometimes wary of hiring already tenured faculty members.  However, it can be bad because departments may think you are leaving because you won't get tenure.  If you move afterward, it can be good because you have a proven record and are strong enough to have received that vote of confidence from your colleagues.  But it can be bad because you might be seen as trying to use the offer of a new position to up your salary in the old one. Or you might be seen as opportunistic and restless.
<blockquote>
Susan Kress
Department of English
Skidmore College
</blockquote>
<a name="conflicts"> </a>
<h2>How do I deal with conflicts or disagreements in the job search or in negotiations over a position?</h2>
Job searches are stressful for both sides, those hiring and those seeking a position.   Assume that those who are hiring are operating under institutional procedures and pressures of which you are unaware. Also assume, until proved otherwise, that they are acting professionally, because if they aren't, you can't do much about it,  and you may not want the job anyhow.  As a job seeker, be sure that you act professionally at all times and particularly if there is any disagreement.  Make sure you meet deadlines and communicate clearly in the most efficient medium.  Ask important questions, but do not pester.   Be prepared for delays, and be patient.  Be enthusiastic and accommodating.  Imagine that you will be offered a job at the institution in question and establish a tone from the beginning that you would hope to maintain on the job.
<blockquote>
Elaine Hansen
Provost
Haverford College
</blockquote>
