<h1>When and Where to Look for an Academic Job</h1>
<ol>
<li><a href="#where">Where do I look for openings?</a>
<li><a href="#how">How do I decide which jobs to apply for?</a>
</ol>
<a name="where"> </a>
<h2>Where do I look for openings?</h2>
The MLA's <I>Job Information List </I>is the major venue for postings of academic jobs in language and literature. Another important source of postings is the <I>Chronicle of Higher Education</I>, in print or online (www.chronicle.com). A number of community colleges list faculty positions nationally, but many advertise locally. For limited-term and adjunct positions, job seekers should make sure to check with individual campuses and provide departments with a letter and CV to put on file.
<blockquote>
James Papp
Modern Language Association
</blockquote>
<a name="how"> </a>
<h2>How do I decide which jobs to apply for?</h2>
Students from research-oriented universities often seem to think that it is enough to apply for one job (their "dream job") at a similarly research-oriented institution. Realize the limitations of this approach and look again at your potential and assets. If you present yourself as a specialist in the narrowest of fields, whether that field is related to the description of the position you are applying for or not, look again at your CV and maximize your potential by expanding rather than contracting your presentation.
<blockquote>
Hortensia R. Morell
Department of Spanish and Portuguese
Temple University
</blockquote>
