<h1>JPASS Discount for MLA Members</h1>
<p>MLA members can now subscribe to <a href="http://about.jstor.org/service/jpass">JPASS</a>, a new <i>JSTOR</i> access plan for individuals, for $99 a year (a 50% discount on the listed rate). JPASS, for scholars who work outside the academy or whose institution does not subscribe to <i>JSTOR</i>, provides access to more than 1,500 humanities, social science, and science journals in the <i>JSTOR</i> archival collections. A one-year subscription includes unlimited reading and 120 article downloads. To learn more or take advantage of this offer, please use this <a href="http://jpass.jstor.org/?soc=MLA&mc=WqBd6c4sbl">custom link</a>. </p>
