<h1>Message concerning Hurricane Katrina</h1>
Dear Colleague,

The members of the MLA Executive Council are deeply concerned for the welfare of the more than five hundred MLA members who are affected by Hurricane Katrina, and we have been looking for ways to help. We hope that if you are in touch with fellow members who do not have access to e-mail or the Web, you will share any of this information that may help them.

Efforts are under way to help accommodate faculty members and graduate students whose institutions are affected. We are working to set up a link on the MLA Web site to a page where members can post offers of available positions, library privileges, and other emergency employment- and accommodation-related notices. Members are also invited to post needs for such assistance. Members who do not have e-mail or Web access can phone the MLA with the information. We hope to have this service live by 9 September.  

The United States Postal Service has asked us to hold all mailings to areas affected by the hurricane, and so we will send <i>PMLA</i>, the <I>Newsletter</i>, and other association materials (including the convention announcement and the ballot) to those areas only when it becomes feasible to do so. 

We hope that members in affected areas will call the headquarters office if we can help with any membership service. The general number of the association is 646 576-5000, and the switchboard is open Monday through Friday from 9:00 to 5:00 eastern time, excluding holidays. Members with e-mail access can write to <a href="mailto:info@mla.org">info@mla.org</a>.

Finally, we would like to express our sadness at this catastrophic event. Like many of you, we have friends and colleagues who work in New Orleans and other areas affected by the storm. Please let us know if there is anything else we can do.


Most cordially yours,

<img src="/IMAGES/rosemarysig.gif" width=300 height=56 border=0 alt="Rosemary G. Feal">
Rosemary G. Feal
MLA Executive Director

<img src="/IMAGES/domna_stanton_sig.gif" width=286 height=67 border=0 alt="Domna C. Stanton">
Domna C. Stanton
MLA President

<table cellspacing=0 cellpadding=4 border=1 bordercolor="[[color3]]" width="100%"><tr><td align="center"><a href="/katrinalinks"><b>Hurricane Katrina Related Links</b></a> | <a href="/weblog_index"><b>Hurricane Katrina Message Board</b></a><BR><B><a href="/contribute">Donate to the Hurricane Katrina Fund for Members</a></b></td></tr></table>
