<a href="/katrina_letter">Read the <b>2 September Katrina Letter</b></a>

Dear Colleague,

The response to the message we sent on 2 September about the Katrina emergency has been extraordinary. Members answered our appeal by offering assistance and by making suggestions for how the MLA can help those affected by the hurricane and its aftermath. We heard from members who have endured the horrors of the disaster, and we are relieved to hear of their safety. Many of those affected told us that they very much want to get their professional lives back on track during this time of unprecedented disruption.

The Executive Council approved a number of steps in response. Members who are in need may request a waiver of convention registration fees for 2005 and membership dues for 2006. Please contact the convention office for registration waivers (646 576-5261, <a href="mailto:convenreg@mla.org">convenreg@mla.org</a>) and the membership office (646 576-5151, <a href="mailto:membership@mla.org">membership@mla.org</a>) for dues waivers. We hope the waivers will help those members who have suffered hardships to keep their professional connections active.

The council also authorized extending membership privileges in the Association of Departments of English and in the Association of Departments of Foreign Languages to nonmember departments in affected areas. The services of ADE and ADFL include access to the Job Information List for all graduate students and faculty members in subscribing departments. Finally, the Katrina message board has been live since 8 September, and we encourage you to read information and post messages at <a href="/weblog">www.mla.org/weblog</a>.

To help fund these efforts, the Executive Council has created the Katrina Assistance Fund, which will subsidize waivers of dues and convention registration fees. If you wish to make a tax-deductible contribution, please visit <a href="/contribute">www.mla.org/contribute</a>.

Our thoughts are with all those who are suffering the aftermath of the disaster. What the MLA can do in material terms is small, yet it is an enduring sign of solidarity from one member to another and a reconfirmation that we are a community.

[signature]

Rosemary G. Feal
MLA Executive Director

[signature]

Domna C. Stanton
MLA President

