<h1>Recommended Web Sites for Los Angeles Visitors</h1>
To learn about making the most of your time in LA, follow the links below, compiled by the MLA staff.

<h2>Museums and Cultural Institutions</h2>
<a href="http://www.losangeles.com/attractions/museums.html">A list of museums from LosAngeles.com</a>

<a href="http://www.lacma.org">Los Angeles County Museum of Art</a>

<a href="http://www.losangelesartsmonth.com/">Los Angeles Art Month</a>

<a href="http://www.grammymuseum.org/">The Grammy Museum</a>

<a href="http://www.museumoftolerance.com/">The Museum of Tolerance</a>

<a href="http://www.getty.edu/museum/">The J. Paul Getty Museum</a>

<a href="http://www.huntington.org/">The Huntington Library</a>

<a href="http://www.mjt.org">The Museum of Jurassic Technology</a>


<h2>Hollywood Attractions</h2>
<a href="http://www.losangeles.com/attractions/hollywood.html">A list of attractions from LosAngeles.com</a>

<a href="http://www.universalstudioshollywood.com/">Universal Studios</a>

<a href="http://www.sonypicturesstudiostours.com/">Sony Pictures Studio Tours</a>

<a href="http://www.latourist.com/index.php?page=hollywood-links">A list of attractions from LATourist.com</a>


<h2>Los Angeles Restaurants</h2>
<a href="/la_restaurants">A list of restaurants from MLA members</a>

<a href="http://www.losangelesrestaurants.com/">A list of restaurants from LosAngeles.com</a>

<a href="http://findlocal.latimes.com/restaurants">Read restaurant reviews from the <i>Los Angeles Times</i></a>

<a href="http://www.yelp.com/c/la/restaurants">Read user reviews of Los Angeles restaurants on <i>Yelp</i></a>

<a href="http://www.opentable.com/start.aspx?m=6">Make reservations at <i>OpenTable</i></a>


<h2>Children’s Activities</h2>
<a href="http://gocitykids.parentsconnect.com/region/los-angeles-ca-usa">A list of events and activities for children in the Los Angeles area from Nickelodeon's <i>ParentsConnect</i></a>

<a href="http://www.yelp.com/search?find_desc=kids+activities&find_loc=Los+Angeles%2C+CA">Read user reviews of children's activities in the Los Angeles area on <i>Yelp</i></a>
