<h1>Latin American Studies Association Endorsement</h1>

<p>Milagros Pereyra-Rojas, executive director of the Latin American Studies Association, communicated the following endorsement of "<a href="/ec_language_learning">Learning Another Language: Goals and Challenges</a>" to Rosemary G. Feal:</p>

<p>The Latin American Studies Association (LASA) strongly endorses the statement by the Modern Language Association regarding the crucial importance of the study of a second, and even a third and fourth language beyond English.  As a professional association of Latin Americanists, with over 7,000 members around the globe, LASA seeks to foster intellectual discussion, research, and teaching on Latin America, the Caribbean, and its people throughout the Americas, promote the interests of its diverse membership, and encourage civic engagement through network building and public debate.  To accomplish the Association’s mission, members rely upon communications in Spanish, Portuguese, French, English, as well as several indigenous languages.  Just as fluency in these languages is crucial to furthering our understanding of, and appreciation for, the culture and histories of other peoples, making it possible for students to acquire that level of fluency is of critical importance as well.</p>

<p>LASA joins the Modern Language Association in calling upon colleges and universities to strengthen their language programs and encourages leaders in higher education to devise programs to provide every American university graduate with advanced fluency in at least one non-native language.</p>
