<h1>Additional Calls for Papers 2005</h1>
<H2>Divisions</h2>
<B><I>Hispanic Literatures</i></B>
<B>LUSO-BRAZILIAN LANGUAGE AND LITERATURE</B>
<B>Visual Narratives of the Portuguese-Speaking World.</B> Visual arts, cinema, architecture, digital culture production, and exhibitions of the Portuguese-speaking world. Titles and short abstracts by 20 Mar.; Peggy Sharpe (<a href="mailto:psharpe@mailer.fsu.edu">psharpe@mailer.fsu.edu</a>).
<H2>Discussion Groups</h2>
<B>YIDDISH LITERATURE</B>
<B>Yiddish Literature and Literary Theory?</b> Does Yiddish literature benefit from engagement with theory? What tensions emerge between minority literature and dominant theories? Can theory invigorate the Yiddish canon? 500-word abstracts by 25 Mar.; Marc Caplan (<a href="mailto:aqc1774@nyu.edu">aqc1774@nyu.edu</a>).
<H2>Special Sessions</h2>
<B>The Importance of Punctuation.</b> Punctuation topics related to linguistics, writing, its use in certain genres or by specific literary figures. Abstracts by 15 Mar.; Albert E. Krahn (<a href="mailto:krahn@punctuation.org">krahn@punctuation.org</a>).

<b>Readers and Riddles in the 19th Century.</b> Papers analyzing the role of riddles, wordplay, punning, etc. in 19th-century reading and writing. 1-page abstracts by 1 Mar.; Brian Tucker (<a href="mailto:tuckerb@wabash.edu">tuckerb@wabash.edu</a>).
<H2>Allied Organizations</h2>
<B>NATHANIEL HAWTHORNE SOCIETY
Marginal Hawthorne: <i>Journal of an African Cruiser</i> and Other Works.
Political Hawthorne: About War Matters and Power Politics.</b>  1-2-page abstracts for 20-min. papers by 15 Mar.; Sam Coale, 39 Pratt St., Providence, RI 02906 (<a href="mailto:samcoale@cox.net">samcoale@cox.net</a>).

<b>INTERNATIONAL COURTLY LITERATURE SOCIETY
Open Sessions.</b> Proposals for papers and sessions on all expressions of courtly culture by 1 Mar.; Rose Marie Deist, Dept. of Modern and Classical Langs., Univ. of San Francisco, 2130 Fulton St., San Francisco, CA  94117-1080 (<a href="mailto:deistr@usfca.edu">deistr@usfca.edu</a>).
