<h1>Leading Contributors to the MLA</h1>
<h2>2010–11 Fiscal Year</h2>
<b>The following contributors generously donated $500 or more to the various MLA funds during the association’s <a href="/fiscalyearcontribut">fiscal year</a>. Find out more about <a href="/contribute">donating to MLA funds</a>.</b>

Jonathan Arac and Susan Z. Andrade
Houston A. Baker
Russell A. Berman
Michael Bérubé and Janet W. Lyon
Lawrence I. Buell
Ann Bugliani
Debra Ann Castillo
Carlos Feal
Rosemary G. Feal
James Franklin
Mary Gutermuth
Pamela Sue Hardman
Margaret R. Higonnet
Marianne Hirsch and Leo Spitzer
Heath Hutto
Thomas W. Kim
John P. Leavey
Fran Lehen
Philip E. Lewis
Yolanda M. Martínez–San Miguel
Marjorie Gabrielle Perloff
Jeanine Parisier Plottel
Catherine Porter
Patricia Roberts-Miller
Nicolas Shumway
Sidonie Ann Smith
The Teagle Foundation on behalf of Donna Heiland
Cynthia Walk

and four anonymous donors

<b>The following contributors generously donated $200 to $499 to the various MLA funds during the association’s 2010–11 <a href="/fiscalyearcontribut">fiscal year</a>. Find out more about <a href="/contribute">donating to MLA funds</a>.</b>

Charles Francis Altieri
Sarah M. Anderson
Kwame Anthony Appiah
Sandra L. Bermann
Maryellen Bieder
Bege K. Bowers
Leo Braudy
Joan L. Brown
Judith Butler
Claudia Corradini
Charlotte Marie Craig
Gail Bruce Crump
Martha J. Cutter
Christy Desmet
Mary Jane Dickerson
Anne Donadey
Clorinda Donato
David G. Eisermann
William Edward Engel
Frances Ferguson
Doucet Devin Fischer
Kathleen Fitzpatrick
Harold Fromm
Mary Fuller
Anne Ruggles Gere
William Germano
Stephen J. Greenblatt
Joan E. Hartman
Nils Hasselmo
Hugh Hazelton
Dorothea Heitsch
María Herrera-Sobek
Peter Northrup Heydon
Michael Holquist
Francis Abiola Irele
Charles L. James
Beth Ellen Jörgensen
Louis Kampf
Thomas Paul Klammer
Christopher Kleinhenz
Lawrence D. Kritzman
Mary N. Layoun
Peter H. Leffman
Vincent Barry Leitch
George L. Levine
Herbert S. Lindenberger
Leslie MacEwen
Kara Grace Marler-Kennedy
Raul Marrero-Fente
William J. Maxwell
Michael Middleton
Breon B. Mitchell
Curtis A. Perry
R. G. Peterson
Mary Louise Pratt
Paula Rabinowitz
Alan Rauch
Dana J. Ringuette
Nancy K. Salter
Jeffrey L. Sammons
George Louis Scheper
Martha Nell Smith and Marilee Lindemann
Hortense Jeanette Spillers
Catharine Roslyn Stimpson
Karen A. Stolley
C. Lynne Tatlock and Joseph Foster Loewenstein
William Thompson
Helen Vendler
Priscilla B. Wald
Tim Watson
Timothy F. Weiss
Alexandra K. Wettlaufer
John C. Wilcox
McDonald Williams
Pauline Ruth Yu

and six anonymous donors

<b>The following foundations have generously contributed matching funds. </b>

The Teagle Foundation    
