<h1>Leading Contributors to the MLA</h1>
<h2>2011–12 Fiscal Year</h2>
<b>The following contributors generously donated $500 or more to the various MLA funds during the association’s <a href="/fiscalyearcontribut">fiscal year</a>. Find out more about <a href="/contribute">donating to MLA funds</a>.</b>

Sarah M. Anderson
Jonathan Arac and Susan Z. Andrade
Wendy Laura Belcher
Russell A. Berman
Michael Bérubé and Janet W. Lyon 
Michael Johannes Boehler
Lawrence I. Buell
Ann Bugliani
Judith Butler 
Debra Ann Castillo
Nicole Cridland
Carlos Feal
Rosemary G. Feal
Gerald Graff and Cathy L. Birkenstein-Graff
Pamela Sue Hardman
Heath Hutto
Yoshio Iwamoto
Thomas W. Kim
John P. Leavey
Vincent Barry Leitch
Philip E. Lewis
Kara Grace Marler-Kennedy
Max Oppenheimer
Marjorie Gabrielle Perloff 
Catherine Porter
Patricia Roberts-Miller
Sidonie Ann Smith
The Teagle Foundation on behalf of Donna Heiland
Cynthia Walk
Kathleen Woodward

and one anonymous donor

<b>The following contributors generously donated $200 to $499 to the various MLA funds during the association’s <a href="/fiscalyearcontribut">fiscal year</a>. Find out more about <a href="/contribute">donating to MLA funds</a>.</b>

Samer M. Ali
Zahra A. Hussein Ali
Lauren Berlant
Sandra L. Bermann
Alison Booth
Bege K. Bowers
Joan L. Brown 
Samara Cahill
François Cornilliat
Robert Daly
David Damrosch
James M. Dean
Duane DeVries
Anne Donadey
Clorinda Donato
Margaret J. M. Ezell
Frances Ferguson
Margaret W. Ferguson
Doucet Devin Fischer
Christina M. Fitzgerald
Kathleen Fitzpatrick
David William Foster
Marilyn Gaddis Rose
William Germano
Simon E. Gikandi
Pamela K. Gilbert
Michael Hancher
Jane Harper
Joan E. Hartman
Kevin J. Harty
Eriko Hayashi
Hugh Hazelton
<div style="text-indent: -2em; padding-left: 2em;">James Anthony Walsh Heffernan</div>
Dorothea Heitsch
María Herrera-Sobek
Margaret R. Higonnet
Roberta Johnson
Ann Rosalind Jones
Irene Kacandes
Thomas Paul Klammer
Christopher Kleinhenz
Lawrence D. Kritzman
Peter H. Leffman
George L. Levine
Martin W. Ley
Herbert S. Lindenberger
Sheri Spaine Long
Raul Marrero-Fente
<div style="text-indent: -2em; padding-left: 2em;">Yolanda M. Martínez-San Miguel</div>
William J. Maxwell
Stanley D. McKenzie
Richard M. Ohmann
James A. Parr
Linda Ray Pratt
Mary Louise Pratt
Christine M. Probes
Ato Quayson
Esther Casier Quinn
Hildegund Ratcliffe
Alan Rauch
Dana J. Ringuette
Marlon Bryan Ross
Nancy K. Salter
Jeffrey L. Sammons
George Louis Scheper
Martha Nell Smith
Gonzalo Sobejano
Hortense Jeanette Spillers
Domna C. Stanton
Christopher W. Sten
Catharine Roslyn Stimpson
Kathryn Bond Stockton
<div style="text-indent: -2em; padding-left: 2em;">C. Lynne Tatlock and Joseph Foster Loewenstein</div>
William Thompson
Lisa Vollendorf
Priscilla B. Wald
Jenifer K. Ward
Jack Wasserman
Tim Watson
Carolyn S. Williams
George T. Wright
Pauline Ruth Yu
Theodore J. Ziolkowski

and ten anonymous donors

<b>The following foundations have generously contributed matching funds.</b>

The Teagle Foundation
