<h1>List of 2014 Exhibitors</h1>
<strong>As of 20 December 2013</strong>
<br/>
<br/>
[[[comment]]]
<!--//USE THIS TEMPLATE FOR A NEW EXHIBITOR//-->
	<tr>
		<td><a href="http://" target="_blank"></a></td>
		<td></td>
	</tr>
[[[endcomment]]]


<table width="90%" cellspacing="0" cellpadding="0" target="_blank">
<tr>
<td width="70%" target="_blank"><strong>Exhibitor</strong></td>
<td width="30%" target="_blank"><strong>Booth</strong></td>
</tr>
<tr>
<td><a href="http://www.alexanderstreet.com/" target="_blank">Alexander Street Press</a></td>
<td>717</td>
</tr>
<tr>
<td><a href="http://anthemfoundation.org" target="_blank">Anthem Foundation for Objectivist Scholarship</a></td>
<td>346</td>
</tr>
<tr>
<td><a href="http://www.artstor.org" target="_blank">ARTstor</a></td>
<td>237</td>
</tr>
<tr>
<td><a href="http://www.ashgate.com" target="_blank">Ashgate Publishing</a></td>
<td>712, 714</td>
</tr>
<tr>
<td>Association Book Exhibit</td>
<td>345</td>
</tr>
<tr>
<td><a href="http://www.bedfordstmartins.com/" target="_blank">Bedford / St. Martin’s</a></td>
<td>232, 234, 236</td>
</tr>
<tr>
<td><a href="http://www.bloomsbury.com" target="_blank">Bloomsbury</a></td>
<td>136, 138</td>
</tr>
<tr>
<td><a href="http://www.boydellandbrewer.com/" target="_blank">Boydell and Brewer</a></td>
<td>614</td>
</tr>
<tr>
<td>Bucknell University Press</td>
<td>120, 122</td>
</tr>
<tr>
<td><a href="http://www.cambriapress.com" target="_blank">Cambria Press</a></td>
<td>132</td>
</tr>
<tr>
<td><a href="http://www.cambridge.org/" target="_blank">Cambridge University Press</a></td>
<td>325, 327</td>
</tr>
<tr>
<td><a href="http://www.capa.org" target="_blank">CAPA International Education</a></td>
<td>521</td>
</tr>
<tr>
<td><a href="http://cengage.com" target="_blank">Cengage Learning</a></td>
<td>805</td>
</tr>
<tr>
<td><a href="http://www.press.uchicago.edu/" target="_blank">University of Chicago Press</a></td>
<td>423, 425, 427</td>
</tr>
<tr>
<td><em>Chronicle of Higher Education</em></td>
<td>126</td>
</tr>
<tr>
<td><a href="http://cup.columbia.edu" target="_blank">Columbia University Press</a></td>
<td>333, 335, 337</td>
</tr>
<tr>
<td><a href="http://www.cbsd.com" target="_blank">Consortium Book Sales</a></td>
<td>331</td>
</tr>
<tr>
<td><a href="http://celj.org" target="_blank">Council of Editors of Learned Journals</a></td>
<td>608</td>
</tr>
<tr>
<td>David Brown Book Company</td>
<td>340</td>
</tr>
<tr>
<td><a href="http://www.degruyter.com" target="_blank">De Gruyter</a></td>
<td>716</td>
</tr>
<tr>
<td>University of Delaware Press</td>
<td>120, 122</td>
</tr>
<tr>
<td><a href="http://www.dukeupress.edu" target="_blank">Duke University Press</a></td>
<td>322, 324</td>
</tr>
<tr>
<td><a href="http://www.ebsco.com" target="_blank">EBSCO Information Services</a></td>
<td>148</td>
</tr>
<tr> <td><a href="http://www.euppublishing.com" target="_blank">Edinburgh University Press</a></td>
<td>612</td>
</tr>
<tr>
<td>Fairleigh Dickinson University
Press</td>
<td>120, 122</td>
</tr>
<tr>
<td><a href="http://www.fastpencil.com" target="_blank">FastPencil</a></td>
<td>803</td>
</tr>
<tr>
<td>Feminist Press, CUNY</td>
<td>331</td>
</tr>
<tr>
<td><a href="http://www.upf.com" target="_blank">University Press of Florida</a></td>
<td>702</td>
</tr>
<tr>
<td><a href="http://www.fordhampress.com" target="_blank">Fordham University Press</a></td>
<td>432</td>
</tr>
<tr>
<td><a href="http://www.ugapress.org" target="_blank">University of Georgia Press</a></td>
<td>422</td>
</tr>
<tr>
<td>Grove/Atlantic, Inc.</td>
<td>706, 708</td>
</tr>
<tr>
<td><a href="http://www.hackettpublishing.com" target="_blank">Hackett Publishing Company</a></td>
<td>240</td>
</tr>
<tr>
<td><a href="http://www.harperacademic.com/" target="_blank">HarperCollins Publishers</a></td>
<td>130</td>
</tr>
<tr>
<td><a href="http://www.hup.harvard.edu" target="_blank">Harvard University Press</a></td>
<td>419, 421</td>
</tr>
<td><a href="http://www.higheredjobs.com" target="_blank">HigherEdJobs</a></td>
<td>809</td>
</tr>
<tr>
<td><a href="http://www.iesabroad.org" target="_blank">IES Abroad</a></td>
<td>343</td>
</tr>
<tr>
<td><a href="http://www.press.uillinois.edu" target="_blank">University of Illinois Press</a></td>
<td>247</td>
</tr>
<tr>
<td><a href="http://www.insidehighered.com" target="_blank"><em>Inside Higher Ed</em></a></td>
<td>146</td>
</tr>
<tr><td><a href="http://www.iie.org/cies" target="_blank">IIE/Council for International Exchange of Scholars</td><td>802</td>
</tr>
<tr>
<td><a href="http://www.interfolio.com" target="_blank">Interfolio, Inc.</a></td>
<td>703</td>
</tr>
<tr>
<td>University of Iowa Press</td>
<td>422</td>
</tr>
<tr>
<td><a href="http://press.jhu.edu" target="_blank">Johns Hopkins University Press</a></td>
<td>721</td>
</tr>
<tr>
<td><a href="http://about.jstor.org" target="_blank">JSTOR</a></td>
<td>339</td>
</tr>
<tr>
<td>Lehigh University Press</td>
<td>120, 122</td>
</tr>
<tr>
<td><a href="http://www.rowman.com" target="_blank">Lexington Books</a></td>
<td>120, 122</td>
</tr>
<tr>
<td><a href="http://www.droz.org" target="_blank">Librairie Droz</a></td>
<td>344</td>
</tr>
<tr>
<td><a href="http://www.maneypublishing.com/" target="_blank">Maney Publishing</a></td>
<td>340</td>
</tr>
<tr>
<td>University of Massachusetts Press</td>
<td>435</td>
</tr>
<tr>
<td><a href="http://www.mcfarlandpub.com" target="_blank">McFarland</a></td>
<td>142</td>
</tr>
<tr>
<td><a href="http://press.umich.edu" target="_blank">University of Michigan Press</a></td>
<td>713</td>
</tr>
<tr>
<td><a href="http://www.msupress.org" target="_blank">Michigan State University Press</a></td>
<td>221</td>
</tr>
<tr><td><a href="http://www.middlebury.edu/ls" target="_blank">Middlebury Language Schools</td><td>807</td>
</tr>
<tr><td><a href="http://www.milkweed.org" target="_blank">Milkweed Editions</td><td>523</td>
</tr>
<tr>
<td><a href="http://www.upress.umn.edu" target="_blank">University of Minnesota Press</a></td>
<td>616, 618</td>
</tr>
<tr>
<td>University Press of Mississippi</td>
<td>715</td>
</tr>
<tr>
<td><a href="http://mitpress.mit.edu" target="_blank">MIT Press</a></td>
<td>320</td>
</tr>
<tr>
<td><a href="/store">Modern Language Association</a></td>
<td>100</td>
</tr>
<tr>
<td>Modern Language Initiative</td>
<td>434</td>
</tr>
<tr>
<td><a href="http://www.nybooks.com/books/" target="_blank">New York Review Books</a></td>
<td>431</td>
</tr>
<tr>
<td>New York Review Children's Collection</td>
<td>431</td>
</tr>
<tr>
<td><em>New York Review of Books</em></td>
<td>431</td>
</tr>
<tr>
<td><a href="http://www.uncpress.unc.edu" target="_blank">University of North Carolina Press</a></td>
<td>435</td>
</tr>
<tr>
<td>Northwestern University Press</td>
<td>436</td>
</tr>
<tr>
<td>University of Notre Dame Press</td>
<td>704</td>
</tr>
<tr>
<td>NYRB Classics</td>
<td>431</td>
</tr>
<tr>
<td>NYRB Lit</td>
<td>431</td>
</tr>
<tr>
<td>NYRB Poets</td>
<td>431</td>
</tr>
<tr>
<td><a href="http://www.nyupress.org/" target="_blank">NYU Press</a></td>
<td>219, 800</td>
</tr>
<tr>
<td><a href="http://www.ohiostatepress.org/" target="_blank">Ohio State University Press</a></td>
<td>602, 604, 606</td>
</tr>
<tr>
<td><a href="http://www.ontheavenuemarketing.com" target="_blank">On the Avenue Marketing</a></td>
<td>238</td>
</tr>
<tr>
<td><a href="http://orcid.org" target="_blank">ORCID</a></td>
<td>718</td>
</tr>
<tr>
<td><a href="http://www.oup.com/us" target="_blank">Oxford University Press</a></td>
<td>319, 321</td>
</tr>
<tr>
<td><a href="http://www.palgrave.com/" target="_blank">Palgrave Macmillan</a></td>
<td>231, 233, 235</td>
</tr>
<tr>
<td><a href="http://www.pearsonhighered.com" target="_blank">Pearson</a></td>
<td>338</td>
</tr>
<tr>
<td><a href="http://us.penguingroup.com" target="_blank">Penguin Group (USA)</a></td>
<td>332, 334, 336</td>
</tr>
<tr>
<td><a href="http://www.psupress.org" target="_blank">Penn State Press</a></td>
<td>439</td>
</tr>
<tr>
<td><a href="http://www.pennpress.org" target="_blank">University of Pennsylvania Press</a></td>
<td>433</td>
</tr>
<tr>
<td><a href="http://www.performantsoftware.com" target="_blank">Performant Software Solutions</a></td>
<td>223</td>
</tr>
<tr>
<td><a href="http://www.politybooks.com/" target="_blank">Polity</a></td>
<td>705</td>
</tr>
<tr>
<td><a href="http://press.princeton.edu" target="_blank">Princeton University Press</a></td>
<td>326, 328</td>
</tr>
<tr>
<td>Project MUSE</td>
<td>719</td>
</tr>
<tr>
<td><a href="http://www.proquest.com" target="_blank">ProQuest</a></td>
<td>239</td>
</tr>
<tr>
<td><a href="http://www.pgw.com/" target="_blank">Publishers Group West</a></td>
<td>706, 708</td>
</tr>
<tr>
<td><a href="http://www.randomhouse.com/" target="_blank">Random House, Inc.</a></td>
<td>225, 226, 227, 228</td>
</tr>
<tr>
<td><a href="http://www.rodopi.nl" target="_blank">Rodopi</a></td>
<td>348</td>
</tr>
<tr>
<td>Routledge</td>
<td>244, 246, 248, 250</td>
</tr>
<tr>
<td><a href="http://rutgerspress.rutgers.edu" target="_blank">Rutgers University Press</a></td>
<td>424</td>
</tr>
<tr>
<td>SabbaticalHomes.com</td>
<td>249</td>
</tr>
<tr>
<td><a href="http://www.salempress.com" target="_blank">Salem Press</a></td>
<td>347</td>
</tr>
<tr>
<td><a href="http://www.asls.org.uk" target="_blank">Scottish Writing Exhibition</a></td>
<td>243, 245</td>
</tr>
<tr>
<td><a href="http://spdbooks.org" target="_blank">Small Press Distribution</a></td>
<td>720</td>
</tr>
<tr>
<td>Stanford University Press</td>
<td>426, 428</td>
</tr>
<tr>
<td><a href="http://www.sunypress.edu" target="_blank">SUNY Press</a></td>
<td>527</td>
</tr>
<tr>
<td><a href="http://www.temple.edu/tempress" target="_blank">Temple University Press</a></td>
<td>715</td>
</tr>
<tr>
<td><a href="http://www.utppublishing.com" target="_blank">University of Toronto Press</a></td>
<td>437</td>
</tr>
<tr>
<td><a href="http://www.upress.virginia.edu" target="_blank">University of Virginia Press</a></td>
<td>323</td>
</tr>
<tr>
<td><a href="http://www.wiley.com/WileyCDA/Section/index.html" target="_blank">Wiley</a></td>
<td>707, 709</td>
</tr>
<tr>
<td><a href="http://uwpress.wisc.edu" target="_blank">University of Wisconsin Press</a></td>
<td>620</td>
</tr>
<tr>
<td><a href="http://www.writersmuse.com" target="_blank">Writer's Muse</a></td>
<td>349</td>
</tr>
<tr>
<td><a href="http://wwnorton.com" target="_blank">W. W. Norton and Company</a></td>
<td>220, 222, 224</td>
</tr>
<tr>
<td><a href="http://yalebooks.com" target="_blank">Yale University Press</a></td>
<td>519</td>
</tr>
</table>
