<img src="/IMAGES/old_tol_logo.gif" width="450" height="70" border="0" align="top" hspace="0" vspace="6" alt="Times logo"><BR>
<img src="/IMAGES/tls_literarylogo.jpg" width="480" height="48" border="0" align="top" hspace="0" vspace="6" alt="TLS logo"

November 28, 2008

BRIAN VICKERS

I know it might seem strange, but I have always taken great pleasure in reading reference books. It is encouraging to think that publishers should hire scholars to sift through masses of information to provide me with an accurate and up-to-date gateway to knowledge. The Modern Language Association of America, in a more sober era (before succumbing to Current Literary Theory) hired James L. Harner to edit its <I>Literary Research Guide</I>, an annotated listing of reference sources in English literary studies, which has just reached its fifth edition. In over 800 pages this marvellously comprehensive and reliable tool surveys English-language literature - English (196 pages) just shading American (142) - including Irish, Scottish, Welsh, Caribbean, and what used to be called Commonwealth Literature. An especially useful section surveys reference works, bibliographies, dictionaries, library catalogues, guides to manuscripts, dissertations, and internet resources. An online version will be launched shortly, to be regularly updated.

Every scholar and every library should own this book. An hour's use will reveal works that you have never heard of, and lessen your confidence in others that you may have relied on. James Harner, who has spent most of his life working on major research tools (including the invaluable online <I>World Shakespeare Bibliography</I>), not only lists several thousand reference sources but is courageous enough to add evaluations. He endorses many excellent works ("a labour of love" being the highest praise), but many widely used works are found wanting in one respect or another, and readers are duly alerted with such verdicts as "should be avoided", "virtually useless", "needlessly complicated", "an egregious waste of paper", "utterly inadequate", "inexplicable", or, worst of all, "inexcusable". James Harner deserves Dr Johnson's accolade: "He who refines the public taste is a public benefactor".
