<h1>Making Nominations for the Phyllis Franklin Award for Public Advocacy of the Humanities</h1>
In recognition of Phyllis Franklin's long and distinguished service to the humanities as executive director of the Modern Language Association, the association honors her with the establishment of the Phyllis Franklin Award for Public Advocacy of the Humanities. The first award was given in 2003; subsequent awards were given in 2005, 2007, and 2010. The next award will be given in 2013, and future awards will be given every three years. The award honors a person who has fostered public support for the humanities through speaking, writing, policy making, or other activities. It is open to academics and to public figures outside the field and the academy, such as politicians, corporate leaders, foundation heads, journalists, educational administrators, and persons from the world of the arts and entertainment.

The officers of the MLA will review nominees for the award and will recommend names for consideration by the Executive Council. All suggestions, endorsements, and solicitations of comments on persons proposed for the award will be strictly confidential; the award will be presented at the annual convention. Letters of nomination should be addressed to the president of the MLA and should include the name of the nominee and a statement commenting on the candidate's achievements. Letters must arrive at the headquarters office by 1 April 2013 and may be sent by mail or e-mail (<a href="mailto:execdirector@mla.org">execdirector@mla.org</a>).

<a href="/pfranklin_award">Past winners</a> of this prize 
