<h1>Master List of Periodicals</h1>
<h2>Periodicals Included</h2>
<p>Any regularly published print or electronic journal
available to libraries or universities that routinely includes
articles on language, linguistics, literature, folklore, pedagogy,
or film is eligible for inclusion on the Master List of Periodicals
and listing in the <i>Directory of Periodicals</i>. Any series that
publishes books on language, linguistics, folklore, pedagogy, or
film, regardless of the frequency of the series, is also eligible.
Editors of journals or series not currently included on the Master
List of Periodicals are invited to send a sample copy of the
journal or series, or the URL if the periodical is published only
in electronic form, to the editor at Directory of Periodicals,
Modern Language Association, 26 Broadway, 3rd floor, New York, NY
10004-1789; <a href="mailto:periodicals@mla.org">periodicals@mla.org</a>.</p>
<h2>Availability</h2>
<p>The online version of the Master List of Periodicals
is currently unavailable at this site. A complete list is
available through the JISC Academic Database Assessment Tool
(<a href="http://www.jisc-adat.com/adat/home.pl" target="_blank">http://www.jisc-adat.com/adat/home.pl</a>)</p>
