<h1>Membership</h1>
<style>
ul.index {list-style-type:none; font-weight:bold;}
</style>

<ul class="index">
		<li><a href="/about_membership">About Membership</a></li>
		<li><a href="/mla_membership_benef">Membership Benefits</a></li>
		<li><a href="/member_resources">Member Resources</a></li>
		<li><a href="/about_committees_and">Association Committees</a></li>
		<li><a href="/divisions_groups">Divisions and Discussion Groups</a></li>
		<li><a href="/contribute">Donate to the MLA</a></li>
		<li><a href="/contributors">Leading Contributors to the MLA</a></li>
		<li><a href="/in_memoriam">In Memoriam</a></li>
</ul>		
<ul class="index">
		<li><a href="/join_new_intro">Join the MLA</a></li>
		<li><a href="/join_renew">Renew or Reinstate Your Membership</a> *</li>
		<li><a href="/join_update">Update Your Member Profile</a> *</li>
		<li><a href="/member_changepw">Change Your Password</a> *</li>
		<li><a href="/join_invite">Invite a Colleague to Join the MLA</a> *</li>
</ul>
<ul class="index">
		<li><a href="/member_search">Search the List of Current Members</a> *</li>
		<li><a href="//directory">Use the 2012–13 Directory</a></li>		
		<li><a href="/handbook_access">Access the <i>MLA Handbook</i> Web Site</a></li>		
</ul>
<b>*</b> log-in required

[[[insert file "mla_membership_benef"]]]
