<h1>MLA Committee Meetings, April 2013–December 2013</h1>
The following schedule of MLA committee meetings is current as of 5 April 2013. Members wishing to bring issues to the attention of a committee may write to the <a href="/alpha_commlistings">committee chair</a> or address letters to the <a href="mailto:execdirector@mla.org">executive director’s office</a>.

[[[comment]]]
[[[endcomment]]]

<h2>April</h2>
<table width="100%" border="0">
	<tr>
		<td align="right" valign="top" width="10%">4–5</td>
		<td width="3%">&nbsp;</td>
		<td width="87%" valign="top">Advisory Committee on the <i>MLA International Bibliography</i></td>
	</tr>
	<tr>
		<td align="right" valign="top" width="10%">11–12</td>
		<td width="3%">&nbsp;</td>
		<td width="87%" valign="top">Publications Committee</td>
	</tr>
	<tr>
		<td align="right" valign="top" width="10%">29–30</td>
		<td width="3%">&nbsp;</td>
		<td width="87%" valign="top">Task Force on Doctoral Studies</td>
	</tr>
</table>

<h2>May</h2>
<table width="100%" border="0">
	<tr>
		<td align="right" valign="top" width="10%">2–3</td>
		<td width="3%">&nbsp;</td>
		<td width="87%" valign="top"><i>PMLA</i> Editorial Board</td>
	</tr>
	<tr>
		<td align="right" valign="top" width="10%">2–3</td>
		<td width="3%">&nbsp;</td>
		<td width="87%" valign="top">Program Committee</td>
	</tr>
	<tr>
		<td align="right" valign="top" width="10%">16–17</td>
		<td width="3%">&nbsp;</td>
		<td width="87%" valign="top">Executive Council</td>
	</tr>
</table>

<h2>September</h2>
<table width="100%" border="0">
	<tr>
		<td align="right" valign="top" width="10%">6</td>
		<td width="3%">&nbsp;</td>
		<td width="87%" valign="top">Committee on Scholarly Editions </td>
	</tr>
	<tr>
		<td align="right" valign="top" width="10%">9–10</td>
		<td width="3%">&nbsp;</td>
		<td width="87%" valign="top">Committee on the Literatures of People of Color in the United States and Canada</td>
	</tr>
	<tr>
		<td align="right" valign="top" width="10%">16–17</td>
		<td width="3%">&nbsp;</td>
		<td width="87%" valign="top">Steering Committee on New Structures for Languages in Higher Education </td>
	</tr>
	<tr>
		<td align="right" valign="top" width="10%">19–20</td>
		<td width="3%">&nbsp;</td>
		<td width="87%" valign="top">Committee on Contingent Labor in the Profession </td>
	</tr>
	<tr>
		<td align="right" valign="top" width="10%">20</td>
		<td width="3%">&nbsp;</td>
		<td width="87%" valign="top">Committee on Disability Issues in the Profession </td>
	</tr>
	<tr>
		<td align="right" valign="top" width="10%">26–27</td>
		<td width="3%">&nbsp;</td>
		<td width="87%" valign="top">ADE Ad Hoc Committee </td>
	</tr>
	<tr>
		<td align="right" valign="top" width="10%">26–27</td>
		<td width="3%">&nbsp;</td>
		<td width="87%" valign="top">Publications Committee</td>
	</tr>
</table>


<h2>October</h2>
<table width="100%" border="0">
	<tr>
		<td align="right" valign="top" width="10%">3–4</td>
		<td width="3%">&nbsp;</td>
		<td width="87%" valign="top">Committee on the Status of Women in the Profession</td>
	</tr>
	<tr>
		<td align="right" valign="top" width="10%">3–4</td>
		<td width="3%">&nbsp;</td>
		<td width="87%" valign="top"><i>PMLA</i> Editorial Board</td>
	</tr>
	<tr>
		<td align="right" valign="top" width="10%">7–8</td>
		<td width="3%">&nbsp;</td>
		<td width="87%" valign="top">Advisory Committee on the <i>MLA International Bibliography</i></td>
	</tr>
	<tr>
		<td align="right" valign="top" width="10%">10–11</td>
		<td width="3%">&nbsp;</td>
		<td width="87%" valign="top">Committee on the Status of Graduate Students in the Profession </td>
	</tr>
	<tr>
		<td align="right" valign="top" width="10%">17–18</td>
		<td width="3%">&nbsp;</td>
		<td width="87%" valign="top">ADFL Executive Committee</td>
	</tr>
	<tr>
		<td align="right" valign="top" width="10%">17–18</td>
		<td width="3%">&nbsp;</td>
		<td width="87%" valign="top">Committee on Information Technology</td>
	</tr>
	<tr>
		<td align="right" valign="top" width="10%">23–24</td>
		<td width="3%">&nbsp;</td>
		<td width="87%" valign="top">Delegate Assembly Organizing Committee </td>
	</tr>
	<tr>
		<td align="right" valign="top" width="10%">25–26</td>
		<td width="3%">&nbsp;</td>
		<td width="87%" valign="top">Executive Council</td>
	</tr>
	<tr>
		<td align="right" valign="top" width="10%">31</td>
		<td width="3%">&nbsp;</td>
		<td width="87%" valign="top">Committee on Academic Freedom and Professional Rights and Responsibilities</td>
	</tr>
</table>

<h2>November</h2>
<table width="100%" border="0">
	<tr>
		<td align="right" valign="top" width="10%">1</td>
		<td width="3%">&nbsp;</td>
		<td width="87%" valign="top">Committee on Academic Freedom and Professional Rights and Responsibilities</td>
	</tr>
	<tr>
		<td align="right" valign="top" width="10%">7–8</td>
		<td width="3%">&nbsp;</td>
		<td width="87%" valign="top">Committee on Community Colleges</td>
	</tr>
</table>

<h2>December</h2>
<table width="100%" border="0">
	<tr>
		<td align="right" valign="top" width="10%">6</td>
		<td width="3%">&nbsp;</td>
		<td width="87%" valign="top">Texts and Translations Series Editorial Board</td>
	</tr>
</table>
