<h1>MLA Deadlines</h1>

<h2>November</h2>
<table width=100% border="0">
<tr>
<td align="right" valign="top" width="10%">1</td><td width="3%"> </td>
<td width="87%" valign="top">Deadline for  <a href="/conv_travel_assist">applications</a> from advanced graduate students, non-tenure-track faculty members, and regular and life members residing outside the United States and Canada for partial reimbursement for travel to the 2014 convention </td>
</tr>
</table>

<h2>December</h2>
<table width=100% border="0">
<tr>
<td align="right" valign="top" width="10%">3</td>
<td width="3%"> </td>
<td width="87%" valign="top">Registration deadline for the 2014 convention </td>
</tr>
<tr>
<td align="right" valign="top" width="10%">10</td>
<td width="3%"> </td>
<td width="87%" valign="top">Deadline for receipt of MLA election ballots (covering contests for second vice president, Executive Council, Delegate Assembly, and division and discussion group executive committees)</td>
</tr>
<tr>
<td align="right" valign="top" width="10%">12</td>
<td width="3%"> </td>
<td width="87%" valign="top">Deadline for receipt of 2014 convention addresses for “Who’s Here”</td>
</tr>
</table>

<h2>January</h2>
<table width=100% border="0">	
<tr>
<td align="right" valign="top" width="10%">31</td>
<td width="3%"> </td>
<td width="87%" valign="top">Deadline for receipt of proposals for honorary members and fellows</td>
</tr>
<tr>
<td align="right" valign="top" width="10%">31</td>
<td width="3%"> </td>
<td width="87%" valign="top">Deadline for receipt of proposals for recipients of the MLA Award for Lifetime Scholarly Achievement</td>
</tr>
</table>

<h2>February</h2>
<table width=100% border="0">	
<tr>
<td align="right" valign="top" width="10%">21</td>
<td width="3%"> </td>
<td width="87%" valign="top">Deadline for submission of convention calls for papers for the January 2015 convention</td>
</tr>
</table>

<h2>March</h2>
<table width=100% border="0">	
<tr>
<td align="right" valign="top" width="10%">1</td>
<td width="3%"> </td>
<td width="87%" valign="top">Deadline for submission of books competing for the 2014 James Russell Lowell Prize</td>
</tr>
</table>

<h2>April</h2>
<table width=100% border="0">	
<tr>
<td align="right" valign="top" width="10%">1</td>
<td width="3%"> </td>
<td width="87%" valign="top">Deadline for receipt of forum proposals for the January 2015 convention</td>
</tr>
<tr>
<td align="right" valign="top" width="10%">1</td>
<td width="3%"> </td>
<td width="87%" valign="top">Deadline for submission of books competing for the 2014 MLA Prize for a First Book and the 2014 Aldo and Jeanne Scaglione Prize for a Translation of a Literary Work</td>
</tr>
</table>

<h2>May</h2>
<table width=100% border="0">	
<tr>
<td align="right" valign="top" width="10%">1</td>
<td width="3%"> </td>
<td width="87%" valign="top">Deadline for receipt of entries for the 2014 competitions for works published in 2013 for the Katherine Singer Kovacs Prize; the Howard R. Marraro Prize; the William Sanders Scarborough Prize; and the Aldo and Jeanne Scaglione Prizes for Comparative Literary Studies, and French and Francophone Studies; for works published in 2012–13 for the Mina P. Shaughnessy Prize; the MLA Prize for a Bibliography, Archive, or Digital Project; the Aldo and Jeanne Scaglione Prize for Germanic Languages and Literatures; and the MLA Prize for Studies in Native American Literatures, Cultures, and Languages; for works published in 2010–13 for the Fenia and Yaakov Leviant Memorial Prize in Yiddish Literature</td>
</tr>
</table>
[[[comment]]]
<h2>June</h2>
<table width=100% border="0">	
<tr>
<td align="right" valign="top" width="10%">late June</td>
<td width="3%"> </td>
<td width="87%" valign="top">Notification of decisions on funding requests mailed to organizers who have applied for funds for speakers at the January 2014 convention
</td>
</tr>
<tr>
<td align="right" valign="top" width="10%">30</td>
<td width="3%"> </td>
<td width="87%" valign="top">Deadline for receipt of petitions for additional Delegate Assembly candidates (see MLA Constitution, <a href="/mla_constitution#a10E">article 10.E</a>); deadline for receipt of petitions for additional second vice president and Executive Council candidates (see MLA constitution, <a href="/mla_constitution#a6E">articles 6.E</a> and <a href="/mla_constitution#a8A2">8.A.2</a>)
</td>
</tr>
</table>

<h2>July</h2>
<table width=100% border="0">	
<tr>
<td align="right" valign="top" width="10%">8</td>
<td width="3%"> </td>
<td width="87%" valign="top">Deadline for receipt of departmental administrators’ statements for the 2013 Summer Supplement of the <i>Job Information List</i> (no solicitations will be made)</td>
</tr>
<tr>
<td align="right" valign="top" width="10%">early to mid July</td>
<td width="3%"> </td>
<td width="87%" valign="top">Program-copy proofs and information on dates, times, and places of January 2014 meetings sent by convention office to session organizers</td>
</tr>
<tr>
<td align="right" valign="top" width="10%">late July</td>
<td width="3%"> </td>
<td width="87%" valign="top">Deadline for receipt of corrections of Program-copy proofs for the November 2013 (Program) issue of <i>PMLA</i></td>
</tr>
</table>

<h2>August</h2>
<table width=100% border="0">	
<tr>
<td align="right" valign="top" width="10%">1</td>
<td width="3%"> </td>
<td width="87%" valign="top">Deadline for receipt of entries for the Scaglione Publication Award for a
Manuscript in Italian Literary Studies</td>
</tr>
</table>

<h2>September</h2>
<table width=100% border="0">	
<tr>
<td align="right" valign="top" width="10%">6</td>
<td width="3%"> </td>
<td width="87%" valign="top">Deadline for receipt of job listings for the October <i>Job Information List</i></td>
</tr>
</table>

<h2>October</h2>
<table width=100% border="0">	
<tr>
<td align="right" valign="top" width="10%">1</td>
<td width="3%"> </td>
<td width="87%" valign="top">Deadline for receipt of resolutions to be considered and voted on at the 2014 Delegate Assembly meeting (see MLA constitution, <a href="/mla_constitution#a9C10">articles 9.C.10</a> and <a href="/mla_constitution#a11C3">11.C.3–5</a>, and Delegate Assembly <a href="/delegate_assembly_by#7">bylaw 7</a>); deadline for receipt of motions to be placed on the agenda of the 2014 Delegate Assembly meeting (see MLA constitution, <a href="/mla_constitution#a9C11">article 9.C.11</a>, and Delegate Assembly <a href="/delegate_assembly_by#7">bylaw 7</a>)</td>
</tr>
<tr>
<td align="right" valign="top" width="10%">4</td>
<td width="3%"> </td>
<td width="87%" valign="top">Deadline for receipt of departmental administrators’ job listings for the December 2013 <i>Job Information List</i></td>
</tr>
</table>
[[[endcomment]]]

