<h1><I><I>MLA Bibliography</I></I> Fellowships</h1>
In 2003, the Executive Council approved a request by the Advisory Committee on the <I>MLA International Bibliography</I> for the creation of <I>MLA Bibliography</I> fellowships. These fellowships recognize the efforts of scholars who index materials on behalf of the <i>MLA International Bibliography</i>.

<h2>2014 Fellowships</h2>
Fellowships are for a three-year period, beginning 1 July 2014 and ending 30 June 2017. The MLA seeks scholars of any level of seniority interested in training as field bibliography fellows and able to deliver at least one hundred citations each year. This opportunity is open to potential as well as existing field bibliographers. The MLA will provide materials and training meetings at the annual convention. Fellows attending training sessions will have their conference registration fees waived. On completion of the fellowship, they will receive a stipend of $500 and a certificate during the awards ceremony at the MLA convention. It is hoped that recipients of these fellowships will continue submitting citations throughout their careers.

Applications for the 2014 field bibliography fellowships are due by 1 April 2014.

The basic criteria for application are
<ol><li>MLA membership</li>
	<li>Master's degree or PhD in a relevant field</li>
	<li>Access to scholarly material for indexing</li></ol>
Please submit a letter of request, including qualifications and reasons for applying for the fellowship, and a current résumé or CV. Materials may be sent to Helen Slavin, <i>MLA International Bibliography</i>, 26 Broadway, 3rd floor, New York, NY 10004-1789 (<A href="mailto:hslavin@mla.org">hslavin@mla.org</a>).

We are pleased to announce the recipients of the 2013 awards who will serve as fellows from 2013 to 2016. Congratulations to the following: 

<div class="top_indent">Joanna Epstein, Slavic librarian, Harvard University</div>
<div class="top_indent">John M. Jeep, professor, Miami University, Oxford</div>
<div class="top_indent">Zoé Jiménez-Corretjer, professor, University of Puerto Rico, Humacao </div>
<div class="top_indent">Eduardo Lolo, associate professor, Kingsborough Community College, City University of New York </div>
<div class="top_indent">Jeremiah Mercurio, professor, Haverford College</div>
<div class="top_indent">Sarah E. Sherren, instructor, Central Washington University </div>
<div class="top_indent">Pamela Slate Liggett, instructor, Tulsa Community College, OK </div>
<div class="top_indent">Demetrio S. Yocum, affiliate scholar, University of Notre Dame </div>

We are also pleased to announce the sixth <i>MLA Bibliography</i> fellowship award recipient, who has served for the three years 2009–12. The following scholar received a certificate of accomplishment and a check for $500 at the 2013 MLA Annual Convention during the MLA Awards Ceremony:

<div class="top_indent">Craig A. Meyer, postdoctoral fellow, Ohio University</div>
