<br/><i>The following policy statement grew out of a motion approved by the MLA Delegate Assembly in 2000.  At its May 2002 meeting, the MLA Executive Council approved the statement for publication in the 2002 issue of </i>Profession<i> and asked the MLA Committee on Academic Freedom and Professional Rights and Responsibilities to update the statement annually. These recommendations were most recently updated in April 2013.</i>
<h1>MLA Recommendation on a Minimum Wage for Full-Time Entry-Level Faculty Members</h1>
The minimum salary range for full-time appointments at the entry level should be at least $46,440 to $50,650 for those at the rank of instructor and at least $58,570 to $63,190 for those at the rank of beginning assistant professor. Health care benefits and shared contributions to a portable retirement plan should also be provided.
		
