<h1>The One Hundred Twenty-Four Presidents</h1>
<p><i>Until 2010, presidents' terms coincided with the calendar year. Since 2010, terms have continued through the close of the annual convention in January.</i></p>

<table cellspacing="2">


	<tr>
		<td align="right">1884–86</td> <td>&nbsp;</td> <td>Franklin Carter</td>
	</tr>
	<tr>
		<td align="right">1887–91</td> <td>&nbsp;</td> <td>James Russell Lowell</td>
	</tr>
	<tr>
		<td align="right">1892–93</td> <td>&nbsp;</td> <td>Francis A. March</td>
	</tr>
	<tr>
		<td align="right">1894</td> <td>&nbsp;</td> <td>A. Marshall Elliott (Sec. 1884–92)</td>
	</tr>
	<tr>
		<td align="right">1895</td> <td>&nbsp;</td> <td>James Morgan Hart</td>
	</tr>
	<tr>
		<td align="right">1896</td> <td>&nbsp;</td> <td>Calvin Thomas</td>
	</tr>
	<tr>
		<td align="right">1897</td> <td>&nbsp;</td> <td>Albert S. Cook</td>
	</tr>
	<tr>
		<td align="right">1898</td> <td>&nbsp;</td> <td>Alcée Fortier</td>
	</tr>
	<tr>
		<td align="right">1899</td> <td>&nbsp;</td> <td>H. C. G. von Jagemann</td>
	</tr>
	<tr>
		<td align="right">1900</td> <td>&nbsp;</td> <td>Thomas R. Price</td>
	</tr>
	<tr>
		<td align="right">1901</td> <td>&nbsp;</td> <td>Edward S. Sheldon</td>
	</tr>
	<tr>
		<td align="right">1902</td> <td>&nbsp;</td> <td>James W. Bright (Sec. 1893–1901)</td>
	</tr>
	<tr>
		<td align="right">1903</td> <td>&nbsp;</td> <td>George Hempl</td>
	</tr>
	<tr>
		<td align="right">1904</td> <td>&nbsp;</td> <td>George Lyman Kittredge</td>
	</tr>
	<tr>
		<td align="right">1905</td> <td>&nbsp;</td> <td>Francis B. Gummere</td>
	</tr>
	<tr>
		<td align="right">1906</td> <td>&nbsp;</td> <td>Henry Alfred Todd</td>
	</tr>
	<tr>
		<td align="right">1907</td> <td>&nbsp;</td> <td>Fred Newton Scott</td>
	</tr>
	<tr>
		<td align="right">1908</td> <td>&nbsp;</td> <td>Frederick M. Warren</td>
	</tr>
	<tr>
		<td align="right">1909</td> <td>&nbsp;</td> <td>Marion Dexter Learned</td>
	</tr>
	<tr>
		<td align="right">1910</td> <td>&nbsp;</td> <td>Brander Matthews</td>
	</tr>
	<tr>
		<td align="right">1911</td> <td>&nbsp;</td> <td>Lewis F. Mott</td>
	</tr>
	<tr>
		<td align="right">1912</td> <td>&nbsp;</td> <td>C. H. Grandgent (Sec. 1902–11)</td>
	</tr>
	<tr>
		<td align="right">1913</td> <td>&nbsp;</td> <td>Alexander R. Hohlfeld</td>
	</tr>
	<tr>
		<td align="right">1914</td> <td>&nbsp;</td> <td>Felix E. Schelling</td>
	</tr>
	<tr>
		<td align="right">1915</td> <td>&nbsp;</td> <td>Jefferson B. Fletcher</td>
	</tr>
	<tr>
		<td align="right">1916</td> <td>&nbsp;</td> <td>James Douglas Bruce</td>
	</tr>
	<tr>
		<td align="right">1917</td> <td>&nbsp;</td> <td>Kuno Francke</td>
	</tr>
	<tr>
		<td align="right">1918–19</td> <td>&nbsp;</td> <td>Edward C. Armstrong</td>
	</tr>
	<tr>
		<td align="right">1920</td> <td>&nbsp;</td> <td>John Matthews Manly</td>
	</tr>
	<tr>
		<td align="right">1921</td> <td>&nbsp;</td> <td>William Guild Howard (Sec. 1912–19)</td>
	</tr>
	<tr>
		<td align="right">1922</td> <td>&nbsp;</td> <td>Raymond Weeks</td>
	</tr>
	<tr>
		<td align="right">1923</td> <td>&nbsp;</td> <td>Oliver F. Emerson</td>
	</tr>
	<tr>
		<td align="right">1924</td> <td>&nbsp;</td> <td>William Allan Neilson</td>
	</tr>
	<tr>
		<td align="right">1925</td> <td>&nbsp;</td> <td>Hermann Collitz</td>
	</tr>
	<tr>
		<td align="right">1926</td> <td>&nbsp;</td> <td>T. Atkinson Jenkins</td>
	</tr>
	<tr>
		<td align="right">1927</td> <td>&nbsp;</td> <td>Ashley H. Thorndike</td>
	</tr>
	<tr>
		<td align="right">1928</td> <td>&nbsp;</td> <td>Hugo K. Schilling</td>
	</tr>
	<tr>
		<td align="right">1929</td> <td>&nbsp;</td> <td>William A. Nitze</td>
	</tr>
	<tr>
		<td align="right">1930</td> <td>&nbsp;</td> <td>Frederick Tupper</td>
	</tr>
	<tr>
		<td align="right">1931</td> <td>&nbsp;</td> <td>George Oliver Curme</td>
	</tr>
	<tr>
		<td align="right">1932</td> <td>&nbsp;</td> <td>C. Carroll Marden; Milton A. Buchanan</td>
	</tr>
	<tr>
		<td align="right">1933</td> <td>&nbsp;</td> <td>John Livingston Lowes</td>
	</tr>
	<tr>
		<td align="right">1934</td> <td>&nbsp;</td> <td>James Taft Hatfield</td>
	</tr>
	<tr>
		<td align="right">1935</td> <td>&nbsp;</td> <td>Colbert Searles</td>
	</tr>
	<tr>
		<td align="right">1936</td> <td>&nbsp;</td> <td>Carleton Brown (Sec. 1920–34)</td>
	</tr>
	<tr>
		<td align="right">1937</td> <td>&nbsp;</td> <td>Eduard Prokosch</td>
	</tr>
	<tr>
		<td align="right">1938</td> <td>&nbsp;</td> <td>J. S. P. Tatlock</td>
	</tr>
	<tr>
		<td align="right">1939</td> <td>&nbsp;</td> <td>H. Carrington Lancaster</td>
	</tr>
	<tr>
		<td align="right">1940</td> <td>&nbsp;</td> <td>Karl Young</td>
	</tr>
	<tr>
		<td align="right">1941</td> <td>&nbsp;</td> <td>John A. Walz</td>
	</tr>
	<tr>
		<td align="right">1942</td> <td>&nbsp;</td> <td>Frederick Morgan Padelford</td>
	</tr>
	<tr>
		<td align="right">1942–43</td> <td>&nbsp;</td> <td>Rudolph Schevill</td>
	</tr>
	<tr>
		<td align="right">1944</td> <td>&nbsp;</td> <td>Robert Herndon Fife</td>
	</tr>
	<tr>
		<td align="right">1945</td> <td>&nbsp;</td> <td>Fred N. Robinson</td>
	</tr>
	<tr>
		<td align="right">1946</td> <td>&nbsp;</td> <td>Ernest Hatch Wilkins</td>
	</tr>
	<tr>
		<td align="right">1947</td> <td>&nbsp;</td> <td>T. Moody Campbell</td>
	</tr>
	<tr>
		<td align="right">1948</td> <td>&nbsp;</td> <td>Percy W. Long (Sec. 1935–47)</td>
	</tr>
	<tr>
		<td align="right">1949</td> <td>&nbsp;</td> <td>George Sherburn</td>
	</tr>
	<tr>
		<td align="right">1950</td> <td>&nbsp;</td> <td>S. G. Morley</td>
	</tr>
	<tr>
		<td align="right">1951</td> <td>&nbsp;</td> <td>Archer Taylor</td>
	</tr>
	<tr>
		<td align="right">1952</td> <td>&nbsp;</td> <td>Albert C. Baugh</td>
	</tr>
	<tr>
		<td align="right">1953</td> <td>&nbsp;</td> <td>Hayward Keniston</td>
	</tr>
	<tr>
		<td align="right">1954</td> <td>&nbsp;</td> <td>LeRoy E. Kimball</td>
	</tr>
	<tr>
		<td align="right">1955</td> <td>&nbsp;</td> <td>Louise Pound</td>
	</tr>
	<tr>
		<td align="right">1956</td> <td>&nbsp;</td> <td>Gilbert Chinard</td>
	</tr>
	<tr>
		<td align="right">1957</td> <td>&nbsp;</td> <td>Taylor Starck</td>
	</tr>
	<tr>
		<td align="right">1958</td> <td>&nbsp;</td> <td>James Holly Hanford</td>
	</tr>
	<tr>
		<td align="right">1959</td> <td>&nbsp;</td> <td>William Riley Parker (Sec. 1947–56)</td>
	</tr>
	<tr>
		<td align="right">1960</td> <td>&nbsp;</td> <td>Henri M. Peyre</td>
	</tr>
	<tr>
		<td align="right">1961</td> <td>&nbsp;</td> <td>Henry W. Nordmeyer</td>
	</tr>
	<tr>
		<td align="right">1962</td> <td>&nbsp;</td> <td>Kemp Malone</td>
	</tr>
	<tr>
		<td align="right">1963</td> <td>&nbsp;</td> <td>Marjorie Nicolson</td>
	</tr>
	<tr>
		<td align="right">1964</td> <td>&nbsp;</td> <td>Morris Bishop</td>
	</tr>
	<tr>
		<td align="right">1965</td> <td>&nbsp;</td> <td>Howard M. Jones</td>
	</tr>
	<tr>
		<td align="right">1966</td> <td>&nbsp;</td> <td>Hermann J. Weigand</td>
	</tr>
	<tr>
		<td align="right">1967</td> <td>&nbsp;</td> <td>George Winchester Stone, Jr. (Sec. 1956–63)</td>
	</tr>
	<tr>
		<td align="right">1968</td> <td>&nbsp;</td> <td>Otis H. Green</td>
	</tr>
	<tr>
		<td align="right">1969</td> <td>&nbsp;</td> <td>Henry Nash Smith</td>
	</tr>
	<tr>
		<td align="right">1970</td> <td>&nbsp;</td> <td>Maynard Mack</td>
	</tr>
	<tr>
		<td align="right">1971</td> <td>&nbsp;</td> <td>Louis Kampf</td>
	</tr>
	<tr>
		<td align="right">1972</td> <td>&nbsp;</td> <td>Stuart Atkins</td>
	</tr>
	<tr>
		<td align="right">1973</td> <td>&nbsp;</td> <td>Florence Howe</td>
	</tr>
	<tr>
		<td align="right">1974</td> <td>&nbsp;</td> <td>John H. Fisher (Sec. 1963–71)</td>
	</tr>
	<tr>
		<td align="right">1975</td> <td>&nbsp;</td> <td>Germaine Brée</td>
	</tr>
	<tr>
		<td align="right">1976</td> <td>&nbsp;</td> <td>Northrop Frye</td>
	</tr>
	<tr>
		<td align="right">1977 </td> <td>&nbsp;</td> <td>Edith Kern</td>
	</tr>
	<tr>
		<td align="right">1978 </td> <td>&nbsp;</td> <td>Walter J. Ong</td>
	</tr>
	<tr>
		<td align="right">1979 </td> <td>&nbsp;</td> <td>Jean A. Perkins</td>
	</tr>
	<tr>
		<td align="right">1980 </td> <td>&nbsp;</td> <td>Helen H. Vendler</td>
	</tr>
	<tr>
		<td align="right">1981 </td> <td>&nbsp;</td> <td>Peter Demetz</td>
	</tr>
	<tr>
		<td align="right">1982 </td> <td>&nbsp;</td> <td>Wayne C. Booth</td>
	</tr>
	<tr>
		<td align="right">1983 </td> <td>&nbsp;</td> <td>Mary Ann Caws</td>
	</tr>
	<tr>
		<td align="right">1984 </td> <td>&nbsp;</td> <td>Carolyn G. Heilbrun</td>
	</tr>
	<tr>
		<td align="right">1985 </td> <td>&nbsp;</td> <td>Theodore J. Ziolkowski</td>
	</tr>
	<tr>
		<td align="right">1986 </td> <td>&nbsp;</td> <td>J. Hillis Miller</td>
	</tr>
	<tr>
		<td align="right">1987 </td> <td>&nbsp;</td> <td>Winfred P. Lehmann</td>
	</tr>
	<tr>
		<td align="right">1988 </td> <td>&nbsp;</td> <td>Barbara Herrnstein Smith</td>
	</tr>
	<tr>
		<td align="right">1989 </td> <td>&nbsp;</td> <td>Victor Brombert</td>
	</tr>
	<tr>
		<td align="right">1990 </td> <td>&nbsp;</td> <td>Catharine R. Stimpson</td>
	</tr>
	<tr>
		<td align="right">1991 </td> <td>&nbsp;</td> <td>Mario J. Valdés</td>
	</tr>
	<tr>
		<td align="right">1992 </td> <td>&nbsp;</td> <td>Houston A. Baker, Jr.</td>
	</tr>
	<tr>
		<td align="right">1993 </td> <td>&nbsp;</td> <td>Elaine Marks</td>
	</tr>
	<tr>
		<td align="right">1994 </td> <td>&nbsp;</td> <td>Patricia Meyer Spacks</td>
	</tr>
	<tr>
		<td align="right">1995</td> <td>&nbsp;</td> <td>Sander L. Gilman</td>
	</tr>
	<tr>
		<td align="right">1996</td> <td>&nbsp;</td> <td>Sandra M. Gilbert</td>
	</tr>
	<tr>
		<td align="right">1997</td> <td>&nbsp;</td> <td>Herbert Lindenberger</td>
	</tr>
	<tr>
		<td align="right">1998</td> <td>&nbsp;</td> <td>Elaine Showalter</td>
	</tr>
	<tr>
		<td align="right">1999</td> <td>&nbsp;</td> <td>Edward W. Said</td>
	</tr>
	<tr>
		<td align="right">2000</td> <td>&nbsp;</td> <td>Linda Hutcheon</td>
	</tr>
	<tr>
		<td align="right">2001</td> <td>&nbsp;</td> <td>Sylvia Molloy</td>
	</tr>
	<tr>
		<td align="right">2002</td> <td>&nbsp;</td> <td>Stephen Greenblatt</td>
	</tr>
	<tr>
		<td align="right">2003</td> <td>&nbsp;</td> <td>Mary Louise Pratt</td>
	</tr>
	<tr>
		<td align="right">2004</td> <td>&nbsp;</td> <td>Robert Scholes</td>
	</tr>
	<tr>
		<td align="right">2005</td> <td>&nbsp;</td> <td>Domna C. Stanton</td>
	</tr>
	<tr>
		<td align="right">2006</td> <td>&nbsp;</td> <td>Marjorie Perloff</td>
	</tr>
	<tr>
		<td align="right">2007</td> <td>&nbsp;</td> <td>Michael Holquist</td>
	</tr>
	<tr>
		<td align="right">2008</td> <td>&nbsp;</td> <td>Gerald Graff</td>
	</tr>
	<tr>
		<td align="right">2009</td> <td>&nbsp;</td> <td>Catherine Porter</td>
	</tr>
	<tr>
		<td align="right">2010–11</td> <td>&nbsp;</td> <td>Sidonie Smith</td>
	</tr>
	<tr>
		<td align="right">2011–12</td> <td>&nbsp;</td> <td>Russell A. Berman</td>
	</tr>
	<tr>
		<td align="right">2012–13</td> <td>&nbsp;</td> <td>Michael Bérubé</td>
	</tr>
	<tr>
		<td align="right">2013–14</td> <td>&nbsp;</td> <td>Marianne Hirsch</td>
	</tr>
	<tr>
		<td align="right">2014–15</td> <td>&nbsp;</td> <td>Margaret W. Ferguson</td>
	</tr>
</table>
