<h1><I>MLA Directory of Periodicals</i></h1>
The <I>MLA Directory of Periodicals</i> is available electronically from all online vendors of the <I>MLA International Bibliography</i> and to MLA members <a href="/dop">here</a>.  It contains information about the journals and book series most likely to publish material related to language and literature.  The data, collected by MLA staff members and a network of bibliographers, are sent biannually to the editors of the journals and series for verification.  Data range from such information as when the publication began to the restrictions placed on contributors, languages in which the periodical's contents are published, peer-review status, editorial personnel, sponsoring organizations, and subjects covered.  

< <a href="/howtouse_mlabiblio">Start</a> | <a href="/bibliovendors_guidesperiod">Continue</a> >
