<h1>2013 MLA Convention Sessions of Interest to Graduate Student Members</h1>
A lounge where graduate students can meet for discussion or relaxation will be located in the Sheraton Boston (Exeter, 3rd floor).

The Job Information Service will operate a center at the Westin Copley Place (American Ballroom, 4th floor). The Association of Departments of English and the Association of Departments of Foreign Languages will arrange times for experienced faculty members to offer one-on-one counseling to job seekers in the center.

The CSGSP encourages graduate student members attending the convention to comment on <i>Twitter</i> about sessions of interest to graduate students. Please use the hashtag #mla13 for all 2013 convention tweets and add tags such as #mlagrads and session numbers (e.g., #S394).

Officers and experienced editors who are members of the <a href="http://www.celj.org/node/1829" target="_blank">Council of Editors of Learned Journals</a> (CELJ) will be available on 4 and 5 January from 9:00 a.m. to 1:00 p.m. in Jamaica Pond, Sheraton, to provide informal information and private consultations about what to expect in journal submission, peer review, and publishing processes. Beginning scholars (graduate students and entry-level professors) are particularly welcome.

Sessions of particular interest to graduate students include the following:

<ul class="program_entry_list">
	<li class="program_entry"><a href="/program_details?prog_id=4&year=2013">4. Preconvention Workshop for Academic Job Seekers in Foreign Languages</a><br /><i>Thursday, 3 January, 11:45 a.m.–1:15 p.m., St. George A-C, Westin Copley Place</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=6&year=2013">6. Preconvention Workshop for Job Seekers in English</a><br /><i>Thursday, 3 January, 11:45 a.m.–1:15 p.m., Essex North Center and North West, Westin Copley Place
</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=21&year=2013">21. Avenues of Access for Recent PhDs</a><br /><i>Thursday, 3 January, 12:00 noon–1:15 p.m., Fairfax B, Sheraton</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=85&year=2013">85. Career Opportunities in Two-Year Colleges</a><br /><i>Thursday, 3 January, 3:30–4:45 p.m., Independence West, Sheraton</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=86&year=2013">86. Owing: On Student (and Other) Debt</a><br /><i>Thursday, 3 January, 3:30–4:45 p.m., Fairfax A, Sheraton</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=108&year=2013">108. Redefining Mentorship, Redefining the Professional</a><br /><i>Thursday, 3 January, 3:30–4:45 p.m., Back Bay A, Sheraton</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=110&year=2013">110. The Categories We Live By: Departments, Job Seekers, and the Organization of Knowledge</a><br /><i>Thursday, 3 January, 3:30–4:45 p.m., Back Bay D, Sheraton</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=112&year=2013">112. The Presidential Forum: Avenues of Access: Non-Tenure-Track Faculty Members and American Higher Education</a><br /><i>Thursday, 3 January, 5:15–7:00 p.m., Constitution Ballroom, Sheraton</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=114&year=2013">114. Marketing Your PhD in Literature and Languages: Languages for Special Purposes</a><br /><i>Thursday, 3 January, 5:15–6:30 p.m., 202, Hynes</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=149&year=2013">149. Demonstration Interviews for Job Seekers in Foreign Languages</a><br /><i>Thursday, 3 January, 7:00–8:15 p.m., 203, Hynes</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=209&year=2013">209. Humanities in the Twenty-First Century: Innovation in Research and Practice</a><br /><i>Friday, 4 January, 8:30–9:45 a.m., Commonwealth, Sheraton</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=213&year=2013">213. Mentoring: Its Significance and Impact on Degree Completion and Tenure Attainment</a><br /><i>Friday, 4 January, 8:30–9:45 a.m., Independence West, Sheraton</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=214&year=2013">214. Terminal: Examining Master's Degrees</a><br /><i>Friday, 4 January, 8:30–9:45 a.m., Republic Ballroom, Sheraton</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=215&year=2013">215. Myth-Busting the Job Search</a><br /><i>Friday, 4 January, 8:30–9:45 a.m., Gardner, Sheraton</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=222&year=2013">222. The Twenty-First-Century MLA: Reimagining the Order of Things</a><br /><i>Friday, 4 January, 10:15 a.m.–12:00 noon, Republic Ballroom, Sheraton</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=251&year=2013">251. Open Hearing of the MLA Delegate Assembly</a><br /><i>Friday, 4 January, 10:15–11:30 a.m., Fairfax B, Sheraton</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=270&year=2013">270. How Did I Get Here? Our “Altac” Jobs</a><br /><i>Friday, 4 January, 12:00 noon–1:15 p.m., Back Bay B, Sheraton</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=295&year=2013">295. Getting Funded in the Humanities: An NEH Workshop</a><br /><i>Friday, 4 January, 1:30–3:30 p.m., 210, Hynes</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=319&year=2013">319. The Future of the PhD in Postsecondary Teaching</a><br /><i>Friday, 4 January, 1:45–3:00 p.m., 203, Hynes</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=332&year=2013">332. The Experience of Class in the Academy</a><br /><i>Friday, 4 January, 1:45–3:00 p.m., 201, Hynes</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=353&year=2013">353. Avenues of Access: Digital Humanities and the Future of Scholarly Communication</a><br /><i>Friday, 4 January, 3:30–4:45 p.m., Republic Ballroom, Sheraton</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=354&year=2013">354. Gender and Contingent Labor</a><br /><i>Friday, 4 January, 3:30–4:45 p.m., The Fens, Sheraton</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=394&year=2013">394. Reforming Doctoral Study</a><br /><i>Friday, 4 January, 5:15–6:30 p.m., Back Bay D, Sheraton</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=408&year=2013">408. The Presidential Address</a><br /><i>Friday, 4 January, 6:45 p.m., Constitution Ballroom, Sheraton</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=438&year=2013">438. Non-Tenure-Track Faculty Members in the Modern Languages: Issues and Directions</a><br /><i>Saturday, 5 January, 8:30–9:45 a.m., Liberty A, Sheraton</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=469&year=2013">469. Leaders on the Right Track in the Academy</a><br /><i>Saturday, 5 January, 10:15–11:30 a.m., Fairfax A, Sheraton</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=472&year=2013">472. LGBTQI Graduate Students and Academia</a><br /><i>Saturday, 5 January, 10:15–11:30 a.m., Beacon D, Sheraton</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=524&year=2013">524. Thinking Success outside the Classroom: The PhD as Preparation for Diverse Career Opportunities</a><br /><i>Saturday, 5 January, 12:00 noon–1:15 p.m., 209, Hynes</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=534&year=2013">534. Using Your Language Proficiency and Cultural Expertise in a Federal Government Career</a><br /><i>Saturday, 5 January, 1:30–3:30 p.m., 210, Hynes</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=540&year=2013">540. The Third Degree: Joint Programs in Languages, Literature, and Libraries</a><br /><i>Saturday, 5 January, 1:45–3:00 p.m., Back Bay D, Sheraton</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=544&year=2013">544. Labor Negotiations: Family Medical Leave across the Life Course</a><br /><i>Saturday, 5 January, 1:45–3:00 p.m., Back Bay A, Sheraton</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=570&year=2013">570. Avenues of Access: The State of Disability Studies</a><br /><i>Saturday, 5 January, 1:45–3:00 p.m., Republic Ballroom, Sheraton</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=578&year=2013">578. Private-Sector Careers and the Language and Literature PhD</a><br /><i>Saturday, 5 January, 3:30–4:45 p.m., 208, Hynes</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=619&year=2013">619. Program Discontinuance on the Rise?</a><br /><i>Saturday, 5 January, 5:15–6:30 p.m., Jefferson, Sheraton</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=626&year=2013">626. How to Get Published in <i>PMLA</i>: Any Language, Any Period, Any Tradition</a><br /><i>Saturday, 5 January, 5:15–6:30 p.m., 306, Hynes</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=627&year=2013">627. Professional Responsibility in the Era of Privatization</a><br /><i>Saturday, 5 January, 5:15–6:30 p.m., Fairfax A, Sheraton</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=645&year=2013">645. MLA Awards Ceremony</a><br /><i>Saturday, 5 January, 6:45 p.m., Constitution Ballroom, Sheraton</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=694&year=2013">694. "This Is Not the Ivy Tower": Scholarship at Community Colleges</a><br /><i>Sunday, 6 January, 8:30–9:45 a.m., Liberty B, Sheraton</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=749&year=2013">749. Rebooting Graduate Training: Collaboration, Computing, and the New Thesis</a><br /><i>Sunday, 6 January, 12:00 noon–1:15 p.m., Hampton, Sheraton</i></li>
</ul>
