<style>
blockquote {font-style: italic}
.linked {margin-left: 40px;}
</style>

<h1>Events of Interest to Graduate Students at the 2014 MLA Annual Convention</h1>
<p><i>Graduate Student Lounge</i>. A lounge where graduate students can meet for discussion and relaxation, to be located in the Chicago Marriott (River North, 2nd floor), will be open at the following times:</p>
<blockquote style="font-style: normal;">
	Thursday, 9 January: 12:00 noon–7:00 p.m. <br>
	Friday, 10 January: 8:00 a.m.–7:00 p.m. <br>
	Saturday, 11 January: 8:00 a.m.–7:00 p.m. <br>
	Sunday, 12 January: 8:00 a.m.–12:00 noon </blockquote>
<p>Members of the Committee on the Status of Graduate Students in the Profession (CSGSP) will welcome graduate students in the lounge on Friday, 10 January, from 5:15 to 6:30 p.m. There will be an opportunity afterward to attend the presidential address and reception or to go to dinner together.</p>
<p><i>Blog</i>. The CSGSP has created a blog, <a href="http://mlagrads.commons.mla.org/">MLAgrads</a>, covering the annual convention, the job market, and other issues relevant to graduate student members of the MLA. </p>
<p><i>Job Information Service</i>. The Job Information Service will operate a center at the Fairmont (Imperial Ballroom, level B2). The Association of Departments of English and the Association of Departments of Foreign Languages will arrange times when experienced faculty members will offer one-on-one counseling to job seekers in the center.</p>
<p><i>Social networking</i>. The CSGSP encourages attendees to tweet sessions using the convention hashtag (#mla14), session hashtags (e.g., #s148), and graduate student hashtag (#mlagrads).</p>
<p><i>Council of Editors of Learned Journals</i>. Officers and experienced editors who are members of the Council of Editors of Learned Journals (CELJ) will be available to provide informal information and private consultations on 10 and 11 January from 9:00 a.m. to 1:00 p.m. in Tennessee, Sheraton Chicago. Please visit <a href="http://www.celj.org/node/15053">http://www.celj.org/node/15053</a> for more information. Those interested in meeting with a CELJ editor at the MLA convention should contact Richard Kopley at <a href="mailto:rxk3@psu.edu">rxk3@psu.edu</a>.
</p>
<p><i>Sessions</i>. Sessions of particular interest to graduate students include the following:
<ul class="program_entry_list">
	<li class="program_entry">
		<a href="/program_details?prog_id=4&year=2014">4. Preconvention Workshop for Job Seekers in English</a>
		<blockquote>Thursday, 9 January, 11:45 a.m.–1:15 p.m., Gold, Fairmont Chicago</blockquote>
	<li class="program_entry">
		<a href="/program_details?prog_id=5&year=2014">5. Preconvention Workshop for Job Seekers in Foreign Languages</a>
		<blockquote>Thursday, 9 January, 11:45 a.m.–1:15 p.m., State, Fairmont Chicago</blockquote>
	</li>
	<li class="program_entry">
		<a href="/program_details?prog_id=42&year=2014">42. Using Your Language Proficiency and Cultural Expertise in a Federal Government Career</a>
		<blockquote>Thursday, 9 January, 1:45–3:45 p.m., Gold, Fairmont Chicago</blockquote>
	</li>	
	<li class="program_entry">
		<a href="/program_details?prog_id=66&year=2014">66. The Semipublic Intellectual? Academia, Criticism, and the Internet Age</a>
		<blockquote>Thursday, 9 January, 1:45–3:00 p.m., Chicago H, Chicago Marriott</blockquote>
	</li>
	<li class="program_entry">
		<a href="/program_details?prog_id=119&year=2014">119. Open Hearing on the Future of the MLA Divisions and Discussion Groups</a>
		<blockquote>Thursday, 9 January, 5:15–6:30 p.m., Chicago VI, Sheraton Chicago</blockquote>
	</li>
	<li class="program_entry">
		<a href="/program_details?prog_id=148&year=2014">148. Myth Busting the Job Search</a>
		<blockquote>Thursday, 9 January, 5:15–6:30 p.m., Chicago F, Chicago Marriott</blockquote>
	</li>
	<li class="program_entry">
		<a href="/program_details?prog_id=149&year=2014">149. Online Courses: Challenges and Opportunities</a>
		<blockquote>Thursday, 9 January, 5:15–6:30 p.m., Addison, Chicago Marriott</blockquote>
	</li>
	<li class="program_entry">
		<a href="/program_details?prog_id=173&year=2014">173. Beyond the Protomonograph: New Models for the Dissertation</a>
		<blockquote>Thursday, 9 January, 7:00–8:15 p.m., Northwestern–Ohio State, Chicago Marriott</blockquote>
	</li>
	<li class="program_entry">
		<a href="/program_details?prog_id=182&year=2014">182. Demonstration Interviews for Job Seekers in Foreign Languages</a>
		<blockquote>Thursday, 9 January, 7:00–8:15 p.m., Michigan A, Sheraton Chicago</blockquote>
	</li>
	<li class="program_entry">
		<a href="/program_details?prog_id=196&year=2014">196. Write on Your Own Time: Scholarship and Non-Tenure-Track Faculty Members</a>
		<blockquote>Friday, 10 January, 8:30–9:45 a.m., Kane, Chicago Marriott</blockquote>
	</li>
	<li class="program_entry">
		*<a href="/program_details?prog_id=218&year=2014">218. Rethinking the Seminar Paper</a>
		<blockquote>Friday, 10 January, 8:30–9:45 a.m., Chicago H, Chicago Marriott</blockquote>
	</li>
	<li class="program_entry">
		<a href="/program_details?prog_id=255&year=2014">255. Open Hearing of the MLA Delegate Assembly</a>
		<blockquote>Friday, 10 January, 10:15–11:30 a.m., Armitage, Chicago Marriott</blockquote>
	</li>
	<li class="program_entry">
		<a href="/program_details?prog_id=R002&year=2014">Navigating the Job Market</a>
		<blockquote>Friday, 10 January, 11:35–11:55 a.m., Exhibit Hall Theater, Sheraton Chicago</blockquote>
	</li>
	<li class="program_entry">
		<a href="/program_details?prog_id=278&year=2014">278. The Creative-Critical Dissertation</a>
		<blockquote>Friday, 10 January, 12:00 noon–1:15 p.m., Great America, Chicago Marriott</blockquote>
	</li>
	<li class="program_entry">
		<a href="/program_details?prog_id=290&year=2014">290. Reforming the Literature PhD</a>
		<blockquote>Friday, 10 January, 12:00 noon–1:15 p.m., Chicago X, Sheraton Chicago</blockquote>
	</li>
	<li class="program_entry">
		<a href="/program_details?prog_id=307&year=2014">307. Getting Funded in the Humanities: An NEH Workshop</a>
		<blockquote>Friday, 10 January, 1:30–3:30 p.m., Chicago VIII, Sheraton Chicago</blockquote>
	</li>
	<li class="program_entry">
		<a href="/program_details?prog_id=352&year=2014">352. Graduate Student Perspectives on Reforming Doctoral Study</a>
		<blockquote>Friday, 10 January, 3:30–4:45 p.m., Ontario, Sheraton Chicago</blockquote>
	</li>
	<li class="program_entry">
		<a href="/program_details?prog_id=R005&year=2014">How You Can Use the <i>MLA Commons</i></a>
		<blockquote>Friday, 10 January, 4:50–5:10 p.m., Exhibit Hall Theater, Sheraton Chicago</blockquote>
	</li>
	<li class="program_entry">
		<a href="/program_details?prog_id=421&year=2014">421. The Presidential Address</a>
		<blockquote>Friday, 10 January, 6:45 p.m., Sheraton IV–V, Sheraton Chicago</blockquote>
	</li>
	<li class="program_entry">
		<a href="/program_details?prog_id=439&year=2014">439. Translation and Interpreting: Flexible Career Paths in Vulnerable Times</a>
		<blockquote>Saturday, 11 January, 8:30–9:45 a.m., Chicago IX, Sheraton Chicago</blockquote>
	</li>
	<li class="program_entry">
		<a href="/program_details?prog_id=471&year=2014">471. Who Benefits? Competing Agendas and Ethics in Graduate Education</a>
		<blockquote>Saturday, 11 January, 8:30–9:45 a.m., Chicago X, Sheraton Chicago</blockquote>
	</li>
	<li class="program_entry">
		<a href="/program_details?prog_id=R006&year=2014">How You Can Use the <i>MLA Commons</i></a>
		<blockquote>Saturday, 11 January, 9:50–10:10 a.m., Exhibit Hall Theater, Sheraton Chicago</blockquote>
	</li>
	<li class="program_entry">
		<a href="/program_details?prog_id=504&year=2014">504. Comparative Literature: The Next Ten Years</a>
		<blockquote>Saturday, 11 January, 10:15–11:30 a.m., Sheraton I, Sheraton Chicago</blockquote>
	</li>
	<li class="program_entry">
		<a href="/program_details?prog_id=521&year=2014">521. Raising the Bar: Academic Rigor in the Language Classroom</a>
		<blockquote>Saturday, 11 January, 12:00 noon–1:15 p.m., Colorado, Sheraton Chicago</blockquote>
	</li>
	<li class="program_entry">
		<a href="/program_details?prog_id=528&year=2014">528. Digital Humanities from the Ground Up</a>
		<blockquote>Saturday, 11 January, 12:00 noon–1:15 p.m., Chicago VIII, Sheraton Chicago</blockquote>
	</li>
	<li class="program_entry">
		<a href="/program_details?prog_id=533&year=2014">533. Career Opportunities in English and Foreign Languages at Two-Year Colleges</a>
		<blockquote>Saturday, 11 January, 12:00 noon–1:15 p.m., Addison, Chicago Marriott</blockquote>
	</li>
	<li class="program_entry">
		<a href="/program_details?prog_id=544&year=2014">544. MLA Delegate Assembly</a>
		<blockquote>Saturday, 11 January, 1:00 p.m., Grand III, Chicago Marriott</blockquote>
	</li>
	<li class="program_entry">
		<a href="/program_details?prog_id=571&year=2014">571. Off the Tenure Track, on Our Radar</a>
		<blockquote>Saturday, 11 January, 1:45–3:00 p.m., Belmont, Chicago Marriott</blockquote>
	</li>
	<li class="program_entry">
		<a href="/program_details?prog_id=599&year=2014">599. The Praxis Network: Rethinking Humanities Education, Together and in Public</a>
		<blockquote>Saturday, 11 January, 3:30–4:45 p.m., Arkansas, Sheraton Chicago</blockquote>
	</li>
	<li class="program_entry">
		**<a href="/program_details?prog_id=611&year=2014">611. Exile, Death, Sacrifice: The Poetics of Suffering in Francophone Literature</a> 
		<blockquote>Saturday, 11 January, 3:30–4:45 p.m., Columbus, Sheraton Chicago</blockquote>
	</li>
	<li class="program_entry">
		<a href="/program_details?prog_id=621&year=2014">621. Federal Government Opportunities in Foreign Languages for Language Instructors and Program Representatives</a>
		<blockquote>Saturday, 11 January, 3:30–5:30 p.m., Chicago X, Sheraton Chicago</blockquote>
	</li>
	<li class="program_entry">
		*<a href="/program_details?prog_id=656&year=2014">656. Time to Degree: Is a Faster PhD a Better PhD?</a> 
		<blockquote>Saturday, 11 January, 5:15–6:30 p.m., Belmont, Chicago Marriott</blockquote>
	</li>
	<li class="program_entry">
		<a href="/program_details?prog_id=660&year=2014">660. MLA Awards Ceremony</a>
	<blockquote>Saturday, 11 January, 6:45 p.m., Sheraton IV–V, Sheraton Chicago</blockquote>
	</li>
	<li class="program_entry">
		<a href="/program_details?prog_id=703&year=2014">703. Strength in Numbers: Unionization as a Strategy for Reducing Faculty Vulnerability</a>
	<blockquote>Sunday, 12 January, 8:30–9:45 a.m., Sheffield, Chicago Marriott</blockquote>
	</li>
	<li class="program_entry">
		**<a href="/program_details?prog_id=740&year=2014">740. Negotiating, Compromising: Being a Graduate Student</a> 
	<blockquote>Sunday, 12 January, 10:15–11:30 a.m., Parlor G, Sheraton Chicago</blockquote>
	</li>
	<li class="program_entry">
		<a href="/program_details?prog_id=753&year=2014">753. Composition in and as the Humanities</a>
	<blockquote>Sunday, 12 January, 12:00 noon–1:15 p.m., Addison, Chicago Marriott</blockquote>
	</li>
	<li class="program_entry">
	<a href="/program_details?prog_id=757&year=2014">757. Alt-Ac Work and Gender: It's Not Plan B</a>
	<blockquote>Sunday, 12 January, 12:00 noon–1:15 p.m., Chicago A–B, Chicago Marriott</blockquote>
	</li>
	<li class="program_entry">
		<a href="/program_details?prog_id=783&year=2014">783. How We Talk about Contingent Faculty Members</a>
	<blockquote>Sunday, 12 January, 1:45–3:00 p.m., Lincolnshire, Chicago Marriott</blockquote>
	</li>
	<li class="program_entry">
		<a href="/program_details?prog_id=788&year=2014">788. Back Up Your Work: Conceptualizing Writing Support for Graduate Students</a>
	<blockquote>Sunday, 12 January, 1:45–3:00 p.m., Grace, Chicago Marriott</blockquote>
	</li>
</ul>	

*Program arranged by the MLA Committee on the Status of Graduate Students in the Profession.<br>
**Program arranged by the Graduate Student Caucus. </p>
