<h1>When will MLA publications follow the guidelines in the third edition of the <I>MLA Style Manual</i>?</h1>
MLA publications will begin to follow the guidelines in the third edition of the <I>MLA Style Manual </i>in January 2009. Authors and editors preparing manuscripts that are likely to be published in 2009 or thereafter should follow the guidelines in the third edition. For works expected to be published in 2008, follow the documentation guidelines in the sixth edition of the <i>MLA Handbook for Writers of Research Papers</i>. 
