<h1>What is new in the third edition of the <I>MLA Style Manual</i>?</h1>
The <I>MLA Style Manual and Guide to Scholarly Publishing</i> is the association's guide for graduate students, scholars, and professional writers. The third edition builds on material in the first two editions, yet it is also fully updated and contains significant revisions. The volume presents detailed, current advice on the review process used by scholarly journals and presses; an up-to-the-minute chapter on copyright, fair use, contracts, and other legal issues; revised instructions for the preparation of figures, tables, and captions; new guidelines on preparing electronic files and submitting them to a publisher; and an expanded discussion of issues to consider in the electronic submission of a dissertation. Following common practice, the <I>MLA Style Manual</i> now assumes the use of italic type in manuscripts for text meant to be italicized in publication.

This edition of the <I>MLA Style Manual</i> also presents a significant revision of MLA documentation style. Notable changes include the following:
<ul><li>The addition of the medium of publication as an element in entries in the list of works cited</li>
	<li>Inclusion of the issue as well as the volume number (when available) in every entry for a journal article in the list of works cited</li>
	<li>Simplified guidelines for citing works published on the Web (see 6.7)</li>
	<li>New guidelines for citing digital files, graphic narratives, and press releases	</li>
	<li>Additional refinements aimed at simplifying and standardizing the formats for entries in the list of works cited</li></ul>
The preface discusses the rationale for and range of revisions, and chapter 6 ("Documentation: Preparing the List of Works Cited") provides a comprehensive description of the documentation style used in MLA publications. Undergraduate and high school students should follow guidelines in the seventh edition of the <a href="<@$store_base_url>CID24/PID363"><I>MLA Handbook for Writers of Research Papers</i></a>. 
