<h1>Modern Language Association Prize in United States Latina and Latino and Chicana and Chicano Literary and Cultural Studies</h1>
Function: Selects the winner of the prize for an outstanding scholarly study in any language of United States Latina and Latino or Chicana and Chicano literature or culture by a member of the Modern Language Association. Committee members are appointed by the Committee on Honors and Awards. Because of recusals, some members may not participate in some judging rounds. Queries for the committee or about the prize should be sent to <a href="mailto:awards@mla.org">awards@mla.org</a>.

Arturo Arias, 2013–15
Sheila Marie Contreras, 2011–13
Laura Anne Lomas, 2011–13; 2013 (Ch.)
