<h1>Meetings Open to the Public</h1>

<h2>Forums</h2>

<p>The Presidential Forum: Lives and Archives: Finding, Framing, and Circulating Narrated Lives Now (<a href="/conv_listings_detail&prog_id=F001A">207</a>)
<BR>
<i>Linked Sessions:</i> 
<BR>&nbsp;&nbsp;Lives and Archives: Giving, Taking, and Circulating Testimony (<a href="/conv_listings_detail&prog_id=W001A">336</a>)
<BR>&nbsp;&nbsp;Lives and Archives in Graphic and Digital Modes (<a href="/conv_listings_detail&prog_id=W001B">505</a>)
</p>


<p>Alliances, Collaborations, Common Ground: The Modern Language Association and the Association of Literary Critics, Scholars, and Writers in Conversation (<a href="/conv_listings_detail&prog_id=F002A">418</a>)
<BR>
<i>Linked Sessions:</i>
<BR>&nbsp;&nbsp;A Conversation about the &ldquo;Exceptionalism&rdquo; of Jane Austen&rsquo;s <I>Pride and Prejudice</I> (<a href="/conv_listings_detail&prog_id=W002A">555</a>)
<BR>&nbsp;&nbsp;Our Distinctions and Our Associations, What We Can Do Together (<a href="/conv_listings_detail&prog_id=W002B">691</a>)
</p>

<p>Writing with Eve: The Legacy of Eve Kosofsky Sedgwick (<a href="/conv_listings_detail&prog_id=F003A">86</a>) 
<BR>
<i>Linked Sessions:</i>
<BR>&nbsp;&nbsp;Sedgwick&rsquo;s Endurance: Writing with Loss (<a href="/conv_listings_detail&prog_id=W003A">366</a>)
<BR>&nbsp;&nbsp;Queer Gothic: The Space-Time of Sedgwick&rsquo;s Nineteenth Century (<a href="/conv_listings_detail&prog_id=W003B">598</a>)
</p>


<h2 id="specialevents">Special Events</h2>

<p>Aesthetic Realism and the Literary Cinema of Ken Kimmelman (<a href="/conv_listings_detail&prog_id=E008A">401</a>)
</p>

<p><i>The Grand Piano, An Experiment in Collective Autobiography</i>: A Reading and Discussion (<a href="/conv_listings_detail&prog_id=E015A">403</a>)
</p>

<p>The Stories We Bring: A Poetry Reading by Two Poets of the African Diaspora (<a href="/conv_listings_detail&prog_id=E012A">416</a>)
</p>

<p>A Memorial Screening: Eric Rohmer’s <i>Love in the Afternoon</i> (<a href="/conv_listings_detail&prog_id=E005A">661</a>)
</p>


<h2>Creative Conversations</h2>

<p>The Museum of Jurassic Technology: A Creative Conversation with David Wilson (<a href="/conv_listings_detail&prog_id=S191">469</a>)
</p>

<p>Florence Howe and Feminist Studies: A Creative Conversation (<a href="/conv_listings_detail&prog_id=S618">658</a>)
</p>

<p>John Tranter and <i>Jacket Magazine</i>: A Creative Conversation (<a href="/conv_listings_detail&prog_id=S764">660</a>)
</p>


<br>
&nbsp; 
<p>
	<a href="/conv_listings_type">&lt; Search by meeting type again</a> 
<p>
	&nbsp; 
<p>
	<a href="/conv_listings_part">Search by Participant</a>&nbsp;|&nbsp;<a href="/conv_listings_sub">Search by Subject</a>&nbsp;|&nbsp;<a href="/conv_listings_type">Search by Meeting Type</a>&nbsp;|&nbsp;<a href="/conv_listings_kwd">Search by Keyword</a> 
	</p>
