<h1>National Center for Education Statistics UNITID</h1>
When possible, institutions in the enrollments survey have UNITID numbers from the National Center for Education Statistics attached; users of the complete data set will find UNITID numbers in the field NCES_ID. The numbers come from the 2011 IPEDS Institutional Characteristics Survey or from earlier surveys if they are unavailable in the 2011 survey (last accessed 27 July 2012 at <a href="http://nces.ed.gov/ipeds/datacenter/DataFiles.aspx" target="_blank">http://nces.ed.gov/ipeds/datacenter/DataFiles.aspx</a>). When UNITID numbers were not available in any of the Institutional Characteristics surveys, we created numbers for the institutions. To make it clear that they are not NCES-assigned numbers, the first digit of these numbers is different from the NCES-assigned numbers. The numbers for merged institutions start with 8, and the numbers for closed institutions (and others with no numbers) start with 9. Aggregate enrollments for all institutions in the United States are numbered 777777.

The UNITID can be used to link the historical enrollments data with government data for the institutions in our survey. We used the UNITID to link institutions that merged or changed names.
