<H1><font color="red">TO BE PUBLISHED MAY 2008
AVAILABLE TO ORDER IN MAY</font></H1>

<img src="/IMAGES/stylemanual_cov.gif" alt="style manual" width="160" height="206" border="0" align="right">Announcing the new, third edition of the standard guide for graduate students, scholars, and teachers in the humanities

<b><i>MLA Style Manual and Guide to Scholarly Publishing </i></b>
3rd edition

Reorganized and revised, this new edition of the <i>MLA Style Manual</i> offers complete, up-to-date guidance to writing and documenting scholarly texts, preparing them for publication, submitting them to publishers, and dealing with complex legal issues. Previous editions sold more than 140,000 copies.

What's new and notable in the third edition:
<ul><li>A significant revision of MLA documentation style</li>
	<li>Simplified citation formats for electronic sources</li>
	<li>Detailed advice on the review process used by scholarly journals and presses</li>
	<li>A fully updated chapter on copyright, fair use, contracts, and other legal issues</li>
	<li>Guidelines on preparing electronic files and submitting them to a publisher</li>
	<li>Discussion of issues to consider in the electronic submission of a dissertation</li>
	<li>A foreword by Domna C. Stanton on the current state of scholarly publishing</li></ul>

<b>"A standard guide for scholarly style."
-<i>Library Journal</i></b>

Only guides from the MLA are certain to present MLA style accurately.

c. xxx & 370 pp.
Cloth ISBN 978-0-87352-297-7
$32.50 (MLA members $26.00)

<b>Also to be published in a large-print edition June 2008</b>
Paper ISBN 978-0-87352-298-4
$37.50 (MLA members $30.00)


