<h1>Current <i>Newsletter</i></h1>
<@if ($cookie{username} ne "")>
<form action="/FORM_ACTIONS/[[[searcharg file]]]" method="post" name="optout" style="padding:4px; background-color:#ffffcc; border:1px [[color1]] solid; width:98%;">
<input type="hidden" name="plugin" value="membership">
<input type="hidden" name="function" value="newsletter_optout">
The <i>MLA Newsletter</i> is available to all members online in PDF. The setting below shows whether you also receive the print edition. If you wish to change this setting, select the other option and click Update Subscription.
<br><@spacer 1x6><br>
<b>Your current setting for the <i>MLA Newsletter</i> is</b> 
<table border="0" cellpadding="0" cellspacing="0" width="90%">
	<tr valign="middle">
		<td width="65%" nowrap>
			<input type="radio" name="newsletter_optout" value="Y"<@if ($NO_NEWSLETTER eq "Y")> checked<@else><@/if>>&nbsp;Read online only
			<br>
			<input type="radio" name="newsletter_optout" value=""<@if ($NO_NEWSLETTER ne "Y")> checked<@else><@/if>>&nbsp;Read online and receive print edition
		</td>
		<td width="35%">
			<input type="submit" value="Update Subscription" class="button">
		</td>
	</tr>
</table>
</form>
<br>
<@/if>

<p>


<p><b>Winter 2013</b></p>

<p>
The Winter issue features a joint column from President Marianne Hirsch and First Vice President Margaret Ferguson about the <a href="http://groupsdiscussion.commons.mla.org/">discussion of MLA group structure</a>, Rosemary G. Feal’s editor’s column about her alt-ac experience, a report on the 2012–13 MLA <i>Job Information List</i>, a profile of the incoming director of the Association of Departments of Foreign Languages, and a tribute to the MLA benefactor Aldo Scaglione. 
</p>



<p><a href="/nl_45-4"  target="_blank">View the PDF</a>[[[docstudio filetype_tag_pdf]]]</p>


<br><br>	

 
