<h1>Account Authentication</h1>

An e-mail has been sent to <@$postarg{$nm_email_field}> with a link to authenticate your account. Your account is not active until you click the link.

You may need to copy and paste the entire URL into your Web browser since some e-mail clients do not format links correctly or may wrap the URL onto multiple lines.

If you do not receive the e-mail or you experience difficulties, please contact <a href="mailto:membership@mla.org">membership@mla.org</a>.

Thank you.
