<h1>New Variorum Edition of Shakespeare Editorial Protocol</h1>
The New Variorum Edition of Shakespeare is a publication series of the Modern Language Association of America. The Executive Council oversees all activities of the association, and the executive director is the general editor of all MLA publications. Development of new contributions to the edition is overseen by the general editors and by the MLA-appointed Committee on the New Variorum Edition of Shakespeare. The committee has established the following protocol for editors:
<blockquote>1. Each volume will have at least one editor. Volumes may also have assistant editors and contributing editors. Volume editors are designated heads of their editorial teams and are responsible for organizing the teams’ work. 
</blockquote>
<blockquote>2. The committee appoints all editorial team members.  It assists the general editors in recruiting volume editors and editorial team members.</blockquote>
<blockquote>3. All members of an editorial team are required to follow the editorial guidelines in Richard Knowles, <i>Shakespeare Variorum Handbook: A Manual of Editorial Practice</i>, 2nd edition (New York: Committee on the New Variorum Edition of Shakespeare of the MLA, 2003), available for downloading at&nbsp;<a href="/variorum_handbook">www.mla.org/variorum_handbook</a>.</blockquote>
<blockquote>4. Volume editors and team members will, in consultation with the general editors, develop a timetable with projected deadlines for completion of their volumes.  It is the expectation of the committee that volume editors will consult with the general editors if it becomes necessary to revise this schedule.</blockquote>
<blockquote>5. Volume editors are also responsible for making regular reports to the general editors about the status of their teams’ work. Volume editors are expected to provide annual progress reports to the general editors by 30 November in each given year.</blockquote>
<blockquote>6. Also by 30 November each year, volume editors must provide the general editors with electronic files of all work in progress for back-up storage; these files will be stored securely as a protection against loss.</blockquote>
<blockquote>7. The committee will review the progress reports at its annual meeting, which is held early in the calendar year. The committee will inform the general editors of any concerns that should be referred to volume editors.</blockquote>
<blockquote>8. Editors who, for whatever reason, are no longer able to continue with their work should notify the general editors in a timely manner and should assist in archiving completed work for use by future editors.</blockquote>
<blockquote>9. The committee reserves the right to withdraw its appointment of any editorial team member who does not follow the provisions of this protocol.</blockquote>
<blockquote>10. The general editors are responsible for vetting volumes before publication.  Some vetting may also be referred to members of the committee.  Every editorial team member who has contributed over the years will be credited in the published volume.</blockquote>
<blockquote>11. The committee is responsible for regular review of NVS protocols.</blockquote>  
<blockquote>12. The committee welcomes requests for advice and consultation from the general editors and volume editors.</blockquote>

November 2010
