<h1>Use of New Variorum Shakespeare Files</h1>

<p>Electronic files for New Variorum Shakespeare editions are under copyright by the Modern Language Association of America. All rights reserved. Copyright is protected by the copyright laws of the United States and the Universal Copyright Convention.</p>

<p>Students, scholars, and the public are permitted to make use of these electronic files for noncommercial research purposes under a <a href="http://creativecommons.org/licenses/by-nc/3.0/">Creative Commons BY-NC 3.0 license</a>. Republication or redistribution of these files, whether in their original format or in a processed form, requires attribution. Please write to <a href="mailto:permissions@mla.org">permissions@mla.org</a> if you have questions about use of the electronic files.</p>

<p>If you are interested in using the electronic files for <em>The Comedy of Errors</em> to develop an API, interface, data-mining project, visualization, or other project, we encourage you to visit the <a href="/nvs_challenge">New Variorum Shakespeare Digital Challenge</a> page, where you may access the XML files and schema.</p>
