<h1>Out-of-Print Titles</h1>
The following is a complete list of MLA titles that are out-of-print. For more information on these titles, please contact customer services at <a href="mailto:bookorders@mla.org">bookorders@mla.org</a>.<BR><BR>

<table border=1 cellpadding=5 cellspacing=0 width="100%">
<tr height=15>
<td height=15 width=224>&nbsp;</td>
<td width=158><b>first author</b></td>
<td width=115><b>additional authors</b></td>
<td width=236><b>publisher</b></td>
<td><b>year</b></td>
</tr>
<tr height=29>
<td height=29 width=224>Academic Women, Sex Discrimination and the
Law: An Action Handbook</td>
<td width=158>Adrian Tinsley</td>
<td width=115>Elaine Rueben</td>
<td width=236>Commission on the Status of Women, Modern Language
Association</td>
<td>1975</td>
</tr>
<tr height=43>
<td height=43 width=224>Aims and Methods of Scholarship in Modern
Languages and Literatures, The, 1st ed.</td>
<td width=158>James Thorpe</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association</td>
<td>&nbsp;</td>
</tr>
<tr height=43>
<td height=43 width=224>Aims and Methods of Scholarship in Modern
Languages and Literatures, The, 2nd ed.</td>
<td width=158>James Thorpe</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association</td>
<td>&nbsp;</td>
</tr>
<tr height=29>
<td height=29 width=224>Alternative Careers for PhDs in the
Humanities: A Selected Bibliography</td>
<td width=158>Christine F. Donaldson</td>
<td width=115>Elizabeth A. Flynn</td>
<td width=236>Modern Language Association </td>
<td>1982</td>
</tr>
<tr height=29>
<td height=29 width=224>Anglo-Irish Literature: A Review of
Research</td>
<td width=158>Richard J. Finneran </td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association</td>
<td>&nbsp;</td>
</tr>
<tr height=29>
<td height=29 width=224>Bibliography of Stylistics and Related
Rriticism, 1967-83, A</td>
<td width=158>James R. Bennett</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association</td>
<td>&nbsp;</td>
</tr>
<tr height=29>
<td height=29 width=224>Bibliography of Critical Arthurian Literature, 1922-1935</td>
<td width=158>Modern Language Association </td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association </td>
<td>1931-36</td>
</tr>
<tr height=43>
<td height=43 width=224>Bilingual Education and FLES: Keeping the
Child in Focus</td>
<td width=158>American Association of Teachers of French,
FLES-Bilingual Education Section</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association </td>
<td>1975</td>
</tr>
<tr height=43>
<td height=43 width=224>Career Guide for PhDs and PhD Candidates
in English and Foreign Languages</td>
<td width=158>English Showalter</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association </td>
<td>1994, 1985</td>
</tr>
<tr height=29>
<td height=29 width=224>Careers and Couples: An Academic Question</td>
<td width=158>Gloria DeSole</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association </td>
<td>1976</td>
</tr>
<tr height=29>
<td height=29 width=224>Center for Scholarly Editions: An
Introductory Statement</td>
<td width=158>Center for Scholarly Editions</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association</td>
<td>&nbsp;</td>
</tr>
<tr height=43>
<td height=43 width=224>A Checklist and Guide for Reviewing Departments of English</td>
<td width=158>Association of Departments of English</td>
<td width=115>&nbsp;</td>
<td width=236>Association of Departments of English</td>
<td>1985</td>
</tr>
<tr height=43>
<td height=43 width=224>Comparative Literature as Academic
Discipline: A Statement of Principles, Praxis, Standards</td>
<td width=158> Robert J. Clements</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association </td>
<td>1978</td>
</tr>
<tr height=29>
<td height=29 width=224>Composition and the Academy: A Study of
Writing Program Administration</td>
<td width=158>Carol P. Hartzog</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association</td>
<td>&nbsp;</td>
</tr>
<tr height=29>
<td height=29 width=224>Computer-Aided Instruction in the
Humanities</td>
<td width=158>Solveig Olsen</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association </td>
<td>1985</td>
</tr>
<tr height=29>
<td height=29 width=224>Computers and Writing: Theory, Research,
Practice</td>
<td width=158>Deborah H. Holdstein</td>
<td width=115>Cynthia L. Selfe</td>
<td width=236>Modern Language Association</td>
<td>&nbsp;</td>
</tr>
<tr height=43>
<td height=43 width=224>Continuing Spanish I-II; A Project of the
Modern Language Association, 1st ed., 2 vols.</td>
<td width=158>Lawrence Poston, Jr., et al.</td>
<td width=115>&nbsp;</td>
<td width=236>copublished with American Book Co.</td>
<td>&nbsp;</td>
</tr>
<tr height=43>
<td height=43 width=224>Continuing Spanish; A Project of the
Modern Language Association, 2nd ed., 2 vols.</td>
<td width=158>Lawrence Poston, Jr.</td>
<td width=115>Eugenio Chang-Rodriguez, James M. Ferrigno</td>
<td width=236>copublished with American Book Co.</td>
<td>&nbsp;</td>
</tr>
<tr height=15>
<td height=15 width=224>Criticism and Culture</td>
<td width=158> Sherman Paul</td>
<td width=115>&nbsp;</td>
<td width=236>Midwest Modern Language Association</td>
<td>1972</td>
</tr>
<tr height=57>
<td height=57 width=224>Directions in Foreign Language Testing</td>
<td width=158>Rebecca M. Valette</td>
<td width=115>&nbsp;</td>
<td width=236>ERIC Clearinghouse on the Teaching of Foreign
Languages and of English in Higher Education, Modern Language Association</td>
<td>1970</td>
</tr>
<tr height=57>
<td height=57 width=224>Directory of Journals and Series in the
Humanities: A Data List of the Periodical Sources on the Master List of the
MLA International Bibliography</td>
<td width=158>Harrison T. Meserole</td>
<td width=115>Carolyn James Bishop</td>
<td width=236>Modern Language Association</td>
<td>&nbsp;</td>
</tr>
<tr height=43>
<td height=43 width=224>Directory of Master's Programs in Foreign
Languages, Foreign Literatures, and Linguistics</td>
<td width=158>Modern Language Association </td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association </td>
<td>1987</td>
</tr>
<tr height=29>
<td height=29 width=224>Directory of Undergraduate Internships in
the Humanities</td>
<td width=158>Washington Center</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association </td>
<td>1984</td>
</tr>
<tr height=29>
<td height=29 width=224>Directory of Women Scholars in the Modern
Languages</td>
<td width=158>Modern Language Association</td>
<td width=115>&nbsp;</td>
<td width=236>Commission on the Status of Women, Modern Language
Association</td>
<td>&nbsp;</td>
</tr>
<tr height=15>
<td height=15 width=224>Early Childhood Bilingual Education</td>
<td width=158> Vera P. John</td>
<td width=115>Vivian M. Horner</td>
<td width=236>Modern Language Association </td>
<td>1971</td>
</tr>

<tr height=15>
<td height=15 width=224>Editor for the Macintosh</td>
<td width=158>Elaine C. Thiesmeyer</td>
<td width=115>John E. Thiesmeyer</td>
<td width=236>Modern Language Association </td>
<td>2001</td>
</tr>


<tr height=57>
<td height=57 width=224>"Either Way Will Hurt" and Other
Essays on English, 1975: A Selection of Outstanding Essays from the <i>ADE Bulletin</i></td>
<td width=158>Elizabeth Wooten Cowan</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association </td>
<td>1976</td>
</tr>
<tr height=29>
<td height=29 width=224>English and Foreign Languages: Employment
and the Profession</td>
<td width=158>Richard I. Brod</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association</td>
<td>&nbsp;</td>
</tr>
<tr height=43>
<td height=43 width=224>English Romantic Poets and Essayists, The: A Review of Research and Criticism, 1st ed.</td>
<td width=158>Carolyn Washburn Houtchens</td>
<td width=115>Lawrence Huston Houtchens, Northrup Frye</td>
<td width=236>Modern Language Association</td>
<td>&nbsp;</td>
</tr>
<tr height=43>
<td height=43 width=224>English Romantic Poets and Essayists, The:
A Review of Research and Criticism, rev. ed.</td>
<td width=158>Carolyn Washburn Houtchens</td>
<td width=115>Lawrence Huston Houtchens</td>
<td width=236>New York University Press for the Modern Language
Association</td>
<td>&nbsp;</td>
</tr>

<tr height=29>
<td height=29 width=224>English Romantic Poets, The: A Review of
Research, 1st ed.</td>
<td width=158>Thomas M. Raysor</td>
<td width=115>Ernest Bernbaum, et al.</td>
<td width=236>Modern Language Association</td>
<td>&nbsp;</td>
</tr>
<tr height=29>
<td height=29 width=224>English Romantic Poets, The: A Review of
Research, rev. [i.e., 2nd] ed.</td>
<td width=158>Thomas M. Raysor</td>
<td width=115>Ernest Bernbaum, et al.</td>
<td width=236>Modern Language Association</td>
<td>&nbsp;</td>
</tr>
<tr height=29>
<td height=29 width=224>English Romantic Poets, The: A Review of
Research, rev. ed.</td>
<td width=158>Thomas M. Raysor</td>
<td width=115>Ernest Bernbaum, et al.</td>
<td width=236>Kraus Reprint Co.</td>
<td>&nbsp;</td>
</tr>
<tr height=29>
<td height=29 width=224>English Romantic Poets, The: A Review of
Research, 3rd rev. ed.</td>
<td width=158>Frank Jordan</td>
<td width=115>Ernest Bernbaum, et al.</td>
<td width=236>Modern Language Association</td>
<td>&nbsp;</td>
</tr>
<tr height=15>
<td height=15 width=224>English, the Preprofessional Major</td>
<td width=158>Linwood E. Orange</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association </td>
<td>1986</td>
</tr>
<tr height=29>
<td height=29 width=224>État présent des travaux sur J.-J.
Rousseau</td>
<td width=158>Albert Schinz</td>
<td width=115>&nbsp;</td>
<td width=236>copublished with Société d'édition Les Belles
lettres</td>
<td>&nbsp;</td>
</tr>
<tr height=57>
<td height=57 width=224>Ethnic Perspectives in American
Literature: Selected Essays on the European Contribution: A Source Book</td>
<td width=158>Robert J. Di Pietro</td>
<td width=115>Edward Ifkovic</td>
<td width=236>Modern Language Association</td>
<td>&nbsp;</td>
</tr>
<tr height=43>
<td height=43 width=224>Evaluation of Teaching College English</td>
<td width=158>Richard L. Larson</td>
<td width=115>&nbsp;</td>
<td width=236>Clearinghouse on the Teaching of English in Higher
Education, Modern Language Association </td>
<td>1970[?]</td>
</tr>
<tr height=29>
<td height=29 width=224>Film Study in the Undergraduate Curriculum</td>
<td width=158>Barry Keith Grant</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association </td>
<td>1983</td>
</tr>
<tr height=15>
<td height=15 width=224>First-Line Index of English Poetry</td>
<td width=158>Margaret Crum</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association</td>
<td>&nbsp;</td>
</tr>
<tr height=57>
<td height=57 width=224>FLES and Bilingual Education: Getting the
Word Out</td>
<td width=158>American Association of Teachers of French,
FLES-Bilingual Education Section</td>
<td width=115>&nbsp;</td>
<td width=236>FLES-Bilingual Section of the American Association
of Teachers of French</td>
<td>1974</td>
</tr>
<tr height=43>
<td height=43 width=224>FLES USA: Success Stories</td>
<td width=158>American Association of Teachers of French, FLES
Committee</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association </td>
<td>1972</td>
</tr>
<tr height=43>
<td height=43 width=224>Foreign Language Annals, v. 1 [ISSN
0015-718X]</td>
<td width=158>American Council on the Teaching of Foreign
Languages</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association</td>
<td>&nbsp;</td>
</tr>
<tr height=43>
<td height=43 width=224>Foreign Language Annals, v. 2 [ISSN
0015-718X]</td>
<td width=158>American Council on the Teaching of Foreign
Languages</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association</td>
<td>&nbsp;</td>
</tr>
<tr height=43>
<td height=43 width=224>Foreign Language Teaching Techniques in
FLES and Bilingual Settings</td>
<td width=158>American Association of Teachers of French, FLES
Committee</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association </td>
<td>1973</td>
</tr>
<tr height=15>
<td height=15 width=224>Foreign Languages and Careers</td>
<td width=158>Lucille J. Honig</td>
<td width=115>Richard I. Brod</td>
<td width=236>Modern Language Association </td>
<td>1979</td>
</tr>
<tr height=29>
<td height=29 width=224>French Literature: An Annotated Guide to
Selected Bibliographies</td>
<td width=158>Richard Kempton</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association </td>
<td>1981</td>
</tr>
<tr height=15>
<td height=15 width=224>Freshman Composition</td>
<td width=158>Jasper P. Neel</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association </td>
<td>1978</td>
</tr>
<tr height=43>
<td height=43 width=224>Gallery of Ghosts: Books Published between
1641-1700 Not Found in the Short-Title Catalogue, A</td>
<td width=158>Donald G. Wing</td>
<td width=115>&nbsp;</td>
<td width=236>Index Committee, Modern Language Association</td>
<td>&nbsp;</td>
</tr>
<tr height=71>
<td height=71 width=224>Great Literature East and West: The UNESCO
Translation Program</td>
<td width=158>United States National Commission for the United
Nations Educational, Scientific, and Cultural Organization</td>
<td width=115>&nbsp;</td>
<td width=236>United States National Commission for UNESCO in
cooperation with the Modern Language Association </td>
<td>1967[?]</td>
</tr>
<tr height=29>
<td height=29 width=224>Grin on the Interface: Word Processing for
the Academic Humanist</td>
<td width=158>Alan T. McKenzie</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association </td>
<td>1984</td>
</tr>
<tr height=49>
<td height=49 width=224>Guide for Job Candidates and Department
Chairmen in English and Foreign Languages, A</td>
<td width=158>Modern Language Association</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association</td>
<td>&nbsp;</td>
</tr>
<tr height=70>
<td height=70 width=224>Guide to Professional Organizations for
Teachers of Language and Literature in the United States and Canada</td>
<td width=158>Adrienne Marie Ward</td>
<td width=115>Joseph Gibaldi</td>
<td width=236>Modern Language Association </td>
<td>1990</td>
</tr>
<tr height=57>
<td height=57 width=224>Guide to Reference Works for the Study of
the Spanish Language and Literature and Spanish American Literature</td>
<td width=158>Hensley Charles Woodbridge</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association </td>
<td>1987</td>
</tr>
<tr height=29>
<td height=29 width=224>Guide to Serial Bibliographies for Modern
Literatures, A, 1st ed.</td>
<td width=158>William A. Wortman</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association</td>
<td>&nbsp;</td>
</tr>
<tr height=29>
<td height=29 width=224>Guidelines for Journal Editors and
Contributors</td>
<td width=158>Conference of Editors of Learned Journals</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association </td>
<td>1984</td>
</tr>
<tr height=29>
<td height=29 width=224>Handbook for Editors of Learned Journals</td>
<td width=158>Conference of Editors</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association</td>
<td>&nbsp;</td>
</tr>
<tr height=29>
<td height=29 width=224>Helping Students Write Well: A Guide for
Teachers in All Disciplines, 1st ed.</td>
<td width=158>Barbara E. Fassler Walvoord</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association</td>
<td>&nbsp;</td>
</tr>
<tr height=43>
<td height=43 width=224>Henry the Fourth, Part Two: A Bibliography
to Supplement the New Variorum Editions of 1940</td>
<td width=158>M. A. Shaaber</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association</td>
<td>&nbsp;</td>
</tr>
<tr height=29>
<td height=29 width=224>Index of Middle English Verse</td>
<td width=158>Carleton Fairchild Brown</td>
<td width=115>Rossell Hope Robbins</td>
<td width=236>printed for the Index Society by Columbia University
Press</td>
<td>1943</td>
</tr>
<tr height=43>
<td height=43 width=224>Instructor's Manual for Modern Spanish: A
Project of the Modern Language Association</td>
<td width=158>Dwight L. Bolinger</td>
<td width=115>Donald Bowen</td>
<td width=236>Harcourt</td>
<td>&nbsp;</td>
</tr>
<tr height=29>
<td height=29 width=224>Interrelations of Literature</td>
<td width=158>Jean-Pierre Barricelli</td>
<td width=115>Joseph Gibaldi</td>
<td width=236>Modern Language Association</td>
<td> 1982</td>
</tr>
<tr height=29>
<td height=29 width=224>Introduction to Bibliographical and
Textual Studies, An, 1st ed.</td>
<td width=158>William Proctor Williams</td>
<td width=115>Vivian M. Horner</td>
<td width=236>Modern Language Association</td>
<td>&nbsp;</td>
</tr>
<tr height=29>
<td height=29 width=224>Introduction to Scholarship in Modern
Languages and Literatures, 1st ed.</td>
<td width=158>Joseph Gibaldi</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association</td>
<td>&nbsp;</td>
</tr>
<tr height=29>
<td height=29 width=224>Issues, Problems, and Approaches in the
Teaching of English</td>
<td width=158>George W. Stone</td>
<td width=115>&nbsp;</td>
<td width=236>Holt</td>
<td>&nbsp;</td>
</tr>
<tr height=29>
<td height=29 width=224>"The Language Curtain" and Other
Essays on American Education</td>
<td width=158>William Riley Parker</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association </td>
<td>1966</td>
</tr>
<tr height=43>
<td height=43 width=224>Language Study for the 1980s: Reports of
the MLA-ACLS Language Task Forces</td>
<td width=158>Richard I. Brod</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association </td>
<td>1980</td>
</tr>
<tr height=29>
<td height=29 width=224>Linguistic Guide to Language Learning, A,
1st ed.</td>
<td width=158>William G. Moulton</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association</td>
<td>&nbsp;</td>
</tr>
<tr height=29>
<td height=29 width=224>Literacy for Life: The Demand for Reading
and Writing</td>
<td width=158>Richard W. Bailey</td>
<td width=115>Robin Melanie Fosheim</td>
<td width=236>Modern Language Association </td>
<td>1983</td>
</tr>
<tr height=49>
<td height=49 width=224>Literary Research Guide: An Annotated
Listing of Reference Sources in English Literary Studies<BR>
4th Edition</td>
<td width=158>James L. Harner</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association </td>
<td>1998</td>
</tr>
<tr height=183>
<td height=183 width=224>Literary Research Guide: An Evaluative,
Annotated Bibliography of Important Reference Books and Periodicals on
English, Irish, Welsh, Commonwealth, American, Afro-American, American
Indian, Continental, Classical, and World Literatures, and Sixty Literature-Related
Subject Areas Including Bibliography, Biography, Book Collecting, Film,
Folklore, Linguistics, Little Magazines, Prosody, Reviews, Teaching
Resources, Textual Criticism, Women's Studies, 2nd ed.</td>
<td width=158>Margaret C. Patterson</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association </td>
<td width=73>1984</td>
</tr>
<tr height=15>
<td height=15 width=224>Literature as Exploration, 4th ed.</td>
<td width=158>Louise M. Rosenblatt</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association</td>
<td>&nbsp;</td>
</tr>
<tr height=43>
<td height=43 width=224>Little Magazine and Contemporary
Literature, The</td>
<td width=158>Modern Language Association </td>
<td width=115>&nbsp;</td>
<td width=236>Published for the Reference Department, Library of
Congress, by the Modern Language Association </td>
<td>1966</td>
</tr>
<tr height=43>
<td height=43 width=224>Medieval Literature of Western Europe,
The: A Review of Research, Mainly 1930-1960</td>
<td width=158>John H. Fisher</td>
<td width=115>&nbsp;</td>
<td width=236>copublished with New York University Press</td>
<td>&nbsp;</td>
</tr>
<tr height=29>
<td height=29 width=224>Minority Language and Literature:
Retrospective and Perspective</td>
<td width=158>Dexter Fisher</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association </td>
<td>1977</td>
</tr>
<tr height=29>
<td height=29 width=224>MLA Directory of Scholarly Presses in
Language and Literature</td>
<td width=158>James L. Harner</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association </td>
<td>1996</td>
</tr>
<tr height=85>
<td height=85 width=224>MLA Guide to Federal Programs: An Analysis
of Current Government Financial Assistance Programs for Students, Teachers,
Researchers, and Scholars in the Fields of English and Foreign Languages</td>
<td width=158>Kenneth W. Mildenberger</td>
<td width=115>&nbsp;</td>
<td width=236>Committee on Research Activities of the Modern
Language Association</td>
<td>&nbsp;</td>
</tr>
<tr><td width=224>MLA Guide to the Job Search</td>
<td width=158>Modern Language Association</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association</td>
<td>1996</td></tr>
<tr><td width=224>MLA Handbook for Writers of Research Papers (6th edition) Large Type Edition</td>
<td width=158>Joseph Gibaldi</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association</td>
<td>&nbsp;</td></tr>
<tr height=15>
<td height=15 width=224>MLA Style Manual, The, 1st ed.</td>
<td width=158>Walter S. Achtert</td>
<td width=115>Joseph Gibaldi</td>
<td width=236>Modern Language Association</td>
<td>&nbsp;</td>
</tr>
<tr height=15>
<td height=15 width=224>MLA Style Sheet, The, 1st ed.</td>
<td width=158>William Riley Parker</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association</td>
<td>&nbsp;</td>
</tr>
<tr height=29>
<td height=29 width=224>Modern Spanish: A Project of the Modern
Language Association</td>
<td width=158>Dwight L. Bolinger</td>
<td width=115>Donald Bowen</td>
<td width=236>Harcourt</td>
<td>&nbsp;</td>
</tr>
<tr height=15>
<td height=15 width=224>NDEA and Modern Foreign Languages</td>
<td width=158>John S. Diekhoff</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association</td>
<td>&nbsp;</td>
</tr>
<tr height=29>
<td height=29 width=224>New Methods in College Writing Programs:
Theories in Practice</td>
<td width=158>Paul H. Connolly</td>
<td width=115>Teresa Vilardi</td>
<td width=236>Modern Language Association </td>
<td>1986</td>
</tr>
<tr height=15>
<td height=15 width=224>New Variorum Edition of Shakespeare</td>
<td width=158>William Shakespeare</td>
<td width=115>&nbsp;</td>
<td width=236>J. B. Lippincott</td>
<td>1936</td>
</tr>
<tr height=29>
<td height=29 width=224>On Compiling an Annotated Bibliography</td>
<td width=158>James L. Harner</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association</td>
<td>&nbsp;</td>
</tr>
<tr height=15>
<td height=15 width=224>On Composition and Computers</td>
<td width=158>Deborah H. Holdstein</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association</td>
<td>1987</td>
</tr>
<tr height=15>
<td height=15 width=224>On the Publication of Research</td>
<td width=158>Ronald B. McKerrow</td>
<td width=115>Henry M. Silver</td>
<td width=236>Modern Language Association</td>
<td>&nbsp;</td>
</tr>
<tr height=43>
<td height=43 width=224>Options and Perspectives: A Sourcebook of
Innovative Foreign Language Programs in Action, K-12</td>
<td width=158> F. William D. Love</td>
<td width=115>Lucille J. Honig</td>
<td width=236>Modern Language Association </td>
<td>1973</td>
</tr>
<tr height=29>
<td height=29 width=224>Options for the Teaching of English: The
Undergraduate Curriculum</td>
<td width=158>Jasper P. Neel</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association</td>
<td>&nbsp;</td>
</tr>
<tr height=43>
<td height=43 width=224>Options for Undergraduate Foreign Language
Programs: Four-Year and Two-Year Colleges</td>
<td width=158> Renate A. Schulz</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association </td>
<td>1979</td>
</tr>
<tr height=29>
<td height=29 width=224>Part-Time Academic Employment in the
Humanities</td>
<td width=158>M. Elizabeth Wallace</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association </td>
<td>1984</td>
</tr>
<tr height=29>
<td height=29 width=224>PhD in English and Foreign Languages: A
Conference Report</td>
<td width=158>Association of Departments of English</td>
<td width=115>&nbsp;</td>
<td width=236>Association of Departments of English</td>
<td>1973</td>
</tr>
<tr height=15>
<td height=15 width=224>Poetic Theory, Poetic Practice</td>
<td width=158>Robert Scholes</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association</td>
<td>&nbsp;</td>
</tr>
<tr height=29>
<td height=29 width=224>Poetical Dialogues of Solomon and Saturn,
The</td>
<td width=158>Robert J. Menner</td>
<td width=115>&nbsp;</td>
<td width=236>copublished with Oxford University Press</td>
<td>&nbsp;</td>
</tr>
<tr height=43>
<td height=43 width=224>Poetic Diction in the English Renaissance
from Skelton through Spenser</td>
<td width=158>Veré L. Rubel</td>
<td width=115>&nbsp;</td>
<td width=236>copublished with Oxford University Press</td>
<td>&nbsp;</td>
</tr>
<tr height=15>
<td height=15 width=224>Poetic Theory, Poetic Practice</td>
<td width=158> Robert E. Scholes</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association </td>
<td>1969</td>
</tr>
<tr height=43>
<td height=43 width=224><i>Profession 2004</i></td>
<td width=158>Modern Language Association </td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association</td>
<td>2004</td>
</tr>
<tr height=43>
<td height=43 width=224>Professional Standards and American
Editions: A Response to Edmund Wilson</td>
<td width=158>Modern Language Association </td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association</td>
<td>1969</td>
</tr>
<tr height=43>
<td height=43 width=224>Prospects for the 70s: English Departments
and Multidisciplinary Study</td>
<td width=158>Harry Finestone</td>
<td width=115>Michael F. Shugrue</td>
<td width=236>Modern Language Association </td>
<td>1973</td>
</tr>
<tr height=15>
<td height=15 width=224>Recent Research on Anglo-Irish Writers</td>
<td width=158>Richard J. Finneran</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association </td>
<td>1983</td>
</tr>
<tr height=29>
<td height=29 width=224>Relations of Literary Study: Essays on
Interdisciplinary Contributions</td>
<td width=158>James Ernest Thorpe</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association </td>
<td>[1967]</td>
</tr>
<tr height=43>
<td height=43 width=224>Research Guide for Undergraduate Students,
A: English and American Literature</td>
<td width=158>Nancy L. Baker</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association</td>
<td>&nbsp;</td>
</tr>
<tr height=43>
<td height=43 width=224>Research Guide for Undergraduate Students,
A: English and American Literature, 4th ed.</td>
<td width=158>Nancy L. Baker</td>
<td width=115>Nancy Huling</td>
<td width=236>Modern Language Association</td>
<td>&nbsp;</td>
</tr>
<tr height=43>
<td height=43 width=224>Restoration and Early Eighteenth-Century English Literature</td>
<td width=158>Roger D. Lund</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association</td>
<td>1980</td>
</tr>
<tr height=29>
<td height=29 width=224>Rhetorical Tradition and Modern Writing,
The</td>
<td width=158>James J. Murphy</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association</td>
<td>&nbsp;</td>
</tr>
<tr height=29>
<td height=29 width=224>Right to Literacy, The</td>
<td width=158>Andrea A. Lunsford</td>
<td width=115>Helene Moglen, James Slevin</td>
<td width=236>Modern Language Association</td>
<td>&nbsp;</td>
</tr>
<tr height=29>
<td height=29 width=224>Road Retaken, The: Women Reenter the
Academy</td>
<td width=158>Irene Thompson</td>
<td width=115>Audrey Roberts</td>
<td width=236>Modern Language Association </td>
<td>1985</td>
</tr>
<tr height=29>
<td height=29 width=224>Rocking the Boat: Academic Women and
Academic Processes</td>
<td width=158>Gloria DeSole</td>
<td width=115>Leonore Hoffman</td>
<td width=236>Modern Language Association </td>
<td>1981</td>
</tr>
<tr height=29>
<td height=29 width=224>Russian Language Study in 1975: A Status
Report</td>
<td width=158>Joseph L. Conrad</td>
<td width=115>&nbsp;</td>
<td width=236>copublished with ERIC Clearinghouse on Languages and
Linguistics</td>
<td>&nbsp;</td>
</tr>
<tr height=15>
<td height=15 width=224>Scholars and Their Publishers</td>
<td width=158>Weldon A. Kefauver</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association</td>
<td>&nbsp;</td>
</tr>
<tr height=29>
<td height=29 width=224>School--College Collaborative Programs in
English</td>
<td width=158>Ron Fortune</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association </td>
<td>1986</td>
</tr>
<tr height=57>
<td height=57 width=224>Science Information Personnel: The New
Profession of Information combining Science, Librarianship, and Foreign
Language</td>
<td width=158>Leonard Cohan</td>
<td width=115>Kenneth Craven</td>
<td width=236>Modern Language Association</td>
<td>&nbsp;</td>
</tr>
<tr height=57>
<td height=57 width=224>Selective Bibliography of Works Related to
the Teaching of Slavic Languages and Literatures in the United States and
Canada, 1942-1967, A</td>
<td width=158>Sigmund S. Birkenmayer</td>
<td width=115>&nbsp;</td>
<td width=236>American Council on the Teaching of Foreign
Languages</td>
<td>&nbsp;</td>
</tr>
<tr height=43>
<td height=43 width=224>Sexual and Gender Harassment in the
Academy: A Guide for Faculty, Students, and Administrators</td>
<td width=158>Phyllis Franklin</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association </td>
<td>1981</td>
</tr>
<tr height=29>
<td height=29 width=224>Shakespeare Variorum Handbook; A Manual of
Editorial Practice, 1st ed.</td>
<td width=158>Richard Hosley</td>
<td width=115>Richard Knowles, Ruth McGugan</td>
<td width=236>Modern Language Association</td>
<td>&nbsp;</td>
</tr>
<tr height=71>
<td height=71 width=224>Short-Title Catalogue of Books Printed in
England, Scotland, Ireland, Wales, and British America, and of English Books
Printed in Other Countries, 1641-1700</td>
<td width=158>Donald Goddard Wing</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association </td>
<td width=73>1982-98</td>
</tr>
<tr height=43>
<td height=43 width=224>Spanish and Spanish-American Literature:
An Annotated Guide to Selected Bibliographies</td>
<td width=158>Hensley C. Woodbridge</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association</td>
<td>&nbsp;</td>
</tr>
<tr height=29>
<td height=29 width=224>State of the Discipline, The, 1970s-1980s</td>
<td width=158>Jasper P. Neel</td>
<td width=115>&nbsp;</td>
<td width=236>Association of Departments of English</td>
<td>1979</td>
</tr>
<tr height=57>
<td height=57 width=224>Statement of Editorial Principles and
Procedures: A Working Manual for Editing Nineteenth-Century American Texts</td>
<td width=158>Center for Editions of American Authors</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association </td>
<td>1972</td>
</tr>
<tr height=29>
<td height=29 width=224>Stepping off the Pedestal: Academic Women
in the South</td>
<td width=158>Patricia A. Stringer</td>
<td width=115>Irene Thompson</td>
<td width=236>Modern Language Association </td>
<td>1982</td>
</tr>
<tr height=29>
<td height=29 width=224>Strategies for Development of Foreign
Language and Literature Programs</td>
<td width=158>Claire Gaudiani</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association </td>
<td>1984</td>
</tr>
<tr height=29>
<td height=29 width=224>Studies in American Indian Literature:
Critical Essays and Course Designs</td>
<td width=158>Paula Gunn Allen</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association</td>
<td>&nbsp;</td>
</tr>

<!--
<tr height=29>
<td height=29 width=224>Studies on Canadian Literature</td>
<td width=158>Arnold E. Davidson</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association</td>
<td>1990</td>
</tr>
-->

<tr height=29>
<td height=29 width=224>Teaching Apprentice Program in Language
and Literature, The</td>
<td width=158>Joseph Gibaldi</td>
<td width=115>James V. Mirollo</td>
<td width=236>Modern Language Association</td>
<td>&nbsp;</td>
</tr>
<tr height=29>
<td height=29 width=224>Textbooks in German, 1942-1973: A
Descriptive Bibliography</td>
<td width=158>Kathryn Buck</td>
<td width=115>Arthur Haase</td>
<td width=236>Modern Language Association</td>
<td>&nbsp;</td>
</tr>
<tr height=29>
<td height=29 width=224>Textbooks in Spanish and Portuguese: A
Descriptive Bibliography, 1939-1970</td>
<td width=158> Marta De la Portilla</td>
<td width=115>Thomas Colchie</td>
<td width=236>ERIC Clearinghouse on Languages and Linguistics</td>
<td>1972</td>
</tr>
<tr height=32>
<td height=32 width=224>Undergraduate Curriculum</td>
<td width=158>Elizabeth Wooten Cowan</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association </td>
<td>1975</td>
</tr>
<tr height=43>
<td height=43 width=224>Tragedy of Julius Caesar, The: A
Bibliography to Supplement the New Variorum Edition of 1913</td>
<td width=158>John W. Velz</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association</td>
<td>&nbsp;</td>
</tr>
<tr height=29>
<td height=29 width=224>Transcendentalists, The: A Review of
Research and Criticism</td>
<td width=158>Joel Myerson</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association</td>
<td>&nbsp;</td>
</tr>
<tr height=43>
<td height=43 width=224>Unladylike and Unprofessional: Academic
Women and Academic Unions</td>
<td width=158>Elaine Reuben</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association Commission on the Status
of Women</td>
<td>1975</td>
</tr>
<tr height=43>
<td height=43 width=224>Use of Manuscripts in Literary Research,
The: Problems of Access and Literary Property Rights, 1st ed.</td>
<td width=158>James Ernest Thorpe</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association </td>
<td>1979</td>
</tr>
<tr height=57>
<td height=57 width=224>Using TACT with Electronic Texts: A Guide
to Text-Analysis Computing Tools, Version 2.1 for MS-DOS and PC DOS</td>
<td width=158>Ian Lancashire</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association</td>
<td>&nbsp;</td>
</tr>
<tr height=29>
<td height=29 width=224>Variant Spellings in Modern American
Dictionaries, 1st ed.</td>
<td width=158>Donald W. Emery</td>
<td width=115>&nbsp;</td>
<td width=236>National Council of Teachers of English</td>
<td>&nbsp;</td>
</tr>
<tr height=29>
<td height=29 width=224>Versification: Major Language Types;
Sixteen Essays</td>
<td width=158>W. K. Wimsatt</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association</td>
<td>&nbsp;</td>
</tr>
<tr height=15>
<td height=15 width=224>Victorian Fiction: A Guide to Research</td>
<td width=158>Lionel Stevenson</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association </td>
<td>1980, 1964</td>
</tr>
<tr height=29>
<td height=29 width=224>Victorian Fiction: A Second Guide to
Research</td>
<td width=158>George Harry Ford</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association </td>
<td>1978</td>
</tr>
<tr height=29>
<td height=29 width=224>Victorian Periodicals: A Guide to
Research, v. 1</td>
<td width=158>J. Don Vann</td>
<td width=115>Rosemary T. VanArsdel</td>
<td width=236>Modern Language Association</td>
<td>&nbsp;</td>
</tr>
<tr height=43>
<td height=43 width=224>What's What: A List of Useful Terms for
the Teacher of Modern Languages, 1st ed.</td>
<td width=158>Donald D. Walsh</td>
<td width=115>&nbsp;</td>
<td width=236>Modern Language Association</td>
<td>&nbsp;</td>
</tr>
<tr height=29>
<td height=29 width=224>Women in Print</td>
<td width=158>Joan E. Hartman</td>
<td width=115>Ellen Messer-Davidow</td>
<td width=236>Modern Language Association </td>
<td>1982</td>
</tr>
</table>

</body>

</html>
