<h1>New Options Volumes in Preparation</h1>
Click on a link below to view a call for essay proposals for a new volume in the series Options for Teaching. 

[[[comment]]]<i>There are no calls for essay proposals at this time.</i>
[[[endcomment]]]
<a href="/options_mod_arabic_lit"><i>Teaching Modern Arabic Literature in Translation</i>, edited by Michelle Hartman</a>
