<h1>Aldo and Jeanne Scaglione Prize for French and Francophone Studies</h1>
<table border=0 cellspacing=4 cellpadding=2>
<tr>
<td valign=top>2012</td>
<td>Christopher Braider, University of Colorado, Boulder, for <i>The Matter of Mind: Reason and Experience in the Age of Descartes</i> (Univ. of Toronto Press, 2012)</td></tr>
<tr> 
<td valign=top>2011</td>
<td valign=top>Larry F. Norman, University of Chicago, for <i>The Shock of the Ancient: Literature and History in Early Modern France</i> (Univ. of Chicago Press, 2011)
</td>
</tr>
<tr> 
<td valign=top></td>
<td valign=top>Honorable mention: Louisa Mackenzie, University of Washington, Seattle, for <i>The Poetry of Place: Lyric, Landscape, and Ideology in Renaissance France</i> (Univ. of Toronto Press, 2011)</td>
</tr>

<tr> 
<td valign=top>2010</td>
<td valign=top>John Culbert, University of British Columbia, for <i>Paralyses: Literature, Travel, and Ethnography in French Modernity</i> (Univ. of Nebraska Press, 2010)</td>
</tr>

<tr> 
<td valign=top>2009</td>
<td valign=top>Maurice Samuels, Yale University, for <i>Inventing the Israelite: Jewish Fiction in Nineteenth-Century France</i> (Stanford Univ. Press, 2009)</td>
</tr>

<tr> 
<td valign=top>2008</td>
<td valign=top>Willa Z. Silverman, Penn State University, University Park, for <i>The New Bibliopolis: French Book Collectors and the Culture of Print, 1880–1914</i> (Univ. of Toronto Press, 2008)</td>
</tr>
<tr> 
<td valign=top></td>
<td valign=top>Honorable mention: Dawn Fulton, Smith College, for <i>Signs of Dissent: Maryse Condé and Postcolonial Criticism</i> (Univ. of Virginia Press, 2008)</td>
</tr>

<tr> 
<td valign=top>2007</td>
<td valign=top>Adelaide M. Russo, Louisiana State University, for <i>Le peintre comme modèle du surréalisme à l'extrême contemporain</i> (Presses Universitaires du Septentrion, 2007)</td>
</tr>

<tr> 
<td valign=top>2006</td>
<td valign=top>Lawrence D. Kritzman, editor, Dartmouth College, for <i>The Columbia History of Twentieth-Century French Thought</i> (Columbia Univ. Press, 2006)</td>
</tr>
<tr> 
<td valign=top></td>
<td valign=top>Honorable Mention: Sharon Kinoshita, University of California, Santa Cruz, for <i>Medieval Boundaries: Rethinking Difference in Old French Literature</i> (Univ. of Pennsylvania Press, 2006)</td>
</tr>


<tr> 
<td valign=top>2005</td>
<td valign=top>Karen Sullivan, Bard College, for <i>Truth and the Heretic: Crises of Knowledge in Medieval French Literature</i> (Univ. of Chicago Press, 2005)</td>
</tr>

<tr> 
<td valign=top>2004</td>
<td valign=top>Jeffrey N. Peters, University of Kentucky, for <i>Mapping Discord: Allegorical Cartography in Early Modern French Writing</i> (Univ. of Delaware Press, 2004)</td>
</tr>
<tr> 
<td valign=top></td>
<td valign=top>Honorable mention: Jack I. Abecassis, Pomona College, for <i>Albert Cohen: Dissonant Voices</i> (Johns Hopkins Univ. Press, 2004)</td>
</tr>
<tr> 
<td valign=top>2003</td>
<td valign=top>R. Howard Bloch, Yale University, for <i>The Anonymous Marie de France</i> (Univ. of Chicago Press, 2003)</td>
</tr>
<tr> 
<td valign=top>&nbsp;</td><td valign=top>Honorable mention: Réda Bensmaïa, Brown University, for <i>Experimental Nations; or, The Invention of the Maghreb</i> (Princeton Univ. Press, 2003)</td>
</tr>
<tr> 
<td valign=top>2002</td>
<td valign=top>Joan DeJean, University of Pennsylvania, for <i>The Reinvention of Obscenity: Sex, Lies, and Tabloids in Early Modern France</i> (Univ. of Chicago Press, 2002)</td>
</tr>
<tr> 
<td valign=top>2001</td>
<td valign=top>Melanie C. Hawthorne, Texas A&M University, College Station, for <i>Rachilde and French Women's Authorship: From Decadence to Modernism</i> (Univ. of Nebraska Press, 2001)
</td>
</tr>
<tr> 
<td valign=top>&nbsp;</td>
<td valign=top>Honorable mention: Michèle Longino, Duke University, for <i>Orientalism in French Classical Drama</i> (Cambridge Univ. Press, 2001)</td>
</tr>
<tr> 
<td valign=top>2000 
<td>Timothy Hampton, University of California, Berkeley, for <i>Literature 
and Nation in the Sixteenth Century: Inventing Renaissance France</i> (Cornell Univ. Press, 2000)</td>
</tr>
<tr> 
<td valign=top>1999</td>
<td valign=top>Margaret Cohen, New York University, for <i>The Sentimental 
Education of the Novel</i> (Princeton Univ. Press, 1999)</td>
</tr>
<tr> 
<td> </td>
<td>Philip Watts, University of Pittsburgh, for <i>Allegories of the Purge: 
How Literature Responded to the Postwar Trials of Writers and Intellectuals 
in France</i> (Stanford Univ. Press, 1999)</td>
</tr>
<tr> 
<td valign=top>1998</td>
<td valign=top>George Hoffmann, Boston University, for <i>Montaigne's Career</i> 
(Oxford Univ. Press, 1999)</td>
</tr>
<tr> 
<td valign=top>1997</td>
<td valign=top>Suzanne Guerlac, Emory University, for <i>Literary Polemics: 
Bataille, Sartre, Valéry, Breton</i> (Stanford Univ. Press, 1997), and Kathryn 
A. Hoffmann, University of Hawaii, Manoa, for <i>Society of Pleasures: Interdisciplinary 
Readings in Pleasure and Power during the Reign of Louis XIV</i> (St. Martin's 
Press, 1997)</td>
</tr>
<tr> 
<td valign=top>1996</td>
<td valign=top>Lynn A. Higgins, Dartmouth College, for <i>New Novel, New Wave, 
New Politics: Fiction and the Representation of History in Postwar France</i> 
(Univ. of Nebraska Press, 1996)</td>
</tr>
<tr> 
<td valign=top>1995</td>
<td valign=top>Cynthia J. Brown, University of California, Santa Barbara, 
for <i>Poets, Patrons, and Printers: Crisis of Authority in Late Medieval 
France</i> (Cornell Univ. Press, 1995)</td>
</tr>
<tr> 
<td> </td>
<td>Helen Solterer, Duke University, for <i>The Master and Minerva: Disputing 
Women in French Medieval Culture</i> (Univ. of California Press, 1995)</td>
</tr>
<tr> 
<td valign=top>1994</td>
<td valign=top>Janet L. Beizer, University of Virginia, for <i>Ventriloquized 
Bodies: Narratives of Hysteria in Nineteenth-Century France</i> (Cornell 
Univ. Press, 1994)</td>
</tr>
<tr> 
<td valign=top>1993</td>
<td valign=top>Thomas M. Kavanagh, University of California, Berkeley, for 
<i>Enlightenment and the Shadows of Chance</i> (Johns Hopkins Univ. Press, 
1993)</td>
</tr>
<tr> 
<td valign=top>1992</td>
<td valign=top>Jody Enders, University of California, Santa Barbara, for <i>Rhetoric 
and the Origins of Medieval Drama</i> (Cornell Univ. Press, 1992)</td>
</tr>
<tr> 
<td><img src="/IMAGES/clear.gif" width="80" height="1" alt=""></td>
<td>&nbsp;</td>
</tr>
</table>
[[[insert file "pastwinner_footer"]]]
