<h1>Aldo and Jeanne Scaglione Prize for Studies in Slavic Languages and Literatures</h1>
<table border=0 cellspacing=4 cellpadding=2>
<tr>
<td valign=top>2011–12</td>
<td>Jonathan Bolton, Harvard University, for <i>Worlds of Dissent: Charter 77, the Plastic People of the Universe, and Czech Culture under Communism</i> (Harvard Univ. Press, 2012)</td></tr>
<tr>
<td valign=top>&nbsp;</td>
<td>Honorable mention: Alexander Etkind, University of Cambridge, for <i>Internal Colonization: Russia’s Imperial Experience </i>(Polity, 2011)</td>
</tr>
<tr> 
<td valign=top>2009–10</td>
<td valign=top>Nancy Condee, University of Pittsburgh, for <i>The Imperial Trace: Recent Russian Cinema</i> (Oxford Univ. Press, 2009)</td>
</tr>
<tr> 
<td valign=top>&nbsp;</td>
<td valign=top>Honorable mention: William Nickell, University of Chicago, for <i>The Death of Tolstoy: Russia on the Eve, Astapovo Station, 1910</i> (Cornell Univ. Press, 2010)</td>
</tr>
<tr> 
<td valign=top>2007–08</td>
<td valign=top>Edyta M. Bojanowska, Harvard University, for <i>Nikolai Gogol: Between Ukrainian and Russian Nationalism</i> (Harvard Univ. Press, 2007)</td>
</tr>
<tr> 
<td valign=top></td>
<td valign=top>Honorable mention: Andrew Kahn, University of Oxford, for <i>Pushkin’s Lyric Intelligence</i> (Oxford Univ. Press, 2008)</td>
</tr>
<tr> 
<td valign=top>2005–06</td>
<td valign=top>Julie A. Buckler, Harvard University, for <i>Mapping St. Petersburg: Imperial Text and Cityshape</i> (Princeton Univ. Press, 2005)</td>
</tr>
<tr> 
<td valign=top></td>
<td valign=top>Honorable mention: Olga Matich, University of California, Berkeley, for <i>Erotic Utopia: The Decadent Imagination in Russia's Fin de Siècle</i> (Univ. of Wisconsin Press, 2005)</td>
</tr>
<tr> 
<td valign=top>2003–04</td>
<td valign=top>Vladimir E. Alexandrov, Yale University, for <i>Limits to Interpretation: The Meanings of</i> Anna Karenina (Univ. of Wisconsin Press, 2004)</td>
</tr>
<tr> 
<td valign=top></td>
<td valign=top>Honorable mention: Harsha Ram, University of California, Berkeley, for <i>The Imperial Sublime: A Russian Poetics of Empire</i> (Univ. of Wisconsin Press, 2003)</td>
</tr>
<tr> 
<td valign=top>2001–02</td>
<td valign=top>Irina Sirotkina, Russian Academy of Sciences, for <i>Diagnosing Literary Genius: A Cultural History of Psychiatry in Russia, 1880-1930</i> (Johns Hopkins Univ. Press, 2001)</td>
</tr>
<tr> 
<td valign=top>1999–2000 
<td>Gabriella Safran, Stanford University, for <i>Rewriting the Jew: Assimilation 
Narratives in the Russian Empire</i> (Stanford Univ. Press, 2000)</td>
</tr>
<tr> 
<td valign=top>1997–98</td>
<td valign=top>Harriet Murav, University of California, Davis, for <i>Russia's 
Legal Fictions</i> (Univ. of Michigan Press, 1998)</td>
</tr>
<tr> 
<td valign=top>1995–96</td>
<td valign=top>Alexander M. Schenker, Yale University, for <i>The Dawn of 
Slavic: An Introduction to Slavic Philology</i> (Yale Univ. Press, 1995)</td>
</tr>
<tr> 
<td valign=top>1993–94</td>
<td valign=top>Robert Maguire, Columbia University, for <i>Exploring Gogol</i> 
(Stanford Univ. Press, 1994)</td>
</tr>
<tr> 
<td valign=top></td>
<td valign=top>Honorable mention: Monika Greenleaf, Stanford University, for 
<i>Pushkin and Romantic Fashion: Fragment, Elegy, Orient, Irony</i> (Stanford 
Univ. Press, 1994)</td>
</tr>
<tr> 
<td><img src="/IMAGES/clear.gif" width="80" height="1" alt=""></td>
<td>&nbsp;</td>
</tr>
</table>

[[[insert file "pastwinner_footer"]]]
