<h1>Modern Language Association Prize for a Scholarly Edition</h1>
<table border=0 cellspacing=4 cellpadding=2>
<tr>
<td valign=top>2011–12</td><td>Thomas J. Heffernan, University of Tennessee, Knoxville, for <i>The Passion of Perpetua and Felicity</i> (Oxford Univ. Press, 2012)</td></tr>
<tr>
<td valign=top>&nbsp;</td>
<td>Honorable mention: Reid Barbour, University of North Carolina, Chapel Hill, and David Norbrook, University of Oxford, editors, for <i>Translation of Lucretius</i>, volume 1 of <i>The Works of Lucy Hutchinson </i>(Oxford Univ. Press, 2012)</td>
</tr>
<tr> 
<td valign=top>2009–10</td>
<td valign=top>Janel Mueller, University of Chicago, and Joshua Scodel, University of Chicago, for <i>Elizabeth I: Translations, 1544–1589</i> and <i>Elizabeth I: Translations, 1592–1598</i> (Univ. of Chicago Press, 2009)</td>
</tr>
<tr> 
<td valign=top>2007–08</td>
<td valign=top>Gary Taylor, Florida State University, and John Lavagnino, King’s College London, editors, for <i>Thomas Middleton: The Collected Works</i> and its companion volume, <i>Thomas Middleton and Early Modern Textual Culture</i> (Oxford Univ. Press, 2007)</td>
</tr>
<tr> 
<td valign=top></td>
<td valign=top>Honorable mention: Sally Bushell, Lancaster University, James A. Butler, La Salle University, and Michael C. Jaye, Rutgers University, editors, for <i>The Excursion</i>, by William Wordsworth (Cornell Univ. Press, 2007)</td>
</tr>
<tr> 
<td valign=top>2005–06</td>
<td valign=top>Roger Lonsdale, Oxford University, for <i>The Lives of the Poets</i>, by Samuel Johnson, 4 volumes (Oxford Univ. Press, 2006)</td>
</tr>
<tr> 
<td valign=top></td>
<td valign=top>Honorable mention: Christopher S. Mackay, University of Alberta, for <i>Malleus Maleficarum</i>, 2 volumes (Cambridge Univ. Press, 2006)</td>
</tr>
<tr> 
<td valign=top></td>
<td valign=top>Honorable mention: Daniel Paul O'Donnell, University of Lethbridge, for <i>Cædmon's Hymn: A Multimedia Study, Archive, and Edition</i> (D. S. Brewer in assn. with SEENET and the Medieval Academy, 2005)
</td>
</tr>
<tr> 
<td valign=top>2003–04</td>
<td valign=top>John Miles Foley, University of Missouri, Columbia, for <i>The Wedding of Mustajbey's Son Bećirbey as Performed by Halil Bajgorić</i> (Federation of Finnish Learned Societies, 2004)</td>
</tr>
<tr> 
<td valign=top></td>
<td valign=top>Honorable mention: Lynda Pratt, University of Nottingham; Tim Fulford, Nottingham Trent University; and Daniel John Sanjiv Roberts, Queens University Belfast, for <i>Robert Southey: Poetical Works 1793-1810</i>, volumes 1-5 (Pickering and Chatto, 2004)</td>
</tr>
<tr> 
<td valign=top></td>
<td valign=top>Honorable mention: Donald H. Reiman, University of Delaware, and Neil Fraistat, University of Maryland, for <i>The Complete Poetry of Percy Bysshe Shelley</i>, volume 2 (Johns Hopkins Univ. Press, 2004)</td>
</tr>
<tr> 
<td valign=top>2001–02</td>
<td valign=top>Morris Eaves, University of Rochester; Robert N. Essick, University of California, Riverside; and Joseph Viscomi, University of North Carolina, Chapel Hill, for <i>The William Blake Archive</i> (<a href="http://www.blakearchive.org" target="new">http://www.blakearchive.org</a>)</td>
</tr>
<tr> 
<td valign=top>&nbsp;</td>
<td valign=top>Honorable mention: Margaret Jane Kidnie, University 
of Western Ontario, for <i>Philip Stubbes</i>, The Anatomie of 
Abuses (Arizona Center for Medieval and Renaissance Studies, 2002)</td>
</tr>
<tr> 
<td valign=top>1999–2000 
<td>Michael Rudick, University of Utah, for <i>The Poems of Sir Walter Ralegh: 
A Historical Edition</i> (Arizona Center for Medieval and Renaissance Studies 
in conjunction with the Renaissance English Text Soc., 1999)</td>
</tr>
<tr> 
<td valign=top>1997–98</td>
<td valign=top>Brenda Dunn-Lardeau, Universit&eacute; du Qu&eacute;bec &agrave; 
Montr&eacute;al, for <i>La l&eacute;gende dor&eacute;e</i>, by Jacques de 
Voragine (Honor&eacute; Champion, 1997)</td>
</tr>
<tr> 
<td valign=top></td>
<td valign=top>Honorable mention: Bruce Graver, Providence College, for <i>Translations 
of Chaucer and Virgil</i>, by William Wordsworth (Cornell Univ. Press, 1998)</td>
</tr>
<tr> 
<td valign=top>1995–96</td>
<td valign=top>Joseph Donohue, University of Massachusetts, Amherst, for <i>Oscar 
Wilde's</i> The Importance of Being Earnest<i>: A Reconstructive Critical 
Edition of the Text of the First Production, St. James's Theatre, London, 
1895</i> (Colin Smythe Limited, 1995)</td>
</tr>
<tr> 
<td valign=top>1993–94</td>
<td valign=top>Edgar M. Branch, Miami University, Oxford, and Harriet Elinor 
Smith, University of California, Berkeley, for <i>Roughing It</i> (<i>The 
Works of Mark Twain,</i> vol. 2), The Mark Twain Project (Univ. of California 
Press, 1993)</td>
</tr>
<tr> 
<td><img src="/IMAGES/clear.gif" width="80" height="1" alt=""></td>
<td>&nbsp;</td>
</tr>
</table>
[[[insert file "pastwinner_footer"]]]
