<h1>Fenia and Yaakov Leviant Memorial Prize in Yiddish Studies</h1>
<TABLE BORDER=0 CELLSPACING=4 CELLPADDING=2>

<TR><TD VALIGN=TOP>2008–11</TD> <TD VALIGN=TOP>Mikhail Krutikov, University of Michigan, Ann Arbor, for <i>From Kabbalah to Class Struggle: Expressionism, Marxism, and Yiddish Literature in the Life and Work of Meir Wiener</i> (Stanford Univ. Press, 2011)</TD></TR>

<TR><TD VALIGN=TOP>2006–09</TD> <TD VALIGN=TOP>Maier Deshell, New York, and Margaret Birstein, Jerusalem, for <i>Everyday Jews: Scenes from a Vanished Life </i>by Yehoshue Perle (Yale Univ. Press, 2007)</TD></TR>

<TR><TD VALIGN=TOP>2004–07</TD> <TD VALIGN=TOP>Gabriella Safran, Stanford University, and Steven J. Zipperstein, Stanford University, for <I>The Worlds of S. An-sky: A Russian Jewish Intellectual at the Turn of the Century</I> (Stanford Univ. Press, 2006)</TD></TR>

<TR><TD VALIGN=TOP> </TD> <TD VALIGN=TOP>Honorable mention: Chana Mlotek, YIVO Institute for Jewish Research, and Mark Slobin, Wesleyan University, for <I>Yiddish Folksongs from the Ruth Rubin Archive</I> (Wayne State Univ. Press, 2007)</TD></TR>

<TR><TD VALIGN=TOP>2002–05</TD> <TD VALIGN=TOP>Amelia Glaser, University of California, San Diego, for <i>Proletpen: America's Rebel Yiddish Poets</i> (Univ. of Wisconsin Press, 2005)</TD></TR>



<TR><TD VALIGN=TOP></TD> <TD VALIGN=TOP>

Goldie Morgentaler, University of Lethbridge, for <i>Survivors: Seven Short Stories by Chava Rosenfarb</i> (Cormorant Books, 2004)
</TD></TR>
<TR><TD VALIGN=TOP>1999–2003</TD> <TD VALIGN=TOP>Dov-Ber Kerler, Indiana University, Bloomington, for <I>The Origins of Modern Literary Yiddish</i> (Oxford Univ. Press, 1999)</TD></TR>
<TR><TD VALIGN=TOP>1997–2001</TD> <TD VALIGN=TOP>Joseph Sherman, University of Oxford, for <i>Shadows on the Hudson: A Novel by Isaac Bashevis Singer</i> (Farrar, 1998)</TD></TR>
<tr><td><img src="/IMAGES/clear.gif" width="80" height="1" alt=""></td><td>&nbsp;</td></tr>
</TABLE>
[[[insert file "pastwinner_footer"]]]
