<h1>Modern Language Association Prize for a Bibliography, Archive, or Digital Project*</h1>
<table border=0 cellspacing=4 cellpadding=2>

<tr><td valign=TOP>2010–11</td>
<td valign=TOP>Phyllis S. Morgan, Albuquerque, New Mexico, for <i>N. Scott Momaday: Remembering Ancestors, Earth, and Traditions: An Annotated Bio-bibliography</i> (Univ. of Oklahoma Press, 2010)</td></tr>

<tr><td valign=TOP>2008–09</td>
<td valign=TOP>Anatoly Liberman, University of Minnesota, for <i>A Bibliography of English Etymology: Sources and Word List</i> (Univ. of Minnesota Press, 2009)
</td></tr>

<tr><td valign=TOP>2006–07</td>
<td valign=TOP>Eleanor Selfridge-Field, Stanford University, for <I>A New Chronology of Venetian Opera and Related Genres, 1660–1760</I> (Stanford Univ. Press, 2007)
</td></tr>

<tr><td valign=TOP>2004–05</td>
<td valign=TOP>Patrick Spedding, Monash University, for <i>A Bibliography of Eliza Haywood</i> (Pickering and Chatto, 2004)</td></tr>
<tr> 
<td valign=TOP></td>
<td valign=TOP>Honorable Mention: James L. Harner, Texas A&M University, for <i>World Shakespeare Bibliography Online</i> (Johns Hopkins Univ. Press; <a href="http://www.worldshakesbib.org" target="_blank">http://www.worldshakesbib.org</a>)</td>
</tr> 

<tr><td valign=TOP>2002–03</td>
<td valign=TOP>Bege K. Bowers, Youngstown State University, and Mark Allen, University of Texas, San Antonio, for <I>Annotated Chaucer Bibliography, 1986–1996</I> (Univ. of Notre Dame Press, 2002)</td>
</tr> 


<tr><td valign=TOP>2000–01</td><td>Hamdi el-Sakkout,  American University in Cairo, for <i>The Arabic Novel: Bibliography and Critical Introduction, 1865–1995</i> (American Univ. in Cairo Press, 2001)</td>
<tr> 
<td valign=TOP>1998–99</td>
<td valign=TOP>David W. Forbes, Honolulu, Hawai'i, for <i>Hawai'ian National 
Bibliography, 1780–1900, I: 1780–1830</i> (Univ. of Hawai'i Press, 1999)</td>
</tr>
<tr> 
<td valign=TOP>1996–97</td>
<td valign=TOP>Kathleen L. Scott, Amherst, Massachusetts, for <i>Later Gothic 
Manuscripts, 1390–1490</i>, 2 vols. (Harvey Miller Publishers, 1997)</td>
</tr>
<tr> 
<td><img src="/IMAGES/clear.gif" width="80" height="1" alt=""></td>
<td>&nbsp;</td>
</tr>
</table>
<p>* From 1996 to 2012, the prize was known as the MLA Prize for a Distinguished Bibliography.</p>

[[[insert file "pastwinner_footer"]]]
