<h1>Mina P. Shaughnessy Prize</h1>
<table border=0 cellspacing=4 cellpadding=2>
<tr> 
<td valign=TOP>2011</td>
<td valign=TOP>David Fleming, University of Massachusetts, Amherst, for <i>From Form to Meaning: Freshman Composition and the Long Sixties, 1957–1974</i> (Univ. of Pittsburgh Press, 2011)</td>
</tr>
<tr> 
<td valign=TOP></td>
<td valign=TOP>Honorable mention: Ellen Cushman, Michigan State University, for <i>The Cherokee Syllabary: Writing the People’s Perseverance</i> (Univ. of Oklahoma Press, 2011)</td>
</tr>
<tr> 
<td valign=TOP>2010</td>
<td valign=TOP>Jane Stanley, University of California, Berkeley, for <i>The Rhetoric of Remediation: Negotiating Entitlement and Access to Higher Education</i> (Univ. of Pittsburgh Press, 2010)</td></tr>
<tr> 
<td valign=TOP>2009</td>
<td valign=TOP>Robert E. Cummings, University of Mississippi, for <i>Lazy Virtues: Teaching Writing in the Age of Wikipedia </i>(Vanderbilt Univ. Press, 2009)</td></tr>
<tr> 
<td valign=TOP></td>
<td valign=TOP>Honorable mention: Walter H. Beale, University of North Carolina, Greensboro, for <i>Learning from Language: Symmetry, Asymmetry, and Literary Humanism</i> (Univ. of Pittsburgh Press, 2009)
</td></tr>
<tr> 
<td valign=TOP>2008</td>
<td valign=TOP>Jennifer Seibel Trainor, San Francisco State University, for <i>Rethinking Racism: Emotion, Persuasion, and Literacy Education in an All-White High School</i> (Southern Illinois Univ. Press, 2008)</td></tr>
<tr> 
<td valign=TOP></td>
<td valign=TOP>Honorable mention: LuMing Mao, Miami University, and Morris Young, University of Wisconsin, Madison, editors, for <i>Representations: Doing Asian American Rhetoric</i> (Utah State Univ. Press, 2008)</td>
</tr>
</tr><tr> 
<td valign=TOP>2007</td>
<td valign=TOP>John L. Schilb, Indiana University, for <I>Rhetorical Refusals: Defying Audiences' Expectations</I> (Southern Illinois Univ. Press, 2007)</td>
</tr>
<tr> 
<td valign=TOP></td>
<td valign=TOP>Honorable mention: Byron Hawk, George Mason University, for <I>A Counter-history of Composition: Toward Methodologies of Complexity</I> (Univ. of Pittsburgh Press, 2007)</td>
</tr>

<tr> 
<td valign=TOP>2006</td>
<td valign=TOP>Janet Alsup, Purdue University, for <i>Teacher Identity Discourses: Negotiating Personal and Professional Spaces</i> (Lawrence Erlbaum Associates and National Council of Teachers of English, 2006)</td>
</tr>

<tr> 
<td valign=TOP>2005</td>
<td valign=TOP>Jean Ferguson Carr, University of Pittsburgh, Stephen L. Carr, University of Pittsburgh, and Lucille M. Schultz, University of Cincinnati, for <i>Archives of Instruction: Nineteenth-Century Rhetorics, Readers, and Composition Books in the United States</i> (Southern Illinois Univ. Press, 2005)</td>
</tr>

<tr> 
<td valign=TOP>2004</td>
<td valign=TOP>David Bartholomae, University of Pittsburgh, for <I>Writing on the Margins: Essays on Composition and Teaching </i>(Bedford/St. Martin's, 2004)</td>
</tr>
<tr> 
<td valign=TOP>2003</td>
<td valign=TOP>Catherine Prendergast, University of Illinois, Urbana, for <I>Literacy and Racial Justice: The Politics of Learning after Brown vs. Board of Education</I> (Southern Illinois Univ. Press, 2003)</td>
</tr>
<tr> 
<td valign=TOP></td>
<td valign=TOP>Honorable mention: Gerald Graff, University of Illinois, Chicago, for <I>Clueless in Academe: How Schooling Obscures the Life of the Mind</i> (Yale Univ. Press, 2003)</td>
</tr>
<tr> 
<td valign=TOP>2002</td>
<td valign=TOP>Ruth Spack, Bentley College, for <i>America’s Second 
Tongue: American Indian Education and the Ownership of English, 1860–1900</i> 
(Univ. of Nebraska Press, 2002)</td>
</tr>
<tr> 
<td valign=TOP>2001</td>
<td valign=TOP>Deborah Brandt, University of Wisconsin,  Madison, for <i>Literacy in American Lives</i> (Cambridge Univ. Press, 2001)</td>
</tr>
<tr> 
<td valign=TOP>2000 
<td>Jacqueline Jones Royster, Ohio State University, for <i>Traces of a Stream: 
Literacy and Social Change among African American Women</i> (Univ. of Pittsburgh 
Press, 2000)</td>
</tr>
<tr> 
<td valign=TOP>1999</td>
<td valign=TOP>A. Suresh Canagarajah, Baruch College, City University of New 
York, for <i>Resisting Linguistic Imperialism in English Teaching</i> (Oxford 
Univ. Press, 1999)</td>
</tr>
<tr> 
<td valign=TOP>1998</td>
<td valign=TOP>Sharon Crowley, Penn State University, for <i>Composition in 
the University: Historical and Polemical Essays</i> (Univ. of Pittsburgh 
Press, 1998)</td>
</tr>
<tr> 
<td valign=TOP>1997</td>
<td valign=TOP>Thomas P. Miller, University of Arizona, for <i>The Formation 
of College English: Rhetoric and Belles Lettres in the British Cultural 
Provinces</i> (Univ. of Pittsburgh Press, 1997), and Marilyn S. Sternglass, 
City College, City University of New York, for <i>Time to Know Them: A Longitudinal 
Study of Writing and Learning at the College Level</i> (Lawrence Erlbaum 
Associates, 1997)</td>
</tr>
<tr> 
<td valign=TOP>1996</td>
<td valign=TOP>James Crosswhite, University of Oregon, for <i>The Rhetoric 
of Reason: Writing and the Attractions of Argument</i> (Univ. of Wisconsin 
Press, 1996)</td>
</tr>
<tr> 
<td valign=TOP></td>
<td valign=TOP>Honorable mention: Linda Brodkey, University of California, San Diego, 
for <i>Writing Permitted in Designated Areas Only</i> (Univ. of Minnesota 
Press, 1996)</td>
</tr>
<tr> 
<td valign=TOP>1995</td>
<td valign=TOP>Ross Talarico, National University, for <i>Spreading the Word: 
Poetry and the Survival of Community in America</i> (Duke Univ. Press, 1995)</td>
</tr>
<tr> 
<td valign=TOP>1994</td>
<td valign=TOP>Kathleen McCormick, University of Hartford, for <i>The Culture 
of Reading and the Teaching of English</i> (St. Martin's Press, 1994)</td>
</tr>
<tr> 
<td valign=TOP></td>
<td valign=TOP>Honorable mention: Edward M. White, California State University, 
San Bernardino, for <i>Teaching and Assessing Writing</i> (Jossey-Bass, 
1994)</td>
</tr>
<tr> 
<td valign=TOP>1992 </td>
<td valign=TOP>Lester Faigley, University of Texas, Austin, for <i>Fragments 
of Rationality: Postmodernity and the Subject of Composition</i> (Univ. 
of Pittsburgh Press, 1992)</td>
</tr>
<tr> 
<td valign=TOP>1991 </td>
<td valign=TOP>Susan Miller, University of Utah, for <i>Textual Carnivals: 
The Politics of Composition</i> (Southern Illinois Univ. Press, 1991)</td>
</tr>
<tr> 
<td valign=TOP> </td>
<td valign=TOP>Honorable mention: Susan C. Jarratt, Miami University, for 
<i>Rereading the Sophists: Classical Rhetoric Refigured</i> (Southern Illinois 
Univ. Press, 1991)</td>
</tr>
<tr> 
<td valign=TOP>1989 </td>
<td valign=TOP>Mike Rose, University of California, Los Angeles, for <i>Lives 
on the Boundary: The Struggles and Achievements of America's Underprepared</i> 
(The Free Press, 1989)</td>
</tr>
<tr> 
<td valign=TOP>1988 </td>
<td valign=TOP>Denny Taylor, Teachers College, Columbia University, and Catherine 
Dorsey-Gaines, Kean College of New Jersey, for <i>Growing Up Literate: Learning 
from Inner-City Families</i> (Heinemann Educational Books, 1988)</td>
</tr>
<tr> 
<td> </td>
<td>Jasper P. Neel, University of Waterloo, for <i>Plato, Derrida, and Writing</i> 
(Southern Illinois Univ. Press, 1988)</td>
</tr>
<tr> 
<td valign=TOP>1987 </td>
<td valign=TOP>Nancie Atwell, for <i>In the Middle: Writing, Reading, and 
Learning with Adolescents</i> (Boynton/Cook, 1987)</td>
</tr>
<tr> 
<td valign=TOP> </td>
<td valign=TOP>Honorable mention: James A. Berlin, Purdue University, for 
<i>Rhetoric and Reality: Writing Instruction in American Colleges, 1900–1985</i> 
(Southern Illinois Univ. Press, 1987)</td>
</tr>
<tr> 
<td valign=TOP> </td>
<td valign=TOP>Honorable mention: Myron C. Tuman, University of Alabama, for 
<i>A Preface to Literacy: An Inquiry into Pedagogy, Practice, and Progress</i> 
(Univ. of Alabama Press, 1987)</td>
</tr>
<tr> 
<td valign=TOP>1986 </td>
<td valign=TOP>Judith Summerfield, Queens College, City University of New 
York, and Geoffrey Summerfield, New York University, for <i>Texts and Contexts: 
A Contribution to the Theory and Practice of Teaching Composition</i> (Random 
House, 1986)</td>
</tr>
<tr> 
<td valign=TOP>1985 </td>
<td valign=TOP>Robert Scholes, Brown University, for <i>Textual Power: Literary 
Theory and the Teaching of English</i> (Yale Univ. Press, 1985)</td>
</tr>
<tr> 
<td valign=TOP>1984 </td>
<td valign=TOP>Robert J. Connors, University of New Hampshire, Lisa S. Ede, 
Oregon State University, and Andrea A. Lunsford, University of British Columbia, 
for <i>Essays on Classical Rhetoric and Modern Discourse</i> (Southern Illinois 
Univ. Press, 1984)</td>
</tr>
<tr> 
<td> </td>
<td>Carl Klaus and Nancy Jones, University of Iowa, for <i>Courses for Change 
in Writing</i> (Boynton/Cook, 1984)</td>
</tr>
<tr> 
<td valign=TOP>1983 </td>
<td valign=TOP>Janet Emig, Rutgers University, for <i>The Web of Meaning: 
Essays on Teaching, Learning, and Thinking</i> (Boynton/Cook, 1983)</td>
</tr>
<tr> 
<td valign=TOP>1982 </td>
<td valign=TOP>Marie Ponsot and Rosemary Deen, Queens College, City University 
of New York, for <i>Beat Not the Poor Desk: Writing: What to Teach, How 
to Teach It, and Why</i> (Boynton/Cook, 1982)</td>
</tr>
<tr> 
<td valign=TOP> </td>
<td valign=TOP>Honorable mention: T. D. Allen, for <i>Writing to Create Ourselves: 
New Approaches for Teachers, Students, and Writers</i> (Univ. of Oklahoma 
Press, 1982)</td>
</tr>
<tr> 
<td valign=TOP>1981 </td>
<td valign=TOP>John Hollander, Yale University, for <i>Rhyme's Reason: A Guide 
to English Verse</i> (Yale Univ. Press, 1981)</td>
</tr>
<tr> 
<td valign=TOP>1980 </td>
<td valign=TOP>Judith Wells Lindfors, University of Texas, Austin, for <i>Children's 
Language and Learning</i> (Prentice-Hall, 1980)</td>
</tr>
<tr> 
<td><img src="/IMAGES/clear.gif" width="80" height="1" alt=""></td>
<td>&nbsp;</td>
</tr>
</table>

[[[insert file "pastwinner_footer"]]]
