<h1>James Russell Lowell Prize </h1>
<table border=0 cellspacing=4 cellpadding=2 width="95%">

<tr> 
<td valign=top>2012</td>
<td valign=top>Sianne Ngai, Stanford University, for <i>Our Aesthetic Categories: Zany, Cute, Interesting</i> (Harvard Univ. Press, 2012)</td>
</tr>
<tr>
<td valign=top></td>
<td>Honorable mention: Leah Price, Harvard University, for <i>How to Do Things with Books in Victorian Britain</i> (Princeton Univ. Press, 2012)</td>
</tr>
<tr> 
<td valign=top>2011</td>
<td valign=top>Simon Gikandi, Princeton University, for <i>Slavery and the Culture of Taste</i> (Princeton Univ. Press, 2011)</td>
</tr>
<tr>
<td valign=top></td>
<td>Stephen Greenblatt, Harvard University, for <i>The Swerve: How the World Became Modern</i> (W. W. Norton, 2011)</td>
</tr>
<tr>
<td valign=top></td>
<td valign=top>Honorable mention: Andrew F. Jones, University of California, Berkeley, for <i>Developmental Fairy Tales: Evolutionary Thinking and Modern Chinese Culture</i> (Harvard Univ. Press, 2011)</td>
</tr>
<tr> 
<td valign=top>2010</td>
<td valign=top>Phillip H. Round, University of Iowa, for <i>Removable Type: Histories of the Book in Indian Country, 1663–1880</i> (Univ. of North Carolina Press, 2010)</td>
</tr>
<tr> 
<td valign=top>2009</td>
<td valign=top>Laura Dassow Walls, University of South Carolina, for <i>The Passage to Cosmos: Alexander von Humboldt and the Shaping of America</i> (Univ. of Chicago Press, 2009)</td>
</tr>
<tr>
<td valign=top></td>
<td valign=top>Honorable mention: Joseph Litvak, Tufts University, for <i>The Un-Americans: Jews, the Blacklist, and Stoolpigeon Culture</i> (Duke Univ. Press, 2009)</td>
</tr>
<tr> 
<td valign=top>2008</td>
<td valign=top>Isobel Armstrong, University of London, for <i>Victorian Glassworlds: Glass Culture and the Imagination 1830–1880</i> (Oxford Univ. Press, 2008)</td>
</tr>
<tr> 
<td valign=top>2007</td>
<td valign=top>Laura Marcus, University of Edinburgh, for <i>The Tenth Muse: Writing about Cinema in the Modernist Period</i> (Oxford Univ. Press, 2007)</td>
</tr>
<tr> 
<tr> 
<td valign=top>2006</td>
<td valign=top>Martin Puchner, Columbia University, for <i>Poetry of the Revolution: Marx, Manifestos, and the Avant-Gardes</i> (Princeton Univ. Press, 2006)</td>
</tr>
<tr> 
<td valign=top></td>
<td valign=top>Honorable mention: Wai Chee Dimock, Yale University, for <i>Through Other Continents: American Literature across Deep Time</i> (Princeton Univ. Press, 2006)</td>
</tr>
<tr> 
<td valign=top></td>
<td valign=top>Honorable mention: Cynthia Wall, University of Virginia, for <i>The Prose of Things: Transformations of Description in the Eighteenth Century</i> (Univ. of Chicago Press, 2006)</td>
</tr>

<tr> 
<td valign=top>2005</td>
<td valign=top>Paula R. Backscheider, Auburn University, for <i>Eighteenth-Century Women Poets and Their Poetry: Inventing Agency, Inventing Genre</i> (Johns Hopkins Univ. Press, 2005)</td>
</tr>

<tr> 
<td valign=top> </td>
<td valign=top>W. J. T. Mitchell, University of Chicago, for <i>What Do Pictures Want?: The Lives and Loves of Images</i> (Univ. of Chicago Press, 2005)</td>
</tr>

<tr> 
<td valign=top>2004</td>
<td valign=top>Diana Fuss, Princeton University, for <i>The Sense of an Interior: Four Writers and the Rooms That Shaped Them </i>(Routledge, 2004)</td>
</tr>
<tr> 
<td valign=top></td>
<td valign=top>Honorable mention: Alan Liu, University of California, Santa Barbara, for <i>The Laws of Cool: Knowledge Work and the Culture of Information</i> (Univ. of Chicago Press, 2004)</td>
</tr>
<tr> 
<td valign=top>2003</td>
<td valign=top>Giancarlo Maiorino, Indiana University, Bloomington, for <i>At the Margins of the Renaissance: Lazarillo de Tormes and the Picaresque Art of Survival</i> (Penn State Univ. Press, 2003)</td>
</tr>
<tr><td valign=top>&nbsp;</td><td>Honorable mention: Brent Hayes Edwards, Rutgers University, New Brunswick, for <i>The Practice of Diaspora: Literature, Translation, and the Rise of Black Internationalism</i> (Harvard Univ. Press, 2003)</td>
</tr>
<tr><td valign=top>&nbsp;</td><td>Honorable mention: Robert Pogue Harrison, Stanford University, for <i>The Dominion of the Dead</i> (Univ. of Chicago Press, 2003)</td>
</tr>
<tr> 
<td valign=top>2002</td>
<td valign=top>Mar&iacute;a Antonia Garc&eacute;s, Cornell University, for <i>Cervantes in Algiers: A Captive’s Tale</i> (Vanderbilt Univ. Press, 2002)</td>
</tr>
<tr> 
<td valign=top>&nbsp;</td>
<td valign=top>Honorable mention: Susan Stewart, University of Pennsylvania, for <i>Poetry and the Fate of the Senses</i> (Univ. of Chicago Press, 2002)</td>
</tr>
<tr> 
<td valign=top>&nbsp;</td>
<td valign=top>Honorable mention: Wendy L. Wall, Northwestern University, for <i>Staging Domesticity: Household Work and English Identity in Early Modern Drama</i> (Cambridge Univ. Press, 2002)</td>
</tr>
<tr> 
<td valign=top>2001</td>
<td valign=top>Jerome McGann, University of Virginia, for <i>Radiant Textuality: Literature after the World Wide Web</i> (Palgrave, 2001)</td>
</tr>
<tr>
<td valign=top>&nbsp;</td>
<td valign=top>Honorable mention: Eric L. Santner, University of Chicago, for <i>On the Psychotheology of Everyday Life: Reflections on Freud and Rosenzweig</i> (Univ. of Chicago Press, 2001)</td>
</tr>
<tr> 
<td valign=top>2000 
<td>Ann Rosalind Jones, Smith College, and Peter Stallybrass, University of Pennsylvania, for <i>Renaissance Clothing and the Materials of Memory</i> (Cambridge Univ. Press, 2000)</td>
</tr>
<tr> 
<td valign=top>1999</td>
<td valign=top>Mary Baine Campbell, Brandeis University, for <i>Wonder and Science: Imagining Worlds in Early Modern Europe</i> (Cornell Univ. Press, 1999)</td>
</tr>
<tr> 
<td valign=top>1998</td>
<td valign=top>Gauri Viswanathan, Columbia University, for <i>Outside the Fold: Conversion, Modernity, and Belief</i> (Princeton Univ. Press, 1998)</td>
</tr>
<tr> 
<td valign=top> </td>
<td valign=top>Honorable mention: Phyllis Blum Cole, Penn State University, Delaware County, for <i>Mary Moody Emerson and the Origins of Transcendentalism: A Family History</i> (Oxford Univ. Press, 1998)</td>
</tr>
<tr> 
<td valign=top>1997</td>
<td valign=top>David Wallace, University of Pennsylvania, for <i>Chaucerian Polity: Absolutist Lineages and Associational Forms in England and Italy</i> (Stanford Univ. Press, 1997)</td>
</tr>
<tr> 
<td valign=top> </td>
<td valign=top>Honorable mention: Joan DeJean, University of Pennsylvania, for <i>Ancients against Moderns: Culture Wars and the Making of a Fin de Si&egrave;cle</i> (Univ. of Chicago Press, 1997)</td>
<tr>
<td valign=top>&nbsp;</td>
<td>Honorable mention: Geoffrey H. Hartman, Yale University and George Washington University, for <i>The Fateful Question of Culture</i> (Columbia Univ. Press, 1997)</td>
</tr>
<tr> 
<td valign=top>1996</td>
<td valign=top>Joseph Roach, Yale University, for <i>Cities of the Dead: Circum-Atlantic Performance</i> (Columbia Univ. Press, 1996)</td>
</tr>
<tr> 
<td valign=top> </td>
<td valign=top>Honorable mention: Wai Chee Dimock, Yale University, for <i>Residues of Justice: Literature, Law, Philosophy</i> (Univ. of California Press, 1996)</td>
</tr>
<tr> 
<td valign=top>1995</td>
<td valign=top>Rey Chow, University of California, Irvine, for <i>Primitive Passions: Visuality, Sexuality, Ethnography, and Contemporary Chinese Cinema</i> (Columbia Univ. Press, 1995)</td>
</tr>
<tr> 
<td valign=top> </td>
<td valign=top>Honorable mention: John Felstiner, Stanford University, for <i>Paul Celan</i> (Yale Univ. Press, 1995)</td>
</tr>
<tr>
<td valign=top>&nbsp;</td>
<td>Honorable mention: Claudia L. Johnson, Princeton University, for <i>Equivocal Beings: Politics, Gender, and Sentimentality in the 1790s--Wollstonecraft, Radcliffe, Burney, Austen</i> (Univ. of Chicago Press, 1995)</td>
</tr>
<tr> 
<td valign=top>1994</td>
<td valign=top>Catherine Gallagher, University of California, Berkeley, for <i>Nobody's Story: Women Writers in the Marketplace</i> (Univ. of California Press, 1994)</td>
</tr>
<tr> 
<td valign=top>1993</td>
<td valign=top>Eric J. Sundquist, University of California, Los Angeles, for <i>To Wake the Nations: Race in the Making of American Literature</i> (Harvard Univ. Press, 1993)</td>
</tr>
<tr> 
<td valign=top>1992 </td>
<td valign=top>Richard Helgerson, University of California, Santa Barbara, for <i>Forms of Nationhood: The Elizabethan Writing of England</i> (Univ. of Chicago Press, 1992)</td>
</tr>
<tr> 
<td valign=top> </td>
<td valign=top>Honorable mention: Kwame Anthony Appiah, Harvard University, for <i>In My Father's House: Africa in the Philosophy of Culture</i> (Oxford Univ. Press, 1992)</td>
</tr>
<tr> 
<td valign=top> </td>
<td valign=top>Honorable mention: Mary Louise Pratt, Stanford University, for <i>Imperial Eyes: Travel Writing and Transculturation</i> (Routledge, 1992)</td>
</tr>
<tr> 
<td valign=top>1991 </td>
<td valign=top>Sacvan Bercovitch, Harvard University, for <i>The Office of The Scarlet Letter</i> (Johns Hopkins Univ. Press, 1991)</td>
</tr>
<tr> 
<td valign=top>1990 </td>
<td valign=top>Fredric Jameson, Duke University, for <i>Postmodernism; or, The Cultural Logic of Late Capitalism</i> (Duke Univ. Press, 1990)</td>
</tr>
<tr> 
<td valign=top> </td>
<td valign=top>Honorable mention: Eve Kosofsky Sedgwick, Duke University, for <i>Epistemology of the Closet</i> (Univ. of California Press, 1990)</td>
</tr>
<tr> 
<td valign=top>1989 </td>
<td valign=top>Denis Hollier, Yale University, with R. Howard Bloch, Peter Brooks, Joan DeJean, Barbara Johnson, Philip Lewis, Nancy Miller, François Rigolot, and Nancy J. Vickers, editors, for <i>A New History of French Literature</i> (Harvard Univ. Press, 1989)</td>
</tr>
<tr> 
<td valign=top> </td>
<td valign=top>Honorable mention: Charles Bernheimer, University of Pennsylvania, for <i>Figures of Ill Repute: Representing Prostitution in Nineteenth-Century France</i> (Harvard Univ. Press, 1989)</td>
</tr>
<tr> 
<td valign=top> </td>
<td valign=top>Honorable mention: Ronald Paulson, Johns Hopkins University, for <i>Breaking and Remaking: Aesthetic Practice in England, 1700-1820</i> (Rutgers Univ. Press, 1989)</td>
</tr>
<tr> 
<td valign=top>1988 </td>
<td valign=top>Stephen Greenblatt, University of California, Berkeley, for <i>Shakespearean Negotiations: The Circulation of Social Energy in Renaissance England</i> (Univ. of California Press, 1988)</td>
</tr>
<tr> 
<td valign=top>1987 </td>
<td valign=top>Michael McKeon, Rutgers University, for <i><i>The Origins of the English Novel, 1600-1740</i></i> (Johns Hopkins Univ. Press, 1987)</td>
</tr>
<tr> 
<td valign=top>1986 </td>
<td valign=top>Joseph Frank, Institute for Advanced Studies and Stanford University, for <i>Dostoevsky: The Stir of Liberation, 1860-1865</i> (Princeton Univ. Press, 1986)</td>
</tr>
<tr> 
<td valign=top>1985 </td>
<td valign=top>Joel Fineman, University of California, Berkeley, for <i>Shakespeare's Perjured Eye: The Invention of Poetic Subjectivity in the Sonnets</i> (Univ. of California Press, 1985)</td>
</tr>
<tr> 
<td valign=top> </td>
<td valign=top>Honorable mention: Jane Gallop, Rice University, for <i>Reading Lacan</i> (Cornell Univ. Press, 1985)</td>
</tr>
<tr> 
<td valign=top>1984 </td>
<td valign=top>V. A. Kolve, University of Virginia, for <i>Chaucer and the Imagery of Narrative: The First Five Canterbury Tales</i> (Stanford Univ. Press, 1984)</td>
</tr>
<tr> 
<td valign=top>1983 </td>
<td valign=top>Stephen G. Nichols, Jr., University of Pennsylvania, for <i>Romanesque Signs: Early Medieval Narrative and Iconography</i> (Yale Univ. Press, 1983)</td>
</tr>
<tr> 
<td valign=top>1982 </td>
<td valign=top>Thomas M. Greene, Yale University, for <i>The Light in Troy: Imitation and Discovery in Renaissance Poetry</i> (Yale Univ. Press, 1982)</td>
</tr>
<tr> 
<td valign=top> </td>
<td valign=top>Honorable mention: Raymond E. Fitch, Ohio University, for <i>The Poison Sky: Myth and Apocalypse in Ruskin</i> (Ohio Univ. Press, 1982)</td>
</tr>
<tr> 
<td valign=top>1981 </td>
<td valign=top>Gay Wilson Allen, New York University, for <i>Waldo Emerson: A Biography</i> (Viking, 1981)</td>
</tr>
<tr> 
<td valign=top>1980 </td>
<td valign=top>Benjamin Bennett, University of Virginia, for <i>Modern Drama and German Classicism</i> (Cornell Univ. Press, 1980)</td>
</tr>
<tr> 
<td valign=top>1979 </td>
<td valign=top>Barbara Kiefer Lewalski, Brown University, for <i>Protestant Poetics and the Seventeenth-Century Religious Lyric</i> (Princeton Univ. Press, 1979)</td>
</tr>
<tr> 
<td valign=top>1978 </td>
<td valign=top>Andrew Welsh, Rutgers University, for <i>Roots of Lyric: Primitive Poetry and Modern Poetics</i> (Princeton Univ. Press, 1978)</td>
</tr>
<tr> 
<td valign=top> </td>
<td valign=top>Honorable mention: Edwin M. Eigner, University of California, Riverside, for <i>The Metaphysical Novel in England and America</i> (Univ. of California Press, 1978)</td>
</tr>
<tr> 
<td valign=top>1977 </td>
<td valign=top>Stephen Booth, University of California, Berkeley, for <i>Shakespeare's Sonnets</i> (Yale Univ. Press, 1977)</td>
</tr>
<tr> 
<td valign=top>1976 </td>
<td valign=top>Joseph Frank, Princeton University, for <i>Dostoevsky: The Seeds of Revolt, 1821-1849</i> (Princeton Univ. Press, 1976)</td>
</tr>
<tr> 
<td valign=top>1975 </td>
<td valign=top>Jonathan Culler, Oxford University, for <i>Structuralist Poetics</i> (Cornell Univ. Press, 1975)</td>
</tr>
<tr> 
<td valign=top>1974 </td>
<td valign=top>Josephine Miles, University of California, Berkeley, for <i>Poetry and Change</i> (Univ. of California Press, 1974)</td>
</tr>
<tr> 
<td valign=top>1973 </td>
<td valign=top>Leslie A. Marchand, Rutgers University, for <i>Byron's Letters and Journals</i> (Harvard Univ. Press, 1973)</td>
</tr>
<tr> 
<td valign=top> </td>
<td valign=top>Honorable mention: Stephen J. Greenblatt, University of California, Berkeley, for <i>Sir Walter Raleigh: The Renaissance Man and His Roles</i> (Yale Univ. Press, 1973)</td>
</tr>
<tr> 
<td valign=top>1972 </td>
<td valign=top>Theodore J. Ziolkowski, Princeton University, for <i>Fictional Transfigurations of Jesus</i> (Princeton Univ. Press, 1972)</td>
</tr>
<tr> 
<td valign=top> </td>
<td valign=top>Honorable mention: Jonathan Saville, University of California, San Diego, for <i>The Medieval Erotic Alba: Structure as Meaning</i> (Columbia Univ. Press, 1972)</td>
</tr>
<tr> 
<td valign=top>1971 </td>
<td valign=top>Meyer H. Abrams, Cornell University, for <i>Natural Supernaturalism: Tradition and Revolution in Romantic Literature</i> (Norton, 1971)</td>
</tr>
<tr> 
<td valign=top>1970 </td>
<td valign=top>Bruce A. Rosenberg, Pennsylvania State University, for <i>The Art of the American Folk Preacher</i> (Oxford Univ. Press, 1970)</td>
</tr>
<tr> 
<td valign=top> </td>
<td valign=top>Honorable mention: Don Cameron Allen, Johns Hopkins University, for <i>Mysteriously Meant: The Rediscovery of Pagan Symbolism and Allegorical Interpretation in the Renaissance</i> (Johns Hopkins Univ. Press, 1970)</td>
</tr>
<tr> 
<td valign=top> </td>
<td valign=top>Honorable mention: Lawrence E. Harvey, Dartmouth College, for <i>Samuel Beckett, Poet and Critic</i> (Princeton Univ. Press, 1970)</td>
</tr>
<tr> 
<td valign=top>1969 </td>
<td valign=top>Helen Vendler, Boston University, for <i>On Extended Wings: Wallace Stevens' Longer Poems</i> (Harvard Univ. Press, 1969)</td>
</tr>
<tr> 
<td valign=top> </td>
<td valign=top>Honorable mention: Theodore J. Ziolkowski, Princeton University, for <i>Dimensions of the Modern Novel</i> (Princeton Univ. Press, 1969)</td>
</tr>
<tr> 
<td><img src="/IMAGES/clear.gif" width="80" height="1" alt=""></td>
<td>&nbsp;</td>
</tr>
</table>
[[[insert file "pastwinner_footer"]]]
