<h1>Lois Roth Award for a Translation of a Literary Work </h1>
<table border=0 cellspacing=4 cellpadding=2>
<tr>
<td valign=top>2012</td>
<td>Royall Tyler, Australian National University, for <i>The Tale of the Heike</i> (Viking, 2012)</td>
<tr>
<td valign=top>&nbsp;</td>
<td>Honorable mention: Robert Chandler and Elizabeth Chandler, London, England, for <i>Happy Moscow</i>, by Andrey Platonov (New York Review Books, 2012)</td>
</tr>
<tr>
<td valign=top>&nbsp;</td>
<td>Honorable mention: Peter Cole, New Haven, Connecticut, for <i>The Poetry of Kabbalah: Mystical Verse from the Jewish Tradition</i> (Yale Univ. Press, 2012)</td>
</tr>
<tr>
<td valign=top>&nbsp;</td>
<td>Honorable mention: Christina E. Kramer, University of Toronto, for <i>Freud’s Sister</i>, by Goce Smilevski (Penguin, 2012)</td>
</tr>
<tr>
<td valign=top>&nbsp;</td>
<td>Honorable mention: Gordon M. Sayre, University of Oregon, for <i>The Memoir of Lieutenant Dumont, 1715–1747: A Sojourner in the French Atlantic</i>, by Jean-François-Benjamin Dumont de Montigny (Univ. of North Carolina Press for the Omohundro Inst. of Early American History and Culture, Williamsburg, Virginia, 2012)</td>
</tr>
<tr>
<td valign=top>2010</td>
<td>John Woodsworth, University of Ottawa, and Arkadi Klioutchanski, University of Ottawa, for <i>My Life</i>, by Sofia Andreevna Tolstaya (Univ. of Ottawa Press, 2010)</td></tr>
<tr>
<td valign=top>&nbsp;</td>
<td>Honorable mention: Jonathan Tittler, Rutgers University, Camden, for <i>Changó, the Biggest Badass</i>, by Manuel Zapata Olivella (Texas Tech Univ. Press, 2010)</td></tr>

<tr>
<td valign=top>2008</td><td>
Adnan Haydar, University of Arkansas, and Michael Beard, University of North Dakota, for <i>Mihyar of Damascus: His Songs (Aghânî Mihyâr al-Dimashqî)</i>, by Adonis (Ali Ahmad Sa’id) (BOA Editions, 2008)</td></tr>
<tr>
<td valign=top></td><td>
Honorable mention: Michael Berry, University of California, Santa Barbara, and Susan Chan Egan, Santa Barbara, California, for <i>The Song of Everlasting Sorrow: A Novel of Shanghai</i> by Wang Anyi (Columbia Univ. Press, 2008)</td></tr>

<tr>
<td valign=top>2006</td><td>
Edwin A. Cranston, Harvard University, for <i>A Waka Anthology, Volume Two: Grasses of Remembrance</i> (Stanford Univ. Press, 2006)</td></tr>


<tr>
<td valign=top>2004</td><td>
Joel Agee, Brooklyn, New York, for <i>The End: Hamburg 1943</i> (<i>Der Untergang: Hamburg 1943</i>), by Hans Erich Nossack (Univ. of Chicago Press, 2004)</td></tr>
<tr>
<td valign=top>2002</td><td>
Geoffrey Brock, San Francisco, California, for <i>Disaffections: Complete Poems 1930-1950</i>, by Cesare Pavese (Copper Canyon, 2002)</td></tr>
		<tr>
		<td valign=top>2000
		<td>John Felstiner, Stanford University, for his translation <i>Selected Poems and Prose of Paul Celan</i> (W. W. Norton, 2000)</td>
<tr>
		<td valign=top>1998</td> <td valign=top>Mark Harman, University of Pennsylvania, for <i>The Castle</i>, by Franz Kafka (Schocken Books, 1999)</td>
	</tr>
	<tr>
</table>

[[[insert file "pastwinner_footer"]]]
