<h1>Aldo and Jeanne Scaglione Publication Award for a Manuscript in Italian Literary Studies</h1>
<table border=0 cellspacing=4 cellpadding=2>
<tr>
<td valign=top>2013</td>
<td>Sarah Rolfe Prodan, University of Toronto, for “Michelangelo’s Christian Mysticism: Spirituality, Poetry and Art in Sixteenth-Century Italy” (Cambridge Univ. Press, 2014)</td>
</tr>
<tr> 
<td valign=top>2012</td>
<td valign=top>Teodolinda Barolini, Columbia University, and Richard Lansing, Brandeis University, for “Dante’s Lyrics: Poems of Youth and the <i>Vita Nuova</i>”</td>
</tr>
<tr> 
<td valign=top></td>
<td valign=top>Honorable mention: Konrad Eisenbichler, University of Toronto, for “The Sword and the Pen: Women, Politics, and Poetry in Sixteenth-Century Siena” (Univ. of Notre Dame Press)</td>
</tr>
<tr> 
<td valign=top>2011</td>
<td valign=top>Jo Ann Cavallo, Columbia University, for “The World beyond Europe in the Romance Epics of Boiardo and Ariosto”</td>
</tr>
<tr> 
<td valign=top>&nbsp;</td>
<td valign=top>Demetrio S. Yocum, University of Notre Dame, for “Petrarch’s Humanist Writing and Carthusian Monasticism: The Secret Language of the Self”</td></tr>
<tr> 
<td valign=top>2010</td>
<td valign=top>Paola Gambarota, Rutgers University, New Brunswick, for <i>Irresistible Signs: The Genius of Language and Italian National Identity</i> (Univ. of Toronto Press)</td>
</tr>
<tr> 
<td valign=top>2009</td>
<td valign=top>Kristin Phillips-Court, University of Wisconsin, Madison, for <i>The Perfect Genre: Drama and Painting in Renaissance Italy</i></td>
</tr>
<tr> 
<td valign=top>2007</td>
<td valign=top>Lina N. Insana, University of Pittsburgh, for <i>Arduous Tasks: Primo Levi, Translation, and the Transmission of Holocaust Testimony</i> (Univ. of Toronto Press)</td>
</tr>
<tr> 
<td valign=top>2006</td>
<td valign=top>Suzanne Stewart-Steinberg, Brown University, for <i>The Pinocchio Effect: On Making Italians (1860–1920)</i> (Univ. of Chicago Press)</td>
</tr>
<tr> 
<td valign=top>2005</td>
<td valign=top>Justin Steinberg, University of Chicago, for <i>Accounting for Dante: Urban Readers and Writers in Late Medieval Italy</i> (Univ. of Notre Dame Press, 2006)</td>
</tr>
<tr> 
<td valign=top>2004</td>
<td valign=top>Donald Beebe, West Linn, Oregon, executive ed.; Anne Borelli, Tuscaloosa, Alabama, trans. and ed.; and Maria C. Pastore Passaro, Central Connecticut State University, trans. and ed., for <i>The Selected Writings of Girolamo Savonarola: Religion and Politics, 1490–1498</i> (Yale Univ. Press, 2005)</td>
</tr>
<tr> 
<td valign=top>2003</td>
<td valign=top>Elizabeth Leake, Rutgers University, New Brunswick, for <i>The 
Reinvention of Ignazio Silone</i> (Univ. of Toronto Press, 2003)</td>
</tr>
<tr> 
<td valign=top>2002</td>
<td valign=top>Theodore Cachey, Jr., University of Notre Dame, for <i>Petrarch's Guide to the Holy Land</i> 
(Univ. of Notre Dame Press, 2002)</td>
</tr>
<tr> 
<td valign=top>2001 
<td>Nelson Moe, Barnard College, for <i>The View from Vesuvius: Italian Culture 
and the Southern Question</i> (Univ. of California Press, 2002)</td>
</tr>
<tr> 
<td valign=top>2000</td>
<td valign=top>Victoria Eulalia Kirkham, University of Pennsylvania, for <i>Fabulous 
Vernacular: Boccaccio's</i> Filocolo <i>and the Art of Medieval Fiction</i> 
(Univ. of Michigan Press, 2001)</td>
</tr>
<tr> 
<td valign=top>1999</td>
<td valign=top>Rebecca West, University of Chicago, for <i>Gianni Celati: 
The Craft of Everyday Storytelling</i> (Univ. of Toronto Press, 1999)</td>
</tr>
<tr> 
<td valign=top>1998</td>
<td valign=top>Hermann W. Haller, Queens College, City University of New York, 
for <i><i>The Other Italy: The Literary Canon in Dialect</i></i> (Univ. 
of Toronto Press, 1999)</td>
</tr>
<tr> 
<td><img src="/IMAGES/clear.gif" width="80" height="1" alt=""></td>
<td>&nbsp;</td>
</tr>
</table>

[[[insert file "pastwinner_footer"]]]
