<h1>Kenneth W. Mildenberger Prize</h1>
<table border=0 cellspacing=4 cellpadding=2>

<tr> 
<td valign=top>2011–12</td>
<td valign=top>Susan M. Gass, Michigan State University, and Alison Mackey, Georgetown University, editors, for <i>The Routledge Handbook of Second Language Acquisition</i> (Routledge, 2012)</td>
</tr>
<tr> 
<td valign=top>2010</td>
<td valign=top>Norman Segalowitz, Concordia University, for <i>Cognitive Bases of Second Language Fluency</i> (Routledge, 2010)</td>
</tr>
<tr> 
<td valign=top>2009</td>
<td valign=top>Claire Kramsch, University of California, Berkeley, for <i>The Multilingual Subject: What Foreign Language Learners Say about Their Experience and Why It Matters</i> (Oxford Univ. Press, 2009)</td>
</tr>

<tr> 
<td valign=top>2008</td>
<td valign=top>Diane Larsen-Freeman, University of Michigan, and Lynne Cameron, Open University, for <i>Complex Systems and Applied Linguistics</i> (Oxford Univ. Press, 2008)</td>
</tr>

<tr> 
<td valign=top>2007</td>
<td valign=top>B. Kumaravadivelu, San José State University, for <i>Cultural Globalization and Language Education </i>(Yale Univ. Press, 2007)</td>
</tr>

<tr> 
<td valign=top>2006</td>
<td valign=top>Penny McKay, Queensland University of Technology, for <i>Assessing Young Language Learners</i> (Cambridge Univ. Press, 2006)</td>
</tr>


<tr> 
<td valign=top>2005</td>
<td valign=top>Cristina Sanz, editor, Georgetown University, for <i>Mind and Context in Adult Second Language Acquisition: Methods, Theory, and Practice</i> (Georgetown Univ. Press, 2005)</td>
</tr>

<tr> 
<td valign=top>2004</td>
<td valign=top>Paul Seedhouse, University of Newcastle upon Tyne, for <i>The Interactional Architecture of the Language Classroom: A Conversation Analysis Perspective</i> (Blackwell, 2004)</td>
</tr>
<tr> 
<td valign=top>2003</td>
<td valign=top>Janina Brutt-Griffler, University of York, for <i>World English: A Study of Its Development</i> (Multilingual Matters, 2003)</td>
</tr>
<tr> 
<td valign=top></td>
<td valign=top>Honorable mention: Ken Hyland, University of London, for <i>Second Language Writing</i> (Cambridge Univ. Press, 2003)</td>
</tr>
<tr> 
<td valign=top>2000</td>
<td valign=top>Hossein Nassaji, Centennial College, and Gordon Wells, University 
of California, Santa Cruz, for "What's the Use of 'Triadic Dialogue'? An 
Investigation of Teacher-Student Interaction" (<i>Applied Linguistics</i> 
21.3)</td>
</tr>
<tr> 
<td valign=top>1999</td>
<td valign=top>Guy Cook, University of Reading, for <i>Language Play, Language 
Learning</i> (Oxford Univ. Press, 1999)</td>
</tr>
<tr> 
<td valign=top>1998</td>
<td valign=top>Richard Cl&eacute;ment, Zolt&aacute;n D&ouml;rnyei, Peter Macintyre, and Kimberly 
Noels, for "Conceptualizing Willingness to Communicate in a L2: A Situational 
Model of L2 Confidence and Affiliation" (<i>Modern Language Journal</i>, 
Winter 1998)</td>
</tr>
<tr> 
<td valign=top>1997</td>
<td valign=top>Peter Skehan, Thames Valley University, London, England, for 
<i>A Cognitive Approach to Language Learning</i> (Oxford Univ. Press, 1997)</td>
</tr>
<tr> 
<td valign=top>1996</td>
<td valign=top>Lyle F. Bachman, University of California, Los Angeles, and 
Adrian S. Palmer, University of Utah, for <i>Language Testing in Practice</i> 
(Oxford Univ. Press, 1996)</td>
</tr>
<tr> 
<td valign=top>1995</td>
<td valign=top>Evelyn Hatch, University of California, Los Angeles, and Cheryl 
Brown, Brigham Young University, for <i>Vocabulary, Semantics, and Language 
Education</i> (Cambridge Univ. Press, 1995)</td>
</tr>
<tr> 
<td valign=top>1994</td>
<td valign=top>David E. Freeman and Yvonne S. Freeman, Fresno Pacific College, 
for <i>Between Worlds: Access to Second Language Acquisition</i> (Heinemann, 
1994)</td>
</tr>
<tr> 
<td valign=top>1993</td>
<td valign=top>Claire Kramsch, University of California, Berkeley, for <i>Context 
and Culture in Language Teaching</i> (Oxford Univ. Press, 1993)</td>
</tr>
<tr> 
<td valign=top>1992 </td>
<td valign=top>Evelyn Hatch, University of California, Los Angeles, for <i>Discourse 
and Language Education</i> (Cambridge Univ. Press, 1992)</td>
</tr>
<tr> 
<td valign=top>1991 </td>
<td valign=top>Elizabeth B. Bernhardt, Ohio State University, Columbus, for 
<i>Reading Development in a Second Language: Theoretical, Empirical, and 
Classroom Perspectives</i> (Ablex, 1991)</td>
</tr>
<tr> 
<td valign=top>1990 </td>
<td valign=top>Lyle F. Bachman, University of California, Los Angeles, for 
<i>Fundamental Considerations in Language Testing</i> (Oxford Univ. Press, 
1990)</td>
</tr>
<tr> 
<td valign=top>1989 </td>
<td valign=top>Bernard Spolsky, Bar-Ilan University, for <i>Conditions for 
Second Language Learning</i> (Oxford Univ. Press, 1989)</td>
</tr>
<tr> 
<td valign=top>1988 </td>
<td valign=top>Craig Chaudron, University of Hawaii, Manoa, for <i>Second 
Language Classrooms: Research on Teaching and Learning</i> (Cambridge Univ. 
Press, 1988)</td>
</tr>
<tr> 
<td valign=top>1987 </td>
<td valign=top>Rod Ellis, Ealing College of Higher Education, for <i>Second 
Language Acquisition in Context</i> (Prentice Hall, 1987)</td>
</tr>
<tr> 
<td> </td>
<td>Anita Wenden, York College, City University of New York, and Joan Rubin, 
Lauder Institute, University of Pennsylvania, for <i>Learner Strategies 
in Language Learning</i> (Prentice Hall, 1987)</td>
</tr>
<tr> 
<td valign=top>1986 </td>
<td valign=top>Alice C. Omaggio, University of Illinois, Urbana, for <i>Teaching 
Language in Context: Proficiency-Oriented Instruction</i> (Heinle and Heinle, 
1986)</td>
</tr>
<tr> 
<td valign=top>1985 </td>
<td valign=top>Jack C. Richards, University of Hawaii, for <i>The Context 
of Language Teaching</i> (Cambridge Univ. Press, 1985)</td>
</tr>
<tr> 
<td valign=top>1984 </td>
<td valign=top>John Underwood, Mills College, for <i>Linguistics, Computers, 
and the Language Teacher</i> (Newbury, 1984)</td>
</tr>
<tr> 
<td valign=top>1983 </td>
<td valign=top>John W. Oller, Jr., University of New Mexico, and Patricia 
Richard-Amato, California State University, Los Angeles, for <i>Methods 
That Work: A Smorgasbord of Ideas for Language Teachers</i> (Newbury, 1983)</td>
</tr>
<tr> 
<td> </td>
<td>Sandra J. Savignon, University of Illinois, for <i>Communicative Competence: 
Theory and Classroom Practice</i> (Addison-Wesley, 1983)</td>
</tr>
<tr> 
<td valign=top>1981 </td>
<td valign=top>Stephen D. Krashen, University of Southern California, for 
<i>Second Language Acquisition and Second Language Learning</i> (Pergamon, 
1981)</td>
</tr>
<tr> 
<td valign=top>1980 </td>
<td valign=top>Earl W. Stevick, Foreign Service Institute, for <i>Teaching 
Languages: A Way and Ways</i> (Newbury, 1980)</td>
</tr>
<tr> 
<td><img src="/IMAGES/clear.gif" width="80" height="1" alt=""></td>
<td>&nbsp;</td>
</tr>
</table>
[[[insert file "pastwinner_footer"]]]
