<h1>Aldo and Jeanne Scaglione Prize for Comparative Literary Studies</h1>
<table border=0 cellspacing=4 cellpadding=2>
<tr>
<td valign=top>2012</td>
<td>David Spurr, Université de Genève, for <i>Architecture and Modern Literature</i> (Univ. of Michigan Press, 2012)</td></tr>
<tr> 
<td valign=top>2011</td>
<td valign=top>Frédérique Aït-Touati, University of Oxford, Saint John’s College, for <i>Fictions of the Cosmos: Science and Literature in the Seventeenth Century</i> (Univ. of Chicago Press, 2011)</td></tr>
<tr> 
<td valign=top>2010</td>
<td valign=top>Donna V. Jones, University of California, Berkeley, for <i>The Racial Discourses of Life Philosophy: Négritude, Vitalism, and Modernity</i> (Columbia Univ. Press, 2010)</td></tr>
<tr> 
<td valign=top>
2009</td>
<td valign=top>Alexa (Alex) Huang, Pennsylvania State University, for <i>Chinese Shakespeares: Two Centuries of Cultural Exchange</i> (Columbia Univ. Press, 2009)</td></tr>
<tr> 
<td valign=top>
2008</td>
<td valign=top>Sahar Amer, University of North Carolina, Chapel Hill, for <i>Crossing Borders: Love Between Women in Medieval French and Arabic Literatures</i> (Univ. of Pennsylvania Press, 2008)
</td>
</tr><tr> 
<td valign=top>
2007</td>
<td valign=top>Daniel Heller-Roazen, Princeton University, for <i>The Inner Touch: Archaeology of a Sensation</i> (Zone Books, 2007)
</td>
</tr>
<tr> 
<td valign=top></td>
<td valign=top>Honorable mention: Richard Helgerson, University of California, Santa Barbara, for <i>A Sonnet from Carthage: Garcilaso de la Vega and the New Poetry of Sixteenth-Century Europe</i> (Univ. of Pennsylvania Press, 2007)</td>
</tr>


<tr> 
<td valign=top>
2006</td>
<td valign=top>Toril Moi, Duke University, for <i>Henrik Ibsen and the Birth of Modernism: Art, Theater, Philosophy</i> (Oxford Univ. Press, 2006)
</td>
</tr>

<tr> 
<td valign=top>
2005</td>
<td valign=top>Evelyne Ender, Hunter College, for <i>Architexts of Memory: Literature, Science, and Autobiography</i> (Univ. of Michigan Press, 2005)
</td>
</tr>


<tr> 
<td valign=top>
2004</td>
<td valign=top>Loren Kruger, University of Chicago, for <i>Post-imperial Brecht: Politics and Performance, East and South</i> (Cambridge Univ. Press, 2004)</td>
</tr>
<tr> 
<td valign=top></td>
<td valign=top>Honorable mention: Neil Kenny, University of Cambridge, for <i>The Uses of Curiosity in Early Modern France and Germany</i> (Oxford Univ. Press, 2004)</td>
</tr><tr> 
<td valign=top>
2003</td>
<td valign=top>Alessia Ricciardi, Northwestern University, for <i>The Ends of Mourning: Psychoanalysis, Literature, Film</i> (Stanford Univ. Press, 2003)</td>
</tr>
<tr>
<td valign=top>&nbsp;</td><td valign=top>Honorable mention: Barbara Johnson, Harvard University, for <i>Mother Tongues: Sexuality, Trials, Motherhood, Translation</i> (Harvard Univ. Press, 2003)</td>
</tr>
<tr>
<td valign=top>&nbsp;</td><td valign=top>Honorable mention: Susanne Kord, University College of London, for <i>Women Peasant Poets in Eighteenth-Century England, Scotland, and Germany: Milkmaids on Parnassus</i> (Camden House, 2003)</td>
</tr>
<tr> 
<td valign=top>2002</td>
<td valign=top>Ian Balfour, York University, for <i>The Rhetoric of Romantic 
Prophecy </i>(Stanford Univ. Press, 2002)</td>
</tr>
<tr>
<td valign=top>&nbsp;</td>
<td>Honorable mention: Charles Bernheimer, University of Pennsylvania; Naomi Schor, Yale University, editor; and T. Jefferson Kline, Boston University, editor, for <i>Decadent Subjects: The Idea of Decadence in Art, Literature, Philosophy, and Culture of the </i>Fin de Si&egrave;cle <i>in Europe</i> (Johns Hopkins Univ. Press, 2002)</td>
<tr> 
<td valign=top>2001</td>
<td valign=top>Victoria Nelson, Albany, California, for <i>The Secret Life of Puppets</i> (Harvard Univ. Press, 2001)</td>
</tr>
<tr> 
<td valign=top>&nbsp;</td>
<td valign=top>Honorable mention: Barbara Fuchs, University of Washington,  Seattle, for <i>Mimesis and Empire: The New World, Islam, and European Identities</i> (Cambridge Univ. Press, 2001) 
</td>
</tr>
<tr> 
<td valign=top>&nbsp;</td>
<td valign=top>Honorable mention: Avital Ronell, New York University, for <i>Stupidity</i> (Univ. of Illinois Press, 2001)</td>
</tr>
<tr> 
<td valign=top>2000</td>
<td valign=top>Marie-Laure Ryan, Bellvue, Colorado, for <i>Narrative as Virtual Reality: Immersion and Interactivity in Literature and Electronic Media</i> (Johns Hopkins Univ. Press, 2000) 
</tr>
<tr> 
<td valign=top>1999</td>
<td valign=top>Leonard Barkan, New York University, for <i>Unearthing the 
Past: Archaeology and Aesthetics in the Making of Renaissance Culture</i> 
(Yale Univ. Press, 1999)</td>
</tr>
<tr> 
<td valign=top></td>
<td valign=top>Honorable mention: Sharon Marcus, University of California, 
Berkeley, for <i>Apartment Stories: City and Home in Nineteenth-Century 
Paris and London</i> (Univ. of California Press, 1999)</td>
</tr>
<tr> 
<td valign=top>1998</td>
<td valign=top>Dorrit Cohn, Harvard University, for <i>The Distinction of 
Fiction</i> (Johns Hopkins Univ. Press, 1999)</td>
</tr>
<tr> 
<td valign=top>1997</td>
<td valign=top>Linda Haverty Rugg, Ohio State University, Columbus, for <i>Picturing 
Ourselves: Photography and Autobiography</i> (Univ. of Chicago Press, 1997)</td>
</tr>
<tr> 
<td valign=top></td>
<td valign=top>Honorable mention: Ursula K. Heise, Columbia University, for <i>Chronoschisms: 
Time, Narrative, and Postmodernism</i> (Cambridge Univ. Press, 1997)</td>
</tr>
<tr> 
<td valign=top>1996</td>
<td valign=top>Chana Kronfeld, University of California, Berkeley, for <i>On 
the Margins of Modernism: Decentering Literary Dynamics</i> (Univ. of California 
Press, 1996)</td>
</tr>
<tr> 
<td valign=top>1994</td>
<td valign=top>Mitchell Greenberg, Miami University, Oxford, for <i>Canonical 
States, Canonical Stages: Oedipus, Othering, and Seventeenth-Century Drama</i> 
(Univ. of Minnesota Press, 1994)</td>
</tr>
<tr> 
<td valign=top></td>
<td valign=top>Honorable mention: Renata R. Mautner Wasserman, Wayne State 
University, for <i>Exotic Nations: Literature and Cultural Identity in the 
United States and Brazil, 1830-1930</i> (Cornell Univ. Press, 1994)</td>
</tr>
<tr> 
<td valign=top>1993</td>
<td valign=top>John T. Irwin, Johns Hopkins University, for <i>The Mystery 
to a Solution: Poe, Borges, and the Analytic Detective Story</i> (Johns 
Hopkins Univ. Press, 1993)</td>
</tr>
<tr> 
<td valign=top>1992</td>
<td valign=top>Jean H. Hagstrum, Northwestern University, Emeritus, for <i>Esteem 
Enlivened by Desire: The Couple from Homer to Shakespeare</i> (Univ. of 
Chicago Press, 1992)</td>
</tr>
<tr> 
<td><img src="/IMAGES/clear.gif" width="80" height="1" alt=""></td>
<td>&nbsp;</td>
</tr>
</table>
[[[insert file "pastwinner_footer"]]]
