<h1>Aldo and Jeanne Scaglione Prize for a Translation of a Scholarly Study of Literature</h1>
<table border=0 cellspacing=4 cellpadding=2>
<tr>
<td valign=top>2011–12</td>
<td>Pierre Joris, University at Albany, State University of New York, for The Meridian<i>: Final Version—Drafts—Materials</i>, by Paul Celan (Stanford Univ. Press, 2011)</td></tr>
<tr> 
<td valign=top>2009–10</td>
<td valign=top>Michael K. Bourdaghs, University of Chicago; Atsuko Ueda, Princeton University; and Joseph A. Murphy, University of Florida, translators, for Theory of Literature <i>and Other Critical Writings</i>, by Natsume Sōseki (Columbia Univ. Press, 2009)</td>
</tr>
<tr> 
<td valign=top>2007–08</td>
<td valign=top>Karen Green, Monash University; Constant J. Mews, Monash University; and Janice Pinder, Monash University, for their translation of <i>The Book of Peace (Livre de paix)</i>, by Christine de Pizan (Penn State Univ. Press, 2008)</td>
</tr>
<tr> 
<td valign=top>2005–06</td>
<td valign=top>Shelley Frisch, Princeton, New Jersey, for <i>Kafka: The Decisive Years</i> (<i>Kafka: Die Jahre der Entscheidungen</i>), by Reiner Stach (Harcourt, 2005)</td>
</tr>
<tr> 
<td valign=top>2003–04</td>
<td valign=top>Margaret L. King, Brooklyn College, and Diana Robin, University of New Mexico, for <i>Complete Writings:</i> Letterbook, Dialogue on Adam and Eve, Orations, by Isotta Nogarola (Univ. of Chicago Press, 2004)</td>
</tr>
<tr> 
<td valign=top></td>
<td valign=top>Steven Rendall, Les Barthes, France, for <i>Lethe: The Art and Critique of Forgetting</i> (<i>Lethe: Kunst und Kritik des Vergessens</i>), by Harald Weinrich (Cornell Univ. Press, 2004)</td>
</tr>
<tr> 
<td valign=top>2001–02</td>
<td valign=top>Charlotte Mandell, Red Hook, New York, for 
<i>Faux Pas</i>, by Maurice Blanchot (Stanford Univ. Press, 2001)</td>
</tr>
<tr> 
<td valign=top>&nbsp;</td>
<td valign=top>John R. Shepley, New York, New York, for <i>The Forty-Nine Steps</i>, by Roberto Calasso (Univ. of Minnesota Press, 2001)</td>
</tr>
<tr> 
<td valign=top>1999–2000 
<td>Richard Beardsworth, American University of Paris, for <i>The Confession 
of Augustine</i>, by Jean-Fran&ccedil;ois Lyotard (Stanford Univ. Press, 
2000)</td>
</tr>
<tr> 
<td valign=top>1997–98</td>
<td valign=top>Marie-Claude Hays, for <i>A Child Is Being Killed: On Primary 
Narcissism and the Death Drive</i>, by Serge Leclaire (Stanford Univ. Press, 
1998)</td>
</tr>
<tr> 
<td valign=top></td>
<td valign=top>Finalists: Channa Newman, Point Park College, and Claude Doubinsky, 
University of Tours, for <i>Palimpsests: Literature in the Second Degree</i>, 
by Gerard Genette (Univ. of Nebraska Press, 1998); Catherine Porter, State 
University of New York, Cortland, for <i>Socrates: Fictions of a Philosopher</i>, 
by Sarah Kofman (Cornell Univ. Press, 1998)</td>
</tr>
<tr> 
<td valign=top>1995–96</td>
<td valign=top>John Charles Chasteen, University of North Carolina, Chapel 
Hill, for <i>The Lettered City</i>, by Angel Rama (Duke Univ. Press, 1996)</td>
</tr>
<tr> 
<td valign=top></td>
<td valign=top>Richard Heinemann, Madison, Wisconsin, and Bruce Krajewski, 
Laurentian University, for <i>Gadamer on Celan: "Who Am I and Who Are You?" 
and Other Essays</i>, by Hans-Georg Gadamer (State Univ. of New York Press, 
1996)</td>
</tr>
<tr> 
<td valign=top>1993–94</td>
<td valign=top>Joseph B. Solodow, Southern Connecticut State University, for 
<i>Latin Literature: A History</i>, by Gian Biagio Conte (Johns Hopkins 
Univ. Press, 1994)</td>
</tr>
<tr> 
<td><img src="/IMAGES/clear.gif" width="80" height="1" alt=""></td>
<td>&nbsp;</td>
</tr>
</table>
[[[insert file "pastwinner_footer"]]]
