<h1>Morton N. Cohen Award for a Distinguished Edition of Letters</h1>
<table border=0 cellspacing=4 cellpadding=2>

<tr>
<td valign=top>2011–12</td>
<td>Roger Kuin, York University, for <i>The Correspondence of Sir Philip Sidney</i>, 2 volumes (Oxford Univ. Press, 2012)</td>
</tr>
<tr> 
<td valign=top>2009–10</td>
<td valign=top>Martha Dow Fehsenfeld, Emory University; Lois More Overbeck, Emory University; George Craig, University of Sussex; and Dan Gunn, American University of Paris; for <i>The Letters of Samuel Beckett, Volume 1: 1929–1940</i> (Cambridge Univ. Press, 2009)</td>
</tr>
<tr> 
<td valign=top>&nbsp;</td>
<td valign=top>Honorable mention: Leo Jansen, Amsterdam; Hans Luijten, Amsterdam; and Nienke Bakker, Amsterdam; for <i>Vincent van Gogh–The Letters: The Complete Illustrated and Annotated Edition</i> (Van Gogh Museum, Huygens Inst., Mercatorfonds, 2009)</td>
</tr>
<tr> 
<td valign=top>2007–08</td>
<td valign=top>William G. Holzberger, Bucknell University, for <i>The Letters of George Santayana, Book Seven, 1941–1947</i> and <i>Book Eight, 1948–1952</i> (MIT Press, 2007, 2008)</td>
</tr>
<tr> 
<td valign=top>2005–06</td>
<td valign=top>John Kelly, Oxford University, and Ronald Schuchard, Emory University, for <i>The Collected Letters of W. B. Yeats</i>, volume 4 (Oxford Univ. Press, 2005)</td>
</tr>
<tr> 
<td valign=top>2003–04</td>
<td valign=top>Robert J. Bertholf, State University of New York, Buffalo, and Albert Gelpi, Stanford University, for <i>The Letters of Robert Duncan and Denise Levertov</i> (Stanford Univ. Press, 2004)</td>
</tr>
<tr> 
<td valign=top>2001–02</td>
<td valign=top>Michael B. Frank, University of California, Berkeley, and Harriet Elinor Smith, University of California, Berkeley,  for <i>Mark 
Twain’s Letters: Volume 6, 1874-1875 </i>(Univ. of California 
Press, 2002)</td>
</tr>
<tr> 
<td valign=top>1999–2000 
<td>Albert J. Devlin, University of Missouri, Columbia, and Nancy Marie Patterson Tischler, Emerita, Penn State University, University Park, for <i>The 
Selected Letters of Tennessee Williams: Volume 1, 1920-1945</i> (New Directions, 2000)</td>
<tr> 
<td valign=top>1997–98</td>
<td valign=top>Ignas Kestutis Skrupskelis, University of South Carolina, and 
Elizabeth M. Berkeley, for <i>The Correspondence of William James</i>, volume 
6 (Univ. Press of Virginia, 1998)</td>
</tr>
<tr> 
<td valign=top>1995–96</td>
<td valign=top>Clyde de L. Ryals, Duke University, and Kenneth J. Fielding, 
University of Edinburgh, for <i>The Collected Letters of Thomas and Jane 
Welsh Carlyle</i>, volumes 22-24 (Duke Univ. Press, 1995)</td>
</tr>
<tr> 
<td valign=top>1993–94</td>
<td valign=top>Paul Mattheisen, State University of New York, Binghamton, 
Arthur Young, Russell Sage College, and Pierre Coustillas, University of 
Lille, for <i>The Collected Letters of George Gissing</i> (Ohio Univ. Press, 
1990-)</td>
</tr>
<tr> 
<td valign=top>&nbsp;</td>
<td valign=top>Honorable mention: Walter Sutton, Syracuse University, for 
<i>Pound, Thayer, Watson, and The Dial: A Story in Letters</i> (Univ. Press 
of Florida, 1994)</td>
</tr>
<tr> 
<td valign=top>1991–92</td>
<td valign=top>Georges Lubin, for <i>Correspondance de George Sand</i> (Classiques 
Garnier, 1964-91)</td>
</tr>
<tr> 
<td valign=top>1989–90</td>
<td valign=top>Frederick Burkhardt, Sydney Smith, and associates, for <i>The 
Correspondence of Charles Darwin</i> (Cambridge Univ. Press, 1985-)</td>
</tr>
<tr> 
<td><img src="/IMAGES/clear.gif" width="80" height="1" alt=""></td>
<td>&nbsp;</td>
</tr>
</table>
[[[insert file "pastwinner_footer"]]]
