<h1>Peter Weiss's <I>Aesthetics of Resistance</I> at Twenty Five (Scholarship section)</h1>
Reprinted by permission of the authors. Copyright &#169; 2006 by Noah Isenberg, Julia Charlotte Hell, Robert Buch, and Kai Evers

<I>Part 3.  Information on panelists' and presider's scholarship, particularly scholarship that </I><I>directly relates to the session topic.</I>

Robert Buch is assistant professor in the Department of Germanic Studies at the University of Chicago.  His teaching and research interests include nineteenth-century realism; Weimar; aesthetics of violence; German culture and politics post 1989.  He is currently working on a book project entitled <I>The Legacy of Laoko&#246;n:</I> <I>Violence and the Image in Late Twentieth Century</I> (on Georges Bataille, Claude Simon, Heiner M&#252;ller, et al.).

Kai Evers is assistant professor in the Department of German at the University of California, Irvine.  His research interests include modernist literature and the aesthetics of violence.  He has published articles on Arendt, Weiss, Benjamin, and Walser.  He is currently working on a book about the transformations of catastrophic imagination in pre&#150; and post&#150;World War I literature.

Julia Hell is associate professor of German studies at the University of Michigan.  Her research and teaching interests focus on 19th- and 20th-century German studies, with particular emphasis on the relationship between literature, the visual arts, and politics.  Her first book, <I>Post-Fascist Fantasies</I>, is the winner of the Modern Language Association's Scaglione Prize for German Studies for 1998.  She is currently working on a second book in which she explores the (il)legitimacy of authorship in Peter Weiss, Gerhard Richter, and W. G. Sebald.  From 2000 to 2004, she served on the <i>PMLA</i> Editorial Board; she is currently a member of the editorial board of the <i>Women in German Yearbook</i> and the MLA's division on Twentieth-Century German Literature; since August 2005, she has been coeditor, with Johannes vonMoltke, of <I>Germanic Review</I>.

Noah Isenberg is associate professor and chair of humanities at the New School in New York City, where he teaches literature, film, and intellectual history.  He is the author of <I>Between Redemption and Doom: The Strains of German Jewish Modernism</I> (1999) and the editor and translator of Arnold Zweig's 1920 work <I>The Face of East European Jewry</I> (2004). He is currently completing a full-scale critical study of Edgar G. Ulmer, <I>Perennial Detour: The Cinema of Edgar G. Ulmer</I>, and editing a companion to Weimar cinema.  His writing has appeared in such scholarly and nonscholarly publications as <I>Cinema Journal</I>, <I>New German Critique</I>, <I>Salmagundi</I>, <I>Dissent</I>, <I>Bookforum</I>, the <I>New Republic</I> and the<I> New York Times Book Review</I>.  A critical essay of his on Weiss's <I>The Aesthetics of Resistance</I> appeared in October 2005 in the<I> Nation</I>.

