<h1>Receiving <i>PMLA</i></h1>
<a href="/membership">Membership</a> in the MLA includes a subscription to the print edition of <i>PMLA</i>. Each issue of the journal is normally mailed to subscribers during the month before the month of publication. For libraries and other institutions, a subscription in 2014 to the electronic format alone is $190 and to the print and electronic formats is $210 (domestic and Canadian) or $240 (foreign). Subscriptions also include online access to the 2002–13 volumes. For an additional $180, institutional subscribers receive a clothbound edition of the 2014 volume of <i>PMLA</i>. Agents deduct four percent as their fee. Single copies of the current January, March, May, and October issues of <i>PMLA</i> are $12 each. The November (Program) issue is $35. To order current issues, visit the <a href="/store/CID70">MLA Bookstore</a> or call or write Member and Customer Services, MLA,  26 Broadway, 3rd floor, New York, NY 10004-1789 (646 576-5161; <a href="mailto:bookorders@mla.org">bookorders@mla.org</a>). To pay for an institutional subscription, call or write Member and Customer Services (646 576-5166; <a href='mailto:subscrip@mla.org'>subscrip@mla.org</a>).

An online archive of <i>PMLA</i> issues from 1884 up to five years before the present is available through <i>JSTOR</i> (<a href="http://www.jstor.org" target="new">www.jstor.org</a>).

Volumes up to 2000 can be obtained on microfilm from NA Publishing, Inc. (<a href="http://www.napubco.com/umi.html" target="other">www.napubco.com/umi.html</a>), PO Box 998, Ann Arbor, MI 48106-0998 (800 420-6272).
