<h1>Advertising in <i>PMLA</i></h1>
Since 1884 <i>PMLA</i>, the journal of the Modern Language Association of America, has published articles of interest to scholars of language and literature. It appears in five annual issues:
<ul>
<li>Four issues (January, March, May, October) present essays and other literary-critical writings.
<li>The November issue is the program for the association's <a href="/convention">annual convention</a>. The 2015 convention will take place in Vancouver on 8&ndash;11 January.
</ul>
All issues are sent directly to about 28,000 college and university teachers of English and foreign languages who belong to the association and to about 1,900 libraries worldwide.

<h2><i>PMLA</i> Online</h2>
All library subscribers receive <i>PMLA</i> online, and some choose to receive the print version as well. Readers of the online version can consult the index of advertisers and easily browse, print, and save ad pages.

<h2>Electronic Archive on <i>JSTOR</i></h2>
<i>JSTOR</i> provides the electronic archive for <i>PMLA</i>, in which issues from 1886 to 2008 are available in a searchable, full-text format. Since advertisements are included with the issues, your ads can be viewed in perpetuity. At the end of each year, the next annual volume of <i>PMLA</i> is added to <i>JSTOR</i>. Thus, at the end of 2014 the 2009 volume will be added.

<h2>Circulation Statistics (2013)</h2>
<table border="0" cellpadding="6" cellspacing="1" bgcolor="[[color1]]">
<tr><td bgcolor="#ffffff">Total circulation</td><td bgcolor="#ffffff">29,653</td></tr>
<tr><td bgcolor="#ffffff">Member subscriptions</td><td bgcolor="#ffffff">27,736</td></tr>
<tr><td bgcolor="#ffffff">Library subscriptions</td><td bgcolor="#ffffff"> 1,917</td></tr>
<tr><td bgcolor="#ffffff">Percentage of the membership in the United States and Canada</td><td bgcolor="#ffffff">91%</td></tr>
<tr><td bgcolor="#ffffff">Percentage of the membership in other countries</td><td bgcolor="#ffffff">9%</td></tr>
</table>

<h2>Advertising Rates</h2>
<table border="0" cellpadding="6" cellspacing="1" bgcolor="[[color1]]">
<tr>
<td bgcolor="#ffffff"></td><td bgcolor="#ffffff"><b>Regular</b></td>
<td bgcolor="#ffffff"><b>Volume Agreement 129 (2014) Advertisers</b></td>
</tr>
<tr>
<td bgcolor="#ffffff">Full page</td><td bgcolor="#ffffff">$1,200</td>
<td bgcolor="#ffffff">$810</td>
</tr>
<tr>
<td bgcolor="#ffffff">Half page</td><td bgcolor="#ffffff">$785</td>
<td bgcolor="#ffffff">$520</td>
</tr>
<tr>
<td bgcolor="#ffffff">Covers II and III, by volume agreement only</td>
<td bgcolor="#ffffff"></td><td bgcolor="#ffffff">$1,085</td>
</tr>
</table>

There is no cash discount or agency discount. Volume rates require at least one insertion in each issue of volume 129. Cover positions for 2015 will be offered to those volume advertisers who place the largest number of advertisements in 2014. Please note that Cover IV is only available to advertisers on the November issue.

<a href="/2014_pmla_volume_adv" onclick="javascript:pageTracker._trackPageview('/downloads/pdf/2014_pmla_volume_adv')" target="_blank">Download volume advertising invitation.</a>[[[docstudio filetype_tag_pdf]]]
<a href="/2014_pmla_adcontract" onclick="javascript:pageTracker._trackPageview('/downloads/pdf/2014_pmla_adcontract')" target="_blank">Download volume agreement form.</a>[[[docstudio filetype_tag_pdf]]]

<h2>Volume 129 Deadlines</h2>
<table border="0" cellpadding="6" cellspacing="1" bgcolor="[[color1]]">
<tr><td bgcolor="#ffffff"></td><td bgcolor="#ffffff"><b>Reservations</b><td bgcolor="#ffffff"><b>
Materials
(PDFs only)</b></td></tr>
<tr>
<td bgcolor="#ffffff">January</td>
<td bgcolor="#ffffff">22 Oct. 2013</td>
<td bgcolor="#ffffff">5 Nov. 2013</td>
</tr>
<tr>
<td bgcolor="#ffffff">March
<span class="s1"><i>Fall Textbook Preview</i></span></td>
<td bgcolor="#ffffff">17 Dec. 2013</td>
<td bgcolor="#ffffff">7 Jan. 2014</td>
</tr>
<tr>
<td bgcolor="#ffffff">May<b></b></td>
<td bgcolor="#ffffff">4 Mar. 2014</td>
<td bgcolor="#ffffff">18 Mar. 2014</td>
</tr>
<tr>
<td bgcolor="#ffffff">October
<span class="s1"><i>Spring Textbook Preview</i><br />Special Topic: Tragedy</span></td>
<td bgcolor="#ffffff">26 June 2014</td>
<td bgcolor="#ffffff">10 July 2014</td>
</tr>
<tr>
<td bgcolor="#ffffff">November
<span class="s1"><i>Convention Program</i></span></td>
<td bgcolor="#ffffff">22 July 2014</td>
<td bgcolor="#ffffff">5 Aug. 2014</td>
</tr>
</table>


Extensions may be possible; please write or call.


<a href="/2014_pmla_ratesheet" onclick="javascript:pageTracker._trackPageview('/downloads/pdf/2014_pmla_ratesheet')" target="_blank">Download 2014 advertising rates and order form.</a>[[[docstudio filetype_tag_pdf]]]

<h2>Journal Information</h2>
<ul>
<li>Trim: 7.5 inches (wide) x 10.5 inches (high)
<li>Printing method: web offset, computer-to-plate
<li>Text stock: 45# white matte-coated paper
<li>Text printing: black ink only
</ul>

<h2>Advertisement Specifications</h2>
<ul>
<li><b>Only ads in electronic form are accepted.</b> All ads should be submitted in <i>Adobe Acrobat</i> PDF and e-mailed to <a href="mailto:aschneider@mla.org">aschneider@mla.org</a>.</li>
<li>Full page: 6" wide x 8.75" high</li>
<li>Half page: 6" wide x 4.25" high</li>
<li>Bleed pages and color are not accepted.</li>
<li>Quarter-page ads are not accepted.</li>
<li>Do not include crop marks or color bars.</li>
</ul>

<a href="/pdf_pmla_adspecs" target="other">Download full instructions and specifications.</a>[[[docstudio filetype_tag_pdf]]]
<h2>Advertising Policy</h2>
<ul>
<li>Ads must not exceed dimensions given above.</li> 
<li>Content and appearance of advertisements are subject to publisher's approval.</li>
<li><b>New advertisers must send payment with their insertion orders.</b></li>
<li>Insertion orders must precede or accompany materials.</li>
<li>Tear sheets will accompany invoice.</li>
<li>The MLA will bill advertisers directly or through an agency; in either case, advertisers are responsible for prompt payment of money due <i>PMLA</i>.</li>
</ul>

Send volume-rate agreements, insertion orders, PDFs, and correspondence to
<blockquote>
Annabel Schneider
Advertising Manager, <i>PMLA</i>
Modern Language Association
26 Broadway, 3rd floor
New York, NY 10004-1789
646 576-5024
<a href="mailto:aschneider@mla.org">aschneider@mla.org</a>
</blockquote>

<i>All electronic advertisement materials must be e-mailed to <a href="mailto:aschneider@mla.org">aschneider@mla.org</a>.</i>

 
