<h1>October 2006 (vol. 121, no. 5)</h1>
<h2>Cover and table of contents</h2>

<img src="/IMAGES/oct06pmla_covlg.gif" width=417 height=591 border=0 alt="PMLA">
<a name="table"></a>
<table width="95%" border="0" align="left">
<TR><td colspan="2">&nbsp;
</td></tr>
<tr align="left" valign="top"> 
<tr align="left" valign="top"> 
<td width="6%">1390</td>
<td width="94%">A Statement of Editorial Policy</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">1390</td>
<td width="94%">Forthcoming in <I>PMLA</I></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">1391</td>
<td width="94%">Features in <I>PMLA</I></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">1393</td>
<td width="94%">Editor's Column: Uprooted Words on a Bookshelf in Chernivtsi</td>
</tr>
<TR><td colspan="2">&nbsp;
</td></tr>
<tr align="left" valign="top"> 
<td width="6%">
&nbsp;</td>
<td width="94%"><img src="/IMAGES/ornament_toc.gif" width=81 height=8 border=0 alt="ornament"></td></tr>
<tr align="left" valign="top"> 
<td width="6%">1405</td>
<td width="94%">Enabling Fictions and Novel Subjects: The <i>Bildungsroman</i> and International Human Rights Law
<i>Joseph R. Slaughter</i></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">1424</td>
<td width="94%">The Other Interesting Narrative: Olaudah Equiano's Public Book Tour
<i>John Bugg</i></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">1443</td>
<td width="94%">Beauty along the Color Line: Lynching, Aesthetics, and the <i>Crisis</i>
<i>Russ Castronovo</i></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">1460</td>
<td width="94%">Native Sons and Native Speakers: On the Eth(n)ics of Comparison
<i>Yung-Hsing Wu</i></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">1475</td>
<td width="94%">Austrian Inner Colonialism and the Visibility of Difference in Stifter's <i>Die Narrenburg</i>
<i>Joseph Metz</i></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">1493</td>
<td width="94%">Traducing the Soul: Donne's <i>Second Anniversarie</i>
<i>Ramie Targoff</i></td>
</tr>
<TR><td colspan="2">&nbsp;
</td></tr>
<tr align="left" valign="top"> 
<td width="6%">
&nbsp;</td>
<td width="94%"><img src="/IMAGES/ornament_toc.gif" width=81 height=8 border=0 alt="ornament"></td></tr>
<TR><td colspan="2"><b>Little-Known Documents</b></td></tr>
<tr align="left" valign="top"> 
<td width="6%">1509</td>
<td width="94%">The First Published Review of Octavio Paz's <i>The Labyrinth of Solitude</i> (1950)
<i>Jos&#233; Vasconcelos
	Introduction and translation by Rub&#233;n Gallo</i></td></tr>
	<TR><td colspan="2">&nbsp;
</td></tr>
<tr align="left" valign="top"> 
<td width="6%">
&nbsp;</td>
<td width="94%"><img src="/IMAGES/ornament_toc.gif" width=81 height=8 border=0 alt="ornament"></td></tr>
<tr align="left" valign="top"> 
<td width="6%">1514</td>
<td width="94%">Editor's Note</td></tr>
<tr align="left" valign="top"> 
<td width="6%">1515</td>
<td width="94%">The Humanities in Human Rights: Critique, Language, Politics 
<i>Papers from a conference held on 21-22 October 2005 at the Graduate Center, City University of New York</i></td></tr>
<TR><td colspan="2"><b>Correspondents at Large</b></td></tr>
<TR><td colspan="2">Human Rights in Latin America</td></tr>
<tr align="left" valign="top"> 
<td width="6%">1662</td>
<td width="94%">Rape and Human Rights
<i>Jean Franco</i></td></tr>
<tr align="left" valign="top"> 
<td width="6%">1665</td>
<td width="94%"><i>Cuando Vienen Matando</i>: On Prepositional Shifts and the Struggle of  Testimonial Subjects for Agency
<i>Alicia Partnoy</i></td></tr>
<tr align="left" valign="top"> 
<td width="6%">1670</td>
<td width="94%">Useful Humanism
<i>Doris Sommer</i></td></tr>
<tr align="left" valign="top"> 
<td width="6%">1674</td>
<td width="94%">Trauma and Performance: Lessons from Latin America
<i>Diana Taylor</i></td></tr>
<TR><td colspan="2"><b>Theories and Methodologies</b></td></tr>
<TR><td colspan="2">Feminist Criticism Today</td></tr>
<TR><td colspan="2">In Memory of Nellie Y. McKay</td></tr>
<tr align="left" valign="top"> 
<td width="6%">1678</td>
<td width="94%">Breaking the Whole Thing Open: An Interview with Nellie Y. McKay
<i>Shanna Greene Benjamin</i></td></tr>
<tr align="left" valign="top"> <td width="6%">1682</td>
<td width="94%">The Case of Lady Anne Clifford; or, Did Women Have a Mixed Monarchy?
<i>Julie Crawford</i></td></tr>
<tr align="left" valign="top"> <td width="6%">1690</td>
<td width="94%"><i>Jouissance</i>, Cyborgs, and Companion Species: Feminist Experiment
<i>Marianne DeKoven</i></td></tr>
<tr align="left" valign="top"> <td width="6%">1697</td>
<td width="94%">The Currency of Feminist Theory
<i>Jane Elliott</i></td></tr>
<tr align="left" valign="top"> <td width="6%">1704</td>
<td width="94%">The Futures of Feminist Criticism: A Diary
<i>Susan Stanford Friedman</i></td></tr>
<tr align="left" valign="top"> <td width="6%">1711</td>
<td width="94%">Feminism Inside Out
<i>Susan Gubar</i></td></tr>
<tr align="left" valign="top"> <td width="6%">1717</td>
<td width="94%">Feminist Deaths and Feminism Today
<i>Astrid Henry</i></td></tr>
<tr align="left" valign="top"> <td width="6%">1722</td>
<td width="94%">Feminist Criticism: A Tale of Two Bodies
<i>Sharon Marcus</i></td></tr>
<tr align="left" valign="top"> <td width="6%">1729</td>
<td width="94%">Notes on the Afterlife of Feminist Criticism
<i>	Sinead McDermott</i></td></tr>
<tr align="left" valign="top"> <td width="6%">1735</td>
<td width="94%">"I Am Not a Feminist, But&nbsp;.&nbsp;.&nbsp;.": How Feminism Became the F-Word
<i>Toril Moi</i></td></tr>
<TR><td colspan="2">&nbsp;
</td></tr>
<tr align="left" valign="top"> 
<td width="6%">1742</td>
<td width="94%">Forum 
<i>Robert F. Fleissner, Richard Kopley, Sean Latham, Barbara Ryan, and Robert Scholes</i></td></tr>
<tr align="left" valign="top"> 
<td width="6%">1745</td>
<td width="94%">Minutes of the MLA Executive Council</td></tr>
<tr align="left" valign="top"> 
<td width="6%">1752</td>
<td width="94%">Index of Advertisers</td></tr>
<tr align="left" valign="top"> 
<td width="6%">1756</td>
<td width="94%">Index of Authors Advertised</td></tr>
<tr align="left" valign="top"> 
<td width="6%">1795</td>
<td width="94%">Abstracts</td></tr>
<tr align="left" valign="top"> 
<td width="6%">1797</td>
<td width="94%">Contents of Volume 121 (2006)</td></tr></table>
