<h1>Placing an Announcement in In Memoriam</h1>
Items for <a href="/in_memoriam">In Memoriam</a>, a listing that appears in the January, March, May, and October issues, as well as online, should be submitted to
<blockquote>
Member and Customer Services
Modern Language Association
26 Broadway, 3rd floor
New York, NY 10004-1789
phone: 646 576-5153
fax:  646 576-5160
<a href="mailto:mreilly@mla.org">mreilly@mla.org</a>
</blockquote>
<BR>

<a href="/forthcoming_meetings">Forthcoming Meetings and Conferences</a> and <a href="/announce_geninterest">Professional Notes and Comment</a>, formerly published in <I>PMLA</i>, are now maintained as members-only features of this Web site.
