<h1><i>PMLA</i> Editorial Board</h1>
Function: Makes final decisions on acceptance of articles for <i>PMLA</i>.

Staff liason: Judy Goulding (<a href="mailto:jgoulding@mla.org">jgoulding@mla.org</a>)

Carlos J. Alonso, Editor, 2000-03
Nancy Armstrong, 2002-04
R. Howard Bloch, 2001-03
Joseph A. Boone, 2001-03
Christie McDonald, 2002-04
Avital Ronell, 2001-03
Patricia Yaeger, 2002-04

<a href="/committees">Committees and Commissions Index</a>
