<H1>Policies for Divisions, Discussion Groups, and Allied Organizations</H1>
This guide describes the policies of MLA divisions and discussion groups—their purpose and function, their structure and formation, and their governance. It also describes MLA policies regarding allied organizations. All correspondence concerning these policies should be sent to the MLA convention office. The e-mail address for the convention office is <a href="mailto:convention@mla.org">convention@mla.org</a>.

<i>As part of its continuing efforts to make the MLA Annual Convention more responsive to members' needs, at its May 2011 meeting the MLA Executive Council began the process of examining the division, discussion group, and allied organization structures. A small group of members headed by MLA officers Marianne Hirsch and Margaret W. Ferguson has been studying the current structures and will make recommendations to the council on how to proceed. The council will then solicit comments from the full membership.

While this study is taking place, over approximately two years, the council will not accept applications for division, discussion group, and allied organization status.</i>

<h2>1. Divisions</h2>
<I>Definition</I>. The MLA divisions encompass the primary scholarly and professional concerns of the association, with each division representing a major area of membership interest. The divisions are not autonomous organizations but are an integral part of the MLA; they have no corporate identity beyond that afforded by the MLA, and they may not use the name of the association for any project or program unless specifically authorized to do so by the MLA Executive Council.

<I>Purpose of the divisions</I>. Divisions promote scholarly and professional activities within their areas of concern. The executive committees of the divisions arrange sessions at the MLA Annual Convention, elect representatives to serve in the MLA Delegate Assembly, and provide information of interest to their members through association periodicals or mailings to division members. Divisions advise appropriate MLA committees on research and pedagogical needs in their fields of interest and may propose to the Executive Council projects that the association might wish to undertake.

<I>Division membership</I>. At the time of paying their annual dues, MLA members have the option of joining up to four divisions. Division membership is maintained as part of a member's record; any member who affiliates with a division is entitled to receive all mailings initiated by the division and vote for members of its executive committee.

<I>Division governance</I>. Divisions are governed by five-member executive committees, which are solely responsible for conducting the division's business. Each committee member serves a term of five convention years and serves as secretary of the division in the third year of that term and as chair in the fourth year. Executive committees may appoint individuals to nonvoting ex officio seats on the committee and appoint such other officers as they deem appropriate, but only the five elected executive committee members are entitled to vote on division business. The committee carries on the major part of its business at a closed committee meeting held during the convention, and thus members who agree to stand for election to an executive committee will normally attend the convention. At other times of the year, executive committees may conduct their business through correspondence initiated by the committee's chair. Periodically the MLA will arrange a meeting at the convention for division executive committees to discuss governance issues and convention programming.

<I>Elections</I>. One new member is elected annually to each division executive committee by mail or electronic ballot. The slate of candidates is established by the division executive committee as follows. Voting members of the division's executive committee are responsible for nominating one candidate for each vacancy on the executive committee and for reviewing all the nominees suggested by the membership at large and choosing from these at least one candidate to be paired with the executive committee's choice. If there are no suggestions from the membership, the executive committee nominates both candidates. Members may suggest nominations by writing or typing in the name of an individual to be considered for nomination in the space reserved for such on the paper ballot for the annual MLA election or at the MLA Web site, by sending a letter to the MLA coordinator of governance naming a potential candidate, or by responding to a solicitation from the executive committee. An executive committee that solicits nominations directly from the division's membership must send relevant documentation to the coordinator of governance. Any individual proposed by ten members must be included by the executive committee on the slate of candidates. (Before their names are placed on the ballot, nominees must agree to accept the nomination.) Only MLA members are eligible for nomination. Seven convention years must elapse before an individual can serve another term on the same executive committee. No member may serve on more than one division executive committee at a given time. Executive committee vacancies arising from death, resignation, or failure to maintain membership in the association will be filled at the next election, provided that the replacement committee member will have the opportunity to serve as division secretary and division chair; two nominees to fill such vacancies are selected by the remaining members of the executive committee.

<I>Responsibilities of the executive committee</I>. The committee, as a committee, is responsible for conducting the following items of business at its closed meeting during the annual convention: (1) electing from the division membership a representative to the Delegate Assembly whenever a vacancy occurs; (2) selecting at least two nominees, as described above, and at least two alternates for election to the executive committee; (3) selecting a current member of the executive committee to assume all or part of the responsibilities of either the chair or the secretary in any year in which the individual whose turn it is to hold that office is unable to serve (e.g., is spending a sabbatical year abroad); (4) planning programs or special projects to promote the division's scholarly or professional concerns and submitting such programs or projects to the MLA office for referral to appropriate MLA committees or to the MLA Executive Council. Unless at least three of the five voting members of a division's executive committee will be present at the meeting held during the annual convention, the above items of business must be conducted through correspondence or a conference call initiated by the committee's chair. If only three or four of the committee's members will be present, the absent member(s) must be consulted before the meeting and their views conveyed to other committee members before votes are taken.

<I>Responsibilities of the chair</I>. During his or her fourth year on the executive committee, a member serves as committee chair, with the following speciﬁc responsibilities: (1) with the advice and consent of other committee members, planning and arranging (i.e., soliciting papers, inviting speakers, etc.) the session(s) sponsored by the division at the annual convention (if a division chooses to appoint a separate program chair, these duties are entrusted to that individual); (2) arranging the committee's closed meeting during the annual convention under the conditions described in the previous paragraph, notifying the members of the committee and MLA headquarters of the time and place of that meeting, and chairing the meeting.

<I>Responsibilities of the secretary</I>. During his or her third year on the executive committee, a member serves as committee secretary, with the following specific responsibilities: (1) throughout the year, handling correspondence directed to the division's executive committee by individual members; (2) forwarding to the MLA office, for referral to appropriate MLA committees or to the Executive Council, proposals for publications or special projects that might be undertaken by the association; (3) reporting to the MLA coordinator of governance at the end of January (by which time the secretary has become the chair) the names of the individuals nominated by the executive committee for election to the committee and the name of the individual elected to represent the division in the Delegate Assembly and reporting to the MLA convention office information about the division's sessions for the next convention.

<I>Participation in division activities</I>. Although anyone who has registered for the annual convention may attend convention sessions arranged by a division, only MLA members may join divisions or participate in their projects and programs.

<I>Division projects</I>. In promoting activities within their divisions, executive committees are encouraged to confer with the MLA staff about proposals for special programs or publications that the association might undertake. The staff will refer these programs or publications to the appropriate MLA committees or to the Executive Council. Proposals might include the preparation of research tools (bibliographies, indexes, guides), textbooks, or periodicals or the arrangement of national or international conferences. A division may also affiliate with a periodical. As part of the affiliation, the editor of the periodical must serve as an ex officio member of the division executive committee and meet annually with the division executive committee. The MLA office must be kept fully informed of all such projects and affiliations.

<I>Division mailing lists</I>. Division mailing lists are the sole property of the MLA. Each division's executive committee is entitled to one free mailing list of its members each convention year. Lists will be rented only for the distribution of material that is of bona fide professional interest. Each convention year division chairs can request an electronic list of the e-mail addresses of the members of their division. (Lists should be requested before 1 Dec.) The electronic list may be used several times during the year as long as the messages are in keeping with the MLA's status as a 501(c)(3) not-for-profit organization and are in keeping with the MLA's purposes. A copy of each message sent using this list must be sent to the convention office for approval before it is sent. If the chair receives requests from members to be taken off the mailing list, the chair must comply immediately. Chairs should note that this list does not contain all members of the division but only those members who have consented to make their e-mail addresses available.

<I>Review of divisions</I>. Divisions are subject to review at periodic intervals by the Program Committee, which is charged by the MLA constitution with responsibility for general supervision over divisions and for making recommendations to the Executive Council concerning their number and the fields represented. Such reviews help the association to ensure continuing responsiveness to changing interests of the membership.

<h2>2. Discussion Groups</h2>
<I>Definition</I>. The MLA discussion groups accommodate the scholarly and professional interests of constituencies within the association concerned with discrete literatures or with literary and linguistic concerns that are not encompassed by one of the divisions. Discussion groups will not be established on individual authors or groups of authors, on themes or motifs, or on periods (or periods within a genre). Like the divisions, the discussion groups are not autonomous organizations but are an integral part of the MLA; they have no corporate identity beyond that afforded by the MLA, and they may not use the name of the association for any project or program unless specifically authorized to do so by the MLA Executive Council.

<I>Purpose of the discussion groups</I>. Discussion groups promote scholarly and professional activities within their areas of concern. The discussion groups arrange sessions at the MLA Annual Convention, advise MLA committees on research and pedagogical needs in their areas of concern, and may propose to the Executive Council projects that the association might wish to undertake.

<I>Discussion group membership</I>. At the time of paying their annual dues, MLA members have the option of joining up to two discussion groups. Discussion group membership is maintained as part of a member's record; any member who affiliates with a discussion group is entitled to receive all mailings initiated by the discussion group and vote for members of its executive committee.

<I>Discussion group governance</I>. Discussion groups are governed by five-member executive committees, which are solely responsible for conducting the group's business. Each committee member serves a term of five convention years and serves as secretary in the third year of that term and as chair in the fourth year. Executive committees may appoint individuals to nonvoting ex officio seats on the committee and appoint such other officers as they deem appropriate, but only the five elected executive committee members are entitled to vote on group business. The committee carries on the major part of its business at a closed committee meeting held during the convention, and thus members who agree to stand for election to an executive committee will normally attend the convention. At other times of the year, executive committees may conduct their business through correspondence initiated by the committee's chair. Periodically the MLA will arrange a meeting at the convention for discussion group executive committees to discuss governance issues and convention programming.

<I>Elections.</I> One new member is elected annually to each discussion group executive committee by mail or electronic ballot. The slate of candidates is established by the discussion group executive committee as follows. Voting members of the group's executive committee are responsible for nominating one candidate for each vacancy on the executive committee and for reviewing all the nominees suggested by the membership at large and choosing from these at least one candidate to be paired with the executive committee's choice. If there are no suggestions from the membership, the executive committee nominates both candidates. Members may suggest nominations by writing or typing in the name of an individual to be considered for nomination in the space reserved for such on the paper ballot for the annual MLA election or at the MLA Web site, by sending a letter to the MLA coordinator of governance naming a potential candidate, or by responding to a solicitation from the executive committee. An executive committee that solicits nominations directly from the group's membership must send relevant documentation to the coordinator of governance. Any individual proposed by ten members must be included by the executive committee on the slate of candidates. (Before their names are placed on the ballot, nominees must agree to accept the nomination.) Only MLA members are eligible for nomination. Seven convention years must elapse before an individual can serve another term on the same executive committee. Executive committee vacancies arising from death, resignation, or failure to maintain membership in the association will be filled at the next election, provided that the replacement committee member will have the opportunity to serve as group secretary and group chair; two nominees to fill such vacancies are selected by the remaining members of the executive committee.

<I>Responsibilities of the executive committee</I>. The committee, as a committee, is responsible for conducting the following items of business at its closed meeting during the annual convention: (1) selecting at least two nominees, as described above, and at least two alternates for election to the executive committee; (2) selecting a current member of the executive committee to assume all or part of the responsibilities of either the chair or the secretary in any year in which the individual whose turn it is to hold that office is unable to serve (e.g., is spending a sabbatical year abroad); (3) planning in broad outline the group's programming for future conventions; (4) planning programs or special projects to promote the group's scholarly or professional concerns and sending proposals to the MLA office for referral to appropriate MLA committees or to the MLA Executive Council. Unless at least three of the five voting members of a group's executive committee will be present at the meeting held during the annual convention, the above items of business must be conducted through correspondence or a conference call initiated by the committee's chair. If only three or four of the committee's members will be present, absent member(s) must be consulted before the meeting and their views conveyed to other committee members before votes are taken.

<I>Responsibilities of the chair</I>. During his or her fourth year on the executive committee, a member serves as committee chair, with the following speciﬁc responsibilities: (1) with the advice and consent of other committee members, planning and arranging (i.e., soliciting papers, inviting speakers, etc.) the session(s) sponsored by the group at the annual convention (if a discussion group chooses to appoint a separate program chair, these duties are entrusted to that individual); (2) arranging the committee's closed meeting during the annual convention under the conditions stated in the previous paragraph, notifying the members of the committee and MLA headquarters of the time and place of that meeting, and chairing the meeting.

<I>Responsibilities of the secretary</I>. During his or her third year on the executive committee, a member serves as committee secretary, with the following specific responsibilities: (1) throughout the year, handling correspondence directed to the executive committee by members of the discussion group; (2) submitting to the MLA office, for referral to appropriate MLA committees or to the Executive Council, proposals for publications or special projects that might be undertaken by the association; (3) reporting to the MLA coordinator of governance at the end of January (by which time the secretary has become the chair) the names of the individuals nominated by the executive committee for election to the committee and reporting to the MLA convention office information about the group's session(s) at the next convention.

<I>Participation in discussion group activities</I>. Although anyone who has registered for the convention may attend the sessions arranged by discussion groups, only MLA members may join discussion groups or participate in their projects and programs.

<I>Discussion group projects</I>. In promoting activities within their groups, executive committees are encouraged to submit to the MLA office, for referral to appropriate MLA committees or to the Executive Council, proposals for special programs or publications that might be undertaken by the association. These proposals might include preparation of research tools (bibliographies, indexes, guides), textbooks, or periodicals or the arrangement of national or international conferences. A discussion group may also affiliate with a periodical. As part of the affiliation, the editor of the periodical must serve as an ex officio member of the discussion group executive committee and meet annually with the discussion group executive committee. The MLA office must be kept fully informed of all such projects and affiliations.

<I>Discussion group mailing lists</I>. Discussion group mailing lists are the sole property of the MLA. Each discussion group's executive committee is entitled to one free mailing list of its members each convention year (lists must be requested by 1 Dec.). Lists will be rented only for the distribution of material that is of bona fide professional interest. Each convention year discussion group chairs can request an electronic list of the e-mail addresses of the members of their discussion group. The electronic list may be used several times during the year as long as the messages are in keeping with the MLA's status as a 501(c)(3) not-for-profit organization and are in keeping with the MLA's purposes. A copy of each message sent using this list must be sent to the convention office for approval before being sent. If the chair receives requests from members to be taken off the mailing list, the chair must comply immediately. Chairs should note that this list does not contain all members of the discussion group but only those members who have consented to make their e-mail addresses available.

<I>Creation of new discussion groups</I>. Members whose interests are not adequately accommodated through the existing divisions and discussion groups may petition the MLA Executive Council, through the Program Committee, for the creation of a new discussion group. Such a petition should (1) justify the need for a discussion group in the area of concern, (2) explain how interest in the subject has developed and cite meetings that give evidence of this interest, and (3) contain the signatures of thirty-five current MLA members. Petitions must be received by 15 May of the year preceding the year in which the discussion group would begin functioning. Petitions will be reviewed by the Program Committee, which will make recommendations to the MLA Executive Council. Approval by the Executive Council would result in a three-year period of provisional status; the group would be reviewed before receiving permanent status.

<I>Discussion groups and divisions</I>. If membership participation in a discussion group increases to such an extent that formation of a division seems justified, a group may, after five years, petition the Executive Council, through the Program Committee, for division status. Such petitions must be signed by one hundred current MLA members. Petitions must describe in detail the history and development of the group and justify the need for a division in the field of concern covered by the group. Petitions must be received by the MLA office by 15 May of the year preceding the year in which the discussion group would begin to function as a division.

<I>Review of discussion groups</I>. Discussion groups are subject to review at periodic intervals by the Program Committee, which is charged by the MLA constitution with responsibility for general supervision over discussion groups and for making recommendations to the Executive Council concerning their number and the fields represented. Such reviews help the association to ensure continuing responsiveness to changing interests of the membership.

<h2>3. Allied Organizations</h2>
<I>Definitions</I>. Allied organizations are learned societies or professional associations whose interests encompass disciplines represented by the MLA and whose purposes and activities are closely allied to those of the MLA. Since many of their members may also be MLA members, holding sessions during the MLA convention helps attract the maximum number of persons who share their interests. Further, these sessions enrich the range and diversity of the convention offerings. Allied organizations are, however, independent of the association and thus may not use the MLA logo or other trademarked material that would suggest MLA oversight or sponsorship.

Allied organizations may arrange one guaranteed session of one hour and fifteen minutes for the convention. Allied organizations also have the possibility of organizing up to two additional sessions; these proposed sessions will be reviewed by the Program Committee (see <a href="/conv_procedures">Procedures for Organizing Meetings at the MLA Convention</a>, sec. 8).

Allied organizations have the opportunity to request space at the convention during the 8:45–10:00 p.m. time slot on Thursday and Saturday for business meetings, social events, or informal networking. The space will be assigned on a first-come, first-served basis and must be requested using the form available on the MLA Web site. The events will only be listed on the MLA Web site (see <a href="/conv_procedures">Procedures for Organizing Meetings at the MLA Convention</a>, sec. 10).

<I>Requests for allied organization status</I>. Qualifying organizations that would like to be considered for allied organization status should submit a written request to the Program Committee, which will make recommendations to the Executive Council. At the time of application, organizations must have been in existence for at least six years and have had in effect for at least six years a constitution or set of bylaws that provides opportunities for all members to participate in the full range of operations of the organization. Before the Executive Council considers an application, a representative of the sponsoring organization must have held special sessions at two or more different MLA conventions.

Requests must include (1) a statement of the organization's purpose, the date the organization was founded, and its reasons for wishing to arrange meetings at the MLA convention; (2) a copy of the organization's constitution or bylaws, with the date of adoption; (3) a sample membership application; (4) a statement of the number of current members; (5) a description of the dues structure; (6) samples of publications and official communications to members over the past four years; (7) details of the special sessions organized by a representative of the organization. In considering whether organizations should be admitted to allied status and whether they should continue as an allied organization, the Program Committee will make qualitative judgments about an organization's scholarly publication(s). Applications must be received by 15 May. Applications will be reviewed in the fall of the year that the application is received. If the organization is granted allied status, program copy may be submitted for the 1 April deadline of the following year. <!--Applications must be submitted online at <a href="/orginfo_aa_appl_form">www.mla.org/orginfo_aa_appl_form</a>.-->

<I>Review of allied organizations</I>. The Program Committee will review the status of each allied organization every seven years; organizations that are due to be reviewed will be notified at least six months in advance and asked to submit the following materials electronically: (1) a brief history of the organization since the last review and a self-evaluation that includes a description and analysis of the organization's general and particular significance, its activities, the stability or growth of its membership, its programs at the MLA convention (including attendance figures), and any other relevant materials; (2) evidence of ongoing activity since the last review; (3) evidence that the organization has involved a large and diverse portion of its membership in its activities, including convention programs. For the Program Committee's periodic review of allied organizations, the electronic listings of sessions organized for the five most recent conventions are available on the MLA Web site.

The result of this review will be either renewal of allied status for another seven years, provisional renewal for a shorter period, or suspension. Organizations not supplying the information requested for review will be suspended. Suspended organizations may appeal to the Executive Council or reapply for allied organization status no sooner than two years from the date of suspension.
