<h1>2012 Presidential Address</h1>
<p><i>The Presidential Address was delivered at the 2012 MLA Annual Convention in Seattle by Russell A. Berman, then president of the association. An audio recording and transcript of his speech, which was introduced by Executive Director Rosemary G. Feal, appear here. The full address will also be published in the May 2012 issue of </i>PMLA<i>.</i></p>

<script type="text/javascript" 
src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"> 
</script> 

<script type="text/javascript" src="/SCRIPTS/jwplayer/jwplayer.js"></script> 

<div style="text-align:center; margin-top:30px; margin-bottom:30px;">
<div id="mediaplayer">Loading the player ...</div> 
</div>
<script type="text/javascript">
jwplayer('mediaplayer').setup({
'flashplayer': '/SCRIPTS/jwplayer/player.swf',
'id': 'playerID',
'width': '400',
'height': '24',
'file': 'http://www.mla.org/files/pres_address_2012.mp3',
'controlbar': 'bottom',
'autostart': 'false',
'allowfullscreen': 'false'

});
</script>

<h2>Teaching as Vocation</h2>

<p>Thank you, Rosemary, for your kind words. It has been a great pleasure to work closely with you during this year, and with your colleagues on the MLA’s senior staff. I want to take this public opportunity to thank you for your vigor and dedication and to recognize how fortunate we are to be able to benefit from the excellence of your team. Thanks as well to the colleagues from the Executive Council, who have taught me a lot. I have benefited as much from your bountiful wisdom as from your tactful guidance. And above all thanks to you, the membership of the MLA, for allowing me to serve as your president this year. In our embattled culture, the MLA remains, more than ever, an indispensable voice defending humanities education and our very special treasure, our calling, the study of languages and literatures. It’s been a great honor to contribute to the defense of this mission of education. Thank you.</p>

<p>Now in my thirty-third year as an MLA member, I find attending this convention as exciting and as animating as ever. What makes the convention glow? Can we analyze the constitutive components of this particular institution of literature? One element, no doubt, is the opportunity to reconnect with friends and colleagues, just as we continue to make new acquaintances with shared interests. Does that mean that it’s all merely a social event? Hardly, but I’d prefer to turn the question around: Why might one cynically diminish the collaborative dimension of scholarship as “merely” social? The answer to the query is a kind of ideology, that garden-variety illusion that scholars, and we humanists in particular, properly work in sublime isolation when, in fact, we are always engaged in teamwork and networking. We reach out to other scholars and to a wider public sphere as well, and the annual convention is one particularly intense venue, our own public sphere, for the fulfillment of that vibrantly collaborative scholarship. Yet the dead weight of old habits can prevent us from recognizing our real lived interdependence; we pretend to work in isolation, but we do not. As a profession we ought to extrapolate and intentionally expand this model of collaboration into the rest of our professional practices—co-teaching, collaborative research, co-authorship of dissertations and articles, of blogs and books, and all the innovative forms of networking that are ensuing from new technologies and the digital humanities. This is already underway. Full speed ahead.</p>

<p>Add to that reality of collaboration another factor regarding the convention, a sense of intellectual invigoration you have all surely felt, and the explanation for which is, like a purloined letter, right in front of us. What is the convention if not the hundreds of individual sessions? They emerge, as you know, through a very decentralized process, driven by members’ diverse research interests, and each session convenes an ad hoc <i>learning community</i> in which presenters get to teach their research to a self-selecting audience of volunteers (no required courses here; it’s all electives). I’ve felt that excitement of the new here in Seattle as much as in other conventions. Congratulations to the many presenters—especially new scholars speaking here for the first time. You’re the promising future. We all benefit from encountering innovative thinking at convention sessions, which in turn animates our own thoughts and feeds back into our  teaching—see Marx, “Theses on Feuerbach,” Nr. 3, “It is essential to educate the educator.”  There’s a forceful flow of ideas from MLA convention sessions back into our classrooms, a useful example of how our <i>research sharing</i> enhances the <i>student learning</i> that we hope to enable. </p>

<p>Those classrooms are after all our primary concern. We are, as professional scholars, first and foremost teachers. It is thus our obligation to defend teaching, the quality of student learning and education that I want to address this evening, teaching as our vocation.</p>

<p>The MLA Constitution makes our purpose explicit: “to promote study, criticism, and research in the more and less commonly taught modern languages and their literatures and to further the common interests of teachers of these subjects.” Our responsibility is clear: the defense of teachers and teaching, the quality of student learning, and research and education in languages and literatures. In these times we need to act because these values are under attack. Many scholars, including some of you in this room, have written cogently on this topic. It is not my intention to summarize that discussion but instead to look ahead and to ask: how can we respond, both in the MLA and on the local level in our institutions?  These are dangerous times, politically and culturally, and respond we must.</p>

<p>Our response has to involve a thorough-going defense of education, the importance of teaching, and the quality of student learning opportunities. Directing an assertive rhetoric toward external adversaries—budget cutters or critics of the humanities—is vital. Be bold. Yet directing the same advocacy for education internally, toward ourselves with regard to our professional practices, has some significant implications, which we should be brave enough to face in their full consequences.</p>

<p><i>What connects us all is <b>teaching</b></i>. This primacy of teaching implies, however, the need for a recalibration of the relationship between teaching and research at all career stages, in graduate education, in hiring, and in promotion. We know that significant numbers of doctorate recipients do not end up pursuing faculty careers, and we should modify our programs to serve them better. However, that core component of graduate education defined in terms of preparing future faculty should place greater emphasis on the preparation of future teachers.  It is not responsible to send, whether in our words or our deeds, the message to graduate students that teaching is just a casual afterthought to research.</p>

<p><i>What connects us <b>all</b> is teaching</i>: that is, the full faculty, in the broadest sense, the whole set of all scholars who provide instruction to students in our departments and programs. At stake here is the invidious divide between tenure-line and non-tenure-track faculty, or between professorial and lecturer faculty. However the terminology varies over multiple circumstances, we have to confront the scandalous open secret of American higher education: the greater the importance of teaching in one’s job description, the lower the compensation and job security. This is wrong.</p>

<p><i>What <b>connects</b> us all is teaching</i>. In this past year, we have seen threats to education at all levels: in many individual institutions, in state capitals, and in Washington, D.C. We have seen a public denigration of humanistic learning, and a culture of shrill hostility toward teachers and teacher organizations. We have to respond to this aggression against learning by making common cause with teachers throughout the education system; attacks on K–12 teachers are attacks on us. The reality of social hierarchy that translates into prestige differentials among types of educational institutions should not prevent the articulation of a common agenda. We are all teachers; our students are all learners. If education is slashed, we all bleed. So it is up to us to make the public case. If we teachers do not defend literacy, if we do not defend languages and literatures, if we do not defend learning, who will?</p>

<p>Of course, allies are welcome. There’s plenty of room in this good fight. But I want to convey to you a deep confidence that the MLA, the association in all of its component complexity, its leadership, its committees, and its members, recognizes the challenges we face and the urgency of action called for. I call on all members to participate in the defense of education under assault.</p>

<p>In late November, the Executive Council adopted a statement condemning police violence against demonstrators at some University of California campuses and calling for “responsible parties [to] bear the consequence for the actions and their errors of judgment.” The statement was distributed promptly to all members. A wave of responses followed, overwhelmingly supportive of the council. Here’s a sampling: “Glad to read this and know that the MLA stands for values that should not be trampled.”  From a colleague in Mexico “I totally agree [with] this statement. It should be an expression of [. . .] university communities all over the world.” From a Canadian colleague: “Thank you [. . .]. I just wanted to bring to your attention that the same exact problem occurred here in Montreal at McGill University on November 10.” And from a colleague self-identifying only as an alum and former instructor at UC Davis, “Thank you.” A lesson to us: let us not lose sight of the international dimension of our challenges. We should build links to teacher organizations in other countries.</p>

<p>In that international spirit, I draw your attention to another council statement, “Learning Another Language: Goals and Challenges,” in which the MLA “calls for the development of programs to provide every American college graduate with advanced fluency in a nonnative language.” Despite our long-standing commitment to modern languages, this was, frankly, the first time the MLA took such a firm stance on language learning policy. Speaking as a member from the languages side of the association, I am grateful for strong support from colleagues from English departments.  Against the wave of anti-language and anti-immigrant xenophobia, the MLA now stands for a vision of what I have called universal bilingualism.</p>

<p>Last year’s Delegate Assembly passed a resolution on a closely related matter which was ratified by the membership in June: an endorsement of legislation then known as the DREAM act to provide opportunities to undocumented residents to seek legal status by attending institutions of higher education. With that, the MLA weighed in on the ongoing US immigration debate, and we can be proud of the stance we adopted.</p>

<p>We should be equally proud of the guidelines prepared by the Committee on Contingent Labor in the Profession, “Professional Employment Practices for Non-Tenure-Track Faculty Members.” Please familiarize yourselves with it. It goes to the very heart of a comprehensive understanding of education: we are all teachers. </p>

<p>We cannot be effective advocates for, in the language of our Constitution, “the common interests of teachers,” unless we work to correct the unequal treatment accorded to non-tenure-track colleagues, who now make up a majority of higher education faculty. Using the “Professional Employment Practices” document would be an important first step. Please find it on our Web site and apply it in your institutions.</p>

<p>Some issues are structural—compensation and security of employment—and will require engagement with college or university administration: we should engage. Other issues are just plain offensive—here are just two examples I have heard reported: when department chairs discriminate against non-tenure-track colleagues in the distribution of supplementary summer teaching opportunities or, adding insult to injury, when lecturers have less access to athletic facilities than do tenure-line faculty. These kinds of inequality are intolerable, and it is incumbent on all of us, of whatever rank, to work toward a culture of equality among teachers.</p>

<p>Through our documents, we have declared our values well. Now, however, we should explore ways to go further by developing new modes of practice. The objection that policies and budgets are in the hands of college or university administration should not excuse quietism on our part. The inertia of a bad reality cannot be grounds to forgo efforts to change it. Facing the <i>apparent juggernaut of administration, government, and market, that troika of pseudo-objectivity</i>, we have to carve out dimensions of freedom that allow for our political action. That our actions will not always be successful is undeniable. Then we will just take a deep breath, and we will try again to win. All that is certain is that if we refuse to act, we will definitely lose—but we must not refuse: the future of what we value, language and literature, words and imagination, humanistic study, and genuine learning depends on our vigilance.</p>

<p>Beyond interpreting the world, can we change it? Beyond what we say, what can we do? I want to discuss three arenas in which new models of practice have been emerging: first, a strategy for the MLA to engage directly in the transformation of departments, particularly with regard to the language discussion; second, openings for the MLA to act politically in coalitions regarding government policies; and finally, opportunities to lead higher education toward a timely reform of doctoral programs. </p>

<h3>The Language Question</h3>
<p>In response to attacks on language departments, the MLA has, as noted already, called for advanced language learning for all students, not only for language majors. At stake is a fundamental value in humanistic education but also a question of vital importance for the culture at large: can we recognize the diversity of languages and traditions among which we live? Every language class is a blow against English-only parochialism. </p>

<p>Let us remember the context. According to the National Foreign Language Center, some 80% of the US population is monolingual. Immigrant populations and heritage speakers probably make up the bulk of the rest.  Americans are becoming a nation of second-language illiterates, thanks largely to the mismanagement of our educational system from the Department of Education on down. In the European Union, 50% of the population older than 15 reports being able to carry on a conversation in a non-native language, and the EU has set a goal of two non-native languages for all its citizens. </p>

<p>Second language learning enhances first language understanding: many adults can recall how high school Spanish, French, or German—still the three main languages offered—helped them gain a perspective on English—not only in terms of grammar but also through insights into the complex shift in semantic values across cultural borders. For this reason, we in the MLA should rally around a unified language learning agenda: teachers of English and teachers of other languages alike teach the same students, and we should align our pedagogies to contribute cooperatively to holistic student learning. We are all language teachers. For this reason, I call on English departments to place greater importance on second language knowledge, perhaps most optimally in expectations for incoming graduate students. Literature in English develops nowhere in an English-only environment; writing in any language always takes place in a dialectic with others. With that in mind, I want to express my gratitude to the American Studies Association for recently adopting a statement supportive of the MLA’s advocacy for language learning. </p>

<p>In 2007, the MLA Ad Hoc Committee on Foreign Languages issued its report “Foreign Languages and Higher Education: New Structures for a Changed World,” with specific recommendations to transform academic programs. Part of the prospective change involves curricular redesign around a complexly cultural rather than exclusively literary-historical course plan, while another part focuses on addressing the “two-tiered system,” i.e., the divide between tenure-track and lecturer faculty. </p>

<p>That was the statement; here is the deed. During 2011 the MLA began to develop a plan of action to implement these recommendations directly. A group of distinguished language scholars led by former MLA President Catherine Porter has begun to devise a program through which the MLA—and hopefully in partnership with the ADFL—will collaborate with individual departments intent on undertaking reforms to strengthen their positions within their respective institutions and to build more successful programs. A pre-convention workshop here in Seattle launched the project. Much refining is to be done, and, hopefully, funding sources identified. I highlight this project now as an example of how the MLA can pursue its mission through deeds as well as words, via partnerships with cooperating departments to redesign programs. </p>

<h3>The Ways of Washington</h3>
<p>We have few friends in Washington. One of them is Representative Rush Holt, who has repeatedly gone to the mat for language learning. In 2011, together with his New Jersey colleague Senator Frank Lautenberg, he submitted the “Foreign Language Education Partnership Program Act.” It proposes providing $50 million to support sequenced language study programs in K–12 in partnerships with higher education and would develop cohorts of high school seniors with strong second language skills. With programs like this, the situation of modern language study in US higher education would be different indeed. Let’s wish Representative Holt success on this, his third try.</p>

<p>Unfortunately we are moving in the opposite direction. For FY 2012, the Fulbright-Hays program is down to half its 2010 level; the Fund for the Improvement of Postsecondary Education (FIPSE) will lose more than 80% of its FY 2011 funding; and the Foreign Language Assistance Program (FLAP), the sole federal program to support second language learning in K–12, will be zeroed out. Neither house of congress nor the administration defended it. While the President and the Secretary of Education sometimes make positive remarks about language learning in perfunctory statements, neither has shown any serious interest in genuinely supporting second language acquisition programs with real follow-through. All in all, foreign languages receive a grand total of 0.1% of the Department of Education’s discretionary budget.</p>

<p>In this hardball arena, the MLA acts politically through lobbying organizations. Thanks especially to our participation in the National Humanities Alliance and the Coalition for International Education, we were able to prevent bad outcomes from being even worse. Acting politically means acting with others with whom we share some interests. In coming years, we will need to strengthen such coalition ties even more, as we move into a harsh era likely to grow even more hostile to teaching and learning.</p>

<p>That grim challenge to the value of education is already at the door: the assessment movement will require an education-wide response, a coalition politics of English and foreign language, higher education and K–12.  Committed to student learning, we cannot and should not ignore the calls to demonstrate evidence of student growth, even if we might question the value of particular metrics. Committed, however, to the integrity of teaching and the “common interests of teachers,” we are rightly wary of tendencies to erode the professional standing of the teacher in any classroom. Teachers should be able to teach from their strengths, with intelligence and creativity, and not face constraints to teach to a test. Yet just such constraints result directly from Secretary Duncan’s signature program, “Race to the Top,” the uncannily familiar sequel to “No Child Left Behind.” Its linchpin has been the pressure to adopt the “Common Core State Standards,” which mandate specific learning goals in English and math. The exclusive focus on those two subject areas pushes other topics, such as languages, out of the curriculum. </p>

<p>Yet what have the Standards done for English? They have redefined success away from literary reading, substituting a model of technical competence. Making high school students “college ready” in terms of literacy now means preparing them to read a social science textbook accurately. A first-year undergraduate at Stanford, a recent graduate of a US high school, told me this fall that she likes the “information” (her term) in her humanities class, but she dislikes what her instructors do with it, i.e., interpretation and discussion. That perspective accurately reflects her experience in contemporary high school English courses redefined by the Standards.</p>

<p>In the language of Critical Theory, one might describe this shift as the domination of instrumental over communicative reason. In the language of Washington, one speaks, perhaps more clearly, in terms of turning student learning into a business opportunity for education entrepreneurs.  In the crisp words of Secretary Duncan’s chief of staff, Joanne Weiss, writing for the <i>Harvard Business Review</i>, “The development of common standards and shared assessments radically alters the market for innovation in curriculum development, professional development, and formative assessments. Previously, these markets operated on a state-by-state basis, and often on a district-by-district basis. But the adoption of common standards and shared assessments means that education entrepreneurs will enjoy national markets where the best products can be taken to scale” (Weiss).</p>

<p>A purposeful standardization of education is under way, driven less by a concern with students than with product placement for testing agencies. The end game could include a multiple-choice test at the end of every grade. Nor should we in higher education imagine that this form of repressive accountability will apply only to the K–12 environment. Unless we teachers act to seize control of assessment and accountability in language and literature education, we may eventually see one-dimensional national metrics and a national curriculum imposed at the college level as well.  I am confident that we can do it better, but it is up to us to take the initiative.</p>

<p>A defense of authentic standards would mean upholding the dignity and quality of teaching. This is the policy challenge that looms on our horizon. We are all teachers. We should be standing with our teacher-colleagues in K–12 who have been subjected to so much vilification this year and who are already facing the imposition of the Standards. To do so means strategic collaborations and coalitions with associations dedicated to K–12 and college-level teaching and with organizations representing educators’ labor interests.</p>

<h3>Doctoral Education and Employment Possibilities</h3>

<p>The crux of the matter however is graduate education in our fields. Not all doctorate recipients will become faculty members, but all future faculty members will come out of graduate programs. Do these programs serve the needs of all graduate students well?</p>

<p>In light of the rate of educational debt carried by humanities doctoral recipients, twice that of their peers in sciences or engineering; in light of the lengthy time to degree in the humanities, reaching more than nine years; and in light of the dearth of opportunities on the job market, the system needs significant change. This is our responsibility. In the time remaining this evening, I want to begin to sketch out an agenda for reform.</p>

<p>The major problem on all of our minds is the job market, the lack of sufficient tenure-track openings for recent doctorate recipients. One response I have heard is the call to reduce the flow of new applicants for jobs by <i>limiting access</i> to advanced study in the humanities. If we prevent some students from pursuing graduate study—so the argument goes—we will protect the job market for others. I disagree with this plan. </p>

<p>Let us not lose sight of the fact that the number of new Ph.D.’s in languages and literatures has already declined significantly, down about 10% from a recent peak in the 1990s. Because that drop hardly matches the 32% decline in job listings since 2007-08, however, the problem is not too many scholars: it is too few tenure-track positions. I fear that any call to reduce doctoral programs will end up limiting accessibility and diversity, while playing into the hands of budget-cutters wielding blunt instruments. US education needs more teaching in our fields, not less, and therefore more teaching positions. These too would be real shovel-ready jobs, the crucial ones for a knowledge-based society.</p>

<p>Instead of asking that you lock your doors behind the last class of admitted students,  I appeal to those of you involved in the structure of doctoral programs to consider how to keep them open by making them more affordable and therefore more accessible. Can we redesign graduate student learning in the face of our changed circumstances?</p>

<p>Reform has to go to the core structures of our programs. Let me share two pertinent experiences I’ve had recently at Stanford.</p>

<p>Thanks to a seed grant from the Teagle Foundation, I was fortunately able to experiment with a program for collaborative faculty-graduate student teaching. In our umbrella grouping of the language departments, we set up small teams—one faculty member and two graduate students from each language—to develop and deliver new undergraduate courses, against the backdrop of a common reading group on current scholarship on student learning and other issues in higher education. The graduate students developed their profiles as teachers of undergraduate liberal arts. Teaching experience is only going to grow more significant as a criterion in hiring, and we should, in our departments, explore how to transform our programs to prepare students better as future humanities teachers of undergraduates. I encourage all departments to experiment with new modalities of collaborative graduate student-faculty teaching teams that are precisely not traditional TA arrangements.</p>

<p>Support from Stanford’s Center for Teaching and Learning has led to an ad hoc project on “Assessing Graduate Education,” a twice-a-quarter discussion group to which all faculty and graduate students have been invited. German Studies graduate student Stacy Hartman organized an excellent survey of best practices, which has become the center of a vigorous discussion. My point now is not to dwell on the particular issues—teaching opportunities, examination sequencing, quality of advising, professionalization opportunities, etc.—but to showcase the potential in every department of a <i>structured public discussion forum</i> on the character of doctoral training. I advise all doctoral programs to initiate similar self-reflective discussions, not limited to members of departmental standing committees but open to all faculty members of all ranks and graduate students. <i>Build the departmental public spheres and ask the questions:</i> What works in our programs, what could be better? </p>

<p>At nine years (according to the <i>Survey of Earned Doctorates</i>), average time to degree in our fields is excessive. We should try to cut that in half. I call on all departments with doctoral programs to scrutinize the hurdles in the prescribed trajectories: are there unnecessary impediments to student progress? Is the sequencing of examinations still useful for students? Accelerating progress to completion will, moreover, depend on better curriculum planning and course articulation, as former MLA President Gerald Graff emphasized in his convention address three years ago. We should plan course offerings with reference to student learning needs in order to expedite student progress. Curricular and extracurricular professionalization opportunities should take into account the multiple career tracks that doctorate recipients in fact pursue—this means the real diversity of hiring institutions, the working conditions of faculty members at different kinds of institutions, non-teaching careers in the academy as well as non-academic positions. Can we prepare students better for all of these outcomes? Finally, we have to reinvent the conclusion of doctoral study.  As last year’s President Sidonie Smith reminds us, the dissertation, as a proto-book, need not remain the exclusive model for the capstone project. This piece is crucial to the reform agenda.</p>

<p>Reforms similarly should respond to the new technologies and new media, reinventing scholarship in the age of the digital humanities. We are moving away from the traditional gate-keeping institutions and their conventional practices, just as we are saying good-bye to those aristocratic illusions that the humanities are prohibited from having practical consequences or that scholarship is somehow diminished by entering the democratic public sphere.  In that spirit, we should recognize the signal importance of the MLA’s having established an office of scholarly communication that will open doors to new research practices, teaching strategies, genres of writing, forms of collaboration, and venues to present our work to diverse publics. This represents an important step that the MLA has taken this year toward building a new profession. </p>

<p>The model of the scholar as exclusively an isolated researcher, trapped in an iron cage of specialization, has lost its stifling grip on humanistic learning. In the midst of the current crisis, replete with danger, our state of emergency, we have a chance to move forward boldly into a new professional culture: new practices to encourage collaboration, that cross the divide between the academy and the public, between high and low, and that place, above all, the student learning enterprise at the center: students are the public we face in every class. To pursue the centrality of humanities education in contemporary culture requires a model of scholarship less hermetic than in the past, less inwardly directed, one that is more, not less accessible: a humanities accessible to humanity. Facing the crisis means that we should elaborate—no, it means that we are already elaborating a democratic project through the new means of communication, a broader engagement with the public, and a rededication to the priority of the student learning that we teachers can recognize as our very own vocation. </p>

<p style="text-align:right;"><i>Russell A. Berman</i></p>

<h3>Work Cited</h3>

<p>Weiss, Joanne. “The Innovation Mismatch: ‘Smart Capital’ and Education Innovation.” <i>Harvard Business Review</i>. HBR Blog Network, 31 March 2011. Web.</p>
