<h1>MLA Presidential Addresses</h1>

<b><a href="/pres_address_2013">2013 Presidential Address</a></b>[[[docstudio filetype_tag_txt]]] <img src="/IMAGES/radio_speaker.gif" width="15" height="14" alt="Listen" align="absmiddle">

<b><a href="/pres_address_2012">2012 Presidential Address</a></b>[[[docstudio filetype_tag_txt]]] <img src="/IMAGES/radio_speaker.gif" width="15" height="14" alt="Listen" align="absmiddle">

<b><a href="/pres_address_2011">2011 Presidential Address</a></b> <img src="/IMAGES/radio_speaker.gif" width="15" height="14" alt="Listen" align="absmiddle">

<b><a href="/pres_address_2009">2009 Presidential Address</a></b> <img src="/IMAGES/radio_speaker.gif" width="15" height="14" alt="Listen" align="absmiddle">

<b><a href="/pres_address_2008">2008 Presidential Address</a></b> <img src="/IMAGES/radio_speaker.gif" width="15" height="14" alt="Listen" align="absmiddle">

<b><a href="/pres_address_2007">2007 Presidential Address</a></b> <img src="/IMAGES/radio_speaker.gif" width="15" height="14" alt="Listen" align="absmiddle">

<b><a href="/pres_address_2006">2006 Presidential Address</a></b> <img src="/IMAGES/radio_speaker.gif" width="15" height="14" alt="Listen" align="absmiddle">
