<h1>Preserving Research Collections</h1>
<h2>Introduction</h2>
Imagine a historian opening a late nineteenth-century text and helplessly watching as the title page breaks in her hand. Imagine another scholar, ten years from now, inserting a disk containing an important document into the computer and reading only a "fatal error" message on his screen. These two examples illustrate the Janus-like preservation challenge faced by research libraries today: fragility of the print past and volatility of the electronic future. To preserve the past, libraries must treat millions of books and other materials that are in danger of becoming unreadable because of the deterioration of the media on which they are produced. To preserve the future, they must contend with a new electronic culture in which the life span of both hardware and software used to create, store, and access digital information is potentially very short. While this challenge confronts all libraries, archives, and other depositories, the problems are most critical in the nation's larger research libraries. This report focuses on these libraries' strategies for maintaining access to scholarly resources in their original physical form or in new information formats. Like the ancient Roman god Janus, research libraries in their preservation efforts face in opposite directions at once: they must preserve the legacy of the past in the form of millions of deteriorating printed volumes, and they must respond to the needs of the future by ensuring the long-term accessibility of digital information in a rapidly changing technical environment.

<a href="/preserving_col2">Continue ></a>
