<h1>Preserving Research Collections</h1>
<h2>Notes</h2>
<a name="note1">1.</a> Anthony M. Cummings et al., <I>University Libraries and Scholarly Communication: A Study Prepared for The Andrew W. Mellon Foundation</I> (Washington: Association of Research Libraries, 1992), 1. 

<a name="note2">2.</a> Sheila Dowd, "Alexandria Revisited: Another Look at Space and Growth," in <I>Collection Management: Current Issues</I>, ed. Sarah Shoemaker (New York: Neal-Schuman, 1989), 65. 

<a name="note3">3.</a> Sara E. Wilson, "The American Century: Arthur Schlesinger, Jr., Opens Our Past," <I>Humanities</I> 19, no.6 (1998): 15. 

<a name="note4">4.</a> <I>Brittle Books: Reports of the Committee on Preservation and Access</I> (Washington: Council on<I> </I>Library Resources, 1986), 7. 

<a name="note5">5.</a> George J. Soete, <I>Issues and Innovations in Preserving Digital Information</I>, Transforming Libraries no. 5, SPEC Kit 228 (Washington: Association of Research Libraries, 1997), 5. 

<a name="note6">6.</a> Gay Walker, Jane Greenfield, John Fox, and Jeffrey S. Simonoff, "The Yale Survey: A Large-Scale Study of Book Deterioration in the Yale University Library," <I>College & Research Libraries</I> 46 (1985): 111-132. 

<a name="note7">7.</a> "Report of a Condition Survey in the Western European Local History Collection" (Cambridge, Mass.: Harvard University Library Preservation Office, 5 May 1994). 

<a name="note8">8.</a> <I>Brittle Books</I>, 8. 

<a name="note9">9.</a> See <I>Preserving Digital Information: Report of the Task Force on Archiving of Digital Information Commissioned by the Commission on Preservation and Access and the Research Libraries Group</I> (Washington: Commission on Preservation and Access, 1996). See also Jeff Rothenberg, "Ensuring the Longevity of Digital Documents," <I>Scientific American,</I> Jan. 1995, 42-47. 

<a name="note10">10.</a> <I>Brittle Books</I>, 9. 

<a name="note11">11.</a> The 1992 revision of the <I>American National Standard for Information Sciences: Permanence of Paper for Printed Library Materials, ANSI/NISO Z39.48-1992</I> (Washington: National Information Standards Organization, 1992) applies to both coated and uncoated paper and covers not only printing papers but also computer, photocopy, and other papers that are used for publications that will be acquired by libraries or archives. 

<a name="note12">12.</a> Lisa Fox, ed.,<I> Preservation Microfilming: A Guide for Librarians and Archivists</I>, 2nd ed. (Chicago: American Library Association, 1996), 13. 

<a name="note13">13.</a> Martha Kyrillidou, Michael O'Connor, and Julia C. Blixrud, comps. and eds., <I>ARL Preservation Statistics 1996-97</I> (Washington: Association of Research Libraries, 1998), 15. 

<a name="note14">14.</a> Jan Merrill-Oldham, Carolyn Clark Morrow, and Mark Roosa, <I>Preservation Program Models: A Study Project and Report</I> (Washington: Association of Research Libraries, 1991), 16. 

<a name="note15">15.</a> Donald K. Sebera, "A Graphical Presentation of the Relationship of Environmental Conditions to the Permanence of Hygroscopic Materials and Composites," in <I>Proceedings of Conservation in Archives: International Symposium, Ottawa, Canada, May 10-12, 1988</I> ([Ottawa]: National Archives of Canada, 1989). Sebera's research documents the years of shelf life paper gains when temperature and relative humidity are lowered. 

<a name="note16">16.</a> Recent studies show that still lower temperatures and humidity will provide an optimal environment for preserving print collections. Although improving environmental conditions can be very expensive, carefully controlled temperature and humidity are now standard specifications for both new and renovated library buildings. Several off-site storage facilities built in the last five years or currently under construction are designed to store print materials at 50-55 degrees Fahrenheit and 35-40% relative humidity. 

<a name="note17">17.</a> Merrill-Oldham, Morrow, and Roosa, 16. 

<a name="note18">18.</a> Kenneth E. Harris, "Library of Congress Mass Deacidification Program," <I>ARL: A Bimonthly Newsletter of Research Library Issues and Actions</I> no. 199 (Aug. 1998): 7. 

<a name="note19">19.</a> Dan Hazen, Jeffrey Horrell, and Jan Merrill-Oldham, <I>Selecting Research Collections for Digitization</I> (Washington: Council on Library and Information Resources, 1998), 1. 

<a name="note20">20.</a> Peter Robinson, <I>The Digitization of Primary Textual Sources</I> (Oxford: Oxford University Office for Humanities Communication, 1993). 

<a name="note21">21.</a> L. Suzanne Kellerman and Rebecca Wilson, <I>Digitization Technologies for Preservation</I>, SPEC Kit 214 (Washington: Association of Research Libraries, Office of Management Studies, 1996), 2. 

<a name="note22">22.</a> Nancy E. Gwinn, "Mapping the Intersection of Selection and Funding," in <I>Selecting Library and Archive Collections for Digital Reformatting: Proceedings from an RLG Symposium Held 5-6 November 1995 in Washington, D.C.</I> (Mountain View, Calif.: Research Libraries Group, 1996), 59. 

<a name="note23">23.</a> Review and Assessment Committee, <I>Final Report</I> (Washington: Commission on Preservation and Access, 1991), 12. 

<a name="note24">24.</a> Modern Language Association of America, "Statement on the Significance of Primary Records," <I>Profession 95</I> (New York: Modern Language Association, 1995), 27-28. 

<a name="note25">25.</a> Cummings et al., 103. 

<a name="note26">26.</a> Dan C. Hazen, "Preservation in Poverty and Plenty: Policy Issues for the 1990s," <I>Journal of Academic Librarianship</I> 15 (1990): 347. 

<a name="note27">27.</a> Kenneth E. Carpenter and Richard F. Thomas, eds., "Widener Library: Voices from the Stacks," special issue of <I>Harvard Library Bulletin</I> 6 (fall 1995). 

<a name="note28">28.</a> Barclay Ogden, "On the Preservation of Books and Documents in Original Form," in <I>Commission on Preservation and Access Report</I> (Washington: Commission on Preservation and Access, Oct. 1989). The paper explores the selection strategies for preserving books and documents in original form. 

<a name="note29">29.</a> Jo Thomas, "Digitized Artifacts Are Making Knowledge Available to All, On Line," <I>New York Times,</I> 29 Nov. 1998, sec. 1, p. 29. 

<a name="note30">30.</a> Hazen, Horrell, and Merrill-Oldham, v. 

<a name="note31">31.</a> Clifford A. Lynch, "The Role of Digitization in Building Electronic Collections: Economic and Programmatic Choices," in <I>Selecting Library and Archive Collections for Digital Reformatting: Proceedings from an RLG Symposium Held 5-6 Nov. 1995 in Washington, D.C.</I> (Mountain View, Calif.: Research Libraries Group, 1996), 7. 

<a name="note32">32.</a> Deanna B. Marcum, "We Can't Save Everything," <I>New York Times</I>, 6 July 1998, sec. A, p. 15. 

<a name="note33">33.</a> Julia Blixrud, "Preservation Expenditures Level; Microfilming, Staffing Decline," <I>ARL: A Bimonthly Newsletter of Research Library Issues and Actions</I> no. 201 (Dec. 1998): 14. 

<a name="note34">34.</a> Kyrillidou, O'Connor, and Blixrud. 

<a name="note35">35.</a> John Michael Bruer, "Digital Imaging and a Balanced Preservation Program," <I>Microform & Imaging Review</I> 27, no. 1 (1998): 19.

<a href="/repview_preservingcol">< Index</a>
