<h1>Preserving Research Collections</h1>
<h2>Responses to the Preservation Challenge</h2>
Preservation at the turn of the century is a rapidly changing enterprise that builds on several decades of success in creating the infrastructure at both the national and institutional levels to support systematic, efficient, and sustained preservation investment. Among the most significant recent developments are:
<UL>
<li>building a coalition of key national stakeholders to advance preservation;
<li>launching a nationwide program to address the brittle books crisis;
<li>implementing state, regional, national, and international cooperative projects;
<li>improving the capacity of research libraries to preserve the nation's cultural heritage;
<li>increasing financial support at the institutional and national levels;
<li>establishing professionally managed preservation programs that are now a basic feature of research libraries;
<li>expanding the range of preservation strategies, improving efficiency, and streamlining preservation treatments; 
<li>exploring digitization as a preservation technology;
<li>developing standards for permanent paper and for preservation microfilming; and
<li>fostering research and development efforts to address scientific or technical preservation problems.
</UL>  

There are three essential arenas for advancing preservation: national, collaborative, and institutional.  

<h3>1. Success of National Efforts</h3> 
A complex web of individual research libraries, national organizations and associations, and federal agencies has shaped the American preservation program. Together these diverse organizations have made a substantial investment in cooperative programs to preserve research materials. Key organizations include the Association of Research Libraries (ARL); the Council on Library and Information Resources (formerly the Commission on Preservation and Access and the Council on Library Resources); the American Library Association; the Library of Congress; the National Endowment for the Humanities (NEH), especially its Division of Preservation and Access; the National Humanities Alliance; and the Research Libraries Group (RLG).  

A centerpiece of the national strategy is the effort to address the problem of brittle books. Of the nearly 80 million volumes printed on acidic paper in research library collections, about 12 million are unique titles. Approved by Congress in 1989, the Brittle Books Program is envisioned as a 20-year effort to save three million of these endangered unique volumes. Its overarching goal is to "create, in effect, a new national library of preserved materials" through large-scale cooperative preservation microfilming.<SUP><A HREF="preserving_col10#note10">10</A></SUP> The intent is to capture the intellectual content of brittle books and journals that have deteriorated to a stage where reformatting is necessary. This nationwide program for brittle books has been conducted under the aegis of and with support from the NEH. In an extraordinary partnership, the NEH has funded a series of collaborative projects in libraries and archives. The track record of the Endowment's preservation efforts is impressive--approximately 850,000 embrittled volumes have been reformatted to date. The preeminent role of the NEH in funding preservation microfilming projects has placed special emphasis on humanities research collections.  

The NEH also funds the national initiative to catalog and preserve on microfilm the country's newspapers on a state-by-state basis. All 50 states, two U.S. territories, and the District of Columbia are now involved in the NEH United States Newspaper Program. At the conclusion of currently funded NEH newspaper projects, catalog records for more than 245,000 newspaper titles will be available in a national database, and approximately 55 million deteriorating newspaper pages will have been transferred to microfilm. 

Retrospective solutions have been accompanied by a search for prospective solutions to the brittle books problem. Working with scientists and the paper industry, a national coalition of library organizations, government agencies, and professional librarians and archivists has worked to find an alternative to acidic paper, so that newly published texts will not deteriorate over short periods of time. Using the results of scientific paper research, standards for permanent and durable alkaline paper were developed.<SUP><A HREF="preserving_col10#note11">11</A></SUP> The North American and European publishing communities responded to the call for use of permanent paper, and most scholarly monographs and journals have been printed on permanent paper for the past 15 years. In 1990, the federal government took the important step of requiring permanent paper in all government publications of enduring value. Finally, for primarily economic reasons, the paper industry has changed to production of alkaline paper. Taken together, these developments have halted the use of acidic paper for most scholarly texts in North America and Europe, but many of the publications from other countries continue to be printed on acidic paper. While success in containing the problem of acidic books in some regions of the world is encouraging, more remains to be done. 

Public awareness of the preservation problem has been increased by such films as <I>Slow Fires</I> and <I>Turning to Dust</I>, and by expanded media coverage of preservation topics. The <I>New York Times</I>, <I>Washington Post</I>, <I>Scientific American</I>, and many scholarly journals have published articles on the preservation of research materials.   

<h3>2. Collaborative Programs</h3> 
Collaborative action in preservation has tackled many problems, and it has been the dominant model in addressing the brittle books problem especially. Through an intricate mosaic of national, regional, and local projects, libraries have built what is, in effect, a national collection of preserved texts. A few examples will illustrate the rich diversity of these efforts. For more than three decades, the members of the American Theological Library Association have filmed deteriorating theology serials and monographs and specialized religious materials. The American Philological Association pioneered a landmark project in 1984: with the assistance of scholars in classical studies, priorities for preserving the most important works published between 1850 and 1918 were established. These works were then filmed at the Columbia University Libraries.<SUP><A HREF="preserving_col10#note12">12</A></SUP>  The project preserved the most important and most endangered publications in this field. The Research Libraries Group (RLG) has managed a series of cooperative preservation microfilming projects that allowed libraries to target collections at risk, such as U.S. publications from 1870 to 1920, and to divide up the task of filming materials on the basis of collection strengths. These projects not only enabled libraries to share the task of preserving collections; they also resulted in the creation of tools, guidelines, and approaches that have become the model for large-scale preservation microfilming. For example, the RLG model has been followed closely by the members of the Committee on Institutional Cooperation (CIC) in their preservation projects. 

Availability of external funding always has been a critical factor in cooperative programs. The Brittle Books Program has been a powerful catalyst for promoting coordinated preservation at the local, regional, and national levels. That a significant number of funded projects involved multiple institutions underscores the scope and vitality of the cooperative approach.  Cooperation and collaboration have successfully shaped a national response to the preservation challenge. On a fundamental level, broad-based participation has been an important factor in transforming preservation programs in research libraries.  

<h3>3. Transformation of Preservation Programs in Research Libraries</h3> 
In response to the preservation challenge, research libraries have expanded preservation investments and have effectively transformed small-scale, fractured efforts into comprehensive, systematic programs. The evolution of these programs spans more than three decades. In the 1970s, some of the nation's largest research libraries, at such major universities as Columbia, Berkeley, and Yale, established preservation programs. The Library of Congress and the New York Public Library expanded in-house preservation functions. Over the past two decades, more than 80 of the 122 member institutions of the Association of Research Libraries have implemented professionally managed preservation programs by adding preservationists, reorganizing existing binding and repair activities, and developing new capabilities. By the early 1990s preservation had become a top priority for research libraries. <I>ARL Preservation Statistics</I> provide compelling evidence of growth, expansion in activities, and institutional support. For example, in 1997, ARL libraries spent more than $80 million on preservation activities and treated almost one million volumes.<SUP><A HREF="preserving_col10#note13">13</A></SUP> The accomplishments in dealing with the preservation crisis are impressive, and the transition to professionally managed programs has been rapid.

<a href="/repview_preservingcol">< Index</a> | <a href="/preserving_col5">Continue ></a>
