<h1>Preserving Research Collections</h1>
<h2>Collaboration and Partnerships</h2>
The complexity and dimension of the preservation challenge require high-level, sustained attention and call for new collaborative ventures. Mobilizing scholarly communities is essential to the successful preservation of both deteriorating print collections and new digital resources. The resolution of difficult preservation issues requires ongoing involvement by scholarly associations as well as individual scholars.  

<h3>1. Role of Scholars in Preservation</h3> 
Over the past decade many scholars have participated in discussions about preservation on their local campuses, through NEH scholarly panels, and in many advocacy efforts. The preservation problem is long-term, and the perils to research resources are a reality that all scholars in the humanities have experienced firsthand. Scholars and librarians recognize the difficulty, even the impossibility, of solving the problem of preservation in its entirety. But now is certainly the time to strengthen the involvement of scholars and to forge new partnerships. Rapid changes in technology are creating new opportunities and adding pressures. Participation by scholars is indispensable in the selection of resources for digitizing. Digitization projects must be designed to meet the fundamental needs of scholars. The value added by digitization, the use of electronic materials in both teaching and research, the retention of crucial features of the source materials, the importance of the original artifact, and the convenience of navigational tools must all be kept in mind. Already under way are several initiatives that involve close collaboration between scholars and libraries and that demonstrate the advantages of broad-based support from all stakeholders. 

<h3>2. National Scholarly Associations</h3> 
National scholarly organizations play a vital role in making preservation, and all that the loss of the nation's cultural heritage means, explicit on the national agenda. The Modern Language Association, working with the American Historical Association, has taken the lead in publicizing the importance of preserving textual artifacts. All scholarly societies can contribute much by pursuing an active advocacy and education agenda. Such efforts can take the form of keeping scholars informed about initiatives, promoting campus awareness of preservation, and encouraging participation in national preservation programs. With all institutions of higher education facing tight budgets, national scholarly organizations can function as advocates to increase financial support for preserving scholarly resources. For example, the National Humanities Alliance has joined with ARL and the Council on Library and Information Resources in support of increased federal funding for preservation. This strategic alliance has been a powerful factor in supporting the NEH-funded Brittle Books Program.  

The preservation of digital resources will require new efforts and extensive collaboration. One task is to promote the development of a national system for the preservation of digital resources. The increase in digital-only publishing poses difficult questions: "What do we preserve? How do we preserve it? At what cost?"<SUP><A HREF="preserving_col10#note32">32</A></SUP> The answers will be found only through research and extensive debate about the implications for future scholars and through shared decision making among all stakeholders. 

<a href="/repview_preservingcol">< Index</a> | <a href="/preserving_col8">Continue ></a>
