<h1>Privacy Policy for the MLA Web Sites</h1>
The Modern Language Association is committed to protecting the privacy of its members and has adopted the following policy about the gathering and dissemination of personal information at the MLA's network of Web sites, which includes <a href="http://www.mla.org/">www.mla.org</a>, <a href="http://www.ade.org/">www.ade.org</a>, <a href="http://www.adfl.org/">www.adfl.org</a>, and <a href="http://www.mlajournals.org">www.mlajournals.org</a>. 

In general, you may visit the MLA Web sites without submitting any personal information. However, to provide certain online services, the MLA may request personal information in one or more of the ways listed below. Users are told when information is to be collected, and you have the option to not submit this information. 

<b>1. Online membership, registration, and subscription forms.</b> As a convenience to members, the MLA provides online forms for transactions such as membership renewal, convention registration, and the purchase of MLA publications. The information collected on these forms may be shared with a third party for business purposes, such as a convention housing bureau that helps process the hotel reservation transactions. The MLA also selectively rents mailing lists of members, subscribers, or convention registrants to appropriate third parties, such as book publishers. Before renting a mailing list to a third party, the MLA reviews all the materials that will be mailed to ensure that they will be of professional interest to MLA members. Users have the right to request that their personal information not be shared with such third parties. Contact information is provided at the Web site so that users may notify the MLA membership office at any time of errors in the information provided or to request that personal information not be shared with third parties.

<b>2. Online credit card transactions.</b> As a convenience to members, the MLA accepts online credit card transactions through its secure servers. The credit card information provided by users at the site is submitted through Authorize.net to Bank of America Merchant Services, the companies the MLA has contracted with to process the secure electronic transaction. This information is not used for any other purpose.

<b>3. Password-protected services.</b> The MLA Web site password system uses cookies. A "cookie" is a small file that the MLA Web server places on your computer's hard drive when you log in to a member- or subscriber-restricted area. This cookie does not contain any personal information, but it allows the server to identify you as having successfully logged in so that you do not have to reenter your password each time you access the password-protected page. 

You can set your browser to warn you before you accept a cookie. You can also set your browser to refuse all cookies. While all public pages at the MLA Web sites are accessible without receipt of a cookie, you must accept a cookie to access a password-restricted area.

<b>4. Web site administration.</b> The MLA Web server maintains a standard log file of visitors to the site that automatically records your IP address or that of the service you use to connect to the Internet. No personal information is attached to this address. The MLA may use this IP address to help diagnose problems with the server and to administer the Web site. This address is not shared with any third parties or used for any other purpose. 

<b>5. Other sites.</b> The MLA Web sites contain links to other Web sites. The MLA is not responsible for the privacy practices or content of other Web sites.

If you have questions or comments about the MLA privacy policy, please write to <a href="mailto:tcallaghan@mla.org">tcallaghan@mla.org</a href>.
