<h1>Aldo and Jeanne Scaglione Prize for Italian Studies</h1>
<h2>Competition in 2015 for Books Published in 2014</h2>
Open Only to Members of the Association

The Committee on Honors and Awards of the Modern Language Association invites authors to enter the competition for the eighth Aldo and Jeanne Scaglione Prize for Italian Studies. The prize, established by the Aldo and Jeanne Scaglione Endowment Fund, is awarded each odd-numbered year to the author of an outstanding scholarly book on any phase of Italian literature or culture or comparative literature involving Italian. This shall include works that study literary or cultural theory, science, history, art, music, society, politics, cinema, and linguistics, preferably but not necessarily relating other disciplines to literature. For the next competition, the committee solicits submission of works published in 2014 by current members of the association. The Scaglione Prize for Italian Studies, which consists of a cash award and a certificate, will be presented to the winning author at the association's annual convention in January 2016.

To enter a work into the competition, authors or publishers should send four copies and a letter identifying the work and confirming the author's membership in the MLA to the Scaglione Prize for Italian Studies, Modern Language Association, 26 Broadway, 3rd floor, New York, NY 10004-1789. In the case of a born-digital publication, send the relevant media or URL and a letter identifying the work to <a href="mailto:awards@mla.org">awards@mla.org</a>. Entries may be submitted at any time but must be received by 1 May 2015. Publishers may submit more than one title, but no book may be entered in more than one MLA competition. Shipping labels should indicate the names of the prizes for which the books are competing. For further information, call or write the office of programs at the MLA (646 576-5141; <A HREF="mailto:awards@mla.org">awards@mla.org</a>).

<I>Note:</i> From 1996 to 2000, the Aldo and Jeanne Scaglione Prize for Italian Literary Studies was awarded jointly with the Howard R. Marraro Prize, which is now awarded separately in even-numbered years.

<A HREF="pastwinners_italian">Past winners</a> of this prize
