<h1>MLA Prize in United States Latina and Latino and Chicana and Chicano Literary and Cultural Studies</h1>
<h2>Competition in 2015 for Books Published in 2013 or 2014</h2>
Open Only to Members of the Association

The Committee on Honors and Awards of the Modern Language Association is pleased to invite authors to compete for the eleventh Modern Language Association Prize in United States Latina and Latino and Chicana and Chicano Literary and Cultural Studies. Established in 2002, the prize will be awarded to a member of the association for an outstanding scholarly study in any language of United States Latina and Latino or Chicana and Chicano literature or culture published in 2013 or 2014. Books that are primarily translations will not be considered. The prize, which consists of a cash award, a certificate, and a one-year membership in the association, will be presented to the winning  author at the association's annual convention in January 2016.

To enter a book in the competition, the author or publisher should send four copies and a letter identifying the work to the MLA Prize in United States Latina and Latino and Chicana and Chicano Literary and Cultural Studies, Modern Language Association, 26 Broadway, 3rd floor, New York, NY 10004-1789. In the case of a born-digital publication, send the relevant media or URL and a letter identifying the work to <A HREF="mailto:awards@mla.org">awards@mla.org</a>. Entries may be sent at any time but must be received by 1 May 2015. Publishers may enter more than one title, but no book may be entered in more than one MLA competition. For further information, call or write the office of programs at the MLA (646 576-5141; <A HREF="mailto:awards@mla.org">awards@mla.org</a>).

<i>Note:</i> From 2002 to 2010, the MLA Prize in United States Latina and Latino and Chicana and Chicano Literary and Cultural Studies was offered annually. It is now a biennial prize, with competitions in odd-numbered years.

<A HREF="/prizewinners_chicana">Past winners</a> of this prize
