<h1>Kenneth W. Mildenberger Prize</h1>
<h2>Competition in 2015 for Books Published in 2013 or 2014</h2>
Open to Members and Nonmembers of the Association

The Committee on Honors and Awards of the Modern Language Association invites authors to compete for the thirty-third Kenneth W. Mildenberger Prize, to be presented for an outstanding scholarly book in the fields of language, culture, literacy, and literature that has a strong application to the teaching of languages other than English. The prize will be awarded for a book published in 2013 or 2014.  Entries for this competition will be accepted until 1 May 2015, and the award will be presented to the winning author at the association's annual convention in January 2016.  Authors of works competing for the prize need not be members of the association.  

To enter a book into the competition, authors or publishers should send four copies and a letter identifying the work to the Kenneth W. Mildenberger Prize, Modern Language Association, 26 Broadway, 3rd floor, New York, NY 10004-1789. In the case of a born-digital publication, send the relevant media or URL and a letter identifying the work to <a href="mailto:awards@mla.org">awards@mla.org</a>.

The prize for a winning book consists of a cash award and a certificate. Publishers may enter more than one title. Shipping labels should indicate the names of the prizes for which the works are competing. For further information, call or write the office of programs at the MLA (646 576-5141; <A HREF="mailto:awards@mla.org">awards@mla.org</a>).

<i>Note:</i> From 1980 to 2010, the Kenneth W. Mildenberger Prize was offered annually. It is now a biennial prize, with competitions in odd-numbered years.

<A HREF="pastwinners_kwm">Past winners</a> of this prize
