<h1>Modern Language Association Prize for Studies in Native American Literatures, Cultures, and Languages</h1>
<h2>Competition in 2014 for Books Published in 2012 or 2013</h2>
Open Only to Members of the Association

The Modern Language Association’s Committee on Honors and Awards invites authors to compete for the inaugural Modern Language Association Prize for Studies in Native American Literatures, Cultures, and Languages. Established in 2012, the prize is awarded to a member of the association for an outstanding scholarly work in the field of Native American literatures, cultures, and languages. The prize selection committee will consider works that examine and broaden understanding of the cultural expressions of first peoples or nations of the United States, Canada, and Mexico. Works in Indigenous languages, literatures, and cultures focusing on other geographic areas will also be considered if they bring fresh perspectives to the field. The prize, which consists of a cash award and a certificate, will be presented to the winning author at the association’s annual convention in January 2015.

To enter a book in the competition, send four copies and a letter identifying the work to the MLA Prize for Studies in Native American Literatures, Cultures, and Languages, Modern Language Association, 26 Broadway, 3rd floor, New York, NY 10004-1789. In the case of a born-digital publication, send the relevant media or URL and a letter identifying the work to <a href="mailto:awards@mla.org">awards@mla.org</a>. Entries may be sent at any time but must be received by 1 May 2014. Publishers may submit more than one title, but no book may be entered in more than one MLA competition. For further information, call or write the office of programs, Modern Language Association (646 576-5141; <a href="mailto:awards@mla.org">awards@mla.org</a>).
