<h1>Aldo and Jeanne Scaglione Prize for Studies in Slavic Languages and Literatures</h1>
<h2>Competition in 2015 for Books Published in 2013 or 2014</h2>
Open to Members and Nonmembers of the Association

The Committee on Honors and Awards of the Modern Language Association invites authors to compete for the eleventh Aldo and Jeanne Scaglione Prize for Studies in Slavic Languages and Literatures, awarded biennially for an outstanding scholarly work on the linguistics or literatures of the Slavic languages. The prize, established by the Aldo and Jeanne Scaglione Endowment Fund, is awarded each odd-numbered year. For the competition in 2015, the committee solicits submissions of books published in 2013 or 2014. Works of literary history, literary criticism, philology, and literary theory are eligible for consideration; books that are primarily translations will not be considered. The Scaglione Prize for Studies in Slavic Languages and Literatures, which consists of a cash award and a certificate, will be presented to the winning author at the association's annual convention in January 2016.

To enter a book into the competition, authors or publishers should send four copies and a letter identifying the work to the Scaglione Prize for Studies in Slavic Languages and Literatures, Modern Language Association, 26 Broadway, 3rd floor, New York, NY 10004-1789. In the case of a born-digital publication, send the relevant media or URL and a letter identifying the work to <a href="mailto:awards@mla.org">awards@mla.org</a>. Entries may be sent at any time but must be received by 1 May 2015. Publishers may enter more than one title, but no book may compete for more than one MLA prize. Shipping labels should indicate the names of the prizes for which the books are competing. For further information, call or write the office of programs at the MLA (646 576-5141; <A HREF="mailto:awards@mla.org">awards@mla.org</a>).

<A HREF="pastwinners_slavic">Past winners</a> of this prize
