<h1>Howard R. Marraro Prize</h1>
<h2>Competition in 2014 for Works Published in 2013</h2>
Open Only to Members of the Association

The Committee on Honors and Awards of the Modern Language Association invites authors to enter the competition for the twenty-third Howard R. Marraro Prize. The prize is awarded each even-numbered year to the author of an outstanding scholarly book or essay on any phase of Italian literature or comparative literature involving Italian. For the next competition, the committee solicits submissions of works published in 2013 by current members of the association. The prize, which consists of a cash award from the Howard R. Marraro Endowment Fund and a certificate, will be presented to the winning author at the association's annual convention in January 2015.

To enter a work into competition, authors or publishers should send four copies and a letter identifying the work and confirming the author's membership in the MLA to the Howard R. Marraro Prize, Modern Language Association, 26 Broadway, 3rd floor, New York, NY 10004-1789. In the case of a born-digital publication, send the relevant media or URL and a letter identifying the work to <a href="mailto:awards@mla.org">awards@mla.org</a>. Entries may be submitted at any time but must be received by 1 May 2014. Publishers may submit more than one title, but no book may be entered in more than one MLA competition. For further information, call or write the office of programs at the MLA (646 576-5141; <A HREF="mailto:awards@mla.org">awards@mla.org</A>).

<I>Note:</I> From 1996 to 2000, the Howard R. Marraro Prize was awarded jointly with the Aldo and Jeanne Scaglione Prize for Italian Literary Studies, which is now awarded separately in odd-numbered years.

<A HREF="pastwinners_marraro">Past winners</A> of this prize
