<h1>Katherine Singer Kovacs Prize</h1>
<h2>Competition in 2014 for Books Published in 2013</h2>
Open to Members and Nonmembers of the Association

The Committee on Honors and Awards of the Modern Language Association invites authors to compete for the twenty-fourth annual Katherine Singer Kovacs Prize for an outstanding book published in English or Spanish in the field of Latin American and Spanish literatures and cultures. The prize was established in 1990 by a gift from the parents of Katherine Singer Kovacs, a member of the MLA who died in May 1989. A specialist in Spanish and Latin American literature and film, Professor Kovacs taught at Stanford University, the University of Southern California, and Whittier College.

Under the terms of the gift, the prize selection committee will be especially interested in original, broadly interpretive books that enhance understanding of the interrelations among literature, the other arts, and society and that offer fresh perspectives on the field. Books published in 2013 will be eligible for the competition in 2014; the deadline for entries is 1&nbsp;May 2014. Authors of competing books need not be members of the MLA.

To enter a book into the competition, authors or publishers should send six copies to the Katherine Singer Kovacs Prize, Modern Language Association, 26 Broadway, 3rd floor, New York, NY 10004-1789. In the case of a born-digital publication, send the relevant media or URL and a letter identifying the work to <a href="mailto:awards@mla.org">awards@mla.org</a>. The prize, which consists of a cash award and a certificate, will be presented to the winning author at the association's annual convention in January 2015. Publishers may enter more than one title, but no work may be entered in more than one MLA competition. Shipping labels should indicate the names of the prizes for which the books are competing. For further information, call or write the office of programs at the MLA (646 576-5141; <A HREF="mailto:awards@mla.org">awards@mla.org</a>).

<A HREF="pastwinners_kovacs">Past winners</a> of this prize
