<h1>Fenia and Yaakov Leviant Memorial Prize in Yiddish Studies</h1>
<h2>Competition in 2014 for Translations Published from 2010 to 2013</h2>
<h2>Competition in 2016 for Scholarly Works Published from 2012 to 2015</h2>
Open to Members and Nonmembers of the Association

The Committee on Honors and Awards of the Modern Language Association is pleased to invite authors to compete for the seventh and eighth Fenia and Yaakov Leviant Memorial Prizes. The prize, established in 2000 by the family of Fenia and Yaakov Leviant, is offered each even-numbered year and is awarded alternately to an outstanding translation or an outstanding scholarly work in the field of Yiddish. In the 2014 competition, the prize will be awarded to an English translation of a Yiddish literary work published between 2010 and 2013. In 2016, the prize will be awarded to an outstanding scholarly work in English in the field of Yiddish published between 2012 and 2015. Cultural studies, critical biographies, or edited works in the field of Yiddish folklore or linguistic studies are eligible to compete. The 2014 Leviant Memorial Prize, which consists of a cash award and a certificate, will be presented to the winning author at the association's annual convention in January 2015. 

To enter a book into the competition, authors or publishers should send four copies and a letter identifying the work to the Leviant Memorial Prize, Modern Language Association, 26 Broadway, 3rd floor, New York, NY 10004-1789. In the case of a born-digital publication, send the relevant media or URL and a letter identifying the work to <a href="mailto:awards@mla.org">awards@mla.org</a>. Entries may be sent at any time but must be received by 1 May 2014 for the 2014 competition and by 1 May 2016 for the 2016 competition. Publishers may enter more than one title, but no book may be entered in  more than one MLA competition. For further information, call or write the office of programs at the MLA (646 576-5141; <A HREF="mailto:awards@mla.org">awards@mla.org</a>).

<a href="/pastwinners_leviant">Past winners</a> of this prize
