<h1><i>Profession</i> for E-readers</h1>

<p>The 2011, 2012, and 2013 issues of <i>Profession</i> are available for free to current members in e-reader formats.</p>

<h2>2013</h2>

<p><b><a href="/prof_2013_eb_mobi" target="_blank" >MOBI format</a></b><br/>
(Kindle)</p>

<p><b><a href="/prof_2013_eb_epub" >EPUB format</a></b><br/>
(Nook, iPad, Sony Reader, Adobe Digital editions, and other compatible devices and software)</p>

<p>The 2013 issue is also publicly available on <a href="http://profession.commons.mla.org"><i>MLA Commons</i></a>.</p>


<h2>2012</h2>

<p><b><a href="/prof_2012_eb_mobi" target="_blank" >MOBI format</a></b><br/>
(Kindle)</p>

<p><b><a href="/prof_2012_eb_epub" target="_blank" >EPUB format</a></b>
<br/> (Nook, iPad, Sony Reader, Adobe Digital editions, and other compatible devices and software)</p>

<h2>2011</h2>
<p><b><a href="/prof_2011_eb_mobi" target="_blank" >MOBI format</a></b><br/>
(Kindle)</p>

<p><b><a href="/prof_2011_eb_epub" target="_blank" >EPUB format</a></b>
<br/> (Nook, iPad, Sony Reader, Adobe Digital editions, and other compatible devices and software)</p>
