<i>Current status: The 2013 Delegate Assembly approved the amendment below. In accordance with article 13.D of the constitution, the Executive Council reviewed the amendment at the February 2013 council meeting and decided to forward the amendment to the membership for the required ratification vote. The vote will be conducted from 16 October through 10 December 2013; only 2013 MLA members are eligible to vote.</i>
<h1>Proposed Amendment to the Constitution</h1>
At its October 2011 meeting, the MLA Executive Council proposed a constitutional amendment to align the dues structure for life members with the dues structure for regular and student members. The head paragraph of article 3 of the MLA constitution states, “The dues structure within each [membership] category shall be determined by the Delegate Assembly subject to confirmation by the Executive Council,” but section C of the same article contains specific provisions for the dues structure for life members. Thus changing the dues structure for life members requires a constitutional amendment, whereas changing the dues structure for regular and student members requires only an assembly vote on a motion, followed by the council’s confirmation of the assembly’s action. The amendment aims to allow the assembly and the council to use the same process for revising the dues structure of all membership categories.

The council forwarded the proposed amendment to the Committee on Amendments to the Constitution. The committee completed its work on the amendment and will forward it to the Delegate Assembly, which will vote on the amendment at its regular meeting at the convention, on 5 January 2013. So that members may be fully informed of such matters, the MLA constitution (art. 13.B) requires that all amendments to be brought before the Delegate Assembly be “published in an appropriate publication of the association at least ninety days before the meeting at which they are to be voted on.” This Web page provides the required notice. If approved by the assembly, the amendment will be submitted to the membership of the association in 2013 for ratification.

The amendment calls for revisions in section C of article 3. The present and proposed versions of this paragraph appear below. The current language that is subject to change and the proposed new language appear in boldface.


<b>Amendment</b> (to article 3: Membership)

<u>Present constitution</u>

C. <i>Life members.</i> Persons eligible for regular membership may become life members by making a single payment, thereafter becoming exempt from the annual payment of dues. With each completed decade of membership, the fee for life membership shall be diminished by one-fourth. <b>Persons who have paid membership dues for forty years shall become life members without further payment. Persons who have been members for twenty years or more and who have retired from active service may notify the association of their retirement and shall thereafter become life members without further payment.</b>

<u>Proposed revision</u>

C. <i>Life members.</i> Persons eligible for regular membership may become life members by making a single payment, thereafter becoming exempt from the annual payment of dues. With each completed decade of membership, the fee for life membership shall be diminished by one-fourth. <b>In addition, criteria for the granting of life membership shall be included in the dues structure. Members who have met these criteria shall be granted life membership and shall thereafter make no payment.</b>
