<h1>The MLA Invites Your Proposal</h1>
In recent years faculty members from a wider range of institutions, as well as people outside the academy, have been an increasingly active force in the MLA. The Program Committee seeks to continue this expansion and therefore invites you to consider submitting a proposal for the 2012 MLA Annual Convention in Seattle.

In evaluating proposals for the convention, the committee has two primary criteria: the coherence of the proposal’s rationale and the justification of individual presentations. The Program Committee has actively sought more proposals in formats that highlight teaching experience, creative work, and civic engagement—formats such as roundtable discussions or media-interactive workshops—in addition to the traditional paper-reading sessions. The most recent MLA convention in Los Angeles included many such sessions, as well as a series of sessions on topics of particular interest to community college faculty members. 

So please allow your imagination, your creativity, and your professorial hacking and networking free play to inspire proposals for the 2012 MLA convention in Seattle. We encourage you to post a call for papers on the MLA Web site (<a href="/cfp_main">www.mla.org/cfp_main</a>) from now until the 1 March deadline and to submit a special-session proposal at <a href="/ssp_main">www.mla.org/ssp_main</a> next month. Please note that special-session proposals must be submitted by 1 April. If you have any questions regarding special sessions, you can write to Stacey Courtney at <a href="mailto:scourtney@mla.org">scourtney@mla.org</a>.

We look forward to receiving your proposal and to seeing you in Seattle!
