<h1>Guidelines for the Series Teaching Languages, Literatures, and Cultures</h1>
<h2>Goals of the Series</h2>
The series Teaching Languages, Literatures, and Cultures was created in response to recent transformative changes in these three areas. By curricular necessity or personal choice, many teachers work in more than one area of specialization. Current theories and methodologies encourage teachers to incorporate multiple perspectives in their courses. This series aims to help them meet new challenges by examining how teaching different languages, literatures, and cultures intersects with theory, research, curriculum and program design, and pedagogical practices. The series is intended to reach specialists and nonspecialists and to create cross-specialty dialogue among members of the profession engaged in what were previously separate efforts.

The Publications Committee looks for innovative work by those who teach various languages; by language-teaching specialists; by researchers and scholars in literature, culture, and language; and by those from other disciplines, such as art or history, who teach in a foreign language or teach foreign cultures. Volumes in the series address a range of issues in the fields of language and language acquisition. The committee welcomes proposals for volumes by single or multiple authors or editors. Prospective authors or  editors are encouraged to contact the office of scholarly communication (<a href="mailto:scholcomm@mla.org">scholcomm@mla.org</a>). 

<h2>Preparation of Prospectus</h2>
A complete prospectus contains the following elements:
1. A cover letter
2. A statement of no more than ten double-spaced pages, including information on the following points:
<ul><li>content focus
<li>relation to existing publications
<li>target audience
<li>table of contents with major section and chapter headings (edited collections should include a working title and brief summary of each of the planned essays and, where possible, the names of projected authors)
<li>proposed work schedule</ul>
3. A two-to-three-page CV for each volume author or editor (but not for individual contributors)

<h2>Approval of Prospectus</h2> 
MLA staff members make an initial review of every prospectus. If the proposed work is deemed appropriate for the series and the prospectus follows the prescribed format, the staff will commission two or more consultant readers to review the prospectus. Approval of a prospectus must be given by the MLA Publications Committee. If the Publications Committee approves the prospectus, the proposer(s) will be invited to submit a full manuscript for review. Following approval of a prospectus, editors who wish to solicit proposals for essays from the MLA membership may post a call for papers on the MLA Web site. In addition, volume editors may solicit proposals on their own. 

<h2>Manuscript Preparation and Review</h2>
In preparing the manuscript, authors and volume editors should follow MLA style as outlined in the <a href="/bookstore"><i>MLA Style Manual</i> (3rd ed.)</a>. The entire manuscript is submitted in double-spaced format. Individual contributors to an edited book should supply a list of works cited for each essay submitted. From these lists, the volume editor compiles one general, alphabetically arranged list of sources for the entire book. Additional guidelines can be found in <a href="/pub_prog_prep">Directions for Preparing Manuscripts</a> on this Web site.

A completed manuscript is reviewed by two or more consultant readers. The manuscript and the reports will be evaluated by the members of the Publications Committee, who may vote to approve the manuscript without reservations, approve it with minor reservations, request revision and resubmission, or reject it. Normally, the entire review process for a manuscript takes about six months.

After an approved manuscript has been submitted for production, each author, editor, and contributor will receive a contract. During production of the volume, all contributors will receive relevant copyedited manuscript and one stage of proof. When page proof is available, the author or volume editor prepares a name index for the book. In case of coauthorship or coeditorship, one party  should be designated to receive a second set of proofs for indexing. Authors and volume editors receive a modest royalty; essay contributors are offered an honorarium. All receive a share of subsidiary rights and a number of complimentary copies of the published book.

Prospectuses should be sent to

Teaching Languages, Literatures, and Cultures
Office of Scholarly Communication
Modern Language Association
26 Broadway, 3rd floor
New York, NY  10004-1789	
<a href="mailto:scholcomm@mla.org">scholcomm@mla.org</a>
