<h1>Information for Authors and Editors of MLA Books</h1>

<p><b><a href="/pub_guidelines_gen">General Guidelines for Authors and Editors of MLA Books</a></b>
<br>
<b><a href="/pub_prog_prep">Directions for Preparing Manuscripts</a></b>
<br>
</p>

<p><b>Series Guidelines</b></p>

<ul>
	<li><b><a href="/pub_guidelines_twl">Approaches to Teaching World Literature</a></b></li>
	<li><b><a href="/pub_guidelines_nves">New Variorum Edition of Shakespeare</a></b></li>
	<li><b><a href="/pub_guidelines_oft">Options for Teaching</a></b></li>
	<li><b><a href="/pub_guidelines_tllc">Teaching Languages, Literatures, and Cultures</a></b></li>
	<li><b><a href="/pub_guidelines_tt">Texts and Translations</a></b></li>
	<li><b><a href="/pub_guidelines_iwl">World Literatures Reimagined</a></b></li>
</ul>

