<h1>Guidelines on Selection of Contributors</h1>
<ol>
<li>The selection of contributors is a crucial stage in the development of each volume.  Careful and cautious planning at this point will invariably help avoid potential confusion or awkwardness at a later stage.

<li> In selecting contributors, the volume editor should strive to maintain a balance between innovative and traditional approaches and to include essays broadly representative in the range of contributors chosen; in the philosophies, methodologies, and critical orientations presented; and in the types of schools (two-year colleges, four-year colleges, universities), students (e.g., nonmajors, majors, traditional, nontraditional), and courses (e.g., required survey courses, specialized upper-division courses) considered.

<li> Before inviting contributors, the volume editor submits to the series editor a full prospectus, including a proposed table of contents.  For each proposed essay, the volume editor gives the author's name and academic affiliation, a description of the essay, and the projected page length.  The lengths of individual essays may be uniform or may vary.  But in deciding on the number of contributors, the volume editor should be careful to keep in mind the maximum length of the complete manuscript (excluding the index but including the list of works cited): 300 typescript pages.  In addition, essays should be organized in meaningful groups with appropriate headings.  (Previous volumes  in the series should be consulted for ideas on ways to structure the book.)  Besides the proposed table of contents, the prospectus should include an introduction presenting a rationale for and discussion of the selections and the structure of the book.

<li>The series editor reviews this material and sends it for evaluation to a number of consultant readers.  (Volume editors are encouraged to ask colleagues and other experts in the field for their assessments as well.)  The volume editor and the series editor review all readers' comments and suggestions and jointly decide on any needed revisions.  When a final table of contents is achieved, the volume editor invites contributors and begins preparation of the manuscript.
</ol>
