<h1>General Guidelines for Authors and Editors of MLA Books</h1>
The book publications program welcomes proposals for new books concerned with the study and teaching of language and literature as well as issues affecting professional practice in those fields.  

Many of our books are published within series, which include <A HREF="/pub_guidelines_twl">Approaches to Teaching World Literature</A>; <A HREF="/pub_guidelines_oft">Options for Teaching</A>; the <A HREF="/pub_guidelines_nves">New Variorum Edition of Shakespeare</A>; <A HREF="/pub_guidelines_tllc">Teaching Languages, Literatures, and Cultures</A>;  <A HREF="/pub_guidelines_tt">Texts and Translations</A>; and <A HREF="/pub_guidelines_iwl">World Literatures Reimagined</a>.  If you would like to propose a book for one of these series, please consult the special guidelines. Otherwise, please use the following guidelines:

<h2>Submitting a Proposal</h2>
The MLA regularly considers proposals for new books.  If you have an idea for a project that might be appropriate for the MLA's book publications program, please send to the <A HREF="mailto:scholcomm@mla.org">office of scholarly communication</A> a one-page letter of inquiry describing the nature of the proposed book: its subject, purpose, and audience.  Please also include a curriculum vitae for each of the proposed main authors or editors.  If the idea seems promising, we will be in touch with you to discuss the next step.  Most likely we will request a more fully developed version of the proposal, known as a prospectus, which would describe in greater detail the proposed content and structure of the book and perhaps include a draft introduction.

A prospectus is sent to at least two consultant readers.  Depending on the comments of the readers, we may ask for modifications in the plans for the volume or for a letter of response to the readers' reports.  If the readers' reports endorse the project as it is conceived, a staff editor will submit the prospectus, along with the readers' reports, to the Publications Committee for authorization to invite a manuscript for evaluation.  The comments of the readers as well as those of the Publications Committee help to guide the development of the manuscript from this point onward.

<h2>Submitting a Completed Manuscript</h2>
On recommendation by the Publications Committee, we will invite you to submit a complete manuscript for evaluation by staff editors and consultant readers.  The consultant readers comment on such matters as the need for or usefulness of the proposed volume, its place among competitive titles, its coherence as a book addressed to an identifiable audience, and the quality of the writing or (if an edited book) of its individual contributions.

If the readers' reports recommend publication, a staff editor will submit the manuscript to the Publications Committee.  If the reports are supportive but contain some reservations, you may be asked to draft a response to be read by the committee in reaching its decision.  If the readers are generally positive in their assessment but ask for substantive changes, the manuscript may be returned to you for revision and resubmission.  Finally, if the readers' overall assessment of the manuscript is negative, the project probably will be rejected.

<h2>From Manuscript to Book</h2>
If the committee has approved your manuscript, you will be asked to submit a final manuscript that includes any required revisions. The final version of the manuscript should be prepared in accordance with the <A HREF="/pub_prog_prep">Directions for Preparing Manuscripts</A>.  Authors should follow MLA documentation style and, equally important, should be aware that it is their responsibility to obtain necessary permissions in using copyrighted as well as unpublished material, including student writing. The manuscript is then transmitted from the book publications department to the editorial department for copyediting, design, and production.  During production, all authors, including contributors to an edited book, receive relevant copyedited materials and at least one stage of proof. Each author receives a contract offering a modest royalty (for authors and volume editors) or an honorarium (for essay contributors). All editors, authors, and essay contributors receive a share of subsidiary rights and a number of complimentary copies of the book. Authors assist in marketing the book by identifying, among other things, mailing lists for brochures on the book, journals to review the book, and meetings at which to publicize it.
