<h1>Guidelines for the New Variorum Edition of Shakespeare</h1>
Guidelines for the New Variorum Edition are not available online.  Please contact the office of scholarly communication (<a href="mailto:scholcomm@mla.org">scholcomm@mla.org</a>) for information.
