<@if ($extjs_compatible ne "Y")>
	<p>
		Sorry, your browser does not support the functionality necessary to view this page. 
	</p>
<@else>

	<@eval ($use_extjs = "Y";)>
	<script language="javascript" type="text/javascript">
		
	Ext.onReady(function(){
	
		Ext.QuickTips.init();
		var xg = Ext.grid;
		
		// create the Data Store
		var store = new Ext.data.GroupingStore({
			url: '/FORM_ACTIONS/pubcomm_documents_ajax',
			reader: new Ext.data.XmlReader({
				   // records will have an "Item" tag
				   record: 'Item',
				   totalRecords: 'TotalResults',
				   id: 'id',
				   totalProperty: 'TotalResults',
				   idProperty: 'id'
			  	 }, 
			['FILE_LINK', 'TITLE', 'ICON', 'CAT_NAME', 'CAT_SORT',
				{name: 'TIMESTAMP', mapping: 'TIMESTAMP', type: 'date', dateFormat: 'timestamp'}
			]
			),
			sortInfo:{field: 'TITLE', direction: "ASC"},
	groupField:'CAT_SORT'

		});

		var cm = new Ext.grid.ColumnModel([{
header: "Category",
dataIndex: 'CAT_NAME',
width: 10,
hidden: true
},{
header: "CategorySort",
dataIndex: 'CAT_SORT',
width: 10,
hidden: true
},{
	id: 'TITLE', // id assigned so we can apply custom css (e.g. .x-grid-col-topic b { color:#333 })
header: "Title",
dataIndex: 'TITLE',
width: 75,
renderer: renderTitle
},{
	id: 'TIMESTAMP',
header: "Date",
dataIndex: 'TIMESTAMP',
width: 25,
renderer: renderDate
}]);

		cm.defaultSortable = true;

		function renderTitle(value, p, r){
			if (r.data['FILE_LINK'].match(/^http/)) {
				return String.format('{2} <a href="{1}" target="_blank" style="color:#336699;">{0}<\/a>', value, r.data['FILE_LINK'], r.data['ICON']);
			} else {
				return String.format('{2} <a href="/pubcomm_{1}" style="color:#336699;">{0}<\/a>', value, r.data['FILE_LINK'],  r.data['ICON']);
			}
		}
	
	function renderDate(value, p, r){
	return String.format(
'{0}',
value.dateFormat('j M Y, g:i a'));
	}
	


		var grid = new xg.GridPanel({
			store: store,
			cm: cm,	
	loadMask: true,
			view: new Ext.grid.GroupingView({
				forceFit:true,
				startCollapsed:true,
				groupTextTpl: '{group}',
				emptyText: 'There are no documents to review.'
			}),
	
			frame:true,
			width: 720,
			collapsible: true,
			animCollapse: false,
			title: 'Documents by Category',
			iconCls: 'icon-grid',
			renderTo: 'mla_docs',
			autoHeight: true
			
		});

		grid.render();
		grid.purgeListeners();
		store.load();					

	});
					
	</script>
	
	<h1>Publications Committee Documents</h1>
	
	<p>
		Click on the title of a document below to view it.
	</p>
	
	<div style="margin-top:14px;" id="mla_docs"></div>

<@/if>
