<h1>Publications Committee</h1>
Function: Reviews and authorizes the nonperiodical publications of the association; develops and assesses policies affecting the publications program and its acquisition plans and priorities; evaluates the fiscal implications of publication decisions.

Staff liason: David G. Nicholls (<a href="mailto:pubcomm@mla.org">pubcomm@mla.org</a>)

Patricia Bizzell, 2000-03
Jeannine Blackwell, 2001-04
Debra A. Castillo, 2000-03; 2002-03 (Ch.)
Lynn Enterline, 2002-05
Simon E. Gikandi, 2002-05
James A. Miller, 2001-03
Sandy Petrey, 2002-05
Timothy J. Reiss, 2001-04
Dennis Tedlock, 2001-04

<a href="/committees">Committees and Commissions Index</a>
