<h1>Publishing</h1>
<a href="#Publishing">Publishing Opportunities</a>
<a href="#pubguide">Guidelines on Scholarly Publishing</a>
<a href="#Book">Book Publications Program</a>
<a href="#Future">Scholarly Publishing Now and in the Future</a>
<a href="#pubmla">MLA Publications and Bookstore</a>
<a name="Publishing"></a>

<h2>Publishing Opportunities</h2>
Five MLA committees give advice on how to be published and, in some cases, initiate publication:

<b><a href="/comm_acad_freedom" target="new">Committee on Academic Freedom and Professional Rights and Responsibilities</a>
<a href="/comm_id" target="new">Committee on Information Technology</a>
<a href="/comm_grad" target="new">Committee on the Status of Graduate Students in the Profession</a>
<a href="/comm_women" target="new">Committee on the Status of Women in the Profession</a></b>

In addition, and depending on your topic or field of study, see <a href="/related_org" target="new">Related Professional Organizations</a>. Some of these associations will direct you to other useful Web sites. See, for instance, the site of the <a href="http://www.clmp.org/" target="new"> Council of Literary Magazines and Presses</a>. 
<a name="pubguide"></a>
<h2>Guidelines on Scholarly Publishing</h2>
<b>Committee on Academic Freedom and Professional Rights and Responsibilities</b>
<i><a href="/advice_for_authors" target="new">Advice for Authors, Reviewers, Publishers, and Editors of Scholarly Books and Articles</a></i>

<b>Committee on the Status of Women in the Profession</b>
<i><a href="/rep_women" target="new">Projects and Publications</a></i>
			
<b>Committee on Information Technology</b>
<i><a href="/web_guidelines" target="new">Minimal Guidelines for Authors of Web Pages</a></i>
<a name="Book"></a>
<h2>Book Publications Program</h2>
The <a href="/publication_program" target="new">MLA's Book Publications Program</a> offers valuable information on publishing and editing. Here is a selection of topics:
<a href="/pub_guidelines_gen" target=new">General Guidelines for Authors and Editors of MLA Books</a>
<a href="/pub_prog_prep" target="new">Directions for Preparing Manuscripts</a>
<a href="/pub_guidelines_twl" target="new">Guidelines for the Series Approaches to Teaching World Literature</a>
<a href="/pub_guidelines_iwl" target="new">Guidelines for the Series World Literatures Reimagined</a>
<a href="/pub_guidelines_oft" target="new">Guidelines for the Series Options for Teaching</a>
<a href="/pub_guidelines_tllc" target="new">Guidelines for the Series Teaching Languages, Literatures, and Cultures</a>
<a href="/pub_guidelines_tt" target="new">Guidelines for the Series Texts and Translations</a>
<a name="Future"></a>
<h2>Scholarly Publishing Now and in the Future</h2>
<b>Ad Hoc Committee on the Future of Scholarly Publishing</b>: <i><a href="/issues_scholarly_pub" target="new">The Future of Scholarly Publishing</a></i>

<b>Stephen Greenblatt</b>: <i><a href="/rep_scholarly_pub" target="new">Call for Action on Problems in Scholarly Book Publishing</a></i>
<a name="pubmla"></a>
<h2>MLA Publications and Bookstore</h2> 
<i><a href="http://www.mla.org/cgi-shl/hazel.exe?action=detail&template=bookinfo.html&item=S178" target="new">MLA Handbook for Writers of Research Papers </a></i>
<i><a href="http://www.mla.org/cgi-shl/hazel.exe?action=detail&template=bookinfo.html&item=S181" target="new">MLA Style Manual and Guide to Scholarly Publishing</a></i>
<i><a href="http://www.mla.org/cgi-shl/hazel.exe?action=detail&template=bookinfo.html&item=W333" target="new">The MLA Guide to the Job Search</a></i>

For the entire inventory, please visit the <a href="/bookstore" target="new">MLA Bookstore Online</a>.
