<h1>2013 Sessions Open to the Public</h1>
<h2>Forums and Linked Sessions</h2>
<ul class="program_entry_list">

<li class="program_entry">
<p>
	<a href="/program_details?prog_id=112&year=2013">112. The Presidential Forum: Avenues of Access: Non-Tenure-Track Faculty Members and American Higher Education</a>
</p>
<blockquote>
	<i>Thursday, 3 January, 5:15–7:00 p.m., Constitution Ballroom, Sheraton</i>
</blockquote>
</li>


<div style="margin:0px 0px 12px 24px;">
	<li class="program_subentry">
		<a href="/program_details?prog_id=353&year=2013">353. Avenues of Access: Digital Humanities and the Future of Scholarly Communication</a><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<i>Friday, 4 January, 3:30–4:45 p.m., Republic Ballroom, Sheraton</i>
	</li>
	
	<li class="program_subentry">
		<a href="/program_details?prog_id=570&year=2013">570. Avenues of Access: The State of Disability Studies</a><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<i>Saturday, 5 January, 1:45–3:00 p.m., Republic Ballroom, Sheraton</i>
	</li>
</div>

<li class="program_entry">
<p>
	<a href="/program_details?prog_id=222&year=2013">222. The Twenty-First-Century MLA: Reimagining the Order of Things</a>
</p>
<blockquote>
	<i>Friday, 4 January, 10:15 a.m.–12:00 noon, Republic Ballroom, Sheraton</i>
</blockquote>
</li>

<div style="margin:0px 0px 15px 24px;">
	<li class="program_subentry">
		<a href="/program_details?prog_id=404&year=2013">404. The Future of Chinese in the MLA</a><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<i>Friday, 4 January, 5:15–6:30 p.m., 201, Hynes</i>
	</li>
	
	<li class="program_subentry">
		<a href="/program_details?prog_id=461&year=2013">461. The Future of Writing Studies in the MLA</a><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<i>Saturday, 5 January, 10:15–11:30 a.m., Back Bay D, Sheraton</i>
	</li>
</div>


<li class="program_entry">
<p>
	<a href="/program_details?prog_id=296&year=2013">296. Tuning In to the Phoneme: Phonetic and Phonological Nuances in Second Language Acquisition</a>
</p>
<blockquote>
	<i>Friday, 4 January, 1:45–3:30 p.m., 306, Hynes</i>
</blockquote>
</li>



<li class="program_entry">
<p>
	<a href="/program_details?prog_id=334&year=2013">334. Gao Xingjian on Literature and Theater</a>
</p>
<blockquote>
	<i>Friday, 4 January, 3:30–5:15 p.m., 202, Hynes</i>
</blockquote>
</li>

</ul>	





<h2>Special Events and Creative Conversations</h2>

<ul class="program_entry_list">	
<li class="program_entry">
<p>
	<a href="/program_details?prog_id=182&year=2013">182. A Creative Conversation between Michael Erard and Dennis E. Baron</a>
</p>
<blockquote>
	<i>Thursday, 3 January, 7:00–8:15 p.m., Republic Ballroom, Sheraton</i>
</blockquote>
</li>

<li class="program_entry">
<p>
	<a href="/program_details?prog_id=340&year=2013">340. Flying Words Project: A Creative Conversation</a>
</p>
<blockquote>
	<i>Friday, 4 January, 3:30–4:45 p.m., Back Bay B, Sheraton</i>
</blockquote>
</li>

<li class="program_entry">
<p>
	<a href="/program_details?prog_id=418&year=2013">418. A Reading by Soledad Puértolas [canceled]</a>
</p>
<blockquote>
	<i>Friday, 4 January, 7:00–8:15 p.m., 209, Hynes</i>
</blockquote>
</li>

<li class="program_entry">
<p>
	<a href="/program_details?prog_id=419&year=2013">419. Global Shakespeares Open House</a>
</p>
<blockquote>
	<i>Friday, 4 January, 7:00–8:15 p.m., Back Bay D, Sheraton</i>
</blockquote>
</li>

<li class="program_entry">
<p>
	<a href="/program_details?prog_id=597&year=2013">597. A Creative Conversation with Mark Doty</a>
</p>
<blockquote>
	<i>Saturday, 5 January, 3:30–4:45 p.m., Independence East, Sheraton</i>
</blockquote>
</li>

<li class="program_entry">
<p>
	<a href="/program_details?prog_id=638&year=2013">638. A Creative Conversation with Gao Xingjian</a>
</p>
<blockquote>
	<i>Saturday, 5 January, 5:15–6:30 p.m., 206, Hynes</i>
</blockquote>
</li>

<li class="program_entry">
<p>
	<a href="/program_details?prog_id=649&year=2013">649. Film Premiere: <i>May 4 Voices</i></a>
</p>
<blockquote>
	<i>Saturday, 5 January, 7:00–8:15 p.m., Republic Ballroom, Sheraton</i>
</blockquote>
</li>

<li class="program_entry">
<p>
	<a href="/program_details?prog_id=658&year=2013">658. Giannina Braschi: <i>United States of Banana</i></a>
</p>
<blockquote>
	<i>Saturday, 5 January, 7:00–8:15 p.m., 206, Hynes</i>
</blockquote>
</li>



</ul>






<h2>Other Sessions Open to the Public</h2>


<ul class="program_entry_list">

<li class="program_entry">
<p>
	<a href="/program_details?prog_id=103&year=2013">103. Native Literary Boston</a>
</p>
<blockquote>
	<i>Thursday, 3 January, 3:30–4:45 p.m., Beacon A, Sheraton</i>
</blockquote>
</li>

<li class="program_entry">
<p>
	<a href="/program_details?prog_id=198&year=2013">198. Convergent Histories of the Book: From Manuscript to Digital</a>
</p>
<blockquote>
	<i>Friday, 4 January, 8:30–9:45 a.m., Hampton, Sheraton</i>
</blockquote>
</li>

<li class="program_entry">
<p>
	<a href="/program_details?prog_id=283&year=2013">283. Duality of Assessment: Tool of Instruction, Weapon of Destruction</a>
</p>
<blockquote>
	<i>Friday, 4 January, 12:00 noon–1:15 p.m., Independence West, Sheraton</i>
</blockquote>
</li>

<li class="program_entry">
<p>
	<a href="/program_details?prog_id=323&year=2013">323. Cultural Contexts: In Honor of Galal Walker’s Contribution to the Study of Chinese</a>
</p>
<blockquote>
	<i>Friday, 4 January, 1:45–3:00 p.m., 205, Hynes</i>
</blockquote>
</li>

<li class="program_entry">
<p>
	<a href="/program_details?prog_id=394&year=2013">394. Reforming Doctoral Study</a>
</p>
<blockquote>
	<i>Friday, 4 January, 5:15–6:30 p.m., Back Bay D, Sheraton</i>
</blockquote>
</li>

<li class="program_entry">
<p>
	<a href="/program_details?prog_id=408&year=2013">408. The Presidential Address</a>
</p>
<blockquote>
	<i>Friday, 4 January, 6:45 p.m., Constitution Ballroom, Sheraton</i>
</blockquote>
</li>

<li class="program_entry">
<p>
	<a href="/program_details?prog_id=504&year=2013">504. New England DIY (Do-It-Yourself) Comics</a>
</p>
<blockquote>
	<i>Saturday, 5 January, 12:00 noon–1:15 p.m., The Fens, Sheraton</i>
</blockquote>
</li>

<li class="program_entry">
<p>
	<a href="/program_details?prog_id=536&year=2013">536. The Simple Art of Boston Murder</a>
</p>
<blockquote>
	<i>Saturday, 5 January, 1:45–3:00 p.m., Liberty B, Sheraton</i>
</blockquote>
</li>

<li class="program_entry">
<p>
	<a href="/program_details?prog_id=565&year=2013">565. What Is the Next Thing? Postmodern Pedagogies in the Composition Classroom</a>
</p>
<blockquote>
	<i>Saturday, 5 January, 1:45–3:00 p.m., Liberty A, Sheraton</i>
</blockquote>
</li>

<li class="program_entry">
<p>
	<a href="/program_details?prog_id=581&year=2013">581. Getting an Education at Occupy Boston: A Roundtable on Intellectual Activism</a>
</p>
<blockquote>
	<i>Saturday, 5 January, 3:30–4:45 p.m., Back Bay D, Sheraton</i>
</blockquote>
</li>

<li class="program_entry">
<p>
	<a href="/program_details?prog_id=645&year=2013">645. MLA Awards Ceremony</a>
</p>
<blockquote>
	<i>Saturday, 5 January, 6:45 p.m., Constitution Ballroom, Sheraton</i>
</blockquote>
</li>

<li class="program_entry">
<p>
	<a href="/program_details?prog_id=694&year=2013">694. "This Is Not the Ivy Tower": Scholarship at Community Colleges</a>
</p>
<blockquote>
	<i>Sunday, 6 January, 8:30–9:45 a.m., Liberty B, Sheraton</i>
</blockquote>
</li>


<li class="program_entry">
<p>
	<a href="/program_details?prog_id=776&year=2013">776. Beat Poetics' Cambridge-Boston Origins</a>
</p>
<blockquote>
	<i>Sunday, 6 January, 1:45–3:00 p.m., Independence East, Sheraton</i>
</blockquote>
</li>



</ul>
