<h1>Refund Policy</h1>
<h2>Membership</h2>
Membership cancellation requests must be made within thirty days of receipt of payment.  Please contact the membership office (646 576-5151; <a href="mailto:membership@mla.org">membership@mla.org</a>).  

<h2>Web Bookstore Orders</h2>
Requests for returns must be made within thirty days of purchase.  Prior authorization is required for returns.  Please contact the member and customer services office (646 576-5161; <a href="mailto:bookorders@mla.org">bookorders@mla.org</a>) for returns authorization. 

<h2>Exhibit Booth Rental</h2>
If an exhibitor is forced to withdraw from participation by 30 August, all sums paid by the exhibitor less a $100 service fee will be refunded.  Contact the Exhibits Manager (646 576-5263; <a href="mailto:scourtney@mla.org">scourtney@mla.org</a>) for refunds.  No refunds will be issued after 30 August.

<h2><i>Job Information List</i></h2>
Access to search the MLA <i>Job Information List</i> (<i>JIL</i>) is now through membership in either the Association of Departments of English (ADE) or the Association of Departments of Foreign Languages (ADFL). Individuals without an academic affiliation or whose departments are not currently members of the ADE or the ADFL can access the <i>JIL</i> by becoming affiliate members of the ADE or the ADFL. ADE and ADFL affiliate memberships cannot be canceled or refunded.
