<h1>Guidelines by the Committee on the Literatures of People of Color in the US and Canada</h1>
<h2>Recruitment, Mentoring, and Evaluation of Junior Faculty Members of Color</h2>
CLPCUSC recognizes that many departments already follow the guidelines below, which are designed to assist departments that have not yet adopted or are in the process of developing such procedures.

<B>Recruitment.</B> To attract applications from faculty members of color, English and foreign language departments should reexamine their definitions of positions in traditional fields and consider including diverse approaches to literature, language, and culture, such as analysis based on race, citizenship, class, gender, and sexuality. Departments should also consider creating curricula and positions that either focus entirely on or include literatures written and spoken by people of color.

Departmental and program administrators should use nontraditional places to advertise available positions: e-mail discussion lists, journals, and newsletters for various organizations dealing with literatures of color. Additional advertising sites include the e-mail discussion lists and newsletters for recipients of Ford, Mellon, and Javits dissertation and postdoctoral fellowships. These can sometimes be more effective in recruiting faculty members of color than traditional media.

<B>Mentoring junior faculty members.</B> Mentors can play an important role for all junior faculty members, but they are particularly important for junior faculty members of color throughout the probationary period. Whenever possible, such mentors should be senior faculty members of color or senior faculty members familiar with both literatures by people of color and the issues that faculty members of color face in traditional English and foreign language departments. Mentors should be senior faculty members committed to the mentoring process.

<B>Evaluation of faculty members for retention, tenure, and promotion.</B> Departments should disseminate to faculty members written information about evaluations and reviews for retention, tenure, and promotion; the time these occur; specific procedures; and opportunities for faculty members to participate in or appeal the process. Such information should be distributed when new faculty members are hired and at appropriate stages in the review and evaluation process.

When evaluating the dossiers of faculty members of color for renewal or promotion, departments should pay particular attention to the following areas:

<I>Teaching.</I> Departments of English and foreign languages need to be aware of the possible effects of race, gender, and sexuality bias on teaching evaluations. Covering or discussing these areas for literary studies can create tensions in the classroom that can be reflected in students' or senior faculty members' evaluations of a faculty member of color, as well as of other faculty members.

Departments should also develop teaching evaluation procedures that will be sensitive to the impact of these issues on students' or faculty members' evaluations of individual faculty members of color.

<UL>
<LI>Departments should give faculty members of color the opportunity to teach upper-division and, if relevant, graduate courses in their fields, whether these fields are ethnic studies or traditional areas of literature. For example, scholars hired for their expertise in the Harlem Renaissance should be encouraged and allowed to develop courses on American modernism, and those hired to teach Asian American poetry should be encouraged and allowed to teach post-World War II American literature surveys.&nbsp;
<LI>Departments should assign new course preparations to faculty members of color or those teaching ethnic studies in the same proportion as they assign them to other faculty members. Because faculty members teaching literatures by people of color are often called on to create new curricula, they may teach a disproportionate number of new preparations.
</UL>

<I>Scholarship.</I> Departments of English and foreign languages need to be aware that faculty members of color may do their research in fields unfamiliar to departmental colleagues. When evaluating the scholarship of any faculty member of color (and that of any other faculty member), departments should seek external reviewers with expertise in the candidate's area of research.

Some of the important presses publishing research on literatures by people of color may not be the traditional ones familiar to English and foreign language departments, colleges, and universities. Consequently, departments should request that external reviewers include in their evaluations comments about the significance of the press to the scholarship in the candidate's field. Further, the department is obligated to inform itself of the significance of the press.

Statements about the importance of the press should accompany the retention, tenure, and promotion materials of the candidate when they are submitted for approval, both in departmental reviews and in those conducted at other levels of the college or university.

<I>Service.</I> Departments should recognize that because there are so few faculty members of color in most colleges and universities overall, whether they teach ethnic or more traditional literatures, these faculty members are frequently asked or expected to perform more service than are others of their rank. Examples of such service include the following:

<UL>
<LI>Faculty members of color are often asked to serve on departmental, college, and university committees. Many faculty members of color have joint appointments or serve in interdisciplinary programs. These appointments increase their service commitments. In addition, faculty members of color advise and mentor students of color and student organizations.&nbsp;
<LI>Faculty members of color are frequently asked to serve on the committees of students whose theses and dissertations deal with issues of race.&nbsp;
<LI>In addition to their service on campus, faculty members of color are often asked by community organizations to help develop educational and cultural programs.
</UL>

Such heavy service loads decrease the time faculty members of color can devote to their scholarship. Consequently, departments should monitor and limit the number of department- or program-related committees on which junior faculty members of color are asked to serve. Further, departments should limit the service of junior faculty members of color on college and university committees.

When, however, junior faculty members of color have performed substantial and outstanding service to the department, college, university, or professional organizations, departments should recognize this service and consider it carefully in their evaluation of these faculty members' qualifications for retention, tenure, and promotion.

<I>A. LaVonne Brown Ruoff and Margarita Barcel&oacute;, cochairs, 2000-01</I>
<I>Jacqueline Goldsby and Lavina Shankar, cochairs, 2001-02</I>
<I>Committee on the Literatures of People of Color in the United States and Canada</I>

<a href="/rep_guidelines_poc2">< Previous</a>
