<h1>MLA Ad Hoc Committee on Teaching: Final Report</h1>

[[[insert page index]]]

<h2>Publication Information</h2>
The final report of the MLA Ad Hoc Committee on Teaching was originally published in <i>Profession 2001</i> ([New York: MLA, 2001] 225-38).

 
