<h1>Reports and Documents from MLA Committee on the Status of Women in the Profession</h1>

[[[insert page index]]]

"Women in the Profession, 2000" was published in <I>Profession 2000</I> (New York: MLA, 2000) 191-217.

The Committee on the Status of Women in the Profession is interested in your comments, questions, and concerns. Please write us at <a href="mailto:cswp@mla.org">cswp@mla.org</a>.

 
