<h1>Computer-Related Repetitive Strain Injuries: An Advisory</h1>
Computers are now central to humanities teaching and research, with many members of the profession using them on a daily basis for long sessions of word processing, e-mail, Web browsing, and more. The MLA's Committee on Information Technology and Committee on Disability Issues would therefore like to take this opportunity to raise awareness of the risk of computer-related repetitive strain injuries (RSI).

Many will have heard of Carpal Tunnel Syndrome, a condition that has been well-publicized in the media. In fact, Carpal Tunnel Syndrome is only one variety of RSI, an umbrella term for neuromuscular disorders that can involve the entire upper body: the back, neck, shoulders, upper arms, and elbows, as well as the forearms, wrists, and hands. The condition known as "tennis elbow," for instance, is one that now afflicts computer users as well as athletes.

The symptoms of many varieties of RSI include chronic burning, aching, soreness, tingling, numbness, coldness, weakness or fatigue, and loss of coordination in the fingers, hands, arms, elbows, shoulders, or elsewhere in the upper extremities. Often symptoms are worse at night--for example, waking up with either or both hands numb. Readers with such symptoms should consult a health care professional as soon as possible; as with most ailments, early diagnosis and treatment are essential to a good prognosis. Left untreated and uncorrected, RSI can result in permanent disability.

Proper posture and workstation ergonomics are widely regarded as the key to prevention of RSI. Stretches and breaks are also critical. Above all, listen to your body and back off if you know you are simply typing too much. Learn to respect your time at the keyboard as physically demanding work.

Perhaps ironically, there is a tremendous amount of information about RSI available online. As with all online content, readers must use their own judgment and discretion in vetting the material for accuracy. Nothing is a substitute for a diagnosis from a qualified physician.

<i>Committee on Information Technology</i>
<i>Committee on Disability Issues in the Profession</i>
