<style type="text/css">
.top_indent { padding-top: 0.5em; }
</style>

<h1>Education in the Balance:<br />A Report on the Academic Workforce in English</h1>

<!-- // set everyone so they can access the page. remove the @eval to restore the password. // -->
<@eval ($cookie{mlapageaccess} = $searcharg{file};)>


<@if ($cookie{mlapageaccess} ne $searcharg{file})>

<!-- // They have not entered the password, so show the password form // -->

	<p>
		This report is password protected. If you are an authorized user, please enter your password here:
	</p>
	<form action="/FORM_ACTIONS/[[[searcharg file]]]" method="post" name="form1" onSubmit="return checkInput();">
	Password: <input type="password" size="16" name="pagepassword">
	&nbsp;
	<input type="submit" value="Enter">
	<input type="hidden" name="function" value="pagepassword">
	<input type="hidden" name="xurl" value="[[[searcharg file]]]">
	</form>	
	<script language="JavaScript">
	function checkInput() {
	if (document.form1.pagepassword.value == '') {
		alert('You must enter a password.');
		return false;
		}
	return true;
	}
	</script>

<@else>

<!-- // They have already entered the password, so show the page // -->

	<!-- // PUT PAGE CONTENT HERE // -->
	
	<p>
<div class="top_indent"><a href="/workforce_fullreport">Full Report</a>[[[docstudio filetype_tag_pdf]]]</div>

<div class="top_indent"><a href="/demographyfacultypdf">Demography of the Faculty: A Statistical Portrait of English and Foreign Languages</a>[[[docstudio filetype_tag_pdf]]]</div>
	</p><P>

 

<@/if>
