<h1>Summary of Data from Surveys by the Coalition on the Academic Workforce</h1>
Surveys by a number of humanities and social science disciplines in the Coalition on the Academic Work Force (CAW) provide compelling new evidence about the use and treatment of part-time and adjunct faculty, highlighting the dwindling proportion of full-time tenure-track faculty members teaching in undergraduate classrooms, and providing solid evidence of the second-class status of part-time and adjunct employees in the academy.  

CAW, a coalition of 25 academic societies, with the opinion survey organization Roper Starch drafted the survey in the spring of 1999 and mailed it in the fall. Six disciplinary societies--representing anthropology, cinema studies, English, film studies, folklore, foreign languages, and linguistics--sent out surveys to all the departments in their fields. For four other fields--history, philology (classics), philosophy, and freestanding composition programs--Roper Starch refined the Modern Language Association's comprehensive list down to a representative sample of departments and institutions. Either Roper Starch or the staff of the individual disciplinary societies then mailed the surveys and collected the responses, while Roper Starch tabulated the results. The American Political Science Association revised the form for its annual sample survey of four-year college and university political science departments to ask a number of similar questions. 

Most disciplines received response rates of between 40 and 45 percent. In every case, departments and PhD-granting institutions were significantly more responsive (typically between 55 and 65 percent) than programs conferring associates degrees (where the response rates ran from 20 to 36 percent).  

<h2>Demographics of Instructional Staff</h2> 
The growing use of part-time faculty in the academy is well documented,<SUP><a href="#1f">1</a></SUP> but the Coalition surveys provide some of the first comprehensive evidence about the use and treatment of this segment of the academic workforce in the humanities and the social sciences. It is striking evidence of the magnitude of the issue that all but three of the disciplines reported that traditional full-time tenure-track faculty members accounted for less than half of the instructional staff in the responding departments and programs. Part-time and adjunct faculty comprised 22 to 42 percent of the instructional staff in these departments and programs, depending on the discipline (<a target="other" href="/coalition_table_1"><b>Table 1</b></a>). 

Freestanding programs in composition (surveyed by the Conference on College Composition and Communication) reported the smallest proportion of full-time tenured or tenure-track faculty at 14.6 percent. English and foreign language programs reported just over a third of the instructional staffs in their departments were full-time tenure track. Only in anthropology, history, and philosophy programs did full-time tenure-track faculty comprise more than half of the instructional staff. 

Part-time faculty comprised from 17.6 percent (in cinema studies) to just over 32 percent (in art history and English programs) of the instructional staff in the disciplines. Faculty employed full time but off the tenure track comprised a much smaller portion, ranging from a low of 4.3 percent of instructional staff in anthropology departments to highs of slightly more than 12 percent in composition and foreign language programs. 

One of the surprises among the responses to the survey was the relatively high proportion of graduate students serving as instructional staff or classroom assistants in the various disciplines. In most of the disciplines, graduate students comprised 15 to 25 percent of the teachers among all departments and programs. Two disciplines, cinema studies and composition, which surveyed programs primarily in PhD-granting institutions, reported significantly higher proportions of graduate students. 

<h2>Classroom Numbers</h2> 
Notably, full-time tenure-track faculty members taught less than half of the introductory undergraduate courses in all but two of the disciplines (<a target="other" href="/coalition_table_2"><b>Table 2</b></a>).<SUP><a href="#2f">2</a></SUP> Art history departments reported the largest proportion of introductory classes taught by full-time tenure-track faculty, with 52.3 percent. Freestanding composition programs reported the smallest proportion, with less than 7 percent of the introductory courses being taught by full-time tenure-track faculty. 

Another notable finding is the large proportion of classes taught by graduate students, who accounted for between 7 and 34 percent of the undergraduate courses taught. Graduate students were predominantly used in introductory classes, where they accounted for from 12 percent (in art history) to 42.5 percent (in freestanding composition programs) of the classes taught. Graduate students accounted for a smaller, but still significant, portion of the teaching for classes above the introductory or first-year level. Graduate students taught more than 5 percent of the other undergraduate courses in all of the disciplines. 

In each of the disciplines, the proportions of instructional staff in the classroom varied significantly depending on the type of program. PhD-granting programs relied heavily on graduate students to fill the staffing role of part-time and adjunct faculty at liberal arts and community colleges. Graduate students taught anywhere from 25 to 60 percent of the undergraduate classes at PhD programs in all of the reporting disciplines, while part-time faculty taught from 32 to 57 percent of the undergraduate classes at programs conferring associates degrees. 

<h2>Institutional Support and Benefits</h2> 
The coalition report also provides detail about the sort of institutional support and benefits received by part-time and adjunct faculty members (<b><a target="other" href="/coalition_table_3a">Tables 3A,</a> <a target="other" href="/coalition_table_3b">3B</a></b>). Not surprisingly, full-time nontenure-track faculty received the most benefits, while part-time faculty paid on a per-course basis received few benefits, if any. Almost all of the full-time nontenure-track faculty had access to some health benefits at least partially paid by the employing institution, and between 65 and 87 percent had access to a retirement and life insurance (<b><a target="other" href="/coalition_table_3a">Table 3A</a></b>). 

This contrasts starkly with the benefits for part-time faculty members paid on a per-course basis (the vast majority of part-time faculty in every discipline). History departments offered the fewest benefits to these faculty members, with 77.4 percent of the departments reporting they provide no benefits to part-time faculty paid by the course (<b><a target="other" href="/coalition_table_3b">Table 3B</a></b>). With the exception of linguistics, in which only 46.8 percent of the departments offered no benefits, the other disciplines all reported that well over 60 percent of the programs offered no benefits to part-time faculty paid by the course. 

As with the benefits, full-time nontenure-track faculty members also received considerably more support for their professional scholarship. With the exception of cinema studies, well over 70 percent of the departments with full-time nontenure-track faculty provided them with support for travel to professional meetings. With the exception of philology, the disciplines reported that over half of their programs provided access to research grants. And over a third of the departments provided support to attend workshops; though 80 percent of English, foreign language, and freestanding composition programs reported they provided support to attend departmental workshops to their full-time nontenure-track faculty.  

In contrast, less than 26 percent of the programs with part-time faculty members paid by the course offered them travel support or (with the exception of cinema studies) research support. And again with the exception of cinema studies, the programs supported workshops for faculty, though only freestanding composition programs and English departments surpassed 50 percent support.  

Somewhat contrary to expectations, there was significantly less difference between full-time nontenure-track faculty and part-time faculty in the other "quality of life" issues, such as mailboxes and office spaces. Almost all the departments provide mailboxes, phone access, photocopying, and library privileges.  

There was a slightly wider difference in office space and computer use, as well over 70 percent of the departments with full-time nontenure-track faculty reported that they provided these staff members with their own offices, and well over two-thirds provided them with their own computers. Almost all of the remaining departments provided shared access to an office and computer. The numbers were reversed for programs reporting on their support for part-time faculty members paid by the course. Less than a third provided private office space to these faculty (though almost 100 percent offered at least shared office space) and well over half provided access to a computer (though most only had access to a shared computer). 

However, the study does not provide information on the quality of the office space or the computers to which these faculty had access. In a survey of part-time faculty conducted by the American Historical Association last year, most complained bitterly about small shared offices and barely functional hand-me-down computers.<SUP><a href="#3f">3</a></SUP> 

<h2>Salary Data</h2> 
Like the data on benefits, the surveys' findings suggest two tiers of treatment of part-time and adjunct faculty. Full-time nontenure-track faculty are likely to be given a salary sufficient to support significant attention to their instructional responsibilities. In contrast, part-time faculty members, particularly those paid on a per-course basis, receive so little compensation that they simply must take multiple jobs to maintain even a modest standard of living. 

With the exception of philology, the disciplines found that large majorities of the full-time nontenure-track faculty members in their programs received more than $32,000 per year. When combined with their access to basic benefits like health care and retirement plans, this would appear to provide a viable standard of living.  

This differs sharply from the salaries for part-time faculty members paid by the course (<b><a target="other" href="/coalition_table_4">Table 4</a></b>). In addition to receiving few if any benefits, most receive less than $3,000 per course. Nearly one-third of them earn $2,000 or less per course. In large fields like English and history nearly half of the part-timers are in this category. At this rate of pay, part-time teachers--almost all of whom have the masters degree and many of whom have the PhD--would have to teach more than four courses per term to earn over $15,000 a year. Most could earn comparable salaries as fast food workers, baggage porters, or theater lobby attendants.<SUP><a href="#4f">4</a></SUP> 

While there were significant differences between the disciplines, the most important factor in determining salaries for faculty members appeared to be the type of institution in which they were employed. Regardless of the discipline, they were significantly more likely to be in the top income ranges if they were teaching in a department that conferred the PhD, and significantly more likely to be in the bottom income ranges if they were employed in a program conferring associates degrees. In the field of history, for instance, it meant a difference in the average pay per course of almost $2,000, as programs conferring associates degrees paid an average of only $1,694 per history course, as compared to an average $3,628 at PhD-granting departments. 

<h2>Comparison to Assertions from Conference</h2> 
The impetus for conducting this survey emerged from the Conference on the Growing Use of Part-Time and Adjunct Faculty, held September 26-28, 1997, in Washington, D.C. In a summary statement, conference participants expressed concern that the terms and conditions of such appointments are too often inadequate to support responsible teaching or a career, but noted that this finding was based on often partial and incomplete data.<SUP><a href="#5f">5</a></SUP> As a result, the participating organizations agreed to form the coalition, and work toward developing more complete data. 

The resulting survey data support many of the statements in the final report from the conference, while other findings suggest the need for a more nuanced picture. 

Certainly the data on salaries and benefits support the conference's principal assertion that the "terms and conditions of part-time and adjunct faculty appointments, in many cases, weaken our capacity to provide essential educational experiences and resources. Too often the terms and conditions of such appointments are inadequate to support responsible teaching or, by extension, a career." Similarly, the data on the number of part-time and adjunct employees and their work in the classroom support the conference's assertions about the significant scope and scale of the problem. The data clearly establish that part-time faculty members are not integrated into the life of the programs in which they are teaching (by invitation to department meetings) or the academic community (by support for their research and professional development). 

However, the data on salaries and benefits also suggest the need for a more nuanced description of the problem. Although full-time nontenure-track employees are generally paired with part-time faculty members in descriptions and assessments of the part-time/adjunct situation, the data highlight a sharp difference between the two. While full-time nontenure-track faculty members received salaries and benefits somewhat comparable to their tenure-track colleagues, the pay and benefits for part-timers are inadequate for the mission of a college or university. 

<h2>Notes</h2> 
<a name="1f"> </a>1. U.S. Department of Education (USDE)/National Center for Education Statistics (NCES), <i>Fall Staff in Postsecondary Institutions, 1995</i> (Washington, D.C., 1998), Figures 1-3, and USDE/NCES, <i>Fall Staff in Postsecondary Institutions, 1997</i> (Washington, D.C., 1999), Table 2. 

<a name="2f"> </a>2. There was an important difference in the questionnaires for the disciplines, as the MLA surveys distinguished "first-year writing and language" courses from other undergraduate courses. The other fields differentiated undergraduate courses between "introductory courses" and "other courses." Data from philosophy has been ignored on this question because the language in the relevant question was not revised from the original MLA-designed survey form to ask information pertinent to introductory philosophy courses. 

<a name="3f"> </a>3. Robert B. Townsend, "Part-Time Teachers: The AHA Survey," <i>Perspectives</i> 38:4 (April 2000): <a href="http://www.historians.org/perspectives/issues/2000/0004/0004new1.cfm">http://www.historians.org/perspectives/issues/2000/0004/0004new1.cfm</a> 

<a name="4f"> </a>4. Bureau of Labor Statistics, U.S. Department of Labor, <i>Occupational Employment and Wage Estimates, 1998.</i> Available at: <a href="http://stats.bls.gov/oes/oes_data.htm"  target="other">http://stats.bls.gov/oes/oes_data.htm</A>. 

<a name="5f"> </a>5. See Statement from the Conference on the Growing Use of Part-Time and Adjunct Faculty at <a href="http://www.aaup.org/AAUP/issues/contingent/conferencestatement.htm" target="other">http://www.aaup.org/AAUP/issues/contingent/conferencestatement.htm</A>. 
