<h1>Resources from the American Association of University Professors (AAUP)</h1>
The 1940 Statement of Principles on Academic Freedom and Tenure:
<a href="http://www.aaup.org/AAUP/pubsres/policydocs/contents/1940statement.htm" target="_blank">http://www.aaup.org/AAUP/pubsres/policydocs/contents/1940statement.htm</a>

AAUP Resources on Contingent Appointments:
<a href="http://www.aaup.org/issues/contingent-faculty/resources-contingent-appointments" target="_blank">http://www.aaup.org/issues/contingent-faculty/resources-contingent-appointments</a>

AAUP Statements on Student Rights and Responsibilities: 
<a href="http://www.aaup.org/AAUP/pubsres/policydocs/contents/stud-rights.htm" target="_blank">http://www.aaup.org/AAUP/pubsres/policydocs/contents/stud-rights.htm</a>
<a href="http://www.aaup.org/AAUP/pubsres/policydocs/contents/statementongraduatestudents.htm" target="_blank">http://www.aaup.org/AAUP/pubsres/policydocs/contents/statementongraduatestudents.htm</a>

More  on AAUP's Mission to Protect Academic  Freedom:
<a href="http://www.aaup.org/AAUP/programs/academicfreedom/" target="_blank">http://www.aaup.org/AAUP/programs/academicfreedom/</a>
<a href="http://www.aaup.org/AAUP/about/censuredadmins/default.htm" target="_blank">http://www.aaup.org/AAUP/about/censuredadmins/default.htm</a>
<a href="http://www.aaup.org/reports-publications/aaup-policies-reports/academic-freedom-and-tenure-investigative-reports" target="_blank">http://www.aaup.org/reports-publications/aaup-policies-reports/academic-freedom-and-tenure-investigative-reports</a>
<a href="http://www.aaup.org/issues/academic-freedom/academic-freedom-and-freedom-information-requests-2011/resources-academic" target="_blank">http://www.aaup.org/issues/academic-freedom/academic-freedom-and-freedom-information-requests-2011/resources-academic</a>





	
