<h1>Resources on Human Rights Issues</h1>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr><td><a class="sectionindex" href="http://shr.aaas.org/" target="_blank">American Association for the Advancement of Science--Science and Human Rights Program</a></td></tr>
<tr><td><@spacer 1x5></td></tr>
<tr><td><a class="sectionindex" href="http://www.amnesty.org" target="_blank">Amnesty International</a></td></tr>
<tr><td><@spacer 1x5></td></tr>
<tr><td><a class="sectionindex" href="http://www.hrw.org" target="_blank">Human Rights Watch</a></td></tr>
<tr><td><@spacer 1x5></td></tr> 
<tr><td><a class="sectionindex" href="http://www.scholarrescuefund.org" target="_blank">Institute of International Education--Scholar Rescue Fund</a></td></tr>
<tr><td><@spacer 1x5></td></tr>
<tr><td><a class="sectionindex" href="http://www.ifex.org" target="_blank">International Freedom of Expression Exchange</a></td></tr>
<tr><td><@spacer 1x5></td></tr> 
<tr><td><a class="sectionindex" href="http://www.nearinternational.org" target="_blank">Network for Education and Academic Rights</a></td></tr>
<tr><td><@spacer 1x5></td></tr> 
<tr><td><a class="sectionindex" href="http://www.pen.org" target="_blank">PEN American Center</a></td></tr>
<tr><td><@spacer 1x5></td></tr> 
<tr><td><a class="sectionindex" href="http://scholarsatrisk.nyu.edu/" target="_blank">Scholars at Risk</a></td></tr></table> 
