<h1>Professional Resources</h1>
In addition to hosting an annual convention and sustaining one of the finest publishing programs in the humanities, the MLA is a leading advocate for the study and teaching of language and literature and serves as a clearinghouse for professional resources for teachers and scholars. 

<b><a href="/advocacy">Advocacy</a></b>

<b><a href="/career_resources">Career Resources</a></b>

<b><a href="/confs_fellows_anns">Conferences, Fellowships, and Announcements</a></b>

<b><a href="/mla_deadlines">MLA Deadlines</a></b>

<b><a href="/awards">MLA Honors and Awards</a></b>

<b><a href="/map_main">MLA Language Map</a></b>

<b><a href="/prof_directories">Professional Directories</a></b>

<b><a href="/documents">Surveys, Reports, and Other Documents</a></b>

MLA members also have access to the member directory and other publications through the <a href="/member_resources">Member Resources</a> section of the Web site.
