August 7, 2008
<img src="/IMAGES/nytlogo153x23.gif" width="153" height="23" border="0" align="top" hspace="0" vspace="1" alt="nytimes logo">

<h1>&#161;Hola, Se&#241;or Bloomberg!</h1>

To the Editor:
Re "<a href="http://www.nytimes.com/2008/08/04/nyregion/04spanish.html?ref=opinion" target="_blank">Shaping a Mayor’s Spanish, Not His Ideas</a>" (news article, Aug. 4):

By working with his Spanish tutor, Mayor Michael R. Bloomberg proves that it is possible to learn a language at any age if one is willing to invest the time and effort. He is also giving a positive model to New Yorkers: according to data found on the Modern Language Association Language Map, nearly half of all city residents speak a language other than English in the home, and close to two million of them speak Spanish.

No matter what new languages we choose to learn, we become better citizens &#151; and more like the rest of the world &#151; when we are not limited to our native language. 

<img src="/IMAGES/rosemarysig.gif" width="300" height="56" border="0" align="top" hspace="0" vspace="1" alt="Rosemary Feal signature">
Rosemary G. Feal
Executive Director
Modern Language Association

New York, Aug. 4, 2008
