<h1>A Special Letter from Stephen Greenblatt</h1>
<div align=right>28 May 2002</div>
Dear Colleague:

I am writing to you on behalf of the MLA Executive Council about a serious problem in the publishing of scholarly books. We seek your assistance.

The situation is this: over the course of the last few decades, most departments of language and literature have come to demand that junior faculty members produce, as a condition for being seriously considered for promotion to tenure, a full-length scholarly book published by a reputable press. A small number of departments expect the publication of two such books. Whether these expectations are reasonable or necessary is a question that we should collectively ponder and debate. The immediate problem, however, is that university presses, which in the past brought out the vast majority of scholarly books, are cutting back on the publication of works in some areas of language and literature. Indeed, we are told that certain presses have eliminated editorial positions in our disciplines.

Many factors are involved here, but the core of the problem--which extends beyond our fields to such disciplines as philosophy, musicology, and anthropology--is systemic, structural, and at base economic. Under financial constraint, universities have been unable to provide adequate support both for library budgets and for university presses. Responding to the pressure of shrinking budgets and of skyrocketing costs for medical, scientific, and technical journals, libraries have cut back on the number of books that they purchase. And university presses, suffering severe financial losses as a result of this shift in library purchases and a general decline in book sales, have cut back on the number of books they publish annually in certain fields.

Some junior faculty members who will be reviewed for tenure in this academic year are anxiously waiting to hear from various university presses. These faculty members find themselves in a maddening double bind. They face a challenge--under inflexible time constraints and with very high stakes--that many of them may be unable to meet successfully, no matter how strong or serious their scholarly achievement, because academic presses simply cannot afford to publish their books. The situation is difficult for those in English and even more difficult for those in foreign languages.

We are concerned because people who have spent years of professional training--our students, our colleagues--are at risk. Their careers are in jeopardy, and higher education stands to lose, or at least severely to damage, a generation of young scholars. And, I repeat, the central issue is systemic. As a first step in confronting this problem, we ask you to discuss this letter in your department and with the various committees that will participate in this year's tenure decisions. We hope that the current circumstances of academic presses will be taken into account.

What else can be done? A report by the MLA Ad Hoc Committee on the Future of Scholarly Publishing that analyzes recent developments in scholarly publishing will appear in <i>Profession 2002</i>, and a council subcommittee is considering actions the MLA and modern language and literature departments might take that would ease the current situation. For example, as a number of informed observers have noted, books are not the only way of judging scholarly achievement. Should our departments continue to insist that only books and more books will do? We could try to persuade departments and universities to change their expectations for tenure reviews: after all, these expectations are, for the most part, set by us and not by administrators. The book has only fairly recently emerged as the sine qua non and even now is not uniformly the requirement in all academic fields. We could rethink what we need to conduct responsible evaluations of junior faculty members. And if institutions insist on the need for books, perhaps they should provide a first-book subvention, comparable to (though vastly less expensive than) the start-up subvention for scientists.

No doubt there are many ideas that we could and should be considering, and I urge you to write me at the Modern Language Association by regular mail or e-mail (<a href="mailto:sgreenblatt@mla.org">sgreenblatt@mla.org</a>) with suggestions that I can bring to the attention of the Executive Council. Above all, at this moment I urge an intensified awareness of the problem: departments can no longer routinely expect that the task of scholarly evaluation will be undertaken by the readers for university presses and that a published book will be the essential stamp of a young scholar's authenticity and promise.

Sincerely yours,
Stephen Greenblatt
