<h1>Office of Scholarly Communication</h1>
<p>Created by the MLA’s Executive Council in 2011, the office of scholarly communication oversees a range of activities intended to promote scholarship among MLA members and within the larger academic community. The office oversees the <a href="/pub_prog_general">book publications program</a>, <i><a href="http://commons.mla.org" target="blank">MLA Commons</a></i>, and the MLA Web site. To contact the office of scholarly communication, please e-mail <a href="mailto:scholcomm@mla.org">scholcomm@mla.org</a>.</p>
