<h1>Inclusion of Scholarly Web Sites</h1>
The <i>MLA International Bibliography</i> includes scholarly Web sites. To be included, they must

<ul><li>Be only electronic. Sites also available in print will be indexed as such with an additional note regarding site information.</li> 
<li>Identify the editor, publisher, or scholarly organization with contact information. Scholars’ credentials should also be listed.</li>
<li>Contain original scholarly content or scholarly apparatus, including tools that add utility to a text.</li>
<li>Be examined by an indexer who, after applying current print criteria when appropriate, designates the site as within the scope of the bibliography.</li>
</ul> 
Personal or academic departmental Web sites, blogs, or search engines will not be indexed. Relevant articles from e-journals continue to be regularly indexed in the <i>MLA Bibliography</i>, and listings for e-journals are also included in the <i>Directory of Periodicals</i>. 

To bring Web sites to our attention for consideration in the bibliography, please send an e-mail that includes the URL to <a href="mailto:bibliography@mla.org">bibliography@mla.org</a>.

Also consult the "<a href="/web_guidelines">Minimal Guidelines for Authors of Web Pages</a>," as established by the MLA Committee on Information Technology, before submitting your recommendations.
