<h1>New Structures for a Changed World? Next Steps</h1>
<i><p>
Would you like to help your department (or unit, section, or program) move forward and develop new strengths? Apply for the free preconvention workshop to be held in Boston, 3 January 2013.
</p></i>
<h2>Background</h2>
<p>
The 2007 MLA report <a href="/flreport"><i>Foreign Languages and Higher Education: New Structures for a Changed World</i></a> has generated a high degree of interest, suggesting that many departments are taking its recommendations seriously. Although the report was not intended to be a blueprint for change, it raised key issues that can alter the infrastructure of foreign language teaching. The report’s call for new avenues to “translingual and transcultural competence” has been heard by many, but the implementation of transformed goals and curricula—not to mention the shift in emphasis from the traditionally literary canon to a wider range of cultural narratives, practices, and discourses—is challenging in terms of both principles and procedures. 
</p>            
<h2>Workshop</h2>
<p>
To assist departments, units, sections, or programs (hereafter referred to as units) in examining the implications of the 2007 report and to support innovation in language and literature units, the MLA, with the participation of the ADFL, has established the Steering Committee on New Structures for Languages in Higher Education (SCNSL). This group will provide resources for faculty members who have key structural, curricular, or pedagogical questions they would like to discuss. A half-day preconvention workshop will be held in Boston on 3 January 2013, from 8:30 a.m. to 12:00 p.m. (including breakfast). The workshop, organized around issues raised by participants, will be free of charge.
</p>
<h2>Application Procedures</h2>
<p>
Please download and fill out the application form provided below and e-mail it with a short CV to <a href="mailto:nfurman@mla.org">nfurman@mla.org</a>. Applications must be received by 1 October 2012 to be considered. Attendance will be limited to up to thirty participants. The SCNSL will select participants on the basis of the issues raised; an effort will be made to include a broad range of institutional types. Applicants will be notified of the committee’s selection no later than 1 November 2012. If there is sufficient interest, a waiting list will be constituted. Successful applicants and those on the waiting list should plan to make appropriate travel arrangements. Successful candidates will be asked to fill out an additional questionnaire to provide specific information about the governance structures and curriculum in their departments.
</p>
<a href="/scnsl_2013_apply" target="_blank">SCNSL 2013 Workshop Application</a>[[[docstudio filetype_tag_pdf]]]

<h2>Postworkshop Planning</h2>
<p>
Workshop participants will be encouraged to report back on positive changes in unit governance structures or curricula that result directly or indirectly from the workshop. The MLA will highlight these developments on its Web site.
</p>
<p>
For further information, contact Nelly Furman (<a href="mailto:nfurman@mla.org">nfurman@mla.org</a>). 
</p>
<dl>
<dt>Members of the Steering Committee on New Structures for Languages in Higher Education (SCNSL):</dt>
<dd>Catherine Porter and Jane Hacking, cochairs</dd>
<dd>Dawn E. Bratsch-Prince</dd> 
<dd>Patrick M. Bray</dd>
<dd>Debra Ann Castillo</dd> 
<dd>Timothy Jon Scheie</dd> 
<dd>Karin C. Ryding</dd>
<dd>C. Lynne Tatlock</dd>
</dl>
