<h1>Search Tips</h1>

Welcome to the search page for the call for papers. We hope that you will find this tool useful as you review the call-for-papers listing and decide where to submit your paper. The electronic search page is a new function, so we welcome your comments and suggestions. 

Questions regarding a specific call for papers should be directed to the person whose name and e-mail are listed with the call. General questions about the call-for-papers listing or the electronic search function may be sent to Stacey Courtney at <a href="mailto:scourtney@mla.org">scourtney@mla.org</a>.

<b>Search Criteria</b>—Search the listing by a word, a type of session (division, discussion group, allied organization, American Literature Section, MLA committee, or special session), or by the organizer’s first or last name. Click Search Calls to begin the search.

<blockquote><b><i>A Note on Accents:</b></i> Enter the word or name into the search field without accents. This  should display all results with or without accents.

<b><i>A Note on Names:</b></i> To search for a name that contains an apostrophe (e.g., O’Driscoll), enter the name without the apostrophe. This should display all results with or without apostrophes.

<b><i>A Note on Punctuation:</b></i> The search is designed to look for individual words, not for contractions, phrases, or words that contain punctuation. Certain punctuation marks may interfere with the search. To search for a word that contains punctuation  marks (e.g., (Re)Articulating), enter the part before or after the punctuation mark (e.g., Articulating) to return a broader search. </blockquote>

<b>Find</b>—Enter a word or partial word to display calls with that word in the title, description, or organization name. This search function will look for an exact match. Enter partial words for a broader search (e.g., enter "philosoph" for results that include "philosophy" and "philosophical").

<b>Session Type</b>—To limit your search to calls within a particular session type (e.g., to search only sessions in the Chaucer division or only special sessions), select <a href="/committees">MLA committee, division, discussion group</a>, American Literature Section, <a href="/related_professional">allied organizations</a>, or special session from the drop-down menu. Note: Click on the links above to see a list of the organizations within each session type; special sessions and the American Literature Section feature no links because they do not comprise additional organizations.

<b>First or Last Name</b>—Enter name to display calls submitted by that person. Search the <a href="/member_search">member database</a> to verify the spelling of the person’s name. Enter a truncated name to broaden your search.

<b>Search Results</b>—Click the title of the call that you wish to see. Titles are listed below the name of the organizing group and are preceded by a square symbol. 

<b>Details of Selected Call</b>—Call details will appear in the box below "Search Results." You may need to scroll down to view "Details of Selected Call."

Click <a href="/cfp_browse">here</a> to browse a list of calls for papers for each session type.
