<h1>Reports on the Survey of Earned Doctorates</h1>
<b>Current Report</b>

The MLA’s report of findings for English and other modern languages from the 2009–10 Survey of Earned Doctorates is <a href="/sed_report_0910" target="_blank" >available for download</a>. [[[docstudio filetype_tag_pdf]]]

<b>Previous Reports</b>

<a href="/sed_0809_pdf" target="_blank" onClick="javascript: pageTracker._trackPageview('/pdf/sed_0809_pdf'); ">Report on the Survey of Earned Doctorates, 2008–09</a>[[[docstudio filetype_tag_pdf]]]

<i>Doctorate Recipients from U.S. Universities, 2009</i> is available from the National Science Foundation at <a target="_blank"  href="http://www.nsf.gov/statistics/nsf11306/">http://www.nsf.gov/statistics/nsf11306/</a>.

<a href="/sed_2008_pdf" target="_blank" onClick="javascript: pageTracker._trackPageview('/pdf/sed_2008_pdf'); ">Report on the Survey of Earned Doctorates, 2007–08</a>[[[docstudio filetype_tag_pdf]]]

<i>Doctorate Recipients from U.S. Universities: Summary Report, 2007–08</i> is available from the National Science Foundation at <a target="_blank"  href="http://www.nsf.gov/statistics/nsf10309/">http://www.nsf.gov/statistics/nsf10309/</a>.
 
