<h1>Services for Graduate Students</h1>

<p>This section is devoted to MLA resources from a graduate student perspective and is the work of the MLA Committee on the Status of Graduate Students in  the Profession. These pages give graduate student members of the MLA prompt access to information that concerns them directly. Listed is a selection of the association's most popular links: prizes and financial assistance, allied and affiliate organizations, career planning and counseling, dissertation writing, the job search, publishing, and so on.</p>
<p>
[[[insert page index]]]
