<h1>Detailed Description Examples</h1>

<p>This page contains links to examples of successful description sections from a variety of session proposals  (these examples are applicable to all types of special-session and nonguaranteed-session proposals). Click on a link below to view the example. These excerpts appear as they were received by the MLA and have not been edited to conform to MLA style.</p>

<h2>Examples from Special-Session Proposals</h2>
<dl>
<dt>
<a href="/description01">Ideas of Form in Twentieth-Century Poetry: What We Talk about When We Talk about Form</a>
</dt>
	<dd class="abstract">
(Example of a proposal organized by a graduate student) 
	</dd>
<dt>
<a href="/description02">Post-Bellum, Pre-Harlem: New Approaches to African American Literature and Culture, 1877-1919 </a>
</dt>
	<dd class="abstract">
	(Example of a proposal with three graduate student panelists) 
	</dd>
<dt>
<a href="/description03">Reconsidering Robert Creeley</a>
	<dd class="abstract">
	(Example of a proposal that is also a tribute) 
	</dd>
</dt>
<dt>
<a href="/description04">Saintly Women and Priestly Poets: The Fifteenth-Century English Poetry of Osbern Bokenham, John Capgrave, and John Audelay</a>
	<dd class="abstract">
	(Example of a proposal with a good rationale and history)  
	</dd>
</dt>
<dt>
<a href="/description05">Revision as Writing, Writing as Revision</a>
	<dd class="abstract">
	(Example of a roundtable proposal) 
	</dd>
</dt>
<dt>
<a href="/peter_weisss_example">Peter Weiss's <i>Aesthetics of Resistance</i> at Twenty Five</a>
	<dd class="abstract">
	(Example of a proposal focusing on one work) 
	</dd>
</dt>
</dl>

<h2>Examples from Nonguaranteed-Session Proposals</h2>
<dl>
[[[comment]]]
<dt>
<a href="/description_ngs01">Class Dismissed: Economic Policies, the Academic Workforce, and Student Access to Higher Education</a>
</dt>
	<dd class="abstract">
	(Example of a roundtable collaborative session proposal)
	</dd>
[[[endcomment]]]
<dt>
<a href="/description_ngs02">Literature, Wars, and the American Body</a>
</dt>
	<dd class="abstract">
	(Example of a collaborative session proposal)
	</dd>
[[[comment]]]
<dt>
<a href="/description_ngs03">What Is “College Level Writing” in the Twenty-First Century?</a>
	<dd class="abstract">
	(Example of a single-entity proposal)
	</dd>
</dt>
[[[endcomment]]]
<dt>
<a href="/description_ngs04">Drawing Women’s Lives</a>
	<dd class="abstract">
	(Example of a single-entity proposal)
	</dd>
</dt>
</dl>
