<h1>I am citing a work in a newspaper that paginates sections separately, and the sections are designated only by title, not by number or letter. How do I format the entry in the list of works cited?</h1>
<p>Give the title of the section before the abbreviation <em>sec</em>.</p>
<p style="margin-left:4.25em; text-indent:-2.25em;">Dwyer, Jim. “Yeats Meets the Digital Age, Full of Passionate Intensity.” <em>New York Times</em> 20 July 2008, early ed., Arts and Leisure sec.: 1+. Print.</p>
