<h1><I>MLA Newsletter</i><BR>
Spring 2006</h1>
<h2>In This Issue</h2>
<table width="95%" border="0" align="left">
<tr align="left" valign="top"> 
<td width="6%">1</td>
<td width="94%"><i><B>Phyllis Franklin Award for Public Advocacy of the Humanities Presented to William G. Bowen</B></i></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">3</td>
<td width="94%"><i><B>President's Column</B></i><BR>
<I>Marjorie Perloff</i><BR>
"Creative writing" among the disciplines</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">5</td>
<td width="94%"><i><B>Editor's Column</B></i><BR>
<I>Rosemary G. Feal</i><BR>
Language requirements and the English PhD: "A gesture of interest"?</td>
</tr>
</tr>
<tr align="left" valign="top"> 
<td width="6%">6</td>
<td width="94%"><i><B>2005 Election Results</B></i></td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<tr align="left" valign="top"> 
<td colspan=2><b>BIBLIOGRAPHY</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">27</td>
<td width="94%"><i>MLA Bibliography</i> fellowships</td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2><b>BOOK NEWS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">24</td>
<td width="94%">New Approaches title and new edition to be published </td></tr>
<tr align="left" valign="top"> 
<td width="6%">24</td>
<td width="94%">Call for contributions in Approaches series</td></tr>
<tr align="left" valign="top"> 
<td width="6%">24</td>
<td width="94%">Call for essay proposals for volume <i>Teaching Literature and Law</i></td></tr>
<tr align="left" valign="top"> 
<td width="6%">25</td>
<td width="94%">Call for essay proposals for volume <i>Teaching Film</i></td></tr>
<tr align="left" valign="top"> 
<td width="6%">25</td>
<td width="94%">Call for essay proposals for volume <i>Teaching Early Modern Literature from the Archives</i></td></tr>
<tr align="left" valign="top"> 
<td width="6%">25</td>
<td width="94%">Call for essay proposals for volume <i>Teaching British Women Playwrights of the Restoration and Eighteenth Century</i></td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>CONVENTION</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%">Department chairs' hotel reservations</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%">Calls for papers for 2006 convention in Philadelphia</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>GOVERNANCE</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">6</td>
<td width="94%">Membership ratification vote</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">26</td>
<td width="94%">Summary of Delegate Assembly actions in
Washington, DC</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>GRANTS AND PRIZES</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">1</td>
<td width="94%">Winners of MLA prizes announced</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>MEETINGS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">26</td>
<td width="94%">2006 ADE Summer Seminars</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">27</td>
<td width="94%">2006 ADFL Summer Seminars</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b><b>Other News and Announcements</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">27</td>
<td width="94%">Updated MLA recommendations on salaries for entry-level, full-time, and part-time faculty members</td></tr>
<tr align="left" valign="top"> 
<td width="6%">27</td>
<td width="94%">Fellowships and grants deadlines</td></tr>
<tr align="left" valign="top"> 
<td width="6%">28</td>
<td width="94%">Upcoming MLA deadlines</td></tr></table>
