<h1><I>MLA Newsletter</i><BR>
Spring 2001</h1>
<h2>In This Issue</h2>
<table width="95%" border="0" align="left">
<tr align="left" valign="top"> 
<td width="6%">1</td>
<td width="94%"><b><i>Executive Director Search</i></b></td></tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%"><i><b>2000 Election Results</b></i></td></tr>
<tr align="left" valign="top"> 
<td width="6%">3</td>
<td width="94%"><i><B>President's Column</B></i><BR>
<I>Sylvia Molloy</i><BR>
Moving dialogue</td></tr>
<tr align="left" valign="top"> 
<td width="6%">4</td>
<td width="94%"><i><B>Editor's Column</B></i><BR>
<I>Phyllis Franklin</i><BR>
October 2000 employment trends</td></tr>
<tr align="left" valign="top"> 
<td width="6%">30</td>
<td width="94%"><b><i>Findings from the MLA Survey of
Staffing in English and Foreign Language Departments, Fall 1999</i></b></td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2><b>BOOK NEWS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">29</td>
<td width="94%">Call for contributions in Approaches series</td></tr>
<tr align="left" valign="top"> 
<td width="6%">29</td>
<td width="94%">Three new MLA titles published</td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>CONVENTION</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%">Winners of MLA prizes announced</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">8</td>
<td width="94%">Calls for papers for 2001 convention</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">29</td>
<td width="94%">ADE and ADFL department chairs'
hotel reservations</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>GOVERNANCE</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%">Requests for comments on Delegate
Assembly resolutions</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">32</td>
<td width="94%">Delegate Assembly meeting summary</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>MEETINGS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">29</td>
<td width="94%">2001 ADE and ADFL Summer Seminars</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%"><b>MLA WEB SITE NEWS</b></td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2"><b><i>Other News and Announcements</i></b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">8</td>
<td width="94%">Report on women in the profession</td></tr>
<tr align="left" valign="top"> 
<td width="6%">8</td>
<td width="94%">MLA parliamentarian</td></tr>
<tr align="left" valign="top"> 
<td width="6%">29</td>
<td width="94%">Correction</td></tr>
<tr align="left" valign="top"> 
<td width="6%">35</td>
<td width="94%">Classified advertisements</td></tr>
<tr align="left" valign="top"> 
<td width="6%">35</td>
<td width="94%">Fellowships and grants deadlines</td></tr>
<tr align="left" valign="top"> 
<td width="6%">36</td>
<td width="94%">Upcoming MLA deadlines</td></tr></table>
