<h1><I>MLA Newsletter</i>
Spring 2005</h1>
<h2>In This Issue</h2>
<table width="95%" border="0" align="left">
<tr align="left" valign="top"> 
<tr align="left" valign="top"> 
<td width="6%">1</td>
<td width="94%"><i><B>2004 Election Results</B></i></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">3</td>
<td width="94%"><i><B>President's Column</B></i>
<I>Domna C. Stanton</i>
A sense of activism</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">4</td>
<td width="94%"><i><B>Editor's Column</B></i>
<I>Rosemary G. Feal</i>
A conversation with Bruce Cole, chairman of the National Endowment for the Humanities</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<tr align="left" valign="top"> 
<td colspan=2><b>BIBLIOGRAPHY</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">31</td>
<td width="94%"><I>MLA Bibliography</i> fellowships</td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2><b>BOOK NEWS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">6</td>
<td width="94%">Call for proposals in World Literatures Reimagined series</td></tr>
<tr align="left" valign="top"> 
<td width="6%">6</td>
<td width="94%">Call for essay proposals for MLA volume <I>Teaching the Graphic Novel</i></td></tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%">Two new MLA titles published</td></tr>
<tr align="left" valign="top"> 
<td width="6%">31</td>
<td width="94%">Call for contributions in Approaches series</td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>COMMITTEES</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">29</td>
<td width="94%">Scholars at Risk and the MLA</td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>CONVENTION</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2	</td>
<td width="94%">Department chairs' hotel reservations</td></tr>
<tr align="left" valign="top"> 
<td width="6%">8	</td>
<td width="94%">Calls for papers for 2005 convention</td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>GOVERNANCE</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">6	</td>
<td width="94%">Membership ratification vote</td></tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%">Summary of Delegate Assembly actions in Philadelphia</td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>GRANTS AND PRIZES</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">1</td>
<td width="94%">Winners of MLA prizes announced</td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>MEETINGS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">29</td>
<td width="94%">2005 ADE Summer Seminars</td></tr>
<tr align="left" valign="top"> 
<td width="6%">29</td>
<td width="94%">2005 ADFL Summer Seminars</td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>MLA WEB SITE NEWS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">28</td>
<td width="94%">Members' information online</td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>Other News and Announcements</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">30</td>
<td width="94%">Correspondence</td></tr>
<tr align="left" valign="top"> 
<td width="6%">31</td>
<td width="94%">Classified advertisements</td></tr>
<tr align="left" valign="top"> 
<td width="6%">31</td>
<i><td width="94%">Fellowships and grants deadlines</td></tr>
<tr align="left" valign="top"> 
<td width="6%">32</td>
<td width="94%">Upcoming MLA deadlines</td></tr></table>
