<h1><I>MLA Newsletter</i><BR>
Spring 2007</h1>
<h2>In This Issue</h2>
<table width="95%" border="0" align="left">
<tr align="left" valign="top"> 
<td width="6%">1</td>
<td width="94%"><b><i>2006 Election Results</i></b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">3</td>
<td width="94%"><i><B>President's Column</B></i><BR>
<I>Michael Holquist</i><BR>
Getting out of the underground</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">5</td>
<td width="94%"><i><B>Editor's Column</B></i><BR>
<I>Rosemary G. Feal</i><BR>
What everyone from graduate students to university presidents can learn from the report by the MLA Task Force on Evaluating Scholarship for Tenure and Promotion</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">26</td>
<td width="94%"><b><i>Executive Summary of the MLA Task Force on Evaluating Scholarship for Tenure and Promotion</i></b></td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2><b>BIBLIOGRAPHY</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%"><i>MLA Bibliography</i> fellowships</td></tr>
<tr align="left" valign="top">
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2><b>BOOK NEWS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">6</td>
<td width="94%">Call for contributions in Approaches
series</td></tr>
<tr align="left" valign="top"> 
<td width="6%">28</td>
<td width="94%">Four new MLA titles released</td></tr>
<tr align="left" valign="top"> 
<td width="6%">31</td>
<td width="94%">Call for contributions for Options for Teaching volume</td></tr>
<tr align="left" valign="top">
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>COMMITTEES</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">31</td>
<td width="94%">New committee document offers information on applying for faculty positions in community colleges</td>
</tr>
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>CONVENTION</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">6</td>
<td width="94%">Department chairs' hotel reservations</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%">Calls for papers for 2007 convention in Chicago</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>GOVERNANCE</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%">Membership ratification vote</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%">Summary of Delegate Assembly actions in Philadelphia</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>GRANTS AND PRIZES</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">1</td>
<td width="94%">Winners of MLA prizes announced</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">4</td>
<td width="94%">Making nominations for the Phyllis Franklin Award for Public Advocacy of the Humanities</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>MEETINGS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">29</td>
<td width="94%">2007 ADE Summer Seminars</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">29</td>
<td width="94%">2007 ADFL Summer Seminars</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b><i>PMLA</i></b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">28</td>
<td width="94%"><i>PMLA</i> special topic: War</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>Other News and Announcements</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">30</td>
<td width="94%">Correspondence</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">31</td>
<td width="94%">Classified advertisements</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">31</td>
<td width="94%">Fellowships and grants deadlines</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">32</td>
<td width="94%">Upcoming MLA deadlines</td>
</tr>
</table>
