<h1>MLA Survey of Staffing in English and Foreign Language Departments, Fall 1999</h1>
Information from 1,986 departments can be accessed.

[[[insert page index]]]
<h2>About the Survey</h2>
The growing use of part-time and non-tenure-track faculty members is a serious employment trend that has not been well documented. This MLA survey provides timely information about staffing practices in English and foreign language departments and about the salaries, benefits, and professional support available to teachers holding full- and part-time non-tenure-track appointments. 

In November 1999 the MLA contacted the 5,245 college and university departments included in its database of English and foreign language departments in the United States and Canada. Information is presented here as reported by 1,986 departments that responded. Information on numbers of teachers employed is for fall 1999. Information on annual salaries is for academic year 1999-2000. Information on per-course pay is for fall 1999. Information on benefits and professional support is for fall 1999. 

The survey had an overall response rate of 42%. The survey's design as a census of all departments originated in a motion the MLA Delegate Assembly approved at its meeting in December 1998. The motion also provided for the MLA to make the results of the survey available in a report that identifies departments and institutions by name, along with the information the departments provided.

 
