<h1>Special Considerations for Language and Literature: The AAUP <i>Statement on Distance Education</i></h1>
The following statement endorses the 1999 AAUP <i>Statement on Distance Education</i> and articulates special concerns of language and literature teachers with respect to distance education.

The MLA strongly endorses the principles put forth in the AAUP <a href="http://www.aaup.org/report/statement-distance-education"><i>Statement on Distance Education</i></a>. While recognizing the importance of distance education to the profession, the MLA wants to reaffirm the traditional rights, responsibilities, and authority of the faculty. We quote from the AAUP document:
<blockquote>
	<i>As with all other curricular matters, the faculty should have primary responsibility for determining the policies and practices of the institution in regard to distance education.</i>
</blockquote>

Further, the MLA maintains that distance education initiatives should take into account the unique demands of teaching language and literature and should employ pedagogical strategies and technologies that ensure an appropriate educational environment. For example, language-learning courses present particular difficulties for online instruction. Language learning goes beyond the mere acquisition of linguistic knowledge; it involves an understanding of cultural context and the communicative processes that allow the learner to negotiate meaning in speaking, listening, reading, and writing. This learning process requires a high level of human contact, one that is traditionally facilitated by face-to-face interaction in the language classroom. Distance education must demonstrate its ability to enable those interactions, especially in multicultural contexts.

Three principles in the AAUP statement have particular import for teachers of languages and literature.
<ol>
<li><i>The applicable academic unit—usually a department or program—should determine the extent to which the new technologies of distance education will be utilized, and the form and manner of their use.</i>

Innovations in information technology have made it possible for individual faculty members to access and process digital images and sound as well as text over the Internet. Faculty expertise is indispensable to the process of assessing and selecting appropriate educational materials from the vast number of language and literature resources now available, integrating the new digital resources with traditional forms of content in a distance learning environment, and designing effective curricula and specific course content.

Moreover, faculty expertise and experience are indispensable for selecting appropriate technologies for distance education. The Internet creates a medium quite different from educational television, for example. Language and literature faculty members should be represented in discussions of resource allocation for computer centers and academic units that maintain and operate the technologies used to deliver distance education courses. (See the MLA<i> <a href="/it_support">Guidelines for Information Technology Access and Support for the Modern Languages</i></a>.)

<li><i>The institution should establish policies and procedures to protect its educational objectives and the interests of both those who create new material and those who adapt material from traditional courses for use in distance education.</i>

The MLA continues to assert that institutions and departments bear a responsibility for making explicit the rewards and ramifications of creating online instructional materials. (See the MLA <i><a href="/guidelines_evaluation_digital">Guidelines for Evaluating Work in Digital Humanities and Digital Media</a>.</i>) Institutional policies concerning the ownership and protection of intellectual property also need to be established in consultation with the faculty.

<li><i>To enable them to carry out their instructional responsibilities, teachers assigned to these courses should be given support in the form of academic, clerical, and technical assistance, as well as means of communicating and conferring with students.</i>

Access to support of this kind remains especially problematic for language and literature teachers in the light of the heavy reliance on adjunct faculty members and graduate assistants in English and foreign language programs.
</ol>

This statement was approved by the MLA Executive Council at its 23–24 February 2001 meeting and was last reviewed by the Committee on Information Technology in October 2013.
