<A NAME="mla_state"></A><h2>MLA Statement on the Use of Part-Time and Full-Time Adjunct Faculty Members</h2>
<I>The following statement was developed by the Association of Departments of English and the Association of Departments of Foreign Languages and adopted by the MLA Executive Council in February 1994.</i>

The expansion of the adjunct ranks in language and literature departments over the past two decades threatens the integrity of the profession and instructional programs.  The practice of hiring numerous adjunct faculty members year after year to teach courses required of large numbers of undergraduates undermines professional and educational standards and academic freedom. Although adjunct appointments can add significant dimensions to curricula and some individuals prefer to accept only adjunct appointments because of other commitments, few adjunct appointments are made for educationally sound reasons.  Indeed, the primary motivation for most of these appointments is to reduce the cost of instruction.

Adjunct faculty members fall into two groups: part-time instructors and non-tenure-track full-time instructors.  The first group includes both instructors who are clearly temporary members of a department and instructors who teach from year to year and become virtually permanent.  Members of the second group have full teaching loads but, as non-tenure-track faculty members, lack the institutional commitment given to their tenure-track colleagues.  Graduate students are distinct from both groups.

The conditions under which most adjunct teachers are employed define them as nonprofessionals.  Often they are hired quickly, as last-minute replacements.  They receive little recognition or respect for their contributions to their departments; almost always they are paid inequitably and receive no fringe benefits.

Excessive reliance on an adjunct faculty can damage individual faculty members, students, institutions, and the profession. For the sake of an institution's economic welfare, adjunct faculty members are often denied the security that adequate salary, health insurance, and professional status can provide.  The institution, in turn, suffers through the creation of a two-tiered system in which faculty members have different responsibilities and expectations.

In the light of these concerns, the MLA urges college and university administrators to make new and concerted efforts to eliminate excessive and irresponsible adjunct faculty appointments, to improve employment conditions for essential adjunct faculty members, and to recognize the professional status and important contributions of such teachers.

The MLA offers the following guidelines for the employment of adjunct faculty members.

<B>Guidelines</B>
<OL>
<LI>Each department should establish an appropriate limit on the number of adjunct faculty members in relation to the number of tenured or tenure-track faculty members and of graduate students serving as apprentice teachers.  The norm in a department should be the tenured or tenure-track position.  As tenured faculty members retire, they should be replaced by tenure-track faculty members. Departments that routinely assign a large part of undergraduate instruction to adjunct faculty members should reconsider their staffing practices.
<LI>All adjunct faculty members should be treated as professionals. Each department should develop a set of guidelines for adjunct faculty employment.  These guidelines may vary from institution to institution but should address the following concerns:
<OL type="a">
<li>Adjunct faculty members should be hired, reviewed, and given teaching assignments according to processes comparable to those established for the tenured or tenure-track faculty members.
<li>They should be given mailboxes, office space, and clerical support.
<li>They should receive adequate introduction to their teaching assignments, departments, and institutions.
<li>They should be paid equitable prorated salaries and should receive basic benefits such as health insurance.
<li>They should be eligible for incentives that foster professional development, including merit raises and funds for research and travel.
<li>As appropriate, they should participate in determining departmental and institutional policies.
</OL>
</OL>
