<div align="center"><h1>Statement on Indigenous Languages of the World in the College and University Curriculum</h1></div>
<blockquote>The Committee on the Literatures of People of Color in the United States and Canada (CLPCUSC) endorses the "Statement on Indigenous Languages of the World" developed by the Ad Hoc Committee on Native American Languages and approved by the executive committee of the Division on American Indian Literatures.  This statement supports and extends the spirit of the CLPCUSC "<a href="/statement_na" target="blank">Statement on Native American Languages in the College and University Curriculum</a>."[[[docstudio filetype_tag_pdf]]] The statement of the ad hoc committee follows.</blockquote>

Throughout the world, many Indigenous languages have been so depleted that their survival is now in a critical state.  The United Nations Permanent Forum on Indigenous Issues and the Second International Decade of the World's Indigenous People declare that a primary objective is "the education of indigenous and non-indigenous societies concerning the situation, cultures, languages, rights and aspirations of indigenous people" (<i>Report</i>; see also Lutz).  Preserving and revitalizing Indigenous languages must be central to that objective.  Therefore, the Modern Language Association recommends that institutions should, whenever possible, support the study of and research in Indigenous languages and literatures worldwide and devise means for native speakers of Indigenous languages to fulfill foreign language requirements with their Indigenous languages.
<h2>Works Cited</h2>
Lutz, Ellen L. Introduction. <i>Measuring the Success of the International Decade</i>. Spec. issue of <i>Cultural Survival Quarterly</i>  28.3 (2004). 15 Sept. 2004. 27 Nov. 2006 <<a href="http://www.culturalsurvival.org/publications/csq/csq-article.cfm?id=1" target="_blank">http://www.culturalsurvival.org/publications/csq/csq-article.cfm?id=1</a>>.

<i>Report of the Secretary-General on the Preliminary Review by the Coordinator of the International Decade of the World's Indigenous People on the Activities of the United Nations System in Relation to the Decade</i>. 25 June 2004. 27 Nov. 2006 <<a href="http://www2.ohchr.org/english/issues/indigenous/decade.htm" target="_blank">http://www2.ohchr.org/english/issues/indigenous/decade.htm</a>>. 

<I>This statement was adopted by the CLPCUSC on 15 September 2006 and approved by the MLA Executive Council at its 23-24 February 2007 meeting.</i>
