<h1>Statement on the Value of Ethnic Studies Programs</h1>
<i>The Executive Council approved the following statement at its February 2013 meeting.</i>

Ethnic studies programs in institutions of higher education and the K–12 system in the United States have often been singled out for criticism; at times, the criticism has taken the form of calls for the elimination of specific programs or (at an extreme) of ethnic studies in general.  The argument most often offered by critics is that ethnic studies programs are designed only for specific groups of students whose ethnicity is that of the field of study; thus, for instance, it is sometimes assumed or asserted that Latino/a or Asian American studies are of interest only to Latino/a or Asian American students. Allied with this argument is the more serious charge that ethnic studies promotes a kind of group solidarity or identity politics that stresses grievances arising from past and present injustices, thus challenging or undermining American students’ willingness to identify with a broad national identity or national project.

We believe that ethnic studies programs are not ethnically exclusionary; more important, we insist that they are integral to an understanding of American national identity and the American national project. We therefore believe that all students in the United States should become acquainted with a wide variety of American ethnic histories and heritages. For instance, throughout the United States, and especially in the Southwest, Mexican American studies is an integral part of the study of American identity and history; ideally, every student should be aware of that fact. Ethnic studies is a field of inquiry, not a form of propaganda. Such programs are designed to lead to a greater understanding of the histories and cultures of the peoples of the United States, not to any partisan political or cultural outcome.

Our beliefs about ethnic studies and about curricular reform generally have been formed by forty years of scholarly research, informed debate, and open-ended discussion. As an organization devoted to the study of language and literature, the MLA represents scholars and teachers at every level of education who work in the field and who participate in the long project of questioning and undoing the biases of the traditional curriculum, which for many years ignored or demeaned the histories and cultures of people deemed “ethnic.” We see that project as central to the mission of American education from the K–12 system to undergraduate and graduate programs. As former MLA President Sidonie Smith wrote in her 2010 letter to Governor Jan Brewer of Arizona, “ethnic studies curricula have provided important gateways for students to learn about the diversity of heritages in the United States, a key educational goal of the liberal arts education that is the bedrock of American higher education. . . . Policies that curtail this vision will weaken the quality of education.”

Finally, whenever attacks on ethnic studies are mounted by public officials, we recognize a clear threat to academic freedom and intellectual inquiry. To pursue scholarly inquiries into the histories and cultures of the United States, teachers must be free from legislative and judicial interference. Allowing state officials to declare legitimate branches of history and culture out of bounds—to the point of seizing and sequestering books, as was done in the Tucson Unified School District in 2011—is inimical to the principles on which the United States was founded.

