<h1>Placing Students in Jobs within and outside the Academy</h1>
6.1
Academic Jobs

6.1.1
What steps does the department take to ensure that graduate students and faculty members are well informed about the job market for PhDs and about related matters? Do all students and faculty members know about sources of information concerning PhDs, especially the Doctoral Records Project of the National Research Council (NRC) and the MLA's surveys of PhD placement and annual analysis of the <I>Job Information List</I>? Do students and faculty members have ready access to data from the NRC and MLA about trends in PhD placement, numbers of PhDs granted, and the use of part-time faculty members?

6.1.2
Do all students and faculty members know about sources of information on job openings, including the MLA <I>Job Information List </I>and the <I>Chronicle of Higher Education</I>?

6.1.3
On average, how much time do the departments' graduate students spend on the job market before receiving an offer of a full-time academic position? How many are placed in tenure-track positions in the academy within twelve months of receiving degrees? within two years? three years? How many subsist as full- and part-time adjuncts? How many leave the academy to pursue careers outside college teaching?

6.1.4
Do all members of the department know how many of the department's students received PhDs and what kind of jobs they found in each of the past three years? Are all members of the department informed about whether these numbers are large or small in comparison to analogous numbers in other modern language programs?

6.1.5
How do students learn about the procedures of looking for an academic position (including preparing a curriculum vitae, soliciting letters of recommendation, writing letters of application, taking part in convention and on-campus interviews, and negotiating job offers)? Does the department have a faculty member who serves as director of placement?

6.1.6
How consistent and reliable is faculty members' advice to students about the job market, the preparation of credentials, and the protocols of job seeking?

6.1.7
Do students receive financial support to defray the costs of a job search, including costs for photocopying credentials, mailing dossiers, and traveling to convention interviews?

6.1.8
Does the department provide mock interviews?

6.1.9
Are all students and faculty members aware of sources of information such as <i>The MLA Guide to the Job Search</i> and <i>Guidelines for Search Committees and Job Seekers on Entry-Level Faculty Recruitment and Hiring</i>, prepared by the MLA Committee on Academic Freedom and Professional Rights and Responsibilities? Do faculty members know about relevant articles on the job-search and interview process published in <i>Profession</i> and the ADE and ADFL bulletins? Are these publications readily available to students?

6.1.10
Are students and faculty members aware of job-related sessions and services that ADE and ADFL provide at the MLA convention: the preconvention workshops for job seekers, the preconvention workshop for members of search committees, the mock-interview sessions, and individual counseling?

6.2
Nonacademic Jobs

6.2.1
If significant numbers of students have not been gaining academic placement, does the department or institution provide a workshop or seminar, led by a job-placement professional, on developing credentials for nonacademic jobs and making the transition from the academy to the world of business, government, or not-for-profit organizations?

6.2.2
What campus resources could be marshaled to join the graduate programs and their students to job networks outside the academy? For example, do graduate students have access to the university's placement service? If not, what steps can be taken to give them access?

6.2.3
Are students and faculty members aware of the job clinic held at the MLA convention for ABDs and PhDs who are contemplating careers outside the academy?


<a href="/studyguide">< Index</a> | <a href="/studyguide7">Continue ></a>
