<h1>Interpreting the data</h1>
What picture of the graduate programs emerges from this self-study? Are the educational goals of the programs congruent with and appropriate to students' job placements? Given the placement record and data about attrition and attitudes, how strong an argument can the department make for continued institutional and public investment in its graduate programs?

<a href="/studyguide">< Index</a>
