<h1>Graduate Admissions</h1>
2.1
How does the department recruit students for its graduate programs and courses?   

2.2
Are all applicants provided information about recent graduates' rates and types of job placements? about the proportion of enrolling students that eventually receive degrees? about the median number of years students take to complete a degree? about the proportion of students who receive financial aid, the types and terms of aid available, and median levels of indebtedness of recent graduates?   

2.3 
Are all applicants provided information from the MLA's surveys of PhD placement, which show national rates and trends for job placement of PhDs in modern languages within twelve months of receipt of the degree?   

2.4 
How well prepared are entering graduate students? Over the past five years, of those who have applied to enter master's or doctoral study, how many have been admitted each year? How many have matriculated?  

2.5 
From what institutions and institutional types (in the Carnegie classification) do the graduate programs receive applications? What biases in the admissions process emerge when the pool of applicants and the pool of those admitted are reviewed? What criteria govern the admission of applicants?


<a href="/studyguide">< Index</a> | <a href="/studyguide3">Continue ></a>
