<h1>Introduction</h1>
<i>prepared by
The MLA Committee on Professional Employment
December 1997</i>

The MLA Committee on Professional Employment believes that each modern language department needs to be prepared to justify the mission, size, and composition of its graduate programs. In an academic job market where a large number of PhDs is seeking a small number of tenure-track positions and given the increasing fiscal pressure on institutions, scrutiny of graduate education can be anticipated both from within the institution and from interested parties elsewhere: current and future graduate students, institutional administration and governance bodies, and, in the case of public universities, state boards and legislatures. From a public policy point of view, every PhD granted represents an investment of institutional and public resources, and the burden of proving that the investment is justified rests with the department. For students, the decision to undertake advanced study is a critical life and career choice--one whose "opportunity costs" are high, whose consequences are far-reaching, and whose personal and financial risks a young person especially may find it hard to acknowledge until they become all too palpable. For ethical and economic reasons, then, a department's ability to gain continued support for its graduate programs depends increasingly on its ability to demonstrate that the programs are of an appropriate size and diversity--that they serve graduate students, the institution, the profession, and society well.

Documenting such an argument requires collecting and interpreting data about admissions, finances, job placement, and other matters. The guidelines that follow specify the kinds of information the committee believes will assist faculties to identify and rectify problems in their graduate programs <I>before </I>it is necessary to justify the size or existence of those programs. The guidelines focus on programs leading to the PhD degree, although questions relating to master's degrees are included where they seem pertinent.

The committee directs attention to eight areas:


<a href="/studyguide">< Index</a> | <a href="/studyguide1">Continue ></a>
