<h1>How do I document sources from the Web in my works-cited list?</h1>
<p>The MLA guidelines on documenting online sources are explained in detail in the sixth edition of the <a href="/cgi-shl/hazel.exe?action=detail&template=bookinfo.html&item=S178" target="other"><i>MLA Handbook for Writers of Research Papers</i></a> (2003) and in the second edition of the <a href="/cgi-shl/hazel.exe?action=detail&template=bookinfo.html&item=S181" target="other"><i>MLA Style Manual and Guide to Scholarly Publishing</i></a> (1998). What follows here is a summary of the guidelines that cover the World Wide Web. For the complete MLA recommendations on Web sources, please see one of the books mentioned above.</p>
<p>Sources on the Web that students and scholars use in their research include scholarly projects, information databases, the texts of books, articles in periodicals, and personal sites. Entries in a works-cited list for such sources contain as many items from the list below as are relevant and available. Following this list are sample entries for some common kinds of Web sources.</p>
<p></p>
<ol>
	<li>Name of the author, editor, compiler, or translator of the source (if given), reversed for alphabetizing and, if appropriate, followed by an abbreviation, such as <i>ed.</i>
	<li>Title of an article, poem, short story, or similar short work in the Internet site (enclosed in quotation marks). Or title of a posting to a discussion list or forum (taken from the subject line and put in quotation marks), followed by the description <i>Online posting</i>
	<li>Title of a book (underlined [<a href="/style_faq2">Should I used underlining or italics?</a>])	<li>Name of the editor, compiler, or translator of the text (if relevant and if not cited earlier), preceded by the appropriate abbreviation, such as <i>Ed.</i>
	<li>Publication information for any print version of the source
	<li>Title of the Internet site (e.g., scholarly project, database, online periodical, or professional or personal site (underlined [<a href="/style_faq2">Should I use underlining or italics?</a>]) or, for a professional or personal site with no title, a description such as <i>Home page</i>
	<li>Name of the editor of the site (if given)
	<li>Version number of the source (if not part of the title) or, for a journal, the volume number, issue number, or other identifying number
	<li>Date of electronic publication, of the latest update, or of posting
	<li>For a work from a subscription service, the name of the service and--if a library or a consortium of libraries is the subscriber--the name and geographic location (e.g., city, state abbreviation) of the subscriber
	<li>For a posting to a discussion list or forum, the name of the list or forum
	<li>The number range or total number of pages, paragraphs, or other sections, if they are numbered
	<li>Name of any institution or organization sponsoring the site (if not cited earlier)
	<li>Date when the researcher accessed the source

			<li>URL of the source or, if the URL is impractically long and complicated, the URL of the site's search page. Or, for a document from a subscription service, the URL of the service's home page, if known; or the keyword assigned by the service, preceded by <i>Keyword</i>; or the sequence of links followed, preceded by <i>Path</i>.

		</ol>
		<table width="487" border="0" cellspacing="10" cellpadding="5">
			<tr>
				<td><b>Scholarly Project</b><br>
					<pre><u>Victorian Women Writers Project</u>. Ed. Perry Willett.
May 2000. Indiana U. 26 June 2002 <http://
www.indiana.edu/~letrs/vwwp/>.</pre>
				</td>
			</tr>
			<tr>
				<td><b>Information Database</b><br>
					<pre><u>Thomas: Legislative Information on the Internet</u>. 19
June 2001. Lib. of Congress, Washington. 18
May 2002 <http://thomas.loc.gov/>.</pre>
				</td>
			</tr>
			<tr>
				<td><b>Personal Site</b><br>
					<pre>Lancashire, Ian. Home page. 28 Mar. 2002. 15 May
2002 <http://www.chass.utoronto.ca:8080/~ian/>.</pre>
				</td>
			</tr>
			<tr>
				<td><b>Book</b><br>
					<pre>Nesbit, E[dith]. <u>Ballads and Lyrics of Socialism</u>.
London, 1908. <u>Victorian Women Writers Project</u>.
Ed. Perry Willett. May 2000. Indiana U. 26      
June 2002 <http://www.indiana.edu/~letrs/vwwp/     
nesbit/ballsoc.html>.</pre>
				</td>
			</tr>
			<tr>
				<td><b>Poem</b><br>
	               <pre>Nesbit, E[dith]. &quot;Marching Song.&quot; <u>Ballads and</u>
<u>Lyrics </u><u>of Socialism</u>. London, 1908. <u>Victorian</u>     
<u>Women Writers </u><u>Project</u>.  Ed. Perry Willett.     	               
May 2000. Indiana U. 26 June 2002 <http://     
www.indiana.edu/~letrs/vwwp/nesbit/     
ballsoc.html#p9>.</pre>
				</td>
			</tr>
			<tr>
				<td><b>Article in a Journal</b><br>
					<pre>Sohmer, Steve. &quot;12 June 1599: Opening Day at
Shakespeare's Globe.&quot; <u>Early Modern Literary</u>
<u>Studies</u> 3.1 (1997): 46 pars. 26 June 2002 
<http://www.shu.ac.uk/emls/03-1/sohmjuli.html>.</pre>
				</td>
			</tr>
			<tr>
				<td><b>Article in a Magazine</b><br>
					<pre>Levy, Steven. &quot;Great Minds, Great Ideas.&quot; <u>Newsweek</u>
27 May 2002. 20 May 2002 <http://www.msnbc.com/
news/754336.asp>.</pre>
				</td>
			</tr>
			<tr>
				<td><b>Work from a Library Subscription Service</b><br>
					<pre>Youakim, Sami. &quot;Work-Related Asthma.&quot; <u>American</u>
<u>Family Physician</u> 64 (2001): 1839-52. <u>Health</u>
<u>Reference Center</u>. InfoTrac. Bergen County 
Cooperative Lib. System, NJ. 12 Jan. 2002     
<http://www.galegroup.com/>.</pre>
				</td>
			</tr>
			<tr>
				<td><b>Work from a Personal Subscription Service</b><br>
					<pre>&quot;Table Tennis.&quot; <u>Compton's Encyclopedia Online</u>.
Vers. 2.0. 1997. America Online. 4 July 1998.
Keyword: Compton's.</pre>
				</td>
			</tr>
			<tr>
				<td><b>Posting to a Discussion List</b><br>
					<pre>Merrian, Joanne. &quot;Spinoff: Monsterpiece Theatre.&quot;
Online posting. 30 Apr. 1994. Shaksper: The 
Global Electronic Shakespeare Conf. 23 Sept.
2002 <http://www.shaksper.net/archives/1994/
0380.html>.
</pre>
				</td>
			</tr>
		</table>
		<p>For more information, see <a href="/style_faq7">I am using a source on the Web that has no page numbers. How do I cite it?</a></p>


<p><a href="style_faq">< FAQ Index</a></p>
