<h1>What Is MLA Style?</h1>
All fields of research agree on the need to document scholarly borrowings, but documentation conventions vary because of the different needs of scholarly disciplines. MLA style for documentation is widely used in the humanities, especially in writing on language and literature. Generally simpler and more concise than other styles, MLA style features brief parenthetical citations in the text keyed to an alphabetical list of works cited that appears at the end of the work.

MLA style has been widely adopted by schools, academic departments, and instructors for over half a century. The association's guidelines are also used by over 1,100 scholarly and literary journals, newsletters, and magazines and by many university and commercial presses. The MLA's guidelines are followed throughout North America and in Brazil, China, India, Japan, Taiwan, and other countries around the world. 

The MLA publishes two authoritative explanations of MLA style: <a href="/style_faq1">the <I>MLA Handbook for Writers of Research Papers </i>and the <I>MLA Style Manual and Guide to Scholarly Publishing</i></a>.
