<H1>Submitting a Publication for an MLA Prize</h1>
Anyone may nominate a book for an MLA prize, but the author or publisher is responsible for sending the required number of copies, noted in the main list, to the MLA office before the deadline. An application form is required for submissions to the MLA Prize for Independent Scholars. To enter books into the competition for other prizes, no special form or procedure is needed, but shipments of books should be preceded or accompanied by letters identifying the works and, where necessary, confirming the authors' membership in the MLA. Shipping labels should indicate the names of the prizes for which the books are competing.  Each item in the main list indicates, under the heading Eligibility, whether membership in the MLA is required. An author who is not a member of the MLA at the time of publication may become eligible to compete by joining the association before 1 May of the following year. No book may be entered in more than one MLA competition.

For information on eligibility and requirements for submission, <a href="/awards_competitions">click here</a>, or write or call the MLA, 26 Broadway, 3rd floor, New York, NY 10004-1789 (646 576-5141; fax: 646 458-0030; <a href="mailto:awards@mla.org">awards@mla.org</a>).  

Unless otherwise noted, "literary studies" here encompasses works of literary history, literary criticism, philology, and literary theory, as well as works dealing with literature and other arts and disciplines. Translations are eligible only for the three awards specifically devoted to that category.


<b>Prizes with 1 March deadline:</b>
	<blockquote>
<div class="top_indent"><a href="/awardinfo_lowell">James Russell Lowell Prize</a></div>
</blockquote>

<b>Prizes with 1 April deadline:</b>
	<blockquote>
<div class="top_indent"><a href="/prizeinfo_firstbook">MLA Prize for a First Book</a></div>
	<div class="top_indent"><a href="/prizeinfo_roth">Lois Roth Award for a Translation of a Literary Work</a></div>
</blockquote>

<b>Prizes with 1 May deadline:</b>
	<blockquote><div class="top_indent"><a href="/prizeinfo_indsch">MLA Prize for Independent Scholars</a></div>
	<div class="top_indent"><a href="/prizeinfo_kovacs">Katherine Singer Kovacs Prize</a></div>
	<div class="top_indent"><a href="/prizeinfo_complit">Aldo and Jeanne Scaglione Prize for Comparative Literary Studies</a></div>
	<div class="top_indent"><a href="/prizeinfo_french">Aldo and Jeanne Scaglione Prize for French and Francophone Studies</a></div>
<div class="top_indent"><a href="/prizeinfo_kwm">Kenneth W. Mildenberger Prize</a></div>
	<div class="top_indent"><a href="/prizeinfo_mps">Mina P. Shaughnessy Prize</a></div>
	<div class="top_indent"><a href="/prizeinfo_wss">William Sanders Scarborough Prize</a></div>
<div class="top_indent"><a href="/prizeinfo_latina">MLA Prize in United States Latina and Latino and Chicana and Chicano Literary and Cultural Studies</a></div>
<div class="top_indent"><a href="/prizeinfo_trans">Aldo and Jeanne Scaglione Prize for a Translation of a Scholarly Study of Literature</a></div>
<div class="top_indent"><a href="/prizeinfo_slavic">Aldo and Jeanne Scaglione Prize for Studies in Slavic Languages and Literatures</a></div>
	<div class="top_indent"><a href="/prizeinfo_italian">Aldo and Jeanne Scaglione Prize for Italian Studies</a></div>
	<div class="top_indent"><a href="/prizeinfo_cohen">Morton N. Cohen Award for a Distinguished Edition of Letters</a></div>
	<div class="top_indent"><a href="/prizeinfo_distsch">MLA Prize for a Distinguished Scholarly Edition</a></div>
</blockquote>

<b>Prizes with 1 August deadline:</b>
<blockquote>
<div class="top_indent"><a href="/prizeinfo_itallit">Aldo and Jeanne Scaglione Publication Award for a Manuscript in Italian Literary Studies</a></div>
</blockquote>
