<h1>Checklists for Submitting Resolutions</h1>
This document provides a brief summary of the submission requirements for resolutions.  Please consult <a href="/prep_resdelegateassembly">Preparing Resolutions for the Delegate Assembly</a> for a complete description of the association’s resolutions process.
<h2>Submission Checklist for Regular Resolutions</h2>
A regular resolution is one that is submitted by the 1 October deadline.  The deadline is a receipt deadline.  Only MLA members who are in good standing for the current year may submit resolutions.

The following materials must be submitted by the deadline to the chair of the Delegate Assembly Organizing Committee (DAOC) in care of the coordinator of governance at the MLA office.  Materials may be submitted by postal mail or e-mail.  See <a href="#address">below</a> for address information.  The proposer of record must identify himself or herself and provide full contact information.

<ul>
<li>text of the resolution (limited to 100 words, inclusive of preamble, if any, and resolved clause or clauses)</li>
<li>10 supporting signatures (see note 1, below)</li>
<li>complete background information (i.e., “material that provides evidence in support of the resolution’s claims”; see note 2 below)</li>
</ul>
<p style="margin-left:40px;text-indent:-40px">Note 1: Original signatures are required.  Only MLA members who are in good standing for the current year may offer their signatures in support of a resolution.  Signatures may be submitted in any of the following ways: (1) The proposer of record may gather original signatures in advance and submit them by postal mail, to arrive at the MLA office by 1 October.  (2) Individual supporters of a resolution may send their signatures separately by postal mail, to arrive at the MLA office by 1 October.  (3) Signatures may be faxed (646 576-5107), collectively or individually, to meet the 1 October deadline.  The original of the fax must then be mailed to the MLA office so that it arrives within seven business days of the deadline.  (4) A statement of support for a resolution may be e-mailed to meet the 1 October deadline.  A printout of the e-mail message signed by the supporter must then be mailed to the MLA office so that it arrives within seven business days of the deadline.</p>
<p style="margin-left:40px;text-indent:-40px">Note 2: The proposer of record should submit all the background information that he or she deems necessary to support the resolution’s claims.  The background information may either be submitted by mail or in electronic form (PDF files or <i>MS Word</i> files are strongly preferred).  Faxed materials are not acceptable.</p>
<h2>Submission Checklist for Emergency Resolutions</h2>
Resolutions that are “occasioned by emergencies arising after 1 October” (Delegate Assembly Bylaw 7) are designated emergency resolutions.  Emergency resolutions must be submitted at least 24 hours before the scheduled start of the Delegate Assembly meeting, i.e., by 1:00 p.m. on the second day of the MLA Annual Convention.  This deadline falls during the Open Hearing on Resolutions, a session arranged for each convention by the DAOC.

The following materials must be submitted to the chair of the DAOC either in care of the coordinator of governance at the MLA office by 10 December or during the Open Hearing on Resolutions at the convention.  The proposer of record must identify himself or herself and provide full contact information.

<ul>
<li>text of the resolution (limited to 100 words, inclusive of preamble, if any, and resolved clause or clauses; see note 3 for an additional restriction on the resolution text)</li>
<li>25 supporting signatures (see note 4, below)</li>
<li>complete background information (i.e., “material that provides evidence in support of the resolution’s claims”; see note 5, below)</li>
</ul>
<p style="margin-left:40px;text-indent:-40px">Note 3: Emergency resolutions “shall not name individuals or institutions in such a way that, in the determination of the [DAOC], a response from the named party must be sought” (MLA constitution, art. 11.C.3.d).</p>
<p style="margin-left:40px;text-indent:-40px">Note 4: Original signatures are required.  Only MLA members who are in good standing for the current year may offer their signatures in support of a resolution.  If an emergency resolution is submitted to the MLA office, the instructions given in note 1, above, should be followed, except that the relevant deadline date is 10 December.  If an emergency resolution is submitted at the convention during the Open Hearing on Resolutions, the original signatures should be submitted along with all other materials.</p>
<p style="margin-left:40px;text-indent:-40px">Note 5: The proposer of record should submit all the background information    that he or she deems necessary to support the resolution’s claims.  If an emergency resolution is submitted to the MLA office, the instructions given in note 2, above, should be followed, except that the relevant deadline date is 10 December. If an emergency resolution is submitted at the convention during the Open Hearing on Resolutions, the background information must be submitted on paper.</p>
<a name="address"></a><h2>Address Information</h2>
The postal address to use for submitting a resolution and related materials is:
<blockquote>Coordinator of Governance
Modern Language Association
26 Broadway, 3rd floor
New York, NY 10004-1789</blockquote>

The electronic address to use for submitting a resolution and related materials is:
<blockquote><a href="mailto:governance@mla.org">governance@mla.org</a></blockquote>
