<h1>Summary Tables for Departments of Modern Languages Other Than English</h1>
<a name="top"></a><table border=0 cellpadding=0 cellspacing=0 width=700>
<tr bgcolor="#336600"><td align="center" colspan=3><B><font color="white">Click on links below to view tables</b></font></td></tr>
<tr><td width="335" valign="top"><a href="#tab01">Table 1. Number of doctoral students enrolled in department</a>
<@spacer 1x5>
<a href="#tab02">Table 2. Are students admitted directly to the PhD program with a BA or only with an MA?</a>
<@spacer 1x5>
<a href="#tab03">Table 3. Are applications welcome from those holding master's degrees from other institutions?</a>
<@spacer 1x5>
<a href="#tab04">Table 4. Do graduate credits from elsewhere count?</a>
<@spacer 1x5>
<a href="#tab05">Table 5. If limited, how many credits from elsewhere count?</a>
<@spacer 1x5>
<a href="#tab06">Table 6. Required application materials</a>
<@spacer 1x5>
<a href="#tab07">Table 7. Number of applicants that entered the department in fall 2000-01:</a>
<@spacer 1x5>
<a href="#tab08">Table 8. Does the department offer a master's degree?</a>
<@spacer 1x5>
<a href="#tab09">Table 9. Number of foreign languages required (other than the degree language)</a>
<@spacer 1x5>
<a href="#tab10">Table 10. Comprehensive exams required</a>
<@spacer 1x5>
<a href="#tab11">Table 11. Average tuition</a>
<@spacer 1x5></td><td width="30" valign="top">&nbsp;
</td><td width="335" valign="top">
<a href="#tab12">Table 12. "Full fellowship" dollar value</a>
<@spacer 1x5>
<a href="#tab13">Table 13. Is a standard support package offered all students?</a>
<@spacer 1x5>
<a href="#tab14">Table 14. Support offerings, standard support packages</a>
<@spacer 1x5>
<a href="#tab15">Table 15. Financial support availability, all years, for the 134 departments offering nonstandard packages</a>
<@spacer 1x5>
<a href="#tab16">Table 16. How many course sections do TAs teach each term?</a>
<@spacer 1x5>
<a href="#tab17">Table 17. Annual TA salaries, union and nonunion</a>
<@spacer 1x5>
<a href="#tab18">Table 18. Annual TA salaries (1999-2000)</a>
<@spacer 1x5>
<a href="#tab19">Table 19. How many semesters or quarters did TAs teach in 1999-2000?</a>
<@spacer 1x5>
<a href="#tab20">Table 20. What health benefits do TAs receive as part of their employment package?</a>
<@spacer 1x5>
<a href="#tab21">Table 21. Maximum number of years a student may hold teaching assistantship</a>
<@spacer 1x5>
<a href="#tab22">Table 22. Is there a program to train and support TAs in their teaching assignments?</a>
</td></tr></table>

<a name="tab01"><h2>Table 1. Number of doctoral students enrolled in department</h2></a>
<table border=1 cellpadding=4 cellspacing=0 width=600>
<tr height=12 bgcolor="#cccccc">
<td height=12 width=100>&nbsp;</td>
<td width=250 align=center><b>No. of departments</b></td>
<td width=250 align=center><b>% of departments</b></td>
</tr>
<tr height=12>
<td height=12 bgcolor="#cccccc">0-20</td>
<td align=right>87</td>
<td align=right>47.0</td>
</tr>
<tr height=12>
<td height=12 bgcolor="#cccccc">21-40</td>
<td align=right>63</td>
<td align=right>34.1</td>
</tr>
<tr height=12>
<td height=12 bgcolor="#cccccc">41-60</td>
<td align=right>25</td>
<td align=right>13.5</td>
</tr>
<tr height=12>
<td height=12 bgcolor="#cccccc">61+</td>
<td align=right>10</td>
<td align=right>5.4</td>
</tr>
<tr height=12>
<td height=12 bgcolor="#cccccc"><b>Total</b></td>
<td align=right>185</td>
<td align=right>100.0</td>
</tr>
</table>
<a href="#top">back to top</a>

<a name="tab02"><h2>Table 2. Are students admitted directly to the PhD program with a BA or only with an MA?</h2></a>
<table border=1 cellpadding=4 cellspacing=0 width=600>
<tr height=12 bgcolor="#cccccc">
<td height=12 width=300>&nbsp;</td>
<td width=150 align=center><b>No. of departments</b></td>
<td width=150 align=center><b>% of departments</b></td>
</tr>
<tr height=12>
<td height=12 bgcolor="#cccccc">Directly</td>
<td align=right>78</td>
<td align=right>41.1</td>
</tr>
<tr height=12>
<td height=12 bgcolor="#cccccc">Only with an MA</td>
<td align=right>88</td>
<td align=right>46.3</td>
</tr>
<tr height=23>
<td height=23 bgcolor="#cccccc" width=200>After fulfilling other departmental
requirements</td>
<td align=right>24</td>
<td align=right>12.6</td>
</tr>
<tr height=12>
<td height=12 bgcolor="#cccccc"><b>Total</b></td>
<td align=right>190</td>
<td align=right>100.0</td>
</tr>
</table>
<a href="#top">back to top</a>

<a name="tab03"><h2>Table 3. Are applications welcome from those holding master's degrees from other institutions?</h2></a>
<table border=1 cellpadding=4 cellspacing=0 width=600>
<tr height=12 bgcolor="#cccccc">
<td height=12 width=100>&nbsp;</td>
<td width=250 align=center><b>No. of departments</b></td>
<td width=250 align=center><b>% of departments</b></td>
</tr>
<tr height=12>
<td height=12 bgcolor="#cccccc">Yes</td>
<td align=right>176</td>
<td align=right>78.2</td>
</tr>
<tr height=12>
<td height=12 bgcolor="#cccccc">No</td>
<td align=right>49</td>
<td align=right>21.8</td>
</tr>
<tr height=12>
<td height=12 bgcolor="#cccccc"><b>Total</b></td>
<td align=right>225</td>
<td align=right>100.0</td>
</tr>
</table>
<a href="#top">back to top</a>

<a name="tab04"><h2>Table 4. Do graduate credits from elsewhere count?</h2></a>
<table border=1 cellpadding=4 cellspacing=0 width=600>
<tr height=12 bgcolor="#cccccc">
<td height=12 width=200>&nbsp;</td>
<td width=200 align=center><b>No. of departments</b></td>
<td width=200 align=center><b>% of departments</b></td>
</tr>
<tr height=12>
<td height=12 bgcolor="#cccccc">Yes</td>
<td align=right>70</td>
<td align=right>37.4</td>
</tr>
<tr height=12>
<td height=12 bgcolor="#cccccc">Yes, but limited to a certain number</td>
<td align=right>96</td>
<td align=right>51.3</td>
</tr>
<tr height=12>
<td height=12 bgcolor="#cccccc">No</td>
<td align=right>21</td>
<td align=right>11.2</td>
</tr>
<tr height=12>
<td height=12 bgcolor="#cccccc"><b>Total</b></td>
<td align=right>187</td>
<td align=right>100.0</td>
</tr>
</table>
<a href="#top">back to top</a>

<a name="tab05"><h2>Table 5. If limited, how many credits from elsewhere count?</h2></a>
<table border=1 cellpadding=4 cellspacing=0 width=600>
<tr height=12 bgcolor="#cccccc">
<td height=23 width=200><b>No. of credits that count</b></td>
<td width=200 align=center><b>No. of departments</b></td>
<td width=200 align=center><b>% of 90 responding departments</b></td>
</tr>
<tr height=12>
<td height=12>One to six</td>
<td align=right>31</td>
<td align=right>34.4</td>
</tr>
<tr height=12>
<td height=12>Seven to twelve</td>
<td align=right>26</td>
<td align=right>28.9</td>
</tr>
<tr height=12>
<td height=12>Thirteen to twenty-four</td>
<td align=right>14</td>
<td align=right>15.6</td>
</tr>
<tr height=12>
<td height=12>Twenty-five to forty-five</td>
<td align=right>19</td>
<td align=right>21.1</td>
</tr>
</table>
<a href="#top">back to top</a>

<a name="tab06"><h2>Table 6. Required application materials</h2></a>
<table border=1 cellpadding=4 cellspacing=0 width=600>
<tr height=12>
<td height=12 width=300 bgcolor="#cccccc">&nbsp;</td>
<td width=150 align=center bgcolor="#cccccc"><b>No. of departments</b></td>
<td width=150 align=center bgcolor="#cccccc"><b>% of departments</b></td>
</tr>
<tr height=12>
<td height=12>GRE general exam</td>
<td align=right>151</td>
<td align=right>67.1</td>
</tr>
<tr height=12>
<td height=12>TOEFL</td>
<td align=right>172</td>
<td align=right>76.4</td>
<tr height=12>
<td height=12>Transcript</td>
<td align=right>186</td>
<td align=right>82.7</td>
</tr>
<tr height=12>
<td height=12>Writing sample</td>
<td align=right>90</td>
<td align=right>40.0</td>
</tr>
<tr height=12>
<td height=12>Writing sample in the degree language</td>
<td align=right>95</td>
<td align=right>42.2</td>
</tr>
<tr height=12>
<td height=12>Statement of purpose</td>
<td align=right>178</td>
<td align=right>79.1</td>
</tr>
</table>
<a href="#top">back to top</a>

<a name="tab07"><h2>Table 7. Number of applicants that entered the department in fall 2000-01:</h2></a>
<table border=1 cellpadding=4 cellspacing=0 width=600>
<tr height=12 bgcolor="#cccccc">
<td height=12 width=300><b>No. of entering applicants</b></td>
<td width=150 align=center><b>No. of departments</b></td>
<td width=150 align=center><b>% of departments</b></td>
</tr>
<tr height=12>
<td height=12>Zero</td>
<td align=right>12</td>
<td align=right>6.8</td>
</tr>
<tr height=12>
<td height=12>One</td>
<td align=right>16</td>
<td align=right>9.0</td>
</tr>
<tr height=12>
<td height=12>Two</td>
<td align=right>27</td>
<td align=right>15.3</td>
</tr>
<tr height=12>
<td height=12>Three</td>
<td align=right>26</td>
<td align=right>14.7</td>
</tr>
<tr height=12>
<td height=12>Four</td>
<td align=right>24</td>
<td align=right>13.6</td>
</tr>
<tr height=12>
<td height=12>Five</td>
<td align=right>20</td>
<td align=right>11.3</td>
</tr>
<tr height=12>
<td height=12>Six</td>
<td align=right>14</td>
<td align=right>7.9</td>
</tr>
<tr height=12>
<td height=12>Seven</td>
<td align=right>11</td>
<td align=right>6.2</td>
</tr>
<tr height=12>
<td height=12>Eight</td>
<td align=right>7</td>
<td align=right>4.0</td>
</tr>
<tr height=12>
<td height=12>Nine</td>
<td align=right>6</td>
<td align=right>3.4</td>
</tr>
<tr height=12>
<td height=12>Ten</td>
<td align=right>6</td>
<td align=right>3.4</td>
</tr>
<tr height=12>
<td height=12>Eleven</td>
<td align=right>4</td>
<td align=right>2.3</td>
</tr>
<tr height=12>
<td height=12>Twelve</td>
<td align=right>2</td>
<td align=right>1.1</td>
</tr>
<tr height=12>
<td height=12>Fifteen</td>
<td align=right>1</td>
<td align=right>0.6</td>
</tr>
<tr height=12>
<td height=12>Sixteen</td>
<td align=right>1</td>
<td align=right>0.6</td>
</tr>
<tr height=23>
<td height=23><b>Total responding departments</b> (excluding one outlier)</td>
<td align=right>177</td>
<td align=right>100.0</td>
</tr>
</table>
<a href="#top">back to top</a>

<a name="tab08"><h2>Table 8. Does the department offer a master's degree?</h2></a>
<table border=1 cellpadding=4 cellspacing=0 width=600>
<tr height=12 bgcolor="#cccccc">
<td height=12 width=100>&nbsp;</td>
<td width=250 align=center><b>No. of departments</b></td>
<td width=250 align=center><b>% of departments</b></td>
</tr>
<tr height=12>
<td height=12 bgcolor="#cccccc">Yes</td>
<td align=right>130</td>
<td align=right>75.1</td>
</tr>
<tr height=12>
<td height=12 bgcolor="#cccccc">No</td>
<td align=right>43</td>
<td align=right>24.9</td>
</tr>
<tr height=12>
<td height=12 bgcolor="#cccccc"><b>Total</b></td>
<td align=right>173</td>
<td align=right>100.0</td>
</tr>
</table>
<a href="#top">back to top</a>

<a name="tab09"><h2>Table 9. Number of foreign languages required (other than the degree language)</h2></a>
<table border=1 cellpadding=4 cellspacing=0 width=600>
<tr height=12 bgcolor="#cccccc">
<td height=12 width=300><b>No. of languages required</b></td>
<td width=150 align=center><b>No. of programs</b></td>
<td width=150 align=center><b>% of programs</b></td>
</tr>
<tr height=12>
<td height=12>One to two</td>
<td align=right>17</td>
<td align=right>10.0</td>
</tr>
<tr height=12>
<td height=12>Three</td>
<td align=right>111</td>
<td align=right>65.3</td>
</tr>
<tr height=12>
<td height=12>Four</td>
<td align=right>35</td>
<td align=right>20.6</td>
</tr>
<tr height=12>
<td height=12>Five to twelve</td>
<td align=right>7</td>
<td align=right>4.1</td>
</tr>
<tr height=12>
<td height=12><b>Total</b></td>
<td align=right>170</td>
<td align=right>100.0</td>
</tr>
</table>
<a href="#top">back to top</a>

<a name="tab10"><h2>Table 10. Comprehensive exams required</h2></a>
<table border=1 cellpadding=4 cellspacing=0 width=600>
<tr height=12 bgcolor="#cccccc">
<td height=12 width=300>&nbsp;</td>
<td width=150 align=center><b>No. of programs</b></td>
<td width=150 align=center><b>% of programs</b></td>
</tr>
<tr height=12>
<td height=12>Both oral and written</td>
<td align=right>234</td>
<td align=right>77.2</td>
</tr>
<tr height=12>
<td height=12>Written</td>
<td align=right>37</td>
<td align=right>12.2</td>
</tr>
<tr height=12>
<td height=12>Oral</td>
<td align=right>26</td>
<td align=right>8.6</td>
</tr>
<tr height=12>
<td height=12>None</td>
<td align=right>4</td>
<td align=right>1.3</td>
</tr>
<tr height=12>
<td height=12><b>Total</b></td>
<td align=right>303</td>
<td align=right>100.0</td>
</tr>
</table>
<a href="#top">back to top</a>

<a name="tab11"><h2>Table 11. Average tuition</h2></a>
<table border=1 cellpadding=4 cellspacing=0 width=600>
<tr height=12 bgcolor="#cccccc">
<td height=12 width=300><b>Type of institution</b></td>
<td width=300 align=center><b>Average annual tuition, $</b></td>
</tr>
<tr height=12>
<td height=12>In-state public, United States</td>
<td align=right>4,347.44</td>
</tr>
<tr height=12>
<td height=12>Out-of-state public, United States</td>
<td align=right>11,111.85</td>
</tr>
<tr height=12>
<td height=12>Private, United States</td>
<td align=right>21,072.74</td>
</tr>
<tr height=12>
<td height=12>In-province public, Canada</td>
<td align=right>3,658.82</td>
</tr>
<tr height=12>
<td height=12>Out-of-province, Canada</td>
<td align=right>6,086.18</td>
</tr>
<tr height=12>
<td height=12>Private, Canada</td>
<td align=right>7,956.00</td>
</tr>
</table>
<a href="#top">back to top</a>

<a name="tab12"><h2>Table 12. "Full fellowship" dollar value</h2></a>
<table border=1 cellpadding=4 cellspacing=0 width=600>
<tr height=12 bgcolor="#cccccc">
<td height=12 width=400 align=center>&nbsp;</td>
<td align=center width=200><b>Average value, $</b></td>
</tr>
<tr height=12>
<td height=12>United States (US$)</td>
<td align=right>13,623.70</td>
</tr>
<tr height=12>
<td height=12>Canada (C$)</td>
<td align=right>12,653.85</td>
</tr>
</table>
<a href="#top">back to top</a>

<a name="tab13"><h2>Table 13. Is a standard support package offered all students?</h2></a>
<table border=1 cellpadding=4 cellspacing=0 width=600>
<tr height=12 bgcolor="#cccccc">
<td height=12 width=300>&nbsp;</td>
<td width=150 align=center><b>No. of departments</b></td>
<td width=150 align=center><b>% of departments</b></td>
</tr>
<tr height=12>
<td height=12>Yes</td>
<td align=right>54</td>
<td align=right>28.7</td>
</tr>
<tr height=12>
<td height=12>No</td>
<td align=right>134</td>
<td align=right>71.3</td>
</tr>
<tr height=12>
<td height=12><b>Total responding departments</b></td>
<td align=right>188</td>
<td align=right>100</td>
</tr>
</table>
<a href="#top">back to top</a>

<a name="tab14"><h2>Table 14. Support offerings, standard support packages</h2></a>
<table border=1 cellpadding=4 cellspacing=0 width=600>
<tr height=12 bgcolor="#cccccc">
<td height=45 class=xl25 width=300>&nbsp;</td>
<td class=xl27 width=150 align=center><b>No. of years of study for which support is offered (not necessarily consecutive years of study)</b></td>
<td class=xl28 width=150 align=center><b>No. of departments</b></td></tr>
<tr height=12>
<td height=12 rowspan="5"><b>Full tuition waiver</b></td>
<td>&nbsp;</td>
<td align=center><b>42</b></td>
</tr>
<tr height=12>
<td>In the 1st year</td>
<td align=right>41</td>
</tr>
<tr height=12>
<td>One</td>
<td align=right>1</td>
</tr>
<tr height=12>
<td>Two</td>
<td align=right>5</td>
</tr>
<tr height=12>
<td>Three or more</td>
<td align=right>36</td>
</tr>
<tr height=12>
<td height=12 rowspan=5><b>Partial tuition waiver</b></td>
<td>&nbsp;</td>
<td align=center><b>6</b></td>
</tr>
<tr height=12>
<td>In the 1st year</td>
<td align=right>3</td>
</tr>
<tr height=12>
<td>One</td>
<td align=right>0</td>
</tr>
<tr height=12>
<td>Two</td>
<td align=right>3</td>
</tr>
<tr height=12>
<td>Three or more</td>
<td align=right>3</td>
</tr>
<tr height=12>
<td height=12 rowspan=5><b>Fellowship support >$15,000</b></td>
<td height=12>&nbsp;</td>
<td align=center><b>4</b></td>
</tr>
<tr height=12>
<td>In the 1st year</td>
<td align=right>4</td>
</tr>
<tr height=12>
<td>One</td>
<td align=right>0</td>
</tr>
<tr height=12>
<td>Two</td>
<td align=right>1</td>
</tr>
<tr height=12>
<td>Three or more</td>
<td align=right>3</td>
</tr>
<tr height=12>
<td height=12 rowspan=5><b>Fellowship support $8,000-$15,000</b></td>
<td>&nbsp;</td>
<td align=center><b>25</b></td>
</tr>
<tr height=12>
<td>In the 1st year</td>
<td align=right>22</td>
</tr>
<tr height=12>
<td>One</td>
<td align=right>7</td>
</tr>
<tr height=12>
<td>Two</td>
<td align=right>8</td>
</tr>
<tr height=12>
<td>Three or more</td>
<td align=right>10</td>
</tr>
<tr height=12>
<td height=12 rowspan=5><b>Fellowship support <$8,000</b></td>
<td>&nbsp;</td>
<td align=center><b>3</b></td>
</tr>
<tr height=12>
<td>In the 1st year</td>
<td align=right>3</td>
</tr>
<tr height=12>
<td>One</td>
<td align=right>2</td>
</tr>
<tr height=12>
<td>Two</td>
<td align=right>0</td>
</tr>
<tr height=12>
<td>Three or more</td>
<td align=right>1</td>
</tr>
<tr height=12>
<td height=12 rowspan=5><b>Teaching or research assistantship</b></td>
<td>&nbsp;</td>
<td align=center><b>40</b></td>
</tr>
<tr height=12>
<td>In the 1st year</td>
<td align=right>19</td>
</tr>
<tr height=12>
<td>One</td>
<td align=right>3</td>
</tr>
<tr height=12>
<td>Two</td>
<td align=right>9</td>
</tr>
<tr height=12>
<td>Three or more</td>
<td align=right>28</td>
</tr>
<tr height=12>
<td height=12 rowspan=5><b>Combination of fellowship and assistantship</b></td>
<td>&nbsp;</td>
<td align=center><b>25</b></td>
</tr>
<tr height=12>
<td>In the 1st year</td>
<td align=right>10</td>
</tr>
<tr height=12>
<td>One</td>
<td align=right>8</td>
</tr>
<tr height=12>
<td>Two</td>
<td align=right>4</td>
</tr>
<tr height=12>
<td>Three or more</td>
<td align=right>13</td>
</tr>
</table>
<a href="#top">back to top</a>

<a name="tab15"><h2>Table 15. Financial support availability, all years, for the 134 departments offering nonstandard packages</h2></a>
<table border=1 cellpadding=4 cellspacing=0 width=600>
<tr height=12 bgcolor="#cccccc">
<td height=34 width=400>&nbsp;</td>
<td width=100 align=center><b>No. of departments</b></td>
<td width=100 align=center><b>% of the 134 departments offering nonstandard packages</b></td>
</tr>
<tr height=23>
<td height=23 bgcolor="#cccccc" colspan=3><b>All students in both the first year and in the second year and beyond</b></td></tr>
<tr height=12>
<td height=12>Full tuition waiver</td>
<td align=right>21</td>
<td align=right>15.7</td>
</tr>
<tr height=12>
<td height=12>Teaching or research assistantship</td>
<td align=right>18</td>
<td height=12 align=right>13.4</td>
</tr>
<tr height=23>
<td height=23 colspan=3 bgcolor="#cccccc" ><b>More than half of all students in both the first year and the second year and beyond</b></td></tr>
<tr height=12>
<td height=12>Full tuition waiver</td>
<td align=right>30</td>
<td align=right>22.4</td>
</tr>
<tr height=12>
<td height=12>Fellowship support $8,000-$15,000</td>
<td align=right>14</td>
<td align=right>10.4</td>
</tr>
<tr height=12>
<td height=12>Teaching or research assistantship</td>
<td align=right>40</td>
<td align=right>29.9</td>
</tr>
<tr height=12>
<td height=12>Combination of fellowship and assistantship</td>
<td align=right>14</td>
<td align=right>10.4</td>
</tr>
<tr height=23>
<td height=23 bgcolor="#cccccc" colspan=3><b>Fewer than half of all students in both the first year and the second year and beyond</b></td></tr>
<tr height=12>
<td height=12>Partial tuition waiver</td>
<td align=right>14</td>
<td align=right>10.4</td>
</tr>
<tr height=12>
<td height=12>Fellowship support above $15,000</td>
<td align=right>22</td>
<td align=right>16.4</td>
</tr>
<tr height=12>
<td height=12>Fellowship support $8,000-$15,000</td>
<td align=right>37</td>
<td align=right>27.6</td>
</tr>
<tr height=12>
<td height=12>Teaching or research assistantship</td>
<td align=right>14</td>
<td align=right>10.4</td>
</tr>
<tr height=12>
<td height=12>Combination of fellowship and assistantship</td>
<td align=right>29</td>
<td align=right>21.6</td>
</tr></table>
<a href="#top">back to top</a>

<a name="tab16"><h2>Table 16. How many course sections do TAs teach each term?</h2></a>
<table border=1 cellpadding=4 cellspacing=0 width=600>
<tr height=12 bgcolor="#cccccc">
<td height=12 width=300>&nbsp;</td>
<td width=100 align=center><b>No. of sections</b></td>
<td width=100 align=center><b>No. of departments</b></td>
<td width=100 align=center><b>% of departments</b></td>
</tr>
<tr height=12>
<td height=12 rowspan=4 bgcolor="#cccccc"><b>Quarter system</b></td>
<td align=right>0</td>
<td align=right>2</td>
<td align=right>1.5</td>
</tr>
<tr height=12>
<td align=right>1</td>
<td align=right>13</td>
<td align=right>9.8</td>
</tr>
<tr height=12>
<td align=right>2</td>
<td align=right>3</td>
<td align=right>2.3</td>
</tr>
<tr height=12>
<td align=right>3</td>
<td align=right>2</td>
<td align=right>1.5</td>
</tr>
<tr height=12>
<td height=12 bgcolor="#cccccc">Quarter system total</td>
<td>&nbsp;</td>
<td align=right>20</td>
<td align=right>15.2</td>
</tr>
<tr height=12>
<td height=12 rowspan=8 bgcolor="#cccccc"><b>Semester system</b></td>
<td align=right>0</td>
<td align=right>10</td>
<td align=right>7.6</td>
</tr>
<tr height=12>
<td align=right>1</td>
<td align=right>56</td>
<td align=right>42.4</td>
</tr>
<tr height=12>
<td align=right>2</td>
<td align=right>31</td>
<td align=right>23.5</td>
</tr>
<tr height=12>
<td align=right>3</td>
<td align=right>9</td>
<td align=right>6.8</td>
</tr>
<tr height=12>
<td align=right>4</td>
<td align=right>1</td>
<td align=right>0.8</td>
</tr>
<tr height=12>
<td align=right>5</td>
<td align=right>3</td>
<td align=right>2.3</td>
</tr>
<tr height=12>
<td align=right>6</td>
<td align=right>1</td>
<td align=right>0.8</td>
</tr>
<tr height=12>
<td align=right>10</td>
<td align=right>1</td>
<td align=right>0.8</td>
</tr>
<tr height=12>
<td height=12 bgcolor="#cccccc">Semester system total</td>
<td>&nbsp;</td>
<td align=right>112</td>
<td align=right>84.8</td>
</tr>
<tr height=12>
<td height=12 bgcolor="#cccccc"><b>Total, both systems</b></td>
<td >&nbsp;</td>
<td align=right>132</td>
<td align=right>100.0</td>
</tr>
</table>
<a href="#top">back to top</a>

<a name="tab17"><h2>Table 17. Annual TA salaries, union and nonunion</h2></a>
<table border=1 cellpadding=4 cellspacing=0 width=600>
<tr height=12 bgcolor="#cccccc">
<td height=12 width=125>&nbsp;</td>
<td width=125 align=center><b>No. of departments</b></td>
<td width=125 align=center><b>% of departments</b></td>
<td width=125 align=center><b>Average salary, $</b></td>
</tr>
<tr height=12>
<td height=12 bgcolor="#cccccc"><b>Unionized</b></td>
<td align=right>45</td>
<td align=right>37.2</td>
<td align=right>12,423.16</td>
</tr>
<tr height=12>
<td height=12 bgcolor="#cccccc"><b>Nonunionized</b></td>
<td align=right>76</td>
<td align=right>62.8</td>
<td align=right>11,563.46</td>
</tr>
<tr height=12>
<td height=12 bgcolor="#cccccc"><b>Total</b></td>
<td align=right>121</td>
<td align=right>100.0</td>
<td align=right>11,883.18</td>
</tr>
</table>
<a href="#top">back to top</a>

<a name="tab18"><h2>Table 18. Annual TA salaries (1999-2000)</h2></a>
<table border=1 cellpadding=4 cellspacing=0 width=600>
<tr height=12 bgcolor="#cccccc">
<td height=12 width=150><b>Salary range</b></td>
<td width=150 align=center><b>No. of departments</b></td>
<td width=150 align=center><b>% of departments</b></td>
<td width=150 align=center><b>Average salary, $</b></td>
</tr>
<tr height=12>
<td><$10,000</td>
<td align=right>28</td>
<td align=right>23.1</td>
<td align=right>7,785.46</td>
</tr>
<tr height=12>
<td>$10,000-$12,000</td>
<td align=right>42</td>
<td align=right>34.7</td>
<td align=right>11,116.61</td>
</tr>
<tr height=12>
<td>$12,000-$15,000</td>
<td align=right>40</td>
<td align=right>33.1</td>
<td align=right>13,619.55</td>
</tr>
<tr height=12>
<td>>$15,000</td>
<td align=right>11</td>
<td align=right>9.1</td>
<td align=right>18,926.64</td>
</tr>
<tr height=12>
<td><b>Total</b></td>
<td align=right>121</td>
<td align=right>100.0</td>
<td align=right>11,883.18</td>
</tr>
</table>
<a href="#top">back to top</a>

<a name="tab19"><h2>Table 19. How many semesters or quarters did TAs teach in 1999-2000?</h2></a>
<table border=1 cellpadding=4 cellspacing=0 width=600>
<tr height=12 bgcolor="#cccccc">
<td height=12 width=200>&nbsp;</td>
<td align=center width=200><b>No. of departments</b></td>
<td align=center width=200><b>% of departments</b></td>
</tr>
<tr height=12>
<td height=12>1 semester</td>
<td align=right>7</td>
<td align=right>4.35</td>
</tr>
<tr height=12>
<td>2 quarters</td>
<td align=right>2</td>
<td align=right>1.24</td>
</tr>
<tr height=12>
<td>2 semesters</td>
<td align=right>124</td>
<td align=right>77.02</td>
</tr>
<tr height=12>
<td>3 quarters</td>
<td align=right>24</td>
<td align=right>14.91</td>
</tr>
<tr height=12>
<td>Other</td>
<td align=right>4</td>
<td align=right>2.48</td>
</tr>
<tr height=12>
<td height=12><b>Total</b></td>
<td align=right>161</td>
<td align=right>100.00</td>
</tr>
</table>
<a href="#top">back to top</a>

<a name="tab20"><h2>Table 20. What health benefits do TAs receive as part of their employment package?</h2></a>
<table border=1 cellpadding=4 cellspacing=0 width=600>
<tr height=12 bgcolor="#cccccc">
<td height=12 width=400>&nbsp;</td>
<td width=100 align=center><b>No. of departments</b></td>
<td width=100 align=center><b>% of all 225 departments</b></td>
</tr>
<tr height=23>
<td height=23 bgcolor="#cccccc">Coverage for the TA is the coverage offered to all enrolled doctoral students</td>
<td align=right>68</td>
<td align=right>30.2</td>
</tr>
<tr height=23>
<td height=23 bgcolor="#cccccc">Coverage for the TA is paid partly by the TA and partly by the institution</td>
<td align=right>54</td>
<td align=right>24.0</td>
</tr>
<tr height=23>
<td height=23 bgcolor="#cccccc">Coverage for the TA is paid fully by the institution</td>
<td align=right>56</td>
<td align=right>24.9</td>
</tr>
<tr height=12>
<td height=23 bgcolor="#cccccc">Coverage for the TA is paid fully by the TA</td>
<td align=right>20</td>
<td align=right>8.9</td>
</tr>
<tr height=12>
<td height=23 bgcolor="#cccccc">Coverage for dependents is offered</td>
<td align=right>74</td>
<td align=right>32.9</td>
</tr>
<tr height=12>
<td height=23 bgcolor="#cccccc">Coverage extends for a full 12 months</td>
<td align=right>76</td>
<td align=right>33.8</td>
</tr>
<tr height=23>
<td height=23 bgcolor="#cccccc">Coverage extends for the 9- or 10-month academic year</td>
<td align=right>9</td>
<td align=right>4.0</td>
</tr>
<tr height=23>
<td height=23 bgcolor="#cccccc">Coverage extends only for the time in which the TA teaches</td>
<td align=right>11</td>
<td align=right>4.9</td>
</tr>
</table>
<a href="#top">back to top</a>

<a name="tab21"><h2>Table 21. Maximum number of years a student may hold teaching assistantship</h2></a>
<table border=1 cellpadding=4 cellspacing=0 width=600>
<tr height=12 bgcolor="#cccccc">
<td height=12 width=200>&nbsp;</td>
<td width=200 align=center><b>No. of depts</b></td>
<td width=200 align=center><b>% of departments</b></td>
</tr>
<tr height=12>
<td height=12 bgcolor="#cccccc"><b>2 years</b></td>
<td align=right>3</td>
<td align=right>1.8</td>
</tr>
<tr height=12>
<td height=12 bgcolor="#cccccc"><b>3 years</b></td>
<td align=right>12</td>
<td align=right>7.0</td>
</tr>
<tr height=12>
<td height=12 bgcolor="#cccccc"><b>4 years</b></td>
<td align=right>26</td>
<td align=right>15.2</td>
</tr>
<tr height=12>
<td height=12 bgcolor="#cccccc"><b>5 years</b></td>
<td align=right>45</td>
<td align=right>26.3</td>
</tr>
<tr height=12>
<td height=12 bgcolor="#cccccc"><b>6</b></td>
<td align=right>23</td>
<td align=right>13.5</td>
</tr>
<tr height=12>
<td height=12 bgcolor="#cccccc"><b>7</b></td>
<td align=right>9</td>
<td align=right>5.3</td>
</tr>
<tr height=12>
<td height=12 bgcolor="#cccccc"><b>8</b></td>
<td align=right>2</td>
<td align=right>1.2</td>
</tr>
<tr height=12>
<td height=12 bgcolor="#cccccc"><b>No limit</b></td>
<td align=right>51</td>
<td align=right>29.8</td>
</tr>
<tr height=12>
<td height=12 bgcolor="#cccccc"><b>Total</b></td>
<td align=right>171</td>
<td align=right>100</td>
</tr>
</table>
<a href="#top">back to top</a>

<a name="tab22"><h2>Table 22. Is there a program to train and support TAs in their teaching assignments?</h2></a>
<table border=1 cellpadding=4 cellspacing=0 width=600>
<tr height=12 bgcolor="#cccccc">
<td height=12 width=100>&nbsp;</td>
<td width=250 align=center><b>No. of departments</b></td>
<td width=250 align=center><b>% of all departments</b></td>
</tr>
<tr height=12>
<td height=12 bgcolor="#cccccc">Yes</td>
<td align=right>162</td>
<td align=right>72.0</td>
</tr>
<tr height=12>
<td height=12 bgcolor="#cccccc">No</td>
<td align=right>63</td>
<td align=right>28.0</td></tr></table>
<a href="#top">back to top</a>

<a name="tab23"><h2>Table 23. Are paid research assistantships or editorial assistant positions available for doctoral students?</h2></a>
<table border=1 cellpadding=4 cellspacing=0 width=600>
<tr height=12 bgcolor="#cccccc">
<td height=12 width=100>&nbsp;</td>
<td width=250 align=center><b>No. of departments</b></td>
<td width=250 align=center><b>% of all departments</b></td>
</tr>
<tr height=12>
<td height=12 bgcolor="#cccccc">Yes</td>
<td align=right>111</td>
<td align=right>49.3</td>
</tr>
<tr height=12>
<td height=12 bgcolor="#cccccc">No</td>
<td align=right>114</td>
<td align=right>50.7</td>
</tr>
</table>
<a href="#top">back to top</a>

<a name="tab24"><h2>Table 24. Other forms of assistance</h2></a>
<table border=1 cellpadding=4 cellspacing=0 width=600>
<tr height=12 bgcolor="#cccccc">
<td height=12 width=400><b>Form of assistance</b></td>
<td width=150 align=center><b>No. of departments</b></td>
<td align=center width=150><b>% of all departments</b></td>
</tr>
<tr height=12>
<td>Travel for research and conferences</td>
<td align=right>166</td>
<td align=right>73.7</td>
</tr>
<tr height=12>
<td>Expenses related to job searches</td>
<td align=right>62</td>
<td align=right>27.6</td>
</tr>
<tr height=12>
<td height=12>Summer funding</td>
<td align=right>141</td>
<td align=right>62.7</td>
</tr>
</table>
<a href="#top">back to top</a>

<a name="tab25"><h2>Table 25. Do full-time students receive health insurance?</h2></a>
<table border=1 cellpadding=4 cellspacing=0 width=600>
<tr height=12 bgcolor="#cccccc">
<td height=12 width=200>&nbsp;</td>
<td width=200 align=center><b>No. of departments</b></td>
<td width=200 align=center><b>% of departments</b></td>
</tr>
<tr height=12>
<td bgcolor="#cccccc">Yes, at no cost</td>
<td align=right>68</td>
<td align=right>36.8</td>
</tr>
<tr height=12>
<td height=12 bgcolor="#cccccc">Yes, with copayment</td>
<td align=right>78</td>
<td align=right>42.2</td>
</tr>
<tr height=12>
<td height=12 bgcolor="#cccccc">No</td>
<td align=right>39</td>
<td align=right>21.1</td>
</tr>
<tr height=12>
<td height=12 bgcolor="#cccccc">Total</td>
<td align=right>185</td>
<td align=right>100.0</td>
</tr>
</table>
<a href="#top">back to top</a>
