<h1><I>MLA Newsletter</i><BR>
Summer 2007</h1>
<h2>In This Issue</h2>
<table width="95%" border="0" align="left">
<tr align="left" valign="top"> 
<td width="6%">3</td>
<td width="94%"><i><B>President's Column</B></i><BR>
<I>Michael Holquist</i><BR>
Between Jepthah and Berlitz</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">5</td>
<td width="94%"><i><B>Editor's Column</B></i><BR>
Survival Spanish</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2><b>BIBLIOGRAPHY</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">1</td>
<td width="94%"><i>MLA International Bibliography</i> to index scholarly Web sites</td></tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%">Field bibliographers invited</td></tr>
<tr align="left" valign="top">
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2><b>BOOK NEWS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">17</td>
<td width="94%">Two new MLA titles released</td></tr>
<tr align="left" valign="top">
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>COMMITTEES</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">18</td>
<td width="94%">MLA committee meetings, September
2007-May 2008</td>
</tr>
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>CONVENTION</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">14</td>
<td width="94%">2007 convention invitations</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">14</td>
<td width="94%">2007 convention interview-suite arrangements</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>GOVERNANCE</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">6</td>
<td width="94%">Open discussion during 2007 Delegate Assembly meeting</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%">Executive Council meeting
highlights</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">8</td>
<td width="94%">Nominations for 2007 MLA elections</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">15</td>
<td width="94%">New division executive committee
members</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>GRANTS AND PRIZES</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">14</td>
<td width="94%">Convention travel grants for part-time and unemployed faculty members</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">15</td>
<td width="94%">MLA graduate student travel grant</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>MEETINGS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">17</td>
<td width="94%">2007 ADE Summer Seminars</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">17</td>
<td width="94%">2007 ADFL Summer Seminars</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>WEB SITE NEWS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%">2007 convention registration</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>Other News and Announcements</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%">Nominations invited for honorary memberships and fellowships </td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%">Comments sought on the Directory  issue of <i>PMLA</i></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">18</td>
<td width="94%">Correspondence</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">19</td>
<td width="94%">Classified advertisements</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">19</td>
<td width="94%">Fellowships and grants deadlines</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">20</td>
<td width="94%">Upcoming MLA deadlines</td>
</tr>
</table>
