<h1><I>MLA Newsletter</i>
Summer 2005</h1>
<h2>In This Issue</h2>
<table width="95%" border="0" align="left">
<tr align="left" valign="top"> 
<td width="6%">3</td>
<td width="94%"><i><B>President's Column</B></i>
<I>Domna C. Stanton</i>
The labor of service</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">4</td>
<td width="94%"><i><B>Editors Column</B></i>
<I>Rosemary G. Feal</i>
The MLA Language Map: Impact beyond the media</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<tr align="left" valign="top"> 
<td colspan=2><b>BIBLIOGRAPHY</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">14</td>
<td width="94%">Field bibliography fellowships</td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2><b>BOOK NEWS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">15</td>
<td width="94%">Two new MLA titles to be published</td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>COMMITTEES</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">13</td>
<td width="94%">MLA committee meetings, September 2005-May 2006</td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>CONVENTION</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">1	</td>
<td width="94%">2005 convention invitations</td></tr>
<tr align="left" valign="top"> 
<td width="6%">2	</td>
<td width="94%">2005 convention interview-suite arrangements</td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>GOVERNANCE</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">7	</td>
<td width="94%">Open discussion during 2005 Delegate Assembly meeting</td></tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%">Nominations for 2005 MLA elections</td></tr>
<tr align="left" valign="top"> 
<td width="6%">11</td>
<td width="94%">New division executive
committee members</td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>GRANTS AND PRIZES</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%">MLA graduate student travel grant</td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>MEETINGS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">13</td>
<td width="94%">2005 ADE and ADFL
Summer Seminars</td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b><i>PMLA</i></b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">1</td>
<td width="94%">PNC and FMC moving from print to Web</td></tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%"><i>PMLA</i> special topic: Remapping genre</td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>WEB SITE NEWS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%">MLA online bookstore</td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>Other News and Announcements</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">14</td>
<td width="94%">Correspondence</td></tr>
<tr align="left" valign="top"> 
<td width="6%">14</td>
<td width="94%">Classified advertisements</td></tr>
<tr align="left" valign="top"> 
<td width="6%">14</td>
<td width="94%">Nominations invited for honorary memberships and fellowships</td></tr>
<tr align="left" valign="top"> 
<td width="6%">15</td>
<i><td width="94%">Fellowships and grants deadlines</td></tr>
<tr align="left" valign="top"> 
<td width="6%">16</td>
<td width="94%">Upcoming MLA deadlines</td></tr></table>
