<h1><I>MLA Newsletter</i><BR>
Summer 2002</h1>
<h2>In This Issue</h2>
<table width="95%" border="0" align="left">
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%"><b><i>Computer-Related Repetitive Strain
Injuries: An Advisory</i></b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%"><i><B>President's Column</B></i><BR>
<I>Stephen Greenblatt</i><BR>
E-mail academy</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">3</td>
<td width="94%"><i><B>Editor's Column</B></i><BR>
<I>Phyllis Franklin</i><BR>
Transitions to a new community</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">8</td>
<td width="94%"><b><i>Count of Positions in the October 2001</i> JIL</b></td>
</tr>
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2><b>BOOK NEWS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%">MLA books available for purchase on the MLA
Web site</td></tr>
<tr align="left" valign="top"> 
<td width="6%">18</td>
<td width="94%"><i>Hamlet</i> volumes recalled</td></tr>
<tr align="left" valign="top"> 
<td width="6%">18</td>
<td width="94%">Call for contributions in Approaches series</td></tr>
<tr align="left" valign="top"> 
<td width="6%">19</td>
<td width="94%">Two new MLA titles published</td></tr>
<tr align="left" valign="top">
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>COMMITTEES</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">16</td>
<td width="94%">MLA committee meetings, September-October 2002</td>
</tr>
<tr align="left" valign="top">
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>CONVENTION</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%">2002 convention invitations</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%">2002 interview-suite arrangements</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%">MLA graduate student travel grant</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>GOVERNANCE</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">5</td>
<td width="94%">Executive Council meeting highlights</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">6</td>
<td width="94%">Summary of Delegate Assembly actions in
New Orleans</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">12</td>
<td width="94%">Nominations for 2002 MLA elections</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">16</td>
<td width="94%">New division executive committee members</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>GRANTS AND PRIZES</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%">Phyllis Franklin Award</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>MEETINGS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">18</td>
<td width="94%">2002 ADFL Summer Seminars</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">18</td>
<td width="94%">2002 ADE Summer Seminars</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%"><b>MLA WEB SITE NEWS</b></td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b><i>PMLA</i></b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">13</td>
<td width="94%"><i>PMLA</i> archive in electronic format</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b><i>Other News and Announcements</i></b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">18</td>
<td width="94%">Classified advertisements</td></tr>
<tr align="left" valign="top"> 
<td width="6%">19</td>
<td width="94%">Nominations invited for honorary membership
and fellowship</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">19</td>
<td width="94%">Fellowships and grants deadlines</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">20</td>
<td width="94%">Upcoming MLA deadlines</td>
</tr></table>
