<h1>Summary of Data from Surveys by the Coalition on the Academic Workforce</h1>
[[[insert page index]]]
<h2>Publication Information</h2>
This report was originally posted on the American Historical Association's Web site at <a href="http://www.theaha.org/caw/cawreport.htm" target="other">http://www.theaha.org/caw/cawreport.htm</a>. 

<i>This report was prepared for the CAW by Robert B. Townsend, assistant director for publications, information systems, and research at the American Historical Association in consultation with representatives from American Anthropological Association, American Philological Association, American Philosophical Association, American Association of University Professors, American Political Science Association, College Art Association, Linguistics Society of America, Modern Language Association, National Council of Teachers of English, and the Society for Cinema Studies. Final tabulation of the data on the folklore discipline has been delayed, but should be available in December.</i>

 
