﻿<h1>ADE and ADFL Surveys of Department Chair Compensation</h1>
The compensation survey was first administered in 2000 at the request of colleagues who attended the 1999 ADE Summer Seminar in Polson, Montana. In 2004, ADFL conducted a parallel survey. In 2011, the survey became part of the MLA’s permanent survey infrastructure, permitting regular updates.

<a href="/chrcomplink1" target="_blank" onClick="javascript: pageTracker._trackPageview('/pdf/chrcomplink1'); ">The ADE Chairs’ Compensation Survey (“From the Editor”)</a>[[[docstudio filetype_tag_pdf]]]
<a href="/chrcomplink2" target="_blank" onClick="javascript: pageTracker._trackPageview('/pdf/chrcomplink2'); ">The ADFL Chairs’ Compensation Survey: Part 1</a>[[[docstudio filetype_tag_pdf]]]
<a href="/chrcomplink4" target="_blank" onClick="javascript: pageTracker._trackPageview('/pdf/chrcomplink4'); ">The ADFL Chairs’ Compensation Survey: Part 2</a>[[[docstudio filetype_tag_pdf]]]
<a href="/chrcomplink3" target="_blank" onClick="javascript: pageTracker._trackPageview('/pdf/chrcomplink3'); ">The ADFL Chairs’ Compensation Survey: Part 3</a>[[[docstudio filetype_tag_pdf]]]

 
