<h1>Report of the MLA Task Force on Evaluating Scholarship for Tenure and Promotion</h1>
<div class="top_indent"><a class="sectionindex" href="/rportsummary_taskfor" target="other">Report (including Executive Summary)</a>[[[docstudio filetype_tag_pdf]]]</div>
<div class="top_indent"><a class="sectionindex" href="/taskforce_presspdf" target="other">Press Release</a>[[[docstudio filetype_tag_pdf]]]</div>
<div class="top_indent"><a class="sectionindex" href="/task_force_reportppt" target="other">Presentation on the Findings of the Survey</a>[[[docstudio filetype_tag_pdf]]]</div>
<div class="top_indent"><b>Tell us about your practices on your campus</b> | <a class="sectionindex" href="/tenuresurvey_word">Word file</a>[[[docstudio filetype_tag_doc]]] | <a class="sectionindex" href="/tenuresurvey_pdf" target="other">PDF file</a>[[[docstudio filetype_tag_pdf]]]</div>
<div class="top_indent"><b>Read op-ed articles by</b> <a class="sectionindex" href="http://www.insidehighered.com/views/2007/01/11/lombardi" target="_blank">John V. Lombardi</a> <b>and</b> <a class="sectionindex" href="http://www.insidehighered.com/views/2007/02/06/stimpson" target="_blank">Catharine R. Stimpson</a> <b>on the Task Force report</b></div>
<!--<a class="sectionindex" href="http://www.ade.org/seminars/index.htm" target="_other">ADE</a> <b>and</b> <a class="sectionindex" href="http://www.adfl.org/seminars/index.htm" target="_other">ADFL</a><b> Summer Seminar Information</b>
<a class="sectionindex" href="http://www.xxx.htm" target="_other">Kate Stimpson and Lombardi Comments</a>-->

 
