<H1>Terms and Conditions</h1>
<h2>Space Rental</h2>
<b>1. Standard Booth</b>
This contract for use of space provides an 8' high, flameproof backwall drapery and 36" side rails with drapery; a 7" x 44" sign carrying exhibitor's name and booth number; security service; and aisle carpet and aisle cleaning. Security for a specific exhibitor must be contracted in advance by the exhibitor.

<b>2. Furnishings</b>
Furniture, accessories, lighting, any additional draping and signs, etc., are the sole responsibility of the exhibitor and should be ordered in advance from the official exhibition service contractor on the forms provided. Table coverings, as well as booth equipment, must be constructed of nonflammable material. All decorations, drapes, signs, banners, moss, split bamboo, and other similar materials must be flame-retardant to the satisfaction of the City of Washington, DC, Fire Department and the fire marshal. Please note the additional fire-department regulations contained in the exhibitor service manual.

<h2>Construction, Installation, and Use of Exhibits</h2>
<b>1. Restrictions on Use of Space</b>
Exhibitors shall not sublet, assign, or share any part of the space allocated to them without the written consent of the management. Promotional giveaways and drawings are permitted.

<b>2. Eligibility to Exhibit</b>
Only companies that provide a product or service concerned with the fields of English or foreign languages and literatures may exhibit.

<b>3. Construction of Exhibits</b>
Exhibits may not project beyond the space allotted, and aisles must be kept clear for traffic. Exhibits may not extend over 8' in height or project forward more than 4' unless otherwise approved. Exhibits must be so arranged that exhibitors, their representatives, and equipment are inside the booth space. In the demonstration of language laboratory equipment, foreign language tapes, etc., only headsets may be used. To avoid annoyance to exhibitors in adjoining booths, the use of loudspeakers in booths is forbidden. Nothing shall be attached to or projected on any of the pillars, walls, doors, floors, or other Marriott Wardman Park Hotel property. The use of Scotch or masking tape or similar products on painted or papered surfaces is prohibited. No nails or bracing wires used in erecting displays may be attached to the building. Any property destroyed or damaged by an exhibitor must be replaced in its original condition at the exhibitor's expense. Carpet or suitable floor covering is mandatory for all exhibits.

<b>4. Decoration of Exhibits</b>
Service forms for ordering furniture, decorations, labor, and so forth will be sent by the official exhibition service contractor to confirmed exhibitors approximately ninety days before the convention. It is the responsibility of the exhibitor to read the service forms carefully and to abide by the regulations and deadlines contained therein.

<b>5. Installation and Dismantling of Exhibits</b>
All installation of exhibits must be carried out on 27 December, 8:00 a.m. to 5:00 p.m. Any display material sent to the exhibit hall but not set up by 5:00 p.m. on 27 December will be installed by the decorator at the exhibitor's expense. Space not occupied by 5:00 p.m. will be subject to forfeiture by the exhibitor and may be resold, reassigned, or used by the Modern Language Association. Dismantling of exhibits must be completed on 30 December by 5:00 p.m. No exhibit shall be erected after the exhibition opens or dismantled before the official closing time. It is the responsibility of the exhibitors to see that all their materials are delivered to, and removed from, the exhibit hall by the specified deadlines. Should the exhibitor fail to remove the exhibit, removal will be arranged by the exhibit management at the expense of the exhibitor. Exhibitors must notify the exhibits coordinator no later than 27 November 2005 that they will be using an outside contractor, and they must supply the contractor's name, address, and supervisor in attendance. Outside contractors include, for example, installation and dismantling companies, photographers, and security. Outside contractors must supply the exhibit coordinator no later than 27 November 2005 with the names of exhibiting companies for which they have requests to work, the names of the personnel the outside contractor will employ, and the appropriate insurance certificates. If exhibitors have not provided this information and the appropriate insurance certificates, they will not be allowed to set up their booths.

<b>6. Material Handling</b>
NO FREIGHT OF ANY KIND WILL BE ACCEPTED by the Marriott
Wardman Park Hotel. Material handling will be managed by the official exhibition service contractor, whose service forms will be sent with the exhibitor service manual in mid-September. Should any shipments be made directly to the exhibit hall before 27 December, they will be refused and shipped back to the sender. All costs involved will be charged to the exhibitor concerned. Small packages may be hand-carried into the exhibit hall during the installation period.

<b>7. Labor</b>
Information regarding specific regulations that are applicable will be explained in detail in the service manual. Arrangements for labor can be made through the official exhibition service contractor at prevailing rates.

<b>8. Fire Regulations</b>
All local regulations will be strictly enforced, and the exhibitor assumes all responsibility for compliance with such regulations. All decorations and booth equipment must be fireproofed to meet the requirements of the City of Washington, DC, Fire Department and the fire marshal. Affidavits attesting to compliance with the fire department's regulations must be submitted when requested. No combustible materials shall be stored in or around exhibit booths.

<b>9. Electrical Regulations</b>
All electrical equipment or apparatus and wiring must conform to the City of Washington, DC, electrical code, which will be strictly enforced. Forms for electrical installation and labor will be included in the service manual. Please note the regulations on electrical extension cords and multiplug adapters, contained in the service manual.

<b>10. Noncompliance</b>
In the event of any violation of the use of exhibits, the Modern Language Association shall have the right to require the exhibitor to withdraw forthwith from participation in the convention, the exhibitor will lose points in the MLA point system, and booth space rent will not be refunded.

<b>11. Selling on Exhibit Floor</b>
Selling on the floor is permitted in the exhibit hall. All exhibitors must comply with the laws of the City of Washington, DC. Detailed information about selling on the exhibit floor will be included in the exhibitor service manual sent by the official exhibition service contractor.

<h2>Liability</h2>
<b>1. Security </b>
The MLA will provide guard service on an around-the-clock basis from the beginning of installation through the conclusion of dismantling, but the furnishing of such service shall not be construed as an assumption of obligation or duty with respect to the protection of exhibitors' property, which shall at all times remain in the sole possession and custody of each exhibitor.

<b>2. Responsibility of the MLA, the Official Exhibition Service Contractor, and the Exhibit Facilities </b>
The exhibitor assumes entire responsibility and hereby agrees to protect, indemnify, defend, and save the Modern Language Association, the official exhibition service contractor, and Marriott Wardman Park Hotel and its employees and agents harmless against all claims, losses, or damages to persons or property, governmental charges or fines and attorneys' fees arising out of or caused by the exhibitor's installation, removal, maintenance, occupancy, or use of the exhibition premises or part thereof, excluding any such liability caused by the primary negligence of the Modern Language Association, the official exhibition service contractor, and Marriott Wardman Park Hotel and its employees and agents, or by acts of God, or by other events beyond the control of the MLA.

In addition, the exhibitor acknowledges that the MLA, the official exhibition service contractor, and Marriott Wardman Park Hotel do not maintain insurance covering the exhibitor's property and that it is the sole responsibility of the exhibitor to obtain business interruption and property damage insurance covering such losses by the exhibitor.

The MLA shall obtain and keep in force during the term of the installation and use of the exhibit premises policies of Comprehensive General Liability Insurance and Contractual Liability Insurance insuring and specifically referring to contractual liability set forth in the foregoing paragraph hereof, in an amount not less than $1,000,000 Combined Single Limit for personal injury and property damage.
