<h1>What is new in the seventh edition of the <I>MLA Handbook</I>?</h1>
The seventh edition introduces student writers to a significant revision of MLA documentation style. In the past, listing the medium of publication in the works-cited list was required only for works in media other than print (e.g., publications on CD-ROM, articles in online databases); print was considered the default medium and was therefore not listed. The MLA no longer recognizes a default medium and instead calls for listing the medium of publication in every entry in the list of works cited.

The seventh edition also introduces simplified guidelines for citing works on the Web. For example, the MLA no longer recommends the inclusion of URLs in the works-cited-list entries for Web publications. MLA guidelines now call for the inclusion of both volume and issue numbers in listings for journal articles in the list of works cited. We provide new guidelines for citing forms that are gaining more scholarly attention, such as graphic narratives and digital files.

This edition also introduces revised guidelines for preparing a printed paper. For instance, our examples assume that students will use italics, not underlining, for text that would be italicized in publication.

The preface of the <I>MLA Handbook</I> gives additional details on what is new in the seventh edition.
