<h1>William Riley Parker Prize  </h1>
<h2>Competition in 2014 for Articles Published in the October 2013, January 2014, March 2014, and May 2014 Issues of <i>PMLA</i></h2>
Open Only to Members of the Association

The fifty-first annual William Riley Parker Prize will be awarded for an outstanding article published in <i>PMLA</i>.  To qualify for the prize, an article must have been submitted by a member to <i>PMLA</i> and published in one of the four scholarly article issues that appear in the academic year.  The award, which consists of a cash award and a certificate, will be presented to the winning author at the association’s annual convention in January 2015.

There is no need to enter articles in this competition.  All eligible articles will be reviewed by the William Riley Parker Prize Selection Committee.  For further information, call or write the office of programs at the MLA (646 576-5141; <a href="mailto:awards@mla.org">awards@mla.org</a>).

<a href="pastwinners_parker">Past winners</a> of this prize
