<h1><I>MLA Newsletter</i><BR>
Winter 2002</h1>
<h2>In This Issue</h2>
<table width="95%" border="0" align="left">
<tr align="left" valign="top"> 
<td width="6%">1</td>
<td width="94%"><b><i>A. LaVonne Brown Ruoff receives
Lifetime Achievement Award</i></b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">3</td>
<td width="94%"><i><B>President's Column</B></i><BR>
<I>Stephen Greenblatt</i><BR>
"Keep Us Informed"</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">5</td>
<td width="94%"><i><B>Editor's Column</B></i><BR>
<I>Rosemary G. Feal</i><BR>
Foreign language study: World needs, now</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2><b>BIBLIOGRAPHY</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">13</td>
<td width="94%">How to be included in the <i>MLA International
Bibliography</i></td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2><b>BOOK NEWS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">11</td>
<td width="94%">Three new MLA titles published</td></tr>
<tr align="left" valign="top">
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>COMMITTEES</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">12</td>
<td width="94%">Committee on the Status of Graduate Students
in the Profession: A statement and introduction</td>
</tr>
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>CONVENTION</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%">Program issue for members with visual
impairments</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%">New York, New York</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%">Accommodations and services for persons with
disabilities</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%">Recommendations for session presiders</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%">Audio- and videotaping guidelines for convention sessions</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">8</td>
<td width="94%">New discussion group holds organizational
meeting</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">9</td>
<td width="94%">2003 calendar of dates and deadlines for special sessions</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">9</td>
<td width="94%">Calls for papers for 2003 convention in
San Diego</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">11</td>
<td width="94%">Deadline changes for membership and session
proposals for the 2003 annual convention</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">11</td>
<td width="94%">Forum proposals welcome</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b><i>Job Service at the Convention</i></b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">6</td>
<td width="94%">Registration still available for annual job clinic</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">8</td>
<td width="94%">Preconvention workshops and mock job
interviews</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">8</td>
<td width="94%">Important information about the Job
Information Center</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>GOVERNANCE</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%">Elections committee seeks candidates</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">4</td>
<td width="94%">Proposals for the 2002 Delegate Assembly agenda meeting</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>GRANTS AND PRIZES</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">4</td>
<td width="94%">Andrea Lunsford to receive the ADE Frances
Andrew March Award for Distinguished Service to the Profession</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">13</td>
<td width="94%">Heidi Byrnes to receive the ADFL Award for
Distinguished Service to the Profession</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>MEETINGS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">4</td>
<td width="94%">NEH institutes and seminars</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">13</td>
<td width="94%">2003 ADE Summer Seminars</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">14</td>
<td width="94%">2003 ADFL Summer Seminars</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%"><b>MLA WEB SITE NEWS</b></td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b><i>Other News and Announcements</i></b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%"><i>What's the Word?</i> use by students and teachers</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">4</td>
<td width="94%"><i>Profession 2003</i> call for papers</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">6</td>
<td width="94%">ADE and ADFL online job counseling</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">12</td>
<td width="94%">ARL task force invites input on the special
collections agenda</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">14</td>
<td width="94%">Findings from the MLA's 2000-01 survey of
PhD placement</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">14</td>
<td width="94%">Statement of Ownership</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">15</td>
<td width="94%">Classified advertisements</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">15</td>
<td width="94%">Fellowships and grants deadlines</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">16</td>
<td width="94%">Upcoming MLA deadlines</td>
</tr>

</table>
