<h1><I>MLA Newsletter</i><BR>
Winter 2004</h1>
<h2>In This Issue</h2>
<table width="95%" border="0" align="left">
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%"><b><i>MLA Task Force on Evaluating Scholarship for Tenure and Promotion Invites Information from Faculty Members</i></b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">3</td>
<td width="94%"><i><B>President's Column</B></i><BR>
<I>Robert Scholes</i><BR>
Who are we? Where are we? What is to be done?</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">4</td>
<td width="94%"><i><B>Editor's Column</B></i><BR>
<I>Rosemary G. Feal</i><BR>
Scaring (up) "foreign" language speakers: One hundred years of multitude</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2><b>BIBLIOGRAPHY</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">14</td>
<td width="94%">How to be included in the <i>MLA International Bibliography</i></td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2><b>BOOK NEWS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">11</td>
<td width="94%">Three new MLA titles published</td></tr>
<tr align="left" valign="top">
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>COMMITTEES</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">12</td>
<td width="94%">Committee on the Literatures of People of Color publishes <i>Guidelines for Good Practice</i></td>
</tr>
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>CONVENTION</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">1</td>
<td width="94%">Philadelphia convention</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%">Recommendations for session presiders</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%">Accommodations and services for persons
with disabilities</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">8</td>
<td width="94%">Program issue for members with visual
impairments</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">8</td>
<td width="94%">Audio- and videotaping guidelines for convention sessions</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">9</td>
<td width="94%">2005 calendar of dates and deadlines for
special sessions</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">9</td>
<td width="94%">Calls for papers for 2005 convention in
Washington, DC</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">11</td>
<td width="94%">Forum proposals welcome</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b><i>Job Service at the Convention</i></b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%">Preconvention workshops and mock job
interviews</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%">Registration still available for annual job clinic on business, government, and not-for-profit careers</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">8</td>
<td width="94%">Important information about the Job
Information Center</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>GOVERNANCE</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">5</td>
<td width="94%">Elections committee seeks candidates</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">6</td>
<td width="94%">Proposals for 2004 Delegate Assembly
meeting agenda</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>GRANTS AND PRIZES</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">12</td>
<td width="94%">Mahmoud Al-Batal receives the ADFL Award for Distinguished Service to the Profession</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">12</td>
<td width="94%">ADE Frances Andrew March Award presented to Phyllis Franklin</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>MEETINGS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">13</td>
<td width="94%">2005 ADE Summer Seminars</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">13</td>
<td width="94%">2005 ADFL Summer Seminars</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>MLA WEB SITE NEWS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%">Philadelphia convention sessions available
online</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b><i>Other News and Announcements</i></b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%">Ideas for <i>What's the Word?</i></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%">ADE and ADFL online job counseling</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">5</td>
<td width="94%"><i>Profession 2005</i> call for papers</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">15</td>
<td width="94%">Fellowships and grants deadlines</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">15</td>
<td width="94%">Statement of ownership</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">16</td>
<td width="94%">Upcoming MLA deadlines</td>
</tr>
</table>
