<h1>Projects and Publications</h1>
<h2>Projects</h2>
Each year, the CSWP completes long-standing projects, initiates new projects in response to members' concerns, and continues its ongoing work of advancing the status of women in the profession. Recently completed and current projects address the following:
<UL>
<LI><B> Draft Statement on People of Color in the Modern Languages</B>--For two years, the CSWP compiled information on the position of women and men of color in the modern languages. A draft statement published for the MLA membership in 1997 painted a disturbing picture of the retention of women and men of color in tenured faculty positions and of the risks this climate poses for newly emergent fields as well as for the academy and society at large. While demand for faculty members specializing in American ethnic, postcolonial, and Latin American literatures is climbing and entry of people of color into the profession is up, these gains are counterweighted by barriers to professional advancement and a decline among students of color seeking postsecondary degrees and academic careers. The statement urges modern language departments to resolve this tension between supply and demand by support of mentoring, recruitment, and fellowship programs for promising students of color pursuing careers in higher education.
<LI><B><A HREF="pdf_women2000" target="other">Women in the Profession 2000</A></B>--For the millennial edition of <I>Profession</I>, the CSWP prepared a retrospective report of the advances and losses of women in the profession over the previous three decades. Using data from Florence Howe's article in the 1971 <I>PMLA</I> as a point of departure, the committee compared thirty-year-old statistics to new information for this anniversary issue. Combining analytic commentary and anecdotal information, the report assesses such categories as salary equity, rates of tenure and promotion, retention and attrition in graduate school, maternity leave policies, spousal hiring and domestic partnership policies, adjunct and tenure-track employment, and the growth of women's studies programs and positions. The document also raises questions about what the data omit germane to changes in the status of women in the modern languages.
<LI><B> Employment Conditions</B>--The CSWP is concerned with the status of part-time and adjunct family, maternity, and child care policies, sexual and gender harassment policies, and other workplace issues that impact the personal and professional development of academic women. At the 1998 convention, the CSWP organized a roundtable session entitled "The Status of Women in the Profession: Pedagogy, Scholarship, and Affirmative Action." During this hearing, MLA members shared opinions and suggestions about the role of the committee in documenting and resolving issues of common concern. The membership supported the CSWP's current charge and advocated additional actions such as building mentoring networks among women faculty members and administrators and utilizing online technology such as Web sites toward its incentives.
</UL>

In addition to its focus projects, the CSWP annually participates in convention programming and strives to build better communications among the various groups serving women's interests within the MLA: the Women's Caucus for the Modern Languages, the Division on Women's Studies in Language and Literature, Women in German, Women in French, Feministas Unidas, the Gay and Lesbian Caucus for the Modern Languages, the Task Force against Campus Bigotry, the Division on Gay Studies in Language and Literature, and the Committee on the Literatures of People of Color in the United States and Canada.

The committee organizes up to three sessions at the annual convention. At the convention, the CSWP also hosts a coalition-building breakfast with representatives of allied and affiliate organizations such as those listed above. Past members of CSWP and presenters on CSWP panels are also invited.

The CSWP is interested in your comments, questions, and concerns. Please write us at <a href="mailto:cswp@mla.org">cswp@mla.org</a>.

<H2>Publications</H2>
Clark, V&egrave;V&egrave;, Shirley Nelson Garner, Margaret Higonnet, and Ketu H. Katrak, eds. <CITE>Antifeminism in the Academy</CITE>. New York: Routledge, 1996.

Committee on the Status of Women in the Profession. "CSWP Draft Statement on People of Color in the Modern Languages." <CITE>MLA Newsletter</CITE> 29.4 (1997): 12-13.

---. "<a href="/pdf_women2000" target="other">Women in the Profession, 2000</a>." <i>Profession 2000</i>. New York: MLA, 2000. 191-217.

DeSole, Gloria, and Leonore Hoffmann, eds. <CITE>Rocking the Boat: Academic Women and Academic Processes</CITE>. New York: MLA, 1981.

Frank, Francine Wattman, and Paula A. Treichler. <CITE>Language, Gender, and Professional Writing: Theoretical Approaches and Guidelines for Nonsexist Usage</CITE>. New York: MLA, 1989.

Franklin, Phyllis, Helene Moglen, Phyllis Zatlin-Boring, and Ruth Angress. <CITE>Sexual and Gender Harassment in the Academy: A Guide for Faculty, Students, and Administrators</CITE>. New York: MLA, 1981.

Gaard, Greta, Sarah Webster Goodwin, and Naomi Miller. <CITE>Family Care Handbook</CITE>. New York: MLA.

Goodwin, Sarah Webster, ed. "Family Care Issues: Stories and Strategies." <CITE>Concerns</CITE> 24.3 (1994).

Hartman, Joan E., and Ellen Messer-Davidow, eds. <CITE>Women in Print I: Opportunities for Women's Studies Research in Language and Literature</CITE>. New York: MLA, 1982.

---. <CITE>Women in Print II: Opportunities for Women's Studies Publication in Language and Literature</CITE>. New York: MLA, 1982.

Hoffmann, Leonore, and Margo Culley, eds. <CITE>Women's Personal Narratives: Essays in Criticism and Pedagogy</CITE>. New York: MLA, 1985.

Hoffmann, Leonore, and Gloria DeSole, eds. <CITE>Careers and Couples: An Academic Question</CITE>. New York: MLA, 1976.

Stringer, Patricia A., and Irene Thompson, eds. <CITE>Stepping Off the Pedestal: Academic Women in the South</CITE>. New York: MLA, 1982.

Thompson, Irene, and Audrey Roberts, eds. <CITE>The Road Retaken: Women Reenter the Academy</CITE>. New York: MLA, 1985.
