{% set userEditForm = "member/" ~ form.vars.name %}
{% if form.vars.name == "career_path" %}
    {% set userEditForm = "career_path" %}
{% endif %}

<div class="mla-form form-{{ form.vars.name }}{% if editable %} editable{% else %} readonly{% endif %}" data-view-uri="{{ path("UserEdit", {'name' : userEditForm, 'view' : 'embed', 'editable' : false}) }}" data-edit-uri="{{ path("UserEdit", {'name' : userEditForm, 'view' : 'embed', 'editable' : true}) }}">
    <h2>{{ title }}</h2>
    {% include form_layout_template %}
</div>