{% extends "ProjectSiteBundle::pagelayout.html.twig" %}

{% block page_title %}
    {{ title is defined ? title : "" }}
{% endblock %}

{% block content %}
    {% embed "ProjectSiteBundle:layouts:two_column.html.twig" %}
        {% block main_content_area %}
            {% if title is defined %}
                <h1 id="pagetitle">{{ title }}</h1>
            {% endif %}
            <div class="mla-form form-{{ form.vars.name }}">
                {% include form_layout_template %}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}