<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Modern Language Association</title>

	<!-- Bootstrap core CSS -->
	<link href="/bundles/projectsite/css/bootstrap.css" rel="stylesheet">

	<!-- Custom CSS -->
	<link href="/bundles/projectsite/css/main.css" rel="stylesheet">

</head>

<body>

	<!-- Fixed Navbar -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
{#
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.php">Start Bootstrap</a>
			</div>
#}
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav">
					<li><a href="#">About Us</a></li>
					<li><a href="#">Convention</a></li>
					<li><a href="#">Membership</a></li>
					<li><a href="#">MLA Style</a></li>
					<li><a href="#">Publications</a></li>
					<li><a href="#">Resources</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container -->
	</nav>
	<!-- /Fixed Navbar -->

	<div class="container">
		<div class="row">

			<!-- Left Sidebar -->
			<div class="col-sm-4 col-md-3">

				<!-- Related Links -->
				<div class="panel-group" id="accordion">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Related Links</a>
							</h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in">
							<div class="panel-body">
								<p>My MLA, saved items, recent searches, My Convention Schedule, etc.</p>
							</div>
						</div>
					</div>
				</div>
				<!-- /Related Links -->

				<!-- Personalized Content -->
				<div class="panel-group" id="accordion">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Personalzed content</a>
							</h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in">
							<div class="panel-body">
								<p>My MLA, saved items, recent searches, My Convention Schedule, etc.</p>
							</div>
						</div>
					</div>
				</div>
				<!-- /Personalized Content -->

				<!-- Syndicated Content -->
				<div class="panel-group" id="accordion">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Syndicated content</a>
							</h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in">
							<div class="panel-body">
								<div class="">
									<img class="pull-left" src="/bundles/modernlanguageassociationsite/img/twitter-icon.png">
									<p>Equam Autatum @equamautatum Volorum facessus, voluptatur?</p>
								</div>
								<input type="search" class="form-control" id="twitterSearch" placeholder="Tweet #MLA">
							</div>
						</div>
					</div>
				</div>
				<!-- /Syndicated Content -->

				<!-- Calendar -->
				<div class="panel-group" id="accordion">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Calendar</a>
							</h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in">
							<div class="panel-body" style="padding:5px;">

							<ul class="nav nav-tabs">
								<li class="active"><a href="#">MLA</a></li>
								<li><a href="#">Fellowships and Grants</a></li>
							</ul>

							</div>
						</div>
					</div>
				</div>
				<!-- /Calendar -->

			</div>
			<!-- /Left Sidebar -->

			<!-- Main Content Area -->
			<div class="col-sm-8 col-md-9">

				<!-- Carousel -->
				<div id="myCarousel" class="carousel slide">
					<div class="carousel-inner">

						<!-- Carousel Item 1 -->
						<div class="item active">
							<img src="/bundles/modernlanguageassociationsite/img/slide-01.png" alt="">
							<div class="container">
								<div class="carousel-caption col-xs-12">
									<p class="lead">Image slider caption/credit.</p>
								</div>
							</div>
						</div>
						<!-- /Carousel Item 1 -->

						<!-- Carousel Item 2 -->
						<div class="item">
							<img src="/bundles/modernlanguageassociationsite/img/slide-02.png" alt="">
							<div class="container">
								<div class="carousel-caption col-xs-12">
									<p class="lead">Image slider caption/credit.</p>
								</div>
							</div>
						</div>
						<!-- /Carousel Item 2 -->

					</div>

					<!-- Carousel Controls -->
					<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
					<a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
					<!-- /Carousel Controls -->

				</div>
				<!-- /Carousel -->

				<!-- Content -->
				<div class="col-lg-12">
					<h1>Main Content Title</h1>
					<p>Desti sinis elesto ea nem seniendam volorepe poresequibus maios nimi, eost haria sum, omnisi ipsus eaqui voloria <a href="#">volorio nsequosae</a> earibus magni. Omnis quia pa aspelit aperumquas rest rerumqui quam aut ullaborpos essitae aut cturepr paritio. Equam autatum nullaute perfere rferatem natet verepud animini maximol ecupti si aute ut ate et expla des sunt.</p>

					<h3>Main Content Subtitle</h3>
					<p>Nam eosam idicab is porions edigent volorum facessus, voluptatur? Quis nient lab il modigenis quias molut facese volorpe lant. Volorer atecte odipsum in culparuptati aliquia spedis corerch icilles tiorion estinctatque venimin.</p>
					<a href="#">Download the report as a PDF. </a>

					<h1>Main Content Title</h1>
					<p>Desti sinis elesto ea nem seniendam <a href="#">volorepe poresequibus</a> maios nimi, eost haria sum, omnisi ipsus eaqui voloria volor. Nam eosam idicab is porions edigent volorum facessus, voluptatur? Quis nient lab il modigenis quias molut facese volorro quos nis doluptae dolorem sitios soluptate nim exerferor susti autem quostio ssitistibus ut maionem oluptatur.</p>
				</div>
				<!-- /Content -->

			</div>
			<!-- /Main Content Area -->

		</div>
	</div>

	<footer>
		<div class="container">
			<div class="col-lg-12">
				<ul class="nav nav-pills">
					<li><a href="#">Copyright info</a></li>
					<li><a href="#">Contact</a></li>
					<li><a href="#">Site Map</a></li>
					<li><a href="#">Privacy Policy</a></li>
					<li><a href="#">[...]</a></li>
				</ul>
			</div>
		</div>
	</footer>

	<!-- JavaScript -->
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js" charset="utf-8"></script>
	<script type="text/javascript" src="/bundles/projectsite/js/bootstrap.js" charset="utf-8"></script>
	<script type="text/javascript">
	$('.carousel').carousel({
		interval: 8000
	});
	</script>

</body>

</html>