<div class="content-view-line article">
{% if not ez_is_field_empty(content, "image") %}
    {% set imageAlias = ez_image_alias( content.getField("image"), content.versionInfo, "large") %}
    <div class="col-sm-4 col-md-3">
    <img class="img-responsive" src="{{ asset(imageAlias.uri) }}" width="{{ imageAlias.width }}" height="{{ imageAlias.height }}" />
    </div>
{% endif %}
{% if not ez_is_field_empty(content, "image") %}
<div class="col-sm-8 col-md-9">
{% endif %}
<h2>
    {% if not ez_is_field_empty(content, "url") %}
        <a href="{{ content.getFieldValue("url").link }}"{% if content.getFieldValue("url").text %} title="{{ content.getFieldValue("url").text }}"{% endif %}>{{ content.contentInfo.name|simple_text_format }}</a>

    {% else %}
        <a href={{ sitelink(content) }}>{{ content.contentInfo.name|simple_text_format }}</a>
    {% endif %}
</h2>
{% if not ez_is_field_empty(content, "intro") %}
    <div class="fieldtype-xmltext">
        {{ ez_render_field(content, 'intro')|replace({"[…" : "[&hellip;]"})|raw }}
    </div>
{% endif %}
{% if not ez_is_field_empty(content, "image") %}
</div>
{% endif %}
</div> 