<div class="search-result-item bulletin-article">
    <h2><a href={{ sitelink(content) }}>{{ content.contentInfo.name|simple_text_format }}</a></h2>
    <div class="content">
        {% if search_hightlighting is defined and search_hightlighting|length > 0 %}
            {% include "ProjectSiteBundle:parts:search/search_highlighting.html.twig" with {"search_hightlighting" : search_hightlighting} %}
        {% endif %}        
        <a href={{ sitelink(content) }}>{{ content.contentInfo.name|simple_text_format }}</a>, p. {{ content.getFieldValue("page_first").text }} ({{ content.getFieldValue("page_cnt").text }})
        <div class="download-link"><a class="file-pdf" href="/content/download/{{ content.contentInfo.mainLocationId }}/{{ content.getField("file").id }}/{{ content.getFieldValue("file").fileName }}">View/download article as PDF</a></div>
    </div>
</div>