<div class="content-view-line imported-page">
<h2><a href={{ sitelink(content) }}>{{ content.contentInfo.name|simple_text_format }}</a></h2>
{% if search_hightlighting is defined and search_hightlighting|length > 0 %}
    {% include "ProjectSiteBundle:parts:search/search_highlighting.html.twig" with {"search_hightlighting" : search_hightlighting} %}
{% else %}
    <div class="fieldtype-xmltext">
        <div class="event-time">
            {# Event with display date #}
            {% if not ez_is_field_empty(content, "display_date") %}{{-
            
                content.getFieldValue("display_date").text

            -}}
            {# Event that ends on same day #}
            {% elseif not event_end or event_start|date("j/n/Y", timezone) == event_end|date("j/n/Y", timezone) %}{{-
            
                event_start|date("F j, Y", timezone)
        
            -}}
            {# Event that ends in same month #}
            {% elseif event_end and event_start|date("n/Y", timezone) == event_end|date("n/Y", timezone) %}{{-

                event_start|date("F j", timezone) ~
                " – " ~
                event_end|date("j, Y", timezone)

            -}}
            {# Event that begins/ends in different months #}
            {% elseif event_end and event_start|date("n") != event_end|date("n") and event_start|date("Y") == event_end|date("Y") %}{{-

                event_start|date("F j", timezone) ~
                " – " ~
                event_end|date("F j, Y", timezone)

            -}}
            {# Event that begins/ends in different year #}
            {% else %}{{-

                event_start|date("F j, Y", timezone) ~
                " – " ~
                event_end|date("F j, Y", timezone)

            -}}{% endif %}
        </div>
        <div class="description">
            {{ ez_render_field(content, "text") }}
        </div>
        <a href="{{ path( 'ez_urlalias', {'locationId': content.contentInfo.mainLocationId }) }}">
            more info
        </a>        
    </div>
{% endif %}
</div>