<div class="content-view-line event-calendar">
<h2><a href={{ sitelink(content) }}>{{ content.contentInfo.name|simple_text_format }}</a></h2>
{% if not ez_is_field_empty(content, "content") %}
    <div class="fieldtype-xmltext">
        {{ ez_render_field(content, 'content') }}
    </div>
{% endif %}
</div>