<div class="content-view-line folder row">
{% if not ez_is_field_empty(content, "ml_image") %}
    {% set ml_image = content.fields.ml_image['eng-US'].destinationContentId|objectfetch() %}
    {% set imageAlias = ez_image_alias( ml_image.getField("image"), ml_image.versionInfo, "large") %}
    {% if imageAlias.uri is defined %}
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <img class="img-responsive" src="{{ asset(imageAlias.uri) }}" width="{{ imageAlias.width }}" height="{{ imageAlias.height }}" />
        </div>
    {% else %}
        <div class="col-xs-12">
    {% endif %}
{% else %}
    <div class="col-xs-12">
{% endif %}
{% if not ez_is_field_empty(content, "ml_image") %}
<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
{% endif %}
<h2><a href={{ sitelink(content) }}>{{ content.contentInfo.name|simple_text_format }}</a></h2>
{% if search_hightlighting is defined and search_hightlighting|length > 0 %}
    {% include "ProjectSiteBundle:parts:search/search_highlighting.html.twig" with {"search_hightlighting" : search_hightlighting} %}
{% elseif not ez_is_field_empty(content, "short_description") %}
    <div class="fieldtype-xmltext">
        <div class="description">
            {{ ez_render_field(content, 'short_description') }}
        </div>
        <a href="{{ path( 'ez_urlalias', {'locationId': content.contentInfo.mainLocationId }) }}">
            more info
        </a>        
    </div>
{% endif %}
</div>
</div>