<div class="content-view-line imported-page">
<h2><a href={{ sitelink(content) }}>{{ content.contentInfo.name|simple_text_format }}</a></h2>
{% if search_hightlighting is defined and search_hightlighting|length > 0 %}
    {% include "ProjectSiteBundle:parts:search/search_highlighting.html.twig" with {"search_hightlighting" : search_hightlighting} %}
{% elseif not ez_is_field_empty(content, "description") %}
    <div class="fieldtype-xmltext">
        <div class="description">
            {{ content.getFieldValue("description").text }}
        </div>
        <a href="{{ path( 'ez_urlalias', {'locationId': content.contentInfo.mainLocationId }) }}">
            more info
        </a>
    </div>
{% endif %}
</div>