<div class="content-view-line link">
{% if not ez_is_field_empty(content, "internal_link") %}
    {% set link = sitelink(content.fields.internal_link['eng-US'].destinationContentId, false, null, false) %}
{% elseif not ez_is_field_empty(content, "external_link") %}
    {% set link = sitelink(content.fields.external_link['eng-US'].link, false, null, false) %}
{% else %}
    {% set link = false %}
{% endif %}
<h2>{% if link %}<a href={{ link }}{% if content.getField('open_in_new_window').value.bool %} target="_blank"{% endif %}>{% endif %}{{ content.contentInfo.name|simple_text_format }}{% if link %}</a>{% endif %}</h2>
{% if not ez_is_field_empty(content, "description") %}
    <div class="fieldtype-xmltext">
        {{ ez_render_field(content, 'description') }}
    </div>
{% endif %}
</div>