<div class="content-view-line section-home">
{% if not ez_is_field_empty(content, "image") %}
    {% set imageAlias = ez_image_alias( content.getField("image"), content.versionInfo, "large") %}
    <img class="img-responsive" src="{{ asset(imageAlias.uri) }}" width="{{ imageAlias.width }}" height="{{ imageAlias.height }}" />
{% endif %}
<h2><a href={{ sitelink(content) }}>{{ content.contentInfo.name|simple_text_format }}</a></h2>
{% if not ez_is_field_empty(content, "short_description") %}
    <div class="fieldtype-xmltext">
        {{ ez_render_field(content, 'short_description') }}
    </div>
{% endif %}
</div>