{% autoescape false %}
{% if menubar.items %}
<ol class="breadcrumb">
{% for item in menubar.items %}
    <li{% if item.class %} class="{{ item.class }}{% if loop.last %} active{% endif %}"{% endif %}>{% spaceless %}
        {% if item.link and not loop.last %}<a href="{{ item.link }}"{% if item.hasTarget %} target="{{ item.target }}"{% endif %}>{% endif %}{% spaceless %}
            {{ loop.first ? 'Home' : item.content|unescape()|simple_text_format }}
        {% endspaceless %}{% if item.link and not loop.last %}</a>{% endif %}
    {% endspaceless %}</li>
{% endfor %}
</ol>
{% endif %}
{% endautoescape %}
