{% autoescape false %}
{% if menubar.items %}
<ul role="menu">
{% for item in menubar.items %}
    <li class="{% if item.class %}{{ item.class }}{% endif %}">
        <a tabindex="-1" class="right-caret" href="{{ item.link }}"{% if item.hasTarget %} target="{{ item.target }}"{% endif %}>{{ item.content|simple_text_format }}</a>
    </li>
{% endfor %}
</ul>
{% endif %}
{% endautoescape %}