{% autoescape false %}
{% if menubar.items %}
<div class="dropdown-menu multi-level row">
{% if menubar.hasHeader %}
<h2>{% if menubar.header.link %}<a href="{{ menubar.header.link }}">{% endif %}{{ menubar.header.content|simple_text_format }}{% if menubar.header.link %}</a>{% endif %}</h2>
{% endif %}
<div>
<ul class="columnize" role="menu" aria-labelledby="dropdownMenu">
{% for item in menubar.items %}
    <li class="{% if item.menu.items is defined %}dropdown-submenu {% endif %}{% if item.class %} {{ item.class }}{% endif %}">
        <a tabindex="-1" class="right-caret" href="{{ item.link }}"{% if item.hasTarget %} target="{{ item.target }}"{% endif %}>{{ item.content|simple_text_format }}</a>

        {{ menubar(
            {
                id: 'dropdown|' ~ item.dataproperties.get('location_id') ~ '|' ~ menubar.dataproperties.get('id'),
                menu_root: item.dataproperties.get('location_id'),
                use_parent: false,
                class: 'global-submenu-count',
                filter: [
                    {
                        location_priority: {
                            BETWEEN: [ 0, 1000 ]
                        }
                    },
                    {
                        content_type_identifier: {
                            NIN: [ 'article', 'bulletin_article', 'banner', 'content_box', 'footer', 'jil_pdf' ]
                        }
                    }
                ],
                sort: 'menu_root'
            },
            template = "ProjectSiteBundle:menu:global_tertiary.html.twig"
        ) }}

    </li>
{% endfor %}
</ul>
</div>
</div>
{% endif %}
{% endautoescape %}
