{% autoescape false %}
{% if menubar.items %}

{% set submenu_list = [] %}

{% for item in menubar.items %}
    {% set submenu_item %}
    <li class="{% if item.menu.items is defined %}dropdown-submenu {% endif %}{% if item.class %} {{ item.class }}{% endif %}">
        <a tabindex="-1" class="right-caret" href="{{ item.link }}"{% if item.hasTarget %} target="{{ item.target }}"{% endif %}>{{ item.content|simple_text_format }}</a>

        {{ menubar(
            {
                id: 'dropdown|' ~ item.dataproperties.get('location_id') ~ '|' ~ menubar.dataproperties.get('id'),
                menu_root: item.dataproperties.get('location_id'),
                use_parent: false,
                class: 'global-submenu-count',
                filter: [
                    {
                        location_priority: {
                            BETWEEN: [ 0, 1000 ]
                        }
                    },
                    {
                        content_type_identifier: {
                            NIN: [ 'article', 'bulletin_article', 'banner', 'content_box', 'footer', 'jil_pdf' ]
                        }
                    }
                ],
                sort: 'menu_root'
            },
            template = "ProjectSiteBundle:menu:global_tertiary.html.twig"
        ) }}

    </li>
    {% endset %}

    {% set submenu_list = submenu_list|merge({
        (loop.index0): submenu_item
    }) %}
{% endfor %}

{% set split_index = get_menubar_split_point(menubar) %}

<div class="dropdown-menu multi-level row">
{% if menubar.hasHeader %}
<h2>{% if menubar.header.link %}<a href="{{ menubar.header.link }}">{% endif %}{{ menubar.header.content|simple_text_format }}{% if menubar.header.link %}</a>{% endif %}</h2>
{% endif %}

    <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <ul role="menu" aria-labelledby="dropdownMenu">{{ submenu_list|slice( 0, split_index )|join() }}</ul>
    </div>
    <div class="col col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <ul role="menu" aria-labelledby="dropdownMenu">{{ submenu_list|slice( split_index )|join() }}</ul>
    </div>

</div>
{% endif %}
{% endautoescape %}
