{% autoescape false %}
{% if menubar.items %}
<ul id="global-navigation" class="{{ menubar.class }} col-sm-12 col-md-9">
{% for item in menubar.items %}
    <li class="{% if item.class %}{% if item.class %}{{ item.class }}{% endif %}{% if loop.index == 4 %} break{% endif %} item-{{loop.index}} dropdown" data-location-id="{{ item.dataproperties.get('location_id') }}">
        <a href="{{ item.link }}"{% if item.hasTarget %} target="{{ item.target }}"{% endif %}><span{# class="glyphicon-plus"#}></span>{{ item.content|simple_text_format }}</a>{% endif %}
    </li>
{% endfor %}
</ul>
{% endif %}
{% endautoescape %}