{% autoescape false %}
{% if menubar.hasHeader %}
<div class="panel panel-default">
<nav class="sidemenu">
<div class="panel-heading">
    <h3 class="panel-title">{% if menubar.header.link %}<a href="{{ menubar.header.link }}">{% endif %}{{ menubar.header.content|unescape()|simple_text_format }}{% if menubar.header.link %}</a>{% endif %}</h3>
</div>
<div class="panel-body collapse-menu collapse in">
{% endif %}
{% if menubar.items %}
<ul class="menu {{ menubar.class }}">
{% for item in menubar.items %}
	<li{% if item.class %} class="{{ item.class }}"{% endif %}>
		<a href="{{ item.link }}"{% if item.hasTarget %} target="{{ item.target }}"{% endif %}>{{ item.content|unescape()|simple_text_format }}</a>{% if item.delimiter %}<span class="delimiter">{{ item.delimiter }}</span>{% endif %}
		{% if item.class|contains('current') != false %}
        {{ menubar(
            {
                id: 'side-nav-sub',
                include_root: false,
                orientation: 'vertical',
                header: true,
                menu_root: item.class[12:]|int(),
                use_parent: false,
                menu_depth: 1,
                filter: [
                    {
                        location_priority: {
                            BETWEEN: [0,1000]
                        }
                    },
                    {
                        content_type_identifier: {
                            NIN: ['article', 'bulletin_article', 'banner', 'content_box', 'footer', 'jil_pdf', 'event', 'faq']
                        }
                    }
                ],
                sort: 'menu_root'
            },
            template = "ProjectSiteBundle:menu:side_subnav.html.twig"
        ) }}
        {% endif %}
	</li>
{% endfor %}
</ul>
{% endif %}
{% if menubar.hasHeader %}
</div>
</nav>
</div>
{% endif %}
{% endautoescape %}
