
{% autoescape false %}
{% if menubar.items %}
<ul class="menu-vertical">
{% for item in menubar.items %}
	<li{% if item.class %} class="{{ item.class }}"{% endif %}>
		<a href="{{ item.link }}"{% if item.hasTarget %} target="{{ item.target }}"{% endif %}>{{ item.content|unescape()|simple_text_format }}</a>{% if item.delimiter %}<span class="delimiter">{{ item.delimiter }}</span>{% endif %}
	</li>
{% endfor %}
</ul>
{% endif %}
{% endautoescape %}