/* These rules should apply to every template, but keep them outside of Bootstrap's framework for easier updating */
.main-logo {
	padding-top: 15px;
}

.well {
	margin: 15px 0;
}

.thumbnail {
	margin-top: 20px;
}

.nav-stacked {
	margin-bottom: 15px;
}

.copyright {
	font-size: 12px;
}


/* Custom Helper Classes */
.space {
	margin-top: 30px;
}
.toFront {
	z-index: 999999999;
}
.noPad-left {
	padding-left: 0;
}
.noPad-right {
	padding-right: 0;
}
.noPad-all {
	padding: 0;
}


/* Media Queries */
@media (min-width: 1201px) { /* Large */

}

@media (min-width: 992px) and (max-width: 1200px) { /* Medium */

}

@media (min-width: 769px) and (max-width: 991px) { /* Small */

}

@media (max-width: 768px) { /* Extra Small */

}