.navbar-container {
	margin-top: 85px; /* adjust this if the height of the menu bar changes */
}

.navbar-form.search {
	padding: 0 0 45px;
}

.navbar-form.search .form-group {
	padding-left: 0;
}

footer {
	margin: 50px 0;
}


/* Media Queries */
@media (min-width: 1201px) { /* Large */

}

@media (max-width: 1200px) { /* Applies to: XS SM MD */

}

@media (min-width: 992px) and (max-width: 1200px) { /* Medium */

}

@media (max-width: 991px) { /* Applies to: XS SM */

}

@media (min-width: 769px) and (max-width: 991px) { /* Small */

}

@media (min-width: 769px) { /* Extra Small */

}

@media (max-width: 768px) { /* Extra Small */
	.main-content {
		padding-bottom: 30px;
	}
}