.navbar-container {
	margin-top: 85px; /* adjust this if the height of the menu bar changes */
}

.navbar-form.navbar-right:last-child {
	margin-right: 0;
}

/* FOOTER */
footer {
	padding: 30px 0;	
}
.copyright {
	padding-top: 15px;
}

.footer-thumbnail img {
	float: left;
	padding-right: 15px;
}

.footer-thumbnail .caption {
	overflow: auto;
}

.footer-thumbnail .caption h3 {
	margin-top: 0;
}

.quicklinks a {
	display: block;
}


/* Media Queries */
@media (min-width: 1201px) { /* Large */

}

@media (max-width: 1200px) { /* Applies to: XS SM MD */

}

@media (min-width: 992px) and (max-width: 1200px) { /* Medium */
	.online-banking h1 {
		margin-top: 0;
	}
}

@media (max-width: 991px) { /* Applies to: XS SM */

}

@media (min-width: 769px) and (max-width: 991px) { /* Small */
	.sidebar img {
		margin-top: 20px;
	}
}

@media (max-width: 768px) { /* Extra Small */
	.sidebar img {
		margin-top: 10px;
	}
}