.navbar-container {
	margin-top: 85px; /* adjust this if the height of the menu bar changes */
}

/* FOOTER */
footer {
	padding: 30px 0;	
}

footer .well {
	margin: 0;
}

.footer-thumbnail img {
	float: left;
	padding-right: 15px;
}

.footer-thumbnail .caption {
	overflow: auto;
}

.footer-thumbnail .caption h3 {
	margin-top: 0;
}

.quicklinks a {
	display: block;
}


/* Media Queries */
@media (min-width: 1201px) { /* Large */

}

@media (max-width: 1200px) { /* Applies to: XS SM MD */

}

@media (min-width: 992px) and (max-width: 1200px) { /* Medium */

}

@media (max-width: 991px) { /* Applies to: XS SM */

}

@media (min-width: 769px) and (max-width: 991px) { /* Small */

}

@media (max-width: 768px) { /* Extra Small */
	.navbar-container {
		margin-top: 15px;
	}
	.search-area {
		padding-top: 60px;
	}
}