.header-container {
	margin-bottom: 45px; /* adjust this if the height of the menu bar changes */
}


/* Media Queries */
@media (min-width: 1201px) { /* Large */

}

@media (max-width: 1200px) { /* Applies to: XS SM MD */

}

@media (min-width: 992px) and (max-width: 1200px) { /* Medium */

}

@media (max-width: 991px) { /* Applies to: XS SM */

}

@media (min-width: 769px) and (max-width: 991px) { /* Small */

}

@media (min-width: 769px) { /* Extra Small */
	header {
		margin-bottom: 35px;
	}
	footer {
		margin: 50px 0;
	}
}

@media (max-width: 768px) { /* Extra Small */
	header {
		margin-bottom: 10px;
	}
	.xs-utility {
		margin-bottom: 10px;
	}
	.main-content {
		padding-bottom: 30px;
	}
}