.navbar-container {
	margin-top: 35px; /* adjust this if the height of the menu bar changes */
}

.online-banking.well {
	padding: 10px;
	margin-top: 10px;
}

.online-banking h4 {
	margin-top: 0;
}

/* FOOTER */
footer {
	padding: 30px 0;	
}
footer .navbar-container {
	margin-top: 0;
}


/* Media Queries */
@media (min-width: 1201px) { /* Large */

}

@media (max-width: 1200px) { /* Applies to: XS SM MD */

}

@media (min-width: 992px) and (max-width: 1200px) { /* Medium */
	.sidebar img {
		margin-top: 10px;
	}
}

@media (max-width: 991px) { /* Applies to: XS SM */

}

@media (min-width: 769px) and (max-width: 991px) { /* Small */
	.sidebar img {
		margin-top: 20px;
	}
}

@media (max-width: 768px) { /* Extra Small */
	.sidebar img {
		margin-top: 10px;
	}
}