<div class="mla-form form-{{ form.vars.name }}{% if editable %} editable{% else %} readonly{% endif %}" data-view-uri="{{ path("UserEditView", {'name' : form.vars.name, 'view' : 'embed', 'editable' : false}) }}" data-edit-uri="{{ path("UserEditView", {'name' : form.vars.name, 'view' : 'embed', 'editable' : true}) }}">
    <h2>{{ title }}</h2>

    {% include "ProjectSiteBundle:parts:form/flash_message.html.twig" %}
    {% if editable %}
        {% form_theme form "ProjectMemberBundle:parts:form/member_languages_form_layout.html.twig" %}
    {% else %}
        {% form_theme form "ProjectMemberBundle:parts:form/form_readonly_layout.html.twig" %}
    {% endif %}
    {{ form_start(form) }}
    {% if app.request.query.get("primary") %}
        {{ form_widget(form.primary, {'value' : app.request.query.get("primary")}) }}
    {% endif %}
    {{ form_rest(form) }}
    {{ form_end(form) }}

</div>

<script type="text/javascript">
    $(document).ready(function() {

        function bindPrimaryBtn() {
            $(".language-primary a.set-primary").unbind("click");
            $(".language-primary a.set-primary").click(function() {
                $(".form-member_languages select").unbind("change");
                $(".language-primary").removeClass("is-primary");
                $(this).parent().parent().addClass("is-primary");
                $("#member_languages_primary").val(
                    $(this).parent().parent().parent().find("select").val()
                );
                $(this).parent().parent().parent().find("select").change(function() {
                    $("#member_languages_primary").val(
                        $(this).val()
                    );
                });
                return false;
            });
        }
        bindPrimaryBtn();
        $(".form-member_languages .language-primary.is-primary").parent().find("select").change(function() {
            $("#member_languages_primary").val(
                $(this).val()
            );
        });

        $(".form-member_languages a.field-add").click(function() {
            bindPrimaryBtn();
            return false;
        });
    });
</script>