<div class="mla-form form-{{ form.vars.name }}{% if editable %} editable{% else %} readonly{% endif %}" data-view-uri="{{ path("UserEditView", {'name' : form.vars.name, 'view' : 'embed', 'editable' : false}) }}" data-edit-uri="{{ path("UserEditView", {'name' : form.vars.name, 'view' : 'embed', 'editable' : true}) }}">
    <h2>{{ title }}</h2>

    {% include "ProjectSiteBundle:parts:form/flash_message.html.twig" %}

    {% form_theme form "ProjectSiteBundle:parts:form/form_" ~ (editable ? "" : "readonly_") ~ "layout.html.twig" %}
    {{ form(form )}}
</div>