#approval-approve-page label
{
	margin-top: 20px;
}

#approval-approve-page #all-buttons
{
	margin-bottom: 5px;
	float: right;
	display: block;
}

#approval-approve-page div.tab-content
{
	height: 40em;
}

a.button, a.button-disabled
{
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #516E9E;
    border-color: #AAAAAA #CCCCCC #CCCCCC #AAAAAA;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    overflow: visible;
    padding: 0 0.5em;
    width: auto;
    cursor: pointer;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 0.9em;
    font-weight: normal;
    text-decoration: none;
    padding: 0 0.25em;
    text-align: center;
    vertical-align: middle;
}
a.defaultbutton
{
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #D68916;
    border-color: #AAAAAA #CCCCCC #CCCCCC #AAAAAA;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    overflow: visible;
    padding: 0 0.5em;
    width: auto;
    cursor: pointer;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 0.9em;
    font-weight: normal;
    text-decoration: none;
    padding: 0 0.25em;
    text-align: center;
    vertical-align: middle;
}

.ui-newcomment
{
	width: 100%;
	height: 130px;
}

.ui-actioncomment
{
	width: 200px;
	height: 20px;	
}

/*
 * messages
 */

.ui-messages
{
	margin: 0px;
	padding: 0px;
}

.ui-message
{
	border: 1px solid #dfe5ee;
	list-style: none;
	margin-bottom: 15px;
	padding: 0px;
}

.ui-message-header
{
	background-color: #ecf1f8;
	padding: 5px 8px;
}

.ui-message-header .ui-sprite-arrow-right
{
	margin: 0 1px;
	height: 15px;
	width: 24px;
	float: left;
	background-image: url('../images/icons-sprite.png');
	background-position: left -152px;
	background-repeat: no-repeat;
}

.ui-message-body
{
	padding: 15px;
}

/*
 * Decision Tables
 */

.approval-decisiontable-wrapper
{
}

#approval-decisiontable-page table
{
	margin: 10px auto;	
	background-color: #999;
}

#approval-decisiontable-page caption
{
	font-weight: bold;
	font-size: 1.3em;
}

#approval-decisiontable-page td
{
	background-color: #FFF;
	padding: 7px;
}

#approval-decisiontable-page .hover
{
	background-color: #E24602;
	color: white;
}

#approval-decisiontable-page .rule-labels
{
	font-weight: bold;
	background-color: white;
	color: black;
	display: none;
}

#approval-decisiontable-page .rule-labels.hover
{
	display: inline;
}

.feedback-msg {
	border: 1px solid orange;
	padding: 10px;
}

/*
 * Current State
 */

#current-state .current
{
	color: #E24602;
	font-weight: bold;
}

#current-state ul.states { padding:0;margin:0; }
#current-state .states li {
	float: left;
	list-style-type: none;
	margin:0;
	padding:5px 15px 10px 15px;
	border-bottom:2px solid #CCC;
}

#current-state .states li.current {
	border-bottom:2px solid #E24602;
	background:#FFF url(../images/bg_state_progress) center bottom no-repeat;
}

/*
 * approval-list-page
 */

#approval-list-page .current
{
	color: #E24602;
	font-weight: bold;
}

/*
* filter sidebar
*/

#approvalfilter label { 
	font-weight: normal !important;
	cursor: pointer;
}

#approvalfilter ul { padding:0;margin:10px 0; }
#approvalfilter li { list-style-type: none; padding:0; margin: 0; font-style: italic; }
#approvalfilter li ul li { font-style: normal; }

#approvallist td { vertical-align: top !important; }
