<div id="mla-side-cart">
    <div class="col-xs-5">
        <img src="{{ asset("bundles/projectproduct/images/member_discount_starburst_92x92.png") }}" alt="30% Discount for MLA Members" class="discount-badge" />
    </div>
    <div class="col-md-7 col-sm-7 col-sm-push-0 col-xs-3 col-xs-push-4">
        <a href="{{ path("ProductCart", {"cart_type" : order.getOrderType() }) }}" class="btn btn-mla btn-cart">
            <span class="badge">{{ order.getProductList()|length }}</span>
            <p>View Cart</p>
        </a>
    </div>
    <div class="clear"></div>
</div>