<div class="order-totals">
    {% for key, discount in order.getDiscounts() %}
        <div class="col-xs-7">
            <span class="{{ key }}_desc">{{ discount.description }}</span>:
        </div>
        <div class="col-xs-5">
            <span class="{{ key }}_amount">-${{ discount.amount|number_format(2, ".", ",") }}</span>
        </div>
        <div class="clear"></div>
    {% endfor %}

    {% for fee in order.getExtraFeeNames() %}
        <div class="col-xs-7">
            {{ fee|title }}:
        </div>
        <div class="col-xs-5">
            ${{ order.getExtraFee(fee)|number_format(2, ".", ",") }}
        </div>
        <div class="clear"></div>
    {% endfor %}
    <div class="col-xs-7">
        <h2>Total:</h2>
    </div>
    <div class="col-xs-5">
        <h2>${{ order.getTotalPrice(true, true)|number_format(2, ".", ",") }}</h2>
    </div>
    <div class="clear"></div>
</div>