<form role="form" action="{{ path("ProductSearch") }}">

    {% embed "ProjectSiteBundle:layouts:two_column.html.twig" %}
        {% block main_content_area %}

            <div class="product-category-page">
                {{ ez_render_field(content, "description") }}

                {# Search results #}
                <div class="feedback">
                    <h3>There are {{ searchResults.getNumberFound() }} products in {{ content.getFieldValue("name").text|simple_text_format }}</h3>
                </div>
                {% include "ProjectSiteBundle:parts:search/search_results.html.twig" %}

            </div>

        {% endblock %}

        {% block sidebar %}
            {% include "ProjectProductBundle:parts:search/search_sidebar.html.twig" with {"searchType" : "bookstore"} %}
        {% endblock %}

    {% endembed %}

</form>