<div class="panel panel-default search-panel">
    <div class="panel-heading">
        <h3 class="panel-title">Search Bookstore</h3>
    </div>
    <div class="panel-body collapse-menu collapse in">
        <form action="{{ path("ProductSearch") }}" method="GET">
            <div class="input-group">
                    <input type="text" placeholder="Enter Search Terms" name="query" class="searchtext form-control" />
                <span class="input-group-addon blue-btn submit">
                    <button type="submit" id="search_submit" name="search[submit]" class="icon-search"> </button>
                </span>
            </div>
        </form>

        {% if tags is defined and tags %}
            {% for item in tags %}
                {% if item.children|length > 0 %}
                    <h4>Browse {{ item.parent.keyword|simple_text_format }}s</h4>
                    <ul>
                        {% for tag in item.children %}
                            <li><a href="{{ path("ProductSearch", { (item.parent.keyword|lower) : tag.keyword|lower } ) }}">{{ tag.keyword|simple_text_format }}</a></li>
                        {% endfor %}
                        <li><a href="{{ path("ProductTagId", { "cart_type": order.getOrderType(), "tag_id" : item.parent.id } ) }}">More {{ item.parent.keyword|simple_text_format }}s</a></li>
                    </ul>
                {% endif %}
            {% endfor %}
        {% endif %}

    </div>
</div>