<div class="subItemList ulSubItemList">
    <ul>
        {% for location in subItemList %}
            <li>
                {{ render_esi(
                    controller(
                        "ez_content:viewLocation",
                        {
                            "locationId" : location.id,
                            "viewType" : view
                        }
                    )
                ) }}
            </li>
        {% endfor %}
    </ul>
</div>