{% set hasAddress = false %}
{% for address in member.get("addresses") %}
{% if "address_" ~ address.type == form_name %}

{% if address.line3 and address.city and address.state and address.zip %}

    {% set hasAddress = true %}

        <div class="member-preference{% if address.send_mail %} checked{% endif %}">
            <span class="readonly-checkbox"></span>
            Preferred Mailing Address
        </div>
        <div class="member-sep"></div>

        <div class="member-item">
            <span class="member-attr">Address</span>
            <span class="member-value">
                {{ address.line3 }}
                {% if address.line1 %}
                    <br/>{{ address.line1 }}
                {% endif %}                
            </span>
        </div>

        <div class="member-item">
            <span class="member-attr">City</span>
            <span class="member-value">{{ address.city }}</span>
        </div>
        <div class="member-item">
            <span class="member-attr">State/Province</span>
            <span class="member-value">{{ address.state }}</span>
        </div>
        <div class="member-item">
            <span class="member-attr">Zip/Postal code</span>
            <span class="member-value">{{ address.zip }}</span>
        </div>
        <div class="member-item">
            <span class="member-attr">Country</span>
            <span class="member-value">{{ address.country_code }}</span>
        </div>
{% endif %}

{% endif %}
{% endfor %}

{% if not hasAddress %}
    <div><em>Not provided</em></div>
{% endif %}