<div class="member-item">
    <span class="member-attr">Username</span>
    <span class="member-value">
        {{ member.get("authentication[username]", null, true) ?: "n/a" }}
    </span>
</div>
<div class="member-item">
    <span class="member-attr">Password</span>
    <span class="member-value">****</span>
</div>