{# display preferences #}
{% for value in values.prefs %}
    <div class="member-preference">
        <span class="glyphicon {% if value.value %}glyphicon-check{% else %}glyphicon-unchecked{% endif %}"></span>
        {{ value.label }}
    </div>
    {% if loop.last %}
        <div class="member-sep"></div>
    {% endif %}
{% endfor %}

{# display attr #}
{% for value in values.attrs %}
    <div class="member-item">
        <span class="member-attr">{{ value.label }}</span>
        <span class="member-value">{{ value.value }}</span>
    </div>
{% endfor %}