<div class="member-preference{% if member.get("general").email_digest == "Y" %} checked{% endif %}">
    <span class="readonly-checkbox"></span>
    <strong>Biweekly Digest.</strong> A twice-monthly new digest for MLA updates, reminders, basic publication information, and other news of interest to members
</div>
<div class="member-preference{% if member.get("general").email_convention == "Y" %} checked{% endif %}">
    <span class="readonly-checkbox"></span>
    <strong>Convention Information.</strong> Registration, hotel, and travel information for the MLA Annual Convention
</div>
<div class="member-preference{% if member.get("general").email_unsubscribe == "Y" %} checked{% endif %}">
    <span class="readonly-checkbox"></span>
    <strong>Unsubscribe to All.</strong> You will receive no e-mail notifications from the MLA.
</div>