<div class="member-item">
    <span class="member-attr">Name</span>
    <span class="member-value">
        {{ member.get("general[title]", null, true) }}
        {{ member.get("general[first_name]", null, true) }}
        {{ member.get("general[last_name]", null, true) }}
    </span>
</div>
<div class="member-item">
    <span class="member-attr">E-mail</span>
    <span class="member-value">{{ member.get("general[email]", null, true) }}</span>
</div>
<div class="member-item">
    <span class="member-attr">Phone number</span>
    <span class="member-value">{{ member.get("general[phone]", null, true) }}</span>
</div>
<div class="member-item">
    <span class="member-attr">Web site</span>
    <span class="member-value">{{ member.get("general[web_site]", "n/a", true) ?: "n/a" }}</span>
</div>