{% if member.get("languages")|length > 0 %}
    <ul>
        {% for language in member.get("languages") %}
            {% if language.primary == "Y" %}
                {% if language.code is defined %}
                    <li>{{ languages[language.code] }} (primary language)</li>
                {% else %}
                    <li>{{ languages[language.lang_code] }} (primary language)</li>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% for language in member.get("languages") %}
            {% if not language.primary %}
                {% if language.code is defined %}
                    <li>{{ languages[language.code] }}</li>
                {% else %}
                    <li>{{ languages[language.lang_code] }}</li>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
{% else %}
    <em>Not provided</em>
{% endif %}