{% if member.get("organizations")|length == 0 %}
    <em>None provided</em>
{% else %}
    <ul>
        {% for org in member.get("organizations") %}
            {% if org.primary|trim|lower != "n" and org.primary|trim|lower != "" %}
                <li>
                    {% for orgListItem in forum_organizations %}
                        {% if orgListItem.id|trim == org.id|trim %}
                            <span class="text-primary">{{ orgListItem.category }}</span>
                        {% endif %}
                    {% endfor %}
                    {{ org.name }}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}