<div class="member-preference{% if member.get("general[email_visible]", null, true) == "Y" %} checked{% endif %}">
    <span class="readonly-checkbox"></span>
    E-mail address is visible to other members
</div>
<div class="member-preference{% if member.get("general[email_shareable]", null, true) == "Y" %} checked{% endif %}">
    <span class="readonly-checkbox"></span>
    I give the MLA permission to share my e-mail address with members of MLA divisions and discussion groups and allied organizations.
</div>

{% for addressType in ['home', 'primary', 'secondary'] %}
    {% for address in member.get("addresses") %}
    {% if address.type == addressType and address.line1 and address.city and address.state and address.zip %}
        <div class="member-preference{% if address.hidden != "Y" %} checked {% endif %}">
            <span class="readonly-checkbox"></span>
            Allow {{ address.type }} address to be included in print and online directory listings
        </div>
    {% endif %}
    {% endfor %}
{% endfor %}