<div>
    <p>
        You have access to the online publications listed below. If your department is not a member of ADE or ADFL, you may subscribe to the ADE Bulletin or ADFL Bulletin by purchasing an affiliate membership.
    </p>
</div>

<div class="spacer"></div>
<div class="member-item">
    <span class="member-attr">MLA Publications</span>
    <span class="member-value">
        {% set hasAccess = false %}
        {% for publication in member.get("publications_access") %}
            {% for group, access in publication.access %}
                {% if access == "Y" %}
                    {% set hasAccess = true %}
                    {{ group|upper }} {{ publication.type|title }}{% if not loop.last %}, {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
        {% if not hasAccess %}
            <em>You do not currently have access to any online publication.</em>
        {% endif %}
    </span>
</div>
<div class="member-item">
    <span class="member-attr"><em>MLA Newsletter</em> Delivery Preference</span>
    <span class="member-value">
        {% if member.get("general").online_newsletter == "Y" %}
            Read online and receive print edition
        {% else %}
            Read online only
        {% endif %}
    </span>
</div>