<form id="search-form" method="get" action="/bulletin/search" role="form">
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Bulletin Search</h3>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <div class="input-group">
                <input id="search-query" type="text" placeholder="ENTER SEARCH TERMS" name="query" class="searchtext form-control">
                <span class="input-group-addon blue-btn submit">
                    <button type="submit" id="search_submit" name="search[submit]" class="icon-search"> </button>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Filter Results</h3>
    </div>
    <div class="panel panel-default">
        <div class="panel-body filters">
            {% for category_name, category_group in tags %}
            <div class="panel panel-default">
                {#<h3>{{ category_name }}</h3>#}
                <div class="panel-heading">
                    <h3 class="panel-title">{{ category_name|simple_text_format }}</h3>
                    <span class="expand-container pull-right"><span class="glyphicon-minus"></span></span>
                </div>
                <div class="panel-body collapse-menu collapse in">
                    <div class="form-group">
                        {% for tag in category_group %}
                        <div class="checkbox">
                            <label><input type="checkbox" name="category[]" value="{{ tag.keyword }}"{% for cat in category %}{% if cat == tag.keyword %} checked="checked" {% endif %}{% endfor %}/>{{ tag.keyword|simple_text_format }}</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</form>