<div class="content-view-line generic">
    <h2>
        {% if link %}
        <a href={{ sitelink(search_result.meta_main_node_id_si) }}>
        {% else %}
            <span class="glyphicon glyphicon-exclamation-sign" title="Content is unavailable."></span>
        {% endif %}
            {{ search_result.meta_name_t|simple_text_format }}
        {% if link %}
        </a>
        {% endif %}
    </h2>
    {% if search_highlighting %}
        <p>
            {{ search_highlighting.0|raw }}
        </p>
        {% if link %}
            <a href={{ sitelink(search_result.meta_main_node_id_si) }}>
                more info
            </a>
        {% endif %}
    {% endif %}
</div>