{% include "ThinkCreativeSearchBundle:parts:search_form_open.html.twig" %}
<input type="hidden" name="qf" value="{{ app.request.query.get("qf") }}" />

{% embed "ProjectSiteBundle:layouts:two_column.html.twig" %}
    {% block main_content_area %}
        <h1 class="page-title">Search Results</h1>

        {% include "ProjectSiteBundle:parts:search/search_feedback.html.twig" %}
        {% include "ProjectSiteBundle:parts:search/search_results.html.twig" %}
    {% endblock %}
    {% block sidebar %}
        {% include "ProjectSiteBundle:parts:search/search_sidebar.html.twig" %}
    {% endblock %}
{% endembed %}

{% include "ThinkCreativeSearchBundle:parts:search_form_close.html.twig" %}