{# Search Sidebar #}
{% if location is defined %}
    {% set routeUrl = path("ez_urlalias", {"location" : location} ) %}
{% else %}
    {% set routeUrl =  path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
{% endif %}

<div class="search-sidebar">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Search Query</h3>
        </div>
        <div class="panel-body collapse-menu collapse in">
            <div class="input-group">
                <input type="text" placeholder="Enter Search Terms" name="query" class="searchtext form-control" value="{{ searchResults.getQueryString() != "*:*" ? searchResults.getQueryString() : "" }}">
                <span class="input-group-addon blue-btn submit">
                    <button type="submit" id="search_submit" name="search[submit]" class="icon-search"> </button>
                </span>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Filter Results</h3>
        </div>
        <div class="panel-body collapse-menu collapse in">

            {% if searchResults.hasFacets() %}

                <div class="current-filters">
                    {% set params = searchResults.getSearchParams() %}
                    {% set clear_all_params = params %}
                    {% set has_filters = false %}

                    <ul>
                        {% for facet in searchResults.getAllFacets() %}
                            {% for item in facet %}
                                {% if params[item.identifier] is defined and ( params[item.identifier] == item.query_value or item.query_value in params[item.identifier] ) %}
                                    {% set clear_all_params = clear_all_params|merge({ (item.identifier) : null }) %}
                                    {% set has_filters = true %}
                                    <li>

                                        {% set newParams = params %}
                                        {% if newParams[item.identifier] is iterable %}

                                            {% set newValue = [] %}
                                            {% for value in newParams[(item.identifier)] %}
                                                {% if value != item.query_value %}
                                                    {% set newValue = newValue|merge([value]) %}
                                                {% endif %}
                                            {% endfor %}
                                            {% set newParams = newParams|merge({ (item.identifier) : newValue }) %}

                                        {% else %}
                                            {% set newParams = newParams|merge({ (item.identifier) : null }) %}
                                        {% endif %}

                                        <div class="filter-item-remove-icon">
                                            <a href="{{ routeUrl }}?{{ newParams|merge({'query': searchResults.getQueryString() })|url_encode }}">
                                                <span class="glyphicon glyphicon-remove-sign"></span>
                                            </a>
                                        </div>
                                        <div class="filter-item-display">
                                            <a href="{{ routeUrl }}?{{ newParams|merge({'query': searchResults.getQueryString() })|url_encode }}">
                                                {{ item.display|simple_text_format }}
                                            </a>
                                        </div>
                                        <div class="clear"></div>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </ul>
                    {% if has_filters %}
                        <a href="{{ routeUrl }}?{{ clear_all_params|url_encode }}">Clear All</a>
                    {% endif %}
                </div>

                <nav id="filter-options">
                    {% for name, items in searchResults.getAllFacets() %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{ name }}</h3>
                                <span class="expand-container pull-right"><span class="glyphicon-minus"></span></span>
                            </div>
                            <div class="panel-body collapse-menu collapse in">
                                <ul class="facets">
                                    {% for item in items %}
                                        <li{% if params[item.identifier] is defined and ( params[item.identifier] == item.query_value or item.query_value in params[item.identifier] ) %} class="active"{% endif %}>

                                            <input type="checkbox" name="{{ item.identifier }}[]" id="{{ item.identifier }}_{{ item.query_value }}" value="{{ item.query_value }}"{% if params[item.identifier] is defined and ( params[item.identifier] == item.query_value or item.query_value in params[item.identifier] ) %} checked{% endif %}>
                                            <label for="{{ item.identifier }}_{{ item.query_value }}">{{ item.display|simple_text_format }} ({{ item.count }})</label>

                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endfor %}
                </nav>
            {% endif %}
        </div>
    </div>
</div>