{# Search Results Template #}
<div class="search-results">

    {# No Results #}
    {% if searchResults.getNumberFound() <= 0 %}
        <div class="warning alert alert-info">
          <h2>No results were found when searching for "{{ searchResults.getQueryString() }}".</h2>
            <p>Search tips</p>
            <ul>
                <li>Check spelling of keywords.</li>
                <li>Try changing some keywords (eg, "car" instead of "cars").</li>
                <li>Try searching with less specific keywords.</li>
                <li>Reduce number of keywords to get more results.</li>
            </ul>
        </div>
    {% else %}

        {# Search Results #}
        {% if searchResults.getNumberFound() > 10 %}
            {{ searchResults.renderControlsForTwitterBootstrap(searchResults.getSearchParams())|raw }}
        {% endif %}
        <div class="clear"></div>
        <div class="spacer"></div>


        {# {{ dump(searchResults.getHighlighting()) }} #}
        {% for item in searchResults.getPager().getIterator() %}
            <div class="search-item">
                {{ render(
                        controller(
                            "ProjectSiteBundle:Search:searchResultItem",
                            {
                                "search_result" : item,
                                "highlighting" : searchResults.getHighlighting()[item.meta_guid_ms] is defined ? searchResults.getHighlighting()[item.meta_guid_ms] : []
                            }
                        )
                    )
                }}
            </div>
        {% endfor %}

        {% if searchResults.getNumberFound() > 10 %}
            {{ searchResults.renderControlsForTwitterBootstrap(searchResults.getSearchParams())|raw }}
        {% endif %}
        <div class="clear"></div>

    {% endif %}
</div>