<div class="fieldtype-xmltext">
    <div class="description highlighting">
        {% for field,values in search_highlighting %}
        	{% for value in values %}
            	<p>{{ value|simple_text_format|raw }}</p>
        	{% endfor %}
        {% endfor %}
    </div>       
</div>