{# Sorting options #}

{% if location is defined %}
    {% set routeUrl = path("ez_urlalias", {"location" : location} ) %}
{% else %}
    {% set routeUrl =  path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
{% endif %}

{% if sortOptions is defined %}
    <div class="pull-right search-sort">

            <div class="dropdown">
                <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="sortBy1" data-toggle="dropdown">
                    Sort
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="sortBy1">
                    {% for sort in sortOptions %}
                        <li{% if (searchResults.getSearchParams().sort is defined and searchResults.getSearchParams().sort == sort.value) or (searchResults.getSearchParams().sort is not defined and loop.first) %} class="active"{% endif %} role="presentation"><a role="menuitem" tabindex="-1" href="{{ routeUrl }}?{{ searchResults.getSearchParams()|merge({ "sort" : sort.value })|url_encode }}">{{ sort.name }}</a></li>
                    {% endfor %}                
                </ul>
            </div>

            <div class="clear"></div>

    </div>
{% endif %}
