{# Search Feedback Template #}
<div class="feedback">

    {% include "ProjectSiteBundle:parts:search/search_sort.html.twig" %}

    {% if searchResults.getQueryString() and searchResults.getQueryString() != "*:*" %}
        {% if searchResults.getNumberFound() == 1 %}
            <h3>There is {{ searchResults.getNumberFound() }} item that matches your search for "{{ searchResults.getQueryString() }}"{% if sectionLocation is defined and sectionLocation %} within {{ sectionLocation.contentInfo.name|simple_text_format }}{% endif %}.</h3>
        {% else %}
            <h3>There are {{ searchResults.getNumberFound() }} items that match your search for "{{ searchResults.getQueryString() }}"{% if sectionLocation is defined and sectionLocation %} within {{ sectionLocation.contentInfo.name|simple_text_format }}{% endif %}.</h3>
        {% endif %}
    {% else %}
        {% if searchResults.getNumberFound() == 1 %}
            <h3>Displaying {{ searchResults.getNumberFound() }} item{% if sectionLocation is defined and sectionLocation %} within {{ sectionLocation.contentInfo.name|simple_text_format }}{% endif %}.</h3>
        {% else %}
            <h3>Displaying {{ searchResults.getNumberFound() }} items{% if sectionLocation is defined and sectionLocation %} within {{ sectionLocation.contentInfo.name|simple_text_format }}{% endif %}.</h3>
        {% endif %}
    {% endif %}

    <div class="clear"></div>

</div>