<hr/>
<script type="text/javascript">
menuArray['ContextMenu']['elements']['menu-siteanalyzer'] = new Array();
menuArray['ContextMenu']['elements']['menu-siteanalyzer']['url'] = {"/siteanalyzer/display/%nodeID%"|ezurl()};
</script>

<a id="menu-siteanalyzer" href="#" onmouseover="ezpopmenu_mouseOver( 'ContextMenu' )" target="_blank">View Subtree Structure</a>