<hr/>
<script type="text/javascript">
menuArray['SubitemsContextMenu']['elements']['child-menu-siteanalyzer'] = new Array();
menuArray['SubitemsContextMenu']['elements']['child-menu-siteanalyzer']['url'] = {"/siteanalyzer/display/%nodeID%"|ezurl()};
</script>

<a id="child-menu-siteanalyzer" href="#" onmouseover="ezpopmenu_mouseOver( 'ContextMenu' )" target="_blank">View Subtree Structure</a>