{% extends pagedata.layout %}

{% block page_title %}
{{ pagedata.name }}
{% endblock %}

{% block content %}
<h1>{{ pagedata.name }}</h1>
<p>We are sorry, but the page you are looking for &#147;{{ app.request.uri }}&#148; does not exist.</p>
{% endblock %}
