{% extends pagedata.layout %}

{% block page_title %}

{% if exception.class in ["ezpAccessDenied", "Project\\SiteBundle\\Exception\\Legacy\\BulletinPdfAccessDeniedException"] %}
    Restricted Access
{% else %}
    {{ status_code }} {{ status_text }}
{% endif %}
{% endblock %}

{% block content %}


{# Legacy Access Denied #}
{% if exception.class in ["ezpAccessDenied", "Project\\SiteBundle\\Exception\\Legacy\\BulletinPdfAccessDeniedException"] %}

    {% set target_path = app.request.uri %}
    {% if exception.class == "Project\\SiteBundle\\Exception\\Legacy\\BulletinPdfAccessDeniedException" %}
        
        {% set path = ezpublish.requestedUriString|split("/") %}
        {% if path.1 == "content" and path.2 == "download" %}
            {% set target_path = sitelink(path.3, true, true, false) %}
        {% endif %}

    {% endif %}

    {% include "ProjectMemberBundle:parts:misc/login.html.twig" with {
        "error" : {
            "type" : "authentication",
            "message" : exception.getMessage()
        },
        "target_path" : target_path
    } %}

{# Other Exception #}
{% else %}

    <h1>{{ status_code }} {{ status_text }}</h1>

    {# No message provided, use generic #}
    {% if not exception.getMessage() %}

        {# Generic 404 Message #}
        {% if status_code == 404 %}
            <p>We are sorry, but the page you are looking for &#147;{{ app.request.uri }}&#148; does not exist.</p>

        {# Generic 403 Message #}
        {% elseif status_code == 403 %}
            <p>We are sorry, but you do not have permission the page at &#147;{{ app.request.uri }}&#148;.</p>

        {# Generic #}
        {% else %}
            <p>An error has occured. We are unable to complete your request.</p>
        {% endif %}

    {# Message provided #}
    {% else %}
        <p>{{ exception.getMessage()|trans }}</p>
    {% endif %}

{% endif %}
{% endblock %}
