{% extends "ProjectSiteBundle::pagelayout.html.twig" %}

{% block content %}
{% embed "ProjectSiteBundle:layouts:full.html.twig" %}
    {% block main_content_area %}

    {{ dump_vars( _context ) }}

    {% endblock %}
{% endembed %}

{% endblock %}
