{% extends pagedata.layout %}

{% block page_title %}
    Username and Password Recovery
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Username and Password Recover</li>
</ol>    
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {% include "ThinkCreativeFormBundle:parts:ajax_validation.html.twig" with {"form" : form, "TC_FORM_AJAX_VALIDATION_CALLBACK": "tcFormSetFeedback"} %}
{% endblock %}

{% block content %}
    <div class="container">
        <h1 id="pagetitle">Username and Password Recovery</h1>
        <div class="mla-form form-password-reset">
            {% form_theme form "ProjectMemberBundle:parts:form/themes/default.html.twig" %}
            {{ form_start(form) }}

            {% if password_email_sent or username_email_sent %}
                <div class="alert alert-success">
                    Please check your email for further instructions.
                </div>
            {% endif %}

            {{ form_errors(form) }}
            {{ form_row(form.email) }}
            <div class="clear"></div>
            {{ form_row(form.buttons) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}