{% extends pagedata.layout %}

{% block page_title %}
    {% if (nav_login_attempt is defined and nav_login_attempt) or (not error.type is defined or not error.type) %}
        Login
    {% elseif error.type == "authentication" %}
        Restricted Access
    {% endif %}
{% endblock %}

{% block content %}
    {% include "ProjectMemberBundle:parts:misc/login.html.twig" %}
{% endblock %}


