{% extends pagedata.layout %}

{% set punctuationTitles = ['dr', 'mr', 'mrs', 'prof', 'ms'] %}

{% block page_title %}
    Member Profile - {{ member.get("general[title]", null, true) }}{% if member.get("general[title]", null, true)|lower in  punctuationTitles %}.{% endif %} {{ member.get("general[last_name]", null, true) }}, {{ member.get("general[first_name]", null, true) }}
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    {% if return_path is defined and return_path %}
        <li><a href="{{ return_path }}?{{ query|url_encode }}">Member Search</a></li>
    {% endif %}
    <li class="active">Member Profile - {{ member.get("general[title]", null, true) }}{% if member.get("general[title]", null, true)|lower in  punctuationTitles %}.{% endif %} {{ member.get("general[last_name]", null, true) }}, {{ member.get("general[first_name]", null, true) }}</li>
</ol>
{% endblock %}

{% block content %}

    <div class="container">

        <h1 class="page-title">
            {{ member.get("general[title]", null, true) }}{% if member.get("general[title]", null, true)|lower in  punctuationTitles %}.{% endif %}
            {{ member.get("general[first_name]", null, true) }}
            {{ member.get("general[last_name]", null, true) }}
        </h1>

        {% if member.get("general[joined_commons]", null, true) == "Y" %}
        <div class="member-section">
            <h2 class="member-section-title">General Information</h2>                                
            <div class="member-item">
                <span class="member-attr">Commons Profile</span>
                <span class="member-value">
                    <a href="http://commons.mla.org/members/{{ member.get("authentication[username]", null, true) ?: member.get("id") }}">
                        commons.mla.org/members/{{ member.get("authentication[username]", null, true) ?: member.get("id") }}
                    </a>
                </span>
            </div>
        </div>
        {% endif %}

        {% if (member.get("general[email_visible]", null, true) == "Y" and member.get("general[email]", null, true)) or member.get("general[web_site]", null, true) %}
            <div class="member-section">
                <h2>Contact Information</h2>
                {% if member.get("general[email_visible]", null, true) == "Y" and member.get("general[email]", null, true) %}
                <div class="member-item">
                    <span class="member-attr">E-mail</span>
                    <span class="member-value">
                        <a href="mailto: {{ member.get("general[email]", null, true) }}">
                            {{ member.get("general[email]", null, true) }}
                        </a>
                    </span>
                </div>
                {% endif %}
                {% if member.get("general[web_site]", null, true) %}
                <div class="member-item">
                    <span class="member-attr">Web site</span>
                    <span class="member-value">
                        <a href="{{ member.get("general[web_site]", null, true) }}">
                            {{ member.get("general[web_site]", null, true) }}
                        </a>
                    </span>
                </div>
                {% endif %}
            </div>
        {% endif %}

        {% set has_address = false %}
        {% for address in search_result.addresses %}
            {% for test_address in member.get("addresses") %}

                {% if test_address.hidden != "Y" and test_address.send_mail == "Y" and not has_address %}

                    {% set has_address = true %}

                    <div class="member-section">
                        <h2>{{ address.type|title }} address</h2>

                        {% if address.institution is defined and address.institution %}
                        <div class="member-item">
                            <span class="member-attr">Institution</span>
                            <span class="member-value">{{ address.institution }}</span>
                        </div>
                        {% endif %}

                        {% if address.rank is defined and address.rank %}
                        <div class="member-item">
                            <span class="member-attr">Academic rank or title</span>
                            <span class="member-value">{{ address.rank }}</span>
                        </div>
                        {% endif %}

                        {% if address.line1 is defined and address.line1 %}
                            <div class="member-item">
                                <span class="member-attr">Address</span>
                                <span class="member-value">{{ address.line1 }}</span>
                            </div>
                        {% endif %}

                        {% if address.line2 is defined and address.line2 %}
                        <div class="member-item">
                            <span class="member-attr">Apt. or PO box</span>
                            <span class="member-value">{{ address.line2 }}</span>
                        </div>
                        {% endif %}

                        {% if address.city is defined and address.city %}
                            <div class="member-item">
                                <span class="member-attr">City</span>
                                <span class="member-value">{{ address.city }}</span>
                            </div>
                        {% endif %}

                        {% if address.state is defined and address.state %}
                            <div class="member-item">
                                <span class="member-attr">State/Province</span>
                                <span class="member-value">{{ address.state }}</span>
                            </div>
                        {% endif %}

                        {% if address.zip is defined and address.zip %}
                            <div class="member-item">
                                <span class="member-attr">Zip/Postal code</span>
                                <span class="member-value">{{ address.zip }}</span>
                            </div>
                        {% endif %}

                        {% if address.country_code is defined and address.country_code %}
                            <div class="member-item">
                                <span class="member-attr">Country</span>
                                <span class="member-value">{{ address.country_code }}</span>
                            </div>
                        {% endif %}

                    </div>
                {% endif %}

            {% endfor %}
        {% endfor %}

        <div class="btn-group">
            <a href="{{ return_path }}?{{ query|url_encode }}">&larr; Return to search results</a>
        </div>


    </div>
{% endblock %}