{% extends pagedata.layout %}

{% block page_title %}
    Password Reset
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="{{ path("AccountRetrival") }}">Username and Password Recovery</a></li>
    <li class="active">Password Reset</li>
</ol>    
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {% include "ThinkCreativeFormBundle:parts:ajax_validation.html.twig" with {"form" : form, "TC_FORM_AJAX_VALIDATION_CALLBACK": "tcFormSetFeedback"} %}
{% endblock %}

{% block content %}
    <div class="container">
        <h1 id="pagetitle">Password Reset</h1>
        {% if reset_success %}
            <div class="alert alert-success">
                Password was successfully reset.
            </div>

        {% elseif not valid_code %}
            <div class="alert alert-warning">
                Invalid validation code sent.
            </div>
            <a href="{{ path("AccountRetrival") }}">&larr; Username and Password Recovery</a>
        {% else %}
            <div class="mla-form form-password-reset">
                {% form_theme form "ProjectMemberBundle:parts:form/themes/default.html.twig" %}
                {{ form_start(form) }}

                {{ form_errors(form) }}
                {{ form_row(form.password.first) }}
                {{ form_row(form.password.second) }}
                <div class="clear"></div>
                <div class="btn-group pull-right">
                    {{ form_row(form.submit) }}
                    <div class="feedback-area"></div>
                </div>
                {{ form_end(form) }}
            </div>
        {% endif %}
    </div>
{% endblock %}