{% extends pagedata.layout %}

{% block page_title %}
    Username Retrival
{% endblock %}

{% block javascript %}
    {{ parent() }}
    {% include "ThinkCreativeFormBundle:parts:ajax_validation.html.twig" with {"form" : form, "TC_FORM_AJAX_VALIDATION_CALLBACK": "tcFormSetFeedback"} %}
{% endblock %}

{% block content %}
    <h1 id="pagetitle">Username Retrival</h1>

    {% if has_valid_email %}
        <div class="alert alert-success">
            The username retrival email has been sent.
        </div>
    {% endif %}
    <div class="mla-form">
        {% form_theme form "ProjectMemberBundle:parts:form/themes/default.html.twig" %}
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.email) }}
        <div class="clear"></div>
        <div class="btn-group pull-right">
            {{ form_row(form.submit) }}
            <div class="feedback-area"></div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
