<div class="panel panel-default join-progress">
    <nav class="sidemenu">
        <div class="panel-heading">
            <h3 class="panel-title"><span class="ezstring-field">Member Signup</span></h3>
            <span class="expand-container pull-right"><span class="glyphicon-minus"></span></span>
        </div>
        <div class="panel-body collapse-1 collapse in">
            <ul class="menu vertical nav nav-pills nav-stacked">
                <li{% if joinStep == 0 %} class="current"{% endif %}>Basic Information</li>
                <li{% if joinStep == 1 %} class="current"{% endif %}>Membership Category</li>
                <li{% if joinStep == 2 %} class="current"{% endif %}>ORCID Identification</li>
                <li{% if joinStep == 3 %} class="current"{% endif %}>Contact and Affiliation Information</li>
                <li{% if joinStep == 4 %} class="current"{% endif %}>Primary Forum Affiliation Selection</li>
                <li{% if joinStep == 5 %} class="current"{% endif %}>Career Path</li>
                <li{% if joinStep == 6 %} class="current"{% endif %}>Additonal Options</li>
                <li{% if joinStep == 7 %} class="current"{% endif %}>Review</li>
                <li{% if joinStep == 8 %} class="current"{% endif %}>Payment</li>
            </ul>
        </div>
    </nav>
</div>