<div class="panel panel-default cart-embed">
    <div class="panel-heading">
        <h3 class="panel-title"><span class="ezstring-field">Order Summary</span></h3>
        <span class="expand-container"><span class="glyphicon-minus pull-right"></span></span>
    </div>
    <div class="panel-body collapse-1 collapse in">

        <div class="cart-items">
            {% for product, quantity in order.getProductList() %}
                <div class="cart-product-item">
                    <div class="col-md-5 col-sm-5">
                        {% set productImage = order.getProductFromId(product).getImage() %}
                        {% if productImage.cover_image_field.value.uri is defined and productImage.cover_image_field.value.uri %}
                            <div class="product-image">
                                <img src="{{ asset(ez_image_alias(productImage.cover_image_field, productImage.cover_image_version, "listitem").uri) }}" alt="{{ productImage.cover_image_alt }}" />
                            </div>
                        {% else %}
                            <div class="product-image no-image">No Image</div>
                        {% endif %}
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <p>{{ order.getProductFromId(product).getName()|simple_text_format }}</p>
                        <p>
                            Edition: {{ order.getProductFromId(product).getVariantName() }}
                        </p>
                        <p>
                            Quantity: {{ quantity }}
                        </p>
                        <p>
                            Price: {{ order.getProductFromId(product).getPrice()|number_format(2, ".", ",") }}
                        </p>
                    </div>
                    <div class="clear"></div>
                </div>
            {% endfor %}
        </div>

    </div>

    <div class="panel-heading">
        <div class="text-right">
            {% include "ProjectProductBundle:parts:order_total.html.twig" %}
        </div>
    </div>
</div>