<div class="product-embed size-{{ image_variation is defined and cover_image_variation ? cover_image_variation : "listitem" }}">
    <div class="product-image{% if not cover_image_field or not cover_image_field.value.uri is defined or not cover_image_field.value.uri %} no-image{% endif %}">
        {% if cover_image_field and cover_image_field.value.uri is defined and cover_image_field.value.uri %}
            <a href="{{ path( 'ez_urlalias', {'locationId': content.contentInfo.mainLocationId }) }}">
                <img src="{{ asset( ez_image_alias(cover_image_field, cover_image_version, cover_image_variation is defined and cover_image_variation ? cover_image_variation : "bookstore_related").uri ) }}" alt="{{ cover_image_alt }}" />    
            </a>
        {% else %}
            <a href="{{ path( 'ez_urlalias', {'locationId': content.contentInfo.mainLocationId }) }}">
                {{ content.getFieldValue("name")|trim|simple_text_format }}
            </a>
        {% endif %}
    </div>
    <div class="product-desc">
    	<h3>
    		<a href="{{ path( 'ez_urlalias', {'locationId': content.contentInfo.mainLocationId }) }}">
    			{{ content.getFieldValue("name")|trim|simple_text_format }}
    		</a>
    	</h3>
    	{% set text_length = content.getFieldValue("name")|trim|simple_text_format|striptags|length * 1.5 %}

        {# Get authors, editors, etc #}
        <ul class="authors">
        {% for name, description in {
            'authors'           : ['auth.', 'auths.'],
            'editors'           : ['ed.', 'eds.'],
            'translators'       : ['tran.', 'trans.'],
            'compilers'         : ['comp.', 'comps.']
        } %}
            {% if not ez_is_field_empty(content, name) and content.getFieldValue(name)|trim and text_length < 90 %}
                <li>
                    {{ content.getFieldValue(name).values|join(", ")|trim|simple_text_format }},

                    {# Plural description #}
                    {% if content.getFieldValue(name).values|length > 1 %}
                        {{ description.1 }}
                        {% set text_length = text_length + content.getFieldValue(name).values|join(", ")|length + description.0|length %}

                    {# Singular description #}
                    {% else %}
                        {{ description.0 }}
                        {% set text_length = text_length + content.getFieldValue(name).values|join(", ")|length + description.1|length %}
                    {% endif %}    

                </li>

            {% endif %}
        {% endfor %}
        </ul>

    </div>
</div>
