{% set count = items|length %}
{% if count > 0 %}
<div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
        {% for image in items %}
        {% if not ez_is_field_empty(image.content, "ml_image") %}
        {% endif %}
        <div class="item{% if loop.index == 1 %} active{% endif %}">
            {% if not ez_is_field_empty(image.image_content, "credit") %}
                <div class="image-info">
                    <span class="glyphicon glyphicon-info-sign"></span>

                    <div class="image-info-inner">
                        <span class="glyphicon glyphicon-play"></span>
                        {{ ez_render_field(image.image_content, "credit") }}
                    </div>
                </div>
            {% endif %}
            {% if not ez_is_field_empty(image.content, "ml_image") %}
                {% set imageAlias = ez_image_alias( image.image_content.getField("image"), image.image_content.versionInfo, "original") %}
                {% if image.link %}
                    <a href="{{ image.link }}">
                {% endif %}
                <img src="{{ asset(imageAlias.uri) }}" width="{{ imageAlias.width }}" height="{{ imageAlias.height }}" alt="{{ image.image_content.getFieldValue("image").alternativeText }}" title="{{ image.image_content.getFieldValue("credit").text }}" />
                {% if image.link %}</a>{% endif %}
            {% endif %}
            {% if not ez_is_field_empty(image.content, "content") %}
            <div class="container">
                <div class="carousel-caption col-xs-12{% if count == 1 %} single{% endif %}">
                    {{ ez_render_field(image.content, "content") }}
                </div>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% if count > 1 %}
    <div class="left carousel-control"><a href="#myCarousel" data-slide="prev">&lsaquo;</a></div>
    <div class="right carousel-control"><a href="#myCarousel" data-slide="next">&rsaquo;</a></div>
    {% endif %}
</div>
{% endif %}
<!-- /Carousel -->