<div class="homepage-links">
{% for link in results %}
    {% set imageAlias = ez_image_alias( link.object.getField("image"), link.object.versionInfo, "homepage_link") %}
    <div class="image-link">
        <div>
        <div><a href="{{ link.link }}"><h2>{{ link.object.fields.name['eng-US'].text|simple_text_format }}</h2><img class="img-responsive" src="{{ asset(imageAlias.uri) }}" width="{{ imageAlias.width }}" height="{{ imageAlias.height }}" /></a></div>
        </div>
    </div>
{% endfor %}
</div>