{% autoescape false %}
<div class="row">
{% if menubar.items %}
{% for item in menubar.items %}
<div class="col-sm-4">
        <a class="sitemap-title" href="{{ item.link }}"{% if item.hasTarget %} target="{{ item.target }}"{% endif %}>{{ item.content|simple_text_format }}</a>{% if item.delimiter %}<span class="delimiter">{{ item.delimiter }}</span>{% endif %}
        {{ menubar(
            {
                include_root: false,
                orientation: 'vertical',
                header: true,
                menu_root: item.class[12:]|int(),
                use_parent: false,
                menu_depth: 1,
                filter: [
                    {
                        location_priority: {
                            BETWEEN: [0,1000]
                        }
                    },
                    {
                        content_type_identifier: {
                            NIN: ['article', 'bulletin_article', 'bulletin_issue', 'banner', 'content_box', 'footer', 'jil_pdf', 'event']
                        }
                    }
                ],
                sort: 'menu_root'
            },
            template = "ProjectSiteBundle:menu:side_subnav.html.twig"
        ) }}
</div>

{% if loop.index is divisible by(3) %}
</div><div class="row">
{% endif %}

{% endfor %}
{% endif %}
</div>
{% endautoescape %}
