{% if subItemList|length > 0 %}
<a name="subitems"></a>
<div class="subitem-list subitem-list-pagination">
    {% for item in subItemList %}
        <div class="subitem subitem-{{ loop.index }} contentid-{{ item.contentInfo.id }} {{ (loop.index % 2 == 0) ? 'even' : 'odd' }}" >
            {{ render_esi( controller( "ez_content:viewLocation", {"locationId": item.id, "viewType": view is defined ? view : "line"} ) ) }}
        </div>
    {% endfor %}

    {# Pagination #}
    {% set pagination = {
        "current_page" : (offset is defined ? offset : 0) / (limit is defined ? limit : 10) + 1,
        "total_pages" : (subItemTotalCount / (limit is defined ? limit : 10))|round(0, "ceil"),
        "limit" : limit is defined ? limit : 10,
        "offset" : offset is defined ? offset : 0
    } %}

    {% if pagination.limit < subItemTotalCount %}
        <ul class="pagination">
            <li{% if pagination.offset <= 0 %} class="disabled"{% endif %}><a href="?offset={{ pagination.offset - pagination.limit }}&limit={{ pagination.limit }}#subitems">«</a></li>

            {% set page_from = 1 %}
            {% set page_to = pagination.total_pages %}       

            {% if pagination.total_pages > 5 %}
                {% if pagination.current_page < 4 %}
                    {% set page_to = 5 %}
                {% elseif pagination.current_page >= 4 %}
                    <li><a href="?offset=0&limit={{ pagination.limit }}#subitems">1..</a></li>
                    {% set page_from = pagination.current_page - 2 %}
                    {% set page_to = pagination.current_page + 2 %}
                    {% if page_to > pagination.total_pages %}
                        {% set page_to = pagination.total_pages %}
                        {% set page_from = pagination.total_pages - 4 %}
                    {% endif %}
                {% endif %}
            {% endif %}

            {% for page in (page_from)..(page_to) %}
                <li{% if page == pagination.current_page %} class="active"{% endif %}><a href="?offset={{ (page * pagination.limit) - pagination.limit }}&limit={{ pagination.limit }}#subitems">{{ page }}</a></li>
            {% endfor %}

            {% if pagination.total_pages > 6 and page_to < pagination.total_pages %}
                <li><a href="?offset={{ pagination.total_pages * pagination.limit }}&limit={{ pagination.limit }}#subitems">..{{ pagination.total_pages }}</a></li>
            {% endif %}

          <li{% if pagination.current_page >= pagination.total_pages %} class="disabled"{% endif %}><a href="?offset={{ pagination.offset + pagination.limit }}&limit={{ pagination.limit }}#subitems">»</a></li>
        </ul>
    {% endif %}

</div>
{% endif %}
