{% extends "ProjectMemberBundle:parts:form/themes/default.html.twig" %}

{# Form Readonly Layout #}
{% block form_row %}
    <div class="form-row form-row-{{ form.vars.name }} form-row-readonly{% if 'checkbox' in form.vars.block_prefixes %} checkbox{% endif %}">
        {% if 'checkbox' not in form.vars.block_prefixes %}
            {{ form_label(form) }}
        {% endif %}
        {{ form_widget(form)}}
        {% if 'checkbox' in form.vars.block_prefixes %}
            {{ form_label(form) }}
        {% endif %}
    </div>
{% endblock %}

{% block submit_widget %}
{% endblock %}

{% block reset_widget %}
{% endblock %}

{% block button_widget %}
{% endblock %}

{% block form_widget_simple %}
    {% set type = type|default('text') %}
    {% if type != "hidden" %}
        <div class="form-readonly-value">
            {% if value is defined and value %}
                {{ value }}
            {% else %}
                n/a
            {% endif %}
        </div>
    {% endif %}
{% endblock %}

{% block choice_widget %}
    <div class="form-readonly-value">

        {% set has_value = false %}

        {% if form.vars.multiple %}
        <ul>
        {% endif %}

        {% for choice in form.vars.choices %}
            {% if expanded and value[loop.index0] %}

                {% if form.vars.multiple %}
                <li>
                {% endif %}

                {{ choice.label }}

                {% if form.vars.multiple %}
                </li>
                {% endif %}

                {% set has_value = true %}
            {% elseif choice is selectedchoice(value) %}

                {% if form.vars.multiple %}
                <li>
                {% endif %}            

                {{ choice.label }}

                {% if form.vars.multiple %}
                </li>
                {% endif %}

                {% set has_value = true %}
            {% endif %}
        {% endfor %}
        {% if not has_value %}
            n/a
        {% endif %}

        {% if form.vars.multiple %}
        </ul>
        {% endif %}

    </div>
{% endblock %}

{% block checkbox_widget %}
{% spaceless %}
    <input type="checkbox" disabled="disabled"{% if checked %} checked="checked"{% endif %} />
{% endspaceless %}
{% endblock checkbox_widget %}

{% block collection_widget %}
{% spaceless %}
    {% if form.children|length <= 0 %}
        <div class="form-readonly-value">n/a</div>
    {% else %}
        {{ block('form_widget') }}
    {% endif %}
{% endspaceless %}
{% endblock collection_widget %}

{# ChoiceOther Type #}
{% block choiceother_widget %}

    <div class="form-readonly-value">
        {% if value.choice == "_other" %}
            {{ form_widget(form.text) }}
        {% elseif value.choice %}
            {% if value.choice is iterable %}
                <ul>
                    {% for choice in value.choice %}
                        {% for choiceData in form.choice.vars.choices %}
                            {% if choiceData.value == choice %}
                                <li>{{ choiceData.label }}</li>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </ul>
            {% else %}
                {% for choiceData in form.choice.vars.choices %}
                    {% if choiceData.value == value.choice %}
                        {{ choiceData.label }}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% else %}

            {% if form.choice.vars.multiple %}
            <ul>
            {% endif %}

            {% for key,choice in form.choice.vars.choices %}

                {% if form.choice.vars.value[key] is defined and form.choice.vars.value[key] %}

                    {% if form.choice.vars.multiple %}
                    <li>
                    {% endif %}

                    {% if choice.value == "_other" %}
                        Other: {{ form.text.vars.value }}
                    {% else %}
                        {{ choice.label }}
                    {% endif %}

                    {% if form.choice.vars.multiple %}
                    </li>
                    {% endif %}

                {% endif %}

            {% endfor %}

            {% if form.choice.vars.multiple %}
            </ul>
            {% endif %}

        {% endif %}
    </div>

{% endblock %}