{% extends "ProjectMemberBundle:parts:form/themes/readonly/default.html.twig" %}

{% block choice_widget %}
    <div class="form-readonly-value">
        {% set has_value = false %}
        {% for choice in form.vars.choices %}
            {% if expanded and value[loop.index0] %}
                {{ choice.label }}
                {% set has_value = true %}
            {% elseif choice is selectedchoice(value) %}
                {{ choice.label }}
                {% set has_value = true %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}