<div id="sidebar" class="col col-xs-12 col-sm-4 col-md-3 col-xs-height col-top">
    {% if location is defined and content is defined %}
        {% block sidebar %}
            {{
                render(
                    controller( "ProjectSiteBundle:General:PageSidebar", { "content" : content, "location" : location } )
                )
            }}
        {% endblock %}
    {% endif %}
</div>
<div id="right-column" class="col col-xs-12 col-sm-8 col-md-9 col-xs-height col-top">
    {% if location is defined %}
    {{
        render(
            controller(
                "ProjectSiteBundle:General:Banner", { "template" : "ProjectSiteBundle::banners.html.twig", "location" : location }
            )
        )
    }}
    {% endif %}

    {% block main_content_area %}{% endblock %}
</div>