{% if (nav_login_attempt is defined and nav_login_attempt) or (not error.type is defined or not error.type) %}
    <h1 id="pagetitle">Login</h1>
{% elseif error.type == "authentication" %}
    <h1 id="pagetitle">Restricted Access</h1>
{% endif %}

{% if error is defined and error %}
    <div class="alert alert-warning">{{ error.message|trans|raw }}</div>
{% endif %}

<div class="mla-form form-login editable">
    <h2>Member Log-In</h2>
    {% include "ProjectMemberBundle:parts:misc/login_form.html.twig" %}
</div>

{# Only display on main MLA site #}
{% if ezpublish.siteaccess.name == "site" %}
    <h2>Become a Member</h2>
    <p>
        Not a member? <a href="{{ path("JoinIndex") }}">Join the MLA</a>.
    </p>
{% endif %}