{% if not current_uri is defined %}
    {% set current_uri = "" %}
{% endif %}
<form action="{{ path( 'login_check' ) }}" method="post">

    {% if app.request.get("siteaccess").name in ["ade", "adfl"] %}
        <div class="input-group">
            <div class="radio">
              <label>
                <input type="radio" name="source" value="2" checked />
                I belong to an ADE or ADFL department.
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="source" value="1" />
                I am an MLA member.
              </label>
            </div>
        </div>
    {% else %}
        <input type="hidden" name="source" value="1" />
    {% endif %}

    {% if view is defined and view == "embed" %}
        <div class="input-group">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-user"></i>
            </span>
            <input type="text" class="form-control" name="_username" placeholder="Username" value="{{ last_username }}" />
        </div>

        <div class="input-group">
            <span class="input-group-addon">
                <span class="icon-key"></span>
            </span>
            <input type="password" class="form-control" name="_password" placeholder="Password" />
            <span class="input-group-addon submit blue-btn">
                <button type="submit" class="btn">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
            </span>
        </div>
    {% else %}
        <div class="form-group">
            <label for="username_full">{{ 'Username'|trans }}</label>
            <input type="text" class="form-control" id="username_full" name="_username" value="{{ last_username is defined ? last_username : "" }}" />
        </div>

        <div class="form-group">
            <label for="password_full">{{ 'Password'|trans }}</label>
            <input type="password" class="form-control" id="password_full" name="_password" />
        </div>
    {% endif %}

    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    <input type="hidden" name="_target_path" value="{{ app.request.request.get("_target_path") ?: current_uri }}" />

    <div class="checkbox">
        {% set checkbox_id = "remember_me_" ~ random() %}
        <input type="checkbox" id="{{ checkbox_id }}" name="_remember_me" checked />
        <label for="{{ checkbox_id }}">
            Remember Me
        </label>
    </div>

    {% if view is not defined or view == "full" %}
        <div class="btn-group pull-right">
            <div class="pull-right"><button class="btn btn-next" type="submit">{{ 'Login'|trans }}</button></div>
            <div class="feedback-area"></div>
            <div class="clear"></div>
        </div>
    {% endif %}

    <div class="clear"></div>
</form>
<a href="{{ path("AccountRetrival") }}">Forgot your user name or password?</a>

{# ORCID Login #}
{# <div>
    <a href="#" onclick="launchOrcidAuth('{{ orcid_auth_url }}', '{{ orcid_client_id }}', '{{ url("UserOrcidLogin") }}'); return false;">
        <img src="{{ asset("bundles/projectmember/images/orcid_24x24.png") }}" alt="ORCID" />
    </a>
    <a href="#" onclick="launchOrcidAuth('{{ orcid_auth_url }}', '{{ orcid_client_id }}', '{{ url("UserOrcidLogin") }}'); return false;">Signin with ORCID</a>
</div>
#}