{% if items is defined and items|length() %}
<div id="banners-container">

    <div id="banners" class="cycle-slideshow"
        data-cycle-slides=".banner-item"
        data-cycle-timeout="6000"
        data-cycle-pager="#banner-pager"
        data-cycle-pager-active-class="fa-circle"
        data-cycle-pager-template="<span class='fa fa-circle-o'></span>"
    >
    {% for item in items %}
        {% if not ez_is_field_empty(item.content, "ml_image") %}
        {% set ml_image = item.content.fields.ml_image['eng-US'].destinationContentId|objectfetch() %}
        {% set image_alias = ez_image_alias( ml_image.getField("image"), ml_image.versionInfo, "banner") %}
        <div class="banner-item text-center">
            <img src="{{ asset(image_alias.uri) }}" width="{{ image_alias.width }}" height="{{ image_alias.height }}" />
            <div class="banner-content {% if items|length() == 1 %}no-pager{% endif %} text-left">{{ ez_render_field( item.content, "content" ) }}</div>
        </div>
        {% endif %}
    {% endfor %}
    </div>
    {% if items|length() > 1 %}<div id="banner-pager" class="text-center"></div>{% endif %}

</div>
{% endif %}