{% use "ThinkCreativeCoreBundle::general_blocks.html.twig" %}
{% block document %}
<!DOCTYPE html>
{% block html_definition %}<html {% block html_attributes %}lang="{{ app.request.locale }}" xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ app.request.locale }}"{% endblock %}>{% endblock %}

<head>
{% block head %}
{% block meta %}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% endblock %}
{% block document_title %}
<title>{% block page_title %}{{ pagedata.is_homepage is defined and pagedata.is_homepage ? "Home" : "Document Title" }}{% endblock %}{{ pagedata.project_name ? (' | ' ~ pagedata.project_name) : '' }}</title>
{% endblock %}
{% block head_content %}{% endblock %}
{% endblock %}
{% stylesheets output="css/bootstrap.css" filter="cssrewrite,compass,sass"
    "bundles/thinkcreativetwitterbootstrap/sass/bootstrap.scss"
    "bundles/projectthemes/sass/font-awesome.min.scss"

    "bundles/projectmember/scss/main.scss"
%}
<link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" />
{% stylesheets "@ade_adfl_stylesheets" %}
<link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}

<style type="text/css">
#debug {
    display: none;
}
</style>

{% block javascript %}
<script src="//use.typekit.net/bgx6tpq.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
<script type='text/javascript'>
(function (d, t) {
  var bh = d.createElement(t), s = d.getElementsByTagName(t)[0];
  bh.type = 'text/javascript';
  bh.src = '//www.bugherd.com/sidebarv2.js?apikey=llshhngbqropmzh6ke510w';
  s.parentNode.insertBefore(bh, s);
  })(document, 'script');
</script>
{% endblock %}

</head>

<body class="{{ (pagedata.is_homepage is defined and pagedata.is_homepage) ? 'homepage' : 'subpage' }} siteaccess-{{ ezpublish.siteaccess.name }}">

{% block body %}

<div id="utility-bar">
    <div class="row container">
        {% if ezpublish.siteaccess.name == 'ade' %}
            <div class="hidden-xs col-xs-12 col-sm-7">
                <ul class="nav nav-pills">
                    <li>
                        <a href="http://www.mla.org/">MLA<i class="fa fa-flag"></i></a>
                    </li>
                    <li>
                        <a href="http://adfl.mla.org/">ADFL<i class="fa fa-graduation-cap"></i></a>
                    </li>
                    <li>
                        <a href="http://ade.commons.mla.org">ADE Commons<i class="fa fa-comment"></i></a>
                    </li>
                    <li>
                        {{
                            render_esi(controller(
                                "ProjectMemberBundle:Member:loginEmbed",
                                {
                                    'view' : "embed",
                                    'target_route' : app.request.attributes.get('_route'),
                                    'target_route_params' : app.request.attributes.get('_route_params')
                                }
                            ))
                        }}
                    </li>
                </ul>
            </div>
        {% else %}
            <div class="hidden-xs col-xs-12 col-sm-7">
                <ul class="nav nav-pills">
                    <li>
                        <a href="http://www.mla.org/">MLA<i class="fa fa-flag"></i></a>
                    </li>
                    <li>
                        <a href="http://ade.mla.org/">ADE<i class="fa fa-graduation-cap"></i></a>
                    </li>
                    <li>
                        <a href="http://ade.commons.mla.org">ADE Commons<i class="fa fa-comment"></i></a>
                    </li>
                    <li>
                        {# Login Area #}
                        {{
                            render_esi(controller(
                                "ProjectMemberBundle:Member:loginEmbed",
                                {
                                    'targetPath' : target_path is defined ? target_path : null
                                }
                            ))
                        }}
                    </li>
                </ul>
            </div>
        {% endif %}
        <div class="col-xs-5">
            <form class="navbar-form navbar-right hidden-xs" method="get" action="{{ path( "ProjectSearchDefault" ) }}" role="search">
                <div class="form-group">
                    <input class="form-control" type="text" name="query" placeholder="SEARCH" />
                </div>
                <button class="btn btn-link" type="submit"><span class="glyphicon glyphicon-search"></span></button>
            </form>
            <div class="visible-xs hidden-sm hidden-md hidden-lg">
                <a href="{{ path( "ProjectSearchDefault" ) }}">Search <span class="glyphicon glyphicon-search"></span></a>
            </div>
        </div>
    </div>
</div>

<section>
    <header role="banner">
        <div class="row container">
            <div id="logo" class="col-sm-12 col-md-3 text-center">
                {% spaceless %}
                {% if ezpublish.siteaccess.name == "ade" %}
                {% image "@ProjectSiteBundle/Resources/public/images/ade-logo.png" %}<a alt="ADE Logo" href="/"><img src="{{ asset_url }}" width="240" height="60" /></a>{% endimage %}
                {% else %}
                {% image "@ProjectSiteBundle/Resources/public/images/adfl-logo.png" %}<a alt="ADFL Logo" href="/"><img src="{{ asset_url }}" width="210" height="120" /></a>{% endimage %}
                {% endif %}
                {% endspaceless %}
            </div>
            {{ menubar(
                {
                    include_root: false,
                    orientation: "horizontal",
                    menu_root: ezpublish.rootlocation.id,
                    class: "col-sm-12 col-md-9 nav nav-pills navbar-nav",
                    filter: [
                        {
                            location_priority: {
                                BETWEEN: [ 1, 10 ]
                            }
                        }
                    ],
                    sort: "menu_root"
                },
                template = "ProjectSiteBundle:menu/microsite:global_menu.html.twig"
            ) }}
        </div>
    </header>
    <div id="page">
        <div id="main-content-area" class="row container container-xs-height">
            {% block content %}{% endblock %}
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
    <footer>
        <div class="row container">
            <div id="copyright" class="col-xs-6">
                {% image "@ProjectSiteBundle/Resources/public/images/logo.png" %}<a alt="Modern Language Association Logo" href={{ sitelink( 88 ) }}><img src="{{ asset_url }}" width="192" height="50" /></a>{% endimage %}
                <p>&copy; 2014 Modern Language Association of America</p>
            </div>
            <div class="col-xs-6 text-right">
                <ul id="footer-navigation" class="nav nav-pills navbar-right">
                    <li class="location-id-10822 item-1" data-location-id="10822">
                        <a class="btn btn-link" href="/Test-Area/Content-Test-Area">Content Test Area</a>
                    </li>
                    <li class="location-id-91 item-2" data-location-id="91">
                        <a class="btn btn-link" href="http://ade.mla.org/Test-Area">Test Area</a>
                    </li>
                    <li class="location-id-10418 item-3" data-location-id="10418">
                        <a class="btn btn-link" href="/JIL-Listings">JIL Listings</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</section>

{% endblock %}

{% javascripts output="js/main.js"
    "bundles/thinkcreativethemes/js/jquery-1.10.2.js"
    "bundles/thinkcreativetwitterbootstrap/js/bootstrap.min.js"
    "bundles/projectsite/js/jquery.cookie.js"
    "bundles/projectsite/js/jquery.cycle2.js"
    "bundles/projectsite/js/handlebars-v1.3.0.js"
    "bundles/projectsite/js/javascript-cookie.js"
    "bundles/projectsite/js/components.js"
    "bundles/projectsite/js/bulletins.js"
    "bundles/projectsite/js/multilogin.js"
    "bundles/projectsite/js/microsite_main.js"
    "bundles/projectsite/js/jquery.truncate.js"
    "bundles/projectsite/js/search.js"
    "bundles/projectsite/js/footerfix.js"
    "bundles/projectsite/js/doublelogin.js"
    "bundles/projectsite/js/ade_adfl_equalcols.js"
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

</body>

</html>
{% endblock %}