<!DOCTYPE html>
<html lang="en_US" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en_US">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<style type="text/css">
#debug, .sf-toolbar {
    display: none !important;
}
</style>
</head>

<body>
    <div id="login-form-container">
        <form id="double-login-form" action="https://apps.mla.org/cgi-shl/docstudio/docs.pl?function=login&amp;xurl=" method="post">
            <div>User Name: <input type="text" name="username" size="20" value="" /></div>
            <div>Password: <input type="password" name="password" size="20" value="" /></div>
            <div><button type="submit">Log In</button></div>
            <input type="hidden" name="todo" value="login" />
            <input type="hidden" name="xurl" value="ssp_main_social" />
            <input type="hidden" name="login_mode" value="" />
        </form>
    </div>
</body>

</html>
