{% set count = items|length %}

{% if count > 0 %}
{% set footer = items.0.content.fields.navigation['eng-US'].destinationContentIds|menubar_items(false) %}

<div>
{{ menubar(
    {
        id: 'footer',
        orientation: 'horizontal',
        items : footer,
        class: "nav nav-pills"
    },
    template = "ProjectSiteBundle:menu:footer.html.twig"
) }}
</div>
{% endif %}
<p>&#169; {{ "now"|date("Y") }} Modern Language Association of America</p>