{% extends "ThinkCreativeThemesBundle::pagelayout.html.twig" %}

{% block shortcut_icons %}
<link rel="shortcut icon" href="/bundles/projectsite/images/favicons/favicon.ico" type="image/x-icon">
<link rel="icon" href="/bundles/projectsite/images/favicons/favicon.ico" sizes="32x32" type="images/favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/bundles/projectsite/images/favicons/favicon.png">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/bundles/projectsite/images/favicons/favicon-152.png">
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/bundles/projectsite/images/favicons/favicon-120.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/bundles/projectsite/images/favicons/favicon-114.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/bundles/projectsite/images/favicons/favicon-72.png">
<link rel="apple-touch-icon-precomposed" sizes="57x57" href="/bundles/projectsite/images/favicons/favicon-57.png">
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" />

    {% stylesheets output="css/extensions.css" filter="cssrewrite,compass,sass"

    %}
        <link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% stylesheets output="css/part1.css" filter="cssrewrite,compass,sass"
        "bundles/thinkcreativetwitterbootstrap/sass/bootstrap.scss"

        "bundles/thinkcreativecalendar/scss/styles.scss"

        "bundles/projectthemes/sass/font-awesome.min.scss"

        "bundles/projectmember/scss/main.scss"
        "bundles/projectmember/scss/member_search.scss"

        "bundles/projectproduct/sass/buttons.scss"
        "bundles/projectproduct/sass/cart.scss"
        "bundles/projectproduct/sass/product.scss"
        "bundles/projectproduct/sass/side_menu.scss"
        "bundles/projectproduct/sass/search.scss"
    %}
        <link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    {% stylesheets output="css/part2.css" filter="cssrewrite,compass,sass"
        "bundles/projectsite/sass/main.scss"
        "bundles/projectsite/sass/event_calendar.scss"
        "bundles/projectsite/sass/search.scss"
        "bundles/projectsite/sass/form_ajax_feedback.scss"
        "bundles/projectsite/sass/buttons.scss"
    %}
        <link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}

{% block javascript_head %}
    <script type="text/javascript" charset="utf-8" src="/bundles/projectsite/js/respond.js"></script>
    <script type="text/javascript" charset="utf-8" src="/bundles/projectsite/js/modernizr-ie_detector.js"></script>
    <script src="//use.typekit.net/bgx6tpq.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
{% endblock %}

{% block javascript %}
{{ parent() }}
    <script type="text/javascript" charset="utf-8" src="/bundles/projectsite/js/jquery.placeholder.js"></script>
    <script type="text/javascript" src="/bundles/projectsite/js/doublelogin.js"></script>
    <script type='text/javascript'>
    (function (d, t) {
      var bh = d.createElement(t), s = d.getElementsByTagName(t)[0];
      bh.type = 'text/javascript';
      bh.src = '//www.bugherd.com/sidebarv2.js?apikey=llshhngbqropmzh6ke510w';
      s.parentNode.insertBefore(bh, s);
      })(document, 'script');
    </script>
{% endblock %}

{% block body_class_list %}{{ parent() }} responsive{% endblock %}

{% block body %}

    <!-- Fixed Navbar -->
    <nav id="primary-navigation" class="navbar navbar-inverse navbar-default" role="navigation">
        <div class="utility-image col-xs-12 col-sm-4 col-md-6 col-lg-7">
            {% image "@ProjectSiteBundle/Resources/public/images/utility-image.png" %}<img class="pull-right" src="{{ asset_url }}" />{% endimage %}
        </div>
        <div class="utility col-xs-12 col-sm-8 col-md-6 col-lg-5">

            <div class="hidden-xs col-xs-4 col-sm-3 col-md-4 text-center commons-link">
                <a href="http://commons.mla.org/">MLA Commons <i class="fa fa-comment"></i></a>
            </div>

            <div class="clearfix-sm"></div>

            {# LOGIN #}
            <div class="col-xs-4 col-sm-3 col-md-2 text-center login">
                {{
                    render_esi(controller(
                        "ProjectMemberBundle:Member:loginEmbed",
                        {
                            'targetPath' : target_path is defined ? target_path : null,
                            "lastUsername" : last_username is defined ? last_username : null
                        }
                    ))
                }}
            </div>

            {# SEARCH #}
            <div class="col-xs-4 col-sm-5 col-md-6 text-center search">
                <form class="navbar-form navbar-left hidden-xs" role="search" method="GET" action="{{ path("ProjectSearchDefault") }}">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="SEARCH" name="query" />
                    </div>
                    <button type="submit" class="btn btn-search"><span class="glyphicon glyphicon-search"></span></button>
                </form>
                <div class="visible-xs hidden-sm hidden-md hidden-lg navbar-header">

                    <a data-toggle="collapse" data-target="#mini-search" href="#" class="collapsed">
                        Search <span class="glyphicon glyphicon-search"></span>
                    </a>

                    <div class="mini-search collapse" id="mini-search">
                        <form action="/search/" method="GET" role="search" class="navbar-form navbar-left visible-xs hidden-sm">
                            <div class="input-group">
                                <input type="text" class="searchtext form-control" name="query" placeholder="Enter Search Terms">
                                <span class="input-group-addon blue-btn submit">
                                    <button class="icon-search" name="search[submit]" id="search_submit" type="submit"> </button>
                                </span>
                            </div>
                        </form>
                    </div>

                </div>
            </div>

            {# MENU (MOBILE) #}
            <div class="visible-xs col-xs-4 hidden-sm hidden-md hidden-lg text-center navbar-header">
                <a href="#" data-toggle="collapse" data-target=".navbar-ex1-collapse" class="collapsed">
                    Menu
                    <span class="sr-only">Toggle navigation</span>
                    <span class="menu-toggle-icon navbar-toggle">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </span>
                </a>
            </div>

        </div>
        <div class="container row-md">
            <div class="navbar-header text-center-sm col-xs-12 col-sm-12 col-md-3">
                <div class="col-xs-4 hidden-sm"></div>
                {% image "@ProjectSiteBundle/Resources/public/images/logo.png" %}<a class="navbar-brand col-xs-4 col-sm-12" href="/"><img src="{{ asset_url }}" /></a>{% endimage %}
                <div class="col-xs-4 hidden-sm"></div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                {% if ezpublish is defined %}
                {{ menubar(
                    {
                        id: 'global-nav',
                        include_root: false,
                        orientation: 'horizontal',
                        menu_root: ezpublish.rootlocation.id,
                        class: "nav navbar-nav",
                        filter: [
                            {
                                location_priority: {
                                    BETWEEN: [1,10]
                                }
                            }
                        ],
                        sort: 'menu_root'
                    },
                    template = "ProjectSiteBundle:menu:global_menu.html.twig"
                ) }}
                {% endif %}
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>
    <!-- /Fixed Navbar -->
        {% if (location is defined and not pagedata.is_homepage) or block("breadcrumbs") %}
                    {#{{ dump_vars(ezpublish.rootlocation.id) }}#}
        <div id="breadcrumb" class="container">
            {% block breadcrumbs %}
                {% if location is defined and not pagedata.is_homepage %}
                    {{ menubar(
                        {
                            "items": location|location_path(ezpublish.rootlocation.id)|menubar_items()
                        },
                        template = "ProjectSiteBundle:menu:breadcrumb.html.twig"
                    ) }}
                {% endif %}
            {% endblock %}
        </div>
        {% endif %}

    {% if (location is defined and pagedata.is_homepage) %}<div class="grey-background"></div>{% endif %}
    <div class="container main-container">
        <div id="main-content" class="row">
            {% block content %}{% endblock %}
        </div>
    </div>
    {% if (location is defined and pagedata.is_homepage) %}
        <div class="row darkbg subfooter">
            {% if pagedata.has_content_box_list is defined and pagedata.has_content_box_list %}{{ render( controller( "ProjectSiteBundle:ContentBox:index", { location: location, template: "ProjectSiteBundle:parts/contentbox:homepage_list.html.twig" } ) ) }}{% endif %}
        </div>
    {% endif %}

    <footer>
        <div class="container">
        {% if ezpublish is defined %}
        {{
            render(
                controller(
                    "ProjectSiteBundle:General:Footer", { "template" : "ProjectSiteBundle::footer.html.twig", "location" : ezpublish.rootlocation.id }
                )
            )
        }}
        {% endif %}
        </div>
    </footer>
{% endblock %}