{% extends pagedata.layout %}

{% set page_title = "Site Map (" ~ (sitemap_location.contentInfo.name == ezpublish.rootlocation.contentInfo.name ? 'Home' : sitemap_location.contentInfo.name) ~ ")" %}

{% block content %}
    {% embed ( pagedata.is_primary_siteaccess ? "ProjectSiteBundle:layouts:two_column.html.twig" : "ProjectSiteBundle:layouts/microsite:two_column.html.twig" ) %}
    {% block main_content_area %}
        <div id="content-sitemap">
        <h1>{{ page_title }}</h1>

            {{ menubar(
                {
                    menu_root: sitemap_location.id,
                    header: false,
                    menu_depth: 1,
                    filter: [
                        {
                            location_priority: {
                                BETWEEN: [0,1000]
                            }
                        },
                        {
                            content_type_identifier: {
                                NIN: ['article', 'bulletin_article', 'banner', 'content_box', 'footer', 'jil_pdf', 'event']
                            }
                        }
                    ],
                    sort: 'menu_root'
                },
                template = "ProjectSiteBundle:parts:sitemap.html.twig"
            ) }}

        </div>
    {% endblock %}
    {% endembed %}
{% endblock %}
