{% extends pagedata.layout %}

{% block page_title %}
    {{ content.getFieldValue("name").text|trim|simple_text_format|striptags }}
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset("/bundles/projectmember/js/join_renew.js") }}"></script>
    {% if action == "contact" %}
        <script type="text/javascript" src="{{ asset("bundles/projectmember/js/form_member.js") }}"></script>
    {% elseif action == "review" %}
        <script type="text/javascript" src="{{ asset("bundles/projectmember/js/read_member.js") }}"></script>
    {% elseif action == "forumAffiliation" %}
        <script type="text/javascript" src="{{ asset("bundles/projectmember/js/typeahead.js") }}"></script>
        <script type="text/javascript" src="{{ asset("bundles/projectmember/js/form_member.js") }}"></script>
        <script type="text/javascript" src="{{ asset("bundles/projectmember/js/forum_selection.js") }}"></script>
    {% endif %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        .member-info {
            margin-bottom: 10px;
        }
        .member-info div {
            font-size: 12px;
        }
        .checkbox label, .radio label {
            margin-left: 6px;    
            vertical-align: 2px;
        }
        .form-row-joint_member_number .form-control-feedback {
            top: 30px;
        }
    </style>
{% endblock %}

{% block body %}
    {% if action == "review" %}
        <div class="modal fade" id="member-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        <div class="loading-throbber">
                        </div>
                        <iframe href=""></iframe>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-close" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-mla btn-submit">Save changes</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {% embed "ProjectSiteBundle:layouts:two_column.html.twig" %}
        {% block main_content_area %}
            <h1 id="pagetitle">
                {{ content.getFieldValue("name").text|trim|simple_text_format|raw }}
            </h1>
            {{ ez_render_field(content, "description") }}
            
            {{ 
                render_esi(controller(
                    "ProjectMemberBundle:MemberJoin:" ~ action
                ))
            }}
        {% endblock %}

        {% block sidebar %}
            {% include "ProjectMemberBundle:parts:join/progress.html.twig" with {'joinStep' : joinStep } %}
        {% endblock %}
    {% endembed %}
{% endblock %}