.mla-form {

    div.form-row {
        margin-bottom: 10px;

        &.form-sub-content {
            margin-left: 50px;
        }

        .btn-group {
            div {
                float: left;
                margin-right: 6px;
            }
        }

        span.required {
            font-size: 8px;
            vertical-align: top;
        }
    }

    [data-choice-field] {
        display: none;
    }

    .choiceother-text {
        margin-top: 4px;
    }

    label {
        @media(max-width: 1000px) {
            width: 100%;
        }        
    }

    &.readonly {
        .readonly-hidden {
            display: none;
        }

        #member-general_name .form-row {
            display: inline-block;
            margin-right: 4px;
            margin-bottom: 0;
        }
    }

    // Member Language Form
    &.form-languages {
        .language-primary {
            display: inline-block;

            .is-primary {
                display: none;
            }

            &.is-primary {
                .is-primary {
                    display: inline;
                }
                .not-primary {
                    display: none;
                }
            }
        }
    }

    // General form
    #general {
        .form-row-name {
            .form-row-readonly {
                display: inline-block;
                margin-right: 5px;
                margin-bottom: 0;
            }
        }
    }

    &.mla-membership-category-form {
        margin-top: 25px;
    }

}

.membership-form {
    input[type=radio] {
        vertical-align: -2px;
        margin-right: 4px;
    }
    .membership-single {
        margin-left:30px;
    }
    .membership-joint {
        margin-left: 30px;
    }
}

#main-content .sidebar .join-progress {
    ul {
        list-style-type: decimal;
        padding-left: 25px;
        li.current-step {
            font-weight: bold;
        }
    }
}

.join-review div {
    margin-bottom: 10px; 
}

// my mla
.my-mla {
    h1.page-title {
        padding-top: 0;
        margin-top: 0 !important;
    }
    .tab-content {
        padding-top: 15px;
    }
}

#member-modal {
    iframe {
        border: none;
        width: 100%;
        min-height: 128px;
    }

    .modal-body {
        min-height: 128px;
    }

}

#member-modal .loading-throbber, .my-mla .loading-throbber  {
    background-image: url(/bundles/projectsite/images/throbber_16x16.gif);
    background-repeat: no-repeat;
    background-position: center center;
    height: 128px;
    width: 100%;
}

// membership data
.member-section {
    margin-bottom: 15px;
    padding: 10px 15px;
    padding-top: 5px;
    border: 1px solid #ddd;

    .member-data {
        & div, & ul {
            -webkit-transition: opacity .25s linear .25s;
            transition: opacity .25s linear .25s;
        }
        &.loading {
            background-image: url(/bundles/projectsite/images/throbber_16x16.gif);
            background-repeat: no-repeat;
            background-position: center center;
            & div, & ul {
                opacity: 0;
            }
        }
    }

    .member-item {
        margin-bottom: 2px;
        .member-attr {
            display: inline-block;
            font-weight: bold;
            width: 25%;
            margin-right: 2%;
        }
        .member-value {
            vertical-align: top;
            white-space: nowrap;
            display:inline-block;
        }
    }

    .member-preference {
        margin-bottom: 3px;

        span {
            display: inline-block;
            font-size: 16px;
            margin-right: 2%;
            vertical-align: -1px;
        }

        .readonly-checkbox {
            display: inline-block;
            width: 18px;
            height: 18px;
            vertical-align: -4px;
            margin-right: 8px;
            background: url(/bundles/projectsite/images/checkbox-unchecked.png) no-repeat 0px 1px;
        }

        color: #000;
        &.checked {

            .readonly-checkbox {
                background: url(/bundles/projectsite/images/checkbox-checked.png) no-repeat 0px 1px;
                background-position: 0px center;
            }
        }

    }
    .member-sep {
        margin-bottom: 7px;
    }

}

.member-review .member-section .member-item .member-attr {
    width: 40%;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .member-section .member-preference{
        .readonly-checkbox {
            background: url(/bundles/projectsite/images/checkbox-unchecked@2x.png);
            background-size: 16px 16px;
        }
        &.checked .readonly-checkbox {
            background: url(/bundles/projectsite/images/checkbox-checked@2x.png);
            background-size: 16px 16px;   
        }
    }
}

// orcid
iframe#orcid-iframe {
    width: 100%;
    border: none;
    min-height: 600px;

    @media(max-width: 640px) {
        min-height: 650px;
    }

    @media(max-width: 480px) {
        min-height: 700px;
    }    
}

.orcid-success-checkbox {
    color: #5cb85c;
    font-size: 24px;
    vertical-align: -4px;
    margin-right: 5px;    
}

// primary forum affiliation
.mla-forum-list {
    h4 {
        font-size: 18px;
        font-weight: bold;
        color: #000;        
    }
    h5 {
      font-size: 16px;
      font-weight: bold;
      color: #000;
    }
    ul {
        list-style-type: none;
        li {
            margin-top: 2px;
        }
    }
}

.forum-selection {

    .js-forum-selection .twitter-typeahead {
        width: 100%;
    }

    .selection-list {
        margin-top: 10px;
        display: none;
        
        .forum-item {
            .btn-remove {
                font-size: 12px;
                color: #545454;
                position: relative;
                top: -1px;
                cursor: pointer;
            }
        }
    }


    margin-bottom: 15px;
    @import "typeahead";
}


// my mla career path survey
#mymla-careerpath {
    min-height: 170px;
}
iframe.career-path-iframe {
    width: 100%;
    min-height: 300px;
    display: block;
}

// cross domain login embed
.crossDomainEmbed {
    display: none;
}