.last-name-letters {
    text-align: center;
    margin-bottom: 30px;

    a, span {
        font-size: 20px;
        padding-right: 1%;
    }
}

.member-search-pagination {
    .pagination {
        margin: 1px 0;
    }
}