{% extends "ProjectSiteBundle::pagelayout.html.twig" %}

{% block page_title %}
    ORCID Authorization
{% endblock %}

{% block body %}
    <script type="text/javascript">
        window.close();
    </script>
{% endblock %}