{% extends "ProjectSiteBundle::pagelayout.html.twig" %}

{% block page_title %}
    ORCID Authorization
{% endblock %}

{% block body %}
    <div style="padding:20px; padding-top:0;">
        <h1>Error</h1>
        <p>
            This ORCID account is not currently linked to member. If you would like to join the MLA please complete a
            <a href="#" onclick="window.opener.location.href='{{ path("JoinIndex") }}'; window.close();">
                membership application.
            </a>
        </p>
    </div>
    <div class="text-center">
        <a href="#" onclick="window.close(); return false;" class="btn btn-default">Close</a>
    </div>
{% endblock %}