<form action="{{ path("ProductSearch") }}" method="GET">
{% embed "ProjectSiteBundle:layouts:two_column.html.twig" %}
    {% block main_content_area %}
        <h1 class="page-title">Bookstore Results</h1>

        {% include "ProjectProductBundle:parts:search/search_feedback.html.twig" %}
        {% include "ProjectSiteBundle:parts:search/search_results.html.twig" %}
    {% endblock %}
    {% block sidebar %}
        {# Cart Area #}
        {{
            render_esi(
                controller(
                    "ProjectProductBundle:Order:cartCountSidebar"
                )
            )
        }}
        {% include "ProjectProductBundle:parts:search/search_sidebar.html.twig" with {"searchType" : "bookstore"} %}
    {% endblock %}
{% endembed %}

{% include "ThinkCreativeSearchBundle:parts:search_form_close.html.twig" %} 