{# Search Feedback Template #}
<div class="feedback">

    {% include "ProjectSiteBundle:parts:search/search_sort.html.twig" %}

    {% if searchResults.getQueryString() and searchResults.getQueryString() != "*:*" and categorySearchResults is defined and categorySearchResults and categorySearchResults.getNumberFound() > 0 %}
        <div class="category-results">
            {% if categorySearchResults.getNumberFound() == 1 %}
                <h3>There is {{ categorySearchResults.getNumberFound() }} category that matches your search for "{{ searchResults.getQueryString() }}".</h3>
            {% else %}
                <h3>There are {{ categorySearchResults.getNumberFound() }} categories that match your search for "{{ searchResults.getQueryString() }}".</h3>
            {% endif %}
            <ol>
                {% for item in categorySearchResults.getResults() %}
                    <li>
                        <a href="/{{ item.main_node_meta_url_alias_ms }}">{{ item.meta_name_t|trim|simple_text_format }}</a>
                    </li>
                {% endfor %}
            </ol>
        </div>
    {% endif %}

    {% if searchResults.getQueryString() and searchResults.getQueryString() != "*:*" %}
        {% if searchResults.getNumberFound() == 1 %}
            <h3>There is {{ searchResults.getNumberFound() }} product that matches your search for "{{ searchResults.getQueryString() }}".</h3>
        {% else %}
            <h3>There are {{ searchResults.getNumberFound() }} products that match your search for "{{ searchResults.getQueryString() }}".</h3>
        {% endif %}
    {% else %}
        {% if searchResults.getNumberFound() == 1 %}
            <h3>Displaying {{ searchResults.getNumberFound() }} product.</h3>
        {% else %}
            <h3>Displaying {{ searchResults.getNumberFound() }} products.</h3>
        {% endif %}
    {% endif %}

    <div class="clear"></div>


</div>