{% extends pagedata.layout %}

{% block page_title %}Bulletin Search Results{% endblock %}

{% block content %}
    {% embed ( pagedata.is_primary_siteaccess ? "ProjectSiteBundle:layouts:two_column.html.twig" : "ProjectSiteBundle:layouts/microsite:two_column.html.twig" ) %}

        {% block main_content_area %}
        <h1 id="pagetitle">Bulletin Search Results</h1>
        <h1> Result Number: {{ result_num }}</h1>
        {% for bulletin in results %}
            <h3><a href={{ sitelink(bulletin.meta_main_node_id_si) }}>{{ bulletin.meta_name_t }}</a></h3>
            <a href={{ sitelink(bulletin.meta_main_parent_node_id_si) }}>{{ bulletin.attr_issue_title_t }}, p. {{ bulletin.attr_page_first_t }} ({{ bulletin.attr_page_cnt_t}})</a>
            <div><a href="/content/download/{{ bulletin.meta_main_node_id_si }}/{{ bulletin.meta_attributes.file }}/{{ bulletin.attr_article_link_t }}">View/download article as PDF</a></div>
        {% endfor %}
        {% endblock %}

    {% endembed %}
{% endblock %}