{% extends is_xmlhttprequest ? "ProjectSiteBundle::blanklayout.html.twig" : pagedata.layout %}

{% block page_title %}Bulletin Search Results{% endblock %}

{% block content %}

{% if not is_xmlhttprequest %}
<div id="sidebar" class="col col-md-3 col-xs-height col-top bulletin-search">
    {{ render(controller("ProjectSiteBundle:BulletinSearch:filters", { "category": search_query.category is defined ? search_query.category : [] } )) }}
</div>
<div class="col col-md-9 col-xs-height col-top search-results">
    <h1 id="pagetitle">Bulletin Search Results</h1>
    <div id="bulletin-search-results" data-search-query="{{ search_query_string }}">
{% endif %}

{% if search_results %}
    {{ include('ProjectSiteBundle:full:bulletin_search_results.html.twig') }}
{% endif %}

{% if not is_xmlhttprequest %}
    </div>
</div>
{% endif %}

{% endblock %}