{% set page_num = false %}
<div>
    <div>Search:
        {% if search_query.query is defined and search_query.query %}<p>{{ search_query.query }}{% if search_query.category is defined and search_query.category|length() %}, {% endif %}</p>{% endif %}
        {% if search_query.category is defined and search_query.category|length() %}<p>{{ search_query.category|join( ", " ) }}</p>{% endif %}
    </div>
    <div>Viewing {{ search_results.viewing.start }} - {{ search_results.viewing.end }} of {{ search_results.total_count }}</div>
</div>

{% if rendered_pagination is defined and search_results.total_count > search_results.limit %}
    {{ rendered_pagination|raw }}
{% endif %}

{% for bulletin in search_results.rows %}
{% set bulletin_tags = bulletin|bulletin_matched_tags( app.request ) %}
    <div class="search-result-item bulletin-article">
        <span class="number">{{ loop.index + search_results.offset }}.</span>
        <div class="content">

            {# Title #}
            <h3><a href={{ sitelink(bulletin.meta_main_node_id_si) }}>{{ bulletin.meta_name_t|simple_text_format }}</a></h3>

            {# Author #}
            {% if bulletin.attr_article_author_t is defined and bulletin.attr_article_author_t|trim %}
                <p class="author">By {{ bulletin.attr_article_author_t|trim }}</p>
            {% endif %}

            {# Highlighting #}
            {% if search_results.highlighting[bulletin.meta_guid_ms].ezf_df_text is defined %}
                <div class="description">
                    {% for highlighting in search_results.highlighting[bulletin.meta_guid_ms].ezf_df_text %}
                        <p>... {{ highlighting|raw }} ...</p>
                    {% endfor %}
                </div>
            {% endif %}

            <a href={{ sitelink(bulletin.meta_main_parent_node_id_si) }}>{{ bulletin.attr_issue_title_t }}</a>, p. {{ bulletin.attr_page_first_t }} ({{ bulletin.attr_page_cnt_t}})
            {% if bulletin_tags %}<div>Matching Categories: {% for tag in bulletin_tags %}<a href="/bulletin/search/?category[]={{ tag|url_encode() }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}{% endfor %}</div>{% endif %}
            <div class="download-link"><a class="file-pdf" href="/content/download/{{ bulletin.meta_main_node_id_si }}/{{ bulletin.meta_attributes.file }}/{{ bulletin.attr_article_link_t }}">View/download article as PDF</a></div>
        </div>
    </div>
{% endfor %}

{% if rendered_pagination is defined and search_results.total_count > search_results.limit %}
    {{ rendered_pagination|raw }}
{% endif %}