{% extends pagedata.layout %}

{% block page_title %}{{ content.contentInfo.name|simple_text_format|striptags() }}{% endblock %}

{% block content %}

{% embed ( pagedata.is_primary_siteaccess ? "ProjectSiteBundle:layouts:two_column.html.twig" : "ProjectSiteBundle:layouts/microsite:two_column.html.twig" ) %}
    {% block main_content_area %}

    <h1 id="pagetitle">{% autoescape false %}{{ content.contentInfo.name|simple_text_format }}{% endautoescape %}</h1>

    <div class="container-fluid">
        <div class="row">
            <div class="col col-xs-2">Authors:</div>
            <div class="col col-xs-10">{% for author in content.getFieldValue('article_author')|split(';') %}<a href="/bulletin/search?query={{ author|trim() }}&amp;type=author">{{ author|trim() }}</a>{% if not loop.last %}, {% endif %}{% endfor %}</div>
        </div>
        <div class="row">
            <div class="col col-xs-2">Source:</div>
            <div class="col col-xs-10"><em><a href={{ sitelink( bulletin_issue.location ) }}>{{ bulletin_issue.content.contentInfo.name }}</a></em>, pp. {{ content.getFieldValue('page_first') }}-{{ content.getFieldValue('page_last') }} ({{ content.getFieldValue('page_cnt') }})</div>
        </div>
        <div class="row">
            <div class="col col-xs-2">ISSN:</div>
            <div class="col col-xs-10">{{ bulletin_issue.content.getFieldValue('issn') }}</div>
        </div>
        <div class="row">
            <div class="col col-xs-2">CrossRef DOI:</div>
            <div class="col col-xs-10">{{ content.getFieldValue('article_doi') }}</div>
        </div>
        <div class="row article-download-link">
            <div class="col col-xs-12"><a href="/content/download/{{ content.id }}/{{ content.getField('file').id }}/{{ content.getFieldValue('file').fileName }}">View/Download article as PDF</a></div>
        </div>
    </div>

    {% if content.getFieldValue('tags').tags|length() %}
    <div id="article-categories" class="container-fluid">
        <p>Article Categories:</p>
        {% for tag in content.getFieldValue('tags').tags %}
        <a class="btn btn-default" href="/bulletin/search?category[]={{ tag.keyword|url_encode }}">{{ tag.keyword|simple_text_format }}</a>
        {% endfor %}
    </div>
    {% endif %}

    <div id="bulletin-article-related" class="container-fluid">
        {% if content.getFieldValue('related_materials').destinationContentIds|length() %}
        <div class="well">
            <h3>Related Materials</h3>
            {{ menubar(
                {
                    items: content.getFieldValue('related_materials').destinationContentIds|menubar_items()
                }
            ) }}
        </div>
        {% endif %}

        {% if content.getFieldValue('related_articles').destinationContentIds|length() %}
        <div class="well">
            <h3>Related Articles</h3>
            {{ menubar(
                {
                    items: content.getFieldValue('related_articles').destinationContentIds|menubar_items()|bulletin_related_articles( content.getFieldValue('related_articles').destinationContentIds )
                }
            ) }}
        </div>
        {% endif %}
    </div>

    {% endblock %}

    {% block sidebar %}
    {% if bulletin_issue.content.getField("cover_image").value.id is defined %}
    <div class="bulletin-cover">
        {% set image_alias = ez_image_alias( bulletin_issue.content.getField("cover_image"), bulletin_issue.content.versionInfo, 'large') %}
        {% if image_alias %}<img class="img-responsive center-block" src="{{ asset(image_alias.uri) }}" width="{{ image_alias.width }}" height="{{ image_alias.height }}" data-toggle="modal" data-target=".bulletin-cover-image" />{% endif %}
        {% if bulletin_issue.content.getFieldValue('issue_pdf').id %}
        <p class="text-center"><a href="/content/download/{{ bulletin_issue.content.id }}/{{ bulletin_issue.content.getField('issue_pdf').id }}/{{ bulletin_issue.content.getFieldValue('issue_pdf').fileName }}">Complete Issue</a> ({{ (bulletin_issue.content.getFieldValue('issue_pdf').fileSize / (1024 * 1024))|number_format( 2 ) }} MB PDF)</p>
        {% endif %}

        <div class="modal fade bulletin-cover-image">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        {% set image_alias = ez_image_alias( bulletin_issue.content.getField("cover_image"), bulletin_issue.content.versionInfo, 'original') %}
                        <img class="img-responsive center-block" src="{{ asset(image_alias.uri) }}" width="{{ image_alias.width }}" height="{{ image_alias.height }}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="panel panel-default">
        <nav class="sidemenu">
            <div class="panel-heading"><h2>{{ content.getFieldValue('journal') == 'ade' ? 'ADE Bulletin' : 'ADFL Bulletins'  }}</h2></div>
            <div class="panel-body collapse-menu collapse in">
                {% set current_bulletin_issue = get_current_bulletin_issue( bulletin_issue.location.parentLocationId ) %}
                {{ menubar(
                    {
                        id: 'side-nav',
                        class: "nav nav-pills nav-stacked",
                        items: [
                            {
                                content: 'Current Issue',
                                link: sitelink( current_bulletin_issue, quote = false ),
                                class: current_bulletin_issue.id == bulletin_issue.location.id ? 'active' : ''
                            },
                            {
                                content: 'Browse All Issues',
                                link: sitelink( bulletin_issue.location.parentLocationId, quote = false )
                            },
                            {
                                content: 'Search the Bulletin',
                                link: '/bulletin/search'
                            }
                        ]
                    },
                    template = "ProjectSiteBundle:menu:side_menu.html.twig"
                ) }}
            </div>
        </nav>
    </div>

    {% endblock %}

{% endembed %}

{% endblock %}