{% extends pagedata.layout %}

{% block page_title %}{{ content.contentInfo.name|simple_text_format|striptags() }}{% endblock %}

{% block content %}

{% embed ( pagedata.is_primary_siteaccess ? "ProjectSiteBundle:layouts:two_column.html.twig" : "ProjectSiteBundle:layouts/microsite:two_column.html.twig" ) %}
    {% block main_content_area %}

        <h1 id="pagetitle">{{ content.contentInfo.name|bulletin_header()|simple_text_format }}</h1>

        <div id="bulletin-issn">ISSN: <strong>{{ content.getFieldValue('issn') }}</strong></div>

        {% set volume_number = content.getFieldValue('volume_number').value %}
        {% set previous_issue = get_bulletin_issue_by_volume_number( volume_number - 1 ) %}
        {% set next_issue = get_bulletin_issue_by_volume_number( volume_number + 1 ) %}

        <ul class="pager">
            {% if previous_issue %}<li class="previous"><a href={{ sitelink( previous_issue ) }}>&lt; Previous</a></li>{% endif %}
            <li><a href={{ sitelink(location.parentLocationId) }}>Issue List</a></li>
            {% if next_issue %}<li class="next"><a href={{ sitelink( next_issue ) }}>Next &gt;</a></li>{% endif %}
        </ul>

        {% set bulletin_articles = get_bulletin_articles(location) %}

        {% if bulletin_articles %}
        {% for page_number, bulletin in bulletin_articles %}

        {% if bulletin.article_category is defined %}
        <h{{ bulletin.level + 1 }} class="bulletin-category">{{ bulletin.article_category|simple_text_format }}</h{{ bulletin.level + 1 }}>
        {% else %}
        <div class="row content-view-line content-type-bulletin_artcle">
            <div class="col col-xs-1">{% if page_number and not ( page_number == 999 ) %}{{ bulletin.getFieldValue('page_first') }}{% endif %}</div>
            <div class="col col-xs-11">
                <h2><a href={{ sitelink(bulletin) }}>{{ bulletin.contentInfo.name|simple_text_format }}</a></h2>
                <div class="author">{% for author in bulletin.getFieldValue('article_author')|split(';') %}<a href="/bulletin/search?query={{ author|trim() }}&amp;type=author">{{ author|trim() }}</a>{% if not loop.last %}, {% endif %}{% endfor %}</a></div>
                <div><a href="/content/download/{{ bulletin.id }}/{{ bulletin.getField('file').id }}/{{ bulletin.getFieldValue('file').fileName }}">View Text (PDF)</a></div>
            </div>
        </div>
        {% endif %}

        {% endfor %}
        {% endif %}

    {% endblock %}

    {% block sidebar %}
    {% if not ez_is_field_empty(content, "cover_image_ml") %}
    {% set ml_image = content.fields.cover_image_ml['eng-US'].destinationContentId|objectfetch() %}
    <div class="bulletin-cover">
        {% set image_alias = ez_image_alias( ml_image.getField("image"), ml_image.versionInfo, 'large') %}
        {% if image_alias %}<img class="img-responsive center-block" src="{{ asset(image_alias.uri) }}" width="{{ image_alias.width }}" height="{{ image_alias.height }}" data-toggle="modal" data-target=".bulletin-cover-image" />{% endif %}
        {% if content.getFieldValue('issue_pdf').id %}
        <p class="text-center"><a href="/content/download/{{ content.id }}/{{ content.getField('issue_pdf').id }}/{{ content.getFieldValue('issue_pdf').fileName }}">Complete Issue</a> ({{ (content.getFieldValue('issue_pdf').fileSize / (1024 * 1024))|number_format( 2 ) }} MB PDF)</p>
        {% endif %}
        <div class="modal fade bulletin-cover-image">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        {% set image_alias = ez_image_alias( content.getField("cover_image"), content.versionInfo, 'original') %}
                        <img class="img-responsive center-block" src="{{ asset(image_alias.uri) }}" width="{{ image_alias.width }}" height="{{ image_alias.height }}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="panel panel-default">
        <nav class="sidemenu">
            <div class="panel-heading"><h2>{{ content.getFieldValue('journal') == 'ade' ? 'ADE Bulletin' : 'ADFL Bulletins'  }}</h2></div>
            <div class="panel-body collapse-menu collapse in">
                {% set current_bulletin_issue = get_current_bulletin_issue( location.parentLocationId ) %}
                {{ menubar(
                    {
                        id: 'side-nav',
                        class: "nav nav-pills nav-stacked",
                        items: [
                            {
                                content: 'Current Issue',
                                link: sitelink( current_bulletin_issue, quote = false ),
                                class: current_bulletin_issue.id == location.id ? 'active' : ''
                            },
                            {
                                content: 'Browse All Issues',
                                link: sitelink( location.parentLocationId, quote = false )
                            },
                            {
                                content: 'Search the Bulletin',
                                link: '/bulletin/search'
                            }
                        ]
                    },
                    template = "ProjectSiteBundle:menu:side_menu.html.twig"
                ) }}
            </div>
        </nav>
    </div>
    {% endblock %}

{% endembed %}

{% endblock %}