{% extends "ProjectSiteBundle::pagelayout.html.twig" %}

{% block page_title %}{{ content.contentInfo.name|simple_text_format|striptags() }}{% endblock %}

{% block content %}

    {% embed "ProjectSiteBundle:layouts:two_column.html.twig" %}
        {% block main_content_area %}

            <h1 id="pagetitle">{{ content.contentInfo.name|simple_text_format }}</h1>

            {# Get event times #}
            {% set event_start =  content.getFieldValue("from_time").value %}
            {% set event_end = content.getFieldValue("to_time").value %}
            {% set timezone = "" %}

            {# Display event times #}
            {% if event_start or not ez_is_field_empty(content, "display_date") %}
                <div class="event-item">

                    <div class="col-xs-12 col-sm-2">
                        <strong>Date</strong>
                    </div>

                    <div class="col-xs-12 col-sm-10">

                        {# Event with display date #}
                        {% if not ez_is_field_empty(content, "display_date") %}{{-
                        
                            content.getFieldValue("display_date").text

                        -}}
                        {# Event that ends on same day #}
                        {% elseif not event_end or event_start|date("j/n/Y", timezone) == event_end|date("j/n/Y", timezone) %}{{-
                        
                            event_start|date("F j, Y", timezone)
                    
                        -}}
                        {# Event that ends in same month #}
                        {% elseif event_end and event_start|date("n/Y", timezone) == event_end|date("n/Y", timezone) %}{{-

                            event_start|date("F j", timezone) ~
                            " – " ~
                            event_end|date("j, Y", timezone)

                        -}}
                        {# Event that begins/ends in different months #}
                        {% elseif event_end and event_start|date("n") != event_end|date("n") and event_start|date("Y") == event_end|date("Y") %}{{-

                            event_start|date("F j", timezone) ~
                            " – " ~
                            event_end|date("F j, Y", timezone)

                        -}}
                        {# Event that begins/ends in different year #}
                        {% else %}{{-

                            event_start|date("F j, Y", timezone) ~
                            " – " ~
                            event_end|date("F j, Y", timezone)

                        -}}{% endif %}
                    </div>
                    <div class="clear"></div>
                </div>
                {#
                <div class="event-item">
                    <div class="col-xs-12 col-sm-2">
                        <strong>Time</strong>
                    </div>
                    <div class="col-xs-12 col-sm-10">
                        {{ event_start|date("g:ia") }}
                        {% if event_end %}
                    </div>
                    <div class="clear"></div>
                </div>
                #}
            {% endif %}

            {# Display tags #}
            {% if not ez_is_field_empty(content, "tags") %}
                <div class="event-item">
                    <div class="col-xs-12 col-sm-2">
                        <strong>Tagged</strong>
                    </div>
                    <div class="col-xs-12 col-sm-10">
                        {{ content.getFieldValue("tags").__toString() }}
                    </div>
                    <div class="clear"></div>
                </div>
            {% endif %}

            {# Display Content #}
            <div class="event-item">
                <div class="fieldtype-xmltext">
                {{ ez_render_field(content, "text") }}
                </div>
            </div>

        {% endblock %}
    {% endembed %}
{% endblock %}