{% extends "ProjectSiteBundle::pagelayout.html.twig" %}

{% block page_title %}{{ content.contentInfo.name|simple_text_format|striptags() }}{% endblock %}

{% block content %}

    {% embed "ProjectSiteBundle:layouts:two_column.html.twig" %}
        {% block main_content_area %}

            <h1 id="pagetitle">{{ content.contentInfo.name|simple_text_format }}</h1>

            <div class="content event_calendar event_calendar-full">

                {# Description #}
                {% if not ez_is_field_empty(content, "content") %}
                    <div class="fieldtype-xmltext">
                        {{ ez_render_field(content, "content") }}
                    </div>
                {% endif %}

                {# Display calendar #}
                <div class="tc-calendar mla-calendar">
                    {{ render_esi(
                        controller(
                            "ProjectSiteBundle:Calendar:controls",
                            {
                                "location_id" : location.id,
                                "embed" : false
                            }
                        )
                    )}}
                    {% for i in 0..2 %}
                        {{ render_esi(
                            controller(
                                "ThinkCreativeCalendarBundle:Calendar:index",
                                {
                                    "location_id" : location.id,
                                    "base_template" : "ProjectSiteBundle:parts:event_calendar/base.html.twig",
                                    "format" : "html",
                                    "date" : ("+" ~ i ~ " year")|date("U")
                                }
                            )
                        ) }}
                    {% endfor %}
                </div>
            </div>
        {% endblock %}
    {% endembed %}

{% endblock %}