{% extends "ProjectSiteBundle::pagelayout.html.twig" %}

{% block page_title %}{{ content.contentInfo.name|simple_text_format|striptags() }}{% endblock %}

{% block content %}

{% embed "ProjectSiteBundle:layouts:two_column.html.twig" %}
    {% block main_content_area %}
        {% set faq_list = get_faq_list(location) %}

        <h1 id="pagetitle">{{ content.contentInfo.name|simple_text_format }}</h1>

        <div id="accordion">
            {% if faq_list %}
            {% for faq in faq_list %}
            <h4 class="accordion_title">{{ faq.getFieldValue('question') }}</h4>
            <div class="accordion_content">
                {{ ez_render_field(faq, 'answer') }}
            </div>
            {% endfor %}
            {% endif %}
        </div>

    {% endblock %}
{% endembed %}

{% endblock %}