{% extends pagedata.layout %}

{% block body_class_list %}{% if content.getFieldValue("disable_responsive").bool %}{{ parent()|replace({"responsive" : ""}) }}{% else %}{{ parent() }}{% endif %}{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% if content.getFieldValue("disable_responsive").bool %}
{% stylesheets output="css/primary.css" filter="cssrewrite,compass,sass"
    "bundles/projectsite/sass/disable_responsive.scss"
%}
<link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endif %}
{% endblock %}

{% block page_title %}{{ content.getFieldValue("name").text|simple_text_format|striptags() }}{% endblock %}

{% block content %}
{% embed ( pagedata.is_primary_siteaccess ? "ProjectSiteBundle:layouts:two_column.html.twig" : "ProjectSiteBundle:layouts/microsite:two_column.html.twig" ) %}
    {% block main_content_area %}

        <h1 id="pagetitle">{% autoescape false %}{{ content.getFieldValue("name").text|simple_text_format }}{% endautoescape %}</h1>
        {% if not ez_is_field_empty(content, "description") %}
            <div class="fieldtype-xmltext">
                {{ ez_render_field(content, 'description') }}
            </div>
        {% endif %}

        {% if content.getField('show_children').value.bool %}

            {{ render_esi(
                controller(
                    "ThinkCreativeSubItemListBundle:SubItemList:fetch",
                    {
                        "template" : "ProjectSiteBundle:parts:subitem_list_pagination.html.twig",
                        "fetchParams" : {
                            "parentLocationId" : location.id,
                            "contentType" : [ 'folder', 'article', 'event', 'event_calendar', 'link', 'imported_page', 'product' ],
                            "limit" : app.request.query.get("limit") ?: (content.fields.subitem_limit['eng-US'].value ?: 10),
                            "offset" : app.request.query.get("offset") ?: 0,
                        },
                        "templateParams" : {
                            "limit" : app.request.query.get("limit") ?: (content.fields.subitem_limit['eng-US'].value ?: 10),
                            "offset" : app.request.query.get("offset") ?: 0,
                        }
                    }
                )
            ) }}

        {% endif %}

    {% endblock %}
{% endembed %}

{% endblock %}