{% extends pagedata.layout %}

{% block page_title %}{{ content.contentInfo.name|simple_text_format|striptags() }}{% endblock %}

{% block content %}

    {% embed ( pagedata.is_primary_siteaccess ? "ProjectSiteBundle:layouts:two_column.html.twig" : "ProjectSiteBundle:layouts/microsite:two_column.html.twig" ) %}
        {% block main_content_area %}
            <div class="field-header">
                <h1 id="pagetitle">{{ content.contentInfo.name|simple_text_format }}</h1>
            </div>

            <div>
            {{ menubar(
                {
                    "menu_root": location.id,
                    "header": "Imported Child Sections",
                    "filter": [
                        {
                            "content_type_identifier": {IN: [ "imported_section" ]}
                        }
                    ],
                    "sort": {
                        "content_name": "ASC"
                    }
                }
            ) }}
            </div>

            <div>
            {{ menubar(
                {
                    "menu_root": location.id,
                    "header": "Imported Child Pages",
                    "filter": [
                        {
                            "content_type_identifier": {IN: [ "imported_page" ]}
                        }
                    ],
                    "sort": {
                        "content_name": "ASC"
                    }
                }
            ) }}
            </div>
        {% endblock %}
    {% endembed %}

{% endblock %}