{% extends pagedata.layout %}

{% block page_title %}{{ content.getFieldValue("page_title").text|simple_text_format|striptags }}{% endblock %}

{% block content %}
    {% embed ( pagedata.is_primary_siteaccess ? "ProjectSiteBundle:layouts:two_column.html.twig" : "ProjectSiteBundle:layouts/microsite:two_column.html.twig" ) %}
        {% block main_content_area %}
            <h1 id="pagetitle">{% autoescape false %}{{ content.getFieldValue("page_title").text|simple_text_format }}{% endautoescape %}</h1>
            {{ ez_render_field(content, "body") }}
        {% endblock %}
    {% endembed %}
{% endblock %}