{% extends pagedata.layout %}

{% block content %}
    <h1>{{ content.getFieldValue("name").text|simple_text_format }}</h1>
    {{ ez_render_field(content, "audio", {"player" : "GWKyV9rT"}) }}
{% endblock %}