{% extends pagedata.layout %}

{% block content %}
{% if pagedata.is_primary_siteaccess %}
    {% embed "ProjectSiteBundle:layouts:five_zone.html.twig" %}
        {% block top_left_zone %}
            {{ render_esi(controller("ProjectSiteBundle:HomePageLink:index", {
                "objectArray" : content.fields.signature_links['eng-US'].destinationContentIds,
            }))}}
        {% endblock %}
        {% block top_right_zone %}
            <div class="main-content-area">
            {{ ez_render_field(content, 'content') }}
            </div>
        {% endblock %}
        {% block bottom_left_zone %}
            <div class="left zone">
            {{ ez_render_field(content, 'left_zone') }}
            </div>
        {% endblock %}
        {% block bottom_center_zone %}
            <div class="center zone">
            {{ ez_render_field(content, 'center_zone') }}
            </div>
        {% endblock %}
        {% block bottom_right_zone %}
            <div class="right zone">
            {{ ez_render_field(content, 'right_zone') }}
            </div>
        {% endblock %}
    {% endembed %}
{% else %}
    {% embed "ProjectSiteBundle:layouts/microsite:two_column.html.twig" %}
        {% block main_content_area %}
            {{ ez_render_field( content, "right_zone" ) }}
        {% endblock %}

        {% block sidebar %}
            {{ ez_render_field( content, "left_zone" ) }}
        {% endblock %}
    {% endembed %}
{% endif %}
{% endblock %}
