{% extends pagedata.layout %}

{# Title #}
{% block page_title %}
    {% if searchResults.getQueryString() and searchResults.getQueryString() != "*:*" %}
    Search Results for '{{ searchResults.getQueryString() }}'
    {% else %}
    Search Results
    {% endif %}
{% endblock %}

{# Breadcrumbs #}
{% block breadcrumbs %}

    {% if sectionLocation is defined and sectionLocation %}
        {{ menubar(
            {
                "items": sectionLocation|location_path(ezpublish.rootlocation.id)|menubar_items()
            },
            template = "ProjectSiteBundle:menu:breadcrumb.html.twig"
        )|replace(
            {
                ('<li class="location-id-' ~ sectionLocation.id ~ ' active">' ~ sectionLocation.contentInfo.name|simple_text_format) : '<li class="location-id-' ~ sectionLocation.id ~ '"><a href=' ~ sitelink(sectionLocation) ~ '>' ~ sectionLocation.contentInfo.name|simple_text_format ~ '</a>',
                "</ol>":"<li class='active'>Search Results</li></ol>"
            })|raw 
        }}

    {% else %}
        <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Search</li>
        </ol>
    {% endif %}

{% endblock %}

{# Main body content #}
{% block content %}

    <div id="search-page">
        {% include "ProjectSiteBundle:parts:search/search_page.html.twig" %}
    </div>

{% endblock %}