{% extends "ProjectSiteBundle::pagelayout.html.twig" %}

{% block page_title %}{{ content.contentInfo.name|simple_text_format|striptags() }}{% endblock %}

{% block content %}
    {% embed "ProjectSiteBundle:layouts:two_column.html.twig" %}
        {% block main_content_area %}

            <h1 id="pagetitle">{{ content.contentInfo.name|simple_text_format }}</h1>

            {% if not ez_is_field_empty(content, "description") %}
                <div class="fieldtype-xmltext">
                    {{ ez_render_field(content, 'description') }}
                </div>
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}