{% extends "ProjectSiteBundle::pagelayout.html.twig" %}

{% block page_title %}{{ tag.keyword|simple_text_format|striptags }}{% endblock %}

{% block content %}

    <h1 class="page-title">{{ tag.keyword|simple_text_format }}</h1>

    <div class="col-sm-6">

        {% for child in children %}
            {% if children|length >= 2 and loop.index > children|length / 2 %}
                </div><div class="col-sm-6">
            {% endif %}

            <div class="tag">
                <a href="{{ path("eztags_tag_view_id", {"tagId" : child.id}) }}">{{ child.keyword|simple_text_format }}</a>
            </div>
        {% endfor %}

    </div>
{% endblock %}
