<div class="well">
    {% if content is defined and content %}
        <p>{{ content|raw }}</p>
    {% endif %}
    <div class="mla-form">
        {% form_theme form "ProjectMemberBundle:parts:form/themes/default.html.twig" %}
        {{ form_start(form) }}
        {{ form_end(form) }}
        <div class="clear"></div>
    </div>
</div>