{% autoescape false %}
{% if breadcrumbs %}
<ol class="breadcrumb">
{% for item in breadcrumbs %}
    <li{% if loop.last %} class="active"{% endif %}>{% spaceless %}
        {% if item.uri and not loop.last %}<a href="{{ item.uri }}">{% endif %}{% spaceless %}
            {{ loop.first ? 'Home' : item.name }}
        {% endspaceless %}{% if item.uri and not loop.last %}</a>{% endif %}
    {% endspaceless %}</li>
{% endfor %}
</ol>
{% endif %}
{% endautoescape %}
