{# Cart Area #}
{{
    render_esi(
        controller(
            "ProjectProductBundle:Order:cartCountSidebar"
        )
    )
}}

{# Search #}
{{
    render_esi(
        controller(
            "ProjectProductBundle:Order:searchSidebar"
        )
    )
}}

<div class="clear"></div>