{# ThinkCreative Calendar Base #}
{% if events|length > 0 %}
    <div id="tc-calendar-{{ instance_id }}" data-instance-id="{{ instance_id }}" data-location-id="{{ location_id }}" data-date="{{ view.visibleStartDate() }}" data-offset="{{ offset }}" class="tc-calendar mla-calendar{% if embedCalendarView is defined and embedCalendarView %} embed{% endif %}">

        {% if embedCalendarView is not defined or not embedCalendarView %}
        <div class="panel-group">
            <div class="panel panel-default">

                <div class="panel-heading">
        {% endif %}

                    {# Title #}
                    {% if embedCalendarView is not defined or not embedCalendarView %}
                    <div class="tc-calendar-title-area">

                        {# Calendar Title -- Defined in view class #}
                        <div class="col-xs-12 col-md-8">
                            <strong class="tc-calendar-title">
                                {{ view.headerTitle(language)|simple_text_format }}
                            </strong>
                        </div>
                        
                        <div class="col-xs-12 col-md-4 pagination-container">

                            {# Pagination -- Defined in view class #}
                            {# {% if view.prevPage() or view.nextPage() %}
                                <ul class="pagination">
                                    <li{% if not view.prevPage() %} class="disabled"{% endif %}><a class="tc-calendar-prev" href="{% if view.prevPage() %}?{{ prev_page }}{% else %}#{% endif %}" />&laquo;</a> </li>
                                    <li{% if not view.nextPage() %} class="disabled"{% endif %}><a class="tc-calendar-next" href="{% if view.nextPage() %}?{{ next_page }}{% else %}#{% endif %}" />&raquo;</a></li>
                                </ul>
                            {% endif %}
                            #}

                        </div>
                        <div class="clear"></div>
                    </div>
                    {% endif %}
                    <div class="clear"></div>

                {% if embedCalendarView is not defined or not embedCalendarView %}
                </div>

                <div class="panel-default">
                {% endif %}

                    {# Calendar Display #}
                    <div class="tc-view">
                        {% include template %}
                    </div>            

        {% if embedCalendarView is not defined or not embedCalendarView %}
                </div>
            </div>
        </div>
        {% endif %}

    </div>
{% endif %}

{% if embedCalendarView is defined and embedCalendarView and events|length == 0 %}
    <em>No Events Available</em>
{% endif %}