 <form role='form' class='tc-calendar-controls form-horizontal' action='' method='get'>
    {# Calendar Filters #}
    <div class="filter-list col-md-8 col-sm-12">
        {% for filterObject in filters %}
            {% if filterObject.availableFilterValues() %}
                    <div class="filter-group filter-{{ filterObject.getFilterName() }}">
                    <div class="filter-name">
                        <strong>{{ filterObject.filterCategoryName(language) }}</strong>
                    </div>

                    {% for filterValue in filterObject.availableFilterValues() %}
                        <div class='checkbox col-sm-5 col-xs-12'>
                            <label title="{{ filterValue.name }}">
                                <input type='checkbox' disabled='disabled' name='filter_{{ filterObject.getFilterName() }}[]' id='filter_{{ filterObject.getFilterName() }}_{{ loop.index }}' value="{{ filterValue.value }}"{% for selectedFilterValue in filterObject.selectedFilterValues() %}{% if selectedFilterValue.value == filterValue.value %} checked="checked"{% endif %}{% endfor %} />
                                {% if filterValue.color.bg is defined and filterValue.color.bg %}
                                    <div class='colorbox' style='background-color: {{ filterValue.color.bg  }};'></div>
                                {% else %}
                                    <div class='colorbox' style='background-color: transparent; border: none; width: 1px;'></div>
                                {% endif %}
                                <span>{{ filterValue.name|simple_text_format }}</span>
                            </label>
                        </div>
                    {% endfor %}
                    <div class="clear"></div>
                </div>
            {% endif %}
        {% endfor %}
        <div class="clear"></div>
    </div>

    {# Timezones #}
    {# {% if embedCalendarView is not defined or not embedCalendarView %}
        <div class="timezone col-md-4 col-sm-12">
            <label for="tc-timezone">
                Timezone
            </label>
            <select name="timezone" id="tc-timezone" disabled="disabled">
                {% for tzlist in [
                    ['America/New_York', "Eastern"],
                    ['America/Chicago', "Central"],
                    ['America/Denver', "Mountain"],
                    ['America/Los_Angeles', "Pacific"],
                    ['America/Anchorage', "Alaska"],
                    ['America/Adak', "Hawaii"]
                ] %}
                <option{% if tzlist[0] == timezone %} selected="selected"{% endif %} value="{{ tzlist[0] }}">{{ tzlist[1] }}</option>
                {% endfor %}
            </select>
        </div>
    {% endif %} #}
    <div class="clear"></div>
</form>