<div class="tc-calendar-list mla-calendar-list">
    {% for event in events %}

        {# {% if year != events.0.date.start|date("Y", timezone) %}
            {% set year = events.0.date.start|date("Y", timezone) %}
            <div class="calendar-year">
                <h3>{{ year }}</h3>
            </div>
        {% endif %} #}

        <div class="tc-calendar-list-item{% if loop.last %} last{% endif %}">
            <a name="event-{{ event.valueObject.contentInfo.mainLocationId }}"></a>
            <div class="event-date col-xs-12 col-sm-2">
                {# Event Color #}
                {% if event.colors.bg is defined and event.colors.bg %}
                    <div class="colorbox" style="background-color: {{ event.colors.bg }};"></div>
                {% endif %}

                {# Event with display date #}
                {% if not ez_is_field_empty(event.valueObject, "display_date") %}{{-
                    event.valueObject.getFieldValue("display_date").text|trim()
                -}}

                {# Event that ends on same day #}
                {% elseif not event.date.end or event.date.start|date("j/n/Y", timezone) == event.date.end|date("j/n/Y", timezone) %}{{-
                
                    event.date.start|date("j M", timezone)
            
                -}}{% if event.date.start|date("M", timezone) != event.date.start|date("F", timezone) %}.{% endif %}
                {# Event that ends in same month #}
                {% elseif event.date.end and event.date.start|date("n/Y", timezone) == event.date.end|date("n/Y", timezone) %}{{-

                    event.date.start|date("j", timezone) ~
                    "–" ~
                    event.date.end|date("j M", timezone)

                -}}{% if event.date.start|date("M", timezone) != event.date.start|date("F", timezone) %}.{% endif %}
                {# Event that begins/ends in different months #}
                {% else %}{{-

                    event.date.start|date("j M", timezone) ~
                    " – " ~
                    event.date.end|date("j M", timezone)

                -}}{% if event.date.start|date("M", timezone) != event.date.start|date("F", timezone) %}.{% endif %}{% endif %}
                
            </div>
            <div class="event-description col-xs-12 col-sm-10">
                {% set link_to_full = ez_is_field_empty(event.valueObject, "no_event_full") ? true : not event.valueObject.getFieldValue("no_event_full").bool %}
                {% set supress_title = ez_is_field_empty(event.valueObject, "suppress_title") ? false : event.valueObject.getFieldValue("suppress_title").bool %}
                {% set supress_time = ez_is_field_empty(event.valueObject, "suppress_time") ? false : event.valueObject.getFieldValue("suppress_time").bool %}

                {% if link_to_full and not supress_title %}
                <a class="event-title" href="{{ path('ez_urlalias', {'locationId' : event.valueObject.contentInfo.mainLocationId }) }}">
                    {{ event.title|simple_text_format }}
                </a>
                {% elseif not supress_title %}
                    {{ event.title|simple_text_format }}
                {% endif %}
                {% if event.title and not supress_title and event.description|trim() %} &ndash;{% endif %}
                {{ event.description }}
                {% if not supress_time %}
                    {% if event.allDay %}(all day){% else %}@{{ event.date.start|date("g:iA", timezone) }}{% endif %}
                {% endif %}
            </div>
            <div class="clear"></div>            
        </div>
    {% endfor %}

    {% if events|length <= 0 %}
        <div class="tc-calendar-list-item last">
            <div class="no-events">
                {{ view.noEventsText(language) }}
            </div>
        </div>
    {% endif %}
</div>