<div class="tc-calendar-list mla-calendar-list">

    {% for event in events %}


        <div class="tc-calendar-list-item{% if loop.last %} last{% endif %}">
            <span class="event-date">

                {# Event with display date #}
                {% if not ez_is_field_empty(event.valueObject, "display_date") %}{{-
                
                    event.valueObject.getFieldValue("display_date").text|trim()|trim(".")

                -}}.
                {# Event that ends on same day #}
                {% elseif not event.date.end or event.date.start|date("j/n/Y", timezone) == event.date.end|date("j/n/Y", timezone) %}{{-
                
                    event.date.start|date("j M", timezone)
            
                -}}.
                {# Event that ends in same month #}
                {% elseif event.date.end and event.date.start|date("n/Y", timezone) == event.date.end|date("n/Y", timezone) %}{{-

                    event.date.start|date("j", timezone) ~
                    "–" ~
                    event.date.end|date("j M", timezone)

                -}}.
                {# Event that begins/ends in different months #}
                {% else %}{{-

                    event.date.start|date("j M", timezone) ~
                    " – " ~
                    event.date.end|date("j M", timezone)

                -}}.{% endif %}
                
            </span>
            <span class="event-description">
                {% set link_to_full = ez_is_field_empty(event.valueObject, "no_event_full") ? true : not event.valueObject.getFieldValue("no_event_full").bool %}
                {% set supress_title = ez_is_field_empty(event.valueObject, "suppress_title") ? false : event.valueObject.getFieldValue("suppress_title").bool %}
                {% set supress_time = ez_is_field_empty(event.valueObject, "suppress_time") ? false : event.valueObject.getFieldValue("suppress_time").bool %}

                {% if link_to_full %}
                <a class="event-title" href="{{ path('ez_urlalias', {'locationId' : event.valueObject.contentInfo.mainLocationId }) }}">
                {% else %}
                <a class="event-title" href="{{ path("ez_urlalias", {"locationId" : location_id }) }}#event-{{ event.valueObject.contentInfo.mainLocationId }}">
                {% endif %}

                    {% if not ez_is_field_empty(event.valueObject, "short_title") %}
                        <h6>{{ event.valueObject.getFieldValue("short_title") }}</h6>
                    {% else %}
                        <h6>{{ event.title }}</h6>
                    {% endif %}
                    {# <p>{{ event.description|striptags[0:64] }}{{ event.description|length > 64 ? "..." : "" }}</p> #}

                </a>
                
                {# 
                {% if event.title and not supress_title and event.description|trim() %} &ndash;{% endif %}
                {{ event.description }}
                {% if not supress_time %}
                    {% if event.allDay %}(all day){% else %}@{{ event.date.start|date("g:iA", timezone) }}{% endif %}
                {% endif %}
                #}

            </span>
            <div class="clear"></div>
        </div>
    {% endfor %}

    {% if events|length <= 0 %}
        <div class="tc-calendar-list-item last">
            <div class="no-events">
                {{ view.noEventsText(language) }}
            </div>
        </div>
    {% endif %}

    <a href="{{ path("ez_urlalias", {"locationId" : location_id }) }}">{{ view_all_text is defined and view_all_text ? view_all_text : "View All Events" }}</a>

</div>