{% if not ((has_login is defined and has_login) or form.has_login.vars.value) %}
    <h2>Username and Password</h2>
    <p>
        Please select a user name and password to use when you log in to the MLA Web site and the MLA Commons. Your user name will be displayed in your profile on the Commons and used in mentions by other members, so we encourage you to choose a user name that you want as part of your professional profile. 
    </p>

    {% set attr = {} %}
    {% if ((has_login is defined and has_login) or form.has_login.vars.value) %}
        {% set attr = attr|merge({ "readonly" : true }) %}
    {% endif %}
    {{ form_row(form.authentication.username, {"required" : not ((has_login is defined and has_login) or form.has_login.vars.value), "attr" : attr }) }}

    <div class="form-row form-row-update_password{% if form.authentication.update_password.old_password.vars.errors|length > 0 or form.authentication.update_password.password.first.vars.errors|length > 0 %} has-feedback has-error{% endif %}">

        {# {{ form_label(form.authentication.update_password) }} #}

        {% set oldPassword = form_row(form.authentication.update_password.old_password) %}
        {% if ((has_login is defined and has_login) or form.has_login.vars.value) %}
            {{ oldPassword|raw }}
        {% endif %}

        <div class="form-row form-row-first{% if form.authentication.update_password.password.first.vars.errors|length > 0 %} has-feedback has-error{% endif %}">
            {% if ((has_login is defined and has_login) or form.has_login.vars.value) %}
                {{ form_label(form.authentication.update_password.password.first) }}
            {% else %}
                <label for="{{ form.authentication.update_password.password.first.vars.id }}" class="required">Password</label>
            {% endif %}
            <span class="help-block">Your password must contain at least 8 characters, including one uppercase letter, one lowercase letter, and one digit (0 through 9). It cannot include your user name.</span>
            {{ form_errors(form.authentication.update_password.password.first) }}
            {{ form_widget(form.authentication.update_password.password.first, {"attr" : { "class" : "form-control" ~ (((has_login is defined and has_login) or form.has_login.vars.value) ? "" : " required") }}) }}
        </div>
        {{ form_row(form.authentication.update_password.password.second, {"attr" : { "class" : "form-control" ~ (((has_login is defined and has_login) or form.has_login.vars.value) ? "" : " required") } }) }}

    </div>

{% else %}
    <div class="hidden">
        {{ form_row(form.authentication) }}
    </div>
{% endif %}