<h2>Primary Forum Affiliation</h2>

<div class="forum-selection">
    <div class="js-forum-selection">
        <input type="text" class="forum-typeahead form-control" placeholder="Type a term to find forums" />
        <div class="selection-list well">
        </div>
    </div>
</div>

{{ form_start(form) }}
<div style="display:none;">
    {{ form_row(form.submit) }}
</div>
{{ form_end(form) }}