<h2>Privacy Settings</h2>

{% if member is defined %}
    {% for field in form.privacy.getIterator() %}
        {% if field.vars.name[0:7] == "address" %}
            {% set hasAddress = false %}
            {% for address in member.get("addresses") %}
                {% if address.type == field.vars.name[8:] %}
                    {% if address.line1 and address.city and address.state and address.zip %}
                        {% set hasAddress = true %}
                        {{ form_row(field) }}
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% if not hasAddress %}
                <div class="hidden">
                    {{ form_row(field) }}
                </div>
            {% endif %}                
        {% else %}
            {{ form_row(field) }}
        {% endif %}
    {% endfor %}
{% else %}
    {{ form_row(form.privacy) }}
{% endif %}