<div class="product-list-customtag">

    {% if count > limit %}
        <a class="pull-right" href="{{ more_uri }}">More</a>
    {% endif %}
    <h3>{{ category_title|simple_text_format }}</h3>

    {% for content in content_objects %}
        {% if content %}
            {% include "ProjectProductBundle:embed:product.html.twig" with {
                "content" : content, 
                "cover_image_field" : product_images[content.contentInfo.id].cover_image_field is defined ? product_images[content.contentInfo.id].cover_image_field : null,  
                "cover_image_version" : product_images[content.contentInfo.id].cover_image_version is defined ? product_images[content.contentInfo.id].cover_image_version : null,  
                "cover_image_alt" : product_images[content.contentInfo.id].cover_image_alt is defined ? product_images[content.contentInfo.id].cover_image_alt : null, 
                "cover_image_variation" : image_variation is defined ? image_variation : null
            } %}
        {% endif %}
    {% endfor %}
    <div class="clear"></div>

</div>
<div class="clear"></div>