<img src="/IMAGES/phillylogo_web.gif" width=200 height=112 vspace=2 border=0 alt="PMLA"><h1>2006 Registration and Housing FAQ</h1>
<h2>Chair Mailing and Suite Requests:</h2>
<b>Q. My colleague/chair has received the registration and housing packet, but I have not.</b>
A. There is an early mailing that is sent only to chairs of departments that were members of ADE (Associated Departments of English) or ADFL (Associated Departments of Foreign Languages) by the 23 June deadline. Membership in ADE and ADFL is separate from individual MLA memberships and is a departmental membership. If your department is listed in the ADE or ADFL rolls, the early chair mailing gets sent automatically to the chair whose name is listed in the ADE or ADFL database. The purpose of this early mailing is to provide interviewing departments with a chance to reserve a suite for conducting interviews. This early mailing is one of the benefits of membership in ADE and ADFL and cannot be sent on request. The regular mailing of the registration and housing packet will be sent to all MLA members in early September.

<b>Q. I am the chair of my department and have not received the early chair mailing.</b>
A. Was your department a member of ADE or ADFL by the 23 June deadline? If so, the mailing was sent to the person who was listed as chair at that time. If you are the new chair of your department, check to see if the mailing was sent to your predecessor. If your department was not a current member of ADE or ADFL by 23 June, you will have to wait for the regular member mailing, which is mailed in early September. If you have questions about whether or not you should receive the early chair mailing, please contact Roy Chustek (<a href="mailto:rchustek@mla.org">rchustek@mla.org</a>).

<b>Q. How can we reserve two (or more) suites for interviewing purposes?</b>
A. Because of the large number of departments that wish to reserve suites for interview purposes and the limited number of suites available, each department is able to request only one suite in response to the early chair mailing. 

<b>Q. How can I guarantee that we have a suite for interviewing?</b>
A. There is no guarantee that there will be enough suites for every person or department who requests one. Suite requests are processed on a first-come, first-served basis and based on availability, provided that all the information requested on the housing form is complete and correct and that all room occupants are registered for the convention.

<b>Q. My department did not receive the early chair mailing. How can we reserve a suite for interviewing?</b>
A. If you are an MLA member, you should wait until you receive the regular member registration and housing mailing that is mailed in early September. Since all suite requests are processed in the order they are received, you should complete the registration and housing forms and send them in as soon as possible. We recommend that you list several hotel options; the housing bureau will go to your second choice if your first choice is not available. Another option is for you to reserve a suite at the Embassy Suites hotel. This is the only hotel whose suites can be reserved online. You must first register online for the convention, then follow the prompt to the housing page. For questions regarding online reservations, please review the questions and answers below.

<b>Q. How do I reserve a suite online for the convention?</b>
A. Suites (except for those at the Embassy Suites Hotel) cannot be reserved online. All suite requests must be made using the MLA housing form, which is included in the MLA registration and housing packet that is mailed to all MLA members in early September. You must be registered for the convention to reserve a suite. If you wish to reserve a suite at the Embassy Suites Hotel online, you must first register online for the convention, then follow the prompt to the housing page. For questions regarding online reservations, please review the questions and answers below.

<b>Q. I sent my suite request in over a week ago and have not yet received confirmation.</b>
A. You should receive an e-mail confirmation of your hotel reservation within two to three weeks of our receiving your housing form. Suite reservations take longer to process than regular room reservations because of the additional attention given to each request.

<h2>Regular Registration and Housing:</h2>
<b>Q. How do I reserve a hotel room online for the convention?</b>
A. To reserve a hotel room, you must first be registered for the convention. Registration for MLA members begins online on 1 September. Registration and housing is also available by completing and mailing in the registration and housing forms, which are mailed to MLA members in early September. If you register online, and your online registration and credit card payment have been successfully submitted, you will reach the reservation confirmation page. This page informs you that your registration payment has been approved and provides you with your registration ID number. Below this is a "Make hotel reservations" link, which you should click on to access the MLA housing page. There is no direct link to the housing page from the MLA Web site. If you registered online but have already left the final registration page without accessing the housing page, see the answer below. 

<b>Q. I registered online, but now the site won't let me make a hotel reservation.</b>
A. If you registered online with a credit card, you should have received a registration confirmation number. You should also have received an e-mail confirmation of your registration. This e-mail is generated automatically only for registrations that have been completed online. If you did not make your hotel reservation at the time that you registered, refer to the e-mail confirmation you should have received following your completed registration. At the bottom of that e-mail is a URL (a long underlined string of words and symbols) that, when clicked on, will take you to the reservation page. This is for your use only and will not work for anyone else. <font color="[[color5]]"><b>So that the confirmation e-mail does not get blocked by your spam blocking software, please make sure that your e-mail is set up to receive e-mail from the MLA domain.</b></font>

<b>Q. I called the hotel to make a reservation and was told to call you for approval.</b>
A. To reserve a hotel room, you must first register for the convention, then make your reservation either by using the MLA online housing form or by using the printed MLA housing form. Registration for MLA members begins online on 1 September. Once you complete the online registration and your credit card payment has been successfully submitted, you will receive a confirmation number and a prompt to proceed to the housing page (see the answers above). Registration and housing forms will also be mailed to MLA members in early September. <font color="[[color5]]"><b>Hotel reservations made directly with the hotel will not be at the MLA rate, will not be listed in the Who's Where listing, and are not protected by the MLA.</b></font>

<b>Q. I am mailing in my registration payment, but I want to make my hotel reservation online.</b>
A. To avoid processing delays, you should use the same method of payment for registration and housing. If you intend to register for the convention by mail, you should complete a housing form and include it with the hotel deposit in the same envelope as your registration form and payment. If you intend to make your hotel reservation online, you should register for the convention online with a credit card. The link to the online housing page is automatic only for those convention registrants who submitted their credit card payment online. If you submit your registration payment by mail, we must first receive and process that payment before any hotel reservation can be made. Depending on the speed of the US Postal Service and the amount of mail that our accounting office needs to process, it may take several weeks from the time you mail in your registration payment to the time that your payment has been processed. After your registration payment has been received and processed, you may contact <a href="mailto:convention@mla.org">convention@mla.org</a> and ask if they can send you an e-mail that will allow you to make your reservations online. 

<b>Q. I used the link to get to the housing page, but when I submitted my name and registration ID number, it said there is no record of my reservation. </b>
A. For people who already have made a reservation, there is a section at the top right of the housing page that asks for your name and confirmation number. If you have not yet made a reservation, you should disregard the top right section. Instead, read the information on the left, scroll down to the bottom of the page, and click on "US and Canadian attendees click here," or "Foreign attendees click here." This will take you to the reservation page.

<b>Q. I tried to use the URL link at the bottom of the confirmation e-mail to get to the housing page, but it doesn't seem to work.</b>
A. The URL is very long (about 3 or 4 lines) and must be in one continuous link for it to work correctly. You should delete any spaces or breaks that may have been created in the line (some e-mail programs create those breaks automatically). Because of upgrades in security software, you should use a browser that is 5.5 or later. Some Netscape and Macintosh users may encounter problems with the Java script code. If clicking on the URL or pasting it into your upgraded browser still does not work, you should contact the convention office at <a href="mailto:convention@mla.org">convention@mla.org</a> for an abbreviated URL.

<b>Q. I'm in the housing page online. How do I select the hotel I want?</b>
A. Once you have accessed the reservation page, you must input the arrival and departure dates for your reservation and press "Submit." This will bring you to a page that lists all the hotels and their various room rate categories. To select a hotel, click on the circle to the left of the name of the hotel, then click “Continue.” 

<b>Q. The hotel that I want has a red X next to it. What does this mean?</b>
A. If there is a red X instead of a circle, that option is not available for the dates that have been requested. To see which dates are available for a certain hotel, click on the name of the hotel. 

<b>Q. The hotel that I want has the words "wait listed" next to it. What does this mean?</b>
A. If the words "wait listed" are next to the name of the desired hotel, that means the hotel is sold out for at least one of the nights you requested. To see which dates are available for a certain hotel, click on the name of the hotel. You may wish to change your dates to correspond with that hotel's available dates. If you select this hotel while it still shows as wait listed, the housing bureau may be able to obtain the extra nights requested from the hotel. You will not receive confirmation for your reservation until the housing bureau has obtained the nights in question or you have agreed to change your dates.

<b>Q. Where can I find information about the hotels online?</b>
A. If you have already accessed the online housing page, you should refer to the helpful links located across the top of the page. One of these links is to hotel descriptions, one is for hotel amenities and what the various hotels provide, and one is for a city map with the locations of the various hotels being used by the MLA. If you wish to view the hotel descriptions before accessing the housing page, you should refer to the Registration, Hotels, and Travel page of the MLA Web site and click on "Hotel Descriptions."

<b>Q. How do I reserve more than one hotel room?</b>
A. Because of the large number of convention attendees who wish to reserve a hotel room at the MLA rate and the limited number of rooms available, each convention registrant is able to reserve only one hotel room. To reserve two rooms, a second member of your party must register for the convention and reserve the second room under his or her name.

<b>Q. I am registered for the convention, but the person I am sharing a room with is not registered. How can we make hotel reservations?</b>
A. All room occupants who are professionally involved in any field relating to the study of language and literature must be registered for the convention before any housing request can be processed. If the person you will be sharing the room with is an MLA member, he or she should register online with a credit card beginning 1 September to avoid any delay in the processing of your housing form. If that person is not an MLA member, there are two options. He or she can register as a nonmember ($170 before 1 December) beginning in October, but this means that your housing reservation cannot be processed until that time; or that person can become a new MLA member online ($35) and then register as a regular MLA member online ($125 before 1 December). The second option is less expensive, and membership and registration can be completed the same day.

If the person sharing your room is not professionally involved in any field relating to the study or teaching of language and literature, then he or she is exempt and does not need to be registered for the convention to be listed on your housing form.

<b>Q. I may have registered multiple times for the convention. How do I cancel the extra payments?</b>
A. You should contact Michael Reilly in the membership office at <a href="mailto:mreilly@mla.org">mreilly@mla.org</a> and include the information on how you registered (online or by mail; with a credit card or by check), how many times you think you may have registered, and what names you registered under. Because of the volume of new registrations being processed, it may take several weeks to process any refunds.

<b>Q. I don't know my MLA membership number or password. How can I find that out so I can register for the convention?</b>
A. Go to <a href="http://www.mla.org" target="_blank">www.mla.org</a> and click on Membership. If you click on any of the links under "For Members Only," you will reach a membership log-in page. Below the question "Forgot your membership number or password?" is a place for you to enter your e-mail. An e-mail containing your membership number and password will be sent to you. If you have additional questions regarding your membership, please contact <a href="mailto:membership@mla.org">membership@mla.org</a>.

<b>Q. How do I become an MLA member or renew my membership so that I can register for the convention?</b>
A. MLA membership can be initiated or renewed online. Go to <a href="http://www.mla.org" target="_blank">www.mla.org</a> and click on Membership. You may then choose "Join the MLA" if you have never been an MLA member, "Reinstate Your Membership" if you have been an MLA member in the past but not in the last few years, or "Renew Your Membership" if you were a member recently and just need to renew for 2007. To renew, you will need your MLA membership number and password. Once you have completed your MLA membership payment online with a credit card, you may then register for the convention as an MLA member. If you mail in your membership payment, you will not be able to register for the convention as an MLA member until your membership payment has been received and processed by the MLA accounting office. If you have additional questions about MLA membership, please contact 646 576-5151 or <a href="mailto:membership@mla.org">membership@mla.org</a>.
