<img src="/IMAGES/sflogo.gif" width="144" height="160" border="0" align="top" hspace="0" vspace="1" alt="sf convention logo"><h1>2008 Registration and Housing FAQ</h1>
<h2>Early Registration and Suite Requests for ADE and ADFL Department Chairs</h2> 
<b>Q. My colleague or chair has received the registration and housing packet, but I have not.</b>
A. An early mailing is sent only to chairs of departments that were members of ADE (Association of Departments of English) or ADFL (Association of Departments of Foreign Languages) by the 1 June deadline. Membership in ADE and ADFL is separate from individual MLA memberships and is a departmental membership. If your department is listed in the ADE or ADFL rolls, the early chair mailing is sent automatically to the chair whose name is listed in the ADE or ADFL database. The purpose of this early mailing is to provide interviewing departments with a chance to reserve a suite for conducting interviews. This early mailing is one of the benefits of membership in ADE and ADFL and cannot be sent on request. The regular mailing of the registration and housing packet will be sent to all MLA members in early September.

<b>Q. I am the chair of my department and have not received the early chair mailing.</b>
A. Was your department a member of ADE or ADFL by the 1 June deadline? If so, the mailing was sent to the person who was listed as chair at that time. If you are the new chair of your department, check to see if the mailing was sent to your predecessor. If your department was not a current member of ADE or ADFL by 1 June, you will have to wait for the regular member mailing. If you have questions about whether or not you should receive the early chair mailing, please contact Roy Chustek (<a href="mailto:rchustek@mla.org">rchustek@mla.org</a>).

<b>Q. How do I reserve a suite online for the convention?</b>
A. ADE and ADFL department chairs were sent an e-mail detailing this new service and the required log-in information. Until 2 September, ADE and ADFL chairs must log in through the ADE or ADFL Web site to access the online convention registration page. Credit card payment is required for online processing. At the completion of your online registration, you should click on "Make hotel reservations now." You must be registered for the convention to access the online housing page. After you have selected your arrival and departure dates and room occupancy, click "next" to select the hotel and room category. <b>NOTE: To reserve a two-bedroom suite there must be at least two paid convention registrants listed in the room reservation.</b>

<b>Q. How can we reserve two (or more) suites for interviewing purposes?</b>
A. Because of the large number of departments that wish to reserve suites for interview purposes and the limited number of suites available, each department is able to request only one suite in response to the early chair mailing. 

<b>Q. How can I guarantee that we have a suite for interviewing?</b>
A. There is no guarantee that there will be enough suites for every person or department who requests one. Suite requests are processed on a first-come, first-served basis, based on availability, provided that all the information requested on the housing form is complete and correct and that all room occupants are registered for the convention.

<b>Q. My department did not receive the early chair mailing. How can we reserve a suite for interviewing?</b>
A. If you are an MLA member, you should wait until the online member registration and housing is live or you receive the regular member registration and housing mailing that is sent in early September. To make your hotel reservation online, first register online for the convention using a credit card, then follow the prompt to the housing page. For questions regarding online reservations, please review the questions and answers below. If completing your convention registration and hotel reservation by mail, you should complete the registration and housing forms and send them in as soon as possible. We recommend that you list several hotel options; the housing bureau will go to your second choice if your first choice is not available. All suite and room requests are processed in the order they are received, and occupants must be registered for the convention before the housing form will be processed. 

<b>Q. How soon will I receive confirmation of my suite request?</b>
A. If you make your suite reservation online, you will have immediate confirmation of your reservation once your credit card payment is submitted and approved. If your suite request was made by mail, you should receive an e-mail confirmation of your hotel reservation within two to three weeks of our receiving your housing form. Suite reservations take longer to process than regular room reservations because of the additional attention given to each request.

<h2>Regular Registration and Housing:</h2>
<b>Q. How do I reserve a hotel room online for the convention?</b>
A. To reserve a hotel room, you must first be registered for the convention. Registration for MLA members begins online on 2 September. You must submit credit card payment to register and make hotel reservations online. At the completion of your online registration, following your credit card payment, you will reach the Reservation Confirmation page. This page provides you with your Registration ID number and can be used as your registration receipt. Print a copy of this page for your records. Below this is a "Make hotel reservations now" link, which you should click on to access the MLA Housing page. 

<b>Q. How do I register or reserve a room if I do not want to pay by credit card online?</b>
A. Registration and housing forms will be mailed to MLA members in early September. Complete both forms and mail them together to the MLA with a separate check for each form included in the envelope. Registration payment must be received and cleared before the housing form will be processed. All room or suite requests are processed in the order they are received, and occupants must be registered for the convention before the housing form will be processed.

<b>Q. I have already registered online. How do I now make a hotel reservation?</b>
A. On the Convention page of the MLA Web site (<a href="http://www.mla.org/convention" target="_blank">www.mla.org/convention</a>) is a box that provides access for convention registrants to look up their registration receipt and access the housing page. You will need the record locator (registration confirmation) number that appeared on your registration confirmation page, and the last name under which you registered. Click on "Look up registration" to access your Registration Confirmation page. Click on "Make hotel reservations now" to access the online housing page. <font color="#df0b0b">So that the confirmation e-mail does not get blocked by your spam-blocking software, please make sure that your computer is set up to receive e-mail from the MLA domain.</font>

<b>Q. I called the hotel to make a reservation and they told me to call you for approval.</b>
A. To reserve a hotel room, you must first register for the convention, then make your reservation either by using the MLA online housing form or by using the printed MLA housing form. Registration for MLA members begins online on 2 September. Once you complete the online registration and your credit card payment has been successfully submitted, you will receive a confirmation number and a prompt to proceed to the housing page (see the answers above). Registration and housing forms will also be mailed to MLA members in early September. Hotel reservations made directly with the hotel will not be at the MLA rate, will not be listed in the Who's Where listing, and are not protected by the MLA.

<b>Q. I am mailing in my registration payment, but I want to make my hotel reservation online.</b>
A. To avoid processing delays, you should use the same method of payment for registration and housing. If you intend to register for the convention by mail, you should complete a housing form and include it with the hotel deposit in the same envelope as your registration form and payment. If you intend to make your hotel reservation online, you should register for the convention online with a credit card. The link to the online housing page is automatic only for those convention registrants who submitted their credit card payment online. If you submit your registration payment by mail, we must first receive and process that payment before any hotel reservation can be made. Depending on the speed of the US Postal Service and the amount of mail that our accounting office needs to process, it may take several weeks from the time you mail in your registration payment to the time that your payment has been processed. After your registration payment has been received and processed, you may contact <a href="mailto:convention@mla.org">convention@mla.org</a>  or <a href="mailto:membership@mla.org">membership@mla.org</a> to obtain your registration confirmation number. You may then use the "Look up registration" option on the Convention page (<a href="http://www.mla.org/convention" target="_blank">www.mla.org/convention</a>) to view your registration receipt and access the online housing form.

<b>Q. I am in the housing page online. How do I select the hotel I want?</b>
A. Once you have accessed the reservation page, you must input the arrival and departure dates and the number of occupants for your reservation and press "Next." This will bring you to the Choose a Hotel page. In the Hotel/Room Category box, there is a listing of all the hotels in alphabetical order, with a separate listing for each room type and rate. To select a hotel and room type, click on the requested listing in the box, then continue with the rest of the form. <font color="#df0b0b">Note: If a hotel has multiple room types and rates (one-bed room, two-bed room, one-bedroom suite), that hotel will be listed multiple times. Be sure to select the listing that contains both the hotel and the room type you desire.</font>

<b>Q. What is the Hotel Price Range option for?</b>
A. On the Search Hotels page of the housing site, below the boxes that request your arrival and departure dates, there is an optional drop-down box that allows you to search for hotel rooms in a particular price category. The default is set to any price, which will display all the hotels and room types available. If you select a price range, the Hotel List page will display only those hotels and room types that are available in the selected price range. 

<b>Q. The hotel and room type that I want is not listed. What does this mean?</b>
A. If a hotel and room type are listed on the Hotel List page but do not appear in the Hotel/Room Category box, then that hotel and room type are sold out for the nights of your reservation. If you entered a hotel price range from the drop-down box on the previous page, this may also limit the hotel and room options displayed. Click on the Hotel List button (top of the page) to see a list of all the hotels, room types, and dates of availability.

<b>Q. Where can I find information about the hotels online?</b>
A. If you have already accessed the online housing page, you should refer to the helpful links located across the top of the page. One of these links is to the hotel list, which includes the various hotels and room types available  and describes the hotel amenities, and one is to the hotel map, which is an interactive map with the locations of the various hotels being used by MLA. If you wish to view the hotel descriptions before accessing the housing page, refer to the Registration, Hotels, and Travel page of the MLA Web site (<a href="http://www.mla.org/conv_registration" target="_blank">www.mla.org/conv_registration</a>) and click on "Hotel Descriptions."

<b>Q. How do I reserve more than one hotel room?</b>
A. Because of the number of convention attendees who wish to reserve a hotel room at the MLA rate and the limited number of rooms available, each convention registrant is able to reserve only one hotel room. To reserve two rooms, a second member of your party must register for the convention and reserve the second room under his or her name.

<b>Q. I am registered for the convention, but the person I am sharing a room with is not registered. How can we make hotel reservations?</b>
A. All room occupants must be registered for the convention before any housing request can be processed. If the person you will be sharing the room with is an MLA member, he or she should register online with a credit card beginning 2 September to avoid any delay in the processing of your housing form. If that person is not an MLA member, there are two options. He or she can register as a nonmember ($170 before 1 December) beginning in October, but this means that your housing reservation cannot be processed until that time; or, that person can become a new MLA member online ($35) and then register as a regular MLA member online ($125 before 10 December). This second option is less expensive, and membership and registration can be completed the same day.

<b>Q. I may have registered multiple times for the convention. How do I cancel the extra payments?</b>
A. You should contact Michael Reilly in the membership office at <a href="mailto:mreilly@mla.org">mreilly@mla.org</a> and let him know how you registered (online or by mail, with a credit card or by check), how many times you think you may have registered, and what names you registered under. Because of the volume of new registrations being processed, it may take several weeks to process any refunds.

<b>Q. I don't know my MLA membership number or password. How can I find them out so that I can register for the convention?</b>
A. Go to <a href="http://www.mla.org" target="_blank">www.mla.org</a> and refer to the Members Only section on the right side of the page. Click on "Forgot your membership number or password?" You will need to enter the e-mail address that you listed in your membership account. An e-mail message containing your membership number and password will be sent to you. If you have additional questions regarding your membership, please contact <a href="mailto:membership@mla.org">membership@mla.org</a>.

<b>Q. How do I become an MLA member or renew my membership so that I can register for the convention?</b>
A. MLA membership can be initiated or renewed online. Go to <a href="http://www.mla.org" target="_blank">www.mla.org</a> and refer to the Members Only section on the right side of the page. You may then choose "Join Now" if you have never been an MLA member or "Renew Your Membership" if you have recently been a member and need to renew for 2008. Once you have completed your MLA membership payment online with a credit card, you may then register for the convention as an MLA member. If you mail in your membership payment, you will not be able to register for the convention as an MLA member until your membership payment has been received and processed by the MLA accounting office. If you have additional questions about MLA membership or are unsure of your membership status, please contact <a href="mailto:membership@mla.org">membership@mla.org</a>.

<b>Q. How do I find a roommate for my hotel reservation?</b>
A. Because of security reasons, the MLA is not able to assist with finding roommates for the convention.
