<h2>Resolution 2013-2</h2>
Whereas the MLA is concerned by the tragic shootings at Virginia Tech and Newtown, Connecticut, and wishes to join the broader academic community in calling for a far-reaching solution to gun violence;

Be it resolved that the MLA endorse the Statement on Gun Violence in America issued by the Association of American Universities on 2 January 2013.

<a href="/resol2013-2_support"  target="other"><b>Review the background information received by the Delegate Assembly</b></a>. [[[docstudio filetype_tag_pdf]]]

<a class="sectionindex" href="/comment_res2013?topic=2">View members’ comments on this resolution</a>.
[[[comment]]]
<a class="sectionindex" href="/comment_form?topic=2">Post your comment on this resolution</a>. (Note: The wording of the resolution may not be amended at this point in the resolutions process.)
[[[endcomment]]]
