<h1>Resolution 2014-1</h1>
Whereas Israel has denied academics of Palestinian ethnicity entry into the West Bank;

Whereas these restrictions violate international conventions on an occupying power’s obligation to protect the right to education;

Whereas the United States Department of State acknowledges on its Web site that Israel restricts the movements of American citizens of Palestinian descent;

Whereas the denials have disrupted instruction, research, and planning at Palestinian universities;

Whereas the denials have restricted the academic freedom of scholars and teachers who are United States citizens;

Be it resolved that the MLA urge the United States Department of State to contest Israel’s denials of entry to the West Bank by United States academics who have been invited to teach, confer, or do research at Palestinian universities.


<a class="sectionindex" href="/resol20141_execdirector" target="other">Review information about the resolution from the executive director</a>.


<a class="sectionindex" href="/resol20141support" target="other">Review the background information received by the Delegate Assembly</a>.[[[docstudio filetype_tag_pdf]]]

<a class="sectionindex" href="/comment_res2014?topic=1">View members’ comments on this resolution</a>.

<a class="sectionindex" href="/comment_form?topic=1">Post your comment on this resolution</a>. (Note: The wording of the resolution may not be amended at this point in the resolutions process.)
