<h1>Resolutions from the 1999 Delegate Assembly</h1>
<i>At its meeting on 29 December 1999, the MLA Delegate Assembly approved the following resolutions. The MLA Executive Council forwarded them to the MLA membership for ratification. The membership ratified the resolutions in a vote that was completed on 1 June 2000.</i>

<h2>Resolution 1</h2>
Whereas the current push toward globalization has brought with it deteriorating labor conditions for millions across the world in the form of sweatshops, the employment of prison labor, deunionization, falling real wages, and the outsourcing of work; and

Whereas sweatshop and prison labor practices, as extreme examples of unconscionable economic duress, have inspired direct student organizing on US university campuses in recent years, leading to student-led protests on as many as fifteen major university campuses; and

Whereas these protests have often successfully required university administrations to ensure that no sweatshop, nonunion, or prison labor be used to produce merchandise displaying university logos; and

Whereas the MLA, an important body of academics with a significant presence in the academic world, has been devoting increasing attention to globalization in the form of forums at the annual convention and special issues of <I>PMLA</I>; and

Whereas the MLA has historically opposed sexism and racism in their various forms; and

Whereas sweatshops and prison labor conform to particularly sexist and racist patterns of superexploitation; and

Whereas it would be inappropriate for an organization that claims to speak from the position of a watchdog body itself to engage in exploitative labor practices;

Be it resolved that the MLA oppose the use of sweatshop, prison, and nonunion labor throughout the academic world, indicate its support for student movements protesting the use of such labor, and widely publicize this stand (including through a statement in <I>Profession</I>).

<h2>Resolution 2</h2>
Whereas the "apprenticeship" model no longer obtains in a job system that fails to guarantee employment in the fields for which graduate students train, even while graduate students are typically expected to do much the same work, often without instruction, as their "masters" do;

Be it resolved that the MLA asserts that graduate students--when researching, teaching, or otherwise performing services for paid compensation for their professors, departments, or colleges--are employees, even if they are mentored or supervised in those capacities.

<h2>Resolution 3</h2>
The MLA endorses the right of all academic employees--full- and part-time faculty members, graduate employees, and support staff--to engage in collective bargaining if they choose to do so. We believe in the democratic right of employees to decide how to negotiate their salaries and working conditions; accordingly, we believe that all administrators should honor the results of employee votes taken by secret ballot on collective bargaining and union representation.
