<h1>Resolutions from the 2000 Delegate Assembly</h1>
<i>At its meeting on 29 December 2000, the MLA Delegate Assembly approved the following resolutions. The MLA Executive Council forwarded them to the MLA membership for ratification. The membership ratified the resolutions in a vote that was completed on 1 June 2001.</i>

<h2>Resolution 1</h2>
Be it resolved that the Delegate Assembly and the MLA membership formally recognize, appreciate, and congratulate the executive director and the MLA staff for their tireless efforts in the preparation and execution of the survey on staffing, salary, and benefits in departments of English and of the foreign languages.

<h2>Resolution 2</h2>
Whereas the MLA strongly supports the teaching and scholarship of literatures by people of color in the United States and Canada,

Whereas the MLA encourages faculty members in colleges and universities to be sensitive to the cultures of people of color,

And whereas representations of native peoples and their cultural traditions are frequently used as mascots and symbols by sports teams at universities, colleges, and high schools as well as by commercial teams,

Whereas educational institutions' use of these mascots and symbols can undermine their mission to educate students about the histories, cultures, and achievements of people of color,

Therefore, be it resolved that the MLA condemns the use of representations of native peoples and other racial and ethnic groups and their cultural traditions as sports mascots or symbols.

<h2>Resolution 3</h2>
Whereas one of the effects of the increasingly globalized capitalist economy has been to accentuate not only the divide between rich and poor nations but also divisions between haves and have-nots within industrialized countries such as the United States; and

Whereas such divisions are, and have historically been, racist; and

Whereas dramatic tuition hikes and the termination of affirmative action have rendered access to higher education in the US increasingly difficult for all students, and for working-class people of color in particular; and

Whereas higher education, while hardly guaranteeing its graduates satisfactory employment, is indispensable to securing whatever stable and adequately remunerative jobs there are; and

Whereas Local 2334 of the American Federation of Teachers (AFT), New York Chapter, has recently presented a resolution focused on the City University of New York (CUNY), affirming that the AFT strongly supports the right of all high school graduates to have an equal opportunity to obtain a college education at affordable tuition (with the progressive introduction of free college education), and therefore strongly supports the restoration of open access, developmental courses, and reduced tuition at CUNY; and

Whereas the MLA has gone on record in support of affirmative action and in opposition to racism in general and the racist effect of the cutbacks in remediation at CUNY in particular;

Be it therefore resolved that the MLA in principle support open access and free tuition at public institutions of higher education in the US and use its platform to voice this support; and

Be it further resolved that the MLA publicly back the efforts of AFT Local 2334 to have open access restored, developmental courses retained, and free tuition instituted at CUNY.
