<h1>Resolutions from the 2001 Delegate Assembly</h1>
<i>At its meeting on 29 December 2001, the MLA Delegate Assembly approved the following resolutions. The MLA Executive Council forwarded them to the MLA membership for ratification. The membership ratified the resolutions in a vote that was completed on 10 December 2002.</i>

<h2>Resolution 2001-1</h2>
Whereas the MLA should respond forcefully when First Amendment rights of students are violated by their institution, 

Be it resolved that the MLA protests as an abridgment of free-speech rights the arrests that took place on 15 and 16 August 2001 at Hostos Community College; and

Be it further resolved that the MLA urges college administrators to set policies whereby security personnel will exercise restraint in making arrests on college campuses, doing so primarily to prevent harm to people or destruction of property; and

Be it further resolved that the MLA strongly affirms the constitutional rights of students, staff members, and faculty members to demonstrate peacefully and exercise freedom of speech on college campuses.

<h2>Resolution 2001-2</h2>
Whereas the recent attacks on the United States have led to deplorable incidents of bigotry on American college campuses, 

Be it resolved that the MLA urges all its members to help create an atmosphere in which no student is harassed because of race, religion, or perceived national origin; and

Be it further resolved that MLA members help all students work together to counteract prejudice based on race, religion, or perceived national origin.

<h2>Resolution 2001-3</h2>
Whereas high-stakes tests invariably discriminate against students from poor, working-class, and minority families by disproportionately denying them high school diplomas and thus access to higher education, and

Whereas high-stakes tests provide an ideological rationale for the perpetuation of inequality of opportunity, disguising this social injustice as a desirable result of "meritocracy,"

Be it resolved that the MLA opposes using the scores on a single test to make important decisions about students' futures, including promotion in or graduation from high school and admission to college.

<h2>Resolution 2001-4</h2>
Whereas the MLA supports open intellectual inquiry free of racial or political intimidation of any kind, and

Whereas the MLA represents United States and Canadian college and university employees and students in this pursuit,

Be it resolved that the MLA opposes and condemns as racist and discriminatory attempts by any federal agency to conduct investigations into the personal lives and academic work of college and university employees and students based solely on nationality, immigrant status, religion, or ethnicity and that the MLA encourages universities to resist such procedures on their campuses and wherever the procedures are known to exist.

<h2>Resolution 2001-5</h2>
Whereas the American Council of Trustees and Alumni has in its recent report <I>Defending Civilization</I> proposed "America's first line of defense" as a guide in shaping the university curriculum and called upon colleges and intellectuals for the "philosophical defense" of the United States and its principles,

Be it resolved that the members of the Modern Language Association affirm their commitment as scholars and teachers not to the "philosophical defense" of any one nation-state but to the "philosophical defense" of humanity, to critical and appreciative teaching about all cultures, and to the unflinching pursuit of truth.
