<h1>Resolution from the 2005 Delegate Assembly</h1>
<I>At its meeting on 29 December 2005, the MLA Delegate Assembly approved the following resolution. The MLA Executive Council forwarded it to the MLA membership for ratification. The membership ratified the resolution in a vote that was completed on 10 December 2006.</I>

<h2>Resolution 2005-1</h2>
Whereas the Academic and Student Bills of Rights (A/SBOR) will, wherever embodied in legislation, give some power over course content and faculty expression to one or another governmental agency, encouraging it to define such matters as "indoctrination," "substantive disagreements" and "controversial matter," "appropriate," and the "spectrum of significant scholarly viewpoints"; and

Whereas, therefore, the purpose of these initiatives is the violation of academic freedom of both students and faculty members;

Be it resolved that the MLA oppose the A/SBOR and all related legislation.
