<style type="text/css">
.pdiv ul {margin:0px 0px 0px 0px; padding:0px; list-style-type: none; list-style-position: outside;}
.pdiv ul li {margin:0px 0px 0px 20px; padding:0px;}
</style>

<h1>Enrollments in Languages Other Than English in United States Institutions of Higher Education, Fall 2006</h1>
<p>
	<img src="/IMAGES/filetype_pdf.png" />
	<a href="/enroll_survey06_fin" target="_blank"><b>Full Report</b></a>
</p>
<p>
	<img src="/IMAGES/filetype_pdf.png" />
	<a href="/enroll_survpr06_fin" target="_blank"><b>Press Release</b></a>
</p>

<h2 style="margin-top:24px;">2006 Enrollment Microdata</h2>
<p>
	The microdata available here report enrollments by state, by language, and by institution. Users will probably find it helpful to consult the aggregated data and analysis available in the full report before turning to the detailed tables.
</p>

<p>
	<div id="icon_B1" style="padding:0px;height:12px;width:9px;display:inline;margin-right:4px;background:url('/IMAGES/expand-plus.gif') no-repeat bottom left;"><a href="javascript:showLogin('B1');"><img src="/IMAGES/clear.gif" width="9" height="9" border="0" /></a></div>
	<a href="javascript:showLogin('B1');"><b>Fall 2006 Language Enrollments: Organized by Language, State, and Institution</b></a>
	<div id="expand_B1" style="display:none;visibility:hidden;margin-top:0px;"> 
		<div class="pdiv" style="padding-left:20px;margin-top:6px;">
			<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<tr valign="top">
					<td width="50%">
						<ul>
							<li><a href="/PDF/enrollment/american_sign_language_2006.pdf">American Sign Language</a></li>
							<li><a href="/PDF/enrollment/arabic_2006.pdf">Arabic</a></li>
							<li><a href="/PDF/enrollment/chinese_2006.pdf">Chinese</a></li>
							<li><a href="/PDF/enrollment/french_2006.pdf">French</a></li>
							<li><a href="/PDF/enrollment/german_2006.pdf">German</a></li>
							<li><a href="/PDF/enrollment/greek_ancient_2006.pdf">Greek, Ancient</a></li>
							<li><a href="/PDF/enrollment/hebrew_biblical_2006.pdf">Hebrew, Biblical</a></li>
							<li><a href="/PDF/enrollment/hebrew_modern_2006.pdf">Hebrew, Modern</a></li>
						</ul>
					</td>
					<td width="50%">
						<ul>
							<li><a href="/PDF/enrollment/italian_2006.pdf">Italian</a></li>
							<li><a href="/PDF/enrollment/japanese_2006.pdf">Japanese</a></li>
							<li><a href="/PDF/enrollment/korean_2006.pdf">Korean</a></li>
							<li><a href="/PDF/enrollment/latin_2006.pdf">Latin</a></li>
							<li><a href="/PDF/enrollment/portuguese_2006.pdf">Portuguese</a></li>
							<li><a href="/PDF/enrollment/russian_2006.pdf">Russian</a></li>
							<li><a href="/PDF/enrollment/spanish_2006.pdf">Spanish</a></li>
							
							<li><a href="/all_other_lang_pdf">All others</a><img src="/IMAGES/filetype_pdf.png" /></li>
						
						</ul>
					</td>
				</tr>
			</table>
			
		</div>
	</div>
</p>



<p>
	<div id="icon_A1" style="padding:0px;height:12px;width:9px;display:inline;margin-right:4px;background:url('/IMAGES/expand-plus.gif') no-repeat bottom left;"><a href="javascript:showLogin('A1');"><img src="/IMAGES/clear.gif" width="9" height="9" border="0" /></a></div>
	<a href="javascript:showLogin('A1');"><b>Fall 2006 Language Enrollments: Organized by State, Language, and Institution</b></a>
	<div id="expand_A1" style="display:none;visibility:hidden;margin-top:0px;"> 
		<div class="pdiv" style="padding-left:20px;margin-top:6px;">
			<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<tr valign="top">
					<td width="33%">
						<ul>
							<li><a href="/PDF/enrollment/st_al_2006.pdf">Alabama</a></li>
							<li><a href="/PDF/enrollment/st_ak_2006.pdf">Alaska</a></li>
							<li><a href="/PDF/enrollment/st_az_2006.pdf">Arizona</a></li>
							<li><a href="/PDF/enrollment/st_ar_2006.pdf">Arkansas</a></li>
							<li><a href="/PDF/enrollment/st_ca_2006.pdf">California</a></li>
							<li><a href="/PDF/enrollment/st_co_2006.pdf">Colorado</a></li>
							<li><a href="/PDF/enrollment/st_ct_2006.pdf">Connecticut</a></li>
							<li><a href="/PDF/enrollment/st_de_2006.pdf">Delaware</a></li>
							<li><a href="/PDF/enrollment/st_dc_2006.pdf">District of Columbia</a></li>
							<li><a href="/PDF/enrollment/st_fl_2006.pdf">Florida</a></li>
							<li><a href="/PDF/enrollment/st_ga_2006.pdf">Georgia</a></li>
							<li><a href="/PDF/enrollment/st_hi_2006.pdf">Hawaii</a></li>
							<li><a href="/PDF/enrollment/st_id_2006.pdf">Idaho</a></li>
							<li><a href="/PDF/enrollment/st_il_2006.pdf">Illinois</a></li>
							<li><a href="/PDF/enrollment/st_in_2006.pdf">Indiana</a></li>
							<li><a href="/PDF/enrollment/st_ia_2006.pdf">Iowa</a></li>
							<li><a href="/PDF/enrollment/st_ks_2006.pdf">Kansas</a></li>
						</ul>
					</td>
					<td width="34%">
						<ul>
							<li><a href="/PDF/enrollment/st_ky_2006.pdf">Kentucky</a></li>
							<li><a href="/PDF/enrollment/st_la_2006.pdf">Louisiana</a></li>
							<li><a href="/PDF/enrollment/st_me_2006.pdf">Maine</a></li>
							<li><a href="/PDF/enrollment/st_md_2006.pdf">Maryland</a></li>
							<li><a href="/PDF/enrollment/st_ma_2006.pdf">Massachusetts</a></li>
							<li><a href="/PDF/enrollment/st_mi_2006.pdf">Michigan</a></li>
							<li><a href="/PDF/enrollment/st_mn_2006.pdf">Minnesota</a></li>
							<li><a href="/PDF/enrollment/st_ms_2006.pdf">Mississippi</a></li>
							<li><a href="/PDF/enrollment/st_mo_2006.pdf">Missouri</a></li>
							<li><a href="/PDF/enrollment/st_mt_2006.pdf">Montana</a></li>
							<li><a href="/PDF/enrollment/st_ne_2006.pdf">Nebraska</a></li>
							<li><a href="/PDF/enrollment/st_nv_2006.pdf">Nevada</a></li>
							<li><a href="/PDF/enrollment/st_nh_2006.pdf">New Hampshire</a></li>
							<li><a href="/PDF/enrollment/st_nj_2006.pdf">New Jersey</a></li>
							<li><a href="/PDF/enrollment/st_nm_2006.pdf">New Mexico</a></li>
							<li><a href="/PDF/enrollment/st_ny_2006.pdf">New York</a></li>
							<li><a href="/PDF/enrollment/st_nc_2006.pdf">North Carolina</a></li>
						</ul>
					</td>
					<td width="33%">
						<ul>
							<li><a href="/PDF/enrollment/st_nd_2006.pdf">North Dakota</a></li>
							<li><a href="/PDF/enrollment/st_oh_2006.pdf">Ohio</a></li>
							<li><a href="/PDF/enrollment/st_ok_2006.pdf">Oklahoma</a></li>
							<li><a href="/PDF/enrollment/st_or_2006.pdf">Oregon</a></li>
							<li><a href="/PDF/enrollment/st_pa_2006.pdf">Pennsylvania</a></li>
							<li><a href="/PDF/enrollment/st_ri_2006.pdf">Rhode Island</a></li>
							<li><a href="/PDF/enrollment/st_sc_2006.pdf">South Carolina</a></li>
							<li><a href="/PDF/enrollment/st_sd_2006.pdf">South Dakota</a></li>
							<li><a href="/PDF/enrollment/st_tn_2006.pdf">Tennessee</a></li>
							<li><a href="/PDF/enrollment/st_tx_2006.pdf">Texas</a></li>
							<li><a href="/PDF/enrollment/st_ut_2006.pdf">Utah</a></li>
							<li><a href="/PDF/enrollment/st_vt_2006.pdf">Vermont</a></li>
							<li><a href="/PDF/enrollment/st_va_2006.pdf">Virginia</a></li>
							<li><a href="/PDF/enrollment/st_wa_2006.pdf">Washington</a></li>
							<li><a href="/PDF/enrollment/st_wv_2006.pdf">West Virginia</a></li>
							<li><a href="/PDF/enrollment/st_wi_2006.pdf">Wisconsin</a></li>
							<li><a href="/PDF/enrollment/st_wy_2006.pdf">Wyoming</a></li>
						</ul>
					</td>
				</tr>
			</table>
		</div>
	</div>
</p>

<p>
	<div id="icon_C1" style="padding:0px;height:12px;width:9px;display:inline;margin-right:4px;background:url('/IMAGES/expand-plus.gif') no-repeat bottom left;"><a href="javascript:showLogin('C1');"><img src="/IMAGES/clear.gif" width="9" height="9" border="0" /></a></div>
	<a href="javascript:showLogin('C1');"><b>Fall 2006 Language Enrollments: Organized by State, Institution, and Language</b></a>
	<div id="expand_C1" style="display:none;visibility:hidden;margin-top:0px;"> 
		<div class="pdiv" style="padding-left:20px;margin-top:6px;">
			<table border="0" cellpadding="0" cellspacing="0" width="100%">
				<tr valign="top">
					<td width="33%">
						<ul>
							<li><a href="/PDF/enrollment/inst_al_2006.pdf">Alabama</a></li>
							<li><a href="/PDF/enrollment/inst_ak_2006.pdf">Alaska</a></li>
							<li><a href="/PDF/enrollment/inst_az_2006.pdf">Arizona</a></li>
							<li><a href="/PDF/enrollment/inst_ar_2006.pdf">Arkansas</a></li>
							<li><a href="/PDF/enrollment/inst_ca_2006.pdf">California</a></li>
							<li><a href="/PDF/enrollment/inst_co_2006.pdf">Colorado</a></li>
							<li><a href="/PDF/enrollment/inst_ct_2006.pdf">Connecticut</a></li>
							<li><a href="/PDF/enrollment/inst_de_2006.pdf">Delaware</a></li>
							<li><a href="/PDF/enrollment/inst_dc_2006.pdf">District of Columbia</a></li>
							<li><a href="/PDF/enrollment/inst_fl_2006.pdf">Florida</a></li>
							<li><a href="/PDF/enrollment/inst_ga_2006.pdf">Georgia</a></li>
							<li><a href="/PDF/enrollment/inst_hi_2006.pdf">Hawaii</a></li>
							<li><a href="/PDF/enrollment/inst_id_2006.pdf">Idaho</a></li>
							<li><a href="/PDF/enrollment/inst_il_2006.pdf">Illinois</a></li>
							<li><a href="/PDF/enrollment/inst_in_2006.pdf">Indiana</a></li>
							<li><a href="/PDF/enrollment/inst_ia_2006.pdf">Iowa</a></li>
							<li><a href="/PDF/enrollment/inst_ks_2006.pdf">Kansas</a></li>
						</ul>
					</td>
					<td width="34%">
						<ul>
							<li><a href="/PDF/enrollment/inst_ky_2006.pdf">Kentucky</a></li>
							<li><a href="/PDF/enrollment/inst_la_2006.pdf">Louisiana</a></li>
							<li><a href="/PDF/enrollment/inst_me_2006.pdf">Maine</a></li>
							<li><a href="/PDF/enrollment/inst_md_2006.pdf">Maryland</a></li>
							<li><a href="/PDF/enrollment/inst_ma_2006.pdf">Massachusetts</a></li>
							<li><a href="/PDF/enrollment/inst_mi_2006.pdf">Michigan</a></li>
							<li><a href="/PDF/enrollment/inst_mn_2006.pdf">Minnesota</a></li>
							<li><a href="/PDF/enrollment/inst_ms_2006.pdf">Mississippi</a></li>
							<li><a href="/PDF/enrollment/inst_mo_2006.pdf">Missouri</a></li>
							<li><a href="/PDF/enrollment/inst_mt_2006.pdf">Montana</a></li>
							<li><a href="/PDF/enrollment/inst_ne_2006.pdf">Nebraska</a></li>
							<li><a href="/PDF/enrollment/inst_nv_2006.pdf">Nevada</a></li>
							<li><a href="/PDF/enrollment/inst_nh_2006.pdf">New Hampshire</a></li>
							<li><a href="/PDF/enrollment/inst_nj_2006.pdf">New Jersey</a></li>
							<li><a href="/PDF/enrollment/inst_nm_2006.pdf">New Mexico</a></li>
							<li><a href="/PDF/enrollment/inst_ny_2006.pdf">New York</a></li>
							<li><a href="/PDF/enrollment/inst_nc_2006.pdf">North Carolina</a></li>
						</ul>
					</td>
					<td width="33%">
						<ul>
							<li><a href="/PDF/enrollment/inst_nd_2006.pdf">North Dakota</a></li>
							<li><a href="/PDF/enrollment/inst_oh_2006.pdf">Ohio</a></li>
							<li><a href="/PDF/enrollment/inst_ok_2006.pdf">Oklahoma</a></li>
							<li><a href="/PDF/enrollment/inst_or_2006.pdf">Oregon</a></li>
							<li><a href="/PDF/enrollment/inst_pa_2006.pdf">Pennsylvania</a></li>
							<li><a href="/PDF/enrollment/inst_ri_2006.pdf">Rhode Island</a></li>
							<li><a href="/PDF/enrollment/inst_sc_2006.pdf">South Carolina</a></li>
							<li><a href="/PDF/enrollment/inst_sd_2006.pdf">South Dakota</a></li>
							<li><a href="/PDF/enrollment/inst_tn_2006.pdf">Tennessee</a></li>
							<li><a href="/PDF/enrollment/inst_tx_2006.pdf">Texas</a></li>
							<li><a href="/PDF/enrollment/inst_ut_2006.pdf">Utah</a></li>
							<li><a href="/PDF/enrollment/inst_vt_2006.pdf">Vermont</a></li>
							<li><a href="/PDF/enrollment/inst_va_2006.pdf">Virginia</a></li>
							<li><a href="/PDF/enrollment/inst_wa_2006.pdf">Washington</a></li>
							<li><a href="/PDF/enrollment/inst_wv_2006.pdf">West Virginia</a></li>
							<li><a href="/PDF/enrollment/inst_wi_2006.pdf">Wisconsin</a></li>
							<li><a href="/PDF/enrollment/inst_wy_2006.pdf">Wyoming</a></li>
						</ul>
					</td>
				</tr>
			</table>
		</div>
	</div>
</p>



	
<div style="margin-top:40px;">
 
</div>


<script language="javascript" type="text/javascript">

// preload the minus image
var preload_minus = new Image(9,9);
preload_minus.src ='/IMAGES/expand-minus.gif';

function showLogin(divid) {
	var ShowExpandDiv=document.getElementById("expand_" + divid);
	var ShowExpandIco=document.getElementById("icon_" + divid);
	if (ShowExpandDiv.style.visibility == 'visible') {
		ShowExpandDiv.style.visibility='hidden';
		ShowExpandDiv.style.display='none';
		ShowExpandIco.style.background='url(/IMAGES/expand-plus.gif) no-repeat bottom left';
		} else {
		ShowExpandDiv.style.visibility='visible';
		ShowExpandDiv.style.display='inline';
		ShowExpandIco.style.background='url(/IMAGES/expand-minus.gif) no-repeat bottom left';
		}
	
}

</script>
