<h1>2008 Convention Session FAQs</h1>
<h2>General Session Questions</h2>

<b>Q. What is a call for papers? Is it required for organizing a session?</b>
A. The <a href="/conv_papers">call for papers listing</a> is a way for session organizers to invite MLA members to submit papers for convention sessions. Each MLA division must post at least one call for papers per convention. Calls for papers are not a requirement for sessions not sponsored by an MLA division.

<b>Q. How can I submit a call for papers?</b>
A. Calls for papers may now be submitted through the MLA Web site under the "Convention" heading. To <a href="/submit_calls">submit a call for papers</a>, your listing must be received in the convention office by 4 January 2008 and be no more than 35 words in length, including the session title, a brief description, submission requirements (papers, abstracts, word or page limits), and submission deadline (most are listed as early to mid-March). Your name and contact information are not included in the word limit. 

<b>Q. Does the title of my session have to be the same as the title of my call for papers?</b>
A. No.

<b>Q. Do I have to contact everyone who responds to my call for papers?</b>
A. Yes. Members who place calls for papers should acknowledge receipt of proposals and notify members whether their proposals could be included in the submitted session.

<b>Q. What is the <a href="conv_deadlines">deadline</a> for submitting final program copy?</b>
A. Final program copy forms must be submitted electronically or postmarked no later than 1 April. 

<b>Q. When will final program copy forms be available?</b>
A. Because of the large number of sessions organized by divisions, discussion groups, allied and affiliate organizations, and MLA committees, the final program copy forms will be available to one contact person for each group or committee. These forms will be made available to the designated contact people by late February. If you have questions about who will receive access to the program copy forms for your sessions, please contact the appropriate MLA representative: Karin Bagnall (<a href="mailto:kbagnall@mla.org">kbagnall@mla.org</a>) for division and discussion group sessions, the coordinator of allied and affiliate organizations (<a href="mailto:ltomassi@mla.org">ltomassi@mla.org</a>) for allied and affiliate sessions, or your MLA committee liaison for MLA committee sessions.

<b>Q. How can I invite a nonmember or VIP to be a session participant?</b>
A. At the discretion of the executive director, waivers may be granted for nonscholars, scholars who work outside the United States and Canada, and scholars who work in disciplines other than language and literature. Please refer to the questions and answers below regarding waivers of membership.

<b>Q. Our society would like to apply for allied or affliate organization status, and one of the prerequisites is to have sessions accepted at the MLA convention. What do we need to do?</b>
A. This requirement was established in part to demonstrate the applying organization's ability to create sessions that would withstand the MLA's proposal review process. The Program Committee does not give special consideration to sessions that are proposed as part of the allied or affiliate organization application process. Your proposal should focus on the merits of this particular proposed session and should not be used to promote or advertise your organization. All special-session proposals must follow the same submission requirements and are subject to the same review processes. Please refer to the <a href="ssp_faqs">Special Session FAQs</a> and the <a href="conv_procedures">Procedures for Organizing Convention Meetings</a> for information on proposing a special session. 

<h2>Final Program Copy Form Questions</h2>
<b>Q. How can I submit my final program copy online?</b>
A. If you are the designated person to complete the program copy for your group's or organization's sessions, you should receive information from your MLA liaison on how to access the forms. If you have questions about who will receive the program copy forms for your sessions, please contact the appropriate MLA representative: Karin Bagnall (<a href="mailto:kbagnall@mla.org">kbagnall@mla.org</a>) for division and discussion group sessions, the coordinator of allied and affiliate organizations (<a href="mailto:ltomassi@mla.org">ltomassi@mla.org</a>) for allied and affiliate sessions, or your MLA committee liaison for MLA committee sessions. Once you have accessed the proposal form, follow the prompts and complete the information for the various sections of the form. At the bottom of each page, you have the option to save and finish later or continue to the next page of the form. The final page ("View Program Copy Form") allows you to view the information that you have input and make any necessary corrections. Be sure to print out this page and keep it for your records. Once your form is complete and exactly how you would like it to appear, click "Submit." <b>Once you submit your form you will be unable to access it again to make any changes.
</b>
<b>Q. Will I receive confirmation that my program copy was received?</b>
A. If you are using the electronic program copy form, an automatic computer-generated confirmation e-mail will be sent to you after you have completed your submission  online. Because of the large number of program copy forms received close to the 1 April deadline, we are not always able to acknowledge receipt of forms received through the mail. <b>So that the confirmation e-mail is not blocked by your spam-blocking software, please make sure that your e-mail is set up to receive messages from the MLA domain (mla.org).</b>

<b>Q. Can I give a paper or act as presider for a session I am organizing?</b>
A. Yes, you may list yourself as presider, panelist, or respondent for the session you are organizing if you feel that this arrangement creates the best possible session. 

<b>Q. Is the session organizer the same person as the presider?</b>
A. Not necessarily. The session organizer is the person who has organized and submitted the session and is listed on the form as the contact person who will receive the program copy proofs in July. The session organizer's name will not appear in the Program unless that person is also participating in the session. The presider will introduce the session and the speakers at the convention and is responsible for directing the session, enforcing time limits, and providing the required fifteen-minute discussion period. The presider's name and affiliation are listed in the Program. Session organizers may list themselves as presiders for their sessions, but it is not a requirement.

<b>Q. Is it necessary to list a presider for my session?</b>
A. No, it is not necessary to list a presider. If no presider is listed, however, you should make arrangements for how the session will function without one.

<b>Q. What is the average number of papers for a session?</b>
A. Each MLA session is one hour and fifteen minutes in length. The Delegate Assembly has approved the policy that there must be a fifteen-minute discussion period at the end of each session; therefore, the Program Committee strongly recommends that there be no more than three principal papers in a session. 

<b>Q. What is a roundtable session? How do I organize one?</b>
A. A roundtable session is composed of brief presentations and group discussions instead of formal paper presentations. For the electronic proposal form, there is a section on the first page of the form under "Meeting Information" where you can select "Formal Session" or "Roundtable." The roundtable electronic proposal form provides spaces for the participants' names and affiliations but not for paper titles. 

<b>Q. How many speakers can we have in a roundtable session?</b>
A. Roundtable sessions may have up to eight participants, including presiders and respondents. Each MLA session is one hour and fifteen minutes in length, with the last fifteen minutes reserved for discussion. You should select the number of speakers that best suits your session and allows you to stay within the allotted time.

<b>Q. How can I list paper titles for my roundtable session?</b>
A. Roundtable sessions are composed of brief presentations and group discussion. There is space to list only the speakers' names and affiliations, not paper titles.

<b>Q. How do I list more than one presider for my session?</b>
A. Usually only one person serves as presider for a session, so there is space for only one presider on the proposal form. If you feel that your session requires two presiders, you should e-mail the appropriate MLA representative -- Karin Bagnall (<a href="mailto:kbagnall@mla.org">kbagnall@mla.org</a>) for division and discussion group sessions, the coordinator of allied and affiliate organizations (<a href="mailto:ltomassi@mla.org">ltomassi@mla.org</a>) for allied and affiliate sessions, or your MLA committee liaison for MLA committee sessions -- after submitting your final program copy, explaining that there is a second presider and including that person's name and affiliation. 

<b>Q. Is it possible for two presenters to share one presentation at my session?</b>
A. Yes, you may have copresenters on your panel, provided that they are able to give the paper within the allotted time. If you are completing the electronic proposal form, there is a link located next to the paper title and above the affiliation for each speaker position. If you click "Add copresenter," you will access a pop-up box with space for the name and affiliation of the copresenter. Please do not try to include the information for both copresenters in the space allotted for one presenter, since this may create errors in your proposal.

<b>Q. Is it possible to list more than three presenters for my session?</b>
A. If you are using the electronic form, you can add presenters to your session, by clicking the link "Click here to add more presenters" on the Session Participants page, below the name of the third participant. This link will bring you to a pop-up page that will allow you to add presenters and papers to your panel. If you are using the paper form, the only way to add speakers is to attach additional sheets to your program copy form. The Program Committee strongly recommends that there be no more than three principal papers in a session. 

<b>Q. Are there any participation restrictions?</b>
A. Yes. So that as many members as possible may have the opportunity to be active in convention programs, a member may be listed only twice in the Program. Reading a paper, serving as a roundtable panelist or as a respondent, or presiding at a session leads to a listing in the Program. The two listings may occur in a single session or in two different sessions. No more than two panelists from the same institution may participate in a session. 

<b>Q. What will happen if one of my session participants is not a current member?</b>
A. Only current MLA members (or those whose membership requirements have been waived) may be included in your session. Session participants must be MLA members by the 7 April deadline to be listed in the Program. If a session participant is not a member (and the waiver requirement has not been met) by the 7 April deadline, your session will be listed in the Program without that person's name or contribution to your panel.  If the nonmember subsequently joins the MLA, you can request to have that person's paper listed in the <i>MLA Convention News and Program Update</i>, which is distributed at the convention.   For information regarding waivers of membership, please refer to the questions and answers below.

<b>Q. May I submit temporary names and paper titles now and finalize the information later?</b>
A. No. All the information that you provide in your final program copy form should be complete and should appear exactly as you wish it to appear in the Program. Session and paper titles cannot be changed once they have been submitted. The names you include as presider, respondent, and speakers should be the names of the people who will be participating in those positions for your session at the convention. You should have commitments from all the session participants before submitting your final program copy form. 

<b>Q. One of my panelists is a member, but when I entered the name the system indicated that the person's name could not be found.</b>
A. Session participants' names must be input exactly as they appear in the <a href="/member_search">MLA membership database</a>. If a member's name is not input exactly as it is listed in the database (including capitalizations, middle names, initials, etc.), the computer will not recognize the name as a member. Sometimes accents in the name or a change in affiliation may confuse the system even if the name is typed correctly. You may select "nonmember/not sure" if there are any questions and continue submitting your proposal. Once we receive the proposal forms, we manually check the membership status of all session participants and e-mail the proposers if there are any membership questions. Our check supersedes any questions that the system may have raised.

<b>Q. What is a waiver of membership?</b>
A. Waivers of membership may be available for scholars working outside the fields of language and literature and for scholars with no affiliation in the United States and Canada. MLA members, including those in the emeritus category, are not eligible for waivers of membership. A waiver of membership may be granted to a person once every five years. Session organizers and presiders are not eligible for waivers of membership. For additional information on waivers of membership, please refer to the <a href="/conv_procedures">Procedures for Organizing Meetings at the MLA Convention</a>, which can also be found in the September <I>PMLA</I>.

<b>Q. How do I request a waiver of membership for one of my participants?</b>
A. To request a waiver of membership, complete the Waiver of Membership Request Form and submit it along with your final program copy form by the 1 April deadline. If you are submitting your program copy online, you should access the waiver form through the "Thank You" page at the completion of your submission. You can also access the electronic form through the Convention section of the MLA Web site (under 2008 Program Copy Forms), or you may contact the convention office  (<a href="mailto:convention@mla.org">convention@mla.org</a>) and ask to have the paper form sent to you. You will need to have your MLA membership ID and password available to access the electronic form. If the waiver is not approved, the participant may still become an MLA member by the 7 April deadline to participate in your session. For additional information on waivers of membership, please refer to the <a href="/conv_procedures">Procedures for Organizing Meetings at the MLA Convention</a>, which also can be found in the September <I>PMLA</I>.

<b>Q. How can I request funding for a participant?</b>
A. Limited funds are available each year to provide partial assistance to persons who are not MLA members and who would not normally be expected to attend a professional meeting in the field of language and literature. Allied and affiliate organizations may not request funding for their participants. A waiver of membership must first be approved before a request for funding may be made. Funding requests made on the MLA Fund Request form must reach the MLA convention office by 15 April and must explain how the participant would enrich the program. If you submitted your waiver request form online, you should access the funding request form through the "Thank You" page at the completion of your waiver request. You may also request to receive the paper form from the convention office (<a href="mailto:convention@mla.org">convention@mla.org</a>). For additional information on waivers of membership, please see the questions and answers above.

<b>Q. Who is responsible for requesting audiovisual equipment, and what is the deadline for that request?</b>
A. The session organizer is responsible for including all audiovisual requests for the session in the designated "Audiovisual Equipment" section on the final program copy form at the time the form is submitted. All audiovisual requests must be submitted by 1 April. It is the session organizer's responsibility to obtain all audiovisual requirements from the session participants before submitting the final program copy form. Late requests cannot be accommodated. 

<b>Q. When I submitted my proposal, the system replaced punctuation marks and underlines with typos and symbols. What should I do?</b>
A. There are often punctuation errors that occur in the submission of the electronic forms. If you are having difficulty creating italics, type an underline mark before and after a word or sentence to indicate that it should be in italics (e.g., _Professor_ to indicate <i>Professor</i>).

<b>Q. How can I make changes to my proposal after it has been submitted?</b>
A. All final program copy forms must be complete and correct at the time they are submitted. The session information printed in the Program will be taken directly from the final program copy form. Before you submit your form, make sure that the information included on the form (participants' names and affiliations, session title, paper titles, audiovisual equipment, and accessibility requirements) appears exactly as you wish it to appear in the Program. Any information not included on the final program copy form may be omitted from the Program. The final page of the online form allows you to view the information that you have input and make any necessary corrections. Make sure to print out a copy of this page for your records. <b>Once you submit your electronic program copy form you will be unable to access it again to make any changes.</b>
