<h1>Resolution from the 2008 Delegate Assembly</h1>
<i>At its meeting on 29 December 2008, the MLA Delegate Assembly approved the following resolution.  The MLA Executive Council forwarded it to the MLA membership for ratification.  The membership ratified the resolution in a vote that was completed on 10 December 2009.</i>

<h2>Resolution 2008-1</h2>
Whereas Palestinian literature and culture are legitimate subjects of study;

Whereas the conditions in the occupied territories have been critical in shaping modern Arabic literature generally;

Whereas those teaching and writing about the occupation and about Middle East culture have regularly come under fire from anti-Palestinian groups on extra-academic grounds;

Whereas education at all levels in the occupied territories is being stifled by the occupation;

Be it resolved that the MLA endorse teaching and scholarship about Palestinian culture, support members who come under attack for pursuing such work, and express solidarity with scholars of Palestinian culture.
