<h1>Enrollments in Languages Other Than English in United States Institutions of Higher Education, Fall 2009</h1>

<a href="/enroll_survey09" target="_blank" onClick="javascript: pageTracker._trackPageview('/pdf/enroll_survey09'); "><b>Full Report</b></a>[[[docstudio filetype_tag_pdf]]]

<a href="/enroll_survey09_pr" target="_blank" onClick="javascript: pageTracker._trackPageview('/pdf/enroll_survey09_pr'); "><b>Press Release</b></a>[[[docstudio filetype_tag_pdf]]]

<a href="/flsurvey_search"><b>Language Enrollment Database, 1958–2009</b></a>

<a href="http://arcgis.mla.org/mla/default.aspx"><b>2009 Enrollments on the MLA Language Map</b></a>


 
