<h1>Resolution from the 2009 Delegate Assembly</h1>
<i>At its meeting on 29 December 2009, the MLA Delegate Assembly approved the following resolution.  The MLA Executive Council forwarded it to the MLA membership for ratification.  The membership ratified the resolution in a vote that was completed on 1 June 2010.</i>

<h2>Resolution 2009-1</h2>
Whereas job security is under attack throughout higher education; and

Whereas a job with a living wage is an economic right of all employees;

Be it resolved that the MLA recognize the importance of job security throughout the academic workforce. All college and university faculty members—full- and part-time—should be eligible for tenure. All higher education employees should have appropriate forms of job security, due process, a living wage, and access to health care benefits.
