<h1>Resolution from the 2011 Delegate Assembly</h1>
<i>At its meeting on 8 January 2011, the MLA Delegate Assembly approved the following resolution.  The MLA Executive Council forwarded it to the MLA membership for ratification.  The membership ratified the resolution in a vote that was completed on 1 June 2011.</i>

<h2>Resolution 2011-1</h2>
Whereas the United States Senate refused to vote on the DREAM Act, which would have granted eligible undocumented students paths to citizenship and tuition assistance,

Be it resolved that the MLA support the efforts of undocumented students seeking paths to legal status by attending institutions of higher education.
