<h1>Registration Rates for the 2011 MLA Annual Convention</h1>
Registration rates for the 2011 convention were as follows:

<table border="0" cellpadding="1" cellspacing="1" width="600">
<tr>
<td></td>
<td>1 Sept.–1 Oct.</td>
<td>2 Oct.–7 Dec.</td>
<td>8 Dec.–9 Jan.</td>
</tr>
<tr>
<td>Regular Member</td>
<td>$135</td>
<td>$165</td>
<td>$195</td>
</tr>
<tr>
<td>Graduate Student Member</td>
<td>$40</td>
<td>$40</td>
<td>$50</td>
</tr>
<tr>
<td>Emeritus Member</td>
<td>$40</td>
<td>$40</td>
<td>$50</td>
</tr>
<tr>
<td>Regular Member Residing Outside<br> the United States and Canada</td>
<td>$50</td>
<td>$50</td>
<td>$60</td>
</tr>
<tr>
<td>Unemployed Member or <br>Member Employed Less Than Full-Time</td>
<td>$50</td>
<td>$50</td>
<td>$60</td>
</tr>
<tr>
<td>Nonmember	</td>
<td>N/A</td>
<td>$220</td>
<td>$250</td>
</tr>
<tr>
<td>Graduate Student Nonmember</td>
<td>N/A</td>
<td>$65</td>
<td>$75</td>
</tr>
<tr>
<td>Emeritus Nonmember</td>
<td>N/A</td>
<td>$65</td>
<td>$75</td>
</tr>
</table>
<br>
Hotel rates for single- and double-bedded rooms ranged from $125 to $169 per night, depending on the hotel. One- and two-bedroom suites ranged from $165 to $679 per night.
