<h1>Registration Rates for the 2012 MLA Annual Convention</h1>
Registration rates for the 2012 convention were as follows:

<table border="0" cellpadding="1" cellspacing="1" width="600">
<tr>
<td></td>
<td>1 Sept.–3 Oct.</td>
<td>4 Oct.–7 Dec.</td>
<td>8 Dec.–8 Jan.</td>
</tr>
<tr>
<td>Regular Member</td>
<td>$145</td>
<td>$175</td>
<td>$205</td>
</tr>
<tr>
<td>Graduate Student Member</td>
<td>$45</td>
<td>$45</td>
<td>$55</td>
</tr>
<tr>
<td>Emeritus Member</td>
<td>$50</td>
<td>$50</td>
<td>$60</td>
</tr>
<tr>
<td>Regular Member Residing outside<br> the United States and Canada</td>
<td>$50</td>
<td>$50</td>
<td>$60</td>
</tr>
<tr>
<td>Unemployed Member or <br>Member Employed Less Than Full-Time</td>
<td>$50</td>
<td>$50</td>
<td>$60</td>
</tr>
<tr>
<td>Nonmember	</td>
<td>N/A</td>
<td>$235</td>
<td>$265</td>
</tr>
<tr>
<td>Graduate Student Nonmember</td>
<td>N/A</td>
<td>$65</td>
<td>$75</td>
</tr>
</table>
<br>
Hotel rates for single- and double-bedded rooms ranged from $130 to $149 per night, depending on the hotel. One- and two-bedroom suites ranged from $149 to $499 per night.
