<h1>2013 Delegate Assembly Resolutions</h1>
<i>The following resolutions were approved by the 2013 MLA Delegate Assembly at its meeting on 5 January 2013 in Boston.</i>
<h2>Resolution 2013-1</h2>
Whereas in 2011 the CUNY Board of Trustees passed the Pathways curriculum for implementation by September 2013;

Whereas the approval of Pathways bypassed elected faculty governance, and only the CUNY administration’s appointees participated in the decision making;

Whereas the American Association of University Professors states, “The faculty has primary responsibility for . . . curriculum [and] subject matter,” and CUNY governance regulations state, “The faculty shall be responsible . . . for the . . . granting of degrees”;

Whereas the CUNY administration acted despite senates’, councils’, and nearly five thousand instructional staff members’ opposition; and

Whereas violations of elected faculty governance like those at CUNY have taken place at numerous other institutions;

Be it resolved that the MLA affirm the right of CUNY’s faculty and any other college and university faculty to determine curriculum and graduation requirements and to withhold implementation of any curriculum that has not been recommended by the appropriate faculty governance body.

<h2>Resolution 2013-2</h2>
Whereas the MLA is concerned by the tragic shootings at Virginia Tech and Newtown, Connecticut, and wishes to join the broader academic community in calling for a far-reaching solution to gun violence;

Be it resolved that the MLA endorse the Statement on Gun Violence in America issued by the Association of American Universities on 2 January 2013.
