<h1>Registration Rates for the 2013 MLA Annual Convention</h1>
Registration rates for the 2013 convention were as follows:

<table border="0" cellpadding="1" cellspacing="1" width="600">
<tr align="left"; valign="bottom">
<th>&nbsp;</th>
<th width="120px">Early <br>Registration<br>4 Sept.–3 Oct.</th>
<th width="120px">Registration<br>4 Oct.–7 Dec.</th>
<th width="120px">Late and On-Site Registration<br>8 Dec.–6 Jan.</th>
</tr>
<tr>
<td>Regular Member</td>
<td>$150</td>
<td>$180</td>
<td>$210</td>
</tr>
<tr>
<td>Graduate Student Member</td>
<td>$50</td>
<td>$50</td>
<td>$60</td>
</tr>
<tr>
<td>Emeritus Member</td>
<td>$55</td>
<td>$55</td>
<td>$65</td>
</tr>
<tr>
<td>Regular Member Residing outside<br> the United States and Canada</td>
<td>$55</td>
<td>$55</td>
<td>$65</td>
</tr>
<tr>
<td>Non-Tenure-Track and Unemployed Members</td>
<td>$55</td>
<td>$55</td>
<td>$65</td>
</tr>
<tr>
<td>Nonmember</td>
<td>N/A</td>
<td>$240</td>
<td>$270</td>
</tr>
<tr>
<td>Graduate Student Nonmember</td>
<td>N/A</td>
<td>$70</td>
<td>$80</td>
</tr>
</table>


Hotel rates for single- and double-bedded rooms ranged from $110 to $225 per night, depending on the hotel. One- and two-bedroom suites ranged from $175 to $745 per night.
