<h1>Registration Rates for the 2014 MLA Annual Convention</h1>
Registration rates for the 2014 convention are as follows:

<table border="0" cellpadding="1" cellspacing="1" width="600">
<tr align="left"; valign="bottom">
<th>&nbsp;</th>
<th width="120px">Early <br>Registration <br>4 Sept.–2 Oct.</th>
<th width="120px">Registration <br>3 Oct.–3 Dec.</th>
<th width="120px">Late and On-Site Registration <br>4 Dec.–12 Jan.</th>
</tr>
<tr>
<td>Regular Member</td>
<td>$160</td>
<td>$190</td>
<td>$220</td>
</tr>
<tr>
<td>Graduate Student Member</td>
<td>$55</td>
<td>$55</td>
<td>$65</td>
</tr>
<tr>
<td>Emeritus Member</td>
<td>$65</td>
<td>$65</td>
<td>$75</td>
</tr>
<tr>
<td>Regular Member Residing outside<br> the United States and Canada</td>
<td>$65</td>
<td>$65</td>
<td>$75</td>
</tr>
<tr>
<td>Unemployed Member or Member Employed Part-Time</td>
<td>$60</td>
<td>$60</td>
<td>$70</td>
</tr>
<tr>
<td>Nonmember</td>
<td>N/A</td>
<td>$250</td>
<td>$280</td>
</tr>
<tr>
<td>Graduate Student Nonmember</td>
<td>N/A</td>
<td>$80</td>
<td>$90</td>
</tr>
</table>


Hotel rates for single- and double-bedded rooms range from $89 to $151 per night, depending on the hotel. One- and two-bedroom suites range from $125 to $438 per night.
