[[[comment]]]<!--//REINSTATE FOR CLOSE OF COMMENTS//-->The comment period is closed. The balloting period opens on 16 October and ends on 10 December. For access to the ratification ballot, please go to the <a href="/">MLA home page</a>.[[[endcomment]]]

[[[comment]]]<!--// REINSTATE FOR RATIFICATION BALLOT COMMENT PERIOD//-->[[[endcomment]]]

<h1>Invitation to Comment on the 2014 Delegate Assembly Resolution</h1>
Members are invited to comment on a resolution that the Delegate Assembly approved at its meeting on 11 January 2014 in Chicago. Click below to go to the resolution page.
<br><br>
Members should note that, at this point in the <a href="/prep_resdelegateassembly">resolutions process</a>, the wording of the resolution is final. Comments should be brief and should address the issues raised in the resolution. Members’ comments are not subject to a word limit, nor is there a limit on the number of comments that a member may post.
<br><br>
Members are encouraged to treat all participants in the comment process with respect and to use language that is in keeping with the highest professional standards. Language that could be deemed discriminatory, threatening, abusive, harassing, or offensive to any individual or group should not be used. The MLA does not routinely monitor comments and is not responsible for their content but does reserve the right to delete comments that are not in keeping with the above guidelines.
<br><br>
Members may enter comments beginning 17 March until 5:00 p.m. (EDT) on 16 April. During the balloting period, from 21 April through 1 June, additional comments will not be accepted, but comments already posted will be available for review.
<br><br>
<a href="/14resolutioncomm01">Resolution 2014-1</a>
