<h1>Resolutions Approved by the 2014 Delegate Assembly</h1>
<i>At its meeting on 11 January 2014, the MLA Delegate Assembly approved two resolutions. The MLA Executive Council conducted its constitutionally mandated review of these resolutions at the end of February and decided to forward only Resolution 2014-1 to the MLA membership for a ratification vote. The text of Resolution 2014-1, below, includes the nonsubstantive copyediting changes that the council approved.

Before the vote is conducted, members can <a href="/2014resolutioncomm">comment on the resolution</a>. The comment period opens on 17 March and closes on 16 April. The balloting period opens on 21 April and closes on 1 June. According to the MLA constitution (art. 11.C.7), “[a]ll resolutions forwarded to the membership must be ratified by a majority vote in which the number of those voting for ratification equals at least ten percent of the association’s membership.”</i>

<h2>Resolution 2014-1</h2>
Whereas Israel has denied academics of Palestinian ethnicity entry into the West Bank;

Whereas these restrictions violate international conventions on an occupying power’s obligation to protect the right to education;

Whereas the United States Department of State acknowledges on its Web site that Israel restricts the movements of American citizens of Palestinian descent;

Whereas the denials have disrupted instruction, research, and planning at Palestinian universities;

Whereas the denials have restricted the academic freedom of scholars and teachers who are United States citizens; 

Be it resolved that the MLA urge the United States Department of State to contest Israel’s denials of entry to the West Bank by United States academics who have been invited to teach, confer, or do research at Palestinian universities.

<h2>Resolution 2014-2</h2>
Whereas foundations such as Lumina, with an agenda of privatization and with corporate funding, are influencing accreditation processes and related state education codes;

Whereas the accreditation process is altering the missions of institutions of higher education, shrinking capacity, paving the way for privatization of sectors of higher education, and driving students into serious long-term debt;

Whereas the Accrediting Commission for Community and Junior Colleges (ACCJC) revoked the accreditation of the Community College of San Francisco (CCSF), effective 2014, despite CCSF’s excellent record in student success and access;

Whereas the Department of Education has determined that the ACCJC is out of compliance with several applicable regulations, including failure to avoid conflicts of interest, which raises significant questions about its continued status as a federally recognized accrediting body;

Be it resolved that the MLA condemn the revocation of CCSF’s accreditation, corporate influence in institutional accreditation, and the broader privatization efforts that threaten access to public higher education.
