<h1>2015 Presidential Theme: Negotiating Sites of Memory</h1>

<p>In January 2015 the MLA Annual Convention will take place in Vancouver for the first time, and I would like to invite you to participate in the presidential theme, Negotiating Sites of Memory.</p> 

<p>Presidential themes give each convention a specific character, a focus for various topics and concerns that encourages members to converse across the lines separating our fields. I hope that Negotiating Sites of Memory will build on the accomplishments of recent conventions and prove to be as capacious and rewarding as the themes of my predecessors. The theme for the 2015 convention invites MLA members to think expansively about sites of memory that are important to their work as scholars, teachers, students, and members of an association that negotiates on behalf of humanities education and educators’ working conditions. </p>

<p>The phrase <i>sites of memory</i> has many possible meanings. Like individual and collective memories expressed in verbal and other semiotic forms, the phrase is not fully translatable: it does, however, represent and misrepresent something from the past with implications for various presents and imagined futures. The theme remembers, in particular, Pierre Nora’s provocative conception of <i>lieux de mémoire</i> as “meaningful entities,” both real and imagined (monuments, holidays, flags, and school textbooks are among his many examples of particularly French memory sites). But this theme exceeds and challenges Nora’s argument, and especially its version of a still prevalent and unidirectional theory of history that distinguishes sharply between modern and premodern workings of collective (and, by implication, individual) memory. As a feminist scholar who has spent most of her career studying and teaching artifacts that were initially produced in times and places retrospectively (and still debatably) named medieval, Renaissance, and early modern, I hope this theme will foster conversations among those who define and value that which is <i>not</i> modern according to various chronological schemes and theoretical paradigms. </p> 

<p>Sites of memory that have been contested and that therefore call for negotiations—communicative acts involving challenge, debate, persuasion, translation, interpretation, performance of real or feigned hope, awareness of possible failure—occur in many environments. Sites of memory may of course occur in physical landscapes that have been drastically changed by time, climate, and human agency, which intertwine to make environments. Sites of memory can be lost and, sometimes,  partially remembered according to the nonlinear temporalities explored in literature, art, music, and those instances of dream work that are communicated among individuals. Sites of memory occur in many media, genres, and material forms; their scales vary, as do the kinds of emotion they memorialize and engender and the negotiations for which they call. MLA members might reflect on sites of memory that can be found in (or as) manuscripts, printed books, libraries, school classrooms, universities, screen arts, performances, human and animal bodies, computers, and Web sites, including those that represent controversial public figures and colonized lands occupied by groups with competing conceptions of the past and different visions of how land should be used. Sites of memory may also be found, or made, by certain uses of verb tenses and moods, as the body of recent and multilingual speculation on the “futural past” attests.</p> 
<p>I hope that Negotiating Sites of Memory will generate exchanges in and among a variety of fields. I invite you to propose special sessions or to dedicate the sessions allotted to your divisions, discussion groups, allied organizations, or committees to exploring aspects of the presidential theme. To solicit contributions for a convention session that engages with the theme, please post a call for papers by 21 February 2014. On the forms used for session proposals (available in early March at <a href="/convention">www.mla.org/convention</a>) you can indicate whether you wish your session to be considered for inclusion among the listing of sessions related to Negotiating Sites of Memory.</p>

<p>The 2015 convention in Vancouver promises to be an exciting one, and I hope you will attend. I look forward to seeing you there.</p>
<br>
<img src="/IMAGES/ferguson_sig.png" border=0 alt="signature">
<p>Margaret W. Ferguson <br>
2014–15 MLA President</p>
