<h1>About Searching Enrollment Data</h1>
<p>This database offers access to enrollments in languages other than English from the twenty-two surveys conducted by the Modern Language Association between 1958 and 2009 and funded by the United States Department of Education. Also available is a report on the most recent survey, <em><a href="/2009_enrollmentsurvey">Enrollments in Languages Other Than English in United States Institutions of Higher Education, Fall 2009</a></em>.</p>

<p>Enrollment numbers are entered as reported to us by directors of institutional research or registrars. Users should note that the MLA surveys count course enrollments, not students. A student may be enrolled in more than one language course. A graduate student enrolled in an undergraduate course is counted as an undergraduate enrollment.</p>

<p>During the fifty-one-year span of the surveys, there have been changes in methodology, inclusion of new categories, language and institutional name changes, and other variations. </p>


<ul>
<li>Names of languages are entered as reported to us in each survey. Because a language or variant may appear under different names&mdash;as with Farsi and Persian; Chinese, Mandarin, and Cantonese; or Yupic and Yup'ik&mdash;users may wish to open the link to Add Related Languages, when it appears, or select from the full list of languages. Language variants or different course names may produce enrollment listings that must be searched separately but might usefully be considered together, as in the case of Filipino, Pilipino, and Tagalog or Ancient Greek, Biblical Greek, and Koine Greek. </li>
<li>Some institutions have had more than one name or have changed status over time. Our records list institutions under the name they held at the time of each survey. For institutions that had name or status changes (e.g., from two-year to four-year or the reverse or merged or closed), an “i” appears next to the name after a search is done. Scrolling over the “i” or the institution name will bring up information about these changes. Related institutions are linked. A search for an institution that changed its name will bring up enrollments under the names it had at the time of the selected surveys. For example, Arkansas College was renamed Lyon College in 1994; a search for Lyon College French enrollments in the 1972 survey will bring up Arkansas College enrollments.</li>
<li>A list of the most commonly used abbreviations in the survey is available <a href="/commonly_used_abbrev">here</a>.</li>
</ul>

<p>Some information about institutions and languages may not be available for all surveys.</p>


<ul>
<li>The breakdown between lower- and upper-level undergraduate enrollments is only available for 2006 and 2009 and only for searches by state and by institution, not for searches for the entire United States. </li>
<li>Data disaggregated by institution, by state, or by enrollment level may not be available for all languages or all survey years.</li>
<li>Some surveys are anomalous. The 1969 and 1971 surveys treat summer rather than fall enrollments. The 1958 and 1959 surveys for four-year institutions aggregated all language enrollments other than French, German, Italian, Russian, and Spanish under “Other Languages.” The 1972 survey aggregated all language enrollments other than Ancient Greek, French, German, Italian, Latin, Russian, and Spanish, also under “Other Languages.” More information on aggregated enrollments is available <a href="/aggregate_enrollment">here</a>.</li>
</ul>

<p>While the database is comprehensive, for practical reasons the search interface only allows searches of up to eight languages, in eight surveys, in eight states or institutions. Available to researchers is <a href="/enroll_data_comb" >the complete data set for all surveys combined</a>, as well as <a href="/nces_id">an explanation of the use of the NCES UNITID</a> in the survey.</p>
<p><a href="/flsurvey_search">Return to search</a></p>
