<h1>About the MLA</h1>
Founded in 1883, the Modern Language Association of America provides opportunities for its members to share their scholarly findings and teaching experiences with colleagues and to discuss trends in the academy.  MLA members host an annual convention and other meetings, work with related organizations, and sustain one of the finest publishing programs in the humanities.  For over a hundred years, members have worked to strengthen the study and teaching of language and literature.

<h2>The MLA at a Glance</h2>
<ul>
<li>Nearly 30,000 members in 100 countries</li>
<li>Programs serving English and foreign language teachers</li>
<li>An annual convention, with meetings on a wide variety of subjects, and smaller seminars across the country</li>
<li>The <i>MLA International Bibliography</i>, the only comprehensive bibliography in language and literature, available online</li>
<li>A book publication program issuing a number of new books each year and maintaining a backlist of over 200 titles</li>
<li>4 major periodicals: the <i>ADE Bulletin</i>; the <i>ADFL Bulletin</i>; <i>Profession</i>; and <i>PMLA</i>, one of the most distinguished journals in the humanities</li>
<li>A quarterly newsletter providing association
news, lists of deadlines, and items of interest to members</li>
<li>137 divisions and discussion groups for specialized
scholarly and teaching interests of members</li>
<li>45 membership committees overseeing association
activities and publications</li>
<li>Leadership in the national education community</li>
</ul>

<h2>Membership Involvement in Association Activities</h2>
<ul>
<li>Over 300 members are elected to govern the
association through its Executive Council, Delegate Assembly,
and other governance committees.</li>
<li>Over 680 members serve on the executive committees
of the 87 divisions and 50 discussion groups that represent the
scholarly and teaching interests of various constituencies within
the profession and that help determine much of the program at
the annual convention.</li>
<li>Over 2,000 members give papers and readings
each year at the convention.</li>
<li>Hundreds of readers join the 52 members of the
<i>PMLA</i> Editorial Board and Advisory Committee in reviewing essays
submitted for publication.</li>
<li>More than 120 specialists index articles and
journals for the <i>MLA International Bibliography</i>.</li>
<li>Over 70 members are involved in selecting
the winners of the 23 prizes the MLA awards for outstanding scholarly
books and articles on language and literature.</li>
</ul>
