<h1>About Committees</h1>
As a membership organization, the Modern Language Association depends on the dedication and commitment of its members to ensure the vitality of association programs. Each year, hundreds of members serve on the association's committees.

A list of the association's committees, their functions, their staff liaisons, and the names and terms of appointment of their members can be viewed by clicking <a href="/committees">here</a>.

<h2>Standing Committees, Ad Hoc Committees, and Executive Committees</h2>
A standing committee is established by the MLA Executive Council or by the constitution to oversee an ongoing activity of the association. This category currently includes publications committees, governance committees, prize selection committees, the MLA convention program committee, and committees that address professional or scholarly issues. Many of these committees report annually to the council and the Delegate Assembly.

Ad hoc committees (sometimes called commissions or task forces), established by the council to oversee particular projects or investigate particular areas of professional or scholarly concern, exist for limited periods of time, usually two or three years, and normally issue final reports, which may include recommendations for the council's and the Delegate Assembly's consideration. Recent examples are the Committee on Professional Employment, the Ad Hoc Committee on the Future of Scholarly Publishing, and the Ad Hoc Committee on the Professionalization of PhDs.

The executive committees of the MLA's divisions and discussion groups are also part of the governance structure of the association. These five-member committees conduct the business of the divisions and discussion groups. Their responsibilities are described in the document <a href="/policies_for_divisio">Policies for Divisions, Discussion Groups, and Allied and Affiliate Organizations</a>.

<h2>Appointed or Elected?</h2>
As a rule, the members of standing and ad hoc committees are appointed, either by the Executive Council or by a committee to which the council has delegated that task (e.g., the Committee on Honors and Awards makes appointments to most of the association's prize selection committees). The exceptions to this rule are four governance committees—the Executive Council itself, the Nominating Committee, the Elections Committee, and the Delegate Assembly Organizing Committee—and the division and discussion group executive committees.

<h2>Suggesting Members for Appointment by the Executive Council</h2>
The council makes appointments to a number of the standing committees of the association each February, with committee terms generally beginning on 1 July.  Members who would like to suggest themselves or other members for appointment to particular committees may do so at the MLA Web site from mid-November through early February[[[comment]]] (access the <a href="/commsugg">suggestion page</a>)[[[endcomment]]].  At other times of the year, suggestions should be sent in writing to Carol Zuses, coordinator of governance, either by e-mail or regular mail.  The following information should be included: specification of the committee, name of the member suggested, affiliation, department, rank, field(s) of specialization, a short listing of professional activities and of books and major articles published, and a brief statement of the person’s qualifications.  Members should consult the list of association <a href="/committees">committees</a> to determine expected vacancies.  Suggestions for appointments are not carried forward from year to year.  If a suggestion is not acted on in one year, it will have to be made again in a subsequent year.

<h2>Suggesting Members for Nomination to an Executive Committee</h2>
Division and discussion group executive committee elections are held in the fall along with the elections for second vice president, the Executive Council, and the Delegate Assembly. The executive committee of each division and discussion group is responsible for placing at least two names in nomination for each open seat on the executive committee. At least one of these names must be selected from a list of suggestions put forward by the membership.

There are three ways to place a member's name on the list that will be considered by an executive committee. (1) Use the space at the bottom of the printed MLA election ballot that is designated for this purpose. Names that appear in this space are considered by the appropriate executive committee for the following year's executive committee election. (2) Use the online submission form at the MLA Web site. This form can be accessed at any time through the link that appears on the right-hand side of this page, but members who vote online in the fall MLA elections will be directed to the submission form when exiting the online ballot system. (3) Write a letter to the coordinator of governance giving the name of the person, his or her affiliation, and the name of the division or discussion group that should receive the suggestion. Such a letter may be sent at any time, but writers should note that executive committees make their nominations during their business meetings at the annual convention. For an executive committee to consider a suggestion, it must be received by early December so that it can be forwarded to the executive committee before the convention. Again, suggestions received in one year will be considered for the following year's executive committee election.

Members should note that the lists of suggestions considered by the executive committees are compiled anew each year; names suggested by either of the methods described above are not carried forward from year to year. If a suggestion is not acted on in one year, it will have to be made again the following year.

<h2>Reaching MLA Committees and Committee Members</h2>
Members who wish to communicate with committee members may write to them directly at the addresses listed in the membership directory. If a committee has a staff liaison, members may also write to the committee in care of the liaison, whose name is listed in the roster of <a href="/committees">committees</a>.
<BR><BR>
