<h1>About ADE and ADFL Online Job Counseling</h1>

ADE and ADFL Online Job Counseling contains advice on career planning and the job market from over seventy authors, most of them senior department chairs with extensive experience in hiring. The advice is organized as responses to commonly asked questions under the following categories:
<br/><br/>
<ul>
<li>Planning a Career after Graduate School</li>
<li>Developing an Academic Career</li>
<li>Developing a Nonacademic Career</li>
<li>When and Where to Look for an Academic Job</li>
<li>CVs, Dossiers, Application Letters, Writing Samples, and Portfolios</li>
<li>Interviews, Campus Visits, Job Talks, and Teaching Demonstrations</li>
<li>Negotiating Special Situations</li>
<li>Job Offers</li>
</ul>

In addition, the pages contain links to thirty-five articles on the job search from the electronic archives of the <i>ADE Bulletin</i> and the <i>ADFL Bulletin</i>. This service is offered by the Association of Departments of English and the Association of Departments of Foreign Languages as a year-round supplement to the individual job counseling that administrators of their member departments offer at the MLA convention every year in the Interview Area of the Job Information Center. We plan to expand and adapt online job counseling to the needs of its users, so if you have any questions about the job search that are not answered here, please send them to David Laurence at <a href="mailto:dlaurence@mla.org">dlaurence@mla.org</a>, and we'll seek a response from a department chair to add to the site. For technical questions concerning the pages, please e-mail Stephen Olsen at <a href="mailto:solsen@mla.org">solsen@mla.org</a>. Finally, we thank our contributors for generously providing the content of these pages.
