<h1>Report from the ADE Ad Hoc Committee on Governance</h1>
<div class="top_indent"><a href="/report_ad_hoc_govern">Download the report</a>[[[docstudio filetype_tag_pdf]]]

This report was published in <i>Profession</i> 2002 (New York: MLA, 2002) 211–28.

 
