<h1>ADE Executive Committee Ballot</h1>
The following colleagues have been nominated for election to the ADE Executive Committee for three-year terms from 1 January 2008 to 31 December 2010. Please read the brief biographical sketches of the candidates that appear below and vote for one candidate in each of the four divisions. 

You can also see the current roster of executive committee members. Online voting will be available until 5:00 p.m. eastern time on 30 November 2007. Please note that your department may cast only one ballot.

Click on a candidate's name to view his or her biography. To vote, select one circle in each division and then click on Submit Ballot. 

<b>Division I (PhD-Granting Institutions)</b> 
Pat Okker, Univ. of Missouri, Columbia 
John P. Zomchick, Univ. of Tennessee, Knoxville

<b>Division II (Public BA- or MA-Granting Institutions) </b>
Allyson Booth, United States Naval Acad.
Susanmarie Harrington, Indiana Univ.--Purdue Univ., Indianapolis

<b>Division III (Private BA- or MA-Granting Institutions) </b>
Kevin J. Harty, La Salle Univ.
Theodore O. Mason, Kenyon Coll.

<b>Division IV (Two-Year Institutions) </b>
Robert A. Kelly, Macon State Coll.
Vivian Colias Jones, Montgomery Coll.

<h2>Division I: PhD-Granting Institutions</h2>
<b>Pat Okker.</b> Professor of English and chair of the English department at the Univ. of Missouri, Columbia. PhD, Univ. of Illinois, Urbana-Champaign; MA, Univ. of Georgia; BA, Allegheny Coll. Okker has taught at the Univ. of Missouri since receiving her doctorate and became chair there in 2005. She has also served as associate chair, director of undergraduate studies, chair of the campus writing board and on numerous other campus boards and committees devoted to strategic development, human resource development, academic integrity, mentoring of new faculty members, faculty awards, admissions, women's studies, English graduate studies, and the lower division, among others. Her honors and grants include the William T. Kemper Fellowship for Teaching Excellence, research leaves and grants, and summer research fellowships. She currently serves as president of the Research Society for American Periodicals. She has presented her work at numerous national and international conferences. Okker's books include <i>Social Stories: The Magazine Novel in Nineteenth-Century America</i> and <i>Our Sister Editors: Sarah J. Hale and the Tradition of Nineteenth-Century American Women Editors</i>. Her articles have appeared in journals and collections such as <i>Victorian Periodicals Review</i>, <i>Au bonheur du feuilleton: Naissance et mutations d'un genre</i> (ed. Marie-Fran&#231;oise Cachin et al.), <i>American History through Literature, 1820–1870</i> (ed. Janet Gabler-Hover and Robert D. Sattelmeyer), <i>American Periodicals</i>, <i>Dictionary of Literary Biography</i>, <i>ATQ: Nineteenth Century American Literature and Culture</i>, <i>Southern Literary Journal</i>, <i>Nineteenth-Century American Literature in Periodical Contexts</i> (ed. Susan Belasco Smith and Kenneth M. Price), <i>Realism and the Canon</i> (ed. Tom Quirk and Gary Scharnhorst), and <i>The Comparatist</i>. 

<b>John P. Zomchick.</b> Professor of English and former head of the English department at the Univ. of Tennessee, Knoxville. PhD, MA, Columbia Univ.; BA, Pennsylvania State Univ. Zomchick has taught at the Univ. of Tennessee since receiving his doctorate and served as head there from 2002 to 2007. He has also served as interim associate dean for academic programs for the college of arts and sciences; as director of undergraduate studies; as director of departmental honors; and on campus committees devoted to administrative and professorial hiring searches, a humanities initiative, general education, intellectual and cultural expression, strategic planning, and graduate-teacher-assistant mentoring, among others. He has served as an external department reviewer, fellowship application reviewer, coeditor of <i>Restoration</i>, advisory editor for <i>Eighteenth-Century Studies</i>, NEH evaluator, and manuscript reviewer for academic presses. His honors include graduate-school faculty-research grants, a faculty-advising service award, John C. Hodges summer research grants, and an NEH summer stipend. Zomchick has presented his work widely at national and international conferences. His books include <i>Family and the Law in Eighteenth-Century Fiction: The Public Conscience in the Private Sphere</i> and (with G. S. Rousseau) a forthcoming edition of Tobias Smollett's <i>Adventures of Peregrine Pickle</i>. His articles have appeared in such journals and books as <i>Restoration</i>, <i>Cutting Edges: Post-Modern Critical Essays in Eighteenth-Century Satire</i> (ed. James E. Gill), <i>Reader Entrapment in Eighteenth-Century Literature</i> (ed. Carl Kropf), <i>Studies in English Literature</i>, <i>Eighteenth-Century Life</i>, and <i>ELH</i>. 

<h2>Division II (Public BA- or MA-Granting Institutions)</h2> 
<b>Allyson Booth.</b> Professor of English and chair of the English department at the United States Naval Acad. PhD, Univ. of Pennsylvania; BA, Yale Coll. Booth has taught at the United States Naval Acad. since receiving her doctorate. She has recently presented her work at the International Conference for the Study of the American Woman Writer, the Narrative Conference, and the Modernist Studies Association. Her book is <i>Postcards from the Trenches: Negotiating the Space between Modernism and the First World War</i>. Her articles have appeared in <i>Mosaic; The Dickensian; Yeats Eliot Review; Re: Reading, Re: Writing, Re: Teaching Virginia Woolf</i> (ed. Eileen Barrett and Patricia Cramer); <i>Images of the Child</i> (ed. Harry Eiss); and <i>Essays in Literature</i>.

<b>Susanmarie Harrington.</b> Professor of English and chair of the English department at Indiana Univ.--Purdue Univ., Indianapolis (IUPUI). PhD, MA, Univ. of Michigan; BA, Dartmouth Coll. Harrington has taught at the Univ. of Michigan, Texas Tech Univ., and IUPUI, where she became chair in 2006. She has also served as director of writing and director of placement and assessment. Her honors include the Irwin Experience Excellence Recognition Award, Indiana Univ. trustees' teaching award, IUPUI chancellor's award for excellence in teaching, Indiana Univ. service fellow, and Council on College Composition and Communication (CCCC) citation for excellence in teaching. She has served on the executive board of the Conference on Basic Writing, the steering committee for the Council of Writing Program Administrators (WPA) Outcomes Statement, the executive board for the WPA's Network for Media Action, several committees of the CCCC, the editorial boards of <i>Basic Writing E-Journal</i> and <i>Journal of Basic Writing</i> and as a reviewer for Utah Univ. Press and NCTE. Her service to the university includes work as the president of the liberal arts faculty assembly and service on numerous committees addressing assessment, affirmative action, teacher education, and academic policies. Harrington has presented her work widely at national and international conferences, led numerous workshops, and obtained many grants and fellowships. She has coauthored <i>Basic Writing as a Political Act: Public Conversations about Writing and Literacies</i> (with Linda Adler-Kassner) and coedited <i>Questioning Authority: Stories Told in School</i> (with Adler-Kassner) and <i>The Online Writing Classroom</i> (with Rebecca Rickly and Michael Day). Her essays have appeared in journals or collections such as <i>Composition Studies</i>, <i>College English</i>, <i>Teaching/Writing in the Late Age of Print</i> (ed. Jeffrey Galin and Carol Peterson Haviland), <i>Computers and Composition</i>, and <i>Journal of Basic Writing</i>.

<h2>Division III (Private BA- and MA-Granting Institutions)</h2> 
<b>Kevin J. Harty.</b> Professor of English and chair of the English department at La Salle Univ. PhD, MA, Univ. of Pennsylvania; BA, Marquette Univ. Harty has taught at Centenary Coll. of Louisiana, Rhode Island Coll., Temple Univ., and La Salle Univ., where he became chair in 2002. He has also served as co-coordinator of the Wachovia Foundation Grant for Retraining Philadelphia Middle School Educators; assistant chair of English at La Salle; coordinator of the internship program and of the first-year writing program and its adjunct faculty members and on many committees, including departmental executive, promotion and tenure, curriculum revision, corporate relations, admissions, and outcomes and assessments, among others. His honors include the Christian R. and Mary F. Lindback Award for Distinguished Teaching. He is vice president of the North American branch of the International Arthurian Society and coeditor of <i>Arthuriana</i>. He has been management consultant in writing at such businesses as the Federal Reserve Bank of Philadelphia, AIDS Activities Coordinating Office, the Pension Fund of the United Presbyterian Church of America, Blue Cross of Greater Philadelphia, and RCA. He has received fellowships and grants from La Salle Univ., American Philosophical Society, Temple Univ., Rhode Island Coll., Folger Shakespeare Lib., and Frost Foundation. His books include <i>The Reel Middle Ages: American, Western and Eastern, Middle Eastern, and Asian Films about Medieval Europe</i>, the forthcoming <i>Joan of Arc and Robin Hood on the Screen: Reel Lives</i>, <i>Hidden Agendas</i>, and the sixth edition of <i>Strategies for Business and Technical Writing</i>. He has edited books on writing, film, and the Middle Ages and has published dozens of articles in journals and edited volumes such as <i>A History of Arthurian Scholarship</i> (ed. Norris J. Lacy), <i>Women Medievalists and the Academy</i> (ed. Jane Chance), and <i>Jeunesse et vieillesse: Images m&#233;di&#233;vales de l'&#226;ge en litt&#233;rature anglaise</i> (ed. Leo Carruthers and Adrian Papahagi).

<b>Theodore O. Mason, Jr.</b> Professor of English and chair of the English department at Kenyon Coll. PhD, Stanford Univ.; BA, Wesleyan Univ. Mason has taught at the Univ. of Virginia, Trinity Coll., Mount Holyoke Coll., and Kenyon Coll., where he began his first term as chair in 1992. He has served two terms as director of African American studies and has worked on many committees, including those for the Yarbrough dissertation fellowship, faculty lectureship, presidential search, curricular policy, education and employment opportunities, and student life. He was a member of the Kenyon trustee task force on diversity, charged to develop the college's long-term plans to make good its commitment to diversity in all its concerns. His honors include a trustee-distinguished teaching award and a four-year appointment as John B. McCoy--Bank One Distinguished Teaching Professor. He has served as an external department reviewer; president of the International Society for the Study of Narrative Literature; and reviewer for <i>African-American Review</i>, <i>American Literary History</i>, <i>CLIO</i>, <i>Narrative</i>, <i>PMLA</i>, Duke Univ. Press, and Univ. of Iowa Press. He has presented at many national and international conferences and has published in <i>Johns Hopkins Guide to Literary Theory and Criticism</i>; <i>American Literary Scholarship</i>; <i>American Literary History</i>; <i>Oxford Companion to African American Literature</i>; <i>Langston Hughes Review</i>; <i>Opening the American Mind: Race, Gender, and Ethnicity in American Higher Education</i> (ed. Geoffrey Sill); <i>Kenyon Review</i>; <i>Callaloo</i>; <i>Modern Fiction Studies</i>; and <i>Toni Morrison</i> (ed. Harold Bloom). 

<h2>Division IV (Two-Year Institutions)</h2> 
<b>Robert A. Kelly.</b> Professor of English and chair of the humanities division at Macon State Coll. PhD, MA, Louisiana State Univ.; BA, Providence Coll. Kelly has taught at Macon State Coll. since receiving his doctorate and became chair there in 1999. His awards include a governor's teaching Fellowship, an NEH summer-study grant, Canadian-studies faculty-research grants, and visiting scholar-in-residence awards. College service has included work with hiring search committees, academic affairs, Web-site redesign, conference organization, comprehensive program review, international study and travel, and promotion and tenure review, among other work. He has presented at regional and national conferences. His poems have appeared in <i>POEM</i>, <i>Antigonish Review</i>, <i>South Florida Poetry Review</i>, <i>Kennesaw Review</i>, <i>CEA Critic</i>, and <i>Dalhousie Review</i>; his articles have appeared in <i>Southern Journal of Canadian Studies</i>, <i>Georgia Review</i>, <i>Macon College Faculty Studies Journal</i>, <i>Poetry Criticism</i>, <i>Poetry for Students</i>, <i>Chattahoochee Review</i>, <i>ERIC</i>, <i>CEA Forum</i>, and <i>Christianity and Literature</i>.

<b>Vivian Colias Jones.</b> Professor of English and chair of the English department at Montgomery Coll., Texas. MA, Univ. of Houston; BA, Baylor Univ. Jones has chaired committees on strategic planning and English hiring searches; coordinated a speaker series; supervised and coordinated adjunct faculty members; and served on administrative hiring, professional development, faculty workload, academic integrity, and core curriculum committees. Her honors include a teaching-excellence award and nomination for the David R. Pierce Technology Award. She has attended and presented work at several regional and national conferences. 
