<h1>ADE and ADFL Bulletins</h1>
<p>Complete online archives of the ADE and ADFL bulletins are available to MLA members affiliated with departments belonging to the Association of Departments of English or the Association of Departments of Foreign Languages.  The bulletins publish articles and surveys dealing with professional, pedagogical, curricular, and departmental issues. </p>
<p>Individuals without an academic affiliation or whose departments are not currently members of the ADE or the ADFL can access the bulletins by becoming affiliate members of the ADE or the ADFL; details are available <A HREF="http://www.mla.org/jil_subscribe">here</A>. 
</p>
<p><a href="/adefl_bulletin_ade_latest">Access the <i>ADE Bulletin</i> online</a></p>
<p><a href="/adefl_bulletin_adfl_main">Access the <i>ADFL Bulletin</i> online</a></p>
