<h1>About the <i>ADFL Bulletin</i></h1>

<p>The <i>ADFL Bulletin</i> is a refereed journal published three times a year by the Association of Departments of Foreign Languages, a subsidiary of the Modern Language Association. The <i>ADFL Bulletin</i> publishes essays dealing with professional, pedagogical, curricular, and departmental matters.</p>

<p>Manuscripts should be prepared according to the <i>MLA Style Manual</i> and submitted as attachments to Erika DeSimone, Editorial Assistant for the <i>ADFL Bulletin</i>, at <a href="mailto:adfl-bulletin@mla.org">adfl-bulletin@mla.org</a>. Questions concerning ADFL or the <i>ADFL Bulletin</i> can be addressed to Nelly Furman, Director of ADFL and Editor of the <i>Bulletin</i>, at <a href="mailto:nfurman@mla.org">nfurman@mla.org</a> or to David Goldberg, Associate Director and Associate Editor, at <a href="mailto:dgoldberg@mla.org">dgoldberg@mla.org</a>.  The mailing address is Modern Language Association, 26 Broadway, 3rd Floor, New York, NY 10004-1789.</p>

<h1>Access to the <i>ADFL Bulletin</i></h1>
<p>Faculty members and graduate students in ADFL-member departments have free access to the complete archive of the <i>ADFL Bulletin</i> online at the ADFL Web site as a benefit of the department's membership. See your department chair for details.  Individuals without an academic affiliation or whose departments are not currently members of the ADFL can access the <i>Bulletin</i> by becoming affiliate members of the ADFL; details are available <a href="/jil_subscribe">here</a>.</p>
