<@if ($extjs_compatible ne "Y")>
	<p>
		Sorry, your browser does not support the functionality necessary to view this page. 
		Please upgrade to the most recent version of Internet Explorer, Firefox, or Safari. 
		You may download the PDF version of this document <a href="/adhoc_proposal1_pdf">here</a>.
	</p>
<@else>

<@eval ($use_extjs = "Y";)>

<script language="javascript" type="text/javascript">

// preload the images
var fig1 = new Image();
fig1.src ='/IMAGES/adhoc07_figure1.gif';
var fig2 = new Image();
fig2.src ='/IMAGES/adhoc07_figure2.gif';
var fig3 = new Image();
fig3.src ='/IMAGES/adhoc07_figure3.gif';
var fig4 = new Image();
fig4.src ='/IMAGES/adhoc07_figure4.gif';
var fig5 = new Image();
fig5.src ='/IMAGES/adhoc07_figure5.gif';
var fig6 = new Image();
fig6.src ='/IMAGES/adhoc07_figure6.gif';


function openExtjsTabWindow(tabnum){
	// create the window on the first click and reuse on subsequent clicks
if (tabnum == '') { tabnum = 0; }
var win;
	if(!win){
		win = new Ext.Window({
			title:'Figures',
			layout:'fit',
			width:500,
			closeAction:'hide',
			plain: true,
			items: new Ext.TabPanel({
				activeTab:tabnum,
				deferredRender:false,
				border:false,
				items: [{
						title: 'Figure 1',
						html: '<img src=\"/IMAGES/adhoc07_figure1.gif\" style=\"margin:10px;\">'
					},{
						title: 'Figure 2',
						html: '<img src=\"/IMAGES/adhoc07_figure2.gif\" style=\"margin:10px;\">'
					},{
						title: 'Figure 3',
						html: '<img src=\"/IMAGES/adhoc07_figure3.gif\" style=\"margin:10px;\">'
					},{
						title: 'Figure 4',
						html: '<img src=\"/IMAGES/adhoc07_figure4.gif\" style=\"margin:10px;\">'
					},{
						title: 'Figure 5',
						html: '<img src=\"/IMAGES/adhoc07_figure5.gif\" style=\"margin:10px;\">'
					},{
						title: 'Figure 6',
						html: '<img src=\"/IMAGES/adhoc07_figure6.gif\" style=\"margin:10px;\">'
					}]
			}),

			buttons: [{
				text: 'Close',
				handler: function(){
					win.hide();
				}
			}]
		});
	}
	win.show();
}


</script>

<h1>Ad Hoc Committee on the Structure of the Annual Convention</h1>
<h2>Proposal 1: A Response to Impending Gridlock</h2>
<div class="pdiv">
	The various types of groups that wish to organize convention sessions have significantly increased in number over the past decades, and we have indications that such growth will continue. As currently structured, the convention cannot continue to accommodate that growth. Under pressure from this growth, the convention program in its current form (1) creates scheduling inequities; (2) inhibits change and innovation; (3) threatens the program space allocated for special sessions.
</div>

<h3 style="margin-bottom: 20px;">ISSUES</h3>

<div><b>1. Limitations on scheduling and growth</b></div>
<div class="pdiv" style="margin-top:0px;">
	The convention provides opportunities for a variety of entities (discussion groups, divisions, allied organizations, and so forth) to meet and thus serves a wide range of specialties within the larger field of language and literature study. But access to prime meeting times is limited, and members in various groups have consistently expressed dissatisfaction with perceived inequities among time slots.
	<div class="pdiv" id="icon_A1" style="padding:0px;margin:0px;display:inline;white-space:nowrap;background:url('/IMAGES/expand-plus.gif') no-repeat bottom left;"><a href="javascript:showLogin('A1');"><img src="/IMAGES/clear.gif" width="9" height="9" border="0" /></a>&nbsp;<a href="javascript:showLogin('A1');">Read more</a>&hellip;</div>
	<div class="pdiv" id="expand_A1" style="display:none;visibility:hidden;"> 
		<div class="pdiv" style="padding-left:20px;">
			Eliminating paper reading at evening sessions will help remedy this situation, but the ad hoc committee recommends further action. The convention is scheduled in a way that reserves a certain number of time slots for each of the various entities and that apportions those slots to give allied organizations one of their two sessions either at the beginning or the end of the convention. Currently, divisions are entitled to three sessions during the convention; allied organizations, some of which have more members than some divisions, are allotted two sessions. Discussion groups are entitled to one session during the convention. With the growth in the number of divisions and allied organizations, there are no longer as many time slots available during the main meeting hours, reducing the slots available for special sessions in particular.
		</div>
		<div class="pdiv" style="padding-left:20px;">
			The current structure also fails to maximize meeting opportunities for allied and affiliate organizations, which provide vital centers of intellectual community and continuity within the larger MLA convention.
		</div>
	</div>
</div>

<div><b>2. The program structure&rsquo;s effect on intellectual flexibility and innovation</b></div>
<div class="pdiv" style="margin-top:0px;">
	We have reached the convention&rsquo;s limit of growth as a four-day event, and our ability to respond as an association to new developments in the profession has stagnated.
	<div class="pdiv" id="icon_A2" style="padding:0px;margin:0px;display:inline;white-space:nowrap;background:url('/IMAGES/expand-plus.gif') no-repeat bottom left;"><a href="javascript:showLogin('A2');"><img src="/IMAGES/clear.gif" width="9" height="9" border="0" /></a>&nbsp;<a href="javascript:showLogin('A2');">Read more</a>&hellip;</div>
	<div class="pdiv" id="expand_A2" style="display:none;visibility:hidden;"> 
		<div class="pdiv" style="padding-left:20px;">
			With the current allocation of guaranteed sessions, the convention program can no longer accommodate the natural pattern of growth that has kept the MLA a vital organization over the last twenty-five years. Every year we have seen more organizations applying for allied status, more groups of members applying for discussion-group status, and more discussion groups applying for division status. Every year, the Program Committee struggles to fit this growth into the finite space available at the convention.
		</div>
		<div class="pdiv" style="padding-left:20px;">
			This growth (outlined in <a href="javascript:openExtjsTabWindow(0);">fig. 1</a>) has been dramatic: from 197 divisions, allied organizations, and other groups in 1980 to 277 in 2007. Such growth is the result of organic changes in our disciplines and should be supported. However, the MLA will soon be unable to accommodate continued growth at the convention, given the current allocation of sessions on the program. (See <a href="javascript:openExtjsTabWindow(1);">fig. 2</a> for the total growth of guaranteed sessions since 1993.) A new convention schedule would be implemented in January 2011; it would not change the total number of available time slots in any significant way.
		</div>
		<div class="pdiv" style="padding-left:40px;">
			<i>Costs:</i> The MLA convention program will soon no longer be able to accommodate new entities. Moreover, the growth of the total number of sessions has pushed convention sessions further into the evening hours, forcing attendees to choose between informal intellectual and social exchanges and scheduled sessions.
		</div>
	</div>
</div>

<div><b>3. Threat to special sessions</b></div>
<div class="pdiv" style="margin-top:0px;">
	As the number of guaranteed sessions increases, the space for special sessions will decrease.
	<div class="pdiv" id="icon_A3" style="padding:0px;margin:0px;display:inline;white-space:nowrap;background:url('/IMAGES/expand-plus.gif') no-repeat bottom left;"><a href="javascript:showLogin('A3');"><img src="/IMAGES/clear.gif" width="9" height="9" border="0" /></a>&nbsp;<a href="javascript:showLogin('A3');">Read more</a>&hellip;</div>
	<div class="pdiv" id="expand_A3" style="display:none;visibility:hidden;"> 
		<div class="pdiv" style="padding-left:20px;">
			At the moment, special sessions are how the convention accommodates changes in the field, allows attendees to experiment with new intellectual paradigms, and encourages work by emerging scholars. However, special sessions currently make up only 25% of the program. If we try to loosen the current constraints on intellectual developments in our fields and accommodate growth in interest groups by further reducing the number of special sessions, we will do significant damage to our larger goals as an organization.
		</div>
	</div>
</div>

<h3 style="margin-bottom: 20px;">SUMMARY AND PROPOSED SOLUTIONS</h3>

<div class="pdiv">
	As an association, we have reached an impasse in trying to accommodate the interests of the members who propose special sessions on the one hand and of allied and affiliate organizations, divisions, discussion groups, and MLA committees on the other. The committee asked itself two basic questions about the convention: How can we determine where intellectual evolutions in the profession are going to take place? How can we use the convention structure to support them? One answer is to allocate session slots more equitably and to take advantage of the newly opened evening hours to create time for informal as well as formal exchanges. Another answer is to create some space for innovations, experimentation, and play.
</div>
<div class="pdiv">
	<u>Solution 1: Equitable allocation of session hours</u>
	<br />
	<div class="pdiv" id="icon_A4" style="padding:0px;display:inline;margin:0px;white-space:nowrap;background:url('/IMAGES/expand-plus.gif') no-repeat bottom left;"><a href="javascript:showLogin('A4');"><img src="/IMAGES/clear.gif" width="9" height="9" border="0" /></a>&nbsp;<a href="javascript:showLogin('A4');">Read more</a>&hellip;</div>
	<div class="pdiv" id="expand_A4" style="display:none;visibility:hidden;"> 
		<div class="pdiv" style="padding-left:20px;">
			<ul>
				<li>
					The committee proposes to schedule all entities equally throughout the time slots available at the MLA convention.
					<div class="pdiv" style="padding-left:40px;">
						<i>Benefits:</i> This change would mean that allied organizations will no longer be required to have one of their sessions in an opening-day or closing-day time slot.
					</div>
				</li>
				<li>
					The committee proposes to open the newly available evening times for additional social and networking events, as well as special events such as readings and conversations with authors. These events will be allocated regular meeting space and will appear on the program. In scheduling these events, the MLA will take into account the particular needs of groups whose participation is otherwise limited, such as allied organizations.
					<div class="pdiv" style="padding-left:40px;">
						<i>Benefits:</i> This change will ensure that the schedule does not prioritize formal and informal meetings over social and intellectual exchange.
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="pdiv">
	<u>Solution 2: Fewer guaranteed sessions, more opportunities</u>
</div>
<div class="pdiv">
	To create space for innovation, the committee recommends a redistribution of guaranteed sessions as illustrated in figures <a href="javascript:openExtjsTabWindow(2);">3</a> and <a href="javascript:openExtjsTabWindow(3);">4</a>, which show current allocations and the proposed redistribution.
	<div class="pdiv" id="icon_A5" style="padding:0px;margin:0px;display:inline;white-space:nowrap;background:url('/IMAGES/expand-plus.gif') no-repeat bottom left;"><a href="javascript:showLogin('A5');"><img src="/IMAGES/clear.gif" width="9" height="9" border="0" /></a>&nbsp;<a href="javascript:showLogin('A5');">Detailed explanations</a>&hellip;</div>
	<div class="pdiv" id="expand_A5" style="display:none;visibility:hidden;"> 
		<div class="pdiv" style="padding-left:20px;">
			Under the committee&rsquo;s new proposal:
			<ul>
				<li>Divisions would have two guaranteed sessions and the possibility of organizing up to two additional sessions.</li>
				<li>Discussion groups would have one guaranteed session and the possibility of organizing up to two additional sessions.</li>
				<li>Allied and affiliate organizations would have one guaranteed session and the possibility of organizing up to two additional sessions.</li>
				<li>MLA committees would have two guaranteed sessions and the possibility of organizing up to two additional sessions.</li>
			</ul>
		</div>
		<div class="pdiv" style="padding-left:20px;">
			All the additional sessions in this model would be allocated on a competitive basis. We propose the following guidelines for adjudicating such nonguaranteed sessions:
			<ul>
				<li>Divisions, discussion groups, allied and affiliate organizations, and MLA committees that seek additional sessions would submit session proposals and compete for program space on a schedule similar to the current schedule for special-session proposals. <b>These nonguaranteed session proposals would compete in a pool separate from special- session proposals.</b></li>
				<li>The Program Committee will give <b>priority to collaborative proposals submitted by two distinct entities</b>. For example, a division may submit a proposal in collaboration with another division or with an allied or affiliate organization; an allied or affiliate organization may submit a proposal with another allied organization or with an MLA committee.</li>
				<li>If an entity submits proposals for the maximum of two nonguaranteed sessions, at least one proposal must be for a collaborative session.</li>
			</ul>
		</div>
	</div>
</div>

<h3 style="margin-bottom: 20px;">IMPACT ON THE CONVENTION PROGRAM AND PLANNING PROCESS</h3>

<div class="pdiv">
	There will be little net change in the total number of sessions and some change in the Program Committee&rsquo;s composition and work schedule.
	<div class="pdiv" id="icon_A6" style="padding:0px;margin:0px;display:inline;white-space:nowrap;background:url('/IMAGES/expand-plus.gif') no-repeat bottom left;"><a href="javascript:showLogin('A6');"><img src="/IMAGES/clear.gif" width="9" height="9" border="0" /></a>&nbsp;<a href="javascript:showLogin('A6');">Read more</a>&hellip;</div>
	<div class="pdiv" id="expand_A6" style="display:none;visibility:hidden;"> 
		<div class="pdiv" style="padding-left:20px;">
			Figures <a href="javascript:openExtjsTabWindow(4);">5</a> and <a href="javascript:openExtjsTabWindow(5);">6</a> give an approximate picture of how sessions would be affected in this proposed reallocation.
		</div>
		<div class="pdiv" style="padding-left:20px;">
			The Program Committee and the Executive Council have expressed their support for the reallocation proposal. If the Delegate Assembly also supports this proposal, we would seek guidance from the council and the Program Committee on how best to go forward with the new arrangement. We anticipate the need for the Program Committee to increase in size and diversity of expertise and to divide into new subcommittee arrangements. The Program Committee would need to articulate criteria for assessing nonguaranteed sessions, as it has done for special-session proposals. It would also need to provide guidance on the preparation of proposals for nonguaranteed sessions, as it has done for special sessions. Quality should continue to be the primary criterion for session acceptance, regardless of the number of available session slots.
		</div>
	</div>
</div>

<h3 style="margin-bottom: 20px;">EXPECTED OUTCOMES (SHORT AND LONG TERM)</h3>

<div class="pdiv">
	All entities can maintain or increase the number of sessions they currently sponsor, provided their proposals for nonguaranteed sessions are approved.
	<div class="pdiv" id="icon_A7" style="padding:0px;margin:0px;display:inline;white-space:nowrap;background:url('/IMAGES/expand-plus.gif') no-repeat bottom left;"><a href="javascript:showLogin('A7');"><img src="/IMAGES/clear.gif" width="9" height="9" border="0" /></a>&nbsp;<a href="javascript:showLogin('A7');">Read more</a>&hellip;</div>
	<div class="pdiv" id="expand_A7" style="display:none;visibility:hidden;"> 
		<div class="pdiv" style="padding-left:20px;">
			For example, a discussion group is currently entitled to organize one session. Under the reorganized system, a discussion group could sponsor one guaranteed session and submit up to two additional proposals, the first for a session sponsored by the discussion group alone and the second for a collaborative session organized with another entity such as an allied organization. The outcome could be a total of three sessions, a net gain of two.
		</div>
	</div>
</div>
<div class="pdiv">
<ol>
	<li>There will be room in the MLA for the creation of new divisions and discussion groups and for the inclusion of new allied or affiliate organizations.</li>
	<li>
		There will be greater roles for leaders of the various entities to develop convention programming.
		<div class="pdiv" id="icon_A8" style="padding:0px;margin:0px;display:inline;white-space:nowrap;background:url('/IMAGES/expand-plus.gif') no-repeat bottom left;"><a href="javascript:showLogin('A8');"><img src="/IMAGES/clear.gif" width="9" height="9" border="0" /></a>&nbsp;<a href="javascript:showLogin('A8');">Read more</a>&hellip;</div>
		<div class="pdiv" id="expand_A8" style="display:none;visibility:hidden;"> 
			<div class="pdiv" style="padding-left:20px;">
				Executive committees of division and discussion groups, MLA committees, and leaders of allied and affiliate organizations will have a greater role in developing programming for the annual convention. Responding to the interests and diversity of their constituents, the leaders of these groups will have a direct impact on the intellectual dimensions of their fields. <b>New online forums for members</b> will help leaders facilitate such exchange. Recognizing the need for more robust, easier communication, the MLA is establishing dedicated online forums for use by divisions and discussion groups, which will go live in January 2008. 
			</div>
		</div>
	</li>
	<li>
		There will be changes in the work and the role of the Program Committee.
		<div class="pdiv" id="icon_A9" style="padding:0px;margin:0px;display:inline;white-space:nowrap;background:url('/IMAGES/expand-plus.gif') no-repeat bottom left;"><a href="javascript:showLogin('A9');"><img src="/IMAGES/clear.gif" width="9" height="9" border="0" /></a>&nbsp;<a href="javascript:showLogin('A9');">Read more</a>&hellip;</div>
		<div class="pdiv" id="expand_A9" style="display:none;visibility:hidden;"> 
			<div class="pdiv" style="padding-left:20px;">
				Since the work of the Program Committee will increase and become more diverse, the committee will have a greater role in shaping the content of the convention in response to members&rsquo; evolving interests and the changing nature of the disciplines. The structure of the committee will also change, as outlined above.
			</div>
		</div>
	</li>
	<li>
		The convention program will have increased flexibility to explore interdisciplinary topics and other innovations.
		<div class="pdiv" id="icon_A10" style="padding:0px;margin:0px;display:inline;white-space:nowrap;background:url('/IMAGES/expand-plus.gif') no-repeat bottom left;"><a href="javascript:showLogin('A10');"><img src="/IMAGES/clear.gif" width="9" height="9" border="0" /></a>&nbsp;<a href="javascript:showLogin('A10');">Read more</a>&hellip;</div>
		<div class="pdiv" id="expand_A10" style="display:none;visibility:hidden;"> 
			<div class="pdiv" style="padding-left:20px;">
				The priority given to collaborative sessions will, we hope, encourage roundtable sessions and explorations of the state of the fields in question and formalize space for interdisciplinary topics. We especially hope that divisions will develop collaborative sessions based on the interests of their members and of their executive committees. In this way, the changes will promote not only conversations across divisional boundaries but also conversations about the various delineations of field and practice that currently structure our intellectual exchanges.
			</div>
		</div>
	</li>
	<li>From year to year we will see some ebb and flow in the patterns of allocation, reflecting the dynamics of interest and commitment.</li>
	<li>
		In the longer term, the convention will become more responsive to the interests and goals of members. The reorganization will foster reshaping of our fields from the bottom up, initiated by the membership.
		<div class="pdiv" id="icon_A11" style="padding:0px;margin:0px;display:inline;white-space:nowrap;background:url('/IMAGES/expand-plus.gif') no-repeat bottom left;"><a href="javascript:showLogin('A11');"><img src="/IMAGES/clear.gif" width="9" height="9" border="0" /></a>&nbsp;<a href="javascript:showLogin('A11');">Read more</a>&hellip;</div>
		<div class="pdiv" id="expand_A11" style="display:none;visibility:hidden;"> 
			<div class="pdiv" style="padding-left:20px;">
				Unexpected collaborations among entities will encourage new explorations beyond the traditional confines of disciplines or of organizational structures. This process will be driven by the membership.
			</div>
		</div>
	</li>
</ol>
</div>

<h3 style="margin-bottom: 20px;">CONCLUSIONS</h3>

<div class="pdiv">
	The committee has already begun to encourage collaborations among divisions, allied organizations, and other entities to foster innovation. By &ldquo;test-driving&rdquo; collaborative sessions, we hope to accrue useful experience that will guide all those involved in making decisions about the structure of the annual convention. This learning process will help the Program Committee refine its procedures and guidelines for these formats in the future.
</div>
<div class="pdiv">
	We are guided by a broad vision of the importance of planning change, using a global approach rather than implementing reforms in bits and pieces. At the same time, we want to have ample opportunity to observe and monitor in practice the ideas we have worked out in theory. In this way, the Program Committee, the Executive Council, the Delegate Assembly, and the membership at large will collaborate in reforming the annual convention, which, after all, is an event created by and for those who belong to the MLA.
</div>

<hr style="margin-bottom:12px;" />

<ul>
	<li><a href="/adhoc_proposal1_pdf" target="other">Download Proposal 1: A Response to Impending Gridlock as pdf file</a>&nbsp;<@$show_filetype_tag_pdf></li>
	<li><a href="/convforums_index?folder=101">View and post comments on Proposal 1</a></li>
</ul>

<ul>
	<li><a href="/adhoc_proposal2">Read Proposal 2: Developing Two New Kinds of Sessions</a></li>
	<li><a href="/adhoc_proposal2_pdf" target="other">Download Proposal 2: Developing Two New Kinds of Sessions as pdf file</a>&nbsp;<@$show_filetype_tag_pdf></li>
	<li><a href="/convforums_index?folder=102">View and post comments on Proposal 2</a></li>
</ul>

<script language="javascript" type="text/javascript">

// preload the minus image
var preload_minus = new Image(9,9);
preload_minus.src ='/IMAGES/expand-minus.gif';

function showLogin(divid) {
	var ShowExpandDiv=document.getElementById("expand_" + divid);
	var ShowExpandIco=document.getElementById("icon_" + divid);
	if (ShowExpandDiv.style.visibility == 'visible') {
		ShowExpandDiv.style.visibility='hidden';
		ShowExpandDiv.style.display='none';
		ShowExpandIco.style.background='url(/IMAGES/expand-plus.gif) no-repeat bottom left';
		} else {
		ShowExpandDiv.style.visibility='visible';
		ShowExpandDiv.style.display='inline';
		ShowExpandIco.style.background='url(/IMAGES/expand-minus.gif) no-repeat bottom left';
		}

}

</script>

<@/if>
