<h1>Advocacy</h1>
Since its founding in 1883, the Modern Language Association has worked to strengthen the study and teaching of language and literature. The MLA advocates on behalf of students and teachers and provides resources to those seeking information about language study, scholarly publishing, the academic workforce, and much more.

<a href="/advocacy_kit">Academic Workforce Advocacy Kit</a>
<a href="/acad_work_search">Academic Workforce Data Center</a>
<a href="/kol_brochure">Brochures Promoting Language Study</a>
<a href="/executive_council_ac">Executive Council Actions</a>
<a href="/public_policy_alerts">Public Policy Resources</a>
<a href="/documents">Surveys, Reports, and Other Documents</a>
