<P><a href="/advocacy_kit"><img src="/IMAGES/advocacykit_logoweb.gif" width="400" height="100" border="0" align="top" hspace="0" vspace="2" alt="logo"></a>

<h1>Data, Reports, and Surveys </h1>

<b><a href="http://www.acenet.edu/news-room/Pages/Number-and-Growth-of-Faculty,-by-Gender-and-Rank-Selected-Years-(2005,-2007,-2009).aspx" target="_blank">Number and Growth of Faculty, by Gender and Rank: Selected Years (2001, 2005, 2007)</a></b>
American Council on Education, 2009

<hr size=2 width="100%" noshade color="#aca899" align=center>
<b><a href="http://www.acenet.edu/news-room/Pages/Too%20Many%20Rungs%20on%20the%20Ladder.aspx" target="_blank">Too Many Rungs on the Ladder? Faculty Demographics and the Future Leadership of Higher Education</a></b>
American Council on Education, 2008

<hr size=2 width="100%" noshade color="#aca899" align=center>
<b><a href="http://www.awis.affiniscape.com/associations/9417/files/AWIS%20Sloan%20report%20FINAL%20plus%20Appendix%20A.pdf" target="_blank">Gender Differences among Contingent Faculty</a></b>[[[docstudio filetype_tag_pdf]]] 
Association for Women in Science, 2005.

<hr size=2 width="100%" noshade color="#aca899" align=center>
<b><a href="http://www.aip.org/statistics/trends/reports/awf.pdf" target="_blank">2004 Physics and Astronomy Academic Workforce</a></b>[[[docstudio filetype_tag_pdf]]]
American Institute of Physics, 2005.

<hr size=2 width="100%" noshade color="#aca899" align=center>
<b><a href="http://www.ams.org/employment/surveyreports.html" target="_blank">Annual Survey of the Mathematical Sciences, 2000–the present</a></b>
American Mathematical Society.

<hr size=2 width="100%" noshade color="#aca899" align=center>
<b><a href="http://www.apaclassics.org/profmat/profmatters.html" target="_blank">Reports on faculty and curricula and reports on placement and hiring</a></b>
Professional Matters Division, American Philological Assocation.

<hr size=2 width="100%" noshade color="#aca899" align=center>
<b><a href="http://www.asanet.org/images/asa/docs/pdf/Task%20Force%20on%20Contingent%20and%20Part%20Time%20Faculty.pdf" target="_blank">Academic Relations: The Use of Supplementary Faculty</a></b>[[[docstudio filetype_tag_pdf]]]
American Sociological Association, 2004.

<hr size=2 width="100%" noshade color="#aca899" align=center>
<b><a href="http://www.historians.org/Perspectives/Issues/2004/0404/rbtfaculty0404.cfm" target="_blank">The State of the History Department: The 2001–02 AHA Department Survey</a></b>
<i>Perspectives: The Newsmagazine of the American Historical Association</i> April 2004.

<hr size=2 width="100%" noshade color="#aca899" align=center>
<b><a href="http://www.eric.ed.gov/ERICWebPortal/custom/portlets/recordDetails/detailmini.jsp?_nfpb=true&_&ERICExtSearch_SearchValue_0=ED478300&ERICExtSearch_SearchType_0=no&amp;accno=ED478300" target="_blank">The New Professoriate: Characteristics, Contributions, and Compensation</a></b>
American Council on Education, 2002.

<hr size=2 width="100%" noshade color="#aca899" align=center>
<b><a href="http://www.aaanet.org/_cs_upload/resources/departments/4905_1.pdf" target="_blank">Who Is Doing The Teaching . . . and How Are They Being Supported? Survey on the Use of Part-Time Instructors Report</a></b>[[[docstudio filetype_tag_pdf]]]
American Anthropological Association, 2001

<hr size=2 width="100%" noshade color="#aca899" align=center>
<b><a href="http://www.historians.org/projects/caw/" target="_blank">Who Is Teaching In U.S. College Classrooms? A Collaborative Study of Undergraduate Faculty, Fall 1999</a></b>
Summary data from surveys conducted in 1999 by academic associations participating in the Coalition on the Academic Workforce.

<hr size=2 width="100%" noshade color="#aca899" align=center>
<b><a href="http://nces.ed.gov/pubsearch/pubsinfo.asp?pubid=2002163" target="_blank">The US Dept. of Education report "Part-Time Instructional Faculty and Staff: Who They Are, What They Do, and What They Think"</a></b>
US Department of Education, 2002.
