<h1>New Approaches Volumes in Preparation</h1>
You may click on a link below to participate in the development of new volumes in the series Approaches to Teaching World Literature. A link will take you to a questionnaire related to a particular volume. The questionnaires are designed to gather information helpful to the volume&rsquo;s editor(s) and also to give respondents an opportunity to propose an essay contribution. All respondents are acknowledged in the published volumes.

<a href="https://www.surveymonkey.com/s/mlasurvey_emerson">Survey for <i>Approaches to Teaching Emerson's Essays and Other Works</i>, edited by Mark C. Long and Sean Ross Meehan</a>

<a href="https://www.surveymonkey.com/s/mlasurvey_wallace">Survey for <i>Approaches to Teaching the Works of David Foster Wallace</i>, edited by Stephen Burn and Mary Holland</a>

<a href="https://www.surveymonkey.com/s/mlasurvey_welty">Survey for <i>Approaches to Teaching the Works of Eudora Welty</i>, edited by Mae Miller Claxton and Julia Eichelberger</a>

[[[comment]]]<i>There are no questionnaires at this time.</i>[[[endcomment]]]
