<h1>James Russell Lowell Prize</h1>
<h2>Competition in 2014 for Books Published in 2013</h2>
Open Only to Members of the Association

The Committee on Honors and Awards of the Modern Language Association invites authors to compete for the forty-fifth annual James Russell Lowell Prize, which will be awarded for a scholarly book published in 2013 by a current member of the association. To qualify for the prize, a book must be an outstanding literary or linguistic study, a critical edition of an important work, or a critical biography. Studies dealing with literary theory, media, cultural history, and interdisciplinary topics are eligible; books that are primarily translations will not be considered. The prize, which consists of a cash award and a certificate, will be presented to the winning author at the association's annual convention in January 2015.

<P>To enter a book into the competition, authors or publishers should send six copies and confirmation of the author's membership in the MLA to the James Russell Lowell Prize, Modern Language Association, 26 Broadway, 3rd floor, New York, NY 10004-1789. In the case of a born-digital publication, send the relevant media or URL and a letter identifying the work to <a href="mailto:awards@mla.org">awards@mla.org</a>. Entries will be accepted until 1 March 2014. Publishers may enter more than one title, but no work may be entered in more than one MLA competition. Shipping labels should indicate the names of the prizes for which the books are competing. For further information, call or write the office of programs at the MLA (646 576-5141; <A HREF="mailto:awards@mla.org">awards@mla.org</a>).

<A HREF="pastwinners_lowell">Past winners</a> of this prize
