<h1>Competitions for MLA Publication Awards</h1>
For detailed announcements of these awards, click on the prize name below or call or write the MLA, 26 Broadway, 3rd floor, New York, NY 10004-1789 (646 576-5141; fax: 646 458-0030; <a href="mailto:awards@mla.org">awards@mla.org</a>).
[[[insert sectionpage index]]]
