[[[insert file "ballot_progress"]]]

<h1>2: Voting for Executive Council</h1>

<p>Membership categories and fields as defined by the MLA constitution (art. 8) are given in parentheses.  Voters should note that there are no field requirements or restrictions in this year's election. Voters should also note that one and only one of the regular member candidates must be elected this year and that the two remaining council seats must be filled by life member candidates.</p>

<p>Vote for any 3 candidates. After you have marked your choices, please save your votes to your voting summary by clicking on one of the Save buttons at the bottom of the page.</p>

<form action="/ballot_ec" method="POST" name="form1" style="margin: 0px">
<input type="hidden" name="function" value="record_vote" />
<input type="hidden" name="cols" value="[[[RESULTS ballot_cols_on_page]]]" />

<input type="hidden" name="BV_EC_1" value="[[[RESULTS BV_EC_1]]]" />
<input type="hidden" name="BV_EC_2" value="[[[RESULTS BV_EC_2]]]" />
<input type="hidden" name="BV_EC_3" value="[[[RESULTS BV_EC_3]]]" />

<table cellpadding="4" cellspacing="4" border="0" align="center">
<@loop "candidates">
<tr>
<td><input type="checkbox" name="candidate" onClick="updateButtons()" value="<@col 1>" /></td>
<td><a href="javascript:showCandidateInfo(<@col 3>)"><@col 2></a>&nbsp;&nbsp;(<@col 5> member; <@col 4>)</td>
</tr>
<@/loop>
</table>
<table cellpadding="8" cellspacing="0" border="0" align="center">
<tr>
<td><input type="button" style="width: 280px" id="sac_button" value="Save and Continue" onClick="this.form.action = '/[[[RESULTS ballot_next_page]]]'; checkAndSubmit(this.form)" /></td>
<td><input type="button" style="width: 255px" id="sar_button" value="Save and Return to Main Menu" onClick="this.form.action = '/ballot_main'; checkAndSubmit(this.form)" /></td>
<td><input type="button" style="width: 125px" value="Exit without Saving" onClick="window.location.href = '/ballot_main&msg=noch';" /></td>
</tr>
</table>


<script language="JavaScript">


function updateButtons() {

	var f = document.form1;
	var total_votes = 0;
	
	for (i=0; i<f['candidate'].length; i++) {
		if (f['candidate'][i].checked) {
			total_votes++;
			if (total_votes > 3) {
				error = 'You may vote for at most 3 candidates.';
			} else {
				f['BV_EC_' + total_votes].value = f['candidate'][i].value;
			}
		}
	}
	
	var sac = document.getElementById('sac_button');
	var sar = document.getElementById('sar_button');
	
	sac.value = 'Save ' + total_votes + ' Vote(s) and Continue';
	sar.value = 'Save ' + total_votes + ' Vote(s) and Return to Main Menu';

}

function checkAndSubmit(f) {

	var votes = new Object;
	var total_votes = 0;
	
	var error = '';
	f['BV_EC_1'].value = '';
	f['BV_EC_2'].value = '';
	f['BV_EC_3'].value = '';
	
	for (i=0; i<f['candidate'].length; i++) {
		if (f['candidate'][i].checked) {
			total_votes++;
			if (total_votes > 3) {
				error = 'You may vote for at most 3 candidates.';
			} else {
				f['BV_EC_' + total_votes].value = f['candidate'][i].value;
			}
		}
	}

	if (error == '' && total_votes < 3 && !confirm('You have not selected three candidates.\n\nAre you sure you want to continue?')) {
		error = 'C';
	}
	
	if (error != '') {
		if (error == 'C') {
			error = '';
		} else {
			error = error + '\n\n';
			error = error + 'Please correct your vote and try again.';
			alert(error);
		}
	} else {
		f.submit();
	}
}

function preCheck(val) {
	for (i = 0; i < document.form1['candidate'].length; i++) {
		var inp = document.form1['candidate'][i];
		if (inp.value == val) {
			inp.checked = true;
		}
	}
}

function showCandidateInfo(memid) {
	var canwin = window.open('/ballot_candidate&mem='+memid,'','scrollbars=yes,menubar=yes,height=400,width=670,resizable=yes,toolbar=no,location=no,status=no');
}

<@if ($results{'BV_EC_1'} ne '')>
preCheck([[[RESULTS BV_EC_1]]]);
<@/if>
<@if ($results{'BV_EC_2'} ne '')>
preCheck([[[RESULTS BV_EC_2]]]);
<@/if>
<@if ($results{'BV_EC_3'} ne '')>
preCheck([[[RESULTS BV_EC_3]]]);
<@/if>

updateButtons();

</script>
