[[[insert file "ballot_progress"]]]

<h2>Division Executive Committee Elections</h2>

<p>After you have marked your choices, please save your votes to your voting summary by clicking on the Save button at the bottom of the page.</p>
<h3 style="display: inline">[[[RESULTS ballot_group_name]]]</h3>&nbsp;&nbsp;([[[RESULTS ballot_group_contests]]])

<form action="/[[[RESULTS ballot_next_page]]]" method="POST" name="form1" style="margin: 0px">
<input type="hidden" name="function" value="record_vote" />
<input type="hidden" name="cols" value="[[[RESULTS ballot_cols_on_page]]]" />
<@loop "on_page">
<input type="hidden" name="<@col 1>" value="" />
<@/loop>

<table cellpadding="8" cellspacing="16" border="0" align="center">
<@loop "contests">
<@if ($rownum > 1)>
<tr><td colspan="3"><hr /></td></tr>
<@/if>
<tr><td colspan="3"><b><@col 5></td></tr>

<tr>
<td style="width: 45%; border: 1px solid black" valign="top"><input type="radio" name="candidate_<@rownum>" onClick="updateButtons()" id="can_<@col 1>" value="<@col 1>"[[[RESULTS checked_<@col 1>]]] />&nbsp;&nbsp;
<@col 2> <@col 3><br /><@col 4>
</td>
<td width="5%"><a href="javascript:clearVote('can_<@col 1>','can_<@col 6>')">clear<br>vote</a></td>
<td style="width: 45%; border: 1px solid black" valign="top"><input type="radio" name="candidate_<@rownum>" onClick="updateButtons()" id="can_<@col 6>" value="<@col 6>"[[[RESULTS checked_<@col 6>]]] />&nbsp;&nbsp;
<@col 7> <@col 8><br /><@col 9>
</td>
</tr>
<@/loop>
</table>
<table cellpadding="4" cellspacing="0" border="0" align="center">
<tr>
<td style="padding-right: 32px"><input type="button" style="width: 318px" id="sar_button" value="Save and Return to Main Division Menu" onClick="this.form.action = '/ballot_dece'; checkAndSubmit(this.form)" /></td>
<td style="padding-left: 32px"><input type="button" style="width: 148px" value="Exit without Saving" onClick="window.location.href = '/ballot_dece&msg=noch';" /></td>
</tr>
</table>


<script language="JavaScript">

var inputs = new Array();

<@loop "on_page">
inputs.push('<@col 1>');
<@/loop>

var max_votes = inputs.length;


function updateButtons() {

	var f = document.form1;
	var total_votes = 0;
	
	for (j=0; j<f.elements.length; j++) {
		if (f.elements[j].name.match(/^candidate/)) {
			if (f.elements[j].checked) {
				total_votes++;
			}
		}
	}
	
	//var sac = document.getElementById('sac_button');
	var sar = document.getElementById('sar_button');
	
	//sac.value = 'Save ' + total_votes + ' Vote(s) and Continue with Next Group';
	sar.value = 'Save ' + total_votes + ' Vote(s) and Return to Main Division Menu';

}

function checkAndSubmit(f) {

	var votes = new Object;
	var total_votes = 0;
	
	var error = '';
	var error_redirect = 0;
	
	for (i=0; i<inputs.length; i++) f[inputs[i]].value = '';

	for (j=0; j<f.elements.length; j++) {
		if (f.elements[j].name.match(/^candidate/)) {
			if (f.elements[j].checked) {
				var theInput = f[inputs[total_votes++]];
				if (theInput) theInput.value = f.elements[j].value;
			}
		}
	}

	if (total_votes > max_votes) {
		if (max_votes > 0) {
			error = 'You may vote in a maximum of ' + max_votes + ' contest' + (max_votes > 1 ? 's' : '') + ' on this page.';
		} else {
			error = 'You have cast the maximum 5 votes in other division categories and are not allowed to cast any additional votes on this page.  If you wish to save votes on this page, please clear one or more of your previous votes.';
			error_redirect = 1;
		}
	}
	
	if (error != '') {
		if (error == 'C') {
			error = '';
		} else {
			if (!error_redirect) error = error + '\n\n';
		}
		if (!error_redirect) {
			error = error + 'Please correct your vote and try again.';
		}
		alert(error);
		if (error_redirect) {
			document.location = '/ballot_dece';
		}
	} else {
		f.submit();
	}
}

function clearVote(inp1,inp2) {
	var i1 = document.getElementById(inp1);
	var i2 = document.getElementById(inp2);
	if (i1.checked) i1.checked = false;
	if (i2.checked) i2.checked = false;
	updateButtons();
}

function UpdateCursorPosition(e){ cX = e.pageX; cY = e.pageY;}
function UpdateCursorPositionDocAll(e){ cX = event.clientX; cY = event.clientY;}
if(document.all) { document.onmousemove = UpdateCursorPositionDocAll; }else { document.onmousemove = UpdateCursorPosition; }

function AssignPosition(d) {
	if(self.pageYOffset) {	
		rX = self.pageXOffset;	rY = self.pageYOffset;	
	}else if(document.documentElement && document.documentElement.scrollTop) {
		rX = document.documentElement.scrollLeft;	rY = document.documentElement.scrollTop;
	}else if(document.body) {	
		rX = document.body.scrollLeft;	rY = document.body.scrollTop;	
	}
	if(document.all) {	cX += rX; 	cY += rY;	}
	d.style.left = (cX+10) + "px";
	d.style.top = (cY+10) + "px";
}

var candidateDiv;

function showCandidateInfo(info) {
	if (info == '') {
		return;
	}
	
	if (candidateDiv && candidateDiv.innerHTML != info) {
		candidateDiv.style.display = 'none';
		document.body.removeChild(candidateDiv);
		candidateDiv = undefined;
	}
	if (candidateDiv) {
		candidateDiv.style.display = 'none';
		document.body.removeChild(candidateDiv);
		candidateDiv = undefined;
	} else {
		candidateDiv = document.createElement('div');
		candidateDiv.style.position = 'absolute';
		candidateDiv.style.display = 'none';
		candidateDiv.style.border = '1px solid black';
		candidateDiv.style.backgroundColor = 'white';
		candidateDiv.style.padding = '5px';
		candidateDiv.innerHTML = info;
		document.body.appendChild(candidateDiv);
		AssignPosition(candidateDiv);
		candidateDiv.style.display = 'block';
	}
}

updateButtons();

</script>
