﻿<h1>MLA Ratification Ballot</h1>

<@if ($results{'BAL_MEM_ID'})>
<p>Thank you for your participation in the MLA ratification ballot.  Your vote has been recorded:</p>
<blockquote>
<p><b>Amendment to Article 3.C:</b>&nbsp;&nbsp;&nbsp;[[[RESULTS RATIF_3_display]]]</p>
<p><b>Resolution 2013-1:</b>&nbsp;&nbsp;&nbsp;[[[RESULTS RATIF_1_display]]]</p>
<p><b>Resolution 2013-2:</b>&nbsp;&nbsp;&nbsp;[[[RESULTS RATIF_2_display]]]</p>
</blockquote>

<p>If you have any questions, please contact the coordinator of governance at <a href="mailto:governance@mla.org">governance@mla.org</a> for assistance.</p>
<@else>
<form method="POST" action="/[[[searcharg file]]]" method="POST">
<input type="hidden" name="function" value="record_ratification" />


<p>
At its meeting on 5 January 2013 in Boston, the Delegate Assembly took three actions that are subject to ratification by the MLA membership.  These actions are presented below.  Please mark your votes in each section and then click on the Submit button to have your votes recorded.
</p>

<p><hr /></p>
[[[comment]]][[[endcomment]]]
[[[comment]]] REINSTATE this section to add a constitutional amendment. Voting tables will need to be adjusted. Old copy preserved for reference.  [[[endcomment]]]
<h3>Section 1. Constitutional Amendment</h3>

<p>The 2013 Delegate Assembly approved an amendment to article 3.C of the MLA constitution.  Both the current language that is subject to change and the proposed new language appear in boldface below.  The purpose of the amendment is to align the process for changing the dues structure for life members with the process for changing the dues structure for regular and student members.  Members may vote yes or no on the amendment. </p>

<p><b>Amendment to Article 3.C</b><br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(pertaining to criteria for the granting of life membership)</p>
<blockquote>
<p><u>Present constitution</u><br/>
<i>Life members</i>. Persons eligible for regular membership may become life members by making a single payment, thereafter becoming exempt from the annual payment of dues. With each completed decade of membership, the fee for life membership shall be diminished by one-fourth. <b>Persons who have paid membership dues for forty years shall become life members without further payment. Persons who have been members for twenty years or more and who have retired from active service may notify the association of their retirement and shall thereafter become life members without further payment.</b></p>

<p><u>Proposed revision</u><br/>
<i>Life members</i>. Persons eligible for regular membership may become life members by making a single payment, thereafter becoming exempt from the annual payment of dues. With each completed decade of membership, the fee for life membership shall be diminished by one-fourth. <b>	In addition, criteria for the granting of life membership shall be included in the dues structure. Members who have met these criteria shall be granted life membership and shall thereafter make no payment.</b></p>
</blockquote>
[[[comment]]] INSERT voting table here [[[endcomment]]]
<table align="center" cellpadding="0" cellspacing="0" width="95%">
	<tr>
		<td width="20%">Ratification vote:</td>
		<td width="15%"><input id="R_3_1" type="radio" name="RATIF_3" value="Y">&nbsp;Yes</td>
		<td width="15%"><input id="R_3_2" type="radio" name="RATIF_3" value="N">&nbsp;No</td>
		<td width="50"><a href="javascript:clearVote('R_3_1','R_3_2')">clear vote</a></td>
	</tr>
</table>

<p><hr /></p>


<h3>Section 2. Resolutions</h3>
<p>
The 2013 Delegate Assembly approved the following resolutions.  From 16 September through 15 October, members had the opportunity to comment on the resolutions and to review the background information that the assembly received on each resolution.  Please click on the links below if you wish to review members’ comments or the background information before voting.
</p>
<p>
Voters should also note that the ratification vote is subject to the following provision of article 11.C.7 of the MLA constitution: “All resolutions forwarded to the membership must be ratified by a majority vote in which the number of those voting for ratification equals at least ten percent of the association’s membership.”
</p>


<p><b>Resolution 2013-1</b></p>
<blockquote>
<p>
Whereas in 2011 the CUNY Board of Trustees passed the Pathways curriculum for implementation by September 2013;
<br /><br />
Whereas the approval of Pathways bypassed elected faculty governance, and only the CUNY administration’s appointees participated in the decision making;
<br /><br />
Whereas the American Association of University Professors states, “The faculty has primary responsibility for . . . curriculum [and] subject matter,” and CUNY governance regulations state, “The faculty shall be responsible . . . for the . . . granting of degrees”;
<br /><br />
Whereas the CUNY administration acted despite senates’, councils’, and nearly five thousand instructional staff members’ opposition; and
<br /><br />
Whereas violations of elected faculty governance like those at CUNY have taken place at numerous other institutions;
<br /><br />
Be it resolved that the MLA affirm the right of CUNY’s faculty and any other college and university faculty to determine curriculum and graduation requirements and to withhold implementation of any curriculum that has not been recommended by the appropriate faculty governance body.
</p>
</blockquote>
<a href="/comment_res2013?topic=1" target="_blank">Review members’ comments on this resolution</a>.
<br/><br/>
Review the background information received by the Delegate Assembly: 
<ul><li><a href="/resol20131support"  target="other">supporting material from the proposer of record</a>[[[docstudio filetype_tag_pdf]]]</li><li><a href="/resol20131response"  target="other">response from the institution named in the resolution</a>[[[docstudio filetype_tag_pdf]]]</li></ul>


[[[comment]]] VOTING TABLE #1 [[[endcomment]]]
<table align="center" cellpadding="0" cellspacing="0" width="95%">
	<tr>
		<td width="20%">Ratification vote:</td>
		<td width="15%"><input id="R_1_1" type="radio" name="RATIF_1" value="Y">&nbsp;Yes</td>
		<td width="15%"><input id="R_1_2" type="radio" name="RATIF_1" value="N">&nbsp;No</td>
		<td width="50%"><a href="javascript:clearVote('R_1_1','R_1_2')">clear vote</a></td>
	</tr>
</table>
<br/>

<p><b>Resolution 2013-2</b></p>
<blockquote>
<p>
Whereas the MLA is concerned by the tragic shootings at Virginia Tech and Newtown, Connecticut, and wishes to join the broader academic community in calling for a far-reaching solution to gun violence;
<br /><br />
Be it resolved that the MLA endorse the Statement on Gun Violence in America issued by the Association of American Universities on 2 January 2013.
</p>
</blockquote>

<p><a href="/comment_res2013?topic=2" target="other">Review members’ comments on this resolution</a>.
<br/><br/>
<a href="/resol2013-2_support"  target="other">Review the background information received by the Delegate Assembly</a>. [[[docstudio filetype_tag_pdf]]]
</p>


[[[comment]]] VOTING TABLE #2 [[[endcomment]]]
<table align="center" cellpadding="0" cellspacing="0" width="95%">
	<tr>
		<td width="20%">Ratification vote:</td>
		<td width="15%"><input id="R_2_1" type="radio" name="RATIF_2" value="Y">&nbsp;Yes</td>
		<td width="15%"><input id="R_2_2" type="radio" name="RATIF_2" value="N">&nbsp;No</td>
		<td width="50%"><a href="javascript:clearVote('R_2_1','R_2_2')">clear vote</a></td>
	</tr>
</table>
<br />
<hr />

<p><center><input type="button" name="submitButton" value=" Submit " onClick="checkAndSubmit(this.form)" /></center></p>
</form>

<script language="JavaScript">

function checkAndSubmit(f) {

	var votes = new Object;
	var total_votes = 0;
	
	var error = '';
	if (document.getElementById('R_3_1').checked) total_votes++;
	if (document.getElementById('R_3_2').checked) total_votes++;

	if (document.getElementById('R_1_1').checked) total_votes++;
	if (document.getElementById('R_1_2').checked) total_votes++;

	if (document.getElementById('R_2_1').checked) total_votes++;
	if (document.getElementById('R_2_2').checked) total_votes++;

	if (error == '' && total_votes < 1 && !confirm('You have not voted.\n\nAre you sure you want to continue?')) {
		error = 'C';
	}
	
	if (error != '') {
		if (error == 'C') {
			error = '';
		} else {
			error = error + '\n\n';
			error = error + 'Please correct your vote and try again.';
			alert(error);
		}
	} else {
		f.submit();
	}
}

function clearVote(inp1,inp2) {
	var i1 = document.getElementById(inp1);
	var i2 = document.getElementById(inp2);
	if (i1.checked) i1.checked = false;
	if (i2.checked) i2.checked = false;
}


</script>

<@/if>
