<table width="100%" cellspacing="0" cellpadding="0" style="border: 1px solid #999999">
<tr>
<td width="16%" style="border-right: 1px solid #999999; padding-left: 4px; color: [[[RESULTS vote_1_status_color]]]"><a href="/ballot_svp" style="text-decoration: none; color: [[[RESULTS vote_1_status_color]]]">1: [[[RESULTS vote_1_short_status]]]</a></td>
<td width="16%" style="border-right: 1px solid #999999; padding-left: 4px; color: [[[RESULTS vote_2_status_color]]]"><a href="/ballot_ec" style="text-decoration: none; color: [[[RESULTS vote_2_status_color]]]">2: [[[RESULTS vote_2_short_status]]]</a></td>
<td width="16%" style="border-right: 1px solid #999999; padding-left: 4px; color: [[[RESULTS vote_3_status_color]]]"><a href="/ballot_sid" style="text-decoration: none; color: [[[RESULTS vote_3_status_color]]]">3: [[[RESULTS vote_3_short_status]]]</a></td>
<td width="16%" style="border-right: 1px solid #999999; padding-left: 4px; color: [[[RESULTS vote_4_status_color]]]"><a href="/ballot_rd" style="text-decoration: none; color: [[[RESULTS vote_4_status_color]]]">4: [[[RESULTS vote_4_short_status]]]</a></td>
<td width="16%" style="border-right: 1px solid #999999; padding-left: 4px; color: [[[RESULTS vote_5_status_color]]]"><a href="/ballot_dece" style="text-decoration: none; color: [[[RESULTS vote_5_status_color]]]">5: [[[RESULTS vote_5_short_status]]]</a></td>
<td width="16%" style="padding-left: 4px; color: [[[RESULTS vote_6_status_color]]]"><a href="/ballot_dgece" style="text-decoration: none; color: [[[RESULTS vote_6_status_color]]]">6: [[[RESULTS vote_6_short_status]]]</a></td>
</tr>
</table>
