<h1>MLA Online Balloting: Instructions</h1>

<p>After reading these instructions, please follow the link at the bottom of the page to the main menu of the online ballot.  You may return to these instructions at any time from the main menu page or print them out for future reference.</p>

<h3>Overview</h3>

<p>There are six ballot sections to complete.  It is not necessary to complete the ballot in one session.  You may exit and return as many times as necessary to finish voting.  Because of this feature of the ballot system, voting is a two-step process.</p>

<p>(1)	Mark and save your votes.</p>
<ul style="margin-left: 20px">
<li>On each voting screen, you will be able to mark the candidates of your choice.  Buttons for saving your votes (or for exiting without saving) appear at the bottom of each voting screen.  Your votes are saved to your voting summary.</li>
<li>To reach the buttons on some longer voting screens, either scroll down or click on a "Jump to bottom" link.</li>
<li>You do not have to vote in all contests.  However, the system uses pop-up messages to warn you if you have not marked all possible votes in a ballot section.  To save only the votes you have marked, click on the button labeled OK in the pop-up window.</li>
<li>Each time you return to the ballot, the votes you previously saved will be visible. If you wish, you can clear those votes and save new ones.</li>
</ul>
<ul style="margin-left: 40px; list-style-type:none">
<li><i>Tip</i>: Please do not use your browser's back button to navigate within the ballot system.</li>
<li><div style="border: 1px solid #666666; background: #ffffcc; padding: 4px 4px 4px 4px; margin-top: 4px; margin-bottom: 12px;"><i>Tip</i>: Important system messages will appear at the top of your screen in a yellow box. Please pay attention to them.</div></li>
</ul>

<p>(2)	Submit your saved votes for tallying.</p>
<ul style="margin-left: 20px">
<li>To submit your saved votes for tallying, you will need to review your voting summary and then click on the Submit Final Vote button that appears on the summary page.</li>
<li>When you click Submit Final Vote, your votes will be tallied, and you will no longer be able to make any changes.</li>
<li>The deadline for submitting your votes online is 12:00 midnight (EST) on Tuesday, 10 December 2013.</li>
</ul>

<h3>Candidate Information</h3>
<p>In the elections for second vice president, the Executive Council, and the Delegate Assembly (ballot sections 1 through 4), candidates’ biographical summaries and statements on matters of professional concern can be accessed by clicking on a candidate’s name.  (As an alternative, you can review or download the complete candidate information booklet by clicking <a href="/candidate_info_2013" target="_blank" >here</a>[[[docstudio filetype_tag_pdf]]].)  In the division and discussion group executive committee elections (ballot sections 5 and 6), candidates’ MLA directory information is displayed on the voting screen.</p>
<ul style="margin-left: 20px; list-style-type:none">
<li><i>Tip</i>: The complete candidate information booklet will open in a new window that you may keep open as you work your way through ballot sections 1 through 4.  You may prefer to switch between the ballot window and the candidate information window instead of clicking on candidates’ names to bring up their individual information.</li>
</ul>

<h3>Ballot Features</h3>
<p>The ballot system includes a progress bar at the top of each voting screen.  Each ballot section is represented, and the number of saved votes in each section is shown.  In addition, color coding shows at a glance whether you have saved all votes (<span style="color: green">green</span>), some votes (<span style="color: orange">yellow</span>), or no votes (<span style="color: red">red</span>) in each ballot section.</p>
<ul style="margin-left: 20px; list-style-type:none">
<li><i>Tip</i>: The progress bar is also a navigation tool.  Clicking on a section of the progress bar will bring you to that section of the ballot.  Please be sure to save any votes you may have marked before using the progress bar to navigate away from the page you are on.</li>
</ul>

<p>The ballot system displays a reminder about the two-step voting process--save your votes, then submit your votes for tallying--each time you exit the ballot system without submitting your votes.  You do not have to submit your votes until you are ready to do so; but if you do not submit your saved votes when you have completed your ballot, your votes will not be tallied.</p>

<h3>Suggesting Candidates for the 2014 Division and Discussion Group Executive Committee Elections</h3>
<p>Each time you exit the system, you will be given the opportunity to propose nominees for next year’s division and discussion group executive committee elections.  Executive committees will review all proposed nominees during their business meetings at the Chicago convention.</p>

<p>If you have any questions about the ballot, please contact the coordinator of governance (<a href="mailto:governance@mla.org">governance@mla.org</a>).</p>

<p><a href="/ballot_main&from=instructions">Click here to go to the main menu of the online ballot.</a></p>

<br />
 
