<h1>MLA Online Balloting: Main Menu</h1>

<@if ($results{'ballot_complete'} ne '')>

<p><b>Your ballot is complete and has been submitted for review.  You can not make any further changes to your ballot.</b></p>

<p>If you have any additional questions or comments, please contact <a href="mailto:governance@mla.org">governance@mla.org</a> for assistance.</p>

<@else>

<@if ($results{'ballot_overall_status'} ne '')>
<p><b>[[[RESULTS ballot_overall_status]]]</b></p>
<@/if>

<p>If you wish to review the instructions for voting online, please click <a href="/ballot_instructions">here</a>.
<br>If you wish to review or download the candidate information booklet (for ballot sections 1 through 4), please click <a href="/candidate_info_2013" target="_blank" >here</a>[[[docstudio filetype_tag_pdf]]].</p>


<table cellpadding="0" cellspacing="2" border="0">
	<tr>
		<td>1. <a href="/ballot_svp">Voting for Second Vice President</a></td>
		<td style="padding-left: 8px; color: [[[RESULTS vote_1_status_color]]]"><b>[[[RESULTS vote_1_status]]]</b></td>
	</tr>
	<tr>
		<td>2. <a href="/ballot_ec">Voting for Executive Council</a></td>
		<td style="padding-left: 8px; color: [[[RESULTS vote_2_status_color]]]"><b>[[[RESULTS vote_2_status]]]</b></td>
	</tr>
	<tr>
		<td>3. <a href="/ballot_sid">Voting for Special-Interest Delegates</a></td>
		<td style="padding-left: 8px; color: [[[RESULTS vote_3_status_color]]]"><b>[[[RESULTS vote_3_status]]]</b></td>
	</tr>
	<tr>
		<td>4. <a href="/ballot_rd">Voting for Regional Delegates</a></td>
		<td style="padding-left: 8px; color: [[[RESULTS vote_4_status_color]]]"><b>[[[RESULTS vote_4_status]]]</b></td>
	</tr>
	<tr>
		<td>5. <a href="/ballot_dece">Division Executive Committee Elections</a></td>
		<td style="padding-left: 8px; color: [[[RESULTS vote_5_status_color]]]"><b>[[[RESULTS vote_5_status]]]</b></td>
	</tr>
	<tr>
		<td>6. <a href="/ballot_dgece">Discussion Group Executive Committee Elections</a></td>
		<td style="padding-left: 8px; color: [[[RESULTS vote_6_status_color]]]"><b>[[[RESULTS vote_6_status]]]</b></td>
	</tr>
</table>

<table width="100%" cellpadding="8">
<tr>
<@if ($results{'vote_complete'} < 6)>
<@if ($results{'ballot_next_page'} eq 'ballot_svp' && $results{'vote_complete'} eq '')>
<td><input type="button" value="Begin Voting Now" onClick="window.location.href='/ballot_svp';" /></td>
<@else>
<td><input type="button" value="Continue Voting Now" onClick="window.location.href='/[[[RESULTS ballot_next_page]]]';" /></td>
<@/if>
<@/if>
<@if ($results{'vote_complete'} > 0)>
<td><input type="button" value="Review Voting Summary" onClick="window.location.href='/ballot_summary';" /></td>
<@/if>
<@/if>
<td><input type="button" value="Exit Online Ballot System" onClick="window.location.href='/[[[RESULTS ballot_exit_page]]]';" /></td>
</tr>
</table>
