<h1>MLA Online Balloting Complete</h1>
<p>Thank you for your vote.  Your voting on this ballot was finalized on [[[RESULTS BALLOT_FINALIZED]]].</p>
<p>If you would like to propose nominees for next year's division and discussion group executive committee elections, please click <a href="/ballot_nominations">here</a>.</p>
<p>If you have any questions, please contact the coordinator of governance at <a href="mailto:governance@mla.org">governance@mla.org</a> for assistance.</p>
