<style>blockquote {padding: 8px 0 0 0;} p{margin: 0; padding: 8px 0 16px 0;}</style>
<h1>List of All Regional Candidates</h1>
<b>New England and Eastern Canada</b> (5 contests)
<blockquote>Connecticut, Maine, Massachusetts, New Hampshire, Rhode Island, Vermont; New Brunswick, Newfoundland and Labrador, Nova Scotia, Ontario, Prince Edward Island, Québec</blockquote>
<p>
James Robert Allard, Brock Univ. / Jeremy A. Lopez, Univ. of Toronto<br>
Stephen David Powell, Univ. of Guelph / Adam Sol, Laurentian Univ.<br>
Matthew Garrett, Wesleyan Univ. / Alex Mueller, Univ. of Massachusetts, Boston<br>
Irit Ruth Kleiman, Boston Univ. / Andrea W. Tarnowski, Dartmouth Coll.<br>
Christopher Eldrett, Boston Univ. / Antonio Guijarro-Donadiós, Univ. of Connecticut, Storrs<br>
</p>

<b>New York State</b> (6 contests)
<p>Juan E. De Castro, New School / Matthew W. Lessig, State Univ. of New York, Coll. at Cortland
<br>Emily S. Apter, New York Univ. / Roberta Lyles Krueger, Hamilton Coll.
<br>Andrew Albin, Fordham Univ., Lincoln Center / Gregory Foran, Nazareth Coll. of Rochester
<br>Jonathan Baldo, Eastman School of Music, Univ. of Rochester / Nicholas G. Salvato, Cornell Univ.
<br>Lisa Berglund, Buffalo State Coll., State Univ. of New York / Janet Galligani Casey, Skidmore Coll.
<br>Christopher Eng, Graduate Center, City Univ. of New York / Akash Kumar, Columbia Univ.
</p>

<b>Middle Atlantic</b> (5 contests)
<blockquote>
Delaware, District of Columbia, Maryland, New Jersey, Pennsylvania, West Virginia
</blockquote>
<p>Peter Mallios, Univ. of Maryland, College Park / Bernard McKenna, Univ. of Delaware, Newark
<br>Keith D. Leonard, American Univ. / Patrick R. O’Malley, Georgetown Univ.
<br>Cynthia Schmidt-Cruz, Univ. of Delaware, Newark / Brenda Werth, American Univ.
<br>Michelle Jeannette Brazier, Raritan Valley Community Coll., NJ / Maria Hanna Makowiecka, Bergen Community Coll., NJ
<br>Kyle McAuley, Rutgers Univ., New Brunswick / Rob Wakeman, Univ. of Maryland, College Park
</p>

<b>Great Lakes</b> (6 contests)
<blockquote>
Illinois, Indiana, Michigan, Minnesota, Ohio, Wisconsin
</blockquote>
<p>Todd Herzog, Univ. of Cincinnati / Edgar Landgraf, Bowling Green State Univ.
<br>Jeffrey E. Cordell, Madonna Univ. / Jonathan Naito, Saint Olaf Coll.
<br>Jonathan Elmer, Indiana Univ., Bloomington / Morris Young, Univ. of Wisconsin, Madison
<br>Linda S. Bergmann, Purdue Univ., West Lafayette / Cynthia L. Selfe, Ohio State Univ., Columbus
<br>Heather Brown, Kent State Univ. / Kaitlin Marks-Dubbs, Univ. of Illinois, Urbana
<br>Audrey Dobrenn, Indiana Univ., Bloomington / Jenelle Grant, Univ. of Illinois, Urbana
</p>

<b>South</b> (6 contests)
<blockquote>
Alabama, Florida, Georgia, Kentucky, Louisiana, Mississippi, North Carolina, Puerto Rico, South Carolina, Tennessee, Virginia, Virgin Islands
</blockquote>
<p>Benjamin Kahan, Louisiana State Univ., Baton Rouge / John David Miles, Univ. of Memphis
<br>Jürgen E. Grandt, Univ. of North Georgia / Jason M. Richards, Rhodes Coll.
<br>Cynthia Bryant, Southern Univ., Baton Rouge / Anna Lillios, Univ. of Central Florida
<br>Shalyn Claggett, Mississippi State Univ. / Pamela D. Gay-White, Alabama State Univ.
<br>William Hutchings, Univ. of Alabama, Birmingham / Frank A. Palmeri, Univ. of Miami
<br>Jordan Stone, Univ. of Georgia / Zackary Vernon, Univ. of North Carolina, Chapel Hill
</p>

<b>Central and Rocky Mountain</b> (4 contests)
<blockquote>
Arizona, Arkansas, Colorado, Iowa, Kansas, Missouri, Montana, Nebraska, New Mexico, North Dakota, Oklahoma, South Dakota, Texas, Utah, Wyoming
</blockquote>
<p>Nathan Grant, Saint Louis Univ. / No candidate
<br>Katie Kane, Univ. of Montana, Missoula / Susan M. Stone, Loras Coll.
<br>Mariana Bolivar Rubin, Univ. of Colorado, Boulder / Edma I. Delgado Solorzano, Univ. of Kansas
<br>Constance Bailey, Univ. of Missouri, Columbia / Delphine Red Shirt, Univ. of Arizona
</p>

<b>Western United States and Western Canada</b> (5 contests)
<blockquote>
Alaska, California, Guam, Hawai‘i, Idaho, Nevada, Oregon, Washington; Alberta, British Columbia, Manitoba, Saskatchewan
</blockquote>
<p>David C. Lloyd, Univ. of California, Davis / William Beatty Warner, Univ. of California, Santa Barbara
<br>Karen Elizabeth Gross, Lewis and Clark Coll. / Sarah Raff, Pomona Coll.
<br>King-Kok Cheung, Univ. of California, Los Angeles / Rosaura Sanchez, Univ. of California, San Diego
<br>Margaret Hanzimanolis, De Anza Coll., CA, and Cañada Coll., CA / Loretta Kane, San Jose State Univ. and Berkeley City Coll., CA
<br>Lucy M. Alford, Stanford Univ. / Erin Sweeney, Univ. of California, Irvine
</p>
