[[[insert file "ballot_progress"]]]

<h1>1: Voting for Second Vice President</h1>

<p>Rank all 3 candidates in order of preference.  For your vote to count fully, you must click 1 for your first choice, 2 for your second choice, and 3 for your third choice.  (This voting method incorporates the runoff election that is normally needed to determine a winner, who must receive a majority of the votes cast.)</p>

<p>After you have marked your choices, please save them to your voting summary by clicking on one of the Save buttons at the bottom of the page.</p>

<form action="/ballot_ec" method="POST" name="form1" style="margin: 0px">
<input type="hidden" name="function" value="record_vote" />
<input type="hidden" name="cols" value="[[[RESULTS ballot_cols_on_page]]]" />

<table cellpadding="8" cellspacing="16" border="0" align="center">
<@loop "candidates">
<tr>
<td><a href="javascript:showCandidateInfo(<@col 3>)"><@col 2></a></td>
<td style="border: 1px solid black"><input type="radio" onClick="updateButtons()" name="BV_SVP_1" value="<@col 1>"<@if ($results{'BV_SVP_1'} eq $col[1])> checked<@/if> />&nbsp;1</td>
<td style="border: 1px solid black"><input type="radio" onClick="updateButtons()" name="BV_SVP_2" value="<@col 1>"<@if ($results{'BV_SVP_2'} eq $col[1])> checked<@/if> />&nbsp;2</td>
<td style="border: 1px solid black"><input type="radio" onClick="updateButtons()" name="BV_SVP_3" value="<@col 1>"<@if ($results{'BV_SVP_3'} eq $col[1])> checked<@/if> />&nbsp;3</td>
</tr>
<@/loop>
<tr>
<td>&nbsp;</td>
<td colspan="3" align="center"><a href="javascript:clearVote()">clear vote</a></td>
</tr>
</table>
<table cellpadding="8" cellspacing="0" border="0" align="center">
<tr>
<td><input type="button" style="width: 280px" id="sac_button" value="Save and Continue" onClick="this.form.action = '/[[[RESULTS ballot_next_page]]]'; checkAndSubmit(this.form)" /></td>
<td><input type="button" style="width: 255px" id="sar_button" value="Save and Return to Main Menu" onClick="this.form.action = '/ballot_main'; checkAndSubmit(this.form)" /></td>
<td><input type="button" style="width: 125px" value="Exit without Saving" onClick="window.location.href = '/ballot_main&msg=noch';" /></td>
</tr>
</table>


<script language="JavaScript">

function updateButtons() {

	var f = document.form1;
	var total_votes = 0;
	
	for (inp = 1; inp <= 3; inp++)
		for (i=0; i<f['BV_SVP_' + inp].length; i++) {
			if (f['BV_SVP_' + inp][i].checked) {
				total_votes++;
			}
		}
	
	var sac = document.getElementById('sac_button');
	var sar = document.getElementById('sar_button');
	
	sac.value = 'Save ' + total_votes + ' Vote(s) and Continue';
	sar.value = 'Save ' + total_votes + ' Vote(s) and Return to Main Menu';

}

function checkAndSubmit(f) {

	var votes = new Object;
	var total_votes = 0;
	
	var error = '';
	
	for (inp = 1; inp <= 3; inp++)
		for (i=0; i<f['BV_SVP_' + inp].length; i++) {
			if (f['BV_SVP_' + inp][i].checked) {
				if (!votes[f['BV_SVP_' + inp][i].value]) votes[f['BV_SVP_' + inp][i].value] = 0;
				votes[f['BV_SVP_' + inp][i].value]++;
				total_votes++;
			}
			if (votes[f['BV_SVP_' + inp][i].value] > 1) error = 'Please check your vote.  You have voted for a candidate in more than one position.';
		}

	if (error == '' && total_votes < 3 && !confirm('Since you have not ranked all three candidates, the vote(s) you are about to save to your voting summary will not count fully in any runoff election.\n\nAre you sure you want to continue?')) {
		error = 'C';
	}
	
	if (error != '') {
		if (error == 'C') {
			error = '';
		} else {
			error = error + '\n\n';
			error = error + 'Please correct your vote and try again.';
			alert(error);
		}
	} else {
		f.submit();
	}
}

function clearVote() {
	var f = document.form1;
	for (var inp = 1; inp <= 3; inp++) 
		for (var i=0; i<f['BV_SVP_' + inp].length; i++)
			f['BV_SVP_' + inp][i].checked = false;
	updateButtons();
}

function showCandidateInfo(memid) {
	var canwin = window.open('/ballot_candidate&mem='+memid,'','scrollbars=yes,menubar=yes,height=400,width=670,resizable=yes,toolbar=no,location=no,status=no');
}

updateButtons();

</script>
