<@if ($extjs_compatible ne "Y")>
	<p>
		Sorry, your browser does not support the functionality necessary to submit suggestions. 
		Please upgrade to the most recent version of Internet Explorer, Firefox, or Safari. 
	</p>
	
	<script type="text/javascript"language="javascript">
	function donom(comid,type,display){
		alert('Sorry, your browser does not support the functionality necessary to submit suggestions.');
	}
	</script>
<@else>

	<@eval ($use_extjs = "Y";)>

<@/if>

<form name="form1" method="POST" action="/[[[searcharg file]]]" onSubmit="return checkSubmit()">
<div id="nomcontainer"> <!-- // start container simply to override extjs styles // -->
<h1>Suggest a Member for Nomination to an Executive Committee</h1>
<div class="pdiv">
<@if ($arg{from} eq "ballot")>
	Thank you for participating in the MLA Online Balloting.  You now have the opportunity to propose nominees for the fall 2014 division and discussion group executive committee elections.  
<@else>
Use this form to propose nominees for the fall 2015 division and discussion group executive committee elections. 
<@/if>
All suggestions received by 22 December 2014 will be reviewed by the executive committees during their business meetings at the January 2015 convention in Vancouver. You may check a colleague's MLA membership status using the <a href="/member_search">online member search</a>. 
</div>
<div class="pdiv">
<@if ($arg{from} eq "ballot")>
If you do not wish to make any nominations at this time, use the Exit button below. 
<@else>
When you have finished making suggestions, use the Exit button below.
<@/if>
</div>
<div class="pdiv">
	Questions about this page should be addressed to Carol Zuses (<a href="mailto:governance@mla.org">governance@mla.org</a>).
</div>
<div class="pdiv">
	<b>Step 1</b>: Select the division / discussion group: 
	<blockquote>
		<select name="comm_select" id="comm_select" onChange="handleOrgSelection(this); hide_message();">
			<option value="">-- Select --</option>
			<@loop "comm_array">
				<option value="<@col 1>"><@col 2></option>
			<@/loop>
		</select>
		
</div>
<div class="pdiv" id="step2_self" style="display:none">

	<b>Step 2</b>: You are nominating yourself.  To search the member database for a member you wish to suggest, <a href="javascript:nominateother(); hide_message();">click here</a>.
</div>

<div class="pdiv" id="step2_search">
	<b>Step 2</b>: Search the member database for the member you wish to suggest. To nominate yourself, <a href="javascript:nominateme(); hide_message()">click here</a>.
	<blockquote>
	<table border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td><input type="text" onFocus="hide_message()" name="firstname" id="ajaxfname"></td>
			<td><input type="text" onFocus="hide_message()" name="lastname" id="ajaxlname"></td>
			<td><input type="text" onFocus="hide_message()" name="institution" id="ajaxinst"></td>
			<td><input type="button" id="ajaxsub" value="Search" onclick="hide_message(); ajaxMemberSearch();"></td>
		</tr>
		<tr>
			<td class="s1">First name</td>
			<td class="s1">Last name</td>
			<td class="s1">Institution</td>
			<td>&nbsp;</td>
		</tr>
	</table>
			
	<div id="ajax_member_results" style="border:1px solid gray;margin-top:12px;padding:8px;height: 200px;display:none;"><img src="/IMAGES/loading-small.gif" />&nbsp;Loading...</div>
	
	</blockquote>

</div>

<div class="pdiv">
	<b>Step 3</b>: Submit the nomination.
	<input type="hidden" name="function" value="submit_nomination" />
	<input type="hidden" name="nom_firstname" value="" />
	<input type="hidden" name="nom_lastname" value="" />
	<input type="hidden" name="nom_institution" value="" />
	<input type="hidden" name="nom_memid" value="" />
	<input type="hidden" name="nom_lastpaid" value="" />
	<input type="hidden" name="nom_orgcode" value="" />
	<blockquote>
	Division or Discussion Group: <div style="display: inline" id="divname">Not Selected</div><br />
	Name: <div style="display: inline" id="personname">Not Selected</div><br /><br />
	<input type="submit" value="Submit Nomination" />&nbsp;<input style="margin-left: 64px" type="button" value="Exit" onClick="document.location='/homepage';" />
	</blockquote>
</div>

</div> <!-- // end container // -->
</form>

<@if (@submitted_nominations > 0)>

<div class="pdiv">
<b>Nominations you have already made:</b><br /><br />
<table border="0" cellpadding="0" cellspacing="1" width="100%" bgcolor="[[color2]]">
	<tr>
		<td width="30%" style="padding: 2px" class="white_table_header">Nominee name</td>
		<td width="30%" style="padding: 2px" class="white_table_header">Institution</td>
		<td width="40%" style="padding: 2px" class="white_table_header">Division / Discussion Group</td>
	</tr>

	<@loop "submitted_nominations">
		<tr>
			<td style="padding: 2px" bgcolor="#ffffff"><@col 3>, <@col 2></td>
			<td style="padding: 2px" bgcolor="#ffffff"><@col 4></td>
			<td style="padding: 2px" bgcolor="#ffffff"><@col 5></td>
		</tr>
	<@/loop>
	</table>
<@/if>


<script language="javascript" type="text/javascript">

function handleOrgSelection(sel) {
	var theOrgDiv = document.getElementById('divname');
	if (sel.options[sel.selectedIndex].value.length > 1) {
		theOrgDiv.innerHTML = sel.options[sel.selectedIndex].text;
		document.form1.nom_orgcode.value = sel.options[sel.selectedIndex].value;
	} else {
		theOrgDiv.innerHTML = 'Not Selected';
		document.form1.nom_orgcode.value = '';
	}
}

function ajaxMemberSearch() {
	var lname_search = document.getElementById('ajaxlname').value;
	var fname_search = document.getElementById('ajaxfname').value;
	var inst_search = document.getElementById('ajaxinst').value;

	if (lname_search.length < 3 && fname_search.length < 3) {

		Ext.MessageBox.alert('Error', 'At least 3 characters are needed for either first or last name to perform an accurate member search.  Please try again.');
		
	} else {

		var conn = new Ext.data.Connection();
		conn.request({
			url: '/FORM_ACTIONS/[[[searcharg file]]]',
			method: 'POST',
			params: { ajax_function: 'member_search', last_name: lname_search, first_name: fname_search, institution: inst_search },
			success: function(responseObject) {
				ajaxSearchResults(responseObject.responseText);
			},
			failure: function() {
				Ext.Msg.alert('Status', 'Unable to retrieve search results at this time.  Please try again in a moment.');
			}
		});

		var resultsDiv = document.getElementById('ajax_member_results');
		//resultsDiv.innerHTML = 'Member search in progress.  Please stand by for results...';
		resultsDiv.innerHTML = '<img src="/IMAGES/loading-small.gif" />&nbsp;Loading...';
		resultsDiv.style.display = 'block';
	}
}

function ajaxSearchResults(responseText) {
	// handle results
	var resultsDiv = document.getElementById('ajax_member_results');
	resultsDiv.innerHTML = responseText;
	if (resultsDiv.scrollHeight > 200) {
		resultsDiv.style.height = '200px';
		resultsDiv.style.overflow = 'auto';
	}

}

function handleMemberSearchResult(res) {
	var theNameDiv = document.getElementById('personname');
	if (res.mem_id == -1) {
		// We are overriding with the data we entered.
		res.first_name = document.form1.firstname.value;
		res.last_name = document.form1.lastname.value;
		res.institution_display = document.form1.institution.value;
		res.latest_paid_yr = '';
	}
	theNameDiv.innerHTML = res.first_name + ' ' + res.last_name + (res.institution_display ? ', ' + res.institution_display : '');

	document.form1.nom_firstname.value = res.first_name;
	document.form1.nom_lastname.value = res.last_name;
	document.form1.nom_memid.value = res.mem_id;
	document.form1.nom_institution.value = res.institution_display;
	document.form1.nom_lastpaid.value = res.latest_paid_yr;

	var resultsDiv = document.getElementById('ajax_member_results');
	//resultsDiv.innerHTML = 'Member search in progress.  Please stand by for results...';
	resultsDiv.innerHTML = '';
	resultsDiv.style.display = 'none';
	
}

function nominateme() {
	var selfDiv = document.getElementById('step2_self');
	var searchDiv = document.getElementById('step2_search');
	
	searchDiv.style.display = 'none';
	selfDiv.style.display = 'block';
	
	handleMemberSearchResult({ mem_id:'<@$memData{MEM_ID}>', last_name:'<@$memData{LAST_NAME}>', first_name:'<@$memData{FIRST_NAME}>', af_institution:'<@$memData{AF_INSTITUTION}>', af_rank_dept:'<@$memData{AF_RANK_DEPT}>', latest_paid_yr:'<@$memData{LATEST_PAID_YR}>', institution_display: '<@$memData{AF_INSTITUTION}>' });
}

function nominateother() {
	var selfDiv = document.getElementById('step2_self');
	var searchDiv = document.getElementById('step2_search');
	
	searchDiv.style.display = 'block';
	selfDiv.style.display = 'none';
}

function checkSubmit() {
	var badcount = 0;
	var errormsg = "";
	var emsg = "";
	var rettarget;
	var checkedFee = 0;
	var selectedRegFee;
	
	// check the fee radios
	if (document.form1.nom_orgcode.value == '') {
		badcount++;
		errormsg += '\n' + badcount + ': You must select an organization.';
		rettarget = document.form1.comm_select;
		}
	if (!document.form1.nom_memid.value && (document.form1.nom_firstname.value == '' || document.form1.nom_lastname.value == '')) {
		badcount++;
		errormsg += '\n' + badcount + ': You must select or enter a full name for your nomination.';
		rettarget = document.form1.firstname;
		}

	if (badcount > 0) {
		if (rettarget) {
			rettarget.focus();
			}
		alert(errormsg);
		return false;
		} else {
		return true;
		}
}

function hide_message() {
	var msgBox = document.getElementById('ds_messagebox');
	if (msgBox) msgBox.style.display = 'none';
}

handleOrgSelection(document.form1.comm_select);
</script>
