<h1>Electronic Format of the Bibliography</h1>
The <i>MLA Bibliography</i> is distributed as an electronic database; the electronic format contains all current entries as well as those published in the print volumes from 1926 to 2008. It is searchable by classification headings, document authors, subject-index terms, language of the book or article, journal name, and other elements. Additionally, the MLA worked with JSTOR to develop the list of titles in JSTOR's language and literature collection. This collection provides electronic access to fifty-eight journals, beginning with volume 1, issue 1, of each. Some titles, such as <I>PMLA</i>, date back to the 1880s. These journals have been indexed and linked, and as of April 2006 over 80,000 of these citations have been added to the database. In spring 2006, indexing of JSTOR's Asian studies collection was initiated. The electronic format is distributed via the Internet and is updated ten times a year.

<h2>Access to the <i>MLA Bibliography</i> Database</h2>
Following are distributors of the electronic format of the bibliography.
<dl>
<a name="ebsco"> </a>
<dt><b>EBSCO</b>
<dd>EBSCO Information Services distributes the <i>MLA Bibliography</i> online via the Internet. Includes the <i>Directory of Periodicals</i> and the <i>MLA Bibliography</i> names and subject thesauri. Updated ten times a year.
10 Estes Street, Ipswich, MA 01938
Phone: 800 653-2726
Fax: 978 356-6565
<a href="mailto:information@epnet.com">information@epnet.com</a>
<a href="http://www.epnet.com" target="other">http://www.epnet.com</a>
<a name="gale"> </a>
<dt><b>Cengage Learning/Gale</b>
<dd>Cengage Learning through Gale distributes the <i>MLA Bibliography</i> online via the Internet through its Literature Resource Center and through InfoTrac. Includes the <I>Directory of Periodicals</I> and the <i>MLA Bibliography</i> names and subject thesauri. Updated ten times a year.
World Headquarters
27500 Drake Road, Farmington Hills, MI 48331-3535
Phone: 800 877-4253
Fax: 800 414-5043
<a href="mailto:gale.customerservice@cengage.com">gale.customerservice@cengage.com</a>
<a href="http://www.gale.cengage.com/contact.htm" target="other">http://www.gale.cengage.com/contact.htm</a>
<a name="proquest"> </a>
<dt><b>ProQuest</b>
<dd>ProQuest distributes the <I>MLA Bibliography</i> online via the Internet as a stand-alone product and through Chadwyck-Healey's LiOn (Literature Online). Includes the <i>Directory of Periodicals</i> and the <i>MLA Bibliography</i> names and subject thesauri. Updated ten times a year.
ProQuest Information and Learning
300 North Zeeb Road, Ann Arbor, MI 48106-1346
Phone: 734 761-4700 or 800 521-0600
<a href="mailto:info@il.proquest.com">info@il.proquest.com</a>
<a href="http://www.proquest.com" target="other">http://www.proquest.com</a>
<a name="ovid"> </a>
