<h1>Book Collections </h1>
<p>In addition to journals and monographs, approximately 1,200 "book collections" are annually indexed in the <I>MLA Bibliography</I>. These can be described as books of articles or Festschriften containing independent scholarship by multiple authors. Relevant articles in each volume are also indexed, providing more than 20,000 records yearly. To aid librarians in their collection development efforts, the bibliography staff provides the following Excel spreadsheets containing a listing of the titles, authors, publishers, series, and ISBNs available in each file update. These spreadsheets are identified by update number—YYYYUU with YYYY as the file year and UU as the sequential number.</p>

<style>.year{float:left; padding: 0 4em 2em 0;}</style>

<div class="year">
<h3>2014</h3>

<a href="/alabc201402" ><b>201402</b></a> [[[docstudio filetype_tag_xls]]]<br>

<a href="/alabc201401" ><b>201401</b></a> [[[docstudio filetype_tag_xls]]]<br>

</div>

<div class="year">
<h3>2013</h3>
<a href="/alabc201309" ><b>201309</b></a> [[[docstudio filetype_tag_xls]]]<br>
<a href="/alabc201308" ><b>201308</b></a> [[[docstudio filetype_tag_xls]]]<br>
<a href="/alabc201307" ><b>201307</b></a> [[[docstudio filetype_tag_xls]]]<br>
<a href="/alabc201306" ><b>201306</b></a> [[[docstudio filetype_tag_xls]]]<br>
<a href="/alabc201305" ><b>201305</b></a> [[[docstudio filetype_tag_xls]]]<br>
<a href="/alabc201304" ><b>201304</b></a> [[[docstudio filetype_tag_xls]]]<br>
<a href="/alabc201303" ><b>201303</b></a> [[[docstudio filetype_tag_xls]]]<br>
<a href="/alabc201302" ><b>201302</b></a> [[[docstudio filetype_tag_xls]]]<br>
<a href="/alabc201301" ><b>201301</b></a> [[[docstudio filetype_tag_xls]]]<br>
</div>

<div class="year">
<h3>2012</h3>
<a href="/alabc201209" ><b>201209</b></a> [[[docstudio filetype_tag_xls]]]<br>
<a href="/alabc201208" ><b>201208</b></a> [[[docstudio filetype_tag_xls]]]<br>
<a href="/alabc201207" ><b>201207</b></a> [[[docstudio filetype_tag_xls]]]<br>
<a href="/alabc201206" ><b>201206</b></a> [[[docstudio filetype_tag_xls]]]<br>
<a href="/alabc201205" ><b>201205</b></a> [[[docstudio filetype_tag_xls]]]<br>
<a href="/alabc201204" ><b>201204</b></a> [[[docstudio filetype_tag_xls]]]<br>
<a href="/alabc201203" ><b>201203</b></a> [[[docstudio filetype_tag_xls]]]<br>
<a href="/alabc201202" ><b>201202</b></a> [[[docstudio filetype_tag_xls]]]<br>
<a href="/alabc201201" ><b>201201</b></a> [[[docstudio filetype_tag_xls]]]<br>
</div>

<div class="year">
<h3>2011</h3>
<a href="/alabc201109" ><b>201109</b></a> [[[docstudio filetype_tag_xls]]]<br>
<a href="/alabc201108" ><b>201108</b></a> [[[docstudio filetype_tag_xls]]]<br>
<a href="/alabc201107" ><b>201107</b></a> [[[docstudio filetype_tag_xls]]]<br>
<a href="/alabc201106" ><b>201106</b></a> [[[docstudio filetype_tag_xls]]]<br>
<a href="/alabc201105" ><b>201105</b></a> [[[docstudio filetype_tag_xls]]]<br>
<a href="/alabc201104"><b>201104</b></a> [[[docstudio filetype_tag_xls]]]<br>
<a href="/alabc201103"><b>201103</b></a> [[[docstudio filetype_tag_xls]]]<br>
<a href="/alabc201102"><b>201102</b></a> [[[docstudio filetype_tag_xls]]]<br>
<a href="/alabc201101"><b>201101</b></a> [[[docstudio filetype_tag_xls]]]<br>
</div>

<div class="year">
<h3>2010</h3>
<a href="/alabc201009"><b>201009</b></a> [[[docstudio filetype_tag_xls]]]<br>
<a href="/alabc201008"><b>201008</b></a> [[[docstudio filetype_tag_xls]]]<br>
<a href="/alabc201007"><b>201007</b></a> [[[docstudio filetype_tag_xls]]]<br>
<a href="/alabc201006"><b>201006</b></a> [[[docstudio filetype_tag_xls]]]<br>
<a href="/alabc201005"><b>201005</b></a> [[[docstudio filetype_tag_xls]]]<br>
<a href="/alabc201004"><b>201004</b></a> [[[docstudio filetype_tag_xls]]]<br>
<a href="/alabc201003"><b>201003</b></a> [[[docstudio filetype_tag_xls]]]<br>
<a href="/alabc201002"><b>201002</b></a> [[[docstudio filetype_tag_xls]]]<br>
<a href="/alabc201001"><b>201001</b></a> [[[docstudio filetype_tag_xls]]]<br>
</div>

<div class="year">
<h3>2009</h3>
<a href="/alabc200907"><b>200907</b></a> [[[docstudio filetype_tag_xls]]]<br>
<a href="/alabc200906"><b>200906</b></a> [[[docstudio filetype_tag_xls]]]<br>
<a href="/alabc200905"><b>200905</b></a> [[[docstudio filetype_tag_xls]]]<br>
<a href="/alabc200904"><b>200904</b></a> [[[docstudio filetype_tag_xls]]]<br>
<a href="/alabc200903"><b>200903</b></a> [[[docstudio filetype_tag_xls]]]<br>
<a href="/alabc200902"><b>200902</b></a> [[[docstudio filetype_tag_xls]]]<br>
<a href="/alabc200901"><b>200901</b></a> [[[docstudio filetype_tag_xls]]]<br>
</div>

<div class="year">
<h3>2008</h3>
<a href="/alabc200809"><b>200809</b></a> [[[docstudio filetype_tag_xls]]]<br>
<a href="/alabc200808"><b>200808</b></a> [[[docstudio filetype_tag_xls]]]<br>
<a href="/alabc200807"><b>200807</b></a> [[[docstudio filetype_tag_xls]]]<br>
<a href="/alabc200806"><b>200806</b></a> [[[docstudio filetype_tag_xls]]]<br>
<a href="/alabc200805"><b>200805</b></a> [[[docstudio filetype_tag_xls]]]<br>
<a href="/alabc200804"><b>200804</b></a> [[[docstudio filetype_tag_xls]]]<br>
<a href="/alabc200803"><b>200803</b></a> [[[docstudio filetype_tag_xls]]]<br>
<a href="/alabc200802"><b>200802</b></a> [[[docstudio filetype_tag_xls]]]<br>
<a href="/alabc200801"><b>200801</b></a> [[[docstudio filetype_tag_xls]]]<br>
</div>
