<h1>Descriptors and Indexing</h1>
Since 1981, the <I>MLA International Bibliography</I> has used a contextual indexing and faceted taxonomic access system (CIFT). The classified sequence and the subject index both depend on subject analysis of cited documents by MLA staff members and contributors in terms of an ordered sequence of facets--fundamental categories of information relevant to the study of literature, linguistics, and folklore.  A computer system developed at the MLA is used to input, edit, arrange, and format entries and indexes.

In indexing an item for the bibliography, the indexers use terms that describe its content.  These descriptors, based on the document author's wording, are assigned to facets pertinent to that item, and these facets control its classification and provide subject access to it in the index.

Several general principles govern the assigning of descriptors.  Descriptors are usually specific terms; appropriate cross-references are provided to similar or related terms in the index. Descriptors define the explicit content: for example, authors are not identified as belonging to groups unless their group identification is treated within the indexed document, and methodological approaches are specified only when they are discussed or clearly applied.  Finally, descriptors are assigned for an item if, and only if, users seeking information on the topic indicated by a descriptor would be likely to want to retrieve the item.

A thesaurus developed by our thesaurus staff is used to standardize the terms used in the bibliography.  Terms come from the literature itself. To reflect the changing needs and interests of the scholarly community, the thesaurus undergoes constant revision. At present over 45,000 terms and 327,000 names are controlled.

Before adopting the CIFT scheme in  1981, MLA bibliographers used a more simplified approach to classification, generally only noting the main concept of each article (e.g., American Literature -- 1800-1899 -- Hawthorne, Nathaniel; language -- bilingualism; ethnomusicology -- musical instruments).
