<h1>Search Listings of Scholarly Web Sites from the <i>MLA International Bibliography</i></h1>
<p>
With the advice and guidance of the Advisory Committee to the <i>MLA International Bibliography</i> and the Committee on Information Technology, <i>MLA International Bibliography</i> staff members began to index scholarly Web sites in 2006. In recognition of such sites’ growing importance to scholarly communication, we want to bring them to the attention of MLA members. This database will be updated bimonthly. To suggest Web sites for consideration in the listings, please send the URL to <a href="mailto:bibliography@mla.org">bibliography@mla.org</a>.</p>
<p>
For more details, please go to <a href="/scholarlywebsites_include">Inclusion of Scholarly Web Sites</a>.
</p>
<p><h2>Related Links</h2></p>
<p>
<a href="/dop"><i>MLA Directory of Periodicals</i> Search</a><br/>
<a href="/orginfo_directory">Directory of Allied Organizations</a><br/>
</p>


<@if ($extjs_compatible ne "Y")>
<p>
Sorry, your browser does not support the functionality necessary to submit suggestions. 
Please upgrade to the most recent version of Internet Explorer, Firefox, or Safari. 
</p>

<@else>

<@eval ($use_extjs = "Y";)>
<@eval ($use_extjs_debug = "N";)>

<div id="bib_main" style="width: 100%; height: 100%; margin-top: 8px;"></div>
<!-- Templates used for Panel items -->
<div id="search_keyword_prototype" style="display:none">
<p><input style="width: 98%" maxlength="200" name="kwd" id="bib_keyword" value="Enter search term(s)" onFocus="if(this.value == searchPrompt) this.value='';" onKeyPress="checkEnter(event)" /></p>
<p>You may combine terms using AND, OR, and NOT (using parentheses to clarify search logic)</p>
<p>Example: To search for Web sites related to linguistics, you could try</p>
<blockquote style="padding: 8px 4px 8px 12px; font: normal 11px lucida console,verdana,arial,helvetica,sans-serif;">linguistics AND (phonology OR morphology)</blockquote>
<p>Example: For English poetry, but not Shakespeare, you could use</p>
<blockquote style="padding: 8px 4px 8px 12px; font: normal 11px lucida console,verdana,arial,helvetica,sans-serif;">English Literature AND Poetry AND NOT Shakespeare</blockquote>
<p>If you wish to search for the literal words <i>or</i>, <i>and</i>, or <i>not</i>, enter them in lowercase.</p>
</div>

<div id="search_browse_prototype" style="display:none"><p style="padding:4px;">
<select style="width: 98%" name="browse_select" id="browse_select" onChange="populateBrowseGrid(this.options[this.selectedIndex].value)">
<option value="">-- choose --</option>
<option value="TITLE">Title</option>
<option value="SPONSOR">Sponsoring Organization</option>
<option value="SUBJECT">Subject</option>
<option value="LANGUAGE">Language</option>
</select></p></div>

<p>Please e-mail suggestions for additional Web sites to <a href="mailto:bibliography@mla.org">bibliography@mla.org</a>.</p>

<script language="JavaScript">

var searchPrompt = 'Enter search term(s)';
document.getElementById('bib_keyword').value = searchPrompt;


/* SessionProvider.js */
Ext.state.SessionProvider = Ext.extend(Ext.state.CookieProvider, {
	readCookies : function(){
		if(this.state){
			for(var k in this.state){
				if(typeof this.state[k] == 'string'){
					this.state[k] = this.decodeValue(this.state[k]);
				}
			}
		}
		return Ext.apply(this.state || {}, Ext.state.SessionProvider.superclass.readCookies.call(this));
	}
});
/* FeedViewer.js */
FeedViewer = {};
Ext.onReady(function(){
	Ext.QuickTips.init();

	Ext.state.Manager.setProvider(new Ext.state.SessionProvider({state: Ext.appState}));

	var feeds = new CritPanel();
	var mainPanel = new MainPanel();

	feeds.on('feedselect', function(feed){
		mainPanel.loadFeed({});
	});

	var viewport = new Ext.Panel({
		layout: 'border',
		renderTo: 'bib_main',
		width: 720,
		height: 480,
		constrain: true,
		border: false,
		closable: false,
		resizable: false,
		plain: true,
		items:[
			feeds,
			mainPanel
		]
	});

	// add some default feeds
	viewport.show();
});

// This is a custom event handler passed to preview panels so link open in a new windw
FeedViewer.LinkInterceptor = {
	render: function(p){
		p.body.on({
			'mousedown': function(e, t){ // try to intercept the easy way
				t.target = '_blank';
			},
			'click': function(e, t){ // if they tab + enter a link, need to do it old fashioned way
				if(String(t.target).toLowerCase() != '_blank'){
					e.stopEvent();
					window.open(t.href);
				}
			},
			delegate:'a'
		});
	}
};

/* FeedGrid.js */
FeedGrid = function(viewer, config) {
	this.viewer = viewer;
	Ext.apply(this, config);

	this.store = new Ext.data.Store({
		proxy: new Ext.data.HttpProxy({
			url: '/bib_xml_results'
		}),

		reader: new Ext.data.XmlReader(
			{record: 'website'},
			['id', 'title', 'sort_title', 'author', 'sponsor', 'url', 'active']
		)
	});
	this.store.setDefaultSort('sort_title', "ASC");

	this.header = false;
	this.columns = [{
		id: 'title',
		header: '',
		menuDisabled: true,
		dataIndex: 'sort_title',
		sortable: true,
		width: 420,
		renderer: this.formatTitle
	}];

	FeedGrid.superclass.constructor.call(this, {
		region: 'center',
		id: 'topic-grid',
		header: false,
		loadMask: {msg:'Searching...'},

		sm: new Ext.grid.RowSelectionModel({
			singleSelect:true
		}),

		viewConfig: {
			forceFit:true,
			enableRowBody:true,
			showPreview:true,
			getRowClass : this.applyRowClass
		},
		
		bbar: [ 
			new Ext.Button ({
				text: 'Print Search Results',
				id: 'print-results-button',
				handler: function () {
					var pwin = window.open('/bib_printdiv&div=topic-grid','','scrollbars=no,menubar=yes,height=400,width=670,resizable=yes,toolbar=no,location=no,status=no');
				},
				disabled: true
			}),
			new Ext.Button ({
				text: 'Export Search Results',
				id: 'export-results-button',
				handler: function () {
					document.location = '/FORM_ACTIONS/bib_xml_results&dl=1' + Ext.getCmp('main-tabs').lastSearchQS;
				},
				disabled: true
			})
		]
	});
	this.loadFeed({ });
	this.on('rowcontextmenu', this.onContextClick, this);
};

Ext.extend(FeedGrid, Ext.grid.GridPanel, {

	onContextClick : function(grid, index, e){
		if(!this.menu){ // create context menu on first right click
			this.menu = new Ext.menu.Menu({
				id:'grid-ctx',
				items: [{
					text: 'View in new tab',
					iconCls: 'new-tab',
					scope:this,
					handler: function(){
						this.viewer.openTab(this.ctxRecord);
					}
				},'-',{
					iconCls: 'refresh-icon',
					text:'Refresh',
					scope:this,
					handler: function(){
						this.ctxRow = null;
						this.store.reload();
					}
				}]
			});
			this.menu.on('hide', this.onContextHide, this);
		}
		e.stopEvent();
		if(this.ctxRow){
			Ext.fly(this.ctxRow).removeClass('x-node-ctx');
			this.ctxRow = null;
		}
		this.ctxRow = this.view.getRow(index);
		this.ctxRecord = this.store.getAt(index);
		Ext.fly(this.ctxRow).addClass('x-node-ctx');
		this.menu.showAt(e.getXY());
	},

	onContextHide : function(){
		if(this.ctxRow){
			Ext.fly(this.ctxRow).removeClass('x-node-ctx');
			this.ctxRow = null;
		}
	},

	loadFeed : function(params) {
		this.store.baseParams = params;
		this.store.load();
	},

	togglePreview : function(show){
		this.view.showPreview = show;
		this.view.refresh();
	},

	formatDate : function(date) {
		if (!date) {
			return '';
		}
		var now = new Date();
		var d = now.clearTime(true);
		var notime = date.clearTime(true).getTime();
		if (notime == d.getTime()) {
			return 'Today ' + date.dateFormat('g:i a');
		}
		d = d.add('d', -6);
		if (d.getTime() <= notime) {
			return date.dateFormat('D g:i a');
		}
		return date.dateFormat('n/j g:i a');
	},

	formatTitle: function(value, p, record) {
		var entryString = '<div class="topic"><b>' + record.data.title + '</b><br />';
		if (record.data.author && record.data.id != 'NORESULTS') entryString += 'Author/Editor: ' + record.data.author + '<br />';
		if (record.data.author && record.data.id == 'NORESULTS') entryString += record.data.author + '<br />';
		if (record.data.sponsor) entryString += 'Sponsoring Organization: ' + record.data.sponsor + '<br />';
		if (record.data.url) entryString += 'URL: <a href="' + record.data.url + '" target="_blank">' + record.data.url + '</a><br />';
		entryString += 'Active: ' + record.data.active + '<br />';
		entryString += '</div>';
		
		/* Add a quick detection here to see if we are rendering no results and disable the buttons. */
		if (record.data.id == 'NORESULTS') {
			Ext.getCmp('print-results-button').disable();
			Ext.getCmp('export-results-button').disable();
		}
		return entryString;
	}
});


/* CritPanel.js */
CritPanel = function() {
	CritPanel.superclass.constructor.call(this, {
		id:'crit-panel',
		region:'west',
		title:'Search Criteria',
		split:true,
		width: 210,
		minSize: 175,
		maxSize: 400,
		collapsible: true,
		margins:'0 0 0 0',
		cmargins:'0 0 0 0',
		rootVisible:false,
		lines:false,
		autoScroll:true,
		layout: 'accordion',
		items: [ {
			title: 'Search by Keyword',
			id: 'accordion-1',
			html: document.getElementById('search_keyword_prototype').innerHTML,
			autoScroll:true
		},{
			title: 'Browse by ...',
			id: 'accordion-2',
			//html: document.getElementById('search_browse_prototype').innerHTML,
			items: [ 
				{ html: document.getElementById('search_browse_prototype').innerHTML },
				new BrowseGrid() 
			],
			autoScroll:true
		}],

		tbar: [{
			iconCls:'search-icon',
			text:'Perform Search',
			handler: this.performSearch,
			scope: this
		},{
			id:'clear',
			iconCls:'clear-icon',
			text:'Clear Search',
			handler: this.clearSearch,
			scope: this
		}]
	});
	
	this.on('resize', this.resizeColumn, this);

};

Ext.extend(CritPanel, Ext.Panel, {

	resizeColumn : function(obj, w) {
		if (parseInt(w) == NaN) return;
		var bgrid = Ext.getCmp('browse-grid');
		bgrid.resizeColumn(w);
	},
	performSearch : function(btn){
		var sattr = new Object;
		
		sattr.keyword = document.getElementById('bib_keyword').value;
		if (sattr.keyword == searchPrompt) sattr.keyword = '';
		
		Ext.getCmp('main-tabs').loadFeed(sattr);
		Ext.getCmp('print-results-button').enable();
		Ext.getCmp('export-results-button').enable();
	},
	
	clearSearch : function(btn){
		// Clear all selections
		document.getElementById('bib_keyword').value = searchPrompt;
	}

});


/* MainPanel.js */
MainPanel = function(){

	this.grid = new FeedGrid(this, { header: false });

	MainPanel.superclass.constructor.call(this, {
		id:'main-tabs',
		activeTab:0,
		region:'center',
		margins:'0 0 0 0',
		resizeTabs:true,
		tabWidth:150,
		minTabWidth: 120,
		enableTabScroll: true,
		plugins: new Ext.ux.TabCloseMenu(),
		items: {
			id:'main-view',
			layout:'border',
			title:'Search Results',
			hideMode:'offsets',
			items:[this.grid]
		}
	});

	this.gsm = this.grid.getSelectionModel();

/*	this.gsm.on('rowselect', function(sm, index, record){
		FeedViewer.getTemplate().overwrite(this.preview.body, record.data);
		var items = this.preview.topToolbar.items;
		items.get('tab').enable();
		items.get('win').enable();
	}, this, {buffer:250});
*/
//	this.grid.store.on('beforeload', this.preview.clear, this.preview);
//	this.grid.store.on('load', this.gsm.selectFirstRow, this.gsm);
	this.grid.store.on('load', this.updateCount, this);
	this.grid.on('rowclick', this.openTab, this);
};

Ext.extend(MainPanel, Ext.TabPanel, {

	loadFeed : function(attr){
		this.grid.loadFeed(attr);
		this.lastSearch = attr;
		this.lastSearchQS = '';
		for (ind in attr) {
			this.lastSearchQS = this.lastSearchQS + '&' + ind + '=' + escape(Ext.util.Format.htmlEncode(attr[ind]));
		}
		this.grid.store.sort('sort_title', "ASC");

		this.setActiveTab(this.getItem('main-view'));
	},
	
	updateCount: function() {
		var theStore = this.grid.store;
		var newHeader = theStore.getCount() + ' result';
		if (theStore.getCount() != 1) newHeader += 's';
		
		if (this.lastSearch && this.lastSearch.keyword) newHeader += ' for <b style="display: inline">' + this.lastSearch.keyword + '</b>';
		if (theStore.getCount() == 1) {
			if (theStore.getRange()[0].data.id == 'NORESULTS') {
				newHeader = '';
				Ext.getCmp('print-results-button').disable();
				Ext.getCmp('export-results-button').disable();
			}
		}
		var myCM = this.grid.getColumnModel();
		myCM.setColumnHeader(0,newHeader);
	},

	openTab : function(record){
		record = (record && record.data) ? record : this.gsm.getSelected();
		var d = record.data;
		var id = !d.id ? Ext.id() : d.id;
		if (id == 'NORESULTS') return;
		var tab;
		if(!(tab = this.getItem(id))){
			tab = new Ext.Panel({
				id: id,
				title: d.title,
				tabTip: d.title,
				autoLoad: { url: '/bib_details', params: { id: id } },
				closable:true,
				listeners: FeedViewer.LinkInterceptor,
				autoScroll:true,
				border:true,
				bbar: [ new Ext.Button ({
					text: 'Print Details',
					handler: function () {
						var pwin = window.open('/bib_printdiv&div='+tab.id,'','scrollbars=no,menubar=yes,height=400,width=670,resizable=yes,toolbar=no,location=no,status=no');
					}
				}),
					new Ext.Button ({
					text: 'Export Details',
					handler: function () {
						document.location = '/bib_details&id='+id+'&dl=1';
					}
				})]

			});
			this.add(tab);
		}
		this.setActiveTab(tab);
	}
});

/* TabCloseMenu.js */
// Very simple plugin for adding a close context menu to tabs

Ext.ux.TabCloseMenu = function(){
	var tabs, menu, ctxItem;
	this.init = function(tp){
		tabs = tp;
		tabs.on('contextmenu', onContextMenu);
	}

	function onContextMenu(ts, item, e){
		if(!menu){ // create context menu on first right click
			menu = new Ext.menu.Menu([{
				id: tabs.id + '-close',
				text: 'Close Tab',
				handler : function(){
					tabs.remove(ctxItem);
				}
			},{
				id: tabs.id + '-close-others',
				text: 'Close Other Tabs',
				handler : function(){
					tabs.items.each(function(item){
						if(item.closable && item != ctxItem){
							tabs.remove(item);
						}
					});
				}
			}]);
		}
		ctxItem = item;
		var items = menu.items;
		items.get(tabs.id + '-close').setDisabled(!item.closable);
		var disableOthers = true;
		tabs.items.each(function(){
			if(this != item && this.closable){
				disableOthers = false;
				return false;
			}
		});
		items.get(tabs.id + '-close-others').setDisabled(disableOthers);
		menu.showAt(e.getPoint());
	}
};

BrowseGrid = function(viewer, config) {
	this.viewer = viewer;
	Ext.apply(this, config);

	this.store = new Ext.data.Store({
		proxy: new Ext.data.HttpProxy({
			url: '/bib_xml_browse'
		}),

		reader: new Ext.data.XmlReader(
			{record: 'browseable'},
			['name','sorted']
		)
	});
	this.store.setDefaultSort('sorted', "ASC");

	this.columns = [{
		id: 'name',
		header: 'Show results for:',
		menuDisabled: true,
		dataIndex: 'name',
		sortable: false,
		width: 250,
		renderer: this.formatBrowseTitle
	}];

	BrowseGrid.superclass.constructor.call(this, {
		region: 'center',
		id: 'browse-grid',
		header: false,
		height: Ext.isIE7 ? 346 : 348,
		autoSizeColumns: true,
		loadMask: {msg:'Retrieving options...'},
		autoExpandColumn: 'name',
		autoScroll: true,
		deferRowRender: true,
		sm: new Ext.grid.RowSelectionModel({
			singleSelect:true
		}),

		viewConfig: {
			emptyText: 'Select from the browsing options above.',
			forceFit:true,
			enableRowBody:true,
			showPreview:true,
			getRowClass : this.applyRowClass
		}
		
	});
	this.loadFeed({ });
	this.on('rowclick', this.performSearch, this);
};

Ext.extend(BrowseGrid, Ext.grid.GridPanel, {

	resizeColumn : function(w) {
		if (parseInt(w) != w) return;
		if (!this.body) return;
		this.getColumnModel().setColumnWidth(0,w);
		if (this.body.dom && this.body.dom.childNodes[0]) 
			this.body.dom.childNodes[0].style.width = 'auto';
		if (this.body.dom && this.body.dom.childNodes[0].childNodes[0].childNodes[1])
			this.body.dom.childNodes[0].childNodes[0].childNodes[1].style.width = 'auto';
	},
	
	loadFeed : function(params) {
		this.store.baseParams = params;
		this.store.load();
	},
	
	performSearch : function(record) {
		record = (record && record.data) ? record : this.getSelectionModel().getSelected();
		var sattr = new Object;
		sattr['exact'] = '1';
		
		var sel = document.getElementById('browse_select');
		
		sattr[sel.options[sel.selectedIndex].value] = record.data.name;
		Ext.getCmp('main-tabs').loadFeed(sattr);
		Ext.getCmp('print-results-button').enable();
		Ext.getCmp('export-results-button').enable();
		
	},
	
	formatBrowseTitle: function(value, p, record) {
		return Ext.util.Format.htmlEncode(value);
	}


});

function populateBrowseGrid( val ) {
	var browse = Ext.getCmp('browse-grid');
	browse.loadFeed({ type: val });
	
}

function resizeBrowseGrid() {
	var browse = Ext.getCmp('browse-grid');
	if (!browse)
		return;
		
	var holder = Ext.getCmp('accordion-3');
	
	browse.setWidth(holder.getWidth);
}

function checkEnter( e ) {

	var charCode = (e && e.which != undefined) ? e.which : event.keyCode;
	if (charCode == 13) {
		Ext.getCmp('crit-panel').performSearch();
		return false;
	} else {
		return true;
	}
	
}
</script>

<@/if>
