<h1>How to Be Included in the Bibliography</h1>
Although staff members and contributors make every effort to cover all publications pertinent to the bibliography, omissions sometimes occur. To make certain that publications are listed in the bibliography, authors are urged to send offprints of articles and copies of books for citation in subsequent volumes. The MLA receives many of the periodicals on the online <I>Master List of Periodicals</I>. Authors of journal articles can assume that their material will be indexed if the MLA receives the journal; authors should check with the journal editor to find out whether an issue was sent to the MLA. Authors of monographs and articles in book collections (Festschriften, conference proceedings, books of essays, etc.) should ask the publisher to send a copy to the MLA. Authors in doubt about whether their writings are within the scope of the bibliography should refer to the statements on <a href="/bib_scope">subject scope</a> and on <a href="/bib_scope#docscope">document scope</a>. Authors in doubt about whether the MLA has received a journal or a book should send materials according to the following guidelines.

<i>Articles in journals.</i> Send an offprint or a photocopy of the entire article, with the complete date, volume, and number of the journal issue in which the article appeared. Include a photocopy of the title and contents pages of the journal. PDF versions may be e-mailed only if they include all of the above information.

<i>Book collections.</i> Send one copy of the book. A single essay in a collection of essays may be indexed if the following documentation is provided: an offprint or photocopy of the essay; a photocopy of the title, copyright, ISBN, and contents pages of the book; the number of pages (Roman and Arabic, listed separately) in the book. PDF versions may be e-mailed only if they include all of the above information.

<i>Books by a single author.</i> Send one copy of the book. Alternatively, send a photocopy of the title, copyright, ISBN, and contents pages, together with an abstract or a photocopy of the introduction and the number of pages (Roman and Arabic, listed separately) in the book. PDF versions may be e-mailed only if they include all of the above information.

<i>Scholarly Web sites</i>. The <i>MLA International Bibliography</i> includes scholarly Web sites. To be included, they must meet the criteria listed on the <a href="/scholarlywebsites_include">Inclusion of Scholarly Web Sites</a> page.

<i>Inclusion of abstracts</i>. Authors are encouraged to provide abstracts to be included in our bibliographic records when they submit offprints.

The following kinds of writing are generally excluded from the bibliography: fiction, poetry, book reviews, unpublished dissertations, and entries in reference books.

Address materials or questions to

<blockquote> <i>MLA International Bibliography</i>
26 Broadway, 3rd floor
New York, NY 10004-1789
Phone: 646 576-5053
Fax: 646 576-5175

<a href="mailto:bibliography@mla.org">bibliography@mla.org</a></blockquote>
