<h1>Print Format of the <i>MLA Bibliography</i></h1>

Special Notice

In February 2009 the MLA Executive Council decided to discontinue the print edition of the <i>MLA International Bibliography</i> after the 2008 edition is published in September 2009. The decision to discontinue the print edition was not an easy one, and our reasons are economic. Since the introduction of the online database in the mid-1990s, scholars have moved toward searching the <i>Bibliography</i> electronically, and sales of the print volumes have declined each year. To cover printing costs, we would need to increase prices substantially. The online <i>MLA International Bibliography</i> database, however, will continue to be sold to libraries throughout the world.

The 2008 print volumes are still available for purchase, a clothbound version for libraries and a paperbound version for individual purchasers. The library edition consists of two books: the first contains all five classified volumes, along with an index to authors and editors of articles and books; the second contains a list of subject terms that refer to the classified entries.

The five classified volumes are as follows:
<OL>
<LI>Literatures in English. Includes entries on American, Australian, English, English Canadian, English Caribbean, Irish, New Zealand, Scottish, and Welsh literatures. 
<LI>Literatures in Other Languages. Includes entries on African, Asian, European, French Canadian, French Caribbean, and Latin American literatures.
<LI>Linguistics. Includes entries on the history and theory of linguistics, comparative linguistics, language interaction, lexicology, phonetics, pragmatics, psycholinguistics, semantics, stylistics, syntax, translation, and teaching of language.
<LI>General Literature and Related Topics. Includes entries on literary theory and criticism, film, radio, television, theater, manuscripts, printing, publishing, genres, literary forms, literary themes and figures, rhetoric and composition, and teaching of literature.
<LI>Folklore. Includes entries on the history and study of folklore, folk literature, folk music, folk art, folk belief systems, and folk rituals.
</OL>

The contents of each of the five volumes are classified according to a scheme that is appropriate to the study of the area covered. Folklore, for instance, is classified first by topic (e.g., folk literature-folk tale) and then by place (e.g., Nigeria), while the entries in the volumes on literatures are classified first by national literature (e.g., American literature), then by century (e.g., 1800-1899), and next by author (e.g., Melville, Herman), genre (e.g., novel), and title of the work being studied (e.g., <I>Billy Budd</I>).
