<h1><i>MLA International Bibliography</i></h1>
The <i>MLA International Bibliography</i> provides a subject index for books and articles published on modern languages, literatures, folklore, and linguistics. (See <A HREF="bib_scope">Scope of the Bibliography</A>.) It is compiled by the staff of the MLA Office of Bibliographic Information Services with the cooperation of more than 100 contributing bibliographers in the United States and abroad. Available online, the <I>MLA International Bibliography</I> annually indexes over 66,000 books and articles.

<a href="/bib_faq">Frequently Asked Questions</a>

<a href="/bib_inclusion">How to Be Included in the Bibliography</a>

<b>CONTENT</b>

<a href="/bib_scope">Scope of the Bibliography</a>
<a href="/bib_guidelines_elec">Inclusion of Electronic Publications</a>
<a href="/scholarlywebsites_include">Inclusion of Scholarly Web Sites</a>
<a href="/inclusion_of_publish">Inclusion of Publisher-Provided Abstracts</a>
<a href="/bib_bookcollections">Book Collections</a>
<a href="/bib_descriptors">Descriptors and Indexing</a>
<a href="/mla_biblio_add">Retrospective Content in the Bibliography</a>

<b>USING THE BIBLIOGRAPHY</b>

<a href="/bib_electronic">Electronic Format of the Bibliography</a>
<a href="/howtouse_mlabiblio">How to Use the Bibliography</a>
<a href="/doesyourlibrarysubscribe">Does Your Library Subscribe to the Bibliography?</a>
<a href="/bib_google_compare">Why Is Searching the Bibliography Better Than Searching <i>Google</i>?</a>
<a href="/bib_comparison">The Bibliography versus Other Databases</a>
<a href="/full_text_linking">Full-Text Linking</a>
<a href="/bib_jstor_project">JSTOR and the Bibliography</a>
<a href="/bibtutorials"><i>MLA Bibliography</i> Search-Tutorial Videos</a>

<b>INFORMATION FOR LIBRARIES</b>

<a href="/inst_subscriptions">Institutional Subscriptions</a>
<a href="/bib_dist_comparison">Comparison of Distributors</a>
<a href="/discovery_services">Discovery Services</a>

<b><i>MLA DIRECTORY OF PERIODICALS</i></b>

<a href="/bib_periodicals">About the <i>Directory of Periodicals</i></a>
<a href="/dop">Search the Directory</a>

<b>BIBLIOGRAPHERS AND THE MLA STAFF</b>

<a href="/bib_contact">How to Reach the MLA Office of Bibliographic Information Services</a>
<a href="/the_mla_staffnew#bib"><i>MLA International Bibliography</i> Staff</a>
<a href="/bib_bibliographers">MLA Field Bibliographers</a>
<a href="/mla_bibliography_fel"><i>MLA Bibliography</i> Fellowships</a>
