<h1>Sample Searches</h1>
You remember a special section in a 2005 issue of <I>PMLA</i> devoted to Jacques Derrida after his death and would like to read it again.  Your search in CSA Illumina might look like this: 

<img src="/IMAGES/csa_derrida.gif" width=638 height=239 border=0 alt="view result">


You want to find articles on the marriage proposal as a theme in literature.  Your search in CSA Illumina might look like this: 

<img src="/IMAGES/csa_marriage02.gif" width=592 height=81 border=0 alt="view result">


You are writing a research paper on crime novels of the 1930s that have been adapted for movies.  You have focused on <I>The Maltese Falcon</i>, by Dashiell Hammett.  Your search in EBSCO<I>host</i> might look like this:

<img src="/IMAGES/ebsco_hammett.gif" width=646 height=98 border=0 alt="view result">


Your topic is the use of computers in teaching Chinese.  Your search in EBSCO<I>host</i> might look like this:

<img src="/IMAGES/ebsco_teaching.gif" width=651 height=94 border=0 alt="view result"> 


Your topic is the relation of attention deficit disorder to reading disabilities.  You need English-language peer-reviewed articles only.  Your search in Thomson Gale's InfoTrac might look like this:

<img src="/IMAGES/image3.gif" width=533 height=356 border=0 alt="view result"> 


You want to find material on Isabel Allende.  Your search in Thomson Gale's InfoTrac might look like this:

<img src="/IMAGES/image4.gif" width=533 height=353 border=0 alt="view result">


You want to find books on funeral rites in Japan.  Your search in ProQuest's Literature Online might look like this:

<img src="/IMAGES/lion_funeral.gif" width=556 height=560 border=0 alt="view result">


You want to find what the subject of your professor's dissertation was and when she received her degree.   Your search in ProQuest's Literature Online might look like this:

<img src="/IMAGES/lion_professor.gif" width=554 height=563 border=0 alt="view result">


< <a href="/howtouse_mlabiblio">Start</a>
