<style> .tutorials dd {margin-left:1em; text-indent:-1em;} .tutorials dt {margin-top:1em;} </style>
<h1><i>MLA Bibliography</i> Search-Tutorial Videos</h1>

<p>The <i>MLA International Bibliography</i> is pleased to announce the launch of a new video tutorial series on searching the bibliography. New tutorials will be released every few months. If you have a suggestion for a topic that you'd like to see covered in a tutorial, contact <A href="mailto:bibliography@mla.org">bibliography@mla.org</a>.</p>

<p>Please feel free to link to our tutorials, embed them in your syllabus or LibGuides, and share them with anyone who might find them useful.</p>

<p>Currently available:</p>

<dl class="tutorials">
<dd><a href="http://www.youtube.com/watch?v=u5VyRDCp_8w">"What Is the <i>MLA International Bibliography</i>?"</a></dd>
<dd><a href="http://www.youtube.com/watch?v=u-JExIii4Bk&feature=share&list=PLKhlPKGDHqdy1iu93OwFgrXCHPIJWGLED&index=4">"Searching the <i>MLA International Bibliography</i> versus Using the Library's Home Page Search Function"</a></dd>

<dt>[[[comment]]]insert headers in DT tags when ready to organize page[[[endcomment]]]</dt>
<dd><a href="http://www.youtube.com/watch?v=fV4g30BT9BA">"Names as Subjects in the <i>MLA International Bibliography</i> on EBSCO"</a></dd>
<dd><a href="http://www.youtube.com/watch?v=CMZ-HlctyLU">"Names as Subjects in the <i>MLA International Bibliography</i> on ProQuest"</a></dd>

<dt></dt>
<dd><a href="http://www.youtube.com/watch?v=aBtktmiljVg&feature=share&list=PLKhlPKGDHqdy1iu93OwFgrXCHPIJWGLED&index=5">"Keyword Search vs. Subject Search in the <i>MLA International Bibliography</i> on EBSCO"</a></dd>
<dd><a href="http://www.youtube.com/watch?v=QZ5sx-rhhnY&feature=share&list=PLKhlPKGDHqdy1iu93OwFgrXCHPIJWGLED&index=5">"Keyword Search vs. Subject Search in the <i>MLA International Bibliography</i> on ProQuest"</a></dd>
</dl>
