<h1>[[[RESULTS header]]]</h1>

<form action="/FORM_ACTIONS/convforums<@$blog_file_appendix>" method="post" name="form1">
<table border="0" cellpadding="4" cellspacing="0">
	<@if ($arg{function} eq "newtopic")>
		<tr valign="bottom">
			<td align="right">
				Folder:
			</td>
			<td>
				<select name="folder_id">
				<@loop "forums_folders">
					<option value="<@col 1>"<@if ($arg{folder} eq $col[1] || $results{folder_id} eq $col[1])> selected<@else><@/if>><@col 2></option>
				<@/loop>
				</select>
			</td>
		</tr>
		<tr>
			<td align="right">
				<@$blogprefs_topic_term_uc> Title:
			</td>
			<td>
				[[[RESULTS error_topicname]]]<input type="text" name="topicname" value="[[[RESULTS topicname]]]" style="width:350px;"> 
			</td>
		</tr>
		<tr>
			<td align="right">
				Season/Date:
			</td>
			<td>
				<input type="text" name="field_20" value="[[[RESULTS field_20]]]" style="width:350px;"> 
			</td>
		</tr>
	<@else>
		<@if ($results{function} eq "savechanges" && $cookie{realm} > 1)>
			<@if ($results{field_26} eq "Y")>
			<tr>
				<td align="right">
					Edit <@$blogprefs_topic_term_uc> Title:
				</td>
				<td>
					[[[RESULTS error_topicname]]]<input type="text" name="topicname" value="[[[RESULTS topicname]]]" style="width:350px;"> 
				</td>
			</tr>
			<tr>
				<td align="right">
					Season/Date:
				</td>
				<td>
					<input type="text" name="description" value="<@$workingblogtopic[2]>" style="width:350px;"> 
				</td>
			</tr>
			<@else>
				<tr valign="bottom">
					<td align="right">
						Move to different <@$blogprefs_topic_term>:
					</td>
					<td>
						[[[RESULTS error_topic]]]<select name="topic">
						<@loop "list_of_topics">
							<option value="<@col 1>"<@if ($results{topic} eq $col[1])> selected<@else><@/if>><@col 2></option>
						<@/loop>
						</select>
						<input type="hidden" name="topicname" value="[[[RESULTS topicname]]]">
						<input type="hidden" name="description" value="[[[RESULTS description]]]"> 
					</td>
				</tr>
			<@/if>
		<@/if>
	<@/if>
	<@if ($arg{function} ne "newtopic" || $results{function} eq "savechanges")>
		<@if ($results{field_26} ne "Y")>
			<tr>
				<td align="right">
					Subject:
				</td>
				<td>
					[[[RESULTS error_title]]]<input type="text" name="title" value="[[[RESULTS title]]]" style="width:350px;"> 
				</td>
			</tr>
		<@else>
			<tr><td colspan="2"><input type="hidden" name="title" value="[[[RESULTS title]]]"></td></tr>
		<@/if>
	<@/if>
	<tr valign="top">
		<td align="right">
			<@$blogprefs_entry_term_uc>:
		</td>
		<td>
			[[[RESULTS error_entry]]]<textarea name="entry" style="width:350px; height:200px;">[[[RESULTS entry]]]</textarea>
		</td>
	</tr>
	<tr valign="top">
		<td align="right">
			&nbsp;
		</td>
		<td class="s1">
			<input type="checkbox" name="notify" value="Y"<@if ($postarg{notify} ne "Y" && $postarg{todo} eq "edit")><@else> checked<@/if>>
			Notify me when other <@$blogprefs_entry_term>s are posted
		</td>
	</tr>
	<@if ($results{user_status} eq "admin")>
		<@if ($results{field_26} eq "Y" || $arg{function} eq "newtopic")>
		
	<tr valign="top">
		<td align="right">
			&nbsp;
		</td>
		<td class="s1">
			<input type="radio" name="topic_active" value="0"<@if ($workingblogtopic[21] eq "1" || $postarg{topic_active} eq "1")><@else> checked<@/if>>Unapproved
			<input type="radio" name="topic_active" value="1"<@if ($workingblogtopic[21] eq "1" || $postarg{topic_active} eq "1")> checked<@else><@/if>>Approved
			<input type="hidden" name="orig_topic_active" value="<@$workingblogtopic[21]>">
		</td>
	</tr>
		<@/if>
	<@/if>
	<tr valign="top">
		<td>
			&nbsp;
		</td>
		<td>
			<@if ($results{function} eq "savechanges" && $blog_admin_privledge eq "Y")>
				<input type="button" name="sub" value="Save Changes" onClick="checkText('');">
				<input type="button" name="pre" value="Preview" onClick="checkText('blogpreview');">
				<@if ($cookie{realm} > 1)>
					<input type="button" name="del" value="Delete <@$blogprefs_entry_term_uc>" onclick="delete_check('[[[RESULTS blogID]]]','message')" style="background: #ff3333">
				<@/if>
			<@else>
				<input type="button" name="sub" value="Submit" onClick="checkText('');">
				<input type="button" name="pre" value="Preview" onClick="checkText('blogpreview');">
			<@/if>
			<input type="button" name="nada" value="Cancel" onClick="history.back();">
		</td>
	</tr>
</table>
<@if ($arg{function} eq "newtopic" || $results{function} eq "savechanges")>
	<@if ($results{function} eq "savechanges" && $cookie{realm} > 1 && $results{field_26} ne "Y")>
	<@else>
	<input type="hidden" name="topic" value="[[[RESULTS topic]]]">
	<@/if>
<@else>
<input type="hidden" name="topic" value="[[[RESULTS topic]]]">
<@/if>
<@if ($arg{function} ne "newtopic")>
	<input type="hidden" name="folder_id" value="[[[RESULTS folder_id]]]">
<@/if>

<input type="hidden" name="function" value="[[[RESULTS function]]]">
<input type="hidden" name="blog_year" value="[[[RESULTS blog_year]]]">
<input type="hidden" name="blog_month" value="[[[RESULTS blog_month]]]">
<input type="hidden" name="blog_day" value="[[[RESULTS blog_day]]]">
<input type="hidden" name="blog_hour" value="[[[RESULTS blog_hour]]]">
<input type="hidden" name="blog_minute" value="[[[RESULTS blog_minute]]]">
<input type="hidden" name="blog_week" value="[[[RESULTS blog_week]]]">
<input type="hidden" name="blog_local_time" value="[[[RESULTS blog_local_time]]]">
<input type="hidden" name="blogID" value="[[[RESULTS blogID]]]">
<input type="hidden" name="blog_file" value="[[[RESULTS blog_file]]]">
<input type="hidden" name="field_14" value="[[[RESULTS field_14]]]">
<input type="hidden" name="field_15" value="[[[RESULTS field_15]]]">
<input type="hidden" name="field_16" value="[[[RESULTS field_16]]]">
<input type="hidden" name="field_17" value="[[[RESULTS field_17]]]">
<input type="hidden" name="field_18" value="[[[RESULTS field_18]]]">
<input type="hidden" name="field_19" value="[[[RESULTS field_19]]]">
<input type="hidden" name="field_20" value="[[[RESULTS field_20]]]">
<input type="hidden" name="field_21" value="[[[RESULTS field_21]]]">
<input type="hidden" name="field_22" value="[[[RESULTS field_22]]]">
<input type="hidden" name="field_23" value="[[[RESULTS field_23]]]">
<input type="hidden" name="field_24" value="[[[RESULTS field_24]]]">
<input type="hidden" name="field_25" value="[[[RESULTS field_25]]]">
<input type="hidden" name="field_26" value="[[[RESULTS field_26]]]">
<input type="hidden" name="field_27" value="[[[RESULTS field_27]]]">
<input type="hidden" name="blog_status" value="[[[RESULTS blog_status]]]">
<input type="hidden" name="weblog_form" value="blog_form">
<input type="hidden" name="origtopicname" value="[[[RESULTS origtopicname]]]">
<input type="hidden" name="origdescription" value="<@$workingblogtopic[2]>">
<input type="hidden" name="origtopicID" value="[[[RESULTS origtopicID]]]">
<input type="hidden" name="todo" value="">
</form>



<script language="javascript">


function checkText(donext) {
	var badcount = 0;
	var errormsg = "";
	var emsg = "";
	var rettarget;
	

	document.form1.action = '/FORM_ACTIONS/blog';
	document.form1.todo.value = donext;
	
	if (donext == 'blogpreview') {
		document.form1.action = '/FORM_ACTIONS/blog_preview<@$blog_file_appendix>';
		}
		
	<@if ($arg{function} eq "newtopic" || $results{function} eq "savechanges")>
		<@if ($results{function} eq "savechanges")>
			<@if ($cookie{realm} > 1 || $cookie{dsUID} eq $col[26])>
			if (document.form1.topicname.value == '') {
				badcount++;
				errormsg += '\n' + badcount + ': You must enter a title for the <@$blogprefs_topic_term>.';
				rettarget = document.form1.topicname;
				}
			<@/if>
		<@/if>
	<@/if>
	<@if ($arg{function} ne "newtopic" || $results{function} eq "savechanges")>
	if (document.form1.title.value == '') {
		badcount++;
		errormsg += '\n' + badcount + ': You must enter a subject for your <@$blogprefs_entry_term>.';
		rettarget = document.form1.title;
		}
	<@/if>
	if (document.form1.entry.value.length < 1) {
		badcount++;
		errormsg += '\n' + badcount + ': You must enter a <@$blogprefs_entry_term>.';
		rettarget = document.form1.entry;
		}
		
	if (badcount > 0) {
		if (rettarget) {
			rettarget.focus();
			}
		alert(errormsg);
		} else {
		document.form1.submit();
		}
}




function delete_check(ID,property) {

	if (confirm ('Are you sure you want to delete this <@$blogprefs_entry_term>? This action is irreversable!')) {
		document.location = '/blog<@$blog_file_appendix>&plugin=blog&function=delete_entry&ID=' + ID;
		}
}


</script>
