<h1>Desk Copy Requests</h1>
Desk copies of MLA books are available for teachers with a class size of ten or more students. There are two ways to submit a request. By mail, please use school letterhead, stating the name of the course, the approximate enrollment, and your name, complete address, and telephone number; address your request to Lorna Reid at the Modern Language Association, 26 Broadway, 3rd floor, New York, NY 10004-1789. You may also submit your request online using the <a href="/bookrequest_form">desk copy request form</a>.
