<b>Number 120, Fall 1998</b>
<h1>The Stars and Ourselves: An Ordinary Person's Guide to the English Market</h1>
<h2 class="byline">James Papp</h2>
Note: <EM>This article is the result of conversations and correspondence with graduate students, former graduate students, and ADE and ADFL job counselors and of a 1996 survey of ADFL job counselors prepared by Reed Anderson. Comments by counselors are not individually attributed, but I would like to recognize those counselors here: Reed Anderson, Anne Breznau, Barry Chabot, Joseph Chrzanowski, Malcolm Compitello, Richard Emmerson, Jane Frick, Patricia Herminghouse, Melissa Kort, Susan Kress, Claire Martin, Hortensia Morell, Adalaide Morris, Leonard Polakiewicz, Barry Qualls, Margit Resch, Donna Rogers, Dianne Sadoff, Margaret Schramm, Emily Spinelli, Anita Stoll, Anne Warner and Richard Williamson.</em>

Some of the </EM>ADE Bulletin <EM>and </EM>ADFL Bulletin <EM>articles referred to in this article will be accessible at both www.ade.org and www.adfl.org from now until the 1998 convention. After that, they will continue to be available in the respective association's electronic archives. </EM>
In the <EM>ADFL Bulletin </EM>article &quot;Must We Always Be in Crisis?&quot; Herbert Lindenberger writes of taking part in a conference on the job market where a number of graduate students independently summed up their employment prospects with the line &quot;I guess I'll have to go work at Wal-Mart&quot; (8). He interprets this as a community topos for their fears. But the problem with topoi is that, if they are intoned often enough, people begin believing them. The all-or-nothing myth of the market, a tenure-track professorship or a job at Wal-Mart, feeds our superstitious awe of the wheel of fortune--the medieval version, that is, which propels us either to the heights or the depths of society, not the modern American televised wheel that allows us to buy vowels. Yet, mundane as they are, the market equivalents of buying vowels, calling out consonants, and guessing at phrases have more to do with getting a job than imagining scenarios of doom or glory does. Those who manage to get through graduate school are not necessarily the most intellectually brilliant; they are often the ones with chutzpah and endurance. And those who get jobs inside or outside the academy are not necessarily the ones who chose the hot topic before it became hot or who published the dazzling book; they are often the ones who are savvy about the system and methodical about how they work it. 

Twenty-one years ago, David Haberly wrote in the <EM>ADFL Bulletin </EM>of the primary obstacle facing the job candidate: &quot;A good many of our graduate students <EM>are </EM>graduate students, alas, because they hoped to escape from precisely the kind of stressful situation the job interview represents&quot; (24). Graduate students have a much vaster experience of school than of the world outside: the hoops they jump through are the highly structured ones of papers, orals, and abstracts designed to highlight their individual talents. Their graduate school advisers are likely to have an even more distant acquaintance with the world outside the research university. Yet the message coming from many small colleges, two-year colleges, comprehensives, and even some hiring committees of research universities is that job finders, as distinct from job seekers, must 
<UL>
<LI>have been trained to teach what is needed in addition to what they may want to teach 
<LI>be willing to go where they are needed rather than where they may want to stay 
<LI>have researched their job opportunities as thoroughly as they have their scholarship 
<LI>communicate not only their unique strengths but also their appropriateness for unique jobs 
<LI>demonstrate their skills as teachers and their capacity to function effectively as colleagues beyond their ability as scholars 
</UL>

<h2>Graduate School Preparation </h2>
The first three decisions of a graduate student that influence future employment are choice of school, program, and specialization. Some hiring committees judge a candidate on the basis of the ranking of the department where the candidate did graduate study and on the basis of the professional standing of the candidate's dissertation chair, but there are many other considerations in a candidate's ability to find a position, and less well known departments can have a better record than famous ones do of placing their graduate students (Bowen). If departments, following the recommendation of the MLA Committee on Professional Employment, provide graduate applicants with departmental placement data (Gilbert 30), applicants will have a means of judging their future marketability that is more refined than just the department's rank. 

Students need to take care in choosing a program as well as a school. In less traditional interdisciplinary areas, such as comparative literature or African American studies, chairs emphasize that graduate students need special counseling in expanding their qualifications and job search to include more standard fields. 

Several counselors emphasize the need for graduate students to become widely multidisciplinary rather than narrowly interdisciplinary and to explore specializations--such as composition, technical writing, English education, and children's literature--in which undergraduate teaching is expanding but in which competing job seekers have little interest and inadequate training. While the mythology of the market focuses its horror on the period literature positions for which hundreds apply, department chairs are frustrated by searches in some areas that attract only a dozen applicants. 

If it is true that graduate students want to study and teach literature and don't want to study or teach writing or pedagogy or technical areas, to what extent is that preference a result of nurture rather than nature? Students who arrive in graduate school intending to immerse themselves in a favorite author, period, or literary genre need not be prevented from simultaneously broadening their intellectual interests and credentials in technical writing or computer-assisted instruction or from pursuing the fascinating research problems in, for instance, social uses of rhetoric or children's literature and cognitive development in English education. There is nothing dishonorable or uninteresting about helping undergraduates toward the employment that will underwrite their expanded cultural habits. Candidates in a position to help a department sustain and expand its undergraduate base--and to help those undergraduates get jobs--are in a position to get a job themselves. 

A common theme of counselors' advice is that candidates need to have varied and substantive teaching experience in literature and composition and that they should have experience in teaching courses independently, not simply as assistants, to demonstrate ability in course design. Some programs also make a point of rotating their students through a variety of administrative positions, to qualify them as writing program or writing center administrators. Ideally, candidates should have experience in the type of institution they are applying to, particularly if they have never been a student in such an institution. Two-year colleges considering candidates with PhDs are insistent on evidence of experience and commitment. &quot;Two-year colleges aren't looking for the market's rejects; they want to find people who want to teach two-year college students,&quot; writes one counselor. Community college experience as an adjunct or even a tutor is helpful here, especially when one's dossier contains a recommendation on community college stationery. 

Several counselors worry about graduates of foreign doctoral programs, who usually have been provided with no opportunity for teaching experience and no contact with composition pedagogy and who are out of touch with the increased professionalization of the market in America. These counselors strongly discourage undergraduates who wish to teach at American universities from enrolling in a doctoral program abroad, however prestigious it sounds, and advise those already enrolled in such a program to familiarize themselves with standard publications on composition and to try to find some sort of teaching experience--as an adjunct, for instance. 

Graduate students also need to think about the service they perform for their institution. Hires who refuse to co-operate with or to contribute to the life of the department are legend among chairs. One chair reports that &quot;candidates even say things during interviews such as --I don't do service,--&quot; which allows hiring committees to weed them out. An indirect advantage of service is that it develops a candidate's political skills. A number of complaints that the MLA receives from beginning teachers are traceable to confrontations, often public ones, that a politic candidate or hire, more practiced in collegial discussion and consensus building, could have avoided without loss of integrity. 

One political training ground is the conference, particularly the small one, where students make contacts for recommendations, publications, and jobs. Conferences that concentrate on pedagogy rather than on traditional scholarship can also be useful. The weight pedagogical research and textbooks have as publications for hiring or promotion depends on whether the hiring institution and the position are geared toward theoretical work or toward teaching; but such research can at least serve as evidence of the candidate's emphasis on teaching. 

The competition for a neophyte on the market does not consist wholly of other neophytes; a large proportion of candidates have tenure-track or non-tenure-track jobs already, along with papers, articles, or books. Some departments are prejudiced against hiring these more experienced candidates and would prefer someone fresh out of graduate school; other departments prefer experience to promise. Evidence of intellectual curiosity and research activity is desirable in either case. However, many candidates make the mistake of thinking that a book virtually guarantees a tenure-track job. It doesn't. Hiring departments are not simply interested in the most powerful research machine. A letter of application must connect that research activity explicitly with what the candidate can contribute to the department's needs and mission. 

Because candidates are now on the market longer (and follow less traditional trajectories), a real concern is age discrimination. Though one counselor writes that many institutions do not want to give someone tenure who is fifty-five or older, even if the reasons offered may not be age-related, another counselor was able to reveal the news to her counselees that her college had just hired a fifty-one-year-old woman (though with an &quot;outstanding&quot; publication record) for a tenure-track position. This counselor asked candidates &quot;to think about what they could offer a department that a neophyte could not (experience or expertise in particular areas, such as running a writing center, administrative talent)&quot;--and she encouraged them to show energy and enthusiasm during interviews. 

<h2>Vitae and Application Letters </h2>
Preparation for presentation on the job market--the actual writing of the vita--tends to begin in the fall term of the candidate's first year on the market. This is not soon enough. Begun at a much earlier stage, the vita gives students and their advisers a concrete tool to assess strengths and gaps in experience as well as goals and the kind of work and kind of institution that best serve those goals. Departments such as the English department at the University of Michigan, Ann Arbor, have organized sessions where chairs of other kinds of institutions come and talk to graduate students about the market. This experience not only helps graduate students realize that they do not have to replicate graduate school mentors, it also teaches students what different kinds of schools are looking for, which is the first step in tailoring vitae, application letters, and dossiers to communicate the information that those schools want. (A two-year college, for instance, may be public or private, dependent on or independent of a state university, primarily a transfer institution, a vocational school, or engaged in adult education--and need someone familiar with its particular mission.) 

Organized job-search activities involve and educate graduate advisers, not just the job seekers. As Nona Fienberg, from a small state BA- and MA-granting institution, writes, in response to Gordon Hutner's &quot;What We Talk about When We Talk about Hiring&quot;: 
<BLOCKQUOTE>We don't speak of the &quot;most impressive mind,&quot; &quot;a first-rate intellect,&quot; we don't talk about &quot;major coups,&quot; &quot;aggressive appointments,&quot; or even about &quot;rising stars.&quot;[&#8721;] We talk about &quot;a match.&quot; We talk about teaching English composition, about general education required courses, about contributing to our curriculum revision process, about adapting pedagogy to different learning styles, about group work, the writing process, contributing to grant proposals, working to train the best secondary school teachers we can. </BLOCKQUOTE>
<div align="right">(12-13) </div>

Those job seekers who learn to look at hiring from the search committee's point of view give themselves a considerable advantage. Graduate students in some departments serve on hiring committees so they can get a strong objective sense of the process. Maura Ives describes in detail an entire placement class at Texas A&M University, College Station, that during the fall semester follows the job cycle and not only gives students formal training in job seeking but also allows them to build an informal advice-and-support network. The class reading list is substantial (including <EM>ADE Bulletin </EM>111 [1995], devoted to advice on the job search), and Ives emphasizes the resemblance of the job search to a research project. 

Several counselors mention that those they counsel at the MLA convention often have no familiarity with <EM>The MLA Guide to the Job Search </EM>(Showalter et al.), which could have answered many of the candidates' questions and prevented many of their errors. Now that the <EM>ADE Bulletin </EM>and <EM>ADFL Bulletin </EM>archives are on the Web, member departments can access for graduate students articles that deal in detail with vitae, letters, and interviews and that give information about the different hiring institutions and about the duties the hires might be expected to perform. The counseling service that the ADE and ADFL offer at the MLA convention provides an objective perspective away from students' graduate programs, but counselors are frequently appalled when it appears they are providing the <EM>only </EM>academic perspective. One counselor discovered that three of his counselees, who lacked guidance from their own departments, had paid for the services of professional r&eacute;sum&eacute; writers, who of course gave them advice completely inappropriate to the academic market. 

Among the most important messages that ADE or departmental counselors can communicate are realism and the importance of matching for smaller schools. One ADFL counselor reports speaking to students who &quot;seemed to think that it was enough to apply to one job (their "dream job") at a similarly research-oriented institution.&quot; The same counselor points out the problem of &quot;job applicants who presented themselves as specialists in the narrowest of fields, whether that field was related to the description of the position they sought or not. This required redirecting them to their vitae and maximizing their potential by expanding rather than contracting their self-presentation.&quot; 

Both application letters and vitae need tailoring. One counselor describes vitae as often lacking &quot;a discernible foreground and background&quot;: 
<BLOCKQUOTE>[Candidates] provided, that is, a list, not a story. It seemed to help in the counseling session to have them imagine a very busy person receiving their letter, scanning it for key facts (PhD done? area of specialty? employment history? publications? recommenders?) and routing it to a committee or putting it to one side. My father--who (to his children's endless boredom) loved to recount his success in getting a job during the depression--always used to say, &quot;A job is something someone else wants done.&quot; The trick is, then, to discern what it is that a department wants done and write your materials in such a way that the department can see you are ready and eager to do it. </BLOCKQUOTE>

Counselors emphasize clear and consistent presentation in the vita, which may include numbering and bullets. One writes that if &quot;information is left out (gaps in dates), that makes me immediately suspicious. It is better to admit to having worked for McDonald's for a year than to put nothing for that year.&quot; Another counselor encourages students to bring out experience relevant to business-related courses: an undergraduate minor in economics or experience in business that could be applied in the classroom. Another encourages candidates to include their technology skills, such as software knowledge. 

The letter of application seems to be one of the least understood genres of literature among graduate students. As A. Poulin, Jr., wrote in the <EM>ADFL Bulletin </EM>as long ago as 1971, &quot;By the end of December every vita begins to look like the other fifty or one hundred vitae in the files.[&#8721;] Obviously, if the vita is detailed enough (and many aren't), it can be a useful statistical profile of the candidate. However, I suspect the cover letter can have greater impact&quot; (37). Counselors continue to encounter students who assume that a template letter is all that is necessary. One writes: 
<BLOCKQUOTE>These are often letters wherein the applicant does not come across at all as an individual with genuine interests and enthusiasms (whether in scholarship or teaching or in both) but rather as the product of a PhD program and the author of a dissertation. I've encouraged these job seekers to drastically reduce the attention given to the dissertation in the letter of application and concentrate instead on conveying their vision of themselves as future citizens of the profession, given the intellectual, academic, and personal background they can bring to a department and an institution. I often recommend leaving detailed coverage of the dissertation to an abstract that can be attached to the vita. </BLOCKQUOTE>

One counselor advises downplaying the dissertation to a paragraph. Another emphasizes the importance of talking not just about research completed in the past but also about research planned for the next three to five years. Others stress the importance of talking about teaching in detail and with examples. 

Job seekers need to &quot;relate their potential and qualifications to each individual situation&quot; and draft a letter that really responds to it. One chair adds, &quot;I'd rather get an unconventional letter that gives me an idea who the writer is than a Brooks Brothers suit-like letter that is all appearance and has no personality.&quot; Writing tailored letters means that candidates might apply more carefully for fewer positions, but chairs report that only about 50% of applicants normally qualify for the job as advertised. 

Though there is common agreement among chairs that the letter should be from one and a half to two pages long, legend in favor of the one-page letter persists. In &quot;The Job Search: Observations of a Reader of 177 Letters of Application,&quot; Eleanor Green complains that among information left out of one-page letters were small-college background, record of service work, professional experience in writing or editing, teaching certification, interdisciplinary work, and international experience--things that her department was seeking. Candidates often had this background but &quot;tucked it away in their r&eacute;sum&eacute;s while including paragraph after paragraph in their letters about different sections of their dissertation.&quot; 

This observation points to a few lessons. One is that hiring departments expect candidates to make a rhetorical argument for their suitability for a position in a letter, not merely lay out brilliant, even appropriate, qualifications in a vita. Another lesson is that such courting needs to emphasize an understanding of the advertised milieu and a proven ability to work in it. It is not enough to communicate eagerness. 

The third lesson is, unfortunately, that departments often have agendas that are hidden either by design or carelessness and that candidates can address those agendas only by luck, intuition, or deduction or by having several strings to their bow and shooting them all off at once. Despite seeking a candidate with a teaching credential and professional, interdisciplinary, and international experience, Green's department failed to mention this in its <EM>Job Information List </EM>announcement, concentrating instead on the scholarly specialization and the need for a PhD and teaching experience. No wonder candidates wrote to their period strengths. As in an eighteenth-century epistolary novel, everyone ended up writing at cross-purposes. 

If a job is indeed something someone else wants done, candidates must realize what senior people in departments want done. In the vast majority of departments, for at least part of the time, they want composition and survey courses. One chair in English writes, &quot;Teaching experience <EM>and </EM>composition knowledge (course work at graduate level) are required criteria for any tenure-track job ad developed for this English department. Candidates without same won't make the "cut." Their applications will not even be circulated to the search committee members, because they don't meet minimum qualifications.&quot; 

In the current market, everyone knows that candidates chiefly, simply, even desperately, want a job. A department still wants to be convinced that what a candidate wants above all is <EM>its </EM>job. The courtship ritual should begin by the petitioner's learning the name of the object of desire: Green writes that fewer than twenty percent of applicants mentioned her institution's name in the letter, and some who did got the name wrong. (She and other chairs also recite a litany of spelling, grammar, usage, and business-format errors that demand proofing by someone other than the candidate.) One counselor advises candidates to find a balance between calling attention to their strengths and responding to position requirements. In addition, candidates should establish a connection between their strengths and the requirements. Some chairs expect applicants to have looked at the institution's Web site and catalog before writing the letter of application. Candidates, by describing how they might provide an appropriate fit with the campus or a new service for its undergraduates, can give evidence of their dedication to undergraduate teaching. 

Evidence of excellence in teaching can be given in much the same way as evidence of excellence in scholarship--by reference to innovations, applications, problems encountered, and solutions discovered. One chair reports being impressed recently by receiving portfolios in the initial job application that document a job seeker's pedagogical work, including such things as a statement of teaching philosophy and pedagogy, selected syllabi, course descriptions, peer observations, and student evaluations. Another chair suggests the introduction of such a portfolio at a later stage, encouraging the job seeker to bring to the interview not only past syllabi but also proposed syllabi for specific courses at the hiring university. 

<h2>Dossiers and Writing Samples </h2>
Job seekers need to be increasingly careful of the content of their recommendation letters. They should discuss with the letter writer the types of institutions they will be using the letter for and the kinds of accomplishments they feel it would be useful to mention. The criticisms hiring chairs make of letters of recommendation are the same as of application letters: that the recommendations concentrate too much on the dissertation and not enough on teaching and that they are frequently formulaic and lacking in specifics. Most chairs look for the relevance of the letter to the candidate and the position, whether or not the letter is written by a star scholar. Candidates might have a different combination of letters of recommendation for each type of institution they are applying for, whether doctoral, comprehensive, four-year, or two-year. 

Though the academy has a cherished tradition of confidential letters of reference, the prudent candidate will know what each letter says. Many referees are happy to share the content of their letters. At some institutions, a third party, such as a placement coordinator, is able to review it. There are job seekers who arrange for a dossier to be sent to the address of a relative (Bachmann 58). At the bottom of these tactics lies the truth that, though hiring committees desire substantive information in recommendation letters, certain negative or suggestive comments--however well intentioned by the author, to present a &quot;balanced&quot; picture--can remove a candidate from a field of apparently flawless rivals. Address, e-mail, and telephone information for recommenders should be on the vita, since not all departments will be satisfied with dossier letters--another reason to choose recommenders with care. 

If a writing sample is requested, one chair emphasizes, it is not enough to pull the introduction or a chapter from the dissertation: the selection must be reshaped to have its own integrity while alluding to the larger arguments outside it. Nor will any chapter or article do: a sample must be chosen to show theoretical astuteness as well an ability for close reading. 

<h2>Interviews, Job Talks, and Teaching Demonstrations </h2>
Much has been written about MLA convention interviews and campus interviews; what people are reluctant to bring up is the importance of personal appearance and presentation. A recent <EM>Chronicle of Higher Education </EM>article quotes censure of interviewees dressed eccentrically (Schneider). Notably, those in the article who disagree about the necessity of dressing carefully and conservatively while on the market (such as Jane Gallop of the University of Wisconsin, Milwaukee, who searched for a job in velvet jeans) are star scholars at large and diverse institutions and were able to make eccentricity a selling point. 

One chair writes, &quot;The application letter and dossier help qualified candidates obtain interviews; after that, eye contact, professional appearance, and good grooming become <EM>very </EM>important.&quot; This chair goes on to list examples of candidates rejected who were otherwise well qualified: 
<ul>
<li>candidate wore ill-fitting and slovenly, dirty clothes, including a shirt that was untucked throughout the interview day 
<li>candidate's hair covered his eyes most of the time he talked to us 
<li>candidate could not raise her eyes and meet the audience when she made her presentation to the department, and her knees were quaking so much she had to sit down! 
<li>several candidates' voices were so soft that people could not hear what they were saying 
<li>candidate's use of English was nonstandard throughout the interview day 
</ul>

Another counselor points out that graduate advisers are the only ones who can talk to candidates about these matters, and the advisers must do it before candidates come to the MLA convention. It is as necessary to talk to them about personal presentation as about scholarship, teaching, and service. 

The content of interviews, like that of application letters, has changed as chairs expect increasing attention paid to their institution and the people in it. It is consid a sign of interest rather than pushiness in candidates to ask in advance for the names of their convention interviewers and to look up their publications. And thank-you notes are now common practice after convention and campus interviews. 

One chair warns candidates to avoid asking questions--for example, about course reductions in order to do research--that suggest teaching doesn't matter to them. But interviewers as well as candidates can ask inappropriate questions, and in this issue of the <EM>ADE Bulletin </EM>Susan Kress writes about how to respond to these with counter-questions that draw out the interviewer's real concern or return him or her to an appropriate track. Another counselor writes about how a candidate can redirect sensitive questions on which the hiring department might be divided (or disagree with the candidate) at the interviewing team and can find out about the situation in the department while trying to be as diplomatic and flexible as possible. 

Interviewers often don't realize that questions like &quot;How do you feel about running the freshman composition program?&quot; have only two possible responses: &quot;Just fine&quot; or &quot;I don't want this job.&quot; But in the absence of a more generative question like &quot;What skills would you emphasize in a general education program?&quot; or &quot;What issues would you consider in business writing instruction?&quot; an interviewee must simply imagine such a question has been asked and try to answer constructively. And interviewers who hog the conversation should be politely but firmly interrupted with a reference to something in their train of thought that the interviewee can usefully respond to. Making a surprising impression is better than making none. 

The MLA convention should not be considered just a venue for interviews and attending it a stressful ritual in getting a job. The convention gives graduate students the important experience of listening to and participating in the panel sessions that form the cutting edge of scholarship and exchange in the profession, and it allows candidates to take advantage of MLA, ADE, and ADFL services specifically designed for them: the mock interviews, preconvention workshops for job seekers, and individual job counseling in the interview area, as well as such sessions at the 1998 convention as Career Opportunities in the Two-Year College, Working beyond the Academy, and Teaching in Asia. 

However, some candidates and some interviewing committees either choose not to or cannot attend the convention, and then telephone interviews become necessary. The question whether to ask for a telephone interview in lieu of attending the MLA convention causes anxiety among candidates. One chair writes that her institution and institutions like it must equate telephone interviews with MLA interviews and that telephone interviews have resulted in campus interviews. Yet hiring departments commonly assume attendance at the convention as part of the ninety percent of success in life that Woody Allen attributes to just showing up. 

If candidates are interviewed by telephone, they can find good advice in this issue from Anne Breznau of Kellogg Community College. She writes that the telephone interview normally consists of three or four basic questions, such as, &quot;Tell us what qualifies you for this position.&quot; She warns candidates against waxing eloquent--two or three minutes should encompass the maximum response to each question--and she advises that interviewees get across the fact that they have studied the hiring institution's catalog and Web pages and make oblique references to the institution's learning objective or the mission statement. As in other interviews, the candidate should have one or two questions for the committee. Breznau cautions that &quot;asking about salary and benefits at this time might not eliminate a candidate, but it won't make a favorable impression.&quot; Another chair encourages candidates to volunteer information that will &quot;allow the interviewer to form a lively picture of you. You've got to put flesh and skin on that r&eacute;sum&eacute; skeleton!&quot; 

Graduate advisers and job candidates need to remember that a job seeker needs mock practice not only for interviews but also for job talks and teaching demonstrations. Even if the candidate has given conference papers, the conference audience is neither as intimate nor as explicitly judgmental about poise and presence as a hiring committee. The candidate's advisers also need to vet the talk's content. Given that the talk will be presented to nonspecialist faculty members as well as specialists, it should not contain inaccessible or needlessly controversial matter. 

Breznau emphasizes that the teaching demonstration is &quot;the heart of the hiring process&quot; and describes her institution as wanting not lecturers but teachers who can involve students in learning. &quot;One of the best candidates put two quotes on the board and got everyone involved immediately in a heated discussion. The quotes were from Shakespeare and Metallica! An outstanding candidate might ask to do his or her demo on the distance-learning system or in the networked computer lab. Show us what you can create with our technology, and we are yours.&quot; 

<h2>Job Search Strategies inside and outside the Academy </h2>
In &quot;Negotiating a Job Offer,&quot; Philip Smith explores in detail how successful candidates work with the hiring department to arrive at the most appropriate compensation (even though, in today's market, candidates may overlook this duty in the sheer delight of getting a job), and he lists some twenty-five possible benefits to consider. Candidates who do not find themselves negotiating an offer by spring need to think seriously about alternatives, including intensifying the search, retooling skills, or looking outside the academy. 

Though the online <EM>Job Information List </EM>, which begins weekly postings this year, should in time attract more schools that have late budgets and need a fast turnaround time, candidates should still check the <EM>Chronicle of Higher Education </EM>, particularly in the late season and particularly for jobs in small colleges and community colleges. 

Adjunct and temporary positions have increased as a proportion of postsecondary teaching, and their burdens have become famous. Increasingly graduate advisers report that serving in these positions is a stage of one to several years that their students must go through before getting a tenure-track job. While temporary faculty members gain teaching experience, it is difficult for them to keep up with their research. But keeping up is not enough; adjuncts themselves advise that retooling is also necessary: becoming an expert in things that other faculty members are either unable or unwilling to do, like computer-based pedagogy. 

Veteran candidates who accept the economic marginality of temporary employment as an implacable destiny overlook the facts that elementary and secondary school pay, benefits, and security are often comparable to those at postsecondary institutions; that teaching certification adds only a year to their study and can often be got concurrently with a first year of teaching; and that many private K-12 schools do not require certification. Adam Bresnick, with a recent PhD in French, teaches at a private school in New York and describes the benefits as &quot;the opportunity to teach super-smart kids in a congenial atmosphere with colleagues whom I genuinely admire [&#8721;] without the anxiety of tenure looming above me&quot; (286). 

Nobody denies that many excellently prepared and presented candidates do not get jobs in higher education: often it comes down to the luck of the draw in a highly specialized market. It is important for candidates to analyze and optimize their preparation and presentation, but it is also important, counselors emphasize, for candidates not to blame themselves if they fail to find a job in a difficult market and not to become obsessed with trying to find &quot;what they are doing wrong.&quot; Avoiding this obsession is especially important if job seekers turn to nonacademic work, where the attitude of being an unwanted refugee from the academy is not likely to attract an employer. Cynthia Morrill, an English PhD who works as a museum writer in California, points out that &quot;the decline in writing skills that many of us have witnessed in our classrooms is to our distinct advantage. High-level writing and research skills are marketable abilities in many different fields.&quot; Mark Johnson, an English PhD who works for Intuit and who wrote a 1996 <EM>Profession </EM>article, &quot;Professions beyond the Academy,&quot; advised for the preparation of this article: 
<BLOCKQUOTE>Prospective employers hire people who are already fully employed. Sounds paradoxical, but the person who is already fully engaged with life, learning, and exploration is the person who is going to be most valuable. When interviewing, don't whine about how you were unemployed or marginally employed for X years after graduating. (The letters in the latest <EM>MLA Newsletter </EM>[Summer 1998; Correspondence] are classic examples of this.) Even though you might not have had a salaried job for the past four years, you must still impress upon your interviewer the fact that you were, and always will be, fully employed. And that may mean fully employed as an amateur bike racer, world traveler, backyard gardener, connoisseur of Ibsen, or any other passion. The key is to show that you are a person who is 200% occupied with life, and that you will bring that innate passion and curiosity into the workplace. </BLOCKQUOTE>

Johnson recommends that candidates do summer internships for concrete experience to put on r&eacute;sum&eacute;s as well as freelance writing for a general audience to show potential employers the ability to write for a nonacademic public. While some career centers advise covering up the PhD when applying for nonacademic employment, Johnson argues that, with evidence of clear and accessible writing, a candidate can convince a nonacademic employer that &quot;a PhD is not a detriment&quot; but an advantage (see Balhorn et al.). 

The MLA Committee on Professional Employment advises departments to give their doctoral students experience in institutional, administrative, and editorial tasks to prepare them for the possibility of the nonacademic market. One can go further by encouraging those students to seek this experience themselves, because the key to nonacademic employment is the individual initiative that breaks through the comfortable structures of the academy and because networking and contacts are more important in the nonacademic than in the academic job search. Ann Hall, who turned a word-processing job into a speech-writing job and has worked as an education director in theater, describes her attitude as &quot;a firm belief in the English doctorate's transferable nature, an open mind, and a willingness to pay even more dues (this one's particularly difficult after years in grad school).&quot; Lisa DeTora, a medical writer, adds, &quot;Don't shun work you think is "beneath you." Overeducation should be like good breeding, making you get along with everyone rather than alienating people. This, however, is easier said than done, especially if you use words like "hegemonic" while describing the candy machine.&quot; 

It is therapeutic for our profession to bemoan the state of the market, and truly there are unhappy political, social, and management trends to combat. But an individual job is gained on detail work--training, practice, research, presentation, and attitude. There need not, there cannot, always be a crisis: a crisis that continues becomes the norm. The people who succeed in It are those who analyze, understand, and adapt to it. 
<A NAME="citations"> </A>
<h2>Works Cited</h2>
Bachmann, Kurt T. &quot;Planning, Persistence, and Politics: Do's and Don't's from a Job Search in the Physical Sciences.&quot; Boufis and Olsen 51-62. 

Balhorn, Mark, et al. &quot;The Literature PhD as "Successful and Contented" Lead Computer Documentation Writer: A Conversation with Mark Johnson of Intuit, Inc.&quot; <CITE>Issues in Writing </CITE>8.2 (1997): 114-33. 

Boufis, Christina, and Victoria C. Olsen. <CITE>On the Market </CITE>. New York: Riverhead, 1997. 

Bowen, Zack. &quot;Young Blood and Other Gothic Inspirations: The Hiring Process.&quot; <CITE>ADE Bulletin </CITE>85 (1986): 46-49. <A HREF="/ade/bulletin/n085/085046.htm"></A>

Bresnick, Adam. &quot;How I Got to Collegiate.&quot; Boufis and Olsen 275-86. 

Correspondence. <CITE>MLA Newsletter </CITE>30.2 (1998): 15-18. 

Fienberg, Nona. &quot;The Most of It: Hiring at a Nonelite College.&quot; <CITE>ADE Bulletin </CITE>112 (1995): 11-13. <A HREF="/ade/bulletin/n112/112011.htm"></A>

Gilbert, Sandra M. <CITE>Final Report of the MLA Committee on Professional Employment </CITE>. New York: MLA, 1997. 

Green, Eleanor H. &quot;The Job Search: Observations of a Reader of 177 Letters of Application.&quot; <CITE>ADE Bulletin </CITE>113 (1996): 50-52. <A HREF="/ade/bulletin/n113/113050.htm"></A>

Haberly, David T. &quot;Marketing and Matchmaking: How Departments Can Help Students Find Jobs.&quot; <CITE>ADFL Bulletin </CITE>9.1 (1977): 22-26. <A HREF="/adfl/bulletin/v09n1/091022.htm"></A>

Hutner, Gordon. &quot;What We Talk about When We Talk about Hiring.&quot; <CITE>Profession 94 </CITE>. New York: MLA, 1994. 75-78. 

Ives, Maura. &quot;Teaching the Market: Graduate Placement in the Classroom.&quot; <CITE>ADE Bulletin </CITE>119 (1998): 14-18. <A HREF="/ade/bulletin/n119/119014.htm"></A>

Johnson, Mark. &quot;Professions beyond the Academy.&quot; <CITE>Profession 1996 </CITE>.New York: MLA, 1996. 60-68. 

Lindenberger, Herbert. &quot;Must We Always Be in Crisis?&quot; <CITE>ADFL Bulletin </CITE>29.2 (1998): 5-9. <A HREF="/adfl/bulletin/v29n2/292005.htm"></A>

Poulin, A., Jr. &quot;Advice to Candidates for Positions in Small Colleges: A Report to Chairmen.&quot; <CITE>ADEL Bulletin </CITE>3.1 (1971): 36-38. 

Schneider, Alison. &quot;Frumpy or Chic? Tweed or Kente? Sometimes Clothes Make the Professor.&quot; <CITE>Chronicle of Higber Education </CITE>23 Jan. 1998: A12-14. 

Showalter, English, et al. <CITE>The MLA Guide to the job Search </CITE>. New York: MLA, 1996. 

Smith, Philip. &quot;Negotiating a Job Offer.&quot; <CITE>ADE Bulletin </CITE>118 (1997): 33-34. <A HREF="/ade/bulletin/n118/118033.htm"></A>


&copy; 1998 by the Association of Departments of English. All Rights Reserved.
