<b>Number 118, Winter 1997</b>
<h1>A Chair&#039;s Notes toward a Definition of Scholarship in the Small State University</h1>
<h2 class="byline">GEORGE SLANGER </h2>
IN AN ideal world, academic scholarship would not need to be defined or encouraged. It would arise naturally from the intellectual curiosity and energy we all feel when we are at our best. But in the real world, scholarship is encouraged by an elaborate system of rewards and punishments worked out in large universities. Small state universities, where faculty members typically teach four courses or more each semester, face special problems in defining and encouraging appropriate scholarship. Clearly faculty members at those institutions cannot be held to the standards in place (though under attack) at institutions where teaching loads may be three or fewer courses a semester. 

Even twenty years ago, many small state universities did not encourage scholarship. When I came to Minot State University (a college of four thousand students in the upper Great Plains) twenty years ago, the vice president told me cheerfully, &#147;If someone wants to do scholarship, we don&#039;t discourage them.&#148; But things changed. My college, like many, became a university by legislative fiat. One of the outward and visible signs of this metamorphosis was that faculty members were introduced to the great trinity of performance criteria: teaching, research, and service. Teaching was agreed to be more important than the other two, though how much more was not precisely defined, and research was clearly important in a way it had not been before. 

Chairs at such universities faced stern challenges in implementing these new policies. Veteran faculty members who had thought they were doing everything right were suddenly on the defensive. Some changed; some did not. Those who did not accepted the negative consequences with different degrees of grace. It would be too laborious (and too painful) to reconstruct that process at my university, but I think I can usefully describe some of the results. 

One result is our current policy on research, which can be summarized simply: faculty members should find some aspect of their discipline that interests them (a scholarly niche), keep up with the professional dialogue, and occasionally join it by submitting projects to the scrutiny of their disciplinary community. Probationary faculty members who don&#039;t meet these minimum criteria are not tenured. Tenured faculty members who do not meet them are encouraged to do so, reminded ever so gently once in a while that they are not meeting them, and at least slightly disadvantaged on those rare occasions when merit pay is given. 

Chairs should do two things to encourage their faculty members to meet new research expectations. First, they should explain or defend the new research expectations, for themselves and then for the faculty. Second, they should suggest concrete ways faculty members can meet the requirement. 

Chairs at emergent universities may spend many hours in conversation with veteran faculty members who, feeling deeply betrayed, offer poignant analyses of the scholarly enterprise. Most of these analyses fall under one of three heads: (1) twelve-hour teaching loads are a lot of work, and any time given to research will be at the expense of good teaching; (2) the university is anachronistically (or perhaps &#147;stupidly&#148;) bucking the nationwide trend toward deemphasizing research and emphasizing teaching; (3) most scholarship is mediocre and justly goes unread. All these arguments are partly true. They are partly disingenuous and, in this context, self-serving. Trying to meet these arguments head on, trying to separate the half-truths from the truths, is mostly the devil&#039;s work. Some of it has to be done, but it is probably best to keep shifting the rhetorical mode from defense to definition. A careful definition of the kind of scholarship appropriate for a small state university implies a better defense than any a chair can provide directly. 

Chairs can begin as some theologians do in defining God&#151;by defining negatively. The university does not want&#151;any more than faculty members do&#151;research that has been ground out in long, soul-deadening nights of fear and loathing. It does not want research unconnected to any sense of a teacher&#039;s deeper self. It does not want research (if any really exists) that is deliberately and cynically done at the expense of the best teaching a faculty member can do. Then what kind of research does the university want? Roughly in order of increasing importance, I offer these four criteria: research that keeps faith with our training, research that makes a contribution to the field, research that serves as a model for students, and, finally, research that is personally and professionally renewing. 

First, the university wants research that keeps faith with our graduate training. I take it that most faculty members are grateful for that training. I remember riding in a Plexiglass-covered escalator up to my office in Padelford Hall&#151;an office larger and better appointed than any office I have since inhabited&#151;at the University of Washington, looking down (generally through the rain and mist) at Lake Washington and hoping the taxpayers did not find out that some of their tax dollars were being used to pay a raw kid from the Montana mountains a salary (however small) to ride a covered escalator to a handsome office and later to stroll across a beautifully landscaped campus to work in one of the great libraries of the country. Either they consented, or they never found out, and so the state of Washington invested a considerable sum teaching me how to dig information out of a library, how to follow the trail of an idea through the underbrush to emerge at last with the best version of it I could, how to put such an idea in a form that someone else might understand and criticize. I wish these universities had done more to teach my generation how to teach, and I understand that graduate schools do a better job of that now. But I was trained, at state expense, to do scholarship. What did the taxpayers expect me to do with that training? Use it to teach, yes; but a much different and probably cheaper version of my training would have prepared me to do that. But the taxpayers really expected me to do scholarship. What does the state deserve in repayment for my training? Well, perhaps better than they get, but it seems reasonable to give them the best I can. If I cannot repay the debt, I can at least recognize it and, with whatever scholarship I can do, make some payment on the interest. 

Second, the university wants scholarship that makes a contribution. Here I must incline toward mysticism to explain the kind of contribution I mean. I know, or at least I can guess, how few people read even the well-known scholarly journals and how many fewer read the kinds of journals in which a teacher at a small state university might be expected to publish. But those numbers are simply beside the point. I have a metaphor, conceived when I was taking a break from my mediocre scholarship to write a mediocre novel. At the top of a mountain sit brooding Douglas Bush and Northrop Frye and Jacques Derrida and other luminaries, those who have shaped our thinking, our reading, our lives, and our teaching. But in my vision, they sit so high because many scholars with lesser abilities and greater distractions have built the mountain spoonful by spoonful. Great scholarly minds spring forth not, like Athena, from the skull of Zeus but from scholarly enterprises of which we are all a part. This belief is, I confess, partly a matter of faith, though I collect tiny anecdotes that nurture it. For example, one idea Einstein used in developing his theories came from an obscure journal published in Italian. John Crowe Ransom&#039;s father tried for many years, in silence and obscurity, to learn Greek. By the standards of the larger academy, he failed, but I like to think that his energy, his patience, his hope, his diligence, his integrity, which seemed wasted and even pathetic, blossomed in ways he could not have expected in the poems of his son. 

Third&#151;and here even the most resistant faculty members will be inclined to agree&#151;the university wants scholarship that is a model for our students. We have to be careful about sharing our drafts with students, lest they perceive it as bragging, but if we do so seldom and sensitively, students appreciate seeing that the processes we teach are not just abstractions. More important, we put ourselves in a position to be more sympathetic to their struggles. What I ask of students seems easy: make a rough draft, make an outline, analyze the audience, adjust the tone, use the semicolon appropriately, and so on. It seems easy, that is, until I sit down and find myself faced with the same blank page, the same tangled clot of yearnings and confusion that my students confront. I put down a sentence. My mind jumps to another sentence on the same topic, but it is unrelated to the sentence I just put down. I put it in brackets or indent it to indicate its disconnectedness. I use a bewildering array of Greek and Roman letters, Roman and Arabic numbers to indicate parts that might one day cohere. Brackets tangle within brackets, and indentations multiply until I am writing in a narrow column down the right-hand edge of the page. Nothing seems to work; everything seems hopeless. I am awash in self-loathing and despair. The work will never get done. But it must, l have a deadline. Then something like a structure emerges. Mercifully, a numbered outline appears emblazoned like Constantine&#039;s motto in the sky: In this sign I will conquer. I see how bits and pieces of my scrambled mess might fit here and there, though basically I have to start down my numbered list, leaving most of what I have done before to one side, like the overburden set aside in coal mining in favor of what burns. The process is not easy, and it never gets any better. Perhaps in the end, I have something I am willing to send off; perhaps not. Perhaps my work gets accepted by an obscure journal. More likely not. But at least when I give an assignment, when I confront a student draft, when I listen to a student lament, I am in a position to say, &#147;Yes, I know what you mean. Sorry. I wish I could make it easier.&#148; 

Finally, the university wants scholarship that is personally and professionally renewing. And the right kind of research will renew us&#151;in several ways. Some are obvious. We know more about any topic if we have consulted sources and fought through them to some kind of conclusion we are prepared to defend. As the saying goes, we write to learn. It is also obvious that if we get any feedback at all, we learn. At big-league professional conferences, one can expect rigorous grilling, which I suppose is productive. At the lower-key events that scholars from small state universities might attend, the comments are likely to be mild and supportive and suggestive. But I have often found them just what I needed to take the project the next step down the road. 

More subtly, we are renewed in ways the Buddhists talk about&#151;we become more wakeful. When we have an ongoing project, we are put on alert. Things jump out of the newspaper or out of passing conversations because they challenge or confirm the point we are groping toward from week to week. Even our hasty perusal of professional journals becomes more palatable and more productive because we read them with a mind primed to receive information about a research project. Something that would otherwise go unnoticed will stick because we think, &#147;I can use that.&#148; 

And we are renewed in a final way that is both more important and harder to talk about. If I try, the result may sound obscure, or even bizarre, but I will try anyway. We are renewed because no matter how hard we work, what we produce will be a failure. It is precisely that failure that makes us better. I am speaking here generically about the work of any scholar and not just about my own work, where the failures are rather easier to see than they are in the work of, say, Northrop Frye. We are more used to talking about the satisfactions of our work, especially with our students. We all know that there can be moments of genuine exhilaration as we achieve some breakthrough or insight. And we all know that rereading a finished piece can bring a momentary glow as we revel for a moment in the cabalistic power of our work. But if such satisfactions were enough, we would not have to encourage scholarship at all. It would occur spontaneously. I am trying to draw attention to a more subtle satisfaction, to a long perspective in which the work of every scholar or artist&#151;even Northrop Frye&#151;is a failure in the sense that it does not achieve what its author wishes it did. No matter how much praise it gets, perfunctory or elaborate, sincere or flattering, its author knows it does not reach far enough, dig deep enough, master enough of the literature. Everything we do&#151;really do, as opposed to merely think about&#151;is unworthy of its real subject, which is the enterprise of knowledge and, ultimately of art, what Yeats called the supreme theme of art and song. That is, so long as our articles remain unwritten or our concertos remain uncomposed, we can fool ourselves into thinking they could be better than they are or better than those that exist, and so we open ourselves to the temptation of pride. But when our work is done, when it is pinned and wriggling on the wall, then and only then can we say no, that is not what I meant, not what I meant at all. Paradoxically, by pushing ourselves to our limits, we learn how severe those limits are and how wide the world is beyond them. Then we see the world most truly because we see how small our place in it is. Such glimpses of reality can come in other ways, but the enterprise of scholarship guarantees them. Achieving this perspective is one good reason for pursuing scholarship and one way of defining it. 

Having said that much in defense of scholarship, what can we say about method? How, concretely, do faculty members at a small state university who teach four classes a semester get scholarship done and still have, as we say, a life? We begin with the truism that anyone who completes a graduate degree from a reputable institution has the ability to do scholarship appropriate to a small state university. That is what graduate schools teach and certify. 

So it is not a matter of ability. At bottom, it is a matter of intangibles such as discipline and commitment. Let us not look into those abysses but, rather, assume that somehow discipline and commitment exist or can be summoned from the vasty deep. If they can, scholarship is a matter of two simple things: time and deadlines. One of my colleagues, a teacher of German, used to have a brutal reply when people (like me) told him they had no time to study German: &#148;You have the same time as everyone else,&#147; he would say, &#147;twenty-four hours in every day.&#148; He was telling me that I don&#039;t choose to use any of my time to study German and that I should phrase my reasons accurately. We all have time for the things that are important to us. 

How much time does scholarship take? More for some people than others, but most need a block of time&#151;probably at least three consecutive hours&#151;once a week. If we can find that time, it is easy to find smaller blocks during the week to prepare for the major block. Where is that time to come from? It seems clear that there are only three sources: we can use our summers more effectively; we can work more hours each week; or we can become more efficient in our teaching and service work. 

What I have to say about summers could be connected to the much-lamented lack of sabbaticals at many small state universities, including mine. Yes, we should have a sabbatical system, and many of us could have one tomorrow if each of us surrendered one percent or even one-half a percent of our salaries. Shall we propose that plan to our faculty senates? Who would like to go first? But most faculty members have a sabbatical already because they have nine-month contracts. We all know that other people live twelve months on what we make, though we cannot imagine how. Of all feats of human imagination, the most difficult is to imagine ourselves living on less than we do. Most faculty members work during the summer and pass up one of the most obvious opportunities for scholarship. Only twice in my career have I been able to arrange to devote summers to scholarship, and both times were transforming. 

About the second possibility&#151;working more hours each week&#151;there is a little more to say. If we work more hours each week, the extra time may come at the expense of some activities that are valid and enjoyable but that we know perfectly well we could do less of, for example, watching television (even public television) or doing yard work. Or more seriously, it could come at the expense of the family. However, people who marry college teachers know they are not marrying someone with a cushy job as surely as they know they are not marrying someone who is going to become rich. Spouses and even children are generally pretty good about understanding that a batch of papers has to be done or a class prepared&#151;tasks directly related to the paycheck that comes in at the end of the month. Scholarship, which has a more indirect relationship, may cause a rub, but spouses can understand the excitement and satisfaction that scholarly activity can bring, and spouses can read performance criteria. If deadlines and work schedules are respectfully and carefully negotiated, an evening a week or a Saturday morning can be set aside for scholarship. 

The other source of time is simply greater efficiency in service work and teaching. We all know that teaching is a bottomless pit. We must put some sort of floor in it to have any life at all. There is always one more assignment we could give, one more book we could read. But we have some choice about where we put the floor. We have all seen ourselves grow more efficient because of some transitory demand that cut into our preparation time. All we have to do to create efficiency is create such a transitory demand&#151;in other words, a deadline. 

Professional conferences are mostly about deadlines. They are also about money. Most cost anywhere from $700 to $1,000 to attend, and attendees are lucky if the university can pay half of the lower figure. Conferences can be ghastly. At their worst, they have made me think that if there is a hell and professors go there (and that possibility seems likely), it will consist of a windowless conference room full of professors straining to hear over the hiss of the air conditioning a dimensionless paraphrase of a fourth-rate novel the presenter happens to have read recently. But conferences are not always&#151;or even often&#151;at their worst. Furthermore, they are important sources of professional contacts for faculty members at small state universities, who are likely to be geographically as well as professionally isolated. We should work to find ways to help every faculty member attend some kind of conference at least every three years. Those who present papers will receive encouragement and feedback. Those who are fearful about presenting a paper will be encouraged by seeing how easy it is. It is useful to keep going back to the same conference. On the Great Plains, there are two regional conferences for teachers of English (one meets in North Dakota and Manitoba, the other in Nebraska); both are relatively accessible, and both offer a core of genial and supportive colleagues whom it is always a pleasure to see. 

But perhaps most important, the professional conference creates a deadline. Once the abstract of a paper yet to be written has been sent in and once the airline ticket is bought, somehow the paper will get done, just as graduate school papers always somehow got done by the due date. But the same paper that costs the presenter $400 and the university another $400 if it is presented at a conference&#151;for which the presenter must miss at least one class day and often two&#151;can be mailed to a journal for $1.35, plus another $1.35 for the return envelope. What a deal: presenters don&#039;t miss any teaching days, and they save themselves and the university $797.30. They do miss the collegiality, the contacts, the free soda on the airplane, and the night on the town in Cincinnati or Kansas City, but all the other benefits that I have mentioned still accrue. 

The process is fairly simple and well-known. Consult a list of journals. (Libraries have such lists in abundance.) List five addresses. Send the paper to the first one. When it comes back, send it to the next one. Going through the list usually provides the necessary feedback or perspective for rewriting the paper. The next step is to send the rewritten paper to five more markets. The universally agreed-on rule of thumb is not to give up on a piece until it has been rejected by at least ten publications. Most of us have trouble continuing to send out a paper that has been rejected. As with diets, persevering is especially hard if no one knows about the effort. 

But where I teach, I have helped establish what I call a blood-oath club. Each member describes his or her current project and a time line for completing it, specifying completion and send-off dates. That information is circulated to other members of the club, who occasionally inquire how the project is going. Such a group can easily expand to offer more services&#151;editing or even regular meetings&#151;though such steps should be taken one at a time. 

Give a schedule such as the one I have outlined and the motivations I have suggested or better ones, a teacher-scholar in a small state university should be able to have from two to six pieces out on the market at any given time. Every fall&#151;or at most every other fall&#151;he or she should be able to throw something new into the hopper. This is a standard I confess I have not always met myself, but I usually do. It seems to me reasonable. I have colleagues who have met it, year in and year out, for many years and have in the bargain twelve-hour teaching loads, full lives outside their work, a full plate of service activity, high evaluations, and&#151;so far as I can tell&#151;sane and balanced personalities. 

If some faculty members are destined to produce significant, paradigm-shifting scholarship, this process will begin them on that path. Soon enough, some will find ways to increase the time they spend on scholarship and the quality and quantity of what they produce. Soon enough, articles will grow into books. Soon enough, some will be given an opportunity to teach in a research university&#151;if they really want to do so. (Perhaps the world is more just than we sometimes think, at least in academia.) But the point is not for those things to happen. The point is for faculty members to stretch themselves toward their best so that they can say what they have to say and for them to offer their considered views to the world. If they do that, they and their students and their university and their discipline will all be better off. 


<em> The author is Professor of English at Minot State University </em> 


&#169; 1997 by the Association of Departments of English. All Rights Reserved.
