<b>Vol. 30, No. 1, Fall 1998 </b>
<h1>The Stars and Ourselves: An Ordinary Person&#039;s Guide to the Foreign Language Market</h1>
<h2 class="byline">James Papp </h2>
<em>Note: This article updates </em>The MLA Guide to the Job Search <em>through conversations and correspondence with graduate students, former graduate students, and ADFL and ADE job counselors and through a 1996 survey of ADFL job counselors prepared by Reed Anderson. Comments by counselors are not individually attributed, but I would like to recognize those counselors here: Reed Anderson, Anne Breznau, Barry Chabot, Joseph Chrzanowski, Malcolm Compitello, Richard Emmerson, Jane Frick, Patricia Herminghouse, Melissa Kort, Susan Kress, Claire Martin, Hortensia Morell, Adalaide Morris, Leonard Polakiewicz, Barry Qualls, Margit Resch, Donna Rogers, Dianne Sadoff, Margaret Schramm, Emily Spinelli, Anita Stoll, Anne Warner, and Richard Williamson </em>. 

<em>Some of the </em>ADFL Bulletin <em>and </em>ADE Bulletin <em>articles referred to in this article will be accessible at both www.adfl.org and www.ade.org from now until the 1998 convention. After that, they will continue to be available in the respective association&#039;s electronic archives. </em>

In the <em>ADFL Bulletin </em>article &#147;Must We Always Be in Crisis?&#148; Herbert Lindenberger writes of taking part in a conference on the job market where a number of graduate students independently summed up their employment prospects with the line &#147;I guess I&#039;ll have to go work at Wal-Mart&#148; (8). He interprets this as a community topos for their fears. But the problem with topoi is that, if they are intoned often enough, people begin believing them. The all-or-nothing myth of the market, a tenure-track professorship or a job at Wal-Mart, feeds our superstitious awe of the wheel of fortune&#151;the medieval version, that is, which propels us to either the heights or the depths of society, not the modern American televised wheel that allows us to buy vowels. Yet, mundane as they are, the market equivalents of buying vowels, calling out consonants, and guessing at phrases have more to do with getting a job than imagining scenarios of doom or glory does. Those who manage to get through graduate school are not necessarily the most intellectually brilliant; they are often the ones with chutzpah and endurance. And those who get jobs inside or outside the academy are not necessarily the ones who chose the hot topic before it became hot or published the dazzling book; they are often the ones who are savvy about the system and methodical about how they work it. 

Twenty-one years ago, David Haberly wrote in the <em>ADFL Bulletin </em>of the primary obstacle facing the job candidate: &#147;A good many of our graduate-students <em>are </em>graduate students, alas, because they hoped to escape from precisely the kind of stressful situation the job interview represents&#148; (24). Many graduate students have a taste for solitary research and little practice of collaboration. They have a much vaster experience of school than of the world outside: the hoops they jump through are the highly structured ones of the papers, orals, and abstracts designed to highlight their individual talents. Their graduate school advisers are likely to have an even more distant acquaintance with the world outside institutions classified research I by the Carnegie Foundation for the Advancement of Teaching, where most graduate programs are located. Yet the message coming from small colleges, two-year colleges, comprehensives, and even some hiring committees of the RIs is that job finders, as distinct from job seekers, must 
<ul type="DISC">
<li>have been trained to teach what is needed in addition to what they may want to teach </li>
<li>be willing to go where they are needed rather than where they may want to stay </li>
<li>have researched their job opportunities as thoroughly as they have their scholarship </li>
<li>communicate not only their unique strengths but also their appropriateness for unique jobs </li>
<li>demonstrate their skills as teachers and their compatibility as colleagues beyond their ability as scholars </li>
</ul>

The first three decisions of a graduate student that influence future employment are choice of graduate school, program, and specialization. One chair from a comprehensive is blunt about school choice: Do not bother to go to less than an established, well-known PhD program. However, some less well known programs put a special effort into job placement and can claim to place all their students. &#147;I must confess to preferring frightened, self-conscious workaholics from lesser schools whose need to prove themselves borders on monomania,&#148; Zack Bowen writes. If departments, following the recommendation of the MLA Committee on Professional Employment, provide graduate applicants with departmental placement data (Gilbert 30), applicants will have a means of judging their future marketability that is more refined than just the department&#039;s rank. 

Several counselors emphasize the need for graduate students to become widely multidisciplinary rather than narrowly interdisciplinary. Some are cautious about the program or specialization choice of students who, when they finish their PhDs, cannot be placed in standard areas. The counselors see problems for those in comparative literature, for instance, suggesting that candidates need preparation in making themselves attractive for jobs in more commonly taught areas or languages. One counselor has helped those in Yiddish market themselves more generally in Germanic studies (though angst-ridden Germanists may see this as a frying-pan-to-fire leap). Others can teach in the humanities sequence. One counselor writes, &#147;More jobs are for a well-rounded person who can teach in language, culture, civilization, literature, film, languages for the professions, and so on.&#148; 

Department chairs express frustration at searches that attract only a dozen applicants, in areas such as translation studies and heritage language instruction. Chairs have also mentioned target-language fluency of candidates as a problem (Baker). A faculty member recently on a hiring committee in German said that twenty-five percent of those who made it to the interview stage had difficulty conversing in the language. 

If it is true that graduate students want to study and teach literature and don&#039;t want to study or teach basic language or pedagogy or technical areas, to what extent is that preference a result of nurture rather than nature? Even students in graduate school because they wish to read great books need not be prevented from simultaneously broadening their credentials in language for the professions or the use of technology in instruction or from developing the research skills that will allow them to pursue the fascinating research problems of applied linguistics and social and professional contexts of language. Candidates in a position to help a department sustain and expand its undergraduate base&#151;and to help those undergraduates get jobs&#151;are in a position to get jobs themselves. 

A common theme of counselors is that candidates need to have varied and substantive teaching experience in literature, culture, and language instruction and that they should have experience in teaching courses independently, not simply as assistants, to demonstrate ability in course design. In the spring 1996 <em>ADFL Bulletin </em>, devoted to graduate education and undergraduate teaching, different authors identify prevailing gaps in teacher training: basic language instruction (Daniel), heritage language (Kossuth), culture (Berman), introductory civilization, advanced grammar and composition, and literary survey (Shumway). Some programs also make a point of rotating their students through a variety of administrative positions. Ideally, candidates should have experience in the type of institution they are applying to, particularly if they have never been a student in such an institution. Two-year colleges considering candidates with PhDs are insistent on evidence of experience and commitment. &#147;Two-year colleges aren&#039;t looking for the market&#039;s rejects, &#148; according to one counselor; &#147;they want to find people who want to teach two-year college students,&#148; writes one counselor. Community college experience as an adjunct or even a tutor is helpful here, especially when one&#039;s dossier contains a recommendation on community college stationery. 

Graduate students also need to think about the service they perform for their institution. Hires who refuse to cooperate with or to contribute to the life of the department are legend among chairs. One chair reports that &#147;candidates even say things during interviews such as &#145;I don&#039;t do service,&#146;&#148; which allows hiring committees to weed them out, but which also suggests that such attitudes are still encouraged in graduate schools. An indirect advantage of service is that it develops a candidate&#039;s political skills. A number of complaints that the MLA receives from beginning teachers are traceable to confrontations, often public ones, that a more astute candidate or hire, with an eye toward consensus and cooperation, could have avoided. 

One political training ground is the small conference, where students make contacts for recommendations, publications, and jobs (Friedman provides a primer in &#147;The Captive Audience&#148;). Participation in ACTFL and regional conferences in particular can give job candidates evidence of breadth in applied areas. The weight pedagogical research and textbooks have as publications for hiring or promotion depends on whether the hiring institution and the position are geared toward theoretical work or toward teaching; but such research can at least serve as the evidence of the candidate&#039;s emphasis on teaching. 

In general the research bar for new candidates is being raised beyond the conference to refereed journal articles. The competition for a neophyte on the market does not consist wholly of other neophytes; a large proportion of candidates have tenure-track or non-tenure-track jobs already, along with papers, articles, or books. Some departments are prejudiced against hiring these more experienced candidates and would prefer someone fresh out of graduate school; other departments prefer experience to promise. In either case, evidence of research activity is necessary. However, many candidates make the mistake of thinking that a book virtually guarantees a tenure-track job. It doesn&#039;t. Hiring departments are not simply interested in the most powerful research machine. A letter of application must connect that research activity explicitly with what the candidate can contribute to the department&#039;s needs and mission. 

Because candidates are now on the market longer (and follow less traditional trajectories), a real concern is age discrimination. Though one counselor writes that many institutions do not want to give someone tenure who is fifty-five or older, even if the reasons offered may not be age-related (&#147;high school teaching orientation&#148; or &#147;degree for personal development&#148;), another counselor was able to reveal the encouraging news to her counselees that her college had just hired a fifty-one-year-old woman (though with an &#147;outstanding&#148; publication record) for a tenure-track position. This counselor asked candidates &#147;to think about what they could offer a department that a neophyte could not (experience or expertise in particular areas, such as running a writing center, administrative talent)&#148;&#151;and she encouraged them to show energy and enthusiasm during interviews. 

Discrimination is a concern in other areas. White men worry about not being hired when there are women and minorities competing for the job. Yet adjuncts are predominately women and the tenure track still disproportionately male, and minorities in the profession continue to be so small a presence as to make little difference in hiring patterns. (One chair expressed surprise at the several minority candidates she counseled who provided no clues to their background in their initial application package, at a time when departments are anxious to diversify their faculties.) 

Preparation for presentation on the job market&#151;the actual writing of the vita&#151;tends to begin in the fall term of the candidate&#039;s first year on the market. This is not soon enough. Begun at a much earlier stage, the vita gives students and their advisers a concrete tool to assess strengths and gaps in experience as well as goals and the kind of work and kind of institution that best serve those goals. Some graduate departments have organized sessions where chairs of different kinds of institutions come and talk to graduate students about the market and their institution&#039;s needs. This experience not only helps graduate students realize that they do not have to re-create in themselves their graduate school professors, it also teaches students what various schools are looking for, which is the first step in tailoring vitae, application letters, and dossiers to communicate the information that those schools want. For example, a two-year college may be public or private, dependent on or independent of a state university, primarily a transfer institution, a vocational school, or engaged in adult education&#151;and need someone familiar with its particular mission. 

Organized job-search activities involve and educate graduate advisers, not just the job seekers. As Nona Fienberg, from a small state BA- and MA-granting institution, writes in response to Gordon Hutner&#039;s &#147;What We Talk about When We Talk about Hiring&#148;: 
<blockquote>We don&#039;t speak of the &#147;most impressive mind,&#148; &#147;a first-rate intellect,&#148; we don&#039;t talk about &#147;major coups,&#148; &#147;aggressive appointments,&#148; or even about &#147;rising stars.&#148; [&#133;] We talk about &#147;a match.&#148; We talk about teaching English composition, about general education required courses, about contributing to our curriculum revision process, about adapting pedagogy to different learning styles, about group work, the writing process, contributing to grant proposals, working to train the best secondary school teachers we can. (12&#173;13) </blockquote>

The discussion will be much the same among members of foreign language hiring committees, with the addition of attention to the candidate&#039;s language proficiency, willingness to teach lower-level language courses, and&#151;increasingly&#151;awareness of the need to incorporate language instruction at every level of literature and culture study. 

Graduate students in some departments serve on hiring committees so they can get a strong objective sense of the hiring process. Maura Ives describes in detail an entire placement class at Texas A&#038;M University, College Station, that during the fall semester follows the job cycle and not only gives students formal training in job seeking but also allows them to build an informal advice-and-support network. The class reading list is substantial (including <em>ADE Bulletin </em>111 [1995], devoted to advice on the job search), and Ives emphasizes the resemblance of the job search to a research project. 

Counselors mention that those they counsel at the MLA convention often have no familiarity with <em>The MLA Guide to the Job Search </em>(Showalter et al.), which could have answered many of the candidates&#039; questions and prevented many of their fatal errors. Now that the <em>ADFL Bulletin </em>and <em>ADE Bulletin </em>archives are on the Web, graduate students in member departments can access, through their department chair, articles that deal in detail with vitae, letters, and interviews and that give information about the different hiring institutions and about the duties the hires might be expected to perform. Our counselors provide an objective perspective away from students&#039; graduate programs, but they are frequently appalled to find that they are providing the <em>only </em>academic perspective. One counselor discovered that three of his counselees, in lieu of any attention from their own departments, had paid for the services of professional r&#233;sum&#233; writers, who of course gave them advice completely inappropriate to the academic market. 

Among the most important messages that the counselors are able to communicate are realism and the importance of matching for smaller schools. One reports that her counselees &#147;from research-oriented universities seemed to think that it was enough to apply to one job (their &#039;dream job&#039;) at a similarly research-oriented institution.&#148; The same counselor points out the problem of &#147;job applicants who presented themselves as specialists in the narrowest of fields, whether that field was related to the description of the position they sought or not. This required redirecting them to their vitae and maximizing their potential by expanding rather than contracting their self-presentation.&#148; 

Both application letters and vitae need tailoring. One counselor describes vitae as often lacking 
<blockquote>a discernible foreground and background. They provided, that is, a list, not a story. It seemed to help in the counseling session to have them imagine a very busy person receiving their letter, scanning it for key facts (PhD done? area of specialty? employment history? publications? recommenders?) and routing it to a committee or putting it to one side. My father&#151;who (to his children&#039;s endless boredom) loved to recount his success in getting a job during the depression&#151;always used to say, &#147;A job is something someone else wants done.&#148; The trick is, then, to discern what it is that a department wants done and write your materials in such a way that the department can see you are ready and eager to do it. </blockquote>

Counselors emphasize clear and consistent presentation in the vita, which may include numbering and bullets. One writes that if &#147;information is left out (gaps in dates), that makes me immediately suspicious. It is better to admit to having worked for McDonald&#039;s for a year than to put nothing for that year.&#148; One counselor encourages students to bring out experience relevant to business-related courses: an undergraduate minor in economics or experience in business that could be applied in the classroom. Another encourages candidates to include their technology skills, such as software knowledge. In the October 1997 foreign language edition of the <em>Job Information List </em>, a record twenty percent of advertisements mentioned that knowledge of technology would be useful. 

The letter of application seems to be one of the least understood genres of literature among graduate students. As A. Poulin, Jr., wrote in the <em>ADFL Bulletin </em>as long ago as 1971, &#147;By the end of December every vita begins to look like the other fifty or one hundred vitae in the files. [&#133;] Obviously, if the vita is detailed enough (and many aren&#039;t), it can be a useful statistical profile of the candidate. However, I suspect the cover letter can have greater impact&#148; (37). Counselors continue to encounter students who assume that a template letter is all that is necessary. One writes: 
<blockquote>These are often letters wherein the applicant does not come across at all as an individual with genuine interests and enthusiasms (whether in scholarship or teaching or in both) but rather as the product of a PhD program and the author of a dissertation. I&#039;ve encouraged these job seekers to drastically reduce the attention given to the dissertation in the letter of application and concentrate instead on conveying their vision of themselves as future citizens of the profession, given the intellectual, academic, and personal background they can bring to a department and an institution. I often recommend leaving detailed coverage of the dissertation to an abstract that can be attached to the vita. </blockquote>

One counselor advises downplaying the dissertation to a paragraph. Another emphasizes the importance of talking not just about research completed in the past but also about research planned for the next three to five years. Others stress the importance of talking about teaching in detail and with examples. 

Job seekers need to &#147;relate their potential and qualifications to each individual situation&#148; and draft a letter that really responds to it. As one chair puts it, &#147;I&#039;d rather get an unconventional letter that gives me an idea who the writer is than a Brooks Brothers suit-like letter that is all appearance and has no personality.&#148; Writing tailored letters means that candidates might apply more carefully for fewer positions, but chairs report that only about fifty percent of applicants normally qualify for the job advertised anyway. 

Though there is widespread agreement among chairs that the letter should be from one and a half to two pages long, legend in favor of the one-page letter persists. In &#147;The Job Search: Observations of a Reader of 177 Letters of Application,&#148; Eleanor Green complains that among information left out of one-page letters were the small-college background, record of service work, professional experience in writing or editing, teaching certification, interdisciplinary work, and international experience&#151;things that her department was seeking. (Experience abroad will be of particular interest to foreign language departments.) Candidates often had this background but &#147;tucked it away in their r&#233;sum&#233;s while including paragraph after paragraph in their letters about different sections of their dissertation&#148; (51). 

This observation points to a few lessons. One is that hiring departments expect candidates to make a rhetorical argument for their suitability for a position in a letter, not merely lay out brilliant, even appropriate, qualifications in a vita. Another lesson is that such courting needs to emphasize not only a willingness but also an understanding of the advertised milieu and a proven ability to work in it. It is not enough to communicate eagerness. 

The third lesson is, unfortunately, that departments often have agendas that are hidden either by design or carelessness and that candidates address those agendas only by luck, intuition, or deduction or by having several strings to their bow and shooting them all off at once. Despite seeking a candidate with a teaching credential and professional, interdisciplinary, and international experience, Green&#039;s department failed to mention this in its advertisement, concentrating instead on the scholarly specialization and the need for a PhD and teaching experience. No wonder candidates wrote to their period strengths. As in an eighteenth-century epistolary novel, everyone ended up writing at cross-purposes. 

If a job is indeed something someone else wants done, candidates must realize what senior people in departments want done. In the vast majority of departments, for at least part of the time, they want basic language&#151;including special-purpose courses&#151;and breadth. One chair writes, &#147;The graduate programs are still emphasizing literature, but the existing positions are for the teaching of culture and business-related courses.&#148; 

In the current market, everyone knows that candidates chiefly, simply, even desperately, want a job. A department still wants to be convinced that what a candidate wants above all is <em>its </em>job. The courtship ritual should begin by the petitioner&#039;s learning the name of the object of desire: Green writes that fewer than twenty percent of applicants mentioned her institution in the letter, and some who did got the name wrong. (She and other chairs also recite a litany of spelling, grammar, usage, and business-format errors that demand proofing by someone other than the candidate.) One counselor advises candidates to find a balance between calling attention to their strengths and responding to position requirements. In addition, candidates should establish a connection between their strengths and the requirements. Chairs expect applicants to have looked at the institution&#039;s Web site and catalog before writing the first letter. Candidates, by describing how they might provide an appropriate fit with the campus or a new service for its undergraduates, can give evidence of their dedication to undergraduate teaching. 

Evidence of excellence in teaching can be given in much the same way as evidence of excellence in scholarship&#151;by reference to innovations, applications, problems encountered, and solutions discovered. As one chair writes, &#147;Every person has taught in some form: in church, on the playground, with siblings, as a tutor.&#148; Another chair writes of being impressed recently by receiving portfolios in the initial job application that document a job seeker&#039;s pedagogical work, including such things as a statement of teaching philosophy and pedagogy, selected syllabi, course descriptions, peer observations, and student evaluations. (Pennylyn Dykstra-Pruim goes into detail about different kinds of portfolios in the spring 1998 <em>ADFL Bulletin </em>.) Another chair suggests that the job seeker bring to the interview not only past syllabi but also proposed syllabi for specific courses at the hiring university. 

Job seekers need to be increasingly careful of the content of their recommendation letters. They should discuss with the letter writer the types of institutions they will be using the letter for and the kinds of accomplishments they feel it would be useful to mention. The criticisms hiring chairs make of letters of recommendation are the same as of application letters: that the recommendations concentrate too much on the dissertation and not enough on teaching and that they are frequently formulaic and lacking in specifics. Most chairs look for the relevance of the letter to the candidate and the position, whether or not the letter is written by a star scholar. Candidates should have a different combination of letters of recommendation for each type of institution they are applying for, whether doctoral, comprehensive, four-year, or two-year. 

Though the academy has a cherished tradition of confidential letters of reference, the prudent candidate will know what each letter says. Many referees are happy to share the content of their letters. At some institutions, a third party, such as a placement coordinator, is able to review it. There are job seekers who advise arranging for a dossier to be sent to the address of a relative (Bachmann 58). At the bottom of these tactics lies the truth that in a reference letter even the slightest negative or suggestive comment&#151;however well intentioned, to present a &#147;balanced&#148; picture&#151;can remove a candidate from a field of apparently flawless rivals. Address, e-mail, and telephone information for recommenders should be on the vita, since not all departments will be satisfied with dossier letters&#151;another reason to choose recommenders with care. 

If a writing sample is requested, one chair emphasizes, it is not enough to pull the introduction or a chapter from the dissertation: the selection must be reshaped to have its own integrity while alluding to the larger arguments outside it. 

Much has been written about MLA convention interviews and campus interviews; what people are reluctant to bring up is the importance of personal appearance and presentation. A recent <em>Chronicle of Higher Education </em>article quotes censure of interviewees dressed eccentrically (Schneider). Significantly, those in the article who disagree about the necessity of dressing conservatively while on the market (such as Jane Gallop of the University of Wisconsin, Milwaukee, who searched for a job in velvet jeans) are star scholars at large and diverse institutions and were able to make eccentricity a selling point. 

One chair writes, &#147;The application letter and dossier help qualified candidates obtain interviews; after that, eye contact, professional appearance, and good grooming become <em>very </em>important.&#148; This chair goes on to list examples of candidates rejected who were otherwise well qualified: 
<ul type="none">
<li>candidate wore ill-fitting and slovenly, dirty clothes, including a shirt that was untucked throughout the interview day </li>
<li>candidate&#039;s hair covered his eyes most of the time he talked to us </li>
<li>candidate could not raise her eyes and meet the audience when she made her presentation to the department, and her knees were quaking so much she had to sit down! </li>
<li>several candidates&#039; voices were so soft that people could not hear what they were saying </li>
</ul>

Another counselor points out that graduate advisers are the only ones who can talk to candidates about these matters, and the advisers must do it before candidates come to the MLA convention. It is as necessary to talk to them about personal presentation as about scholarship, teaching, and service. 

The content of interviews, like that of application letters, has changed as chairs expect increasing attention paid to their institution and the people in it. It is not considered pushy of candidates to ask in advance for the names of their convention interviewers and to look up their publications: it is now a sine qua non. (And thankyou notes are now common practice after convention and campus interviews.) 

One chair warns candidates to avoid asking questions&#151;for example, about course reductions&#151;that suggest teaching doesn&#039;t matter to them. But interviewers as well as candidates can ask inappropriate questions, and in the fall 1998 issue of the <em>ADE Bulletin </em>Susan Kress writes about how to respond to these with counterquestions that draw out the interviewer&#039;s real concern or return him or her to an appropriate track. Another counselor writes about how a candidate can redirect sensitive questions on which the hiring department might be divided (or disagree with the candidate) at the interviewing team and can find out about the situation in the department while trying to be as diplomatic and flexible as possible. 

Interviewers often don&#039;t realize that questions like &#147;How do you feel about running the general education language program?&#148; have only two possible responses: &#147;Just fine&#148; or &#147;I don&#039;t want this job.&#148; But in the absence of a more generative question like &#147;What skills would you emphasize in a general education program?&#148; or &#147;What issues would you consider in business language instruction?&#148; an interviewee must simply imagine such a question has been asked and try to answer constructively. And interviewers who hog the conversation should be politely but firmly interrupted with a reference to something in their train of thought that the interviewee can usefully respond to. To make a surprising impression is better than making none. 

The MLA convention should not be considered just a venue for interviews and attending it a stressful ritual in getting a job. The convention gives graduate students the important experience of listening to and participating in the panel sessions that form the cutting edge of scholarship and exchange in the profession, and it allows candidates to take advantage of MLA, ADFL, and ADE services specifically designed for them: the mock interviews, pre-convention workshops for job seekers, and individual job counseling in the interview area, as well as such sessions at the 1998 convention as Career Opportunities in the Two-Year College, Working beyond the Academy, and Teaching in Asia. 

However, some candidates and some interviewing committees either choose not to or cannot attend the convention, and then telephone interviews become necessary. The question whether to ask for a telephone interview in lieu of attending the MLA convention causes anxiety among candidates. One chair writes that her institution and institutions like it must equate telephone interviews with MLA interviews and that telephone interviews have resulted in campus interviews. Yet attendance at the convention is assumed by many to be part of the ninety percent of success in life that Woody Allen attributes to just showing up. 

If they do interview by telephone, candidates can find good advice from Anne Breznau of Kellogg Community College: 
<blockquote>Normally, there are only three or four questions, usually very basic ones (e.g., &#147;What qualifies you for this position?&#148;). Candidates should view the telephone interview not as a chance to wax eloquent but as a time to say little and to avoid big mistakes. [&#133;] The candidate should demonstrate that he or she has studied KCC&#039;s catalog and Web pages. Usually candidates do so obliquely by referencing a learning objective or the mission statement when answering a question. Long-windedness in the phone interview is the death of a candidate. [&#133;] Two or three minutes for each answer is plenty, especially if candidates have questions of their own. Committees like candidates to ask one or two questions, especially questions related to the catalog or the Web site. Asking about salary and benefits at this time might not eliminate a candidate, but it won&#039;t make a favorable impression. (22&#173;23) </blockquote>

Another chair encourages candidates to volunteer information that will &#147;allow the interviewer to form a lively picture of you. You&#039;ve got to put flesh and skin on that r&#233;sum&#233; skeleton!&#148; As in face-to-face interviews, candidates for foreign language jobs will likely be asked for some evidence of their mastery of the target language, but it is unlikely that the whole interview will be conducted in a language other than English. 

Graduate advisers and job candidates need to remember that a job seeker needs mock practice not only for interviews but also for job talks and teaching demonstrations. Even if the candidate has given conference papers, the conference audience is neither as intimate nor as explicitly judgmental about poise and presence as a hiring committee. The candidate&#039;s advisers also need to vet the talk&#039;s content. Given that the talk will be presented to nonspecialist faculty members as well as specialists, it should not contain inaccessible or needlessly controversial matter. 

Breznau describes the teaching demonstration as &#147;the heart of the hiring process&#148;: 
<blockquote>We are not looking for great lecturers; we want teachers who can draw students into the learning process. The worst candidate we ever had read a long essay that he had written. [&#133;] One of the best candidates put two quotes on the board and got everyone involved immediately in a heated discussion. The quotes were from Shakespeare and Metallica! An outstanding candidate might ask to do his or her demo on the distance-learning system or in the networked computer lab. Show us what you can create with our technology, and we are yours. (23) </blockquote>

In &#147;Negotiating a Job Offer,&#148; Philip Smith explores in detail how successful candidates work with the hiring department to arrive at the most appropriate compensation (even though, in today&#039;s market, candidates may overlook this duty in the sheer delight of getting a job), and he lists some twenty-five possible benefits to consider. Candidates who do not find themselves negotiating an offer by spring need to think seriously about alternatives, including intensifying the search, retooling skills, or looking outside the academy. 

Though the online <em>Job Information List </em>, which begins weekly postings this year, should attract more schools that have late budgets and need a fast turnaround time, candidates should still check the <em>Chronicle of Higher Education </em>, particularly in the late season and particularly for jobs in small colleges and community colleges. 

Adjunct and temporary positions have increased as a proportion of postsecondary teaching, and their burdens have become famous. Increasingly graduate advisers report that serving in these positions is a stage of one to several years that their students must go through before getting a tenure-track job. While temporary faculty members gain teaching experience, it is difficult for them to keep up with their research. But keeping up is not enough; adjuncts themselves advise that retooling is also necessary: becoming an expert in things that other faculty members are either unable or unwilling to do, like computer-based pedagogy. 

Veteran candidates who accept the economic marginality of temporary employment as an implacable destiny overlook the facts that K-12 pay, benefits, and security are often comparable to those at postsecondary institutions; that teaching certification adds only a year to their study and can often be got concurrently with a first year of teaching; and that many private schools do not require certification. Adam Bresnick, with a recent PhD in French, teaches at a private school in New York and describes the benefits as &#147;the opportunity to teach super-smart kids in a congenial atmosphere with colleagues whom I genuinely admire [&#133;] without the anxiety of tenure looming above me&#148; (286). In addition, professorships in such areas as language education often require teaching experience. 

Nobody denies that many excellently prepared and presented candidates do not get jobs in higher education: often it comes down to the luck of the draw in a highly specialized market. It is important for candidates to analyze and optimize their preparation and presentation, but it is also important, counselors emphasize, for candidates not to blame themselves if they fail to find a job in a difficult market and not to become obsessed with trying to find &#147;what they are doing wrong.&#148; Avoiding this obsession is especially important if job seekers turn to nonacademic work, where the attitude of being an unwanted refugee from the academy is not likely to attract an employer. Mark Johnson, an English PhD who works for Intuit and who wrote a 1996 <em>Profession </em>article, &#147;Professions beyond the Academy,&#148; advised for the preparation of this article: 
<blockquote>Prospective employers hire people who are already fully employed. Sounds paradoxical, but the person who is already fully engaged with life, learning, and exploration is the person who is going to be most valuable. When interviewing, don&#039;t whine about how you were unemployed or marginally employed for X years after graduating. (The letters in the latest <em>MLA Newsletter </em>[Summer 1998] are classic examples of this.) Even though you might not have had a salaried job for the past four years, you must still impress upon your interviewer the fact that you were, and always will be, fully employed. And that may mean fully employed as an amateur bike racer, world traveler, backyard gardener, connoisseur of Ibsen, or any other passion. The key is to show that you are a person who is 200% occupied with life, and that you will bring that innate passion and curiosity into the workplace. </blockquote>

Johnson recommends that candidates do summer internships for concrete experience to put on r&#233;sum&#233;s as well as freelance writing for a general audience to show potential employers the ability to write for a nonacademic public. While some career centers advise covering up the PhD when applying for nonacademic employment, Johnson argues that, with evidence of clear and accessible writing, a candidate can convince a nonacademic employer that &#147;a PhD is not a detriment&#148; but an advantage (see Balhorn et al.). Other employers do not need to be convinced: the State Department regularly recruits at the MLA convention. 

The MLA Committee on Professional Employment advises departments to give their doctoral students experience in institutional, administrative, and editorial tasks to prepare them for the possibility of the nonacademic market. One can go further by encouraging those students to seek this experience themselves, because the key to nonacademic employment is the individual initiative that breaks through the comfortable structures of the academy and because networking and contacts are more important in the nonacademic than in the academic job search. Ann Hall, who turned a word-processing job into a speech-writing job and has worked as an education director in theater, describes her attitude as &#147;a firm belief in the [&#133;] doctorate&#039;s transferable nature, an open mind, and a willingness to pay even more dues (this one&#039;s particularly difficult after years in grad school).&#148; 

It is therapeutic for our profession to bemoan the state of the market, and truly there are unhappy political, social, and management trends to combat. But an individual job is gained on detail work&#151;training, practice, research, presentation, and attitude. There need not, there cannot, always be a crisis: a crisis that continues becomes the norm. The people who succeed in it are those who analyze, understand, and adapt to it. 


<em>The author is Assistant Director of ADE and English Programs at the Modern Language Association </em> . 
<a name="citations"> </a>
<h2>Works Cited</h2>
Bachmann, Kurt T. &#147;Planning, Persistence, and Politics: Do&#039;s and Don&#039;t&#039;s from a Job Search in the Physical Sciences.&#148; Boufis and Olsen 51&#173;62. 

Baker, Robert L. &#147;The PhD in Slavic Languages and Literatures: Does the Product Fit the Market?&#148; <cite>ADFL Bulletin </cite>12.2 (1980): 40&#173;43. 

Balhorn, Mark, et al. &#147;The Literature PhD as Successful&#151;and Contented-Lead Computer Documentation Writer: A Conversation with Mark Johnson of Intuit, Inc.&#148; <cite>Issues in Writing </cite>8.2 (1997): 114&#173;33. 

Berman, Russell A. &#147;Reform and Continuity: Graduate Education toward a Foreign Cultural Literacy.&#148; <cite>ADFL Bulletin </cite>27.3 (1996): 40&#173;46. 

Boufis, Christina, and Victoria C. Olsen. <cite>On the Market </cite>. New York: Riverhead, 1997. 

Bowen, Zack. &#147;Young Blood and Other Gothic Inspirations: The Hiring Process.&#148; <cite>ADE Bulletin </cite>85 (1986): 46&#173;49. 

Bresnick, Adam. &#147;How I Got to Collegiate.&#148; Boufis and Olsen 275&#173;86. 

Breznau, Anne. &#147;Operationalized Democracy: Teaching English at the Community College.&#148; <cite>ADE Bulletin </cite>120 (1998): 21&#173;23. 

Carnegie Foundation for the Advancement of Teaching. <cite>A Classification of Institutions of Higher Education: 1994 Edition </cite>. Fwd. Ernest L. Boyer. San Francisco: Jossey-Bass, 1994. 27 Feb. 1998. &#060;http://www.carnegiefoundation.org/cihe&#062;. 

Correspondence. <em>MLA Newsletter </em>30.2 (1998): 15&#173;18. 

Daniel, Yanick V. &#147;Foreign Language Instruction at Two-Year Institutions.&#148; <cite>ADFL Bulletin </cite>27.3 (1996): 11&#173;12. 

Dykstra-Pruim, Pennylyn. &#147;Our Ethical Commitments to the Graduate Students We Train: A Modest and a Not-So-Modest Proposal.&#148; <cite>ADFL Bulletin </cite>29.3 (1998): 34&#173;38. 

Fienberg, Nona. &#147;The Most of It: Hiring at a Nonelite College.&#148; <cite>ADE Bulletin </cite>112 (1995): 11&#173;13. 

Friedman, Edward. &#147;The Captive Audience; or, Liberating Thoughts on Conference Papers.&#148; <cite>ADFL Bulletin </cite>27.3 (1996): 17&#173;19. 

Gilbert, Sandra M. &#147;Final Report of the MLA Committee on Professional Employment.&#148; New York: MLA, 1997. 

Green, Eleanor H. &#147;The Job Search: Observations of a Reader of 177 Letters of Application.&#148; <cite>ADE Bulletin </cite>113 (1996): 50&#173;52. 

Haberly, David T. &#147;Marketing and Matchmaking: How Departments Can Help Students Find Jobs.&#148; <cite>ADFL Bulletin </cite>9.1 (1977): 22&#173;26. 

Hutner, Gordon. &#147;What We Talk about When We Talk about Hiring.&#148; <cite>Profession 94 </cite>. New York: MLA, 1994. 75&#173;78. 

Johnson, Mark. &#147;Professions beyond the Academy.&#148; <cite>Profession 1996 </cite>. New York: MLA, 1996. 60&#173;68. 

Kossuth, Karen C. &#147;Foreign Language PhDs: Making the Candidate Fit the Market.&#148; <cite>ADFL Bulletin </cite>27.3 (1996): 47&#173;48. 

Kress, Susan. &#147;The Inappropriate Question.&#148; <cite>ADE Bulletin </cite>120 (1998): 36&#173;38. 

Lindenberger, Herbert. &#147;Must We Always Be in Crisis>?&#148; <cite>ADFL Bulletin </cite>29.2 (1998): 5&#173;9. 

Poulin, A., Jr. &#147;Advice to Candidates for Positions in Small Colleges: A Report to Chairmen.&#148; <cite>ADFL Bulletin </cite>3.1 (1971): 36&#173;38. 

Schneider, Alison. &#147;Frumpy or Chic? Tweed or Kente? Sometimes Clothes Make the Professor.&#148; <cite>Chronicle of Higher Education </cite>23 Jan. 1998: A12&#173;14. 

Showalter, English, et al. <cite>The MLA Guide to the Job Search </cite>. New York: MLA, 1996. 

Shumway, Nicolas. &#147;What Our Mothers Might Have Told Us about Upper-Division Instruction.&#148; <cite>ADFL Bulletin </cite>27.3 (1996): 15&#173;16. </a>

Smith, Philip. &#147;Negotiating a Job Offer.&#148; <cite>ADE Bulletin </cite>118 (1997): 33&#173;34. 


&#169; 1998 by the Association of Departments of Foreign Languages. All Rights Reserved.
