<b>Vol. 31, No. 1, Fall 1999 </b>
<h1>Opportunities for PhDs in the Community Colleges</h1>
<h2 class="byline">F&Eacute; BRITTAIN</h2>
</I>TEACHING at a community college is different from university undergraduate teaching even though the stated student outcomes may be the same. PhD candidates who are considering teaching at a two-year institution should be aware of some of the differences. The following observations made by colleagues who have had full-time teaching experience in both universities and community colleges demonstrate significant similarities and distinctions.

Similarities between teaching university undergraduate foreign language classes and teaching foreign language classes at a two-year institution include:
<ul>
<li> We are all working in an academic setting, teaching college students.
<li> Similar materials for the freshman and sophomore levels (often the same textbooks) are used.
<li> Stated goals, objectives, and student outcomes are basically the same.</ul>

Some of the basic differences include:
<ul>
<li> The research and publication required by universities are conducted at the discretion of an individual instructor at the community college. (They are not required, nor are they rewarded, at the community college.)
<li> Community colleges do not all offer tenure. The instructors are on an annual contract.
<li> There is more emphasis on classroom teaching at the community college.
<li> There is a heavier teaching load at the community college. (The average teaching load at community colleges is fourteen to fifteen hours a week, with two to four preparations. At the university eight to twelve hours a week is the average, with one or two preparations.)
<li> The pay is lower at community college, and no amount of publishing, in and of itself, will raise one's salary. (There is a fixed salary scale based on graduate hours earned from MA to PhD combined with one's years of service.)
<li> There is less bureaucracy, and new courses can be more easily introduced at the community college level if there is a demonstrated need.</ul>

Many PhDs are not prepared in the areas of teaching methodologies and assessment procedures needed at the community college level. Their strengths and specialities lie in literary studies and research. Not being able to share their expertise can be frustrating. A colleague points out that there is more variety in the levels of classes that one may teach at the community college. And one has more freedom in how one teaches these classes. Even though the same texts may be used across a college district, methodologies and approaches to teaching the material are flexible.

The greatest difference of all, however, is found in the student body. University freshmen and sophomores are pretty uniform--in educational background (right out of high school), age (eighteen to twenty), and outlook (four-year, full-time students). The average age of community college students is twenty-seven or twenty-eight, but it ranges from sixteen to seventy-five.

By a large, large number, more minority students enroll in community colleges before going on to the university than enter the university directly as freshmen. Many women returning to school after spending years away from any academic endeavor prefer to enroll in the community college. In many cases, their lives have consisted of raising children, frequently as single parents with dead-end minimum-wage jobs and a level of self-confidence that is so low it is underground. They would not last a day in a classroom of poised, self-assertive university freshmen, even if they could afford the tuition. I enjoy watching John Rassias's demonstration film of teaching a French class of freshmen at Dartmouth. His rapid-fire questions in the target language challenge the self-confident, well-prepared students. They are caught up in his exuberance and respond in kind. However, if he tried that approach in one of my beginning classes at the community college, my insecure older women and my minority students, also frequently woefully lacking in self-confidence, would fade away and never return to another class meeting. That is why approaches to teaching are so flexible at a community college. It is also why community colleges offer some very basic nontransferable classes, which PhDs may be asked to teach. We have, for example, a nontransferable Spanish conversation class for students who have never studied Spanish. This class allows the students to develop the confidence to compete in a fast-moving, intense first-semester college class with students who already have had a year or two of high school Spanish. The same is true with basic writing, math, and reading courses. One colleague mentions that the expectations are lower for community college students than for university students. I believe his is a personal reflection not substantiated by research. The studies of transfer students to the University of Arizona from Pima Community College, for example, show a high level of success by these students in university programs. Perhaps a kinder, gentler approach at the beginning is required, perhaps more individual help and encouragement are needed, but the end result is often worth that extra effort.

The point being, if one really loves to teach, the community college can provide a most rewarding experience. All of us with advanced degrees would enjoy the luxury of teaching a course on the works of Borges, Cervantes, Allende, or any one of our favorite authors, but at the undergraduate levels we must teach the basics, with as much culture as possible squeezed into the limited time allotted for all the basic course material that must be covered each semester. One must be flexible enough to accommodate each and every student and to recognize and respond to different learning styles, backgrounds, and experiences that students bring with them to college. We have a commitment to the community, which is to prepare each student to live up to his or her potential.

Full-time positions are not plentiful at community colleges, but the growth of community colleges is greater than that of universities, which means more positions are opening up. There is, however, an insidious movement across the country to increase the hiring of adjunct faculty members rather than to replace full-time instructors with full-time teachers. This is an attempt to save money, of course. Part-time instructors are cheaper than full-time teachers. They receive minimum wage and no benefits. A firm stand against this practice by members of all professional organizations, including the MLA, is essential if this kind of destructive direction is to be deterred. Well-articulated language programs will never be realized in K-16 without dedicated full-time teachers at all levels.

Suggestions for preparing and applying for community college teaching positions:
<ul>
<li> Visit local community colleges and meet department chairs. Ask for their advice and for introductions to teachers amenable to having observers in their classrooms. Visit their classes.
<li> Take courses in second language acquisition and in assessment and methodology to prepare yourself for teaching, not just for lecturing.
<li> Find out what is required to teach at the community college you are applying to. Certification requirements differ.
<li> Apply as an adjunct faculty member. Experience a few semesters in the actual classroom to see if you like teaching in this setting.
<li> If you decide to apply for a full-time position, do not do so with the thought that it will do until a "real" job at the university comes along! Such a strategy is not fair to you, to your students, or to the institution. You should make a full commitment to the community college.</ul>


<em>The author is Instructor of Foreign Languages at Pima County Community College, East Campus, Arizona. This article is based on her presentation at the 1998 MLA convention in San Francisco, California.</em>


&#169; 1999 by the Association of Departments of Foreign Languages. All Rights Reserved.
