<b>Vol. 27, No. 3, Spring 1996</b>
<h1>Preparing for Undergraduate Teaching: Competence, Collaboration, and Commitment</h1>
<h2 class="byline">Patricia S. Dickson </h2>
MANY new PhDs in foreign languages will find employment in small and medium-sized colleges and universities, academic communities that are very different from the research universities where they have done their graduate studies and perhaps got some experience as teaching assistants. While each campus is unique, most undergraduate institutions share an emphasis on teaching, a need for cooperative effort, and an expectation of service in various forms. 

Given these considerations, what qualifications should an ideal candidate for an undergraduate teaching position have? How should graduate programs be revised to prepare future professors better for both the teaching and service aspects of academic life in an undergraduate institution? 

I believe that the desired qualifications fall into three categories: competence, collaboration, and commitment. The first of these <em>cs </em>, competence, includes linguistic, cultural, and pedagogical skills. Whether new PhDs entering undergraduate education are teaching their native language or a language they have spent years learning, they will need linguistic competence in both English and the target language to anticipate students&#039; problems and to explain clearly how the languages differ. 

The same can be said about cultural competence. Both native-speaker and American PhDs need direct experience with the culture they are teaching about and the one they are living in so that they can help American students learn more about their own culture as they discover the similarities and differences of the foreign culture. Cultural and linguistic competence often results from time spent living in both cultures. When hiring new foreign language faculty members at Ohio Northern University, a small, private undergraduate university, we prefer candidates who have significant experience in the arget cultures. 

At the undergraduate level, pedagogical competence includes a wide range of knowledge and skills. The ideal candidate needs to understand the practical aspects of teaching: how to set up a syllabus, how to evaluate oral and written work, and how to grade fairly. More important, the undergraduate teacher must have a broad enough background to be able to teach all levels of a language as well as advanced courses in culture, literature, and media. And he or she must be willing to expand that background by delving into new areas such as business languages, by learning new material, and by developing new courses to meet departmental needs. The ideal candidate will know how to select appropriate texts and teaching materials and how to design and implement creative, interesting teaching techniques for all levels of language course. Of increasing importance is knowledge about language-teaching technology such as video-based language instruction, computer programs, and the Internet. 

The second <em>c</em>, collaboration, refers to the ability to cooperate effectively with others: students, departmental colleagues, peers in other departments, and people from the local community. Collaboration in the classroom requires that the instructor be able to empathize with students and accept them as they are, yet maintain an authoritative approach to classroom learning. Reluctant and apprehensive nonmajors in beginning language classes must be encouraged and supported. Interested and able intermediate students must be enticed to continue into advanced courses. Learning will be difficult for the students if the new undergraduate teacher does not understand their affective needs. 

Undergraduate teaching in a foreign language department also often means working closely with a small group of colleagues. The smaller the group, the greater the importance of collaborative effort and the greater the potential for conflicts. In a department of only five or six colleagues each person&#039;s opinion carries weight; one dissenter can effectively block action on any question. 

Undergraduate teaching often provides opportunities for collaboration with colleagues in other department on interdisciplinary courses, grants, and other projects. A member of our department who specializes in French Canadian literature team teaches a Canadian studies course in the history and political science department. New faculty members need to understand the importance of interdisciplinary cooperation in extending awareness of foreign languages and their influence on all fields in an internationalized society. At Ohio Northern the colleges of business administration and engineering have begun promoting international internships and study abroad for their students, more of whom are combining languages with their professional programs. The college of business administration&#039;s new degree in international business and economics, requiring at least two years of college-level foreign language study, has in its first year already attracted more than thirty majors. 

College faculty members must also collaborate with area high school teachers on such matters as supervising student teachers, forming academic alliances and organizing workshops for teachers, and creating foreign language events for secondary school students. In the past ten years, our department has sponsored two foreign language days for high school students; organized an academic alliance group for secondary and college language teachers; offered two five-day workshops, one in French and one in German; and held a variety of one-day workshops about once a year. Previous public school teaching experience ensure an empathy for secondary school faculty members and can therefore be a plus for a candidate applying to our department. 

The third <em>c </em>, commitment, refers to a continuing dedication to serving one&#039;s institution in the ways it values most. At Ohio Northern, commitment to creative, effective teaching is the primary responsibility. New faculty members are often surprised by the number and variety of different courses they are expected to handle. During his first year our professor of German and Russian had to finish his dissertation while teaching elementary, intermediate, and advanced German courses as well as elementary and intermediate Russian. 

Second in importance is commitment to serving the department in program-building activities such as recruiting new majors, organizing and leading study-abroad programs, advising majors on graduate study or jobs, publicizing department achievements or events, and generally helping promote the programs. One means of publicizing our department is our newsletter, the <em>Foreign Exchange </em>, a four- to six-page biannual publication that includes articles in English and in other languages by faculty members and students. It is sent to high school foreign language teachers in Ohio and to our alumni. 

Third is commitment to serving the institution through committee work, grant writing, making conference presentations, and publication of articles or books. Although there now seems to be slightly greater emphasis on the last three, service at Ohio Northern traditionally has also included things as diverse as videotaping sports events, attending official social function, and volunteering in projects such as Habitat for Humanity. 

Finally, there is commitment to serving the community by attending local events and speaking at community organizations and in area schools to promote language study. Faculty members at Ohio Northern are encouraged to list their names and the topics they can speak on with the speakers&#039; bureau, which provides this information to local clubs. Each year the local community and the university collaborate on the town and gown banquet, at which new faculty members are introduced. 

If we want our graduate students to become ideal candidates for undergraduate language teaching positions, with linguistic, cultural, and pedagogical competence, good interpersonal skills, and a commitment first to effective teaching and then to serving the institution (not only through research and publication), then how should we change our graduate programs to prepare students? 

It is obvious that the development of excellent language skills requires constant use of the second language both formally in course work and informally with other graduate students. Most graduate language programs include American students and native speakers, who will often socialize using the target language. But graduate language departments could give students even more opportunities to use their second language by developing community contacts. Evergreen State College in Washington designed an outreach program to offer ESL instruction to Hispanics in the area, providing teaching experience for their MA candidates (Bennett-Cumming). 

Even if there are few native speakers of the second language in the local community, technology now makes it possible to communicate directly with an authentic second-language group. One interesting example is a project linking Korean language classes at the University of California, Los Angeles, and Seoul National University. Through a computer-based audiographic system that uses two standard telephone lines, the California students can hear lectures in Korean and converse with Korean students (Hansel). 

Interaction between American and native speakers also fosters cultural competence. All future undergraduate language instructors could profit from a course in intercultural communication emphasizing cross-cultural sensitivity. This training would help them deal with the diversity of students in the classroom, allow them to incorporate cultural sensitivity into their language and culture courses, and prepare them for taking students abroad. 

Undergraduate language programs now place much emphasis on study abroad; most of our majors study abroad for at least a month or two. Graduate education for language instructors should also include a significant period of foreign study, internship, or other type of cultural immersion. These future professors will gain not only language skills but also the confidence and experience to lead their own students on foreign excursions. Bowling Green State University in Ohio sends all their master&#039;s candidates in both French and Spanish to France or Spain for the first year of graduate study, strengthening both language skills and acculturation. 

The professional has for some time been concerned with developing the pedagogical competence of graduate teaching assistants. Ren&#233;e Waldinger describes a course entitled Teaching French in College in which PhD candidates study theories of language teaching, devise techniques for teaching language and literature, and serve under supervision as TAs. Milton Azevedo points out that in many large universities teaching assistants &#147;may be the main contact that students have with the department&#148; and may receive little supervision or training. He cites a report showing that &#147;only 50% of the departments that use TAs provide training, and only 25% offer campuswide programs&#148; (24). He advocates the development of a training program including preservice orientation, a methods course, class observations, practice teaching, the videotaping of classes, and the pairing of the new TAs with experienced ones. Susan Rava, a methods teacher and supervisor of graduate assistants at Washington University, recommends a mentoring system that goes beyond a basic methods course and supervised teaching. Rava advocates that graduate assistants who have already had experience in elementary and intermediate language courses be paired for one semester with a faculty mentor teaching an advanced course. This individual mentoring system focuses on goal-setting and planning, classroom presentation, lecturing and discussion, and evaluation. All these authors present viable ideas for improving the teaching skills of graduate assistants, skills that will benefit the graduate institutions where they teach as much as the undergraduate institutions where they may teach later. 

Such mentoring arrangements could also be a first step toward building the necessary collaborative skills, which graduate education, with its competition and its rewards for individual achievement, does not promote. In a report on faculty collaboration, Ann E. Austin and Roger G. Baldwin recommend that graduate schools &#147;develop strategies to socialize students to collaboration&#148; and contend that &#147;students should learn about the collaborative process, gain an appreciation for it, and have opportunities to practice it as a formal part of their educational program&#148; (89). Graduate students could learn how to collaborate with one another on projects or papers and how to work as a team with their professors on research, writing, or instruction. Graduate students need to learn that collaboration is part of scholarship. In an essay written for the Joint Center for Political and Economic Studies, Lisle C.  Carter, Jr., states 
<blockquote>It is important for students to understand&#133;that in the end the advancement of knowledge is a collaborative enterprise in which scholars not only often work together, but must always, in some measure, build on the work of others to make their own contributions. (33) </blockquote>

Institutions, too, need to remember that, as Ernest L. Boyer writes in <em>Scholarship Reconsidered </em>, &#147;education is a seamless web&#148; (67). From grade school to graduate school, each level builds on the preceding one. Articulation is necessary not only between schools and colleges but also between undergraduate and graduate institutions. Universities and colleges might begin collaborating, for example, by simply inviting visits from colleagues or students at nearby institutions. Faculty members from BA institutions might be invited to participate with graduate students in seminars on undergraduate teaching. Colleges might invite graduate students to spend a day following the routine of an undergraduate faculty member in imitation of the job shadowing practiced by some secondary schools. 

But future undergraduate language instructors will require a more integrated educational immersion to understand the aspects of commitment to the institution and community as well as of academic leadership in a college environment. As James F. Slevin contends, &#147;If teaching is slighted in graduate preparation, the ideal of professional service and leadership is ignored outright&#148; (9). Until fairly recently, graduate students had no way of knowing about the many demands that service to the college will make on their time or about how to judge the relative importance of each demand. Samuel Schuman, chancellor of the University of North Carolina, Asheville, points out that small colleges are not only different from large universities but also different from one another. He recommends that a new faculty member approach a college &#147;as an anthropologist studies a self-contained culture&#148; and seek to understand its customs (34). 

Most language teachers as well as most anthropologists would probably agree that the best way to study a culture and learn its customs is to spend a period of time immersed in it. This immersion in the totality of undergraduate academic life is one of the objectives of some recent collaborative programs between graduate schools and liberal arts colleges. In 1989 John Chandler, president emeritus of the Association of American Colleges, received funding from the Fund for the Improvement of Postsecondary Education for an innovative three-year project, Preparing Graduate Students for the Professional Responsibilities of College Teachers. This pilot project paired research universities with liberal arts colleges. Duke University was paired with Guilford College, Brown University with Connecticut College, and the University of Chicago with Knox College. The participating disciplines were English, history, philosophy, religion, and psychology. Graduate students from the universities participated in teaching seminars and spent time in the liberal arts colleges working with faculty mentors. This exchange provided graduate students supervised practice in teaching undergraduates and gave them a more complete sense of what faculty members&#039; work includes (Slevin 6&#173;8). 

Preparing Future Faculty, a new national collaborative project funded by the Pew Charitable Trusts and launched in January 1995, pairs each of eighteen doctoral universities with several nearby undergraduate institutions. The cluster centered at Ohio State University includes five undergraduate colleges as partners; the participating departments are chemistry, French and Italian, and psychology. The French and Italian program provides students with apprenticeships in undergraduate language departments, including a series of visits to one or two of the partner colleges, hosted by faculty mentors. During winter quarter 1995 two Ohio State graduate students in French visited several area colleges to immerse themselves in the daily routine and to help one college develop a new course in African literature ( <em>Preparing </em>). 

There is at least one local collaborative effort to provide teaching opportunities for graduate students: Teaching Opportunity Program for Doctoral Students, developed by the University of Minnesota office of human resources and begun in 1993. According to the director, Jan Smith, the program has offered teaching opportunities to three hundred doctoral students and has required the participation of one hundred faculty mentors. The departments of German, French, and Italian participate in the program, and the Spanish and Portuguese faculty recently voted to require their students to enroll. The graduate student participants take a course in teaching in higher education, complete a teaching portfolio, and teach under the supervision of a faculty mentor. 

To prepare future language professors who are competent in the second language and culture, who know how to teach undergraduates, who are able to work collaboratively, and who understand commitment to serving the college and community, graduate language departments will have to develop more ways of linking their students with the world outside the university. Language and culture linkages can be made through collaboration between the university and the community, by international communication through technology, and by study or internship abroad. Competence in teaching and an understanding of service can be enhanced through partnerships with undergraduate institutions. 

For undergraduate teaching the area of specialization ultimately matters much less than breadth of knowledge and the ability to make it accessible to others. The ideal candidate for a position teaching in an undergraduate language department has the flexibility to teach various courses, the willingness to learn new material, the creativity to develop interesting courses, and the sensitivity to deal with diverse people and situations. These characteristics cannot be fostered by course work, research, and writing alone. As Boyer notes, &#147;We need scholars who not only skillfully explore the frontiers of knowledge, but also integrate ideas, connect thought to action, and inspire students&#148; (77). A key component in producing this kind of undergraduate teacher is providing students with significant experiences outside the university walls. 


<em>The author is Associate Professor of French and Spanish and Chair of the Department of Foreign Languages at Ohio Northern University. This article is based on her presentation at ADFL Seminar East, 15&#173;17 June 1995, in Charleston, South Carolina. </em> 
<a name="citations"> </a>
<h2>Works Cited</h2>
Austin, Ann E., and Roger G. Baldwin. <cite>Faculty Collaboration: Enhancing the Quality of Scholarship and Teaching. </cite>ASHE-ERIC Higher Education Report 7. Washington: George Washington U, 1991. 

Azevedo, Milton. &#147;Professional Development of Teaching Assistants: Training versus Education.&#148; <cite>ADFL Bulletin </cite>22.1 (1990): 24&#173;28. 

Bennett-Cumming, J. Russell. &#147;ESL Teaching Lab Project.&#148; Annual Meeting of the Teachers of English to Speakers of Other Languages. Atlanta. 13&#173;17 Apr. 1993. 

Boyer, Ernest L. <cite>Scholarship Reconsidered: Priorities of the Professoriate. </cite>Princeton: Carnegie Foundation for the Advancement of Teaching, 1990. 

Carter, Lisle C., Jr. &#147;Creating a New Environment.&#148; <cite>Liberal Education </cite>80.2 (1994): 30&#173;39. 

Chandler, John. &#147;President&#039;s Message.&#148; <cite>Liberal Education </cite>79.2 (1993): n. pag. 

Hansel, Daytra. &#147;International Distance Education: University of California, Los Angeles, and Seoul National University.&#148; <cite>Journal of Language Teaching Technologies </cite>26.2 (1993):25&#173;28. 

<cite>Preparing Future Faculty. </cite>Newsletter of the Ohio State University Cluster (Winter 1995): 1&#173;5. 

Rava, Susan. &#147;Minding Our Business.&#148; <cite>ADFL Bulletin </cite>22.3 (1991): 51&#173;53. 

Schuman, Samuel. &#147;A life in the Liberal Arts; or, Look What Happened to Prospero.&#148; <cite>Liberal Education </cite>79.2 (1993): 32&#173;37. 

Slevin, James F. &#147;Finding Voices in the Culture of Silence.&#148; <cite>Liberal Education </cite>79.2 (1993):4&#173;9. 

Smith, Jan. &#147;Teaching Opportunity Program for Doctoral Students.&#148; <cite>SLART-L. </cite>Online. BITNET. 25 and 27 Apr. 1995. 

Waldinger, Ren&#233;e. &#147;Training PhD Students to Teach in College.&#148; <cite>ADFL Bulletin </cite>22.1 (1990):20&#173;23. 


&#169; 1996 by the Association of Departments of Foreign Languages. All Rights Reserved.
