<h1>Documents and Resources from the Committee on Academic Freedom and Professional Rights and Responsibility</h1>

<a href="/cafprr_sessions_2014">2014 MLA Convention Sessions Related to Issues of Academic Freedom</a>

<h3>Academic Freedom</h3>
<ul>
<li><a href="/academic_freedom_2009">MLA Statement on Academic Freedom (2009)</a></li>
<li>CAFPRR Tool Kits
<ul style="margin-bottom: 0; padding-left: 1em; list-style: none;">
<li><a href="tool_kit_on_academic">Tool Kit on Academic Freedom</a></li>
<li><a href="tool_kit_on_intellec">Tool Kit on Intellectual Property</a></li>
<li><a href="tool_kit_on_shared_g">Tool Kit on Shared Governance</a></li>
</ul></li>
<li><a href="/garcetti_ceballos">Ramifications of the Supreme Court's Ruling in <i>Garcetti v. Ceballos</i></a></li>
<li><a href="/resources_aaup">Resources from the American Association of University Professors (AAUP)</a></li>
</ul>

<h3>Staffing, Salaries, and the Job Search</h3>
<ul>
<li><a href="/advice_grad">Advice to Graduate Students: From Application to Career</a></li>
<li><a href="/jil_jobseekers_che">Checklist for Job Seekers</a></li>
<li><a href="/jil_jobseekers_dos">Dos and Don'ts for MLA Convention Interviews</a></li>
<li><a href="/jil_jobseekers_caf">Guidelines for Search Committees and Job Seekers on Entry-Level Faculty Recruitment and Hiring</a></li>
<li><a href="/mla_recommendation_course">MLA Recommendation on Minimum Per-Course Compensation for Part-Time Faculty Members</a></li>
<li><a href="/mla_recommendation_o">MLA Recommendation on a Minimum Wage for Full-Time Entry-Level Faculty Members</a></li>
<li><a href="/statement_on_nonten">Statement on Non-Tenure-Track Faculty Members</a></li>
</ul>

<h3>Publishing</h3> 
<ul>
<li><a href="/advice_for_authors">Advice for Authors, Reviewers, Publishers, and Editors of Literary Scholarship</a></li>
</ul>

<h3>Diversity</h3>
<ul>
<li><a href="/comm_divtol">Final Report, MLA Ad Hoc Committee on Diversity and Tolerance</a>[[[docstudio filetype_tag_pdf]]]</li>
<li><a href="/comm_disability">MLA Committee on Disability Issues in the Profession</a></li>
<li><a href="/report_campusbig_pdf">Report of the Task Force against Campus Bigotry</a>[[[docstudio filetype_tag_pdf]]]</li>
</ul>

<h3>Other Resources</h3> 
<ul>
<li><a href="/resources_on_human_r">Resources on Human Rights Issues</a></li>
</ul>
