<h1>2014 MLA Convention Sessions Related to Issues of Academic Freedom</h1>
<p>This list was compiled by the Committee on Academic Freedom and Professional Rights and Responsibilities.</p>


<style type="text/css">.time{font-style:italic;}</style>

<h2>Sessions Arranged by the Committee</h2>

<ul class="program_entry_list">
	<li class="program_entry"><a href="/program_details?prog_id=413&year=2014">413. The Cost of Program Mergers and Closings</a>
	<blockquote class="time">Friday, 10 January, 5:15–6:30 p.m., Purdue-Wisconsin, Chicago Marriott</blockquote></li>
	<li class="program_entry"><a href="/program_details?prog_id=471&year=2014">471. Who Benefits? Competing Agendas and Ethics in Graduate Education</a>
	<blockquote class="time">Saturday, 11 January, 8:30–9:45 a.m., Chicago X, Sheraton Chicago</blockquote></li>
</ul>

<h2>Other Relevant Sessions</h2>

<ul class="program_entry_list">
	<li class="program_entry"><a href="/program_details?prog_id=48&year=2014">48. Academic Boycotts: A Conversation about Israel and Palestine</a>
	<blockquote class="time">Thursday, 9 January, 1:45–3:00 p.m., Sheraton I, Sheraton Chicago</blockquote></li>
	<li class="program_entry"><a href="/program_details?prog_id=196&year=2014">196. Write on Your Own Time: Scholarship and Non-Tenure-Track Faculty Members</a>
	<blockquote class="time">Friday, 10 January, 8:30–9:45 a.m., Kane, Chicago Marriott</blockquote></li>
	<li class="program_entry"><a href="/program_details?prog_id=230&year=2014">230. The Presidential Forum: Vulnerable Times</a>
	<blockquote class="time">Friday, 10 January, 10:15 a.m.–12:00 noon, Sheraton IV–V, Sheraton Chicago</blockquote></li>
	<li class="program_entry"><a href="/program_details?prog_id=236&year=2014">236. Vulnerable Times in Academic Life: Senior Faculty Members, Senior Citizens, and Retirement</a>
	<blockquote class="time">Friday, 10 January, 10:15–11:30 a.m., Chicago H, Chicago Marriott</blockquote></li>
	<li class="program_entry"><a href="/program_details?prog_id=241&year=2014">241. Responding to Our Times: The Humanities and/as "Service"</a>
	<blockquote class="time">Friday, 10 January, 10:15–11:30 a.m., Superior A, Sheraton Chicago</blockquote></li>
	<li class="program_entry"><a href="/program_details?prog_id=359&year=2014">359. Academe and the Postpolitical Turn</a>
	<blockquote class="time">Friday, 10 January, 3:30–4:45 p.m., Michigan A, Sheraton Chicago</blockquote></li>
	<li class="program_entry"><a href="/program_details?prog_id=360&year=2014">360. Contingency at the Core</a>
	<blockquote class="time">Friday, 10 January, 3:30–4:45 p.m., Chicago X, Sheraton Chicago</blockquote></li>
	<li class="program_entry"><a href="/program_details?prog_id=503&year=2014">503. AAUP Addresses Campus Sexual Assault</a>
	<blockquote class="time">Saturday, 11 January, 10:15–11:30 a.m., Parlor G, Sheraton Chicago</blockquote></li>
	<li class="program_entry"><a href="/program_details?prog_id=536&year=2014">536. Taking a Stand from Where We Sit: A Roundtable with Presidents, Provosts, and Deans</a>
	<blockquote class="time">Saturday, 11 January, 12:00 noon–1:15 p.m., Northwestern–Ohio State, Chicago Marriott</blockquote></li>
	<li class="program_entry"><a href="/program_details?prog_id=571&year=2014">571. Off the Tenure Track, on Our Radar</a>
	<blockquote class="time">Saturday, 11 January, 1:45–3:00 p.m., Belmont, Chicago Marriott</blockquote></li>
	<li class="program_entry"><a href="/program_details?prog_id=643&year=2014">643. Defining the Moment, Defining the Momentum: Perspectives on the Language of Employment Status</a>
	<blockquote class="time">Saturday, 11 January, 5:15–6:30 p.m., Indiana-Iowa, Chicago Marriott</blockquote></li>
	<li class="program_entry"><a href="/program_details?prog_id=656&year=2014">656. Time to Degree: Is a Faster PhD a Better PhD?</a>
	<blockquote class="time">Saturday, 11 January, 5:15–6:30 p.m., Belmont, Chicago Marriott</blockquote></li>
	<li class="program_entry"><a href="/program_details?prog_id=783&year=2014">783. How We Talk about Contingent Faculty Members</a>
	<blockquote class="time">Sunday, 12 January, 1:45–3:00 p.m., Lincolnshire, Chicago Marriott</blockquote></li>
</ul>
