<h1>Responding to Calls for Papers</h1>
<p>The deadline to submit a call for papers for the 2015 convention was 21 February 2014.</p>

<b>View Calls for Papers</b>
<p>Calls for papers for the 2015 MLA convention will be accessible through the links below through March 2014. The list of calls for papers will be updated as new calls are posted, so we recommend checking this page regularly for updates.</p>

<p><a href="http://www.mla.org/cfp_browse">Browse</a> a list of calls for papers. Calls are listed alphabetically by type of session.</p>

<p><a href="http://www.mla.org/cfp_search">Search</a> the listings by the name of the person who posted the call or by a specific word contained in the call for papers.</p>

<p><b>Information for Responding to Calls for Papers</b>
<ul>
<li>Review the session <a href="/conv_procedures">guidelines</a> for the MLA convention before responding to calls for papers.</li>
<li>Send submissions to the session organizer whose name and e-mail are included in the listing; paper submissions should not be sent to the MLA offices.</li>
<li>Include any audiovisual equipment needs for your presentation when you respond to a call for papers.</li>
<li>If you are invited to participate in a session, you must be an MLA member by 7 April 2014.</li>
<li>All session participants must register for the convention.</li>
<li>An MLA member may participate (e.g., by organizing and chairing a meeting, reading a paper, or serving as a speaker, presider, or respondent) only twice at a convention.</li>
<li>Review the <a href="/conv_sessionpartfaqs">Convention Participant FAQs</a>.</li>
</ul></p>

<p><i>Please note</i>: A call for papers is <i>not</i> a session proposal but a way to solicit paper submissions for creating a session proposal. Program copy forms for the 2015 convention will be available at www.mla.org/convention after the 2014 MLA convention. Completed program copy forms must be submitted by 1 April 2014.
</p>
