<h1>Candidate Information for the 2008 MLA Elections</h1>

The 2008 MLA election ballot, covering the elections for second vice president, the Executive Council, the Delegate Assembly, and the division executive committees, has been mailed to all 2008 MLA members.  The candidate information booklet, downloadable here, contains biographical summaries and statements on matters of professional concern submitted by the candidates for second vice president, the Executive Council, and the Delegate Assembly.

Ballots should reach members by the end of October.  If you are eligible to vote and do not receive your ballot, please write or call Carol Zuses, coordinator of governance, at the MLA office (646 576-5103; <a href="mailto:governance@mla.org">governance@mla.org</a>) to request a replacement.  The last day for requesting a replacement ballot is Monday, 10 November 2008.  Completed ballots must be received at the MLA office on or before 10 December to be counted.

<a href="/08candidateinfobook">Download</a> the 2008 candidate information booklet[[[docstudio filetype_tag_pdf]]].

 

