Thursday, 6 January 2011

<b>1. Careers for Humanists</b>

<i>8:30–11:30 a.m., Platinum Salon A, J. W. Marriott</i>

Program arranged by the MLA Office of Research and the MLA Office of Programs

<i>Presiding:</i> Jennifer Furlong, New York Univ.; Christine Kelly, Univ. of California, Irvine

Two career services professionals will lead a workshop designed to widen awareness of career opportunities and options for those with advanced degrees in the humanities.

The workshop will be limited to thirty participants.

Preregistration is required.
