<h1>Catalog Request Form</h1>

<@if ($feedback_processed eq "Y")>

<p>
	Thank you. Your request has been received and will be processed as quickly as possible.
	<br>&nbsp;<br>
	<a href="/homepage">Click here to go to the homepage</a>.
</p>

<@else>

<@if ($cookie{id} eq "")>
	<table border="0" cellpadding="8" cellspacing="1" bgcolor="<@$alert_border_color>">
		<tr>
			<td bgcolor="#ffffcc" align="left">
				<b>Please log in</b> as a <a href="/login&xurl=[[[searcharg file]]]">member</a> or <a href="/login_chair&xurl=[[[searcharg file]]]">department chair</a>, and your contact information will be filled in automatically.
			</td>
		</tr>
	</table>
<@/if>

<p>
	Fill out this form completely, and click the "Submit" button.
</p>

<form action="/FORM_ACTIONS/[[[searcharg file]]]" method="post" name="form1">
<input type="hidden" name="plugin" value="feedback">
<input type="hidden" name="sort_order" value="Member_ID,Name,School_Affil,Dept,Email,Address_1,Address_2,City,State,Other_State,Zip,Country">
<input type="hidden" name="show_empty_fields" value="N">
<input type="hidden" name="feedback_type" value="Catalog Request">
<input type="hidden" name="override_admin_email" value="egunn@mla.org">
<input type="hidden" name="Member_ID" value="[[[cookie id]]]">
<!--input type="hidden" name="override_admin_email" value="stuart@level9digital.com"-->
<input type="hidden" name="override_message" value="hide">


<table border="0" cellpadding="5" cellspacing="0">
	<tr valign="top">
		<td align="right">
			Name
		</td>
		<td align="left">
			<input type="text" name="Name" value="[[[RESULTS NAMEF]]] [[[RESULTS NAMES]]]" size="30" maxlength="100">
		</td>
	</tr>
	<tr valign="top">
		<td align="right">
			School Affiliation
		</td>
		<td align="left">
			<input type="text" name="School_Affil" value="[[[RESULTS MINST]]]" size="30" maxlength="100">
		</td>
	</tr>
	<tr valign="top">
		<td align="right">
			Department
		</td>
		<td align="left">
			<input type="text" name="Dept" value="[[[RESULTS DEPT]]]" size="30" maxlength="100">
		</td>
	</tr>
	<@comment>
	<tr valign="top">
		<td align="right" nowrap>
			E-mail address
		</td>
		<td>
			<input type="text" name="Email" value="[[[RESULTS EMAIL]]]" size="30" maxlength="100">
		</td>
	</tr>
	<tr valign="top">
		<td align="right" nowrap>
			Retype e-mail address
		</td>
		<td>
			<input type="text" name="EMAILCONFIRM" value="[[[RESULTS EMAIL]]]" size="30" maxlength="100">
		</td>
	</tr>
	<@endcomment>
	<tr valign="top">
		<td align="right">
			Address
		</td>
		<td align="left">
			<input type="text" name="Address_1" value="[[[RESULTS MAONE]]]" size="30" maxlength="60">
		</td>
	</tr>
	<tr valign="top">
		<td align="right">
			Address Line 2
		</td>
		<td align="left">
			<input type="text" name="Address_2" value="[[[RESULTS MATWO]]]" size="30" maxlength="60">
		</td>
	</tr>
	<tr valign="top">
		<td align="right">
			City
		</td>
		<td align="left">
			<input type="text" name="City" value="[[[RESULTS MCITY]]]" size="30" maxlength="60">
		</td>
	</tr>
	<tr valign="top">
		<td align="right">
			State/Province
		</td>
		<td align="left">
			<table border="0" cellpadding="2" cellspacing="0">
				<tr>
					<td align="left">[[[insert dropdown type="state" name="MSTAT"]]]</td>
					<td class="s1" align="left">Other:<input type="text" name="Other_State" value="[[[RESULTS other_state]]]" size="10" maxlength="10"></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr valign="top">
		<td align="right">
			Zip/Postal Code
		</td>
		<td align="left">
			<input type="text" name="Zip" value="[[[RESULTS MZIP]]]" size="30" maxlength="15">
		</td>
	</tr>
	<tr valign="top">
		<td align="right">
			Country
		</td>
		<td align="left">
			[[[insert dropdown type="country" name="MCOU"]]]
		</td>
	</tr>
</table>

<img src="/IMAGES/clear.gif" width="1" height="20" alt="">

<table border="0" cellpadding="5" cellspacing="1" width="100%" bgcolor="[[color1]]">
	<tr><td align="center" bgcolor="[[color3]]">
		<input type="button" value="Submit" onClick="checkText();">
		</td></tr>
</table>
</form>

<script language="javascript" type="text/javascript">


function checkText() {
	var badcount = 0;
	var errormsg = "";
	var emsg = "";
	var rettarget;
	
	if (document.form1.Name.value == '' || document.form1.Name.value == ' ') {
		badcount++;
		errormsg += '\n' + badcount + ': You must enter your name.';
		rettarget = document.form1.Name;
		}
	
	<@comment>
	if (document.form1.Email.value == '') {
		badcount++;
		errormsg += '\n' + badcount + ': You must enter an e-mail address.';
		rettarget = document.form1.Email;
		}
	// check the email
	if (document.form1.Email.value != '') {
		emsg = validateEmail(document.form1.Email.value);
		if (emsg != '') {
			badcount++;
			errormsg += '\n' + badcount + ': ' + emsg;
			if (!rettarget) {
				rettarget = document.form1.Email;
				}
			}
		if (document.form1.Email.value != document.form1.EMAILCONFIRM.value) {
			badcount++;
			errormsg += '\n' + badcount + ': The \"E-mail\" and \"Retype e-mail\" fields do not match.';
			document.form1.EMAILCONFIRM.value = '';
			rettarget = document.form1.Email;
			}
		}
	<@endcomment>
	
	if (document.form1.Address_1.value == '') {
		badcount++;
		errormsg += '\n' + badcount + ': You must enter a street address.';
		rettarget = document.form1.Address_1;
		}
	if (document.form1.City.value == '') {
		badcount++;
		errormsg += '\n' + badcount + ': You must enter a city.';
		rettarget = document.form1.City;
		}
	if (document.form1.MSTAT.options[document.form1.MSTAT.selectedIndex].value == '' && document.form1.Other_State.value == '') {
		if (document.form1.MCOU.options[document.form1.MCOU.selectedIndex].value == 'US' || document.form1.MCOU.options[document.form1.MCOU.selectedIndex].value == 'Canada') {
			badcount++;
			errormsg += '\n' + badcount + ': You must select a state or province.';
			rettarget = document.form1.MSTAT;
			}
		}
	if (document.form1.Zip.value == '' && document.form1.MCOU.options[document.form1.MCOU.selectedIndex].value == 'US') {
		badcount++;
		errormsg += '\n' + badcount + ': You must enter a zip/postal code.';
		rettarget = document.form1.Zip;
		}
	if (document.form1.MCOU.options[document.form1.MCOU.selectedIndex].value == '') {
		badcount++;
		errormsg += '\n' + badcount + ': You must select a country.';
		rettarget = document.form1.MCOU;
		}
	
	if (badcount > 0) {
		if (rettarget) {
			rettarget.focus();
			}
		alert(errormsg);
		} else {
		//document.form1.EMAILCONFIRM.value = '';
		document.form1.MCOU.name = 'Country';
		document.form1.MSTAT.name = 'State';
		document.form1.submit();
		}
}


</script>

<@/if>
