<h1>Events of Interest to Community College Faculty Members at the 2014 MLA Annual Convention</h1>

<p><i>Plan your schedule in advance:</i> The MLA online Program has an easy-to-use tool (called “My Convention Schedule”) for planning your schedule before you get to the convention. From the main <a href="/program">Program</a> page, search for sessions by type or subject, then add them to your schedule. When you are done, print your personalized program or export it to your tablet, smartphone, or computer.</p>

<p><i>Social networking:</i> During the convention, the MLA publishes a daily blog post to the <i>MLA Commons</i> and a live stream of convention-related tweets on the MLA Web site. We encourage community college attendees to update colleagues on sessions through <i>Twitter</i>. To tweet sessions of interest to community college faculty members, please use #MLA14CCC or specific session hashtags (e.g., #s213). To view additional convention tweets, follow @mlaconvention and @rgfeal.</p>

<p><i>Sessions:</i> Sessions of particular interest to community college attendees include the following:
<ul class="program_entry_list">
	<li class="program_entry"><a href="/program_details?prog_id=8&year=2014">8. Linguistic Foundations for Teaching in the Postmethods Era</a>
	<blockquote><i>Thursday, 9 January, 12:00 noon–1:15 p.m., Missouri, Sheraton Chicago</i></blockquote></li>
	
	<li class="program_entry"><a href="/program_details?prog_id=92&year=2014">92. Beyond the Department Wall: A Roundtable with Past MLA Presidents on Expanding Networks in Language Study</a>
	<blockquote><i>Thursday, 9 January, 3:30–4:45 p.m., Chicago X, Sheraton Chicago</i></blockquote></li>
	
	<li class="program_entry"><a href="/program_details?prog_id=186&year=2014">186. "The Pleasure of the Text": Creating Lifelong Readers</a>
	<blockquote><i>Thursday, 9 January, 7:00–8:15 p.m., Chicago A–B, Chicago Marriott</i></blockquote></li>
	
	<li class="program_entry"><a href="/program_details?prog_id=213&year=2014">213. Twenty-First-Century Pedagogies</a>
	<blockquote><i>Friday, 10 January, 8:30–9:45 a.m., Michigan–Michigan State, Chicago Marriott</i><br>Program arranged by the Discussion Group on the Two-Year College</blockquote></li>
	
	<li class="program_entry"><a href="/program_details?prog_id=253&year=2014">253. Gaming across the Curriculum: The Write Game</a>
	<blockquote><i>Friday, 10 January, 10:15–11:30 a.m., Michigan–Michigan State, Chicago Marriott</i></blockquote></li>
	
	<li class="program_entry"><a href="/program_details?prog_id=285&year=2014">285. Upstream Both Ways: Aligning Community Colleges and Four-Year Institutions</a>
	<blockquote><i>Friday, 10 January, 12:00 noon–1:15 p.m., O'Hare, Chicago Marriott</i><br>Program arranged by the MLA Committee on Community Colleges</blockquote></li>
	
	<li class="program_entry"><a href="/program_details?prog_id=360&year=2014">360. Contingency at the Core</a>
	<blockquote><i>Friday, 10 January, 3:30–4:45 p.m., Chicago X, Sheraton Chicago</i></blockquote></li>
	
	<li class="program_entry"><a href="/program_details?prog_id=417&year=2014">417. Why Teach Literature?</a>
	<blockquote><i>Friday, 10 January, 5:15–6:30 p.m., Chicago VII, Sheraton Chicago</i></blockquote></li>
	
	<li class="program_entry"><a href="/program_details?prog_id=418&year=2014">418. Vulnerability and Survivalism of the Humanities in Corporatized Academia</a>
	<blockquote><i>Friday, 10 January, 5:15–6:30 p.m., Erie, Sheraton Chicago</i><br>Program arranged by the Community College Humanities Association</blockquote></li>
	
	<li class="program_entry"><a href="/program_details?prog_id=521&year=2014">521. Raising the Bar: Academic Rigor in the Language Classroom</a>
	<blockquote><i>Saturday, 11 January, 12:00 noon–1:15 p.m., Colorado, Sheraton Chicago</i></blockquote></li>
	
	<li class="program_entry"><a href="/program_details?prog_id=533&year=2014">533. Career Opportunities in English and Foreign Languages at Two-Year Colleges</a>
	<blockquote><i>Saturday, 11 January, 12:00 noon–1:15 p.m., Addison, Chicago Marriott</i></blockquote></li>
	
	<li class="program_entry"><a href="/program_details?prog_id=560&year=2014">560. The History of Teaching as a Profession</a>
	<blockquote><i>Saturday, 11 January, 1:45–3:00 p.m., Northwestern–Ohio State, Chicago Marriott</i></blockquote></li>
	
	<li class="program_entry"><a href="/program_details?prog_id=606&year=2014">606. Technology and Teaching Vulnerable Languages in Vulnerable Times</a>
	<blockquote><i>Saturday, 11 January, 3:30–4:45 p.m., Colorado, Sheraton Chicago</i><br>Program arranged by the MLA Committee on Community Colleges</blockquote></li>
	
	<li class="program_entry"><a href="/program_details?prog_id=638&year=2014">638. Teaching Sustainability</a>
	<blockquote><i>Saturday, 11 January, 5:15–6:30 p.m., Chicago IX, Sheraton Chicago</i><br>Program arranged by the Discussion Group on the Two-Year College</blockquote></li>
	
	<li class="program_entry"><a href="/program_details?prog_id=698&year=2014">698. Textual Carnivals Revisited</a>
	<blockquote><i>Sunday, 12 January, 8:30–9:45 a.m., Chicago H, Chicago Marriott</i></blockquote></li>
</ul>
</p>
