<h2>Edit Chair Record [[[RESULTS SEQNO]]]</h2>

<form action="/FORM_ACTIONS/chairs_manager" method="post" name="form1">
<input type="hidden" name="plugin" value="chairs_manager">
<input type="hidden" name="SEQNO" value="[[[RESULTS SEQNO]]]">
<input type="hidden" name="function" value="update">
<input type="hidden" name="do_next" value="admin_return">


<table border="0" cellpadding="5" cellspacing="0" width="100%">
	<tr valign="top">
		<td align="right" width="20%" class="s1">&nbsp;</td>
		<td width="40%" class="s1"><b>New</b></td>
		<td width="40%" class="s1"><b>Previous</b></td>
	</tr>
	<tr valign="top">
		<td align="right" width="20%" nowrap>
			Name of Chair
		</td>
		<td width="40%">
			<table border="0" cellpadding="0" cellspacing="1">
				<tr valign="top">
					<td><input type="text" name="LNAME" value="[[[RESULTS LNAME]]]" size="20" maxlength="100"></td>
					<td><input type="text" name="FNAME" value="[[[RESULTS FNAME]]]" size="20" maxlength="100"></td>
				</tr>
				<tr>
					<td class="s1">Last</td>
					<td class="s1">First</td>
				</tr>
			</table>
		</td>
		<td width="40%">
			<@if ($holding{LNAME} ne "" && $holding{FNAME} ne "")>
				<font color="<@if ($changeflag{LNAME} eq "Y")>red<@else>[[color1]]<@/if>"><@$holding{LNAME}></font>, 
			<@else>
				<font color="<@if ($changeflag{LNAME} eq "Y")>red<@else>[[color1]]<@/if>"><@$holding{LNAME}></font>
			<@/if>
			<font color="<@if ($changeflag{FNAME} eq "Y")>red<@else>[[color1]]<@/if>"><@$holding{FNAME}></font>
		</td>
	</tr>
	<tr valign="top">
		<td align="right" width="20%" nowrap>
			Administrative Title
		</td>
		<td width="40%">
			<input type="text" name="RANK" value="[[[RESULTS RANK]]]" size="30" maxlength="30">
		</td>
		<td width="40%"><font color="<@if ($changeflag{RANK} eq "Y")>red<@else>[[color1]]<@/if>"><@$holding{RANK}></font></td>
	</tr>
	<tr valign="top">
		<td align="right" width="20%" nowrap>
			Institution
		</td>
		<td width="40%">
			<input type="text" name="UNIV" value="[[[RESULTS UNIV]]]" size="30" maxlength="60">
		</td>
		<td width="40%"><font color="<@if ($changeflag{UNIV} eq "Y")>red<@else>[[color1]]<@/if>"><@$holding{UNIV}></font></td>
	</tr>
	<tr valign="top">
		<td align="right" width="20%" nowrap>
			Department
		</td>
		<td width="40%">
			<input type="text" name="DEPT" value="[[[RESULTS DEPT]]]" size="30" maxlength="60">
		</td>
		<td width="40%"><font color="<@if ($changeflag{DEPT} eq "Y")>red<@else>[[color1]]<@/if>"><@$holding{DEPT}></font></td>
	</tr>
	<tr valign="top">
		<td align="right" width="20%" nowrap>
			Address
		</td>
		<td width="40%">
			<input type="text" name="ADDRESS" value="[[[RESULTS ADDRESS]]]" size="30" maxlength="60">
		</td>
		<td width="40%"><font color="<@if ($changeflag{ADDRESS} eq "Y")>red<@else>[[color1]]<@/if>"><@$holding{ADDRESS}></font></td>
	</tr>
	<tr valign="top">
		<td align="right" width="20%" nowrap>
			Address Line 2
		</td>
		<td width="40%">
			<input type="text" name="ADDR2" value="[[[RESULTS ADDR2]]]" size="30" maxlength="60">
		</td>
		<td width="40%"><font color="<@if ($changeflag{ADDR2} eq "Y")>red<@else>[[color1]]<@/if>"><@$holding{ADDR2}></font></td>
	</tr>
	<tr valign="top">
		<td align="right" width="20%" nowrap>
			City
		</td>
		<td width="40%">
			<input type="text" name="CITY" value="[[[RESULTS CITY]]]" size="30" maxlength="30">
		</td>
		<td width="40%"><font color="<@if ($changeflag{CITY} eq "Y")>red<@else>[[color1]]<@/if>"><@$holding{CITY}></font></td>
	</tr>
	<tr valign="top">
		<td align="right" width="20%" nowrap>
			State/Province
		</td>
		<td width="40%">
			[[[insert dropdown type="state" name="STATE" onChange="document.form1.STATEother.value='';"]]]
			&nbsp;Other:<input type="text" name="STATEother" value="[[[RESULTS STATEother]]]" size="10" maxlength="20">
		</td>
		<td width="40%"><font color="<@if ($changeflag{STATE} eq "Y")>red<@else>[[color1]]<@/if>"><@$holding{STATE}></font></td>
	</tr>
	<tr valign="top">
		<td align="right" width="20%" nowrap>
			Zip/Postal Code
		</td>
		<td width="40%" nowrap>
			<input type="text" name="ZIP" value="[[[RESULTS ZIP]]]" size="7" maxlength="10">-<input type="text" name="ZIP4" value="[[[RESULTS ZIP4]]]" size="5" maxlength="4">
		</td>
		<td width="40%">
			<font color="<@if ($changeflag{ZIP} eq "Y")>red<@else>[[color1]]<@/if>"><@$holding{ZIP}></font>
			<@if ($holding{ZIP4} ne "")>-<@else><@/if>
			<font color="<@if ($changeflag{ZIP4} eq "Y")>red<@else>[[color1]]<@/if>"><@$holding{ZIP4}></font>
		</td>
	</tr>
	<tr valign="top">
		<td align="right" width="20%" nowrap>
			Country
		</td>
		<td width="40%">
			[[[insert dropdown type="country" name="CNTRY"]]]
		</td>
		<td width="40%"><font color="<@if ($changeflag{CNTRY} eq "Y")>red<@else>[[color1]]<@/if>"><@$holding{CNTRY}></font></td>
	</tr>
	<tr valign="top">
		<td align="right" width="20%" nowrap>
			Phone
		</td>
		<td width="40%" nowrap>
			<input type="text" name="PHONE2" value="[[[RESULTS PHONE2]]]" size="30" maxlength="20">
		</td>
		<td width="40%"><font color="<@if ($changeflag{PHONE2} eq "Y")>red<@else>[[color1]]<@/if>"><@$holding{PHONE2}></font></td>
	</tr>

	<tr valign="top">
		<td align="right" width="20%" nowrap>
			Highest Degree
		</td>
		<td width="40%">
			<table border="0" cellpadding="0" cellspacing="1">
				<tr valign="top">
					<td>
						<select name="TDEGREE">
							<option value="">-- Please select --</option>
							<option value="A"<@if ($results{TDEGREE} eq "A")> selected<@/if>>Associate</option>
							<option value="B"<@if ($results{TDEGREE} eq "B")> selected<@/if>>Bachelor of Arts</option>
							<option value="P"<@if ($results{TDEGREE} eq "P")> selected<@/if>>Doctorate</option>
							<option value="M"<@if ($results{TDEGREE} eq "M")> selected<@/if>>Master of Arts</option>
							<option value="N"<@if ($results{TDEGREE} eq "N")> selected<@/if>>No degree offered</option>
						</select>
					</td>
				</tr>
			</table>
		</td>
		<td width="40%"><font color="<@if ($changeflag{TDEGREE} eq "Y")>red<@else>[[color1]]<@/if>"><@$holding{TDEGREE}></font></td>
	</tr>
	
	<tr valign="top">
		<td align="right" width="20%" nowrap>
			SEQKEY
		</td>
		<td width="40%" nowrap>
			<input type="text" name="SEQKEY" value="[[[RESULTS SEQKEY]]]" size="2" maxlength="1">
		</td>
		<td width="40%"><font color="<@if ($changeflag{SEQKEY} eq "Y")>red<@else>[[color1]]<@/if>"><@$holding{SEQKEY}></font></td>
	</tr>
	
</table>
	

<@spacer 1x16>

<table border="0" cellpadding="5" cellspacing="1" width="100%" bgcolor="[[color1]]">
	<tr><td align="center" bgcolor="[[color3]]">
		<input type="button" value="Save Changes" onClick="SaveNoApprove();">
		<@spacer 12x1>
		<input type="button" value="Save &amp; Approve" onClick="SaveApprove();">
		<@spacer 12x1>
		<input type="button" value="Exit - No Changes" onClick="document.location = '/chairs_manager';">
	</td></tr>
</table>



</form>

<script language="javascript">

function SaveApprove() {
	document.form1.do_next.value = 'save_delete';
	document.form1.submit();
}

function SaveNoApprove() {
	document.form1.do_next.value = 'admin_return';
	document.form1.submit();
}

</script>
