<script language="javascript">
function delete_check(ID) {

//if (confirm ('Are you sure you want to delete the holding record for Chair ID ' + ID + '? The Chairs record will remain as is.')) {
	document.location = '/[[[searcharg file]]]&function=delete&record=' + ID;
//	}
}
</script>

<h1>Chair Records Administration</h1>

<@if (@holding_records == 0)>
	<p>There are no records requiring management.</p>
<@else>
	
	<@loop "holding_records">
		<table border="0" cellpadding="2" cellspacing="1" bgcolor="[[color2]]" width="100%">
			<tr valign="top">
				<td colspan="3" align="left" bgcolor="#ffffcc">
					<table border="0" cellpadding="0" cellspacing="0" width="100%">
						<tr>
							<td align="left" width="40%">Seqno:&nbsp;<b><@col 1></b></td>
							<td align="right" nowrap width="60%">
								<a href="/chairs_manager_edit&record=<@col 1>">Edit</a>
								<@if ($col[21] ne "N")>
								&nbsp;|&nbsp;
								<a href="/[[[searcharg file]]]&function=revert&record=<@col 1>">Discard new/revert to previous</a>
								<@/if>
								&nbsp;|&nbsp;
								<a href="javascript:delete_check(<@col 1>);">Approve</a>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		<@if ($col[126] == 0)>
			<tr>
				<td align="left" colspan="3" bgcolor="#eeeeee" class="s1">
					<b>All fields are identical.</b> <a href="/[[[searcharg file]]]&function=delete&record=<@col 1>">Remove from queue?
				</td>
			</tr>
		<@else>
			<tr>
				<@if ($col[21] eq "N")>
					<td align="left" width="40%" bgcolor="#eeeeee" class="s1"><b>New Record</b> (SEQKEY = N)</td>
					<td align="left" width="40%" bgcolor="#eeeeee" class="s1"><b>&nbsp;</b></td>
				<@else>
					<td align="left" width="40%" bgcolor="#eeeeee" class="s1"><b>New</b></td>
					<td align="left" width="40%" bgcolor="#eeeeee" class="s1"><b>Previous</b></td>
				<@/if>
				<td align="left" width="20%" bgcolor="#eeeeee" class="s1"><b>Field</b></td>
			</tr>
		<@/if>
		<@if ($col[102] ne "")>
			<tr valign="top">
				<td bgcolor="#ffffff" align="left">
					<@col 102>
				</td>
				<td bgcolor="#ffffff" align="left">
					<@col 2>
				</td>
				<td bgcolor="#ffffff" align="left">
					<font color="[[color1]]">LNAME</font>
				</td>
			</tr>
		<@/if>
		<@if ($col[103] ne "")>
			<tr valign="top">
				<td bgcolor="#ffffff" align="left">
					<@col 103>
				</td>
				<td bgcolor="#ffffff" align="left">
					<@col 3>
				</td>
				<td bgcolor="#ffffff" align="left">
					<font color="[[color1]]">FNAME</font>
				</td>
			</tr>
		<@/if>
		<@if ($col[104] ne "")>
			<tr valign="top">
				<td bgcolor="#ffffff" align="left">
					<@col 104>
				</td>
				<td bgcolor="#ffffff" align="left">
					<@col 4>
				</td>
				<td bgcolor="#ffffff" align="left">
					<font color="[[color1]]">RANK</font>
				</td>
			</tr>
		<@/if>
		<@if ($col[105] ne "")>
			<tr valign="top">
				<td bgcolor="#ffffff" align="left">
					<@col 105>
				</td>
				<td bgcolor="#ffffff" align="left">
					<@col 5>
				</td>
				<td bgcolor="#ffffff" align="left">
					<font color="[[color1]]">DEPT</font>
				</td>
			</tr>
		<@/if>
		<@if ($col[106] ne "")>
			<tr valign="top">
				<td bgcolor="#ffffff" align="left">
					<@col 106>
				</td>
				<td bgcolor="#ffffff" align="left">
					<@col 6>
				</td>
				<td bgcolor="#ffffff" align="left">
					<font color="[[color1]]">UNIV</font>
				</td>
			</tr>
		<@/if>
		<@if ($col[107] ne "")>
			<tr valign="top">
				<td bgcolor="#ffffff" align="left">
					<@col 107>
				</td>
				<td bgcolor="#ffffff" align="left">
					<@col 7>
				</td>
				<td bgcolor="#ffffff" align="left">
					<font color="[[color1]]">ADDRESS</font>
				</td>
			</tr>
		<@/if>
		<@if ($col[108] ne "")>
			<tr valign="top">
				<td bgcolor="#ffffff" align="left">
					<@col 108>
				</td>
				<td bgcolor="#ffffff" align="left">
					<@col 8>
				</td>
				<td bgcolor="#ffffff" align="left">
					<font color="[[color1]]">ADDR2</font>
				</td>
			</tr>
		<@/if>
		<@if ($col[109] ne "")>
			<tr valign="top">
				<td bgcolor="#ffffff" align="left">
					<@col 109>
				</td>
				<td bgcolor="#ffffff" align="left">
					<@col 9>
				</td>
				<td bgcolor="#ffffff" align="left">
					<font color="[[color1]]">CITY</font>
				</td>
			</tr>
		<@/if>
		<@if ($col[110] ne "")>
			<tr valign="top">
				<td bgcolor="#ffffff" align="left">
					<@col 110>
				</td>
				<td bgcolor="#ffffff" align="left">
					<@col 10>
				</td>
				<td bgcolor="#ffffff" align="left">
					<font color="[[color1]]">STATE</font>
				</td>
			</tr>
		<@/if>
		<@if ($col[111] ne "")>
			<tr valign="top">
				<td bgcolor="#ffffff" align="left">
					<@col 111>
				</td>
				<td bgcolor="#ffffff" align="left">
					<@col 11>
				</td>
				<td bgcolor="#ffffff" align="left">
					<font color="[[color1]]">ZIP</font>
				</td>
			</tr>
		<@/if>
		<@if ($col[114] ne "")>
			<tr valign="top">
				<td bgcolor="#ffffff" align="left">
					<@col 114>
				</td>
				<td bgcolor="#ffffff" align="left">
					<@col 14>
				</td>
				<td bgcolor="#ffffff" align="left">
					<font color="[[color1]]">ZIP4</font>
				</td>
			</tr>
		<@/if>
		<@if ($col[112] ne "")>
			<tr valign="top">
				<td bgcolor="#ffffff" align="left">
					<@col 112>
				</td>
				<td bgcolor="#ffffff" align="left">
					<@col 12>
				</td>
				<td bgcolor="#ffffff" align="left">
					<font color="[[color1]]">PHONE2</font>
				</td>
			</tr>
		<@/if>
		<@if ($col[116] ne "")>
			<tr valign="top">
				<td bgcolor="#ffffff" align="left">
					<@col 116>
				</td>
				<td bgcolor="#ffffff" align="left">
					<@col 16>
				</td>
				<td bgcolor="#ffffff" align="left">
					<font color="[[color1]]">EMAIL</font>
				</td>
			</tr>
		<@/if>
		<@if ($col[113] ne "")>
			<tr valign="top">
				<td bgcolor="#ffffff" align="left">
					<@col 113>
				</td>
				<td bgcolor="#ffffff" align="left">
					<@col 13>
				</td>
				<td bgcolor="#ffffff" align="left">
					<font color="[[color1]]">TDEGREE</font>
				</td>
			</tr>
		<@/if>
		<@if ($col[115] ne "")>
			<tr valign="top">
				<td bgcolor="#ffffff" align="left">
					<@col 115>
				</td>
				<td bgcolor="#ffffff" align="left">
					<@col 15>
				</td>
				<td bgcolor="#ffffff" align="left">
					<font color="[[color1]]">SEQKEY</font>
				</td>
			</tr>
		<@/if>
		</table>
		<@spacer 1x24>
	<@/loop>
		
		
		<p>&nbsp;</p>
<@/if>		


