<h1>Child Care</h1>
<p>Convention participants who would like to have child care during the convention should <a href="/2014_child_care"  target="other">preregister</a> for a possible on-site child care service through KiddieCorp. If a sufficient number of children are registered for child care by 31&nbsp;October, a daytime child care center will operate in the Fairmont. If a sufficient number of children are not registered for the service by that date, the service will not be offered.</p>

<p>If daytime child care is not offered through KiddieCorp, the MLA will have funds available to reimburse up to $300 each to members who use child
care services provided by one of the convention hotels or another service during convention hours. If more requests are received than can be reimbursed
with available funds, preference will be given to graduate students and members in lower-income categories.</p>

<p>Members should submit a request for reimbursement, along with supporting documentation such as a receipt from a child care service, no later
than 29&nbsp;January 2014 to Maribeth Kraus, Director of Convention Programs, Modern Language Association, 26 Broadway, 3rd floor, New York, NY 10004-1789.</p>
