<h1>How do I cite an e-book?</h1>

<p>In general, a work formatted for reading on an electronic device like Kindle, Nook, and iPad is covered by 5.7.18. Begin the entry in the works-cited list like the entry for a comparable printed work and end it with a designation of the medium of publication. The medium is the type of electronic file, such as <em>Kindle file</em>, <em>Nook file</em>, <em>EPUB file</em>, or <em>PDF file</em>. If you cannot identify the file type, use <em>Digital file</em>. For example:</p>

<p style="margin-left:4.25em; text-indent:-2.25em;">Rowley, Hazel. <em>Franklin and Eleanor: An Extraordinary Marriage</em>. New York: Farrar, 2010. Kindle file.</p>

<p>If the work presents electronic and print publication information, the electronic information should usually be cited.</p>

<p>Most electronic readers include a numbering system that tells users their location in the work. Do not cite this numbering, because it may not appear consistently to other users. If the work is divided into stable numbered sections like chapters, the numbers of those sections may be cited, with a label identifying the nature of the number (6.4.2):</p>

<p style="margin-left:2em;">According to Hazel Rowley, Franklin and Eleanor Roosevelt began their honeymoon with a week’s stay at Hyde Park (ch. 2).</p>

<p>or</p>

<p style="margin-left:2em;">Franklin and Eleanor Roosevelt began their honeymoon with a week’s stay at Hyde Park (Rowley, ch. 2).</p>

<p>(The abbreviation <em>ch.</em> is shown in 7.4. There is a comma in a parenthetical citation after the author’s name if the following reference begins with a word.)</p>

<p>If the work is a PDF file with fixed pages, cite the page numbers. If the work lacks any kind of stable section numbering, the work has to be cited as a whole (6.4.1).</p>
