<h1>Review Your Nominations for the DAOC Election</h1>
<p>
Please review your selections carefully.  If you need to change anything, click Edit. Otherwise, click Finish to submit your nominations.
</p>

<form action="/FORM_ACTIONS/cn_da_org_eng_cfm.htm" method="post" name="form1">
	<input type="hidden" name="cn_da_org_eng_rev" value="[[[searcharg file]]]"/>
	<input type="hidden" name="plugin" value="cn_da_org"/>
	<input type="hidden" name="admin_emails" value="czuses@mla.org"/>

	<input type="hidden" name="COMMITTEE_TYPE" value="DA">
	<input type="hidden" name="ELECTION_TYPE" value="ENGLISH">

	<img src="/IMAGES/clear.gif" width="1" height="20" alt="">

	<table border="0" cellpadding="4" cellspacing="1" width="100%" bgcolor="[[color1]]">
		<tr>
			<td bgcolor="[[color3]] width="80%"><b>Nominations for the DAOC Election</b></td>
		</tr>
		<@if ($postarg{ENG1} ne "")>
			<tr>
				<td bgcolor="#ffffff" width="80%">
					[[[postarg ENG1]]]
				</td>
			<tr>
		</@if>
		<@if ($postarg{ENG2} ne "")>
			<tr>
				<td bgcolor="#ffffff" width="80%">
					[[[postarg ENG2]]]
				</td>
			<tr>
		</@if>
		<@if ($postarg{ENG3} ne "")>
			<tr>
				<td bgcolor="#ffffff" width="80%">
					[[[postarg ENG3]]]
				</td>
			<tr>
		</@if>
		<@if ($postarg{ENG4} ne "")>
			<tr>
				<td bgcolor="#ffffff" width="80%">
					[[[postarg ENG4]]]
				</td>
			<tr>
		</@if>
		<@if ($postarg{ENG5} ne "")>
			<tr>
				<td bgcolor="#ffffff" width="80%">
					[[[postarg ENG5]]]
				</td>
			<tr>
		</@if>
		<@if ($postarg{ENG6} ne "")>
			<tr>
				<td bgcolor="#ffffff" width="80%">
					[[[postarg ENG6]]]
				</td>
			<tr>
		</@if>
		<@if ($postarg{ENG7} ne "")>
			<tr>
				<td bgcolor="#ffffff" width="80%">
					[[[postarg ENG7]]]
				</td>
			<tr>
		</@if>
		<@if ($postarg{ENG8} ne "")>
			<tr>
				<td bgcolor="#ffffff" width="80%">
					[[[postarg ENG8]]]
				</td>
			<tr>
		</@if>
	</table>
	<img src="/IMAGES/clear.gif" with="1" height="20" alt="">

	<table border="0" cellpadding="5" cellspacing="1" width="100%" bgcolor="[[color1]]">
		<tr>
			<td align="center" bgcolor="[[color3]]">
				<input type="button" name="go1" value="< Edit" onClick="document.form1.action='/FORM_ACTIONS/<@if ($postarg{cn_da_org_english} ne "")>[[[postarg cn_da_org_english]]]<@else>cn_da_org_english<@/if>';document.form1.submit();"/>
				<input type="button" name="go2" value="Finish >" onClick="document.form1.action='/FORM_ACTIONS/<@if ($postarg{cn_da_org_eng_cfm} ne "")>[[[postarg cn_da_org_eng_cfm]]]<@else>cn_da_org_eng_cfm<@/if>';document.form1.submit();document.form1.go2.value='Please wait...';"/>
			</td>
		</tr>
	</table>

[[[RESULTS hidden_fields]]]
	<input type="hidden" name="do_next" value="">
	<input type="hidden" name="ENG1" value="[[[postarg ENG1]]]"/>
	<input type="hidden" name="ENG2" value="[[[postarg ENG2]]]"/>
	<input type="hidden" name="ENG3" value="[[[postarg ENG3]]]"/>
	<input type="hidden" name="ENG4" value="[[[postarg ENG4]]]"/>
	<input type="hidden" name="ENG5" value="[[[postarg ENG5]]]"/>
	<input type="hidden" name="ENG6" value="[[[postarg ENG6]]]"/>
	<input type="hidden" name="ENG7" value="[[[postarg ENG7]]]"/>
	<input type="hidden" name="ENG8" value="[[[postarg ENG8]]]"/>

</form>
