<script language="javascript">

function checkMem1() {
	//english election


	document.eform1.submit();
}

function checkMem2() {
	//open-field election


	document.oform1.submit();
}

</script>



<h2>Nominations for the Delegate Assembly Organizing Committee</h2>
At the next Delegate Assembly meeting, two elections for open seats on the Delegate Assembly Organizating Committee (DAOC) will be held.  This year's elections are a non-English election and an open-field election.<br/>
<br/>
<p>
As explained in the election overview, the assembly must be polled to establish the list of nominees only for the open-field election.  Listed on the nomination page are the third-year delegates who have indicated their willingness to stand for election to the DAOC.  <!--<b><i>Separate sets of nominations are needed for the two elections.</i></b> --> Please click on the boxes next to the names of those delegates you wish to nominate.  You may make <b><i>no more than five</i></b> nominations.
</p>
<p>Please contact Carol Zuses <a href="mailto:czuses@mla.org">(czuses@mla.org)</a> if you encounter any difficulties with the nomination page.
</p>
<br/>

<form action="/FORM_ACTIONS/cn_da_org_english" method="post" name="eform1">
<p>
	<input type="hidden" name="cn_da_org" value="[[[searcharg file]]]"/>
	<input type="hidden" name="plugin" value="cn_da_org"/>
	<input type="hidden" name="db_table" value="CN_NOMINATION"/>
	<input type="hidden" name="admin_emails" value="czuses@mla.org"/>
	<input type="hidden" name="do_next" value="continue"/>

	<input type="hidden" name="ENG1" value="[[[postarg ENG1]]]"/>
	<input type="hidden" name="ENG2" value="[[[postarg ENG2]]]"/>
	<input type="hidden" name="ENG3" value="[[[postarg ENG3]]]"/>
	<input type="hidden" name="ENG4" value="[[[postarg ENG4]]]"/>
	<input type="hidden" name="ENG5" value="[[[postarg ENG5]]]"/>
	<input type="hidden" name="ENG6" value="[[[postarg ENG6]]]"/>
	<input type="hidden" name="ENG7" value="[[[postarg ENG7]]]"/>
	<input type="hidden" name="ENG8" value="[[[postarg ENG8]]]"/>

</p>
<!--
	<input type="button" class="button" value="Nomination Page for the English Election" onClick="checkMem1();" />
-->
</form>
<br/>

<form action="/FORM_ACTIONS/cn_da_org_open" method="post" name="oform1">
<p>
	<input type="hidden" name="cn_da_org" value="[[[searcharg file]]]"/>
	<input type="hidden" name="plugin" value="cn_da_org"/>
	<input type="hidden" name="db_table" value="CN_NOMINATION"/>
	<input type="hidden" name="admin_emails" value="czuses@mla.org"/>
	<input type="hidden" name="do_next" value="continue"/>

	<input type="hidden" name="MEM_ID" value="[[[postarg MEM_ID]]]"/>
	
	<input type="hidden" name="OPN1" value="[[[postarg OPN1]]]"/>
	<input type="hidden" name="OPN2" value="[[[postarg OPN2]]]"/>
	<input type="hidden" name="OPN3" value="[[[postarg OPN3]]]"/>
	<input type="hidden" name="OPN4" value="[[[postarg OPN4]]]"/>
	<input type="hidden" name="OPN5" value="[[[postarg OPN5]]]"/>
	<input type="hidden" name="OPN6" value="[[[postarg OPN6]]]"/>
	<input type="hidden" name="OPN7" value="[[[postarg OPN7]]]"/>
	<input type="hidden" name="OPN8" value="[[[postarg OPN8]]]"/>
	<input type="hidden" name="OPN9" value="[[[postarg OPN9]]]"/>
	<input type="hidden" name="OPN10" value="[[[postarg OPN10]]]"/>
	<input type="hidden" name="OPN11" value="[[[postarg OPN11]]]"/>
	<input type="hidden" name="OPN12" value="[[[postarg OPN12]]]"/>
	<input type="hidden" name="OPN13" value="[[[postarg OPN13]]]"/>
</p>


	<input type="button" class="button" value="Nominations for Open-Field Election" onClick="checkMem2();" />


</form>
