<h1>2011 <i>Convention News and Program Update</i></h1>
The MLA <i>Convention News and Program Update</i> is published three times during the convention. Print copies are available free at the information center in the Los Angeles Convention Center and at the headquarters offices in the Convention Center and the J. W. Marriott. Here you can download the first issue and the third (which supersedes the second). 

<a href="/cnpu_2011_8_jan" target="_blank">8–9 January 2011</a>[[[docstudio filetype_tag_pdf]]]

<a href="/cnpu_2011_6_jan" target="_blank">6 January 2011</a>[[[docstudio filetype_tag_pdf]]]

 
