<h1>Aldo and Jeanne Scaglione Prize for Studies in Slavic Languages and Literatures Selection Committee</h1>
Function: Selects, every second year, the winner of the prize for an outstanding scholarly work on the linguistics or literatures of the Slavic languages. Committee members are appointed by the Committee on Honors and Awards. Because of recusals, some members may not participate in some judging rounds. Queries for the committee or about the prize should be sent to <a href="mailto:awards@mla.org">awards@mla.org</a>.

Dan E. Davidson, 2013–15
John Burt Foster, Jr., 2012–15
William Mills Todd III, 2008–13; 2010–13 (Ch.)
