<h1>Modern Language Association Prize for Independent Scholars Selection Committee</h1>
Function: Selects the winner of the prize for distinguished published research by an independent scholar in the fields of modern languages and literatures, including English. Committee members are appointed by the Committee on Honors and Awards. Because of recusals, some members may not participate in some judging rounds. Queries for the committee or about the prize should be sent to <a href="mailto:awards@mla.org">awards@mla.org</a>.

Jossianna Arroyo, 2013–16
Maria Damon, 2013–16
Daylanne K. English, 2011–14
Dorothea Heitsch, 2012–15
