<h1>Aldo and Jeanne Scaglione Prize for Studies in Germanic Languages and Literatures Selection Committee</h1>
Function: Selects, every second year, the winner of the prize for an outstanding scholarly work by a member of the Modern Language Association on the linguistics or literatures of the Germanic languages. Committee members are appointed by the Committee on Honors and Awards. Because of recusals, some members may not participate in some judging rounds. Queries for the committee or about the prize should be sent to <a href="mailto:awards@mla.org">awards@mla.org<a href="mailto:awards@mla.org"></a>.

Benjamin Bennett, 2012–14
Gisela Brinker-Gabler, 2011–14
Jane Ogden Newman, 2009–10, 2013–14 (Ch.)
