<h1>Committee on the New Variorum Edition of Shakespeare</h1>
Function: Reviews development of New Variorum Shakespeare projects and advises on policies and initiatives for the series.

Staff liaison: Kathleen Fitzpatrick (<a href="mailto:newvariorum@mla.org">newvariorum@mla.org</a>)

Michael R. Best, 2011–15
Heidi Brayman Hackel, 2012–16
Alan Galey, 2012–16
Alexa (Alex) Huang, 2011–15; 2012–15 (Ch.)
Richard A. J. Knowles, 1992– (ex officio)
Katherine A. Rowe, 2010–14
Sarah Werner, 2012–16
Paul Werstine, 1997– (ex officio)
