<h1>Publications Committee</h1>
Function: Assesses prospectuses and approves final manuscripts for book publications; consults on policies and priorities for the scholarly communication program; assists with new initiatives in scholarly communication.

Staff liaisons: Anna Chang and Margit Longbrake (<a href="mailto:pubcomm@mla.org">pubcomm@mla.org</a>)

Morris E. Eaves, 2011–14
Kathleen Fitzpatrick, 2012– (Ch.)
Rebecca Haidt, 2013–16
Deborah H. Holdstein, 2012–15
Kathleen P. Long, 2011–14
Meredith L. McGill, 2012–15
Shannon Miller, 2012–15
John Protevi, 2012–15
Karen Thornber, 2013–16
Meike G. J. Werner, 2013–16
