<h1>Committee on Contingent Labor in the Profession</h1>
Function: Working through June 2014, will consider a range of issues that affect teachers of modern languages and literatures in institutions of higher education who hold non-tenure-track appointments (e.g., salary and benefits, workplace issues and conditions of employment, demographics, participation in departmental and institutional governance, academic freedom, professional development); will collect information useful to individuals and departments and identify effective policies and practices; will organize convention sessions and consider proposing association publications and other projects that will address the concerns of non-tenure-track faculty members and the departments that employ them.

Staff liaisons: Rosemary G. Feal and David Laurence (<a href="mailto:clip@mla.org">clip@mla.org</a>)

Don H. Bialostosky, 2012–15
Elena Lanza, 2012–15
Karen Lentz Madison, 2011–14; 2012–14 (Ch.)
Glenn Levine, 2011–14
Maria Shine Stewart, 2011–14
Heidi Tiedemann Darroch, 2012–15
Nicole B. Wallack, 2012–15
