<h1>Modern Language Association Prize for a Distinguished Scholarly Edition Selection Committee</h1>
Function: Selects, every second year, the winner of the prize for a distinguished scholarly edition. Committee members are appointed by the Committee on Honors and Awards. Because of recusals, some members may not participate in some judging rounds. Queries for the committee or about the prize should be sent to <a href="mailto:awards@mla.org">awards@mla.org</a>.

Joseph Foster Loewenstein, 2010–13; 2012–13 (Ch.)
Edward Mendelson, 2013–15
Michelle R. Warren, 2012–15
