<h1>Resolution Comments</h1>
<table border="0" cellpadding="4" cellspacing="1" width="100%" bgcolor="[[color1]]">
	<tr>
		<td align="left" width="75%">
			<a name="inst"></a><font color="#ffffff"><b>Resolution 2014-1</b></font>
		</td>
		<td align="right" width="25%">
			<table border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td><a href="/comment_form?topic=1" style="text-decoration:none;"><img src="/IMAGES/messageboard_new.gif" width="16" height="17" border="0"></a></td>
					<td><a href="/comment_form?topic=1" style="text-decoration:none;"><font color="#ffffff"><b>Post New Comment</b></font></a></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td align="left" bgcolor="[[color3]]" width="75%">
			<b>Member</b>
		</td>
		<td align="left" bgcolor="[[color3]]" width="25%">
			</b>Posted</b>
		</td>
	</tr>
	<@loop "TOPIC_1">
	<tr>
		<td align="left" bgcolor="#ffffff" width="75%">
			<a href="/comment<@$blog_file_appendix>?topic=1#post<@col 1>"><@if ($col[16] eq "")>Anonymous<@else><@col 16><@/if></a>
		</td>
		<td align="left" bgcolor="#ffffff" width="25%">
			<@col 24>&nbsp;<@col 13> <@col 14>
		</td>
	</tr>
	<@/loop>
</table>
