<h1>Katherine Singer Kovacs Prize Selection Committee</h1>
Function: Selects the winner of the prize for an outstanding book published in English or Spanish in the field of Latin American and Spanish literatures and cultures. Committee members are appointed by the Committee on Honors and Awards. Because of recusals, some members may not participate in some judging rounds. Queries for the committee or about the prize should be sent to <a href="mailto:awards@mla.org">awards@mla.org</a>.

Román de la Campa, 2012–14
Sibylle Maria Fischer, 2010–11, 2013 (Ch.)
E. Michael Gerli, 2011, 2013
José Antonio Mazzotti, 2012–14
Stacey Schlau, 2012–14
