<h1>Committee on the Status of Graduate Students in the Profession</h1>
Function: Working through June 2018, will consider a range of curricular, intellectual, and professional issues that affect graduate students in language and literature; will consider publication and other projects that will assist graduate students while they pursue their education, gain experience as teachers, seek employment, and make a transition to the workplace; will bring issues that concern graduate students to the attention of the staff, the Executive Council, and other MLA committees. 

Staff liaisons: Nelly Furman and Douglas Steward (<a href="mailto:csgsp@mla.org">csgsp@mla.org</a>)

Stacey Amo, 2013–16
Ryan Calabretta-Sajder, 2013–16
Geffrey Davis, 2013–16
Sarah Kremen-Hicks, 2012–15; 2013–15 (Coch.)
Shane Peterson, 2011–14; 2012–14 (Coch.)
Douglas Smith, 2011–14
Svetlana Tyutina, 2012–15
Alexandra Valint, 2012–15
