<h1>Delegate Assembly Organizing Committee</h1>
Function: Prepares the agenda for Delegate Assembly meetings; receives, initiates, and reports on resolutions and motions to be brought before the assembly; establishes ad hoc committees to investigate matters of concern to the assembly; nominates candidates for the Delegate Assembly's Elections Committee; and works closely with the Executive Council and the staff on matters relating to the activities and future directions of the association. Committee members serve ex officio or are elected either by the Delegate Assembly or by the Executive Council. See the MLA constitution (article 11.C) for details.

Staff liaison: Carol Zuses (<a href="mailto:governance@mla.org">governance@mla.org</a>)

Samer M. Ali, 2012–Jan. 2016
Alicia M. de la Torre Falzon, 2013–Jan. 2015
Gaurav G. Desai, 2014–Jan. 2018
Rosemary G. Feal, 2002–
Roland Greene, 2014–Jan. 2015
Stephanie Louise Kirk, 2013–Jan. 2016
Margaret A. Noodin, 2014–Jan. 2017
Julie Rak, 2013–Jan. 2016; 2014–Jan. 2015 (Ch.)
Susan Solomon, 2014–Jan. 2017
Mecca Jamilah Sullivan, 2014–Jan. 2016
Jennifer Wicke, 2012–Jan. 2015
