<h1>Committee Listings</h1>
<p>
	Except where noted, members of standing and ad hoc committees are appointed by the Executive Council; this section includes only the names of persons who have accepted appointment.
<p>
<table border="0" cellpadding="0" cellspacing="0" width="500">
	<tr valign="top">
		<td width="13">
			<div style="padding:0px;height:12px;width:9px;"><@spacer 9x12></div>
		</td>
		<td width="487" style="padding-bottom:10px;">
			<a class="pageindex" href="/alpha_commlistings">Alphabetical List of Committees (Excluding Division and Discussion Group Executive Committees)</a>
		</td>
	</tr>
	<tr valign="top">
		<td width="13">
			<div id="icon_A1" style="padding:0px;height:12px;width:9px;background:url('/IMAGES/expand-plus.gif') no-repeat bottom left;"><a href="javascript:showLogin('A1');"><img src="/IMAGES/clear.gif" width="9" height="9" border="0" /></a></div>
		</td>
		<td width="487" style="padding-bottom:10px;">
			<a class="pageindex" href="javascript:showLogin('A1');">Governance and Conventions</a>
			<div id="expand_A1" style="display:none;visibility:hidden;margin-left:24px;"> 
				<ul>
				<@loop "SLARRAY_136">
				<li><a href="<@col 151>"<@col 152>><@col 4></a><@col 153></li>
				<@/loop>
				</ul>
			</div>
		</td>
	</tr>
	<tr valign="top">
		<td width="13">
			<div id="icon_A2" style="padding:0px;height:12px;width:9px;background:url('/IMAGES/expand-plus.gif') no-repeat bottom left;"><a href="javascript:showLogin('A2');"><img src="/IMAGES/clear.gif" width="9" height="9" border="0" /></a></div>
		</td>
		<td width="487" style="padding-bottom:10px;">
			<a class="pageindex" href="javascript:showLogin('A2');">Publications</a>
			<div id="expand_A2" style="display:none;visibility:hidden;margin-left:24px;"> 
				<ul>
				<@loop "SLARRAY_135">
				<li><a href="<@col 151>"<@col 152>><@col 4></a><@col 153></li>
				<@/loop>
				</ul>
			</div>
		</td>
	</tr>
	<tr valign="top">
		<td width="13">
			<div id="icon_A3" style="padding:0px;height:12px;width:9px;background:url('/IMAGES/expand-plus.gif') no-repeat bottom left;"><a href="javascript:showLogin('A3');"><img src="/IMAGES/clear.gif" width="9" height="9" border="0" /></a></div>
		</td>
		<td width="487" style="padding-bottom:10px;">
			<a class="pageindex" href="javascript:showLogin('A3');">Professional Issues</a>
			<div id="expand_A3" style="display:none;visibility:hidden;margin-left:24px;"> 
				<ul>
				<@loop "SLARRAY_137">
				<li><a href="<@col 151>"<@col 152>><@col 4></a><@col 153></li>
				<@/loop>
				</ul>
			</div>
		</td>
	</tr>
	<tr valign="top">
		<td width="13">
			<div id="icon_A4" style="padding:0px;height:12px;width:9px;background:url('/IMAGES/expand-plus.gif') no-repeat bottom left;"><a href="javascript:showLogin('A4');"><img src="/IMAGES/clear.gif" width="9" height="9" border="0" /></a></div>
		</td>
		<td width="487" style="padding-bottom:10px;">
			<a class="pageindex" href="javascript:showLogin('A4');">Prizes and Awards</a>
			<div id="expand_A4" style="display:none;visibility:hidden;margin-left:24px;"> 
				<ul>
				<@loop "SLARRAY_138">
				<li><a href="<@col 151>"<@col 152>><@col 4></a><@col 153></li>
				<@/loop>
				</ul>
			</div>
		</td>
	</tr>
	<tr valign="top">
		<td width="13">
			<div style="padding:0px;height:12px;width:9px;"><@spacer 9x12></div>
		</td>
		<td width="487" style="padding-bottom:10px;">
			<a class="pageindex" href="/danddg">Division Executive Committees</a>
		</td>
	</tr>
	<tr valign="top">
		<td width="13">
			<div style="padding:0px;height:12px;width:9px;"><@spacer 9x12></div>
		</td>
		<td width="487" style="padding-bottom:10px;">
			<a class="pageindex" href="/dgroupexeccomm">Discussion Group Executive Committees</a>
		</td>
	</tr>
</table>
	

<script language="javascript" type="text/javascript">

// preload the minus image
var preload_minus = new Image(9,9);
preload_minus.src ='/IMAGES/expand-minus.gif';

function showLogin(divid) {
	var ShowExpandDiv=document.getElementById("expand_" + divid);
	var ShowExpandIco=document.getElementById("icon_" + divid);
	if (ShowExpandDiv.style.visibility == 'visible') {
		ShowExpandDiv.style.visibility='hidden';
		ShowExpandDiv.style.display='none';
		ShowExpandIco.style.background='url(/IMAGES/expand-plus.gif) no-repeat bottom left';
		} else {
		ShowExpandDiv.style.visibility='visible';
		ShowExpandDiv.style.display='inline';
		ShowExpandIco.style.background='url(/IMAGES/expand-minus.gif) no-repeat bottom left';
		}
	
}

</script>
