<h1>Texts and Translations Series Editorial Board</h1>
Function: Over a period of five years, will identify projects in Arabic language and literature for the series. Solicits and selects proposals for books, helps develop projects, and reviews all prospectuses and manuscripts that are forwarded to the Publications Committee for final approval.

Staff liaisons: Kathleen Fitzpatrick and Margit Longbrake (<a href="mailto:ttedbd@mla.org">ttedbd@mla.org</a>)

Samer M. Ali, 2009–14
Michelle Hartman, 2009–14
Saree Makdisi, 2009–14 (Ch.)
Nadia G. Yaqub, 2012–14
