<h1>James Russell Lowell Prize Selection Committee</h1>
Function: Selects the winner of the prize for an outstanding book published by a member of the Modern Language Association during the previous year. Committee members are appointed by the Committee on Honors and Awards. Because of recusals, some members may not participate in some judging rounds. Queries for the committee or about the prize should be sent to <a href="mailto:awards@mla.org">awards@mla.org</a>.

Andrew Elfenbein, 2012–13; 2013 (Ch.)
Alejandro Herrero-Olaizola, 2012–13
Daniel Young-Hoon Kim, 2012–13
Elisabeth Akhimoff Ladenson, 2013–14
Jing Tsu, 2013–14
