<h1>Aldo and Jeanne Scaglione Prize for Italian Studies Selection Committee</h1>
Function: Selects, every second year, the winner of the prize for an outstanding scholarly work by a member of the Modern Language Association on any phase of Italian literature or culture or comparative literature involving Italian. Committee members are appointed by the Committee on Honors and Awards. Because of recusals, some members may not participate in some judging rounds. Queries for the committee or about the prize should be sent to <a href="mailto:awards@mla.org">awards@mla.org</a>.

Elizabeth Victoria Leake, 2013–15
Graziella Parati, 2012–14; 2013 (Ch.)
Eileen Adair Reeves, 2012–14
