<h1>Committee on Information Technology </h1>
Function: Initiates projects, publications, and other activities relating to the use of computers and other technologies for teaching and research in the language and literature fields; advises on matters relating to technology.

Staff liaisons: Kathleen Fitzpatrick and Stephen Olsen (<a href="mailto:cit@mla.org">cit@mla.org</a>)

Brian Croxall, 2011–14
Marguerite Helen Helmers, 2013–16
Mildred Jackson, 2013–16
Jason B. Jones, 2012–15
Bethany Nowviskie, 2010–14; 2011–14 (Ch.)
Julie Sykes, 2012–15
Victoria E. Szabo, 2011–14
