<h1>Commonly Used Abbreviations in the Historical Enrollments Survey</h1>
<table>
<tr>
<td>C</td>
<td>College</td>
</tr>
<tr>
<td>U</td>
<td>University</td>
</tr>
<tr>
<td>S</td>
<td>State</td>
</tr>
<tr>
<td>Jr</td>
<td>Junior</td>
</tr>
<tr>
<td>Comm C</td>
<td>Community College</td>
</tr>
<tr>
<td>Inst</td>
<td>Institute</td>
</tr>
<tr>
<td>Tech</td>
<td>Technology</td>
</tr>
<tr>
<td>Tech</td>
<td>Technical</td>
</tr>
<tr>
<td>Sch</td>
<td>School</td>
</tr>
<tr>
<td>Prep</td>
<td>Preparatory</td>
</tr>
<tr>
<td>Ctr</td>
<td>Center</td>
</tr>
<tr>
<td>St</td>
<td>Saint</td>
</tr>
<tr>
<td>Theo</td>
<td>Theology</td>
</tr>
<tr>
<td>A&M</td>
<td>Agricultural and Mechanical</td>
</tr>
<tr>
<tr>
<td>Ag</td>
<td>Agriculture</td>
</tr>
<td>Ag</td>
<td>Agricultural (without Mechanical)</td>
</tr>
<tr>
<td>Mech</td>
<td>Mechanical (without Agricultural)</td>
</tr>
<tr>
<td width="40%">A, M &amp; Normal</td>
<td>Agricultural, Mechanical, and Normal</td>
</tr>
</table>
