<h1>Elections Committee</h1>
Function: Supervises the nominations and elections to the Delegate Assembly. See the MLA constitution (articles 10.D and 11.B) for details. Committee members are elected by the Delegate Assembly.

Staff liaison: Carol Zuses (<a href="mailto:governance@mla.org">governance@mla.org</a>)

Leela Gandhi, 2014
Robin Truth Goodman, 2014–15
Christopher M. Lupke, 2014–15
Molly Murray, 2013–14
Therí Alyce Pickens, 2014–15
Shanté Paradigm Smalls, 2014–15
Carolyn S. Williams, 2013–14; 2014 (Ch.)
