<h1>Committee on Scholarly Editions</h1>
Function: Serves as a clearinghouse for information about scholarly editing and editorial projects; offers advice and consultation to editors on request; honors excellence in editing by awarding emblems to qualified volumes; promotes dissemination of reliable texts for classroom use and among general readers.

Staff liaisons: Kathleen Fitzpatrick and James Hatch (<a href="mailto:cse@mla.org">cse@mla.org</a>)

Julia H. Flanders, 2011–15
Zachary Lesser, 2010–14
Stephen G. Nichols, 2011–15
Kenneth M. Price, 2012–16
Jesús Rodríguez-Velasco, 2010–14
Susan Schreibman, 2010–14; 2012–14 (Coch.)
Raymond G. Siemens, 2011–15; 2013–15 (Coch.)
Andrew M. Stauffer, 2013–17
John Kevin Young, 2012–16
