<h1>William Sanders Scarborough Prize Selection Committee</h1>
Function: Selects the winner of the prize for an outstanding scholarly work in the field of Black American life and letters. Committee members are appointed by the Committee on Honors and Awards. Because of recusals, some members may not participate in some judging rounds. Queries for the committee or about the prize should be sent to <a href="mailto:awards@mla.org">awards@mla.org</a>.

Thadious M. Davis, 2011–13
Gene Andrew Jarrett, 2013–15; 2013 (Ch.)
Alexander G. Weheliye, 2012–14
