<h1>Committee on Contingent Labor in the Profession</h1>
<u>Charge</u>

The Committee on Contingent Labor in the Profession is charged with considering a range of issues that affect teachers of modern languages and literatures in institutions of higher education who hold non-tenure-track appointments (e.g., salary and benefits, workplace issues and conditions of employment, demographics, participation in departmental and institutional governance, academic freedom, professional development).  The committee should collect information useful to individuals and departments and identify effective policies and practices.  The committee should organize convention sessions and should consider proposing association publications and other projects that address the concerns of non-tenure-track faculty members and the departments that employ them.  The committee will report annually to the Executive Council. 

<@if ($done_already)>
<p>You have already submitted your self-nomination for appointment to this committee.<br /><a href="/commsugg_clip_nominate">Click here to edit your submission</a></p>
<@else>
<a href="/commsugg_clip_nominate">Complete a self-nomination form for the Committee on Contingent Labor in the Profession</a>
<@/if>
