<h1>Committee on Honors and Awards</h1>
Function: Oversees the procedures that result in the nomination and determination of those receiving MLA honors and awards. Reviews proposals for honorary members and fellows.

Staff liaisons: Rosemary G. Feal and Douglas Steward (<a href="mailto:awards@mla.org">awards@mla.org</a>)

Sahar Amer, 2011–14
Gwendolyn Barnes-Karol, 2013–16
Marshall J. Brown, 2011–14; 2012–14 (Ch.)
Leah Sinanoglou Marcus, 2013–16
Mark F. Pietralunga, 2012–15
Carlos Alberto Vega, 2013–15
Yasemin Yildiz, 2013–16
