<h1><i>PMLA</i> Editorial Board</h1>
Function: Makes final decisions on acceptance of articles for <i>PMLA</i>.

Staff liaison: Judy Goulding (<a href="mailto:pmlaeditorialboard@mla.org">pmlaeditorialboard@mla.org</a>)

Evelyne Ender, 2012–14
Simon E. Gikandi, Editor, 2011–16
Julia Charlotte Hell, 2013–15
Christopher Looby, 2012–14
Deidre Shauna Lynch, 2012–14
Kalpana Rahita Seshadri, 2013–15
Noël Valis, 2013–15
