<h1>Committee on Amendments to the Constitution </h1>
Function: Receives proposals for amendments from the Delegate Assembly, the Executive Council, or any group of at least twenty-five members of the association; formulates such proposals into amendments and brings them before the Delegate Assembly for action.

Staff liaison: Carol Zuses (<a href="mailto:governance@mla.org">governance@mla.org</a>)

Carlos J. Alonso, 2011–14; 2012–14 (Ch.)
Jonathan Arac, 2013–16
Jean Elizabeth Howard, 2013–16
Seth Lerer, 2012–15
Mary Louise Pratt, 2012–15
