<h1>MLA Committee on Contingent Labor in the Profession</h1>

<@if ($done_already)>
<p>Thank you for submitting your self-nomination for appointment to this committee.<br /><a href="/commsugg_clip_nominate">Click here to edit your submission</a></p>
<p>The Executive Council will review your answers to the questions on the self-nomination form, as well as information on your membership record, including the languages you teach and your membership in MLA divisions and discussion groups, shown below.<br /><a href="/join_update">Click here to update this and other membership information</a>. (Note: Clicking on this link will bring you to the membership section of the Web site.)</p>
<table width="100%" style="border-collapse: collapse" cellpadding="4">
	<tr>
		<td width="50%" style="border: 1px solid black"><b>Languages Taught</b></td>
		<td width="50%" style="border: 1px solid black"><b>Divisions and Discussion Groups</b></td>
	</tr>
	<tr>
		<td valign="top" style="border: 1px solid black"><@$memberdata{languages_taught}></td>
		<td valign="top" style="border: 1px solid black"><@$memberdata{divisions_groups}></td>
	</tr>
</table>
<@else>
<p><a href="/commsugg_clip_nominate">Complete a self-nomination form for the Committee on Contingent Labor in the Profession</a></p>
<@/if>
