<h1>Aldo and Jeanne Scaglione Prize for a Translation of a Scholarly Study of Literature Selection Committee</h1>
Function: Selects, every second year, the winner of the prize for an outstanding translation into English of a book-length work of literary history, literary criticism, philology, or literary theory. Committee members are appointed by the Committee on Honors and Awards. Because of recusals, some members may not participate in some judging rounds. Queries for the committee or about the prize should be sent to <a href="mailto:awards@mla.org">awards@mla.org</a>.

Sandra L. Bermann, 2012–15
Earl E. Fitz, 2010–13; 2012–13 (Ch.)
John McGowan, 2008–11, 2013
