<h1>Human Rights and Humanities Conference
21-22 October 2005</h1>
<h2>Graduate Center, City University of New York
365 5th Avenue
New York, New York</h2>
Click <a href="/humanconf_schedule">here</a> to view conference program.
Registration for this conference is now closed. If there are cancellations, other places may open up, so please check back at this site, which will be updated regularly.

We invite you to the Conference on Human Rights and the Humanities, sponsored by the Modern Language Association of America and the Graduate Center, City University of New York. 

Judith Butler and Domna C. Stanton
Conference Chairs 

<img src="/IMAGES/humanrightslogo.gif " width=180 height=65 border=0 alt="logo">

<b>Chairs</b>
Judith Butler, Univ. of California, Berkeley
Domna C. Stanton, Graduate Center, City Univ. of New York

<b>Speakers</b>
Lila Abu-Lughod, Abdullahi Ahmed An-Na'im, Kwame Anthony Appiah, Omar Barghouti, Jacqueline Bhabha, Eduardo Cadava, Pheng Cheah, Samera Esmeir, Michel Feher, Margaret Higonnet, Thomas Keenan, David W. Kennedy, Iain Levine, Bruce Robbins, Kenneth Roth, Alisa Solomon, Sidonie Smith, Gayatri Chakravorty Spivak, Shibley Telhami, and Leti Volpp
