<h1>Philadelphia’s Premier Chefs’ Favorite Restaurants</h1>
<h2>Chef Jose Garces of the Garces Restaurant Group</h2>
At age thirty-six, Chef Jose Garces has fast become one of the country’s most distinguished chefs and is the current reigning <b>IRON CHEF</b>. Garces is the owner and executive chef of the five Philadelphia restaurants that form the <a href="http://www.grg-mgmt.com" target="_blank">Garces Restaurant Group</a>: <b>Amada</b>, an authentic Andalusian tapas bar; <b>Tinto</b>, a wine bar and restaurant inspired by the Basque region of Northern Spain and Southern France; <b>Distrito</b>, a spirited celebration of the vibrant culture and cuisine of Mexico City; <b>Chifa</b>, a Latin-Asian restaurant named after the Peruvian restaurants of the same name; and <b>Village Whiskey</b>, a classic American bar with over eighty whiskeys and bar snacks.

When Chef Garces is not dining in his own restaurants, he prefers <b>Vetri</b>. Marc Vetri, trained in Bergamo, Italy, by some of the region’s most noted chefs,  brings a bold, contemporary sensibility to classic Italian cooking at his Philadelphia restaurant, <b><a href="http://www.vetriristorante.com" target="_blank">Vetri</a></b>. His outstanding pastas, innovative flavor combinations, and artful presentations captured diners’ imaginations and propelled Vetri to the forefront of culinary trends. Freshness is his muse, and he chooses the finest seasonal ingredients from local farm markets and premium purveyors around the United States and Italy for his straightforward preparations. 


<h2>Chef Georges Perrier of Le Bec-Fin and Table 31</h2>
Chef Perrier trained at La Pyramide in Vienne, France, and started working in Philadelphia in the late 1960s. After its opening in 1970, <b><a href="http://lebecfin.com" target="_blank">Le Bec-Fin</a></b> soon established a reputation as Philadelphia’s finest restaurant.  Chef Perrier is also the proprietor of <b><a href="http://www.table-31.com" target="_blank">Table 31</a></b>, named after the hottest table at Brasserie Perrier. Table 31’s menu consists of a wide selection of veal, steak, and seafood dishes. Chef Perrier’s cuisine continues to grow and change over time, while maintaining its signature trademarks of simplicity, elegance, and flavor.

When Chef Perrier is not dining at his own restaurants, he prefers <b>Fond</b>. Named after the caramelized bits stuck to a pot bottom before it gets deglazed, <b><a href="http://www.fondphilly.com" target="_blank">Fond</a></b> is the joint venture of Lee Styer, previously sous chef at Le Bec-Fin; Jessie Prawlucki, formerly executive pastry chef there; and longtime Lacroix captain Tory Keomanivong. Fond's main courses are fairly priced between $18 and $26.  Located in South Philadelphia, this new BYOB is the hottest new spot in town.

<h2>Chef Mike Solomonov of Zahav</h2>
During his two-year tenure at Marigold Kitchen, Solomonov was selected as one of the country’s Rising Star Chefs by <i>Restaurant Hospitality Magazine</i> in 2007 and named Best Chef by <i>Philadelphia Magazine</i> in 2006. <b><a href="http://www.zahavrestaurant.com" target="_blank">Zahav</a></b> showcases Israeli-Mediterranean cuisine. In 2008, Zahav was named one of <i>Esquire</i>’s Top 20 New Restaurants in America. 

When Chef Solomonov is not dining in his own restaurant, he prefers <b>Pho 75</b>. Known for its delicious pho and fast service, Pho 75 is a fantastic Vietnamese restaurant.  Pho is a tasty Vietnamese dish that combines thinly sliced meat with noodle soup.  This is a great place to eat on the go or to sit down for a simple dining experience. 
