<h1>Frugal Philly: From Cheap Eats to the Big Splurge</h1>
<h3>By Jeff Maskovsky</h3>
<h2>The Restaurant Scene</h2>
It’s a bit of a clich&eacute;, I know, but it’s really true that these days there is much more to Philadelphia’s culinary scene than cheesesteaks and soft pretzels. For out-of-towners in search of good, reasonably priced meals, this is both good news and bad. Philadelphia’s culinary renaissance of the last decade has made it easier than ever to find great food, but much of it now comes at a hefty price. For those attending December’s AAA Annual Meeting in Philadelphia, this is an eating guide with budget-conscious options that also includes a few trendy hot spots for those who would like to splurge. Nearly all of the restaurants mentioned here are vegetarian-friendly. Links are provided where available.
<h2>Convenience and Value</h2> 
The Philadelphia Marriott Downtown is in the middle of the Center City district, a part of the city that caters primarily to tourists, conventioneers, and corporate workers. As I mentioned in my last column, the best bet for an affordable breakfast or lunch is Reading Terminal. Keep in mind, however, that the terminal is now quite the tourist site, with throngs of visitors at lunchtime. If you’re looking for a less-crowded alternative you might also try one of the reasonably priced restaurants listed here, which are all within a fifteen-minute walk of the Philadelphia Marriott.

<ul><li><a href="http://www.cariboucafe.com/" target="_blank"><b>Caribou Caf&eacute;</b></a>, 1126 Walnut St., 215 625-9535, lunch or dinner. This bistro fare is perfect for lunch but is also nice for a late afternoon drink or dinner.</li> 
<li><a href="http://www.govindasvegetarian.com/" target="_blank"><b>Govinda’s  Gourmet Vegetarian</b></a>, 1408 South St., 215 985-9303, lunch, dinner, takeout. This inexpensive restaurant has been around forever and is great for vegan or vegetarian takeout, though it’s a bit of a hike from the Marriott.</li> 
<li><b>Grocery 13 Inc</b>, 105 S. 13th St., 215 922-5252, breakfast, lunch, takeout. Shop for muffins, sandwiches, salads, and designer junk food at this centrally located high-end prepared foods store.</li> 
<li><a href="http://76.12.207.171/" target="_blank"><b>Italian Bistro</b></a>, 211 S. Broad St., 215 731-0700, lunch or dinner. You won’t find anything exceptional here, but the location and prices are good.</li> 
<li><a href="http://www.leehowfook.com/" target="_blank"><b>Lee How Fook</b></a>, 219 N. 11th St., 215 925-7266, lunch or dinner. This Cantonese restaurant will probably seem familiar to those of you who frequent North American Chinatowns: it’s not glamorous, but the food is good and inexpensive, and the service is prompt.</li> 
<li><b>Little Pete’s</b></a>, 219 S. 17th St., 215 232-5001, breakfast, lunch, dinner, late-night snack. In the “greasy spoon” category, this is one of the few places in Center City Philadelphia that is open around the clock. It’s also a gathering place for local politicians and their hangers-on. You can go no matter what time your convention session ends.</li> 
<li><a href="http://www.maozusa.com/" target="_blank"><b>Maoz Vegetarian</b></a>, 1115 Walnut St., 215 922-3409, lunch, dinner, takeout. This international chain offers great Middle Eastern vegetarian takeout, and it’s open late.</li>
<li><b>More than Just Ice Cream</b>, 1119 Locust St., 215 574-0586, lunch, dinner, dessert. It’s best known for dessert (try the hot fudge sundae), but I also like the soups, salads, sandwiches, and lunch specials.</li>
<li><a href="http://www.moriartyspub.com/" target="_blank"><b>Moriarty’s</b></a>, 1116 Walnut St., 215 627-7676, lunch, dinner, bar. With decent pub food, this is a good place to go for a cheap lunch or for a beer between sessions. Open late.</li>
<li><a href="http://www.monkscafe.com/" target="_blank"><b>Monk’s Belgian Caf&eacute;</b></a>, 264 S. 16th St., 215 545-7005, lunch, dinner, drinks. The walk here might exceed fifteen minutes, but this Belgian beer emporium is a perfect choice if you’re looking for a slightly upscale but still affordable lunch or dinner, especially if you stick to burgers, salads, and beer. The bar is small and the restaurant section is often crowded, but it’s worth the wait. Vegetarians should try the seitan cheesesteak.</li>
<li><b>Nan Zhou Hand Drawn Noodles</b>, 927 Race St., 215 923-1550, lunch or dinner. Don’t miss this cheap, cash-only hole-in-the-wall with absolutely fantastic food! They do not easily accommodate large groups, so go alone or with a friend.</li>
<li><b>New Samosa</b>, 1214 Walnut St., 215 546-2009, lunch or dinner. This is one of many reasonably priced, Indian vegetarian lunch buffets.</li>
<li><a href="http://www.eatatvietnam.com/welcome.cfm" target="_blank"><b>Vietnam</b></a>, 221 N. 11th St., Chinatown, 215 592-1163, lunch or dinner. This place is popular, so you might have to wait for a table. It’s a bit farther from the Marriott than others in this category, but the walk is well worth the trip.</li> </ul> 
<h2>Less Convenient, But Still Good Values</h2>
If you have the time or inclination to venture beyond Center City, these best value restaurants are also well worth a visit. Please note that taxis are not always easy to flag down in Philadelphia, so it’s probably best to hail one directly in front of the Marriott or to ask hotel staff to reserve one for you.

<ul><li><b>Caf&eacute; Huong Lan</b>, 1037 S. 8th St., 215 629-9966, lunch or dinner. Attention foodies: forego the Philly cheesesteak and try instead a delicious Vietnamese pork hoagie from this inexpensive, cash-only restaurant in South Philadelphia. Not the best place for vegetarians.</li>
<li><b>Carmen’s Country Kitchen</b>, 1301 S. 11th St., 215 339-9613, brunch. The food at this small, South Philadelphia brunch place is great, but that’s almost beside the point. The real reason to go is Carmen herself and the queer hipster scene she nurtures in her restaurant.</li>
<li><b>Jamaican Jerk Hut</b></a>, 1436 South St., 215 545-8644, dinner. This festive, low-budget restaurant encourages you to bring your own bottle of rum to make a night of it. Not a good choice for vegetarians.</li>
<li><a href="http://www.teapotteapot.com/ttmenu.html" target="_blank"><b>Mustard Greens</b></a>, 622 S. 2nd St., 215 626-0833, dinner. I tend to prefer cheap, greasy holes-in-the-wall to restaurants attempting “nouvelle” Chinese cuisine, but this place is the exception that proves the rule. You’ll pay a bit more here, but the food is definitely worth it.</li>
<li><a href="http://www.namphuongphilly.com/" target="_blank"><b>Nam Phuong</b></a>, 1100-1120 Washington Ave., 215 468-1120, lunch or dinner. Delicious, low-priced Vietnamese food! Warning: don’t go here for the ambience. The place looks like a giant, old warehouse (because that’s what it is). Ideal for large groups.</li>
<li><b>Rx Cafe</b>, 4443 Spruce St., 215 222-9590, brunch or dinner. Another West Philadelphia option, this restaurant serves fresh, organic New American cuisine in a former pharmacy. Brunch is the better buy.</li>
<li><a href="http://www.sabrinascafe.com/" target="_blank"><b>Sabrina’s Caf&eacute;</b></a>, 910 Christian St., 215 574-1599, breakfast, brunch, dinner (no dinner on Sunday and Monday). Hip, reasonably priced New American restaurant near South Philadelphia’s famous Italian Market. Be prepared to wait with other hipsters for a table or try the second location at 1804 Callowhill St., near the Art Museum, 215 636-9061.</li>
<li><a href="http://www.standardtap.com/" target="_blank"><b>Standard Tap</b></a>, 901 N. 2nd St., 215 351-9144, dinner or drinks. This is a neighborhood bar for the hipster crowd. It serves good, satisfying bar food and is a fun place to hang out.</li>
<li><b>Taqueria La Veracruzana</b>, 908 Washington Ave., 215 465-1440, lunch or dinner. An “authentic,” low-key BYOB tacqueria catering primarily to Philadelphia’s Mexican residents. Cafeteria-style ambiance, in the Italian Market. If you are on the other side of town, try <b>Taco Riendo</b>, 1301 N. 5th St., 215 235-2294, for a similar, pleasant experience.</li>
<li><b>Vientiane Caf&eacute;</b>, 4728 Baltimore Ave., 215 726-1095, lunch or dinner. This West Philly Laotian-Thai restaurant isn’t exactly “authentic,” but it serves good food at reasonable prices.</li>
<li><a href="http://www.zahavrestaurant.com/" target="_blank"><b>Zahav</b></a>, 237 Saint James Place, 215 625-8800, lunch, dinner, drinks, desserts. This modern Israeli restaurant is a bit more upscale and pricey than many of the other Middle Eastern eateries in town, but it’s also one of the best. It serves quirky cocktails, too.</li> </ul> 
<h2>The Big Splurge</h2> 
If you are going to spend a lot of money for a meal, it ought to be extraordinary. Here is a list of amazing restaurants where you’ll pay top dollar, but it will be worth it. 

<ul><li><a href="http://www.bindibyob.com/bindi/" target="_blank"><b>Bindi</b></a>, 105 S. 13th St., 215 922-6061, dinner or drinks, reservations required. This Indian–New American fusion restaurant is across the street from its sister restaurant, <a href="http://www.lolitabyolo.com/lolita/" target="_blank"><b>Lolita</b></a> (106 S. 13th St., 215 546-7100), which offers nouvelle Mexican. Both are BYOB. You can’t find a better meal in closer proximity to the conference hotel.</li>
<li><a href="http://www.bistrosttropez.com/" target="_blank"><b>Bistro St Tropez</b></a>, 2400 Market St., Suite 427, lunch or dinner, reservations required. This upscale French bistro is a fun, more reasonably priced alternative to <a href="http://www.lebecfin.com/" target="_blank"><b>Le Bec-Fin</b></a>, the city’s premier fine dining restaurant (1523 Walnut St., 215 567-1000). Bistro St Tropez is located on the fourth floor of the Philadelphia Design Center. Enter on Market St., pass by the design stores, and take the elevator up. Request a table with a view when you make your reservation. Highly recommended.</li>
<li><a href="http://www.buddakan.com/" target="_blank"><b>Buddakan</b></a>, 325 Chestnut St., 215 574-9440, lunch, dinner, drinks, reservations required. If your idea of fun is eating dinner at the feet of a giant Buddha surrounded by a youthful, too-chic-for-words crowd, then this trendy, expensive, pan-Asian franchise is for you. I’ve never made it past the bar here, but by all accounts the food is incredible.</li>
<li><a href="http://www.forkrestaurant.com/" target="_blank"><b>Fork</b></a>, 306 Market St., 215 625-9425, lunch, dinner, drinks. This hip, Manhattan-styled, New American eatery offers great seasonal and artisanal foods. Eat at the bar if you can’t get a reservation. Highly recommended.</li>
<li><a href="http://www.horizonsphiladelphia.com/" target="_blank"><b>Horizons</b></a>, 611 S. 7th St., 215 923-6117, dinner, reservations required. Vegans rejoice! This chic, trendy restaurant offers new vegan cuisine that is so cleverly presented and delicious even your most intolerant meat-loving friends will enjoy dining here with you. Highly recommended.</li>
<li><a href="http://www.knockphilly.com/" target="_blank"><b>Knock</b></a>, 225 S. 12th St., 215 925-1166, lunch, brunch, dinner, drinks, reservations required. Friends tell me that this new, gay-owned, New American eatery and bar is fabulous!</li>
<li><b>Melograno</b>, 2012 Sansom St., 215 875-8116, dinner, reservations highly recommended. This modern Roman trattoria offers some of the most inspired Italian food in the city. Highly recommended.</li>
<li><a href="http://www.morimotorestaurant.com/" target="_blank"><b>Morimoto’s</b></a>, 723 Chestnut St., 215 413-9070, dinner, reservations required. If you are looking for a splurge that induces feelings of irrational exuberance and are willing to pay more than a hundred dollars for your meal, give this place a try. The omakase (chef’s choice) is extraordinary! The saner among us can enjoy delicious Japanese food at the more moderately priced <a href="http://www.shiroihana.com/" target="_blank"><b>Shiroi Hana</b></a> (222 S. 15th St., 215 735-4444, lunch or dinner) and <b>Kisso Sushi Bar</b> (205 N. 4th St., 215 922-1770).</li>
<li><a href="http://www.osteriaphilly.com/" target="_blank"><b>Osteria</b></a>, 640 N. Broad St., 215 763-0920, lunch or dinner. This James Beard–nominated North Philadelphia Italian restaurant is the less expensive alternative to the centrally located and highly celebrated <a href="http://www.vetriristorante.com/" target="_blank"><b>Vetri</b></a> (1312 Spruce St., 215 732-3478). Highly recommended.</li>
<li><a href="http://www.pumpkinphilly.com/" target="_blank"><b>Pumpkin</b></a>, 1713 South St., 215 545-4448, dinner, reservations highly recommended. Hip, “intimate”  (only twenty-eight seats), BYOB eatery. The menu changes daily, and people rave about the whole fish specials. Not for vegetarians.</li>
<li><a href="http://www.pennsviewhotel.com/ristorante_panorama/index.aspx" target="_blank"><b>Ristorante Panorama</b></a>, 14 N. Front St., 215 922-7800, lunch, dinner, drinks, reservations required. This trattoria is known as much for its wine flights as for its excellent, contemporary Northern Italian cuisine. If food and wine pairings are your thing, this Old City restaurant is definitely for you.</li>
<li><a href="http://www.sonatarestaurant.com/" target="_blank"><b>Sonata Restaurant</b></a>, 1030 American St., 215 238-1240, dinner, reservations recommended. This newly opened New American BYOB restaurant in trendy Northern Liberties is getting great reviews; an upscale alternative to the <a href="http://www.standardtap.com/" target="_blank"><b>Standard Tap</b></a>.</li>
<li><a href="http://www.levirtu.com/" target="_blank"><b>Le Virt&ugrave;</b></a>, 1927 E. Passyunk Ave., 215 271-5626, dinner, reservations required. Locals call Le Virt&ugrave; one of the best Italian restaurants in South Philadelphia. Serving up “cucina tipica”  from the Abruzzi region of Italy, this is at the top of my list.</li></ul> 
