<h1>Leading Contributors to the MLA</h1>
<h2>2006–07 Fiscal Year</h2>
Carlos J. Alonso
Charles Francis Altieri
Gardner Pierce Ashley
David P. Benseler
Rebecca Elizabeth Biron
Alison Booth
Bege K. Bowers
Phyllis Brown
Judith	Butler
Thomas M. Catania
Anne	Donadey
Rosemary G.	Feal
Frances	Ferguson
Gail E. Finney
Andrew	Fippinger
Marcia McClintock	Folsom
Marilyn	Gaddis Rose
Anne Ruggles	Gere
William Germano
Gerald Graff and Cathy L. Birkenstein-Graff
Faye T. Greenwald
Pamela Sue Hardman
Jane	Harper
Carol A. Hawkes
Michael	Holquist
Linda Hutcheon
Francis Abiola Irele
Richard H. Lawson 
Mary N. Layoun 
John P. Leavey 
Peter H. Leffman 
Vincent Barry Leitch 
Martin W. Ley 
Mary Loud 
Yolanda M. Martínez-San Miguel
George	McElroy
Erika A. Metzger
Michael M. Metzger
Janet H.	Michelena
Espy W. Miller
Rose Orlich
Elizabeth Penfield
Marjorie Gabrielle Perloff
R. G. Peterson
Jeanine Parisier Plottel
Catherine Porter
Nancy A. Potter
Mary Louise Pratt
Paula Rabinowitz
Joy Renjilianburgy
Elias L. Rivers
Douglas J. Robillard
Theodore H. Rupp
James L. Sanderson
Joyce A. Scott
Leroy F. Searle
H. Jay	Siskin
Walter Herbert Sokel
Hortense Jeanette Spillers
Domna C.	Stanton
Catharine Roslyn	Stimpson
Katherine	Sugg
Estelle Wormley Taylor
Priscilla B.	Wald
Jenifer K.	Ward
John C.	Wilcox
Pauline Ruth	Yu

The following foundations have contributed matching funds.

The Teagle Foundation
