[[[comment]]]<style type="text/css">.message {padding:4px;background:#ffffcc;border:1px solid #999999;}</style>
<div class="message">The MLA's phone lines are out of service because of damage from the recent storm. To contact the association, please send an e-mail message to the appropriate address below. To view a complete listing of staff members, please visit <a href="/staff">www.mla.org/staff</a>.</div>[[[endcomment]]]
<h1>Contact the MLA</h1>[[[comment]]]SUMMER HOURS//-->From June through August, the MLA headquarters will close at noon on Fridays. [[[endcomment]]]
To see the directory of MLA staff members, click <a href="/staff">here</a>.

<b>26 Broadway, 3rd floor, New York, NY 10004-1789</b>
<blockquote>
<a href="http://www.mla.org">http://www.mla.org</a>
Phone: 646 576-5000
Fax: 646 458-0030
<a href="/directions">Directions</a> to the MLA office
</blockquote>

<b>Association of Departments of English</b>
<blockquote>
<a href="http://www.ade.org">http://www.ade.org</a href>
Phone: 646 576-5132
</blockquote>

<b>Association of Departments of Foreign Languages</b>
<blockquote>
<a href="http://www.adfl.org">http://www.adfl.org</a href>
Phone: 646 576-5132
</blockquote>

<b>Book orders</b>
<blockquote>
<a href="mailto:bookorders@mla.org">bookorders@mla.org</a href>
Phone: 646 576-5161
</blockquote>

<b>Convention</b>
<blockquote>
<a href="mailto:convention@mla.org">convention@mla.org</a href>
General information: 646 576-5262

<a href="mailto:registration@mla.org">registration@mla.org</a href>
Registration: 646 576-5167
</blockquote>

<b>English and foreign language programs </b>
<blockquote>
Phone: 646 576-5132
</blockquote>

<b>Executive director</b>
<blockquote>
<a href="mailto:execdirector@mla.org">execdirector@mla.org</a>
Phone: 646 576-5102
</blockquote>

<b>Governance</b>
<blockquote>
<a href="mailto:governance@mla.org">governance@mla.org</a href>
Phone: 646 576-5103
</blockquote>

<b>Job Information Service</b>
<blockquote>
<a href="mailto:joblist@mla.org">joblist@mla.org</a href>
General information: 646 576-5133
Notices for the <i>List</i>: 646 576-5133
Subscriptions: 646 576-5162
</blockquote>

<b>Membership</b>
<blockquote>
<a href="mailto:membership@mla.org">membership@mla.org</a href>
Phone: 646 576-5151
</blockquote>

<b><i>MLA Commons</i></b>
<blockquote>
<a href="mailto:commons@mla.org">commons@mla.org</a>
Phone: 646 576-5151
</blockquote>

<b><i>MLA International Bibliography</i> services</b>
<blockquote>
<a href="mailto:bibliography@mla.org">bibliography@mla.org</a href>
Phone: 646 576-5053
</blockquote>

<b>MLA journals online</b>
<blockquote>
Technical help: <a href="mailto:journalhelp@mla.org">journalhelp@mla.org</a>
Subscriptions and access: <a href="mailto:subscrip@mla.org">subscrip@mla.org</a>
Phone: 646 576-5155
</blockquote>

<B>MLA Language Map</b>
<blockquote>
<a href="mailto:LanguageMap@mla.org?subject=response to Map@mla.org">LanguageMap@mla.org</a href>
</blockquote>

<b><i>PMLA</i> submissions</b>
<blockquote>
<a href="mailto:pmlasubmissions@mla.org">pmlasubmissions@mla.org</a href>
Phone: 646 576-5026 or 646 576-5024
</blockquote>

<b>Web site content</b>
<blockquote>
<a href="mailto:webcontent@mla.org">webcontent@mla.org</a href>
Phone: 646 576-5018
</blockquote>

<b>Web site technical support</b>
<blockquote>
<a href="mailto:websupport@mla.org">websupport@mla.org</a href>
Phone: 646 576-5202
</blockquote>

For other matters, call 646 576-5000, and you will be connected to the appropriate department. 
