<h1>Leading Contributors to the MLA</h1>
<b>The following contributors generously donated $500 or more to the various MLA funds during the association’s 2013–14 <a href="/fiscalyearcontribut">fiscal year</a>. Find out more about <a href="/contribute">donating to MLA funds</a>.</b>
<style type="text/css"> table.contrib{width: 100%;} td.contrib, td.contribhead, div.contrib {padding-left: 0.5em; padding-right: 0.5em;} td.contribhead {width:50%; height: 28px;} .long{text-indent: -1em; padding-left: 1em;}</style>
<table class="contrib">[[[comment]]]<tr><td class="contribhead">2013–14</td><td class="contribhead">2014–15</td></tr>[[[endcomment]]]<tr valign="top">[[[comment]]]$500 -- 2013–14[[[endcomment]]]<td class="contrib">
<div class="long">In Memory of Sidney P. Albert</div>
Samer M. Ali
<div class="long">Houston A. Baker and Charlotte M. Pierce-Baker</div>
Wendy Laura Belcher
Michael Johannes Boehler
Ann Bugliani
Debra Ann Castillo
Rosemary G. Feal
Margaret W. Ferguson
Kathleen Fitzpatrick
Jody Franklin
Marilyn Gaddis Rose
Irene Kacandes
John P. Leavey
Philip E. Lewis
Kara Grace Marler-Kennedy
Raul Marrero-Fente
Yolanda M. Martinez–San Miguel
Catherine Porter
Patricia Roberts-Miller
Catharine Roslyn Stimpson
Kathleen Woodward

and two anonymous donors
</td>
[[[comment]]]$500 -- 2014–15[[[endcomment]]]<td  class="contrib"></td>
</tr>
</table>

<b>The following contributors generously donated $200 to $499 to the various MLA funds during the association's 2013–14 <a href="/fiscalyearcontribut">fiscal year</a>. Find out more about <a href="http://staging.mla.org/contribute">donating to MLA funds</a>.</b>

<table class="contrib">[[[comment]]]<tr><td class="contribhead">2013–14</td><td class="contribhead">2014–15</td></tr>[[[endcomment]]]<tr valign="top">[[[comment]]]$200 -- 2013–14[[[endcomment]]]<td class="contrib">
Academics for Fairness 
Zahra A. Hussein Ali
Barbara K. Altmann
American Association of Teachers of German
Sarah M. Anderson
Lopamudra B. Basu
Elaine V. Beilin
Lauren Berlant
Sandra L. Bermann
Maryellen Bieder
David Bleich
Leo Braudy
Joan L. Brown
Rebecca Weld Bushnell
Judith Butler
Syndy M. Conger
François Cornilliat
Mary Thomas Crane
Martha J. Cutter
David Damrosch
Gaurav G. Desai
Duane DeVries
Mary Jane Dickerson
Anne Donadey
William Edward Engel
Doucet Devin Fischer
William Germano
Vicky Gottlieb
Laura Green
Donald E. Hall
Pamela S. Hardman
Jane Harper
Elizabeth K. Helsinger
Peter Northrup Heydon
Margaret R. Higonnet
Michael Holquist
Louis Kampf
Thomas Paul Klammer
Christopher Kleinhenz
Laura Hanft Korobkin
Lawrence D. Kritzman
Peter H. Leffman
Vincent Barry Leitch
Herbert S. Lindenberger
<div class="long">In Honor of Herbert S. Lindenberger</div>
David C. Lloyd
Steven Mailloux
William J. Maxwell
Janice Neuleib
Stephen G. Nichols
Yoshitaka Niizeki
Marjorie Gabrielle Perloff
R. G. Peterson
Sandy Petrey
Nancy A. Potter
Ato Quayson
Alan Rauch
Dana J. Ringuette
Roopika Risam
Joyce A. Scott
Julie E. Singer
Martha Nell Smith
Hortense Jeanette Spillers
Karen A. Stolley
Priscilla B. Wald
Cynthia S. Wall
Jack Wasserman
Tim Watson
Carolyn S. Williams
Elizabeth Catherine Wright
George T. Wright
Pauline Ruth Yu

and nine anonymous donors</td>
[[[comment]]]$200 -- 2014–15[[[endcomment]]]<td class="contrib"></td>
</tr>
</table>

<b>The following contributors have generously established endowed funds.</b>

<div class="contrib">Morton N. Cohen
<div class="long">The family of Fenia and Yaakov Leviant</div>
Howard R. Marraro
The Lois Roth Endowment
Aldo and Jeanne Scaglione
Joseph and Mimi Singer</div>
