<h1>Donate to the MLA</h1>
<p>
Contributions to the Modern Language Association support graduate student travel to the MLA convention, advocacy on behalf of the profession, assistance for scholars in developing nations, resources for non-tenure-track faculty members and unemployed members, and more. All donations made by United States taxpayers are tax-deductible. 
</p>


<p><a href="/[[[@if (!$cookie{'id'})]]]contribute_login?xurl=[[[@endif]]]contribute_funds">Choose a Fund to Support</a></p>

<p><a href="/[[[@if (!$cookie{'id'})]]]contribute_login?xurl=[[[@endif]]]contribute_travel">Support Travel to the MLA Convention</a></p>


<@comment>
<@if ($cookie{id} eq "")>
	[[[insert file "contribute_login"]]]
<@else>
	<form action="/contribute_form&cmode=[[[arg cmode]]]" method="post">
	<table border="0" cellpadding="5" cellspacing="1" width="100%" bgcolor="[[color1]]">
		<tr>
			<td align="center" bgcolor="[[color3]]">
				<input type="button" name="gonon" value="Click to contribute >" onClick="document.location='/contribute_form&cmode=[[[arg cmode]]]'">
			</td>
		</tr>
	</table>
	</form>
<@/if>

<@endcomment>
