<h1>Convention Deadlines</h1>
<p>Except where indicated otherwise, the deadline is the close of business on the date listed. For specific information, please consult the <a href="/conv_procedures">procedures</a>. </p>
<p>Please address all correspondence concerning sessions to the appropriate person below.</p>
<p>
Divisions and discussion groups: Karin Bagnall, <a href="mailto:kbagnall@mla.org">kbagnall@mla.org</a><br>
Special sessions: Stacey Courtney, <a href="mailto:scourtney@mla.org">scourtney@mla.org</a><br>
Committees: Maribeth T. Kraus, <a href="mailto:mkraus@mla.org">mkraus@mla.org</a><br> 
Allied organizations: <a href="mailto:alliedcoordinator@mla.org">alliedcoordinator@mla.org</a>
</p>

<style>
#deadlines {border-collapse:collapse; border: 1px solid [[color1]]; padding:3px; cellspacing:1px; width:100%;}
#deadlines th {text-align:center;  color: #ffffff; background:[[color2]]; font-weight:bold;}
#deadlines td {border: 1px solid [[color1]];  padding:3px; vertical-align:top; background: #ffffff;}
td.date {color:[[color1]]; width:20%;}
</style>

<table id="deadlines">

<tr>
	<th colspan="2">2014</th>
</tr>
<tr>
	<td class="date">9–12 Jan.</td>
	<td>2014 MLA convention held in Chicago</td>
</tr> 
<tr>
	<td class="date">10 Jan.</td>
	<td>Postmark deadline for registration refund request for January 2014 convention</td>
</tr> 
<tr>
	<td class="date">21 Feb.</td>
	<td>Deadline for submission of January 2015 convention calls for papers. <b><i>Divisions must submit at least one call for papers per convention.</b></i></td>
</tr>	
<tr>
	<td class="date" rowspan="3"><b>1 Apr. </b></td>
	<td><b>Program copy deadline</b> for divisions, discussion groups, MLA committees, and allied organizations and for special-session proposals and forum proposals for January 2015 convention</td>
	</tr>   
<tr>
	<td>Deadline for receipt of requests for waiver of membership requirements for participants in the January 2015 convention</td>
</tr>   
<tr>
	<td>Deadline for submission of requests for audiovisual equipment for the January 2015 convention</td>
</tr>  
<tr>
	<td class="date">7 Apr.</td>
	<td>Deadline by which session participants at the January 2015 convention must be listed on the MLA membership rolls</td>
</tr>     
<tr>
	<td class="date">15 Apr.</td>
	<td>Deadline for receipt of requests for funds for speakers at the January 2015 convention </td>
</tr>
<tr>
	<td class="date">early June</td>
	<td>Notification of Program Committee’s decisions mailed to members who submitted proposals for special sessions and competitive sessions for January 2015 convention</td>
</tr> 
<tr>
	<td class="date">mid June</td>
	<td>Notification of decisions on funding requests mailed to organizers who applied for funds for speakers</td>
</tr>       

<tr>
	<td class="date">mid July</td>
	<td>Proofs of program copy and information on date, time, and place of January 2015 convention sessions sent to organizers</td>
</tr>
<tr>
	<td class="date">late July</td>
	<td>Deadline for receipt of corrections to proofs of program copy for the November 2014 (Program) issue of <i>PMLA</i> for January 2015 convention</td>
</tr> 
<tr>
	<td class="date">early Aug.</td>
	<td>Session organizers may post calls for papers for 2016 convention. <b><i>Divisions must submit at least one call for papers per convention.</i></b></td>
</tr> 
<tr>
	<td class="date">late Aug.</td>
	<td>Information on date, time, and place of the January 2015 convention sessions to be sent by organizers to panelists</td>
</tr> 
<tr>
	<td class="date">late Sept.</td>
	<td>Fall 2014 <i>MLA Newsletter</i> (Convention Issue) mailed to members and posted online</td>
</tr> 
<tr>
	<td class="date">early Oct.</td>
	<td>Early registration deadline for January 2015 convention</td>
</tr> 
<tr>
	<td class="date">early Dec.</td>
	<td>Preregistration deadline for January 2015 convention</td>
</tr> 
<tr>
	<td class="date">early Dec.</td>
	<td>Hotel reservation deadline for January 2015 convention</td>
</tr> 	
<tr>
	<th colspan="2">2015</th>
</tr>
<tr>
	<td class="date">8–11 Jan.</td>
	<td>2015 MLA convention held in Vancouver</td>
</tr> 
</table>
