<h1>Already Registered</h1>
There is already a registration record for member number[[[cookie id]]]. If you have not made your hotel reservations and wish to do so now, click <a href="/convention">here</a>.

<table border="0" cellpadding="4" cellspacing="0">
<tr>
<td>Registration ID:</td>
<td><b>[[[RESULTS RECNO]]]</b></td>
</tr>
<tr>
<td>Name:</td>
<td><b>[[[RESULTS LAST_NAME]]], [[[RESULTS FIRST_NAME]]]</b></td>
</tr>
<tr>
<td>Affiliation:</td>
<td><b>[[[RESULTS AFFIL]]]</b></td>
</tr>
</table>

If you have questions about your registration, please contact <a href="mailto:mreilly@mla.org">mreilly@mla.org</a>.
