<h1>Planning Your Convention Session</h1>

<p>
All MLA members and others involved in the study or teaching of language and literature must register for the convention to participate in or attend meetings, visit the exhibit hall, take part in job interviews, or reserve hotel rooms at special MLA rates. Registration opens in early September for MLA members. Nonmember registration begins in October.
</p>
<p>
PLEASE NOTE: Renewing a membership or becoming a new member is a separate transaction from registering for the convention. MLA membership is required to participate on a panel but not to register for the convention. 
</p>
<p>
Complete program information will be available in the November issue of <i>PMLA</i> and on the MLA Web site. The Program is mailed to all MLA members and to attendees who register before mid-December.
</p>
<h2>Preparing for Your Session</h2>
		<p>
			<a href="/conv_sessionpartfaqs">Convention Participant FAQs</a>
		</p>
		
		<p>
			<a href="/policies_for_divisio">Policies for Divisions, Discussion Groups, and Allied Organizations</a>
		</p>
		
		<p>
			<a href="/conv_procedures">Procedures for Organizing Convention Meetings</a>
		</p>
			
		<p>
			<a href="/innovative_proposals">Call for Innovative Proposals</a>
		</p>
		
		<p>
			<a href="/conv_collab">Collaborative-Session Idea Exchange</a>
		</p>
<h2>Running the Session</h2>
		<p>
			<a href="/conv_access_guide">Access Guidelines for MLA Convention Session Organizers and Presenters</a>
		</p>

		<p>
			<a href="/guidelines_for_speak">Guidelines for Participants and Session Organizers</a>
		</p>
		
		<p>
<a href="/internet_connection" >Do I Need a Live Internet Connection for My Presentation?</a>[[[docstudio filetype_tag_pdf]]]
		</p>
		
		<p>
<a href="/scheduling_sessions" >Scheduling Convention Sessions</a>[[[docstudio filetype_tag_pdf]]]
		</p>
