<style>.logo{text-align:center; margin-bottom:25px;} .hmorelead{margin-top: 2em;}</style>

<div class="logo"><img src="/IMAGES/vancouverlogo.png" border=0 alt="Vancouver MLA 2015"></div>
<h1>Information for Exhibitors</h1>
<p>Exhibit at the 2015 MLA Annual Convention in Vancouver from 8 to 11 January and connect with over 7,000 language, literature, and humanities higher education professionals from around the world.</p>

Join us in Vancouver if you are an exhibitor who produces or sells
<ul>
<li>university-level publications in English and other languages</li>
<li>products or services relating to language, literature, and the humanities</li>
<li>information technologies for humanities scholarship, research, teaching, translation, writing, or editing</li>
</ul>

<h3>2015 MLA Exhibit Hall Schedule</h3>
Vancouver Convention Centre
<table>
<tr><td width="30%"><b>Setup:</b></td><td>Thursday, 8 January, 8:00 a.m.–5:00 p.m.</td></tr>
<tr><td rowspan="3" valign="top"><b>Show hours:</b></td><td>Friday, 9 January, 9:00 a.m.–6:00 p.m.</td>
<tr><td>Saturday, 10 January, 9:00 a.m.–6:00 p.m.</td></tr>
<tr><td>Sunday, 11 January, 9:00 a.m.–1:00 p.m.</td></tr>
<tr><td><b>Teardown:</b></td><td>Sunday, 11 January, 1:00–5:00 p.m.</td>
</table>	

[[[comment]]]
<h3>2014 Current Exhibitor Links</h3>
<ul>
<li><a href="/conv_exhibit_login&xurl=conv_exhibit_badge">2014 Exhibitor Badge Request Form</a></li>
<li><a href="/2014_daily_form" ><i>Convention Daily</i> Announcement Form</a></li>
<li><a href="/2014_exhibit_target" >Promotional E-mail Reservation</a></li>
<li><a href="/2014_exhibitor_promo">Sponsorship Opportunities</a></li>
<li>Exhibitor Housing and Exhibitor Services Kit – contact <a href="mailto:scourtney@mla.org">scourtney@mla.org</a></li>
</ul>
<h3 class="hmorelead">2014 Exhibit Hall Theater</h3> 
<ul>
	<li><a href="/program_browse_type?type=R">Exhibit Hall Theater Schedule</a></li>
	<li><a href="/2014_theater_form" >Exhibit Hall Theater Presentation Reservation Form</a></li>
</ul>
[[[endcomment]]]

<h3 class="hmorelead">2015 Exhibitor Application Forms and Information</h3>
<p>Visit this section in April for updated information.</p>
[[[comment]]]
<ul>
	<li><a href="/2014_invite_exhibit" >Invitation to Exhibit</a></li>
	<li><a href="/conv_exhibitform">Exhibit Booth Reservation Form</a></li>
	<li><a href="/conv_exhibitmap">Interactive Exhibit Hall Map</a></li>
	<li><a href="/2014_exhibit_map" >Printable Exhibit Hall Map</a></li>
	<li><a href="/conv_exhibit_login&xurl=conv_exhibit_balance">Exhibit Booth Balance Payment</a></li>
</ul>
[[[endcomment]]]

<h3 class="hmorelead">Vancouver Information</h3>
<ul>
	<li>Learn more about <a href="http://www.cic.gc.ca/english/visit/">visiting Canada</a>, <a href="http://www.cic.gc.ca/english/visit/visas.asp">visa requirements</a>, and <a href="http://www.ice.gov/sevis/travel/faq_f2.htm">requirements for reentry</a> to the United States.</li>
	<li><a href="http://www.cbsa-asfc.gc.ca/noncan-eng.html">Canadian Border Information and Services</a></li>
</ul>
