<h1>Meetings Open to the Public</h1>
Each meeting at the convention has been assigned a number, roughly corresponding to the order in which the meetings occur. In these lists, the numbers in parentheses refer to the meeting numbers within the chronological listing in the Program (meetings TBD take place on Monday, 27 Dec.; meetings TBD take place on Tuesday, 28 Dec.; meetings TBD take place on Wednesday, 29 Dec.; and meetings TBD take place on Thursday, 30 Dec.).

Forums and special events are open to registrants and nonregistrants alike; in addition, because MLA members have asked about the possibility of having undergraduate students attend other, more specialized meetings, the MLA Executive Council voted to select a number of meetings that will be open to the general public (registrants and nonregistrants are welcome to attend). Because of the demand for space, other meetings are not open to nonregistrants.

<h2>Forums</h2>
The Presidential Forum: The Future of the Humanities		
American Sign Language: Redefining Language and Literature Forum
Feminist Activisim inside and outside the Academy: The Legacy of Carolyn Heilbrun
<h2>Other Meetings Open to the Public - TBD</h2>

	
