<style>.logo{text-align:center; margin-bottom:25px;} .linklist{list-style-type:none; padding:0 !important; margin-left:0 !important;} ul.linklist li {padding:0;margin:0;} .allcapshd{text-transform:uppercase;}</style>

<div class="logo"><img src="/IMAGES/vancouverlogo.png" border=0 alt="Vancouver MLA 2015"></div>

<h1>130th MLA Annual Convention <br />Vancouver, 8–11 January 2015</h1>

<p>The 2015 convention will be held in Vancouver from 8 to 11 January. The presidential theme for the 2015 convention is <a href="/2015_pres_theme">Negotiating Sites of Memory</a>.</p>

<p>All MLA members and others involved in the study or teaching of language and literature must register for the convention to participate in or attend meetings, visit the exhibit hall, take part in job interviews, or reserve hotel rooms at special MLA rates. The convention program will be available in the fall.</p>

<p>The deadline to submit session proposals was 1 April 2014.</p>

<p><a href="/ssp_menu">Submit 2015 Social Event Forms, Membership Waiver Requests, and Funding Requests for Waived Nonmembers</a></p>

<p>Learn more about participating in MLA conventions.</p>

<ul>
<li><a href="/ssp_main">Proposing a Special Session</a></li>
<li><a href="/conv_general_info">Planning Your Convention Session</a></li>
<li><a href="/innovative_proposals">Call for Innovative Proposals</a></li>
<li><a href="/conv_collab">Collaborative-Session Idea Exchange</a></li></ul>

[[[comment]]]
<h3 class="allcapshd">Session Proposal and Program Copy Forms</h3>
<ul class="linklist">
<li><a href="/ssp_menu">Submit 2015 Convention Program Forms</a><br>(guaranteed sessions, collaborative and single-entity session proposals, social events, forums, membership waiver requests, and more)</li>
</ul>
[[[endcomment]]]

<h3 class="allcapshd">Frequently Asked Questions</h3>
<ul>
<li><a href="/conv_sessionpartfaqs">Convention Participant FAQs</a></li>
<li><a href="/convention_sessionfaqs">Convention Session FAQs</a></li>
<li><a href="/ssp_faqs">Special-Session FAQs</a></li>
<li><a href="http://twitter.com/mlaconvention">Follow the Convention on <i>Twitter</i></a></li>
</ul>

<p>Plan ahead: Find out more about <a href="http://www.cic.gc.ca/english/visit/">visiting Canada</a> and about <a href="http://www.cic.gc.ca/english/visit/visas.asp">whether you need a visa</a> for the 2015 convention. Students in the United States on F-1 visas can find out about <a href="http://www.ice.gov/sevis/travel/faq_f2.htm">requirements for reentry</a> on the US Immigration and Customs Enforcement Web site.</p>


 
