<script language="javascript">
var LAUNCH_WIDTH    = 400;
var LAUNCH_HEIGHT   = 300;
var LAUNCH_FEATURES = "left=10,top=10,screenx=10,screeny=10,scrollbars=no,resizeable=yes,status=yes," + "width=" + LAUNCH_WIDTH + ",height=" + LAUNCH_HEIGHT;

function launch(url) {
var sclaunch = window.open (url,"sclaunch",LAUNCH_FEATURES);
sclaunch.focus();
}
</script>
		
<style> .dailylink{font-size:95%; padding-left:1em;} h3.spaced {margin-top:50px;}</style>

<h1>Past Conventions</h1>

<p>Session listings for conventions from 2004 to 2014 are available in the <a href="/conv_listings">program archive</a>. Complete program information is available in November issues of <i>PMLA</i>. </p>

<p>Below are other materials from recent conventions.</p>


<h3 class="spaced">2014 Convention</h3>

<p>
<a href="/2014_pres_theme_inv" >2014 Presidential Theme: Vulnerable Times</a>[[[docstudio filetype_tag_pdf]]]
</p>

<p>
<a href="/2014_pres_forum" >Brochure on Vulnerable Times</a>[[[docstudio filetype_tag_pdf]]]
</p>

<p>
<a href="/program_browse_type?type=R">2014 Exhibit Hall Theater Schedule</a>
</p>

<p>
<a href="/2014_conv_guide" ><i>Convention Guide</i></a>[[[docstudio filetype_tag_pdf]]]
</p>

<p><i>Convention Daily</i>
<br/>
<a class="dailylink" href="/2014_daily_day1" >9 January 2014</a>[[[docstudio filetype_tag_pdf]]]
<br/>
<a class="dailylink" href="/2014_daily_day2" >10 January 2014</a>[[[docstudio filetype_tag_pdf]]]
<br/>
<a class="dailylink" href="/2014_daily_day3" >11–12 January 2014</a>[[[docstudio filetype_tag_pdf]]]
</p>

<p><a href="/2014_registration">2014 Registration Rates</a></p>

<p><a href="http://convention.commons.mla.org/lists-of-sessions-on-various-topics/">Lists of Sessions on Various Topics</a></p>

<p><a href="http://youtu.be/bB1q2DmPbU4">Video of 2013 MLA-Prize-Winning Books</a></p>

<h3 class="spaced">2013 Convention</h3>

<p>
<a href="/pres_address_2013">Recording and Transcript of the 2013 Presidential Address</a>
</p>
<a href="/pres_theme_2013"
onClick="javascript:pageTracker._trackPageview('/downloads/pdf/pres_theme_2013')" target="_blank">2013 Presidential Theme: Avenues of Access</a>[[[docstudio filetype_tag_pdf]]]
</p>
<p>
<a href="/2013_pres_brochure" >Brochure on Avenues of Access</a>[[[docstudio filetype_tag_pdf]]]
</br><p>
<a href="/exhibit_theater_2013">2013 Exhibit Hall Theater Schedule</a>
</br><p>

<a href="/2013_conv_guide"  target="_blank"><i>Convention Guide</i></a>[[[docstudio filetype_tag_pdf]]]</p>

<p><i>Convention Daily</i>
<br/>
<a class="dailylink" href="/2013_daily_day1" target="_blank" >3 January 2013</a>[[[docstudio filetype_tag_pdf]]]<br/>
<a class="dailylink" href="/2013_daily_day2" target="_blank" >4 January 2013</a>[[[docstudio filetype_tag_pdf]]]<br/>
<a class="dailylink" href="/2013_daily_day3" target="_blank" >5&ndash;6 January 2013</a>[[[docstudio filetype_tag_pdf]]]
</p>

[[[comment]]]<p><a href="http: [tk] ">#mla13 Tweets</a></p>[[[endcomment]]]

<p><a href="/2013_registration">2013 Registration Rates</a></p>

<p><a href="/yourconvention_2013">Your 2013 MLA Convention</a></p>

<a href=" http://youtu.be/H9Uo-vEZdUA" target="_blank">Video of 2012 MLA-Prize-Winning Books</a>


<h3 class="spaced">2012 Convention</h3>

<p>
<a href="/pres_theme_2012"  target="_blank">2012 Presidential Theme: Language, Literature, Learning</a>[[[docstudio filetype_tag_pdf]]]
</p>
<p>
<a href="/2012_pres_brochure" >Brochure on Language, Literature, Learning</a>[[[docstudio filetype_tag_pdf]]]
</br><p>
<a href="/pres_address_2012">Recording and Transcript of the 2012 Presidential Address</a>
</p>

<p>
<a href="/2012_conv_guide"  target="_blank"><i>Convention Guide</i></a>[[[docstudio filetype_tag_pdf]]]</p>

<p><i>Convention Daily</i>
<br/>
<a class="dailylink" href="/2012_daily_day1" target="_blank" >5 January 2012</a>[[[docstudio filetype_tag_pdf]]]<br/>
<a  class="dailylink" href="/2012_daily_day2" target="_blank" >6 January 2012</a>[[[docstudio filetype_tag_pdf]]]<br/>
<a  class="dailylink" href="/2012_daily_day3" target="_blank" >7&ndash;8 January 2012</a>[[[docstudio filetype_tag_pdf]]]
</p>

<p><a href="http://archive.mla12.org/tweets/">#mla12 Tweets</a></p>

<p><a href="/2012_registration">2012 Registration Rates</a></p>

<p><a href="/yourconvention_2012">Your 2012 MLA Convention</a></p>

<p><a href="http://youtu.be/2nrbTLYtVGo">Video of 2011 MLA-Prize-Winning Books</a></p>

<h3 class="spaced">2011 Convention</h3>

<p>
<a href="/pres_theme_letter11">2011 Presidential Theme: Narrating Lives</a>[[[docstudio filetype_tag_pdf]]]
</p>

<p><a href="/pres_forum_brochure">Brochure on Narrating Lives</a>[[[docstudio filetype_tag_pdf]]]
</p>

<p>
<a href="/narrating_lives">Narrating Lives Video Project</a>
</p>

<p>
<a href="/pres_address_2011">Listen to the 2011 Presidential Address</a> <img src="/IMAGES/radio_speaker.gif" width="15" height="14" alt="Listen" align="absmiddle">
</p>

<p>
<a href="/acad_hard_times">Brochure on The Academy in Hard Times</a>[[[docstudio filetype_tag_pdf]]]
</p>

<p>
<a href="/acad_hardtimes_forum">Listen to The Academy in Hard Times Forum</a> <img src="/IMAGES/radio_speaker.gif" width="15" height="14" alt="Listen" align="absmiddle">
</p>

<!--<p>
<a href="/pres_address_2011">Listen to the 2011 Presidential Address</a>
</p>-->

<p>
<a href="/conventionblog">MLA Convention Blog</a>
</p>

<p>
<i>Convention News and Program Update</i><br/>
<a class="dailylink" href="/cnpu_2011_6_jan" target="_blank">6 January 2011</a>[[[docstudio filetype_tag_pdf]]]<br/>
<a class="dailylink" href="/cnpu_2011_7_jan" target="_blank">7 January 2011</a>[[[docstudio filetype_tag_pdf]]]<br/>
<a class="dailylink" href="/cnpu_2011_8_jan" target="_blank">8–9 January 2011</a>[[[docstudio filetype_tag_pdf]]]<br/>
</p>

<p>
<a href="/2011_registration">2011 Registration Rates</a>
</p>

<h3 class="spaced">2009 Convention</h3>

<p><a href="/pres_theme_2009">2009 Presidential Theme: The Tasks of Translation in the Global Context</a>[[[docstudio filetype_tag_pdf]]]
</p>


<p>
<a href="/pres_address_2009">Listen to the 2009 Presidential Address</a> <img src="/IMAGES/radio_speaker.gif" width="15" height="14" alt="Listen" align="absmiddle">
</p>


<p>
<a href="/rfsfblog">Rosemary G. Feal's Blog</a>
</p>

<p>
<em>Convention News and Program Update</em><br>
<a href="/cnpu_2009" class="dailylink">27 December</a>[[[docstudio filetype_tag_pdf]]]<br>
<a href="/cnpu_12_28_09" class="dailylink">28 December</a>[[[docstudio filetype_tag_pdf]]]<br>
<a href="/cnpu_12_29_09" class="dailylink">29–30 December</a>[[[docstudio filetype_tag_pdf]]]
</p>

<h3 class="spaced">2008 Convention</h3>

<p>
<a href="/the_way_we_teach_pdf">2008 Presidential Theme: The Way We Teach Now</a>[[[docstudio filetype_tag_pdf]]]
</p>

<p>
<a href="/pres_address_2008">Listen to the 2008 Presidential Address</a> <img src="/IMAGES/radio_speaker.gif" width="15" height="14" alt="Listen" align="absmiddle">
</p>

<p>
<a href="/cnpu_08"><i>Convention News and Program Update</i></a>[[[docstudio filetype_tag_pdf]]]
</p>


<h3 class="spaced">2007 Convention</h3>

<p>
<a href="/presconv_brochurepdf">2007 Presidential Theme: The Humanities at Work in the World</a>[[[docstudio filetype_tag_pdf]]]
</p>
		
<p>
<a href="/pres_address_2007">Listen to the 2007 Presidential Address</a> <img src="/IMAGES/radio_speaker.gif" width="15" height="14" alt="Listen" align="absmiddle">
</p>

<p>
<a href="/2007_cnpu_pdf"><i>Convention News and Program Update</i></a>[[[docstudio filetype_tag_pdf]]]
</p>

		
 
