<h1>MLA Exhibit Hall</h1>
<p>Be sure to make time in your convention schedule to visit the exhibit hall and explore the variety of publishers, journals, products, and services.<br>
<a href="/conv_exhibitors">Are you an exhibitor?</a></p>

<h2>2015 MLA Exhibit Hall</h2>
Vancouver Convention Centre<br>
9 January, 9:00 a.m.–6:00 p.m.<br>
10 January, 9:00 a.m.–6:00 p.m.<br>
11 January, 9:00 a.m.–1:00 p.m.<br>

<p>You must have a 2015 MLA convention badge or appropriate pass to enter the exhibit hall, so <i><b>remember to wear your badge!</i></b></p>

<h2>Exhibit Hall Passes</h2>
<p><b>Guest Passes</b><br>
Convention registrants are welcome to accompany guests through the exhibit hall 	with the appropriate guest pass. These passes provide access to the exhibit hall only (not to MLA sessions), and the guest must be accompanied by a convention registrant. Guest passes are available at the Exhibit Hall Registration desk.</p>

<p><b>Day Passes</b><br>
Persons who wish to visit the exhibit hall and who are not registered for the convention or accompanied by a convention registrant may purchase a one-day pass into the exhibit hall only (not to MLA sessions). Day passes are $10 per day and can be purchased at the Exhibit Hall Registration desk.</p>

<h2>Exhibit Hall Events</h2>
<p>Visit this section in the fall for updated information on exhibit hall activities.</p>

<p>Please check the <i>Convention Daily</i> and the MLA Annual Convention <i>Twitter</i> feed for up-to-date information on exhibit booth activities.</p>

<h2>Coffee Service</h2>
<p>There will be coffee, tea, soft drinks, and snacks available for sale in the exhibit hall. Check here and the <i>Convention Daily</i> during the convention for details.</p>
