<H1>Have there been corrections since the initial release of the seventh edition?</H1>
Yes. The errors we have discovered in the initial release are listed below. The check marks indicate in which versions of the seventh edition the errors have been corrected so far. Corrections not yet made will be made in the next printing or online update.
<BR><BR>

<table width="100%" cellpadding="4" border="1" bordercolor="#666666">

<TR><TD width="52%"><b>Correction</b></td>
<td width="19%" align="center" valign="top"><B>Regular Edition</b></td>
<td width="16%" align="center" valign="top"><b>Large-Print Edition</b></td>
<td width="13%" align="center" valign="top"><b>Web Component</b></td></tr>

<TR><TD width="52%"><b>3.6.5:</b> Under "Series," "Masterpiece Theatre" should be omitted since the titles of broadcast programs and series are italicized (5.7.1). In the index in the print versions, the entries "radio broadcasts, titles of, series 3.6.5" and "television broadcasts, titles of, series 3.6.5" should be omitted.</td>
<td width="19%" align="center" valign="top"><img src="/IMAGES/checkmark_black.gif" width="40" height="40" border="0" align="top" hspace="0" vspace="1" alt="checkmark"><BR>2nd printing</td>
<td width="16%" align="center" valign="top"><img src="/IMAGES/checkmark_black.gif" width="40" height="40" border="0" align="top" hspace="0" vspace="1" alt="checkmark"><BR>2nd printing</td>
<td width="13%" align="center" valign="top"><img src="/IMAGES/checkmark_black.gif" width="40" height="40" border="0" align="top" hspace="0" vspace="1" alt="checkmark"></td></tr>

<TR><TD width="52%"><b>3.7.5:</b> The quotation from Barbara W. Tuchman under the heading "Original" concludes with a citation containing the year of republication, 1979. The year should be followed by a semicolon, not a comma.</td>
<td width="19%" align="center" valign="top"><img src="/IMAGES/checkmark_black.gif" width="40" height="40" border="0" align="top" hspace="0" vspace="1" alt="checkmark"><BR>2nd printing</td>
<td width="16%" align="center" valign="top"><img src="/IMAGES/checkmark_black.gif" width="40" height="40" border="0" align="top" hspace="0" vspace="1" alt="checkmark"><BR>1st printing</td>
<td width="13%" align="center" valign="top"><img src="/IMAGES/checkmark_black.gif" width="40" height="40" border="0" align="top" hspace="0" vspace="1" alt="checkmark"></td></tr>

<TR><TD width="52%"><b>3.7.7:</b> In the two examples referring to Mary Shelley's <em>Frankenstein</em>, "the doctor" should be replaced with "Victor Frankenstein" (the character is not a doctor in the novel).</td>
<td width="19%" align="center" valign="top"><img src="/IMAGES/checkmark_black.gif" width="40" height="40" border="0" align="top" hspace="0" vspace="1" alt="checkmark"><BR>4th printing</td>
<td width="16%" align="center" valign="top"> </td>
<td width="13%" align="center" valign="top"><img src="/IMAGES/checkmark_black.gif" width="40" height="40" border="0" align="top" hspace="0" vspace="1" alt="checkmark"></td></tr>

<TR><TD width="52%"><b>3.8.4:</b> The names "Angel Del Río" and "Sinues de Marco, María del Pilar" are each missing an acute accent. They should read "Ángel Del Río" and "Sinués de Marco, María del Pilar."</td>
<td width="19%" align="center" valign="top"><img src="/IMAGES/checkmark_black.gif" width="40" height="40" border="0" align="top" hspace="0" vspace="1" alt="checkmark"><BR>2nd printing</td>
<td width="16%" align="center" valign="top">&nbsp;</td>
<td width="13%" align="center" valign="top"><img src="/IMAGES/checkmark_black.gif" width="40" height="40" border="0" align="top" hspace="0" vspace="1" alt="checkmark"></td></tr>

<TR><TD width="52%"><b>5.5.4:</b> In the example for MacLaury, Paramei, and Dedrick, "John" should be omitted from the publisher's name.</td>
<td width="19%" align="center" valign="top"><img src="/IMAGES/checkmark_black.gif" width="40" height="40" border="0" align="top" hspace="0" vspace="1" alt="checkmark"><BR>Some copies of 1st printing; 2nd printing</td>
<td width="16%" align="center" valign="top"><img src="/IMAGES/checkmark_black.gif" width="40" height="40" border="0" align="top" hspace="0" vspace="1" alt="checkmark"><BR>1st printing</td>
<td width="13%" align="center" valign="top"><img src="/IMAGES/checkmark_black.gif" width="40" height="40" border="0" align="top" hspace="0" vspace="1" alt="checkmark"></td></tr>

<TR><TD width="52%"><b>5.5.11:</b> The example for Hildegard of Bingen should end with "Print."	</td>
<td width="19%" align="center" valign="top"><img src="/IMAGES/checkmark_black.gif" width="40" height="40" border="0" align="top" hspace="0" vspace="1" alt="checkmark"><BR>Some copies of 1st printing; 2nd printing</td>
<td width="16%" align="center" valign="top"><img src="/IMAGES/checkmark_black.gif" width="40" height="40" border="0" align="top" hspace="0" vspace="1" alt="checkmark"><BR>1st printing</td>
<td width="13%" align="center" valign="top"><img src="/IMAGES/checkmark_black.gif" width="40" height="40" border="0" align="top" hspace="0" vspace="1" alt="checkmark"></td></tr>

<TR><TD width="52%"><b>5.5.11:</b> In the French title of the work by Gérard Genette, "d'art" should read "de l'art," and "transcendence" should read "transcendance."</td>
<td width="19%" align="center" valign="top"><img src="/IMAGES/checkmark_black.gif" width="40" height="40" border="0" align="top" hspace="0" vspace="1" alt="checkmark"><BR>4th printing</td>
<td width="16%" align="center" valign="top"> </td>
<td width="13%" align="center" valign="top"><img src="/IMAGES/checkmark_black.gif" width="40" height="40" border="0" align="top" hspace="0" vspace="1" alt="checkmark"></td></tr>

<TR><TD width="52%"><b>5.6.2c:</b> In the caption to figure 31, "you do not need to include the place of publication" should read "you do not need to include the name of the publisher."</td>
<td width="19%" align="center" valign="top"><img src="/IMAGES/checkmark_black.gif" width="40" height="40" border="0" align="top" hspace="0" vspace="1" alt="checkmark"><BR>Some copies of 1st printing; 2nd printing</td>
<td width="16%" align="center" valign="top"><img src="/IMAGES/checkmark_black.gif" width="40" height="40" border="0" align="top" hspace="0" vspace="1" alt="checkmark"><BR>1st printing</td>
<td width="13%" align="center" valign="top"><img src="/IMAGES/checkmark_black.gif" width="40" height="40" border="0" align="top" hspace="0" vspace="1" alt="checkmark"></td></tr>

<TR><TD width="52%"><b>5.6.2d:</b> There should be a period after <i>g</i> in the abbreviation <i>e.g.</i>, which appears in parentheses.</td>
<td width="19%" align="center" valign="top"><img src="/IMAGES/checkmark_black.gif" width="40" height="40" border="0" align="top" hspace="0" vspace="1" alt="checkmark"><BR>Some copies of 1st printing; 2nd printing</td>
<td width="16%" align="center" valign="top"><img src="/IMAGES/checkmark_black.gif" width="40" height="40" border="0" align="top" hspace="0" vspace="1" alt="checkmark"><BR>1st printing</td>
<td width="13%" align="center" valign="top"><img src="/IMAGES/checkmark_black.gif" width="40" height="40" border="0" align="top" hspace="0" vspace="1" alt="checkmark"></td></tr>


<TR><TD width="52%"><b>5.6.3 and 5.6.4:</b> The two cross-references to 5.5 in each section should read 5.4.</td>
<td width="19%" align="center" valign="top"><img src="/IMAGES/checkmark_black.gif" width="40" height="40" border="0" align="top" hspace="0" vspace="1" alt="checkmark"><BR>Some copies of 1st printing; 2nd printing</td>
<td width="16%" align="center" valign="top"><img src="/IMAGES/checkmark_black.gif" width="40" height="40" border="0" align="top" hspace="0" vspace="1" alt="checkmark"><BR>1st printing</td>
<td width="13%" align="center" valign="top"><img src="/IMAGES/checkmark_black.gif" width="40" height="40" border="0" align="top" hspace="0" vspace="1" alt="checkmark"></td></tr>

<TR><TD width="52%"><b>5.6.4:</b> The cited book review by Evangelista appears in volume 48 of <em>Victorian Studies</em>, not 46.</td>
<td width="19%" align="center" valign="top"><img src="/IMAGES/checkmark_black.gif" width="40" height="40" border="0" align="top" hspace="0" vspace="1" alt="checkmark"><BR>2nd printing</td>
<td width="16%" align="center" valign="top">&nbsp;</td>
<td width="13%" align="center" valign="top"><img src="/IMAGES/checkmark_black.gif" width="40" height="40" border="0" align="top" hspace="0" vspace="1" alt="checkmark"></td></tr>

<TR><TD width="52%"><b>5.7.7 and 6.4.4:</b> The place of a broadcast and its date should be connected by a comma, as in 5.7.1.</td>
<td width="19%" align="center" valign="top"><img src="/IMAGES/checkmark_black.gif" width="40" height="40" border="0" align="top" hspace="0" vspace="1" alt="checkmark"><BR>3rd printing</td>
<td width="16%" align="center" valign="top">&nbsp;</td>
<td width="13%" align="center" valign="top"><img src="/IMAGES/checkmark_black.gif" width="40" height="40" border="0" align="top" hspace="0" vspace="1" alt="checkmark"><BR>&nbsp;</td></tr>

</table>		
