<h1>Member Access to <i>Choice Reviews Online</i></h1>
<p>All MLA members have free access to <i>Choice Reviews Online</i>. </p>

<p>The link below will take you to the <i>Choice</i> home page. When visiting for the first time, click on the Register link on the right side of the page and complete the form to choose a user name and password. Once you have created a user name and password, you will be able to access full-text content directly from the <i>Choice</i> site. </p>

<p><a href="http://www.cro3.org/">Access the <i>Choice Reviews Online</i> Web site now</a>.</p>
