<h1>Member Access to <i>Choice Reviews Online</i></h1>
All MLA members now have free access to <i>Choice Reviews Online</i>. 

To access the site for the first time, click on the link below to go to the <i>Choice</i> home page. Then click on the Register link on the right side of the page, and complete the form to create a user name and password. Once you log-in with your user name/password, click on the CiteTrack Personal Alerts link in the purple bar at the top of the page and select the Alerts you would like to receive.

Once you have created a UN & PW, you will be able to access full text content directly from the <i>Choice</i> site. 



<a href="http://www.cro3.org/">Access the <i>Choice Reviews Online</i> Web site now</a>.
