<h1 id="toc">Guidelines for Editors of Scholarly Editions</h1>
Last revised 29 June 2011<P>
1. <a href="#d0e198">Guidelines for Editors of Scholarly Editions</a><BR>
1.1. <a href="#d0e203">Principles</a><BR>
1.2. <a href="#d0e236">Sources and Orientations</a><BR>
1.2.1. <a href="#d0e240">Considerations with Respect to Source Material</a><BR>
1.2.2. <a href="#d0e312">The Editor's Theory of Text</a><BR>
1.2.3. <a href="#d0e323">Medium (or Media) in Which the Edition Will Be Published</a><BR>
2. <a href="#d0e354">Guiding Questions for Vetters of Scholarly Editions</a><BR>
3. <a href="#d0e1937">Glossary of Terms Used in the Guiding Questions</a><br>
4. <a href="#d0e2067">Annotated Bibliography: Key Works in the Theory of Textual Editing</a>

<div class="div">

<h2 id="d0e198">1. Guidelines for Editors of Scholarly Editions</h2>

<div class="div">
<h3 id="d0e203">1.1. Principles</h3>
<div class="Real-P">The scholarly edition's basic task is to present a reliable text: scholarly editions make clear what they promise and keep their promises. Reliability is established by
<ul><li>accuracy</li>
<li>adequacy</li>
<li>appropriateness</li>
<li>consistency</li>
<li>explicitness</li>
</ul>
</div>
<div class="Real-P">—accuracy with respect to texts, adequacy and appropriateness with respect to documenting editorial principles and practice, consistency and  explicitness with respect to methods. The means by which these qualities are established will depend, to a considerable extent, on the materials being edited and the methodological orientation of the editor, but certain generalizations can be made:
<ul><li>Many, indeed most, scholarly editions achieve reliability by including a general introduction—either historical or interpretive—as well as explanatory annotations to various words, passages, events, and historical figures.</li>
<li>Scholarly editions generally include a statement, or series of statements, setting forth the history of the text and its physical forms, explaining how the edition has been constructed or represented, giving the rationale for decisions concerning construction and representation. This statement also typically describes or reports the authoritative or significant texts and discusses the verbal composition of the text—its punctuation, capitalization, and spelling—as well as, where appropriate, the layout, graphic elements, and physical appearance of the source material. Statements concerning the history and composition of the text often take the form of a single textual essay, but it is also possible to present this information in a more distributed manner.
<li>A scholarly edition commonly includes appropriate textual apparatus or notes documenting alterations and variant readings of the text, including alterations by the author, intervening editors, or the editor of this edition.</li>
<li>And finally, editors of scholarly editions establish and follow a proofreading plan that serves to ensure the accuracy of the materials presented.</li>
</ul>
</div>
</div>

<div class="div">
<h3 id="d0e236">1.2. 
Sources and Orientations</h3>

<div class="div">
<h4 id="d0e240">1.2.1. Considerations with Respect to Source Material</h4>
<ul><li><em>Is the date of the material known?</em> For example, in William Blake's <em>The Marriage of Heaven and Hell</em>, because the work itself bears no date, the date and its place in the author's oeuvre have to be inferred, and on such inferences other editorial decisions (decisions based, for example, on authorial intentions, which may vary over time) may depend. More generally, the location of a text in time and place may influence the editorial representation of a text.</li>
<li><em>Is there an author?</em> <em>La chanson de Roland</em>, for example, took a specific written form after a long life as a heroic poem or poems delivered orally from memory. Folktales, which may or may not originate with individual authors, are usually known to editors only in forms that have been shaped by transmission through communities of performers and listeners. W. B. Yeats and Georgiana Yeats claimed to have taken dictation from the spiritual world. Sacred texts are often attributed to divine authors or divinely inspired human authors.</li>
<li><em>Is the author known?</em> Authorship has been one of the most powerful and influential categories of textual criticism, where the "authority" of a text has often been determined by its convenient proximity to a known author writing in a specifiable time and space (traditionally, texts that come from an author's hand, such as an autographic manuscript, tend to have more authority in an edition than texts published after the author's death). When a text (for example, <em>Lazarillo de Tormes</em>) has no known author in the modern sense, or when authorship has been collaborative or communal, or when texts have taken shape over an extended period of time, editorial decisions must be based on other grounds.</li>
<li><em>Is there more than one author?</em> For example, Francis Beaumont and John Fletcher collaborated in writing over a dozen dramatic works between 1606 and 1616, such as <em>The Knight of the Burning Pestle</em>; in addition to working together, these two writers also corrected and collaborated on texts with numerous other playwrights, including William Rowley, Philip Massinger, Thomas Middleton, and Ben Jonson, making it difficult, if not impossible, to assign authorship in some of these works to any one specific individual. Harriet Mill's role in the authorship of J. S. Mill's <em>Autobiography</em> might be labeled coauthorship; Theodore Dreiser sometimes revised his novels on the advice of a circle of family, friends, and associates. Max Perkins might be considered the coauthor of the novelists he edited as an employee of Scribner's—most notably Thomas Wolfe, whose published novels bear little resemblance to the manuscripts that Wolfe turned over to Perkins.</li>
<li><em>If there is an author (or authors), how far back in the process of authorship is source material available?</em> For example, there are no surviving manuscripts or working drafts for the majority of Daniel Defoe's more than 250 works, including his novels, such as <em>Moll Flanders</em> and <em>Robinson Crusoe</em>. The editor must rely instead on printed texts produced during Defoe's lifetime as the earliest sources.</li>
<li><em>Does the author play any other roles in producing the object being edited?</em> For example, Vladimir Nabokov translated his own early works from Russian into English, at a later point in his career; Blake printed and watercolored his illuminated books with the assistance of his wife, Catherine; Charles Dickens became his own publisher, first as an editor of <em>Bentley's Miscellany</em>, then as founder and editor of <em>Household Words</em> and <em>All the Year Round</em>.</li>
<li><em>How many other people are involved in producing the object being edited, and what are their roles?</em> For example, John Wilmot, the earl of Rochester, never published any of his works during his lifetime. Some of his poems were printed without his authority in songbooks and miscellanies, and they were widely circulated and preserved in manuscript copies. The subsequent posthumous editions gathered together many of these scattered pieces, but a modern editor must untangle the numerous variations found in the verses collected from these various manuscript and unauthorized printed versions. Another example would be the famously vexed case of James Joyce's <em>Ulysses</em>, drafted in longhand, typed by a typist, typeset by printers who spoke no English, and reset as many as five times, after Joyce's editing of page proofs.</li>
<li><em>Is it important, and is it feasible, to reproduce the material sources in facsimile as part of the edition?</em> A facsimile reproduction of an author's manuscript (or diary, or letters, or draft of an unpublished poem or novel) may make it easier to follow the process of composition than any translation of the manuscript into typographic form. For example, recent editors of Emily Dickinson have argued that something important is lost when Dickinson's "jottings" on scraps of paper are translated to the more familiar form of printed poems. In principle, it would seem always desirable to reproduce the source material for a scholarly edition in facsimile, but in print editions it is often impractical, and even in electronic editions it may be too expensive, or it may be impossible for lack of permission.</li>
</ul>
</div>

<div class="div">
<h4 id="d0e312">1.2.2. The Editor's Theory of Text</h4>
<div class="Real-P">Editorial perspectives range broadly across a spectrum from an interest in authorial intention, to an interest in the process of production, to an interest in reception, and editors may select a given methodology for a variety of reasons. In very general terms, one could see copy-text, recensionist, and best-text editing as being driven by an interest in authorship—but best-text editing might also be driven by an interest in the process of production, along with "optimist," diplomatic, scribal, documentary, and social-text editing. Social-text editing might also be driven by an interest in reception—as "versioning" and variorum editing might be. And, of course, an editing practice that is primarily interested in authorship might very well be interested in production or reception or both—any good editor will be aware of the importance of all these things. However, when an editor has to choose what to attend to, what to represent, and how to represent it, there should be a consistent principle that helps in making those decisions. See the CSE's <a href="http://www.mla.org/cse_bibliography">"Annotated Bibliography: Key Works in the Theory of Textual Editing,"</a> below, for further information on editorial methods and perspectives.</div>
</div>

<div class="div">
<h4 id="d0e323">1.2.3. Medium (or Media) in Which the Edition Will Be Published</h4>
<div class="Real-P">The decision to publish in print, electronically, or both will have an impact on a number of aspects of the edition, on its fortunes, and on the fortunes of its editor. Some questions an editor should consider in choosing the medium of publication: 
<ul><li>Is the source material itself manuscript, printed, electronic, or a combination of formats?</li>
<li>What is the desired or potential audience for the work? Is there more than one audience? Will one medium reach the desired audience more effectively than another?</li>
<li>What rights and permissions are required for publication, and do the terms differ by medium?</li>
<li>What kind of apparatus can the edition have, and what kind should it have?</li>
<li>Are there standard symbols or methods in a given medium for representing the typography, punctuation, or other textual features of the material being edited (Peirce's symbols, Shelley's punctuation, size-of-letter problems, spacing problems)?</li>
<li>What is the importance of facsimile material, color reproductions, multiple versions, multiple states, interactive tools in this edition?</li>
<LI>Working with and from originals is of utmost importance; but some photographic, digitized reproductions make visible certain marks that have deteriorated and are no longer visible to the naked eye, even in the best light. If legibility has been enabled by the photographic or digitizing process, has that fact been explicitly noted to readers?</li>
<li>How important is permanence or fixity? How can these qualities be attained?</li>
<li>Alternatively, is there a possible benefit to openness and fluidity (for example, the certainty that new material will come to light)?</li>
<li>Is there a publisher willing to publish in the medium you choose?</li>
<li>How important is peer review (and if it is important, how will it be provided)?</li>
</ul>
</div></div>
</div>
</div>

<div class="div">

<h2 id="d0e354">2. Guiding Questions for Vetters of Scholarly Editions</h2>
Download the <a href="/cse_guidelines_2011" target="other">guiding questions</a>.[[[docstudio filetype_tag_pdf]]]

<div class="Real-P">
<br>
Title vetted: ___________________________________________________</div>
<div class="Real-P">Edited by:    ______________________________________________________</div>
<div class="Real-P">Date vetted:  ____________________________________________________</div>
<div class="Real-P">Vetter:       _________________________________________________________</div>

<br><div class="Real-P">For each question listed below, the vetter should enter <em>Yes</em>, <em>No</em>, or <em>Not applicable</em> as appropriate. Vetter should also indicate whether additional comment on this point is made in the attached report.</div>
<br>
<div class="Real-P">
<table width="100%" cellspacing="0" cellpadding="10" bordercolor="#999999" border="1">
<tr bordercolor="#999999"> 
<th colspan="2" rowspan="1">&nbsp;</th>
<th colspan="1" rowspan="1">Y</th>
<th colspan="1" rowspan="1">N</th>
<th colspan="1" rowspan="1">N/A</th>
<th colspan="1" rowspan="1">See Report</th>
</tr>
<tr> 
<td colspan="6" rowspan="1" bgcolor="#999999"><b>I. Basic Materials, Procedures, and Conditions</b></td></tr>
<tr>
<td colspan="6" rowspan="1"><b>Materials</b></td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>1.0</b></td>
<td colspan="1" rowspan="1">Has the editor missed any essential primary or 
secondary materials?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td colspan="6" rowspan="1"><b>Stemma</b></td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>2.0</b></td>
<td colspan="1" rowspan="1">Has the editor accounted for the interrelations of all relevant texts?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>2.1</b></td>
<td colspan="1" rowspan="1">Have you tested the validity of the genealogy, stemma, or other account of the relevant texts against the collation data and included your findings in the report?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td colspan="6" rowspan="1"><b>Transcription</b></td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>3.0</b></td>
<td colspan="1" rowspan="1">Have all transcriptions been fully compared by 
the editor with the original documents, as distinct from a photocopy of those 
documents?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>3.1</b></td>
<td colspan="1" rowspan="1">If any transcriptions have not been fully compared 
with the originals, is there a statement in the edition alerting the user 
to that fact?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>3.2</b></td>
<td colspan="1" rowspan="1">Has someone other than the original transcriber 
carried out a thorough and complete check of each transcription, whether 
against the original or a photocopy of the original?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>3.3</b></td>
<td colspan="1" rowspan="1">Have you sampled the transcriptions for accuracy 
and included the results of that sampling in your report?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td colspan="6" rowspan="1"><b>Collation</b></td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>4.0</b></td>
<td colspan="1" rowspan="1">Have all potentially significant texts been collated?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>4.1</b></td>
<td colspan="1" rowspan="1">How many times have the collations been repeated 
by different people?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>4.2</b></td>
<td colspan="1" rowspan="1">Have you sampled the collations for accuracy and 
included the results of your sampling in your report?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="6" rowspan="1" bgcolor="#999999"><b>II. Textual Essay</b></td>
</tr>
<tr>
<td colspan="6" rowspan="1"><b>Principles and Methods</b></td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>5.0</b></td>
<td colspan="1" rowspan="1">If the edition under review is one in a series, 
have you examined textual essays and vetters' reports (if any) from earlier 
volumes?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>5.1</b></td>
<td colspan="1" rowspan="1">Does the textual essay provide a clear, convincing, 
and thorough statement of the editorial principles and practical methods 
used to produce this volume?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>5.2</b></td>
<td colspan="1" rowspan="1">Does it adequately survey all pertinent forms 
of the text, including an account of their provenance?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td colspan="6" rowspan="1"><b>Publication History and Physical Description</b></td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>6.0</b></td>
<td colspan="1" rowspan="1">Does it give an adequate history of composition 
and revision?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>6.1</b></td>
<td colspan="1" rowspan="1">Does it give an adequate history of publication?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>6.2</b></td>
<td colspan="1" rowspan="1">Does it give a physical description of the manuscripts or other pertinent materials (including electronic source materials, if any)?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>6.3</b></td>
<td colspan="1" rowspan="1">Are ways in which photographic or digital reproductions manipulate the text (sometimes leading to greater legibility) plainly described?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>6.4</b></td>
<td colspan="1" rowspan="1">Does it give a physical description of the specific 
copies used for collation?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td colspan="6" rowspan="1"><b>Copy-text</b></td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>7.0</b></td>
<td colspan="1" rowspan="1">Does the textual essay provide a convincing rationale 
for the choice of copy-text or base text or for the decision not to rely on either?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>7.1</b></td>
<td colspan="1" rowspan="1">Does it adequately acknowledge and describe alternative 
but rejected choices for the copy-text or base text?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>7.2</b></td>
<td colspan="1" rowspan="1">If there are forms of the text that precede the copy-text or base text, can they be recovered from the edited text and its apparatus?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>7.3</b></td>
<td colspan="1" rowspan="1">If not, is it practical, desirable, or necessary 
to make them recoverable?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td colspan="6" rowspan="1"><b>Changes to the Text</b></td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>8.0</b></td>
<td colspan="1" rowspan="1">Does the editor give an adequate account of changes to the text made by authors, scribes, compositors, et cetera?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>8.1</b></td>
<td colspan="1" rowspan="1">Are such changes to the text reported in detail 
as part of the textual apparatus? </td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>8.2</b></td>
<td colspan="1" rowspan="1">If such changes are recorded but the record will 
not be published, has the decision not to publish it been justified in the 
textual essay?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td colspan="6" rowspan="1"><b>Emendation</b></td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>9.0</b></td>
<td colspan="1" rowspan="1">Is the rationale for emendation of the copy-text 
or base text clear and convincing?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>9.1</b></td>
<td colspan="1" rowspan="1">Are all emendations of the copy-text or base text 
reported in detail or described by category when not reported in detail?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>9.2</b></td>
<td colspan="1" rowspan="1">Are the emendations of the copy-text or base text 
consistent with the stated rationale for emendation?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>9.3</b></td>
<td colspan="1" rowspan="1">Do the data from collation support the editor's 
assertion of authority for emendations drawn from the collated texts?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>9.4</b></td>
<td colspan="1" rowspan="1">If the author's customary usage (spelling, punctuation) 
is used as the basis for certain emendations, has an actual record of that 
usage been compiled from this text and collateral texts written by the author?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>9.5</b></td>
<td colspan="1" rowspan="1">Have you sampled the edited text and record of 
emendations for accuracy, and have you included the results in your report?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>9.6</b></td>
<td colspan="1" rowspan="1">Are emendations recorded clearly, avoiding idiosyncratic or ill-defined symbols?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td colspan="6" rowspan="1"><b>Illustrations and Typography</b></td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>10.0</b></td>
<td colspan="1" rowspan="1">Does the essay somewhere include an adequate rationale 
for reproducing, or not, the significant visual or graphic aspects of the 
copy-text or base text?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>10.1</b></td>
<td colspan="1" rowspan="1">Are all illustrations in the manuscript or the 
printed copy-text or base text reproduced in the edited text?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>10.2</b></td>
<td colspan="1" rowspan="1">If not, are they adequately described or represented 
by examples in the textual essay?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>10.3</b></td>
<td colspan="1" rowspan="1">Are the visual aspects of typography or handwriting 
either represented in the edited text or adequately described in the textual 
essay?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>10.4</b></td>
<td colspan="1" rowspan="1">If objects (such as bindings) or graphic elements 
(such as illustrations) are reproduced in the edition, are the standards 
for reproduction—sizing, color, and resolution—explicitly 
set forth in the textual essay?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="6" rowspan="1" bgcolor="#999999"><b>III. Apparatus and Extratextual Materials</b></td>
</tr>
<tr>
<td colspan="6" rowspan="1"><b>Nature of Collation</b></td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>11.0</b></td>
<td colspan="1" rowspan="1">Has a full historical collation been compiled, 
whether or not that collation is to be published?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>11.1</b></td>
<td colspan="1" rowspan="1">Is the rationale clear and convincing for publishing 
a selective historical collation (e.g., one that excludes variant accidentals)?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>11.2</b></td>
<td colspan="1" rowspan="1">Does the selective collation omit any category of variants you think should be included or include any you think should be excluded?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>11.3</b></td>
<td colspan="1" rowspan="1">Is the historical collation to be published accurate 
and consistent?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr><tr>
<td colspan="6" rowspan="1"><b>Textual Notes</b></td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>12.0</b></td>
<td colspan="1" rowspan="1">Are the textual notes clear, adequate, and confined 
to textual matters?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td colspan="6" rowspan="1"><b>Ambiguous Textual Forms</b></td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>13.0</b></td>
<td colspan="1" rowspan="1">Have ambiguous hyphenated compounds (e.g., "water-wheel") 
in the copy-text or base text been emended to follow the author's known 
habits or some other declared standard?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>13.1</b></td>
<td colspan="1" rowspan="1">Have ambiguous stanza or section breaks in 
the copy-text or base text been consistently resolved by emendation?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>13.2</b></td>
<td colspan="1" rowspan="1">Are both kinds of emendation recorded in the textual 
apparatus to be published? </td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>13.3</b></td>
<td colspan="1" rowspan="1">For words divided at the end of a line in the 
edited text and stanzas or section breaks that fall at the end of a page 
in the edited text, can the reader tell how these ambiguous forms should 
be rendered when the text is quoted?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td colspan="6" rowspan="1"><b>Textual Apparatus</b></td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>14.0</b></td>
<td colspan="1" rowspan="1">Does the apparatus omit significant information?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>14.1</b></td>
<td colspan="1" rowspan="1">Can the history of composition and/or revision 
and/or the history of printing be studied by relying on the textual apparatus?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>14.2</b></td>
<td colspan="1" rowspan="1">Is the purpose of the different parts (or lists) 
in the apparatus clearly explained or made manifest?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>14.3</b></td>
<td colspan="1" rowspan="1">Is cross-referencing between the parts (or lists) 
clear?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>14.4</b></td>
<td colspan="1" rowspan="1">Is information anywhere needlessly repeated?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>14.5</b></td>
<td colspan="1" rowspan="1">Is the format of the apparatus adapted to the 
audience?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>14.6</b></td>
<td colspan="1" rowspan="1">Are the materials well organized?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td colspan="6" rowspan="1"><b>Accuracy of Extratextual Components</b></td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>15.0</b></td>
<td colspan="1" rowspan="1">Does the historical introduction dovetail smoothly 
with the textual essay?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>15.1</b></td>
<td colspan="1" rowspan="1">Has the editor quoted accurately from the edited 
text in the introduction and the textual essay?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>15.2</b></td>
<td colspan="1" rowspan="1">Has the editor verified references and quotations 
in the introduction and the textual essay?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>15.3</b></td>
<td colspan="1" rowspan="1">Has the editor checked the author's quotations 
and resolved the textual problems they present?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>15.4</b></td>
<td colspan="1" rowspan="1">Have you spot-checked to test the accuracy of quotation and reference in the introduction, textual essay, and text, and have you included the results of that spot-check in your report?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td colspan="6" rowspan="1"><b>Explanatory Notes</b></td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>16.0</b></td>
<td colspan="1" rowspan="1">Are the explanatory notes appropriate for this 
kind of edition—for example, in purpose, level of detail, and number?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>16.1</b></td>
<td colspan="1" rowspan="1">Is there a sound rationale for the explanatory 
notes, whether or not the rationale is to be made explicit anywhere in the 
published work?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="6" rowspan="1" bgcolor="#999999"><b>IV. Matters of Production</b></td>
</tr>
<tr>
<td colspan="6" rowspan="1"><b>State of Completion</b></td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>17.0</b></td>
<td colspan="1" rowspan="1">Did you see a final or near-final version of the 
edition or a substantial sample of it?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>17.1</b></td>
<td colspan="1" rowspan="1">If you did not see final or near-final copy, were 
you satisfied with the state of completion of the materials you did see?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td colspan="6" rowspan="1"><b>Permissions</b></td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>18.0</b></td>
<td colspan="1" rowspan="1">Has the editor obtained all necessary permissions—for example, to republish any materials protected by copyright?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td colspan="6" rowspan="1"><b>Publication Status</b></td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>19.0</b></td>
<td colspan="1" rowspan="1">If there is a publisher involved in producing 
the edition, has the publisher approved the content and format of the edition?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>19.1</b></td>
<td colspan="1" rowspan="1">Has the publisher approved the amount of time 
needed for proofreading?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>19.2</b></td>
<td colspan="1" rowspan="1">Has the publisher approved the requirements of 
the edition's design?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>19.3</b></td>
<td colspan="1" rowspan="1">Has the publisher approved cuing the back matter (textual apparatus and notes) to the text of the edition by page and line number (if this is a print edition) or by other unambiguous means (if this is an electronic edition)?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>19.4</b></td>
<td colspan="1" rowspan="1">Has the publisher approved the printer's or other 
production facility's copy requirements?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td colspan="6" rowspan="1"><b>Proofreading</b></td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>20.0</b></td>
<td colspan="1" rowspan="1">Has ultimate responsibility for maintaining accuracy 
throughout the production process been clearly assigned to one person? </td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>20.1</b></td>
<td colspan="1" rowspan="1">Are the proofreading methods sufficient to ensure 
a high level of accuracy in the published edition?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>20.2</b></td>
<td colspan="1" rowspan="1">If the editor supplies so-called camera-ready copy to the publisher, will it be proofread?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>20.3</b></td>
<td colspan="1" rowspan="1">How many proofreadings are scheduled?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>20.4</b></td>
<td colspan="1" rowspan="1">How many stages of proof are there?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>20.5</b></td>
<td colspan="1" rowspan="1">When a new stage of proof is read to verify changes 
or corrections, is adequate provision made for ensuring that all other parts 
of the text have not been corrupted?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>20.6</b></td>
<td colspan="1" rowspan="1">Is there a provision in place for collation or comparison of the first correct stage of proof against the production facility's final prepublication output (e.g., bluelines from a printer or text as rendered for final delivery in an electronic edition)?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td colspan="6" rowspan="1"><b>Encoding</b></td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>21.0</b></td>
<td colspan="1" rowspan="1">If the edition—whether print or electronic—is prepared in electronic files, are those files encoded in an open, nonproprietary format (e.g., TEI XML rather than <i>Microsoft Word</i> or <i>WordPerfect</i>)?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>21.1</b></td>
<td colspan="1" rowspan="1">Will anyone other than the editor create or edit 
these files?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>21.2</b></td>
<td colspan="1" rowspan="1">Is the editor directly involved in encoding (e.g., in doing XML markup or in coding for typesetting)?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>21.3</b></td>
<td colspan="1" rowspan="1">If automated processes are applied to the text, 
is the editor checking the result for unintended consequences?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>21.4</b></td>
<td colspan="1" rowspan="1">If an index or search engine is to be used as 
part of the edition, will it be checked or tested in detail by the editor?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td colspan="6" rowspan="1"><b>Reproduction and Archiving</b></td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>22.0</b></td>
<td colspan="1" rowspan="1">Can the edited text be easily republished, excerpted, 
or repurposed?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>22.1</b></td>
<td colspan="1" rowspan="1">If the edition is printed, is it suitable for 
photographic reproduction? If it is electronic, does it provide PDF or other 
pretty-printing output?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>22.2</b></td>
<td colspan="1" rowspan="1">Will all electronic files used in producing the 
edition be archived?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>22.3</b></td>
<td colspan="1" rowspan="1">Will a correction file be set up and maintained 
for correcting the text after its initial publication?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>22.4</b></td>
<td colspan="1" rowspan="1">Is the current state of the correction file available 
to readers of the edition (on the Web, for example, or on request in printed 
form)?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="6" rowspan="1" bgcolor="#999999"><b>V. Electronic Editions</b> (see glossary for expansion of abbreviations)</td>
</tr><tr>
<td colspan="6" rowspan="1"><b>User Interface</b></td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>23.0</b></td>
<td colspan="1" rowspan="1">Does the edition include help documentation that 
explains the features of the user interface and how to use them?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>23.1</b></td>
<td colspan="1" rowspan="1">Does the edition carry a clear statement of the 
appropriate reuse of its constituent elements, especially those protected 
by copyright or used by permission?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td colspan="6" rowspan="1"><b>Encoding</b></td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>24.0</b></td>
<td colspan="1" rowspan="1">Is the text of the edition encoded in an ISO standard 
grammar, such as XML or SGML?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>24.1</b></td>
<td colspan="1" rowspan="1">Is the XML or SGML applied using relevant community 
guidelines (e.g., the Text Encoding Initiative guidelines)?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>24.2</b></td>
<td colspan="1" rowspan="1">If the answer to the previous question is no, does the essay on technical methods provide a rationale for departing 
from community practice?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>24.3</b></td>
<td colspan="1" rowspan="1">Is the edition designed to make its underlying 
markup (rather than markup that results from a rendering process) available 
to the reader for examination?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td colspan="6" rowspan="1"><b>ISO Standard</b></td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>25.0</b></td>
<td colspan="1" rowspan="1">Is character encoding in the edition done according to an ISO standard (e.g., Unicode)?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>25.1</b></td>
<td colspan="1" rowspan="1">Are rendering or transformation instructions (e.g., stylesheets) encoded in an ISO standard grammar, such as XSL?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>25.2</b></td>
<td colspan="1" rowspan="1">Does the edition use ISO standard formats (e.g., JPEG, PNG) for the distribution copies of its digital images?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>25.3</b></td>
<td colspan="1" rowspan="1">If there are time-dependent media elements in 
the edition (e.g., audio or video), are these encoded using ISO standard 
formats (e.g., MPEG/MP3)?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td colspan="6" rowspan="1"><b>Distribution Copies</b></td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>26.0</b></td>
<td colspan="1" rowspan="1">Are the distribution copies of multimedia elements 
(image, sound, video) sufficiently high-resolution to allow close study?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>26.1</b></td>
<td colspan="1" rowspan="1">Are ways in which photographic or digital reproductions manipulate the text (sometimes leading to greater legibility) plainly described?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>26.2</b></td>
<td colspan="1" rowspan="1">Are the distribution copies of multimedia elements 
stored at reasonable file size, given the intended method of distribution?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>26.3</b></td>
<td colspan="1" rowspan="1">Are the sources for those distribution copies 
archived?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>26.4</b></td>
<td colspan="1" rowspan="1">Are those sources captured at a sufficiently high 
resolution to allow for the future derivation of higher-resolution distribution 
copies?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td colspan="6" rowspan="1"><b>Schemas</b></td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>27.0</b></td>
<td colspan="1" rowspan="1">Does the edition have, and does it validate against, 
a DTD or schema?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>27.1</b></td>
<td colspan="1" rowspan="1">Is the DTD or schema used in marking up the edition 
adequately documented (e.g., with a tag library)?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>27.2</b></td>
<td colspan="1" rowspan="1">If the edition includes one or more databases, 
is referential integrity enforced within the database(s)?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>27.3</b></td>
<td colspan="1" rowspan="1">Are the database schemas documented?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>27.4</b></td>
<td colspan="1" rowspan="1">Are the stylesheets (or other rendering instructions) 
documented as to their intended effect?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td colspan="6" rowspan="1"><b>Software and Components</b></td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>28.0</b></td>
<td colspan="1" rowspan="1">Is there a definitive and documented method for 
determining what constitutes the electronic edition?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>28.1</b></td>
<td colspan="1" rowspan="1">Is there a definitive and documented method for 
determining whether all the constituent elements of the edition actually 
exist?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>28.2</b></td>
<td colspan="1" rowspan="1">Is technical, descriptive, and administrative 
metadata provided for all the components of the edition, using a library-approved 
schema (such as METS)?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>28.3</b></td>
<td colspan="1" rowspan="1">If any software has been uniquely developed for 
this edition, is source code for that software available and documented?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr> 
<td colspan="1" rowspan="1"><b>28.4</b></td>
<td colspan="1" rowspan="1">Has a copy of the edition and its images, software, stylesheets, and documentation been deposited with a library or other long-term digital object repository?</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</table></div>
</div>

<div class="div">

<h2 id="d0e1937">3. Glossary of Terms Used in the Guiding Questions</h2>
<div style="margin-left: 2em;"><div style="margin: 1ex 0 1ex 0;"><i>The glossary was drafted by Robert Hirst and subsequently revised and expanded by the committee.</i></div>
<div style="margin-left: 2em;"><div style="margin: 1ex 0 1ex 0;"><b>accidentals:</b>  A collective term invented by W. W. Greg and now widely used to mean the punctuation, spelling, word division, paragraphing, and indications of emphasis in a given text—things "affecting mainly its formal presentation," as he put it ("The Rationale of Copy-Text," <I>Studies in Bibliography</I> 3 [1950-51]: 21). Greg distinguished between the accidentals of a text and its words, or substantives (q.v.). Accidentals and substantives are conceptually important for Greg's rationale of copy-text, which assumes that authors are more proprietary about their words than about their accidentals, while typesetters and other agents of textual transmission (copyists, typists, proofreaders, copyeditors) are the reverse. For this reason, at least for an edition aimed at preserving the author's accidentals as well as substantives, the rationale for choosing a copy-text is first and foremost that, of the available texts, it is the most faithful to the author's accidentals and contains the fewest changes to them by other hands. It is therefore often the first or earliest text in a line of descent, but any author who carefully revised the accidentals (say, in the second edition) might oblige an editor to choose that text rather than an earlier one.</div>
<div style="margin: 1ex 0 1ex 0;"><b>authority:</b>  A property attributed to texts, or variants between texts, in order to indicate that they embody an author’s active intention, at a given point in time, to choose a particular arrangement of words and punctuation. Authority therefore always derives from the author, even when <i>author</i> is defined and understood as coauthor, collaborator, or a collective (like the vorticists). Where the author is unknown or uncertain, authority will need to be argued. It is even possible to invert the usual pattern and assign authority to agents who produce variants commonly regarded as unauthoritative, such as typesetters, proofreaders, or reprint publishers—though one hesitates to call such agents "author." However defined, the author produces texts or variants that have authority. Some reprints may be said to have "no authority" because the author had no role in producing them. On the other hand, texts that were set from copy revised by the author are said to contain "new authority," meaning that some of their variants arose from the author's revision. The authority of a holograph manuscript is usually greater than any typesetting of it, but the manuscript's authority at any given point may be superseded if the typesetting incorporates authorial changes—a case of "divided authority."</div>
<div style="margin: 1ex 0 1ex 0;"><b>base text:</b>  The text chosen by an editor to compare with other texts of the same work in order to record textual variation among them. Its selection can be to some extent arbitrary, or it can be selected because it is (among the available texts) simply the most complete. Unlike a copy-text (q.v.), it is not assigned any presumptive authority and may not even be used to construct a critical text, serving instead only as an anchor or base to record textual variants.</div>
<div style="margin: 1ex 0 1ex 0;"><b>collation:</b>  Comparison. A collation is either the record of the substantive and accidental differences between two or more texts or the act of comparing two or more texts for the purpose of documenting their differences.</div>
<div style="margin: 1ex 0 1ex 0;"><b>copy-text:</b>  The specific arrangement of words and punctuation that an editor designates as the basis for the edited text and from which the editor departs only where deeming emendation necessary. Under W. W. Greg's rationale the copy-text also has a presumptive authority in its accidentals (that is, the editor will default to them wherever variant accidentals are "indifferent"—meaning not persuasively authorial or nonauthorial). But <i>copy-text</i> may also designate texts for which no later variants are possible or anticipated. It is now commonplace to designate a manuscript letter that was actually sent as a copy-text for a personal letter. In such cases, emendations of the copy-text would normally consist not of the author's subsequent revisions but solely of elements in the original manuscript that the editor could not, or elected not to, represent in the transcription. Contrary to certain common misconceptions, <i>copy-text</i> does not mean the copy an editor or author sends to the printer, and it need not represent the "author's final intention." Indeed it is more likely to be the author's first draft than the author's final printed revision of a text. Its selection is based on the editor's judgment that the authority of its accidentals is on the whole superior to other possible texts that could be chosen for copy-text.</div>
<div style="margin: 1ex 0 1ex 0;"><b>digital object repository:</b>  A means of storing, retrieving, and administering complex collections of digital objects. If the repository is to meet the needs of scholarly editions, it should have a secure institutional basis (like a university research library), and it should have a commitment to long-term preservation, migration, and access. For an example, see <a href="http://www.fedora.info" target="_blank">www.fedora.info</a>.</div>
<div style="margin: 1ex 0 1ex 0;"><b>DTD (document type definition):</b> The set of rules that specifies how the SGML or XML grammar will be applied in a particular document instance.</div>
<div style="margin: 1ex 0 1ex 0;"><b>emendations:</b>  Editorial changes in the copy-text or base text. These changes may be made to correct errors, to resolve ambiguous readings, or to incorporate an author's later revisions as found in printed editions or other sources, such as lists of errata, assuming for the moment that the editorial goal is to recover the author's textual intentions. Different editorial goals might well call for emendations of some other kind, but they would all still be editorial changes to the copy-text or base text and would under normal circumstances be reported as part of the editor's accounting of the handling of available evidence.</div>
<div style="margin: 1ex 0 1ex 0;"><b>end-of-line hyphens:</b>  Hyphens in a word that fall at the end of a line in a manuscript or in typeset material. End-of-line hyphens may sometimes be ambiguous. They may be either (a) signs of syllabic division used to split a word in two for easier justification of a line of type (or to fit it on the end of one and beginning of the next manuscript line) or (b) signs that a compound word is to be spelled with a hyphen. A word like <i>water‑wheel</i> or <i>Jack‑o‑lantern</i> if broken after a hyphen at the end of a line might be ambiguous—that is, it is unclear whether the word is intended to be spelled with or without the hyphen. For any source text these ambiguous hyphens require judgment as to how the word was intended to be spelled, and such ambiguities would ordinarily be resolved in the way other ambiguous readings in a copy-text are resolved—by editorial choice, recorded as an emendation (change) in the copy-text. In the text as finally edited and printed, if hyphenation of certain words falls at the end of a line and is therefore ambiguous, the editor should likewise resolve this ambiguity for the reader.</div>
<div style="margin: 1ex 0 1ex 0;"><b>explanatory notes:</b>  Notes devoted to explaining what something means or why it is present, rather than textual notes, which are devoted to explaining why the text at a certain point reads in the way it does and not in some other way.</div>
<div style="margin: 1ex 0 1ex 0;"><b>historical collation:</b>  A record of variants for a given text over some defined number of editions (e.g., from the first through the seventh editions) or some period of time (e.g., from different impressions of the same edition made between 1884 and 1891). The purpose of historical collations is to put before the reader as complete a record as possible of all variants among a group of texts from which the editor has had to choose. In the past, but only to save space, historical collations have tended to omit variant accidentals and confine themselves to a record of variant substantives.</div>
<div style="margin: 1ex 0 1ex 0;"><b>ISO:</b> The short name for the International Organization for Standardization, a worldwide federation of national standards bodies from more than 140 countries, one from each country. ISO is a nongovernmental organization established in 1947. The mission of ISO is to promote the development of standardization and related activities in the world with a view to facilitating the international exchange of goods and services and to developing cooperation in the spheres of intellectual, scientific, technological, and economic activity. See <a href="http://www.iso.org/" target="_blank">www.iso.org</a>.</div>
<div style="margin: 1ex 0 1ex 0;"><b>  JPEG (Joint Photographic Experts Group), or JPG:</b> An open, nonproprietary ISO standard (official name ITU-T T.81 | ISO/IEC 10918-1) for the storage of raster images. For more information, see <a href="http://www.jpeg.org/" target="_blank">www.jpeg.org</a>.</div>
<div style="margin: 1ex 0 1ex 0;"><b>machine collation:</b>  Collation by means of a Hinman Collator or other mechanical or optical device, allowing very slight differences between states of the same typesetting to be located visually, without the need for a traditional point-by-point comparison of one text against the other. Machine collation is only possible between different states of the same typesetting.</div>
<div style="margin: 1ex 0 1ex 0;"><b>modernizing:</b>  Changing the spelling or punctuation of a text to bring these into conformity with modern standards, as distinct from the standards at the time of first composition or publication.</div>
<div style="margin: 1ex 0 1ex 0;"><b>METS (Metadata Encoding and Transmission Standard):</b> A standard for encoding descriptive, administrative, and structural metadata regarding objects within a digital library, expressed using the XML schema language of the World Wide Web Consortium. The standard is maintained in the Network Development and MARC (machine-readable cataloging) Standards Office of the Library of Congress and is being developed as an initiative of the Digital Library Federation. For more information, see <a href="http://www.loc.gov/standards/mets/" target="_blank">www.loc.gov/standards/mets</a>.</div>
<div style="margin: 1ex 0 1ex 0;"><b>MPEG (Moving Picture Experts Group):</b> The nickname given to a family of international standards used for coding audiovisual information in a digital compressed format. The MPEG family of standards includes MPEG-1, MPEG-2, and MPEG-4, formally known as ISO/IEC-11172, ISO/IEC-13818, and ISO/IEC-14496. Established in 1988, the MPEG working group (formally known as ISO/IEC JTC 1/SC 29/WG 11) is part of JTC1, the Joint ISO/IEC Technical Committee on Information Technology. For more information, see <a href="http://www.mpeg.org/" target="_blank">www.mpeg.org</a>. </div>
<div style="margin: 1ex 0 1ex 0;"><b>PNG (portable network graphics): </b>An extensible file format for the lossless, portable, well-compressed storage of raster images. The PNG specification is on a standards track under the purview of ISO/IEC JTC 1 SC 24 and is expected to be released eventually as ISO/IEC international standard 15948. See <a href="http://www.libpng.org/" target="_blank">www.libpng.org</a>.</div>
<div style="margin: 1ex 0 1ex 0;"><b>raster image:</b> An image stored and shown in terms of points, each one based on a set number of bytes that define its color. Arranged in a grid of pixels on a monitor, the points represent the tones, colors, and lines of the image.  Common raster formats include TIFF and JPEG. Sometimes called bitmapped images,  raster graphics are often contrasted to vector graphics, which represent images by such geometrical elements as curved lines and polygons rather than points in a grid.  Vector graphics are typically used in programs for drawing and computer-aided design (CAD).</div>
<div style="margin: 1ex 0 1ex 0;"><b>rendering process:</b> The application of rules to transform content from storage format (e.g., TEI XML) to delivery format (e.g., XHTML), for the purpose of display in a Web browser.  A vetter usually encounters these rules embodied in XSL stylesheets, but they could take other forms as well (PHP, CSS, etc.).</div>
<div style="margin: 1ex 0 1ex 0;"><b>schema:</b>  A means for defining the structure, content, and semantics of XML documents. For more information, see <a href="http://www.w3.org/XML/Schema" target="_blank">www.w3.org/XML/Schema</a>.</div>
<div style="margin: 1ex 0 1ex 0;"><b>SGML (standard generalized markup language):</b> A grammar for text encoding, defined in ISO 8879. For more information, see <a href="http://xml.coverpages.org/sgml.html" target="_blank">xml.coverpages.org/sgml.html</a>.</div>
<div style="margin: 1ex 0 1ex 0;"><b>silent emendations:</b>  Editorial changes to the copy-text that are not recorded, item by item, as they occur but are only described somewhere in the textual essay as a general category of change and are thus made "silently," without explicit notice of each and every change.</div>
<div style="margin: 1ex 0 1ex 0;"><b>stemma:</b>  A schematic diagram representing the genealogical relation of known texts (including lost exemplars) of a given work, showing which text or texts any given later text was copied from, usually with the overall purpose of reconstructing an early, lost exemplar by choosing readings from later extant texts, based in part on their relative distance from the lost source. A stemma may also be used simply to show graphically how any given text was copied or reprinted over time, even if the goal is not to recover an early, lost exemplar.</div>
<div style="margin: 1ex 0 1ex 0;"><b>substantives:</b>  W. W. Greg's collective term for the words of a given text—"the significant <nobr>. . .</nobr> readings of the text, those namely that affect the author's meaning or the essence of his expression," as distinct from its accidentals ("The Rationale of Copy-Text," <I>Studies in Bibliography</I> 3 [1950-51]: 21). Under Greg's rationale for copy-text, the authority for substantives could be separate and distinct from the authority for the accidentals, thus permitting an editor to adopt changes in wording from later texts, even though maintaining the accidentals of an earlier one virtually unchanged. </div>
<div style="margin: 1ex 0 1ex 0;"><b>tag library:</b>  A document that lists all the tags, or elements, available in a DTD, with a brief description of the intended use of each, a list of its attributes, and statements identifying elements within which this element can occur and which elements it can contain. See <a href="http://www.loc.gov/ead/tglib/index.html" target="_blank">www.loc.gov/ead/tglib/index.html</a> for an example.</div>
<div style="margin: 1ex 0 1ex 0;"><b>textual notes:</b>  Notes devoted specifically to discussing cruxes or particular difficulties in establishing how the text should read at any given point. Compare "explanatory notes."</div>
<div style="margin: 1ex 0 1ex 0;"><b>user interface:</b>   In an electronic edition, the on-screen presentation of content, including navigational methods, menus of options, and any other feature of the edition that invites user interaction or responds to it. </div>
<div style="margin: 1ex 0 1ex 0;"><b>variants:</b>  Textual differences between two or more texts. These would include differences in wording, spelling, word division, paragraphing, emphasis, and other minor but still meaning-bearing elements, such as some kinds of indention and spacing.</div>
<div style="margin: 1ex 0 1ex 0;"><b>XML (extensible markup language):</b> A simplified subset of SGML (q.v.), developed by the World Wide Web Consortium. For a gentle introduction to XML, see <a href="http://www.tei-c.org/P4X/SG.html" target="_blank">www.tei-c.org/P4X/SG.html</a></div>
<div style="margin: 1ex 0 1ex 0;"><b>XSL (extensible stylesheet language):</b>  A language for expressing stylesheets. An XSL stylesheet specifies the presentation of a class of XML documents (e.g., TEI documents) by describing how an instance of the class is transformed into an XML document that uses the specified formatting vocabulary (e.g., HTML). For more information, see <a href="http://www.w3.org/Style/XSL/" target="_blank">www.w3.org/Style/XSL</a>.</div>
</div>
</div>

<div class="div">

<h2 id="d0e2067">4. Annotated Bibliography: Key Works in the Theory of Textual Editing</h2>

<p>
Download the <a href="/">annotated bibliography</a>.[[[docstudio filetype_tag_pdf]]]</p>

<div class="div">
<div style="margin-left: 2em;"><div style="margin: 1ex 0 1ex 0;"><i>The bibliography was drafted by Dirk Van Hulle and subsequently revised and expanded by the committee. For a more extensive compilation of works on the topic, see William Baker and Kenneth Womack,</i> Twentieth-Century Bibliography and Textual Criticism: An Annotated Bibliography <i>(Westport: Greenwood, 2000).</i></div>
<div style="margin-left: 2em;"><div style="margin: 1ex 0 1ex 0;"><p>Bédier, Joseph. "La tradition manuscrite du <em>Lai de l'ombre</em>: Réflexions sur l'art d'éditer les anciens textes." <em>Romania</em> 54 (1928): 161-96, 321-56.  </p>
<blockquote>
<p>Bédier advocates best-text conservatism and rejects the subjectivity of Karl Lachmann's method (see Maas), which emphasizes the lost authorial text, resulting remarkably often in two-branch stemmata. Instead, Bédier focuses on manuscripts and scribes, reducing the role of editorial judgment.</div></p>
		</blockquote>
<div style="margin: 1ex 0 1ex 0;"><P>Biasi, Pierre-Marc de. "What Is a Literary Draft? Toward a Functional Typology of Genetic Documentation." <i> Drafts</i>. Ed. Michel Contat, Denis Hollier, and Jacques Neefs. Spec. issue of <i>Yale French Studies</i> 89 (1996): 26-58. </p>
<blockquote>
	<p>In a continuous effort to present manuscript analysis and <em>critique génétique</em> as a scientific approach to literature, Biasi designs a typology of genetic documentation, starting from the<em> bon à tirer</em> ("all set for printing") moment as the dividing line between the <em>texte</em> and what precedes it, the so-called <em>avant-texte</em>. </div></p>
</blockquote>
<div style="margin: 1ex 0 1ex 0;"><P>Blecua, Alberto. "Defending Neolachmannianism: On the <em>Palacio </em>Manuscript of <em>La Celestina</em>." <em>Variants</em>. Ed. Peter Robinson and H. T. M. Van Vliet. Turnhout: Brepols, 2002. 113-33.</p>
<blockquote>
<p>A clear position statement by the author of the noteworthy Spanish <em>Manual de critica textual</em> (1983) in defense of the neo-Lachmannian method. Blecua argues that stemmatic analysis is superior to the methods based on material bibliography and that only the construction of a stemma can detect the presence of contaminated texts.</div></p>
		</blockquote>
<P><div style="margin: 1ex 0 1ex 0;">Bornstein, George, and Ralph G. Williams, eds.<em> Palimpsest: Editorial Theory in the Humanities.</em> Ann Arbor: U of Michigan P, 1993.</p>
		<blockquote><P>On the assumption that texts are not as stable or fixed as we tend to think they are, these essays examine the palimpsestic quality of texts, emphasizing the contingencies both of their historical circumstances of production and of their reconstruction in the present. They mark a theoretical period of transition, shifting the focus from product to process in editorial theory and practice.</div></p>
		</blockquote>
<div style="margin: 1ex 0 1ex 0;"><P>Bowers, Fredson. "Some Principles for Scholarly Editions of Nineteenth-Century American Authors." <em>Studies in Bibliography</em> 17 (1964): 223-28.</p>
		<blockquote>
		<P>Concise and systematic elaboration of W. W. Greg's theories, arguing that "when an author's manuscript is preserved," this document rather than the first edition has paramount authority and should serve as copy-text. Bowers's principles for the application of analytic bibliography in an eclectic method of editing have been most influential in Anglo-American scholarly editing.
		</div></p>
		</blockquote>
<div style="margin: 1ex 0 1ex 0;"><P>Bryant, John. <i>The Fluid Text: A Theory of Revision and Editing for Book and Screen</i>. Ann Arbor: U of Michigan P, 2002. </p>
		<blockquote>
		<P>
Bryant draws attention to textual fluidity, which results from processes of revision. In terms of scholarly editing, this implies a method of representation that does not obviate but rather emphasizes moments of textual instability. Although the examples are mostly taken from Melville's works, the ideas are generally applicable to other writings. 
	</blockquote>
</div></p>


<div style="margin: 1ex 0 1ex 0;"><P>Burnard, Lou, Katherine O’Brien O’Keeffe, and John Unsworth, eds. <i>Electronic Textual Editing</i>. New York: MLA, 2006.</p>
		<blockquote><P>
		The guidelines of the Committee on Scholarly Editions and the Text Encoding Initiative frame a collection of essays on both practical and theoretical issues in electronic textual editing, ranging from levels of transcription to the preservation of electronic editions. The collection’s goal is to encourage careful work in the production of digital editions and to facilitate its evaluation so that scholars can receive professional credit for the transmission of cultural heritage from print to electronic media.  </div></p>
		</blockquote>
</p>
<div style="margin: 1ex 0 1ex 0;"><P>Bustarret, Claire. “Paper Evidence in the Interpretation of the Creative Process in Literary Manuscripts.” <i>L’Esprit Créateur </i>41.1 (2001): 16-28.</p>
		<blockquote><P>
		Bustarret analyzes the valuable clues paper analysis offers for understanding the complex interaction between the phases of writing and editing. She contends that paper is “not to be considered any more as a passive surface receiving the creative work, but as a tool in the creative process,” and offers fascinating case studies of the writings of Proust, Duchamp, Roussel, and others.</div></p>
		</blockquote>
</p>
<div style="margin: 1ex 0 1ex 0;"><P>Cohen, Philip, ed. <em>Devils and Angels: Textual Editing and Literary Theory.</em> Charlottesville: UP of Virginia, 1991.</p>
		<blockquote><P>
		The "increasingly theoretical self-consciousness" characterizing textual criticism and scholarly editing marks an impasse, indicative of a paradigm shift. Assumptions that have been self-evident for several decades are rethought in eight stimulating essays and three responses.</div></p>
		</blockquote>
<div style="margin: 1ex 0 1ex 0;"><P>Deegan, Marilyn, and Kathryn Sutherland, eds.<i>Text Editing, Print and the Digital World</i>. Farnham: Ashgate, 2009.</p>
		<blockquote><P>
		Taking stock of recent trends in digital humanities and scholarly editing, this collection of essays clearheadedly assesses the state of the discipline. Instead of loudly announcing paradigm shifts, the editors allow divergent voices to examine how existing approaches are evolving and responding to new editorial challenges, both in theory and in practice.  </div></p>
		</blockquote>
<div style="margin: 1ex 0 1ex 0;"><P>Deppman, Jed, Daniel Ferrer, and Michael Groden, eds. <i>Genetic Criticism: Texts and Avant-Textes</i>. Philadelphia: U of Pennsylvania P, 2004.
</p>
		<blockquote><P>
This representative collection of eleven essays by French critics (such as Louis Hay, Pierre-Marc de Biasi, Almuth Grésillon, and Jean Bellemin-Noël) introduces genetic criticism (<i>critique génétique</i>) to an Anglo-American audience, distinguishing this critical mode from textual criticism. Apart from the elucidating general introduction, each of the essays is preceded by an informative introduction and bibliography.
</blockquote>
</div></p>
<div style="margin: 1ex 0 1ex 0;"><P>Eggert, Paul. <i>Securing the Past: Conservation in Art, Architecture and Literature</i>. Cambridge: Cambridge UP, 2009.</p>
		<blockquote><P>
This methodological study approaches textual scholarship as a form of preservation that is comparable to architectural conservation and painting restoration. The book provides a lucid survey of the history of textual scholarship and a theoretically informed definition of <i>the work</i> as a regulative principle in terms of a negative dialectic between changing signifying aspects and equally changing physical states. 
</blockquote>
</div></p>	
<div style="margin: 1ex 0 1ex 0;"><P>———. "Textual Product or Textual Process: Procedures and Assumptions of Critical Editing." <em>Editing in Australia.</em> Ed. Eggert. Canberra: U Coll. ADFA, 1990. 19-40.</p>
		<blockquote>
		<P>Starting from a comparison with new techniques of x-raying paintings, Eggert proposes a valuable ideal for a critical edition that allows the reader to study both the writing process and the finished product. </div></p>
		</blockquote>
<div style="margin: 1ex 0 1ex 0;"><P>Ferrer, Daniel. "Production, Invention, and Reproduction: Genetic vs. Textual Criticism." <em>Reimagining Textuality: Textual Studies in the Late Age of Print</em>. Ed. Elizabeth Bergmann Loizeaux and Neil Fraistat. Madison: U of Wisconsin P, 2002. 48-59.</p>
		<blockquote><P>
		Ferrer defines the difference between genetic and textual criticism on the basis of their respective foci on invention and repetition. He pleads for a hypertextual presentation as the best way to do justice to the diverse aspects of the writing process.</div></p>
		</blockquote>
<div style="margin: 1ex 0 1ex 0;"><P>Finneran, Richard J., ed. <em>The Literary Text in the Digital Age</em>. Ann Arbor: U of Michigan P, 1996. Editorial Theory and Lit. Criticism.  </p>
		<blockquote>
		<P>The availability of digital technology coincides with a fundamental paradigm shift in textual theory, away from the idea of a "definitive edition." Fifteen contributions reflect on the shift toward an enhanced attention to nonverbal elements and the integrity of discrete versions. </div></p>
		</blockquote>
		
	<div style="margin: 1ex 0 1ex 0;"><P>	Fiormonte, Domenico. <i>Scrittura e filologia nell'era digitale</i>. Turin: Boringhieri, 2003.</p>
		<blockquote>
		<P>Taking Italian <i>filologia</i> as his frame of reference, Fiormonte includes advances in various fields of research and different national contexts to expound his view on the theoretical implications of electronic editing and digital philology or "postphilology." In the appendix, "Risorse digitali per la filologia," Cinzia Pusceddu discusses a number of existing electronic editions and useful tools for textual criticism and digital philology.

		</div></p>
		</blockquote>
		
<div style="margin: 1ex 0 1ex 0;"><P>Gabler, Hans Walter. "The Synchrony and Diachrony of Texts: Practice and Theory of the Critical Edition of James Joyce's <em>Ulysses.</em>" <em>Text </em>1 (1981): 305-26.</p>
		<blockquote>
		<P>The work's "total text," comprising all its authorial textual states, is conceived as a diachronous structure that correlates different synchronous structures. A published text is only one such synchronous structure and not necessarily a privileged one.</div></p>
		</blockquote>
<div style="margin: 1ex 0 1ex 0;"><P>Gabler, Hans Walter, George Bornstein, and Gillian Borland Pierce, eds. <em>Contemporary German Editorial Theory</em>. Ann Arbor: U of Michigan P, 1995.</p>
		<blockquote>
		<P>With its representative choice of position statements, this thorough introduction to major trends in German editorial theory in the second half of the twentieth century marks the relatively recent efforts to establish contact between German and Anglo-American editorial traditions.</div></p>
		</blockquote>
<div style="margin: 1ex 0 1ex 0;"><P>Gaskell, Philip. <em>From Writer to Reader: Studies in Editorial Method.</em> Oxford: Clarendon, 1978.</p>
		<blockquote>
		<P>In 1972, as <em>A New Introduction to Bibliography</em> was replacing R. B. McKerrow's manual, Gaskell had already criticized W. W. Greg's copy-text theory, arguing that authors often expect their publishers to correct accidentals. <em>From Writer to Reader</em> zooms in on the act of publication and the supposed acceptance of the textual modifications this may involve.</div></p>
		</blockquote>
<div style="margin: 1ex 0 1ex 0;"><P>Greetham, David C., ed. <em>Scholarly Editing: A Guide to Research.</em> New York: MLA, 1995.</p>
		<blockquote>
		<P>The most comprehensive survey of current scholarly editing of various kinds of literatures, both historically and geographically, with elucidating contributions by textual scholars from different traditions. </div></p>
		</blockquote>
<div style="margin: 1ex 0 1ex 0;"><P>———. <em>Textual Scholarship: An Introduction.</em> New York: Garland, 1992.</p>
		<blockquote>
		<P>An impressive survey of various textual approaches: finding, making, describing, evaluating, reading, criticizing, and finally editing the text—namely, biblio-, paleo-, and typography; textual criticism; and scholarly editing. The book contains an extensive bibliography, organized by discipline. </div></p>
		</blockquote>
<div style="margin: 1ex 0 1ex 0;"><P>Greg, W. W. "The Rationale of Copy-Text." <em>Studies in Bibliography</em> 3 (1950-51): 19-36. </p>
		<blockquote>
		<P>This pivotal essay has had an unparalleled influence on Anglo-American scholarly editing in the twentieth century. Greg proposes a distinction between substantive readings (which change the meaning of the text) and accidentals (spelling, punctuation, etc.). He pleads for more editorial judgment and eclectic editing, against "the fallacy of the 'best text'" and "the tyranny of the copy-text," contending that the copy-text should be followed only so far as accidentals are concerned and that it does not govern in the matter of substantive readings. </div></p>
		</blockquote>
<div style="margin: 1ex 0 1ex 0;"><P>Grésillon, Almuth. <em>Eléments de critique génétique: Lire les manuscrits modernes.</em> Paris: PUF, 1994. </p>
		<blockquote>
		<P>An introduction to textual genetics or <em>critique génétique</em>, which was developed in the 1970s and became a major field of research in France. In spite of correspondences with textual criticism, it sees itself as a form of literary criticism, giving primacy to interpretation over editing. </div></p>
		</blockquote>
<div style="margin: 1ex 0 1ex 0;"><P>Groden, Michael. "Contemporary Textual and Literary Theory." <em>Representing Modernist Texts: Editing as Interpretation. </em>Ed. George Bornstein. Ann Arbor: U of Michigan P, 1991. 259-86.</p>
		<blockquote>
		<P>An important plea for more contact between textual and literary theorists, by the general editor of the <em>James Joyce Archive</em> facsimile edition of Joyce's works. </div></p>
		</blockquote>
<div style="margin: 1ex 0 1ex 0;"><P>Hay, Louis. "Passé et avenir de l'édition génétique: Quelques réflexions d'un usager." <em>Cahier de textologie</em> 2 (1988): 5-22. Trans. as "Genetic Editing, Past and Future: A Few Reflections of a User." Trans. J. M. Luccioni and Hans Walter Gabler. <em>Text</em> 3 (1987): 117-33.</p>
		<blockquote>
		<P>Genetic editing, presenting the reader with a "work in progress," is a new trend, but it revives an old tradition. The founder of the Institute for Modern Texts and Manuscripts (ITEM-CNRS),  in Paris, points out that editing has always reflected the main ideological and cultural concerns of its day. </div></p>
		</blockquote>
<div style="margin: 1ex 0 1ex 0;"><P>Kirschenbaum, Matthew G. <i>Mechanisms: New Media and the Forensic Imagination</i>. Cambridge: MIT P, 2008.</p>
		<blockquote>
		<P>Just as the discipline of textual studies considers the physical traces of a writing process to examine variants, this study applies computer forensics to examine three important works of new media and electronic literature, paying attention to the specificity of multiple versions, storage devices, systems, and platforms. </div></p>
		</blockquote>
<div style="margin: 1ex 0 1ex 0;"><P>Maas, Paul. <em>Textkritik</em>. Leipzig: Teubner, 1927. Vol. 2 of <em>Einleitung in die Altertumswissenschaft.</em> Trans. as <em>Textual Criticism</em>. Trans. Barbara Flower. Oxford: Clarendon, 1958.</p>
		<blockquote>
		<P>One of Karl Lachmann's main disciples, Maas systematizes Lachmannian stemmatics, requiring thorough scrutiny of witnesses (<em>recensio</em>) before the emendation of errors and corruptions (<em>emendatio</em>, often involving a third step of divination or <em>divinatio</em>).</div></p>
		</blockquote>
<div style="margin: 1ex 0 1ex 0;"><P>Martens, Gunter, and Hans Zeller, eds. <em>Texte und Varianten: Probleme ihrer Edition und Interpretation</em>. Munich: Beck, 1971.</p>
		<blockquote>
		<P>An epoch-making collection of German essays with important contributions by, among others, Zeller (pairing "record" and "interpretation," allowing readers to verify the editor's decisions), Siegfried Scheibe (on fundamental principles for historical-critical editing), and Martens (on textual dynamics and editing). The collection's central statement is that the apparatus, not the reading text, constitutes the core of scholarly editions. </div></p>
		</blockquote>
<div style="margin: 1ex 0 1ex 0;"><P>McGann, Jerome J. <em>Critique of Modern Textual Criticism</em>. 1983. Charlottesville: UP of Virginia, 1992.</p>
		<blockquote>
		<P>Textual criticism does not have to be restricted to authorial changes but may also include the study of posthumous changes by publishers or other agents. McGann sees the text as a social construct and draws attention to the cooperation involved in the production of literary works. </div></p>
		</blockquote>
<div style="margin: 1ex 0 1ex 0;"><P>———. "The Rationale of Hypertext." <http://www.iath.virginia.edu/public/jjm2f/rationale.html> <em>Text </em>9 (1996): 11-32.  Rpt. in <em>Electronic Text: Investigations in Method and Theory. </em>Ed. Kathryn Sutherland. Oxford: Clarendon, 1997. 19-46. Rpt. in <em>Radiant Textuality: Literature after the World Wide Web.</em> New York: Palgrave, 2001. 53-74.</p>
		<blockquote>
		<P>Conceived in an expressly revisionist relation to W. W. Greg's rationale, McGann's ambitious essay presents the book as a machine of knowledge and evaluates the advantages of hyperediting and hypermedia over editions in codex form. As the earliest hypertextual structure, the library organization illustrates the theoretical design of a "decentered text."</div></p>
		</blockquote>
<div style="margin: 1ex 0 1ex 0;"><P>———.<em> The Textual Condition</em>. Princeton: Princeton UP, 1991.</p>
		<blockquote>
		<P>McGann makes several valuable and innovative suggestions, from the idea of a "continuous production text" to a clear distinction between a text's bibliographic and linguistic codes (in the important essay "What Is Critical Editing?"). </div></p>
		</blockquote>
<div style="margin: 1ex 0 1ex 0;"><P>McKenzie, D. F. <em>Bibliography and the Sociology of Texts: The Panizzi Lectures, 1985. </em> London: British Lib., 1986.</p>
		<blockquote>
		<P>McKenzie extends the scope of traditional bibliography to a broader sociology of the text, including video games, movies, and even landscapes. This perspective has been a major stimulus to the advancement of the sociological orientation in scholarly editing.</div></p>
		</blockquote>
<div style="margin: 1ex 0 1ex 0;"><P>McKerrow, R. B. <em>An Introduction to Bibliography for Literary Students. </em>Oxford: Oxford UP, 1927. </p>
		<blockquote>
		<P>McKerrow's manual of "new bibliography" reflects the early-twentieth-century editorial method that made extensive use of analytic bibliography. The author of <em>Prolegomena for the Oxford Shakespeare</em> was rather averse to the idea of emending the copy-text from other sources.</div></p>
		</blockquote>
<div style="margin: 1ex 0 1ex 0;"><P>Mikhailov, Andreï, and Daniel Ferrer, eds. <i>La textologie russe: Anthologie</i>. Paris: CNRS, 2007.</p>
		<blockquote>
		<P>Anthology of articles ranging from the early days of Russian formalism to recent criticism. Whereas French genetic criticism focuses on the destabilizing tendency of comparing different versions and prefers to separate the study of the writing process from the editorial impulse to provide a stable text, Russian textology (a term coined by Boris Tomashevsky in 1928) is concerned both with authors’ creative processes and with the way their works are presented to the public. </div></p>
		</blockquote>
<div style="margin: 1ex 0 1ex 0;"><P>Modiano, Raimonda, Leroy F. Searle, and Peter Shillingsburg, eds. <i>Voice, Text, Hypertext: Emerging Practices in Textual Studies.</i>   Seattle: U of Washington P, 2004.</p>
		<blockquote>
		<P>A collection of essays arguing that texts are not only “documents” or “material objects” but also “cultural events.”  Drawing from classical Roman and Indian to modern European traditions, the contributors reveal that “to study a text is to study a culture.” Additionally, the essays suggest the role of textual scholarship in cultural studies and critical theory.</div></p>
		</blockquote>
<div style="margin: 1ex 0 1ex 0;"><P>Nutt-Kofoth, Rüdiger. <i>Dokumente zur Geschichte der neugermanistischen Edition</i>. Tübingen: Niemeyer, 2005.</p>
		<blockquote>
		<P>Collection of thirty-five important theoretical essays that have shaped the German editorial tradition, including texts by Karl Lachmann, Jacob Grimm, Karl Goedeke, Gerog Witkowski, and Reinhold Backmann. The book offers a historical survey of the discipline from the mid-eighteenth century until the publication of the important volume <i>Texte und Varianten</i> (1971), which marks the start of contemporary German editorial theory.</div></p>
		</blockquote>
<div style="margin: 1ex 0 1ex 0;"><P>Nutt-Kofoth, Rüdiger, and Bodo Plachta, eds. <i>Editionen zu deutschsprachigen Autoren als Spiegel der Editionsgeschichte</i>. Tübingen: Niemeyer, 2005.</p>
		<blockquote>
		<P>The essays in this collection focus on the development in editorial approaches to the work of twenty important German-speaking authors (in alphabetical order from Brecht to Trakl), plus one survey article on electronic editions by Fotis Jannidis. This second volume in the series Bausteine zur Geschichte der Edition is part of the editors’ initiative to produce a history of scholarly editing.</div></p>
		</blockquote>
<div style="margin: 1ex 0 1ex 0;"><P>Nutt-Kofoth, R&uuml;diger, Bodo Plachta, H. T. M. Van Vliet, and Hermann Zwerschina, eds. <em>Text und Edition: Positionen und Perspektiven</em>. Berlin: Schmidt, 2000.</p>
		<blockquote>
		<P>As a younger generation's counterpart of <em>Texte und Varianten</em> (see Martens and Zeller), this state of the art of current scholarly editing in Germany also includes interesting survey articles on Anglo-American scholarly editing (e.g., Peter Shillingsburg) and "genetic criticism and philology" (Geert Lernout; trans. in <em>Text </em>14 [2002]: 53-75). </div></p>
		</blockquote>
<div style="margin: 1ex 0 1ex 0;"><P>Parker, Hershel. <em>Flawed Texts and Verbal Icons: Literary Authority in American Fiction. </em>Evanston: Northwestern UP, 1984.</p>
		<blockquote>
		<P>Starting from analyses of revisions by Herman Melville, Mark Twain, Stephen Crane, and Norman Mailer, Parker pleads for more attention to textual composition and the development of (sometimes self-contradictory) authorial intentions, which an institutionalized editorial method is often unable to represent.</div></p>
		</blockquote>
<div style="margin: 1ex 0 1ex 0;"><P>Pasquali, Giorgio. <em>Storia della tradizione e critica del testo.</em> Florence: Le Monnier, 1934.</p>
		<blockquote>
		<P>Pasquali criticizes some of the basic Lachmannian principles and proposes to take the history of the witnesses and the scribes into account. The current emphasis on textual tradition in Italian philology is to a large extent his legacy. </div></p>
		</blockquote>
<div style="margin: 1ex 0 1ex 0;"><P>Pizer, Donald. "Self-Censorship and Textual Editing." <em>Textual Criticism and Literary Interpretation.</em> Ed. Jerome J. McGann. Chicago: U of Chicago P, 1985. 144-61.</p>
		<blockquote>
		<P>Pizer emphasizes the social aspects of texts, arguing that even when authors personally change their texts under external pressure, it may be more important to present the reader with the censored versions because of their social resonance.</div></p>
		</blockquote>
<div style="margin: 1ex 0 1ex 0;">
<P>Reiman, Donald H. "'Versioning': The Presentation of Multiple Texts." <em>Romantic Texts and Contexts</em>. Columbia: U of Missouri P, 1987. 167-80.</p>
<blockquote>
<P>Reiman suggests "versioning" (or multiversional representation) as an alternative to "editing." The main purpose of this textual approach is to offer readers and critics the opportunity to figure out for themselves how the work evolved.</div></p>
		</blockquote>
<div style="margin: 1ex 0 1ex 0;"><P>Robinson, Peter M. W. "The One Text and the Many Texts." <em>Making Texts for the Next Century</em>. Spec. issue of <em>Literary and Linguistic Computing</em> 15.1 (2000): 5-14.</p>
		<blockquote>
		<P>Robinson, in answer to the question, "Is there a text in these variants?," which he asked in a previous essay, argues that a scholarly edition is more than merely presenting an archive of variants. The aim of the editor should be to offer a useful tool to allow readers to make the connection between variation and meaning. A critically edited text (presented along with "the many texts") is the best means to that end. </div></p>
		</blockquote>
		
<div style="margin: 1ex 0 1ex 0;"><P>Schreibman, Susan, Ray Siemens, and John Unsworth, eds.  <i>A Companion to Digital Humanities</i>.  Oxford: Blackwell, 2004.  </p>
		<blockquote>
		<P>This collection of thirty-seven essays consolidates its broad, authoritative coverage of the emerging field of humanities computing in four sections: history; principles; applications; and production, dissemination, and archiving.  Topics range from computer basics and digital textual editing to speculative computing, project design, and preservation.</div></p>
		</blockquote>
<div style="margin: 1ex 0 1ex 0;"><P>Shillingsburg, Peter L. <i>From Gutenberg to </i>    Google<i>: Electronic Representations of Literary Texts</i>. Cambridge: Cambridge UP, 2006.</p>
		<blockquote>The book’s hypothesis is that the electronic representation of print literature will significantly alter our understanding of textuality. Shillingsburg’s “script act theory,” a synthesis of theories on written literary texts developed in separate fields, is the basis for a proposal of an electronic infrastructure for script acts, as well as for a negotiation of conflicting objectives in different editorial traditions.</div></p>
		</blockquote>
<div style="margin: 1ex 0 1ex 0;"><P>———. <em>Resisting Texts: Authority and Submission in Constructions of Meaning</em>. Ann Arbor: U of Michigan P, 1997.</p>
		<blockquote>The editor's main task, Shillingsburg argues, is to relate the work to the documents and to take responsibility for the integrity of the agency of texts, which is a responsibility to both the author <em>and </em>the social contract. Shillingsburg designs a map with four major forms of textual concern, placing the physical documents at the center of textual and literary theory.</div></p>
		</blockquote>
<div style="margin: 1ex 0 1ex 0;"><P>———. <em>Scholarly Editing in the Computer Age: Theory and Practice.</em> 3rd ed. Ann Arbor: U of Michigan P, 1996.</p>
		<blockquote>
		<P>An indispensable introduction to practical procedures and controversial issues in editorial theory, offering clear definitions in matters of textual ontology and a survey of different orientations in scholarly editing. </div></p>
		</blockquote>
<div style="margin: 1ex 0 1ex 0;"><P>Stillinger, Jack. <em>Multiple Authorship and the Myth of the Author in Criticism and Textual Theory</em>. New York: Oxford UP, 1991. </p>
		<blockquote>
		<P>Stillinger pleads for a broader conception of authorship to include collaboration as an inherent aspect of creation. Case studies include John Stuart Mill and his wife, John Keats and his helpers, and William Wordsworth revising earlier versions of his texts.</div></p>
		</blockquote>
<div style="margin: 1ex 0 1ex 0;"><P>Tanselle, G. Thomas. "The Editorial Problem of Final Authorial Intention." <em>Studies in Bibliography</em> 29 (1976): 167-211.</p>
		<blockquote>
		<P>Authors' revisions do not automatically reflect their final intentions. In the case of <em>Typee</em>, Herman Melville was responsible for the changes in the second edition, but they represent his "acquiescence" rather than his intention, according to Tanselle, who is well aware that a reader does not have access to an author's mind and who advises editors to always take the context into account.</div></p>
		</blockquote>
<div style="margin: 1ex 0 1ex 0;"><P>———. <em>A Rationale of Textual Criticism.</em> Philadelphia: U of Pennsylvania P, 1989.</p>
		<blockquote>
		<P>In his profound analysis of the ontology of texts, Tanselle makes a clear distinction between <i>work</i> and <i>text</i>. A work is an entity that exists in no single historical document. Scholarly editing entails, just like any act of reading, the effort to discover the work that "lies behind" the text(s) one is presented with. </div></p>
		</blockquote>
<div style="margin: 1ex 0 1ex 0;"><P><i>Théorie: État des lieux</i>. Spec. issue of <i>Genesis: Revue internationale de critique génétique </i>30  (2010): 1–300.</p>
		<blockquote>
		<P>The thirtieth volume of the journal <i>Genesis</i> contains an inventory of different theories in textual studies, including Anglo-American, Italian, French, and German approaches, and explores common ground between genetic criticism and neighboring disciplines, such as literary history, sociocriticism, and digital humanities. </div></p>
		</blockquote>
<div style="margin: 1ex 0 1ex 0;"><P>Thorpe, James. <em>Principles of Textual Criticism</em>. San Marino: Huntington Lib., 1972.</p>
		<blockquote>
		<P>As an early critic of the principles advocated by W. W. Greg and Fredson Bowers, Thorpe argues that specific compositional peculiarities and contingencies tend to be left out of consideration. </div></p>
		</blockquote>
<div style="margin: 1ex 0 1ex 0;"><P>Timpanaro, Sebastiano. <em>La genesi del metodo del Lachmann.</em> 1963. Padua: Liviana, 1985.</p>
		<blockquote>
		<P>The genealogical study of manuscript transmission originated in New Testament criticism toward the end of the eighteenth century. By reexamining Joseph Bédier's criticism regarding two-branch stemmata, Timpanaro does not so much aim to correct them but to understand how they came into being. </div></p>
		</blockquote>	
<div style="margin: 1ex 0 1ex 0;"><P>Tisseron, Serge. “All Writing Is Drawing: The Spatial Development of the Manuscript.” <i>Yale French Studies </i>84 (1994): 29-42.</p>
		<blockquote>
		<P>Tisseron reasserts the value of the active, fluid processes of the “poetics of writing” as opposed to the “poetics of the text.”  His essay explores the inscriptive process from the perspective of “the original spatial play which the hand stages,” noting especially connections between the somatics of writing and the process of thinking. </div></p>
		</blockquote>
<div style="margin: 1ex 0 1ex 0;"><P>Vanhoutte, Edward. “Electronic Textual Editing: Prose Fiction and Modern Manuscripts: Limitations and Possibilities of Text-Encoding for Electronic Editions.” <i>Text Encoding Initiative</i>. TEI, n.d. Web. 22 Feb. 2011. </p>
		<blockquote>
		<P>Vanhoutte offers a concise yet complex definition of the electronic edition and its principal aims. In addition to discussing editorial principles and markup, the author proposes a methodology that “might help us in combining the study of ‘what cannot be observed’ in very observable markup.’” Most significantly, Vanhoutte presents a way of  “getting time back in manuscripts.”</div></p>
		</blockquote>
<div style="margin: 1ex 0 1ex 0;"><P>Van Hulle, Dirk. <i>Textual Awareness: A Genetic Study of Late Manuscripts by Joyce, Proust, and Mann</i>. Ann Arbor: U of Michigan P, 2004.
</p>
		<blockquote>
		<P>
The first part of the book gives a concise but thorough overview of the three editorial traditions (<i>Editionswissenschaft</i>, <i>édition critique</i> and <i>critique génétique</i>, and textual criticism and scholarly editing). The second part of the book is a genetic analysis of three major works of world literature: James Joyce's <i>Finnegans Wake</i>, Marcel Proust's <i>À la recherche du temps perdu</i>, and Thomas Mann's <i>Doktor Faustus</i>.
</div></p>
		</blockquote>
<div style="margin: 1ex 0 1ex 0;"><P>Zeller, Hans. "A New Approach to the Critical Constitution of Literary Texts." <em>Studies in Bibliography</em> 28 (1975): 231-63.</p>
		<blockquote>
		<P>In his evaluation of Anglo-American copy-text theory from a structuralist point of view, Zeller contrasts the practice of editing an "eclectic (contaminated) text" with German editorial methods, showing crucial differences with respect to the notions of "authority," "authorial intention," and "version."</div></p>

						
<br/>					
<br/>
<br/>
 
