<h1>Committee on the Status of Graduate Students in the Profession: History, Activities, and Charge</h1>
<h2>History</h2>
The Executive Council established the Committee on the Status of Graduate Students in the Profession (CSGSP) in 1998. The 1990s saw a worsening job market (after a few good years in the mid to late 1980s), and the MLA was working on many fronts to understand and alleviate the job crisis. Because graduate education was one of the council’s special concerns, the CSGSP was created to help the council and the MLA staff identify and address issues affecting graduate students in modern languages and literature and to address the role of graduate students in the association.

The committee is unique in that all its appointees are graduate students. Accordingly, the committee’s first objective was to increase communications with graduate student members and encourage their involvement in association activities. The CSGSP explored collaborative projects with other association committees and held convention sessions on a variety of topics of importance to graduate students (e.g., publication and professionalization, mentoring practices, teacher training, unionization). In recent years, the committee has engaged in publication projects that deal with best practices in a number of important areas (e.g., institutional policies affecting graduate students).

The council has renewed the committee three times since 1998 (in 2003, 2008, and 2013). The CSGSP continues to collaborate with other MLA committees, with directors of graduate studies, and with MLA staff members to address issues of concern to graduate students, including compensation, the inclusion of graduate students of color, the role of the MA degree, alternative academic careers, and the meaning of professionalization for twenty-first-century students.
<h2>Activities</h2>
Each year at the MLA Annual Convention, the CSGSP provides a Graduate Student Lounge where students can relax and meet members of the committee.

The committee compiles a list of MLA convention sessions of interest to graduate students, posts the list on its Web page, and notifies MLA graduate student members by e-mail about convention activities of particular interest to graduate students.

The committee produces informative documents for graduate students, such as <i>A Graduate Student Guide to the MLA Annual Convention</i>.
<h2>Charge (revised May 2007)</h2>
The Committee on the Status of Graduate Students in the Profession is charged with considering a range of curricular, intellectual, and professional issues that affect both MA- and PhD-seeking graduate students studying language and literature at different types of academic institutions. The committee should organize convention sessions and consider association publications and other projects that will assist students while they pursue their education, gain experience as teachers, seek employment, and make a transition to the workplace. The committee is also charged with bringing issues that concern graduate students to the attention of the MLA staff, the Executive Council, and other MLA committees that deal with activities that affect graduate students (e.g., the Job Information Service.)
