<h1>2012 MLA Convention Sessions of Interest to Graduate Student Members</h1>
From the Committee on the Status of Graduate Students in the Profession (<a href="/comm_grad">CSGSP</a>)
<h2>Lounge</h2>
A lounge where graduate students can meet for discussion or relaxation will be located in 210, level 2, Washington State Convention Center (WSCC). The lounge’s hours will be 12:00 noon&ndash;8:00 p.m. on 5 January, 8:00 a.m.&ndash;7:00 p.m. on 6 and 7 January, and 8:00 a.m.&ndash;12:00 noon on 8 January.
<h2>Sessions</h2>
The CSGSP encourages graduate student members attending the convention to use the hash tag #MLAGrads, as well as #MLA12, if they comment on <i>Twitter</i> on sessions of interest to graduate students. To tag individual sessions, use "#S" and the session number (e.g., #S160).

<ul class="program_entry_list">
	<li class="program_entry"><a href="/program_details?prog_id=M020B&year=2012">4. Preconvention Workshop for Job Seekers in Foreign Languages</a><br /><i>Thursday, 5 January, 11:45 a.m.–1:15 p.m., 2A, WSCC</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=M009A&year=2012">5. Preconvention Workshop for Job Seekers in English</a><br /><i>Thursday, 5 January, 11:45 a.m.–1:15 p.m., 2B, WSCC</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=M023D&year=2012">43. Making a Case for the Humanities: Advocacy and Audience</a><br /><i>Thursday, 5 January, 1:45–3:00 p.m., 612, WSCC</i></li
	<li class="program_entry"><a href="/program_details?prog_id=B003B&year=2012">68. What Works? Integrating Culture into First-Year English and Foreign Language Courses</a><br /><i>Thursday, 5 January, 1:45–3:00 p.m., 613, WSCC</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=F001&year=2012">69. The Future of Higher Education</a><br /><i>Thursday, 5 January, 3:30–5:15 p.m., Grand C, Sheraton</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=M056B&year=2012">93. Professional Employment Practices for Non-Tenure-Track Faculty Members</a><br /><i>Thursday, 5 January, 3:30–4:45 p.m., 617, WSCC</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=M009C&year=2012">127. The Job I Got</a><br /><i>Thursday, 5 January, 5:15–6:30 p.m., 616, WSCC</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=D081B&year=2012">159. Rhetoric and/of the Job Market</a><br /><i>Thursday, 5 January, 7:00–8:15 p.m., 616, WSCC</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=M020F&year=2012">160. Demonstration Interviews for Job Seekers in Foreign Languages</a><br /><i>Thursday, 5 January, 7:00–8:15 p.m., Aspen, Sheraton</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=B012A&year=2012">167. The Fight for Public Higher Education</a><br /><i>Friday, 6 January, 8:30–9:45 a.m., 310, WSCC</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=M004A&year=2012">194. Activism in the Academy: Generational, Historical, and Theoretical Perspectives</a><br /><i>Friday, 6 January, 8:30–9:45 a.m., Willow B, Sheraton</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=M003A&year=2012">196. How to Search the <i>MLA International Bibliography</i> like an Expert</a><br /><i>Friday, 6 January, 8:30–9:45 a.m., 306, WSCC</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=M024E&year=2012">276. Getting Funded in the Humanities: An NEH Workshop</a><br /><i>Friday, 6 January, 1:30–3:30 p.m., 3B, WSCC</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=G030A&year=2012">289. Communicating Contingent Realities</a><br /><i>Friday, 6 January, 1:45–3:00 p.m., 308, WSCC</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=M025A&year=2012">315. The New Dissertation: Thinking outside the (Proto-)Book</a><br /><i>Friday, 6 January, 3:30–4:45 p.m., 606, WSCC</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=M037C&year=2012">323. Disability in the Composition Class: Inclusion and Adaptation</a><br /><i>Friday, 6 January, 3:30–4:45 p.m., 620, WSCC</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=S732&year=2012">341. Learning to Connect the Multiple Fields of an English Department</a><br /><i>Friday, 6 January, 3:30–4:45 p.m., 614, WSCC</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=M033A&year=2012">361. "An Injury to One": Fighting the Exploitation of Graduate Student Labor</a><br /><i>Friday, 6 January, 5:15–6:30 p.m., 309, WSCC</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=M018B&year=2012">380. The Presidential Address</a><br /><i>Friday, 6 January, 6:45 p.m., Metropolitan A, Sheraton</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=M001A&year=2012">392. The New Normal: The Changing Nature of the Academic Job Search</a><br /><i>Saturday, 7 January, 8:30–9:45 a.m., 612, WSCC</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=A007A&year=2012">408. What Do Graduate Students in Spanish Need to Learn, and Why?</a><br /><i>Saturday, 7 January, 8:30–9:45 a.m., Issaquah, Sheraton</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=A051A&year=2012">435. Issues Facing Graduate Students of Color in the Profession</a><br /><i>Saturday, 7 January, 10:15–11:30 a.m., 309, WSCC</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=M055A&year=2012">460. The Academic Workplace 101</a><br /><i>Saturday, 7 January, 10:15–11:30 a.m., Columbia, Sheraton</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=W001B&year=2012">467. The Future of Teaching</a><br /><i>Saturday, 7 January, 12:00 noon–1:15 p.m., Grand C, Sheraton</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=M009B&year=2012">496. Career Opportunities in Two-Year Colleges</a><br /><i>Saturday, 7 January, 12:00 noon–1:15 p.m., 307, WSCC</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=M050B&year=2012">501. Using Your Foreign Language Proficiency and Cultural Expertise in the Federal Government</a><br /><i>Saturday, 7 January, 1:30–3:30 p.m., 2B, WSCC</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=D047A&year=2012">502. Emerging Paradigms for Teaching Literature, Language, and Culture</a><br /><i>Saturday, 7 January, 1:45–3:00 p.m., Issaquah, Sheraton</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=G011A&year=2012">539. #alt-ac: Alternative Paths, Pitfalls, and Jobs in the Digital Humanities</a><br /><i>Saturday, 7 January, 3:30–4:45 p.m., 3B, WSCC</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=A004A&year=2012">545. German Graduate Education 2020: Strategies for the Future</a><br /><i>Saturday, 7 January, 3:30–4:45 p.m., Issaquah, Sheraton</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=M055C&year=2012">595. #alt-ac: The Future of "Alternative Academic" Careers</a><br /><i>Saturday, 7 January, 5:15–6:30 p.m., 3B, WSCC</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=M018A&year=2012">611. MLA Awards Ceremony</a><br /><i>Saturday, 7 January, 6:45 p.m., Metropolitan A, Sheraton</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=C018&year=2012">612. Reception Arranged by the Graduate Program in Spanish and Portuguese at Northwestern University</a><br /><i>Saturday, 7 January, 7:00–8:15 p.m., Seneca, Sheraton</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=M033C&year=2012">645. "Any Volunteers?": Graduate Student Service Work</a><br /><i>Sunday, 8 January, 8:30–9:45 a.m., 614, WSCC</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=G049B&year=2012">685. Staging a Woman's Life in Academia</a><br /><i>Sunday, 8 January, 10:15–11:30 a.m., 620, WSCC</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=M007B&year=2012">696. The Faces behind the Data: Humanizing the MLA Report <i>Data on Humanities Doctorate Recipients and Faculty Members by Race and Ethnicity</i></a><br /><i>Sunday, 8 January, 12:00 noon–1:15 p.m., 614, WSCC</i></li>
	<li class="program_entry"><a href="/program_details?prog_id=D049B&year=2012">731. Common First-Year Readings and Themes: Theory, Practice, Problems, Promise</a><br /><i>Sunday, 8 January, 1:45–3:00 p.m., 608, WSCC</i></li>
</ul>
