<style type="text/css">
ul.nested {
list-style-type: circle;
margin-bottom: 0px;
}
</style>

<h1>A Graduate Student Guide to the MLA Annual
Convention</h1>

<p>The MLA Annual Convention, a dynamic gathering of scholars in language and literature, enables students to interact with peers from other fields and to hear and participate in conversations on the state of the profession. Sessions cover a range of topics, from pedagogy and teaching trends to professional service to new developments in  scholarly research. The convention also offers many opportunities for networking.</p>

<p>The Committee on the Status of Graduate Students in the Profession (CSGSP) has provided the following monthly calendar as a guide for graduate students unfamiliar with the convention and as a reminder for those already familiar with convention procedures
(also see <a href="/conv_deadlines">Convention Deadlines</a>).</p>

<p><b>September</b></p>
<ul>
<li><a href="/convention">Members can register</a> for the MLA Annual Convention and make hotel reservations in early September.</li>
<li>The MLA <a href="/jil"><i>Job Information List</i> (<i>JIL</i>)</a> database comes online 15 September and is updated weekly on Fridays.
<li>Graduate students who are MLA members by 30 June may apply for travel assistance to the MLA convention <a href="/conv_travel_assist">online</a> in early September or by mail, postmarked by 1 November.</li>
</ul>

<p><b>October</b></p>
<ul>
<li>Nonmember convention and hotel registration begins.</li>
</ul>

<p><b>November</b></p>
<ul>
<li>The Program for the convention is available in the November issue of <i>PMLA</i> and on the MLA Web site.</li>
<li>Should you wish to attend the MLA cultural excursions, register early.</li>
</ul>

<p><b>December</b></p>
<ul>
<li>The registration rate for the convention increases.</li>
<li>MLA members attending the convention can sign up to “chat with an editor” who is a member of the Council of Editors of Learned Journals (CELJ), an allied organization of the MLA. The service gives scholars the opportunity to meet one-on-one with an experienced editor to discuss any aspect of the publication process. For registration information, visit the <a href="http://www.celj.org/node/15053">CELJ Web site</a>.</li>
<li>As you prepare for the MLA Annual Convention, be sure to do the following:
	<ul class="nested">
	<li>Construct a personalized conference schedule by logging in to the MLA Web 	site. When organizing your schedule, be sure to consider roundtables, panels, business meetings, and social events. A list of sessions of interest to graduate students will be available on the <a href="/comm_grad">CSGSP Web page</a>.</li>
	<li>Bring your Program, registration badge, and business cards to the convention.</li>
	<li>Consult the maps in the Program to determine locations of convention hotels and sessions.</li>
	<li>If you will be interviewing at the convention, consult "<a href="/jil_jobseekers_dos">Dos and Don'ts for MLA Convention Interviews</a>."</li>
	<li>If you are presenting, print everything out (presentation, handouts, etc.) before arriving at the convention. Be sure all audiovisual aspects of your presentation are complete, and test them ahead of time.</li>
	</ul>
</li>
</ul>

<p><b>January</b></p>
<ul>
<li>There is a very early January postmark deadline for registration refund requests for the current year’s convention. A $10 service fee is deducted from all refunds.</li>
<li>At the MLA Annual Convention:
	<ul class="nested">
	<li>Expect to be asked about the following by most everyone you meet: your name, school, research interests, and academic standing (“Are you on the market?” “What are you working on?”).</li>
	<li>Attend sessions and meetings outside your immediate field of research. The MLA convention is a great opportunity to learn about the state of the profession.</li>
	<li>Take advantage of job counseling, by appointment only, in the MLA Job Information Center. Appointments can be arranged through staff members on duty in the interview area.</li>
	<li>Visit the exhibit hall. Many books and services are discounted throughout the convention.</li>
	<li>Use the Graduate Student Lounge (see the Program for location) to regroup between sessions, meet other graduate students, and have a snack.</li>
	<li>Check the <i>Convention Daily</i> for special notices, schedule changes, and brief reports on convention activities. Copies are available for free online and at the MLA information center.</li>
	</ul>
</li>
<li>After the MLA Annual Convention:
	<ul class="nested">
	<li>Follow up with the people you met.</li>
	<li>Search for more jobs; more academic jobs are posted after the convention (see the most recent <a href="/jil">report on the <i>JIL</i></a>).</li>
	<li>Renew your MLA membership. MLA membership runs from 15 January through 14 January of the subsequent year.</li>
	<li>Begin checking the convention Web site for <a href="/cfp_main">calls for papers</a> for the following year’s convention.</li>
	</ul>
</li>
</ul>

<p><b>February and March</b></p>
<ul>
<li>The deadline for submitting a call for papers is in mid-February.</li>
<li>Deadlines for answering calls for papers typically range from early February to mid-March.</li>
</ul>

<p><b>April</b></p>
<ul>
<li><a href="/ssp_main">Special-session proposals</a>, program copy forms, and
all requests for audiovisual equipment must be submitted electronically no later than 1 April.</li>
<li>You must be a current (paid) MLA member by 7 April to speak on a panel at the following year's convention.</li>
<li>If you responded to a call for papers, the session organizer should inform you of its status by 1 April.</li>
</ul>

<p><b>June</b></p>
<ul>
<li>Graduate students must become members of the MLA by 30 June to be eligible to apply (by the 1 November deadline) for travel reimbursement for the upcoming convention.</li>
</ul>

<p><b>July</b></p>
<ul>
<li>Session organizers receive proofs for the November (Program) issue of <i>PMLA</i>.</li>
</ul>

<p><b>August</b></p>
<ul>
<li>The MLA sends program participants the date, time, and place of their convention sessions.</li>
<li>Online submission of calls for papers opens for the next year's convention. Consult <a href="/guidelines_for_speak">MLA Guidelines for Speakers and Session Organizers</a> and <a href="/conv_deadlines">Convention Deadlines</a> if you are considering organizing a session.</li>
</ul>
