<h1>Agenda for the 2014 Delegate Assembly Meeting: Open Discussion</h1>

<style type="text/css">.indent{text-indent:-1em; padding-left:1em; padding-top:0; padding-bottom:1em; margin-right: -2em; width: 97%;} .url{text-indent:0; padding-left:1em; word-wrap: break-word;  overflow-wrap: break-word;}</style>

<p>For the portion of the assembly’s agenda dedicated to open discussion, the Delegate Assembly Organizing Committee has selected the following topic:</p>

<blockquote>Strategies for Strengthening Humanities Education as a Public Good: How Do We Respond to Questions of Our Value? What Should the MLA Do?</blockquote>

<p>The DAOC has identified the documents listed below for general background reading on the topic. In addition, the committee has identified several possible discussion threads, listed below, along with additional background readings.</p>

<h2>General Background Readings</h2>
	<div class="indent">Giroux, Henry A. “Public Intellectuals against the Neoliberal University.” <i>Truthout</i> 29 Oct. 2013.
		<div class="url">[<a target="other" href="http://truth-out.org/opinion/item/19654-public-intellectuals-against-the-neoliberal-university">http://truth-out.org/opinion/item/19654-public-intellectuals-against-the-neoliberal-university</a>]</div>
	</div>
	<div class="indent">Lewin, Tamar. “As Interest Fades in the Humanities, Colleges Worry.” <i>New York Times</i> 30 Oct. 2013.
		<div class="url">[<a target="other" href="http://www.nytimes.com/2013/10/31/education/as-interest-fades-in-the-humanities-colleges-worry.html">http://www.nytimes.com/2013/10/31/education/as-interest-fades-in-the-humanities-colleges-worry.html</a>]</div>
	</div>
	<div class="indent">Mills, Nicolaus. “The Corporatization of Higher Education.” <i>Dissent</i> (Fall 2012): 6–9.
		<div class="url">[<a target="other" href="http://www.dissentmagazine.org/article/the-corporatization-of-higher-education">http://www.dissentmagazine.org/article/the-corporatization-of-higher-education</a>]</div>
	</div>
	<div class="indent">New Economics Foundation. “University Challenge: Towards a Well-Being Approach to Quality in Higher Education.” <i>nef: economics as if people and the planet mattered</i>. 14 June 2008.
		<div class="url">[Introductory page: <a target="other" href="http://www.neweconomics.org/publications/entry/university-challenge">http://www.neweconomics.org/publications/entry/university-challenge</a>]<br>
		[Report: <a target="other" href="http://s.bsd.net/nefoundation/default/page/-/files/University_Challenge.pdf">http://s.bsd.net/nefoundation/default/page/-/files/University_Challenge.pdf</a>]</div>
	</div>
	<div class="indent">Newfield, Christopher. “Humanities Creativity in the Age of Online.” <i>Occasion: Interdisciplinary Studies in the Humanities</i> 6 (2013): 1–11.
		<div class="url">[<a target="other" href="http://arcade.stanford.edu/sites/default/files/article_pdfs/OCCASION_v6_Newfield_100113.pdf">http://arcade.stanford.edu/sites/default/files/article_pdfs/OCCASION_v6_Newfield_100113.pdf</a>]</div>
	</div>
	<div class="indent">Terras, M., E. Priego, A. Liu, G. Rockwell, S. Sinclair, C. Hensler, and L. Thomas. “The Humanities Matter!” Infographic. <i>4Humanities: Advocating for the Humanities</i>. 18 July 2013.
		<div class="url">[Introductory page: <a target="other" href="http://4humanities.org/2013/07/the-humanities-matter-infographic/">http://4humanities.org/2013/07/the-humanities-matter-infographic/</a>]<br>
		[Infographic: <a target="other" href="http://4humanities.org/wp-content/uploads/2013/07/humanitiesmatter300.pdf">http://4humanities.org/wp-content/uploads/2013/07/humanitiesmatter300.pdf</a>]</div>
	</div>
<h2>Discussion Threads</h2>
	<ul>
		<li><div class="indent">
			Qualitative vs. Quantitative Assessment
			
			<div class="indent">Guillory, John. “Evaluating Scholarship in the Humanities: Principles and Procedures.” <i>ADE Bulletin</i> 137 (2005): 18–33.</div>
			
			<div class="indent">Holquist, Michael. “Measuring the Humanities: The Slippery Slope from Assessment to Standardization.” <i>Literary Study, Measurement, and the Sublime: Disciplinary Assessment</i>. Ed. Donna Heiland and Laura Rosenthal. New York: Teagle Foundation, 2011. 69–94.
				<div class="url">[<a target="other" href="http://www.teaglefoundation.org/teagle/media/library/documents/resources/disciplinary-assessment/holquist.pdf">http://www.teaglefoundation.org/teagle/media/library/documents/resources/disciplinary-assessment/holquist.pdf</a>]</div>
			</div>
		</div></li>
		
		<li><div class="indent">Defining Bottom Lines beyond the For-Profit Model</div></li>
		
		<li>Whose Public, Whose Goods? Toward a New Commons
			<div class="indent">
			<div class="indent">Baum, Sandy, and Michael McPherson. “Is Education a Public Good or a Private Good?” <i>Chronicle of Higher Education</i> 18 Jan. 2011.
				<div class="url">[<a target="other" href="http://chronicle.com/blogs/innovations/is-education-a-public-good-or-a-private-good/28329">http://chronicle.com/blogs/innovations/is-education-a-public-good-or-a-private-good/28329</a>]</div>
			</div>
			
			<div class="indent">Giroux, Henry A. “Once More, with Conviction: Defending Higher Education as a Public Good.” <i>Qui Parle: Critical Humanities and Social Sciences</i> 20.1 (2011): 117–35.
				<div class="url">[<a target="other" href="http://muse.jhu.edu/journals/qui/summary/v020/20.1.giroux.html">http://muse.jhu.edu/journals/qui/summary/v020/20.1.giroux.html</a>]</div>
			</div>
		</li>
		
		<li>Making New Allies
			<div class="indent">
			<div class="indent">Evans, Kathryn, and Roger Malina. “Bridging the Silos: Curriculum Development as a Tool for Crossing Disciplines in the Arts, Sciences and Humanities.” <i>SEAD: White Papers</i>. Network for Sciences, Engineering, Arts, and Design.
				<div class="url">[<a target="other" href="http://seadnetwork.wordpress.com/white-paper-abstracts/final-white-papers/breaking-down-the-silos-curriculum-development-as-a-tool-for-crossing-disciplines-in-the-arts-sciences-and-humanities/">http://seadnetwork.wordpress.com/white-paper-abstracts/final-white-papers/breaking-down-the-silos-curriculum-development-as-a-tool-for-crossing-disciplines-in-the-arts-sciences-and-humanities/</a>]</div>
			</div>
			<div class="indent">Hipperson, Julie. “Case Study: Science Meets the Humanities.” Arts and Humanities Research Council.
				<div class="url">[<a target="other" href="http://www.ahrc.ac.uk/Funding-Opportunities/Pages/Case-Study-Science-meets-the-Humanities.aspx">http://www.ahrc.ac.uk/Funding-Opportunities/Pages/Case-Study-Science-meets-the-Humanities.aspx</a>]</div>
			</div>
			<div class="indent">Hollinger, David A. “The Wedge Driving Academe’s Two Families Apart: Can STEM and the Human Sciences Get Along?” <i>Chronicle of Higher Education</i> 14 Oct. 2013.
				<div class="url">[<a target="other" href="http://chronicle.com/article/Why-Cant-the-Sciencesthe/142239/">http://chronicle.com/article/Why-Cant-the-Sciencesthe/142239/</a>]</div>
			</div>
			<div class="indent">Price, Kimala. “Reflections on Intellectual Hybridity.” <i>Journal of Feminist Scholarship</i> 2 (2012): 54–68.
				<div class="url">[<a target="other" href="http://www.jfsonline.org/issue2/articles/price/">http://www.jfsonline.org/issue2/articles/price/</a>]</div>
			</div>
		</li>
	
		<li>Communities of Innovation
			<div class="indent">
			<div class="indent">Hargadon, Andrew B., and Beth A. Bechky. “When Collections of Creatives Become Creative Collectives: A Field Study of Problem Solving at Work.” <i>Organization Science</i> 17.4 (2006): 484–500.
				<div class="url">[<a target="other" href="http://pubsonline.informs.org/doi/abs/10.1287/orsc.1060.0200">http://pubsonline.informs.org/doi/abs/10.1287/orsc.1060.0200</a>]</div>
			</div>
			<div class="indent">Pannapacker, William. “Cultivating Partnerships in the Digital Humanities.” <i>Chronicle of Higher Education</i> 13 May 2013.
				<div class="url">[<a target="other" href="http://chronicle.com/article/Cultivating-Partnerships-in/139161/">http://chronicle.com/article/Cultivating-Partnerships-in/139161/</a>]</div>
			</div>
			<div class="indent">Straumsheim, Carl. “Humanities Ph.D. Plus.” <i>Inside Higher Ed</i> 21 Mar. 2013.
				<div class="url">[<a target="other" href="http://www.insidehighered.com/news/2013/03/21/institutions-launch-informal-network-innovate-and-inspire-humanities-programs">http://www.insidehighered.com/news/2013/03/21/institutions-launch-informal-network-innovate-and-inspire-humanities-programs</a>]</div>
			</div>
			<div class="indent">University of California, Davis, News Service. “New Endowed Chair Blends Science and Humanities (VIDEO).” 25 July 2012.
				<div class="url">[<a target="other" href="http://news.ucdavis.edu/search/printable_news.lasso?id=10259&table=news">http://news.ucdavis.edu/search/printable_news.lasso?id=10259&table=news</a>]</div>
			</div>
			</div>
		</li>
			
</ul>
