<h1>Agenda for the 2013 Delegate Assembly Meeting: Motion</h1>
<h2>Motion 2013-1</h2>
<i>Proposer of record</i>: Margaret Hanzimanolis on behalf of the Radical Caucus in English and<br>&nbsp;&nbsp;&nbsp;&nbsp; Modern Languages, Maria Maisto, Karen Lentz Madison<br>
<i>Supporting materials</i>: Click <a href="/motion20131support" target="_blank">here</a>[[[docstudio filetype_tag_pdf]]] to see the information provided by the proposers.<br><br>

<blockquote>1. Whereas a significant expression of the de-professionalization of US higher education is the growing reliance on part-time (50.7%) and contingent (75.5%) faculty members;<br><br>

2. Whereas no data on part-time faculty pay and working conditions is required of institutions, as part of the mandated federal data collection system, which makes historical and institutional comparisons of part-time faculty pay and benefits difficult;<br><br>

3. Whereas the MLA has been an important contributor to the 2012 Coalition on the Academic Workforce (CAW) survey, and has undertaken other internal efforts, which together have begun long overdue data collection and the formulation of guidelines on contingent and part-time faculty working conditions and pay;<br><br>

4. Whereas the 2012 Coalition on the Academic Workforce (CAW) reports that the average pay for part-time faculty is less than $3000/course, or $24,000 for an average full-time equivalent (FTE) workload;<br><br>

5. Whereas The Adjunct Project has assembled data from part-time faculty at over 2200 institutions that indicate a significant number of institutions in the United States pay less than $2000 per course, or $16,000 per year for an average FTE workload;<br><br>

6. Whereas students, parents, high school guidance counselors, and even trustees in some districts are largely unaware of the pay and working conditions of part-time and contingent faculty;<br><br>

7. Whereas many faculty members hired by the course are denied unemployment compensation between terms despite not having reasonable assurance of further employment;<br><br>

<b>BE IT MOVED that the MLA</b><br><br>

ACTIVELY PROMOTE the establishment of more comprehensive, mandated, national part-time faculty and contingent working condition and pay data;<br><br>

ENCOURAGE members’ institutions to collect and publicize more data about part-time/full-time faculty ratios, as well as part-time faculty pay, and working conditions, to trustees, parents, students, and high school guidance counselors;<br><br>

CREATE and PUBLICIZE a database of institutions whose part-time faculty pay and working conditions reach the MLA Recommendation on Minimum Per-Course Compensation for Part-Time Faculty Members;<br><br>

ACTIVELY SUPPORT the NEA/New Faculty Majority request that the Department of Labor clarify that part-time faculty do not have a reasonable assurance of continued employment and thus are eligible for unemployment benefits between terms; and<br><br>

SUPPORT part-time, contingent probationary non-tenured and allied tenured faculty in their efforts to improve the professional conditions of labor in higher education.</blockquote>
