<h1>Agenda for the 2014 Delegate Assembly Meeting: Resolutions</h1>
<style type="text/css">.indent{text-indent: -1em; padding-left:1em; padding-bottom:1em;}</style>

<h2>Resolution 2014-1</h2>
<div class="indent"><i>Proposers of record</i>: Richard M. Ohmann and Bruce W. Robbins</div>
<div class="indent"><i>Supporting materials</i>: Click <a href="/resol20141support">here</a>[[[docstudio filetype_tag_pdf]]] to see the information provided by the proposers.</div>

<blockquote>
Whereas Israel has arbitrarily denied academics of Palestinian ethnicity entry into the West Bank and Gaza;<br><br>

Whereas these restrictions violate international conventions on an occupying power’s obligation to protect the right to education;<br><br>

Whereas the U.S. Department of State acknowledges on its Web site that Israel restricts the movements of American citizens of Palestinian descent;<br><br>

Whereas the denials have disrupted instruction, research, and planning at Palestinian universities;<br><br>

Whereas the denials have restricted the academic freedom of scholars and teachers who are U. S. citizens; <br><br>

Be it resolved that the MLA urges the U.S. Department of State to contest Israel’s arbitrary denials of entry to Gaza and the West Bank by U. S. academics who have been invited to teach, confer, or do research at Palestinian universities.
</blockquote>


<h2>Resolution 2014-2</h2>
<div class="indent"><i>Proposer of record</i>: Margaret Hanzimanolis on behalf of the Radical Caucus in English and the Modern Languages</div>

<div class="indent"><i>Supporting materials</i>: Click <a href="/resol20142support">here</a>[[[docstudio filetype_tag_pdf]]] to see the information provided by the proposer.</div>

<blockquote>
Whereas foundations such as Lumina, with an agenda of privatization and with corporate funding, are influencing accreditation processes and related state education codes;<br><br>

Whereas the accreditation process is altering the missions of institutions of higher education, shrinking capacity, paving the way for privatization of sectors of higher education, and driving students into serious long-term debt;<br><br>

Whereas the Accrediting Commission for Community and Junior Colleges (ACCJC) revoked the accreditation of the Community College of San Francisco (CCSF), effective 2014, despite CCSF’s excellent record in student success and access;<br><br>

Whereas the Department of Education has determined that the ACCJC is out of compliance with several applicable regulations, including failure to avoid conflicts of interest, which raises significant questions about its continued status as a federally recognized accrediting body;<br><br>

Be it resolved that the MLA condemn the revocation of CCSF’s accreditation, corporate influence in institutional accreditation, and the broader privatization efforts that threaten access to public higher education.
</blockquote>
