<h1>Agenda for the 2014 Delegate Assembly Meeting</h1>

<p>At the upcoming Delegate Assembly meeting, which will take place at the 2014 MLA Annual Convention in Chicago and begin at 1:00 p.m. on Saturday, 11 January (session 544), delegates will consider <a href="/dameeting_reports">staff and committee reports</a> on association activities, a special report on the <a href="http://groupsdiscussion.commons.mla.org/revised-draft-proposal/">reorganization of MLA divisions and discussion groups</a>, and <a href="/dameeting_resolutions">two regular resolutions</a>. Also on the assembly’s agenda is a one-hour <a href="/dameeting_opendisc">open discussion</a> of strategies for strengthening humanities education as a public good.</p>

<p>Since the 1 October deadline for submitting motions and regular resolutions has passed, only emergency resolutions may be added to the assembly’s agenda. Members may submit emergency resolutions to the chair of the Delegate Assembly Organizing Committee up to twenty-four hours before the start of the assembly meeting. The last opportunity for submitting an emergency resolution comes at the Open Hearing on Resolutions at the convention (<a href="/program_details?prog_id=296&year=2014">session 296</a>). Please see the second section in <a href="/submit_checklist">Checklists for Submitting Resolutions</a> for information on submission requirements.</p>
