<h1>Division Executive Committees for the 2015 Convention Year (13 Jan. 2014&ndash;11 Jan. 2015)</h1>
MLA divisions encompass the primary scholarly and professional concerns of the association, with each of the eighty-eight divisions representing a major area of membership interest.  Divisions promote scholarly and professional activities within their areas of concern. MLA members have the option of joining up to four divisions. (If you are an MLA member and wish to review or update your division affiliations, please click <a href="/join_update">here</a>.)

Each division is governed by an elected executive committee whose five members serve terms of five convention years. A convention year begins after the close of one convention and continues through the close of the next; it is named for the convention that concludes the year. Listed here are the division executive committees for the 2015 convention year (13 Jan. 2014 through 11 Jan. 2015). The date that follows the name of each executive committee member designates the convention that concludes the final convention year of the committee member’s term and, thus, the final January convention that falls within his or her term of service. The listings below indicate which committee members are currently serving as chair and secretary. Normally, this year's secretary becomes next year's chair.


<h2>AMERICAN LITERATURE</h2>
<b>American Literature to 1800</b> (D017)
Eric Slauter, Jan. 2015
Sean X. Goudie, Jan. 2016 (2014–Jan. 2015 Ch.)
Kathleen Donegan, Jan. 2017 (2014–Jan. 2015 Sec.)
Matt Cohen, Jan. 2018
Sarah Rivett, Jan. 2019

<b>Nineteenth-Century American Literature</b> (D018)
Augusta Rohrbach, Jan. 2015 (2014–Jan. 2015 Ch.)
Meredith L. McGill, Jan. 2016 (2014–Jan. 2015 Sec.)
Ivy Wilson, Jan. 2017
Dana Luciano, Jan. 2018
Rodrigo Lazo, Jan. 2019

<b>Late-Nineteenth- and Early-Twentieth-Century American Literature</b> (D019)
Brad Evans, Jan. 2015
Gene Andrew Jarrett, Jan. 2016 (2014–Jan. 2015 Ch.)
Dana Seitler, Jan. 2017 (2014–Jan. 2015 Sec.)
Dale Marie Bauer, Jan. 2018
Russ Castronovo, Jan. 2019

<b>Twentieth-Century American Literature</b> (D020)
William J. Maxwell, Jan. 2015
Paula M. L. Moya, Jan. 2016 (2014–Jan. 2015 Ch.)
Mark Goble, Jan. 2017 (2014–Jan. 2015 Sec.)
Amy Hungerford, Jan. 2018
Heather Houser, Jan. 2019

<b>Black American Literature and Culture</b> (D076)
Maryemma Graham, Jan. 2015
Sherita L. Johnson, Jan. 2016 (2014–Jan. 2015 Ch.)
Dana A. Williams, Jan. 2017 (2014–Jan. 2015 Sec.)
Deborah McDowell, Jan. 2018
Miriam Thaggert, Jan. 2019

<b>American Indian Literatures</b> (D080)
James H. Cox, Jan. 2015
Beth H. Piatote, Jan. 2016 (2014–Jan. 2015 Ch.)
Nancy J. Peterson, Jan. 2017 (2014–Jan. 2015 Sec.)
Jodi A. Byrd, Jan. 2018
Patrice E. M. Hollrah, Jan. 2019

<b>Asian American Literature</b> (D082)
Timothy Yu, Jan. 2015
Allan Isaac, Jan. 2016 (2014–Jan. 2015 Ch.)
Julia Lee, Jan. 2017 (2014–Jan. 2015 Sec.)
Crystal Parikh, Jan. 2018
Cathy J. Schlund-Vials, Jan. 2019

<b>Chicana and Chicano Literature</b> (D084)
Sandra K. Soto, Jan. 2015 (2014–Jan. 2015 Ch.)
Ralph Edward Rodriguez, Jan. 2016 (2014–Jan. 2015 Sec.)
Yolanda Padilla, Jan. 2017
Laura Halperin, Jan. 2018
Olga Herrera, Jan. 2019

<h2>COMPARATIVE STUDIES</h2>
<b>Comparative Studies in Medieval Literature</b> (D001)
Steven F. Kruger, Jan. 2015
David F. Hult, Jan. 2016
Lynn Ramey, Jan. 2017 (2014–Jan. 2015 Ch.)
Jill Ross, Jan. 2018 (2014–Jan. 2015 Sec.)
Eleonora Stoppino, Jan. 2019

<b>Comparative Studies in Renaissance and Baroque Literature</b> (D002)
Leonard Barkan, Jan. 2015
Susanne Lindgren Wofford, Jan. 2016 (2014–Jan. 2015 Ch.)
Eric MacPhail, Jan. 2017 (2014–Jan. 2015 Sec.)
Ralph Bauer, Jan. 2018
Anston Bosman, Jan. 2019

<b>Comparative Studies in Eighteenth-Century Literature</b> (D005)
[position unfilled on 2014–Jan. 2015 committee]
Claudia Brodsky, Jan. 2016 (2014–Jan. 2015 Ch.)
Helen Thompson, Jan. 2017 (2014–Jan. 2015 Sec.)
Chi-ming Yang, Jan. 2018
Nicholas A. Rennie, Jan. 2019

<b>Comparative Studies in Romanticism and the Nineteenth Century</b> (D003)
Sara Guyer, Jan. 2015
Barbara Spackman, Jan. 2016 (2014–Jan. 2015 Ch.)
Anne-Lise François, Jan. 2017 (2014–Jan. 2015 Sec.)
Jan Mieszkowski, Jan. 2018
Matthew Potolsky, Jan. 2019

<b>Comparative Studies in Twentieth-Century Literature</b> (D004)
[position unfilled on 2014–Jan. 2015 committee]
Ramón Saldívar, Jan. 2016 (2014–Jan. 2015 Ch.)
Olakunle George, Jan. 2017 (2014–Jan. 2015 Sec.)
Sangeeta Ray, Jan. 2018
Nergis Ertürk, Jan. 2019

<b>European Literary Relations</b> (D034)
Paul Michael Lützeler, Jan. 2015
Sandra L. Bermann, Jan. 2016 (2014–Jan. 2015 Ch.)
Bella P. Brodzki, Jan. 2017 (2014–Jan. 2015 Sec.)
Debra Ann Castillo, Jan. 2018
Sebastian Wogenstein, Jan. 2019

<h2>ENGLISH LITERATURE</h2>
<b>Old English Language and Literature</b> (D021)
[position unfilled on 2014–Jan. 2015 committee]
Kathleen Davis, Jan. 2016 (2014–Jan. 2015 Ch.)
Stephen J. Harris, Jan. 2017 (2014–Jan. 2015 Sec.)
Elaine Treharne, Jan. 2018
Matthew Hussey, Jan. 2019

<b>Middle English Language and Literature, Excluding Chaucer</b> (D022)
Eve Salisbury, Jan. 2015
Marilynn R. Desmond, Jan. 2016 (2014–Jan. 2015 Ch.)
Ruth Evans, Jan. 2017 (2014–Jan. 2015 Sec.)
Shannon Gayk, Jan. 2018
Erin Felicia Labbie, Jan. 2019

<b>Chaucer</b> (D023)
Holly Crocker, Jan. 2015
Kathy M. Lavezzo, Jan. 2016 (2014–Jan. 2015 Ch.)
Jessica Rosenfeld, Jan. 2017 (2014–Jan. 2015 Sec.)
Mark Miller, Jan. 2018
Emma E. Lipton, Jan. 2019

<b>Literature of the English Renaissance, Excluding Shakespeare</b> (D024)
Alan Stewart, Jan. 2015
Michael Witmore, Jan. 2016 (2014–Jan. 2015 Ch.)
Graham Hammill, Jan. 2017 (2014–Jan. 2015 Sec.)
Katherine Eggert, Jan. 2018
Ellen MacKay, Jan. 2019

<b>Shakespeare</b> (D025)
Garrett A. Sullivan, Jan. 2015 (2014–Jan. 2015 Ch.)
Mary L. Floyd-Wilson, Jan. 2016
Bradin Cormack, Jan. 2017 (2014–Jan. 2015 Sec.)
Elizabeth D. Harvey, Jan. 2018
Sarah Werner, Jan. 2019

<b>Seventeenth-Century English Literature</b> (D026)
Douglas Trevor, Jan. 2015
Kristen Poole, Jan. 2016 (2014–Jan. 2015 Ch.)
Molly Murray, Jan. 2017 (2014–Jan. 2015 Sec.)
Mihoko Suzuki, Jan. 2018
Julia Reinhard Lupton, Jan. 2019

<b>Restoration and Early-Eighteenth-Century English Literature</b> (D027)
Albert J. Rivero, Jan. 2015
Wolfram Michael Schmidgen, Jan. 2016 (2014–Jan. 2015 Ch.)
J. Paul Hunter, Jan. 2017 (2014–Jan. 2015 Sec.)
Sean D. Moore, Jan. 2018
Laura C. Mandell, Jan. 2019

<b>Late-Eighteenth-Century English Literature</b> (D028)
William Beatty Warner, Jan. 2015
Kevis Goodman, Jan. 2016 (2014–Jan. 2015 Ch.)
Deidre Shauna Lynch, Jan. 2017 (2014–Jan. 2015 Sec.)
Sandra Macpherson, Jan. 2018
Jayne Elizabeth Lewis, Jan. 2019

<b>The English Romantic Period</b> (D029)
Maureen Noelle McLane, Jan. 2015
Marjorie Levinson, Jan. 2016 (2014–Jan. 2015 Ch.)
Miranda Jane Burgess, Jan. 2017 (2014–Jan. 2015 Sec.)
Mark E. Canuel, Jan. 2018
Margaret E. Russett, Jan. 2019

<b>The Victorian Period</b> (D030)
Elaine C. Freedgood, Jan. 2015
Richard Menke, Jan. 2016 (2014–Jan. 2015 Ch.)
William A. Cohen, Jan. 2017 (2014–Jan. 2015 Sec.)
Daniel Hack, Jan. 2018
Aviva Briefel, Jan. 2019

<b>Late-Nineteenth- and Early-Twentieth-Century English Literature</b> (D031)
Kate Flint, Jan. 2015
Cassandra Laity, Jan. 2016 (2014–Jan. 2015 Ch.)
Elizabeth Outka, Jan. 2017 (2014–Jan. 2015 Sec.)
David S. Kurnick, Jan. 2018
Daniel Akiva Novak, Jan. 2019

<b>Twentieth-Century English Literature</b> (D032)
Susan Stanford Friedman, Jan. 2015
Kevin J. H. Dettmar, Jan. 2016 (2014–Jan. 2015 Sec.)
Priya Joshi, Jan. 2017 (2014–Jan. 2015 Ch.)
Jahan Ramazani, Jan. 2018
Debra Rae Cohen, Jan. 2019

<b>English Literature Other Than British and American</b> (D033)
Sanjay Krishnan, Jan. 2015
Joseph R. Slaughter, Jan. 2016 (2014–Jan. 2015 Ch.)
Jennifer A. Wenzel, Jan. 2017 (2014–Jan. 2015 Sec.)
Toral Gajarawala, Jan. 2018
Tsitsi Jaji, Jan. 2019

<h2>FRENCH LITERATURE</h2>
<b>French Medieval Language and Literature</b> (D051)
Cary Howie, Jan. 2015
Catherine M. Jones, Jan. 2016 (2014–Jan. 2015 Ch.)
Matilda Tomaryn Bruckner, Jan. 2017 (2014–Jan. 2015 Sec.)
Daisy J. Delogu, Jan. 2018
Kathy M. Krause, Jan. 2019

<b>Sixteenth-Century French Literature</b> (D052)
Andrea Marie Frisch, Jan. 2015
Marcus Keller, Jan. 2016 (2014–Jan. 2015 Ch.)
Todd W. Reeser, Jan. 2017 (2014–Jan. 2015 Sec.)
Leah L. Chang, Jan. 2018
Cathy Yandell, Jan. 2019

<b>Seventeenth-Century French Literature</b> (D053)
Claire B. Goldstein, Jan. 2015
Allison Stedman, Jan. 2016 (2014–Jan. 2015 Ch.)
Hélène Bilis, Jan. 2017 (2014–Jan. 2015 Sec.)
Faith E. Beasley, Jan. 2018
Valentina Denzel, Jan. 2019

<b>Eighteenth-Century French Literature</b> (D054)
Ourida Mostefai, Jan. 2015
Joanna Stalnaker, Jan. 2016 (2014–Jan. 2015 Ch.)
Pierre N. Saint-Amand, Jan. 2017 (2014–Jan. 2015 Sec.)
Jennifer S. Tsien, Jan. 2018
Andrew Herrick Clark, Jan. 2019

<b>Nineteenth-Century French Literature</b> (D055)
Susan McCready, Jan. 2015
David F. Bell III, Jan. 2016 (2014–Jan. 2015 Ch.)
Cheryl Krueger, Jan. 2017 (2014–Jan. 2015 Sec.)
Michael D. Garval, Jan. 2018
Patrick M. Bray, Jan. 2019

<b>Twentieth-Century French Literature</b> (D056)
Scott P. Durham, Jan. 2015
Alison S. James, Jan. 2016 (2014–Jan. 2015 Ch.)
Danielle Marx-Scouras, Jan. 2017 (2014–Jan. 2015 Sec.)
Cybelle H. McFadden, Jan. 2018
Eric Trudel, Jan. 2019

<b>Francophone Literatures and Cultures</b> (D057)
Dominic R. Thomas, Jan. 2015
Valérie K. Orlando, Jan. 2016 (2014–Jan. 2015 Ch.)
Renée Larrier, Jan. 2017 (2014–Jan. 2015 Sec.)
Cilas Kemedjio, Jan. 2018
Miléna Santoro, Jan. 2019

<h2>GENRE STUDIES</h2>
<b>Drama</b> (D008)
Tavia Nyong’o, Jan. 2015
Brian Eugenio Herrera, Jan. 2016 (2014–Jan. 2015 Ch.)
Jody Enders, Jan. 2017 (2014–Jan. 2015 Sec.)
Eng-Beng Lim, Jan. 2018
Nadia Ellis, Jan. 2019

<b>Film</b> (D009)
Serena Anderlini-D’Onofrio, Jan. 2015
Nicholas Sammond, Jan. 2016 (2014–Jan. 2015 Ch.)
Siobhan S. Craig, Jan. 2017 (2014–Jan. 2015 Sec.)
Caetlin Benson-Allott, Jan. 2018
Rob King, Jan. 2019

<b>Nonfiction Prose Studies, Excluding Biography and Autobiography</b> (D010)
Brian J. Norman, Jan. 2015
Amardeep Singh, Jan. 2016 (2014–Jan. 2015 Ch.)
Brian Lennon, Jan. 2017 (2014–Jan. 2015 Sec.)
Howard Horwitz, Jan. 2018
Brian McGrath, Jan. 2019

<b>Poetry</b> (D011)
Virginia Jackson, Jan. 2015
Heather Dubrow, Jan. 2016 (2014–Jan. 2015 Ch.)
Alan Golding, Jan. 2017 (2014–Jan. 2015 Sec.)
Meta DuEwa Jones, Jan. 2018
Brian M. Reed, Jan. 2019

<b>Prose Fiction</b> (D012)
Rebecca L. Walkowitz, Jan. 2015
Wai Chee Dimock, Jan. 2016 (2014–Jan. 2015 Ch.)
Mark McGurl, Jan. 2017 (2014–Jan. 2015 Sec.)
Hester Blum, Jan. 2018
Jennifer Wicke, Jan. 2019

<b>Literary Criticism</b> (D014)
[position unfilled on 2014–Jan. 2015 committee]
Susan Hegeman, Jan. 2016 (2014–Jan. 2015 Ch.)
Kristin Ross, Jan. 2017 (2014–Jan. 2015 Sec.)
Rita Felski, Jan. 2018
Bill Brown, Jan. 2019

<b>Methods of Literary Research</b> (D046)
Robert Markley, Jan. 2015
Andrew M. Stauffer, Jan. 2016
James F. English, Jan. 2017 (2014–Jan. 2015 Ch.)
Mark Sample, Jan. 2018 (2014–Jan. 2015 Sec.)
Lauren Klein, Jan. 2019

<b>Autobiography, Biography, and Life Writing</b> (D077)
Julie Rak, Jan. 2015
Irene Kacandes, Jan. 2016 (2014–Jan. 2015 Ch.)
Rocío G. Davis, Jan. 2017 (2014–Jan. 2015 Sec.)
Georgia Kathryn Johnston, Jan. 2018
John Matteson, Jan. 2019

<h2>GERMAN LITERATURE</h2>
<b>German Literature to 1700</b> (D058)
[position unfilled on 2014–Jan. 2015 committee]
Niklaus E. Largier, Jan. 2016 (2014–Jan. 2015 Ch.)
Mara R. Wade, Jan. 2017 (2014–Jan. 2015 Sec.)
Ann Marie Rasmussen, Jan. 2018
Jane Ogden Newman, Jan. 2019

<b>Eighteenth- and Early-Nineteenth-Century German Literature</b> (D059)
Daniel Purdy, Jan. 2015
Stefani Engelstein, Jan. 2016 (2014–Jan. 2015 Ch.)
Edgar Landgraf, Jan. 2017 (2014–Jan. 2015 Sec.)
Elisabeth Krimmer, Jan. 2018
Jocelyn Holland, Jan. 2019

<b>Nineteenth- and Early-Twentieth-Century German Literature</b> (D060)
David Pan, Jan. 2015
Jocelyne Kolb, Jan. 2016
Anna C. Guillemin, Jan. 2017 (2014–Jan. 2015 Ch.)
Jonathan S. Skolnik, Jan. 2018 (2014–Jan. 2015 Sec.)
Peter C. Pfeiffer, Jan. 2019

<b>Twentieth-Century German Literature</b> (D061)
Deniz Göktürk, Jan. 2015
Richard Langston, Jan. 2016 (2014–Jan. 2015 Ch.)
Eric C. Ames, Jan. 2017 (2014–Jan. 2015 Sec.)
Stefanie Harris, Jan. 2018
Devin A. Fore, Jan. 2019

<h2>HISPANIC LITERATURES</h2>
<b>Colonial Latin American Literatures</b> (D078)
Rolena Adorno, Jan. 2015
Anna H. More, Jan. 2016 (2014–Jan. 2015 Ch.)
Nicolás Wey-Gómez, Jan. 2017 (2014–Jan. 2015 Sec.)
Cristian Roa, Jan. 2018
Ivonne del Valle, Jan. 2019

<b>Latin American Literature from Independence to 1900</b> (D064)
Gabriela Nouzeilles, Jan. 2015
Richard Rosa, Jan. 2016 (2014–Jan. 2015 Ch.)
Agnes Ivelisse Lugo-Ortiz, Jan. 2017 (2014–Jan. 2015 Sec.)
Natalia Brizuela, Jan. 2018
José M. Rodríguez García, Jan. 2019

<b>Twentieth-Century Latin American Literature</b> (D065)
Ignacio Sánchez-Prado, Jan. 2015
José Antonio Quiroga, Jan. 2016 (2014–Jan. 2015 Ch.)
Marcy Ellen Schwartz, Jan. 2017 (2014–Jan. 2015 Sec.)
Jorge Coronado, Jan. 2018
Claudia Cabello-Hutt, Jan. 2019

<b>Medieval Hispanic Languages, Literatures, and Cultures</b> (D067)
Ryan Giles, Jan. 2015
Jean Dangler, Jan. 2016 (2014–Jan. 2015 Ch.)
Benjamin M. Liu, Jan. 2017 (2014–Jan. 2015 Sec.)
Cristina Maria Guardiola, Jan. 2018
Nadia R. Altschul, Jan. 2019

<b>Sixteenth- and Seventeenth-Century Spanish Poetry and Prose</b> (D068)
Steven Wagschal, Jan. 2015
Luis F. Avilés, Jan. 2016 (2014–Jan. 2015 Ch.)
Enrique García Santo-Tomás, Jan. 2017 (2014–Jan. 2015 Sec.)
Leah Wood Middlebrook, Jan. 2018
John Slater, Jan. 2019

<b>Sixteenth- and Seventeenth-Century Spanish Drama</b> (D071)
Barbara Simerka, Jan. 2015
José R. Cartagena-Calderón, Jan. 2016 (2014–Jan. 2015 Ch.)
María M. Carrión, Jan. 2017 (2014–Jan. 2015 Sec.)
Harry Vélez-Quiñones, Jan. 2018
Amy R. Williamsen, Jan. 2019

<b>Eighteenth- and Nineteenth-Century Spanish Literature</b> (D069)
Michael Iarocci, Jan. 2015
Daniel Frost, Jan. 2016 (2014–Jan. 2015 Ch.)
Ana M. Hontanilla, Jan. 2017 (2014–Jan. 2015 Sec.)
David Thatcher Gies, Jan. 2018
Rebecca Haidt, Jan. 2019

<b>Twentieth-Century Spanish Literature</b> (D070)
Susan Martin-Márquez, Jan. 2015
Jo Labanyi, Jan. 2016 (2014–Jan. 2015 Ch.)
Luisa Elena Delgado, Jan. 2017 (2014–Jan. 2015 Sec.)
Cristina Moreiras-Menor, Jan. 2018
Mario Santana, Jan. 2019

<b>Luso-Brazilian Language and Literature</b> (D073)
Luiz Fernando Valente, Jan. 2015
Emanuelle K. F. Oliveira-Monte, Jan. 2016 (2014–Jan. 2015 Ch.)
Leila Maria Lehnen, Jan. 2017 (2014–Jan. 2015 Sec.)
Robert Patrick Newcomb, Jan. 2018
Cesar Braga-Pinto, Jan. 2019

<h2>INTERDISCIPLINARY APPROACHES</h2>
<b>Women’s Studies in Language and Literature</b> (D006)
Licia Fiol-Matta, Jan. 2015
Susan G. O’Malley, Jan. 2016
Angelita D. Reyes, Jan. 2017 (2014–Jan. 2015 Ch.)
Madelyn Detloff, Jan. 2018 (2014–Jan. 2015 Sec.)
Pamela Allen Brown, Jan. 2019

<b>Ethnic Studies in Language and Literature</b> (D007)
Cheryl A. Higashida, Jan. 2015
Amritjit Singh, Jan. 2016 (2014–Jan. 2015 Ch.)
Anna Maria Nogar, Jan. 2017 (2014–Jan. 2015 Sec.)
Penelope M. Kelsey, Jan. 2018
Ruby Tapia, Jan. 2019

<b>Popular Culture</b> (D013)
Hillary L. Chute, Jan. 2015
Jeffrey T. Nealon, Jan. 2016 (2014–Jan. 2015 Ch.)
John W. Mowitt, Jan. 2017 (2014–Jan. 2015 Sec.)
Ellen McCracken, Jan. 2018
Laura G. Gutierrez, Jan. 2019

<b>Anthropological Approaches to Literature</b> (D035)
Brian T. Edwards, Jan. 2015
Regenia Gagnier, Jan. 2016 (2014–Jan. 2015 Ch.)
Mary Jean Corbett, Jan. 2017 (2014–Jan. 2015 Sec.)
Gabriele M. Schwab, Jan. 2018
Leela Gandhi, Jan. 2019

<b>Linguistic Approaches to Literature</b> (D036)
Claudia A. Becker, Jan. 2015
Monika Fludernik, Jan. 2016 (2014–Jan. 2015 Ch.)
Donald E. Hardy, Jan. 2017(2014–Jan. 2015 Sec.)
Robert Troyer, Jan. 2018
David L. Hoover, Jan. 2019

<b>Philosophical Approaches to Literature</b> (D037)
Gerhard Richter, Jan. 2015
Suzanne Guerlac, Jan. 2016 (2014–Jan. 2015 Ch.)
Rebecca Comay, Jan. 2017 (2014–Jan. 2015 Sec.)
Jacques Lezra, Jan. 2018
Jean-Michel Rabaté, Jan. 2019

<b>Psychological Approaches to Literature</b> (D038)
Kathryn Bond Stockton, Jan. 2015
Anna Kornbluh, Jan. 2016 (2014–Jan. 2015 Ch.)
Ben Sifuentes-Jauregui, Jan. 2017 (2014–Jan. 2015 Sec.)
Elissa Marder, Jan. 2018
Frances L. Restuccia, Jan. 2019

<b>Literature and Religion</b> (D039)
Susannah Brietz Monta, Jan. 2015
Stephen M. Fallon, Jan. 2016
Liam Corley, Jan. 2017 (2014–Jan. 2015 Ch.)
Lisa M. Gordis, Jan. 2018 (2014–Jan. 2015 Sec.)
Adrienne Williams Boyarin, Jan. 2019

<b>Sociological Approaches to Literature</b> (D040)
Rita Raley, Jan. 2015
Jodi Melamed, Jan. 2016 (2014–Jan. 2015 Ch.)
Gina Dent, Jan. 2017 (2014–Jan. 2015 Sec.)
Zahid R. Chaudhary, Jan. 2018
[position unfilled on 2014–Jan. 2015 committee]

<b>Literature and Other Arts</b> (D041)
Anke K. Finger, Jan. 2015
Eduardo Lujan Cadava, Jan. 2016 (2014–Jan. 2015 Ch.)
Patrick Jagoda, Jan. 2017 (2014–Jan. 2015 Sec.)
Lisa Siraganian, Jan. 2018
Ariella Azoulay, Jan. 2019

<b>Literature and Science</b> (D072)
Stacy Alaimo, Jan. 2015
Steven J. Meyer, Jan. 2016 (2014–Jan. 2015 Ch.)
Ursula K. Heise, Jan. 2017 (2014–Jan. 2015 Sec.)
Pamela Gossin, Jan. 2018
Allison Carruth, Jan. 2019

<b>Children’s Literature</b> (D074)
Craig Svonkin, Jan. 2015
Catherine Tosenberger, Jan. 2016 (2014–Jan. 2015 Ch.)
Marah Gubar, Jan. 2017 (2014–Jan. 2015 Sec.)
Lee A. Talley, Jan. 2018
Jan Christopher Susina, Jan. 2019

<b>Gay Studies in Language and Literature</b> (D075)
Christopher Looby, Jan. 2015 (2014–Jan. 2015 Ch.)
Carla A. Freccero, Jan. 2016 (2014–Jan. 2015 Sec.)
Ramόn H. Rivera-Servera, Jan. 2017
Martha Nell Smith, Jan. 2018
Scott Herring, Jan. 2019

<b>Disability Studies</b> (D085)
David Mitchell, Jan. 2015
Susan Antebi, Jan. 2016 (2014–Jan. 2015 Ch.)
Elizabeth Bearden, Jan. 2017 (2014–Jan. 2015 Sec.)
Allison Hobgood, Jan. 2018
Therí Alyce Pickens, Jan. 2019

<b>Postcolonial Studies in Literature and Culture</b> (D086)
Anjali Prabhu, Jan. 2015
Vilashini Cooppan, Jan. 2016 (2014–Jan. 2015 Ch.)
Bishnupriya Ghosh, Jan. 2017 (2014–Jan. 2015 Sec.)
Nouri Gana, Jan. 2018
Nicholas Mainey Brown, Jan. 2019

<b>Cognitive Approaches to Literature</b> (D088)
Julien Jacques Simon, Jan. 2015
Blakey Vermeule, Jan. 2016 (2014–Jan. 2015 Ch.)
Paula E. Leverage, Jan. 2017 (2014–Jan. 2015 Sec.)
Jonathan Kramnick, Jan. 2018
Patrick Colm Hogan, Jan. 2019

<h2>ITALIAN LITERATURE</h2>
<b>Medieval and Renaissance Italian Literature</b> (D062)
Linda L. Carroll, Jan. 2015
Mary A. Watt, Jan. 2016 (2014–Jan. 2015 Ch.)
Laura Giannetti, Jan. 2017 (2014–Jan. 2015 Sec.)
David Lummus, Jan. 2018
Martin G. Eisner, Jan. 2019

<b>Seventeenth-, Eighteenth-, and Nineteenth-Century Italian Literature</b> (D063)
Nathalie Hester, Jan. 2015
Irene Zanini-Cordi, Jan. 2016 (2014–Jan. 2015 Ch.)
Francesca Luigia Savoia, Jan. 2017 (2014–Jan. 2015 Sec.)
Rachel A. Walsh, Jan. 2018
Adrienne Ward, Jan. 2019

<b>Twentieth-Century Italian Literature</b> (D079)
Manuela Marchesini, Jan. 2015
John P. Welle, Jan. 2016 (2014–Jan. 2015 Ch.)
Francesca Cadel, Jan. 2017 (2014–Jan. 2015 Sec.)
Allison A. Cooper, Jan. 2018
Nicoletta Marini-Maio, Jan. 2019

<h2>LANGUAGE STUDIES</h2>
<b>Language and Society</b> (D042)
[position unfilled on 2014–Jan. 2015 committee]
Bruce W. Robbins, Jan. 2016 (2014–Jan. 2015 Ch.)
Andrea Adolph, Jan. 2017 (2014–Jan. 2015 Sec.)
Ken Hirschkop, Jan. 2018
A. Suresh Canagarajah, Jan. 2019

<b>Language Theory</b> (D043)
Jiyoung Yoon, Jan. 2015
[position unfilled on 2014–Jan. 2015 committee]
Thomas F. Shannon, Jan. 2017 (2014–Jan. 2015 Sec. and Acting Ch.)
Irma Alarcon, Jan. 2018
Donny Vigil, Jan. 2019

<b>Applied Linguistics</b> (D044)
Christina Czajkoski, Jan. 2015
Sébastien Dubreil, Jan. 2016 (2014–Jan. 2015 Ch.)
Lawrence Williams, Jan. 2017 (2014–Jan. 2015 Sec.)
Elizabeth Bernhardt, Jan. 2018
Lee B. Abraham, Jan. 2019

<b>Language Change</b> (D045)
Chris Palmer, Jan. 2015
Margaret A. Noodin, Jan. 2016 (2014–Jan. 2015 Ch.)
Tara Williams, Jan. 2017 (2014–Jan. 2015 Sec.)
T. Craig Christy, Jan. 2018
Gerardo Augusto Lorenzino, Jan. 2019

<b>History and Theory of Rhetoric and Composition</b> (D081)
Michael F. Bernard-Donals, Jan. 2015
Janice Fernheimer, Jan. 2016 (2014–Jan. 2015 Ch.)
Shevaun E. Watson, Jan. 2017 (2014–Jan. 2015 Sec.)
John C. Brereton, Jan. 2018
Casie Cobos, Jan. 2019

<h2>OTHER LANGUAGES AND LITERATURES</h2>
<b>African Literatures</b> (D015)
Taiwo Adetunji Osinubi, Jan. 2015
Neil ten Kortenaar, Jan. 2016 (2014–Jan. 2015 Ch.)
Joya F. Uraizee, Jan. 2017 (2014–Jan. 2015 Sec.)
Moradewun Adejunmobi, Jan. 2018
Phyllis Suzanne Taoua, Jan. 2019

<b>Arabic Literature and Culture</b> (D087)
Christopher Micklethwait, Jan. 2015
Suha Kudsieh, Jan. 2016 (2014–Jan. 2015 Ch.)
Stephen Sheehi, Jan. 2017 (2014–Jan. 2015 Sec.)
Waïl S. Hassan, Jan. 2018
Hoda El Shakry, Jan. 2019

<b>East Asian Languages and Literatures to 1900</b> (D016)
Joseph Sorensen, Jan. 2015
Charlotte Eubanks, Jan. 2016 (2014–Jan. 2015 Ch.)
Monika Dix, Jan. 2017 (2014–Jan. 2015 Sec.)
Paul Rouzer, Jan. 2018
Xioafei Tian, Jan. 2019

<b>East Asian Languages and Literatures after 1900</b> (D083)
Henry Em, Jan. 2015
Melek Ortabasi, Jan. 2016 (2014–Jan. 2015 Ch.)
Alexa (Alex) Huang, Jan. 2017 (2014–Jan. 2015 Sec.)
Michael Emmerich, Jan. 2018
Xinmin Liu, Jan. 2019

<b>Slavic and East European Literatures</b> (D066)
Kevin M. F. Platt, Jan. 2015
Svetlana Vassileva-Karagyozova, Jan. 2016 (2014–Jan. 2015 Ch.)
Rebecca Jane Stanton, Jan. 2017 (2014–Jan. 2015 Sec.)
Serguei Alex. Oushakine, Jan. 2018
Benjamin Paloff, Jan. 2019

<h2>TEACHING</h2>
<b>The Teaching of Language</b> (D047)
Fernando Rubio, Jan. 2015
Heather Willis Allen, Jan. 2016 (2014–Jan. 2015 Ch.)
Johanna Watzinger-Tharp, Jan. 2017 (2014–Jan. 2015 Sec.)
Jennifer Redmann, Jan. 2018
Lunden Eschelle MacDonald, Jan. 2019

<b>The Teaching of Literature</b> (D048)
Jeanne A. Follansbee, Jan. 2015
Donna L. Pasternak, Jan. 2016 (2014–Jan. 2015 Ch.)
Gaurav G. Desai, Jan. 2017 (2014–Jan. 2015 Sec.)
Mary McAleer Balkun, Jan. 2018
Margaret Maurer, Jan. 2019

<b>The Teaching of Writing</b> (D049)
Victor J. Vitanza, Jan. 2015
John L. Schilb, Jan. 2016 (2014–Jan. 2015 Ch.)
Jacqueline R. Rhodes, Jan. 2017 (2014–Jan. 2015 Sec.)
Catherine Jean Prendergast, Jan. 2018
Bonnie Lenore Kyburz, Jan. 2019

<b>Teaching as a Profession</b> (D050)
Marc Bousquet, Jan. 2015
Jeffrey J. Williams, Jan. 2016 (2014–Jan. 2015 Ch.)
Kimberly Nance, Jan. 2017 (2014–Jan. 2015 Sec.)
Robert Samuels, Jan. 2018
Rebecca E. Burnett, Jan. 2019
