<h1>Members of the 2014–15 MLA Delegate Assembly</h1>
Listed below are the 272 members of the 2014–15 Delegate Assembly (6 seats are currently unfilled). The date that follows each delegate’s name refers to the last convention in his or her term.

<style> .delegation {margin-top: 2em;} .delegates dt{font-weight:bold; margin-top:1.5em;} .delegates dd{margin-left:1em; text-indent:-1em;} .delegates p{font-style: italic; margin-top:0;}</style>

<h2 class="delegation">Divisional Delegates</h2>
<dl class="delegates">
<dt>American Literature</dt>
<dd><i>American Literature to 1800</i>: Kristina Bross, Jan. 2017</dd>
<dd><i>Nineteenth-Century American Literature</i>: Jordan Alexander Stein, Jan. 2015</dd>
<dd><i>Late-Nineteenth- and Early-Twentieth-Century American Literature</i>: Donald E. Pease, Jan. 2015</dd>
<dd><i>Twentieth-Century American Literature</i>: Deborah L. Clarke, Jan. 2016</dd>
<dd><i>Black American Literature and Culture</i>: Jennifer DeVere Brody, Jan. 2015</dd>
<dd><i>American Indian Literatures</i>: Phillip Round, Jan. 2017</dd>
<dd><i>Asian American Literature</i>: Sue J. Kim, Jan. 2015</dd>
<dd><i>Chicana and Chicano Literature</i>: Yolanda Padilla, Jan. 2016</dd>

<dt>Comparative Studies</dt>
<dd><i>Comparative Studies in Medieval Literature</i>: Sylvia Tomasch, Jan. 2015</dd>
<dd><i>Comparative Studies in Renaissance and Baroque Literature</i>: Carmen Nocentelli, Jan. 2015</dd>
<dd><i>Comparative Studies in Eighteenth-Century Literature</i>: Eloy LaBrada, Jan. 2017</dd>
<dd><i>Comparative Studies in Romanticism and the Nineteenth Century</i>: Brian McGrath, Jan. 2015</dd>
<dd><i>Comparative Studies in Twentieth-Century Literature</i>: Marcel H. Cornis-Pope, Jan. 2015</dd>
<dd><i>European Literary Relations</i>: Sandra L. Bermann, Jan. 2015</dd>

<dt>English Literature</dt>
<dd><i>Old English Language and Literature</i>: Kathleen Davis, Jan. 2015</dd>
<dd><i>Middle English Language and Literature, Excluding Chaucer</i>: Martin B. Shichtman, Jan. 2015</dd>
<dd><i>Chaucer</i>: Thomas Augustine Prendergast, Jan. 2017</dd>
<dd><i>Literature of the English Renaissance, Excluding Shakespeare</i>: Alan Stewart, Jan. 2015</dd>
<dd><i>Shakespeare</i>: Timothy M. Harrison, Jan. 2017</dd>
<dd><i>Seventeenth-Century English Literature</i>: Ann Baynes Coiro, Jan. 2017</dd>
<dd><i>Restoration and Early-Eighteenth-Century English Literature</i>: Rivka Swenson, Jan. 2015</dd>
<dd><i>Late-Eighteenth-Century English Literature</i>: Seth Rudy, Jan. 2017</dd>
<dd><i>The English Romantic Period</i>: Andrew Franta, Jan. 2016</dd>
<dd><i>The Victorian Period</i>: Beverly White Taylor, Jan. 2015</dd>
<dd><i>Late-Nineteenth- and Early-Twentieth-Century English Literature</i>: Kate Flint, Jan. 2015</dd>
<dd><i>Twentieth-Century English Literature</i>: Aarthi Vadde, Jan. 2015</dd>
<dd><i>English Literature Other Than British and American</i>: Peter James Hitchcock, Jan. 2017</dd>

<dt>French Literature</dt>
<dd><i>French Medieval Language and Literature</i>: Daniel E. O’Sullivan, Jan. 2017</dd>
<dd><i>Sixteenth-Century French Literature</i>: Katie Chenoweth, Jan. 2016</dd>
<dd><i>Seventeenth-Century French Literature</i>: Ellen Welch, Jan. 2017</dd>
<dd><i>Eighteenth-Century French Literature</i>: Joanna Stalnaker, Jan. 2016</dd>
<dd><i>Nineteenth-Century French Literature</i>: Corry Cropper, Jan. 2016</dd>
<dd><i>Twentieth-Century French Literature</i>: Olivier Bourderionnet, Jan. 2016</dd>
<dd><i>Francophone Literatures and Cultures</i>: Cilas Kemedjio, Jan. 2016</dd>

<dt>Genre Studies</dt>
<dd><i>Drama</i>: Ariel Watson, Jan. 2017</dd>
<dd><i>Film</i>: Siobhan S. Craig, Jan. 2015</dd>
<dd><i>Nonfiction Prose Studies, Excluding Biography and Autobiography</i>: Susan H. Lurie, Jan. 2017</dd>
<dd><i>Poetry</i>: Alan Golding, Jan. 2016</dd>
<dd><i>Prose Fiction</i>: John Marx, Jan. 2016</dd>
<dd><i>Literary Criticism</i>: David Alworth, Jan. 2017</dd>
<dd><i>Methods of Literary Research</i>: Laura Heffernan, Jan. 2016</dd>
<dd><i>Autobiography, Biography, and Life Writing</i>: Thomas Russell Smith, Jan. 2016</dd>

<dt>German Literature</dt>
<dd><i>German Literature to 1700</i>: Albrecht Classen, Jan. 2015</dd>
<dd><i>Eighteenth- and Early-Nineteenth-Century German Literature</i>: John H. Smith, Jan. 2017</dd>
<dd><i>Nineteenth- and Early-Twentieth-Century German Literature</i>: David Pan, Jan. 2015</dd>
<dd><i>Twentieth-Century German Literature</i>: Deniz Göktürk, Jan. 2016</dd>

<dt>Hispanic Literatures</dt>
<dd><i>Colonial Latin American Literatures</i>: Anna H. More, Jan. 2016</dd>
<dd><i>Latin American Literature from Independence to 1900</i>: Joshua K. Lund, Jan. 2016</dd>
<dd><i>Twentieth-Century Latin American Literature</i>: Héctor Hoyos, Jan. 2015</dd>
<dd><i>Medieval Hispanic Languages, Literatures, and Cultures</i>: David Arbesu, Jan. 2016</dd>
<dd><i>Sixteenth- and Seventeenth-Century Spanish Poetry and Prose</i>: Alison Parks Weber, Jan. 2016</dd>
<dd><i>Sixteenth- and Seventeenth-Century Spanish Drama</i>: Charles Victor Ganelin, Jan. 2017</dd>
<dd><i>Eighteenth- and Nineteenth-Century Spanish Literature</i>: Daniel Frost, Jan. 2015</dd>
<dd><i>Twentieth-Century Spanish Literature</i>: Gina Ann Herrmann, Jan. 2016</dd>
<dd><i>Luso-Brazilian Language and Literature</i>: Cristina Ferreira-Pinto Bailey, Jan. 2017</dd>

<dt>Interdisciplinary Approaches</dt>
<dd><i>Women’s Studies in Language and Literature</i>: Pamela Allen Brown, Jan. 2017</dd>
<dd><i>Ethnic Studies in Language and Literature</i>: Stephen P. Knadler, Jan. 2016</dd>
<dd><i>Popular Culture</i>: David R. Shumway, Jan. 2015</dd>
<dd><i>Anthropological Approaches to Literature</i>: Mary Jean Corbett, Jan. 2017</dd>
<dd><i>Linguistic Approaches to Literature</i>: Jean-Jacques Thomas, Jan. 2016</dd>
<dd><i>Philosophical Approaches to Literature</i>: Michael LeMahieu, Jan. 2017</dd>
<dd><i>Psychological Approaches to Literature</i>: Lydia Kerr, Jan. 2015</dd>
<dd><i>Literature and Religion</i>: Liam Corley, Jan. 2016</dd>
<dd><i>Sociological Approaches to Literature</i>: Imre Szeman, Jan. 2015</dd>
<dd><i>Literature and Other Arts</i>: Mary-Grace Albanese, Jan. 2017</dd>
<dd><i>Literature and Science</i>: Christy Tidwell, Jan. 2016</dd>
<dd><i>Children’s Literature</i>: Joseph Terry Thomas, Jan. 2016</dd>
<dd><i>Gay Studies in Language and Literature</i>: Ashley Shelden, Jan. 2015</dd>
<dd><i>Disability Studies</i>: Sharon Snyder, Jan. 2015</dd>
<dd><i>Postcolonial Studies in Literature and Culture</i>: Ato Quayson, Jan. 2016</dd>
<dd><i>Cognitive Approaches to Literature</i>: Lisa Zunshine, Jan. 2015</dd>

<dt>Italian Literature</dt>
<dd><i>Medieval and Renaissance Italian Literature</i>: Pina Palma, Jan. 2015</dd>
<dd><i>Seventeenth-, Eighteenth-, and Nineteenth-Century Italian Literature</i>: Irene Zanini-Cordi, Jan. 2016</dd>
<dd><i>Twentieth-Century Italian Literature</i>: Lorenzo Fabbri, Jan. 2017</dd>

<dt>Language Studies</dt>
<dd><i>Language and Society</i>: [seat unfilled pending election report]</dd>
<dd><i>Language Theory</i>: Paul Hopper, Jan. 2016</dd>
<dd><i>Applied Linguistics</i>: Jessica Greenfield, Jan. 2016</dd>
<dd><i>Language Change</i>: T. Craig Christy, Jan. 2017</dd>
<dd><i>History and Theory of Rhetoric and Composition</i>: John C. Brereton, Jan. 2017</dd>

<dt>Other Languages and Literatures</dt>
<dd><i>African Literatures</i>: Laura Murphy, Jan. 2017</dd>
<dd><i>Arabic Literature and Culture</i>: Shaden M. Tageldin, Jan. 2015</dd>
<dd><i>East Asian Languages and Literatures to 1900</i>: Shuang Shen, Jan. 2017</dd>
<dd><i>East Asian Languages and Literatures after 1900</i>: Ming-Bao Yue, Jan. 2017</dd>
<dd><i>Slavic and East European Literatures</i>: Jessie M. Labov, Jan. 2016</dd>

<dt>Teaching</dt>
<dd><i>The Teaching of Language</i>: Johanna Watzinger-Tharp, Jan. 2017</dd>
<dd><i>The Teaching of Literature</i>: Mary McAleer Balkun, Jan. 2017</dd>
<dd><i>The Teaching of Writing</i>: Bonnie Lenore Kyburz, Jan. 2017</dd>
<dd><i>Teaching as a Profession</i>: Christopher John Newfield, Jan. 2017</dd>
</dl>

<h2 class="delegation">Special-Interest Delegates</h2>
<dl class="delegates">
<dt>Composition, Rhetoric, and Writing</dt>
<dd>Lauren M. Bowen, Jan. 2017</dd>
<dd>Steven H. Shoemaker, Jan. 2016</dd>

<dt>Continuing and Distance Education</dt>
<dd>Donna M. Campbell, Jan. 2015</dd>
<dd>Elizabeth Mathews Losh, Jan. 2017</dd>

<dt>Creative Writing</dt>
<dd>David Galef, Jan. 2016</dd>
<dd>Suzanne Matson, Jan. 2017</dd>

<dt>Disability Issues</dt>
<dd>Leigh Gilmore, Jan. 2017</dd>
<dd>Robin Sandra Grey, Jan. 2015</dd>

<dt>Ethnic Studies</dt>
<dd>Patrick S. Bernard, Jan. 2015</dd>
<dd>Dolan Hubbard, Jan. 2016</dd>
<dd>Maryse Jayasuriya, Jan. 2017</dd>
<dd>Dory Nason, Jan. 2015</dd>
<dd>Channette Romero, Jan. 2017</dd>
<dd>Karen Shimakawa, Jan. 2017</dd>
<dd>Hertha D. Sweet Wong, Jan. 2016</dd>
<dd>[two seats unfilled, Jan. 2015]</dd>

<dt>Foreign Language Teaching</dt>
<dd>Sébastien Dubreil, Jan. 2017</dd>
<dd>Cristina Maria Guardiola, Jan. 2015</dd>
<dd>Derrick Miller, Jan. 2016</dd>

<dt>Gays and Lesbians in the Profession</dt>
<dd>Katherine Biers, Jan. 2016</dd>
<dd>Héctor Dominguez, Jan. 2017</dd>

<dt>Graduate Students</dt>
<dd>Priyanka Jacob, Jan. 2015</dd>
<dd>Matt Langione, Jan. 2015</dd>

<dt>Independent Scholars and Alternative Careers</dt>
<dd>Gabrielle Dean, Jan. 2016</dd>
<dd>Richard Hardack, Jan. 2017</dd>
<dd>Patrick Williams, Jan. 2017</dd>

<dt>Lecturers, Adjuncts, and Instructors</dt>
<dd>Marion Gehlker, Jan. 2015</dd>
<dd>Jeongoh Kim, Jan. 2016</dd>
<dd>Leah Strobel, Jan. 2016</dd>

<dt>Less-Taught Languages</dt>
<dd>Christopher E. Larkosh, Jan. 2016</dd>
<dd>Andrew Schonebaum, Jan. 2015</dd>
<dd>Rebecca Jane Stanton, Jan. 2017</dd>

<dt>Politics and the Profession</dt>
<dd>Nathan Brown, Jan. 2016</dd>
<dd>Lisa Cacho, Jan. 2016</dd>
<dd>Salah D. Hassan, Jan. 2017</dd>
<dd>Debra Ann Moddelmog, Jan. 2015</dd>
<dd>[one seat unfilled, Jan. 2015]</dd>

<dt>Retired</dt>
<dd>Patricia Ann Ward, Jan. 2015</dd>

<dt>Scholars Residing outside the United States and Canada</dt>
<dd>Clara Rowland, Jan. 2015</dd>

<dt>Two-Year Colleges</dt>
<dd>Ginny Carney, Jan. 2017</dd>
<dd>David Clemens, Jan. 2016</dd>
<dd>H. Edward Higginbotham, Jan. 2016</dd>
<dd>Valerie Holliday, Jan. 2017</dd>
<dd>Jami L. Huntsinger, Jan. 2015</dd>
<dd>Amy Sparks Kolker, Jan. 2015</dd>

<dt>Women in the Profession</dt>
<dd>Angelika Bammer, Jan. 2017</dd>
<dd>Monica Feinberg Cohen, Jan. 2015</dd>
<dd>Basuli Deb, Jan. 2016</dd>
<dd>Beth Ellen Jörgensen, Jan. 2015</dd>
<dd>Rachael King, Jan. 2016</dd>
<dd>Tonya Moutray, Jan. 2015</dd>
<dd>Rebecca F. Stern, Jan. 2017</dd>
<dd>Miriam L. Wallace, Jan. 2016</dd>
</dl>

<h2 class="delegation">Regional Delegates</h2>
<dl class="delegates">
<dt>New England and Eastern Canada</dt>
<p>Connecticut, Maine, Massachusetts, New Hampshire, Rhode Island, Vermont; New Brunswick, Newfoundland and Labrador, Nova Scotia, Ontario, Prince Edward Island, Québec</p>
<dd>Amy Boylan, Jan. 2016</dd>
<dd>Ute T. Brandes, Jan. 2015</dd>
<dd>Peter M. Coviello, Jan. 2015</dd>
<dd>Eda Dedebas Dundar, Jan. 2015</dd>
<dd>Benjamin Friedlander, Jan. 2016</dd>
<dd>Antonio Guijarro-Donadiós, Jan. 2017</dd>
<dd>Irit Ruth Kleiman, Jan. 2017</dd>
<dd>Heather Klemann, Jan. 2016</dd>
<dd>Jeremy A. Lopez, Jan. 2017</dd>
<dd>Cathryn M. Mercier, Jan. 2015</dd>
<dd>Alex Mueller, Jan. 2017</dd>
<dd>Stephen David Powell, Jan. 2017</dd>
<dd>Shawn Christopher Salvant, Jan. 2015</dd>

<dt>New York State</dt>
<dd>Emily S. Apter, Jan. 2017</dd>
<dd>Sara Armengot, Jan. 2015</dd>
<dd>Lisa Berglund, Jan. 2017</dd>
<dd>Barbara J. Black, Jan. 2015</dd>
<dd>Mia Chen, Jan. 2015</dd>
<dd>Juan E. De Castro, Jan. 2017</dd>
<dd>Christopher Eng, Jan. 2017</dd>
<dd>Gregory Foran, Jan. 2017</dd>
<dd>Christine Henseler, Jan. 2015</dd>
<dd>William Michael Mudrovic, Jan. 2016</dd>
<dd>Seth Perlow, Jan. 2016</dd>
<dd>Nicholas G. Salvato, Jan. 2017</dd>

<dt>Middle Atlantic</dt>
<p>Delaware, District of Columbia, Maryland, New Jersey, Pennsylvania, West Virginia</p>
<dd>Chiji Akoma, Jan. 2016</dd>
<dd>Kristin Bergen, Jan. 2015</dd>
<dd>Christine Blackshaw, Jan. 2015</dd>
<dd>Jeannette Brazier, Jan. 2017</dd>
<dd>Mark Cantrell, Jan. 2015</dd>
<dd>Margaret Vallone Gardineer, Jan. 2016</dd>
<dd>Mark Larabee, Jan. 2015</dd>
<dd>Mirona Magearu, Jan. 2015</dd>
<dd>Peter Mallios, Jan. 2017</dd>
<dd>Kyle McAuley, Jan. 2017</dd>
<dd>Patrick R. O’Malley, Jan. 2017</dd>
<dd>Cynthia Schmidt-Cruz, Jan. 2017</dd>
<dd>Heather Steffen, Jan. 2016</dd>

<dt>Great Lakes</dt>
<p>Illinois, Indiana, Michigan, Minnesota, Ohio, Wisconsin</p>
<dd>Elizabeth Berkebile McManus, Jan. 2015</dd>
<dd>Heather Brown, Jan. 2017</dd>
<dd>John E. Davidson, Jan. 2016</dd>
<dd>Larnell Dunkley, Jr., Jan. 2016</dd>
<dd>Jonathan Elmer, Jan. 2017</dd>
<dd>Patrick L. Gallagher, Jan. 2016</dd>
<dd>Enrique García Santo-Tomás, Jan. 2015</dd>
<dd>Jenelle Grant, Jan. 2017</dd>
<dd>Todd Herzog, Jan. 2017</dd>
<dd>Andrea Lyn Knutson, Jan. 2015</dd>
<dd>Juliet Lynd, Jan. 2016</dd>
<dd>Jonathan Naito, Jan. 2017</dd>
<dd>Damaris Punales-Alpizar, Jan. 2015</dd>
<dd>Cynthia L. Selfe, Jan. 2017</dd>
<dd>Theresa Tinkle, Jan. 2015</dd>
<dd>Jacquilyn Weeks, Jan. 2016</dd>
<dd>Jennifer Willging, Jan. 2015</dd>
<dd>Heather Willis Allen, Jan. 2016</dd>

<dt>South</dt>
<p>Alabama, Florida, Georgia, Kentucky, Louisiana, Mississippi, North Carolina, Puerto Rico, South Carolina, Tennessee, Virginia, Virgin Islands</p>
<dd>Alexandra Campana, Jan. 2015</dd>
<dd>Shalyn Claggett, Jan. 2017</dd>
<dd>Susan C. Dixon, Jan. 2015</dd>
<dd>Jürgen E. Grandt, Jan. 2017</dd>
<dd>Benjamin Kahan, Jan. 2017</dd>
<dd>Anna Lillios, Jan. 2017</dd>
<dd>Audrey Magre-Burba, Jan. 2016</dd>
<dd>Mary McCay, Jan. 2015</dd>
<dd>Margaret McGehee, Jan. 2016</dd>
<dd>Lisa Nalbone, Jan. 2016</dd>
<dd>Frank A. Palmeri, Jan. 2017</dd>
<dd>Joshua Phillips, Jan. 2015</dd>
<dd>Uriel Quesada, Jan. 2015</dd>
<dd>Mark A. Reid, Jan. 2016</dd>
<dd>Roopika Risam, Jan. 2015</dd>
<dd>Jordan Stone, Jan. 2017</dd>
<dd>Daniel Cross Turner, Jan. 2016</dd>
<dd>Judson D. Watson III, Jan. 2016</dd>

<dt>Central and Rocky Mountain</dt>
<p>Arizona, Arkansas, Colorado, Iowa, Kansas, Missouri, Montana, Nebraska, New Mexico, North Dakota, Oklahoma, South Dakota, Texas, Utah, Wyoming</p>
<dd>Jesse Alemán, Jan. 2016</dd>
<dd>Mariana Bolivar Rubin, Jan. 2017</dd>
<dd>Adam Coon, Jan. 2016</dd>
<dd>Irina Dumitrescu, Jan. 2015</dd>
<dd>Nathan Grant, Jan. 2017</dd>
<dd>Emily A. Haddad, Jan. 2016</dd>
<dd>Lisa Haegele, Jan. 2015</dd>
<dd>Gina Hausknecht, Jan. 2016</dd>
<dd>Katie Kane, Jan. 2017</dd>
<dd>Salvador Mercado, Jan. 2016</dd>
<dd>Mary Ann O’Farrell, Jan. 2015</dd>
<dd>Richard Mark Preiss, Jan. 2015</dd>
<dd>Karen E. Ramirez, Jan. 2016</dd>
<dd>Delphine Red Shirt, Jan. 2017</dd>
<dd>[one seat unfilled, Jan. 2015]</dd>

<dt>Western United States and Western Canada</dt>
<p>Alaska, California, Hawai‘i, Idaho, Nevada, Oregon, Washington; Alberta, British Columbia, Manitoba, Saskatchewan</p>
<dd>Maria Faini, Jan. 2016</dd>
<dd>Karen Elizabeth Gross, Jan. 2017</dd>
<dd>Kevin G. Guerrieri, Jan. 2015</dd>
<dd>Margaret Hanzimanolis, Jan. 2017</dd>
<dd>Gillian H. Harkins, Jan. 2015</dd>
<dd>Jason Herbeck, Jan. 2016</dd>
<dd>James Kyung-Jin Lee, Jan. 2016</dd>
<dd>Diana Leong, Jan. 2016</dd>
<dd>David C. Lloyd, Jan. 2017</dd>
<dd>Margherita R. Long, Jan. 2015</dd>
<dd>Christopher M. Lupke, Jan. 2016</dd>
<dd>Julia Reinhard Lupton, Jan. 2015</dd>
<dd>Emily McGinn, Jan. 2015</dd>
<dd>Allison Muri, Jan. 2016</dd>
<dd>Cheryl Narumi Naruse, Jan. 2016</dd>
<dd>Natalia Ruiz-Rubio, Jan. 2016</dd>
<dd>Rosaura Sanchez, Jan. 2017</dd>
<dd>Erin Sweeney, Jan. 2017</dd>
<dd>[one seat unfilled, Jan. 2015]</dd>
</dl>

<h2 class="delegation">Ex Officio Delegates</h2>
The ex officio members of the Delegate Assembly include the officers of the MLA, the members of the Executive Council, the members of the Delegate Assembly Organizing Committee (DAOC), and the representatives of the regional MLAs.
<dl class="delegates">
<dt>Officers</dt>
<dd><i>President</i>: <a href="/ferguson">Margaret W. Ferguson</a>, Jan. 2015</dd>
<dd><i>First Vice President</i>:  <a href="/greene">Roland Greene</a>, Jan. 2016 (also ex officio DAOC member)</dd>
<dd><i>Second Vice President</i>: Kwame Anthony Appiah, Jan. 2017</dd>
<dd><i>Executive Director</i>: <a href="/feal">Rosemary G. Feal</a> (also ex officio DAOC member)</dd>

<dt>Members of the Executive Council</dt>
<dd>Samer M. Ali, Jan. 2016 (also DAOC member)</dd>
<dd>Barbara K. Altmann, Jan. 2015</dd>
<dd>Debra Ann Castillo, Jan. 2015</dd>
<dd>Brian Croxall, Jan. 2018</dd>
<dd>Alicia M. de la Torre Falzon, Jan. 2017 (also DAOC member)</dd>
<dd>Gaurav G. Desai, Jan. 2018 (also ex officio DAOC member)</dd>
<dd>Donald E. Hall, Jan. 2017</dd>
<dd>María Herrera-Sobek, Jan. 2015</dd>
<dd>Margaret R. Higonnet, Jan. 2018</dd>
<dd>Lanisa Kitchiner, Jan. 2016</dd>
<dd>Lutz Koepnick, Jan. 2016</dd>
<dd>Paula M. Krebs, Jan. 2017</dd>
<dd>Tracy Denean Sharpley-Whiting, Jan. 2018</dd>
<dd>Mecca Jamilah Sullivan, Jan. 2016 (also DAOC member)</dd>

<dt>Members of the DAOC</dt>
<dd>Stephanie Louise Kirk, Jan. 2016</dd>
<dd>Margaret A. Noodin, Jan. 2017</dd>
<dd>Julie Rak, Jan. 2016</dd>
<dd>Susan Solomon, Jan. 2017</dd>
<dd>Jennifer Wicke, Jan. 2015</dd>

<dt>Representatives of the Regional MLAs</dt>
<dd><i>Midwest MLA</i>: David M. Posner</dd>
<dd><i>Northeast MLA</i>: Kristin A. Le Veness</dd>
<dd><i>Pacific Ancient and Modern Lang. Assn.</i>: Craig Svonkin</dd>
<dd><i>Rocky Mountain MLA</i>: Joy B. Landeira</dd>
<dd><i>South Atlantic MLA</i>: Renée Schatteman</dd>
<dd><i>South Central MLA</i>: Emily D. Johnson</dd>
</dl>
