<h1>Ideas of Form in Twentieth-Century Poetry: What We Talk about When We Talk about Form</h1>
Reprinted by permission of the authors. Copyright &#169; 2006 by Anton Vander Zee, David J. Gorman, and David Caplan

<I>Part 2.  Detailed description of session</i>

The goal of this panel is to provide a forum in which to trace the evolving aesthetic semantics of the idea of form in 20th-century American poetic culture.  Taking a fresh look at the perennial problem of form, the prospective panelists all agree that we do not always know what we are talking about when we talk about form; however, we take this general confusion to be central to our understanding of 20th-century poetics.

In the aftermath of Whitman's iconoclastic anti-formalism, what has united numerous poetic movements&#151;from Imagism and Objectivism, to Beat and open-field poetics, to Language Poetry and New Formalism&#151;has been an urgent need to present their poetics, in ways both subtle and startling, through strategically revised and increasingly expansive ideas of form. Of course, form has not stopped referring to prosody as such; it has simply been enlarged and repositioned to contain and explain a multitude of poetic efforts in terms of both their feats of technique, and more importantly for our purposes, their underlying extra-technical significations.  With this rich range of formal connotations, however, no grounding conceptual literacy has emerged that might serve as a basis for discussions of form.  Form has become a slippery metaphysical variable, an engine for allegorizing ideas about the nature and purpose of poetic thought.  Rather than suggest a centering rubric, our goal is to interrogate the unquestioned assumptions about form that surface both in the poetry of the past century and in the ways that we have come to talk about it.

This panel topic has its conceptual roots in such studies as John Hollander's <I>Melodious Guile: Fictive Pattern in Poetic Language</i> (1998), Stephen Cushman's <I>Fictions of Form in American Poetry</i>, and Mutlu Konuk Blasing's <I>American Poetry: The Rhetoric of its Forms</i> (1987) and <I>Politics of Form in Postmodern Poetry</i> (1995), among others.  These studies are unique in how they treat poetic and critical ideas of form as fictions, allegories, and rhetorical schemes that are meant to cover for or enact larger, less explicit, ideals.

But if we are justified in proclaiming the fictiveness and ulteriority of various ideas of form, it is necessary to ask how we, as critics, should stand in relation to such fictions in an authentic&#151;and not presumptuous or partisan&#151;manner.  The studies mentioned above offer only partial and, at times, problematic answers to this question.  By taking a broader and more self-conscious view of ideas of form and our relation to them, the panelists will expand upon and clarify the exemplary approaches noted above.

David Gorman will begin by setting up the terms of the debate more broadly.  Tracing the influence that a wide range aesthetic thought (particularly French aesthetics and Russian Formalism) has had on American critical developments from the New Criticism onward, Gorman will proceed inductively, working through numerous inherited conceptions of form that have achieved some currency. With this more capacious sense of the multiple ideas of form that have been folded into contemporary critical discussion, we will be better able to recognize certain conceptual fissures and incompatibilities that have become a part of many of our ideas of form.

Working from this useful historical overview, Anton Vander Zee will concentrate specifically on ideas of form that surface in the work of such key figures as Frost, Williams, Duncan, and Levertov. Measuring an individual poet's ideas of form against his or her poems, Vander Zee will trace a distinct formal anxiety running through numerous strains of 20th-century poetry.  Moving beyond frequent discussions of modernist self-reflexivity, he holds that it is important to note the degree to which our own lack of conceptual literacy surrounding the idea of form can be traced back to the poetic practices and theories of particular poets&#151;not in the sense that they often produced a rarified, self-involved meta-poetry, but in the more complex sense that conceptual congestion surrounding the idea of form often led to the writing of a poetry that both consciously elevates the idea of form and feels compelled to call it into question.  This is not to disclaim such work, but to more fully realize its generative and provocative force as a mode of (self-)questioning.

Finally, following up on his work in <I>Questions of Possibility</i> (2004), David Caplan will suggest specific ways to move beyond the present terms of the debate.  For Caplan, attention to ideas of form complicates and contests established positions; it compels writers to move in multiple directions; it makes them question what they believe and revise what they meant to express as they pursue the possibilities that emerge during composition. Too often, however, scholars read verse technique as a badge of group allegiance, not as a means of exploration. A richer understanding of American poetic culture emerges once we jettison outworn vocabularies that label poets as formally radical or formally traditional, and devise terms more adequate to individual poetic achievement. Examples from John Ashbery and Donald Justice will illustrate the contradictions that verse form registers, the quirks of language and artistic temperament that make poetry worth sustained attention.

In closing, I offer a brief anecdote that puts this panel's concern with ideas of form into some historical context. Writing a letter to Kenneth Burke in November 1945, W. C. Williams thanks his friend for his hospitality on a recent visit and proceeds to reflect on one of their particularly meaningful exchanges: "I particularly liked your manner of explanation when you lowered your voice and spoke quietly of the elementals that interest us both…. I woke in the night with a half-sentence on my metaphorical lips: the limitations of form. It seemed to mean something of importance."  In his response, Burke writes that the substance of Williams's dream recalls their discussions from the 1920s, which, he adds, "were always about form, though God only knows what we meant by it."  Indeed; and if we are honest with ourselves, the confusion regarding form that Burke registers here is still very much our own, and certainly deserving of our attention.  

