<h1>Revision as Writing, Writing as Revision</h1>
Reprinted by permission of the authors. Copyright &#169; 2007 by William Germano, David J. Bartholomae, Cathy L. Birkenstein-Graff, Willis Regier, Susan Gubar, Jeffrey J. Williams

<I>Part 2.  Detailed description of session</i>

Between Flaubert's lapidary reinsertion of a comma and Madame Blavatsky's automatic writing there lies a world of variations on the writer's second most important task: revision. Beginning with the premise that a professional academic is also a professional scholarly writer, this session addresses one of the central concerns of writing pedagogy – revision – and turns its spotlight on the writing practices of teachers and scholars.

Revision is not "what students do" (or don't).  A goal of this roundtable is to make clear that revision cannot be considered "merely"&#151;or even primarily&#151;a student skill we teach.  Revision is a lifelong writing skill that writers practice in order to develop in their chosen fields.  The writer is one who writes, but the real writer is one who revises.

One can go further: "revision" isn't merely a process applied to writing, it's writing itself.  Though this idea may frequently be embraced as a truism in the undergraduate classroom, this roundtable will take as its brief a consideration of revision as an element – perhaps the defining element – of successful scholarly production.  Article drafts become articles, decent essays become more than decent essays, above-average book manuscripts sustain a new purpose and clarity all because of revision.  We know this, but we don't talk about it nearly enough.  The short span of a single MLA roundtable is, we believe, an opportunity not merely to raise a point of information but to open out a set of practical and philosophical questions surrounding what it means to be a scholar in the twenty-first century.

The intended audience for the roundtable will include the graduate student and recent Ph.D. soon to face revising the dissertation manuscript into a book manuscript suitable for a publisher's eye.  But the roundtable equally invites mid-to-late career scholars for whom the process of writing is inevitably as challenging (if in different ways) as it was in graduate school.  If we take revision seriously as a process, the distinction between graduate student and full professor disappears:  as professional writers, we scholars are all bound within a discourse of writing, erasure, and rewriting.  

In the fall the roundtable organizer will send roundtable participants a set of questions for discussion.  Among them:

How do you engage revision in your own writing practice?

How might we articulate a model of writing and revising?

How can we build that model into scholarly practice?

How do the conditions within which academic writing is currently produced inhibit or encourage practices of revision?

How can we utilize technology not merely to produce faster but to revise more attentively and with greater success?

How do we know when a revision is a success at all?  Or to put it another way, how do we know when a revision is done?

This roundtable presents a presider and five participants, none of whom will deliver prewritten talks or position papers.  Maximum time will be freed for live talk and active audience participation.  The participants offer three overlapping perspectives:  the literary scholar and editor (Gubar, Williams), the composition specialist and advocate for progressive writing pedagogy (Bartholomae, Birkenstein-Graff), and scholarly publisher (Regier).  
