<h1>Discussion Group Executive Committees for the 2015 Convention Year (13 Jan. 2014&ndash;11 Jan. 2015)</h1>
The MLA has forty-nine discussion groups that are designed to accommodate the scholarly and professional interests of small constituencies concerned with discrete literatures or with literary and linguistic subjects that are not encompassed by one of the <a href="/danddg">divisions</a>. MLA members have the option of joining up to two discussion groups. (If you are an MLA member and wish to review or update your discussion group affiliations, please click <a href="/join_update">here</a>.)

Each discussion group is governed by an elected executive committee whose five members serve terms of five convention years. A convention year begins after the close of one convention and continues through the close of the next; it is named for the convention that concludes the year. Listed here are the discussion group executive committees for the 2015 convention year (13 Jan. 2014 through 11 Jan. 2015). The date that follows the name of each executive committee member designates the convention that concludes the final convention year of the committee member’s term and, thus, the final January convention that falls within his or her term of service. The listings below indicate which committee members are currently serving as chair and secretary. Normally, this year's secretary becomes next year's chair.


<b>Age Studies</b> (G049)
Michelle A. Massé, Jan. 2015
E. Ann Kaplan, Jan. 2016 (2014–Jan. 2015 Ch.)
Devoney Looser, Jan. 2017 (2014–Jan. 2015 Sec.)
Elizabeth L. Gregory, Jan. 2018
Valerie Barnes Lipscomb, Jan. 2019

<b>Anglo-Irish Literature</b> (G001)
Julia M. Wright, Jan. 2015
Gregory J. Dobbins, Jan. 2016 (2014–Jan. 2015 Ch.)
Laura B. O’Connor, Jan. 2017 (2014–Jan. 2015 Sec.)
Sean D. Moore, Jan. 2018
Mary M. Burke, Jan. 2019

<b>Arthurian Literature</b> (G003)
Alex Mueller, Jan. 2015 (2014–Jan. 2015 Ch.)
Ann Marie Rasmussen, Jan. 2016 (2014–Jan. 2015 Sec.)
Sahar Amer, Jan. 2017
Bonnie Wheeler, Jan. 2018
Paul Vincent Rockwell, Jan. 2019

<b>Bibliography and Textual Studies</b> (G004)
Matt Cohen, Jan. 2015
[position unfilled on 2014–Jan. 2015 committee]
Phillip Round, Jan. 2017 (2014–Jan. 2015 Sec.)
Sigrid Anderson Cordell, Jan. 2018 (2014–Jan. 2015 Ch.)
Lindsey Eckert, Jan. 2019

<b>Canadian Literature in English</b> (G005)
Pauline Wakeham, Jan. 2015
Jennifer Blair, Jan. 2016 (2014–Jan. 2015 Ch.)
Jade R. Ferguson, Jan. 2017 (2014–Jan. 2015 Sec.)
Larissa Lai, Jan. 2018
Karis Shearer, Jan. 2019

<b>Catalan Language and Literature</b> (G006)
Montserrat Piera, Jan. 2015
María-Luisa Guardiola, Jan. 2016 (2014–Jan. 2015 Ch.)
Teresa M. Vilarós, Jan. 2017 (2014–Jan. 2015 Sec.)
Anton Pujol, Jan. 2018
Edgar Illas, Jan. 2019

<b>Celtic Languages and Literatures</b> (G007)
Charlene M. Eska, Jan. 2015
Lahney Preston-Matto, Jan. 2016 (2014–Jan. 2015 Ch.)
Matthieu Boyd, Jan. 2017 (2014–Jan. 2015 Sec.)
Jimmy P. Miller, Jan. 2018
Amy Mulligan, Jan. 2019

<b>Classical Studies and Modern Literature</b> (G008)
William Germano, Jan. 2015
Stathis Gourgouris, Jan. 2016 (2014–Jan. 2015 Ch.)
Heath Hutto, Jan. 2017 (2014–Jan. 2015 Sec.)
Andrew C. Parker, Jan. 2018
Sarah Winter, Jan. 2019

<b>Comics and Graphic Narratives</b> (G050)
Hillary L. Chute, Jan. 2015
Joseph Witek, Jan. 2016 (2014–Jan. 2015 Ch.)
Martha B. Kuhlman, Jan. 2017 (2014–Jan. 2015 Sec.)
Nhora Lucia Serrano, Jan. 2018
Christopher Pizzino, Jan. 2019

<b>Comparative Romance Linguistics</b> (G010)
Andre Zampaulo, Jan. 2015 (2014–Jan. 2015 Ch.)
Andrea Perez Mukdsi, Jan. 2016
Francisco Martinez-Ibarra, Jan. 2017 (2014–Jan. 2015 Sec.)
M. Emma Ticio Quesada, Jan. 2018
Jason Doroga, Jan. 2019

<b>Computer Studies in Language and Literature</b> (G011)
Amy Earhart, Jan. 2015
Brad Pasanek, Jan. 2016 (2014–Jan. 2015 Ch.)
Adeline Koh, Jan. 2017 (2014–Jan. 2015 Sec.)
Matthew K. Gold, Jan. 2018
Cheryl E. Ball, Jan. 2019

<b>Cuban and Cuban Diaspora Cultural Production</b> (G031)
Vicky Unruh, Jan. 2015
Roberto-Ignacio Diaz, Jan. 2016 (2014–Jan. 2015 Ch.)
César Augusto Salgado, Jan. 2017 (2014–Jan. 2015 Sec.)
Jacqueline E. Loss, Jan. 2018
Emily Maguire, Jan. 2019

<b>Folklore and Literature</b> (G012)
Mark Allan Jackson, Jan. 2015
Sharon Lynette Jones, Jan. 2016 (2014–Jan. 2015 Ch.)
Cristina Bacchilega, Jan. 2017 (2014–Jan. 2015 Sec.)
Constance Bailey, Jan. 2018
Casey Kayser, Jan. 2019

<b>General Linguistics</b> (G013)
[position unfilled on 2014–Jan. 2015 committee]
Terrence Potter, Jan. 2016 (2014–Jan. 2015 Ch.)
Carolina Gonzalez, Jan. 2017 (2014–Jan. 2015 Sec.)
Covadonga Lamar Prieto, Jan. 2018
Angela Helmer, Jan. 2019

<b>Germanic Philology</b> (G014)
[position unfilled on 2014–Jan. 2015 committee]
Stephen Mark Carey, Jan. 2016 (2014–Jan. 2015 Ch.)
Andrew Kraiss, Jan. 2017 (2014–Jan. 2015 Sec.)
Craig Callender, Jan. 2018
Tina Boyer, Jan. 2019

<b>Hebrew Literature</b> (G015)
Rachel S. Harris, Jan. 2015 (2014–Jan. 2015 Ch.)
[position unfilled on 2014–Jan. 2015 committee]
Na’ama Rokem, Jan. 2017 (2014–Jan. 2015 Sec.)
Allison Schachter, Jan. 2018
Barbara Mann, Jan. 2019

<b>Hungarian Literature</b> (G016)
Adriana Varga, Jan. 2015
Eva Livia Corredor, Jan. 2016 (2014–Jan. 2015 Sec.)
Zoltán Márkus, Jan. 2017 (2014–Jan. 2015 Ch.)
Zsuzsanna Varga, Jan. 2018
Clara E. Orban, Jan. 2019

<b>Interdisciplinary Approaches to Culture and Society</b> (G017)
Shirin E. Edwin, Jan. 2015
Subramanian Shankar, Jan. 2016 (2014–Jan. 2015 Ch.)
Ramón H. Rivera-Servera, Jan. 2017 (2014–Jan. 2015 Sec.)
Andrea Sabine Bachner, Jan. 2018
Christopher Breu, Jan. 2019

<b>Italian American Literature</b> (G018)
Jim Cocola, Jan. 2015
Kathleen A. McCormick, Jan. 2016 (2014–Jan. 2015 Ch.)
Carla Simonini, Jan. 2017 (2014–Jan. 2015 Sec.)
Mark Cirino, Jan. 2018
Nancy Caronia, Jan. 2019

<b>Jewish American Literature</b> (G019)
Aimee Lynn Pozorski, Jan. 2015 (2014–Jan. 2015 Ch.)
Sandor Goodhart, Jan. 2016 (2014–Jan. 2015 Sec.)
Jennifer Glaser, Jan. 2017
Victoria Aarons, Jan. 2018
Maeera Yaffa Shreiber, Jan. 2019

<b>Jewish Cultural Studies</b> (G020)
Garrett Eisler, Jan. 2015
Benjamin Schreier, Jan. 2016 (2014–Jan. 2015 Ch.)
Jonathan E. Freedman, Jan. 2017 (2014–Jan. 2015 Sec.)
Lisa Marcus, Jan. 2018
Maya Barzilai, Jan. 2019

<b>Law as Literature</b> (G021)
Jay Paul Gates, Jan. 2015
Cheryl L. Suzack, Jan. 2016 (2014–Jan. 2015 Ch.)
Peter Mallios, Jan. 2017 (2014–Jan. 2015 Sec.)
Imani Perry, Jan. 2018
Richard Weisberg, Jan. 2019

<b>Lexicography</b> (G022)
Molly McQuade, Jan. 2015
Lisa Berglund, Jan. 2016 (2014–Jan. 2015 Ch.)
Meredith Martin, Jan. 2017 (2014–Jan. 2015 Sec.)
Robert DeMaria, Jan. 2018
J. Lawrence Mitchell, Jan. 2019

<b>Libraries and Research in Languages and Literatures</b> (G051)
Dawn Childress, Jan. 2015
William Thompson, Jan. 2016 (2014–Jan. 2015 Ch.)
Patricia M. Hswe, Jan. 2017 (2014–Jan. 2015 Sec.)
Tanya E. Clement, Jan. 2018
Harriett Green, Jan. 2019

<b>Literature of the United States in Languages Other Than English</b> (G023)
Montse Feu, Jan. 2015
Gabriela Baeza Ventura. 2016 (2014–Jan. 2015 Ch.)
Ricardo Vivancos-Perez, Jan. 2017 (2014–Jan. 2015 Sec.)
Stephanie A. Fetta, Jan. 2018
Sylvia Veronica Morin, Jan. 2019

<b>Lusophone Literatures and Cultures outside Portugal and Brazil</b> (G024)
Ana Paula Ferreira, Jan. 2015
Nicola Cooney, Jan. 2016 (2014–Jan. 2015 Ch.)
Rebecca J. Atencio, Jan. 2017 (2014–Jan. 2015 Sec.)
Niyi Afolabi, Jan. 2018
Fernando Arenas, Jan. 2019

<b>Media and Literature</b> (G025)
Jeremy Douglass, Jan. 2015
Jason Camlot, Jan. 2016 (2014–Jan. 2015 Ch.)
Marcy J. Dinius, Jan. 2017 (2014–Jan. 2015 Sec.)
Elizabeth Swanstrom, Jan. 2018
Mark Sample, Jan. 2019

<b>Mexican Cultural and Literary Studies</b> (G026)
Ignacio Sanchez-Prado, Jan. 2015
Juan Carlos Ramírez-Pimienta, Jan. 2016 (2014–Jan. 2015 Ch.)
Beth Ellen Jörgensen, Jan. 2017 (2014–Jan. 2015 Sec.)
Ignacio Corona, Jan. 2018
Oswaldo Estrada, Jan. 2019

<b>Netherlandic Language and Literature</b> (G027)
Wijnie de Groot, Jan. 2015
Jolanda Vanderwal Taylor, Jan. 2016 (2014–Jan. 2015 Ch.)
Ulrich Tiedau, Jan. 2017 (2014–Jan. 2015 Sec.)
Samuel Mareel, Jan. 2018
Yves T’Sjoen, Jan. 2019

<b>Old Norse Language and Literature</b> (G028)
[position unfilled on 2014–Jan. 2015 committee]
Eric Bryan, Jan. 2016 (2014–Jan. 2015 Ch.)
Kevin Wanner, Jan. 2017 (2014–Jan. 2015 Sec.)
Stephen J. Harris, Jan. 2018
Natalie Van Deusen, Jan. 2019

<b>Opera as a Literary and Dramatic Form</b> (G029)
Marshall J. Brown, Jan. 2015
Joy Calico, Jan. 2016 (2014–Jan. 2015 Ch.)
Ralph Hexter, Jan. 2017 (2014–Jan. 2015 Sec.)
Matthew W. Smith, Jan. 2018
Suzanne Ruth Stewart-Steinberg, Jan. 2019

<b>Part-Time Faculty Members</b> (G030)
Mahli Xuan Mechenbier, Jan. 2015 (2014–Jan. 2015 Ch.)
Margaret Hanzimanolis, Jan. 2016
Maria Maisto, Jan. 2017 (2014–Jan. 2015 Sec.)
Lee Skallerup Bessette, Jan. 2018
Virginia Cooper, Jan. 2019

<b>Present-Day English Language</b> (G032)
Elizabeth Bell Canon, Jan. 2015
Jennifer M. Santos, Jan. 2016 (2014–Jan. 2015 Ch.)
Lynn Houston, Jan. 2017 (2014–Jan. 2015 Sec.)
Nils Olov Fors, Jan. 2018
Alyssa Stalsberg Canelli, Jan. 2019

<b>Provençal Language and Literature</b> (G033)
Eliza Zingesser, Jan. 2015
Michelle K. Bolduc, Jan. 2016 (2014–Jan. 2015 Ch.)
Sarah-Grace Heller, Jan. 2017 (2014–Jan. 2015 Sec.)
Courtney Wells, Jan. 2018
Sarah Kay, Jan. 2019

<b>Puerto Rican Literature and Culture</b> (G034)
Jason Cortes, Jan. 2015
Margarita Pintado, Jan. 2016 (2014–Jan. 2015 Ch.)
Radost Rangelova, Jan. 2017 (2014–Jan. 2015 Sec.)
Liana Silva-Ford, Jan. 2018
Judith Sierra-Rivera, Jan. 2019

<b>Romance Literary Relations</b> (G035)
Gerard Aching, Jan. 2015
Guillermina De Ferrari, Jan. 2016 (2014–Jan. 2015 Ch.)
Josiah Blackmore, Jan. 2017 (2014–Jan. 2015 Sec.)
Anna Botta, Jan. 2018
Kathleen P. Long, Jan. 2019

<b>Romanian Studies</b> (G036)
Maria-Sabina Draga Alexandru, Jan. 2015
Monica Filimon, Jan. 2016 (2014–Jan. 2015 Ch.)
Lenuta Giukin, Jan. 2017 (2014–Jan. 2015 Sec.)
Domnica Radulescu, Jan. 2018
Corina Liliana Petrescu, Jan. 2019

<b>Scandinavian Languages and Literatures</b> (G037)
Leonardo Lisi, Jan. 2015
Anne-Marie Andreasson-Hogg, Jan. 2016 (2014–Jan. 2015 Ch.)
Julie K. Allen, Jan. 2017 (2014–Jan. 2015 Sec.)
Kjerstin Marie Moody, Jan. 2018
Dean Krouk, Jan. 2019

<b>Science Fiction and Utopian and Fantastic Literature</b> (G038)
Rebekah Sheldon, Jan. 2015
Ian MacDonald, Jan. 2016 (2014–Jan. 2015 Sec.)
Eric Aronoff, Jan. 2017 (2014–Jan. 2015 Ch.)
Tyler Curtain, Jan. 2018
Gerry Canavan, Jan. 2019

<b>Scottish Literature</b> (G039)
Matthew F. Wickman, Jan. 2015
Susan Oliver, Jan. 2016 (2014–Jan. 2015 Ch.)
Evan M. Gottlieb, Jan. 2017 (2014–Jan. 2015 Sec.)
Corey Edward Andrews, Jan. 2018
Rivka Swenson, Jan. 2019

<b>Sephardic Studies</b> (G040)
Bonnie S. Wasserman, Jan. 2015
Bryan Kirschen, Jan. 2016 (2014–Jan. 2015 Ch.)
Jane Mushabac, Jan. 2017 (2014–Jan. 2015 Sec.)
Adolfo Campoy-Cubillo, Jan. 2018
Judith Roumani, Jan. 2019

<b>Slavic Literatures and Cultures</b> (G041)
David L. Cooper, Jan. 2015
Justin Weir, Jan. 2016 (2014–Jan. 2015 Ch.)
Jonathan Stone, Jan. 2017 (2014–Jan. 2015 Sec.)
Julia Vaingurt, Jan. 2018
Gabriella Safran, Jan. 2019

<b>South Asian Languages and Literatures</b> (G042)
Indrani Mitra, Jan. 2015
Masood Raja, Jan. 2016 (2014–Jan. 2015 Ch.)
Chandrima Chakraborty, Jan. 2017 (2014–Jan. 2015 Sec.)
Rajender Kaur, Jan. 2018
Rashmi Bhatnagar, Jan. 2019

<b>Southern Literature</b> (G043)
Coleman Hutchison, Jan. 2015
Katherine Renee Henninger, Jan. 2016 (2014–Jan. 2015 Ch.)
Rebecca Mark, Jan. 2017 (2014–Jan. 2015 Sec.)
Ted B. Atkinson, Jan. 2018
Jolene Hubbs, Jan. 2019

<b>Translation</b> (G044)
Michael Emmerich, Jan. 2015
Sergio Waisman, Jan. 2016 (2014–Jan. 2015 Ch.)
Antony James Hasler, Jan. 2017 (2014–Jan. 2015 Sec.)
Giada Biasetti, Jan. 2018
Michael Gibbs Hill, Jan. 2019

<b>Travel Literature</b> (G045)
Jeanne Dubino, Jan. 2015
Gaurav G. Desai, Jan. 2016 (2014–Jan. 2015 Ch.)
Katarina Gephardt, Jan. 2017 (2014–Jan. 2015 Sec.)
Ali Behdad, Jan. 2018
David Farley, Jan. 2019

<b>The Two-Year College</b> (G046)
[position unfilled on 2014–Jan. 2015 committee]
Falk Cammin, Jan. 2016 (2014–Jan. 2015 Ch.)
Richard E. Hishmeh, Jan. 2017 (2014–Jan. 2015 Sec.)
Stacey Lee Donohue, Jan. 2018
Linda Weinhouse, Jan. 2019

<b>West Asian Languages and Literatures</b> (G047)
Stephen Sheehi, Jan. 2015
Michelle Hartman, Jan. 2016 (2014–Jan. 2015 Ch.)
Michael Beard, Jan. 2017 (2014–Jan. 2015 Sec.)
Amy Motlagh, Jan. 2018
Nergis Ertürk, Jan. 2019

<b>Yiddish Literature</b> (G048)
Kathryn Ann Hellerstein, Jan. 2015
Jerold C. Frakes, Jan. 2016 (2014–Jan. 2015 Ch.)
Merle Lyn Bachman, Jan. 2017 (2014–Jan. 2015 Sec.)
Allison Schachter, Jan. 2018
Gabriella Safran, Jan. 2019
