<style type="text/css">
	.floatright { float: right; }
</style>

<style type="text/css">span.query{color: red; font-weight: bold;}</style>

<h1>The Association in 2013–14</h1>

<div><img class="floatright" src="/IMAGES/directory2014.jpg " alt="Directory 13–14"></div>

<p class="directory"><a href="/about">About the MLA</a></p>

<p class="directory"><a href="/the_mla_staffnew">The MLA Staff</a></p>

<p class="directory"><a href="/mla_constitution">Constitution</a></p>

<p class="directory"><a href="/proposed_amendment">Proposed Amendment to the Constitution</a></p>

<p class="directory"><a href="/comm_ec">Officers and Executive Council</a></p>

<p class="directory"><a href="mla_presidents">The One Hundred Twenty-Four Presidents</a></p>

<p class="directory"><a href="/executive_directors">Executive Directors</a></p>

<p class="directory"><a href="/pmla_editors"><i>PMLA</i> Editors</a></p>

<p class="directory"><a href="/del_assembly_members">Delegate Assembly</a></p>

<p class="directory"><a href="/delegate_assembly_by">Delegate Assembly Bylaws</a></p>

<p class="directory"><a href="/alpha_commlistings">Committees and Commissions</a> </p>

<p class="directory"><a href="/bib_bibliographers#contributors">Contributors to the 2012 <i>MLA International Bibliography</i></a> </p>

<p class="directory"><a href="/awards_winners">Prizes</a> </p>

<p class="directory"><a href="/member_stats">Membership Statistics</a>  </p>

<p class="directory"><a href="/honorary_members">Honorary Members and Fellows</a> </p>

<p class="directory"><a href="/member_search">Members</a></p>

<p class="directory"><a href="/in_memoriam">In Memoriam</a></p>

<p class="directory"><a href="/conv_stats">Convention Statistics</a>  </p>

<p class="directory"><a href="/conv_procedures">Procedures for Organizing Meetings at the MLA Convention</a></p>

<p class="directory"><a href="/policies_for_divisio">Policies for Divisions, Discussion Groups, and Allied Organizations</a></p>

<p class="directory"><a href="/danddg">Division Executive Committees</a> </p>

<p class="directory"><a href="/dgroupexeccomm">Discussion Group Executive Committees</a></p>

<p class="directory"><a href="/orginfo_directory">Allied Organizations</a> </p>

<p class="directory"><a href="/regional_modern_lang">Regional Modern Language Associations</a></p>

<p class="directory"><a href="/chrsearch_1">Departmental Administrators</a></p>

<p class="directory"><a href="/orgs_for_ind_scholars">Organizations for Independent Scholars</a> </p>

<p class="directory"><a href="/humanities_rsrch_ctrs">Humanities Research Centers</a> </p>

<p class="directory"><a href="/fellowships_grants">Fellowships and Grants</a> </p>
