<h1>Disability Studies and the University</h1>
<h2>Emory Conference Center<br>
Atlanta, Georgia<br>
5-7 March 2004<br>
Schedule</h2><br>
<table width="95%" border="0">
<tr align="left" valign="top"> 
<td width="31%"> 
<h2>Friday Afternoon</h2>
</td>
<td width="69%">&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td width="31%">4:00-6:00 p.m.</td>
<td width="69%">Registration<br>
<i>Outside Emory Amphitheater</i></td>
</tr>
<tr align="left" valign="top"> 
<td width="31%">4:00-5:30 p.m.</td>
<td width="69%">Harriet McBryde Johnson<br>
<i>Silver Bell Pavilion</i></td>
</tr>
<tr align="left" valign="top"> 
<td width="31%">&nbsp;</td>
<td width="69%">&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td width="31%"> 
<h2>Friday Evening</h2>
</td>
<td width="69%">&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td width="31%" height="20">5:30-7:00 p.m.</td>
<td width="69%" height="20">Informal dinner<br>
<i>Conference Dining Room</i></td>
</tr>
<tr align="left" valign="top"> 
<td width="31%">7:00-7:30 p.m.</td>
<td width="69%">Free time</td>
</tr>
<tr align="left" valign="top"> 
<td width="31%" height="165">7:30-9:30 p.m.</td>
<td width="69%" height="165"> 
<b>Plenary I: Defining Disability</b><br>
<i>Emory Amphitheater</i>
<ul>
<li>Paul Longmore, San Francisco State University (via remote connection), 
&#34;Paradigms of Disability: A Critique&#34; 
<li>Carol Padden, University of California, San Diego, &#34;Talking Culture: 
Deaf People and Disability Studies&#34; 
<li>Sander Gilman, University of Illinois, Chicago, &#34;Defining Disability: 
The Case of Obesity&#34; 
</ul>
</td>
</tr><tr align="left" valign="top"> 
<td width="31%">&nbsp;</td>
<td width="69%">&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td width="31%"> 
<h2>Saturday Morning</h2>
</td>
<td width="69%">&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td width="31%">Available beginning<br>at 7:00 a.m.</td>
<td width="69%">Breakfast
<br><i>Conference Dining Room</i></td>
</tr>
<tr align="left" valign="top"> 
<td width="31%">7:30-8:30 a.m.</td>
<td width="69%">Registration
<br><i>Outside Emory Amphitheater</i></td>
<tr align="left" valign="top"> 
<td width="31%">9:00-10:30 a.m.</td>
<td width="69%"><b>Plenary II: Defining Disability Studies</b>
<br><i>Emory Amphitheater</i> 
<ul>
<li>Simi Linton, Disability/Arts, &#34;Disability Studies: Birthing a 
New Field of Inquiry&#34; 
<li>Rosemarie Garland-Thomson, Emory University, &#34;Disability and Representation&#34; 
<li>Lennard Davis, University of Illinois, Chicago, &#34;Disability Studies: The 
Next Wave&#34; 
</ul>
</td>
</tr>
<tr align="left" valign="top"> 
<td width="31%">10:30-11:00 a.m.</td>
<td width="69%">Break
<br><i>Emory Break Area</i></td>
</tr>
<tr align="left" valign="top"> 
<td width="31%">11:00 a.m.-12:30 p.m.</td>
<td width="69%">Concurrent sessions</td>
</tr>
<tr align="left" valign="top"> 
<td width="31%">&nbsp;</td>
<td width="69%"><b>1. Disability Studies Programs</b>
<br><i>Azalea</i>
<ul>
<li>Sharon Snyder, University of Illinois, Chicago, &#34;Teaching with the Enemy: Pedagogy, Disability, and the Rehabilitation Sciences&#34; 
<li>Susan Schweik, University of California, Berkeley, &#34;Doing / Not 
Doing Disability Studies at Berkeley&#34; 
<li>James V. Ferris, University of Wisconsin, Madison, &#34;Disability 
Studies at Madison: The Wisconsin Idea&#34;<br>
</ul>
<b>2. Disability Studies and the Humanities</b>
<br><i>Salons IV and V </i>
<ul>
<li>Tobin Siebers, University of Michigan, Ann Arbor, &#34;Disability 
Aesthetics&#34; 
<li>Cindy LaCom, Slippery Rock University, &#34;&#39;The Time Is Sick 
and out of Joint&#39;: Reading Disability in Victorian Literature and 
Culture&#34; 
<li>Christopher Krentz, University of Virginia, &#34;A &#39;Vacant Receptacle&#39;? 
Blind Tom in Late-Nineteenth-Century America&#34; 
</ul>
<b>3. Historicizing Disability</b>
<br><i>Oak Amphitheater</i>
<ul>
<li>Catherine J. Kudlick, University of California, Davis, &#34;Disability: 
The Next Historical Frontier&#34; 
<li>Douglas Baynton, University of Iowa, &#34;Disability and Citizenship 
in American History&#34; 
<li>Katherine Ott, National Museum of American History, Smithsonian Institution, 
&#34;Exhibit A: Public History and Bodily Difference on Display&#34; 
</ul>
</td>
</tr>
</tr>
<tr align="left" valign="top"> 
<td width="31%">&nbsp;</td>
<td width="69%">&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td width="31%"> 
<h2>Saturday Afternoon</h2>
</td>
<td width="69%">&nbsp;</td>
<tr align="left" valign="top"> 
<td width="31%">12:30-2:00 p.m.</td>
<td width="69%">Lunch
<br><i>Conference Dining Room</i></td>
</tr>
</tr>
<tr align="left" valign="top"> 
<td width="31%">2:00-3:30 p.m.</td>
<td width="69%"> 
<b>Plenary III: What Disability Studies Teaches Us about Learning</b>
<br><i>Emory Amphitheater</i>
<ul>
<li>Michael B&eacute;rub&eacute;, Penn State University, University 
Park, &#34;Re-learning to Re-read&#34; 
<li>Brenda Brueggemann, Ohio State University, Columbus, &#34;Deaf, She 
Wrote&#34; 
<li>Nancy Eiesland, Emory University, &#34;Pious Crippledom: Disability 
Studies in Religion&#34; 
</ul>
</td>
</tr>
<tr align="left" valign="top"> 
<td width="31%">3:30-4:00 p.m.</td>
<td width="69%">Break<br><i>Emory Break Area</i><br></td>
</tr>
<tr align="left" valign="top"> 
<td width="31%">4:00-5:30 p.m.</td>
<td width="69%">Concurrent sessions</td>
</tr>
<tr align="left" valign="top"> 
<td width="31%">&nbsp;</td>
<td width="69%"><b>1. Disability across the Curriculum</b>
<br><i>Salons IV and V</i>
<ul>
<li>Robert McRuer, George Washington University, &#34;Queer Theory, Crip 
Theory, and the Disciplining of Disability Studies&#34; 
<li>Diane Price Herndl, Iowa State University, &#34;Disease v. Disability: 
Disability Studies and the Medical Humanities&#34; 
<li>Wendy Newby, Emory University, &quot;Voices of Disability inside the 
Curriculum&quot; 
</ul>
<b>2. Disability and Life Writing</b>
<br><i>Azalea</i> 
<ul>
<li>Tom Couser, Hofstra University, &#34;Disability, Life Writing, and 
Representation&#34; 
<li>Georgina Kleege, University of California, Berkeley, &#34;Teaching 
and Writing Disability Autobiography&#34; 
<li>Anne Finger, Society for Disability Studies, &#34;Beyond the Singular: 
Writing Disabled Lives&#34; 
</ul>
<b>3. Disability and the Arts</b>
<br><i>Oak Amphitheater</i>
<ul>
<li>Michael Davidson, University of California, San Diego, &#34;Concerto 
for the Left Hand: Disability Arts&#34; 
<li>Carrie Sandahl, Florida State University, &#34;From the Streets to 
the Stage: Disability and the Performing Arts&#34; 
<li>Riva Lehrer, School of the Art Institute of Chicago, &quot;Circle Stories&quot; 
</ul>
</td>
</tr>
<tr align="left" valign="top"> 
<td width="31%">&nbsp;</td>
<td width="69%">&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td width="31%"> 
<h2>Saturday Evening</h2>
</td>
<td width="69%">&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td width="31%">6:00-7:00 p.m.</td>
<td width="69%">Reception
<br><i>Silver Bell Pavilion</i></td>
</tr>
<tr align="left" valign="top"> 
<td width="31%">7:00-9:00 p.m.</td>
<td width="69%">Dinner
<br><i>Silver Bell Pavilion</i></td>
</tr>
<tr align="left" valign="top"> 
<td width="31%">9:30 p.m.</td>
<td width="69%">Performance
<br><i>Emory Amphitheater</i></td>
</tr>
<tr align="left" valign="top"> 
<td width="31%">&nbsp;</td>
<td width="69%">&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td width="31%"> 
<h2>Sunday Morning</h2>
</td>
<td width="69%">&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td width="31%">Available beginning
<br>at 7:00 a.m.</td>
<td width="69%">Breakfast
<br><i>Conference Dining Room</i></td>
</tr>
<tr align="left" valign="top"> 
<td width="31%" height="130">9:00-10:15 a.m.</td>
<td width="69%" height="130"> 
<p>Concurrent workshops</p>
<ul>
<li><b>Accessible Knowledge </b>
<br><i>Salon I</i>
<li><b>Disability Identity </b>
<br><i>Salon II</i>
<li><b>Disability Studies across the Curriculum</b>
<br><i>Salons IV and V</i>
</ul>
</td>
</tr>
<tr align="left" valign="top"> 
<td width="31%">10:15-10:30 a.m.</td>
<td width="69%">Break
<br><i>Garden Overlook and Emory Break Areas</i></td>
</tr>
<tr align="left" valign="top"> 
<td width="31%">10:30 a.m.-12:00 noon</td>
<td width="69%"><b>Plenary IV: The Inclusive University</b>
<br><i>Emory Amphitheater</i>
<ul>
<li>I. King Jordan, Gallaudet University, &#34;The Gallaudet Experience: 
Deafness and Disability&#34; 
<li>David Mitchell, University of Illinois, Chicago, &#34;Compulsory Feralization: 
Disability Studies as Academic Wild Child&#34; 
<li>Paul Steven Miller, United States Equal Employment Opportunity Commission, &#34;Developing Diversity and Equal Opportunity: Why the Disability Perspective Matters&#34; 
</ul>
<tr align="left" valign="top"> 
<td width="31%">12:30-2:00 p.m.</td></td>
<td width="69%">Lunch<br>
<i>Conference Dining Room</i></td></tr>
</table>
