<a name="top"><h1>Surveys, Reports, and Other Documents</h1></a> 

Please visit the <a href="/career_resources">Career Resources</a> page for surveys, reports, and other information related to graduate education and the job market. 
<br>
<br>
<table bgcolor="#cccccc" border="0" cellpadding="1" cellspacing="0" width="100%">
	<tr>
		<td>
			<table border="0" cellpadding="4" cellspacing="0" width="100%">
				<tr bgcolor="[[color1]]">
					<td align="center" colspan="3">
						<b><font color="white">Contents by Topic</b></font> 
					</td>
				</tr>
				<tr bgcolor="#ffffff">
					<td width="335" valign="top">
						<ul bullet="square">
							<li>
								<a href="#tab01"><b>Teaching, Enrollments, and Programs</b></a> 
							</li>
							<@spacer 1x5> 
							<br>
							<li>
								<a href="#tab02"><b>Publishing and Scholarship</b></a> 
							</li>
							
						</ul>
					</td>
					<td width="30" valign="top">
						&nbsp; 
						<br>
					</td>
					<td width="335" valign="top">
						<ul>
							<li>
								<a href="#tab03"><b>Staffing, Salaries, and Other Professional Issues</b></a> 
							</li>
							<@spacer 1x5> 
							<br>
							<li>
								<a href="http://www.ade.org/policy/index.htm" name="tab04"><b>ADE Guidelines and Policy Statements</b></a> 
							</li>
							<@spacer 1x5> 
							<br>
							<li>
								<a href="http://www.adfl.org/resources/guidelines.htm" name="tab05"><b>ADFL Guidelines and Policy Statements</b></a> 
							</li>
						</ul>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<br>
<br>




<div class="top_indent"><b><a name="tab01"></a>Teaching, Enrollments, and Programs</b><br></div>


<div class="top_indent"><a href="/data_second_majors" onClick="javascript: pageTracker._trackPageview('/pdf/data_second_majors'); ">Data on Second Majors in Language and Literature, 2001–08</a>[[[docstudio filetype_tag_pdf]]]</div>

<div class="top_indent"><a href="/enrollments_surveys">Enrollments in Languages Other Than English in United States Institutions of Higher Education</a></div>

<div class="top_indent"><a href="/mlaissuesmajor">Foreign Languages and Higher Education: New Structures for a Changed World (MLA Ad Hoc Committee on Foreign Languages)</a></div>
<div class="top_indent"><a href="/flsurvey_search">Language Enrollment Database, 1958–2009</a></div>
<div class="top_indent" ><a href="/survey_lang_requirements">The MLA Survey of Postsecondary Entrance and Degree Requirements for Languages Other Than En­glish, 2009–10</a></div>

<div class="top_indent"><a href="/rep_teaching">Report from the MLA Ad Hoc Committee on Teaching</a> </div>
<div class="top_indent"><a href="/2008_mla_whitepaper">Report to the Teagle Foundation on the Undergraduate Major in Language and Literature</a>[[[docstudio filetype_tag_pdf]]]
<div class="top_indent"><a href="/statement_aaup_distance_ed">Special Considerations for Language and Literature: The AAUP Statement on Distance Education</a> </div>

<div class="top_indent"><a href="/succ_collegepdf01" target="_blank">Successful College and University Foreign Language Programs, 1995-99: Part 1</a>[[[docstudio filetype_tag_pdf]]]</div>
<div class="top_indent"><a href="/succcollegepdf_p2" target="_blank">Successful College and University Foreign Language Programs, 1995-99: Part 2</a>[[[docstudio filetype_tag_pdf]]]</div>

<p><a href="#top">back to top</a><br></p>

<div class="top_indent"><b><a name="tab02"></a>Publishing and Scholarship</b></div>

<div class="top_indent"><a href="/advice_for_authors">Advice for Authors, Reviewers, Publishers, and Editors of Scholarly Books and Articles</a> </div>
<div class="top_indent"><a href="/rep_scholarly/cse_approved_edition">Approved Editions from the Committee on Scholarly Editions</a> </div>
<div class="top_indent"><a href="/rep_scholarly_pub">Call for Action on Problems in Scholarly Book Publishing</a></div>
<div class="top_indent"><a href="//ec_guidelines_translation">Evaluating Translations as Scholarship: Guidelines for Peer Review</a> </div>
<div class="top_indent"><a href="/issues_scholarly_pub">The Future of Scholarly Publishing: Report from the Ad Hoc Committee on the Future of Scholarly Publishing</a> </div>
<div class="top_indent"><a href="/web_guidelines">Guidelines for Authors of Digital Resources</a> </div>
<div class="top_indent"><a href="/cse_guidelines">Guidelines for Editors of Scholarly Editions</a> </div>
<div class="top_indent"><a href="/guidelines_evaluation_digital">Guidelines for Evaluating Work in Digital Humanities and Digital Media </a> </div>
<div class="top_indent"><a href="/cse_guidelines#d0e354">Guiding Questions for Vetters of Scholarly Editions</a> </div>

<div class="top_indent"><a href="/fairusecopyright">MLA Statement on the Fair Use of Copyrighted Works</a> </div>
<div class="top_indent"><a href="/rep_preserving_collections">Preserving Research Collections: A Collaboration between Librarians and Scholars</a> </div>
<div class="top_indent"><a href="/tenure_promotion">Report of the MLA Task Force on Evaluating Scholarship for Tenure and Promotion</a> </div>
<div class="top_indent"><a href="/variorum_handbook">Shakespeare Variorum Handbook: A Manual of Editorial Practice</a> </div>
<div class="top_indent"><a href="/rep_primaryrecords">Significance of Primary Records</a> </div>
<div class="top_indent"><a href="/statement_on_publica">Statement on Publication in Electronic Journals</a> </div>

<p><a href="#top">back to top</a><br></p>


<div class="top_indent"><b><a name="tab03"></a>Staffing, Salaries, and Other Professional Issues</b><br> </div>

<div class="top_indent"><a href="/surveys_chaircomp">ADE and ADFL Surveys of Department Chair Compensation</a></div>
<div class="top_indent"><a href="/repetitive_strain">Computer-Related Repetitive Strain Injuries: An Advisory</a> </div>
<div class="top_indent"><a href="/rep_conf_relations">Conference on the Relation between English and Foreign Languages in the Academy</a> </div>
<div class="top_indent"><a href=" http://www.mla.org/report_aw">Education in the Balance: A Report on the Academic Workforce in English</a> </div>

<div class="top_indent"><a href="/ensuring_the_quality">Ensuring the Quality of Undergraduate Programs in English and Foreign Languages: MLA Recommendations on Staffing</a> </div>
<div class="top_indent"><a href="/rep_guidelines_poc">Guidelines for Good Practice by the Committee on the Literatures of People of Color in the US and Canada</a> </div>
<div class="top_indent"><a href="/it_support">Guidelines for Information Technology Access and Support for the Modern Languages</a> </div>

<div class="top_indent"><a href="/csgsp_guidelines2013">Improving Institutional Circumstances for Graduate Students in Languages and Literatures: Recommendations for Best Practices and Evaluative Questions</a>[[[docstudio filetype_tag_pdf]]]</div>


<div class="top_indent"><a href="/rep_facultyvis">Making Faculty Work Visible: The Report of the MLA Commission on Professional Service</a> </div>
<div class="top_indent"><a href="/mla_recommendation_o">MLA Recommendation on a Minimum Wage for Full-Time Entry-Level Faculty Members</a> </div>
<div class="top_indent"><a href="/mla_recommendation_course">MLA Recommendation on Minimum Per-Course Compensation for Part-Time Faculty Members</a> </div>

<div class="top_indent"><a href="/rec_extraevalpdf" target="other">MLA Recommendations on Extramural Evaluations</a>[[[docstudio filetype_tag_pdf]]]
<div class="top_indent"><a href="/academic_freedom_2009">MLA Statement on Academic Freedom (2009)</a></div>

<div class="top_indent"><a href="/statement_faculty">MLA Statement on the Use of Part-Time and Full-Time Adjunct Faculty Members</a> </div>
<div class="top_indent"><a href="/staffing_survey99">MLA Survey of Staffing in English and Foreign Language Departments, Fall 1999</a> </div>

<div class="top_indent"><a href="/clip_stmt_final_may1">Professional Employment Practices for Non-Tenure-Track Faculty Members</a>[[[docstudio filetype_tag_pdf]]] </div>
<div class="top_indent"><a href="/garcetti_ceballos">Ramifications of the Supreme Court’s Ruling in <i>Garcetti v. Ceballos</i></a></div>

<div class="top_indent"><a href="/ade_report_governance">Report from the ADE Ad Hoc Committee on Governance</a></div>

<div class="top_indent"><a href="http://www.ade.org/reports/Rpt_2004SHD_ADE_138-39.pdf" target="_blank">Report on the MLA's 2004 Survey of Hiring Departments</a> [[[docstudio filetype_tag_pdf]]]</div>


<div class="top_indent"><a href="/assocprof_survey">Standing Still: The Associate Professor Survey (Committee on the Status of Women in the Profession)</a> </div>
<div class="top_indent"><a href="/rep_profethics">Statement of Professional Ethics</a> </div>
<div class="top_indent"><a href="/statement_on_nonten">Statement on Non-Tenure-Track Faculty Members</a> </div>

<div class="top_indent"><a href="/survey_coalition">Summary of Data from Surveys by the Coalition on the Academic Workforce</a> </div>
<div class="top_indent"><a href="/pdf_women2000">Women in the Profession, 2000 (Committee on the Status of Women in the Profession)</a> [[[docstudio filetype_tag_pdf]]]</div>

<p><a href="#top">back to top</a><br></p>

<div class="top_indent"><b><a href="http://www.ade.org/policy/index.htm" name="tab04">ADE Guidelines and Policy Statements</a></b></div> 

<p><a href="#top">back to top</a><br></p>

<div class="top_indent"><b><a href="http://www.adfl.org/resources/guidelines.htm" name="tab05">ADFL Guidelines and Policy Statements</a></b> </div>

<p><a href="#top">back to top</a><br></p>
