<h1>Call for Action on Federal Budget Cuts to Language and Humanities Programs</h1>
<i>The MLA Executive Council has issued the following statement opposing cuts to language and humanities programs in the 2011 federal budget and calling on President Obama and Congress to ensure that these programs receive adequate funding in 2012. The statement was sent to all MLA members along with a message urging members in the United States to voice their objections to the cuts.</i>

The Modern Language Association deplores the cuts to International Education and Foreign Language included in the final Continuing Resolution and accepted by Congress for the 2011 fiscal year budget. As President Obama said on 28 March, “it is critical for all American students to have language skills.” We call on President Obama and Congress to make sure that this priority receives adequate funding in fiscal year 2012.

Devastating cuts of 40% to Title VI and to Fulbright-Hays, the key federal program for International Education and Foreign Language, will do catastrophic damage to efforts to equip students with the linguistic and cultural knowledge necessary to understand today’s world. Given the widespread recognition of the challenges of globalization and the complexity of international relations, the decision to slash funding for education programs like Fulbright-Hays by more than $50 million is incomprehensible.

The MLA is equally dismayed at dramatic reductions ($140 million) to the Fund for the Improvement of Postsecondary Education (FIPSE). FIPSE has played an important role in supporting the internationalization of higher education.

Further, the reduction of $12.5 million to the National Endowment for the Humanities budget will impede the progress of the Bridging Cultures initiative, which helps us understand the ways cultures from around the world influence American society.

These cuts will deal a severe blow to the ability of American colleges and universities to provide an international education. They will significantly diminish the quality of higher education and represent an obstacle to national educational priorities.
