<h1>Response to Campus Violence</h1>
<i>In response to incidents of violence on college campuses, the Executive Council sent the following letter to MLA members on 28 November 2011.</i>

Dear MLA Members,

Many of us have viewed with revulsion the images of campus police in riot gear pepper-spraying a nonviolent circle of protesters at the University of California, Davis, seated with arms linked, participating in a classic act of civil disobedience. We have seen other videos from the University of California, Berkeley, showing campus police brutalizing protesters. The use of force deployed by the police against protesters is deeply troubling. Campus investigations must determine where responsibility lies for these infringements of protesters' rights, and responsible parties should bear the consequences for their actions and their errors of judgment. Faculty members should express their concern, whether through established structures of university governance or through other mechanisms; condemn events on their campuses; and pressure their administrations to ensure that appropriate steps are taken to prevent this kind of violence in the future.

Teaching and learning can flourish only where free and open discussion is guaranteed. Education depends on respect for all members of the community. The MLA therefore insists on the importance of the right to free speech, including lawful protest, as vital to colleges and universities and exhorts higher education administrators everywhere to safeguard that right.

We decided to communicate with you right away because of the urgency of the situation. I do not wish to wait until the Delegate Assembly meets in January to present these sentiments as an emergency resolution (which, if passed by the assembly and ratified by the membership, would not be a public statement of the association until June 2012).

Sincerely,
<img src="/IMAGES/russell_a_berman.gif" width=240 height=50 border=0 alt="Russel A. Berman">

Russell A. Berman
MLA President, on behalf of the MLA Executive Council
