<h1>Learning Another Language: Goals and Challenges</h1>
<i>The Executive Council approved the following statement in April 2011.</i>
<p>In recent years language programs in the United States have been closed, and the federal government has reduced its support for language education. Because of the fundamental importance of language learning, it is urgent to resist these cutbacks.</p> 

<p>It is the obligation of educational institutions to provide all students with opportunities to acquire fluency in a second language. Studying a nonnative language gives students the tools to appreciate other cultures. It enables students to recognize how languages work and to gain a more thoughtful understanding of their native language: by pursuing a second language, students learn how to use their first language with greater precision and purpose. In addition, knowledge of a second language serves students well in the interconnected world:  a second language opens the door to job opportunities in the global economy and makes more media accessible, enriching public discussion of current issues. Finally, language knowledge is critical to humanistic inquiry into the cultures and histories of the world.</p> 

<p>The Modern Language Association has supported the teaching and study of languages for more than a century. The MLA’s 2007 report <i>Foreign Languages and Higher Education</i> called for a transformation of university language curricula. In 2009, the MLA issued a survey report on language enrollment, documenting continued increase in student enrollments in college language courses and testifying to strong student interest in all the top ten languages studied in the United States.</p> 

<p>Yet despite student demand for language courses and public recognition of the opportunities of globalization, many college language programs have been reduced, closed, or threatened with closure. These actions deny students critical learning opportunities and impoverish their education. Preventing students from participating in college-level language learning does them a profound disservice, diminishes our cultural capacities, and isolates the American public from the conversations of the rest of the world.</p>

<p>The MLA calls for the development of programs to provide every American college graduate with advanced fluency in a nonnative language. American monolingualism is an impediment to effective participation in a multilingual world. More than 80% of Americans are monolingual, while 50% of Europeans over the age of fifteen can carry on a conversation in a second language. The European Union has set the goal of having all students learn two nonnative languages. Other advanced industrial countries, such as Canada, have been able to provide widespread education in more than one language. Enabling all students in the United States to achieve advanced fluency in a second language is a realistic goal, but it will require building strong language programs, beginning in the elementary schools and continuing with higher level learning opportunities in college.</p> 

<p>The MLA is prepared to consult with colleges and universities on strategies to strengthen their language programs. We call on higher education leaders to demonstrate creativity in envisioning better language programs that reach ever more students. Instead of shutting language programs, let us keep the door of learning open to the languages and cultures of the world.</p>

<h2>Endorsements</h2>
<p>The organizations below have endorsed the MLA’s statement or issued similar statements on the importance of language learning.
</p>
<a href="http://www.asanet.org/press/asa_emphasizes_importance_of_teaching_foreign_languages.cfm" target="blank">American Sociological Association</a>
<br /><br />

<a href="http://www.theasa.net/from_the_editors/item/the_importance_of_language_study1/" target="blank">American Studies Association</a>
<br /><br />

<a href="http://www.asian-studies.org/news/learning-another-language.htm" target="blank">Association for Asian Studies</a>
<br /><br />

<a href="http://www.hssonline.org/publications/Newsletter2012/January-languages.html"target="blank">History of Science Society</a>
<br /><br />

<a href="/lasa_statement_learning">Latin American Studies Association</a>
<br /><br />

<a href="http://www.lsadc.org/info/lsa-res.cfm" target="blank">Linguistic Society of America</a>
<br /><br />

Medieval Academy of America
<br /><br />

Middle East Studies Association
<br /><br />

<a href="http://www.ncte.org/library/NCTEFiles/Governance/GilyardMLALtr.pdf" target="blank">National Council of Teachers of English</a>
<br /><br />

<a href="http://associationdatabase.com/aws/RSA/pt/sd/news_article/54319/_PARENT/layout_details/false" target="blank">Rhetoric Society of America</a>
