<h1>Letter to the New York Public Library President</h1>
<i>At its May 2012 meeting, the Executive Council approved the following open letter to the president of the New York Public Library.</i>

Dear Dr. Marx,

The Modern Language Association, representing nearly 30,000 scholars of language and literature, wishes to express its concern about proposed renovations to the New York Public Library. The Central Library Plan has far-reaching implications not only for the mission and functions of the main 42nd Street building but for the New York Public Library system as a whole—including the branch libraries that are so critical to the intellectual life of the New York metropolitan area. The New York Public Library is one of the world’s great research institutions, and our members, particularly independent scholars who do not have the benefit of university affiliation for access to research libraries, have an important stake in maintaining and enhancing the library’s ability to serve  the research needs of as many people as possible. We therefore urge you to ensure that the renovations reinforce the library’s critical research mission.

Sincerely,

<img src="/IMAGES/berube_sig.gif" width=188 height=45 border=0 alt="">

Michael Bérubé
President, Modern Language Association of America
