<h1>Opposition to State Interference in College Curricula</h1>
<i>The Executive Council approved the following statement in August 2013.</i>
<p>The recently released e-mail messages by Purdue University President Mitchell E. Daniels, Jr., violate the spirit of teachers’ academic freedom to select their reading assignments. The e-mail messages, written in 2010, during Daniels’s term as Indiana governor, condemn the use of Howard Zinn’s history textbook <i>A People’s History of the United States</i> in courses at Indiana University. The MLA joins the <a href="http://blog.historians.org/2013/07/aha-statement-on-academic-freedom-and-the-indiana-governor/" target="_other">American Historical Association</a> and the <a href="http://www.oah.org/news/20130725_daniels.html#sthash.n12wWy4o.dpuf" target="_other">Organization of American Historians</a> in their objection to any state official’s interference in college curricula and course reading assignments and in their restatement of the principle that free inquiry is the cornerstone of democratic education.</p>
