<h1>Statement on Student Debt</h1>
<i>The Executive Council approved the following statement at its October 2011 meeting.</i>
<p>Public attention has been directed recently to the educational debt students accumulate in the course of undergraduate, as well as graduate, study. A major contributing factor has been the increasing portion of educational costs students must bear in the form of loans. To reduce debt burdens in the future, we call on Congress, state legislatures, and institutions of higher education to calibrate educational costs and student aid in ways that will keep student debt within strict limits. We also call on them to hold in check tuition increases, which often far outpace inflation, and to ensure that degree programs allow for timely completion.</p> 
