<h1>MLA Statement on Language Learning and United States National Policy</h1>
<i>The Executive Council approved the following statement at its May 2012 meeting.</i>

The MLA regards the learning of languages other than English as vital to an understanding of the world; such learning serves as a portal to the literatures, cultures, historical perspectives, and human experiences that constitute the human record. Pragmatically, we believe in the value of becoming part of a global conversation in which knowledge of English is often not enough, and the security and future of our country depend on accurately understanding other cultures through their linguistic and cultural practices.

We believe this view should be uncontroversial; anyone interested in the long-term vitality and security of the United States should recognize that it will be detrimental for Americans to remain overwhelmingly monolingual and ill informed about other parts of this increasingly interdependent world. We are therefore deeply alarmed by the drastic and disproportionate budget cuts in recent years to programs that fund advanced language study. We believe that advanced language study is important for the same reasons many policy makers, advisers, and elected officials do: Americans need to be literate about the languages and cultures of the United States’ major trading partners, and Americans need to be literate in the so-called strategic languages important to national security. But we note that national policy can be and has been considered in more expansive terms: the Fulbright International Education Exchange Program was created in 1946 explicitly to “increase mutual understanding between the people of the United States and the people of other countries,” and since then 310,000 Fulbright scholars have served as unofficial American ambassadors, practicing person-to-person diplomacy around the globe.

We also believe that language learning should be supported for additional reasons: because there is a wealth of heritage languages spoken in American families and communities, because one learns more about one’s native language in the course of learning a foreign language, and because recent research suggests that language learning enhances critical brain functions throughout an individual’s life. For all these reasons, the MLA views the study of languages and literatures as central to American education at every level.
