<h1>Current Editors of New Variorum Edition of Shakespeare Volumes in Progress</h1>

<h2>General Editors</h2>
Richard A. J. Knowles, University of Wisconsin, Madison
Paul Werstine, University of Western Ontario

<h2>Volume Editors</h2>
<i><b>All’s Well That Ends Well</b></i>	
Jay Halio, University of Delaware, Newark. Editor
Melissa Aaron, California State Polytechnic University. Assistant Editor
John A. Quintus. Assistant Editor

<i><b>Coriolanus</b></i>
David George, Urbana University. Editor
Niels Herold, Oakland University. Assistant Editor

<i><b>Cymbeline</b></i>
Maurice Hunt, Baylor University. Editor
Christopher P. Baker, Armstrong Atlantic State University. Assistant Editor
Gabriel Egan, Loughborough University. Assistant Editor
Grace Tiffany, Western Michigan University. Assistant Editor

<i><b>Hamlet</b></i>
Eric Rasmussen, University of Nevada, Reno. Editor
Hardin Aasand, Indiana University–Purdue University. Assistant Editor
Frank N. Clary, St. Michael’s College. Assistant Editor
Marvin W. Hunt, North Carolina State University. Assistant Editor
Laury Magnus, United States Merchant Marine Academy. Assistant Editor

<i><b>Henry V</b></i>
M. J. Kidnie, University of Western Ontario. Editor

<i><b>Julius Caesar</b></i>
M. L. Stapleton, Indiana University–Purdue University. Editor
Sarah K. Scott, Mount St. Mary’s University. Assistant Editor

<i><b>King Lear</b></i>
Richard A. J. Knowles, University of Wisconsin, Madison. Editor
Kevin Donovan, Middle Tennessee State University. Associate Editor
Paula Glatzer, Independent Scholar. Assistant Editor

<i><b>The Merry Wives of Windsor</b></i>
Michael Steppat, Universität Bayreuth. Editor

<i><b>Midsummer Night’s Dream</b></i>
Judith Kennedy, St. Thomas University. Editor
Richard Kennedy, St. Thomas University. Editor
Susan May, Longwood University. Assistant Editor
Roberta Barker, Dalhousie University. Assistant Editor
David Nicol, Dalhousie University. Assistant Editor

<i><b>Othello</b></i>
Joseph Porter, Duke University. Editor
Christopher E. McGee, St. Jerome’s College, University of Waterloo. Editor
Jill Levenson, Trinity College, University of Toronto. Assistant Editor for Stage 	History

<i><b>Poems</b></i>	
Dieter Mehl. Editor
Christa Jansohn, Otto Friedrich Universität, Bamberg. Editor	

<i><b>Romeo and Juliet</b></i>
Paul Werstine, University of Western Ontario. Editor
	
<i><b>The Taming of the Shrew</b></i>
Keir Elam, Istituto di Lingua e Letteratura Inglese, Università degli Studi di Bologna. Editor
Fernando Cioni, Istituto di Lingua e Letteratura Inglese, Università di Firenze. Editor
Antonia Forster. University of Akron. Assistant Editor

<i><b>The Tempest</b></i>	
Andrew Gurr, University of Reading. Editor
Christine Dymkowski, University of London. Assistant Editor
Christopher Wilson, University of Hull. Assistant Editor
Christopher Hardman, University of Reading. Assistant Editor

<i><b>Titus Andronicus</b></i>	
William P. Williams, University of Akron. Editor
Matteo A. Pangallo, Bates College. Assistant Editor

<i><b>Twelfth Night</b></i>
James M. Schiffer, State University of New York, New Paltz. Editor
Walter Cannon, Central College. Assistant Editor
Gayle Gaskill, St. Catherine’s University. Assistant Editor
Duncan Salkeld, University of Chichester. Assistant Editor
Dorothy Boerner, Independent Scholar. Assistant Editor

<i><b>Two Gentlemen of Verona</b></i>
Gabriel Egan, De Montfort University, Editor
Patricia Derrick, University of Pittsburgh, Johnstown. Assistant Editor
Dana E. Aspinall, Assumption College. Assistant Editor
