<h1>Enhanced Online Content for the 2007 Convention</h1>
<h2>Abstracts for Forums and Associated Workshops</h2>
For the first time, papers or abstracts from convention forums and their associated workshop sessions are available on the MLA Web site. From the <a href="/conv_listings_for">Forums and Workshops</a> page, click through to each session to view the available abstracts. Abstracts and papers are presented here in unedited form as the authors submitted them.

<h2>Descriptions of Specialized Workshops</h2>
There will be several special workshops at this year's convention in Chicago. Please click on the links to view time and location information, as well as a short description of each session. "<a href="/conv_listings_detail&prog_id=M024E">Successful Lecturing with a Healthy Voice</a>" will be presented by the past MLA president Sander Gilman and by Marina Gilman. Members of the Council of Editors of Learned Journals have organized a workshop for new journal editors, "<a href="/conv_listings_detail&prog_id=M038B">Inside the Editorial Office</a>." Two grant-funding workshops will also be given, one by the National Endowment for the Humanities (<a href="/conv_listings_detail&prog_id=M024G">session 185A</a>) and the other by the Social Science Research Council (<a href="/conv_listings_detail&prog_id=M024F">session 534</a>). 

<h2>Links to Poster Session Projects</h2>
The Committee on Information Technology and the Ad Hoc Committee on the Structure of the Annual Convention are sponsoring two electronic poster sessions in Chicago, "<a href="/conv_listings_detail&prog_id=M038A">Electronic Literature: Reading, Writing, and Navigating</a>" and "<a href="/conv_listings_detail&amp;prog_id=M022B">Textual Visualization</a>." Click on the session name to see a short description of the meeting and to access live links to the presentations.  
