Friday, 6 January 2012

<b>Seattle Central Library Excursion</b>

The Seattle Public Library has offered MLA attendees a private, architect-led tour of the architecture and history of the Rem Koolhaas–designed Central Library and a private librarian-led tour of the library’s Special Collections. More information about this tour can be found <a href="/cultural_excursions#seattlelib" target="_blank">here</a>. 

8:00 a.m. – Meet at the Seattle Central Library’s event entrance at the corner of 4th Avenue and Madison Street. Enter through the event door, a single door to the left of the main entrance on 4th Avenue

8:00–9:30 a.m.  – Architecture Tour

9:30–10:30 a.m. – Seattle Room and Special Collections Tour

10:30 a.m. – Guests can walk two blocks up Madison Street to 6th Avenue and the Renaissance Seattle for a free shuttle bus to the Washington State Convention Center (WSCC). There is no return shuttle to the WSCC. 

Cost: $30 per person; one registered guest allowed per convention registrant

Cutoff registration date: 1 December 2011

There is a fifteen-person minimum for this event. If fewer than fifteen people register by 1 December, this event will be canceled and all payments refunded.

Preregistration is required; attendance is limited to twenty-five people.

Cancellations received after 1 December will not be refunded.
