<b>Evening at the Marble Palace: Twilight Tour and Reception at the Richard H. Driehaus Musem</b> 

<i>Thursday, 9 January 2014</i>

Excursion participants will enjoy a private tour of one of Chicago’s grandest private homes from the late nineteenth century. Museum guides will talk about the artwork, architecture, and families who lived and entertained there, and the tour will conclude with a cocktail reception in the historic Mahogany Ballroom. The tour will also include access to the special exhibit on Louis Comfort Tiffany, with over sixty pieces on display. More information about this excursion can be found <a href="/cultural_excursions_2014#rhdm" target="_blank">here</a>.

5:45 p.m. – Shuttle bus departs from the Chicago Marriott.

6:00–7:00 p.m. – Twilight guided tour through the house, showcasing selections from the exhibit on Louis Comfort Tiffany and the rooms where the Nickerson family entertained and lived.

7:00–8:00 p.m. – Cocktail reception in the Mahogany Ballroom on the third floor, during which attendees are welcome to revisit the galleries.

The museum is located four blocks from the Chicago Marriott, in close proximity to the CTA Red Line, Michigan Avenue buses, and taxis. There is no shuttle bus transportation back to the hotel.

Cost: $65 per person; up to two paid guests allowed per convention registrant.

<b>Participants must be 21 or older.</b>

Registration deadline: 6 December 2013

There is a twenty-five-person minimum for this event. If fewer than twenty-five people register by 6 December, this event will be canceled and all payments refunded.

Preregistration is required; attendance is limited to fifty people.

<b><i>Cancellations received after 6 December will not be refunded.</i></b>
