Saturday, 7 January 2012

<b>Oyster and Wine Tasting Reception</b>

Local shellfish purveyor Taylor Shellfish Farms has offered MLA attendees a relaxing oyster and wine tasting reception. Chef Becky Selengut will join for a discussion on sustainable-seafood recipes. More information about this excursion can be found <a href="/cultural_excursions#oyster" target="_blank">here</a>.

8:00–10:00 p.m. – Oyster and wine tasting along with discussion

There is no transportation to or from this event, located at 1521 Melrose Avenue, four blocks from the Washington State Convention Center (WSCC).

Cost: $60 per person; one registered guest allowed per convention registrant

Cutoff registration date: 1 December 2011

There is a fifteen-person minimum for this event. If fewer than fifteen people register by 1 December, this event will be canceled and all payments refunded.

Preregistration is required; attendance is limited to twenty-five people. Participants must be 21 or older.

Cancellations received after 1 December will not be refunded.
