Saturday, 7 January 2012

<b>Sustainable-Seafood Cooking Class and Wine Pairing Excursion</b>

Chef Becky Selengut has offered MLA attendees a private group cooking class focusing on sustainable seafood and a wine pairing with sommelier April Pogue focusing on Washington State wines. More information about this excursion can be found <a href="/cultural_excursions#sustainable" target="_blank">here</a>.

2:30 p.m. – Shuttle bus departs from the Washington State Convention Center (WSCC) to PCC Natural Markets in West Seattle

3:00–5:30 p.m. – Cooking class and wine pairing

5:30 p.m. – Explore the market

6:00 p.m. – Shuttle bus departs from PCC Natural Markets to return to the WSCC

Cost: $140 per person; one registered guest allowed per convention registrant

Cutoff registration date: 1 December 2011

There is a ten-person minimum for this event. If fewer than ten people register by 1 December, this event will be canceled and all payments refunded.

Preregistration is required; attendance is limited to fourteen people. Participants must be 21 or older.

Cancellations received after 1 December will not be refunded.
