<b>Isabella Stewart Gardner Museum Tour</b>

<i>Friday, 4 January 2013</i>

The Isabella Stewart Gardner Museum will open its doors to MLA attendees for tours led by museum teachers before the museum opens to the public that day. Tours will focus on historical, architectural, and literary aspects of the museum and its collection. More information about this excursion can be found <a href="/cultural_excursions_2013#isgm" target="_blank">here</a>.

9:10 a.m. – Shuttle bus departs from the John B. Hynes Convention Center (Hynes)

9:30 a.m. – Introduction and overview of the Gardner Museum and its founder, Isabella Stewart Gardner

10:00–11:00 a.m. – Museum teachers will lead small-group tours throughout the museum, including both the historical building and the new wing. 

11:10 a.m. – Shuttle bus departs from the museum to return to the Hynes by 11:30 a.m. Guests are welcome to stay and explore the museum on their own until it closes at 5:00 p.m. Public transportation is available at the nearby Museum of Fine Arts.

Cost: $60 per person; up to two paid guests allowed per convention registrant

Registration deadline: 3 December 2012

There is a thirty-five-person minimum for this event. If fewer than thirty-five people register by 3 December, this event will be canceled and all payments refunded.

Preregistration is required; attendance is limited to fifty people.

Cancellations received after 3 December will not be refunded.
