<b>Brewer’s Tour and Tasting at Goose Island Brewery and Pub</b>

<i>Thursday, 9 January 2014</i>

Explore one of the first craft breweries of the Midwest with a private tour and beer tasting led by Goose Island’s brewers. Beers will be paired with selections from the brewpub’s kitchen. More information about this excursion can be found <a href="/cultural_excursions_2014#gibp">here</a>.

7:00 p.m. – Shuttle bus departs from the Chicago Marriott.

7:30–9:00 p.m. – Brewery tour and beer tasting

10:00 p.m. – Shuttle bus departs from the brewpub to return to the Chicago Marriott by 10:30 p.m. Excursion participants are welcome to stay at the brewpub on their own until it closes at midnight and take taxis or public transportation back to the hotel.

Cost: $50 per person; up to two paid guests allowed per convention registrant.

<b>Participants must be 21 or older.</b>

Registration deadline: 6 December 2013

There is a twenty-five-person minimum for this event. If fewer than twenty-five people register by 6 December, this event will be canceled and all payments refunded.

Preregistration is required; attendance is limited to forty people.

<b><i>Cancellations received after 6 December will not be refunded.</i></b>
