<h1>Members of the Executive Council, 1997–present</h1>

<table>
	<tr>
		<td>*</td> <td>Samer M. Ali, Jan. 2012–Jan. 2016</td>
	</tr>
	<tr>
		<td></td> <td>Carlos J. Alonso, 2007–Jan. 2011</td>
	</tr>
	<tr>
		<td></td> <td>Charles Altieri, 2006–09</td>
	</tr>
	<tr>
		<td>*</td> <td>Barbara K. Altmann, Jan. 2011–Jan. 2015</td>
	</tr>
	<tr>
		<td>*</td> <td>Kwame Anthony Appiah, 2003–06, Jan. 2014–Jan. 2016 (VP), Jan. 2016–Jan. 2017 (P)</td>
	</tr>
	<tr>
		<td></td> <td>Jonathan Arac, 2010–Jan. 2014</td>
	</tr>
	<tr>
		<td></td> <td>Sara Scott Armengot, 2008–Jan. 2012</td>
	</tr>
	
	<tr>
		<td></td> <td>David Bartholomae, 1998–2001</td>
	</tr>
	<tr>
		<td></td> <td>Dorian F. Bell, 2006–09</td>
	</tr>
	<tr>
		<td></td> <td>Russell A. Berman, 2009–Jan. 2011 (VP), Jan. 2011–Jan. 2012 (P)</td>
	</tr>
	<tr>
		<td></td> <td>Michael Bérubé, 2002–05, 2010–Jan. 2012 (VP), Jan. 2012–Jan. 2013 (P)</td>
	</tr>
	
	<tr>
		<td></td> <td>Peter Brooks, 1994–97</td>
	</tr>
		<tr>
		<td></td> <td>Lawrence I. Buell, 2010–Jan. 2014</td>
	</tr>
	<tr>
		<td></td> <td>Judith Butler, 2001–04</td>
	</tr>
	<tr>
		<td>*</td> <td>Debra Ann Castillo, Jan. 2011–Jan. 2015</td>
	</tr>
	<tr>
		<td></td> <td>Rey Chow, 2001–04</td>
	</tr>
	<tr>
		<td></td> <td>Kirsten M. Christensen, 1998–2001</td>
	</tr>
	<tr>
		<td></td> <td>Jennifer Crewe, 2009–Jan. 2013</td>
	</tr>
<tr>
<td>*</td><td>Brian Croxall, Jan. 2014–Jan. 2018</td>	
</tr>
<tr>
		<td></td> <td>Reed Way Dasenbrock, 2000–03</td>
	</tr>
<tr>
<td>*</td><td>Alicia M. de la Torre Falzon, Jan. 2013–Jan. 2017</td>	
</tr>
<tr>
<tr>
<td>*</td><td>Gaurav G. Desai, Jan. 2014–Jan. 2018</td>	
</tr>
<tr>
	<tr>
		<td></td> <td>Heather Dubrow, 1996–99</td>
	</tr>
	<tr>
		<td>*</td> <td>Rosemary G. Feal, 2002– (Exec. Dir.)</td>
	</tr>
	<tr>
		<td>*</td> <td>Margaret W. Ferguson, 1997–2000, Jan. 2012–Jan. 2014 (VP), Jan. 2014–Jan. 2015 (P)</td>
	</tr>
	<tr>
		<td></td> <td>Frances Smith Foster, 1995–98</td>
	</tr>
	<tr>
		<td></td> <td>Phyllis Franklin, 1985–2002 (Exec. Dir.)</td>
	</tr>
	<tr>
		<td></td> <td>Marilyn Gaddis Rose, 2004–07</td>
	</tr>
	<tr>
		<td></td> <td>Anne Ruggles Gere, 2006–09</td>
	</tr>
	<tr>
		<td></td> <td>Gerald Graff, 1990–93, 2006–07 (VP), 2008 (P)</td>
	</tr>
	<tr>
		<td></td> <td>Stephen Greenblatt, 1991–94, 2000–01 (VP), 2002 (P)</td>
	</tr>
	<tr>
		<td>*</td> <td>Roland Greene, 1999–2002, Jan. 2013–Jan. 2015 (VP), Jan. 2015–Jan. 2016 (P)</td>
	</tr>
	<tr>
		<td></td> <td>John Guillory, 2004–07</td>
	</tr>

	<tr>
		<td>*</td> <td>Donald E. Hall, Jan. 2013–Jan. 2017</td>
	</tr>
	<tr>
		<td></td> <td>Jane Harper, 2007–Jan. 2011</td>
	</tr>
	<tr>
		<td></td> <td>Dorothea Heitsch, 2010–Jan. 2014</td>
	</tr>
	<tr>
		<td>*</td> <td>María Herrera-Sobek, Jan. 2011–Jan. 2015</td>
	</tr>
<tr>
<td>*</td><td>Margaret R. Higonnet, Jan. 2014–Jan. 2018</td>	
</tr>
<tr>
	<tr>
		<td></td> <td>Marianne Hirsch, 1992–95, Jan. 2011–Jan. 2013 (VP), Jan. 2013–Jan. 2014 (P)</td>
	</tr>
	<tr>
		<td></td> <td>Peter Uwe Hohendahl, 1995–98</td>
	</tr>
	<tr>
		<td></td> <td>Michael Holquist, 1991–94, 2005–06 (VP), 2007 (P)</td>
	</tr>
	<tr>
		<td></td> <td>Linda Hutcheon, 1993–96, 1998–99 (VP), 2000 (P)</td>
	</tr>
	<tr>
		<td></td> <td>Francis Abiola Irele, 2007–Jan. 2011</td>
	</tr>
	<tr>
		<td>*</td> <td>Lanisa Kitchiner, Jan. 2012–Jan. 2016</td>
	</tr>
	<tr>
		<td>*</td> <td>Lutz Koepnick, Jan. 2012–Jan. 2016</td>
	</tr>
	<tr>
		<td>*</td> <td>Paula M. Krebs, Jan. 2013–Jan. 2017</td>
	</tr>
	<tr>
		<td></td> <td>Mary N. Layoun, 2005–08</td>
	</tr>
	<tr>
		<td></td> <td>George Levine, 2008–Jan. 2012</td>
	</tr>
	<tr>
		<td></td> <td>Herbert Lindenberger, 1995–96 (VP), 1997 (P)</td>
	</tr>
	<tr>
		<td></td> <td>Françoise Lionnet, 1999–2002</td>
	</tr>
	<tr>
		<td></td> <td>Andrea A. Lunsford, 1994–97</td>
	</tr>
	<tr>
		<td></td> <td>Yolanda Martínez–San Miguel, 2004–07</td>
	</tr>
	<tr>
		<td></td> <td>Nancy K. Miller, 2002–05</td>
	</tr>
	<tr>
		<td></td> <td>Sylvia Molloy, 1994–97, 1999–2000 (VP), 2001 (P)</td>
	</tr>
	<tr>
		<td></td> <td>Elisabeth Mudimbe-Boyi, 2003–06</td>
	</tr>
	<tr>
		<td></td> <td>Cary Nelson, 1999–2002</td>
	</tr>
	<tr>
		<td></td> <td>Susan Noakes, 1994–97</td>
	</tr>
	<tr>
		<td></td> <td>Richard M. Ohmann, 2010–Jan. 2014</td>
	</tr><tr>
		<td></td> <td>Marjorie Perloff, 2004–05 (VP), 2006 (P)</td>
	</tr>
	<tr>
		<td></td> <td>Catherine Porter, 1996–99, 2007–08 (VP), 2009 (P)</td>
	</tr>
	<tr>
		<td></td> <td>Mary Louise Pratt, 1985–88, 2001–02 (VP), 2003 (P)</td>
	</tr>
	<tr>
		<td></td> <td>Paula Rabinowitz, 2006–09</td>
	</tr>
	<tr>
		<td></td> <td>Tey Diana Rebolledo, 2001–04</td>
	</tr>
	<tr>
		<td></td> <td>A. LaVonne Brown Ruoff, 2002–05</td>
	</tr>
	<tr>
		<td></td> <td>Karin C. Ryding, 2009–Jan. 2013</td>
	</tr>
	<tr>
		<td></td> <td>Edward W. Said, 1997–98 (VP), 1999 (P)</td>
	</tr>
	<tr>
		<td></td> <td>Rosaura Sánchez, 2003–04</td>
	</tr>
	<tr>
		<td></td> <td>Amada Sandoval, 2002–05</td>
	</tr>
	<tr>
		<td></td> <td>Robert Scholes, 1997–2000, 2002–03 (VP), 2004 (P)</td>
	</tr>
	<tr>
		<td></td> <td>Rosemarie Scullion, 2000–03</td>
	</tr>
	<tr>
		<td></td> <td>Eve Kosofsky Sedgwick, 1996–98</td>
	</tr>
<tr>
<td>*</td><td>Tracy Denean Sharpley-Whiting, Jan. 2014–Jan. 2018</td>	
</tr>
<tr>
	<tr>
		<td></td> <td>Elaine Showalter, 1989–92, 1996–97 (VP), 1998 (P)</td>
	</tr>
	<tr>
		<td></td> <td>Nicolas Shumway, 2005–06</td>
	</tr>
	<tr>
		<td></td> <td>Sidonie Smith, 2000–03, 2008–09 (VP), 2010–Jan. 2011 (P)</td>
	</tr>
	<tr>
		<td></td> <td>Hortense J. Spillers, 2005–08</td>
	</tr>
	<tr>
		<td></td> <td>Domna C. Stanton, 1989–92, 2003–04 (VP), 2005 (P)</td>
	</tr>
	<tr>
		<td></td> <td>Guy Stern, 2004–07</td>
	</tr>
	<tr>
		<td>*</td> <td>Mecca Jamilah Sullivan, Jan. 2012–Jan. 2016</td>
	</tr>
	<tr>
		<td></td> <td>Eric J. Sundquist, 1996–99</td>
	</tr>
	<tr>
		<td></td> <td>Lynne Tatlock, 2008–Jan. 2012</td>
	</tr>
	<tr>
		<td></td> <td>Frank Trommler, 1995–98</td>
	</tr>
	<tr>
		<td></td> <td>Katie Trumpener, 2000–03</td>
	</tr>
	<tr>
		<td></td> <td>Priscilla Wald, 2005–08</td>
	</tr>
	<tr>
		<td></td> <td>Alexandra K. Wettlaufer, 2008–Jan. 2012</td>
	</tr>
	<tr>
		<td></td> <td>Virginia Wright Wexman, 1998–2001</td>
	</tr>
	<tr>
		<td></td> <td>Kathleen Woodward, 2009–Jan. 2013</td>
	</tr>
	<tr>
		<td></td> <td>Anthony C. Yu, 1998–2001</td>
	</tr>
	<tr>
		<td></td> <td>George Yúdice, 1997–2000</td>
	</tr>
</table>

<p>*Current members</p>
