<h1>Executive Council</h1>
<h2>Function and Composition of the Executive Council</h2>
The MLA Executive Council has fiduciary and administrative responsibility for the association. It has eighteen members, as follows: the officers of the association (a president and two vice presidents), who are elected by the MLA membership; the executive director (without vote), who is appointed by the council; twelve at-large members, who are also elected by the MLA membership; and two members from the Delegate Assembly, who are elected by the assembly.  Click <a href="/resources/committees/comm_gov/comm_ec">here</a> to see the current listing of the officers and other members of the Executive Council.

The elected officers of the association serve for three years: one year as second vice president, one year as first vice president, and one year as president. The officers are ex officio voting members of the council. The responsibilities of the officers are described in <a href="/mla_constitution#a5">article 5</a> of the MLA constitution. In addition to the duties listed in the constitution, the president delivers the presidential address at the annual convention, and the first vice president presents the association's annual prizes. The president may also organize a forum at the convention and publish a column in the <I>MLA Newsletter</i>.

The other elected members of the council serve terms of four years. <a href="/mla_constitution#a7">Article 7</a> enumerates the specific responsibilities of the Executive Council.

<h2>Placing an Item on the Agenda of the Executive Council</h2>
Members who wish to raise issues for consideration by the Executive Council should write to the executive director or the president. The council meets three times a year (in February, May, and October).

<h2>Election Information</h2>
The election of the second vice president is described in <a href="/mla_constitution#a6">article 6</a> of the MLA constitution. <a href="/mla_constitution#a8">Article 8</a> describes the election of Executive Council members. The Nominating Committee is charged with nominating the candidates who stand for election to the second vice presidency; it also makes nominations for the at-large seats on the Executive Council. Nominations may also be made by petition (see <a href="/mla_constitution#a6D">art. 6.D–E</a> for information on second vice president nomination petitions and <a href="/mla_constitution#a8A1">art. 8.A.1–3</a> for information on Executive Council nomination petitions). Carol Zuses, coordinator of governance, can provide further information (<a href="mailto:governance@mla.org">governance@mla.org</a>).

<h2>Suggesting Candidates for Second Vice President and the Executive Council</h2>
As noted above, the Nominating Committee is responsible for making nominations for second vice president and the Executive Council.  The members of the committee welcome suggestions of nominees from the membership. Those suggesting nominees for second vice president should first consult <a href="/mla_constitution#a6D">article 6.D–E</a> of the MLA constitution for relevant candidate requirements; candidates suggested for the Executive Council must meet the requirements set out in <a href="/mla_constitution#a8A">article 8.A</a>. Any suggestions that the Nominating Committee is not able to act on in one year will be kept on file for the following year’s election cycle.

Suggestions may be sent at any time; since the election cycle begins in January of each year, however, it is best to forward suggestions in the fall of the preceding year. All suggestions should be sent to Carol Zuses, coordinator of governance, either by e-mail or regular mail. The following information must be included: name of the member suggested, affiliation, department, rank, field(s) of specialization, specification of the office, and a brief statement of the person’s qualifications.
