<h1>Executive Council Response to Proposed Federal Regulations on Accreditation (2007)</h1>
<i>At its May 2007 meeting, the Executive Council discussed the US Department of Education's efforts to revise the federal regulations that govern the system of accreditation in higher education.  Under the proposed regulations accrediting agencies would have increased oversight of assessment (including outcomes assessment and data collection). The council decided to alert MLA members to the controversy surrounding these efforts by sending them the following e-mail message:</i> 

Dear Colleagues:

The Executive Council of the Modern Language Association views with concern the recent controversy between the US Department of Education and accrediting agencies described in a document prepared by the American Council on Education (ACE), the Association of American Universities (AAU), the American Association of Community Colleges (AACC), the American Association of State Colleges and Universities (AASCU), the National Association of Independent Colleges and Universities (NAICU), and the National Association of State Universities and Land Grant Colleges (NASULGC). The document may be accessed at <a href="http://www.acenet.edu/AM/Template.cfm?Section=LettersGovt&CONTENTID=22122&TEMPLATE=/CM/ContentDisplay.cfm" target="_blank">http://www.acenet.edu/AM/Template.cfm?Section=LettersGovt&CONTENTID=22122&TEMPLATE=/CM/ContentDisplay.cfm</a>.

We are circulating this document, which contains links to other sources, so that you can become familiar with the situation and consider participating in the comment process from June to November. Another document that may be of interest to you is the statement that the council prepared in response to the report of the Commission on the Future of Higher Education, which was submitted to Secretary of Education Margaret Spellings in March 2007. The council’s statement can be found at the MLA Web site (<a href="http://www.mla.org/comments_spellingsreport">http://www.mla.org/comments_spellingsreport</a>).

On behalf of the Executive Council, I thank you for your attention to this matter.


Cordially,
<img src="/IMAGES/rosemarysig.gif" width="300" height="56" border="0" align="top" hspace=" 0" vspace="1" alt="sig">
Rosemary G. Feal
Executive Director
