<H1>2009 Exhibitor List </h1>
<h2>As of 13 November 2009</h2>
<P>


<TABLE>


<TR ALIGN=TOP><TD><B>Exhibitor</TD><TD><B>Booth</B></TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.uapress.ua.edu/" target="_blank">
University of Alabama Press
</A>
</TD><TD>412</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.atanet.org/" target="_blank">
American Translators Association
</A>
</TD><TD>800</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.ArcManor.com/" target="_blank">
Arc Manor
</A>
</TD><TD>817</TD></TR>

<TR VALIGN="top"><TD>
University of Arizona Press
</TD><TD>606, 608</TD></TR>

<TR VALIGN="top"><TD>
University of Arkansas Press
</TD><TD>606, 608</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.artstor.org/" target="_blank">
ARTstor
</A>
</TD><TD>809</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.ashgate.com/" target="_blank">
Ashgate Publishing Company
</A>
</TD><TD>717</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.aupresses.com/" target="_blank">
Associated University Presses
</A>
</TD><TD>411</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://aaupnet.org/" target="_blank">
Association of American University Presses
</A>
</TD><TD>606, 608</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.aynrand.org/" target="_blank">
Ayn Rand Institute
</A>
</TD><TD>813</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.bedfordstmartins.com/" target="_blank">
Bedford / St. Martin's
</A>
</TD><TD>104, 105, 106</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.asu.edu/brp" target="_blank">Bilingual Review Press</A>
</TD><TD>1013</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.boydellandbrewer.com/" target="_blank">
Boydell and Brewer, Inc.
</A>
</TD><TD>604</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.bucknell.edu/UniversityPress/" target="_blank">
Bucknell University Press
</A>
</TD><TD>411</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.ucpress.edu/" target="_blank">
University of California Press
</A>
</TD><TD>605</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.cambridge.org/us/" target="_blank">
Cambridge University Press
</A>
</TD><TD>510, 512, 514</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://cuapress.cua.edu/" target="_blank">
Catholic University of America Press
</A>
</TD><TD>415</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.press.uchicago.edu/" target="_blank">
University of Chicago Press
</A>
</TD><TD>611, 613</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.chronick.com/" target="_blank">
<i>Chronicle of Higher Education</i>
</A>
</TD><TD>719</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.cup.columbia.edu" target="_blank">Columbia University Press</A>
</TD><TD>515, 517, 519</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.cbsd.com/" target="_blank">
Consortium Book Sales and Distribution
</A>
</TD><TD>319</TD></TR>

<TR VALIGN="top"><TD>
Continuum International Publishing 
</TD><TD>314, 316</TD></TR>

<TR VALIGN="top"><TD>
<A HREF=
"http://www.cornellpress.cornell.edu/" target="_blank">
Cornell University Press
</A>
</TD><TD>1014</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.cies.org/" target="_blank">
Council for International Exchange of Scholars
</A>
</TD><TD>1010</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.celj.org/" target="_blank">
Council of Editors of Learned Journals
</A>
</TD><TD>819</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.dalkeyarchive.com/" target="_blank">
Dalkey Archive Press
</A>
</TD><TD>710</TD></TR>

<TR VALIGN="top"><TD>
University of Delaware Press
</TD><TD>411</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.dukeupress.edu/" target="_blank">
Duke University Press
</A>
</TD><TD>615, 617, 619</TD></TR>

<TR VALIGN="top"><TD>
Duquesne University Press
</TD><TD>606, 608</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.SpainEdu.org/" target="_blank">
Embassy of Spain–Trade Commission Miami
</A>
</TD><TD>1007</TD></TR>

<TR VALIGN="top"><TD>
Fairleigh Dickinson University Press
</TD><TD>411</TD></TR> 

<TR VALIGN="top"><TD>
<A HREF="http://www.feministpress.org/" target="_blank">
Feminist Press at CUNY
</A>
</TD><TD>516</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.fordhampress.com/" target="_blank">
Fordham University Press
</A>
</TD><TD>610</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.gale.com/" target="_blank">
Gale Cengage Learning
</A>
</TD><TD>715</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.ugapress.org/" target="_blank">
University of Georgia Press
</A>
</TD><TD>1011</TD></TR>

<TR VALIGN="top"><TD>
Grove/Atlantic, Inc.
</TD><TD>315, 317</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.hackettpublishing.com/" target="_blank">
Hackett Publishing Co.
</A>
</TD><TD>308</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.hup.harvard.edu/" target="_blank">
Harvard University Press
</A>
</TD><TD>405, 407</TD></TR>

<TR VALIGN="top"><TD>
University of Illinois Press
</TD><TD>606, 608</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.ipgbook.com" target="_blank">Independent Publishers Group</A>
</TD><TD>413</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.insidehighered.com" target="_blank"><i>Inside Higher Ed</i></A>
</TD><TD>311</TD></TR>

<TR VALIGN="top"><TD>
<a HREF="http://www.interfolio.com/" target="_blank">
Interfolio
</A>
</TD><TD>811</TD></TR>

<TR VALIGN="top"><TD>
<A HREF=
"http://www.internationalpubmarket.com/" target="_blank">
International Publishers Marketing
</A>
</TD><TD>1006</TD></TR>

<TR VALIGN="top"><TD>
University of Iowa Press
</TD><TD>606, 608</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.press.jhu.edu" target="_blank">Johns Hopkins University Press</A>
</TD><TD>816, 818</TD></TR>

<TR VALIGN="top"><TD>
Kent State University Press
</TD><TD>606, 608</TD></TR>

<TR VALIGN="top"><TD>
Latin American Literary Review Press
</TD><TD>1013</TD></TR>

<TR VALIGN="top"><TD>
<A HREF=
"http://www.learnitaly.us/" target="_blanks">
Learn Italy
</A>
</TD><TD>1005</TD></TR>

<TR VALIGN="top"><TD>
Lehigh University Press
</TD><TD>411</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.droz.org/" target="_blank">
Librairie Droz
</A>
</TD><TD>712</TD></TR>

<TR VALIGN="top"><TD>
Louisiana State University Press
</TD><TD>1011</TD></TR>

<TR VALIGN="top"><TD>
<a http://www.maney.co.uk/ target="_blank">
Maney Publishing
</A>
</TD><TD>807</TD></TR>

<TR VALIGN="top"><TD>
University of Massachusetts Press
</TD><TD>606, 608</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.mcfarlandpub.com/" target="_blank">
McFarland Publishers
</A>
</TD><TD>713</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.msupress.msu.edu/" target="_blank">
Michigan State University Press
</A>
</TD><TD>1009</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.press.umich.edu/" target="_blank">
University of Michigan Press
</A>
</TD><TD>417</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.upress.umn.edu/" target="_blank">
University of Minnesota Press
</A>
</TD><TD>612, 614</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.upress.state.ms.us" target="_blank">University Press of Mississippi</A>
</TD><TD>410</TD></TR>

<TR VALIGN="top"><TD>
University of Missouri Press
</TD><TD>606, 608</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.mla.org" target="_blank">
Modern Language Association
</A>
</TD><TD>504</TD></TR>

<TR VALIGN="top"><TD>
<A HREF=
"http://www.nationalherc.org/" target="_blank">
National Higher Education Recruitment Consortium
</A>
</TD><TD>1015</TD></TR>

<TR VALIGN="top"><TD>
University of Nebraska Press
</TD><TD>815</TD></TR>

<TR VALIGN="top"><TD>
University of Nevada Press
</TD><TD>606, 608</TD></TR>

<TR VALIGN="top"><TD>
New Directions Publishing Group
</TD><TD>710</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.nyrb.com" target="_blank">
New York Review Books
</A>
</TD><TD>313</TD></TR>

<TR VALIGN="top"><TD>
<i>New York Review of Books</i>
</TD><TD>313</TD></TR>

<TR VALIGN="top"><TD>
<a HREF="http://www.ontheavenuemarketing.com/" target="_blank">
<i>New York Times</i>
</A>
</TD><TD>810</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.uncpress.unc.edu" target="_blank">University of North Carolina Press</A>
</TD><TD>409</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://nupress.northwestern.edu/" target="_blank">
Northwestern University Press
</A>
</TD><TD>518</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.undpress.nd.edu/" target="_blank">
University of Notre Dame Press
</A>
</TD><TD>1008</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.nyupress.org/" target="_blank">
NYU Press
</A>
</TD><TD>607, 609</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.ohiostatepress.org/" target="_blank">
Ohio State University Press
</A>
</TD><TD>714, 716, 718</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.oup.com/us/" target="_blank">
Oxford University Press
</A>
</TD><TD>406, 408</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.palgrave-usa.com/" target="_blank">
Palgrave Macmillan
</A>
</TD><TD>707, 709, 711</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.pearsonhighered.com/" target="_blank">
Pearson
</A>
</TD><TD>802, 804</TD></TR>

<TR VALIGN="top"><TD>
Pearson Custom Publishing
</TD><TD>806</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://us.penguingroup.com/" target="_blank">
Penguin Group (USA)
</A>
</TD><TD>701, 703, 705</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.psupress.org/" target="_blank">
Penn State University Press 
</A>
</TD><TD>415</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.pennpress.org/" target="_blank">
University of Pennsylvania Press
</A>
</TD><TD>414</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.polity.co.uk/" target="_blank">
Polity
</A>
</TD><TD>805</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://press.princeton.edu/" target="_blank">
Princeton University Press
</A>
</TD><TD>404</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://muse.jhu.edu" target="_blank">
Project MUSE
</A>
</TD><TD>814</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.proquest.com/" target="_blank">
ProQuest
</A>
</TD><TD>808</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.pgw.com/" target="_blank">Publishers Group West</A>
</TD><TD>315, 317</TD></TR>

<TR VALIGN="top"><TD>
Purdue University Press
</TD><TD>606, 608</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.Randomhouse.com" target="_blank">
Random House, Inc.
</A>
</TD><TD>100, 101, 102, 103</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.rodopi.nl/" target="_blank">
Rodopi
</A>
</TD><TD>306</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.routledge.com" target="_blank">
Routledge
</A>
</TD><TD>305, 307</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.routledge.com" target="_blank">
Routledge Journals
</A>
</TD><TD>309</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.scottishwriting.org.uk/">
Scottish Writing Exhibition
</A>
</TD><TD>310, 312</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.spdbooks.org/" target="_blank">
Small Press Distribution
</A>
</TD><TD>318</TD></TR>

<TR VALIGN="top"><TD>
Southern Illinois University Press
</TD><TD>606, 608</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.sup.org/" target="_blank">
Stanford University Press
</A>
</TD><TD>511, 513</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.sunypress.edu/" target="_blank">
SUNY Press
</A>
</TD><TD>812</TD></TR>

<TR VALIGN="top"><TD>
Susquehanna University Press
</TD><TD>411</TD></TR>

<TR VALIGN="top"><TD>
Syracuse University Press
</TD><TD>606, 608</TD></TR>

<TR VALIGN="top"><TD>
Temple University Press
</TD><TD>410</TD></TR>

<TR VALIGN="top"><TD>
University of Texas Press
</TD><TD>606, 608</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.ttup.ttu.edu/" target="_blank">
Texas Tech University Press
</A>
</TD><TD>416</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.tikkun.org/daily" target="_blank"><i>Tikkun Magazine</i></A>
</TD><TD>1012</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.utppublishing.com/" target="_blank">
University of Toronto Press
</A>
</TD><TD>419</TD></TR>

<TR VALIGN="top"><TD>
University of Toronto Press – Journals Division  
</TD><TD>606, 608</TD></TR>

<TR VALIGN="top"><TD>
Translation and Interpreting Summit
</TD><TD>800</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.upress.virginia.edu/" target="_blank">
University of Virginia Press
</A>
</TD><TD>616, 618</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.cengage.com/" target="_blank">
Wadsworth Cengage Learning
</A>
</TD><TD>304</TD></TR>

<TR VALIGN="top"><TD>
Wayne State University Press
</TD><TD>606, 608</TD></TR>

<TR VALIGN="top"><TD>
Wesleyan University Press
</TD><TD>606, 608</TD></TR>

<TR VALIGN="top"><TD>
West Virginia University Press
</TD><TD>606, 608</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.wiley.com/" target="_blank">
Wiley-Blackwell
</A>
</TD><TD>801, 803</TD></TR>

<TR VALIGN="top"><TD>
University of Wisconsin Press
</TD><TD>606, 608</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.wwnorton.com/" target="_blank">W. W. Norton, Inc.</A>
</TD><TD>704, 706, 708, 710</TD></TR>

<TR VALIGN="top"><TD>
<A HREF="http://www.yalebooks.com" target="_blank">
Yale University Press
</A>
</TD><TD>418</TD></TR>


</TABLE>
