<h1><I>MLA Newsletter</i><BR>
Fall 2001</h1>
<h2>In This Issue</h2>
<table width="95%" border="0" align="left">
<tr align="left" valign="top"> 
<td width="6%">1</td>
<td width="94%"><b><i>Conference on the relation between
English and foreign languages in the academy</i></b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">3</td>
<td width="94%"><i><B>President's Column</B></i><BR>
<I>Sylvia Molloy</i><BR>
Culture shock</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">4</td>
<td width="94%"><i><B>Editor's Column</B></i><BR>
<I>Phyllis Franklin</i><BR>
Organizing the MLA convention</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">14</td>
<td width="94%"><i><B>Guidelines for Good Practice, by the Committee on the Literatures of People of Color in the United States and Canada</B></i></td>
</tr>
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2><b>BIBLIOGRAPHY</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">13</td>
<td width="94%">Field bibliographers invited</td></tr
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2><b>BOOK NEWS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">17</td>
<td width="94%">New MLA title and revised software
program published</td></tr>
<tr align="left" valign="top">
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>COMMITTEES</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">9</td>
<td width="94%">MLA committee meetings, October 2001-May 2002</td>
</tr>
<tr align="left" valign="top">
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>CONVENTION</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">1</td>
<td width="94%">2001 MLA Annual Convention in
New Orleans</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">10</td>
<td width="94%">2001 convention invitation</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">10</td>
<td width="94%">Job clinic on business, government, and
not-for-profit careers</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">10</td>
<td width="94%">Airline raffle</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">10</td>
<td width="94%">Using the MLA Job Information Center</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">11</td>
<td width="94%">Accommodations and services for persons
with disabilities</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">11</td>
<td width="94%">Travel assistance for advanced
graduate students</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">12</td>
<td width="94%">ADE- and ADFL-sponsored sessions for job
candidates and interviewers</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">12</td>
<td width="94%">Child care arrangements</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">12</td>
<td width="94%">Meeting times for allied organizations</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">13</td>
<td width="94%">Calls for papers for 2002 convention in
New York </td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>GOVERNANCE</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">6</td>
<td width="94%">Membership ratification vote</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">6</td>
<td width="94%">2001 election ballot is in the mail</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">6</td>
<td width="94%">Proposed amendment to the
MLA constitution</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%">Nominations for 2002 division executive
committee elections</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%">Withdrawal of constitutional amendment</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%">Executive Council meeting highlights</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>GRANTS AND PRIZES</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%">Phyllis Franklin Award for Public Advocacy of
the Humanities</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">16</td>
<td width="94%">J. Hillis Miller to receive the ADE Francis
Andrew March Award</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">17</td>
<td width="94%">Competition open for MLA book awards</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">18</td>
<td width="94%">Seiichi Makino to receive the ADFL Award for
Distinguished Service in the Profession</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b><i>PMLA</i></b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">15</td>
<td width="94%"><i>PMLA</i> special topic: Science Fiction and Literary Studies: The Next Millennium</td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%"><b>MLA WEB SITE NEWS</b></td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b><i>Other News and Announcements</i></b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%">MLA members may authorize use of
e-mail addresses</td></tr>
<tr align="left" valign="top"> 
<td width="6%">3</td>
<td width="94%">Letters onmembers' teaching awards sought</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">5</td>
<td width="94%">A request for information about the MLA
staffing survey</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">11</td>
<td width="94%">MLA policy on membership
mailing-list rentals</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">12</td>
<td width="94%">MLA fund subsidizes dues</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">19</td>
<td width="94%">Classified advertisements</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">19</td>
<td width="94%">Fellowships and grants deadlines</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">19</td>
<td width="94%">Modifications in dues structure</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">20</td>
<td width="94%">Upcoming MLA deadlines</td>
</tr></table>
