<h1><I>MLA Newsletter</i><BR>
Fall 2006</h1>
<h2>In This Issue</h2>
<table width="95%" border="0" align="left">
<tr align="left" valign="top"> 
<td width="6%">3</td>
<td width="94%"><i><B>President's Column</B></i><BR>
<I>Marjorie Perloff</i><BR>
The poetry-sound initiative: A convention preview</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">5</td>
<td width="94%"><i><B>Editor's Column</B></i><BR>
<I>Rosemary G. Feal</i><BR>
The MLA annual convention: Meeting members' needs in the twenty-first century</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2><b>BIBLIOGRAPHY</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">14</td>
<td width="94%"><i>MLA International Bibliography</i>
fellowships</td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2><b>BOOK NEWS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">13</td>
<td width="94%">Call for essay proposals for MLA volume <i>Teaching Anglophone Caribbean Literature</i></td></tr>
<tr align="left" valign="top"> 
<td width="6%">13</td>
<td width="94%">Call for contributions in Approaches series</td></tr>
<tr align="left" valign="top"> 
<td width="6%">14</td>
<td width="94%">Three new MLA titles published</td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>COMMITTEES</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">12</td>
<td width="94%">MLA committee meetings, October 2006-June 2007</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>CONVENTION</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">1</td>
<td width="94%">MLA to meet in Philadelphia for its 122nd annual convention</td></tr>
<tr align="left" valign="top"> 
<td width="6%">8</td>
<td width="94%">Program available for members with visual impairments</td></tr>
<tr align="left" valign="top"> 
<td width="6%">8</td>
<td width="94%">Meeting times for allied organizations</td></tr>
<tr align="left" valign="top"> 
<td width="6%">8</td>
<td width="94%">Travel assistance for advanced graduate students</td></tr>
<tr align="left" valign="top"> 
<td width="6%">9</td>
<td width="94%">2006 convention invitation</td></tr>
<tr align="left" valign="top"> 
<td width="6%">9</td>
<td width="94%">ADE- and ADFL-sponsored sessions for job candidates and interviewers</td></tr>
<tr align="left" valign="top"> 
<td width="6%">9</td>
<td width="94%">Travel grant for part-time and contingent non-tenure-track faculty members and for the unemployed</td></tr>
<tr align="left" valign="top"> 
<td width="6%">10</td>
<td width="94%">Using the MLA Job Information Center</td></tr>
<tr align="left" valign="top"> 
<td width="6%">11</td>
<td width="94%">Accommodations and services for persons with disabilities</td></tr>
<tr align="left" valign="top"> 
<td width="6%">11</td>
<td width="94%">Child care arrangements</td></tr>
<tr align="left" valign="top"> 
<td width="6%">11</td>
<td width="94%">Calls for papers for 2007 convention in Chicago</td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>GOVERNANCE</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">6</td>
<td width="94%">2006 election ballot to be mailed</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%">Nominations for 2007 division executive committee elections</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%">Executive Council meeting highlights</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">8</td>
<td width="94%">Request for comments on Delegate Assembly resolution</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>GRANTS AND PRIZES</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">15</td>
<td width="94%">Competition open for MLA book awards</td></tr>
<tr align="left" valign="top"> 
<td width="6%">16</td>
<td width="94%">ADE Francis Andrew March Award for Distinguished Service to the Profession presented to Jacqueline Jones Royster</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">17</td>
<td width="94%">Christopher Kleinhenz receives the ADFL Award for Distinguished Service to the Profession</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b><i>PMLA</i></b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">13</td>
<td width="94%">Electronic <i>PMLA</i></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">13</td>
<td width="94%"><i>Microsoft Word</i> tagging may affect anonymity in peer review</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>MLA WEB SITE NEWS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%">Web site redesign</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b><b>Other News and Announcements</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">13</td>
<td width="94%">Updated MLA recommendations on salaries for entry-level, full-time, and part-time faculty members</td></tr>
<tr align="left" valign="top"> 
<td width="6%">14</td>
<td width="94%">MLA policy on membership mailing-list rentals</td></tr>
<td width="6%">15</td>
<td width="94%">Honorary members and fellows</td></tr>
<tr align="left" valign="top"> 
<td width="6%">16</td>
<td width="94%">MLA fund subsidizes dues</td></tr>
<tr align="left" valign="top"> 
<td width="6%">18</td>
<td width="94%">Correspondence</td></tr>
<tr align="left" valign="top"> 
<td width="6%">19</td>
<td width="94%">Classified advertisements</td></tr>
<tr align="left" valign="top"> 
<td width="6%">19</td>
<td width="94%">Fellowships and grants deadlines</td></tr>
<tr align="left" valign="top"> 
<td width="6%">19</td>
<td width="94%"><i>MLA Newsletter</i> mailing options for
members</td></tr>
<tr align="left" valign="top"> 
<td width="6%">20</td>
<td width="94%">Upcoming MLA deadlines</td></tr>
</table>
