<h1><I>MLA Newsletter</i>
Fall 2005</h1>
<h2>In This Issue</h2>
<table width="95%" border="0" align="left">
<tr align="left" valign="top"> 
<td width="6%">3</td>
<td width="94%"><i><B>President's Column</B></i>
<I>Domna C. Stanton</i>
The paradox of academic freedom</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">6</td>
<td width="94%"><i><B>Editors Column</B></i>
<I>Rosemary G. Feal</i>
"There has to be something the MLA can do": Supporting adjunct faculty members and unemployed members</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">12</td>
<td width="94%"><b><i>Suggestions Invited for</i></b> <b>PMLA</b> <b><i>Editor</i></b></td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<tr align="left" valign="top"> 
<td colspan=2><b>BIBLIOGRAPHY</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">15</td>
<td width="94%">Field bibliographers invited</td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2><b>BOOK NEWS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">11</td>
<td width="94%">Call for essay proposals for Options for Teaching volume</td></tr>
<tr align="left" valign="top"> 
<td width="6%">11 </td>
<td width="94%">Two new MLA titles to be published</td></tr>
<tr align="left" valign="top"> 
<td width="6%">12 </td>
<td width="94%">Call for contributions in Approaches series</td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>COMMITTEES</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">12</td>
<td width="94%">MLA committee meetings, October  2005May 2006</td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>CONVENTION</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">1</td>
<td width="94%">MLA to meet in Washington for its 121st annual convention </td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%">2005 convention invitation</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">7	</td>
<td width="94%">Job clinic on business, government, and
not-for-profit careers</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">7	</td>
<td width="94%">Travel assistance for advanced graduate  students</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">8	</td>
<td width="94%">Program available for members with visual  impairments </td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">8	</td>
<td width="94%">Workshop on negotiating for women to be conducted at the Washington convention</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">8	</td>
<td width="94%">ADE- and ADFL-sponsored sessions for job candidates and interviewers</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">8	</td>
<td width="94%">Accommodations and services for persons with disabilities</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">9</td>
<td width="94%">Using the MLA Job Information Center</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">10</td>
<td width="94%">Child care arrangements </td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">10</td>
<td width="94%">Meeting times for allied organizations</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">10</td>
<td width="94%">Calls for papers for 2006 convention in New  Orleans</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>GOVERNANCE</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">5</td>
<td width="94%">2005 election ballot to be mailed</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%">Nominations for 2006 division executive committee elections</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>GRANTS AND PRIZES</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">13</td>
<td width="94%">Michael Katz receives the ADFL Award for Distinguished Service to the Profession</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">13</td>
<td width="94%">ADE Francis Andrew March Award for Distinguished Service to the Profession presented to James Slevin</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">14</td>
<td width="94%">Competition open for MLA book awards</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>MLA WEB SITE NEWS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%">Convention registration</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b><i>PMLA</i></b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">11</td>
<td width="94%">Professional Notes and Forthcoming Meetings moving from print to Web</td></tr>
<tr align="left" valign="top"> 
<td width="6%">12</td>
<td width="94%">Electronic <I>PMLA</i></td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>Other News and Announcements</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">5</td>
<td width="94%">Letters on members' teaching awards sought</td></tr>
<tr align="left" valign="top"> 
<td width="6%">14</td>
<td width="94%">MLA fund subsidizes dues</td></tr>
<tr align="left" valign="top"> 
<td width="6%">14</td>
<td width="94%">
Scholar rescue fund</td></tr>
<tr align="left" valign="top"> 
<td width="6%">14</td>
<td width="94%">Honorary members and fellows </td></tr>
<tr align="left" valign="top"> 
<td width="6%">14</td>
<td width="94%">MLA policy on mailing-list rentals</td></tr>
<tr align="left" valign="top"> 
<td width="6%">15</td>
<td width="94%">Updated MLA recommendations on salaries  for entry-level, full-time, and  part-time faculty members</td></tr>
<tr align="left" valign="top"> 
<td width="6%">15</td>
<td width="94%">Classified advertisements</td></tr>
<tr align="left" valign="top"> 
<td width="6%">15</td>
<td width="94%">Fellowships and grants deadlines </td></tr>
<tr align="left" valign="top"> 
<td width="6%">16</td>
<td width="94%">Upcoming MLA deadlines</td></tr></table>
