<h1><I>MLA Newsletter</i><BR>
Fall 2003</h1>
<h2>In This Issue</h2>
<table width="95%" border="0" align="left">
<tr align="left" valign="top"> 
<td width="6%">3</td>
<td width="94%"><i><B>President's Column</B></i><BR>
<I>Mary Louise Pratt</i><BR>
The new humanities</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">4</td>
<td width="94%"><b><i>Nominations Sought for Director of
Foreign Language Programs</i></b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">5</td>
<td width="94%"><i><B>Editor's Column</B></i><BR>
<I>Rosemary G. Feal</i><BR>
English, foreign languages, and interdisciplinarity: Encounter on Mount Baldy</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2><b>BIBLIOGRAPHY</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">12</td>
<td width="94%">Field bibliographers invited</td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2><b>BOOK NEWS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">12</td>
<td width="94%">Call for contributions and ideas for Options for Teaching series</td></tr>
<tr align="left" valign="top"> 
<td width="6%">13</td>
<td width="94%">Call for suggestions for the series Approaches to Teaching World Literature</td></tr>
<tr align="left" valign="top"> 
<td width="6%">13</td>
<td width="94%">Call for contributions in Approaches series</td></tr>
<tr align="left" valign="top"> 
<td width="6%">13</td>
<td width="94%">Contributions and ideas sought for <i>Teaching
North American Environmental Literature</i></td></tr>
<tr align="left" valign="top"> 
<td width="6%">14</td>
<td width="94%">Three new MLA titles published</td></tr>
<tr align="left" valign="top"> 
<td width="6%">14</td>
<td width="94%">Call for proposals in new series</td></tr>
<tr align="left" valign="top">
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>COMMITTEES</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">12</td>
<td width="94%">MLA committee meetings, October 2003-May 2004</td>
</tr>
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>CONVENTION</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">1</td>
<td width="94%">MLA members to meet in San Diego</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">8</td>
<td width="94%">Accommodations and services for
persons with disabilities</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">8</td>
<td width="94%">Child care arrangements</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">8</td>
<td width="94%">Program available for members with visual
impairments</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">8</td>
<td width="94%">Job clinic on business, government, and
not-for-profit careers</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">8</td>
<td width="94%">Meeting times for allied organizations</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">9</td>
<td width="94%">Using the MLA Job Information Center</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">9</td>
<td width="94%">2003 convention invitation</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">10</td>
<td width="94%">ADE- and ADFL-sponsored sessions for
job candidates and interviewers</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">10</td>
<td width="94%">Travel assistance for advanced graduate students</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">11</td>
<td width="94%">Calls for papers for 2004 convention in
Philadelphia</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>GOVERNANCE</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%">Request for comments on Delegate Assembly
resolution</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%">Nominations for 2004 division
executive committee elections</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%">2003 election ballot is in the mail</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>GRANTS AND PRIZES</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">14</td>
<td width="94%">Competition open for MLA book awards</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b><i>PMLA</i></b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">13</td>
<td width="94%">Electronic <i>PMLA</i></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">13</td>
<td width="94%"><i>PMLA </i>special topic: The history of the book and the idea of literature</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>WEB SITE NEWS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%">New features for members at MLA Web site</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b><i>Other News and Announcements</i></b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">4</td>
<td width="94%">Online job applications</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">4</td>
<td width="94%">Conference on disability studies</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">4</td>
<td width="94%">Letters on members' teaching awards sought</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%">Honorary members and fellows</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">15</td>
<td width="94%">Classified advertisements</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">15</td>
<td width="94%">MLA policy on membership mailing-list rentals</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">15</td>
<td width="94%">Fellowships and grants deadlines</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">16</td>
<td width="94%">Upcoming MLA deadlines</td>
</tr>

</table>

