<h1><I>MLA Newsletter</i><BR>
Fall 2002</h1>
<h2>In This Issue</h2>
<table width="95%" border="0" align="left">
<tr align="left" valign="top"> 
<td width="6%">3</td>
<td width="94%"><i><B>President's Column</B></i><BR>
<I>Stephen Greenblatt</i><BR>
The MLA in the world</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">5</td>
<td width="94%"><i><B>Editor's Column</B></i><BR>
<I>Rosemary G. Feal</i><BR>
Transitions to a new community</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">13</td>
<td width="94%"><b><i>Suggestions Invited for</i> PMLA <i>Editor</i></b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">17</td>
<td width="94%"><i><b>Developing Recommendations on
Scholarly Publishing</b></i></td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2><b>BIBLIOGRAPHY</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">12</td>
<td width="94%">Field bibliographers invited</i></td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2><b>BOOK NEWS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">12</td>
<td width="94%">Two new MLA titles published</td></tr>
<tr align="left" valign="top"> 
<td width="6%">12</td>
<td width="94%">Contributions and suggestions invited for
Options for Teaching volume</td></tr>
<tr align="left" valign="top"> 
<td width="6%">12</td>
<td width="94%">Suggestions sought for Texts and
Translations series</td></tr>
<tr align="left" valign="top"> 
<td width="6%">12</td>
<td width="94%">Call for contributions for Options for
Teaching volume</td></tr>
<tr align="left" valign="top"> 
<td width="6%">13</td>
<td width="94%">Call for contributions in Approaches series</td></tr>
<tr align="left" valign="top"> 
<td width="6%">13</td>
<td width="94%">Call for contributions to <i>Integrating Literature and Writing in First-Year English</i></td></tr>
<tr align="left" valign="top">
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>COMMITTEES</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">4</td>
<td width="94%">MLA committee meetings, October 2002-May 2003</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">14</td>
<td width="94%">Committee on diversity and tolerance
collects information and debates terms</td>
</tr>
<tr align="left" valign="top">
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>CONVENTION</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">1</td>
<td width="94%">2002 MLA Annual Convention in New York</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%">2002 convention invitation</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">6</td>
<td width="94%">Using the MLA Job Information Center</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">6</td>
<td width="94%">Program avalable for members with visual
impairments</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%">ADE- and ADFL-sponsored sessions for job
candidates and interviewers</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%">Travel assistance for advanced
graduate students</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%">Job clinic on business, government, and
not-for-profit careers</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%">Meeting times for allied organizations</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">8</td>
<td width="94%">Accommodations and services for persons
with disabilities</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">8</td>
<td width="94%">Child care arrangements</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">8</td>
<td width="94%">Calls for papers for 2003 convention in
San Diego</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>GOVERNANCE</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">10</td>
<td width="94%">Executive Council meeting highlights</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">14</td>
<td width="94%">Nominations for 2003 division executive
committee elections</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">15</td>
<td width="94%">Request for comments on Delegate Assembly
resolutions</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">15</td>
<td width="94%">2002 election ballot is in the mail</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">18</td>
<td width="94%">New divisions and discussion groups</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>GRANTS AND PRIZES</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">16</td>
<td width="94%">Competition open for MLA book awards</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">16</td>
<td width="94%">Phyllis Franklin Award for Public Advocacy
of the Humanities</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%"><b>MLA WEB SITE NEWS</b></td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b><i>PMLA</i></b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">13</td>
<td width="94%"><i>PMLA</i> special topic: On Poetry</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b><i>Other News and Announcements</i></b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">4</td>
<td width="94%">Association of Advisors of English</tr>
<tr align="left" valign="top"> 
<td width="6%">4</td>
<td width="94%">Letters on members' teaching awards sought</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">13</td>
<td width="94%">Request from the American Association of
University Professors</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">16</td>
<td width="94%">MLA fund subsidizes dues</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">17</td>
<td width="94%">Members' comments invited on
NRC rankings</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">18</td>
<td width="94%">Correspondence</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">18</td>
<td width="94%">Corrections to Directory Listings</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">18</td>
<td width="94%">Honorary members and fellows</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">19</td>
<td width="94%">MLA policy on membership
mailing-list rentals</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">19</td>
<td width="94%">Classified advertisements</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">19</td>
<td width="94%">Fellowship and grants deadlines</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">20</td>
<td width="94%">Upcoming MLA deadlines</td>
</tr>

</table>
