<table>
<tr valign="bottom">
<td width="160px" height="160px"><img src="/IMAGES/margie-ferguson.jpg" width="150px" border="0" alt="Margaret Ferguson"></td>
<td>
<h1>Margaret W. Ferguson</h1>
President
<br/>
<br/>
<a href="http://president.commons.mla.org/">Read Margaret Ferguson's <i>From the President</i> column</a></td>
</td></tr>
</table>
<p>
Margaret W. Ferguson was elected second vice president of the MLA in December 2011. Her term as president runs from January 2014 through January 2015. A member of the MLA since finishing her PhD at Yale in 1974, she has served on many MLA committees, including the editorial board of <I>PMLA</I> and the committee that selects the winners of the Lois Roth Award and the Aldo and Jeanne Scaglione Prize for a Translation of a Literary Work.
</p>
<p>
She is a comparatist by training, with interests in feminist literary theory, the history of education and literacy, and the literature of early modern France, Italy, Spain, and England. She has taught high school teachers at the Breadloaf School of English (Middlebury College, summer program) and undergraduate and graduate students at Yale, Columbia, and the University of Colorado, Boulder. Since 1997, she has taught in the English department at the University of California, Davis; she chaired this department from 2006 to 2009 and has been active in discussions about the future of public education (kindergarten through graduate school) in her home state, California. 
</p>
<p> In 2011–12 she held a fellowship from the American Council of Learned Societies for a book project analyzing literary, medical, theological, and legal texts focused on cultural debates about virginity. She has held Guggenheim Memorial Foundation and National Endowment for the Humanities Fellowships and has helped evaluate applicants for Newcombe Dissertation Fellowships and Huntington Library Short-Term Fellowships. She serves on the boards of several professional journals, including <i>Differences</i>, <i>Modern Language Quarterly</i>, and<i> Comparative Literature Studies</i>. 
</p>
<p>
She has coedited thirteen books, among them <i>Mariam, the Fair Queen of Jewry</i>, the first play published by a woman in England, in 1613, and the fourth and fifth editions of the <i>Norton Anthology of Poetry</i>. Her book <i>Dido’s Daughters: Gender, Literacy, and Empire in Early Modern England and France</i> (2004) won the Roland Bainton Prize for Sixteenth Century Studies and was a cowinner of the best book prize of the Society for the Study of Early Modern Women. She has published on writers ranging from Augustine to Shakespeare and Elizabeth Cary to Aphra Behn to Freud.  For further information, see <a href="http://english.ucdavis.edu/people/directory/mwfergus" target=”_blank”> http://english.ucdavis.edu/people/directory/mwfergus</a>.
</p>
