<h1>Forthcoming Meetings and Conferences of General Interest</h1>
<blockquote><i>This listing is updated around the first and fifteenth of each month. The entries remain posted until  the date of the meeting or conference has passed. New items may be submitted to Forthcoming Meetings and Conferences, Modern Language Association, 26 Broadway, 3rd floor, New York, NY 10004-1789 (fax: 646 458-0030; <a href="mailto:fmc@mla.org">fmc@mla.org</a>).</i></blockquote> 

<b>Building Connections: The Changing Face of Romance Studies,</b> 3–5 Apr. 2014, Chapel Hill. <i>Deadline for proposals</i> 1 Dec. 2013. <i>Inquiries</i> <a href="http://ccrl.unc.edu">http://ccrl.unc.edu</a> 

<b>European Association for American Studies: Cold War Complications—Voices from the Center,</b> 3–6 Apr. 2014, The Hague. <i>Deadline for proposals</i> 1 Oct. 2013. <i>Inquiries</i> <a href="mailto:Joshua.parker@sbg.ac.at">Joshua.parker@sbg.ac.at</a>

<b>Northeast Modern Language Association,</b> 3–6 Apr. 2014, Susquehanna Univ. <i>Deadline for abstracts</i> 30 Sept. 2013. <i>Inquiries</i> <a href="http://nemla.org/convention/2014/index.html" target="_blank">http://nemla.org/convention/2014/index.html</a>

<b>KFLC: The Languages, Literatures, and Cultures Conference,</b> 10–12 Apr. 2014, Univ. of Kentucky. <i>Deadline for abstracts</i> 11 Nov. 2013. <i>Inquiries</i> KFLC, Univ. of Kentucky, Lexington 40506 (<a href="mailto:kflc@uky.edu">kflc@uky.edu</a>; <a href="https://kflc.as.uky.edu">https://kflc.as.uky.edu</a>) 

<b>University of Wisconsin Graduate Association of French and Italian Students Symposium: Negotiating Aesthetic Hierarchies,</b> 11–12 Apr. 2014, Univ. of Wisconsin, Madison. <i>Deadline for abstracts</i> 18 Jan. 2014. <i>Inquiries</i> <a href="mailto:gafis2014@gmail.com">gafis2014@gmail.com</a>; <a href="http://gafis.frit.wisc.edu/" target="_blank">http://gafis.frit.wisc.edu/</a>

<b>German Research Foundation: Allegory,</b> 23–27 Apr. 2014, Lake Como, Italy. <i>Deadline for submissions</i> 1 Mar. 2013. <i>Inquiries</i> Friedrich Teja Bach (<a href="mailto:friedrich.bach@univie.ac.at">friedrich.bach@univie.ac.at</a>), Ulla Haselstein (<a href="mailto:ulla.haselstein@fu-berlin.de">ulla.haselstein@fu-berlin.de</a>), Bettine Menke (<a href="mailto:avl@uni-erfurt.de">avl@uni-erfurt.de</a>), or Daniel L. Selden (<a href="mailto:dlselden@sbcglobal.net">dlselden@sbcglobal.net</a>)

<b>International Conference on Transatlantic Literature: Spaces of Dialogue, </b>24–25 Apr. 2014, Harvard Univ. <i>Deadline for proposals</i> 15 Feb. 2014. <i>Inquiries</i> <a href="mailto:transatlanticlit2014@gmail.com">transatlanticlit2014@gmail.com</a>; <a href="http://rcc.harvard.edu/wp/?p=2331">http://rcc.harvard.edu/wp/?p=2331</a>

<b>The Myth of the Great War,</b> 24–25 Apr. 2014, Univ. of Pennsylvania. <i>Deadline for proposals</i> 20 Feb. 2014. <i>Inquiries</i> <a href="mailto:italians@sas.upenn.edu">italians@sas.upenn.edu</a>; <a href="http://www.sas.upenn.edu/italians/event/2014/04/myth-great-war-international-conference">http://www.sas.upenn.edu/italians/event/2014/04/myth-great-war-international-conference</a>

<b>Frankenstein Bicentennial Workshop, </b>28–30 Apr. 2014, Arizona State Univ. <i>Deadline for applications</i> 28 Feb. 2014. <i>Inquiries</i> Joey Eschrich (<a href="mailto:jpe@asu.edu">jpe@asu.edu</a>); <a href="http://frankenstein.asu.edu/apply">http://frankenstein.asu.edu/apply</a>

<b>Dominican Studies Association: Making a Difference,</b> 1–2 May 2014, Naugatuck Valley Community Coll. <i>Deadline for proposals</i> 1 Nov. 2013. <i>Inquiries</i> <a href="http://dsa-conference-2014.eventbrite.com/">http://dsa-conference-2014.eventbrite.com/</a> 

<b>The Muses of the Land: The Reception of Greece and Rome in the Hispanic World,</b> 2 May 2014, Univ. of Maryland, College Park. <i>Deadline for abstracts</i> 26 Jan. 2014. <i>Inquiries</i> Francisco Barrenechea (<a href="mailto:fbarrene@umd.edu">fbarrene@umd.edu</a>) 

<b>(Re)Mapping Galician Studies in North America: A Breakthrough Symposium,</b> 2–3 May 2014, Univ. of Wisconsin, Milwaukee. <i>Inquiries</i> <a href="http://www4.uwm.edu/letsci/spanish/symposium/galician/">http://www4.uwm.edu/letsci/spanish/symposium/galician/</a> 

<b>Society for the Study of Midwestern Literature: Writing the Midwest,</b> 8–10 May 2014, Michigan State Univ. <i>Deadline for proposals</i> 29 Jan. 2014. <i>Inquiries</i> <a href="http://www.ssml.org">http://www.ssml.org</a> 

<b>Collections in Flux: The Dynamic Spaces and Temporalities of Collecting,</b> 9–10 May 2014, Univ. of California, Los Angeles. <i>Inquiries</i> <a href="http://materialcultures.ucr.edu/events/collections-in-flux/">http://materialcultures.ucr.edu/events/collections-in-flux/</a>

<b>Society of Fellows in the Liberal Arts: Paradoxes of Authority / Authority of Paradoxes,</b> 9–10 May 2014, Univ. of Chicago. <i>Deadline for proposals</i> 1 Mar. 2014. <i>Inquiries</i> Rafeeq Hasan or Birte Loschenkohl (<a href="mailto:paradoxesauthority@gmail.com">paradoxesauthority@gmail.com</a>) 

<b>International Association of Literary Journalism Studies,</b> 15–17 May 2014, American Univ. of Paris. <i>Deadline for submissions</i> 1 Dec. 2013. <i>Inquiries</i> <a href="mailto:wdow@aup.edu">wdow@aup.edu</a> 

<b>UCSB Graduate Center for Literary Research Conference: Disclosure,</b> 22 May 2014, Univ. of California, Santa Barbara. <i>Deadline for abstracts</i> 31 Mar. 2014. <i>Inquiries</i> <a href="http://www.complit.ucsb.edu/gclr/conference/papers​">http://www.complit.ucsb.edu/gclr/conference/papers​</a> 

<b>International Linguistic Association, </b>22–24 May 2014, Université de Paris II. <i>Deadline for abstracts</i> 13 Jan. 2014 (<a href="mailto:awendt@ilaword.org">awendt@ilaword.org</a>). <i>Inquiries </i>Kathleen O’Connor-Bater (<a href="mailto:oconnorbaterk@oldwestbury.edu">oconnorbaterk@oldwestbury.edu</a>) or Kathryn English (<a href="mailto:kathryn.english@u-paris2.fr">kathryn.english@u-paris2.fr</a>)

<b>Protest, </b>28–29 May 2014, Univ. of Glasgow. <i>Deadline for abstracts</i> 24 Feb. 2014. <i>Inquiries</i> <a href="mailto:arts-pgconference2014@glasgow.ac.uk">arts-pgconference2014@glasgow.ac.uk</a> 

<b>International Association for Biography and Autobiography: Auto/Biography in Transit,</b> 29 May–1 June 2014, Alberta. <i>Deadline for proposals</i> 10 Sept. 2013. <i>Inquiries</i> <a href="mailto:iaba2014@gmail.com">iaba2014@gmail.com</a>; <a href="https://sites.google.com/a/ualberta.ca/iaba-2014/home">https://sites.google.com/a/ualberta.ca/iaba-2014/home</a> or <a href="http://msa.press.jhu.edu/">http://msa.press.jhu.edu/</a>

<b>Law and Humanities Junior Scholar Workshop,</b> 8–9 June 2014, Univ. of Southern California. <i>Deadline for submissions</i> 6 Jan. 2014. <i>Inquiries</i> Cindy Gao (212 854-0167; <a href="mailto:culture@law.columbia.edu">culture@law.columbia.edu</a>) 

<b>Incorporating Japanese Studies into the Undergraduate Curriculum,</b> 9–22 June 2014, San Diego State Univ. <i>Deadline for applications</i> 14 Apr. 2014. <i>Inquiries</i> <a href="http://www.aascu.org/programs/JSI/">http://www.aascu.org/programs/JSI/</a> 

<b>Aphra Behn Society of Europe: Aphra Behn and the Challenges of Genre,</b> 12–14 June 2014, Univ. of Huelva, Spain. <i>Inquiries</i> <a href="mailto:aphra.behn@dfing.uhu.es">aphra.behn@dfing.uhu.es</a>; <a href="http://www.aphrabehneurope.org/conferences.php">http://www.aphrabehneurope.org/conferences.php</a>

<b>Nathaniel Hawthorne Society: Hawthorne in the Berkshires,</b> 12–15 June 2014, Massachusetts Coll. of Liberal Arts. <i>Deadline for abstracts</i> 28 Feb. 2014. <i>Inquiries</i> Jason Courtmanche (<a href="mailto:hawthorne.berkshires@gmail.com">hawthorne.berkshires@gmail.com</a>)

<b>Summer Institute for Israel Studies,</b> 16–30 June 2014, Brandeis Univ.; 1–10 July 2014, Israel. <i>Inquiries</i> <a href="http://www.brandeis.edu/israelcenter/SIIS/index.html">http://www.brandeis.edu/israelcenter/SIIS/index.html</a>

<b>The Epic Side of Truth: Narration and Knowledge in the German Literary Tradition,</b> 16 June–25 July 2014, Cornell Univ. <i>Deadline for applications</i> 1 Mar. 2014. <i>Inquiries</i> Paul Fleming (<a href="mailto:paul.fleming@cornell.edu">paul.fleming@cornell.edu</a>) or Olga Petrova (<a href="mailto:ogp2@cornell.edu">ogp2@cornell.edu</a>), Inst. for German Cultural Studies, Cornell Univ., 726 University Ave., Ithaca, NY 14850 (607 255-8408; fax: 607 255-1454)

<b>Shifting Attitudes: Radical Upheaval and Its Legacies,</b> 19–20 June 2014, Toulouse, France. <i>Deadline for proposals</i> 31 Mar. 2014. <i>Inquiries</i> Robert Barsky (<a href="mailto:robert.barsky@vanderbilt.edu">robert.barsky@vanderbilt.edu</a>) and Paul Seabright (<a href="mailto:paul.seabright@gmail.com">paul.seabright@gmail.com</a>)  

<b>Diverging Diversities: Plurality in Children’s and Young-Adult Literature Then and Now,</b> 19–21 June 2014, Univ. of South Carolina, Columbia. <i>Inquiries</i> <a href="http://chlaconference.org">http://chlaconference.org</a>

<b>Asian Law and Economics Association,</b> 20–21 June 2014, National Taiwan Univ. <i>Deadline for abstracts</i> 15 Feb. 2014. <i>Inquiries</i> <a href="mailto:asian.lawecon@gmail.com">asian.lawecon@gmail.com</a>; <a href="http://www.aslea.org/" target="_blank">http://www.aslea.org/</a>

<b>International D. H. Lawrence Conference,</b> 23–27 June 2014, Gargnano, Italy. <i>Deadline for graduate fellowship applications and abstracts</i> 10 Dec. 2013. <i>Inquiries</i> <a href="mailto:bsargent@ualberta.ca">bsargent@ualberta.ca</a>; <a href="http://www.dhlsna.com/GargnanoConfHome.htm" target="_blank">http://www.dhlsna.com/GargnanoConfHome.htm</a> 

<b>Democracy and the Arts in the Contemporary Hispanic World,</b> 25–27 June 2014, Univ. of Birmingham, United Kingdom. <i>Deadline for proposals</i> 20 Dec. 2013. <i>Inquiries</i> <a href="mailto:f.lough@bham.ac.uk">f.lough@bham.ac.uk</a> 

<b>International Conference on Conversation Analysis,</b> 25–29 June 2014, Univ. of California, Los Angeles. <i>Deadline for papers</i> 1 July 2013. <i>Inquiries</i> <a href="mailto:icca14@ssc.ucla.edu">icca14@ssc.ucla.edu</a>; <a href="http://icca14.sscnet.ucla.edu/" target="_blank">http://icca14.sscnet.ucla.edu/</a>

<b>Congreso Internacional de la Asociación Hispánica de Humanidades,</b> 26–28 June 2014, Santiago de Compostela, Spain. <i>Inquiries</i> <a href="mailto:VIICongresoAHH@gmail.com">VIICongresoAHH@gmail.com</a>; <a href="http://ahh.academic.wlu.edu/congreso/" target="_blank">http://ahh.academic.wlu.edu/congreso/</a>  

<b>World Congress of Scottish Literatures,</b> 2–5 July 2014, Univ. of Glasgow. <i>Deadline for abstracts</i> 30 Apr. 2013. <i>Inquiries</i> <a href="mailto:scottishliteraturecongress2014@glasgow.ac.uk">scottishliteraturecongress2014@glasgow.ac.uk</a> 

<b>The Afterlives of Pastoral,</b> 4–5 July 2014, Univ. of Queensland, Brisbane. <i>Inquiries</i> Jude Seaboyer (61 7 3365 2135; fax: 61 7 3365 2799; <a href="mailto:j.seaboyer@uq.edu.au">j.seaboyer@uq.edu.au</a>; <a href="http://www.emsah.uq.edu.au/index.html?page=204907&pid=177854">http://www.emsah.uq.edu.au/index.html?page=204907&pid=177854</a>) 

<b>Jewish Buenos Aires,</b> 7–25 July 2014, Buenos Aires, Argentina. <i>Inquiries</i> David Foster (<a href="mailto:david.foster@asu.edu">david.foster@asu.edu</a>); <a href="https://sites.google.com/a/asu.edu/foster-jewish-buenos-aires/" target="_blank">https://sites.google.com/a/asu.edu/foster-jewish-buenos-aires/</a> 

<b>George Herbert and Emily Dickinson,</b> 7 July–8 Aug. 2014, Univ. of Chicago. <i>Inquiries</i> Richard Strier (<a href="mailto:rastrier@uchicago.edu">rastrier@uchicago.edu</a>); <a href="http://lucian.uchicago.edu/blogs/neh2014herbert-dickinson/" target="_blank">http://lucian.uchicago.edu/blogs/neh2014herbert-dickinson/</a> 

<b>Evil Incarnate: Manifestations of Villains and Villainy,</b> 11–13 July 2014, Case Western Reserve Univ. <i>Deadline for proposals</i> 1 Feb. 2014. <i>Inquiries</i> <a href="mailto:evilincarnate@case.edu">evilincarnate@case.edu</a>; <a href="http://www.case.edu/artsci/engl/evilincarnate">http://www.case.edu/artsci/engl/evilincarnate</a>

<b>Imagining Latina/o Studies: Past, Present, and Future,</b> 17–19 July 2014, Chicago. <i>Deadline for proposals</i> 1 Dec. 2013. <i>Inquiries</i> <a href="mailto:latinostudiesconference@gmail.com">latinostudiesconference@gmail.com</a>; <a href="https://www.facebook.com/groups/latinostudiesinitiative/">https://www.facebook.com/groups/latinostudiesinitiative/</a> 

<b>International Society for the Empirical Study of Literature and Media,</b> 21–25 July 2014, Turin, Italy. <i>Inquiries</i> <a href="http://www.igel2014.unito.it/index.php/call-for-papers">http://www.igel2014.unito.it/index.php/call-for-papers</a> 

<b>International Conference on Mediaeval and Renaissance Scottish Language and Literature,</b> 28–31 July 2014, Bochum, Germany. <i>Inquiries</i> Luuk Howen (<a href="mailto:luuk.howen@t-online.de">luuk.howen@t-online.de</a>)

<b>Canadian Literature of World War I,</b> 31 July–3 Aug. 2014, Ottawa. <i>Deadline for proposals</i> 15 Jan. 2014. <i>Inquiries</i> Anderson Araujo (<a href="mailto:anderson.araujo@ubc.ca">anderson.araujo@ubc.ca</a>) or <a href="mailto:worldwarone.lit@ubc.ca">worldwarone.lit@ubc.ca</a>; <a href="http://www.worldwaronelit.ca">http://www.worldwaronelit.ca</a> 

<b>Coloquio Internacional de Literaturas Amazónicas,</b> 31 July–3 Aug. 2014, Iquitos, Peru. <i>Deadline for proposals</i> 15 May 2014. <i>Inquiries</i> <a href="mailto:pasacalle@gmail.com">pasacalle@gmail.com</a>; <a href="http://literaturaamazonia.wix.com/coloquio">http://literaturaamazonia.wix.com/coloquio</a> 

<b>Tragedy as Philosophy: A Seminar with Simon Critchley, </b>2–9 Aug. 2014, Tilburg, Holland. <i>Inquiries</i> <a href="http://www.tilburgphilosophysummerschool.com/">http://www.tilburgphilosophysummerschool.com/</a>

<b>Federated Conference on Computer Science and Information Systems,</b> 7–10 Sept. 2014, Warsaw, Poland. <i>Deadline for proposals</i> 18 Oct. 2013. <i>Inquiries</i> <a href="mailto:secretariat@fedcsis.org">secretariat@fedcsis.org</a>; <a href="https://fedcsis.org/2014/node/20">https://fedcsis.org/2014/node/20</a>

<b>GEMELA: Grupo de Estudios sobre la Mujer en España y las Américas (pre-1800),</b> 8–10 Sept. 2014, Lisbon, Portugal. <i>Inquiries</i> <a href="http://www.gemela.org" target="_blank">http://www.gemela.org</a>  

<b>Language, Culture, and Power in France / Langue, Culture et Pouvoir en France,</b> 9–11 Sept. 2014, Univ. of Southampton, United Kingdom. <i>Deadline for papers</i> 7 Mar. 2014. <i>Inquiries</i> <a href="https://www.llas.ac.uk/events/6864">https://www.llas.ac.uk/events/6864</a> 

<b>English Studies as Archive and as Prospecting: Eighty Years of English Studies in Zagreb,</b> 18–21 Sept. 2014, Zagreb, Croatia. <i>Deadline for proposals</i> 1 Mar. 2014. <i>Inquiries</i> <a href="http://www.ffzg.unizg.hr/engconference14/">http://www.ffzg.unizg.hr/engconference14/</a>

<b>A Matter of Lifedeath,</b> 1–4 Oct. 2014, Univ. of Manitoba. <i>Deadline for submissions</i> 9 Dec. 2013. <i>Inquiries</i> <a href="mailto:mosaconf@ad.umanitoba.ca">mosaconf@ad.umanitoba.ca</a>; <a href="https://wwwapps.cc.umanitoba.ca/publications/mosaic/common/lifedeath" target="_blank">https://wwwapps.cc.umanitoba.ca/publications/mosaic/common/lifedeath</a> 

<b>Autobiography,</b> 2–4 Oct. 2014, Södertörn Univ., Stockholm. <i>Deadline for abstracts</i> 1 Mar. 2014. <i>Inquiries</i> <a href="mailto:autobiography2014@hotmail.com">autobiography2014@hotmail.com</a>; <a href="http://www.sh.se/autobiography" target="_blank">http://www.sh.se/autobiography</a>  

<b>Process and Practice: Adaptation Considered as a Collaborative Art,</b> 3–4 Oct. 2014, University Coll. Cork, Ireland. <i>Deadline for proposals,</i> 31 Mar. 2014. <i>Inquiries</i> <a href="mailto:adaptconf2014@ucc.ie">adaptconf2014@ucc.ie</a>; <a href="http://adaptationconference.wordpress.com/">http://adaptationconference.wordpress.com/</a>

<b>How the “Big Data” Viewpoint Is Reshaping the Humanities, </b>5–6 Oct. 2014, Dartmouth Coll. <i>Deadline for applications</i> 15 Feb. 2014. <i>Inquiries</i> <a href="mailto:Humanities.Big.Data.Conference@Dartmouth.edu">Humanities.Big.Data.Conference@Dartmouth.edu</a>; <a href="http://www.math.dartmouth.edu/hbd/">http://www.math.dartmouth.edu/hbd/</a>

<b>Sixteenth-Century Society: Specialized Knowledge in the Iberian World,</b> 16–19 Oct. 2014, New Orleans. <i>Deadline for abstracts</i> 25 Mar. 2014. <i>Inquiries</i> Elvira Vilches (<a href="mailto:elvilche@ncsu.edu">elvilche@ncsu.edu</a>); <a href="http://www.sixteenthcentury.org/conference/">http://www.sixteenthcentury.org/conference/</a> 

<b>Pacific Ancient and Modern Language Association,</b> 31 Oct.–2 Nov. 2014, Riverside, CA. <i>Inquiries</i> <a href="http://www.pamla.org/conference">http://www.pamla.org/conference</a>

<b>American Musicological Society,</b> 6–9 Nov. 2014, Milwaukee. <i>Deadline for proposals</i> 15 Jan. 2014. <i>Inquiries</i> <a href="http://www.ams-net.org/">http://www.ams-net.org/</a>

<b>Midwest Modern Language Association, </b>13–16 Nov. 2014, Detroit. <i>Deadline for proposals</i> 1 Mar. 2014. <i>Inquiries</i> <a href="http://www.luc.edu/mmla/annualconvention.html" target="_blank">http://www.luc.edu/mmla/annualconvention.html</a>

<b>National Women’s Studies Association,</b> 13–16 Nov. 2014, San Juan, PR. <i>Inquiries</i> <a href="http://www.nwsa.org/content.asp?pl=15&sl=67&contentid=67" target="_blank">http://www.nwsa.org/content.asp?pl=15&sl=67&contentid=67</a>

<b>International Conference on Translation and Cross-Culture: Movement, Interaction, Motivation—Exploring Multicultural Space,</b> 15 Nov. 2014, National Chengchi Univ., Taipei. <i>Deadline for abstracts</i> 2 Mar. 2014.  <i>Inquiries</i> <a href="http://www.foreign.nccu.edu.tw/app/news.php?Sn=277">http://www.foreign.nccu.edu.tw/app/news.php?Sn=277</a>

<b>Hawaii International Conference on Education,</b> 5–8 Jan. 2015, Honolulu. <i>Deadline for submissions</i> 8 Aug. 2014. <i>Inquiries</i> <a href="http://www.hiceducation.org">http://www.hiceducation.org</a> 

<b>Linguistic Society of America,</b> 8–11 Jan. 2015, San Francisco. <i>Inquiries</i> <a href="http://www.linguisticsociety.org/">http://www.linguisticsociety.org/</a>

<b>Modern Language Association,</b> 8–11 Jan. 2015, Vancouver. <i>Inquiries</i> Convention Office, MLA, 26 Broadway, 3rd floor, New York, NY 10004-1789 (<a href="mailto:convention@mla.org">convention@mla.org</a>; <a href="http://www.mla.org/convention" target="_blank">http://www.mla.org/convention</a>)

<b>Early Modern Images and Text Society,</b> 26–28 Mar. 2015, Berlin. <i>Deadline for proposals</i> 5 June 2014. <i>Inquiries</i> Juan Pablo Gil Osle (<a href="mailto:gilosle1@gmail.com">gilosle1@gmail.com</a>) or Noelia Cirnigliaro (<a href="mailto:noelia.cirnigliaro@dartmouth.edu">noelia.cirnigliaro@dartmouth.edu</a>); <a href="http://www.emitsociety.com/docs/CFP_RSA_2015_Cirnigliaro_Gil_Osle.pdf">http://www.emitsociety.com/docs/CFP_RSA_2015_Cirnigliaro_Gil_Osle.pdf</a>

<b>World Congress of Modern Languages: Collaborating across Languages and Borders,</b> 26–28 Mar. 2015, Niagara Falls, ON. <i>Deadline for proposals</i> 1 May 2014. <i>Inquiries</i> <a href="http://fiplv.com/world-congresses">http://fiplv.com/world-congresses</a>

<b>Northeast Modern Language Association,</b> 30 Apr.–3 May 2015, Toronto. <i>Deadline for session proposals</i> 22 Apr. 2014. <i>Inquiries</i> <a href="http://nemla.org/convention/announcements.html">http://nemla.org/convention/announcements.html</a> 

<b>Anabaptist Roots in North American Landscapes: The Plain People Today,</b> 3–4 July 2015, Leuphana Universität Lüneburg, Germany. <i>Deadline for proposals</i> 11 Apr. 2014. <i>Inquiries</i> <a href="mailto:nas@leuphana.de">nas@leuphana.de</a>; <a href="https://tinyurl.com/CFP-Anabaptist-Roots">https://tinyurl.com/CFP-Anabaptist-Roots</a>

<b>International Milton Symposium,</b> 20–24 July 2015, Exeter, England. <i>Deadline for submissions</i> 10 June 2014. <i>Inquiries</i> Karen Edwards (<a href="mailto:k.l.edwards@exeter.ac.uk">k.l.edwards@exeter.ac.uk</a>) and Philip Schwyzer (<a href="mailto:p.a.schwyzer@exeter.ac.uk">p.a.schwyzer@exeter.ac.uk</a>)

<b>American Musicological Society,</b> 12–15 Nov. 2015, Louisville. <i>Deadline for proposals</i> 15 Jan. 2015. <i>Inquiries</i> <a href="http://www.ams-net.org/" target="_blank">http://www.ams-net.org/</a> 

<b>Midwest Modern Language Association,</b> 12–15 Nov. 2015, Columbus. <i>Deadline for proposals</i> 1 Mar. 2015. <i>Inquiries</i> <a href="http://www.luc.edu/mmla/annualconvention.html" target="_blank">http://www.luc.edu/mmla/annualconvention.html</a>

<b>National Women’s Studies Association,</b> 12–15 Nov. 2015, Milwaukee. <i>Inquiries</i> <a href="http://www.nwsa.org/content.asp?pl=15&sl=67&contentid=67" target="_blank">http://www.nwsa.org/content.asp?pl=15&sl=67&contentid=67</a>

<b>Linguistic Society of America,</b> 7–10 Jan. 2016, Washington, DC. <i>Inquiries</i> <a href="http://www.linguisticsociety.org/">http://www.linguisticsociety.org/</a>
