<h1>Full-Text Linking</h1>
In 2006 the <I>MLA International Bibliography</I> began including full-text links in its bibliographic citations. <i>Project MUSE</i>, <i>JSTOR</i>, and <i>ProQuest Dissertations and Theses</i> have partnered with the MLA to provide the URLs to full-text articles available on their Web sites. These links have been added to both current and retrospective citations. A subscription to each product is required for full-text access.

Created in the mid-1990s, <i>JSTOR</i> is an electronic archive of the most important journals in academia. The full texts of thousands of articles published in the last hundred years in many fields of study are available to library subscribers through <i>JSTOR</i>. For more information, go to <a href="http://www.jstor.org" target="_blank">http://www.jstor.org</a>.

<i>Project MUSE</i> began in 1993 as a pioneering joint project of the Johns Hopkins University Press and the Milton S. Eisenhower Library at Johns Hopkins. <i>Project MUSE</i> now provides online access to over 380 high-quality humanities and social sciences journals from over 60 scholarly publishers. For more information, go to <a href="http://muse.jhu.edu/" target="_blank">http://muse.jhu.edu/</a>.

The <i>ProQuest Dissertations and Theses</i> database has archived over 2.4 million dissertations and master's theses from academic institutions throughout the world; most are available in full text in print, microform, and digital formats. For more information, go to <a href="http://www.proquest.com/products_pq/descriptions/pqdt.shtml" target="_blank">http://www.proquest.com/products_pq/descriptions/pqdt.shtml</a>.

Since 2004, the <i>MLA International Bibliography</i> has also provided DOIs (digital object identifiers) to publications registered with CrossRef. DOIs help users and libraries with subscriptions to access full text from a large number of publishers.

To date the following publishers also provide us with URLs or DOIs:

De Gruyter 
Edinburgh University Press
Intellect  
Palgrave Macmillan
Taylor and Francis
Wiley-Blackwell
