<h1>Future Conventions</h1>
<p>2015 8–11 January, Vancouver</p>
<p style="padding-left:50px;">Plan ahead: Learn more about <a href="http://www.cic.gc.ca/english/visit/" target="_blank">visiting Canada</a> and about <a href="http://www.cic.gc.ca/english/visit/visas.asp" target="_blank">whether you need a visa</a> for the 2015 convention. Students in the United States on F-1 visas can find out about <a href="http://www.ice.gov/sevis/travel/faq_f2.htm" target="_blank">requirements for reentry</a> on the US Immigration and Customs Enforcement Web site.</p>
<p>2016 7–10 January, Austin</p>
<p>2017 to be determined</p>
<p>2018 4–7 January, New York City</p>
This page will be updated with future convention dates and locations once they are known.</p>
