<h1>Good Practice and Graduate Student Rights</h1>



<b>Committee on the Literatures of People of Color in the United States and Canada</b>: <i><a href="/rep_guidelines_poc" target="new">Guidelines for Good Practice</a></i> encourages departments of English and foreign languages to continue to broaden the areas of literature, culture, and language in their curricula and describes issues that departments need to address as the number of faculty members of color increases.



<b>Committee on the Status of Graduate Students in the Profession</b>:<ul><li><a href="/grad_portal_rights" target="new">Graduate Students Rights</a></li>

<li><a href="/graduate_student_uni" target="new">Graduate Student Unions and Organizing</a></li>

</ul>

<b>Committee on Information Technology</b>: <a href="/rep_it" target-"new">Reports and guidelines</a>



<b>Committee on the Status of Women in the Profession</b>: <a href="/rep_women" target="new">Reports and documents</a>



<b>Committee on Academic Freedom and Professional Rights and Responsibilities</b>: <i><a href="/grad_student_rights" target="new">Advice to Universities and Graduate Programs on Graduate Student Rights and Responsibilities</a></i>
