<h1>Advice to Universities and Graduate Programs on Graduate Student Rights and Responsibilities</h1>
<h2>I. General Principles</h2>
The relation between graduate students and their institutions of study should at all times be marked by openness, honesty, mutual respect, and collegiality. From application through graduation, students should expect clarity and fair treatment from administrators, professors, and all other representatives of their institutions. While the relation between graduate students and their universities should reflect the professionalism and collegiality proper toall academic relations, this relation creates obligations for all parties, and the MLA Committee on Academic Freedom and Professional Rights and Responsibilities has prepared <a href="/advice_grad">"Advice to Graduate Students: From Application to Career,"</a> which should be read in conjunction with this document. It is also available as a brochure from the Office of English and Foreign Language Programs, MLA, 26 Broadway, 3rd Floor, New York, NY 10003-6981.

<h2>II. Recruitment and Application</h2>
1.&#9;All university materials sent to potential graduate-study applicants should provide answers to the following questions: What are the criteria used for admission decisions? What are the degree requirements? How long does it normally take to complete the degree in question? What are the probable costs, including university tuition and fees as well as living expenses? What financial aid is available and what proportion of students receive it? What teaching and research assistantships are available, for what pay and with what obligations? What loans are available?

2.&#9;Since potential graduate students need clear and accurate information about the job possibilities in their discipline, departments should provide the statistics available through the MLA and other professional organizations. In addition, each department should distribute specific data on the placement of its PhD recipients in the last three to five years, including names of institutions, numbers of placements, and fields of specialization (see <A HREF="#cpe">Gilbert et al.</A>). Departments should send this information to all applicants and continue to inform students about current employment statistics and developments throughout their graduate program.

3.&#9;All deadlines, including policies on late admissions and spring admissions, should be clearly stated on information and admissions materials.

4.&#9;Departmental decisions on financial aid and employment packages should follow acceptance letters as soon as possible, so students can weigh all offers fairly and respond to departments in writing in a timely fashion. Employment packages should include descriptions of term of support, workload, responsibilities, tuition and fee waivers, remuneration, and benefits.

<h2>III. Advising and CourseWork</h2>
1.&#9;Graduate advisers should be readily available at all stages in the student's preparation. In addition to faculty advising, student mentors may serve as advisers to help newer students understand the graduate program.

2.&#9;Graduate professors should provide studentsin their courses with a written syllabus that describes course objectives, requirements, and evaluative criteria. A knowledgeable, well-prepared, and conscientious professor should meet classes as scheduled and devote adequate attention to reading and responding to student work within a reasonable time period. Professors should work with students to create a classroom atmosphere of mutual respect, taking particular care not to discriminate on the basis of race, ethnic or national origin, religion, age, gender, disability, or sexual orientation.

3.&#9;Professors should inform students about the expectations of degree and course exams, about the criteria by which students will be evaluated, and about options should students fail any part of the program. Professors are responsible for keeping adequate records of student performance and grading decisions for at least one year after a courseends.

4.&#9;Departments should adopt a system by which students can evaluate courses anonymously.

<h2>IV. Standards for Teaching and Other ProfessionalExperience</h2>
1.&#9;Departments should make available to graduate students a range of appropriate employment experiences and opportunities in research and teaching. Since students benefit from primary responsibility for one or two courses, departments should, where possible and without impeding progress to a degree, provide that teaching opportunity. All employment opportunities need clear job descriptions that include information about the time required per week, the salary, and all responsibilities and expectations.

2.&#9;Departments should provide adequate training, including course work, workshops, or apprenticeship programs, and ongoing support for all aspects of the teaching experience. Such support is both financial and procedural and should include regular and fair performance evaluation.

<h2>V. Grievances</h2>
Departments should create, with appropriate administrative and student consultation, clear, effective grievance procedures and should inform all students of these procedures. (Departments should consult the MLA's &quot;Statement of Professional Ethics.&quot;)
Committee on Academic Freedom and Professional Rights and Responsiblities.
<div ALIGN="RIGHT">Spring 1998</div>

<h2>Works Cited</h2>
<A name="cpe"> </A>Gilbert, Sandra M., et al. &quot;Final Report of the MLA Committee on Professional Employment.&quot; <I>ADE Bulletin</I> 119 (1998): 27-45. 16 Feb. 1999 <<A HREF="/rep_teaching">http://www.mla.org/resources/documents/rep_teaching</A>>.

MLA. &quot;Statement of Professional Ethics.&quot; <I>Profession 92</I>. New York: MLA, 1992. 75-78.
