﻿<h1>Financial Assistance for Graduate Students</h1>
<@if ($eligible eq "A")>

	<!-- // ALREADY APPLIED // -->
	<p>
		Our records indicate that you have already applied for a grant.  You will be informed of your status by late November.  Please contact Annie Reiser (<a href="mailto:areiser@mla.org">areiser@mla.org</a>) with any questions.  
	</p>
	<p>
		<a href="/grants">Click here to return to the main Grants page</a>.
	</p>
<@else>
<@if ($eligible eq "N")>

	<!-- // NOT ELIGIBLE // -->
	<p>
		Thank you for your interest in the MLA travel grant for graduate students.  This grant is available only to members who joined or renewed their memberships by 30 June 2012 and is not available to anyone who has received it before.  According to our records, you are ineligible for this grant.  If you feel you have received this message in error,  please contact Annie Reiser (<a href="mailto:areiser@mla.org">areiser@mla.org</a>).
	</p>
	<p>
		<a href="/grants">Click here to return to the main Grants page</a>.
	</p>

<@else>

	<!-- // THEY ARE ELIGIBLE SO SHOW THE FORM // -->
	<script language="JavaScript">
		var cbArray = new Array();
		cbArray[0] = false;
		cbArray[1] = false;
		cbArray[2] = false;
		function enableContinue (theCheckbox,cbIndex)
		{
			if (theCheckbox.checked)
			{
				cbArray[cbIndex] = true;
			}
			else
			{
				cbArray[cbIndex] = false;
			}
			
			var theButton = document.getElementById('grantsContinue');

			if (cbArray[0] && cbArray[1] && cbArray[2])
			{
				theButton.disabled = false;
			}
			else
			{
				theButton.disabled = true;
			}
		}
		
		function checkEligibility(fromchange) {
			var errormsg = "";
			var badcount = 0;

			if (!$('#cb1').is(':checked') || !$('#cb2').is(':checked')) {
				badcount++;
				errormsg += "\n" + badcount + ": Please confirm all conditions for eligibility.";
			}	

			if ($('#funding_select')[0].selectedIndex == 0) {
				badcount++;
				errormsg += "\n" + badcount + ": Please indicate if you are receiving travel funding from your institution.";
			}
			
			if ($('#funding_select')[0].selectedIndex == 2 && !$('#fund_known_Y').is(':checked') && !$('#fund_known_NS').is(':checked')) {
				badcount++;
				errormsg += "\n" + badcount + ": Please indicate how much travel funding you are expecting from your institution.";
			}
			
			if ($('#funding_select')[0].selectedIndex == 2 && $('#fund_known_Y').is(':checked') && !$('#fund_known_amt').val()) {
				badcount++;
				errormsg += "\n" + badcount + ": Please indicate how much travel funding you are expecting from your institution.";
			}
			
			
			if (badcount > 0) {
				if (fromchange) {
					$('#grantsContinue').prop('disabled', 'disabled');
					return true;
				} else {

					alert("Please correct the following error(s):\n" + errormsg);
					return false;
				}
			} else {
				if (fromchange) {
					$('#grantsContinue').removeProp('disabled');
				}
				return true;
			}
		}
		
		function handleFunding() {
			if ($('#fund_known_Y').is(':checked')) {
				$('#fund_known_amt').removeProp('disabled');
			} else {
				$('#fund_known_amt').prop('disabled', 'disabled');
			}
			checkEligibility(true);
		}
		
		$(document).ready(function () {
			$('#funding_select').change(function () {
				if ($('#funding_select')[0].selectedIndex == 2) {
					$('#funding_amt_options').show();
				} else {
					$('#funding_amt_options').hide();
				}
				checkEligibility(true);
			});
			
			$("#fund_known_amt").keydown(function(event) {
				// Allow: backspace, delete, tab, escape, and enter
				if ( event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 || 
					 // Allow: Ctrl+A
					(event.keyCode == 65 && event.ctrlKey === true) || 
					 // Allow: home, end, left, right
					(event.keyCode >= 35 && event.keyCode <= 39)) {
						 // let it happen, don't do anything
						 return;
				}
				else {
					// Ensure that it is a number and stop the keypress
					if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105 )) {
						event.preventDefault(); 
					}
				}
			});
		});
		
	</script>
			
	<form action="/FORM_ACTIONS/grants_form" method="post" name="form1">
	<input type="hidden" name="grantID" value="[[[RESULTS grantID]]]">
	
	<!-- // checkboxes, etc. here // -->
	<p>Thank you for your interest in the MLA travel grant for graduate students.  Our records indicate that you are a current MLA member and have not received this type of travel grant before. Please confirm by checking the box next to the following statements and pressing the Continue button.  </p>
	<ul>
	<p><input id="cb1" type="checkbox" name="cb1" value="1" onclick="checkEligibility(true)">&nbsp;I am a graduate student.</p>
	<p><input id="cb2" type="checkbox" name="cb2" value="1" onclick="checkEligibility(true)">&nbsp;I understand that I can only receive one MLA travel grant during my graduate school tenure.</p>
	<p>Are you receiving travel funding from your institution? You must answer this question to continue the application.</p>
	<p><select id="funding_select" name="INT_DEPT_FUND"><option value="">-- Select --</option><option value="NS">Not Sure</option><option value="Y">Yes</option><option value="N">No</option><option value="NA">Not Applicable</option></select></p>
	<div id="funding_amt_options" style="display: none">
	<p>How much money are you anticipating receiving from your source?</p>
	<p><input type="radio" id="fund_known_Y" name="fund_known" value="Y" onclick="handleFunding()" />&nbsp;&nbsp;I am receiving this amount:&nbsp;&nbsp;$<input type="text" size="5" maxlength="6" id="fund_known_amt" name="fund_known_amount" value="" onkeyup="checkEligibility(true)" onchange="checkEligibility(true)" disabled="disabled" /></p>
	<p><input type="radio" id="fund_known_NS" name="fund_known" value="NS" onclick="handleFunding()" />&nbsp;&nbsp;I am not sure how much money I will be receiving from my institution.</p>
	</div>
	</ul>

<table border="0" cellpadding="5" cellspacing="1" width="100%" bgcolor="[[color1]]">
	<tr>
		<td align="center" bgcolor="[[color3]]">
			<input type="submit" value="Continue" name="grantsContinue" id="grantsContinue" disabled>
		</td>
	</tr>
</table>
	
	</form>

<@/if>
<@/if>
