<h1>Financial Assistance for Unemployed Members</h1>
<@if ($eligible eq "A")>

	<!-- // ALREADY APPLIED // -->
	<p>
		Our records indicate that you have already applied for a grant.  You will be informed of your status by late November.  Please contact Annie Reiser (<a href="mailto:areiser@mla.org">areiser@mla.org</a>) with any questions.  
	</p>
	<p>
		<a href="/grants">Click here to return to the main Grants page</a>.
	</p>
<@else>
<@if ($eligible eq "N")>

	<!-- // NOT ELIGIBLE // -->
	<p>
		Thank you for your interest in the MLA travel grant for unemployed members. This grant is available only to individuals who were members of the MLA by 30 June <@$last_grant_year> and are members in <@$current_grant_year> and is not available to anyone who has received it in the past three years. According to our records, you are ineligible for this grant. If you feel you have received this message in error, please contact Annie Reiser (<a href="mailto:areiser@mla.org">areiser@mla.org</a>).
	</p>
	<p>
		<a href="/grants">Click here to return to the main Grants page</a>.
	</p>

<@else>

	<!-- // THEY ARE ELIGIBLE SO SHOW THE FORM // -->


	<script language="JavaScript">
		var cbArray = new Array();
		cbArray[0] = false;
		cbArray[1] = false;
		cbArray[2] = false;
		checkboxesOK = false;
		textareaOK = false;
		
		function enableContinue_1 (theCheckbox,cbIndex)
		{
			if (theCheckbox.checked)
			{
				cbArray[cbIndex] = true;
			}
			else
			{
				cbArray[cbIndex] = false;
			}
			

			if (cbArray[0] && cbArray[1] && cbArray[2])
			{
				checkboxesOK = true;
			}
			else
			{
				checkboxesOK = false;
			}
			
			enableContinue_2();
			
		}
		
		function enableContinue_2 ()
		{
			
			<@if (!$secondary_conditions_ok)>
				if (document.form1.appl_comments.value.length > 0)
				{
					textareaOK = true;
				}
				else
				{
					textareaOK = false;
				}
			<@else>
				textareaOK = true;
			<@/if>
			
			var theButton = document.getElementById('grantsContinue');

			if (checkboxesOK && textareaOK)
			{
				theButton.disabled = false;
			}
			else
			{
				theButton.disabled = true;
			}
		}
	</script>
			
	<form action="/FORM_ACTIONS/grants_form" method="post" name="form1">
	<input type="hidden" name="grantID" value="[[[RESULTS grantID]]]">
	
	<!-- // checkboxes, etc. here // -->
	<p>Thank you for your interest in the travel grant for unemployed members.  Our records indicate that you have been an MLA member for at least the past two years.  To be eligible for this grant, you must also be a nonstudent who is currently unemployed and earning less than $30,000 annually.  Please confirm by checking the box next to the following statements and pressing the Continue button.  </p>



	<ul>
	<p><input type="checkbox" name="cb0" value="1" onChange="enableContinue_1(this,0)">&nbsp;I am not a graduate student.</p>
	<p><input type="checkbox" name="cb1" value="1" onChange="enableContinue_1(this,1)">&nbsp;I am currently unemployed.</p>
	<p><input type="checkbox" name="cb2" value="1" onChange="enableContinue_1(this,2)">&nbsp;My annual income is below $30,000.</p>

<@if (!$secondary_conditions_ok)>
	<p>Your membership record indicates a membership status or income level that would make you ineligible for this grant.  Please use the comment area below to explain any changes in your status since you last renewed your membership. To enable us to process your application, you must provide an explanation. </p>
<@/if>



<@if (!$secondary_conditions_ok)>
	<p>Explanation of change in status:<br/>
	<textarea name="appl_comments" rows="4" cols="40" onkeyup="enableContinue_2();"></textarea></p>
<@/if>
	</ul>


<table border="0" cellpadding="5" cellspacing="1" width="100%" bgcolor="[[color1]]">
	<tr>
		<td align="center" bgcolor="[[color3]]">
			<input type="submit" value="Continue" name="grantsContinue" id="grantsContinue" disabled>
		</td>
	</tr>
</table>

		</form>

<@/if>
<@/if>
