<@if ($postarg{grantID} eq "GT")>

	<!-- // GRADUATE STUDENT TRAVEL GRANT // -->

	<h1>Financial Assistance for Graduate Students</h1>
	<p>
	Thank you for applying for assistance for graduate students traveling to the MLA convention.  You will receive an e-mail within 24 hours confirming your online application.
	</p>
	<p>
	The deadline for entries is 1 November.  Funds are available to cover a limited number of grants; if applications exceed available funds, we will hold a random drawing.  Entrants are eligible to receive grants only once during their graduate school tenure.  All applicants will be informed of their status by late November.  Please contact Annie Reiser (<a href="mailto:areiser@mla.org">areiser@mla.org</a>) with any questions.
	</p>


<@/if>
<@if ($postarg{grantID} eq "NT")>

	<!-- // NON-TENURE-TRACK TRAVEL GRANT // -->

	<h1>Financial Assistance for Non-Tenure-Track Faculty Members</h1>
	<p>
	Thank you for applying for assistance for non-tenure-track faculty members traveling to the MLA convention.  You will receive an e-mail within 24 hours confirming your online application.
	</p>
	<p>
	<b>As part of the application process</b>, members must request matching funds from their departments or institutions, using a <a href="/travelgrant_letter10">letter</a> provided by the MLA.  The institution’s response must be presented when grant recipients hand in their material at the convention, even if no matching funds are granted. 
	</p>
	<p>
	Funds are available to cover a limited number of awards; if applications exceed available funds, priority will be given to applicants who have not received a grant, including a graduate student travel grant, in the past five years.  If necessary, recipients will be selected randomly.  All applicants will be informed of their status by late November.  Please contact Annie Reiser (<a href="mailto:areiser@mla.org">areiser@mla.org</a>) with any questions.
	</p>
	

<@/if>
<@if ($postarg{grantID} eq "UE")>

	<!-- // UNEMPLOYED TRAVEL GRANT // -->

	<h1>Financial Assistance for Unemployed Members</h1>
	<p>
	Thank you for applying for assistance for unemployed members traveling to the MLA convention.  You will receive an e-mail within 24 hours confirming your online application.  
	</p>
	<p>
	Funds are available to cover a limited number of awards; if applications exceed available funds, priority will be given to applicants who have not received a grant, including a graduate student travel grant, in the past five years.  If necessary, recipients will be selected randomly.  All applicants will be informed of their status by late November.  Please contact Annie Reiser (<a href="mailto:areiser@mla.org">areiser@mla.org</a>) with any questions.  
	</p>
<@/if>
<@if ($postarg{grantID} eq "IT")>

	<!-- // INTERNATIONAL TRAVEL GRANT // -->

	<h1>Financial Assistance for Members Residing outside the United States and Canada</h1>
	<p>
	Thank you for applying for assistance for members residing outside the United States and Canada traveling to the MLA convention.  You will receive an e-mail within 24 hours confirming your online application.
	</p>
	<p>
	Funds are available to cover a limited number of awards; if applications exceed available funds, priority will be given to applicants who are in the lowest dues categories, who do not receive travel funds from their institutions, or who have not received an MLA travel grant of any kind in the past five years.  If necessary, recipients will be selected randomly.  Eligible applicants not selected in 2012 will be given priority in 2013, provided that they apply and still meet the eligibility requirements. Entrants are eligible to receive grants once every three years. All applicants will be informed of their status by late November.  Please contact Annie Reiser (<a href="mailto:areiser@mla.org">areiser@mla.org</a>) with any questions.
	</p>

<@/if>
