<h1>Financial Assistance for Members Residing outside the United States and Canada</h1>
<@if ($eligible eq "A")>

	<!-- // ALREADY APPLIED // -->
	<p>
		Our records indicate that you have already applied for a grant.  You will be informed of your status by late November.  Please contact Annie Reiser (<a href="mailto:areiser@mla.org">areiser@mla.org</a>) with any questions.  
	</p>
	<p>
		<a href="/grants">Click here to return to the main Applications page</a>.
	</p>
<@else>
<@if ($eligible eq "N")>

	<!-- // NOT ELIGIBLE // -->
	<p>
		Thank you for your interest in the MLA travel grant for members residing outside of the United States or Canada.  This grant is available only to individuals who were members of the MLA by 30 June <@$last_grant_year> and are members in <@$current_grant_year>. It is not available to anyone who has received it in the past two years. According to our records, you are ineligible for this grant.
		If you feel you have received this message in error, please contact Annie Reiser (<a href="mailto:areiser@mla.org">areiser@mla.org</a>).
	</p>
	<p>
		<a href="/grants">Click here to return to the main Applications page</a>.
	</p>

<@else>

	<!-- // THEY ARE ELIGIBLE SO SHOW THE FORM // -->
	<script language="JavaScript">
		var cbArray = new Array();
		cbArray[0] = false;
		cbArray[1] = false;
		checkboxesOK = false;
		textareaOK = false;
		
		function enableContinue_1 (theCheckbox,cbIndex)
		{
			if (theCheckbox.checked)
			{
				cbArray[cbIndex] = true;
			}
			else
			{
				cbArray[cbIndex] = false;
			}
			

			if (cbArray[0] && cbArray[1])
			{
				checkboxesOK = true;
			}
			else
			{
				checkboxesOK = false;
			}
			
			enableContinue_2();
			
		}
		
		function enableContinue_2 ()
		{
			
			<@if (!$secondary_conditions_ok)>
				if (document.form1.appl_comments.value.length > 0)
				{
					textareaOK = true;
				}
				else
				{
					textareaOK = false;
				}
			<@else>
				textareaOK = true;
			<@/if>
			var theButton = document.getElementById('grantsContinue');

			if (checkboxesOK && textareaOK)
			{
				theButton.disabled = false;
			}
			else
			{
				theButton.disabled = true;
			}
		}
		
	</script>
			
	<form action="/FORM_ACTIONS/grants_form" method="post" name="form1">
	<input type="hidden" name="grantID" value="[[[RESULTS grantID]]]">
	
	<!-- // checkboxes, etc. here // -->
	<p>Thank you for your interest in the travel grant for members residing outside the United States and Canada.  Our records indicate that you have been an MLA member for at least the past two years.  To be eligible for this grant, you must also be a nonstudent member residing outside the United States or Canada.  Please confirm by checking the box next to the following statements and pressing the Continue button.  </p>



	<ul>
	<p><input type="checkbox" name="cb0" value="1" onChange="enableContinue_1(this,0)">&nbsp;I am not a graduate student.</p>
	<p><input type="checkbox" name="cb1" value="1" onChange="enableContinue_1(this,1)">&nbsp;I currently reside outside the United States and Canada.</p>

<p>Are you receiving travel funding from your institution?&nbsp;&nbsp;<select name="INT_DEPT_FUND"><option value="">-- Select --</option><option value="NS">Not Sure</option><option value="Y">Yes</option><option value="N">No</option><option value="NA">Not Applicable</option></select></p>


<@if (!$secondary_conditions_ok)>
	<p>Your membership record indicates a membership status or country of residence that would make you ineligible for this grant.  Please use the comment area below to explain any changes in your status since you last renewed your membership. To enable us to process your application, you must provide an explanation. </p>
<@/if>

<@if (!$secondary_conditions_ok)>
	<p>Explanation of change in status:<br/>
	<textarea name="appl_comments" rows="4" cols="80" onkeyup="enableContinue_2();"></textarea></p>
<@/if>
	</ul>

<table border="0" cellpadding="5" cellspacing="1" width="100%" bgcolor="[[color1]]">
	<tr>
		<td align="center" bgcolor="[[color3]]">
			<input type="submit" value="Continue" name="grantsContinue" id="grantsContinue" disabled>
		</td>
	</tr>
</table>

	</form>

<@/if>
<@/if>
