<table>
<tr valign="bottom">
<td width="160px" height="160px"><img src="/IMAGES/roland_greene.jpg" width="150px" border="0" alt="Roland Greene"></td>
<td>
<h1>Roland Greene</h1>
First Vice President
</td></tr>
</table>
<p>
Roland Greene was elected second vice president of the MLA in December 2012. He will serve as first vice president beginning in January 2014 and as president from January 2015 until the close of the convention in January 2016. 
</p>
<p>
Greene is the Mark Pigott KBE Professor in the School of Humanities and Sciences at Stanford University, where he has been a member of the <a href="http://english.stanford.edu/bio.php?name_id=59" target="_blank">Department of English</a> and the <a href="http://www.stanford.edu/dept/DLCL/cgi-bin/web/node/3373" target="_blank">Department of Comparative Literature</a> since 2001. Before that, he taught at Harvard University (1984–92) and the University of Oregon (1993–2000). He received his undergraduate degree from Brown University (1979) and his PhD from Princeton University (1985).
</p>
<p>
His scholarship is concerned with the literature and culture of England, Latin Europe, and the transatlantic world in the Renaissance and with poetry and poetics from the sixteenth century to the present. His current research is centered on two book-length projects, a critical reassessment of the baroque and the neobaroque and a study of the poetry of the Americas as a test case for a hemispheric literary history.
</p>
<p>
Greene’s books include <i>Five Words: Critical Semantics in the Age of Shakespeare and Cervantes</i> (2013), <i>Unrequited Conquests: Love and Empire in the Colonial Americas</i> (1999), and <i>Post-Petrarchism: Origins and Innovations of the Western Lyric Sequence</i> (1991). He is editor in chief of the fourth edition of the <i>Princeton Encyclopedia of Poetry and Poetics</i> (2012) and has held fellowships from the National Endowment for the Humanities and the American Council of Learned Societies, among others. He is the founder and director of <i><a href="http://arcade.stanford.edu" target="_blank">Arcade</a></i>, a salon for literature and the humanities that includes online journals, blogs by about thirty contributors, and several other venues. He maintains a blog on the site.
</p>
<p>
Over the years, he has served on several MLA committees—notably the Publications Committee and the Committee on the Structure of the Annual Convention, which conceived the changes in format that have transformed the meeting in recent years—and on the Executive Council. As an MLA officer, he is especially interested in developing a progressive approach to the opportunities of online education; in expanding the international dimension of the MLA to include better representation of Asian, African, Eastern European, and other literatures and languages; and in making the case for increased investment in a tenure-track faculty while enhancing the association’s resources for members in the variety of positions that exist in the present-day university, including non-tenure-track and contingent employment.
</p>
