<h1>Guide to Doctoral Programs</h1>
<a href="/gdp_intro">The searchable 2000-01 edition of the <I>MLA Guide to Doctoral Programs in English and Other Modern Languages</a></i>

For departmental administrators only: <a href="/gdp_main">the forthcoming 2004-05 edition of the <I>MLA Guide to Doctoral Programs in English and Other Modern Languages</a></i>
