<h1>Guide to Doctoral Programs</h1>
<p>
	Welcome to the pilot edition of the MLA <i>Guide to Doctoral Programs in English and Foreign Languages</i>. The guide is not accessible to the general public at this time; however, if you are an administrator in a doctoral program, you may now verify the information that your department submitted on the survey conducted in 2001. 
<p>
	After all participating departments have had the opportunity to verify and correct their records, the guide will become available to the public. Departments may verify and correct their records through 15 January 2004. The guide will then become publicly available.
<p>
	In 2004, we will give departments the opportunity to update their records to include 2002-03 information.
<p>
	To verify your department's information for academic year [[[RESULTS CurYear]]] and make any necessary corrections, please enter your department ID and chair's password below.
<p>
[[[@ifequal $results{dept_exists} "null"]]]
	<b>We do not have any data on file for your Department</b>. Perhaps you are logged in with the wrong ID. <a href="gdp.pl?gdp_login">Click here to log in with a different ID</a>. If you have questions, please contact us at <a href="mailto:[[[RESULTS contact_email]]]">[[[RESULTS contact_email]]]</a>.
[[[@else]]]
	<table border="0" cellpadding="0" cellspacing="0">
		<tr valign="top">
			<td>Univ:&nbsp;</td>
			<td><b>[[[RESULTS UNIV]]]</b></td>
		</tr>
		<tr valign="top">
			<td>Dept:&nbsp;</td>
			<td><b>[[[RESULTS DEPT_NAME]]]</b></td>
		</tr>
	</table>
	<br>
	[[[@ifequal $results{submitted_final} "null"]]]

		[[[@ifequal $results{forms_updated} "null"]]]
			<a href="gdp.pl?gdp_contact&function=edit&DEPT_ID=[[[RESULTS DEPT_ID]]]">Click here to review and edit your department's entry</a>.
		[[[@else]]]
			You have reviewed the checked sections. Click the name of a section to edit that part of your entry. If you have finished reviewing your entry, <a href="http://www.mla.org/" target="_parent">click here</a> to go to the MLA homepage.
			<blockquote>
				<table border="0" cellpadding="1" cellspacing="0">
					<tr valign="bottom">
						<td><img src="/IMAGES/checkmark_blue_[[[@ifequal $results{c} "null"]]]off[[[@else]]]on[[[@endif]]].gif" width="18" heigth="20" alt="Completed" border=""></td>
						<td><a href="gdp.pl?gdp_contact&function=edit&DEPT_ID=[[[RESULTS DEPT_ID]]]">Contact Information</a></td>
					</tr>
					<tr valign="bottom">
						<td><img src="/IMAGES/checkmark_blue_[[[@ifequal $results{r} "null"]]]off[[[@else]]]on[[[@endif]]].gif" width="18" heigth="20" alt="Completed" border=""></td>
						<td><a href="gdp.pl?gdp_requirements&function=edit&DEPT_ID=[[[RESULTS DEPT_ID]]]">Requirements</a></td>
					</tr>
					<tr valign="bottom">
						<td><img src="/IMAGES/checkmark_blue_[[[@ifequal $results{t} "null"]]]off[[[@else]]]on[[[@endif]]].gif" width="18" heigth="20" alt="Completed" border=""></td>
						<td><a href="gdp.pl?gdp_tuition&function=edit&DEPT_ID=[[[RESULTS DEPT_ID]]]">Tuition</a></td>
					</tr>
					<tr valign="bottom">
						<td><img src="/IMAGES/checkmark_blue_[[[@ifequal $results{a} "null"]]]off[[[@else]]]on[[[@endif]]].gif" width="18" heigth="20" alt="Completed" border=""></td>
						<td><a href="gdp.pl?gdp_assistantships&function=edit&DEPT_ID=[[[RESULTS DEPT_ID]]]">Assistantships</a></td>
					</tr>
					<tr valign="bottom">
						<td><img src="/IMAGES/checkmark_blue_[[[@ifequal $results{p} "null"]]]off[[[@else]]]on[[[@endif]]].gif" width="18" heigth="20" alt="Completed" border=""></td>
						<td><a href="gdp.pl?gdp_placement&function=edit&DEPT_ID=[[[RESULTS DEPT_ID]]]">Placement</a></td>
					</tr>
				</table>
			</blockquote>
		[[[@endif]]]
		
	[[[@else]]]
		The changes you submitted for your entry have been posted. Thank you for reviewing and editing your entry. If you wish, you may review the data you submitted by clicking the links to each section below.
		<blockquote>
				<table border="0" cellpadding="1" cellspacing="0">
					<tr valign="bottom">
						<td><img src="/IMAGES/checkmark_blue_on.gif" width="18" heigth="20" alt="Completed" border=""></td>
						<td><a href="gdp.pl?gdp_contact&function=edit&DEPT_ID=[[[RESULTS DEPT_ID]]]&mode=view">Contact Information</a></td>
					</tr>
					<tr valign="bottom">
						<td><img src="/IMAGES/checkmark_blue_on.gif" width="18" heigth="20" alt="Completed" border=""></td>
						<td><a href="gdp.pl?gdp_requirements&function=edit&DEPT_ID=[[[RESULTS DEPT_ID]]]&mode=view">Requirements</a></td>
					</tr>
					<tr valign="bottom">
						<td><img src="/IMAGES/checkmark_blue_on.gif" width="18" heigth="20" alt="Completed" border=""></td>
						<td><a href="gdp.pl?gdp_tuition&function=edit&DEPT_ID=[[[RESULTS DEPT_ID]]]&mode=view">Tuition</a></td>
					</tr>
					<tr valign="bottom">
						<td><img src="/IMAGES/checkmark_blue_on.gif" width="18" heigth="20" alt="Completed" border=""></td>
						<td><a href="gdp.pl?gdp_assistantships&function=edit&DEPT_ID=[[[RESULTS DEPT_ID]]]&mode=view">Assistantships</a></td>
					</tr>
					<tr valign="bottom">
						<td><img src="/IMAGES/checkmark_blue_on.gif" width="18" heigth="20" alt="Completed" border=""></td>
						<td><a href="gdp.pl?gdp_placement&function=edit&DEPT_ID=[[[RESULTS DEPT_ID]]]&mode=view">Placement</a></td>
					</tr>
				</table>
			</blockquote>
	[[[@endif]]] 
[[[@endif]]]

[[[@ifequal $cookie{adminid} "null"]]]
[[[@else]]]
	<p>[<a href="gdp.pl?gdp_admin">Go to Admin page</a>]
[[[@endif]]]

<p>
