<h1>Member Access to <i>MLA Handbook</i> Web Site</h1>
All MLA members now have free access to the <i>MLA Handbook</i> directly from the MLA Web site. The <i>Handbook</i> site features

<ul><li>The full text of the print volume of the <i>MLA Handbook</i></li>
<li>Over two hundred additional examples</li>
<li>Several research project narratives—stories, with sample papers, that illustrate the steps successful students take in researching and writing papers</li></ul> 
Please note that if you wish to access your existing account for the <i>MLA Handbook</i> site, you will need to log out of MLA-member access and log in using your individual account information.

<a href="http://www.mlahandbook.org">Access the <i>MLA Handbook</i> Web site now</a>.

By clicking on the above link, you agree to the <a href="/handbook_terms">Terms of Use</a>.
