<h1>MLA Handbook&#151;Complimentary Copy</h1>
<@if ($already_completed)>
<p><b>You may only fill this form out once.</b></p>
<p>If you have questions, please contact customer services at <a href="mailto:membership@mla.org">membership@mla.org</a>.</p>
<@else>
<@if ($submit_success)>
<p><b>Thank you.</b></p>
<p>Your complimentary copy will be sent to you in the mail. Complimentary copies of the <i>MLA Handbook</i> are sent out every ninety days. If you have questions, please contact the membership office at <a href="mailto:membership@mla.org">membership@mla.org</a>.</p>
<@else>
<p>Confirm your mailing address below to receive your complimentary copy of the seventh edition of the <i>MLA Handbook for Writers of Research Papers</i>.</p>
<p>If your current mailing address is not listed below, please <a href="/join_update">click here</a> to update the address we have on file for you. Return here after your changes have been approved to request your complimentary copy of the <i>MLA Handbook</i>.</p>
<form action="/[[[searcharg file]]]" method="POST">
<input type="hidden" name="hb_addr" value="[[[RESULTS HB_ADDR_ID]]]" />
<table width="90%" align="center">
	<tr style="border: 1px solid #666666">
		<td>[[[RESULTS HB_ADDRESS_DISPLAY]]]</td>
	</tr>
	<tr style="margin-top: 16px">
		<td><input type="submit" name="submit" value=" Ship to this address "></td>
	</tr>
</table>
</form>
<p>Complimentary copies of the <i>MLA Handbook</i> are mailed every ninety days.  If you have questions, please contact customer services at <a href="mailto:membership@mla.org">membership@mla.org</a>.</p>
<@/if>
<@/if>
