<h1>Terms of Use</h1>
Before using the Web component (“Site”) of the <i>MLA Handbook for Writers of Research Papers</i> (“<i>MLA Handbook</i>”), written and published by the Modern Language Association (“MLA”), please read these terms of use (“Terms of Use”), which, together with the <a href="#privacy_statement">Privacy Statement</a>, govern your use of the Site. 
<h2>Purpose of This Site</h2>
The Site provides material intended to supplement the print component of the <i>MLA Handbook</i> and is intended for use only by <a href="#authorized_user">Authorized Users</a>. The Site presents nearly all the contents of the print component and provides additional examples. The research project narratives and sample papers are unique to the Site and present material in a visual format that permits you to see the application of the methods and procedures described in the print component of the <i>MLA Handbook</i>. 
<h2>Intellectual Property</h2>
The Site contains copyrighted material owned by the MLA and the material of others from whom the MLA obtained permission for use. Except for the <a href="#permitted_uses">permitted uses</a> described below, you are not entitled to exercise any copyright rights in the material on the Site.

“The Modern Language Association” and “MLA” are trademarks of the MLA (“MLA Trademarks”), and your authorized use of the Site does not imply any license to use the MLA Trademarks for any purpose. You may not use the MLA Trademarks in connection with any products or services that do not belong to the MLA or in any manner that is likely to cause confusion about the source of any product or service, that implies that the MLA endorses anyone else’s product or service, or that disparages or discredits the MLA. You may not register any domain names containing any MLA Trademarks without the MLA’s prior written consent in each case. Without the MLA’s prior written consent, you may not include the MLA Trademarks in metatags or in any other “hidden text” on a Web site. 

For information about obtaining permission to reprint or license material from MLA publications, send your request by
<ul><li>mail: The Modern Language Association of America
26 Broadway, 3rd floor
New York, New York 10004-1789</li>
<li>e-mail: <a href="mailto:permissions@mla.org">permissions@mla.org</a></li>
<li>fax: 646 458-0030</li></ul>
<h2>Rights and Responsibilities</h2>
<h3 id="authorized_user">1. Definition of “Authorized User”</h3>
Any member of the MLA is an Authorized User.
<h3 id="permitted_uses">2. Permitted Uses</h3>
An Authorized User may exercise only the following permitted uses of the Site and of the MLA’s copyrighted materials:
<ul><li>Print one copy of any portion of the Site for personal use.</li>
<li>Download one copy of each sample paper on a personal computer for personal use. Personal use does not include submitting all or part of a sample paper from the Site for academic credit.</li> 
<li>Display the Site or portions of it on a screen or monitor for the purpose of face-to-face classroom instruction.</li>
<li>Display the Site or portions of it on a monitor in a library for the use of an institution’s librarians as they provide face-to-face reference assistance.</li></ul> 
<h3>3. Uses Not Permitted</h3>
The following uses are not permitted. This list includes examples and is not exhaustive. You should assume that any use not among the <a href="#permitted_uses">permitted uses</a> is not permitted. 
<ul><li>Dissemination of any part of the Site to others, selling a copy of any material, or using a copy for any kind of commercial venture.</li> 
<li>Use in course packs (printed or online) without permission.</li>
<li>Linking to or framing any part of the Site other than the Site’s public home page, www.mlahandbook.org.</li>
<li>Sharing of MLA-member log-in information for the purpose of allowing access to www.mlahandbook.org.</li></ul>
If an Authorized User engages in a use of the Site that is not permitted, the MLA reserves the right to bar that Authorized User’s access to the Site permanently. You agree to indemnify the MLA and its officers, directors, employees, and agents against all liabilities, losses, damages, and costs (including reasonable attorneys’ fees) that the MLA may incur because of your violation of these Terms. 
<h2>Disclaimers</h2>
<h3>1. Research Project Narratives</h3>
The characters and events in the research project narratives are fictitious. Any similarity to real persons, living or dead, is coincidental and unintentional. 
<h3>2. Service Interruptions / Correction of Errors or Omissions</h3>
THE MLA MAKES EVERY EFFORT TO ENSURE THAT SERVICE ON THE SITE WILL BE AVAILABLE AT ALL TIMES, BUT IT DOES NOT WARRANT THAT SERVICE WILL BE UNINTERRUPTED.

TO THE MAXIMUM EXTENT PERMITTED UNDER LAW, THE MLA DISCLAIMS ALL EXPRESS OR IMPLIED WARRANTIES WITH RESPECT TO THE SITE AND ANY CONTENT OR INFORMATION AVAILABLE THROUGH IT, INCLUDING WITHOUT LIMITATION ANY WARRANTY OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE (EVEN IF THAT PURPOSE HAS BEEN DISCLOSED). 

THE MLA MAKES NO REPRESENTATIONS OR WARRANTIES ABOUT THE ACCURACY, COMPLETENESS, TIMELINESS, RELIABILITY, OR NONINFRINGEMENT OF ANY CONTENT ON THE SITE. THE MLA DOES NOT WARRANT THAT ALL THE MATERIAL ON THE SITE IS CORRECT OR COMPLETE, AND THE MLA RESERVES THE RIGHT, WITHOUT INCURRING ANY LIABILITY UNDER ANY THEORY, TO CORRECT ANY ERRORS OR OMISSIONS ON THE SITE. 
<h3>3. Destructive Code</h3>
ALTHOUGH THE MLA TAKES REASONABLE STEPS TO PREVENT THE INTRODUCTION OF VIRUSES, WORMS, "TROJAN HORSES," OR OTHER DESTRUCTIVE MATERIALS TO THIS SITE, THE MLA DOES NOT GUARANTEE OR WARRANT THAT THE SITE OR MATERIALS THAT MAY BE DOWNLOADED FROM IT DO NOT CONTAIN SUCH DESTRUCTIVE FEATURES. IF YOU USE THE SITE OR ANY MATERIALS AVAILABLE THROUGH IT, YOU DO SO SOLELY AT YOUR OWN RISK. 
<h2 id="privacy_statement">Privacy Statement</h2>
The <a href="/privacy">privacy policy</a> of the MLA Web site (<a href="http://www.mla.org">www.mla.org</a>) governs your use of this Site.
<h2>General Terms</h2>
These Terms of Use, including the Privacy Statement, are the complete agreement between the MLA and Authorized Users regarding use of the Site, and any dispute arising from or related to this Site is governed by the law of the State of New York applicable to agreements made and completely performed there. You irrevocably agree to bring any claim or dispute relating to your use of the Site or to these Terms of Use exclusively in the state and federal courts located in the State and County of New York, to submit to the exclusive jurisdiction of those courts, and to waive any jurisdictional, venue, or inconvenient-forum objections to those courts. If a court determines that any provision of these Terms of Use is unenforceable for any reason, then that provision will be deleted and the remaining provisions will be enforceable to the fullest extent the law permits. 
<h2>Questions or Comments</h2>
If you have questions or comments about these Terms of Use, including the Privacy Statement, please direct them to the MLA’s director of operations (<a href="mailto:operations@mla.org">operations@mla.org</a>). 
