<h1>How do I create the indention that the MLA shows for a works-cited list? </h1>
We recommend the use of <i>hanging indention</i> for the entries in the works-cited list: the first line of each entry is flush left, and subsequent lines in the entry are indented. Hanging indention makes alphabetical lists easier to use.

In a word processor, the best way to create this indention is to highlight the paragraphs that are (or will be) entries and then choose hanging indention in the options for formatting paragraphs.
