<h1>Searching the <I>MLA International Bibliography</i></h1>
<table bgcolor="#cccccc" border="0" cellpadding=1 cellspacing=0 width=600><tr><td>
<table border=0 cellpadding=4 cellspacing=0 width=600>
<tr bgcolor="[[color1]]"><td align="center" colspan=3><b><font color="white">Contents</b></font></td></tr>
<tr bgcolor="#ffffff"><td width="335" valign="top">
<a class="sectionindex" href="#whereto">Where to Find the Database</a>
<img src="/IMAGES/clear.gif" width="1" height="5" alt="MLA.org" border="0">
<a class="sectionindex" href="#choosing">Choosing Effective Search Terms</a>
<img src="/IMAGES/clear.gif" width="1" height="5" alt="MLA.org" border="0">
<a class="sectionindex" href="#basic">Basic Searching</a>
<img src="/IMAGES/clear.gif" width="1" height="5" alt="MLA.org" border="0">
<a class="sectionindex" href="#advanced">Advanced Searching</a>
<img src="/IMAGES/clear.gif" width="1" height="5" alt="MLA.org" border="0">
<a class="sectionindex" href="#mla">MLA Thesaurus</a>
<img src="/IMAGES/clear.gif" width="1" height="5" alt="MLA.org" border="0">
<a class="sectionindex" href="#browsing">Browsing</a>
<img src="/IMAGES/clear.gif" width="1" height="5" alt="MLA.org" border="0">
<a class="sectionindex" href="#boolean">Boolean Searching</a>
</td><td width="30" valign="top">&nbsp;
</td><td width="335" valign="top">
<a class="sectionindex" href="#truncation">Truncation</a>
<img src="/IMAGES/clear.gif" width="1" height="5" alt="MLA.org" border="0">
<a class="sectionindex" href="#byfield">Searching by Field</a>
<img src="/IMAGES/clear.gif" width="1" height="5" alt="MLA.org" border="0">
<a class="sectionindex" href="#bykeyword">Searching by Keyword</a>
<img src="/IMAGES/clear.gif" width="1" height="5" alt="MLA.org" border="0">
<a class="sectionindex" href="#bydocument">Searching by Document Author</a>
<img src="/IMAGES/clear.gif" width="1" height="5" alt="MLA.org" border="0">
<a class="sectionindex" href="#bysubject">Searching by Subject Author</a>
<img src="/IMAGES/clear.gif" width="1" height="5" alt="MLA.org" border="0">
<a class="sectionindex" href="#byjournal">Searching by Journal</a>
<img src="/IMAGES/clear.gif" width="1" height="5" alt="MLA.org" border="0">
<a class="sectionindex" href="#limited">Limiting Searches</a>
</td></tr></table>
</td></tr></table>
<a name="whereto"></a>
<H2>Where to Find the Database</h2>
The <I>MLA International Bibliography</i> is available on the Web to libraries by subscription through several vendors.  Individual subscriptions are not offered.  To access the database, go to your library's home page and scroll through the list of databases.  Unless you are in the library building, an ID and password are probably required for entry.  Consult your librarian if you have difficulty finding or using the bibliography. Each vendor offers the bibliography through at least one "platform," or software interface: 
<ul>
	<li>CSA Illumina (from ProQuest)</li>
	<li>EBSCO<I>host</i> (from EBSCO)</li>
	<li>InfoTrac (from Cengage Learning/Gale)</li>
	<li>Literature Online (from ProQuest)</li>
	<li>Literature Resource Center (from Cengage Learning/Gale)</li>
	<li><I>MLA International Bibliography</i> Standalone (from ProQuest/Chadwyck-Healey)</li>
</ul>
Each interface differs.  If you have questions about using a vendor's platform that are not addressed in this document, consult the vendor's help information. (See <a href="/bibliovendors_guidesperiod.htm">Vendors' Guides for Users</a>.)
<a name="choosing"></a>
<H2>Choosing Effective Search Terms</h2>
Before you begin searching, spend some time thinking about how to structure your search.  Consider what subject you are interested in, and answer the following questions:
<ul>
	<li>Are you looking for information on a particular author, work, or genre?  </li>
	<li>Are you looking for information on literature from one country?</li>
	<li>Are you looking for information on a particular theme in literature?</li>
	<li>Are you looking for information on a particular language or linguistic concept?</li>
	<li>Are you looking for books and articles by a particular scholar?</li>
	<li>Do you want to limit your search to a kind of publication?  </li>
	<li>Do you want to limit your search to a journal title? </li>
	<li>Do you want to limit your search to a language of publication?</li>
</ul><a name="basic"></a>
<H2>Basic Searching</h2>
In a basic search, you enter your request on one line without considering what fields need to be combed.  You can enter one word or a phrase. For example:
<blockquote>
Atwood, Margaret
Margaret Atwood
Huckleberry Finn
hard-boiled detective novel
Spanish identity
psycholinguistics
</blockquote>
<a name="advanced"></a>
<H2>Advanced Searching</H2>
Sometimes basic searching causes too many records to be retrieved.  Advanced searching is more powerful and allows you to limit the search to specific fields.  You can also use Boolean operators to combine and exclude results (see <a href="#boolean">below</a>). For example, an advanced search could request documents that address "Faulkner, William" as author and "As I Lay Dying" as a literary work title.
<a name="mla"></a>
<H2>MLA Thesaurus</h2>
The bibliography staff has created a thesaurus of over 50,000 terms and 200,000 names to ensure consistency in the terms and names assigned during indexing. The thesaurus can also help users determine appropriate subjects for broadening or narrowing their searches. The thesaurus is regularly updated to reflect current scholarship in literature, language, folklore, and linguistics. The kind of information in the thesaurus is noted in the table below:
<P>
<table width=600 cellspacing=0 cellpadding=4 border=1><TR><td valign="top" width=200>Subject heading</td><td valign="top" width=400>The term or name chosen to describe the contents of the document</td></tr>
<TR><td valign="top" width=200>Used for</td><td valign="top" width=400>Alternative (nonpreferred) terms or names, which include synonyms, variant spellings, and older versions of the heading</td></tr>
<TR><td valign="top" width=200>Broader subject headings</td><td valign="top" width=400>More general terms or concepts</td></tr>
<TR><td valign="top" width=200>Related subject headings</td><td valign="top" width=400>Related terms or concepts</td></tr>
<TR><td valign="top" width=200>Narrower subject headings</td><td valign="top" width=400>More specific terms or concepts</td></tr></table>
<a name="browsing"></a>
<h2>Browsing</h2>
The browsing index is an alphabetical listing of words and phrases used in a particular field.  Use the browsing index when you want to know what variations of a name or term have been included in the bibliography.  Examples of browsable fields are journal name, document author, and subject heading.
<a name="boolean"></a>
<h2>Boolean Searching</h2>
Including Boolean operators in your search allows you to tailor your query to your information needs.
<P>
<table width=600 cellspacing=0 cellpadding=4 border=1>
<TR><td valign="top" width=100><b>Operator</b></td><td valign="top" width=200><b>Meaning</b></td><td valign="top" width=300><b>Example</b></td></tr>
<TR><td valign="top" width=100>and</td><td valign="top" width=200>Both terms must be in the record.</td><td valign="top" width=300>Searching for "American and literature" will return only records that contain both words--<i>American</i> and <i>literature</i>.</td></tr>
<TR><td valign="top" width=100>or</td><td valign="top" width=200>One or both of the terms must be in the record.</td><td valign="top" width=300>Searching for "American or literature" will return records that contain either word--<i>American</i> or <i>literature</i>--or both words.</td></tr>
<TR><td valign="top" width=100>not</td><td valign="top" width=200>The term after the operator must not be in the record.</td><td valign="top" width=300>Searching for "American not literature" will return records that contain the word <i>American</i> but do not contain the word  <i>literature</i>.</td></tr></table>
<a name="truncation"></a>
<H2>Truncation</H2>
When you are uncertain of the spelling, the singular or plural status, or the part of speech of a term you are searching for, you can use truncation symbols to widen your search.  A truncation symbol is never used as the first character in a search term. Below are two of the most useful truncation symbols:
<ul>
	<li>The question mark (?) can stand for any single character (letter or number).  For example, "wom?n" will allow you to search for <i>woman</i>, <i>women</i>, and <i>womyn</i>.</li>
	<li>The asterisk (*) can stand for any number of characters.  You can use it with a word root to find various forms of the word. For example, "anthropolog*" will match <i>anthropology</i>, <i>anthropologist</i>, <i>anthropologists</i>, <i>anthropological</i>, <i>anthropologically</i>, and so on.</li>
</ul>
<a name="byfield"></a>
<H2>Searching by Field</H2>
Each bibliographic record is divided into fields, allowing you to perform precise searches and retrieve exactly the citations you need. Not all fields are included in every record. The fields may be labeled on-screen or may be identified by the user with two-letter codes in the search phrase.  Each vendor of the bibliography makes its own determination about which fields are searchable and how they are labeled.  Some vendors present scrollable (browsable) lists of values used in a particular field. <a href="/vendors_biblio" target="_blank">A table</a> lists the fields available for searching.
<a name="bykeyword"></a>
<h2>Searching by Keyword</h2>
When you do not specify a field in which to search for information, the entire record will be scanned.  Words in titles, subjects, and journal names are included in these searches. Authors' names may be considered keywords by some vendors.

Some words are deemed "stop words," which are ignored in searches.  These generally include common words such as <i>the</i>, <i>a</i>, <i>an</i>, <i>in</i>, <i>on</i>, <I>more</i>, and <i>to</i>.  Depending on the vendor, foreign language articles may also be considered stop words.  Each vendor has a listing of stop words in its help documentation. 
<a name="bydocument"></a>
<h2>Searching by Document Author</h2>
Type a name in the "author" box if you are looking for material written by a particular scholar.  Indexers enter an author's name into the <i>MLA International Bibliography</i> exactly as it appears in the document but in an inverted format (last name, first name, and middle name or initial).  If a middle name appears in the document, it is entered. If an initial appears, only the initial is entered, even if the full name is known. The indexers' policy is to reproduce the name exactly as printed.  

Most vendors (CSA, EBSCO, ProQuest) have created a browsable list of author names.  Using this list is a good way to search several variations of a name at one time.  Browsing is also helpful when you are uncertain of spelling.

The examples below show how authors' names vary in different records:
<blockquote>
Dow, James
Dow, James R.

Oakhill, J. V. 
Oakhill, Jane
Oakhill, Jane V.
	
Greenblatt, Stephen
Greenblatt, Stephen J.
Greenblatt, Stephen Jay
</blockquote>
Some vendors, like ProQuest and EBSCO, segment authors' names by function in their browsable list.  For example:
<blockquote>
Smith, Ellen
Smith, Ellen (ed.)
Smith, Ellen (ed. and introd.)
</blockquote>
If you want to locate all works written, edited, or introduced by Ellen Smith, you must select all from the list.  If you type "Smith, Ellen" in the searching box, all will be retrieved.

A search may produce no results for one of these reasons:
<ul>
	<li>You did not type the name in an inverted form. (Some vendors require this.)</li>
	<li>You misspelled the name.</li>
	<li>This author is not in the file.</li>
</ul><a name="bysubject"></a>
<h2>Searching by Subject Author</h2>
You can perform a search for books and articles about a specific subject author, like Jane Austen or Pablo Neruda. <i>Named Person</i> and <i>Author as Subject</i> are other labels used for these personal subjects.  This field is also used to find works about literary critics, linguists, folklorists, film directors, and so on.  Indexers enter the name of each subject person into the bibliography in a single, preferred form, regardless of how the name appears in the document.  Variants are searchable in the names thesaurus, which is available on each platform.  

Generally, the preferred name is the one by which the person is known in his or her country of origin.  For example, Alexander Pushkin's preferred name is <i>Pushkin, Aleksandr Sergeevich</i>.  A person's given name, if known, is usually chosen over a pseudonym.  For example, use <i>Clemens, Samuel</i> rather than <i>Twain, Mark</i>.  Library of Congress rules (AACR2) are consulted when questions of formulation arise.  

Birth and death dates have been attached to subject names in the record display but are not searchable.  This is due to inconsistencies with the indexing system used before 1981.  

Below are examples of searches by a subject author's name:
<blockquote>
Jacobs, Harriet
Proust
Proust, Marcel
</blockquote>
A search may produce no results for one of these reasons: 
<ul>
	<li>You did not type the name in an inverted form. (Some vendors require this.)</li>
	<li>You misspelled the name or did not use the preferred form.</li>
	<li>This subject is not in the file.</li>
</ul><a name="byjournal"></a>
<h2>Searching by Journal</h2>
You can find articles in one journal by searching the field labeled <i>Journal</i>, <i>Source</i>, or <i>Journal Name</i> (depending on the vendor).  This element includes both titles and subtitles.  Sometimes the subtitle, which may not be commonly known, changes.  A browsable list of journal names allows you to find variations in titles.  The <i>MLA Directory of Periodicals</i>, provided with the <i>MLA International Bibliography</i>, is a database of information on journals, including editors, subscription procedures, editorial policies, and more.

Below are examples of searches by a journal name:
<blockquote>
French Review
French Review: Journal of the American Association of Teachers of French
</blockquote>
In past print editions of the bibliography, many journal names were represented by abbreviations.  Since then, the staff has expanded and standardized journal titles in the file.  This project is almost complete, but you may find an occasional abbreviation in this field. 

Depending on the vendor, you can also search for a particular volume, issue, or year of publication for a journal.  Some vendors even allow you to search for articles that start or end on a particular page. 
<a name="limited"></a>
<h2>Limiting Searches </h2>
Once you have performed a search, you may need to refine your strategy because too many records were retrieved or some were not relevant to your needs.  You can create a more precise search by adding limiters. 
<a name="byupdate"></a>
<blockquote><h3>Limiting by Update Code</h3>
To view material added to the bibliography at a certain time, choose the option labeled <i>Update Code</i>, if available.  (This limiter is not found on all platforms.)
<a name="bydocumenttype"></a>
<h3>Limiting by Document Type</h3>
Each record is described as one of the following publication types. A search can be restricted to one type.
<ul>
	<li><b>Journal article.</b> An article, essay, bibliography, or interview in a journal.  Special issues, special sections, and monographic issues of a journal are also coded as journal articles.</li>
	<li><b>Book monograph.</b>  A single, unified work in book form, by one author or jointly written by multiple authors.  An edition or translation of a literary work is considered a monograph, even if the requisite critical apparatus is by a number of contributors.  A collection of essays by one author, an anthology by multiple contributors on one theme, and a reference book (such as a dictionary, literary history, or encyclopedia) are also labeled book monographs.  Beginning with 2003 publications, the table of contents is provided for each title, as appropriate.</li>
	<li><b>Book collection.</b>  A book of articles or a Festschrift containing independent scholarship by diverse authors.  A record for the book as a whole is provided when it contains three or more articles falling within the scope of the bibliography that are also indexed.</li>
	<li><b>Book article.</b>  An article or essay in a book collection.</li>
	<li><b>Dissertation abstract.</b> A summary of a doctoral dissertation that was printed in an issue of <i>Dissertation Abstracts International</i>.  Summaries of doctoral dissertations found in foreign journals are also indexed.  For assistance in locating the full dissertation, consult with your librarian.</li>
<li><b>Web site.</b>  Scholarly Web sites.</li>
</ul><a name="bypeer"></a>
<h3>Limiting by Peer Review</h3>
Peer review is a system of scholarly journal publishing where a body of experts (or peers) reviews each article presented for publication and determines its appropriateness.  An option is available for searchers to limit their results to peer-reviewed journals (also called refereed).
<a name="bylinked"></a>
<h3>Limiting by Linked Full Text</h3>
Some vendors of the bibliography allow users to limit their searches to material available as full text in other databases on the same platform.  Using this limiter does not ensure that your search identifies all relevant electronic full text available through your library, since publications may be available in databases from other sources.  Consult your librarian if you are uncertain.

The <i>MLA International Bibliography</i> has indexed all language and literature titles in the <a href="/bib_jstor_project"><i>JSTOR</i> database</a>.  If your library subscribes to this collection, you can seamlessly link from the MLA citation to the full text in <i>JSTOR</i>.  

Full-text links for <i>Project Muse</i> journals and <i>Dissertation Abstracts International</i> records are also included in the bibliography.

Additionally, to help users find electronic full text, some records contain DOIs (digital object identifiers), names that permanently identify resources on the Internet.
<a name="bylanguage"></a>
<h3>Limiting by Language</h3>
The <i>MLA International Bibliography</i> includes material written in about seventy languages.  You can limit your search to one or more of these languages. Some vendors provide a browsable list of languages to be searched. For sources written in non-Roman alphabets, the title, author, and other information is transliterated according to Library of Congress rules.
<a name="byyear"></a>
<h3>Limiting by Year of Publication</h3>
By typing a four-digit year into the appropriate box, you can limit your search to books or articles that were published in that year.  
</blockquote>

< <a href="/howtouse_mlabiblio">Start</a> | <a href="/viewingresults_searchbiblio1558">Continue</a> >
