<h1>Huntington Library Reading Rooms</h1>

For more than eighty years the Huntington Library has served scholars with its collections of rare books, manuscripts, graphic materials, and reference works for the scholarly study of British and American history and literature, the history of science, and the history of the book. For qualified scholars, the library provides access to these materials in its reading rooms. 

Admission to the library must be arranged a minimum of three weeks in advance and on an individual basis. Demand for access is high, and space is limited. Those who wish to apply for reading privileges at the library should submit an <a href="http://www.huntington.org/huntingtonlibrary.aspx?id=586">application</a> to the Reader Services Department in one of the following categories: 
<blockquote>Faculty members (must hold both a full-time faculty position at a college or university and a PhD in the area of proposed research) 
Doctoral students (only those who have passed their qualifying PhD examinations)
Independent scholars</blockquote>

By appointment, the library is open Monday through Saturday from 8:30 a.m. to 5:00 p.m. to holders of current readers' cards.

Visit the <a href="http://www.huntington.org/huntingtonlibrary.aspx?id=586">Huntington Library Web site</a> for reader application forms and additional information about the library. 
