<h2>Help Pages for Internet Calendars</h2>
<p>Information about subscribing to Internet calendars is available on these help pages. </p>
<p><a href="http://support.google.com/calendar/bin/answer.py?hl=en&answer=37100" target="blank">Subscribe to calendars in Google Calendar</a></p>

<p><a href="http://www.apple.com/findouthow/mac/#subscribeical" target="blank">Subscribe to an iCal Calendar</a></p>

<p><a href="http://office.microsoft.com/en-us/outlook-help/view-and-subscribe-to-internet-calendars-HA010167325.aspx" target="blank">Outlook: View and subscribe to Internet Calendars</a></p>
