<H1>In Memoriam 2008–09</H1>
<div class="top_indent">Ola Adams, New York, New York, 11 September 2008</div>
<div class="top_indent">Betty Bandel, University of Vermont, 2 July 2008</div>
<div class="top_indent">Fernande Bassan, Wayne State University, 19 October 2008</div>
<div class="top_indent">Karl Beckson, Brooklyn College, City University of New York, 29 April 2008</div>
<div class="top_indent">Douglas A. Brooks, Texas A&M University, College Station, 27 January 2009 </div>
<div class="top_indent">J. F. Buckley, Ohio State University, Mansfield, 6 September 2008</div>
<div class="top_indent">Charles Clerc, University of the Pacific, 27 March 2008</div>
<div class="top_indent">Pauline Coll, Averett University, 23 August 2008</div>
<div class="top_indent">Anna Janney DeArmond, University of Delaware, 26 March 2008</div>
<div class="top_indent">John DeFrancis, University of Hawai'i, Mānoa, 2 January 2009</div>
<div class="top_indent">Gloria Dickinson, College of New Jersey, 18 January 2009</div>
<div class="top_indent">Lorayne Dollet, Chicago, Illinois, 9 July 2008</div>
<div class="top_indent">Elizabeth S. Donno, Columbia University, 21 September 2008 </div>
<div class="top_indent">Edward J. Dudley, University at Buffalo, State University of New York, 21 July 2008</div>
<div class="top_indent">Mildred O. Durham, Northwestern Connecticut Community College, 14 December 2008 </div>
<div class="top_indent">Dianne L. Dutton, University of Lethbridge, 31 October 2008</div>
<div class="top_indent">Robert Henry Elias, Cornell University, 16 August 2008</div>
<div class="top_indent">Emory B. Elliott, University of California, Riverside, 31 March 2009 </div>
<div class="top_indent">Robert Owen Evans, University of New Mexico, Albuquerque, 1 December 2008</div>
<div class="top_indent">Richard C. Exner, University of California, Santa Barbara, 16 July 2008</div>
<div class="top_indent">Peter Firchow, University of Minnesota, Twin Cities, 18 October 2008</div>
<div class="top_indent">Elizabeth Forter, Lawrence University, 28 November 2007</div>
<div class="top_indent">Robert H. Fossum, Claremont McKenna College, Graduate School, 6 November 2008</div>
<div class="top_indent">Clarence A. Glasrud, Moorhead State University, 14 March 2008</div>
<div class="top_indent">Gerard Raoul Gouvernet, State University of New York, Geneseo, 18 July 2008</div>
<div class="top_indent">George C. Gross, San Diego State University, 1 February 2009 </div>
<div class="top_indent">Ervene Frances Gulley, Bloomsburg University, 25 July 2008</div>
<div class="top_indent">Kathleen Harris, Toronto, Ontario, Canada, 21 December 2008</div>
<div class="top_indent">Claire Healey, Montclair State University, 24 March 2008</div>
<div class="top_indent">A. Kent Hieatt, University of Western Ontario, 8 January 2009</div>
<div class="top_indent">José Eduardo Jaramillo-Zuluaga, Denison University, 23 December 2008</div>
<div class="top_indent">Clyde A. Jones, University of Connecticut, Storrs, 28 December 2008</div>
<div class="top_indent">Barbara Kachur, University of Missouri, Saint Louis, 28 December 2008 </div>
<div class="top_indent">Ludwig W. Kahn, Columbia University, 4 December 2007</div>
<div class="top_indent">Sy M. Kahn, University of the Pacific, 27 November 2007</div>
<div class="top_indent">Françoise Mélat Kantor, Hood College, 15 March 2008 </div>
<div class="top_indent">Caren Kindel, Kent State University, Kent, 1 June 2007</div>
<div class="top_indent">Albert C. Labriola, Duquesne University, 11 March 2009</div>
<div class="top_indent">William Laskowski, Jamestown College, 18 August 2007</div>
<div class="top_indent">Jesse Levitt, University of Bridgeport, 8 December 2008 </div>
<div class="top_indent">Hyman Lichtenstein, Hofstra University, 25 September 2008</div>
<div class="top_indent">Ian Craig Loram, University of Wisconsin, Madison, 17 November 2008</div>
<div class="top_indent">Hugh Reid MacCallum, University of Toronto, University College, 18 July 2008</div>
<div class="top_indent">Lawrence C. Mantini, Minneapolis, Minnesota, 3 April 2009</div>
<div class="top_indent">James W. Mathews, University of West Georgia, 1 March 2008</div>
<div class="top_indent">William B. McCarthy, Penn State University, DuBois, 27 June 2008</div>
<div class="top_indent">Edgar L. McCormick, Kent State University, Kent, 26 February 2008</div>
<div class="top_indent">Frederick P. W. McDowell, University of Iowa, 5 March 2009 </div>
<div class="top_indent">Reverend Maurice Basil McNamee, SJ, Saint Louis University, 28 January 2007</div>
<div class="top_indent">Paul Hugo Meyer, University of Connecticut, Storrs, 13 June 2008</div>
<div class="top_indent">Arnold Miller, University of Wisconsin, Madison, 22 August 2008</div>
<div class="top_indent">Jordan Yale Miller, University of Rhode Island, 24 September 2008</div>
<div class="top_indent">Es'kia Mphahlele, University of the Witwatersrand, South Africa, 27 October 2008 </div>
<div class="top_indent">Howard M. Munford, Middlebury College, 30 June 2008</div>
<div class="top_indent">William M. Murphy, Union College, New York, 26 September 2008</div>
<div class="top_indent">Peter Albert Okray, University of Wisconsin Colleges, Marathon County Campus, 5 July 2008</div>
<div class="top_indent">Don H. Otto, Saint Cloud State University, 12 October 2008</div>
<div class="top_indent">Janis L. Pallister, Bowling Green State University, 18 October 2008</div>
<div class="top_indent">Alicia Margarita Pianca, Franklin College, 14 January 2009</div>
<div class="top_indent">Harold Pinter, London, England, 24 December 2008</div>
<div class="top_indent">Renate Sybille Posthofen, Utah State University, 15 July 2008</div>
<div class="top_indent">Joseph R. Reichard, Oberlin College, 29 May 2008</div>
<div class="top_indent">Henry H. H. Remak, Indiana University, Bloomington, 12 February 2009 </div>
<div class="top_indent">Friedhelm Rickert, Marquette, Michigan, 17 July 2008</div>
<div class="top_indent">Marthe Rosenfeld, Indiana University–Purdue University, Fort Wayne, 8 November 2008</div>
<div class="top_indent">Albert C. Salzberg, Rhode Island College, 9 July 2008</div>
<div class="top_indent">Donald S. Schier, Carleton College, 21 April 2009</div>
<div class="top_indent">James A. J. Schimizzi, Watkins Glen, New York, 1 July 2008</div>
<div class="top_indent">Eve Kosofsky Sedgwick, Graduate Center, City University of New York, 12 April 2009 </div>
<div class="top_indent">Joseph Sherman, Oxford Centre for Hebrew and Jewish Studies, England, 20 March 2009</div>
<div class="top_indent">Merrill Maguire Skaggs, Drew University, 3 November 2008</div>
<div class="top_indent">Elton Edward Smith, University of South Florida, Tampa, 2 July 2008</div>
<div class="top_indent">Rowland James Smith, University of Calgary, 20 October 2008 </div>
<div class="top_indent">Nicholas P. Spencer, University of Nebraska, Lincoln, 20 July 2008</div>
<div class="top_indent">S. E. Sprott, Dalhousie University, 20 May 2009</div>
<div class="top_indent">Marion Kingston Stocking, Beloit College, 12 May 2009</div>
<div class="top_indent">Robert L. Strong, Jr., Willington, Connecticut, 2 December 2008 </div>
<div class="top_indent">George A. Test, State University of New York College at Oneonta, 22 April 2008 </div>
<div class="top_indent">James Thorpe, Huntington Library and Art Gallery, California, 4 January 2009</div>
<div class="top_indent">Lisa M. Toner, Tri-State University, 4 December 2007</div>
<div class="top_indent">Lorin A. Uffenbeck, University of Wisconsin, Madison, 30 September 2008 </div>
<div class="top_indent">John W. Velz, University of Texas, Austin, 16 November 2008</div>
<div class="top_indent">Gerald C. Volpe, University of Massachusetts, Boston, 26 March 2009 </div>
<div class="top_indent">Eugene Mersereau Waith, Yale University, 25 October 2007</div>
<div class="top_indent">William E. Wallace, College of Idaho, 1 April 2009 </div>
<div class="top_indent">Melvin Ray Watson, Chapman University, 10 April 2008 </div>
<div class="top_indent">Paul Osborne Williams, Hayward, California, 2 June 2009</div>
<div class="top_indent">Vincent Woodard, University of Colorado, Boulder, 4 February 2008</div>
<div class="top_indent">Margaret Woodruff-Wieding, University of Texas, Austin, 3 December 2008</div>
