<h1>In Memoriam 2011–12</h1>
<div class="top_indent">Gary Adelman, University of Illinois, Urbana, 1 January 2012</div>
<div class="top_indent">Ralph M. Aderman, University of Wisconsin, Milwaukee, 26 July 2010</div>
<div class="top_indent">Edward J. Alfonsin, State University of New York, Potsdam, 7 January 2012</div>
<div class="top_indent">David D. Anderson, Michigan State University, 3 December 2011</div>
<div class="top_indent">Claudia Barquist, University of the District of Columbia, 4 September 2011</div>
<div class="top_indent">R. Mark Benbow, Colby College, 18 October 2011</div>
<div class="top_indent">Barbara E. Bergquist, University of Puerto Rico, San Juan, 25 December 2010</div>
<div class="top_indent">Aldo S. Bernardo, Binghamton University, State University of New York, 27 November 2011</div>
<div class="top_indent">Doris W. Betts, University of North Carolina, Chapel Hill, 21 April 2012</div>
<div class="top_indent">Dorothy Marshall Betz, Georgetown University, 13 April 2010</div>
<div class="top_indent">Walter Everett Bezanson, Rutgers University, New Brunswick, 5 February 2011</div>
<div class="top_indent">Hoyt Edwin Bowen, Western Kentucky University, 4 January 2011</div>
<div class="top_indent">Dana Aron Brand, Hofstra University, 25 May 2011</div>
<div class="top_indent">Ernst Braun, University of Missouri, Columbia, 19 April 2011</div>
<div class="top_indent">Lucille V. Braun, University of Illinois, Chicago, 6 October 2011</div>
<div class="top_indent">Violet Kathryn Breneiser, Old Dominion University, 11 November 2011</div>
<div class="top_indent">Linda Marie Brooks, University of Georgia, 7 June 2011</div>
<div class="top_indent">Robert B. Bush, Lehman College, City University of New York, 14 October 2011</div>
<div class="top_indent">Edward T. Callan, Western Michigan University, 17 November 2011</div>
<div class="top_indent">Eric Walter Carlson, University of Connecticut, Storrs, 13 July 2011</div>
<div class="top_indent">Robert Emmett Chumbley, Louisiana State University, Baton Rouge, 11 July 2011</div>
<div class="top_indent">Dorrit Cohn, Harvard University, 11 March 2012</div>
<div class="top_indent">Edith R. Conn, Ventura College, CA, 5 October 2011</div>
<div class="top_indent">James M. Cox, Dartmouth College, 16 January 2012</div>
<div class="top_indent">Herbert Deinert, Cornell University, 4 August 2010</div>
<div class="top_indent">E. Catherine Dunn, Catholic University of America, 7 January 2012</div>
<div class="top_indent">Joan L. Fields, University of Louisiana, Lafayette, 5 March 2010</div>
<div class="top_indent">Martha Morello Frosch, University of California, Santa Cruz, 29 December 2010</div>
<div class="top_indent">Norman Fruman, University of Minnesota, Twin Cities, 19 April 2012</div>
<div class="top_indent">Stanton Berry Garner, San Marcos, Texas, 20 November 2011</div>
<div class="top_indent">Carl L. Garrott, Virginia State University, 20 January 2011</div>
<div class="top_indent">Donna Gerstenberger, University of Washington, 16 January 2012</div>
<div class="top_indent">Thomas H. Giddings, United States Merchant Marine Academy, 25 November 2011</div>
<div class="top_indent">Cynthia Ann Gilliatt, James Madison University, 16 August 2011</div>
<div class="top_indent">Cordelia L. Gray, Troy State University, 11 October 2011</div>
<div class="top_indent">Marcia Mitchell Harper, Georgia Perimeter College, Dunwoody Campus, 29 March 2011</div>
<div class="top_indent">Hugh Harter, Ohio Wesleyan University, 13 August 2011</div>
<div class="top_indent">Mary Margaret Heiser, Cleveland State University, 4 July 2011</div>
<div class="top_indent">Robert B. Hinman, University of Pittsburgh, 2 January 2011</div>
<div class="top_indent">Dorothy M. Hufman, College of New Rochelle, 27 March 2010</div>
<div class="top_indent">Hugh H. Hughes, Texas A&M University, Qatar, 27 December 2011</div>
<div class="top_indent">Manly Johnson, Tulsa, Oklahoma, 30 November 2010</div>
<div class="top_indent">Robert M. Jordan, University of British Columbia, 7 January 2012</div>
<div class="top_indent">Matthew Karasek, Bowling Green State University, 6 May 2011</div>
<div class="top_indent">Blossom S. Kirschenbaum, Brown University, 5 November 2011</div>
<div class="top_indent">Rosette C. Lamont, Graduate Center, City University of New York, and Sarah Lawrence College, 5 January 2012</div>
<div class="top_indent">Nicole LaRose, University of Houston, Downtown Campus, 1 May 2011</div>
<div class="top_indent">Carolina Donadio Lawson, Kent State University, Kent, 29 March 2011</div>
<div class="top_indent">Ilse Lehiste, Ohio State University, Columbus, 25 December 2010</div>
<div class="top_indent">Kathryne Victoria Lindberg, Wayne State University, 12 June 2011</div>
<div class="top_indent">Walter F. W. Lohnes, Stanford University, 8 February 2012</div>
<div class="top_indent">Yvette Louria, Queens College, City University of New York, 4 March 2011</div>
<div class="top_indent">A. A. Markley, Penn State University, Brandywine, 3 June 2011</div>
<div class="top_indent">Enrique Martínez-Lopez, University of California, Santa Barbara, 6 February 2012</div>
<div class="top_indent">Thomas McFarland, Princeton University, 12 September 2011</div>
<div class="top_indent">Phillip S. McKnight, Georgia Institute of Technology, 7 September 2011</div>
<div class="top_indent">Stanley Bruce McWhorter, University of Dayton, 20 February 2011</div>
<div class="top_indent">Franz Meier, University of Braunschweig, Germany, 14 February 2011</div>
<div class="top_indent">Joyce Mitchell Melissinos, Rochester, New York, 12 May 2011</div>
<div class="top_indent">Michael J. Meyer, DePaul University, 7 March 2011</div>
<div class="top_indent">Charles Dennis Minahen, Ohio State University, Columbus, 23 February 2012</div>
<div class="top_indent">Roy Jay Nelson, University of Michigan, Ann Arbor, 8 February 2012</div>
<div class="top_indent">Judith May Newton, Kwansei Gakuin University, Japan, 11 March 2011</div>
<div class="top_indent">Martha Onan, State University of New York, Brockport, 17 February 2011</div>
<div class="top_indent">Linwood E. Orange, University of Southern Mississippi, 22 June 2011</div>
<div class="top_indent">Arsenio Pacheco-Ransanz, University of British Columbia, 17 June 2011</div>
<div class="top_indent">Gilberto Paolini, Tulane University, 3 March 2012</div>
<div class="top_indent">Nishan Parlakian, John Jay College of Criminal Justice, City University of New York, 12 September 2011</div>
<div class="top_indent">Robert Torsten Petersson, Smith College, 8 April 2011</div>
<div class="top_indent">James Dale Reagan, Norwalk, California, 25 March 2011</div>
<div class="top_indent">Irene P. Reifsnyder, Kean University, 18 March 2012</div>
<div class="top_indent">John H. Reilly, Queens College, City University of New York, 9 July 2011</div>
<div class="top_indent">Adrienne Rich, Santa Cruz, California, 27 March 2012</div>
<div class="top_indent">Katharine M. Rodier, Marshall University, 10 September 2011</div>
<div class="top_indent">Franklin R. Rogers, San Jose State University, 3 December 2011</div>
<div class="top_indent">Phyllis A. Roth, Skidmore College, 25 March 2012</div>
<div class="top_indent">John P. Runden, William Paterson University, 10 February 2011</div>
<div class="top_indent">Theodore H. Rupp, Millersville University, 10 February 2010</div>
<div class="top_indent">Lawrence R. Schehr, University of Illinois, Urbana, 30 June 2011</div>
<div class="top_indent">Milton Frederick Seiden, Rutgers University, New Brunswick, 28 June 2011</div>
<div class="top_indent">Paul Clinton Sherr, Rider University, 10 January 2010</div>
<div class="top_indent">Scott Simpkins, University of North Texas, 19 September 2010</div>
<div class="top_indent">Hassell B. Sledd, Slippery Rock University, 15 October 2011</div>
<div class="top_indent">Joan Elizabeth Steiner, Drew University, 26 March 2011</div>
<div class="top_indent">Kazuko Takemura, Ochanomizu University, Japan, 13 December 2011</div>
<div class="top_indent">Peter Anthony Tasch, Temple University, 25 July 2010</div>
<div class="top_indent">Henrietta Ten Harmsel, Calvin College, 16 March 2012</div>
<div class="top_indent">Virginia Rinaldy Terris, Adelphi University, 12 January 2012</div>
<div class="top_indent">L. Teresa Valdivieso, Arizona State University, Tempe, 5 May 2011</div>
<div class="top_indent">Dharie Vanbimol, Nassau Community College, NY, 29 January 2011</div>
<div class="top_indent">Harold von Hofe, University of Southern California, 3 February 2011</div>
<div class="top_indent">Arthur Waterman, Georgia State University, 10 October 2011</div>
<div class="top_indent">Karl P. Wentersdorf, Xavier University, Ohio, 12 September 2011</div>
<div class="top_indent">James Woodward, Missouri State University, 16 December 2011</div>
<div class="top_indent">Yvonne Yaw, Bentley University, 31 January 2012</div>
