<style>div.m {padding-top: .5em; margin-left:.25in; text-indent:-.25in;}</style><h1>In Memoriam 2013–14</h1>
<blockquote><i>At the start of each month except August, new entries are added to this list as the membership office receives them. On 1 September, the list is archived under "Related Links," and a new annual listing is begun.</i></blockquote>

<div class="m">Samuel G. Armistead, University of California, Davis, 7 August 2013</div>
<div class="m">Priscilla Heath Barnum, Princeton, New Jersey, 17 January 2013</div>
<div class="m">Gwendolyn M. Bays, Clarion University, 15 May 2013</div>
<div class="m">Michel Beaujour, New York University, 3 April 2013</div>
<div class="m">Bruce Harry Bennett, University of New South Wales at Australian Defense Force Academy, Australia, 14 April 2012</div>
<div class="m">Fredrick Louis Bergmann, DePauw University, 28 December 2013</div>
<div class="m">Paul Bertram, Rutgers University, New Brunswick, 4 November 2013</div>
<div class="m">G. R. Bishop, Jr., Rutgers University, New Brunswick, 4 July 2012</div>
<div class="m">Patricia Jeanne Boehne, Eastern University, 29 June 2013</div>
<div class="m">The Reverend Francis Floyd Burch, SJ, Saint Joseph’s University, 30 August 2013</div>
<div class="m">Rosa M. Cabrera, State University of New York, New Paltz, 8 July 2013</div>
<div class="m">Antonio Candau, Case Western Reserve University, 17 September 2013</div>
<div class="m">Carol Jones Carlisle, University of South Carolina, Columbia, 17 December 2012</div>
<div class="m">Harry G. Carlson, Queens College, City University of New York, 22 December 2012</div>
<div class="m">H. Morris Cox, Jr., Clemson University, 22 February 2013</div>
<div class="m">Joseph Frederick DiOrio II, University of Montevallo, 5 July 2013</div>
<div class="m">Seymour Eichel, New Jersey City University, 13 October 2013</div>
<div class="m">Lydia Fakundiny, Cornell University, 31 March 2013</div>
<div class="m">Robert Sargent Fay, Landmark College, VT, 12 May 2013</div>
<div class="m">Michael Flachmann, California State University, Bakersfield, 8 August 2013</div>
<div class="m">John Miles Foley, University of Missouri, Columbia, 3 May 2012</div>
<div class="m">Carlos Fuentes, Harvard University, 15 May 2012</div>
<div class="m">Clifford Joseph Gallant, Bowling Green State University and University of Mississippi, 14 October 2013</div>
<div class="m">Blanche H. Gelfant, Dartmouth College, 2 August 2013</div>
<div class="m">Thomas B. Gilmore, Jr., Georgia State University, 18 December 2013</div>
<div class="m">Seamus Heaney, Dublin, Ireland, 30 August 2013</div>
<div class="m">Anna Pirscenok Herz, Lehigh University, 2 July 2013</div>
<div class="m">Brooke Hopkins, University of Utah, 31 July 2013</div>
<div class="m">Lisa Kahn, Texas Southern University, 3 July 2013</div>
<div class="m">Frances H. King, American University, 25 July 2013</div>
<div class="m">Joseph C. Landis, Queens College, City University of New York, 6 January 2013</div>
<div class="m">James R. Lawler, University of Chicago, 28 July 2013</div>
<div class="m">Howard Bernard Leichman, Green River Community College, WA, 23 October 2013</div>
<div class="m">Georgine Loacker, Alverno College, 3 August 2013</div>
<div class="m">Thomas Vincent Lowery, LaSalle Academy, RI, 21 May 2013</div>
<div class="m">Lawrence H. Maddock, Draper, Utah, 16 February 2013</div>
<div class="m">James A. McDonough, SJ, University of Guam, 31 December 2012</div>
<div class="m">Daniel Matthew McGuiness, Loyola University, Baltimore, 18 November 2012</div>
<div class="m">D. H. Melhem, Falls Church, Virginia, 15 June 2013</div>
<div class="m">Richard Eugene Mezo, University of Guam, 7 July 2013</div>
<div class="m">José Muñoz, New York University, 4 December 2013</div>
<div class="m">Norman Nathan, Florida Atlantic University, 11 June 2013</div>
<div class="m">James H. O’Brien, Western Washington University, 19 January 2013</div>
<div class="m">Roger E. Parsell, James Cook University, Australia, 15 September 2013</div>
<div class="m">Anne Perrin, University of Houston, 11 August 2013</div>
<div class="m">Ronald A. Rebholz, Stanford University, 8 November 2013</div>
<div class="m">Robert J. Reddick, University of Texas, Arlington, 5 September 2013</div>
<div class="m">Susana Redondo de Feldman, Columbia University, 1 July 2013</div>
<div class="m">Anne Richardson, Oakland, California, 2 October 2013</div>
<div class="m">Elias L. Rivers, Stony Brook University, State University of New York, 21 December 2013</div>
<div class="m">David Scott Sanders, Harvey Mudd College, 23 February 2014</div>
<div class="m">Aldo Scaglione, New York University, 13 June 2013</div>
<div class="m">Ben Ross Schneider, Lawrence University, 24 July 2013</div>
<div class="m">Adolf E. Schroeder, University of Missouri, Columbia, 29 March 2013</div>
<div class="m">Paul W. Seaver, Jr., Franklin and Marshall College, 18 October 2013</div>
<div class="m">Sam See, Yale University, 24 November 2013</div>
<div class="m">R. Baird Shuman, University of Illinois, Urbana, 12 August 2013</div>
<div class="m">Bruce Chester Souders, Shenandoah University, 12 February 2012</div>
<div class="m">Gregory Allen Souders, Winchester, Virginia, 4 April 2013</div>
<div class="m">Keith Stewart, University of Cincinnati, 3 April 2013</div>
<div class="m">Johannes Hermann Tisch, University of Tasmania, Australia, 11 July 2013</div>
<div class="m">A. Julian Valbuena, University of Delaware, Newark, 5 February 2014</div>
<div class="m">William Vande Kopple, Calvin College, 3 July 2013</div>
<div class="m">Richard Beckman Vowles, University of Wisconsin, Madison, 19 December 2013</div>
<div class="m">Philip Coulter Watts, Columbia University, 20 July 2013</div>
<div class="m">James Michael Welsh, Salisbury University, 3 October 2013</div>
<div class="m">William Melcher Whitby, Purdue University, West Lafayette, 18 March 2013</div>
<div class="m">James Jerome Wilhelm, Rutgers University, New Brunswick, 13 December 2012</div>
<div class="m">James N. Wise, Missouri University of Science and Technology, 29 October 2013</div>
<div class="m">Maurice Wohlgelernter, Baruch College, City University of New York, 22 June 2013</div>
<div class="m">Thorp L. Wolford, University of Louisville, 9 February 2012</div>
