<h1>In Memoriam 2010–11</h1>
<div class="top_indent">Rane Ramón Arroyo, University of Toledo, 7 May 2010</div>
<div class="top_indent">George W. Bahlke, Hamilton College, 1 February 2011</div>
<div class="top_indent">Lee S. Baier, University of Southern Maine, 13 October 2010</div>
<div class="top_indent">Leslie G. Bailey, Saint Martin’s University, 24 December 2010</div>
<div class="top_indent">Louise Slagle Bailey, Marshall University, 29 October 2010</div>
<div class="top_indent">Richard W. Bailey, University of Michigan, Ann Arbor, 2 April 2011</div>
<div class="top_indent">Charles Bassett, Colby College, 19 October 2010</div>
<div class="top_indent">Jonathan Bishop, Cornell University, 22 January 2010</div>
<div class="top_indent">Susan Louise Blake, Lafayette College, 28 October 2009</div>
<div class="top_indent">Richard Stearns Bowman, Cooper Union, 13 August 2010</div>
<div class="top_indent">Jo Ann Boydston, Southern Illinois University, Carbondale, 25 January 2011</div>
<div class="top_indent">Mary W. Brackett, Norwalk Community College, Connecticut, 27 July 2010</div>
<div class="top_indent">Arthur J. Bronstein, University of California, Berkeley, 5 January 2010</div>
<div class="top_indent">Louis J. Budd, Duke University, 20 December 2010</div>
<div class="top_indent">Julia Mairin Budenz, Harvard University, 11 December 2010</div>
<div class="top_indent">Beth Ann Casey, Bowling Green State University, 23 August 2010</div>
<div class="top_indent">David A. Castronovo, Pace University, New York, 19 November 2010</div>
<div class="top_indent">David R. Clark, University of Massachusetts, Amherst, 11 January 2010</div>
<div class="top_indent">Dorothy I. Cohen, Jerusalem, Israel, 25 February 2011</div>
<div class="top_indent">Ben L. Collins, University of North Dakota and Florida Atlantic University, 10 July 2009</div>
<div class="top_indent">Harry H. Crosby, Harvard University, 28 July 2010</div>
<div class="top_indent">Elaine Dallman, San Francisco, California, 4 April 2010</div>
<div class="top_indent">Huston Diehl, University of Iowa, 8 September 2010</div>
<div class="top_indent">John Clarkson Dowling, University of Georgia, 31 January 2009</div>
<div class="top_indent">Mae Lorraine Duewson, University of Massachusetts, Amherst, 23 December 2009</div>
<div class="top_indent">Alvin I. Dust, University of Waterloo, 27 December 2009</div>
<div class="top_indent">Barbara Fischer, University of Alabama, Tuscaloosa, 24 May 2010</div>
<div class="top_indent">Arthur Meredith Fox, Queen’s University, 18 May 2010</div>
<div class="top_indent">Frances Adrien Garner, University of Mobile, 31 January 2010</div>
<div class="top_indent">Barbara J. T. Godard, York University, 16 May 2010</div>
<div class="top_indent">Richard W. Goldsmith, North Carolina State University, 9 July 2010</div>
<div class="top_indent">Ronald Gottesman, University of Southern California, 10 May 2010</div>
<div class="top_indent">Lawrence S. Graver, Williams College, 28 February 2010</div>
<div class="top_indent">Diane D. Gray, Sharpsburg, Maryland, 25 February 2010</div>
<div class="top_indent">Liliane M. Greene, Yale University, 24 December 2010</div>
<div class="top_indent">James C. Gremmels, University of Minnesota, Morris, 25 September 2009</div>
<div class="top_indent">Marshall Scott Grossman, University of Maryland, College Park, 29 March 2011</div>
<div class="top_indent">Miriam Hansen, University of Chicago, 5 February 2011</div>
<div class="top_indent">John Edward Hardy, University of Illinois, Chicago, 13 August 2010</div>
<div class="top_indent">Anne M. Haselkorn, York College, City University of New York, 27 January 2011</div>
<div class="top_indent">Thomas F. Heffernan, Adelphi University, 26 January 2009</div>
<div class="top_indent">Camilla Hoy, Greensboro College, 28 July 2010</div>
<div class="top_indent">Roseline Intrater, Cleveland College of Jewish Studies, 10 November 2010</div>
<div class="top_indent">James Robert de Jager Jackson, University of Toronto, Victoria College, 29 April 2011</div>
<div class="top_indent">Onilda A. Jiménez, New Jersey City University, 18 June 2010</div>
<div class="top_indent">George Fenwick Jones, University of Maryland, College Park, 28 October 2010</div>
<div class="top_indent">Louise Weishaar Kiefer, Baldwin-Wallace College, 5 June 2010</div>
<div class="top_indent">Frederick A. Klemm, Union College, New York, 29 November 2010</div>
<div class="top_indent">Erwin Koller, Lisbon, Portugal, 18 April 2010</div>
<div class="top_indent">Henry Kucera, Brown University, 20 February 2010</div>
<div class="top_indent">Robert Graham Lambert, Jr., Gainesville, Florida, 2 April 2010</div>
<div class="top_indent">Luis Leal, University of Illinois, Urbana, 25 January 2010</div>
<div class="top_indent">Benjamin Lease, Northeastern Illinois University, 6 September 2010</div>
<div class="top_indent">Louise Fiber Luce, Miami University, Oxford, 15 July 2010</div>
<div class="top_indent">Sverre Lyngstad, New Jersey Institute of Technology, 2 May 2011</div>
<div class="top_indent">Michael Manheim, University of Toledo, 5 January 2011</div>
<div class="top_indent">Thomas Raymond Mark, Colorado State University, Fort Collins, 12 November 2010</div>
<div class="top_indent">Wallace D. Martin, University of Toledo, 26 July 2010</div>
<div class="top_indent">Richard Maxwell, Yale University, 20 July 2010</div>
<div class="top_indent">Marianne K. Mayo, Valdosta State University, 17 September 2010</div>
<div class="top_indent">Elizabeth Ann Meese, University of Alabama, Tuscaloosa, 26 October 2010</div>
<div class="top_indent">James E. Miller, Jr., University of Chicago, 9 September 2010</div>
<div class="top_indent">Samuel I. Mintz, City College, City University of New York, 7 December 2010</div>
<div class="top_indent">Michael Morris, Northern Illinois University, 12 December 2010</div>
<div class="top_indent">John J. Murray, University of Scranton, 15 November 2010</div>
<div class="top_indent">Shelley Neiderbach, Crime Victims Counseling Services, Inc., New York, 28 April 2011</div>
<div class="top_indent">Ronald G. Nibbe, California State University, Northridge, 27 December 2010</div>
<div class="top_indent">William R. Osborne, University of Memphis, 7 March 2010</div>
<div class="top_indent">Barbara Lee Packer, University of California, Los Angeles, 16 December 2010</div>
<div class="top_indent">Shirley M. Pipes-Thomas, Adrian College, 10 July 2010</div>
<div class="top_indent">Alice M. Pollin, New York University, 27 October 2010</div>
<div class="top_indent">Arnold W. Preussner, Truman State University, 2 June 2010</div>
<div class="top_indent">Balachandra Rajan, University of Western Ontario, 23 January 2009</div>
<div class="top_indent">Richard K. Redfern, Clarion University, 3 August 2010</div>
<div class="top_indent">Robert B. Resnick, Springfield College, 19 September 2010</div>
<div class="top_indent">Donald B. Rice, Hamline University, 19 March 2010</div>
<div class="top_indent">Jack Richtman, University at Albany, State University of New York, 19 August 2009</div>
<div class="top_indent">Leona P. Rittner, Brooklyn, New York, 7 August 2010</div>
<div class="top_indent">Edith S. Rostas, Mount Holyoke College, 10 May 2010</div>
<div class="top_indent">W. Stephen Sanderlin, Jr., Christopher Newport University, 10 December 2010</div>
<div class="top_indent">George O. Schanzer, University at Buffalo, State University of New York, 23 May 2011</div>
<div class="top_indent">Elliot M. Schrero, Rider University, 9 August 2010</div>
<div class="top_indent">George Schulz-Behrend, University of Texas, Austin, 21 August 2010</div>
<div class="top_indent">Joseph Thomas Shaw, University of Wisconsin, Madison, 4 April 2011</div>
<div class="top_indent">Arthur Sherbo, Michigan State University, 10 August 2010</div>
<div class="top_indent">David A. Shevin, Central State University, 19 July 2010</div>
<div class="top_indent">Michael F. Shugrue, College of Staten Island, City University of New York, 1 December 2010</div>
<div class="top_indent">W. Keats Sparrow, East Carolina University, 11 November 2009</div>
<div class="top_indent">S. O. A. Ullmann, Union College, New York, 11 October 2009</div>
<div class="top_indent">David Vilaseca, Royal Holloway College, University of London, England, 6 February 2010</div>
<div class="top_indent">L. Jean Watson, University of Wisconsin, River Falls, 29 March 2010</div>
<div class="top_indent">Edward Ronald Weismiller, George Washington University, 25 August 2010</div>
<div class="top_indent">Donald James Winslow, Boston University, 10 July 2010</div>
<div class="top_indent">Thomas Lundy Wright, Auburn University, Auburn, 2 December 2010</div>
