<h1>Inclusion of Publisher-Provided Abstracts</h1>
Effective with its April 2008 online update, the <I>MLA International Bibliography</I> will include publisher-provided abstracts in its bibliographic citations. The first group of over 9,000 abstracts, reprinted with permission of the publishers, came from <i>PMLA</i>, <i>Project MUSE</i>, <i>JSTOR</i>, and <i>German Quarterly</i>. To date more than 50,000 abstracts are  available for search and display. This enhancement is meant to provide our users with quality information for their online research.

Abstracts are searchable. Users may limit their search to the abstracts field.

Abstracts are provided as an enhancement and are not edited by the <I>MLA International Bibliography</I>. We are not responsible for any errors included in the abstract.

Abstracts are regularly added to both current and retrospective records.

To date the following publishers have provided us with abstracts:

American Association of Teachers of German
Chinese Literature: Essays, Articles, Reviews (CLEAR)
De Gruyter
Dissertation Abstracts Online
Edinburgh University Press
Intellect
JSTOR
Modern Language Association of America
Monash University ePress
Palgrave Macmillan
Project MUSE
Taylor and Francis
Wiley-Blackwell
