<h1>Post-Bellum, Pre-Harlem: New Approaches to African American Literature and Culture, 1877-1919 (Scholarship section)</h1>
Reprinted by permission of the authors. Copyright &#169; 2006 by Caroline Gebhard, Jeremy Dean, Hellen Lee-Keller, and Marlene D. Allen

<I>Part 3.  Information on panelists' and presider's scholarship, particularly scholarship that directly relates to the session topic.</i>

Caroline Gebhard, Session Organizer
Associate Professor of English at Tuskegee University, she is co-editor of <I>Post-Bellum Pre-Harlem: African American Literature and Culture, 1877-1919</i>, an anthology of essays co-edited with Barbara McCaskill (New York UP, June 2006) in which she has an essay, "Inventing a 'Negro Literature': Race, Dialect, and Gender in the Early Work of Paul Laurence Dunbar, James Weldon Johnson, and Alice Dunbar-Nelson."  Professor Gebhard has published essays on gender and race in 19th-century American culture; especially relevant to this session is "Reconstructing Southern Manhood: Race, Sentimentality, and Camp in the Plantation Myth," in <I>Haunted Bodies: Gender and Southern Texts</i>, ed.  Anne Goodwyn Jones and Susan V. Donaldson (U of Virginia P, 1997).  The recipient of a National Endowment for the Humanities Faculty Research Grant for her book in progress on Paul Laurence Dunbar, she is also a co-author of a book manuscript, <I>Invisible Legacy: The Women of Tuskegee, 1881-1981</i>.

Barbara McCaskill, Session Respondent
Associate Professor of English and General Sandy Beaver Teaching Professor at the University of Georgia, Professor McCaskill is the co-editor of <I>Post-Bellum, Pre-Harlem: African American Literature and Culture, 1877-1919</i> (New York UP, 2006), in which she has an essay, "Savannah's Colored Tribune, the Reverend E. K. Love, and the Sacred Rebellion of Uplift."  An Augustus Anson Whitney Fellow at the Radcliffe Institute for Advanced Study and a Fellow at Harvard University's Du Bois Institute, she co-edited, with Suzanne M. Miller, <I>Multi-Cultural Literature and Literacies: Making Space for Difference</i> (SUNY P, 1992) and edited <I>Running One Thousand Miles for Freedom; or The Escape of William and Ellen Craft from Slavery</i> (U of Georgia P, 1999).  She has published numerous articles on the Crafts as well as other African American writers, including in the <I>African American Review</i> and books such as the MLA Volume<I>  Approaches to Teaching</i> Narrative of the Life of Frederick Douglass, ed. James Hall, <I>Nineteenth-Century American Women Writers: A Critical Reader</i>, ed. Karen L. Kilcup (Blackwell, 2000), and <I>The Souls of Black Folk: One Hundred Years Later</i>, ed. Dolan Hubbard (Missouri, 2002).  She is currently at work on a book on the Crafts in addition to co-directing the Civil Rights Digital Library Initiative at the University of Georgia, funded by $750,000 grant from the Institute of Museum and Library Services.

Because all of our panelists are in the early stages of their careers, they have not yet published significant scholarship in the field of African American studies; nevertheless, they are all promising young scholars who deserved to be showcased at the Modern Language Association's annual meeting.

Jeremy Dean is working on his doctoral dissertation on post-Reconstruction fiction at the University of Texas at Austin.

Hellen Lee-Keller is completing her Ph.D. thesis, "Working Matters: Women's Work and Culture, 1870-1920," at the University of California at San Diego.  She is the recipient of a Humanities Research Assistantship as well as a Literature Department dissertation fellowship from UCSD and a Bancroft Library Study Award from the University of California, Berkeley.  She will assume the post of Assistant Professor of Multi-Ethnic Literatures in the English department at California State University, Sacramento, in the fall of 2006.

Marlene Allen is Postdoctoral Fellow at the Young Research Library at the University of California, Los Angeles.  She earned her Ph.D. in English from the University of Georgia, with a dissertation on the history of African American science fiction from the slave narrative to Octavia Butler.  She is a past recipient of a Stanford University Publishing Institute Fellowship.
