<H1>In Memoriam 2006–07</H1>
<div class="top_indent">Thomas C. Allen, Lynchburg College, 25 October 2006</div>
<div class="top_indent">M. Patricia O'Connor Anderson, Santa Monica College, California, 1 September 2005</div>
<div class="top_indent">Thelma M. Anderson, Kent State University, Kent, 3 December 2006</div>
<div class="top_indent">Norwood Andrews, Jr., Texas Tech University, 22 April 2005</div>
<div class="top_indent">José Juan Arrom, Yale University, 12 April 2007</div>
<div class="top_indent">Jill Barnum, University of Minnesota, Twin Cities, 3 October 2006</div>
<div class="top_indent">Betty T. Bennett, American University, 12 August 2006</div>
<div class="top_indent">Carl Douglas Bennett, Saint Andrews Presbyterian College, 30 August 2006</div>
<div class="top_indent">Werner William Beyer, Butler University, 29 March 2006</div>
<div class="top_indent">John W. Bicknell, Drew University, 14 January 2006</div>
<div class="top_indent">Konrad F. Bieber, Stony Brook University, State University of New York, 8 March 2006</div>
<div class="top_indent">Malcolm M. Bowie, Christ's College, University of Cambridge, England, 28 January 2007</div>
<div class="top_indent">Neil F. Brennan, Villanova University, 4 February 2006</div>
<div class="top_indent">Morris R. Brownell, University of Nevada, Reno, 14 March 2007</div>
<div class="top_indent">Joachim Bruhn, University of Michigan, Dearborn, 12 December 2005</div>
<div class="top_indent">Kenneth W. Cameron, Trinity College, Connecticut, 8 February 2006</div>
<div class="top_indent">Paul H. Chapman, Mount Union College, 28 January 2006</div>
<div class="top_indent">Patricia Cirtain Conley, West Tennessee State Community College, 10 September 2006</div>
<div class="top_indent">John Watson Cummins, Chatham College, 21 December 2006</div>
<div class="top_indent">Marsha Z. Cummins, Bronx Community College, City University of New York, 8 October 2005</div>
<div class="top_indent">Carvel de Bussy, University of the District of Columbia, 29 May 2006</div>
<div class="top_indent">Eugenia Caroline DeLamotte, Arizona State University, Tempe, 22 August 2005</div>
<div class="top_indent">Sister Rose Bernard Donna, CSJ, College of Saint Rose, 4 October 2006</div>
<div class="top_indent">Charles W. Dunn, Harvard University, 24 July 2006</div>
<div class="top_indent">Edward Dvoretzky, University of Iowa, 23 November 2005</div>
<div class="top_indent">Erhardt H. Essig, Concordia Senior College, 3 April 2006</div>
<div class="top_indent">V. Cabell Flanagan, Department of Collections, City of Philadelphia, 6 February 2005</div>
<div class="top_indent">Allen D. Flint, University of Maine, Farmington, 4 May 2007</div>
<div class="top_indent">W. Todd Furniss, Green Valley, Arizona, 26 January 2006</div>
<div class="top_indent">Hanna M. K. Geldrich-Leffman, Loyola College, 6 August 2006</div>
<div class="top_indent">Frank S. Giese, Portland, Oregon, 6 August 2006</div>
<div class="top_indent">Barbara Munson Goff, Rutgers University, Cook College, New Brunswick, 25 June 2006</div>
<div class="top_indent">Marguerite V. Hall, California State University, Northridge, 27 September 2006</div>
<div class="top_indent">Robert H. Henigan, Missouri State University, 8 November 2006</div>
<div class="top_indent">W. Speed Hill, Lehman College, City University of New York, 8 May 2007</div>
<div class="top_indent">Robin P. Hoople, University of Manitoba, 28 June 2006</div>
<div class="top_indent">Nicholas G. Howe, University of California, Berkeley, 27 September 2006</div>
<div class="top_indent">Robert J. Hudson, Tennessee State University, Downtown Campus, 11 June 2006</div>
<div class="top_indent">Adrienne D. Hytier, Vassar College, 18 April 2007</div>
<div class="top_indent">Carroll B. Johnson, University of California, Los Angeles, 3 April 2007</div>
<div class="top_indent">Edward A. Johnson, Saint John's University, New York, 2 September 2006</div>
<div class="top_indent">J. K. Johnstone, University of Saskatchewan, 20 October 2006</div>
<div class="top_indent">Robert E. Jones, Massachusetts Institute of Technology, 3 June 2006</div>
<div class="top_indent">Martin Kallich, Northern Illinois University, 30 March 2006</div>
<div class="top_indent">Eli Katz, Sonoma State University, 22 July 2006</div>
<div class="top_indent">Mark S. Koven, Rutgers University, New Brunswick, 1 October 2006</div>
<div class="top_indent">Thomas McR. Kreider, Berea College, 28 July 2006</div>
<div class="top_indent">J. Patrick Lee, Barry University, 29 July 2006</div>
<div class="top_indent">Vivien Rose Leonard, Rensselaer Polytechnic Institute, 30 January 2007</div>
<div class="top_indent">James D. Lester, Austin Peay State University, 10 January 2006</div>
<div class="top_indent">Leon Livingstone, University at Buffalo, State University of New York, 29 September 2006</div>
<div class="top_indent">Celeste M. Loughman, Westfield State College, 14 May 2007</div>
<div class="top_indent">Robert A. MacDonald, University of Richmond, 28 June 2006</div>
<div class="top_indent">Paul Andrew Magnuson, New York University, 7 September 2006</div>
<div class="top_indent">Leo Marcello, McNeese State University, 30 March 2005</div>
<div class="top_indent">Timothy McGovern, University of California, Santa Barbara, 9 October 2006</div>
<div class="top_indent">C. David Mead, Michigan State University, 17 August 2005</div>
<div class="top_indent">Thomas Edward Moisan, Saint Louis University, 30 July 2006</div>
<div class="top_indent">Albert Joseph Montesi, Saint Louis University, 3 November 2006</div>
<div class="top_indent">Edith Mroz, Delaware State University, 9 March 2006</div>
<div class="top_indent">Marie D. Naudin, University of Connecticut, Storrs, 25 October 2005</div>
<div class="top_indent">Charles Harold Nichols, Brown University, 14 January 2007</div>
<div class="top_indent">Howard Nimchinsky, Kingsborough Community College, City University of New York, 22 August 2006</div>
<div class="top_indent">Joanne S. Norman, Bishop's University, 21 January 2007</div>
<div class="top_indent">Tillie Lerner Olsen, Berkeley, California, 1 January 2007</div>
<div class="top_indent">Robert Herbert Padgett, Millsaps College, 28 November 2006</div>
<div class="top_indent">Donald Perret, Emerson College, 8 August 2006</div>
<div class="top_indent">Reginald Henry Phelps, Harvard University, 28 September 2006</div>
<div class="top_indent">John H. Randall III, Boston College, 7 February 2006</div>
<div class="top_indent">Raja Rao, University of Texas, Austin, 8 July 2006</div>
<div class="top_indent">Walter B. Rideout, University of Wisconsin, Madison, 8 April 2006</div>
<div class="top_indent">Lillian S. Robinson, Concordia University, Sir George Williams Campus, 20 September 2006</div>
<div class="top_indent">Shaindy Rudoff, Bar-Ilan University, Israel, 10 June 2006</div>
<div class="top_indent">William Howe Rueckert, State University of New York, Geneseo, 30 December 2006</div>
<div class="top_indent">Harry C. Rutledge, University of Tennessee, Knoxville, 28 April 2006</div>
<div class="top_indent">Gerardo Sáenz, University of Kentucky, 15 October 2005</div>
<div class="top_indent">Eric Neal Schocket, Hampshire College, 3 September 2006</div>
<div class="top_indent">Nathan A. Scott, Jr., University of Virginia, 20 December 2006</div>
<div class="top_indent">Mary T. Segall, Quinnipiac University, 28 June 2006</div>
<div class="top_indent">Edward Lawrence Shaughnessy, Butler University, 22 January 2005</div>
<div class="top_indent">Michael Steig, Simon Fraser University, 13 December 2006</div>
<div class="top_indent">John Denham Sutcliffe, Louisiana State University, Baton Rouge, 22 March 2006</div>
<div class="top_indent">Franklin P. Sweetser, University of Illinois, Chicago, 1 April 2007</div>
<div class="top_indent">G. B. Tennyson, University of California, Los Angeles, 19 May 2007</div>
<div class="top_indent">Henry Larkin Terrie, Jr., Dartmouth College, 1 November 2006</div>
<div class="top_indent">Arline R. Thorn, West Virginia State University, 2 July 2006</div>
<div class="top_indent">Robert D. Thornton, State University of New York, New Paltz, 24 October 2006</div>
<div class="top_indent">Richard C. Tobias, University of Pittsburgh, Pittsburgh, 12 September 2006</div>
<div class="top_indent">John Foster Tucker, Jr., Wyncote, Pennsylvania, 8 October 2005</div>
<div class="top_indent">John Andrews Van Eerde, Lehigh University, 8 January 2006</div>
<div class="top_indent">James R. Vitelli, Lafayette College, 3 December 2006</div>
<div class="top_indent">Jay Vogelbaum, Wayne State University, 16 December 2006</div>
<div class="top_indent">Milton Voigt, University of Utah, 29 July 2006</div>
<div class="top_indent">Marshall Waingrow, Claremont Graduate University, 25 January 2007</div>
<div class="top_indent">Charles S. Watson, University of Alabama, Tuscaloosa, 28 January 2007</div>
<div class="top_indent">Rachel Webb-Williams, City College of San Francisco, California, 9 September 2006</div>
<div class="top_indent">Richard Colt Williamson, Bates College, 19 June 2007</div>
<div class="top_indent">Guy R. Woodall, Tennessee Technological University, 12 May 2007</div>
