<h1>Call for Innovative Proposals</h1>

<p><b>Reprinted from the Spring 2012 <i>MLA Newsletter</i></b></p>

<p>Imagine this scenario. The topic of the MLA panel you were on your way to attend sounded really engaging. You entered the room with the highest of hopes for invigorating exchange. There were four papers scheduled, but each was read in a rushed monotone. The first three papers each went over by five minutes, so the last speaker ran out of time. The panel chair took just one question, and the session ended three minutes late. The audience quickly filed out, as the next group of panelists pressed into the room. Important scholarship may have been presented, but little meaningful exchange occurred. Sound familiar? </p>

<p>This stereotype of the MLA convention panel need not become your reality. Innovative sessions—as well as traditional paper-presentation panels—are welcomed by the Program Committee. We hope to see more interactive, innovative, and exchange-oriented approaches proposed for future conventions. In an effort to make the proposal process as transparent as possible and to encourage greater member input, the Program Committee offers the following ideas to consider as you prepare your next MLA session proposal. Some of these session formats are already part of our convention program, while others remain as yet untried ideas. We hope you will both propose and attend sessions in the formats below, as well as submit additional ideas you have for formats that promote innovative and collegial exchange at the convention.</p>

<ul>
<li>Preconvention Collaborative Workshops: These informative workshops provide useful member services such as pedagogy training and skills or professional and employment development and support. Earlier this year the Seattle convention included a workshop on evaluating digital work for tenure and promotion.</li><br />

<li>Creative Conversations: These sessions may be roundtables or special sessions that feature free-form dialogues or forums between published authors or other artists and an interviewer. This might include sessions that consider single works, classics, emerging formats, films, plays, artwork, and such.</li><br />

<li>Electronic Roundtables: These digital-demonstration sessions reconfigure the familiar poster session, allowing participants to identify and exchange findings on topics such as incorporating digital media technologies into teaching, scholarship, and administration; to use digital media to explore a particular issue such as community engagement, student research, or textual editing.</li> <br />

<li>Ignite Talks: This session format includes brief, timed presentations, such as those in the PechaKucha style. In that format, twenty images are shown for twenty seconds each, and panelists talk along with their images. A dynamic form that originated in Tokyo in 2003, PechaKucha draws its name from the Japanese term for the sound of conversation (“chit chat”). This format is notable for its concise presentation mode, and it keeps things moving at a rapid pace. Formats with similarly compressed speaking times and goals, such as “Speed Geeking” or “Lightning Shorts,” have emerged in recent years and would be welcomed under this rubric.</li><br />

<li>Case-Study-Themed Sessions: These sessions could be organized around any single topic ranging from workshops on members’ syllabi to conversations on new approaches to organized learning.</li><br />

<li>Master Classes: These sessions would center on widely held member interests and might feature accomplished scholars or teachers leading how-to sessions in different presentational styles or structures (workshops, roundtables, panels). The Program Committee invites your ideas for making the annual conference both successful and engaging through active participation. As much as we revere time-tested traditional session formats, the MLA Program Committee is also committed to enlivening the conference experience with new approaches. We are grateful to hear your thoughts and hope that, as we move forward together, fewer MLA sessions will replay the scenario outlined above and that more innovative formats and enriched exchange will be built into the structure of our convention.</li>
</ul>
MLA Program Committee
