<h1>Become an MLA Member</h1>
Thank you for visiting the MLA Web site. Join the MLA by 7 April to participate in the 2007 convention in Chicago.

Find out more about 
<ul><li><a href="membership">MLA membership</a></li>
	<li><a href="convention">the 2007 MLA Annual Convention</a></li>
	<li><a href="about">the association</a></li>
</ul>
