<h1>Library Subscriptions and Licenses</h1>
<p><b><a href="/mla_libraryrates_2014" >Click here</a>[[[docstudio filetype_tag_pdf]]] for complete rate information on  all MLA library subscriptions and licenses</b>.</p>

<h2><i>PMLA</i></h2>
<h3>Print and electronic formats for libraries</h3>

<p>Library subscribers can receive current <i><a href="/pmla">PMLA</a></i> issues electronically; 2014 subscribers will also receive all 2002–14 issues in electronic form.  A subscription to the electronic version of <I>PMLA</I> is only $190.  The electronic version allows users to view issues in searchable PDF. A print and electronic subscription is also available (see above PDF for rates).</p> 

<p>An online archive of <i>PMLA</i> issues from 1884 to 2008 is available through <i><a href="http://www.jstor.org" target="_blank">JSTOR</a></i>.</p>

<p>For a free trial subscription to <i>PMLA</i>, please e-mail ​<a href="mailto:subscrip@mla.org">subscrip@mla.org</a>.</p>

<h2><i>MLA International Bibliography</i></h2>
<h3>Electronic format for libraries</h3>

<p>The <I><a href="/bibliography">MLA International Bibliography</a></I> is no longer available in print format. Libraries can subscribe to an <a href="/bib_electronic">electronic format</a> of the bibliography.</p>

<h2><i>Literary Research Guide</i>, 5th ed., by James L. Harner</h2>
<h3>Electronic format for libraries</h3>

<p>Previously available only in print, the <i><a href="/store/PID335">Literary Research Guide</a></i> is now available in a searchable online format for libraries. A comprehensive, annotated listing of reference sources in English literary studies, the fifth edition is extensively revised, with updates to nearly half the entries as well as many new entries on recent and online-only resources.</p>

<p>The online format features automatic linking to reference sources in the user’s library’s catalog, <i>WorldCat</i>, and <i>Google Books</i>, as well as personalization tools that allow users to save searches and citations into projects for later use. The “Research Process” section provides expert step-by-step guidance to help researchers narrow their focus and locate resources more efficiently.</p> 

<p>The online <i>Literary Research Guide</i> is updated regularly. Libraries pay an initial fee in the first year to establish access to the online format of the fifth edition and an annual update fee to maintain access. The site license places no limit on the number of simultaneous users.</p>
[[[comment]]]
<p>Order the <a href="/lrg_order">online format</a> of the <i>Literary Research Guide</i> or request a <a href="/lrg_freetrial">free, thirty-day trial</a>.</p>
[[[endcomment]]]
 
