<H1>FAQ about Using Interfolio ByCommittee for Your Department’s Job or Fellowship Search</H1>
<h3>Do I have to use Interfolio ByCommittee if I advertise in the <i>JIL</i>?</h3>

<p>No, although using it makes the application process easier and more efficient for departments, job seekers, and recommenders. In 2012–13, 115 departments opted to use ByCommittee to help manage a total of 213 individual searches.</p>

<h3>What does Interfolio ByCommittee cost?</h3>

<p>Use of Interfolio ByCommittee is included with the standard advertisement rate for the <i>JIL</i>. There are no additional fees for <i>JIL</i> advertisers to use Interfolio ByCommittee, and applicants will not incur any charges when applying to positions managed through ByCommittee.</p>

<h3>Is there any installation required to use Interfolio ByCommittee?</h3> 

<p>No. Interfolio ByCommittee is hosted and accessed online through a Web browser. </p>

<h3>My institution requires that all job and fellowship applications be submitted through the applicant-tracking system maintained by our human resources or information technology office. Will my department be able to use Interfolio ByCommittee?</h3> 

<p>In many cases, yes. You are able to export all key information from your ByCommittee account (data, documents, EEO responses, etc.) for use outside the system. If, however, your institution strictly requires that all applications begin and end in your local applicant-tracking system, then you may not be able to use Interfolio ByCommittee to receive and evaluate applications. We recommend that you discuss using Interfolio ByCommittee with your institutional HR or IT representative. </p>

<h3>My department accepts job applications only on paper by mail.  Will job seekers who find out about the position from an ad in the <i>JIL</i> be able to apply?</h3>

<p>Yes. The Interfolio Dossier account allows applicants to request that hard-copy submissions be sent to hiring committees.</p>

<h3>My institution has already purchased an Interfolio ByCommittee license. Will this institutional license apply when our department submits an ad to the <i>JIL</i>?</h3>

<p>Yes. You will receive special rates when advertising in the <i>JIL</i>. In addition, you will be able to include an existing Interfolio landing page URL in your <i>JIL</i> advertisement.</p>

<h3>Are job search applications and documents secure in Interfolio ByCommittee?</h3>

<p>Yes, all application data and documents are stored in an SAS 70 Type II certified data center; the data center and Interfolio also each participate in the Safe Harbor program developed by the United States Department of Commerce and the European Union to ensure the protection of personal data.  Within Interfolio ByCommittee, a set of fine-grained user permissions exists to limit access to those committee administrators and evaluators who are authorized to see a given applicant’s data.</p>

<h3>Will Interfolio maintain an archive documenting job searches that my department conducts using Interfolio ByCommittee?</h3> 

<p>All documents and data collected for any search you run will be available for as long as your Interfolio<b></b> ByCommittee account is active. You can archive applications within your account, and all materials will be available for retrieval. In addition, you can download documents and data. </p>

<h3>What provisions does Interfolio have for restoring access to Interfolio ByCommittee, candidates’ materials, and search-committee members’ evaluations in the event of fire, flood, or other disaster?</h3>

<p>Interfolio’s data center creates daily incremental backups and weekly full backups; these backups are retained off-site.  In the event of a disaster, data will be restored from these backups.  This disaster-recovery plan meets the requirements for an SAS 70 Type II certified data center. </p>
