<h1>January 2005 (vol. 120, no. 1)</h1>
<h2>Cover and table of contents</h2>

<img src="/IMAGES/jan05pmlacvr_lg.jpg" width=420 height=593 border=0 alt="PMLA">
<a name="table"></a>
<table width="95%" border="0" align="left">
<tr align="left" valign="top"> 
<tr align="left" valign="top"> 
<td width="6%">5</td>
<td width="94%">A Statement of Editorial Policy</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">6</td>
<td width="94%">Features in <I>PMLA</I></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">6</td>
<td width="94%">Forthcoming in <I>PMLA</I></td>
</tr>
<TR><td colspan="2">
&nbsp;</td></tr>
<tr align="left" valign="top"> 
<td width="6%">&nbsp;</td>
<td width="94%"><b>Special Topic: On Poetry</b>
Coordinated by Bruce R. Smith</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">9</td>
<td width="94%">Introduction: Some Pre<sub>sup</sub>positions
<i>Bruce R. Smith</i></td></tr>
<tr align="left" valign="top"> 
<td width="6%">16	</td>
<td width="94%">On the Misery of Theory without Poetry: Heidegger's Reading of H&#246;lderlin's "Andenken" 
<i>Avital Ronell</i></td></tr>
<tr align="left" valign="top"> 
<td width="6%">33	</td>
<td width="94%">On Not Defending Poetry: Spenser, Suffering, and the Energy of Affect 
<i>Joseph Campana</i></td></tr>
<tr align="left" valign="top"> 
<td width="6%">49	</td>
<td width="94%">The Ethical Uselessness of Grief: Randall Jarrell's "The Refugees" 
<i> R. Clifton Spargo</i></td></tr>
<tr align="left" valign="top"> 
<td width="6%">66	</td>
<td width="94%">The Strange Case of Araki Yasusada: Author, Object 
<i>Eric R. J. Hayot</i></td></tr>
<tr align="left" valign="top"> 
<td width="6%">82</td>
<td width="94%">Fugitive Lyric: The Rhymes of the Canting Crew
<i>Daniel Tiffany</i></td></tr>
<tr align="left" valign="top"> 
<td width="6%">97	</td>
<td width="94%">Poetry and Theory: A Roundtable</td></tr>
<tr align="left" valign="top"> 
<td width="6%">108</td>
<td width="94%">Phonic Matters: French Sound Poetry, Julia Kristeva, and Bernard Heidsieck 
<i>Carrie Noland</i></td></tr>
<tr align="left" valign="top"> 
<td width="6%">128</td>
<td width="94%">Mallarm&#233;'s Cinepoetics: The Poem Uncoiled by the Cin&#233;matographe, 1893-98 
<i>Christophe Wall-Romana</i></td></tr>
<tr align="left" valign="top"> 
<td width="6%">148</td>
<td width="94%">Standing on the Burning Deck: Poetry, Performance, History 
<i>Catherine Robson</i></td></tr>
<tr align="left" valign="top"> 
<td width="6%">163</td>
<td width="94%">A Box for Wilfrid Blunt 
<i>Lucy McDiarmid</i></td></tr>
<tr align="left" valign="top"> 
<td width="6%">181</td>
<td width="94%">"Everything We Want": Frank O'Hara and the Aesthetics of Free Choice 
<i>Michael Clune</i></td></tr>
<tr align="left" valign="top"> 
<td width="6%">197</td>
<i><td width="94%">The Muse of Indifference 
Eric C. Walker</i></td></tr>
<tr align="left" valign="top"> 
<td width="6%">219</td>
<td width="94%">Three Approaches to Poetry 
<i>Virginie Greene</i></td></tr>
<tr align="left" valign="top"> 
<td width="6%">235</td>
<td width="94%">What Praise Poems Are For 
<i>Susan Stewart</i></td></tr>
<TR><td colspan="2">
&nbsp;</td></tr>
<tr align="left" valign="top"> 
<td width="6%">246</td>
<td width="94%">Forum 
<i>Raffaella Baccolini, David Ketterer, and Eric S. Rabkin</i></td></tr>
<tr align="left" valign="top"> 
<td width="6%">250</td>
<td width="94%">Forthcoming Meetings and Conferences of General Interest</td></tr>
<tr align="left" valign="top"> 
<td width="6%">251</td>
<td width="94%">Index of Advertisers</td></tr>
<tr align="left" valign="top"> 
<td width="6%">255</td>
<td width="94%">Index of Authors Advertised</td></tr>
<tr align="left" valign="top"> 
<td width="6%">268</td>
<td width="94%">Professional Notes and Comment</td></tr> 
<tr align="left" valign="top"> 
<td width="6%">&nbsp; &nbsp;</td>
<td width="94%">268&nbsp; &nbsp;Announcements</td></tr> 
<tr align="left" valign="top"> 
<td width="6%">&nbsp; &nbsp;</td>
<td width="94%">272&nbsp; &nbsp;Journal Notes</td></tr> 
<tr align="left" valign="top"> 
<td width="6%">&nbsp; &nbsp;</td>
<td width="94%">276&nbsp; &nbsp;Internet News</td></tr> 
<tr align="left" valign="top"> 
<td width="6%">&nbsp; &nbsp;</td>
<td width="94%">276&nbsp; &nbsp;Meeting of the MLA Executive Council</td></tr> 
<tr align="left" valign="top"> 
<td width="6%">&nbsp; &nbsp;</td>
<td width="94%">284&nbsp; &nbsp;In Memoriam</td></tr>
<tr align="left" valign="top"> 
<td width="6%">308</td>
<td width="94%">Abstracts</td></tr></table>
