<div align="center"><h1>What Search Committees Want</h1></div>
<div align="center"><h3>Walter Broughton and William Conlogue</h3></div>
<div align="center"><i>Reprinted from the 2001 issue of</i> Profession <i>(New York: MLA, 2001) 39-51</div></i>
<p>	Preprofessionalism among graduate students in English has been a hotly debated topic for some time. Prominent onlookers argue that it—especially early publication and conference presentation&#8212keeps students from "developing long-term intellectual projects and thus propagates intellectual shallowness” (Guillory 4; see Spacks). Others point out that there is nothing inherently wrong with such activity, as long as it does not amount to “inferior professionalization” (Nelson 162). Understandably, graduate students are caught in the middle, wondering what to do and when to do it.
</p>
<p>
	Something is obviously wrong when new PhDs believe that before they can even enter the job market they must acquire the credentials that once earned tenure. To investigate the phenomenon, the Modern Language Association last year created the Ad Hoc Committee on the Professionalization of PhDs, whose task, in part, is to “study the growing pressure on the productivity of graduate students and the practices of hiring departments, [and] assess the educational and professional value of the publishing and conference activities graduate students pursue” (<i>Ad Hoc Committee</i>). In its deliberations, the committee must address an important question: Is the drive among graduate students to amass professional accomplishments matched by the expectations of the search committees that seek to hire them?
</p>
<p>
	Though graduate students have been getting much advice about how to prepare for the job market, they have received little hard information about what search committees want from candidates (Showalter; Curren, “No Openings” 59). To shed some light on the demand side of the hiring process, we offer the results of a survey that sought answers to the following questions: How do English departments conduct a typical search? What kinds of professional qualifications do committees expect from candidates? Is a publication record really more important than teaching experience? How significant are interpersonal skills? What egregious errors kill a candidacy?
</p>
<h2>Methods</h2> 
<p>
	We began putting the questionnaire together in April 2000. During the summer, we reviewed issues of the <i>Job Information List </i>(<i>JIL</i>) and identified a total of 671 English departments that had conducted searches in 1998–99 and 1999–2000. We ignored departments that listed only postdoctoral and other fellowships, and we excluded interdisciplinary programs, unless it was clear from the ad that the program was housed in an English department. In mid-October, we mailed our anonymous survey to these 671 departments; sent out two follow-up letters and one e-mail message in the following months; handled dozens of phone calls, letters, and e-mail messages; and resolved several minicrises before receiving the last return on 27 April 2001. In all, we received back 368 completed surveys, for a response rate of 55%.</p>
<p>
	To show the representativeness of our sample, <a href="#table1">table 1</a> compares our returns’ percentages regarding rank and specialty with those of the positions advertised in the October 1998 and 1999 <i>JIL</i>s (given in Franklin 4–5). Note the relatively high proportion of assistant professorships reported by our respondents, a bias that also shows up in an earlier and similar survey done by the Association of Departments of English (Huber, Pinney, and Laurence 40). Our data regarding the specialties sought by search committees are consistent with the MLA’s. Rhetoric and composition constitutes 25% of vacancies in our survey and 27% of definite positions in the October 1998 and 1999 <i>JIL</i>s. Our results are heavy in British literature positions (28%) compared with those of the <i>JIL</i>s (21%), though this difference may be because our sample overrepresents assistant professorships, which are more likely to be advertised and filled as British literature positions (Huber, Pinney, and Laurence 46). Our American literature percentage is identical to the <i>JIL</i>s’ (11%), as is our creative writing percentage (8%). African American and other minority literatures are underrepresented in our sample (6%) compared with the <i>JIL</i>s (11%).
</p>
<p>
	To catch more small departments at small institutions—they hire less frequently than do large departments—we chose to use two years of <i>JIL</i> listings rather than one. At the same time, because we consulted only the <i>JIL</i>, our results underrepresent searches in community colleges and four-year institutions, since both are less likely than doctoral programs to advertise vacancies with the MLA.<a name="notefirst"><a href="#notes"><sup>1</sup></a></p>
<p>
	When reviewing the results of surveys such as ours, it is important to remember that the population of departments recruiting at any given time is quite different from the universe of all English departments. Departments in doctoral institutions, because they are typically big, recruit more often, hire more faculty members, and command a larger share of the labor market. For example, though departments in research universities constitute only 11% of all departments in the United States (Laurence, “Data”), they constitute 26% of our sample. Moreover, in the two years we study, doctoral departments are responsible for 48% of the listings in the October <i>JIL</i>s (Laurence, “Request”). However, their actual market share is substantially less. In the best estimate available to date, Kurt M&uuml;ller and R. Douglas LeMaster project that roughly 30% of all English positions filled in any given year are in that Carnegie sector (52).<a name="notesecond"><a href="#notes"><sup>2</sup></a>
</p>
<h2>A Typical Search</h2> 
<p>
	Assistant professor positions make up 84% of searches in our sample (<a href="#table1">table 1</a>). Sixty-three percent of search committees accept applications from ABDs, and the vast majority of openings in our sample are tenure-track (93%). The last percentage may be high, because departments that advertised multiple openings were able to answer our questionnaire only on the basis of one search. We surmise that respondents were more likely to report on successful tenure-track searches than on unsuccessful ones.
</p>
<p>
	More than half of all search committees (58%) handle fewer than 100 applications. A significant minority (16%), however, receive more than 200. The mean number of applicants is 99. In the ADE study, the mean is 91 (Huber, Pinney, and Laurence 43). The competition for jobs is obviously stiff, but these numbers should put to rest the misconception that hundreds of applications flood every department that advertises an opening (Curren, “Response” 45; Musser 11).
</p>
<p>
	A significant number of committees do not interview candidates at the MLA convention (38%). Over half (54%), however, do interview eight or more people there. Doctoral institutions are the most intensive convention users; 71% of committees at these institutions interview eight or more candidates. Nearly 60% of committees do not use remote interviews—that is, telephone or compressed video. Of those that do, the average number of interviews is five. Nearly half of all search committees (47%) bring three applicants to campus for interviews, a number consistent with psychology searches (Sheehan, McDevitt, and Ross 9).
</p>
<p>
	Our survey affirms that English faculty members take active roles in the screening and hiring of new colleagues. Less than 1% of respondents reported that their academic administration conducted searches with little or no faculty participation. Committees conducted 82% of the searches in our sample; in only one case did a department chair handle a search alone. A significant minority of respondents—typically those in small departments—reported that their entire department acted as the search committee (15%).
</p>
<p>
	Of the committees surveyed, 12% had a serious disagreement with the institution’s administration. Of those, the most frequent disagreements centered on the committee’s choice of candidates, its evaluation of candidates, the job description, and the position’s funding.
</p>
<p>
	In the vast majority of searches, the committee’s first choice was accepted by the university’s administration (97%). Weak scholarship and the perception that the candidate would make a poor institutional fit were cited as the most frequent reasons for the rejection of a first choice. The numbers here are very small, however. Only ten respondents noted that their committee’s first choice was rejected; the two main reasons were each cited by only four respondents.
</p>
<p>
	A significant minority of all searches ended with the position unfilled (12%). Our study and the ADE study both found that positions go unfilled primarily due to an “inadequate candidate pool” (Huber, Pinney, and Laurence 43). Among all searches in our sample, 6% were unable to fill their vacancy because candidates refused the institution’s offer; in 4% of cases, the position went unfilled because no suitable candidate was found.
</p>
<h2>Evaluating Candidates</h2> 
<p>
	Candidate evaluation begins with a review of application materials submitted in answer to an advertised vacancy. <a href="#table2">Table 2</a> records the importance respondents accorded twenty-one elements at this initial stage. Most of these items come from a study of hiring in psychology (Sheehan, McDevitt, and Ross 9), but we included others of interest to us. Scores ran from 1, “extremely unimportant,” to 6, “extremely important.” Values above 3.5 indicate that the item is important to recruiters; items below 3.5 are unimportant. In addition to the average (mean) ranking, <a href="#table2">table 2</a> also records standard deviations, which indicate how far from the mean a typical respondent rated an item. The greater the standard deviation, the greater the disagreement among respondents.
</p>
<p>
	In evaluating candidates, the English faculty members in our sample judged the candidate’s “potential for making a positive contribution to the institution as a whole” to be more important than any other consideration. It and the letter of application were ranked highest, and both enjoyed substantial agreement—standard deviations for each are less than 1.0. Letters of recommendation were ranked fourth. General teaching experience and experience teaching the advertised specialties were both ranked highly, more highly than research specialties and the potential for future research. Farther down the list the same pattern holds: evidence of teaching ability outranks evidence of research ability. Specifically, course evaluations and teaching awards were cited as more important than the number and quality of the candidate’s publications. The numbers of papers presented and authoring a book were both deemed unimportant, although authoring a book has a large standard deviation, indicating that some respondents rated it much more highly than others. Finally, service, one of the three traditional areas of faculty responsibility, was consistently declared unimportant. Evidently, this aspect of professionalization is not generally a factor in recruitment.</p>
<p>
	<a href="#table3">Table 3</a> records the ranking accorded twenty items likely to be important at the on-campus interview stage. At this point, interpersonal skills and performances can be—and are—judged. Our sample’s recruiters rank highest the candidate’s performance at the interview with the search committee; the job seeker’s performance at the interview with the department chair, although deemed important, is ranked much lower. Performance at a colloquium and while teaching a class are very important, but note that the standard deviation of each is quite high. Indeed, the greatest disagreement in the survey is over the significance of performance while teaching a class. The ability to relate to students and to faculty members and the candidate’s personality all emerge, in that order, as important during the on-campus visit. Respondents agree on the significance of these considerations; each has a standard deviation less than 1.0.
</p>
<p>
	At the on-campus stage, the candidate’s potential for making a contribution to the institution as a whole is once again rated very highly. Teaching and research abilities remain important, although their values are now slightly lower than at the initial screening. Likewise, letters of reference remain important, but their value drops slightly compared with that in the first stage. Once again, service is thought to be unimportant.
</p>
<p>
	Screening applications appears to be a more uncertain and contentious process than is screening candidates during the on-campus visit. Our data suggest that there is less agreement among search committees about what is important in a candidate’s dossier than there is in assessing the candidate in person. Note that only four items at the application stage (<a href="#table2">table 2</a>) have a standard deviation less than 1.0. In addition, only nine criteria have a mean greater than 4. In <a href="#table3">table 3</a>, however, six items have a standard deviation less than 1.0, and thirteen criteria have a mean greater than 4.
</p>
<p>
	Once candidates come to campus, search committees clearly direct their attention to the interpersonal skills that manifest themselves in teaching and in student and collegial interactions. Are candidates’ interpersonal skills then deciding factors in who gets the job? Several respondents volunteered observations that suggest that this is so. For example, a department chair with over fifteen years of experience at a baccalaureate institution comments: 
</p>
<blockquote>
	The importance of personality, etc., vs. qualifications in hiring is difficult to [determine]. The process starts by screening out unqualified candidates; then in narrowing[,] qualifications are extremely important. So when the final decision is made among the top two or three candidates, in almost every circumstance, all of them are <i>highly</i> and <i>relatively equally qualified</i>. So in the <i>final</i> decision, personality usually plays a big part. But it wouldn’t if qualifications weren’t so important at all the earlier stages of the process.
</blockquote>
<p>
	Several attitude items that we asked lend support to these assertions. Over one-quarter of respondents (27%) think that personality and appearance often have more influence than credentials in the selection of candidates; nonetheless, in answer to another question, 56% agree that academic qualifications are the most important consideration. Although most believe that credentials are of paramount importance in hiring a new colleague, respondents acknowledge that a mix of factors informs a committee’s decision making.
</p>
<p>
	Much more than English search committees, those in psychology expect job candidates to have a track record in research presentation and publication. <a href="#table2">Table 2</a> and <a href="#table3">table 3</a> record in parentheses how psychologists rank each hiring criterion. Though the two disciplines generally agree in their ratings, psychologists tend to screen applications according to teaching and research specialization and publication. Placing less emphasis on a candidate’s <i>potential</i> for research, they instead focus on the candidate’s number of publications and the quality of the journals in which those publications appear. During the on-campus visit, psychologists put more weight than English faculty members do on the interview with the chair and less on the interview with the committee. Psychologists look closely at a candidate’s performance during a colloquium and during the teaching of a class; they also continue to value specialization in teaching and research more highly than do their colleagues in English. Psychologists more often want “preprofessionalized” candidates.
</p>
<p>
	English departments in doctoral institutions, however, resemble psychology departments in the emphasis they place on specialization and scholarly accomplishment. Twenty-three percent of search committees in doctoral institutions believe that a candidate’s number of publications is “extremely important” when screening applications. In contrast, only 1% of committees in baccalaureate institutions rank publication as extremely important at this stage. Interestingly, departments in doctoral institutions also attribute greater importance than other departments to the number of presentations, but <i>only</i> in screening. Presentations are considered unimportant at the interview stage, no matter what the institution’s Carnegie classification. Even among doctoral institutions, presentations are less important during screening than the number of publications and the prestige of the journals in which they appear.
</p>
<p>
	An institution’s Carnegie classification also predicts how much its English department emphasizes teaching in its evaluation of candidates. <a href="#table3">Table 3</a> shows that respondents disagree about the importance of a candidate’s on-campus teaching performance. Specifically, teaching a class is extremely important for 60% of respondents in baccalaureate institutions; likewise, 52% of respondents in comprehensive institutions rate it as extremely important. When one turns to doctoral institutions, however, the percentage drops precipitously: only 28% rate teaching a class as extremely important; 32% rate this criterion as <i>extremely unimportant</i>. Finally departments in doctoral institutions rank the candidate’s ability to contribute to the institution as a whole less highly than do those in any other Carnegie classification. New PhDs in English are entering a segmented labor market.
</p>
<h2>Selecting the First Choice</h2> 
<p>
	We asked respondents to list the top three factors used to determine the committee’s first choice. We divided the responses into four categories: teaching, research, service, and interpersonal skills. Nearly two-thirds (63%) cited teaching ability, performance, or experience as a deciding factor. Forty-four percent cited research accomplishments or potential. Twenty-eight percent volunteered that the candidate’s interpersonal skills were decisive. Service was hardly mentioned (6%). These results underscore what the survey as a whole reveals: the model candidate is first a good teacher.
</p>
<p>
	We also asked respondents to cite errors that “negatively affected [candidates’] chances of being hired.” Half of those surveyed noted at least one error. The error most frequently cited was poor or indifferent teaching. Poor presentation of research was a close second, followed by poor interpersonal skills, ignorance of the institution, and a lack of breadth of knowledge. Here are examples of the responses that this question elicited:
</p>
<blockquote>
	<b><i>Poor Teaching</i></b>
	<br>
	“One never talked about teaching.”
	<br>
	“Focus on release time/money—questions about ways to avoid classroom teaching.”
	<br>
	“One taught one of the most boring classes I’ve ever seen. Another talked about how lazy, uninformed, and so forth our students are—of course, they’re not.”
	<br>
	“One candidate appeared to consider himself superior to the teaching required at our college. (He seemed to think that nurturing basic writers would be beneath him.)”
</blockquote>

<p>&nbsp;</p>

<blockquote>
	<b><i>Poor Presentation of Research</i></b>
	<br>
	“Reluctance to engage in discussion of research area.”
	<br>
	“Presentations which are too technical or too insubstantial.”
	<br>
	“Did a lousy presentation. Was churlish during dinner.”
	<br>
	“Presented a paper in an area that she was working on but [that] did not reveal range of research experience in the field.”
</blockquote>

<p>&nbsp;</p>

<blockquote>
	<b><i>Poor Interpersonal Skills</i></b>
	<br>
	“Behavior perceived as insulting, dismissive.”
	<br>
	“During one of the interview questions, she threw up her arms and said, ‘Jesus.’”
	<br>
	“One candidate was overly argumentative, even belligerent, during the interview with the search committee.”
	<br>
	“One campus visitor ignored many important people and failed to thank those who helped him.”
</blockquote>

<p>&nbsp;</p>

<blockquote>
	<b><i>Ignorance of the Hiring Institution</i></b>
	<br>
	“Not knowing enough about the institution.”
	<br>
	“Emphasizing research over teaching. We are a teaching institution.”
	<br>
	“Failure to demonstrate interest in our college or a general knowledge of who we are.”
</blockquote>

<p>&nbsp;</p>

<blockquote>
	<b><i>Narrow Focus</i></b>
	<br>
	“Some were unable to demonstrate an ability to move beyond a rather narrowly focused research agenda—this lack of range and flexibility hurt a few otherwise very strong candidates.”
	<br>
	“She came with her hair in an outlandish coif and seemed incapable of assessing the world outside her dissertation topic.”
	<br>
	“Some could not talk beyond/outside of their own dissertations. They exhibited a deathly nervousness.”
</blockquote>

<p>
	These criticisms are not unique to English; the psychology survey cites similar criticisms of candidates in that field (Sheehan, McDevitt, and Ross 10). When strangers with divergent interests negotiate for high stakes, misunderstanding and injured pride can skew people’s judgment. What was happening in the interview in which the candidate threw up her arms and said, “Jesus”? Did she overreact, or was the question outrageous? Why the attention to a candidate’s hair? When does the defense of one’s position cross the line into belligerency? Do nervous candidates sometimes overstate their positions? Or do some committee members perceive it to be arrogant when heavily credentialed applicants cite their accomplishments? Certainly, both sides run the risk—and know the costs—of making a mistake. Is this why many committee members turn to instinct? When asked if gut-level reactions are important in the hiring process, 73% of respondents agreed that they are. Without empathy and tolerance, however, misinterpretation, selective observation, and rationalization can rule the moment.
</p>
<p>
	According to our findings, the typical English department search committee seeks a tenure-track assistant professor with a PhD in literature, most commonly British. These committees are entrusted with the task and experience little conflict with the academic administration. After sifting through nearly a hundred applications, a committee interviews eight or more candidates at the MLA convention and then invites its top three choices to campus. Afterward, the committee forwards its first choice to the administration, and the search ends successfully and&#8212for the committee—happily. Over half of all respondents (57%) to our questionnaire agreed that participating in a faculty search is a highly satisfying experience.

</p>
<p>
	When screening applications and on-campus candidates, English departments generally look for evidence of good teaching first and research potential second. Only in doctoral institutions does research rival teaching. Across the board, the candidate with the best interpersonal skills—all else being equal—is offered the job.

</p>
<p>
	What do search committees want? Our data indicate that the vast majority seek a candidate who can effectively teach specific courses to the students the English department serves. The committees want a colleague who will work collaboratively with their department’s faculty members and who will fit in well with their institution. Only a minority of committees seek a candidate with a book or publications. Committees that do, of course, work in the same departments that are preparing candidates to work in the entire spectrum of English departments. It is perhaps mainly because this minority trains everyone that so many believe that “preprofessionalism” is required to get a job. 
</p>
<p>
	<em>Walter Broughton is Associate Professor of Sociology at Marywood University. William Conlogue is Associate Professor of English at Marywood University.</em> 
</p>

<a name="notes"></a><h2>Notes</h2>
<p>
	The authors are indebted to Linda Hutcheon for her moral support and to the Marywood Office of Academic Affairs for its financial support. We are grateful also to David Laurence, who provided supplementary data from the records of the MLA, and to Lois Santarsiero and Meghan McCrea for their indispensable clerical work.</p>
<p>
<a name="notefirst"><a href="#notes"><sup>1</sup></a>In their 1982–83 survey of English departments, M&uuml;ller and LeMaster found that 14% of community colleges and 67% of those institutions granting BA or BA and MA degrees (compared with 85% of the doctoral programs) advertised vacancies in the <i>JIL</i> (54 [reconstructed from table 4]).</p>
<p>
	<a name="note2"></a><a href="#notesecond"><sup>2</sup></a>The 48% of <i>JIL</i> listings cited above is close to the proportion of the market commanded by doctoral institutions as reported in the surveys of M&uuml;ller and LeMaster, 40% (52) and of Huber, Pinney, and Laurence, 46% (45). These surveys, however, overestimate this market share, because the response rate of doctoral programs was higher than those of all other Carnegie classifications. Moreover, doctoral programs are most likely to advertise in the <i>JIL</i>. When M&uuml;ller and LeMaster project the number of hires per year, however, they apply the hiring rate of each Carnegie type in their survey to the total number of all departments of that type, thereby reducing the overestimation.</p>

<a name="citations"></a><h2>Works Cited</h2>
<p>
	<cite>Ad Hoc Committee on the Professionalization of PhDs</cite>. MLA. 11 May 2001. 15 May 2001 http://www.mla.org/, click on “Committees and Commissions.”
</p>
<p>
	Curren, Erik D. “No Openings at This Time: Job Market Collapse and Graduate Education.” <cite>Profession 94</cite>. New York: MLA, 1994. 57–61.
</p>
<p>
	<span style="letter-spacing:-0.2em; padding-right:0.15em;">———</span>. “Response to John T. Day.” <cite>ADE Bulletin</cite> 111 (1995): 45–46.
</p>
<p>
	Franklin, Phyllis. “October 2000 Employment Trends.” <cite>MLA Newsletter</cite> 33.1 (2001): 4–7.
</p>
<p>
	Guillory, John. “Preprofessionalism: What Graduate Students Want.” <cite>ADE Bulletin </cite>113 (1996): 4–8.
</p>
<p>
	Huber, Bettina J., Denise Pinney, and David Laurence. “Patterns of Faculty Hiring in Four-Year English Programs: Findings from a 1987—88 Survey of <cite>Job Information List</cite> Advertisers.” <cite>ADE Bulletin</cite> 99 (1991): 39–48.
</p>
<p>
	Laurence, David. “Re: Fwd: Data Request for David Laurence.” E-mail message to Walter Broughton. 19 May 2001.
</p>
<p>
	<span style="letter-spacing:-0.2em; padding-right:0.15em;">———</span>. “Re: Request for David Laurence.” E-mail message to Walter Broughton. 22 May 2001.
</p>
<p>
	M&uuml;ller, Kurt, and R. Douglas LeMaster. “Criteria Used in Selecting English Faculty in American Colleges and Universities.” <cite>ADE Bulletin</cite> 77 (1984): 51–57.
</p>
<p>
	Musser, Joseph. “The On-Campus Interview.” <cite>ADE Bulletin</cite> 111 (1995): 11–13. 
</p>
<p>
	Nelson, Cary. “No Wine before Its Time: The Panic over Early Professionalization.” <cite>Profession 2000</cite>. New York: MLA, 2000. 157–63.
</p>
<p>
	“Positions Listed, by Rank.” Table obtained from MLA 26 Apr. 2001.
</p>
<p>
	Sheehan, Eugene P., Teresa M. McDevitt, and Heather C. Ross. “Looking for a Job as a Psychology Professor? Factors Affecting Applicant Success.” <cite>Teaching of Psychology</cite> 25.1 (1998): 8–11.
</p>
<p>
	Showalter, English. “The Academic Job Search.” <cite>The MLA Guide to the Job Search. </cite>Ed. Showalter et al. New York: MLA, 1996. 16–56.
</p>
<p>
	Spacks, Patricia Meyer. “The Academic Marketplace: Who Pays Its Costs?” <cite>MLA Newsletter</cite> 26.2 (1994): 3.
</p>
<hr>
<p>
	<a name="table1"></a>
</p>
<p>
	<b>Table 1
		<br>
		Vacancy Characteristics in the October 1998 and 1999 <i>JILs</i> and As Reported by Survey Respondents (Percentage)</b>
</p>
<table border="0" cellspacing="2" cellpadding="1">
	<tr>
		<td colspan="3">
			<hr>
		</td>
	</tr>
	<tr>
		<th width="168" valign="BOTTOM">
			&nbsp;
		</th>
		<th width="168" valign="BOTTOM">
			Positions Advertised in October 1998 and October 1999 <i>JILs</i>
		</th>
		<th width="168" valign="BOTTOM">
			Positions Reported by Respondents in the Survey of English Search Committee Chairs
		</th>
	</tr>
	<tr>
		<td colspan="3">
			<hr>
		</td>
	</tr>
	<tr>
		<td valign="BOTTOM">
			Advertised rank<sup>a</sup>
		</td>
		<td align="CENTER" valign="BOTTOM">
			&nbsp;
		</td>
		<td align="CENTER" valign="BOTTOM">
			&nbsp;
		</td>
	</tr>
	<tr>
		<td valign="BOTTOM">
			&nbsp;&nbsp;&nbsp;Instructor or lecturer
		</td>
		<td align="CENTER" valign="BOTTOM">
			5.9
		</td>
		<td align="CENTER" valign="BOTTOM">
			4.3
		</td>
	</tr>
	<tr>
		<td valign="BOTTOM">
			&nbsp;&nbsp;&nbsp;Assistant professor
		</td>
		<td align="CENTER" valign="BOTTOM">
			75.0
		</td>
		<td align="CENTER" valign="BOTTOM">
			84.0
		</td>
	</tr>
	<tr>
		<td valign="BOTTOM">
			&nbsp;&nbsp;&nbsp;Associate professor
		</td>
		<td align="CENTER" valign="BOTTOM">
			6.4
		</td>
		<td align="CENTER" valign="BOTTOM">
			4.1
		</td>
	</tr>
	<tr>
		<td valign="BOTTOM">
			&nbsp;&nbsp;&nbsp;Full professor
		</td>
		<td align="CENTER" valign="BOTTOM">
			2.5
		</td>
		<td align="CENTER" valign="BOTTOM">
			2.2
		</td>
	</tr>
	<tr>
		<td valign="BOTTOM">
			&nbsp;&nbsp;&nbsp;Open rank
		</td>
		<td align="CENTER" valign="BOTTOM">
			4.4
		</td>
		<td align="CENTER" valign="BOTTOM">
			4.3
		</td>
	</tr>
	<tr>
		<td valign="BOTTOM">
			&nbsp;&nbsp;&nbsp;Other<sup>b</sup>
		</td>
		<td align="CENTER" valign="BOTTOM">
			5.8
		</td>
		<td align="CENTER" valign="BOTTOM">
			1.1
		</td>
	</tr>
	<tr>
		<td valign="BOTTOM">
			(N) = 100%
		</td>
		<td valign="BOTTOM" align="CENTER">
			(1,733)<sup>c</sup>
		</td>
		<td align="CENTER" valign="BOTTOM">
			(368)
		</td>
	</tr>
	<tr>
		<td valign="BOTTOM">
			Specialty field
		</td>
		<td align="CENTER" valign="BOTTOM">
			&nbsp;
		</td>
		<td align="CENTER" valign="BOTTOM">
			&nbsp;
		</td>
	</tr>
	<tr>
		<td valign="BOTTOM">
			&nbsp;&nbsp;&nbsp;American literature
		</td>
		<td align="CENTER" valign="BOTTOM">
			11.1
		</td>
		<td align="CENTER" valign="BOTTOM">
			10.9
		</td>
	</tr>
	<tr>
		<td valign="BOTTOM">
			&nbsp;&nbsp;&nbsp;African American,
			<br>
			&nbsp;&nbsp;&nbsp;Hispanic, and other
			<br>
			&nbsp;&nbsp;&nbsp;minority literatures
		</td>
		<td align="CENTER" valign="BOTTOM">
			10.9
		</td>
		<td align="CENTER" valign="BOTTOM">
			6.0
		</td>
	</tr>
	<tr>
		<td valign="BOTTOM">
			&nbsp;&nbsp;&nbsp;British literature
		</td>
		<td align="CENTER" valign="BOTTOM">
			20.8
		</td>
		<td align="CENTER" valign="BOTTOM">
			28.1
		</td>
	</tr>
	<tr>
		<td valign="BOTTOM">
			&nbsp;&nbsp;&nbsp;Rhetoric and composition
		</td>
		<td align="CENTER" valign="BOTTOM">
			26.7
		</td>
		<td align="CENTER" valign="BOTTOM">
			25.4
		</td>
	</tr>
	<tr>
		<td valign="BOTTOM">
			&nbsp;&nbsp;&nbsp;Creative writing
		</td>
		<td align="CENTER" valign="BOTTOM">
			7.8
		</td>
		<td align="CENTER" valign="BOTTOM">
			8.3
		</td>
	</tr>
	<tr>
		<td valign="BOTTOM">
			&nbsp;&nbsp;&nbsp;Other
		</td>
		<td align="CENTER" valign="BOTTOM">
			22.7
		</td>
		<td align="CENTER" valign="BOTTOM">
			21.4
		</td>
	</tr>
	<tr>
		<td valign="BOTTOM">
			(N) = 100%
		</td>
		<td align="CENTER" valign="BOTTOM">
			(1,784)<sup>c</sup>
		</td>
		<td align="CENTER" valign="BOTTOM">
			(368)
		</td>
	</tr>
	<tr>
		<td colspan="3">
			<hr>
		</td>
	</tr>
</table>
<sup>a</sup>From “Positions Listed, by Rank”
<br>
<sup>b</sup>Department chair and senior visiting professorships, for example
<br>
<sup>c</sup>Excludes fellowships and program director vacancies 
<hr>
<p>
	<a name="table2"></a>
</p>
<p>
	<b>Table 2
		<br>
		Screening Criteria: Means and Standard Deviations</b>
</p>
<table border="0" cellspacing="2" cellpadding="1">
	<tr>
		<td colspan="3" valign="BOTTOM">
			<hr>
		</td>
	</tr>
	<tr>
		<th width="422" valign="BOTTOM">
			Criterion
		</th>
		<th width="102" valign="BOTTOM">
			Mean
		</th>
		<th width="70" valign="BOTTOM">
			Standard Deviation
		</th>
	</tr>
	<tr>
		<td colspan="3" valign="BOTTOM">
			<hr>
		</td>
	</tr>
	<tr>
		<td valign="BOTTOM">
			Potential for making a positive
			<br>
			&nbsp;&nbsp;&nbsp;contribution to the institution as a whole
		</td>
		<td align="CENTER" valign="BOTTOM">
			5.36
		</td>
		<td align="CENTER" valign="BOTTOM">
			0.87
		</td>
	</tr>
	<tr>
		<td valign="BOTTOM">
			Candidate’s letter of application
		</td>
		<td align="CENTER" valign="BOTTOM">
			5.32
		</td>
		<td align="CENTER" valign="BOTTOM">
			0.87
		</td>
	</tr>
	<tr>
		<td valign="BOTTOM">
			General teaching experience
		</td>
		<td align="CENTER" valign="BOTTOM">
			5.17&nbsp;(4.99)<sup>a</sup>
		</td>
		<td align="CENTER" valign="BOTTOM">
			0.79
		</td>
	</tr>
	<tr>
		<td valign="BOTTOM">
			Letters of recommendation
		</td>
		<td align="CENTER" valign="BOTTOM">
			5.06&nbsp;(5.37)
		</td>
		<td align="CENTER" valign="BOTTOM">
			0.97
		</td>
	</tr>
	<tr>
		<td valign="BOTTOM">
			Experience teaching courses related
			<br>
			&nbsp;&nbsp;&nbsp; to the position description
		</td>
		<td align="CENTER" valign="BOTTOM">
			4.99&nbsp;(5.10)
		</td>
		<td align="CENTER" valign="BOTTOM">
			1.01
		</td>
	</tr>
	<tr>
		<td valign="BOTTOM">
			Fit between the applicant’s research
			<br>
			&nbsp;&nbsp;&nbsp;interests and the department’s needs
		</td>
		<td align="CENTER" valign="BOTTOM">
			4.83&nbsp;(5.11)
		</td>
		<td align="CENTER" valign="BOTTOM">
			1.31
		</td>
	</tr>
	<tr>
		<td valign="BOTTOM">
			Potential for future research
		</td>
		<td align="CENTER" valign="BOTTOM">
			4.73&nbsp;(4.09)
		</td>
		<td align="CENTER" valign="BOTTOM">
			1.29
		</td>
	</tr>
	<tr>
		<td valign="BOTTOM">
			Quality of the applicant’s doctoral institution
		</td>
		<td align="CENTER" valign="BOTTOM">
			4.12&nbsp;(4.04)
		</td>
		<td align="CENTER" valign="BOTTOM">
			1.11
		</td>
	</tr>
	<tr>
		<td valign="BOTTOM">
			Quality of course evaluations
		</td>
		<td align="CENTER" valign="BOTTOM">
			4.10&nbsp;(4.55)
		</td>
		<td align="CENTER" valign="BOTTOM">
			1.32
		</td>
	</tr>
	<tr>
		<td valign="BOTTOM">
			Awards for teaching
		</td>
		<td align="CENTER" valign="BOTTOM">
			3.87&nbsp;(4.00)
		</td>
		<td align="CENTER" valign="BOTTOM">
			1.27
		</td>
	</tr>
	<tr>
		<td valign="BOTTOM">
			Transcripts
		</td>
		<td align="CENTER" valign="BOTTOM">
			3.75
		</td>
		<td align="CENTER" valign="BOTTOM">
			1.39
		</td>
	</tr>
	<tr>
		<td valign="BOTTOM">
			Quality of journals in which the applicant published
		</td>
		<td align="CENTER" valign="BOTTOM">
			3.73&nbsp;(4.45)
		</td>
		<td align="CENTER" valign="BOTTOM">
			1.37
		</td>
	</tr>
	<tr>
		<td valign="BOTTOM">
			Ability to incorporate new technologies in teaching
		</td>
		<td align="CENTER" valign="BOTTOM">
			3.57
		</td>
		<td align="CENTER" valign="BOTTOM">
			1.33
		</td>
	</tr>
	<tr>
		<td valign="BOTTOM">
			Number of publications
		</td>
		<td align="CENTER" valign="BOTTOM">
			3.56&nbsp;(4.42)
		</td>
		<td align="CENTER" valign="BOTTOM">
			1.31
		</td>
	</tr>
	<tr>
		<td valign="BOTTOM">
			Academic service activities
			<br>
			&nbsp;&nbsp;&nbsp;and experience (committee work, etc.)
		</td>
		<td align="CENTER" valign="BOTTOM">
			3.42
		</td>
		<td align="CENTER" valign="BOTTOM">
			1.20
		</td>
	</tr>
	<tr>
		<td valign="BOTTOM">
			Number of presentations
		</td>
		<td align="CENTER" valign="BOTTOM">
			3.37
		</td>
		<td align="CENTER" valign="BOTTOM">
			1.14
		</td>
	</tr>
	<tr>
		<td valign="BOTTOM">
			Previous experience as a student
			<br>
			&nbsp;&nbsp;&nbsp;or faculty member in a college
			<br>
			&nbsp;&nbsp;&nbsp;or university with a mission similar to your own
		</td>
		<td align="CENTER" valign="BOTTOM">
			3.23
		</td>
		<td align="CENTER" valign="BOTTOM">
			1.46
		</td>
	</tr>
	<tr>
		<td valign="BOTTOM">
			Book authorship
		</td>
		<td align="CENTER" valign="BOTTOM">
			2.91
		</td>
		<td align="CENTER" valign="BOTTOM">
			1.55
		</td>
	</tr>
	<tr>
		<td valign="BOTTOM">
			Experience working with student clubs and groups
		</td>
		<td align="CENTER" valign="BOTTOM">
			2.58
		</td>
		<td align="CENTER" valign="BOTTOM">
			1.27
		</td>
	</tr>
	<tr>
		<td valign="BOTTOM">
			Community service
		</td>
		<td align="CENTER" valign="BOTTOM">
			2.55
		</td>
		<td align="CENTER" valign="BOTTOM">
			1.20
		</td>
	</tr>
	<tr>
		<td valign="BOTTOM">
			Candidate’s religious preference and/or commitment
		</td>
		<td align="CENTER" valign="BOTTOM">
			1.44
		</td>
		<td align="CENTER" valign="BOTTOM">
			1.29
		</td>
	</tr>
	<tr>
		<td colspan="3">
			<hr>
		</td>
	</tr>
</table>
<sup>a</sup>Psychology means, from Sheehan, McDevitt, and Ross 
<hr>
<p>
	<a name="table3"></a>
</p>
<p>
	<b>Table 3
		<br>
		On-Campus Interview Criteria: Means and Standard Deviations </b>
</p>
<table border="0" cellspacing="2" cellpadding="1">
	<tr>
		<td colspan="3">
			<hr>
		</td>
	</tr>
	<tr>
		<th width="454" valign="BOTTOM">
			Criterion
		</th>
		<th width="102" valign="BOTTOM">
			Mean
		</th>
		<th width="70" valign="BOTTOM">
			Standard Deviation
		</th>
	</tr>
	<tr>
		<td colspan="3" valign="BOTTOM">
			<hr>
		</td>
	</tr>
	<tr>
		<td valign="BOTTOM">
			Performance at interview with the search committee
		</td>
		<td align="CENTER" valign="BOTTOM">
			5.51&nbsp;(5.21)<sup>a</sup>
		</td>
		<td align="CENTER" valign="BOTTOM">
			0.84
		</td>
	</tr>
	<tr>
		<td valign="BOTTOM">
			Potential for making a positive contribution to the institution as a whole
		</td>
		<td align="CENTER" valign="BOTTOM">
			5.36
		</td>
		<td align="CENTER" valign="BOTTOM">
			0.93
		</td>
	</tr>
	<tr>
		<td valign="BOTTOM">
			Candidate’s ability to relate well to students like ours
		</td>
		<td align="CENTER" valign="BOTTOM">
			5.35
		</td>
		<td align="CENTER" valign="BOTTOM">
			0.75
		</td>
	</tr>
	<tr>
		<td valign="BOTTOM">
			General teaching experience
		</td>
		<td align="CENTER" valign="BOTTOM">
			4.93&nbsp;(4.80)
		</td>
		<td align="CENTER" valign="BOTTOM">
			0.83
		</td>
	</tr>
	<tr>
		<td valign="BOTTOM">
			Performance during colloquium
		</td>
		<td align="CENTER" valign="BOTTOM">
			4.92&nbsp;(5.12)
		</td>
		<td align="CENTER" valign="BOTTOM">
			1.48
		</td>
	</tr>
	<tr>
		<td valign="BOTTOM">
			Candidate’s ability to get along with other faculty
		</td>
		<td align="CENTER" valign="BOTTOM">
			4.89&nbsp;(4.84)
		</td>
		<td align="CENTER" valign="BOTTOM">
			0.91
		</td>
	</tr>
	<tr>
		<td valign="BOTTOM">
			Experience teaching courses related to the position description
		</td>
		<td align="CENTER" valign="BOTTOM">
			4.84&nbsp;(4.91)
		</td>
		<td align="CENTER" valign="BOTTOM">
			1.02
		</td>
	</tr>
	<tr>
		<td valign="BOTTOM">
			Fit between applicant’s research interests and department needs
		</td>
		<td align="CENTER" valign="BOTTOM">
			4.73&nbsp;(5.10)
		</td>
		<td align="CENTER" valign="BOTTOM">
			1.29
		</td>
	</tr>
	<tr>
		<td valign="BOTTOM">
			Performance while teaching a class
		</td>
		<td align="CENTER" valign="BOTTOM">
			4.70&nbsp;(4.91)
		</td>
		<td align="CENTER" valign="BOTTOM">
			1.80
		</td>
	</tr>
	<tr>
		<td valign="BOTTOM">
			Candidate’s personality
		</td>
		<td align="CENTER" valign="BOTTOM">
			4.65&nbsp;(4.62)
		</td>
		<td align="CENTER" valign="BOTTOM">
			0.96
		</td>
	</tr>
	<tr>
		<td valign="BOTTOM">
			Letters of recommendation
		</td>
		<td align="CENTER" valign="BOTTOM">
			4.63&nbsp;(4.68)
		</td>
		<td align="CENTER" valign="BOTTOM">
			1.16
		</td>
	</tr>
	<tr>
		<td valign="BOTTOM">
			Performance at interview with department chair
		</td>
		<td align="CENTER" valign="BOTTOM">
			4.45&nbsp;(4.60)
		</td>
		<td align="CENTER" valign="BOTTOM">
			1.32
		</td>
	</tr>
	<tr>
		<td valign="BOTTOM">
			Quality of course evaluations
		</td>
		<td align="CENTER" valign="BOTTOM">
			4.10
		</td>
		<td align="CENTER" valign="BOTTOM">
			1.33
		</td>
	</tr>
	<tr>
		<td valign="BOTTOM">
			Teaching awards
		</td>
		<td align="CENTER" valign="BOTTOM">
			3.75
		</td>
		<td align="CENTER" valign="BOTTOM">
			1.26
		</td>
	</tr>
	<tr>
		<td valign="BOTTOM">
			Quality of journals in which applicant published
		</td>
		<td align="CENTER" valign="BOTTOM">
			3.73
		</td>
		<td align="CENTER" valign="BOTTOM">
			1.37
		</td>
	</tr>
	<tr>
		<td valign="BOTTOM">
			Number of publications
		</td>
		<td align="CENTER" valign="BOTTOM">
			3.58
		</td>
		<td align="CENTER" valign="BOTTOM">
			1.27
		</td>
	</tr>
	<tr>
		<td valign="BOTTOM">
			Previous experience as a student or faculty member in a college or university with a mission similar to your own
		</td>
		<td align="CENTER" valign="BOTTOM">
			3.42
		</td>
		<td align="CENTER" valign="BOTTOM">
			1.54
		</td>
	</tr>
	<tr>
		<td valign="BOTTOM">
			Number of presentations
		</td>
		<td align="CENTER" valign="BOTTOM">
			3.22
		</td>
		<td align="CENTER" valign="BOTTOM">
			1.15
		</td>
	</tr>
	<tr>
		<td valign="BOTTOM">
			Book authorship
		</td>
		<td align="CENTER" valign="BOTTOM">
			2.87
		</td>
		<td align="CENTER" valign="BOTTOM">
			1.56
		</td>
	</tr>
	<tr>
		<td valign="BOTTOM">
			Candidate’s religious preference and/or commitment
		</td>
		<td align="CENTER" valign="BOTTOM">
			1.46
		</td>
		<td align="CENTER" valign="BOTTOM">
			1.31
		</td>
	</tr>
	<tr>
		<td colspan="3">
			<hr>
		</td>
	</tr>
</table>
<sup>a</sup>Psychology means, from Sheehan, McDevitt, and Ross 
<p>
