<h1>Table 6</h1>
<h2>Placement of Foreign Language PhDs by Sex and Year</h2>

<table border="0" cellspacing="1" cellpadding="2" width="621" bgcolor="[[color1]]">
	<tr>
		<td width="27%" valign="TOP" bgcolor="#ffffff" height="21">
			&nbsp;
		</td>
		<td width="14%" valign="MIDDLE" colspan="2" bgcolor="#ffffff" height="21" align="CENTER">
			<b>1979-80</b>
		</td>
		<td width="14%" valign="MIDDLE" colspan="2" bgcolor="#ffffff" height="21" align="CENTER">
			<b>1983-84</b>
		</td>
		<td width="15%" valign="MIDDLE" colspan="2" bgcolor="#ffffff" height="21" align="CENTER">
			<b>1991-92</b>
		</td>
		<td width="14%" valign="MIDDLE" colspan="2" bgcolor="#ffffff" height="21" align="CENTER">
			<b>1993-94</b>
		</td>
		<td width="14%" valign="MIDDLE" colspan="2" bgcolor="#ffffff" height="21" align="CENTER">
			<b>1996-97</b>
		</td>
	</tr>
	<tr>
		<td width="27%" valign="TOP" bgcolor="#ffffff" height="21">
			&nbsp;
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<b>Female</b>
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<b>Male</b>
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<b>Female</b>
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<b>Male</b>
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<b>Female</b>
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<b>Male</b>
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<b>Female</b>
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<b>Male</b>
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<b>Female</b>
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<b>Male</b>
		</td>
	</tr>
	<tr>
		<td width="27%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="RIGHT">
			<b>No. of PhDs reported</b>
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			353
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			315
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			313
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			273
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			356
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			278
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			406
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			298
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			412
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			303
		</td>
	</tr>
	<tr>
		<td width="27%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="RIGHT">
			<b>Percentage</b>
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			52.8%
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			47.2%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			53.4%
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			46.6%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			56.2%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			43.8%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			57.7%
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			42.3%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			57.6%
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			42.4%
		</td>
	</tr>
	<tr>
		<td width="27%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="RIGHT">
			<b>Percent with unknown employment status</b>
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			11.3%
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			5.4%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			6.4%
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			2.2%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			13.5%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			10.4%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			5.9%
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			6.7%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			6.55%
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			4.95%
		</td>
	</tr>
	<tr>
		<td width="27%" valign="MIDDLE" bgcolor="#ffffff" height="33" align="CENTER">
			<b>Teaching in higher education:</b>
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="33" align="CENTER">
			<b>76.2%</b>
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="33" align="CENTER">
			<b>74.4%</b>
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="33" align="CENTER">
			<b>70.6%</b>
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="33" align="CENTER">
			<b>86.1%</b>
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="33" align="CENTER">
			<b>85.4%</b>
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="33" align="CENTER">
			<b>78.3%</b>
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="33" align="CENTER">
			<b>78.0%</b>
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="33" align="CENTER">
			<b>77.3%</b>
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="33" align="CENTER">
			<b>74.8%</b>
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="33" align="CENTER">
			<b>77.4%</b>
		</td>
	</tr>
	<tr>
		<td width="27%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="right">
			<font color="[[color1]]"><b>Tenure-track appointment</b></font>
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<font color="[[color1]]"><b>39.3%</b></font>
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<font color="[[color1]]"><b>43.3%</b></font>
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<font color="[[color1]]"><b>37.9%</b></font>
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<font color="[[color1]]"><b>47.2%</b></font>
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<font color="[[color1]]"><b>52.6%</b></font>
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<font color="[[color1]]"><b>46.6%</b></font>
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<font color="[[color1]]"><b>44.6%</b></font>
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<font color="[[color1]]"><b>40.9%</b></font>
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<font color="[[color1]]"><b>36.7%</b></font>
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<font color="[[color1]]"><b>45.6%</b></font>
		</td>
	</tr>
	<tr>
		<td width="27%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="RIGHT">
			Full-time non-tenure-track appointment, renewable
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			15.7%
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			15.1%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			14.3%
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			19.1%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			13.6%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			13.7%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			17.9%
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			17.8%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			20.0%
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			16.1%
		</td>
	</tr>
	<tr>
		<td width="27%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="RIGHT">
			Full-time non-tenure-track appointment, 1 yr
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			4.5%
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			5.0%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			7.8
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			9.0%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			3.6%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			7.2%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			5.0%
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			8.3%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			6.8%
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			10.3%
		</td>
	</tr>
	<tr>
		<td width="27%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="RIGHT">
			Part-time appointment
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			12.1%
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			7.0%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			7.8%
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			5.6%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			11.0%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			4.0%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			8.2%
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			8.0%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			11.2%
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			5.4%
		</td>
	</tr>
	<tr>
		<td width="27%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="right">
				<font color="[[color1]]"><b><i>Subtotal all full-time teaching appointments</b></i></font>
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			<font color="[[color1]]"><i><b>59.4%</b></i></font>
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			<font color="[[color1]]"><i><b>63.4%</b></i></font>
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			<font color="[[color1]]"><i><b>60.1%</b></i></font>
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			<font color="[[color1]]"><i><b>75.3%</b></i></font>
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			<font color="[[color1]]"><i><b>69.8%</b></i></font>
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			<font color="[[color1]]"><i><b>67.5%</b></i></font>
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			<font color="[[color1]]"><i><b>67.5%</b></i></font>
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			<font color="[[color1]]"><i><b>67.0%</b></i></font>
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			<font color="[[color1]]"><i><b>63.6%</b></i></font>
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			<font color="[[color1]]"><i><b>72.0%</b></i></font>
		</td>
	</tr>
	<tr>
		<td width="27%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="RIGHT">
			<i>Subtotal all full-time non-tenure-track appointments</i>
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			20.2%
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			20.1%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			22.1%
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			28.1%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			17.2%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			20.9%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			22.9%
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			26.1%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			<i>26.8%</i>
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			<i>26.4%</i>
		</td>
	</tr>
	<tr>
		<td width="27%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="RIGHT">
			<i>Subtotal all non-tenure-track appointments</i>
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			32.3%
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			27.1%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			29.9%
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			33.7%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			28.2%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			24.9%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			31.1%
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			34.1%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			<i>38.1%</i>
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			<i>31.8%</i>
		</td>
	</tr>
	<tr>
		<td width="27%" valign="MIDDLE" bgcolor="#ffffff" height="33" align="CENTER">
			<b>Other higher education placement:</b>
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="33">
			&nbsp;
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="33">
			&nbsp;
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="33">
			&nbsp;
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="33">
			&nbsp;
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="33">
			&nbsp;
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="33">
			&nbsp;
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="33">
			&nbsp;
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="33">
			&nbsp;
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="33">
			&nbsp;
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="33">
			&nbsp;
		</td>
	</tr>
	<tr>
		<td width="27%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="RIGHT">
			Postdoctoral fellowship
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			1.0%
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			2.3%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			1.4%
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			2.6%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			1.9%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			2.8%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			1.8%
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			1.4%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			1.6%
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			1.9%
		</td>
	</tr>
	<tr>
		<td width="27%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="RIGHT">
			Academic administration
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			1.9%
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			3.4%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			1.4%
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			2.6%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			1.6%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			1.2%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			0.3%
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			0.7%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			1.1%
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			1.1%
		</td>
	</tr>
	<tr>
		<td width="27%" valign="MIDDLE" bgcolor="#ffffff" height="33" align="CENTER">
			<b>Employed outside higher education:</b>
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="33" align="CENTER">
			18.2%
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="33" align="CENTER">
			20.5%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="33" align="CENTER">
			20.5%
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="33" align="CENTER">
			12.0%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="33" align="CENTER">
			8.8%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="33" align="CENTER">
			13.7%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="33" align="CENTER">
			12.3%
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="33" align="CENTER">
			12.2%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="33" align="CENTER">
			9.0%
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="33" align="CENTER">
			8.8%
		</td>
	</tr>
	<tr>
		<td width="27%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="RIGHT">
			Secondary or elementary school teaching
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			5.4%
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			5.7%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			5.8%
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			3.4%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			2.9%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			3.2%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			3.7%
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			3.3%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			3.3%
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			3.4%
		</td>
	</tr>
	<tr>
		<td width="27%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="RIGHT">
			Govt, for-profit, or not-for-profit organization
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			12.8%
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			14.8%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			14.7%
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			8.6%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			5.9%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			10.5%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			8.6%
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			8.9%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			4.9%
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			5.0%
		</td>
	</tr>
	<tr>
		<td width="27%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="RIGHT">
			Self-employed
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			-
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			-
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			-
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			-
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			-
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			-
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			5.2%
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			4.7%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			0.8%
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			0.4%
		</td>
	</tr>
	<tr>
		<td width="27%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<b>Not employed</b>
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			7.3%
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			3.4%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			8.9%
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			1.9%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			5.8%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			8.0%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			9.7%
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			10.4%
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			10.7%
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			8.0%
		</td>
	</tr>
	<tr>
		<td width="27%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="RIGHT">
			Tenure-track part-time appointment
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			-
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			-
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			-
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			-
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			-
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			-
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			-
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			-
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			0.0%
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			0.4%
		</td>
	</tr>
	<tr>
		<td width="27%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="RIGHT">
			Teaching, classification unknown
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			-
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			-
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			-
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			-
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			-
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			-
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			-
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			-
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			2.7%
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
			2.3%
		</td>
	</tr>
	<tr>
		<td width="27%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			<b>Basis for %s</b>
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			313
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			298
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			293
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			267
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			313
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			298
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			379
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			276
		</td>
		<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			385
		</td>
		<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
			288
		</td>
	</tr>
</table>

<p>Note: The numbers used to calculate placement percentages in Table 6 include all PhDs whose employment placements were reported as known.


<p><a href="/jil_phd_survey">< Back to main page</a> | <a href="/jil_phd_survey_t7">Next table ></a>
