<h1>Table 2</h1>
<h2>Placement of 1996-97 PhDs in Classics, Modern Languages, and Linguistics</h2>

<table border="0" cellspacing="1" cellpadding="2" width="636" bgcolor="[[color1]]">
<tr>
	<td width="20%" valign="TOP" bgcolor="#ffffff">
		&nbsp;
	</td>
	<td width="13%" valign="TOP" colspan="2" bgcolor="#ffffff" align="CENTER">
		<b>Classics</b>
	</td>
	<td width="13%" valign="TOP" colspan="2" bgcolor="#ffffff" align="CENTER">
		<b>Comp. Lit.</b>
	</td>
	<td width="13%" valign="TOP" colspan="2" bgcolor="#ffffff" align="CENTER">
		<b>English</b>
	</td>
	<td width="13%" valign="TOP" colspan="2" bgcolor="#ffffff" align="CENTER">
		<b>For. Lang.</b>
	</td>
	<td width="13%" valign="TOP" colspan="2" bgcolor="#ffffff" align="CENTER">
		<b>Linguistics</b>
	</td>
	<td width="13%" valign="TOP" colspan="2" bgcolor="#ffffff" align="CENTER">
		<b>All Fields</b>
	</td>
</tr>
<tr>
	<td width="20%" valign="TOP" bgcolor="#ffffff">
		&nbsp;
	</td>
	<td width="7%" valign="TOP" bgcolor="#ffffff" align="CENTER">
		<b>No.</b>
	</td>
	<td width="7%" valign="TOP" bgcolor="#ffffff" align="CENTER">
		<b>%</b>
	</td>
	<td width="7%" valign="TOP" bgcolor="#ffffff" align="CENTER">
		<b>No.</b>
	</td>
	<td width="7%" valign="TOP" bgcolor="#ffffff" align="CENTER">
		<b>%</b>
	</td>
	<td width="7%" valign="TOP" bgcolor="#ffffff" align="CENTER">
		<b>No.</b>
	</td>
	<td width="7%" valign="TOP" bgcolor="#ffffff" align="CENTER">
		<b>%</b>
	</td>
	<td width="7%" valign="TOP" bgcolor="#ffffff" align="CENTER">
		<b>No.</b>
	</td>
	<td width="7%" valign="TOP" bgcolor="#ffffff" align="CENTER">
		<b>%</b>
	</td>
	<td width="7%" valign="TOP" bgcolor="#ffffff" align="CENTER">
		<b>No.</b>
	</td>
	<td width="7%" valign="TOP" bgcolor="#ffffff" align="CENTER">
		<b>%</b>
	</td>
	<td width="7%" valign="TOP" bgcolor="#ffffff" align="CENTER">
		<b>No.</b>
	</td>
	<td width="7%" valign="TOP" bgcolor="#ffffff" align="CENTER">
		<b>%</b>
	</td>
</tr>
<tr>
	<td width="20%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<b>Teaching in higher education:</b>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<b>37</b>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<b>71.2%</b>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<b>67</b>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<b>70.5%</b>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<b>801</b>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<b>72.4%</b>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<b>476</b>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<b>76.0%</b>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<b>87</b>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<b>61.7%</b>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<b>1468</b>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<b>72.7%</b>
	</td>
</tr>
<tr>
	<td width="20%" valign="MIDDLE" bgcolor="#ffffff" align="right">
		<font color="[[color1]]"><b>Tenure-track appointment</b></font>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<font color="[[color1]]"><b>16</b></font>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<font color="[[color1]]"><b>30.8%</b></font>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<font color="[[color1]]"><b>41</b></font>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<font color="[[color1]]"><b>43.2%</b></font>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<font color="[[color1]]"><b>372</b></font>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<font color="[[color1]]"><b>33.6%</b></font>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<font color="[[color1]]"><b>253</b></font>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<font color="[[color1]]"><b>40.4%</b></font>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<font color="[[color1]]"><b>40</b></font>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<font color="[[color1]]"><b>28.4%</b></font>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<font color="[[color1]]"><b>722</b></font>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<font color="[[color1]]"><b>35.7%</b></font>
	</td>
</tr>
<tr>
	<td width="20%" valign="MIDDLE" bgcolor="#ffffff" align="RIGHT">
		Full-time non-tenure-track appointment, renewable
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		9
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		17.3%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		11
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		11.6%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		191
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		17.3%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		115
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		18.4%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		23
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		16.3%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		349
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		17.3%
	</td>
</tr>
<tr>
	<td width="20%" valign="MIDDLE" bgcolor="#ffffff" align="RIGHT">
		Full-time non-tenure-track appointment, 1 yr
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		9
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		17.3%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		7
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		7.4%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		90
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		8.1%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		52
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		8.3%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		11
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		7.8%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		169
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		8.4%
	</td>
</tr>
<tr>
	<td width="20%" valign="MIDDLE" bgcolor="#ffffff" align="RIGHT">
		Part-time appointment
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		3
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		5.8%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		8
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		8.4%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		147
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		13.3%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		55
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		8.8%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		13
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		9.2%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		226
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		11.2%
	</td>
</tr>
<tr>
	<td width="20%" valign="MIDDLE" bgcolor="#ffffff" align="right">
		<font color="[[color1]]"><i><b>Subtotal all full-time teaching appointments</b></i></font>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<font color="[[color1]]"><i><b>34</b></i></font>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<font color="[[color1]]"><i><b>65.4%</b></i></font>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<font color="[[color1]]"><i><b>59</b></i></font>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<font color="[[color1]]"><i><b>62.1%</b></i></font>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<font color="[[color1]]"><i><b>653</b></i></font>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<font color="[[color1]]"><i><b>59.0%</b></i></font>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<font color="[[color1]]"><i><b>420</b></i></font>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<font color="[[color1]]"><i><b>67.1%</b></i></font>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<font color="[[color1]]"><i><b>74</b></i></font>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<font color="[[color1]]"><i><b>52.5%</b></i></font>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<font color="[[color1]]"><i><b>1240</b></i></font>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<font color="[[color1]]"><i><b>61.4%</b></i></font>
	</td>
</tr>
<tr>
	<td width="20%" valign="MIDDLE" bgcolor="#ffffff" align="RIGHT">
		<i>Subtotal all full-time non-tenure-track appointments</i>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<i>18</i>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<i>34.6%</i>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<i>18</i>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<i>18.9%</i>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<i>281</i>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<i>25.4%</i>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<i>167</i>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<i>26.7%</i>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<i>34</i>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<i>24.1%</i>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<i>518</i>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<i>25.6%</i>
	</td>
</tr>
<tr>
	<td width="20%" valign="MIDDLE" bgcolor="#ffffff" align="RIGHT">
		<i>Subtotal all non-tenure-track appointments</i>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<i>21</i>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<i>40.4%</i>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<i>26</i>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<i>27.4%</i>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<i>428</i>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<i>38.7%</i>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<i>222</i>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<i>35.5%</i>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<i>47</i>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<i>33.3%</i>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<i>744</i>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<i>36.8%</i>
	</td>
</tr>
<tr>
	<td width="20%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<b>Other higher education placement:</b>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff">
		&nbsp;
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff">
		&nbsp;
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff">
		&nbsp;
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff">
		&nbsp;
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff">
		&nbsp;
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff">
		&nbsp;
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff">
		&nbsp;
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff">
		&nbsp;
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff">
		&nbsp;
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff">
		&nbsp;
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff">
		&nbsp;
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff">
		&nbsp;
	</td>
</tr>
<tr>
	<td width="20%" valign="MIDDLE" bgcolor="#ffffff" align="RIGHT">
		Postdoctoral fellowship
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		3
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		5.8%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		6
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		6.3%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		38
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		3.4%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		11
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		1.8%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		15
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		10.6%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		73
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		3.6%
	</td>
</tr>
<tr>
	<td width="20%" valign="MIDDLE" bgcolor="#ffffff" align="RIGHT">
		Academic administration
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		1
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		1.9%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		3
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		3.2%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		31
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		2.8%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		7
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		1.1%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		0
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		0.0%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		42
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		2.1%
	</td>
</tr>
<tr>
	<td width="20%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<b>Employed outside higher education:</b>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<b>4</b>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<b>7.7%</b>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<b>4</b>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<b>4.2%</b>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<b>123</b>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<b>11.1%</b>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<b>56</b>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<b>8.9%</b>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<b>21</b>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<b>14.9%</b>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<b>208</b>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<b>10.3%</b>
	</td>
</tr>
<tr>
	<td width="20%" valign="MIDDLE" bgcolor="#ffffff" align="RIGHT">
		Secondary or elementary school teaching
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		2
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		3.8%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		1
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		1.1%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		36
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		3.3%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		21
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		3.4%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		1
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		0.7%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		61
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		3.0%
	</td>
</tr>
<tr>
	<td width="20%" valign="MIDDLE" bgcolor="#ffffff" align="RIGHT">
		Govt, for-profit, or not-for-profit organization
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		2
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		3.8%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		2
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		2.1%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		72
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		6.5%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		31
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		5.0%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		20
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		14.2%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		127
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		6.3%
	</td>
</tr>
<tr>
	<td width="20%" valign="MIDDLE" bgcolor="#ffffff" align="RIGHT">
		Self-employed
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		0
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		0.0%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		1
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		1.1%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		15
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		1.4%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		4
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		0.6%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		0
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		0.0%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		20
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		1.0%
	</td>
</tr>
<tr>
	<td width="20%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		<b>Not employed:</b>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		<b>7</b>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		<b>13.5%</b>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		<b>14</b>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		<b>14.7%</b>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		<b>106</b>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		<b>9.6%</b>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		<b>60</b>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		<b>9.6%</b>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		<b>16</b>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		<b>11.3%</b>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		<b>203</b>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="26" align="CENTER">
		<b>10.0%</b>
	</td>
</tr>
<tr>
	<td width="20%" valign="MIDDLE" bgcolor="#ffffff" align="RIGHT">
		Seeking employment
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		6
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		11.5%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		13
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		13.7%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		87
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		7.9%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		52
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		8.3%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		16
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		11.3%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		174
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		8.6%
	</td>
</tr>
<tr>
	<td width="20%" valign="MIDDLE" bgcolor="#ffffff" align="RIGHT">
		Not seeking employment
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		1
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		1.9%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		1
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		1.1%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		19
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		1.7%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		8
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		1.3%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		0
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		0.0%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		29
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		1.4%
	</td>
</tr>
<tr>
	<td width="20%" valign="MIDDLE" bgcolor="#ffffff" align="RIGHT">
		Teaching, classification unknown
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		0
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		0.0%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		1
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		1.1%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		7
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		0.6%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		16
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		2.6%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		2
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		1.4%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		26
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		1.3%
	</td>
</tr>
<tr>
	<td width="20%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<b>Basis for %s</b>
	</td>
	<td width="13%" valign="MIDDLE" colspan="2" bgcolor="#ffffff" align="CENTER">
		<b>52</b>
	</td>
	<td width="13%" valign="MIDDLE" colspan="2" bgcolor="#ffffff" align="CENTER">
		<b>95</b>
	</td>
	<td width="13%" valign="MIDDLE" colspan="2" bgcolor="#ffffff" align="CENTER">
		<b>1,106</b>
	</td>
	<td width="13%" valign="MIDDLE" colspan="2" bgcolor="#ffffff" align="CENTER">
		<b>626</b>
	</td>
	<td width="13%" valign="MIDDLE" colspan="2" bgcolor="#ffffff" align="CENTER">
		<b>141</b>
	</td>
	<td width="13%" valign="MIDDLE" colspan="2" bgcolor="#ffffff" align="CENTER">
		<b>2,020</b>
	</td>
</tr>
</table>

<p>Note: The numbers of PhDs used to calculate the placement percentages given in Table 2 exclude PhDs whose employment placements were reported as unknown and foreign nationals with temporary residency status in the US who returned to their countries of origin after receiving their degrees. 


<p><a href="/jil_phd_survey">< Back to main page</a> | <a href="/jil_phd_survey_t3">Next table ></a>
