<h1>General Advice for Candidates</h1>
Be sure that your dossier (transcript, letters of recommendation, and other material) is ready to be sent out by your placement bureau to any department that requests it.  Prepare and duplicate a one page vita sheet to enclose with any letters of application or inquiry.  In your letter of application, it is probably wise to express a willingness to be interviewed at the department's convenience.  Professional meetings provide a convenient opportunity for such interviews (see <a href="/jil_jobseekers_mtg">list of upcoming meetings</A>)

While it is important to begin to search for a position immediately, you should be aware that <B>hiring goes on all year</B>. Surveys indicate that only about half of all English and foreign language departments have begun recruiting by the end of December, and that the majority of departments do not complete the recruiting process until spring, in some cases until summer

Bear in mind that the candidate who has not limited his or her search for a new position to a particular geographical area or kind of institution is most likely to find a position.  Do not discount the small colleges where one often has the opportunity to teach a wide selection of courses to students of varied backgrounds.
