<h1>Career and Job Market Information</h1>
The MLA regularly produces reports about academic career prospects for graduates of doctoral programs in language and literature. Sources of information for these reports include the MLA's annual analysis of positions advertised in the <i>JIL</i>, the MLA's periodic surveys of PhD placement, and the United States government-sponsored Survey of Earned Doctorates. From time to time, the MLA conducts special studies, such as the 2004 MLA survey of hiring departments, which canvassed departments about the outcome of searches they conducted during the academic year 2003-04.

Report on Trends in the MLA <i>Job Information List</i>, September 2007 
<a href="/jilreporttext1007pdf" target="other">Text of Report</a>[[[docstudio filetype_tag_pdf]]]  
<a href="/jilreporttabl1007pdf" target="other">Tables and Figures</a>[[[docstudio filetype_tag_pdf]]] 

<a href="http://www.ade.org/reports/PHDPlacement.pdf">Findings from the MLA's Surveys of PhD Placement</a>[[[docstudio filetype_tag_pdf]]]  

<a href="http://www.ade.org/reports/SEDrpt_2005.pdf">Report on the Survey of Earned Doctorates, 2005</a>[[[docstudio filetype_tag_pdf]]] 

<a href="http://www.ade.org/reports/Rpt_2004SHD_ADE_138-39.pdf">Report on the MLA's 2004 Survey of Hiring Departments</a>[[[docstudio filetype_tag_pdf]]] 

 
