<h1>Checklist for Job Seekers</h1>
<a name="preprep"></a><h2>Preparation</h2>
<UL>
<li>Have you completed your dissertation?  If not, do you have a realistic schedule for completing it?
<li>Have you defined the kind(s) of institution(s) where you would like to teach?
<li>Have you informed yourself about the job market?  Have you consulted, for example, the <I>Job Information List</I>, the <I>Chronicle of Higher Education</I>, and the <I>ADE Bulletin</I> or <I>ADFL Bulletin</I> about the job situation? Note that community colleges regularly list their openings in regional or local newspapers. 
<li>Have you spoken to recently hired faculty members about their experiences in the job market?
<li>Have you been realistic in defining the kinds of specialized courses you are qualified to teach?  Have you articulated what you have to offer as a scholar and a teacher?  What are the limits of the jobs for which you really qualify?
<li>Have you spoken to one or more of the following persons about the job search: your department placement officer, your department graduate adviser, your dissertation adviser, your department placement committee, other faculty members who know you well and who have shown interest in your work?
<li>Have you requested from your department or placement office standardized forms for your letters of recommendation?
<li>Have you requested letters from three to five faculty members who feel positively about you and who know your course work, dissertation, and teaching?
<li>Have you given your referees sufficient information about your record and the kinds of institutions you are applying to? Have you given referees at least several weeks to prepare their letters of recommendation?
<li>Is your dossier individualized for each institution to which you are applying?
<li>Have you estimated the costs of the job search?  Although costs will vary, it is reasonable to expect to spend from $700 to $1,000 for travel, lodging, food, and incidentals when attending the MLA convention.  Remember too that you will have duplicating and postage expenses and fees charged by the placement office for sending your dossier. Although you should expect to be reimbursed for travel to on-campus interviews, you will probably have to pay airfare in advance. It is a good idea to establish credit and acquire a credit card if possible. When you are called for an on-campus interview, be sure to ask whether your expenses will be reimbursed.
<li>Have you requested a mock interview? If your department does not regularly schedule mock interviews for job candidates, have you discussed with several faculty members the kinds of questions you can expect to be asked and issues to be discussed?
<li>Have you considered requesting disability-related accommodations to facilitate your interview?</UL>
<a name="the_mla_con"></a><h2>The MLA Convention</h2>
<UL>
<li>Have you planned your interview schedule for the MLA convention, making sure that you have allowed enough time to get from one hotel to another?
<li>Do you have the information you need about the school and the department to which you have applied (e.g., course offerings, college and university requirements, faculty members)?
<li>Have you reviewed the <a href="/jil_jobseekers_dos">list of &quot;dos and don'ts&quot;</A> for interviewees?</UL>
<a name="the_oncampus"></a><h2>The On-Campus Interview</h2>
<UL>
<li>Have you determined beforehand the schedule of your visit and the meetings you will be asked to take part in?  Have you asked the department to add things to your itinerary (e.g., a tour of the library, a meeting with students) that were not originally scheduled?
<li>Have you inquired in advance of your trip whether you will be reimbursed for expenses you incur for the on-campus interview? Have you done careful research beforehand about the faculty and curriculum of the school you will be visiting?
<li>Will you be required to make a formal presentation to faculty and/or students while on campus?  If so, have you carefully prepared this presentation?  Are you prepared to discuss your dissertation in detail?
<li>Do you know about research and publication expectations? 
<li>Do you know the required teaching load per semester, the number of students per course, and the levels of courses you will be expected to teach?  
<li>Have you received all the information you will need in order to make a decision if offered a job—information about salary, fringe benefits, moving expenses, tenure policies, any other terms of the contract, and the amount of time you will have to consider the offer?
<li>Have you informed the department of any necessary disability-related accommodations to facilitate your interview?</UL>
<a name="after_an_off"></a><h2>After an Offer Is Made</h2>
<UL>
<li>Are you well informed about the general financial health of the college or university, its enrollment trends, its support for the humanities, the distribution of majors, and the faculty members in your discipline?
<li>Did your letter of offer explicitly state whether the position is tenure-track, or a one-, or multiple-year contract?
<li>Are you clear about what your teaching responsibilities will be?  Do you know what your course load and approximate class sizes will be?
<li>Do your research interests have a clear place in the department? Have you asked about support for your research, including the availability of grants, sabbatical and released time?
<li>Do you know the criteria and procedures for tenure and promotion?
<li>If you are being hired by a church-affiliated institution, have you been given a document stating expectations in regard to faculty in light of the religious mission of the institution?
<li>If the institution is unionized, do you understand how the rights and obligations of the faculty are defined by the union's contract? 
<li>Do you have an informed opinion about the advantages and disadvantages of living in the city or town where the college or university is located?  Have you asked, for example, about housing, the cost of living, cultural and social opportunities, local politics, and public schools?
<li>You should not be required to respond before 31 January to an offer of a position without tenure for the following academic year.  If you receive an offer before the middle of summer, you should be allowed two weeks to make a decision. But once you have definitely made up your mind about an offer, you should accept or reject it immediately: keep in mind that other candidates will be affected by your decision.</UL>
<a name="things_to_rem"></a><h2>Things to Remember If You Don't Get an Offer</h2>
<UL>
<li>The hiring season is not over in January; only the first wave has passed by then. Some institutions, for instance, community colleges, may offer positions throughout the year.
<li>While many offers are made in January, an offer in February does not necessarily mean that you are a second choice.  It may mean that the department has had to wait a month to reconvene its search committee or receive final approval for funding.
<li>You may be on the market too early.  The department may not have been convinced that you will actually finish your dissertation by the time specified.
<li>You may have pinned your hopes on too narrow a selection of schools.
<li>You can still inquire about your status at places where you have interviewed.  You may still be on their lists.
<li>New jobs open up after the MLA convention. Keep reading the <I>Job Information List</I> through the summer supplement and consult the advertisements in the <I>Chronicle of Higher Education</I> and other professional publications.
<li>There will be another job market next year.  Start preparing for it now. The current search will have given you valuable experience.
</UL>
<p>Prepared by the MLA Committee on Careers (1980–89). The Committee on Careers was combined with the Committee on Academic Freedom to form the Committee on Academic Freedom and Professional Rights and Responsibilities (CAFPRR) in 1989.  The checklist was reviewed and revised by CAFPRR in 2012.</p>
