<h1>JIL Admin</h1>
<h2>Manage Incoming Ads (Approval Interface)</h2>
<UL>
<LI><a href="/auto/jil2/jiladm1.pl?eng">Review JIL listings (English)</a>

<LI><a href="/auto/jil2/jiladm1.pl?fl">Review JIL listings (FL)</a>

<LI><a href="/auto/jil2/jiladm1.pl?x">Review JIL listings (Interdisciplinary)</a>
</UL>

<h2>No Vacancy Listings</h2>
<UL>
<LI><A HREF="/auto/admvac.pl" >Manage No Vacancy Listings</A> 
</ul>
