<h1>Dos and Don'ts for MLA Convention Interviews</h1>
The job interview is an event that has caused sufficient anxiety for both interviewer and interviewee to prompt a number of publications dealing with the topic. In recent years, concern about discrimination in the hiring process has led to a heightened awareness of the possibility of discriminatory intent in the questions asked by interviewers. To facilitate the conduct of interviews arranged through the MLA Job Information Service, guidelines have been developed for both interviewers and job candidates.

<h2>The Interviewer</h2>
<b>Do</b>
<ul>
	<li>Schedule interviews at reasonable hours and allow for adequate time.</li>
	<li>Leave time between interviews to review dossiers and  make postinterview notes.</li>
	<li>Read all the information your department has requested in advance.</li>
	<li>Ensure freedom from interruption (silence cell phones).</li>
	<li>Be on time.</li>
	<li>Ask candidate's permission to take notes.</li>
	<li>Introduce other department members present.</li>
	<li>Establish and maintain a pleasant atmosphere.</li>
	<li>Be courteous.</li>
	<li>Try to put candidate at ease.</li>
	<li>Be aware of your biases.</li>
	<li>Ask specific questions.</li>
	<li>Elicit all relevant information.</li>
	<li>Maintain eye contact.</li>
	<li>Ask appropriate questions; explore areas such as education, experience, special interests or skills, familiarity with textbooks, teaching methods, professional organizations, and future expectations.</li>
	<li>Discuss candidate's attitude toward teaching and research in language and literature.</li>
	<li>Elicit candidate's interest in specific job.</li>
	<li>Provide candidate with clear picture of job.</li>
	<li>Explain operation of school and department.</li>
	<li>Describe working conditions (e.g., course load, other duties, fringe benefits, leave policy).</li>
	<li>Allow time for candidate's questions. </li>
	<li>Listen attentively.</li>
	<li>Ask follow-up questions for clarification or further detail.</li>
	<li>Inform candidate of probable time of decision.</li>
	<li>Follow the Americans with Disabilities Act guidelines in meeting requests for accommodations.</li>
</ul>

<b>Don't</b>
<ul>
	<li>Interview more than one candidate at a time. </li>
	<li>Conduct major portion of interview during a meal.</li>
	<li>Ask questions about age, socioeconomic status, marital status, children, religion, medical or disability status, sexual orientation, or national origin.</li>
<li>Judge candidates on any criteria that are not professional, scholarly, or intellectual.</li>
	<li>Discuss candidate's dress or appearance.</li>
	<li>Display boredom.</li>
	<li>Doodle.</li>
	<li>Produce stress intentionally.</li>
	<li>Argue with candidate.</li>
	<li>Appear hostile to candidate.</li>
	<li>Be patronizing.</li>
	<li>Ask for information already in dossier.</li>
	<li>Ask leading questions.</li>
	<li>Ask yes-no questions if they can be avoided.</li>
	<li>Go off on tangents.</li>
	<li>Do all the talking.</li>
	<li>Describe job in negative terms.</li>
	<li>Oversell position.</li>
	<li>Downgrade other institutions or candidates.</li>
	<li>Tape-record or videotape.</li>
	<li>Require candidates to come to campus at their own expense.</li>
	<li>Make a job offer until all interviews are concluded.</li>
	<li>Assume that the candidate's home institution makes him or her unsuitable for your department.</li>
</ul>

<h2>The Candidate</h2>
<b>Do</b>
<ul>
	<li>Review job specifications.</li>
	<li>Research thoroughly departments and institutions with which you have interviews.</li>
	<li>Be aware that any materials that you have posted online (e.g., on social media, blogs, public e-mail discussion lists or forums) may be viewed by potential employers.</li>
<li>Remember that you are under no obligation to supply personal information and to do so may not be in your best interest.</li>
	<li>Be aware that it is your right to request specific accommodations to make the interview accessible. </li>
	<li>Prepare questions you want to ask (e.g., about teaching load, class size, number of majors, range of courses you will teach, library resources).</li>
	<li>Request of your department some practice interviewing; use the opportunity to analyze your strengths and weaknesses.</li>
	<li>Allow yourself an hour between interviews if possible.</li>
	<li>Be prepared to discuss approaches to languages and literature teaching.</li>
	<li>Think about courses and texts you would like to teach (be prepared to distribute sample syllabi).</li>
	<li>Be aware of nervousness.</li>
	<li>Come on time and follow all the usual protocols of politeness.</li>
	<li>Silence cell phone.</li>
	<li>Be aware of body language (your own and interviewer's).</li>
	<li>Project interest and enthusiasm, speak up clearly, listen attentively, and avoid using terms such as "you know," "like," and so on. </li>
	<li>Maintain eye contact with interviewer.</li>
	<li>Be prepared for aggressive questions. </li>
	<li>Answer openly, directly, and honestly. </li>
	<li>Be specific in both answers and your own questions.</li>
	<li>Be prepared to demonstrate your language ability.</li>
	<li>Bring out your strong points.</li>
	<li>Talk about relevant skills, experience, interests, and goals.</li>
	<li>Summarize your qualifications for the job.</li>
	<li>Find out when decisions will be made.</li>
	<li>Write follow-up thank-you letter.</li>
</ul>

<b>Don't</b>
<ul>
<li>Assume that a search committee is able to substitute an initial on-campus interview or phone or video interview for an MLA convention interview.</li>
	<li>Ask about salary at this stage of the hiring process.</li>
	<li>Be laconic or loquacious.</li>
	<li>Be either apologetic or arrogant.</li>
	<li>Appear opinionated or contentious.</li>
	<li>Argue with interviewer.</li>
	<li>Let yourself be intimidated.</li>
	<li>Volunteer negative information.</li>
	<li>Downgrade other candidates, jobs, or institutions.</li>
	<li>Get off the track or ramble.</li>
	<li>Overstay your welcome.</li>
</ul>
Revised in 2012 by the <a href="/rep_acad_freedom">MLA Committee on Academic Freedom and Professional Rights and Responsibilities</a>
