<h1>How to Search the <I>JIL</I> Database</h1>
<B>SEARCH CATEGORIES:</B> Ads are assigned language and field categories by the submitting department. You may select up to four categories by checking the appropriate boxes on the search form. If you select multiple categories within a search type (Language or Field), you will retrieve all ads tagged with any of your categories. If you select multiple categories across search types (Language and Field), you will retrieve only ads that have been tagged with all the selected categories.

<B>SEARCH BY WORDS:</B> You may enter words or phrases to describe your job interests, either instead of or in addition to a Search Categories selection. Single words or multiword phrases may be entered (e.g., women's studies); do not use quotation marks to indicate phrases. Job listings will be retrieved if they contain <I>all</I> of the words you enter.

<B>ABBREVIATIONS OR WILDCARDS:</B> You may abbreviate words with the percentage symbol (e.g., "fellow%" will retrieve listings containing "fellow," fellows," "fellowship," or "fellowships").

<b>SEARCH RESULTS:</b> Ads that meet your search criteria will be displayed as snippets showing only the institution name, job title, and the first few lines of the job description. Clicking on a job title will show the complete ad. Clicking on the institution name will show all ads from that institution. The complete ad also shows all the categories assigned to that ad; clicking on a category performs a new search for all ads indexed within that category.

<b>BROWSE LISTINGS BY INSTITUTION:</b> This option shows you a list of all institutions with ads in the <i>JIL</i>. Clicking on an institution name will show you all ads from that institution.

<b>APPLY TO A POSITION:</b> Each full ad contains a link to "Apply for this position," which will take you to the Interfolio landing page; from this page you can initiate your application and access your free Interfolio dossier account.

<b>EXPIRED LISTINGS:</b> To include expired listings in your search results, check the appropriate box on the search form.

<b>SAVING LISTINGS:</b> Click on the "add to saved jobs" icon adjacent to each listing you wish to save. View your saved jobs at any time by clicking on the "Retrieve saved listings" link on the search results screen. The screen will display only the listings you selected, which can then be printed or saved by choosing the "Download as MS Word file" link. Listings selected from subsequent searches will be added to your group of saved listings unless you click on "Clear all saved listings."

<b>NOTES AND STATUS REPORTS:</b>  Clicking on the pencil icon next to a saved job allows you to add notes about the job and to request e-mail notification when a department posts a status report on its job search (e.g., "MLA interviews scheduled," "Position filled").  Once saved, your notes are viewable online at any time by clicking the pencil icon next to the saved job.  

<B>OPTIONAL FILTERS:</B> You may select one or more geographic regions, specify a rank, or search only listings posted since a certain date. Geographic regions are comprised as follows:

<table border="0" cellpadding="4" cellspacing="1" bgcolor="[[color1]]" width="85%" align="center">
<tr valign="top">
<td bgcolor="[[color3]]"><font color="[[color1]]">New England</font></td>
<td bgcolor="#ffffff">Connecticut, Maine, Massachusetts, New Hampshire, Rhode Island, Vermont</td>
</tr>
<tr valign="top">
<td bgcolor="[[color3]]"><font color="[[color1]]">New York State</font></td>
<td bgcolor="#ffffff">New York</td>
</tr>
<tr valign="top">
<td bgcolor="[[color3]]"><font color="[[color1]]">Middle Atlantic</font></td>
<td bgcolor="#ffffff">Delaware, District of Columbia, Maryland, New Jersey, Pennsylvania, West Virginia</td>
</tr>
<tr valign="top">
<td bgcolor="[[color3]]"><font color="[[color1]]">Great Lakes</font></td>
<td bgcolor="#ffffff">Illinois, Indiana, Michigan, Minnesota, Ohio, Wisconsin</td>
</tr>
<tr valign="top">
<td bgcolor="[[color3]]"><font color="[[color1]]">South</font></td>
<td bgcolor="#ffffff">Alabama, Florida, Georgia, Kentucky, Lousiana, Mississippi, North Carolina, Puerto Rico, South Carolina, Tennessee, Virginia, Virgin Islands</td>
</tr>
<tr valign="top">
<td bgcolor="[[color3]]"><font color="[[color1]]">Central and Rocky Mountain</font></td>
<td bgcolor="#ffffff">Arizona, Arkansas, Colorado, Iowa, Missouri, Montana, Nebraska, New Mexico, North Dakota, Oklahoma, South Dakota, Texas, Utah, Wyoming</td>
</tr>
<tr valign="top">
<td bgcolor="[[color3]]"><font color="[[color1]]">Western United States</font></td>
<td bgcolor="#ffffff">Alaska, California, Guam, Hawaii, Idaho, Nevada, Oregon, Washington</td>
</tr>

<tr valign="top">
<td bgcolor="[[color3]]"><font color="[[color1]]">Canada</font></td>
<td bgcolor="#ffffff">Alberta, British Columbia, Manitoba, New Brunswick, Newfoundland and Labrador, Nova Scotia, Ontario, Prince Edward Island, Quebec, Saskatchewan</td>
</tr>
</table>

<B>NEW SEARCH:</B> To revise your search, please use the New Search button to clear previous search settings.
