<h1>About the <I>JIL</I></h1>
Published by the MLA as both an electronic database and as printable PDF editions, the <I>JIL</I> is the recognized professional source for announcements of full-time faculty positions available in the fields of English and foreign languages in North American colleges and universities. In 2012–13 the <I>JIL</I> carried close to 1,800 ads from 1,078 departments and 656 institutions in the United States, Canada, and overseas.

The <I>JIL</I> database allows job seekers to search by field or language, by geographic region, by key words or phrases in a job description (e.g., "women's studies," "Romanticism," or "drama"), and by rank.

Access to search the <I>JIL</I> is free for all users.  Access requires a user name and password.  MLA members can log in to search the <I>JIL</I> with their MLA-member user name and password.  Those who do not belong to the MLA may access the database by creating a free nonmember account.  See <a href="http://www.mla.org/jil_subscribe">Access to the <I>JIL</I></a>.  Job seekers who apply to a position through the <I>JIL</I> receive free Interfolio dossier accounts.  Departments that advertise in the <I>JIL</I> are entitled, at no additional charge, to use Interfolio's ByCommittee platform, a secure Web-based tool for organizing candidate files and conducting job searches in academic departments.  When a department uses ByCommittee, transmission of all application materials is free for candidates. For more information see <a href="http://www.mla.org/jil_interfolio">Dossier and Search-Management Services Available through the <I>JIL</I></a>.

Printable PDF files of the complete <I>JIL</I> archive, from 1965 to the present, are available at the MLA Web site (<a href="/jil_issues">www.mla.org/jil_issues</a>). Starting in 2013–14, an annual PDF produced after the database closes to new ads in July provides job seekers a compendium of all ads that appeared online and advertising departments a record of their job searches. Issues from 1966 to 2012–13 are available in five seasonal issues, October, December, February, April, and Summer. Departments can use the PDF archive to retrieve ads as needed.

Listings primarily announce full-time academic job openings in postsecondary departments of English and foreign languages. The job openings range in rank from instructor to full professor and include faculty positions, administrative posts, vacancies abroad, and some opportunities for nonacademic employment. About two-thirds are openings at the rank of assistant professor.

Federal law prohibits discrimination on the basis of race, color, religion, creed, sex, age, disability, or national origin. The MLA <i>Job Information List</i> reserves the right to edit all statements to conform with such regulations. Statements from foreign language departments requiring that applicants be native speakers of a given language will not be accepted. Phrases such as “native command,” “native fluency,” and “native-level speaker” are acceptable.

<b>The <I>JIL</I> database will be available beginning 13 September 2013 through 30 July 2014</b> for the 2013–14 subscription period.
<h2>Features</h2>
<b>Weekly Updates:</b> To make job listings available in a more timely manner for job seekers, especially in the period before the MLA convention, the <I>JIL</I> database will be updated weekly. Every Friday, all new listings submitted in the previous seven days will be added to the online database. Job seekers have the option to search the database for only those listings posted since a specified date. New listings remain online for six, eight, or twelve weeks. The hiring department may then choose to renew the listing for an additional period online. Expired listings may be retrieved from the database.
