<h1>MLA Statements Relevant to the Hiring Process</h1>
<h2>Notice on Tenure Policies</h2>
The Modern Language Association recommends that department administrators and their representatives inform candidates before or during the interview about prospects for tenure in the specific position under consideration and about the tenure policies and practices in their departments and institutions.  If the information is not offered, candidates are urged to inquire about these policies.

<A NAME="ack_of_app"></A><h2>Acknowledgement of Applications</h2>
Acting on a recommendation from the MLA Delegate Assembly, the MLA Executive Council has adopted a policy calling for departments to acknowledge all applications for announced positions by letter, by e-mail, or by self-addressed postcards provided by applicants.

<A NAME="reimburse"></A><h2>MLA Policy on Reimbursement</h2>
The following policies were recommended by the Delegate Assembly in December 1999 and approved by the MLA Executive Council in February 2000.

It is MLA policy that:
<UL> 
<LI>Departments that require that job applicants send their application materials by express courier reimburse those applicants for the cost of such shipment; and
<LI>Departments that require multiple copies of writing samples and other application materials from job applicants reimburse applicants for the cost of duplicating their writing samples and other materials; and
<LI>Departments that require books will return them to the applicant; and
<LI>Departments that invite job applicants for on-campus interviews reimburse those applicants who accept such invitations for the costs of travel and accommodations incurred when visiting the campus for interviews. 
</UL>

<h2>Recommendation on Domestic Partner Benefits</h2>
This recommendation grew out of a motion approved by the 2001 MLA Delegate Assembly.  The MLA Executive Council gave final approval for the dissemination of the recommendation at its May 2002 meeting.

Institutions that offer domestic partner benefits are encouraged to indicate these benefits in their job announcements or in the benefit information they make available to candidates they wish to interview.

For related information, please see the MLA <a href="/statement_on_nonten">Statement on Non-Tenure-Track Faculty Members</a> and the MLA <a href="/mla_recommendation_course">Recommendation on Minimum Per-Course Compensation for Part-Time Faculty Members</a>.

