<h1>Providing MLA Convention Interview Location Information</h1>

<p>Information about interview locations at the annual convention can now be submitted online in advance of and during the convention, so interviewers no longer have to come to the Job Information Center in person unless they are interviewing there.  The information you provide is used by MLA staff members at the Job Information Center to help individual job seekers who have scheduled interviews find the location of their interviews; it is not made available online, and job seekers are not permitted to browse interview location information in any form.</p>

<p>Beginning in November, please visit <a href="/jil_dept">www.mla.org/jil_dept</a> to enter interview location information. You will be asked to log in with your department ID and two-letter <i>Job Information List</i> submission password. Please provide an interview location for each position your department advertised in the <i>JIL</i> for which you are conducting an interview at the convention.</p>

<p>Interviewers can submit any of the following to help scheduled interviewees locate the interview and, if necessary, contact the interview team:
<ul>
<li>Location of interviews (interview area at the Job Information Center or hotel, including room number)</li>
<li>Name of interviewer(s)</li>
<li>Cell phone number of interviewer(s)</li>
<li>Arrival time of interviewer(s) at the convention</li>
<li>Special notes (e.g., interviewing one day in the hotel and another day in the interview 
area at the Job Information Center)</li>
</ul>
</p>

<p>Interviewers who do not submit their information online must come to the convention Job Information Center to provide the information.</p>

<p>Interviewers using the interview area at the Job Information Center must come to the interview area in person to have a table assigned.</p>
