<h1>Table 5</h1>
<h2>Placement of English PhDs by Sex and Year</h2>

<table border="0" cellspacing="1" cellpadding="2" width="592" bgcolor="[[color1]]">
<tr>
	<td width="27%" valign="TOP" bgcolor="#ffffff" height="21">
		&nbsp;
	</td>
	<td width="14%" valign="MIDDLE" colspan="2" bgcolor="#ffffff" height="21" align="CENTER">
		<b>1979-80</b>
	</td>
	<td width="14%" valign="MIDDLE" colspan="2" bgcolor="#ffffff" height="21" align="CENTER">
		<b>1983-84</b>
	</td>
	<td width="15%" valign="MIDDLE" colspan="2" bgcolor="#ffffff" height="21" align="CENTER">
		<b>1991-92</b>
	</td>
	<td width="14%" valign="MIDDLE" colspan="2" bgcolor="#ffffff" height="21" align="CENTER">
		<b>1993-94</b>
	</td>
	<td width="14%" valign="MIDDLE" colspan="2" bgcolor="#ffffff" height="21" align="CENTER">
		<b>1996-97</b>
	</td>
</tr>
<tr>
	<td width="27%" valign="TOP" bgcolor="#ffffff" height="21">
		&nbsp;
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>Female</b>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>Male</b>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>Female</b>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>Male</b>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>Female</b>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>Male</b>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>Female</b>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>Male</b>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>Female</b>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>Male</b>
	</td>
</tr>
<tr>
	<td width="27%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="RIGHT">
		<b>No. of PhDs reported</b>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		465
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		463
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		465
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		363
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		623
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		459
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		574
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		409
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		706
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		519
	</td>
</tr>
<tr>
	<td width="27%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="RIGHT">
		<b>Percentage</b>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		50.1%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		49.9%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		56.2%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		43.3%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		57.6%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		42.4%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		58.4%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		41.6%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		57.6%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		42.4%
	</td>
</tr>
<tr>
	<td width="27%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="RIGHT">
		<b>Percent with unknown employment status</b>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		11.6%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		7.1%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		8.4%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		8.0%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		16.7%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		8.3%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		10.1%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		8.3%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		8.4%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		4.4%
	</td>
</tr>
<tr>
	<td width="27%" valign="MIDDLE" bgcolor="#ffffff" height="33" align="CENTER">
		<b>Teaching in higher education:</b>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="33" align="CENTER">
		77.0%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="33" align="CENTER">
		79.7%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="33" align="CENTER">
		69.4%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="33" align="CENTER">
		77.6%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="33" align="CENTER">
		82.9%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="33" align="CENTER">
		82.4%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="33" align="CENTER">
		77.3%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="33" align="CENTER">
		79.7%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="33" align="CENTER">
		74.0%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="33" align="CENTER">
		70.8%
	</td>
</tr>
<tr>
	<td width="27%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="right">
		<font color="[[color1]]"><b>Tenure-track appointment</b></font>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="center">
		<font color="[[color1]]"><b>41.6%</b></font>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="center">
		<font color="[[color1]]"><b>48.4%</b></font>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="center">
		<font color="[[color1]]"><b>34.3%</b></font>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="center">
		<font color="[[color1]]"><b>45.5%</b></font>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="center">
		<font color="[[color1]]"><b>52.8%</b></font>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="center">
		<font color="[[color1]]"><b>49.6%</b></font>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="center">
		<font color="[[color1]]"><b>46.9%</b></font>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="center">
		<font color="[[color1]]"><b>44.5%</b></font>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="center">
		<font color="[[color1]]"><b>32.8%</b></font>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="center">
		<font color="[[color1]]"><b>37.7%</b></font>
	</td>
</tr>
<tr>
	<td width="27%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="RIGHT">
		Full-time non-tenure-track appointment, renewable
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
		16.1%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
		19.3%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
		18.5%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
		17.1%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
		12.9%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
		16.4%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
		11.2%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
		16.3%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
		18.4%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
		14.9%
	</td>
</tr>
<tr>
	<td width="27%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="RIGHT">
		Full-time non-tenure-track appointment, 1 yr
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
		5.4%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
		6.0%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
		3.5%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
		5.4%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
		5.4%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
		8.6%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
		7.0%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
		6.4%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
		8.8%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
		6.7%
	</td>
</tr>
<tr>
	<td width="27%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="RIGHT">
		Part-time appointment
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		13.9%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		6.0%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		13.1%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		9.6%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		11.8%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		7.8%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		12.2%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		12.5%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		14.1%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		11.5%
	</td>
</tr>
<tr>
	<td width="27%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="right">
		<font color="[[color1]]"><i><b>Subtotal all full-time teaching appointments</b></i></font>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="center">
		<font color="[[color1]]"><i><b>63.1%</b></i></font>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="center">
		<font color="[[color1]]"><i><b>73.7%</b></i></font>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="center">
		<font color="[[color1]]"><i><b>56.3%</b></i></font>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="center">
		<font color="[[color1]]"><i><b>68.0%</b></i></font>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="center">
		<font color="[[color1]]"><i><b>71.1%</b></i></font>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="center">
		<font color="[[color1]]"><i><b>74.6%</b></i></font>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="center">
		<font color="[[color1]]"><i><b>65.1%</b></i></font>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="center">
		<font color="[[color1]]"><i><b>67.2%</b></i></font>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="center">
		<font color="[[color1]]"><i><b>60.0%</b></i></font>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="center">
		<font color="[[color1]]"><i><b>59.3%</b></i></font>
	</td>
</tr>
<tr>
	<td width="27%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="RIGHT">
		<i>Subtotal all full-time non-tenure-track appointments</i>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
		<i>21.5%</i>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
		<i>25.3%</i>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
		<i>22.0%</i>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
		<i>22.5%</i>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
		<i>18.3%</i>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
		<i>25.0%</i>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
		<i>18.2%</i>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
		<i>22.7%</i>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
		<i>27.2%</i>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
		<i>21.6%</i>
	</td>
</tr>
<tr>
	<td width="27%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="RIGHT">
		<i>Subtotal all non-tenure-track appointments</i>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
		<i>35.4%</i>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
		<i>31.3%</i>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
		<i>35.1%</i>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
		<i>32.1%</i>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
		<i>30.1%</i>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
		<i>32.8%</i>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
		<i>30.4%</i>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
		<i>35.2%</i>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
		<i>41.3%</i>
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
		<i>33.1%</i>
	</td>
</tr>
<tr>
	<td width="27%" valign="MIDDLE" bgcolor="#ffffff" height="33" align="CENTER">
		<b>Other higher education placement:</b>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="33">
		&nbsp;
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="33">
		&nbsp;
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="33">
		&nbsp;
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="33">
		&nbsp;
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="33">
		&nbsp;
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="33">
		&nbsp;
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="33">
		&nbsp;
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="33">
		&nbsp;
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="33">
		&nbsp;
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="33">
		&nbsp;
	</td>
</tr>
<tr>
	<td width="27%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="RIGHT">
		Postdoctoral fellowship
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		1.5%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		3.0%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.7%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.3%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		1.0%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		1.0%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		1.9%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		1.7%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		3.1%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		3.8%
	</td>
</tr>
<tr>
	<td width="27%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="RIGHT">
		Academic administration
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		2.2%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		2.3%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		3.5%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		1.5%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		3.1%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		2.6%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.3%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		2.3%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		3.1%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		2.2%
	</td>
</tr>
<tr>
	<td width="27%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		<b>Employed outside higher education:</b>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		12.4%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		11.7%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		18.6%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		13.8%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		9.7%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		6.3%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		9.0%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		6.9%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		9.9%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		12.3%
	</td>
</tr>
<tr>
	<td width="27%" valign="MIDDLE" bgcolor="#ffffff" align="RIGHT">
		Secondary or elementary school teaching
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		4.1%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		3.0%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		5.2%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		3.6%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		3.9%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		2.9%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		2.5%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		2.4%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		2.8%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		3.6%
	</td>
</tr>
<tr>
	<td width="27%" valign="MIDDLE" bgcolor="#ffffff" align="RIGHT">
		Govt, for-profit, or not-for-profit organization
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		8.3%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		8.7%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		13.4%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		10.2%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		3.9%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		2.9%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		2.5%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		2.4%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		5.9%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		7.1%
	</td>
</tr>
<tr>
	<td width="27%" valign="MIDDLE" bgcolor="#ffffff" align="RIGHT">
		Self-employed
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		0.0%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		0.0%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		0.0%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		0.0%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		1.9%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		0.5%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		4.0%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		2.1%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		1.2%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" align="CENTER">
		1.6%
	</td>
</tr>
<tr>
	<td width="27%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>Not employed</b>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		7.1%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		3.3%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		9.9%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		6.9%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		6.4%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		6.4%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		11.4%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		9.3%
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		8.8%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		10.3%
	</td>
</tr>
<tr>
	<td width="27%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="RIGHT">
		Teaching, classification unknown
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
		-
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
		-
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
		-
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
		-
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
		-
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
		-
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
		-
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
		-
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
		0.9%
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="29" align="CENTER">
		0.6%
	</td>
</tr>
<tr>
	<td width="27%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>Basis for %s</b>
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		411
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		430
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		426
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		334
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		519
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		421
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		375
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		516
	</td>
	<td width="8%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		647
	</td>
	<td width="7%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		496
	</td>
</tr>
</table>

<p>Note: The numbers used to calculate placement percentages in Table 5 include all PhDs whose employment placements were reported as known.


<p><a href="/jil_phd_survey">< Back to main page</a> | <a href="/jil_phd_survey_t6">Next table ></a>
