<h1>Table 7</h1>
<h2>Placement of 1996-97 English PhDs by Sex and Region of Degree-granting Institution</h2>

<p>This table is arranged in two parts, the first showing information for the Northeast, Midwest, and South Atlantic regions, the second for the South Central, Rocky Mountain, and Pacific Coast regions.
<br>&nbsp;
<table border="0" cellspacing="1" cellpadding="2" width="599" bgcolor="[[color1]]">
<tr>
	<td width="42%" valign="MIDDLE" rowspan="2" bgcolor="#ffffff" height="21" align="CENTER">
		<b>Part 1 of 2</b>
	</td>
	<td width="19%" valign="MIDDLE" colspan="2" bgcolor="#ffffff" height="21" align="CENTER">
		<b>Northeast</b>
	</td>
	<td width="19%" valign="MIDDLE" colspan="2" bgcolor="#ffffff" height="21" align="CENTER">
		<b>Midwest</b>
	</td>
	<td width="19%" valign="MIDDLE" colspan="2" bgcolor="#ffffff" height="21" align="CENTER">
		<b>South Atlantic</b>
	</td>
</tr>
<tr>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>Female</b>
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>Male</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>Female</b>
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>Male</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>Female</b>
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>Male</b>
	</td>
</tr>
<tr>
	<td width="42%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="RIGHT">
		<b>Number of PhDs reported</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		189
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		129
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		178
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		140
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		127
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		99
	</td>
</tr>
<tr>
	<td width="42%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="RIGHT">
		<b>Percent with unknown employment status</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		7.94%
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		4.65%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		7.30%
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		3.57%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		9.45%
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		4.04%
	</td>
</tr>
<tr>
	<td width="42%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>Teaching in higher education:</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>78.44%</b>
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>70.54%</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>68.71%</b>
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>70.77%</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>76.79%</b>
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>72.04%</b>
	</td>
</tr>
<tr>
	<td width="42%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="right">
		<font color="[[color1]]"><b>Tenure-track appointment</b></font>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<font color="[[color1]]"><b>44.91%</b></font>
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<font color="[[color1]]"><b>43.75%</b></font>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<font color="[[color1]]"><b>27.61%</b></font>
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<font color="[[color1]]"><b>31.54%</b></font>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<font color="[[color1]]"><b>25.89%</b></font>
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<font color="[[color1]]"><b>41.94%</b></font>
	</td>
</tr>
<tr>
	<td width="42%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="RIGHT">
		Full-time non-tenure-track appointment: 
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		17.37%
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		17.86%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		29.45%
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		24.62%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		40.18%
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		20.43%
	</td>
</tr>
<tr>
	<td width="42%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="RIGHT">
		<i>Renewable</i>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<i>10.78%</i>
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<i>10.71%</i>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<i>22.70%</i>
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<i>16.92%</i>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<i>25.89%</i>
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<i>10.75%</i>
	</td>
</tr>
<tr>
	<td width="42%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="RIGHT">
		<i>1 yr</i>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<i>6.59%</i>
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<i>7.14%</i>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<i>6.75%</i>
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<i>7.69%</i>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<i>14.29%</i>
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<i>9.68%</i>
	</td>
</tr>
<tr>
	<td width="42%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="RIGHT">
		Part-time appointment
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		16.17%
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		8.93%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		11.66%
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		14.62%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		10.71%
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		9.68%
	</td>
</tr>
<tr>
	<td width="42%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>Other higher education placement:</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21">
		&nbsp;
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21">
		&nbsp;
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21">
		&nbsp;
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21">
		&nbsp;
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21">
		&nbsp;
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21">
		&nbsp;
	</td>
</tr>
<tr>
	<td width="42%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="RIGHT">
		Postdoctoral fellowship
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		2.40%
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		4.46%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		3.68%
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		3.85%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.89%
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		4.30%
	</td>
</tr>
<tr>
	<td width="42%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="RIGHT">
		Academic administration
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		2.40%
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		3.57%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		6.13%
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		2.31%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		3.57%
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		2.15%
	</td>
</tr>
<tr>
	<td width="42%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>Placement outside higher education:</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>6.59%</b>
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>11.61%</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>8.59%</b>
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>13.08%</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>10.71%</b>
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>12.90%</b>
	</td>
</tr>
<tr>
	<td width="42%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="RIGHT">
		Secondary or elementary school teaching
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		2.40%
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		3.57%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		1.23%
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		3.08%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		2.68%
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		5.38%
	</td>
</tr>
<tr>
	<td width="42%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="RIGHT">
		Government
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.89%
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
</tr>
<tr>
	<td width="42%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="RIGHT">
		Not-for-profit organization
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		1.80%
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.89%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		1.84%
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		3.85%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		5.36%
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		2.15%
	</td>
</tr>
<tr>
	<td width="42%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="RIGHT">
		For-profit business
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		1.80%
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		5.36%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		3.68%
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		4.62%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		1.79%
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		4.30%
	</td>
</tr>
<tr>
	<td width="42%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="RIGHT">
		Self-employed
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.60%
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		1.79%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		1.84%
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		1.54%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		1.08%
	</td>
</tr>
<tr>
	<td width="42%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>Not employed:</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>8.38%</b>
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>8.93%</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>11.66%</b>
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>10.00%</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>7.14%</b>
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>8.60%</b>
	</td>
</tr>
<tr>
	<td width="42%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="RIGHT">
		Seeking
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		4.79%
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		8.04%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		10.43%
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		10.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		3.57%
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		7.53%
	</td>
</tr>
<tr>
	<td width="42%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="RIGHT">
		Not seeking
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		3.59%
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.89%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		1.23%
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		3.57%
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		1.08%
	</td>
</tr>
<tr>
	<td width="42%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="RIGHT">
		Tenure-track part-time position
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.60%
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
</tr>
<tr>
	<td width="42%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="RIGHT">
		Teaching, classification unknown
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		1.20%
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.89%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		1.23%
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.89%
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
</tr>
<tr>
	<td width="42%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>Basis for %s</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		167
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		112
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		163
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		130
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		112
	</td>
	<td width="9%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		93
	</td>
</tr>
</table>

<p>&nbsp; 

<table border="0" cellspacing="1" cellpadding="2" width="626" bgcolor="[[color1]]">
<tr>
	<td width="39%" valign="MIDDLE" colspan="3" rowspan="2" bgcolor="#ffffff" height="21" align="CENTER">
		<b>Part 2 of 2</b>
	</td>
	<td width="20%" valign="MIDDLE" colspan="2" bgcolor="#ffffff" height="21" align="CENTER">
		<b>South Central</b>
	</td>
	<td width="20%" valign="MIDDLE" colspan="2" bgcolor="#ffffff" height="21" align="CENTER">
		<b>Rocky Mountain</b>
	</td>
	<td width="20%" valign="MIDDLE" colspan="2" bgcolor="#ffffff" height="21" align="CENTER">
		<b>Pacific Coast</b>
	</td>
</tr>
<tr>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>Female</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>Male</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>Female</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>Male</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>Female</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>Male</b>
	</td>
</tr>
<tr>
	<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="RIGHT">
		<b>Number of PhDs reported</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		71
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		52
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		22
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		18
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		119
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		81
	</td>
</tr>
<tr>
	<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="RIGHT">
		<b>Percent with unknown employment status</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		5.80%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		6.12%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		9.09%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		9.40%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		6.33%
	</td>
</tr>
<tr>
	<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="CENTER">
		<b>Teaching in higher education:</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>63.08%</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>63.04%</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>75.00%</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>64.71%</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>77.36%</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<b>72.97%</b>
	</td>
</tr>
<tr>
	<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="right">
		<font color="[[color1]]"><b>Tenure-track appointment</b></font>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<font color="[[color1]]"><b>26.15%</b></font>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<font color="[[color1]]"><b>36.96%</b></font>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<font color="[[color1]]"><b>35.00%</b></font>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<font color="[[color1]]"><b>17.65%</b></font>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<font color="[[color1]]"><b>26.42%</b></font>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<font color="[[color1]]"><b>28.38%</b></font>
	</td>
</tr>
<tr>
	<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="RIGHT">
		Full-time non-tenure-track appointment:
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		26.15%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		13.04%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		15.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		35.29%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		31.13%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		31.08%
	</td>
</tr>
<tr>
	<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="RIGHT">
		<i>Renewable</i>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<i>15.38%</i>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<i>8.70%</i>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<i>15.00%</i>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<i>35.29%</i>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<i>19.81%</i>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<i>25.68%</i>
	</td>
</tr>
<tr>
	<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="RIGHT">
		<i>1 yr</i>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<i>10.77%</i>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<i>4.35%</i>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<i>0.00%</i>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<i>0.00%</i>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<i>11.32%</i>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		<i>5.41%</i>
	</td>
</tr>
<tr>
	<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="RIGHT">
		Part-time appointment
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		10.77%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		13.04%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		25.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		11.76%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		19.81%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		13.51%
	</td>
</tr>
<tr>
	<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="CENTER">
		<b>Other higher education placement:</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21">
		&nbsp;
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21">
		&nbsp;
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21">
		&nbsp;
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21">
		&nbsp;
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21">
		&nbsp;
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21">
		&nbsp;
	</td>
</tr>
<tr>
	<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="RIGHT">
		Postdoctoral fellowship
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		3.08%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		4.35%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		5.88%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		6.60%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		1.35%
	</td>
</tr>
<tr>
	<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="RIGHT">
		Academic administration
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		1.54%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		4.35%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.94%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
</tr>
<tr>
	<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="CENTER">
		<b>Placement outside higher education:</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		16.92%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		21.74%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		15.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		23.53%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		10.38%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		6.76%
	</td>
</tr>
<tr>
	<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="RIGHT">
		Secondary and elementary teaching
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		9.23%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		4.35%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		5.88%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		2.83%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		2.70%
	</td>
</tr>
<tr>
	<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="RIGHT">
		Government
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		5.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.94%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
</tr>
<tr>
	<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="RIGHT">
		Not-for-profit organization
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		1.54%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		6.52%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		5.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		5.88%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		2.83%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
</tr>
<tr>
	<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="RIGHT">
		For-profit business
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		3.08%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		8.70%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		5.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		11.76%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		2.83%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		1.35%
	</td>
</tr>
<tr>
	<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="RIGHT">
		Self-employed
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		3.08%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		2.17%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.94%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		2.70%
	</td>
</tr>
<tr>
	<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="CENTER">
		<b>Not employed:</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		13.85%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		6.52%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		10.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		5.88%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		4.72%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		18.92%
	</td>
</tr>
<tr>
	<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="RIGHT">
		Seeking
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		7.69%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		6.52%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		5.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		5.88%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		4.72%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		18.92%
	</td>
</tr>
<tr>
	<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="RIGHT">
		Not seeking
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		6.15%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		5.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
</tr>
<tr>
	<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="RIGHT">
		Teaching, classification unknown
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		1.54%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		0.00%
	</td>
</tr>
<tr>
	<td width="39%" valign="MIDDLE" colspan="3" bgcolor="#ffffff" height="21" align="CENTER">
		<b>Basis for %s</b>
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		65
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		46
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		20
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		17
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		106
	</td>
	<td width="10%" valign="MIDDLE" bgcolor="#ffffff" height="21" align="CENTER">
		74
	</td>
</tr>
</table>

<p>Note: The numbers of PhDs used to calculate the placement percentages given in 7 include all PhDs whose employment placements were reported as known and who remained in the US after receiving their degrees.


<p><a href="/jil_phd_survey">< Back to main page</a> | <a href="/jil_phd_survey_t8">Next table ></a>
