<h1>MLA Policy on the Reimbursement of Job Seekers</h1>
The following policies were recommended by the Delegate Assembly in December 1999 and approved by the MLA Executive Council in February 2000. 

It is MLA policy that: 
<ul>
<li>Departments that require that job applicants send their application materials by express courier reimburse those applicants for the cost of such shipment; and 
<li>Departments that require multiple copies of writing samples and other application materials from job applicants reimburse applicants for the cost of duplicating their writing samples and other materials; and 
<li>Departments that require books will return them to the applicant; and 
<li>Departments that invite job applicants for on-campus interviews reimburse those applicants who accept such invitations for the costs of travel and accommodations incurred when visiting the campus for interviews.
</ul>
