<h1>Table 11</h1>
<h2>Placement of 1996-97 Foreign Language PhDs by Race and Ethnicity</h2>

<table border="0" cellspacing="1" cellpadding="2" width="578" bgcolor="[[color1]]">
	<tr>
		<td width="27%" valign="TOP" bgcolor="#ffffff" height="16">
			&nbsp;
		</td>
		<td width="11%" valign="TOP" bgcolor="#ffffff" height="16" align="CENTER">
			<b>Asian</b>
		</td>
		<td width="11%" valign="TOP" bgcolor="#ffffff" height="16" align="CENTER">
			<b>Black</b>
		</td>
		<td width="12%" valign="TOP" bgcolor="#ffffff" height="16" align="CENTER">
			<b>Hispanic</b>
		</td>
		<td width="14%" valign="TOP" bgcolor="#ffffff" height="16" align="CENTER">
			<b>Native Am</b>
		</td>
		<td width="11%" valign="TOP" bgcolor="#ffffff" height="16" align="CENTER">
			<b>White</b>
		</td>
		<td width="13%" valign="TOP" bgcolor="#ffffff" height="16" align="CENTER">
			<b>Unknown</b>
		</td>
	</tr>
	<tr>
		<td width="27%" valign="TOP" bgcolor="#ffffff" height="16" align="RIGHT">
			<b>No. of PhDs reported</b>
		</td>
		<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			49
		</td>
		<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			11
		</td>
		<td width="12%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			149
		</td>
		<td width="14%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			8
		</td>
		<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			497
		</td>
		<td width="13%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			1
		</td>
	</tr>
	<tr>
		<td width="27%" valign="TOP" bgcolor="#ffffff" height="16" align="RIGHT">
			<b>% with unknown employment status</b>
		</td>
		<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			10.20%
		</td>
		<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			9.09%
		</td>
		<td width="12%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			4.70%
		</td>
		<td width="14%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			37.50%
		</td>
		<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			5.23%
		</td>
		<td width="13%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			0.00%
		</td>
	</tr>
	<tr>
		<td width="27%" valign="TOP" bgcolor="#ffffff" height="16" align="RIGHT">
			<b>Tenure track appointment</b>
		</td>
		<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			46.15%
		</td>
		<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			20.00%
		</td>
		<td width="12%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			59.69%
		</td>
		<td width="14%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			60.00%
		</td>
		<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			34.73%
		</td>
		<td width="13%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			100.00%
		</td>
	</tr>
	<tr>
		<td width="27%" valign="TOP" bgcolor="#ffffff" height="16" align="RIGHT">
			<b>Full-time non-tenure track appointment</b>
		</td>
		<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			38.46%
		</td>
		<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			20.00%
		</td>
		<td width="12%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			22.48%
		</td>
		<td width="14%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			20.00%
		</td>
		<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			27.47%
		</td>
		<td width="13%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			0.00%
		</td>
	</tr>
	<tr>
		<td width="27%" valign="TOP" bgcolor="#ffffff" height="16" align="RIGHT">
			<b>Part Time appointment</b>
		</td>
		<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			0.00%
		</td>
		<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			10.00%
		</td>
		<td width="12%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			6.20%
		</td>
		<td width="14%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			0.00%
		</td>
		<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			10.11%
		</td>
		<td width="13%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			0.00%
		</td>
	</tr>
	<tr>
		<td width="27%" valign="TOP" bgcolor="#ffffff" height="16" align="RIGHT">
			<b>Postdoctoral fellowship</b>
		</td>
		<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			0.00%
		</td>
		<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			10.00%
		</td>
		<td width="12%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			1.55%
		</td>
		<td width="14%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			0.00%
		</td>
		<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			1.76%
		</td>
		<td width="13%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			0.00%
		</td>
	</tr>
	<tr>
		<td width="27%" valign="TOP" bgcolor="#ffffff" height="16" align="RIGHT">
			<b>Academic Administration</b>
		</td>
		<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			0.00%
		</td>
		<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			0.00%
		</td>
		<td width="12%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			0.78%
		</td>
		<td width="14%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			20.00%
		</td>
		<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			1.10%
		</td>
		<td width="13%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			0.00%
		</td>
	</tr>
	<tr>
		<td width="27%" valign="TOP" bgcolor="#ffffff" height="16" align="RIGHT">
			<b>Employed outside higher education</b>
		</td>
		<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			0.00%
		</td>
		<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			20.00%
		</td>
		<td width="12%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			5.43%
		</td>
		<td width="14%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			0.00%
		</td>
		<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			10.33%
		</td>
		<td width="13%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			0.00%
		</td>
	</tr>
	<tr>
		<td width="27%" valign="TOP" bgcolor="#ffffff" height="16" align="RIGHT">
			<b>Seeking employment</b>
		</td>
		<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			15.38%
		</td>
		<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			10.00%
		</td>
		<td width="12%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			0.78%
		</td>
		<td width="14%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			0.00%
		</td>
		<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			10.11%
		</td>
		<td width="13%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			0.00%
		</td>
	</tr>
	<tr>
		<td width="27%" valign="TOP" bgcolor="#ffffff" height="16" align="RIGHT">
			<b>Not seeking employment</b>
		</td>
		<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			0.00%
		</td>
		<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			0.00%
		</td>
		<td width="12%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			0.78%
		</td>
		<td width="14%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			0.00%
		</td>
		<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			1.54%
		</td>
		<td width="13%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			0.00%
		</td>
	</tr>
	<tr>
		<td width="27%" valign="TOP" bgcolor="#ffffff" height="16" align="RIGHT">
			<b>Part-time tenure-track appointment</b>
		</td>
		<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			0.00%
		</td>
		<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			0.00%
		</td>
		<td width="12%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			0.00%
		</td>
		<td width="14%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			0.00%
		</td>
		<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			0.22%
		</td>
		<td width="13%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			0.00%
		</td>
	</tr>
	<tr>
		<td width="27%" valign="TOP" bgcolor="#ffffff" height="16" align="RIGHT">
			<b>Teaching, classification unknown</b>
		</td>
		<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			0.00%
		</td>
		<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			10.00%
		</td>
		<td width="12%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			2.33%
		</td>
		<td width="14%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			0.00%
		</td>
		<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			2.64%
		</td>
		<td width="13%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			0.00%
		</td>
	</tr>
	<tr>
		<td width="27%" valign="TOP" bgcolor="#ffffff" height="16" align="RIGHT">
			<b>Basis for %s</b>
		</td>
		<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			26
		</td>
		<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			10
		</td>
		<td width="12%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			129
		</td>
		<td width="14%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			5
		</td>
		<td width="11%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			455
		</td>
		<td width="13%" valign="MIDDLE" bgcolor="#ffffff" height="16" align="CENTER">
			1
		</td>
	</tr>
</table>

<p>Note: The base number used to calculate the percentages in Table 11 includes all PhDs with known a employment status who remained in the US after receiving their degrees. 

<p><a href="/jil_phd_survey">< Back to main page</a>
