<h1><i>JIL</i> Off-line</h1>
We are experiencing technical difficulties that are delaying the launch of the <i>JIL</i>. We are working to resolve them and apologize for any inconvenience. Please check back at 4:00 p.m. EDT.

[[[comment]]]
The online <i>JIL</i> is closed for the summer.  The database of new job listings for the [[[RESULTS jil_subscription_year]]] <i>JIL</i> publication year will be available beginning on [[[RESULTS jil_available_on_date]]].     
[[[endcomment]]]
