<h1>Schedule of Fees for Job Listings</h1>

<b>Submissions:</b> The standard insertion rate to place an ad in the <i>JIL</i> is $[[[RESULTS jil_ad_price_std]]] (departments that are members of the Association of Departments of English [ADE] or the Association of Departments of Foreign Languages [ADFL] pay $[[[RESULTS jil_ad_price_std_member]]]) for the first [[[RESULTS jil_ad_base_word_count]]] words and [[[RESULTS jil_ad_price_perword_display]]] for each additional word.  Departments can run their ads for six, eight, or twelve weeks, and each ad appears in  the printable PDF edition.  The standard insertion rate is $[[[RESULTS jil_ad_price_2year]]] for two-year institutions and secondary schools ($[[[RESULTS jil_ad_price_2year_member]]] if the department is a member of ADE or ADFL).  For additional information about departmental membership in ADE or ADFL, contact <a href="mailto:rchustek@mla.org">Roy Chustek</a>.

<b>Renewals:</b> Listings may be renewed for two, four, or six weeks at a flat rate of $[[[RESULTS jil_ad_price_renew]]].

To avoid duplicate billing, please submit only one copy of your job listing.  Listings in the <i>JIL</i> do not require prepayment; you will be billed when your listing is published.  There will be a $[[[RESULTS jil_ad_price_mail_surcharge]]] surcharge for each listing submitted by mail, fax, telephone, or e-mail.  

Federal law prohibits discrimination on the basis of race, color, religion, creed, sex, age, disability, or national origin.  The MLA Job Information Service reserves the right to edit all statements to conform to such regulations.  Statements from foreign language departments requiring that applicants be "native speakers" of a given language will not be accepted.  Phrases such as "native command," "native fluency," and "native-level speaker" are acceptable.

Graduate students and faculty members in departments that belong to ADE or to ADFL are allowed free access to the online <i>JIL</i> through the ADE and ADFL Web sites (<A HREF="http://www.ade.org/">www.ade.org</a>; <A HREF="http://www.adfl.org/">www.adfl.org</a>). 

<a href="/jil_submit">< Back to submit page</a>
