<h1>Planning a Career after Graduate School</h1>
1. What would my job involve as an English faculty member at
<ul>
<li><a href="#engcommcoll">a community college?</a>
<li><a href="#engba">a baccalaureate college?</a>
<li><a href="#engma">an MA comprehensive university?</a>
<li><a href="#engphd">a doctoral or research university?</a>
</ul>

2. What would my job involve as a foreign language faculty member at
<ul>
<li><a href="#flcommcoll">a community college?</a>
<li><a href="#flba">a baccalaureate college?</a>
<li><a href="#flma">an MA comprehensive university?</a>
</ul>

3. How do I
<ul>
<li><a href="#improve">find out about and improve my job prospects in different fields of study?</a>
</ul>

4. How could I use my education and training in
<ul>
<a href="#admin">academic administration?</a>
<a href="#business">the business, government, and not-for-profit sectors?</a>
</ul>


<a name="engcommcoll"> </a>
<h2>What would my job involve as an English faculty member at a community college?</h2>
Your job at a community college would primarily involve teaching twelve to fifteen hours per week of developmental writing, freshman composition, and occasional sophomore introduction to literature courses. You would be called on to motivate a great range of diverse, returning, and nontraditional students and to be committed to dealing with the stresses of their often complex work, family, health, and emotional lives. You should be open to serving the community as a team player, willing to work cooperatively with colleagues from the department, the college, and outside constituencies. While the emphasis in two-year colleges is clearly on teaching, research and scholarship are also important for professional advancement; productive work on curriculum development, for example, is often given equal weight with traditional literary scholarship. Teaching English at a community college will, finally, require your deepest energies and resources in advancing the vital and continuing dialogue of democracy.
<blockquote>
Neil Grill
Department of English
Bronx Community College, City University of New York
</blockquote>

Often a corporate model dominates the community college administrative structure. The organizational structure of my college, typical of community colleges throughout Michigan, is hierarchical. The hierarchy attempts to build teams and to develop consensus in the same ways that modern corporations do. In addition, Kellogg Community College has a strong union, part of the Michigan Education Association. The contract is largely quantitative in its emphasis—numbering the days, hours, and course load each instructor must complete. The pay is good, as are the benefits. . . .

While the pay and benefits are excellent at KCC, the work expectations are heavy. Each semester, English faculty members teach five classes, most of them composition. Composition classes have a maximum of twenty-five students, so in the worst-case scenario an instructor could have 125 writing students a semester, more than twice the maximum stipulated by the NCTE's guidelines. In addition, teachers keep seven and a half office hours each week and participate in committee work at both the department and the campus level. Research and publication are not expected or rewarded. Innovation in teaching, however, garners both respect and support. 

"<a href="javascript:popup('/bulletin_120021','docs_popup');">Operationalized Democracy: Teaching English at the Community College</a>"
<blockquote>
Anne Breznau
Department of Arts and Communication
Kellogg Community College
</blockquote>
<a name="engba"> </a>
<h2>What would my job involve as an English faculty member at a baccalaureate college?</h2>
In English departments at public BA-granting institutions, faculty members are expected to focus on teaching excellently an increasingly diverse undergraduate population. Active scholarship is also required, especially as it contributes to teaching. Research may not be emphasized as much as it is at PhD-granting institutions, but service may be stressed quite a bit, especially at smaller schools, where many faculty members are active in such areas as admissions, academic policy, interdisciplinary programs, alumni relations, assessment, technology, articulation, community partnerships, and student issues. With no graduate program or graduate students around, one professor may teach a range of relatively general courses. Reasonable curricular coverage of the discipline becomes a more serious challenge in smaller departments. For positions in departments of ten or fewer professors, job candidates should communicate the breadth as well as the depth of their qualifications and show their willingness to undertake continuing study and teaching in new areas.
<blockquote>
Lawrence Moe
Department of Literature and Language 
Metropolitan State University
</blockquote>

A position at a private baccalaureate college involves, above all, excellence in, and love of, teaching undergraduates. The heart of this job is in the classroom, but small-college education carries outside the classroom into extensive office hours and participation in students' extracurricular lives--through participation in advising organizations and various institutional events and, depending on the particular school, even welcoming students into faculty homes. Professors at these colleges must either enter as generalists or expand their repertoire soon after arriving. The subject of the dissertation is not irrelevant, but it will reflect only a limited portion of what a faculty member will teach. Most private liberal arts colleges expect a record of scholarly activity, although good scholarship is usually defined in terms more flexible than publishing a book in the first six years.  Because most departments in these schools are relatively small, faculty members are expected to be good colleagues: professionals who can work cooperatively with others and who enjoy spending a good deal of time with their co-workers.
<blockquote>
Cynthia Lewis
Department of English
Davidson College
</blockquote>
<a name="engma"> </a>
<h2>What would my job involve as an English faculty member at an MA comprehensive university?</h2>
MA-granting universities might be better described as undergraduate universities that also include an MA. Depending on the size of MA enrollment and master's students' function as teaching assistants, new assistant professors should not expect automatic assignment to graduate teaching. Enlightened departments realize, however, that new PhDs are a valuable resource for their MA students and program. Typically, a new faculty member at such a university will teach a three- or four-course load (often at least one of those courses is a writing course). Usually by the end of the first year, service activities such as committee work and student advising will become part of the profile. At MA-granting universities, some research production will be expected (measures of quantity and quality will vary from department to department), and often that research will appear most valuable when it supports the faculty member's teaching responsibilities. As in all academic jobs, however, the new faculty member must assess the value system of the department to determine appropriate research and publication activities that would support eventual candidacy for tenure. New faculty members in an MA-granting department should seek out mentors in their new department instead of relying solely on their dissertation director, whose experience is sometimes limited to PhD institutions. Lastly, because of the many shared teaching responsibilities, MA-granting departments often offer more opportunities for collegial interaction and collaborative endeavors.
<blockquote>
Bernard Duyfhuizen
Department of English
University of Wisconsin, Eau Claire
</blockquote>
<a name="engphd"> </a>
<h2>What would my job involve as an English faculty member at a doctoral or research university?</h2>
Teaching is only the beginning, but teaching matters. Your department will expect of you responsible, imaginative, effective teaching, attentive to the needs and capacities of your students. It will also wish to see evidence that you consistently write and publish and that you are increasingly visible on the national scene because of your ideas and your participation in the day-to-day work of the profession: giving papers, organizing conferences, reading manuscripts for journals and publishers. You will serve on committees, doing important but largely unacknowledged work. You will attend innumerable meetings. By your second or third year, possibly even in your first, you will help train the next generation of graduate students, not only in the classroom but by offering individual guidance on matters ranging from bibliographical suggestions to advice about conferences. Demands will multiply from all sides: that fact is a lasting truth of the profession.
<blockquote>
Patricia Meyer Spacks
Department of English
University of Virginia
</blockquote>
<a name="flcommcoll"> </a>
<h2>What would my job involve as a foreign language faculty member at a community college?</h2>
Community colleges are teaching institutions. A standard semester load is four to five courses, most at the beginning level. There may be some intermediate courses and, possibly, an occasional literature course. In a multicampus setting, instructors often use a common curriculum and textbooks. Technology is increasingly important and may include distance education. Especially in an urban setting, the classroom presents an interesting mix of students, in terms of age, ethnicity, academic preparedness, and language proficiency. In addition to enthusiasm for and skill in language teaching, it is important that job candidates show awareness of community college student characteristics and a commitment to meeting the needs of a variety of students. Specialized literary research may or may not be rewarded. Responsibilities may include supervising and evaluating adjunct faculty members, registration duty, committee work, or student activities. Foreign languages are usually part of a larger humanities complex instead of existing as separate departments.
<blockquote>
Carolyn Jacobs
Reference/Instruction Librarian
North Harris College, Texas
</blockquote>

A faculty member at a community college will be expected to teach the full gamut of courses offered. Specialization is far rarer in language teaching here than in four-year colleges. The bulk of the courses will be those of the first four semesters of language study. In heavily enrolled languages, there will also likely be separate courses for conversation, culture, composition, introduction to literature, and business purposes. Film, women's studies, and comparative literature courses are possible, as well.

Teaching and learning are the prime foci of the community college. There will be staff development activities available to you, and you will be expected to continue to advance in the areas of learning styles, learning outcomes, technology, classroom management, and so forth. Some colleges have initiatives involving service learning, interdisciplinary teaching, learning communities, future teacher preparation, and bridge programs for matriculating high school graduates. Catalogs of the institution will reveal if these areas of activity may be part of your responsibility in the foreign language department in question. In an application, do not hesitate to mention work or interests that you already have in these areas.

Many community colleges are actively increasing distance-learning opportunities for their students. If you are technically experienced, emphasize your ability to offer a telecourse, an online course (particularly desirable), or a course using videoconferencing. The possibility of hiring someone who can add to the array of curricula already in place and the manner of delivering it is an alluring one. Even the traditional class is incorporating technology to an ever-greater extent, and the hybrid course (one that meets on campus but incorporates the Internet or e-mail and chat rooms) is seen by many as the choice of the future. 

The community college is the main pathway to success for many students from underrepresented groups. Diversity issues are often central to the discussions about effective teaching at these colleges. Awareness of how culture, socio-economics, gender, and age can influence the achievements of students in your classes, as well as the success of your approaches, is essential. A large number of community college students also have deficiencies in basic skills. In foreign languages we are expected to teach reading and writing as well as the language.

At a community college, you become part of a community and are expected to have an active role in it. Shared governance involves being ready to represent foreign languages to the college, serve on department and college committees that shape policy and develop curricula, and report back at department meetings about issues under discussion. If, as a graduate student, you took the initiative to perform committee work, be sure to mention this in an application. 
<blockquote>
Bette G. Hirsch
Department of Foreign Languages and Dean of Instruction
Cabrillo College, California
</blockquote>

Similarities between teaching university undergraduate foreign language classes and teaching foreign language classes at a two-year institution include:
<ul>
<li>We are all working in an academic setting, teaching college students. 
<li>Similar materials for the freshman and sophomore levels (often the same textbooks) are used. 
<li>Stated goals, objectives, and student outcomes are basically the same.
</ul>

Some of the basic differences include:
<ul>
<li>The research and publication required by universities are conducted at the discretion of an individual instructor at the community college. (They are not required, nor are they rewarded, at the community college.) 
<li>Community colleges do not all offer tenure. The instructors are on an annual contract. 
<li>There is more emphasis on classroom teaching at the community college. 
<li>There is a heavier teaching load at the community college. (The average teaching load at community colleges is fourteen to fifteen hours a week, with two to four preparations. At the university eight to twelve hours a week is the average, with one or two preparations.) 
<li>The pay is lower at community college, and no amount of publishing, in and of itself, will raise one's salary. (There is a fixed salary scale based on graduate hours earned from MA to PhD combined with one's years of service.) 
<li>There is less bureaucracy, and new courses can be more easily introduced at the community college level if there is a demonstrated need.
</ul>

The greatest difference of all, however, is found in the student body. University freshmen and sophomores are pretty uniform—in educational background (right out of high school), age (eighteen to twenty), and outlook (four-year, full-time students). The average age of community college students is twenty-seven or twenty-eight, but it ranges from sixteen to seventy-five.

By a large, large number, more minority students enroll in community colleges before going on to the university than enter the university directly as freshmen. Many women returning to school after spending years away from any academic endeavor prefer to enroll in the community college. In many cases, their lives have consisted of raising children, frequently as single parents with dead-end minimum-wage jobs and a level of self-confidence that is so low it is underground. One must be flexible enough to accommodate each and every student and to recognize and respond to different learning styles, backgrounds, and experiences that students bring with them to college. We have a commitment to the community, which is to prepare each student to live up to his or her potential.

"<a href="javascript:popup('/bulletin_311013','docs_popup');">Opportunities for PhDs in the Community Colleges</a>"
<blockquote>
F&eacute; Brittain
Department of Languages
Pima Community College, Arizona
</blockquote>
<a name="flba"> </a>
<h2>What would my job involve as a foreign language faculty member at a baccalaureate college?</h2>
Foreign language faculty members at small colleges are walking advertisements for the liberal arts. Language teaching will constitute the primary responsibility—courses devoted to literature or culture are more infrequent. Expect limited administrative and committee responsibilities, usually within the department.

Having to teach outside the discipline may surprise new faculty members. Many small colleges have adopted more focused and prescriptive general education curricula. Frequently, these programs begin with a multidisciplinary gateway course. Administrators may tap new teachers to participate, and this is a good opportunity to expand horizons, meet faculty members from other disciplines, and build a diverse portfolio for the purposes of promotion and tenure.

Many other opportunities await new faculty members. Foreign language educators frequently lead the way on campus international issues. Local media may ask foreign language scholars to comment on events that relate to an area of expertise. In short, small colleges tend to shatter the narrow molds that graduate programs tend to create.
<blockquote>
Jesse Mann
Department of Modern Languages
Westminster College, Pennsylvania
</blockquote>

A defining characteristic of life in a small liberal arts college is devotion to students, who have selected the institution precisely because it can offer small classes and close contact with professors. A residential community nurtures close association and significant opportunities for collaboration among students and faculty and, often, the creation of true learning communities. Of course, the size of the institution dictates the size of the language department, and one will find departments ranging from three to twelve faculty members. These people will, of necessity, teach a wide range of courses, with language offerings predominating, and may soon find opportunities to team teach with colleagues from other disciplines. 

"<a href="javascript:popup('/bulletin_311010','docs_popup');">Teaching in a Small Liberal Arts College</a>"
<blockquote>
Richard Colt Williamson
Department of Classical and Romance Languages and Literatures
Bates College
</blockquote>
<a name="flma"> </a>
<h2>What would my job involve as a foreign language faculty member at an MA comprehensive university?</h2>
At a comprehensive metropolitan university, many foreign language undergraduate majors are preparing to teach in secondary schools, and often most of the graduate students in a department are established teachers. The modest size of the major programs may limit the range of upper-division courses that can be offered, and the lower-division service courses are inevitably vital to the department's health.

An urban location frequently influences the curriculum of a comprehensive metropolitan university. There may be an emphasis on programs in such areas as urban studies, public administration, social work, criminal justice, information technology, and business, but the fine arts may also flourish in a rich cultural environment. 

A large proportion of the job seekers in foreign languages could prosper and find professional fulfillment at a comprehensive metropolitan university, and many without experience of their own in such institutions should give them serious consideration. There are endemic problems to be noted as well. Less rigorous admissions standards correlate with significant numbers of students inadequately prepared to succeed at university work. Both retention and graduation rates are likely to be problematic, and there can be significant disagreement and conflict about possible solutions and about academic standards in general. Limited opportunities to teach graduate courses, a heavy lower-division teaching load, and limited library resources may burden some faculty members.

On the other hand, a knowledgeable, experienced, and diverse student body that is highly motivated and self-sufficient can provide teaching opportunities of great interest and satisfaction. Intellectually stimulating and rewarding research can be conducted in foreign languages without maximized support and facilities. And life in the urban milieu offers a richness that readily counterbalances many of the vicissitudes of city life. 

"<a href="javascript:popup('/bulletin_311007','docs_popup');">Prospects at a Comprehensive Metropolitan University</a>"
<blockquote>
Elvira Garc&iacute;a
Department of Foreign Languages
University of Nebraska, Omaha
</blockquote>
<a name="improve"> </a>
<h2>How do I find out about and improve my job prospects in different fields of study?</h2>
Don't mismatch your academic preparation in the traditional fields of linguistics and literature with the complex realities of the jobs on the market. For example, in the last five years, my department has hired faculty members in translation and interpretation studies (we designed a BA in T/I studies), Francophone literature and Arabic, transatlantic studies (Renaissance Spain and colonial Latin America), and German and Italian studies (open to any discipline), and in the future we will be looking for someone with training in heritage language instruction.
<blockquote>
Claire Martin
Department of Romance, Germanic, and Russian Languages and Literatures
California State University, Long Beach
</blockquote>

In language, the people who will teach only their area of specialization will be rare. More jobs are for a well-rounded person who can teach in language, culture, civilization, literature, film, languages for the professions, and so on. We were recently trying to find a person to teach language of business on an upper level and who could run a theater workshop or take a role in our international studies program.
<blockquote>
Emily Spinelli
Department of Humanities
University of Michigan, Dearborn
</blockquote>

Develop more than one area of expertise. An academic can become pigeonholed for life by the choice of a thesis topic. Even if you are a candidate for a teaching position in your specialty, the ability to take on a variety of teaching assignments will help distinguish you from other candidates. Become knowledgeable about both general areas of teaching in introductory courses and your areas of scholarly specialization.
English Showalter et al. 
<i>The MLA Guide to the Job Search</i>

I believe that all graduate students, from the first months of their careers, should be clearly and honestly informed about the job situation by the chairperson or graduate advisor. They should be urged to think about a variety of career options as they go along—nonacademic employment, secondary-school teaching, or careers in community colleges. They should also be encouraged to develop helpful additional skills—other languages, TESOL, and so on. Before any student begins thinking seriously about a field of specialization, he or she should also be given a clear idea of the general distribution of jobs advertised in the <em>Job Information List </em>by area of research specialization, so that an informed choice may be made. This distribution does fluctuate, but it is important background information. 

"<a href="javascript:popup('/bulletin_091022','docs_popup');">Marketing and Matchmaking: How Departments Can Help Students Find Jobs</a>"
<blockquote>
David T. Haberly 
Department of Spanish, Italian, and Portuguese
University of Virginia
</blockquote>

To get a snapshot of current hiring in the profession, every year the MLA does an analysis of the positions advertised in the <i>Job Information List</i>. The count of jobs advertised in different foreign languages and different areas of English is published in the <i>MLA Newsletter</i> along with results from previous years to show long-term trends of growth or decline in hiring. (More-detailed analyses of English fields are published in the <i>ADE Bulletin</i>.) The MLA also does a survey of PhD placement every few years. This survey follows not just jobs advertised but jobs obtained, and with a response rate close to 100%, it represents a more dependable source of data than the <em>JIL</em> count. Reports on the placement surveys appear on the ADE Web site under "Facts and Figures" and the ADFL Web site under "Projects and Reports." More-detailed reports appear in the <i>ADE Bulletin </i>and the <i>ADFL Bulletin</i>.

A more impressionistic but immediate source of information is anecdotal. Ask department chairs, not just in your doctoral university but in other types of institutions, what jobs they are trying to fill and how many qualified people are applying for them. A department may receive several hundred applications for a nineteenth- or twentieth-century English literature position but only a dozen for an English education professorship. In foreign languages, a large number of applicants may apply for a literature position but fewer for jobs seeking interest or experience in areas like heritage language and language for specific purposes. (Anecdotal information should be put in context, of course. The large figures bandied about of people applying for a position don't take into account what chairs routinely reveal: that a significant percentage of applicants [one-half to two-fifths, according to one chair] are not qualified for the job, either because they don't match one of the requirements [doctorate in hand, for instance] or are not really in the area being advertised. One result of a bad market is that job seekers apply for a larger range of positions, and the increased applications make the market look worse.)

What should one do with this information? Should one switch from Russian to Spanish, from Restoration literature to ESL? No one would give that kind of blanket advice. Graduate study, teaching, and scholarship should be labors of love. Graduate students should be aware, however, of all the possibilities out there and experiment with them, not simply replicate their graduate school faculty members. Active scholars and teachers change and expand their interests. Few schools other than big research institutions can afford to hire a specialist in each area; smaller schools like to hire people who can do several tasks, especially tasks that have high demand from undergraduates (like introductory language or composition) but receive less attention in traditional doctoral programs.
<blockquote>
James Papp
Modern Language Association
</blockquote>

The profession has the incredible challenge of dealing with new interdisciplinary degrees (especially comparative literature and African American studies) in a climate where the power structure is still discipline-centered and departmentally driven. Standards are much less clear in the whole issue of hiring, tenure, and promotion in these niches. Graduate students in interdisciplinary programs need to be educated about how to negotiate the job market and how to identify factors that certain more discipline-centered readers on hiring committees can latch onto.
<blockquote>
Anne Warner
Department of English
Spelman College
</blockquote>
<a name="admin"> </a>
<h2>How could I use my education and training in academic administration?</h2>
A typical example of the small group of English PhDs (3.8%) in academic administration is one respondent who indicated that she desired a career in academic administration. She gained experience during her last year of graduate study administering a college writing program and, after completing her PhD, continued to work in this program, eventually accepting a position as assistant dean for special projects. When she was interviewed in 1996 for this study, she was associate dean of student life, was very satisfied with her employment status and her income, and believed strongly in the social value of her work.

In general, academic administrators enjoyed their jobs and found them challenging and rewarding, reporting nearly identical levels of overall job satisfaction as did tenured and tenure-track faculty. Academic administrators had on average a higher salary than tenured faculty.

"<a href="javascript:popup('/bulletin_124043','docs_popup');">From Rumors to Facts: Career Outcomes of English PhDs; Results from the 'PhDs Ten Years Later' Study</a>"
<blockquote>
Maresi Nerad and Joseph Cerny
Graduate Division
University of California, Berkeley
</blockquote>

Some of the same things that make teaching enjoyable make academic administration fulfilling as well: helping students and faculty members; being connected to an academic environment; having access to libraries, courses, and sports facilities; and working with interesting people on challenging human and intellectual problems. Like teaching, academic administration is part creativity and part detailed attention to routine tasks, and administration, though it does not reward scholarly publication, does not put one on the intellectual sidelines. (I once pointed out at a forum on nonteaching jobs for PhDs that while most of the teachers I know are always carrying around student papers that have to be marked, I happened to be carrying around an article by Stanley Fish that had to be marked.) Administration can free a committed scholar to do the work he or she prefers rather than what seems fashionable or directly tenurable.

The analytical approach, attention to communication and interpretation, and ability to carry out complicated projects that one develops as a doctoral student are excellent preparation for being an administrator. Several administrators who are literature scholars write about these intersections in the Fall 2001 <i>ADE Bulletin</i> (129). As important, graduate school offers a lot of opportunities to participate in department, campus-wide, and disciplinary committees and administrative projects that develop one's ability to work and negotiate with others on an equal footing. 

Going directly into administration after graduate school bypasses one common promotional track (faculty member to chair, dean, and, perhaps, provost, vice president, and president). The modern university, however, is an increasingly complex institution with administrators who deal with students, faculty members, programs, centers, and the public in a wide variety of roles where teaching, scholarly experience, and a PhD are useful and often requisite assets. If you are interested in working as an academic administrator, get to know administrators and talk with them about what they do, make contacts, read the literature on postsecondary administration, and research the administrative and hiring sections of university Web sites.
<blockquote>
James Papp
Modern Language Association
</blockquote>
<a name="business"> </a>
<h2>How could I use my education and training in the business, government, and not-for-profit sectors?</h2>
The 128 English PhDs employed in business, government, and not-for-profit organizations in 1995 [of 814 English PhDs surveyed] were engaged in a wide variety of occupations drawing on their expert knowledge of texts as well as their high-level analytical skills; the largest number (35) worked in the writing/editing field. Notably, for several respondents, writing/editing positions led to work in general management, the second largest category (27) of BGN employment for English PhDs. Very few English PhDs worked in primary and secondary education (15), research and development (10), or law (7). Three had advanced to the level of chief executive officer.

The case of one respondent, who began her doctoral studies after a decade as a successful high school English teacher, illustrates a rewarding career outside academe. This individual continued teaching high school during and after attending graduate school at one of the country's top English departments but later worked as a business consultant training people to use computer software. Thereafter, she was employed as an editor and supervising editor in several different major educational publishing houses. Her PhD training plus her years of high school teaching made her a very attractive candidate for these positions. By the time she was interviewed for this study, she had become marketing manager for an educational publisher. She was satisfied with her salary and thoroughly enjoyed her work.

"<a href="javascript:popup('/bulletin_124043','docs_popup');">From Rumors to Facts: Career Outcomes of English PhDs; Results from the 'PhDs Ten Years Later' Study</a>"
<blockquote>
Maresi Nerad and Joseph Cerny
Graduate Division
University of California, Berkeley
</blockquote>

The skills that I developed as a graduate student have been invaluable to my grant, exhibition, and public relations writing for the UCR/California Museum of Photography. Further, my ability to network with academics has been instrumental in the winning of grants for UCR/CMP as well as in the recruitment of new writers for <i>FotoText</i>, the museum's quarterly newsletter. Although I do not publish from my dissertation or teach in my field, at UCR/CMP I am not only museum flack, I am also a cultural critic. I've organized and participated in lectures and panel discussions, and I've seen my writing presented and responded to on the World Wide Web. 

Academic training has equipped many of us with powerful abilities to persuade, to advance points of view, and to manipulate information. But graduate school typically does not teach how to balance scholarly integrity against the objectives or needs of employers. As graduate students we are often encouraged to consider the agendas at work in the things that we read but less often encouraged to consider the agendas at work in the things that we write. While it is not unheard of for graduate students to present papers and write dissertations with the job market in mind or for faculty members to publish with one eye on their tenure file, the skillful management of one's academic career is not the equivalent of writing for hire.

"<a href="javascript:popup('/bulletin_123018','docs_popup');">Intellectuals for Hire</a>"
<blockquote>
Cynthia Morrill
Museum Writer, Research and Communications
UCR/California Museum of Photography
</blockquote>

If I could describe the skill set that I and my peers use, I would need to speak about functions rather than absolutes. For example, functioning as editor of several areas of a Web site requires me to master enough coding to convert text into HTML, that is, to mark up text with a sense of how it will appear graphically on the screen. HTML itself requires skills very familiar to the teacher and scholar: minute proofreading, nuanced absorption of syntax and practice of style, an understanding of when the rules must be applied and where they are flexible or evolving.

If I pass beyond the day-to-day work to my experience of the construction of the site over a year, yet another area of necessary skills strikes me. This construction requires a grasp of numerous layers of structure: the structure of an individual page, of a feature, of a site; the relation of multiple servers and of drives and directories on the local server; up to the structure, at the highest level, of the Web itself.

A mastery of metatags and directory structure can be more important to Web publishing than the more glamorous work of creating multimedia. Proofreading, grammar, and punctuation skills, if accompanied by an ability to learn technology rapidly, can help you find a fast footing even without a formal technical background.

In many ways, this work differs wildly from scholarly experience, especially in the omnipresence of collaboration. Creation of Web objects is inherently shared. A typical moment of any day includes a simultaneous phone call with a researcher, instant message from the graphic designer, and e-mail to the Web master. Self-teaching is a constant. You must spend ungrudging hours in the evening and on weekends improving your skills and familiarizing yourself with new developments amid an overwhelming flood of information. The bonus is, as a doctoral student, or scholar, you already know how to do that.

"<a href="javascript:popup('/bulletin_127071','docs_popup');">The Tower and the Web: Emigr&eacute;s from English Lit Can Find Work in the Field of Online Information Architecture</a>"
<blockquote>
Liz Kelleher
Interactive Services Coordinator
AARP
</blockquote>

More than sixty-five federal departments and agencies have language requirements, ranging from the Department of Defense to the Central Intelligence Agency to the Peace Corps to the National Institute of Standards and Technology. One indication of global shrinkage is that the number of agencies needing languages has more than doubled in the last fifteen years [1985–2000]. According to the federal government, these agencies annually need to fill 34,000 positions requiring foreign language skills. Each year, a great many of these positions go unfilled or are satisfied through outside language contractors. The Department of Defense estimates conservatively that the language services industry has a yearly volume of about $20 billion. 

"<a href="javascript:popup('/bulletin_321048','docs_popup');">Working beyond the Academy: The Federal Government</a>"
<blockquote>
J. David Edwards
Joint National Committee for Languages and the National Council for Languages and International Studies
</blockquote>

The globalization of commerce, the diverse linguistic complexion of national demographics, and the elevated socioeconomic status of certain linguistic groups necessarily make the translation and interpreting field a linchpin for general expansion. For full-time positions in translation, the federal government is the most likely employer. Education and experience are factored in to calculate the entry-level salary step, and for individuals who have completed the PhD, a higher placement is usually automatic, which would mean entry at the GS-12 level or annual compensation currently at the mid- to upper-forty-thousand-dollar level. Other potential international employers include the United Nations and UNESCO, the World Bank, and the Organization of American States. But the translator (and interpreter) who does freelance or piecemeal work or even subcontracts is more the norm than the exception.

"<a href="javascript:popup('/bulletin_321050','docs_popup');">A Translation and Interpreting Primer for Foreign Language PhDs</a>"
<blockquote>
Andrew Steven Gordon
Department of Language, Literature, and Communications
Mesa State College
</blockquote>

Scholars entering trade publishing, if their diplomas are of little moment in this particular workplace, do have some advantages over nonscholars. Scholars already know how to focus on a text, on a word, maybe even on a comma; know how to put a detail in a larger context; know how to see the strengths and weaknesses of a work; know how to communicate to others, and infect them with, love for a work and for a writer; and know how to go about digging up information. 

Academics and publishing people share certain values. Both respect books. Both play the role, at least sometimes, of cultural custodian. There are personal links between these two worlds; some of our finest professors are also some of our finest authors; some editors also teach courses in universities.

I would say that trade publishing combines three cultures: the academy, show biz, and the corporation. The academy supplies the dignity, show biz the glamour, and the corporation the undignified, unglamorous attention to profit and loss.

"<a href="javascript:popup('/bulletin_127064','docs_popup');">The Scholar in Trade Publishing; or, What's a Nice Kid like You Doing in a Place like This?</a>"
<blockquote>
Michael Kandel
Editor, Modern Language Association and Harcourt
</blockquote>
