<h1>Interviews, Campus Visits, Job Talks, and Teaching Demonstrations</h1>
<ol>
<li><a href="#logistics">What are the logistics of MLA interviews?</a>
<li><a href="#prepare">How should I prepare for an MLA interview?</a>
<li><a href="#present">How should I present myself and behave at an interview?</a>
<li><a href="#illegal">Are there good ways to handle illegal or inappropriate questions or situations?</a>
<li><a href="#ask">Can I ask for a telephone interview?</a>
<li><a href="#handle">How should I handle a telephone interview?</a>
<li><a href="#campus">How should I prepare for a campus visit?</a>
<li>What issues should I consider in
	<ul>
	<li><a href="#talk">choosing and giving a job talk?</a>
	<li><a href="#demonstration">planning a teaching demonstration?</a>
	</ul>
</ol>
<A NAME="logistics"> </a>
<h2>What are the logistics of MLA interviews?</h2>
The MLA Annual Convention is the venue for initial interviews in language and literature of almost all large four-year colleges and universities and most smaller ones. There are exceptions: some schools advertise positions after the MLA convention, some seek to fill positions before the convention takes place, others are not allowed by their equal opportunity officers to interview at the convention, and some prefer other conventions as venues (like CCCC for composition and rhetoric positions). But serious candidates on the language and literature job market should prepare their schedules and finances to attend the MLA convention.

It is not necessary to be a member of the MLA to register for the convention, but members do receive the convention housing and early registration messages in September and a discount on the registration fee. If a hiring department has scheduled your interview for the Job Information Center's Interview Area—and well over a hundred departments interview there every year—you must be registered for the convention to enter. In addition, attending sessions and publishers' displays when you're not interviewing is a good introduction to the profession and the people in it.

Make sure you are clear about where your interview will take place when a member of the hiring department calls to set it up. Will the interview be in the Interview Area or a hotel room? Which hotel? Under what person's name will the hotel room be registered? Who are the other members of the interview committee (in case the reservation gets changed and you need to find the committee through the convention's Who's Here directory)? The committee will not know its room number in advance, and the hotel will not give out that information to you, though it will connect you to the person's room. Does the committee want you to call its room to find out the number or consult the Job Information Center instead? It's also wise to let the committee know where you'll be staying in case it has to contact you at the last minute.

Should you come to the convention in the hope of getting interviews if you have none scheduled? No. Almost no interviews are set up at the convention. Should you come if you have only one interview? It is worth asking if the department has an alternative available—a phone interview, for instance, which some departments are required by their institutions to offer and treat equally. Other departments, however, will interpret reluctance to come to the convention for an interview as a lack of enthusiasm. Do you seem truly appropriate and qualified for the job offered? Departments generally interview between half a dozen and a dozen candidates at the convention for a given position. Ultimately, you will have to weigh your chances against the expense involved.
<blockquote>
James Papp
Modern Language Association
</blockquote>

Try to schedule your interviews at times convenient for you, and do not put interviews back to back. Even if they are in the same hotel or at the Job Center, allow at least half an hour between them in case the first one runs late (a fairly common occurrence) and so that you can have a moment to relax and look over your notes on the institution that will interview you next.

"<a href="javascript:popup('/bulletin_311015','docs_popup');">MLA Interviews from the Candidate's Point of View</A>"
<blockquote>
Lee Skinner
Department of Spanish and Portuguese
University of Kansas
</blockquote>

Make the timing of the interview work for you. Confirm the hotel and room number of your interview well in advance, using the way the search committee suggests—telephone when it seems unlikely that you will interrupt an interview in progress or get the room number at the appropriate desk in the MLA Job Information Center.

Allow plenty of time to deal with delays in traffic and at hotel elevators, but do not knock on the door until the time designated, since interviews are closely scheduled. For the same reason, depart on cue. If the interviewers give you a packet and offer you your coat, don't linger. The interview procedure, rather than the intrinsic interest of your discussion, often determines the pacing. Let the search committee set the pace, and don't be put off if it seems fast.

"<a href="javascript:popup('/bulletin_114025','docs_popup');">The Protocols of the Job Search</A>"
<blockquote>
Anne Warner
Department of English
Spelman College
</blockquote>

If you have been asked to telephone in advance, do so; but if the person who set up the interview has explained that Job Information Center staff can tell you where the interview will take place, don't call the room; instead, get the hotel room number from the job center. A phone call to a department's hotel room may well interrupt an interview and disconcert a candidate, especially a nervous one.

"<a href="javascript:popup('/bulletin_111004','docs_popup');">'When Do I Knock on the Hotel Room Door?': The MLA Convention Job Interview</A>"
<blockquote>
Richard K. Emmerson
Department of English
Western Washington University
</blockquote>

<A NAME="prepare"> </a>
<h2>How should I prepare for an MLA interview?</h2>
To determine your suitability, the interviewers will assess your personal and professional skills. They'll think about how articulate you are about your scholarship, first of all. They want you to demonstrate not necessarily what you know—the interview is neither the PhD qualifying exam nor the dissertation defense—but what your concerns are. They may want to hear about your stake in your work, your passions about it, how you came to choose your topic: what it means to you, in short, both professionally and personally. They'll want to hear about your investment in the theoretical models you use and the literary or cultural texts you study. You will also want to show your openness to alternative theoretical paradigms, because your generosity about contested concepts—along with your dedication to your ideas—may indicate to the interviewers your flexibility as a future colleague. I recommend that you think through some of these issues, that you practice or rehearse them, in your mind, in dialogue with yourself or a friend. And I don't mean you should rehearse a summary statement in twenty-five words or less about your dissertation; a canned response to questions will make your interviewers wonder how you will interact with students, how well you can think on your feet in the classroom, and how successfully you can negotiate the transition from graduate school into your first academic position. Your interviewers want to assess, when you talk about your work, your intellectual shrewdness, your verbal agility, and the intensity of your commitments. Remember that most of the interviewers with whom you will talk also write books, that they care deeply about their own work and hope to find new colleagues who are, in turn, dedicated to scholarship.

The interview team also seeks new colleagues who care deeply about teaching. When you talk about your work in the classroom, allow your enthusiasm to show. Teaching demands enthusiasm, as you will already know from your graduate school teaching, and your potential colleagues want to see your passion for work with students. Show your concern about the kind of student who attends Harmonia; talk about why that kind of student interests, indeed, fascinates you; talk about what you learn from teaching as well as what you hope to teach students: the values and habits you model, the love of lifelong learning, the graceful acceptance of criticism, the hope to grow through the critical encounter with literary and theoretical texts. In addition, make sure you talk substantively about your knowledge of teaching, especially your pedagogical practices.

"<a href="javascript:popup('/bulletin_123011','docs_popup');">The MLA Interview: The Department's Perspective</A>"
<blockquote>
Dianne F. Sadoff
Department of English
Miami University, Oxford
</blockquote>

Predictable questions fall into several categories. First, most interviews include a question about course design: How would you design a survey course or special seminar in your area of specialization? What primary and secondary texts would you include? How much theory would you consider appropriate for such-and-such a level?

Second, almost all search committees wish you to discuss pedagogy, to explain your particular approach to, even your philosophy of teaching. This response must ring true; specifics from your experience will be important here.

Third, questions on research will vary in depth and extent according to institution and committee makeup. You may be asked about the contribution of your research to the field, your use of theory, future areas of inquiry, the relation between your research and teaching, and the schedule for completion of your dissertation.

Other questions may be institution-specific. You may be asked what you consider to be the goals of a liberal arts degree or what you have to offer <EM>x </EM>and its particular constituency? Institutions that emphasize service may ask about your experience and interests.

Toward the end of an interview you will be asked if you have questions. Your questions may pertain to the time frame for the subsequent search process, tenure expectations, research opportunities, faculty governance structures, student constituencies and performance, and the larger community environment of the institution. Do not ask for information you could find in catalogs and reference books: general student enrollment, department size, institutional philosophy, course offerings. Find out what you need to know without revealing a neglect of widely available material.

"<a href="javascript:popup('/bulletin_114025','docs_popup');">The Protocols of the Job Search</A>"
<blockquote>
Anne Warner
Department of English
Spelman College
</blockquote>

Recruiters are always impressed if you know something about their departments or, at a minimum, about their institution. You should certainly know who will interview you and what their fields are. It will be difficult for you to show any genuine interest in the position if you know nothing about the institution. Your performance here is a crucial factor, often determining whether or not you are invited on campus. No college or university wants to go to the expense of bringing a candidate to its campus who is not serious about the job. If you really want it, show some enthusiasm.

"<a href="javascript:popup('/bulletin_241038','docs_popup');">The MLA Job Interview: What Candidates Should Know</A>"
<blockquote>
Ann Bugliani
Department of Modern Languages and Literatures
Loyola University Chicago
</blockquote>

Those with interviews set up at the MLA convention should intensify their research on the institution or institutions in question. Before going to the convention, each applicant should have checked the chair and other members of the target department. Names of faculty members should be checked for publications. The point of all this research is to turn the basic sales trick of finding something in common with the interviewer, some small item—place of birth, college attended, publishing interests, a mutual friend—that will lead the interviewer to identify with the candidate as a person rather than as a file of papers and make him or her remember the candidate in the months ahead. When a candidate in another field says nice things about a recent publication of mine, I know I'm being hustled, but I can't help being flattered and impressed.

The candidate should be prepared not only to talk about the past, but to make clear what he or she can contribute to the future of the hiring institution. Based on research in the catalogue, the candidate should have copious mental notes about courses to be offered and should be prepared to talk with knowledge and enthusiasm about organization, texts, and so on. The candidate should also have in mind some well-formulated but not necessarily very original ideas on how to attract and interest students, how to appeal to majors, and so forth. The candidate should also be able to give a brief and interesting resume of the dissertation that a non-specialist can understand and appreciate; if necessary, this should be written out in advance. And, to stress a basic point once again, the whole emphasis of the interview should be not on what is done at the dear old graduate institution, but what I, the candidate, can do for you and your program.

"<a href="javascript:popup('/bulletin_091022','docs_popup');">Marketing and Matchmaking: How Departments Can Help Students Find Jobs</A>"
<blockquote>
David T. Haberly
Department of Spanish, Italian, and Portuguese
University of Virginia
</blockquote>

All our candidates who have obtained interviews are offered an opportunity to go through a mock interview with our five graduate faculty members. It has been our experience that candidates often need an interview or two to feel at ease with the process and to present themselves as favorably as possible. In the current market students simply don't have interviews to waste. All our students have told us after the convention how useful our mock interview process has been in helping them to prepare for a range of questions from sexist interrogatories to detailed analyses of dissertations.

"<a href="javascript:popup('/bulletin_085046','docs_popup');">'Young Blood' and Other Gothic Inspirations: The Hiring Process</A>"
<blockquote>
Zack Bowen
Department of English
University of Delaware
</blockquote>

I have urged our students to stage peer interviews a week or two before they do mock interviews with faculty members. Students come to the peer-interview session with several copies of their letters of application and vitae along with advertisements for positions at several different types of schools. Three of four students spend ten minutes familiarizing themselves with an advertisement and choosing roles for themselves: the chair who seeks a reliable team player, the traditionalist, the young turk. When candidates articulate their impressions of academics, the exercise pushes them to question those stereotypes. Performing as interviewers dramatically challenges their preconceptions of interviewing. They learn how difficult it can be to entice a tense person into comfortable, informative conversation. They sheepishly acknowledge the mind-numbing effects of a too-long, too-particular dissertation description. They rediscover the importance of audience and the power of intelligent, responsive listening as well as speaking. They realize candidates should ask questions, not just answer them. They recognize the identifying marks of the graduate student identity and begin to imagine inroads to the identity of colleague. They give themselves credit for being what many have been becoming for some time as teaching assistants and members of departmental committees—faculty members in the making rather than subordinates, students, or apprentices. Most important, students realize they can assert far more control over the interview situation than they had anticipated.

"<a href="javascript:popup('/bulletin_114019','docs_popup');">Identity and Economics; or, The Job Placement Procedural</A>"
<blockquote>
Teresa Mangum
Department of English
University of Iowa
</blockquote>

If you are applying for a language position, make sure you are aware of the terminology you need to know and understand regarding language pedagogy (communicative versus proficiency-oriented instruction, the teaching of grammar, error correction, and so on). In negotiating different generations within an interviewing department, with differing views on pedagogical issues, ask the committee members first, if possible, and be as diplomatic and flexible as you can.
<blockquote>
Donna Rogers
Department of Spanish
Middlebury College
</blockquote>
<A NAME="present"> </a>
<h2>How should I present myself and behave at an interview?</h2>
Presentation does matter. The application letter and dossier help qualified candidates obtain interviews; after that, eye contact, professional appearance, and good grooming become very important. My institution has selected different finalists because of these factors in candidates:
<ul>
<LI>The candidate wore ill-fitting, slovenly, and dirty clothes, including a shirt that was untucked throughout the interview day.
<LI>The candidate's hair covered his eyes most of the time he talked to us.
<LI>The candidate could not raise her eyes and meet the audience when she made her presentation to the department, and her knees were quaking so much she had to sit down.
<LI>Several candidates voices were so soft that people could not hear what they were saying.
<LI>Candidates' use of English was nonstandard throughout the interview day.
</ul>
<blockquote style="margin-top: -20px;">
Jane Frick
Department of English, Foreign Languages, and Journalism
Missouri Western State College
</blockquote>

If the interviewers call you by your first name, you may feel comfortable addressing them by theirs. Learn their names when they introduce themselves, and let them know you've done so. Allow them to show you the chair where they'd like you to sit. Make sure you've dressed comfortably but professionally. Finally, practice the interpersonal skills you use in the classroom: make eye contact with all members of the interview team; don't talk only to the questioner or to the person whom you've identified, in your preinterview research, as the specialist in your field; make sure you interact as often with women as with men. Make sure you demonstrate your knowledge of the interviewers' department and your possible professional role in it, that you ask about the service requirements at Harmonia as well as about the teaching load.

Managing the MLA interview requires you to listen carefully to others and also to shape the talk to suit your needs. It's a performance, a conversational genre, much as the campus interview talk is a particular presentational genre. The MLA interview provides a chance for you actively to represent yourself and to prove your skills as a person, a colleague, and a possible friend.

"<a href="javascript:popup('/bulletin_123011','docs_popup');">The MLA Interview: The Department's Perspective</A>"
<blockquote>
Dianne F. Sadoff
Department of English
Miami University, Oxford
</blockquote>

Some candidates feel that any institution will be lucky to get them, and that may be true. Others feel that they will be lucky to get a job in any institution, and that, too, may be true. Neither attitude is really appropriate, however. Recruiters will be impressed with candidates who possess a healthy self-esteem, who are reasonably confident without being cocky or arrogant. Try to maintain eye contact during the interview and to avoid the extremes of excessive diffidence or overeagerness. Do not attempt to monopolize the interview. Although it should be a reciprocal exchange in which you manage to some extent to impose your own agenda, the recruiters should be in control.

Remain positive even if it seems to you that your responses have been inadequate or poor. Your assessment of how things went might differ greatly from the recruiters'. It will be impossible for you to determine how you will stack up against the competition in the final analysis. Even the recruiters will not be able to rank you definitively until they have met with everyone. I must warn you, though, that you could easily threaten your interviewers, especially if they are in your field but no longer on the cutting edge.

"<a href="javascript:popup('/bulletin_241038','docs_popup');">The MLA Job Interview: What Candidates Should Know</A>"
<blockquote>
Ann Bugliani
Department of Modern Languages and Literatures
Loyola University Chicago
</blockquote>

Take your cue from the committee when you answer questions. First, make sure you answer the question you are asked and not another. I am always amazed how often candidates seem not to hear the question or are so prepared to talk, let's say, about how they teach composition that they discuss teaching freshman English rather than the literature course that is the subject of the question. My advice is to count silently to five before answering, focusing on the question. If you aren't sure what is asked, ask that the question be repeated. It is better to ask than to struggle through a question you're unsure of and then to conclude, &quot;Did I answer your question?&quot; This suggestion doesn't mean that you should not elaborate on questions as your interview progresses or reframe them when useful. But it is important to understand what is being asked and, at first, at least, to answer the questions as they are posed.

Most interview committees plan a routine in advance in which they assign several basic questions for particular interviewers to ask. This routine is established not simply for efficiency's sake but because, at least at some institutions, like mine, affirmative action rules require that all candidates be treated alike and that candidates thus be asked comparable questions. The routine is also designed to allow time for follow-up questions and to allow candidates time to elaborate and to pose their own questions as they interact with committee members. Most committees also plan a somewhat more formal conclusion in which candidates can ask more questions about the department and in which the committee can give candidates more information about the department and the search process. If your answers are too long, the routine will be derailed, the number and kinds of questions will be limited, the interview will be rushed, and your candidacy will probably suffer. So give the committee a chance to respond to your answers and don't force an interviewer to interrupt you.

"<a href="javascript:popup('/bulletin_111004','docs_popup');">'When Do I Knock on the Hotel Room Door?': The MLA Convention Job Interview</A>"
<blockquote>
Richard K. Emmerson
Department of English
Western Washington University
</blockquote>

First, when you talk about teaching, allow some of your fine <EM>passion </EM>for it to show. Do not be afraid to show an interview committee that teaching is a deeply personal act for you, that you find it stimulates some of your best thinking, invigorates your spirit, and tests your mettle. Second, try to say why teaching is important, not just why it is interesting. Third, remember that teaching is not just performance but design. If you can show an interview committee that you can have thought about the performance and design requirements of teaching, you will be talking turkey. Fourth, be prepared to talk about the way teaching makes a real contribution—in fact, an irreplaceable contribution—to your own ongoing education.

"<a href="javascript:popup('/bulletin_111007','docs_popup');">How to Talk about Teaching in the MLA Interview</A>"
<blockquote>
Marshall Gregory
Department of English
Butler University
</blockquote>

How should you talk about your scholarship? Any or all of the following suggestions may be relevant in an interview:
<ul>
<LI>Recall the history of your choices: how did you become interested, how did you decide on focus, what did you put to one side for later attention?
<LI>Review both your knowledge and your ignorance: what have you discovered, what do you still want to know about your areas of interest? The latter may be as interesting to your interviewers, as evocative of your distinctiveness as the former.
<LI>Find some words to describe the direction of your project: are you discovering new material? asking a new question? applying a new technique? defending a position? rearguing for an older position, idea, or author? Are you producing new knowledge, or are you synthesizing, diffusing, refining, or combining knowledge?
<LI>Ask yourself what things you love about the enterprise: defining the literary style of another? defining one for yourself? making your purposeful footsteps in the world's libraries and archives? making a connection between two apparently different fields of inquiry or historical periods or ideologies?
</ul>

Here are two final questions I assume you all are expecting to be asked, and imagining a response to, because they are at the heart of the enterprise of scholarship: (1) how does your scholarship return to, or arise from, the activity of teaching and (2) what's next for you in scholarship?

"<a href="javascript:popup('/bulletin_111009','docs_popup');">How to Talk about Scholarship in the MLA Interview</A>"
<blockquote>
Judith Wilt
Department of English
Boston College
</blockquote>

Downplay the dissertation during the interview and concentrate more on your research agenda for the three to five years following the dissertation—the initial three to five years on the job.  Future employers want to know if you will be able to do research that leads to publication; they are less interested in the dissertation per se.  The candidate who can demonstrate a solid research agenda and indicate that he or she will not pose a problem in this regard is one who will be seriously considered for jobs.
<blockquote>
Emily Spinelli
Department of Humanities
University of Michigan, Dearborn
</blockquote>

Avoid asking about such things as course reductions, which suggests that you care nothing about teaching.  Instead find ways to show that teaching matters to you—and mean it.
<blockquote>
Barry Qualls
FAS Dean of Humanities
Rutgers University, New Brunswick
</blockquote>

After the interview, write a short letter of thanks, in which you briefly clarify any fuzzy answers and in which you include any additional information you want the intervieweers to have.  Don't write more than a page.
<blockquote>
Susan Kress
Department of English
Skidmore College
</blockquote>

<A NAME="illegal"> </a>
<h2>Are there good ways to handle illegal or inappropriate questions or situations?</h2>
While inappropriate questions come in various disconcerting shapes, some are actually illegal. In a checklist of dos and don'ts for interviewers, the MLA warns that questions about age, marital status, children, religion (unless the college is church-related), sexual orientation, or national origin are forbidden. But the human animal is insatiably curious, and forbidden questions are always the most tantalizingly interesting ones. Your interviewers are doubtless too savvy to ask questions like &quot;Will your wife be moving to Haven College with you?&quot; Nevertheless, those same interviewers might try an indirect sally or two:  &quot;Paradise College is located in a wonderful town for families,&quot; one interviewer might say, hoping for some information about children, a spouse, or perhaps even sexual orientation.

Let's look at some other questions—not illegal, but perhaps inappropriate and certainly loaded. These questions can cover a fairly broad range, of course. &quot;Are you a deconstructionist?&quot;  Depending on the politics (academic or governmental) and persuasions of those in the room, such questions can be loaded indeed. Another line of questioning might follow not so much academic as domestic politics: &quot;The person you're replacing made the most delectable cookies. Do you bake?&quot;

It bears remembering, of course, that the goal of the MLA interview is not (at least at that moment) boldly to declare the question illegal or inappropriate and whip out a yellow pad to start the documentation needed for a lawsuit; it is to land the campus interview and thereafter get the job offer. You may ultimately decide that you do not want the job, but at least the decision will be yours to make. So it doesn't help if you respond to an inappropriate question with an inappropriate reply:
<BLOCKQUOTE>
&quot;I don't believe I have to answer that!&quot;
&quot;Cookies are not in the job description, are they?&quot;
&quot;Isn't that a sexist question?&quot;
</BLOCKQUOTE>

Clearly, you don't want to bring the conversation to a dead stop; you do want to coax it in a more propitious direction. Assume, at least for the duration of the interview, that the interviewers have the best motives for their questions; they have, after all, through a rather arduous process of elimination selected you for an interview. They want to give you every opportunity to shine.

In this regard, it sometimes helps to play for time, to figure out what is behind the interviewers' questions. A question about your potluck dish may really be a question about your willingness to invest time in a college community. An indirect question about your age may betray an anxiety about your energy level, especially if the department is staffed almost entirely by faculty members of advancing years. A question about theory may mask a fear about what your presence will mean to the uneasy balance of power in the department. A question about the relocation of a spouse may point to concern about whether you'll be a commuting, and perhaps an absentee, faculty member.

You might, then, instead of answering an inappropriate question about, for example, the relocation of your spouse, ask directly about what may be driving the question:
<BLOCKQUOTE>
&quot;Are you concerned about the commitment of time I would make to Quicksand U.?&quot;
</BLOCKQUOTE>

In response to a question about your theoretical persuasion, you might ask:
<BLOCKQUOTE>
&quot;Do the faculty members at Killjoy State agree about introducing theory into the undergraduate classroom?&quot;
</BLOCKQUOTE>

You will be wise not to answer a question with a question of your own too often, but in some circumstances the tactic may get the interviewer back on an appropriate track.

Otherwise, try to draw out your interviewers. Get them to give you information about the kind of place they teach at. And try to keep control of the interviewing situation: if discussion seems to be veering off at an irrelevant tangent as two of the interviewers try to remember the name of a lead actor in a long-gone Broadway play, gently guide the conversation back to the play's relation to your research.

"<a href="javascript:popup('/bulletin_120036','docs_popup');">The Inappropriate Question</A>"
<blockquote>
Susan Kress
Department of English
Skidmore College
</blockquote>
<A NAME="ask"> </a>
<h2>Can I ask for a telephone interview?</h2>
Institutions like mine equate telephone interviews with MLA interviews. We cannot require qualified candidates that we would like to interview at the MLA to be at the MLA.  We must give candidates the option of a telephone interview if they will not be at the convention, and we have invited candidates to campus interviews as finalists based on these telephone interviews.
<blockquote>
Jane Frick
Department of English, Foreign Languages, and Journalism
Missouri Western State College
</blockquote>
<A NAME="handle"> </a>
<h2>How should I handle a telephone interview?</h2>
Phone interviews are arranged through the personnel office and are usually scheduled about fifteen minutes apart. The committee meets around a conference phone, and the committee chair asks the questions. Normally, there are only three or four questions, usually very basic ones (e.g., &quot;What qualifies you for this position?&quot;). Candidates should view the telephone interview not as a chance to wax eloquent but as a time to say little and to avoid big mistakes (like referring to mistaking the college for a local rival school). The candidate should demonstrate that he or she has studied the college's catalog and Web pages. Usually candidates do so obliquely by referencing a learning objective or the mission statement when answering a question. Long-windedness in the phone interview is the death of a candidate. Since the interview entails approximately four questions, two or three minutes for each answer is plenty, especially if candidates have questions of their own. Committees like candidates to ask one or two questions, especially questions related to the catalog or the Web site. Asking about salary and benefits at this time might not eliminate a candidate, but it won't make a favorable impression.

"<a href="javascript:popup('/bulletin_120021','docs_popup');">Operationalized Democracy: Teaching English at the Community College</A>"
<blockquote>
Anne Breznau
Department of Arts and Communication
Kellogg Community College
</blockquote>

Prepare questions for telephone interviews—lots of them. Don't talk forever and ever; respond briefly and to the point. Laugh a little, not the embarrased kind, but the hardy kind.  Say something funny (no, don't tell a joke); reveal something about yourself, your family, your personal situation (I know it's illegal to ask, but it is not illegal to volunteer personal information, and it makes the interviewer feel good when he or she can come back to colleagues with some <I>real</I> information).  Again, allow the interviewer to form a lively picture of you. You've got to put flesh and skin on that r&eacute;sum&eacute; skeleton!
<blockquote>
Margit Resch
Department of Germanic, Slavic, and East Asian Languages
University of South Carolina, Columbia
</blockquote>
<A NAME="campus"> </a>
<h2>How should I prepare for a campus visit?</h2>
An analytical approach can help you assert control and maintain poise. Think of the on-campus interview in rhetorical terms, as both a performance and the creation of a text. You are the subject, and thus you are performing for the department interviewing you. You are the author as well, present implicitly as writer or shaper. But you are also interpreter, helping your audience read the texts they've already seen—your letter, vita, recommendations, writing sample—and enacting the various texts that constitute yourself. That's the kernel of my advice for the on-campus interview. Consider the purpose, yourself as the author and performer, your audience, the media, and all their relations.

You are constructing an impression of yourself at all times during the interview. You are author and text, performer and interpreter. Informal sessions, like meals or conversations, or short walks from one meeting or event to another may be as important as formal presentations or interviews. The chair will form an initial impression of you as you help arrange the interview. Chairs recognize that there may be scheduling conflicts, but they will appreciate cooperation and flexibility, as well as forthrightness about previous commitments (other interviews, final examinations, dissertation defenses, and the like). It will not hurt you to have other interviews. In fact, they can reassure a department about its preliminary judgment of you. If the on-campus interview seems to be too low on your priority list, however, the chair may become exasperated and may begin to doubt your interest in the position.

"<a href="javascript:popup('/bulletin_111011','docs_popup');">The On-Campus Interview</A>"
<blockquote>
Joseph Musser
Department of English
Ohio Wesleyan University
</blockquote>

The candidate should know everything that can be learned about all of the members of the department and about its programs. The biographical research should extend as well to presidents, provosts, and deans who may participate in the visit. And the college catalogue should provide enough information to prepare the candidate to wax enthusiastic about the things the institution itself regards as important—the distinguished faculty, the new library, the dormitory room once occupied by Rutherford B. Hayes, Wyoming's largest basketball stadium, or the largest prairie dog colony in the world. The candidate, above all, must be ready—for the space of twenty-four to forty-eight hours—to love everything he or she sees and everyone he or she meets, to find common interests with as many members of the department as possible, and to help all these people see the specific advantages of employing <EM>this </EM>candidate rather than the others.

"<a href="javascript:popup('/bulletin_091022','docs_popup');">Marketing and Matchmaking: How Departments Can Help Students Find Jobs</A>"
<blockquote>
David T. Haberly
Department of Spanish, Italian, and Portuguese
University of Virginia
</blockquote>
<A NAME="talk"> </a>
<h2>What issues should I consider in choosing and giving a job talk?</h2>
A job talk should show the department interviewing you what kind of work you do that the department wants to hire.  There is little point in choosing your topic primarily to show how good you are if the thing you are doing is not what the department needs.  Your talk should resonate with the things you have said about yourself in the application and MLA interview.  I've seen candidates give talks almost completely unrelated to what the file has been presenting about their areas or dissertation.  Many departments also view the job talk for an indication of classroom performance.  Think about the talk as good teaching.  I've known several candidates who won the offer by the way they handled the discussion after they had presented the formal part of the talk.
<blockquote>
Linda Pratt
Department of English
University of Nebraska, Lincoln
</blockquote>

Flatter your audience by assuming they know at least something about your interests (they presumably have read your letter, vita, and recommendations). It is probably unwise simply to read a chapter of your dissertation. Be prepared to discuss not only what you're working on but also how it fits with plans related to your interests in both teaching and scholarship. You should supplement your remarks with a short writing sample. Don't expect committees or departments to have time to read your whole dissertation, but do make available a short section or a related essay. Ask questions about local resources and libraries, but be sure to remember your audience. A department in a small liberal arts college—or any other institution that focuses on teaching—will not appreciate your preference for a two-day teaching schedule so that you can devote the other three days to your articles and books.

"<a href="javascript:popup('/bulletin_111011','docs_popup');">The On-Campus Interview</A>"
<blockquote>
Joseph Musser
Department of English
Ohio Wesleyan University
</blockquote>

While almost all foreign language graduate students have taught language courses, few have had any experience in presenting a lecture. The participation in conferences I mentioned earlier is one way to get some practice. The jobs advisor, however, should make sure that candidates likely to get campus invitations have the chance to prepare a presentation well in advance, and to give it in public—to a course in the area involved, at a monthly departmental get-together, and so on. If all else fails, the jobs advisor should be prepared to sit down and listen to the presentation and to give a critique. The candidate who has been invited for a campus visit should be sure to find out exactly the kind of audience he or she will be addressing, and should be ready to rewrite the presentation to fit the audience. In my own experience, the presentation is the most critical moment in the visit and can make or break a candidate.

"<a href="javascript:popup('/bulletin_091022','docs_popup');">Marketing and Matchmaking: How Departments Can Help Students Find Jobs</A>"
<blockquote>
David T. Haberly
Department of Spanish, Italian, and Portuguese
University of Virginia
</blockquote>
<A NAME="demonstration"> </a>
<h2>What issues should I consider in planning a teaching demonstration?</h2>
First, find out what kind of teaching the department wants you to demonstrate: a lecture? an interactive seminar? something else? Will your audience consist of faculty members, students, or a mixture of both? How familiar with your field are they likely to be? The answers should guide your approach.  Second, rehearse what you plan to teach, paying special attention to the opening minutes, when you're likely to be most nervous.  Practice on your own and then with a friend or, even better, with a small group of colleagues.  If you have access to a camcorder, try getting a friend to tape part of your demo. Although taping can be painful, it enables you to see how you appear before others and to rerecord until you get it right.  Third, make sure your notes will be legible in the worst light.  Indicate where you should pause for effect; underline words you will want to emphasize; remind yourself to breathe deeply before starting.
<blockquote>
Sue Lonoff
Derek Bok Center for Teaching and Learning
Harvard University
</blockquote>

We are not looking for great lecturers; we want teachers who can draw students into hands-on learning.  The worst candidate we ever had read a long essay to us that he had written. One of the best candidates put two quotes on the board and got everyone involved immediately in a heated discussion.  The quotes were from Shakespeare and Metallica!  The best candidate of today might ask to do his or her demo on the distance learning system or in the networked computer lab.  Show us what you can create with our technology and we are yours.

"<a href="javascript:popup('/bulletin_120021','docs_popup');">Operationalized Democracy: Teaching English at the Community College</A>"
<blockquote>
Anne Breznau
Department of Arts and Communication
Kellogg Community College
</blockquote>

Departments know that any teaching situation arranged for an interview is artificial. Often you may not be teaching at all but informing faculty members about your approaches to teaching. Even if a class of real students is made available to you, you aren't their teacher and they know it. Your particular class may not fit their syllabus at all. Sometimes a group of students not currently constituted as a class will be assembled for the teaching session. Be aware of the artificiality of these situations and use them to your advantage to help the audience gain a sense of your teaching skills. Perhaps you can make aside or explanatory comments. You should definitely bring to your interview some copies of sample syllabi that you have designed and taught. You should talk about the typical assignments and patterns of assignments that you are likely to give. Above all, keep a sense humor and try to remain poised and flexible.

One of the most impressive demonstrations of teaching at our university recently was afforded not by a candidate but by a guest speaker, Richard Selzer, the surgeon-essayist. When he arrived, the lecture room was locked. By the time someone found a key, he had introduced himself to all the students waiting to enter and had learned a bit about many of them; later he referred to their interests during his lecture. He encouraged them to respond to his questions by appealing directly to them (some by name). The following evening, he recalled those students when they showed up at an autograph session.

Before you go to the interview, you should try to get as clear an idea as possible about teaching session. Ask the chair (or whoever invites you to the interview) how you might approach the session. I invite candidates to think of this presentation as a rhetorical puzzle, and I suggest that we are interested in how effectively they solve it.

"<a href="javascript:popup('/bulletin_111011','docs_popup');">The On-Campus Interview</A>"
<blockquote>
Joseph Musser
Department of English
Ohio Wesleyan University
</blockquote>
