<h1>Join the MLA Now and Save on Your Registration Fee</h1>
If you join the MLA as a new member, you can register for the 2014 convention at the members' rate of $220 (instead of the $280 fee for nonmembers), and you'll enjoy <a href="/mla_membership_benef">MLA member benefits</a> for a full year—including members' registration rates at the 2015 convention in Vancouver. 

If you join as a graduate student ($22), you can register for the 2014 convention at the graduate student members' rate of $65 (instead of $90) and enjoy <a href="/mla_membership_benef">MLA member benefits</a> for a full year—including graduate students' registration rates at the 2015 convention in Vancouver. 

<a href="/join_new_intro">I'd like to join the MLA and save now</a>. 

<a href="/conv_reg_nonmem">No thanks. I'd like to register as a nonmember</a>. 
