<h1>Hurricane Katrina Related Links</h1>
<table cellspacing=0 cellpadding=4 border=1 bordercolor="[[color3]]" width="100%"><tr><td align="center"><a href="/katrinamessages"><b>Messages concerning Hurricane Katrina</b></a> | <a href="/weblog_index"><b>Hurricane Katrina Message Board</b></a>
<B><a href="/contribute">Donate to the Hurricane Katrina Fund for Members</a></b></td></tr></table>

<b>American Council of Learned Societies</b>
(all member associations are linked here)
<a href="http://acls.org/" target="_blank">http://acls.org/</a>

<b>Campus Relief</b>
<a href="http://www.campusrelief.org/" target="_blank">http://www.campusrelief.org</a>

<b>Chronicle of Higher Education Jobs Forums</b>
<a href="http://chronicle.com/jobs/forums/list.php?f=19" target="_blank">http://chronicle.com/jobs/forums/list.php?f=19</a> 

<b>Chronicle of Higher Education Hurricane Katrina Section</b>
Announcements from affected colleges, and from associations and government agencies
<a href="http://chronicle.com/katrina/" target="_blank">http://chronicle.com/katrina/</a>

<b>Educause</b>
<a href="http://www.educause.edu" target="_blank">http://www.educause.edu</a>
