<h1>Kenneth W. Mildenberger Prize Selection Committee</h1>
Function: Selects the winner of the prize for an outstanding scholarly book in the field of language, culture, literacy, or literature with strong application to the teaching of languages other than English. Committee members are appointed by the Committee on Honors and Awards. Because of recusals, some members may not participate in some judging rounds. Queries for the committee or about the prize should be sent to <a href="mailto:awards@mla.org">awards@mla.org</a>.

Stacey Katz Bourns, 2010–13; 2012–13 (Ch.)
Hiram H. Maxim, 2013–15
Cristina Sanz, 2012–15
