<h1>Brochures Promoting Language Study</h1> 
<H2>Language Study In the Age of Globalization: The College-Level Experience</h2>
The brochure, <I>Language Study In the Age of Globalization: The College-Level Experience</I>, is directed primarily to college students. It argues that knowing other languages enriches students personal lives, expands their range of professional opportunities, and increases their power to act as citizens of the world.  The brochure is intended for distribution by faculty members and departments, student advisors, and representatives of programs in international studies and study abroad. It may be copied without permission.  Copies of the brochure are available in quantity at no charge; send requests to <a href="mailto:languagebrochure@mla.org">languagebrochure@mla.org</a>. Be sure to specify the number of brochures you need.

<a href="/adflcollege_brochpdf" target="other">Download the brochure</a>[[[docstudio filetype_tag_pdf]]]

<H2>Knowing Other Languages Brings Opportunities</H2>
The brochure, <I>Knowing Other Languages Brings Opportunities</i>, is directed primarily to high school students. It is intended for distribution by faculty members, advisers, and career officers in secondary schools. It may be copied without permission. Copies of the brochure are available in quantity at no charge; send requests to <a href="mailto:flbrochure@mla.org">flbrochure@mla.org</a>. Be sure to specify the number of brochures you need.

<a href="http://www.adfl.org/resources/lang_brochure.pdf" target="other">Download the brochure</a>[[[docstudio filetype_tag_pdf]]]

 
