<h1>Additional Calls for Papers 2007</h1>
<h2>Allied & Affiliate Organizations</h2>
<b>SOCIETY FOR THE STUDY OF NARRATIVE LITERATURE</b>
<b>Signposts of Fictionality.</b> Discussions of linguistic or other conventional means of indicating that a stretch of discourse <i>might</i> be fictional. Proposals by 10 Mar.; David Gorman (<a href="mailto:dgorman@niu.edu">dgorman@niu.edu</a>).
