<h1>Leading Contributors to the MLA</h1>
<h2>2008–09 Fiscal Year</h2>
<b>The following contributors generously donated $500 or more to the various MLA funds during the association’s <a href="/fiscalyearcontribut">fiscal year</a>. Find out more about <a href="/contribute">donating to MLA funds</a>.</b>

Russell Berman 
Michael Johannes Boehler 
Rosemary G. Feal and Carlos Feal 
Marilyn Gaddis Rose 
Robert Gale in memory of Maureen Gale 
Gerald Graff and Cathy L. Birkenstein-Graff 
Pamela Sue Hardman 
Heath Hutto 
Francis Abiola Irele 
John P. Leavey Jr.
Philip E. Lewis
Andrea Abernethy Lunsford
Marjorie Gabrielle Perloff
Jeanine Parisier Plottel through the Maurice I. Parisier Foundation
Catherine Porter
Domna C. Stanton

and two anonymous donors 

<b>The following contributors generously donated $200 to $499 to the various MLA funds during the association’s 2008–09 <a href="/fiscalyearcontribut">fiscal year</a>. Find out more about <a href="/contribute">donating to MLA funds</a>.</b>

Charles Francis Altieri 
Sarah May Anderson 
Santa Arias 
Gardner Pierce Ashley
Katherine Baxter 
Kimberly W. Benston 
John Bishop
Leo Braudy 
Ann Bugliani  
Judith Butler
Jay Clayton
Eva Livia Corredor  
Gail Bruce Crump
David Damrosch
George Tinsley Davies III
Duane DeVries   
Ann duCille  
Frances Ferguson
Shelley Fisher Fishkin 
Christina M. Fitzgerald
Marcia McClintock Folsom 
Elaine A. Franco
Anne Ruggles Gere  
William Germano 
Jane Harper  
Michael Holquist  
Florence Howe 
Linda Hutcheon
Irene Kacandes
Doris Y. Kadish 
Thomas W. Kim
Mary N. Layoun 
Peter H. Leffman 
Vincent Barry Leitch
Joseph F. Loewenstein and C. Lynne Tatlock 
Yolanda M. Martinez–San Miguel 
William J. Maxwell
Belle Miller McMaster
Marilyn Migiel 
Ashton Nichols
Max Oppenheimer Jr.     
Curtis A. Perry 
Stuart Samuel Peterfreund
R. G. Peterson
Nancy A. Potter   
Linda Ray Pratt 
Paula Rabinowitz
Brian Regan  
Dana J. Ringuette
Patricia Roberts-Miller
Lorie Roth
A. LaVonne Brown Ruoff and Gene W. Ruoff 
Jeffrey L. Sammons 
James L. Sanderson   
Stephanie Sandler 
Eric Schaefer
Anne Howland Schotter
Kathryn Schwarz
Sidonie Smith  
Walter Herbert Sokel
Catharine Roslyn Stimpson 
Walter Eugene Swayze
Minoru Tada 
Gerda Taranow 
Priscilla B. Wald 
Cynthia Walk
Robert F. Whitman 
John C. Wilcox
McDonald Williams  
Krishna Ricarda Winston  
Pauline Ruth Yu

and eight anonymous donors 

<b>The following foundations have generously contributed matching funds. </b>

The Andrew W. Mellon Foundation     
