<h1>Leading Contributors to the MLA</h1>
<h2>2007–08 Fiscal Year</h2>
Carlos J. Alonso
Charles Francis Altieri  
Kwame Anthony Appiah
Susan David Bernstein
Michael Johannes Boehler
Bege K. Bowers
Joan L. Brown   
Ann Bugliani
Edith W. Clowes 
Mary Jane Dickerson 
Rosemary G. Feal
Frances Ferguson
Marilyn Gaddis Rose  
Robert L. Gale 
Anne Ruggles Gere 
William Germano 
Gerald Graff and Cathy L. Birkenstein-Graff 
Stephen J. Greenblatt 
Roland Greene 
Jane Harper
Michael Holquist 
Florence Howe 
Linda Hutcheon 
Heath Hutto
Francis Abiola Irele  
Roberta Johnson 
Sarah N. Lawall
Richard H. Lawson 
Mary N. Layoun 
John P. Leavey Jr.
Ruth G.  Legow
Vincent Barry Leitch 
Philip E. Lewis
Herbert S. Lindenberger
Sheri Spaine Long  
Andrea Abernethy Lunsford 
Yolanda M. Martinez-San Miguel 
John A. McCarthy
George McElroy 
J. Hillis Miller 
Pedro Angel Palou Garcia
Marjorie Gabrielle Perloff 
Jeanine Parisier Plottel 
Catherine Porter
Nancy A. Potter  
Linda Ray Pratt 
Paula Rabinowitz
Joy Renjilianburgy  
Dana J. Ringuette
Elias L. Rivers
Patricia Roberts-Miller
Lorie Roth
A. LaVonne Brown Ruoff and Gene W. Ruoff 
Robert Scholes
Elaine C. Showalter    
Nicolas Shumway
Gonzalo Sobejano 
Hortense Jeanette Spillers 
Sports Museum of America
Domna C. Stanton 
Philip R. Stewart and Joan Hinde Stewart 
Catharine Roslyn Stimpson
Katherine Sugg
C. Lynne Tatlock and Joseph F. Loewenstein
Estelle Wormley Taylor 
Patricia Timmons
Helen Hennessy Vendler  
Priscilla B. Wald 
Cynthia Walk 
Benkt Robertsson Wennberg 
Alexandra Ker Wettlaufer
Elaine E. Whitaker 
George W.  Williams
Carl Woodring

The following foundations have contributed matching funds.

The Andrew W. Mellon Foundation  
