<h1>Leading Contributors to the MLA</h1>
<h2>2009–10 Fiscal Year</h2>
<b>The following contributors generously donated $500 or more to the various MLA funds during the association’s <a href="/fiscalyearcontribut">fiscal year</a>. Find out more about <a href="/contribute">donating to MLA funds</a>.</b>

Jonathan Arac and Susan Z. Andrade
Houston A. Baker, Jr.
Russell Berman
Michael Bérubé and Janet W. Lyon
Michael Johannes Boehler
Lawrence I. Buell
Ann Bugliani
Rosemary G. Feal and Carlos Feal
Robert L. Gale
Gerald Graff and Cathy L. Birkenstein-Graff
Pamela Sue Hardman
Jane Harper
Heath Hutto
Irene Kacandes
Thomas W. Kim
John P. Leavey, Jr.
Philip E. Lewis
Marjorie Gabrielle Perloff
Jeanine Parisier Plottel
Catherine Porter
Paula Rabinowitz
Nicolas Shumway
Miriam B. Singer
Sidonie Ann Smith
Domna C. Stanton
The Teagle Foundation on behalf of Donna Heiland
Cynthia Walk

and two anonymous donors

<b>The following contributors generously donated $200 to $499 to the various MLA funds during the association’s 2009–10 <a href="/fiscalyearcontribut">fiscal year</a>. Find out more about <a href="/contribute">donating to MLA funds</a>.</b>

Carlos J. Alonso
Charles Francis Altieri
Sarah May Anderson
Kwame Anthony Appiah
Santa Arias
Laird H. Barber
Katherine Baxter
Sandra L. Bermann
Thomas E. Bird
Rebecca Elizabeth Biron
David Bleich
Bege K. Bowers
Leo Braudy
Joan L. Brown
Neil Chudgar
Eva Livia Corredor
Gail Bruce Crump
Martha J. Cutter
Saralyn R. Daly
Peter Demetz
Duane DeVries
David G. Eisermann
Frances Ferguson
Margaret W. Ferguson
Doucet Devin Fischer
Christina M. Fitzgerald
Anne Ruggles Gere
William Germano
Laura Green
Joan E. Hartman
Hugh Hazelton
E. Jane Hedley
Deborah H. Holdstein
Michael Holquist
Florence Howe
Linda Hutcheon
Lacey Hutto
Francis Abiola Irele
Ann Rosalind Jones
Doris Y. Kadish
Lawrence D. Kritzman
Peter H. Leffman
Vincent Barry Leitch
George L. Levine
Joseph F. Loewenstein and C. Lynne Tatlock
Teresa Mangum
Kara Grace Marler-Kennedy
Yolanda M. Martínez–San Miguel
William J. Maxwell
Marilyn Migiel
J. Hillis Miller
Christine Murray
Max Oppenheimer, Jr.
Stuart Samuel Peterfreund
Julie Peters
Scott Ronald Pilarz
Pedro Esteban Ponce
Nancy A. Potter
Linda Ray Pratt
Mary Louise Pratt
Forest Pyle
Alan Rauch
Brian Regan
Almut-Barbara Renger
Dana J. Ringuette
Patricia Roberts-Miller
Lorie Roth
A. LaVonne Brown Ruoff and Gene W. Ruoff
Jeffrey L. Sammons
Robert Scholes
Karl-Ludwig Selig
Elaine C. Showalter
Ann Austin Smock
Walter Herbert Sokel
Patricia Meyer Spacks
Hortense Jeanette Spillers
Catharine Roslyn Stimpson
Nancy Jean Vickers
Martha S. Vogeler
Priscilla B. Wald
Ann Kirk Warren
Alexandra K. Wettlaufer
John C. Wilcox
McDonald Williams
Sachiko Yoshida
Pauline Ruth Yu

and seven anonymous donors

<b>The following foundations have generously contributed matching funds. </b>

The Andrew W. Mellon Foundation 
The Teagle Foundation    
