<h1>A Letter to Department Chairs</h1>
Dear Colleague:

As officers of the Modern Language Association, we write to enlist your support in responding to the biggest challenge facing our membership and our profession, the current composition of the academic workforce.

Since the 1970s, staffing imbalances have been created as institutions have rationed tenure-track lines and opted for the excessive use of non-tenure-track faculty appointments. We shared our most recent data on this trend with MLA members in December, when we released a study on the academic workforce, "<a href="/report_aw">Education in the Balance</a>." The <a href="/fromthepres">president's column</a> in the current issue of the <i>Newsletter</i> outlines the problem and urges MLA members to respond. We now want to make a personal appeal to you in your role as department chair.

As our report shows, the problem of non-tenure-track labor is especially acute in English and foreign language departments. Faculty members working off the tenure track now make up the majority of the higher education faculty in both English and foreign languages. And in English departments in research universities, faculty members in tenured or tenure-track positions staffed only 30.8% of all course sections, on average, in fall 2006, while non-tenure-track faculty members taught 41.6% and graduate student teaching assistants 27.6% of course sections.

The MLA is taking an aggressive stance toward this issue, as the report recommendations show. We need your help as we pursue two goals: expanding the tenure-track faculty ranks and improving compensation and working conditions for non-tenure-track colleagues to levels commensurate with their professional standing and contributions to our students and departments. Every one of us who has the privileges of a tenured position in an institution of higher learning can do our part in changing the balance of tenured and tenure-track and non-tenure-track faculty members in our departments, colleges, and universities.

What can you do to address the situation in your institutional context?
<ol><li>Discuss the <a href="/report_aw">workforce report</a> and its recommendations with faculty members in your department and with administrators on your campus. </li>
	<li>Share the guidelines for best practices set forth by the MLA on the conditions of employment for contingent labor with administrators (for instance, <a href="/mla_recommendation_course">per-course remuneration</a> of $6,660&#150;9,500; conversion of part-time to full-time non-tenure-track lines to ensure benefits and greater security of employment). These guidelines and other resources may be found in the <a href="/advocacy_kit">Academic Workforce Advocacy Kit</a>.</li>
	<li>Call attention to disparities in your institutional policies toward tenure-track and non-tenure-track faculty members and in the forms of professional recognition and respect available to teachers in each category.</li>
	<li>Working with administrators and faculty members in your department, formulate a multiyear plan to improve the employment conditions of contingent faculty members and to integrate them into department life. Adopt as your goal becoming one faculty serving all students.</li></ol>

What can you do beyond your campus?
<ol><li>Raise these issues when you are on another campus as a member of an external review committee. Ask administrators for the campus statistics on the ratio of tenured and tenure-track appointments to non-tenure-track appointments. Find out what the department does to ensure that all non-tenure-track faculty members are well-supported members of the community. Use these findings in your external review report.</li>
	<li>Talk to state legislators and to the public. The MLA supports the <a href="http://www.aftface.org/" target="_blank">FACE campaign</a>, which lobbies to bring these issues to the attention of state legislators.</li></ol>

Especially in these difficult economic times, we must vigorously make the case for the relevance of an excellent humanities education. Twenty-first-century students need and deserve the many skills that a humanities education can give. Students need to be multiply literate, flexible, keen in their interpretive capacities, and prepared to change career direction several times over the course of their working lives. They deserve well-trained and adequately paid faculty members who, working under good conditions, are committed to teaching and learning, have time to prepare classes and provide adequate feedback to students, and have opportunities and support for professional development and advancement. Those students are our future. And those who stand before them in the classroom are our future as well.

Sincerely,

<img src="/IMAGES/porter_sig.gif" width="200" height="55" border="0" align="top" hspace="0" vspace="2" alt="signature">
Catherine Porter, MLA President

<img src="/IMAGES/sidsmith_sig.gif" width="240" height="77" border="0" align="top" hspace="0" vspace="2" alt="signature">
Sidonie Smith, MLA First Vice President

<img src="/IMAGES/russell_a_berman.gif" width="240" height="50" border="0" align="top" hspace="0" vspace="2" alt="signature">
Russell A. Berman, MLA Second Vice President

