<h1>Open Letter to Arizona Governor</h1>

<i>At its May 2010 meeting, the Executive Council approved the following open letter to Governor Jan Brewer of Arizona.</i>

Dear Governor Brewer,

We write regarding legislative and policy initiatives in the State of Arizona that concern us as teachers and scholars of language and literature.  You have recently signed legislation (SB 1070) that may place nonnative speakers of English and speakers of other languages in legal jeopardy. In addition, we understand that the Arizona Department of Education has decided to bar teachers from teaching English if they speak English with an accent. Furthermore, you have signed legislation (HB 2281) critical of ethnic studies curricula.

These actions raise several concerns regarding education and language, topics at the heart of the mission of the Modern Language Association of America (MLA). We urge you to keep the following in mind as the State of Arizona pursues its education policy:

(1) There is no rational basis for making language ability an indicator of an individual’s citizenship or residency status. This is especially the case in the United States, where many different languages are spoken on a daily basis. The MLA documents this diversity of language speakers in the United States with its Language Map (<a href="http://www.mla.org/map_main">http://www.mla.org/map_main</a>), which we urge you to consult. Many native as well as immigrant populations use languages other than English, and English language fluency is, of course, hardly restricted to the United States: a speaker of English is not necessarily a United States citizen or legal resident.

(2) Native and nonnative speakers alike always display considerable variation in accent. This fact holds for speakers of American English—compare accents from the Northeast with those from the Southwest—as well as for speakers of other languages. Indeed, there is no unaccented English. There are only speakers with different accents. It therefore makes little sense to bar individuals from teaching because they “have an accent,” since accent is always unavoidable. Efforts to exclude individuals on the basis of accent will likely be arbitrary and discriminatory. The recruitment and retention of effective teachers should not be impeded by concerns that are irrelevant to the important goal of facilitating student learning.

(3) For several decades, ethnic studies curricula have provided important gateways for students to learn about the diversity of heritages in the United States, a key educational goal of the liberal arts education that is the bedrock of American higher education. The field has developed sophisticated pedagogies that stretch across the humanities and the social sciences, providing significant insights into American history and society. Students in ethnic studies classes gain an appreciation for a wealth of cultural expression in literature and the arts and a recognition of the multiple traditions that have found a home in our nation. Policies that curtail this vision will weaken the quality of education, thereby depriving students of key learning opportunities as they move on to higher education institutions.

Because citizens of the United States speak many different languages in addition to English, because every speaker of every language has an accent, and because ethnic studies is important to contemporary American education, we urge you to work toward reversing the policy decisions we cited at the beginning of this letter.

The MLA would be delighted to cooperate with you to formulate educational and language policies that are based on sound research and scholarship and that reflect the state of the art in contemporary American education.

Sincerely,

<img src="/IMAGES/sidsmith_sig.gif" width="200" height="55" border="0" align="top" hspace="0" vspace="1" alt="signature">

Sidonie Smith
President
Modern Language Association of America
