<h1>List of 2014 Exhibitors</h1>

[[[comment]]]
<!--//USE THIS TEMPLATE FOR A NEW EXHIBITOR//-->
	<tr>
		<td><a href="http://" target="_blank"></a></td>
		<td></td>
	</tr>
[[[endcomment]]]


<table width="90%" cellspacing="0" cellpadding="0" target="_blank">
<tr>
<td width="70%" target="_blank"><strong>Exhibitor</strong></td>

</tr>
<tr>
<td>Alexander Street Press</td>
</tr>
<tr>
<td>Anthem Foundation for Objectivist Scholarship</td>
</tr>
<tr>
<td>ARTstor</td>
</tr>
<tr>
<td>Ashgate Publishing</td>
</tr>
<tr>
<td>Association Book Exhibit</td>
</tr>
<tr>
<td>Bedford / St. Martin’s</td>
</tr>
<tr>
<td>Bloomsbury</td>
</tr>
<tr>
<td>Boydell and Brewer</td>
</tr>
<tr>
<td>Bucknell University Press</td>
</tr>
<tr>
<td>Cambria Press</td>
</tr>
<tr>
<td>Cambridge University Press</td>
</tr>
<tr>
<td>CAPA International Education</td>
</tr>
<tr>
<td>Cengage Learning</td>
</tr>
<tr>
<td>University of Chicago Press</td>
</tr>
<tr>
<td><em>Chronicle of Higher Education</em></td>
</tr>
<tr>
<td>Columbia University Press</td>
</tr>
<tr>
<td>Consortium Book Sales</td>
</tr>
<tr>
<td>Council of Editors of Learned Journals</td>
</tr>
<tr>
<td>David Brown Book Company</td>
</tr>
<tr>
<td>De Gruyter</td>
</tr>
<tr>
<td>University of Delaware Press</td>
</tr>
<tr>
<td>Duke University Press</td>
</tr>
<tr>
<td>EBSCO Information Services</td>
</tr>
<tr> <td>Edinburgh University Press</td>
</tr>
<tr>
<td>Fairleigh Dickinson University
Press</td>
</tr>
<tr>
<td>FastPencil</td>
</tr>
<tr>
<td>Feminist Press, CUNY</td>
</tr>
<tr>
<td>University Press of Florida</td>
</tr>
<tr>
<td>Fordham University Press</td>
</tr>
<tr>
<td>University of Georgia Press</td>
</tr>
<tr>
<td>Grove/Atlantic, Inc.</td>
</tr>
<tr>
<td>Hackett Publishing Company</td>
</tr>
<tr>
<td>HarperCollins Publishers</td>
</tr>
<tr>
<td>Harvard University Press</td>
</tr>
<td>HigherEdJobs</td>
</tr>
<tr>
<td>IES Abroad</td>
</tr>
<tr><td>IIE/Council for International Exchange of Scholars</td>
</tr>
<tr>
<td>University of Illinois Press</td>
</tr>
<tr>
<td><em>Inside Higher Ed</em></td>
</tr>
<tr>
<td>Interfolio, Inc.</td>
</tr>
<tr>
<td>University of Iowa Press</td>
</tr>
<tr>
<td>Johns Hopkins University Press</td>
</tr>
<tr>
<td>JSTOR</td>
</tr>
<tr>
<td>Lehigh University Press</td>
</tr>
<tr>
<td>Lexington Books</td>
</tr>
<tr>
<td>Librairie Droz</td>
</tr>
<tr>
<td>Maney Publishing</td>
</tr>
<tr>
<td>University of Massachusetts Press</td>
</tr>
<tr>
<td>McFarland</td>
</tr>
<tr>
<td>University of Michigan Press</td>
</tr>
<tr>
<td>Michigan State University Press</td>
</tr>
<tr><td>Middlebury Language Schools</td>
</tr>
<tr><td>Milkweed Editions</td>
</tr>
<tr>
<td>University of Minnesota Press</td>
</tr>
<tr>
<td>University Press of Mississippi</td>
</tr>
<tr>
<td>MIT Press</td>
</tr>
<tr>
<td>Modern Language Association</td>
</tr>
<tr>
<td>Modern Language Initiative</td>
</tr>
<tr>
<td>New York Review Books</td>
</tr>
<tr>
<td>New York Review Children's Collection</td>
</tr>
<tr>
<td><em>New York Review of Books</em></td>
</tr>
<tr>
<td>University of North Carolina Press</td>
</tr>
<tr>
<td>Northwestern University Press</td>
</tr>
<tr>
<td>University of Notre Dame Press</td>
</tr>
<tr>
<td>NYRB Classics</td>
</tr>
<tr>
<td>NYRB Lit</td>
</tr>
<tr>
<td>NYRB Poets</td>
</tr>
<tr>
<td>NYU Press</td>
</tr>
<tr>
<td>Ohio State University Press</td>
</tr>
<tr>
<td>On the Avenue Marketing</td>
</tr>
<tr>
<td>ORCID</td>
</tr>
<tr>
<td>Oxford University Press</td>
</tr>
<tr>
<td>Palgrave Macmillan</td>
</tr>
<tr>
<td>Pearson</td>
</tr>
<tr>
<td>Penguin Group (USA)</td>
</tr>
<tr>
<td>Penn State Press</td>
</tr>
<tr>
<td>University of Pennsylvania Press</td>
</tr>
<tr>
<td>Performant Software Solutions</td>
</tr>
<tr>
<td>Polity</td>
</tr>
<tr>
<td>Princeton University Press</td>
</tr>
<tr>
<td>Project MUSE</td>
</tr>
<tr>
<td>ProQuest</td>
</tr>
<tr>
<td>Publishers Group West</td>
</tr>
<tr>
<td>Random House, Inc.</td>
</tr>
<tr>
<td>Rodopi</td>
</tr>
<tr>
<td>Routledge</td>
</tr>
<tr>
<td>Rutgers University Press</td>
</tr>
<tr>
<td>SabbaticalHomes.com</td>
</tr>
<tr>
<td>Salem Press</td>
</tr>
<tr>
<td>Scottish Writing Exhibition</td>
</tr>
<tr>
<td>Small Press Distribution</td>
</tr>
<tr>
<td>Stanford University Press</td>
</tr>
<tr>
<td>SUNY Press</td>
</tr>
<tr>
<td>Temple University Press</td>
</tr>
<tr>
<td>University of Toronto Press</td>
</tr>
<tr>
<td>University of Virginia Press</td>
</tr>
<tr>
<td>Wiley</td>
</tr>
<tr>
<td>University of Wisconsin Press</td>
</tr>
<tr>
<td>Writer's Muse</td>
</tr>
<tr>
<td>W. W. Norton and Company</td>
</tr>
<tr>
<td>Yale University Press</td>
</tr>
</table>
