<h1>List of 2012 Exhibitors</h1>
<p><strong>As of 19 December 2011</strong></p>

<table width="90%" cellspacing="0" cellpadding="0">

	<tr>
		<td width="70%"><strong>Exhibitor</strong></td>
		<td width="30%"><strong>Booth</strong></td>
	</tr>

	<tr>
		<td>University of Alberta Press</td>
		<td>132</td>
	</tr>
	<tr>
		<td>American Literatures Initiative</td>
		<td>419</td>
	</tr>

	<tr>
		<td>Anthem Foundation for Objectivist Scholarship</td>
		<td>105</td>
	</tr>

	<tr>
		<td>Archipelago Books</td>
		<td>120</td>
	</tr>

	<tr>
		<td>Ashgate Publishing Company</td>
		<td>217, 219</td>
	</tr>

	<tr>
		<td>Association Book Exhibit</td>
		<td>132, 134</td>
	</tr>

	<tr>
		<td>Bedford / St. Martin’s</td>
		<td>201, 203, 205</td>
	</tr>
<tr>
		<td>Better Chinese LLC</td>
		<td>507</td>
	</tr>	

<tr>
		<td><em>Bookforum</em></td>
		<td>602</td>
	</tr>

	<tr>
		<td>Boydell and Brewer, Inc.</td>
		<td>424</td>
	</tr>

	<tr>
		<td>Broadview Press</td>
		<td>216</td>
	</tr>

	<tr>
		<td>Bucknell University Press</td>
		<td>423, 425</td>
	</tr>
<tr>
		<td>Cambria Press</td>
		<td>601</td>
	</tr>
	<tr>
		<td>Cambridge University Press</td>
		<td>322, 324</td>
	</tr>

	<tr>
		<td>Camden House</td>
		<td>424</td>
	</tr>

	<tr>
		<td>Cengage Learning</td>
		<td>401</td>
	</tr>

	<tr>
		<td>University of Chicago Press</td>
		<td>313, 315</td>
	</tr>

	<tr>
		<td><em>Chronicle of Higher Education</em></td>
		<td>111</td>
	</tr>

	<tr>
		<td>Classics in Miniature, Inc.</td>
		<td>113</td>
	</tr>

	<tr>
		<td>Columbia University Press</td>
		<td>412, 414, 416</td>
	</tr>

	<tr>
		<td>Consortium Book Distributors</td>
		<td>128, 130</td>
	</tr>

	<tr>
		<td>Continuum Publishing </td>
		<td>400, 402</td>
	</tr>

	<tr>
		<td>Copper Canyon Press</td>
		<td>133</td>
	</tr>

	<tr>
		<td>Council of Editors of Learned Journals</td>
		<td>222</td>
	</tr>

	<tr>
		<td>Counterpath Press</td>
		<td>120</td>
	</tr>

	<tr>
		<td>University of Delaware Press</td>
		<td>423, 425</td>
	</tr>

	<tr>
		<td>De Gruyter</td>
		<td>119</td>
	</tr>

	<tr>
		<td>DROZ</td>
		<td>218</td>
	</tr>

	<tr> 
		<td>D. S. Brewer</td>
		<td>424</td>
	</tr>

	<tr>
		<td>Duke University Press</td>
		<td>226, 228</td>
	</tr>

	<tr>
		<td>eNotated Classics</td>
		<td>331</td>
	</tr>

	<tr>
		<td>Fairleigh Dickinson University Press</td>
		<td>423, 425 </td>
	</tr>

	<tr>
		<td>Fantagraphics</td>
		<td>214</td>
	</tr>
	<tr>
		<td>Feminist Press at CUNY</td>
		<td>122</td>
	</tr>
	<tr>
		<td>Fordham University Press</td>
		<td>417, 419</td>
	</tr>

	<tr>
		<td>University of Georgia Press</td>
		<td>329</td>
	</tr>

	<tr>
		<td>Grove/Atlantic, Inc.</td>
		<td>128, 130</td>
	</tr>

	<tr>
		<td>Hackett Publishing Co.</td>
		<td>107</td>
	</tr>

	<tr>
		<td>HarperCollins Publishers</td>
		<td>600</td>
	</tr>

	<tr>
		<td>Harvard University Press</td>
		<td>309, 311</td>
	</tr>
	<tr>
		<td>IES Abroad</td>
		<td>115</td>
	</tr>
	<tr>
		<td>University of Illinois Press</td>
		<td>426</td>
	</tr>


	<tr>
		<td><em>Inside Higher Ed</em></td>
		<td>405</td>
	</tr>
<tr>
		<td>Interfolio</td>
		<td>504</td>
	</tr>
	<tr>
		<td>University of Iowa Press</td>
		<td>329</td>
	</tr>

	<tr>
		<td>IPG</td>
		<td>224</td>
	</tr>

	<tr>
		<td>Johns Hopkins University Press</td>
		<td>326, 328</td>
	</tr>

	<tr>
		<td>JSTOR</td>
		<td>121</td>
	</tr>

	<tr>
		<td>Lehigh University Press</td>
		<td>423, 425</td>
	</tr>

	<tr>
		<td>Lexington Books</td>
		<td>423, 425</td>
	</tr>

	<tr>
		<td>Little Bookroom</td>
		<td>403</td>
	</tr>
<tr>
		<td>Maney Publishing</td>
		<td>230</td>
	</tr>
	<tr>
		<td>McFarland and Company</td>
		<td>100, 102</td>
	</tr>

	<tr>
		<td>Michigan State University Press</td>
		<td>327</td>
	</tr>

	<tr>
		<td>University of Michigan Press</td>
		<td>422</td>
	</tr>

	<tr>
		<td>University of Minnesota Press</td>
		<td>312, 314</td>
	</tr>

	<tr>
		<td>University Press of Mississippi</td>
		<td>413</td>
	</tr>
	<tr>
		<td>MIT Press</td>
		<td>132</td>
	</tr>
	<tr>
		<td>Modern Language Association</td>
		<td>300</td>
	</tr>

	<tr>
		<td>Modern Language Initiative</td>
		<td>415</td>
	</tr>
	<tr>
		<td>National Language Service Corps</td>
		<td>117</td>
	</tr>
	<tr>
		<td>New Directions Publishing</td>
		<td>214</td>
	</tr>

	<tr>
		<td>University Press of New England</td>
		<td>427</td>
	</tr>

	<tr>
		<td>New York Review Books</td>
		<td>403</td>
	</tr>

	<tr>
		<td><em>New York Review of Books</em></td>
		<td>403</td>
	</tr>

	<tr>
		<td><em>New York Times</em></td>
		<td>404</td>
	</tr>

	<tr>
		<td>Northwestern University Press</td>
		<td>418</td>
	</tr>

	<tr>
		<td>Nulu</td>
		<td>116</td>
	</tr>

	<tr>
		<td>NYRB Classics</td>
		<td>403</td>
	</tr>

	<tr>
		<td>NYU Press</td>
		<td>409, 411</td>
	</tr>

	<tr>
		<td>Ohio State University Press</td>
		<td>603, 604, 605</td>
	</tr>

	<tr>
		<td>Open Letter Books</td>
		<td>120</td>
	</tr>

	<tr>
		<td>Oxford University Press</td>
		<td>308, 310</td>
	</tr>

	<tr>
		<td>Palgrave Macmillan</td>
		<td>200, 202, 204</td>
	</tr>

	<tr>
		<td>Pearson</td>
		<td>103</td>
	</tr>

	<tr>
		<td>Penguin Group (USA)</td>
		<td>223, 225, 227</td>
	</tr>

	<tr>
		<td>University of Pennsylvania Press</td>
		<td>323</td>
	</tr>

	<tr>
		<td>Polity</td>
		<td>129</td>
	</tr>

	<tr>
		<td>Princeton University Press</td>
		<td>408, 410</td>
	</tr>

	<tr>
		<td>Project MUSE</td>
		<td>330</td>
	</tr>
<tr>
		<td>ProQuest</td>
		<td>502</td>
	</tr>
	<tr>
		<td>Publishers Group West</td>
		<td>128, 130</td>
	</tr>
<tr>
		<td>Purdue University Press</td>
		<td>132</td>
	</tr>
	<tr>
		<td>Random House, Inc.</td>
		<td>209, 211, 213, 215</td>
	</tr>

	<tr>
		<td>Rodopi</td>
		<td>131</td>
	</tr>

	<tr>
		<td>Routledge</td>
		<td>106, 108</td>
	</tr>

	<tr>
		<td>Routledge Journals</td>
		<td>110, 112</td>
	</tr>

	<tr>
		<td>Rutgers University Press</td>
		<td>518</td>
	</tr>

	<tr>
		<td>SabbaticalHomes.com</td>
		<td>113</td>
	</tr>

	<tr>
		<td>Scottish Writing Exhibition</td>
		<td>229, 231</td>
	</tr>

	<tr>
		<td>Small Press Distribution</td>
		<td>124</td>
	</tr>

	<tr>
		<td>Stanford University Press</td>
		<td>317, 319</td>
	</tr>

	<tr>
		<td>SUNY Press</td>
		<td>428</td>
	</tr>

	<tr>
		<td>Tamesis</td>
		<td>424</td>
	</tr>

	<tr>
		<td>Temple University Press</td>
		<td>413</td>
	</tr>

	<tr>
		<td>University of Toronto Press</td>
		<td>325</td>
	</tr>

	<tr>
		<td>Turnitin</td>
		<td>500</td>
	</tr>

	<tr>
		<td>Ultimate Literary Calendar</td>
		<td>503</td>
	</tr>
	<tr>
		<td>University of Virginia Press</td>
		<td>316</td>
	</tr>

	<tr>
		<td>University of Washington Press</td>
		<td>415</td>
	</tr>

	<tr>
		<td>Wave Books</td>
		<td>133</td>
	</tr>

	<tr>
		<td>Wiley-Blackwell</td>
		<td>125, 127</td>
	</tr>
<tr>
		<td>University of Wisconsin Press</td>
		<td>132</td>
	</tr>
	<tr>
		<td>W. W. Norton, Inc.</td>
		<td>208, 210, 212, 214</td>
	</tr>

	<tr>
		<td>Yale University Press</td>
		<td>318</td>
	</tr>

</table>
