<h1>Mailing List Rentals</h1>
Whether your direct mail promotion advertises a summer seminar on composition studies, a new work on literary criticism, or the latest software, MLA mailing lists can be targeted to your audience. The association's membership mailing list consists of approximately 33,000 English and foreign language teachers and scholars. Membership lists can be selected according to seven language designations or 137 fields of scholarly and professional concern—from Chaucer studies to popular culture. The MLA also maintains a list of over 6,600 departmental administrators that breaks down into 500 language designations.

In November and December each year, the MLA makes available for rental its list of MLA Annual Convention preregistrants. Please e-mail <a href="mailto:listrental@mla.org">listrental@mla.org</a> for more information.

<a href="/maillistbrochure2013" >Click here for a downloadable brochure about MLA mailing lists</a>[[[docstudio filetype_tag_pdf]]]

<a href="/maillistorder2012" >Click here for an MLA mailing lists order form</a>.[[[docstudio filetype_tag_pdf]]]
 
