<a name="top" id="top"></a><h1>MLA Language Map FAQ</h1>
<h2>Languages in the United States Today</h2>
<div class="top_indent"><b><a href="#m01">Do people in the United States who speak languages other than English speak English too?</a></b></div>
<div class="top_indent"><b><a href="#m02b">What other information do the US Census and the American Community Survey provide about people who report that they speak a language other than English at home?</a></b></div>
<div class="top_indent"><b><a href="#m02">What does it mean when the Language Map or the census or the American Community Survey reports that someone speaks a language other than English at home?</a></b></div>
<div class="top_indent"><b><a href="#m03">Are any of these languages taught in institutions in the United States?</a></b></div>
<div class="top_indent"><b><a href="#m03b">Where can I find learning and teaching materials for less commonly taught languages?</a></b></div>
<div class="top_indent"><b><a href="#m04">How can I find out where languages are spoken outside the United States?</a></b></div>
<div class="top_indent"><b><a href="#m04b">What are the most-spoken languages in the world today?</a></b></div>
<div class="top_indent"><b><a href="#m05">How can I find out more about immigrants and migrants in the United States?</a></b></div>

<h2>The United States Census, the American Community Survey, and the Data</h2>
<div class="top_indent"><b><a href="#m07">Where do these data come from?</a></b></div>
<div class="top_indent"><b><a href="#m08">How accurate are the data?</a></b></div>
<div class="top_indent"><b><a href="#m09">Where can I find out more about US Census 2000 and the American Community Survey?</a></b></div>
<div class="top_indent"><b><a href="#m10">What languages are included in the language groups listed on this site?</a></b></div>
<div class="top_indent"><b><a href="#m10b">What are the populations of the United States and of the world today?</a></b></div>
<div class="top_indent"><b><a href="#m11">How can I find out the name of the city or town in which a zip code is found?</a></b></div>

<h2>The MLA Language Map</h2>
<div class="top_indent"><b><a href="#m11b">Why do percentage ranges differ from language to language in the by-percentage maps?</a></b></div>
<div class="top_indent"><b><a href="#m12">What kind of map projection is used in the language maps?</a></b></div>
<div class="top_indent"><b><a href="#m13">Are all personal computers compatible with the MLA Language Map?</a></b></div>


<a name="m01" id="m01">&nbsp;</a>
<b>Do people in the United States who speak languages other than English speak English too?</b>
Of the 57,095,373 people (20.1% of the entire United States population over five years old) whom the American Community Survey calculates speak languages other than English at home, 56.7% report that they also speak English "very well," 19.8% that they speak English "well," 15.9% that they speak English "not well," and 7.6% that they do not speak English at all (2006&ndash;2010 American Community Survey, 5-Year Estimates, Table B16004 [aggregate data]). The MLA Language Map Data Center sometimes collapses these four categories into two, suggesting an upper and a lower range of English ability. This is done on the assumption that gradations between "well" and "very well" and between "not well" and "not at all" will vary according to factors such as an individual’s sense of what ability ought to be, whereas a broad distinction between the upper and lower ranges of ability is more likely to be less subjectively defined. The American Community Survey sometimes contrasts the first category (speaks English “very well”) with a single figure which combines the other three categories as “less than very well.” For a discussion of this approach, see Robert Kominski, "How Good Is 'How Well'? An Examination of the Census English-Speaking Ability Question," 1989, <a href="http://www.census.gov/population/socdemo/language/ASApaper1989.pdf" target="_blank">www.census.gov/population/socdemo/language/ASApaper1989.pdf</a>).

<a href="#top">Back to top</a>
<a name="m02b" id="m02b">&nbsp;</a>
<b>What other information do the US Census and the American Community Survey provide about people who report that they speak a language other than English at home?</b>
"America Speaks: A Demographic Profile of Foreign-Language Speakers for the United States: 2000," published in 2006 by the Census Bureau, summarizes data by language spoken in terms of age, sex, race and Hispanic origin, nativity, citizenship, year of entry, place of birth, level of school enrollment, educational attainment, employment status, and employment class. The 104 tables reporting these data are found at <a href="http://www.census.gov/population/www/socdemo/hh-fam/AmSpks.html" target="_blank">www.census.gov/population/www/socdemo/hh-fam/AmSpks.html</a>. Languages are collapsed into four categories in this profile: Spanish, other Indo-European languages, Asian and Pacific Island languages, and all other languages. The ages of speakers in the tables are broken out in eighteen intervals. See also "<a href="http://www.census.gov/prod/2003pubs/c2kbr-29.pdf" target="_blank">Language Use and English Speaking Ability: 2000</a>" and "<a href="http://www.census.gov/prod/2010pubs/acs-12.pdf" target="_blank">Language Use in the United States: 2007</a>." The most current reports and other US Census materials on language use can be found at <a href="http://www.census.gov/hhes/socdemo/language/" target="_blank">www.census.gov/hhes/socdemo/language/</a>.

<a href="#top">Back to top</a>
<a name="m02" id="m02">&nbsp;</a>
<b>What does it mean when the Language Map or the census or the American Community Survey reports that someone speaks a language other than English at home?</b>
All data were recorded in response to the question, “Does the person [responding] speak a language other than English at home?” Respondents who answered in the affirmative are then asked to name the language spoken. Responses for each home are provided by one person, who reports on each individual household member. Note that some people who do not speak a language consistently at home may declare themselves speakers or include household members as speakers out of loyalty to family, culture, or nation; some people, by contrast, may prefer not to mention that they speak a language other than English. 

<a href="#top">Back to top</a>
<a name="m03" id="m03">&nbsp;</a>
<b>Are any of these languages taught in institutions in the United States?</b>
In the United States, 2,514 two- and four-year colleges and universities reported language enrollments of 1,682,627 in fall 2009. The languages most frequently studied in 2009 were, in alphabetical order, American Sign Language, Arabic, Chinese, French, German, Ancient Greek, Biblical Hebrew, Modern Hebrew, Italian, Japanese, Korean, Latin, Portuguese, Russian, and Spanish. Ranked in descending order of number of college enrollments, they are as follows: Spanish, French, German, American Sign Language, Italian, Japanese, Chinese, Arabic, Latin, Russian, Ancient Greek, Biblical Hebrew, Portuguese, Korean, and Modern Hebrew. In addition, 217 other languages, from Afrikaans to Zuni, were studied in US postsecondary institutions in 2009 (see Nelly Furman, David Goldberg, and Natalia Lusin, <a href="http://www.mla.org/2009_enrollmentsurvey" target="_blank">Enrollments in Languages Other Than English in United States Institutions of Higher Education, Fall 2009</a>). There is a link in the upper right hand corner of the Language Map to a Web site that provides access to language enrollments in the United States since 1958 by state and by institution. You can also click Show Where This Language Is Taught to see the locations of language programs in the selected language in all US colleges and universities in fall 2009. Language programs are identified by white bubbles, sized by numbers of enrollments; click on language program bubbles to see institution names, names of language variants, and precise enrollment numbers. 

<a href="#top">Back to top</a>
<a name="m03b" id="m03b">&nbsp;</a>
<b>Where can I find learning and teaching materials for less commonly taught languages?</b>
The Language Materials Project at the University of California, Los Angeles, offers teaching resources for less commonly taught languages through an interactive map that also provides concise profiles of over one hundred languages (<a href="http://www.lmp.ucla.edu" target="_blank">www.lmp.ucla.edu</a>). The University of Minnesota's Center for Advanced Research on Language Acquisition features a database of postsecondary institutions in the United States that teach less commonly taught languages (<a href="http://www.carla.umn.edu/lctl/db/index.php" target="_blank">www.carla.umn.edu/lctl/db/index.php</a>).  

<a href="#top">Back to top</a>
<a name="m04" id="m04">&nbsp;</a>
<b>How can I find out where languages are spoken outside the United States?</b>
The <i>Ethnologue</i> language name index (<a href="http://www.ethnologue.com/browse/names" target="other">www.ethnologue.com/browse/names</a>) has an alphabetical listing of 7,105 of the world's languages. <i>Ethnologue</i> provides such details as countries in which languages are spoken, numbers of speakers, variations in language names, dialect variants, and related languages.

<a href="#top">Back to top</a>
<a name="m04b" id="m04b">&nbsp;</a>
<b>What are the most-spoken languages in the world today?</b>
Estimates differ as to the numbers of primary (mother-tongue) speakers of the world's most-spoken languages. The following listing is based on figures published in the 1990s: Mandarin Chinese (726 million; all Chinese languages, 1,071 million); English (427 million); Spanish (266 million), Hindu/Urdu (223 million); Arabic (181 million); Portuguese (165 million); Bengali (162 million); Russian (158 million); Japanese (124 million); German (121 million); French (116 million); Javanese (75 million); Korean (66 million); Italian (65 million); Panjabi (60 million); Marathi (58 million); Vietnamese (57 million); Telugu (55 million); Turkish (53 million); Tamil (49 million); Ukrainian (45 million); Polish (42 million). These figures do not include second-language speakers. (David Crystal, <i>The Cambridge Encyclopedia of Language</i>, 2nd ed. [Cambridge: Cambridge UP, 1997, Print] 289).

<a href="#top">Back to top</a>
<a name="m05" id="m05">&nbsp;</a>
<B>How can I find out more about immigrants and migrants in the United States?</B>
Between 2000 and 2011, the immigrant population of the United States increased by 9.3 million. The Migration Policy Institute provides an interactive map showing state-by-state data on immigrant populations in the United States from the 1990 and 2000 Decennial Censuses and the 2010 and 2011 American Community Survey (<a href="http://www.migrationinformation.org/USFocus/statemap.cfm" target="_blank">www.migrationinformation.org/USFocus/statemap.cfm</a>).
A "Who's Where" device allows the user to look up where foreign-born groups live in the United States, by country, region, or continent of origin and by state or region of current residence (<a href="http://www.migrationinformation.org/DataTools/" target="_blank">www.migrationinformation.org/DataTools/</a>).

<a href="#top">Back to top</a>
<a name="m07" id="m07">&nbsp;</a>
<b>Where do these data come from?</b>
The data used for the maps on this Web site are drawn from the 2006&ndash;2010 American Community Survey (ACS), Aggregate Data, 5-Year Estimates, sometimes referred to as summarized or Summary File data. The 2010 US, Regional, and State data in the data center are drawn from American Community Survey (ACS) 5-Year Estimates, Public Use Microdata Sample (PUMS).  Both Aggregate Data and the Public Use Microdata Sample are estimates based on 60 months of data collected between 2006 and 2010 and are considered to be comparable to data collected in 2000 on the US Census long form. The 2006&ndash;2010 ACS Aggregate Data 5-Year Estimates report on larger language-speaking populations in smaller geographic areas, describing 32 languages or language groups in all US counties. By contrast, the ACS Public Use Microdata Sample reports on larger geographic areas (total US, regions, and states) but smaller language-speaking populations; as a result, the PUMS data describe use of 103 languages. 

Annual data collection by ACS provides up-to-date information throughout the decade, solicited from about three million households each year and producing about two million completed records. ACS data is reported in one-year, three-year, and five-year estimates. While data from one-year estimates may be more current, five-year estimates have a larger sample size and are therefore generally more precise, particularly when studying small areas such as counties or small population groups, such as languages spoken by relatively few people. County data for 2000 and all zip code data used in the data center were collected on the US Census Long Form (2000 Census Summary File 3), which was distributed to approximately one in six US households. County data for 2010 used in the data center are drawn from 2006&ndash;2010 American Community Survey (ACS), Aggregate Data, 5-Year Estimates. US, Regional, and State data for 2000 in the data center were collected on the 2000 Census Long Form and reported in a special tabulation of Census 2000 data (STP 258), commissioned by the Modern Language Association. The 2005 data in the data center are taken from the 2005 ACS one-year estimate. 

<a href="#top">Back to top</a>
<a name="m08" id="m08">&nbsp;</a>
<B>How accurate are the data?</B>
All ACS and US Census data about language are based on sampling and may be somewhat different from data that would have been obtained if all the census respondents had been asked about their language use. The Census Bureau uses statistical formulas to determine the possible degree of error in a given sample. Because sample size varies depending on the size of the language community (e.g., Spanish in Los Angeles vs. Yiddish in Detroit), the possible degree of error also varies, but in all cases it is very small. Because different formula are used to calculate different estimates (e.g., Aggregate Data v. Public Use Microdata Sample), totals may vary between estimates. For more information about comparability, methodology, and accuracy, see <a href=" http://www.census.gov/acs/www/Downloads/data_documentation/Accuracy/accuracy2005.pdf" target="_blank">www.census.gov/acs/www/Downloads/data_documentation/Accuracy/accuracy2005.pdf</a>.

<a href="#top">Back to top</a>
<a name="m09" id="m09">&nbsp;</a>
<b>Where can I find out more about US Census 2000 and the American Community Survey?</b>
The US Census 2000 Web site is <a href="http://www.census.gov/" target="_blank">www.census.gov</a>. If you follow the link there to "American FactFinder" (<a href="http://factfinder2.census.gov/" target="_blank">http://factfinder2.census.gov/</a>) and from there to "Data Sets," you can find data collected in response to all questions asked by the census and the ACS. For more information, see 
<ul>
<li><i>A Compass for Understanding and Using American Community Survey Data, What General Data Users Need to Know</i><br/><a href="http://www.census.gov/acs/www/Downloads/handbooks/ACSGeneralHandbook.pdf" target="_blank">www.census.gov/acs/www/Downloads/handbooks/ACSGeneralHandbook.pdf</a> </li>
<li><i>A Compass for Understanding and Using American Community Survey Data, What PUMS Data Users Need to Know</i><br/><a href="http://www.census.gov/acs/www/Downloads/handbooks/ACSPUMS.pdf" target="_blank">www.census.gov/acs/www/Downloads/handbooks/ACSPUMS.pdf</a></li>  
<li><i>Design and Methodology, American Community Survey</i><br/><a href="http://www.census.gov/acs/www/Downloads/survey_methodology/acs_design_methodology.pdf" target="_blank">www.census.gov/acs/www/Downloads/survey_methodology/acs_design_methodology.pdf</a></li>
<li>American Community Survey Multiyear Accuracy of Data (2008&ndash;10 and 2006&ndash;10)<br/><a href="http://www.census.gov/acs/www/Downloads/data_documentation/Accuracy/MultiyearACSAccuracyofData2010.pdf" target="_blank">www.census.gov/acs/www/Downloads/data_documentation/Accuracy/MultiyearACSAccuracyofData2010.pdf</a></li>
</ul>

<a href="#top">Back to top</a>
<a name="m10" id="m10">&nbsp;</a>
<b>What languages are included in the language groups listed on this site?</b>
<ul>
<li>"African languages" includes Acholi, Amharic, Ashanti, Bantu, Bari, Bembe, Berber, Chadic, Cushite, Fanti, Fulani, Fur, Ga, Hausa, Ibo, Kikuyu, Kinyarwanda, Luganda, Mande, Mandingo, Ndebele, Somali, Sudanic, Swahili, Temne, Tonga, Twi, Wolof, Xhosa, Yoruba, and Zulu.  
<li>"Kru, Ibo, Yoruba" is a category created by the census that combines three distinct Niger-Congo languages from West Africa.
<li>"Other Asian languages" includes Azerbaijani, Brahui, Burmese, Burushaski, Chuvash, Coorgi, Dravidian, Gondi, Kachin, Kannada, Karachay, Karakalpak, Karen, Kazakh, Kirghiz, Kurukh, Malayalam, Miao-yao, Mien, Mongolian, Munda, Muong, Tamil, Tatar, Telugu, Tibetan, Tulu, Tungus, Turkish, Turkmen, Uighur, Uzbek, and Yakut.
<li>"Other Indic languages" includes Asian Indian, Assamese, Bengali, Bhili, Bihari, Kashmiri, Konkani, Maldivian, Marathi, Nepali, Oriya, Panjabi, Punjabi, Rajasthani, Romany, Sanskrit, Sindhi, and Sinhalese.
<li>"Other Indo-European languages" includes Afghani, Albanian, Balochi, Breton, Catalonian, the English Creoles Belize and Guyanese, Gullah, Hawaiian Pidgin, Irish Gaelic, Jamaican Creole, Krio, Kurdish, Latvian, Lettish, Lithuanian, Ossete, Pashto, Pidgin, Rhaeto-Romanic, Romanian, Romansch, Rumanian, Saramacca, Scottic Gaelic, Tadzhik, and Welsh. 	
<li>"Other Native North American languages" includes Apache, Cherokee, Choctaw, Dakota, Pima, Yupik, and 160 other languages.
<li>"Other Slavic languages" includes Bulgarian, Czech, Kashubian, Macedonian, Slovak, Slovene, and Ukrainian.
<li>"Other West Germanic languages" includes Afrikaans, Dutch, Flemish, Frisian, and Pennsylvania Dutch.
<li>"Scandinavian languages" includes Danish, Faroese, Icelandic, Norwegian, and Swedish.
</ul>

<a href="#top">Back to top</a>
<a name="m10b" id="m10b">&nbsp;</a>
<b>What are the populations of the United States and of the world today?</b>
The US Census Bureau provides continuously updated estimates at <a href="http://www.census.gov/main/www/popcld.html" target="_blank">www.census.gov/main/www/popcld.html</a>. 

<a href="#top">Back to top</a>
<a name="m11" id="m11">&nbsp;</a>
<b>How can I find out the name of the city or town in which a zip code is found?</b>
The United States Post Office provides a  "Zip Code Lookup" tool at <a href="http://zip4.usps.com/zip4/citytown_zip.jsp" target="_blank">www.zip4.usps.com/zip4/citytown_zip.jsp</a>.

<a href="#top">Back to top</a>
<a name="m11b" id="m11b">&nbsp;</a>
<b>Why do percentage ranges differ from language to language in the by-percentage maps?</b>
Different percentage ranges are used for different languages because languages vary greatly in maximum density. In a set of ranges appropriate to a commonly spoken language, the gradations are not fine enough to bring out the variations in density of a less commonly spoken language. The percentage ranges used in the Language Map are determined by natural breaks in the data.

<a href="#top">Back to top</a>
<a name="m12" id="m12">&nbsp;</a>
<b>What kind of map projection is used in the language maps?</b>
The MLA Language Map uses the Mercator projection. Mercator is a cylindrical map projection—the meridians and parallels are straight, not curved, and they intersect at 90-degree angles. All maps inevitably contain some distortion, because they reduce the three-dimensional earth to a two-dimensional representation, the equivalent of trying to make an orange peel lie flat on a table. The distortion in the Mercator projection means that the farther one goes from the equator, the more the size of land masses is exaggerated. States in the northern part of the United States therefore appear larger than states of similar size in the South.

<a href="#top">Back to top</a>
<a name="m13" id="m13">&nbsp;</a>
<b>Are all personal computers compatible with the MLA Language Map?</b>
The MLA Language Map is built on ESRI's ArcGIS Server platform. The map currently supports the following browsers for Windows: Firefox 2.0 and above and Internet Explorer 7.0 and above. Other browsers have not been fully tested but may be compatible. Internet Explorer for Macintosh is not supported. Operating systems other than Windows and Macintosh are not supported.

<a href="#top">Back to top</a>
