é<@if ($searcharg{msg} eq "newmap")>
<@eval ($message = "We have launched a new Language Map. Please use the links below.";)>
<@/if>
<img src="/IMAGES/langmap_logolg.gif" width="223" height="119" alt="MLA Language Map logo" border="0">
<h1>The Modern Language Association Language Map</h1>
<h2>A Map of Languages in the United States</h2>
<br>
The MLA Language Map is intended for use by students, teachers, and anyone interested in learning about the linguistic and cultural composition of the United States. The Language Map uses aggregated data from the 2006&ndash;10 American Community Survey (ACS) to display the locations and numbers of speakers of thirty languages commonly spoken in the United States. The Language Map Data Center provides data about over three hundred languages spoken in the United States, using data from the 2006&ndash;10 ACS, ACS 2005, and the 2000 US Census. Comparative tables and graphs provide a snapshot of changes between 2000 and 2010 in American language communities, showing speakers’ ages and ability to speak English.  
<br>&nbsp;
<table border="0" cellpadding="4" cellspacing="0" width="100%">
	<tr valign="top">
		<td width="5%"><a href="http://arcgis.mla.org/mla/default.aspx"><div align ="center"><img src="/IMAGES/map_button.gif" alt="View the Map" border="0"></div></a></td>
		<td width="95%">
			<a class="abstractindex" href="/map_view">View the Map</a>
			View an interactive map showing the percentages or numbers of speakers of the selected language. Select a state or click the map to zoom in on a region. Add or remove layers: county and city names, rivers and lakes,  and Indian reservations. Click Show Where This Language Is Taught to add to the map the locations of all colleges and universities that teach the selected language; click on institutions to see fall 2009 undergraduate and graduate enrollments. Select Prevalent Language Other Than English maps to see the most spoken language in each county. For suggestions about how to get the most out of the map, select How to Use the MLA Language Map.
		</td>
	</tr>
	<tr><td colspan="2"> </td></tr>
	<tr valign="top">
		<td width="5%"><a href="javascript:open_datacenter('DCWindow');"><div align ="center"><img src="/IMAGES/census_data_button.gif" alt="Create Detailed Tables" border="0"></div></a></td>
		<td width="95%">
			<a class="abstractindex" href="javascript:open_datacenter('DCWindow');">Create Detailed Tables</a>
			Visit the data center for ACS and Census information about numbers and ages of speakers of languages in a specific state, county, zip code, metropolitan area, town, or county subdivision or to view charts that illustrate the distribution by percentage of the languages in each state. Compare speakers of different languages by three age groups: 5–17, 18–64, and 65 and over. Compare Americans who speak other languages by their ability to speak English. Compare statewide and county data for 2000 and 2010.
		</td>
	</tr>
	<tr><td colspan="2"> </td></tr>
	<tr valign="top">
		<td width="5%"><a href="/flsurvey_search"><div align ="center"><img src="/IMAGES/enrollmentdata_button.gif" alt="Enrollment Data" border="0"></div></a></td>
		<td width="95%">
			<a class="abstractindex" href="/flsurvey_search">Enrollment Data</a>
			Visit the Language Enrollment Database, 1958–2009, to create tables about language enrollments in US colleges and universities drawing on data from the MLA's twenty-two enrollment surveys.
		</td>
	</tr>
	<tr><td colspan="2"> </td></tr>
	<tr valign="top">
		<td width="5%"><a href="/map_about"><div align ="center"><img src="/IMAGES/faq_button.gif" alt="Frequently Asked Questions" border="0"></div></a></td>
		<td width="95%">
			<a class="abstractindex" href="/map_about">Frequently Asked Questions</a>
			Find out about the US Census and the ACS&mdash;the sources of the MLA Language Map data. Follow links to census publications, to data about migration and immigration and about language teaching in colleges and universities in the United States, and to information about where specific languages are spoken outside the United States.
		</td>
	</tr>
</table>

<script language="javascript">
	var DCWindow;
	function open_datacenter(name) {
		var temp;
		eval('temp = ' + name);
		temp = window.open('/map_data', name);
		temp.focus();
		eval(name + ' = temp');
	}
	
</script>
