<style type="text/css">
#maplist ul {margin:20px 8px 20px 18px; padding:0px; list-style-type: disc; list-style-position: outside;}
#maplist ul li {margin:12px 0px 0px 0px; padding:0px;}
</style>
<div style="margin:12px; width:625px;" id="maplist">
<div style="width:625px;">
	<div class="map_dc_topnav" style="width:250px; border-left: 1px solid #dbdbdb;text-align:center;float:right; margin:0px;">
		<@if ($cookie{mla_dc} eq "same")>
			<a href="/map_single"><img src="/IMAGES/dc_close.gif" border="0" style="vertical-align:text-bottom; padding-right:6px;" /></a><a class="map_dc_topnavlinks" href="/map_single">Return to map</a>
		<@else>
			<a href="javascript:window.close();"><img src="/IMAGES/dc_close.gif" border="0" style="vertical-align:text-bottom; padding-right:6px;" /></a><a class="map_dc_topnavlinks" href="javascript:window.close();">Close window and return to map</a>
		<@/if>
	</div>
	<div style="width:375px; font-family:Georgia,'Times New Roman';font-size:20px;color:#cc6633;margin:0px;">How to Use the MLA Language Map</div>
</div>

<ul>

<li>Use the language drop-down menu on the upper left to select maps that locate speakers of the top thirty languages reported to be spoken at home by the US Census Bureau’s <i>2006&ndash;2010 American Community Survey (ACS) 5-Year Estimates</i>. Percentages and numbers of speakers calculated on the basis of the 2006&ndash;10 estimate are suitable for comparison to estimates calculated a decade earlier by Census 2000, reported in comparative tables in the MLA Language Map Data Center. </li>

<li>Select a state from the state drop-down menu on the left or zoom in by clicking on the map.</li>

<li><b>Pause between zooms until each new view is complete. Do not click continuously.</b> Click Start Over if zooming too quickly brings you in too close.</li>

<li>Click Show Where This Language Is Taught to see the locations of language programs in the selected language in all US colleges and universities in fall 2009. Language programs are identified by white bubbles sized to indicate numbers of enrollments. </li>

<li>Click on language program bubbles to see institution names and 2009 course enrollments; you may need to click the <img src="http://arcgis.mla.org/mla/images/dropdown-button.png" /> or the institution name to see enrollment numbers. </li>

<li><b>If there is a box around the institutional name, click the <img src="http://arcgis.mla.org/mla/images/dropdown-button.png" /> inside the box to see other institutions teaching this language in the same area or to see related languages taught at the same institution.</b> Click the institution name to return to the drop-down menu to see enrollments at other institutions in the area.  </li>

<li>At zoom levels of 90 miles or closer, names of institutions teaching the mapped language will appear beside the bubbles. The names of institutions that overlap at a given zoom level may not appear on the map until you open the drop-down menu or zoom in closer.  </li>

<li>Click <img src="http://arcgis.mla.org/mla/images/zoomin_1.gif" /> to reactivate the Zoom In function. </li>

<li>Click <img src="http://arcgis.mla.org/mla/images/zoomout_1.gif" /> to reactivate the Zoom Out function. </li>

<li>Click<img src="http://arcgis.mla.org/mla/images/identify.png" ALIGN=ABSBOTTOM /> to reactivate the Show Where This Language Is Taught pointer after zooming. </li>

<li>The default maps show the estimated percentage of speakers of the selected language in each county, but you can also use the Show Data button on the upper right to select maps that show the estimated number of speakers instead.</li>

<li>You can also select maps from the top of the language drop-down menu that show the prevalent language other than English, or other than English and Spanish, spoken in each US county. </li>

<li>Check County Names or other links in the Layers menu and then click Refresh Layers to enhance maps. Reservation borders can be turned on from the Layers menu; reservation names will appear when the zoom level is 90 miles or closer. </li>

<li>Click <img src="/IMAGES/census_data_button.gif" align="bottom"> to access the MLA Language Map Data Center for detailed tables showing available numbers and ages of speakers by language, county, state, zip code, and ability to speak English. </li>

<li>Click <img src="/IMAGES/dc_alllanguages.gif" align="bottom"> in the data center to see US Census or ACS state-level data for over 350 languages. </li>

<li>Click <img src="/IMAGES/enrollmentdata_button.gif" align="bottom"> for detailed enrollment data going back as far as 1958 for over 200 languages taught in US colleges and universities.</li>

</ul>

</div>
