<style>
blockquote {font-style: italic}
</style>

<h1>Convention Meetings of Interest to Job Candidates and Interviewers</h1>

<ul class="program_entry_list">
	<li class="program_entry"><a href="/program_details?prog_id=4&year=2014">4. Preconvention Workshop for Job Seekers in English </a>
		<blockquote>Thursday, 9 January, 11:45 a.m.–1:15 p.m., Gold, Fairmont Chicago</blockquote></li>
	<li class="program_entry"><a href="/program_details?prog_id=5&year=2014">5. Preconvention Workshop for Job Seekers in Foreign Languages</a>
		<blockquote>Thursday, 9 January, 11:45 a.m.–1:15 p.m., State, Fairmont Chicago</blockquote></li>
	<li class="program_entry"><a href="/program_details?prog_id=6&year=2014">6. Preconvention Workshop: Strategic Planning for Defining and Securing Faculty Positions</a>
		<blockquote>Thursday, 9 January, 11:45 a.m.–1:15 p.m., Ambassador, Fairmont Chicago</blockquote></li>
	<li class="program_entry"><a href="/program_details?prog_id=42&year=2014">42. Using Your Language Proficiency and Cultural Expertise in a Federal Government Career</a>
		<blockquote>Thursday, 9 January, 1:45–3:45 p.m., Gold, Fairmont Chicago</blockquote></li>
	<li class="program_entry"><a href="/program_details?prog_id=148&year=2014">148. Myth Busting the Job Search</a>
		<blockquote>Thursday, 9 January, 5:15–6:30 p.m., Chicago F, Chicago Marriott</blockquote></li>
	<li class="program_entry"><a href="/program_details?prog_id=182&year=2014">182. Demonstration Interviews for Job Seekers in Foreign Languages</a>
		<blockquote>Thursday, 9 January, 7:00–8:15 p.m., Michigan A, Sheraton Chicago</blockquote></li>
	<li class="program_entry"><a href="/program_details?prog_id=236&year=2014">236. Vulnerable Times in Academic Life: Senior Faculty Members, Senior Citizens, and Retirement</a>
		<blockquote>Friday, 10 January, 10:15–11:30 a.m., Chicago H, Chicago Marriott</blockquote></li>
	<li class="program_entry"><a href="/program_details?prog_id=533&year=2014">533. Career Opportunities in English and Foreign Languages at Two-Year Colleges</a>
		<blockquote>Saturday, 11 January, 12:00 noon–1:15 p.m., Addison, Chicago Marriott</blockquote></li>
	<li class="program_entry"><a href="/program_details?prog_id=571&year=2014">571. Off the Tenure Track, on Our Radar</a>
		<blockquote>Saturday, 11 January, 1:45–3:00 p.m., Belmont, Chicago Marriott</blockquote></li>
	<li class="program_entry"><a href="/program_details?prog_id=621&year=2014">621. Federal Government Opportunities in Foreign Languages for Language Instructors and Program Representatives</a>
		<blockquote>Saturday, 11 January, 3:30–5:30 p.m., Chicago X, Sheraton Chicago</blockquote></li>
	<li class="program_entry"><a href="/program_details?prog_id=643&year=2014">643. Defining the Moment, Defining the Momentum: Perspectives on the Language of Employment Status</a>
		<blockquote>Saturday, 11 January, 5:15–6:30 p.m., Indiana-Iowa, Chicago Marriott</blockquote></li>
	<li class="program_entry"><a href="/program_details?prog_id=757&year=2014">757. Alt-Ac Work and Gender: It's Not Plan B</a>
		<blockquote>Sunday, 12 January, 12:00 noon–1:15 p.m., Chicago A–B, Chicago Marriott</blockquote></li>	
	<li class="program_entry"><a href="/program_details?prog_id=783&year=2014">783. How We Talk about Contingent Faculty Members</a>
		<blockquote>Sunday, 12 January, 1:45–3:00 p.m., Lincolnshire, Chicago Marriott</blockquote></li>	
</ul>
