<h1>Help with Member Search</h1>
If your search results are unsatisfactory, you may find the following tips useful.

<H2>Membership Year</H2>
Usually only members who have paid dues for the current calendar year appear in this listing.  For a period in the fall, members who have paid dues for either the current or the following  year are considered current. As of 1 January, only members who have paid for the new calendar year are considered current.
<H2>Too Few or Too Many Results</H2>
You can expand your results by being less specific in your search terms.  For instance, if you entered a last name and a first name and got no results, try your search with just the last name or with the last name and first initial.  Similarly, you can shorten your results list by being more specific in your search terms.
<H2>Wildcard</H2>
Another way to effect a more exact search is with the asterisk wildcard. By default the search engine performs a "fuzzy" search to retrieve the most results possible.  Therefore, entering "bro" in the last-name field will return any name that contains that string of letters (Abromowitz, Browning, Calabro).  Entering "bro*"--with the asterisk wildcard--will return only names that <i>begin</i> with that string (Browning), while "*bro" will return names that <i>end</i> in those letters (Calabro).
<H2>Institution Name</H2>
This search option is still in development. Some of the  abbreviations used in institution names are shown below, but you will achieve the best results by entering just one  or two key words from the institution name (e.g., Loyola or North Carolina) rather than the entire name. Note that cities are not usually included after institution names (e.g., U of California rather than U of California at Los Angeles).

<a href="/member_search">< Back to search</a>

<H2>Institution Name Abbreviations</H2>
<div align="left" class="s1">
<a href="#A" class="s1"><b>A</b></a>&nbsp;|&nbsp;<a href="#C" class="s1"><b>C</b></a>&nbsp;|&nbsp;<a href="#G" class="s1"><b>G</b></a>&nbsp;|&nbsp;<a href="#H" class="s1"><b>H</b></a>&nbsp;|&nbsp;<a href="#I" class="s1"><b>I</b></a>&nbsp;|&nbsp;<a href="#J" class="s1"><b>J</b></a>&nbsp;|&nbsp;<a href="#L" class="s1"><b>L</b></a>&nbsp;|&nbsp;<a href="#M" class="s1"><b>M</b></a>&nbsp;|&nbsp;<a href="#P" class="s1"><b>P</b></a>&nbsp;|&nbsp;<a href="#S" class="s1"><b>S</b></a>&nbsp;|&nbsp;<a href="#T" class="s1"><b>T</b></a>&nbsp;|&nbsp;<a href="#U" class="s1"><b>U</b></a>
</div>

<table width="275" border="0" cellspacing="1" cellpadding="2" bgcolor="[[color1]]">
<tr>
<td bgcolor="#ffffff" colspan="2"><a name="A"><b>A</b></a></td>
</tr>
<tr><td bgcolor="#ffffff">Academy</td>
<td bgcolor="#ffffff">Acad</td>
</tr>
<tr>
<td bgcolor="#ffffff">Agency</td>
<td bgcolor="#ffffff">Agcy</td>
</tr>
<tr>
<td bgcolor="#ffffff">Agricultural & Mechanical</td>
<td bgcolor="#ffffff">A&M</td>
</tr>
<tr>
<td bgcolor="#ffffff">Agricultural & Technical</td>
<td bgcolor="#ffffff">A&T</td>
</tr>
<tr>
<td bgcolor="#ffffff">Air Force Base</td>
<td bgcolor="#ffffff">AFB</td>
</tr>
<tr>
<td bgcolor="#ffffff">Arts and Sciences</td>
<td bgcolor="#ffffff">A&S</td>
</tr>
<tr>
<td bgcolor="#ffffff">Association</td>
<td bgcolor="#ffffff">Assn</td>
</tr>
<tr>
<td bgcolor="#ffffff" colspan="2"><a name="C"><b>C</b></a></td>
</tr>
<td bgcolor="#ffffff">Center</td>
<td bgcolor="#ffffff">Ctr</td>
</tr>
<tr>
<td bgcolor="#ffffff">College</td>
<td bgcolor="#ffffff">C</td>
</tr>
<tr>
<td bgcolor="#ffffff">Communication</td>
<td bgcolor="#ffffff">Comm</td>
</tr>
<tr>
<td bgcolor="#ffffff">Community</td>
<td bgcolor="#ffffff">Comm</td>
</tr>
<tr>
<td bgcolor="#ffffff">Community College</td>
<td bgcolor="#ffffff">Comm C</td>
</tr>
<tr>
<td bgcolor="#ffffff">Company</td>
<td bgcolor="#ffffff">Co</td>
</tr>
<tr>
<td bgcolor="#ffffff" colspan="2"><a name="E"><b>E</b></a></td>
</tr>
<td bgcolor="#ffffff">Education</td>
<td bgcolor="#ffffff">Educ</td>
</tr>
<tr>
<td bgcolor="#ffffff">Extension</td>
<td bgcolor="#ffffff">Ext</td>
</tr>
<tr>
<td bgcolor="#ffffff" colspan="2"><a name="G"><b>G</b></a></td>
</tr>
<td bgcolor="#ffffff">Government</td>
<td bgcolor="#ffffff">Govt</td>
</tr>
<tr>
<td bgcolor="#ffffff">Graduate</td>
<td bgcolor="#ffffff">Grad</td>
</tr>
<tr>
<td bgcolor="#ffffff" colspan="2"><a name="H"><b>H</b></a></td>
</tr>
<td bgcolor="#ffffff">Headquarters</td>
<td bgcolor="#ffffff">Hdqts</td>
</tr>
<tr>
<td bgcolor="#ffffff">High School</td>
<td bgcolor="#ffffff">HS</td>
</tr>
<tr>
<td bgcolor="#ffffff" colspan="2"><a name="I"><b>I</b></a></td>
</tr>
<td bgcolor="#ffffff">Incorporated</td>
<td bgcolor="#ffffff">Inc</td>
</tr>
<tr>
<td bgcolor="#ffffff">Institute</td>
<td bgcolor="#ffffff">Inst</td>
</tr>
<tr>
<td bgcolor="#ffffff">Institutional</td>
<td bgcolor="#ffffff">Inst</td>
</tr>
<tr>
<td bgcolor="#ffffff">Instructor</td>
<td bgcolor="#ffffff">Instr</td>
</tr>
<tr>
<td bgcolor="#ffffff">International</td>
<td bgcolor="#ffffff">Intl</td>
</tr>
<tr>
<td bgcolor="#ffffff" colspan="2"><a name="J"><b>J</b></a></td>
</tr>
<td bgcolor="#ffffff">Junior</td>
<td bgcolor="#ffffff">Jr</td>
</tr>
<tr>
<td bgcolor="#ffffff">Junior College</td>
<td bgcolor="#ffffff">JrC</td>
</tr>
<tr>
<td bgcolor="#ffffff">Junior High School</td>
<td bgcolor="#ffffff">JrHS</td>
</tr>
<tr>
<td bgcolor="#ffffff" colspan="2"><a name="L"><b>L</b></a></td>
</tr>
<td bgcolor="#ffffff">Language</td>
<td bgcolor="#ffffff">Lang</td>
</tr>
<tr>
<td bgcolor="#ffffff">Literature</td>
<td bgcolor="#ffffff">Lit</td>
</tr>
<tr>
<td bgcolor="#ffffff" colspan="2"><a name="M"><b>M</b></a></td>
</tr>
<td bgcolor="#ffffff">Modern</td>
<td bgcolor="#ffffff">Mod</td>
</tr>
<tr>
<td bgcolor="#ffffff">Mount</td>
<td bgcolor="#ffffff">Mt</td>
<tr>
<td bgcolor="#ffffff" colspan="2"><a name="P"><b>P</b></a></td>
</tr>
<td bgcolor="#ffffff">Polytechnic</td>
<td bgcolor="#ffffff">Poly</td>
</tr>
<tr>                      		
<td bgcolor="#ffffff">Preparatory</td>
<td bgcolor="#ffffff">Prep</td>
</tr>
<tr>
<td bgcolor="#ffffff">Public School</td>
<td bgcolor="#ffffff">Pub Sch</td>
</tr>
<tr>
<td bgcolor="#ffffff" colspan="2"><a name="S"><b>S</b></a></td>
</tr>
<td bgcolor="#ffffff">Saint</td>
<td bgcolor="#ffffff">St</td>
</tr>
<tr>
<td bgcolor="#ffffff">School</td>
<td bgcolor="#ffffff">Sch</td>
</tr>
<tr>
<td bgcolor="#ffffff">Senior</td>
<td bgcolor="#ffffff">Sr</td>
</tr>
<tr>
<td bgcolor="#ffffff">Senior High School</td>
<td bgcolor="#ffffff">SrHS</td>
</tr>
<tr>
<td bgcolor="#ffffff">State</td>
<td bgcolor="#ffffff">S</td>
</tr>
<tr>
<td bgcolor="#ffffff">State College</td>
<td bgcolor="#ffffff">SC</td>
</tr>
<tr>                            		
<td bgcolor="#ffffff">State College for Teachers</td>
<td bgcolor="#ffffff">SCT</td>
</tr>
<tr>
<td bgcolor="#ffffff">State Junior College</td>
<td bgcolor="#ffffff">SJrC</td>
</tr>
<tr>
<td bgcolor="#ffffff">State Teachers College</td>
<td bgcolor="#ffffff">STC</td>
</tr>
<tr>                           		
<td bgcolor="#ffffff">State University</td>
<td bgcolor="#ffffff">SU</td>
</tr>
<tr>
<td bgcolor="#ffffff" colspan="2"><a name="T"><b>T</b></a></td>
</tr>
<td bgcolor="#ffffff">Teachers</td>
<td bgcolor="#ffffff">Tchrs</td>
</tr>
<tr>
<td bgcolor="#ffffff">Teachers College</td>
<td bgcolor="#ffffff">TC</td>
</tr>
<tr>
<td bgcolor="#ffffff">Teaching</td>
<td bgcolor="#ffffff">Tchg</td>
</tr>
<tr>
<td bgcolor="#ffffff">Technical</td>
<td bgcolor="#ffffff">Tech</td>
</tr>
<tr>
<td bgcolor="#ffffff">Technological</td>
<td bgcolor="#ffffff">Tech</td>
</tr>
<tr>
<td bgcolor="#ffffff">Technology</td>
<td bgcolor="#ffffff">Tech</td>
</tr>
<tr>
<td bgcolor="#ffffff" colspan="2"><a name="U"><b>U</b></a></td>
</tr>
<td bgcolor="#ffffff">Undergraduate</td>
<td bgcolor="#ffffff">Undergrad</td>
</tr>
<tr>
<td bgcolor="#ffffff">University</td>
<td bgcolor="#ffffff">U</td>
</tr>                             
</table>
