<h1>Membership Statistics</h1>

<p>Membership counts have been taken at different times during the year. Figures for 1885 to 1964 are from each year's printed list of members. Figures from 1965 to 1974 are from a count of the membership in the spring of each year. Figures for 1975 to the present are the final counts from the end of the membership year.</p>

<table cellspacing="0" cellpadding="2" width="350px">

	<tr valign="top">
		<th align="left">Year</th> 
		<th align="center">Membership</th>
	</tr>
	<tr valign="top">
		<td>2013</td> 
<td align="center">27,736</td>
<td><a href="/members_dist_2013" >Geographic Distribution</a>[[[docstudio filetype_tag_pdf]]]</td>
	</tr>
<tr valign="top">
		<td>2012</td> 
<td align="center">28,563</td>
<td><a href="/members_dist_2012" >Geographic Distribution</a>[[[docstudio filetype_tag_pdf]]]</td>
	</tr>
	<tr valign="top">
		<td>2011</td> 
<td align="center">28,931</td>
<td><a href="/members_dist_2011" >Geographic Distribution</a>[[[docstudio filetype_tag_pdf]]]</td>
	</tr>
	<tr valign="top">
		<td>2010</td> 
<td align="center">30,449</td>
<td><a href="/members_dist_2010">Geographic Distribution</a>[[[docstudio filetype_tag_pdf]]]</td>
	</tr>
	<tr valign="top">
		<td>2009</td> 
<td align="center">30,580</td>
<td><!--<a href="/mem_dist_2009">(Distribution of Members)</a>--></td>
	</tr>
	<tr valign="top">
		<td>2008</td> <td align="center">30,809</td>
	</tr>
	<tr valign="top">
		<td>2007</td> <td align="center">29,621</td>
	</tr>
	<tr valign="top">
		<td>2006</td> <td align="center">29,757</td>
	</tr>
	<tr valign="top">
		<td>2005</td> <td align="center">30,149</td>
	</tr>
	<tr valign="top">
		<td>2004</td> <td align="center">30,271</td>
	</tr>
	<tr valign="top">
		<td>2003</td> <td align="center">29,325</td>
	</tr>
	<tr valign="top">
		<td>2002</td> <td align="center">29,572</td>
	</tr>
	<tr valign="top">
		<td>2001</td> <td align="center">30,041</td>
	</tr>
	<tr valign="top">
		<td>2000</td> <td align="center">29,897</td>
	</tr>
	<tr valign="top">
		<td>1999</td> <td align="center">30,692</td>
	</tr>
	<tr valign="top">
		<td>1998</td> <td align="center">31,208</td>
	</tr>
	<tr valign="top">
		<td>1997</td> <td align="center">30,710</td>
	</tr>
	<tr valign="top">
		<td>1996</td> <td align="center">31,568</td>
	</tr>
	<tr valign="top">
		<td>1995</td> <td align="center">31,864</td>
	</tr>
	<tr valign="top">
		<td>1994</td> <td align="center">31,864</td>
	</tr>
	<tr valign="top">
		<td>1993</td> <td align="center">31,802</td>
	</tr>
	<tr valign="top">
		<td>1992</td> <td align="center">32,157</td>
	</tr>
	<tr valign="top">
		<td>1991</td> <td align="center">30,626</td>
	</tr>
	<tr valign="top">
		<td>1990</td> <td align="center">29,250</td>
	</tr>
	<tr valign="top">
		<td>1989</td> <td align="center">27,267</td>
	</tr>
	<tr valign="top">
		<td>1988</td> <td align="center">25,759</td>
	</tr>
	<tr valign="top">
		<td>1987</td> <td align="center">24,744</td>
	</tr>
	<tr valign="top">
		<td>1986</td> <td align="center">23,295</td>
	</tr>
	<tr valign="top">
		<td>1985</td> <td align="center">23,295</td>
	</tr>
	<tr valign="top">
		<td>1984</td> <td align="center">23,700</td>
	</tr>
	<tr valign="top">
		<td>1983</td> <td align="center">24,023</td>
	</tr>
	<tr valign="top">
		<td>1982</td> <td align="center">23,944</td>
	</tr>
	<tr valign="top">
		<td>1981</td> <td align="center">24,101</td>
	</tr>
	<tr valign="top">
		<td>1980</td> <td align="center">24,423</td>
	</tr>
	<tr valign="top">
		<td>1979</td> <td align="center">25,902</td>
	</tr>
	<tr valign="top">
		<td>1978</td> <td align="center">25,563</td>
	</tr>
	<tr valign="top">
		<td>1977</td> <td align="center">25,805</td>
	</tr>
	<tr valign="top">
		<td>1976</td> <td align="center">25,567</td>
	</tr>
	<tr valign="top">
		<td>1975</td> <td align="center">26,322</td>
	</tr>
	<tr valign="top">
		<td>1974</td> <td align="center">30,530</td>
	</tr>
	<tr valign="top">
		<td>1973</td> <td align="center">30,247</td>
	</tr>
	<tr valign="top">
		<td>1972</td> <td align="center">30,158</td>
	</tr>
	<tr valign="top">
		<td>1971</td> <td align="center">30,095</td>
	</tr>
	<tr valign="top">
		<td>1970</td> <td align="center">31,356</td>
	</tr>
	<tr valign="top">
		<td>1969</td> <td align="center">30,079</td>
	</tr>
	<tr valign="top">
		<td>1968</td> <td align="center">29,568</td>
	</tr>
	<tr valign="top">
		<td>1967</td> <td align="center">26,148</td>
	</tr>
	<tr valign="top">
		<td>1966</td> <td align="center">24,125</td>
	</tr>
	<tr valign="top">
		<td>1965</td> <td align="center">22,100</td>
	</tr>
	<tr valign="top">
		<td>1964</td> <td align="center">19,172</td>
	</tr>
	<tr valign="top">
		<td>1963</td> <td align="center">16,490</td>
	</tr>
	<tr valign="top">
		<td>1962</td> <td align="center">14,122</td>
	</tr>
	<tr valign="top">
		<td>1961</td> <td align="center">13,300</td>
	</tr>
	<tr valign="top">
		<td>1960</td> <td align="center">11,800</td>
	</tr>
	<tr valign="top">
		<td>1959</td> <td align="center">10,628</td>
	</tr>
	<tr valign="top">
		<td>1958</td> <td align="center">9,862</td>
	</tr>
	<tr valign="top">
		<td>1957</td> <td align="center">8,990</td>
	</tr>
	<tr valign="top">
		<td>1956</td> <td align="center">9,239</td>
	</tr>
	<tr valign="top">
		<td>1955</td> <td align="center">8,453</td>
	</tr>
	<tr valign="top">
		<td>1954</td> <td align="center">7,352</td>
	</tr>
	<tr valign="top">
		<td>1953</td> <td align="center">7,402</td>
	</tr>
	<tr valign="top">
		<td>1952</td> <td align="center">7,040</td>
	</tr>
	<tr valign="top">
		<td>1951</td> <td align="center">6,932</td>
	</tr>
	<tr valign="top">
		<td>1950</td> <td align="center">6,515</td>
	</tr>
	<tr valign="top">
		<td>1949</td> <td align="center">6,191</td>
	</tr>
	<tr valign="top">
		<td>1948</td> <td align="center">6,281</td>
	</tr>
	<tr valign="top">
		<td>1947</td> <td align="center">5,541</td>
	</tr>
	<tr valign="top">
		<td>1946</td> <td align="center">4,991</td>
	</tr>
	<tr valign="top">
		<td>1945</td> <td align="center">4,173</td>
	</tr>
	<tr valign="top">
		<td>1944</td> <td align="center">3,866</td>
	</tr>
	<tr valign="top">
		<td>1943</td> <td align="center">3,703</td>
	</tr>
	<tr valign="top">
		<td>1942</td> <td align="center">3,954</td>
	</tr>
	<tr valign="top">
		<td>1941</td> <td align="center">4,309</td>
	</tr>
	<tr valign="top">
		<td>1940</td> <td align="center">4,460</td>
	</tr>
	<tr valign="top">
		<td>1939</td> <td align="center">4,374</td>
	</tr>
	<tr valign="top">
		<td>1938</td> <td align="center">4,598</td>
	</tr>
	<tr valign="top">
		<td>1937</td> <td align="center">4,373</td>
	</tr>
	<tr valign="top">
		<td>1936</td> <td align="center">4,120</td>
	</tr>
	<tr valign="top">
		<td>1935</td> <td align="center">3,910</td>
	</tr>
	<tr valign="top">
		<td>1934</td> <td align="center">3,764</td>
	</tr>
	<tr valign="top">
		<td>1933</td> <td align="center">3,796</td>
	</tr>
	<tr valign="top">
		<td>1932</td> <td align="center">4,132</td>
	</tr>
	<tr valign="top">
		<td>1931</td> <td align="center">4,267</td>
	</tr>
	<tr valign="top">
		<td>1930</td> <td align="center">4,055</td>
	</tr>
	<tr valign="top">
		<td>1929</td> <td align="center">3,595</td>
	</tr>
	<tr valign="top">
		<td>1928</td> <td align="center">3,626</td>
	</tr>
	<tr valign="top">
		<td>1927</td> <td align="center">3,646</td>
	</tr>
	<tr valign="top">
		<td>1926</td> <td align="center">3,578</td>
	</tr>
	<tr valign="top">
		<td>1925</td> <td align="center">2,948</td>
	</tr>
	<tr valign="top">
		<td>1924</td> <td align="center">2,948</td>
	</tr>
	<tr valign="top">
		<td>1923</td> <td align="center">2,452</td>
	</tr>
	<tr valign="top">
		<td>1922</td> <td align="center">2,095</td>
	</tr>
		<tr valign="top">
		<td>1921</td> <td align="center">1,871</td>
	</tr>
		<tr valign="top">
		<td>1920</td> <td align="center">1,631</td>
	</tr>
		<tr valign="top">
		<td>1919</td> <td align="center">1,490</td>
	</tr>
	<tr valign="top">
		<td>1918</td> <td align="center">1,472</td>
	</tr>
	<tr valign="top">
		<td>1917</td> <td align="center">1,473</td>
	</tr>
		<tr valign="top">
		<td>1916</td> <td align="center">1,409</td>
	</tr>
		<tr valign="top">
		<td>1915</td> <td align="center">1,304</td>
	</tr>
	<tr valign="top">
		<td>1914</td> <td align="center">1,232</td>
	</tr>
		<tr valign="top">
		<td>1913</td> <td align="center">1,183</td>
	</tr>
		<tr valign="top">
		<td>1912</td> <td align="center">1,160</td>
	</tr>
		<tr valign="top">
		<td>1911</td> <td align="center">1,047</td>
	</tr>
	<tr valign="top">
		<td>1910</td> <td align="center">997</td>
	</tr>
		<tr valign="top">
		<td>1909</td> <td align="center">950</td>
	</tr>
		<tr valign="top">
		<td>1908</td> <td align="center">871</td>
	</tr>
		<tr valign="top">
		<td>1907</td> <td align="center">871</td>
	</tr>
	<tr valign="top">
		<td>1906</td> <td align="center">848</td>
	</tr>
		<tr valign="top">
		<td>1905</td> <td align="center">775</td>
	</tr>
		<tr valign="top">
		<td>1904</td> <td align="center">708</td>
	</tr>
		<tr valign="top">
		<td>1903</td> <td align="center">650</td>
	</tr>
		<tr valign="top">
		<td>1902</td> <td align="center">638</td>
	</tr>
	<tr valign="top">
		<td>1901</td> <td align="center">599</td>
	</tr>
		<tr valign="top">
		<td>1900</td> <td align="center">551</td>
	</tr>
	<tr valign="top">
		<td>1899</td> <td align="center">538</td>
	</tr>
		<tr valign="top">
		<td>1898</td> <td align="center">509</td>
	</tr>
		<tr valign="top">
		<td>1897</td> <td align="center">502</td>
	</tr>
	<tr valign="top">
		<td>1896</td> <td align="center">462</td>
	</tr>
			<tr valign="top">
		<td>1895</td> <td align="center">432</td>
	</tr>
	<tr valign="top">
		<td>1894</td> <td align="center">405</td>
	</tr>
		<tr valign="top">
		<td>1893</td> <td align="center">392</td>
	</tr>
	<tr valign="top">
		<td>1892</td> <td align="center">367</td>
	</tr>
	<tr valign="top">
		<td>1891</td> <td align="center">363</td>
	</tr>
	<tr valign="top">
		<td>1890</td> <td align="center">321</td>
	</tr>
	<tr valign="top">
		<td>1889</td> <td align="center">280</td>
	</tr>
		<tr valign="top">
		<td>1888</td> <td align="center">*</td>
	</tr>
		<tr valign="top">
		<td>1887</td> <td align="center">269</td>
	</tr>
	<tr valign="top">
		<td>1886</td> <td align="center">234</td>
	</tr>
	<tr valign="top">
		<td>1885</td> <td align="center">184</td>
	</tr>
	<tr valign="top">
		<td>1884</td> <td align="center">126</td>
	</tr>
		<tr valign="top">
		<td>1883</td> <td align="center">*</td>
	</tr>
	</table>

<p><br>* No membership count available for this year.</p>

	
