<h1>Member Resources</h1>
<a id="membership"></a><h2>Member Information</h2>
<a href="/member_search">List of Members</a>

<a href="/directory">2013–14 Directory</a>

<a id="resources"></a><h2>Conferences, Fellowships, and More</h2>
<a href="/fellowships_grants">Fellowship and Grants</a>

<a href="/forthcoming_meetings">Forthcoming Meetings and Conferences of General Interest</a>

<a href="/announce_geninterest">Announcements of General Interest</a>

<a id="publications"></a><h2>Publications</h2>
<a href="/jil"><i>Job Information List</i></a>

<a href="/profession"><i>Profession</i> for E-readers</a>

<a href="/adefl_bulletin">ADE and ADFL Bulletins</a>

<a href="/nl_current">Current <i>MLA Newsletter</i></a>

<a href="/handbook_signup">Request Your Complimentary Copy of the <i>MLA Handbook</i></a>

<a href="/handbook_access"><i>MLA Handbook</i> Web Site</a>

<a href="/dop"><i>MLA Directory of Periodicals</i></a>

<a href="/bib_search">Searchable Web Site Listings from the <i>MLA International Bibliography</i></a>

<a href="/cro_access"><i>Choice Reviews Online</i></a>
