<h1>Mina P. Shaughnessy Prize Selection Committee</h1>
Function: Selects the winner of the prize for an outstanding scholarly book in the fields of language, culture, literacy, or literature with strong application to the teaching of English. Committee members are appointed by the Committee on Honors and Awards. Because of recusals, some members may not participate in some judging rounds. Queries for the committee or about the prize should be sent to <a href="mailto:awards@mla.org">awards@mla.org</a>.

Jennifer Holberg, 2012–14
Catherine Jean Prendergast, 2012–14
