<h1>Information on MLA Prizes</h1>
Unless otherwise noted, "literary studies" here encompasses works of literary history, literary criticism, philology, and literary theory, as well as works dealing with literature and other arts and disciplines.  Translations are eligible only for the three awards specifically devoted to that category.

The deadline for the James Russell Lowell Prize is <I>1 March;</i> for the MLA Prize for a First Book, the Lois Roth Award for a Translation of a Literary Work, and the Aldo and Jeanne Scaglione Prize for a Translation of a Literary Work it is <I>1 April;</i> for the Scaglione Publication Award it is <I>1 August</i>; for all other awards it is <I>1 May.</i> An application form is required for submissions to the MLA Prize for Independent Scholars.  To enter books into the competition for other prizes, no special form or procedure is needed, but shipments of books should be preceded or accompanied by letters identifying the works and, where necessary, confirming the authors' membership in the MLA. Shipping labels should indicate the names of the prizes for which the books are competing. Publishers typically enter books into the competitions, but authors may send their own. Each item in the main list indicates, under the heading <I>Eligibility</i>, whether membership in the MLA is required. An author who is not a member of the MLA at the time of publication may become eligible to compete by joining the association before 1 May of the following year. No book may compete for more than one MLA prize.

For all MLA book prizes the cash award is $1,000. Prizes supported by the Aldo and Jeanne Scaglione funds carry an award of $2,000, except for the manuscript award. The award in competitions for scholarly articles is $500. For detailed information about specific prizes, write or call the MLA, 26 Broadway, 3rd floor, New York, NY 10004-1789 (646 576-5141; fax: 646 458-0030; <A HREF="mailto:awards@mla.org">awards@mla.org</a>).
