<h1>Delegate Assembly Bylaws</h1>
<OL TYPE="I">
<li><b>Purpose.</B> The Delegate Assembly was created in 1970 as a successor to the former annual Business Meeting of the Modern Language Association. Within the governance structure of the Modern Language Association, the Delegate Assembly is intended to function as the voice of the membership, the forum at which issues of professional concern are to be debated and policies formulated.

Representation on the Delegate Assembly is designed to provide the MLA with comprehensive perspectives representing the study and teaching of languages and literatures, the conditions under which they are carried out, and the circumstances of the members professing these activities.

The Delegate Assembly can best fulfill its purpose if it mirrors the views of the MLA membership as closely as possible. Service on the Delegate Assembly is both an honor and an obligation.
</OL>
<OL TYPE="I" START="2">
<li><b>Responsibilities</B>
</OL>
<OL TYPE="A">
<li>In accordance with article 9 of the MLA constitution, the Delegate Assembly shall voice the concerns of the membership of the MLA and recommend actions to the Executive Council.
<li>The Delegate Assembly shall conduct its annual meeting in accordance with articles 9, 10, 11.C, and 12.E of the MLA constitution.
</OL>
<OL TYPE="I" START="3">
<li><b>Composition.</B> See the MLA constitution, article 10.
</OL>
<OL TYPE="I" START="4">
<li><b>Elections</B>
</OL>
<OL TYPE="A">
<li><I>Election of Delegates to the Delegate Assembly.</I> See the MLA constitution, article 10.
<li><I>Election of Delegates to the Executive Council.</I> Every other year one Delegate Assembly member shall be elected to the Executive Council for a term of four years. In alternate and only in alternate elections, candidates shall be from the field of English (including American). All delegates in their second consecutive year of service on the Delegate Assembly and in an appropriate field shall be eligible for election to the Executive Council. Each year, a list of eligible delegates willing to serve shall be sent to all members of the Delegate Assembly. Each delegate shall have the opportunity to nominate up to five candidates for service on the council. Delegates receiving the five highest numbers of nominations shall constitute the final ballot, which will be distributed at the annual meeting of the Delegate Assembly together with brief position statements not to exceed the word limit set by the Delegate Assembly. Election shall be by majority vote, with runoff elections if necessary between the candidates receiving the two highest numbers of votes.
</OL>
<OL TYPE="I" START="5">
<li><b>Committees</B>
</OL>
<OL TYPE="A">
<li>In accordance with article 11 of the MLA constitution, the Delegate Assembly shall have the following two standing committees:

<OL TYPE="1">
<li>Organizing Committee. The Organizing Committee shall have the responsibility of preparing the agenda for meetings of the Delegate Assembly; of receiving, initiating, and reporting on motions and resolutions to be brought before the Delegate Assembly; of acting on matters referred to it by the Delegate Assembly; of presenting an annual report to the Delegate Assembly on the activities and future direction of the MLA; of conducting the open hearing of the Delegate Assembly; of establishing ad hoc committees to investigate matters of concern to the Delegate Assembly; of nominating candidates for the Delegate Assembly's Elections Committee; and of working closely with the Executive Council and the staff of the association. The Organizing Committee shall meet at least once a year with the Executive Council.

The Organizing Committee will be composed of ten members as follows: six members of the Delegate Assembly; two members of the Executive Council; and the first vice president and executive director of the association, serving ex officio without votes. The Organizing Committee shall elect its own presiding officer annually from among those elected by the Delegate Assembly.

The Executive Council shall elect its representatives to the Organizing Committee for two-year terms.

Each Delegate Assembly member who has been elected to the Executive Council in accordance with bylaw 4.B will automatically serve on the Organizing Committee as a voting member in the second and third years of his or her term on the council and as a nonvoting member in the first and fourth years of his or her council term.

The remaining five Delegate Assembly members of the Organizing Committee will be elected by the assembly for three-year terms. No fewer than two and no more than three of the delegates elected to the Organizing Committee in accordance with the procedures outlined below shall be from the field of English (including American).

All delegates in their third consecutive year of service on the Delegate Assembly and in appropriate fields shall be eligible for election to the Organizing Committee. Each year, a list of eligible delegates willing to serve shall be sent to all members of the Delegate Assembly. Each delegate shall have the opportunity to nominate up to five candidates for service on the committee. Delegates receiving the five highest numbers of nominations shall constitute the final ballot, which will be distributed at the annual meeting of the Delegate Assembly together with brief position statements not to exceed the word limit set by the Delegate Assembly. Election shall be by majority vote, with runoff elections if necessary between the candidates receiving the two highest numbers of votes. Each vacancy will be filled by a separate election.
<li>Elections Committee. See the MLA constitution, articles 10 and 11.B. The committee shall annually elect its own presiding officer. The committee will normally meet once a year.

</OL>
<li>Ad Hoc Committees. The Delegate Assembly may at its discretion form ad hoc committees for specific purposes and terms, within the limitations of MLA budget allocations and of association practices and policies.
</OL>
<OL TYPE="I" START="6">
<li><b>Conduct of Annual Meetings</B>
</OL>
<OL TYPE="A">
<li>In accordance with article 12 of the MLA constitution, the Delegate Assembly shall hold at least one meeting each year in conjunction with a convention of the association.
<li>In accordance with article 5.B of the MLA constitution, the first vice president of the association shall preside at all meetings of the Delegate Assembly.
<li>The agenda of each meeting of the Delegate Assembly shall ordinarily consist of the following items:
<OL TYPE="1">
<li>Call to order
<li>Adoption of rules (see Appendix)
<li>Approval of minutes of previous meeting
<li>Elections
<li>Reports by officers and staff of the MLA, the Delegate Assembly Organizing Committee, and other committees and commissions
<li>Recommendations by the Executive Council and the Delegate Assembly Organizing Committee
<li>Old business
<li>New business 
<OL TYPE="a">
<li>Resolutions received in timely fashion
<li>Emergency resolutions 
<li>Motions 
<li>Other new business
</OL>
<li>Announcements
<li>Adjournment
</OL>
<li>Procedures. Meetings of the Delegate Assembly will be governed by the following procedures:
<OL TYPE="1">
<li>Only duly elected and ex officio members of the assembly may sit within the area reserved for the assembly. Members of the association who are not delegates may observe the proceedings in the sections reserved for them and may participate in the discussions in accordance with paragraph 3.
<li>Only duly elected and ex officio members of the assembly shall have the right to vote at the meeting.
<li>A maximum of ten minutes during the discussion of each main motion and five minutes during the discussion of each amendment will be allocated to members of the association who are not delegates.
<li>The quorum for meetings of the Delegate Assembly shall be set at 50 percent of the total number of delegates who have signed in at a particular meeting of the assembly prior to the quorum call. A quorum will be presumed to be present unless its existence is challenged and a quorum count is requested. Even in the absence of a quorum, discussion may continue and votes may be taken if the majority of those present so desire. Under such circumstances, a motion will be considered passed only if it is carried by a sufficient number of delegates to have constituted a majority if a quorum were present.
<li>The parliamentarian is responsible for advising the chair on the interpretation of rules and parliamentary procedure in accordance with the latest edition of <I>Robert's Rules of Order</I>.
</OL>
</OL>
<OL TYPE="I" START="7">
<li><b>Deadlines.</B> Motions to be placed on the agenda of any meeting of the Delegate Assembly must be submitted by the proponent by 15 October. Similarly, resolutions to be considered at a meeting of the assembly must be signed by at least ten members of the association and must reach the Organizing Committee by 15 October, except for those occasioned by emergencies arising after 15 October. Such emergency resolutions must be signed by at least twenty-five members of the association and must reach the Organizing Committee no later than twenty-four hours before the scheduled assembly meeting. Resolutions or motions proposed after 15 October, except for motions arising directly out of the business on the floor of the assembly, may be discussed at the meeting under the heading of new business, but no action may be taken at that meeting, unless three-quarters of the members present vote to take immediate action on an emergency resolution. Resolutions may not exceed one hundred words in length. Both resolutions and motions must be accompanied by documented background material.

Signatures in support of a resolution or a petition must be received at the MLA office on or before the stated deadline. Members may indicate their support in any of the following ways: (a) sending an original signature or a collection of signatures with the resolution or petition text by mail to arrive on or before the deadline; (b) faxing an individual signature or a collection of signatures with the resolution or petition text on or before the deadline, with the original of the fax to arrive at the MLA office within seven business days of the deadline; or (c) e-mailing an individual or a collective statement of support on or before the deadline, with printouts of original e-mail messages signed by each originator or supporter to arrive at the MLA office within seven business days of the deadline.
</OL>
<OL TYPE="I" START="8">
<li><b>Records.</B> Minutes shall be taken during all meetings of the Delegate Assembly, consisting of a record of all actions taken at that meeting. This record shall contain the text and the proponent of all motions and amendments and the result of each vote taken, including the number of aye and nay votes if counted. The text of these minutes shall be sent to every member of the Delegate Assembly before the next meeting, and an official copy shall be kept on file at the headquarters of the association for archival purposes. For the benefit of the membership at large, a summary of the actions of each Delegate Assembly meeting shall be published in an appropriate publication of the association as soon as feasible.
<li><b>Amendments.</B> Amendments to these bylaws may be proposed by the Organizing Committee or by petition signed by ten members of the Delegate Assembly. Such proposals must be submitted by 15 October in order to be placed on the agenda of the meeting and must not be in conflict with the MLA constitution. An amendment may be passed by a two-thirds majority of delegates voting at any meeting or by a simple majority of delegates voting at two successive meetings.
<B>Appendix.</B> The following rules must be approved by majority vote at the beginning of each meeting of the Delegate Assembly; at that time, changes may be proposed by the Organizing Committee or by members from the floor of the assembly. Subsequently, the rules, once adopted, may be suspended or amended by a two-thirds majority of members voting, unless such suspension or amendment conflicts with the Delegate Assembly bylaws or the constitution of the Modern Language Association.
<OL TYPE="1">
<li>Anyone wishing to be recognized by the chair must go to a microphone on the floor of the auditorium and must state name and institution before addressing the assembly.
<li>Discussions will be closed and a vote taken on all main motions at the end of twenty-five minutes, exclusive of time devoted to amendment and to procedural discussion; a maximum of fifteen minutes will be allowed for substantive discussion of each amendment.
<li>Discussion will be limited to three minutes per speech for each main motion and two minutes per speech for each amendment; no person may speak a second time on a motion until all who wish to speak have been heard, except to answer questions.
<li>Every substantive motion must be put in writing, signed by the proponent, and given to the clerk of the assembly before a vote may be taken.
<li>If necessary, a dinner recess may be called by the chair. In any event, the assembly will adjourn no later than 11:00 p.m.; business not transacted by that time will be carried over to the next meeting of the assembly.
<li>While election results are being tabulated, the other business of the assembly will proceed.
</OL>
</OL>
