<h1>Retrospective Content in the Bibliography</h1>
The <I>MLA Bibliography</i> was developed in the 1920s as a record of American scholarship in language and literature.  For almost fifty years, it was printed as a section in <i>PMLA</i>, but in 1969 it became a separate publication.  Data from 1963 to the present have been available to electronic searchers since the late 1970s.

In April 2006, the <i>MLA International Bibliography</i> added records for thirty-eight print volumes from 1926-62 to the online file.  Conversion of these volumes was in process for two and a half years.  This material is offered to libraries as part of their current subscriptions for no additional cost.  All 160,000 records were reviewed.  Journal abbreviations and acronyms for almost 3,500 titles were expanded, full journal names and series titles standardized, and ISSNs attached.  Almost 11,000 subject names and terms were also standardized according to current practices.  After the April introduction, we continue to strengthen the file with links to titles in <a href="/bib_jstor_project">JSTOR collections</a> outside language and literature, as available.
