<h1>MLA Constitution </h1>
<a name="a1" id="a1"></a><ol TYPE="I">
<li><b>Name.</B> The name of this association shall be The Modern Language Association of America.
<a name="a2" id="a2"></a>
<li><b>Purpose.</B> The object of the association shall be to promote study, criticism, and research in the more and less commonly taught modern languages and their literatures and to further the common interests of teachers of these subjects.
<a name="a3" id="a3"></a>
<li><b>Membership.</B> There shall be four categories of membership: regular members, student members, life members, and honorary members and fellows. The dues structure within each category shall be determined by the Delegate Assembly subject to confirmation by the Executive Council.
</ol>
<blockquote><ol TYPE="A">
<li><a name="a3A" id="a3A"></a><I>Regular members.</I> With the approval of an officer of the association, persons professionally interested in modern languages and their literatures may become regular members of the association. Joint membership and foreign membership shall be included within this category.
<li><a name="a3B" id="a3B"></a><I>Student members.</I> With the approval of an officer of the association, graduate students engaged in courses of study leading to degrees in the fields of modern languages and their literatures may for a period of time to be determined by the Delegate Assembly become student members of the association, provided that they do not hold full-time teaching positions.
<li><a name="a3C" id="a3C"></a><I>Life members.</I> Persons eligible for regular membership may become life members by making a single payment, thereafter becoming exempt from the annual payment of dues. With each completed decade of membership, the fee for life membership shall be diminished by one-fourth. In addition, criteria for the granting of life membership shall be included in the dues structure. Members who have met these criteria shall be granted life membership and shall thereafter make no payment.
<li><a name="a3D" id="a3D"></a><I>Honorary members and fellows.</I> Foreign scholars may be elected honorary members of the association, and distinguished men and women of letters of any nationality may be elected honorary fellows. Honorary members and fellows shall be nominated by the Executive Council and elected by the Delegate Assembly, the election to be ratified by a mail ballot of the membership of the association. Neither the number of honorary members nor the number of honorary fellows may exceed 120 at any one time.
</ol></blockquote>
<a name="a4" id="a4"></a><ol TYPE="I" START="4">
<li><b>Administration</B>
</ol>
<blockquote><ol TYPE="A">
<li><a name="a4A" id="a4A"></a>The administration of the association shall be in the hands of the Executive Council, consisting of the president and the vice presidents of the association, ex officio; the executive director (without vote); and fourteen members. The Executive Council shall act either on its own initiative or on the recommendations of the Delegate Assembly.
<li><a name="a4B" id="a4B"></a>The executive director shall see that all actions of the Executive Council and the Delegate Assembly are reported in an appropriate publication of the association within a reasonable period of time. On petition of one percent of the association, any such action shall be subjected to a referendum mail ballot of the entire membership. Petitions requesting referendums must reach the executive director within ninety days after publication of the action in question.
<li><a name="a4C" id="a4C"></a>The current edition of <I>Robert's Rules of Order Newly Revised</I> shall be the authority for the conduct of all formal business of the association.
<li><a name="a4D" id="a4D"></a>Any time this constitution authorizes a vote of the entire membership of the association, that vote may be conducted by electronic means.
<li><a name="a4E" id="a4E"></a>The accounts of the association shall be audited annually by a commercial auditing firm designated by the Executive Council, and the report of the auditors shall be presented to the council. For budgetary and other administrative purposes, the official year shall be determined by the council.
<li><a name="a4F" id="a4F"></a>The permanent fund of the association and its other endowment funds shall be administered by a board of three trustees, each appointed by the Executive Council for a three-year term, the three terms to be staggered by one year. One of the trustees shall be designated the managing trustee.
<li><a name="a4G" id="a4G"></a>The trustees shall invest and reinvest the principal of all funds received so as to preserve the principal unimpaired to the best of their ability. The income accruing on all property in their hands may be reinvested with the authorization of the Executive Council; otherwise it shall be paid over to the executive director of the association, who shall add the income received from the permanent fund to the current funds of the association, the income received from the Monograph Endowment Fund to the Monograph Current Account, and the income received from the Research Endowment Fund to the Research Current Account.
<li><a name="a4H" id="a4H"></a>The Executive Council may remove any trustee by a unanimous vote of those present at a meeting called for the purpose and shall fill any vacancy arising from the death, resignation, or removal of any trustee.
</ol></blockquote>
<a name="a5" id="a5"></a><ol TYPE="I" START="5">
<li><b>Officers--Responsibilities</B>
</ol>
<blockquote><ol TYPE="A">
<li><a name="a5A" id="a5A"></a>The officers of the association shall be a president, a first vice president, a second vice president, and an executive director.
<li><a name="a5B" id="a5B"></a>The president shall preside at all meetings of the Executive Council, the first vice president at all meetings of the Delegate Assembly. Either of these duties may be assumed by the other officer or by the second vice president if all three officers agree.
<li><a name="a5C" id="a5C"></a>Under the direction of the Executive Council, the executive director shall administer the affairs of the association, with the following specific responsibilities: to be general editor of all publications issued by the association; to be an ex officio member of all committees and commissions of the association and chair of the Program Committee; to act as secretary of the Executive Council and clerk of the Delegate Assembly; to have charge of all financial operations of the association, including the collection of sums due the association and the payment of its bills; to present to the council each year a budget for the ensuing fiscal year. After action by the council, the budget shall be distributed to the members of the Delegate Assembly and made available to the members of the association for their information. The executive director and the staff shall be bonded in a sum of not less than $10,000, the exact amount to be set by the Executive Council.
<li><a name="a5D" id="a5D"></a>The Executive Council shall annually designate a member of the staff to assume responsibility for the administration of the association in the event of the death or the incapacity of the executive director and to serve until the Executive Council names a successor.
<li><a name="a5E" id="a5E"></a>The executive director shall receive such administrative, editorial, and clerical assistance as the council approves.
</ol></blockquote>
<a name="a6" id="a6"></a><ol TYPE="I" START="6">
<li><b>Officers--Election</B>
</ol>
<blockquote><ol TYPE="A">
<li><a name="a6A" id="a6A"></a>The executive director shall be chosen by the Executive Council and shall hold office for such terms and under such conditions as the council may specify.
<li><a name="a6B" id="a6B"></a>The president and vice presidents shall serve for a term of approximately one year, which shall begin at the close of the association’s convention following the election of the second vice president. The first vice president shall succeed to the office of president, and the second vice president to the office of first vice president. The second vice president shall be elected by the membership of the association as specified below.
<li><a name="a6C" id="a6C"></a>The second vice president shall be nominated by the Nominating Committee, which shall propose the names of three members. These names shall be made known to the executive director no later than 15 April. The names shall be listed, together with brief vitae and a notice of the right to petition, in an appropriate publication of the association before 1 June.
<li><a name="a6D" id="a6D"></a>The second vice president of the association shall be elected from the field of English (including American) in alternate and only in alternate years. At all times the Nominating Committee shall bear in mind the various fields of interest within the association. The Nominating Committee shall have final authority to rule on the eligibility of nominees recommended by petition. Candidates, including those nominated by petition, must have been listed in the printed directory of members of the association for the two preceding years. No member shall serve more than one term as second vice president. Current members of the Executive Council shall not be eligible for nomination for second vice president, either by the Nominating Committee or by petition.
<li><a name="a6E" id="a6E"></a>Any member of the association may initiate a petition proposing an additional candidate. The petition, including the consent of the candidate and the signatures of at least fifty current members of the association, must reach the executive director before 1 July.
<li><a name="a6F" id="a6F"></a>The executive director shall enter on the official ballot to be sent to all members the names of the three candidates proposed by the Nominating Committee, together with the names proposed by members of the association. Each name entered on the ballot shall be accompanied by a brief vita approved by the nominee.
<li><a name="a6G" id="a6G"></a>To be counted, ballots must reach the office of the association by 10 December. The nominee receiving a majority of the votes cast shall be declared elected. In the event that no nominee receives a majority, a runoff election shall be held between the two nominees with the most votes.
<li><a name="a6H" id="a6H"></a>In the event that an elected officer should die, resign, or for any reason be unwilling or unable to carry out the responsibilities of the office, the Executive Council shall determine the time and manner of replacement.
<li><a name="a6I" id="a6I"></a>Officers must retain their membership in the association during their terms of office.
</ol></blockquote>
<a name="a7" id="a7"></a><ol TYPE="I" START="7">
<li><b>Executive Council--Responsibilities</B>
</ol>
<blockquote><ol TYPE="A">
<li><a name="a7A" id="a7A"></a>The Executive Council shall meet as often as needed to transact the association's business.
<li><a name="a7B" id="a7B"></a>The responsibilities of the Executive Council shall be as follows:
<ol TYPE="1">
<li><a name="a7B1" id="a7B1"></a>To provide for its own organization and operations and to manage the business and affairs of the association as provided by the laws of the State of Maryland for directors of a corporation.
<li><a name="a7B2" id="a7B2"></a>To act on the recommendations of the Delegate Assembly and to inform it of actions taken. Such actions may include implementation, modification, referral to an appropriate committee of the association (including the Organizing Committee of the Delegate Assembly), and return to the Delegate Assembly for reconsideration.
<li><a name="a7B3" id="a7B3"></a><a name="7.B.3" id="7.B.3"></a>To conduct a review of the constitutional, legal, and fiduciary issues posed by the language of each resolution approved by the Delegate Assembly. The council will then, in a timely manner, either forward to the membership the resolution as approved or with nonsubstantive modifications or determine that it is unable to forward the resolution to the membership for one or more of the following reasons:
<ol TYPE="a">
<li><a name="a7B3a" id="a7B3a"></a>The resolution impedes the council's ability to carry out its fiduciary responsibilities.
<li><a name="a7B3b" id="a7B3b"></a>The resolution contains erroneous, tortious, or possibly libelous statements.
<li><a name="a7B3c" id="a7B3c"></a>The resolution, by itself or taken with other resolutions, poses a threat to the association's continuing operation as a tax-exempt organization.
<LI><a name="a7B3d" id="a7B3d"></a>The resolution is not consistent with the provisions of articles 2 and 9.C.10.
</ol>
If the council is unable to forward a resolution to the membership, it will, at the next meeting of the Delegate Assembly, present the reasons for its action. The Delegate Assembly may then consider reformulating the resolution.
<li><a name="a7B4" id="a7B4"></a>To inform the Delegate Assembly of actions taken to implement resolutions passed and ratified.
<li><a name="a7B5" id="a7B5"></a>To initiate and supervise the services of the association.
<li><a name="a7B6" id="a7B6"></a>To appoint the executive director and to supervise the administrative structure of that office.
<li><a name="a7B7" id="a7B7"></a>To approve the budget of the association and to supervise its expenditure.
<li><a name="a7B8" id="a7B8"></a>To establish and discharge committees and commissions of the association, either on the recommendation of the Delegate Assembly or on its own initiative, and to designate their chairs. In making appointments, the council shall ensure fair representation of all modern languages traditionally within the domain of the association. The council shall provide for the appointment of at least one member of the Delegate Assembly to each committee of the association whose charge addresses the matters of concern to the Delegate Assembly specified in article 9.C.10.
<li><a name="a7B9" id="a7B9"></a>To act on proposals affecting the dues structure approved by the Delegate Assembly.
<li><a name="a7B10" id="a7B10"></a>To supervise publications and other media of the association.
<li><a name="a7B11" id="a7B11"></a>To approve grants and contracts.
<li><a name="a7B12" id="a7B12"></a>To plan, with the Program Committee and the Delegate Assembly, the time, place, character, and scope of general conventions and meetings of the association.
<li><a name="a7B13" id="a7B13"></a>To nominate honorary members and fellows.
</ol>
</ol></blockquote>
<a name="a8" id="a8"></a><ol TYPE="I" START="8">
<li><b>Executive Council--Composition and Election.</B> The Executive Council shall be composed of twelve at-large members and two members from the Delegate Assembly. In accordance with the provisions of article 8.A.5, at all times there shall be on the Executive Council representation from the three groups of dues-paying MLA members established by the constitution: regular members, student members, and life members. Executive Council members’ terms shall begin at the close of the association’s convention following their election. A council member's category of membership at the time of election shall stand throughout that council member's term of office. All members of the Executive Council must retain membership in the association during their terms of office.
</ol>
<blockquote><ol TYPE="A">
<li><a name="a8A" id="a8A"></a>Each year three at-large members of the Executive Council shall be elected for four-year terms according to the following procedure:
<ol TYPE="1">
<li><a name="a8A1" id="a8A1"></a>The Nominating Committee, bearing in mind the provisions stated above and in paragraph 5 below, shall nominate seven candidates whose names shall be submitted to the executive director no later than 15 April. The names shall be listed, together with brief vitae and a notice of the right to petition, in an appropriate publication of the association before 1 June. Candidates, including those nominated by petition, must have been listed in the printed directory of members of the association for the two preceding years.
<li><a name="a8A2" id="a8A2"></a><a name="8a2" id="8a2"></a>Any member of the association may initiate a petition proposing an additional candidate. The petition, including the consent of the candidate and the signatures of at least ten current members of the association, must reach the executive director before 1 July.
<li><a name="a8A3" id="a8A3"></a>The executive director shall enter on an official ballot to be sent to all members the names of the seven candidates proposed by the Nominating Committee, together with the three names receiving the most supporting signatures among the candidates proposed by members of the association. Each name entered on the ballot shall be accompanied by a brief vita approved by the nominee.
<li><a name="a8A4" id="a8A4"></a>Members shall vote by mail for three of the persons named on the official ballot. To be counted, ballots must reach the office of the association by 10 December.
<li><a name="a8A5" id="a8A5"></a><a name="8a5" id="8a5"></a>The three candidates receiving the most votes shall serve on the council for the ensuing four years, but the at-large membership of the council must include at least one representative, and no more than six, from each of the following fields: English, French, German, Spanish, and other (e.g., other languages and literatures, comparative literature, folklore, linguistics). It shall also include at least one representative, but no more than eight, from each of the eligible membership levels (i.e., regular, graduate student, and life), except that the number of regular members on the council shall always be in proportion to the regular membership of the association. To determine this proportion, the Nominating Committee shall reexamine the proportion of regular members in the membership every three years. If the balloting would lead to overrepresentation or underrepresentation, the choice shall pass to the person who receives the most votes among the candidates whose election would not result in such disproportion.
<li><a name="a8A6" id="a8A6"></a>In the event that an at-large member of the Executive Council should die, resign, or for any reason be unwilling or unable to carry out the responsibilities of the office, the Executive Council shall determine the time and manner of replacement.
</ol>
<li><a name="a8B" id="a8B"></a>Every other year, one Delegate Assembly member shall be elected for a four-year term according to procedures established by the Delegate Assembly. Delegates elected to the Executive Council shall automatically have their terms on the Delegate Assembly extended for the duration of their service on the council. In the event that a Delegate Assembly member of the Executive Council should die, resign, or for any reason be unwilling or unable to carry out the responsibilities of the office, the Organizing Committee shall determine the time and manner of replacement.
</ol></blockquote>
<a name="a9" id="a9"></a><OL TYPE="I" START="9">
<li><b>Delegate Assembly--Responsibilities</B>
</OL>
<blockquote><OL TYPE="A">
<li><a name="a9A" id="a9A"></a>The Delegate Assembly shall recommend actions to the Executive Council regarding the conduct of association business and the association's directions, goals, and structure.
<li><a name="a9B" id="a9B"></a>Members of the assembly may not be represented by proxy, and the Elections Committee shall examine their credentials. No legally elected or ex officio member of the assembly may be excluded from its meetings, at which a quorum shall consist of fifty percent of the total number of delegates who have registered before the quorum call at that assembly session.
<li><a name="a9C" id="a9C"></a><a name="9.C.10" id="9.C.10"></a>The responsibilities of the Delegate Assembly shall be as follows:
<OL TYPE="1">
<li><a name="a9C1" id="a9C1"></a>To provide for its own organization and operations.
<li><a name="a9C2" id="a9C2"></a>In accordance with the Delegate Assembly bylaws, to elect the assembly's representatives to the Organizing Committee of the Delegate Assembly.
<li><a name="a9C3" id="a9C3"></a>In accordance with article 11.A, to elect the Nominating Committee, which shall nominate officers of the association and members of the Executive Council.
<li><a name="a9C4" id="a9C4"></a>In accordance with article 11.B, to elect the Elections Committee, which shall supervise and validate elections to the assembly.
<li><a name="a9C5" id="a9C5"></a>To determine the dues structure of the association subject to confirmation by the Executive Council.
<li><a name="a9C6" id="a9C6"></a>In accordance with the provisions of article 13, to initiate amendments to the constitution of the association.
<li><a name="a9C7" id="a9C7"></a>To recommend to the Executive Council the appointment of such committees and commissions of the association as it deems necessary.
<li><a name="a9C8" id="a9C8"></a>In accordance with article 9.D, to conduct hearings preceding its own annual deliberations.
<li><a name="a9C9" id="a9C9"></a>To receive annual reports from the association's officers, Executive Council, committees, and commissions.
<li><a name="a9C10" id="a9C10"></a>In accordance with article 11.C, to formulate and submit to the membership for ratification resolutions on matters of public and institutional policy affecting the study and teaching of the humanities and the status of the language and literature professions represented by the association. Such matters may include proposed or enacted legislation, regulations, or other governmental and institutional policies, conditions of employment and publication, or additional matters that affect the association, its members in their professional capacities, or the dignity of members' work.
<li><a name="a9C11" id="a9C11"></a>To receive and act on motions. Only motions may be used to call for the establishment of committees or of activities that require the expenditure of association funds.
<li><a name="a9C12" id="a9C12"></a>To make recommendations to the Executive Council and the Program Committee on the time, place, character, and scope of general conventions and meetings of the association.
<li><a name="a9C13" id="a9C13"></a>To elect honorary members and fellows from the nominees submitted by the Executive Council, with the election subject to ratification by a mail ballot of the membership.
</OL>
<li><a name="a9D" id="a9D"></a>At least once a year, except in any year in which the annual meeting has been suspended in accordance with article 12.A, the assembly shall hold a session of open hearings to allow members of the association who are not delegates to present matters of concern to the assembly. No votes shall be taken at this session. These hearings shall terminate before the assembly begins its formal deliberations.
<li><a name="a9E" id="a9E"></a>The assembly may by majority vote submit any issue to a mail ballot of the entire membership of the association.
</OL></blockquote>
<a name="a10" id="a10"></a><OL TYPE="I" START="10">
<li><b>Delegate Assembly--Composition and Election</B>
</OL>
<blockquote><OL TYPE="A">
<li><a name="a10A" id="a10A"></a>The assembly shall represent the following:
<OL TYPE="1">
<li><a name="a10A1" id="a10A1"></a><I>Areas of study.</I> One delegate shall be elected by the executive committee of each officially constituted division.
<li><a name="a10A2" id="a10A2"></a><I>Electoral regions.</I> A total of 108 delegates shall be elected from seven geographic regions within the United States and Canada. Each of these regions shall represent approximately one-seventh of the total membership of the association residing in the United States and Canada, with the number of delegates from each region proportional to that region's membership as a percentage of the total membership of the association. Members may vote in all contests in any one region.
<li><a name="a10A3" id="a10A3"></a><I>Students.</I> The number of graduate students elected from each region shall be as nearly as possible in proportion to the student membership in the region, but each region shall elect at least one student member.
<li><a name="a10A4" id="a10A4"></a><I>Special interests.</I> To secure representation responsive to various other constituencies in the association, as many as fifty-five but no fewer than thirty-nine special-interest delegates shall be elected. Candidates shall be elected by a plurality vote of the entire membership of the association.
</OL>
<li><a name="a10B" id="a10B"></a>The president of the association, the first and second vice presidents, other elected members of the Executive Council and the Organizing Committee, and the representative of each officially recognized regional association shall be ex officio and voting members of the assembly. If a member of the assembly is elected to one of these posts, the seat thus vacated shall be filled at the next regular election.
<li><a name="a10C" id="a10C"></a>Each year one-third of the members of the Delegate Assembly shall be elected for three-year terms, except for ex officio members, who shall serve for the duration of their terms in office. Elected delegates’ terms shall begin at the close of the association’s convention following their election.  Candidates for election must have been listed in the most recent printed directory of members of the association or, if they are graduate students, in the current membership list. No delegate may be elected to represent more than one category at a time, and no member may serve for more than two successive terms. During an elected term in office, delegates who change geographical location or professional status shall not lose their seats. Vacancies arising from death, resignation, or failure to maintain membership shall be filled at the next regular election.
<li><a name="a10D" id="a10D"></a>All elections for the assembly shall be supervised by the Elections Committee, which shall strive to secure a fair distribution of delegates among various constituencies of the association. On a regular basis, but at least every three years, the Elections Committee shall examine the allocations within the various categories of membership in the Delegate Assembly and propose necessary changes to the assembly. The Elections Committee shall have the following responsibilities:
<OL TYPE="1" START="1">
<li><a name="a10D1" id="a10D1"></a>Apportionment of the membership of the United States and Canada into seven approximately equal electoral regions, apportionment of delegates among the seven regions, and apportionment between student and regular members within each region. These apportionments shall be reexamined every three years.
<li><a name="a10D2" id="a10D2"></a>Nomination of regional delegates, with at least two names for each contest.
<li><a name="a10D3" id="a10D3"></a>Determination of constituencies to be represented by special-interest delegates.
<li><a name="a10D4" id="a10D4"></a>Nomination of special-interest delegates, with at least two names for each contest.
<li><a name="a10D5" id="a10D5"></a>Administrative procedures for balloting and tallying.
<li><a name="a10D6" id="a10D6"></a>Decisions in cases of disputed elections and vacancies.
</OL>
<li><a name="a10E" id="a10E"></a><a name="10E" id="10E"></a>Any member of the association may initiate a petition proposing an additional candidate for regional and special-interest contests. The petition must include the written consent of the candidate, the signatures of at least twenty-five members of the association, and specification of the contest involved. The Elections Committee shall have final authority for assigning candidates to particular contests. A notice of the right to petition, together with the deadline therefor, shall be printed in an appropriate publication of the association along with the announcement of the candidates selected by the Elections Committee.
</OL></blockquote>
<a name="a11" id="a11"></a><OL TYPE="I" START="11">
<li><b>Committees</B>
</OL>
<blockquote><OL TYPE="A">
<li><a name="a11A" id="a11A"></a><I>Nominating Committee.</I> The Nominating Committee of the association, charged with making nominations for the second vice president of the association and for members of the Executive Council, shall be composed of seven members, who shall serve for two years. Each year four members or three members shall be elected to the committee. Two nominations for each position on the committee shall be made each year by the association's president and two vice presidents. The names of these nominees shall be reported to the Delegate Assembly at least three months before a meeting of that body. Any five members of the assembly may propose an additional name by petition, which must reach the executive director at least one month before the meeting. A written ballot shall then be prepared to be voted on at the assembly meeting. The candidates who receive the most votes shall be elected, provided that the Nominating Committee always include at least one representative from each field specified for the Executive Council and at least one representative from each membership category specified for the Executive Council. In the event of default in such representation, the choice shall pass to the person who receives the most votes among the candidates whose election would result in the required representation.
<li><a name="a11B" id="a11B"></a><I>Elections Committee.</I> The Elections Committee of the Delegate Assembly, charged with supervising the nominations and elections to the assembly, shall be composed of seven members, one from each region (article 10.A.2), who shall serve for two years. Each year four members or three members shall be elected to the committee. Two nominations for each of these regional positions shall be made each year by the Organizing Committee. The names of these nominees shall be reported to the Delegate Assembly at least three months before a meeting of that body. Any five members of the assembly may by petition propose an additional name for any region open to election, the petition to reach the executive director at least one month before the meeting. A written ballot shall then be prepared to be voted on at the assembly meeting. The candidate receiving the most votes in each regional contest shall be elected. In making its nominations, the Organizing Committee shall strive to see that the Elections Committee represents a broad spectrum of the association's interests.
<li><a name="a11C" id="a11C"></a><I>Organizing Committee</I>
<OL TYPE="1">
<li><a name="a11C1" id="a11C1"></a>The Organizing Committee of the Delegate Assembly shall be composed of the following ten members: six members of the Delegate Assembly elected by the assembly for three-year terms in accordance with the procedures stated in the Delegate Assembly bylaws; two members of the Executive Council elected by the council for two-year terms; and the first vice president and executive director of the association, serving ex officio without votes. The Organizing Committee shall elect its own chair annually from those elected by the Delegate Assembly.
<li><a name="a11C2" id="a11C2"></a>The responsibilities of the Organizing Committee shall be as follows:
<OL TYPE="a">
<li><a name="a11C2a" id="a11C2a"></a>To prepare the agenda for meetings of the Delegate Assembly.
<li><a name="a11C2b" id="a11C2b"></a>To receive, initiate, and report on motions to be brought before the Delegate Assembly.
<li><a name="a11C2c" id="a11C2c"></a>In accordance with the provisions of articles 9.C.10 and 11.C.3-5, to receive, initiate, and report on resolutions to be brought before the Delegate Assembly.
<li><a name="a11C2d" id="a11C2d"></a>To act on matters referred to it by the Delegate Assembly.
<li><a name="a11C2e" id="a11C2e"></a>To present an annual report to the Delegate Assembly on the activities and future direction of the association.
<li><a name="a11C2f" id="a11C2f"></a>To conduct the open hearing of the Delegate Assembly.
<li><a name="a11C2g" id="a11C2g"></a>In accordance with the Delegate Assembly bylaws, to establish ad hoc committees to investigate matters of concern to the Delegate Assembly.
<li><a name="a11C2h" id="a11C2h"></a>To nominate candidates for the Delegate Assembly's Elections Committee.
<li><a name="a11C2i" id="a11C2i"></a>To work closely with the Executive Council and the staff of the association and to meet at least once a year with the Executive Council.
</OL>
<li><a name="a11C3" id="a11C3"></a><a name="11.C.3" id="11.C.3"></a><a name="11.C.3.b" id="11.C.3.b"></a>The committee shall receive resolutions submitted by the members of the association under the following conditions:
<OL TYPE="a">
<li><a name="a11C3a" id="a11C3a"></a>No resolution may exceed one hundred words.
<li><a name="a11C3b" id="a11C3b"></a>All resolutions shall be accompanied by material that provides evidence in support of the resolutions' claims.
<li><a name="a11C3c" id="a11C3c"></a>Resolutions submitted to the chair of the committee by 1 October shall bear the signatures of at least ten members.
<li><a name="a11C3d" id="a11C3d"></a>Resolutions submitted to the chair of the committee after 1 October, but not later than twenty-four hours before a meeting of the Delegate Assembly, shall bear the signatures of at least twenty-five members. Such resolutions shall not name individuals or institutions in such a way that, in the determination of the committee, a response from the named party must be sought. Such resolutions shall not be acted on by the Delegate Assembly at that meeting unless three-fourths of the members present vote to take immediate action.
<li><a name="a11C3e" id="a11C3e"></a>No resolution shall be accepted later than twenty-four hours before a meeting of the Delegate Assembly.
</OL>
<li><a name="a11C4" id="a11C4"></a>The committee shall hold hearings open to all members of the association on all resolutions it has received or initiated. Hearings shall be held on the day of the convention preceding the day of the assembly meeting. The chair of the committee may authorize any two members of the Organizing Committee to hold a hearing and shall designate one member to preside. Any member of the association may comment at the hearing on the resolutions under consideration.
<li><a name="a11C5" id="a11C5"></a><a name="11.C.5" id="11.C.5"></a>Taking into account the views expressed at the hearings, the committee shall evaluate all resolutions it has received or initiated and shall transmit them to the assembly meeting with the annotation &quot;Recommended&quot; or &quot;Not recommended.&quot;
<li><a name="a11C6" id="a11C6"></a>The Delegate Assembly may not propose new resolutions from the floor.
<li><a name="a11C7" id="a11C7"></a><a name="11.C.7" id="11.C.7"></a>A majority vote of the assembly shall be required for approval of a resolution. Each resolution so approved must be reviewed by the Executive Council. The council will then, in a timely manner, either forward to the membership the resolution as approved or with nonsubstantive modifications or determine, in accordance with the provisions of article 7.B.3, that it is unable to forward the resolution to the membership. All resolutions forwarded to the membership must be ratified by a majority vote in which the number of those voting for ratification equals at least ten percent of the association’s membership. When forwarding a resolution to the membership, the council shall establish all relevant dates for the ratification process, including those for the distribution and return of ballots and for the determination of voting eligibility.
</OL>
<li><a name="a11D" id="a11D"></a><I>Other committees and commissions.</I> The Executive Council shall appoint and discharge such other committees and commissions of the association as it deems appropriate. The membership, term of office, and charge of each committee and commission shall be determined by the council. The names of committee and commission members and their terms of appointment shall be published at least once a year in an appropriate publication of the association. Committee and commission members must retain their membership in the association during their terms of office. At regular intervals the chair of each committee shall report to the council on the work of the committee.
</OL></blockquote>
<a name="a12" id="a12"></a><OL TYPE="I" START="12">
<li><b>Conventions and Meetings</B>
</OL>
<blockquote><OL TYPE="A">
<li><a name="a12A" id="a12A"></a>The association shall hold one or more conventions annually, with the following exceptions. This constitutional provision and any others that are inconsistent or interfere with changing the dates of the annual convention shall be suspended at the discretion of the Executive Council. In an emergency, the Executive Council shall have the power to cancel a convention.
<li><a name="a12B" id="a12B"></a>Conventions shall be planned by the Executive Council with the advice of the Program Committee and the Delegate Assembly.
<li><a name="a12C" id="a12C"></a>The Program Committee shall exercise general supervision over divisions and discussion groups, making recommendations to the Executive Council about their number, the fields represented, and the conduct of their meetings at the convention. The executive director, assisted by the Program Committee, shall have final responsibility for planning or approving forums and other special events at the convention. 
<li><a name="a12D" id="a12D"></a>The executive director shall be empowered to make regulations regarding papers and discussions and to coordinate or modify the various divisions, forums, and discussion groups in any program until the Executive Council meets and acts on the changes or policies involved. 
<li><a name="a12E" id="a12E"></a>The Delegate Assembly shall hold a meeting in conjunction with each convention of the association. Meetings of the Delegate Assembly must be announced in an appropriate publication of the association at least three months in advance of each meeting and can be canceled only by a majority of its delegates responding to a mail ballot on the question.
</OL></blockquote>
<a name="a13" id="a13"></a><OL TYPE="I" START="13">
<li><b>Amendments</B>
</OL>
<blockquote><OL TYPE="A">
<li><a name="a13A" id="a13A"></a>There shall be a standing committee on amendments to the constitution consisting of five members appointed by the Executive Council to receive proposals from the Delegate Assembly, the council, or any group of at least twenty-five members of the association. The committee shall formulate such proposals as amendments and bring them before the assembly for action. 
<li><a name="a13B" id="a13B"></a>All amendments to be brought before the assembly shall be published in an appropriate publication of the association at least ninety days before the meeting at which they are to be voted on. 
<li><a name="a13C" id="a13C"></a>Amendments to the constitution must first be approved by a majority of those voting at a meeting of the Delegate Assembly. 
<li><a name="a13D" id="a13D"></a>Amendments to the constitution must then be reviewed by the Executive Council, which will, in a timely manner, either forward to the membership the amendment as approved or with nonsubstantive modifications or determine that it is unable to forward the amendment to the membership for one or both of the following reasons:
<OL TYPE="1">
<li><a name="a13D1" id="a13D1"></a>The amendment impedes the council's ability to carry out its fiduciary responsibilities. 
<li><a name="a13D2" id="a13D2"></a>The amendment, by itself or taken with other amendments, poses a threat to the association's continuing operation as a tax-exempt organization.
</OL>
If the council is unable to forward an amendment to the membership, it will, at the next meeting of the Delegate Assembly, present the reasons for its action. The Delegate Assembly may then consider reformulating the amendment. 
<li><a name="a13E" id="a13E"></a>Finally, amendments to the constitution must be ratified by a majority of the association's membership voting in a mail ballot. 
</OL></blockquote>
<a name="a14" id="a14"></a><OL TYPE="I" START="14">
<li><b>Dissolution.</B> In accordance with the laws of the State of Maryland, the association may be dissolved only by a vote of three-fourths of the members present at a special meeting called for the purpose. On the dissolution of the association, subject to compliance with the applicable provisions of such laws, all the property remaining after satisfaction of the association's obligations shall be distributed as the Executive Council directs, choosing the recipients from corporations, funds, foundations, or learned societies that are organized and operated exclusively for charitable, scientific, literary, or educational purposes, that allow no part of their net earnings to inure to the benefit of any private shareholder, member, or individual, and that do not carry on propaganda or participate or intervene in any political campaign.
</OL>
