<h1>Membership Benefits</h1>

<ul>
	<li>Five issues of <i>PMLA</i>: four containing essays on literature and the November issue, which presents the program of the annual convention</li>
	<li>Four issues of the <i>MLA Newsletter</i> (available online and in print)</li>
	<li>Access to members-only features on <i>MLA Commons</i>, the association's scholarly communication network</li>
<li>Web access to a regularly updated list of members, as well as to a searchable list of convention sessions</li>
	<li><a href="/handbook_access">Access to the <i>MLA Handbook</i> Web site</a> from the MLA Web site</li>
	<li>Reduced registration fees for the annual convention</li>
	<li>Membership in divisions and discussion groups concerned with scholarly and teaching interests</li> 
	<li>Significant discounts on more than 300 books and pamphlets published by the MLA</li> 
	<li>Eligibility to vote for officers, members of the Executive Council, members of the Delegate Assembly, and members of division and discussion group executive committees</li> 
	<li>Participation in MLA-sponsored <a href="http://www.personal-plans.com/mla/welcome.do" target="other">group insurance plans</a></li> 
	<li>Ability to read the <a href="http://www.ade.org/bulletin"><i>ADE Bulletin</i></a> or <a href="http://www.adfl.org/bulletin"><i>ADFL Bulletin</i></a> online and search bulletin archives if your department is a member of the Association of Departments of English (ADE) or the Association of Departments of Foreign Languages (ADFL)</li>
	<li>The <em>MLA Directory of Periodicals</em>, a searchable database that provides submission requirements, editorial addresses, and subscription information for over 4,000 journals in the humanities</li>
<li>Access to scholarly reviews through <a href="/cro_access"><i>Choice Reviews Online</i></a></li>
<li>Ability to purchase individual annual subscriptions to the ACLS <a href="http://www.humanitiesebook.org" target="_blank">Humanities E-book</a> (<a href="/about_membership#heb">learn more</a>)</li>
<li>Reduced annual subscription rate to <a href="/jpass">JPASS</a>, the new <i>JSTOR</i> access plan for individuals</li>
</ul>
Click <a href="/about_membership">here</a> to find out more about member options, in detail.
