[[[comment]]]
<br/><i>The following policy statement grew out of motions approved by the MLA Delegate Assembly in 2000 and 2001.  The MLA Executive Council approved the statement for publication at its May 2002 meeting, and the statement was first published in </I>Profession 2002<I>.  The recommended salary range was last updated by the MLA Committee on Academic Freedom and Professional Rights and Responsibilities in February 2009.</i>
[[[endcomment]]]

<h1>MLA Recommendation on Minimum Per-Course Compensation for Part-Time Faculty Members</h1>
<p>Recognizing that many variables enter into
determinations of salary, the MLA believes that part-time faculty
members should be compensated pro rata to salaries for full-time
faculty members performing similar duties, whether by a per-course,
per-credit-hour, or full-time-equivalent percentage. The following
factors should be considered in determining compensation increases
above annual minimums, as reflected in an appropriate salary
schedule:</p>

<ul>

	<li>    Instructional workload: number of contact hours, class size, advising, and method for evaluating student work and assigning grades (e.g., labor-intensive reading and commenting on student papers)</li>
	<li>Ancillary duties, including but not limited to: recruitment; supervisory role and responsibilities; research, publication, other forms of professional development, and curriculum development</li>
	<li>Length of academic term (i.e., semester, quarter, trimester, or other system) </li>
	<li>Years of experience and professional degrees or other qualifications</li>
	<li>Health and retirement benefits: If benefits are not available to the instructor, an equivalent add-on premium or stipend should be added to the base salary to compensate for lack of benefits.</li>
	<li>Contracts or appointments: Higher than minimum rates of compensation should apply in cases where contracts or appointments are for one year or less and not renewable, have no provision for a career path consisting of a sequence of appointments leading to longer-term contracts, or (after a reasonable probationary period) provide no rights to due process procedures prior to termination.</li>
</ul>

<p>Following a review of best practices in various
institutions, the MLA recommends minimum compensation for 2013&ndash;14
of $7,090 for a standard 3-credit-hour semester course or $4,730
for a standard 3-credit-hour quarter or trimester course. These
recommendations are based on a full-time load of 3 courses per
semester (6 per year) or 3 courses per quarter or trimester (9 per
year); annual full-time equivalent thus falls in a range of $42,540 to $42,570.</p>
<p>If compensation rates were specifically tied, pro
rata, to the MLA’s 2013&ndash;14 recommendation of a $46,440 minimum
annual salary for an entry-level full-time instructor, these rates
would be $7,740 for a standard 3-credit-hour semester course and
$5,160 for a standard 3-credit-hour quarter or trimester course.
The MLA’s recommendation for the minimum
salary for an entry-level full-time instructor in English and
foreign languages is calculated on the basis of averages of
salaries reported annually for these fields by the College and
University Professional Association for Human Resources
(CUPA-HR).</p>
<p>April 2013</p>
