<h1>MLA Fund Subsidizes Dues</h1>
Permanent residents of soft-currency or developing nations who wish to join the MLA may also apply to have their dues paid by the Good Neighbor Fund. Each applicant should enclose with a regular MLA membership application a letter stating his or her annual salary and citing an authority for claiming that he or she is a resident of a soft-currency or developing nation.  Applications are due by 30 April each year and will be processed in the order received until available funds are depleted.  No individual will be eligible to receive assistance for more than two years. Current members who are in contact with potential applicants to the fund should bring this notice to their attention.  Applications and requests for information should be addressed to Annie Reiser, coordinator of book prizes and special projects (646 576-5141; <A HREF="mailto:awards@mla.org">awards@mla.org</a>).

Download the <a href="/2013_mla_membership" >MLA Membership Application PDF</a>[[[docstudio filetype_tag_pdf]]]

<h2>About PDF Files</h2>
Downloadable documents are in Portable Document Format (PDF). This format allows you to view the document exactly as it was created; PDF files may be saved, printed, and searched but cannot be changed by users. 

<I>Adobe Reader</I> software is required to view PDF files. If it is not installed on your computer, you can download it free from <a href="http://www.adobe.com/products/acrobat/readstep2.html" target="other">Adobe Systems</a>.
