<h1>Related Groups and Organizations</h1>

<table width=100% cellpadding=3><tr align=left valign=top><td><b><a href="/committees" target="new">MLA Committees and Commissions</a></b></td></tr>
<tr align=left valign=top><td><b><a href="http://www.ade.org" target="new">Association of Departments of English</a></b> (ADE)</td></tr>
<tr align=left valign=top><td><b><a href="http://www.adfl.org" target="new">Association of Departments of Foreign Languages</a></b> (ADFL)</td></tr>
<tr align=left valign=top><td><b><a href="/related_org" target="new">Related Professional Organizations</a></b></td></tr></table>
