<H1>Permission to Use MLA Copyrighted Material</H1>
All material published by the Modern Language Association in any medium is protected by copyright. Users may link to the MLA Web page freely and may quote from MLA publications as allowed by the doctrine of fair use. Written permission is required for any other reproduction of material from any MLA publication.

Requests for permission may be submitted by mail, e-mail, or fax to:
<blockquote>
Permissions
Modern Language Association
26 Broadway, 3rd Floor
New York, NY 10004

<a href="mailto:permissions@mla.org">permissions@mla.org</a>
fax: 646 458-0030
</blockquote>
Please include all relevant information about the material you wish to use and about your project. For photocopies this includes:
<blockquote>
Author and title of book or journal
Title of article
Page numbers or URL
Number of copies
Course name
Name and address of individual making the request
</blockquote>
For reprints, please include:
<blockquote>
Author and title of book or journal
Title of article
Page numbers or URL
Author and title of publication in which the material will be reprinted
Publisher
Price and print run
Expected date of publication
Name and address of individual making the request
</blockquote>
