<h1>How many spaces should I leave after a period or other concluding mark of punctuation?</h1>
Publications in the United States today usually have the same spacing after a punctuation mark as between words on the same line. Since word processors make available the same fonts used by typesetters for printed works, many writers, influenced by the look of typeset publications, now leave only one space after a concluding punctuation mark. In addition, most publishers' guidelines for preparing electronic manuscripts ask authors to type only the spaces that are to appear in print.

Because it is increasingly common for papers and manuscripts to be prepared with a single space after all punctuation marks, this spacing is shown in the examples in the <I>MLA Handbook</I> and the <I>MLA Style Manual</I>.  As a practical matter, however, there is nothing wrong with using two spaces after concluding punctuation marks unless an instructor or editor requests that you do otherwise.
