<h1>Should I use underlining or italics in my manuscript?</h1>
In preparing scholarly manuscripts, authors commonly italicize text meant to be italicized in the final publication. This practice is assumed in the discussion and examples in the third edition of the <I>MLA Style Manual and Guide to Scholarly Publishing</i>. In manuscripts that will be submitted for production by editors, typesetters, and the like, the clarity of every detail of the text is important. Choose a type font in which the italic style contrasts clearly with the regular style. Although some authors, for the sake of clarity, choose to underline words meant to be italicized in publication, this practice is less common than it once was; check with your editor if you would like to format your manuscript in this way.
