<h1>Motions and Resolutions</h1>
Motions are directed inward, at the MLA itself and the way that the association functions both internally and in relation to the profession.  Resolutions are directed outward, to the world, and are basically statements of sentiment.

This is the simplest and most meaningful way to distinguish between motions and resolutions.

The MLA constitution echoes this distinction in the provisions it contains for motions and resolutions.
<h2>Motions (substance)</h2>
Article 9 of the MLA constitution enumerates the responsibilities of the Delegate Assembly.  The assembly’s primary responsibility (art. 9.A) is to “recommend actions to the Executive Council regarding the conduct of association business and the association’s directions, goals, and structure.”

The assembly carries out this responsibility primarily by means of motions.  It is the assembly’s specific responsibility (art. 9.C.11) “[t]o receive and act on motions. Only motions may be used to call for the establishment of committees or of activities that require the expenditure of association funds.”
<blockquote><i>Examples</i>
<ul><li>The 2000 Delegate Assembly approved a motion calling on the MLA to establish staffing ratios.  The council considered the motion at its February 2001 meeting.  It implemented the motion by convening a committee that drafted the statement “<a href="/ensuring_the_quality">Ensuring the Quality of Undergraduate Programs in English and Foreign Languages: MLA Recommendations on Staffing</a>.”</li>
<li>The 2004 Delegate Assembly approved a motion calling for the establishment of convention travel grants for non-tenure-track faculty members.  In February 2005, the Executive Council implemented the motion by establishing a new Professional Education Assistance Fund for these grants.</li>
<li>The 2007 Delegate Assembly approved a motion calling on the Executive Council to pursue the revision of a statement on academic freedom.  In February 2008, the council asked the Committee on Academic Freedom and Professional Rights and Responsibilities for assistance with the revision and approved a revised statement in February 2009.</li>
<li>Motions have also been used to call for cooperation between the MLA and other professional organizations.</li></ul></blockquote>
<h2>Motions (procedures)</h2>
Motions for consideration by the Delegate Assembly must be submitted to the chair of the Delegate Assembly Organizing Committee by 1 October and must be accompanied by material that provides evidence in support of the motions’ claims. Motions are not subject to a word limit; supporting signatures are not required.

In keeping with article 9.A, quoted above, motions that the assembly approves are forwarded to the Executive Council for consideration.  Article 7.B.2 governs the council’s consideration.  The council is required “[t]o act on the recommendations of the Delegate Assembly and to inform it of actions taken.  Such actions may include implementation, modification, referral to an appropriate committee of the association (including the Organizing Committee of the Delegate Assembly), and return to the Delegate Assembly for reconsideration.”
<h2>Resolutions (substance)</h2>
The subject matter of resolutions is limited by the association’s charter, the association’s purpose (art. 2 of the MLA constitution), and the provisions of article 9.C.10 of the MLA constitution.
<blockquote><i>Charter</i>
“We do further certify that the said corporation is formed for educational, scientific, literary and social objects and purposes, and more specifically for the promotion of the academic and scientific study of the English, German, French, Spanish, Italian and other so-called modern languages and literatures. . . .”

<i>Article 2 (Purpose)</i>
“The object of the association shall be to promote study, criticism, and research in the more and less commonly taught modern languages and their literatures and to further the common interests of teachers of these subjects.”

<i>Article 9.C.10 (Delegate Assembly—Responsibilities)</i>
One of the Delegate Assembly’s specific responsibilities is as follows: “In accordance with article 11.C, to formulate and submit to the membership for ratification resolutions on matters of public and institutional policy affecting the study and teaching of the humanities and the status of the language and literature professions represented by the association.  Such matters may include proposed or enacted legislation, regulations, or other governmental and institutional policies, conditions of employment and publication, or additional matters that affect the association, its members in their professional capacities, or the dignity of members’ work.”</blockquote>
<a href="/mla_resolutions">Examples of recent resolutions</a> can be found at the MLA Web site.
<h2>Resolutions (procedures)</h2>
The association’s resolutions process is both complex and lengthy.  It is outlined in <a href="/prep_resdelegateassembly">Preparing Resolutions for the Delegate Assembly</a>. Submission requirements are summarized in <a href="/submit_checklist">Checklists for Submitting Resolutions</a>.

Constitutional provisions for the resolutions process can be found in articles 11.C.3–7 and 7.B.3.  Delegate Assembly Bylaw 7 contains information relevant to the submission of supporting signatures.
