<h1>Narrating Lives Video Project</h1>

<p>As part of the 2011 presidential theme, Narrating Lives, 2010 MLA President Sidonie Smith has invited members and convention attendees to record short video responses to questions about their experiences as readers, scholars, and teachers.</p>

<p>To participate in the project, record a one-minute video response to one of the following questions:</p>

<ul>
	<li>What kind of reader were you as a child?</li>
	<li>How would you describe the experience of reading when you were younger and the experience of reading now?</li>
	<li>What made you go to graduate school in literature or languages?</li>
	<li>Who was your most inspirational teacher and why?</li>
	<li>What would you tell an undergraduate student about life in the profession now? </li>
	<li>Describe a memorable classroom experience you’ve had.</li>
	<li>Describe a memorable student you’ve taught.</li>
	<li>Who is the most interesting writer you’ve studied and why?</li>
	<li>What do you look forward to at the MLA Annual Convention?</li>
	<li>How do you imagine life as a retired professor?</li>
</ul>

<p>Then upload your video to <em>YouTube</em> and send the link to <a href="mailto:mlavideo@mla.org">mlavideo@mla.org</a>. We will include your video on the MLA’s <em>YouTube</em> channel (<a href="http://www.youtube.com/mla2011">www.youtube.com/mla2011</a>), along with the narratives of other MLA members and convention attendees.</p>
