<h1><i>Newsletter</i> Archive</h1>
<@if ($cookie{username} ne "")>
<form action="/FORM_ACTIONS/[[[searcharg file]]]" method="post" name="optout" style="padding:4px; background-color:#ffffcc; border:1px [[color1]] solid; width:98%;">
<input type="hidden" name="plugin" value="membership">
<input type="hidden" name="function" value="newsletter_optout">
The <i>MLA Newsletter</i> is available to all members online in PDF. The setting below shows whether you also receive the print edition. If you wish to change this setting, select the other option and click Update Subscription.
<br><@spacer 1x6><br>
<b>Your current setting for the <i>MLA Newsletter</i> is</b> 
<table border="0" cellpadding="0" cellspacing="0" width="90%">
	<tr valign="middle">
		<td width="65%" nowrap>
			<input type="radio" name="newsletter_optout" value="Y"<@if ($NO_NEWSLETTER eq "Y")> checked<@else><@/if>>&nbsp;Read online only
			<br>
			<input type="radio" name="newsletter_optout" value=""<@if ($NO_NEWSLETTER ne "Y")> checked<@else><@/if>>&nbsp;Read online and receive print edition
		</td>
		<td width="35%">
			<input type="submit" value="Update Subscription" class="button">
		</td>
	</tr>
</table>
</form>
<br>
<@/if>
<p>
<b>Winter 2013</b>
	<br>
<a href="/nl_45-4">View the PDF</a>[[[docstudio filetype_tag_pdf]]]
</p>
<p>

<p>
<b>Fall 2013</b>
	<br>
<a href="/nl_45-3">View the PDF</a>[[[docstudio filetype_tag_pdf]]]
</p>
<p>

<b>Summer 2013</b>
	<br>
<a href="/nl_45-2">View the PDF</a>[[[docstudio filetype_tag_pdf]]]
</p>

<p>
<b>Spring 2013</b>
	<br>
<a href="/nl_45-1">View the PDF</a>[[[docstudio filetype_tag_pdf]]]
</p>

<p>
<b>Winter 2012</b>
	<br>
<a href="/nl_44-4">View the PDF</a>[[[docstudio filetype_tag_pdf]]]
</p>

<p>
<b>Fall 2012</b>
	<br>
<a href="/nl_44-3">View the PDF</a>[[[docstudio filetype_tag_pdf]]]
</p>


<p>
<b>Summer 2012</b>
	<br>
<a href="/nl_44-2">View the PDF</a>[[[docstudio filetype_tag_pdf]]]
</p>

<p>
<b>Spring 2012</b>
	<br>
<a href="/nl_44-1">View the PDF</a>[[[docstudio filetype_tag_pdf]]]
</p>

<p>
<b>Winter 2011</b>
	<br>
<a href="/nl_43-4_nolinks">View the PDF</a>[[[docstudio filetype_tag_pdf]]]
</p>

<p>
<b>Fall 2011</b>
	<br>
<a href="/nl_43-3_nolinks">View the PDF</a>[[[docstudio filetype_tag_pdf]]]
</p>

<p>
<b>Summer 2011</b>
	<br>
<a href="/nl_43-2_nolinks">View the PDF</a>[[[docstudio filetype_tag_pdf]]]
</p>


<p>
<b>Spring 2011</b>
	<br>
<a href="/nl_43-1_nolinks">View the PDF</a>[[[docstudio filetype_tag_pdf]]]
</p>


<p>
<b>Winter 2010</b>
	<br>
<a href="/nl_42-4_nolinks" target="_blank">View the PDF</a>[[[docstudio filetype_tag_pdf]]]
</p>


<p>
<b>Fall 2010</b>
	<br>
<a href="/nl_42-3_nolinks" target="_blank">View the PDF</a>[[[docstudio filetype_tag_pdf]]]
</p>


<p>
<b>Summer 2010</b>
	<br>
<a href="/nl_42-2_nolinks" target="_blank">View the PDF</a>[[[docstudio filetype_tag_pdf]]]
</p>


<p>
<b>Spring 2010</b>
	<br>
<a href="/nl_42-1_nolinks" target="_blank">View the PDF</a>[[[docstudio filetype_tag_pdf]]]
</p>

<p>
<b>Winter 2009</b>
	<br>
<a href="/winter09_nl_nolinks" target="_blank">View the PDF</a>[[[docstudio filetype_tag_pdf]]]
</p>

<p>
<b>Fall 2009</b>
	<br>
<a href="/fall09_nl_nolinks" target="_blank">View the PDF</a>[[[docstudio filetype_tag_pdf]]]
</p>

<p>
<b>Summer 2009</b>
	<br>
<a href="/nl_41-2_summer09" target="_blank">View the PDF</a>[[[docstudio filetype_tag_pdf]]]
</p>

<p>
<b>Spring 2009</b>
	<br>
<a href="/spring09_nl_nolinks" target="_blank">View the PDF</a>[[[docstudio filetype_tag_pdf]]]
</p>

<P>
<b>Winter 2008</b>
	<br>
<a href="/winter08nltoc">Read the table of contents</a> | <a href="/nl_winter08nolinkpdf" target="_blank">View the PDF</a>[[[docstudio filetype_tag_pdf]]]
</p>

<P>
<b>Fall 2008</b>
	<br>
<a href="/fall08nltoc">Read the table of contents</a> | <a href="/nl_fall08pdf_nolink" target="_blank">View the PDF</a>[[[docstudio filetype_tag_pdf]]]
</p>

<P>
<b>Summer 2008</b>
	<br>
	<a href="/08summer_nltoc">Read the table of contents</a> | <a href="/08summer_nl_nolinks" target="_blank">View the PDF</a>[[[docstudio filetype_tag_pdf]]]
</p>


<P>
<b>Spring 2008</b>
	<br>
	<a href="/spring08nltoc">Read the table of contents</a> | <a href="/nl_spring08_nolink" target="_blank">View the PDF</a>[[[docstudio filetype_tag_pdf]]]
</p>


<P>


<b>Winter 2007</b>
	<br>
	<a href="/winter07nltoc">Read the table of contents</a> | <a href="/winter07_nlpdfnolink" target="_blank">View the PDF</a>[[[docstudio filetype_tag_pdf]]]
</p>

<p>
	<b>Fall 2007</b>
	<br>
	<a href="/fall07nltoc">Read the table of contents</a> | <a href="/nlfall07_linkspdf" target="_blank">View the PDF</a>[[[docstudio filetype_tag_pdf]]]
</p>

<p>
	<b>Summer 2007</b>
	<br>
	<a href="/summer07nltoc">Read the table of contents</a> | <a href="/nl_summer07_nolinks" target="_blank">View the PDF</a>[[[docstudio filetype_tag_pdf]]]
</p>

<p>
	<b>Spring 2007</b>
	<br>
	<a href="/spring07toc">Read the table of contents</a> | <a href="/nl_spring07nolinkpdf" target="_blank">View the PDF</a>[[[docstudio filetype_tag_pdf]]]
</p>

<p>
	<b>Winter 2006</b>
	<br>
	<a href="/winter0607toc">Read the table of contents</a> | <a href="/nl_winter06nolinkpdf" target="_blank">View the PDF</a>[[[docstudio filetype_tag_pdf]]]
</p>
<p>
<b>Fall 2006</b>
	<br>
	<a href="/fall06toc">Read the table of contents</a> | <a href="/nl_fall06" target="_blank">View the PDF</a>[[[docstudio filetype_tag_pdf]]]
</p>
<p>
	<b>Summer 2006</b>
	<br>
	<a href="/summer06toc">Read the table of contents</a> | <a href="/nl_summer06pdf" target="_blank">View the PDF</a>[[[docstudio filetype_tag_pdf]]]
</p>
<p>
	<b>Spring 2006</b>
	<br>
	<a href="/spring06toc">Read the table of contents</a> | <a href="/spring_06_nl" target="_blank">View the PDF</a>[[[docstudio filetype_tag_pdf]]]
</p>

<p>
	<b>Winter 2005</b>
	<br>
	<a href="/nl_winter05toc">Read the table of contents</a> | <a href="/nl_winter0506pdf" target="_blank">View the PDF</a>[[[docstudio filetype_tag_pdf]]]
</p>

<p>
	<b>Fall 2005</b>
	<br>
	<a href="/fall05toc">Read the table of contents</a> | <a href="/nl_fall06pdf" target="_blank">View the PDF</a>[[[docstudio filetype_tag_pdf]]]
</p>
<p>
	<b>Summer 2005</b>
	<br>
	<a href="/summer05toc">Read the table of contents</a> | <a href="/summer05nlpdf" target="_blank">View the PDF</a>[[[docstudio filetype_tag_pdf]]]
</p>
<p>
	<b>Spring 2005</b>
	<br>
	<a href="/spring05toc">Read the table of contents</a> | <a href="/spring05_nlpdf" target="_blank">View the PDF</a>[[[docstudio filetype_tag_pdf]]]
</p>

<p>
	<b>Winter 2004</b>
	<br><a href="/winternl04toc">Read the table of contents</a> | 
<a href="/2004_nl_winter" target="_blank">View the PDF</a>[[[docstudio filetype_tag_pdf]]]
</p>

<p>
	<b>Fall 2004</b>
	<br><a href="/fall04nl">Read the table of contents</a> | 
<a href="/2004_nl_fall" target="_blank">View the PDF</a>[[[docstudio filetype_tag_pdf]]]
</p>

<p>
	<b>Summer 2004</b>
	<br><a href="/summer04nltoc">Read the table of contents</a> | 
<a href="/2004_nl_summer" target="_blank">View the PDF</a>[[[docstudio filetype_tag_pdf]]]
</p>

<p>
	<b>Spring 2004</b>
	<br><a href="/spring04toc">Read the table of contents</a> | 
<a href="/2004_nl_spring" target="_blank">View the PDF</a>[[[docstudio filetype_tag_pdf]]]
</p>

<p>
	<b>Winter 2003</b>
	<br><a href="/winter2003toc">Read the table of contents</a> | <a href="/2003_nl_winter" target="_blank">View the PDF</a>[[[docstudio filetype_tag_pdf]]]
</p>

<p>
	<b>Fall 2003</b>
	<br><a href="/fall03nltoc">Read the table of contents</a> | 
<a href="/2003_nl_fall" target="_blank">View the PDF</a>[[[docstudio filetype_tag_pdf]]]
</p>


<p>
	<b>Summer 2003</b>
	<br><a href="/summer03toc">Read the table of contents</a> | 
<a href="/nl_sum03pdf" target="_blank">View the PDF</a>[[[docstudio filetype_tag_pdf]]]
</p>

<p>
	<b>Spring 2003</b>
	<br><a href="/spring03toc">Read the table of contents</a> | 
<a href="/nl_spring03pdf" target="_blank">View the PDF</a>[[[docstudio filetype_tag_pdf]]]
</p>

<p>
	<b>Winter 2002</b>
	<br><a href="/winter02toc">Read the table of contents</a> | 
<a href="/nl_winter02pdf" target="_blank">View the PDF</a>[[[docstudio filetype_tag_pdf]]]
</p>

<p>
	<b>Fall 2002</b>
	<br><a href="/fall02nltoc">Read the table of contents</a> | 
<a href="/nl_fall02pdf" target="_blank">View the PDF</a>[[[docstudio filetype_tag_pdf]]]
</p>

<p>
	<b>Summer 2002</b>
	<br><a href="/summer02nltoc">Read the table of contents</a> | 
<a href="/nl_summer02pdf" target="_blank">View the PDF</a>[[[docstudio filetype_tag_pdf]]]
</p>

<p>
	<b>Spring 2002</b>
	<br><a href="/spring02nltoc">Read the table of contents</a> | 
<a href="/nl_spring02pdf" target="_blank">View the PDF</a>[[[docstudio filetype_tag_pdf]]]
</p>

<p>
	<b>Winter 2001</b>
	<br><a href="/winter01nltoc">Read the table of contents</a> | 
<a href="/nl_winter01pdf" target="_blank">View the PDF</a>[[[docstudio filetype_tag_pdf]]]
</p>

<p>
	<b>Fall 2001</b>
	<br><a href="/fall01nltoc">Read the table of contents</a> | 
<a href="/nl_fall01pdf" target="_blank">View the PDF</a>[[[docstudio filetype_tag_pdf]]]
</p>

<p>
	<b>Summer 2001</b>
	<br><a href="/summer01nltoc">Read the table of contents</a> | 
<a href="/nl_summer01pdf" target="_blank">View the PDF</a>[[[docstudio filetype_tag_pdf]]]
</p>

<p>
	<b>Spring 2001</b>
	<br><a href="/spring01nltoc">Read the table of contents</a> | 
<a href="/nl_spring01pdf" target="_blank">View the PDF</a>[[[docstudio filetype_tag_pdf]]]
</p>

<br>

 
