<h1>Current <i>Newsletter</i></h1>
<@if ($cookie{username} ne "")>
<form action="/FORM_ACTIONS/[[[searcharg file]]]" method="post" name="optout" style="padding:4px; background-color:#ffffcc; border:1px [[color1]] solid; width:98%;">
<input type="hidden" name="plugin" value="membership">
<input type="hidden" name="function" value="newsletter_optout">
The <i>MLA Newsletter</i> is available to all members online in PDF. The setting below shows whether you also receive the print edition. If you wish to change this setting, select the other option and click Update Subscription.
<br><@spacer 1x6><br>
<b>Your current setting for the <i>MLA Newsletter</i> is</b> 
<table border="0" cellpadding="0" cellspacing="0" width="90%">
	<tr valign="middle">
		<td width="65%" nowrap>
			<input type="radio" name="newsletter_optout" value="Y"<@if ($NO_NEWSLETTER eq "Y")> checked<@else><@/if>>&nbsp;Read online only
			<br>
			<input type="radio" name="newsletter_optout" value=""<@if ($NO_NEWSLETTER ne "Y")> checked<@else><@/if>>&nbsp;Read online and receive print edition
		</td>
		<td width="35%">
			<input type="submit" value="Update Subscription" class="button">
		</td>
	</tr>
</table>
</form>
<br>
<@/if>

<p>


<p><b>Spring 2014</b></p>

<p>
Read the Spring issue for election results, winners of MLA prizes, Margaret W. Ferguson’s president’s column on humanities education as a public—and common—good, and Rosemary G. Feal’s editor’s column on controversies at the 2014 MLA Annual Convention.  
</p>



<p><a href="/nl_46-1"  target="_blank">View the PDF</a>[[[docstudio filetype_tag_pdf]]]</p>


<br><br>	

 
