<h1><I>MLA Newsletter</i>
Winter 2005</h1>
<h2>In This Issue</h2>
<table width="95%" border="0" align="left">
<tr align="left" valign="top"> 
<td width="6%">1</td>
<td width="94%"><i><B>J. Hillis Miller Receives Lifetime Achievement Award</B></i></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">3</td>
<td width="94%"><i><B>President's Column</B></i>
<I>Domna C. Stanton</i>
Human rights and the humanities</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">4</td>
<td width="94%"><i><B>MLA Members Respond to the Hurricane
Disaster</B></i></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">4</td>
<td width="94%"><i><B>2006 MLA Convention Moved from New Orleans to Philadelphia</B></i></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">6</td>
<td width="94%"><i><B>Editor's Column</B></i>
<I>Rosemary G. Feal</i>
Member to member: In the aftermath of Hurricane Katrina</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<tr align="left" valign="top"> 
<td colspan=2><b>BIBLIOGRAPHY</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">12</td>
<td width="94%">How to be included in the <i>MLA Bibliography</i></td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2><b>BOOK NEWS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">14</td>
<td width="94%">Two new MLA titles to be published <BR> </td></tr>
<tr align="left" valign="top"> 
<td width="6%">14</td>
<td width="94%">Call for prospectuses in the Teaching Languages, Literatures, and Cultures  series </td></tr>
<tr align="left" valign="top"> 
<td width="6%">14 </td>
<td width="94%">Call for contributions in Approaches series</td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>CONVENTION</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">8</td>
<td width="94%">Washington, DC, convention</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">8</td>
<td width="94%">Accommodations and services for persons with disabilities</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">8	</td>
<td width="94%">Audio- and videotaping guidelines for convention sessions </td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">9</td>
<td width="94%">Program issue for members with visual impairments</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">10	</td>
<td width="94%">2006 calendar of dates and deadlines for special sessions</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">10</td>
<td width="94%">Forum proposals welcome</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">11</td>
<td width="94%">Calls for papers for 2006 convention in Philadelphia </td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>Job Service at the Convention</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">8</td>
<td width="94%">Preconvention workshops and mock job interviews</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">9</td>
<td width="94%">Important information about the Job Information Center </td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">9</td>
<td width="94%">Registration still available for annual job clinic on business, government, and not-for-profit careers</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>GOVERNANCE</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%">Proposals for the 2005 Delegate Assembly meeting agenda</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%">Elections committee seeks candidates</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>MEETINGS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">13</td>
<td width="94%">2006 ADFL Summer Seminars</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">13</td>
<td width="94%">2006 ADE Summer Seminars</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>MLA WEB SITE NEWS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%">Washington, DC, convention sessions available online</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>Other News and Announcements</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%">ADE and ADFL online job counseling</td></tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%">Ideas for <i>What's the Word?</i></td></tr>
<tr align="left" valign="top"> 
<td width="6%">10</td>
<td width="94%">
<i>Profession 2006</i> call for papers</td></tr>
<tr align="left" valign="top"> 
<td width="6%">14</td>
<td width="94%">Classified advertisements</td></tr>
<tr align="left" valign="top"> 
<td width="6%">15</td>
<td width="94%">Fellowships and grants deadlines</td></tr>
<tr align="left" valign="top"> 
<td width="6%">16</td>
<td width="94%">Upcoming MLA deadlines</td></tr></table>
