<h1>Making Recommendations for the MLA Award for Lifetime Scholarly Achievement</h1>
First presented in 1996 and scheduled to be presented every three years thereafter, this award honors the lifetime scholarly achievement of a distinguished member of the association. The 2014 MLA Award for Lifetime Scholarly Achievement will be presented at the 2015 convention. The Committee on Honors and Awards, with the assistance of the LSA Review Committee, will recommend names for consideration by the Executive Council.     

Members who would like to recommend individuals for consideration should write letters that include the full name and mailing address of the proposed candidate and a statement of the candidate's scholarly achievement. Letters should be addressed to the Review Committee for the MLA Award for Lifetime Scholarly Achievement and must arrive at the headquarters office by 31 January 2014.

All suggestions, endorsements, and solicitations of comment on persons proposed for the award will be strictly confidential.

<a href="/pastwinners_schol_ach">Past winners</a> of this prize.
