<h1>Making Nominations for Honorary Members and Fellows</h1>
Article 3.D of the MLA constitution defines the qualifications of honorary members and fellows and describes the process for ratification.  The current rosters of honorary members and fellows appear <a href="/honorary_members">here</a>.

Members who would like to recommend individuals for consideration by the Committee on Honors and Awards should write a statement of 250 to 500 words describing the proposed nominee’s contributions.  They should also compile and submit a 1- to 2-page list of the proposed nominee’s works and honors or a list of up to 5 URLS where descriptions and lists of the proposed nominee’s work may be found or both.  

This material should be addressed to the Committee on Honors and Awards and must arrive at the headquarters office by 31 January. For further information, write or call the office of programs, MLA, 26 Broadway, 3rd floor, New York, NY 10004-1789 (646 576-5141; <A HREF="mailto:awards@mla.org">awards@mla.org</a>).
