<h1>2012 New Variorum Shakespeare Digital Challenge </h1>

<p>Earlier this year the MLA Committee on the New Variorum Edition of Shakespeare sponsored a digital challenge seeking the most innovative and compelling uses of the data contained in its recently published volume, <i>The Comedy of Errors</i>. The MLA released the XML files and schema for <i>The Comedy of Errors</i> under a <a href="http://creativecommons.org/licenses/by-nc/3.0/" target="_blank">Creative Commons BY-NC 3.0 license</a>. The committee sought entries featuring new means of displaying, representing, and exploring this data in the most exciting API, interface, visualization, data-mining project, or other use of <i>The Comedy of Errors</i> XML.</p>

<p>The committee is pleased to announce that the winner of the challenge is Patrick Murray-John’s <i>Bill-Crit-O-Matic</i> (<a href="http://billcritomatic.org" target="_blank">http://billcritomatic.org</a>). The runner-up was Doug Reside and Gregory Lord's <i>Comedy of Errors</i> (<a href="http://comedyoferrors.zengrove.com/" target="_blank">http://comedyoferrors.zengrove.com/</a>).</p>

<p><i>Bill-Crit-O-Matic</i> complements the print edition of <i>The Comedy of Errors</i>. By inverting the relation between the commentary and the play text, it takes advantage of the richness of the New Variorum Shakespeare's data and facilitates engagement with the history of Shakespeare criticism. One can begin using the site by searching the commentary, bibliography, or appendix for words, passages, topics, and scholars and continue by following the scholarly and critical conversations that are opened up by the results.</p>

<p>Members remarked that <i>Bill-Crit-O-Matic</i> “recognizes that an NVS edition is a kind of print database, with data structures and relationships that can be rearranged and visualized” and that it sets up “a way of interconnecting the data as conversations between scholars.” The committee found <i>Bill-Crit-O-Matic</i> to be accessible and inviting to students as well as scholars and looks forward to seeing it continue to evolve.</p>

<p>Scholars may still freely download these files from <a href="https://github.com/mlaa/nvs-challenge">GitHub</a> and use this material in their research.</p>

<h2>A Note on Data Design and TEI Conformance</h2>

<p>The MLA is making a preliminary version of the source XML data for its NVS editions publicly available for research and experimentation. Some explanation of the motives guiding the design of the data and of the data’s status as an intellectual product may be helpful to those who wish to use the data.</p>

<p>First, the version of the data currently being shared is designed primarily for internal use as part of the production process for the NVS print volumes. It is offered as is, for experimentation. It is not intended as a model of good practice in the use of TEI. The current version of the data is not in the TEI namespace but in an NVS namespace. This is a practical measure to simplify certain aspects of the production process. A future release of the data, intended for public use, will use the TEI namespace (with NVS-specific elements in the NVS namespace).</p>

<p>A second point of relevance for potential users is the question of TEI conformance. As those familiar with the TEI will know, TEI conformance is a strictly defined concept; conformant data must be valid against a strict subset of the TEI schema, featuring no new elements or structural changes. The TEI also defines two other categories of data: TEI-conformable data (which can be converted to TEI conformance automatically without information loss) and TEI extensions (which use the TEI but make more substantial structural changes and additions to the tagset). (For full details, please see chapter 23 of the TEI guidelines: <a href="http://www.tei-c.org/release/doc/tei-p5-doc/en/html/USE.html">http://www.tei-c.org/release/doc/tei-p5-doc/en/html/USE.html</a>.) For the NVS, TEI conformance is not possible because of the substantial number of structural adaptations necessary to accommodate NVS-specific features. Some of these may be of value to other edition projects and will be shared in the future with the TEI community as feature requests, but others are simply artifacts of the NVS editions and production process and are not candidates for inclusion in the TEI proper. As a result, the NVS data set taken as a whole can be expressed as a TEI extension but not as TEI conformant or TEI conformable, since it cannot be converted to a conformant format without loss of information.</p>

<p>However, it is important to note that the data can be converted to TEI conformance by eliminating NVS-specific features through a fairly straightforward process using a tool like XSLT. The accompanying documentation describes the function of all NVS-specific elements, which may be helpful in deciding on the closest TEI equivalent (or in determining whether the element and its content could be jettisoned altogether).</p>

<p>Finally, the MLA may in the future create versions of the data that are specifically intended to support an electronic NVS edition, and those versions may better lend themselves to expression as TEI conformant or conformable data (since they will not have to support the print-specific features of the edition).
</p>
