<h1>New Options Volumes in Preparation</h1>
Click on a link below to view a call for essay proposals for a new volume in the series Options for Teaching. 

<a href="/options_french_revolution"><i>Teaching Representations of the French Revolution</i>, edited by Julia Douthwaite, Catriona Seth, and Antoinette Sol</a>

[[[comment]]]<i>There are no calls for essay proposals at this time.</i>[[[endcomment]]]
