<h1>Call for Essay Proposals for Volume on Teaching Representations of the French Revolution</h1>

<p>Essay proposals are invited for a volume in the MLA’s Options for Teaching series entitled <i>Teaching Representations of the French Revolution</i>, to be edited by Julia Douthwaite (University of Notre Dame), Catriona Seth (Université de Lorraine), and Antoinette Sol (University of Texas, Arlington). The goal of this collection of essays is to make this subject more accessible to nonspecialists and to teachers in different settings, from a humanities class at a community college to a research seminar in a graduate program. The collection will complement traditional sources and include the arts, ephemera, realia, archival material, and texts that were once popular but are now forgotten. The volume editors intend to highlight how the French Revolution lives on in our own time, a world of propaganda, advertisement, political violence, terrorism, revolution, and reaction.</p>

<p>The volume is divided into four sections: How to Represent the Revolution: Classic Debates; What Are the Musts of the Revolution (and Why Should Anyone Care)?; Global Reverberations: The Influence of Emigration and Radicalism; and Teaching the Revolution for Diverse Audiences.</p>

<p>The editors welcome proposals for pedagogically focused essays that draw parallels between the French Revolution and current events; that discuss the idea of revolution itself; that show how the French Revolution has reverberated globally (in Haiti, Russia, Cuba, China, South America, and the Arab world) and how its literary representations have affected later revolutions; and that consider the French Revolution in literatures other than French, American, and British—for example, German, Spanish, Arabic, Haitian, Chinese, and Italian.</p>

<p>The editors are particularly interested in pedagogically oriented essays on subjects such as how to integrate the French Revolution into diverse subject courses (e.g., European literature, the humanities) and into language and writing courses for community colleges and liberal arts colleges; how to present this difficult material and engage students; and how to help students acquire the contexts needed to understand the French Revolution. Essays that discuss teaching with translations, that deal with finding source materials (written, visual, or musical), and that suggest ways to use these sources in the classroom are also welcome.</p>

<p>If you are interested in contributing an essay (3,000–3,500 words) to one of these sections, please submit an abstract of approximately 500 words in which you describe your approach or topic and explain its potential benefit for students and instructors alike. Note that if you plan to quote from student writing in your essay, you must obtain written permission from your students to do so. A submitted essay should not have been previously published.</p> 

<p>Abstracts and CVs should be sent to the volume editors by 1 June 2014. Please send e-mail submissions to Julia Douthwaite (<a href="mailto:jdouthwa@nd.edu">jdouthwa@nd.edu</a>), Catriona Seth (<a href="mailto:Catriona.Seth@univ-lorraine.fr">Catriona.Seth@univ-lorraine.fr</a>), and Antoinette Sol (<a href="mailto:amsol@uta.edu">amsol@uta.edu</a>), using the subject line “Approaches to Teaching the Fr Rev.” Surface-mail submissions can be sent to Douthwaite at the Department of Romance Languages and Literatures, University of Notre Dame, Notre Dame, IN 46556.</p>
