<h1>Organizational Memberships</h1>
The MLA is a member of several not-for-profit and trade associations. Except as noted below, the MLA is represented in those organizations by the executive director or another MLA staff member.  MLA members who serve as the association’s representatives are appointed by the Executive Council.

<a href="http://www.acls.org" target="_blank">American Council of Learned Societies</a> (MLA delegate: Priscilla Wald, 2011–14)

<a href="http://www.acenet.edu" target="_blank">American Council on Education</a>

<a href="http://www.actfl.org" target="_blank">American Council on the Teaching of Foreign Languages</a>

<a href="http://www.publishers.org" target="_blank">Association of American Publishers</a>

<a href="http://www.aaupnet.org" target="_blank">Association of American University Presses</a>

<a href="http://www.alpsp.org" target="_blank">Association of Learned and Professional Society Publishers</a>

<a href="http://www.usglobalcompetence.org" target="_blank">Coalition for International Education</a>

<a href="http://www.academicworkforce.org" target="_blank">Coalition on the Academic Workforce</a>

<a href="http://www.celj.org" target="_blank">Council of Editors of Learned Journals</a>

<a href="http://www.cic.edu" target="_blank">Council of Independent Colleges</a>

<a href="http://www.languagepolicy.org" target="_blank">Joint National Committee for Languages</a>

<a href="http://www.nfais.org" target="_blank">National Federation of Advanced Information Services</a>

<a href="http://www.nhalliance.org" target="_blank">National Humanities Alliance</a>

<a href="http://www.niso.org" target="_blank">National Information Standards Organization</a>

<a href="http://www.nectfl.org" target="_blank">Northeast Conference on the Teaching of Foreign Languages</a>

<a href="http://www.tei-c.org" target="_blank">Text Encoding Initiative</a>
