<h1>Update Organization Information</h1>

<@if (@orgs_to_admister < 1)>
	<p>
		We did not find any organizations for which you have authority to administer. Perhaps you are not logged in with the correct ID.
	</p>
<@else>
	<p>
		Listed below are the organizations you may administer. 
		
	</p>
	
	<table border="0" cellpadding="2" cellspacing="1" bgcolor="#999999" width="100%">
		<@loop "orgs_to_admister">
		<tr valign="top">
			<td bgcolor="#ffffff"><@col 2></td>
			<td bgcolor="#ffffff" align="center" nowrap>
				<@if ($allied_orgs eq "Y")>
					<a href="/orginfo_contactform&org_id=<@col 1>">Update Contact Information</a>
					<br />
					<a href="/orginfo_review&org_id=<@col 1>">Update Report for Seven-Year Review</a>
				<@else>
					<a href="/orginfo_review&org_id=<@col 1>">Review/Update</a>
				<@/if>
			</td>
		</tr>
		<@/loop>
	</table>
<@/if>
<p>

Click Update Contact Information to review and edit the information that is listed for your organization's directory listing.
</p><P>
Click Update Report for Seven-Year Review to review and edit the information the MLA has on file for your organization's seven-year review.
</p>
<p>

Information about reviews of allied organizations can be found in section 3 of the <a href="/policies_for_divisio">Policies for Divisions, Discussion Groups, and Allied Organizations</a>.

<p><a href="/orginfo_directory">View the Allied Organization Directory</a></p>
