<h1>Organizations for Independent Scholars</h1>

<p><i>The information listed for the following organizations of independent scholars and organizations providing significant programs for independent scholars has been verified as of July 2010. The list is not comprehensive, and additions may be sent to the MLA office (<a href="mailto:jgolbach@mla.org">jgolbach@mla.org</a>).</i></p> 

<p><b>Alliance of Independent Scholars,</b> 1710 Commonwealth Ave, Suite 6, Brighton, MA 02135; 617 277-1296; <a href="mailto:ecoonsb@comcast.net">ecoonsb@comcast.net</a>—Elizabeth Coons, <i>Coord</i> </p>

<p><b>American Assn for the Advancement of Slavic Studies,</b> 8 Story St, Cambridge, MA 02138; 617 495-0677; fax: 617 495-0680; <a href="mailto:aaass@fas.harvard.edu">aaass@fas.harvard.edu</a>—Dmitry Gorenburg, <i>Dir</i> </p>

<p><b>Assn of Independent Historians of Art,</b> 30 W 61st St, 29A, New York, NY 10023—Barbara Mitnick, <i>Dir</i> </p>

<p><b>Capital Area Independent Scholars,</b> 4821 Montgomery Lane, 702, Bethesda, MD 20814; 301 652-2256—Kay Orlans, <i>Sec</i> </p>

<p><b>Center for Independent Study,</b> PO Box 203193, New Haven, CT 06520-3193; <a href="mailto:ellenbrainard@yahoo.com;">ellenbrainard@yahoo.com;</a> <a href="http://cistudy.org">http://cistudy.org</a>—Ellen R Brainard, <i>Pres</i> </p>

<p><b>Chicago Committee for Independent Scholarship,</b> 6749 N Drake, Lincolnwood, IL 60712; 847 677-9395—David G Singer, <i>Ch</i> </p>

<p><b>Five Coll Assocs Program,</b> 97 Spring St, Amherst, MA 01002 </p>

<p><b>Great Lakes Colls Assn, Inc,</b> 535 W William, Suite 301, Ann Arbor, Ml 48103; 734 661-2350; fax: 734 661-2349—Richard A Detweiler, <i>Pres</i> </p>

<p><b>Independent Scholars’ Assn of the North Carolina Triangle,</b> Box 90700, Duke Univ, Durham, NC 27708—June Narber, <i>Pres</i> </p>

<p><b>Independent Scholars of Asia, Inc</b>—Natl Headquarters: William S Lyon, 5011 NE 59th Terrace, Kansas City, MO 64119; 816 459-7176; <a href="mailto:wlyon@sbcglobal.net">wlyon@sbcglobal.net</a>; 4453 N Mission, Wichita, KS 67226; 316 978-3715—Deema de Silva,<i> Southeastern</i> <i>Dir</i>; 25-13 Old King Hwy N, 185, Darien, CT 06820; 203 823-6713; <a href="mailto:palamedez2@aol.com">palamedez2@aol.com</a>—Ling Ong Bello, <i>Midwest</i> <i>Dir</i>; 303 E 83rd St, 25-C, New York, NY 10028; 212 570-5757; fax: 212 570-1515; <a href="mailto:gpredmond@aol.com">gpredmond@aol.com</a>—Geoffrey P Redmond, <i>Eastern</i> <i>Dir</i>; PO Box 11-1238, Bangkok 10112, Thailand; 662 671-1064; fax: 662 671-1065; <a href="mailto:drooney@msn.com">drooney@msn.com</a>—Dawn F Rooney, <i>Southeast Asia</i> <i>Dir</i> </p>

<p><b>Inst for Historical Study,</b> PO Box 5743, Berkeley, CA 94705; <a href="http://www.tihs.org">http://www.tihs.org</a>—Ann Harlow, <i>Pres</i> </p>

<p><b>Minnesota Independent Scholars’ Forum,</b> PO Box 80235, Lake St Sta, Minneapolis, MN 55408-8235; David Juncker, <i>Pres</i> </p>

<p><b>Natl Coalition of Independent Scholars,</b> PO Box 838, Saint Helena, CA 94574-0838; <a href="http://www.ncis.org">http://www.ncis.org</a>—Kendra Preston Leonard, <i>Pres</i> </p>

<p><b>Natl Council on Public History,</b> 327 Cavanaugh Hall-IUPUI, 425 University Blvd, Indianapolis, IN 46202-5140, 317 274-2716; fax: 317 278-5230; <a href="mailto:ncph@iupui.edu">ncph@iupui.edu</a>; <a href="http://www.ncph.org">http://www.ncph.org</a>—John R Dichtl, <i>Exec Dir</i> </p>

<p><b>Newberry Library,</b> 60 W Walton St, Chicago, IL 60610; 312 255-3600; <a href="http://www.newberry.org">http://www.newberry.org</a>—David Spadafora, <i>Pres</i> </p>

<p><b>Northwest Independent Scholars’ Assn,</b> Margaret DeLacy, 7356 SE 30th Ave, Portland, OR 97202; 503 774-7017; <a href="mailto:margaretdelacy@comcast.net">margaretdelacy@comcast.net</a> </p>

<p><b>Princeton Research Forum,</b> 301 N Harrison St, Suite 222, Princeton, NJ 08540; 609 497-9228; fax: 609 921-2891; <a href="mailto:krumrey@mindspring.com">krumrey@mindspring.com</a>—Diane Krumrey, <i>Pres</i> </p>

<p><b>San Diego Independent Scholars,</b> PO Box 314, La Jolla, CA 92038; 858 246-7576; <a href="mailto:adewing@pobox.com">adewing@pobox.com</a> </p>

<p><b>University Seminars at Columbia Univ,</b> Faculty House, Columbia Univ, 64 Morningside Dr, Room 205, MC 2302, New York, NY 10027; 212 854-2389; <a href="mailto:univ.seminars@columbia.edu">univ.seminars@columbia.edu</a>; <a href="http://www.columbia.edu/cu/seminars">http://www.columbia.edu/cu/seminars</a>—Robert Belknap, <i>Dir</i> </p>

<p><b>Max Weinreich Center for Advanced Jewish Studies,</b> YIVO Inst for Jewish Research, 15 W 16th St, New York, NY 10011-6301; 212 246-6080; fax: 212 292-1892</p>
