<h1>Howard R. Marraro Prize</h1>
<table border=0 cellspacing=4 cellpadding=2>

<tr> 
<td valign=TOP>2011</td>
<td valign=TOP>Marco Ruffini, Northwestern University, for <i>Art without an Author: Vasari’s Lives and Michelangelo’s Death</i> (Fordham Univ. Press, 2011)</td>
</tr>
<tr> 
<td valign=TOP>2009</td>
<td valign=TOP>Christine Poggi, University of Pennsylvania, for <i>Inventing Futurism: The Art and Politics of Artificial Optimism</i> (Princeton Univ. Press, 2009)</td>
</tr>
<tr> 
<td valign=TOP> </td>
<td valign=TOP>Jane Tylus, New York University, for <i>Reclaiming Catherine of Siena: Literacy, Literature, and the Signs of Others</i> (Univ. of Chicago Press, 2009)
</td>
</tr>

<tr> 
<td valign=TOP>2007</td>
<td valign=TOP>Diana Robin, Chicago, Illinois, for <I>Publishing Women: Salons, the Press, and the Counter-Reformation in Sixteenth-Century Italy</I> (Univ. of Chicago Press, 2007)</td>
</tr>

<tr> 
<td valign=TOP>2005</td>
<td valign=TOP>Christian Moevs, University of Notre Dame, for <i>The Metaphysics of Dante's</i> Comedy (Oxford Univ. Press, 2005)</td>
</tr>
<tr> 
<td>&nbsp;</td></td>
<td valign=TOP>


Graziella Parati, Dartmouth College, for <i>Migration Italy: The Art of Talking Back in a Destination Culture</i> (Univ. of Toronto Press, 2005)</td>
</tr>
<tr> 
<td valign=TOP>2003</td>
<td valign=TOP>Marilyn Migiel, Cornell University, for <I>A Rhetoric of the</i> Decameron (Univ. of Toronto Press, 2003)</td>
</tr>
<tr> 
<td>&nbsp;</td>
<td>Honorable mention: Robert Henke, Washington University, for <I>Performance and Literature in the Commedia dell'Arte</i> (Cambridge Univ. Press, 2003)</td>
</tr>
<tr> 
<td valign=TOP>2001</td>
<td valign=TOP>Ellen V. Nerenberg, Wesleyan University, for <i>Prison Terms: Representing Confinement during and after Italian Fascism</i> (Univ. of Toronto Press, 2001)</td>
</tr>
<tr> 
<td>&nbsp;</td>
<td>Honorable mention: Franco Ricci, University of Ottawa, for <i>Painting with Words, Writing with Pictures: Words and Image in the Work of Italo Calvino</i> (Univ. of Toronto Press, 2002)</td>
</tr>
<tr> 
<td valign=TOP>*1998–99</td>
<td valign=TOP>Margaret Brose, University of California, Santa Barbara, for 
<i>Leopardi Sublime</i> (Re Enzo Editrice, 1998)</td>
</tr>
<tr> 
<td> </td>
<td>Nancy L. Canepa, Dartmouth College, for <i>From Court to Forest: Giambattista 
Basile's</i> Lo cunto de li cunti <i>and the Birth of the Literary Fairy 
Tale</i> (Wayne State Univ. Press, 1999)</td>
</tr>
<tr> 
<td valign=TOP>*1996–97</td>
<td valign=TOP>Barbara Spackman, University of California, Berkeley, for <i>Fascist 
Virilities: Rhetoric, Ideology, and Social Fantasy in Italy</i> (Univ. of 
Minnesota Press, 1996)</td>
</tr>
<tr> 
<td valign=TOP> </td>
<td valign=TOP>Honorable mention: Dennis Looney, University of Pittsburgh, for <i>Compromising 
the Classics: Romance Epic Narrative in the Italian Renaissance</i> (Wayne 
State Univ. Press, 1996)</td>
</tr>
<tr> 
<td valign=TOP>*1994–95</td>
<td valign=TOP>Robert S. Dombroski, City University of New York and University 
of Connecticut, Storrs, for <i>Properties of Writing: Ideological Discourse 
in Modern Italian Fiction</i> (Johns Hopkins Univ. Press, 1994)</td>
</tr>
<tr> 
<td> </td>
<td>Karen Pinkus, University of Southern California, for <i>Bodily Regimes: 
Italian Advertising under Fascism</i> (Univ. of Minnesota Press, 1995)</td>
</tr>
<tr> 
<td valign=TOP>1992–93</td>
<td valign=TOP>Margaret F. Rosenthal, University of Southern California, for 
<i>The Honest Courtesan: Veronica Franco, Citizen and Writer in Sixteenth-Century 
Venice</i> (Univ. of Chicago Press, 1992)</td>
</tr>
<tr> 
<td valign=TOP>1990–91 </td>
<td valign=TOP>Lucia Re, University of California, Los Angeles, for <i>Calvino 
and the Age of Neorealism: Fables of Estrangement</i> (Stanford Univ. Press, 
1991)</td>
</tr>
<tr> 
<td valign=TOP>1988–90 </td>
<td valign=TOP>Wayne A. Rebhorn, University of Texas, Austin, for <i>Foxes 
and Lions: Machiavelli's Confidence Men</i> (Cornell Univ. Press, 1988)</td>
</tr>
<tr> 
<td valign=TOP>1986–88 </td>
<td valign=TOP>Millicent Marcus, University of Texas, Austin, for <i>Italian 
Film in the Light of Neorealism</i> (Princeton Univ. Press, 1986)</td>
</tr>
<tr> 
<td valign=TOP> </td>
<td valign=TOP>Honorable mention: John Freccero, Stanford University, for 
<i>Dante: The Poetics of Conversion</i>, and Rachel Jacoff, Wellesley College, 
for editing and introduction (Harvard Univ. Press, 1986)</td>
</tr>
<tr> 
<td valign=TOP>1984–86 </td>
<td valign=TOP>Teodolinda Barolini, New York University, for <i>Dante's Poets: 
Textuality and Truth in the Comedy</i> (Princeton Univ. Press, 1984)</td>
</tr>
<tr> 
<td> </td>
<td>Glauco Cambon, University of Connecticut, Storrs, for <i>Michelangelo's 
Poetry: Fury of Form</i> (Princeton Univ. Press, 1985)</td>
</tr>
<tr> 
<td valign=TOP>1982–84 </td>
<td valign=TOP>William J. Kennedy, Cornell University, for <i>Jacopo Sannazaro 
and the Uses of Pastoral</i> (Univ. Press of New England, 1983)</td>
</tr>
<tr> 
<td valign=TOP> </td>
<td valign=TOP>Honorable mention: Glauco Cambon, University of Connecticut, 
Storrs, for <i>Eugenio Montale's Poetry: A Dream in Reason's Presence</i> 
(Princeton Univ. Press, 1982)</td>
</tr>
<tr> 
<td valign=TOP>1980–82 </td>
<td valign=TOP>Rebecca J. West, University of Chicago, for <i>Eugenio Montale: 
Poet on the Edge</i> (Harvard Univ. Press, 1981)</td>
</tr>
<tr> 
<td valign=TOP>1978–80 </td>
<td valign=TOP>Nicolas J. Perella, University of California, Berkeley, for 
<i>Midday in Italian Literature: Variations on an Archetypal Theme</i> (Princeton 
Univ. Press, 1979)</td>
</tr>
<tr> 
<td valign=TOP>1976–78 </td>
<td valign=TOP>Franco Fido, Brown University, for <i>Guida a Goldoni: Teatro 
e società nel Settecento</i> (Einaudi, 1977)</td>
</tr>
<tr> 
<td valign=TOP>1976 </td>
<td valign=TOP>Joseph G. Fucilla, Emeritus, Northwestern University, for his 
achievements as scholar, editor, and teacher of Italian literature</td>
</tr>
<tr> 
<td valign=TOP>1975 </td>
<td valign=TOP>Beatrice Corrigan, Emeritus, University of Toronto, for her 
achievements as author, editor, translator, and teacher of Italian studies</td>
</tr>
<tr> 
<td valign=TOP>1974 </td>
<td valign=TOP>Thomas G. Bergin, Yale University, for his career as translator, 
scholar, and teacher of contemporary and classical Italian literature</td>
</tr>
<tr> 
<td valign=TOP>1973 </td>
<td valign=TOP>Bernard Weinberg, University of Chicago, for <i>Trattati di 
poetica e retorica del Cinquecento</i> (Laterza, 1970–74)</td>
</tr>
<tr> 
<td><img src="/IMAGES/clear.gif" width="80" height="1" alt=""></td>
<td>&nbsp;</td>
</tr>
</table>
*During 1996–2000, the Howard R. Marraro Prize was awarded jointly with the Aldo and Jeanne Scaglione Prize for Italian Studies, which is now awarded separately in odd-numbered years.
<br>
<br>
[[[insert file "pastwinner_footer"]]]
