<h1>Aldo and Jeanne Scaglione Prize for Italian Studies</h1>
<table border="0" cellspacing="4" cellpadding="2">
<tr>
<td valign="top">2012</td>
<td>Alessia Ricciardi, Northwestern University, for <i>After </i>La Dolce Vita<i>: A Cultural Prehistory of Berlusconi’s Italy</i> (Stanford Univ. Press, 2012)</td>
</tr>
<tr>
<td valign="top">2010</td>
<td>Michelangelo Sabatino, University of Houston, for <i>Pride in Modesty: Modernist Architecture and the Vernacular Tradition in Italy</i> (Univ. of Toronto Press, 2010)</td></tr>
<tr><td valign="top">&nbsp;</td>
<td>Honorable mention: Alessandro Polcri, Fordham University, for <i>Luigi Pulci e la Chimera: Studi sull’allegoria nel</i> Morgante (Società Editrice Fiorentina, 2010)</td></tr>
<tr>

<tr>
<td valign="top">2008</td>
<td>Joseph Luzzi, Bard College, for <i>Romantic Europe and the Ghost of Italy</i> (Yale Univ. Press, 2008)</td></tr>
<tr>

<tr>
<td valign="top">2006</td>
<td>Cristina Della Coletta, University of Virginia, for <i>World's Fairs Italian Style: The Great Exhibitions in Turin and Their Narratives, 1860–1915</i> (Univ. of Toronto Press, 2006)</td></tr>
<tr>

<tr>
<td valign="top">2004</td>
<td>Raymond B. Waddington, University of California, Davis, for <i>Aretino's Satyr: Sexuality, Satire, and Self-Projection in Sixteenth-Century Literature and Art</i> (Univ. of Toronto Press, 2004)</td></tr>
<tr>
<td valign="top"></td>
<td>Honorable mention: Ingrid D. Rowland, University of Notre Dame School of Architecture, for <i>The Scarith of Scornello: A Tale of Renaissance Forgery</i> (Univ. of Chicago Press, 2004)</td></tr>
<tr>
<td valign="top">2002</td>
<td>Lina Bolzoni, Scuola Normale di Pisa, for <i>La rete delle immagini: Predicazione in volgare dalle origini a Bernardino da Siena </i>(Giulio Einaudi Editore, 2002)</td></tr>
<tr> 
<td valign="top">2000</td>
<td>Gaetana Marrone-Puglia, Princeton University, for <i>The Gaze and the 
Labyrinth: The Cinema of Liliana Cavani</i> (Princeton Univ. Press, 2000)</td>
</tr>
<tr> 
<td valign=top>*1998–99</td>
<td valign=top>Margaret Brose, University of California, Santa Barbara, for 
<i>Leopardi Sublime</i> (Re Enzo Editrice, 1998)</td>
</tr>
<tr> 
<td> </td>
<td>Nancy L. Canepa, Dartmouth College, for <i>From Court to Forest: Giambattista 
Basile's</i> Lo cunto de li cunti <i>and the Birth of the Literary Fairy 
Tale</i> (Wayne State Univ. Press, 1999)</td>
</tr>
<tr> 
<td valign=top>*1996–97</td>
<td valign=top>Barbara Spackman, University of California, Berkeley, for <i>Fascist 
Virilities: Rhetoric, Ideology, and Social Fantasy in Italy</i> (Univ. of 
Minnesota Press, 1996)</td>
</tr>
<tr> 
<td valign=top> </td>
<td valign=top>Honorable mention: Dennis Looney, University of Pittsburgh, for <i>Compromising 
the Classics: Romance Epic Narrative in the Italian Renaissance</i> (Wayne 
State Univ. Press, 1996)</td>
</tr>
<tr> 
<td valign=top>*1994–95</td>
<td valign=top>Robert S. Dombroski, City University of New York and University 
of Connecticut, Storrs, for <i>Properties of Writing: Ideological Discourse 
in Modern Italian Fiction</i> (Johns Hopkins Univ. Press, 1994)</td>
</tr>
<tr> 
<td> </td>
<td>Karen Pinkus, University of Southern California, for <i>Bodily Regimes: 
Italian Advertising under Fascism</i> (Univ. of Minnesota Press, 1995)</td>
</tr>
</table> 
<br>
*During 1996–2000, the Aldo and Jeanne Scaglione Prize for Italian Studies was awarded jointly with the Howard R. Marraro Prize, which is now awarded separately in even-numbered years.<br><br>
[[[insert file "pastwinner_footer"]]]
