<h1>MLA Award for Lifetime Scholarly Achievement </h1>
<table border=0 cellspacing=4 cellpadding=2>


<tr> 
<td valign=TOP>2011</td>
<td valign=TOP>Fredric Jameson, Professor, Duke University </td>
</tr>

<tr> 
<td valign=TOP>2008</td>
<td valign=TOP>René Girard, Professor Emeritus, Stanford University </td>
</tr>

<tr> 
<td valign=TOP>2005</td>
<td valign=TOP>J. Hillis Miller, Professor Emeritus, University of California, Irvine</td>
</tr>
<tr> 
<td valign=TOP>2002</td>
<td valign=TOP>A. LaVonne Brown Ruoff, Professor Emerita, University of Illinois, 
Chicago</td>
</tr>
<tr> 
<td valign=TOP>1999</td>
<td valign=TOP>Carolyn Heilbrun, Professor Emerita, Columbia University</td>
</tr>
<tr> 
<td valign=TOP>1996</td>
<td valign=TOP>Maynard Mack, Professor Emeritus, Yale University</td>
</tr>
</table>
<br>
[[[insert file "pastwinner_footer"]]]
