<h1>William Sanders Scarborough Prize</h1>
<table border=0 cellspacing=4 cellpadding=2>
<tr> 
<td valign=top>2012</td>
<td>Erica R. Edwards, University of California, Riverside, for <i>Charisma and the Fictions of Black Leadership </i>(Univ. of Minnesota Press, 2012)</td>
</tr>
<tr> 
<td valign=top>&nbsp;</td>
<td>Honorable mention: Sara E. Johnson, University of California, San Diego, for <i>The Fear of French Negroes: Transcolonial Collaboration in the Revolutionary Americas </i>(Univ. of California Press, 2012)</td>
</tr>
<tr> 
<td valign=top>2011</td>
<td valign=top>Stephanie Leigh Batiste, University of California, Santa Barbara, for <i>Darkening Mirrors: Imperial Representation in Depression-Era African American Performance</i> (Duke Univ. Press, 2011)</td>
</tr>
<tr> 
<td valign=top></td>
<td valign=top>Honorable mention: Meta DuEwa Jones, University of Texas, Austin, for <i>The Muse Is Music: Jazz Poetry from the Harlem Renaissance to Spoken Word</i> (Univ. of Illinois Press, 2011)</td>
</tr>

<tr> 
<td valign=top>2010</td>
<td valign=top>Lawrence P. Jackson, Emory University, for <i>The Indignant Generation: A Narrative History of African American Writers and Critics, 1934–1960</i> (Princeton Univ. Press, 2010)</td>
</tr>

<tr> 
<td valign=top>2009</td>
<td valign=top>Monica L. Miller, Barnard College, for <i>Slaves to Fashion: Black Dandyism and the Styling of Black Diasporic Identity </i>(Duke Univ. Press, 2009)</td>
</tr>

<tr> 
<td valign=top>2008</td>
<td valign=top>Magdalena J. Zaborowska, University of Michigan, Ann Arbor, for <i>James Baldwin’s Turkish Decade: Erotics of Exile</i> (Duke Univ. Press, 2008)</td>
</tr>
<tr> 
<td valign=top></td>
<td valign=top>Honorable mention: Daphne Lamothe, Smith College, for <i>Inventing the New Negro: Narrative, Culture, and Ethnography</i> (Univ. of Pennsylvania Press, 2008)</td>
</tr>


<tr> 
<td valign=top>2007</td>
<td valign=top>Candice M. Jenkins, Hunter College, for <i>Private Lives, Proper Relations: Regulating Black Intimacy</i> (Univ. of Minnesota Press, 2007)</td>
</tr>

<tr> 
<td valign=top>2006</td>
<td valign=top>Jacqueline Goldsby, University of Chicago, for <i>A Spectacular Secret: Lynching in American Life and Literature</i> (Univ. of Chicago Press, 2006)</td>
</tr>


<tr> 
<td valign=top>2005</td>
<td valign=top>Alexander G. Weheliye, Northwestern University, for <i>Phonographies: Grooves in Sonic Afro-Modernity</i> (Duke Univ. Press, 2005)</td>
</tr>
<tr> 
<td valign=top>2004</td>
<td valign=top>Jean Fagan Yellin, Pace University, for <i>Harriet Jacobs: A Life</i> (Basic Civitas, 2004)</td>
</tr>
<tr> 
<td valign=top>2003</td>
<td valign=top>Joanna Brooks, University of Texas, Austin, for <i>American Lazarus: Religion and the Rise of African-American and Native American Literatures</i> (Oxford Univ. Press, 2003)</td>
</tr>
<tr> 
<td valign=top></td>
<td valign=top>Honorable mention: Thadious M. Davis, University of Pennsylvania, for <i>Games of Property: Law, Race, Gender, and Faulkner's</i> Go Down Moses (Duke Univ. Press, 2003)</td>
</tr>
<tr> 
<td valign=top></td>
<td valign=top>Honorable mention: Susan Gillman, University of California, Santa Cruz, for <i>Blood Talk: American Race Melodrama and the Culture of the Occult</i> (Univ. of Chicago Press, 2003)</td>
</tr>
<tr> 
<td valign=top>2002</td>
<td valign=top>Maurice O. Wallace, Duke University, for <i>Constructing the Black Masculine: Identity and Ideality in African American Men’s Literature and Culture, 1775–1995 </i>(Duke Univ. Press, 2002)</td>
</tr>
<tr> 
<td valign=top>2001</td>
<td valign=top>Eddie S. Glaude, Jr., Princeton University, for <i>Exodus! 
Religion, Race, and Nation in Early-Nineteenth-Century Black America</i> 
(Univ. of Chicago Press, 2000)</td>
</tr>
<tr> 
<td><img src="/IMAGES/clear.gif" width="80" height="1" alt=""></td>
<td>&nbsp;</td>
</tr>
</table>[[[insert file "pastwinner_footer"]]]
