<h1>Aldo and Jeanne Scaglione Prize for Studies in Germanic Languages and Literatures</h1>
<table border=0 cellspacing=4 cellpadding=2>

<tr> 
<td valign=TOP>2010–11</td>
<td valign=TOP>Yasemin Yildiz, University of Illinois, for <i>Beyond the Mother Tongue: The Postmonolingual Condition</i> (Fordham Univ. Press, 2011)</td>
</tr>
<tr> 
<td valign=TOP></td>
<td valign=TOP>Honorable mention: Jane O. Newman, University of California, Irvine, for <i>Benjamin’s Library: Modernity, Nation, and the Baroque</i> (Cornell Univ. Press–Cornell Univ. Library, 2011)</td>
</tr>

<tr> 
<td valign=TOP>2008–09</td>
<td valign=TOP>Anton Kaes, University of California, Berkeley, for <i>Shell Shock Cinema: Weimar Culture and the Wounds of War</i> (Princeton Univ. Press, 2009)</td>
</tr>

<tr> 
<td valign=TOP>2006–07</td>
<td valign=TOP>Carol Poore, Brown University, for <I>Disability in Twentieth-Century German Culture </I>(Univ. of Michigan Press, 2007)</td>
</tr>

<tr> 
<td valign=TOP>2004–05</td>
<td valign=TOP>Johannes von Moltke, University of Michigan, for <i>No Place Like Home: Locations of Heimat in German Cinema</i> (Univ. of California Press, 2005)</td>
</tr>

<tr> 
<td valign=TOP>2002–03</td>
<td valign=TOP>John Zilcosky, University of Toronto, for <I>Kafka's Travels: Exoticism, Colonialism, and the Traffic of Writing</i> (Palgrave Press, 2003)</td>
</tr>
<tr> 
<td valign=TOP></td>
<td valign=TOP>Honorable mention: Jonathan M. Hess, University of North Carolina, Chapel Hill, for <I>Germans, Jews, and the Claims of Modernity</i> (Yale Univ. Press, 2002)</td>
</tr>
<tr> 
<td valign=TOP>2000–01</td>
<td valign=TOP>William Collins Donahue, Rutgers University, New Brunswick,  for <i>The End of Modernism: Elias Canetti's</i> 
Auto-da-F&eacute; (Univ. of North Carolina Press, 2001)</td>
</tr>
<tr> 
<td valign=TOP>1998–99</td>
<td valign=TOP>Lutz Koepnick, Washington University, for <i>Walter Benjamin 
and the Aesthetics of Power</i> (Univ. of Nebraska Press, 1999)</td>
</tr>
<tr> 
<td valign=TOP>1996–97</td>
<td valign=TOP>Julia Hell, University of Michigan, Ann Arbor, for <i>Post-Fascist 
Fantasies: Psychoanalysis, History, and the Literature of East Germany</i> 
(Duke Univ. Press, 1997)</td>
</tr>
<tr> 
<td valign=TOP>1994–95</td>
<td valign=TOP>James A. Schultz, University of California, Los Angeles, for 
<i>The Knowledge of Childhood in the German Middle Ages, 1100–1350</i> (Univ. 
of Pennsylvania Press, 1995)</td>
</tr>
<tr> 
<td valign=TOP>1992–93</td>
<td valign=TOP>Leslie A. Adelson, Ohio State University, Columbus, for <i>Making 
Bodies, Making History: Feminism and German Identity</i> (Univ. of Nebraska 
Press, 1993)</td>
</tr>
<tr> 
<td><img src="/IMAGES/clear.gif" width="80" height="1" alt=""></td>
<td>&nbsp;</td>
</tr>
</table>


[[[insert file "pastwinner_footer"]]]
