<h1>Aldo and Jeanne Scaglione Prize for a Translation of a Literary Work</h1>
<table border=0 cellspacing=4 cellpadding=2>


<tr> 
<td valign=TOP>2011</td>
<td valign=TOP>Robert M. Durling, University of California, Santa Cruz, for The Divine Comedy <i>of Dante Alighieri</i>, volume 3: <i>Paradiso</i> (Oxford Univ. Press, 2011)</td></tr>
<tr> 
<td valign=TOP></td>
<td valign=TOP>Honorable mention: Shushan Avagyan, American University of Armenia, for <i>Bowstring: On the Dissimilarity of the Similar</i>, by Viktor Shklovsky (Dalkey Archive, 2011)</td></tr>
<tr> 
<td valign=TOP></td>
<td valign=TOP>Honorable mention: C. Dickson, Vaulnaveys, France, for At the Café <i>and</i> The Talisman, by Mohammed Dib (Univ. of Virginia Press, 2011)</td></tr>
<tr> 
<td valign=TOP></td>
<td valign=TOP>Honorable mention: Imre Goldstein, Tel Aviv, Israel, for <i>Parallel Stories</i>, by Péter Nádas (Farrar, Straus, and Giroux, 2011)</td></tr>
<tr> 
<td valign=TOP></td>
<td valign=TOP>Honorable mention: Iain Macleod Higgins, University of Victoria, for The Book of John Mandeville <i>with Related Texts</i> (Hackett, 2011)</td></tr>

<tr> 
<td valign=TOP>2009</td>
<td valign=TOP>Breon Mitchell, Indiana University, for <i>The Tin Drum</i> by Günter Grass (Houghton Mifflin Harcourt, 2009)</td></tr>
<tr> 
<td valign=TOP></td>
<td valign=TOP>Honorable mention: Lawrence Venuti, Temple University, for <i>Edward Hopper</i> by Ernest Farrés (Graywolf Press, 2009)
</td>
</tr>

<tr> 
<td valign=TOP>2007</td>
<td valign=TOP>Timothy Billings, Middlebury College, and Christopher Bush, Northwestern University, for <I>Stèles</I>, by Victor Segalen (Wesleyan Univ. Press, 2007)</td>
</tr>

<tr> 
<td valign=TOP>2005</td>
<td valign=TOP>Wilson Baldridge, Wichita State University, for <i>Recumbents: Poems</i> <I>(Gisants: Poèmes)</i>, by Michel Deguy (Wesleyan Univ. Press, 2005)</td>
</tr>
<tr> 
<td valign=TOP>2003</td>
<td valign=TOP>Mary Hudson, Brooklyn, New York, for <I>Fable for Another Time (Féerie pour une autre fois 1)</i>, by Louis-Ferdinand Céline (Univ. of Nebraska Press, 2003)</td>
</tr>
<tr> 
<td valign=TOP>&nbsp;</td>
<td valign=TOP>Honorable mention: Eliot Weinberger, New York, New York, for <I>Altazor; or, A Voyage in a Parachute: Poems in VII Cantos (1919)</i>, by Vicente Huidobro (Wesleyan Univ. Press, 2003)</td>
</tr>
<tr> 
<td valign=TOP>2001</td>
<td valign=TOP>E. H. Blackmore, Scarborough, Western Australia, and A. M. Blackmore,  Curtin University, for <i>Selected Poems of Victor 
Hugo: A Bilingual Edition</i> (Univ. of Chicago Press, 2001)</td>
</tr>
<tr> 
<td valign=TOP>1999</td>
<td valign=TOP>Norman R. Shapiro, Wesleyan University, for <i>One Hundred 
and One Poems by Paul Verlaine</i> (Univ. of Chicago Press, 1999)</td>
</tr>
<tr> 
<td valign=TOP>1996–97</td>
<td valign=TOP>Peter Cole, Jerusalem, Israel, for <i>Selected Poems of Shmuel 
HaNagid</i> (Princeton Univ. Press, 1997)</td>
</tr>
<tr> 
<td valign=TOP>1994–95</td>
<td valign=TOP>David Ball, Smith College, for <i>Darkness Moves: An Henri 
Michaux Anthology, 1927–1984</i> (Univ. of California Press, 1994)</td>
</tr>
<tr> 
<td>&nbsp;</td>
<td>Carol Maier, Kent State University, for <i>Memoirs of Leticia Valle</i>, 
by Rosa Chacel (Univ. of Nebraska Press, 1994)</td>
</tr>
<tr> 
<td valign=TOP>&nbsp;</td>
<td valign=TOP>Honorable mention: Harold B. Segel, for <i>The Vienna Coffeehouse Wits, 
1890–1938</i> (Purdue Univ. Press, 1995)</td>
</tr>
<tr> 
<td valign=TOP>1992–93</td>
<td valign=TOP>Estelle Gilson, for <i>The Stories and Recollections of Umberto 
Saba</i> (Sheep Meadow Press, 1993)</td>
</tr>
<tr> 
<td><img src="/IMAGES/clear.gif" width="80" height="1" alt=""></td>
<td>&nbsp;</td>
</tr>
</table>

[[[insert file "pastwinner_footer"]]]
