<h1>Modern Language Association Prize for a First Book</h1>
<table border=0 cellspacing=4 cellpadding=2>
<tr> 
<td valign=top>2012</td>
<td valign=top>Meredith Martin, Princeton University, for <i>The Rise and Fall of Meter: Poetry and English National Culture, 1860–1930 </i>(Princeton Univ. Press, 2012)</td>
</tr>
<tr> 
<td valign=top>2011</td>
<td valign=top>Nergis Ertürk, Penn State University, University Park, for <i>Grammatology and Literary Modernity in Turkey</i> (Oxford Univ. Press, 2011)</td>
</tr>
<tr> 
<td valign=top>2010</td>
<td valign=top>Vivasvan Soni, Northwestern University, for <i>Mourning Happiness: Narrative and the Politics of Modernity</i> (Cornell Univ. Press, 2010)</td>
</tr>
<tr> 
<td valign=top>2009</td>
<td valign=top>Andrew Piper, McGill University, for <i>Dreaming in Books: The Making of the Bibliographic Imagination in the Romantic Age</i> (Univ. of Chicago Press, 2009)</td>
</tr>
<tr> 
<td valign=top> </td>
<td valign=top>Honorable mention: Eric Slauter, University of Chicago, for <i>The State as a Work of Art: The Cultural Origins of the Constitution</i> (Univ. of Chicago Press, 2009)</td></tr>
<tr> 
<td valign=top>2008</td>
<td valign=top>Matthew G. Kirschenbaum, University of Maryland, College Park, for <i>Mechanisms: New Media and the Forensic Imagination</i> (MIT Press, 2008)</td></tr>
<tr> 
<td valign=top>2007</td>
<td valign=top>Dana Luciano, Georgetown University, for <i>Arranging Grief: Sacred Time and the Body in Nineteenth-Century America </i>(NYU Press, 2007)</td></tr>
<tr><td valign=top>&nbsp;</td>
<td valign=top>Honorable Mention: Matthew P. Brown, University of Iowa, for <i>The Pilgrim and the Bee: Reading Rituals and Book Culture in Early New England</i> (Univ. of Pennsylvania Press, 2007)
</td>
</tr>
<tr><td valign=top>&nbsp;</td>
<td valign=top>Honorable Mention: Martin K. Foys, Hood College, for <i>Virtually Anglo-Saxon: Old Media, New Media, and Early Medieval Studies in the Late Age of Print</i> (Univ. Press of Florida, 2007)
</td>
</tr>
<tr> 
<td valign=top>2006</td>
<td valign=top>Sean X. Goudie, Vanderbilt University, for <i>Creole America: The West Indies and the Formation of Literature and Culture in the New Republic</i> (Univ. of Pennsylvania Press, 2006)</td></tr>

<tr> 
<td valign=top>2005</td>
<td valign=top>Virginia Jackson, Tufts University, for <i>Dickinson's Misery: A Theory of Lyric Reading</i> (Princeton Univ. Press, 2005)</td></tr>
<tr><td valign=top>&nbsp;</td>
<td valign=top>Honorable Mention: Zhen Zhang, New York University, for <i>An Amorous History of the Silver Screen: Shanghai Cinema, 1896–1937</i> (Univ. of Chicago Press, 2005)</td>
</tr>

<tr> 
<td valign=top>2004</td>
<td valign=top>Elizabeth S. Goodstein, Emory University, for <i>Experience without Qualities: Boredom and Modernity</i> (Stanford Univ. Press, 2004)</td>
</tr>
<tr> 
<td valign=top>2003</td>
<td valign=top>Paul K. Saint-Amour, Pomona College, for <i>The Copywrights: Intellectual Property and the Literary Imagination</i> (Cornell Univ. Press, 2003)</td>
</tr>
<tr> 
<td valign=top>2002</td>
<td valign=top>Paul Downes, University of Toronto, for <i>Democracy, Revolution, and Monarchism in Early American Literature </i>(Cambridge Univ. Press, 2002)</td>
</tr>
<tr> 
<td valign=top>&nbsp;</td>
<td valign=top>Priya Joshi, University of California, Berkeley, for <i>In Another Country: Colonialism, Culture, and the English Novel in India</i> (Columbia Univ. Press, 2002)</td>
</tr>
<tr> 
<td valign=top>2001</td>
<td valign=top>Bruce W. Holsinger, University of Colorado, Boulder,  for <i>Music, Body, and Desire in Medieval Culture: Hildegard of Bingen to Chaucer</i> (Stanford Univ. Press, 2001)</td>
</tr>
<tr> 
<td valign=top>2000</td>
<td valign=top>Patricia Crain, University of Minnesota Twin Cities, for <i>The Story of A: The Alphabetization of America from </i>The New England Primer<i> to </i>The Scarlet Letter (Stanford Univ. Press, 2000)</td>
</tr>
<tr> 
<td valign=top></td>
<td valign=top>Honorable mention: Jennifer Summit, Stanford University, for <i>Lost Property: The Woman Writer and English Literary History, 1380–1589</i> (Univ. of Chicago Press, 2000)</td>
</tr>
<tr> 
<td valign=top>1999 </td>
<td valign=top>Srinivas Aravamudan, Duke University, for <i>Tropicopolitans: Colonialism and Agency, 1688–1804</i> (Duke Univ. Press, 1999)</td>
</tr>
<tr> 
<td valign=top> </td>
<td valign=top>Honorable mention: Ian Baucom, Duke University, for <i>Out of Place: Englishness, Empire, and the Locations of Identity</i> (Princeton Univ. Press, 1999)</td>
<tr>
<td valign=top> </td>
<td>Honorable mention: Yopie Prins, University of Michigan, for <i>Victorian Sappho</i> (Princeton Univ. Press, 1999)</td>
</tr>
<tr> 
<td valign=top>1998 </td>
<td valign=top>Deidre Shauna Lynch, State University of New York, Buffalo, for <i>The Economy of Character: Novels, Market Culture, and the Business of Inner Meaning</i> (Univ. of Chicago Press, 1998)</td>
</tr>
<tr> 
<td valign=top>1997 </td>
<td valign=top>Katie Trumpener, University of Chicago, for <i>Bardic Nationalism: The Romantic Novel and the British Empire</i> (Princeton Univ. Press, 1997)</td>
</tr>
<tr> 
<td valign=top>1996 </td>
<td valign=top>Marc Redfield, Claremont Graduate University, for <i>Phantom Formations: Aesthetic Ideology and the Bildungsroman</i> (Cornell Univ. Press, 1996)</td>
</tr>
<tr> 
<td valign=top> </td>
<td valign=top>John Rogers, Yale University, for <i>The Matter of Revolution: Science, Poetry, and Politics in the Age of Milton</i> (Cornell Univ. Press, 1996)</td>
</tr>
<tr> 
<td valign=top>1995 </td>
<td valign=top>Elaine Hadley, University of Chicago, for <i>Melodramatic Tactics: Theatricalized Dissent in the English Marketplace, 1800–1885</i> (Stanford Univ. Press, 1995)</td>
</tr>
<tr> 
<td valign=top>1994 </td>
<td valign=top>Steven Justice, University of California, Berkeley, for <i>Writing and Rebellion: England in 1381</i> (Univ. of California Press, 1994)</td>
</tr>
<tr> 
<td valign=top>1993 </td>
<td valign=top>Eric W. Lott, University of Virginia, for <i>Love and Theft: Blackface Minstrelsy and the American Working Class</i> (Oxford Univ. Press, 1993)</td>
</tr>
<tr> 
<td><img src="/IMAGES/clear.gif" width="80" height="1" alt=""></td>
<td>&nbsp;</td>
</tr>
</table>
[[[insert file "pastwinner_footer"]]]
