<h1>Modern Language Association Prize for Independent Scholars</h1>
<table border=0 cellspacing=4 cellpadding=2>

<tr> 
<td valign=TOP>2011</td>
<td valign=TOP>Melissa Bradshaw, Chicago, Illinois, for <i>Amy Lowell, Diva Poet</i> (Ashgate, 2011)</td>
</tr>

<tr> 
<td valign=TOP>2010</td>
<td valign=TOP>Tom Duggett, Suzhou, China, for <i>Gothic Romanticism: Architecture, Politics, and Literary Form</i> (Palgrave Macmillan, 2010)</td>
</tr>

<tr> 
<td valign=TOP>2009</td>
<td valign=TOP>Susan Whyman, Fair Haven, New Jersey, for <i>The Pen and the People: English Letter Writers, 1660–1800</i> (Oxford Univ. Press, 2009)</td>
</tr>

<tr> 
<td valign=TOP>2008</td>
<td valign=TOP>William Pallister, Oakland, California, for <i>Between Worlds: The Rhetorical Universe of</i> Paradise Lost (Univ. of Toronto Press, 2008)</td>
</tr>

<tr> 
<td valign=TOP>2007</td>
<td valign=TOP>Andrés J. Nader, Berlin, Germany, for <I>Traumatic Verses: On Poetry in German from the Concentration Camps, 1933–1945</I> (Camden House, 2007)</td>
</tr>

<tr> 
<td valign=TOP>2006</td>
<td valign=TOP>Eric Edward Paras, Reston, Virginia, for <i>Foucault 2.0: Beyond Power and Knowledge</i> (Other Press, 2006)  </td>
</tr>

<tr> 
<td valign=TOP>2005</td>
<td valign=TOP>Henry Hitchings, London, England, for <i>Defining the World: The Extraordinary Story of Dr. Johnson's Dictionary</i> (Farrar, Straus and Giroux, 2005)</td>
</tr>

<tr> 
<td valign=TOP>2004</td>
<td valign=TOP>Alan Palmer, London, England, for <I>Fictional Minds</i> (Univ. of Nebraska Press, 2004)  </td>
</tr> 
<tr> 
<td valign=TOP></td>
<td valign=TOP>June Chun Yip, Los Angeles, California, for <I>Envisioning Taiwan: Fiction, Cinema, and the Nation in the Cultural Imaginary</i> (Duke Univ. Press, 2004)  </td>
</tr> 
<tr> 
<td valign=TOP>2003</td>
<td valign=TOP>Dana Phillips, Philadelphia, Pennsylvania, for <I>The Truth of Ecology: Nature, Culture, and Literature in America</i> (Oxford Univ. Press, 2003)</td>
</tr> 
<tr> 
<td valign=TOP>2002</td>
<td valign=TOP>Diana Saco, Fort Lauderdale, Florida, for <i>Cybering Democracy: 
Public Space and the Internet</i> (Univ. of Minnesota Press, 2002)</td>
</tr>
<tr> 
<td valign=TOP>2001</td>
<td valign=TOP>David Roessel, Washington, DC, for <i>In Byron's Shadow: Modern Greece in the English and American Imagination</i> (Oxford Univ. Press, 2001)</td>
</tr>
<tr> 
<td valign=TOP>2000 
<td>Joe Snader, Wilmington, Delaware, for <i>Caught between Worlds: British 
Captivity Narratives in Fact and Fiction</i> (Univ. Press of Kentucky, 2000)</td>
</tr>
<tr> 
<td valign=TOP>1999</td>
<td valign=TOP>Steven J. Holmes, Rosindale, Massachusetts, for <i>The Young 
John Muir: An Environmental Biography</i> (Univ. of Wisconsin Press, 1999)</td>
</tr>
<tr> 
<td valign=TOP>1998</td>
<td valign=TOP>Janet Galligani Casey, for <i>Dos Passos and the Ideology of 
the Feminine</i> (Cambridge Univ. Press, 1998)</td>
</tr>
<tr> 
<td valign=TOP>1997</td>
<td valign=TOP>Gary Schmidgall, New York, New York, for <i>Walt Whitman: A 
Gay Life</i> (Dutton Plume, 1997)</td>
</tr>
<tr> 
<td valign=TOP>1996</td>
<td valign=TOP>Graham Robb, Oxford, England, for <i>Unlocking Mallarmé</i> 
(Yale Univ. Press. 1996)</td>
</tr>
<tr> 
<td valign=TOP> </td>
<td valign=TOP>Finalist: Carolyn Burke, Santa Cruz, California, for <i>Becoming 
Modern: The Life of Mina Loy</i> (Farrar, Straus and Giroux, 1996)</td>
</tr>
<tr> 
<td valign=TOP>1995</td>
<td valign=TOP>Nora Sayre, for <i>Previous Convictions: A Journey through 
the 1950s</i> (Rutgers Univ. Press, 1995)</td>
</tr>
<tr> 
<td valign=TOP>1994</td>
<td valign=TOP>Kenneth M. Cameron, for <i>Africa on Film: Beyond Black and 
White</i> (Continuum Books, 1994)</td>
</tr>
<tr> 
<td valign=TOP> </td>
<td valign=TOP>Honorable mention: Mary Price, for <i>The Photograph: A Strange, 
Confined Place</i> (Stanford Univ. Press, 1994)</td>
</tr>
<tr> 
<td valign=TOP>1993</td>
<td valign=TOP>Olga Augustinos, for <i>French Odysseys: Greece in French Travel 
Literature from the Renaissance to the Romantic Era</i> (Johns Hopkins Univ. 
Press, 1993)</td>
</tr>
<tr> 
<td valign=TOP></td>
<td valign=TOP>Honorable mention: Carl Hill, for <i>The Soul of Wit: Joke 
Theory from Grimm to Freud</i> (Univ. of Nebraska Press, 1993)</td>
</tr>
<tr> 
<td valign=TOP>1992 </td>
<td valign=TOP>Hans J. Rindisbacher, for <i>The Smell of Books: A Cultural-Historical 
Study of Olfactory Perception in Literature</i> (Univ. of Michigan Press, 
1992)</td>
</tr>
<tr> 
<td valign=TOP>1991 </td>
<td valign=TOP>Marie-Laure Ryan, for <i>Possible Worlds, Artificial Intelligence, 
and Narrative Theory</i> (Indiana Univ. Press, 1991)</td>
</tr>
<tr> 
<td valign=TOP> </td>
<td valign=TOP>Honorable mention: David B. Morris, for <i>The Culture of Pain</i> 
(Univ. of California Press, 1991)</td>
</tr>
<tr> 
<td valign=TOP>1990 </td>
<td valign=TOP>William Merrill Decker, for <i>The Literary Vocation of Henry 
Adams</i> (Univ. of North Carolina Press, 1990)</td>
</tr>
<tr> 
<td valign=TOP> </td>
<td valign=TOP>Honorable mention: Charles Musser, for <i>The Emergence of 
Cinema: The American Screen to 1907</i> (Charles Scribner's Sons, 1990)</td>
</tr>
<tr> 
<td valign=TOP>1989 </td>
<td valign=TOP>Emily W. Sunstein, for <i>Mary Shelley: Romance and Reality</i> 
(Little, Brown and Co., 1989)</td>
</tr>
<tr> 
<td valign=TOP>1988 </td>
<td valign=TOP>Harriet Blodgett, for <i>Centuries of Female Days: Englishwomen's 
Private Diaries</i> (Rutgers Univ. Press, 1988)</td>
</tr>
<tr> 
<td valign=TOP>1987 </td>
<td valign=TOP>Wayne F. Cooper, for <i>Claude McKay: Rebel Sojourner in the 
Harlem Renaissance</i> (Louisiana State Univ. Press, 1987)</td>
</tr>
<tr> 
<td> </td>
<td>Keith W. F. Stavely, for <i>Puritan Legacies: Paradise Lost and the New 
England Tradition, 1630-1890</i> (Cornell Univ. Press, 1987)</td>
</tr>
<tr> 
<td valign=TOP>1986 </td>
<td valign=TOP>Paul van Caspel, for <i>Bloomers on the Liffey: Eisegetical 
Readings of Joyce's Ulysses</i> (Johns Hopkins Univ. Press, 1986)</td>
</tr>
<tr> 
<td valign=TOP>1985 </td>
<td valign=TOP>Edward Brunner, for <i>Splendid Failure: Hart Crane and the 
Making of The Bridge</i> (Univ. of Illinois Press, 1985)</td>
</tr>
<tr> 
<td valign=TOP>1984 </td>
<td valign=TOP>Gloria C. Erlich, for <i>Family Themes and Hawthorne's Fiction: 
The Tenacious Web</i> (Rutgers Univ. Press, 1984)</td>
</tr>
<tr> 
<td valign=TOP>1983 </td>
<td valign=TOP>Zdzislaw Najder, for <i>Joseph Conrad: A Chronicle</i> (Rutgers 
Univ. Press, 1983)</td>
</tr>
<tr> 
<td><img src="/IMAGES/clear.gif" width="80" height="1" alt=""></td>
<td>&nbsp;</td>
</tr>
</table>
[[[insert file "pastwinner_footer"]]]
