<h1>William Riley Parker Prize</h1>
<table border=0 cellspacing=4 cellpadding=2>

<tr> 
<td valign=top>2013</td>
<td valign=top>Margaret Ronda, Rutgers University, New Brunswick, for “‘Work and Wait Unwearying’: Dunbar’s Georgics” (<i>PMLA</i>, October 2012)</td></tr>

<tr> 
<td valign=top>2012</td>
<td valign=top>Tobias Menely, Miami University, Oxford, for “‘The Present Obfuscation’: Cowper’s <i>Task</i> and the Time of Climate Change” (<i>PMLA</i>, May 2012)</td></tr>

<tr> 
<td valign=top>2011</td>
<td valign=top>Toral Jatin Gajarawala, New York University, for “Some Time between Revisionist and Revolutionary: Unreading History in Dalit Literature” (<i>PMLA</i>, May 2011)</td></tr>

<tr> 
<td valign=top>2010</td>
<td valign=top>Paul Benzon, Temple University, for “Lost in Transcription: Postwar Typewriting Culture, Andy Warhol’s Bad Book, and the Standardization of Error” (<i>PMLA</i>, January 2010)</td></tr>

<tr> 
<td valign=top>2009</td>
<td valign=top>Enrique García Santo-Tomás, University of Michigan, Ann Arbor, for “Fortunes of the <i>Occhiali Politici</i> in Early Modern Spain: Optics, Vision, Points of View” (<i>PMLA</i>, January 2009)</td></tr>

<tr> 
<td valign=top>2008</td>
<td valign=top>Nergis Ertürk, Pennsylvania State University, for "Modernity and Its Fallen Languages: Tanpınar's <i>Hasret</i>, Benjamin's Melancholy" (<i>PMLA</i>, January 2008)</td></tr>

<tr> 
<td valign=top>2007</td>
<td valign=top>Pauline Yu, American Council of Learned Societies, for "'Your Alabaster in This Porcelain': Judith Gautier's <i>Le livre de jade</i>" (March 2007)</td></tr>
<tr> 
<td valign=top>&nbsp;</td>
<td valign=top>

Honorable mention: Joseph R. Slaughter, Columbia University, for "Enabling Fictions and Novel Subjects: The <i>Bildungsroman</i> and International Human Rights Law" (October 2006)
</td></tr>

<tr> 
<td valign=top>2006</td>
<td valign=top>Lorraine Piroux, Rutgers University, for "The Encyclopedist and the Peruvian Princess: The Poetics of Illegibility in French Enlightenment Book Culture" (January 2006)
</td></tr>

<tr> 
<td valign=top>2005</td>
<td valign=top>Bill Brown, University of Chicago, for "The Dark Wood of Postmodernity (Space, Faith, Allegory)" (May 2005)
</td></tr>
<tr> 
<td valign=top>&nbsp;</td>
<td valign=top>
Honorable mention: Feisal G. Mohamed, Texas Tech University, for "Confronting Religious Violence: Milton's <i>Samson Agonistes</i>" (March 2005)
</td>
</tr>
<tr> 
<td valign=top>2004</td>
<td valign=top>Rolf J. Goebel, University of Alabama, Huntsville, for "Berlin's Architectural Citations: Reconstruction, Simulation, and the Problems of Historical Authenticity" (October 2003)</td>
</tr>
<tr> 
<td valign=top>2003</td>
<td valign=top>Anne Mallory, University of Georgia, for "Burke, Boredom, and the Theater of Counterrevolution" (March 2003) </td>
</tr>
<tr> 
<td valign=top>&nbsp;</td>
<td valign=top>Honorable mention: Paul Giles, University of Oxford, for "Transnationalism and Classic American Literature" (January 2003)</td>
</tr>
<tr> 
<td valign=top>2002</td>
<td valign=top>Geoffrey Sanborn, Bard College, for "Keeping Her Distance: Cisneros, Dickinson, and the Politics of Private Enjoyment" (October 2001)</td>
</tr>
<tr> 
<td valign=top>2001</td>
<td valign=top>Ian Baucom, Duke University, for "Globalit, Inc.; or, The Cultural Logic of Global Literary Studies" (January 2001)</td>
</tr>
<tr> 
<td valign=top>2000</td>
<td valign=top>Rita Felski, University of Virginia, for "Nothing to Declare: Identity, Shame, and the Lower Middle Class" (January 2000)</td>
</tr>
<tr> 
<td valign=top>1999</td>
<td valign=top>Phillip Novak, Le Moyne College, for "'Circles and Circles of Sorrow': In the Wake of Morrison's <i>Sula</i>" (March 1999)</td>
</tr>
<tr> 
<td valign=top>1998</td>
<td valign=top>Henry Staten, University of Washington, for "Ethnic Authenticity, Class, and Autobiography: The Case of <i>Hunger of Memory</i>" (January 
1998)</td>
</tr>
<tr> 
<td valign=top>1997</td>
<td valign=top>Jahan Ramazani, University of Virginia, for "The Wound of History: Walcott's <i>Omeros</i> and the Postcolonial Poetics of Affliction" (May 
1997)</td>
</tr>
<tr> 
<td valign=top>1996</td>
<td valign=top>Lawrence Lipking, Northwestern University, for "The Genius of the Shore: Lycidas, Adamastor, and the Poetics of Nationalism" (March 
1996)</td>
</tr>
<tr> 
<td>&nbsp;</td>
<td>Honorable mention: Ann Louise Kibbie, Bowdoin College, for "Monstrous Generation: The Birth of Capital in Defoe's <i>Moll Flanders</i> and <i>Roxana</i>" 
(October 1995)</td>
</tr>
<tr> 
<td valign=top>1995</td>
<td valign=top>David Wayne Thomas, University of California, Davis, for "G&ouml;del's Theorem and Postmodern Theory" (March 1995)</td>
</tr>
<tr> 
<td valign=top>1994</td>
<td valign=top>Claire Cavanagh, University of Wisconsin, Madison, for "Rereading the Poet's Ending: Mandelstam, Chaplin, and Stalin" (January 1994)</td>
</tr>
<tr> 
<td valign=top>1993 </td>
<td valign=top>Alan Nadel, Rensselaer Polytechnic Institute, for "God's Law and the Wide Screen: <i>The Ten Commandments</i> as Cold War 'Epic'" (May 
1993)</td>
</tr>
<tr> 
<td valign=top>1992 </td>
<td valign=top>Edward Hirsch, University of Houston, for "The Imaginary Irish Peasant" (October 1991)</td>
</tr>
<tr> 
<td valign=top>1991 </td>
<td valign=top>Beth S. Newman, Southern Methodist University, for "'The Situation of the Looker-On': Gender, Narration, and Gaze in <i>Wuthering Heights</i>" 
(October 1990), and David K. Herzberger, University of Connecticut, for "Narrating the Past: History and the Novel of Memory in Postwar Spain" (January 1991)</td>
</tr>
<tr> 
<td valign=top>1990 </td>
<td valign=top>William L. Andrews, University of Kansas, for "The Novelization of Voice in Early African American Narrative" (January 1990)</td>
</tr>
<tr> 
<td valign=top>1989 </td>
<td valign=top>Margaret Waller, Pomona College, for "<i>Cherchez la Femme</i>: Male Malady and Narrative Politics in the French Romantic Novel" (March 
1989)</td>
</tr>
<tr> 
<td valign=top>1988 </td>
<td valign=top>Thomas C. Caramagno, University of Hawaii, Honolulu, for "Manic-Depressive Psychosis and Critical Approaches to Virginia Woolf's Life and Work" (January 1988)</td>
</tr>
<tr> 
<td valign=top>1987 </td>
<td valign=top>Donald W. Foster, Vassar College, for "Master W. H., R.I.P." (January 1987)</td>
</tr>
<tr> 
<td valign=top>1986 </td>
<td valign=top>Thomas Hyde, Yale University, for "Boccaccio: The Genealogies of Myth" (October 1985)</td>
</tr>
<tr> 
<td valign=top>1985 </td>
<td valign=top>Terry Castle, Stanford University, for "The Carnivalization of Eighteenth-Century English Narrative" (October 1984)</td>
</tr>
<tr> 
<td valign=top>1984 </td>
<td valign=top>A. Kent Hieatt, University of Western Ontario, for "The Genesis of Shakespeare's <i>Sonnets</i>: Spenser's <i>Ruines of Rome: by Bellay</i>" 
(October 1983)</td>
</tr>
<tr> 
<td>&nbsp;</td>
<td>Honorable mention: Marshall Brown, University of Colorado, for "'Errours Endlesse Traine': On Turning Points and the Dialectical Imagination" (January 1984)</td>
</tr>
<tr> 
<td valign=top>1983 </td>
<td valign=top>Paul B. Armstrong, Georgia Institute of Technology, for "The Conflict of Interpretations and the Limits of Pluralism" (May 1983)</td>
</tr>
<tr> 
<td valign=top>1982 </td>
<td valign=top>Hans Eichner, University of Toronto, for "The Rise of Modern Science and the Genesis of Romanticism" (January 1982)</td>
</tr>
<tr> 
<td valign=top>1981 </td>
<td valign=top>George T. Wright, University of Minnesota, Minneapolis, for "Hendiadys and <i>Hamlet</i>" (March 1981)</td>
</tr>
<tr> 
<td>&nbsp;</td>
<td>Honorable mention: Gerhard Joseph, Lehman College, City University of New York, for "The <i>Antigone</i> as Cultural Touchstone: Matthew Arnold, Hegel, George Eliot, Virginia Woolf, and Margaret Drabble" (January 1981)</td>
</tr>
<tr> 
<td>&nbsp;</td>
<td>Honorable mention: Marshall Brown, University of Colorado, for "The Logic of Realism: A Hegelian Approach" (March 1981)</td>
</tr>
<tr> 
<td valign=top>1980 </td>
<td valign=top>Roger W. Herzel, State University of New York, Albany, for "'Much Depends on the Acting': The Original Cast of <i>Le Misanthrope</i>" 
(May 1980)</td>
</tr>
<tr> 
<td valign=top>1979 </td>
<td valign=top>David H. Miles, University of Virginia, for "Portrait of the Marxist as a Young Hegelian: Luk&aacute;cs' <i>Theory of the Novel</i>" 
(January 1979)</td>
</tr>
<tr> 
<td valign=top>1978 </td>
<td valign=top>Morris E. Eaves, University of New Mexico, for "Blake and the Artistic Machine: An Essay in Decorum and Technology" (October 1977)</td>
</tr>
<tr> 
<td valign=top>1977 </td>
<td valign=top>Evelyn J. Hinz, University of Manitoba, for "Hierogamy versus Wedlock: Types of Marriage Plots and Their Relationship to Genres of Prose Fiction" (October 1976)</td>
</tr>
<tr> 
<td valign=top>1976 </td>
<td valign=top>R. G. Peterson, Saint Olaf College, for "Critical Calculations: Measure and Symmetry in Literature" (May 1976)</td>
</tr>
<tr> 
<td valign=top>1975 </td>
<td valign=top>Walter J. Ong, SJ, Saint Louis University, for "The Writer's Audience Is Always a Fiction" (January 1975)</td>
</tr>
<tr> 
<td>&nbsp;</td>
<td>Honorable mention: A. Dwight Culler, Yale University, for "Monodrama and the Dramatic Monologue" (May 1975)</td>
</tr>
<tr> 
<td valign=top>1974 </td>
<td valign=top>George T. Wright, University of Minnesota, Minneapolis, for "The Lyric Present: Simple Present Verbs in English Poems" (May 1974)</td>
</tr>
<tr> 
<td valign=top>1973 </td>
<td valign=top>Elisabeth Schneider, University of California, Santa Barbara, for "Prufrock and After: The Theme of Change" (October 1972)</td>
</tr>
<tr> 
<td>&nbsp;</td>
<td>Honorable mention: Frances W. Weber, University of Michigan, for "Unamuno's <i>Niebla</i>: From Novel to Dream" (March 1973)</td>
</tr>
<tr> 
<td valign=top>1972 </td>
<td valign=top>R. A. Yoder, Northeastern University, for "Toward the 'Titmouse Dimension': The Development of Emerson's Poetic Style" (March 1972)</td>
</tr>
<tr> 
<td valign=top>1971 </td>
<td valign=top>Fredric R. Jameson, University of California, San Diego, for "Metacommentary" (January 1971) and "<i>La Cousine Bette</i> and Allegorical Realism" (March 1971)</td>
</tr>
<tr> 
<td>&nbsp;</td>
<td>Honorable mention: Alan E. Knight, Pennsylvania State University, for "The Medieval Theater of the Absurd" (March 1971)</td>
</tr>
<tr> 
<td>&nbsp;</td>
<td>Honorable mention: Robert Champigny, Indiana University, for "Implicitness in Narrative Fiction" (October 1970)</td>
</tr>
<tr> 
<td valign=top>1970 </td>
<td valign=top>E. D. Lowry, Dunbarton College of Holy Cross, for "The Lively Art of <i>Manhattan Transfer</i>" (October 1969)</td>
</tr>
<tr> 
<td>&nbsp;</td>
<td>Honorable mention: W. B. Carnochan, Stanford University, for "Satire, Sublimity, and Sentiment: Theory and Practice in Post-Augustan Satire" (March 1970)</td>
</tr>
<tr> 
<td>&nbsp;</td>
<td>Honorable mention: William V. Spanos, State University of New York, Binghamton, for "'Wanna Go Home, Baby?': <i>Sweeney Agonistes</i> as Drama of the Absurd" (January 1970)</td>
</tr>
<tr> 
<td valign=top>1969 </td>
<td valign=top>Rudolf B. Gottfried, Indiana University, Bloomington, for "Our New Poet: Archetypal Criticism and <i>The Faerie Queene</i>" (October 1968)</td>
</tr>
<tr> 
<td>&nbsp;</td>
<td>Honorable mention: Leon Gottfried, Washington University, for "Death's Other Kingdom: Dantesque and Theological Symbolism in 'Flowering Judas'" (January 1969)</td>
</tr>
<tr> 
<td>&nbsp;</td>
<td>Honorable mention: Jules Brody, City University of New York, for "<i>Don Juan</i> and <i>Le Misanthrope</i>, or the Esthetics of Individualism in Moli&egrave;re" (May 1969)</td>
</tr>
<tr> 
<td>&nbsp;</td>
<td>Honorable mention: L. A. Beaurline, University of Virginia, for "Ben Jonson and the Illusion of Completeness" (January 1969)</td>
</tr>
<tr> 
<td>&nbsp;</td>
<td>Honorable mention: Nina Baym, University of Illinois, for "Fleda Vetch and the Plot of <i>The Spoils of Poynton</i>" (January 1969)</td>
</tr>
<tr> 
<td valign=top>1968 </td>
<td valign=top>Stanley B. Greenfield, University of Oregon, for "Grammar and Meaning in Poetry" (October 1967)</td>
</tr>
<tr> 
<td>&nbsp;</td>
<td>Honorable mention: Joseph J. Moldenhauer, University of Texas, for "Murder as a Fine Art: Basic Connections between Poe's Aesthetics, Psychology, and Moral Vision" (May 1968)</td>
</tr>
<tr> 
<td>&nbsp;</td>
<td>Honorable mention: Glauco Cambon, Rutgers University, for "Eugenio Montale's 'Motets': The Occasions of Epiphany" (December 1967)</td>
</tr>
<tr> 
<td valign=top>1967 </td>
<td valign=top>Donald Rackin, Temple University, for "Alice's Journey to the End of Night" (October 1966)</td>
</tr>
<tr> 
<td valign=top>1966 </td>
<td valign=top>Elisabeth Schneider, University of California, Santa Barbara, for "<i>The Wreck of the Deutschland</i>: A New Reading" (March 1966)</td>
</tr>
<tr> 
<td valign=top>1965 </td>
<td valign=top>Ren&eacute; Girard, Johns Hopkins University, for "Camus's Stranger Retried" (December 1964)</td>
</tr>
<tr> 
<td valign=top>1964 </td>
<td valign=top>David J. DeLaura, University of Texas, Austin, for "Arnold and Carlyle" (March 1964)</td>
</tr>
<tr> 
<td>&nbsp;</td>
<td>Honorable mention: William M. Manly, Simmons College, for "Journey to Consciousness: The Symbolic Pattern of Camus's <i>L'&eacute;tranger</i>" 
(June 1964)</td>
</tr>
<tr> 
<td>&nbsp;</td>
<td>Honorable mention: Isidore Silver, Washington University, for "Ronsard's Reflections on Cosmogony and Nature" (June 1964)</td>
</tr>
<tr> 
<td><img src="/IMAGES/clear.gif" width="80" height="1" alt=""></td>
<td>&nbsp;</td>
</tr>
</table>

[[[insert file "pastwinner_footer"]]]
