<h1>Katherine Singer Kovacs Prize</h1>
<table border=0 cellspacing=4 cellpadding=2>
<tr>
<td valign=top>2012</td>
<td>Joanne Rappaport, Georgetown University, and Tom Cummins, Harvard University, for <i>Beyond the Lettered City: Indigenous Literacies in the Andes </i>(Duke Univ. Press, 2012)</td></tr>
<tr><td valign=top>&nbsp;</td>
<td>Honorable mention: Nadia R. Altschul, Johns Hopkins University, for <i>Geographies of Philological Knowledge: Postcoloniality and the Transatlantic National Epic</i> (Univ. of Chicago Press, 2012)</td>
</tr>
<tr> 
<td valign=top>2011</td>
<td valign=top>E. Michael Gerli, University of Virginia, for Celestina <i>and the Ends of Desire</i> (Univ. of Toronto Press, 2011)</td>
</tr>

<tr> 
<td valign=top>2010</td>
<td valign=top>Stephanie Merrim, Brown University, for <i>The Spectacular City, Mexico, and Colonial Hispanic Literary Culture</i> (Univ. of Texas Press, 2010)</td></tr>
<tr><td valign=top>&nbsp;</td>
<td valign=top>Honorable mention: Jon Beasley-Murray, University of British Columbia, for <i>Posthegemony: Political Theory and Latin America</i> (Univ. of Minnesota Press, 2010)</td>
</tr>

<tr> 
<td valign=top>2009</td>
<td valign=top>Lisa Beth Voigt, Ohio State University, for <i>Writing Captivity in the Early Modern Atlantic: Circulations of Knowledge and Authority in the Iberian and English Imperial Worlds</i> (Univ. of North Carolina Press for the Omohundro Institute of Early American History and Culture by the University of North Carolina Press, 2009)</td>
</tr>
<tr> 
<td valign=top>2008</td>
<td valign=top>Nicolás Wey Gómez, Brown University, for <i>The Tropics of Empire: Why Columbus Sailed South to the Indies</i> (MIT Press, 2008)</td>
</tr>
<tr> 
<td valign=top></td>
<td valign=top>Honorable mention: Joan Ramon Resina, Stanford University, for <i>Barcelona’s Vocation of Modernity: Rise and Decline of an Urban Image</i> (Stanford Univ. Press, 2008)</td>
</tr>
<tr> 
<td valign=top>2007</td>
<td valign=top>Rolena Adorno, Yale University, for <i>The Polemics of Possession in Spanish American Narrative</i> (Yale Univ. Press, 2007)</td>
</tr>
<tr> 
<td valign=top></td>
<td valign=top>Honorable Mention: Gary Tomlinson, University of Pennsylvania, for <i>The Singing of the New World: Indigenous Voice in the Era of European Contact</i> (Cambridge Univ. Press, 2007)</td>
</tr>

<tr> 
<td valign=top>2006</td>
<td valign=top>William P. Childers, Brooklyn College, for <i>Transnational Cervantes</i> (Univ. of Toronto Press, 2006)</td>
</tr>
<tr> 
<td valign=top></td>
<td valign=top>Honorable Mention: Lois Parkinson Zamora, University of Houston, for <i>The Inordinate Eye: New World Baroque and Latin American Fiction</i> (Univ. of Chicago Press, 2006)</td>
</tr>

<tr> 
<td valign=top>2005</td>
<td valign=top>Rubén Gallo, Princeton University, for <i>Mexican Modernity: The Avant-Garde and the Technological Revolution</i> (MIT Press, 2005)</td>
</tr>
<tr> 
<td valign=top>2004</td>
<td valign=top>Sibylle Fischer, New York University, for <i>Modernity Disavowed: Haiti and the Cultures of Slavery in the Age of Revolution</i> (Duke Univ. Press, 2004)</td>
</tr>
<tr> 
<td valign=top></td>
<td valign=top>Honorable mention: Francie Cate-Arries, College of William and Mary, for <i>Spanish Culture behind Barbed Wire: Memory and Representation of the French Concentration Camps</i>, 1939–1945 (Bucknell Univ. Press, 2004)</td>
</tr>
<tr> 
<td valign=top>2003</td>
<td valign=top>Diana Taylor, New York University, for <i>The Archive and the Repertoire: Performing Cultural Memory in the Americas</i> (Duke Univ. Press, 2003)</td>
</tr>
<tr> 
<td valign=top>2002</td>
<td valign=top>No&euml;l Valis, Yale University, for <i>The Culture of Cursiler&iacute;a: 
Bad Taste, Kitsch, and Class in Modern Spain</i> (Duke Univ. Press, 2002)</td>
</tr>
<tr> 
<td valign=top>&nbsp;</td>
<td valign=top>Honorable mention: Jean Franco, Columbia University, 
for <i>The Decline and Fall of the Lettered City: Latin America in the Cold 
War</i> (Harvard Univ. Press, 2002)</td>
</tr>
<tr> 
<td valign=top>2001</td>
<td valign=top>Georgina Dopico Black, New York University, for <i>Perfect Wives, Other Women: Adultery 
and Inquisition in Early Modern Spain</i> (Duke Univ. Press, 2001)</td>
<tr>
<td valign=top>&nbsp;</td>
<td>Francine R. Masiello, University of California, Berkeley, for <i>The Art of Transition: Latin American Culture and Neoliberal Crisis</i> (Duke Univ. Press, 2001)</td>
</tr>
<tr> 
<td valign=top>2000 
<td>Catherine Julien, Western Michigan University, for <i>Reading Inca History</i> 
(Univ. of Iowa Press, 2000)</td>
</tr>
<tr> 
<td valign=top>1999</td>
<td valign=top>Idelber Avelar, Tulane University, for <i>The Untimely Present: 
Postdictatorial Latin American Fiction and the Task of Mourning</i> (Duke 
Univ. Press, 1999)</td>
</tr>
<tr> 
<td valign=top>1998</td>
<td valign=top>Frances Aparicio, University of Michigan, Ann Arbor, for <i>Listening 
to Salsa: Gender, Latin Popular Music, and Puerto Rican Cultures</i> (Wesleyan 
Univ. Press, 1997)</td>
</tr>
<tr> 
<td valign=top></td>
<td valign=top>Rebecca Haidt, Ohio State University, Columbus, for <i>Embodying 
Enlightenment: Knowing the Body in Eighteenth-Century Spanish Literature 
and Culture</i> (St. Martin's Press, 1998)</td>
</tr>
<tr> 
<td valign=top>1997</td>
<td valign=top>Kathryn Joy McKnight, Booker T. Washington High School, Tulsa, 
Oklahoma, for <i>The Mystic of Tunja: The Writings of Madre Castillo, 1671-1742</i> 
(Univ. of Massachusetts Press, 1997)</td>
</tr>
<tr> 
<td valign=top>1996</td>
<td valign=top>Diana Sorensen, Wesleyan University, for <i>Facundo and the 
Construction of Argentine Culture</i> (Univ. of Texas Press, 1996)</td>
</tr>
<tr> 
<td valign=top>1995</td>
<td valign=top>Walter D. Mignolo, Duke University, for <i>The Darker Side 
of the Renaissance: Literacy, Territoriality, and Colonization</i> (Univ. 
of Michigan Press, 1995)</td>
</tr>
<tr> 
<td valign=top>1994</td>
<td valign=top>Candace Slater, University of California, Berkeley, for <i>Dance 
of the Dolphin: Transformation and Disenchantment in the Amazonian Imagination</i> 
(Univ. of Chicago Press, 1994)</td>
</tr>
<tr> 
<td valign=top></td>
<td valign=top>Honorable mention: Gustavo Pérez Firmat, Duke University, for 
<i>Life on the Hyphen: The Cuban-American Way</i> (Univ. of Texas Press, 
1994)</td>
</tr>
<tr> 
<td valign=top>1993</td>
<td valign=top>Margarita Zamora, University of Wisconsin, Madison, for <i>Reading 
Columbus</i> (Univ. of California Press, 1993)</td>
</tr>
<tr> 
<td valign=top>1992</td>
<td valign=top>Antonio Benítez-Rojo, Amherst College, for <i>The Repeating 
Island: The Caribbean and the Postmodern Perspective</i> (Duke Univ. Press, 
1992)</td>
</tr>
<tr> 
<td> </td>
<td>Francine Masiello, University of California, Berkeley, for <i>Between 
Civilization and Barbarism: Women, Nation, and Literary Culture in Modern 
Argentina</i> (Univ. of Nebraska Press, 1992)</td>
</tr>
<tr> 
<td valign=top> </td>
<td valign=top>Honorable mention: Debra A. Castillo, Cornell University, for 
<i>Talking Back: Toward a Latin American Feminist Literary Criticism</i> 
(Cornell Univ. Press, 1992)</td>
</tr>
<tr> 
<td valign=top>1991</td>
<td valign=top>George Mariscal, University of California, San Diego, for <i>Contradictory 
Subjects: Quevedo, Cervantes, and Seventeenth-Century Spanish Culture</i> 
(Cornell Univ. Press, 1991)</td>
</tr>
<tr> 
<td> </td>
<td>William Rowe, King's College, University of London, and Vivian Schelling, 
University of East London, for <i>Memory and Modernity: Popular Culture 
in Latin America</i> (Verso Books, 1991)</td>
</tr>
<tr> 
<td valign=top> </td>
<td valign=top>Honorable mention: Maria G. Tomsich, University of British 
Columbia, for a translation of <i>Love Customs in Eighteenth-Century Spain 
by Carmen Martín Gaite</i> (Univ. of California Press, 1991)</td>
</tr>
<tr> 
<td valign=top>1989–90</td>
<td valign=top>Roberto González Echevarría, Yale University, for <i>Myth and 
Archive: A Theory of Latin American Narrative</i> (Cambridge Univ. Press, 
1990)</td>
</tr>
<tr> 
<td> </td>
<td>Regina Harrison, Bates College, for <i>Signs, Songs, and Memory in the 
Andes: Translating Quechua Language and Culture</i> (Univ. of Texas Press, 
1989)</td>
</tr>
<tr> 
<td><img src="/IMAGES/clear.gif" width="80" height="1" alt=""></td>
<td>&nbsp;</td>
</tr>
</table>
[[[insert file "pastwinner_footer"]]]
