<h1>Phyllis Franklin Award for Public Advocacy of the Humanities</h1>
<table border=0 cellspacing=4 cellpadding=2>
<tr>
<td valign=TOP>2013</td>
<td valign=TOP>John Sayles</td>
</tr>
<tr>
<td valign=TOP>2010</td>
<td valign=TOP>Terry Gross</td>
</tr>
<tr> 
<td valign=TOP>2007</td>
<td valign=TOP>Richard J. Franke</td>
</tr>
<tr> 
<td valign=TOP>2005</td>
<td valign=TOP>William G. Bowen</td>
</tr>
<tr> 
<td valign=TOP>2003</td>
<td valign=TOP>Edward M. Kennedy</td>
</tr>
</table>
