<h1>2009 Philadelphia Information</h1>
<a href="http://www.philadelphiausa.travel/mla" target="_blank">Convention and Visitors Bureau</a> 
Information on museums, cultural and sporting activities, and Philadelphia history—along with discount coupons for MLA convention registrants.

<a href="/connections_accessible">Guide to Accessible Restaurants</a>
Ann Keefer and Josh Lukin, who have served on the MLA Committee on Disability Issues in the Profession, provide a list of ten Center City restaurants with good food and wheelchair-accessible entrances.

<a href="/connections_chefs">Chefs’ Favorites</a>
Three award-winning Philadelphia chefs—Georges Perrier, Jose Garces, and Mike Solomonov—tell us where they go to eat when they’re not cooking at their own restaurants.

<a href="/connections_frugal">Frugal Philly</a>
Jeff Maskovsky, a colleague at the American Anthropological Association, shares his take on budget-friendly Philadelphia restaurants, with a few splurges added.
