<h1><i>PMLA</i> Editors*</h1>
John W. Kronik, 1985–92
Domna C. Stanton, 1992–97
Martha Banta, 1997–2000
Carlos J. Alonso, 2000–03
Marianne Hirsch, 2003–06
Patricia Yaeger, 2006–11
Simon Gikandi, 2011–

*In 1985, the MLA Executive Council decided to separate the responsibilities of the editor of <i>PMLA</i> from those of the executive director.
