<h1><i>PMLA</i></h1>  
<I>PMLA</i> is the journal of the Modern Language Association of America. Since 1884 <I>PMLA</i> has published members’ essays judged to be of interest to scholars and teachers of language and literature. Four issues each year (January, March, May, and October) present essays on language and literature, and the November issue is the program for the association’s annual convention. (Up until 2009, there was also an issue in September, the Directory, containing a listing of the association’s members, a directory of departmental administrators, and other professional information. Its contents are now <a href="/directory">online</a>.)  Each issue of <I>PMLA</i> is  sent directly to about 28,000 college and university teachers of English and foreign languages who belong to the association and to about 1,900 libraries throughout the world.

<a href="http://www.mlajournals.org/loi/pmla" target="_blank"><b><i>PMLA</i> Online</b></a> (full text available through library subscription only) 
<a href="/pmla_receiving"><b>Receiving <i>PMLA</i></b></a>
<a href="/pmla_submitting"><b>Submitting Manuscripts to <i>PMLA</i></b></a>
<a href="/pmla_advertising"><b>Advertising in <i>PMLA</i></b></a>
<a href="/pmla_announcements"><b>Placing an Announcement in In Memoriam</b></a>
<a href="/mla_libraryrates_2014" ><b>Institutional Subscriptions</b></a>[[[docstudio filetype_tag_pdf]]]
<a href="<@$store_base_url>CID70"><b>Purchase Issues of <i>PMLA</i></b></a>
<blockquote style="line-height: 14px; margin-top: 35px">
<h3 style="margin-bottom: 12px">Editor and Staff</h3>
<i>Editor</i>
Simon Gikandi
<i>Princeton University</i>

<i>Managing Editor</i>
Judy Goulding

<i>Associate Managing Editor</i>
Eric Wirth

<i>Associate Editor</i>
Barney Latimer

<i>Assistant Editors</i>
Christiane Angeli
John D. Golbach

<i>Advertising Manager and Submissions Associate</i>
Annabel Schneider

<i>Editorial Assistant</i>
Claire Luchette

<h3 style="margin-bottom: 12px">Editorial Board</h3>
Evelyne Ender, 2014
<i>Hunter College, City University of New York</i>

Julia Hell, 2015 
<i>University of Michigan, Ann Arbor</i>

Christopher Looby, 2014
<i>University of California, Los Angeles</i>

Deidre Shauna Lynch, 2014
<i>University of Toronto</i>

Kalpana Seshadri, 2015 
<i>Boston College</i>

Noël Valis, 2015 
<i>Yale University</i>

<h3 style="margin-bottom: 12px">Advisory Committee</h3>
Susan Z. Andrade, 2014
<i>University of Pittsburgh</i>

Arturo Arias, 2014
<i>University of Texas, Austin</i>

Eva Badowska, 2016 
<i>Fordham University</i>

Emilie L. Bergmann, 2014
<i>University of California, Berkeley</i>

Patricia Lynn Bizzell, 2014
<i>College of the Holy Cross</i>

Marcellus Blount, 2015
<i>Columbia University</i>

Susan Berry Brill de Ramírez, 2016 
<i>Bradley University</i>

Martin Joseph Camargo, 2015
<i>University of Illinois, Urbana</i>

Julie Ann Carlson, 2015
<i>University of California, Santa Barbara</i>

Robert J. Corber, 2016 
<i>Trinity College</i>

Jenny Davidson, 2015
<i>Columbia University</i>

Patrick Michael Erben, 2016
<i>University of West Georgia</i>

Stephen M. Fallon, 2015 
<i>University of Notre Dame</i>

Grant Farred, 2015
<i>Cornell University</i>

Carla A. Freccero, 2014
<i>University of California, Santa Cruz</i>

Debjani Ganguly, 2015
<i>Australian National University</i>

Rebecca Garden, 2015
<i>Upstate Medical University, State University of New York</i>

Susan Gillman, 2016 
<i>University of California, Santa Cruz</i>

Lauren M. E. Goodlad, 2014
<i>University of Illinois, Urbana</i>

Maryemma Graham, 2014
<i>University of Kansas</i>

Jack Halberstam, 2015
<i>University of Southern California</i>

Shirley Brice Heath, 2014
<i>Stanford University</i>

Donald Hedrick, 2015
<i>Kansas State University</i>

Rosanne M. Kennedy, 2014
<i>Australian National University</i>

Matthew J. Kinservik, 2016 
<i>University of Delaware, Newark</i>

Christopher M. Lupke, 2015
<i>Washington State University, Pullman</i>

Jann Matlock, 2016 
<i>University College London</i>

Leerom Medovoi, 2014
<i>Portland State University</i>

Brinda J. Mehta, 2015
<i>Mills College</i>

Anuradha Dingwaney Needham, 2014
<i>Oberlin College</i>

Graziella Parati, 2016 
<i>Dartmouth College</i>

Andrew C. Parker, 2016 
<i>Rutgers University, New Brunswick</i>

Marta C. Peixoto, 2014
<i>New York University</i>

Gema Pilar Pérez-Sánchez, 2014
<i>University of Miami</i>

Charles A. Perrone, 2016 
<i>University of Florida</i>

Kevin M. F. Platt, 2016 
<i>University of Pennsylvania</i>

Karlis Racevskis, 2015
<i>Ohio State University, Columbus</i>

Ann Marie Rasmussen, 2016 
<i>Duke University</i>

José M. Rodríguez García, 2015
<i>Duke University</i>

Gabriele M. Schwab, 2015
<i>University of California, Irvine</i>

David R. Shumway, 2016 
<i>Carnegie Mellon University</i>

Mihoko Suzuki, 2014
<i>University of Miami</i>

Johannes von Moltke, 2016 
<i>University of Michigan, Ann Arbor</i>

Richard H. Watts, 2014
<i>University of Washington, Seattle</i>

David Joseph Wrisley, 2015
<i>American University of Beirut</i>


 
