<h1>Submitting Manuscripts to <i>PMLA</i></h1>
<a name="edpolicy"> </a><h2>Editorial Policy for Essays</h2>
<i>PMLA</i> welcomes essays of interest to those concerned with the study of language and literature. As the publication of a large and heterogeneous association, the journal is receptive to a variety of topics, whether general or specific, and to all scholarly methods and theoretical perspectives. The ideal <i>PMLA</i> essay exemplifies the best of its kind, whatever the kind; addresses a significant problem; draws out clearly the implications of its findings; and engages the attention of its audience through a concise, readable presentation. Manuscripts in languages other than English are accepted for review but must be accompanied by a detailed summary in English (generally of 1,000-1,500 words) and must be translated into English if they are recommended to the Editorial Board. Articles of fewer than 2,500 words or more than 9,000 words are not considered for publication. The word count includes notes but excludes works-cited lists and translations, which should accompany foreign language quotations. The MLA urges its contributors to be sensitive to the social implications of language and to seek wording free of discriminatory overtones.

Only members of the association may submit articles to <i>PMLA</i>. For a collaboratively written essay to be eligible for submission, all coauthors must be members of the MLA. <i>PMLA</i> does not publish book reviews or new works of fiction, nor does it accept articles that were previously published in any language. An article is considered previously published if it appears in print or in an online outlet with the traits of publication, such as editorial selection of content, a formal presentation, and ongoing availability. Online contexts that typically lack these traits include personal Web pages, discussion groups, and repositories. Each article submitted is sent to two reviewers, usually one consultant reader and one member of the Advisory Committee. Articles recommended by these readers are then sent to the members of the Editorial Board, who meet periodically with the editor to make final decisions. Until a final decision is reached, the author's name is not made known to consultant readers, to members of the Advisory Committee and the Editorial Board, or to the editor. Because the submission of an article simultaneously to more than one refereed journal can result in duplication of the demanding task of reviewing the manuscript, it is <i>PMLA</i>'s policy not to review articles that are under consideration by other journals. An article found to have been simultaneously submitted elsewhere will not be published in <i>PMLA</i> even if it has already been accepted for publication by the Editorial Board.

Submissions, prepared according to the <i>MLA Style Manual and Guide to Scholarly Publishing</i>, should be sent electronically or, in duplicate, as hard copy to
<blockquote>
Managing Editor
<i>PMLA</i>
Modern Language Association
26 Broadway, 3rd floor
New York, NY 10004-1789
phone: 646 576-5026 or 646 576-5024
fax: 646 458-0030
<a href="mailto:pmlasubmissions@mla.org">pmlasubmissions@mla.org</a>
</blockquote>

With each print submission please include a self-addressed envelope and enough postage for one copy to be returned. Authors' names should not appear on manuscripts; instead, a cover sheet, with the author's name and address and the title of the article, should accompany each manuscript. Authors should not refer to themselves in the first person in the submitted text or notes if such references would identify them; any necessary references to the author's previous work, for example, should be in the third person. If the contribution includes any materials (e.g., quotations that exceed fair use, illustrations, charts, other graphics) that have been taken from another source, the author must obtain written permission to reproduce them in print and electronic formats.

For detailed information on the review process for submitted essays, please send an inquiry to one of the addresses given above for <i>PMLA</i> submissions.

<h2>Special Topics</h2>
From time to time the Editorial Board invites essays on special topics designed to attract a wide readership. These groupings allow dialogue among essays and encourage in-depth investigation of the selected subjects. The board announces special topics in <i>PMLA</i> and in the <i>MLA Newsletter</i> well before the manuscript-submission deadlines. At least one coordinator is chosen to assist in the preparation of each special topic. Past topics include African and African American Literature; The Politics of Critical Language; Cinema; Theory of Literary History; Performance; Literature and the Idea of Europe; Literature and Censorship; Colonialism and the Postcolonial Condition; The Status of Evidence; The Teaching of Literature; Ethnicity; Ethics and Literary Study; Rereading Class; Globalizing Literary Studies; Mobile Citizens, Media States; America: The Idea, the Literature; Imagining History; Literatures at Large; Science Fiction and Literary Studies: The Next Millennium; On Poetry; The History of the Book and the Idea of Literature; Cities; Remapping Genre; Comparative Racialization; War; Literary Criticism for the Twenty-First Century; Celebrity, Fame, Notoriety; Work; Tragedy; and Emotions. Suggestions for future topics are always welcome.

All manuscripts submitted for a special topic are subject to <i>PMLA</i>'s <a href="#edpolicy">editorial policy</a> and format prescriptions. In submitting such manuscripts, members should indicate the topic for which the essays are to be considered. Manuscripts may be submitted anytime before the deadline and are processed as received. Submissions on the following topic are invited; the subtopics listed are provided by way of example and suggestion only: 

<b><i>Literature in the World</i></b>
<i>Deadline for submissions: 3 November 2014</i>
Coordinator: Simon Gikandi (Princeton Univ.)

<i>PMLA</i> invites essays on the nature and role of literature in a diverse and multilingual world. The special issue will seek to provide a critical reflection on the diversity of both dominant and less-taught languages and of their spheres of use, to engage with the vernacular and the indigenous as critical categories, and to consider conceptual or thematic structures that invite literary studies to move outside the rubrics of nation, state, and national language. The goals of the issue are to engage with literary expression in any language, tradition, and historical period outside mainstream movements and critical traditions and to open new avenues for thinking about what work literature does across linguistic and geographic zones. The issue will also address the changing nature of institutions of literary production in diverse traditions, the question of authorship, and the role of authors as subjects and agents of literature. The Editorial Board welcomes essays that move literary criticism, theory, and literary history toward new conversations about literatures in a multilingual world and define or redefine what literature means in the twenty-first century. How are questions of language and power played out in “other empires,” such as the Russian, the Chinese, and the Japanese and the dominant African empires of the nineteenth century? What are the possibilities and limits of studying literature across languages and traditions? What does it mean for English, French, or Spanish to be creolized? What is the role of regional languages and their literatures in globalization? What happens when we change the direction of comparison from North-South to North-North or South-South? How does literature work in multilingual situations? What is the future of minor literatures and less-taught languages? How does literature function in primarily oral cultures? What is the role of translation in the circulation of literary cultures in different periods and places?

<h2>Criticism in Translation</h2>
MLA members are invited to submit to the <i>PMLA</i> Editorial Board proposals for translations. Articles, as well as chapters or sections of books that can function as independent units, will be considered. The originals may be in any language. Two types of proposals are welcome: (1) significant scholarship from earlier periods that has not lost its forcefulness and whose retrieval in English in <i>PMLA</i> would be a noteworthy event for a broad body of readers and (2) contemporary work of sufficient weight and potential influence to merit the attention of the field as a whole.

A member who wishes to make a proposal should first ascertain that no previous English translation exists. The proposer should then provide the managing editor with the following materials: (1) a photocopy of the original essay, (2) an extended summary of the entire essay in English, (3) an introductory statement of approximately 1,000 words, prepared in accordance with MLA style, that will be published with the essay if the essay is accepted, (4) information on the copyright status of the original (if the translation is accepted for publication, the proposer will be responsible for obtaining permission to print it). In addition, if the proposer wishes to serve as translator of the essay or to designate a translator (who must also be an MLA member), a 1,000-word sample of the translation should be submitted; otherwise the Editorial Board will select a translator.

The translated essays should normally not exceed <i>PMLA</i>'s 9,000-word limit. The Editorial Board will approve or decline the proposals, evaluate the quality of the translations, and cooperate with the proposers and translators.

<h2>Little-Known Documents</h2>
MLA members are invited to submit to the <i>PMLA</i> Editorial Board proposals regarding little-known documentary material that merits the attention of a broad range of readers. Consideration will be given to archival data from any period and in any language that do not exceed <i>PMLA</i>'s 9,000-word limit.

A member who wishes to make a proposal should provide the managing editor with the following materials: (1) a photocopy of the document, (2) an extended summary of the document in English, (3) an introductory statement of approximately 1,000 words, prepared in accordance with MLA style, that will be published with the document if it is accepted, (4) information on the copyright status of the original (if the document is accepted for publication, the proposer will be responsible for obtaining permission to print it). In addition, if the document is not in English and if the proposer wishes to serve as translator or to designate a translator (who must also be an MLA member), the proposal should include a 1,000-word sample of the translation; otherwise the Editorial Board will select a translator of accepted non-English material. The Editorial Board will approve or decline the proposals.

<h2>Forum (Letters to the Editor)</h2>
<i>PMLA</i> invites members of the association to submit letters that comment on articles in previous issues or on matters of general scholarly or critical interest. The editor considers eligible letters for publication in the Forum, a section of the January, March, May, and October issues. The editor reserves the right to reject or edit Forum contributions and offers the <i>PMLA</i> authors discussed in published letters an opportunity to reply. Submissions of more than one thousand words are not considered. The journal omits titles before persons' names and discourages endnotes and works-cited lists in the Forum.

Letters should be e-mailed to <a href="mailto:pmlaforum@mla.org">pmlaforum@mla.org</a> or printed double-spaced and mailed to
<blockquote> 
<i>PMLA</i> Forum
Modern Language Association
26 Broadway, 3rd floor
New York, NY 10004-1789
</blockquote>
