<img src="/IMAGES/mla_logo_email.gif" width="217" height="66" border="0" align="top" hspace="0" vspace="0" alt="mlalogo">


Dear Colleague:

I write to tell you of my plans for the Presidential Forum at the 2009 MLA convention in Philadelphia and to invite you to think about how you can collaborate. Following a tradition begun by Marjorie Perloff with her 2006 forum ("The Sound of Poetry, the Poetry of Sound"), continued by Michael Holquist ("The Humanities at Work in the World") and now by Gerald Graff ("The Way We Teach Now"), I've chosen "The Tasks of Translation in the Global Context" as the theme for my presidential initiative at next year's convention.

To recognize the importance of translation in the modern world, it suffices to reflect on the number of different languages we human beings speak and on the need for transmitting knowledge across linguistic boundaries. Moreover, the drive to translate extends well beyond the conventional understanding of rendering a message produced in one language by means of another language. As its Latin root <I>translatio</I> (transfer, carryover, displacement) suggests, translation's basic function is to move meanings from one context (often but by no means exclusively linguistic) to another. In everyday usage, translation can denote such vital concepts as decoding, paraphrase, interpretation, and explanation; its purpose and scope are those of communication itself.

For the Modern Language Association, the issues raised by translation are more immediate, for they are focused by our institutional commitments to studying and teaching language and literature. The general question our organization constantly confronts in a largely monolingual environment is the relation of English to foreign languages. This question has many practical as well as theoretical dimensions. How do we justify teaching literature in translation and deal with the constraints, losses, and displacements that reading in translation entails? What uses should we make of translation—from and into the target language—in teaching foreign languages? Should departments of foreign and comparative literatures use translations extensively and make comparative translation a cornerstone of the discipline, or should they defend the use of original texts and pursue a practice of cultural comparison that stresses linguistic difference? What place should the nascent field of translation studies and courses in translation theory have in the teaching of language and literature? What perspectives on translation are offered by the various subfields of linguistics, and what can the study of problems in translation contribute to work on language acquisition? In the broad domain of study embraced by the MLA, what role should we ascribe to programs that train professional translators? What roles do we play in decisions about what texts are to be translated and in what direction? In the discussion about our national deficit in knowledge of foreign languages and cultures and about the need for international or global studies, should we be concerned about a translation deficit and advocate for more translation as a means of fostering transcultural awareness?

A wide-ranging exploration of these and other related questions can, I believe, be organized around three axes: translation in teaching, translation in theory, and translation in practice-translation at work in the world. My Presidential Forum will consider the future of translation, and related sessions will focus on these three broad spheres of interest. At the 2009 convention I hope to see the theme of translation addressed in some of the regular sessions organized by MLA divisions, discussion groups, and allied or affiliated organizations as well as in special sessions that individuals or groups of colleagues may wish to propose.

Beginning in January 2009, forms for submitting program copy for all sessions will contain a checkbox for the organizer to indicate whether the session should be considered for inclusion in the presidential theme. Please check the MLA Web site for these forms in January. As in the past three years, selected sessions will be listed in a brochure along with the sessions that make up the Presidential Forum; it will be published in print and on the MLA Web site. Although I cannot include all sessions, I will be grateful for your help in identifying potential contributions to the presidential theme of translation. I look forward to seeing you in 2009 in Philadelphia.

Cordially,
<img src="/IMAGES/porter_sig.gif" width="200" height="55" border="0" align="top" hspace="0" vspace="0" alt="mlalogo">
Catherine Porter
