<style>
p.source {text-indent: -2em; padding-left: 2em;}
</style>

<h1>2013 Presidential Address</h1>

<p><i>The Presidential Address was delivered at the 2013 MLA Annual Convention in Boston by Michael Bérubé, then president of the association. An audio recording and transcript of his speech, which was introduced by Executive Director Rosemary G. Feal, appear here. The full address will be published in the May 2013 issue of </i>PMLA<i>.</i></p>

<script type="text/javascript" 
src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"> 
</script> 

<script type="text/javascript" src="/SCRIPTS/jwplayer/jwplayer.js"></script> 

<div style="text-align:center; margin-top:30px; margin-bottom:30px;">
<div id="mediaplayer">Loading the player ...</div> 
</div>
<script type="text/javascript">
jwplayer('mediaplayer').setup({
'flashplayer': '/SCRIPTS/jwplayer/player.swf',
'id': 'playerID',
'width': '400',
'height': '24',
'file': 'http://www.mla.org/files/pres_address_2013.mp3',
'controlbar': 'bottom',
'autostart': 'false',
'allowfullscreen': 'false'

});
</script>



<h2>How We Got Here</h2>

<p>Last year around this time, I was on my way to a panel on which I was slated to serve as a respondent, when Hap Veeser waylaid me and said, “Michael! You might be just the person I need to talk to.”  When I expressed some puzzlement about why, Hap explained, “I’m collecting the three biggest lies told at the MLA, but I only have two.  The first is ‘I loved your panel.’  The second is ‘I’m so sorry I missed your panel.’  What’s the third?”  I laughed and said, “Actually, you probably did ask the right person: I know the answer to this.”  Then I waited a beat and said, “I’ll be brief.”</p>

<p>No sooner did I utter those words than I went to my panel and proceeded to listen to <i>three consecutive twenty-five-minute presentations</i>.  Never mind not leaving time for questions; the panelists didn’t even leave any time for the respondent.  So I got up and noted that because the session was now over, I would confine my remarks to five minutes—but that to punish everyone for their bad behavior, I would speak even more quickly than I usually do.  Well, I will not do that tonight.  And I will not be brief, either.</p>

<p>I would like to begin with the traditional invocation: this is a brief prayer that has prefaced every presidential address going back to 1884, and it goes like this.  Almighty creator, I ask of you this night but one thing: may I not be mocked on <i>Twitter</i>.</p>

<p>Amen.</p>

<p>It has been an honor and a privilege to serve as your president this year.  I served on my first MLA committee thirteen years ago; I was elected to the Executive Council ten years ago; I have been serving as an officer of the association for the past three years.  And it is a most curious thing—the MLA is one of the few organizations I’ve known whose internal workings appear <i>more</i> impressive the closer you look.  My thanks to Rosemary and all the senior staff members, who have been so wonderful to work with; and my thanks to all of you, for being here tonight, postponing dinner for a while and joining me for my first and last presidential address.</p>

<p>My immediate predecessors, Sid Smith and Russell Berman, warned me that this year would pass more quickly than I could imagine.  It turns out that they were wrong about that.  In some ways, it has been a very long year indeed.  Over the course of the year, I made three trips to Washington in my capacity as president.  On the first, I attended the summit meeting of the New Faculty Majority, the national coalition for adjunct and contingent faculty.  On the last, I spoke to the Council of Graduate Schools on the future of graduate education in the humanities.  The two subjects—graduate education and contingent labor—are intimately allied, of course, since so many of the students we teach today will become, through no fault of their own, adjunct and contingent faculty tomorrow.  To grapple with this is to immerse oneself in the immiserating aspects of our profession and to realize how much of our profession has been deprofessionalized.  But I am hoping that this will have been a watershed year, the year when attention to the working conditions of the majority of our colleagues in higher education moved from the margin to the center of discussion.</p>

<p>In fact, the year has been somewhat encouraging on that front.  Upon returning from Washington in January, I reported on the New Faculty Majority summit for <i>Inside Higher Ed</i> and wrote a longer version for the MLA Web site.  Josh Boldt, a contingent faculty member at the University of Georgia, read that longer version and noted with surprise and delight that the MLA has minimum wage recommendations for part-time and non-tenure-track faculty—and that our standards are reasonably high: we believe that people who teach in colleges should be paid a living wage, just under $7,000 a course.  Boldt decided to take that recommendation and run with it, creating <i>Adjunct Project</i>, a Web site that would allow contingent faculty members to upload the details of their working conditions.  Unbeknownst to Boldt, the MLA was working on a more comprehensive version of the same thing, the Academic Workforce Data Center that would correlate individual data with employment data from every single institution of higher education in the United States.  Boldt’s version went viral and ours did not, but the important thing is that, for the first time, MLA recommendations for faculty working conditions were being aggressively promoted by way of social media; now, Boldt’s <i>Adjunct Project</i> has partnered with the <i>Chronicle of Higher Education </i>in a venture that, in Boldt’s words, will “revolutionize the adjunct world.”  After this, I think, it really will be impossible for people to treat contingent faculty as an invisible labor force.  What will come of this development I do not know, but I can say that I am ending the year with more optimism for contingent faculty members than I had when I began the year, and that’s certainly not something I thought I would be able to say tonight.</p>

<p>The more depressing news from my Washington visits has to do with Humanities Advocacy Day.  I represented the MLA, of course, although I fretted that the unofficial subtitle of Humanities Advocacy Day would be “Like It’s Going to Matter.”  As it happened, that’s basically how everyone involved in the events of that day thought about their participation.  All the congressional staff members we met with said the same thing: they were more or less sympathetic to our cause (although one senator’s office, it turned out, either didn’t know or didn’t care about the difference between the National Endowment for the Arts and the National Endowment for the Humanities), and they understood that we were asking not for a drop in the federal-budget bucket but for the fraction of a fraction of a portion of a drop in the bucket.  But they knew there would be no enthusiasm on Capitol Hill for increased funding for the humanities, and they knew that nothing would be done until after the election, during six frantic lame-duck weeks of wrangling over the so-called fiscal cliff.  The National Humanities Alliance had prepared for us an informational sheet that we could distribute to congressional offices; it basically asked that appropriations for the National Endowment for the Humanities be held steady at the Fiscal Year 2011 level.  It made the same request for the Fulbright-Hays Program (for research abroad) and for Title VI funding for international and foreign language education.  And that’s where I decided to go off message—and I hope it will be all right with you that I stayed off message all day.  You see, these programs, these sources of funding for foreign language study, had been cut by 40 percent in 2011, from $125.9 million to $75.7 million.  “I know Congress is looking for places to cut spending,” I said to all the staffers I met.  “But we already took our hit, a disproportionate hit.  Anything you can do to restore some of that funding will mean a great deal to graduate students and faculty in foreign languages.”</p>

<p>And here’s where we get to the really depressing stuff.  There are only two things you can say in Washington when it comes to foreign language study.  One is that it will enhance our economic competitiveness abroad; the other is that it will be critical to national security.  The idea that Americans might also serve as “informal cultural ambassadors and engage in an exchange of knowledge and culture while overseas” is now unthinkable in official Washington <i>even though it is part of the language of Fulbright-Hays</i>.  And don’t bother trying to argue that language study grows your brain, or that it might enhance many Americans’ knowledge of the languages spoken by their own parents and grandparents.  The languages that official Washington is interested in are called “strategic” languages, and I believe it was Bob Scholes who, during his presidential year, suggested that we drop the euphemisms altogether and simply refer to “enemy languages.”  More seriously, we spent some time this year on the Executive Council drafting our own statement on foreign language study, a statement we hope will be of some use in future lobbying efforts.  (Since then we have drafted four more statements—on ethnic studies, on program closures, on university presses, and on freedom of travel for foreign scholars—on the grounds that the MLA has distinct positions on each question, positions that will not waver in any foreseeable case.  That is, there will never be a time when we say something like, “We’re all right with Tariq Ramadan entering the United States, but Adam Habib has to stay in South Africa.”  Or, “We oppose the closing of the University of Missouri Press, but you can shut down Southern Methodist University Press if you like.”)  But about my own lobbying efforts, the only hopeful thing I can say comes by way of a young staffer named Kamilla Kovacs, who noted, as she told us of her Hungarian heritage and her fluency in Hungarian, that there was a time, somewhere around 1956, when suddenly Hungarian became a “strategic” language—and that perhaps we could try to remind our elected officials that one never knows which languages might become strategic tomorrow.</p>

<p>Time and again this year, I have asked myself: how did we get ourselves into this?  Surely we didn’t go into this business with the hopes of becoming powerful lobbyists in Washington.  And when it comes to our working conditions, I think of that popular e-card: “I do this for the money, prestige, and power.  Said no librarian ever.”</p>

<p>So I want to talk for a moment about Madeleine L’Engle’s <i>A Wrinkle in Time</i>.  No, really.  It is very strange, but I have been having conversations about <i>A Wrinkle in Time</i> all year long with colleagues and friends.  I’ve even gone back and reread the book.  I was motivated partly by all the attention it received this year, the fiftieth anniversary of its publication.  I learned only in January of this year, reading an item in the <i>New York Times Sunday Book Review</i>, that L’Engle’s heroine, Meg Murry, is something like the patron saint of “bookish girls” everywhere; as Anne Lamott remarked in November of this year, “<i>A Wrinkle in Time</i> saved me because it so captured the grief and sense of isolation I felt as a child.”  And I realized that when I read it in 1972, I completely missed how anomalous it was that a speculative sci-fi young-adult novel would have as its protagonist an awkward girl who is such a science geek she can recite a good chunk of the periodic table of the elements by memory.  I missed that because I identified with Meg Murry; I didn’t get the memo that boys weren’t supposed to identify with female protagonists, and I shared Meg’s sense of social anxiety and science geekdom and general outsiderness just as, a few years earlier, I had shared in Alice’s sense of bewilderment and wonder and occasional aggravation at the worlds of Wonderland and the Looking-Glass.</p>

<p>I read each of those books at least a dozen times, along with my first introduction to allegory, <i>The Phantom Tollbooth</i>.  I also read a bunch of less rewarding stuff too, like Matt Christopher’s series of sports books.  But I didn’t reread any of those, nor was there any need to do so, because they were all the same story.  And this is why that famous passage from Roland Barthes’s <I>S/Z</I> speaks to me so powerfully:

<blockquote>
<p>Rereading, an operation contrary to the commercial and ideological habits of our society, which would have us “throw away” the story once it has been consumed (“devoured”), so that we can then move on to another story, buy another book, and which is tolerated only in certain marginal categories of readers (children, old people, and professors)[.  Rereading] . . . alone saves the text from repetition (those who fail to reread are obliged to read the same story everywhere).</p>
</blockquote>

Now, I don’t suppose that every single person in this room, or in the MLA, was necessarily a voracious reader and rereader as a child.  Nor do I imagine that every child who is a voracious reader winds up here—Anne Lamott didn’t, nor did Anna Quindlen or Rebecca Stead, two other writers deeply influenced by <i>A Wrinkle in Time</i> as children.  And surely many of us were unmoved by young-adult fiction; I know any number of colleagues who are indifferent to Meg and Alice and Milo and Tock but who were jolted into the life of the mind by reading <i>Beyond Good and Evil</i> as teens (or perhaps even <I>S/Z</I>!) or by encountering the lyric brilliance of Emily Dickinson or Hart Crane (who knew that <i>calyx</i> was a word?) or by being mesmerized by Christine de Pisan or the <i>Gawain</i> poet (“Bryddes busken to bylde, and bremlych syngen”—they don’t write ’em like that anymore) or by stumbling upon the psychedelicatessen that is the oeuvre of Philip K. Dick.  For that matter, I know colleagues whose childhoods were not suffused with books.  But I do think that at some point we consciously joined what Wendy Griswold calls “the reading class”—the four percent of people in industrialized nations (and it is only four percent) who read seriously and voluminously because they just love to.  </p>

<p>The hook, the lure of joining the reading class, doesn’t necessarily have to be YA fiction.  It doesn’t have to be fiction at all.  One of the books I read repeatedly at the age of nine was a book in which I knew the narrative trajectory—and the ending—before I opened it: <i>A Year on Ice</i>, Gerald Eskanazi’s account of the New York Rangers’ extraordinary 1969–70 season.  I will spare you the details about why the season was extraordinary.  But just as I reread fictional narratives for specific scenes, or for the sheer texture of the language, I could reread Eskanazi’s book again and again just for the masterful way he sets the stage for, and then describes, the Rangers’ stunning 9-5 victory over the Detroit Red Wings in the final game of the regular season.  My point is that at the most basic level of intellectual pleasure, it didn’t matter to me whether it was reading <i>Alice through the Looking-Glass</i> or <i>A Year on Ice</i> or the Associated Press book <i>Footprints on the Moon</i>, each of which I read so often I practically memorized them.  The same principle held for me a few years later, when I was a teen and I was hooked by <i>The Sound and the Fury</i> and <i>Invisible Man</i> and the work of Robert Christgau or Ellen Willis in the <i>Village Voice</i>.  I would think to myself: the written word.  This is the great invention of our time.</p>

<p><i>This is the great invention of our time. </i> Those, of course, are the words of José Arcadio Buendía, at the end of chapter 1 of <i>One Hundred Years of Solitude</i>, as he discovers the miracle of ice.  <i>One Hundred Years of Solitude</i> has a curious place in my intellectual history: it was the last book I read before entering graduate school.  I had spent fifteen months, from May 1982 to August 1983, working as a word processor in midtown Manhattan, trying to save enough money to attend graduate school for a year; my hope was that I could win some kind of fellowship to keep me going after that, but as for my first year, in the parlance of college sports, I was a walk-on.  So as I typed legal documents and squirreled away a few thousand bucks for this pipe dream, I read a bunch of random things that I thought might serve me well in graduate school.  <i>Don Quixote</i>, the <i>Aeneid</i> (in translation), <i>Gravity’s Rainbow</i>, <i>The Trial</i>, <i>Beyond Good and Evil</i>, snippets of Ovid’s <i>Metamorphoses</i> in a Latin class I audited at Columbia, and finally García Márquez.  In doing this eclectic and fairly serious reading I resembled pretty much every other word processor working in midtown Manhattan.  And I vividly remember sitting on the Lawn at the University of Virginia in August 1983, mildly terrified to be living someplace other than New York, immersing myself in <i>One Hundred Years of Solitude</i>, when suddenly I was struck by a sobering thought.  In just one week, I realized, I am going to have come up with smart things to say about books like this.  I can’t simply say “this is great stuff” or “wow, I didn’t know you could do this with words,” which was my first, visceral response to <i>The Sound and the Fury</i> and <i>To the Lighthouse</i> and <i>Ulysses</i>—and has always seemed to me to be one of the projects of modernism: you didn’t know we could do this with words.  (In recent years, I have had a similar response to Dick’s <i>The Three Stigmata of Palmer Eldritch</i>, not for its language so much as for its extravagant forms of invention).  But here I am at the University of Virginia, and I cannot rest content with visceral responses now.  Why, I have to get myself a fellowship somehow if I want to stay here!  I’m going to have to take my immersion in this great stuff and produce something from it!</p>

<p>It is almost too obvious for words, this reflection on my relation to words, but I mention it because it is a common trope among many people who love reading.  <i>I love reading</i>, they say, <i>and that is why I hated graduate school</i>.  Or: <i>I love reading, and that is why I don’t want to ruin it with literary criticism</i>.  Or: <i>I love reading, and that is why I hate the MLA and all it stands for</i>.  At one point this year I read Priscilla Gilman’s memoir, <i>The Anti-Romantic Child</i>, and was struck by how Gilman described her experience of academic literary study and the tenure track—as a dispiriting process that leached away her love for Wordsworth, a love she reclaimed partly by leaving academe and writing her book.  I know Gilman is not alone; I have read many accounts written by people who don’t wind up in ballrooms like this, listening to or delivering addresses like this, and I know that many people experience graduate school as an arduous, dehumanizing slog—and that some of them experience the professionalization processes of graduate school as a violation or attenuation of the things that made them love reading in the first place.  Indeed, there is a subgenre of MLA Presidential Addresses that testifies to this phenomenon, in which the professionalization of literary study is construed as loss, a loss of the innocence we once had when we were naive readers immersed in our identifications with Meg or Milo or Lily Briscoe or Quentin Compson.  Sometimes, we have asked ourselves how we got here, and the answers have been tinged with a sense of regret, a nostalgia for those moments when we could simply sit on the grass somewhere and think, wow, <i>One Hundred Years of Solitude</i> is an awesome thing.</p>

<p>Although I understand this sense of loss and regret, I have to say that I have never shared it.  I found graduate school unpleasant, but not because of the ways I was taught to read; the kind of reading I did in graduate school only deepened my sense of the power of the written word and convinced me that alphabetic writing is indeed the great invention of our time.  There is a passage in Jared Diamond’s <i>Guns, Germs, and Steel</i> that confirms this for me:

<blockquote>
<p>Inventing a writing system from scratch must have been incomparably more difficult than borrowing and adapting one.  The first scribes had to settle on basic principles that we now take for granted.  For example, they had to figure out how to decompose a continuous utterance into speech units, regardless of whether those units were taken as words, syllables, or phonemes.  They had to learn to recognize the same sound or speech unit through all our normal variations in speech volume, pitch, speed, emphasis, phrase grouping, and individual idiosyncrasies of pronunciation.  They had to decide that a writing system should ignore all of that variation.  They then had to devise ways to represent sounds by symbols.</p>
<p>Somehow, the first scribes solved all those problems, without having in front of them any example of the final result to guide their efforts.  That task was evidently so difficult that there have been only a few occasions in history when people invented writing entirely on their own. </p>
</blockquote>

When I read that passage, I thought of my first encounters with Joyce, with Heidegger, with Derrida; but I thought most of all of this parallel passage from one of the most playful, endlessly involuted works of fiction written in English.  The text (one hesitates to call it a novel) is <i>Pale Fire</i>, and the narrator, of course, is Nabokov’s idiosyncratic (or insane) Professor Charles Kinbote:

<blockquote>
<p>We are absurdly accustomed to the miracle of a few written signs being able to contain immortal imagery, involutions of thought, new worlds with live people, speaking, weeping, laughing.  We take it for granted so simply that in a sense, by the very act of brutish routine acceptance, we undo the work of the ages, the history of the gradual elaboration of poetical description and construction, from the treeman to Browning, from the caveman to Keats.  What if we awake one day, all of us, and find ourselves utterly unable to read?  I wish you to gasp not only at what you read but at the miracle of its being readable (so I used to tell my students).</p>
</blockquote></p>

<p>Being professionalized in literary study in the 1980s, and ever since, has involved some degree of immersion in theory, even at an institution like Virginia, which at the time was not especially associated with theory or any branch thereof.  And certainly, some of the laments about the professionalization of literary study twenty or thirty years ago were complaints about deconstruction or feminism or new historicism or postcolonial or queer theory or some heady combination thereof.  I suppose I was especially fortunate that my introductions to theory came by way of Michael Levenson and Richard Rorty, two professors who taught me, in different ways, that literary theory was not a key to all mythologies, not an instructor’s edition that held the keys to the Hidden Meanings of literary texts, and not a mechanical interpretation-generating device into which I could plug an endless series of texts to produce “readings.”  Rather, they insisted that theoretical texts were texts like any other: they had to be read not merely for their claims but for their texture.  And no one theorist was to be treated as the vehicle or the author of the Revealed Word.  That attitude infuriated some of the students who took Rorty’s seminars on Derrida and Freud, the former of whom was believed finally to have freed us all from the logocentrism of Western philosophy since Plato and the latter of whom was held to have given us the key to all mythologies.  But it was, I think, the right attitude to have, especially with regard to iconic theorists—the attitude of Rorty’s ironist, capable of immersion in any number of language games but finally beholden to no single one.</p>

<p>My own aversion to graduate school didn’t have anything to do with criticism or theory.  I was thrilled to be able to keep peeling back layers upon layers of textuality, thrilled to be immersed not only in the written word but in the world of ideas.  What I found annoying about graduate school was more personal.  It had to do more with the level of social anxiety in graduate programs, some of which was driven by the fact that I had 76 people in my entering class (126 were admitted the following year) and our program was very clearly structured around attrition and what was called “permission to proceed,” and some of which was driven by the fact that graduate school can be the kind of place where people name their pets Trotsky or Badiou.  Not that there is anything new about this:  those of you who are fans of Kingsley Amis’s <i>Lucky Jim</i> will remember the Welches, who named their cats Id, Ego, and Superego.  Surely this is only one of many reasons that most readers of <i>Lucky Jim</i> identify with Dixon and with his horror at the many varieties of academic pretension—some of which, <i>mirabile dictu</i>, survive today.</p>

<p>So yes, academe can be an annoying place, and it tends to breed its own distinctive characterological quirks.  But I am not sure it is all that different from other professions in that respect.  Perhaps we have a higher ratio of pedants and stuffed shirts of the sort mocked in campus novels.  Then again, I am surrounded by really smart people, many of whom are also very witty and great fun—good colleagues and good companions.  But overall our line of work is similar in many respects to other forms of white-collar work:  we have our meetings, our bureaucracy, our office intrigues.  The major difference is that we also have our classrooms. </p>

<p>I want to dwell on that aspect of our work for a moment.  I knew when I was about twenty that I wanted to be a writer of some kind.  It was the one thing I felt completely comfortable doing, other than ice skating.  The only question was what I would do for a day job, since I didn’t think I could earn my keep by writing any more than I could do so by ice skating.  I considered various forms of textmongering—publishing, journalism, law, advertising—and I thought, what kind of day job will I want when I am forty or fifty?  That was the question that led me decisively away from advertising and persuaded me to apply to graduate school.  I didn’t think very much about teaching; I didn’t have a sense that I would be any good at it, and, in fact, when I started out, in 1985, I was totally unsure of myself.  In good time—say, two or three years—I became too sure of myself, and I then eventually settled down to where I am now, more or less sure of myself.  But of course many go into this business not only because they love reading and writing and thinking about reading and writing, but because they love teaching students about reading and writing.  They love those moments of illumination when an undergraduate first begins to understand the “Time Passes” section of <i>To the Lighthouse</i> or learns how to construct a pivot paragraph that paraphrases an argument with which one proceeds to disagree.  They love, as I do, the forms of knowledge and inquiry one encounters in the humanities.  And though I don’t believe that those forms of knowledge and inquiry lead directly to specific ways of being in the world, I have to say that there is no question in my mind that I was better equipped to deal with the birth of a child with Down syndrome because of my training in the humanities.  Because of that training, because of my acquaintance with different forms of critical thinking and different ideas about what critical thinking consists of, I am less inclined to think of disability as deficit, more willing to accept a wide variety of ways of being human, more sympathetic to the argument that many disabilities are disabling chiefly because our environments and policies make them so, and more attuned to the possibility that my beliefs and expectations (about Down syndrome and about the world in general) may need to be periodically reexamined and revised.  When you put it that way, you have to wonder: what’s <i>not</i> to love about this business?</p>

<p>But at this point you might be wondering—is this really what this guy came to say tonight?  That he likes his job?  Or worse, that he loves reading and writing?  Haven’t I just done precisely what we tell people <i>not</i> to do in applications to graduate programs?  No one on the admissions committee wants to hear how important books were to you as a child; we want to hear why you applied to our program and what you intend to do with your studies.  But then, I’m not applying to graduate school.  I’ll tell you what I am doing: I am trying to answer a question I have heard time and again this year.  <i>Why should anyone bother with advanced study in the humanities?</i>  I think especially of one long and energetic exchange I had with some colleagues at a major public university.  About six or eight of us went out to dinner after I had given a lecture, and one of my hosts said that the problem with my various defenses of the humanities is that sooner or later (and usually sooner) I manage to construe the humanities as something useful, in a more or less Rotarian kind of way.  I thereby give short shrift to pleasure, and we need to be honest with people about the kind of pleasure involved in our work.  “Intellectual stimulation,” I replied, “is a form of pleasure—at least for me.”  Aha!  Right there, I did it again: I wasn’t talking about pleasure, I was talking about a form of pleasure that is good for you, and good for your brain, and probably good for civil society at large.  Not pleasure as such.  To this I had two replies: one, we have been having this argument ever since Schiller decided that the purposive purposelessness of the aesthetic served some basic human need he called the play-drive, thereby rendering the uselessness of art useful insofar as it fulfills some deep human need (and one recent branch of criticism has tried to pursue this possibility in the terms of neuroscience).  Two, although I remain open to the possibility that we have something like a play-drive that accounts for our species’ desire to make things up and entertain or edify one another in so doing, I am not going to lead with pleasure when I talk about justifications for the study of the humanities.  </p>

<p>In my capacity as Director of the Institute for the Arts and Humanities at Penn State, I have made this very clear: I will not talk about my institute as a pleasure center.  We will have no cheery booster-brochure rhetoric about <i>celebrating</i> the humanities or <i>appreciating</i> the arts.  I am going to insist, to the campus community, to alumni, to anyone who may be listening, that serious study in the humanities—the practices of advanced literacy, the fine arts of interpretation—is a game of high and difficult technique, as C. L. R. James once said of cricket.  That doesn’t mean we can’t love it, as James surely loved cricket; but it means we are going to insist that it requires serious training and practice, practice, practice.  We are dealing with the art and the science of figuring out, as Peter Brooks once put it, not merely <i>what</i> texts mean but <i>how</i> texts mean.  It is a pleasure, no question, but it is a pleasure that also demands intellectual creativity and intellectual rigor.  Perhaps to our students we can stress the pleasurable aspects of our discipline; but if our discipline is <i>only</i> a matter of pleasure, then you have not provided what most people would see as a reason to do advanced research in it.  Justifying the humanities is one thing; justifying careers of study in the humanities is quite another.  Well, then, my interlocutor said, you’re basically playing right into the game of the corporate university, which has no place for pleasure and rewards only those who can show some return on investment, however high-minded that return may be. </p>

<p>I think he may be right about this, and so I pass the critique on to you, ventriloquizing it as best I can.  But I still think the alternative is worse, especially in corporate universities: although I am pleased to speak of pleasure whenever I have the opportunity (now, for instance), I know that in many corners of the world, and in many precincts of our own institutions, the arts and humanities are already regarded as frivolous—or, worse, as corrosively subversive.  Of course they give pleasure; so does a lovely dessert.  But when it is time to cut budgets, dessert clearly has to be the first to go.  And so the disciplines that should be central to a liberal arts education are cast instead as peripheral extras, boutique disciplines that can safely be considered the tiny preserve of an elite with the leisure and cultivation to engage in the advanced pursuit of pleasure.</p>

<p>Moreover, as Marc Bousquet has recently written in an essay demurely titled “We Are All Roman Porn Stars Now,” we pay a heavy price, as a profession, for loving the work we do; we help justify a labor system that produces jobs at what Bousquet calls “the extreme of economic irrationality (for example, $15,000 for teaching six courses a year).”  Of course, the idea that love is an ideological cover for the acceptance of intolerable living conditions will be familiar to readers of Hurston’s <i>Their Eyes Were Watching God</i>.  It constitutes Nanny’s admonition to Janie, “Dis love!  Dat’s just whut’s got us uh pullin’ and haulin’ and sweatin’ and doin’ from can’t see in de mornin’ till can’t see at night.”  And it has often been remarked, as it was in Russell Berman’s presidential address last year, that the profession of college teaching itself devalues teaching and that our professional reward structure is built on that devaluation.  I have heard colleagues say they love teaching so much they would do it for free; the sorry fact is that many of our colleagues are almost doing just that.  They may not be doing it for free, but they most certainly are not earning a living wage.</p>

<p>In September, the political scientist Corey Robin noted that many ostensibly liberal commentators were opposing the Chicago public schoolteachers’ strike and that some were displaying a contempt for the teachers’ union that was indistinguishable from that of the most fervent right-to-work conservative.  “One could of course take these people at their word,” wrote Robin, “they care about the kids, they worry that strikes hurt the kids, and so on—but since we never hear a peep out of them about the fact that students have to swelter through 98-degree weather in jam-packed classes without air conditioning, I’m not so inclined.”  Instead, Robin drew on his experience growing up in the affluent New York suburb of Chappaqua, where, he said, people tended to regard teachers as “failures,” “incompetents and buffoons.”

<blockquote>
<p>“Those who can’t do, teach” goes the old saw. But where that traditionally bespoke a suspicion of fancy ideas that didn’t produce anything concrete, in my fancy suburb, it meant something else. Teachers had opted out of the capitalist game; they weren’t in this world for money. There could be only one reason for that: they were losers. They were dimwitted, unambitious, complacent, unimaginative, and risk-averse. They were middle class.</p>
</blockquote>

I think there is something to that.  I grew up in an environment that venerated teachers, that considered teaching a vocation—a vocation that did some good for people and would never destroy an ecosystem or bring the world to the brink of financial collapse.  So I have been mystified at the level of vitriol directed at schoolteachers over the past five years.  Some of it, surely, comes from the Know-Nothing camp that still hasn’t accommodated itself to the idea that the planet is about 4.5 billion years old and that human beings evolved from other life-forms.  But some of it also comes from elites who believe that doing something you love, something that involves more psychic than material rewards, is for suckers.</p>

<p>Robin goes on to say that college professors are largely exempt from that kind of contempt: “I’m continuously astonished at the pass that gets me among the people I grew up with. Had I chosen to be a high-school teacher, I’d be just another loser.”  But surely that has something to do with the fact that Robin is (a) a man and (b) a full-time, tenured faculty member.  And it has something to do with the fact that so many people outside academe, all the way up to the vice president of the United States, believe that all college professors are highly paid professionals.  The truth, of course, is that contingent college faculty members earn lower wages, have less professional autonomy, and endure significantly greater job insecurity than unionized teachers in the K–12 system.</p>

<p>I know it has taken us, as a profession, far too long to come to terms with the fact of our deprofessionalization.  And I know that it is not something that was caused by, or can be significantly remediated by, scholarly organizations.  It is only fairly recently in the 128-year history of the MLA that we have tried to become a major source of information and advocacy with regard to faculty working conditions in higher education.  It is only in the last ten years that we have developed wage recommendations for beginning assistant professors and per-course wage recommendations for contingent faculty members; there was a time, and I remember it well, when we didn’t see that as part of our role.  But it is now, thanks to a motion drafted by the Graduate Student Caucus and passed by the Delegate Assembly.  And that speaks to a larger question of how graduate student activism in the 1990s helped transform this association.  Twenty years ago it was unheard of for graduate students to serve on major MLA committees, let alone the Executive Council, which has fiduciary responsibility for the organization; today it is routine, and there are two students on the council.  We are now seeking to have more community college faculty representation on our committees; the most recent slate of nominees for the Executive Council contained the names of five community college faculty members, one of whom, Alicia de la Torre Falzon, was just elected.  More seriously, this transformation of the leadership of the MLA over the past two decades has not been tokenism, and it has not been window dressing.  The democratization and diversification of the leadership has brought new perspectives to bear on our association from precincts of the profession that had largely gone underrepresented; it has involved a substantial reinterpretation of our mission; and it has been fueled by the energy and dedication of a truly extraordinary executive director.</p>

<p>But one of the things that happens to us, as we make our way here, is regrettable.  As we develop our research and teaching interests and as we engage in the kind of scholarly specialization that is both inevitable and necessary, we sometimes identify more with our disciplines—or with our specific subdisciplinary slice of the discipline—than we do with our colleagues in higher education at large.  We have been, as a group, very reluctant to think of ourselves as a labor force, even though we most surely are mental laborers, white-collar workers, and we have been not at all hesitant to think of ourselves as modernists or medievalists, theorists or Hispanists.  Early this year I witnessed a particularly debilitating example of how this works.  In response to the publicity generated by Josh Boldt’s <i>Adjunct Project</i>, a rhetoric and composition specialist replied that it was odd for the MLA to be promoting wage recommendations for contingent faculty members, because we have never been all that interested in the teaching of writing.  It seemed to me at the time a complete non sequitur, because our wage recommendations don’t stipulate what anyone might be teaching in any realm of language or literature.  We simply think that everyone in the business should be paid a minimum of $6,920 for a standard 3-credit-hour semester course.  Our critics have derided this as hopelessly unrealistic, and this critic was no exception; he said we might as well wish for ponies while we were at it.  When I replied that I didn’t see what any of this had to do with the teaching of writing, I was reminded that introductory writing courses fall on the extreme end of the low-wage spectrum, and that the MLA has historically ignored those courses, which is one reason why the National Council of Teachers of English was founded.  I granted the point, of course, but could not refrain from noting that the NCTE was founded in 1911, and that perhaps, in the interest of better working conditions for all our colleagues, it would be best to bury that century-old hatchet.</p>

<p>But of course the point remains that although the object of this association is to promote study, criticism, and research in the more and less commonly taught modern languages and their literatures and to further the common interests of teachers of these subjects, as our constitution says, we have generally been understood to be more interested in literature than in language.  Many of our colleagues in rhetoric and writing don’t see the MLA as their organization, and neither do many creative writers.  There is no natural reason for this; we should be reading our mission broadly and inclusively.  If you are interested in the study of languages and literatures, you are one of us—or you can be, if you want to.  Indeed, there are some poets and novelists among us right now.  You can even have two memberships, in AWP and MLA, just as I belong to both the MLA and the NCTE, not to mention the American Association of University Professors.  I am not going to lament subdisciplinary specialization, any more than I would lament my immersion in the world of criticism and theory; it is perfectly understandable, indeed salutary, that over the years I would gradually have less to say to medievalists and more to say to people in disability studies.  But if we overidentify with those specializations to the point at which we do not see what we have in common as people who teach and work in colleges, then we make it more difficult to see ourselves as people who teach and work in colleges.  We make it more difficult to think of ourselves as a labor force, and we make it easier for the working conditions of that labor force to be eroded.</p>

<p>I want to close by asking something of each of you.  Whether or not you agree with the way I think about this, I would like you to leave here convinced not only of the value of the work we do but of the need to get our institutions to value the work of each and every one of our colleagues off the tenure track.  What can you do to help?  Anything you can.  If you have a position of some power in your institution, or if you simply know somebody who does, look carefully at the working conditions of your colleagues among the contingent faculty.  Our Committee on Contingent Labor in the Profession produced a set of questions and guidelines last year for precisely this purpose: the MLA cannot enforce working conditions in individual institutions, but we can ask our members to become familiar with, and promote, our recommendations for those working conditions.  And once again with feeling, it doesn’t matter whether we are talking about colleagues teaching introductory writing or creative nonfiction or the American literature survey or second-year French.  It matters only that they are teaching and that they are our colleagues.  We don’t need to ask if they are members of the MLA or the ASA or the NCTE or the AWP or the Rhetoric Society of America.  We need to ask only if they have decent, professional working conditions—access to departmental communications and staff, designated offices, library privileges, mailboxes.  These are such basic things, such minimal things for people teaching college courses, and yet so many people teaching college courses do not have them.  We need to ask if they can serve on department- and university-wide committees, especially those that deal with contingent faculty.  Where their wages are inadequate, we need to ask how they can be increased.  And where they are hired on a year-by-year or course-by-course basis, even when they have ten, fifteen, twenty years of service to the same department, we need to ask how they can be moved to multiyear contracts or to instructor tenure.</p>

<p>Some of our colleagues off the tenure track will regard these ameliorative measures as inadequate.  That’s because they are.  The deprofessionalization of the professoriat cannot be reversed overnight; it has been a forty-year process that has accelerated in the last fifteen years.  But to return to where I started, I hope that this will have been the year when that process became a truth universally acknowledged—and universally resisted.  And if you have tenure, and your colleagues among the contingent faculty want to undertake more dramatic measures, including inter- or intra-institutional unionization, I hope you will support them, precisely because you enjoy the job security they lack and need.  The working conditions of college faculty are ultimately the learning conditions for college students.  If you got here because you love what you do—or even if you are just mildly happy to have a decent job—you owe it to your colleagues, to your profession, to your students, and even to yourself to try to see to it that each and every one of us can conduct our professional work with a measure of professional dignity.</p>

<h3>Sources</h3>
<p class="source">Amis, Kingsley. <i>Lucky Jim</i>. New York: Doubleday, 1954. Print.</p>
<p class="source">Barthes, Roland. <i>S/Z: An Essay</i>. Trans. Richard Miller. New York: Hill, 1974. Print.</p>
<p class="source">Berman, Russell. “Presidential Address 2012: Teaching as Vocation.” <I>PMLA </I>127.3 (2012): 451–59. Print.</p>
<p class="source">Boldt, Joshua. “The <i>Chronicle of Higher Education</i> and the <i>Adjunct Project</i> 2.0.” <i>Copy and Paste</i>. N.p., 4 Dec. 2012. Web. 11 Dec. 2012. <<a href="http://www.copy--paste.com/chronicleofhighereducation-and-the-adjunctproject-2-0/" target="blank">http://www.copy--paste.com/chronicleofhighereducation-and-the-adjunctproject-2-0/</a>>. </p>
<p class="source">Bousquet, Marc. “We Are All Roman Porn Stars Now.” <i>Academe</i> 98.6 (2012): 23–27. Print.</p>
<p class="source">Brooks, Peter. “Aesthetics and Ideology—What Happened to Poetics?” <i>Aesthetics and Ideology</i>. Ed. George Levine. New Brunswick: Rutgers UP, 1994. 153–67. Print.</p>
<p class="source">Diamond, Jared. <i>Guns, Germs, and Steel: The Fates of Human Societies</i>.  New York: Norton, 1997. Print.</p>
<p class="source">Eskanazi, Gerald. <i>A Year on Ice</i>. New York: Coward, 1970. Print.</p>
<p class="source">García Márquez, Gabriel. <i>One Hundred Years of Solitude</i>. Trans. Gregory Rabassa. New York: Harper, 1970. Print.</p>
<p class="source">Gilman, Priscilla. <i>The Anti-Romantic Child: A Story of Unexpected Joy</i>. New York: Harper, 2011. Print.</p>
<p class="source">Griswold, Wendy. <i>Regionalism and the Reading Class</i>. Chicago: U of Chicago P, 2008. Print.</p>
<p class="source">Hurston, Zora Neale. <i>Their Eyes Were Watching God</i>. New York: Lippincott, 1937. Print.</p>
<p class="source">James, C. L. R. <i>Beyond a Boundary</i>. London: Paul, 1963. Print.</p>
<p class="source">Krause, Steven. “In Response to Michael Bérubé on <i>Crooked Timber</i>.” <i>Stevendkrause.com</i>. N.p., 17 Feb. 2012. Web. 13 Dec. 2012. <<a href="http://stevendkrause.com/2012/02/17/in-response-to-michael-berube-on-crooked-timber/" target="blank">http://stevendkrause.com/2012/02/17/in-response-to-michael-berube-on-crooked-timber/</a>>. </p>
<p class="source">Lamott, Anne. “By the Book.” <i>New York Times Book Review</i> 25 Nov. 2012: BR8. <i>The New York Times</i>. Web. 11 Dec. 2012. <<a href="http://www.nytimes.com/2012/11/25/books/review/anne-lamott-by-the-book.html" target="blank">http://www.nytimes.com/2012/11/25/books/review/anne-lamott-by-the-book.html</a>>. </p>
<p class="source">MLA Committee on Contingent Labor in the Profession. <i>Professional Employment Practices for Non-Tenure-Track Faculty Members: Recommendations and Evaluative Questions</i>. New York: MLA, 2011. Print.</p>
<p class="source">Nabokov, Vladimir. <i>Pale Fire</i>. New York: Vintage, 1962. Print.</p>
<p class="source">Paul, Pamela. “<i>A Wrinkle in Time</i> and Its Sci-Fi Heroine.” <i>New York Times Book Review</i> 29 Jan. 2012: BR31. <i>The New York Times</i>. Web. 11 Dec. 2012. <<a href="http://www.nytimes.com/2012/01/29/books/review/a-wrinkle-in-time-and-its-sci-fi-heroine.html" target="blank">http://www.nytimes.com/2012/01/29/books/review/a-wrinkle-in-time-and-its-sci-fi-heroine.html</a>>. </p>
<p class="source">Pearl<i>,</i> Cleanness<i>,</i> Patience<i>,</i> Sir Gawain and the Green Knight. Ed. and introd. A. C. Cawley and J. J. Anderson. New York: Dutton, 1976. Print.</p>
<p class="source">Robin, Corey. “Why Do People Hate Teachers Unions? Because They Hate Teachers.” <i>Corey Robin</i>. N.p., 12 Sept. 2012. Web. 13 Dec. 2012. <<a href="http://coreyrobin.com/2012/09/12/why-people-do-hate-teachers-unions-because-they-hate-teachers/" target="blank">http://coreyrobin.com/2012/09/12/why-people-do-hate-teachers-unions-because-they-hate-teachers/</a>>. </p>
<p class="source"> 22 USC. Sec. 2451. 1961. <i>Legal Information Institute</i>. Legal Information Inst., Cornell U Law School, n.d. Web. 13 Jan. 2013. <<a href="http://www.law.cornell.edu/uscode/text/22/2451" target="blank">http://www.law.cornell.edu/uscode/text/22/2451</a>>. </p>
