<h1>Publication Information</h1>
<div align="center">
Published by
the Association of Research Libraries,
the Modern Language Association,
and
the American Historical Association
on behalf of
the Task Force on the
Preservation of the Artifact

&copy;1999 by Jutta Reed-Scott
</div>

Permission is granted to reproduce and distribute copies of this work for nonprofit educational or library purposes, provided that copies are distributed at or below cost, and that the author, source, and copyright notice are included on each copy. This permission is in addition to rights of reproduction granted under Sections 107, 108, and other provisions of the U.S. Copyright Act. 

<I>The "Statement on the Significance of Primary Records" issued in 1995 by the Modern Language Association (MLA) resulted in the formation of a task force by the MLA, the American Historical Association, and the Association of Research Libraries to examine the issues related to the preservation of primary records or "the artifact". The task force concluded that a report documenting the development of library preservation activities would be helpful to inform scholars that libraries have developed effective mechanisms to preserve printed materials, however, funding will never be sufficient to save every physical object. Moreover, new formats (film, video, digital information) have introduced new technological and additional financial challenges. The report should also encourage scholars to become involved in discussions of preservation priorities, both at the national level within their societies and on their local campuses. </I>Preserving Research Collections<I> is the result of the task force's recommendation.

The following organizations were represented on the  Task Force on the Preservation of the Artifact:

American Academy of Religion
American Historical Association
American Society for Eighteenth-Century Studies
American Society for Theatre Research
Association of Research Libraries
Council on Library and Information Resources Library of Congress
Modern Language Association
Society of American Archivists</I>
