<h1>2008 Presidential Address</h1>

<p>Listen to the Presidential Address by Gerald Graff at the 2008 MLA Annual Convention. </p>


<object width="230" height="154" id="delve_player617794o" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"><param name="movie" value="http://assets.delvenetworks.com/player/loader.swf"/><param name="wmode" value="window"/><param name="allowScriptAccess" value="always"/><param name="allowFullScreen" value="true"/><param name="flashvars" value="playerForm=c367aaacb66949f2820629c029bd01ef&channelId=4aa45949bd4c41fa99d4d1dbec3ae03e&autoplay=true"/><embed src="http://assets.delvenetworks.com/player/loader.swf" name="delve_player617794e" wmode="window" width="230" height="154" allowScriptAccess="always" allowFullScreen="true" type="application/x-shockwave-flash" pluginspage="http://www.adobe.com/go/getflashplayer" flashvars="playerForm=c367aaacb66949f2820629c029bd01ef&amp;channelId=4aa45949bd4c41fa99d4d1dbec3ae03e&autoplay=true"></embed></object>


<p>&nbsp;</p>



<p><i>You need Adobe Flash Player to hear audio files on this page. If you have trouble, visit <a href="http://www.adobe.com/go/getflashplayer">http://www.adobe.com/go/getflashplayer</a> to download the appropriate software.</i></p>

