<h1>2011 Presidential Address</h1>

<p>Listen to the Presidential Address by Sidonie Smith at the 2011 MLA Annual Convention. </p>

<script type="text/javascript" 
src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"> 
</script> 

<script type="text/javascript" src="/SCRIPTS/jwplayer/jwplayer.js"></script> 


<div id="mediaplayer">Loading the player ...</div> 

<script type="text/javascript">
jwplayer('mediaplayer').setup({
'flashplayer': '/SCRIPTS/jwplayer/player.swf',
'id': 'playerID',
'width': '400',
'height': '24',
'file': 'http://www.mla.org/files/pres_address_2011.mp3',
'controlbar': 'bottom',
'autostart': 'false',
'allowfullscreen': 'false'

});
</script>



<p>Members can log in to <a href="/conv_listings_detail&prog_id=M018A">comment</a> on the Presidential Address in the online Program.</p>


<p>&nbsp;</p>



<p><i>You need Adobe Flash Player to hear audio files on this page. If you have trouble, visit <a href="http://www.adobe.com/go/getflashplayer">http://www.adobe.com/go/getflashplayer</a> to download the appropriate software.</i></p>
