<h1>Preserving Research Collections</h1>
<h2>What Does the Future Hold?</h2>
The combination of the brittle books legacy and growing numbers of media, electronic resources, and users--compounded by limited financial resources--points to a turbulent future for research collections. The momentous task of dealing with the deterioration of print collections is far from completed. In the humanities, the printed monograph continues to be the primary vehicle for scholarly communication. As many scholars have observed, printed publications are a reflective and compelling medium in which to engage and explore ideas; paper will continue to be a pervasive medium for the transmittal of knowledge. Accordingly, the brittle books problem will be an ongoing concern and should receive continuing attention. There is little doubt that libraries are at a critical crossroads and that the movement toward greater reliance on digital technology is inexorable. Expectations are great among scholars and administrators that technology will enhance higher education. But this will require significant investments in digitization and the development of preservation-quality digital media, as well as methods for preserving digital information. In the words of John Bruer, there is a danger "that our overall preservation programs may lose their appropriate balance, resulting in both the abandonment of proven (non-digital) techniques as well as the likelihood that large categories of (non-digitizable) materials may be put at risk."<SUP><A HREF="preserving_col10#note35">35</A></SUP> 

Future preservation efforts in research libraries will require a strategic vision that integrates the need for maintaining print resources with the opportunities offered by digital technologies. Adding to the challenge of balancing conflicting needs is the problem of limited financial resources. If libraries are to preserve scholarly resources either in their original formats, or as reformatted surrogates, substantial economic and technical investments are necessary. 

<a href="/repview_preservingcol">< Index</a> | <a href="/preserving_col10">Continue ></a>
