<span class="s4">On the Importance of Judging Books by Their Covers</span>
<span class="s3"><i>Gregg Camfield</i></span>

Any proposal to make an exclusively electronic library is predicated ultimately on an extreme idealism, an idealism crudely but accurately expressed by the axiom &quot;You can't judge a book by its cover.&quot; This axiom implies that the words alone count and that if we could simply pour them unmediated into our brains, we would best be able to judge books. According to this principle--by which we teach our classes out of cheap paperback reprints of authors' words--the medium doesn't count at all. Get the words right and the student can read them off microfilm, a VDT, or even listen to them on audiotape.

But as the amount of money publishers spend on covers suggests, we can--indeed we usually do--judge books by their covers. The Harlequin romances at the checkout counter in the supermarket have covers that tell us not only what but also how we will read. Leather-bound, gilt-edged volumes also tell us how to read: reverentially in the face of transcendent genius, which we have the good taste to purchase and display ostentatiously. My point is simple and obvious: the physical presentation of a piece of literature gives us essential clues about how we are intended to read it and gives us further clues about the means of its production and the social role it plays. In my classes on nineteenth-century literature, I insist that the students take the physical book into account as a part of their reading experience. For that I need libraries to have early editions of the books I assign.

Let me give an example. In my class on Mark Twain, I want my students to understand what risks Twain ran and what benefits he sought in publishing his books by subscription. I refer to his own words to describe his sense of his business, but these words themselves refer to the physical artifacts quite concretely:
<blockquote>
	There is one discomfort which I fear a man must put up with when he publishes by subscription, and that is wretched paper & vile engravings. I fancy the publisher don't make a very large pile when he pays his author 10 p.c. You notice that the Gilded Age is rather a rubbishy looking book; well, the sale has now reached about 50,000 copies--so the royalty now due the authorship is about $18,000. (81)
</blockquote>

Twain traded aesthetic pleasure for economic power, but what that tradeoff meant is not fully obvious to late-twentieth-century readers.

To show what the tradeoff meant, I have my students study the physical copies of books that span much of Twain's career, from the early days when he did not control the presentation of his books to the days when he took control by publishing his books himself. Using copies of <i>The Innocents Abroad</i>, <i>Roughing It</i>, and <i>The Gilded Age</i> as examples of Twain's earlier works, I have my students take note of the gaudy covers; the cheap woodcuts; the brittle, thin, yellowing paper; the thin cardboard covers; the crude typesetting; and the simple heft of the books. These details concretely show that the books were relatively inexpensive. They suggest further that such books were directed to an audience not used to buying books, an audience buying books not for status but rather for entertainment, an audience wanting as much as possible for the price and willing to trade quality for bulk. When I add to this an example or two of subscription book prospectuses, my students see all the more clearly the economic conditions of subscription publishing and the audience expectations that to a large extent determined the range of content of the books.

Thus, reading the material artifacts helps my students read the content, especially when they turn to those books that Twain published himself. Their new insight into the entertainment value of Twain's early subscription books allows them to see how having control over the production of <i>Adventures of Huckleberry Finn</i> put Twain in something of a bind. He wanted the book to sell as a typical subscription book, but he had written a biting satire. Rather than alienate an audience that expected simple entertainment, he hired an artist to draw conventional comic illustrations, essentially muzzling the biting prose with silly pictures.

When my students examine the beautiful book that is <i>Connecticut Yankee</i>, they can see how Twain tried to extend the range of meaning available to a subscription book by changing its material circumstances. The cover is sturdier, and its ornamentation is more tasteful. Inside, the paper is relatively slick, allowing for crisp printing of both text and illustrations. The illustrations are beautiful and expensive, even though Twain hired a previously unknown illustrator in order to hold costs down. The careful layout of each page to integrate words and illustration into one visual whole hints at the effects soon to be exploited by popular magazines of the twentieth century after typesetting costs diminished with the development both of the Morganthaler typesetter and of several less expensive techniques for reproducing graphics. But in <i>Connecticut Yankee</i>, the typesetting was done by hand, and the cost was high. Not surprisingly, Twain never made much money on the book, in part because his desire to expand the range of the subscription book outran the technology available to him.

As the book's presentation suggests in yet another important way, Twain may not have cared about profitability. Unlike in <i>Adventures of Huckleberry Finn</i>, in <i>Connecticut Yankee</i> he made no attempt to hide his political intentions behind benign illustrations of harmless clowns. On the contrary, he gave his illustrator, Dan Beard, free rein to highlight the book's satire. Beard penned biting political cartoons, most of which pointedly attacked abuses of political or economic power. He brought to the fore the novel's allegorical significance by depicting contemporary political and literary celebrities in his illustrations. To make illustration explicitly serve purposes other than ornamentation is a notable departure from the formula for success in subscription publishing. This and the other merely aesthetic departures from the conventions of subscription publishing suggest that Twain meant his work to have enduring artistic and political value as opposed to ephemeral entertainment value. All of this is suggested not so much by the words as by the book itself. Thus, the material artifact helps students understand authorial intention as well as the book's social and economic circumstances.

I do not know how I could make such points real to my students without the physical copies of the books. I understand the difficulties of making nineteenth-century subscription books available. They are by nature fragile, and their fragility makes them increasingly rare. Rebinding robs them of some of their usefulness, but restoring old bindings is difficult and expensive. Yet in spite of these difficulties, the benefits of maintaining a multifaceted understanding of our cultural history are worth the trouble and expense. If we wish to give our students a truly usable past, we must give them a realistic rather than a purely idealistic sense of the past.
<div align="right"><i>University of Pennsylvania</i></div>

<h2>Work Cited</h2>
Clemens, Samuel. <i>Mark Twain's Letters to His Publishers</i>. Ed. Hamlin Hill. Berkeley: U of California P, 1967.


<a href="/repview_records">< Index</a> | <a href="/primary_records9">Continue ></a>
