<h1>Modern Language Association Prize for a Bibliography, Archive, or Digital Project</h1>
<h2>Competition in 2014 for Works Published in 2012 or 2013</h2>
Open to Members and Nonmembers of the Association

The Committee on Honors and Awards of the Modern Language Association invites submissions for the ninth MLA Prize for a Bibliography, Archive, or Digital Project. Established in 1998 for bibliographies, the prize was redefined in 2012 to include archives and digital projects.   It is presented each even-numbered year. For the current award, the committee solicits submissions of enumerative and descriptive bibliographies, archives, or digital projects published in 2012 or 2013. A multivolume bibliography is eligible if at least one volume was published during that period, and an ongoing digital project is eligible if substantive work was added during that period.  The prize will be given without regard to the language of the compiler or of the text presented in the work, as long as it falls within the subject scope of the MLA (e.g., modern languages and literatures, composition theory, folklore, linguistics). Editors or compilers need not be members of the MLA.

Criteria for determining excellence include evidence of analytical rigor, meticulous scholarship, intellectual creativity, and subject range and depth. To qualify for the award a work should employ editorial principles appropriate to its materials, and those principles should be clearly articulated in the compilation; the work should provide appropriate contextual information; it should exhibit the highest standards of accuracy in its presentation; and the text should be presented as accessibly and elegantly as possible. The prize, which consists of a cash award and a certificate, will be presented to the winning editor or compiler at the association’s annual convention in January 2015.

To enter a work in the competition, send four copies and a letter identifying the work to the MLA Prize for a Bibliography, Archive, or Digital Project, 26 Broadway, 3rd floor, New York, NY 10004-1789. In the case of a born-digital publication, send the relevant media or URL and a letter identifying the work to <a href="mailto:awards@mla.org">awards@mla.org</a>.  Editors of archives or digital projects are required to submit a description of the material added to their project within the two-year eligibility period. Submissions will be accepted until 1 May 2014. Publishers may enter more than one title, but no work may be entered in more than one MLA competition. A multivolume print bibliography that has already competed for this award may compete again if a new volume was published during the later award period; substantially revised or updated electronic editions may compete once every four years. An ongoing electronic work that has won the award may not compete again. For further information, call or write the office of programs at the MLA (646 576-5141; <a href="mailto:awards@mla.org">awards@mla.org</a>).

<a href="/pastwinners_bib">Past winners</a> of this prize
