<h1>Mina P. Shaughnessy Prize</h1>
<h2>Competition in 2014 for Books Published in 2012 or 2013</h2>
Open to Members and Nonmembers of the Association

The Committee on Honors and Awards of the Modern Language Association invites authors to compete for the thirty-third Mina P. Shaughnessy Prize, to be presented for an outstanding scholarly book in the fields of language, culture, literacy, and literature that has a strong application to the teaching of English. The prize will be awarded for a book published in 2012 or 2013.  Entries for this competition will be accepted until 1 May 2014.  Authors of works competing for the prize need not be members of the association. 

To enter publications into the competition, authors or publishers should send four copies and a letter identifying each work submitted to the Mina P. Shaughnessy Prize, Modern Language Association, 26 Broadway, 3rd floor, New York, NY 10004-1789. In the case of a born-digital publication, send the relevant media or URL and a letter identifying the work to <a href="mailto:awards@mla.org">awards@mla.org</a>.

The prize for a winning book will consist of a cash award and a certificate. The award will be presented to the winning author at the association's annual convention in January 2015. Publishers may enter more than one title. Shipping labels should indicate the names of the prizes for which the books are competing. For further information, call or write the office of programs at the MLA (646 576-5141; <A HREF="mailto:awards@mla.org">awards@mla.org</a>).

<i>Note:</i> From 1980 to 2010, the Mina P. Shaughnessy Prize was offered annually. It is now a biennial prize, with competitions in even-numbered years.

<A HREF="pastwinners_mps">Past winners</a> of this prize
