<h1>Aldo and Jeanne Scaglione Prize for a Translation of a Literary Work</h1>
<h2>Competition in 2014 for Books Published in 2013</h2>
Open to Members and Nonmembers of the Association

The Committee on Honors and Awards of the Modern Language Association invites translators and publishers to compete for the eleventh Aldo and Jeanne Scaglione Prize for a Translation of a Literary Work. The prize, established by the Aldo and Jeanne Scaglione Endowment Fund, is awarded each even-numbered year for an outstanding translation into English of a book-length literary work. For the competition held in 2014, translations published in 2013 are eligible. Translators need not be members of the association. The prize, which consists of a cash award and a certificate, will be presented to the winning translator at the association's annual convention in January 2015.

To enter a translation into the competition, authors or publishers should send six copies along with brief biographical and professional data about translator(s); a total of 12–15 pages of the text in its original language taken from the beginning, middle, and end of the work; and a letter identifying the work to the Scaglione Prize for a Translation of Literary Work, Modern Language Association, 26 Broadway, 3rd floor, New York, NY 10004-1789. In the case of a born-digital publication, send the relevant media or URL and a letter identifying the work to <a href="mailto:awards@mla.org">awards@mla.org</a>. Entries may be sent at any time but must be received by 1 April 2014. Publishers may submit more than one title, but no book may be entered in more than one MLA competition. For further information, call or write the office of programs at the MLA (646 576-5141; <A HREF="mailto:awards@mla.org">awards@mla.org</a>).

<I>Note:</i>  The first three competitions for the Aldo and Jeanne Scaglione Prize for a Translation of a Literary Work were biennial; that is, translations published in either of the two years preceding the year of the award were eligible. Beginning in 1999, the MLA has offered two complementary awards: the Scaglione Prize for a Translation of a Literary Work, offered in even-numbered years for books published in the previous year; and the Lois Roth Award, offered in odd-numbered years for books published in the previous year.

<A HREF="pastwinners_translit">Past winners</a> of this prize
