<h1>MLA Prize in United States Latina and Latino and Chicana and Chicano Literary and Cultural Studies</h1>
<table border=0 cellspacing=4 cellpadding=2>
<tr>
<td valign=top>2011–12</td>
<td>Nicole M. Guidotti-Hernández, University of Texas, Austin, for <i>Unspeakable Violence: Remapping U.S. and Mexican National Imaginaries </i>(Duke Univ. Press, 2011)</td>
</tr>
<tr>
<tr><td valign=top>&nbsp;</td>
<td>Honorable mention: Antonio López, George Washington University, for <i>Unbecoming Blackness: The Diaspora Cultures of Afro-Cuban America </i>(New York Univ. Press, 2012)</td>
</tr>
<tr> 
<td valign=top>2010</td>
<td valign=top>Laura G. Gutiérrez, University of Arizona, for <i>Performing Mexicanidad:</i> Vendidas y Cabareteras <i>on the Transnational Stage</i> (Univ. of Texas Press, 2010)</td>
</tr>
<tr><td valign=top>&nbsp;</td>
<td valign=top>Honorable mention: Genaro M. Padilla, University of California, Berkeley, for <i>The Daring Flight of My Pen: Cultural Politics and Gaspar Pérez de Villagrá’s</i> Historia de la Nueva Mexico, 1610 (Univ. of New Mexico Press, 2010)</td>
</tr>
<tr> 
<td valign=top>2009</td>
<td valign=top>Crystal Parikh, New York University, for <i>An Ethics of Betrayal: The Politics of Otherness in Emergent U.S. Literatures and Cultures</i> (Fordham Univ. Press, 2009)</td></tr>
<tr> 
<td valign=top></td>
<td valign=top>Honorable mention: Ramón E. Soto-Crespo, University at Buffalo, State University of New York, for <i>Mainland Passage: The Cultural Anomaly of Puerto Rico</i> (Univ. of Minnesota Press, 2009)
</td>
</tr>
<tr> 
<td valign=top>2008</td>
<td valign=top>Laura Lomas, Rutgers University, Newark, for <i>Translating Empire: José Martí, Migrant Latino Subjects, and American Modernities</i> (Duke Univ. Press, 2008)</td>
</tr>
<tr> 
<td valign=top> </td>
<td valign=top>Honorable mention: Sheila Marie Contreras, Michigan State University, for <i>Blood Lines: Myth, Indigenism, and Chicana/o Literature</i> (Univ. of Texas Press, 2008)</td>
</tr>
<tr> 
<td valign=top>2007</td>
<td valign=top>Antonio Viego, Duke University, for <i>Dead Subjects: Toward a Politics of Loss in Latino Studies</i> (Duke Univ. Press, 2007)</td>
</tr>
<tr> 
<td valign=top>2006</td>
<td valign=top>Alicia Arrizón, University of California, Riverside, for <i>Queering Mestizaje: Transculturation and Performance</i> (Univ. of Michigan Press, 2006)</td>
</tr><tr> 
<td valign=top> </td>
<td valign=top>Ramón Saldívar, Stanford University, for <i>The Borderlands of Culture: Américo Paredes and the Transnational Imaginary</i> (Duke Univ. Press, 2006)</td>
</tr>
<tr> 
<td valign=top>2005</td>
<td valign=top>Ralph E. Rodriguez, Brown University, for <i>Brown Gumshoes: Detective Fiction and the Search for Chicana/o Identity</i> (Univ. of Texas Press, 2005)</td>
</tr><tr> 
<td valign=top> </td>
<td valign=top>Honorable Mention: Michelle Habell-Pallán, University of Washington, for <i>Loca Motion: The Travels of Chicana and Latina Popular Culture</i> (New York Univ. Press, 2005)</td>
</tr>

<tr> 
<td valign=top>2004</td>
<td valign=top>Frederick Luis Aldama, Ohio State University, for <i>Dancing with Ghosts: A Critical Biography of Arturo Islas</i> (Univ. of California Press, 2004)</td>
</tr>
<tr> 
<td valign=top>2003</td>
<td valign=top>Rosa-Linda Fregoso, University of California, Santa Cruz, for <i>MeXicana Encounters: The Making of Social Identities on the Borderlands</i> (Univ. of California Press, 2003)</td>
</tr>
<tr> 
<td valign=top>2002</td>
<td valign=top>Mary Pat Brady, Cornell University, for <i>Extinct Lands, Temporal Geographies: Chicana Literature and the Urgency of Space</i> (Duke Univ. Press, 2002)</td>
</tr>
<tr> 
<td valign=top>&nbsp;</td>
<td valign=top>Honorable mention: Ra&uacute;l Homero Villa, Occidental 
College, for <i>Barrio-Logos: Space and Place in Urban Chicano Literature 
and Culture </i>(Univ. of Texas Press, 2000)</td>
</tr>
<tr> 
<td><img src="/IMAGES/clear.gif" width="80" height="1" alt=""></td>
<td>&nbsp;</td>
</tr>
</table>
[[[insert file "pastwinner_footer"]]]
