<h1>Modern Language Association Prize for a Scholarly Edition</h1>
<h2>Competition in 2015 for Editions Published in 2013 or 2014</h2>
Open to Members and Nonmembers of the Association

The Committee on Honors and Awards of the Modern Language Association invites editors, including editors of digital works, to compete for the eleventh MLA Prize for a Scholarly Edition. Established in 1995, the award is presented each odd-numbered year. For the competition in 2015, the committee solicits submissions of editions published in 2013 or 2014. A multivolume edition is eligible if at least one volume was published during that period. The prize will be given without regard to the field or language either of the editor or of the text presented in the edition. The editor need not be a member of the MLA.

To qualify for the award, an edition should be based on an examination of all available relevant textual sources; the source texts and the edited text's deviations from them should be fully described; the edition should employ editorial principles appropriate to the materials edited, and those principles should be clearly articulated in the volume; the text should be accompanied by appropriate textual and other historical contextual information; the edition should exhibit the highest standards of accuracy in the presentation of its text and apparatus; and the text and apparatus should be presented as accessibly and elegantly as possible. The prize, which consists of a cash award and a certificate, will be presented to the winning editor at the association's annual convention in January 2016.

To enter an edition into the competition, authors or publishers should send four copies and a letter identifying the work to the MLA Prize for a Scholarly Edition, Modern Language Association, 26 Broadway, 3rd Floor, New York, NY 10004-1789. In the case of a born-digital publication, send the relevant media or URL and a letter identifying the work to <a href="mailto:awards@mla.org">awards@mla.org</a>. Entries may be sent at any time but must be received by 1 May 2015. Publishers may enter more than one title, but no book or edition may compete for more than one MLA prize. A multivolume print edition that competed in a prior year may compete again if a new volume was published during the later award period; substantially revised or updated digital editions may compete once every four years. An ongoing electronic work that has won the award may not compete again. Shipping labels should indicate the names of the prizes for which the books are competing. For further information, call or write the office of programs at the MLA (646 576-5141; <A HREF="mailto:awards@mla.org">awards@mla.org</a>).

<A HREF="pastwinners_distsch">Past winners</a> of this prize
