<h1>Aldo and Jeanne Scaglione Prize for Studies in Germanic Languages and Literatures</h1>
<h2>Competition in 2014 for Books Published in 2012 or 2013</h2>
Open Only to Members of the Association

The Committee on Honors and Awards of the Modern Language Association invites authors to compete for the eleventh Aldo and Jeanne Scaglione Prize for Studies in Germanic Languages and Literatures, to be awarded biennially for an outstanding scholarly work on the linguistics or literatures of the Germanic languages, including Danish, Dutch, German, Icelandic, Norwegian, Swedish, and Yiddish. The prize, established by the Aldo and Jeanne Scaglione Endowment Fund, is awarded each even-numbered year. For the current prize, the committee solicits entries of books written by members of the association and published in 2012 or 2013. Works of literary history, literary criticism, philology, and literary theory are eligible for consideration; books that are primarily translations will not be considered. The prize, which consists of a cash award and a certificate, will be presented to the winning author at the association's annual convention in January 2015.

To enter a book into the competition, authors or publishers should send four copies and a letter identifying the work and confirming the author's membership in the MLA to the Scaglione Prize for Studies in Germanic Languages and Literatures, Modern Language Association, 26 Broadway, 3rd floor, New York, NY 10004-1789. In the case of a born-digital publication, send the relevant media or URL and a letter identifying the work to <a href="mailto:awards@mla.org">awards@mla.org</a>. Entries may be sent at any time but must be received by 1 May 2014. Publishers may enter more than one title, but no book may be entered in more than one MLA competition. For further information, call or write the office of programs at the MLA (646 576-5141; <A HREF="mailto:awards@mla.org">awards@mla.org</a>).

<A HREF="pastwinners_germanic">Past winners</a> of this prize
