<h1>William Sanders Scarborough Prize</h1>
<h2>Competition in 2014 for Books Published in 2013</h2>
Open to Members and Nonmembers of the Association

The Committee on Honors and Awards of the Modern Language Association is pleased to invite authors to compete for the thirteenth annual William Sanders Scarborough Prize. A distinguished man of letters and former university president, William Sanders Scarborough was the first African American member of the Modern Language Association. He exemplified the life of the mind combined with community service. Established in 2001, the prize is awarded annually for an outstanding scholarly study of black American literature or culture published the previous year. Books that are primarily translations will not be considered. The prize, which consists of a cash award and a certificate, will be presented to the winning author at the association's annual convention in January 2015.

To enter a book into the competition, authors or publishers should send four copies and a letter identifying the work to the William Sanders Scarborough Prize, Modern Language Association, 26 Broadway, 3rd floor, New York, NY 10004-1789. In the case of a born-digital publication, send the relevant media or URL and a letter identifying the work to <a href="mailto:awards@mla.org">awards@mla.org</a>. Entries may be sent at any time but must be received by 1 May 2014. Publishers may enter more than one title, but no book may be entered in more than one MLA competition. For further information, call or write the office of programs at the MLA (646 576-5141; <A HREF="mailto:awards@mla.org">awards@mla.org</a>).

<A HREF="pastwinners_wss">Past winners</a> of this prize
