<h1>Aldo and Jeanne Scaglione Prize for a Translation of a Scholarly Study of Literature</h1>
<h2>Competition in 2015 for Translations Published in 2013 or 2014</h2>
Open to Members and Nonmembers of the Association

The Committee on Honors and Awards of the Modern Language Association invites translators and publishers to compete for the eleventh Aldo and Jeanne Scaglione Prize for a Translation of a Scholarly Study of Literature. The prize, established by the Aldo and Jeanne Scaglione Endowment Fund, is awarded each odd-numbered year for an outstanding translation into English of a book-length work of literary history, literary criticism, philology, or literary theory. In the competition of 2015, the committee solicits submissions of translations of scholarly studies of literature. Translations published in 2013 or 2014 are eligible to compete. Translators need not be members of the association. The prize, which consists of a cash award and a certificate, will be presented to the winning translator at the association's annual convention in January 2016.

To enter a book into the competition, authors or publishers should send four copies and a letter identifying the work to the Scaglione Prize for a Translation of a Scholarly Study of Literature, Modern Language Association, 26 Broadway, 3rd floor, New York, NY 10004-1789. In the case of a born-digital publication, send the relevant media or URL and a letter identifying the work to <a href="mailto:awards@mla.org">awards@mla.org</a>. Entries may be sent at any time but must be received by 1 May 2015. Publishers may submit more than one title, but no book may compete for more than one MLA prize. Shipping labels should indicate the names of the prizes for which the books are competing. For further information, call or write the office of programs at the MLA (646 576-5141; <A HREF="mailto:awards@mla.org">awards@mla.org</a>).

<I>Note:</i> The MLA also offers each year a prize honoring an outstanding translation into English of a book-length literary work.  The Aldo and Jeanne Scaglione Prize for a Translation of a Literary Work is presented in even-numbered years, and the Lois Roth Award for a Translation of a Literary Work is given in odd-numbered years. Translations published in the calendar year preceding the year of the award are eligible to compete.

<A HREF="pastwinners_trans">Past winners</a> of this prize
