<h1>Morton N. Cohen Award for a Distinguished Edition of Letters</h1>
<h2>Competition in 2015 for Editions Published in 2013 or 2014</h2>
Open to Members and Nonmembers of the Association

The Committee on Honors and Awards of the Modern Language Association invites editors to compete for the thirteenth Morton N. Cohen Award for a Distinguished Edition of Letters. The award was established in 1989 by a gift from Morton N. Cohen, professor emeritus of English at the City University of New York. The award is presented each odd-numbered year. For the competition in 2015, the committee solicits entries of important collections of letters published in 2013 or 2014. A multivolume edition is eligible if at least one volume was published during that period. Editors can apply regardless of the fields they and the authors of the letters represent, and membership in the MLA is not required.

Under the terms of the award, the winning collection will be one that provides readers with a clear, accurate, and readable text; necessary background information; and succinct and eloquent introductory material and annotations. The edited collection should be in itself a work of literature. The prize, which consists of a cash award and a certificate, will be presented to the winning editor at the association's annual convention in January 2016.

To enter an edition into the competition, authors or publishers should send four copies of each eligible volume to the Morton N. Cohen Award, Modern Language Association, 26 Broadway, 3rd floor, New York, NY 10004-1789. In the case of a born-digital publication, send the relevant media or URL and a letter identifying the work to <a href="mailto:awards@mla.org">awards@mla.org</a>. Entries will be accepted until 1 May 2015. No book or edition may compete for more than one MLA prize, but a multivolume edition that competed for the Cohen Award in a prior year may compete again if a new volume was published during the award period. Shipping labels should indicate the names of the prizes for which the books are competing. For further information, call or write the office of programs at the MLA (646 576-5141; <A HREF="mailto:awards@mla.org">awards@mla.org</a>).

<A HREF="pastwinners_cohen">Past winners</a> of this prize
