<h1>Modern Language Association Prize for Independent Scholars</h1>
<h2>Competition in 2014 for Books Published in 2012 or 2013</h2>
Open to Members and Nonmembers of the Association

To recognize and further encourage the achievements and contributions of independent scholars, the Modern Language Association invites authors to compete for the thirtieth MLA Prize for Independent Scholars, to be awarded for a distinguished scholarly book published in 2012 or 2013 in the field of English or another modern language or literature. Authors who are not enrolled in a program leading to an academic degree and did not hold a tenured, tenure-accruing, or tenure-track position in a postsecondary educational institution at the time of publication of the book are eligible. (Tenure is understood to include any comparable provision for job security in a postsecondary educational institution.) Normally, part-time instructors and adjunct faculty members are eligible to compete for the prize. Authors of submitted books need not be members of the association. The prize, which consists of a cash award and a certificate, will be presented to the winning author at the association's annual convention in January 2015.

To enter a book into the competition, authors or publishers should send six copies and a completed <a href="/independent_entry_form" >entry form</a>[[[docstudio filetype_tag_pdf]]] to the MLA Prize for Independent Scholars, Modern Language Association, 26 Broadway, 3rd floor, New York, NY 10004-1789. In the case of a born-digital publication, send the relevant media or URL and a letter identifying the work to <a href="mailto:awards@mla.org">awards@mla.org</a>. Entries must be received by 1&nbsp;May 2014. Publishers may enter more than one title, but no work may be entered in more than  one MLA competition. Shipping labels should indicate the names of the prizes for which the books are competing. For further information, or to obtain copies of the entry form, call or write the office of programs at the MLA (646 576-5141; <A HREF="mailto:awards@mla.org">awards@mla.org</a>).

<i>Note:</i> From 1983 to 2010, the MLA Prize for Independent Scholars was offered annually. It is now a biennial prize, with competitions in even-numbered years.

<A HREF="pastwinners_indsch">Past winners</a> of this prize[[[insert file "filename"]]]
