<h1><i>Profession</i> Advisory Committee</h1>
Function: Reports on articles submitted for publication in <i>Profession</i>.

Staff liaison: Carol Zuses (<a href="mailto:profession@mla.org">profession@mla.org</a>)

Idelber Avelar, 2001-02
Ed Folsom, 2002-03
Dennis Looney, 2002-03
Mary Beth Rose, 2001-02

<a href="/committees">Committees and Commissions Index</a>
