<h1><i>Profession</i></h1>
<i>Profession</i> carries articles that focus on the fields of modern languages and literatures as a profession. Topics include current intellectual, curricular, and institutional trends and issues as well as relevant public policy debates. Essays selected for the journal can be read with interest and profit by many, if not all, MLA members. 

The <a href="http://profession.commons.mla.org">2013 issue of <i>Profession</i></a> includes regular submissions and presentations that were part of the Presidential Forum at the 2013 MLA Annual Convention. Articles were published in installments online in fall 2013 and will be collected and published in an e-book format.

Starting in 2014, <i>Profession</i> will accept submissions on a rolling basis, and articles selected by the editorial collective will be published in the open-access journal throughout the year. An annual e-book will be published in December. Submissions may be sent to <a href="mailto:profession@mla.org">profession@mla.org</a>.

<b>The 2011 and 2012 issues of <i>Profession</i> are <a href="/prof_2011_eb_download">available for free to current members in e-reader formats</a>.</b>
