<h1>Works Cited</h1>
<a name="aronowitz"> </a>
Aronowitz, Stanley, and William DiFazio. <I>The Jobless Future: Sci-Tech and the Dogma of Work</I>. Minneapolis: U of Minnesota P, 1994.
<a name="cahalan"> </a>
Cahalan, Margaret, et al. <I>Fall Staff in Postsecondary Institutions, 1993</I>. Washington: GPO, 1996. NCES 96-323. Natl. Center for Educ. Statistics. &#60;<a href="http://nces.ed.gov/pubsearch/pubsinfo.asp?pubid=96323XXXXX" target="_top">http://nces.ed.gov/pubsearch/pubsinfo.asp?pubid=96323XXXXX</a>&#62;.
<a name="council"> </a>
Council for Aid to Education. <I>Breaking the Social Contract: The Fiscal Crisis in Higher Education</I>. New York: Council for Aid to Educ., 1997.
<a name="franklin"> </a>
Franklin, Phyllis. "Climbing Mt. Everest." Online posting. 10 June 1997. E-GRAD. 
<a name="debate"> </a>
------. "The Debate over College Costs." <I>MLA Newsletter</I> 29.3 (1997): 5-6.
<a name="fulton"> </a>
Fulton, John D. <I>1995 Annual AMS-IMS-MAA Survey (First Report). Notices of the AMS</I> Dec. 1995: 1504-19. Providence: Amer. Mathematical Soc., 1995.
<a name="gaff"> </a>
Gaff, Jerry G., and Leo&nbsp;M.&nbsp;Lambert. "Socializing Future Faculty to the Values of Undergraduate Education." <I>Change</I> July-Aug. 1996: 38.
<a name="goldstein"> </a>
Goldstein, Amy. "Feds Will Pay Not to Train New Doctors." <I>San Francisco Examiner</I> 24 Aug. 1997: A-1.
<a name="good"> </a>
Good, Mary Lowe, and Neal&nbsp;F.&nbsp;Lane. "Producing the Finest Scientists and Engineers for the Twenty-First Century." <I>Science</I> 4 Nov. 1994.
<a name="guillory"> </a>
Guillory, John. "Preprofessionalism: What Graduate Students Want." <I>Profession 1996</I>. New York: MLA, 1996. 91-99.
<a name="heindel"> </a>
Heindel, Ned&nbsp;D.&nbsp;Cover letter. <I>Employment Patterns of Recent Doctorates in Chemistry: Institutional Perspectives and Imperatives for Change</I>. By the Presidential Task Force on the Study of Doctoral Educ. in Chemistry. Washington: Amer. Chemical Soc., 1995.
<a name="stanley"> </a>
Ikenberry, Stanley O. <I>Testimony to the Committee on Labor and Human Resources, United States Senate</I>. Washington: Amer. Council on Educ., 1997.
<a name="ingram"> </a>
Ingram, Linda, and Prudence Brown. <I>Humanities Doctorates in the United States: 1995 Profile</I>. Washington: Natl. Acad., 1997.
<a name="international"> </a>
<I>International Herald Tribune</I> 16 July 1997: 7.
<a name="johnson"> </a>
Johnson, Mark A. "Professions beyond the Academy." <I>Profession 1996</I>. New York: MLA, 1996. 60-68.
<a name="lewontin"> </a>
Lewontin,&nbsp;R.&nbsp;C., "The Cold War and the Transformation of the Academy." <I>The Cold War and the University: Toward an Intellectual History of the Postwar Years</I>. By Noam Chomsky et al. New York: New, 1997. 1-34.
<a name="lindenberger"> </a>
Lindenberger, Herbert. "The Committee on Professional Employment at Work." <I>MLA Newsletter</I> 29.2 (1997): 3-4.
<a name="marusiak"> </a>
Marusiak, Joseph. Letter to Patricia&nbsp;A.&nbsp;Hanley. 3 Oct. 1996.
<a name="may"> </a>
May, Ernest R., and Dorothy&nbsp;G.&nbsp;Blaney. <I>Careers for Humanists</I>. New York: Academic, 1981.
<a name="modern"> </a>
Modern Language Association. "The Modern Language Job Market: Available Positions and New Degree Recipients." <I>MLA Newsletter</I> 29.2 (1997): A1-A8.
<a name="national"> </a>
National Academy of Sciences. <I>A Century of Doctorates: Data Analyses of Growth and Change</I>. Washington: Natl. Acad. of Sciences, 1978.
<a name="association"> </a>
National Association for Law Placement. <I>Employment of Class of 1995 Law Graduates Shows Modest Gains</I>. Washington: Natl. Assn. for Law Placement, 1996.
<a name="research"> </a>
National Research Council. <I>Summary Report 1972: Doctorate Recipients from United States Universities</I>. Washington: Natl. Research Council, 1973.
<a name="orr"> </a>
Orr, David. "The Job Market in English and Foreign Languages." <I>PMLA</I> 85 (1970): 1185-98.
<a name="pear"> </a>
Pear, Robert. "Doctors Assert There Are Too Many of Them." <I>New York Times</I> 1 Mar. 1997, natl. ed.: 9.
<a name="ramusack"> </a>
Ramusack, Barbara, and Sandria&nbsp;B.&nbsp;Freitag. Letter to Phyllis Franklin. 18 Feb. 1997.
<a name="jeremy"> </a>
Rifkin, Jeremy. <I>The End of Work: The Decline of the Global Labor Force and the Dawn of the Post-Market Era</I>. New York: Putnam's, 1995.
<a name="schuster"> </a>
Schuster, Jack H. "Speculating about the Labor Market for Academic Humanists: 'Once More unto the Breach.'" <I>The MLA Guide to the Job Search: A Handbook for Departments and for PhDs and PhD Candidates in English and Foreign Languages</I>. Ed. English Showalter et al. New York: MLA, 1996. 110-20.
<a name="showalter"> </a>
Showalter, English. "The Academic Job Search." <I>The MLA Guide to the Job Search: A Handbook for Departments and for PhDs and PhD Candidates in English and Foreign Languages</I>. Ed. English Showalter et al. New York: MLA, 1996. 16-56.
<a name="smith"> </a>
Smith, Alison T. "Secondary Education: Still an Ignored Market." <I>Profession 1996</I>. New York: MLA, 1996. 69-72.
<a name="solmon"> </a>
Solmon, Lewis C. <I>Underemployed PhDs</I>. Lexington: Heath, 1981.
<a name="spacks"> </a>
Spacks, Patricia Meyer. "The Academic Marketplace: Who Pays Its Costs?" <I>MLA Newsletter</I> 26.2 (1994): 3.
<a name="statement"> </a>
<I>Statement from the Conference on the Growing Use of Part-Time and Adjunct Faculty.</I> Washington. 26-28 Sept. 1997. <I>Academe</I> 84.1 (1998): 59-60.
<a name="zimbler"> </a>
Zimbler, Linda J. <I>Faculty and Instructional Staff: Who Are They and What Do They Do?</I> Washington: GPO, 1994. NCES 94-346.

<a href="/prof_employment">< Index</a>
