<h1>Guidelines for the Series World Literatures Reimagined</h1>
<h2>Goals of the Series</h2>
World Literatures Reimagined aims to make possible a creative and informed approach to teaching and understanding the many national literatures that tend to fall under the rubric "world literature." Books in the series seek to provide teachers and students with points of entry into individual national literatures, especially ones that may be relatively neglected in world literature courses as currently taught in North America. Moreover, the books may provide ways of approaching unfamiliar material other than through national identity. The series aims to develop new articulations of the connections among literatures and to give a sense of how these literatures and their cultures might be like and unlike one another. 

<h2>Nature and Content of Volumes</h2>
Written by specialists but addressed to a wide audience, books in the series consider particular literatures in an international context.  The scope of the books includes the emergent literatures of the developing world, the less taught literatures of central and eastern Europe and the Americas, and the literary traditions and languages of Asia, Africa, and the Middle East.  In addition, the series will consider literatures representing the combining of cultures evident in, for example, Anglophone writing from India or Lusophone writing from Africa.  Volumes may combine literary history, interpretation, pedagogy, and—especially—a lively sense of the opportunities and problems of cross-cultural studies.  Individual books may deal with periods within national literatures, with genres or topics, or with other ways of organizing literary traditions; another possibility is for a volume to range more widely within a literature, identifying texts and issues from both local and international points of view.  Together the books are envisioned as a set of interventions into the often Anglocentric discussion of world literature.  Closely situated in the specificity of works and traditions, they are intended to serve as practical guides to their fields and as original contributions to scholarship. They may be by a single author or coauthors. 

Authors of books in the series are given a unique invitation—to map a trajectory from the specific to the international to the global.  How can a specialist's view of a particular cultural terrain be reframed in international terms?  In what ways do the given texts and problems figure in world literature?  And how might a more acute sense of the distinctiveness as well as the likeness of cultures shape the definition of world literature?  The answers to such questions are likely to differ substantially from volume to volume. Hence, these books have a cultural rather than formulaic outlook; they do not "cover" literatures so much as move provocatively in their chosen settings.  Further, each book in the series should address issues of translation, identifying available resources but also explaining the alternatives to and difficulties of translation in cross-national perspectives. Where is translation possible and impossible? How are particularities effaced by the customs and choices of translation into English?  How does translation mediate between the local, the international, and the global? And, finally, authors are encouraged to discuss media resources in the field, where appropriate, such as films, sound recordings, videos, and electronic ventures.

<h2>Proposal</h2>
The MLA welcomes proposals for projects at initial stages as well as completed manuscripts. In either case, a prospective author or editor should first send a two-page letter to the <A HREF="#sc">office of scholarly communication</a> at MLA headquarters describing the subject of the proposed book and giving an idea of its content and organization as well as how it would fit in with the aims of the series.  The proposal should include a curriculum vitae for each prospective author or editor.  Proposals may be evaluated by specialist readers in the field. After considering the readers' and series editor's responses and the stage of development of the project, the MLA may at this point invite submission of a prospectus or a manuscript.

<h2>Prospectus</h2>
The prospectus includes discussion of the need and rationale for the volume, its scholarly and professional significance, its organizational plan, its projected topics and authors (if applicable), and its predicted length in manuscript pages.  The prospectus is evaluated by at least two consultant readers. Guided by the reader evaluations, the MLA, in collaboration with the series editor, either returns the prospectus for revision or presents it, along with the readers' reports, to the Publications Committee for preliminary action. If the committee approves the prospectus, the MLA invites the author(s) or editor(s) of the volume to submit a manuscript.

<h2>Manuscript</h2>
In preparing the manuscript, authors or editors should follow MLA style as outlined in the latest editions of the <A HREF="http://www.mla.org/cgi-shl/hazel.exe?action=detail&template=bookinfo.html&item=S181"><I>MLA Style Manual and Guide to Scholarly Publishing</i></a> and the <A HREF="http://www.mla.org/cgi-shl/hazel.exe?action=detail&template=bookinfo.html&item=S178"><I>MLA Handbook for Writers of Research Papers</i></a>. Content notes should be avoided if possible.  Authors are responsible for obtaining permission to use copyrighted as well as unpublished material, including student writing.  The complete manuscript, including all materials but the index, should not exceed 350 typescript pages.

The manuscript is sent to consultant readers, and their evaluations determine whether it is returned for revision or presented, along with the readers' reports, to the Publications Committee for a decision on publication.  After committee approval of a manuscript, each contributor receives an author's contract.  Volume editors or authors receive a modest royalty; essay contributors are offered an honorarium. All receive complimentary copies of the published book.

Proposals should be sent to <a name="sc">&nbsp;</a>
<blockquote>
World Literatures Reimagined
Office of Scholarly Communication
Modern Language Association
26 Broadway, 3rd floor
New York, NY 10004-1789
<A HREF="mailto:scholcomm@mla.org">scholcomm@mla.org</a>
</blockquote>
