<h1>MLA Book Series</H1>
<A NAME="approaches"><h2>Approaches to Teaching World Literature</h2></a>
Approaches to Teaching World Literature, now numbering over one hundred volumes, collects within each book different points of view on teaching a specific literary work, a literary tradition (e.g., metaphysical poetry), or a writer widely taught at the undergraduate level.  The series is intended to serve nonspecialists as well as specialists.  The preparation of an Approaches to Teaching volume begins with a wide-ranging survey of instructors, enabling the book to include the philosophies, approaches, thoughts, and methods of scores of experienced teachers.  The result is a sourcebook on teaching the subject of the volume.
<blockquote><i><A HREF="/pub_guidelines_twl">Guidelines</A> for proposals and manuscript preparation.</i>
<I><a href="http://www.mla.org/store/CID39">Published volumes</a> in this series.</I></blockquote>

<A NAME="newshak"><h2>New Variorum Edition of Shakespeare</h2></a>
The New Variorum Edition of Shakespeare, inaugurated in the 1860s by Horace Howard Furness, continues the tradition of the original Variorum editions of the early nineteenth century.  Since its inception, the New Variorum Edition has been the standard reference edition of Shakespeare's work.  Each volume not only contains a complete text of a play but also attempts to present the expanse of scholarly opinion and interpretation from the earliest commentary to the present.  New Variorum editions are valuable resources for an international audience of scholars, students, directors, actors, and general readers interested in everything from dating, sources, and emendations (sometimes in as many as eighty or more editions) to stage history and influential interpretations of particular words.   Overseen by two general editors and an MLA committee, the production of each edition is conducted by a team of scholars and researchers working over a number of years.  Recent publications in the series include <I>The Winter's Tale</i> (ed. Robert Kean Turner and Virginia Westling Haas) and <i>Antony and Cleopatra</i> (ed. Marvin Spevack). <blockquote><I>The</I> <a href=/variorum_handbook>Shakespeare Variorum Handbook: A Manual of Editorial Practice</a> <I>describes editorial practices for the series.</i>
<I><a href="http://www.mla.org/store/CID38">Published volumes</a> in this series.</I></blockquote>

<A NAME="optteac"><h2>Options for Teaching</h2></a>
A broad-ranging series, Options for Teaching addresses pedagogical and professional topics of interest to teachers of language and literature.  Published Options volumes have treated, for example, such areas as children's literature, environmental literature, and interdisciplinarity.  Other typical series books concern the teaching of theory, film, oral traditions, genres, periods, and movements. These collections of original essays provide historical perspectives, overviews of relevant issues, and useful resources for classroom methodology, curriculum development, course planning, and administrative organization.
<blockquote><i><a HREF="/pub_guidelines_oft">Guidelines</A> for proposals and manuscript preparation.</i>
<I><a href="http://www.mla.org/store/CID44">Published volumes</a> in this series.</I></blockquote>

<A NAME="teachlan"><h2>Teaching Languages, Literatures, and Cultures</h2></a>
The series Teaching Languages, Literatures, and Cultures aims to help postsecondary and secondary teachers come to grips with new challenges by examining the ways different languages, literatures, and cultures intersect in theory, research, curricula, and program design.  Proposals for single-author and edited volumes are welcome.
<blockquote><i><a HREF="/pub_guidelines_tllc">Guidelines</A> for proposals and manuscript preparation.</i>
<I><a href="http://www.mla.org/store/CID48">Published volumes</a> in this series.</I></blockquote>

<A NAME="textsand"><h2>Texts and Translations</h2></a>
The Texts and Translations series provides students and faculty members with both important texts in languages other than English and high-quality translations that are not otherwise available at an affordable price. Publications in the series are aimed at students in upper-level-undergraduate and graduate courses.  Plays, short novels, and collections of stories or poems are appropriate for the series; nonfiction works will also be considered.
<blockquote><i><a HREF="/pub_guidelines_tt">Guidelines</A> for proposals and manuscript preparation.</i>
<I><a href="http://www.mla.org/store/CID43">Published volumes</a> in this series.</I></blockquote>

<A NAME="worldlits"><h2>World Literatures Reimagined</h2></a>
World Literatures Reimagined aims to make possible a creative and informed approach to teaching and understanding the many national literatures that tend to fall under the rubric "world literatures," especially those that may be relatively neglected in world literature courses as currently taught in North America. Volumes may combine literary history, interpretation, pedagogy, and--especially--a lively sense of the opportunities and problems of cross-cultural studies. Books in the series may be by a single author or coauthors or may be edited collections of original essays.
<blockquote><i><A HREF="/pub_guidelines_iwl">Guidelines</A> for proposals and manuscript preparation.</i>
<I><a href="http://www.mla.org/store/CID67">Published volumes</a> in this series.</I></blockquote>
