<h1>Guidelines on Preparing the Index</h1>
Parts of the book to index
<ul>
<li>text 
<li>content notes (if any)
</ul>

Parts of the book <i>not</i> to index
<ul>
<li>prefaces, table of contents, and other front matter
<li>list of survey participants
<li>list of works cited
</ul>

What to place in the index
<ul>
<li>names of persons
<li>titles of anonymous works
</ul>

What <i>not</i> to place in the index
<ul>
<li>names of fictional characters
<li>titles of works (unless anonymous)
<li>subjects
</ul>

Format of the index in typescript
<ul>
<li>List entries alphabetically, generally by last name (Ellison, Ralph <i>but</i> Dante Alighieri) or, for anonymous works, by title, ignoring introductory articles (<i>a</i>, <i>an</i>, <i>the</i>).
<li>Begin each entry flush with the left margin.
<li>Place a comma after the name or title, skip a space, and give relevant page number(s).
<li>Use inclusive numbers if the subject continues for more than one page (10-11, 110-11).
<li>Separate page numbers with a comma and a space.
<li>Double-space within and between entries.
<li>Indent second and subsequent lines of an entry one-half inch (or five spaces) from the left margin.
<li>Use one column only per typescript page.
<li>Number every page of the index in the upper right-hand corner ("Index 1").
</ul>

For additional information on indexing, see <i>The Chicago Manual of Style</i>, 15th ed. (2003), ch. 18.
