<h1>Sessions Open to the Public</h1>
<h2>Forums and Linked Sessions</h2>
<ul class="program_entry_list">
<li class="program_entry">
<p>
	<a href="/program_details?prog_id=F001&year=2012">69. The Future of Higher Education</a>
</p>
<blockquote>
	<i>Thursday, 5 January, 3:30–5:15 p.m., Grand C, Sheraton</i>
</blockquote>

</li>

<div style="margin:0px 0px 12px 24px;">
	<li class="program_subentry"><a href="/program_details?prog_id=W001A&year=2012">135A. The Future of Learning</a><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>Thursday, 5 January, 7:00–8:15 p.m., Grand C, Sheraton</i></li>
	<li class="program_subentry"><a href="/program_details?prog_id=W001B&year=2012">467. The Future of Teaching</a><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>Saturday, 7 January, 12:00 noon–1:15 p.m., Grand C, Sheraton</i></li>
	
</div>


	
	<li class="program_entry">
	<p>
	<a href="/program_details?prog_id=F002&year=2012">202. The Presidential Forum: Language, Literature, Learning</a>
	</p>
	<blockquote><i>Friday, 6 January, 10:15 a.m.–12:00 noon, Metropolitan A, Sheraton</i></blockquote>
	</li>
	
	<div style="margin:0px 0px 15px 24px;">

	<li class="program_subentry"><a href="/program_details?prog_id=W002B&year=2012">283. What Makes Language Literary?</a><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>Friday, 6 January, 1:45–3:00 p.m., Metropolitan A, Sheraton</i></li>
	<li class="program_subentry"><a href="/program_details?prog_id=W002A&year=2012">431. Language and Learning</a><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>Saturday, 7 January, 10:15–11:30 a.m., Metropolitan A, Sheraton</i></li>
	<li class="program_subentry"><a href="/program_details?prog_id=W002C&year=2012">527. Democracy, Language, and Literature</a><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i>Saturday, 7 January, 1:45–3:00 p.m., Metropolitan A, Sheraton</i></li>
	
	</div>
</ul>	


<h2>Creative Conversations</h2>

<ul class="program_entry_list">	

<li class="program_entry">
<p>
	<a href="/program_details?prog_id=M024B&year=2012">143. A Creative Conversation: Ruth Ozeki with Susan Squier</a>
</p>
<blockquote>
	<i>Thursday, 5 January, 7:00–8:15 p.m., 604, WSCC</i>
</blockquote>
</li>
<li class="program_entry">
<p>
	<a href="/program_details?prog_id=M024F&year=2012">240. A Creative Conversation: David Shields with Jessica Burstein</a>
</p>
<blockquote>
	<i>Friday, 6 January, 12:00 noon–1:15 p.m., 607, WSCC</i>
</blockquote>
</li>

<li class="program_entry">
<p>
	<a href="/program_details?prog_id=M024D&year=2012">329. A Creative Conversation with Richard Van Camp: Writing, Language, and Indigenous Expression</a>
</p>
<blockquote>
	<i>Friday, 6 January, 3:30–4:45 p.m., Redwood, Sheraton</i>
</blockquote>
</li>

<li class="program_entry">
<p>
	<a href="/program_details?prog_id=M024A&year=2012">347. A Creative Conversation with the Chinese Poet Xi Chuan</a>
</p>
<blockquote>
	<i>Friday, 6 January, 5:15–6:30 p.m., Grand B, Sheraton</i>
</blockquote>
</li>

<li class="program_entry">
<p>
	<a href="/program_details?prog_id=A081A&year=2012">567. Pinter in Seattle: A Creative Conversation with Frank Corrado and Harry Burton</a>
</p>
<blockquote>
	<i>Saturday, 7 January, 3:30–4:45 p.m., 608, WSCC</i>
</blockquote>
</li>

<li class="program_entry">
<p>
	<a href="/program_details?prog_id=M024C&year=2012">584. A Creative Conversation with Charles Johnson</a>
</p>
<blockquote>
	<i>Saturday, 7 January, 5:15–6:30 p.m., 6A, WSCC</i>
</blockquote>
</li>

<li class="program_entry">
<p>
	<a href="/program_details?prog_id=G029C&year=2012">619. Performing Wagner: A Creative Conversation</a>
</p>
<blockquote>
	<i>Saturday, 7 January, 7:00–8:15 p.m., Grand D, Sheraton</i>
</blockquote>
</li>

</ul>

<h2>Other Sessions Open to the Public</h2>


<ul class="program_entry_list">

<li class="program_entry">
<p>
	<a href="/program_details?prog_id=M039A&year=2012">161. The Webs We Weave: Online Pedagogy in Community Colleges</a>
</p>
<blockquote>
	<i>Thursday, 5 January, 7:00–8:15 p.m., 615, WSCC</i>
</blockquote>
</li>

<li class="program_entry">
<p>
	<a href="/program_details?prog_id=D076C&year=2012">232. The Lost Years: African American Literature and Culture, 1940&ndash;60</a>
</p>
<blockquote>
	<i>Friday, 6 January, 10:15–11:30 a.m., 310, WSCC</i>
</blockquote>
</li>

<li class="program_entry">
<p>
	<a href="/program_details?prog_id=G046A&year=2012">288. Radical Learning Strategies</a>
</p>
<blockquote>
	<i>Friday, 6 January, 1:45–3:00 p.m., 606, WSCC</i>
</blockquote>
</li>

<li class="program_entry">
<p>
	<a href="/program_details?prog_id=S751&year=2012">308. Charlie Chan Is Undead: Reopening the Case of America's First Mainstream Minority Detective</a>
</p>
<blockquote>
	<i>Friday, 6 January, 1:45–3:00 p.m., 307, WSCC</i>
</blockquote>
</li>

<li class="program_entry">
<p>
	<a href="/program_details?prog_id=M025A&year=2012">315. The New Dissertation: Thinking outside the (Proto-)Book</a>
</p>
<blockquote>
	<i>Friday, 6 January, 3:30–4:45 p.m., 606, WSCC</i>
</blockquote>
</li>	

	<li class="program_entry">
<p>
<a href="/program_details?prog_id=M018B&year=2012">380. The Presidential Address</a>
</p>
<blockquote><i>Friday, 6 January, 6:45 p.m., Metropolitan A, Sheraton</i>
</blockquote>
</li>

<li class="program_entry">
<p>
	<a href="/program_details?prog_id=M009B&year=2012">496. Career Opportunities in Two-Year Colleges</a>
</p>
<blockquote>
	<i>Saturday, 7 January, 12:00 noon–1:15 p.m., 307, WSCC</i>
</blockquote>
</li>

<li class="program_entry">
<p>
	<a href="/program_details?prog_id=M039C&year=2012">520. Sticker Shock: The Rising Cost of Textbooks</a>
</p>
<blockquote>
	<i>Saturday, 7 January, 1:45–3:00 p.m., 617, WSCC</i>
</blockquote>
</li>

<li class="program_entry">
<p>
	<a href="/program_details?prog_id=M018A&year=2012">611. MLA Awards Ceremony</a>
</p>
<blockquote>
	<i>Saturday, 7 January, 6:45 p.m., Metropolitan A, Sheraton</i>
</blockquote>
</li>

<li class="program_entry">
<p>
	<a href="/program_details?prog_id=S821&year=2012">732. Northwest Poetry and Poetics</a>
</p>
<blockquote>
	<i>Sunday, 8 January, 1:45–3:00 p.m., 606, WSCC</i>
</blockquote>
</li>

</ul>
