<h1>Public Policy Resources</h1>
The following Web sites offer action appeals on legislative and institutional issues related to teaching and scholarship. This information is provided in accordance with an action of the MLA Delegate Assembly to enhance and encourage democratic participation in political issues that bear directly on the professional lives of MLA members.

<b>Campaign for Reader Privacy</b>
<a href="http://www.readerprivacy.org/" target="_blank">http://www.readerprivacy.org/</a>

<b>Issues AAUP Government Relations Page</b>
<a href="http://www.aaup.org/our-work/government-relations" target="_blank">http://www.aaup.org/our-work/government-relations</a>

<b>National Education Association's Legislative Action Center</b>
<a href="http://www.nea.org/home/LegislativeActionCenter.html" target="_blank">http://www.nea.org/home/LegislativeActionCenter.html</a>

<b>National Humanities Alliance Policy and Legislation Issues</b>
<a href="http://www.nhalliance.org/advocacy/index.shtml" target="_blank">http://www.nhalliance.org/advocacy/index.shtml</a>

<b>PEN Freedom to Write Committee</b>
<a href="http://www.penusa.org/programs/freedom-to-write" target="_blank">http://www.penusa.org/programs/freedom-to-write</a>
