<style>
blockquote {font-style: italic}
.linked {margin-left: 40px;}
</style>

<h1>2014 Sessions Open to the Public</h1>

<h2>Forums</h2>
<ul class="program_entry_list">
<li class="program_entry"><a href="/program_details?prog_id=230&year=2014">230. The Presidential Forum: Vulnerable Times</a>
<blockquote>Friday, 10 January, 10:15 a.m.–12:00 noon, Sheraton IV–V, Sheraton Chicago</blockquote></li>
<div class="linked">
<li><a href="/program_details?prog_id=323&year=2014">323. Trauma, Memory, Vulnerability</a>
<blockquote>Friday, 10 January, 1:45–3:00 p.m., Chicago IX, Sheraton Chicago</blockquote></li>
<li><a href="/program_details?prog_id=523&year=2014">523. The Politics of Language in Vulnerable Times</a>
<blockquote>Saturday, 11 January, 12:00 noon–1:15 p.m., Chicago VI, Sheraton Chicago</blockquote></li>
<li><a href="/program_details?prog_id=607&year=2014">607. Public Humanities</a>
<blockquote>Saturday, 11 January, 3:30–4:45 p.m., Chicago IX, Sheraton Chicago</blockquote></li>
</div>

<li class="program_entry"><a href="/program_details?prog_id=346&year=2014">346. Reframing Postcolonial and Global Studies in the Longer <i>Durée</i></a>
<blockquote>Friday, 10 January, 3:30–5:15 p.m., Chicago IX, Sheraton Chicago</blockquote></li>
<div class="linked">
<li><a href="/program_details?prog_id=547&year=2014">547. Languages in and between Empires: Translation, Script, and  Geopolitical Agency</a>
<blockquote>Saturday, 11 January, 1:45–3:00 p.m., Sheraton I, Sheraton Chicago</blockquote></li>
<li><a href="/program_details?prog_id=707&year=2014">707. Global Genealogies of Diaspora, Genre, and Intertextuality</a>
<blockquote>Sunday, 12 January, 10:15–11:30 a.m., Sheraton I, Sheraton Chicago</blockquote></li>
</div>
</ul>
<h2>Special Events and Creative Conversations</h2>
<ul class="program_entry_list">
<li class="program_entry"><a href="/program_details?prog_id=155A&year=2014">155A. A Screening of <i>Eight Men Out</i>, a Film by John Sayles</a>
<blockquote>Thursday, 9 January, 6:30–8:45 p.m., Grand I, Chicago Marriott</blockquote></li>

<li class="program_entry"><a href="/program_details?prog_id=269A&year=2014">269A. Chicago Latina/o Writing: A Creative Conversation</a>
<blockquote>Friday, 10 January, 12:00 noon–1:15 p.m., Sheraton I, Sheraton Chicago</blockquote></li>
<li class="program_entry"><a href="/program_details?prog_id=422&year=2014">422. Chicago’s Spanish-Language Literature: Poetry / Literatura de Chicago en español: Poesía</a>
<blockquote>Friday, 10 January, 7:00–8:15 p.m., Superior A, Sheraton Chicago</blockquote></li>

<li class="program_entry"><a href="/program_details?prog_id=476&year=2014">476. John Sayles and Maggie Renzi: A Creative Conversation</a>
<blockquote>Saturday, 11 January, 10:15–11:30 a.m., Chicago E, Chicago Marriott</blockquote></li>
<li class="program_entry"><a href="/program_details?prog_id=635&year=2014">635. A Creative Conversation with Siri Hustvedt and Nancy K. Miller</a>
<blockquote>Saturday, 11 January, 5:15–6:30 p.m., Addison, Chicago Marriott</blockquote></li>
<li class="program_entry"><a href="/program_details?prog_id=661&year=2014">661. Chicago’s Spanish-Language Literature: Fiction / Literatura de Chicago en español: Narrativa</a>
<blockquote>Saturday, 11 January, 7:00–8:15 p.m., Erie, Sheraton Chicago</blockquote></li>
</ul>
<h2>Other Sessions Open to the Public</h2>
<ul class="program_entry_list">
<li class="program_entry"><a href="/program_details?prog_id=43&year=2014">43. Morris and Arts and Crafts in the Midwest</a>
<blockquote>Thursday, 9 January, 1:45–3:00 p.m., Chicago A–B, Chicago Marriott</blockquote></li>
<li class="program_entry"><a href="/program_details?prog_id=69&year=2014">69. Dreaming the Actual: Chicago Literary Voices</a>
<blockquote>Thursday, 9 January, 1:45–3:00 p.m., Grace, Chicago Marriott</blockquote></li>
<li class="program_entry"><a href="/program_details?prog_id=84&year=2014">84. Latino/a Chicago</a>
<blockquote>Thursday, 9 January, 3:30–4:45 p.m., Missouri, Sheraton Chicago</blockquote></li>
<li class="program_entry"><a href="/program_details?prog_id=92&year=2014">92. Beyond the Department Wall: A Roundtable with Past MLA Presidents on Expanding Networks in Language Study</a>
<blockquote>Thursday, 9 January, 3:30–4:45 p.m., Chicago X, Sheraton Chicago</blockquote></li>
<li class="program_entry"><a href="/program_details?prog_id=131&year=2014">131. The Musics of Chicago</a>
<blockquote>Thursday, 9 January, 5:15–6:30 p.m., Chicago H, Chicago Marriott</blockquote></li>
<li class="program_entry"><a href="/program_details?prog_id=149&year=2014">149. Online Courses: Challenges and Opportunities</a>
<blockquote>Thursday, 9 January, 5:15–6:30 p.m., Addison, Chicago Marriott</blockquote></li>
<li class="program_entry"><a href="/program_details?prog_id=163&year=2014">163. Red Chicago</a>
<blockquote>Thursday, 9 January, 7:00–8:15 p.m., Clark, Chicago Marriott</blockquote></li>

<li class="program_entry"><a href="/program_details?prog_id=241&year=2014">241. Responding to Our Times: The Humanities and/as “Service”</a>
<blockquote>Friday, 10 January, 10:15–11:30 a.m., Superior A, Sheraton Chicago</blockquote></li>
<li class="program_entry"><a href="/program_details?prog_id=258&year=2014">258. When Chicago Was in Vogue: A “Second Awakening” in African American Art and Culture</a>
<blockquote>Friday, 10 January, 10:15–11:30 a.m., Great America, Chicago Marriott</blockquote></li>
<li class="program_entry"><a href="/program_details?prog_id=295&year=2014">295. Hemingway and the Chicago Renaissance</a>
<blockquote>Friday, 10 January, 12:00 noon–1:15 p.m., Grace, Chicago Marriott</blockquote></li>
<li class="program_entry"><a href="/program_details?prog_id=299&year=2014">299. What Is Data in Literary Studies?</a>
<blockquote>Friday, 10 January, 12:00 noon–1:15 p.m., Michigan–Michigan State, Chicago Marriott</blockquote></li>
<li class="program_entry"><a href="/program_details?prog_id=309&year=2014">309. Chicago Women Playwrights</a>
<blockquote>Friday, 10 January, 1:45–3:00 p.m., Purdue-Wisconsin, Chicago Marriott</blockquote></li>
<li class="program_entry"><a href="/program_details?prog_id=312&year=2014">312. The Future of Basic Writing in an Age of Accelerated Learning</a>
<blockquote>Friday, 10 January, 1:45–3:00 p.m., Chicago F, Chicago Marriott</blockquote></li>
<li class="program_entry"><a href="/program_details?prog_id=347&year=2014">347. Human Rights and the Humanities: Methods, Pedagogy, and Program Building</a>
<blockquote>Friday, 10 January, 3:30–4:45 p.m., Chicago A–B, Chicago Marriott</blockquote></li>
<li class="program_entry"><a href="/program_details?prog_id=372&year=2014">372. Native Literary Chicago</a>
<blockquote>Friday, 10 January, 3:30–4:45 p.m., Kane, Chicago Marriott</blockquote></li>
<li class="program_entry"><a href="/program_details?prog_id=421&year=2014">421. The Presidential Address</a>
<blockquote>Friday, 10 January, 6:45 p.m., Sheraton IV–V, Sheraton Chicago</blockquote></li>

<li class="program_entry"><a href="/program_details?prog_id=474&year=2014">474. African American Voices from the Civil War</a>
<blockquote>Saturday, 11 January, 10:15–11:30 a.m., Michigan–Michigan State, Chicago Marriott</blockquote></li>
<li class="program_entry"><a href="/program_details?prog_id=504&year=2014">504. Comparative Literature: The Next Ten Years</a>
<blockquote>Saturday, 11 January, 10:15–11:30 a.m., Sheraton I, Sheraton Chicago</blockquote></li>
<li class="program_entry"><a href="/program_details?prog_id=518&year=2014">518. Age and/as Disability</a>
<blockquote>Saturday, 11 January, 12:00 noon–1:15 p.m., Chicago D, Chicago Marriott</blockquote></li>
<li class="program_entry"><a href="/program_details?prog_id=583&year=2014">583. Electronic Literature after <i>Flash</i></a>
<blockquote>Saturday, 11 January, 3:30–4:45 p.m., Purdue-Wisconsin, Chicago Marriott</blockquote></li>
<li class="program_entry"><a href="/program_details?prog_id=593&year=2014">593. Cisneros, Chicago, Mango</a>
<blockquote>Saturday, 11 January, 3:30–4:45 p.m., Northwestern–Ohio State, Chicago Marriott</blockquote></li>
<li class="program_entry"><a href="/program_details?prog_id=598&year=2014">598. Unveiling Herself: Women in the Works of Arab Women Filmmakers</a>
<blockquote>Saturday, 11 January, 3:30–4:45 p.m., Michigan B, Sheraton Chicago</blockquote></li>
<li class="program_entry"><a href="/program_details?prog_id=599&year=2014">599. The Praxis Network: Rethinking Humanities Education, Together and in Public</a>
<blockquote>Saturday, 11 January, 3:30–4:45 p.m., Arkansas, Sheraton Chicago</blockquote></li>
<li class="program_entry"><a href="/program_details?prog_id=627&year=2014">627. Chicago’s <i>Poetry</i> and the Making of Literary Modernism</a>
<blockquote>Saturday, 11 January, 5:15–6:30 p.m., O'Hare, Chicago Marriott</blockquote></li>
<li class="program_entry"><a href="/program_details?prog_id=630&year=2014">630. One Hundred Years of Bollywood</a>
<blockquote>Saturday, 11 January, 5:15–6:30 p.m., Ohio, Sheraton Chicago</blockquote></li>
<li class="program_entry"><a href="/program_details?prog_id=660&year=2014">660. MLA Awards Ceremony</a>
<blockquote>Saturday, 11 January, 6:45 p.m., Sheraton IV–V, Sheraton Chicago</blockquote></li>

<li class="program_entry"><a href="/program_details?prog_id=682&year=2014">682. What Is the Impact of Humanities Scholarship?</a>
<blockquote>Sunday, 12 January, 8:30–9:45 a.m., Missouri, Sheraton Chicago</blockquote></li>
<li class="program_entry"><a href="/program_details?prog_id=691&year=2014">691. Broadway Babies</a>
<blockquote>Sunday, 12 January, 8:30–9:45 a.m., Great America, Chicago Marriott</blockquote></li>
<li class="program_entry"><a href="/program_details?prog_id=710&year=2014">710. Scientific Americans: Exploring Science in Early American Literature</a>
<blockquote>Sunday, 12 January, 10:15–11:30 a.m., Michigan–Michigan State, Chicago Marriott</blockquote></li>
<li class="program_entry"><a href="/program_details?prog_id=777&year=2014">777. Evidence in the Two Cultures</a>
<blockquote>Sunday, 12 January, 1:45–3:00 p.m., Old Town, Chicago Marriott</blockquote></li>
</ul>
