<h1>Publications</h1>

<table  width="100%">
	<tr>
		<td><a href="/adefl_bulletin_ade_main"><i>ADE Bulletin</i></a><br><br>
			<a href="/adefl_bulletin_adfl_main"><i>ADFL Bulletin</i></a><br><br>
			<a href="/job_info_list"><i>Job Information List</i></a><br><br>
			<a href="/handbook"><i>MLA Handbook</i></a>
		</td> 
		<td><a href="/bibliography"><i>MLA International Bibliography</i></a><br><br>
			<a href="/newsletter"><i>MLA Newsletter</i></a><br><br>
			<a href="/pmla"><i>PMLA</i></a><br><br>
			<a href="/profession"><i>Profession</i></a>
		</td>
	</tr>
	</table>
<br>
<h2>Information and Requests</h2>
<a href="/pmla_advertising">Advertising in <i>PMLA</i></a><br><br>
<a href="/bookrequest">Desk Copy Requests</a><br><br>
<a href="/exam_copy">Exam Copy Requests</a><br><br>
<a href="/inst_subscriptions">Library Subscriptions and Licenses</a><br><br>
<a href="/maillistrental">Mailing List Rentals</a><br><br>
<a href="/mlapermission_usage">Permission to Use MLA Copyrighted Material</a>
<br><br>
<h2> Online Bookstore</h2>
<p>Browse our new titles or search for publications in the <a href="/bookstore">MLA Bookstore</a>. Members receive a 20% discount on all regularly priced items.</p>

<h2>Book Publications Program</h2>
<p>The MLA’s <a href="/schol_communication">office of scholarly communication</a> oversees an active <a href="/publication_program">book publications program</a> that welcomes proposals for new books concerned with the study and teaching of language and literature as well as issues affecting professional practice in those fields.</p> 
