<center><img src="/IMAGES/mla2014-logo.gif" width=250 height=136 border=0 alt=""></center>
<h1>2014 Registration and Housing FAQs</h1>

<b>Q. How do I reserve a hotel room online for the convention?</b>
A. To reserve a hotel room, you must first be registered for the convention. Registration for MLA members begins online in early September. At the completion of your online registration, following a credit card payment, you will reach the Reservation Confirmation page. This page provides you with your Registration ID number and can be used as your registration receipt. Print a copy of this page for your records. Below this is a Make Hotel Reservations Now link, which you should click on to access the MLA housing page. 

<b>Q. How do I change or cancel my reservation?</b>
A. Through 16 December you may change or cancel your reservation by visiting the MLA housing Web site (a link is provided in your registration confirmation e-mail), by sending an e-mail to <a href="mailto:MLAhousing@cmrus.com">MLAhousing@cmrus.com</a>, or by calling 888 644-2282, Monday to Friday, 6:00 a.m. to 6:00 p.m. Pacific Time. Beginning 30 December you must contact your hotel directly.

<b>Q. How do I register or reserve a room if I do not want to pay by credit card online?</b>
A. You may complete the registration process online and choose to pay by check on the payment screen. You will be prompted to print out the registration confirmation page and mail it with your check to the MLA office. Once your registration and payment are received and processed, we will send you a confirmation e-mail that contains a link to the housing Web site.

<b>Q. I have already registered online. How do I now make a hotel reservation?</b>
A. You may access the housing Web site by using the link provided in your registration confirmation e-mail. <b>So that the confirmation e-mail does not get blocked by spam-blocking software, please make sure that your inbox is set up to receive e-mail from the MLA domain (mla.org).</b>

<b>Q. I called the hotel to make a reservation and they told me to call you for approval.</b>
A. To reserve a hotel room, you must first register for the convention, then make your reservation using the MLA housing Web site. Hotel reservations made directly with the hotel will not be at the MLA rate, will not be listed in the Who's Here listing, and are not protected by the MLA.

<b>Q. I am mailing in my registration payment, but I want to make my hotel reservation online.</b>
A. Once your registration and payment are received and processed, we will send you a confirmation e-mail that contains a link to the housing Web site.

<b>Q. Where can I find information about the hotels online?</b>
A. If you have already accessed the online housing page, you should refer to the helpful links located across the top of the page. One of these links is to the hotel list, which includes the various hotels and room types available  and describes the hotel amenities, and one is to the hotel map, which is an interactive map with the locations of the various hotels being used by MLA. If you wish to view the hotel descriptions before accessing the housing page, refer to the Registration and Hotels page of the MLA Web site (<a href="/conv_registration" target="_blank">www.mla.org/conv_registration</a>) and click on 2014 Hotel Descriptions.

<b>Q. How do I reserve more than one hotel room?</b>
A. Because of the number of convention attendees who wish to reserve a hotel room at the MLA rate and the limited number of rooms available, each convention registrant is able to reserve only one hotel room. To reserve two rooms, a second member of your party must register for the convention and reserve the second room under his or her name.

<b>Q. I am registered for the convention, but the person I am sharing a room with is not registered. How can we make hotel reservations?</b>
A. All room occupants must be registered for the convention before any housing request can be processed. If the person you will be sharing the room with is an MLA member, he or she should register online with a credit card beginning in early September to avoid any delay in the processing of your housing request. If that person is not an MLA member, he or she can register as a nonmember beginning in October, but this means that your housing reservation cannot be processed until that time; or, that person can become a new MLA member online and then register for the convention online.

<b>Q. I plan to bring a guest who will not attend the convention but who will be staying in my hotel room. Does my guest still have to register for the convention?</b>
A. Roommates who are not professionally involved in the study of language or literature are considered exempt and do not need to register for the convention. Those who are professionally involved in the study of literature and language, including MLA members, must be registered for the MLA convention. When making your roommate request, please select the appropriate option.

<b>Q. I may have registered multiple times for the convention. How do I cancel the extra payments?</b>
A. You should write to Michael Reilly in the membership office at <a href="mailto:registration@mla.org">registration@mla.org</a> and let him know how you registered (online or by mail, with a credit card or by check), how many times you think you may have registered, and what names you registered under. Because of the volume of new registrations being processed, it may take several weeks to process any refunds.

<b>Q. I don't know my MLA membership number or password. How can I find them out so that I can register for the convention?</b>
A. Go to <a href="http://www.mla.org" target="_blank">www.mla.org</a> and refer to the For Members Only section on the right side of the page. Click on Forgot Your Membership Number or Password? You will need to enter the e-mail address that you listed in your membership account. An e-mail message containing your membership number and password will be sent to you. If you have additional questions regarding your membership, please write to <a href="mailto:membership@mla.org">membership@mla.org</a>.

<b>Q. How do I become an MLA member or renew my membership so that I can register for the convention?</b>
A. MLA membership can be initiated or renewed online. Go to <a href="http://www.mla.org" target="_blank">www.mla.org</a> and refer to the For Members Only section on the right side of the page. You may then choose Join Now if you have never been an MLA member or Renew Your Membership if you have recently been a member and need to renew. Once you have completed your MLA membership payment online with a credit card, you may then register for the convention as an MLA member. If you mail in your membership payment, you will not be able to register for the convention as an MLA member until your membership payment has been received and processed by the MLA accounting office. If you have additional questions about MLA membership or are unsure of your membership status, please write to <a href="mailto:membership@mla.org">membership@mla.org</a>.

<b>Q. How do I find a roommate for my hotel reservation?</b>
A. Because of security reasons, the MLA is not able to assist with finding roommates for the convention.
