<h1>Regional Modern Language Associations</h1>
<B>Midwest Modern Language Association (MMLA)</B>
<a href=" http://www.luc.edu/mmla" target="blank"> http://www.luc.edu/mmla</a>

<B>Northeast Modern Language Association (NEMLA)</B>
<a href="http://nemla.org" target="_blank">http://nemla.org</a>

<B>Pacific Ancient and Modern Language Association (PAMLA)</B>
<a href="http://www.pamla.org/" target="blank">http://www.pamla.org</a>

<B>Rocky Mountain Modern Language Association (RMMLA)</B>
<a href="http://rmmla.wsu.edu/" target="blank">http://rmmla.wsu.edu</a>

<B>South Atlantic Modern Language Association (SAMLA)</B>
<A HREF="http://samla.memberclicks.net/" target="blank">http://samla.memberclicks.net</A>

<B>South Central Modern Language Association (SCMLA)</B>
<a href="http://www.southcentralmla.org/" target="blank">http://www.southcentralmla.org</a>
