<h1>History</h1>
The "Statement of Professional Ethics" was adopted by the Delegate Assembly in 1991 and was published in <I>Profession 92</I> (New York: MLA, 1992) 75-78. An earlier version was prepared by an ad hoc committee of the Modern Language Association appointed by the Executive Council in 1987, following a Delegate Assembly recommendation that such a committee be designated to "study professional ethics and provide MLA-endorsed guidelines."

<h2>Members of the committee that prepared the final statement:</h2>
<B>Barry Gaines</B>, University of New Mexico*
<B>Lawrence Poston</B>, University of Illinois, Chicago (Ch.)*
<B>Roslyn Abt Schindler</B>, Wayne State University
<B>Mario Vald&eacute;s</B>, University of Toronto
<B>Louise Vasvari</B>, State University of New York, Stony Brook

<span class="s1">*Continuing member of the original ad hoc committee.</span>
