<h1>Conference on the Relation between English and Foreign Languages in the Academy</h1>
<h2>Constructing Dialogue, Imagining Change</h2>
<b>Welcome</b>
<blockquote>
	<a href="/pdf_conf_molloy_intr" target="other"><b>Introduction</b></a>[[[docstudio filetype_tag_pdf]]]
	<i>Sylvia Molloy</i>

	<a href="/pdf_conf_langland" target="other"><b>Collaborating across Disciplines: "It's a Small World After All"</b></a>[[[docstudio filetype_tag_pdf]]]
	<i>Elizabeth Langland</i>
</blockquote>

<b>What We Have in Common and How We Are Different</b>
<blockquote>
	<a href="/pdf_conf_greene" target="other"><b>The Post-English English</b></a>[[[docstudio filetype_tag_pdf]]]
	<i>Roland Greene</i>

	<a href="/pdf_conf_kramsch" target="other"><b>Alien Wisdoms in English and Foreign Language Programs</b></a>[[[docstudio filetype_tag_pdf]]]
	<i>Claire Kramsch</i>

	<a href="/pdf_conf_lipski" target="other"><b>Rethinking the Place of Spanish</b></a>[[[docstudio filetype_tag_pdf]]]
	<i>John M. Lipski</i>

	<a href="/pdf_conf_lionnet" target="other"><b>National Language Departments in the Era of Transnational Studies</b></a>[[[docstudio filetype_tag_pdf]]]
	<i>Fran&ccedil;oise Lionnet</i>

	<a href="/pdf_conf_mitchell" target="other"><b>A Shared Fate or a Common Destiny?</b></a>[[[docstudio filetype_tag_pdf]]]
	<i>J. Lawrence Mitchell</i>
</blockquote>

<b>What Are the Factors That Brought Us to Where We Are?</b>
<blockquote>
	<a href="/pdf_conf_field" target="other"><b>The Cold War and Beyond in East Asian Studies</b></a>[[[docstudio filetype_tag_pdf]]]
	<i>Norma Field</i>

	<a href="/pdf_conf_stanton" target="other"><b>From Imperialism to Collaboration: How Do We Get There?</b></a>[[[docstudio filetype_tag_pdf]]]
	<i>Domna C. Stanton</i>
</blockquote>

<b>Shaping Change</b>
<blockquote>
	<a href="/pdf_conf_bartholomae" target="other"><b>Literacy and Departments of Language and Literature</b></a>[[[docstudio filetype_tag_pdf]]]
	<i>David Bartholomae</i>

	<a href="/pdf_conf_kirkpatrick" target="other"><b>E Pluribus Unum?</b></a>[[[docstudio filetype_tag_pdf]]]
	<i>Susan Kirkpatrick</i>

	<a href="/pdf_conf_pratt" target="other"><b>What's Foreign and What's Familiar?</b></a>[[[docstudio filetype_tag_pdf]]]
	<i>Mary Louise Pratt</i>

	<a href="/pdf_conf_sollors" target="other"><b>Cooperation between English and Foreign Languages in the Area of Multilingual Literature</b></a>[[[docstudio filetype_tag_pdf]]]
	<i>Werner Sollors</i>
</blockquote>

<i>Carlos J. Alonso's presentation at the conference appears in a revised form as an <a href="/pdf_conf_alonso" target="other">Editor's Column</a>[[[docstudio filetype_tag_pdf]]] published with these papers.</i>

<h2>About These Papers</h2>
<i>New York University</i>
12-14 April 2002
Sponsored by the Modern Language Association and New York University

These papers were published in <i>PMLA</i> 117 (2002): 1233-94.

 
