<h1>Guidelines by the Committee on the Literatures of People of Color in the US and Canada</h1>
<h2>The Study of Literatures, Cultures, and Languages of People of Color in the United States and Canada</h2>
An important educational goal is to help students develop an understanding of diversity through the study of the literatures, cultures, and languages of people of color in the United States and Canada. As the populations of these nations become increasingly diverse, departments of English and foreign languages should evaluate and revise their curricula to be sure they adequately foster this goal.  Formal study can help all students become more sensitive to cultural differences, assist students of color to develop the sense of self-worth necessary to their success in higher education, and train future teachers to be aware of and appreciate cultural diversity.

Therefore, college and university departments of English and foreign languages that teach the literatures, cultures, and languages of the United States and Canada should offer, as appropriate, courses in literatures and cultures of people of color. In addition, these departments should incorporate appropriate literature by people of color in traditional courses. Foreign language programs can play a special role. Students come to college and university speaking and understanding a variety of heritage languages. Departments that teach some form of these languages should include the study of relevant heritage variants in their curricula.

<a href="/rep_guidelines_poc">< Previous</a> | <a href="/rep_guidelines_poc3">Continue ></a>
