<h1>MLA Ad Hoc Committee on Teaching</h1>
Teaching matters. It matters especially at this moment, when higher education is under pressure to document departments' work with students in terms of educational outcomes. It matters when a new emphasis on immediate vocational utility puts in question the central place of the humanities and the value of liberal education. It matters when the concept of the teacher-scholar is undermined by budgetary constraints that restrict the number of full-time tenure-track faculty members in modern languages. Teaching has always mattered to the MLA and its constituency. However, as we confront the future, we must strengthen that commitment.

The conditions for teaching are felt differently at different institutions, whether in a two-year college, a baccalaureate college, a comprehensive university, or a doctorate-granting research university. Thus, the term <i>teaching</i> itself is regarded differently by different members of our community. As delineated in the context framing this report, we propose an overarching view of and reflective stance toward the teaching of language, literature, and culture, one that includes:
<dl>
<dd>curriculum
<dd>classroom practices
<dd>research on teaching
<dd>theories of teaching
<dd>relations between teaching and scholarship
</dl>

The MLA Executive Council appointed the Ad Hoc Committee on Teaching in 1998. We were charged with making recommendations about the ways the MLA can provide additional support for the improvement of teaching in a variety of institutional settings and contribute to what is known about effective teaching in the field. The committee had its first meeting in September 1998 and met again in February and November 1999 and September 2000. It held open hearings at the MLA conventions in San Francisco in 1998 and Chicago in 1999, where members were invited to contribute to the committee's discussions and share their views about the MLA's relation to teaching.

The MLA Executive Council was prompted to form this ad hoc committee by a strongly felt need for a wider concern with teaching. The committee has worked to represent this concern, to urge that the MLA take a much more active role in promoting excellent teaching at all levels and in all the media it has at its disposal. This report is presented in the hope that it will stir public and private discussions based on the recommendations articulated here.

<h2>The Context</h2>
The climate of higher education in the United States has changed. Pressures for public accountability have led to an emphasis on superior teaching, an emphasis reflected in the relatively recent importance of documentation on teaching in tenure files and the increasing recognition and number of substantial awards for teaching excellence. These forces have led to a rethinking of working relations with high schools, consortium institutions, and across colleges and departments within institutions. Of necessity, the same technologies that have contributed to the changed climate of learning and afforded new options for the pragmatic learning that society demands (e.g., distance learning) may well provide the means for this cooperative curriculum planning.

In a society that has moved from an industrial and agricultural base to an economy relying heavily on the international marketplace and a commodity-driven service industry, the ability to respond quickly and imaginatively to changing business and social needs has placed language and literature teaching in a new position. That the likelihood of a single lifetime job has been replaced by the likelihood of two or even three different careers in a lifetime necessitates the retraining of returning students whose needs can be met only by programs that address the changing marketplace of academia. Combined, these developments have led to new goals for the teaching of English and foreign languages based on a revised concept of literacy--the literacy of critical thinking combined with discourse skills that result in effective communication in multiple social and technological contexts.

<h2>Teaching and the Reward System</h2>
With increasing urgency, the need to secure a more prominent place for teaching in the profession's systems of reward has been the subject of national attention. Given this public focus, if teaching is to matter in our profession, it must figure substantively and visibly in those systems. For the purposes of this report, the committee understands a reward system to mean the structures undergirding job security (tenure or long-term contracts vital for continuity of and commitment to program development and promotion) as well as other sorts of systemic rewards, such as book prizes, publishing contracts, sabbaticals, and grants.

The problem of making teaching matter is inextricably linked to what our committee has identified as the need to foreground teaching in our profession. That need stems from institutional and cultural practices and holds significant, public ramifications for the profession. To matter, teaching must be concretely, emphatically valued by tenure and promotion committees; by those who make part-time and adjunct appointments; and by those who award prizes, publishing contracts, sabbaticals, and grants.

<h2>Teaching and Scholarship</h2>
A major lacuna in professional discussions about teaching is the absence of direct links to the scholarly communities to which all of us as teachers belong. Committed as this committee is to the improvement of teaching, we affirm the relation between scholarship and teaching at all levels of higher education. We view scholarship as a prerequisite and a corequisite for good teaching, because teachers' scholarship legitimizes their expertise, informs their classroom practice, and provides their students with models for intellectual inquiry. Consequently, this committee's report concurs with the "ADE Statement of Good Practice: Teaching, Evaluation, and Scholarship" that "teaching and scholarly activity are mutually reinforcing, [and] departments and institutions should create conditions that encourage all faculty members to engage in intellectual inquiry." While recognizing the range and different missions of institutions, from two-year college to research university, we agree that all
<dl>
<dd>faculty members need to engage in scholarly projects that sustain and renew their intellectual lives. Especially in institutions like two-year colleges, where teaching has long dominated the mission and the reward system, faculty members need support that affirms the ways in which scholarship vitalizes teaching. [. . .] Scholarship, broadly defined, is essential to effective teaching and to a satisfying professional life in the humanities. (41)
</dl>

The committee understands scholarly renewal as a continuing dialogue. The scholarship-teaching connection we envision benefits not only the scholar but also that scholar's students, institution, and professional associations.

<h2>Reflective Practice</h2>
To create meaningful discourse between scholarship and the classroom, the committee believes <i>reflective practice</i> is the operative term that best describes the attitude and activities that make teaching matter. As defined by Donald Schon, a reflective practitioner "turns thought back on action and on the knowing which is implicit in action." While trying to make sense of an action, a reflective practitioner "reflects on the understandings which have been explicit in his action, understandings which he surfaces, criticizes, restructures, and embodies in further action" (50). If teaching matters, then reflection about the practice of teaching is crucial, not only as represented by the formal research of the scholarship of teaching but also in every faculty member's classroom, in every graduate program, and in the relations that exist among subject matter disciplines, teacher education programs, and future teachers.

<h2>The Scholarship of Teaching</h2>
Historically, <i>PMLA</i> has privileged literary scholarship both in English and foreign languages. Research, by and large, has focused on textual study from various theoretical perspectives. With few exceptions, neither the MLA nor individual scholars have concerned themselves with how such knowledge reaches students.

In part, any delay between the discovery and the communication of scholarly knowledge is related to the inevitable delay in the way ideas circulate in communities. But with respect to teaching as a topic of professional discussion, the MLA Ad Hoc Committee on Teaching posits a more fundamental cause: we find that the MLA as an organization has not granted scholarship on teaching the same status it has granted textual scholarship.

We urge, then, that scholarship applied in the classroom needs to be afforded pride of place in our professional organizations and our scholarly journals. This plea for integration of teaching and scholarship extends beyond a token representation on convention programs and special journal sections. We urge that teaching in all its problematics (from classroom ethnographics to the sociolinguistics of textbook selection to the politics of teacher preparation at the graduate school level) be an intrinsic part of dialogues at the national convention and in scholarly publications.

To point to some options for introducing such dialogues, we offer, first, the following orienting set of questions: What is teaching? How do we understand what we do in our classrooms? What can we learn from making our acts of teaching more visible to ourselves, one another, and the profession at large? How is such an effort a scholarly activity? In what ways can the MLA foster activities to support such inquiry? What might be the potential benefits? What, if any, are the drawbacks? To what extent can administrators be profitably involved in these discussions?

A major step has already been taken by the MLA in integrating the teaching of literature, language, and rhetoric into the MLA bibliography. That step recognizes that professional disciplines about the teaching of language and rhetoric have grown and diversified significantly in recent years. Their innovative classroom research, using methods such as ethnographies and case studies of classroom life, speak to modern language teachers of all kinds. Their special contribution deserves attention in deliberating about standards, common goals, and the relation between teaching and scholarship.

<h2>Graduate Education</h2>
The committee in the strongest possible terms points to the urgent need to develop graduate programs whose scholarly emphases are explicitly linked to teaching concerns in a range of instructional settings as well as in applications outside academia. Increased attention to pedagogy in higher education has tended to focus on the undergraduate level. We urge greater attention to exploring how graduate courses can be designed to include professional and pedagogical issues as well as subject matter. The MLA can and should articulate the case for systematic, progressive faculty development in language and literature departments.<a name="note1text" href="/repview_teaching2#note1"><sup>1</sup></a>

Effective pedagogy at the graduate level must include mentoring students at every stage of their graduate careers. This mentoring should involve career consultation, experience with and feedback on course development by graduate students that is linked to their graduate work, support through the examination and dissertation process, and assistance with the job-search process.

The committee recognizes that the dynamics of many graduate programs is shifting under a number of external institutional pressures. Traditionally at the bottom of the academic ladder, graduate students often begin their careers as teachers under taxing and demanding conditions, hampered by low wages, lack of benefits, and the heavy classroom duties common in introductory classes. Many graduate student teachers live in a state of unremitting ambivalence about whether to shortchange their students, their class work, or their dissertation. As undergraduate ranks swell and budgets for hiring new full-time professors shrink, graduate students are taking on a substantial share of undergraduate teaching,<a name="note2text" href="/repview_teaching2#note2"><sup>2</sup></a> and many are likely to be teaching throughout their years completing course, exam, and dissertation requirements.

Playing the double role of student and teacher at the same time presents many challenges. Learning to be both student and teacher is crucial to professional success, but this process can be destructive when the teacher role threatens to overwhelm the student role. Graduate students may lack power and authority in their graduate classes but be invested with great power and authority in the classes they teach, often without sufficient training and support during those important first years of teaching. In addition, reliance on graduate students to staff burgeoning service courses for low wages and few or no benefits puts inordinate stress on these students and must be considered in any examination of graduate education. The committee affirms support for graduate students in their dual role as teacher-scholars.

The paucity of jobs forces a good number of graduate students to remain for many years at their graduate institutions, teaching part-time while pursuing full-time employment. Thus, the traditional view of the graduate student as apprentice teacher, learning the craft of teaching under the tutelage of seasoned pedagogues, can be inaccurate and patronizing when applied to many who are often as energetic, dedicated, and in touch with undergraduates as are our profession's best graduate faculty members.

<h2>Teacher Education</h2>
In conjunction with its recommendation that explicit teaching components be built into graduate programs, the committee urges that all programs in English and foreign languages identify and encourage students who may be potential teachers for elementary and secondary schools. Increasingly, teacher-scholars are beginning to recognize, in James Marshall's words, that "all teaching is about teaching--just as all writing is about writing--and [. . .] every class that enrolls prospective teachers is a class in teacher preparation" (380-81). This recognition forms an important part of this committee's charge and holds significant implications for the role of the MLA's constituent disciplines in the preparation of secondary school teachers. To increase the visibility of teaching in our fields, we must also increase the visibility of a section of our student population too often allowed to slip through the cracks--students who are planning a teaching career at the elementary or secondary level.<a name="note3text" href="/repview_teaching2#note3"><sup>3</sup></a>

The committee feels that the preparation of future teachers is central to the work that we do in our disciplines and of crucial importance for the future of our fields.<a name="note4text" href="/repview_teaching2#note4"><sup>4</sup></a> Award systems, particularly those sponsored by the MLA, will articulate and enhance the role of teaching both inside and outside the academic community.

<h2>Working Conditions</h2>
The committee cautions that our profession must assume more responsibility for assessing the quality of teaching or be forfeit to outside forces that will set teaching standards for us. More and more, decisions about higher education are being made by legislators who do not understand the contexts in which we work. "Institutions are expected to perform, to document performance, and to be accountable for producing returns on taxpayer and student investment" (Boggs 4). Not being fully aware of what actually takes place in the halls of the academy, legislators often believe that colleges and universities spend too much money on research and not enough on teaching. They act on their beliefs most often by applying quantifiable measures to assess teaching and learning. These measures include statewide testing, which in some instances may even determine what institutions of higher education are allowed to offer entering students. For example, in Wisconsin "the goals of the State Faculty Education Workload Policy include seeing that the regents are provided with 'regular managerial information regarding educational workload'" ("Politics" 48). In Tennessee, some funding for education is controlled by a performance-based formula that ties the money received by an institution to the test scores earned by students and to other quantitative measures.

The AAUP recognizes there is a need for reform in higher education ("Work" 35). Likewise, administrators and faculty members generally agree that reform is necessary, but they cannot condone reform instituted by those government agencies that use quantity rather than quality as a criterion. To curtail outside intervention in how the teaching environment is managed and to enable teachers to teach well, those in the academy must come together and redefine faculty workload. This new definition must include research, instruction, testing, and environment. The definition of faculty workload presented by the AAUP in its 1994 report addresses a broader view of teaching:
<dl>
<dd>Since teaching--in its full meaning, going beyond classroom lecturing and discussion--is based on and strengthened by scholarship [in the sense expressed earlier in this report], a course load that makes scholarship possible is essential to teaching of high quality. Conversely, scholarship and research are often enhanced when tested in the classroom [. . .], by implication or demonstration before students. ("Work" 44)
</dl>

For these reasons, the committee report endorses the guidelines issued by the ADE ("ADE Guidelines") and the ADFL ("ADFL Guidelines") for teaching loads and class size and believes that only by adherence to these guidelines will the type of teacher-scholar we envision be possible.

<a href="/repview_teaching2">Continue ></a>
