<style> .hidden{display:none;} .shallowindent{padding-left: 1.5em; padding-right: 1.5em;}</style>
<h1>Information about Resolution 2014-1 from the Executive Director</h1>
<p>To: All MLA Members<br/>
From: Rosemary G. Feal, Executive Director</p>
<p>
I write to inform you of the Executive Council’s review of Resolution 2014-1 and to give you information about MLA governance procedures. Article <a href="/mla_constitution#a7B3">7.B.3</a> of the MLA constitution requires the council 
</p>
<div class="shallowindent">
<div class="shallowindent">
[t]o conduct a review of the constitutional, legal, and fiduciary issues posed by the language of each resolution approved by the Delegate Assembly. The council will then, in a timely manner, either forward to the membership the resolution as approved or with nonsubstantive modifications or determine that it is unable to forward the resolution to the membership for one or more of the following reasons:

<div class="shallowindent">a. The resolution impedes the council’s ability to carry out its fiduciary responsibilities.<br/>
b. The resolution contains erroneous, tortious, or possibly libelous statements.<br/>
c. The resolution, by itself or taken with other resolutions, poses a threat to the association’s continuing operation as a tax-exempt organization.<br/>
d. The resolution is not consistent with the provisions of articles 2 and 9.C.10.*
</div>
If the council is unable to forward a resolution to the membership, it will, at the next meeting of the Delegate Assembly, present the reasons for its action. The Delegate Assembly may then consider reformulating the resolution.
</div>

<p><b>*II. Purpose.</b> The object of the association shall be to promote study, criticism, and research in the more and less commonly taught modern languages and their literatures and to further the common interests of teachers of these subjects.</p>
<p><b>*IX. Delegate Assembly—Responsibilities</b><br/>C. 10. In accordance with article 11.C, to formulate and submit to the membership for ratification resolutions on matters of public and institutional policy affecting the study and teaching of the humanities and the status of the language and literature professions represented by the association. Such matters may include proposed or enacted legislation, regulations, or other governmental and institutional policies, conditions of employment and publication, or additional matters that affect the association, its members in their professional capacities, or the dignity of members' work.
</p>
</div>

<p>The council conducted its review of Resolution 2014-1 in February and determined that the resolution posed no constitutional, legal, or fiduciary problems. The council authorized nonsubstantive copyediting changes to the wording of the resolution and authorized the staff to go forward with the ratification process. Members will have the opportunity to comment on the resolution between 17 March and 16 April. The balloting period will follow, from 21 April through 1 June. According to the MLA constitution (art. 11.C.7), “All resolutions forwarded to the membership must be ratified by a majority vote in which the number of those voting for ratification equals at least ten percent of the association’s membership.”
</p>

<p>The question of when a response must be sought from a named party in a resolution is one that was raised during the assembly’s discussion of the resolution, and I wish to address it here. The MLA constitution (art. 11.C.3.d) mentions the issue only in respect to emergency resolutions: “Resolutions submitted to the chair of the committee after 1 October, but not later than twenty-four hours before a meeting of the Delegate Assembly, . . . shall not name individuals or institutions in such a way that, in the determination of the [Delegate Assembly Organizing Committee], a response from the named party must be sought.” The primary reason for this provision, which was added by a constitutional amendment that was ratified by the membership in 2005, is that delegates do not have enough time to thoroughly vet claims about an individual or group named in a resolution submitted as late as twenty-four hours before the Delegate Assembly meeting. A response does not automatically need to be sought from parties named in emergency resolutions. The Delegate Assembly Organizing Committee (DAOC) must exercise its judgment to determine whether to seek a response. 
</p>

<p>What recourse do delegates have when they disagree with the decision of the DAOC with respect to named parties in emergency resolutions? If the emergency resolution is introduced on the floor of the meeting, delegates can speak against it based on any relevant consideration, including the treatment of named parties, and they can urge the assembly to defeat the resolution.
</p>

<p>Resolutions received in a timely fashion (by 1 October), such as Resolution 2014-1, do not fall under the same guidelines as emergency resolutions in that the DAOC has no obligation to seek a response from a named party if it considers such an action unnecessary. Assuming the resolution meets specified criteria (see art. 11.C.3.a–c of the constitution), it goes forward to the Delegate Assembly. What recourse do Delegate Assembly members have when they disagree with the DAOC’s decision not to seek a response from a named party in a regular resolution? They can voice their objections at the open hearing on resolutions at the convention, on the floor of the Delegate Assembly, and through their vote on the resolution. Several speakers did indeed state that they thought that Resolution 2014-1 should be defeated because they thought a response should have been sought. The close vote (60-53) shows that the delegates were fairly evenly divided in their views on the merits of the resolution.
</p>

<p>Another question I often receive concerns the material submitted in support of resolutions. The DAOC reviews the documentation and frequently lets proposers know that, in its opinion, additional or different material would be helpful. It’s then up to the proposers to make modifications if they so choose. The DAOC cannot withhold resolutions on the grounds that the documentation is faulty. Delegate Assembly members conduct their own review when they examine the documentation and, if they wish, research the issues on their own. Members’ comments on the assembly floor often analyze the quality and relevance of the documentation.
</p>

<p>Once a resolution is forwarded to the membership, the resolution comment process encourages members to conduct their own review, which may include additional research. They have access to the documentation submitted in support of the resolution, they may post comments—including links to material that they find useful in understanding the particular issues—and they consider comments that others have made. The four-week-long comment process is followed by a six-week balloting period. Thus, over the course of ten weeks, MLA members deliberate collectively and vote individually.
</p>

<p>I want to conclude with an observation. We adhere to governance procedures as closely as we can at the MLA to ensure that we remain a participatory democracy. This year has been especially challenging, and we have consulted more extensively than we normally do on legal and parliamentary issues to protect all members’ rights. Whatever the outcome of the ratification vote, my hope is that all members will participate in it.</p>
