<h1>Information on Panelists' and Presider's Scholarship Examples</h1>

<p>This page contains links to good examples of the section for information on panelists' and presider's scholarship from a variety of session proposals (these examples are applicable to all types of special-session and nonguaranteed-session proposals). Click on a link below to view the example. These excerpts appear as they were received by the MLA and have not been edited to conform to MLA style.</p>

<h2>Examples from Special-Session Proposals</h2>
<dl>
<dt>
<a href="/info01">Ideas of Form in Twentieth-Century Poetry: What We Talk about When We Talk about Form (Scholarship section)</a>
</dt>
	<dd class="abstract">
(Example of a proposal organized by a graduate student) 
	</dd>
<dt>
<a href="/info02">Post-Bellum, Pre-Harlem: New Approaches to African American Literature and Culture, 1877-1919 (Scholarship section)
</a>
</dt>
	<dd class="abstract">
	(Example of a proposal with three graduate student panelists) 
	</dd>
<dt>
<a href="/info03">Saintly Women and Priestly Poets: The Fifteenth-Century English Poetry of Osbern Bokenham, John Capgrave, and John Audelay (Scholarship section)</a>
	<dd class="abstract">
	(Example of a proposal with participants at all different stages in their careers) 
	</dd>
</dt>
<dt>
<a href="/peter_weiss">Peter Weiss's <i>Aesthetics of Resistance</i> at Twenty Five (Scholarship section)
</a>
	<dd class="abstract">
	(Good overall example) 
	</dd>
</dt>
</dl>

<h2>Examples from Nonguaranteed-Session Proposals</h2>
<dl>
[[[comment]]]
<dt>
<a href="/info_ngs01">Class Dismissed: Economic Policies, the Academic Workforce, and Student Access to Higher Education (Scholarship section)</a>
</dt>
	<dd class="abstract">
	(Example of a roundtable collaborative session proposal)
	</dd>
[[[endcomment]]]
<dt>
<a href="/info_ngs02">Literature, Wars, and the American Body (Scholarship section)</a>
</dt>
	<dd class="abstract">
	(Example of a collaborative session proposal)
	</dd>
[[[comment]]]
<dt>
<a href="/info_ngs03">What Is “College Level Writing” in the Twenty-First Century? (Scholarship section)</a>
	<dd class="abstract">
	(Example of a single-entity proposal)
	</dd>
</dt>
[[[endcomment]]]
<dt>
<a href="/info_ngs04">Drawing Women’s Lives (Scholarship section)</a>
	<dd class="abstract">
	(Example of a single-entity proposal)
	</dd>
</dt>
</dl>
