<h1>Scoring Guidelines for MLA Special Sessions and Competitive Sessions</h1>

In judging the special-session and competitive-session proposals, the Program Committee bases its scores on the following criteria:

<b>5</b>	&nbsp;&nbsp;The highest score indicates that the session proposal is well thought out, the rationale is convincing and properly documented, the panelists are shown to be well qualified to undertake the topic, and the session will be attractive to an audience. A score of 5 is reserved for the best proposals, the ones that are appealing, fresh, and exciting.

<b>4</b>	&nbsp;&nbsp;A 4 indicates that the proposal has most of the above qualifications but that one or more elements may not be superior. For example, the rationale might be underdeveloped; the discussion of previous scholarship might be insufficient; or one paper might not be as stellar as the others. 

<b>3</b>	&nbsp;&nbsp;A 3 indicates that the proposal has merit but that there are concerns. Examples:  too many papers for the discussion time allotted; a vague or overly broad description of topic; a topic very narrowly defined or lacking definitions of its key terms; not enough information about the panelists or evidence of their ability to undertake the topic; a lack of coherence among papers. 

<b>2</b>	&nbsp;&nbsp;A 2 indicates that the proposal has some merit but is unlikely to be successful in its current form. Examples: a poorly conceived topic; an inadequate description of session content; difficulty understanding the proposal; papers not conceptualized as a whole; inadequate scholarly knowledge of topic; too few (or too many) panelists; major "missing pieces"; highly unlikely to attract any audience.

<b>1</b>	&nbsp;&nbsp;The lowest score indicates that the proposal has major flaws of the type described above. Normally the score of 1 is reserved for sessions that do not meet the minimal requirements for establishing and describing a topic and for selecting presenters and listing their credentials.  Sessions that receive a score of 1 are often incomprehensible or poorly written or consist of little more than a list of names and titles.
