<h1>2008 Special Event FAQs</h1>
<h2>General Questions</h2>
<b>Q. What is a special event?</b>
A. Special events, such as poetry readings, films, or performances, are events of significant interest to some portion of the membership. They are not paper readings and do not have traditional session formats. The MLA executive director, with the assistance of the Program Committee, reviews and approves special events. If accepted, special events are open to the public and must take place on 28 or 29 December from 5:15-6:30 p.m. For complete information on the procedures for proposing a special event, please refer to the <a href="/conv_procedures">Procedures for Organizing Meetings at the MLA Convention</a>, which can also be found in the September <I>PMLA</I>.

<b>Q. Can I propose a special event if I am not an MLA member?</b>
A. No. Only current MLA members may propose a special event.

<b>Q. What is the <a href="/conv_deadlines">deadline</a> for proposing a special event?</b>
A. Special-event proposals must be submitted electronically or postmarked no later than 1 April. Your special-event proposal must be submitted on the MLA special-event proposal form by the 1 April deadline for your proposal to be reviewed by the Program Committee. Proposals that are incomplete, submitted after the deadline, or not submitted on the special-event form will not be approved.

<b>Q. When will proposal forms be available?</b>
A. Special-event proposal forms for the 2008 convention will be available online at the MLA Web site beginning in January 2008. Proposal forms may also be requested from the MLA convention office (<a href="mailto:convention@mla.org">convention@mla.org</a>). 

<b>Q. How can I make sure that my proposal will be accepted?</b>
A. There is no way to guarantee that your proposal will be accepted. It is very important that your proposal include a description of the proposed event with intellectual justification, why you chose the participants and format you did, how the event will function, and who will facilitate the event at the convention. These events cannot be for the purpose of self-promotion. Your proposed event should be designed with space, lighting, and time limitations in mind. The MLA convention uses hotel meeting rooms for sessions. These rooms are set theater-style and may not have a stage or special lighting available. Changes to room setups cannot be guaranteed. The Program Committee tends to accept only those proposed events that are supported by a strong written proposal and not solely by a timely subject, a worthwhile cause, or a prestigious speaker. Proposals that are not submitted on the MLA proposal form, that do not contain all the requested information, or that contain participants who are not MLA members (or have not been granted waivers of membership) by the 7 April deadline will be at a disadvantage. For complete information on the procedures for proposing a special event, please refer to the <a href="/conv_procedures">Procedures for Organizing Meetings at the MLA Convention</a>, which can also be found in the September <I>PMLA</I>.

<b>Q. How can I invite a nonmember or VIP to be a session participant?</b>
A. At the discretion of the executive director, waivers may be granted for nonscholars, scholars who work outside the United States and Canada, and scholars who work in disciplines other than language and literature. Please refer to the questions and answers below regarding waivers of membership.

<b>Q. When will I hear if my proposed special event has been accepted?</b>
A. The Program Committee will meet in early May to review the proposals. Letters regarding the committee's decisions will be mailed to session organizers by early June. The MLA will contact only session organizers regarding the outcome, so it is the responsibility of session organizers to inform their session participants of the committee's decision.

<h2>Special-Event Proposal Form Questions</h2>
<b>Q. How can I propose a special event online?</b>
A. Visit the MLA Web site beginning in January 2008. Click on "2008 Program Copy Forms," under Convention, then select “Request to Hold a Special Event.” You will need to type in your MLA membership ID and password to access the form. If you have questions regarding your membership ID or password, visit  <a href="http://www.mla.org/login" target="_blank">www.mla.org/login</a> or e-mail the MLA membership office (<a href="mailto:membership@mla.org">membership@mla.org</a>). <b>This proposal form is designed to be completed online and submitted electronically; it is not a form that can be downloaded or mailed in.</b> Once you have accessed the proposal form, follow the prompts and complete the information for the various sections of the form. At the bottom of each page, you have the option to save and finish later or continue to the next page. The final page allows you to view the information that you have input and make any necessary corrections. Be sure to print out this page and keep it for your records. Once your form is complete and you have reviewed the contents, click "Submit." <b>Once you submit your form you will be unable to access it again to make any changes.</b>

<b>Q. Will I receive confirmation that my proposal was received?</b>
A. If you are using the electronic special-event proposal form, an automatic computer-generated confirmation e-mail will be sent to you after you have completed your submission online. Because of the large number of proposal forms received close to the 1 April deadline, we are not always able to ackknowledge receipt of proposal forms received through the mail. <b>So that the confirmation e-mail is not blocked by your spam-blocking software, please make sure that your e-mail is set up to receive e-mail from the MLA domain (mla.org).</b>

<b>Q. Can I participate in a special event I am proposing?</b>
A. Yes, you may list yourself as a presider or participant for the event you are proposing if you feel that this arrangement creates the best possible event. 

<b>Q. Is the event organizer the same person as the presider?</b>
A. Not necessarily. The event organizer is the person who has organized and submitted the event and is listed on the form as the contact person who will receive notification of whether or not the event has been accepted. The organizer's name will not appear in the Program unless that person is also participating in the event. The presider will introduce the event and the participants at the convention and is responsible for directing the event and keeping it within the allotted time. The presider's name and affiliation are listed in the Program. Special-event organizers may list themselves as presiders for their events, but it is not a requirement.

<b>Q. Is it necessary to list a presider for my event?</b>
A. No, it is not necessary to list a presider. If no presider is listed, however, your proposal should explain how the event will function without one.

<b>Q. What is the average number of participants for a special event?</b>
A. Each MLA special event is one hour and fifteen minutes in length. You should choose the number of participants that best suits your event and allows you to stay within the allotted time. 

<b>Q. How do I list more than one presider for my event?</b>
A. Usually only one person serves as presider for an event, so there is space for only one presider on the proposal form. If you feel that your event requires two presiders, you should explain this need in the body of your proposal and e-mail Karin Bagnall (<a href="mailto:kbagnall@mla.org">kbagnall@mla.org</a>) after submitting your special-event proposal, explaining that there is a second presider and including that person's name and affiliation.

<b>Q. Is it possible to list more than three participants for my event?</b>
A. If you are using the electronic form, there is space for seven participants and one presider. If you are using the paper form, you may add participants by attaching additional sheets to your proposal form. 

<b>Q. Are there any participation restrictions?</b>
A. Yes. So that as many members as possible may have the opportunity to participate in convention programs, a member may be listed only twice in the Program. Performing or speaking at a special event, reading a paper, serving as a roundtable panelist or as a respondent, or presiding at a session leads to a listing in the Program. The two listings may occur in a single session or in two different sessions. No more than two panelists from the same institution may participate in a session. 

<b>Q. What will happen if a participant is not a current member?</b>
A. Only current MLA members (or those whose membership requirements have been waived) may be included in your special-event proposal. Event participants must be MLA members by the 7 April deadline to be listed in the Program. If a participant is not a member (and the waiver requirement has not been met) by the 7 April deadline, your proposal will be reviewed by the Program Committee without that person's name or contribution to your event. For information regarding waivers of membership, please refer to the questions and answers below.

<b>Q. May I submit temporary participant names now and finalize the information if the event is accepted?</b>
A. No. All the information that you provide in your special-event proposal form should be complete and should appear exactly as you would wish it to appear in the Program if your proposal is accepted. The names you include should be the names of the people who will be participating in your event at the convention. You should have commitments from all the participants before submitting your special-event proposal. Special events are approved on the basis of the proposals submitted.

<b>Q. One of my participants is a member, but when I entered the name the system indicated that the person's name could not be found.</b>
A. Participants' names must be input exactly as they appear in the <a href="/member_search">MLA membership database</a>. If a member's name is not input exactly as it is listed in the database (including capitalizations, middle names, initials, etc.), the computer will not recognize the name as a member. Sometimes accents in the name or a change in affiliation may confuse the system even if the name is typed correctly. You may select "nonmember/not sure" if there are any questions and continue submitting your proposal. Once we receive the proposal forms, we manually check the membership status of all participants and e-mail the proposers if there are any membership questions. Our check supersedes any questions that the system may have raised.

<b>Q. What is a waiver of membership?</b>
A. Waivers of membership may be available for scholars working outside the fields of language and literature and for scholars with no affiliation in the United States and Canada. MLA members, including those in the emeritus category, are not eligible for waivers of membership. A waiver of membership may be granted to a person once every five years. Session or event organizers and presiders are not eligible for waivers of membership. For additional information on waivers of membership, please refer to the <a href="/conv_procedures">Procedures for Organizing Meetings at the MLA Convention</a>, which can also be found in the September <I>PMLA</I>.

<b>Q. How do I request a waiver of membership for one of my participants?</b>
A. To request a waiver of membership, complete the Waiver of Membership Request Form and submit the form along with your special-event proposal by the 1 April deadline. If you are submitting your special event online, you should access the waiver form through the "Thank You" page at the completion of your special-event submission. You can also access the electronic form through the Convention section of the MLA Web site (under 2008 Program Copy Forms), or you may contact the convention office (<a href="mailto:convention@mla.org">convention@mla.org</a>) and ask to have the paper form sent to you. You will need to have your MLA membership ID and password available to access the electronic form. If the waiver is not approved, the participant may still become an MLA member by the 7 April deadline to participate in your event. For additional information on waivers of membership, please refer to the <a href="/conv_procedures">Procedures for Organizing Meetings at the MLA Convention</a>, which can also be found in the September <I>PMLA</I>.

<b>Q. How can I request funding for a participant?</b>
A. Limited funds are available each year to provide partial assistance to persons who are not MLA members and who would not normally be expected to attend a professional meeting in the field of language and literature. A waiver of membership must first be approved before a request for funding may be made. Funding requests made on the MLA Fund Request form must reach the MLA convention office by 15 April and must explain how the participant would enrich the program. If you submitted your waiver request form online, you should access the funding request form through the "Thank You" page at the completion of your waiver request. You may also request a paper version of the form from the convention office (<a href="mailto:convention@mla.org">convention@mla.org</a>). For additional information on waivers of membership, please see the questions and answers above.

<b>Q. Who is responsible for requesting audiovisual equipment, and what is the deadline for that request?</b>
A. The event organizer is responsible for including all audiovisual requirements and requests for the event in the designated "Audiovisual Equipment" section on the special-event proposal form at the time the proposal is submitted. All audiovisual requests must be submitted by 1 April. It is the event organizer's responsibility to obtain all audiovisual requirements from the participants before submitting the special-event proposal. Late requests cannot be accommodated. 

<b>Q. When I submitted my proposal, the system replaced punctuation marks and underlines with typos and symbols. What should I do?</b>
A. There are often punctuation errors that occur in the submission of the electronic forms, and the Program Committee members are advised of this possibility. The Program Committee members will disregard any odd punctuation or symbols in their review of the special-event proposals. You may also type an underline mark before and after a word or sentence to indicate that it should be in italics (e.g., _Professor_ to indicate <i>Professor</i>).

<b>Q. How can I make changes to my proposal after it has been submitted?</b>
A. All special-event proposals must be complete and correct at the time they are submitted. Special events are approved on the basis of the proposals submitted, so any substantial changes could result in cancellation of the approved session. If your special event is accepted, the special-event information printed in the Program will be taken directly from the information included in your special-event proposal. Before you submit your proposal, make sure that the information included (participants' names and affiliations, special-event title, audiovisual equipment, and accessibility requirements) appears exactly as you would wish it to appear in the Program. Any information not included in your proposal form may be omitted from the Program. The final page of the online proposal form ("View Special Event Proposal") allows you to view the information that you have input and make any necessary corrections. Make sure to print out a copy of this page for your records. <b>Once you submit your electronic special-event proposal form you will be unable to access it again to make any changes.</b>
