<h1><I>MLA Newsletter</i><BR>
Spring 2004</h1>
<h2>In This Issue</h2>
<table width="95%" border="0" align="left">
<tr align="left" valign="top"> 
<td width="6%">1</td>
<td width="94%"><i><b>First Phyllis Franklin Award for
Public Advocacy of the Humanities
Presented to Senator Kennedy</b></i></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">3</td>
<td width="94%"><i><B>President's Column</B></i><BR>
<I>Robert Scholes</i><BR>
Fallibility, freedom, and
this spinning world</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">3</td>
<td width="94%"><b><i>2003 Election Results</i></b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">4</td>
<td width="94%"><i><B>Editor's Column</B></i><BR>
<I>Rosemary G. Feal</i><BR>
"All languages are up": A look at foreign
language enrollments today</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">5</td>
<td width="94%"><b><i>MLA's Fall 2002 Survey Shows
Increase in Foreign Language Enrollments</i></b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">30</td>
<td width="94%"><b><i>Committee on Information
Technology Issues Statement on Electronic Publishing</i></b></td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2><b>BOOK NEWS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">28</td>
<td width="94%">Call for contributions in World Literatures
Reimagined series</td></tr>
<tr align="left" valign="top"> 
<td width="6%">28</td>
<td width="94%">Call for contributions in Approaches series</td></tr>
<tr align="left" valign="top"> 
<td width="6%">29</td>
<td width="94%">Two new MLA titles published</td></tr>
<tr align="left" valign="top">
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>COMMITTEES</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">29</td>
<td width="94%">Teaching languages, literatures, and cultures: An invitation</td>
</tr>
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>CONVENTION</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%">What makes a successful special-session
proposal?</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%">Department chairs' hotel reservations</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">8</td>
<td width="94%">Calls for papers for 2004 convention in
Philadelphia</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>GOVERNANCE</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">6</td>
<td width="94%">Summary of Delegate Assembly actions in
San Diego</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">6</td>
<td width="94%">Membership ratification vote</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>GRANTS AND PRIZES</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">1</td>
<td width="94%">Winners of MLA prizes announced</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>MEETINGS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">30</td>
<td width="94%">2004 ADFL Summer Seminars: At the interface
of chairing--vision and management</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">31</td>
<td width="94%">2004 ADE Summer Seminars for departmental
administrators</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>MLA WEB SITE NEWS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%">Registration for Disability Studies
Conference</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b><i>Other News and Announcements</i></b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">31</td>
<td width="94%">Fellowships and grants deadlines</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">32</td>
<td width="94%">Upcoming MLA deadlines</td>
</tr>

</table>
