<h1><I>MLA Newsletter</i><BR>
Spring 2002</h1>
<h2>In This Issue</h2>
<table width="95%" border="0" align="left">
<tr align="left" valign="top"> 
<td width="6%">1</td>
<td width="94%"><b><i>New Executive Director</i></b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%"><i><B>2001 Election Results</B></i></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">3</td>
<td width="94%"><i><B>President's Column</B></i><BR>
<I>Stephen Greenblatt</i><BR>
Scholars at risk</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">5</td>
<td width="94%"><i><B>Editor's Column</B></i><BR>
<I>Phyllis Franklin</i><BR>
The <i>MLA International Bibliography</i>:
Where we are now</td>
</tr>
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2><b>BIBLIOGRAPHY</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">6</td>
<td width="94%">Emerging terminology in the <i>MLA
International Bibliography</i></td></tr
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2><b>BOOK NEWS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">31</td>
<td width="94%">Call for contributions and suggestions for
Options for Teaching volume</td></tr>
<tr align="left" valign="top"> 
<td width="6%">31</td>
<td width="94%">Call for contributions to Approaches
series</td></tr>
<tr align="left" valign="top">
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>CONVENTION</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">6</td>
<td width="94%">ADE and ADFL department chairs' hotel
reservations</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%">Calls for papers for 2002 convention</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>GRANTS AND PRIZES</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%">Phyllis Franklin Award for Public Advocacy of
the Humanities</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">4</td>
<td width="94%">Winners of MLA prizes announced</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>MEETINGS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%">Conference on the Relation between English
and Foreign Languages in the Academy</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">30</td>
<td width="94%">2002 ADE and ADFL Summer Seminars</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%"><b>MLA WEB SITE NEWS</b></td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b><i>Other News and Announcements</i></b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">30</td>
<td width="94%">Correspondence</td></tr>
<tr align="left" valign="top"> 
<td width="6%">30</td>
<td width="94%">Classified advertisements</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">31</td>
<td width="94%">Correction</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">31</td>
<td width="94%">Fellowships and grants deadlines</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">32</td>
<td width="94%">Upcoming MLA deadlines</td>
</tr></table>
