<h1><I>MLA Newsletter</i><BR>
Spring 2003</h1>
<h2>In This Issue</h2>
<table width="95%" border="0" align="left">
<tr align="left" valign="top"> 
<td width="6%">3</td>
<td width="94%"><i><B>President's Column</B></i><BR>
<I>Mary Louise Pratt</i><BR>
Of poets and polyglots</td></tr>
<tr align="left" valign="top"> 
<td width="6%">4</td>
<td width="94%"><i><B>Editor's Column</B></i><BR>
<I>Rosemary G. Feal</i><BR>
On Broadway: The 2002 MLA convention</td></tr>
<tr align="left" valign="top"> 
<td width="6%">6</td>
<td width="94%"><b><i>Count of Positions in the October
2002 MLA Job Information List</i></b></td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2><b>BOOK NEWS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">30</td>
<td width="94%">Call for contributions in Approaches
series</td></tr>
<tr align="left" valign="top"> 
<td width="6%">30</td>
<td width="94%">Call for contributions and suggestions for
Options for Teaching serie</td></tr>
<tr align="left" valign="top"> 
<td width="6%">31</td>
<td width="94%">Four new MLA titles published</td></tr>
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>COMMITTEES</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">9</td>
<td width="94%">Call for comment on revised CSE
guidelines</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>CONVENTION</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">9</td>
<td width="94%">Department chairs' hotel reservations</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">9</td>
<td width="94%">Calls for papers for 2003 convention</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>GOVERNANCE</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">8</td>
<td width="94%">Membership ratification vote</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">8</td>
<td width="94%">Summary of Delegate Assembly actions in
New York</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>GRANTS AND PRIZES</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">1</td>
<td width="94%">Winners of MLA prizes announced</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>MEETINGS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">31</td>
<td width="94%">2003 ADE and ADFL Summer Seminars</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%"><b>MLA WEB SITE NEWS</b></td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2"><b>Other News and Announcements</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">30</td>
<td width="94%">Correspondence</td></tr>
<tr align="left" valign="top"> 
<td width="6%">30</td>
<td width="94%">Classified advertisements</td></tr>
<tr align="left" valign="top"> 
<td width="6%">31</td>
<td width="94%">Fellowships and grants deadlines</td></tr>
<tr align="left" valign="top"> 
<td width="6%">32</td>
<td width="94%">Upcoming MLA deadlines</td></tr></table>
