<h1><@$Inst_Name></h1><p>
<h2><@$Inst_Dept></h2><p>
<b><@$Inst_City>, <@$Inst_State></b><p>

<table border="0" cellpadding="4" cellspacing="1" width="100%" bgcolor="#336699">
<@$header_1>
<@$header_2>
<@$header_3>
</tr>
</table><p>
<@if ($searcharg{tab} eq "2" || $searcharg{tab} eq "3")>

<table border="0" cellpadding="4" cellspacing="1" bgcolor="#6699cc" "width="100%">
<tr>
<@loop "col_results">
<td bgcolor=#ccccff><font color=#336699><@col 1></font></td>
<td bgcolor=#ccccff><font color=#336699><@col 2></font></td>
<td bgcolor=#ccccff><font color=#336699><@col 3></font></td>
<td bgcolor=#ccccff><font color=#336699><@col 4></font></td>
<@/loop>
</tr>
<@if ($searcharg{tab} eq "2")>
<tr><td bgcolor=FFFFFF><@$fn_health_pd_both></td><td bgcolor=#FFFFFF><@$pc_health_pd_both></td><td bgcolor=#FFFFFF><@$pf_health_pd_both></td><td bgcolor=#FFFFFF>Offers a health plan paid by both teacher and institution</td></tr>
<tr><td bgcolor=#FFFFFF><@$fn_health_pd_inst></td><td bgcolor=#FFFFFF><@$pc_health_pd_inst></td><td bgcolor=#FFFFFF><@$pf_health_pd_inst></td><td bgcolor=#FFFFFF>Offers a health plan paid by institution</td></tr>
<tr><td bgcolor=FFFFFF><@$fn_health_pd_teach></td><td bgcolor=#FFFFFF><@$pc_health_pd_teach></td><td bgcolor=#FFFFFF><@$pf_health_pd_teach></td><td bgcolor=#FFFFFF>Offers a health plan paid by teacher</td></tr>
<tr><td bgcolor=FFFFFF><@$fn_ret_plan></td><td bgcolor=#FFFFFF><@$pc_ret_plan></td><td bgcolor=#FFFFFF><@$pf_ret_plan></td><td bgcolor=#FFFFFF>Offers a retirement plan</td></tr>
<tr><td bgcolor=#FFFFFF><@$fn_life_ins></td><td bgcolor=#FFFFFF><@$pc_life_ins></td><td bgcolor=#FFFFFF><@$pf_life_ins></td><td bgcolor=#FFFFFF>Offers life insurance</td></tr>
<tr><td bgcolor=#FFFFFF><@$fn_no_bens></td><td bgcolor=#FFFFFF><@$pc_no_bens></td><td bgcolor=#FFFFFF><@$pf_no_bens></td><td bgcolor=#FFFFFF>NO benefits offered</td></tr>
			
<@else>
<tr><td bgcolor=#FFFFFF><@$fn_basic_support></td><td bgcolor=#FFFFFF><@$pc_basic_support></td><td bgcolor=#FFFFFF><@$pf_basic_support></td><td bgcolor=#FFFFFF>Basic support package*</td></tr>
<tr><td bgcolor=#FFFFFF><@$fn_reg_increase></td><td bgcolor=#FFFFFF><@$pc_reg_increase></td><td bgcolor=#FFFFFF><@$pf_reg_increase></td><td bgcolor=#FFFFFF>Regular salary increases</td></tr>
<tr><td bgcolor=FFFFFF><@$fn_adv_notice></td><td bgcolor=#FFFFFF><@$pc_adv_notice></td><td bgcolor=#FFFFFF><@$pf_adv_notice></td><td bgcolor=#FFFFFF>Six-weeks advance notice of course assignment</td></tr>
<tr><td bgcolor=#FFFFFF><@$fn_travel></td><td bgcolor=#FFFFFF><@$pc_travel></td><td bgcolor=#FFFFFF><@$pf_travel></td><td bgcolor=#FFFFFF>Travel to professional meetings</td></tr>
<tr><td bgcolor=#FFFFFF><@$fn_invite></td><td bgcolor=#FFFFFF><@$pc_invite></td><td bgcolor=#FFFFFF><@$pf_invite></td><td bgcolor=#FFFFFF>Standing invitation to take part it department meetings</td></tr>
<tr><td bgcolor=#FFFFFF><@$fn_secretary></td><td bgcolor=#FFFFFF><@$pc_secretary></td><td bgcolor=#FFFFFF><@$pf_secretary></td><td bgcolor=#FFFFFF>Secretarial assistance</td></tr>

<@/if>
</table>
<@if ($searcharg{tab} eq "3")>
<br><i>* A basic package of support includes office space; computer  access; a mailbox; a telephone; photocopying privileges; and library privileges.</i>
<@/if>

<@else>

<TABLE BORDER=0 cellpadding=4 cellspacing=1 bgcolor="#6699cc" width="100%">
<TR><TD ALIGN=right WIDTH=10% bgcolor=#ffffff><@$num_tenured_emp></TD><TD WIDTH=90% bgcolor=#ffffff>Full-time tenured or tenure-track faculty members</TD></TR>
<TR><TD ALIGN=right bgcolor=#ffffff><@$num_nontenured_emp></TD><TD bgcolor=#ffffff>Full-time non-tenure-track faculty members</TD></TR>
<TR><TD ALIGN=right bgcolor=ffffff><@$num_part_emp></TD><TD bgcolor=#ffffff>Part-time faculty members</TD></TR>
<TR><TD ALIGN=right bgcolor=ffffff><@$num_assist_emp></TD><TD bgcolor=#ffffff>Graduate student teaching assistants</TD></TR>
<TR><TD ALIGN=right bgcolor=ffffff>
<@if ($ave_nontenured_salary eq "")>
<@else>
$<@$ave_nontenured_salary>
<@/if>
</TD><TD bgcolor=ffffff>Average annual salary for full-time non-tenure-track faculty members</TD></TR>
<TR><TD ALIGN=right bgcolor=#ffffff>
<@if ($ave_per_course eq "")>
<@else>
$<@$ave_per_course>
<@/if>
</TD><TD bgcolor=#ffffff>Average per-course pay for part-time paid-by-course faculty members</TD></TR>
<TR><TD ALIGN=right bgcolor=#ffffff>
<@if ($ave_per_fraction_salary eq "")>
<@else>
$<@$ave_per_fraction_salary>
<@/if>
</TD><TD bgcolor=#ffffff>Average annual salary for part-time paid-by-fraction faculty members</TD></TR>

</table>
<@/if>

<p><a href="/staffsrvy_search">&lt;&nbsp;New search</a></p>
