<style type="text/css">
h2 {margin-top: 1.75em;}
h3 {margin-top: 1.5em;}
p {margin: 0 0 0.5em 0;}
</style>

<h1>The  MLA Staff</h1>
<p>To contact an MLA staff member by e-mail at mla.org, please use the first initial and the surname. For example, to reach Jane Smith, you would write to jsmith@mla.org.</p>


<p><br/>ROSEMARY G. FEAL, <i>Executive Director</i></p>

<h2>Office of the Executive Director</h2>
<p>Carol S. Zuses, <i>Coordinator of Governance and Assistant to the Executive Director</i></p>
<p>June DiMarzo, <i>Assistant to the Executive Director</i></p>

<h2>Administration and Finance</h2>
<p>Terrence Callaghan, <i>Director of Administration and Finance</i></p>

<h3>Financial Operations</h3>
<p>Arlene M. Barnard, <i>Controller</i></p>
<p>Geraldine S. Betencourt, <i>Assistant, Accounting Operations</i></p>
<p>Sabrina Flagler, <i>Assistant, Accounting Operations </i></p>
<p>Diana M. Gilchrist, <i>Assistant, Accounting Operations</i></p>
<p>Jennifer Mui Wu, <i>Assistant, Accounting Operations</i></p>

<h3>Information Technology</h3>
<p>Kinglen L. Wang, <i>Manager, Information Technology</i></p>
<p>Neil J. Balavram, <i>Associate Manager, Information Technology</i></p>
<p>Mei Chu, <i>Project Leader, Database Application Design and Development</i></p>
<p>Beverly J. Celusak, <i>Programmer</i></p>
<p>Alfredo DeMatteis, <i>Web Developer</i></p>
<p>Cecily M. Tai, <i>Programmer</i></p>
<p>Patrick Jean, <i>Systems Administrator</i></p>

<h3>Member and Customer Services</h3>
<p>Leonard J. Moreton<i>, Manager, Member and Customer Services</i></p>
<p>Lorna C. Reid, <i>Assistant Manager, Member and Customer Services</i></p>
<p>Cindy S. Cohen, <i>Membership Activities Coordinator</i></p>
<p>Edwin J. Gunn, <i>Administrative Assistant</i></p>
<p>Keith M. O’Dea, <i>Administrative Assistant</i></p>
<p>Michael J. Reilly, <i>Administrative Assistant</i></p>
<p>Elga Y. Yorke, <I>Administrative Assistant</i></p>

<h3>Personnel and Office Management</h3>
<p>Mary G. Franzese, <i>Personnel and Office Manager</i></p>
<p>Marcia E. Henry, <i>Permissions and Contracts Manager</i></p>
<p>Raquel Cortés, <i>Word Processor and Administrative Services Assistant</i></p>
<p>Brenda A. Sample, <i>Administrative Services Assistant and Mailroom Clerk</i></p>

<h2>Bibliographic Information Services</h2>
<p>Barbara A. Chen, <i>Director of Bibliographic Information Services and Editor</i>, MLA International Bibliography</p>
<p>Gregory M. Grazevich, <i>Associate Editor and Senior Thesaurus Editor</i>, MLA International Bibliography</p>
<p>Brigitte A. Agna, <i>Senior Index Editor</i>, MLA International Bibliography</p>
<p>Janet L. Anderson, <i>Senior Index Editor</i>, MLA International Bibliography</p>
<p>Cameron Bardrick, <i>Index Editor</i>, MLA International Bibliography</p>
<p>Daniel C. Connor, <i>Index Editor</i>, MLA International Bibliography</p>
<p>Aaron E. Davis, <i>Index Editor</i>, MLA International Bibliography</p>
<p>Yüksel Duman, <i>Index Editor</i>, MLA International Bibliography</p>
<p>Elizabeth D. Jardine, <i>Index Editor</i>, MLA International Bibliography</p>
<p>Claire Leich-Galland, <i>Index Editor</i>, MLA International Bibliography</p>
<p>Emma P. Marciano, <i>Index Editor</i>, MLA International Bibliography</p>
<p>William N. Ostrow, <i>Index Editor</i>, MLA International Bibliography</p>
<p>Julie Frick Wade, <i>Index Editor</i>, MLA International Bibliography</p>
<p>Edward H. Willis, <i>Index Editor</i>, MLA International Bibliography</p>
<p>Martin York, <i>Index Editor</i>, MLA International Bibliography</p>
<p>Peter E. Zimmermann, <i>Index Editor</i>, MLA International Bibliography</p>
<p>Katsuyo Motoyoshi, <i>Associate Index Editor</i>, MLA International Bibliography</p>
<p>Ari Borrell, <i>Assistant Index Editor</i>, MLA International Bibliography</p>
<p>Farrah Lehman Den, <i>Assistant Index Editor</i>, MLA International Bibliography</p>
<p>Amanda Kerbel, <i>Assistant Index Editor</i>, MLA International Bibliography</p>
<p>Syelle Graves, <i>Indexer</i>, MLA International Bibliography</p>
<p>Christopher Monell, <i>Thesaurus Editor</i>, MLA International Bibliography</p>
<p>Angela Ecklund, <i>Associate Thesaurus Editor</i>, MLA International Bibliography</p>
<p>Sara O’Neill, <i>Assistant Thesaurus Editor</i>, MLA International Bibliography</p>
<p>Dаniel E. Воksеr, <i>Database Coordinator</i></p>
<p>Charles Ornegri, <i>Metadata Administrator</i></p>
<p>David W. Wright, <i>Editor, Directory of Periodicals</i></p>
<p>Helen Slavin, <i>Administrative Assistant</i></p>
<p>Zachary Tomlinson, <i>Administrative Assistant</i></p>

<h2>Convention Programs</h2>
<p>Maribeth T. Kraus, <i>Director of Convention Programs</i></p>
<p>Karin L. Bagnall, <i>Associate Director of Convention Programs</i></p>
<p>Anastasia M. Courtney, <i>Senior Convention Manager</i></p>
<p>Allison Maliandi-Warheit, <i>Administrative Assistant</i></p>

<h2>Programs</h2>
<p>Dennis Looney, <i>Director of Programs and ADFL</i></p>
<p>David C. Goldberg, <i>Associate Director of Programs and ADFL</i></p>
<p>Douglas W. Steward, <i>Associate Director of Programs and ADE</i></p>
<p>Erika M. DeSimone, <i>Administrative Assistant and Editorial Assistant, Programs and Research</i></p>
<p>Annie M. Reiser, <i>Administrative Assistant, Programs and Research, and Coordinator of Book Prizes</i></p>

<h2>Publishing Operations</h2>
<p>Judy Goulding, <i>Associate Executive Director and Director of Publishing Operations</i></p>

<h3>Editorial Services</h3>
<p>Angela L. Gibson, <i>Associate Managing Editor for Book Publications and Associate Editor, MLA Publications</i></p>
<p>Eric R. Wirth, <i>Associate Managing Editor, </i>PMLA<i>, and Associate Editor, MLA Publications</i></p>
<p>Michael Kandel, <i>Associate Editor, MLA Publications</i></p>
<p>C. Barney Latimer, <i>Associate Editor, MLA Publications</i></p>
<p>Sara Pastel, <i>Associate Editor</i>,<i> MLA Publications</i></p>
<p>Christiane Angeli, <i>Assistant Editor, MLA Publications</i></p>
<p>John D. Golbach, <i>Assistant Editor, MLA Publications</i></p>
<p>Annabel B. Schneider, PMLA<i> Advertising Manager and Submissions Associate</i></p>
<p>Claire Luchette, <i>Editorial Assistant, MLA Publications</i></p>

<h3>Production</h3>
<p>Judith H. Altreuter, <i>Associate Director of Publishing Operations, Production</i></p>
<p>David W. Hodges, <i>Production Process Manager and Systems Integrator</i></p>
<p>Chris Zarate, <i>Digital Project Developer</i></p>
<p>Paul J. Banks, <i>Production Manager, MLA Publications</i></p>
<p>Tom Lewek, <i>Digital Content Administrator</i></p>	
<p>Sandy McVetty, <i>Production Associate</i></p>
<p>David F. Cope, <i>Senior Typesetter</i></p>
<p>Laurie Russell, <i>Senior Proofreader</i></p>

<h3>Promotion and Development</h3>
<p>Kathleen M. Hansen, <i>Associate Director of Publishing Operations, Marketing and Sales</i></p>
<p>Pamela Roller, <i>Design Coordinator</i></p>
<p>Chéri A. Smith, <i>Advertising Manager</i></p>

<h2>Research</h2>
<p>David E. Laurence, <i>Director of Research and ADE</i></p>
<p>Natalia Lusin, <i>Associate Director of Research</i></p>
<p>Stephen T. Olsen, <i>Associate Director of Research and Manager of Digital Services</i></p>
<p>Roy S. Chustek, <i>Senior Administrative Assistant, Research, and Coordinator of the Job Information Service</i></p>
<p>Christine Astor, <i>Research Assistant</i></p>
<p>Judy Strassberg, <i>Research Assistant</i></p>

<h2>Scholarly Communication</h2>
<p>Kathleen Fitzpatrick, <i>Director of Scholarly Communication</i></p>
<p>Anna S. A. Chang, <i>Associate Director of Scholarly Communication</i></p>
<p>Katina Rogers, <i>Managing Editor, </i>MLA Commons</p>
<p>Margit A. Longbrake, <i>Senior Acquisitions Editor</i></p>
<p>James C. Hatch, <i>Senior Acquisitions Editor</i></p>
<p>Susanna Mayer, <i>Editorial Assistant</i></p>
