<h1>Statement on Publication in Electronic Journals</h1>
Electronic scholarly journals have existed for over a decade. Commonplace in the sciences, they are gaining in audience and professional use in the humanities. Scholars at all levels may choose to publish their research in electronic formats because of the ease of distribution, discovery, and retrieval in these formats--which is a significant aid to research--and because of the multimedia features that the electronic environment affords. 

The electronic journal is a viable and credible mode of scholarly publication. When departments evaluate scholarly publications for purposes of hiring, reappointment, tenure, and promotion, the standing of an electronic journal should be judged according to the same criteria used for a print journal. These criteria include the journal's peer review policy, its rate of acceptance, the nature of its editorial board and publisher, and its general profile in the field it covers. 

The MLA believes that the continuing development of electronic publishing in the humanities offers exciting possibilities and a new medium for the dissemination of scholarly work. It represents a particularly important development in the light of recent constraints on university press publication.

<I>This statement was approved by the MLA Executive Council at its 24-25 October 2003 meeting.</i>
