<h1>MLA Bookstore</h1>
<p> Browse all our titles in print, explore our new titles, or search by author in the
MLA Bookstore. Every book is available for sale through our secure shopping cart. <b>MLA
members receive a 20% discount off all regularly priced items.</b></p>
<p>For orders from the United Kingdom, Continental Europe, Africa, the Middle East, Asia, and Australasia, please visit <a href="http://www.eurospanbookstore.com/mla">Eurospan</a>.
<p>View our catalog for resellers and librarians <a href="http://www.scribd.com/doc/96156164/Spring-2012%E2%80%93Winter-2013-Catalog#fullscreen" target="_blank">online</a>.</p>

<!--// FEATURED BOOKS// -->
<div style="font-family:verdana,arial; font-size:12px; font-weight:bold; color:#009999; text-align:center; border-top:2px dotted; border-bottom:2px dotted; border-right:none; border-left:none; border-color: #999999; width:100%; padding:4px;">
FEATURED BOOKS
</div>

<@spacer 1x8>

<table border="0" cellpadding="0" cellspacing="0" width="100%">

<!--// MLA HANDBOOK IMAGE // -->
<tr valign="top">
<td width="32%" align="left"><a href="<@$store_base_url>CID24/PID363"><img src="/IMAGES/handbook_7thfeatured.jpg" alt="MLA Handbook, 7th edition" width="170" height="262" border="0"></a></td>
<td width="2%"><@spacer 6x1></td>

<!--// ATT SHREW IMAGE// -->
<td width="32%" align="left"><a href="<@$store_base_url>PID462"><img src="/IMAGES/attshrew-featured.jpg" alt="Approaches to Teaching Shakespeare’s The Taming of the Shrew" width="170" height="262" border="0"></a></td>
<td width="2%"><@spacer 6x1></td>

<!--// ATT OROONOKO IMAGE// -->
<td width="32%" align="left"><a href="<@$store_base_url>PID463"><img src="/IMAGES/oroonoko-featured.jpg" alt="Approaches to Teaching Behn’s Oroonoko " width="170" height="262" border="0"></a></td>
<td width="2%"><@spacer 6x1></td>

</tr>

<!--// MLA HANDBOOK DESCRIPTION // -->
<tr valign="top">
<td width="32%" align="left" class="s1"><a href="<@$store_base_url>CID24/PID363" class="s2"><b>MLA Handbook for Writers of Research Papers (7th edition)</b></a><br>
<@spacer 1x8>
<br>The seventh edition is a comprehensive, up-to-date guide to research and writing in
the online environment. It provides an authoritative update of MLA documentation style
for use in student writing, including simplified guidelines for citing works published
on the Web and new recommendations for citing several kinds of works, such as digital
files and graphic narratives.<br><br>
<b>New Web site: <a href="http://www.mlahandbook.org" target="_blank">www.mlahandbook.org</a></b>
<br>
<@spacer 1x8>
<br><a href="<@$store_base_url>CID24/PID363" class="s1">
Click here to read more about this title.</a></td>
<td width="2%">
<@spacer 6x1>
</td>


<!--// ATT SHREW DESCRIPTION// -->
<td width="32%" align="left" class="s1"><a href="<@$store_base_url>PID462" class="s2"><b>Approaches to Teaching Shakespeare’s <i>The Taming of the Shrew</i></b></a><br>Editors: Margaret Dupuis, Grace Tiffany<br>
<@spacer 1x8>
<br>
“This collection is essential reading for beginning instructors and for seasoned veterans. The editors should be commended for making available such a useful and rich array of pedagogical strategies.”

<br><i>—Katherine Scheil, University of Minnesota</i>
<br>
<@spacer 1x8>
<br><a href="<@$store_base_url>PID462" class="s1">
Click here to read more about this title.</a></td>
<td width="2%">
<@spacer 6x1>
</td>

<!--// ATT OROONOKO DESCRIPTION// -->
<td width="32%" align="left" class="s1"><a href="<@$store_base_url>PID463" class="s2"><b>Approaches to Teaching Behn’s <i>Oroonoko</i></b></a><br>Editors: Cynthia Richards, Mary Ann O'Donnell<br>
<@spacer 1x8>
<br>
“<i>Oroonoko</i> is an excellent choice for this series because of its popularity in an exceptionally broad range of college and university courses, and this volume does an excellent job presenting the scholarly and pedagogical diversity used in teaching the work.”

<br><i>—Richard Frohock, Oklahoma State University</i>
<br>
<@spacer 1x8>
<br><a href="<@$store_base_url>PID463" class="s1">
Click here to read more about this title.</a></td>
<td width="2%">
<@spacer 6x1>
</td>
</tr>
</table>
