<h1>Retention and Attrition of Students and the Time They Take to Earn Degrees</h1>
3.1
Of those who matriculate in the department's graduate programs, how many receive degrees? What are the attrition rates year by year? At what point or points do most exits occur? How does the rate of attrition in the department's programs compare to the rate for all graduate programs in the institution? If the department's rate seems high, what causes can be identified? How can the situation be corrected? 

3.2
Does analysis reveal any patterns in attrition rates among different categories of graduate students? Are rates higher among some groups of students than others? If so, what causes can be identified? How can the situation be improved? 

3.3
Of the past five years' degree recipients, what was the median length of time from matriculation to receipt of the degree? How does this figure compare to national averages? If the length of time seems unduly prolonged, what causes can be identified? How can the situation be improved?


<a href="/studyguide">< Index</a> | <a href="/studyguide4">Continue ></a>
