<h1>Financial Support for Students and Its Impact on Staffing Patterns in the Undergraduate Curriculum</h1>
4.1
Financial Support for Students

4.1.1
What proportion of matriculating students receive financial support? In what forms? For what terms? How does the term of the customary support package compare to the time students take to earn a degree on average?

4.1.2
How is financial aid for students determined? Are certain groups of students unsupported or undersupported? Are there steps that might be taken to address problems analysis reveals?

4.1.3
From matriculation to receipt of the degree, what proportions of the average student's support package are provided by fellowships and by teaching assistantships? Are the institution and department able to support most first-semester graduate students with fellowships, or are first-semester graduate students routinely asked to assume major teaching responsibilities?

4.1.4
How many course sections does a teaching assistant customarily teach each semester or quarter? How does the teaching load relate to the figures for attrition and for the time taken to earn a degree? How does it affect graduate students' intellectual development and preparation as scholars? How does it affect their competitiveness on the job market and their job placement?


4.2
The Use of Teaching Assistants in the Undergraduate Curriculum

4.2.1
What percentage of course sections in the department's undergraduate curriculum are taught by graduate students? by regular faculty members? by full- and part-time adjuncts?

4.2.2
Does the department staff composition and introductory language courses in a way that tacitly certifies the BA degree, absent any additional experience or training, as an appropriate qualification for college teaching?

4.2.3
Has the department ever been urged to admit students to its graduate programs to fill slots budgeted for teaching assistantships? If the department were to reduce the number of students in its graduate programs, how would the institution support the teaching of introductory courses?

4.2.4
How vulnerable are the programs to the charge that teaching assistantships function mainly to keep professorial-rank faculty members from being assigned to lower-level courses, thereby helping the institution to avoid hiring additional regular faculty members?


<a href="/studyguide">< Index</a> | <a href="/studyguide5">Continue ></a>
