<h1>Values and Admissions</h1>
The department may want to develop a questionnaire to solicit views of faculty members and students on various aspects of the department's programs. Analysis of such a survey can help reveal the degree of congruence between the premises and values of students and those of faculty members. The survey can also reveal links among program goals, faculty and student attitudes, and patterns in placement and attrition. The questionnaire might inquire about topics like the following ones.

7.1
How do faculty members perceive the quality of the body of graduate students?

7.2
How do graduate students perceive the character and quality of faculty members' teaching? What models and messages do they believe faculty members provide about how teaching in various parts of the department's programs should be valued? What models and messages do faculty members think they are providing?

7.3
How do graduate students perceive their work as teaching assistants? What views do they hold of the faculty's supervision of and involvement in this aspect of their education? Do graduate students see teaching assistantships as part of their graduate study and education as teachers? Or do they see assistantships chiefly as work they do to support themselves while they pursue advanced study?

7.4
If the department administers an institutional foreign language or writing requirement, how do graduate students and faculty members see the courses undergraduate students take in fulfillment of this requirement?

7.5
If there are full- or part-time faculty members who teach only undergraduate courses, how do they see the graduate programs and the faculty members who teach graduate courses?

7.6
How do graduate students feel about the quality of support they receive once they advance beyond course work? Do graduate students think faculty members respond to drafts of dissertation chapters in a thorough, helpful, and timely way?

7.7
How do PhDs recently placed in academic positions feel about the quality and character of the support the department provided before and during the job search? How well prepared do recently placed PhDs feel they were for the work they are doing? What do those placed in various types of departments--especially in small baccalaureate colleges and two-year colleges--believe to be faculty members' attitude toward these placements? What attitudes do faculty members express about job placements in two-year and baccalaureate colleges?

7.8
How do PhDs recently placed in positions outside the academy feel about their experience in graduate study? What attitudes do faculty members express about job placements outside the academy?


<a href="/studyguide">< Index</a> | <a href="/studyguide8">Continue ></a>
