<h1>Goals of the Department's Graduate Programs</h1>
1.1
What short- and long-term aims has the department identified for its graduate programs? 

1.2
What is the range of faculty members' views regarding the aims and purposes of the department's graduate programs? What do various faculty members want the department to be distinguished for in the next five years? 

1.3
In identifying aims, how do faculty members distinguish between graduate and undergraduate education? general and specialized education? the PhD as preparation for a research career, for teaching in four- and two-year colleges, for teaching in secondary schools, and for employment in business, government, and not-for-profit organizations? 

1.4
In identifying the aims of the graduate programs, what priority do faculty members give to research and publication? to communicating the value of undergraduate teaching and broad humanistic education? to the continuing education of secondary school teachers? to new developments and change in the field? (English and foreign language departments will differ in some of the topics they examine, among them faculty members' attitudes toward the study of rhetoric and composition, of creative and expository writing, and of applied linguistics and language-acquisition theory.) 

1.5
What are the purposes of graduate students applying to and matriculating in MA and PhD programs? How many are recent BAs whose stated aim is to enter college teaching? How many are not recent BAs and have other purposes--for example, secondary school teachers seeking postbaccalaureate degrees while in service? How congruent are the aims students announce with those faculty members state? How do the attrition rates in graduate programs relate to congruence or incongruity between what the department believes the aims for graduate study should be and the purposes of entering students? How does the department propose to address any mismatch of expectations? 

1.6
How do the aims and activities of the graduate programs relate to those of departments in nearby competing institutions? to the needs of the region, state, or province? to American or Canadian society as a whole? 

1.7
Have the department's aims for itself or the institution's aims for the department changed substantially in the last five years? If so, how and why? Does the department anticipate that the relation between the aims of its graduate programs and those of its undergraduate programs--and hence the department's nature and functions--may change in the next five years? If so, how and why? 


<a href="/studyguide">< Index</a> | <a href="/studyguide2">Continue ></a>
