<h1>The <I>MLA Handbook for Writers of Research Papers</i> and the <I>MLA Style Manual and Guide to Scholarly Publishing</i></h1>
The Modern Language Association publishes two guides for writing and documenting research. The <I>MLA Handbook for Writers of Research Papers</i> provides guidance for high school and undergraduate students who are preparing research papers for academic credit.  The <I>MLA Style Manual and Guide to Scholarly Publishing</i> advises graduate students, scholars, and professional writers on the protocols of advanced research writing, peer review, and publication.

<img src="/IMAGES/handbook_7ed.jpg" alt="Handbook" width="170" height="250" border="0" align="left" vspace="3" hspace="6"><b>The <I>MLA Handbook for Writers of Research Papers</i>, seventh edition</b>

The <I>MLA Handbook</i> is the association's guide for high school and undergraduate students on the preparation of research papers. It gives step-by-step advice on every aspect of writing papers, from selecting a topic to submitting the completed paper. It provides an authoritative presentation of MLA documentation style for use in student writing. 

Find out about purchasing the <I><a href="<@$store_base_url>CID24/PID363">MLA Handbook</a></I>. 

For more information about the <I>MLA Handbook</i>, see the <a href="/handbook_faq">list of frequently asked questions</a>. 

<hr width="100%">

<img src="/IMAGES/mlastylecov_dropshadow.jpg" alt="Handbook" width="170" height="249" border="0" align="left" vspace="3" hspace="6"><b>The <I>MLA Style Manual and Guide to Scholarly Publishing</i>, third edition</b>

The <I>MLA Style Manual</i> is the association's guide for graduate students, scholars, and professional writers. It offers complete guidance on writing and documenting scholarly texts, submitting them for peer review, and preparing them for publication. The volume provides a chapter on copyright, fair use, contracts, and other legal issues. Another chapter addresses the special requirements for submitting theses and dissertations. This edition of the <I>MLA Style Manual</i> presents a significant revision of MLA documentation style, which the MLA began to use in its own publications in January 2009. Authors of articles, books, theses, dissertations, and other scholarly works in MLA style should use the guidelines in this volume.

Find out about purchasing the <a href="<@$store_base_url>CID29/PID341"><I>MLA Style Manual</I></a>.

For more information about the <I>MLA Style Manual</i>, see the <a href="/style_faq">list of frequently asked questions</a>. 
