<h1>Should I use underlining or italics in my research paper?</h1>
Writers commonly use italics for text that would be italicized in a publication. The examples in the <I>MLA Handbook</I> follow this practice. Most word-processing programs and computer printers permit the reproduction of italic type. Choose a type font in which the italic style contrasts clearly with the regular style.
