<h1><I>MLA Newsletter</i><BR>
Summer 2003</h1>
<h2>In This Issue</h2>
<table width="95%" border="0" align="left">
<tr align="left" valign="top"> 
<td width="6%">3</td>
<td width="94%"><i><B>President's Column</B></i><BR>
<I>Mary Louise Pratt</i><BR>
Waking to the dinosaur</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">5</td>
<td width="94%"><i><B>Editor's Column</B></i><BR>
<I>Rosemary G. Feal</i><BR>
Trends in faculty staffing and the future of the academic workforce</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2><b>BIBLIOGRAPHY</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">1</td>
<td width="94%">Field bibliography fellowships</td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2><b>BOOK NEWS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">16</td>
<td width="94%">Three new MLA titles published</td></tr>
<tr align="left" valign="top"> 
<td width="6%">16</td>
<td width="94%">Corrections incorporated into fourth printing of <i>Lettres d'une P&#233;ruvienne</i></td></tr>
<tr align="left" valign="top">
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>COMMITTEES</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">6</td>
<td width="94%">Ad Hoc Committee on Diversity and
Tolerance</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">18</td>
<td width="94%">MLA committee meetings, September 2003-May 2004</td>
</tr>
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>CONVENTION</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">15</td>
<td width="94%">2003 interview-suite arrangements</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">15</td>
<td width="94%">2003 convention invitations</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>GOVERNANCE</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%">Handling of ballot mailing to change</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">4</td>
<td width="94%">General discussion during 2003 Delegate Assembly meeting</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">4</td>
<td width="94%">Resolutions and "documented background material"</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%">Executive Council meeting highlights</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">8</td>
<td width="94%">Nominations for 2003 MLA elections</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">13</td>
<td width="94%">New division executive committee members</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>GRANTS AND PRIZES</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">15</td>
<td width="94%">MLA graduate student travel grant</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>MEETINGS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">17</td>
<td width="94%">2003 ADFL Summer Seminars</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">17</td>
<td width="94%">2003 ADE Summer Seminars</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%"><b>MLA WEB SITE NEWS</b></td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b><i>PMLA</i></b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">16</td>
<td width="94%">Marianne Hirsch appointed as new editor
of <i>PMLA</i></td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b><i>Other News and Announcements</i></b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">16</td>
<td width="94%">Nominations invited for honorary memberships and fellowships</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">18</td>
<td width="94%">Classified advertisements </td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">19</td>
<td width="94%">Fellowships and grants deadlines</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">20</td>
<td width="94%">Upcoming MLA deadlines</td>
</tr>
</table>
