<h1><I>MLA Newsletter</i><BR>
Summer 2006</h1>
<h2>In This Issue</h2>
<table width="95%" border="0" align="left">
<tr align="left" valign="top"> 
<td width="6%">3</td>
<td width="94%"><i><B>President's Column</B></i><BR>
<I>Marjorie Perloff</i><BR>
A language initiative for faculty members</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">4</td>
<td width="94%"><i><B>Editor's Column</B></i><BR>
<I>Rosemary G. Feal</i><BR>
Building a better <i>MLA Bibliography</i>: From leaf to scroll</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2><b>BIBLIOGRAPHY</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">13</td>
<td width="94%">Field bibliographers invited</td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2><b>BOOK NEWS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">16</td>
<td width="94%">Three new MLA titles published</td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>COMMITTEES</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">16</td>
<td width="94%">MLA committee meetings, September 2006-June 2007</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>CONVENTION</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">13</td>
<td width="94%">2006 convention invitations</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">13</td>
<td width="94%">2006 convention interview-suite arrangements</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>GOVERNANCE</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">6</td>
<td width="94%">Executive Council meeting highlights</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%">Open discussion during 2006 Delegate Assembly meeting</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%">Nominations for 2006 MLA elections</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">14</td>
<td width="94%">New division executive committee members</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>GRANTS AND PRIZES</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">1</td>
<td width="94%">New convention travel grants for part-time and unemployed faculty members</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%">MLA graduate student travel grant</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>MEETINGS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">17</td>
<td width="94%">2006 ADE and ADFL Summer Seminars</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b><i>PMLA</i></b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%">Patricia Yaeger appointed new editor of <i>PMLA</i></td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>WEB SITE NEWS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%">Customizing the log-in</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%">2006 convention</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b><b>Other News and Announcements</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">17</td>
<td width="94%">Correspondence</td></tr>
<tr align="left" valign="top"> 
<td width="6%">19</td>
<td width="94%">Fellowships and grants deadlines</td></tr>
<td width="6%">19</td>
<td width="94%">Nominations invited for honorary memberships and fellowships</td></tr>
<tr align="left" valign="top"> 
<td width="6%">19</td>
<td width="94%">Classified advertisements</td></tr>
<tr align="left" valign="top"> 
<td width="6%">20</td>
<td width="94%">Upcoming MLA deadlines</td></tr></table>
