<h1><I>MLA Newsletter</i><BR>
Summer 2001</h1>
<h2>In This Issue</h2>
<table width="95%" border="0" align="left">
<tr align="left" valign="top"> 
<td width="6%">3</td>
<td width="94%"><b><i>Executive Council Endorses Two
AAUP Statements</i></b></td></tr>
<tr align="left" valign="top"> 
<td width="6%">5</td>
<td width="94%"><i><B>Editor's Column</B></i><BR>
<I>Phyllis Franklin</i><BR>
A database of scholarly achievements in the humanities</td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2><b>BOOK NEWS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">14</td>
<td width="94%">Call for contributions in Approaches series</td></tr>
<tr align="left" valign="top"> 
<td width="6%">15</td>
<td width="94%">MLA books available for purchase on the MLA
Web site</td></tr>
<tr align="left" valign="top"> 
<td width="6%">15</td>
<td width="94%">Two new MLA titles published</td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>COMMITTEES</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%">MLA committee meetings, September 2001-May 2002</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>CONVENTION</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">6</td>
<td width="94%">2001 convention invitations</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">6</td>
<td width="94%">MLA Graduate Student Travel Grant</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">6</td>
<td width="94%">2001 convention interview-suite
arrangements</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>GOVERNANCE</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">1</td>
<td width="94%">Ballot mailed</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%">Nominations for 2001 MLA elections</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">11</td>
<td width="94%">New division executive committee
members</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>MEETINGS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">12</td>
<td width="94%">2001 ADE Summer Seminars</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">13</td>
<td width="94%">2001 ADFL Summer Seminars</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%"><b>MLA WEB SITE NEWS</b></td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2"><b><i>Other News and Announcements</i></b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">1</td>
<td width="94%">Council establishes prize to honor Phyllis
Franklin</td></tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%">MLA will reprint brochure "Knowing Other
Languages Brings Opportunities"</td></tr>
<tr align="left" valign="top"> 
<td width="6%">13</td>
<td width="94%">Council approves statement on distance
learning</td></tr>
<tr align="left" valign="top"> 
<td width="6%">14</td>
<td width="94%">Report from the Committee on Academic
Freedom and Professional Rights and Responsibilities</td></tr>
<tr align="left" valign="top"> 
<td width="6%">14</td>
<td width="94%">Correspondence</td></tr>
<tr align="left" valign="top"> 
<td width="6%">15</td>
<td width="94%">Committee invites comments on academic
publishing</td></tr>
<tr align="left" valign="top"> 
<td width="6%">15</td>
<td width="94%">Fellowships and grants deadlines</td></tr> 
<tr align="left" valign="top"> 
<td width="6%">16</td>
<td width="94%">Upcoming MLA deadlines</td></tr></table>
