<h1>Statement of Support for Teachers in Wisconsin and Other States</h1>
<i>At its February 2011 meeting, the Executive Council decided to issue a statement of support for teachers in Wisconsin and other states across the country. The following statement has been shared with the Wisconsin Education Association Council and AFT-Wisconsin. MLA members may wish to disseminate it further.</i>

The Modern Language Association of America supports the teachers in Wisconsin and across the United States in the struggle for fair working conditions, manageable class sizes, decent benefits, and the right to collective bargaining. The layoff of teachers and the erosion of fundamental rights in schools and universities are threats to the quality of education and thus to our national future.
