<h1>MLA Surveys of PhD Placement</h1>
<p>At the request of the Advisory Committee on the Job Market, the MLA sent the first placement questionnaire in the fall of 1977 to all PhD-granting departments in the field, requesting information on the number of graduates from doctoral programs in English, foreign languages, comparative literature, and linguistics awarded between 1 September 1976 and 31 August 1977 and on the job placements of these PhD recipients. The MLA has completed thirteen placement surveys.</p>

<h2>Current Report</h2>
<a href="/srvy_placemnt_06-07"  target="_blank">2006–07 English and Foreign Language PhD Recipients</a>[[[docstudio filetype_tag_pdf]]]

<h2>Past Reports</h2>
<a href="http://www.ade.org/cgi-shl/docstudio/docs.pl?adefl_bulletin_d_ade_141_75.pdf" target="_blank">2003–04 English and Foreign Language PhD Recipients</a>[[[docstudio filetype_tag_pdf]]]

<a href="http://www.ade.org/cgi-shl/docstudio/docs.pl?adefl_bulletin_d_ade_138_103.pdf" target="_blank">2000–01 English and Foreign Language PhD Recipients</a>[[[docstudio filetype_tag_pdf]]]

<a href="http://www.adfl.org/cgi-shl/docstudio/docs.pl?adefl_bulletin_d_adfl_31_2_6.pdf" target="_blank">1996–97 Foreign Language PhD Recipients</a>[[[docstudio filetype_tag_pdf]]]
<a href="http://www.ade.org/cgi-shl/docstudio/docs.pl?adefl_bulletin_d_ade_121_58.pdf" target="_blank">1996–97 English PhD Recipients</a>[[[docstudio filetype_tag_pdf]]]

<a href="http://www.adfl.org/cgi-shl/docstudio/docs.pl?adefl_bulletin_d_adfl_27_3_58.pdf" target="_blank">1993–94 Foreign Language PhD Recipients</a>[[[docstudio filetype_tag_pdf]]] 
<a href="http://www.ade.org/cgi-shl/docstudio/docs.pl?adefl_bulletin_d_ade_112_40.pdf" target="_blank">1993–94 English PhD Recipients</a>[[[docstudio filetype_tag_pdf]]]

<a href="http://www.adfl.org/cgi-shl/docstudio/docs.pl?adefl_bulletin_d_adfl_26_1_34.pdf" target="_blank">1991–92 Foreign Language PhD Recipients</a>[[[docstudio filetype_tag_pdf]]]
<a href="http://www.ade.org/cgi-shl/docstudio/docs.pl?adefl_bulletin_d_ade_108_42.pdf">1991–92 English PhD Recipients</a>[[[docstudio filetype_tag_pdf]]]

<a href="http://www.adfl.org/cgi-shl/docstudio/docs.pl?adefl_bulletin_d_adfl_20_3_20.pdf" target="_blank">1986–87 English and Foreign Language PhD Recipients</a>[[[docstudio filetype_tag_pdf]]]

<a href="http://www.adfl.org/cgi-shl/docstudio/docs.pl?adefl_bulletin_d_adfl_17_3_19.pdf" target="_blank">1983–84 Foreign Language PhD Recipients</a>[[[docstudio filetype_tag_pdf]]]

<a href="http://www.ade.org/cgi-shl/docstudio/docs.pl?adefl_bulletin_d_ade_75_16.pdf" target="_blank">1981–82 English PhD Recipients</a>[[[docstudio filetype_tag_pdf]]]

<a href="http://www.adfl.org/cgi-shl/docstudio/docs.pl?adefl_bulletin_d_adfl_12_4_5.pdf" target="_blank">1979–80 Foreign Language PhD Recipients</a>[[[docstudio filetype_tag_pdf]]]
<a href="http://www.ade.org/cgi-shl/docstudio/docs.pl?adefl_bulletin_d_ade_68_33.pdf" target="_blank">1979–80 English PhD Recipients</a>[[[docstudio filetype_tag_pdf]]]

<a href="http://www.adfl.org/cgi-shl/docstudio/docs.pl?adefl_bulletin_d_adfl_11_4_4.pdf" target="_blank">1978–79 Foreign Language PhD Recipients</a>[[[docstudio filetype_tag_pdf]]]
<a href="http://www.ade.org/cgi-shl/docstudio/docs.pl?adefl_bulletin_d_ade_64_25.pdf">1978–79 English PhD Recipients</a>[[[docstudio filetype_tag_pdf]]] 

<a href="http://www.adfl.org/cgi-shl/docstudio/docs.pl?adefl_bulletin_d_adfl_10_4_19.pdf" target="_blank">1977–78 Foreign Language PhD Recipients</a>[[[docstudio filetype_tag_pdf]]] 
<a href="http://www.ade.org/cgi-shl/docstudio/docs.pl?adefl_bulletin_d_ade_61_i.pdf">1977–78 English PhD Recipients</a>[[[docstudio filetype_tag_pdf]]]

<a href="http://www.adfl.org/cgi-shl/docstudio/docs.pl?adefl_bulletin_d_adfl_9_3_1.pdf" target="_blank">1976–77 Foreign Language PhD Recipients</a>[[[docstudio filetype_tag_pdf]]] 
<a href="http://www.ade.org/cgi-shl/docstudio/docs.pl?adefl_bulletin_d_ade_56_i.pdf">1976–77 English PhD Recipients</a>[[[docstudio filetype_tag_pdf]]]

 
