﻿<form method="post" name="form1" action="<@$docstudio{form_action_path}>survey_hiring_filled&plugin=survey_hiring"  onSubmit="return checkText();">

<input type="hidden" name="function" value="insertadv">

<input type="hidden" name="DEPT_ID" value="[[[postarg DEPT_ID]]]">
<input type="hidden" name="ADS_COUNT" value="[[[postarg ADS_COUNT]]]">





<h1>Survey of Departmental Hiring: 2009–10 Job Search Outcomes</h1>
<h2>II. Advertising the Position</h2>

<font size="-1"><p>Please complete a separate questionnaire for each full-time faculty position you sought to fill in 2009–10.</p>
<p>Note: If you conducted multiple searches to hire full-time faculty members, you may complete a questionnaire on one search and return at a later time to complete additional questionnaires on the other searches. You will not, however, be able to review or change questionnaire forms completed during earlier sessions. To make corrections or changes to the survey’s record of your department’s searches, please contact research@mla.org.</p></font>

<blockquote>
<ol>
<li>

Was this position advertised in the MLA <I>Job Information List</I>?
<div class="divindent">
<br><input type="radio" name="POSITION_ADVERTISED" size="1" maxlength="1" value="Y" <@if($postarg{POSITION_ADVERTISED} eq "Y")>checked <@else><@/if>/>Yes
<br><input type="radio" name="POSITION_ADVERTISED" size="1" maxlength="1" value="N" <@if($postarg{POSITION_ADVERTISED} eq "N")>checked <@else><@/if>/>No
</div>

<br />
<br />
</li>
<li>
How was this position classified when first advertised? (If your institution does not have a tenure system, please answer using one of the non-tenure-track options.  If this position was advertised for multiple ranks [e.g., assistant or associate professor], please choose one answer from the list and explain the other rank or ranks called for in the text box below.) 
<div class="divindent">
<br><input type="radio" name="RANK_ADVERTISED_ID" size="2" maxlength="2" value=1 <@if($postarg{RANK_ADVERTISED_ID} eq "1")>checked <@else><@/if>/>Assistant professor, tenure-track
<br><input type="radio" name="RANK_ADVERTISED_ID" size="2" maxlength="2" value=2 <@if($postarg{RANK_ADVERTISED_ID} eq "2")>checked <@else><@/if>/>Associate professor, tenure-track
<br><input type="radio" name="RANK_ADVERTISED_ID" size="2" maxlength="2" value=3 <@if($postarg{RANK_ADVERTISED_ID} eq "3")>checked <@else><@/if>/>Associate professor, with tenure
<br><input type="radio" name="RANK_ADVERTISED_ID" size="2" maxlength="2" value=4 <@if($postarg{RANK_ADVERTISED_ID} eq "4")>checked <@else><@/if>/>Professor, with tenure
<br><input type="radio" name="RANK_ADVERTISED_ID" size="2" maxlength="2" value=5 <@if($postarg{RANK_ADVERTISED_ID} eq "5")>checked <@else><@/if>/>Full-time non-tenure-track, renewable more than one year
<br><input type="radio" name="RANK_ADVERTISED_ID" size="2" maxlength="2" value=6 <@if($postarg{RANK_ADVERTISED_ID} eq "6")>checked <@else><@/if>/>Full-time non-tenure-track, fixed one-year term
<br><input type="radio" name="RANK_ADVERTISED_ID" size="2" maxlength="2" value=7 <@if($postarg{RANK_ADVERTISED_ID} eq "7")>checked <@else><@/if>/>Non-tenure-track, part-time
<br><input type="radio" name="RANK_ADVERTISED_ID" size="2" maxlength="2" value=8 <@if($postarg{RANK_ADVERTISED_ID} eq "8")>checked <@else><@/if>/>Postdoctoral
<br><input type="radio" name="RANK_ADVERTISED_ID" size="2" maxlength="2" value=9 <@if($postarg{RANK_ADVERTISED_ID} eq "9")>checked <@else><@/if>/>Open/multiple levels
<br><input type="radio" name="RANK_ADVERTISED_ID" size="2" maxlength="2" value=10 <@if($postarg{RANK_ADVERTISED_ID} eq "10")>checked <@else><@/if>/>Administrative or a combination faculty/administrative
<br><input type="radio" name="RANK_ADVERTISED_ID" size="2" maxlength="2" value=11 <@if($postarg{RANK_ADVERTISED_ID} eq "11")>checked <@else><@/if>/>Nonfaculty or nonacademic
</div>

<br />
<br />
Please use the space below to specify multiple ranks, if necessary. 

<textarea cols="100" rows="5" wrap="soft" name="MULTIPLE_RANKS_ADVERTISED"><@$postarg{MULTIPLE_RANKS_ADVERTISED}></textarea>
</li>

<br /><br />
<li>How many candidates applied for this position?
<div class="divindent">
<br /><input type="radio" name="NUM_CANDIDATES_APPLIED_ID" size="1" maxlength="1" value=1 <@if($postarg{NUM_CANDIDATES_APPLIED_ID} eq "1")>checked <@else><@/if>/>20 or fewer
<br /><input type="radio" name="NUM_CANDIDATES_APPLIED_ID" size="1" maxlength="1" value=2 <@if($postarg{NUM_CANDIDATES_APPLIED_ID} eq "2")>checked <@else><@/if>/>21 to 49
<br /><input type="radio" name="NUM_CANDIDATES_APPLIED_ID" size="1" maxlength="1" value=3 <@if($postarg{NUM_CANDIDATES_APPLIED_ID} eq "3")>checked <@else><@/if>/>50 to 99
<br /><input type="radio" name="NUM_CANDIDATES_APPLIED_ID" size="1" maxlength="1" value=4 <@if($postarg{NUM_CANDIDATES_APPLIED_ID} eq "4")>checked <@else><@/if>/>100 to 199
<br /><input type="radio" name="NUM_CANDIDATES_APPLIED_ID" size="1" maxlength="1" value=5 <@if($postarg{NUM_CANDIDATES_APPLIED_ID} eq "5")>checked <@else><@/if>/>200 to 299
<br /><input type="radio" name="NUM_CANDIDATES_APPLIED_ID" size="1" maxlength="1" value=6 <@if($postarg{NUM_CANDIDATES_APPLIED_ID} eq "6")>checked <@else><@/if>/>300 to 399
<br /><input type="radio" name="NUM_CANDIDATES_APPLIED_ID" size="1" maxlength="1" value=7 <@if($postarg{NUM_CANDIDATES_APPLIED_ID} eq "7")>checked <@else><@/if>/>400 to 499
<br /><input type="radio" name="NUM_CANDIDATES_APPLIED_ID" size="1" maxlength="1" value=8 <@if($postarg{NUM_CANDIDATES_APPLIED_ID} eq "8")>checked <@else><@/if>/>500 or more
</li>
</div>
<br /><br />
<li>
Did the search to fill this position result in your hiring someone?
<div class="divindent">
<br /><input type="radio" name="POSITION_FILLED_ID" size="1" maxlength="1" value=1 <@if($postarg{POSITION_FILLED_ID} eq "1")>checked <@else><@/if>/>Yes, we completed the search with a hire.
<br /><input type="radio" name="POSITION_FILLED_ID" size="1" maxlength="1" value=2 <@if($postarg{POSITION_FILLED_ID} eq "2")>checked <@else><@/if>/>No, we did not hire because the position was withdrawn for lack of funding.
<br /><input type="radio" name="POSITION_FILLED_ID" size="1" maxlength="1" value=3 <@if($postarg{POSITION_FILLED_ID} eq "3")>checked <@else><@/if>/>No, we did not hire, for reasons other than lack of funding.

</li>
</div>

<br /><br />
<li>

If a candidate was not hired for reasons other than lack of funding, you may use the space below to specify the reasons.

<textarea cols="100" rows="5" wrap="soft" name="OTHER_POSITION_FILLED"><@$postarg{OTHER_POSITION_FILLED}></textarea>
</li>
</ol>

</blockquote>

<input type="submit" name="Submit" value="Continue"/> 
</form>
<script language="javascript">

function checkText(){
var badcount = 0;
var errormsg = "";

if (document.form1.POSITION_FILLED_ID.value == "") {
badcount++;
errormsg += '\n' + badcount + ': Please answer if the search to fill this position result in your hiring someone';
}


if (charCount(document.form1.MULTIPLE_RANKS_ADVERTISED.value) > 1000) {
	badcount++;
	errormsg += '\n' + badcount + ': Please limit your description of multiple ranks to 1,000 characters.  Yours is ' + numberFormat(charCount(document.form1.MULTIPLE_RANKS_ADVERTISED.value)) + '.';
}

if (charCount(document.form1.OTHER_POSITION_FILLED.value) > 1000) {
	badcount++;
	errormsg += '\n' + badcount + ': Please limit your other reasons to 1,000 characters.  Yours is ' + numberFormat(charCount(document.form1.OTHER_POSITION_FILLED.value)) + '.';
}



if (errormsg != "") {
alert(errormsg);
return false;
}
else {
return true;
}

}

</script>
