<h1>Task Force on Doctoral Study in Modern Language and Literature</h1>

Function: Working through the spring of 2014, will consider the prospects for doctoral study in modern language and literature in the light of transformations in higher education and scholarly communication, will review information on the current state of graduate education, will identify graduate programs already exploring new approaches to doctoral education, and will communicate its findings and make recommendations for action to the Executive Council.

Staff liaisons: Kathleen Fitzpatrick and David Laurence (<a href="mailto:doctoraltaskforce@mla.org">doctoraltaskforce@mla.org</a>)

Carlos J. Alonso
Russell A. Berman (Ch.)
Sylvie Debevec Henning
Lanisa Kitchiner
Bethany Nowviskie
Elizabeth M. Schwartz
Sidonie Ann Smith
Kathleen Woodward
