<h1>Using Sign Language Interpreters</h1>
The diverse and talented group of job seekers includes applicants who may bring a sign language interpreter to their interview. We offer the following suggestions to help make such an interview more productive for all participants.

<UL><LI>Establish a collegial atmosphere by introducing yourself to both the applicant and the interpreter.
</li>

<LI>Give both the applicant and the interpreter sufficient time to position themselves comfortably. The interpreter should be clearly visible to the applicant and ideally is near the interviewer.
</li>

<LI>Once the interview begins, focus on the applicant. You do not need to look at the interpreter.
</li>

<LI>Speak clearly and distinctly, but do not shout. Use regular speed unless asked to slow down by the applicant or interpreter.
</ul>

<I>Prepared by the MLA Committee on Disability Issues in the Profession
September 2003</i>
