<h1>Searching the <I>MLA International Bibliography</i> by Field</h1>
<font size="+1">This table shows the two-letter codes available for specifying information fields in search requests. The fields can also be selected from menus. When a word or phrase appears in this table instead of a two-letter code, the field can only be selected from a menu. ProQuest does not offer two-letter codes.</font>
<BR>

<table width="600" cellspacing=0 cellpadding=4 border=1>
<tr align="center"><td colspan="3">&nbsp;</td><TD valign="top" colspan="5" bgcolor="#660000"><font color="white"><b>Vendors of the  <I>Bibliography</i></b></font></td></tr>
<tr bgcolor="#000000"><TD valign="bottom" width="75"><a name="a"></a><font color="white"><b>Field</b> </td>
<TD valign="bottom" width="75"><font color="white"><b>Definition</b></td>
<TD valign="bottom" width="75"><font color="white"><b>Example</b></td>
<TD valign="bottom" width="75"><font color="white"><b>CSA</b> </td>
<TD valign="bottom" width="75"><font color="white"><b>EBSCO</b></td>
<TD valign="bottom" width="75"><font color="white"><b>Thomson<BR>Gale</b></td>
<TD valign="bottom" width="75"><font color="white"><b>OCLC</b></td>
<TD valign="bottom" width="75"><font color="white"><b>ProQuest</b></td></tr>
<tr><TD valign="top" width="75">Accession number
</td>
<TD valign="top" width="75">A unique number that identifies a specific document</td>
<TD valign="top" width="75">2003872749</td>
<TD valign="top" width="75">AN</td>
<TD valign="top" width="75">AN</td>
<TD valign="top" width="75">RN</td>
<TD valign="top" width="75">NO</td>
<TD valign="top" width="75">&nbsp;</td></tr>
<tr><TD valign="top" width="75">Author
of document</td>
<TD valign="top" width="75">The name of the person who wrote the document</td>
<TD valign="top" width="75">Stanton, Domna</td>
<TD valign="top" width="75">AU</td>
<TD valign="top" width="75">AU</td>
<TD valign="top" width="75">AU</td>
<TD valign="top" width="75">AU</td>
<TD valign="top" width="75">Article
author</td></tr>
<tr><TD valign="top" width="75">Date of
publication</td>
<TD valign="top" width="75">Year and month when an article was published</td>
<TD valign="top" width="75">2004 Winter (Check vendor for format.)</td>
<TD valign="top" width="75">PD</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">DA</td>
<TD valign="top" width="75">PD</td>
<TD valign="top" width="75">&nbsp;</td></tr>
<tr><TD valign="top" width="75">Degree-granting
institution</td>
<TD valign="top" width="75">For dissertations published in 1991+, the place of study for the doctoral degree</td>
<TD valign="top" width="75">Emory</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">DS</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">IN</td>
<TD valign="top" width="75">&nbsp;</td></tr>
<tr><TD valign="top" width="75">Degree year</td>
<TD valign="top" width="75">For dissertations published in 1991+, the year the degree was granted</td>
<TD valign="top" width="75">2003</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">DS</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">DY</td>
<TD valign="top" width="75">&nbsp;</td></tr>
<TR> <TD valign="top" width="75">Dissertation  abstract number</td>
<TD valign="top" width="75">For dissertations published in 1991+, the unique number that identifies a specific doctoral dissertation</td>
<TD valign="top" width="75">DA3111457</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">DS</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">&nbsp;</td></tr>
<TR><TD valign="top" width="75">DOI</td>
<TD valign="top" width="75">Digital
object identifier</td>
<TD valign="top" width="75">10.163200308120<BR>5X36804</td>
<TD valign="top" width="75">DO</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">&nbsp;</td></tr>
<TR><TD valign="top" width="75">Editor</td>
<TD valign="top" width="75">The name of the editor of a book</td>
<TD valign="top" width="75">Smith, Jeremy</td>
<TD valign="top" width="75">ED</td>
<TD valign="top" width="75">ED</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">&nbsp;</td></tr>
<tr><TD valign="top" width="75">Electronic comment</td>
<TD valign="top" width="75">Where the document can be found on the Internet</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">&nbsp;</td></tr>
<tr bgcolor="#000000"><TD valign="bottom" width="75"><a name="a"></a><font color="white"><b>Field</b> </td>
<TD valign="bottom" width="75"><font color="white"><b>Definition</b></td>
<TD valign="bottom" width="75"><font color="white"><b>Example</b></td>
<TD valign="bottom" width="75"><font color="white"><b>CSA</b> </td>
<TD valign="bottom" width="75"><font color="white"><b>EBSCO</b></td>
<TD valign="bottom" width="75"><font color="white"><b>Thomson<BR>Gale</b>
</td>
<TD valign="bottom" width="75"><font color="white"><b>OCLC</b></td>
<TD valign="bottom" width="75"><font color="white"><b>ProQuest</b></td></tr>
<tr><TD valign="top" width="75">Folklore  topic </td>
<TD valign="top" width="75">Subject in folklore studies addressed in the document</td>
<TD valign="top" width="75">ethnomusicology</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">FK</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">Folklore topic</td></tr>
<tr><TD valign="top" width="75">Genre</td>
<TD valign="top" width="75">Literary genre addressed in the document</td>
<TD valign="top" width="75">science fiction</td>
<TD valign="top" width="75">Genre</td>
<TD valign="top" width="75">GC</td>
<TD valign="top" width="75">GE</td>
<TD valign="top" width="75">GE</td>
<TD valign="top" width="75">Genre</td></tr>
<tr><TD valign="top" width="75">ISBN</td>
<TD valign="top" width="75">International Standard Book Number</td>
<TD valign="top" width="75">0-87352-913-8 (Some vendors require you to eliminate hyphens.)</td>
<TD valign="top" width="75">IB</td>
<TD valign="top" width="75">IB</td>
<TD valign="top" width="75">IB</td>
<TD valign="top" width="75">SN</td>
<TD valign="top" width="75">ISBN</td></tr>
<tr> <TD valign="top" width="75">ISSN</td>
<TD valign="top" width="75">International Standard Serial Number</td>
<TD valign="top" width="75">0030-8129<BR>(Some vendors require you to eliminate hyphens.) </td>
<TD valign="top" width="75">IS</td>
<TD valign="top" width="75">IS</td>
<TD valign="top" width="75">IS</td>
<TD valign="top" width="75">PV<BR>SN</td>
<TD valign="top" width="75">ISSN</td></tr>
<tr> <TD valign="top" width="75">Journal
issue</td>
<TD valign="top" width="75">Number of the issue</td>
<TD valign="top" width="75">3</td>
<TD valign="top" width="75">JI</td>
<TD valign="top" width="75">IP</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">Publication details</td></tr>
<tr><TD valign="top" width="75">Journal name</td>
<TD valign="top" width="75">Name of the publication</td>
<TD valign="top" width="75">PMLA</td>
<TD valign="top" width="75">SO</td>
<TD valign="top" width="75">SO</td>
<TD valign="top" width="75">JN</td>
<TD valign="top" width="75">SO</td>
<TD valign="top" width="75">Journal</td></tr>
<tr><TD valign="top" width="75">Journal paging</td>
<TD valign="top" width="75">First page of an article</td>
<TD valign="top" width="75">234</td>
<TD valign="top" width="75">JP</td>
<TD valign="top" width="75">PG<BR>SP</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">Publication details</td></tr>
<tr><TD valign="top" width="75">Journal volume</td>
<TD valign="top" width="75">Number of the volume</td>
<TD valign="top" width="75">71</td>
<TD valign="top" width="75">JV</td>
<TD valign="top" width="75">VI</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">SO</td>
<TD valign="top" width="75">Journal volume; Publication details</td></tr>
<tr><TD valign="top" width="75">Keyword</td>
<TD valign="top" width="75">Word found anywhere in the record</td>
<TD valign="top" width="75">realism</td>
<TD valign="top" width="75">KW</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">KE</td>
<TD valign="top" width="75">KW</td>
<TD valign="top" width="75">Keyword</td></tr>
<tr bgcolor="#000000"><TD valign="bottom" width="75"><a name="a"></a><font color="white"><b>Field</b></td>
<TD valign="bottom" width="75"><font color="white"><b>Definition</b></td>
<TD valign="bottom" width="75"><font color="white"><b>Example</b></td>
<TD valign="bottom" width="75"><font color="white"><b>CSA</b> </td>
<TD valign="bottom" width="75"><font color="white"><b>EBSCO</b></td>
<TD valign="bottom" width="75"><font color="white"><b>Thomson<BR>Gale</b>
</td>
<TD valign="bottom" width="75"><font color="white"><b>OCLC</b></td>
<TD valign="bottom" width="75"><font color="white"><b>ProQuest</b></td></tr>
<tr><TD valign="top" width="75">Language as subject</td>
<TD valign="top" width="75">Language the document is about</td>
<TD valign="top" width="75">French language</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">SL</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">Subject language</td></tr>
<tr><TD valign="top" width="75">Language of document </td>
<TD valign="top" width="75">Language the document was written in </td>
<TD valign="top" width="75">English </td>
<TD valign="top" width="75">language</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">LN</td>
<TD valign="top" width="75">Language of publication</td></tr>
<tr><TD valign="top" width="75">Linguistics topic </td>
<TD valign="top" width="75">Subject in linguistics addressed in the document</td>
<TD valign="top" width="75">phonetics</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">LN </td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75"> Linguistics topic </td></tr>
<tr><TD valign="top" width="75">Literary influence</td>
<TD valign="top" width="75">Person or thing that has been influenced by the subject defined in the classification</td>
<TD valign="top" width="75">feminist poets </td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">Literary influence </td></tr>
<tr><TD valign="top" width="75">Literary source </td>
<TD valign="top" width="75">Person or thing that has influenced the subject defined in the classification </td>
<TD valign="top" width="75">Bible </td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">Literary source</td></tr>
<tr><TD valign="top" width="75">Literary theme</td>
<TD valign="top" width="75">Theme addressed in the document 
</td>
<TD valign="top" width="75">cowboy</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">GT</td>
<TD valign="top" width="75">TH</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">Literary theme </td></tr>
<tr><TD valign="top" width="75">Literary work</td>
<TD valign="top" width="75">Work of literature discussed in the document</td>
<TD valign="top" width="75">Lord of the Rings</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">NW</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">Author's work</td></tr>
<tr><TD valign="top" width="75">Literature topic</td>
<TD valign="top" width="75">Subject in literary studies addressed in the document </td>
<TD valign="top" width="75">Arthurian legend</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75"> Literature topic </td></tr>
<tr><TD valign="top" width="75">Location</td>
<TD valign="top" width="75">Geographic subject of the document</td>
<TD valign="top" width="75">Australia</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">GC</td>
<TD valign="top" width="75">Place</td></tr>
<tr bgcolor="#000000"><TD valign="bottom" width="75"><a name="a"></a><font color="white"><b>Field</b> </td>
<TD valign="bottom" width="75"><font color="white"><b>Definition</b></td>
<TD valign="bottom" width="75"><font color="white"><b>Example</b></td>
<TD valign="bottom" width="75"><font color="white"><b>CSA</b> </td>
<TD valign="bottom" width="75"><font color="white"><b>EBSCO</b></td>
<TD valign="bottom" width="75"><font color="white"><b>Thomson<BR>Gale</b></td>
<TD valign="bottom" width="75"><font color="white"><b>OCLC</b></td>
<TD valign="bottom" width="75"><font color="white"><b>ProQuest</b></td></tr>
<tr><TD valign="top" width="75">Medium (performance medium) as subject</td>
<TD valign="top" width="75">Film, theater, opera, television, or radio as subject of the document </td>
<TD valign="top" width="75">film</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">MD</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">Performance medium</td>
</tr>
<tr><TD valign="top" width="75">Named person</td>
<TD valign="top" width="75">Person who is the subject of the document </td>
<TD valign="top" width="75">Morrison, Toni</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">SA </td>
<TD valign="top" width="75">NA </td>
<TD valign="top" width="75">NA </td>
<TD valign="top" width="75">Author as subject </td></tr>
<tr> <TD valign="top" width="75">National literature</td>
<TD valign="top" width="75">Broadest literary classification 
</td>
<TD valign="top" width="75">Turkish literature</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">National literature </td></tr>
<tr><TD valign="top" width="75">Notes </td>
<TD valign="top" width="75">Miscellaneous information about the document </td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">NT</td> 
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">NT</td> 
<TD valign="top" width="75">Notes</td></tr>
<tr><TD valign="top" width="75">Peer-reviewed</td>
<TD valign="top" width="75">Selection indicating whether each article in a journal is reviewed by experts</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75"> [Peer-reviewed check box]</td>
<TD valign="top" width="75"> [Peer-reviewed check box]</td>
<TD valign="top" width="75">[Refereed check box]</td>
<TD valign="top" width="75">[Peer-reviewed menu choice]</td>
<TD valign="top" width="75">[Peer-reviewed check box]</td></tr>
<TR><TD valign="top" width="75">Place of publication </td>
<TD valign="top" width="75">Where a book was published </td>
<TD valign="top" width="75">London, England<BR>New York, NY </td>
<TD valign="top" width="75">PL</td>
<TD valign="top" width="75">PB </td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">PL</td>
<TD valign="top" width="75">&nbsp;</td></tr>
<TR><TD valign="top" width="75">Publication type </td>
<TD valign="top" width="75">The document's type--book (monograph, collection of essays, or article within), journal article, or dissertation abstract</td>
<TD valign="top" width="75">journal article</td>
<TD valign="top" width="75">PT</td>
<TD valign="top" width="75">Publication type </td>
<TD valign="top" width="75">DT </td>
<TD valign="top" width="75">DT </td>
<TD valign="top" width="75">[Limit-to check box]</td></tr>
<tr><TD valign="top" width="75">Publisher</td>
<TD valign="top" width="75">Publisher of a book </td>
<TD valign="top" width="75">Cambridge UP</td>
<TD valign="top" width="75">PB</td>
<TD valign="top" width="75">PB [includes all publisher details, such as place, series name]</td>
<TD valign="top" width="75">PB</td>
<TD valign="top" width="75">PB</td>
<TD valign="top" width="75">Publisher [includes all publisher details, such as place, series name]</td></tr>
<tr bgcolor="#000000"><TD valign="bottom" width="75"><a name="a"></a><font color="white"><b>Field</b> </td>
<TD valign="bottom" width="75"><font color="white"><b>Definition</b></td>
<TD valign="bottom" width="75"><font color="white"><b>Example</b></td>
<TD valign="bottom" width="75"><font color="white"><b>CSA</b> </td>
<TD valign="bottom" width="75"><font color="white"><b>EBSCO</b></td>
<TD valign="bottom" width="75"><font color="white"><b>Thomson<BR>Gale</b></td>
<TD valign="bottom" width="75"><font color="white"><b>OCLC</b></td>
<TD valign="bottom" width="75"><font color="white"><b>ProQuest</b></td></tr>
<tr><TD valign="top" width="75">Series name</td>
<TD valign="top" width="75">Full name of a book series </td>
<TD valign="top" width="75">Cambridge Applied Linguistics Series</td> 
<TD valign="top" width="75">SO</td>
<TD valign="top" width="75">SE</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">SE</td>
<TD valign="top" width="75">Series title</td></tr>
<tr><TD valign="top" width="75">Source (book or journal)</td>
<TD valign="top" width="75">All information about a journal or book </td>
<TD valign="top" width="75">Arizona Quarterly </td>
<TD valign="top" width="75">SO</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">SO </td>
<TD valign="top" width="75">&nbsp;</td></tr>
<tr><TD valign="top" width="75">Subject
heading</td>
<TD valign="top" width="75">Controlled-vocabulary word, name, or phrase that describes what the document is about </td>
<TD valign="top" width="75">ethnic stereotypes</td>
<TD valign="top" width="75">DE</td>
<TD valign="top" width="75">SU</td>
<TD valign="top" width="75">SU</td>
<TD valign="top" width="75">DS<BR>SU</td>
<TD valign="top" width="75">Subjects--all </td></tr>
<tr><TD valign="top" width="75">Table of contents</td>
<TD valign="top" width="75">Titles of the chapters in book by a single author </td>
<TD valign="top" width="75">Revolution of Collective Memory</td>
<TD valign="top" width="75">TB</td>
<TD valign="top" width="75">TC </td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">TC </td>
<TD valign="top" width="75">&nbsp;</td></tr>
<tr><TD valign="top" width="75">Time period (as subject)</td>
<TD valign="top" width="75">Span of one or several hundred years as appropriate to the subject </td>
<TD valign="top" width="75">1900-1999</td>
<TD valign="top" width="75">Time Period</td>
<TD valign="top" width="75">TM</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">Period</td></tr>
<tr><TD valign="top" width="75">Title of book chapter</td>
<TD valign="top" width="75">Title of a chapter or article in a book collection</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">Chapter's book title </td>
<TD valign="top" width="75">CB</td>
<TD valign="top" width="75">&nbsp;</td></tr>
<tr><TD valign="top" width="75">Title of book collection</td>
<TD valign="top" width="75">Title of a book by multiple authors, each of whom contributed an essay or chapter</td>
<TD valign="top" width="75">Traditional Belief and Folklore in Early Modern Europe</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">BT</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">Collection title </td></tr>
<tr><TD valign="top" width="75">Title of book monograph </td>
<TD valign="top" width="75">Title of a book by a single author </td>
<TD valign="top" width="75">Hungarian Cinema </td>
<TD valign="top" width="75">MT </td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">&nbsp;</td></tr>
<tr><TD valign="top" width="75">Title of book or article</td>
<TD valign="top" width="75">Title of the indexed document 
</td>
<TD valign="top" width="75">Werewolf Literature </td>
<TD valign="top" width="75">TI </td>
<TD valign="top" width="75">TI </td>
<TD valign="top" width="75">TI </td>
<TD valign="top" width="75">TI </td>
<TD valign="top" width="75">Title</td></tr>
<tr><TD valign="top" width="75">Update code</td>
<TD valign="top" width="75">When the document was added to the database</td>
<TD valign="top" width="75">200101 </td>
<TD valign="top" width="75">UD</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">UD </td>
<TD valign="top" width="75">Update code</td></tr>
<tr><TD valign="top" width="75">Year of publication</td>
<TD valign="top" width="75">Year when the document was published </td>
<TD valign="top" width="75">2004</td>
<TD valign="top" width="75">PY </td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">&nbsp;</td>
<TD valign="top" width="75">YR</td>
<TD valign="top" width="75">Publication year </td></tr>
<tr bgcolor="#000000"><TD valign="bottom" width="75"><a name="a"></a><font color="white"><b>Field</b> </td>
<TD valign="bottom" width="75"><font color="white"><b>Definition</b></td>
<TD valign="bottom" width="75"><font color="white"><b>Example</b></td>
<TD valign="bottom" width="75"><font color="white"><b>CSA</b> </td>
<TD valign="bottom" width="75"><font color="white"><b>EBSCO</b></td>
<TD valign="bottom" width="75"><font color="white"><b>Thomson<BR>Gale</b></td>
<TD valign="bottom" width="75"><font color="white"><b>OCLC</b></td>
<TD valign="bottom" width="75"><font color="white"><b>ProQuest</b></td></tr></table> 
