<h1>Web 2.0: What Every Student Knows That You Might Not</h1>
<h2>Monday, 28 December, 1:45–3:00 p.m.
Liberty Ballroom Salon C, Philadelphia Marriott</h2>

Program arranged for the 2009 MLA Annual Convention by the MLA Committee on Information Technology.  <I>Presiding:</I> Laura C. Mandell, Miami Univ., Oxford
<I>Speakers:</I>  Carolyn Guertin, Univ. of Texas, Arlington; Laura C. Mandell; William Thompson, Western Illinois Univ.

This workshop  will introduce participants to free software used for creating and sharing multimodal documents—videos, podcasts, screencasts, presentations, and guided tours—as well as to tagging, searching, editing, and note-taking software used by twenty-first-century researchers.  Together we will consider the potential of these new Web programs and services for teachers and scholars. We invite you to take a look at the following Web sites and <a href="http://www.surveymonkey.com/s.aspx?sm=uYUaNACzJimnQM83aYxwlA_3d_3d">tell us here</a> what you would like to learn at the Web 2.0 workshop. 

<i>Zotero</i>:  <a href="http://www.zotero.org/">http://www.zotero.org/</a>
<i>Prezi</i>:  <a href="http://prezi.com/">http://prezi.com/</a>
<i>SpicyNodes</i>: <a href="http://www.spicynodes.org/">http://www.spicynodes.org/</a>
<i>Delicious</i>: <a href="http://delicious.com/wat100">http://delicious.com/wat100</a>
<i>SnagIt</i>: <a href="http://www.techsmith.com/screen-capture.asp">http://www.techsmith.com/screen-capture.asp</a>
<i>Tagul</i>: <a href="http://tagul.com/">http://tagul.com/</a>
<i>Google Wave</i>: <a href="https://wave.google.com/wave/">https://wave.google.com/wave/</a>
<i>Slideshare</i>: <a href="http://www.slideshare.net">http://www.slideshare.net</a>
<i>Podscope</i>: <a href="http://podscope.com">http://podscope.com</a>
<i>Odeo</i>: <a href="http://odeo.com">http://odeo.com</a>
<i>Voice Thread</i>: <a href="http://www.voicethread.com">http://www.voicethread.com</a>
<i>MLA Bibliography</i>, EBSCO flavor (A general URL will not work here; your university library has its own mode of access.)

<a href="http://www.wiu.edu/users/libtheme/panel/mla_panel.html">Preview of a presentation on tagging</a>. 
