<h1><I>MLA Newsletter</i><BR>
Winter 2008</h1>
<h2>In This Issue</h2>
<table width="95%" border="0" align="left">
<tr align="left" valign="top"> 
<td width="6%">1</td>
<td width="94%"><b>Ren&#233; Girard Receives Lifetime Achievement Award</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">3</td>
<td width="94%"><i><B>President's Column</B></i><BR>
<I>Gerald Graff</i><BR>
How 'bout that Wordsworth!</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">5</td>
<td width="94%"><i><B>Editor's Column</B></i><BR>
<I>Rosemary G. Feal</i><BR>
The MLA convention aims for a C plus: Critical conversations, community connections, and competitive collaborations</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2><b>BIBLIOGRAPHY</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">14</td>
<td width="94%">Field bibliographers invited</td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2><b>BOOK NEWS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">11</td>
<td width="94%">Call for contributions to Approaches
series</td></tr>
<tr align="left" valign="top"> 
<td width="6%">13</td>
<td width="94%">Four new MLA titles published</td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>CONVENTION</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%">Annual convention in San Francisco</td></tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%">Convention to focus on how we
teach now</td></tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%">Audio- and videotaping guidelines for sessions</td></tr>
<tr align="left" valign="top"> 
<td width="6%">8</td>
<td width="94%">Recommendations for session presiders</td></tr>
<tr align="left" valign="top"> 
<td width="6%">8</td>
<td width="94%">Program issue for members with visual impairments</td></tr>
<tr align="left" valign="top"> 
<td width="6%">9</td>
<td width="94%">Accommodations and services for persons with disabilities</td></tr>
<tr align="left" valign="top"> 
<td width="6%">9</td>
<td width="94%">Calls for papers for 2009 convention in Philadelphia</td></tr>
<tr align="left" valign="top"> 
<td width="6%">11</td>
<td width="94%">2009 calendar of dates and deadlines for special sessions</td></tr>
<tr align="left" valign="top"> 
<td width="6%">11</td>
<td width="94%">Submit calls for papers online</td></tr>
<tr align="left" valign="top"> 
<td width="6%">11</td>
<td width="94%">Forum proposals welcome for 2009 convention</td></tr>
<tr align="left" valign="top"> 
<td colspan="2">
<i><b>Job Service at the Convention</b></i></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">8</td>
<td width="94%">Important information about the Job Information Center</td></tr>
<tr align="left" valign="top"> 
<td width="6%">9</td>
<td width="94%">Preconvention workshops and sessions about job seeking</td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>GOVERNANCE</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%">Elections committee seeks candidates</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%">Suggest yourself or another member for a committee appointment</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">6</td>
<td width="94%">Proposals for the 2008 Delegate Assembly meeting agenda</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>GRANTS AND PRIZES</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">12</td>
<td width="94%">ADE Francis Andrew March Award presented to David Bartholomae</td></tr>
<tr align="left" valign="top"> 
<td width="6%">13</td>
<td width="94%">Renate Schulz receives the ADFL Award
for Distinguished Service to the Profession</td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>MEETINGS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">12</td>
<td width="94%">2009 ADE Summer Seminars</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">13</td>
<td width="94%">2009 ADFL Summer Seminars</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>WEB SITE NEWS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%">List of San Francisco convention sessions available online</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b><b>Other News and Announcements</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%">Ideas for <i>What's the Word?</i></td></tr>
<tr align="left" valign="top"> 
<td width="6%">12</td>
<td width="94%">ADE and ADFL online job counseling</td></tr>
<tr align="left" valign="top"> 
<td width="6%">14</td>
<td width="94%"><i>Profession 2009</i> call for papers</td></tr>
<tr align="left" valign="top"> 
<td width="6%">15</td>
<td width="94%">Fellowships and grants deadlines</td></tr>
<tr align="left" valign="top"> 
<td width="6%">16</td>
<td width="94%">Upcoming MLA deadlines</td></tr>
</table>
