<h1><I>MLA Newsletter</i><BR>
Winter 2006</h1>
<h2>In This Issue</h2>
<table width="95%" border="0" align="left">
<tr align="left" valign="top"> 
<td width="6%">3</td>
<td width="94%"><i><B>President's Column</B></i><BR>
<I>Marjorie Perloff</i><BR>
Teaching in the wired classroom</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">5</td>
<td width="94%"><i><B>Editor's Column</B></i><BR>
<I>Rosemary G. Feal</i><BR>
Five things to read before the start of 2007</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%"><i><B>Positions Advertised in the</i> JIL <I>Level Off in 2005-06</B></i></td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2><b>BIBLIOGRAPHY</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">12</td>
<td width="94%">How to be included in the <i>MLA International Bibliography</i></td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2><b>BOOK NEWS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">13</td>
<td width="94%">Three new MLA titles to be published</td></tr>
<tr align="left" valign="top"> 
<td width="6%">14</td>
<td width="94%">Call for contributions in Approaches
series</td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>CONVENTION</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">1</td>
<td width="94%">Philadelphia convention</td></tr>
<tr align="left" valign="top"> 
<td width="6%">8</td>
<td width="94%">Recommendations for session presiders</td></tr>
<tr align="left" valign="top"> 
<td width="6%">9</td>
<td width="94%">Timers at the 2006 convention</td></tr>
<tr align="left" valign="top"> 
<td width="6%">9</td>
<td width="94%">Accommodations and services for persons with disabilities</td></tr>
<tr align="left" valign="top"> 
<td width="6%">10</td>
<td width="94%">Forum proposals welcome</td></tr>
<tr align="left" valign="top"> 
<td width="6%">10</td>
<td width="94%">Audio- and videotaping guidelines for convention sessions</td></tr>
<tr align="left" valign="top"> 
<td width="6%">10</td>
<td width="94%">Program issue for members with visual impairments</td></tr>
<tr align="left" valign="top"> 
<td width="6%">10</td>
<td width="94%">2007 calendar of dates and deadlines for special sessions</td></tr>
<tr align="left" valign="top"> 
<td width="6%">11</td>
<td width="94%">Call for papers for 2007 convention in Chicago</td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr><tr align="left" valign="top"> 
<td colspan=2><b><i>Job Service at the Convention</i></b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">6</td>
<td width="94%">Preconvention workshops and mock job interviews</td></tr>
<tr align="left" valign="top"> 
<td width="6%">8</td>
<td width="94%">Important information about the Job Information Center</td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>GOVERNANCE</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%">Elections committee seeks candidates</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">6</td>
<td width="94%">Proposals for 2006 Delegate Assembly meeting agenda</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>MEETINGS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">13</td>
<td width="94%">2007 ADE Summer Seminars</td></tr>
<tr align="left" valign="top"> 
<td width="6%">13</td>
<td width="94%">2007 ADFL Summer Seminars</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>WEB SITE NEWS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%">Philadelphia convention sessions available online</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b><b>Other News and Announcements</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%">ADE and ADFL online job counseling</td></tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%"><i>Profession 2007</i> call for papers</td></tr>
<td width="6%">14</td>
<td width="94%">Correspondence</td></tr>
<tr align="left" valign="top"> 
<td width="6%">14</td>
<td width="94%">Classified advertisements</td></tr>
<tr align="left" valign="top"> 
<td width="6%">14</td>
<td width="94%">Ideas for <i>What's the Word?</i></td></tr>
<tr align="left" valign="top"> 
<td width="6%">15</td>
<td width="94%">Fellowships and grants deadlines</td></tr>
<tr align="left" valign="top"> 
<td width="6%">16</td>
<td width="94%">Upcoming MLA deadlines</td></tr>
</table>
