<h1><I>MLA Newsletter</i><BR>
Winter 2001</h1>
<h2>In This Issue</h2>
<table width="95%" border="0" align="left">
<tr align="left" valign="top"> 
<td width="6%">3</td>
<td width="94%"><i><B>President's Column</B></i><BR>
<I>Sylvia Molloy</i><BR>
Small comforts</td></tr>
<tr align="left" valign="top"> 
<td width="6%">4</td>
<td width="94%"><i><B>Editor's Column</B></i><BR>
<I>Phyllis Franklin</i><BR>
The MLA office: 11 September 2001</td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2><b>BIBLIOGRAPHY</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">14</td>
<td width="94%">How to be included in the <i>MLA International Bibliography</i></td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2><b>BOOK NEWS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">13</td>
<td width="94%">Four new MLA titles published</td></tr>
<tr align="left" valign="top"> 
<td width="6%">14</td>
<td width="94%">Call for contributions to book on academic
collective bargaining</td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>CONVENTION</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">1</td>
<td width="94%">Still time to preregister for the New Orleans convention</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">8</td>
<td width="94%">Accommodations and services for persons with
disabilities</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">8</td>
<td width="94%">Recommendations for session presiders </td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">
8</td><td width="94%">
Program available for members with visual impairments</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">9</td>
<td width="94%">New discussion group holds organizational
meeting</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">10</td>
<td width="94%">2002 calendar of dates and deadlines for special sessions</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">11</td>
<td width="94%">Calls for papers for 2002 convention in New
York</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b><i>Job Service at the Convention</i></b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">8</td>
<td width="94%">Preconvention workshops and mock job
interviews</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">9</td>
<td width="94%">Registration still available for annual job
clinic</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">9</td>
<td width="94%">Important information about the Job
Information Center</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>GOVERNANCE</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%">Elections committee seeks candidates</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">6</td>
<td width="94%">Proposals for the 2001 Delegate Assembly
meeting agenda</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%">Statements on unionization</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>MEETINGS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">12</td>
<td width="94%">2002 ADFL Summer Seminars</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">13</td>
<td width="94%">2002 ADE Summer Seminars</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">15</td>
<td width="94%">NEH institutes and seminars</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%"><b>MLA WEB SITE NEWS</b></td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2"><b><i>Other News and Announcements</i></b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">1</td>
<td width="94%">Mail service interruption</td></tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%">ADE and ADFL online job counseling</td></tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%">National Defense Education Act</td></tr>
<tr align="left" valign="top"> 
<td width="6%">5</td>
<td width="94%"><i>Profession 2002</i> call for papers</td></tr>
<tr align="left" valign="top"> 
<td width="6%">15</td>
<td width="94%">Classified advertisements</td></tr>
<tr align="left" valign="top"> 
<td width="6%">15</td>
<td width="94%">Fellowships and grants deadlines</td></tr>
<tr align="left" valign="top"> 
<td width="6%">16</td>
<td width="94%">Upcoming MLA deadlines</td></tr></table>
