<h1><I>MLA Newsletter</i><BR>
Winter 2003</h1>
<h2>In This Issue</h2>
<table width="95%" border="0" align="left">
<tr align="left" valign="top"> 
<td width="6%">3</td>
<td width="94%"><i><B>President's Column</B></i><BR>
<I>Mary Louise Pratt</i><BR>
The archive and the aquifer</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">5</td>
<td width="94%"><i><B>Editor's Column</B></i><BR>
<I>Rosemary G. Feal</i><BR>
Hypotext: Slow writing for a digital world</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<tr align="left" valign="top"> 
<td colspan=2><b>BIBLIOGRAPHY</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">13</td>
<td width="94%">How to be included in the <i>MLA International Bibliography</i></td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2><b>BOOK NEWS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">14</td>
<td width="94%">Three new MLA titles published</td></tr>
<tr align="left" valign="top"> 
<td width="6%">14</td>
<td width="94%">Call for contributions in Approaches series</td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>CONVENTION</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">1</td>
<td width="94%">San Diego convention</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%">Audio- and videotaping guidelines for
convention sessions</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%">Recommendations for session presiders</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">8</td>
<td width="94%">Accommodations and services for persons
with disabilities</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">9</td>
<td width="94%">New discussion group holds
organizational meeting</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">9</td>
<td width="94%">Program issue for members with visual
impairments</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">9</td>
<td width="94%">Forum proposals welcome</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">9</td>
<td width="94%">2004 calendar of dates and deadlines for
special sessions</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">10</td>
<td width="94%">Calls for papers for 2004 convention in
Philadelphia</td>
</tr>
<td colspan="2"><b>Job Service at the Convention</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%">Preconvention workshops and mock
job interviews</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%">Registration still available for annual job clinic</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">8</td>
<td width="94%">Important information about the Job
Information Center</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>GOVERNANCE</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%">Elections committee seeks candidates</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">4</td>
<td width="94%">Proposals for 2003 Delegate Assembly
meeting agenda</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">6</td>
<td width="94%">Executive Council meeting highlights</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>GRANTS AND PRIZES</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">12</td>
<td width="94%">Elvira Garc&#237;a receives ADFL Award for
Distinguished Service to the Profession</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">13</td>
<td width="94%">Mary A. Burgan to receive the ADE Frances
Andrew March Award</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>MEETINGS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">13</td>
<td width="94%">2004 ADE Summer Seminars</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">13</td>
<td width="94%">2004 ADFL Summer Seminars</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>WEB SITE NEWS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">1</td>
<td width="94%">MLA member search</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%">San Diego convention sessions
available online</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>Other News and Announcements</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%"><i>Profession 2004</i> call for papers</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%">MLA recommendations on salaries</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%">ADE and ADFL online job counseling</td></tr>
<tr align="left" valign="top"> 
<td width="6%">12</td>
<td width="94%">Request from the Committee on
Disability Issues in the Profession</td></tr>
<tr align="left" valign="top"> 
<td width="6%">14</td>
<td width="94%">Ideas for <i>What's the Word?</i></td></tr>
<tr align="left" valign="top"> 
<td width="6%">14</td>
<td width="94%">Statement of Ownership</td></tr>
<tr align="left" valign="top"> 
<td width="6%">15</td>
<td width="94%">NHA-Announce provides information on
the humanities</td></tr>
<tr align="left" valign="top"> 
<td width="6%">15</td>
<td width="94%">Classified advertisements</td></tr>
<tr align="left" valign="top"> 
<td width="6%">15</td>
<td width="94%">Fellowships and grants deadlines</td></tr>
<tr align="left" valign="top"> 
<td width="6%">16</td>
<td width="94%">Upcoming MLA deadlines</td></tr>


</table>
