<h1><I>MLA Newsletter</i><BR>
Winter 2007</h1>
<h2>In This Issue</h2>
<table width="95%" border="0" align="left">
<tr align="left" valign="top"> 
<td width="6%">1</td>
<td width="94%"><i><B>MLA Releases Fall 2006 Language Enrollment Survey Results</B></i></td></tr>
<tr align="left" valign="top"> 
<td width="6%">3</td>
<td width="94%"><i><B>President's Column</B></i><BR>
<I>Michael Holquist</i><BR>
The humanities at work in the world</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">4</td>
<td width="94%"><i><B>Editor's Column</B></i><BR>
<I>Rosemary G. Feal</i><BR>
Three, two, one, launch: The new convention
approaches</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2><b>BIBLIOGRAPHY</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">14</td>
<td width="94%">How to be included in the <i>MLA International Bibliography</i></td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2><b>BOOK NEWS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">12</td>
<td width="94%">Call for contributions to Approaches
series</td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>CONVENTION</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%">Members invited to comment on proposed changes to the convention structure</td></tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%">Annual meeting in Chicago</td></tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%">Workshop for new and aspiring journal editors</td></tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%">Convention to focus on the humanities at work in the world</td></tr>
<tr align="left" valign="top"> 
<td width="6%">7</td>
<td width="94%">Audio- and videotaping guidelines for sessions</td></tr>
<tr align="left" valign="top"> 
<td width="6%">8</td>
<td width="94%">Accommodations and services for persons with disabilities</td></tr>
<tr align="left" valign="top"> 
<td width="6%">8</td>
<td width="94%">Recommendations for session
presiders</td></tr>
<tr align="left" valign="top"> 
<td width="6%">8</td>
<td width="94%">Program issue for members with visual impairments</td></tr>
<tr align="left" valign="top"> 
<td width="6%">10</td>
<td width="94%">2008 calendar of dates and deadlines for special sessions</td></tr>
<tr align="left" valign="top"> 
<td width="6%">10</td>
<td width="94%">Submit calls for papers online</td></tr>
<tr align="left" valign="top"> 
<td width="6%">10</td>
<td width="94%">Forum proposals welcome</td></tr>
<tr align="left" valign="top"> 
<td width="6%">11</td>
<td width="94%">Calls for papers for 2008 convention in San Francisco</td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr><tr align="left" valign="top"> 
<td colspan=2><b><i>Job Service at the Convention</i></b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">8</td>
<td width="94%">Preconvention workshops and mock job interviews</td></tr>
<tr align="left" valign="top"> 
<td width="6%">9</td>
<td width="94%">Important information about the Job Information Center</td></tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>GOVERNANCE</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%">Elections committee seeks candidates</td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">6</td>
<td width="94%">Proposals for the 2007 Delegate Assembly meeting agenda</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>MEETINGS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">12</td>
<td width="94%">2008 ADFL Summer Seminars</td></tr>
<tr align="left" valign="top"> 
<td width="6%">13</td>
<td width="94%">2008 ADE Summer Seminars</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b>WEB SITE NEWS</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%">List of Chicago convention sessions available online</td>
</tr>
<tr align="left" valign="top"> 
<td colspan=2>&nbsp;</td>
</tr>
<tr align="left" valign="top"> 
<td colspan="2">
<b><b>Other News and Announcements</b></td>
</tr>
<tr align="left" valign="top"> 
<td width="6%">2</td>
<td width="94%">New benefit for MLA members: Direct access to the <i>Job Information List</i></td></tr>
<tr align="left" valign="top"> 
<td width="6%">13</td>
<td width="94%"><i>Profession 2008</i> call for papers</td></tr>
<td width="6%">13</td>
<td width="94%">ADE and ADFL online job
counseling</td></tr>
<tr align="left" valign="top"> 
<td width="6%">14</td>
<td width="94%">Ideas for <i>What's the Word?</i></td></tr>
<tr align="left" valign="top"> 
<td width="6%">14</td>
<td width="94%">Classified advertisements</td></tr>
<tr align="left" valign="top"> 
<td width="6%">15</td>
<td width="94%">Fellowships and grants deadlines</td></tr>
<tr align="left" valign="top"> 
<td width="6%">16</td>
<td width="94%">Upcoming MLA deadlines</td></tr>
</table>
