<h1>Reading as a Teacher: A Workshop for Teachers of Literature</h1>
<b>275. Reading as a Teacher: A Workshop for Teachers of Literature</b>
<i>3:30–4:45 p.m. Liberty Ballroom Salon C, Philadelphia Marriott</i>

This session will use a workshop format to explore a pragmatic question in literature pedagogy: Does reading to teach a work of literature call for forms of attention that are distinctive—ways of thinking and observing that differ from those characteristic of how we read as scholars or as readers generally? 

The workshop organizers have selected Elizabeth Bishop’s poem “The Moose” for discussion. Before the workshop, participants are asked to read the poem as if they are preparing to teach it in either a lower-division undergraduate literature course taken chiefly by nonmajors or an upper-division course in twentieth-century American poetry taken mainly by English majors.  The poem is available online at the Web site of <a href="http://www.poetryfoundation.org/archive/poem.html?id=177904" target="_blank">The Poetry Foundation</a>. If you do not know the poem already, you may want to keep notes about your internal dialogues, processes, and strategies as you get acquainted with it. 

The room will be set in round tables. After introductory remarks from the session organizers (about fifteen minutes), we will divide into small discussion groups of up to eight people. Participants will join either a table discussing the poem for the lower-division course or a table discussing it for the upper-division course. The following questions are offered as starting points for discussion. (The organizers have planned to give thirty minutes to the discussion groups.)

<ul><li>What problems and possibilities for teaching and learning does Bishop’s “The Moose” offer? What challenges or difficulties follow from this poem’s way of doing what it does, whether for a student attempting to read it or for a teacher attempting to guide or enable students’ reading? </li>
	<li>What would you predict as the response of most first-time student readers to “The Moose”? Where in the text would you predict students are most likely to stumble? How might these problem spots be turned into opportunities for learning? </li>
	<li>Thinking collectively, can we describe this poem’s organization and properties in ways that might be enabling for reading but that deliberately hold off from performing or committing an interpretation or reading?</li>
	<li>What background information (historical, geographical, cultural, biographical) might readers need to help them enter the game this poem plays (if that metaphor is allowable)? Are there aspects of this poem necessary to understanding that cannot be conveyed as information but that readers must somehow gather imaginatively, whether from a habitual sense of the world and its possibilities or of poetry and its possibilities? Are there intertexts (other poems) that inform (perhaps tacitly or unconsciously) our ability to read “The Moose”?</li>
	<li>How would you see this poem fitting into the course-long program of challenging, assisting, and educating student readers of texts? What do you understand to be its educational salience for undergraduates, either majors or nonmajors? </li></ul>
The final thirty minutes of the workshop will be devoted to full-group discussion. If the number of tables permits, each table will be given a few minutes to report on its discussion. If the size of the group necessitates, the organizers will invite general discussion of each of the five points listed above, plus other topics that tables may have identified. Participants are asked to observe one rule: comments should not offer readings or interpretations of the poem. The focus instead is to be on the problems and possibilities that “The Moose” offers for teaching and learning.

