<h1>History and Mission</h1>
<H2>History</H2>
During 1969, responding to a resolution passed at the previous year's Business Meeting, the president of the MLA, Henry Nash Smith, appointed a seven-member Commission on the Place of Women in the Profession, with Florence Howe as chair. The commission's name was changed in 1970 to the Commission on the Status of Women in the Profession, and in 1990 the Executive Council made the group a standing committee of the MLA. Among its earliest activities, the CSWP undertook a sample survey of graduate and undergraduate language departments in 1970, surveyed PhD-granting English and foreign language departments in 1971, and analyzed data on 5,500 modern language faculty members collected by the American Council on Education in 1972-73. All three studies served as a basis for guidelines designed to improve women's status in the modern languages.
Once the early information-gathering activities were under way, the CSWP focused on improving women's status in the MLA. Its activities included efforts to increase the representation of women on MLA committees and governing bodies, efforts in the Delegate Assembly on behalf of issues important to women (e.g., anonymous review of manuscripts submitted to <I>PMLA</I>, changing the dates of the annual convention to a more family-friendly time), and multiple programming activities at the annual convention. The CSWP also undertook projects and publications addressing the treatment of women in academia (see the lists of recent and ongoing projects and of publications, below). <I>Antifeminism in the Academy</I>, for example, offers a much-needed response to the backlash against feminism and feminists within the academy and suggests possible responses, actions, and remedies (Clark, Garner, Higonnet, and Katrak).

<H2>Committee Charge</H2>
The committee strives to act as an advocate for women's interests and as a catalyst for promoting the status of women in the profession.  The committee will
<ul>
<LI> gather and review information about the status of women in the profession, giving special attention to the conditions of employment and to issues such as race, ethnicity, sexuality, class, and age.
<LI> propose strategies and policies to encourage the participation and advancement of women at all levels in the fields of languages and literatures.
<LI> make available to the profession the results of the committee's studies.
<LI> support the MLA's efforts to represent fully women and women's interests, in all its policies and activities, including committee appointments, programs, and publications.
<LI> prepare or sponsor publications relevant to the status of women in the profession.
<LI> organize programs for the MLA annual convention.
<LI> promote the study and teaching of women's literature.
</UL>

<H2>CSWP Members</H2>
The CSWP began with seven members, composed of a representative from each of the three commonly taught foreign languages and four members from English. In the intervening years, the CSWP has grown to nine members from English and foreign languages. In addition to area of specialization, committee appointments are based on the following criteria: geographic representation, sexual orientation, and interest in topics of concern to the committee. Over the last ten years, the CSWP has paid particular attention to creating and maintaining racial and ethnic diversity among committee members.

Each year, three new members are appointed for three-year terms. At the end of their first year, one of the members is chosen to cochair the committee in her second year, and she becomes chair in her final year. The current members of the CSWP are listed each year in the September issue of <I>PMLA</I>. The committee meets twice annually, in March and October.

The CSWP is interested in your comments, questions, and concerns. Please write us at <a href="mailto:cswp@mla.org">cswp@mla.org</a>.
