<hgroup>
<h1>Your MLA Convention</h1>
<h2>Resources for and from Attendees</h2>
</hgroup>
<p>
MLA members and others have created these recommendations and resources for the 2013 MLA Annual Convention in Boston. We encourage you to comment on these links and to suggest your own by using the comment feature at the bottom of this page. Please note that the MLA reserves the right not to include submitted links and is not responsible for the content on the linked pages. For up-to-date information on session participants, times, and locations, please refer to the <a href="http://www.mla.org/program">Program</a>.
</p>

<h3>Lists of Sessions</h3>
<ul class="program_entry_list">
<li>
	<a href="/meetings_of_interest">Convention Meetings of Interest to Job Candidates and Interviewers</a> (MLA Office of Research)
</li>
<li>
	<a href="http://www.samplereality.com/2012/10/17/digital-humanities-at-mla-2013/" target="_blank">Digital Humanities at MLA 2013</a>  (Mark Sample)
</li>
<li>
	<a href="/disability_studies_13">Disability Studies Sessions and Papers at the 2013 MLA Convention</a> (CDIP)
</li>
<li>
	<a href="http://sarahwerner.net/blog/index.php/mla-2013-book-history-sessions/" target="_blank">MLA 2013 Book History Sessions</a>  (Sarah Werner)
</li>
<li>
	<a href="http://romanticism.commons.gc.cuny.edu/2012/10/17/romantics-at-the-2013-mla-convention/" target="_blank">Romantics at the 2013 MLA Convention</a> (CUNY Romanticism Group)
</li>
<li>
<a href="http://www.academia.edu/2057561/MLA_2013_Conference_Sessions_and_Cash_Bar_in_Honor_of_Eugene_A._Vance/" target=_blank">Sessions in Honor of Eugene Vance</a> (Geraldine Heng)
</li>

<li>
	<a href="/mlagrads13">2013 MLA Convention Sessions of Interest to Graduate Student Members</a> (CSGSP)
</li>
</ul>	

<h3>Blog Posts and Other Materials for Specific Sessions</h3>
<ul class="program_entry_list">
<li>Digital Pedagogy: An Unconference Workshop (<a href="/program_details?prog_id=2&year=2013">#S2</a>)
	<ul>
		<li class="program_subentry">
			<a href="http://www.briancroxall.net/digitalpedagogy/" target="_blank">“A Digital Pedagogy Unconference”</a> (Brian Croxall)
		</li>
		<li class="program_subentry">
			<a href="http://www.briancroxall.net/2012/09/10/why-the-2013-mla-digital-pedagogy-unconference-isnt-a-thatcamp/" target="_blank">“Why the 2013 MLA Digital Pedagogy Unconference Isn’t a THATCamp”</a> (Brian Croxall)
		</li>

		<li class="program_subentry">
			<a href="http://www.adelinekoh.org/blog/2012/05/16/a-digital-pedagogy-unconference-at-mla13-join-us/" target="_blank">“A Digital Pedagogy Unconference at #MLA13: Join Us!”</a> (Adeline Koh)
		</li>
	</ul>
</li>
<li>Contemporary Novels and the Twenty-First-Century Media Ecology (<a href="/program_details?prog_id=39&year=2013">#S39</a>)
	<ul>
		<li class="program_subentry">
			<a href="http://paulbenzon.com/?page_id=79" target="_blank">“From Text to Work: Douglas Coupland’s Digital Interruptions and the Labor of Form”</a> (Brian Croxall)
		</li>
	</ul>	
</li>
<li>Reading the Invisible and Unwanted in Old and New Media (<a href="/program_details?prog_id=133&year=2013">#S133</a>)
	<ul>
		<li class="program_subentry">
			<a href="http://loriemerson.net/2012/05/15/mla-2013-special-session-reading-the-invisible-and-unwanted-in-old-new-media/" target="_blank">“MLA 2013 Special Session: Reading the Invisible and Unwanted in Old & New Media”</a> (Lori Emerson)
		</li>
	</ul>	
</li>
<li>Representing Race: Silence in the Digital Humanities (<a href="/program_details?prog_id=239&year=2013">#S239</a>)
	<ul>
		<li class="program_subentry">
			<a href="http://www.adelinekoh.org/blog/2012/04/02/racend/" target="_blank">“An MLA13 Proposal: Representing Race: Silence in the Digital Humanities”</a> (Adeline Koh)
		</li>
	</ul>
</li>Accessing Race in the Digital Humanities: An E-roundtable (<a href="/program_details?prog_id=584&year=2013">#S584</a>)
	<ul>
		<li class="program_subentry">
			<a href="http://www.youtube.com/watch?v=Be8HSWAJrlM" target="_blank">“Composing the Body via YouTube”</a> (Jennifer Sano-Franchini)
		</li>
	</ul>
</li>
</ul>
[[[comment]]]
<h3>Other Resources</h3>
(tk—restaurant lists, etc.)
[[[endcomment]]]
