<hgroup>
<h1>Your 2012 MLA Convention</h1>
<h2>Resources for and from Attendees</h2>
</hgroup>

<p>MLA members and others have created these recommendations and resources for the 2012 MLA Annual Convention in Seattle. We encourage you to comment on these links and to suggest your own by using the comment feature at the bottom of this page. Please note that the MLA reserves the right not to include submitted links and is not responsible for the content on the linked pages.</p>

<p><a href="/seattle_restaurants">Hungry in Seattle: An MLA Member’s Guide to Local Food</a>
<br><br>
<a href="/csgsp_sessions_2012">2012 MLA Convention Sessions of Interest to Graduate Student Members</a>
<br><br>
<a href="/meetings_of_interest">Convention Meetings of Interest to Job Candidates and Interviewers</a>
<br><br>
<a href="http://bit.ly/t0QU6Y">Map</a> of Artists Featured in the <a href="http://dtc-wsuv.org/mla2012/index.html">Electronic Literature Exhibit</a>
<br><br>
<a href="http://www.samplereality.com/2011/10/04/digital-humanities-sessions-at-the-2012-mla-conference-in-seattle/">Digital Humanities Sessions</a>
<br><br>
<a href="http://sarahwerner.net/blog/index.php/mla-2012-book-history-sessions/">Book History Sessions</a>
</p>
