<div id="bulletin-issues-list">
    {% for decade_year, item_list in items %}
    <div class="bulletin-issues-group" data-bulletin-accordion=".bulletin-issue-container">
        <h2>{{ decade_year }}&ndash;{{ decade_year + 10 }} Issues</h2>
        <div class="bulletin-issue-container">
            {% for item in item_list %}
            <div class="bulletin-issue" data-bulletin-accordion=".article-list" data-bulletin-accordion-request="/bulletin/articles/{{ item.location_id }}">
                <h3><a class="bulletin-accordion-ignore" href="{{ item.link }}">{{ item.name|bulletin_header() }}</a></h3>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
