{% extends pagedata.layout %}

{% block page_title %}Bulletin Search{% endblock %}

{% block content %}
    {% embed ( pagedata.is_primary_siteaccess ? "ProjectSiteBundle:layouts:two_column.html.twig" : "ProjectSiteBundle:layouts/microsite:two_column.html.twig" ) %}

        {% block main_content_area %}

        <h1 id="pagetitle">Bulletin Search</h1>
        <form id="search-form" method="get" action="/bulletin/search" role="form">
            <div class="form-group">
                <label for="search-query">Search Text</label>
                <div class="input-group">
                    <input id="search-query" class="form-control" name="query" type="text" placeholder="SEARCH" />
                    <span class="input-group-btn"><button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button></span>
                </div>
            </div>

            <div class="form-group">
                <div class="radio-inline">
                    <label><input type="radio" name="type" value="text" checked="checked" />Search article titles/text</label>
                </div>
                <div class="radio-inline">
                    <label><input type="radio" name="type" value="author" />Search authors</label>
                </div>
            </div>

            <div class="form-group row">

                {% for category_name, category_group in tags %}
                <div class="col col-xs-12 col-sm-4 col-md-3">
                    <h3>{{ category_name }}</h3>
                    {% for tag in category_group %}
                    <div class="checkbox">
                        <label><input type="checkbox" name="category[]" value="{{ tag.keyword }}" />{{ tag.keyword }}</label>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}

            </div>
        </form>

        <div id="search-results"></div>

        {% endblock %}

    {% endembed %}
{% endblock %}