<div id="current-bulletin-issue">
    {% if result.content is defined and result.content and not ez_is_field_empty(result.content, "cover_image_ml") %}
        {% set ml_image = result.content.fields.cover_image_ml['eng-US'].destinationContentId|objectfetch() %}
        {% set image_alias = ez_image_alias( ml_image.getField("image"), ml_image.versionInfo, 'current_bulletin') %}
        {% if image_alias.uri is defined and image_alias.uri %}
            <a href="{{ result.link }}"><img src="{{ asset(image_alias.uri) }}" width="{{ image_alias.width }}" height="{{ image_alias.height }}" /></a>
        {% endif %}
    {% endif %}
</div>