{% if items %}
<div class="tree">
<ul>
{% for decade_year, years in items %}
    <li><span>{{ decade_year }}&ndash;{{ decade_year + 10 }}</span>
    {% if years %}
    <ul>
        {% for year, item_list in years %}
        <li><span>{{ year }}&ndash;{{ year + 1 }}</span>
            {% if item_list %}
            <ul>
                {% for file in item_list %}
                <li class="jilpdf"><a href="{{ file.link }}">{{ file.name|wrap_string('Job Information List', '<i>Job Information List</i>') }}<span><img alt="" src="/bundles/projectsite/images/mimetypes/pdf.png" /></span></a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    </li>
{% endfor %}
</ul>
</div>
{% endif %}
