<blockquote>{{ content|raw() }}{% if author is defined and author != '' %}<span class="quote-caption pull-right">&mdash;{{ author|slice(0, 1) == "—" ? author|slice(1)|simple_text_format : author|simple_text_format }}</span>{% endif %}</blockquote>