<div class="readmore readmore-{{ style }}">
    <a class="read-more-link" href="#">{{ read_more_text ? read_more_text|simple_text_format : "Read more" }}</a>
    <div class="read-more-content">
        <div class="read-more-inner-content">
            {{ content|raw }}
            <a class="read-less-link" href="#">{{ read_less_text ? read_less_text|simple_text_format : "Close" }}</a>
        </div>
    </div>
</div>