{% set root = source|split('eznode://') %}
<div class="spacer"></div>
<div class="search-customtag">
    <h4>{{ title|simple_text_format }}</h4>
    <form role="search" method="GET" action="/search/section/{{ root[1] }}/">
        <div class="input-group">
            <input type="text" placeholder="Enter Search Terms" name="query" class="searchtext form-control">
            <span class="input-group-addon blue-btn submit">
                <button type="submit" id="search_submit" name="search[submit]" class="icon-search"> </button>
            </span>
        </div>
    </form>
</div>
<div class="spacer"></div>